


@{ViewBag.Title = "TfL announces beat the heat plan for summer 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces beat the heat plan for summer 2012</h1>
        <div class="content-page-press-release">
        25 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Air-conditioned trains now running on the Metropolitan line.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We know there is still much to do and cooling the other deeper lines of the Tube remains a considerable engineering challenge."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">London Underground's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We know there is still much to do and cooling the other deeper lines of the Tube remains a considerable engineering challenge.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Station cooling works completed ahead of the London 2012 Games at Green Park and Oxford Circus</li></ul>
<p>The sun has finally decided to grace the Capital with its presence and with millions of passengers expected to travel on the Tube during the hot weather, Transport for London (TfL) has set out the work it continues to carry out to try and cool the Tube network. </p>
<p>Station cooling works at two of London's busiest Tube stations, Green Park and Oxford Circus, has been completed ahead of London 2012 Games with the installation of air cooling units that has reduced temperatures at platform level. </p>
<p>At Green Park borehole cooling technology has been used, whereby wells have been successfully drilled to source naturally cool water from deep below Green Park. </p>
<h2>Chiller units</h2>
<p>At Oxford Circus station where there were already air cooling units in the ticket hall, the scheme was expanded to include all platforms areas (Bakerloo, Central and Victoria lines). </p>
<p>The new units that have been installed use cool air provided by chiller units that have been installed on top of a building owned by TfL, which is adjacent to the station.</p>
<p>Along with station cooling, the Metropolitan line is now served almost exclusively by air-conditioned trains and the first of the Hammersmith &amp; City line's new trains is also now running as a 'preview' service, between Hammersmith and Moorgate, ahead of the main roll out on the rest of the line which will commence later this year.&nbsp; </p>
<p>This will then be followed by the Circle and then the District lines.&nbsp; </p>
<h2>Investing millions</h2>
<p>By 2016, 40 per cent of the Tube network will use the 191 new air-conditioned trains. </p>
<p>Mike Brown, London Underground's Managing Director, said: 'The completion of the station cooling works at both Green Park and Oxford Circus stations is great news for those travelling in central London.</p>
<p>'We are investing millions to cool temperatures for passengers through a programme that will include the delivery of new air-conditioned trains, which are now serving the Metropolitan line. </p>
<p>'We know there is still much to do and cooling the other deeper lines of the Tube remains a considerable engineering challenge. </p>
<h2>Unique tunnels</h2>
<p>'However, we are making significant steps and Londoners should be assured that we are not complacent about finding solutions.'</p>
<p>The deep level Tube lines are unique to London's Tube network and not replicated on any other metro system in the world, where the tunnels only allow enough room for trains. </p>
<p>This means that on the deep-level Tubes there is very little space for air conditioning on the trains, inside or outside, for heat generated in the cooling process to escape. </p>
<p>London Underground, working with the train industry, is looking to the future and what that holds for the next generation of Tube trains, with the aim of making them lighter, so that they generate less heat and to create space so that a cooling solution could possibly be implemented.</p>
<h2>Reflect the heat</h2>
<p>On buses, over half of London's 6,100 double-deck buses have been fitted with upper deck air cooling systems. </p>
<p>TfL continues to work with the bus operating companies across the Capital to ensure the systems are working and that the heating is not left on during the hot summer period.</p>
<p>The majority of buses also have white roof panels which help to reflect the heat.</p>
<p>New buses must have insulated roof and side panels which reflect heat along with tinted side glass.&nbsp; </p>
<h2>Blue fans</h2>
<p>As with the last five years, industrial-sized blue fans are also being deployed to help cool around 30 stations across the Tube network and TfL will be providing hot weather advice to passengers. </p>
<p>Posters and announcements at stations will provide tips to passengers on how to try and stay cool. </p>
<p>Here are a few tips for keeping comfortable in hot weather: </p>
<ul>
<li>Carry water with you </li>
<li>Don't board a train or bus if you feel unwell </li>
<li>If you feel unwell please get off at the next stop and seek help from our staff&nbsp; </li>
<li>Avoid pulling the passenger alarm between stations, as help can be more easily obtained with the train in platform&nbsp;</li></ul>
<p>
<hr>

<p>
<p><strong>Additional information: </strong></p>
<ul>
<li>New trains equipped with air cooling will be delivered for the sub-surface network (Circle, District, Hammersmith &amp; City and Metropolitan lines). Now serving the&nbsp; Metropolitan line, a preview service is also now operating on the Hammersmith &amp; City, and roll out will continue later this year, followed by roll out on the Circle and then the District. All 191 trains will be out on the network by 2016 </li>
<li>Ground water cooling - the trial started at Victoria station in summer 2006 and has been successful and has improved temperatures in the mid platform area. The groundwater trial provides an environmentally friendly cooling solution for the Victoria line platforms at Victoria station and uses groundwater which is already pumped out of the station. Across the Tube network, LU pumps out 30 million litres of water each day. </li>
<li>Ventilation shafts - Work to double the capacity of the fans at all the main ventilations shafts serving the Victoria line&nbsp; were completed last year, a total of 13 </li>
<li>The Victoria line train fleet has been replaced which will enable LU to operate the environmentally friendly regenerative braking system, which returns power to the rails while the train is braking. That will reduce the amount of heat that is generated and should therefore reduce the temperature in the tunnel </li>
<li>Coupled with the new trains ventilation system, which will circulate cool air from ground level in the tunnel and distribute it into the carriage at head height, this will mean more comfortable journeys for customers during the hot summer months </li>
<li>Out of service fans - London Underground is working to re-condition and upgrade the existing station ventilation fan network. 83 ventilation fans have now been restored, more than doubling the capacity of the fan network </li>
<li>Portable fans - In 2008 fans were installed within tickets and concourse areas, to increase air circulation at a number of stations </li>
<li>Mechanical Chiller units - A mechanical chiller which provides cooling to customers and staff in the ticket hall area have now been installed at Oxford Circus and Euston stations. Work to cool platform areas at Victoria, Green Park and Oxford Circus will be complete 2012-15 </li>
<li>Impulse fans - LU has installed high speed ceiling mounted impulse fans on Bakerloo line platforms at Marylebone and Lambeth North stations </li>
<li>The Tube is the oldest metro system in the world. Its basic tunnel infrastructure has changed little since it was constructed 149 years ago. The tunnels were designed and built with only enough room for trains. This means, on the deep-level Tubes, there is very little space for air conditioning on the trains, inside or outside, where the air conditioning units would take up valuable space. Underground sections of the sub-surface lines are relatively close to the surface heat can escape from the system much more readily than from the deep-level Tubes. Nevertheless, it can still and does become hot on the sub-surface lines in summer </li>
<li>Contractor Morgan Sindall installed the eight air cooling units at Green Park and contractor Birse Metro installed the 14 air cooling units at Oxford Circus </li>
<li>London Buses: 
<ul type="circle">
<li>All new double-deck buses entering the fleet have a thermostatically controlled air cooling system fitted on the upper deck as standard </li>
<li>Upper deck air cooling systems - following successful trials of such systems London Buses has now made it compulsory for all new vehicles to be fitted with upper deck cooling systems as standard </li>
<li>Heat reflection - all new buses and buses going for repainting now have to have white-painted roof panels which reflect the heat.&nbsp; New buses must have insulated roof and side panels which reflect heat along with tinted side glass </li>
<li>Thermostatically controlled heating system - most buses have heating systems which are automatically controlled by sensors in the passenger area, rather than by the driver or the garage engineers.&nbsp; The sensors start to shut the heating down at 13 &deg;C and it will be fully shut down by the time the bus reaches 17 &deg;C</li></ul></li>
<li>London Overground: 
<ul type="circle">
<li>57 air-conditioned trains are operating on London Overground network<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Station cooling works completed ahead of the London 2012 Games at Green Park and Oxford CircusThe sun has finally decided to grace the Capital with its presence and with millions of passengers expected to travel on the Tube during the hot weather,";}
        
        


 