


@{ViewBag.Title = "TfL advice to passengers during potential industrial action by Unite";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advice to passengers during potential industrial action by Unite</h1>
        <div class="content-page-press-release">
        04 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than a third of bus services expected to operate, but many routes will be disrupted and some services will not run.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Passengers urged to use other transport services, walk or cycle where possible</li>
<li>Passengers should check before travelling at <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a></li></ul>
<p>TfL has today issued advice to passengers should strike action by members of the Unite union, which would affect bus services from early on Thursday morning through until early on Friday morning, go ahead.</p>
<p>More than a third of bus services operated during the last strike and TfL expects that to be repeated and hopes it will be bettered on Thursday. </p>
<p>However, should the strike go ahead, many routes will be disrupted and some services will not run.</p>
<p>Passengers can use a wide range of information sources to check on the status of their services. These include:</p>
<ul>
<li>Up-to-date information on bus services by route can be found at <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a> </li>
<li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices using <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a> or via our SMS text service</li>
<li>Information on the latest situation will be provided via TfL's 2500 roadside countdown signs</li>
<li>Travel alerts will be provided through Twitter on &#64;TfLTravelAlerts</li>
<li>TfL will also be providing information to radio and television broadcasts for use in news bulletins</li>
<li>A range of easily available Apps for handheld devices now use TfL's live bus information</li>
<li>TfL will also have a large number of staff across the network and at key travel hubs to provide advice to passengers.</li></ul>
<p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible. The average bus journey is around 2.2 miles so many of these journeys could be made in this way.</p>
<p>TfL has put in place a number of measures to help people get around and to manage disruption. These include:</p>
<ul>
<li>London Buses staff and volunteers from across TfL will be on the streets and at key transport hubs across London to provide travel advice and distribute walking maps</li>
<li>TfL is operating a full service across the Tube network, with extra staff on hand to assist passengers</li>
<li>Full services are also operating on the Docklands Light Railway, London Tramlink and London Overground networks with additional staff deployed to assist passengers</li>
<li>Marshalled taxi ranks will operate at a number of key rail hubs including Victoria, St Pancras, Waterloo, Liverpool Street and London Bridge</li>
<li>A full service will also be operated by London River Services, which includes River Bus services that operate high frequency services between various key piers</li>
<li>During the course of the strike bus passes will be accepted on reasonable alternative routes on Tube, DLR, and London Overground - affected passengers should seek assistance from staff at the gate lines</li>
<li>TfL has also emailed around 1.5 million registered bus users advising them of the likely disruption and urging them to check before they travel</li>
<li>Additional distribution staff will work throughout today to ensure Barclays Cycle Hire Scheme docking stations are able to meet demand at key locations<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers urged to use other transport services, walk or cycle where possiblePassengers should check before travelling at www.tfl.gov.uk/busesTfL has today issued advice to passengers should strike action by members of the Unite union, which would affect";}
        
        


 