


@{ViewBag.Title = "TfL unveils new plans to increase Tube escalator reliability";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL unveils new plans to increase Tube escalator reliability</h1>
        <div class="content-page-press-release">
        27 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the ongoing efforts to cut Tube delays by 30 per cent by 2015, Transport for London (TfL) has unveiled plans to further increase the reliability of escalators operating across the London Underground (LU) network.
        
    </div>



 <div class="on-this-page">
<p>TfL has been reviewing the efficiency of contracts for the maintenance of escalators to ensure they are operating reliably and has awarded a 30 year contract to Otis for the provision of at least 50 escalators for the Tube network. </p>
<p>The contract, awarded jointly with Crossrail Limited, also includes 57 escalators for the new Crossrail stations in central London.</p>
<p>Under this contract, Otis has committed to a 60 per cent improvement in Tube escalator reliability with incentives to increase this further and payments are linked to achieving these improvements.</p>
<p>Gareth Powell, LU's Director of Strategy and Service Development said: 'We are engaged in a massive programme to upgrade the Tube which will, with Crossrail, see transport capacity increase by more than 30 per cent over the next 10 years. </p>
<p>'During the coming years, London Underground and Crossrail will install over 100 new escalators; providing a common industry standard escalator across the Tube network will deliver improved reliability and better value for customers.</p>
<p>There are over 428 escalators across the Tube network, each escalator operates for 20 hours a day and they are intensively used so need to be built to last. </p>
<p>The cost of designing, building and maintaining a single escalator over its 40 year life is around &pound;2.5m. This contract will see up to a 57 per cent capital cost saving per standard escalator. </p>
<p>The scale of the contract, worth &pound;190 million is such that it will be one of the biggest orders ever placed in the UK for station escalators. The joint procurement will also realise significant cost savings of up to &pound;65 million over the 30 year contract that would not otherwise be achieved if separate, smaller orders had been placed. </p>
<p>Martin Rowark, Crossrail's Procurement Director, said: 'Every day millions of passengers on London's transport network are reliant on escalators to get them to and from station platforms. </p>
<p>'Crossrail will carry over 200 million passengers each year and escalators will play a crucial role in getting passengers into the massive new stations and onto trains that will whisk them across London. </p>
<p>'Crossrail and TfL have combined our buying power to secure significant cost savings as well as a standardised escalator for stations and a long-term maintenance deal.'</p>
<p>The contract covers the provision of escalators at 13 stations across the Tube network as well as for the Crossrail stations at Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street and Whitechapel. </p>
<p>Lindsay Harvey, Otis President&nbsp;(UK &amp; Central and Eastern Europe Area), said: 'Otis are honoured to have been awarded this prestigious contract and are fully committed to this important project for London. </p>
<p>'With the global Otis organisation supporting the Otis UK team we look forward to delivering a high performing and quality escalator product to serve Transport for London and the Crossrail project for the 30 year contract period and beyond.'</p>
<p>Under this contract, installation of new escalators for the Tube network is due to begin in early 2013 with work underway from 2014 at the Crossrail stations. </p>
<p>The contract is also open to the whole TfL group and could be extended further to meet any future Tube needs and that of Docklands Light Railway and London Overground.<br></p>
<p>
<hr>
</p>
            <p><strong>Notes to editors: </strong></p>
<ul>
<li>The award value of the contract is &pound;190 million</li>
<li>The component value of the Crossrail station escalators is in the region of &pound;40 million </li>
<li>The first escalator was installed on London's transport network at Earl's Court Tube station in 1911 </li>
<li>The Crossrail route will pass through 37 stations and run 118 km (73 miles) from Maidenhead and Heathrow in the west, through new twin-bore 21 km (13 miles) tunnels to Shenfield and Abbey Wood in the east </li>
<li>When Crossrail opens it will increase London's rail-based transport network capacity by 10%, supporting regeneration and cutting journey times across the city. Crossrail services are due to commence through central London in 2018 </li>
<li>Crossrail is being delivered by Crossrail Limited (CRL). CRL is a wholly owned subsidiary of Transport for London. Crossrail is jointly sponsored by the Department for Transport and Transport for London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL has been reviewing the efficiency of contracts for the maintenance of escalators to ensure they are operating reliably and has awarded a 30 year contract to Otis for the provision of at least 50 escalators for the Tube network. The contract, awarded";}
        
        


 