


@{ViewBag.Title = "TfL welcomes resolution of Unite bus workers pay dispute";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes resolution of Unite bus workers pay dispute</h1>
        <div class="content-page-press-release">
        18 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus workers will receive additional payments for working during the Games. Bus services will not be disrupted by summer strike action.
        
    </div>



 <div class="on-this-page">
<p>Transport for London has welcomed the news that Unite's membership has accepted the pay offer from bus operating companies for bus workers affected by the London 2012 Games.</p>
<p>The pay deal, which has been accepted by Unite, was reached after the Mayor secured &pound;8.3m from the Olympic Delivery Authority to give to the bus companies to help them settle the dispute. </p>
<p>TfL has also agreed to share any additional bus fare revenue generated during the Games. </p>
<p>This will be split 50:50 with bus operating companies, on the condition that it is passed on to bus staff, following the Games.</p>
<p>TfL's Managing Director of Surface Transport, Leon Daniels, said: 'We welcome the news that Unite's leadership has accepted this pay deal.&nbsp; </p>
<p>'The pay of bus workers is, and will remain, a matter between them and the private bus operating companies that employ them.&nbsp; </p>
<p>'However in this case, as the Capital prepares to celebrate the biggest festival of sport and culture it has ever seen, TfL and the Mayor sought to bring Unite and the bus companies together and we are pleased that they have now resolved this dispute.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London has welcomed the news that Unite's membership has accepted the pay offer from bus operating companies for bus workers affected by the London 2012 Games.The pay deal, which has been accepted by Unite, was reached after the Mayor";}
        
        


 