


@{ViewBag.Title = "TfL announces range of innovative measures and new proposed Action Plan to further improve road safety across London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces range of innovative measures and new proposed Action Plan to further improve road safety across London</h1>
        <div class="content-page-press-release">
        23 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Major programme to replace and upgrade safety cameras across London gets under way.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have met national road safety targets years ahead of schedule, but there are significant challenges ahead
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Consultation on new Road Safety Action Plan begins this week which sets a new target of a 40 per cent reduction in the number of people killed and seriously injured (KSIs) on London's roads by 2020 </li>
<li>Creation of Road Safety Reference Board with key stakeholders will help develop and deliver Plan</li></ul>
<p>The Mayor and Transport for London (TfL) have released a draft Road Safety Action Plan for the Capital that will cover the next eight years and outlines 70 proposed measures to improve the Capital's roads. </p>
<p>The Plan sets a target of a 40 per cent reduction in KSIs on London's roads by 2020.</p>
<p>Casualties and collisions in London fell significantly in London over the past decade, with the number of KSIs on the Capital's roads halving during this period. </p>
<p>During 2011, the total number of KSIs in London was the lowest since records began in the eighties, testament to the hard work and investment delivered during the previous decade. </p>
<h2>A key priority</h2>
<p>However road safety continues to be a key priority for the Mayor and TfL, both to continue overall trends and to tackle ongoing specific areas where further action is needed including for example cycling, pedestrian casualties, and slight casualties.</p>
<p>A consultation on the new draft Road Safety Action Plan begins today and views are sought from stakeholders and members of the public. </p>
<p>The new plan sets out the priority areas for action to deliver a 40 per cent reduction in the number of KSIs on the Capital's streets by 2020.&nbsp; </p>
<p>Achieving this challenging target will mean that by 2020 there will be about 1,500 fewer KSIs a year on London's roads.</p>
<p>The draft plan includes 70 actions for TfL and its partners to help reduce the number of casualties across London. </p>
<p>TfL has already begun to implement a number of these actions, including a review of around 500 junctions across London, working to extend its Fleet Operator Recognition Scheme to increase freight operators' awareness of road safety issues, and campaigning at a government and European-level for safety features to be installed on freight vehicles. </p>
<h2>Londoners' safety</h2>
<p>Other actions set out in the Plan include:</p>
<ul>
<li>Increasing investment in the road network, including through the delivery of the cycling junction review, to deliver safety improvements </li>
<li>Carrying out a detailed and urgent programme of analysis into specific areas of concern, in particular slight casualties, resulting in targeted safety action plans for user groups such as pedestrians, cyclists and motorbike users </li>
<li>Working with London's police forces to ensure that the Capital's safety camera operations focus on reducing reoffending </li>
<li>Lobbying for improvements to the Compulsory Basic Training (CBT) and the motorcycle licence test by working with the Driving Standards Agency </li>
<li>Working with London's health authorities and local authorities responsible for public health to improve the sharing of information and create a greater understanding of injuries associated with collisions </li>
<li>Lobbying the UK and European Commission for all new tippers and skip lorries to be fitted with side guards and audible devices and amend EC directives to ensure that it includes retrofitting of Class VI front mirrors on vehicles weighing more than 7.5 tonnes </li>
<li>Lobbying for changes in the guidelines regarding death or injury through dangerous or careless driving, and how they are used by the courts for sentencing offenders</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'The safety of Londoners is an absolute priority for me. </p>
<p>'We have met national road safety targets years ahead of schedule, but there are significant challenges ahead as our population increases and demands on the road network increase. </p>
<p>'We have put together a plan that seeks to meet those challenges; but also reflects my desire to improve both the way that our roads function in terms of moving people and goods, as well as ensuring our roads can enrich the fabric of our city.'</p>
<h2>Continuing action</h2>
<p>As part of continuing action and investment to reduce casualties further, TfL has also begun a new programme to replace all older 'wet film' safety cameras with modern and more efficient digital safety cameras. </p>
<p>Many of the existing camera units are reaching the end of their operational life and therefore need to be replaced to allow for effective enforcement to continue. </p>
<p>As the Department for Transport (DfT) have now stopped funding safety camera schemes across the UK, TfL will be funding the upgrades of these cameras to ensure that London continues to lead the way in innovative enforcement measures.</p>
<p>Work is under way to enable this technology upgrade to take place and ensure that London continues to have an effective safety camera network that will enforce against speeding drivers and red light 'jumping', protecting pedestrians and other road users from injury and death.&nbsp; </p>
<p>Upgrading London's safety camera equipment with the latest technology available will also enable London's police forces to further develop how they effectively enforce safety cameras, and further minimise the risk to all road users on London's roads.</p>
<h2>Road Safety Reference Board </h2>
<p>A senior level Road Safety Reference Board for London will also be established for the first time and include representatives from London boroughs, the Metropolitan Police, key road safety groups, and TfL. </p>
<p>The board will input into the development and implementation of road safety policies and help oversee continuous improvements in road safety in London.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'TfL and the boroughs have invested millions of pounds and hours of tireless commitment to help reduce the number of people killed and seriously injured during the last decade.</p>
<p>'By consulting on our new Road Safety Action Plan, we can ensure that the concerns of all road users are considered, helping us to drive forward further casualty reductions across London.&nbsp; </p>
<p>'I urge all stakeholder groups and Londoners with an interest in this area to respond to the consultation and give us their ideas for what more we could do in this area.'</p>
<p>Find out more&nbsp;about the <a href="https://consultations.tfl.gov.uk/roads/road-safety-plan ">Road Safety Action Plan consultation</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For more information about TfL's work to improve road safety across London, visit <a href="http://www.tfl.gov.uk/roadsafety">tfl.gov.uk/roadsafety</a> </li>
<li>The new Road Safety Action Plan will pay particular attention to the types of travel and traveller who are over-represented in the casualty figures, in order to focus TfL's actions
<ul>
<li>Walking accounted for 21 per cent of daily journeys, but 35 per cent of KSI casualties in London in 2011 </li></ul></li>
<li>
<ul>
<li>Powered two-wheelers accounted for one per cent of daily journeys, but 21 per cent of KSI casualties in London in 2011 </li>
<li>Pedal cycles accounted for two per cent of daily journeys, but 20 per cent of KSI casualties in London in 2011</li></ul></li>
<li>In May 2011, the DfT announced a new <a href="http://www.dft.gov.uk/publications/strategic-framework-for-road-safety/ ">national baseline for analysing road safety statistics</a>&nbsp;as part of the DfT's Strategic Framework for Road Safety, based on the average casualty figures from 2005 to 2009</li>
<li>Despite the increase in serious cycling casualties during 2011 in London, this should be seen in the context of the considerable increase in cycling over a number of years, resulting from encouragement of cycling as a sustainable mode of travel. Cycling on London's major roads, the Transport for London Road Network (TLRN), increased by 173 per cent between 2000/01 and 2011/12, and by&nbsp;nine per cent during 2011/12 alone</li>
<li>Slight injuries are incidents which are recorded by the Metropolitan Police but do not require hospital admittance </li>
<li>TfL is continuing to identify trends in slight casualties across London to see what more can be done to reduce these. Analysis of the 2010 casualty figures suggest the rise could be due to factors such as increased sources of distraction (eg. mobile phones) and extreme weather. A factsheet containing further details about this analysis will be published by TfL shortly </li>
<li>TfL will continue to investigate any changes in collision numbers to ensure future action is targeted on priority audiences and areas </li>
<li>TfL has recently refreshed its <a href="http://www.fors-online.org.uk/hgvcyclesafety">Fleet Operator Recognition Scheme</a> (FORS) webpage to provide further information about the benefits of installing cycle safety technology on their fleet</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Consultation on new Road Safety Action Plan begins this week which sets a new target of a 40 per cent reduction in the number of people killed and seriously injured (KSIs) on London's roads by 2020 Creation of Road Safety Reference Board with key";}
        
        


 