


@{ViewBag.Title = "TfL urges 'don't get caught out' as it sets out plans and travel advice for Olympic Torch Relay and first days of Olympic Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL urges 'don't get caught out' as it sets out plans and travel advice for Olympic Torch Relay and first days of Olympic Games</h1>
        <div class="content-page-press-release">
        12 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Experience from other Host Cities show people often adopt 'wait and see approach' and continue to try to travel as normal in first few days of Games.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Businesses and Londoners urged not to leave their travel to chance - plan to avoid travel hotspots using tools available at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com </a></li>
<li>Public transport users now warned if their journey will be affected by travel hotspots on <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </li>
<li>New tools available include 2012 'Transport Factsheets' and 'Travel Bulletins' for each day of Olympic and Paralympic Games and animations showing route and transport impact of Olympic Torch Relay in London</li></ul>
<p>As the Capital continues its transformation into a massive sporting and cultural venue, Transport for London (TfL) today set out its travel plans and advice for the Olympic Torch Relay and for the first few days of the Olympic Games, as it urged businesses and the travelling public - 'Don't get caught out'.<br>&nbsp;<br>Experience from other Host Cities shows that people can often adopt a 'wait and see' approach over the first few days of the Games and attempt to carry on working and travelling as normal.&nbsp;</p>
<h2>Athletes start to arrive</h2>
<p>With road and public transport networks expected to be exceptionally busy, TfL advised businesses and the travelling public to plan ahead using all the tools, tips and information available at <a href="http://www.GetAheadoftheGames.com ">GetAheadoftheGames.com</a>. <br>&nbsp;<br>Although the Opening Ceremony of the Olympic Games is still two weeks away on Friday 27 July, large numbers of athletes, officials and the world's media will begin to arrive in London from this weekend (14/15 July).&nbsp;</p>
<p>This will lead to a significant increase in the number of vehicles on the roads in central London, around the Olympic Route Network (ORN) and Games venues.&nbsp;TfL repeated its advice to motorists to avoid driving in these areas from mid-July.<br>&nbsp;<br>The Olympic Torch Relay will also start its week-long journey through every one of London's 33 boroughs on Saturday 21 July. </p>
<p>Experience from around the UK shows that very large and enthusiastic crowds will welcome the Torch as it travels through the Capital.&nbsp;</p>
<p>TfL today published animated maps for each day of the Olympic Torch Relay in London, which highlight the impact on the Capital's road and public transport network.&nbsp;</p>
<p>Available at GetAheadoftheGames.com, the animated maps are designed to help businesses and Londoners understand and, if necessary, avoid the likely areas of disruption. </p>
<h2>Transport factsheets</h2>
<p>&nbsp;In addition, TfL and London 2012 today published a series of 2012 'Transport Factsheets' which provide a summary of predicted road and public transport conditions for each day of the Olympic and Paralympic Games, with detailed travel advice for both spectators and regular travellers.<br>&nbsp;<br>The detailed Factsheets are being made available to businesses, stakeholders and the media to aid their travel planning and will be updated, based on experience, on each day of the Games (see notes to editors).&nbsp;</p>
<p>A shorter, more consumer-focused version of the fact sheets - 'Daily Travel Bulletins' - designed for use by the travelling public are now available on the GetAheadoftheGames website. These will also be updated throughout the Games.<br>&nbsp;<br>Mayor of London, Boris Johnson, said: 'The Opening Ceremony is just around the corner, the Olympic flame will soon pass through every London borough, and we are poised and ready to welcome the world to our great city. So as the excitement builds, and visitors pour in, it is vital that every one of us takes the time to plan our Games-time journeys in advance, and avoid busy hotspots, by visiting GetAheadoftheGames.com.'</p>
<p>London's Transport Commissioner, Peter Hendy CBE said: 'Previous Host Cities have told us that people can underestimate the impact that the Games will have on road and public transport networks, adopting a 'wait and see' approach.&nbsp; </p>
<p>'With around one million more people in London every day of the Games, it's absolutely critical that businesses and the public don't do this. TfL's message is simple: don't get caught out, plan ahead at GetAheadoftheGames.com.'</p>
<p>TfL has already started painting the white lines and Olympic Rings that mark out the Games lanes along the ORN, although they will not be operational until 25 July.&nbsp;</p>
<p>Work to adjust the 1,300 traffic signals along the route has also begun and a ban on all planned roadworks on London's A and B roads, which started on 1 July, will run until 9 September.&nbsp;On Monday 16 July, the M4 Games Lane will be brought into operation, to assist the arrival of the athletes, officials and the world's media. </p>
<h2>Key dates</h2>
<p>&nbsp;TfL today set out the key dates and major travel impacts over the days leading up to and over the first few days of the Games, as follows:<br><strong>&nbsp;<br>From 14/15 July</strong>: With the Olympic Village opening on Monday 16 July, athletes, officials and the world's media begin to arrive in the Capital in very large numbers.</p>
<p><strong>Travel impacts and advice:</strong>&nbsp; Motorists are advised to avoid driving in central London, around the ORN and Games venues from this time.<br>&nbsp;<br><strong>16 July:</strong>&nbsp; M4 Games Lane comes into operation, to assist the arrival of the athletes, officials and the world's media.</p>
<p><strong>Travel impacts and advice:</strong>&nbsp; Motorists are advised to avoid driving in central London, around the ORN and Games venues.<br><strong>&nbsp;<br>20-23 July:</strong> The major physical preparatory works on the ORN, including installation of barriers to simplify junctions, will be carried out overnight, changing the way the road network operates in central London and along the ORN.</p>
<p><strong>Travel impacts and advice:</strong>&nbsp; Motorists are advised to avoid driving in central London, around the ORN and Games venues.<br><strong>&nbsp;<br>21-27 July:</strong> The Olympic Torch Relay visits all 33 of London boroughs (see Notes to editors).</p>
<p><strong>Travel impacts and advice:</strong>&nbsp; Motorists are advised to avoid driving in central London, around the ORN and Games venues.&nbsp;Plan ahead to avoid disruption caused by the Olympic Torch Relay - both on the roads and on public transport - using the animations at GetAheadoftheGames.com.</p>
<p><strong>25 July:</strong> Olympic Route Network starts operation, with Games lanes being enforced (in most cases) from 06:00 to 00.00.</p>
<p><strong>Travel impacts and advice:</strong>&nbsp; Motorists are advised to avoid driving in central London, around the ORN and Games venues.&nbsp; Plan ahead to avoid the travel hotspots at GetAheadoftheGames.com. </p>
<p><strong>26 July:</strong> The Olympic Torch Relay passes through central London, visiting Camden, Islington, City, Southwark, Lambeth, Kensington and Chelsea, Hammersmith and Fulham, and Westminster, culminating in a concert in Hyde Park.&nbsp;This will be an exceptionally busy day on the road network in central London and motorists are urged to avoid central London.<br><strong></strong></p>
<p><strong>Travel impacts and advice:</strong>&nbsp; Motorists are advised to avoid driving in central London, around the ORN and Games venues.&nbsp;Plan ahead to avoid disruption caused by the Olympic Torch Relay - both on the roads and on public transport - using the animations available at GetAheadoftheGames.com.<br><strong>&nbsp;<br>27 July:</strong> The Olympic Torch will travel up the River Thames to City Hall and, ultimately, to the Olympic Park for the Opening Ceremony of the London 2012 Olympic Games.&nbsp;Roads and public transport network networks in central London and, later in the day, around Stratford and the Olympic Park will be exceptionally busy.&nbsp;Plan ahead to avoid the travel hotspots.</p>
<p><strong>Travel impacts and advice:</strong> Motorists are advised to avoid driving in central London, around the ORN and Games venues.&nbsp;Westfield Stratford City will close early at 15:00 and those without a ticket to the Opening Ceremony or other event in the area are to avoid travelling to Stratford from this time.&nbsp;Plan ahead to avoid the travel hotspots both on the roads and on public transport at GetAheadoftheGames.com.<br>&nbsp;<br><strong>28/29 July:</strong> The first days of Olympic competition in London. The Men's and Women's Cycling Road Races take place meaning extensive road closures in central and south west London and Surrey this weekend.&nbsp;Very large crowds are also expected to travel to watch the events and line the streets in London and Surrey.</p>
<p><strong>Travel Impacts and advice:</strong>&nbsp;Motorists are being urged to avoid the areas around the Road Race courses, and spectators are being encouraged to 'stay local' to watch the events. Plan ahead to avoid the travel hotspots both on the roads and on public transport at GetAheadoftheGames.com.<br><strong>&nbsp;<br>30 July:</strong> The first working day of the Olympic Games - Londoners and visitors to the city are being reminded to plan ahead and avoid the travel 'hotspots', particularly London Bridge which will be a key interchange for people travelling to the equestrian events in Greenwich Park.</p>
<p><strong>Travel impacts and advice:</strong>&nbsp;With 50,000 spectators travelling to Greenwich Park for the equestrian event, London Bridge and rail networks in south east London will be exceptionally busy.&nbsp;There will be no access to trains on platforms 1-6 from London Bridge between 18:00-20:00 and should be avoided. Motorists are advised to avoid driving in central London, around the ORN and Games venues.&nbsp;Plan ahead both on the roads and on public transport to avoid the travel hotspots at GetAheadoftheGames.com.<br>&nbsp;<br>TfL will continue to provide travel information and advice in the run-up to and during the Games through a wealth of channels, including announcements on the transport network - in stations and on trains - online at GetAheadoftheGames.com and tfl.gov.uk, via digital and social media channels, through media travel bulletins and through staff and Travel Ambassadors on the ground at key stations, transport hubs and locations across London.</p>
<p><strong>
<hr>
Notes to editors:</strong> 
<p><strong>
<ul>
<li></li></ul></strong>TfL will begin issuing daily press notices from 20 July outlining the likely conditions on the road and public transport network for the following day. From 25 July, TfL will issue twice daily press notices, one each morning and afternoon 
<li>The 2012 Transport Factsheets will be updated, based on experience, throughout the Games.&nbsp;The updated Factsheet, for the following day, will then be published by TfL alongside its afternoon press notice at 14:00 each day.&nbsp;Journalists wanting to sign up to receive TfL's Games-time press notices and the latest versions of the '2012 Transport Factsheets' should email <a href="mailto:carolinepick&#64;tfl.gov.uk">carolinepick&#64;tfl.gov.uk</a> to be added to the distribution list </li>
<li>The Daily Travel Bulletins will also be updated, based on experience, throughout the Games with updated Daily Travel Bulletins for the following day being published on GAOTG at 14:00h each day </li>
<li>Up to one million extra visitors are expected in London every day during the Games. They will make an additional three million journeys, over and above the regular 12 million journeys on the public transport network every day </li>
<li>GetAheadoftheGames.com has all the tools and information that businesses, Londoners and visitors to the city need to plan for an exceptionally busy transport system during the Games and to avoid the travel 'hotspots'.&nbsp; Follow &#64;GAOTG for the latest tips and travel advice and &#64;TfLTravelAlerts and &#64;TfLTrafficNews for the latest on how public transport services and roads are operating. Find out more about TfL social media channels at <a href="http://www.tfl.gov.uk/socialmedia">www.tfl.gov.uk/socialmedia</a> </li>
<li>The Olympic Torch Relay (OTR) will visit all 33 of London's boroughs from 21 to 27 July:&nbsp;<br>-&nbsp;21 July: OTR starts in London, visiting Greenwich, Newham, Tower Hamlets, Hackney and Waltham Forest<br>-&nbsp;22 July: OTR visits Redbridge, Barking and Dagenham, Havering and Bexley<br>- 23 July: OTR visits Lewisham, Bromley, Croydon, Sutton, Merton and Wandsworth<br>-&nbsp;24 July: OTR visits Kingston, Richmond, Hounslow, Hillingdon and Ealing<br>-&nbsp;25 July: OTR visits Harrow, Brent, Barnet, Enfield and Haringey<br>-&nbsp;26 July:&nbsp;OTR passes through central London, visiting Camden, Islington, City, Southwark, Lambeth, Kensington and Chelsea, Hammersmith and Fulham, and Westminster<br>-&nbsp;27 July:&nbsp;OTR will travel up the River Thames on its way to City Hall and, ultimately, the Opening Ceremony at the Olympic Park </li>
<li>For more details about the OTR go to London2012.com/torch-relay.&nbsp; For TfL's animations showing the route and transport impacts of the OTR for each day of its route in London, go to GetAheadoftheGames.com </li>
<li>Londoners can sign up for free email alerts to help them plan their journeys at Games-time at GetAheadoftheGames.com</li>
<p><br>&nbsp;</p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Businesses and Londoners urged not to leave their travel to chance - plan to avoid travel hotspots using tools available at GetAheadoftheGames.com Public transport users now warned if their journey will be affected by travel hotspots on";}
        
        


 