


@{ViewBag.Title = "TfL offers to share any additional bus revenue from London 2012 Games with bus staff";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL offers to share any additional bus revenue from London 2012 Games with bus staff</h1>
        <div class="content-page-press-release">
        04 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over &pound;700 per employee now available to London bus workers affected by Games, before TfL's revenue share offer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The offer of additional funds from the bus operating companies and a share of any additional bus fare revenue generated during the Games means there is no justification for further strike action"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The offer of additional funds from the bus operating companies and a share of any additional bus fare revenue generated during the Games means there is no justification for further strike action
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Funds from ODA have been supplemented by bus operating companies </li>
<li>TfL says 'no justification' for further industrial action and calls on Unite to call off strike and put offer to members</li></ul>
<p>Transport for London's (TfL) Managing Director Surface Transport, Leon Daniels today wrote to the head of one of London's leading bus operating companies, John Trayner, Managing Director at Go-Ahead London, offering to share any additional bus fare revenue generated during the London 2012 Games with bus operators on the condition that they then pass it on to their employees.</p>
<p>The TfL offer would see any additional bus fare revenue split 50:50 with bus operating companies, on the condition that it is passed on to bus staff, following the Games.&nbsp;TfL offered to have the amount of additional bus fare revenue generated during the Games independently verified. </p>
<h2>Payment for every employee</h2>
<p>The TfL offer comes on top of an offer from the bus operators to supplement the &pound;8.3m from the Olympic Delivery Authority brokered by the Mayor with funds of their own.&nbsp;</p>
<p>The offer from bus operating companies means that all London bus staff affected by the London 2012 Games would earn over &pound;700, on top of their existing salaries, if they worked shifts on 24 of the 29 days of the Olympic and Paralympic Games.&nbsp;</p>
<p>Should Unite insist that the total sum available is offered to all employees at bus operators across London, then this would mean a payment of &pound;583 for every employee of every bus company.</p>
<p>Talks at the conciliation service ACAS between the bus operating companies and Unite are continuing, as it is an issue for the employers and the union to negotiate.&nbsp;</p>
<p>The offer from the bus operating companies and TfL means there is no justification for further strike action and TfL today called on Unite to call off their threatened strike action for Thursday, 5 July and put the new offer to their members. </p>
<h2>Any revenue shared</h2>
<p>TfL's Managing Director Surface Transport, Leon Daniels said:</p>
<p>'TfL does not directly employ London bus workers and this is therefore an issue for the bus operating companies and Unite to resolve through negotiation.&nbsp; However, in order to address the perception that TfL will be generating significant additional bus fare revenue from the Games, we have offered to share any additional revenue with bus staff.</p>
<p>'The offer of additional funds from the bus operating companies and a share of any additional bus fare revenue generated during the Games means there is no justification for further strike action.</p>
<p>'Should Unite insist that the total sum available is offered to all employees at bus operators across London, then this would mean a payment of &pound;583 for every employee of every bus company.&nbsp; Unite should call of their strike action planned for tomorrow and put this very fair offer to their members.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Funds from ODA have been supplemented by bus operating companies TfL says 'no justification' for further industrial action and calls on Unite to call off strike and put offer to membersTransport for London's (TfL) Managing Director Surface Transport, Leon";}
        
        


 