


@{ViewBag.Title = "Three days until the curtain comes up at Opening Ceremony: Time to plan your travel and 'Get Ahead of the Games' - Wednesday, 25 July 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Three days until the curtain comes up at Opening Ceremony: Time to plan your travel and 'Get Ahead of the Games' - Wednesday, 25 July 2012</h1>
        <div class="content-page-press-release">
        24 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and partners working to deliver a great Games, ensure everyone gets to their events on time and to keep London and the UK moving.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Olympic Torch Relay has arrived in London - Public urged 'Don't get caught out', plan ahead and 'check before you travel' to avoid the road and public transport 'hotspots' </li>
<li>Motorists will now notice that London's roads look very different </li>
<li>ORN and Games lanes in operation and enforced from Wednesday 25 July </li>
<li>For the latest Games travel and advice visit <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter </li>
<li>For the latest on how transport services are operating, check before you travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground) and &#64;TfLTrafficNews (roads)</li></ul>
<p>The Olympic Torch Relay continues its journey around London as the Capital's transformation into a massive sporting and cultural venue gathers pace.&nbsp; With just three days to go to the Opening Ceremony of the London 2012 Olympic Games, it is time to put Games-time travel plans into action.</p>
<p>Central London, the ORN, areas around venues and the Torch Relay will be exceptionally busy.&nbsp;</p>
<p>Up to one million extra visitors are expected in London every day during the Games, making an additional three million journeys over and above the usual 12 million daily journeys on public transport. </p>
<h2>Travel advice</h2>
<p><strong>TfL's key travel advice for tomorrow (Wednesday, 25 July):</strong></p>
<ul>
<li>Physical changes to the road network have been carried out to London's road network and the Olympic Route Network (ORN), including the Games Lanes, will begin operation and be enforced from Wednesday 25 July. Avoid central London, around the ORN, venues and the route of the Torch Relay </li>
<li>If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>Londoners are turning out in very large and enthusiastic crowds to welcome the Torch as it travels through the Capital </li>
<li>If you are planning to view the Torch, stay local - the Torch is passing through every London borough so try to view it when it passes through an area close to your home or work </li>
<li>On public transport, avoid stations that are on or close to the Torch Relay routes.&nbsp; These stations will be exceptionally busy up to two hours before and at least one hour after the Torch passes </li>
<li>Cultural events are taking place across London today, see <a href="http://www.molpresents.com">www.molpresents.com</a> for further information. If possible, avoid these areas if you are not attending an event </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground) or &#64;TfLTrafficNews (roads) </li>
<li>For full information on avoiding roads and public transport hotspots visit:&nbsp; <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter</li></ul>
<p><strong>Olympic Torch Relay route tomorrow (Wednesday 25 July):</strong></p>
<ul>
<li>The Olympic Torch Relay continues its week long journey through every one of London's 33 boroughs </li>
<li>On Wednesday 25 July, it will be mainly in north and north-west London, travelling from Headstone Manor/Harrow Museum (approx 09:20) to Alexandra Palace (18:50) through Harrow, Brent, Barnet, Enfield and Haringey</li></ul>
<p><strong>Spectators of the Torch Relay:</strong></p>
<ul>
<li>Do not drive to see the Torch, roads around the route are expected to be exceptionally busy </li>
<li>Find out where and when the Torch will be, visit <a href="http://www.london2012.co/torch-relay/route">www.london2012.co/torch-relay/route</a></li></ul>
<p><strong>Public Transport:</strong></p>
<ul>
<li>Avoid stations that are on or close to the Torch Relay routes.&nbsp; These stations will be exceptionally busy up to two hours before and at least one hour after the Torch passes</li></ul>
<p><strong>Roads:</strong></p>
<ul>
<li>The Torch road route is as follows: A409 (Station Road) - A4005 (Harrow Road) - A504 - A598 - AA1003 (Waterfall Road) - A105 - Fore Street - A109 (Lordship Lane) - A504 </li>
<li>Roads and stations in Wembley will be very busy during mid-morning. If you need to travel, re-time your journey to avoid the busiest times </li>
<li>The A406 North Circular is expected to be busy in the evening peak </li>
<li>Cultural events are taking place across London today, see <a href="http://www.molpresents.com">www.molpresents.com</a> for further information. If possible, avoid these areas if you are not attending an event</li></ul>
<p>Maps and animations showing the route and transport impacts for each day of the Olympic Torch Relay when in London are available at the GetAheadoftheGames.com website at the following link and by selecting the day of the Torch Relay using the slider at the top of the map: <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>This Transport for London (TfL) London 2012 Games travel bulletin provides key travel information and advice for the following day on London's public transport and roads and will be issued daily until Tuesday 24 July. From Wednesday 25 July this bulletin will be issued twice per day, at the expected times of 07:00 and 14:00 
<li>Alongside these media travel bulletins, at 1400hrs each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours </li>
<li>A number of services are available including:<br>-&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>-&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>-&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br>-&nbsp;Interviews with TfL spokespeople<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Olympic Torch Relay has arrived in London - Public urged 'Don't get caught out', plan ahead and 'check before you travel' to avoid the road and public transport 'hotspots' Motorists will now notice that London's roads look very different ORN and Games";}
        
        


 