


@{ViewBag.Title = "Tour de France cycling heroes going for Gold on London's roads during fifth day of the 2012 Olympic Games - Wednesday 1 August 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tour de France cycling heroes going for Gold on London's roads during fifth day of the 2012 Olympic Games - Wednesday 1 August 2012</h1>
        <div class="content-page-press-release">
        31 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Roads around the southwest London  will be very busy as Olympic Road Cycling Time Trials gets under way tomorrow at Hampton Court.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Sporting actions isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars and great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a></li>
<li>The Dockland's Light Railway (DLR) carried 486,000 passengers yesterday - a new record an Tube journeys up by five per cent</li>
<li>Road users, residents and spectators reminded to avoid driving around the ORN, venues and central London</li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>&nbsp; and <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li></ul>
<p>Monday saw the busiest day in the DLR's history - with 486,000 passengers - a 65 per cent increase on a normal day with Tube journeys up by&nbsp;five per cent.&nbsp; </p>
<p>More frequent services and greater flexibility in travel patterns means that so far we have been able to get spectators to events while keeping London moving.&nbsp;&nbsp;&nbsp; </p>
<p>Tomorrow's day of action packed cultural and sporting Olympic events includes the Olympic Road Cycling Time Trials in and around Hampton Court and Surrey.&nbsp; </p>
<p>Tour de France winner Bradley Wiggins will be going for gold again and both the men's and women's time trials will start and finish at Hampton Court Palace.&nbsp; </p>
<p>This will affect roads from 05:00.</p>
<p>To find out which roads will be affected and at what times, visit <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<p>Tomorrow also includes four sessions of Beach Volleyball around Horse Guards Parade and means that Central London will be busy. </p>
<p>The Jubilee line will be exceptionally busy in the early evening from 15:00 to 20:00 as events are taking place at Wembley, Lord's Cricket Ground, North Greenwich Arena, Excel and the Olympic Park.&nbsp; </p>
<p>Baker Street, Kings Cross and Green Park stations are expected to be very busy with spectators going to and from Wembley.&nbsp; </p>
<p>Where possible avoid these stations at busy times.&nbsp; </p>
<p>Other top tips for spectators attending sporting events today are as follows:</p>
<ul>
<li>Those travelling to or from Olympic Park should consider travelling via the District line at West Ham or by National Rail via Liverpool Street, as it may be quicker</li>
<li>Those attending the late night Beach Volleyball session at Horse Guards Parade should check the time of their last train home</li></ul>
<p>Events are taking place across the Capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, Lord's Cricket Ground, Wimbledon, Wembley Stadium and Wembley Arena.&nbsp; </p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Londoners are being more flexible with their journeys on public transport and we are very grateful to them for avoiding the busiest times.&nbsp; </p>
<p>'London has an enormous array of attractions to offer during the Games, so I encourage everyone to enjoy the theatres, restaurants, shops, free concerts, Live Sites and attractions and to continue to use <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> to plan your journeys.'</p>
<h2>Ticketed spectators</h2>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com">www.london2012.com</a> for your recommended arrival times and leave plenty of time to travel</li>
<li>Make sure you have the correct Games Travelcard for the day of your event</li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://www.london2012.com/journey">london2012.com/journey</a></li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue</li>
<li>For a less crowded journey to the Olympic Park use the District or Hammersmith &amp; City line to West Ham</li>
<li>Live Sites offering free concerts will once again be in operation today.&nbsp;There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Please note Marble Arch and Hyde Park station will operate as exit-only between 10:00 and 22:00 when busy</li></ul>
<h2>Travel advice for today</h2>
<ul>
<li>The Olympic Road Cycling Time trials will start and finish at Hampton Court Palace. The women's race will start at 12:30 and finish by 14:15. The men's race will start at 14:45 and finish at 16:30</li>
<li>If you are going to watch the Olympic Road Cycling Time Trials, make sure you know what the route is, so you can find the best spot to see the action</li>
<li>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and being enforced.&nbsp; Avoid driving in central London, around the ORN and venues</li>
<li>Games lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
<li>Events will be taking place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, Lord's Cricket Ground, Wimbledon, Wembley Arena, Wembley Stadium and Hampton Court Palace</li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
<li>Today's Daily Bulletins is available at <a href="http://www.getaheadofthegames.com/bulletins/31-july.html">http://www.getaheadofthegames.com/bulletins/31-july.html</a></li></ul>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:</li>
<ul>
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">tflimages.com</a></li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">tflimages.com</a></li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">tflpressgallery.co.uk</a></li>
<li>Interviews with TfL spokespeople</li></ul>
<p></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Sporting actions isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars and great West End plays and other attractions too. Check out www.london2012.com/joininThe Dockland's Light Railway";}
        
        


 