


@{ViewBag.Title = "Traffic through Kingsway Tunnel to be reversed from this weekend as part of build and preparations for the Olympic Route Network ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Traffic through Kingsway Tunnel to be reversed from this weekend as part of build and preparations for the Olympic Route Network </h1>
        <div class="content-page-press-release">
        05 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Kingsway Tunnel at Aldwych will flow southbound from 08:00 Sunday 8 July.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The reversal of the Kingsway Tunnel is vital to ensure traffic around Aldwych and The Strand keeps flowing during the Games. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>The Kingsway Tunnel is part of the Olympic Route Network and is vital in assisting movement of traffic to and from the Media Hub in Bloomsbury </li>
<li>Motorists advised not to get caught out and avoid driving in central London, around the ORN and Games venues from mid-July, when athletes, officials and media begin to arrive in large numbers </li></ul>
<p>Transport for London (TfL) will reverse the direction of traffic through the Kingsway Tunnel at Aldwych from northbound only to southbound only from this weekend to ensure that the Olympic Route Network (ORN) is ready for the Games Family, including thousands of the world's media, to arrive.</p>
<p>From 08:00 Sunday 8 July traffic will flow southbound only through this link of the ORN which will be vital for assisting movement of traffic to and from the Media Hub in Bloomsbury. </p>
<p>The temporary reversal of traffic will be removed in mid-August after the Olympic Games finish, as it is not required for the Paralympic Games. </p>
<h2>Road network changes</h2>
<p>Northbound traffic will not have access to the tunnel and from Waterloo Bridge will continue along Lancaster Place and around Aldwych on to Kingsway.</p>
<p>Around 150 Variable Message Signs (VMS) along the ORN, including on the northbound and southbound approaches to the Kingsway Tunnel, will clearly state to drivers what changes to the road network are in place.</p>
<p>A temporary speed limit of 20mph will be implemented for traffic using the tunnel during the period of reversed traffic flow. </p>
<p>The normal speed limit is 30mph. </p>
<h2>The Games Family</h2>
<p>The ORN is a requirement of the Host City contract and is vital in ensuring all athletes, officials and the world's media get to their London 2012 Games events on time. </p>
<p>The ORN covers 109 miles in London, just one per cent of the Capital's road network.</p>
<p>The Games Lanes reserved for the Games Family are in place on just 30 miles, or one third, of the ORN and always where there is a second lane for general traffic. </p>
<p>Garrett Emmerson, Transport for London's (TfL's) Chief Operating Officer, Surface Transport, said: 'The reversal of the Kingsway Tunnel is vital to ensure traffic around Aldwych and The Strand keeps flowing during the Games. </p>
<h2>Transformation</h2>
<p>'Thousands of media will be travelling back and forth between the Media Hub in Bloomsbury and the Olympic Park and other venues every day of the Games and temporarily reversing the direction of flow will assist their movement and protect other traffic in the area. </p>
<p>'As soon as the Olympic Games are over the traffic flow will revert back.</p>
<p>'London has begun its transformation into a massive sporting and cultural venue. </p>
<p>'We're working hard to support a great Games and keep London moving, but London's roads and transport networks are about to become exceptionally busy. </p>
<h2>Avoid driving</h2>
<p>'From next week our advice to motorists is clear - avoid driving in central London, around the ORN and Games venues from mid-July.</p>
<p>'If a journey by road is absolutely essential, be sure to plan ahead, and allow extra time.'<br>&nbsp; <br>The Kingsway Tunnel is approximately 370 metres long and is currently used by vehicles travelling north from Waterloo Bridge to Kingsway. </p>
<p>The maximum height of vehicles permitted to use the Kingsway Tunnel is 3.6 metres. Due to this height restriction a suitable southbound approach lane will be provided to allow an over-height vehicle detection system to be established. </p>
<h2>Adjust signals</h2>
<p>TfL has already started painting the white lines and Olympic Rings that mark out the Games Lanes along the ORN, although they will not be operational until 25 July.&nbsp; </p>
<p>Work to adjust the 1,300 traffic signals along the route has also begun and a ban on all planned roadworks on London's A and B roads, which started on 1 July, will run until 9 September.</p>
<p>The major physical preparatory works, including installation of barriers to simplify junctions, will be carried out the weekend before the Games, from 20 to 23 July. </p>
<p>In addition, minor works taking place from next week on roads in the immediate vicinity of Games venues include:</p>
<ul>
<li>Leyton Road - From 9 July, will be accessible to Games Family vehicles, residents, local businesses, buses and cyclists only as it is on the eastern edge of the Olympic Park and is in the Olympic Park security zone. It will have a London 2012 vehicle check point which residents and businesses will have permits to pass through. Diversions for other traffic will be clearly signed </li>
<li>Eastway between Lea Interchange and Lea Conservancy - From 13 July, will be accessible to Games Family vehicles only as it is on the northern edge of the Olympic Park and is in the Olympic Park security zone. It will have a London 2012 vehicle check point. Signage will be in place advising of the restriction </li>
<li>Hilton Hotel Park Lane - From 18 July some local roads around the London Hilton Hotel in Park Lane will become a London 2012 secured zone with a vehicle check point in place. They are Derby Street, Pitt's Head Mews, Stanhope Row and Hertford Street between Down Street and Old Park Lane. Residents will have access permits. Some local roads round the Hotel will also be made one way only, including Derby Street, part of Hertford Street, Old Park Lane, Brick Street and Down Street. Pedestrian access will remain unrestricted and London 2012 has undertaken extensive engagement with local residents on the changes</li></ul>
<p>In order to ensure that the Capital remains open for business and we can keep London moving prior to and during the Games, TfL's advice to road users is clear:</p>
<ul>
<li>Don't get caught out - from mid-July, motorists should avoid driving in central London, around the ORN and Games venues </li>
<li>Motorists should also avoid the areas around the road event courses on competition days such as the Cycling Road Races on Saturday 28 and Sunday 29 July, the Cycle Time Trial on Wednesday 1 August and the Women's and Men's Marathons on Sunday 5 and Sunday 12 August </li>
<li>Every day of the Games is different, so if you must drive, plan ahead and allow more time </li>
<li>Go to GetAheadoftheGames.com to find out how you can avoid the road hotspots and plan your travel during the Games&nbsp;</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Kingsway Tunnel will be closed from 20:00 on Saturday 7 July for the work to reverse the traffic direction to be carried out. It will re-open southbound only at 08:00 on Sunday 8 July </li>
<li>While the Kingsway Tunnel is closed for this work, traffic will use the above ground roads </li>
<li>To facilitate the reversal of traffic flow, modifications are required on the approaches to the Kingsway Tunnel. These include provision of an over-height vehicle gantry on the southbound approach to the tunnel, modifications to the lanes layout on both sides of the tunnel, removal of existing traffic islands and guard rails, temporary width restriction barriers, lane markings and signage outside the tunnel </li>
<li>Work inside the Kingsway Tunnel will include additional lighting at the northern end, provision of new signs and road markings, skid-resistant surfacing, CCTV cameras to monitor traffic slow and a collision protection beam at the tunnel entrance </li>
<li>All motorists can use the ORN, and only the 30 miles of Games Lanes, alongside lanes for general traffic, will be reserved for vehicles carrying the Games Family - the athletes, officials, media and some sponsors </li>
<li>Along the ORN, Games lanes and other road restrictions will be clearly signed. Breaching restrictions could result in a &pound;130 fine or vehicle removed. Compliance with the ORN will be key to ensuring the Games run smoothly and London keeps moving during Games time, when there will be up to 1,300 Games Family vehicles an hour travelling between key venues </li>
<li>TfL is committed to keeping London moving throughout the Games and will operate the Games lanes as flexibly as possible. They will be opened up to all traffic at times when demand from Games Family vehicles is low and capacity available. A network of around 150 variable message signs (VMS) along the route will advise motorists when Games Lanes are open to regular traffic throughout the day </li>
<li>The ORN will come into operation on 25 July, a couple of days before the Opening Ceremony of the Olympic Games. It will end operation a couple of days after the Games and will not be in operation between the Olympics and Paralympics. The smaller Paralympic Route Network (PRN) will also come into operation just a couple of days before the Paralympic Games. Once Games events are completed at a venue, such as Wimbledon, the ORN will be removed </li>
<li>The ORN also extends out of London to other London 2012 venues in England. These routes are being delivered by the Olympic Delivery Authority (ODA) in partnership with the respective local highway authorities. ORN operational and enforcement dates and times outside of London differ from those being delivered by TfL within London. For more information please contact the ODA Press Office on 0203 2012 700 </li>
<li>All the information, tools and advice that motorists, cyclists and pedestrians need to plan their road journeys during the Games can be found on the GetAheadoftheGames.com website and by following &#64;GAOTG on Twitter </li>
<li>A new film on GetAheadoftheGames.com provides explanation of the ORN and top tips for motorists on avoiding driving and planning journeys during the Games. <a href="http://www.GetAheadoftheGames.com/news/1080.html">GetAheadoftheGames.com/news/1080.html</a>. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Kingsway Tunnel is part of the Olympic Route Network and is vital in assisting movement of traffic to and from the Media Hub in Bloomsbury Motorists advised not to get caught out and avoid driving in central London, around the ORN and Games venues";}
        
        


 