


@{ViewBag.Title = "Transport Commissioner Peter Hendy CBE takes to Twitter to answer questions about transport at Games-time";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Commissioner Peter Hendy CBE takes to Twitter to answer questions about transport at Games-time</h1>
        <div class="content-page-press-release">
        05 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Peter Hendy CBE, London's Transport Commissioner, will be on Twitter between 10:30 and 11:30 on Friday 6 July, to help businesses, Londoners and visitors plan their travel ahead of the London 2012 Games.</p>
<p>The chat will be hosted by the official London 2012 and Transport for London (TfL) Get Ahead of the Games Twitter feed, &#64;GAOTG, using the hashtag #AskPeter. </p>
<p>During the Twitter chat, he will answer questions on all aspects of travel planning ahead of the Games, from how commuters can avoid transport hotspots, to what businesses are doing to prepare for the Games.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'During the Games, London will be turned into a massive sporting and cultural venue. </p>
<p>'Parts of the transport network are going to be exceptionally busy, so we're urging people not chance it. </p>
<p>'Talking to people directly on Twitter is just another way that we're offering people advice and support to help them plan ahead to avoid the travel hotspots.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>A transcript of the Twitter debate will be available on <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a></li>
<li>Further information about future Twitter chats between now and the London 2012 Games will be added to <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> or posted by &#64;GAOTG</li>
<li>For more information on TfL's Twitter feeds visit <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a> <br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Peter Hendy CBE, London's Transport Commissioner, will be on Twitter between 10:30 and 11:30 on Friday 6 July, to help businesses, Londoners and visitors plan their travel ahead of the London 2012 Games.The chat will be hosted by the official London 2012";}
        
        


 