


@{ViewBag.Title = "Weekend upgrade works paused as Tube gets match-fit for Games time";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Weekend upgrade works paused as Tube gets match-fit for Games time</h1>
        <div class="content-page-press-release">
        12 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Enhanced services will run on the Tube throughout the Games, although network will remain exceptionally busy.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Customers urged not to get caught out - plan ahead to avoid 'hotspots' by visiting <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> and following &#64;GAOTG on Twitter </li>
<li>Public transport users now warned if their journey will be affected by travel hotspots on <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a></li></ul>
<p>This Saturday and Sunday will see the final planned engineering closures on the Tube until mid-September as London Underground (LU) gets ready to play its part in staging a magnificent London 2012 Games.&nbsp;</p>
<h2>No planned closures</h2>
<p>The Underground is undergoing an unprecedented level of work as TfL continues to deliver the biggest investment programme in the Tube's history.</p>
<p>However, TfL has been able to plan its programme of engineering works to ensure there will be no planned line closures on the Tube after Sunday 17 July until Saturday 15 September.</p>
<p>The suspension of non-essential works will maximise the efficiency and reliability of the Tube network during what will be an exceptionally busy time for the Capital, and help visitors to the city to make the most of what London has to offer. Overnight maintenance will continue as usual during the Games period.</p>
<p>Although London is accustomed to playing host to frequent significant sporting and cultural events, the transport network will be exceptionally busy and TfL is therefore making a number of additional changes to the operation of the Tube network, including:</p>
<ul>
<li>Each day there will be enhanced services on the Tube, with last trains westbound from the Olympic Park departing at 01:30hrs, and all last trains on all lines running about an hour later - departing central London at around 1:30hrs, with trains being stabled at depots at around 02:30hrs </li>
<li>On 27 July, opening ceremony night, last trains will leave Stratford and central London at 02:30hrs </li>
<li>Between Friday 3 August and Sunday 12 August, when the events schedule intensifies, some parts of the Tube will operate a 'third peak', with morning and evening peaks as normal, but peak level services also running between 22.00hrs and 23.30hrs to provide additional capacity when events end </li>
<li>Passengers may have already started to notice some of the 215,000 magenta signs at or near stations that are going up for the duration of the Games to guide spectators to their events </li>
<li>In addition, around 3,600 TfL Travel Ambassadors, wearing distinctive magenta coloured tabards, will provide the travelling public with live, up-to-the-minute travel advice at Tube, bus, rail and DLR stations across London </li>
<li>TfL has invested hundreds of millions of pounds in making the transport network more accessible in the last few years, with improvements such as new lifts, trains, raised platform humps, wide aisle gates, tactile paving and audio-visual displays </li>
<li>A total of 66 Tube stations are now step-free and all Tube stations have staff trained to assist passengers. Sixteen key Tube stations will provide temporary manual boarding ramps including Earl's Court, King's Cross St. Pancras, Oxford Circus, Southfields, Stratford, West Ham, Westminster and Wimbledon, enabling easier boarding by wheelchair users</li></ul>
<h2>Plan ahead</h2>
<p>However, despite these changes, the Tube network will remain exceptionally busy and some stations and lines should be avoided at certain points.</p>
<p>Passengers should plan ahead to avoid 'hotspots' by visiting <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> and following &#64;GAOTG on Twitter. In addition, TfL's Journey Planner at <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> now warns users if their journey includes a travel hotspot. </p>
<p>Mike Brown, LU Managing Director, said: 'We will be working hard to ensure that the Games are a success and that we keep London moving.&nbsp;As London continues its transformation into a huge sporting and cultural venue, there will be no planned engineering work after this weekend until mid-September and all essential maintenance will be undertaken overnight.&nbsp; </p>
<p>'We've made a range of improvements to the network to improve reliability and many extra services will be running throughout.&nbsp;With a million more people in London, the network will be exceptionally busy, so the message is don't get caught out or wait to see how it goes - plan ahead at <a href="http://www.getaheadofthegames.com'">www.getaheadofthegames.com'</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>The coming weekend will see the following works taking place on the Tube:<br>- Saturday 14 and Sunday 15 July - Metropolitan line no service between Wembley Park and Uxbridge, and Northwood. Rail replacement buses will operate<br>- Saturday 14 July only - Victoria line suspended from Walthamstow Central to Brixton. Rail replacement services operate <br>-&nbsp;Sunday 15 July only - Northern line no service between High Barnet and Camden until approximately 0845hrs 
<li>Up to one million extra visitors are expected in London every day, making an additional three million journeys over and above the usual 12 million daily journeys on public transport.&nbsp; Some 80 per cent of this is expected to be by Tube and Rail </li>
<li>The following 16 Tube stations will have temporary manual boarding ramps in place during the Olympic and Paralympic Games; West Ham (District and Hammersmith &amp; City lines), Fulham Broadway, Wimbledon, Southfields, Earl's Court (District line), Westminster (District and Circle lines), Stratford (Central line), Woodford, Oxford Circus (Bakerloo line), Queen's Park, Hammersmith (Hammersmith &amp; City and Circle lines), King's Cross St. Pancras, Mile End (Hammersmith &amp; City and Circle lines), Morden, Stockwell (Northern line), Finchley Central and Edgware stations </li>
<li>As with London Underground's existing assistance service for visually-impaired passengers, it won't be necessary to pre-book use of the ramps. When requested, Tube staff at the departure station will call ahead to the destination station to ensure that a ramp and member of staff will be waiting for them </li>
<li>A number of services are now available to media from the TfL Press Office, including:<br>-&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>-&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>-&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a></li>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Customers urged not to get caught out - plan ahead to avoid 'hotspots' by visiting www.getaheadofthegames.com and following @GAOTG on Twitter Public transport users now warned if their journey will be affected by travel hotspots on";}
        
        


 