


@{ViewBag.Title = "Women's Cycle Road Race on the second day of the 2012 Olympic Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Women's Cycle Road Race on the second day of the 2012 Olympic Games</h1>
        <div class="content-page-press-release">
        28 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following the Men's Cycle Road Race today, the second road event, the Women's Cycle Road Race, will take place tomorrow (Sunday 29 July) on the streets of London and Surrey.
        
    </div>



 <div class="on-this-page">
<p>Central and South West London is expected to be exceptionally busy again throughout the day owing to large numbers of spectators watching the road event and going to the Beach Volleyball at Horse Guards Parade.</p>
<p>All London 2012 road events will see temporary road closures and parking restrictions.</p>
<p>Events are also taking place across the Capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, The Mall, Lord's Cricket Ground, Wimbledon and Wembley Arena.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Public transport will be exceptionally busy tomorrow as spectators make their way to events at key Olympic venues across the Capital, and large numbers of spectators will be lining the route of the Women's Cycle Road Race in central and southwest London and Surrey.</p>
<p>'Every day of the Games is different, so I encourage people to plan ahead and have a great time.'</p>
<h2>Spectators of the Women's Cycle Road Race</h2>
<ul>
    <li>The Women's Cycle Road Race offers a great opportunity for many to see an Olympic event and very large crowds are expected to attend </li>
    <li>If you are planning to attend, please arrive early, be prepared to wait for several hours and think carefully about bringing small children. Make sure you know what the route is so you can find the best spot to see the action </li>
    <li>Pack food and water, sun cream or waterproof clothing, depending on the weather </li>
    <li>Have a back-up plan. If it gets really busy, you might want to enjoy one of the wealth of free events, cultural and entertainment opportunities on offer across the UK and during London's summer like no other. Find out what's happening and sign up for updates at <a href="http://www.molpresents.com">www.molpresents.com</a> and download the London 2012 'Join In' appIf you want to see the action, but don't want to get caught up in the crowds, try to 'stay local' and watch on television. There may be places close by that are showing events, such as pubs, clubs and Live Sites.</li>
</ul>
<h2>Ticketed spectators</h2>
<ul>
    <li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com/">london2012.com</a> for your recommended arrival times and leave plenty of time to travel </li>
    <li>Make sure you have the correct Games Travelcard for the day of your event </li>
    <li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">london2012.com/journey</a> </li>
    <li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue</li>
</ul>
<p>During the Games, up to one million extra visitors are expected in London every day, making an additional three million journeys over and above the usual 12 million daily journeys on public transport. At certain times and in certain places, London's roads and public transport networks will be exceptionally busy.</p>
<h2>TfL's key travel advice for tomorrow (Sunday 29 July)</h2>
<ul>
    <li>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and being enforced. Avoid central London, around the ORN, venues and the route of the Women's Cycle Road Race </li>
    <li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles </li>
    <li>Roads across London and around Surrey will be exceptionally busy, with related road closures, owing to the Women's Cycle Road Race, so do not drive into affected areas. If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
    <li>There will be road closures and restrictions along the route which will be put in place from 05.00 and will remain until a few hours after the race has finished, when it is safe to reopen the roads </li>
    <li>Events will be taking place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, The Mall, Lord's Cricket Ground, Wimbledon, Wembley Arena and Wembley Stadium </li>
    <li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, Docklands Light Railway and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
</ul>
<p>
</p>
<hr />
<br />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 0:700 and 14:00</li>
    <li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
    <li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours</li>
    <li>A number of services are available including<br />o Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br />o B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br />o A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br />o Interviews with TfL spokespeople<br /></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Central and South West London is expected to be exceptionally busy again throughout the day&nbsp;owing to large numbers of spectators watching the road event and going to the Beach Volleyball at Horse Guards Parade.All London 2012 road events will see";}
        
        


 