


@{ViewBag.Title = "Work on further improvements to major junctions in the Capital begins this autumn";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work on further improvements to major junctions in the Capital begins this autumn</h1>
        <div class="content-page-press-release">
        20 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 50 junctions to see improvements for cyclists during the next 18 months.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am one hundred per cent committed to making London's roads safer for cyclists and other vulnerable road users
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Innovative traffic signals, segregated cycle lanes and more safety mirrors to be delivered at key locations across London</li></ul>
<p>A multi-million pound safety improvement programme for cyclists at major junctions across the Capital will begin this autumn as part of a review of major junctions in the Capital by Transport for London (TfL). </p>
<p>The Mayor asked TfL to work with leading cycling and road safety organisations on a programme to review all junctions on the existing cycle superhighways, locations on the TfL network where schemes are already planned and a number of other locations that are challenging for cyclists. </p>
<p>An initial review of 500 locations has now been completed, which has allowed TfL to identify a priority list of 100 junctions, based on a range of measures such as user feedback, cyclist numbers and collision data.</p>
<p>Work to explore initial design options at these priority locations is now well under way, with TfL committed to completing the review and having detailed designs for all of these 100 junctions by the end of 2013.</p>
<p>It has also been confirmed that physical improvements will also be made at more than 50 junctions across the Capital over the next 18 months, with the first being delivered by the end of 2012. </p>
<p>The 50 junctions selected will comprise 35 junctions from the top 100 and 15 junctions from the remaining 400 junctions. </p>
<p>Improvements at these locations will include widening junctions to allow more space for cyclists, creating more segregated cycle lanes and installing innovative 'early-start' traffic signals to allow cyclists to move through the junction ahead of other traffic.</p>
<h2>Future designs</h2>
<p>The designs for the remaining junctions will be reviewed by TfL as part of a process that will be regularly updated to ensure that the latest lessons from the junction review process are included in future designs for junctions, including the future Barclays Cycle Superhighways. </p>
<p>Residents and stakeholders will also be consulted on the proposed design before work begins on site, to ensure that the changes reflect the needs of the local community.</p>
<p>Boris Johnson, the Mayor of London, said: 'I am one hundred per cent committed to making London's roads safer for cyclists and other vulnerable road users. </p>
<p>'Our review of junctions is making a major contribution to that aim and I want particularly to thank the many stakeholder organisations that have provided detailed input to this review already.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Cycling in London has rapidly increased in recent years, with many more thousands of people taking to two wheels than ever before. </p>
<p>'Our junction review programme has allowed us to relook at key junctions on our road network and identify a range of innovative improvements which, when delivered, will greatly benefit all road users across London.'</p>
<p>TfL will also be installing a further 100 blind spot safety mirrors (commonly known as 'Trixi' mirrors) on junctions across London by April 2013 as part of its ongoing work to improve cycle safety. </p>
<p>That work will build on the 150 mirrors already installed by TfL and Crossrail across London, which have helped to ensure that cyclists are seen by left-turning vehicles more easily. </p>
<p>Work on the next phase of the Barclays Cycle Superhighways will also begin in 2013 and is designed to deliver a range of cycling infrastructure improvements along key routes in London. </p>
<h2>Lessons learnt</h2>
<p>These new superhighways will reflect and incorporate lessons learned from the junction review. </p>
<p>TfL are discussing with the local Borough plans for the extension of the existing Route 2 from Bow Roundabout to Stratford High Street during the summer of 2013; and work to deliver Route 5 between Victoria and Lewisham via Camberwell will be completed by the end of 2013. </p>
<p>The designs of future routes will reflect the lessons learnt both in the junction review and from the previous four routes across London. </p>
<p>Detailed plans for the next phase of cycle superhighways will be shared later this year and early in 2013, with TfL committed to deliver all 12 Barclays Cycle Superhighways by the end of 2015.</p>
<p>Cycle design guidance for other highway authorities across London will also be updated to include the latest developments, design concepts from European highway authorities and lessons learnt from the ongoing junction review programme. </p>
<p>The revised London Cycle Design Standards will be available for all highway authorities to use when designing or changing road layouts across London as well as provide guidance to allow boroughs to install safety mirrors on their road network as necessary.</p>
<p>For more information about the junction review process, and a list of the junctions covered under the review, please visit <a href="http://www.tfl.gov.uk/junctionreview">tfl.gov.uk/junctionreview</a> </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TfL is still coordinating the schedule of works for the delivery of the first sites. However, it is anticipated that these will include cycling improvements at Lambeth Bridge northern roundabout, Waterloo roundabout and at the junction of Mile End Road and Burdett Road, subject to consultation
<li>TfL has recently held early meetings with the Department for Transport (DfT) to explore options for new traffic signals which are currently not permitted under the present legislation. In particular, TfL would be keen to carry out both off and on-street trials of cycle-specific traffic signals, such as a red cycle aspect and low-level continental-style small traffic signal repeaters on the Capital's roads, to help enhance and improve the recently installed innovative early-start facility at Bow roundabout</li>
<li>On-street trials would require the&nbsp;DfT to change the relevant regulations. However, were trials to go ahead and be successful, TfL would ask for these cycle specific traffic signals to be incorporated into new DfT legislation</li>
<li>TfL will be sharing the lessons learnt from the junction review programme with other highway authorities so that similar reviews of key junctions can be carried out on the borough road network</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Innovative traffic signals, segregated cycle lanes and more safety mirrors to be delivered at key locations across LondonA multi-million pound safety improvement programme for cyclists at major junctions across the Capital will begin this autumn as part";}
        
        


 