
    
  



@{ViewBag.Title = "About River Bus";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/river/about-river-bus";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/river/index">River</a></li>
                
            
            
                <li><span class="last-breadcrumb">About River Bus</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>About River Bus</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Six River Bus routes run from 22 piers between Putney and Woolwich. 
        
      </div>
    
    
      <p>River Bus services run from early morning until late evening and the River Bus Express is a dedicated service running before and after events at the O2 in North Greenwich.</p>

<p>River Bus services are operated by <a href="http://www.thamesclippers.com">Thames Clippers</a>. TfL manages the piers and licenses river passenger services.&nbsp;To contact TfL, phone: 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) or email <a href="mailto:river&#64;tfl.gov.uk ?Subject=Pier%20berthing%20facilities%20enquiry">river&#64;tfl.gov.uk</a>.</p>

<p>Thames Clippers offer a fast and frequent service with departures from major London piers every 20 minutes, other routes vary so please <a href="/travel-information/timetables/index">check routes and timetables</a>&nbsp;before you travel.</p>

<p>All River Bus boats are covered and most&nbsp;boats&nbsp;also have a small outside deck area. There are on-board bars&nbsp;serving hot and cold drinks, snacks and refreshments, and most boats have accessible toilets.</p>

<p>Thames Clippers boats are all wheelchair accessible and ramps are used to board the boat. All piers offer step-free access, except Cadogan Pier, Wandsworth Riverside Quarter Pier and London Bridge City Pier. A maximum of four wheelchairs and a further three folding wheelchairs can be accommodated on larger boats. Passengers with mobility scooters need to enter <a href="http://www.thamesclippers.com/about-mbna-thames-clippers/accessibility-information">Thames Clippers Mobility Scooter Recognition Scheme</a>&nbsp;to bring their mobility scooters on board.</p>

<p>Bikes are allowed on board and there are&nbsp;ten spaces available on larger boats - these are offered on a first come, first served basis. Dogs can also travel on River Bus services but must be kept on a lead.</p>

<h2>Fares and tickets</h2>

<p>You can use contactless or Oyster to pay as you go on Thames Clippers services. Alternatively, you can buy tickets in advance from the <a href="http://www.thamesclippers.com/">Thames Clippers website</a>,&nbsp;or on the day from a pier ticket office or machine. The Thames Clippers <a href="http://www.thamesclippers.com/app">smartphone ticketing app</a> also allows you to buy tickets on the go. You must ensure you pay for travel before boarding the boat.</p>

<p>A zonal fares system is in place for River Bus services, and the fare you pay depends upon the Zones you travel through: East, Central or West Zones. Full fares&nbsp;and the River Bus route map can be found on the <a href="http://www.thamesclippers.com/route-time-table/prices">Thames Clippers website</a>.</p>

<h2>Using contactless or Oyster</h2>

<p>You can use contactless or Oyster to pay as you go on all Thames Clippers services. Once instructed to board the boat, touch in on the yellow card reader and remember to touch out again at the end of your journey, this includes interchanges. A member of Thames Clippers staff must see you touch in.</p>

<p>If you are using contactless or Oyster to pay as you go, you will pay a lower rate fare. (This also applies to those who purchase tickets via the smartphone app.)</p>

<p>You can't top up your Oyster card at River Bus piers, so make sure you have enough pay as you go credit on your Oyster card before you travel.</p>

<p>Journeys made using contactless or Oyster on River Bus services do not count towards capping.</p>

<h2>Travelcard discount</h2>

<p>If you have a Travelcard, either a paper ticket or loaded on an Oyster card, you will receive&nbsp;1/3 discount on standard price adult and child fares. If you have a paper ticket, present it at the pier ticket office to receive a discount or buy your ticket via the smartphone app. If you have a Travelcard loaded on your Oyster card as well as pay as you go credit, the&nbsp;1/3 discount will automatically be applied as you touch in on the yellow reader.</p>

<h2>Freedom Pass discount</h2>

<p>Freedom Passes are not compatible with pay as you go on River Bus services, if you are a Freedom Pass holder you must buy a ticket before travelling which is offered at a discounted rate.</p>

<p>Freedom Pass, 60+ Oyster and War Veteran Oyster card holders receive 50% discount, and this will always be off the lower rate fare, whether you purchase via the phone app or at a pier ticket office.</p>

<h2>Season tickets</h2>

<p>Regular River Bus customers may save money by <a href="https://www.thamesclippers.com/commuters/season-tickets">buying a season ticket</a>. Weekly, monthly and annual season tickets are available. 18+ Student Oyster photocard holders and Apprentice Oyster photocard holders get 1/3 off season tickets. .</p>

<p>&nbsp;</p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/river-bus-mbna-millenium-br.jpg" alt="Passing under the Millennium Bridge with St Paul's Cathedral in view" />
                <figcaption>
<span class="figure-title">Passing under the Millennium Bridge with St Paul's Cathedral in view</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/river-bus-interior.jpg" alt="A comfortable journey awaits you" />
                <figcaption>
<span class="figure-title">A comfortable journey awaits you</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/river-bus-mbna-o2.jpg" alt="Open water near the O2" />
                <figcaption>
<span class="figure-title">Open water near the O2</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/river/index" class="heading">
                    <h2 id="sub-menu-heading">River<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/modes/river/about-river-bus">About River Bus</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-tours">About River Tours</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/woolwich-ferry">Woolwich Ferry</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/the-river-experience">The river experience</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/corporate-and-private-boat-hire">Corporate & private boat hire </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/explore-london-tickets">Explore London tickets</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/stations-stops-and-piers/index" class="plain-button">Stations, stops &amp; piers</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Fast and frequent services on the Thames ";}
        
            
        


 