
    
  



@{ViewBag.Title = "Corporate & private boat hire ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/river/corporate-and-private-boat-hire";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/river/index">River</a></li>
                
            
            
                <li><span class="last-breadcrumb">Corporate & private boat hire </span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Corporate & private boat hire </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Chartered services may be booked for corporate trips or private parties. Contact the operators for more information.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><strong>Operator </strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Telephone</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0"><a href="http://absolutepartycruises.com/">Absolute Party Cruises</a></td>
			<td headers="table_heading_1">020 8306 5333</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.bateauxlondon.com/">Bateaux London</a></td>
			<td headers="table_heading_1">020 7695 1800</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.cpbs.co.uk/">Capital Pleasure Boats</a></td>
			<td headers="table_heading_1">0800 019 1516</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.chastheboat.co.uk/">Chas Newens Marine</a></td>
			<td headers="table_heading_1">020 8788 4587</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.citycruises.com/">City Cruises</a></td>
			<td headers="table_heading_1">020 7740 0400</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.colliers-thames-boat-hire.co.uk/">Colliers Launches</a></td>
			<td headers="table_heading_1">020 8892 0741</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.crownrivercruise.co.uk/">Crown River Cruises</a></td>
			<td headers="table_heading_1">020 7936 2033</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.cruiselondon.co.uk/">Cruise London Ltd</a></td>
			<td headers="table_heading_1">020 8274 1197</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.diplomatcruises.co.uk">Diplomat Cruises</a></td>
			<td headers="table_heading_1">020 3283 4108</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.heritageboatcharters.com/">Heritage Boat Charters</a></td>
			<td headers="table_heading_1">07970 950 711</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.kingcruises.com/">King Cruises</a></td>
			<td headers="table_heading_1">020 8303 0774</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="https://www.livetts.co.uk/">Livett's Launches</a></td>
			<td headers="table_heading_1">020 7378 1211</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.londonrivercruises.com/">London River Cruises</a></td>
			<td headers="table_heading_1">020 7839 8008</td>
		</tr>
		<tr>
			<td><a href="http://www.londonpartyboats.co.uk/">London Party Boats Ltd</a></td>
			<td>020 7118 1281</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.maritimeyachtcharters.com/">Maritime Yacht Charters</a></td>
			<td headers="table_heading_1">07581 467438</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.princess-pocahontas.com/">Princess Pocahontas</a></td>
			<td headers="table_heading_1">01732 353448</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.riverthamesboathire.com/">River Thames Boat Hire Ltd</a></td>
			<td headers="table_heading_1">01268 451 216</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.lady-daphne.co.uk/">Sailing Barge Lady Daphne</a></td>
			<td headers="table_heading_1">020 7562 7656</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.thamesboatsltd.co.uk/">Thames Boats</a></td>
			<td headers="table_heading_1">020 3044 2900</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.thamesclippers.com/">Thames Clippers</a><!--</td--></td>
			<td headers="table_heading_1">020 7001 2200&nbsp;</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.thamescruises.com/">Thames Cruises</a></td>
			<td headers="table_heading_1">020 7928 9009</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.thamesleisure.co.uk/">Thames Leisure</a></td>
			<td headers="table_heading_1">020 7623 1805</td>
		</tr>
		<tr>
			<td><a href="http://www.thameslimo.co.uk ">Thames Limo</a></td>
			<td>0770 458 2000</td>
		</tr>
		<tr>
			<td><a href="http://www.thamespartyboatsltd.co.uk">Thames Party Boats Ltd</a></td>
			<td>020 7118 1908</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="https://www.thamespleasurecruises.com/">Thames Pleasure Cruises</a></td>
			<td headers="table_heading_1">020 7821 1186</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.thamesribexperience.com/">Thames RIB Experience</a></td>
			<td headers="table_heading_1">020 3245 1177</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://wpsa.co.uk/">Thames River Boats</a></td>
			<td headers="table_heading_1">020 7930 2062</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.thamesrockets.com ">Thames Rockets</a></td>
			<td headers="table_heading_1">020 7928 8933</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.thamesriverservices.co.uk/">Thames River Services</a></td>
			<td headers="table_heading_1">020 7930 4097</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.thamesluxurycharters.co.uk/">TLC - Thames Luxury Charters</a></td>
			<td headers="table_heading_1">020 7357 7751</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.turks.co.uk/">Turks Launches</a></td>
			<td headers="table_heading_1">020 8546 2434</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.viscountcruises.com/">Viscount Cruises</a></td>
			<td headers="table_heading_1">020 8305 0300</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.waverleyexcursions.co.uk/">Waverley Excursions</a></td>
			<td headers="table_heading_1">0845 130 4647</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.westminsterpartyboats.com/WPB/default.cfm">Westminster Party Boats</a></td>
			<td headers="table_heading_1">020 7839 3424</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="http://www.silverfleet.co.uk/">Wood's Silver Fleet</a></td>
			<td headers="table_heading_1">020 7759 1900</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/river/index" class="heading">
                    <h2 id="sub-menu-heading">River<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-bus">About River Bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-tours">About River Tours</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/woolwich-ferry">Woolwich Ferry</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/the-river-experience">The river experience</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/river/corporate-and-private-boat-hire">Corporate & private boat hire </a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/river/explore-london-tickets">Explore London tickets</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Thames boat operators for charter cruises and private hire";}
        
            
        


 