
    
  



@{ViewBag.Title = "Explore London tickets";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/river/explore-london-tickets";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/river/index">River</a></li>
                
            
            
                <li><span class="last-breadcrumb">Explore London tickets</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Explore London tickets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Experience London and the stunning River Thames with our new joint and combined tickets, while saving up to 20%. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/2-3-way-ticket-explore_rdax_400x250.jpg" alt="2-3-way campaign river image" />
        
        
        
    </div>
    <h3>Joint ticket</h3>

<p>Discover London by Thames Clippers River Bus and Santander Cycles bike with this fantastic joint ticket, all for just &pound;16.70 (20% off the full price).<br />
<br />
You'll enjoy relaxing boat rides along the historic River Thames and exploring the city's cycle ways, quiet streets and parks by bike.<br />
<br />
Your ticket includes:</p>

<ul>
	<li>An all day hop-on hop-off Thames Clippers River Roamer ticket</li>
	<li>A Santander Cycles promo code which gives you unlimited Santander Cycles rides of up to 30 minutes for 24 hours so you can make the most of exploring London by bike<br />
	- Every bike journey up to 30 minutes is free<br />
	- Longer journeys cost an extra &pound;2 for each additional 30 minutes (or less) when you hire a bike</li>
</ul>

<p><a href="https://booking.thamesclippers.com/thames-clippers-tickets/explore-london-joint-ticket.html">Book your ticket now</a> - please note these tickets are sold via the Thames Clippers website.</p>

<p><a href="/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders">See our suggested day trip routes using your&nbsp;joint ticket</a>.</p>

<h3>Combined ticket</h3>

<p>Explore London with Emirates Air Line, Thames Clippers and Santander Cycles' combined ticket, all for just &pound;25, saving you up to 20%.<br />
<br />
You'll enjoy a breathtaking flight on London's only cable car, scenic boat trips along the River Thames and relaxing bike rides &#45; a lovely way to see London's sights and landmarks.<br />
<br />
Your ticket includes:</p>

<ul>
	<li>An Emirates Air Line cable car Discovery Experience ticket (this includes a 360 round-trip, in-flight guide and free entry to the Emirates Aviation Experience exhibition)</li>
	<li>An all day hop-on hop-off Thames Clippers River Roamer ticket</li>
	<li>A Santander Cycles promo code which gives you unlimited Santander Cycles rides of up to 30 minutes for 24 hours so you can make the most of exploring London by bike<br />
	- Every bike journey up to 30 minutes is free<br />
	- Longer journeys cost an extra &pound;2 for each additional 30 minutes (or less) when you hire a bike</li>
</ul>

<p><a href="https://booking.thamesclippers.com/thames-clippers-tickets/explore-london-combined-ticket.html">Book your ticket now</a> - please note these tickets are sold via the Thames Clippers website.</p>

<p><a href="/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders">See our suggested day trip routes using your combined ticket</a>.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/river/index" class="heading">
                    <h2 id="sub-menu-heading">River<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-bus">About River Bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-tours">About River Tours</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/woolwich-ferry">Woolwich Ferry</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/the-river-experience">The river experience</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/corporate-and-private-boat-hire">Corporate & private boat hire </a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/river/explore-london-tickets">Explore London tickets</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/routes-and-maps/leisure-routes/route-ideas-for-explore-london-ticket-holders" class="plain-button">Routes for Explore London tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page about the new 2-3 way joint and combined River, Emirates and Santander tickets";}
        
            
        


 