
    
  


<!-- rhroot -->
@{ViewBag.Title = "River";}
@{ViewBag.Keywords = "River ,Rivers ,TfL";}
@{ViewBag.Url = "/modes/river/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">River</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>River</h1>
        
        <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/river-partner.png" alt="River logo" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser river">
  
  <a href="/modes/river/explore-london-tickets?intcmp=47992"  data-img="/cdn/static/cms/images/promos/explore-london-tickets.jpg" data-img-breakpoint="" data-img-alt="Explore London tickets">
    <img src="/cdn/static/cms/images/promos/explore-london-tickets_rdax_600x300.jpg" alt="Explore London tickets" />
    <div class="text-link sit-top">
      <h2>Explore London tickets</h2>
      <p>Try our new tickets for a great experience of the city, and save up to 20%</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/river-bus-logo.jpg" alt="River Bus" />
    </div>
    <h3>Travel on the River Bus</h3>

<p>Pay as you go with Oyster on this regular service<br />
<a href="/modes/river/about-river-bus">Find out more about River Bus</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/river-tours-logo.jpg" alt="River tours logo" />
    </div>
    <h3>&nbsp;Relax on River Tours</h3>

<p>Leisurely trips, ideal for spotting London's hidden gems.<br />
<a href="/modes/river/about-river-tours">Find a River Tour</a>.</p> 
</div>
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/travel-information/stations-stops-and-piers/?intcmp=55&intcmp=55907" >
        
        
        <div class="text-link">
             <h2>Find a pier</h2>
            <p>For live departures, status information, route maps and timetables</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/maps/river?intcmp=29736" >
        
        
        <div class="text-link">
             <h2>River route maps</h2>
            <p>From Hampton Court to Woolwich, find out where the boat can take you</p>
        </div>
    </a>
</div>
 
 <div>

<div class="news-teaser river">

    <a href="/modes/river/woolwich-ferry?intcmp=16238" >
        
        
        <div class="text-link">
             <h2>Woolwich Ferry </h2>
            <p>The Woolwich Ferry links Woolwich and North Woolwich</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/find-fares/river-fares?intcmp=54711" >
        
        
        <div class="text-link">
             <h2>River fares</h2>
            <p>Find out more about cost and ways to pay</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/river/corporate-and-private-boat-hire?intcmp=1522" >
        
        
        <div class="text-link">
             <h2>Private charter boats</h2>
            <p>Find out more about charter services for corporate business trips or private parties</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/?intcmp=58115" >
        <img src="/cdn/static/cms/images/promos/london-skyline-dusk_rdax_400x200.jpg" alt="London skyline at dusk - Tower Bridge and Thames" />
        
        <div class="text-link">
             <h2>Experience London blog</h2>
            <p>Read about London's hidden gems, big attractions and exciting things to do </p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/transport-accessibility/index"  class="plain-button">Transport accessibility</a>


<a href="/travel-information/visiting-london/index"  class="plain-button">Visiting London</a>


<a href="/info-for/coach-drivers/special-parking-arrangements"  class="plain-button">Coach parking at river piers</a>


<a href="http://www.thamesclippers.com/sightseeing-leisure/park-and-glide"  class="plain-button">Coach park and glide</a>

</div>

</div>
 <div>

<div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>London's Passenger Pier Strategy</h2>
        
        
        <p>Find out more about our strategy for the city's network of piers</p>
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pier-passenger-pier-strategy-action-plan.pdf">
    <div class="document-download-text">
        <p>London's Passenger Pier Strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.36 -->
 
        </div>
        
    </div>
</div>



 
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport", mode = Library.MeansOfTransport.River } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 24 hours a day, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:river&#64;tfl.gov.uk">river&#64;tfl.gov.uk</a> <br /><a href="/help-and-contact/contact-us-about-rivers">Fill in a general enquiries form</a> <br />
<a href="/help-and-contact/contact-us-about-rivers-staff">Give feedback about staff</a><br />
Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Services<br />4th Floor<br />14 Pier Walk<br />London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/incident-support-service" class="plain-button">Incident support service</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.visitlondon.com/" class="plain-button">Visit London</a>
<a href="http://totallythames.org/" class="plain-button">Totally Thames</a>
<a href="http://www.riverthames.co.uk/" class="plain-button">The River Thames Guide</a>
<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "River Bus and River tours from Richmond to the Thames Barrier. Fast and frequent services and leisure routes";}
        
            
        


 