
    
  



@{ViewBag.Title = "Woolwich Ferry";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/river/woolwich-ferry";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/river/index">River</a></li>
                
            
            
                <li><span class="last-breadcrumb">Woolwich Ferry</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Woolwich Ferry</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      <p>The Woolwich Ferry&nbsp;links Woolwich and North Woolwich.&nbsp;It's free and carries pedestrians, cyclists, cars, vans and lorries.</p>

<p>The&nbsp;Ferry is&nbsp;operated by Briggs Marine and Environmental on behalf of TfL.</p>
      
           
      <div>

<h2>Operating hours</h2>

<h3>Monday to Friday</h3>

<ul>
	<li>From 6:10 to 20:00</li>
	<li>Last boat from south to north 19:45</li>
</ul>

<p>Boats run approximately every 10-15 minutes throughout the day.</p>

<h3>Saturday and public holidays</h3>

<ul>
	<li>From 6:10 to 20:00</li>
	<li>Last boat from south to north 19:45</li>
</ul>

<p>One boat runs approximately every&nbsp;20 minutes throughout the day.</p>

<h3>Sunday</h3>

<ul>
	<li>From 11:30 to 19:30</li>
	<li>Last trip south to north 19:15</li>
</ul>

<p>One boat runs approximately every&nbsp;20 minutes throughout the day.</p>

<h3>Christmas Day, Boxing Day and New Year's Day</h3>

<p>There is no service on 25 and 26 December or on 1 January.</p>

<p>Check for planned closures and live service information on our <a href="https://tfl.gov.uk/river/status/">status updates page</a>.</p>

<h2>Tides and weather</h2>

<p>The Woolwich Ferry is not usually affected by tidal conditions, but we sometimes need to suspend the service when there is an extremely high tide.</p>

<p>We suspend the service when there is dense fog in the area.</p>

<h2>Vehicle restrictions</h2>

<h3>Maximum size</h3>

<p><strong>Maximum height:</strong> 4.7 metres or 15.5 feet<br />
<strong>Maximum width:</strong> 3.5 metres or 11.5 feet</p>

<h3>Dangerous goods</h3>

<p>Vehicles displaying Hazchem signs are prohibited.</p>

<p>The International Maritime Dangerous Goods Code contains a list of dangerous or harmful substances known as the Dangerous Goods List. Any vehicle or trailer carrying any substance specified in the Dangerous Goods List will not be allowed on the Woolwich Ferry.</p>

<p>This excludes any fuel that is contained in the tanks of the vehicle and is used for moving the vehicle or operating its equipment.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/river/index" class="heading">
                    <h2 id="sub-menu-heading">River<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-bus">About River Bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-tours">About River Tours</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/river/woolwich-ferry">Woolwich Ferry</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/river/the-river-experience">The river experience</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/corporate-and-private-boat-hire">Corporate & private boat hire </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/explore-london-tickets">Explore London tickets</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Woolwich ferry is a free service linking Woolwich and North Woolwich. It carries pedestrians, cyclists, cars, vans and lorries";}
        
            
        


 