
    
  



@{ViewBag.Title = "Broadway";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture/broadway";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/art-and-design">Art & design</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture">Station architecture</a></li>
                
            
            
                <li><span class="last-breadcrumb">Broadway</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Broadway</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Despite causing controversy in the 1920s, the 55 Broadway building has become an architectural design classic.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/broadway-culture-and-heritage_rdax_400x250.jpg" alt="55 Broadway" />
        
        
        
    </div>
    
        <h2>Origins</h2>
        <p>In 1927, when the Underground Group decided it wanted its new headquarters to reflect its bold vision of the future, they hired architects Adams, Holden and Pearson for the job. </p>
        <p>It was a challenging job from the start. With its irregular shape and depth (St James's Park station sitting just 7.3 metres below the site, Adams, Holden and Pearson's job was a difficult one. They managed to get around it, however, by incorporating the cross-shaped layout into their design. Doing this benefitted everyone, including staff who now had more natural light, and pedestrians who were able to walk through the ground floor of the offices and across the station booking hall.&nbsp; </p>
        <p>The architects also planned that 55 Broadway would be the tallest building in London. </p>
        <h2>A work of art</h2>
        <p>Built between 1927 and 1929, 55 Broadway was immediately considered a radical building, and not just because of its height. A number of contemporary artists were invited to sculpt decorative features into the stone facade: two just above street level and a further eight above the sixth floor windows on each side of all four wings. But even some of the sculptures caused offence. Jacob Epstein's sculptures (the ones nearest street level) were condemned as primitive, ugly and indecent - as a result, he offered his resignation. It was declined but in the spirit of compromise, Epstein chipped half an inch from the penis of the sculpted, naked young boy. </p>
        <p>Adams, Holden and Pearson's radical approach paid off when The Royal Institute of British Architects acknowledged their work on 55 Broadway with the London Architectural Medal, in 1929.&nbsp; </p>
        <h2>
        Since construction</h2>
        <p>During World War Two, the west wing suffered considerable bomb damage. It was rebuilt soon after but without the original Portland stone facing (because it wasn't readily available at the time). The Portland stone was reinstated in 1963.</p>
        <p>The building was refurbished in the 1980s. The exterior stone work was cleaned, the windows replaced with exact replicas, and a new street-level shopping mall allowed the re-opening of the eastern entrance to the building.</p>
        <p><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/accessing-our-archives">To find out about 55 Broadway, or research our other designs, contact the Corporate Archives team</a>.</p>
        &nbsp;
    
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/art-and-design" class="heading">
                    <h2 id="sub-menu-heading">Art & design<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture">Station architecture</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture/broadway">Broadway</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/harry-becks-tube-map">Harry Beck's Tube map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/the-roundel">The Roundel</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Despite causing controversy in the 1920s, the 55 Broadway building has become an architectural design classic.";}
        
            
        


 