


@{ViewBag.Title = " Plans to build hundreds of new affordable homes in Kidbrooke given the go-ahead";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> Plans to build hundreds of new affordable homes in Kidbrooke given the go-ahead</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> Plans to build hundreds of new affordable homes in Kidbrooke given the go-ahead</h1>
        <div class="content-page-press-release">
        01 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London and Notting Hill Genesis given the green light to build more than 600 homes in Kidbrooke
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Transport for London (TfL) and Notting Hill Genesis &#45; working together as part of the Kidbrooke Partnership LLP joint venture &#45; have been given the go-ahead to deliver more than 600 homes, of which 50 per cent will be affordable, in Kidbrooke. This follows the decision by the Deputy Mayor, Jules Pipe, to call in the application and act as the local planning authority.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The development, which has been designed by Glenn Howells Architects, will be built on a vacant four-acre site in the Royal Borough of Greenwich and will deliver 619 new homes across eight buildings. The new homes will be a mixture of one, two and three-bedroom properties. The affordable homes being delivered as part of the plans will be a mixture of shared ownership and London Affordable Rent.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">As well as providing new homes, the proposals for the site will improve and provide new amenities for the community, such as an improved transport hub and a new village square. The village square will offer the community fresh spaces to shop, eat and relax with a new caf&eacute; and convenience store. The plans for Kidbrooke, which look to sustainably regenerate an underutilised brownfield site, also incorporate nature as part of their design with new green walkways and parts of the existing woodland being retained.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The site benefits from its proximity to the Zone 3 Kidbrooke national rail station and the bus stops on Kidbrooke Park Road.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The Mayor of London, Sadiq Khan,&nbsp;provided additional funding from London's business rates to allow TfL to bring forward plans for a new bus route in Kidbrooke near the site, which was launched on Saturday, following community consultation. Running between Kidbrooke Village and North Greenwich via Blackheath Royal Standard, the 335 bus route connects new homes in the area to the key transport hub at North Greenwich.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The proposals will support the local economy by providing 2,200 sq. m of non-residential space, which will be a mixture of a new nursery, retail and commercial space. This includes eight new business units, which will be suitable for a range of companies including small start-ups and those in the creative industry. The site will also boost employment with hundreds of jobs estimated to be required during the construction phase of the project, which is expected to begin in 2020, and more than 120 permanent jobs anticipated on site once the work has been completed.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Graeme Craig, Director of Commercial Development at TfL, said: </strong>&quot;Kidbrooke offers us a great opportunity to deliver homes the capital desperately needs and we are delighted to have been given the green light to take our proposals forward with Notting Hill Genesis.&nbsp; As well as providing hundreds of new homes, of which half will be affordable, our plans will deliver new and improved amenities for the community and support the economy of the area by providing fantastic new retail and commercial space and job opportunities. The development will also generate vital revenue to reinvest into the transport network.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>John Hughes, group director of development at Notting Hill Genesis, said: </strong>&quot;We are delighted to have been given the go-ahead for this exciting new development. Our vision is to create a high-quality, mixed-use development which completes the new local centre at Kidbrooke and contributes positively to the regeneration of the area for the benefit of the whole community. Alongside the creation of thoughtfully designed buildings, extensive public realm, business space and new amenities, we look forward to delivering 619 much needed new homes, half of which will be either London Affordable Rent or shared ownership, to meet London and Greenwich's significant housing need.&quot;<br />
<br />
<strong><strong>Umesh Luharia, Studio Director at Glenn Howells Architects, said:</strong></strong> &quot;We are very excited that Kidbrooke Station Square will create an attractive and vibrant new place to live and will be integrated into local transport that includes trains and buses at its heart. Delivering affordable homes is vital for London and this development will provide 50 per cent housing along with high quality spaces, public realm and architecture. We are creating a sustainable development within which people can truly work live and play.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">This site forms part of TfL's wider housing programme, which has an ambitious target to start on TfL sites with capacity for 10,000 homes by March 2021 as well as a commitment to deliver 50 per cent affordable housing across all sites brought to the market since May 2016. Construction has already started on more than 740 homes as the programme continues to build momentum, with up to 1,000 homes expected to be started on site by the end of this financial year and the majority of schemes expected to start in 2020/21.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Additional Information</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Network Rail currently owns approximately 26 per cent of the land on the site in Kidbrooke and has granted a long leasehold interest to enable this land to be used by the joint venture to facilitate an improved transport hub.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The site was previously part of an RAF base and was then used as operational land during the construction of the A2. It has since been largely unoccupied, apart from Henley Cross bus stop.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Notting Hill Genesis is one of the partners on the TfL Property Partnership Framework as part of Triangle London Developments, their consortium with U+I.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Notting Hill Genesis is one of the largest housing associations in the country, with around 64,000 homes across London and the south-east, serving more than 170,000 residents. It was formed in April 2018 when Notting Hill Housing amalgamated with Genesis Housing Association. It is a social enterprise committed to creating thriving communities and providing homes for lower-income households. Notting Hill Genesis owns and manages homes across a range of tenures including social, affordable and private rent, leasehold, care and support, temporary housing and Shared Ownership, of which we are the largest provider in the country. For more information, visit <a href="https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.nhggroup.org.uk&amp;data=02%7C01%7CWayne.Tuckfield%40nhhg.org.uk%7C8e83e1e008194e6ddd9808d71759ae16%7C5e66e4c4c0f14c5ca3e7775eb7b48787%7C0%7C0%7C637003546256883691&amp;sdata=1VJ%2BCPbg38joV2xjS9XiHxEhYt%2FRrXSE%2Br%2FYbklcVMM%3D&amp;reserved=0" style="text-decoration: none;">nhggroup.org.uk</a>.</span></span></span></li>
</ul>

<p><span style="font-size:12.0pt">In 2016, TfL launched the Property Partnership Framework. Following a competitive tender process, TfL approved the appointment of 13 leading property development companies and consortiums that it could work with to develop its sites. This provides a ready pool of partners eligible to bid to work with TfL in joint ventures as sites become available. This will ensure thousands of homes, offices and retail spaces across London can be delivered more efficiently and quickly. You can find out more by visiting: <a href="https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftfl.gov.uk%2Finfo-for%2Fbusiness-and-commercial%2Fproperty-development&amp;data=02%7C01%7CWayne.Tuckfield%40nhhg.org.uk%7C8e83e1e008194e6ddd9808d71759ae16%7C5e66e4c4c0f14c5ca3e7775eb7b48787%7C0%7C0%7C637003546256893683&amp;sdata=i1thDSTfuEKD79iITI5wAMtKIRcYgVBCvSZs9rZ8oFU%3D&amp;reserved=0" style="text-decoration: none;">https://tfl.gov.uk/info-for/business-and-commercial/property-development</a></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November- Plans to build hundreds of new affordable homes in Kidbrooke given the go-ahead -->

 
 
        
        
            @{ViewBag.Description = "Plans to build hundreds of new affordable homes in Kidbrooke given the go-ahead";}
        
        


 