


@{ViewBag.Title = "Boost for future of river transport as collaborative Pier Strategy published";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Boost for future of river transport as collaborative Pier Strategy published</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Boost for future of river transport as collaborative Pier Strategy published</h1>
        <div class="content-page-press-release">
        06 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Strategy will ensure close collaboration to maximise usage of the Thames and help make trips in London more sustainable
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Transport for London (TfL) has unveiled its plans for a safe and sustainable doubling of the number of trips on the Thames, and make the river an integral part of the transport network again. The Passenger Pier Strategy, which was published today (Wednesday 6 November), sets out how TfL, the Port of London Authority (PLA) and boat operators and other stakeholders can work together to improve the network of piers and river services.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">This will help achieve the PLA's vision to double the number of annual river trips to 20 million by 2035. The strategy will also support the Mayor's aim of 80 per cent of all trips in London to be made on foot, bike or by public transport and help significantly reduce traffic congestion on London's streets.&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The strategy adopts a vision zero approach to safety, and encourages commuting, leisure and tourism while realising the full potential of piers and river services. It also proposes river services that are better integrated with other transport, accessible, easy to use, sustainable and low emission, with a key focus on customer experience. This will help the river play a greater role in reducing car use and freeing up capacity on other public transport.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Gareth Powell, Managing Director of Surface Transport at TfL, said:</strong> &quot;The Thames was integral to London's origins and will play a key role in its future. Our strategy establishes a clear way forward for everyone involved in river transport to get more Londoners out of their cars and to travel on the river in safe, sustainable and easy to use ways, freeing up capacity on other types of public transport and helping to clean up our toxic air.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Heidi Alexander, Deputy Mayor for Transport, said: </strong>&quot;The Thames is one of London's major assets and our Pier Strategy will enable us to maximise its potential fully. By improving our piers and making them more accessible and appealing, we will encourage many more Londoners to travel by river &#45; helping reduce car use, ease congestion and improve air quality.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Robin Mortimer, Chief Executive of the PLA, said:</strong> &quot;This new strategy is a key step in continuing safe and sustainable growth in passenger use of the River Thames &#45; whether that's for Londoners, UK or overseas visitors &#45; the river offers something for everyone.&nbsp; Investment in modern and attractive passenger piers is central to that future growth and great customer experience.&quot; &nbsp;</span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:12pt"><span style="line-height:21.0pt">The strategy proposes that improvements to river services will be achieved through new piers served by extended river bus services, which will make the river a key transport option in east London and support new homes, jobs and growth. To realise the full potential of the river, TfL and the PLA will encourage the delivery of more privately funded, developer-led piers. As part of its plans to improve safety on the Thames, TfL will embed safety requirements in the licensing process of London's passenger piers. Over the past year TfL has improved the river's integration with the wider transport network with enhanced wayfinding at piers and a presence on the pocket Tube map. The strategy aims to build on this with better links to the growing walking and cycling network</span></span></p>

<p><span style="font-size:12.0pt">The Passenger Pier Strategy can be found here: <a href="https://tfl.gov.uk/modes/river/" style="text-decoration: none;">https://tfl.gov.uk/modes/river/</a></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-Boost for future of river transport as collaborative Pier Strategy published -->

 
 
        
        
            @{ViewBag.Description = " Boost for future of river transport as collaborative Pier Strategy published";}
        
        


 