


@{ViewBag.Title = "TfL awards funding to community groups encouraging those of all backgrounds to walk and cycle";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL awards funding to community groups encouraging those of all backgrounds to walk and cycle</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL awards funding to community groups encouraging those of all backgrounds to walk and cycle</h1>
        <div class="content-page-press-release">
        26 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding awarded to projects in 32 London boroughs, including walks for bereaved and isolated people, led cycle rides and cycle maintenance training for young people
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There are so many benefits to walking and cycling from keeping fit to improving wellbeing and we want everyone in London to experience these benefits regardless of their age, ethnicity or physical or mental health"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">TfL&nbsp;has awarded more than &pound;400,000 of grants to 60 community and not-for-profit groups that encourage local people to walk and cycle more.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">The winning projects target a range of traditionally underrepresented groups such as people with physical disabilities, refugees and asylum seekers, and children with Down's Syndrome, enabling them to feel confident while walking and cycling in London.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Walking and Cycling Grants London aims to&nbsp;encourage more people to walk and cycle, addressing the barriers that prevent people from getting active and helping to make London a more sustainable, inclusive and healthy city.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">This is the first year that the grant has included walking projects, with 26 of the 60 projects focusing on walking, helping people to connect with their local communities, learn new skills, get active and improve their physical and mental health.</span></p>

<h2 style="margin-left:0cm; margin-right:0cm"><span style="font-size:20px">Helping people connect</span></h2>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Walking and Cycling projects that have received funding this year include:</span></p>

<ul>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">StriderZ_n_RiderZ &#45; The Hope of Childs Hill, Barnet:</span></strong><span style="font-size:12.0pt"> This project will run regular group walking and cycling sessions aimed the over 50s who may be prone to loneliness, particularly those from lower socio-economic groups</span></span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Dare to Ride &#45; Wheels for Wellbeing, Lambeth, Southwark, Croydon, Lewisham:</span></strong><span style="font-size:12.0pt"> This project will empower Disabled people who currently ride exclusively at their cycling sessions to gradually build up their stamina and confidence to participate in a cycling event, such as RideLondon. This follows seven disabled participants who took part in Freecycle, and a further five in RideLondon 19 last year</span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Walkie Talkie &#45; Time and Talents, Southwark:</span></strong><span style="font-size:12.0pt"> This project will run two compementary walks, focused on the health and wellbeing of older people in the community, in order to tackle loneliness and improve mental health</span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Wildlife Walks &#45; Hammersmith Community Gardens, Hammersmith &amp; Fulham:</span></strong><span style="font-size:12.0pt"> A series of walks around wildlife sites in London and the home counties over the winter period will help the Gardens' volunteers, who are often socially isolated and vulnerable, to keep more active during a quieter time of year</span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Cycling for Children with Coordination Difficulties &#45; NHS, Haringey:</span></strong><span style="font-size:12.0pt"> Children with coordination difficulties, including dyspraxia and Down's Syndrome, will be taught how to cycle in order to help overcome their high risk of being excluded from physical activity</span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Bereavement Walks &#45; Charlton Athletic Community Trust, Greenwich:</span></strong><span style="font-size:12.0pt"> Bereaved people will be able to share their experiences with others in a similar situation while walking, as well as accessing counselling support</span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Hornbeam Green Walking &#45; The Hornbeam Centre, Waltham Forest:</span></strong><span style="font-size:12.0pt"> Encouraging women from minority ethnic backgrounds who currently do less than 30 minutes exercise a day to walk regularly. Forest walks will be included to help them learn to explore the local area and learn about the medicinal values of plants</span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Step by Step &#45; Icycle, Hackney, Haringey:</span></strong><span style="font-size:12.0pt"> This project helps disabled children to cycle safely and independently through weekly 1:1 cycling sessions using adapted bikes, teaching them about road safety and how to maintain a bike</span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">BikeWize &#45; Trailnet CIC, Barking and Dagenham: </span></strong><span style="font-size:12.0pt">Young people aged between 14 and 21 years old, will be taught the basics of bike maintenance through a series of courses, increasing their confidence and understanding of bicycles</span></span></li>
	<li style="margin-left: 0cm; margin-right: 0cm;"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Cycle Sisters Redbridge: </span></strong><span style="font-size:12.0pt">Encouraging cycling among Muslim women by setting up a women-only cycle group offering led rides and cycle training</span></span></li>
</ul>

<h2 style="margin-left:0cm; margin-right:0cm"><span style="font-size:20px">Inspirational projects</span></h2>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong>&nbsp;'There are so many benefits to walking and cycling from keeping fit to improving wellbeing and we want everyone in London to experience these benefits regardless of their age, ethnicity or physical or mental health.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'We're looking forward to seeing the results of these inspirational projects, which are bound to encourage even more Londoners from diverse backgrounds to travel more actively around the capital.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><strong>Martin Petry, Grants Programme Manager, Groundwork London, said:</strong>&nbsp;'More than ever we are seeing a greater need for active travel in London with escalating environmental, social and health issues.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'The expansion of cycling grants to now include walking is a fantastic step towards progress with funding now available to a more diverse range of community projects. These grants will make active travel more inclusive and available to all Londoners.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><strong>Liz Bull-Domican, Fundraising Officer, Wheels for Wellbeing, said: '</strong><em>Dare to Ride</em> will encourage Disabled people who currently attend our off-road inclusive cycling sessions to take up a new and exciting challenge.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'Through a comprehensive training programme, our participants will be able to experience the joy of cycling in parks and on roads whilst also building up their fitness and stamina.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'We will encourage them to partake in events such as RideLondon, with the ultimate aim of demonstrating to both Disabled and non-Disabled communities across London that cycling exists beyond the two-wheeled bicycle!'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><strong>Sarah Javaid, Founder of Cycle Sisters, said: '</strong>We are really excited to be awarded a Walking &amp; Cycling Grant. The funding will enable us to set up a new Muslim women's 'Cycle Sisters' group in Redbridge and offer culturally sensitive social led rides alongside cycle skills training.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'With our community-based approach we are able to break down many barriers to cycling for Muslim women and by extension enable and inspire whole families to get cycling.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'This is important as we are helping to make cycling more inclusive and ensure the life-changing benefits of cycling reach across communities.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><strong>Anthony Dawodu, The Hope of Childs Hill, said: '</strong><em>StriderZ_n_RiderZ </em>will help us to change the behaviours of many hard-pressed local residents, allowing them quality time to enjoy the outdoors with guided walks and rides in the local area.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'Local residents will benefit from the provision of more free family activities that will encourage them to come together and challenge inactivity and engage in influencing change.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><strong>Rachel</strong><strong> </strong><strong>Padwa, Development Officer, Icycle, said:</strong>&nbsp;'The funding&nbsp;will enable Disabled children and young people to participate in cycling sessions where they will be taught how to cycle independently, enabling them to cycle&nbsp;in their own time.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'We will then rent out the bikes that we'll purchase, giving the children the chance to show their skills to their&nbsp;friends and family, thus boosting their&nbsp;confidence, self-esteem and health which in turn will give them a better quality of life.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><strong>Andy McQueen, Greenwich Get Walking Coordinator, Charlton Athletic Community Trust, said: </strong>'Our walks are aimed to be a friendly safe space where people can walk and talk. The funding will provide specialist counsellors and volunteers and the ability to embed a sustainable program within the community.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Since it began, TfL's Cycling Grants London programme has helped 120 projects encourage more than 18,000 people to participate in cycling projects in every borough across London.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">TfL research shows that people felt better physically and mentally when they introduced just 20 minutes of walking and cycling per day into their lives, with benefits including an improved mood, feeling more alert and enjoying discovering new parts of London.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt">The expansion of this funding to include walking is part of TfL's work to encourage Londoners to incorporate more healthy and sustainable travel into their daily journeys. TfL is committed to ensuring that walking and cycling is accessible for all.</span></p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt">
	<p><span style="font-size:14px">Further information on the Walking and Cycling Grants London programme and the current projects is available here:&nbsp;</span><span style="font-size:11.0pt"><a href="https://walkingandcyclinggrants.london/" style="text-decoration: underline;">https://walkingandcyclinggrants.london/</a></span></p>
	</li>
	<li style="margin:0cm 0cm 0.0001pt">
	<p><span style="font-size:14px">Last year more than &pound;240,000 was distributed between 30 community groups across the capital</span></p>
	</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-TfL awards funding to community groups encouraging those of all backgrounds to walk and cycle -->

 
 
        
        
            @{ViewBag.Description = "TfL awards funding to 60 community groups to encourage Londoners from all backgrounds to walk and cycle";}
        
        


 