


@{ViewBag.Title = "TfL asks shoppers to go green this Black Friday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL asks shoppers to go green this Black Friday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL asks shoppers to go green this Black Friday</h1>
        <div class="content-page-press-release">
        27 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Using click and collect, green delivery slots and grouping deliveries can help reduce emissions on the capital's roads
        
    </div>



 <div class="on-this-page">
<p>TfL is asking businesses and consumers to consider greener options to get their items around London as the capital takes advantage of Black Friday offers and the festive shopping season begins.</p>

<p>Lorries and vans are vital for London's economy as half of the value of household expenditure, around &pound;79 billion per year, relies on road freight. &nbsp;However, TfL data shows that increased van and lorry traffic, partly driven by online shopping, contributed to 29 per cent of harmful nitrogen dioxide emissions in central London alone in 2016.&nbsp;</p>

<p>Nitrogen dioxide is a key contributor to London's toxic air, which is threatening the health of millions of Londoners.</p>

<p>As retailers across the capital offer various options to reduce deliveries, it has never been easier to find ways to help reduce the impact of festive deliveries on London's air quality and congestion. Options include:</p>

<ul>
	<li>When ordering online, try a click and collect facility near home - shoppers can get their parcels delivered to a local store or use locker facilities to collect parcels. Click and Collect options can be found across London and by having parcels delivered near home, there is less need for vehicles to come into central London thereby reducing vehicle miles, emissions and road danger. It only takes a few moments to collect parcels and helps avoid missed delivery attempts</li>
	<li>Walk, cycle or use public transport to make the journey to and from local high streets &#45; TfL services will run throughout the festive season (excluding Christmas Day) and off-peak fares in Zones 2-6 start at &pound;1.50</li>
	<li>For festive food deliveries from supermarkets, check if they offer green slots outside peak hours or where they can group deliveries together and avoid several trips being made to the same area</li>
	<li>For essential car journeys, drivers should remember to turn off engines when parked or waiting in long queues of traffic and try to drive as smoothly as possible</li>
	<li>Shoppers with smaller parcels could cycle home using Santander Cycles. Santander Cycles is offering a discount of 25 per cent off annual memberships for Black Friday, which people can access by entering the code 'BlackFriday19' online</li>
	<li>TfL is also giving everyone free access to Santander Cycles for 24 hours throughout December, which includes all 30 minute journeys. Just enter the code 'SCXMAS2019' at the terminal or on the app</li>
</ul>

<p>Click and collect lockers are available at eight Tube stations across the capital and TfL has committed to opening more. TfL is also planning to make more land available for micro-distribution centres in key locations to support sustainable last mile deliveries in neighbourhoods across London, including by bike. Delivery company DPD opened an all-electric depot on TfL land earlier this year which serves a two square mile radius in the heart of Westminster. The depot is completely zero emissions for both incoming and last-mile deliveries.</p>

<p><strong>Alex Williams, Director of City Planning said:</strong> &quot;Black Friday is one of the busiest shopping days of the year and is a really important event for London's shoppers and retailers, but the rise in personal deliveries is affecting air quality in the capital and ultimately our health. Making a simple change like using click and collect or getting to the shops by public transport gives people greener ways of getting their bargains home, making a real difference to congestion on London's roads and air quality.&quot; &nbsp;</p>

<p>TfL is also working directly with business improvement districts to change how they get items delivered. Since December 2017, TfL has invested more than &pound;400,000 in new schemes to make deliveries more efficient, from enabling cycle freight to encouraging waste consolidation. Using TfL funding, businesses in Hammersmith set up a &quot;Parcels not Pollution&quot; service where local shoppers can have items delivered to a hub and couriered by bike the next day. In the first nine weeks since it was set up, 95 businesses and individuals have signed up for the service.&nbsp;</p>

<p><strong>Livia Caruso, Business Engagement Manager, Hammersmith BID said:</strong> &quot;With the large increase in deliveries across Black Friday, Cyber Monday and the festive period, swapping to electric cargo bikes is a more sustainable way to deliver items and reduce the number of freight vehicles on the roads in Hammersmith, particularly at peak times. Parcels Not Pollution offers local businesses, workers and residents a free and easy way to make a positive environmental choice for their shopping this Christmas.&quot;</p>

<p>Notes to editors<br />
•&nbsp;&nbsp; &nbsp;More details about the Santander Cycles scheme is available here: <a href="[ioID]#https://tfl.gov.uk/modes/cycling/santander-cycles">https://tfl.gov.uk/modes/cycling/santander-cycles</a>&nbsp;<br />
•&nbsp;&nbsp; &nbsp;The 'BlackFriday19' code for 25 per cent off annual memberships is valid on 29 November only<br />
•&nbsp;&nbsp; &nbsp;The 'SCXMAS2019' code is valid throughout December, one code per person. 30 minute journeys are included and users must dock cycles within 30 minutes to avoid being charged<br />
•&nbsp;&nbsp; &nbsp;To reduce unnecessary trips or reduce traffic, companies can use TfL's online personal delivery toolkits which give tips for more efficient deliveries and how to consider the environmental and financial impact of sending personal items to their places of work<br />
•&nbsp;&nbsp; &nbsp;For more information on delivery toolkits please see:<a href="[ioID]# https://tfl.gov.uk/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits"> https://tfl.gov.uk/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits</a><br />
•&nbsp;&nbsp; &nbsp;For more information on how TfL is improving air quality please see: <a href="[ioID]#https://tfl.gov.uk/corporate/about-tfl/air-quality">https://tfl.gov.uk/corporate/about-tfl/air-quality</a>&nbsp;&nbsp;<br />
•&nbsp;&nbsp; &nbsp;To find your local Click and Collect point see <a href="[ioID]#https://clickcollect.london/">https://clickcollect.london/</a><br />
•&nbsp;&nbsp; &nbsp;For more information on Hammersmith BID's Parcels not pollution scheme please visit: <a href="[ioID]#https://hammersmithbid.co.uk/our-projects/cleaner-greener-town/parcels-not-pollution/">https://hammersmithbid.co.uk/our-projects/cleaner-greener-town/parcels-not-pollution/</a><br />
&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-TfL asks shoppers to go green this Black Friday -->

 
 
        
        
            @{ViewBag.Description = "TfL asks shoppers to go green this Black Friday";}
        
        


 