


@{ViewBag.Title = "TfL confirms 'pay as you go' fares for bus and Tube frozen for 2020";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL confirms ‘pay as you go’ fares for bus and Tube frozen for 2020</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL confirms ‘pay as you go’ fares for bus and Tube frozen for 2020</h1>
        <div class="content-page-press-release">
        18 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All fares set by TfL frozen during 2020, including the cost of hiring a Santander Cycle
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has confirmed today that all fares set by the Mayor of London will remain frozen at their current prices during 2020.</p>

<p>The fares for 2020 will see 'pay as you go' journeys on the bus, Tube, tram, DLR, TfL-run rail services where TfL fares apply and Emirates Air Line remaining the same as they are currently. The cost of hiring a Santander Cycle will also remain the same - just &pound;2 to access a bike for a day and if the journeys are under 30 minutes there is no additional cost.</p>

<p>By using pay as you go with a contactless or Oyster card, adult off-peak fares including Zone 1 start at &pound;2.40 and off-peak adult Tube, DLR and most London Overground fares within Zones 2-6 are just &pound;1.50. In addition, with the Hopper fare, customers can take unlimited bus and tram journeys across the capital within an hour for just &pound;1.50, with the total cost capped at &pound;4.50 for the whole day.</p>

<p>All TfL travel concessions are also protected, ensuring that children, those over 60, veterans, apprentices and people on specific unemployment benefits continue to benefit from free or discounted travel. As with previous years, Travelcards and associated caps, which are set in agreement with the train operating companies under fares regulations set by the Government, will increase by the July RPI level of 2.8 per cent.</p>

<p><strong>Shashi Verma, Director of Strategy at TfL, said: </strong>&quot;We are committed to making travelling by public transport in London as affordable and convenient as possible. Millions of people travel using bus, Tube and rail services across London and through our pay as you go fares system we are helping to encourage more people out of their cars and onto public transport.&quot;</p>

<p>TfL is also preparing to start running a new TfL Rail service to Reading from 15 December. Between 15 December 2019 and 2 January 2020, existing fares will apply and TfL Rail fares will remain at the same price as the current GWR fares. In line with TfL's policies, children under 11 who are accompanied by an adult, as well as customers who are eligible for the Freedom Pass, will be able to travel free to Reading on the new TfL service.</p>

<p>From 2 January 2020, for the first time, customers will be able to use pay as you go with contactless all the way from Paddington to Reading on both TfL Rail and Great Western Railway (GWR). The TfL Rail fares will be aligned with the National Rail fares to Reading, which will be confirmed in the next few weeks.</p>

<p>By Spring 2020, daily and weekly capping for contactless pay as you go users will be introduced for stations to and from Reading. Until that point, journeys between West Drayton and Reading will not be capped. While TfL is working to deliver capping, customers who should have benefitted from daily capping will automatically be reimbursed to ensure they pay the best fare for their travel.</p>

<p>For more information about TfL's fares, please visit tfl.gov.uk/fares/.</p>

<p><strong>Notes to Editors</strong></p>

<ul>
	<li>The Mayoral Decision for the 2019 fares package is available here &#45; <a href="https://www.london.gov.uk/decisions/md2537-january-2020-fares-changes">https://www.london.gov.uk/decisions/md2537-january-2020-fares-changes</a>&nbsp;</li>
	<li>The Train Operating Companies are expected to raise their fares by 2.8 per cent. This increase is close to the maximum permitted by the guidance from the Secretary of State for Transport which states that no regulated TOC fare should rise by more than the percentage increase in the RPI.</li>
	<li>The Mayor only has the power to set fares on TfL services. Travelcards, and the associated daily and weekly caps, are set in agreement with the private train operating companies (TOCs) under fares regulations set by the Government, which permit regulated fares to increase in line with RPI inflation if no agreement is made. TfL Rail stations beyond West Drayton will be outside of the London Zones. To ensure that it is introduced smoothly to customers, the introduction of pay as you go with contactless is being launched alongside the annual fares changes on 2 January 2020.</li>
	<li>As previously announced, Pay as you go with Oyster will not be extended to services beyond West Drayton, due to limitations with the system, which is now more than 15 years old. Millions of journeys in and around London are already being made using contactless every day; with 60 per cent of rail pay as you go journeys made using contactless</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-TfL confirms ‘pay as you go’ fares for bus and Tube frozen for 2020 -->

 
 
        
        
            @{ViewBag.Description = " TfL confirms 'pay as you go' fares for bus and Tube frozen for 2020";}
        
        


 