


@{ViewBag.Title = "Uber London Limited found to be not fit and proper to hold a private hire operator licence";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Uber London Limited found to be not fit and proper to hold a private hire operator licence</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Uber London Limited found to be not fit and proper to hold a private hire operator licence</h1>
        <div class="content-page-press-release">
        25 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pattern of failures placed passenger safety and security at risk meaning TfL cannot renew licence
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Safety is our absolute top priority"</div>
        <div class="quote-footer">
            <div class="quotee-name">Helen Chapman</div>
            <div class="quotee-job-title">Director of Licensing, Regulation and Charging at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">TfL&nbsp;has concluded that it will not grant Uber London Limited (Uber) a new private hire operator's licence in response to its latest application.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">As the regulator of taxi and private hire services in London, TfL is required to make a decision on Uber's fitness and propriety before its current licence expires. Safety is TfL's number one priority.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">Uber has made a number of positive changes and improvements to its culture, leadership and systems in the period since the Chief Magistrate granted it a licence in June 2018.&nbsp;</span></span></span><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">This includes interacting with TfL in a transparent and productive manner.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">However, TfL has identified a pattern of failures by the company including several breaches that placed passengers and their safety at risk.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">Despite addressing some of these issues, TfL does not have confidence that similar issues will not reoccur in the future, which has led it to conclude that the company is not fit and proper at this time.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">In September Uber was granted a two-month licence as further information was required on these issues, some of which emerged late in the process of its reapplication.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">A key issue identified was that a change to Uber's systems allowed unauthorised drivers to upload their photos to other Uber driver accounts.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">This allowed them to pick up passengers as though they were the booked driver, which occurred in at least 14,000 trips - putting passenger safety and security at risk.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">This means all the journeys were uninsured and some passenger journeys took place with unlicensed drivers, one of which had previously had their licence revoked by TfL.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">Another failure allowed dismissed or suspended drivers to create an Uber account and carry passengers, again compromising passenger safety and security.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">TfL recognises the steps that Uber has put in place to prevent this type of activity. However, it is a concern that Uber's systems seem to have been comparatively easily manipulated.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">Other serious breaches have also occurred, including several insurance-related issues. Some of these led TfL to prosecute Uber earlier this year for causing and permitting the use of vehicles without the correct hire or reward insurance in place.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">While Uber has worked to address these issues, they highlight the potential safety risk to passengers of weak systems and processes.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">This pattern of regulatory breaches led TfL to commission an independent assessment of Uber's ability to prevent incidents of this nature happening again.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">This work has led TfL to conclude that it currently does not have confidence that Uber has a robust system for protecting passenger safety, while managing changes to its app.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">Legislation means that Uber now has 21 days to appeal, during which it can continue to operate pending any appeal and throughout any potential appeals process. Uber may seek to implement changes to demonstrate to a magistrate that it is fit and proper by the time of the appeal.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">While Uber continues to operate, TfL will continue to closely scrutinise the private hire operator, which includes the need for Uber to meet the 20 conditions set by TfL in September 2019, and particular attention will be paid to ensuring that the management have robust controls in place to manage changes to the Uber app so that passenger safety is not put at risk.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">Helen Chapman, Director of Licensing, Regulation and Charging at TfL, said: 'As the regulator of private hire services in London we are required to make a decision today on whether Uber is fit and proper to hold a licence.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">'Safety is our absolute top priority. While we recognise Uber has made improvements, it is unacceptable that Uber has allowed passengers to get into minicabs with drivers who are potentially unlicensed and uninsured.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">'</span></span></span><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">It is clearly concerning that these issues arose, but it is also concerning that we cannot be confident that similar issues won't happen again in future.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">'If they choose to appeal, Uber will have the opportunity to publicly demonstrate to a magistrate whether it has put in place sufficient measures to ensure potential safety risks to passengers are eliminated.</span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">'If they do appeal, Uber can continue to operate and we will closely scrutinise the company to ensure the management has robust controls in place to ensure safety is not compromised during any changes to the app.'</span></span></span></p>

<hr />
<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><strong><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">Notes to editors</span></span></span></strong></p>

<ul>
	<li style="margin: 0cm 0cm 8pt;"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">Last year Uber London Limited received a 15-month private hire operator's licence from the Chief Magistrate with conditions</span></span></span></li>
	<li style="margin: 0cm 0cm 8pt;"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:10.0pt">The Private Hire Vehicles (London) Act 1998 includes provision to appeal a licensing decision within 21 days of it being communicated to the applicant. Uber London Limited can continue to operate until any appeal processes have been exhausted or withdrawn</span></span></span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-Uber London Limited found to be not fit and proper to hold a private hire operator licence -->

 
 
        
        
            @{ViewBag.Description = "Uber London Limited found to be not fit and proper to hold a private hire operator licence";}
        
        


 