
    
  



@{ViewBag.Title = "Red route dispensations";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/dispensations";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Red route dispensations</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Red route dispensations</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>In special circumstances we can relax the parking rules, for example if you are moving house, making a bulky delivery or undertaking building works. </p>
        
      </div>
    
    
      <h2>What is a dispensation?</h2>
<p>Parking on <a href="/modes/driving/red-routes/red-route-maps">red routes in London</a> is strictly controlled to keep traffic moving. If you park your vehicle on a red route in contravention of the regulations, you could receive a penalty charge notice (PCN).</p>
<p>In some cases we will allow exemptions to the existing parking controls. These are known as dispensations.</p>
<p>You will need a dispensation to either:</p>
<ul>
    <li>Load or unload for longer than a bay's time limit</li>
    <li>Park on red lines during restricted hours</li>
</ul>
      
           
      <div>

<p>We manage parking dispensations along red routes. Dispensations for roads that have yellow lines are managed by the relevant London Borough. You will need to contact them to arrange a yellow line dispensation.</p>

<h2>Dispensation costs</h2>

<p>The cost of a red route dispensation depends on the restriction in place at the location. If you need to stop on either a double red or a single red restriction, the fee is &pound;48 per day per vehicle. If you wish to stop in a loading or parking bay, it is &pound;38 per day per vehicle.</p>

<p>Payment is required for approved dispensation applications, by payment card, prior to the issue of your permit. You will not be charged if your application is unsuccessful.</p>

<p>If you intend to apply by post and pay by cheque, you need to allow 10 working days for the cheque to clear before we can process your application.</p>

<p>In certain cases, and at the discretion of TfL, these charges may be waived for certain activities.</p>

<h2>Applying for a dispensation</h2>

<p>Contact us as early as possible if you want to apply for a red route dispensation. We need at least 6 working days (including the day we receive your request) to process your application.</p>

<p>To request a dispensation, call us on 0343 222 3333, press option 2 to make an enquiry and the star key to speak to an adviser&nbsp;(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>). You must have the following information to hand when you call:</p>

<ul>
	<li>Date and time you need the dispensation</li>
	<li>Reason for the dispensation</li>
	<li>Precise location (street name, adjacent property number/name)</li>
	<li>Red route controls in place at that site</li>
	<li>Your contact details, including email address</li>
	<li>Description of the vehicle(s) you wish to apply for. For example, car, van or lorry</li>
</ul>

<p>We do not need the vehicle's number plate (Vehicle Registration Mark) at this point in the application. When the application is approved, we will need this before you pay.</p>

<p>We will review your application to consider the impact of your request on other road users. Traffic engineers may have to assess the impact on traffic flow and decide if there is a conflict with other scheduled activity or works.</p>

<p>A dispensation may not be granted where reasonable parking alternatives are available or simply for reasons of convenience. For example, if you are making a delivery, we would expect loading/unloading to take place in nearby parking or loading bays rather than immediately outside a property.</p>

<p>Dispensations requested for parking on single or double red lines are only granted in exceptional circumstances (such as erecting scaffolding, moving heavy items). This often requires special consideration and a review by our traffic engineers, and could involve carrying out a site visit before the application can be granted.</p>

<h2>If your dispensation is approved</h2>

<p>We will contact you to confirm that your request has been approved and to ask for payment by payment card.</p>

<p>We will then require the following details of your vehicle(s):</p>

<ul>
	<li>Number plate (Vehicle Registration Mark)</li>
	<li>Make, model and colour</li>
</ul>

<p>Once payment is received, we will email you a permit to be placed on the vehicle's dashboard. This will alert other road users that you have permission to stop your vehicle there. The dispensation is only valid if the permit is on display.</p>

<h2>If your dispensation is refused</h2>

<p>We may refuse your request for a dispensation where the impact on the red route is considered to be too great or where the grounds for the dispensation are not considered appropriate.</p>

<p>Where possible, we will try to offer an alternative to your request. This may be an alternative time or an alternative location to the one you requested.</p>

<h2>If your plans change</h2>

<p>Refunds are not granted once a permit has been approved and issued, even where the permit is unused.</p>

<p>The re-issue of a permit will be considered subject to:</p>

<ul>
	<li>A minimum of one working days' notice prior to the approved permit's start date</li>
	<li>The revised permit details being provided, for consideration, at the time of the re-issue request</li>
	<li>A permit being re-issued once only</li>
</ul>

<h2>Yellow lines</h2>

<p>Red route parking dispensations are managed by TfL. Dispensations for roads which have yellow lines are managed by the relevant London Borough. You will need to contact them to arrange a yellow line dispensation. Find parking contact details on the <a href="/modes/driving/red-routes/penalty-charge-notices/local-authority-pcns">Local Authority PCNs page</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Red routes</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 3333<br />
                
                
                
                
                
                
            </p>
            <p>08:00-20:00 Monday to Friday, closed on weekends and bank holidays (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            
            
            <p>
                
                Transport for London <br />
                PO Box 335<br />
                Darlington DL1 9PU<br />
                
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/modes/driving/red-routes/contact-red-routes" class="plain-button">Contact red routes</a>
        </div>
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "The circumstances in which we can relax red routes parking rules";}
        
            
        


 