
    
  



@{ViewBag.Title = "Red routes complaints procedure";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/red-routes-complaints-procedure";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Red routes complaints procedure</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Red routes complaints procedure</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>This complaints procedure covers the enforcement of parking and traffic regulations on red routes only and does not apply to any other TfL service.</p>
        
      </div>
    
    
      <p><strong>If your complaint is about any other aspect of our service, please see the <a href="/help-and-contact/">Help &amp; contacts section</a>. </strong></p>

<p>Do not use this procedure to challenge the validity of a Penalty Charge Notice (PCN). Disputes over penalty charges have their own statutory representations and appeals procedure. <a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Find out about making a representation</a>.</p>

<p>You can discuss the matter with staff in our customer service team before you write to us. They will try to resolve the problem for you. If you are still not satisfied, please follow the process below.</p>

<h2>How to make a complaint</h2>

<p>The formal procedure has three stages. Please provide any reference numbers that you may have for each one.</p>

<h3>Stage one</h3>

<p>Choose from one of the following options to lodge a formal complaint:</p>

<p><strong>Online: </strong>Use our form to make a complaint.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/te-contact-us-make-a-complaint-wizard-25434" class="secondary-button no-hover"   title="Make a complaint online">Make a complaint</a>

    </div>
</div> 
 
</div>
 <div>

<p><strong>Phone:</strong> 0343 222 3333 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>

<p>Please make sure you have any details you think relevant to hand before calling.</p>

<p><strong>Post:</strong><br />
Customer Services Manager<br />
Transport for London<br />
PO Box 335<br />
Darlington DL1 9PU</p>

<p>We will normally send written replies within 10 working days or let you know if there is going to be a delay.</p>

<h3>Stage two</h3>

<p>If you're not satisfied with our response, you can write to:</p>

<p>Customer Correspondence Manager<br />
TfL Road User Charging<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<p>We will respond within 10 working days. If a full investigation is needed it may take a little longer, but we'll let you know the reasons for the delay.</p>

<h3>Stage three</h3>

<p>If you are still unhappy after the second stage, you may ask us to conduct a final review by writing to: &nbsp;</p>

<p>General Manager<br />
TfL Road User Charging<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<p>The General Manager will conduct a full review, usually within 10 working days, and will respond with our final position.</p>

<h2>Local Government Ombudsman (LGO)</h2>

<p>The LGO is an independent national service that investigates complaints against local authorities, including Transport for London.</p>

<p>If you've been through our complaints procedure and are still dissatisfied, you may choose to escalate your complaint to the LGO at the address below.</p>

<p>You're entitled to contact the LGO without completing our complaints procedure, but in such cases the LGO may refer your complaint back to us, to allow us the opportunity to resolve your issue.</p>

<p>The Local Government Ombudsman<br />
PO Box 4771<br />
Coventry CV4 0EH</p>

<ul>
	<li><a href="http://www.lgo.org.uk/contact-us">Contact the LGO</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-routes-complaints-procedure">Red routes complaints procedure</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Red routes</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 3333<br />
                
                
                
                
                
                
            </p>
            <p>08:00-20:00 Monday to Friday, closed on weekends and bank holidays (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            
            
            <p>
                
                Transport for London <br />
                PO Box 335<br />
                Darlington DL1 9PU<br />
                
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/modes/driving/red-routes/contact-red-routes" class="plain-button">Contact red routes</a>
        </div>
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "How to make a complaint about parking and traffic regulations on red routes";}
        
            
        


 