
    
  



@{ViewBag.Title = "Rules of red routes";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/rules-of-red-routes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Rules of red routes</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Rules of red routes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>We're responsible for the Transport for London Road Network (TLRN) - known as 'red routes' because of the painted red lines. </p>
        
      </div>
    
    
      <h3>Most important roads in London
</h3>
<p>These roads are London's main routes, and although they make up only 5% of the total road length, they carry more than 30%
of London's traffic. <a href="/modes/driving/red-routes/red-route-maps">See a map of London's red routes</a>.</p>
<p>Our priority is to keep London moving and reduce delays, not raising revenue through fines. We are trying to help people understand red routes so that they avoid an unnecessary fine.</p>
<p>Signs and road markings along the red routes tell you what you can
and can't do. If you don't follow signs and markings, we may issue you
with a Penalty Charge Notice (PCN).
</p>
<p>We monitor the following on red routes:</p>
<ul>
    <li>Parking and loading</li>
    <li>Yellow box junctions and banned turns</li>
    <li>Bus lanes </li>
</ul>
<h3>Local Authority roads
</h3>
<p>The majority of roads in London are managed by local councils. Roads
with yellow lines or pay and display meters, parking meters or
residents' parking bays are all managed by the local London Authority
and not us. If you have any queries or receive a PCN in relation to these roads, please contact the relevant council who will be able to help.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">Loading for the public</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions">Yellow box junctions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/banned-turns">Banned turns</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/bus-lanes">Bus lanes</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/parking">Parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Blue Badge (disabled) parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/red-lines-and-no-stopping">Red lines and no stopping</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 3333 <br />
                
                
                
                
                
                
            </p>
            <p>08:00-20:00 Monday to Friday, closed on weekends and bank holidays (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            
            
            <p>
                
                Transport for London<br />
                PO Box 335<br />
                Darlington DL1 9PU<br />
                
            </p>
            
            
    
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/modes/driving/red-routes/contact-red-routes" class="plain-button">Contact red routes</a>
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/coach-drivers/special-parking-arrangements" class="plain-button">Coach parking</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/browse/driving/highway-code" class="plain-button">The Highway Code</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "The rules of the Transport for London Road Network (TLRN), known as 'red routes'";}
        
            
        


 