


@{ViewBag.Title = "2008 fares package ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>2008 fares package </h1>
        <div class="content-page-press-release">
        30 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Following the recent 10 per cent reduction in single bus fares, by freezing cash fares for 2008 I am now ensuring that the benefits will be felt by millions more Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor of London</div>
            <div class="quotee-job-title">Ken Livingstone</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Following the recent 10 per cent reduction in single bus fares, by freezing cash fares for 2008 I am now ensuring that the benefits will be felt by millions more Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Mayor of London, Ken Livingstone, today announced there will be no increase in any single fares, whether using Oyster or cash, on London's bus, Tube, tram, and Docklands Light Railway (DLR)&nbsp;network in the new fares package for 2008. </p>
<p>Once retail price inflation at around four per cent is taken into account, single bus fares on Oyster will be around 14 per cent lower, and single Tube fares around four per cent lower, than in January 2007.</p>
<p>Prices for Travelcards must also be approved by the National Rail Train Operating Companies. </p>
<p>The cost of One Day Travelcards and Travelcard Season Tickets will therefore rise in line with the retail price index - as agreement of the Train Operating Companies would be necessary for any lower prices.</p>
<p>Taking into account inflation, average bus fares, including Travelcards, cash singles, Bus Passes and Pay As You Go combined, will be around seven per cent lower in real terms than in January 2007. </p>
<h2>Economic success </h2>
<p>Average Tube fares, including Travelcards, cash singles and Pay As You Go, will be around one per cent lower in real terms than they were in January 2007.</p>
<p>Mayor of London, Ken Livingstone said: "Single Tube, bus, DLR and tram fares will be frozen from January 2008, as we look to share the city's economic success with our passengers.</p>
<p>"Record passenger numbers and careful control of operating costs have boosted transport revenues. </p>
<p>"Following the recent 10 per cent reduction in single bus fares, by freezing cash fares for 2008 I am now ensuring that the benefits will be felt by millions more Londoners.</p>
<h2>Free travel schemes</h2>
<p>"The 2008 fares package also builds on free travel schemes for older and disabled people, for children and young people, and the half price travel scheme for Londoners on Income Support.</p>
<p>"Average real bus fares are now lower than when I took office in 2000, and average real Tube fares have scarcely risen, while a &pound;10 billion five year investment programme is being delivered. </p>
<p>"The success of London's economy, and in negotiations with national government, is reflected in this fares package."</p>
<p>London's Transport Commissioner, Peter Hendy, said: "Daily passenger ridership on buses has now reached 6.1 million and the Tube carried more than a billion passengers for the first time last year. </p>
<h2>Fares freeze</h2>
<p>"Keeping operating costs down has delivered savings making today's fares freeze possible whilst we continue to invest in improving the public transport network." </p>
<p>The average real, inflation adjusted, fare paid per bus journey has fallen from 58p to 53p between 2000 and 2008 - that is a real nine per cent reduction in eight years. </p>
<p>The average real tube fare has only risen from &pound;1.41 to &pound;1.43 - that is an increase of 1.4 per cent a year over eight years, or an average real increase of 0.2 per cent a year. </p>
<p>Tube fare revenue is projected to increase by 11 per cent this year - from &pound;1,417m last year to &pound;1,570m. </p>
<p>Bus far revenue is projected to increase by five per cent - from &pound;1,003 to &pound;1,053m.</p>
<h2>Details of the fares package </h2>
<p>Single bus fares are frozen. </p>
<p>This follows the 10 per cent Oyster Pay As You Go bus and tram fare cuts introduced in September, and will mean a single bus journey remains at 90p. </p>
<p>The weekly bus pass was reduced from &pound;14 to &pound;13 in September and it too will be frozen for the coming year. </p>
<p>The One Day Bus Pass is frozen at &pound;3.50. </p>
<p>Only a little more than two per cent of bus journeys are now paid in cash. </p>
<p>Single Tube fares are also frozen, with the price of a single journey in central London being held at &pound;1.50 when using Oyster, and &pound;4 when paying by cash. </p>
<p>A little over three per cent of Tube fares are now paid in cash. </p>
<p>The cost of One Day Travelcards and Travelcard Season Tickets will rise in line with inflation as these fares also apply on National Rail, and the agreement of the Train Operating Companies would be necessary for any lower fares.</p>
<p>Therefore:&nbsp; </p>
<p>On the buses and Croydon Tramlink: </p>
<ul>
<li>The Oyster peak single fare remains at 90p&nbsp; - the Oyster daily price cap is also frozen, which means Oyster users will never pay more than&nbsp; &pound;3 regardless of how many trips they make each day </li>
<li>The cash single fare is frozen at &pound;2 </li>
<li>The One Day Bus Pass is frozen at &pound;3.50 and the 7-day Bus Pass is frozen at &pound;13 </li>
<li>The bus Saver price remains at &pound;6 for six trips </li>
<li>In the last year, cash use on buses has dropped from 5.3 per cent of all journeys to 2.3 per cent </li>
<li>With the September reductions in Oyster pay as you go and 7-day bus passes in September there is a real fare reduction of around seven per cent compared to January 2007</li></ul>
<p>On the Tube and Docklands Light Railway:</p>
<ul>
<li>All Oyster single fares are frozen across London and the Oyster daily price cap for adults remains 50p below the One Day Travelcard price </li>
<li>The cash single fare is frozen at &pound;4. Only 3.4 per cent of Tube fares are now paid in cash </li>
<li>Travelcards will rise by around RPI giving an overall real fares decrease of around one per cent </li>
<li>Cash use on the Tube has dropped from 5.7 per cent a year ago to 3.4 per cent</li></ul>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Passengers will also be able to use Oyster and Travelcards on Transport for London's (TfL's) new London Overground service, after the North London Railway transfers to TfL on 11 November 2007. The fare package outline here will apply from January 2008</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Ken Livingstone, today announced there will be no increase in any single fares, whether using Oyster or cash, on London's bus, Tube, tram, and Docklands Light Railway (DLR)&nbsp;network in the new fares package for 2008. Once retail price";}
        
        


 