


@{ViewBag.Title = "Give commuter cycling a spin at Cycle Show 2007";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Give commuter cycling a spin at Cycle Show 2007</h1>
        <div class="content-page-press-release">
        09 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Visitors to this weekend's Cycle Show will get the chance to find out what it's like to cycle in the Capital, on Transport for London's (TfL's) special indoor commuter and children's cycle tracks.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"2007 has been the year of the bike with London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jenny Jones</div>
            <div class="quotee-job-title">Mayor of London's Green Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            2007 has been the year of the bike with London 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The adult cycle track takes a lighthearted look at the whole range of different road and weather conditions cyclists can experience on their way from home to work. </p>
<p>And while the adults are trying out their commuter cycling skills, children visiting the show can ride around a track that is a scaled-down version of London, complete with miniature sized Big Ben and Tower Bridge.&nbsp; </p>
<p>Adult and children's bikes will be available to anyone wanting to have a spin on the cycle tracks, and 'Bikeability' trained cycling instructors will be on hand to offer advice and support. </p>
<p>Jenny Jones, Mayor of London's Green Transport Adviser, said: "2007 has been the year of the bike with London hosting the Tour de France Grand Depart, the start of the Tour of Britain and the Hovis London Freewheel. </p>
<p>"These events have all helped to build on the real enthusiasm for cycling in the Capital leading to a massive 83 per cent increase in cycling. </p>
<h2>Test tracks</h2>
<p>"Transport for London's commuter and children's cycle test tracks at the Cycle Show are a fun way of encouraging people to start cycling to school or work, and I hope people will come down, have a go and decide to try it themselves for real."</p>
<p>Tour de France fans can re-live this summer's Tour de France Grand Depart weekend in London and Kent at the Cycle Show.</p>
<p>A retrospective exhibit will be held in the entrance hall of Earls Court One, where the cycle show is being held.<br></p>
            <p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>The Cycle Show takes place at Earls Court Exhibition Centre, and it is open to the public from 12-14 October. Tickets cost &pound;10.50 in advance or &pound;13.50 on the door for adults. TfL is helping to make it a great day out for the family, by sponsoring the Cycle Show's 'kid for a quid' promotion - under-12s get in for just &pound;1 when accompanied by an adult. Tickets are available from <a href="http://www.cycleshow.co.uk">www.cycleshow.co.uk</a> or by calling 08701 261786</li>
<li>Press day is Thursday 11 October. For more information about the Cycle Show or to arrange accreditation for press day, visit the cycle show website</li>
<li>TfL's investment in cycling has risen from &pound;5.5m in 2000 to &pound;36m in 2007/08. This money is being invested in cycling infrastructure, training, promotion and education</li>
<li>Visit the <a href="http://www.tfl.gov/cycling">cycling section </a>of TfL's website for more information about cycling in London</li>
<li>Bikeability is the national cycling proficiency scheme.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The adult cycle track takes a lighthearted look at the whole range of different road and weather conditions cyclists can experience on their way from home to work. And while the adults are trying out their commuter cycling skills, children visiting the";}
        
        


 