


@{ViewBag.Title = "London public transport voted best in the world ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London public transport voted best in the world </h1>
        <div class="content-page-press-release">
        04 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<p>
<p>London's public transport system has been voted best for the second year running in an annual survey of travellers. </p>
<p>London taxis and the Underground were voted the best among the world's major cities, and the capital's transport network was also voted the safest, in the poll by TripAdvisor, the world's largest travel community.</p>
<p>Commenting on the poll, London Mayor Ken Livingstone, said: 'What we are seeing are the fruits of real and sustained increased investment in London's public transport, a break from the previous policy of deregulation and choking of resources. </p>
<p>'London has achieved a unique shift in journeys from cars to public transport, a 40&nbsp;per cent increase in bus ridership, cleaner engines for buses and taxis, traffic down in the city's centre, an 83 per cent increase in cycling, the biggest transport investment programme since the second world war, and all this has been achieved alongside cut price and free travel schemes for London's poorest, oldest and youngest.'</p>
<p>ENDS </p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London's public transport system has been voted best for the second year running in an annual survey of travellers. London taxis and the Underground were voted the best among the world's major cities, and the capital's transport network was also voted the";}
        
        


 