


@{ViewBag.Title = "London is your Oyster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London is your Oyster</h1>
        <div class="content-page-press-release">
        15 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Get fantastic 2-for-1 deals for London's top days and nights out simply by using your Oyster card.
        
    </div>



 <div class="on-this-page">
<p>
<p>Londoners can now get even more value from their Oyster cards. </p>
<p>Transport for London has teamed up with some of the Capital's top entertainment companies to offer a wide range of two for one deals and discounts for top galleries, shows, museums, attractions and restaurants.<br>&nbsp;<br>When using their Oyster card, passengers can get two tickets for the price of one at participating venues across the Capital, including:</p>
<ul>
<li>Top Attractions: The London Dungeon, The Natural History Museum, Museum in Docklands, London Eye, London Aquarium </li>
<li>Life Style &amp; Culture: Tate, Royal Horticultural Society, Vinopolis, LOVEFiLM, Chelsea Football Stadium Tour </li>
<li>West End Shows: Chicago, Les Miserables, Stomp, The Woman In Black, Buddy: The Buddy Holly Story </li>
<li>Restaurants: Imli, Thai Square and selected restaurants at the Grange Holborn Hotel, Grange Langham Hotel and Grange Rochester Hotel&nbsp;<br></li></ul>
<p>The Mayor of London, Ken Livingstone, said: 'Around 38 million journeys a week are made by passengers with Oyster cards, and we're now making it even easier for Londoners to get out and enjoy all that the city has to offer, with great deals at some of London's top attractions.'<br>&nbsp;<br>The full range of offers and details of how to take advantage of them are available from the Oyster website at <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a></p>
<p>Oyster users just need to show their Oyster card at the venue and quote Oyster offers to enjoy days and evenings out for less.<br></p>
            <p>
<p><strong>Notes to editors:</strong>&nbsp;</p>
<ul>
<li>The 2-for-1 deals and discounts are available at various times between 12 October 2007 and 15 April 2008. Please check full terms and conditions at: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> or pick up a leaflet at all London Underground stations</li>
<li>Oyster card holders will benefit from London Overground train services which will operate on the North London Railway under the management of Transport for London (TfL) from 11 November.&nbsp; The East London Railway will also be part of London Overground when it opens in 2010 following TfL's &pound;1bn extension of the existing East London Line</li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Londoners can now get even more value from their Oyster cards. Transport for London has teamed up with some of the Capital's top entertainment companies to offer a wide range of two for one deals and discounts for top galleries, shows, museums,";}
        
        


 