


@{ViewBag.Title = "Mayor announces free door-to-door service for older and disabled Londoners";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces free door-to-door service for older and disabled Londoners</h1>
        <div class="content-page-press-release">
        08 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority's press office.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every year we are investing more in door-to-door transport but we recognise that there is more to do"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
Every year we are investing more in door-to-door transport but we recognise that there is more to do
</p>
</div>
<p>The Mayor of London, Ken Livingstone, today (Monday, 8 October) announced that he is abolishing Dial-a-Ride door-to-door fares for older and disabled Londoners. </p>
<p>The move will benefit around 50,000 Londoners who currently pay to take 1.2 million journeys a year. </p>
<p>Speaking at Disability Capital - the UK's largest conference for Deaf and disabled people in London - the Mayor outlined that he has taken this step as part of his commitment to provide equal access to public transport for all Londoners.</p>
<p>Dial-a-Ride is a door-to-door transport service provided by Transport for London for older and disabled people who cannot use buses, trains and the Tube. </p>
<p>It is used for everyday journeys that are taken for granted by people who use mainstream public transport - including shopping, visiting friends and family, attending college, doctors and dentists appointments and evenings out. </p>
<p>Following the Mayor's announcement, services will be free from 1 January 2008. </p>
<h2>Vital lifeline</h2>
<p>Carers travelling with disabled and other people on dial a ride will also travel free. </p>
<p>The cost to Transport for London of delivering free Dial-a-Ride fares is &pound;700,000.</p>
<p>This is the first in a series of planned steps to improve door to door services for disabled and older Londoners.</p>
<p>The Mayor of London, Ken Livingstone, said: "Free Dial-a-Ride services will benefit 50,000 older and disabled Londoners, who make 1.2 million trips each year on this vital door-to-door service to go about their every day lives. </p>
<h2>Commitment to revamp</h2>
<p>"Many of us perhaps take for granted the ability to use buses, trams and the Tube, but for many Londoners that is not an option. By abolishing fares on Transport for London's (TfL's) Dial-a-Ride services, we are improving access to a vital lifeline for some of London's most vulnerable people, many of whom are on lower incomes.</p>
<p>"Every year we are investing more in door-to-door transport but we recognise that there is more to do. </p>
<p>"This is just the first step in our absolute commitment to revamp current door-to-door services in the capital leading to a comprehensive and flexible city-wide service which better meets the needs of passengers."</p>
<p>Samantha Mauger Chief Executive of Age Concern London said: "Age Concern London welcomes the Mayor's move to provide a free door-to-door service for older and disabled Londoners. This will certainly help to enable thousands of older people on low incomes to participate more actively in London life and may help to reduce the isolation many people with disabilities or mobility problems living in London experience." </p>
<h2>Vital contribution</h2>
<p>Faryal Velmi, Co-Director, Transport for All, said: "Transport for All recognises the vital contribution that Dial-A-Ride makes in enabling older and disabled people to live independent lives. Many of our members rely on the service to get them from A to B, and to do everyday tasks like shopping and socialising. </p>
<p>"Therefore we wholeheartedly welcome the announcement from the Mayor that Dial-a-Ride will be made free, as this opens out the service to even more potential users, particularly those those who survive on low incomes. </p>
<p>"Transport for All hopes that this exciting development will be matched by continued investment in Door to Door transport, thereby ensuring the demands and everyday needs of disabled and older service users are met."</p>
<p>This announcement marks the latest move to improve accessibility on London's public transport. </p>
<h2>Confidence</h2>
<p>Since the end of 2005, all of London's buses have been wheelchair accessible, as is the Docklands Light Railway and the Croydon Tram. </p>
<p>TfL is working to increase the number of accessible Tube stations.</p>
<p>All taxis are wheelchair accessible, and private hire vehicles as well as taxis are now obliged to carry assistance dogs.</p>
<p>TfL also offers a travel assistance scheme which aims to give disabled Londoners the information and confidence they need to make more use of public transport. </p>
<h2>Accessible</h2>
<p>Through this scheme, TfL offered advice on planning a journey using an accessible route and can provide someone to accompany an individual for the first few times.</p>
<p>At Disability Capital, the Mayor was joined by guest speakers Anne McGuire, Minister for Disabled People; Peter Hendy, Commissioner, Transport for London; Michael Lynch, Director of the South Bank Centre; and the American investigative journalist Edwin Black. </p>
<p>The theme of the conference is 'London, the equal city' and featured debate about disability rights and equality, including discrimination law.</p>
<p> </p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>For disabled people in London unable to travel via mainstream public transport, TfL provides a range of subsidised door-to-door transport. This includes: Dial-a-Ride and Capital Call </li>
    <li>TfL is also the major funder, providing &pound;11m each year, for Taxicard, the door-to-door service run by London's boroughs for Londoners with serious mobility impairments to whom public transport is not usually accessible; the scheme increases the independence and mobility of disabled people by providing subsidised trips in licensed London taxis. Capital Call is a complementary service to Taxicard, providing subsidised door-to-door transport for people with mobility issues, using private hire vehicles (minicabs). Capital Call has been introduced as an additional transport option for Taxicard members living in London boroughs where there is a shortage of London taxis </li>
    <li>TfL is developing proposals which will provide vastly improve door-to-door transport for those disabled Londoners who need it, rather than the post-code lottery which currently exists. Under these proposals disabled Londoners will benefit from a more flexible, fairer and convenient service than those currently available </li>
    <li>TfL currently contributes around 85 per cent of the costs of  Dial-a-Ride, Taxicard and Capital Call door-to-door services, with London Councils providing just 15 per cent. (Overall door-to-door services would include services funded by the NHS and other bodies) </li>
    <li>Transport for London continues to increase funding for door-to-door services year on year. This funding is up from &pound;14 million in 2001 to over &pound;40 million this year (&pound;26 million on Dial-a-Ride alone) </li>
    <li>In 2000, TfL did not contribute to Taxicard - it now funds over &pound;11m a year which is double that provided by all of the London boroughs via London Councils which collectively contributes under &pound;6m. TfL's funding has enabled Taxi-Card to offer a truly London-wide service </li>
    <li>Disability Capital brings together Deaf and disabled people from across the city to discuss a wide range of issues and is a rare opportunity for people to question leading policy makers.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, today (Monday, 8 October) announced that he is abolishing Dial-a-Ride door-to-door fares for older and disabled Londoners. The move will benefit around 50,000 Londoners who currently pay to take 1.2 million journeys a";}
        
        


 