


@{ViewBag.Title = "Mayor sets out initial decisions for the construction and operation of Crossrail ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor sets out initial decisions for the construction and operation of Crossrail </h1>
        <div class="content-page-press-release">
        16 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Construction of Crossrail will take 10 years and I am therefore determined that the whole capital plans to take advantage of this"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">the Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Construction of Crossrail will take 10 years and I am therefore determined that the whole capital plans to take advantage of this
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Ken Livingstone, the Mayor of London, today set out some of the detailed implications of the construction of Crossrail for London and confirmed arrangements for the project's management. </p>
<p>Ken Livingstone, said: "I have already outlined that the importance of the decision to go ahead with Crossrail and the benefits it will bring Londoners can hardly be overstated. </p>
<p>"Crossrail is crucial for the next 20 years of London's economic development. </p>
<p>"With a capacity twice that of the Jubilee line, Crossrail will mean many more people will travel by public transport to the primary business centres of London - the City, West End and Canary Wharf. </p>
<h2>Regeneration</h2>
<p>"Crossrail will also underpin the regeneration of East London - at, around and along the routes that connect with Stratford, Custom House, Woolwich and Whitechapel. </p>
<p>"Construction of Crossrail will take 10 years and I am therefore determined that the whole capital plans to take advantage of this.&nbsp; </p>
<p>"Beginning with the primary task - ensuring that Crossrail is delivered on time and to budget - I can confirm key arrangements. </p>
<p>"As has already been announced, Transport for London (TfL) will take over sole ownership of Cross London Rail Links Limited - the company promoting and developing Crossrail - when the Crossrail Bill receives Royal Assent next year.&nbsp; </p>
<p>"Currently it is a joint venture between TfL and the Department for Transport. </p>
<h2>Integrated</h2>
<p>"Second, I can confirm that all Crossrail services are programmed to come into operation over the course of twelve months from 2017. </p>
<p>"This includes the south-east section down to Abbey Wood, which is vital to open up the Thames Gateway.&nbsp;&nbsp; </p>
<p>"The start and subsequent build-up of services within that twelve month period will be phased to allow time for rolling stock and railway systems testing to ensure reliability. </p>
<p>"The line will be integrated into TfL's existing zonal system, all existing ticketing options such as Oyster will apply, and a premium fare above TfL zonal ones will only operate for the extension to Heathrow.</p>
<h2>Thousands of jobs </h2>
<p>"Third, as Doug Oakervee has outlined, I am determined to ensure that people living in East London can take up the thousands of jobs that Crossrail will offer - Cross London Rail Links Limited has estimated that as many as 14,000 jobs will be created, many of these in the construction industry. </p>
<p>"I will ensure that the relevant agencies in London provide the right training and opportunities so that Londoners from all its diverse communities have the chance to work on this flagship project."</p>

<p>
<hr>
<br></p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The Crossrail Bill was introduced into the House of Commons by the Department of Transport (DfT) on 22 February 2006 and is about to enter the Lords. It is expected to gain Royal Assent in the first half of 2008.&nbsp; The Bill will give the project the planning powers needed to build the tunnels, track and stations </li>
<li>Crossrail is a critical element of the long-term economic strategy for London. Crossrail will bring many benefits: 
<ul type="square">
<li>Passenger benefits: Crossrail will radically slash current journey times: Heathrow to Canary Wharf on Crossrail will take 43 minutes; Heathrow to Liverpool Street will take 36 minutes; Heathrow to Tottenham Court Road will take 31 minutes and Heathrow to Paddington will take 28 minutes. With the advent of Crossrail, total public transport capacity will increase by 10 per cent, easing congestion on all central London tube lines </li>
<li>Business benefits: Crossrail will underpin growth in the major business and retail centres of London - the West End, the City and Isle of Dogs - and link them to Heathrow </li>
<li>Regeneration benefits: Promoting regeneration in East London (mainly through Crossrail's connections at Whitechapel, Stratford, Custom House, and Woolwich), locking in this fundamental legacy of the Olympic Games.</li></ul></li>
<li>Detailed discussions regarding the transfer of CLRL Ltd to Transport for London (TfL) are continuing. However, the current proposal is that the Mayor through TfL will be responsible for setting standards, fares and levels of service on Crossrail, bringing it in line with the Tube, DLR, buses and taxis </li>
<li>A growing population and a growing economy needs new transport links. In the past two years alone the capital has gained about 190,000 more people. The population forecasts in the Mayor's 'London Plan' project the city growing by the equivalent of a city the size of Leeds or adding a borough the size of Islington every three to four years. Employment in London will rise sharply by 2016 with more than 400,000 additional jobs in business services </li>
<li>TfL has calculated that Crossrail will provide 40 per cent of the extra rail capacity London needs by middle of the next decade. Once built there will be 24 trains per hour at peak times </li>
<li>The Crossrail project has been developed and promoted by Cross London Rail Links a 50/50 joint venture company formed by TfL and the DfT </li>
<li>The most recent research commissioned by CLRL estimates that Crossrail will generate net agglomeration benefits between &pound;37bn to &pound;68bn (present value) to UK GDP over 60 years and therefore additional national tax revenues of at least &pound;14.8bn </li>
<li>London and the wider South East already account for 38.4 per cent of the UK construction output and the announcement of Crossrail as a further major infrastructure project confirms the continuing demand for construction skills. Crossrail further increases the demand for more Londoners to be trained in construction skills</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ken Livingstone, the Mayor of London, today set out some of the detailed implications of the construction of Crossrail for London and confirmed arrangements for the project's management. Ken Livingstone, said: 'I have already outlined that the importance";}
        
        


 