


@{ViewBag.Title = "New bus route 332 from Neasden to Paddington";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New bus route 332 from Neasden to Paddington</h1>
        <div class="content-page-press-release">
        05 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus passengers will benefit from a new bus service - route 332 - from Saturday 13 October.
        
    </div>



 <div class="on-this-page">
<p>
<p>The new route will run between Brent Park Tesco in Neasden and Paddington.&nbsp; </p>
<p>Route 316, which currently runs from Neasden to North Kensington, will change on the same day. </p>
<p>Route 316 currently operates between Brent Park Tesco and St. Charles Hospital in North Kensington.&nbsp; </p>
<p>From 13 October, it will be shortened to run between Cricklewood Broadway and North Kensington.&nbsp; </p>
<p>Passengers wishing to continue their journey towards Neasden will be able to do so using the new route 332, which replaces the northern end of route 316.</p>
<p>Route 332 will operate with double deck buses.</p>
<p>Bob Blitz, Network Planning Manager for London Buses, said: "The introduction of the new 332 service will create new links from Neasden, Cricklewood and Kilburn to the Paddington development area and Paddington Station.&nbsp; </p>
<p>"Passengers will also benefit from an overall increase in frequencies on services between Cricklewood and Kilburn."</p>
<p>The change comes following a review of the existing service.</p>

<p><a href="/assets/downloads/332-316.pdf">Download a map of the route (PDF 50KB).</a></p>
<p>
<hr>
            <strong>Notes to editors</strong> 
<ul>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users </li>
<li>With&nbsp;more than&nbsp;8000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent since 1999/2000 </li>
<li>The 332 will operate between Brent Park Tesco and Paddington via Neasden, Staples Corner, Cricklewood, Kilburn, Maida Vale and Edgware Road, then via Harrow Road and Eastbourne Terrace, returning via Praed Street to Edgware Road (northbound)</li></ul><br>
<ul>
<li>The frequencies for the new 332 service are as follows: 
<ul type="circle">
<li>From Monday to Friday, there will be a bus every 10 minutes during the day. The evening service will be every 12 minutes </li>
<li>On Saturdays, the early morning bus service will run every 15 minutes. There will be a bus every 10 minutes during the day and every 12 minutes in the evening </li>
<li>On Sundays, the early morning bus service will run every 15 minutes. During the daytime and evening, there will be a bus every 12 minutes</li></ul></li>
<li>The 316 frequencies remain unchanged: 
<ul type="circle">
<li>There is a bus every 6-10 minutes during the day and every 10-12 minutes in the evening, Monday to Friday </li>
<li>On Saturdays, there is a bus every 5-8 minutes from 9am until midday, then every 8-12 minutes until midnight </li>
<li>The Sunday service is every 10-14 minutes from 9am until midnight</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new route will run between Brent Park Tesco in Neasden and Paddington.&nbsp; Route 316, which currently runs from Neasden to North Kensington, will change on the same day. Route 316 currently operates between Brent Park Tesco and St. Charles Hospital";}
        
        


 