


@{ViewBag.Title = "Perryn Road Crossing Exhibition comes to Acton";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Perryn Road Crossing Exhibition comes to Acton</h1>
        <div class="content-page-press-release">
        15 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Residents in Acton will have the opportunity to view and comment on proposals for the Perryn Road crossing of the A40 this week.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have worked hard to develop a solution that will meet residents needs
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A three-day exhibition of the plans (18 to 20 October) will include artists' impressions of a new footbridge,&nbsp;proposed as part of the current A40 major bridge replacement&nbsp;project, to the east of Gypsy Corner.<br>&nbsp;<br>The footbridge already in that area is in need of replacement.&nbsp;</p>
<p>An earlier proposal to&nbsp;replace the footbridge with a road level crossing was&nbsp;reconsidered&nbsp;by Transport for London (TfL)&nbsp;following local concerns over accessibility and safety.</p>
<p>The replacement footbridge&nbsp;now proposed has been specially designed with ramps and steps to meet modern accessibility standards.</p>
<p>It will be able to accommodate cyclists and&nbsp;will be lit to ensure&nbsp;the safety and security&nbsp;of&nbsp;users.<br>&nbsp; <br>Peter Brown, Chief Operating Officer, Streets, TfL, said:&nbsp;"We have worked hard to develop a solution that will meet residents needs, including the latest European accessibility guidelines, within the available space. </p>
<p>"We are very pleased with the new proposal and look forward to getting feedback from local residents."</p>
<p>The proposed Perryn Road footbridge has been designed by award winning architects Grimshaw and Partners. </p>
<p>If the proposal proves popular it is anticipated the new footbridge will be completed by autumn 2009.&nbsp;<br></p>
            <p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Images of the proposed designs are available on request</li>
<li>Events will be taking place on:&nbsp;</li>
<ul type="circle">
<li>Thursday 18 October,&nbsp;14.00 - 20.00, Westcott Park Community Centre, 13 Ferguson Drive, Westcott Park, Acton W3 6YP </li>
<li>Friday 19 October, 14.00 -&nbsp;20.00, St Dunstan's Church Hall, Friars Place Lane, Acton W3 7AW </li>
<li>Saturday 20 October 09.00&nbsp;- 15.30, John Perryn Primary School,&nbsp;Long Drive, Acton, W3 7PD </li></ul>
<li>The work is being carried out as part of an ongoing investment plan by TfL</li>
<li>TfL Streets division is responsible for maintaining the 580km of the Transport for London Road Network (TLRN), recognisable as London's 'Red Routes'</li>
<li>These improvements to the road crossing form part of a larger project to replace the two A40 Western Avenue bridges over the railway lines at Wales Farm Road and Perryn Road</li>
<li>For more information on the scheme, visit <a href="http://www.tfl.gov.uk/a40actonbridges">www.tfl.gov.uk/a40actonbridges</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A three-day exhibition of the plans (18 to 20 October) will include artists' impressions of a new footbridge,&nbsp;proposed as part of the current A40 major bridge replacement&nbsp;project, to the east of Gypsy Corner.&nbsp;The footbridge already in that";}
        
        


 