


@{ViewBag.Title = "State of the art bus stand opens on Lea Bridge Roundabout";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>State of the art bus stand opens on Lea Bridge Roundabout</h1>
        <div class="content-page-press-release">
        04 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        An innovative new clean and green bus stand on the Lea Bridge Roundabout has been officially opened by Transport for London's (TfL's) Managing Director of Surface Transport, David Brown, and local councillors from Hackney.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is an interesting approach to the use of highway space and keeps vehicles that are not in service off the streets
                            
                        </p>
                    </div>
                
            
            
            <p>The&nbsp;Lea Bridge bus&nbsp;stand&nbsp;can hold up to seven buses&nbsp;and has&nbsp;increased CCTV coverage to improve the safety of drivers and local residents. <br>&nbsp; <br>Landscaping improvements have been made to the roundabout as the new bus stand has replaced the site of a disused subway network. </p>
<p>A semi-circle of pear trees&nbsp;is being&nbsp;planted on the stand to screen vehicles from local residents, and new grass banks and verges will screen it from nearby properties.<br>&nbsp; <br>David Brown, Managing Director for Surface Transport at TfL, said: "The design, development and construction of the bus stand has&nbsp;been a great team effort between Transport for London, Hackney Council and local residents. </p>
<h2>Up and running</h2>

<p>"This is an interesting approach to the use of highway space and keeps vehicles that are not in service off the streets. </p>
<p>"It will also provide some welcome rest facilities for bus drivers in&nbsp;East London."<br>&nbsp; <br>With the bus stand now up and running, construction will soon begin on the facilities for bus drivers, which will provide toilet facilities&nbsp;and&nbsp;rest rooms as well as a unique&nbsp;windmill turbine to provide environmentally-friendly power&nbsp;for the stand. </p>
<p>The new facilities should be fully operational by&nbsp;summer next year.</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>Photos of the&nbsp;event are available on request</li>
<li>Transport for London's Bus Priority Team work in partnership with stakeholders to&nbsp;develop&nbsp;and deliver sustainable bus priority measures to minimise delay to bus passengers and protect bus operations from traffic congestion across London's road network</li>
<li>There are currently 280km of bus lanes across London and investment both in bus lanes and other bus priority measures has been a vital element of the investment programme that has seen huge improvements in bus service reliability since 2000</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The&nbsp;Lea Bridge bus&nbsp;stand&nbsp;can hold up to seven buses&nbsp;and has&nbsp;increased CCTV coverage to improve the safety of drivers and local residents. &nbsp; Landscaping improvements have been made to the roundabout as the new bus stand has";}
        
        


 