


@{ViewBag.Title = "Transport for London announces new Congestion Charge service provider";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London announces new Congestion Charge service provider</h1>
        <div class="content-page-press-release">
        25 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced that IBM United Kingdom Limited is the selected bidder for the Congestion Charging and Low Emission Zone service provider contract.
        
    </div>



 <div class="on-this-page">
<p>
<p>The decision follows a 12-month competitive tendering procurement process.</p>

<p>IBM will be responsible for the operation of the Congestion Charging and Low Emission Zone schemes from November 2009, including the technology that will underpin payments and all customer contact channels.</p>
<p>The contract is for a duration of five years with an option to extend a further five years. </p>
<p>IBM's consortium partner, NCP Services, will be responsible for the schemes' enforcement. &nbsp;</p>
<p>Graeme Craig, Interim Director of Congestion Charging at TfL, said: "IBM's submission to operate the London Congestion Charging scheme has been selected as it best meets TfL's operational and technical requirements. </p>
<p>"It was also the most economically advantageous, which is important as net proceeds from Congestion Charging are invested in transport within London.&nbsp; </p>
<p>"We expect to continue our excellent working relationship with Capita over the next two years."</p>
<p>
<hr>
<br>
            <p><strong>Notes to editors</strong> <br>
<p>
<ul>
<li>Three bidders were selected to submit final offers for the contract. They were the Capita Group plc, IBM United Kingdom Ltd and the Thales Alliance. The Thales Alliance was made up of Thales Information Systems Ltd, Accenture (UK) Ltd and Vertex Data Science Ltd </li>
<li>&nbsp;Traffic&nbsp;levels in the original Congestion Charging zone remained stable in 2006, at 21 per cent lower than before the scheme was introduced in 2002, while traffic levels on boundary routes of the original zone have remained comparable to previous years </li>
<li>Over the first three months of operation, traffic in the western extension zone was typically down by 10 to 15 per cent on equivalent levels in 2006. The first comprehensive survey of congestion in the western extension indicates that congestion has been reduced by between 20 and 25 per cent against comparable values in 2005 and 2006 </li>
<li>The Congestion Charge scheme generated provisional net revenues of &pound;123m in 2006/07, which will be spent on further improvements to transport across London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The decision follows a 12-month competitive tendering procurement process.IBM will be responsible for the operation of the Congestion Charging and Low Emission Zone schemes from November 2009, including the technology that will underpin payments and all";}
        
        


 