


@{ViewBag.Title = "Transport for London bids for control of Metronet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London bids for control of Metronet</h1>
        <div class="content-page-press-release">
        25 October 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today announced that it has lodged a formal bid to take control of Metronet.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We strongly believe that the best and most robust way to achieve our ultimate goal is for an exit from the Administration process as early as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">London Underground Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We strongly believe that the best and most robust way to achieve our ultimate goal is for an exit from the Administration process as early as possible
                            
                        </p>
                    </div>
                
            
            
            <p>Under Transport for London's plans, the people and the assets of the two Metronet companies, BCV and SSL, will be transferred into two Transport for London nominee companies, which will be managed on a standalone basis whilst the long-term structure is agreed with the Mayor and Government.</p>
<p>Transport for London believes it is in the best interests of all parties for an exit from Administration as quickly as possible.&nbsp; This is the best way to maintain the continued safe operation of the Tube network, to mitigate the performance and cost risks that inevitably come with such a situation, and to ensure the continuation of the Tube's vital upgrade and renewal programme.</p>
<p>London Underground Managing Director, Tim O'Toole said: <br>"In dealing with the collapse of Metronet, and through the Administration process, we have had two key priorities.&nbsp; First, to ensure the continued safe and reliable operation of the Tube network for passengers. That has been achieved and I would like to pay tribute to the hard work and dedication shown by all Metronet and London Underground staff, as well as the Administrator and his team.&nbsp; We need to continue to work together for passengers.</p>
<p>"Secondly, once under Transport for London control, we seek to put in place a stable, economic and efficient structure that is better able to deliver our investment priorities that will lead to increased capacity on the Tube in future.</p>
<p>"We strongly believe that the best and most robust way to achieve our ultimate goal is for an exit from the Administration process as early as possible.&nbsp; It is for this reason that we have now lodged our formal bid for Metronet, which I trust can be concluded as swiftly and efficiently as possible."</p>
<p>Transport for London's bid for the two Metronet companies has been constructed on the basis that there should be no net additional cost to the organisation.<br>ends</p>
<h2>Notes to editors:</h2>
<ul>
<li>The two Metronet companies, Metronet Rail BCV and Metronet Rail SSL, entered PPP Administration on July 18, 2007</li>
<li>This followed the PPP Arbiter's Interim Determination award of just &pound;121m for Metronet Rail BCV, when the company had been seeking a &pound;551m Interim Determination and &pound;992m in total</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the Sub-Surface lines - the Circle, District, Hammersmith &amp; City, Metropolitan and East London* lines</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li></ul>
<p>* The East London line is due to close for upgrade on December 22, 2007 and is due to open in 2010 as part of Transport for London's new London Overground network.</p>
<p>London Underground Press Office <br>Direct line: 0845 604 4141 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Under Transport for London's plans, the people and the assets of the two Metronet companies, BCV and SSL, will be transferred into two Transport for London nominee companies, which will be managed on a standalone basis whilst the long-term structure is";}
        
        


 