


@{ViewBag.Title = "A new foot and cycle bridge for Hounslow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A new foot and cycle bridge for Hounslow</h1>
        <div class="content-page-press-release">
        20 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the London Borough of Hounslow today unveiled a new foot and cycle bridge that allows pedestrians and cyclists to cross the railway at Bedfont Road in Hounslow in greater safety.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This investment shows that by working with boroughs like Hounslow we can improve cycling provision not only in central London, but further afield as well."</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Director of Transport Policy</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This investment shows that by working with boroughs like Hounslow we can improve cycling provision not only in central London, but further afield as well.
                            
                        </p>
                    </div>
                
            
            
            <p>The brand new shared-use bridge, built alongside the existing road bridge, will make it safer and easier for pedestrians and cyclists to travel between Bedfont and Feltham, west of the borough. </p>
<p>There is no path for pedestrians on the existing bridge and cyclists share the narrow road with other traffic.&nbsp;&nbsp; </p>
<p>The bridge will improve Hounslow's cycling provision, as the council works with TfL and the Mayor of London to become a true biking borough. </p>
<p>On 9 August the Mayor of London's Skyride, Hounslow, will bring a huge celebration of cycling to the area. </p>
<p>This is the first time that the event, which attracted some 50,000 people to cycle through central London last year, has been outside of zone one.&nbsp; </p>
<h2>Making cycling safer</h2>
<p>Kulveer Ranger, the Mayor of London's Director of Transport Policy, said: 'We are determined to make cycling in London easier, safer, and more convenient, and this project delivers in every respect. </p>
<p>'This investment shows that by working with boroughs like Hounslow we can improve cycling provision not only in central London, but further afield as well. </p>
<p>'It's great to see Hounslow leading the way and becoming a true biking borough.'&nbsp;</p>
<p>Transport for London's Head of Cycling, Walking and Accessibility, Peter McBride said: 'TfL has invested &pound;950,000 in the new pedestrian and cyclist bridge over the railway line on Bedfont Road, as the existing road bridge is very narrow, and has no footpath for pedestrians to use. </p>
<h2>Attractive and convenient</h2>
<p>'We hope that this much needed new shared-use bridge will provide an attractive and convenient link across the railway line that encourages more people to walk and cycle in the area.'</p>
<p>Cllr Paul Lynch, Mayor of the London Borough of Hounslow, said: 'I'm delighted at the opening of the bridge. I first became aware of the need for it when we were developing Bedfont Lakes, the old bridge was an obstacle, this will really make a difference.</p>
<p>'The council is committed to keeping its residents safe, and I think that our investment of &pound;500,000 towards the bridge and close work with TfL will go a long way to making this part of the borough safer for those who regularly walk and cycle.'<br></p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<ul>
<li>During 2008, one pedestrian was seriously injured and three pedestrians were slightly injured, in the Bedfont Road area of Hounslow </li>
<li>Bedfont road bridge connects Bedfont and Feltham in west Hounslow </li>
<li>The new 3.5 metre foot and cycle path will provide a safe route for pedestrians and cyclists separated from motor traffic </li>
<li>Funding for local transport schemes is allocated each year to London boroughs by TfL in response to applications made by boroughs based on their Local Implementation Plans (LIPs) </li>
<li>The Mayor and TfL want to make London one of the world's most walking friendly city by 2015, and aim to increase cycle journeys in the Capital by 400 percent by 2025<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The brand new shared-use bridge, built alongside the existing road bridge, will make it safer and easier for pedestrians and cyclists to travel between Bedfont and Feltham, west of the borough. There is no path for pedestrians on the existing bridge and";}
        
        


 