


@{ViewBag.Title = "Bus route S3 to be extended to Malden Manor Station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus route S3 to be extended to Malden Manor Station</h1>
        <div class="content-page-press-release">
        27 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Saturday 1 August 2009, bus route S3 will be extended from Worcester Park Station to Malden Manor Station via The Manor Drive and Manor Drive North.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The extension of route S3 to Malden Manor Station will give local residents improved access to Sutton and North Cheam
                            
                        </p>
                    </div>
                
            
            
            <p>The extension will provide a new bus service for residents of The Manor Drive and Manor Drive North. </p>
<p>It will improve access to Sutton town centre and to local rail stations, shops, hospitals and schools.&nbsp; </p>
<p>John Barry, London Buses' Head of Network Development, said: 'The extension of route S3 to Malden Manor Station will give local residents improved access to Sutton and North Cheam. It will also provide links to Worcester Park Station and Richard Challoner School.'</p>
<p>The extended section of the route will serve passengers on a 'Hail and Ride' basis along The Manor Drive and Manor Drive North.</p><strong>
<p>
<hr>
Notes to editor:</strong>
<ul>
<li>Services will continue to run every 20 minutes during the day and every 30 minutes in the evenings Monday to Saturday. There is no service in the late evenings or on Sunday </li>
<li>Route S3 also operates on a Hail and Ride basis on a number of other roads throughout the route </li>
<li>Changes to route S3 were subject to a public consultation held between 14 November 2008 and 9 January 2009. Local businesses, schools, local community organisations, and residents were consulted on the proposed changes to the route during this time<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The extension will provide a new bus service for residents of The Manor Drive and Manor Drive North. It will improve access to Sutton town centre and to local rail stations, shops, hospitals and schools.&nbsp; John Barry, London Buses' Head of Network";}
        
        


 