


@{ViewBag.Title = "Croydon's Neighbourhood Enforcement Officers to patrol the borough's buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Croydon's Neighbourhood Enforcement Officers to patrol the borough's buses</h1>
        <div class="content-page-press-release">
        22 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and Croydon Council join forces to make the borough's buses even safer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Seeing the extra officers will provide great reassurance for local people using these buses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">the Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Seeing the extra officers will provide great reassurance for local people using these buses
                            
                        </p>
                    </div>
                
            
            
            <p>Bus passengers in Croydon should notice an increase in the number of uniformed officers on their journeys from today. </p>

<p>Transport for London (TfL) has given Neighbourhood Enforcement Officers in the borough passes to use the buses when on their patrols. </p>
<p>Boris Johnson, the Mayor of London, said: 'I want people in Croydon to feel 100 per cent safe to use public transport. </p>
<p>'Giving the Neighbourhood Enforcement teams passes is an absolute no brainer as far as I'm concerned as seeing the extra officers will provide great reassurance for local people using these buses.'</p>
<p>Passes will initially be given to 14 Neighbourhood Enforcement Officers and four additional Croydon Council staff, on a&nbsp;12-month trial basis and will allow them to travel around Croydon as part of their patrols. <br><br>They will also join the Safer Transport Teams on specific transport safety schemes. </p>
<h2>Reducing&nbsp;crime</h2>
<p>This joint initiative will allow TfL and Croydon Council to work together to deploy resources in the best possible way across the borough and its transport network.</p>
<p>Councillor Gavin Barwell, Croydon cabinet member for community safety and cohesion, said: 'We are delighted to be taking part in this new scheme with TfL, which will see Croydon's NEOs issued with Bus Bearer passes to use on the borough's bus network. </p>
<p>'They will be able travel on the buses, providing extra reassurance to passengers, as part of their regular patrols to help prevent and tackle crime.'</p>
<p>Steve Burton, Director of Community Safety Enforcement and Policing at TfL, said: 'Whilst crime on Croydon's buses is low and has seen a 24 per cent reduction since last year, we know that there's always more that can be done.</p>
<p>'We understand that anti-social behaviour can fuel a disproportionate fear of crime, which is why we are trialling the use of the bus passes for Croydon's wardens.&nbsp; </p>
<h2>Increasing visibility</h2>
<p>'This way they'll be able to use Croydon's buses during their regular patrols increasing the visibility of uniformed officers, reassuring passengers and dissuading anti-social behaviour from happening in the first place.'</p>
<p>George Meloy, Acting Inspector, Croydon Safer Transport Team said: 'The Croydon Safer Transport Team has worked together with council colleagues, including the Mobile Enforcement Unit and more recently the NEOs, to make a real impact on anti-social behaviour and crime in and around the borough's transport hubs and on the bus networks.&nbsp;<br>&nbsp;<br>'However, we recognise that we can further reduce crime and anti-social behaviour in these areas, and the NEOs working on Croydon's buses will help us to achieve this.<br><br>'&nbsp;My colleagues and I remain committed to improving the safety of all transport users in Croydon, both young and old.'<br><br></p>
<p>
<hr>
<strong>Notes to editors: </strong><strong></strong>
<ul>
<li>Croydon's Neighbourhood Enforcement Officers will be issued with a Bus Bearer Pass which entitles them to free travel while on duty on buses in the Borough. It does not extend to other forms of transport or to buses outside Croydon </li>
<li>Crime on Croydon's buses is low and went down by 24 per cent in 2008/9.&nbsp;The most significant reductions were in robberies, down by 51 per cent and criminal damage reduced by 41 percent </li>
<li>There will be a total of 18 Croydon Borough Council staff taking place in the pilot, which includes: <br>-&nbsp;14 Neighbourhood Enforcement Officers (vigilance staff) whom have Community Safety Accreditation<br>-&nbsp;Four additional staff members who have limited delegated police powers</li></ul>
<p>Transport Policing resources in the borough of Croydon:</p>
<ul>
<li>Safer Transport Teams: The team is funded by TfL and consists of around 21 PCSOs, three Sergeants, three Police Constables and three Sergeants </li>
<li>The team is borough based and enhance the Safer Neighbourhoods Teams who are ward based </li>
<li>The team is attached to the Metropolitan Police Service Borough Operational Command Units with the Metropolitan Police Service providing day-to-day supervision and management </li>
<li>There are Safer Transport Teams in Bexley, Bromley, Croydon, Greenwich, Barking and Dagenham, Enfield, Haringey, Havering, Newham, Redbridge, Waltham Forest, Hounslow, Kingston-upon-Thames, Merton, Richmond-upon-Thames and Sutton, Barnet, Brent, Harrow, Hillingdon and Ealing</li></ul>
<p>In addition, London's 11 inner boroughs have teams of 50+ MPS officers patrolling on and around the buses and are funded by TfLs Hub Team: </p>
<ul>
<li>Team based around West Croydon bus garage area identified following joint analysis undertaken by the MPS and TfL, which looked at information such as the level of public transport provision in the area, transport related recorded offences, reports of vandalism on buses and feedback from bus drivers on issues such as antisocial behaviour and fare evasion </li>
<li>Jointly funded by Transport for London (TfL) and the Metropolitan Police Service (MPS) the nine-strong team is part of the Mayor's commitment to increasing the policing of transport hubs all over the Capital. The team consists of a Sergeant, one Police Constable and seven Police Community Support Officers (PCSOs) </li>
<li>The team will work closely with the existing Safer Neighbourhood and Transport Teams, British Transport Police, Safer School Officers and local transport staff to ensure Londoners can move around the Capital </li>
<li>There are 32 hub teams at locations identified as areas that would benefit from additional policing resources on the bus network through joint analysis undertaken by the MPS and TfL </li>
<li>Further Transport for London bus security improvements information </li>
<li>By the end of 2005, Transport for London fitted all of London's 8000 buses with fully recording CCTV and there are now as many as 60,000 cameras fitted on the fleet </li>
<li>London's buses carry 6.3m passengers a day on 700 routes across the capital, and are a low crime environment - only 12 crimes for every million passenger journeys <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bus passengers in Croydon should notice an increase in the number of uniformed officers on their journeys from today. Transport for London (TfL) has given Neighbourhood Enforcement Officers in the borough passes to use the buses when on their patrols.";}
        
        


 