


@{ViewBag.Title = "First new Victoria line train begins running in passenger service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First new Victoria line train begins running in passenger service</h1>
        <div class="content-page-press-release">
        24 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Train to enter full passenger service, alongside others, later this year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners have heard a lot of talk about investment on the Tube, but now they can see and experience the reality of the upgrades"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners have heard a lot of talk about investment on the Tube, but now they can see and experience the reality of the upgrades
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has begun running the first of the new Victoria line trains, with this week seeing the first train operate during passenger service. </p>
<p>The new trains are part of the Victoria line upgrade which, along with new track and signalling, will offer customers a smoother, more comfortable ride, with more frequent trains, a reduction in journey times and nearly 20 per cent more capacity.</p>
<p>The new train will run, initially, towards the very end of the day, several nights per week, in tandem with the new signalling system. </p>
<h2>Ready to run</h2>
<p>It will gradually operate for more hours of the day over the coming weeks and will roll out into full passenger service in the autumn, when further new trains will start to be delivered. </p>
<p>The new Victoria line trains will feature in-carriage CCTV, improved wheelchair access, better ventilation, and improved visual and audio customer information systems.</p>
<p>Richard Parry, LU's Managing Director, said: 'These wonderful new trains, the first on the Tube for over 10 years, have undergone hundreds of hours of testing and are now ready to run during passenger service for the first time. </p>
<p>'Customers will be able to experience the train in action, initially just at the end of the day before entering full passenger service later this year. </p>
<h2>Delivered on schedule</h2>
<p>'The current Victoria line trains have been operating for 40 years and carry close to 200 million passengers per year. </p>
<p>'The upgrade of the Victoria line is vital to renew the old assets and increase capacity to keep up with the growth of customer demand, forecast to be up over 15 per cent on today by 2025.</p>
<p>'This milestone, delivered on schedule exactly two years after the collapse of Metronet, is further evidence of the renewed delivery capability at London Underground. </p>
<p>'Working in partnership with Bombardier and Westinghouse as one team, we are marrying the best private sector skills with LU's core strengths to deliver the upgrade on time and on budget.' </p>
<h2>Transform journeys</h2>

<p>Kulveer Ranger, the Mayor of London's Transport Director, said: 'Londoners have heard a lot of talk about investment on the Tube, but now they can see and experience the reality of the upgrades that they have been promised. </p>
<p>'The new trains are a fantastic, state-of-the-art addition to the Tube network, which - along with signal upgrades - will transform the journeys of those using the Victoria line.'</p>
<p>LU is delivering the biggest investment programme in generations. </p>
<p>The challenge is to upgrade the Tube while at the same time keeping the service running for the millions who depend on it every day. </p>
<p>Demand for the Tube is close to record levels with more than a billion passenger journeys each year. When completed, the investment programme will deliver nearly 30 per cent extra capacity across the Tube network.</p>
<p>
<hr>
<br><strong>Notes to editors </strong>
<p>
<ul>
<li>The Victoria line was the world's first automatic railway. The upgrade will replace the existing signalling system with a more sophisticated one </li>
<li>The Victoria line is one of the busiest on the Tube network it carries over 630,000 a day and 183 million each year</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has begun running the first of the new Victoria line trains, with this week seeing the first train operate during passenger service. The new trains are part of the Victoria line upgrade which, along with new track and signalling,";}
        
        


 