


@{ViewBag.Title = "Gallows Corner flyover to open today - five weeks early";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Gallows Corner flyover to open today - five weeks early</h1>
        <div class="content-page-press-release">
        22 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Flyover maintenance works completed ahead of time and on budget.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The team involved in this project has done absolutely everything they can to get Gallows Corner open as soon as possible.
                            
                        </p>
                    </div>
                
            
            
            <p>Gallows Corner flyover is opening to two-way traffic this afternoon - more than a month ahead of the original completion date of the end of August.<br><br>All the lane restrictions on the approaches to the roundabout will also be lifted by 16:00 today, in time for the evening rush hour.<br> <br>The final phase of the year long maintenance project was the installation of safety railings, which required the total closure of the flyover, and has taken two months (1,512 man hours), instead of the three months which had been expected. <br><br>The early opening of the flyover is put down to a concerted effort by all those involved, working together to get the scheme finished as soon as possible. </p>
<p>The project has also been helped by better than expected weather.<br><br>TfL and Havering Council worked hard to minimise disruption and work was carried out seven days a week in order to restore the flyover as quickly as possible. </p>
<p>These essential safety works will have significantly extended the life of the flyover, which was built as a temporary structure in the 1970s, and will minimise the need for any further large scale maintenance for at least a decade. </p>
<p>Dana Skelley, Director of Road Network Management, TfL, said: 'The team involved in this project has done absolutely everything they can to get Gallows Corner open as soon as possible, and the fact that works are completed more than a month early is testament to their professionalism and hard work.</p>
<p>'I know the disruption has been frustrating for motorists, and I would like to thank them for their patience while we have been carrying out this essential maintenance work which now means the flyover should not need any significant repairs well into the future.'</p>
<p><strong>
<hr>
Notes to editors:</strong></p>
<ul>
<li>During TfL maintenance work on Gallows Corner flyover in April 2008, heavy and unexpected corrosion was found in the safety railings, or parapets, which are in place to safely contain vehicles on the flyover in case of collision. Since then, the necessary design and manufacture of new safety railings has been taking place, mostly off site</li>
<li>As the flyover is a unique structure, and over 30 years old, its design was not compatible with modern standard safety railings that could be bought 'off the shelf'</li>
<li>From July 2008 to May 2009, westbound traffic has been allowed to use the flyover, with temporary safety barriers in place along the length of the flyover. These barriers reduced the width of the carriageway so that only one lane of traffic has been able to safely pass. Eastbound traffic has been diverted around the Gallows Corner roundabout</li>
<li>On May 26 2009, both lanes of the flyover were closed for the final phase of the works</li>
<li>The Gallows Corner flyover has had a number of 'owners' since it was built in the 1970's, including:<br>-&nbsp;1968/69 - Designed for Ministry of Transport, led by LB Havering as agents for Ministry of Transport<br>-&nbsp;Unknown - 1994 - 'owned' by Department for Transport, maintained by LB Havering as agents of Department for Transport<br>-&nbsp;1994 - 2000 - 'owned' by Highways Agency, maintained by LB Havering (until at least 1997) as agents for Highways Authority<br>-&nbsp;2000 - present - 'owned' by Transport for London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Gallows Corner flyover is opening to two-way traffic this afternoon - more than a month ahead of the original completion date of the end of August.All the lane restrictions on the approaches to the roundabout will also be lifted by 16:00 today, in time";}
        
        


 