


@{ViewBag.Title = "Mayor unveils Overground trains with an Underground twist";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils Overground trains with an Underground twist</h1>
        <div class="content-page-press-release">
        13 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The latest stage of improvements to Transport for London's Overground services was unveiled today as new trains began to be rolled out on the network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'For far too long passengers on our Overground lines have suffered from crumbling, unreliable trains."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'For far too long passengers on our Overground lines have suffered from crumbling, unreliable trains.
                            
                        </p>
                    </div>
                
            
            
            <p>The brand new, walkthrough trains will have more space for passengers, improved CCTV and air conditioning.</p>
<p>The Mayor of London, Boris Johnson, rode the first of the new London Overground trains and was delighted to see the improvements.<br><br>The Mayor said: 'For far too long passengers on our Overground lines have suffered from crumbling, unreliable trains that were just not up to muster. </p>
<p>'Every element on these brand spanking new trains has been crafted to meet the Capital's needs and the standard of design will surprise even the most hardened traveller.</p>
<p>'Air conditioning, walkthrough carriages and CCTV, combined with the completion of all the East London Line work by 2012, will revolutionise the London Overground network.'<br><br>The Mayor was joined by London's Transport Commissioner, Peter Hendy, at Willesden Junction Station to unveil the first of 54 new trains that will be rolled out across the whole of Transport for London's (TfL) London Overground network.<br><br>The fleet will be similar to Tube trains, with more flip-down seats, giving more standing room to allow for hop-on, hop-off journeys, reflecting the type of short trips most passengers make on the network.<br><br>The arrival of the new trains is a crucial stage in TfL's ambitious plans to build London Overground into an orbital railway around the capital by 2012.<br><br>As well as air conditioning, the trains will also feature driver-monitored CCTV, improved security for passengers, and state-of-the-art information displays and announcements.<br><br>London's Transport Commissioner, Peter Hendy, said: 'The new trains will play a vital role in providing transport for Olympic spectators and are a dramatic improvement on the trains we inherited.&nbsp;&nbsp;</p>
<p>'By 2011 we will be able to add a fourth carriage, increasing capacity by 50 per cent.<br><br>'As we roll out this new fleet, we will continue our expansion of the line and our station improvements programme, which will make the former service unrecognisable.'<br><br>The new trains, which will be three-carriages long, will be able to carry almost 500 people, which is an eight per cent increase compared to the outgoing trains.&nbsp; <br><br>When Overground platforms are extended in 2011 to cater for trains four-carriages long, the trains will be able to carry almost 700 people each - almost 50 per cent more passengers than now.<br><br>Ian Brown, London Overground Managing Director, said, 'TfL's London Overground is setting the bar high for future metro rail services. <br><br>'These trains are unique and demonstrate that rail travel for high frequency services can be brought into the 21st century. </p>
<p>'I'm confident that this approach will inspire the transformation of metro rail services across the UK and I expect other train operators to follow our lead.'<br><br>
<hr>
<br><strong>Notes to editors </strong><strong></strong>
<ul>
<li>The scheduling for the introduction of the new trains is as follows: The first 24 trains will run on the existing north London, west London and Watford-Euston lines of the Overground network, then a further 20 will be delivered for the East London line extension which will be part of the Overground network when completed next year. A further 10 will be delivered to run throughout the network by 2011. There will also be eight new diesel trains for the Gospel Oak to Barking lines by 2010 </li>
<li>The trains were built in Derby by Bombardier who will also maintain them. The construction and maintenance contract is worth &pound;223m </li>
<li>The new trains are Class 378s, modelled on Bombardier's Class 376 Electrostar but designed specifically for the high volume of passengers on busy inner metropolitan routes </li>
<li>By 2011 the three-car trains will be extended to four-cars and a further 10 four-car trains will be in service </li>
<li>The new trains will significantly improve passengers' comfort, with: <br>More space due to the improved layout <br>Greater security due to clear sightlines right through the carriages and onboard CCTV monitored by the driver <br>Quicker boarding and alighting with wider doors <br>Improved accessibility with dedicated wheelchair bays <br>Wide aisles and wide gangways meaning easy walkthrough carriages <br>Step free access on to the train via a wheelchair ramp <br>Real time information, with announcements made by PA and in-carriage screens <br>Air conditioning <br>Wider seats </li>
<li>The new trains are designed to be ten times more reliable than the old ones, which develop faults every 4,000 to 5,000 miles. The new ones are expected to develop faults only after 40,000 miles </li>
<li>QW Rail Leasing Ltd will pay Bombardier for the trains and own them, leasing them to TfL who will make them available to LOROL. QW Rail Leasing is a consortium comprising nabCapital (a division of National Australia Bank) and SMBC Leasing (a UK subsidiary of Sumitomo Mitsui Banking Corporation)<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The brand new, walkthrough trains will have more space for passengers, improved CCTV and air conditioning.The Mayor of London, Boris Johnson, rode the first of the new London Overground trains and was delighted to see the improvements.The Mayor said: 'For";}
        
        


 