


@{ViewBag.Title = "Mayor and TfL statement in response to London Assembly Budget and Performance Committee report on fares";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL statement in response to London Assembly Budget and Performance Committee report on fares</h1>
        <div class="content-page-press-release">
        10 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London's office and Transport for London (TfL) today responded to the London Assembly Budget and Performance Committee's report on fares.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is vital that we continue to invest in our transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">The Mayor of London's Transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is vital that we continue to invest in our transport network
                            
                        </p>
                    </div>
                
            
            
            <p>They made it clear that fares will remain affordable and that billions will continue to be invested to improve transport in London.</p> <p>The Assembly report looks at the potential level of TfL's fares for 2010 and in subsequent years.&nbsp; </p> <p>It asserts that TfL is facing a shortfall of &pound;112m this year due to lower than projected fares revenue.&nbsp; </p> <p>However, this is not a new projection and the &pound;112m was taken in to account when TfL's budget for 2009/10 was published earlier this year.&nbsp; </p> <p>We therefore do not recognise the Assembly's range of numbers.</p> <p>The Mayor of London's Transport advisor, Kulveer Ranger, said: 'All Londoners and commuters know that it is vital that we continue to invest in our transport network.&nbsp; </p> <h2>Continued investment</h2> <p>'That's why we are investing huge sums to improve transport services while delivering clear value for money.</p> <p>'This year alone &pound;9.2bn will be invested on transport projects in the Capital such as tube upgrades, Crossrail, extensions to the DLR and London Overground, major new cycling schemes and projects to improve traffic flow.</p> <p>'The Mayor has made his commitment to ensuring that fares remain fair and affordable very clear. </p> <p>'Indeed, action has already been taken to extend the availability of half-price fares to those Londoners on income support and jobseekers allowance and have made the Freedom Pass usable 24 hours a day.</p> <p>'Every organisation has to deal with changing economic conditions. </p> <p>But it is unrealistic to predict that the economic climate will remain stationary until 2018. </p> <p>Therefore it is inappropriate to propose options based on that assumption. </p> <h2>Affordable fares</h2> <p>Every year the Mayor carefully reviews all of the relevant factors before deciding on a fair and affordable fares structure.'</p> <p>TfL Managing Director of Finance, Steve Allen, said: 'The &pound;112m 'shortfall' referred to in this report has already been dealt with through our balanced 2009/10 Budget, published earlier this year.&nbsp;&nbsp; </p> <p>Therefore, we do not recognise the Assembly's range of numbers.&nbsp; </p> <p>'Clearly TfL is not immune from changing economic conditions and, among other things, we continue to seek further savings and efficiencies over and above the &pound;2.4bn we are already delivering.&nbsp; </p> <p>'However, lower RPI means that we also benefit from some lower costs.</p> <p>'We will continue to closely monitor the economic outlook and will revise our longer-term Business Plan in the autumn, as we do each year.'</p> <p> <hr> <strong>Notes to editors:</strong>  <p> <ul> <li>In autumn 2008, TfL set out a Business Plan covering the period up to 2018 which describes how the organisation will deliver day-to-day transport services and a multi-billion pound investment programme to upgrade the Tube, build Crossrail, prepare for the 2012 Games, launch a cycling revolution and smooth traffic flow across the city.&nbsp;Savings and efficiencies of at least &pound;2.4bn will also be delivered and TfL continues to seek ways to deliver investment and services more efficiently  </li><li>TfL's Business Plan makes clear that while fares are assumed to rise at a rate of RPI +1 per cent, the Mayor will take a decision each year, seeking to ensure fares remain affordable and safeguarding vital investment in London's transport infrastructure and services  </li><li>In spring 2009, TfL published its balanced, annual budget, which had already taken into account a deteriorating economy in terms of lower projections of fare income. TfL's Business Plan will be updated in the autumn to take account of the Mayor's decision on fares for 2010, the prevailing economic circumstances and the progress of the investment programme</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "They made it clear that fares will remain affordable and that billions will continue to be invested to improve transport in London. The Assembly report looks at the potential level of TfL's fares for 2010 and in subsequent years.&nbsp;It asserts that TfL";}
        
        


 