


@{ViewBag.Title = "National Grid and BT carry out works on section of A406";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>National Grid and BT carry out works on section of A406</h1>
        <div class="content-page-press-release">
        09 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Monday 13 July, the westbound carriageway of the A406 will be reduced from three to two lanes between the Great Cambridge Roundabout and Green Lanes for eight weeks.
        
    </div>



 <div class="on-this-page">
<p>The slip lane on to Green Lanes will also be closed while National Grid and British Telecom undertake upgrade works. </p>
<p>Vehicles wishing to turn left onto Green Lane will be diverted via Brownlow Road.</p>
<p>Motorists are advised that congestion is likely, particularly during peak hours.</p>
<p>Transport for London (TfL) has coordinated with utilities companies to minimise disruption and ensure that multiple works are carried out during road closures wherever possible.&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The slip lane on to Green Lanes will also be closed while National Grid and British Telecom undertake upgrade works. Vehicles wishing to turn left onto Green Lane will be diverted via Brownlow Road.Motorists are advised that congestion is likely,";}
        
        


 