


@{ViewBag.Title = "New signalling contract to boost capacity and reliability on 40 per cent of Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New signalling contract to boost capacity and reliability on 40 per cent of Tube</h1>
        <div class="content-page-press-release">
        28 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contract for Sub Surface lines marks next stage in delivery of huge Tube upgrade.<BR><BR><BR>Will deliver more reliable trains, more often on Circle, District, Hammersmith & City and Metropolitan lines.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have saved London's fare and taxpayers millions of pounds, ensuring London will get the transformed Tube it needs at the best value for the public purse"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have saved London's fare and taxpayers millions of pounds, ensuring London will get the transformed Tube it needs at the best value for the public purse
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has issued an invitation to tender for the re-signalling programme for the Circle, District, Hammersmith &amp; City and Metropolitan lines (Sub-Surface lines). </p>
<p>The contract is the single biggest piece of work on the Tube as London Underground continues its largest investment programme since the Second World War.</p>
<p>Coupled with a fleet of 191 new air-conditioned walk-through trains, the new signalling will mean customers can travel more quickly and frequently on the District, Circle, Hammersmith &amp; City and Metropolitan lines. Delivering nearly 50 per cent increase in capacity. </p>
<h2>Billions saved</h2>
<p>LU decided to re-tender the contract last year following the collapse of Metronet in 2007 as the original contract placed by Metronet did not provide the best technical solution or the best value for money. </p>
<p>It also follows recently published&nbsp; figures which show that, following Metronet's collapse and then transfer to LU, around &pound;2.5billion has been saved through the renegotiation of contracts, revising the upgrade programme, better procurement and operational efficiencies.</p>
<p>Richard Parry, Managing Director of London Underground, said: 'We're investing billions to transform the Tube. </p>
<p>'This new Sub-Surface lines signalling contract will, when complete, deliver huge increases in capacity and reliability, to provide our customers with the service they need.</p>
<p>'The original contract that we inherited from Metronet was over-priced and incompatible with other signalling systems on the Tube network. </p>
<h2>Better value service</h2>
<p>'By re-tendering, we have saved London's fare and taxpayers millions of pounds, ensuring London will get the transformed Tube it needs at the best value for the public purse.'</p>
<p>Kulveer Ranger, the Mayor of London's Director of Transport policy, said: 'We will all notice as new trains start to roll out on the Tube, but equally important to Londoners' journeys is the renewal of the signalling system, which will allow the trains to carry passengers more quickly and reliably.&nbsp; </p>
<p>'That we are delivering this whilst at the same time saving many millions of pounds is good news for London.'</p>
<p>The invitation to tender went out on Thursday 16 July and responses are due back in by Friday 18 December.<br></p>
<p>
<hr>
<strong>Notes to editors:</strong>
<ul>
<li>The sub surface lines which covers over 300km of track and serves around 40 per cent of the Tube network</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has issued an invitation to tender for the re-signalling programme for the Circle, District, Hammersmith &amp; City and Metropolitan lines (Sub-Surface lines). The contract is the single biggest piece of work on the Tube as London";}
        
        


 