


@{ViewBag.Title = "Oyster takes to the sky as Visitor Oyster to be sold on all London-bound easyJet flights";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster takes to the sky as Visitor Oyster to be sold on all London-bound easyJet flights</h1>
        <div class="content-page-press-release">
        01 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers can touch down and then touch in to public transport in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Many thousands of people visiting us this summer will be able to benefit from this huge extension to the Visitor Oyster card network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Many thousands of people visiting us this summer will be able to benefit from this huge extension to the Visitor Oyster card network
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, has announced that from today Visitor Oyster will be sold onboard all easyJet flights to London Luton, Gatwick and Stansted.</p>
<p>The deal between Transport for London and easyJet, the UK's largest airline, is the first of its kind and will enable air passengers to purchase Oyster cards whilst in the air.</p>
<p>Visitor Oyster cards enable passengers to quickly and easily access the Tube, London Buses, the DLR and other TfL services the moment they arrive in the Capital. </p>
<h2>Helping tourists</h2>
<p>The deal with easyJet marks the biggest expansion of the Visitor Oyster network to-date and will open up Visitor Oyster to the thousands of passengers who travel on easyJet flights to London each day.</p>
<p>The Mayor was joined this morning at City Hall by easyJet's Chief Executive, Andy Harrison and members of cabin crew to announce the deal.</p>
<p>The Mayor of London, Boris Johnson, said: 'Many of us share the experience of arriving in a new city and having our first moments taken up with the baffling process of working out what tickets are needed. </p>
<p>'People flying to London with easyJet can now pick up one of our cards and enjoy the ease, convenience and good value offered by Oyster.&nbsp; </p>
<p>'London remains an incredibly attractive business and tourist destination and the many thousands of people visiting us this summer will be able to benefit from this huge extension to the Visitor Oyster card network,&nbsp;which makes Oyster more accessible than ever.'&nbsp;&nbsp;</p>
<h2>Enjoy London</h2>

<p>Andy Harrison, easyJet's Chief Executive, said: 'We are delighted to be teaming up with Transport for London and VisitBritain.&nbsp; </p>
<p>'easyJet is once again delivering yet another customer benefit for our large European customer base by making the cards easy to get hold of before a passenger even arrives in London.</p>
<p>'It saves time on queuing for tickets leaving people more time to enjoy their visit.'</p>
<p>The partnership between Transport for London and easyJet was brokered by VisitBritain and will see Visitor Oyster Cards sold as part of a three-month trial which, if successful, will be extended.&nbsp; </p>
<p>Visitor Oyster Card holders will also enjoy the additional benefit of a 20 per cent discount on purchases at Westfield shopping centre when they present their Visitor Oyster Card along with their easyJet boarding pass.&nbsp;</p>
<p>It is hoped that this will encourage visitors to extend their trip to the largest in-town shopping and leisure destination in Europe and experience one of the city's most fashionable visitor attractions. </p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<p>For further information or to request images please contact: <br>&nbsp; <br>Dan Maskell in the TfL Press Office on 020 7126 4910, or&nbsp;<a title="Press Office" href="mailto:danmaskell&#64;tfl.gov.uk">email</a> </p>
<p>Andrew McConnell in the easyJet Press Office on 07985 891 489, or <a title="EasyJet Press Office" href="mailto:press.office&#64;easyjet.com">email</a> </p>
<p>Images are available - please contact the TfL Press Office on 0845 604 4141 for more information.</p>
<p><strong>About TfL </strong></p>
<ul>
<li>Transport for London (TfL) is the integrated body responsible for the Capital's transport system, managing London's buses, London Underground (LU), Docklands Light Railway (DLR), London Overground and London Trams. It also runs London River Services (LRS), Victoria Coach Station (VCS) and London's Transport Museum.&nbsp;As well as running London's Congestion Charging scheme, TfL manages a 580km network of main roads, all of London's 6,000 traffic lights and regulates taxis and the private hire trade </li>
<li>Oyster cards are electronic ticketing smartcards that can be used to travel on all TfL services and some National Rail services </li>
<li>The Visitor Oyster card is a specifically branded version of the Oyster card designed for the visitor market. Visitor Oyster is available with various pre-loaded credit limits dependent on the external organisation retailing the card. The Visitor Oyster card sold by easyJet will cost &pound;22&nbsp;and includes &pound;20 pay as you go (PAYG) credit pre-loaded onto the card. Passengers can easily top up their credit at Tube stations, Travel Information Centres and thousands of Oyster Ticket Stops in shops across the Capital </li>
<li>A number of commercial partners currently retail Visitor Oyster Cards: VisitBritain, Visit London, National Express coach services, Gatwick Express, Stansted Express, Oxford Tube coach services, Eurostar and Superbreak.&nbsp;Visitor Oyster Cards are also available at a number of <a title="Visitor Oyster cards" href="http://www.tfl.gov.uk/tickets/faresandtickets/visitortickets/5184.aspx">overseas travel agents</a>. </li></ul>
<p><strong>About easyJet </strong></p>
<ul>
<li>easyJet is Europe's leading low-fares airline, currently operating 175 aircraft on 420 routes </li>
<li>easyJet flies to: Aberdeen, Ajaccio, Alicante, Almeria, Amsterdam, Asturias, Athens, Barcelona, Bari, Basel, Bastia, Belfast, Berlin, Biarritz, Bilbao, Birmingham, Bodrum, Bordeaux, Bournemouth, Brindisi, Bristol, Budapest, Brussels, Bucharest, Catania, Cagliari, Cologne, Copenhagen, Corfu, Casablanca, Dalaman, Dortmund, Dubrovnik, East Midlands, Edinburgh, Faro, Fuerteventura, Geneva, Gibraltar, Glasgow, Gran Canaria, Grenoble, Hamburg, Helsinki, Heraklion, Hurghada, Ibiza, Innsbruck, Inverness, Istanbul, Jersey, Krakow, Lamezia Terme, Larnaca, Lanzarote, La Rochelle, Lisbon, Liverpool, Ljubljana, London Gatwick, London Luton, London Stansted, Lyon, Madeira, Madrid, Mahon, Malaga, Malta, Manchester, Marrakech, Marseille, Milan Linate, Milan Malpensa, Montpellier, Munich, Murcia, Mykonos, Nantes, Naples, Newcastle, Nice, Olbia, Palermo, Palma, Paphos, Paris Charles de Gaulle, Paris Orly, Pisa, Porto, Prague, Rhodes, Rome, Salzburg, Santorini, Sharm El Sheik, Sofia, Split, Stockholm, Tangier, Tallinn, Tenerife, Thessaloniki, Toulouse, Turin, Valencia, Venice, Vienna, Warsaw and&nbsp;Zurich</li></ul>
<p><strong>About VisitBritain </strong></p>
<ul>
<li>VisitBritain is responsible for promoting Britain as a world class tourist destination and for developing the UK's visitor economy.&nbsp;It has representatives in 35 countries around the world and has expanded into India, China, throughout Eastern Europe and Southeast Asia </li>
<li>Every year&nbsp;more than&nbsp;12m visits are made by international consumers to the 46 websites that make up VisitBritain's global family of <a title="Visit Britain" href="http://www.visitbritain.com,">websites</a>,&nbsp;which together provide information in 26 different languages<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has announced that from today Visitor Oyster will be sold onboard all easyJet flights to London Luton, Gatwick and Stansted.The deal between Transport for London and easyJet, the UK's largest airline, is the first of";}
        
        


 