


@{ViewBag.Title = "Scaffolding company fined &pound;3,500 for risking safety of road users";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Scaffolding company fined &pound;3,500 for risking safety of road users</h1>
        <div class="content-page-press-release">
        21 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First ever prosecution in England and Wales against unlawful tampering of road signs.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Workers on the site, pedestrians and drivers were all put at risk by this thoughtless action.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has successfully prosecuted Gama Scaffoldings Ltd at the City of Westminster Magistrates Court, for offences under the New Roads and Street Works Act 1991.&nbsp;</p>
<p>The offence took place on the 5 December last year when Gama Scaffoldings removed and tampered with essential temporary road safety signs, barriers and cones which had been placed on the street by Thames Water.&nbsp; </p>
<h2>Unnecessary disruption </h2>
<p>Gama Scaffoldings was also found to have parked two of its own lorries in the path of traffic, causing unnecessary disruption and delays, and forcing drivers into the area reserved for Thames Water's workers. </p>
<p>Gama Scaffoldings staff had moved the safety cones and barriers placed by Thames Water and closed off the footpath. Pedestrians were also forced into the road as the footpath had been blocked.</p>
<p>TfL enforcement officers were called to the scene on the same day and made the site safe by re-positioning the cones and signs. </p>
<p>The officers also took photographs at the scene which were presented in court last week.</p>
<p>Gama Scaffoldings representatives failed to turn up to court and the matter was proved in their absence. </p>
<h2>Concern for safety</h2>
<p>The court found Gama Scaffoldings guilty and fined them the sum of &pound;3,500 and an additional &pound;400 in costs to TfL. </p>
<p>Nick Morris, Director, Road Network Performance at TfL, said:&nbsp; 'The scene left by Gama Scaffoldings was one which could easily have caused an accident, and we are lucky that no one was hurt. </p>
<p>'Workers on the site, pedestrians and drivers were all put at risk by this thoughtless action. </p>
<p>'Gama Scaffoldings showed no concern for safety, and I hope this court action and the fine imposed will make its management take their responsibilities seriously and encourage workers to think twice before they wreak havoc with essential safety measures on a busy thoroughfare like St Thomas Street.'<br></p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong> </p>
<ul>
<li>The illegal tampering of road traffic signs is an offence under the New Roads and Street Works Act 1991 </li>
<li>Gama Scaffoldings Ltd was charged with one count of tampering with road traffic signs put in place by a statutory undertaker without lawful authority or excuse </li>
<li>The hearing at City of London Magistrates Court was held on 16 July&nbsp;2009 </li>
<li>This offence can attract the highest penalty in a Magistrates court, &pound;5000<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has successfully prosecuted Gama Scaffoldings Ltd at the City of Westminster Magistrates Court, for offences under the New Roads and Street Works Act 1991.&nbsp;The offence took place on the 5 December last year when Gama";}
        
        


 