


@{ViewBag.Title = "TfL publishes review of potential East London river crossings ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes review of potential East London river crossings </h1>
        <div class="content-page-press-release">
        10 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Early results recommend further feasibility work on a package of projects including Silvertown crossing and Woolwich ferry upgrade.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This report makes a series of sensible recommendations that we will now dig deeper into"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This report makes a series of sensible recommendations that we will now dig deeper into 
                            
                        </p>
                    </div>
                
            
            
            <p>A review by Transport for London (TfL) of the potential for future river crossings in the east of the Capital has concluded that a package of measures are required to improve access at various locations along the river. </p>
<p>It specifically recommends further work to look at improvements to passenger ferry services, a pedestrian and cycle bridge between North Greenwich and Canary Wharf; and a tunnel or bridge crossing at Silvertown. </p>
<p>The East London River Crossings Review was carried out by TfL at the request of the Mayor. </p>
<p>It also recommends consideration of a new vehicle ferry crossing at Gallions Reach with the potential to upgrade to a fixed link and options to upgrade the Woolwich Ferry. </p>
<p>The next stage of feasibility studies will be carried out in time to inform the new Mayoral Transport Strategy which will be published for public consultation later this year.</p>
<p>The Mayor of London, Boris Johnson said: 'Anyone that has ever tried to cross the Thames in east London is aware of the lack of crossings and the congestion this causes. </p>
<h2>East London access</h2>
<p>'The residents and businesses in this part of London deserve better and I am absolutely determined to deliver the improvements they require. </p>
<p>'This report makes a series of sensible recommendations that we will now dig deeper into and that I will consider as I put together my transport strategy for the Capital.'</p>
<p>Last year the Mayor decided that due to concerns over local traffic impacts and the fact that the scheme was not recommended by the Planning Inspector; the proposed Thames Gateway Bridge, was not the solution to the problem of crossing the Thames in east London and is not an option. </p>
<p>The Mayor then asked TfL to find alternative options for new east London river crossings.</p>
<p>Their review considers a range of east London transport issues from road congestion around the Blackwall Tunnel, the Isle of Dogs and North Greenwich to improving access for pedestrians and cyclists; and the need to provide access to employment opportunities on both sides of the river. </p>
<h2>Crossing the river</h2>
<p>As the economy of east London has changed and developments such as Canary Wharf, Excel and the 02 have been built, the overall demand for travel across the river has increased significantly. </p>
<p>Many of the large new economic drivers for London are located in the east with the majority of these lying north of the river. </p>
<p>Opportunities for travelling to these new destinations from some areas south of the river such as north Bexley and parts of Greenwich are restricted.</p>
<p>However, options for crossing the river east of Tower Bridge have improved significantly in recently years with the opening of the Jubilee Line Extension, expansion of the Docklands Light Railway network and the introduction of passenger ferry services. </p>
<p>The opening of the extended East London Line next year and Crossrail in 2017 will provide new transport links across but further improvements are required particularly for vehicle traffic across the river. </p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A review by Transport for London (TfL) of the potential for future river crossings in the east of the Capital has concluded that a package of measures are required to improve access at various locations along the river. It specifically recommends further";}
        
        


 