


@{ViewBag.Title = "TfL premieres new film to improve cycle safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL premieres new film to improve cycle safety</h1>
        <div class="content-page-press-release">
        16 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 140,000 cyclists in the Capital are being sent a link to a new cycle safety training film for cyclists and lorry drivers as part of work by Transport for London (TfL) to reduce the number of cyclists killed and seriously injured in the Capital.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I want Londoners to feel excited about our cycle revolution
                            
                        </p>
                    </div>
                
            
            
            <p>The five minute film, which anyone can watch online at <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a>&nbsp;has been designed to help cyclists and lorry drivers navigate London&acute;s busy roads - and each other - safely. </p>
<p>Filmed from both the cyclists and drivers points of view, it outlines a series of golden rules:</p>
<ul>
<li>Drivers of left-turning goods vehicles must keep checking their left mirror for cyclists </li>
<li>Cyclists should remember that if they can't see a vehicle's mirrors, they probably can't be seen by the driver </li>
<li>Cyclists should avoid undertaking (going up the left-hand side) goods vehicles, and shouldn't undertake a goods vehicle that is stopped at traffic lights, unless the lights have only just turned red </li>
<li>Cyclists should ensure they position themselves far enough ahead of an goods vehicle (in stopped traffic) that the driver can see them</li></ul>
<p>Last year nine London cyclists lost their lives after being in an incident involving a Heavy Goods Vehicle (HGV). </p>
<p>The number of cycle casualties is falling but TfL are determined to address the number of collisions taking place involving cyclists and goods vehicles. </p>
<p>The Mayor of London, Boris Johnson, said: 'I want Londoners to feel excited about our cycle revolution and to feel 100 per cent confident about getting on their bikes. </p>
<h2>Cycle training</h2>
<p>'It is crucial that lorry drivers and cyclists look out for one another on our streets and behave in a way that keeps them safe. </p>
<p>'I urge drivers and cyclists to watch this short film and would encourage everyone to give cycle training a go.'</p>
<p>Londoners of all ages are also being encouraged to sign up for TfL-funded cycle training through their local borough councils. </p>
<p>The training sessions, which are free in many boroughs, are individually tailored to each person's needs, and teach them how to deal with a wide range of traffic conditions - including how to behave around goods vehicles. </p>
<div class="pullquote left">
<p>Cycle training is something that can help all of us, from complete beginner to seasoned commuter 
<div><class="cite">Ben Plowden, Director of Integrated Programmes at TfL</class="cite"></div>
<p></div>
<p>The posters will appear on advertising sites across London from Friday, 17 July.</p>
<p>Last year nearly 6,000 adults and more than 39,000 children took part in TfL-funded cycle training - a record number. </p>
<p>Despite this, new research from TfL shows only one in ten of all Londoners and only three in 10 London cyclists have ever had cycle training.</p>
<h2>Look out for Londoners</h2>
<p>Ben Plowden, Director of Integrated Programmes at TfL, said: 'The number of adults being cycle trained in London in the past two years has nearly doubled, but a lot of people aren't aware that they can get free, or very low cost TfL-funded cycle training through their local council. </p>
<p>'Cycle training is something that can help all of us, from complete beginner to seasoned commuter, navigate London's roads with greater confidence and increased awareness.'</p>
<p>Gordon Telling, Head of Policy at the Freight Transport Association, said: 'With increasing numbers of deliveries and other freight journeys being made each day the need for courteous, considerate and safe behaviour from all road users is greater than ever.&nbsp; </p>
<p>'I strongly recommend that all users, especially cyclists and commercial drivers, take the few minutes to watch this film and make sure that they share the road and don't become victims of a tragic collision.'</p>
<p>A full-length version of the cycle safety film is being sent out to haulage companies and road safety officers, in addition to being available online. </p>
<p>To view the internet version of the film, and to find out how to book cycle training in your local area, visit <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a>.<br>&nbsp;<br><strong>
<hr>
Notes to editors:</strong> 
<p>
<ul>
<li>The number of cyclists killed or seriously injured has fallen by 21 per cent in the last decade. This is despite the fact that the number of cycle journeys made on London's major roads have increased by 107 per cent since 2000 </li>
<li>The Mayor and TfL recognise that, while cycling is getting safer, collisions between cyclists and goods vehicles remain a serious issue, and we are working hard to address this </li>
<li>In addition to funding cycle training and producing the new safety film, TfL has or is taking the following steps to improve cycle safety in the Capital: 
<ul>
<li>Last year (2008/09) 5,875 adults and 39,118 children had TfL-funded cycle training - a record number </li>
<li>TfL continues to work with haulage companies though the Freight Operator Recognition Scheme (FORS) to address the problem of collisions between cyclists and goods vehicles. Companies are working with TfL to put warning signage on the back of their vehicles and educate their drivers about how to behave around cyclists (9,800 signs have been distributed to date) </li>
<li>In the past year, TfL has distributed 15,000 free safety lenses (through FORS), known as 'Fresnel' lenses, to freight companies operating vehicles in London. The easy to fit lenses stick on to the passenger window of a truck cab, improving lorry drivers' vision of cyclists who come within close proximity of their vehicles&nbsp; </li>
<li>TfL has asked the Department for Transport to allow it to trial cyclists turning left at red traffic signals, and trixie mirrors, in the Capital&nbsp; </li>
<li>TfL works with the Metropolitan Police to run cycle safety awareness days for HGV drivers and cyclists</li></ul></li>
<li>This year TfL is funding &pound;3m in cycle training for Londoners of all ages, through London's borough councils </li>
<li>The Mayor and&nbsp;TfL are investing a record &pound;111m in cycling in 2009/10.&nbsp;That money is being spent on Cycle Hire, Cycle Superhighways, infrastructure, safety training, promotion and education </li>
<li>A total of 69 per cent of people who cycle in London have never had any cycle training. One in 10 Londoners have had cycle training at some point in their life (Synovate research for TfL, May 2009) </li>
<li>TfL&nbsp;has a target to increase cycling by 400 per cent by 2025 (compared to 2000) </li>
<li>It is estimated that there are now approximately 545,000 cycle journeys a day across London as a whole. Since the 2008 elections, there has been a nine per cent increase in cycling on London's major roads </li>
<li>There was a 47 per cent increase in adults being cycle trained last year, and a 97 per cent increase in adults being cycle trained in the last two years </li>
<li>The Share the Road posters are part of the Mayor's Share the Road campaign; a mutual respect education and enforcement campaign encouraging a mutual respect between motorists, cyclists and pedestrians in London with the aim of achieving better standards of driving and riding and a greater level of courtesy shown by road users to one another<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The five minute film, which anyone can watch online at tfl.gov.uk/cycling&nbsp;has been designed to help cyclists and lorry drivers navigate London&acute;s busy roads - and each other - safely. Filmed from both the cyclists and drivers points of view, it";}
        
        


 