


@{ViewBag.Title = "TfL appoints new Chief Operating Officer and Director";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints new Chief Operating Officer and Director</h1>
        <div class="content-page-press-release">
        16 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Garrett Emmerson appointed as Chief Operating Officer of Streets and Traffic following retirement of Peter Brown, Ben Plowden appointed to new role as Director of Integrated Programme Delivery.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Garrett and Ben will both play vital roles in delivering the Mayor's priorities in key areas.
                            
                        </p>
                    </div>
                
            
            
            <p>TfL have announced two new senior appointments within its Surface Transport Division.</p>
<p>Garrett Emmerson has taken up the role of Chief Operating Officer of Streets and Traffic replacing Peter Brown who has recently retired.</p>
<p>Ben Plowden has taken up the new role of Director of Integrated Programme Delivery, which will bring together key projects including walking and cycling, road safety and smarter travel.</p>
<p>The Chief Operating Officer of Streets and Traffic is responsible for keeping London moving and helping to drive forward the Mayor's agenda to smooth traffic flow in the Capital.</p>
<p>The role oversees the operation, management and investment in the Transport for London Road Network (London's Red Routes), traffic signals, and traffic, incident and event management. </p>
<p>The Director of Integrated Programme Delivery is responsible for delivering integrated transport programmes across London to support sustainable travel.&nbsp;</p>
<p>This includes cycling and walking, road safety, bus priority, public realm improvements, smarter travel and freight.</p>
<p>Garret Emmerson was previously Director of Strategy and Policy in TfL Planning and joined TfL in 2008.<br>&nbsp;<br>Ben Plowden was previously Director of TfL's Smarter Travel Unit and joined TfL in July 2002.</p>
<p>David Brown, Managing Director, Surface Transport, said:&nbsp; 'Garrett and Ben will both play vital roles in delivering the Mayor's priorities in key areas such as smoothing traffic flow and dramatically increasing the number of people cycling in the Capital.'</p>
<p>
<hr>
<strong>Notes to editors</strong>
<ul>
<li>Both roles report directly to David Brown, Managing Director, Surface Transport, TfL </li>
<li>Garrett Emmerson, 43, joined TfL in 2008 and was Director of Strategy and Policy in TfL Planning, responsible for TfL's long term corporate policy and strategy development.&nbsp; Garret was previously a director at Steer Davies Gleave and is a former Director of Transportation at Buckinghamshire County Council </li>
<li>Ben Plowden, 46, joined TfL in 2002 and was Director of TfL's Smarter Travel Unit. Prior to this he was TfL's Managing Director of Communications and Borough Partnerships.&nbsp;Before joining TfL Ben led the campaigning organisation Living Streets.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL have announced two new senior appointments within its Surface Transport Division.Garrett Emmerson has taken up the role of Chief Operating Officer of Streets and Traffic replacing Peter Brown who has recently retired.Ben Plowden has taken up the new";}
        
        


 