


@{ViewBag.Title = "TfL and Oakmayne sign agreement for Woolwich Arsenal DLR station development";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Oakmayne sign agreement for Woolwich Arsenal DLR station development</h1>
        <div class="content-page-press-release">
        28 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today signed a joint venture agreement with Oakmayne Properties to develop 1.5 acres of space above the new Docklands Light Railway (DLR) station at Woolwich Arsenal and at the former DLR work site in Woolwich Town Centre.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The DLR Woolwich Arsenal extension has made a tremendous contribution to the regeneration of the local area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Anthony Bickmore</div>
            <div class="quotee-job-title">TfL Head of Property Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The DLR Woolwich Arsenal extension has made a tremendous contribution to the regeneration of the local area
                            
                        </p>
                    </div>
                
            
            
            <p>The new developments are planned to be around 165,000 sq ft in size and will include residential and commercial use. </p>
<p>The new DLR extension to Woolwich Arsenal has been a huge success with more than two million passengers passing through the station since it opened in January 2009.</p>
<p>The DLR extension has increased access to jobs, healthcare and leisure for local people and contributed towards the regeneration of Woolwich Town Centre. </p>
<h2>Regenerating Woolwich</h2>
<p>Development of the space above the two station entrances and at the former work site will now add further impetus to the regeneration of Woolwich. </p>
<p>Under the terms of the joint venture Oakmayne will be responsible for gaining planning permission for the sites and the delivery of the development whilst TfL will remain landowners.&nbsp;</p>
<p>On completion, the properties will be sold and any profit from the sale split between the two parties. </p>
<p>All funds received by Transport for London will be invested in improving and expanding London's transport network. </p>
<p>Anthony Bickmore, TfL Head of Property Development, said: 'The DLR Woolwich Arsenal extension has made a tremendous contribution to the regeneration of the local area, providing a connection to Canary Wharf, the City and the wider Tube network. </p>
<h2>Sustainable housing</h2>
<p>'This new joint venture will add further impetus by creating much needed sustainable housing stock.' </p>
<p>David Humbles, Director of Oakmayne Properties, added: 'The partnership between Oakmayne and TfL is an important milestone for Woolwich and will add new impetus to the town's regeneration programme. </p>
<p>'Oakmayne's design-led approach to urban development projects and comprehensive regeneration experience will ensure these strategic sites are transformed into high-quality hubs.'</p>
<p>TfL and Oakmayne intend to submit a planning application for a mixed use scheme on one of the sites to the London Borough of Greenwich, the local planning authority, in 2010.</p>
<p>
<hr>
<strong>Notes to Editors</strong> 
<p><strong></strong>
<ul>
<li>Woolwich Arsenal DLR station opened on 12 January 2009 and includes step-free access to platforms and trains. It has two entrances, at Greens End and Woolwich New Road and is fully-integrated with existing Woolwich Arsenal National Rail services </li>
<li>The DLR services mean that Woolwich is now 30 minutes away from Bank station in the heart of the City by direct DLR service </li>
<li>DTZ acted as consultants and development agents for the disposal of the&nbsp;three sites on behalf of TfL. South Central Management acted as consultants for Oakmayne Properties</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new developments are planned to be around 165,000 sq ft in size and will include residential and commercial use. The new DLR extension to Woolwich Arsenal has been a huge success with more than two million passengers passing through the station since";}
        
        


 