


@{ViewBag.Title = "TfL's Tube service updates light up iconic 'Coca-Cola' Sign at Piccadilly Circus";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's Tube service updates light up iconic 'Coca-Cola' Sign at Piccadilly Circus</h1>
        <div class="content-page-press-release">
        17 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From today, Londoners and visitors walking through Piccadilly Circus will be able to get the latest information on their Tube journeys by glancing at the world-famous 'Coca-Cola' Piccadilly sign.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The 'Bus' and 'Tube' films are popular with consumers and so it makes perfect sense to add an interactive and informative element to them"</div>
        <div class="quote-footer">
            <div class="quotee-name">Cathryn Sleight</div>
            <div class="quotee-job-title">Marketing Director for Coca-Cola Great Britain</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The 'Bus' and 'Tube' films are popular with consumers and so it makes perfect sense to add an interactive and informative element to them
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has formed a partnership with Coca-Cola Great Britain to display up-to-the-minute Tube travel information on the iconic digital billboards from 20 July. </p>
<p>This move complements TfL's extensive range of online Travel Tools which include the TfL website with its travel information status board and free text and email alerts - which are aimed at providing Londoners and visitors with the latest Tube travel information to help them work out the quickest journey from A to B.&nbsp; </p>
<h2>Live ticker</h2>
<p>Nigel Marson, TfL's Director of Group Marketing, said: 'This innovative partnership with Coca-Cola allows us to extend a much appreciated information service to passengers travelling through one of London's busiest thoroughfares and best known visitor destinations. </p>
<p>'Tube service updates on the digital billboard at Piccadilly Circus are another fantastic way to help our passengers plan their journey while on the move.'</p>
<p>The billboard screen which is run on 100 per cent certified green electricity will display Tube travel updates by running a live ticker alongside a 'Bus' and 'Tube' sequence,&nbsp;at the bottom of the Coca-Cola Piccadilly sign.</p>
<p>The information will run every five minutes from Monday to Friday from 08:00 to 18:00 and is targeted at the 1.1 million people who pass through Piccadilly Circus during the course of the week. </p>
<h2>Popular with consumers</h2>
<p>Cathryn Sleight, Marketing Director for Coca-Cola Great Britain, said: 'As the longest continuous advertiser at Piccadilly Circus, Coca-Cola Great Britain is constantly looking for ways to connect with today's busy consumers.&nbsp; </p>
<p>'It's a real honour to be working with TfL. The 'Bus' and 'Tube' films are popular with consumers and so it makes perfect sense to add an interactive and informative element to them.'</p>
<p>The partnership between TfL and Coca-Cola Great Britain is initially for 12 months and if successful will be extended.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p><strong>About TfL </strong></p>
<ul>
<li>TfL is the integrated body responsible for the Capital's transport system, managing London's buses, London Underground (LU), Docklands Light Railway (DLR), London Overground and London Trams.&nbsp;It also runs London River Services (LRS), Victoria Coach Station (VCS) and London's Transport Museum.&nbsp;As well as running London's Congestion Charging scheme, TfL manages a 580km network of main roads, all of London's 6,000 traffic lights and regulates taxis and the private hire trade </li>
<li>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the quickest and safest journey from A to B </li>
<li>For free mobile and email alerts to keep up to date on all TfL services passengers can sign up at <a href="http://alerts.tfl.gov.uk/">http://alerts.tfl.gov.uk/</a> </li>
<li>Apart from the TfL website <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> , passengers can check before travelling via the following options: 
<ul type="circle">
<li>The 24-hour London Travel Information helpline: 020 7222 1234 </li>
<li>BBC Ceefax, page 436, or ITV's Teletext, page 164</li></ul></li></ul>
<p><strong>About Coca-Cola</strong></p>
<ul>
<li>Coca-Cola remains one of the most successful and innovative brands in&nbsp;the world today </li>
<li>On-going brand and product innovation continues to reinforce this position of leadership in the soft drinks category</li></ul>
<p><strong>About the 'Coca-Cola' Piccadilly sign</strong></p>
<ul>
<li>1.1 million people, including motorists are estimated to pass the Coca-Cola billboard sign, the most recognisable advertising screen, at Piccadilly Circus each week </li>
<li>Coca-Cola is the longest serving advertiser at Piccadilly Circus with their first sign installed in 1954 </li>
<li>The screen is run on 100 per cent certified green electricity</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has formed a partnership with Coca-Cola Great Britain to display up-to-the-minute Tube travel information on the iconic digital billboards from 20 July. This move complements TfL's extensive range of online Travel Tools which";}
        
        


 