


@{ViewBag.Title = "Thames Water to carry out works on A205 South Circular";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Thames Water to carry out works on A205 South Circular</h1>
        <div class="content-page-press-release">
        13 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Southbound traffic will be subject to diversions for light and heavy vehicles.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This work will bring benefits to the area for years to come, as we should not have to carry out repairs here in the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Neil Franks</div>
            <div class="quotee-job-title">Senior Project Manager at Thames Water</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This work will bring benefits to the area for years to come, as we should not have to carry out repairs here in the future
                            
                        </p>
                    </div>
                
            
            
            <p>From 27 July, the A205 Clifford Avenue will be closed to all southbound traffic for six weeks while Thames Water replaces Victorian water mains.</p>
<p>There will be two diversions in place for the six week period for southbound traffic starting at Chalker's Corner and motorists, particularly HGV drivers, are advised to allow extra time for their journeys.</p>
<p>Light vehicles will be diverted via Lower Richmond Road and Sheen Lane and back to the South Circular at Upper Richmond Road West. </p>
<h2>Keep motorists informed</h2>
<p>Local roads in the Barnes area operate with weight and height restrictions because of railway crossings and low railway bridges, therefore a separate diversion will operate for vehicles that are seven tonnes and over in weight. </p>
<p>From the A316, Clifford Avenue lorries will be diverted towards Hammersmith onto the A4 Great West Road, Hammersmith Broadway, down Fulham Palace Road into Fulham High Street, over Putney Bridge, left into Putney Bridge Road and Armoury Way and then connect back to the South Circular.</p>
<p>It is expected this diversion could add 30 minutes to journey times.</p>
<p>Transport for London (TfL) is working closely with the London Boroughs of Richmond, Hounslow, Hammersmith and Fulham and Wandsworth to ensure that disruption is kept to a minimum, and will keep motorists informed of closures and diversions through roadside message boards and local radio broadcasts. </p>
<h2>Upgrade works</h2>
<p>TfL has also consulted with the Metropolitan Police Service, London buses and London Lorry Control which manages a permit system for lorries over 18 tonnes driven in London. </p>
<p>Nick Morris, Director of Road Network Performance at TfL, said: 'We have liaised with Thames Water and ensured that they carry out the works during the summer holidays when there will be 10 per cent fewer road users on A205.&nbsp; </p>
<p>'We have spent the past year consulting with various local authorities and law enforcement agencies to ensure that the best alternative route is made available for southbound South Circular users.</p>
<p>'We ask motorists to bear with us while Thames Water carry out these upgrade works and we will do our best to ensure that disruption is kept to minimum.' </p>
<h2>Minimise disruption</h2>
<p>Neil Franks, Senior Project Manager at Thames Water' said: 'We will be replacing over 300m of old Victorian cast iron water mains as part of our essential work to reduce leakage in London.</p>
<p>'We appreciate that work of this nature does bring inevitable disruption, but this work will bring benefits to the area for years to come, as we should not have to carry out repairs here in the future.</p>
<p>'We are working closely with TfL to reduce the impact on traffic and thereby minimise disruption.&nbsp;We apologise for any inconvenience these works will cause road-users.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>HGV journey times will increase by up to 30 minutes.&nbsp;Motorists are advised to allow extra time to complete their journeys </li>
<li>TfL is working closely with Road Haulage Association to ensure&nbsp; their members receive advance warning of works</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 27 July, the A205 Clifford Avenue will be closed to all southbound traffic for six weeks while Thames Water replaces Victorian water mains.There will be two diversions in place for the six week period for southbound traffic starting at Chalker's";}
        
        


 