


@{ViewBag.Title = "Update on redevelopment of Tottenham Court Road station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Update on redevelopment of Tottenham Court Road station</h1>
        <div class="content-page-press-release">
        15 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Major utility works required to be undertaken on Oxford Street starting early 2010 and first Crossrail Visitor's Centre to open this week.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are working to ensure that we do our utmost to minimise the impact of this work for businesses, shoppers and local residents"</div>
        <div class="quote-footer">
            <div class="quotee-name">Miles Ashley</div>
            <div class="quotee-job-title">Head of London Underground's Stations Capacity Programme</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are working to ensure that we do our utmost to minimise the impact of this work for businesses, shoppers and local residents
                            
                        </p>
                    </div>
                
            
            
            <p>The next stage of redevelopment works at Tottenham Court Road station has been underway since mid-May and will continue until autumn, ahead of major construction works on the station starting early next year.&nbsp; </p> <p>Good progress continues to be made in preparing the site. </p> <p>Over the last two months work has been underway to remove roofs from properties that are being taken down. </p> <p>Dust sheeting and scaffolding has been installed around affected properties with work due to complete by autumn 2009. </p> <h2>Environmental benefits</h2> <p>Over 95 per cent of the material from the buildings being taken down will be recycled. </p> <p>All glass and metal will be used again and masonry will be broken up and used as building material on site. </p> <p>This provides major environmental benefits - including dramatically reducing what would be sent to landfill and the number of lorries taking material away. </p> <p>A total &pound;1bn investment is being made to upgrade the capacity of the Tube station, build a new Crossrail station and create a new piazza outside Centre Point. </p> <p>The transport improvements will also provide better facilities for pedestrians, cyclists, bus passengers and other road users.</p> <p>Improvements to the Tube station, which will be completed by 2016, will deliver:</p> <ul> <li>An enlarged ticket hall nearly six times the size of the current one  </li><li>New station entrances and additional access points to the Northern and Central line platforms to reduce congestion  </li><li>Additional escalators and five new lifts to provide step-free access</li></ul> <p>TfL also announced that major utility works will need to be undertaken at the eastern end of Oxford Street from early 2010. </p> <p>This will require a lane closure between Newman Street and Tottenham Court Road, with some bus services affected.</p> <p>Survey work as part of preparations for the construction of a new Crossrail station at Tottenham Court Road and expansion of the Tube station has confirmed that utility works will need to take place. </p> <h2>Keeping disruption to a minimum</h2> <p>A number of water, gas and other utility pipes that run under Oxford Street, many of which date from the 1820s onwards, must be strengthened or replaced as they could be affected by ground settlement caused by construction. </p> <p>All affected businesses and residents in the vicinity of Tottenham Court Road station have been advised and every effort will be made to keep disruption to a minimum.</p> <p>Main construction on the Tube station will get underway in early 2010. The utility works need to be complete by late 2010 to ensure that the construction works required to be undertaken at this time do not adversely affect utility pipes. </p> <p>A major benefit of the works is that, once complete, many of the major local utilities will have been replaced or upgraded which will significantly reduce the level of utility works on the east end of Oxford Street in future years. </p> <p>In addition, TfL is looking at coordinating with other works in the area to take advantage of the lane closure and there are opportunities for improving pavements and the streetscape.</p> <p>Miles Ashley, Head of London Underground's Stations Capacity Programme said:</p> <p>'To enable the &pound;1bn redevelopment of Tottenham Court Road station, the eastbound carriageway on Oxford Street between Newman Street and Tottenham Court Road will be affected by necessary utility works for around ten to twelve months starting early 2010. </p> <p>'Works will be specifically timed to avoid the busy Christmas and New Year sales period. </p> <p>'We are working closely with the utility companies, Camden Council and Westminster City Council to ensure that we do our utmost to minimise the impact of this work for businesses, shoppers and local residents.</p> <p>'Eastbound bus services between Oxford Circus and Tottenham Court Road are likely to be affected with diversions needed for some services. </p> <p>'Options are currently being assessed to ensure we maintain bus services to and from the area. Further information about the impact on bus services will be available in due course.' </p> <h2>Crossrail questions answered</h2> <p>Crossrail has recently announced that the first Crossrail visitor centre will open in the Tottenham Court Road area on Thursday 16 July. </p> <p>The centre at 16-18 St Giles High Street will be a one-stop shop for information about the Crossrail project, both at Tottenham Court Road and along the whole route. </p> <p>The centre will also have further information about London Underground works to redevelop Tottenham Court Road Tube station.</p> <p>Clinton Leeks, Crossrail Director of Corporate Affairs said:</p> <p>'Now that Crossrail's construction is underway, we are delighted to be able to open the first Crossrail Visitor Centre which will be a one-stop shop for information about the Crossrail project. </p> <p>'The Visitor Centre will enable local residents, businesses and anyone interested in the Crossrail project to get further information or have their queries answered. </p> <p>'Further centres will open in due course when construction gets underway at other sites along the Crossrail route to help us ensure that people are kept informed.'</p> <p>The new Crossrail visitor centre will be open on Tuesdays and Thursdays from midday to 8pm. </p> <p>The centre will have site specific information for each of the main Crossrail stations in the central area, computer terminals to allow access to information about the Crossrail project as well as a library of formal documentation such as the Crossrail Act and environmental and construction codes. </p> <p>Crossrail staff will also be on hand to answer queries.<br></p> <p> <hr>  <p><strong>Notes to editors</strong></p> <ul> <li>Further information about the redevelopment of Tottenham Court Road station can be found at <a href="http://www.tfl.gov.uk/tcr">www.tfl.gov.uk/tcr</a>  </li><li>Images of redevelopment progress from May 2009 to date are available on request from the TfL Press Office  </li><li>The Crossrail Visitor Centre will be located at 16-18 St Giles High Street, WC2H 8LN, opposite the junction with Denmark Street  </li><li>Construction of Crossrail got underway at Canary Wharf on 15 May 2009. Main construction works for Crossrail along the route are due to begin in 2010. Crossrail will run 118km from Maidenhead and Heathrow in the west, through new twin-bore 21km tunnels under central London connecting key stations including Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street, Whitechapel and Canary Wharf and on to Abbey Wood and Shenfield in the East  </li><li>When complete, the railway will operate 24 trains per hour in each direction through central London during peak times. This will provide substantial new passenger capacity and crowding relief, particularly on the Central and Piccadilly lines. <br></li></ul> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The next stage of redevelopment works at Tottenham Court Road station has been underway since mid-May and will continue until autumn, ahead of major construction works on the station starting early next year.&nbsp;Good progress continues to be made in";}
        
        


 