


@{ViewBag.Title = "Victoria Tube station upgrade gains planning approval";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Tube station upgrade gains planning approval</h1>
        <div class="content-page-press-release">
        30 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers using one of London Underground's (LU) busiest and most congested stations are set to benefit from a major &pound;695m upgrade as part of TfL's Investment Programme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This key upgrade will transform the experience for those using the station - making life easier and more convenient"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This key upgrade will transform the experience for those using the station - making life easier and more convenient
                            
                        </p>
                    </div>
                
            
            
            <p>The project has been approved by the Secretary of State for Transport following a three-month public inquiry, which ended in January this year. </p>
<p>Used by more than 80 million passengers each year, Victoria Underground station is at the heart of London's transport network. </p>
<p>However, severe congestion during the morning rush hour often makes it necessary to stop passengers coming into the station for several minutes, to avoid overcrowding on the Tube platforms. </p>
<h2>Increasing capacity</h2>
<p>When complete, the scheme will increase the size of the station by about 50 percent with a new ticket hall, lifts and additional escalators to ease congestion, and step-free access from street level to all platforms and for interchange. </p>
<p>Mayor of London, Boris Johnson, said: 'For many people, Victoria Station is the gateway to central London, and for a long time it has been creaking under pressure from the sheer number who use it every day. </p>
<p>'This key upgrade will transform the experience for those using the station - making life easier and more convenient. </p>
<p>'It exemplifies our commitment to invest in our future to ensure our infrastructure can meet the needs of the 21st century.'</p>
<p>LU Managing Director, Richard Parry said: 'Victoria Underground stations is one of the busiest stations in the country with around 80 million people passing through its gates every year. </p>
<h2>Real improvements</h2>
<p>'This number is set to grow especially when we increase capacity on the Victoria, District and Circle lines, and these works will ensure the station can handle the additional volume of customers. </p>
<p>'This ambitious project - which will increase the station's capacity by 50 per cent, with a brand new ticket hall and step free access introduced to all lines - is part of our huge programme of works to transform the Tube and deliver real improvements for our customers.'</p>
<p>The benefits of the Victoria Station Upgrade include: </p>
<ul>
<li>Cuts in peak time congestion and improved capacity with a new ticket hall and entrance to the station beneath Bressenden Place, allowing passengers from Victoria Street to enter the station without crossing the complex of streets toward the existing station entrance </li>
<li>Better station access for all passengers with new lifts in the enlarged existing Victoria line ticket hall, providing step-free access to all platform levels and wider stairs to the national rail station </li>
<li>Nine new escalators </li>
<li>Seven new lifts, providing step-free access from street to the Victoria line and for interchange with District and Circle line platforms, and </li>
<li>New passageway to the north end of the Victoria line platform</li></ul>
<p>Subject to the TfL Board approving funding for the project in the Autumn, construction can start in 2010, taking about seven years to complete.</p>
<p>
<hr>
<strong>Notes to editors: </strong>
<p><strong></strong>
<ul>
<li>Following the Secretary of State's decision last week, there are some procedural steps to be taken culminating in a Transport and Works Act Order authorising the works coming into force. This is expected to happen in September this year. Subject to the TfL Board approving funding for the project in the Autumn, construction can start in 2010, taking about seven years to complete </li>
<li>LU appointed Mott MacDonald to be lead consultant for the detailed design through to construction of the Victoria Station upgrade two years ago, as part of Transport for London's multi billion pound Investment Programme </li>
<li>The Victoria Station Upgrade scheme is being developed by LU and is independent of Land Securities Victoria Transport Interchange 2 (VTI2) scheme. Land Securities VTI2 scheme is a wholly commercial development (to the north of Victoria Street) </li>
<li>The Victoria Station Upgrade project is outside of the LU Public Private Partnership and is funded by the TfL's multi billion pound Investment Programme to improve and expand London's transport network </li>
<li>Victoria is a major transport interchange, serving National Rail, Underground, London bus services and the Victoria Coach Station </li>
<li>The Victoria Station Upgrade project will complement the Victoria line Upgrade project due to be completed in 2012. This will include the provision of 47 new trains with increased capacity. Other enhancements to the Victoria line include new signalling, control room and general infrastructure improvements; and </li>
<li>Images of what Victoria Underground station could look like when the project is complete are available at the TfL news centre <a title="Image gallery" href="http://www.tfl.gov.uk/tfl/corporate/media/photos/pressimages/gallery.asp">image gallery</a> </li>
<li>&nbsp;or by contacting the TfL Press Office 0845 604 4141<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The project has been approved by the Secretary of State for Transport following a three-month public inquiry, which ended in January this year. Used by more than 80 million passengers each year, Victoria Underground station is at the heart of London's";}
        
        


 