


@{ViewBag.Title = "Winners of Mind the Bird photo competition reach for the skies";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Winners of Mind the Bird photo competition reach for the skies</h1>
        <div class="content-page-press-release">
        24 July 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Winners of London Underground and RSPB Mind the Bird competition announced.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'We often forget that London is home to a vast number of wild creatures that exist in secret natural worlds alongside our own bustling one"</div>
        <div class="quote-footer">
            <div class="quotee-name">RSPB</div>
            <div class="quotee-job-title">Tim Webb</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'We often forget that London is home to a vast number of wild creatures that exist in secret natural worlds alongside our own bustling one
                            
                        </p>
                    </div>
                
            
            
            <p>A green woodpecker sitting in grass and a seagull mid-flight clutching an ice cream are just some of the entries that have scooped top prizes from LU and the Royal Society for the Protection of Birds (RSPB) Mind the Bird photography competition.</p>
<p>The competition was launched to encourage Londoners to discover the Capital's rich and varied bird life and highlight the easy access the Tube can provide to London's green spaces and wildlife. </p>
<h2>Host of green spaces</h2>
<p>LU itself is home to 42 bird species that have been recorded on its network, while 1,000 plus different species of animals have been spotted along the Tube network. </p>
<p>An even wider variety of wildlife can be found in a host of other green spaces across London.&nbsp; </p>
<p>Many are in locations that are just a short stroll from a Tube station.</p>
<p>More than 900 entries with images from across the Capital were received from the city centre right to its outskirts - illustrating the host of bird species which call London their home. </p>
<p>Winners and those shortlisted were presented with their awards and prizes by Richard Parry, Interim Managing Director of LU at LU's Head Office on Thursday 23 July. </p>
<p>Prizes for the winners included an annual pass to RSPB reserves, a family pass to the London Transport Museum and bird-related goodies including books and bird feeders.&nbsp; </p>
<p>Richard Parry said: 'Some people might not realise that London is home to a wealth of wildlife.&nbsp; </p>
<p>'Hopefully the variety of bird species showcased in these photographs will encourage Londoners to go out and discover a different side of the Capital using the Tube.' </p>
<h2>Secret natural worlds</h2>
<p>The judging panel included: the Urban Birder, David Lindo; Chair of the London Biodiversity Partnership, Andrew Jones; and photographers working for both Transport for London (TfL)&nbsp;and the RSPB. </p>
<p>Tim Webb of the RSPB said: 'The standard of the entries has been amazing and I'm delighted with the range of birds recorded. </p>
<p>'We've seen the big herons and sparrow hawks and the tiny wrens, robins and linnets. </p>
<p>'We often forget that London is home to a vast number of wild creatures that exist in secret natural worlds alongside our own bustling one.'<br>&nbsp;<br>Images of the winning and shortlisted entrants will be featured on the Mind the Bird section of the TfL website for four weeks.&nbsp; </p>
<p>
<hr>
<strong>Notes to editors</strong> 
<ul>
<li>Images of the prize winners and others who entered the competition can be found on the <a title="Mind the Bird" href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/mindthebird/">Mind the Bird</a> section of the TfL website </li>
<li>Winner of the adult category: Russell Spencer, runners up: Pankaj&nbsp;Ghosh, Eden Breitz, Hemanth Shanthigrama. Winner of the under-18 category: Adam Hawkins. Winner of the TfL/RSPB staff category: Jack Hawkins, runners up: Vuk Nenadovic, James Offer, Jennie Mosson, Andy Barr, Liz Grimes</li>
<li>The competition ran from 2 April to 31 May </li>
<li>A total of 929 entries were recieved&nbsp;in three categories (adult, under-18 and staff), from 208 separate people. Photos are still available on <a class="external-site" title="Flickr (Opens in new window) (Opens in new window)" href="http://www.flickr.com/groups/lu-rspb_mindthebird" jquery1248447641966="6" jquery1248447368237="6">Flickr</a> </li>
<li>For more information on LU's work to protect the environment, visit the <a href="http://www.tfl.gov.uk/corporate/modesoftransport/londonunderground/1592.aspx">LU Performance</a> section of theTfLwebsite&nbsp; </li>
<li>To find out more about the work of the RSPB in London, visit the <a class="external-site" title="RSPB (Opens in new window) (Opens in new window)" href="http://www.rspb.org.uk/london" jquery1248447641966="7" jquery1248447368237="7">RSPB website</a> </li>
<li>Judging panel: David Lindo (the Urban Birder), Andy Hays (RSPB Staff Photographer), Ian Bell (TfL Photographer), Andrew Jones (London Biodiversity Partnership and Greater London Authority Environment team), Emily Page (TfL External Communications) </li>
<li>For images please contact the Press Office on 020 7126 1470 <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A green woodpecker sitting in grass and a seagull mid-flight clutching an ice cream are just some of the entries that have scooped top prizes from LU and the Royal Society for the Protection of Birds (RSPB) Mind the Bird photography competition.The";}
        
        


 