
    
  



@{ViewBag.Title = "Annual Members Meeting 2016";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/news-archive/annual-members-meeting-2016";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
                 <li><a href="/pensions/news-and-publications/news-archive">News archive</a></li>
                
            
            
                <li><span class="last-breadcrumb">Annual Members Meeting 2016</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Annual Members Meeting 2016</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        All TfL Pension Fund members are invited to attend the Annual Members' Meeting on 14 October 2016.
        
      </div>
    
    <div class="on-this-page">
      <p>The meeting will start at 11.00 at One Great George Street, London SW1P 3AA.  The exhibition starts at 10:30 when refreshments will be available.</p>
<p>Please bring some identification with you, such as a staff pass or privilege ticket authority card. You will need to show this identification on arrival.</p>
<p>You will be able to ask questions on the day. If you can't attend but would still like to submit a question, you can send questions to the Trustees and they will be answered as soon as possible after the meeting.</p>
<p>Send any questions to:<br />
The Director of Pensions and Fund Secretary<br />
4th Floor<br />
Wing Over Station<br />
55 Broadway<br />
London SW1H 0BD</p>
<p>or email <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a></p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Pension Fund Annual Members Meeting 2016";}
        
            
        


 