
    
  



@{ViewBag.Title = "Annual benefit statements for contributing members";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/news-archive/annual-benefit-statements-for-contributing-members";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
                 <li><a href="/pensions/news-and-publications/news-archive">News archive</a></li>
                
            
            
                <li><span class="last-breadcrumb">Annual benefit statements for contributing members</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Annual benefit statements for contributing members</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Benefit statements from the TfL Pension Fund are being sent to members of staff who had at least one year's pensionable service in the Fund by 31 March 2010. These statements are sent directly to your home address and were dispatched at the end of June.
        
      </div>
    
    <div class="on-this-page">
      <p>In addition to showing the benefits earned to 31 March 2010, the statement includes:
</p>
<ul>
    <li>    An estimate of benefits projected to ages 60 and 65, based on your current pensionable salary</li>
    <li>The lump sum payable on death in service and, if you have at least two years' pensionable service, the benefits that might be paid to your eligible dependant and children</li>
    <li>A forecast of your State Pension, where available</li>
</ul>
<p>When you receive your statement, please check your personal details and if you have any questions contact the Fund Office at:</p>
<p>TfL Pension Fund<br />
4th Floor, Wing over Station<br />
55 Broadway<br />
London<br />
SW1H 0BD</p>
<p>Email: <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a></p>
<p>Telephone:</p>
<div class="table-container"><table>
    <thead>
        <tr>
            <th rowspan="1" colspan="1"><strong>Your surname begins with <br />
            </strong>
            </th>
            <th rowspan="1" colspan="1"><strong>Contact <br />
            </strong>
            </th>
            <th rowspan="1" colspan="1"><strong>Telephone number <br />
            </strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A - F<br />
            </td>
            <td>Asrafali Rashid<br />
            </td>
            <td>020 7918 3662<br />
            </td>
        </tr>
        <tr>
            <td>G - N<br />
            </td>
            <td>Kiran Patel<br />
            </td>
            <td>020 7918 3017<br />
            </td>
        </tr>
        <tr>
            <td>O - Z<br />
            </td>
            <td>Peter McMillan<br />
            </td>
            <td>020 7918 4800<br />
            </td>
        </tr>
    </tbody>
</table></div>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2016">PCC election results 2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/new-page">Annual benefit statements</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive">News archive</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/april-2016-pension-increase">April 2016 pension increase</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/2015-summer-budget">2015 Summer budget</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/look-out-for-your-2015-benefit-statement">Look out for your 2015 benefit statement </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/new-avc-guide">New AVC guide</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/nominations-for-tfl-pension-consultative-council-in-2015">Nominations for TfL Pension Consultative Council in 2015</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/april-2015-pension-increase">April 2015 pension increase</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2015">PCC election results 2015</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/new-years-resolution">New Year's resolution</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/suspension-of-transfers-in">Suspension of transfers in</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/april-2014-pension-increase">April 2014 pension increase</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2014">PCC election results 2014</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/nominations-for-consultative-council">Nominations for Consultative Council 2014</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2013">PCC election results 2013</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/april-2013-pension-increase">April 2013 pension increase</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/annual-benefit-statements">Annual benefit statements 2013</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/nominations-for-consultative-council-2013">Nominations for Consultative Council 2013</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/nominations-for-consultative-council-2012">Nominations for Consultative Council 2012</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2012">PCC election results 2012</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/april-2012-pension-increase">April 2012 pension increase</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2011">PCC election results 2011</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/nominations-for-consultative-council-2011">Nominations for Consultative Council 2011</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/travel-services-is-moving">Travel services is moving</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/april-2011-pension-increase">April 2011 pension increase</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/audit-commission-2010">Audit Commission 2010</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2010">PCC election results 2010</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/register-for-online-publications">Register for online publications</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/suspension-of-transfers-in-2010">Suspension of transfers in - 2010</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/new-chairman-of-the-tfl-pension-fund">New Chairman of the TfL Pension Fund</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/nominations-for-tfl-pension-consultative-council-2010">Nominations for TfL Pension Consultative Council 2010</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/annual-benefit-statements-for-contributing-members">Annual benefit statements for contributing members</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/no-increase-for-tfl-pensioners-in-2010">No increase for TfL Pensioners in 2010</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2009">PCC election results 2009</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/award-winning-pension-fund">Award winning pension fund</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/missing-membership">Missing membership</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/updates-on-additional-voluntary-contributions">Updates on Additional Voluntary Contributions</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/annual-benefit-statements-2009">Annual benefit statements - 2009</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/annual-members-meeting-2009">Annual Members' meeting - 2009</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-nominations-2009">PCC nominations 2009</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/tfl-pensions-to-increase-by-5">TfL pensions to increase by 5%</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2008">PCC election results 2008</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/annual-members-meeting">Annual Members' meeting</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pensions-award-2008">Pensions Award - 2008</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-elections-postal-ballot">PCC elections postal ballot</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-nominations-2008">PCC nominations 2008</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/annual-benefit-statements-2008">Annual benefit statements - 2008</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/pcc-election-results-2016">PCC election results 2016</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/annual-members-meeting-2016">Annual Members Meeting 2016</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/news-and-publications/news-archive/april-2017-pension-increase">April 2017 pension increase</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2016">Annual Members meeting 2017</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/publications">Publications</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/on-the-move">On The Move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/2017-benefit-statements">2017 benefit statements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2018-pension-increase">April 2018 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-web-portal-maintenance">Pension web portal maintenance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2018">Annual Members' Meeting 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/april-2019-pension-increase">April 2019 pension increase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2018-19">Maximising Additional Voluntary Contributions for 2018/19</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2017">PCC election results 2017</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2018">PCC election results 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-report-on-sustainable-investment-published">Annual report on Sustainable Investing published</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/annual-members-meeting-2019">Annual Members' Meeting 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pension-fund-office-move">Pension fund office move</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/pcc-election-results-2019">PCC election results 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2019-20">Maximising Additional Voluntary Contributions for 2019/20</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Annual benefit statements for contributing TfL Pension Fund members in 2010.";}
        
            
        


 