
    
  



@{ViewBag.Title = "PCC election results 2016";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/news-and-publications/news-archive/pcc-election-results-2016";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/news-and-publications">News and publications</a></li>
                
            
                 <li><a href="/pensions/news-and-publications/news-archive">News archive</a></li>
                
            
            
                <li><span class="last-breadcrumb">PCC election results 2016</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>PCC election results 2016</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      <p>In Section One (representing pensioners and deferred pensioners), Paul Kilius-Smith and Christopher Miller retired.  This section received two valid nominations meaning no postal ballot was required.  Mr Kilius-Smith and Mr Miller were duly re-elected with both Paul and Chris having served on Section One since December 2012 and December 1997 respectively.</p>
<p>In Section Two (representing TfL and its subsidiaries or contractors, excluding London Underground Limited), Luke Howard retired. In addition Stephen Ellaby retired from the PCC and as their nominated Trustee in order to take up the position of the TSSA union nominated Trustee.  Two valid nominations were received and Mr Howard was re-elected. Luke has served on Section Two since December 2008. The PCC also ratified the appointment of new Councillor Samuel Laidler to take up the casual vacancy left by Mr Ellaby.</p>
<p>In Section Three (representing London Underground Limited and its subsidiaries and Tube Lines Limited), Eddie Darroch, Richard Head and Roy Carey all retired.  Two valid nominations were received from Mr Darroch and Mr Head and they were both duly re-elected, leaving a casual vacancy in this section.  Eddie and Richard have both served on Section Three since July 2011 and December 2008 respectively.</p>
<p>For more information about the PCC, please contact Julian Collins, PCC Secretary, on 020 7918 3789 or email <a href="mailto:juliancollins&#64;tflpensionfund.co.uk">juliancollins&#64;tflpensionfund.co.uk.</a> </p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Pension Fund PCC election results 2016";}
        
            
        


 