


@{ViewBag.Title = "150th Tube anniversary Oyster card to go on sale";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>150th Tube anniversary Oyster card to go on sale</h1>
        <div class="content-page-press-release">
        07 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Next year will mark 150 years since the very first Tube journey was made between Paddington and Farringdon on the Metropolitan line. To celebrate this special 150th anniversary a souvenir Oyster card will go on sale from 10 December.
        
    </div>



 <div class="on-this-page">
<p>This celebratory Oyster card features the new Underground 150th anniversary logo which is set against a background of vintage Tube logos or 'roundels' from the early beginnings of the network to the present day. </p>
<p>Oyster has revolutionised the way passengers pay for their travel, not only on the Tube, but also on trams, buses, the Docklands Light Railway (DLR), London Overground and National Rail services in London. </p>
<p>Transport for London (TfL) is at the forefront of ticketing technology for a decade and is renowned for the success of Oyster with more than 80 per cent of all journeys on London's public transport made using an Oyster card and over 55 million cards issued since its introduction in 2003. </p>
<p>TfL continues to seek ways to better passengers' experience of using Oyster with a range of improvements. </p>
<p>These include enhanced Oyster online accounts providing detailed journey and fares history which are already in place and more interactive facilities in the future for completing journeys and applying for refunds.&nbsp; </p>
<p>London Underground is organising a wide range of events and activities to mark this historic anniversary. </p>
<p>These will look at the Tube's rich heritage and history and also at the vital role the London Underground has played, and will continue to play, in the economic success of the Capital. </p>
<p>Passengers can use this souvenir Oyster card across the TfL network in the same way that they usually do, either as pay as you go or by adding their Travelcard to it.&nbsp; </p>
<p>These cards are a limited edition and will be available at LU stations and TfL Travel Information Centres. </p>
<p>TfL encourages all Oyster users to register their card and set up an online account to ensure any balance is protected if the card is lost or stolen. </p>
<p>Online accounts also enable passengers to top up their credit online and view their journey history.&nbsp;&nbsp; </p>
<p>Mike Brown, Managing Director for London Underground and London Rail, said: 'The growth of the world's first underground railway has always been very closely linked to the success of the London and the UK economy. </p>
<p>'We continue to modernise the Tube system, with new signalling and trains being introduced to improve our customers' journeys. </p>
<p>'Oyster ticketing has transformed the way Londoners and visitors pay for travelling around the Capital. </p>
<p>'This wonderful souvenir Oyster card, just like the regular Oyster card, is the easiest, cheapest and best way to help our passengers move around the City.'</p>
<p>Events to celebrate the 150th anniversary of London Underground throughout the coming year include:</p>
<ul>
<li>The re-creation of the first steam train Tube journey on the London Underground on Sunday 13 January 2013</li>
<li>A series of heritage rail trips for the public to experience a steam train journey</li>
<li>Two new two-pound coins issued by the Royal Mint to go into circulation in 2013</li>
<li>An imaginative campaign which will bring together 150 people whose personal stories will help to demonstrate the vibrant history of the Tube</li>
<li>12 short stories by well-known authors on each Tube line, published by Penguin Books</li>
<li>Art on the Underground commissions with famous contemporary artists&nbsp;</li>
<li>An LU 150 poster art exhibition at London Transport Museum</li>
<li>Poems on the Underground to mark the 150th&nbsp; anniversary of the Tube</li>
<li>Behind the scenes events and open weekends at the Museum's store at Acton</li>
<li>A new book entitled 'London Underground by Design' by Mark Ovenden</li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>To celebrate the 150th anniversary of the Tube, a new book 'Underground - How the Tube shaped London 1863 to 2013' by Penguin Books is now available and costs &pound;25.00. The book can be ordered from London Transport Museum's online shop at <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options</li>
<li>TfL would like to thank Cubic, Siemens and CBS Outdoor for sponsoring the 150th anniversary of London Underground</li>
<li>Using Oyster, passengers only need one card to travel on all public transport across London, including National Rail services operating within the Capital. Oyster pay as you go customers are always reminded to touch in and out at the start and end of every journey to ensure they pay the correct fare</li>
<li>The &pound;5 deposit and &pound;5 minimum top-up will apply as normal for the limited edition card</li>
<li>Oyster cards can be registered to protect any balance and benefit from online account facilities at <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This celebratory Oyster card features the new Underground 150th anniversary logo which is set against a background of vintage Tube logos or 'roundels' from the early beginnings of the network to the present day. Oyster has revolutionised the way";}
        
        


 