


@{ViewBag.Title = "Business community backs the case for stable and sustained investment in London's transport services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Business community backs the case for stable and sustained investment in London's transport services</h1>
        <div class="content-page-press-release">
        12 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Survey shows strong support from businesses for investment in the capital's transport infrastructure to support jobs, economic development and growth in London and across the UK.
        
    </div>



 <div class="on-this-page">
<p>As the Board of Transport for London (TfL) today considers the organisation's Business Plan, a survey by ComRes has shown that there is significant support among the business community for the Mayor and TfL's case for stable and sustained levels of funding for the Capital's transport network, to support economic development and growth in London and across the UK.&nbsp;&nbsp; </p>
<p>Businesses cited the upgrade of the Tube, construction of Crossrail and investment in roads as their top three investment priorities for TfL.&nbsp; </p>
<p>Of those surveyed, over three quarters of businesses and business membership organisations, representing more than 13,500 members in total, agree that funding for transport projects in London helps support jobs across the UK (76 per cent) and 90 per cent agree that it is important to maintain levels of investment in transport infrastructure in the long-term and not vary it year by year. </p>
<p>The business community also tends to believe that sustaining investment in transport is very important to London's future economic competitiveness (79 per cent) and agree that any cuts to investment in transport would damage London's businesses in the long term (95 per cent). </p>
<p>London's population is expected to reach nine million by 2018, according to latest Office for National Statistics figures. </p>
<p>TfL's new Business Plan sets out plans for investment in the Capital's transport network over the next three years to 2014/15, the period of TfL's current financial settlement with Government.&nbsp; </p>
<p>However, it also sets out the Mayor's priorities and TfL's plans for investment in the Capital's road and rail networks for all users and passengers over the next decade, making the case to the Government for stable and sustained levels of funding to support investment in transport infrastructure, supporting economic growth and keeping pace with rising demand.</p>

<h2>Long-term projects</h2>
<p>Baroness Jo Valentine, Chief Executive of the business group London First, said: 'Londoners deserve a transport system that matches our position&nbsp;as one of the world's leading cities and that means investing now for the needs of the next generation. </p>

<p>'We need to know for sure that there will be money available to complete the Tube upgrade, and other improvements to the existing infrastructure, and for the Government to get behind other proposals, such as Crossrail 2 and the river crossing at Silvertown. </p>
<p>'These are all long-term projects that need long-term financial commitment. </p>
<p>'The Government should use the next spending review to give that commitment and remove the uncertainty that hangs over investment in transport for our most important city.'</p>
<p>London's Transport Commissioner, Peter Hendy CBE said: 'Businesses in London recognise that stable and sustained investment in transport infrastructure is vital to drive economic growth in London and across the UK. </p>
<p>'It also supports jobs and manufacturing up and down the country - particularly in the East and West Midlands, North-West and Yorkshire.&nbsp; </p>
<p>'In the months ahead, we will be working alongside business and their representatives to make the strong case to Government for continued investment in London's transport network, to improve reliability, increase capacity and keep pace with rising demand.'</p>

<h2>Tube upgrade programme</h2>
<p>Over the next few years, TfL will continue with the Tube upgrade programme and the first phase of the Northern line upgrade works, reducing journey times and increasing capacity. </p>
<p>New air-conditioned trains will enter service on the Circle, Hammersmith &amp; City and District lines and cycling improvements will be delivered, including the completion of new Barclays Cycle Superhighways.&nbsp; </p>
<p>The Mayor's Roads Task Force will next year set out priorities for investment in London's road network which will benefit all road users with safety at the heart of the proposals. </p>
<p>Significant progress will also be made with the construction of Crossrail which will begin service from 2018.&nbsp; </p>
<p>TfL will soon begin negotiations with Government for funding beyond 2014, supporting the ten-year programme of investment and improvements outlined in its new Business Plan.&nbsp; </p>
<p>The Government has already shown support for transport investment and its role in unlocking economic potential with the Chancellor's Autumn Statement confirming a Government loan guarantee worth &pound;1bn to enable the extension of the Northern line to Battersea. </p>
<p>This will support the creation of 16,000 new homes and up to 25,000 jobs. </p>
<p>Subject to final agreements and planning processes work could begin on the extension to Battersea in 2015 and operation could begin from 2020. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Read the <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Part-1-Item07-Business-Plan.pdf  ">TfL Business Plan </a></li>
<li>ComRes surveyed 68 of TfL's key business stakeholders, which includes individual businesses and business organisations representing more than 13,500 members, through an online survey between 5 October and 5 November 2012. ComRes is a member of the British Polling Council and abides by its rules (<a href="http://www.britishpollingcouncil.org">www.britishpollingcouncil.org</a>). View the <a href="http://www.comres.co.uk/polls/TfL_Business_Leaders_Survey_Data_for_Release_11_Dec_2012.pdf">data tables</a></li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As the Board of Transport for London (TfL) today considers the organisation's Business Plan, a survey by ComRes has shown that there is significant support among the business community for the Mayor and TfL's case for stable and sustained levels of";}
        
        


 