


@{ViewBag.Title = "Customers encouraged to plan ahead this festive season ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Customers encouraged to plan ahead this festive season </h1>
        <div class="content-page-press-release">
        10 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London and Diageo enter second year of sponsorship deal to get party goers home safely with free New Year's Eve travel
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has issued its annual Festive Travel Guide online to help Londoners and visitors travelling around the capital over Christmas and New Year. </p>
<p>The website, <a href="http://www.tfl.gov.uk/festive">tfl.gov.uk/festive</a>&nbsp; contains details of Tube, buses, Docklands Light Railway (DLR), Tramlink, London Overground, Emirates Air Line, Riverboat services, Barclays Cycle Hire and the Congestion Charge throughout the festive period from Christmas Eve to New Year's Day. </p>
<p>Free travel will be provided on New Year's Eve so that festive revellers can get home safely. </p>

<p>It is the second year of Diageo's three year sponsorship of free travel. Free travel will be available between 23:45 on 31 December and 04:30 on 1 January on the Tube, buses, trams, DLR, and until last trains on London Overground.</p>
<p>Peter Hendy, Transport Commissioner, CBE said: 'Our plans are that the transport networks will operate throughout the festive season with the exception of Christmas Day when all our services will be closed. </p>
<p>'The network will operate reduced services when appropriate and we will also take the opportunity of this quieter time to carry out engineering works as part of the continuing Tube upgrade programme. </p>
<p>'I urge everyone to plan their journeys in advance by visiting the festive travel website and looking out for posters across our network. </p>
<p>'I am pleased that we are able to continue providing free travel for travellers on New Year's Eve through sponsorship with Diageo. For those wishing to brave the crowds to come into central London to celebrate, public transport is the only way to get around London on New Year's Eve.'</p>
<p>Essential Tube, DLR and London Overground engineering works will be taking place over the festive period with some buses replacing rail services. Passengers are advised to check before they travel at <a href="http://www.tfl.gov.uk/festive">tfl.gov.uk/festive</a>. </p>
<p>A full list of TfL's social media channels is available at <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a>&nbsp; which includes details of the Twitter feeds for each of the 11 different London Underground lines, the DLR, London Overground, Barclays Cycle Hire and live traffic news for updates during the festive period.</p>
<p><strong>Congestion Charge</strong></p>

<p>From Tuesday 25 December until Tuesday 1 January inclusive, the central London Congestion Charge will be suspended and motorists will not have to pay. </p>

<p><strong>Roads </strong></p>

<p>Under the London Permit Scheme, TfL manages roadworks on its network to reduce their impact on road users. Over the Christmas period roadworks will not be taking place close to London's shopping centres and other busy areas. On other parts of the network, traffic levels will be lighter than usual, making this a good time to carry out essential maintenance and utility works.&nbsp; The works being carried out over the Christmas period include utility works at Bishopsgate (A10) and Camomile Street (A1211) and Seven Sisters Road (A503) at Finsbury Park. Road users are advised to check for disruptions on the TfL website <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a>&nbsp; </p>
<p><strong>Barclays Cycle Hire</strong></p>

<p>Barclays Cycle Hire bikes will be available for hire throughout the festive period although some docking stations may not be in use particularly on New Year's Eve. For the latest information on docking station availability, users should check online at: <a href="http://www.tfl.gov.uk/barclayscyclehire">tfl.gov.uk/barclayscyclehire</a></p>

<p><strong>Emirates Air Line </strong></p>

<p>A weekday service will operate on Monday 24 December. The Emirates Air Line will be closed on Christmas Day. A Saturday service will operate on Boxing Day. Normal service will then be in operation from Thursday 27 until Sunday 30 December. On Monday 31 December, a Saturday service will operate. A weekday service will operate on New Year's Day. </p>
<p><strong>Dial-a-Ride</strong></p>

<p>Dial-a-Ride will be operating every day over Christmas and New Year and all members have been sent details of how to book journeys over this period. Contact centres will be closed on Christmas Day, Boxing Day and New Year's Day. Customers are advised to book their journeys in advance. For further information please contact Dial-a-Ride direct on 0845 999 1 999.</p>

<p><strong>Riverboat Service</strong></p>

<p>Some services will be operating amended timetables, please contact the Riverboat Service Operator before travelling.</p>

<p><strong>Buses, Tube and Rail </strong></p>
<p><strong>Christmas Eve, Monday 24 December</strong></p>
<p>A Saturday service will operate on the bus network with some exceptions. Routes 521 will operate a reduced weekday service. Route X68 will operate a normal weekday service. There will be no night buses and on 24 hour routes, buses will operate until just after midnight. </p>
<p>A Saturday service will operate on the Tube, with reduced services on all lines after 19.00, and last trains at Sunday times. Some stations will be closed, so passengers are advised to check the website.</p>
<p>On the DLR, a modified service will operate finishing around 23:30. </p>
<p>London Overground will operate a Saturday service with last trains departing around 21:30. </p>
<p>On London Tramlink, a Saturday service will operate, but with a reduced timetable from 20:00. </p>
<p><strong>Christmas Day, Tuesday 25 December </strong></p>
<p>There will be no services running on the Tube, London Buses, DLR, London Tramlink or London Overground.</p>
<p><strong>Boxing Day, Wednesday 26 December</strong></p>
<p>A normal Sunday service will operate on buses. This year, all 24 hour buses will enter service earlier by 06:00. </p>
<p>From 08:30, a reduced service will operate on all Tube lines with last trains at Sunday times. Some engineering works will be taking place which means some stations or short sections of&nbsp; lines will be closed.</p>
<p>Marylebone and South Kenton stations on the Bakerloo line and North Ealing station on the Piccadilly line will be closed. </p>
<p>There will be no service between North Acton and Ealing Broadway on the Central line. Replacement buses will operate between North Acton and Ealing Broadway via West Acton and Ealing Common (for District and Piccadilly lines). There will also be no services between Hainault and Woodford.&nbsp; Fairlop, Roding Valley, Chigwell and Grange Hill stations will be closed.</p>
<p>On the District line, there will be no service between Earl's Court and Kensington (Olympia). Upminster Bridge and Kensington (Olympia) stations will be closed. Cannon Street station will be closed on the District and Circle lines.</p>
<p>On the Circle, Hammersmith &amp; City, and Metropolitan lines, Farringdon station will be closed.</p>
<p>There will be no service on the Metropolitan line between Baker Street and Aldgate before 10:45 and after 19:00. There will also be no Chiltern Railways service. </p>
<p>There will be no service on the Northern line between Charing Cross to East Finchley and Edgware.&nbsp; No service between Kennington (via Bank) and East Finchley and Edgware. Mill Hill station will be closed. </p>
<p>The Waterloo &amp; City line will be closed.&nbsp; </p>
<p>There will be no services on the London Overground network, however, some interchange stations will be open. </p>
<p>Services on the DLR will operate between 08:30 and 23:30. However, due to engineering works replacement, buses will operate between Canning Town and Beckton, and Tower Gateway and Bank until Sunday 30 December. </p>
<p>A Sunday service will operate on London Tramlink between 08:30 and 17:00 with additional services between East Croydon and Wimbledon. </p>
<p><strong>Thursday 27 and Friday 28 December</strong></p>
<p>Buses will operate a Saturday service with some exceptions. Route X68 will operate a normal weekday service, and route 521 will operate a reduced weekday service.</p>
<p>Generally, Saturday services will be in operation for these two days on all Tube lines.</p>
<p>From Thursday 27 December until Sunday 30 December the District line will be suspended between:<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wimbledon and Edgware Road<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hammersmith and South Kensington<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Earl's Court and Kensington (Olympia)</p>
<p>On the Northern line, there will be no service between Edgware and Kennington via Bank from Thursday 27 until Sunday 30 December. Rail replacement buses will operate on some sections. </p>
<p>A Saturday service will operate on London Overground and London Tramlink from Thursday 27 December until Saturday 29 December. </p>
<p><strong>Saturday 29 and Sunday 30 December</strong></p>
<p>Normal weekend services will operate on day, 24 hour and Night bus routes.</p>
<p>A normal Saturday and Sunday service will operate on all Tube lines, with exceptions listed below.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>There will be no service on the Circle line between Aldgate and Edgware Road via Victoria due to engineering work. Cannon Street will be closed for building work on the District and Circle lines on Saturday 29 December</p>
<p><strong>New Year's Eve</strong></p>
<p>Revellers who want to see in the New Year in central London are advised to plan ahead and be prepared for large crowds, particularly if they want to watch the Mayor of London's New Year's Eve fireworks display.&nbsp; Each year the display at the EDF Energy London Eye attracts a capacity crowd, who have a long wait in the designated viewing areas along the Thames. There is limited space with the viewing areas likely to be full by 9pm or 10pm. Access to each zone will be closed as soon as it is full.&nbsp;&nbsp; The display can also be watched live on television and people with young children may wish to consider celebrating nearer to home.&nbsp; For more information go to <a href="http://www.london.gov.uk/nye">www.london.gov.uk/nye</a>. </p>
<p>Diageo will sponsor free travel on all journeys between 23:45 on New Year's Eve until 04:30 on 1 January on the Tube, DLR, Buses and Tramlink. Free travel will apply on London Overground trains running after 23:45 until last train times. </p>
<p>A Saturday night service will operate on night bus and 24 hour routes, subject to road closures in central London. </p>
<p>Tube, DLR and Tramlink services will run all night on New Year's Eve. Some selected Tube stations will be closed completely or for periods at a time. The online Festive Travel Guide lists these closures.</p>
<p>Riverboat services will run mainly normal services but London Eye pier will not be served after 14:30 in order to prepare for the firework display. Some routes will operate on New Year's Day, but a normal service will not resume until Sunday 2 January.</p>
<p><strong>New Year's Day</strong></p>
<p>Buses will operate a Saturday service throughout the day. </p>
<p>A reduced Tube service will operate on all lines between 05:00 and 11:00, every 10-20 minutes in the central area and every 20-30 minutes on the branches. For the rest of the day, a reduced service will operate with last train at Saturday times. </p>
<p>On the DLR, services will operate every 15 minutes until midday when a 10 minute frequency will operate until 00:30. A Saturday service will operate on the London Overground. A Sunday service will operate on the London Tramlink from 04:30. </p>
<p>London's annual New Year's Day Parade will take place on 1 January 2013 from 11:45 to 17:00 hours with around 3,000 participants set to take part. The parade will travel along Piccadilly, Lower Regent Street, Waterloo Place, Pall Mall, Cockspur Street, Whitehall, finishing at the junction of Parliament Street and Parliament Square. These roads will be closed to traffic from 06:00 hours with all roads open again by 18:00. Roads close to event, including Stratton Street, Dover Street, Arlington Street, Birdcage Walk, Tothill Street and Victoria Street, will also be closed to traffic.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's Festive Travel Guide is available online at <a href="http://www.tfl.gov.uk/festive">tfl.gov.uk/festive</a> </li>
<li>For more details on the New Year's Parade please visit <a href="http://www.londonparade.co.uk">www.londonparade.co.uk</a> </li>
<li>A full list of all TfL's social media channels can be found at <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a> </li>
<li>TfL has been providing free travel for party goers on New Year's Eve since it was created in 2001. Free travel will not apply on the Emirates Air Line. In 2011, Diageo signed a three year deal with TfL to sponsor free travel on New Year's Eve in the Capital. The sponsorship is part of Diageo's responsible drinking programme which includes the sponsorship of public awareness campaigns to promote responsible drinking, targeted interventions and initiatives focused on those who misuse alcohol, and providing support for initiatives to boost safety in the night-time economy </li>
<li>Information about events and attractions throughout Christmas and into New Year can be found at <a href="http://www.visitlondon.com/christmas">www.visitlondon.com/christmas</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has issued its annual Festive Travel Guide online to help Londoners and visitors travelling around the capital over Christmas and New Year. The website, tfl.gov.uk/festive&nbsp; contains details of Tube, buses, Docklands Light";}
        
        


 