


@{ViewBag.Title = "Jobs and growth at the heart of Mayor's plans for London's transport services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jobs and growth at the heart of Mayor's plans for London's transport services</h1>
        <div class="content-page-press-release">
        04 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson has today set out a range of major new transport initiatives that he will use to spearhead the drive for new jobs and economic growth in the capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As sure as night follows day investment in transport drives economic activity and investment in the capital benefits the entire country."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor of London</div>
            <div class="quotee-job-title">Boris Johnson</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As sure as night follows day investment in transport drives economic activity and investment in the capital benefits the entire country.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London's (TfL) new draft Business Plan outlines how a steady and sustainable stream of funding would deliver vital new upgrades and improvements to London's transport network ensuring that the capital remains a world-leading city.</p>
<p>Under current arrangements agreed with Government, funding for the Mayor's plans is secure until the end of the 2014/15 financial year.&nbsp;</p>
<p>However, TfL will use a 10 year programme of improvements set out in the Business Plan, as well as their established track record of harnessing investment and delivering substantial upgrades and improvements, to argue the case for a steady stream of Government funding over the next decade.&nbsp; </p>
<p>This investment will deliver substantial upgrades and improvements in day-to-day service reliability to support jobs, economic growth and prosperity for the entire country.&nbsp;&nbsp;&nbsp; </p>
<p>The TfL Business Plan sets out how the Mayor also intends there to be an unprecedented doubling of planned spending on London's roads over the next 10 years rising from a planned &pound;1.9bn to &pound;3.8bn, with the aim of bringing them up to a level that is suitable to London's position as one of the world's leading cities and making them fit for the 21st century.&nbsp; </p>
<p>Around 80 per cent of journeys each day in the capital are made using roads and the Mayor's investment will look to target congestion as well as manage the competing demands between different types of road user.&nbsp; </p>
<p>Next year, the Mayor's Roads Task Force will set out the priorities for investment in London's road network for all road users.&nbsp; </p>
<p>Safety will be a key element of the work, which includes a programme of action to improve junctions that were first designed many decades ago as well as introducing more new technology at traffic signals and pedestrian crossings. </p>
<p>The Mayor's focus on the roads includes an unparalleled level of investment in cycling.&nbsp; </p>
<p>The Business Plan outlines how the Mayor intends to transform cycling in London by investing an additional &pound;640m directly into cycling over the next 10 years, on top of the &pound;273m that was previously identified in TfL's 10 year base plan.</p>
<p>
<hr>

<p>
<p>The Business Plan also sets out how an estimated &pound;300m is intended to improve the transport infrastructure in key areas of the capital where that work can help accelerate development and provide the catalyst that will lead to thousands more homes and jobs for Londoners. </p>
<p>Areas such as Elephant &amp; Castle, Tottenham Hale and Woolwich are just a few of the areas that will be the recipients of funding that will be used to develop local transport networks.</p>
<p>East London remains one of London's most important regeneration areas and 20,000 new jobs are forecast for Stratford alone by 2015. </p>
<p>The Mayor and TfL plan to double the Docklands Light Railway tracks that run between Stratford and Bow Church significantly increasing capacity.</p>
<p>Demand for London Overground services has shot up by 160 per cent in the last five years.&nbsp;</p>
<p>The Business Plan sets out plans to add an extra carriage on London Overground trains, which when combined with a proposed increase in frequency of services will provide a 25 per cent increase in peak capacity.</p>
<p>
<hr>

<p>
<p>Since Tramlink opened in 2000 the number of passenger journeys has increased by 50 per cent. </p>
<p>With the population and job market in south London expected to continue to grow, demand for travel on the network is expected to rise. </p>
<p>To provide for and help enable this growth, TfL will procure four extra trams and increase frequency and capacity between Croydon and Wimbledon by double-tracking key sections. </p>
<p>In addition, TfL is actively working with stakeholders and developing proposals for tram extensions, including looking in detail at how these might be funded.</p>
<p>A key theme of the Mayor's plans is his desire to improve the transport network for every user. </p>
<p>The TfL Business Plan outlines how a further 28 stations served by TfL services will be step free by the end of the decade and how when Crossrail begins operation it will transform step free access in the capital. </p>
<p>Investment on bus accessibility will include a target of making 95 per cent of bus stops fully accessible by 2018 and the Mayor's team is in the process of putting together a plan to improve accessibility that is expected to be published very soon. </p>
<p>
<hr>

<p>
<p>Further to that work London Underground is also carrying out its own review of stations to establish where further accessibility improvements can be delivered.</p>
<p>A range of steps are also being taken to improve information for passengers and to make TfL easier to do business with.&nbsp;</p>
<p>This includes the introduction of enhanced Oyster online journey statements and improving the transparency of fares; as well as improvements to the website and providing a single telephone number that will make it much easier to contact TfL.</p>
<p>London Underground is now more reliable than at any time in its history, but the Mayor and TfL are committed to improving reliability even further.&nbsp;&nbsp;</p>
<p>The TfL Business Plan includes &pound;280m to be spent on a programme that will look to meet the Mayor's manifesto commitment of reducing Tube delays by a further 30 per cent. </p>
<p>A range of new techniques will be introduced with the aim of minimising disruption to passengers and improving services.&nbsp; </p>
<p>More details of the reliability programme are expected to be revealed early next year. </p>
<p>
<hr>

<p>
<p>A programme is also being developed for the next generation of deep Tube line upgrades that will focus on the Piccadilly, Central, Bakerloo and Waterloo &amp; City lines. </p>
<p>On these lines steady performance is enabled through rigorous maintenance, but the lines rely on out-dated infrastructure. </p>
<p>Piccadilly line signalling dates back to the 1960s, and the Bakerloo and Piccadilly lines operate with 40-year-old trains. </p>
<p>The eventual development of a new train that will be common to all deep level lines, combined with new signalling, would provide the opportunity to achieve increased capacity on these lines to keep pace with growth. A common approach to these future upgrades will deliver major cost savings and help with the smooth implementation of improvements.</p>
<p>TfL has been working to secure billions of pounds in savings and efficiencies that will allow work to proceed without any increase in fares beyond the planning assumptions that are contained in the Business Plan. </p>
<p>However, the plan argues that for the period beyond 2014/15 a continuous and steady stream of funding will be crucial in fulfilling both the new investment that the Mayor describes; as well as maintaining the building blocks of London's transport network, which include:</p>
<ul>
<li>Regular renewal of the trains, buses, signalling and other assets necessary to operate more rail services and to keep London's roads flowing.&nbsp; Many of the existing assets are decades old and should have been replaced long ago </li>
<li>A sustained investment in infrastructure such as the Tube upgrade, Crossrail, roads and improvements for cyclists to improve reliability, capacity and safety and reduce overcrowding on public transport and congestion on the roads </li></ul>
<p>Securing that stream of funding will also ensure that TfL is able to deliver even greater value for money by securing better deals from suppliers able to plan their production, including the jobs they need to create, more efficiently with a steady flow of orders. </p>
<p>
<hr>

<p>
<p>The Mayor of London, Boris Johnson said: 'As sure as night follows day investment in transport drives economic activity and investment in the capital benefits the entire country. </p>
<p>'In this Business Plan we are setting out a comprehensive programme of improvements with the aims of providing both hugely better services for Londoners and also to drive the economic motor of this great city and encourage new development. </p>
<p>'Our funding settlement with Government expires at the end of 2014/15 and we are already making a strong case for new funding we will use to deliver a transport system that will keep London and the UK working and growing in an incredibly competitive global market place.'</p>
<p>Over the next three years TfL will build on the success of the London 2012 Olympic and Paralympic Games, the upgrade of the Jubilee and Victoria lines and the completion of the London Overground orbital railway to:</p>
<ul>
<li>Deliver the first phase of the Northern line upgrade which will reduce journey times and increase capacity </li>
<li>Introduce new, air conditioned trains on the Circle, Hammersmith &amp; City and District lines </li>
<li>Carry out Tramlink platform improvement works at Wimbledon that will reduce congestion and improve reliability </li>
<li>Continue with a range of improvements to cycling, including completion of new Barclays Cycle Highways and implementation of the actions identified in the better junctions review </li>
<li>Contribute to the completion of Crossrail, which will open in 2018. Crossrail will link east to west London, increase rail capacity in the capital and reduce congestion on the Tube&nbsp;&nbsp;</li></ul>
<p>London's Transport Commissioner, Peter Hendy CBE said: 'The stunning success of the London 2012 Games demonstrated what can be done through investment, innovation, operational delivery and a focus on an integrated experience for our customers and users.&nbsp; </p>
<p>With London's population forecast to grow by one million people in the next 20 years, it is essential that we continue to invest in making our network more reliable and that we enable the London and UK economy to grow and prosper in the years ahead.'</p>
<p><br>The TfL Business Plan also allocates &pound;90m for TfL to continue to work to create a more environmentally friendly and energy efficient network in support of the Mayor's vision for a greener London. 
<p>
<p>That money will help fund 600 more hybrid buses, provide a cleaner energy supply for the Tube and measures to deliver the Mayor's vision for a low emission vehicle London.</p>
<p>TfL has also agreed to retrofit its estate with energy efficiency measures; and they will look to fund the investment required to deliver further energy efficiency and low carbon energy solutions for London by using the savings or future income streams that these projects will provide to offset the initial costs. </p>
<p>This will allow TfL to reduce its environmental impact at no net cost to the tax or farepayer. </p>
<p>On top of the investment described above there will also be a new &pound;20m Mayor's Air Quality Fund that will provide match-funding for innovative schemes and projects to those boroughs who make a commitment to tackle air pollution.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Business Plan will be considered by the TfL Board on Wednesday 12 December</li>
<li>Download the draft <a href="/assets/downloads/TV12_026_Business_Plan_D15LR.pdf">TfL Business Plan</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL) new draft Business Plan outlines how a steady and sustainable stream of funding would deliver vital new upgrades and improvements to London's transport network ensuring that the capital remains a world-leading city.Under";}
        
        


 