


@{ViewBag.Title = "London Underground car parking charges to change in January 2013 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground car parking charges to change in January 2013 </h1>
        <div class="content-page-press-release">
        13 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Charges remain considerably cheaper than the vast majority of local car parks.
        
    </div>



 <div class="on-this-page">
<ul>
<li>First rise in charges in more than two years </li></ul>
<p>Transport for London (TfL) has announced changes to its parking charges at London Underground stations to bring the prices more into line with other local car parks. Charges will still remain considerably cheaper for customers than the vast majority of alternative car parks. The new charges will be introduced on Saturday 5 January 2013.&nbsp; <br>&nbsp;<br>The new charges will see weekday tariffs rise from an average of &pound;4.27 to &pound;5.07 compared with an average of &pound;8.26 at other local car parks. Saturday tariffs will rise from an average of &pound;1.60 to &pound;2.26 compared with an average local car park charge of &pound;4.11. Sunday tariffs will rise from an average of &pound;1.12 to &pound;1.66 compared to local car park charges of &pound;3.01. All TfL prices are for all day parking in order to offer greater value to customers who are usually parking for a longer period of time. </p>
<p>TfL has around 11,000 car parking spaces at London Underground stations, with most in Outer London boroughs. The 59 car parks are all managed through a contract by NCP on behalf of TfL. The last price increase at TfL's car parks was in September 2010. All the car parks are open 24 hours a day, seven days a week.</p>
<p>Revenues generated from the car parks are reinvested into the car parks and the transport network to improve services for commuters. TfL ensures that all of its car parks are maintained to the highest standards with full CCTV coverage at all the sites. </p>
<p>Since August 2009, all station car parks managed by NCP on behalf of TfL have attained the Safer Parking Award status. The Safer Parking Scheme is designed to set a standard for car park operators to adhere to regarding the safety of the car park. These standards are assessed each year with all car parks maintaining their awards year on year. </p>
<p>Graeme Craig, Director of Commercial Development at TfL said: 'We have taken the decision to increase the tariffs at many of our car parks to bring them in line with local competitors, however, we have kept the changes to a minimum. Some stations will actually see a decrease or no changes to their current weekday or weekend tariffs. </p>
<p>'This is the first increase in charges in more than two years and our charges remain below the market rate. Safety at our car parks is really important to our customers and we ensure all of our car parks meet the highest safety standards. Revenues generated through our car parks support investment in the transport network to provide improved services and increase capacity.'</p>
<p>TfL and NCP are also working to improve the car parking sites further. This work includes: </p>
<ul>
<li>Improvements in payment facilities including pay by phone technology</li>
<li>Trial, review and roll-out of season tickets</li>
<li>Additional decking to increase capacity at specific locations.</li></ul>
<p>The new charges are available online at <a href="http://www.tfl.gov.uk/assets/downloads/london-underground-car-park-tariff-changes.pdf">http://www.tfl.gov.uk/assets/downloads/london-underground-car-park-tariff-changes.pdf</a><br></p>
<p>
<hr>
</p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL and NCP are reviewing how to modernise with pay by phone technology and an increased availability of season tickets at larger car parks, this is likely to be in place next year </li>
<li>Two car parks, Eastcote and Harrow &amp; Wealdstone will see a decrease in their current weekday tariffs to bring them more in line with other local parking charges </li>
<li>The following stations also have car parking facilities although these are not the responsibility of London Underground:&nbsp;&nbsp;&nbsp; 
<ul type="circle">
<li>Amersham </li>
<li>Burnt Oak </li>
<li>Chesham </li>
<li>Hammersmith </li>
<li>Morden </li>
<li>Pinner </li>
<li>Richmond </li>
<li>Upminster </li>
<li>Walthamstow Central </li>
<li>West Ruislip </li>
<li>Wimbledon</li></ul></li>
<li>Sixteen&nbsp;car parks are currently classed as 'A' car parks, they have 250 or more spaces and are staffed from 07.00 to 19.00 Monday to Saturday.&nbsp;Twenty-five car parks are classed as 'B' car parks, with 71 to 249 spaces and are manned from 07.00 to 09.30 and again from 16.30 to 19.00 Monday to Friday and from 08.00 to 13.00 on Saturdays. The remaining 18 car parks are classed as 'C' car parks, they have 1 to 70 spaces and are un-manned, however, these car parks receive at least two mobile patrol visits per day Monday to Saturday. On Sundays, the car parks are monitored via the CCTV operation from NCP's National Operations Centre<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "First rise in charges in more than two years Transport for London (TfL) has announced changes to its parking charges at London Underground stations to bring the prices more into line with other local car parks. Charges will still remain considerably";}
        
        


 