


@{ViewBag.Title = "London Bridge bus station remains closed for emergency Thames Water repair works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Bridge bus station remains closed for emergency Thames Water repair works</h1>
        <div class="content-page-press-release">
        21 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following the recent emergency closure of London Bridge bus station by Thames Water for further investigative work into a collapsed sewer, it has uncovered that the problem is worse than initially thought and will take significantly longer to repair.
        
    </div>



 <div class="on-this-page">
<p>Thames Water require the bus station to remain closed for a further 12 weeks.&nbsp;</p>
<p>During these emergency works London buses will continue to call at nearby stops on London Bridge instead.&nbsp; </p>
<p>London Bridge bus station is part of the London Bridge redevelopment. </p>
<p>Transport for London will be requesting contractors MACE, working on behalf of the Shard, and Costain Ltd, working on behalf of Network Rail, take advantage of this closure and accelerate their programme of works to minimise future disruption.&nbsp; </p>
<p>Bus routes which remain affected are numbers 43, 48, 141, 149, 521, N21 and N343.&nbsp; </p>
<p>Revised stopping arrangements will be clearly displayed on posters around the bus station, in local bus stops and on the TfL website <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a>.&nbsp; </p>
<p>Passengers are advised to allow extra time to complete their journeys.</p>
<p>Taxis will also be unable to serve the rank at London Bridge bus station but from Monday 24 December passengers will be able to catch taxis from the temporary ranks on St Thomas Street. </p>
<p>Taxi marshals will be available to assist passengers with any onward journeys.</p>
<p>TfL and Southwark Council are working closely with Thames Water to ensure they can work continuously on these essential repairs to enable the bus station to reopen and resume a normal service as quickly as possible.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Thames Water require the bus station to remain closed for a further 12 weeks.&nbsp;During these emergency works London buses will continue to call at nearby stops on London Bridge instead.&nbsp; London Bridge bus station is part of the London Bridge";}
        
        


 