


@{ViewBag.Title = "Mayor provides &pound;3m investment in transport for Newham to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;3m investment in transport for Newham to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson has today announced &pound;3m for Newham to invest in transport projects that will benefit the local community.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL)&nbsp;has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;3m funding package in 2013/14 will finance a range of transport projects in Newham, including:</p>
<ul>
<li>&pound;300,000 to carry out comprehensive improvements along Katherine Road, by implementing measures that will help buses and other traffic flow more smoothly.&nbsp; Measures will include waiting and loading reviews, provision of part-footway parking bays as well as improving the general appearance by removing guardrail, decluttering and with new street trees and planters. Footways will also be resurfaced </li>
<li>&pound;290,000 to improve road safety and the general appearance of the streets in the Plaistow area.&nbsp; Works will include removal of clutter and guardrail and planting new trees.&nbsp; The funding will also be used to address traffic speed in residential areas and make improvements to pedestrian and cycle paths </li>
<li>&pound;270,000 to improve the Barking Road Corridor.&nbsp;Work will include measures to enable traffic to flow smoothly without being blocked unnecessarily.&nbsp;The funds will also help improve road safety particularly at key junctions, as well as improve footways and the general look and feel of the area</li></ul>
<p>Mayor of London, Boris Johnson said:&nbsp; 'This funding will benefit all of London and everyone living in, working in or visiting Newham.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<h4>Local investment</h4>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said:&nbsp; 'We are working in partnership with Newham and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Newham, it funded 640 cycle parking spaces, cycle training for 1,222 children and 284 adults, 26 improved pedestrian crossings, the removal of over 1,000 metres of guardrail, 42 new accessible bus stops and 185 new street trees.</p>
<p>Notable larger projects undertaken in Newham include the improvements to Green Street which received &pound;330,000 to revitalise the area, as well as providing better lighting, widened pavements and better crossings for the community to the local shopping centre.</p>
<p>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While individual transport projects are the responsibility of each borough<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.The funding is awarded to support projects in the London boroughs that";}
        
        


 