


@{ViewBag.Title = "Mayor provides &pound;5.2m investment in transport for Ealing to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;5.2m investment in transport for Ealing to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson has today announced &pound;5.2m for Ealing to invest in transport projects that will benefit the local community.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL)&nbsp;has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;5.2m funding package in 2013/14 will finance a range of transport projects in Ealing, including:&nbsp; </p>
<ul>
<li>&pound;300,000 to deliver improvements to walking, cycling, road safety, buses and smoothing traffic flow along Uxbridge Road</li>
<li>&pound;100,000 for Ruislip Road/ Greenford Road to further town centre regeneration works and address traffic congestion</li>
<li>&pound;150,000 for cycling improvements to the Grand Union Canal towpath, including resurfacing works to promote cycling between Southall and Greenford Green</li>
<li>&pound;200,000 for the borough's 'Direct Support for Cycling' campaign, an award winning annual campaign for on-road training for adults, children and families</li>
<li>&pound;150,000 to introduce measures to support and develop the Biking Borough initiative, building on the good work the borough has done previously</li></ul>
<p>Mayor of London, Boris Johnson said:&nbsp; 'This funding will benefit all of London and everyone living in, working in or visiting Ealing.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'&nbsp; </p>
<h4>Local investment </h4>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said:&nbsp; 'We are working in partnership with Ealing and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians. Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Ealing it funded 12 new accessible bus stops, 43 new street trees, 270 on and off-street cycle parking spaces, cycle training for over 800 children and almost 500 adults and five zebra crossings.</p>
<p>Notable larger projects to be undertaken in Ealing include the implementation of Ealing Broadway Interchange, under the Major Schemes in 2013/14.&nbsp; </p>
<p>The scheme will seek to provide bus operational and infrastructure improvements to enhance the bus/rail interchange experience, and to establish a new step-free high quality station forecourt providing a warm welcome feel to this key metropolitan centre.&nbsp;</p>
<p>Feasibility study, design and consultation have been completed in the current financial year.</p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p><strong>
<ul>
<li></li></ul></strong>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While individual transport&nbsp;projects&nbsp;are the responsibility of each borough.<br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.The funding is awarded to support projects in the London boroughs that";}
        
        


 