


@{ViewBag.Title = "Mayor provides &pound;3.8m investment in transport for Hammersmith and Fulham to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;3.8m investment in transport for Hammersmith and Fulham to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks </li></ul>
<p>The Mayor of London, Boris Johnson has today announced &pound;3.8m for Hammersmith and Fulham to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy. </p>
<h2>Deliver value for money</h2>
<p>The &pound;3.8m funding package in 2013/14 will finance a range of transport projects in Hammersmith and Fulham, including: </p>
<ul>
<li>&pound;200,000 for the Goldhawk Road corridor project.&nbsp; Works will include measures to reduce collisions such as improved pedestrian crossing points to make it safer for all road users, the removal of street clutter, addressing crime and general improvements to the look and feel of the area </li>
<li>&pound;140,000 for the Cathnor Park neighborhood project.&nbsp; This includes footway widening and resurfacing, street decluttering of posts and guardrail, improving lighting and accessible crossings.&nbsp; New trees will also be planted to create a pleasant walking environment for the local schools and library </li>
<li>&pound;85,000 to promote cycling in the borough. Initiatives include cycle training for children and adults </li>
<li>Mayor of London, Boris Johnson, said:&nbsp;'This funding will benefit all of London and everyone living in, working in or visiting Hammersmith and Fulham.&nbsp; A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people'</li></ul>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp;</p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp;</p>
<h2>Provide consistency</h2>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be coordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE, said:&nbsp;'We are working in partnership with Hammersmith and Fulham and with all the London boroughs to bring real improvements to communities across the city.</p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp;</p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.' </p>
<h2>Design and feasibility</h2>
<p>Last year in Hammersmith and Fulham, it funded cycle training for 456 children and 184 adults, 94 cycle parking spaces, 62 new workplace travel plans, 98 new street trees, the removal of 255 metres of guardrail, a new bus lane at the north end of Fulham Palace Road and new pedestrian signage in Hammersmith Town Centre.</p>
<p>Notable larger projects to be undertaken in 2013/14 in Hammersmith and Fulham include the implementation of the Shepherd Bush West project following completion of design and feasibility works in the current year. </p>
<p>It will receive &pound;2.4m major scheme funding to improve road safety, traffic flow as well as better walking facilities that connect Goldhawk Road and Shepherd's Bush Market station.&nbsp;&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While Transport individual projects is the responsibility of each borough.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks The Mayor of London, Boris Johnson has today announced &pound;3.8m for Hammersmith and Fulham to invest in transport projects that will benefit the";}
        
        


 