


@{ViewBag.Title = "Mayor provides &pound;6.1m investment in transport for Brent to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;6.1m investment in transport for Brent to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.
        
    </div>



 <div class="on-this-page">
<ul>
<li>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks</li></ul>
<p>The Mayor of London, Boris Johnson has today announced &pound;6.1m for Brent to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;6.1m funding package in 2013/14 will finance a range of transport projects in Brent, including:</p>
<ul>
<li>&pound;85,000 to make bus stops more accessible, following the good progress Brent made in 2012/13 where 28 bus stops were made accessible </li>
<li>&pound;150,000 for Greenhill Park where Brent is looking for ways to rationalise parking, assess rat-running and potential speeding issues, reduce road casualties, improve the urban realm and plant street trees </li>
<li>&pound;270,000 for Brent's School Travel Plans, including the development and delivery of accessibility and pedestrian safety improvements around and on the routes to various schools</li></ul>
<p>Mayor of London, Boris Johnson said:&nbsp;'This funding will benefit all of London and everyone living in, working in or visiting Brent.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp;</p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<h2>Local investment</h2>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the Capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said: 'We are working in partnership with Brent and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Brent, it funded the removal of 120 metres of guardrail, updated travel plans for 43 schools to encourage walking and cycling to school, 47 new off street cycle parking spaces, cycle training for 422 children and 119 adults.</p>
<p>Notable larger projects to be undertaken in Brent include the Harlesden Town Centre project, which will receive &pound;2.8m from Major Scheme funding in 2013/14 to continue with the implementation of major improvements to Harlesden Town Centre, including road safety, better conditions for walking, cycling and public transport and an improved&nbsp; look and feel to the area. </p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</strong><p>
<p>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp; </p>
<p>While individual transport projects are the responsibility of each borough.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworksThe Mayor of London, Boris Johnson has today announced &pound;6.1m for Brent to invest in transport projects that will benefit the local";}
        
        


 