


@{ViewBag.Title = "Mayor provides &pound;2.7m investment in transport for Merton to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;2.7m investment in transport for Merton to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson has today announced &pound;2.7m for Merton to invest in transport projects that will benefit the local community.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL)&nbsp;has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;2.7m funding package in 2013/14 will finance a range of projects in Merton, including:</p>
<ul>
<li>&pound;260,000 to improve the area into Mitcham Town Centre for pedestrians and spruce up the town centre. Works will include new bus stands to encourage more public transport journeys into the town centre, decluttering of street furniture, new pedestrian and cycle paths to encourage walking and cycling as well as planting new trees</li>
<li>&pound;330,000 for a number of improvements for cyclists, including new cycle lanes, cycle parking and a borough wide cycle training programme. These measures are in line with Merton's objective to encourage more people to cycle and are being delivered alongside the council's Biking Borough initiatives</li>
<li>&pound;260,000 towards the Colliers Wood corridor project. Measures will include smoothing traffic flow along the A298/A238 - east-west corridor by decongesting junctions, improving pedestrian and cycle facilities as well as improving the environment and safety around the former Brown &amp; Root Tower by decluttering and repaving street</li></ul>
<p>Mayor of London, Boris Johnson said: 'This funding will benefit all of London and everyone living in, working in or visiting Merton.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<h4>Local invesment</h4>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp;</p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said:&nbsp; 'We are working in partnership with Merton and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Merton, it financed 192 cycle parking spaces, cycle training for 1,916 children and 169 adults, three improved pedestrian crossings, the removal of 924 metres of guardrail, for 25 schools to participate in walking events and 433 new street trees.</p>
<p>Notable larger projects undertaken in Merton include the Wimbledon Town Centre project 'Destination Wimbledon' completed in June 2012, to which TfL contributed &pound;1.2m of the total &pound;2.1m costs.&nbsp; </p>
<p>The improvements included a new station forecourt, a diagonal pedestrian crossing at the junction of Wimbledon Bridge with Alexandra Road, new paving, tree planting, cycle parking and new street furniture.</p>
<p>
<hr>
<br><strong>Notes to Editors:</strong></p><strong>
<ul>
<li></li></ul></strong>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While individual transport projects&nbsp;are the responsibility of each borough.<br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.The funding is awarded to support projects in the London boroughs that";}
        
        


 