


@{ViewBag.Title = "Mayor provides &pound;5.3m investment in transport for Lambeth to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;5.3m investment in transport for Lambeth to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<ul>
<li>Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy</li>
<li>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks </li></ul>
<p>The Mayor of London, Boris Johnson has today announced &pound;5.3m for Lambeth to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;5.3m funding package in 2013/14 will finance a range of transport projects in Lambeth, including:</p>
<ul>
<li>&pound;500,000 for a raft of cycling measures to improve and encourage more cycling in Lambeth</li>
<li>&pound;400,000 to create a new shared public space in Stockwell Square developed in partnership with local residents and Transport for London</li></ul>
<p>Mayor of London, Boris Johnson said:&nbsp; 'This funding will benefit all of London and everyone living in, working in or visiting Lambeth.&nbsp; A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said: 'We are working in partnership with Lambeth and with all the London boroughs to bring real improvements to communities across the city. </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Lambeth, it funded cycle training for 762 children and 390 adults, 318 new on cycle parking spaces, 453 new trees and 42 car club bays.</p>
<p>Notable larger projects undertaken in Lambeth include a &pound;725,000 borough wide cycling safety improvement programme, including the introduction of two-way cycling at ten new locations across the borough, improved road markings to assist cyclists, improved cycle parking among others.</p>
<p>
<hr>
<br><strong>Notes to Editors:</strong></p>
<ul>
<li>Each borough produces a Local Implementation Plan to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While Transport individual projects is the responsibility of each borough<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategyTfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact";}
        
        


 