


@{ViewBag.Title = "Mayor welcomes New Year Honour for Sir Peter Hendy and TfL staff";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes New Year Honour for Sir Peter Hendy and TfL staff</h1>
        <div class="content-page-press-release">
        31 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Boris Johnson today welcomed the award of a Knighthood to London's Transport Commissioner, Sir Peter Hendy CBE, in the Queen's New Year's Honours for 2013 for services to transport and the community.
        
    </div>



 <div class="on-this-page">
<p>The Mayor also paid tribute to the work of all London's transport workers as he welcomed the award of the OBE to London Underground's (LU's) Chief Operating Officer, Howard Collins for services to the London 2012 Games and LU; and the award of the MBE to Nana Nyarko, Bus Service Controller, for services to London Buses following his outstanding bravery and commitment to colleagues and customers during the public disorder of August 2011.</p>
<p>Mayor of London Boris Johnson said: 'Sir Peter Hendy richly deserves this honour.&nbsp; </p>
<p>'He has shown outstanding leadership as London's Transport Commissioner, including overseeing the largest ever investment programme in the Capital's transport network and record breaking passenger numbers and operational performance.&nbsp; </p>
<p>'He also led the successful operation of the transport network for the London 2012 Games, demonstrating to the world that London is the best city to live, work, visit and invest in.</p>
<p>'Congratulations too to Howard Collins for his OBE and Nana Nyarko for his MBE.&nbsp; </p>
<p>'I am sure Sir Peter will be the first to join me in paying tribute to them and to the thousands of London's transport workers, whose hard work every day is also recognised through these honours.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>A current biography of Sir Peter Hendy is available from the TfL Press Office</li>
<li>Summaries for Howard Collins OBE and Nana Nyarko MBE are also available by contacting the TfL Press Office</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor also paid tribute to the work of all London's transport workers as he welcomed the award of the OBE to London Underground's (LU's) Chief Operating Officer, Howard Collins for services to the London 2012 Games and LU; and the award of the MBE to";}
        
        


 