


@{ViewBag.Title = "Mayor provides &pound;7.4m investment in transport for Croydon to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;7.4m investment in transport for Croydon to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The funding will benefit all of London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The funding will benefit all of London
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks </li></ul>
<p>The Mayor of London, Boris Johnson has today announced &pound;7.4m for Croydon to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;7.4m funding package in 2013/14 will finance a range of transport projects in Croydon, including:</p>
<ul>
<li>&pound;292,000 to improve bus journey times and reliability at various areas across the borough.&nbsp; Money will fund studies for new bus stands to improve bus services and stand capacity </li>
<li>&pound;800,000 to spruce up the public realm in South Croydon - a local town centre/shopping street improvement scheme, linked to the wider Connected Croydon programme </li>
<li>&pound;200,000 for a number of junction improvements, including new junction designs and upgrades to signal equipment to better manage and smooth traffic for all road users </li>
<li>&pound;310,000 to make cycling safer and easier in the borough with cycle training, new cycle parking and cycle paths in the borough, complemented by separate funding as part of the Biking Borough programme </li>
<li>&pound;881,000 to improve road safety.&nbsp; Measures will include improvements to road junctions, pedestrian crossings and carriageway signs to reduce collisions</li></ul>
<p>Mayor of London, Boris Johnson said: 'This funding will benefit all of London and everyone living in, working in or visiting Croydon.&nbsp; A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp;</p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<h2>Local investment</h2>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the Capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said:&nbsp; 'We are working in partnership with Croydon and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Croydon, it funded cycle training for 1,583 children and 520 adults, 10 new or improved pedestrian crossings, and contributed towards the major Connect2 east-west 3km walking and cycling route connecting to and through Croydon Metropolitan Centre.&nbsp; </p>
<p>Previously it provided a contribution towards 81 new Legible London signs installed in the Croydon Metropolitan Centre.</p>
<p>Notable larger projects undertaken this year in Croydon include the scheme in Addiscombe to improve the public realm along the shopping street.&nbsp; </p>
<p>Begun in 2011/2 and being completed this year, it received significant funding contributions in each of the two years. </p>
<p><strong>
<hr>
</strong></p>

<p><strong>Notes to editors:</strong></p>

<p>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;</p>
<p>While individual transport&nbsp; projects is the responsibility of each borough.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks The Mayor of London, Boris Johnson has today announced &pound;7.4m for Croydon to invest in transport projects that will benefit the local";}
        
        


 