


@{ViewBag.Title = "Mayor provides &pound;3.8m investment in transport for Lewisham to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;3.8m investment in transport for Lewisham to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite a reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This funding will benefit all of London
                            
                        </p>
                    </div>
                
            
            
            <p>Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.</p>
<p>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks. </p>
<p>The Mayor of London, Boris Johnson has today announced &pound;3.8m for Lewisham to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boos the local economy.</p>

<h2>Funding package</h2>
<p>The &pound;3.8m funding package in 2013/14 will finance a range of transport projects in Lewisham, including:</p>
<ul>
<li>&pound;780,000 to complete the Sydenham town centre scheme that will provide significant improvements to the public realm including wider footways, better crossing facilities including new Toucan and Pelican crossings, upgraded CCTV, accessible bus stops and improved safety </li>
<li>&pound;420,000 for Sydenham Road, east of Mayow Road. Works will follow on from the Sydenham Town Centre High Street project.&nbsp; The design will seek to reduce casualties by providing safer crossing points and also improve the shopping environment, cycling, bus operation and bus stop accessibility </li>
<li>&pound;462,000 to fund works on the three underpasses for pedestrians in the area of&nbsp; the Surrey Canal Road East London Line extension </li>
<li>&pound;300,000 for further improvements to pedestrian facilities in Ladywell Village, a local shopping area.&nbsp; This is a continuation of the &pound;550,000 project to be delivered in 2012-13, which will include new crossings, repaving and widening of footways, new lighting and resurfacing works </li>
<li>&pound;50,000 to develop proposals to create an inviting public realm on Deptford High Street, which is an important shopping area with a thriving market </li>
<li>&pound;40,000 to develop proposals to regenerate the local shopping area at Grove Park (next to the rail and bus stations), improving pedestrian facilities and accessibility</li></ul>
<p>Mayor of London, Boris Johnson said: 'This funding will benefit all of London and everyone living in, working in or visiting Lewisham.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the Capital and associated inconvenience and disruption to residents and road users. </p>

<h2>Working in partnership</h2>

<p>London's Transport Commissioner, Peter Hendy CBE said:&nbsp;'We are working in partnership with Lewisham and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Lewisham, it funded 1,782 cycle parking spaces, cycle training for 995 children and 383 adults, 20 road safety education and training events, 11 new accessible bus stops, 58 new street trees and enabled 58 schools to participate in walking events.</p>
<p>Notable larger projects undertaken in Lewisham this year include the transformation of the area known as Kender Triangle, which includes Kender Street, Besson Street, Briant Street, Faulkner Street and Lubbock Street. </p>
<p>The scheme improvements were formally launched in June 2012 and received &pound;1.3m as part of the Mayor's Great Outdoors programme.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While individual transport projects are the responsibility of each borough.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact";}
        
        


 