


@{ViewBag.Title = "Mayor provides &pound;3.6m investment in transport for Havering to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;3.6m investment in transport for Havering to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor of London, Boris Johnson has today announced &pound;3.6m for Havering to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>Transport for London (TfL) has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;3.6m funding package in 2013/14 will finance a range of transport projects in Havering, including:</p>
<ul>
<li>&pound;300,000 for public realm improvements in Romford.&nbsp;Works will be concentrated in the central part of Romford Town Centre and will include the removal of street clutter, resurfacing pavements and improving street lighting as part of the Rumford Public Realm Master Plan.&nbsp; In addition, the measures will improve accessibility and encourage more&nbsp; people to walk and cycle in safe and secure surroundings.&nbsp;These works continue the LIP funded public realm improvements that have taken place in the town centre over the last two financial years and will compliment the various other LIP funded schemes already implemented and planned in Romford, such as the Taxi Marshall scheme in Eastern Road which provides safer nighttime transport in Romford </li>
<li>&pound;400,000 to reduce congestion on the main routes into Romford, Main Road and North Street.&nbsp;Works include improvements to junctions to increase the flow of traffic, new loading bays for local businesses, better cycling facilities, and improvements to the public realm, such as guardrail removal </li>
<li>&pound;350,000 for public realm and environmental improvements within Harold Wood, Rush Green and Elm Park.&nbsp;Works will include resurfacing carriageways and footways, enhancing parking arrangements, removing street clutter, planting new trees, improving foot and cycle paths, and improving access to shopping parades and transport interchanges</li></ul>
<p>Mayor of London, Boris Johnson said:&nbsp; 'This funding will benefit all of London and everyone living in, working in or visiting Havering.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<h4>Local invesment </h4>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said:&nbsp; 'We are working in partnership with Havering and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Havering it financed cycle training for 5,730 children, 96 cycle parking spaces, 60 road safety education and training events, three new accessible bus stops and enabled 54 schools to participate in walking events.</p>
<p>Notable larger projects include the completion of the first stage of works to improve the town centre at Hornchurch, which received &pound;1.86 million to upgrade the whole street environment and provide better access to and from the shops.&nbsp; </p>
<p>The second stage, to be completed in 2013 will complete the works and improve the traffic environment.</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While individual transport projects&nbsp;are the responsibility of each borough.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson has today announced &pound;3.6m for Havering to invest in transport projects that will benefit the local community.&nbsp;&nbsp; Transport for London (TfL) has allocated the money through Local Implementation Plan (LIP)";}
        
        


 