


@{ViewBag.Title = "Mayor provides &pound;2.9m investment in transport for Waltham Forest to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;2.9m investment in transport for Waltham Forest to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite a reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.
        
    </div>



 <div class="on-this-page">
<p>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks.</p>
<p>The Mayor of London, Boris Johnson has today announced &pound;2.9m for Waltham Forest to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;2.9m funding package in 2013/14 in Waltham Forest will finance a range of transport projects including:</p>
<ul>
<li>&pound;410,000 to fund a review of Hoe Street to make cycling safer and easier, improve facilities for pedestrian and general road safety for all road users</li>
<li>&pound;50,000 to improve the east to west Greenway connections through both the Lea Valley Regional Park and from the National Cycle Network Route 1 to the Walthamstow Wetlands</li></ul>
<p>Mayor of London, Boris Johnson said:&nbsp; 'This funding will benefit all of London and everyone living in, working in or visiting Waltham Forest.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the Capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said:&nbsp; 'We are working in partnership with Waltham Forest and with all the London boroughs to bring real improvements to communities across the city. </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Waltham Forest, it funded 163 new trees, 229 new cycle parking spaces, cycle training for 151 adults and 1,050 children, 15 accessible bus stops and two new on-street car club bays.</p>
<p>Notable larger projects undertaken in Waltham Forest include Leytonstone Town Centre which received &pound;1.5m funding to improve the public realm and pedestrian facilities around the station area.&nbsp; </p>
<p>The scheme has successfully removed street clutter, widened footways, improved crossing facilities, incorporated more cycle parking and improved lighting, safety and security.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<p>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp; While individual transport projects are the responsibility of each borough.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks.The Mayor of London, Boris Johnson has today announced &pound;2.9m for Waltham Forest to invest in transport projects that will benefit the local";}
        
        


 