


@{ViewBag.Title = "Mayor provides &pound;2.1m investment in transport for Barking & Dagenham to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;2.1m investment in transport for Barking & Dagenham to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite reduction in Transport for London's central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Transport for London (TfL) to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks </li></ul>
<p>The Mayor of London, Boris Johnson has today announced &pound;2.1m for Barking and Dagenham to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;2.1m funding package in 2013/14 will finance a range of transport projects in Barking &amp; Dagenham, including: </p>
<ul>
<li>&pound;400,000 to complete improvements at the Merry Fiddlers Junction in Barking &amp; Dagenham, including providing better access to the new leisure centre, improving the public realm and making road safety improvements</li>
<li>&pound;300,000 to continue with access improvement works at Chadwell Heath station, including measures to improve pedestrian safety and crossing facilities and wayfinding signage</li>
<li>&pound;300,000 towards the implementation of a community led neighbourhood scheme in the Becontree Estate in Mayesbrook, in partnership with Sustrans, to make highway and public realm improvements in the area</li>
<li>&pound;300,000 for improvements to the Green Lanes shopping parade.&nbsp;It will include new street furniture, better car parking, particularly for disabled users, new trees and renewed paving to improve the look and feel of the public realm outside the shops</li></ul>
<p>Mayor of London, Boris Johnson said:&nbsp;'This funding will benefit all of London and everyone living in, working in or visiting Barking &amp; Dagenham.&nbsp; </p>
<p>'A world-class city deserves a world-class transport system and the borough will use this money to make significant improvements for local people.'</p>
<h2>Local invesment</h2>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the Capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said: 'We are working in partnership with Barking &amp; Dagenham and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year, Barking &amp; Dagenham used their LIP funding towards 157 cycle parking spaces, cycle training for 933 children and 125 adults, the removal of 100 metres of guardrail, 20 new street trees and for 23 schools to participate in walking events.</p>
<p>Notable larger projects this year undertaken in Barking &amp; Dagenham include the completion of the Barking Station forecourt improvements, formally opened in June this year that received a &pound;500,000 investment (in 2011 /12) to provide better access and safety.</p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<p></strong>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.<p>
<p>While&nbsp;individual transport projects are the responsibility of each borough.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks The Mayor of London, Boris Johnson has today announced &pound;2.1m for Barking and Dagenham to invest in transport projects that";}
        
        


 