


@{ViewBag.Title = "Mayor provides &pound;148m transport investment to boost local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;148m transport investment to boost local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite reduction in Transport for London's (TfL) Central Government funding, investment levels maintained for the boroughs to deliver the Mayor's transport strategy.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Investment to improve public spaces and shopping areas to boost London's local economies </li>
<li>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks </li></ul>
<p>The Mayor of London, Boris Johnson has today announced &pound;148m for London's boroughs to invest in transport projects that will benefit local communities.&nbsp;&nbsp; </p>
<p>The money will be used to support projects that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the boroughs to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding for 2013/14 will support hundreds of different transport projects, including:</p>
<ul>
<li>&pound;400,000 to complete improvements at the Merry Fiddlers Junction in Barking and Dagenham, including providing better access to the new leisure centre, improving the public realm and making road safety improvements </li>
<li>&pound;175,000 for a number of measures to make cycling safer and easier in the City of London, such as installing two-way cycling on 12 streets </li>
<li>&pound;700,000 for an extensive Greenways programme in Enfield, providing off road traffic free paths and spaces for pedestrians and cyclists </li>
<li>&pound;3.2m&nbsp; towards the redevelopment of Harlesden Town Centre in Brent, including improving the urban realm, enhancing conditions for pedestrians, public transport users and cycling and measures to improve road safety </li>
<li>&pound;2m for Bromley North Village renewal and public realm improvements and 820,000 to tackle congestion at a number of hotspots across the borough, such as the Nugent Centre, Beckenham and Bromley Town Centres</li></ul>
<p>The Mayor of London, Boris Johnson said: 'This funding will benefit all of London and everyone living in, working in or visiting the Capital.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the boroughs will use this money to make roads safer, transport greener and more accessible and create inviting streets and public spaces.'</p>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance. <br>&nbsp; <br>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the Capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE, said:&nbsp;'We are working in partnership with the boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The boroughs will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to those area and boosting the local economy.'</p>
<p>Last year the boroughs used their funding from the Local Implementation Plan to substantially increase the amount of cycle training and cycle parking, with over 53,000 adults and children receiving training and over 9,000 new cycle parking spaces being made available.&nbsp; </p>
<p>In addition, the boroughs have continued to declutter and make local areas more inviting with the removal of over 6,000 metres of guardrail and over 5,800 new street trees.</p>
<p>Larger projects completed with last year's funding, include:</p>
<ul>
<li>The reintroduction of two way traffic on Piccadilly, Pall Mall and St James which was completed in November 2011. TfL contributed &pound;7m to this &pound;14m project which has helped restore one of the Capital's greatest boulevards, reduce journey times and create a much improved public space </li>
<li>Improvements in the area around Leytonstone Station and in Leyton High Road between Church Lane and Michael Road.&nbsp;TfL contributed &pound;1.1m towards this &pound;1.2m project which completed in June this year </li>
<li>The revamp of Mollison Way in Harrow which TfL contributed &pound;1.1m of the total &pound;1.2m. Improvements include a new street layout, new pedestrian crossings, widened pavements and new cycle stands and new CCTV cameras.&nbsp; Parking and loading bays have also been reorganised to allow for larger bus stops and to keep the main road clear for moving traffic </li>
<li>The Kingsland High Street project which completed in June 2012.&nbsp; This received &pound;1.9m from TfL towards the total &pound;2.2 cost of the project which greatly improved the area around the high street, creating better conditions for pedestrians, cyclists and other users and providing better access to the station, market and shopping centre </li>
<li>The Wimbledon Town Centre project 'Destination Wimbledon' completed in June 2012, to which TfL contributed &pound;1.2m of the total &pound;2.1m costs.&nbsp;The improvements included a new station forecourt, a diagonal pedestrian crossing at the junction of Wimbledon Bridge with Alexandra Road, new paving, tree planting, cycle parking and new street furniture </li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Investment to improve public spaces and shopping areas to boost London's local economies TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks The Mayor of London, Boris Johnson has today announced";}
        
        


 