


@{ViewBag.Title = "Mayor seeks ban on dangerous pedicabs ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor seeks ban on dangerous pedicabs </h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor's call supported by businesses and safety campaigners. Vehicles have a disproportionate effect on congestion and drivers frequently arrested for obstruction and dangerous driving.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These vehicles jam up the Capital's roads and consistently fail to ensure the safety of their passengers
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) have today called for a change to legislation that would allow them to effectively ban dangerous pedicabs in the Capital. </p>
<p>In its submission to the Law Commission's consultation 'Reforming the Law on Taxi and Private Hire Services' TfL proposes that pedicabs and other 'novelty' vehicles should be brought under the same legislative framework that governs taxis and private hire vehicles.&nbsp; </p>
<p>This would give TfL the power to remove pedicabs from the Capital's roads as they don't meet the rigorous safety and licensing standards that taxis and private hire vehicles must adhere to. </p>
<p>Although there are a relatively small number of pedicabs, which operate in a small part of central London, they have a disproportionate effect on traffic congestion and congregate in pedestrian areas - both of which impact on bus passengers and other road users. </p>
<p>While clearly there are some responsible pedicab companies, even they cannot ensure the safety of their passengers to an acceptable level and the Mayor and TfL believe that they are unsuitable for London's roads.&nbsp; </p>
<p>Neither pedicabs nor their riders are licensed and there is no requirement for their riders to undergo Criminal Records Bureau checks.&nbsp; </p>
<p>Pedicabs are often unroadworthy and uninsured, and riders often disobey road rules and put the public at risk. </p>
<p>TfL has today released figures which demonstrate that pedicabs pose a risk to passengers and cause considerable congestion in the West End.&nbsp; </p>
<h2>Dangerous driving</h2>
<p>Between October 2011 and November 2012, joint enforcement activity undertaken by TfL, the Metropolitan Police and Westminster City Council saw 365 arrests and seizures and 839 warnings issued to pedicab drivers for offences such as dangerous riding, causing obstruction and cycling on a footway.&nbsp; </p>
<p>The most recent enforcement activity last week saw&nbsp;five arrests for offences including riding dangerously, riding on the footway and obstruction.&nbsp; </p>
<p>One of the people arrested had been wanted for deportation by the UK Borders Agency for 18 months.&nbsp; </p>
<p>TfL and Westminster City Council had previously sought to introduce a voluntary registration scheme.&nbsp; </p>
<p>However, it was recognised that this would not have resulted in a robust and rigorous licensing regime.&nbsp; </p>
<p>The Mayor and TfL are therefore seeking a change to current legislation so that the issue can be tackled effectively.</p>
<p>A number of businesses and organisations, including Westminster City Council, Heart of London Business Alliance, Society of London Theatres, LSE Students' Union, The Hippodrome Casino and the Delfont Mackintosh Prince Edward Theatre have expressed their support for the proposal to ban pedicabs.</p>
<p>Boris Johnson, the Mayor of London, said: 'Although there are a number of responsible pedicab companies, the fact is that these vehicles jam up the Capital's roads and consistently fail to ensure the safety of their passengers.</p>
<p>'Whereas other forms of public transport have measures in place to protect passengers, with pedicabs anyone can just hop aboard and ply for hire.&nbsp; </p>
<p>'It has become clear that a voluntary registration scheme would not have produced a robust solution.&nbsp; </p>
<p>'That's why we and a wide range of businesses, local authorities and West End institutions are calling for TfL to be given the powers to remove them from the streets.'</p>

<h2>Serious accidents</h2>
<p>Mark Field, MP for the City of London and Westminster, said: 'The numbers of pedicabs have exploded over the past few years and, aside from the regular aggravation they cause local residents and other road users, there is increasing concern that these unlicensed, unregulated vehicles may cause serious accidents.&nbsp; </p>
<p>'I welcome the effort put in by Westminster, TfL and the police to make sure that the streets are a safe place.'</p>
<p>Cllr Ed Argar, Westminster City Council cabinet member for transport, said: 'The problems posed by pedicabs are at their worst in the West End.&nbsp; </p>
<p>'We have fought for many years for the safety of passengers to come first, and for the proper regulation of pedicabs, to solve the safety and congestion issues they pose.&nbsp; </p>
<p>'It cannot be right that this industry remains without proper safeguards or regulation to protect passengers and other road users, and we welcome and support Boris' call for action today.'</p>
<p>Sarah Porter, Chief Executive, Heart of London Business Alliance, said: 'Heart of London Business Alliance supports the Mayor's plan to ban pedicabs.&nbsp; </p>
<p>'We have regularly funded multi agency operations to address the anti social behaviour and safety concerns pedicabs cause however, this is a short term solution so we welcome this proposal.'</p>
<h2>Customer safety</h2>

<p>Simon Thomas, Chief Executive of The Hippodrome Casino, which opened this summer in Leicester Square after a &pound;40m investment, said: 'Pedicabs may look like a bit of fun.&nbsp; </p>
<p>'But they continue to flout every rule in the book.&nbsp; </p>
<p>'The authorities have tried, and failed, to control them and make the operators accountable.&nbsp; </p>
<p>'Now is the time to take a bold decision and take them off the streets once and for all.&nbsp; </p>
<p>'The Mayor not only has my full support in seeking a ban, but I believe the approval of the vast majority of businesses in the West End.'</p>
<p>Roger Johnson of the Prince Edward Theatre, Delfont Mackintosh, said: 'The West End is a world class destination and safety plays a significant part to this, if these pedicabs could be banned or indeed regulated it would most certainly improve the area and the safety for our customers.'</p>
<p>Julian Bird, Chief Executive of the Society of London Theatre, said: 'The safety and comfort of theatre-goers is of utmost importance, and feedback from our members shows that keeping the streets around venues as clear as possible - especially at times of peak customer flow - is key to maintaining an efficient and world-class Theatreland district.'</p>
<p>Alex Peters-Day, General Secretary, LSE Students' Union, said: 'Pedicabs can be an incredibly dangerous form of transport, and I absolutely support the move to ban them from London's roads.&nbsp; </p>
<p>'They can also be very expensive, and when students are on an already very limited budget they shouldn't have to face the aggressive touting that many pedicab drivers currently do in the West End.'</p>

<p>TfL's proposal to the Law Commission will require primary legislation to be implemented.&nbsp; </p>
<p>In the meantime TfL will continue to work with Westminster City Council and the Metropolitan Police Service on enforcement activity to tackle illegal and unsafe activity by pedicabs.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>CCTV footage of pedicabs driving through red lights and cycling on the pavement outside a West End theatre is available on request from the TfL Press Office.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) have today called for a change to legislation that would allow them to effectively ban dangerous pedicabs in the Capital. In its submission to the Law Commission's consultation 'Reforming the Law on Taxi and";}
        
        


 