


@{ViewBag.Title = "Mayor provides &pound;6.8m investment in transport for Westminster to help boost local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;6.8m investment in transport for Westminster to help boost local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<ul>
<li>Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy</li>
<li>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks </li></ul>
<p>The Mayor of London, Boris Johnson has today announced &pound;6.8m for Westminster to invest in transport projects that will benefit the local community.&nbsp;&nbsp;</p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;6.8m funding package in 2013/14 will finance a range of transport projects in Westminster including:</p>
<ul>
<li>&pound;1m for the Civic Streets programme, which will deliver better and safer routes and open spaces for pedestrians and cyclists in the Queensway area</li>
<li>&pound;400,000 for Legible London to help pedestrians find their way around the local area</li>
<li>&pound;140,000 for additional on-street electric vehicle charging points</li>
<li>&pound;80,000 to improve bus accessibility for all passengers at selected bus stops</li>
<li>&pound;127,000 to provide more cycle training.</li></ul>
<p>Mayor of London, Boris Johnson said: 'This funding will benefit all of London and everyone living in, working in or visiting Westminster.&nbsp; </p>
<p>'A world class city deserves a world class transport system and the borough will use this money to make significant improvements for local people.'</p>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.&nbsp;&nbsp; </p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.&nbsp; </p>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be co-ordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE said:&nbsp; 'We are working in partnership with Westminster and with all the London boroughs to bring real improvements to communities across the city.&nbsp; </p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp; </p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.'</p>
<p>Last year in Westminster, it funded 127 cycle parking spaces, cycle training for 610 adults and 517 children, 506 new street trees and 250 road safety education and training events to school children.</p>
<p>Notable larger projects to be undertaken include &pound;1m towards the continued corridor and neighbourhood improvements which will cover six streets and two public spaces:</p>
<ul>
<li>Shelton Street - Streetscape improvement scheme involving raised table crossings, improving footways and carriageway, reducing street clutter, in partnership with the London Borough of Camden</li>
<li>Rupert Street, Peter Street - Raised pedestrian crossings at both streets</li>
<li>Cranbourn Street - Streetscape improvement scheme to link Leicester Square and Covent Garden</li>
<li>Newport Place - Development of streetscape improvements for Newport Place, Newport Court and Gerrard Place</li>
<li>Lisle Street - Relocation of on-street parking, pedestrianisation and streetscape improvements to Wardour Street (junction from Lisle Street to Coventry Street) and the remaining section of Lisle Street </li>
<li>Market Place - Public realm works to create a pedestrianised Oasis at Market Place / Great Titchfield Street and side streets</li>
<li>Oxford Street East - street improvement scheme </li>
<li>Bird Street - Project to create an oasis space along Bird Street; proposals include providing setts to carriageway; additional trees and benches; reducing street clutter and redesigned layout of cycle stands</li></ul>
<p>Other improvements already completed, include the works at Strand/Aldwych, where the public realm has been significantly improved with the provision of new pedestrian crossing facilities, de-cluttering and better footways, together with the provision of a right turn for buses coming from the Strand towards Waterloo Bridge reducing journey times by an average of three minutes for each bus. </p>
<p>
<hr>
<br><strong>Notes to Editors:</strong></p><strong>
<ul>
<li></li></ul></strong>Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp; While Transport individual projects is the responsibility of each borough
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategyTfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact";}
        
        


 