


@{ViewBag.Title = "Mayor provides &pound;3.8m investment in transport for Wandsworth to help boost the local economy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor provides &pound;3.8m investment in transport for Wandsworth to help boost the local economy</h1>
        <div class="content-page-press-release">
        14 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite reduction in Transport for London's (TfL) central Government funding, investment levels maintained for the borough to deliver the Mayor's transport strategy.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">TfL's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks </li></ul>
<p>The Mayor of London, Boris Johnson, has today announced &pound;3.8m for Wandsworth to invest in transport projects that will benefit the local community.&nbsp;&nbsp; </p>
<p>TfL has allocated the money through Local Implementation Plan (LIP) funding for the borough to spend on projects that support the Mayor's Transport Strategy.</p>
<h2>Improvement works</h2>
<p>The funding is awarded to support projects in the London boroughs that will make cycling safer and easier, improve walking facilities, make roads safer, smooth traffic flow and breathe new life into town centres, public squares and local shopping areas to boost the local economy.</p>
<p>The &pound;3.8m funding package in 2013/14 in Wandsworth will finance a range of transport projects including:</p>
<ul>
<li>&pound;100,000 to continue the Clapham Junction Town centre improvement scheme.&nbsp;The scheme has already received &pound;1.4m to reduce traffic congestion in the town centre and improve the appearance of the area and make facilities better for pedestrians.&nbsp;The funding will go towards&nbsp;improved signing, resurfacing roads and footways, the removal of pedestrian guardrail, new street trees, street furniture and lighting and the new Legible London wayfinding signs </li>
<li>&pound;260,000 to improve the look and feel of Old York Road between Wandsworth Town Station and Fairfield Street SW18.&nbsp;Works will improve interchange and complement improvement works at the station, including an improved forecourt area in front of the station and better pedestrian crossing facilities </li>
<li>&pound;400,000 for the Barclays Cycle Hire scheme extension in the borough (match funding) </li>
<li>&pound;350,000 for street and transport improvements in Balham Town Centre, including potential improvements to Bedford Hill and Hildreth Street to complement the Mayor's Outer London Fund programme</li></ul>
<p>Mayor of London, Boris Johnson, said:&nbsp;'This funding will benefit all of London and everyone living in, working in or visiting Wandsworth.&nbsp;</p>
<p>'A world-class city deserves a world-class transport system and the borough will use this money to make significant improvements for local people.'</p>
<p>This year, two new measures have been introduced which will help the boroughs to drive down their costs, deliver value for money and minimise the disruption caused by construction works and road maintenance.</p>
<p>Boroughs can use the new London Highways Alliance Contracts (LoHAC) to avoid the need for each authority to separately appoint contractors to undertake works.</p>
<h2>Working in partnership</h2>
<p>These are four area-based joint highway contracts awarded in November by TfL and the boroughs to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>In addition, projects undertaken on main roads in the boroughs will be coordinated by TfL so that the method and timing of roadworks is managed to reduce their impact in the capital and associated inconvenience and disruption to residents and road users. </p>
<p>London's Transport Commissioner, Peter Hendy CBE, said:&nbsp;'We are working in partnership with Wandsworth and with all the London boroughs to bring real improvements to communities across the city.&nbsp;</p>
<p>'The borough will be using this investment to fund hundreds of projects that will benefit all road users, including cyclists and pedestrians.&nbsp;</p>
<p>'Public squares and local shopping areas will be rejuvenated, attracting more people to the area to boost the local economy.' </p>
<h2>Through-traffic </h2>
<p>Last year in Wandsworth, it funded, 290 cycle parking spaces, cycle training for 1,100 children and 320 adults, the removal of 650 metres of guardrail and street clutter, three new accessible bus stops, support for 70 schools participating in walking events and three new off-street electric vehicle charging points.</p>
<p>Notable larger projects undertaken include the latest stage of Clapham Junction Town Centre improvement scheme, which received &pound;1.4m LIP major scheme funding to reduce the dominance of through-traffic in the town centre and improve pedestrian footways, way finding as well as the public realm.</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Each borough produces a LIP to demonstrate how they plan to implement the Mayor's Transport Strategy locally.&nbsp;While Transport individual projects is the responsibility of each borough.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL to help reduce costs and co-ordinate works on the boroughs main roads to reduce impact of roadworks The Mayor of London, Boris Johnson, has today announced &pound;3.8m for Wandsworth to invest in transport projects that will benefit the local";}
        
        


 