


@{ViewBag.Title = "New Travel in London report underscores need for stable and sustained investment in London's transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Travel in London report underscores need for stable and sustained investment in London's transport network</h1>
        <div class="content-page-press-release">
        19 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's population growing faster than projected, but services more frequent and reliable.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have 900,000 more people living in London today than 10 years ago, and a quarter of a million more than predicted, which puts tremendous pressure on the capital's transport network."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have 900,000 more people living in London today than 10 years ago, and a quarter of a million more than predicted, which puts tremendous pressure on the capital's transport network. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Nine percentage point shift from private car journeys to use of public transport, walking and cycling in London since 2000, with London only place in UK to see car ownership fall </li>
<li>Investment vital to keep pace with London's population and to support economic development and growth </li></ul>
<p>Transport for London (TfL) has today published the fifth annual Travel in London report, which analyses recent transport data against the evolution of transport in London since TfL was created in 2000, as well as looking in detail at travel during the London 2012 Games. </p>
<p>The information and analysis in the report clearly demonstrates the importance of securing stable and sustained investment for London's transport networks, to ensure that the city can continue to support economic development and rapid population growth. </p>

<h4>Population increase</h4>
<p>The capital's population has increased by 13 per cent (with a seven per cent increase in jobs) in the past 12 years, with 900,000 more people living in London than in 2001. </p>
<p>The population has grown by around 264,000 people more than estimated - higher than the entire population of the city of Hull - which has had a significant impact on demand for transport in London.</p>
<p>Despite the larger than predicted growth, there has been an unprecedented nine percentage point shift from private car journeys to use of public transport, walking and cycling in London, with a 10 per cent fall in the number of vehicle kilometres driven on London's roads. </p>
<p>There was also a 34 per cent increase in bus services and a 13 per cent increase in Underground services from 2000 to 2011, with the Tube running its most reliable service ever last year. </p>

<h4>Pressure on transport network</h4>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Since Transport for London was created in 2000, the population of the city has grown far faster than expected. </p>
<p>'We have 900,000 more people living in London today than 10 years ago, and a quarter of a million more than predicted, which puts tremendous pressure on the capital's transport network. </p>
<p>'I am proud of the improvements we have delivered to the quality and reliability of public transport services despite the huge population growth, but if we are to continue to improve the experience of people travelling in London it's essential that our transport system continues to receive sustained investment.</p>
<p>'The Travel in London report also shows that, during the London 2012 Games, people made small changes to their travel patterns that enabled record numbers of passengers to be carried on our public transport networks while making their own journeys more comfortable. </p>
<p>'We're looking at what we can learn from this to help manage demand in travel 'hotspot' areas in London, such as stations undergoing major upgrades.'</p>
<h4>Games report</h4>
<p>The Travel in London report looks in detail at how London's road and public transport networks operated during the Games. </p>

<p>Analysis of journeys during the Olympic and Paralympic Games shows that:</p>
<ul>
<li>During the Olympics, more than 62 million journeys were made on London Underground - up 35 per cent on normal summer levels. Tuesday 7 August was the busiest day in the history of the Underground - with 4.7 million passengers carried. The Paralympics saw 39 million Tube journeys, up 18 per cent on the same period in 2011 </li>
<li>The DLR carried up to twice as many passengers as normal - almost 6.9 million journeys being made over the Olympic Games and 4 million journeys during the Paralympic Games. More than 500,000 DLR journeys on a single day were made for the first time on Friday 3 August </li>
<li>London Overground saw around 6.4 million journeys during the Olympic Games - up 26 per cent on normal levels. During the Paralympics 4.1 million London Overground journeys were made, up by 17 per cent </li>
<li>London Buses carried around 6.5 million passengers each weekday during the Olympics, and about 7.5 million during the Paralympics, while London River Services saw 44 per cent more passengers than normal </li>
<li>The number of cyclists on major roads was between 22 and 23 per cent higher than would normally be expected for both the Olympics and Paralympics</li></ul>
<p>
<hr>
<br>
<p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>The Travel in London report is available here - tfl.gov.uk/corporate/about-tfl/publications/1482.aspx </li>
<li>The population of Greater London has grown by 13 per cent and jobs by seven per cent in the past ten years - around 264,000 more people than had been estimated. The Office for National Statistics (ONS) estimated in 2011 that London's population will reach 9,371,000 by 2021 </li>
<li>264,000 extra Londoners equates to 132,000 extra London Underground journeys - almost the same number of passengers travelling on the Piccadilly line during the weekday morning peak (153,000) </li>
<li>The National Census for 2011 found that London's population grew from 7.3 to 8.2 million in the past decade. It also found that London is now the only region in England and Wales with fewer vehicles than households, and the actual number of cars in London has fallen, despite an increase in London's population </li>
<li>There have been sustained improvements to the quality and reliability of public transport services. Service reliability indicators in 2011/12 for bus, Underground, Docklands Light Railway (DLR), Tramlink and National Rail in London all show improvements on 2000, and were either at - or close to - all-time highs, as they had been for most of the preceding six years. In 2011/12, 97 per cent of scheduled Underground train kilometres, 98 per cent of bus kilometres, 98 per cent of DLR kilometres and 99 per cent of Tramlink kilometres were operated </li>
<li>On the roads, traffic levels in central London and other areas directly affected by the Olympic and Paralympic Route Networks were down, by up to 10 per cent in central London against normal levels for the time of year and by up to 15 per cent against 'typical' (non summer holiday) levels </li>
<li>Barclays Cycle Hire had 642,000 hires during the Olympic Games, and 442,000 hires during the Paralympics, 43 and 30 per cent up respectively on levels that would otherwise be expected. The number of cyclists on major roads was between 22 and 23 per cent higher than would otherwise be expected for both the Olympics and Paralympics. In central London, increases of 7 per cent (Olympics) and 17 per cent (Paralympics) in pedestrian numbers were recorded<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Nine percentage point shift from private car journeys to use of public transport, walking and cycling in London since 2000, with London only place in UK to see car ownership fall Investment vital to keep pace with London's population and to support";}
        
        


 