


@{ViewBag.Title = "New campaign aims to tackle violence against transport staff head on";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New campaign aims to tackle violence against transport staff head on</h1>
        <div class="content-page-press-release">
        11 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new drive to crack down on physical and verbal assaults against transport staff on Transport for London's (TfL's) services has been launched with a network-wide publicity campaign.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL takes workplace violence extremely seriously and we always encourage staff to report any instance of abuse
                            
                        </p>
                    </div>
                
            
            
            <p>The drive, led by a poster campaign that warns would-be perpetrators 'Don't take it out on our staff' was launched this weekend across London Underground (LU) and London Overground (LO) stations, London's bus and tram fleet and in newspapers.</p>
<p>The campaign reinforces TfL's commitment to tackle workplace violence against its staff head on and to further encourage staff to report instances of abuse, whether physical or non-physical. </p>
<p>As part of this commitment TfL funds dedicated workplace violence police officers and TfL staff to investigate cases, provide support for victims and encourage staff to report incidents.</p>
<p>Although transport crime reached an eight-year low during the year 2011/12, TfL saw an increase of six per cent in reported incidents of aggression against Tube staff alone. </p>
<p>Of these, reported verbal abuse rose by 17 per cent. </p>
<p>Many of these incidents took place when people pushing through the gatelines at Tube stations without paying were rightly challenged by staff. </p>
<p>Across the transport network there are more than 2,500 police officers and Police Community Support Officers (PCSOs) who, along with the deployment of more than 12,000 CCTV cameras on the Tube and CCTV on all London Buses, have helped to secure successful convictions against around 90 per cent of offenders taken to court for abusing staff on TfL's networks in last five years. </p>
<p>TfL and its police partners are determined to continue to crack down on this completely unacceptable abuse against staff to build on the significant reductions in crime achieved on the bus and Tube/DLR networks over recent years. </p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing for TfL, said: 'TfL takes workplace violence extremely seriously and we always encourage staff to report any instance of abuse whether physical or non physical so that preventative measures can be taken, and the strongest penalties brought against offenders.</p>
<p>'Our staff do a tremendous job helping customers on and around the transport network, and we and our partners in the British Transport Police and Metropolitan Police are committed to stamp out any behaviour that intimidates staff and customers.'</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command, said:&nbsp; 'The Joint MPS/TfL Workplace Violence Unit is dedicated to investigating all assaults on frontline bus staff; we will continue to work together with TfL and bus companies to catch those who commit acts of violence.<br>&nbsp;<br>'The partnership of the Safer Transport Command with Transport for London has a primary aim to safeguard the travelling public and provide a safe and secure transport network&nbsp; and we support this drive to further encourage staff to report instances of abuse.</p>
<p>'If you commit an offence on the transport network, you will be caught, so our message is clear: Crime on London's bus system will not be tolerated - we will get those responsible using any lawful means at our disposal.'</p>
<p>Chief Superintendent Nicki Watson, British Transport Police, said:&nbsp; 'Our specialist Workplace Violence Unit officers work closely with London Underground to identify offenders and bring them to justice. </p>
<p>'Tube staff should not have to endure abuse or violence for simply carrying out their job and we will seek to arrest, prosecute and ban from LU services anyone who thinks this type of behaviour is acceptable.</p>
<p>'We actively encourage Tube staff to report instances of physical and verbal aggression directed towards them as soon as possible. </p>
<p>'By reporting incidents immediately, it helps us to gather the best available evidence to catch these suspects, and allows us to identify where we need to provide preventative resources at the earliest possible opportunity.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The new poster artwork is available on request from the TfL Press Office</li>
<li>The joint London Underground and British Transport Police Workplace Violence Unit was set up in 2006. The Metropolitan Police Service's Workplace Violence Unit, which deals with incidents on surface transport, was set up in 2009</li>
<li>The units were established to investigate physical and verbal assaults on staff, public order offences and hate crimes, among other offences</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The drive, led by a poster campaign that warns would-be perpetrators 'Don't take it out on our staff' was launched this weekend across London Underground (LU) and London Overground (LO) stations, London's bus and tram fleet and in newspapers.The campaign";}
        
        


 