


@{ViewBag.Title = "New Year fares on TfL services come into effect from Wednesday 2 January 2013";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Year fares on TfL services come into effect from Wednesday 2 January 2013</h1>
        <div class="content-page-press-release">
        27 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Overall fares rise kept as low as possible at one per cent above inflation (4.2 per cent) for 2013.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) today reminded Londoners that new fares for all TfL services will come into effect on Wednesday 2 January 2013.<br>&nbsp;<br>The fare rises for the New Year have been kept as low as possible at one per cent above inflation - an average increase of 4.2 per cent across London's Tubes, buses, London Overground, DLR and trams. </p>
<p>The Mayor of London, Boris Johnson, secured an extra &pound;96m of funding to keep the fares package lower than had been expected.<br>&nbsp;<br>All fare revenue collected by TfL is invested into improving London's transport network.</p>
<p>Unprecedented investment is already underway, delivering faster, more frequent and reliable services for customers and supporting London and the UK's economic development and growth. </p>
<p>The Mayor recently set out a further programme of major transport initiatives that he will use to spearhead the drive for new jobs in the capital, ensuring that London remains a world-leading city. <br>&nbsp;<br>Over the next three years TfL will build on the success of the London 2012 Olympic and Paralympic Games, the upgrade of the Jubilee and Victoria lines and the completion of the London Overground orbital railway to:&nbsp;<br>&nbsp;</p>
<ul>
<li>Deliver the first phase of the Northern line upgrade which will reduce journey times and increase capacity </li>
<li>Introduce new, air conditioned trains on the Circle, Hammersmith &amp; City and District lines </li>
<li>Carry out Tramlink platform improvement works at Wimbledon that will reduce congestion and improve reliabilityContinue with a range of improvements to cycling, including completion of new Barclays Cycle Superhighways and implementation of the action identified in the better junctions review </li>
<li>Contribute to the completion of Crossrail, which will open in 2018. Crossrail will link east to west London, increase rail capacity in the capital and reduce congestion on the Tube<br></li></ul>
<p>All of this investment is in addition to the regular maintenance required on London's transport network, which includes regular renewal of trains, buses, signalling and other assets necessary to operate more rail services and to keep London's roads flowing. </p>
<p>It is also additional to continued, sustained investment in infrastructure such as the Tube upgrade, Crossrail, roads and improvements for cyclists to improve reliability, capacity and safety and reduce overcrowding on public transport and congestion on the roads.<br>&nbsp;<br>The Mayor of London, Boris Johnson said: 'Further investment on the transport network will help us to provide faster, more frequent and reliable journeys for Londoners; and is crucial to the economic development and growth that is so vital to our great city. </p>
<p>This fares package is hugely important to our millions of passengers and I am very pleased to have secured nearly &pound;100m that will help to keep fares as low as possible, and protect the important concessions that we offer the most vulnerable Londoners.'<br>&nbsp;<br>Within the 2013 fares package, the Mayor has ensured that concessionary travel for young people, veterans and older and disabled Londoners has been protected so that those who need it most will continue to travel for free or at a discounted rate. </p>
<p>London's over 60s have had free travel reinstated with the 60+ London Oyster card effective from 1 November 2012.<br>&nbsp;<br>Based on July's RPI figure of 3.2 per cent, from 2 January 2013 fares will rise by an average 4.2 per cent across TfL services and Oyster pay as you go. </p>
<p>Within that overall package the Oyster daily price cap for TfL rail and National Rail services will be frozen, while some fares will go up by slightly more or slightly less than the 4.2 per cent average.<br>&nbsp;<br>On London's buses, the Oyster pay as you go fare will rise by 5p to &pound;1.40 (3.7 per cent) and the cash fare will increase by 10p, ensuring that Oyster pay as you go continues to be the cheapest way to travel around the capital. </p>
<p>On the Tube, cash fares will increase by 20p and Oyster pay as you go fares will increase by 10p or 20p. </p>
<p>The daily Oyster pay as you go cap for Tube, DLR and rail travel will be frozen at 2012 levels.<br>&nbsp;<br>TfL continues to drive forward with a challenging programme of savings and efficiencies, so that every penny TfL receives goes toward running and upgrading the transport network for customers. <br>&nbsp;<br>Also from 2 January, rail users travelling in to London from parts of Essex and Hertfordshire will benefit from the ease and convenience of using their Oyster cards, with the installation of Oyster readers at Brentwood, Shenfield, Waltham Cross, Theobalds Grove, Cheshunt and Broxbourne on the Greater Anglia network, which serves London Liverpool Street. </p>
<p>The extension of Oyster pay as you go to these stations from January 2013 was a commitment made by Abellio when they took on the Greater Anglia franchise in February 2012 and builds on the success of Oyster being extended to all National Rail stations within Greater London in 2010.<br>&nbsp;<br>Barclays Cycle Hire will see changes to access fees from Wednesday 2 January. </p>
<p>24 hour access will increase from &pound;1 to &pound;2, weekly access will rise from &pound;5 to &pound;10 and yearly membership will move from &pound;45 to &pound;90. </p>
<p>Annual members will pay as little as 25p per day for unlimited journeys under 30 minutes. </p>
<p>The majority of cycle hire trips are made within the free 30 minute usage charge period and additional charges for late return, non-return and bicycle damage will not increase.<br>&nbsp;<br>Over 17 million journeys have been made using the cycle hire scheme since its introduction in July 2010 and usage has risen by more than 35 per cent in the last 12 months, with casual usage more than doubling during the same period. </p>
<p>The access fee increases are the first since the scheme was introduced and will be used to make improvements to the future operation of the scheme. </p>

<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today reminded Londoners that new fares for all TfL services will come into effect on Wednesday 2 January 2013.&nbsp;The fare rises for the New Year have been kept as low as possible at one per cent above inflation - an average";}
        
        


 