


@{ViewBag.Title = "New option to pay for travel as TfL introduces contactless payments on London's buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New option to pay for travel as TfL introduces contactless payments on London's buses</h1>
        <div class="content-page-press-release">
        13 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's buses now accept contactless debit, credit or charge cards to pay for single bus fares.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Making it easier and more convenient for people to travel around London is a key priority for us."</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL's Director of Customer Experience</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Making it easier and more convenient for people to travel around London is a key priority for us. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL is leading the way globally with innovative,&nbsp; easier and more convenient ways to pay for public transport </li>
<li>Forgotten or don't have an Oyster card? Use your contactless payment card instead and still get the same single fare as using Oyster</li></ul>
<p>From&nbsp;today (Thursday 13 December), bus passengers will be able to use their contactless debit, credit or charge card to touch in on the yellow Oyster card readers and pay the single Oyster fare on any of London's 8,500 buses. </p>
<p>This evolution in transport ticketing will mean that instead of fumbling for change or finding their Oyster card has run out of credit, Londoners and visitors will be able to use an American Express, MasterCard or Visa Europe contactless payment card to directly pay for their bus journey, and get the cheaper Oyster fare, making it easier and more convenient to travel around the capital.</p>
<p>Mayor of London, Boris Johnson, said: 'Lots of us have had the frustrating experience of dashing to board a bus only to discover that our Oyster card has run out of credit. </p>
<p>'So the arrival of this latest technology is welcome news, meaning that with a simple touch of a contactless payment card, people can avoid having to scrabble for change and also still benefit from the Oyster fare discount. </p>
<p>'This is the latest in a range of ways we are working to make passenger journeys even easier and more convenient.'</p>
<p>Transport for London (TfL) has been at the forefront of global ticketing technology for the last decade. Contactless payment is another innovation for London's ticketing system which TfL leads the way internationally. </p>
<p>Over 85,000 bus journeys each day are still paid for using cash, which is currently &pound;2.30 and higher than the &pound;1.35 Oyster fare, and at least 500 people per day try to pay their fare with a high denomination note for which the bus driver does not have change. </p>
<p>Now, customers will be able to use a contactless payment card to pay for their journey and will benefit from the cheaper Oyster fare. </p>
<p>The new payment option will also be good news for the approximately 36,000 people per day who board a bus and find they have insufficient pay as you go balance on their Oyster to pay for their journey as they will be able to use the other card they may have in their wallet - their contactless payment card - to pay their fare. </p>
<p>At first, paying for travel using a contactless payment card will only be available on London's buses, and will not include daily price capping. </p>
<p>The flat fare structure on buses makes contactless payment more simple to introduce and ensure it is successful before rolling it out to the wider transport network. </p>
<p>By the end of 2013, customers will be able to use a contactless payment card to also pay for travel on London Underground, DLR, London Overground and trams and daily and weekly price capping will be included at this stage. </p>
<p>Discussions are also underway with the Train Operating Companies that serve London about accepting contactless payment cards on National Rail services where Oyster is currently accepted. </p>
<p>This widespread acceptance of contactless payment cards is a leading-edge development and will be a world first once it is integrated on all modes of transport in London. </p>
<p>TfL will also become one of the world's largest single merchants accepting contactless payment cards when the scheme is fully rolled out.</p>
<p><strong>Shashi Verma, TfL's Director of Customer Experience</strong>, said:<strong> </strong>'Making it easier and more convenient for people to travel around London is a key priority for us and offering contactless payment on London's buses, alongside Oyster, is the first step in becoming the world's first transport network where customers can travel between bus, Tube and rail by touching in with a contactless payment card. </p>
<p>'Bus passengers will realise significant savings by swapping from cash to contactless payment card and getting the cheaper single Oyster fare and we look forward to seeing the number of people using this payment option increase over the next year as the banking industry issues more contactless cards to their customers.' </p>
<p><strong>David Leibling, Vice Chair, London TravelWatch</strong>, said: 'We welcome the introduction of contactless payments on London's buses which should mean passengers don't run out of money when paying for their travel. </p>
<p>'Many people across London are already using this technology to pay for small purchases but as it will be new to many others it is essential that sufficient information is available for passengers about the new service so it is clear what they should do if they experience problems.'</p>
<p>TfL has worked closely with the banking and payments industry, including American Express, MasterCard, Visa Europe and card issuers, to bring contactless payment to London's transport network. </p>
<p>The Oyster readers on all of London's buses have been upgraded to accept contactless payments alongside Oyster transactions and the software has been approved by all the major payments schemes and confirmed as meeting the security requirements of the global financial services industry. </p>
<p><strong>Melanie Johnson, Chair of The UK Cards Association</strong>, said: 'Contactless cards offer customers a fast and easy-to-use alternative to cash when making low-value payments. </p>
<p>'It's good news for the cardholders that they can now use this convenient and secure payment method on London's buses. </p>
<p>'Just look out for the wavy contactless symbol on your cards. This announcement is just the beginning, as preparations are made for contactless payments to be rolled out across the rest of the London transport system, and we hope for this example to be followed elsewhere in the UK.'</p>
<p><strong>Charlie Craven, VP, Emerging Product Development, American Express</strong>, said: 'American Express is committed to enabling the next generation of payments for both cardmembers and merchants. </p>
<p>'As contactless payments continue to gain momentum in London, we are excited to partner with TfL for the launch of contactless card payments on their buses. </p>
<p>'From today, all cardmembers in the UK with American Express-branded contactless cards will benefit from this new technology that enables fast and convenient fare payments when boarding TfL buses.'</p>
<p><strong>Marion King, President UK &amp; Ireland, MasterCard</strong>, said, 'Today many commuters can lose valuable time as they queue up to buy tickets or top up their Oyster balance. Now that TfL accepts MasterCard&reg; PayPass TM&nbsp; on all London buses, passengers can skip this step altogether. </p>
<p>'There is no need to worry if you forget your Oyster card at home, as you can pay for your travel using your PayPass card or from next year a PayPass-enabled mobile phone. This is another milestone towards a world beyond cash as people have even more opportunities to use contactless payments.'</p>
<p><strong>Sandra Alzetta, Senior Vice President at Visa Europe</strong>, said: 'Contactless payment offers consumers a flexible and easy way to pay.&nbsp;&nbsp; </p>
<p>'Having the option of paying for your bus fare with your Visa debit or credit card will help make the lives of those who live and work in London easier.&nbsp; </p>
<p>'With more than 27 million contactless Visa cards now in circulation in the UK and major retailers such as Marks &amp; Spencer, McDonald's and Boots accepting contactless in some of their stores, 2013 will be a pivotal year in proving the value of contactless payments.'</p>
<p><strong>David Chan, CEO of Barclaycard Consumer Europe</strong>, said: 'We are proud to be working in partnership with Transport for London to support all buses across the capital now accepting contactless payments. </p>
<p>'Since Barclaycard brought the technology to the UK in 2007, it has quickly become recognised as the fastest way to pay and already this year we have seen the number of contactless transactions increase by over 200%.'</p>
<p>Oyster has been a resounding success and changed the way people pay for travel with over 55 million cards issued since it was introduced in 2003. </p>
<p>Oyster will continue to be the ticket of choice for the many millions of customers who use it every day. </p>
<p>With around 30million contactless credit, debit and charge cards already in circulation in the UK it is expected that up to 25million bus journeys will be made by the end of 2013 using a contactless payment card. </p>
<p>This is another example of TfL's efforts to operate more efficiently and provide value for money for London's fare and tax payers.</p>
<p>Contactless payment is one of a series of new measures being introduced to make it easier and more convenient for customers to do business with TfL. </p>
<p>Recent improvements with the Oyster online accounts, that are available to all registered Oyster users, include emailed weekly or monthly journey history statements and the facility to request a refund for a maximum fare. </p>
<p>Future developments include a new TfL website that will launch next year providing a more personalised experience for users and the streamlining of the multiple phone numbers to contact TfL into one number.<br>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Contactless payment cards are debit, credit and charge cards that use contactless technology for small value payments. They are now being issued by banks for some Visa, MasterCard and American Express cards. <a href="http://www.theukcardsassociation.org.uk/contactless/index.asp">www.theukcardsassociation.org.uk/contactless/index.asp</a> <br>Contactless payment cards can be identified by the contactless symbol. See&nbsp;image below </li>
<li>Contactless payment will not be available on the Heritage Routemaster buses that run on some parts of routes 9 and 15 as these buses do not have built in Oyster card readers </li>
<li>The transfer discount between London Tramlink Bus Feeder routes T31, T32, T33, 130 and 314 and trams will not be available to users of contactless payment cards during this first phase </li>
<li>Customers should be careful to keep any contactless cards they have separate when touching on the card reader to prevent them interfering with each other. <br>Step One: decide which card you wish to use to pay for your journey.<br>Step Two: make sure the chosen card is separate to any other contactless cards (Oyster, payment card or building pass) when you place it on the card reader.<br>Step Three: check the reader for the green light or a single beep to confirm payment has been accepted </li>
<li>London is leading the way globally with the introduction of contactless debit and credit card payments on the transport network, with cities all around the world expressing an interest in following London's lead in this field </li>
<li>Barclaycard is TfL's main merchant acquirer and process payments made to TfL using credit and debit cards. The most recent tender process for the service took place in 2011 and was awarded to Barclaycard who had been the incumbent service provider. This relationship is completely separate to any sponsorship </li>
<li>The UK Cards Association is the leading trade association for the card payments industry in the UK. With a membership that includes all major credit, debit and charge card issuers, and card payment acquirers, the Association contributes to the development of legislative and regulatory frameworks; develops industry best practice; safeguards the integrity of card payments by tackling card fraud; develops industry standards; and co-ordinates other industry-wide initiatives across matters relating to both card payments and the provision of credit. <a href="http://www.ukcardsassociation.org.uk">www.ukcardsassociation.org.uk</a>.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is leading the way globally with innovative,&nbsp; easier and more convenient ways to pay for public transport Forgotten or don't have an Oyster card? Use your contactless payment card instead and still get the same single fare as using";}
        
        


 