


@{ViewBag.Title = "New crime figures show that transport crime continues to fall ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New crime figures show that transport crime continues to fall </h1>
        <div class="content-page-press-release">
        13 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Latest quarterly crime figures show that transport-related crime was down a further 2.3 per cent compared to the same quarter last year, despite a busy summer in London
        
    </div>



 <div class="on-this-page">
<ul>
<li>There were just 8.5 crimes per million passenger journeys made on Transport for London's (TfL's) public transport networks </li></ul>
<p>Crime on London's public transport network is at its lowest level in eight years and new figures from TfL, the Metropolitan Police Service (MPS) and British Transport Police (BTP) for the second quarter of 2012/13 show that it has continued to fall. The latest quarterly crime figures, which cover the Olympic period, show a 2.3 per cent reduction in transport-related offences compared with the same period last year - with almost 200 fewer offences.</p>
<p>Quarter 2 statistics, covering the period from 1 July to 30 September, show that the rate of overall crime on the network has fallen to 8.5 crimes per million passengers - down from 9.3 during the same period last year.</p>
<p>Quarter 2 crime figures for the bus network show a 3.5 per cent reduction over this period - 177 fewer offences - compared to the same period last year. Reductions were seen in criminal damage (down 19.9 per cent - 100 fewer offences), robbery (down 14.9 per cent - 89 fewer offences) and violence against the person offences (down 9.9 per cent -- 138 fewer offences). </p>
<p>Most boroughs saw reductions in bus-related crime, with some seeing significant decreases during the period - including a fall of 43.5 per cent (60 fewer offences) in Barking and Dagenham, 30.7 per cent fall (55 fewer offences) in Barnet and a 26.1 per cent fall (61 fewer offences) in Lewisham. Some boroughs did however see small increases over the period.</p>
<p>TfL and the TfL-funded Metropolitan Police Safer Transport Command are working together to target and bear down on those crimes and boroughs that have seen an increase. Despite the fluctuations, overall bus crime still remains at its lowest rate for&nbsp;eight years.</p>
<p>Crime also fell on London Underground (LU) and Docklands Light Railway (DLR) during Quarter 2, with a significant reduction in criminal damage of 31.6 per cent (59 fewer offences). </p>
<p>Theft, which remains the highest volume crime on public transport, did rise on both the bus and LU/DLR networks during Quarter 2. However, after taking into account the huge increase in passenger journeys in London during this period, which coincided with the London 2012 Games - the rate of crime remained at the same level as last year.</p>
<p>Public transport in London continues to be a low crime environment. Currently,&nbsp;more than&nbsp;10 million passengers travel on the TfL's public transport services each day with very few ever experiencing or witnessing crime. </p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing, said: 'We want everyone in London to travel with confidence, and we are working tirelessly with police colleagues to ensure that the network remains safe. Crime on the transport network is at its lowest level in over eight years, and is continuing to fall as a result of our continued investment in transport policing. However, we are not complacent and we are working with our partners to bear down on crime in those areas and crime types that haven't seen the same reductions that have been achieved elsewhere.'</p>
<p>Chief Superintendent Sultan Taylor, MPS Safer Transport Command, said: 'The Safer Transport Command with Transport for London is determined to continue to reduce crime on London's transport network. This year has seen huge increase in numbers of people coming to London for major events such as the Olympics and the Queen's Diamond Jubilee and together we have continued to deliver a safe, secure and reliable transport system.</p>
<p>'This reduction is welcome, however we are determined to maintain this and reduce crime even further. Our message is clear: if you commit crime on the transport network you will be caught, using all available tactics and technology and brought to justice.'</p>
<p>Superintendent Alex Carson of British Transport Police said: 'This is really good news for the millions of passengers who use London's public transport network every day. The London Underground and Docklands Light Railway have continued to see a drop in crime over the last six years.</p>
<p>'There are Neighbourhood Police Teams covering every line and more officers patrolling in the evenings. However, we will continue to work closely with our partner agencies to tackle crime wherever it occurs on the rail network.'</p>
<p>
<hr>
</p>
            <p><strong>Note to Editors:<br></strong></p>
<p>The full statistics for the second quarter of 2012/13 can be viewed at <a href="http://www.tfl.gov.uk/assets/downloads/corporate/crime-and-antisocial-behaviour-web-bulletin-q2-2012-13.pdf">http://www.tfl.gov.uk/assets/downloads/corporate/crime-and-antisocial-behaviour-web-bulletin-q2-2012-13.pdf</a><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There were just 8.5 crimes per million passenger journeys made on Transport for London's (TfL's) public transport networks Crime on London's public transport network is at its lowest level in eight years and new figures from TfL, the Metropolitan Police";}
        
        


 