


@{ViewBag.Title = "No Central London Tube upgrade work during the coming busy pre-Christmas weekend ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>No Central London Tube upgrade work during the coming busy pre-Christmas weekend </h1>
        <div class="content-page-press-release">
        13 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To help passengers get around, a huge range of information is available online, via text, social media and other resources. Passengers still advised to check before travelling.
        
    </div>



 <div class="on-this-page">
<p>There is no Tube upgrade work in central London this weekend - as London Underground supports shoppers and retailers in the run up to Christmas. </p>
<p>Across London there are no planned works on any line, apart from a slightly later start on the Northern line between Camden Town and Edgware first thing on Sunday morning - with services starting at 8:30 southbound and 9:00 northbound. </p>
<p>There are also no planned works on the Docklands Light Railway, London Overground or London Tramlink.</p>
<p>Cannon Street will be closed most Saturdays for redevelopment work until September 2013 and passengers are advised to use nearby Bank, Monument or Mansion House stations. </p>
<p>The station is always closed on Sundays and Bank Holidays.</p>
<p>Transport for London (TfL) continues to work hard to keep disruption to a minimum during any upgrade or maintenance works, and to provide information and alternative travel options. </p>
<p>Londoners and visitors to the city are urged to 'check before you travel' and to allow extra journey time where necessary.</p>
<p>TfL has a range of travel tools available to help passengers plan ahead, get travel information on the move and work out the best way home at <a href="http://www.tfl.gov.uk/tfl/traveltools">tfl.gov.uk/tfl/traveltools</a>.&nbsp; </p>
<p>The website also provides full bus replacement service information during works.</p>
<p>Passengers can check before travelling using the following tools:</p>
<ul>
<li>Go to <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a></li>
<li>Via free mobile and email alerts, available from the TfL website</li>
<li>Information on posters, leaflets and service information boards at Tube stations</li>
<li>The London Travel Information 24-hour telephone line 0843 222 1234</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There is no Tube upgrade work in central London this weekend - as London Underground supports shoppers and retailers in the run up to Christmas. Across London there are no planned works on any line, apart from a slightly later start on the Northern line";}
        
        


 