


@{ViewBag.Title = "No Tube upgrade work during the coming busy pre-Christmas weekend 22 and 23 December 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>No Tube upgrade work during the coming busy pre-Christmas weekend 22 and 23 December 2012</h1>
        <div class="content-page-press-release">
        18 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To help passengers get around, a huge range of information is available online, by text, social media and other resources. Passengers still advised to check before travelling.
        
    </div>



 <div class="on-this-page">
<p>There will be no Tube upgrade work this weekend - as London Underground supports shoppers and retailers in the run up to Christmas. </p>
<p>Across London there are no planned works on any Tube line, the entire London Overground or London Tramlink networks.</p>
<p>Cannon Street station will be closed most Saturdays for redevelopment work until September 2013 and passengers are advised to use nearby Bank, Monument or Mansion House stations. </p>
<p>The station is always closed on Sundays and Bank Holidays.</p>
<p>Docklands Light Railway will be suspended from Saturday 22 December to Tuesday 1 January inclusive between Shadwell and Bank due to track replacement work; and from Sunday 23 December to Tuesday 1 January inclusive between Beckton and Canning Town for track work to enable the longer term expansion of Custom House in readiness for Crossrail.</p>
<p>Transport for Lonfon (TfL)&nbsp;continues to work hard to keep disruption to a minimum during any upgrade or maintenance works, and to provide information and alternative travel options. </p>
<p>Londoners and visitors to the city are urged to check before they travel and to allow extra journey time where necessary.</p>
<p>TfL has a range of travel tools available to help passengers plan ahead, get travel information on the move and work out the best way home at <a href="http://www.tfl.gov.uk/tfl/traveltools">tfl.gov.uk/tfl/traveltools</a>.&nbsp; </p>
<p>The website also provides full bus replacement service information during works.</p>
<p>Passengers can check before travelling using the following tools:</p>
<ul>
<li>Go to <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a></li>
<li>Via free mobile and email alerts, available from the TfL website</li>
<li>Information on posters, leaflets and 'service information' boards at Tube stations</li>
<li>The London Travel Information 24-hour phone line: 0843 222 1234</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There will be no Tube upgrade work this weekend - as London Underground supports shoppers and retailers in the run up to Christmas. Across London there are no planned works on any Tube line, the entire London Overground or London Tramlink networks.Cannon";}
        
        


 