


@{ViewBag.Title = "Revellers are encouraged to get home safely this New Year's Eve with free travel ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Revellers are encouraged to get home safely this New Year's Eve with free travel </h1>
        <div class="content-page-press-release">
        28 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To end what has been an unforgettable 2012, a number of celebrations will be taking place across the capital, and partygoers are being encouraged to get home safely this New Year's Eve with free travel sponsored by Diageo.
        
    </div>



 <div class="on-this-page">
<p>Free travel will be available between 23:45 on 31 December and 04:30 on 1 January on the Tube, buses, trams, DLR, and until last trains on London Overground.</p>
<p>The celebrations will include the Mayor of London's New Year's Eve fireworks display at the EDF Energy London Eye, and large crowds are expected around the celebration areas, notably around the Thames. </p>
<h4>Plan in advance</h4>
<p>Partygoers are encouraged to plan their journeys in advance by visiting <a href="http://www.tfl.gov.uk/festive">tfl.gov.uk/festive</a>.&nbsp; </p>
<p>People choosing to take a taxi home are reminded to only take a black cab or a pre-booked minicab.&nbsp; </p>
<p>This year, a free Cabwise app (available on iTunes and Google Play) can also be downloaded which allows users to book a licensed minicab or black cab which is closest to their current location in three easy steps. </p>
<p>If there is no signal available at the location, the app defaults to the Cabwise text messaging service (60835). </p>
<p>Alternatively users can visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> on their smartphone and simply bookmark the page or, The MPS Safer Transport Command will also be out in force to ensure that revellers get home safely after a good night out.</p>
<p>Peter Hendy CBE, London's Transport Commissioner, said:&nbsp; '2012 has been a fantastic year for London, and I am sure that many people will be out in the capital celebrating it in style. </p>
<p>'Passengers travelling on New Year's Eve should make sure they plan ahead for their journeys home. </p>
<p>'They can either make use of the free travel being provided on our services sponsored by Diageo, or if taking a taxi they should make sure it is a black cab or a pre-booked minicab.' </p>
<h4>Services running all night</h4>
<p>Tube, DLR and Tramlink services will run all night on New Year's Eve. </p>
<p>Some selected Tube stations will be closed completely or for periods at a time. </p>
<p>The online Festive Travel Guide lists these closures <a href="http://www.tfl.gov.uk/festive">tfl.gov.uk/festive</a>. </p>
<p>Night buses and 24 hour routes will also be operating, some routes may be on diversion due to road closures in central London.&nbsp; </p>
<h4>New Year's Day Parade</h4>
<p>The 1 January 2013 will see London's annual New Year's Day Parade take place from 11:45 to 17:00 hours with around 3,000 participants set to take part. </p>
<p>The parade will travel along Piccadilly, Lower Regent Street, Waterloo Place, Pall Mall, Cockspur Street, Whitehall, finishing at the junction of Parliament Street and Parliament Square. </p>
<p>These roads will be closed to traffic from 06:00 hours with all roads open again by 18:00. </p>
<p>Roads close to the event, including Stratton Street, Dover Street, Arlington Street, Birdcage Walk, Tothill Street and Victoria Street, will also be closed to traffic.</p>
<p>
<hr>

<p>
<h4>Notes to editors</h4>
<ul>
<li>Transport for London's (TfL's)&nbsp;Festive Travel Guide is available online at <a href="http://www.tfl.gov.uk/festive">tfl.gov.uk/festive</a> </li>
<li>For more details on the New Year's Parade please visit <a href="http://www.londonparade.co.uk">www.londonparade.co.uk</a> </li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> and <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a> </li>
<li>TfL's 24 hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London. Call 0843 222 1234 </li>
<li>TfL has been providing free travel for party goers on New Year's Eve since it was created in 2001. Free travel will not apply on the Emirates Air Line </li>
<li>In 2011, Diageo signed a three year deal with TfL to sponsor free travel on New Year's Eve in the capital. The sponsorship is part of Diageo's responsible drinking programme which includes the sponsorship of public awareness campaigns to promote responsible drinking, targeted interventions and initiatives focused on those who misuse alcohol, and providing support for initiatives to boost safety in the night-time economy<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Free travel will be available between 23:45 on 31 December and 04:30 on 1 January on the Tube, buses, trams, DLR, and until last trains on London Overground.The celebrations will include the Mayor of London's New Year's Eve fireworks display at the EDF";}
        
        


 