


@{ViewBag.Title = "TfL and Mayor set out plans to hugely improve transport accessibility";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Mayor set out plans to hugely improve transport accessibility</h1>
        <div class="content-page-press-release">
        20 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hundreds of millions of pounds of investment will improve the journeys of millions of passengers.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Better infrastructure, information, and more engagement with disabled people will 'take accessibility to the next level' </li>
<li>Manual Boarding Ramps on the Tube, which proved popular during the London 2012 Games, to be kept and extended to more stations</li></ul>
<p>The Mayor of London and Transport for London (TfL) today set out an ambitious programme of work to make London's transport network much more accessible in the coming years. </p>
<p>Hundreds of millions of pounds are already being invested, with huge improvements being made to transport infrastructure such as stations, bus stops and trains. </p>
<p>The new programme outlined today will build on and expand this - making travelling around London much easier for many people and radically improving to the information available to disabled passengers as they plan and make journeys. </p>
<p>London will see a further 28 step-free London Underground and London Overground stations over the next 10 years - as well as dozens of National Rail stations and accessible Crossrail stations in the heart of the city.&nbsp; </p>
<p>On the Tube alone, the number of journeys made by step-free routes each year will almost treble, from 67 million at present to 189 million in 2021.</p>

<h2>Investment in accessibility</h2>
<p>To support this, informed by the successful experience of the 2012 Games, the Mayor and TfL will be making a huge range of improvements on top of the hundreds of millions of pounds already being invested in accessibility projects, including:</p>
<ul>
<li>Investing an additional &pound;18m to make 70 per cent of bus stops accessible by spring 2013 and at least 95 per cent by the end of 2016 - bringing even greater ease to a bus network that is already the most accessible in the country </li>
<li>Manual Boarding Ramps, which proved popular during the London 2012 Games, help bridge the gap between platform and train. These will now be kept at the current 16 stations and will be introduced at more stations throughout 2013 </li>
<li>Investing an additional &pound;50m over the next ten years to improve the training given to bus staff. As part of this, drivers will receive additional guidance so that they can offer greater assistance to disabled passengers </li>
<li>Completely redeveloping the TfL website with clearer, easier to read content </li>
<li>Reviewing and improving signage and wayfinding throughout the Tube network to make it easier for people to navigate through stations across the whole system </li>
<li>Improving the way that step-free advice is displayed to make it clearer which stations have level access throughout and which are step-free in the station but have a gap between the platform and the train </li>
<li>Working with developers to produce apps that make TfL's real-time information for the bus and Tube networks accessible, particularly for people with sight loss, and motor and learning disabilities </li>
<li>Upgrading Journey Planner to include further information on the accessibility of the network, making the step-free Tube guide available in smartphone apps, and creating an Accessibility Twitter feed </li>
<li>Working with Network Rail and the Association of Train Operating Companies to produce a map that gives an overview of step-free access across all rail services in the Capital for the first time </li>
<li>Improving the way TfL engages with disabled customers to incorporate new ideas in future changes to the network </li>
<li>Work is under way to identify further measures to make travelling on the Tube easier. These will be set out in Spring 2013</li></ul>
<p>Mayor of London, Boris Johnson, said: 'London now has the most accessible transport network in the country and one of the most accessible in the world. </p>
<p>'But it's not perfect and we must go further - that's why we're investing hundreds of millions of pounds and using the most imaginative solutions and the latest technology to take the accessibility of the transport network to the next level.</p>
<p>'This means more step-free stations, accessible trains, and manual boarding ramps. </p>
<p>'It also means making thousands more bus stops in London accessible, transforming our website and signage, and lobbying for more money from the Government to help us deliver a network where every Londoner feels that the transport network is their network - for them and easily accessible by them.'</p>
<h2>Awareness training</h2>

<p>Fazilet Hadi, Group Director Inclusive Society, Royal National Institute of Blind People (RNIB), said: 'RNIB welcomes the investment made by TfL to make the Capital's transport network more accessible. </p>
<p>'Initiatives such as practical disability awareness training for staff, audio and visual announcements on buses, passenger assistance on the tube and travel mentoring, are a necessity for disabled people to travel independently. </p>
<p>'These ideas should act as an example for other transport operators. </p>
<p>'We also welcome the Mayor's commitment to protecting the Olympic and Paralympic legacy by introducing further improvements to London's travel in the coming years to enable more blind and partially sighted people to travel in London.'</p>
<p>Faryal Velmi, Director, Transport for All, said: 'Transport for All welcomes these plans which will improve access to transport services for disabled and older people living, working and visiting London. </p>
<p>'In particular the commitment to involving disabled and older people in the training of transport staff and investment to make 95 per cent&nbsp;of bus stops accessible will make a real difference to our ability to get out and about with freedom and independence.'</p>
<p>Many large-scale accessibility improvements are already underway across the transport network, including TfL investing &pound;250m in step-free projects at Bond Street, Finsbury Park, Greenford, Tottenham Court Road, Vauxhall and Victoria. </p>

<h2>Practical changes</h2>
<p>More step-free projects are being progressed with third party developers and additional stations are being made partially step-free.</p>
<p>By the end of 2014, the fleet of 53 Hammersmith &amp; City and Circle line trains will have been transformed. </p>
<p>Between 2013 and 2016, an additional 80 new trains will be introduced to the District line, meaning that 40 per cent of the network will be served by air-conditioned trains with high standards of accessibility such as dedicated wheelchair space, low floors and wider doors. </p>
<p>TfL is also installing 80 wide aisle gates at 60 stations by 2013, increasing the number of platform humps to provide level access at a third of stations by 2016, and installing tactile paving on all platform edges across the network.</p>
<p>Accessibility improvements will also be made to streets and junctions at locations across London.&nbsp; </p>
<p>Pedestrian Countdown, which shows people how long they have to cross the road safely, is being rolled out at 200 locations, the use of Legible London signs is being expanded and rotating cones and/or audible signals and tactile paving are being installed at every signalised pedestrian crossing in London. </p>
<p>Michele Dix, TfL's Equalities Lead and Managing Director of Planning, said: 'As we make these improvements, which will make life easier for many of our passengers, we are actively asking disabled Londoners to share their experiences, ideas and thoughts for how we can further improve the accessibility of the transport network. </p>
<p>'This is the start of a process, which will see us making the case for further investment so that we can do even more. </p>
<p>'London's transport network already sets a standard for accessibility - but, as this programme of work shows, we are fully committed to ensuring that every Londoner can feel confident using our services.'</p>

<h2>Step-free network</h2>
<p>Nearly 40 per cent of all stops and stations across London's rail-based public transport network (including National Rail, Tube, DLR and Tramlink) are currently step-free, up from around 30 per cent in 2008. </p>
<p>This includes 175 stations on the TfL network, with all DLR and nearly half of London Overground stations step-free. </p>
<p>In addition, all 22,000 of London's black cabs have wheelchair access.</p>
<p>All London buses are low-floor wheelchair accessible with ramps checked each day to ensure they are working. </p>
<p>More than 90 per cent of London residents live within 400 metres of a bus stop, and the vast majority of these can be used by all bus passengers, including wheelchair users.</p>
<p>TfL also operates Dial-a-Ride - a free door-to-door service for disabled and older passengers who can't use public transport.</p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Your Accessible Transport Network is published here: <a href="http://www.tfl.gov.uk/mobility">tfl.gov.uk/mobility</a> </li>
<li>Londoners with ideas to share on transport accessibility are asked to contact Michele Dix at: <a href="mailto:TfLAccessibility&#64;tfl.gov.uk">TfLAccessibility&#64;tfl.gov.uk</a> </li>
<li>Currently, 1.3 million trips are made by disabled people every day, with disabled Londoners representing 11 per cent of London's population. Each day 4.9 million trips are made by passengers carrying heavy luggage, 1.5 million by people accompanied by a child under five (often with buggies) and 0.7 million by those aged over 74 </li>
<li>A total of 7.1 million trips a day are made by somebody with at least one of these barriers to mobility </li>
<li>To make it easy and convenient to get around London, TfL works with the London boroughs to offer free travel to many disabled people and to everyone who is 60 or over</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Better infrastructure, information, and more engagement with disabled people will 'take accessibility to the next level' Manual Boarding Ramps on the Tube, which proved popular during the London 2012 Games, to be kept and extended to more stationsThe";}
        
        


 