


@{ViewBag.Title = "TfL consults on bus services for the Queen Elizabeth Olympic Park area, Stratford ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL consults on bus services for the Queen Elizabeth Olympic Park area, Stratford </h1>
        <div class="content-page-press-release">
        19 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL sets out proposals for six bus routes to serve the area.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It's an exciting opportunity to be involved in the development of such an historic area that holds some very special memories.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Queen Elizabeth Olympic Park to formally open July 2013</li></ul>
<p>Transport for London (TfL) has begun consulting on proposed changes to bus routes in preparation for the opening of the Queen Elizabeth Olympic Park.</p>
<p>The Queen Elizabeth Olympic Park, home to the world's best and brightest sports stars during the London 2012 Games, is being transformed over the next two years.&nbsp;</p>
<p>There will be new neighbourhoods including the former Athletes Village, now renamed East Village, providing thousands of new homes, together with schools, nurseries, a library, health centres and other community facilities.&nbsp; </p>
<p>The Park will help generate thousands of new jobs and sporting venues from the Games - such as the Olympic Stadium and Aquatics Centre - will provide leisure facilities for the whole community.</p>
<p>In preparation for the transformation, TfL has developed proposals for a number of bus routes to connect the Park and Stratford City with surrounding areas. </p>
<p>The consultation period is open until 22 February 2013.</p>
<p>Peter Bradley, Head of Consultation Delivery, said: 'The services we provide in and around the Park will be used by many thousands of people for years to come so we want as many people as possible responding to this consultation. </p>
<p>'It's an exciting opportunity to be involved in the development of such an historic area that holds some very special memories.'</p>
<p>Subject to the outcome of the consultation, the changes will start being made during 2013 when the new roads become available and tenants start moving in.&nbsp; </p>
<p>The proposals include:</p>
<p><strong>Route 97 (Chingford Station - Stratford City bus station)</strong></p>
<ul>
<li>Rerouted via new housing at East Village and Chobham Manor</li>
<li>Additional journeys introduced at peak times</li></ul>

<p><strong>Route 308 (Wanstead, Woodbine Place - Clapton Park, Millfields)</strong></p>
<ul>
<li>Extended from Clapton Park to Clapton, Lea Bridge Roundabout</li>
<li>Rerouted via Queen Elizabeth Olympic Park, to serve the new&nbsp; housing at Chobham Manor, East Village, Lee Valley Hockey &amp; Tennis Centre and the VeloPark</li>
<li>Frequency increase on all days of the week</li></ul>

<p><strong>Route 339 (Stratford City bus station - Shadwell Station)</strong></p>
<ul>
<li>Extended from Stratford City bus station to Whipps Cross. This will require the provision of additional space for terminating buses</li>
<li>Rerouted via new housing at Chobham Manor and East Village</li>
<li>Rerouted between Fish Island and Stratford City via Carpenters Road</li></ul>

<p><strong>Route 388 (Hackney Wick - Blackfriars Station)</strong></p>
<ul>
<li>Extended from Hackney Wick to Stratford City bus station via the Olympic Park</li></ul>

<p><strong>Route D8 (Crossharbour - Stratford City bus station)</strong></p>
<ul>
<li>Extended from Stratford City bus station to Stratford International Station</li>
<li>Rerouted to serve the Olympic Stadium, Orbit and Aquatics Centre</li></ul>

<p><strong>Route 205 Night Service (Paddington - Bow Church)</strong></p>
<ul>
<li>Night service extended from Bow Church to Leyton, Downsell Road via Stratford City, East Village and Chobham Manor</li>
<li>Night service renumbered N205</li></ul>

<p>There would also be changes in 2013 to the stops for routes 26 and 30 in Hackney Wick, so that there is still a common stop for routes 26 and 388 towards south Hackney and Cambridge Heath:</p>
<p><strong>Route 26 (Hackney Wick, Chapman Road - Waterloo)</strong></p>
<ul>
<li>The first and last stop at Hackney Wick would change from Chapman Road to Eastway</li></ul>

<p><strong>Route 30 (Hackney Wick, Eastway - Marble Arch)</strong></p>
<ul>
<li>The first and last stop at Hackney Wick would change from Eastway to Chapman Road</li></ul>

<p>For the longer-term an extension of route 241 to East Wick is also under consideration:</p>
<p><strong>Route 241 (Stratford City bus station - Canning Town, Hermit Road) </strong></p><strong>
<ul>
<li></li></ul></strong>Possible future extension from Stratford City bus station to East Wick dependent on future development of the former Olympic Media Centre

<p><br></p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Consultation documents can be found at&nbsp; <a href="http://www.tfl.gov.uk/stratfordbusnetwork">tfl.gov.uk/stratfordbusnetwork</a> </li>
<li>TfL has worked in consultation with the local boroughs, the Olympic Delivery Authority (ODA), the Olympic Park Legacy Company, London Legacy Development Corporation (LLDC) and other stakeholders in preparing these proposals </li>
<li>Together with the ODA/LLDC, Westfield and other developers are making a financial contribution towards the cost of new bus services in the area, as agreed with the local planning authorities and TfL<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Queen Elizabeth Olympic Park to formally open July 2013Transport for London (TfL) has begun consulting on proposed changes to bus routes in preparation for the opening of the Queen Elizabeth Olympic Park.The Queen Elizabeth Olympic Park, home to the";}
        
        


 