


@{ViewBag.Title = "TfL sets out services to support shoppers and retailers despite strike called by ASLEF leadership";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out services to support shoppers and retailers despite strike called by ASLEF leadership</h1>
        <div class="content-page-press-release">
        24 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL condemns ASLEF leadership for completely unnecessary disruption to Londoners on Boxing day
        
    </div>



 <div class="on-this-page">
<ul>
<li>TfL condemns ASLEF leadership for completely unnecessary disruption to Londoners on Boxing Day</li>
<li>Some services will be operating on most lines but customers are warned that disruption is likely</li>
<li>Passengers are urged to check before travelling at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp;&nbsp;<br>&nbsp;</li></ul>
<p>Transport for London (TfL) has today set out the services it intends to operate on the Tube and across the transport network to keep London moving on Boxing Day, Wednesday 26 December, despite the completely unnecessary strike called by the leadership of the ASLEF union.<br>&nbsp;<br>The strike action is likely to cause significant disruption to customers wanting to take advantage of the Boxing Day sales and sporting fixtures. </p>
<p>TfL is working to ensure as many services as possible will operate, and is making every effort to minimise disruption and to support the economic life of London, including:<br></p>
<ul>
<li>There will be some services on most lines that were scheduled to operate, configured to keep London moving and to support retailers and shoppers as much as possible. However, there will be significant disruption with some lines having only a limited service and some sections of lines closed. Customers are urged to check before they travel at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>London's 700 bus routes will be in operation throughout the day, operating a full Sunday service, with extra buses for passengers heading to the West End or Westfield shopping centres in Stratford and White City </li>
<li>The DLR will also be in operation, except between Canning Town and Beckton and between Shadwell and Bank&nbsp;owing to essential Crossrail works </li>
<li>Customers will also be able to use the Barclays Cycle Hire scheme, which is available across central London </li>
<li>Licensed taxis and minicabs will also be in operation </li>
<li>The Congestion Charge will not be in operation. There will also be no parking charges on roads in Westminster, which includes much of the West End </li>
<li>River services will also be operating between Greenwich and Westminster, stopping at Tower Pier, London Eye and Embankment&nbsp;<br>&nbsp;</li></ul>
<p>Many of London's suburban rail services, and those coming in and out of London, do not operate on Boxing Day and this includes services on the London Overground network, which shares sections of track with National Rail services.<br>&nbsp;<br>However there will be some services operating on Southern and South Eastern trains into London Victoria and London St Pancras International stations as well as on the Gatwick Express and Stansted Express. <br>&nbsp;<br>Customers heading to the West End might also want to consider the 20-25 minute walks from either Victoria or St Pancras. <br>&nbsp;<br>Since 2010, the ASLEF leadership has called for strike action over Tube drivers working on Boxing Day, demanding triple pay and a day off in lieu, despite a long-standing agreement which covers working on Bank Holidays including Boxing Day. </p>
<p>London Underground (LU) has held numerous discussions on the issue, last year reducing the level of service required for Boxing Day to closely match customer demand and this year solutions were offered but were rejected by the ASLEF leadership. <br>&nbsp;<br>Howard Collins, LU's Chief Operating Officer, said: 'Train drivers are paid a salary that reflects some Bank Holiday working, but the ASLEF leadership is demanding to be paid twice for the same work and has rejected our attempts to resolve the matter.<br>&nbsp;<br>'The scandalous actions of the ASLEF leadership are an attempt to hold Londoners to ransom, and demonstrate a wholesale disregard for our customers - making life harder for shoppers, sports fans, retail workers and businesses amongst others at an important time. </p>
<p>'They also show a disregard for the thousands of transport staff who will be working hard to help people get around the Capital.<br>&nbsp;<br>'We will be running as many services as possible, supported by London's 700 bus routes, but there will be disruption and we would urge customers to check the TfL website and local TV and radio bulletins for up-to-date travel information.'<br></p>
<h2>Tube services expected to operate</h2>
<p>&nbsp;The following services are expected to operate on Boxing Day:<br></p>
<ul>
<li>The Victoria line service is expected to between Seven Sisters and Victoria </li>
<li>On the Central line, LU intends to run a limited service between West Ruislip and Hainault (via Newbury Park) with trains also running to Epping, from Leytonstone.&nbsp;Owing to planed engineering works replacement buses will also operate between Ealing Broadway and North Acton and between Hainault and Woodford </li>
<li>On the District line, LU intends to run limited shuttle services between High Street Kensington and Ealing Broadway and Upminster and West Ham </li>
<li>On the Hammersmith &amp; City and Circle lines, LU intends to run a limited service from Hammersmith to King's Cross St. Pancras </li>
<li>On the Metropolitan line, there will be a limited service between Baker Street and Harrow-on-the-Hill </li>
<li>On the Bakerloo line, LU intends to run a limited service between Queens Park and Paddington </li>
<li>On the Northern line, LU intends to run a limited service between Morden and Stockwell, and between East Finchley and High Barnet.&nbsp;Owing to planned engineering works between Edgware, East Finchley and Kennington via Bank and between Edgware, East Finchley and Charing Cross, replacement buses will also operate </li>
<li>On the Piccadilly line, there will be a shuttle service between Heathrow 1,2,3 and Acton Town and Cockfosters to Arnos Grove </li>
<li>On the Jubilee line, there will be a limited service between Stanmore and Wembley Park only</li></ul>
<p>For up-to-date service information customers are urged to check the TfL website on <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp;</p>
<h2>London Buses</h2>
<p>London's 700 bus routes are in operation throughout the day with extra buses for passengers heading to the West End or Westfield shopping centres in Stratford and White City. </p>
<p>In previous years buses would start at approximately 08:00 but this year will be the first year where a full Sunday service is in operation with majority of services in operation by around 06:00.</p>
<ul>
<li>West End: 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 22, 23, 24, 25, 26, 29, 30, 36, 38, 44, 52, 53, 55, 59, 68, 73, 74, 76, 82, 87, 88, 91, 94, 98, 113, 134, 137, 139, 148, 159, 168, 170, 171, 172, 176, 185, 188, 189, 205, 211, 242, 243, 274,&nbsp; 332, 341, 360, 390, 414, 436, 453, 507, C1, C2, C10, RV1 </li>
<li>Stratford/Stratford City: 25, 69, 86, 97, 104, 108, 158, 238, 241, 257, 262, 276, 308, 339, 425, 473 </li>
<li>White City/Shepherd's Bush: 31, 49, 72, 94, 95, 148, 207, 220, 228, 237, 260, 272, 283, 295, 316, 607, C1 </li>
<li>North Greenwich/The 02: 108, 129, 132, 161, 188, 422, 472, 486&nbsp;</li></ul>
<h2>Train operating companies</h2>
<ul>
<li>Gatwick Express: A half-hourly train service will run, starting at 05:00 from London Victoria and at 06:00 from Gatwick Airport. Last trains are at 22:00 from London Victoria and at 23:00 from Gatwick Airport </li>
<li>Stansted Express: A limited Stansted Express service will run to and from&nbsp; Liverpool Street </li>
<li>Southeastern: A half hourly 'High Speed' service will run between Ashford International and London St Pancras International from 08:00 until 20:00 </li>
<li>Southern: 
<ul type="circle">
<li>London Victoria to Gatwick Airport / Brighton:<br>At 20 minutes past each hour from London Victoria to Brighton, between 08:20 and 20:20 </li>
<li>Brighton / Gatwick Airport to London Victoria:<br>At 26 minutes past each hour from Brighton to London Victoria, between 07:26 and 19:26 </li>
<li>London Bridge to Sutton (Surrey) via Selhurst&nbsp;and West Croydon: <br>At 15 and 45 minutes past each hour from London, between 08:15 and 21:45 </li>
<li>Sutton (Surrey) to London Bridge via West Croydon and Selhurst: <br>At 10 and 40 minutes past each hour from Sutton, between 08:10 and 21:10 </li>
<li>London Bridge to East Croydon via Selhurst:<br>At 00 and 30 minutes past each hour from London, between 08:00 and 21:30 </li>
<li>East Croydon to London Bridge via Selhurst:<br>At 40 and 10 minutes past each hour from East Croydon, between 08:40 and 20:40</li></ul></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL condemns ASLEF leadership for completely unnecessary disruption to Londoners on Boxing DaySome services will be operating on most lines but customers are warned that disruption is likelyPassengers are urged to check before travelling at";}
        
        


 