


@{ViewBag.Title = "TfL's Games-time Travel Ambassadors return for the festive season ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's Games-time Travel Ambassadors return for the festive season </h1>
        <div class="content-page-press-release">
        18 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over 100 TfL employees from its 'magenta army' return to the transport network for the Christmas period, as part of London's Olympic and Paralympic legacy.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted we're able to bring the Ambassadors back over the festive season in one of the legacies of the Games."</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">LU's Director of Operational Change and Upgrades</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm delighted we're able to bring the Ambassadors back over the festive season in one of the legacies of the Games.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Film highlighting the Travel Ambassadors' role during the Games available to view on You Tube</li></ul>
<p>Christmas shoppers and visitors to London's festive attractions are being given a helping hand in making their way around the Capital by over 100 Transport for London (TfL) Travel Ambassadors.</p>
<p>The 'magenta army' of Ambassadors, who were a huge success with Londoners and visitors from across the world during the London 2012 Games, will be deployed at the busiest stations in the West End and around Hyde Park until Friday 11 January 2013.</p>
<p>Working shifts, the Ambassadors will provide advice to Tube and bus passengers as well as those travelling by bike or on foot, and will give directions to nearby attractions. </p>
<h2>Fantastic success</h2>
<p>All Travel Ambassadors have handheld devices which allow them to access real-time travel information.</p>
<p>Their return to the capital is a legacy of the London 2012 Games, with TfL using their deployment over the festive period as a trial to determine how best to provide improved customer assistance in future, for example at big sporting events. </p>

<p>This will significantly support TfL's objectives in continuing to provide a better experience for our customers. </p>
<p>Nigel Holness, Director of Operational Change and Upgrades at London Underground, said: 'Our Travel Ambassadors were heralded as a fantastic success during the Games for the warm welcome they gave to visitors from across the globe and their breadth of knowledge about London's transport system. </p>
<h2>Great experience</h2>
<p>'Our front-line staff work really hard to ensure that customers are given all the information they need to make their journeys quickly and easily, but having some extra help from the Travel Ambassadors during the busy festive period will give visitors an even better level of service and demonstrates our commitment to providing excellent customer care.</p>
<p>'Playing a part in making the London 2012 Games such a success was a career highlight for many of our staff who are keen to continue helping visitors have a great experience in the Capital. </p>
<p>'I'm delighted we're able to bring the Ambassadors back over the festive season in one of the legacies of the Games.'</p>
<p>A film highlighting the role that TfL's Travel Ambassadors played in welcoming the world to London during summer 2012 is available to view at <a href="http://www.youtube.com/watch?v=VL3JG1XwuKU">http://www.youtube.com/watch?v=VL3JG1XwuKU</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Over 100 TfL Travel Ambassadors are being deployed from Tuesday 11 December 2012 until Friday 11 January 2013 at the following stations: Marble Arch, Hyde Park Corner, Oxford Circus, Regent's Street, Piccadilly Circus and Bond Street to assist Christmas shoppers and those travelling to the Winter Wonderland attraction in Hyde Park. Each Travel Ambassador will work four shifts each, of four hours in length. Shifts are from 12:30-16:30 and 16:00-20:00 </li>
<li>TfL's Travel Ambassadors can be easily identified by their distinctive magenta-coloured tabards</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Film highlighting the Travel Ambassadors' role during the Games available to view on You TubeChristmas shoppers and visitors to London's festive attractions are being given a helping hand in making their way around the Capital by over 100 Transport for";}
        
        


 