


@{ViewBag.Title = "Transport for London urges road users to voice their views on new Barclays Cycle Superhighway. ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London urges road users to voice their views on new Barclays Cycle Superhighway. </h1>
        <div class="content-page-press-release">
        03 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation starts on new route from New Cross Gate to Victoria.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want cyclists and people living along the proposed route to tell us what they think about the new Barclays Cycle Superhighway Route 5. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Proposals for an 'early start' cycle facility at Vauxhall Bridge Road/Millbank </li>
<li>Off-carriageway short cut for cyclists proposed at Vauxhall gyratory </li>
<li>Over 3,000 new cycle parking spaces to be made available along the new route</li></ul>
<p>Transport for London (TfL) is seeking Londoners' views on proposals which will see a new Barclays Cycle Superhighway route link New Cross Gate, Peckham, Camberwell, Kennington, Vauxhall and Victoria.</p>
<p>TfL has used its recent experience improving major junctions for cyclists to develop the new Barclays Cycle Superhighways Route 5 from New Cross Gate to Victoria.&nbsp;</p>
<h2>Early start</h2>
<p>Planned benefits for the new route focus on improved safety for cyclists, with greater use of mandatory cycle lanes than on previous superhighway schemes and plans for safety improvements at 52 junctions, including: new advanced stop lines, cycle feeder lanes and speed reduction measures. </p>
<p>There are also plans for an 'early start' cycle facility at Vauxhall Bridge Road/Millbank to help cyclists get ahead of traffic, as well as a protected off-carriageway route to help cyclists cut across Vauxhall gyratory.</p>
<p>Other benefits to CS5 include:</p>
<ul>
<li>Preventing turns for cars and lorries, at some locations, to help reduce conflict with cyclists </li>
<li>Extending the 20mph driving limit in New Cross </li>
<li>Creating over 3,000 new cycle parking spaces </li>
<li>Cycle safety checks being made available along the routes to improve cycle maintenance </li>
<li>Over &pound;900k available for businesses and London Boroughs through supporting measures packages</li></ul>
<p>Plans have been discussed with the Boroughs of Westminster, Lambeth, Lewisham and Southwark who host the route, and other interested parties to gain initial feedback, and are now being released for a full public consultation that will run from 3 December to 11 January.</p>
<p>Barclays Cycle Superhighway Route 5 will help to increase the number of cycle-only lanes in the capital and is another example of the Mayor's pledge to make London a cycle-friendly city.</p>
<p>The Mayor and TfL are committed to delivering all 12 Barclays Cycle Superhighway routes by 2015.</p>
<p>Research has shown 80 per cent of Barclays Cycle Superhighway users agree they improve safety for cyclists. </p>
<h2>Industry recognised training</h2>
<p>TfL will be continuing to provide free cycle training programmes for both cyclists and drivers. </p>
<p>So far to date 6,900 people have received free cycle training and a further 2,400 drivers of large goods vehicles have received industry recognised training. </p>
<p>Ben Plowden, Director of Planning, TfL Surface Transport said: 'Barclays Cycle Superhighways are a great way for commuter cyclists to travel into central London on safe, direct, continuous routes. </p>
<p>'A lot of work has been put in to ensuring these lanes are created using the themes emerging from the Better Junctions cycle safety review process to ensure the best possible improvements for cyclists.</p>
<p>'Since Barclays Cycle Superhighways were introduced in July 2010, the number of cyclists on all four routes during peak periods increased by an average of 77 per cent to September 2012. </p>
<h2>Achievement</h2>
<p>'This is a great achievement and we hope that more Barclays Cycle Superhighways will encourage more people to take to two wheels in the Capital.</p>
<p>'We want cyclists and people living along the proposed route to tell us what they think about the new Barclays Cycle Superhighway Route 5 and I would urge people to let us have their views.'</p>
<p>
<hr>
<br><strong>Note to editors:</strong> 
<p>
<ul>
<li>See the proposed designs for Barclays Cycle Superhighway Route 5 at <a href="http://www.tfl.gov.uk/cs5">tfl.gov.uk/cs5</a> </li>
<li>TfL is also holding events at key locations along the route in December on: 
<ul type="circle">
<li>Saturday 8th December 2012 at Peckham Library 11:00 - 15:00 </li>
<li>Tuesday 11th December 2012 at Oval House Theatre 15:00 - 19:00 </li>
<li>Wednesday 12th December 2012 at Parnell House 15:00 - 19:00 </li></ul></li>
<li>Barclays Cycle Superhighways Route 5 is approximately 5.8 miles or 9.3km in total </li>
<li>Barclays Cycle Superhighway Route 5 was originally planned to run from Victoria to Lewisham town centre. As design progressed, it became increasingly apparent that in order to fulfil the Mayor's commitment to ensure the Cycle Superhighway is of sufficient high quality, physical constraints along this stretch would limit our ability to complete the route to these top standards. We are still very much committed to delivering significant cycling improvements on this part of the A20. Although they will not be formally branded as part of the superhighway, the route will still benefit from better cycling facilities, with 0.7km of new mandatory cycle lanes and substantial resurfacing of the roads</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Proposals for an 'early start' cycle facility at Vauxhall Bridge Road/Millbank Off-carriageway short cut for cyclists proposed at Vauxhall gyratory Over 3,000 new cycle parking spaces to be made available along the new routeTransport for London (TfL) is";}
        
        


 