


@{ViewBag.Title = "Transport for London and the London Borough of Newham seek public's views on new Barclays Cycle Superhighway 2 extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London and the London Borough of Newham seek public's views on new Barclays Cycle Superhighway 2 extension</h1>
        <div class="content-page-press-release">
        19 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<ul>
<li>3km of separated cycle lanes and 10 junction upgrades, including Stratford gyratory&nbsp; </li>
<li>New route offers a more robust and intelligent design, increasing cyclist safety and minimising impact on traffic&nbsp; </li>
<li>The existing route has seen a 28 per cent&nbsp;increase in journeys within a year</li></ul>
<p>Transport for London (TfL) has teamed up with the London Borough of Newham to engage residents and other road users to seek their views and opinions on the extension to Barclays Cycle Superhighway route 2, which currently runs from Bow to Aldgate.&nbsp; </p>
<p>The extended route has been designed to increase cyclist safety as well as help minimise the impact on traffic levels. </p>
<p>It would take cyclists from Bow through to Stratford - a major development area - and is subject to a public consultation which is to begin on 7 January 2013, with works due to start in late spring 2013. </p>
<p>Current improvement plans for the extension include:&nbsp;</p>
<ul>
<li>3km of brand new cycle lanes separated from traffic </li>
<li>Innovative bypass features to help cyclists get past bus stops </li>
<li>Dedicated facilities at junctions to help cyclists get ahead of traffic </li>
<li>Improved road surfaces and less street clutter to make cycling more comfortable </li>
<li>New road markings and signs showing journey times and links to other cycle routes </li>
<li>&pound;140k available for businesses and London Boroughs to deliver over 400 new cycle parking spaces, cycle safety checks, free cycle training, and industry-recognised training for drivers of large goods vehicles</li></ul>
<p>TfL figures show cycle journeys on the existing section of the Barclays Cycle Superhighway route 2 have increased by 28 per cent from September 2010 to June 2012. </p>
<p>This figure includes a 55 per cent increase in cycle numbers on Bow Road alone. </p>
<p>As part of TfL's Better Junctions programme, which aims to improve facilities at junctions for cyclists, TfL have begun engaging with residents and businesses about proposed changes to the southeastern junction of Bow roundabout. </p>
<p>This proposed scheme would look to install an early-start system similar to that installed on the northwestern arm earlier this year, as well as create a cycle bypass at the bus stop on Stratford High Street. </p>
<p>Subject to the outcome of the public engagement work, TfL will begin to deliver improvements such as creating new cycle lanes and widening traffic islands, early next year.</p>
<p>Barclays Cycle Superhighway designs build on lessons learned from the Cycle Safety Junction Review. </p>
<p>Ben Plowden, Director of Planning, TfL Surface Transport said: 'This new extension will offer a more robust and intelligent design, adding huge improvements to the existing route. </p>
<p>'We have had a lot of success with route 2, with an increase of 28 per cent in cycle journeys on the route compared to 16 per cent made off the route. </p>
<p>'This extension to Stratford will offer cyclists more accessible, safe routes through London. </p>
<p>'We want Newham residents to help us make cycling more convenient and safer by giving us their opinion at the forthcoming consultation meetings.'</p>
<p>Sir Robin Wales, Mayor of Newham, said: 'We're pleased that TfL is consulting on plans to extend the Barclays Cycle Superhighway along both sides of the High Street between Bow and Stratford. </p>

<p>'It's important that residents take part in the consultation so they can make sure the route incorporates all the design and safety aspects they want to see, resulting in high quality cycling infrastructure which will improve safety for cyclists, road users and pedestrians.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>From 7 January see the proposed designs for Barclays Cycle Superhighway Route 2 extension at <a href="http://www.tfl.gov.uk/CS2extension">tfl.gov.uk/CS2extension</a> </li>
<li>TfL is also holding events at key locations along the route in January on: 
<ul>
<li>Saturday 19 January, 10:00-14:00 at Stratford Shopping Centre, 54A Broadway, London E15 1NG </li>
<li>Sunday 20 January, 12:00-16:00 at View Tube, Marshgate Lane, The Greenway, London, E15 2PJ </li>
<li>Barclays Cycle Superhighways Route 2 extension is approximately 2km in total</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "3km of separated cycle lanes and 10 junction upgrades, including Stratford gyratory&nbsp; New route offers a more robust and intelligent design, increasing cyclist safety and minimising impact on traffic&nbsp; The existing route has seen a 28 per";}
        
        


 