


@{ViewBag.Title = "Transport services continue to serve London and its key shopping hubs, despite unnecessary strike by ASLEF - 1730";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport services continue to serve London and its key shopping hubs, despite unnecessary strike by ASLEF - 1730</h1>
        <div class="content-page-press-release">
        26 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over 300 extra bus services on London's bus network operating.
        
    </div>



 <div class="on-this-page">
<p>Limited services are running on the Tube with some service operating on all lines, despite the unnecessary strike on London Underground called by the leadership of the ASLEF union. </p>
<p>The Bakerloo, Central and Victoria lines are running services through central London. </p>
<p>Services are currently operating as follows. Some stations are closed.<br></p>
<ul>
<li>Victoria line - the whole line is in operation</li>
<li>Central line - operating between Leytonstone and Epping, Hainault and Liverpool St and White City and West Ruislip</li>
<li>Bakerloo line - operating between Queen's Park and Paddington</li>
<li>District line - operating a limited shuttle services between High Street Kensington and Ealing Broadway, and West Ham and Barking</li>
<li>Hammersmith &amp; City/Circle lines - operating a limited service between Hammersmith and King's Cross St Pancras</li>
<li>Metropolitan line - operating a limited service between Baker Street and Harrow-on-the-Hill</li>
<li>Northern line - operating a limited service between Morden and Stockwell, and East Finchley and High Barnet</li>
<li>Piccadilly line - operating a shuttle service between Heathrow 1,2,3 and 5 and Hyde Park Corner, and Arnos Grove and Cockfosters</li>
<li>Jubilee line - operating a limited service between Stanmore and Wembley Park</li></ul>
<p>Services may vary throughout the evening depending on resources available. </p>
<p>The disruption will continue into the evening, with services from 2100 expected to be reduced further, with few or no services running on most lines. </p>
<p>Passengers are urged to check before they travel to see how Tube services are operating and which alternative services are available via <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>.</p>
<p>London's 700 bus routes have been in operation throughout the day with extra buses for passengers headed to the West End or Westfield shopping centres in Stratford and White City. </p>
<p>In previous years on Boxing Day, buses would have started service at approximately 8am, but this year services have been extended to ensure the majority of services started at around 6am this morning.</p>
<p>Howard Collins, LU's Chief Operating Officer, said: `Services on the Bakerloo, Central and Victoria lines are running to central London serving the West End and busy shopping areas in west and east London, with very limited services on all other lines.&nbsp; The bus network is in operation across the whole network, enabling people to get to around London, to shopping centres and sporting events.<br>&nbsp;<br>'Tube services may be busy and we would urge customers to check on the TfL website and TV and radio bulletins before setting off.</p>
<p>'This strike action is completely unnecessary, train drivers are paid a salary that reflects some Bank holiday working, but the Aslef leadership is demanding to be paid twice for the same work and has rejected our attempts to resolve the matter. In doing so they have demonstrated a complete disregard for our customers and for the thousands of transport staff who WILL be working hard to get around the capital.'&nbsp; </p>
<p>&nbsp;Other services operating today include:<br></p>
<ul>
<li>The DLR will also be in operation, except between Canning Town and Beckton and between Shadwell and Bank due to essential Crossrail works</li>
<li>Customers will also be able to use the Barclays Cycle Hire scheme, which is available across central London</li>
<li>The Congestion Charge will not be in operation. There will also be no parking charges on roads in Westminster, which includes much of the West End</li>
<li>River services will also be operating between Greenwich and Westminster, stopping at Tower Pier, London Eye and Embankment</li></ul>
<p>Customers are advised to check <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> for the latest information on which services will be running and for a range of travel tools to help plan an alternative route or method of transport.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Limited services are running on the Tube with some service operating on all lines, despite the unnecessary strike on London Underground called by the leadership of the ASLEF union. The Bakerloo, Central and Victoria lines are running services through";}
        
        


 