


@{ViewBag.Title = "Woolwich Ferry set for improvement work as TfL awards Woolwich Ferry contract to Briggs Marine";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Woolwich Ferry set for improvement work as TfL awards Woolwich Ferry contract to Briggs Marine</h1>
        <div class="content-page-press-release">
        13 December 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Woolwich Ferry will see improvement work over the coming years after Transport for London (TfL) today awarded a seven-year contract to Briggs Marine and Environmental Service to operate and maintain the service from 2013.
        
    </div>



 <div class="on-this-page">
<p>During the seven-year contract TfL and Briggs Marine will help ensure the continued operation of the Woolwich Ferry by carrying out necessary maintenance and improvement work on the three ferries James Newman, John Burns and Ernest Bevin, as well as on the terminal infrastructure.</p>
<p>These works will extend the life of these 1963-built ferries and help ensure the service operates as efficiently as possible going forward.</p>
<p>The &pound;50 million contract was awarded following a competitive tendering process.&nbsp;Briggs Marine was selected as&nbsp;it offered value for money for Londoners but also have many years of marine expertise including experience of operating&nbsp;on the busy River Thames.&nbsp;The contract is due to commence on the 1 April 2013.</p>
<p>Briggs Marine will work closely with London River Services, a subsidiary of TfL, and will be responsible for the day to day operation of the ferry, including its staff, as well as maintenance of the three operational ferries and two ferry terminals located at Woolwich and Woolwich North. </p>
<p>Andy Thompson, General Manager for London River Services, said: 'We look forward to working with Briggs Marine and securing the future of the Woolwich Ferry for the next&nbsp;seven years.&nbsp;Briggs Marine bring with them a wealth of experience which I am sure will help the Woolwich Ferry to continue its important service for many years to come.'</p>
<p>Collieson Briggs, Managing Director of Briggs Marine and Environmental Services, said: 'We are looking forward to working closely with London River Services and the Woolwich Ferry's existing team both to deliver a seamless transition and also to continue to improve on the safety, reliability and efficiency of this vital transport link.'</p>
<p>The Woolwich Ferry is a free service which carries&nbsp;more than&nbsp;50,000 passengers and 20,000 vehicles per week.&nbsp;The service links Woolwich with North Woolwich, linking two ends of the Inner London orbital roads, the north and south circular.&nbsp;A ferry has operated at Woolwich since the 14th century.&nbsp;It has been operated from its current position since 1889 when the first free ferry service began with the current ferry terminals being introduced in 1965.</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to Editors: </strong></p>
<ul>
<li>On weekdays, the Woolwich Ferry operates 06:10 until 20:00 with a two boat service (10 minutes between sailings), on Saturdays from 06:10 until 20:00 with a one boat service (15 minutes between sailings), and Sundays 11:30 until 19:30 with a one boat service (15 minutes between sailings).&nbsp; The last south to north sailings are 15 minutes before service ends</li>
<li>TfL is currently in the second phase of a public consultation on new river crossings in south and south east London. One proposal is a new vehicle ferry which would provide a river crossing linking Beckton directly with Thamesmead at Gallions Reach. If this proposal is taken forward and subject to planning permission, funding and other consents being granted, the earliest opening date for the Gallions Reach Ferry is 2017. More information on TfL's river crossings package, and an online feedback form to give TfL your views, is available at <a href="http://tfl.gov.uk/rivercrossings">http://tfl.gov.uk/rivercrossings</a>&nbsp;&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During the seven-year contract TfL and Briggs Marine will help ensure the continued operation of the Woolwich Ferry by carrying out necessary maintenance and improvement work on the three ferries James Newman, John Burns and Ernest Bevin, as well as on";}
        
        


 