


@{ViewBag.Title = "23 March Conference to Discuss More Powers for London's Rail Passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>23 March Conference to Discuss More Powers for London's Rail Passengers</h1>
        <div class="content-page-press-release">
        11 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The rail situation in London is fast approaching crisis point. There is insufficient focus on the capital's needs. The time has come for change to ensure that London survives as a major world city and to give it's long suffering rail passengers a break from unreliability and overcrowding.
        
    </div>



 <div class="on-this-page">
<p>The level of subsidy illustrates the point. In 2002/03, London and the<br>South East received just 4.9% of the Strategic Rail Authority's total subsidy bill - despite the fact that 70% of all rail journeys start or finish<br>in London.</p>
<p>London is Europe's fastest growing city. 700,000 more people will be living in London by 2016 and there will be 630,000 new jobs. The already overcrowded rail network must expand to cope with this growth.<br>Government decisions are needed urgently on major investment for projects like Crossrail, East London Line Extension and Thameslink. </p>
<p>As none of these major projects could be completed until 2010 at the earliest funds are also needed to upgrade the existing railways.</p>
<p>London cannot go on accepting this situation. Transport for London is submitting proposals to Ministers in response to the Government's review of the rail industry. The aim is to secure a situation where the people of London can have more control over the city's rail services, and where the Mayor has powers to raise the finance needed to fund<br>major projects.</p>
<h3>More details will emerge at the Rail Conference - "Rail and a Growing London" on March 2004<br></h3>
<p><a href="/static/corporate/media/newscentre/archive/4373.aspx" lid="Presentation to National Rail Conference 2004Ian Brown Managing Director London Rail, Transport for London">RRRRRQQPresentation to National Rail Conference 2004<br>Ian Brown Managing Director London Rail, Transport for London </a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The level of subsidy illustrates the point. In 2002/03, London and theSouth East received just 4.9% of the Strategic Rail Authority's total subsidy bill - despite the fact that 70% of all rail journeys start or finishin London.London is Europe's fastest";}
        
        


 