


@{ViewBag.Title = "999 London Cycling Award Winners";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>999 London Cycling Award Winners</h1>
        <div class="content-page-press-release">
        26 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London last night paid tribute to cyclists in the Metropolitan Police, City of London Police and the London Ambulance Service. With a series of brand new awards in seven categories.
        
    </div>



 <div class="on-this-page">
<p>The winners are:</p>
<ul>
<li>Police Cycling Award - The Richmond Cycle Unit, Metropolitan Police 
</li><li>Cycling in the Ambulance Service Award - Sean Clarke, Paramedic, London Ambulance Service 
</li><li>Cycling in the Community - Woolwich Sector Team, Metropolitan Police 
</li><li>Cycling in the Community (Highly Commended) - Claire Tinkler, Paramedic, London Ambulance Service 
</li><li>Cycling in the Community (Highly Commended) - The Transport OCU Traffic Wardens 
</li><li>999 Cycling in London Award - PC Mark Cockram, City of London Police 
</li><li>999 Cycling Development Award - The Metropolitan Police Service (MPS) </li></ul>
<p>Managing Director of Surface Transport, TfL Peter Hendy said: </p>
<blockquote>
<p>"The emergency services use of bikes has proved to be absolutely essential and this must prove to Londoners that cycling is a key ingredient to transportation across the Capital.</p>
<p>"I would like to congratulate all those who were nominated and those who won and I hope this will encourage more emergency service staff to become involved in cycling." </p></blockquote>
<p>Deputy Mayor of London Jenny Jones said:</p>
<blockquote>
<p>"This is sleek, effective, modern policing, combining speed and mobility<br>with the accessibility of a beat officer. They cover more ground than officers on foot, but are far more friendly and open than police in cars.</p>
<p>"They move faster through heavy traffic than a police car, and are the best way of keeping rogue cyclists in line. It was hard choosing winners from so many acts of bravery, determination and basic humanity."</p></blockquote>
<p><strong>Winners</strong></p>
<p><strong>Police Cycling Award - The Richmond Cycle Team, Metropolitan Police</strong></p>
<p>The Richmond cycle unit use bicycles as part of a wider operation which has helped to deliver a significant reduction in motor vehicle crime within the London Borough of Richmond.</p>
<p><strong>Cycling in the Ambulance Service Award - Sean Clarke, Paramedic, London Ambulance Service</strong></p>
<p>Sean was called to a major incident along with other units. As he knew the streets well and as a cyclist he arrived at the scene first and made a rapid assessment of the accident. After a full examination had been done and the incident wasn't as serious as first thought Sean cancelled all unnecessary resources, freeing up services.<br><br>The cycle response unit is able to reach anywhere within its area of operation within minutes, regardless of traffic conditions.</p>
<p><strong>Cycling in the Community - Woolwich Sector Team, Metropolitan Police</strong></p>
<p>In November 2003 five mountain bikes were donated to the Woolwich sector team by a neighbourhood renewal project and immediately used. Initially the patrols were limited to Woolwich town centre to demonstrate them to the local community as they visited the shops and familiarity with them as part of the local policing resource was correctly judged to be a key factor. </p>
<p>The patrols were quickly established as a welcome and trusted part of the town's response to security and crime issues and positive comments were received.</p>
<p><strong>Cycling in the Community (Highly Commended) - Claire Tinkler, Paramedic, London Ambulance Service (LAS)</strong></p>
<p>Claire has been representing the LAS on the National Treatment Agency (NTA) working group on reducing drug-related deaths (DRD). She volunteered to represent the service as her role on the cycle response unit (CRU) was bringing her into contact with the regular drug users in the West End of London who have no formal contact with social or health services. </p>
<p>Claire's commitment to this research brought the LAS CRU a better understanding of; the time of day; type of location/area; on the ground local knowledge; specific police local intelligence; type of drug and of course improved survival rates of the West End's and possible national drug user communities. </p>
<p><strong>Cycling in the Community (Highly Commended) - The Transport OCU Traffic Wardens</strong></p>
<p>These traffic wardens use their bikes to travel thirteen miles a day, each way and enforce parking regulations along their route between Lewisham and Victoria to keep London moving. The use of bicycles has helped to make them more approachable to the public. </p>
<p><strong>999 Cycling in London Award - PC Mark Cockram, City of London Police</strong></p>
<p>Over the past two years, PC Cockram had the foresight to propose a dedicated cycle team to his Divisional Commander to respond to calls for police assistance and be deployed on targeted pro-active operations. </p>
<p>Mark overcame a number of hurdles including funding, health and safety and training to present a detailed business case and spearhead training for officers with the help of the International Police Mountain Bike Association. Reading University has now accredited PC Cockram's course under the NVQ scheme.</p>
<p><strong>999 Cycling Development Award - The Metropolitan Police Service (MPS)</strong></p>
<p>The MPS have increased the numbers of operational police mountain bikes from 34 to 380. Officers and civilian staff are being trained in the use of mountain bikes as a tool to be used against street crimes. Officers are able to patrol areas not normally accessible to foot patrols or vehicles. The MPS is also leading the way in the design of police cycle clothing.</p>
<p><strong>Emergency Services PR Contacts</strong></p>
<ul>
<li>Kirsten Ross, Metropolitan Police Service - 020 7321 9066, <a href="mailto:Kirsten.Ross2&#64;met.pnn.police.uk" lid="Kirsten.Ross2&#64;met.pnn.police.uk">Kirsten.Ross2&#64;met.pnn.police.uk</a> 
</li><li>Craig Macpherson, London Ambulance Service - 020 7921 5113,<br><a href="mailto:Craig.Macpherson&#64;lond-amb.sthames.nhs.uk" lid="Craig.Macpherson&#64;lond-amb.sthames.nhs.uk">Craig.Macpherson&#64;lond-amb.sthames.nhs.uk</a> 
</li><li>Julian Goodchild, City of London Police - 020 7601 2220, <a href="mailto:julian.goodchild&#64;city-of-london.pnn.police.uk" lid="julian.goodchild&#64;city-of-london.pnn.police.uk">julian.goodchild&#64;city-of-london.pnn.police.uk</a></li></ul>
            <p>With the help of TfL, a selection of officers have qualified as professional International Police Mountain Bike Association (IPMBA) cycle training instructors. <a href="http://www.ipmba.org/" target="_blank" lid="http://www.ipmba.org" el="http://www.ipmba.org">www.ipmba.org </a></p>
<p>The MPS and TfL are developing and funding high-spec clothing, bicycles and supporting equipment, and a trailer for rapid deployment of 12 bikes. The Corporation of London has provided a similar kit to the City Police.</p>
<p>The London Ambulance Service (LAS) deals with over 3,500 calls a day with central London being the busiest area. Traffic Congestion, pedestrian areas and high 999 call-demands contribute to make fast ambulance responses in central London, challenging to meet, especially when not all calls require patient conveyance to hospitals.</p>
<p>The LAS Cycle Response Unit (CRU) was introduced to ease the pressure on ambulances by targeting calls that were not life threatening. In 2002 it became operational and today, two teams of four trained paramedics and technicians on bicycles cover a ten-hour day, seven-day a week shift pattern, in the heart of the Capital.</p>
<p>The LAS is working in partnership with TfL to develop and fund high-spec clothing, bicycles and supporting equipment, and the expansion of the LAS CRU into other high demand areas</p>
<ul>
<li>average response time is 6 minutes - 100% are within the 8 minute Government target 
</li><li>50% of cases do not require an ambulance 
</li><li>&pound;80,000 saved in ambulance and staff costs; &pound;2000 in fuel costs; 251 extra hours of ambulance availability over a 6 month period 
</li><li>patient & public appreciation for the LAS CRU in its 'community ambulance' role 
</li><li>the CRU has won three awards and attained world media coverage for their innovative approach. </li></ul>
<p><strong>For further information please contact the TfL press office on 020 7941 4141. </strong></p>
<hr noshade="">

<p><br>Transport Policing & Enforcement Directorate </p>
<p><strong>A Strategic Perspective on the Future Role of Cycling in London's Emergency Services </strong></p>
<p><br>The subject of how cycling can play a part in delivering better policing<br>services is therefore of very real interest to me.</p>
<p>Before we go into the nominations, I would like to look briefly at where<br>cycling fits within the wider transformation agenda of public services in<br>London.</p>
<p>It is fascinating to see the development of the transport, policing and<br>emergency services agendas over the past few years</p>
<p>Thirty years ago we moved police officers away from their "beats" and into<br>panda cars and other response vehicles. This was all done in the name of<br>efficiency, faster response and chasing after the high profile cases</p>
<p>The transport industry went through a similar, albeit slower, revolution<br>where low-tech approaches to transport - walking, cycling, buses - were<br>shunted aside in favour of the fast, personal mobility offered by the car. </p>
<p>Cities were redeveloped, neighbourhoods razed, roads widened - and, slowly,<br>communities disintegrated as we hit the fast lane - travelling further,<br>faster (although taking much the same time as before). This affected not<br>only the geography of our cities, but how they functioned, where we live and<br>work, and, crucially how communities function. Emergency services joined<br>the race for speed in a bid to keep response times down and chase crime in<br>ever faster circles.</p>
<p>With no pun intended, the wheel may be turning full circle...</p>
<p>In London, at least, we have seen for the first time a decline in car use in<br>Central and inner London. Bus ridership is at the highest levels since<br>Dixon was at Dock Green and growing at more than 10% a year. Walking and<br>cycling are starting to increase. Inner London neighbourhoods are becoming denser and even 20mph speed limits are back on the agenda.</p>
<p>Policing is also returning to the community. Over the past few years we<br>have seen not just increases in police numbers, but a renewed focus on<br>working at the local level. Police officers are increasingly working with<br>schools, local authorities, housing associations, voluntary agencies and<br>(even) transport agencies to not just chase crime but to work with the wider<br>community to prevent crime. </p>
<p>The use of PCSOs has made it possible to bring back a highly visible,<br>uniformed presence to some of London's streets. The MPS will be extending<br>this principle by establishing dedicated, ward-based policing teams in each<br>of the Boroughs. Their role, primarily, will be to work with local<br>communities to understand their issues, gather intelligence and develop<br>appropriate, local strategies. </p>
<p>London Underground and the British Transport Police are, essentially,<br>deploying a similar "reassurance policing" model of assigned dedicated<br>police officers to groups of Underground stations - to work with our staff<br>and passengers to create safer travelling and working environment.</p>
<p>So what does all this have to do with cycling in the emergency services?</p>
<p>I would suggest to you that we are at a decisive point in the delivery of<br>transport and emergency services in the capital:</p>
<ul>
<li>Public expectations are high - and the public is not without criticism of what we all do 
</li><li>Traditional models and assumptions are being challenged - and for good reason 
</li><li>There has been significant recent investment in some of our businesses - police numbers increasing, revitalisation of bus services; investment in new control room and deployment technology 
</li><li>New ideas and innovation are coming to the fore - we all recognise we need to try different ways of addressing deep-rooted problems ; for example congestion charging, introduction of PCSOs - ideas which would never have got off the ground even five to ten years ago </li></ul>
<p>What the nominations for tonight's awards demonstrate is that innovation,<br>resourcefulness and the willingness to challenge established ways of<br>working exist in depth in the organisations represented here tonight. </p>
<p>Moreover, they highlight that our staff - the people on the front line -<br>usually have the best ideas. In most cases, one or two individuals have<br>taken an idea and developed the use of bikes into an integral element in<br>mainstream service delivery.</p>
<p>Crucially they demonstrate that cycling has a real role to play in improving<br>the performance of our organisations.</p>
<p>And there are some brilliant examples of how this might develop into the<br>future.</p>
<p>Visible police bike patrols able to engage local people but also respond to<br>calls (in one incident, pursuing a suspect all the way into a shop - I trust<br>the officer managed to do so without riding on the pavement).</p>
<p>The Ambulance service Cycle Response Unit getting around faster in the West<br>End than ambulances and ensuring effective triage at the scene.</p>
<p>The cycling drugs outreach unit which has the unique ability to combine<br>outreach work with emergency support to vulnerable people in the West End.</p>
<p>All the nominations demonstrate the pioneering development work being done;<br>not only in identifying appropriate kit - bringing a whole new meaning to<br>"Smith and Wessons for the Met" - but also on adapting traditional policing<br>styles to meet the demands of Londoners in the 21st century.</p>
<p>Tonight is an occasion for us to celebrate what has been achieved. All<br>those nominated for awards should rightly feel proud of their achievements.</p>
<p>However, as you return to work in the morning - possibly with a slight<br>headache - I would ask you to consider this. We are still at the cross<br>roads - doing a track-stand as we wait for the lights to change - as to how<br>cycling will develop into the future.</p>
<p>One path will keep this as a Cinderella service; providing individual,<br>enthusiast staff with a way to keep their training going at work and<br>providing some good pictures for the annual report. More bikes will be<br>deposited in dark corners of stations and the air will slowly escape from<br>their tyres.</p>
<p>The other path drives cycling on to being an integral part of mainstream<br>service delivery to the community. The nominations demonstrate that cycling<br>can make a real impact to improving our performance. <br>Developing these initiatives further will take organisational and political<br>courage. I urge you all to make this leap - not in the interest of the<br>bikies, but in the interests of all Londoners who rely on our services day<br>and night.</p>
<p>Congratulations to all those nominated - and to the organisations who have<br>supported their vision and determination. </p>
<p><br><strong>Jeroen Weimar</strong></p>
<p><strong>Transport for London<br>Director of Transport Policing and Enforcement</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The winners are:Police Cycling Award - The Richmond Cycle Unit, Metropolitan Police Cycling in the Ambulance Service Award - Sean Clarke, Paramedic, London Ambulance Service Cycling in the Community - Woolwich Sector Team, Metropolitan Police Cycling in";}
        
        


 