


@{ViewBag.Title = "BTEC brings better service to two London bus companies";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>BTEC brings better service to two London bus companies</h1>
        <div class="content-page-press-release">
        03 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London General and London Central are the first London bus operators to have fully trained over 100 bus Service Controllers to BTEC standards, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<p>This success comes less than a year after Transport for London introduced and funded the compulsory new qualification for all new bus drivers and Service Controllers. The course covers issues such as defensive driving skills; health, safety and security; operating the bus service; the London bus industry and for supervisory service control skills, communication skills through classroom and practical sessions. </p>
<p>Transport for London, Managing Director, of Surface Transport, Peter Hendy said: </p>
<blockquote>
<p>&quot;Well done to the staff of London General and London Central. This is a real achievement that demonstrates this operator's dedication to raising bus industry standards. London General and London Central passengers can now be confident they will receive better service as a result.&quot; </p>
<p>&quot;London's bus industry suffered before the introduction of the TfL funded BTEC from a lack of career structure and recognition for staff. Now we are well on our way to building up an industry staff can be proud to work in.&quot;</p></blockquote>
<p>Go- Ahead Chief Executive David Brown said:</p>
<blockquote>
<p>&quot;The BTEC qualification raises the standards and professionalism of all our staff and ensures that we are providing the best possible service for our customers. London Central and London General staff have enthusiastically embarked upon the training programme and we are proud to announce that all our Service Controllers are now BTEC trained along with over 400 drivers and with a further 1,800 in the process of being trained.&quot;</p></blockquote>
<p>Up to 40 service controllers will be receiving their awards at a presentation ceremony taking place at City Hall, London's Living Room this evening from 5-8pm. </p>
<p>The BTEC qualification is compulsory for all new bus drivers, conductors and all service controllers. The qualifications follow a structured training programme over 3-6 month period. Bus Driver BTEC is equivalent to NVQ level 2 and Service Controllers BTEC to NVQ Level 3. The BTEC is part of a national framework of industry vocational qualifications externally assessed by Edexcel. <br>The areas that will benefit from the BTEC trained staff will be Sutton, Wimbeldon, Morden, Bexleyheath, New Cross, the City, Fulham, Putney, Vauxhall, Wandsworth and Streatham. </p>
            <ol>
<li>The &quot;BTEC Intermediate Award in Delivering a Bus Service for London&quot; for drivers/conductors has been developed by London Buses and Edexcel in consultation with London's bus operators and the Transport and General Worker's Union. The award for service controllers is entitled the &quot;Advanced Award in Controlling Bus Services in London.&quot; Both qualifications are funded by London Buses at around &pound;3 million a year. 
</li><li>There are currently around 20,000 drivers/conductors and 750 service controllers working in London. 
</li><li>Edexcel is the leading provider of academic and vocational qualifications, formed as a result of the merger between BTEC and London Examinations. Qualifications include GNVQs, NVQs, GCSE, A/S and A Levels, and the Higher Nationals and other BTEC qualifications. 
</li><li>London Buses manages bus services in London for the Mayor's Transport for London. It plans routes, specifies service levels and monitors service quality. It is also responsible for bus stations, bus stops, security initiatives and passenger information. The bus services are operated by private operators, which work under contract to London Buses. 
</li><li>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 7,000 London buses carry 5.4 million passengers on more than 700 different routes. </li></ol>
<p>For more information contact the TfL press office on 020 7941 4881 or 7941 4141 (and for out of hours).<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This success comes less than a year after Transport for London introduced and funded the compulsory new qualification for all new bus drivers and Service Controllers. The course covers issues such as defensive driving skills; health, safety and security;";}
        
        


 