


@{ViewBag.Title = "C-Charge Celebrates Successful First Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>C-Charge Celebrates Successful First Year</h1>
        <div class="content-page-press-release">
        17 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Exactly a year since the Mayor of London, Ken Livingstone, introduced congestion charging in central London, Transport for London today published a report outlining the success of the scheme and its effects on business.
        
    </div>



 <div class="on-this-page">
<p>Since the introduction of scheme on 17 February 2003, congestion has been significantly reduced; London's bus system has improved dramatically and journey times for all vehicles are faster and more reliable.</p>
<p>Mayor of London, Ken Livingstone, said,</p>
<blockquote>
<p>&quot;Congestion charging was a radical solution to a long standing problem. Before the introduction of the charge, London's roads were clogged with slow-moving traffic and congestion was costing business &pound;2m a week. </p>
<p>&quot;The scheme has made a real difference in getting London moving again. Fewer vehicles in the zone coupled with improved bus services and faster, more reliable, vehicle journeys, make London a far better place to work, live and visit. Despite the dire predictions before the launch of the scheme, congestion charging has proved a success and that is why nearly three quarters of Londoners now support the scheme - because it works.&quot; </p></blockquote>
<p><br>The report, Congestion Charging: Update on scheme impacts and operations, outlines the following key points:</p>
<ul>
<li>Traffic delays inside the charging zone remain 30 percent lower than before charging was introduced. 
</li><li>Estimates of year-on-year changes in traffic levels during charging hours show a reduction of 18 percent in traffic entering the zone during charging hours 
</li><li>Buses continue to experience significant gains in reliability in and around the charging zone 
</li><li>There has been a year-on-year increase of 29,000 bus passengers entering the zone during the morning peak period, for which sufficient additional public transport capacity has been provided 
</li><li>Surveys of over 700 businesses inside and immediately outside the charging zone have shown that wider economic and other factors were reported most frequently as influences on recent business performance 
</li><li>When asked if the business supports congestion charging as long as there is continued investment in public transport, around 60 percent of the surveyed businesses agreed; around 20 percent of businesses disagreed and 20 percent with no change or don't know. 
</li><li>Congestion charging contributes &pound;50 million of net transport benefits to London's economy per year, mainly through quicker and more reliable journeys for road and bus users. 
</li><li>Following the supplemental agreement of September 2003 with Capita (the main contractors operating the scheme) a phased programme of IT, process, management, training and staffing improvements is being progressed and is already delivering improvements to congestion charging customers </li></ul>
<p>Malcolm Murray-Clark, Congestion Charging Director, added</p>
<blockquote>
<p>&quot;The report published today shows that concerns over the effects on business are misguided and that negative perceptions are unsubstantiated. The public and business are acknowledging the benefits of the charging scheme. Nobody could have envisaged that the scheme would be such a success just a year ago.&quot;</p></blockquote>
            <p><strong>Congestion Charging - February 2004</strong></p>
<p>Since the introduction of the congestion charging scheme in central London on 17 February 2003, congestion has reduced significantly; London's bus capacity has increased and journey times for all vehicles are faster and more reliable.</p>
<p>The primary aim of the scheme was to reduce traffic congestion in and around the charging zone, and so directly contributes to the Mayor's priorities for transport as set out in his Transport Strategy published in July 2001.</p>
<p>Transport for London's February 2004 congestion charging monitoring update provides the latest information on the operation and enforcement of the scheme and its effects on traffic levels, congestion, public transport and business and social impacts.</p>
<p>The report illustrates that the successes and trends outlined in Congestion Charging: 6 months on continue to benefit London. </p>
<p><strong>Key Findings</strong></p>
<ul>
<li>Traffic delays inside the charging zone remain 30 percent lower than before charging was introduced. </li>
<li>Estimates of year-on-year changes in traffic levels during charging hours show a reduction of 18 percent in traffic entering the zone during charging hours, with a reduction of 30% in cars </li>
<li>Buses continue to demonstrate significant gains in reliability in and around the charging zone, experiencing up to a 60 percent reduction in disruption caused by traffic delays. </li>
<li>Public transport continues to cope well with ex-car users. There has been a year-on-year increase of 29,000 bus passengers entering the zone during the morning peak period </li>
<li>There remains no evidence of any significant adverse traffic impacts from the charge as confirmed by latest measurements of traffic volumes in and around the charging zone </li>
<li>When asked if the business supports congestion charging as long as there is continued investment in public transport, around 60 percent of the surveyed businesses agreed; around 20 percent of businesses disagreed and 20 percent with no change or don't know </li>
<li>Following the supplemental agreement of September 2003 with Capita (the main contractors operating the scheme) a phased programme of IT, process, management, training and staffing improvements is being progressed and is already delivery improvements to congestion charging customers. </li>
<li>Following improvements to the enforcement service, the number of Penalty Charge Notices (PCNs) issued average some 165,000 per month </li>
<li>Representations made in response to PCNs has fallen from 64 percent in the early weeks of the scheme to a recent level of about 22 percent. </li>
<li>Congestion charging contributes &pound;50 million of net transport benefits to London's economy per year, mainly through quicker and more reliable journeys for road and bus users. </li></ul>
<p><strong>Reduced Traffic Levels and Congestion </strong></p>
<p>The congestion charging scheme continues to achieve its main objective by cutting congestion within the zone by an average of 30%. The year-on-year reduction in potentially chargeable vehicles (cars, vans and lorries, not including taxis, buses and coaches) is 27%. Cars have reduced by 30%. </p>
<p>Transport for London's congestion charging February monitoring update reports a continuation of the patterns that were established in the first few weeks of the scheme. Payment levels remain relatively constant with some 110,000 payments per day. TfL's Autumn 2003 traffic counts suggest that there has been a year-on-year reduction of 65,000 fewer car movements into or through the charging zone, comparable to the earlier estimates. </p>
<p>Traffic delays have been reduced and the increased public transport capacity is successfully accommodating new bus passengers. Whilst car movements have reduced, taxi, bus and coach movements have increased by 20%. The increase in bus movements largely reflects the additional bus service provision introduced by TfL. </p>
<p>There has been a year-on-year increase of 29,000 bus passengers entering the zone during the morning peak period (07.00 to 10.00), carried by an additional 560 bus trips. </p>
<p>Improvements to bus reliability and journey times reported previously continue to be observed, with the greatest improvements being in and around the charging zone. The additional wait time at bus stops experienced by passengers caused by service irregularity or missing buses has improved by 20% across London and over 30% in and around the charging zone compared to last year. </p>
<p>Bus routes serving the charging zone experience 60% less disruption due to traffic delay. </p>
<p>Whilst there is evidence of some small changes in orbital traffic as predicted outside of the charging zone there is no evidence of significant increases beyond the inner ring road. </p>
<p><strong>Transport for London's Business Surveys</strong></p>
<p>Transport for London carried out interview surveys of over 700 businesses in and immediately around the charging zone during October/November 2003. These can be compared to similar surveys conducted at the same time during 2002.</p>
<p>When asked if the business supports congestion charging as long as there is continued investment in public transport, around 60 percent of the surveyed businesses agreed; around 20 percent of businesses disagreed and 20 percent with no change or don't know</p>
<p>Central London businesses were adversely affected by a number of factors in 2003. These included, first and foremost the general economic slowdown in London last year, a fall in the number of tourists and other visitors to the city, various seasonal factors and the closure of the Central Line during the first part of 2003.</p>
<p>National statistics show that spending by overseas visitors in London was &pound;100 million lower in the second quarter of 2003 compared to the second quarter of 2002, one quarter of which might be retail spend.</p>
<p>The scale of 'financial' impacts of charging on central London's businesses is comparatively small, and broadly neutral in terms of the Greater London economy. There is some recent indication that the impact of these factors is starting to wane, and that the relevant indicators are returning to their long-term trends. </p>
<p><strong>Improvements to Operations</strong></p>
<p>Most aspects of the operation of the congestion charging scheme have been functioning satisfactorily since charging commenced. However, TfL's monitoring and chargepayer feedback on the first months of operation highlighted concerns around some aspects of the service.</p>
<p>In August 2003 changes were agreed to TfL's contract with Capita. Capita has invested substantially to provide an enhanced level of service to central London congestion charge users. Capita's first two milestones were met in October 2003 and January 2004. The full programme of improvements is due to be completed by the end of March 2004. </p>
<p>Enquiries via the call centre average around 70,000 calls per week, falling from the 167,000 average of the first few weeks of operation. Significant reductions have been observed in the waiting times and average call times. </p>
<p><strong>Enforcement </strong></p>
<p>The percentage of recovered Penalty Charge Notices and payment levels have steadily increased since the start of the scheme. For PCNs issued in September 2003, 70 percent have been paid.</p>
<p>Payment and compliance levels are expected to increase further over time, as those who have been issued PCNs recognise that the enforcement process is effective and that unpaid PCNs will be actively pursued.</p>
<p>
<p>There has been a significant reduction, month on month, in the number of representations made by vehicle keepers in response to PCNs. The proportion of PCNs against which representations are made has fallen from 64 percent in the early weeks of the scheme to the more recent level of about 22 percent. This indicates both increased familiarity with the scheme and improvements in the operational systems.</p>
<p>Whereas in the first months of operation the main reasons for representations were as a result of Capita or chargepayer data entry errors, such as an incorrect vehicle registration number, the majority of representations currently being received are made by vehicle hire companies, informing TfL of the correct driver details of the vehicle hirer on the day the charge was not paid.</p>
<p>Around 2% of all PCN's issued were appealed of which 57% were found in favour of TfL. </p>
<p>Only 4% of PCN's issued have not been paid and had warrants of execution issued to bailiffs. 255 persistent evaders (drivers with three or more unpaid PCNs) have had their vehicle clamped or removed by TfL. </p>
<p><strong>Summary </strong></p>
<p>London's congestion charging scheme continues to effectively reduce congestion, improve bus and car journey times and help improve London and its environment. TfL will continue to monitor its impacts closely to ensure that these benefits are maintained.</p>
<p>Fuller details of the impacts of the scheme will be provided in the Second Annual Monitoring Report, expected to be published in Spring 2004.</p>
<p>Alun Shurmer<br>Senior Press Officer<br>Email: alunshurmer&#64;tfl.gov.uk<br>Direct line: 020 7941 4386</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Since the introduction of scheme on 17 February 2003, congestion has been significantly reduced; London's bus system has improved dramatically and journey times for all vehicles are faster and more reliable.Mayor of London, Ken Livingstone,";}
        
        


 