


@{ViewBag.Title = "Correction to Congestion Charging Monitoring Report: Update on scheme impacts and operations, February 2004 and Press Release No. 932";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Correction to Congestion Charging Monitoring Report: Update on scheme impacts and operations, February 2004 and Press Release No. 932</h1>
        <div class="content-page-press-release">
        17 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Please note the following amendments to the Congestion Charging monitoring report published earlier today. Amended versions will be made available on the TfL website as soon as possible.
        
    </div>



 <div class="on-this-page">
<p>The correct text should read as follows: </p>
<p>Page 1, 8th bullet point should read:</p>
<blockquote>
<p>&quot;Surveys of over 700 businesses inside and immediately outside the charging zone have shown that wider economic and other factors were reported most frequently as influences on recent business performance; congestion charging constituted only 12 percent of the reported influences.&quot;</p></blockquote>
<p>Page 1, 9th bullet point, and page 21, paragraph 4.16, and paragraph 6 of press release no. 932, should read:</p>
<blockquote>
<p>&quot;When asked if the business supports congestion charging as long as there is continued investment in public transport, around 60 percent of the surveyed businesses agreed; around 20 percent of businesses disagreed and 20 percent with no change or don't know.&quot;</p></blockquote>
<p>Page 18, paragraph 3.1, fourth bullet point, should read:</p>
<blockquote>
<p>&quot;15 to 25 percent of the reduction in car movements is a result of the occupants switching to other forms of transport or making other adaptations.&quot;<br></p></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The correct text should read as follows: Page 1, 8th bullet point should read:&quot;Surveys of over 700 businesses inside and immediately outside the charging zone have shown that wider economic and other factors were reported most frequently as";}
        
        


 