


@{ViewBag.Title = "Creating a chain reaction";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Creating a chain reaction</h1>
        <div class="content-page-press-release">
        25 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new Cycle Action Plan to encourage more Londoners to take to two wheels is being launched by the Mayor Ken Livingstone and Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<p>Cycling is becoming increasingly popular in London and conditions for cyclists, both on and off street, are better than ever before. However, with bicycles fast becoming a popular part of the Capital's street scene, more needs to be done to encourage cyclists. The Plan identifies many of the barriers to cycling and proposes solutions to overcome them. </p>
<p>The key targets of the Plan are to achieve at least an 80 per cent increase in cyclists by 2010 and a 200 per cent increase by 2020, compared to 300,000 trips a day in 2001.</p>
<p>Mayor of London Ken Livingstone recently won Cycling Plus magazine's readers' award for services to cycling in 2003, for introducing the congestion charge. Cycling has increased by 20 per cent within the congestion charge zone, since the charge was introduced a year ago.</p>
<p>The Mayor said:</p>
<blockquote>
<p>&quot;Cycling is a fantastic way to get around London. It's quick, cheap, good for people's health and the environment - and a bicycle's a lot easier to park than a car. The congestion charge is already improving life for cyclists in central London. Through this action plan, a wide range of initiatives will help encourage more people to cycle across the Capital.&quot;</p></blockquote>
<p>Peter Hendy, Managing Director of TfL Surface Transport said:</p>
<blockquote>
<p>&quot;Cycling has an important part to play in London. It is a low-cost form of transport that offers a healthy, congestion-free and non-polluting way to travel around London cheaply and quickly. More cycling will lead to less congestion by reducing the number of unnecessary short car trips. It will also help reduce air pollution and improve London's street environment.&quot;</p></blockquote>
<p>Deputy Mayor of London Jenny Jones said:</p>
<blockquote>
<p>"As a cyclist myself I am delighted with this initiative which will<br>encourage more people to cycle. More Londoners on bikes will bring huge benefits to this car-clogged city. Fewer cars means less air pollution, and of course cycling is also a very efficient way to get fitter and healthier." </p></blockquote>
<p>Initiatives will be developed in the following four key areas.</p>
<ul>
<li>improving cycle safety 
</li><li>access 
</li><li>parking, and 
</li><li>implementing the London Cycle Network plus, a London-wide network comprising 900 km of strategic cycle routes. </li></ul>
<p>Backing up these improvements will be promotional campaigns to raise the profile of cycling and make sure Londoners have access to good information and training resources.</p>
<p>The potential for combining cycling and public transport will be maximised through the flagship 'bike station' project which offers commuters cycle information, cycle hire and secure parking.</p>
<p>Cyclists' needs are already an integral part of TfL's planning in all transport projects. Allowing cyclists to share the benefits of projects such as area-wide improvements and bus priority schemes. </p>
<p>Working together, TfL and the London boroughs will implement the Cycling Plan measures to deliver improvements and increase cycling in the Capital. The overall aim is a trebling of cycle use in the London by 2020.</p>
            The London Cycle Action Plan will be launched at the 999 London Cycling Awards at City Hall on Wednesday 25th February. Please contact TfL press office for further details. 
<p>For further information contact TfL press office on 020 7941 4141</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Cycling is becoming increasingly popular in London and conditions for cyclists, both on and off street, are better than ever before. However, with bicycles fast becoming a popular part of the Capital's street scene, more needs to be done to encourage";}
        
        


 