


@{ViewBag.Title = "Hammersmith Bus Station gets green light";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith Bus Station gets green light</h1>
        <div class="content-page-press-release">
        20 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London this week won planning approval for an interim extension to Hammersmith Bus station.
        
    </div>



 <div class="on-this-page">
<p>The London Borough of Hammersmith and Fulham Planning Committee agreed to grant a five-year temporary planning consent for the scheme on the 16th February.</p>
<p>This scheme will provide an extended bus station with an information facility, cycle racks and full CCTV coverage. The new facility will be connected to the existing bus station, shopping centre and underground station by a pedestrian link. </p>
<p>The interim bus station will enable future expansion of Hammersmith's bus services in line with the Mayor's Transport Strategy and relieve pressure on the existing bus station, now operating at capacity. Routes that currently terminate in Hammersmith Grove will be brought into the bus station, improving interchange for passengers. Development of this new facility will also allow TfL to carry out work needed to make the existing Hammersmith Bus Station fully accessible to all users.</p>
<p>TfL is now in negotiations with the Hammersmith Community Trust with a view to relocating The Emerald Centre to an alternative site nearby. The centre should eventually benefit from improved facilities. </p>
<p>Mike Weston, Head of Operations at London Buses said:</p>
<blockquote>
<p>" As London's population continues to grow there be will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government.</p>
<p><br>&quot;Projects such as Hammersmith Bus Station, which has just been given the go-ahead, demonstrate the improvements we are able to deliver given the resources. However, without additional Government support, many essential projects and continued improvements to the bus network will not take place in future years."</p></blockquote>
            <p>Work on the interim station is scheduled to begin in May and be completed by the end of 2004.</p>
<p>London Buses manages bus services in London for the Mayor's Transport for London. It plans routes, specifies service levels and monitors service quality. It is also responsible for bus stations, bus stops, security initiatives and passenger information. The bus services are operated by private operators, which work under contract to London Buses.</p>
<p>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 7,500 London buses carry 5.4 million passengers on more than 700 different routes.</p>
<p>Lisa Rooney <br>Press Officer <br>Direct line: 020 7941 4443/ 4141</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The London Borough of Hammersmith and Fulham Planning Committee agreed to grant a five-year temporary planning consent for the scheme on the 16th February.This scheme will provide an extended bus station with an information facility, cycle racks and full";}
        
        


 