


@{ViewBag.Title = "London's 50 favourite accessible venues revealed by Mayor of London and star of BBC's double Golden Globe award winning series, 'The Office'.";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's 50 favourite accessible venues revealed by Mayor of London and star of BBC's double Golden Globe award winning series, 'The Office'.</h1>
        <div class="content-page-press-release">
        09 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London, Ken Livingstone and Julie Fernandez, star of BBC's double Golden Globe award winning series 'The Office' today revealed the Capital's 50 favourite accessible venues, as they launched the Rough Guide to Accessing London, the final event in a series that began during European Year of Disabled People in 2003.
        
    </div>



 <div class="on-this-page">
<p>Produced in association with well known travel publishers Rough Guide Ltd and sponsored by Transport for London and BBC London, the guide covers a wide range of accessible venues as voted for by disabled people from around the UK, including museums, galleries, theatres, restaurants and shops.</p>
<p>The final venues voted for were checked by a Rough Guides researcher and a panel of disabled people acting as &quot;mystery shoppers&quot;, who assessed venue accessibility across a range of criteria. </p>
<p>Speaking at one of the guide's listed venues, the Soho Theatre and Writers' Centre in London, Ken Livingstone said:</p>
<blockquote>
<p>&quot;Much work has been undertaken by Transport for London to provide accessible transport options across the capital on the tubes, buses, rail and tram ways. It is therefore good news to see that there are now so many venues and attractions that recognise the right of disabled people to visit and enjoy their facilities on the same basis as anybody else and I commend those running the venues listed in the Rough Guide for their efforts to achieve accessible environments and facilities. </p>
<p>&quot;We all know there is a long way to go to achieving a fully accessible London but looking at the criteria used to assess the entries there are some very simple measures that can be taken to ensure an inclusive environment. I hope that the publication of this guide will encourage other London venues to review their own facilities and address any unnecessary barriers so that more disabled Londoners can enjoy the many wonderful attractions the city has to offer.&quot; </p></blockquote>
<p>Julie Fernandez, (Brenda from 'The Office') and spokesperson for the Disability Rights Commission said:</p>
<blockquote>
<p>'It is great to see so many places listed in the guide actively improving accessibility and putting the issue firmly on the agenda. Its publication is also a timely reminder to all of London's businesses that from 1st October they will need to make changes - such as removing physical barriers or providing the service another way - to ensure access for all. With disabled people having an annual spending power of &pound;50 billion it is very much in their interests too and the DRC with it's open4all campaign is on hand to help those businesses understand and implement the new legislation.'</p></blockquote>
<p>Pip Hesketh, Head of Equality and Inclusion at TfL said:</p>
<blockquote>
<p>&quot;TfL is providing transport across London that is increasingly accessible, but disabled people will only use transport if there are accessible venues and places to visit where they can enjoy the everyday pleasures of life with family and friends.&quot; </p></blockquote>
            <ol>
<li>TfL, BBC LDN and Rough Guides' Accessing London competition ran from 3 June to 29 July 2003. The 50 venues and places listed in the Rough Guide to Accessing London will receive awards in late winter, early spring 2004. </li>
<li>The Guide contains 50 accessible venues that proved most popular by disabled voters from across the UK which were also checked by a researcher from Rough Guide Ltd and a panel of "mystery shoppers" with a variety of mobility, sensory and learning disabilities. From the votes and the follow-up findings the final 50 venues were selected on an entirely subjective basis along with one or two favourites in each category. The categories are: <br>
<ul>
<li>Places of interest (i.e. museums and libraries) </li>
<li>Entertainment (i.e. event centres, theatres and cinemas) </li>
<li>Sports and leisure (i.e. parks, gardens and zoos) </li>
<li>Eating and drinking (i.e. bars, restaurants and cafes) </li>
<li>Shopping (i.e. shops and department stores) </li></ul></li>
<li>The venues were assessed using the following accessibility criteria:<br>
<ul>
<li>Wheelchair accessibility (no steps, one step, ramp) </li>
<li>Assistance dog friendly (seeing and hearing dogs) </li>
<li>Hearing loop available </li>
<li>Information in large print / braille </li>
<li>Helpful staff </li>
<li>British sign language spoken </li>
<li>Accessible toilets </li>
<li>Affordable </li>
<li>Low noise level </li></ul></li>
<li>Rough Guide to Accessing London accepts that there are many other places in London with access good or better than the listed winners but as they were not voted for initially could not therefore be included in the guide. Also, some of the listed venues do not have perfect access for all but were considered to be accessible enough and enjoyable enough to be included. </li>
<li>The Mayor of London, with the support of Transport for London arranged a series of events to mark European Year of Disabled People 2003 (EYDP) including Liberty - London's Disability Rights Festival in Trafalgar Square and Disability Capital, a major conference attended by disabled Londoners. He has also commissioned Disability Capital Questionnaire, a comprehensive survey into the individual experiences, concerns, and barriers faced by disabled Londoners in everyday life. The survey closes at the end of February 2004 but the results, along with issues debated throughout 2003 will deliver an agenda for moving forward towards greater equality for disabled and deaf Londoners beyond European Year of Disabled People. </li>
<li>Accessible copies of the Rough Guide to Accessing London are available, free of charge, as follows: <br>
<ul>
<li>Telephone: 020 7222 1234 (24-hour line) </li>
<li>Textphone: 020 7918 3015 </li>
<li>Fax: 020 7941 4678 </li>
<li>By post: Travel Information (Rough Guide)<br>Transport for London<br>55 Broadway<br>London SW1H 0BD<br>Please state the format you require: standard, large print, audio cassettes, braille, easy read (print and audio) </li></ul></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Produced in association with well known travel publishers Rough Guide Ltd and sponsored by Transport for London and BBC London, the guide covers a wide range of accessible venues as voted for by disabled people from around the UK, including museums,";}
        
        


 