


@{ViewBag.Title = "London's tots gets new lessons in road safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's tots gets new lessons in road safety</h1>
        <div class="content-page-press-release">
        02 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today launched the Children's Traffic Club London-wide to all pre school children in a far reaching move to reduce child casualties on our roads.
        
    </div>



 <div class="on-this-page">
<p>The Club is free to all 3 year olds in London and is an effective and proven way to deliver road safety education to pre-school children. Good habits established early last a lifetime and with this in mind the Club educates both young children and their parents on road safety, ensuring that the road safety message is ingrained from an early age.</p>
<p>TfL is committed to reducing the number of children hurt on London's roads by 50% by the year 2010. Over the last three years a staggering 1,935 children have been killed or seriously injured in this way. In areas where the Club has been running overall child casualties have been reduced by 12%.</p>
<p>Keen to push forward TfL's road safety message Peter Hendy says:</p>
<blockquote>
<p>"The Children's Traffic Club is a brilliant scheme for educating children about the dangers they face on London's roads. TfL is funding the Club for all London's pre school children as the cost of casualties on our roads is far too high and we feel the Club could teach the next generation good road safety skills."</p></blockquote>
<p>Dr Catherine Brogan, Director of Public Health at North Central London Strategic Health Authority, who helped implement the scheme in London says:</p>
<blockquote>
<p>"Every year thousands of children are injured or killed on our roads. In a busy, high-traffic area like London, children are particularly at risk so it's vital that we do all that we can to ensure their health and safety. We are delighted that the NHS can contribute in this way to help protect London's children from harm."</p></blockquote>
<p>Kevin Clinton, Royal Society for the Prevention of Accident's Head of Road Safety, supports this forward-thinking initiative and says:</p>
<blockquote>
<p>"This is a great initiative by TfL. Providing free road safety education from such an early age will give children the best possible start to a life-time of using the roads safely. "</p></blockquote>
            <p>
<p>A full background and history of the Club is available from the press office.</p>
<ul>
<li>The project is fully funded by TfL and the NHS Regional Public Health Development Fund and delivered through the local Primary Care Trusts. The booklets are completely free, paid for by TfL, working in partnership with the Primary Care Trusts and Borough Road Safety Officers. The materials have been developed by DBDA. </li>
<li>All London's 100,000 pre-school children will be able to join the Club now TfL has stepped in with funding, of which 5,500 have already become members since September 2003. TfL has also funded the Nursery/Playgroup packs for all the 3,500 nursery schools, classes and playgroups in London. </li>
<li>Prior to TfL's involvement each individual local authority had to find funding for the Club or parents had to pay. </li>
<li>Parents wishing to find out more can visit www.trafficclub.co.uk </li></ul>
<p><br>Transport for London reports to the Mayor, Ken Livingstone and is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic.</p>
<p>Transport for London is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities.</p>
<p>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Club is free to all 3 year olds in London and is an effective and proven way to deliver road safety education to pre-school children. Good habits established early last a lifetime and with this in mind the Club educates both young children and their";}
        
        


 