


@{ViewBag.Title = "Londoners views sought on c-charge western extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners views sought on c-charge western extension</h1>
        <div class="content-page-press-release">
        16 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport of London (TfL) today announced the start of the public consultation on the Mayor's proposal to extend the congestion charging zone in central London.
        
    </div>



 <div class="on-this-page">
<p>The ten-week long consultation will include a leaflet drop to 3.3 million households, 250,000 businesses and 1400 key stakeholders throughout London asking for their comments. All materials are also available via our website.</p>
<p>The proposal is to extend the existing charging zone to include the area to the west of the current central London charging zone, broadly bounded by Harrow Road, Scrubs Lane, West Cross Route, Earls Court Road and Chelsea Embankment, encompassing most of the boroughs of Westminster, and Kensington and Chelsea. The area suffers congestion throughout the day, comparable with that experienced in the central area.</p>
<p>Depending on the outcome of the consultation and subject to funding availability, the earliest an extended scheme could be operational would be in 2006. </p>
<p>Key impacts of the proposal are: </p>
<ul>
<li>TfL estimate a reduction of 5-10% in traffic levels and 10-20% in congestion within the extended zone. </li>
<li>Improvements to public transport capacity and levels of service. </li>
<li>Additional net revenues of up to &pound;10 million per annum to be invested in London's transport system </li></ul>
<p>Mayor of London, Ken Livingstone, said,</p>
<blockquote>
<p>"The unprecedented success of congestion charging over the past year has brought benefits of &pound;50 million to London's economy. An improved bus system, shorter and more reliable journey times allow people who work, live and visit London to move around far more easily. </p>
<p>"Congestion has been cut by almost a third in the central zone, yet it remains a problem in other parts of London. Other parts of Westminster and most of Kensington and Chelsea are more pressing cases for congestion charging, as their residents and businesses are subjected to congestion throughout the day. Extending the zone would help reduce this problem and bring yet more economic and financial benefits to London"</p></blockquote>
<p>Michele Dix, congestion charging director at TfL, added, </p>
<blockquote>
<p>"This proposal would bring further benefits to London, its people and its economy. Although there are some concerns, it is the very purpose of this consultation to listen to them and to devise a scheme that would benefit all." </p></blockquote>
            <p>Transport for London has recently completed the first stage of its consultation to revise the Mayor's Transport Strategy to enable an extension of the congestion charging zone in Central London to cover most of Kensington and Chesea and Westminster. The GLA and associated bodies were invited to respond to TfL's proposal; this would extend the existing zone to include the area to the west broadly bounded by Harrow Road, Scrubs Lane, West Cross Route, Earls Court one-way system and Chelsea Embankment. It is proposed that there would not be a charge for using these boundary routes or the elevated section of the A40 (Westway).</p>
<p>To date the following bodies have been consulted: the 25 London Assembly members; the London Development Agency, the London Fire and Emergency Planning Authority and the Metropolitan Police Authority; the Health Commission and the Sustainable Development Commission. </p>
<p>The draft Transport Strategy Revision put forward for stakeholder and public consultation has been amended to reflect the representations received during consultation with the London Assembly and GLA Functional Bodies, and to increase the flexibility of the proposals.</p>
<p>Members of the public will be invited to respond to the proposals between 16 February 2004 and 23 April 2004.</p>
<p>Depending on the outcome of the consultation and subject to funding availability, the earliest possible start date for the operation of the extended zone would be in 2006. </p>
<p>The Transport Strategy is a consultation on the concept of a proposal, not on the detail. The details will be subject to a separate 'Scheme Order' consultation should the Mayor decide to proceed. The earliest the Mayor could make a decision to proceed with the Scheme Order is Spring 2005. This would be after two full years of monitoring data for the existing scheme were available for review. </p>
<p><strong>Who is being consulted?</strong></p>
<p>TfL have sent consultation materials to over 3.3 million households, 250,000 businesses and 1400 key stakeholder organisations, and a leaflet has been sent to and businesses in Greater London. A contact centre and website have also been set-up (details of which can be found at the end of this document).</p>
<p>In addition, advertising through various media including radio, newspapers and the internet, will ensure that other organisations and individual members of the public have the opportunity to respond. </p>
<p><strong>Why extend?</strong></p>
<p>In view of the success of the central London congestion charging scheme in meeting its primary objective of reducing traffic congestion, the Mayor asked Transport for London (TfL) to investigate whether there would be a case to extend the benefits of the current zone to cover further congested areas.</p>
<p><strong>Why are you going west?</strong></p>
<p>A westwards extension of the central London congestion charging scheme to cover most of Kensington and Chelsea and Westminster was identified as providing the most promising opportunity to extend the benefits of the central zone scheme, with the least likelihood of significant operational and implementation problems.</p>
<p>This area was chosen because it suffers from all-day congestion, as does the existing central London scheme. It is also a practical extension to the current scheme in that:</p>
<ul>
<li>it can be operated using the same technology and systems as the current central London zone </li>
<li>the area is already well served by public transport and </li>
<li>there are suitable diversion routes for traffic wishing to avoid the zone. </li></ul>
<p>The Mayor and TfL have put forward a draft revision to the Transport Strategy to enable a possible westward extension for consultation. The Mayor will consider all the issues raised by respondents during the various phases of consultation, both for and against the proposal before he decides whether or not to implement the scheme.</p>
<p><strong>What traffic benefits could the extension generate?</strong></p>
<ul>
<li>5-10% reduction in traffic volumes in the extended charging zone during charging hours </li>
<li>10-20% reduction in congestion levels </li>
<li>could contribute a further &pound;60-90 million of traffic benefits over and above those of the existing scheme </li>
<li>opportunity for significant amenity improvements </li></ul>
<p><strong>What level of discount will residents receive?</strong></p>
<p>It is proposed that all discounts and exemptions would remain consistent with the central London scheme, in which all residents are entitled to a 90% discount from the congestion charge. </p>
<p>There are approximately 230,000 residents in the proposed extended zone. This compares with 150,000 in the current central zone, of which just 10% travel into the zone each day.</p>
<p><strong>How much revenue could the proposed scheme generate?</strong></p>
<p>The primary objective of congestion charging is to reduce congestion. However, it is also a means of potentially raising revenues. TfL's initial projection is that the gross charging revenue of the combined zones would be between &pound;220 and &pound;260 million per annum. With additional operating costs of &pound;50-60 million for an extension, net revenues are estimated to be in the order of &pound;80-110 million per annum for a combined zone. Therefore, introducing the proposed extension could generate additional net revenues of up to &pound;10 million per annum.</p>
<p><strong>Wouldn't it be more logical for the boundary to follow the borough boundary of Kensington &amp; Chelsea (the West London Railway Line - WLRL) rather than the Earl's Court One Way System?</strong></p>
<p>TfL considers that this proposal would raise a number of traffic management and operational difficulties. </p>
<p>A road-based boundary, such as that adopted for the central zone, allows drivers approaching the boundary and not wishing to enter the zone to divert easily to the boundary route around it. There is no high capacity or strategic road close to the West London Railway Line that could provide a suitable diversion route for traffic wishing to divert around the proposed charging zone. Without such a route, the diversion impacts on surrounding residential roads could be significant. </p>
<p><strong>Why not include the whole of City of Westminster in the scheme?</strong></p>
<p>There is no high capacity or strategic road within close proximity to the borough boundary that could provide a suitable main road diversion route for traffic wishing to divert around the proposed charging zone, and the associated signing and traffic management issues. </p>
<p><strong>Are roads in the west of Westminster and Kensington &amp; Chelsea really so congested?</strong></p>
<p>Whilst congestion has been reduced in the charging zone by the central London congestion charging scheme there are still significant levels of congestion in the remainder of central London, and parts of inner and outer London. The observed data shows the main concentration of such congestion is to the west of the existing charging zone in further parts of Westminster and Kensington &amp; Chelsea.</p>
<p>Congestion is evident on the minor as well as major roads and extends throughout the day.</p>
<p><strong>What will you be doing to improve public transport as an alternative?</strong></p>
<p>It is estimated that as a result of drivers diverting to public transport, in response to the charge, there would be an overall increase in public transport usage of some 2 to 3%. As with the existing scheme, it is anticipated that the additional public transport supply would be met by increased bus capacity as necessary.</p>
<p><strong>What about additional complementary transport measures?</strong></p>
<p>Funding for complementary transport measures will be considered where necessary. These measures are likely in two categories: improvements to public transport, and traffic management measures to offset expected changes in traffic patterns.</p>
<p>Lessons have been learned from the central London scheme in terms of changes in travel behaviour and driver reaction to the congestion charge. Many of the negative traffic impacts expected by some commentators have not occurred. Consequently, TfL believe it is unlikely that the same scale of complementary measures that were implemented prior to the central London scheme will be necessary for a western extension of the central London congestion charging scheme.</p>
<p>Further information</p>
<p><strong>All documents relating to the consultation can be found on the <a>TfL website</a>.</strong><br>Minicom users can call 0800 106057.</p>
<p>All submissions on the proposed western extension must be in writing. TfL is unable to accept verbal submissions. Please send your written correspondence to:<br>Transport Strategy Revision<br>FREEPOST LON17507<br>London <br>SW1H 0YZ</p>
<p>Or email <a href="mailto:ccextension&#64;tfl.gov.uk" lid="ccextension&#64;tfl.gov.uk">ccextension&#64;tfl.gov.uk</a></p>
<p>The Mayor will host a press conference at 10.30 a.m. tomorrow, 17 February 2004, at City Hall to mark the first anniversary of congestion charging and publish the latest monitoring report of the current central London congestion charging scheme.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The ten-week long consultation will include a leaflet drop to 3.3 million households, 250,000 businesses and 1400 key stakeholders throughout London asking for their comments. All materials are also available via our website.The proposal is to extend the";}
        
        


 