


@{ViewBag.Title = "Lorpington's Hospitals gain new bus links.";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lorpington's Hospitals gain new bus links.</h1>
        <div class="content-page-press-release">
        17 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This weekend the R2 bus service will be diverted to serve Princess Royal University Hospital and new bus service R8 starts, offering a direct link to Orpington Hospital, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<p>The R2 service will now from run Biggin Hill Valley, Biggin Hill, Leaves Green, Keston, Keston Mark, Locksbottom - Princess Royal Hospital, Orpington Station, Orpington, Kent Road/ Cray Avenue Cross Roads, Amherst Road, Chislehurst Road and Petts Wood Station.<br><br>The new R8 service will replace the previous R2 route run from Biggin Hill- Church Road, Biggin Hill - Post Office, Main Road - Lebanon Gardens, Jail Lane - Single Street, Downe High Street, Green Street Green - Glentrammon Road, Orpington Hospital - Seven Oaks Road, Orpington - Walnuts Centre and Orpington Station.</p>
<p>London Buses Director of Performance, Clare Kavanagh said:</p>
<blockquote>
<p>&quot; I am pleased to be introducing better links in the Orpington area and the first bus service for Church Road and Aperfields Road in Biggin Hill. Local residents can now enjoy a reliable, bus services to the hospitals, railway stations and other local amenities.&quot; </p></blockquote>
<p>Princess Royal University Hospital, Estates Director Graham Goddard said: </p>
<blockquote>
<p>"The Trust is delighted with Transport for London's proposal to introduce new bus routes to serve Orpington and The Princess Royal University Hospitals. These new services are key to better access to our hospitals, and will enable the Trust to fulfil its planning commitment to provide alternatives to the use of private cars for hospital visitors."</p></blockquote>
<p>New fully accessible buses will be available on the R2 and R8 from the spring.</p>
            <p>London Buses manages bus services in London for the Mayor's Transport for London. It plans routes, specifies service levels and monitors service quality. It is also responsible for bus stations, bus stops, security initiatives and passenger information. The bus services are operated by private operators, which work under contract to London Buses.</p>
<p>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 7,500 London buses carry 5.4 million passengers on more than 700 different routes.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The R2 service will now from run Biggin Hill Valley, Biggin Hill, Leaves Green, Keston, Keston Mark, Locksbottom - Princess Royal Hospital, Orpington Station, Orpington, Kent Road/ Cray Avenue Cross Roads, Amherst Road, Chislehurst Road and Petts Wood";}
        
        


 