


@{ViewBag.Title = "New taxi tariff and licence fee proposals announced";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New taxi tariff and licence fee proposals announced</h1>
        <div class="content-page-press-release">
        06 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today revealed that from 3rd April black cab fares will rise broadly in line with UK average earnings. The new fare tariff, which will be considered by the TfL boards on 11th February, fare tariff, takes into account:
        
    </div>



 <div class="on-this-page">
<ul>
<li>increases in taxi operating costs; 
</li><li>increases in national average earnings; 
</li><li>compensation to drivers for consolidated charges for luggage and extra passengers introduced last year, and; 
</li><li>part compensation (&pound;1) for airport charges for journeys starting from Heathrow . 
<p></li></ul>
<p>The proposed new fares ensure a fair and simple tariff for drivers and passengers. These include:</p>
<ul>
<li>No change for the minimum fare of &pound;2; 
</li><li>The average Tariff 1 (weekdays 6am - 8pm) fare will increase by 2.8 per cent, in line with the cost index, 
</li><li>Tariffs 2 and 3 (covering late evenings, nights and weekends) will increase by an average 2.8 per cent plus an additional 12p per journey, bringing the average increase at these times to about 4 per cent; and 
</li><li>&pound;1 additional charge for journeys within London starting at Heathrow Airport. 
<p></li></ul>
<p>These changes will increase the average fare across the whole week by 3.4 per cent.</p>
<p>Mayor of London Ken Livingstone said:</p>
<blockquote>
<p>&quot;These new fares ensure a fair and simple tariff for drivers and passengers. The revised structure of tariffs, introduced last year, has made it easier for passengers to understand what they are paying for.</p>
<p>&quot;For the first time London is getting a safer licensed minicab service and this is reflected in the increased cost of a licence for minicab drivers. Becoming a minicab driver is well on the way to becoming a serious profession which is reflected by the new fees.&quot;</p></blockquote>
<p>The TfL Board will also consider revised licence fees for taxi and private hire vehicles. Designed to cover Public Carriage Office costs for enforcing safety standards across the two industries, they are mostly in line with inflation, and will meet the costs of introducing private hire driver licensing.</p>
<ul>
<li>Taxi driver three year licence from &pound;241 to &pound;249 (3% increase). 
</li><li>Taxi vehicle annual licence from &pound;140 to &pound;146 (4% increase) 
</li><li>Taxi driver applicant one-off Knowledge fee remains at &pound;100 (0% increase). 
</li><li>PH operator licence application from &pound;619 to &pound;637 (3% increase). 
</li><li>PH operator application to vary a licence remains at &pound;25 (0% increase). 
</li><li>PH operator five-year licence (standard) from &pound;1,459 to &pound;1,510 (3% increase). 
</li><li>PH operator five-year licence (small) remains at &pound;500 (0% increase). 
</li><li>PH driver licence application from &pound;131 to &pound;157 (20% increase). 
</li><li>PH driver three-year licence from &pound;87 to &pound;105 (21% increase). </li></ul>
            <ol>
<li>The Transport for London Board, chaired by Mayor Ken Livingstone, will be meeting at City Hall on 11th February 2004. 
</li><li>The new fares are due to come into effect from Saturday 3rd April and the new licence fees will start from Thursday 1st April. 
</li><li>The Public Carriage Office is responsible for licensing London's taxi and private hire services, as part of Transport for London's Surface Transport and Directorate. 
</li><li>Consultation on taxi tariff and licence proposal was done with the taxi trade.</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "increases in taxi operating costs; increases in national average earnings; compensation to drivers for consolidated charges for luggage and extra passengers introduced last year, and; part compensation (&pound;1) for airport charges for journeys starting";}
        
        


 