


@{ViewBag.Title = "Operational Note - Turf's Up for Coulsdon Relief Road";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operational Note - Turf's Up for Coulsdon Relief Road</h1>
        <div class="content-page-press-release">
        10 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Croydon Council will be cutting the first turf for building the &pound;33m Coulsdon Relief Road on Thursday 12 February. The by-pass will take 80% of through traffic away from the busy city centre, and allowing residents to enjoy their town.
        
    </div>



 <div class="on-this-page">
<p>TfL's Managing Director of Surface Transport Peter Hendy will be joined by Keith Ollier, TfL's Director of Road Network Operations and Hugh Malyan, Leader of Croydon Council, to officially start the first digger on the scheme.</p>
<p>Time/ Date: 10.30am, Thursday 12th February 2004. </p>
<p>Venue: TfL Coulsdon site Office, near Smitham station, Croydon. (Full directions available from TfL press office) </p>
<p><br>Photo call: You are invited to send a photographer/ film crew to film the images.</p>
            <p>Transport for London reports to the Mayor, Ken Livingstone and is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic.</p>
<p>Press Office<br>Windsor House<br>42-50 Victoria Street<br>London SW1H 0TL<br>Phone 020 7941 4141<br>Fax 020 7941 4560<br><a href="http://www.tfl.gov.uk/" lid="http://www.tfl.gov.uk" el="http://www.tfl.gov.uk">www.tfl.gov.uk</a></p>
<p>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL's Managing Director of Surface Transport Peter Hendy will be joined by Keith Ollier, TfL's Director of Road Network Operations and Hugh Malyan, Leader of Croydon Council, to officially start the first digger on the scheme.Time/ Date: 10.30am, Thursday";}
        
        


 