


@{ViewBag.Title = "Presentation to National Rail Conference 2004";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Presentation to National Rail Conference 2004</h1>
        <div class="content-page-press-release">
        11 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Imagine a well kept park full of people enjoying life, but instead we have a noisy, crowded school playground - a playground not a battlefield. Kids screaming, a bit of fighting, not too much bullying and quite a few people working hard sitting around the edges trying to work.
        
    </div>



 <div class="on-this-page">
<p>Neighbours are complaining about the noise, particularly as some of them cannot afford to use the school as fees are rising steeply. Almost everybody is a prefect but nobody can exert control.</p>
<p>The teachers have been out one by one and shouted at everybody, but were drowned out the noise. The school governors of this expensive public/private school have met and the Chief School Governor has put in an appearance in the playground. He didn't blow a whistle but he asked everybody how they would convert the playground into an active (Network Rail) park for all.</p>
<p>The Mayor and Transport for London intend to respond to this with a carefully developed proposal.</p>
<p>Level of franchise subsidy on national rail in London represents 5% of the UK total (&lt;&pound;100m p.a.) plus projects such as West Coast Main Line.</p>
<ul>
<li>1/3 of all journeys on the National network are within the GLA boundary. 
</li><li>Londoners make 50% of all UK rail journeys. 
</li><li>70% of all UK rail journeys are made either to or from London. </li></ul>
<p>On top of this, London is Europe's fastest growing city with 700,000 more people living in London by 2016 and 630,000 new jobs. This requires an accountable and effective national system and new projects such as East London Line, Thameslink and Crossrail.</p>
<p>If the government is unable to fund rail development in London, then the Mayor and TfL must be given more powers and greater freedom to raise reliable funding. The Mayor should also be given a greater say on how London's railway services are specified - and this is in line with Government's growing interest in devolving more power to the regions.</p>
<p>TfL is already responsible for all other public transport in the City and the Congestion Charge - it could make a significant contribution in terms of service specification, integration, unified ticketing, security and accessibility.</p>
<p>Accountability brings financial control and choices - choices whether to invest in rail or road in particular situations.</p>
<p>In short, the time has come to improve the playground - make the players accountable to the cities and regions that sustain them.</p>
<p>The Secretary of State review provides that opportunity - the Mayor will be there.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Neighbours are complaining about the noise, particularly as some of them cannot afford to use the school as fees are rising steeply. Almost everybody is a prefect but nobody can exert control.The teachers have been out one by one and shouted at everybody,";}
        
        


 