


@{ViewBag.Title = "Promising results from festive anti-tout campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Promising results from festive anti-tout campaign</h1>
        <div class="content-page-press-release">
        18 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Latest results released by TfL today shows a significant decrease in journeys taken in illegal cabs in the run up to Christmas in the West End, particularly among women.
        
    </div>



 <div class="on-this-page">
<p>Highlights from the latest round of customer research to assess the impact of TfL and Metropolitan Police Service's cab enforcement team anti-tout initiatives include:</p>
<ul>
<li>The proportion of customers using an illegal minicab after leaving the West End at night dropped from 14 per cent to 8 per cent following the campaign and operations; 
</li><li>Previously women were more likely to use illegal minicabs than men (18 per cent vs 10 per cent) but this dropped to 6 per cent which is lower than the continuing 10 per cent for men; 
</li><li>Touted cabs picked up directly outside venues dropped from 67 per cent to 39 per cent of total trips taken by minicab; and 
</li><li>In particular, illegal minicabs share of the late night transport market between midnight and 2am dropped from 26 per cent to 10 per cent. </li></ul>
<p>Last year, the Mayor of London Ken Livingstone launched the 'Know what you're getting into' campaign to help Londoners get home safely from the West End. He said:</p>
<blockquote>
<p>'This research clearly shows that the anti-touting initiatives by the police and TfL are having a real impact and Londoners are getting the message that it is not worth the risk to get into an illegal minicab. </p>
<p>'To help Londoners stay safe, along with greatly expanding the night bus network, I am working to ensure minicab operators and drivers are licensed, have encouraged more black cabs to work at night and got a police presence and CCTV installed on night buses.'</p></blockquote>
<p>TfL Taxi and Private Hire Director Ed Thompson said:</p>
<blockquote>
<p>&quot;These results are extremely promising and indicate that TfL and the Metropolitan Police are moving in the right direction through raising public awareness and anti-tout operations to kick the touts out of the West End.</p>
<p>&quot;Continued operations and information campaigns, both in the West End and at other locations in London, together with better night buses, more black taxis and the licensing of the private hire industry will make getting home a lot safer, particularly for women.&quot; </p></blockquote>
<p>Chief Inspector Bob Marshall, Transport Operational Command Unit (TOCU), operationally run by the Met and funded by the Mayor said: </p>
<blockquote>
<p>"While the findings from the research are positive, we continue to closely work with local borough police and our partners to carry out regular operations across London to clamp down on illegal cabs which pose a real danger to those who use them, especially women." </p></blockquote>
<p>Regular night-time enforcement and fourteen operations by the TOCU cab enforcement team between October and February resulted in 343 arrests. At the same time a &quot;know what you're getting into&quot; campaign appealed to people out and about to use a black cab, book a licensed minicab or take a night bus. A best practice guide for pubs and clubs was also launched to help clientele have a safer journey home.</p>
            <ol>
<li>It is an offence, in a public place, to solicit persons to hire vehicles to carry them as passengers. Anybody who does this is a tout. This means it is illegal for a minicab driver to accept a fare if they have not been pre-booked (in other words, they cannot be hailed on the street in the same way as a black cab). A minicab is only operating legally if it is pre-booked through a private hire operator (by making the booking in person, by telephone or via the internet). 
</li><li>The &pound;100,000 campaign featured posters at bus stops and Tube exits, messages in late night venues on glasses, washroom doors, mirrors, and advice cards and promotional staff with advice on getting home safely at key locations in the West End. 
</li><li>The Mayor announced an extra &pound;25 million for the Transport Operational Command Unit on 3rd September. This included funding for more officers to the cab enforcement team and an extension of policing on buses with the scope to deliver 24-hour coverage any where in London where it is decided a policing presence is needed. 
</li><li>Since 2001 minicab companies must hold a valid Private Hire operators' licence from the Public Carriage Office to run a service. Since 1st June 2003 it is an offence to drive a minicab without a private hire driving licence or a temporary permit issued by the PCO. Licensing of vehicles will start in Spring 2004. 
</li><li>Since 2002, 60 operators have been taken to court for operating without a licence. The PCO employs 28 licensing officers who undertake 600 compliance inspections between them a month. 
</li><li>Touting became a recordable offence on 1st December 2003 and means that anyone arrested will have fingerprints and DNA samples taken, which will be entered on the National Police Database where checks will run on the sample. </li></ol>
<p>For media enquiries contact the TfL press office on 020 7941 4141 (also for out of hours) or 7941 4881.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Highlights from the latest round of customer research to assess the impact of TfL and Metropolitan Police Service's cab enforcement team anti-tout initiatives include:The proportion of customers using an illegal minicab after leaving the West End at night";}
        
        


 