


@{ViewBag.Title = "Revised License Fees";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Revised License Fees</h1>
        <div class="content-page-press-release">
        13 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has approved the following fees with effect from 1 April 2004.
        
    </div>



 <div class="on-this-page">
<div class="table-container"><table class="datatable" cellspacing="0" cellpadding="0" width="100%" border="0">
<tbody>
<tr>
<th>Fee Type</th>
<th>Current Fee</th>
<th>New Fee</th>
<th>Licence Period</th></tr>
<tr>
<td>Taxi Driver Licence</td>
<td>&pound;241</td>
<td>&pound;249</td>
<td>3 years</td></tr>
<tr>
<td>Taxi Driver Knowledge</td>
<td>&pound;100</td>
<td>&pound;100</td>
<td>One-off</td></tr>
<tr>
<td>Taxi Licence</td>
<td>&pound;140</td>
<td>&pound;146</td>
<td>1 year</td></tr>
<tr>
<td>Private Hire Operator Application</td>
<td>&pound;619</td>
<td>&pound;637</td>
<td>5 years</td></tr>
<tr>
<td>Private Hire Operator Licence (Small)</td>
<td>&pound;500</td>
<td>&pound;500</td>
<td>5 years</td></tr>
<tr>
<td>Private Hire Operator Licence (Standard)</td>
<td>&pound;1,459</td>
<td>&pound;1,510</td>
<td>5 years</td></tr>
<tr>
<td>Private Hire Driver Application</td>
<td>&pound;131</td>
<td>&pound;157</td>
<td>3 years</td></tr>
<tr>
<td>Private Hire Driver Licence</td>
<td>&pound;87</td>
<td>&pound;105</td>
<td>3 years</td></tr></tbody></table></div><br>
<p>The increases in respect of the taxi trade have been included in the cost of living index used to set the forthcoming rise in taxi fares</p>
<p>Transport for London has also authorised the making of private hire vehicle regulations, which includes the following application and licence fees. The effective date for the introduction of private hire vehicle licensing will be announced separately.</p>
<div class="table-container"><table class="datatable" cellspacing="0" cellpadding="0" width="100%" border="0">
<tbody>
<tr>
<th>Fee Type</th>
<th>Current Fee</th>
<th>New Fee</th>
<th>Licence Period</th></tr>
<tr>
<td>Private Hire Vehicle Application</td>
<td>None</td>
<td>&pound;75</td>
<td>1 year </td></tr>
<tr>
<td>Private Hire Vehicle Licence</td>
<td>None</td>
<td>&pound;25</td>
<td>1 year</td></tr></tbody></table></div>
<p>Roy Ellis<br>Head of the Public Carriage Office<br></p>
<p><strong>For media enquiries contact the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Fee TypeCurrent FeeNew FeeLicence PeriodTaxi Driver Licence&pound;241&pound;2493 yearsTaxi Driver Knowledge&pound;100&pound;100One-offTaxi Licence&pound;140&pound;1461 yearPrivate Hire Operator Application&pound;619&pound;6375 yearsPrivate Hire Operator";}
        
        


 