


@{ViewBag.Title = "TfL announces new entrant to London bus market";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces new entrant to London bus market</h1>
        <div class="content-page-press-release">
        26 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses today announced that the National Express Group has acquired Connex Bus with immediate effect.
        
    </div>



 <div class="on-this-page">
<p>The business, which operates twelve contracts for Transport for London, consists of 200 buses and employs 700 staff including over 600 drivers. Services operate out of two depots in Battersea and Beddington, Croydon.</p>
<p>Twenty bus operators are currently in the London market which is worth around &pound;1 billion a year. </p>
<p>Director of Performance at London Buses Clare Kavanagh said:</p>
<p>"The quality of London's bus services is at an all time high and the number of people using the service is growing at a rate of 11% year-on-year. National Express as a significant player in the market will, I am sure, help to continue to drive up quality and provide additional the competition for London bus services.</p>
<p>"I look forward to working with National Express and wish them every success in contributing to better public transport for London." </p>
<p>Confirming today's announcement Phil White, Chief Executive National Express Group said; </p>
<p>"We have been keen to enter the London bus market but have been looking for an opportunity which gives us critical mass from an existing and established site. We believe that these operations, combined with any future contracts we win will position us well for future growth in this market. We welcome the former Connex Bus employees to the Group and look forward to growing our bus operations over the coming year."</p>
National Express will operate the following routes:<br />
3 and N3, 60, 156, 157, 196, 211, 315, 322, 344, C1, C3 and G1.
<p>2. Current share of the London bus market based on annual mileage is as follows:</p>
<p>Arriva 18.17%<br />
Go-Ahead 17.90%<br />
First 16.34%<br />
Stagecoach 15.36%<br />
Metroline 11.45%<br />
Transdev 8.15%</p>
<p>3. The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 7,500 London buses carry 5.4 million passengers on more than 700 different routes.</p>
<p>4.Key points about expanding the London bus network under the Mayor's transport policies:</p>
<ul>
    <li>Bus use is up by eleven per cent over the past year
    </li>
    <li>The number of passengers using buses is at its highest level since 1969;
    </li>
    <li>Patronage is rising at its fastest rate since the second world war;
    </li>
    <li>London Buses is running the highest volume of service on London's roads than at any time since 1963. </li>
</ul>
5. For more information about London Bus Services check out <a href="https://tfl.gov.uk/modes/buses/" el="https://tfl.gov.uk/modes/buses/" lid="https://tfl.gov.uk/modes/buses/">tfl.gov.uk/modes/buses/</a>
<p ><br />
<strong>For more information:<br />
TfL enquires - please telephone 020 7941 4141. <br />
National Express<br />
</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The business, which operates twelve contracts for Transport for London, consists of 200 buses and employs 700 staff including over 600 drivers. Services operate out of two depots in Battersea and Beddington, Croydon.Twenty bus operators are currently in";}
        
        


 