


@{ViewBag.Title = "TfL Consult on Congestion Charge Changes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Consult on Congestion Charge Changes</h1>
        <div class="content-page-press-release">
        02 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will consult the public on proposed changes to the central London congestion charge scheme. The consultation, starting today, will last ten weeks.
        
    </div>



 <div class="on-this-page">
<p>The consultation will focus on five aspects of the charging scheme, including proposals designed to ease the payment process for commercial users, and to bring the scheme into line with other central London traffic enforcement charges.</p>
<p>Michele Dix, Director of Congestion Charging, said, </p>
<blockquote>
<div align="left">&quot;This consultation allows those with an interest in congestion charging to express their views on these proposals. All representations will be considered by the Mayor before a final decision is made.&quot;</div></blockquote>
<div align="left">
<p>The Mayor recently put the consultation on the increase in the value of penalty charge notices (PCNs) on hold due to concerns over Capita's performance. Capita have recently met their second performance milestone as required by the supplemental agreement, demonstrating that improvements have been made. The consultation will therefore include a proposed increase in the value of PCNs. Nevertheless, a final decision by the Mayor on whether or not to increase the value of the PCNs will not be made until the Mayor has reviewed the performance of the service provider.</p>
<p>The consultation will discuss the following proposed changes:</p></div>
<ul>
<li>
<div align="left">Reducing the fleet scheme vehicle threshold from 25 to 10, enabling fleet operators and small businesses to take advantage of the benefits of the scheme.</div>
</li><li>
<div align="left">A proposal to increase the cost of congestion charge Penalty Charge Notices (PCNs) to bring them into line with other penalty charges in central London, such as parking and bus lane enforcement, and to increase compliance.<br><br>Reduced rate PCN - &pound;50 (&pound;40)<br>Full Rate PCN - &pound;100 (&pound;80)<br>Increased rate PCN - &pound;150 (&pound;120)<br>Court Charge - &pound;155 (&pound;125)<br>Clamping Fee - &pound;65 (&pound;45)<br>Vehicle Removal Fee - &pound;150 (&pound;125)<br>Storage Charge (24hrs) - &pound;25 (&pound;15).</div>
</li><li>
<div align="left">Widening the payment opportunities for congestion charge customers by accepting American Express and Diners Club. This would ensure continued consistency with other TfL services.</div>
</li><li>
<div align="left">Revising the eligibility criteria for the NHS patients' reimbursement scheme by removing the minimum income requirement.</div>
</li><li>
<div align="left">Revising the eligibility criteria for the residents' 90% discount by requiring vehicles to be registered at an address within the congestion charge zone. This would bring resident's vehicle registrations into line with Controlled Parking Zone registrations.</div></li></ul>
            <ol>
<li>The Freight Transport Association and the CBI have made representations to TfL on reducing the vehicle threshold for the fleet scheme. 
</li><li>TfL renegotiated its contract with Capita last year to introduce more stringent performance targets on customer service and management information provision. Capita has met every milestone to date, and has until the end of March to reach the final milestone. If Capita fail to meet their milestones payments to them are withheld. </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The consultation will focus on five aspects of the charging scheme, including proposals designed to ease the payment process for commercial users, and to bring the scheme into line with other central London traffic enforcement charges.Michele Dix,";}
        
        


 