


@{ViewBag.Title = "Vote for your favourite Tube station - and you could win &pound;100 of free travel in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Vote for your favourite Tube station - and you could win &pound;100 of free travel in London</h1>
        <div class="content-page-press-release">
        23 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the first ever London Transport Awards, Transport for London is hosting an online poll to find London's favourite Tube station. TfL is also offering those who enter the chance to win an Oyster card loaded with &pound;100 of travel, allowing you to enjoy all the benefits London has to offer.
        
    </div>



 <div class="on-this-page">
<p>The Station of the Year Award is part of the London Transport Awards 2004 which are organised by Robert Gordon University. The Awards are supported by Transport for London, and are held with the backing of the Association of London Government, London First and the London Transport Users Committee. The awards recognise and reward excellence in London's transport sector and like their national counterpart, they focus on progress in the transport arena and reward real improvements to local transport.</p>
<p>Members of the public can vote by visiting the TfL website at <a href="http://www.tfl.gov.uk/" lid="http://www.tfl.gov.uk" el="http://www.tfl.gov.uk">www.tfl.gov.uk</a>. <br>When choosing a favourite tube station voters may like to consider staff responses to any queries they have had or any situations faced. Passengers may also consider the quality of platform announcements, general appearance and user friendliness. A comments form is available online for those wishing to state their reasons.</p>
<p>The poll closes on Wednesday 3 March 2004 and the winning station will be announced at the London Transport Awards Dinner hosted by Channel 4 News presenter Jon Snow and Professor David Begg on the evening of Thursday 25 March.</p>
            <li>Entrants do not have to enter the prize draw to have their vote counted. Any personal details will only be used by TfL for this prize draw and will not be passed on to anyone else.</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Station of the Year Award is part of the London Transport Awards 2004 which are organised by Robert Gordon University. The Awards are supported by Transport for London, and are held with the backing of the Association of London Government, London";}
        
        


 