


@{ViewBag.Title = "Work to enlarge Wembley Park starts in March";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work to enlarge Wembley Park starts in March</h1>
        <div class="content-page-press-release">
        26 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Preparatory works to enlarge and modernise Wembley Park station will start on Monday, 1 March 2004.
        
    </div>



 <div class="on-this-page">
<p>The station work is in preparation for the opening of the new National Stadium in September 2005.</p>
<p>As part of the preliminary site set-up work a section of the car park will be cornered off limiting users' access to it. Following this, on the adjacent sports field, the outline of the field will be fenced off, and temporary accommodation for construction staff and hoardings will be set up.</p>
<p>Taylor Woodrow, contracted by Tube infrastructure company Tube Lines, will carry out the work, mainly during weekdays between 0800hrs and 1700hrs with occasional weekend work.</p>
<p>The capacity enhancement work is due to be substantially complete by September 2005, to coincide with the opening of the new National Stadium. Some works, including some of the modernisation and accessibility works, will continue beyond that date.</p>
<p>The main station construction work, which will start in early summer 2004, will bring significant improvements to the capacity of the station. </p>
<p>The plans include:</p>
<ul>
<li>A much enlarged events ticket hall; 
</li><li>A widened staircase from Olympic Way; 
</li><li>A new footbridge to the rear of an enlarged commuter ticket hall; 
</li><li>Lift access and new staircases to all platforms; 
</li><li>An additional canopy on platforms 4/5 to give full weather protection; 
</li><li>New passenger information equipment; 
</li><li>New help points and CCTV equipment; 
</li><li>Improved staff accommodation and station control facilities; 
</li><li>Upgraded wall, floor and ceiling finishes; 
</li><li>New lighting scheme; 
</li><li>Remedial works to structures. </li></ul>
<p>Rob Mason, Service Director for the Jubilee, Northern and Piccadilly lines said: &quot;The plans to modernise Wembley Park station, which is 110 years old, will bring significant improvements to the capacity and accessibility of the station.</p>
<blockquote>
<p>&quot;The current Wembley Park station capacity on major event days is about 22,000 passengers per hour (based on 80% of traffic travelling southbound after an event). This will be raised to 37,500 passengers per hour (based on the same on the same assumption), a 70% increase in capacity.</p>
<p>&quot;We are working with the London Borough of Brent and other key stakeholders to help in the major regeneration of the Wembley area. The local authority has stated that the regeneration scheme will not only protect the 5,000 jobs already in the area, but also create thousands of additional jobs.</p>
<p>&quot;We apologise for any inconvenience, but given the scale of the project, the importance of completing it in time for the opening of the new National Stadium and the timescale required for completion, a series of weekend closures will be necessary.</p>
<p>&quot;We will of course provide full alternative travel arrangements for these closures as well as comprehensive publicity to keep customers informed. We are trying to keep the partial station closures to a minimum, and as soon as the details are finalised we will provide them to our customers.&quot;<br>ends </p></blockquote>
            Under the London Underground PPP structure, Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines;<br>&pound;23m of funding for the Wembley Park station modernisation project has already been secured, as follows:<br>&pound;9m from Wembley National Stadium Ltd (via a Section 106 Agreement with the London Borough of Brent, although this will eventually be contra-charged to the Department of Culture Media and Sport);<br>&pound;7m from the Department for Transport;<br>&pound;7m from Transport for London (corporately, rather than through London Underground).<br>London Underground and Tube Lines are working towards the total investment required.

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The station work is in preparation for the opening of the new National Stadium in September 2005.As part of the preliminary site set-up work a section of the car park will be cornered off limiting users' access to it. Following this, on the adjacent";}
        
        


 