


@{ViewBag.Title = "You'll never walk alone as London becomes foot friendly";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>You'll never walk alone as London becomes foot friendly</h1>
        <div class="content-page-press-release">
        23 February 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone and Transport for London (TfL) today launch London's Walking Plan - 'Making London a Walkable City' - to ensure the Capital becomes one of the world's most walking friendly cities by 2015.
        
    </div>



 <div class="on-this-page">
<p><strong>Ken Livingstone will launch the Plan at the official opening of the Jubilee Walkway at the panoramic viewing panel adjacent to City Pier at 9.30am by making a commemorative slab using his footprints.</strong></p>
<p>The Walking Plan aims to encourage more people to walk short journeys and make trips over longer distances by a combination of walking and public transport. </p>
<p>The short-term target is to halt the decline in the number of journeys made on foot.</p>
<p>The long-term 2015 targets are:</p>
<ul>
<li>To increase the number of walking trips for under 2 miles by 10% on existing levels; 
</li><li>To increase the average number of trips made on foot per person/per year by 10%; and 
</li><li>To increase the level of London's 'walkability' both in terms of people's perceptions and in actual measured terms against other world cities. </li></ul>
<p>Walking has declined by up to 20% in parts of London over the last decade. This has had a detrimental effect on the health and welfare of both individuals and communities, as well as adding to the problem of congestion within the city. If London is to continue to grow and prosper it's important that this trend is reversed. </p>
<p>The Plan identifies all the key issues relevant to walking in London and provides a framework of objectives and actions to address them in a practical and cost effective way. It also supports the revitalisation of public spaces.</p>
<p>Mayor of London Ken Livingstone said: </p>
<blockquote>
<p>&quot;Making London an easier city to walk around will undoubtedly help to achieve both a better city to live in and a more prosperous economy.</p>
<p>&quot;I'm delighted the Walking Plan has now been published and am confident that, with the continued support of Government, Transport for London can build on the capital's fantastic potential to become a truly world class city for pedestrians by 2015.&quot; </p></blockquote>
<p>TfL's Managing Director of Surface Transport Peter Hendy says of the Walking Plan: </p>
<blockquote>
<p>&quot;Walking is one of the most healthy, efficient and cost effective ways of making short trips. Encouraging and enabling more walking will benefit the city as a whole as well as the individual through improved health.</p>
<p>&quot;Improvements to the walking environment are paramount to persuading people to switch from cars to public transport.&quot;</p></blockquote>
<p>Deputy Mayor of London, Jenny Jones said:</p>
<blockquote>
<p>"This is a plan for putting London back on its feet. We need safer roads, local shops, clean streets and crack free pavements. We need street lights that work and air that people can breath without coughing. We need to realise that healthy high streets produce healthier people, as we walk to the shops rather than driving. A walking plan is as much about community policing and stopping the closure of post offices, as it is about transport."</p></blockquote>
            <h3>History behind Walking Plan:</h3>
<p>During the comprehensive public consultation that preceded publication of the Mayor's Transport Strategy, many Londoners voiced concerns about the difficulties of walking in London. In particular, they supported measures to reduce traffic congestion and local transport initiatives that would encourage more walking.</p>
<p>Development of the Walking Plan has been a collaborative process, led by TfL but with valuable input from many key London stakeholders. Stakeholders responded positively to the challenge of translating the high-order walking objectives of the Mayor's Transport Strategy into the finished plan.</p>
<p>The Walking Plan was published as a consultation draft in January 2003 and all comments and suggestions have been carefully considered and many included within the final version of the plan.</p>
<p>Walking in London, outside of the central area, has declined between 13-20% over the last decade. Walking to school and local town centres has particularly declined.</p>
<p>Targets have an important role to play in measuring and monitoring progress. TfL consider that there is benefit in setting London wide aspirational targets. These will provide guidance and direction to local authorities as they implement their own walking strategies.</p>
<p>The short-term target is to halt the decline in the number of journeys per person made on foot.</p>
<p>The long-term 2015 targets are:</p>
<ul>
<li>To increase the modal share of walking for trips under 2 miles by 10% on existing levels. 
</li><li>To increase the average number of trips made on foot per person / per year by 10% 
</li><li>To increase the level of London's 'walkability' both in terms of people's perceptions and in actual measured terms against other world cities. </li></ul>
<p>In order for the Plan to be successful local authorities must translate the broad London wide targets outlined above into meaningful local targets. It is recognised that local circumstances vary greatly across London. Some local authorities have already begun to translate their local walking strategies into action, others are still at the early stages. The range of local factors at work across London points to the need for local targets to meet local circumstances.</p>
<p>Walking as an activity is accessible to all social groups, ages, religions and cultures. Encouraging people to walk is the central element of this Plan. If it is successful it will bring about a number of benefits including:</p>
<ul>
<li>Encouraging more use of public transport 
</li><li>A better environment 
</li><li>Social inclusion 
</li><li>Healthier lifestyles 
</li><li>Improved economy </li></ul>
<p>During the course of the Walking Plan's development the following barriers to walking in London have been identified:</p>
<ul>
<li>Institutional issues 
</li><li>Traffic volume 
</li><li>Air quality 
</li><li>The walking environment 
</li><li>Safety 
</li><li>Security 
</li><li>Information 
</li><li>Mobility and access </li></ul>
<p>Many of the actions contained within the plan do not require financial support from TfL to enable their delivery. However, a number of areas and activities are dependent upon the provision of funding for improvements, for example through the Borough Spending Plan process. As part of the submission to the Government's Comprehensive Spending Review 2004 TfL has set out the wider case for additional resources in order to enable delivery of this plan (as part of the wider case for delivering the Mayor's agenda for transport). In order for the 2015 vision to be fully realised it is necessary that these funds are secured, together with the support of the London Boroughs and other partners for delivering the key actions. The plan will be subject to review to ensure that any available funds and resources are targeted at areas where the maximum benefit can be achieved.</p>
<h3>Walking Plan for health benefits:</h3>
<p>It is estimated that 70% of the UK population do not take the necessary amount of exercise required to maintain good health. Sedentary lifestyles lead to a huge burden on the NHS and are one of the main causes of coronary heart disease, strokes, colon cancer and diabetes. The Health Development Agency recommends 30 minutes of moderate exercise at least five times a week. This regime is equally effective when distributed over three 10-minute periods a day. Brisk walking is widely accepted as one of the best forms of exercise and many more Londoner's could accommodate their exercise requirement in day to day activities such as commuting or walking to school and the shops.</p>
<h3>The Jubilee Walkway</h3>
<p>The Jubilee Walkway is one of the capital's premier walking trails and one of London's six designated Strategic Routes identified in the Mayor's Transport Strategy. Designed to connect the majority of London's key attractions, it is well managed, easy to follow and provides an ideal way of getting to know London.</p>
<p>The Walkway was designed so that anyone walking it would have "travelled through areas of London noted for entertainment, assembly, ceremonial, and open-air activity, passing many historic sites" (Max Nicholson 1977).</p>
<p>The Walkway was first developed for The Queen's Silver Jubilee in 1977 and The Jubilee Walkway Trust was then set up in 1978 as a charity to look after its interest in partnership with strategic and local authorities. The walkway has recently been extended and completed to mark the Queen's Golden Jubilee celebrations in 2003 with a funding grant provided by Transport for London.</p>
<p><br>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ken Livingstone will launch the Plan at the official opening of the Jubilee Walkway at the panoramic viewing panel adjacent to City Pier at 9.30am by making a commemorative slab using his footprints.The Walking Plan aims to encourage more people to walk";}
        
        


 