


@{ViewBag.Title = "Advice to DLR passengers during 48hr strike";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Advice to DLR passengers during 48hr strike</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Advice to DLR passengers during 48hr strike</h1>
        <div class="content-page-press-release">
        28 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A limited service is currently operating on the DLR between Beckton and Poplar, and Canning Town and London City Airport
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have worked hard to plan and provide as much of a service as possible this morning, with trains operating between Beckton and Poplar, and Canning Town and London City Airport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Davis</div>
            <div class="quotee-job-title">TfL's Interim General Manager of the DLR</div>
        </div>
</div>

 <div class="on-this-page">
<p>Strike action, called by the RMT union in a dispute with KeolisAmey Docklands, is affecting services on the Docklands Light Railway (DLR) today and tomorrow.</p>
<p>The strike began at 04:00 this morning and is scheduled until 03:59 on Friday 30 March. Some services may also be affected in the morning on Good Friday (30 March).</p>
<p>A limited service is operating this morning between Beckton and Poplar, and Canning Town and London City Airport. It is likely, due to staff numbers, that these services will stop at 16:00 this afternoon.</p>
<p>It is expected that a similar level of service will operate tomorrow between 07:00 and 16:00.</p>
<p>All other TfL services are operating as usual and extra buses have been deployed to enhance services operating on key routes along the DLR network.</p>
<p>TfL Travel Ambassadors are on hand at key locations to provide travel information and advice to customers.</p>
<p>Customers are advised to allow extra time for their journeys and check before they travel at <a href="https://tfl.gov.uk/campaign/dlr-strike?cid=dlr-strike">tfl.gov.uk/DLR-strike</a>.</p>
<p>TfL's Twitter feeds are providing live updates and customers can also use TfL's Travelbot on Facebook messenger for status updates and travel advice. Alternative walking and cycling routes can also be found on the TfL website.</p>
<p>The Jubilee, Central, District and Hammersmith &amp; City lines in East London and London Overground between Highbury &amp; Islington and Surrey Quays may be busier than usual today and stations close to the DLR, including Canning Town, Bank, Stratford, Canary Wharf, Canada Water and London Bridge, are expected to be exceptionally busy.</p>
<p>Posters, digital boards and station announcements are keeping customers informed of the latest levels of service.</p>
<p>Mark Davis, TfL's Interim General Manager of the DLR, said: 'We have worked hard to plan and provide as much of a service as possible this morning, with trains operating between Beckton and Poplar, and Canning Town and London City Airport.</p>
<p>'We hope to keep this running until 16:00 this afternoon. Bus, Tube and rail services are operating as normal, with extra buses operating on key routes along the DLR network, and our Travel Ambassadors out helping to provide travel information and advice to customers to help keep London moving.</p>
<p>'Customers are advised to check before they travel and allow extra time to make their journeys. We thank everyone for their patience while this strike action takes place and urge RMT and KeolisAmey Docklands to resolve their dispute before it disrupts Londoners further.'</p>
<p>Customers can keep up-to-date on the status of their services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on the TfL website at <a href="https://tfl.gov.uk/campaign/dlr-strike?cid=dlr-strike">www.tfl.gov.uk/DLR-strike</a></li>
    <li>Travel alerts will be provided through Twitter on &#64;TfLTravelAlerts, &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;LondonDLR and through the TfL Travelbot on Facebook messenger.</li>
</ul>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The RMT union have further strike action planned on the DLR for the weekend of the London Marathon, 04:00 Friday 20 April to 03:59 Tuesday 24 April</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Advice to DLR passengers during 48hr strike -->

 
 
        
        
            @{ViewBag.Description = "Advice to DLR passengers during 48hr strike";}
        
        


 