


@{ViewBag.Title = "Advice to DLR passengers in the event of 48hr strike";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Advice to DLR passengers in the event of 48hr strike</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Advice to DLR passengers in the event of 48hr strike</h1>
        <div class="content-page-press-release">
        23 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers are advised to check before they travel at tfl.gov.uk/DLR-strike and use the live updated feeds &#64;TfLTravelAlerts &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;LondonDLR on Twitter and to allow extra time for their journeys
        
    </div>



 <div class="on-this-page">
<ul>
    <li>Dispute is between the RMT union and KeolisAmey Docklands<br />
    </li>
</ul>
<p>Transport for London (TfL) is advising Docklands Light Railway (DLR) customers to check the TfL website for the latest information about planned strike action by the RMT union, which would affect services on Wednesday 28 and Thursday 29 March 2018.</p>
<p>The strike has been called over a dispute with KeolisAmey Docklands who operate the DLR on behalf of TfL.</p>
<p>The strike is scheduled to take place between 04:00am on Wednesday 28 March and 03:59am on Friday 30 March and it is unlikely that any DLR services will operate during these times if the action goes ahead. Services may also be affected on the morning of Friday 30 March (Good Friday). All other TfL services will be operating as usual.</p>
<p>An extra 49 buses will be deployed to enhance services operating on key routes along the DLR network and TfL Travel Ambassadors will be on hand at key locations to provide travel information and advice to customers. Customers are advised to allow extra time for their journeys and check before they travel at <a href="http://www.tfl.gov.uk/DLR-strike">tfl.gov.uk/DLR-strike</a> and use the live updated feeds &#64;TfLTravelAlerts, &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;LondonDLR on Twitter. TfL's Travelbot can also provide customers with live status updates and travel advice via Facebook messenger. Alternative walking and cycling routes can also be found on the TfL website.</p>
<p>The Jubilee, Central, District and Hammersmith &amp; City lines in East London and London Overground between Highbury &amp; Islington and Surrey Quays are expected to be busier than usual and stations close to the DLR, including Canning Town, Bank, Stratford, Canary Wharf, Canada Water and London Bridge, may also be exceptionally busy. For London City Airport, people will be advised to take the Jubilee line to Canning Town and change for buses to the airport.</p>
<p>Posters, digital boards and announcements in stations will keep customers informed of the latest levels of service.</p>
<p><strong>Mark Davis, TfL's Interim General Manager of the DLR, said</strong>: &quot;If the strike goes ahead, KeolisAmey Docklands predict that it is unlikely that any DLR services will run. Our bus, Tube and rail services will be operating as normal, and we will be running extra buses on key routes to help keep London moving. We will have TfL Travel Ambassadors on hand at key locations to provide travel information and advice to customers and staff. Our services, particularly in east London, are expected to be very busy and we thank everyone for their patience while the strike action takes place. Customers are advised to use our website to plan ahead. We urge the RMT and KeolisAmey Docklands to continue with discussions in order to settle the dispute.&quot;</p>
<p>Customers can keep up-to-date on the status of their services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on the TfL website at <a href="http://www.tfl.gov.uk/DLR-strike">www.tfl.gov.uk/DLR-strike</a></li>
    <li>Travel alerts will be provided through Twitter on &#64;TfLTravelAlerts, &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;LondonDLR and through the TfL Travelbot on Facebook messenger.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Advice to DLR passengers in the event of 48hr strike -->

 
 
        
        
            @{ViewBag.Description = "Advice to DLR passengers in the event of 48hr strike";}
        
        


 