


@{ViewBag.Title = "Children's competition with historic book printer Clays to highlight how women keep London moving";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Children’s competition with historic book printer Clays to highlight how women keep London moving</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Children’s competition with historic book printer Clays to highlight how women keep London moving</h1>
        <div class="content-page-press-release">
        21 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Judging panel includes a host of acclaimed authors &#45; Waterstones' Children's Laureate, Lauren Child MBE, 'How to Train your Dragon' author Cressida Cowell and 'Fantastically Great Women who Changed the World' writer Kate Pankhurst
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This competition is a really exciting opportunity for children to put their creative hats on and think about all of the different ways women help to keep London moving"</div>
        <div class="quote-footer">
            <div class="quotee-name">Lauren Sager Weinstein</div>
            <div class="quotee-job-title">Transport for London's Chief Data Officer</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today launched a children's competition with British book printing institution Clays as part of the Mayor of London Sadiq Khan's major new campaign, #BehindEveryGreatCity.</p>
<p>The competition, which includes three different age categories, will ask children to use their imaginations to draw a picture or write a story that focuses on how women at TfL keep London moving.</p>
<p>From the engineers who fix and control traffic lights and keep the trains running, to the designers who imagine what our streets, bridges and trains will look like in the future &#45; there are a range of different roles to inspire the next generation.</p>
<h2>Limited edition</h2>
<p>The judging panel of acclaimed authors includes Waterstones' Children's Laureate, Lauren Child MBE, 'How to Train your Dragon' author Cressida Cowell, and 'Fantastically Great Women who Changed the World' writer, Kate Pankhurst.</p>
<p>They will choose the winning entries, which will need to be submitted before Sunday 13 May.</p>
<p>The winners will see their stories turned into a limited edition book, printed by Clays &#45; with the winning drawing featured on the front cover. They will also get the opportunity to take part in a behind-the-scenes tour of TfL and visit the factory where the book is made.</p>
<p>The Mayor of London's #BehindEveryGreatCity campaign aims to bring Londoners together to celebrate how women of all backgrounds make London the great city it is, and to take new steps to tackle gender inequality in the capital.</p>
<h2>Keep London moving</h2>
<p>Lauren Sager Weinstein, Transport for London's Chief Data Officer, said: 'This competition is a really exciting opportunity for children to put their creative hats on and think about all of the different ways women help to keep London moving.</p>
<p>'Whether it's using computers to work out how people travel or designing new trains &#45; writing a short story or drawing a picture is a great way for children to think about how integral women are to this city.'</p>
<p>Vicky Ellis, Sales Director at Clays, said: 'We're excited to be partnering with Transport for London on this great writing and drawing competition for children.</p>
<p>'Not only is this a brilliant competition to promote the awareness of the roles women can play in industries that they would have generally ruled out, but it is also promoting literacy amongst children by encouraging them to read and hone in on their creative skills.'</p>
<p>Lauren Child MBE, said: 'As well as encouraging children to draw and write, competitions like this are a great opportunity to break down stereotypes. It is important for all children to see themselves reflected in stories and books and to have heroes they can relate to.</p>
<p>'Celebrating brave, accomplished women who get things done is a step away from an outdated notion of girls just being the side-kick.'</p>
<h2>Inspiring TfL women</h2>
<p>Cressida Cowell, said: 'I'm delighted to be a judge for Transport for London's writing and drawing award, and what a great theme, to create art celebrating the thousands of inspiring TfL women who keep London moving and whose contribution is often invisible to the general public.</p>
<p>'The competition is also a fantastic opportunity to encourage both girls and boys to think widely about the type of career they could pursue &#45; whether that's becoming a TfL engineer, or an author or illustrator.'</p>
<p>Kate Pankhurst, said: 'I'm thrilled to be judging this competition and can't wait to see the inspiring stories children have to share about the part women play in keeping London moving.</p>
<p>'It seemed a particularly exciting competition to judge as celebrating the role women play in getting people where they need to go is a great way to get children to take a closer look at the way we live today and at how they have the power to shape it with their talents and aspirations in the future.'</p>
<p>The competition is part of a wider drive in the transport industry to encourage more women to consider a career in transport and more young people into Science, Technology, Engineering and Mathematics (STEM).</p>
<p>Currently, around 23% of TfL's workforce is female and only 9% of engineers are women. By creating a more diverse workforce that is representative of the city that it serves, TfL will encourage further creativity and innovation, which will lead to new ideas and ways of improving customers' journeys.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The competition is open to children either resident or attending school within the Greater London area in the following age categories:<br />o Children between 5-7 years old will be asked to design an image<br />o Children between 7-11 years old will be asked to write a story between 100-200 words<br />o Children between 11-14 years old will be asked to write a story under 300 words</li>
    <li>To enter, simply email the completed competition brief to <a href="mailto:schoolsandyoungpeople&#64;tfl.gov.uk">schoolsandyoungpeople&#64;tfl.gov.uk</a></li>
    <li>The competition briefs and terms and conditions can be found here: <a href="https://tfl.gov.uk/campaign/women-in-transport-drawing-and-writing-competition?cid=women-in-transport-competition">tfl.gov.uk/women-in-transport-competition</a></li>
    <li>For images, please visit <a href="https://www.flickr.com/photos/tflpress/albums/72157693979401184">https://www.flickr.com/photos/tflpress/albums/72157693979401184</a></li>
    <li>Clays are a monochrome book printer based in Suffolk, UK printing around 150 million books a year. The company was founded by Richard Clay in 1827, and after World War 1, Clays began to focus on book printing and the factory has since been the birth place to many of the world's most famous novels. They employ over 600 people in numerous roles, running apprenticeships to encourage young people into the industry. Clays are now owned by St Ives plc</li>
    <li>Lauren Child is a multi-award-winning, bestselling writer and artist. She is the creator of many much-loved characters, including Clarice Bean, Ruby Redfort and Charlie and Lola. Her first two books were published in 1999 &#45; I Want a Pet and Clarice Bean, That's Me, and she won the prestigious Kate Greenaway Medal in 2000 for I Will Not Ever Never Eat a Tomato, the first of her Charlie and Lola picture books. Lauren published her first Clarice Bean novel in 2002 &#45; Utterly Me, Clarice Bean. The Clarice Bean series has sold over 6 million copies worldwide. In October 2005, the BBC launched a 78-part animated series of Charlie and Lola. The series has won four BAFTAS and is aired in more than 34 countries.  In 2008 Lauren launched UNESCO's 'My Life is a Story' Campaign for UNESCO's Programme for the Education of Children in Need, and was named a UNESCO Artist for Peace in 2008. In 2010 she was awarded an MBE for Services to Literature. She was announced as the 10th Waterstones' Children's Laureate in 2017. Lauren is an international ambassador for the excellence of UK illustration: she's been at the forefront of innovation for 15 years and has raised the profile of illustration as a sophisticated art form for all ages. She works with mixed media, pioneered text as an integral part of illustration and collaborates with artists across different fields. She is a trustee of the recently-formed House of Illustration. Lauren is also a passionate advocate for visual literacy and the importance of quality picture books for children. The latest Charlie and Lola book, A Dog with Nice Ears, will be published in paperback Autumn 2018. Ruby Redfort #6 Blink and You Die , the final book in the series was published in October 2016</li>
    <li>Cressida Cowell is the author and the illustrator of the bestselling How to Train Your Dragon and The Wizards of Once book series, and the author of the Emily Brown picture books, illustrated by Neal Layton. How to Train Your Dragon has sold over 8 million books worldwide in 38 languages. It is also an award-winning DreamWorks film series, and a TV series shown on Netflix and CBBC. The first book in Cressida's new series, The Wizards of Once (also signed by DreamWorks), is a number one bestseller. Cressida is an ambassador for the National Literacy Trust and the Reading Agency, a Trustee of World Book Day and a founder patron of the Children's Media Foundation. She has won numerous prizes, including the Gold Award in the Nestle Children's Book Prize, the Blue Peter Book Award, the 2017 Ruth Rendell Award for Championing Literacy, the Hay Festival Medal for Fiction, and Philosophy Now magazine's 2015 Award for Contributions in the Fight Against Stupidity. She grew up in London and on a small, uninhabited island off the west coast of Scotland and she now lives in Hammersmith with her husband, three children and a dog called Pigeon</li>
    <li>Kate Pankhurst illustrates and writes from her studio in Leeds with her spotty dog, Olive. She loves a good story, the funnier the better and gets her best ideas by doodling in her sketchbook; because even quick wonky drawings can spark ideas for amazing plots. As a child, Kate spent most of her time drawing silly characters and thinking up funny things for them to do, she feels very lucky to now do this as her job</li>
    <li><strong>About #BehindEveryGreatCity</strong> - Sadiq Khan has launched the #BehindEveryGreatCity gender equality campaign to champion the fact that it is the achievements and contributions of women, from all walks of life, which make cities like London great. It coincides with the 100 year anniversary of the 1918 Representation of the People Act, which gave some women the vote, and was introduced thanks to the campaigning of suffragists and suffragettes. The Mayor will use the centenary to work with London's many leading sectors &#45; from culture, sport, education and business, to politics and public life &#45; to support the continuing success of women and to push for greater gender equality for women from all backgrounds across the city. To find out more, visit <a href="https://www.london.gov.uk/behindeverygreatcity">www.london.gov.uk/behindeverygreatcity</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Children’s competition with historic book printer Clays to highlight how women keep London moving -->

 
 
        
        
            @{ViewBag.Description = "Children’s competition with historic book printer Clays to highlight how women keep London moving";}
        
        


 