


@{ViewBag.Title = "GLA - Mayor: London must do more to get women into senior roles";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor: London must do more to get women into senior roles</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor: London must do more to get women into senior roles</h1>
        <div class="content-page-press-release">
        19 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Moves in place at GLA to boost training and promotion opportunities for women
        
    </div>



 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/sadiq-publishes-gla-group-gender-pay-gap">london.gov.uk</a>&nbsp;</p>
<p>•	City Hall to launch diversity and inclusion action standard to measure progress</p>
<p>Sadiq Khan today said more needs to be done to get women into senior roles to address the pay gap between men and women in the capital. The Mayor of London's comments came as he published the latest gender pay details in the Greater London Authority (GLA) Group.</p>
<p>The new data reveals there still is a significant gender pay gap at City Hall, Transport for London, the Metropolitan Police and the London Legacy Development Corporation.</p>
<p>The reason for the gender gap in the GLA Group is not due to women being paid less for doing the same job, but instead because there are not enough women in senior roles.</p>
<p>It is an issue Sadiq has made a top priority during his Mayoralty, which is why in November 2016 he published, for the very first time, gender pay data for all City Hall staff and the GLA's functional bodies. Comparing today's published data for 2017 to the previous year's figures with the methodology used in 2016, it shows a barely noticeable narrowing of the gender pay gap drop at the GLA from 4.82 per cent to 4.81 per cent.</p>
<p>The government methodology for calculating this data, which was not available until last year, involves taking into account salary sacrifices such as childcare vouchers, together with cycle to work schemes and bonus payments, as well as the exclusion of employees on reduced pay, such as maternity or sabbatical leave. It provides a new pay gap figure for the GLA of 6.14 per cent that is not comparable with the data for 2016, but will instead be used against future pay gap data.</p>
<p>Since publishing gender pay gap data in 2016, City Hall has put in place a number of measures to promote training and promotional opportunities for women. These include ensuring all interview panels are gender balanced, while departments with fewer numbers of recruitment-trained women managers have been encouraged to take up training. The GLA is also offering access to external mentors for women at senior level.</p>
<p>City Hall will shortly be launching the Diversity and Inclusion Action Standard &#45; a tool developed by the GLA in conjunction with its functional bodies and external diversity experts. It will provide a transparent benchmark of best practice and values, enabling organisations to identify current performance, learn from each other and to measure improvement over time including addressing pay inequality.</p>
<p>TfL is also introducing measures, including a specific performance target to reduce the gender pay gap each year, anonymous job applications and a new development programme for groups under-represented in senior roles.</p>
<p>Gender pay data published today for the GLA and functional bodies reveals that men and women working full-time are paid, on average, the following:</p>
<p>Greater London Authority</p>
<ul>
    <li>Women: &pound;22.46 per hour; men: &pound;23.93 per hour &#45; a gender pay gap of 6.14 per cent</li>
</ul>
Transport for London
<ul>
    <li>Women: &pound;22.14 per hour, men: &pound;27.56 per hour &#45; a gender pay gap of 19.70 per cent</li>
</ul>
<p>Metropolitan Police Service</p>
<ul>
    <li>Women: &pound;18.75 per hour, men: &pound;21.42 per hour &#45; a gender pay gap of 12.48 per cent</li>
</ul>
<p>Mayor's Office for Police and Crime (MOPAC)</p>
<ul>
    <li>Women: &pound;24.35 per hour, men: &pound;24.70 per hour &#45; a gender gap of 1.42 per cent</li>
</ul>
<p>London Legacy Development Corporation</p>
<ul>
    <li>Women: &pound;23.70 per hour, men: &pound;30.51 per hour &#45; a gender pay gap of 22.30 per cent</li>
</ul>
<p>London Fire and Emergency Planning Authority</p>
<ul>
    <li>Women: &pound;17.33 per hour, men: &pound;16.36 per hour &#45; a gender pay gap of minus - 5.93 per cent</li>
</ul>
<p>Old Oak Common and Park Royal Development Corporation</p>
<ul>
    <li>Women: &pound;26.81 per hour, men &pound;22.22 per hour &#45; a gender pay gap of minus - 20.66 per cent</li>
</ul>
<p>London &amp; Partners</p>
<ul>
    <li>Women: &pound;27.62 per hour, men &pound;27.69 per hour &#45; a gender pay gap of 1 per cent</li>
</ul>
<p>The gender pay gap for full-time workers in London is 16.20 per cent, while nationally it is 18.10 per cent.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'I am determined to do everything in my power to address the gender pay gap that has existed both unchallenged and hidden away for far too long. While the data I have published today makes for painful reading for all at City Hall and the majority of the GLA group, it's only by taking these steps and highlighting that there is a problem, that we will properly address the inequalities in our society.</p>
<p>'It's abundantly clear that we all need to do more to understand why there are not enough women in senior leadership roles, and then ensure we remove those barriers, so that across our great city we are adopting the highest possible standards for fair pay, good working conditions and gender equality.</p>
<p>'I am a proud feminist at City Hall and that's why earlier this year I launched the #BehindEveryGreatCity campaign not only to mark the progress that's been made on women's equality over the past 100 years, but to tackle gender inequality in all its forms. I reiterate my call to London's businesses and organisations to step up efforts to address the pay gap and help make our capital one of equality, opportunity and progress.'</p>
<p>Sam Smethers, Chief Executive of The Fawcett Society, said: </p>
<p>'By publishing the GLA's gender pay gap data the Mayor of London is giving a lead to employers all across the capital to both encourage them to report and to set out their action plans to close the pay gap. We know that holding women back holds London's economy back, so closing the pay gap is essential to closing the productivity gap.</p>
<p>'It is not surprising to see for example TfL reporting a larger pay gap. We know that they have highly segregated workforces with men dominating higher paid roles.  What matters now is the action they will commit to taking to close the gap.'</p>
<p>The Mayor has appointed women to a number of senior roles at City Hall, which includes six of his 10 Deputy Mayors: Joanne McCartney as Statutory Deputy Mayor, Fiona Twycross as Deputy Mayor for Fire and Resilience, Valerie Shawcross as Deputy Mayor for Transport, Sophie Linden as Deputy Mayor for Policing and Crime, Justine Simons as Deputy Mayor for Culture and Creative Industries and Shirley Rodrigues as Deputy Mayor for Environment and Energy. Sadiq also appointed Amy Lam&eacute; as London's first Night Czar.</p>
<p>All functional bodies are publishing action plans alongside their data setting out activity to address pay inequality in their organisations.</p>
<p>To view details of the gender pay gap audit visit <a href="https://www.london.gov.uk/about-us/governance-and-spending/spending-money-wisely/gender-pay-gap-report-march-2017-data">https://www.london.gov.uk/about-us/governance-and-spending/spending-money-wisely/gender-pay-gap-report-march-2017-data</a>.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to editors:</p>
<p>Today's published figures are calculated according to the median average &#45; the middle value of all salaries at the organisation &#45; which is the value suggested by the Office for National Statistics (ONS).</p>
<ul>
    <li>Salaries at the Greater London Authority are determined through a job evaluation scheme which evaluates the job and not the post holder. It makes no reference to gender or any other personal characteristics of existing or potential job holders. This means the GLA pays the same salary to roles of equal value.</li>
    <li>Differences in the figures do not show a difference in pay for roles of equal value but recognise the need for more female representation at the most senior levels of the organisation.</li>
    <li>In 2017 the Equality Act 2010 (Gender Pay Gap Information) regulations came into force. This legislation requires public bodies with 250 or more employees to report on their gender pay gap by 31 March 2018. This is the first year where legislation requires the publication of such data, however, the GLA was an early adopter and originally published an initial gender pay gap report in November 2016. As a result of the GLA being a leader, and publishing its 2016 gender pay gap data in advance of the formal regulations being agreed, and the different calculation and reporting methodology used, the 2016 and 2017 reports are not directly comparable. These differences arise because the calculation and reporting methodology used for the 2017 report is fully in keeping with the government's new regulations. In 2016 the GLA</li>
    <li>included all staff including women that were on maternity leave/other staff on reduced pay</li>
    <li>did not adjust salaries to take account of salary sacrifices for cycle to work or childcare vouchers,</li>
    <li>did not include additional payments such as out of hours allowances or on call allowances and,</li>
    <li>did not include details of any 'bonus' e.g. recognition payments</li>
</ul>
<p>Staffing split by gender (permanent or fixed-term roles):</p>
<ul>
    <li>Greater London Authority: 797 (46 per cent men, 54 per cent women)</li>
    <li>Transport for London: 27,179 (77 per cent men, 23 per cent women)</li>
    <li>Metropolitan Police Service: 40,445 (67 per cent men, 33 per cent women)</li>
    <li>Mayor's Office for Policing and Crime (MOPAC): 111 (42 per cent men, 58 per cent women)</li>
    <li>London Legacy Development Corporation: 147 (40 per cent men, 60 per cent women)</li>
    <li>London Fire and Emergency Planning Authority: 5,484 (87 per cent men, 13 per cent women)</li>
    <li>Old Oak Common and Park Royal Development Corporation: 29 (41 per cent men, 59 per cent women)</li>
    <li>London &amp; Partners: 189 (35 per cent men, 65 per cent women)</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-GLA - Mayor: London must do more to get women into senior roles -->

 
 
        
        
            @{ViewBag.Description = "Mayor: London must do more to get women into senior roles to address gender pay gap";}
        
        


 