


@{ViewBag.Title = "GLA - Mayor marks milestone of 100 rapid charging points";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor marks milestone of 100 rapid charging points</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor marks milestone of 100 rapid charging points</h1>
        <div class="content-page-press-release">
        19 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Taxi trade celebrates new electric taxi on London's streets to help tackle toxic air
        
    </div>



 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-marks-100th-rapid-charge-point-in-london">london.gov.uk</a>&nbsp;</p>
<p>•	Rapid charge points can charge a vehicle in up to 30 minutes</p>
<p>A new network of rapid charge points for electric vehicles across the capital was launched by Sadiq Khan today. The network includes 51 points for use by taxis and is part of the Mayor of London's bid to improve the capital's air quality, by helping phase out the use of diesel and encouraging the use of zero-emission vehicles.</p>
<p>As of this year no more diesel taxis are being licensed, and all taxis that are licensed for the first time need to be zero-emission capable. Over the past six months Transport for London has worked with suppliers on the installation of 100 rapid charge points across the capital where a vehicle can be charged in 20 to 30 minutes, compared to the seven or eight hours it takes at regular charging points.</p>
<p>The Mayor is also encouraging more Londoners to switch to electric vehicles for personal use, as well as businesses, and is committed to working with the private sector to expand charging infrastructure in the capital. Shell has already installed eight points across London, and Sadiq is urging more businesses to follow its example.</p>
<p>New research published today by the WWF (World Wide Fund for Nature), found that bringing forward the move to phase out sales of new petrol and diesel cars and van‎s from 2040 to 2030 would result in a 30 per cent reduction in pollution in 2030.</p>
<p>The Mayor's policies have already led to major investment from the London Electric Vehicle Company, and the report finds that the UK could support over 100,000 jobs in the electric vehicle industry by 2030 &#45; with London's new rapid charging network in place to cater for increased numbers of electric vehicles on the streets.</p>
<p>Today, Sadiq was given a demonstration of how an electric taxi is charged at a rapid charging point in Southwark Street. He said: </p>
<p>'The roll-out of rapid charging points marks a BIG step forward in the shift to zero-emission vehicles, which the capital desperately needs to clean up our toxic air. But widespread change will not happen until a sufficient charging infrastructure is in place, allowing taxi drivers, businesses and Londoners to easily make the switch.</p>
<p>'On my watch, TfL has already installed 100 new rapid charge points &#45; despite only five per cent of the city's roads being under my control. However, we will only reach the numbers we need if the boroughs install these points on the 95 per cent of the network in their control and TfL stands ready to help. I also urge private-sector businesses to work with us on expanding the network and help make lasting improvements to the capital's air quality.'</p>
<p>The number of electric vehicles in London stands at 10 per cent of the UK total*. Alongside around 2,000 standard charge points already installed across London, at least 150 TfL-funded rapid charge points are set to be in place by the end of 2018 in addition to new infrastructure in residential neighbourhoods.</p>
<p>Last April, TfL appointed five suppliers to fund, maintain, operate and install the new rapid charging network across London. Offering 24/7 support and online information on locations and availability, the network allows drivers to use all points regardless of the supplier and pay by credit or debit card, with no requirement to sign up to a membership scheme.</p>
<p>Lilli Matson, Transport for London's Director of Transport Strategy, said: </p>
<p>'More taxi drivers taking fares in London's new green black cabs is a key part of achieving the Mayor's vision of a zero-emission city by 2050. The installation of an extensive rapid charge point network is central to enabling cabbies to ditch their dirty diesel vehicles and replace them with green alternatives. This significant milestone demonstrates our commitment to supporting the taxi trade, commercial businesses and Londoners in joining the capital's environmental revolution.'</p>
<p>Cleaning up London's toxic air requires a shift to cleaner, greener, electric vehicles, and helping thousands of London's taxi drivers switch to these by 2020 is a fundamental part of the Government's Air Quality plan. Taxis are a significant contributor to London's toxic air quality and are responsible for 16 per cent of NOx and 31 per cent of Particulate Matter (PM2.5) road transport emissions in central London. A greener fleet could reduce harmful NOx emissions from taxis by 45 per cent in central London by 2020.</p>
<p>New taxis licensed after 1 January 2018 will need to be zero-emission capable to help clean up London's dirty air. The Mayor understands that in order to switch to electric vehicles, both taxi drivers and Londoners need proper infrastructure in place. TfL is investing &pound;18 million into unlocking potential sites and upgrading electricity grids, and TfL and London Councils awarded almost &pound;4.5 million to 25 boroughs to help them deliver on-street charge points for thousands of residents without off-street parking.</p>
<p>Chris Gubbey, CEO of the London Electric Vehicle Company, said: </p>
<p>'London's cab drivers are at the front line of the city's fight to improve air quality and their support will ensure the successful transition to cleaner vehicles in the capital. Their commitment is already demonstrated by the hundreds of pre-orders for our new range-extended electric taxi. To maintain this momentum, we need London Boroughs to prioritise rapid-charging infrastructure which, in turn, will encourage more drivers to make the switch to zero emission capable vehicles.'</p>
<p>Head of Climate and Energy at WWF UK, Gareth Redmond-King, said: </p>
<p>'We're pleased to see the Mayor rolling out more rapid electric charging points across London, helping to make it easy for Londoners to go green and switch to an electric vehicle. The sooner we transition away from dirty vehicles, the better for our air quality, economy and environment. Bringing forward the phase out of new petrol and diesel cars sales to 2030 would be a breath of fresh air for all Londoners.'</p>
<p>Minister for Taxis, Nusrat Ghani said: </p>
<p>'It's fantastic to see the progress London is making as it moves to ultra low emission (ULEV) taxis, enabled by the Government's support for the development of the London Electric Vehicle Company's new ULEV taxi and our &pound;18m investment towards the roll out of a chargepoint network in the capital. This transition, a key aspect of the Government's Clean Growth agenda, demonstrates how we can improve air quality by growing the low-carbon economy.'</p>
<p>A &pound;42 million fund is already available to encourage the owners of the oldest, most-polluting diesel black cabs to retire them from the capital's fleet. The owners of black cabs between 10 and 15 years old can apply for a grant of up to &pound;5,000 in exchange for retiring their taxi, and the Government's Plug-In Taxi Grant, part-funded by the Mayor, will also give cabbies purchasing new Zero-Emission Capable (ZEC) taxis up to &pound;7,500 towards the purchase of a new vehicle.</p>
<p>General Secretary of the Licensed Taxi Drivers' Association, Steve McNamara, said: </p>
<p>'London's cab drivers are leading the charge in cleaning up London's polluted air. We welcome the network of rapid electric charging points that the Mayor has launched today. However, more needs to be done to support our hard-working drivers. Other politicians now need to get on with the job of installing more rapid electric charging points across London.'</p>
<p>*There are currently more than 118,000 electric vehicles on UK roads.</p>
<p>&nbsp;</p>
<hr />
Additional quotes:<br />
<p> David Martell, Chief Executive of Chargemaster said, </p>
<p>'It's fantastic to see our UK-made Ultracharge rapid chargers on the streets of London, including public sites that expand our nationwide POLAR network. The rollout of these new rapid chargers will play an important role in reducing pollution in the capital and improving air quality for Londoners. It's great news for anyone who already drives or wishes to operate an electric vehicle in the city, including drivers of the new electric taxi from LEVC, for which we are also providing Homecharge units to allow drivers to charge conveniently at home. For taxi drivers, we calculate that the cost of driving on electric from our Ultracharge rapid chargers will be half the cost of driving on diesel.'</p>
<p>Michael Quigley, General Manager of Electric Supply Board (ESB) in the UK, added: </p>
<p>'We are proud that ESB's expertise and track record  in the electromobility sector will support the expansion of the rapid charging network across London, which in turn will help electrify the city's iconic black taxi fleet. ESB's presence at City Hall today with Mayor Sadiq Khan underpins our commitment to lead the electrification of transport. Electric vehicles are now seen as indispensable in addressing the major challenges of improving air quality and curbing use of fossil fuels, both in London and the wider United Kingdom.'</p>
<p>Notes to Editors:</p>
<ol>
    <li>Visit <a href="https://www.zap-map.com/">https://www.zap-map.com/</a> for a list of all the charging point locations and availability.</li>
    <li>TfL have installed 100 points under its new framework of suppliers in addition to 24 that were already available and funded by other bodies.</li>
    <li>The suppliers are Centrica Consortium, BluepointLondon, Chargemaster, Electricity Supply Board (ESB) and Fastned.</li>
    <li>Chargemaster Plc is the UK's leading provider of electric vehicle charging infrastructure and operates POLAR, the largest electric vehicle charging network in the UK, with more than 6,500 public charge points. Its charging points are specially developed to accommodate new technological advances and the growing demands of the electric vehicle industry. Chargemaster works in partnership with leading energy providers, vehicle manufacturers, government agencies, management consultancies and property development and blue-chip companies. Chargemaster is the largest supplier of public, workplace and home charging units in the UK and to date has supplied over 50,000 of its UK-made charging points.</li>
    <li>ESB is an experienced owner and operator of electric vehicle (EV) charge point networks since 2010. As Ireland's leading energy company, ESB developed one of the first fully interoperable national EV charging networks in Europe, comprising 1,000 public charge points across the island of Ireland.  The company has over 90 years' experience, operating across the electricity sector from generation, through transmission and distribution, to supply and associated energy services.</li>
    <li>ESB has been a leading independent energy company in the UK for over 23 years where the company has invested almost &pound;2bn in generation and power network assets. This year ESB Energy was launched in Britain, offering very competitive electricity and gas offerings to residential customers. For more info visit:www.esbgroup.co.uk.</li>
    <li>Comparison of other cities (by number of fast or rapid charging points - source: International Council On Clean Transportation (March 2017) (<a href="https://www.theicct.org/sites/default/files/publications/Global-EV-Capitals_White-Paper_06032017_vF.pdf">https://www.theicct.org/sites/default/files/publications/Global-EV-Capitals_White-Paper_06032017_vF.pdf</a>):</li>
</ol>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Los Angeles <br />
            </td>
            <td>&nbsp;226</td>
        </tr>
        <tr>
            <td>San Francisco</td>
            <td>&nbsp;175</td>
        </tr>
        <tr>
            <td>Oslo</td>
            <td>&nbsp;161</td>
        </tr>
        <tr>
            <td>&nbsp;Stockholm</td>
            <td>&nbsp;82</td>
        </tr>
        <tr>
            <td>&nbsp;Copenhagen</td>
            <td>&nbsp;60</td>
        </tr>
        <tr>
            <td>&nbsp;Amsterdam</td>
            <td>&nbsp;36</td>
        </tr>
        <tr>
            <td>&nbsp;Paris</td>
            <td>&nbsp;32</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;<br />
<br />
&nbsp;<br />
&nbsp;<br />
&nbsp;<br />
&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-GLA - Mayor marks milestone of 100 rapid charging points -->

 
 
        
        
            @{ViewBag.Description = "Mayor marks key milestone of 100 rapid charging points across London for electric vehicles";}
        
        


 