


@{ViewBag.Title = "Highbury Corner is the latest junction to be transformed";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Highbury Corner is the latest junction to be transformed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Highbury Corner is the latest junction to be transformed</h1>
        <div class="content-page-press-release">
        14 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Highbury Corner will become safer for pedestrians and cyclists with two-way traffic replacing the outdated one-way system
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With more green space also open to the public, the changes will truly improve quality of life for everyone living and working around Highbury Corner"</div>
        <div class="quote-footer">
            <div class="quotee-name">Val Shawcross</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>Work to improve a junction with one of the poorest safety records in London will start this year, TfL, the Mayor of London and Islington Council have announced.</p>
<p>The transformation of Highbury Corner will see the intimidating 1960s roundabout removed and replaced with two-way roads, with the installation of segregated cycle lanes on all three remaining sides of the roundabout.</p>
<p>The work, which will begin in the summer and is due to finish in 2019, will give pedestrians and cyclists better facilities and create a new public space.</p>
<p>During consultation nearly two thirds of respondents supported aspects of the plans to improve the junction. Highbury Corner is already heavily used by cyclists with bikes making up nearly a quarter of all traffic in the morning rush hour.</p>
<h2>Improve access</h2>
<p>The creation of safer cycling infrastructure will enable more people to cycle in and through the area who are currently put off by the traffic-dominated roundabout.</p>
<p>The thorough consultation has allowed TfL and Islington to amend the designs to improve access to the arboretum and pedestrian access to Highbury &amp; Islington station.</p>
<p>The improvements to Highbury Corner include:</p>
<ul>
    <li>Closing the western arm of the roundabout to create a public space including the Highbury &amp; Islington Station forecourt, and part of the arboretum (the green space at the centre of the roundabout)</li>
    <li>Installing segregated cycle lanes on all three remaining sides of the roundabout</li>
    <li>Introducing two-way traffic</li>
    <li>Encouraging more walking with wider pedestrian crossings - making it quicker and easier to cross and with Legible London signage to improve wayfinding</li>
    <li>Providing local residents and visitors with more green space by partially opening the arboretum to public access while protecting the existing trees</li>
    <li>Closing the southern section of Corsica Street to motor traffic and creating a 'continuous footway' across the junction entrance to give pedestrians priority over traffic</li>
    <li>Installing a shared pedestrian/cycle 'toucan' crossing across St Paul's Road to allow two-way cycling to and from Corsica Street</li>
</ul>
<h2>Exciting plans</h2>
<p>Deputy Mayor for Transport, Val Shawcross, said: 'These are really exciting plans that will both improve safety and make Highbury Corner a more attractive and enjoyable place to spend time.</p>
<p>'With more segregated cycle lanes across the junction and wider pedestrian crossings the changes will make cycling and travelling on foot easier and safer for everyone using this busy area every day.</p>
<p>'With more green space also open to the public, the changes will truly improve quality of life for everyone living and working around Highbury Corner.'</p>
<p>Cllr Claudia Webbe, Islington Council's Executive Member for Environment and Transport, said: 'This is an amazing opportunity to transform a busy, polluted and outdated junction into an attractive place for pedestrians, public transport users and cyclists, with safer, segregated cycle lanes.</p>
<p>'We want to create a much-improved Highbury Corner for residents, businesses, workers and visitors and to link the station with the trees and green space currently stuck on a traffic island.</p>
<p>'The public support for this transformation has been overwhelming. We will continue to work closely with Transport for London to minimise disruption, and I am recommending the council's Executive approves this proposal.'</p>
<h2>Better environment</h2>
<p>Ben Plowden, TfL's Surface Transport Director of Projects and Programme Sponsorship, said: 'It's great that so many people have helped shape our plans to help make a better environment for all of those who live in, work in or visit Highbury Corner area while reducing road danger.</p>
<p>'When we've finished our work this junction will support the movement of more people by making walking, cycling and public transport easier &#45; while safely opening up a tranquil pocket of greenery in the middle of the city.</p>
<p>'There will be some disruption while the work is taking place, so Londoners are advised to plan ahead and leave more time for their journeys after the work starts.'</p>
<p>Fran Graham, Campaigns Coordinator, London Cycling Campaign, said: 'London Cycling Campaign welcomes the news that Highbury Corner will finally be tamed.</p>
<p>'These improvements will make the junction much safer for the majority of people that already walk and cycle around this dangerous roundabout, and will mean that many more will be able travel though safely and enjoyably.</p>
<p>'The Mayor will have also taken another step towards fulfilling his Sign for Cycling commitment to fix the most dangerous junctions in London.'</p>
<p>The improvements to Highbury Corner will help achieve the Mayor's aim, set out in his new Transport Strategy, of 80% of journeys being made by foot, bike or public transport by 2041. In doing so, it will improve Londoners' health, tackle congestion and clean up London's air.</p>
<p><hr /></p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>The consultation ran between 5 February and 20 March 2016 and received 2,823 responses. TfL and Islington Council's responses to issues raised and the full breakdown of respondents can be found here - <a href="https://consultations.tfl.gov.uk/roads/highbury-corner-roundabout/?cid=highbury-corner-roundabout">tfl.gov.uk/highbury-corner-roundabout</a></li>
    <li>The changes to the access of the arboretum including on the western side mean that the eastern half of the arboretum, including the option to open up a path from the south-eastern corner will not be carried forward to ensure the most vulnerable trees are protected</li>
    <li>The previously proposed new pedestrian crossing allowing for access to the south-eastern corner of the arboretum at the junction of Upper Street with Canonbury Road (option 2) will no longer be required due to the changed access to the arboretum</li>
    <li>Despite the lack of safe facilities Highbury Corner is a popular route for cyclists, with 22% of all traffic in the morning being cyclists</li>
    <li>Highbury Corner appears on TfL's Safer Junctions list - <a href="https://tfl.gov.uk/info-for/media/press-releases/2017/april/new-roads-targeted-in-updated-safer-junctions-programme">tfl.gov.uk/info-for/media/press-releases/2017/april/new-roads-targeted-in-updated-safer-junctions-programme</a></li>
    <li>The latest cycling in London statistics can be found here - <a href="https://tfl.gov.uk/corporate/publications-and-reports/travel-in-london-reports">tfl.gov.uk/corporate/publications-and-reports/travel-in-london-reports</a></li>
    <li>The work to transform Highbury Corner will follow the completion of the vital Highbury Corner Bridge work &#45; which is due to finish ahead of schedule this spring</li>
    <li>More information on the Highbury Corner Bridge replacement is available here - <a href="https://tfl.gov.uk/status-updates/major-works-and-events/highbury-corner-bridge---a1-holloway-road?cid=highbury-corner">tfl.gov.uk/highbury-corner</a></li>
    <li>TfL and Islington will monitor the traffic impact on local surrounding roads and consider any necessary mitigation measures</li>
    <li>Islington Council is today (March 14) publishing a report from Cllr Webbe which recommends that its Executive supports the Highbury Corner improvements.  The Executive will meet on March 22 to consider the report</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Highbury Corner is the latest junction to be transformed -->

 
 
        
        
            @{ViewBag.Description = "Highbury Corner is the latest junction to be transformed";}
        
        


 