


@{ViewBag.Title = "Mayor of London announces TfL fares will apply to Elizabeth line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor of London announces TfL fares will apply to Elizabeth line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor of London announces TfL fares will apply to Elizabeth line</h1>
        <div class="content-page-press-release">
        16 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL confirms that Elizabeth line pay as you go fares in central London will be the same as the equivalent Tube fare &#45; saving money for millions of Londoners
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted to announce today that the cost of travelling on the Elizabeth Line in Zones 1-6 will be the same price as a similar journey on the tube &#45; fulfilling a key manifesto pledge to deliver truly world-class transport infrastructure which is also accessible and affordable for all Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London, Sadiq Khan, and TfL have today announced that Elizabeth line pay as you go fares within Zones 1-6 will be the same as the fares on existing TfL services, ensuring affordable travel for millions of Londoners when the railway opens through central London in December this year.</p>
<p>All customer service and travel information on the line will be fully integrated with TfL's other services, with daily fare capping for Oyster and contactless applying.</p>
<p>Today's announcement means that journeys on the brand-new railway from east London stations such as Whitechapel or Canary Wharf through central London to stations in the west such as Paddington, Southall or Ealing Broadway will cost the same as an equivalent Tube journey.</p>
<p>As a result, passengers on the Elizabeth line will reap the benefits of the Mayor's TfL fares freeze, currently benefitting 4 million transport journeys across London every day.</p>
<h2>Brand-new railway</h2>
<p>Customers will also see savings well in advance of the Elizabeth line opening in December. From Sunday 20 May, the current Heathrow Connect service between Heathrow Terminals 2/3, Heathrow Terminal 4 and Paddington will be transferred to TfL.</p>
<p>While TfL zones do not apply to these Heathrow fares, for the first time, customers will be able to use pay as you go with Oyster and contactless across the route all the way from Paddington to Heathrow. Fares will also be cheaper or in line with the current standard fares charged for Heathrow Connect.</p>
<p>Standard zonal fares will continue to apply for journeys between Paddington and Hayes &amp; Harlington, with special single fares applying for journeys to and from Heathrow Airport.</p>
<p>Example fares include:</p>
<ul>
    <li>A journey from Heathrow Airport to Ealing Broadway currently costs &pound;8.00 using Heathrow Connect.  From May, this will fall to &pound;7.30 (peak) and &pound;6.00 (off-peak)</li>
    <li>A journey from Canary Wharf to Heathrow Airport currently costs &pound;13.20 using the Tube and Heathrow Connect. From May, this will fall to &pound;12.10 (peak) and &pound;10.10 (off-peak)</li>
    <li>A journey from Shepherds Bush to Heathrow Airport via Ealing Broadway currently costs &pound;12.50 using the Central line and Heathrow Connect. From May, this will fall to &pound;7.30 (peak) and &pound;6.00 (off-peak)</li>
</ul>
<p>As part of the integrated service, daily fare capping for Oyster and contactless and weekly fare capping for contactless will apply, with travelcards that cover Zone 6 able to be used on services to Heathrow.</p>
<p>For daily and weekly capping, Heathrow will be designated as 'Zone 6', meaning that 'pay as you go' customers travelling to and from the Airport from within Zones 1-6 will never pay more than the daily cap of &pound;12.50.</p>
<h2>Significantly reduce the cost</h2>
<p>All concessions which offer free or discounted travel, including the Zip Card, 60+ photocards and Veterans Concessionary Travel, will be valid on the Elizabeth line.</p>
<p>This will significantly reduce the cost for families travelling to Heathrow via Paddington, and mean that, from May 2018, a family of four (two adults and two children under 11) will save more than &pound;10 travelling from Paddington to Heathrow.</p>
<p>Mayor of London, Sadiq Khan, said: 'The opening of the Elizabeth Line this year will transform travel across London, with new state-of-the-art trains transporting millions of people more quickly around the capital.</p>
<p>'I'm delighted to announce today that the cost of travelling on the Elizabeth Line in Zones 1-6 will be the same price as a similar journey on the tube &#45; fulfilling a key manifesto pledge to deliver truly world-class transport infrastructure which is also accessible and affordable for all Londoners.</p>
<p>'For Londoners going to Heathrow, many of the benefits will be felt in a matter of months, with Oyster, Contactless, and cheaper fares coming in when TfL takes over the service from Heathrow Connect in May.'</p>
<h2>Transform travel</h2>
<p>Mike Brown MVO, London's Transport Commissioner, said: 'From May customers travelling to Heathrow Airport from Paddington will be able to enjoy the convenience of using Oyster or contactless as they do across the rest of the TfL network, guaranteeing the cheapest fare.</p>
<p>'Customers will also see staff at our stations at all times when trains are running to offer them assistance, and will benefit from our 'turn-up-and-go' service for anyone needing assistance. All travel information will also be fully integrated with our other transport services.</p>
<p>'When Elizabeth line services through central London open in December, they will transform travel across London.</p>
<p>'The railway will provide many new direct journey options between Canary Wharf, central London and Heathrow Airport, and will cut journey times dramatically and ensure London remains a world-leading city.'</p>
<p>Steve Chambers, Public Transport Campaigner, Campaign for Better Transport said: 'This is good news for Londoners, integrating the Elizabeth line with the familiar Oyster card and contactless bank card ticketing system.</p>
<p>'Lower fares, particularly at off-peak times, encourage people to travel where there is capacity and can benefit part time workers.'</p>
<h2>Affordable</h2>
<p>Jasmine Whitbread, Chief Executive of Business Group, London First, said: 'The brand new Elizabeth Line will dramatically improve journeys across our capital and to London's global hub at Heathrow, and ensuring fares are affordable is great news for Londoners and visitors alike.</p>
<p>'London's businesses have worked hard to support, and help pay for, the Elizabeth line and we're counting the days until it opens its doors.'</p>
<p>Jace Tyrrell, CEO of New West End Company, said 'Integrating the Elizabeth line in to London's existing transport network is crucial to its success and will ensure that benefits from this once-in-a-generation opportunity are properly realised.</p>
<p>'New West End Company welcomes TfL's decision to launch the service with lower fares and a single ticketing system, enabling the West End to remain competitive and attractive with both visitors and employees.'</p>
<p>Kay Buxton, Executive Director of The Paddington Partnership, said: 'Paddington is synonymous with transport innovation and connectivity boasting an illustrious heritage from the origins of Great Western Railway and the home of Heathrow Express to the forthcoming introduction of the Elizabeth line.</p>
<p>'The Mayor of London's decision to extend the TfL fare freeze to the Elizabeth line demonstrates London's position as a global leader in infrastructure and development.</p>
<p>'The Paddington Partnership has and continues to prepare for the influx of visitors, workers and interest to the local area by becoming the capital's fastest growing and most dynamic location.</p>
<p>'In the past 10 years, over 3.3 million sq ft of contemporary and conscientious retail, leisure, office and residential developments have launched or are in the pipeline to support the area's connectivity today and in the future.'</p>
<p>John Holland-Kaye, Heathrow's Chief Executive said: 'The opening of the Elizabeth line will help make travel to the airport more accessible and sustainable for millions of passengers and colleagues.</p>
<p>'This service, along with new rail connections to the south and west and HS2 through Old Oak Common, will put Heathrow at the heart of an integrated transport network, reduce traffic around the airport, and improve local air quality.'</p>
<h2>Redefine transport</h2>
<p>Opening through central London in December 2018, the Elizabeth line will redefine transport in London with quicker, easier and more accessible journeys.</p>
<p>The new railway, jointly sponsored by the Department for Transport and TfL, will connect stations such as Paddington to Canary Wharf in only 17 minutes, transforming how Londoners and visitors move across the Capital.</p>
<p>From May, TfL Rail services will operate two trains an hour between Paddington and Heathrow using the existing Heathrow Connect trains, an identical frequency to now.</p>
<p>A further two trains an hour will run between Paddington and Hayes &amp; Harlington using the new Elizabeth line trains, replacing part of the Great Western inner suburban route.  Testing is underway to allow TfL to introduce the new Elizabeth line trains to the airport.</p>
<p>For more information about the Elizabeth line, please visit <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/elizabeth-line?cid=elizabeth-line">tfl.gov.uk/elizabeth-line</a>
</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Details of the specific fares from Heathrow airport on TfL rail services from May 2018:</li>
</ul>
<p><strong>Peak services Monday to Friday (06.30 &#45; 09.30 and 16.00 &#45; 19.00)</strong></p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td> Heathrow to/from:</td>
            <td><strong>2018 Heathrow Connect  fares </strong></td>
            <td><strong> Proposed Elizabeth Line  Peak PAYG fares</strong></td>
            <td><strong> Difference to current Heathrow Connect fare</strong></td>
            <td><strong>Daily Cap</strong> </td>
        </tr>
        <tr>
            <td> London Paddington</td>
            <td> <strong>&pound;10.30</strong></td>
            <td> &pound;10.20</td>
            <td> 10p cheaper (1%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> Hayes &amp; Harlington</td>
            <td><strong> &pound;6.30</strong></td>
            <td> &pound;6.20</td>
            <td> 10p cheaper (2%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> Southall, Hanwell</td>
            <td> <strong>&pound;6.90</strong></td>
            <td> &pound;6.90</td>
            <td> </td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> West Ealing-Greenford</td>
            <td> <strong>&pound;8.00</strong></td>
            <td> &pound;7.30</td>
            <td> 70p cheaper (9%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td>Ealing Broadway/Acton Main Line </td>
            <td> <strong>&pound;8.00</strong></td>
            <td> &pound;7.30</td>
            <td> 70p cheaper (9%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> TfL Zone 1 stations</td>
            <td><strong> &pound;12.70</strong></td>
            <td> &pound;12.10</td>
            <td> 60p cheaper (5%)</td>
            <td> &pound;12.50</td>
        </tr>
    </tbody>
</table></div>
<p ><br />
<strong>Off-peak services</strong></p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td> Heathrow to/from:</td>
            <td> <strong>2018 Connect  fares</strong></td>
            <td><strong>Elizabeth Line off-peak PAYG fares </strong></td>
            <td><strong> Difference to current Heathrow Connect fare</strong></td>
            <td><strong> Daily Cap</strong></td>
        </tr>
        <tr>
            <td> London Paddington</td>
            <td><strong> &pound;10.30</strong></td>
            <td> &pound;10.10</td>
            <td> 20p cheaper (2%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> Hayes &amp; Harlington</td>
            <td><strong> &pound;6.30</strong></td>
            <td> &pound;6.00</td>
            <td> 30p cheaper (5%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> Southall, Hanwell</td>
            <td><strong> &pound;6.90</strong></td>
            <td> &pound;6.00</td>
            <td> 90p cheaper (13%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> West Ealing-Greenford</td>
            <td> <strong>&pound;8.00</strong></td>
            <td> &pound;6.00</td>
            <td> &pound;2.00 cheaper (25%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> Ealing Broadway/Acton Main Line</td>
            <td><strong> &pound;8.00</strong></td>
            <td> &pound;6.00</td>
            <td> &pound;2.00 cheaper (25%)</td>
            <td> &pound;12.50</td>
        </tr>
        <tr>
            <td> TfL Zone 1 stations</td>
            <td><strong> &pound;12.70</strong></td>
            <td> &pound;10.10</td>
            <td> &pound;2.60 cheaper (20%)</td>
            <td> &pound;12.50</td>
        </tr>
    </tbody>
</table></div>
<ul>
    <li>Pay as you go journeys between Paddington and West Drayton have been set at the TfL zonal rate since it was introduced in September 2008.</li>
</ul>
<p><strong>TfL Rail stopping pattern: May 2018</strong></p>
<p>Two trains per hour from Paddington &#45; Heathrow (T2&amp;3) using Heathrow Connect trains</p>
<ul>
    <li>Services will call at all stations along the route except Acton Main Line (the same as today)</li>
</ul>
<p>Two trains per hour from Paddington - Hayes &amp; Harlington using new Elizabeth line trains</p>
<ul>
    <li>Services will call at all stations along the route including Acton Main Line but not Hanwell (the same as today)</li>
    <li>Customers wanting to travel to Heathrow should change at Hayes &amp; Harlington</li>
</ul>
<p>All trains call at Ealing Broadway, West Ealing, Southall, Hayes &amp; Harlington (the same as today)</p>
<ul>
    <li>From December the line will initially operate as three services:<br />
    o   Paddington (Elizabeth line station) to Abbey Wood via central London<br />
    o   Paddington (mainline station) to Heathrow (Terminals 2&amp;3 and 4)<br />
    o   Liverpool Street (mainline station) to Shenfield</li>
    <li>TfL reinvests all income to run and improve services for customers and users</li>
    <li>All TfL travel concessions and discounts will apply on TfL Rail, and subsequently, Elizabeth line services, including:<br />
    o   Free travel for under 11s accompanied by an adult<br />
    o   Lower ZIP photocard fares for under 16s and students with ZIP photocards<br />
    o   Free travel for customers with a 60+ London Oyster photocard, Freedom Pass or Veterans Oyster photocard<br />
    </li>
    <li>Customers using these services will also benefit from the same refund policy as existing TfL Rail customers &#45; if they are delayed for 30 minutes or more for a reason within TfL's control they will be entitled to a full single fare refund for their journey.  If there is an incident which causes significant disruption then automatic refunds will be issued</li>
    <li>Heathrow Express services will continue as normal with pay as you go with Oyster and Contactless planned to be introduced later this year. All fares will continue to be set directly by Heathrow Express and remain outside the fare zones and Travelcard system</li>
    <li>The introduction of the Elizabeth line is central to the Mayor's draft Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys</li>
    <li>The Crossrail project is being delivered by Crossrail Limited, a wholly-owned subsidiary of TfL, and is jointly sponsored by the Department for Transport and TfL. The TfL run railway will be named the Elizabeth line when services through central London open in December 2018. The Elizabeth line will pass through 41 stations from Reading and Heathrow in the west, through new twin-bore 21 km tunnels to Shenfield and Abbey Wood in the east</li>
</ul>
<p>The Mayoral Direction can be found here: <a href="https://www.london.gov.uk/about-us/governance-and-spending/good-governance/decisions?order=DESC">https://www.london.gov.uk/about-us/governance-and-spending/good-governance/decisions?order=DESC</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Mayor of London announces TfL fares will apply to Elizabeth line -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London announces TfL fares will apply to Elizabeth line";}
        
        


 