


@{ViewBag.Title = "New local funding to accelerate transition to zero emission vehicles and tackle air pollution‎";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New local funding to accelerate transition to zero emission vehicles and tackle air pollution‎</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New local funding to accelerate transition to zero emission vehicles and tackle air pollution‎</h1>
        <div class="content-page-press-release">
        02 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding for innovative projects in Camden, Hammersmith & Fulham and Hackney to accelerate switch to zero emission vehicles to tackle London's toxic air
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"To get to grips with London's toxic air health crisis the Mayor has significantly increased air quality funding and these new local schemes will help accelerate the switch to cleaner vehicles around town centres, schools and high streets to help dramatically reduce toxic pollution emissions"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shirley Rodrigues</div>
            <div class="quotee-job-title">Deputy Mayor of Environment & Energy</div>
        </div>
</div>

 <div class="on-this-page">
<p>Today the Mayor of London, TfL and London Councils have announced &pound;766,000 of new funding for three local boroughs to help accelerate the switch to zero emission vehicles to tackle London's toxic air pollution.</p>
<p>The 'Neighbourhoods of the Future' projects include a new school low emission zone in Camden to protect pupils from filthy air, electric charging points in streets in Hackney's markets, and a zero emission street and wider Low Emission Zone near Hammersmith town centre.</p>
<p>Camden, Hackney and Hammersmith &amp; Fulham will receive funding for three new projects, which will build on the six that were awarded last year.</p>
<h2>Creative thinking</h2>
<p>These were a joint bid from Hackney, Tower Hamlets and Islington (City Fringe), one from Hammersmith &amp; Fulham, a joint bid from Croydon and Sutton, and one each from Harrow, Haringey and Heathrow.</p>
<p>Neighbourhoods of the Future projects demonstrate creative thinking in the drive to encourage Londoners to make the urgently required switch to cleaner zero emission vehicles.</p>
<p>The successes from these projects in helping people travel to work, school or the shops in a more sustainable way can be replicated across the country as part of the national fight against lethal air pollution.</p>
<p>This investment in these local green schemes is supercharging the capital's trajectory towards a zero emission future.</p>
<h2>Zero emission future</h2>
<p>The &pound;766,000 funding will be matched with around &pound;875,000 from the London boroughs involved, showing a firm commitment from the capital's municipal leaders to work in partnership with the Mayor to clean up the city's air.</p>
<p>The winning Neighbourhoods of the Future bids, which will give local communities the infrastructure they need to embrace less polluting forms of transport, are:</p>
<ul>
    <li><strong>Camden</strong> - 23 schools will benefit from a School Low Emission Neighbourhood in the Frognal and Fitzjohns area. The proposal will see 8,500 pupils at 23 schools benefit from streets in the vicinity being restricted to electric and local access only, electric vehicle charging points in school car parks and points to power up at lamp posts close to home (&pound;720,000 overall funding)</li>
    <li><strong>Hackney</strong> - electrified market streets that will help businesses and customers make the transition to cleaner vehicles. New charging points on three market streets in the borough will be built into existing features such as bollards and posts, while remaining sensitive to the look-and-feel of the area. The points will serve some of the most diverse and vibrant streets in London, servicing street traders, commercial vehicles and public buildings (&pound;270,000 overall funding)</li>
    <li><strong>Hammersmith &amp; Fulham</strong> - a Hammersmith Town Centre Low Emission Zone.   A trail-blazing local Low Emission Zone that prioritises and encourages the use of the cleanest vehicles. It will build on a proposed zero emission street on Hammersmith Grove. This will be complimented with the installation of an electric taxi rank; a last-mile courier hub; and communication support (&pound;650,000 overall funding)</li>
</ul>
<p>The London boroughs of Barnet and Redbridge have also confirmed their future involvement in the 'Neighbourhoods of the Future' programme, and will be developing projects for funding. This is part of the London-wide effort to clean up the city's toxic air.</p>
<p>Neighbourhoods of the Future form part of London's &pound;13 million Go Ultra Low Cities scheme, the Government-funded drive to encourage the switch to electric cars and vans.</p>
<h2>Hard-hitting measures</h2>
<p><strong>Shirley Rodrigues, the Deputy Mayor of Environment &amp; Energy said</strong>:  'To get to grips with London's toxic air health crisis the Mayor has significantly increased air quality funding and these new local schemes will help accelerate the switch to cleaner vehicles around town centres, schools and high streets to help dramatically reduce toxic pollution emissions.</p>
<p>'The Mayor is introducing hard-hitting measures to tackle London's filthy air. He has already brought in a 'toxicity' charge (T-Charge) for older cars in central London, and is upgrading London's buses into one of the greenest fleets in the world.</p>
<p>'However he cannot do this alone and the Government needs to urgently face its responsibility and implement a national diesel scrappage fund to take the most polluting vehicles off our roads now.'</p>
<p><strong>Alex Williams, TfL's Director of City Planning, said</strong>: '&quot;If we are to bring London's air quality within legal limits it will require us, local authorities and Government to work closely together.</p>
<p>'The Neighbourhoods of the Future are a fantastic example of how partnership working can lead to innovative projects that make a real difference to Londoners' lives.'</p>
<h2>Community-led</h2>
<p><strong>Cllr Julian Bell, Chair of the Go Ultra Low City Scheme Steering Group and London Councils' Transport and Environment Committee Chair, said</strong>: 'London boroughs are playing their part in the fight to clean up London's dirty air and making it easier for residents and businesses to use electric vehicles is one important part of this.</p>
<p>'It is great news that three more innovative projects led by London boroughs have been championed by Neighbourhoods of the Future, which will enable them to invest in schemes to encourage use of electric vehicles locally.</p>
<p>'These will join the six projects already testing new ways of encouraging drivers to open their eyes to the benefits of electric vehicles.'</p>
<p><strong>Cllr Adam Harrison, Cabinet Member for Improving Camden's Environment said</strong>: 'Cleaning up our air is one of the major challenges of our era. This funding will allow us to install new electric charging points in the Fitzjohns and Frognal area of Hampstead, where a community-led air-monitoring project identified that there was a particular problem.</p>
<p>'The impact of the 'school run' is something residents across the borough have raised with us very forcefully. With this new funding, pupils will benefit from a range of measures, including streets in the local area being restricted to electric and local access only.'</p>
<h2>Greener choices</h2>
<p><strong>Cllr Wesley Harcourt, Hammersmith &amp; Fulham Cabinet Member for Environment, Transport and Residents' Services, said</strong>: '&quot;We have innovative plans to radically improve air quality in Hammersmith Town Centre and encourage people to adopt less polluting forms of transport.</p>
<p>'So we're delighted to get this funding which will help us remain at the vanguard of environmental change in inner London.'</p>
<p><strong>Cllr Feryal Demirci, Hackney Cabinet Member for Neighbourhoods, Transport and Parks said</strong>: 'Improving air quality is a priority for Hackney and we are working hard to make it as easy as possible for residents, businesses and visitors to make greener choices.</p>
<p>'Through bringing electrical charging points to our street markets and by adapting lamp posts, residents and businesses alike will have much easier access to low emission solutions to help improve air quality in the borough and reduce their carbon footprint.'</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<p>The previous six winning bids were as follows</p>
<ul>
    <li><strong>Hammersmith &amp; Fulham</strong> &#45; a zero emission street for Hammersmith town centre including standard and rapid charge points for electric vehicles, as well as improvements to public space and other innovations such as sustainable urban drainage (&pound;210,000 overall funding)</li>
    <li><strong>Heathrow</strong> &#45; a trial of one of the UK's first hydrogen-diesel powered vans at Heathrow airport's delivery consolidation centre, supporting the reduction of emissions from its day-to-day operations (&pound;130,000 overall funding)</li>
    <li><strong>City Fringe (Hackney, Islington and Tower Hamlets)</strong> &#45; new 'Electric streets' with a concentration of charging points and electric vehicle-only parking and loading points (&pound;1,198,000 overall funding)</li>
    <li><strong>Harrow</strong> &#45; mechanics specially trained to service Ultra-Low emission vehicles (ULEVs). Electric Vehicle (EV) charging points will be installed in Harrow town centre, and local businesses will trial the use of EV fleets (&pound;230,000 overall funding)</li>
    <li><strong>Haringey</strong> &#45; clean energy charging schemes, including a rapid charging taxi rank, in addition to specialist business and community engagement to drive awareness of green technology and encourage behaviour change (&pound;609,000 overall funding)</li>
    <li><strong>Croydon &amp; Sutton</strong> &#45; electric vans and trucks loaned to businesses in the Beddington Industrial Area, to reduce pollution caused by the high levels of construction in Croydon town centre (&pound;123,306 overall funding)</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-New local funding to accelerate transition to zero emission vehicles and tackle air pollution‎ -->

 
 
        
        
            @{ViewBag.Description = "New local funding to accelerate transition to zero emission vehicles and tackle air pollution";}
        
        


 