


@{ViewBag.Title = "Overwhelming support for Camden Town Tube station modernisation";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Overwhelming support for Camden Town Tube station modernisation</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Overwhelming support for Camden Town Tube station modernisation</h1>
        <div class="content-page-press-release">
        22 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation on proposals for an expanded Camden Town Tube station shows 97 per cent of respondents support plans
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have seen fantastic support from the local community for our plans to make the station more spacious, comfortable and equipped to support the growing demand in the area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Modernisation would see the station treble in size, reducing current crowding</li>
    <li>Step-free access from street to train would be provided</li>
</ul>
<p>Transport for London (TfL) has announced that the proposals to modernise and upgrade Camden Town Tube station have received strong backing from the local community. A consultation found that 97% of respondents supported the plans to hugely increase the size of the station.</p>
<p>The proposals would see the station treble in size, and would include the construction of a new entrance on Buck Street. Three new escalators and new lifts providing step-free access would also be installed, making the vibrant Camden area much more accessible for everyone. Customers using the four Northern line platforms would benefit from more circulating space - making journeys more comfortable, particularly in the busiest periods of the day.</p>
<p>Camden Town is already one of the busiest interchanges on the Underground network, with over 30 million customers using the station each year. The number of passengers using the station is expected to rise by 40% and the original station &#45; designed in 1907 &#45; needs to be modernised to cope with the increased and growing demand. Crowd control measures, including making the station exit only, are regularly used as a means of easing congestion and ensuring safety.</p>
<p><strong>Mark Wild, Managing Director of London Underground, said:</strong> &quot;The modernisation of Camden Town station will positively impact the tens of thousands of customers who use it every day and will transform accessibility to this vibrant part of London. We have seen fantastic support from the local community for our plans to make the station more spacious, comfortable and equipped to support the growing demand in the area. We will now continue to develop our plans, which are part of the Mayor's transport strategy of encouraging greater use of public transport, reducing reliance on the car and making London a healthier, cleaner place.&quot;</p>
<p>More than 600 people responded to the consultation, with 97% of responses supporting the proposals to improve capacity at Camden Town station &#45; 90% strongly supported and 7% partially supported the proposals. Fewer than two per cent opposed the proposals. In the first public consultation in 2015, 95% of the respondents agreed that the station needs an upgrade.</p>
<p>TfL will consult later this year on how the new entrance might be built and how it will manage the impacts of construction, and subject to the outcome of that consultation it will apply for powers to upgrade Camden Town station through a Transport Works Act Order application. If permission is granted, work could begin in 2021 with completion targeted for 2025/26.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to editors</p>
<ul>
    <li>The full consultation report and our response to the issues raised is available at: <a href="http://www.tfl.gov.uk/camden-town-upgrade">tfl.gov.uk/camden-town-upgrade</a></li>
    <li>An artist's sketch of the station entrance is available here: <a href="https://www.flickr.com/photos/tflpress/34737908963/">https://www.flickr.com/photos/tflpress/34737908963/</a></li>
    <li>The Camden Town Station Upgrade is part of a wider Northern line investment programme aimed at improving the line. Projects include the introduction of the Night Tube on the Charing Cross branch of the line, station improvements such as Tottenham Court Road and a signalling upgrade which has resulted in a 20% increase in capacity</li>
    <li>The existing station entrance would remain open to customers following the upgrade</li>
    <li>We have also consulted on a proposed development above and around the station which would include affordable housing and commercial space. We will be applying for planning permission from Camden Council for this development and more information is available at: <a href="http://www.tfl.gov.uk/camden-town-development">tfl.gov.uk/camden-town-development</a></li>
</ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Overwhelming support for Camden Town Tube station modernisation -->

 
 
        
        
            @{ViewBag.Description = "Overwhelming support for Camden Town Tube station modernisation";}
        
        


 