


@{ViewBag.Title = "Plan ahead to make the most of the capital this Easter";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan ahead to make the most of the capital this Easter</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan ahead to make the most of the capital this Easter</h1>
        <div class="content-page-press-release">
        20 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers are advised to plan ahead by searching 'TfL Easter travel' for alternative travel options and to follow &#64;TfLTravelAlerts for the latest information
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We need to use the quieter period to carry out work which is vital to the modernisation of the Tube and rail network and for preparations ahead of opening the Elizabeth line in December"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is encouraging Londoners and visitors to the capital to make the most of the Bank Holiday weekend by planning their journeys in advance from Friday 30 March until Monday 2 April 2018 to check for planned work and service changes on some parts of the transport network.</p>
<p>There is no better way to explore London over the Bank Holiday weekend than by public transport, with off-peak fares, the Hopper fare, which provides unlimited bus and tram journeys in one hour for the price of one, as well as daily fare capping and convenient payment with Oyster or contactless.</p>
<p>London Buses will continue to run throughout the Easter Bank Holiday weekend, with amended timetables on Friday and Monday.</p>
<h2>Essential improvement</h2>
<p>The majority of TfL services will be running as usual throughout the Easter Bank Holiday providing ways to get around London, however engineers will be working across the traditionally quieter period to carry out essential improvement work on tracks, signalling and roads at some locations.</p>
<p>This work includes testing for the huge modernisation of the Circle, District, Hammersmith &amp; City and Metropolitan lines, which will transform the oldest parts of the Tube network into one of the most modern railways in the world.</p>
<p>The upgrade programme will increase capacity by 33% across the four lines, making journeys quicker and more reliable.</p>
<p>Vital work will also continue on the TfL Rail route, preparing for Elizabeth line services that will transform travel with quicker, easier and more accessible journeys across the capital when the line opens from December.</p>
<h2>Alternative travel options</h2>
<p>Where work is taking place, alternative travel options will be available. Full details of the work and Easter travel advice can be found on TfL's website at <a href="http://tfl.gov.uk/easter-travel">tfl.gov.uk/easter-travel</a> or by searching <strong>'TfL Easter travel'</strong> online.</p>
<p>From Friday 30 March to Monday 2 April 2018, planned work is expected to affect Tube and rail services. Key closures during this period include:</p>
<ul>
    <li>No Northern line service between Charing Cross/Moorgate and Golders Green/East Finchley from Friday 30 March until Monday 2 April 2018</li>
    <li>No Circle or Hammersmith &amp; City line services between Edgware Road and Hammersmith on Saturday 31 March and Sunday 1 April 2018</li>
    <li>No District line service between Edgware Road and High Street Kensington on Saturday 31 March and Sunday 1 April 2018</li>
    <li>No TfL Rail service on the entire line, Liverpool Street to Shenfield, from Friday 30 March until Monday 2 April 2018</li>
</ul>
<p>On Tuesday 3 April and Wednesday 4 April, all southbound Northern line trains from Edgware will be via Charing Cross and all Northern line trains from High Barnet and Mill Hill East will be via Bank. This is while we complete improvements in the Camden Town area.</p>
<p>Due to Network Rail track and infrastructure work, some London Overground services will be suspended between:</p>
<ul>
    <li>Romford and Upminster from Friday 30 March until Monday 2 April 2018</li>
    <li>Liverpool Street and Enfield Town/Cheshunt/Walthamstow Central from  Saturday 31 March until Monday 2 April 2018 (extends to Chingford until 10:15 on the morning of Sunday 1 April 2018)</li>
    <li>New Cross Gate and Crystal Palace/West Croydon on Saturday 31 March and Sunday 1 April 2018</li>
</ul>
<p>On the London Trams network, some services will be suspended from Friday 30 March until Sunday 8 April due to essential track upgrade work. There will be no service between:</p>
<ul>
    <li>Sandilands and Reeves Corner from Friday 30 March until Wednesday 4 April</li>
    <li>Sandilands and East Croydon from Thursday 5 April until Sunday 8 April</li>
</ul>
<p>Some roads in central London will be affected by the City of Westminster's work to return Baker Street to two-way traffic to provide a safer and more welcoming environment.</p>
<h2>Plan ahead</h2>
<p>TfL is working closely with Westminster to minimise the impact of this work but road users are advised to plan ahead and leave more time for their journeys.</p>
<p>TfL will be using the Easter Bank Holiday weekend to reduce the long-term impact of roadworks on Farringdon Road &#45; by consolidating a month's worth of roadworks into just four days.</p>
<p>TfL has actively encouraged utility companies to carry out essential maintenance and repairs alongside our team constructing Cycle Superhighway 6 that would otherwise have required separate road closures over the coming months.</p>
<p>Mark Wild, Managing Director of London Underground, said: 'We want everyone to be able to make the most of their Bank Holiday weekend, and most of our services will operate as usual.</p>
<p>'However, there are some exceptions where we need to use the quieter period to carry out work which is vital to the modernisation of the Tube and rail network and for preparations ahead of opening the Elizabeth line in December.</p>
<p>'I would encourage customers planning to travel during this period to visit our website, where they can find the full detail of the work, closures and the alternative transport options that are available to help them get around.'</p>
<p>A full list of TfL's social media channels is also available at <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/">tfl.gov.uk/travel-information/social-media-and-email-updates/</a>, which includes details of the Twitter feeds for each of the 11 different London Underground lines, buses, the DLR, London Overground, TfL Rail, Santander Cycles, Emirates Air Line and live traffic news for updates during the Easter period.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Please note that some of the travel information could be subject to change and customers are advised to check before they travel</li>
    <li>Travel alternatives are available including replacement buses on most routes</li>
    <li>For more information on Baker Street two-way project, visit: <a href="https://tfl.gov.uk/status-updates/major-works-and-events/baker-street-roadworks?cid=baker-street-roadworks">tfl.gov.uk/baker-street-roadworks</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Plan ahead to make the most of the capital this Easter -->

 
 
        
        
            @{ViewBag.Description = "Plan ahead to make the most of the capital this Easter";}
        
        


 