


@{ViewBag.Title = "Plans for new crossing between Rotherhithe and Canary Wharf gain overwhelming public support";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plans for new crossing between Rotherhithe and Canary Wharf gain overwhelming public support</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plans for new crossing between Rotherhithe and Canary Wharf gain overwhelming public support</h1>
        <div class="content-page-press-release">
        21 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ninety-three per cent of respondents supported plans for a new pedestrian and cycling crossing across the Thames
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our plans should enable thousands more people to make walking and cycling a part of their everyday lives, improving life for everyone"</div>
        <div class="quote-footer">
            <div class="quotee-name">Val Shawcross</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>Plans for a proposed walking and cycling crossing across the Thames between Rotherhithe and Canary Wharf have been welcomed by Londoners, TfL confirmed today.</p>
<p>Ninety-three per cent of the 6,094 public responses received ‎in the recent consultation supported the creation of a new crossing, which would link existing and planned cycle routes on both sides of the river.</p>
<p>Once delivered, the crossing would enable more people to cycle and walk in the local area and support the Mayor's aim for 80% of Londoners' trips to be by cycling, walking or by public transport by 2041.</p>
<p>Pedestrians and cyclists currently have very limited opportunities to cross the river east of Tower Bridge easily and safely - restricting access to key destinations such as Canary Wharf and Canada Water.</p>
<h2>Sustainable growth</h2>
<p>The Greenwich Foot Tunnel is already operating at capacity at peak times and the Rotherhithe Tunnel, which is the only other permanent crossing option across the river at this point, is regularly avoided by pedestrians and cyclists due to the dominance of traffic, poor air quality and narrow footways.</p>
<p>A new river crossing would contribute towards supporting sustainable growth in east London, Canada Water and the Isle of Dogs by providing a viable alternative to the Jubilee line and other river crossings for those trips that could be made on foot or by bike.</p>
<p>The latest modelling by TfL suggests that, with future growth and development in the local area, by 2031 more than two million pedestrian and cyclist journeys every year are expected across the crossing, which could increase further if walking and cycling improvements are delivered across the wider area.</p>
<p>While a dedicated walking and cycling bridge is TfL's provisional preferred option, a number of options - an enhanced ferry service, a bridge or a tunnel &#45; were explored as part of the consultation.</p>
<p>The consultation also asked for preferences on crossing designs, locations and heights help to ensure that any final design reflected the views of local residents, businesses and stakeholders.</p>
<h2>Improve connectivity</h2>
<p>TfL's provisional preferred option of a navigable bridge was supported by 85% of responses to the consultation, with the northern alignment between Nelson Dock and Westferry Circus receiving the strongest support.</p>
<p>The consultation also showed that people felt that the proposed crossing was long overdue and would improve convenience and connectivity for those living, working or travelling to the area - with many commenting that the new crossing would have a positive environmental impact on the local area.</p>
<p>Based on these responses, TfL is now determining the most appropriate form of crossing and developing more detailed designs, together with a construction timeline.</p>
<p>TfL has also recently appointed Atkins, to provide engineering and architectural support, following a competitive procurement process. This will inform the next stages of procurement, as well as the Transport and Works Act Order (TWAO) application during 2019.</p>
<h2>Overwhelming support</h2>
<p>Deputy Mayor for Transport, Val Shawcross, said: 'I'm delighted that thousands of people took part in the consultation, and have given us such overwhelming support for a new walking and cycling crossing between Rotherhithe and Canary Wharf.</p>
<p>'With its growing population, a new river crossing is much needed in this part of east London, providing vital new connections for residents, businesses and commuters around Canary Wharf.</p>
<p>'Our plans should enable thousands more people to make walking and cycling a part of their everyday lives, improving life for everyone.'</p>
<p>Gareth Powell, Managing Director of Surface Transport at TfL, said: 'There is great potential for more walking and cycling journeys across London, particularly in east London.</p>
<p>'The response to this consultation has been overwhelming and has helped provide a clear message on the key design elements for the crossing.</p>
<p>'We are now working with Atkins, our design and engineering consultants, and local stakeholders to develop an accessible and achievable crossing that links to new and proposed walking and cycling routes on both sides of the river.'</p>
<h2>Better, easier access</h2>
<p>Mayor of Tower Hamlets John Biggs said: 'I am pleased that the vast majority of responses to the consultation on the Rotherhithe to Canary Wharf crossing have backed the bridge. I welcome the plans to improve pedestrian and cycling access in the Borough and look forward to working with TfL as the plans progress.'</p>
<p>Cllr Mark Williams, cabinet member for regeneration and new homes at Southwark Council, said: 'The area around Rotherhithe and Canada Water is woefully lacking in river crossings that proactively encourage more sustainable forms of transport, like cycling and walking.</p>
<p>'With our regeneration plans looking to bring more homes, retail, leisure and culture facilities to the area, we welcome the new crossing that will help bring people across the Thames and into our borough, as well as helping our residents get better, easier access to jobs and opportunities across the water.</p>
<p>'This will also tie in with Southwark's ever growing cycle highway infrastructure.'</p>
<p>The delivery of a new walking and cycling crossing in east London is part of a wide range of measures to promote active travel being delivered by the Mayor, TfL and the boroughs across London.</p>
<p>Last year TfL consulted on plans to introduce Cycle Superhighway 4, which when delivered would be the first high-quality segregated cycle route to south-east London.</p>
<h2>Safer cycling</h2>
<p>The route would bring safer cycling to the area as it connects Tower Bridge to Greenwich using more than four kilometres of segregated tracks and would see the redesign of the Rotherhithe Roundabout, which was identified as a priority as part of the Mayor's Safer Junctions programme.</p>
<p>It will also connect to the wider cycling network, connecting with Quietway 14 via a segregated cycle lane on Tanner Street, which provides a convenient route onwards to the North-South Cycle Superhighway at Southwark.‎</p>
<p>TfL and the boroughs are also working on a range of new cycle routes across London, including an 8km route between Hackney and the Isle of Dogs, and a 4km route from Peckham to Rotherhithe.</p>
<p>Together with the proposed crossing between Rotherhithe and Canary Wharf they would ultimately create a continuous 12km orbital cycle route, helping to facilitate thousands of cycling journeys between south and east London every day.</p>
<p>While a navigable bridge remains TfL's preference, no final decisions have been made on any specific aspects of design or location. TfL, with support from Atkins, will be exploring a number of different parameters to inform a final design option.</p>
<p>TfL hopes to be in a position to hold a second consultation on the designs for the crossing later in 2018.</p>
<p>This would allow local residents, visitors and commuters to comment on the proposed designs before they are completed and submitted as part of a consents application in 2019.</p>
<p>For more information, please visit <a href="http://www.tfl.gov.uk/R2CW-crossing">www.tfl.gov.uk/R2CW-crossing</a>
</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>This project is one of a number of proposed new river crossings for London which are intended to improve cross-river connectivity. These proposed crossings would consist of new public transport, vehicular, pedestrian and cycle links &#45; <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london</a></li>
    <li>A new crossing at this location has been considered by a number of stakeholders for over a decade. Sustrans (a sustainable transport charity) published a feasibility study in early 2016 which concluded that a walking and cycling bridge from Rotherhithe to Canary Wharf would be both economically and technically viable. This study set out a preferred option of a 'bascule' bridge between Durand's Wharf Park (south bank) and the impound lock on Westferry Road (north bank)</li>
    <li>We have subsequently been considering the scheme and over the past year we have been reviewing the need and different options for a crossing in this area. As part of this we have reviewed the work previously undertaken by Sustrans and others but it does not form part of our current work</li>
    <li>A navigable bridge would provide an accessible, safe and convenient facility for cyclists and pedestrians and help support a long term change in the way people travel in line with the vision set out in the Mayor's Transport Strategy. A bridge at this location currently has strong support from cycling groups, accessibility groups and residents. There are, however, some concerns about the impact it could have on residents who live nearby and a crucial consideration is the potential need to open the bridge for larger vessels on the river and how this would impact people's journeys</li>
</ul>
<p>TfL's assessment of other crossing option also suggested that:</p>
<ul>
    <li>A ferry would be the lowest cost option and could be delivered faster, although it is not expected to attract as many walking or cycling trips as a bridge or a tunnel</li>
    <li>A tunnel would offer similar benefits to a bridge and would not be impacted by river vessels, however, it is forecast to cost significantly more</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Plans for new crossing between Rotherhithe and Canary Wharf gain overwhelming public support -->

 
 
        
        
            @{ViewBag.Description = "Plans for new crossing between Rotherhithe and Canary Wharf gain overwhelming public support";}
        
        


 