


@{ViewBag.Title = "Property development above Elizabeth line stations to create jobs, growth and revenue";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Property development above Elizabeth line stations to create jobs, growth and revenue</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Property development above Elizabeth line stations to create jobs, growth and revenue</h1>
        <div class="content-page-press-release">
        26 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Series of development sites could raise &pound;500m for reinvestment in improving transport in London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Elizabeth line is set to redefine travel across our city and it is fantastic to see the sites above some of the major central London stations progressing"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>A huge programme of retail, commercial and residential developments at a number of Elizabeth line stations in central London is being progressed by TfL as the historic launch of the new railway draws closer.</p>
<p>Plans are in place for 12 major property developments over and around the new Elizabeth line stations and construction sites.</p>
<p>In total, the development plans cover more than three million square feet of high-quality office, retail and residential space between Paddington in the west and Woolwich in the east and could raise &pound;500m for reinvestment in improving transport in London.</p>
<p>The development agreements that have been recently signed include:</p>
<ul>
    <li>Bond Street station, where an agreement has been signed with Grosvenor Britain &amp; Ireland to develop 110,000 sq ft of floorspace above the western ticket hall. The proposed scheme comprises six floors of office accommodation above the station, served by an entrance lobby on Davies Street</li>
    <li>Farringdon station, where an agreement has been signed for the development over the eastern ticket hall with Helical Plc. The scheme, opposite the historic Smithfield Market, comprises circa 120,000 sq ft of office floor space over six storeys</li>
</ul>
<p>The site above Tottenham Court Road's eastern ticket hall, on the corner of Oxford Street and Charing Cross Road, was handed over to Derwent earlier this year.</p>
<p>Planning permission has been granted for a 285,000 sq ft project comprising 209,000 sq ft of offices, 36,000 sq ft of retail and a 40,000 sq ft theatre &#45; the first new West End theatre in a generation. Derwent will now start enabling works with the intention of appointing a main contractor later this year.</p>
<h2>More accessible journeys</h2>
<p>TfL also has an existing agreement with Great Portland Estates relating to the Bond Street eastern ticket hall at Hanover Square. The new mixed use scheme will deliver 325,000 sq ft and the site is expected to be handed over fully in the summer.</p>
<p>The Elizabeth line will redefine transport in London with quicker, easier and more accessible journeys when services begin in December.</p>
<p>Two hundred million passengers are expected to use the new line annually - more than all of London's airports combined. The first train was test-driven through the new tunnels last month as construction of Europe's largest infrastructure project reaches its final stages.</p>
<p>The Crossrail programme is the first major infrastructure project in the UK to integrate station designs with above station developments and improved public spaces.</p>
<p>Construction of the Elizabeth line has now entered its final stages and during the coming year completed assets will be handed over to Transport for London as the new infrastructure owner, who will now lead on Crossrail property developments.</p>
<h2>Improved public spaces</h2>
<p>The Elizabeth line sites are a key part of TfL's plans to establish a significant long-term revenue stream to reinvest in transport.</p>
<p>In 2016/17, TfL brought forward sites that will deliver 1,000 homes. By the end of March 2018, TfL will have brought forward sites that will deliver more than 3,000 homes. Half of all these homes will be affordable.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said 'The Elizabeth line is set to redefine travel across our city and it is fantastic to see the sites above some of the major central London stations progressing.</p>
<p>'These schemes will result in income of around &pound;500m and this will be reinvested in modernising and improving the transport network.</p>
<p>'The twelve sites will deliver much needed homes, office and commercial space and have been planned as an integral part of the development of the new railway. Not only will they provide revenue for investment, but will also support new jobs and drive economic growth.'</p>
<p>Ian Lindsay, Crossrail Land and Property Director said: 'The partnerships with Grosvenor and Helical are the latest step in creating more than three million square feet of quality commercial, residential and retail space above 12 Elizabeth line stations and construction sites.</p>
<p>'As developments like this show, the Crossrail project is much more than a railway. As well as delivering quicker journeys and new connections, the project is improving the built environment around and above our stations for Londoners and ensuring greater financial returns to the taxpayer.'</p>
<h2>Greater financial returns</h2>
<p>Craig McWilliam, Chief Executive, Grosvenor Britain &amp; Ireland, said: 'By opening up London, the Elizabeth line will bring a wealth of new opportunities for the West End and we are responding by investing in new employment space at what will be one of London's best-connected addresses.</p>
<p>'We anticipate significant interest at Bond Street given its proximity to multiple transport links and the West End's world-renowned retail streets, restaurants and open spaces. Grosvenor's 20-year vision is to transform its London estate to help tackle the pressures facing the capital.</p>
<p>'With London's rapid growth, this strategy will see Mayfair and Belgravia be more active and more open, working harder for the city. This development will deliver much-needed contemporary, well-connected office space for the area.'</p>
<p>Matthew Bonning-Snook, Property Director at Helical, said: 'We are a great believer in the potential of the area given the significant impact of the Elizabeth line and due to the wealth of cultural and public realm improvements that are planned and underway locally.</p>
<p>'Our adjacent office scheme overlooking Charterhouse Square, which is fully let, together with our Barts Square project which delivers a new urban quarter to the City and Smithfield, further highlights this belief.</p>
<p>'We will deliver a stunning statement building enlivened by fine&#45;scaled elevations inspired by the 19th century warehouses that frame the historic Smithfield Market.</p>
<p>'The external treatment of the building is sympathetic to its surroundings and reflects the colour palette of the architecture in the area, including vertical terracotta fins which will provide a different reading to each elevation dependent on the direction from which the building is viewed.'</p>
<p>TfL will use the lessons learnt from the Crossrail project in its plans for future transport schemes. TfL is continuing to progress plans for Crossrail 2 and the Bakerloo line extension &#45; which together will support the creation of thousands of new homes and jobs across London.</p>
<p>The introduction of the Elizabeth line supports the draft Mayor's Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<p><hr /></p>
<p><strong>Notes to editors:</strong></p>
<p><strong>All figures given for square footage relate to the gross floor area.</strong></p>
<p><strong>•	Bond Street</strong></p>
<p>Two new ticket halls have been constructed at Bond Street &#45; a western ticket hall at Davies Street and an eastern ticket hall on the corner of Hanover Square and Tenterden Street. The architect for the western ticket hall is PLP Architecture.</p>
<p><strong>•	Farringdon</strong></p>
<p>The new Elizabeth line station at Farringdon will have two ticket hall entrances - at the western end, accessed off Cowcross Street and at the eastern end at Long Lane/Lindsey Street which is opposite Smithfield Market, adjacent to London Underground services at Barbican station. The architect for the eastern ticket hall is PLP Architecture</p>
<ul>
    <li>The 12 Elizabeth line stations and construction sites that will include oversite development are: Paddington, Bond Street (x2), Tottenham Court Road (x2), Liverpool Street (x2), Farringdon (x2), Limmo Peninsular, Fisher Street, and Woolwich</li>
    <li>TfL doesn't make a profit &#45; we reinvest all our income to run and improve services and are committed to reducing costs</li>
    <li>New research by property consultancy GVA has shown the Elizabeth line is a major catalyst for regeneration across London and the South East. The January 2018 report is available online at <a href="http://www.gva.co.uk/uploadedfiles/GVA_UK_Research/Crossrail%20Report.pdf">http://www.gva.co.uk/uploadedfiles/GVA_UK_Research/Crossrail%20Report.pdf</a></li>
    <li>The Elizabeth line is jointly sponsored by the Department for Transport (DfT) and TfL. London's new railway will open in phases:</li>
</ul>
<p><strong>December 2018</strong></p>
<p>Services through central London begin, three separate services will operate:</p>
<ul>
    <li>Paddington to Abbey Wood</li>
    <li>Paddington (main line station) to Heathrow</li>
    <li>Liverpool Street (main line station) to Shenfield</li>
</ul>
<p><strong>May 2019</strong></p>
<p>Direct services will operate from Paddington to Shenfield and Paddington to Abbey Wood. Services from Paddington to Heathrow will continue to start and terminate in the main line station.</p>
<p><strong>December 2019</strong></p>
<p>The Elizabeth line will fully open, with services running from Reading and Heathrow in the west through the central tunnels to Shenfield and Abbey Wood in the east.</p>
<p><strong>About Grosvenor Britain &amp; Ireland</strong></p>
<p>Grosvenor Britain &amp; Ireland creates and manages high-quality neighbourhoods that are great places to live, work and visit. Their diverse property development, management and investment portfolio includes Grosvenor's London estate of Mayfair and Belgravia, where they manage a &pound;1bn rolling investment programme. Their other developments are elsewhere in London, Oxford, Cambridge, Edinburgh and Southampton. As at 31 December 2017, Grosvenor Britain &amp; Ireland had &pound;5.2bn of assets under management.</p>
<p>Grosvenor Britain &amp; Ireland are part of Grosvenor Group, one of the world's largest privately-owned property businesses, which is active in more than 60 cities around the world.</p>
<p><a href="http://www.grosvenor.com/home/">www.grosvenor.com</a>   &#64;Grosvenor_GBI</p>
<p><strong>About Helical</strong></p>
<p>Helical plc is listed on the London Stock Exchange and develops and invests in high quality real estate which best serves the needs of its occupier customers and maximises value.<br /> The company realises capital and rental income growth through development, refurbishment and active asset management with a focus on offices and mixed use assets in London and offices in Manchester.<br />Since 1995 Helical has been responsible for c 10 million sq ft of commercial development and has a current development programme with an end value of c &pound;1bn.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-Property development above Elizabeth line stations to create jobs, growth and revenue -->

 
 
        
        
            @{ViewBag.Description = "Property development above Elizabeth line stations to create jobs, growth and revenue";}
        
        


 