


@{ViewBag.Title = "TfL joins forces with the cycling industry to get more Londoners on e-bikes";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL joins forces with the cycling industry to get more Londoners on e-bikes</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL joins forces with the cycling industry to get more Londoners on e-bikes</h1>
        <div class="content-page-press-release">
        16 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        E-bikes can break down the barriers that stop many Londoners cycling, including fitness, age and journey length
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're working hard to make cycling safer and more accessible, and these e-bikes can make a difference to those who feel unable to travel by bike. By providing a boost as you pedal, the bikes help riders cycle with ease but still improve their health too"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is launching a new scheme with the Association of Cycle Traders and e-bike retailers to help raise awareness of the benefits of e-bikes and encourage more Londoners to take up cycling.</p>
<p>Research by TfL shows that more than a fifth of people who don't cycle are put off because they think they aren't fit enough, feel distances are too long or say they are too old. E-bikes can help overcome these concerns as the power assisted bikes allow the rider to cycle further, and uphill, with ease.</p>
<p>Now TfL and the Association of Cycle Traders have launched a website to allow Londoners to benefit from exclusive discounts and improved access to e-bikes to encourage more to take up cycling.</p>
<h2>Exclusive offers</h2>
<p>This website, available through <a href="https://tfl.gov.uk/modes/cycling/cycling-in-london/electric-bikes?cid=electric-bikes">tfl.gov.uk/electric-bikes</a>, brings together more than 100 stores offering free test rides across the capital &#45; meaning that everyone can try an e-bike that suits them.</p>
<p>TfL has also negotiated exclusive offers on e-bikes with many retailers, which are only available through the website.</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: 'I've enjoyed trying a number of e-bikes and can see what great potential they have to help Londoners get around our capital.</p>
<p>'We're working hard to make cycling safer and more accessible, and these e-bikes can make a difference to those who feel unable to travel by bike.</p>
<p>'By providing a boost as you pedal, the bikes help riders cycle with ease but still improve their health too. I hope through this new partnership we can encourage even more first-time cyclists to take to our capital's streets.'</p>
<h2>Cut congestion</h2>
<p>Chris Mather, Chief Customer Officer at TfL, said: 'E-bikes have the potential to get many more people cycling. They are a great way of quickly getting around the city and, in turn, will help to cut congestion and tackle poor air quality.</p>
<p>'We are delighted to be working with the cycling industry to raise awareness of the benefits of e-bikes and look forward to seeing more journeys being made by e-bike.'</p>
<p>Jonathan Harrison, Marketing Director at the Association of Cycle Traders, said: 'As the largest cycle trade organisation in the UK it was a no-brainer to get involved in the ebikes.london project.</p>
<p>'By collaborating with TfL, specialist cycle retailers have an excellent opportunity to help increase e-bike awareness and usage across London.</p>
<p>'The new website allows retailers to promote what's special about their shop, what e-bike brands they stock, details about e-bike demo rides and any e-bike offers available, helping customers to find the right shop for them.</p>
<p>'Ultimately, encouraging the use of e-bikes will increase consumer engagement and drive footfall into specialist cycle retailers, which is something the ACT always strives to do.'</p>
<h2>Record levels of investment</h2>
<p>E-bike user Majonne Frost, said: 'My e-bike has put me in control of my journeys. Traffic makes driving to work unreliable, but my journeys on an e-bike are a doddle.</p>
<p>'I can even cycle with my kids to school and carry on to work from there. I feel fitter and have saved hundreds of pounds in petrol &#45; I'd recommend one to anyone.'</p>
<p>The Mayor has committed record levels of investment to cycling in the capital, with &pound;169 million per year being spent on average for five years on new infrastructure and initiatives to make cycling safer.</p>
<p>Encouraging people to cycle is one of the key components of his Transport Strategy, which aims to make London a healthier, greener and more accessible place by investing in, and encouraging greater use of, public transport and active travel.</p>
<p>Londoners can find out more and identify their nearest test ride opportunity at <a href="https://tfl.gov.uk/modes/cycling/cycling-in-london/electric-bikes?cid=electric-bikes">tfl.gov.uk/electric-bikes</a>
</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The Association of Cycle Traders is a membership organisation representing the interests of over 4,000 businesses involved in the cycle industry</li>
    <li>The Electrically Assisted Pedal Cycles (Amendment) Regulations 2015 define e-bikes as a bicycle with an electric motor to assist with pedalling. E-bikes meeting the specifications are treated the same as regular bicycles on UK roads</li>
    <li>TfL has also awarded e-bike purchase grants of up to &pound;3,000 each to community groups through its Cycling Grants London scheme. The grants encourage take up of cycling in London by a wider range of people</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-TfL joins forces with the cycling industry to get more Londoners on e-bikes -->

 
 
        
        
            @{ViewBag.Description = "TfL joins forces with the cycling industry to get more Londoners on e-bikes";}
        
        


 