


@{ViewBag.Title = "TfL budget shows good progress towards achieving an operating surplus by 2021/22";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL budget shows good progress towards achieving an operating surplus by 2021/22</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL budget shows good progress towards achieving an operating surplus by 2021/22</h1>
        <div class="content-page-press-release">
        12 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) today published its draft budget for 2018/19, which describes the transport improvements that will be delivered for London in the first year of its latest five- year Business Plan. The Business Plan, published in December last year, set out a fully funded plan for delivering the Mayor's Transport Strategy, including investing record amounts in public transport and prioritising safer and less polluted streets, with an unprecedented focus on walking and cycling over the next five years.</p>
<p>The 2018/19 budget being published today details how TfL will work to achieve the first year of that plan, continuing to modernise transport services and deliver further recurrent savings, which will help it to manage an average &pound;700m per year reduction in Government funding.</p>
<p>Significant savings have already been achieved through reducing management layers, merging functions, renegotiating contracts and delivering transport improvements more efficiently. In the last financial year the day to day costs of running London's transport network were reduced by &pound;153m, the first such reduction in TfL's history.</p>
<p>TfL expects this trend to continue, with like-for-like costs to be lower than last year, and total operating costs &pound;200m better than the 2017/18 budget. This more than offsets the impact of external factors that have meant income has been lower than originally forecast.  The budget for 2018/19 details how TfL will continue on that trajectory to achieve an operating surplus for the first time by 2021/22</p>
<p>There are consequences from losing more than &pound;700m per year in Government funding and in this budget TfL has had to address the critical and unique demands of London's road network, including congestion, maintenance, renewals and air quality, without a dedicated funding source for London's roads.</p>
<p>Both TfL and the Mayor are calling on the Government, as part of their Transport Investment Strategy, to make sure that a link between 'roads tax' and roads funding is applied to London as well. This would allow TfL and the boroughs to continue modernising London's road network, as well as support more walking and cycling journeys across the Capital. From 2021, the &pound;500m raised every year from Londoners' Vehicle Excise Duty will be collected by central Government and only invested in roads outside the capital.</p>
<p>Against this economic backdrop, TfL will deliver a huge range of improvements for Londoners in 2018/19. These include:<br />
</p>
<ul>
    <li>The successful delivery of the <strong>Elizabeth line</strong> from December 2018, which will re-define travel in London, delivering an additional 10 per cent rail capacity in Central London. The new rail line, which is now more than 90 per cent complete, will be accessible with step-free access at every station in December 2019.</li>
    <li>Creating a more <strong>accessible transport network</strong> for all Londoners. All of the new Elizabeth line trains that open this year will be step-free. TfL will also this year provide step-free access at Finsbury Park, Buckhurst Hill, Newbury Park, South Woodford and Victoria stations and start work on a further 13. TfL will also introduce a new turn up and go app for staff across the Tube network, to better manage and track requests for customer assistance.</li>
    <li>Continued <strong>modernisation of London Underground</strong> to provide increased capacity and more frequent services. The first section of the Circle, district, Hammersmith &amp; City and Metropolitan lines' new signalling will go live later this year that, when complete, will provide 32 trains per hour in Central London; a 33 per cent increase in peak-hour capacity. Work will also begin on providing new trains on the Piccadilly line with the contract for the new fleet being awarded in the summer. Together with the new automatic signalling on the line, this will provide 60 per cent extra capacity by 2026.</li>
    <li>Creating the <strong>greenest bus fleet</strong> <strong>in the world</strong>. More than 1,000 diesel vehicles will be retrofitted with Selective Catalytic Converters, with over half the diesel bus fleet compliant with the Euro Vi engine emission standard by the end of 2018/19. This will ensure all buses in central London meet ULEZ standards and support the four further Low Emission Bus Zone routes that will be introduced at some of the worst pollution hotspots in the Capital.</li>
    <li>Continued investment to <strong>increase capacity on the rail network</strong>, with a full upgrade of White Hart Lane station to serve Tottenham Hotspur's new stadium and support regeneration in the local area. Work on the extension of Overground services to Barking Riverside has begun, which will boost capacity and supporting the development of large swathes of London. New four-car electric trains will be introduced on the London Overground Gospel Oak to Barking, boosting capacity and contributing to improved air quality.</li>
    <li>Delivering the Healthy Streets Approach across London, with the start of more than 25 Healthy Streets local schemes and the first seven Liveable Neighbourhoods projects, which will transform the way local streets work to enable people to walk, cycle or take public transport more, and use private cars less. A number of major schemes, including Highbury Corner and Old Street roundabout will begin, and plans agreed for new Cycle Superhighways. There will also be a second consultation on the new dedicated cycling and pedestrian crossing from Rotherhithe to Canary Wharf.</li>
    <li>There will be sustained and record investment in <strong>transport improvements across London's boroughs</strong> - the most significant example of this being the proposed transformation of Oxford Street and the surrounding area which, subject to a final decision, could begin in the summer.</li>
    <li>The development of<strong> </strong>TfL land for<strong> housing and commercial space</strong> to help fund transport improvements will continue at pace which will deliver more than 3,000 homes, 50 per cent of which will be affordable. TfL will also introduce 4G to the Tube and the Elizabeth line &#45; removing one of the UK's largest 'not-spots' for connectivity.<br />
    </li>
</ul>
<p><strong>London's Transport Commissioner, Mike Brown MVO, said:</strong> 'This budget sets out what we will deliver in the next year as part of the Mayor's Transport Strategy as we work to achieve his vision for 80 per cent of journeys to be made by walking, cycling and public transport by 2041.  We will continue with our massive programme of investment in the transport network, modernising and boosting capacity, delivering healthier safer streets and providing affordable and accessible transport that will support London's economic growth.</p>
<p>'This will be achieved alongside our extensive savings programme which is reducing our day to day costs, while protecting frontline services, as we manage a &pound;700m per year reduction in Government subsidy.  This will put us well on the way to generating an operating surplus for the first time in our history in 2021/22.'</p>
<p><strong>Deputy Mayor for Transport, Val Shawcross, said:</strong> `The next year will be a truly exciting time for London, with the opening of the Elizabeth line, and major projects like the transformation of Oxford Street. At the same time, today's budget shows how we're also looking to the future with further tube modernisation and an unprecedented commitment to walking and cycling infrastructure. Through our major programme of TfL efficiencies, I'm proud that despite losing more than &pound;700m per year in Government funding, the removal of our Government grant, we're both freezing TfL fares and building a world-class transport network that will improve quality of life for Londoners all across our city.'</p>
<p>TfL's draft budget will be considered by the Board on 20 March and will be published on the TfL website later today at <a href="https://tfl.gov.uk/corporate/publications-and-reports/board-papers">https://tfl.gov.uk/corporate/publications-and-reports/board-papers</a> </p>
<p>Notes to editors<br />
</p>
<ul>
    <li>Passenger journeys depend on a variety of economic factors, primarily employment growth and household expenditure, and in 2017/18, these factors led to a small reduction in ridership on public transport in London and the South East. However, figures published by the Office of Rail Regulation (ORR) show that passenger numbers on TfL services have held up better than comparable services around the country. This is thanks to the Mayor's affordable fares policies including freezing TfL fares and the innovative and newly-extended 'Hopper' fare, which makes travelling by bus cheaper and more convenient.</li>
    <li>TfL is anticipating that the overall number of passenger journeys will be broadly flat compared with the numbers set out in its business plan. Bus passenger numbers have now stabilised, reflecting the improvements to the service that have been delivered. Bus services are now more reliable than they have ever been, and bus speeds, which suffered significant decline, have now stabilised and are improving, reversing a long-term trend. Tube ridership has also shown signs of stabilising in the early part of 2018 and TfL is budgeting for passenger numbers to remain flat in 2018/19.</li>
    <li>The increase in total operating costs in 2018/19 is due to the additional costs relating to the Elizabeth line central tunnel section opening in December 2018. This work prepares the way for the significant revenue benefits that will be seen when the railway fully opens in December 2019.</li>
    <li>With the &pound;700m per year on average reduction in Government funding, TfL has had to look at how it can safely reduce the costs of proactive capital renewals and has paused all non-essential road improvements until suitable funding can be found. TfL will ensure that the roads under its responsibility remain safe.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-TfL budget shows good progress towards achieving an operating surplus by 2021/22 -->

 
 
        
        
            @{ViewBag.Description = "TfL budget shows good progress towards achieving an operating surplus by 2021/22";}
        
        


 