


@{ViewBag.Title = "TfL exploring whether a new 'demand responsive' TfL bus service could complement existing bus network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL exploring whether a new ‘demand responsive’ TfL bus service could complement existing bus network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL exploring whether a new ‘demand responsive’ TfL bus service could complement existing bus network</h1>
        <div class="content-page-press-release">
        23 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL today announced that it is exploring the potential of using a new 'demand responsive' TfL bus service to enhance London's public transport network in the future.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Any potential trial would be a new TfL service designed to support the existing local transport network, improve accessibility and London's air quality"</div>
        <div class="quote-footer">
            <div class="quotee-name">Michael Hurwitz</div>
            <div class="quotee-job-title">TfL's Director of Transport Innovation</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is approaching a range of businesses &#45; including traditional bus operators and tech companies &#45; to see if the latest innovations in ride-booking technology can be used to create a new TfL bus service that complements the capital's existing bus network.</p>
<p>The services, for nine passengers or more, would not replace any existing TfL services.</p>
<p>Businesses are being asked to express their interest in trialling a new TfL service that would operate flexibly in an area in need of improved public transport.</p>
<p>The partnership with TfL could, for example, be an on-demand minibus ordered through an app, or perhaps a service running on a semi-fixed route that can be diverted to pick up individual passengers.</p>
<h2>Affordability</h2>
<p>Recent rapid advances in technology have increased the potential of trialling such services in areas where car dependency is high, for example in outer London.</p>
<p>A trial would help TfL better understand and assess how such services could complement the existing extensive bus network.</p>
<p>It will also help TfL to set standards for a potential future TfL service around safety, accessibility, air quality, affordability, the use of concessions (such as the Freedom Pass) and customer service.</p>
<p>It is proposed that the Mayor's 'minimum professional London bus driver wage' and 'Licence for London' would apply to this trial.</p>
<p>The capital's iconic bus network is among the world's most extensive and accessible, and the Mayor is ensuring that London has the greenest fleet in the world.</p>
<p>The Mayor has also made bus travel more affordable and convenient through his Hopper fare, allowing an hour of unlimited bus and tram journeys for the price of just one.</p>
<p>Traditional buses, which currently carry more than three and a half million passengers a day, remain at the heart of transport in London and have a vital role to play in delivering the Mayor's Transport Strategy.</p>
<h2>Extensive and accessible</h2>
<p>TfL's Director of Transport Innovation, Michael Hurwitz, said: 'We want to understand the potential of new TfL demand responsive services to improve public transport for all Londoners.</p>
<p>'We are currently exploring the feasibility of a small demand responsive transport trial in areas of outer London where car dependency is higher and other forms of public transport are less viable.</p>
<p>'By approaching potential partners, we are engaging the market to establish interest in delivering a trial of a new TfL service.</p>
<p>'Any potential trial would be a new TfL service designed to support the existing local transport network, improve accessibility and London's air quality.'</p>
<p>If the trial goes ahead it would involve a small number of vehicles and would be held in an area of outer London where car dependency is high and other forms of public transport are less viable.</p>
<p>Any trial would run for no longer than 12 months.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-TfL exploring whether a new ‘demand responsive’ TfL bus service could complement existing bus network -->

 
 
        
        
            @{ViewBag.Description = "TfL exploring whether a new ‘demand responsive’ TfL bus service could complement existing bus network";}
        
        


 