


@{ViewBag.Title = "TfL launches consultation to further improve safety for private hire passengers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL launches consultation to further improve safety for private hire passengers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches consultation to further improve safety for private hire passengers</h1>
        <div class="content-page-press-release">
        26 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today (26 March) launched a consultation seeking views on how to improve safety for private hire passengers.</p>
<p>The 12-week consultation is the latest phase of an ambitious programme that is raising standards across the private hire industry. The consultation invites views on an advanced driving test for private hire drivers, providing passengers with clear information on who to contact to provide feedback or to raise a complaint, and whether more robust background checks could be introduced for drivers. TfL is also seeking views on whether changes are needed to insurance arrangements for private hire services.</p>
<p>Helen Chapman, TfL's Interim Director of Licensing, Regulation and Charging, said: `The experiences of passengers and their safety is at the heart of everything we do. We've worked hard to drive up the standards of the industry, from significantly increasing the number of compliance officers to ensuring passengers know who their driver is and what the vehicle details are. With the dramatic recent changes in the private hire industry transforming passengers' experiences we need to go further. This consultation demonstrates our clear commitment to keeping passengers safe and our proposals would be pivotal in protecting the public and giving them the reassurances they need while out and about in our city.'</p>
<p>Val Shawcross, Deputy Mayor for Transport, said: `Keeping Londoners safe is our number one priority, and since Sadiq took over as Mayor we've been determined to drive up standards across the private hire industry. We've pushed ahead with quadrupling the number of Compliance Officers and plans for a more advanced driving test, but there's much more we can do. Whether through more comprehensive insurance requirements or more advanced background checks we must ensure every Londoner feels safe getting around our city at all times of day and night.'</p>
<p>As set out in the Mayor's Transport Strategy, TfL is committed to ensuring that a Vision Zero approach &#45; which eradicates all deaths and serious injuries on the capital's roads &#45; applies to all aspects of London's transport system.  Private hire vehicles play an important role in London and, as such, have a part to play in delivering this vision.  To ensure private hire services remain safe and secure, TfL is seeking views on the following:</p>
<ul>
    <li>An advanced driving test for private hire drivers, which could include accessibility training</li>
    <li>New, clear signage displayed in private hire vehicles to make it easier for customers to raise concerns about the driver's behaviour and driving as well as the condition and accessibility of the vehicle</li>
    <li>How TfL could improve the vetting of private hire driver applicants to ensure a fuller and more comprehensive period of criminal history is available for consideration as part of the licensing</li>
    <li>Whether changes need to be made to insurance arrangements for private hire services</li>
</ul>
<p>This consultation builds on the improvements to standards and safety set out in the Mayor's Taxi and Private Hire Action Plan. This includes significantly increasing the number of Compliance Officers and requiring both driver and vehicle details to be provided to passengers before the start of a journey.</p>
<p>The next phase of the programme to improve standards and security will be a consultation on proposals for regulations to cover new, novel or ridesharing services, as described in TfL's recent policy paper. The paper sets out TfL's position on how such services might operate in the future and ensures TfL remains the world leader in regulating private hire services. TfL is also conducting research on the impact of removing the Congestion Charge exemption for private hire vehicles.  Depending on the outcome of this work a consultation could take place at a later date.</p>
<ul>
    <li>More details on TfL's policy paper on how private hire and ride sharing services could operate in the future can be found here: <a href="https://tfl.gov.uk/info-for/media/press-releases/2018/february/-tfl-to-ensure-private-hire-remains-safe-secure-and-convenient">https://tfl.gov.uk/info-for/media/press-releases/2018/february/-tfl-to-ensure-private-hire-remains-safe-secure-and-convenient</a> </li>
    <li>The consultation closes on Friday 15 June 2018 and can be accessed here: <a href="https://consultations.tfl.gov.uk">https://consultations.tfl.gov.uk</a> /</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-TfL launches consultation to further improve safety for private hire passengers -->

 
 
        
        
            @{ViewBag.Description = "TfL launches consultation to further improve safety for private hire passengers";}
        
        


 