


@{ViewBag.Title = "TfL brings forward 600 homes in Harrow and names Northwood partner";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL brings forward 600 homes in Harrow and names Northwood partner</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL brings forward 600 homes in Harrow and names Northwood partner</h1>
        <div class="content-page-press-release">
        26 March 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has announced today that it is working with the Borough of Harrow to bring forward a development at Harrow on the Hill Tube station which will provide over 600 homes, 35 per cent of which will be affordable.</p>
<p>As well as providing hundreds of new homes at Harrow on the Hill, the 2.5 acre development would provide step-free access to the southern station entrance and improve the connection between the north and south of the station. It will also provide new retail, enhanced public realm around the Tube station and better bus station facilities. Harrow on the Hill is in zone 5 and is served by the Metropolitan line.</p>
<p>Also this month, TfL has selected Triangle London Developments (TLD), a consortium between Notting Hill Housing and U+I, as its preferred partner for a joint venture partnership to develop a 4.7 acre site around Northwood Tube station. The site has the potential to provide over 150 new homes, 35 per cent of which will be affordable.</p>
<p>The site, which was launched to the Property Partnerships Framework last year, will deliver step-free access to the Tube station, new public space alongside retail and commercial space and an improved bus interchange.</p>
<p>Northwood station is located in zone 6 on the Metropolitan line in the London Borough of Hillingdon. Subject to contracts, TfL will work with TLD to carry out public consultation and engagement on proposals later this year, ahead of submitting a planning application.</p>
<p>These schemes will now bring the number of homes that have been brought forward in 2017/18 to more than 3,000. Earlier this year, TfL brought to market Limmo Peninsula, in Newham, through its Property Partnerships Framework and also launched to market 10 small sites through the Mayor of London's Small Sites Small Builders portal which is targeted at the SME sector.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: `Working closely with the Mayor, this financial year we will have brought to market sites that will generate over 3,000 homes, half of which will affordable. Our development programme will transform dozens of neighbourhoods across London, creating thousands of jobs, and generating hundreds of millions of pounds to plough back into the transport network, alongside operational improvements such as step-free access at stations.'</p>
<p>Cllr Sachin Shah, Leader of Harrow Council, said: `I'm delighted that the Mayor and TfL are joining us in building a better Harrow. Step-free access at Harrow-on-the-Hill will be life-changing for so many of our residents &#45; and help open up our town centre too &#45; bringing more shoppers to our fantastic range of retail, restaurants and leisure outlets. Homes for Harrow people on the site are icing on the cake &#45; with affordable prices at the heart of our community.'</p>
<p>John Hughes, Group Development Director for Notting Hill Housing, said: &quot;This is a very exciting opportunity for Triangle London Developments to continue our work with TfL, bringing forward much needed affordable housing in London. We look forward to the positive impact the Northwood Station project will have on the local community.'</p>
<p>Across all sites brought forward since May 2016, 50 per cent of the homes will be affordable &#45; with individual sites contributing between 35 and 100 per cent. In addition to substantial amounts of housing, TfL's programme provides retail and commercial space, as well as operational improvements such as step free access at stations.</p>
<p>Notes to editors<br />Triangle London Developments is a consortium between housing association Notting Hill Housing and property developers U+I. TLD were selected for TfL's Property Partnership Framework in 2016 and have since been chosen as preferred partner for schemes at Kidbrooke Station, Landmark Court in Southwark and Northwood Tube Station.</p>
<p>TfL launched the Property Partnership Framework in 2016. Following a competitive tender process, TfL approved the appointment of 13 leading property development companies and consortiums that it could work with to develop its sites. This provides a ready pool of partners eligible to bid to work with TfL in joint ventures as sites become available. This will ensure thousands of homes, offices and retail spaces across London can be delivered more efficiently and quickly. Sites brought forward for development by Transport for London so far are:</p>
<ul>
    <li>Landmark Court, Southwark &#45; potential for 80 homes &#45; 35 per cent affordable housing</li>
    <li>Kidbrooke, Greenwich &#45; potential for 400 homes &#45; 50 per cent affordable</li>
    <li>Fenwick South, Lambeth &#45; potential for 55 homes, 100 per cent affordable</li>
    <li>Blackhorse Road, Waltham Forest &#45; potential for 350 homes, 50 per cent affordable</li>
    <li>Limmo, Newham &#45; potential for 1500 homes, 40 per cent affordable</li>
</ul>
<p>Through the Mayor of London's 'Small Sites, Small Builders' programme, TfL is bringing forward 10 of its small sites for development, with capacity ranging from between two and 42 homes. The initial 10 plots will deliver 111 new homes in total, of which 68 per cent will be affordable. The land will be made more accessible for smaller builders through a simple bidding process with standardised legal contracts, and two of the sites will be dedicated specifically to community-led housing groups.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-March-TfL brings forward 600 homes in Harrow and names Northwood partner -->

 
 
        
        
            @{ViewBag.Description = "TfL brings forward 600 homes in Harrow and names Northwood partner";}
        
        


 