


@{ViewBag.Title = "100 years of the Car Parade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>100 years of the Car Parade</h1>
        <div class="content-page-press-release">
        11 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        If you are going to see the 100 years of the Car Parade, or are just travelling through central London on Sunday afternoon, 16 July 2006, consider using public transport wherever possible because traffic in the area will be diverted around the parade route.
        
    </div>



 <div class="on-this-page">
<p>This is the first time this event has taken place. It is to celebrate the return of the British International Motor Show to London after 30 years in Birmingham.<br><br>Over 200 vehicles are taking part in the parade which will start setting up in Park Lane at noon. Park Lane (southbound) will be closed to all traffic from that time until the parade has cleared the area.<br><br>The parade will be divided into decades with markers to identify each decade. Some of the vehicles will have celebrity drivers.<br><br>The parade will start at Park Lane at 14.30 and travel to Whitehall via Park Lane (southbound), Hyde Park Corner, Piccadilly, Piccadilly Circus, Regent Street, Pall Mall, Cockspur Street and into Whitehall where it will then disperse.</p>
<p>Many central London buses will be on diversion or curtailed during this time. <br><br>The parade route is within easy walking distance of Tube stations at Knightsbridge, Marble Arch, Piccadilly Circus, Green Park, Charing Cross and Westminster as well as Hyde Park Corner. </p>
<p>Transport for London (TfL) advises passengers to check before travelling via the following options:</p>
<ul>
<li>The TfL website at <a href="http://www.tfl.gov.uk/tubeworks">www.tfl.gov.uk/tubeworks</a> 
</li><li>The London Travel Information 24-hour telephone helpline: 020 7222 1234 
</li><li>BBC Ceefax, page 436, or ITV's Teletext, page 164 
</li><li>Information on posters, leaflets and 'Good Service' boards at Tube stations<br><br><br></li></ul>
<p><br><br></p>
            <ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube as we work to Transform the Tube</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is the first time this event has taken place. It is to celebrate the return of the British International Motor Show to London after 30 years in Birmingham.Over 200 vehicles are taking part in the parade which will start setting up in Park Lane at";}
        
        


 