


@{ViewBag.Title = "Avoid the Motor Show traffic - Take a train";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Avoid the Motor Show traffic - Take a train</h1>
        <div class="content-page-press-release">
        11 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The British International Motor Show, being held in London for the first time in 30 years, is set to welcome around 60,000 visitors a day at the weekends and 35,000 a day during the week.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Visitors might find it much easier to get to and from the venue using the public transport alternatives.
                            
                        </p>
                    </div>
                
            
            
            <p>Those crowds are likely to cause traffic jams in the area around East London's ExCel Exhibition Centre and then, of course, there are the usual hassles of parking.</p>
<p>Transport for London is instead suggesting that many visitors to the show might find it much easier to get to and from the venue using the public transport alternatives.</p>
<p>Docklands Light Railway (DLR) services have been enhanced so visitors can easily access the show, which will be open to the public from Thursday 20 July to Sunday 30 July. It will be open to press and trade delegates on Tuesday and Wednesday 18 and 19 July.</p>
<p>Passengers are advised to interchange at Canning Town between London Underground's Jubilee line and the DLR. The DLR services between Canning Town and Custom House Station for ExCel, where the show is being held, will run every 3.5 - 4 minutes for most of the day while it is being held.</p>
<p>Alternatively, passengers can travel to Custom House for ExCel on direct services from Tower Gateway, Bank or Beckton. </p>
<p>TfL advises passengers to check before travelling via the following options:</p>
<ul>
<li>The TfL website at <a href="http://www.tfl.gov.uk/tubeworks">www.tfl.gov.uk/tubeworks</a> 
</li><li>The London Travel Information 24-hr telephone helpline on 020-7222 1234 
</li><li>BBC Ceefax, page 436, or ITV's Teletext, page 164 
</li><li>Information on posters, leaflets and 'Good Service' boards at Tube stations. </li></ul>
            <ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube as we work to Transform the Tube.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Those crowds are likely to cause traffic jams in the area around East London's ExCel Exhibition Centre and then, of course, there are the usual hassles of parking.Transport for London is instead suggesting that many visitors to the show might find it much";}
        
        


 