


@{ViewBag.Title = "CO2 emissions and Congestion Charging";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>CO2 emissions and Congestion Charging</h1>
        <div class="content-page-press-release">
        12 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>This is press release was originally issued by the <a href="http://www.london.gov.uk">Greater London Authority</a> press office.</p>
<p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            My aim is to see the cutting of carbon emissions and the protection of our environment
                            
                        </p>
                    </div>
                
            
            
            
<p>Ken Livingstone has told the London Assembly that he has asked 
Transport for London (TfL) to produce proposals to amend the Congestion Charging 
scheme so that it discourages the use of cars producing high levels of carbon 
emissions, and encourages drivers to switch to cars with low levels of CO2 
emissions.</p>
<p>The changes would involve discounts for cars with low CO2 emissions and 
substantially higher charges for cars with high levels of CO2 emissions.</p>
<p>Speaking at Mayor's Question Time today (12 July 2006), the Mayor said that 
he had asked TfL to bring forward plans this September and was hopeful that any 
new discounts could come into effect from 2008, with subsequent higher new 
charges for cars producing high levels of CO2 emissions to be delivered within 
two years of the introduction of the new discounts.</p>
<p>Any changes would affect the existing zone plus the western extension and 
would, of course, be subject to extensive public and stakeholder 
consultation.</p>
<p>The Mayor has asked TfL to draw up proposals for rates lower than the current 
&pound;8 for low-CO2 cars. </p>
<p>Most other cars would continue driving in the zone at the present rate of &pound;8 
per day, while those vehicles with very high CO2 emissions - such as those in 
current Vehicle Excise Duty (VED) band G - which produce over 226g/km of CO2 
emissions, could be charged at a higher rate, around &pound;25.</p>
<p>The Mayor said: "The Congestion Charge has been a huge success in reducing 
traffic levels and supporting the public transport system through the revenue 
raised and improvement to bus reliability.</p>
<p>"I now want Transport for London to bring forward plans to build on the 
success of congestion charging to encourage drivers in London to purchase a low 
emission vehicle. </p>
<p>
<h2>Cutting emissions</h2>
<p>
<p>"My aim is to see the cutting of carbon emissions and the protection of our 
environment at the heart of the scheme.</p>
<p>"There is a growing sense of concern amongst Londoners about climate change 
caused by CO2 emissions, which is the biggest single problem facing humanity, 
and tackling this threat requires decisive action. 'Chelsea tractors', many of 
which are responsible for some of the highest CO2 emissions of any cars on our 
roads, have to be dealt with.</p>
<p>"I want TfL to look at lower Congestion Charges for cars responsible for 
lower than average CO2 emissions, broadly the retention of the current rate of 
&pound;8 for most cars, and much steeper charges of perhaps &pound;25 for the really 
environmentally damaging cars such as the so-called 'Chelsea tractors'.</p>
<p>"This is a charter for greening our car choices and it will once again put 
London at the cutting edge of both environmental and transport policy."<br></p>
            <ul>
<li>For further information, contact Matt Brown in the Mayor's Press Office on 020 7983 4716 
</li><li>For out of hours media enquiries please call 020 7983 4000 
</li><li>For non-media enquiries please call the Public Liaison Unit on 020 7983 4100</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is press release was originally issued by the Greater London Authority press office.Ken Livingstone has told the London Assembly that he has asked Transport for London (TfL) to produce proposals to amend the Congestion Charging scheme so that it";}
        
        


 