


@{ViewBag.Title = "Danger lurks close to home for London road users";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Danger lurks close to home for London road users</h1>
        <div class="content-page-press-release">
        17 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A hard hitting new advertising campaign, which urges road users to take as much care on their routine journeys as they do on unfamiliar ones, launches in cinemas throughout the capital today.
        
    </div>



 <div class="on-this-page">
<p>The Transport for London (TfL) road safety advert - called 'Losing Control' - will air on television and in cinemas throughout the capital during the next six weeks. </p>
<p>It aims to alert people to the fact that most collisions happen within three miles of home, and urges motorcyclists and other road users to drive on the roads they know with as much caution as they would on unfamiliar ones.</p>
<p>The ad takes viewers through the start of a motorcyclist's day. From the alarm that always wakes him, to the cereal he never finishes, the ad shows the biker going through the routines that make up the start of his day and his ride into work. </p>
<p>Riding past the familiar sights of the car that never moves and the kids on the school run, the voiceover goes on to list; "The door you see too late. The lamppost you slam in to. The legs you'll never use again. The day you went to work."</p>
<p>Jenny Jones, Mayor's Road Safety Ambassador, said: "It makes sense to be constantly alert when you are driving, for yourself and other road users. When at speed, and when in control of a large machine, it only takes a brief lapse of concentration for terrible things to happen."</p>
<p>Chris Lines, Head of the London Road Safety Unit at TfL said: "In the past five years TfL's road safety improvements and campaigns have contributed to a 40 per cent reduction in the number of people killed or seriously injured on London's roads.</p>
<p>"This is an excellent achievement, but there is still a lot to do - 214 people were killed on London's roads in 2005, and 44 of them were powered two wheeler riders. </p>
<p>"The new advertising campaign aims to alert all road users to the fact that the majority of collisions happen within three miles of home, and to take care on the roads no matter how familiar their journey is."</p>
<p>Visitors to the British International Motor Show, which opens to the public on 19 July, will have the opportunity to see the new advert on the 'Looked but didn't see' stand. </p>
<p>Organised in partnership with TfL, the Metropolitan Police Service and the City of London Police, the stand also features a graphic reconstruction of a crash scene between a car and a motorbike, which shows one of the most common causes of motorcycle collisions in the capital - one where the driver has failed to see the motorcyclist and has turned right across their path.<br></p>
            <ul>
<li>Researchers from the London School of Hygiene and Tropical Medicine have analysed London casualty and collision data (1994-2004) and found that most Londoners are injured on roads within 3 miles from their home. The analyses indicate that on average, London's pedestrians are injured 1.8 miles from home, London's cyclists are injured 2 miles from home, London's car occupants are injured 2.9 miles from home, and London's motorcyclists are injured 3.6 miles from home. </li>
<li>In 2004, there were 5,558 motorcycle and scooter casualties in Greater London (down 14 per cent from 6,469 in 2003). Of those, 4,663 suffered slight injuries, 848 serious injuries and 47 were killed </li>
<li>The crash scenario on the TfL British International Motor Show stand depicts one of the most common causes of motorcycle collisions in Greater London; one where the driver has failed to see the motorcyclist and has turned right across their path. It isn't intended to shock, or to deter people from taking up motorcycling, but it does highlight the vulnerability of bikers and the need for them to drive defensively</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Transport for London (TfL) road safety advert - called 'Losing Control' - will air on television and in cinemas throughout the capital during the next six weeks. It aims to alert people to the fact that most collisions happen within three miles of";}
        
        


 