


@{ViewBag.Title = "DLR scoops top rail award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR scoops top rail award</h1>
        <div class="content-page-press-release">
        03 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR), part of Transport for London (TfL), has won the overall 2006 Railway Industry Innovation Award for its 'Delivering a successful railway through effective partnerships' entry.
        
    </div>



 <div class="on-this-page">
<p>The entry highlighted the pivotal role that DLR's liaison with key partners - 
its franchisee, Serco Docklands; the three concessionaires who have built or are 
building extensions to its network; and the local communities it serves - has 
played in making the railway:</p>
<ul>
<li>The most reliable in the UK, with passengers never having to wait more than 
10 minutes for a train 
</li><li>A vital transport link both for the local community and commuters, with 
current passenger numbers of over 50 million per year set to increase to 80 
million by 2009 
</li><li>A catalyst for regeneration across East London 
</li><li>Renowned for completing major extension projects on time and on 
budget</li></ul>
<p>Mayor of London Ken Livingstone said: "The expansion of the Docklands Light 
Railway is a major part of the programme of investment that is now underway on 
London's transport system, opening up new and better links and maintaining an 
excellent level of service. </p>
<p>"Everyone who works on the DLR deserves this award and they have my thanks 
for the great work that is being done to improve and extend public transport 
links through the DLR."</p>
<p>Ian Brown, Managing Director of London Rail, said: "This award is a 
tremendous achievement and I would like to congratulate Jonathan Fox, Director 
DLR, his staff and the railway's key partners for the role they have played in 
making the DLR a genuine success story. </p>
<p>"The DLR has consistently set the standard for service, accessibility and 
delivery, and as a consequence fully deserves such prominent recognition."</p>
<p>
<h2>Successful collaboration</h2>
<p>
<p>Jonathan Fox, Director DLR, said: "We are absolutely delighted to pick up 
this award, which is a fitting tribute to the unprecedented accomplishments 
achieved via the close relationships we have fostered. </p>
<p>"Our successful collaboration with residents and users, combined with 
effective partnerships at construction and operational level, has set new 
standards for the rail industry.</p>
<p>"As the railway continues to grow over the next few years through projects 
such as the Woolwich Arsenal extension, Stratford International extension and 
the upgrade from two to three-car, we look forward to further developing these 
relationships and continuing to offer our customers an unbeatable service."</p>
<p><br></p>
            <ul>
<li>The Railway Innovation Awards were held on 27 June at The Institution of Civil Engineers. Now in their ninth year the awards recognise and publicise the innovation taking place on Britain's railways</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The entry highlighted the pivotal role that DLR's liaison with key partners - its franchisee, Serco Docklands; the three concessionaires who have built or are building extensions to its network; and the local communities it serves - has played in making";}
        
        


 