


@{ViewBag.Title = "Mayor approves Westminster transport plans";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor approves Westminster transport plans</h1>
        <div class="content-page-press-release">
        27 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today approved Westminster's Local Implementation Plan, which is designed to radically improve transport for people living in the borough.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am happy to approve Westminster's plan, it is pivotal to delivering transport in central London.
                            
                        </p>
                    </div>
                
            
            
            <p>Westminster's Local Implementation Plan contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011. </p>
<p>Key areas of the Local Implementation Plan include sustainable development and regeneration, encouraging greater use of sustainable travel such as walking and cycling, and promoting safety for all forms of travel. <br><br>Approving Westminster's Plan, Mayor of London Ken Livingstone said: 'We have made major improvements to London's transport system over the last six years.</p>
<p>'Bus services have been transformed and we are starting to sort out the Tube. </p>
<p>'The boroughs have a key role in delivering these transport improvements. </p>
<p>'I am happy to approve Westminster's plan, it is pivotal to delivering transport in central London.'</p>
<p>Highlights from Westminster's Local Implementation Plan include: </p>
<ul>
<li>Sustainable development and regeneration of the area's spaces - An extensive programme of streetscape improvements to some of London's highest-profile streets and spaces such as Leicester Square and Charing Cross Road. There is also a commitment to environmental improvements in the borough including proposals for improving air quality 
</li><li>Sustainable means of travel - A large number of the proposals in the Local Implementation Plan promote sustainable travel, including a commitment to the Cross-River Tram and improvements to station access at Marylebone, Charing Cross, Victoria and Paddington 
</li><li>The targets of casualty reduction are supported by strong proposals and policies, including the delivery of 22 School Travel Plans each year, a safer pedestrian environment on Shaftesbury Avenue, and the city's Local Safety Schemes Programme which targets improvements at streets with higher than average accident rates</li></ul>
<p>Councillor Danny Chalkley, Westminster's Cabinet Member for Economic Development and Transport, said: "The City Council is delighted that the Mayor of London has approved our LIP which sets out how the City Council will deliver the Mayor of London's Transport Strategy, implement excellent services, improve the public realm and reduce the adverse environmental impacts of transport. <br><br>"Much progress has been made to improving the City of Westminster's street environment and provision of transport within the borough, however there are some challenges that remain. </p>
<p>"The City Council looks forward to working with the Mayor and Transport for London to ensure that the proposals contained within the LIP are delivered and that Westminster has a transport system befitting the heart of a world City, servicing the needs of residents, business and visitors."<br><br>Priorities for all Local Implementation Plans include: </p>
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving the working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure to a good state of repair <br><br></li></ul>
            <ul>
<li>Proposals contained in a Local Implementation Plan may be funded through the TfL Borough Spending Plan process, directly by the borough or from other sources such as private developers. A successful Local Implementation Plan does not necessarily mean that all proposals contained within it will obtain funding. Proposals will also still need to pass other required steps before implementation (eg planning decisions, Traffic Works Orders and similar) </li>
<li>The GLA Act 1999 requires each London borough to prepare a Local Implementation Plan showing how it proposes to implement the Mayor's Transport Strategy </li>
<li>The Mayor issued guidance on the drafting of Local Implementation Plans, following consultation, in July 2004 </li>
<li>More information on <a href="/assets/downloads/LIP-Guidance-Final_2007-08.pdf">Local Implementation Plans</a>, including questions and answers,&nbsp;are available.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Westminster's Local Implementation Plan contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011. Key areas of the Local Implementation Plan include sustainable development and regeneration,";}
        
        


 