


@{ViewBag.Title = "Pioneering road treatment keeps London moving";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pioneering road treatment keeps London moving</h1>
        <div class="content-page-press-release">
        31 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A revolutionary preservative is being used on one of London's busiest roads in a bid to reduce congestion caused by essential carriageway repairs.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The work at Hogarth Flyover is complementary to our commitment to manage London's streets better
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London's (TfL's) Streets team is using the treatment, called Rhinophalt, on the Hogarth Flyover in Chiswick.</p>
<p>The west London route is a traffic hotspot and constant use has meant that previously the bridge had to be closed every six weeks for routine repairs to the road surface.</p>
<p>Rhinophalt is a single application preservative which slows the natural ageing and deterioration of the road surface. The process can be reapplied every few years to help protect the surface from the effects of heavy traffic and weathering, and works on asphalt and macadam in the same way as preservatives applied to wood.</p>
<p>Principal Engineer for TfL's Streets team, Steve Crisp, said: "The work at Hogarth Flyover is complementary to our commitment to manage London's streets better. </p>
<p>"We've treated the flyover with Rhinophalt before as part of a trial and it's been so successful in extending the intervals between essential repairs that we have decided to continue and re-apply the preservative.</p>
<p>"TfL Streets is also now actively reviewing rolling out this safe, sustainable and cutting-edge approach more widely with the aim of delivering long-term benefits to road users and keeping London's traffic moving."</p>
<p>Works at the flyover are managed by WSP Group plc as part of its stewardship contract with TfL Streets. ASI Solutions, engaged by principal contractor Ringway, carried out the Rhinophalt process. </p>
<p>Richard Fuller, Deputy Borough Manager of the WSP Group, said: "Hogarth Flyover was built as a temporary one-way bridge almost 40 years ago to relieve congestion at the busy Hogarth Roundabout interchange of the A316 and M4, but it was never designed to withstand the volume of traffic now using it daily.</p>
<p>"By re-applying this preservation process we hope to extend the life of its existing surface and further increase the intervals between bridge closures for routine maintenance and safety checks."</p>
<p>Neil Caldwell, Managing Director of ASI Solutions, said: "We're delighted to be involved in keeping Hogarth Flyover open as much as possible and hope that the positive results from TfL's trial and its visionary approach will be mirrored by others.</p>
<p>"Rhinophalt is ideal for use on bridges and high traffic volume roads; the cold spray-applied solution cures rapidly to minimise road closure times and gives long-lasting protection against the effects of weathering."</p>
<p>In addition to only having a thin road surface, the flyover presents a number of repair and maintenance challenges. </p>
<p>The carriageway is only 3.35m wide, has a number of tight bends and a three ton restriction, preventing use of traditional heavy-weight road repair and resurfacing equipment. <br></p>
            <ul>
<li>Rhinophalt is a gilsonite mineral binder that chemically re-engineers the bitumen within road surfaces and prevents loss of essential oils and resins that routinely occur</li>
<li>The preservative - which is BBA approved and in the final stages of receiving HAPAS approval - forms a membrane that becomes an integral part of the asphalt surface, without effecting skid resistance or texture depth</li>
<li>For more information on the treatment, and for illustrative pictures, please contact Simon McKay at ASI press office on 01353 741075, or email <a href="mailto:simon.mckay&#64;asiplc.com">simon.mckay&#64;asiplc.com</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL's) Streets team is using the treatment, called Rhinophalt, on the Hogarth Flyover in Chiswick.The west London route is a traffic hotspot and constant use has meant that previously the bridge had to be closed every six weeks for";}
        
        


 