


@{ViewBag.Title = "Summer cycling gets another boost in the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Summer cycling gets another boost in the Capital</h1>
        <div class="content-page-press-release">
        11 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today launched Transport for London's (TfL's) latest cycling campaign to get more Londoners on to two wheels.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
There has never been a better time to cycle in London
</p>
</div>
<p>The summer marketing campaign, which will include TV, radio, poster and newspaper advertising, aims to build on the growing number of people in the Capital who agree that 'You're better off by bike'.</p>
<p>Londoners who haven't been on a bike for a few years are likely to be in for a pleasant surprise - since 2000, the number of cyclists on London's major roads has increased by 72 per cent.</p>
<p>With more than 500km of London Cycle Network and countless cycle paths through London's green spaces for them to explore, new or returning cyclists are about to discover why London is the fastest growing cycling city in Europe.</p>
<p>Mayor of London Ken Livingstone said: "Cycling in London is a huge success story with increasing numbers of people taking to two wheels every day. </p>
<p>"As we build up to this year's Tour of Britain and the excitement grows about next year's Tour de France, this summer is a perfect time to encourage even more people on to their bikes."</p>
<p>Jenny Jones, the Mayor's Green Transport Advisor, said: "More and more people are coming up with their own reasons for cycling. </p>
<p>
</p>
<h2>Less pollution</h2>
<p>
</p>
<p>"It can be a mix of health, pleasure or speed. We hope that this campaign will prompt a few more Londoners to make the switch to pedal power. </p>
<p>"The more cyclists there are, the less polluted and congested London becomes."</p>
<p>Bradley Wiggins, London's Cycling Ambassador, who is competing in the Tour de France, said: "There has never been a better time to cycle in London, so why not get out there and enjoy this great weather? </p>
<p>"TfL produces cycle maps that cover every inch of London, and they are a brilliant way of finding out where the quiet routes are no matter where you're headed in the Capital.</p>
<p>
</p>
<h2>Cycle routes</h2>
<p>
</p>
<p>"Special cycle routes and more cycle parking are appearing all over London, and that's reflected in the amount of Londoners who are cycling now. </p>
<p>"I'm really looking forward to joining them on the streets of the Capital in July next year, when the Tour de France comes to town."</p>
<p>The summer cycling campaign advertising will run on television and radio from 10 July. Newspaper and poster advertising will run from 17 July. </p>
<p>TfL has increased investment in cycling from &pound;5.5m in 2000 to &pound;24m this year. </p>
<p>To increase the excitement around cycling in the capital, TfL, on behalf of the Mayor, is helping to bring world class cycling events like the Tour de France and Tour of Britain to London. </p>
<p>The continuing good weather is expected to encourage more Londoners than ever before to cycle around town, so TfL has some useful information for new and existing cyclists:</p>
<ul>
    <li>Perfect Planning - Use Journey Planner at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or the free TfL cycling maps to plan your journey on London's cycle network, green routes and roads. Look at the weather forecast and think about packing a light weight waterproof for longer journeys or commuting <br />
    </li>
    <li>Ready to Roll - Check your bike is road worthy especially that the brakes, tyres and lights are in working order. Ask at your local bike shop if you are unsure about anything. Cleaning your bike regularly is a good way to get to know it and to find problems before having to walk home<br />
    </li>
    <li>Safe and Sound - Carry a good quality bike lock if you are going to leave your bike anywhere (look out for the Sold Secure label). Register your bike at immobilise.com to be contacted if your stolen or lost bike is recovered. When parking your bike find an immovable object, preferably a cycle stand, and fix a lock through the frame and quick-release type wheels <br />
    </li>
    <li>Stay Cool - In hot weather choose man made fibres over cotton which absorbs sweat. Specific cycle clothing can make longer journeys more comfortable and often has the advantage of being reflective. Consider sunglasses but choose shatterp
    <ul>
        <li>Broadcast quality copies of the television and radio advertisements available on request. Print quality images of the posters are available on request </li>
        <li>TfL Bike Doctor will be at the Lambeth Country Show, 15-16 July </li>
    </ul>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The summer marketing campaign, which will include TV, radio, poster and newspaper advertising, aims to build on the growing number of people in the Capital who agree that 'You're better off by bike'.Londoners who haven't been on a bike for a few years are";}
        
        


 