


@{ViewBag.Title = "Sutton is first in London to benefit from innovative green travel initiative";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Sutton is first in London to benefit from innovative green travel initiative</h1>
        <div class="content-page-press-release">
        13 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People in Sutton will be the first in the Capital to experience an innovative way to help them use environmentally friendly and healthy ways to travel.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            If large numbers of people in one area make the switch, then others are more likely to follow their example
                            
                        </p>
                    </div>
                
            
            
            
<p>As Londoners become ever more aware of their health and their 
impact on the environment, Transport for London (TfL) will be working with the 
London Borough of Sutton on a three-year 'Sustainable Town Centre' pilot scheme. 
</p>
<p>Starting in September, the exciting initiative will bring together existing 
work on school, workplace and personal travel planning in one borough.</p>
<p>The scheme will see Sutton working in partnership with TfL to encourage 
people living, working and studying in the borough to walk, cycle and use public 
transport in line with the Mayor of London's Transport Strategy.</p>
<p>Sutton residents, schools and workplaces will be given the chance to take 
part in various travel planning initiatives.</p>
<p>This will include businesses, schools and homes being contacted to be 
provided with advice, information, encouragement and opportunities to choose 
more environmentally friendly journeys. </p>
<p>For example, advice on local public transport services, help with installing 
cycling facilities in schools or the workplace, or new walking buses for 
schools.</p>
<p>Ken Livingstone, Mayor of London, said: "As climate change becomes an ever 
bigger problem for humanity, innovative and local schemes like this have to be 
the future. </p>
<p>"We can all do our bit to reduce carbon emissions, and travelling in a more 
sustainable way is a good place to start."</p>
<p>
<h2>Air quality</h2>
<p>
<p>Jenny Jones, the Mayor's Green Transport Advisor, said: "If lots of people 
make small changes to the way they live and travel, then we can make a big 
difference to our local environment. </p>
<p>"We know that many Londoners have already made the switch from cars to buses 
and others have taken up cycling, but outside of central London, any 
improvements to air quality, congestion and noise are spread out across a big 
city. </p>
<p>"The aim of this project is to generate a critical mass of people in one area 
who will decide to walk more, cycle more and to switch to more sustainable forms 
of transport. </p>
<p>"If large numbers of people in one area make the switch, then others are more 
likely to follow their example." </p>
<p>
<h2>Improving health</h2>
<p>
<p>Ben Plowden, Managing Director of Group Communications, TfL,<br>said: "Many 
people are keen to choose healthier and more environmentally friendly ways to 
travel, but are unsure what options are open to them. </p>
<p>"As public transport services improve and facilities for walking and cycling 
improve we can help people in Sutton choose the best journey options for their 
needs.</p>
<p>"Small changes like cycling to the local shops or walking children to school 
a couple of times a week can help reduce congestion, improve health and save 
money."</p>
<p>Colin Hall, Deputy Leader of Sutton Council and lead councillor for the 
environment, said: "Sutton Council is totally committed to sustainable travel 
and is continually seeking new ways which will really help make a difference to 
how people travel. </p>
<p>
<h2>Sustainable travel</h2>
<p>
<p>"Our success in travel planning at schools, and the workplace travel plan we 
have implemented for council staff, demonstrates how effective initiatives like 
this can be.</p>
<p>"We are very excited about the opportunities that the Sustainable Town Centre 
pilot offers and look forward to working with TfL to create a world leading 
programme."</p>
<p>The pilot will also explore other opportunities to reduce congestion, such as 
the expansion of Sutton car clubs, a cycle hire scheme and plans to help people 
to use forms of travel other than car. </p>
<p>The programme will also look at the role of freight vehicles in the 
borough.</p>
<p>If the Sutton pilot is a success, future programmes will be rolled out in 
other major town centres in London.</p>
            <ul>
<li>The London Borough of Sutton was appointed the Sustainable Town Centre pilot borough after submitting a bid to TfL</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As Londoners become ever more aware of their health and their impact on the environment, Transport for London (TfL) will be working with the London Borough of Sutton on a three-year 'Sustainable Town Centre' pilot scheme. Starting in September, the";}
        
        


 