


@{ViewBag.Title = "Three points or new thinking about speeding?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Three points or new thinking about speeding?</h1>
        <div class="content-page-press-release">
        26 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the Metropolitan Police Service, are introducing speed awareness workshops for some speeding offenders as part of a long term educational strategy in a bid to influence driving behaviour.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Speed awareness workshops are a big step forward in the way we deal with road safety
                            
                        </p>
                    </div>
                
            
            
            <p>This new initiative is part of the London Safety Camera Partnership's (LSCP) enforcement campaign targeting those who speed and make London's roads unsafe.</p>
<p>Some people issued with a penalty for speeding at a set amount over the speed limit will be offered the opportunity to take a speed awareness workshop instead of receiving a fixed penalty fine and penalty points on their driving licences. </p>
<p>The workshop will cost &pound;72 and last two and a half hours.</p>
<p>The workshops aim to change drivers' attitudes to excessive and inappropriate speeds by informing them of the impact that speed can have in a collision. </p>
<p>TfL has overseen a 45 per cent reduction in the number of people killed or seriously injured compared with the average during the mid to late 1990's.</p>
<p>The courses will be offered at five sites in London with the first opening in Islington and with the first course taking place on 7 August.</p>
<p>
<h2>Changing attitudes</h2>
<p>
<p>Chris Lines, Head of the London Road Safety Unit, Transport for London, said:"Speed awareness workshops are a big step forward in the way we deal with road safety in the capital. </p>
<p>"Education plays a vital role in changing driver's attitude towards excessive speed. </p>
<p>"Most of us don't break the speed limit deliberately but few of us truly appreciate the real and potential dangers of driving even a few miles an hour above the speed limit. </p>
<p>"These workshops will help to change people's attitudes to speeding.</p>
<p>"In areas where these workshops have already been introduced 90 per cent of people who attended said they intended to driver slower or much slower following the course."</p>
<p>
<h2>Speeding kills</h2>
<p>
<p>Commander Shabir Hussain Head of Met's Traffic and Transport Unit said:"Speeding kills and has a lasting impact on families who are left behind. </p>
<p>"Driving even just a few miles an hour over the legal limit can result in death or serious injury. </p>
<p>"This initiative is paving the way forward and gives the enforcement agencies another tool in which to combat those who speed on London's roads. </p>
<p>"Whilst penalty points are still valid it is the belief of the partnership that education can improve road safety for everyone. </p>
<p>"We look forward to measuring the effectiveness of these speed awareness workshops and hope that they that will have a significant impact on casualty reduction and making London's roads safer."</p>
<p>Green Party member of the London Assembly, Jenny Jones, said: "We want good drivers in London, not repeat offenders. </p>
<p>"The aim of this course is to save lives on the road by convincing people that sticking to the speed limit is the best and the safest way of driving, rather than something imposed upon them. </p>
<p>"It will undoubtedly become the biggest driver re-education course in Britain. </p>
<p>"We have trebled the amount of money spent in London on engineering, new crossings and 20mph zones. </p>
<p>
<h2>Reducing casualties</h2>
<p>
<p>"Transport for London and most of the boroughs have been amazingly successful at reducing the casualty rates, but we now need to start changing the way people drive on the main roads and in the many residential areas where there aren't any road humps."</p>
<p>The courses in London will be delivered by DriveTech (UK) using methodology developed for existing schemes in Thames Valley and Northumbria. </p>
<p>Research conducted by leading driving psychologist Dr Frank McKenna indicates that over 90 per cent of course attendees intend to drive 'slower or much slower' after the course and that the perceived legitimacy of enforcement was significantly increased. </p>
<p>For example, 39 per cent of drivers challenged the legitimacy of enforcement in their personal case before the course, a figure which dropped to 10.5 per cent afterwards. <br></p>
            <ul>
<li>Journalists wishing to sit in on a speed awareness workshop should contact TfL Press Office for further details</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This new initiative is part of the London Safety Camera Partnership's (LSCP) enforcement campaign targeting those who speed and make London's roads unsafe.Some people issued with a penalty for speeding at a set amount over the speed limit will be offered";}
        
        


 