


@{ViewBag.Title = "Transport for London goes Yellow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London goes Yellow</h1>
        <div class="content-page-press-release">
        18 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Central London residents will be the first to benefit from a partnership between Transport for London (TfL) and international directories publisher Yell - as a new 16 page travel guide is introduced to the front of London Yellow Pages directories published from July 2006.
        
    </div>



 <div class="on-this-page">
<p>The comprehensive, easy to use guide will feature local travel information, including practical information on the Congestion Charge, Oyster card, taxi and Dial-a-Ride services and cycling in London. </p>
<p>It will also feature bus services and maps, tube map, trams and river service information and useful contact details.</p>
<p>The Central London Yellow Pages directory, will be delivered from King's Cross to Chelsea and Earls Court to Hoxton over the next few weeks. </p>
<p>Twelve more editions featuring the new travel guide will be delivered across the London area between July 2006 and March 2007 - more than three million directories in total. </p>
<p>Chris Townsend, Director of Group Marketing at Transport for London, said: "For the first time Londoners will be able to access full print travel information from TfL in their Yellow Pages directory. </p>
<p>"This new service complements TfL's already extensive range of customer travel information sources, which include the online Journey Planner, text message alerts and TfL's travel information line."</p>
<p>Paul Plant, Yell's head of innovation, said: "Yellow Pages is a comprehensive source of business and local information for Londoners, which is continually being updated. </p>
<p>"Around 50 per cent of Londoners use public transport at least once a week, so the new travel guide will be really useful and help to ensure that Yellow Pages continues to play an important role in London life."</p>
            <ul>
<li>Yell is a leading international directories business operating in the classified advertising market through printed, online and telephone-based media 
</li><li>Yell's brands in the UK are Yellow Pages and Business Pages, Yell.com, Yellow Pages 118 24 7 and in the US are Yellow Book and Yellowbook.com, all of which are trademarks</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The comprehensive, easy to use guide will feature local travel information, including practical information on the Congestion Charge, Oyster card, taxi and Dial-a-Ride services and cycling in London. It will also feature bus services and maps, tube map,";}
        
        


 