


@{ViewBag.Title = "Transport for London supports the capitals emerging design talent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London supports the capitals emerging design talent</h1>
        <div class="content-page-press-release">
        04 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is delighted to be supporting London's design talent being showcased at the New Designers Exhibition in Islington from July 6 to July 9 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The project not only highlights TfL's design heritage but how the past can influence future design
                            
                        </p>
                    </div>
                
            
            
            <p>TfL held a competition for design students and newly graduated designers asking them to come up with a TfL-related product. </p>
<p>The winner, to be picked from the finalists in the showcase, will have their product manufactured and sold in the Transport Museum shop.</p>
<p>The event will showcase the work of 19 exceptional new designers who were carefully selected by TfL from entries by, New Designers and Central St Martins College. </p>
<p>The event and competition are part of TfL's commitment to encouraging new and innovative design across the Capital. </p>
<p>The designs are being exhibited between July 6 and 9 2006 at New Designers Part two. </p>
<p>Saskia Boersma, Brand Licensing Manager at TfL, said: "TfL has a long history of innovative design so it is only natural to be supporting London's emerging designers.</p>
<p>"The designs selected to be showcased at New Designers were chosen for their research, innovation and commercial viability. </p>
<p>"The project not only highlights TfL's design heritage but how the past can influence future design. This exhibition is an excellent opportunity to showcase the Capital's design innovation to a key audience."</p>
<p><br>The winning design will be announced at the New Designers Awards Preview day on July 5. </p>
<p><br></p>
            <ul>
<li>Transport for London's history of innovative design was founded on the vision of one man, Frank Pick, whose energy and vision changed the face of transport in London and indeed the face of London itself during the 1920s and 30's. During this period many leading designers from all disciplines were commissioned to create striking original works. Some of the designers commissioned included Edward McKnight Kauffer, Lazslo Moholy-Nagy, Eric Ravilious, the typographer Edward Johnston and the textile designers Enid Marx and Marion Dorn. Their designs not only formed the corporate identity of the former London Transport but also led design into a new era 
</li><li>The winning design will be sold under the 'All Zones' product brand. All products in the brand, which consist of modern design-led products, draw on TfL's design history. The aim is for the past to influence the future yet to still remain at the cutting edge of design innovation. All Zones products have been designed by leading UK based design companies including Art Meets Matter, Suck UK and W2 and can be viewed on line at <a href="http://www.allzones.com">www.allzones.com</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL held a competition for design students and newly graduated designers asking them to come up with a TfL-related product. The winner, to be picked from the finalists in the showcase, will have their product manufactured and sold in the Transport Museum";}
        
        


 