


@{ViewBag.Title = "Victoria Line Upgrade takes another step forward";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Line Upgrade takes another step forward</h1>
        <div class="content-page-press-release">
        17 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A mock-up carriage from the new Victoria line fleet, due to be introduced from 2009 as part of Transport for London's (TfL's)Victoria Line Upgrade (VLU), is on display at Euston Square Gardens from today.
        
    </div>



 <div class="on-this-page">
<p>Between 21 July and 4 August the carriage will undergo market research, after which time there will be public viewing until 10 August.</p>
<p>The Victoria Line Upgrade will provide passengers with safer, more reliable and quicker journeys as faster new trains and an improved signalling and control system are delivered as part of Transport for London's &pound;10bn 5 year Investment Programme.</p>
<p>The market research process aims to ensure that London Underground's (LU) passengers are satisfied with the design of the new fleet proposed by Metronet Rail, the company responsible for the maintenance and renewal of the Bakerloo, Central and Victoria lines. </p>
<p>John Doyle, General Manager of the Victoria line said: "TfL is investing &pound;10bn over the next five years to meet London's transport needs, now and in the future.</p>
<p>"The Victoria Line Upgrade is a key Investment Programme project. Forty seven new, bigger and faster trains will be brought on the line between 2009 and 2013 as part of the Victoria Line Upgrade. <br><br>"The new trains will have greater capacity and will run faster. Other improvements to be delivered as part of the Victoria Line Upgrade include an improved signalling system, tracks and control system. </p>
<p>"These improvements aim to deliver safer, more regular and reliable customer journeys with better information provision and accessibility. </p>
<p>"The changes are likely to lead to a 17 per cent increase in peak frequencies and 16 per cent improvement in journey time. The Victoria Line Upgrade is due to be completed in 2013."</p>
<p>The new trains will possess the following key features: </p>
<ul>
<li>Higher passenger capacity 
</li><li>Better acceleration that may result in reduced journey times 
</li><li>Improved accessibility 
</li><li>CCTV coverage in each carriage 
</li><li>Enhanced on-train customer information. </li></ul>
<p>Other features include:</p>
<ul>
<li>Energy efficient trains 
</li><li>Vehicles designed for easier maintenance to reduced maintenance and repairs costs 
</li><li>Hard wearing vandal resistant materials to provide longer lasting and easier to clean exterior and interior environment 
</li><li>Lighting, heating and ventilation systems for passengers.</li></ul>
<p>Metronet Chief Programmes Officer Stephen Hall said: "I believe Londoners will welcome this new breed of train. </p>
<p>"This mock-up will give us good quality feedback on what people think about the improvements they can expect when the new Victoria line trains enter service in 2009."</p>
<p>Results of the market research will be announced in October 2006. </p>
            <ul>
<li>Customer Acceptance Testing will be undertaken by Outlook Research</li>
<li>TfL is investing &pound;10bn over the next five years to meet London's transport needs now and in the future</li>
<li>The Victoria Line Upgrade is due for completion by 2013</li>
<li>Last year LU was named UK Train Operator of the Year</li>
<li>Metronet Rail BCV is responsible for the renewal and maintenance of the Bakerloo, Central and Victoria lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Between 21 July and 4 August the carriage will undergo market research, after which time there will be public viewing until 10 August.The Victoria Line Upgrade will provide passengers with safer, more reliable and quicker journeys as faster new trains and";}
        
        


 