


@{ViewBag.Title = "Victoria line track improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria line track improvements</h1>
        <div class="content-page-press-release">
        03 July 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In order for Metronet Rail BCV to undertake track improvements, parts of the Victoria line will be suspended each weekend starting on Saturday and Sunday 8 &amp; 9 July until 12 &amp; 13 August, except 22 July when a full service will run.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These works are all being undertaken over weekends in order to minimise disruption
                            
                        </p>
                    </div>
                
            
            
            <p>There will then be a series of one day closures on the weekends.</p>
<p>Track improvements are required for the Victoria line upgrade, which when completed, will result in average journey times falling and trains becoming more comfortable, frequent and reliable.</p>
<p>These closures have been planned very carefully to ensure alternative public transport is in place and to try not to conflict with Arsenal football matches. </p>
<p>A full service is running on the Victoria line on Saturday 22 July when a testimonial match is being played.</p>
<p>John Doyle, the Victoria line Manager, said: "The Victoria line upgrade is one of the largest investment projects being undertaken on London Underground over the next decade.</p>
<p>"TfL is investing &pound;10bn to meet London's transport needs, now and in future, with more than half of that being spent on the Tube.</p>
<p>"Track improvements are required for the Victoria line upgrade, which will result in average journey times falling and trains becoming more comfortable, frequent and reliable.</p>
<p>"These works are all being undertaken over weekends in order to minimise disruption as much as possible.</p>
<p>"The extent of work meant that it could not be done in the four hours available in overnight engineering hours when the Tube is not running.</p>
<p>"These closures have been planned carefully to try and avoid Arsenal matches, and with alternative travel arrangements including three rail replacement bus services, two of which will connect with another Tube line, the Piccadilly, and LU tickets will be accepted on local bus routes in the areas affected."</p>
<p>The Sunday only closures starting on 20 August - November are designed to be flexible in response to the Arsenal FC match schedule. </p>
<p>For example, if a match is announced on a Sunday, the closure can be moved to the Saturday of that weekend. </p>
<p>If there are no matches at all, there may be scope for extending the closure to both days. </p>
<p>Full details will be confirmed when the match schedule is finalised.</p>
<p>The Victoria line will be partly suspended:</p>
<ul>
<li>From Seven Sisters to Highbury &amp; Islington<br>Sat 8 - Sun 9 July <br>Sat 15 - Sun 16 July <br>Sun 23 July <br>Sat 29 - Sun 30 July 
</li><li>From Seven Sisters to King's Cross St. Pancras<br>Sat 5 - Sun 6 August<br>Sat 12 - Sun 13 August</li></ul>
<p>Three Rail replacement bus services:</p>
<p>Route 1 southbound<br>Seven Sisters - Manor House, <br>(connect to Piccadilly line for central London)</p>
<p>Route 2 southbound<br>Finsbury Park - Highbury &amp; Islington, <br>Note: Highbury &amp; Islington is a 15-minute walk from Holloway Road station on the Piccadilly line - there are also several buses that serve both stations, on which LU tickets will be valid.</p>
<p>Route 3 northbound<br>Highbury &amp; Islington - Finsbury Park - Manor House - Seven Sisters, northbound</p>
<p>Valid LU tickets will be accepted on local buses and mainline services as below:</p>
<ul>
<li>Walthamstow - central London<br>'one' Railway to Liverpool Street and then continue on LU services 
</li><li>Blackhorse Road - central London<br>'one' Railway from St James Street (10 minute walk or 230 bus) to Liverpool Street and then continue on LU services 
</li><li>Tottenham Hale - central London<br>'one' Railway to Liverpool Street and then continue on LU services 
</li><li>Seven Sisters - central London<br>'one' Railway to Liverpool Street and then continue on LU services</li></ul>
<p>In addition, valid LU tickets will be accepted on local bus routes: </p>
<ul>
<li>259 - Seven Sisters - Manor House/ Finsbury Park 
</li><li>4, 19 - Finsbury Park - Highbury &amp; Islington 
</li><li>253 Finsbury Park - Euston 
</li><li>29 Finsbury Park - Warren St 
</li><li>30 Highbury &amp; Islington - King's Cross</li></ul>
<p>Leaflets are available from Monday 3 July at all Victoria line stations giving passengers details of the closures and alternative travel arrangements.</p>
<p>LU advise
            <ul>
<li>TfL is investing &pound;10bn to meet London's transport needs, now and in the future, with more than half of that being spent on the Tube 
</li><li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria, and Waterloo &amp; City lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There will then be a series of one day closures on the weekends.Track improvements are required for the Victoria line upgrade, which when completed, will result in average journey times falling and trains becoming more comfortable, frequent and";}
        
        


 