


@{ViewBag.Title = "Beat the heat 2010";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Beat the heat 2010</h1>
        <div class="content-page-press-release">
        26 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - 42 air-conditioned trains on London Overground, 54 by end of the year<BR>- Buses with air cooling up 58 per cent on last year <BR>- First air-conditioned Tube train to enter service this summer
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cooling the deeper lines remains a considerable challenge but engineers at Transport for London continue to focus on doing that, particularly on the Victoria line"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cooling the deeper lines remains a considerable challenge but engineers at Transport for London continue to focus on doing that, particularly on the Victoria line
                            
                        </p>
                    </div>
                
            
            
            <p>With warm summer temperatures now beginning to be felt in the Capital, the Mayor and Transport for London (TfL) have announced the range of measures under way to provide passengers on the transport network with cooler journeys.</p>
<p>Customers on the London Overground network are already benefiting from a fleet of 42 fully air-conditioned trains, including all 20 on the new East London line route. </p>
<p>By the end of the year a total of 54 air-conditioned trains will be operating, giving passengers cooler journeys through the 20 boroughs currently served by the railway. <br>&nbsp; <br>The Metropolitan line will become the first London Underground (LU) line to get a fleet of air-conditioned trains, starting with the first train this summer. </p>
<h2>Industrial-sized blue fans</h2>
<p>New trains will then be rolled out onto the Circle, District and Hammersmith &amp; City lines over the next five years. </p>
<p>Work is progressing to cool the Victoria line, with the capacity of the fans at all of the main ventilation shafts serving the line being doubled. </p>
<p>Four fans were completed last year and the second phase of the upgrade will be completed this summer. </p>
<p>Industrial-sized blue fans are also being deployed to help cool 30 locations across the Tube network.</p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'As a regular Tube user I know how uncomfortable and frustrating it can get when the temperature rises. </p>
<p>'It will be cold comfort for those using warmer lines but this summer we will see a significant roll out of trains with air conditioning on the Overground lines and the first air-conditioned Tube train. </p>
<h2>Extra opening windows</h2>
<p>'Cooling the deeper lines remains a considerable challenge but engineers at Transport for London continue to focus on doing that, particularly on the Victoria line where a lot of hard work is being put into upgrading the ventilation fans.'</p>
<p>On buses, all new double-deck buses are now fitted with air cooling systems and all double-deck buses in the Capital's fleet have been fitted with extra opening windows. </p>
<p>There are now 3,488 double-deck buses with air cooling or forced air ventilation systems, an increase of 58 per cent on last year.&nbsp;</p>
<p>TfL has also been working with the bus operators and joint funding a scheme to retrofit automatic heating systems on 1,367 of the older double-deck buses in the fleet to ensure heating is not left on during the hot summer period. </p>
<p>Of the 8,500 buses in the fleet 6,356 have white roof panels which help to reflect the heat. </p>
<p>New buses must have insulated roof and side panels which reflect heat along with tinted side glass. </p>
<h2>Tips to keep cool</h2>
<p>Peter Hendy, Transport Commissioner, said: 'During the hot weather we want to make sure that our passengers travel in as much comfort as possible. </p>
<p>'We know it can get uncomfortable, but we are making good progress - with the tens of thousands who use London Overground each day now travelling in air-conditioned carriages, and the first ever air-conditioned Tube trains coming on stream this summer.&nbsp; </p>
<p>'Air cooling systems are now fitted on all new double deck buses joining the fleet now have it installed. </p>
<p>'Additional opening windows have also now been fitted on all double deck buses.'</p>
<p>As in previous summers, TfL will be providing hot weather advice to passengers. Posters and announcements at stations will provide tips to passengers on how to try and stay cool. </p>
<p>Here are a few tips for keeping comfortable in hot weather:</p>
<ul>
<li>Carry water with you </li>
<li>Don't board a train or bus if you feel unwell </li>
<li>If you feel unwell please get off at the next stop and seek help from our staff&nbsp; </li>
<li>Avoid pulling the passenger alarm between stations</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Media will be given an opportunity to film on the new air-conditioned Tube train when it enters service later this summer and will be notified nearer the time </li></ul>
<p><strong>London Underground</strong></p>
<ul>
<li>New trains equipped with air cooling will be delivered for the sub-surface network (Circle, District, Hammersmith &amp; City and Metropolitan lines) from this summer onwards </li>
<li>Ground water cooling - the trial started at Victoria station in summer 2006 and has been successful and has improved temperatures in the mid platform area. The groundwater trial provides an environmentally friendly cooling solution for the Victoria line platforms at Victoria station and uses groundwater which is already pumped out of the station. Across the Tube network, LU pumps out 30 million litres of water each day </li>
<li>Ventilation shafts - LU is upgrading ventilation shafts, which will improve airflow- increasing air distribution capacity to allow hot air to escape more easily. Over the next few years, plans are underway to upgrade 13 ventilation fans along the Victoria line, the first four are working now, more will be completed this year, and all will be finished in 2011 </li>
<li>Out-of-service fans - LU is working to re-condition and upgrade the existing station ventilation fan network. A total of 83 ventilation fans have now been restored, more than doubling the capacity of the fan network and this year works are about to start at Old Street, Angel and Notting Hill Gate </li>
<li>Portable fans - In 2008 fans installed within tickets and concourse areas, to increase air circulation at a number of stations. A total of 30 fans will be in service again this summer </li>
<li>Mechanical Chiller units - A mechanical chiller which provides cooling to customers and staff in the ticket hall area have now been installed at Oxford Circus and Euston stations. Work to cool platform areas at Victoria, Green Park and Oxford Circus will be complete 2012-15 </li>
<li>Impulse fans - LU has installed ceiling mounted impulse fans on Bakerloo line platforms at Marylebone and Lambeth North stations</li></ul>
<p><strong>London Buses</strong></p>
<ul>
<li>All new double-deck buses entering the fleet have a thermostatically controlled air cooling system fitted on the upper deck as standard </li>
<li>Better windows - all new buses must be fitted with opening windows on all full sized window bays (on the upper and lower deck).&nbsp;We have also retro-fitted almost the entire fleet of existing double deck vehicles with additional opening front side windows (these are not full sized window bays and so traditionally did not open) </li>
<li>Upper deck air cooling systems - following successful trials of such systems London Buses has now made it compulsory for all new vehicles to be fitted with upper deck cooling systems as standard </li>
<li>Heat reflection - all new buses and buses going for repainting now have to have white-painted roof panels which reflect the heat.&nbsp;At May 2010, 6,356 buses had white roof panels.&nbsp;New buses must have insulated roof and side panels which reflect heat along with tinted side glass </li>
<li>Thermostatically controlled heating system - most buses have heating systems which are automatically controlled by sensors in the passenger area, rather than by the driver or the garage engineers.&nbsp;The sensors start to shut the heating down at 13&ordm;C and it will be fully shut down by the time the bus reaches 17&ordm;C </li>
<li>1,702 double-deck buses have upper deck cooling systems and 1,786 have upper deck forced air ventilation systems (so 62 per cent of the double-deck fleet have been fitted with some form of cooling system) </li>
<li>TfL is working in conjunction with the bus operators upgrading 1,367 older double-deck buses so the heating turns off automatically at a certain temperature which will be completed by mid-July</li></ul>
<p><strong>London Overground</strong></p>
<ul>
<li>A total of 42 air-conditioned, high-capacity trains are operating on London Overground including 20 on the new East London line route. By the end of 2010 it will have gone up to 54<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With warm summer temperatures now beginning to be felt in the Capital, the Mayor and Transport for London (TfL) have announced the range of measures under way to provide passengers on the transport network with cooler journeys.Customers on the London";}
        
        


 