


@{ViewBag.Title = "Blackwall Tunnel closed to southbound traffic this weekend ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackwall Tunnel closed to southbound traffic this weekend </h1>
        <div class="content-page-press-release">
        02 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Southbound traffic to be diverted from 21:00 on Friday 4 June to 05:00 Monday 7 June<BR>- Closure needed for vital improvement works to the tunnel ventilation shafts<BR>- Additional Woolwich Ferry services to run this weekend
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our contractor will be working day and night while the tunnel is closed to ensure that these works are completed as soon as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">TfL Chief Operating Officer for Streets</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our contractor will be working day and night while the tunnel is closed to ensure that these works are completed as soon as possible
                            
                        </p>
                    </div>
                
            
            
            <p>The Blackwall Tunnel will be closed to southbound traffic this weekend as part of the ongoing refurbishment and safety upgrade of the 113-year-old tunnel. </p>
<p>This will allow Transport for London's (TfL's) contractor, BAM Nuttall, to carry out vital improvement works to the ventilation shafts that can't be carried out during the weeknight closure programme.</p>
<p>The closure, which has been agreed following discussions with stakeholders including surrounding boroughs, user groups and key local businesses, has been timed to avoid weekend closures of the Jubilee line and major events in the area. </p>
<h2>Extra Woolwich Ferry services</h2>
<p>As with the weeknight closure programme, northbound traffic will be diverted through the southbound tunnel while the northbound tunnel is closed. </p>
<p>Southbound traffic will be required to find alternative routes to cross the River Thames.</p>
<p>During the weekend closure, the Woolwich Ferry will run extra services, with a one boat service on Saturday from 06:10, a two-boat service operating between 09:00-17:00 and a one boat service from 17.00-20.00. </p>
<p>A two-boat service will also run on Sunday between 11.30 -19.30.</p>
<h2>Three-year programme</h2>
<p>This is the first of five planned weekend closures for the tunnel this year.</p>
<p>Future closures will take place on 9-12 July, 16-19 July, 10-13 September and 1-4 October.</p>
<p>TfL expects to carry out a total of 10 weekend closures during the three-year refurbishment programme. </p>
<p>The remaining five closures will take place in 2011 and 2012, and dates will be announced in advance of these closures as work progresses.</p>
<p>Garrett Emmerson, Chief Operating Officer for Streets, Transport for London, said: 'The refurbishment and safety upgrade of the 113-year-old Blackwall Tunnel is vitally important for its continued safe operation. </p>
<h2>Minimum disruption</h2>
<p>'We apologise for the inconvenience these weekend closures may cause and are doing all we can to ensure that disruption is kept to an absolute minimum whilst these works are being carried out. </p>
<p>'Our contractor will be working day and night while the tunnel is closed to ensure that these works are completed as soon as possible.'</p>
<p>Additional signage will be placed on approach roads to the Blackwall Tunnel to inform them of the closure and to advise drivers to seek an alternative route.</p>
<p>Work on the refurbishment will be completed by December 2012. For more information, visit <a href="http://www.tfl.gov.uk/blackwalltunnelrefurbishment">www.tfl.gov.uk/blackwalltunnelrefurbishment</a>.<br></p>
<p>
<hr>
<br><strong>Notes to editors:</strong> &nbsp; 
<ul>
<li>TfL announced the dates of the five <a href="/static/corporate/media/newscentre/archive/15484.html">weekend closures</a> required last month </li>
<li>TfL agreed the dates for the weekend closures following discussion with a number of key stakeholders including surrounding local boroughs, Canary Wharf Group, The O2 and Connect Plus </li>
<li>Public meetings were held at Canary Wharf and the O2 Arena North Greenwich on 14 and 15 May, where TfL staff explained the need for the weekend closures and why these weekends were chosen. Letters were also sent to 15,000 local residents in January, advising of the need for weekend closures as part of this scheme </li>
<li>During the Blackwall Tunnel weekend closures, the regular Friday night maintenance closure of the Rotherhithe Tunnel will be suspended to allow traffic to use the tunnel as an alternative river crossing </li>
<li>The three-year, &pound;70m refurbishment programme of the northbound Blackwall Tunnel will include the installation of new fire and incident detection systems and a new CCTV camera system, along with better access for emergency services. These improvements will make the tunnel meet the latest safety standards and will help to ensure the safe continued use of the tunnel, which was built in 1897 and carries 50,000 vehicles a day </li>
<li>While the refurbishment works are carried out, northbound traffic is diverted through the southbound tunnel. Because the diversion involves chicanes, a 20mph speed limit is put in place each night and enforced by average speed cameras. Southbound traffic uses other river crossings </li>
<li>There is no toll for using the Dartford&nbsp;- Thurrock river crossing between 22:00 and 06:00 </li>
<li>While the northbound tunnel is closed for refurbishment works, the Route 108 (which is the only bus to use the Blackwall Tunnel) is affected. More details&nbsp;are available online, or at bus stops </li>
<li>TfL recently extended the operating hours of the Woolwich Ferry from 20.00 to 22.00, Monday to Thursday to help provide an additional river crossing during the refurbishment programme</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Blackwall Tunnel will be closed to southbound traffic this weekend as part of the ongoing refurbishment and safety upgrade of the 113-year-old tunnel. This will allow Transport for London's (TfL's) contractor, BAM Nuttall, to carry out vital";}
        
        


 