


@{ViewBag.Title = "Bus crime at its lowest level for six years ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus crime at its lowest level for six years </h1>
        <div class="content-page-press-release">
        30 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Bus-related crime falls by eight per cent<BR>- 11 crimes per million passenger journeys in 2009/10
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With only 11 crimes per million passenger journeys Londoners should be reassured that it is safer than ever to travel on the network"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With only 11 crimes per million passenger journeys Londoners should be reassured that it is safer than ever to travel on the network
                            
                        </p>
                    </div>
                
            
            
            <p>Crime on buses in the Capital is at its lowest level for six years. </p>
<p>Today (30 June) the Mayor of London, Boris Johnson, announced that in 2009/10 there were 2,000 fewer offences than the previous year, a drop of eight per cent. </p>
<p>Despite a continued increase in bus passenger journeys over the last five years, the rate of crime per million passenger journeys has been halved (from 22 to 11).</p>
<p>Figures released today confirmed that over the last year: </p>
<ul>
<li>Bus vandalism went down by more than a third (37 per cent) </li>
<li>Violence against the person offences dropped by ten per cent </li>
<li>Robberies fell by eight per cent</li></ul>
<p>Continued investment in safety and security on the buses has been a key focus of the Mayor and Transport for London (TfL), and following the Mayor's election, an extra 440 police officers were recruited to police transport hubs. </p>
<p>Jointly funded by TfL and the Metropolitan Police Service (MPS), the additional teams complement other dedicated transport policing squads working as part of the MPS Safer Transport Command to improve safety and security on public transport.</p>
<p>The Mayor of London, Boris Johnson, said: 'When I became Mayor I pledged to make public transport safer, so it is extremely encouraging to hear that bus crime is now at its lowest level in six years. </p>
<p>'After my first year in office crime on buses fell by an extraordinary 18 per cent and this year's eight per cent reduction builds on that success. </p>
<p>'We will not cease in our efforts to make London's buses safer than ever.' </p>
<h2>Additional police officers</h2>
<p>David Brown, Managing Director of Surface Transport at TfL, said:&nbsp;'With only 11 crimes per million passenger journeys Londoners should be reassured that it is safer than ever to travel on the network and they are very unlikely to be a victim of crime when on our buses.</p>
<p>'It's encouraging to see that the Mayor's investment in additional visible transport policing and the combined efforts of the Safer Transport Command have had such a positive effect on bus crime and in return on the travelling experience of Londoners.'</p>
<p>Deputy Mayor for Policing Kit Malthouse said: 'It's not rocket science - Boris's recruitment of 440 additional police officers to manage bus hubs has resulted in 2,000 fewer crimes. </p>
<p>'We still have a long way to go, but this is a good start and Londoners will feel safer as a result.' </p>
<h2>Amazing partnership working</h2>
<p>Chief Superintendent Joe Royle, MPS Safer Transport Command, said: 'We are working together with Transport for London and our policing partners to drive down crime and the fear of crime. </p>
<p>'This significant drop in bus-related crime is thanks to this amazing partnership working, and the intelligence-led policing capability of the Safer Transport Command and its Safer Transport Teams.&nbsp; </p>
<p>'Together we shall continue to tackle and further reduce bus-related crime and instil even more confidence in the public who use the transport network.'<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Statistics gathered by TfL and the MPS show for 2009/10 crimes committed on or around the bus network have been reduced by eight per cent compared to the year before </li>
<li>Total bus-related crme 2008/09 compared to 2009/10</li></ul>
<blockquote>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Crime type</td>
<td>2008/09</td>
<td>&nbsp;2009/10</td>
<td>&nbsp;% change between 09/10 and 08/09</td></tr>
<tr>
<td>&nbsp;Burglary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td>&nbsp;86</td>
<td>&nbsp;63</td>
<td>&nbsp;-27</td></tr>
<tr>
<td>&nbsp;Criminal damage</td>
<td>&nbsp;3,723</td>
<td>&nbsp;2,350</td>
<td>&nbsp;-37</td></tr>
<tr>
<td>&nbsp;Drugs</td>
<td>&nbsp;779</td>
<td>&nbsp;693</td>
<td>&nbsp;-11</td></tr>
<tr>
<td>&nbsp;Fraud/forgery</td>
<td>&nbsp;387</td>
<td>&nbsp;325</td>
<td>&nbsp;-16</td></tr>
<tr>
<td>&nbsp;Other notifiable offences</td>
<td>&nbsp;234</td>
<td>&nbsp;276</td>
<td>&nbsp;18</td></tr>
<tr>
<td>&nbsp;Robbery</td>
<td>&nbsp;2,761</td>
<td>&nbsp;2,564</td>
<td>&nbsp;-7</td></tr>
<tr>
<td>&nbsp;Sexual offences</td>
<td>&nbsp;535</td>
<td>&nbsp;550</td>
<td>&nbsp;3</td></tr>
<tr>
<td>&nbsp;Theft and handling</td>
<td>&nbsp;10,948</td>
<td>&nbsp;11,267</td>
<td>&nbsp;3</td></tr>
<tr>
<td>&nbsp;Violence against the person</td>
<td>&nbsp;7,609</td>
<td>&nbsp;6,888</td>
<td>&nbsp;-9</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Total</td>
<td>&nbsp;27,062</td>
<td>&nbsp;24,976</td>
<td>&nbsp;-8</td></tr></tbody></table></div></blockquote>
<ul>
<li>There are now just 11 crimes per million bus passenger journeys compared to 12 crimes per million bus passenger journeys the year before </li>
<li>2009/10 figures also show crime on the London Underground and DLR networks was down by four per cent, with just 13 crimes per million passenger journeys taken </li>
<li>Overall there are almost 2,000 Police Officers and PCSOs dedicated to the bus network in London </li>
<li>The MPS Safer Transport Command&nbsp;is primarily funded by TfL to fight crime on buses, tackle bike theft, illegal taxi touts and assist with the control of traffic congestion </li>
<li>There are 32 STTs covering every borough in the Capital.&nbsp;The teams also incorporate 32 hub teams, introduced by the Mayor last year.&nbsp;The teams patrol geographically defined areas identified to benefit from additional police </li>
<li>The STTs act as a visible deterrent to help reduce crime and antisocial behaviour on and around buses.&nbsp;They also enhance and work closely with existing Safer Neighbourhood Teams, Safer School Officers, British Transport Police and local transport staff to ensure Londoners can move around the Capital more safely and confidently</li></ul>
<blockquote></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Crime on buses in the Capital is at its lowest level for six years. Today (30 June) the Mayor of London, Boris Johnson, announced that in 2009/10 there were 2,000 fewer offences than the previous year, a drop of eight per cent. Despite a continued";}
        
        


 