


@{ViewBag.Title = "Elephant and Castle southern roundabout to be removed by October";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Elephant and Castle southern roundabout to be removed by October</h1>
        <div class="content-page-press-release">
        02 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to convert notorious roundabout to signalised junction will begin in July 2010.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Subways to close by end of the year, with all works completed by spring 2011 </li>
<li>Scheme supports the Mayor of London's vision for improving London's public spaces&nbsp; </li></ul>
<p>Work is about to get underway to take out the notorious southern roundabout at Elephant&nbsp;and Castle, Transport for London (TfL) has announced today (2 June).&nbsp; </p>
<h2>Regeneration</h2>
<p>Its removal will make a major contribution to the regeneration of the area.</p>
<p>Works begin in July and support the Mayor of London's vision for improving public spaces in the Capital, The Great Outdoors. </p>
<p>The current roundabout will be converted to a junction with traffic signals, and when complete the work is expected to bring a range of benefits to local residents, road users and businesses in the area. </p>
<p>Engineers have carefully redesigned the junction to ensure that it will be able to manage traffic levels, while also delivering improvements for pedestrians and cyclists using the area. </p>
<p>Paved areas will be widened to provide more space, which will allow pedestrians and cyclists to use the shared-use pavements to navigate the junction more quickly and safely. </p>
<h2>Improvements</h2>
<p>Other improvements include new cycle lanes, advanced stop lines, improved street lighting and extra trees being planted in the local area.</p>
<p>As part of the project the existing subways underneath the roundabout will be filled in by TfL and replaced with new surface crossings. The new crossings will make it easier for pedestrians and cyclists to cross the road, as well as help manage traffic through the area. Work to remove the subways will begin after the roundabout has been converted, with the subways closed to the public by the end of the year. </p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The start of the physical work to remove this archaic monstrosity from the streets of Southwark is a big step forward in the regeneration of Elephant and Castle. </p>
<p>'A signalised junction will help improve the flow of traffic through the area and I think local people will be delighted to be able to cross the road without having to use the pretty unpleasant subways that are there at the moment. </p>
<p>'This work is a great example of the Mayor's drive to improve the appearance and feel of the Capital.' </p>
<h2>Smooth traffic flow</h2>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL said: 'The improvement works to convert the Elephant and Castle southern roundabout will benefit all road users, significantly improve the public realm and help smooth traffic flow through this regularly congested area. </p>
<p>'While these works are being carried out, TfL and our contractors will make every effort to ensure that any disruption to road users is kept to a minimum by working extended hours where appropriate.'</p>
<p>Anne Lippitt, Strategic Director of Regeneration and Neighbourhoods at Southwark Council, said: 'These works link directly to the entire Elephant and Castle regeneration project, which includes massive improvements to the transport infrastructure of the whole local area. </p>
<p>'We're working closely with TfL to create better, safer routes for cyclists, pedestrians and public transport. We're delighted to see the works beginning, as part of one of the biggest regeneration projects in London.'</p>
<p>Work on the scheme will be completed by spring 2011. </p>
<p><br><strong>Notes to editors</strong></p>
<ul>
<li>CGI representations of how the new signalised junction will look are available from the TfL Press Office on 0845 604 4141 </li>
<li>The timetable of works for the Elephant and Castle southern roundabout removal is as follows </li>
<li>&nbsp;Main construction starts - July 2010 </li>
<li>Traffic switches over to new layout - October 2010 </li>
<li>Subways under Southern Roundabout closed - December 2010 </li>
<li>New pedestrian crossings complete - February 2011 </li>
<li>Footway works complete - February 2011 </li>
<li>Tree planting and landscaping complete - March 2011 </li>
<li>Scheme completion - April 2011 </li>
<li>Work on the southern roundabout is expected to cost around &pound;2.8m, funded by TfL (&pound;2.2m) and the London Development Agency (&pound;600k) </li>
<li>During the works, the roads leading into the southern roundabout may be subject to lane restrictions or local diversions. Advance warning signs will be placed around the area and TfL will ensure that residents are made aware of significant traffic diversions ahead of implementation </li>
<li>Southern Gas Network is currently carrying out strengthening works to the gas main underneath the southern roundabout. These works will be completed prior to the start of main works </li>
<li>TfL continues to work with Southwark Council and Lend Lease to discuss the long term regeneration of Elephant &amp; Castle </li>
<li>TfL's feasibility study into the long term transport needs of the area was completed in 2009 and identified a number of necessary transport improvements required to help support the regeneration of Elephant &amp; Castle. These included </li>
<li>Major capacity improvements to the Northern line ticket hall at Elephant and Castle Underground station </li>
<li>Additional cycling and walking facilities throughout the area </li>
<li>Increased bus priority measures and interchange facilities </li>
<li>Further road improvements and changes to the Northern roundabout in Elephant and Castle </li>
<li>Londoners can find out what roadworks are planned in their local area by visiting the LondonWorks website at <a href="http://public.londonworks.gov.uk">http://public.londonworks.gov.uk</a> </li>
<li>'London's Great Outdoors - A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London. This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital </li>
<li>They are accompanied by an implementation plan that will see &pound;220 million invested in more than 50 public realm improvement projects during the next three years, funding for which comes from TfL, The London Development Agency and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both pedestrians and vehicles, and reclaimed derelict green spaces and underused waterways </li>
<li>The manifesto and guides have been written and produced by the Greater London Authority, London Development Agency, Design for London and TfL.&nbsp;For further information please go to <a href="http://www.london.gov.uk/greatoutdoors">www.london.gov.uk/greatoutdoors</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Subways to close by end of the year, with all works completed by spring 2011 Scheme supports the Mayor of London's vision for improving London's public spaces&nbsp; Work is about to get underway to take out the notorious southern roundabout at";}
        
        


 