


@{ViewBag.Title = "First docking station for Mayor's flagship cycling scheme installed on the Capital's streets ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First docking station for Mayor's flagship cycling scheme installed on the Capital's streets </h1>
        <div class="content-page-press-release">
        16 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new short film guiding people through the process of hiring a Barclays Cycle Hire bicycle is now available to view online.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is now just a matter of weeks until Londoners are able to use the cleanest, greenest and healthiest form of public transport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is now just a matter of weeks until Londoners are able to use the cleanest, greenest and healthiest form of public transport 
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London's commitment to bring a cycling revolution to the streets of London came another step closer today (16 June) as the first docking station, part of a record investment in cycling from the Mayor and Transport for London (TfL), was installed for his flagship cycling scheme. </p>
<p>The docking station on Southwark Street is the first of around 400 stations that will be in place across the centre of the Capital once Barclays Cycle Hire is complete. </p>
<h2>The countdown has begun</h2>
<p>TfL is also encouraging those keen to saddle up for the scheme, which launches on 30 July, to watch a quirky three-minute film explaining how it works. </p>
<p>The film, posted on TfL's YouTube site, guides people through the process of how to hire a bicycle, and stars a range of Barclays Cycle Hire cartoon characters.<br>&nbsp;<br>Boris Johnson, Mayor of London, said: 'It is now just a matter of weeks until Londoners are able to use the cleanest, greenest and healthiest form of public transport that the Capital has ever seen. </p>
<p>'Although people won't be able to use the docking stations until the scheme launches on 30 July, they are a very visible sign that the countdown has begun to the arrival of a brand new public transport system that will transform the way that people travel around the centre of our city.'<br>&nbsp;<br>The short film released today is now available to view on <a href="http://www.youtube.com/user/BarclaysCycle">You Tube</a>.&nbsp;It covers the following points on how to hire a bicycle:</p>
<ul>
<li>To use one of the 6,000 hire bicycles you will need to buy access - either as a member or as a casual user </li>
<li>Members will be given a key which will allow them to pick up a bicycle from any docking point without having to use the terminal </li>
<li>Casual users will be able to pay for their access fee online or at the docking station terminal - where they'll be given a five-digit cycle release code </li>
<li>Choose a bicycle from any docking point that doesn't have a light illuminated </li>
<li>Either insert your membership key into the slot or tap in your five-digit release code into the pad on the docking point </li>
<li>When you see the light turn green, take a bicycle, hop on and cycle to your destination </li>
<li>Re-dock the bicycle in any docking point at the end of your journey and ensure the light turns green </li>
<li>All journeys under 30 minutes are free of usage charges. Usage charges for longer journeys will be debited from your payment card at the end of your access period</li></ul>
<p>Londoners wanting to find out more about the scheme can visit one of the Barclays Cycle Hire roadshows currently touring central London until October. </p>
<p>A short film on safety, focusing on the scheme's Code of Conduct, will also be released soon.<br>&nbsp;<br>David Brown, Managing Director of Surface Transport at TfL, said: 'The installation of the first docking stations will give Londoners and visitors to the city a real sense of how the landscape and travel behaviour in Zone 1 is set to change with the arrival of Barclays Cycle Hire. </p>
<p>'We are very keen for people to find out more about this exciting scheme by visiting one of the many roadshows already underway across central London or by watching our short film online.'</p>

<p>Deanna Oppenheimer, CEO UK Retail Bank and Vice Chair Global Retail Bank at Barclays, said: 'We are excited this scheme has reached this important landmark.</p>

<p>'Barclays Cycle Hire will help Londoners lead more active lives and promote the benefits of cycling as a cost effective, sustainable, environmentally friendly mode of transport. </p>

<p>'With its 400 docking stations and 6,000 bikes it is clear that this scheme will change the look and feel of central London for the better.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Find out more and register interest in the <a href="/roadusers/cycling/12444.aspx">Barclays Cycle Hire</a> scheme online </li>
<li>The first Barclays Cycle Hire test docking station has been installed by TfL on Southwark Street (between the junctions with Great Suffolk Street and Lavington Street, outside the Blue Fin Building). It has 33 docking points. Photos of the installation (including time lapse photography) are available from TfL's press office on 0845 604 4141 </li>
<li>An additional four test docking stations will be installed in Southwark and Lambeth at the following locations: two on Stamford Street (opposite Paris Gardens, and junction of Cornwall Road), Union Street (opposite Ewer Street), and another on Southwark Street (close to the junction with Borough High Street). The full docking station installation programme will start once all the test site installations are complete </li>
<li>Once complete, people using London's Cycle Hire scheme will be able to pick up and drop off one of the 6,000 hire bicycles at around 400 locations across London's Zone 1travel area. This means that there will be a docking station every 300metres or so </li>
<li>TfL has worked closely with the nine London boroughs and several Royal Parks that Barclays Cycle Hire will cover to identify the most suitable locations for docking stations, with all applications subject to planning consent and including a period of consultation. The boroughs, as the planning authorities, have been making the final decision on whether to approve the locations </li>
<li>In order to maximise the chance of people being able to return a bicycle to the docking station of their choice, there will be approximately 1.7 bicycle docking points for each bicycle. This means that, once the scheme is complete, there will be 10,200 docking points spread across 400 docking stations. Redistribution teams will be in place to move bicycles from quieter docking stations to busier ones throughout the day </li>
<li>View the <a href="http://www.youtube.com/user/BarclaysCycle">new short film</a> explaining how to use Barclays Cycle Hire. Details on how to register for membership of Barclays Cycle Hire will be announced shortly </li>
<li>A full schedule of the 45 Barclays Cycle Hire roadshow events is available at tfl.gov.uk/barclayscyclehire. The roadshows, which run until October, will provide practical demonstrations, hints and tips - including how to register for the scheme, how much it will cost to use, and how to pick up and drop off hire bicycles from the docking stations. Existing or potential cyclists will also be given safety tips, details of cycle routes and will be encouraged to sign up for TfL-funded cycle training through their local borough council. Visit <a href="/roadusers/cycling/11598.aspx">TfL's cycling web&nbsp;pages</a>&nbsp;for information on how to set up your cycle training session </li>
<li>Barclays Cycle Hire will operate across central London. Docking stations and hire bicycles will be available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks </li>
<li>Barclays Cycle Hire aims to build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 and is expected to generate up to 40,000 extra cycle trips a day in central London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London's commitment to bring a cycling revolution to the streets of London came another step closer today (16 June) as the first docking station, part of a record investment in cycling from the Mayor and Transport for London (TfL), was";}
        
        


 