


@{ViewBag.Title = "Hammersmith & City and Circle lines between Hammersmith and Edgware Road set for three week upgrade closure ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith & City and Circle lines between Hammersmith and Edgware Road set for three week upgrade closure </h1>
        <div class="content-page-press-release">
        24 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Closure between 24 July and 15 August due to Crossrail and London Underground (LU) station upgrade works at Paddington. LU will take advantage of closure to carry out additional upgrade work.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are taking advantage of this to accelerate additional upgrade works"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">LU's Service Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are taking advantage of this to accelerate additional upgrade works
                            
                        </p>
                    </div>
                
            
            
            <p>Work at Paddington to help deliver Crossrail and an upgrade of the Tube station will mean LU Circle and Hammersmith &amp; City line services will be suspended between Hammersmith and Edgware Road for three weeks this summer.</p>
<p>The works at Paddington will involve the demolition of a disused taxi ramp and canopy that sit above the Hammersmith &amp; City line platforms and means that trains will not be able to operate in that area. </p>
<p>LU will also take advantage of the closure to carry out essential renewal and upgrade works, which otherwise could have required weekend closures. </p>
<p>These include: </p>
<ul>
<li>Platform extension works to accommodate the new, longer air-conditioned trains</li>
<li>Installing energy-efficient conductor rails</li>
<li>Track replacement and drainage works</li></ul>
<p>The closure will begin on Saturday 24 July and services will resume on Monday 16 August. </p>
<p>Hammersmith &amp; City line services will operate from Edgware Road to Whitechapel while Circle line services will operate on the old route. </p>
<p>Rail replacement services will operate between Hammersmith and Edgware Road and there will be ticket acceptance on local bus and tube services. </p>
<h2>Major upgrade</h2>
<p>Nigel Holness, LU's Service Director, said: 'Due to the nature of the works at Paddington we will not be able to operate services between Hammersmith and Edgware Road. </p>
<p>'We are taking advantage of this to accelerate additional upgrade works including platform extension essential for the new longer air conditioned trains. </p>
<p>'We apologise for any inconvenience this may cause, and would advise passengers to check for alternatives routes by visiting <a href="http://www.tfl.gov.uk.'">www.tfl.gov.uk.'</a></p>
<p>Transport for London (TfL)&nbsp;is delivering a multi-billion pound investment programme to improve and expand the transport network. </p>
<p>Between now and 2018, TfL will be upgrading the Tube network, building Crossrail, and expanding the Docklands Light Railway and London Overground networks, as well as delivering other major improvements.</p>
<p>Such investment is vital to the future growth, prosperity and the competitiveness of London and the UK, particularly for creating new jobs and opportunities.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>New trains equipped with air cooling will be delivered for the sub-surface network from 2010 onwards. The Metropolitan line&nbsp;from summer 2010, the Circle and Hammersmith &amp; City lines from 2012 and the District line from 2013<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work at Paddington to help deliver Crossrail and an upgrade of the Tube station will mean LU Circle and Hammersmith &amp; City line services will be suspended between Hammersmith and Edgware Road for three weeks this summer.The works at Paddington will";}
        
        


 