


@{ViewBag.Title = "Let the music and poetry transport you";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Let the music and poetry transport you</h1>
        <div class="content-page-press-release">
        07 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is celebrating the joys and consolations of music with a new set of poems which are on display in Tube carriages from today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope readers travelling on the Tube will be entertained and inspired by poems linking the great common arts of music and poetry"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">Founder of Poems of the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We hope readers travelling on the Tube will be entertained and inspired by poems linking the great common arts of music and poetry
                            
                        </p>
                    </div>
                
            
            
            <p>Customers will be able to enjoy poems by both classical and modern poets as they travel across London.&nbsp;&nbsp; </p>
<p>All the poets featured have a special love of music. </p>
<p>In Piano by D.H. Lawrence, the poet is transported back to his childhood by the sound of a woman singing. </p>
<p>Thomas Hardy, who started out playing the fiddle at country dances, celebrates the wonderfully varied songs of birds in Proud Songsters.</p>
<p>Maire Macrae's Song by Kathleen Raine is about love's brief joy and lonely sorrow, Harmonica by Michael Longley evokes the poignant music of a soldier in wartime. </p>
<p>Ode to Joy is a new English version by Gillian Clarke, National Poet of Wales, inspired by Beethoven's famous Choral Symphony. </p>
<p>A verse from The Tempest by William Shakespeare has also been chosen. </p>
<p>In this great playwright's last play, the monster called Caliban rejoices in the magical sounds of nature, in some of the most famous lines ever written about music. </p>
<p>Judith Chernaik, Founder of Poems of the Underground, said:&nbsp; 'We hope readers travelling on the Tube will be entertained and inspired by poems linking the great common arts of music and poetry, part of human life from its earliest times.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Poems on the Underground was founded in 1986 </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St. Petersburg and, most recently, Shanghai </li>
<li>A launch concert called Words &amp; Music: Transformations will be held on Wednesday 16 June at 19:30 at St Giles Cripplegate, Fore Street, EC2Y 8DA. Selected poems from Poems on the Underground will be read out by Gerard Benson&nbsp;and Cicely Herbert. The guest poet will be Gillian Clarke who will also be reading poetry. Music will be performed by Apollo Chamber Players (conductor David Chernaik) with Lorna Anderson, soprano. Tickets are available from the from Barbican Box Office (020 7638 8891) or <a href="http://www.barbican.org.uk">online</a>&nbsp;</li>
<li>Best Poems on the Underground, the latest book from Poems on the Underground, published by Orion in 2009 is available from all bookshops and directly from <a href="http://www.orionbooks.co.uk">Orion Books</a>. The best selling anthologies 'Poems on the Underground' and 'New Poems on the Underground', as well as 'New Books on the Underground 2006' are also available from most bookshops and LondonTransport Museum gift shop </li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's (TfL's) multi-billion Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway&nbsp;passengers to check before&nbsp;travelling at weekends, allowing extra journey time where necessary. <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/track.aspx?offset=weekend">Weekend travel news</a> is available online</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Customers will be able to enjoy poems by both classical and modern poets as they travel across London.&nbsp;&nbsp; All the poets featured have a special love of music. In Piano by D.H. Lawrence, the poet is transported back to his childhood by the sound";}
        
        


 