


@{ViewBag.Title = "London's streets first in England to trial Pedestrian Countdown technology";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's streets first in England to trial Pedestrian Countdown technology</h1>
        <div class="content-page-press-release">
        21 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Digital 'Countdown' timers tell pedestrians how long they have to safely cross the road. System expected to smooth traffic flow across London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope this will make London safer for all concerned and smooth the flow of traffic"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We hope this will make London safer for all concerned and smooth the flow of traffic
                            
                        </p>
                    </div>
                
            
            
            <p>The first traffic signals in England to display a countdown for pedestrians were unveiled in the Capital this morning.&nbsp; </p>
<p>Mayor Boris Johnson, pledged a trial of the technology, which will give Londoners clarity on how long they have to cross the road and help keep traffic moving.</p>
<p>Pedestrian Countdown systems have already been used with great success in other world cities and will be trialled in London for 18 months. </p>
<p>The digital displays will be installed on traffic signals at eight London junctions and will count down the time between the green man symbol going out and the red man appearing. </p>
<p>This will make it clear to pedestrians how much time they have left to cross the road safely.</p>
<p>A Transport for London (TfL) study of pedestrian behaviour (see notes to editors) at crossings with signals found that around half of the pedestrians observed crossed even when the red man symbol was displayed. </p>
<h2>Safer crossings</h2>
<p>In addition, 60 per cent of pedestrians asked were not aware that the blackout period, as well as the green man phase, is there to allow pedestrians to complete their crossing safely. </p>
<p>The Mayor of London, Boris Johnson, said: 'I want to make London an easier place for everyone to get around whether they are on foot or on wheels. </p>
<p>'This technology already works well in other cities around the world and by bringing it to London's streets is just one of the ways we are continuing to improve the experience of travelling around the Capital. </p>
<p>'We hope this will make London safer for all concerned and smooth the flow of traffic to help keep London, and its inhabitants, moving.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'Around one in five of all fatal and serious pedestrian injuries in London occur at pedestrian crossings.</p>
<p>'Our research has shown that many people in London are not sure about the amount of time they have to safely cross the road. </p>
<p>'Pedestrian Countdown will remove that concern and give them a clear indication of how long they have to cross before the red man phase begins.&nbsp; </p>
<p>'This will hopefully lead to less pedestrian injuries.'</p>
<p>TfL and the Department of Transport will look carefully at the results of the trial to see whether Pedestrian Countdown technology could be rolled out to other traffic junctions across London.</p>
<p><a href="http://www.tfl.gov.uk/pedestriancountdown">More information </a>about the trial.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The full Transport Research Laboratory report <a href="http://londonroadsafety.tfl.gov.uk/www/downloads/publications/report_retimed-signals-research-summary_oct-09.pdf">'The effect of re-timed invitation to cross periods on road user behaviour at signalised junctions in London'</a> and <a href="http://londonroadsafety.tfl.gov.uk/www/downloads/publications/report_retiming-signals_oct-09.pdf">TfL's research summary</a> 
<li>TfL will be carrying out the trial of Pedestrian Countdown technology at the following eight locations in London: </li>
<li>
<ul>
<li>Blackfriars Road, outside Southwark station, junction with Union Street and The Cut </li>
<li>Balham High Road, outside Balham Station, junction with Chestnut Grove and Balham Station Road </li>
<li>A306 Roehampton Lane, junction with the Queen Mary's Hospital access road </li>
<li>Oxford Circus, junction of Oxford Street and Regent Street </li>
<li>High Holborn, outside Holborn station, junction with Kingsway and Southampton Row </li>
<li>The junction of Finsbury Square, Finsbury Pavement and Chiswell Street in Broadgate EC1 </li>
<li>Tower Bridge Road, junction with Tooley Street, near City Hall </li>
<li>Old Kent Road at the junction of Surrey Square in Walworth SE17</li></ul></li>
<li>Off-street perception trials of the Pedestrian Countdown technology showed that 88 per cent of people felt safer and more confident in crossing the road with the countdown time displayed.&nbsp;When asked about using existing pedestrian crossings in London, 56 per cent of participants said they felt safe </li>
<li>Although it isn't illegal for pedestrians to cross while the red man is showing, 21 per cent of all fatal and serious pedestrian injuries in London in 2009 took place at pedestrian crossings </li>
<li>A total of 1,055 pedestrians were killed or seriously injured on London's roads in 2009 - a reduction of 52 per cent compared to the mid to late 1990s </li>
<li>To help promote the trial of Pedestrian Countdown technology, TfL has installed a full scale working model of the Pedestrian Countdown system in London Transport Museum in Covent Garden. Visitors to the Museum can try out the technology first hand, and feed back their comments via an interactive computer display. London Transport Museum is located in Covent Garden and is open 10:00 to 18:00, Saturday&nbsp;to Thursday, and 11:00-18:00 on Friday</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first traffic signals in England to display a countdown for pedestrians were unveiled in the Capital this morning.&nbsp; Mayor Boris Johnson, pledged a trial of the technology, which will give Londoners clarity on how long they have to cross the road";}
        
        


 