


@{ViewBag.Title = "London Underground services during RMT strike action at Tube Lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground services during RMT strike action at Tube Lines</h1>
        <div class="content-page-press-release">
        24 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A full service is running, with no significant disruption.
        
    </div>



 <div class="on-this-page">
<p>Despite industrial action by RMT maintenance workers employed by Tube Lines, Tube services are operating as normal this morning, with no significant disruption due to the strike.</p>
<p>The RMT is engaged in an existing dispute about pay and conditions with Tube Lines until 18:59 on Friday, 25 June, but it is having no significant impact on passenger services.</p>
<p>The action does not involve station workers or Tube drivers, and all stations are open as normal. </p>
<p>London Underground intends to operate a full service on all lines throughout the duration of the strike. </p>
<p>Transport for London (TfL)&nbsp;has been working closely with Tube Lines to ensure that there is no compromise on safety standards and the full range of safety and emergency response duties are covered. </p>
<p>A TfL spokesperson said: 'The RMT action is having no significant impact, and we intend to operate a full service throughout the duration of the strike.</p>
<p>'All safety and emergency response duties are covered, and the network is operating as normal.'</p>
<p>For the latest information, passengers are advised to <a href="http://www.tfl.gov.uk/check">check before they travel</a><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Despite industrial action by RMT maintenance workers employed by Tube Lines, Tube services are operating as normal this morning, with no significant disruption due to the strike.The RMT is engaged in an existing dispute about pay and conditions with Tube";}
        
        


 