


@{ViewBag.Title = "London Overground's Gospel Oak to Stratford route re-opens after upgrade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground's Gospel Oak to Stratford route re-opens after upgrade</h1>
        <div class="content-page-press-release">
        01 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground services between Gospel Oak to Stratford line resumed today following a three-month programme to renew the track, upgrade the signalling and lengthen platforms at some of the stations.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A total of &pound;326m is being invested upgrading the London Overground network and when complete it will deliver longer trains and more frequent services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director of Transport for London's London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A total of &pound;326m is being invested upgrading the London Overground network and when complete it will deliver longer trains and more frequent services
                            
                        </p>
                    </div>
                
            
            
            <p>When complete by spring 2011, the upgrade will provide more frequent, longer trains, less crowding and a more reliable service.</p>
<p>The work included renewing six kilometres of track, installing 17,000 metres of overhead line, 583 metres of station platform being built between Gospel Oak and Stratford and the installation of 23km of signalling cable. </p>
<h2>Orbital route</h2>
<p>The first phase of the London Overground's East London route opened fully last week and when the second phase is complete, in 2011, the line will create the Capital's first orbital rail route, serving 22 London boroughs.&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>Ian Brown, Managing Director of Transport for London's London Rail, said: 'I would like to welcome passengers back to the line and thank them for their patience with our very necessary upgrade programme. </p>
<p>'A total of &pound;326m is being invested upgrading the London Overground network and when complete it will deliver longer trains and more frequent services.&nbsp; </p>
<p>'It's the first time there has been any significant improvement work done to the line since it was built in 1869 and it desperately needed it.' </p>
<h2>Signalling upgrade</h2>
<p>Andrew Munden, route director for Network Rail, said: 'The investment being made in the London Overground network is an integral part of Network Rail's plans to improve services and build a bigger and better railway in the Capital. </p>
<p>'The completion of this major phase of the project is a big step forward to bring passengers a more reliable service with longer trains more often - but we still have more to do. </p>
<p>'The project now moves onto a new phase to complete the work at stations and continue the signalling upgrade. </p>

<p>'We thank passengers for their continuing patience while we carry out this work to improve their railway.'</p>
<p>The line reopens with the following service: </p>
<ul>
<li>In the peaks, six trains per hour between Stratford and Willesden Junction and three trains per hour to both Richmond and Clapham Junction </li>
<li>In the off-peak, four trains per hour between Stratford and Richmond and two trains per hour between Willesden Junction and Clapham Junction </li>
<li>In the peak, four trains per hour on the Gospel Oak to Barking line </li>
<li>In the off peak, two trains per hour on the Gospel Oak to Barking line.</li></ul>
<p>Works will continue at weekends and there will be further closures this winter to commission the new signalling. </p>
<p>The upgrade is well on schedule to be completed in 2011 so that London Overground can make its crucial contribution to the Olympic transport network in 2012.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong></strong>
<ul>
<li>Transport for London (TfL) and the Olympic Delivery Authority (ODA) are providing three quarters of the &pound;326m funding for the upgrade (TfL 44 per cent, ODA 32 per cent) with Network Rail giving 23 percent and the Department for Transport one percent </li>
<li>There will be further, but shorter, closures later in 2010 / early 2011 </li>
<li>Weekend closures are ongoing on all lines, until 2011. Please see service details below </li>
<li>For further information please visit tfl.gov.uk/overground or call the Customer Services Team on 0845 601 4867 or email us at <a href="mailto:overgroundinfo&#64;tfl.gov.uk">overgroundinfo&#64;tfl.gov.uk</a> </li>
<li>Network Rail's Helpline is available to assist customers and residents with enquiries related to the works. Please contact them on 0845 711 4141<br>Service details: </li>
<li>Once fully completed the upgrade will deliver services from Richmond and Clapham Junction running at four trains per hour all day every day while there will be six trains per hour between Willesden Junction and Camden Road and eight trains per hour between Camden Road and Stratford </li>
<li>Gospel Oak to Barking. From June 2010 the Saturday frequency will be four trains per hour (all day) and the Sunday frequency will be of 2 trains per hour until May 2011, after which the service frequency will increase to 4 trains per hour all day and every day </li>
<li>Richmond to Stratford.There will be no Sunday service until May 2011. After which, there will be a minimum of four trains per hour all day and every day </li>
<li>Clapham Junction to Olympia. There will be no service for several weekends between in April-June 2011 </li>
<li>Shepherd's Bush to Willesden Junction. There will be no Sunday service most weekends, until the early part of 2011. After which there will be&nbsp;four trains per hour on Saturdays and on Sundays </li>
<li>Watford Junction to Euston line. There will be no service for several weekends between Wembley Central and Queens Park, in January-April 2011 </li>
<li>Other works will also take place, please check our website for planned closures<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "When complete by spring 2011, the upgrade will provide more frequent, longer trains, less crowding and a more reliable service.The work included renewing six kilometres of track, installing 17,000 metres of overhead line, 583 metres of station platform";}
        
        


 