


@{ViewBag.Title = "Mayor urges app developers to get smart for Barclays Cycle Hire";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor urges app developers to get smart for Barclays Cycle Hire</h1>
        <div class="content-page-press-release">
        30 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        One month to go before Mayor's flagship cycle scheme is launched, developers get the green light to produce and sell smart phone apps.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Barclays Cycle Hire has got everybody talking and app developers are already recognising the opportunities that the scheme offers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Barclays Cycle Hire has got everybody talking and app developers are already recognising the opportunities that the scheme offers
                            
                        </p>
                    </div>
                
            
            
            <p>Developers of mobile phone apps are being asked to come up with innovative and creative ways to keep users informed about the Mayor's flagship cycling scheme.</p>
<p>In build up to the launch of the Mayor's Barclays Cycle Hire scheme on 30 July, Transport for London (TfL) has relaxed its terms and conditions to allow commercial use of official data - opening the door for developers to provide accurate and reliable information about the hundreds of locations where hire cycles will be available, smart routes around town or proximity of docking stations to Tube stations and places of interest.&nbsp; </p>
<p>TfL has released the data template of the Barclays Cycle Hire location data on the TfL developers' area of the website.</p>
<p>This file contains example data but will be updated to contain details of the location of all operational Barclays Cycle Hire locations as soon as possible.&nbsp; </p>
<p>Independently produced apps will complement the wealth of information that TfL is already generating to keep users up to speed about the scheme.&nbsp;</p>
<h2>London - a cycle city</h2>
<p>For the latest news about Barclays Cycle Hire and information on how to access official TfL data, visit the official Barclays Cycle Hire Twitter channel - <a href="http://www.twitter.com/BarclaysCycle">www.twitter.com/BarclaysCycle</a>.&nbsp; </p>
<p>People are also able to express an interest in the scheme by providing their details at <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a> to be kept informed of key developments.&nbsp; </p>
<p>As part of the Mayor's vision for London as a cycle city six-thousand cycles will be available at around 400 locations across central London, which is expected to generate up to 40,000 extra daily cycle trips a day. </p>
<p>Users can pay &pound;1 for 24-hour access, &pound;5 for&nbsp;seven-day access, or take out a &pound;45 annual Membership. </p>
<h2>Cycle revolution</h2>
<p>Subsequently, each completed journey of up to half an&nbsp;hour will be free of charge. </p>
<p>Journeys of between 30 minutes and one hour will cost &pound;1, &pound;4 for up to 90 minutes and &pound;6 for up to two hours. </p>
<p>Charges then increase incrementally up to a maximum hire period of 24 hours.</p>
<p>The Mayor of London's Transport Advisor, Kulveer Ranger, said: 'This scheme is the cornerstone of the cycle revolution the Mayor is bringing to the Capital and we want to make it as easy for Londoners to use as possible. </p>
<p>'Barclays Cycle Hire has got everybody talking and app developers are already recognising the opportunities that the scheme offers. </p>
<p>'They are incredibly creative people and I'm really looking forward to seeing and using the new apps.'</p>
<h2>Innovative apps</h2>
<p>TfL's Managing Director of Surface Transport, David Brown said: 'Barclays Cycle Hire will be the most sustainable and environmentally friendly form of public transport ever seen in the Capital. </p>
<p>'We know that it will take time for the scheme to bed in and TfL is keen to use every means at our disposal to help people as they get used to it and apps will give people information at their finger-tips. </p>
<p>'By relaxing our terms and conditions we aim to encourage developers to create innovative apps and ensure they are based on reliable and accurate information.'</p>
<p>To be among the first to try Barclays Cycle Hire, users can to sign up for free cycle safety training in one of the nine London hire boroughs which form the initial zone. </p>
<p>There are also 45 roadshow events taking place from June showcasing the scheme. </p>
<p>More information is available at <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL Barclays Cycle Hire data can be used by developers for commercial gain </li>
<li>Under previous terms, developers were at liberty to produce apps independently of TfL however developers were not permitted to make commercial gain from the use of TfL data without seeking prior permission </li>
<li>At present only static information is available but we hope to provide real-time dynamic data after the scheme goes live </li>
<li>Developers using TfL Barclays Cycle Hire data will be required to refer to the scheme as Barclays Cycle Hire and will be able to use the Barclays Cycle Hire sponsor logo in their apps </li>
<li>By registering to the Barclays Cycle Hire Twitter channel developers will be kept informed about data releases as they are published - <a href="http://www.twitter.com/BarclaysCycle">www.twitter.com/BarclaysCycle</a> </li>
<li>Published data about Barclays Cycle Hire scheme will be available via the TfL Developers' Area at <a href="http://www.tfl.gov.uk/developers">http://www.tfl.gov.uk/developers</a> </li>
<li>Apps which use unofficial data may not be fit-for-purpose as the information may be inaccurate, and they may mislead users as to the source of the information </li>
<li>TfL does not take responsibility for apps developed by third parties using our data.&nbsp;TfL also reserves the right to protect our brand and Intellectual Property from use by non licensed parties </li>
<li>The Mayor is committed to releasing Greater London Authority data for all Londoners to see and use free of charge through the London Data Store at data.london.gov.uk </li>
<li>The London Data Store will reference the Barclays Cycle Hire data and provide a link to the official data available on the TfL developers' area </li>
<li>Barclays Cycle Hire scheme will be operated by Serco Limited on behalf of TfL </li>
<li>A short film on how to hire a Barclays Cycle Hire bicycle is available to view at <a href="http://www.youtube.com/user/BarclaysCycle">www.youtube.com/user/BarclaysCycle</a>. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Developers of mobile phone apps are being asked to come up with innovative and creative ways to keep users informed about the Mayor's flagship cycling scheme.In build up to the launch of the Mayor's Barclays Cycle Hire scheme on 30 July, Transport for";}
        
        


 