


@{ViewBag.Title = "Mayor and TfL to introduce new Motorcycles in Bus Lanes trial";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL to introduce new Motorcycles in Bus Lanes trial</h1>
        <div class="content-page-press-release">
        16 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Motorcyclists in London will be permitted to use the Capital's red route bus lanes under a new Motorcycles in Bus Lanes trial that has been announced by the Mayor and Transport for London (TfL) today (16 June).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There is always scope for improvement and a new trial, with a strong focus on safety, will allow motorcyclists to show that they can adhere to the spirit of the trial and ride with respect"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There is always scope for improvement and a new trial, with a strong focus on safety, will allow motorcyclists to show that they can adhere to the spirit of the trial and ride with respect
                            
                        </p>
                    </div>
                
            
            
            <p>A report into the current trial, which ends on 5 July, examined the 418 Transport for London Road Network (TLRN) bus lanes that the trial covered, and looked in detail at 28 of those trial sites, comparing them with 28 control sites on parallel routes where motorcyclists did not have access to bus lanes. </p>
<p>It found that:</p>
<ul>
<li>Fears of an increase in cyclist collisions with motorcyclists were unfounded </li>
<li>There was a fall in the cyclist collision rate across trial bus lanes and the control lanes, with a smaller decrease in the trial lanes, and there were no fatal accidents over the period of the trial </li>
<li>More than half (51 per cent) of motorcyclists switched from riding on the outside of the road to the bus lanes</li></ul>
<p>In addition, a separate study by TfL that used police traffic officers to study journey times in bus lanes indicated that journeys made by motorcycles using bus lanes were, on average, more than 10 per cent quicker than those not using bus lanes and 36 per cent quicker than cars. </p>
<p>Road user surveys of more than 2,000 Londoners also found that: </p>
<ul>
<li>Ninety-three&nbsp;per cent of motorcyclists and 51 per cent of cyclists and car and van drivers who were aware of the Motorcycles in Bus Lanes trial supported it </li>
<li>Fifty-four per cent of motorcyclists said they now use TfL's road network more often following the start of the trial</li></ul>
<p>However, the independent report found that some questions remain about the way in which motorcycle riders use bus lanes. </p>
<p>It identified that there was an increase in the rate of motorcyclist collisions, predominantly with cars turning into or out of side roads on routes where motorcyclists had access to bus lanes. </p>
<p>At the trial sites there was an increase from 30 to 41 collisions, whereas there was a reduction from 16 to&nbsp;eight collisions on the control sites.</p>
<p>In the light of these findings, the new trial will run alongside a road safety awareness campaign aimed at improving drivers' awareness of motorbikes and cyclists in bus lanes.</p>
<p>Motorcyclists on BikeSafe training will have their courses updated to include extra training on awareness of vehicles crossing their path at junctions.</p>
<p>There will also be stricter enforcement of speeding by motorcyclists, in order to improve safety. </p>
<h2>Positive results</h2>
<p>The Mayor of London, Boris Johnson, said: 'Motorcyclists have made a consistent case to be able to use TfL's bus lanes, and the initial trial has shown some positive results. </p>
<p>'The chaos that was predicted by some doomsayers has clearly not materialised and, as I suspected would be the case, we have found substantial support for the measure. </p>
<p>'There is always scope for improvement and a new trial, with a strong focus on safety, will allow motorcyclists to show that they can adhere to the spirit of the trial and ride with respect. </p>
<p>'The impact of these new measures will help us decide whether motorcyclists can continue to use the bus lanes in future years. </p>
<h2>Stricter enforcement</h2>
<p>'One of the ways we can smooth traffic flow is by encouraging more people to get on two wheels, and the prospect of using bus lanes to avoid traffic and having an easier journey should help with that aim.'</p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'As part of this new trial, we'll be introducing a focused road safety awareness campaign aimed at making drivers more aware of the need to look out for motorcyclists' and cyclists' presence in bus lanes.&nbsp; </p>
<p>'Motorcyclists undertaking BikeSafe training will also receive additional information on the need to watch out for vehicles turning across their path at junctions.&nbsp; </p>
<p>'Stricter enforcement of speeding by motorcyclists will also be a priority to improve safety. </p>
<h2>Speed limit</h2>
<p>'Taken together, these campaigns will be part of our wider effort to help reduce the number of motorcyclist collisions taking place on London's major roads.'</p>
<p>The current trial ends on 5 July and a new experimental scheme allowing motorcyclists access to bus lanes will be brought in following the statutory consultation period. </p>
<p>During the interim period between the current trial ending on 5 July and the new one beginning on or around 16 July, TfL won't enforce against motorcyclists who use bus lanes, although they will continue to be expected to respect the speed limit and all other rules of the road. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>The TRL monitoring report of the trial <a href="/roadusers/redroutes/10151.aspx">'Assessment of TfL's experimental scheme to allow motorcycles onto with-flow bus lanes on the TLRN'</a>, is available online. The <a href="/roadusers/redroutes/10151.aspx">attitudinal survey reports are also available</a> online&nbsp;</li>
<li>The report carried out by Police Traffic Officers into motorcycle journey times in bus lanes - <a href="/roadusers/redroutes/10151.aspx">Evaluation of Journey Times and Emissions of P2Ws in Bus Lanes report</a>, produced by Local Transport Projects </li>
<li>The&nbsp; objectives of the current trial, which ran from 5 January 2009 and which will finish on 5 July 2010 were:&nbsp;&nbsp; 
<ul>
<li>To facilitate the safe, efficient and effective movement of motorcyclists, without an adverse effect on other traffic </li>
<li>To fully assess the impact of all traffic, in particular cyclists, in order to facilitate an informed decision about whether to permanently allow motorcyclists to use bus lanes </li>
<li>To fully consider and respond to representations made by road user groups, organisations representing people with disabilities, key stakeholders and members of the public</li></ul></li>
<li>The Transport Research Laboratory report compared the 10 month period between January 2008 to October 2008, prior to the start of the trial in January 2009, with the 10 month period between January 2009 and October 2009 during the current trial </li>
<li>Red routes, also known as the Transport for London Road Network (TLRN) are the roads in London that are owned and maintained by TfL. Five per cent of the roads in London are red routes, but they carry about a third (approximately 33 per cent) of the city's traffic. These are the key routes or major arterial roads in London </li>
<li>TfL will implement a new experimental traffic order on the TLRN. This traffic order allows traffic control schemes to be implemented temporarily. Schemes are implemented by the local traffic authority (TfL in this case) and must remain in place for a minimum of six months and a maximum of 18 months. They are effective under Section 9 of the Road Traffic Regulation Act 1984&nbsp; </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A report into the current trial, which ends on 5 July, examined the 418 Transport for London Road Network (TLRN) bus lanes that the trial covered, and looked in detail at 28 of those trial sites, comparing them with 28 control sites on parallel routes";}
        
        


 