


@{ViewBag.Title = "Mayor and TfL act to limit Northern line disruption ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL act to limit Northern line disruption </h1>
        <div class="content-page-press-release">
        09 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Tube Lines' closure programme revised to lessen impact on Londoners <BR>- Route through West End maintained during early weekday closures on Bank branch
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is vital upgrade work, and some closures will be necessary, but as we take control of Tube Lines and reconfigure the upgrade programme, we'll be looking to proceed in a way that causes Londoners the least disruption possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is vital upgrade work, and some closures will be necessary, but as we take control of Tube Lines and reconfigure the upgrade programme, we'll be looking to proceed in a way that causes Londoners the least disruption possible
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, and Transport for London (TfL) have taken action to greatly reduce a programme of weekday evening closures proposed for the Northern line this summer.</p>
<p>The company currently responsible for upgrading the line, Tube Lines, had proposed to close the entire line north of Stockwell from the early evening for improvement works. </p>
<h2>Revised closures</h2>
<p>The Mayor and TfL told Tube Lines the immense disruption this would inflict on Londoners lives would be unacceptable. </p>
<p>They have now arranged for the closures to be scaled back so that only the Bank branch between Kennington and Camden, and the High Barnet branch north of East Finchley will close from around 21:30 between Monday and Thursday from 5 July.</p>
<p>A through-service will be provided on the Charing Cross branch to maintain services to the West End, link north and south London, and provide Northern line passengers with alternative ways to get home.&nbsp;Replacement buses will also be provided.</p>
<p>A revised closures plan was agreed ahead of TfL's purchase of Tube Lines, which is expected to be completed by the end of the month. </p>
<h2>Faster journey times</h2>
<p>A 'hangover' from the previous PPP contracts means that some closures must still happen.</p>
<p>Under the new proposals weekend closures proposed through July and August between Kennington and Morden will go ahead as per the original Tube Lines plan, while the future closure programme is reviewed. </p>
<p>To cancel them would cause significant costs and set back a programme that is already seriously delayed. </p>
<p>However, upgrade work to replace the 40-year-old signalling system on London's busiest Tube line will deliver faster journey times, improved reliability and vital additional capacity. </p>
<h2>Maximum benefit</h2>
<p>Boris Johnson, Mayor of London and Chair of Transport for London, said: 'This is the first sign that we are close to an escape from the dastardly confines of PPP contracts that required closures to be arranged for the maximum benefit of shareholders rather than the travelling public. </p>
<p>'This is&nbsp;vital upgrade work, and some closures will be necessary, but as we take control of Tube Lines and reconfigure the upgrade programme, we'll be looking to proceed in a way that causes Londoners the least disruption possible.'</p>
<p>Following the acquisition of Tube Lines, TfL will get full visibility of the state of the upgrade programme, and will carry out an urgent assessment of the planned work and the closures that are needed to deliver it. </p>
<p>The objective will be to deliver the upgrade with significantly less disruption and far fewer closures. </p>
<h2>Control over the work</h2>
<p>TfL will be engaging fully with the business community and listening to its views as the closure programme is reviewed in the interests of London's passengers and businesses.</p>
<p>Mike Brown, MD London Underground, said: 'Londoners want their Tube upgraded, but they also want to be able to get around their city. </p>
<p>'Although the Northern line upgrade is essential, we can approach it in a way that inconveniences Londoners less.&nbsp; </p>
<p>'Some closures have already been planned, and we need to go ahead with them, but once we have control over the work we will be able to cut disruption.&nbsp; Our priority is to lay out a programme that gets the job done to a timetable that suits Londoners and with the minimum disruption to our customers and businesses.'</p>
<p>While the Northern line does not directly serve any of the 2012 Olympic and Paralympic venues, TfL today moved to reassure Londoners that the line will be running a full and reliable service during the summer of 2012. <br></p>
<p><strong>Details of the Northern line closure programme: July - August 2010 <br></strong>&nbsp; <br>Weekend closures -&nbsp;Kennington to Morden&nbsp;&nbsp;&nbsp; </p>
<p>10 July 2010&nbsp;to 11 July 2010&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>31 July 2010&nbsp;to 1 August 2010<br>7 August 2010 to 8 August 2010<br>21 August 2010 to 22 August 2010<br>30 August 2010*&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp; <br>*Bank Holiday Monday only - Extended engineering hours will commence on 5 July with early shutdown from 22:00 Monday to Thursday on the Bank branch (Kennington to Camden Town) and on the High Barnet branch north of East Finchley.&nbsp;</p>
<p>Last trains would serve these sections at around 21:30, and replacement buses will then be provided.&nbsp; </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, and Transport for London (TfL) have taken action to greatly reduce a programme of weekday evening closures proposed for the Northern line this summer.The company currently responsible for upgrading the line, Tube Lines,";}
        
        


 