


@{ViewBag.Title = "Mayor welcomes new electric vehicles joining Transport for London fleet ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes new electric vehicles joining Transport for London fleet </h1>
        <div class="content-page-press-release">
        25 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Vehicles are part of the Mayor's plans to make London the electric vehicle capital of Europe. First of the Mayor's 1,000 electric vehicles to join the Greater London Authority (GLA) fleet.
        
    </div>



 <div class="on-this-page">
<p>Today Transport for London (TfL) welcomed four new electric vehicles into its fleet as part of Mayor Boris Johnson's plans to make London the electric vehicle capital of Europe. </p>
<p>The four new Mitsubishi i-MiEVs, part funded by the Government's Low Carbon Procurement Partnership (LCVPP), are the first step to achieving the 1,000 electric vehicles that the Mayor aims to bring into the city's fleet over the next few years.</p>
<p>The new cleaner, greener cars, with specially designed livery to distinguish them from traditional petrol and diesel vehicles, will be used by TfL to ensure that roadworks comply with its permit scheme to keep traffic moving. </p>
<p>By the end of this year, TfL will have up to 10 electric vehicles in its fleet. </p>
<p>Increasing the number of fleet vehicles is one element of the Mayor's plans to boost electric vehicle numbers to 100,000 as soon as possible. </p>
<p>Over the coming year, 1,600 charge points will be installed across the Capital with numbers rising to 7,500 by 2013 and 25,000 points will be in place by 2015. </p>
<p>By then, with 2,500 charge points installed in publicly accessible areas, on average no Londoner will be further than a mile from any charge point. </p>
<p>The number of electric vehicles in mainstream use is forecast to significantly increase in the coming years as many of the leading car manufacturers are planning to launch new electric vehicle models in the UK. </p>

<h2>Improve air quality</h2>
<p>The increase of zero tailpipe-emission electric vehicles, will help to improve air quality and cut climate change emissions, and as the price of petrol and diesel continues to increase they have significantly lower running costs including an 100 per cent exemption from the Congestion Charge. </p>
<p>The Mayor of London, Boris Johnson, said: 'Very soon electric vehicles and the apparatus needed to support them will be a common sight on London's streets. </p>
<p>'We are doing all we can to make it as easy as possible for Londoners to choose electric and by opting for these vehicles in our own fleets, we are helping to stimulate demand and show off their benefits including considerably cheaper running costs.'</p>
<p>TfL is working to make it easier for Londoners to use electric vehicles. </p>

<p>Later this year a single London-wide brand for electric vehicles will be launched so that drivers will be able to clearly identify where a charging point is located. </p>
<p>This will be supported by a new website providing a one-stop shop of information on electric vehicles and charging points and a London-wide membership scheme will also be launched to enable drivers to access charge points across the Capital&nbsp;- currently electric car drivers have to register in every borough they charge up in.</p>
<p>David Brown, Managing Director of Surface Transport, TfL said: 'The delivery of these new TfL i-MiEVs is another step towards achieving the Mayor's goal to make London the electric vehicle capital of Europe. </p>
<p>'TfL is working to help realise the Mayor's ambitious plans for electric vehicles by investing in the installation of electric vehicle charge points and the use of electric vehicles in London. </p>
<p>'By 2015 we hope to have even more electric vehicles on London's roads and 25,000 charge points installed across the city.'</p>

<p>Electric vehicle capital<br>&nbsp;<br>TfL is also encouraging its contractors to incorporate electric vehicles into their fleets. </p>
<p>London Streets uses three contractors to deal with emergency and routine maintenance on the Red Route network. </p>
<p>All three contractors are now incorporating sustainable vehicles into their fleets, which reduces their carbon emissions and contributes to a greener, cleaner Capital city.</p>
<p>The adoption of electric vehicles will deliver significant climate change and air quality benefits. </p>
<p>The majority of harmful particulate emissions (PM10), 79 per cent, in central London come from road transport whereas electric cars have zero tail pipe emissions. </p>
<p>Electric vehicles emit thirty to forty per cent lower carbon emissions than comparable petrol or diesel cars. </p>
<p>This will reduce further over time as the amount of energy - which charges the electric vehicles batteries - generated by renewable sources increases. </p>
<p>It is estimated that 100,000 electric vehicles could cut London's carbon output by almost 500,000 tonnes over the next decade as well as save 100 tonnes of Nitrous Oxide&nbsp;emissions and several tonnes of PM10 emissions. </p>
<p>This is equivalent to 300 million car trips. </p>
<p>The new infrastructure and the additional electric vehicles on London's roads will help to encourage Londoners to use a more sustainable form of private transport and support the Mayor's target to cut London's Carbon Dioxide (CO2) emissions by 60 per cent by 2025.</p>
<p>
<hr>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>The new four new vehicles, Mitsubishi i-MiEVs, are fully electric city cars with zero emissions at the tailpipe. The car can seat&nbsp;four adults and has a top speed of 81 mph, a range of 80 miles and takes six hours to charge with a conventional charger</li>
<li>The four Mitsubishi i-MiEVs joining the TfL fleet have been part funded by the LCVPP which supports selected public sector organisations to replace conventional vehicles in their fleets with electric and hybrid powered substitutes. The LCVPP fund pays for the difference between a conventional vehicle for a public organisation's fleet and an electric or hybrid vehicle </li>
<li>TfL will also receive 11 additional low carbon vehicles through the LCVPP, which will also part-fund the receipt of five Toyota Prius', four Smith Vans and two Modecs</li>
<li>The figure of 300 million car trips is based on the assumption that the average daily car mileage in London is 15km, with the cars performing on average a return journey and that the 100,000 electric vehicles would replace 100,000 diesel or petrol vehicles currently in use</li>
<li>The Mayor has set an aspiration to have 1,000 electric vehicles in the GLA fleet by 2015 to increase the number of electric vehicles on London's roads and encourage the development of the technology amongst car manufacturers. This would form part of the 100,000 electric vehicles he aims to see by 2020</li>
<li>In March 2010, TfL placed a notice in the Official Journal of the European Union to create the UK's largest procurement framework to date for electric vehicles. A separate framework was also advertised by TfL for the delivery of electric vehicle charge points. The vehicle framework would allow the purchase of up to 1,000 electric vehicles for the GLA family. Up to 300 additional vehicles can also be purchased through the vehicle framework by other organisations, predominantly UK local authorities. The total value of the TfL electric vehicle framework is &pound;51.6m for London and an additional &pound;15.4m if used by other organisations. The majority of the 1,000 electric vehicles for the GLA fleet will be used by the Metropolitan Police Service. TfL intends to purchase up to 120 electric vehicles by 2015</li>
<li>The Mayor secured &pound;9.3m in funding from the Government's Plugged in Places Fund. 7,500 charging points will be delivered in London by spring 2013 with 1,600 charging points to be delivered over the next 12 months. The total of 7,500 charging points by spring 2013 are expected to deliver 6,000 points at work places, 500 on-street, 330 in public car parks, 50 at Tube stations, 140 in supermarket car park and 120 for car clubs. The London Consortium led by TfL involves both public and private partners including London boroughs, major supermarkets, energy companies, car park operators, vehicle manufacturers and car hire companies. The London Consortium is comprised of a number of public and private partner organisations including EDF Energy, Europcar, Hertz, NCP, Nissan, Sainsbury's, Scottish &amp; Southern Energy, Siemens, SMMT, Streetcar, Tesco, and Zipcar. A total of 21 London boroughs have also joined the consortium (Barking &amp; Dagenham, Brent, Camden, City of Westminster, Croydon, Ealing, Greenwich, Hackney, Haringey, Harrow, Havering, Hounslow, Islington, Kingston upon Thames, Lambeth, Lewisham, Redbridge, Richmond upon Thames, Southwark, Tower Hamlets, Wandsworth)</li>
<li>London already leads the way with almost a quarter (around 1,800) of the 8,000 electric vehicles registered in the UK in the Capital</li>
<li>London is ideally suited to becoming an electric vehicle world leader. Ninety-five per cent of London motorists travel less than a total of 50 miles per day, which is within the range of existing electric vehicles. At present there are over 250 charging points in the Capital, over half funded by TfL, with around 1,800 electric vehicles currently registered - far exceeding numbers anywhere else in the UK. A 25,000 strong network will be able to support tens of thousands more electric vehicles in London and will help realise the Mayor's vision of 100,000 electric vehicles in the Capital as soon as possible</li>
<li>With 25,000 electric vehicle charge points by 2015, the number of places where Londoners can charge up their cars will outstrip the number of petrol stations in Greater London - currently around 600</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Today Transport for London (TfL) welcomed four new electric vehicles into its fleet as part of Mayor Boris Johnson's plans to make London the electric vehicle capital of Europe. The four new Mitsubishi i-MiEVs, part funded by the Government's Low Carbon";}
        
        


 