


@{ViewBag.Title = "New era for the Tube as Transport for London completes acquisition of Tube Lines ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New era for the Tube as Transport for London completes acquisition of Tube Lines </h1>
        <div class="content-page-press-release">
        27 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Tube Lines has now transferred from shareholders Bechtel and Amey to Transport for London <BR><BR>- Deal allows greater flexibility in the delivery of Tube upgrades vital to the UK economy
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'We have wasted no time in acting to limit the disruption of the Tube upgrade programme by cutting back the closures previously planned for this summer"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'We have wasted no time in acting to limit the disruption of the Tube upgrade programme by cutting back the closures previously planned for this summer
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson and Transport for London (TfL) today confirmed that the agreement to purchase the shares of Tube Lines from its shareholders Bechtel and Amey (Ferrovial) has been concluded, and Tube Lines is now a wholly owned subsidiary of TfL.</p>
<p>The move will give the Mayor's transport authority greater flexibility to manage the vital programme of Tube upgrades alongside the other improvements being delivered across the transport network. </p>
<p>TfL is also confident that the new arrangement will enable it to deliver substantial savings. </p>
<h2>Smooth transition</h2>
<p>An urgent review of the PPP upgrade programmes will be TfL's first objective, with the aim of delivering the Tube improvements London and the wider UK economy needs with the best possible value for money and with the minimum of disruption for Londoners and businesses.</p>
<p>Amey (Ferrovial) will continue to provide management and maintenance services on the Jubilee, Northern and Piccadilly lines on an ongoing basis. </p>
<p>Bechtel will continue to work with London Underground (LU)&nbsp;for an interim period to ensure a smooth transition of the capital works programme to LU.</p>
<p>The agreement also means:</p>
<ul>
<li>Tube upgrade and maintenance work can proceed without further calls on fare payers' and taxpayers' money, meaning there is no longer any PPP funding gap </li>
<li>LU's first priority will be the completion of the Jubilee line upgrade, delivering more frequent and reliable trains, as soon as possible </li>
<li>LU will now be able to establish the best way of delivering the upgrade of the Northern and Piccadilly lines, within available funding and with synergies achieved alongside its existing upgrade programmes for the Victoria and sub-surface lines (Circle, District, Hammersmith &amp; City and Metropolitan) </li>
<li>TfL and the Mayor have already acted to limit the disruption caused by Northern line upgrade work previously planned by Tube Lines.&nbsp;TfL has also committed to review the future closure programme now that direct control of the upgrade of the line has transferred to LU</li></ul>
<p>Mayor of London, Boris Johnson, said: 'This deal opens a new era for the Tube and one that will be free from the complexity and wrangling that hindered us in recent years.</p>
<p>'The capital is the engine room of the UK economy and this new arrangement ensures that the vital Tube upgrade work, upon which London's own economic success depends, is delivered at the best possible value. </p>
<p>'It also provides us with the greater flexibility on how improvement work is carried out that is so desperately needed in order to minimise disruption to Londoners and businesses.</p>
<p>'We have wasted no time in acting to limit the disruption of the Tube upgrade programme by cutting back the closures previously planned for this summer, and we will now look at how we can keep disruption to a minimum in the future.' </p>

<p>Andie Harper has now assumed the role of Chief Executive Officer (CEO) of Tube Lines.</p>
<p>He led the transfer of Metronet from administration to TfL and will ensure a smooth transition of Tube Lines to TfL.&nbsp;</p>
<h2>Deliver vital improvements</h2>

<p>As CEO he will formally report to Transport Commissioner Peter Hendy via LU Managing Director Mike Brown.</p>
<p>LU Managing Director Mike Brown said: 'This new arrangement will enable us to work even more directly and collaboratively with the management and staff of our private sector partners to deliver the vital improvements to the Tube, and I welcome that.</p>
<p>'I would also like to acknowledge the contribution of Tube Lines' shareholders, management and staff to the improved operational performance on the Jubilee, Northern and Piccadilly lines over the last seven years.</p>
<p>'The Tube now carries more than one billion passengers a year and we must continue to improve the capacity and reliability of our services in order to manage anticipated growth in jobs and population and to secure the future prosperity of London and the UK.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Bechtel and Amey have now ended their roles as shareholders in Tube Lines under the PPP contract for capital works projects and maintenance programmes on the Jubilee, Northern and Piccadilly lines of the London Underground. Amey (Ferrovial) will continue to provide management and maintenance services on the Jubilee, Northern and Piccadilly lines on an ongoing basis. Bechtel will continue to work with LU for an interim period to ensure a smooth transition of the capital works programme to LU </li>
<li>TfL is delivering a multi-billion pound investment programme to improve and expand the transport network. Between now and 2018, TfL will upgrade eight Tube lines, build Crossrail, and expand the Docklands Light Railway and London Overground networks, as well as delivering other major improvements. Such investment is vital to the future growth, prosperity and the competitiveness of London and the UK, particularly for creating new jobs and opportunities</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson and Transport for London (TfL) today confirmed that the agreement to purchase the shares of Tube Lines from its shareholders Bechtel and Amey (Ferrovial) has been concluded, and Tube Lines is now a wholly owned";}
        
        


 