


@{ViewBag.Title = "Northern line to operate as normal during evening this summer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Northern line to operate as normal during evening this summer</h1>
        <div class="content-page-press-release">
        29 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Tube Lines team to work with London Underground (LU) on new approach to upgrade
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our priority is now to lay out a programme that gets the job done to a timetable that suits Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our priority is now to lay out a programme that gets the job done to a timetable that suits Londoners 
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today cancelled the early evening closures on the Northern line's Bank and Barnet branches, which had been planned to start next Monday with the last trains using these sections of the Northern line at around 21:30. </p>
<p>TfL acquired the shares of Tube Lines on 27 June, and has been working to understand the status of the upgrade programme. </p>
<p>In light of this review, TfL has decided to cancel the scheduled early evening closures originally proposed by Tube Lines. </p>
<p>LU will, therefore, revert to running a normal Northern line service from Monday 5 July.&nbsp; </p>
<h2>Significantly less disruption</h2>
<p>TfL is continuing its examination of the status of the Northern line upgrade programme, and will carry out a further urgent assessment of the planned work and the closures that are needed to deliver it. </p>
<p>The objective will be to deliver the upgrade with significantly less disruption and far fewer closures. </p>
<p>Mike Brown, Managing Director of London Underground, said: 'Following the acquisition of Tube Lines, LU is working with Tube Lines to review the upgrade and hence we are cancelling the immediate early evening closures planned. </p>
<p>'We will now operate a full service on weekdays on all sections of the Northern line.</p>
<h2>Improved reliability</h2>
<p>'Our priority is now to lay out a programme that gets the job done to a timetable that suits Londoners and with the minimum disruption to our customers and businesses.'</p>
<p>TfL will be engaging fully with the business community and listening to its views as the closure programme is reviewed in the interests of London's passengers and businesses.</p>
<p>The vital upgrade work to replace the 40-year-old signalling system on London's busiest Tube line will deliver faster journey times, improved reliability and additional capacity to reduce the congestion experienced by customers on the Northern line. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today cancelled the early evening closures on the Northern line's Bank and Barnet branches, which had been planned to start next Monday with the last trains using these sections of the Northern line at around 21:30. TfL acquired";}
        
        


 