


@{ViewBag.Title = "Passengers handed in 200,000 items found across TfL network to Lost Property Office ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers handed in 200,000 items found across TfL network to Lost Property Office </h1>
        <div class="content-page-press-release">
        04 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The number of items handed in to Transport for London's (TfL) Lost Property Office (LPO) is increasing year on year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We do our best to reunite people with their property and would encourage anyone who loses something on public transport in London to get in touch with us"</div>
        <div class="quote-footer">
            <div class="quotee-name">Julie Haley</div>
            <div class="quotee-job-title">TfL's Lost Property Office Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We do our best to reunite people with their property and would encourage anyone who loses something on public transport in London to get in touch with us
                            
                        </p>
                    </div>
                
            
            
            <p>Almost 200,000 items were handed in over the last financial year - an increase of nearly 15,000 items from the previous year.</p>
<p>The Lost Property Office handles items lost on the Transport for London (TfL) network, including buses, London Underground, London Overground, Docklands Light Railway, licensed taxis or in Victoria Coach Station. </p>
<h2>Unexpected and unusual</h2>
<p>A range of items get left behind on public transport in London, from keys and laptops to mobile phones and suitcases. </p>
<p>The latest figures show that in 2009/10 more than 38,000 books, almost 29,000 bags and 28,000 items of clothing were left behind by passengers. </p>
<p>Last year the LPO celebrated its 75th anniversary.&nbsp; </p>
<p>Over the years people have handed in many unexpected and unusual items including, Rolex watches worth more than quarter of a million pounds, &pound;10,000 cash, human skulls, breast implants and a lawnmower.&nbsp; </p>
<p>Julie Haley, TfL's Lost Property Office Manager, said: 'The amount of lost property handed in is going up every year. </p>
<p>'Nearly 200,000 items were handed in to the Lost Property Office last year alone and this is indeed a real testament to the honesty of Londoners. </p>
<h2>Keep hold of belongings</h2>
<p>'We do our best to reunite people with their property and would encourage anyone who loses something on public transport in London to get in touch with us.</p>
<p>'Ideally though we don't want anyone leaving things behind and would like to remind passengers to keep hold of their belongings and take a quick look around before getting off public transport.'</p>
<p>Currently one in three bags, mobile phones and valuables are successfully reunited with their owners.&nbsp; </p>
<p>Unfortunately, a large number of people do not get in touch with the LPO to enquire about their lost property meaning it can never be returned.&nbsp;&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Images and local borough lost property figures are available on request </li>
<li>Property normally takes a minimum of two working days to arrive at the LPO </li>
<li>Positively identified lost property is returned to the owner (in person or by post) once a restoration fee, postage and (for property lost in taxis) a driver's award has been paid </li>
<li>Property not claimed after three months is either donated to charity or sold at auction, with all revenue generated contributing towards the cost of running the LPO service </li>
<li>After two days, people can enquire about lost property in several ways: 
<ul type="circle">
<li>By calling 0845 330 9882 between 08:30 and 16:00, Monday to Friday (except Bank Holidays) </li>
<li>By filling in the <a href="/tfl/contact/lostproperty/default.asp">online enquiry form</a> </li>
<li>By faxing 020 7918 1028 </li>
<li>In person&nbsp;by writing to:&nbsp;Lost Property Office, 200 Baker Street, London&nbsp;NW1 5RZ </li></ul></li>
<li>Top ten items left behind in London across TfL network:&nbsp; 
<ul type="circle">
<li>Books&nbsp;38,142 </li>
<li>Bags&nbsp;28,895 </li>
<li>Clothing&nbsp;28379 </li>
<li>Telephones&nbsp;20,752 </li>
<li>Keys&nbsp;10,618 </li>
<li>Spectacles/sunglasses&nbsp;9,717 </li>
<li>Umbrellas&nbsp;8,618 </li>
<li>Jewellery&nbsp;4,217 </li>
<li>Pairs of gloves&nbsp;3,710 </li>
<li>Single gloves&nbsp;937<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Almost 200,000 items were handed in over the last financial year - an increase of nearly 15,000 items from the previous year.The Lost Property Office handles items lost on the Transport for London (TfL) network, including buses, London Underground, London";}
        
        


 