


@{ViewBag.Title = "Police cycle squad targets traders peddling dodgy bikes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Police cycle squad targets traders peddling dodgy bikes</h1>
        <div class="content-page-press-release">
        07 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Dedicated policing team to tackle problem of stolen and vandalised bikes in London. Draft Cycle Security Plan sets out strategy to address cycle theft.
        
    </div>



 <div class="on-this-page">
<p>A new, 30-strong Police Cycle Task Force hit the streets of London today, as the Mayor, Transport for London (TfL) and London's police forces published a draft plan for tackling cycle theft and vandalism in the Capital.</p>
<p>The Cycle Task Force is funded by TfL and forms part of the Metropolitan Police Service's Safer Transport Command team. </p>
<p>They will patrol London's streets by bike, investigating and tackling cycle theft and criminal damage to bicycles. </p>
<p>Alongside local Safer Transport Teams, the new team will also run sessions on bike marking and registration and give London's cyclists advice on how to lock up their bikes securely in order to deter theft.&nbsp; </p>
<p>The Mayor has promised Londoners a cycle revolution in the Capital and the new policing team will support a draft Cycle Security Plan that details how increased police action will target cycle theft and vandalism, as well as:</p>
<ul>
<li>Tackling organised cycle theft through proactive investigations and operations</li>
<li>Disrupting the trade of stolen second-hand bikes and bicycle parts through working with online websites such as eBay, and running undercover operations and high visibility patrols in hot spot areas</li>
<li>Targeting bike theft and the handling of stolen bicycles through covert investigation</li>
<li>Working with cycle user groups and local authorities to participate in a range of London cycle events and initiatives to promote cycle security and reduce cycle theft</li>
<li>Providing 66,000 additional cycle parking spaces across the Capital by 2012 as well as introducing measures such as CCTV and better lighting at cycle parking locations, which can help prevent theft and deter criminal behaviour</li></ul>
<h2>Targeting theft</h2>
<p>TfL is also working with manufacturers, retailers and other partners to introduce a code of practice to encourage second hand cycle retailers and internet vendors to follow new guidelines before selling a second hand bicycle.&nbsp;</p>
<p>Plans to establish one single database to record details of all marked bikes in London are underway and this will help police and retailers identify and verify the legitimate owner of bikes that have been stolen or are being resold.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Mayor's vision is for a cycling revolution in the Capital and key to that is the need for greater cycle security. </p>
<p>'With ever greater numbers of Londoners taking to two wheels we need to make sure when they park up their beloved bicycle they can do so in confidence it will be there when they return. </p>
<p>'We want this new cycle squad and the actions set out in our plan to reassure everyone who cycles in the Capital of our focus on making London as safe and secure as possible, and the best big cycling city in the world.'</p>
<h2>Improving security</h2>
<p>Commander Mark Gore, Safer Transport Command, said: 'The Safer Transport Command and TfL are working together to create an environment where all cyclists and potential cyclists feel safe and secure. </p>
<p>'With the introduction of our dedicated Cycle Task Force, we will robustly tackle cycle theft, and improve cycle security across the Capital.'</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said:&nbsp;'London's a great place to get around on a bike, but the experience of having your bicycle stolen or damaged, or the fear that it will happen, stops many people from cycling - which makes us even more determined to crack down on cycle theft in the Capital. </p>
<p>'The new Cycle Task Force policing team will be dedicated to cracking down on bike thieves but will also work with Londoners to show them the steps they can take, such as ensuring they lock their bicycles securely, to help prevent themselves from becoming victims of theft or vandalism.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The draft Cycle Security Plan will be available on <a href="http://www.tfl.gov.uk">TfL's website </a>at from Monday 7 June and feedback can be sent in writing to <a href="mailto:CSEPCycleSecurity&#64;tfl.gov.uk">CSEPCycleSecurity&#64;tfl.gov.uk</a>.&nbsp;Advance copies of the draft Cycle Security Plan and photos from the launch event are available for the media on Sunday 6 June from TfL's press office on 0845 604 4141</li>
<li>The plan is supported by the Mayor of London, TfL, Metropolitan Police, City of London Police and the British Transport Police</li>
<li>The MPS Safer Transport Command fights crime on buses, tackles illegal taxi touts and assists with the control of traffic congestion. There are now around 2,000 uniformed officers in the unit, which are part funded by TfL</li>
<li>The Mayor and TfL are investing &pound;116m in cycling in 20010/11. That money is being spent on improving safety for cyclists, Barclays Cycle Hire, Barclays Cycle Superhighways, infrastructure, promotion and education</li>
<li>The Mayor and TfL are calling for more people to sign up for the TfL-funded cycle training available through London's borough councils, and in the past year have invested &pound;3m in cycle training for Londoners of all ages in which cyclists learn more about staying safe on London's roads and staying aware of other road users</li>
<li>In addition, &pound;1.49m of funding will be given to the eight boroughs benefitting from the two pilot Cycle Superhighways launching on 19 July 2010 for cycle training, parking and cycle maintenance sessions. <a href="http://www,tfl.gov.uk/cycling">How to set up your cycle training session</a></li>
<li>Guidance on <a href="http://www.tfl.gov.uk/avoidbiketheft ">how to reduce the risk of bike theft </a>and increase the chances of recovering your bike if it's stolen<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new, 30-strong Police Cycle Task Force hit the streets of London today, as the Mayor, Transport for London (TfL) and London's police forces published a draft plan for tackling cycle theft and vandalism in the Capital.The Cycle Task Force is funded by";}
        
        


 