


@{ViewBag.Title = "Police crackdown on rogue drivers and cyclists";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Police crackdown on rogue drivers and cyclists</h1>
        <div class="content-page-press-release">
        24 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As Bike Week is celebrated up and down the country, road users are being encouraged to respect each other and keep London's roads safe.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We need all road users, including cyclists, to use the road responsibly so we can move a step closer to realising the Mayor's vision to make London the best big cycling city in the world"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We need all road users, including cyclists, to use the road responsibly so we can move a step closer to realising the Mayor's vision to make London the best big cycling city in the world
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor, Boris Johnson, Transport for London (TfL) and the Capital's police forces are stepping up the number of operations targeting cyclists and drivers who disobey the rules of the road.&nbsp; </p>
<p>Over the coming months, police will regularly target key locations across the Capital to crackdown on road users who disobey traffic signals, encroach on advance stop lines, cycle carelessly or on pavements, or use their mobile phones.</p>
<p>With London's cycling revolution gathering pace and the number of people travelling by bicycle in the Capital increasing, officers from the City of London Police (CoLP) and Metropolitan Police Service (MPS) will be using education and enforcement to encourage considerate and safe behaviour from all road users and promote sharing the road safely. </p>
<h2>Best behaviour</h2>
<p>Road users found to be behaving negligently or in an aggressive manner will be handed a Fixed Penalty Notice (FPN) of up to &pound;60 by police officers.&nbsp; </p>
<p>Motorists and cyclists given an FPN for less serious offences may get the option to have their ticket cancelled if they attend a safety education course.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'While the vast majority of cyclists and motorists behave with care on the Capital's roads, targeted operations such as these encourage considerate, safe and lawful behaviour from all road users and help to create a culture of mutual respect where all road users can share the road safely.&nbsp;<br>&nbsp;<br>'The Mayor wants to see cyclists on their best behaviour as part of the cycling revolution in the city. </p>
<h2>Travel safely</h2>
<p>'This is London's year of cycling and it's clear there is a huge potential to increase the number of people travelling around the city by pedal power.</p>
<p>'For this to happen we need all road users, including cyclists, to use the road responsibly so we can move a step closer to realising the Mayor's vision to make London the best big cycling city in the world.'</p>
<p>Chief Inspector Craig Haslam from Westminster Borough Police said: 'Our officers work hard to ensure that cyclists and other road users are able to travel as safely as possible across London.&nbsp; </p>
<p>'We do not tolerate anyone behaving in a way that endangers others and anyone who rides or drives on the roads must be aware of their responsibility for their own safety and that of other road users.' </p>
<h2>Rules of the road</h2>
<p>City of London Police's Chief Inspector Matt Burgess said: 'Cyclists heading into a busy city like London need to be aware of the different hazards they face - especially around HGVs and their blind spots - and that's why our officers are out in the community, giving specialist urban cycling advice. </p>
<p>'But we will not tolerate any road user who chooses to ignore the rules, and will issue fixed penalty notices to anyone caught running red lights, cycling on the pavement or driving recklessly.'</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said:&nbsp;'It's important that all road users behave with consideration towards each other and obey the rules of the road.&nbsp; </p>
<p>'During these operations, police officers will take the opportunity to hand out safety advice as well as issuing FPNs to motorists and cyclists who are clearly negligent and jump red lights, encroach advanced stop lines or cycle on pavements.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The enforcement operations on Thursday 24 June will take place between 08:00 and 10:00 and 16:00 and 19:00, to coincide with peak hour traffic 
<li>The morning operation will take place at Cockspur Street by Trafalgar Square in Westminster, and the afternoon operations will take place at Aldersgate Street, Bishopsgate, Ludgate Hill, The Bank and the Barbican Estate in the City of London </li>
<li>The locations for the enforcement operations have been selected on the basis of cycle collision data and known road user antisocial behaviour hot spots </li>
<li>The increase in enforcement operations at key locations and junctions across London will take place between now and the end of the year and are part of the Share the Road campaign, which aims to&nbsp;reduce conflict between all road users </li>
<li>The Mayor of London's Share the Road campaign is an education and enforcement campaign encouraging a mutual respect between motorists, cyclists and pedestrians in London with the aim of achieving better standards of driving and riding and a greater level of courtesy shown by road users to one another </li>
<li>The safety education courses for cyclists, known as Exchanging Places sessions, allow cyclists to have their FPN revoked if they attend. The sessions take no longer than 30 minutes and provide cyclists with the opportunity to experience the driver's view from the cab of an HGV and aim to educate cyclists about HGVs' blind spots while providing cyclists with safety information </li>
<li>If cyclists are issued with an FPN on 24 June and are invited to attend an Exchanging Places session, they will have the choice to attend a session that day, either at Regent's Park or Moorgate between 16:00 and 19:00. Alternatively they can attend the following day (25 June) at an event taking place at Kensington Gardens.&nbsp;If cyclists offered this opportunity are unable to attend then they will have to pay the full FPN </li>
<li>Motorists jumping a red light or speeding may be given the choice of attending an instructive workshop instead of receiving a fixed penalty fine and points on their driving licence.&nbsp;These will be offered at police discretion and are part of a TfL/MPS long-term education strategy to influence behaviour and inform those attending of the impact of careless driving </li>
<li>The Mayor and TfL are investing &pound;116m in cycling in 2010/11. That money is being spent on improving safety for cyclists, Barclays Cycle Hire, Barclays Cycle Superhighways, infrastructure, promotion and education </li>
<li>The Mayor and TfL are calling for more people to sign up for the TfL-funded cycle training available through London's borough councils, and in the past year have invested &pound;3m in cycle training for Londoners of all ages in which cyclists learn more about staying safe on London's roads and staying aware of other road users. Visit tfl.gov.uk/cycling for information on how to set up your cycle training session </li>
<li>In addition, &pound;1.49m of funding has been given to the eight boroughs benefitting from the two pilot Barclays Cycle Superhighways launching on 19 July to be spent on cycle training, cycle parking and cycle maintenance sessions<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor, Boris Johnson, Transport for London (TfL) and the Capital's police forces are stepping up the number of operations targeting cyclists and drivers who disobey the rules of the road.&nbsp; Over the coming months, police will regularly target key";}
        
        


 