


@{ViewBag.Title = "Public get rare glimpse of Aldwych station as exhibition showcases Tube network of the future ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Public get rare glimpse of Aldwych station as exhibition showcases Tube network of the future </h1>
        <div class="content-page-press-release">
        28 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Free Transforming the Tube exhibition demonstrates how billions are being invested to improve the system<BR>- Continued investment vital to the UK economy
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"To turn off the tap of investment would be disastrous not just for London, but for the UK as a whole"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            To turn off the tap of investment would be disastrous not just for London, but for the UK as a whole
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground's (LU's)&nbsp;historic Aldwych station will open its doors to the public for two weeks for an exhibition that will invite Londoners to step into the Tube's past and see how it will be transformed in the future.</p>
<p>The Transforming the Tube exhibition will give customers an opportunity to find out how billions of pounds of investment is transforming the network.</p>
<p>It will show what the Tube of the future will look like once dramatic upgrades have taken place including remodelling of Victoria station, and the launch of new air-conditioned trains on the Metropolitan, Hammersmith &amp; City, Circle, and District lines. </p>
<p>The multi-billion pound investment programme, being delivered by Transport for London (TfL) between now and 2018, will improve and expand the transport network with an upgrade of the entire Tube network, the building of Crossrail, and expanding the Docklands Light Railway (DLR) and London Overground networks.</p>
<p>Other major improvements include: </p>
<ul>
<li>A new Victoria line fleet of 47 trains, which are currently being introduced into passenger service </li>
<li>191 new air-conditioned, walk-through trains for the Circle, District, Hammersmith &amp; City and Metropolitan lines by 2015 </li>
<li>Victoria Tube station, one of the busiest and most congested on the network, will undergo a &pound;700m transformation </li>
<li>Bond Street, Farringdon, Paddington and Tottenham Court Road stations will be upgraded as part of Crossrail works </li>
<li>Completing the Jubilee line upgrade which will provide a 33 per cent increase in capacity </li>
<li>New signalling on the Northern line which will enable the running of 20 per cent more trains </li>
<li>The Piccadilly line will be upgraded to make it more reliable and increase capacity on the line</li></ul>
<p>This investment is vital to the future growth, prosperity and the competitiveness of London and the UK, particularly for creating new jobs and opportunities. </p>
<p>The Tube upgrade programme alone will increase capacity on the network by almost 30 per cent and deliver &pound;36bn back to the UK economy over the next six decades. </p>
<p>If the Tube was not upgraded, capacity would actually decrease by 30 per cent as more and more people struggled to use an ageing network. </p>
<h2>Economic engine</h2>
<p>Boris Johnson, Mayor of London, said: 'Our historic Tube network is the nervous system without which our Capital city simply cannot function.&nbsp;</p>
<p>'Upgrades are vital to meet the growing demand of our increasing population and are central to our city being able to continue to act as the economic engine of the country.</p>
<p>'To turn off the tap of investment would be disastrous not just for London, but for the UK as a whole. </p>
<p>'We are achieving great things, but we must continue to invest and finish the transformation of the Tube.'</p>
<p>The exhibition at Aldwych will be open to the public from Monday 28 June to Friday 9 July, opening times on Monday to Friday are between 10:00 to 19:00 and Saturday and Sunday it will be open from 10:00 to 16:00.</p>
<p>Aldwych station opened on 30 November 1907. </p>
<p>During the Second World War the station was closed for train services and was instead used as an air raid shelter, with the disused tunnels used to store art and treasures from the British Museum.</p>
<h2>Over one billion journeys</h2>
<p>For almost all of its history, Aldwych was used for a shuttle service to Holborn on the Piccadilly line; although a late night through-service for theatre traffic ran until October 1908. </p>
<p>Following a period of declining numbers of passengers using the station, it was closed in September 1994.</p>
<p>Mike Brown, Managing Director of&nbsp;LU, said: 'The Tube is the oldest metro in the world and large parts of the network rely on very old infrastructure - some of which is over 100 years. </p>
<p>'Currently, over one billion journeys are made every year on the Underground network and we expect this demand to increase further.</p>
<p>'The TfL Investment Programme is transforming our Tube network, by upgrading lines, stations and trains. </p>
<h2>Maintaining investment</h2>
<p>'Without this investment, LU risks a slower, less reliable and more congested service that will not be able to meet the needs of London. </p>
<p>'It is critical that we maintain investment to sustain the upgrade. </p>
<p>'We would like as many of our customers as possible to come to Aldwych and take a look at what we're doing to improve their Tube network.'</p>
<p>
<hr>
<br><strong>Notes to editors:&nbsp;&nbsp;&nbsp;</strong> 
<p>
<ul>
<li>The entrance to the exhibition in the old Aldwych station is on Surrey Street WC2R 2NE. Nearest stations are Temple, Holborn, Charing Cross and Embankment </li>
<li>LU is undertaking a major programme of renewal as part of TfL's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light&nbsp;Railway&nbsp;passengers to check before travelling at weekends, allowing extra journey time where necessary. <a href="http://www.tfl.gov.uk/check">Weekend travel news</a> is available online&nbsp; </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground's (LU's)&nbsp;historic Aldwych station will open its doors to the public for two weeks for an exhibition that will invite Londoners to step into the Tube's past and see how it will be transformed in the future.The Transforming the Tube";}
        
        


 