


@{ViewBag.Title = "Raising the flag for the river";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Raising the flag for the river</h1>
        <div class="content-page-press-release">
        17 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More information, clearer signs and 'Tube style' maps for passengers travelling on the Thames. New flags to guide Londoners to their nearest pier. Details at the touch of a button with more online and mobile information available.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These improvements will make the river easy to navigate and make it a truly integrated part of London's public transport network
                            
                        </p>
                    </div>
                
            
            
            <p>Getting around London using the Thames will be plain sailing thanks to a package of improvements announced by the Mayor and Transport for London (TfL) today. </p>
<p>The improvements aim to make life easier for the six million passengers who use the river each year and open it up to thousands of new users.</p>
<p>London's oldest thoroughfare is being brought into the 21st century with realtime information to show when the next boat arrives now available at most piers, online or through a new iPhone application. </p>
<p>A 'Tube style' service map has also been released today that makes it much easier for passengers to work out which boats go to which piers. </p>
<p>It is also being made easier to identify which piers operate commuter services and which run cruises for sightseers looking for a leisurely tour along the river. </p>
<p>To make things clearer river services will now be identified using a simple flag system with commuter services becoming River Buses, and sight-seeing leisure services becoming River Tours.&nbsp; </p>
<h2>Plain sailing</h2>
<p>The first of the banner style flags, which will also be illuminated at night, was unveiled at Blackfriars pier today and the scheme will be rolled out to all TfL piers across the summer alongside new signs at stations and on the streets. </p>
<p>Commuters are also benefiting from being able to surf the web with 15 minutes free internet access via Wi-Fi at every pier between Millbank and Greenwich, and on a number of river services. </p>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'Travelling by river is one of the great joys of life in the capital, which is why we want to make it as easy as possible for Londoners and visitors to our capital. </p>
<p>'Our piers have been crying out for a simple system that shows which services stop at them and where they go. </p>
<p>'With the new flags, maps and realtime information it has never been easier to catch a boat in London.'</p>
<p>Mike Weston, Surface Transport's Operations Director, TfL, said: 'The Thames runs through the heart of the city and is used by six million commuters and visitors every year.&nbsp; </p>
<h2>Realtime information</h2>
<p>'These improvements will make the river easy to navigate and make it a truly integrated part of London's public transport network.'</p>
<p>Londoners using the river should also have the opportunity to look out for the host of famous names who have used the river to get around the capital. </p>
<p>Nicholas Sarkozy and Carla Bruni used the Thames on their last state visit to the UK, as has a plethora of world class entertainers that have graced The O2 including the Rolling Stones, Neil Diamond, Kylie Minogue and Bon Jovi who are currently in residence at The O2. </p>
<p>To find out more about the changes and to take advantage of a number of special offers giving passenger cheap travel fares over the next month, visit TfL's&nbsp;<a href="http://www.tfl.gov.uk/river ">website</a> or pick up one of the new widely-available leaflets which provide clear information on services and routes.</p>
<p>Port of London Authority chairman, Helen Alexander, said: 'The river gives commuters and visitors a unique perspective on London. </p>
<p>'We are really pleased to be bringing our experience of the whole of the tidal Thames and its estuary to bear, supporting the Mayor, his transport team and the boat operators as they work to open up this fantastic experience to as many people as possible.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Special Offers are available with selected operators until 9 July 2010
<li>Thames Clipper:</li>
<ul>
<li>Single journey ticket between London Bridge City pier and Canary Wharf pier for only &pound;2</li>
<li>Offer valid: Weekdays only until 10:00</li>
<li>Tickets must be purchased on the day of travel at London Bridge City Pier (before boarding the vessel)</li>
<li>No other discounts apply</li></ul>
<li>Thames Executive Charter:</li>
<ul>
<li>Travelling from either Putney or Chelsea piers receive a voucher for a free return journey. Voucher only valid for travel until 9 July</li>
<li>Available to passengers who do not already hold a season ticket</li>
<li>Return voucher to be a standard adult return</li>
<li>Voucher does not guarantee journey (eg if boat is full)</li></ul>
<li>Passengers with a valid Travelcard get a third off the price of their ticket on most services</li>
<li>Passenger can also use Oyster pay as you go on Thames Clippers services (not valid on O2 Express) and in the process receive a 10 per cent&nbsp;discount.&nbsp;This means that passengers can now move seamlessly from their local Tube, Docklands Light Railway or bus service onto the river using Oyster</li>
<li>TfL is providing &pound;1.5m for the extension of Tower Pier, which will be completed by 2011.&nbsp;River Concordat partners will continue to explore opportunities to extend and build piers at other locations</li>
<li>The River Concordat's 'By the River' is the Mayor of London's plan for enhancing river transport in the Capital and the Concordat is chaired by his Transport Adviser, Kulveer Ranger. More than 30 organisations have signed up to the river concordat including every borough that fronts the river, boat operators, pier operators, TfL, the Port of London Authority, LDA and London First. The aim of the Concordat is to tackle the barriers to travelling by river in the Capital</li>
<li>The Concordat focuses on five areas: </li>
<ul>
<li>Integration of the Thames into the transport system: Including river services in the Oyster system will make them much easier to use. Signage will be improved at piers but also at transport interchanges to make it clear that sometimes the best transport option is to walk to the pier and take a boat</li>
<li>The 2012 Games: A full Olympic and Paralympic river service will be in place for the summer of 2012. This will ensure there are services and piers to meet the predicted increase in demand and to coordinate with the start and end of events</li>
<li>Passenger information: It will be made clearer to Londoners and visitors what type of service will suit them best so that people can better distinguish between the services available</li>
<li>Infrastructure: Tower Pier will be extended by 2012 but opportunities to extend other piers, beginning in central London but eventually heading further east and west, will be explored with developers and pier owners</li>
<li>Supporting measures: To reduce the environmental impact of river passenger services, monitor passenger usage, secure boat yard space for London and address the skills shortage in the industry</li>
<li>Real time information for Thames Clipper services is available via a new <a href="http://iphone.odyssys.com/">iPhone application</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Getting around London using the Thames will be plain sailing thanks to a package of improvements announced by the Mayor and Transport for London (TfL) today. The improvements aim to make life easier for the six million passengers who use the river each";}
        
        


 