


@{ViewBag.Title = "Rotherhithe Tunnel to be made southbound only during forthcoming Blackwall Tunnel weekend closures";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rotherhithe Tunnel to be made southbound only during forthcoming Blackwall Tunnel weekend closures</h1>
        <div class="content-page-press-release">
        24 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Change to tunnel operation will ease pressure at Blackwall by providing additional capacity for drivers travelling south.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are working to ensure closures are as limited as possible
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) is planning to switch the Rotherhithe Tunnel to operate two lanes of southbound traffic during the next planned weekend closures of the southbound Blackwall Tunnel. </p>
<p>This change will help increase the amount of traffic that will be able to travel southbound across the weekend and reduce disruption to road users.</p>
<p>During the last weekend closure of the southbound Blackwall Tunnel (4-7 June), many parts of east London experienced severe traffic congestion. </p>
<p>The main cause was the volume attempting to head south of the river via the Rotherhithe Tunnel. </p>
<p>Due to the tunnel only having one lane southbound, this led to delays and frustration for drivers.</p>
<p>As a result, TfL is proposing to convert the Rotherhithe Tunnel to operate southbound only during the closure. </p>
<p>This will allow TfL to increase the capacity available to southbound traffic and reduce the amount of disruption that these works will cause. </p>
<h2>Essential improvement works</h2>
<p>Northbound drivers, who would usually use the Rotherhithe Tunnel, will still be able to use the Blackwall Tunnel (which has two northbound lanes open) during these weekend closures, as well as alternative river crossings such as Tower Bridge, Woolwich Ferry or the Dartford Crossing.</p>
<p>The next two weekend closures of the Blackwall Tunnel will occur on 9-12 and 16-19 July, with traffic diverted from 21:00 on Friday until 5:00 on the Monday. </p>
<p>These will be the second and third of five planned weekend closures for the tunnel this year which are needed to complete essential improvement works to bring the northbound tunnel up to modern safety standards that cannot be completed during the normal overnight closures.</p>
<p>Future closures will take place on 10-13 September and 1-4 October. </p>
<p>Variable Messaging Signs will be located on key approach roads to both Blackwall Tunnel and Rotherhithe Tunnel to divert traffic to an appropriate river crossing. </p>
<p>The Woolwich Ferry will also run additional services across the weekend to help reduce congestion and provide an alternative river crossing. </p>
<h2>Additional services</h2>
<p>Garrett Emmerson, Chief Operating Officer for Streets, TfL, said: 'By making the Rotherhithe Tunnel operate two lanes southbound during the weekend closure of the Blackwall Tunnel, we can increase the capacity of the diversion route by up to 600 vehicles an hour. </p>
<p>'This will make a massive difference to any drivers who wish to cross the river during this weekend. </p>
<p>'We are working to ensure closures are as limited as possible, and will closely evaluate each of them in order to be able to respond to any issues that may occur.&nbsp; </p>
<p>'However, I appreciate that there will still be a level of disruption during these weekend closures and therefore urge drivers to plan ahead and avoid the area if at all possible.'</p>
<p>TfL expects to need up to 10 weekend closures during the three year refurbishment programme. </p>
<p>The remaining five closures will take place in 2011 and 2012, and dates will be announced in advance of these closures as work progresses.</p>
<p>Work on the refurbishment will be completed by December 2012. </p>
<p><a href="http://www.tfl.gov.uk/blackwalltunnelrefurbishment">More information about the refurbishment.</a></p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Rotherhithe Tunnel will continue to operate two-way traffic during the ongoing overnight closures of the Blackwall Tunnel</li>
<li>TfL announced the dates of the <a href="http://www.tfl.gov.uk/corporate/media/newscentre/15484.aspx ">five weekend closures </a>that are required in May 2010</li>
<li>TfL agreed the dates for the weekend closures following discussion with a number of key stakeholders including surrounding local boroughs, Canary Wharf Group, The O2 and Connect Plus, and have been timed to avoid weekend closures of the Jubilee line and major events in the area</li>
<li>During the Blackwall Tunnel weekend closures, the regular Friday night maintenance closure of the Rotherhithe Tunnel will be suspended to allow traffic to use the tunnel as an alternative river crossing</li>
<li>The three-year, &pound;70m refurbishment programme of the northbound Blackwall Tunnel will include the installation of new fire and incident detection systems and a new CCTV camera system, along with better access for emergency services. These improvements will make the tunnel meet the latest safety standards and will help to ensure the safe continued use of the tunnel, which was built in 1897 and carries 50,000 vehicles a day</li>
<li>While the refurbishment works are carried out, northbound traffic is diverted through the southbound tunnel. Because the diversion involves chicanes, a 20mph speed limit is put in place each night and enforced by average speed cameras. Southbound traffic uses other river crossings</li>
<li>There is no toll for using the Dartford-Thurrock river crossing between 22:00 and 06:00</li>
<li>While the northbound tunnel is closed for refurbishment works, bus 108 (the only bus to use the Blackwall Tunnel) is affected. For more details, <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/14080.aspx#section-2">go online </a>or check local information at bus stops</li>
<li>TfL recently extended the operating hours of the Woolwich Ferry from 20:00 to 22:00, Monday to Thursday, to help provide an additional river crossing during the refurbishment programme</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is planning to switch the Rotherhithe Tunnel to operate two lanes of southbound traffic during the next planned weekend closures of the southbound Blackwall Tunnel. This change will help increase the amount of traffic that will";}
        
        


 