


@{ViewBag.Title = "Ten Tube stations for 10:10";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ten Tube stations for 10:10</h1>
        <div class="content-page-press-release">
        10 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ten of the largest stations on London Underground sign up to 10:10 campaign to reduce energy use.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Despite the Tube being one of the most environmentally friendly ways to travel in London, more can still be done to help protect the environment"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">London Underground Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Despite the Tube being one of the most environmentally friendly ways to travel in London, more can still be done to help protect the environment
                            
                        </p>
                    </div>
                
            
            
            <p>The Tube stations participating in the 10:10 initiative are Bank, Charing Cross, Earl's Court, Green Park, Holborn, Hyde Park Corner, Knightsbridge, Liverpool Street, Moorgate and Victoria. </p>
<p>Over the next 12 months these stations will work to be even more environmentally friendly by implementing a range of energy saving initiatives, including switching off escalators during off-peak hours and turning off unnecessary lighting during daylight and engineering hours. </p>
<h2>Cut emissions</h2>
<p>These carbon cutting measures should help save an estimated &pound;70,000 and over 500 tonnes of CO2 per year.</p>
<p>London Underground is committed to cutting energy and is already doing a lot to cut emissions. These 10 stations have been chosen as they are high profile and able to meet the criteria of the 10:10 campaign - learnings from this campaign can then be used across the Tube network. </p>
<p>LU's 10:10 commitment aims to build on the success of London Underground's Energy Station Challenge, an internal energy saving competition that encourages station staff across the network to reduce energy consumption at their station by switching off unnecessary equipment. </p>
<p>All Tube stations owned and managed by LU take part in the Energy Station Challenge, which was re-launched in 2008. The competition is a key driver in improving energy saving across the network. </p>
<h2>Carbon footprint</h2>
<p>Last year, West Hampstead was the most improved station, saving &pound;2,400 and 18 tonnes of CO2. This year's winning station, Tooting Broadway reduced its carbon footprint by 24 tonnes of CO2 and saved &pound;3,500. </p>
<p>The ten stations that have signed up to 10:10 will all receive detailed energy efficiency plans to help them achieve the 10 per cent target.</p>
<p>As part of the 10:10 initiative, light switches are to be installed across the ten stations to allow staff to safely switch off lighting in areas of the station that operate shorter opening hours, such as the western ticket hall at Knightsbridge, and on platforms during engineering hours. </p>
<p>This is part of a wider initiative across London Underground to install light switches and sensors at stations which do not currently have the facility to switch off lighting.</p>
<p>Earlier this year TfL announced that all its head office buildings including London's Underground's headquarters at 55 Broadway would participate in the 10:10 campaign.</p>
<p>London Underground's commitment to 10:10 is part of the Tube's ongoing work to incorporate sustainability into its operations. Last year the Tube improved its carbon efficiency by five per cent, despite carrying over a billion passengers for the fourth year running. It was also the first public transport operator to achieve the Carbon Trust</p>
<p>Standard - an award given to organisations for managing and reducing their carbon emissions. Only 302 organisations in the UK have achieved this level. </p>
<h2>Regenerative braking</h2>
<p>One of the measures that has helped one of the UK's busiest transport networks to achieve this improvement is an energy efficient system called regenerative braking, which recovers electric power during braking and feeds it back into the electricity supply. </p>
<p>This system provides up to 25 per cent savings in electricity. It is currently used on 15 per cent of the Tube network; this will increase to 50 per cent by 2012 and the entire network by 2020.</p>
<p>Howard Collins, London Underground Chief Operating Officer, said: 'Despite the Tube being one of the most environmentally friendly ways to travel in London, more can still be done to help protect the environment. </p>
<p>'Signing up to 10:10 is just one of the ways in which London Underground is changing the way we operate, helping to make London a greener and more pleasant place to live.' </p>
<h2>London life</h2>
<p>Eugenie Harvey, Director of 10:10, said: 'The London Underground is truly iconic and such a crucial part of life in London, ferrying millions of people around the city every day. </p>
<p>'We're so happy to have them onboard - reducing carbon emissions' is, literally, as everyday as catching the Tube.' </p>
<p>The signing up of TfL head office buildings and major Tube stations to the 10:10 commitment are just part of a raft of measures that TfL has undertaken to cut carbon emissions and improve the organisation's impact on the environment. </p>
<p>TfL is committed to being more energy efficient and cutting carbon and pollution across its operations. </p>
<p>Key measures include the introduction of diesel-electric hybrid buses on London's roads which are cleaner, quieter and use significantly less fuel than their diesel counterparts, cutting emissions of carbon dioxide by up to 40 per cent. </p>
<p>A further 300 new hybrid buses will be operating on routes across London by March 2011. After that it is expected that all new buses entering London will be hybrid buses - the most ambitious hybrid bus programme in Europe. </p>
<h2>Cycle hire</h2>
<p>TfL is also investing millions into programmes and technologies that will deliver a cleaner, greener capital such as the Barclays Cycle Hire scheme launching later this summer, encouraging the uptake of electric vehicles and promoting the benefits of walking. </p>
<p>Improvements to London's public transport services have helped deliver a six per cent shift away from the private car since 2000, one of the major contributors to transport related carbon emissions in London.</p>
<p>Public transport in London such as the Tube already offers a sustainable form of travel around the Capital. Figures from the Environment Agency reveal that this has helped the average Londoner to have a lower national carbon footprint of 11.28 tonnes per capita compared to the UK average of 12.10 tonnes per capita. </p>
<p>This is one of the lowest out of all the regions in England and is attributed by the Environment Agency to high public transport use.<br><br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors </strong></p><strong></strong>
<ul>
<li>The Mayor signed up City Hall to 10:10 in November 2009 and encouraged other members of the Greater London Authority to follow his example. Transport for London's 22 head office buildings including 55 Broadway and Windsor House and the London Development Agency signed up to the 10:10 commitment in February 2010 </li>
<li>The Mayor of London has set a target to reduce CO2 levels by 60 per cent by 2025 (against 1990 levels of CO2 emissions). The Mayor also aims to have 25 per cent of London's energy source from local sources by this time </li>
<li>Transport related CO2 emissions account for 22 per cent of total CO2 emissions in London (source: Transport for London's 2009 Environment report)</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Tube stations participating in the 10:10 initiative are Bank, Charing Cross, Earl's Court, Green Park, Holborn, Hyde Park Corner, Knightsbridge, Liverpool Street, Moorgate and Victoria. Over the next 12 months these stations will work to be even more";}
        
        


 