


@{ViewBag.Title = "TfL travel advice to passengers regarding threatened RMT strike action at Tube Lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL travel advice to passengers regarding threatened RMT strike action at Tube Lines</h1>
        <div class="content-page-press-release">
        22 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following the continued strike threat by RMT maintenance workers employed by Tube Lines, Transport for London (TfL) today moved to reassure customers that it plans to run a full service on the Tube network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Safety is London Underground's top priority and we would never run trains if it was not safe to do so
                            
                        </p>
                    </div>
                
            
            
            <p>The RMT plan to take strike action from 19:00 on Wednesday 23 June until 18:59 on Friday 25 June.</p>
<p>This is an existing dispute about pay and conditions and not about the proposed transfer of Tube Lines to TfL. <br>&nbsp;<br>The action does not involve London Underground (LU) employees, including station workers and Tube drivers. </p>
<p>LU&nbsp;intends to operate a full service to customers across the whole of the network, including on the Jubilee, Northern and Piccadilly lines, throughout the duration of the strike and all stations will remain open. </p>
<p>TfL has been working closely with Tube Lines to ensure that there is no compromise on safety standards and the full range of safety and emergency response duties will be covered for the duration of the strike. </p>
<p>A&nbsp;TfL spokesperson said: 'This is an existing dispute about pay and conditions and not about the proposed transfer of Tube Lines to TfL.&nbsp; </p>
<p>'Safety is London Underground's top priority and we would never run trains if it was not safe to do so. </p>
<p>'Should the action go ahead, we do not anticipate any significant impact to Tube services and London Underground intends to operate a full service on all Lines.'</p>
<p>The RMT has also advised that it has called off the industrial action that it had planned in a separate dispute with Serco, who operate the Docklands Light Railway.</p>
<p>Services should be operating as normal across the network.</p>
<p>Passengers are advised to <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">check before they travel</a>, by visiting tfl.gov.uk</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The RMT plan to take strike action from 19:00 on Wednesday 23 June until 18:59 on Friday 25 June.This is an existing dispute about pay and conditions and not about the proposed transfer of Tube Lines to TfL. &nbsp;The action does not involve London";}
        
        


 