


@{ViewBag.Title = "TfL makes data freely available for smart development ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL makes data freely available for smart development </h1>
        <div class="content-page-press-release">
        15 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Restrictions on commercial data use lifted.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to harness the innovative ideas in the developer community to provide improved information which will benefit all transport users"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris MacLeod</div>
            <div class="quotee-job-title">TfL's Director of Group Marketing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want to harness the innovative ideas in the developer community to provide improved information which will benefit all transport users
                            
                        </p>
                    </div>
                
            
            
            <p>A wealth of new information about London's Tubes, buses and river services is being made available online so that web developers can use it to create products such as apps&nbsp;(mobile phone applications) that help passengers. </p>
<p>From today developers can also use the data for commercial gain without the need to get permission from Transport for London (TfL). </p>
<p>By lifting previous restrictions, digital developers can now independently develop and sell products using TfL data. </p>
<p>Basic information will remain available free of charge to the public on the <a href="http://www.tfl.gov.uk">TfL website</a>. </p>
<p>But TfL hope the move will encourage developers to put together a wider range of high quality services and applications.</p>
<p>By using TfL's Developers' Area web developers are now able to access a number of data sets and feeds to live London Underground/Tube travel news on London's Datastore. </p>
<h2>Encouraging developers</h2>
<p>By the end of June developers will also be able to find information on bus routes and bus stops and data from London Underground's Rolling Origin and Destination Survey. </p>
<p>Data on bus timetables and schedules will follow.</p>
<p>Information currently in the Datastore includes: </p>
<ul>
<li>Planned weekend Tube works</li>
<li>Station locations (for the Tube, Docklands Light Railway and London Overground)</li>
<li>River Thames pier locations</li>
<li>Find-a-ride (licensed private hire operators)</li>
<li>Oyster Ticket Stop locations </li></ul>
<p>Developers visiting the London Datastore will be directed to a TfL Developers' Area to access the data, where a set of developer guidelines cover issues such as brand protection, accuracy and update frequency. </p>
<p>This will allow customers clarity about the services produced by TfL versus the wider developer community and encourage developers to ensure that their apps use the latest TfL data feeds.</p>
<p>More data feeds will be made available on the TfL Developers' Area shortly. </p>
<p>The changes to terms and conditions refer to information available in this area only. </p>
<h2>Benefitting passeners</h2>
<p>Maps and other intellectual property such as the use of the roundel will still be subject to license. </p>
<p>Chris MacLeod, TfL's Director of Group Marketing, said: 'We want to harness the innovative ideas in the developer community to provide improved information which will benefit all transport users. </p>
<p>'Therefore it is vital that Transport for London provides transparent information to the public and allows developers to use data to create smart-technology solutions.</p>
<p>'TfL accepts the developers need to recover their costs and derive a return from their time in creating new applications. </p>
<p>'This move will ensure that developers will be able to produce products independently and provide customers with a wide range of up-to-date applications and services.'</p>
<p>TfL will release further information into the Datastore as it becomes available. </p>
<p><a href="http://www.tfl.gov.uk/termsandconditions/11402.aspx">More information</a>.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Under previous terms, developers were at liberty to produce apps independently of TfL however developers were not permitted to make commercial gain from the use of TfL data without seeking prior permission
<li>Users of the TfL Developers' Area will be asked to accept the new terms&nbsp;and conditions before being allowed to use the data. TfL will also continue to protect the misuse of our trademarked brands and intellectual property</li>
<li>TfL does not take responsibility for apps developed by third parties using our data.&nbsp;TfL also reserves the right to protect our brand and intellectual property from use by non-licensed parties</li>
<li>The Mayor is committed to releasing Greater London Authority data for all Londoners to see and use free of charge through the London Data Store</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A wealth of new information about London's Tubes, buses and river services is being made available online so that web developers can use it to create products such as apps&nbsp;(mobile phone applications) that help passengers. From today developers can";}
        
        


 