


@{ViewBag.Title = "TfL concludes multi-million pound negotiation as London Bridge Quarter buys out Shard lease agreement";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL concludes multi-million pound negotiation as London Bridge Quarter buys out Shard lease agreement</h1>
        <div class="content-page-press-release">
        14 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) opts not to occupy the Shard, and will review market options for later alternatives. Accommodation efficiency savings on track for &pound;160m.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is an excellent deal for TfL and London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Charles Stafford</div>
            <div class="quotee-job-title">TfL's Director of Group Property and Facilities</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is an excellent deal for TfL and London
                            
                        </p>
                    </div>
                
            
            
            <p>TfL today announced that it has sold its lease agreement at the Shard in a deal that will contribute a multi-million pound cash sum to TfL's established efficiency savings programme. </p>
<p>London Bridge Quarter (LBQ), a joint venture between the State of Qatar and Sellar Property Group, has acquired TfL's agreement to lease nearly 200,000 sq ft of office accommodation in the Shard at London Bridge.</p>
<p>The precise terms of TfL's deal with LBQ are commercially confidential.</p>
<p>As a result of agreeing an excellent commercial deal, TfL will continue to occupy its current portfolio of head office buildings and will review market options for the next step of its long-term accommodation consolidation strategy, while always seeking the best value for money.</p>
<p>Last year TfL announced that in light of financial pressures - including a drop in Tube passenger numbers due to the economy and the impact of the collapse of Metronet&nbsp;- it was doubling its efficiency programme to over &pound;5bn to safeguard investment in the Tube, deliver Crossrail and improve and expand London's transport network.</p>
<p>To help deliver the &pound;5bn savings, &pound;160m in efficiencies have been identified from rationalisation of accommodation into hubs outside central London, that bring together staff previously based across a large number of more expensive and older properties. </p>
<h2>Efficiency savings</h2>
<p>As a result of the decision not to move to the Shard, combined with other operational property savings, the projected accommodation efficiency savings are now on target to reach &pound;160m and deferring TfL's requirement for new office space will contribute to this.</p>
<p>During 2009/10, TfL achieved efficiency savings totalling &pound;306m, which was &pound;54m in excess of the target. TfL's savings target during the current financial year is in excess of &pound;500m. </p>
<p>Major components of TfL's &pound;5bn efficiency programme to 2017/18 include reductions in the number of temporary workers and consultants, the recent re-letting of the Oyster contract, cutting marketing, press and research budgets and rationalising IT systems. </p>
<p>These elements alone will save over &pound;1bn.</p>
<p>Charles Stafford, TfL's Director of Group Property and Facilities, said: 'This is an excellent deal for TfL and London, and has secured a multi-million cash premium which will contribute towards our established &pound;5bn efficiency programme to cut costs and secure investment in London's transport network. </p>
<p>'TfL secured a great deal for its lease agreement in the Shard in 2006. </p>
<p>'Since then rental rates have risen considerably and the deal we have negotiated with London Bridge Quarter reflects this.'</p>
<p>TfL will continue to work with Sellar Property Group in considering its options for alternative accommodation.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL was created in 2000 from 15 separate organisations based in 50 buildings across central London</li>
<li>TfL's property strategy aims to draw together accommodation into large hubs that will improve efficiency and reduce costs. TfL moved into Palestra in Southwark in 2008 and Pier Walk in North Greenwich in 2009 - significantly reducing operating costs and providing greener working environments in locations that are well served by transport links</li>
<li>In 2006 TfL announced that it would be leasing 200,000 sq ft of office accommodation at the Shard secured at a rate of &pound;38.50 per square foot</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL today announced that it has sold its lease agreement at the Shard in a deal that will contribute a multi-million pound cash sum to TfL's established efficiency savings programme. London Bridge Quarter (LBQ), a joint venture between the State of Qatar";}
        
        


 