


@{ViewBag.Title = "TfL says 'Look out for your mates' as teen road casualties fall";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL says 'Look out for your mates' as teen road casualties fall</h1>
        <div class="content-page-press-release">
        22 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Teenagers in the Capital are being urged to look out for their mates as Transport for London (TfL) kicks off its summer teen road safety campaign.
        
    </div>



 <div class="on-this-page">
<p>The latest road safety figures for London revealed that last year there were 18 per cent fewer teenage deaths or serious injuries on the Capital's roads. </p>
<p>But alongside that positive news a series of posters and radio adverts will remind teenagers to be as careful as possible on the roads.</p>
<p>The 2009 road casualty figures found that 301 teenagers (aged 13-19) were killed or seriously injured (KSI) on London's roads last year, compared with 367 in 2008. </p>
<p>Overall the number of teenagers killed or seriously injured has fallen by almost 55 per cent since 2000. </p>
<p>The message for teenagers to look out for their mates will be heavily promoted across the Capital this summer. </p>
<p>For eight weeks, messages will be online, on the radio and in the Capital's parks. </p>
<p>Teenagers are more likely to be involved in a road accident than any other age group in the Capital.&nbsp; </p>
<p>This is partly because of their growing independence, with many young people travelling to secondary school and spending more time with their friends. </p>
<h2>Look out for your mates</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'For the numbers to be going in the right direction year on year proves we are doing something right. </p>
<p>'But the grim fact is that 17 teenagers died on London's roads last year, and 284 others were seriously injured.&nbsp; </p>
<p>That is 301 casualties too many and means we cannot afford to be complacent. </p>
<p>It is absolutely vital that we build on the progress we have made, which is why TfL and the Mayor will continue to do all they can to make sure that teenagers in London take road safety seriously.'</p>
<p>Lilli Matson, Head of Modal Policy, Better Routes and Places at TfL, said: 'Although our work is far from done, these statistics show that the teen road safety campaign really is making a difference. </p>
<p>'This summer we look forward to continuing this good work.'</p>
<p>The teen road safety campaign is part of a long-term TfL road safety campaign that works to reduce the number of young road users who are killed or are seriously injured in the Capital. </p>
<p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>In March 2000 the Government announced a new national road safety strategy and casualty reduction targets for 2010 in 'Tomorrow's roads - safer for everyone'.&nbsp;The casualty reduction targets are to be achieved by 2010. They are:</li>
<ul>
<li>All KSIs reduced by 40 per cent</li>
<li>Pedestrian KSIs reduced by 40 per cent</li>
<li>Cyclist KSIs reduced by 40 per cent</li>
<li>Powered two-wheeler KSIs reduced by 40 per cent</li>
<li>Child KSIs reduced by 50 per cent</li>
<li>All slight injuries reduced by 10 per cent</li></ul>
<li>In addition, a Road Safety Plan for London was produced by TfL in 2006, which supported the national targets and set further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders killed or seriously injured by 2010 against the same baseline. They are:</li>
<ul>
<li>All KSIs reduced by 50 per cent</li>
<li>People KSIs reduced by 50 per cent</li>
<li>Cyclist KSIs reduced by 50 per cent</li>
<li>Powered two-wheeler KSIs reduced by 40 per cent</li>
<li>Child KSIs reduced by 60 per cent</li>
<li>All slight injuries reduced by 25 per cent</li></ul>
<li>London has already exceeded the 2010 targets set by the Government for the number of children killed or seriously injured and the total number of people killed or seriously injured three years early. London has also met the more stringent London target of 60 per cent reduction in the number of children (aged 15 years and younger) killed or seriously injured and is working to further reduce the number of casualties</li>
<li><a href="http://londonroadsafety.tfl.gov.uk/data-research_publications.php">The Casualties in Greater London during 2009 report</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The latest road safety figures for London revealed that last year there were 18 per cent fewer teenage deaths or serious injuries on the Capital's roads. But alongside that positive news a series of posters and radio adverts will remind teenagers to be as";}
        
        


 