


@{ViewBag.Title = "Thousands of lives saved on the roads";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Thousands of lives saved on the roads</h1>
        <div class="content-page-press-release">
        18 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Figures released by the Mayor and Transport for London (TfL) today (18 June) show that the capital is beating road safety targets, with deaths and serious injuries on London's roads having halved compared to just over a decade ago.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every accident on our roads is an accident too many and we need to continue to invest in road safety projects and improvements"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every accident on our roads is an accident too many and we need to continue to invest in road safety projects and improvements 
                            
                        </p>
                    </div>
                
            
            
            <p>In the past year alone the number of people killed or seriously injured (KSI) fell by eight per cent with 299 less people killed or seriously injured than in 2008. </p>
<p>The Mayor believes that TfL's &pound;21.2m direct investment in road safety this year, which will support a wide range of projects including highway improvement schemes, hard-hitting safety awareness campaigns and ongoing road safety initiatives such as Junior Road Safety Officers, plus its continued funding to the boroughs, can contribute to a further reduction in accidents. </p>
<h2>Saving lives</h2>
<p>London's target for the end of 2010 was to reduce the number of KSIs by 50 per cent and the number of children KSIs by 60 per cent when compared with figures from the mid to late-1990s. </p>
<p>But the Capital has already exceeded those targets thanks to a 52 per cent reduction in the number of people killed or seriously injured on the Capital's roads, and a 72 per cent reduction in the number of children KSIs in the last decade.</p>
<p>Boris Johnson, the Mayor of London, said: 'This is about more than just statistics, it is about saving lives and to see that the amount of people who have been killed or seriously injured cut by half in around a decade reflects the significant effort that has been put into improving road safety. </p>
<h2>The right direction</h2>
<p>'Everyone involved in achieving this result deserves our thanks. </p>
<p>'But they must not lose their focus. Every accident on our roads is an accident too many and we need to continue to invest in road safety projects and improvements in order to keep this downward trend heading in the right direction.'</p>
<p>Other results released today include: </p>
<ul>
<li>Pedestrian KSIs have fallen by 13 per cent since 2008 (1,208 to 1,055) and by 51 per cent in just over the last decade </li>
<li>Car occupant KSIs reduced by seven per cent since 2008 (880 to 818) and by 68 per cent overall </li>
<li>Cyclist KSIs have fallen by three per cent since 2008 (445 to 433) and by 24 per cent overall - despite the 117 per cent increase in cycle journeys&nbsp;on London's major roads </li>
<li>Motorcycle and scooter KSIs went down by four per cent (738 to 706) since 2008 and by 24 per cent overall </li>
<li>Slight injuries increased by one per cent (24,627 to 24,752) since 2008, but are down by 37 per cent overall </li></ul>
<p>Ben Plowden, Director of Better Route and Places at TfL, said: 'There were 20 fewer lives lost and 279 fewer serious injuries on London's roads last year compared to 2008. </p>
<p>'This is great news, but road deaths and injuries are still devastating the lives of families and communities throughout London.&nbsp;</p>
<p>'TfL is directly investing &pound;21.2m this year in both new and proven ways of improving road safety in the Capital, in order to make London's roads even safer.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Casualties in Greater London during 2009 report is available at <a href="http://londonroadsafety.tfl.gov.uk/data-research_publications.php">http://londonroadsafety.tfl.gov.uk/data-research_publications.php</a> </li>
<li>Death and serious injuries reduced from average of 6,684 a year in mid to late 1990s to 3,227 in 2009 - a fall of 52 per cent </li>
<li>Seventy two per cent reduction in the number of children killed or seriously injured on London's roads since the mid to late 1990s </li>
<li>In just one year the number of people killed or seriously injured on London's roads fell by eight per cent - with 299 fewer people killed or seriously&nbsp;injured than in 2008 </li>
<li>The Government announced in March 2000 a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. The casualty reduction targets to be achieved by 2010, compared with the average for 1994 to 1998 are: </li>
<li>All KSIs reduced by 40 per cent </li>
<li>Child KSIs reduced by 50 per cent </li>
<li>All slight injuries reduced by 10 per cent </li>
<li>In addition, a Road Safety Plan for London was produced by TfL in 2001, which supported the national targets and set further targets for reducing&nbsp;&nbsp; the numbers of pedestrians, pedal cyclists and powered two-wheeler riders killed or seriously injured by 2010 against the same baseline. The&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; original targets had largely been achieved by 2005 so the then Mayor announced further, more challenging targets in 2006 to be achieved by 2010 </li>
<li>They are: 
<ul type="circle">
<li>All KSIs reduced by 50 per cent </li>
<li>Pedestrian KSIs reduced by 50 per cent </li>
<li>Cyclist KSIs reduced by 50 per cent </li>
<li>Power-two-wheeler (P2W) KSIs reduced by 40 per cent </li>
<li>Child KSIs reduced by 60 per cent </li>
<li>All slight injuries reduced by 25 per cent</li></ul></li>
<li>The new Government is expected to announce details of a new road safety strategy and targets beyond 2010 later this year. The Mayor, through TfL, and working with the London boroughs, police, Highways Agency, road safety partnerships and other stakeholders, will seek to achieve any&nbsp;&nbsp; new national road safety targets and such further road safety targets as the Mayor may set, as per the Mayor's Transport Strategy. </li>
<li>TfL recently published the results of its <a href="/roadusers/redroutes/10151.aspx">Motorcycles in Bus Lanes</a> trial .&nbsp;As a result&nbsp;of the report, TfL intends to implement a new experimental scheme allowing motorcyclists access to bus lanes, following the statutory consultation&nbsp;period.&nbsp;Find ot more about the <a href="/static/corporate/media/newscentre/archive/15795.html">results of the trial</a> </li>
<li>TfL intends to implement a new experimental scheme allowing motorcyclists access to bus lanes in July following the statutory consultation period.&nbsp; During the interim period between the current trial ending on 5 July and the new one beginning on or around 16 July, TfL won't enforce against&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; motorcyclists who use bus lanes, although they will continue to be expected to respect the speed limit and all other rules of the road</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In the past year alone the number of people killed or seriously injured (KSI) fell by eight per cent with 299 less people killed or seriously injured than in 2008. The Mayor believes that TfL's &pound;21.2m direct investment in road safety this year,";}
        
        


 