


@{ViewBag.Title = "Transport for London urges RMT leadership to call off threatened Tube Lines strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London urges RMT leadership to call off threatened Tube Lines strike action</h1>
        <div class="content-page-press-release">
        09 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Following the announcement that RMT members employed by Tube Lines are set to stage two 48-hour strikes, TfL today urged the RMT leadership to call off their threatened strike action and engage in proper dialogue with TfL once the acquisition of Tube Lines has been completed, expected by the end of June.</p>
<p>The RMT dispute is an existing pay and conditions dispute with Tube Lines, and is not related to the proposed transfer of Tube Lines to TfL.</p>
<p>TfL's acquisition of Tube Lines, will end the needlessly complex PPP system on the Jubilee, Piccadilly, and Northern lines.</p>

<p>It will allow TfL to deliver the upgrade programme with significantly less disruption and far fewer closures, to a timetable that suits Londoners and the Capital's businesses.</p>
<p>A TfL spokesperson said:&nbsp;'As the RMT leadership knows, we do not currently control Tube Lines.</p>

<p>'We are working to conclude the acquisition of the company by the end of June, which will benefit all Londoners by effectively ending the PPP, which has wasted hundreds of millions of pounds and led to delays to upgrade work.</p>
<p>'The RMT have time and again called for Tube Lines' work to come back under public control, and that is what we are working to achieve. </p>

<p>'Furthermore this is an existing dispute about pay and conditions and not about the proposed transfer of Tube Lines to TfL. </p>
<p>'We strongly urge RMT leadership to call off the threatened strike action and to enter proper dialogue with us after our acquisition of Tube Lines.</p>
<p>'TfL taking control of Tube Lines is a good deal for London as there is no longer a looming &pound;600m PPP funding gap, it will generate substantial savings for TfL and enable us to upgrade the Tube to a timetable that suits Londoners and in a way which is much less disruptive for our customers and businesses in future.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The RMT has advised that its members working on Tube Lines contracts will walk out from 7pm on June 23 and again from 7pm on July 14</li>
<li>This action would only affect three lines - Jubilee, Northern, and Piccadilly</li>
<li>This is not a dispute with London Underground, so does not involve the train drivers or station staff</li>
<li>We are pressing Tube Lines for an assessment of the likely impact on services, however we expect services to continue operating</li>
<li>Bechtel will no longer have a contractual relationship with LU and will not, therefore, receive equity returns and secondment fees.&nbsp;While we will continue have a direct contractual relationship with Amey (Ferrovial) on maintenance, this will be a direct relationship and will mean they no longer receive equity returns and management fees will be lower</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following the announcement that RMT members employed by Tube Lines are set to stage two 48-hour strikes, TfL today urged the RMT leadership to call off their threatened strike action and engage in proper dialogue with TfL once the acquisition of Tube";}
        
        


 