


@{ViewBag.Title = "Transport for London appoints new Tube Lines Chief Executive Officer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London appoints new Tube Lines Chief Executive Officer</h1>
        <div class="content-page-press-release">
        07 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Andie Harper 'uniquely placed' to manage transfer to TfL, after leading Metronet transition.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"He is uniquely well placed to lead the organisation through this period of change, which will deliver huge improvements for Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            He is uniquely well placed to lead the organisation through this period of change, which will deliver huge improvements for Londoners
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Harper to start work immediately as Tube Lines CEO (Designate) to prepare for transfer to TfL</li>
<li>Tube Lines acquisition allows TfL greater flexibility in the delivery of vital Tube upgrades, and ability to minimise disruption for Londoners and businesses</li></ul>
<p>Transport for London (TfL) today announced that it has appointed Andie Harper to be the new Tube Lines Chief Executive Officer (CEO).&nbsp;</p>
<p>Although he will officially take up the post following TfL's acquisition of Tube Lines, Andie Harper - who led the smooth and efficient transfer of Metronet from administration to TfL - will be appointed CEO (Designate) immediately and will begin working alongside current Tube Lines CEO Andrew Cleaves to ensure a smooth transition.&nbsp;</p>
<p>Andrew Cleaves will leave Tube Lines following TfL's acquisition of the company, planned by the end of June.<br>&nbsp;<br>TfL's acquisition of Tube Lines will effectively free London from the complex PPP structure and will provide greater flexibility to manage the Tube upgrade programme, alongside all the other improvements being delivered across London's transport network.&nbsp; </p>
<p>Following transfer, TfL's priority will be delivery of the Jubilee line upgrade as soon as possible.&nbsp;</p>
<p>TfL will also begin work to review Tube Lines' upgrade programme with the aim of delivering the line upgrades to a timetable that suits London and minimises disruption to customers and businesses, with the best possible value for money.&nbsp;</p>
<p>TfL also anticipates being able to generate substantial savings.<br>&nbsp;<br>Mike Brown, Managing Director London Underground said: 'Andie is an excellent appointment.&nbsp;</p>
<p>'He understands London's transport system through his time at London Underground and through leading Metronet's smooth and efficient transition from administration to TfL.&nbsp; </p>
<p>'He is uniquely well placed to lead the organisation through this period of change, which will deliver huge improvements for Londoners.'<br>&nbsp;<br>Biography:</p>
<p>Andie Harper comes to Tube Lines from AECOM, the global programme management, planning and engineering consultancy. He has a wealth of experience in the transport sector, including running&nbsp; the predecessor infraco for the Jubilee, Northern and Piccadilly lines whilst at London Underground between 1999 and 2002. He has also acted as Project Director for the Edinburgh Tram Project and Program Director for Washington Group International, a large US construction company. He was appointed by Metronet's Administrators in October 2007 and led the organisation through the administration phase and through the transfer to TfL in May 2008. He stayed on to conclude the transition both at Metronet and then as LU Transition Director until summer 2009.<br>&nbsp;</p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<ul>
<li></li></ul></strong>Completion of TfL's acquisition of Tube Lines is anticipated by 30 June 2010. At that time, Bechtel and Amey will end their roles as shareholders in Tube Lines under the Public Private Partnership (PPP) contract for capital works projects and maintenance programmes on the Jubilee, Northern and Piccadilly lines of the London Underground
<li>Tube Lines will become a wholly owned subsidiary of TfL; The Mayor and TfL's first priority is to see the Jubilee line upgrade delivered as soon as possible, alongside LU's existing upgrade programme for the Victoria and Sub Surface Lines (Circle, District, Hammersmith &amp; City and Metropolitan), while also ensuring that it provides the reliability of service on which customers and businesses on the line depend</li>
<li>TfL will also now review Tube Lines' upgrade programmes with the objective of delivering the Tube improvements London needs, with the minimum of disruption for Londoners and business and offering the best possible value for money.&nbsp;This review will take some time to complete, but it will enable TfL to fully understand the Northern and Piccadilly line upgrade programmes, including when and how they can best be delivered and any synergies that can be achieved alongside LU's existing upgrade programmes<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Harper to start work immediately as Tube Lines CEO (Designate) to prepare for transfer to TfLTube Lines acquisition allows TfL greater flexibility in the delivery of vital Tube upgrades, and ability to minimise disruption for Londoners and";}
        
        


 