


@{ViewBag.Title = "Victoria Tube station to be transformed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Tube station to be transformed</h1>
        <div class="content-page-press-release">
        10 June 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A &pound;700m upgrade to bring better journeys for thousands of Londoners. Upgrade is a crucial part of Transport for London's (TfL's) multi-billion pound Investment Programme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will make journeys easier for the hundreds of thousands of passengers that use the station 
                            
                        </p>
                    </div>
                
            
            
            <p>Victoria Tube station, one of the busiest and most congested on the network, is set for a radical &pound;700m transformation as TfL today announced that a contract has been awarded for its redevelopment. </p>
<p>As part of TfL's multi-billion pound Investment Programme to improve and expand the transport network, VINCI BAM Nuttall Limited joint venture will reconfigure Victoria station&nbsp;- creating a brand new ticket hall, doubling in size the existing southern ticket hall, and installing new entrances, nine new escalators and step-free access.</p>
<p>The station redevelopment is essential to supporting the upgrade of the Victoria line and the two together will result in quicker, easier, and less congested journeys for thousands of Londoners. </p>
<p>Between now and 2018, TfL will upgrade eight Tube lines, build Crossrail, and expand the Docklands Light Railway (DLR) and London Overground networks, as well as delivering other major improvements. </p>
<p>Such investment is vital to the future growth, prosperity and the competitiveness of London and the UK, particularly&nbsp;for creating new jobs and opportunities.</p>
<p>Boris Johnson, the Mayor of London, said: 'Anyone that's ever been near Victoria Tube in the rush hour will know that these improvements cannot be made soon enough. </p>
<h2>Vital upgrade</h2>
<p>'It will make journeys easier for the hundreds of thousands of passengers that use the station and is exactly the type of investment I am determined to protect in the Capital.'<br>&nbsp;<br>Redevelopment work will begin next year that will deliver:</p>
<ul>
<li>Cuts in peak time congestion and improved capacity, with a new north ticket hall and entrance to the station beneath Bressenden Place allowing passengers from Victoria Street to enter the station without crossing busy roads above ground </li>
<li>Better station access for all passengers with new lifts in the enlarged existing south ticket hall providing step-free access to all platform levels and wider stairs to the National Rail station </li>
<li>Seven new lifts providing step-free access from street to the Victoria line and for interchange with District and Circle line platforms </li>
<li>A new passageway to the north end of the Victoria line platform</li></ul>
<p>Richard Parry, London Underground's Strategy and&nbsp;Commercial Director said: 'Used by more than 80 million passengers each year, upgrading Victoria Underground station is a key vital part of improving the Tube network which will ensure the station can cope with future demand, cut congestion and improve access for all our passengers using the station.</p>
<h2>Improved accessibility</h2>
<p>'This will be a huge benefit to residents, commuters and tourists, and customers will no longer face being held up by the station having to shut for several minutes in the rush hour because it is too full.&nbsp; </p>
<p>'It will also be much quicker and easier for passengers to enter and exit Victoria Underground station as they won't have to cross several busy roads.'<br>&nbsp;<br>The station will be constructed in two main phases in order to deliver it in the most cost effective way.<br>&nbsp;<br>The first phase is the construction of the new entrance and the new north ticket hall under Bressenden Place, which will start in 2011 and be completed in 2016. </p>
<p>The remainder of the upgrade works including new lifts and escalators from the existing Victoria line ticket hall which will be doubled in size will be completed by 2018. </p>
<p>During the upgrade work TfL will work closely with the contractors to ensure any possible disruption is managed with as little impact as possible on passengers using this key interchange.&nbsp;&nbsp;</p>
<h2>Easier, faster journeys</h2>
<p>Bob Lloyd, Project Director, VINCI BAM Nuttall said: 'The joint venture is experienced in complicated, multi-disciplinary construction projects.&nbsp; </p>
<p>'Both contractors are long established companies whose people have extensive experience and expertise in all sectors.&nbsp; </p>
<p>'Of course, a successful scheme is not just down to technical expertise but the ability to work together.&nbsp; </p>
<p>'This project will benefit from the team approach of VINCI Construction UK and BAM Nuttall who have both previously worked together on a number of successful major projects and currently on the upgrade of Tottenham Court Road Station.</p>
<p>'We are proud to be awarded the Victoria station upgrade and will seek to exceed the expectations of all our stakeholders by meeting the challenges of delivering the scheme and providing passengers to and from Victoria station with an improved travelling experience.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Taylor Woodrow/BAM Nuttall joint venture tendered for the contract. Taylor Woodrow was acquired by VINCI Construction UK in September 2008 and now forms part of VINCI, the world leader in concessions and construction. VINCI has a turnover of &euro;31.9bn and employs 162,000 people in 100 countries around the world </li>
<li>Royal BAM Group is a worldwide construction services company turning over more than &euro;8bn and listed on the Euronext Amsterdam. Royal BAM Group's three subsidiary companies in the UK, BAM Nuttall, BAM Construct UK and BAM PPP, deliver a combined turnover of &pound;1.75bn per annum, which positions BAM as one of the top three construction and civil engineering businesses in the UK </li>
<li>Following the three month public inquiry, which ended in January 2009, the Secretary of State for Transport approved the scheme in July 2009. The Transport and Works Act Order for the scheme came into effect on 18 September </li>
<li>Due to pressures on TfL's finances resulting from the economic downturn and the impact of Metronet's collapse, TfL considered how best to make cost savings while keeping the Tube running. In October last year, TfL approved the funding. The station will be constructed in phases in order to deliver it in the most cost effective way </li>
<li>A shortlist of three companies was invited in to tender in 2008 for the main construction contract for Victoria Tube station: 
<ul>
<li>Balfour Beatty / Morgan Est (joint venture) </li>
<li>Taylor Woodrow / BAM Nuttall (joint venture) </li>
<li>Costain / Bachy Soletanche / Laing O'Rourke (joint venture)</li></ul></li>
<li>London Underground&nbsp;is undertaking a major programme of renewal as part of TfL's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to <a href="http://www.tfl.gov.uk/check">check before they travel </a>at weekends, allowing extra journey time where necessary</li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Victoria Tube station, one of the busiest and most congested on the network, is set for a radical &pound;700m transformation as TfL today announced that a contract has been awarded for its redevelopment. As part of TfL's multi-billion pound Investment";}
        
        


 