
    
  



@{ViewBag.Title = "Freight";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/transport-assessment-guide/freight";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></li>
                
            
            
                <li><span class="last-breadcrumb">Freight</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Freight</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        To minimise the impact of freight movements on the transport network, we've created Delivery and Servicing Plans (DSPs), and Construction Logistics Plans (CLPs). You can submit these with your planning application.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>





        <p>In addition to guidance on preparing and implementing <a name="dsp-clp"></a>DSPs (Delivery Service Plans) and CLPs (Construction Logistics Plans):</p>
         
         
         
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/delivery-and-servicing-plans.pdf">
    <div class="document-download-text">
        <p>Delivery and servicing plans (DSPs)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/construction-logistics-plan-guidance.pdf">
    <div class="document-download-text">
        <p>Construction logistics plans (CLPs) guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Construction logistics plan: Appendix A</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!--  -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/clp-appendix-b.pdf">
    <div class="document-download-text">
        <p>Construction logistics plan: Appendix B (example outline)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.78MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.78 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/clp-tool3.xlsx">
    <div class="document-download-text">
        <p>Construction logistics plan tool</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 940KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.92 -->
 
</div>

</div>
 <div>

<h2>Why plan?</h2>

<p>In line with <a href="https://www.london.gov.uk/what-we-do/planning/london-plan">London Plan</a>&nbsp;policies 6.3 and 6.14, TfL is concerned with assessing the most appropriate methods of freight movement in London and ensuring a distribution network which minimises congestion, ensures the safe passage of goods and mitigates its environmental impact.</p>

<p>Development proposals should aim to reduce levels of road freight, particularly during peak periods and make use of sustainable modes where possible - rail and water for larger consignments and cycling and walking for local activity.</p>

<p>Proposals need to consider the effects of activities on the wider road environment, including ensuring pedestrian and cyclist safety is maintained throughout construction and operational periods.</p>

<h2>Requirements for your planning application</h2>

<p>In accordance with the London Plan, all referable planning applications should be accompanied by a Construction Logistics Plan (CLP) and Delivery and Servicing Plan (DSP) as these can help to ease congestion and/or encourage modal shift.</p>

<h3>Delivery and Servicing Plans (DSPs)</h3>

<p>A DSP provides a framework for ensuring servicing freight activity is as effective and efficient as possible.</p>

<p>DSPs consist of a range of tools, actions and interventions aimed at reducing and re-timing deliveries, redefining building operations and ensuring procurement activities account for vehicle movement and emissions. DSPs should now be separate from the <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/travel-plans">travel plan</a>.</p>

<h4>What to include in a DSP</h4>

<ul>
	<li>The expected number and types (length, width and height) of vehicles</li>
	<li>Time of day and week of operation</li>
	<li>Delivery provision in terms of safe and legal loading bays or drop-off areas</li>
	<li>How the impact on the transport network and highway - including bus routes, cycle lanes and conflict with pedestrians - will be managed</li>
	<li>Any potential detrimental noise or air quality issues and subsequent remedial action</li>
</ul>

<p>Preferably deliveries will be made off the main highway. Where deliveries are to be made from the road network, it should be demonstrated that any deliveries will be made from a legal loading location which does not disrupt the road network.</p>

<p>The impacts of delivery and servicing of the development during construction and operation needs to be assessed at the earliest possible stage and methods of mitigation need to be demonstrated.&nbsp;</p>

<p>Servicing provision should be considered at the outset of proposals being formulated, with references made within the planning submission. For larger schemes&nbsp;we may request a Framework DSP at the application stage - advice will be given in these scenarios.</p>

<h3>Construction Logistics Plans (CLPs)</h3>

<p>The construction phase of any development will have an&nbsp;impact on the surrounding community, including safety, environmental and congestion impacts on the road network. Impact varies depending on the size, timescale and location of the development.</p>

<p>A CLP is an important management tool for planners, developers and construction contractors and focuses on construction supply chains and how their impact on the road network can be reduced. It also provides the consistent framework for understanding and managing construction vehicle activity into and out of a development site.</p>

<h4>What to include in a CLP</h4>

<ul>
	<li>A&nbsp;full assessment of the construction phase</li>
	<li>Details of&nbsp;the levels of construction traffic generated</li>
	<li>Routes the traffic will use</li>
	<li>Significant traffic management for the construction phase</li>
</ul>

<p>Strategies to reduce construction site impact should be noted and include:</p>

<ul>
	<li>Planned measures, with the&nbsp;specific techniques agreed through the planning process</li>
	<li>Identified sensitive&nbsp;routes so construction vehicles can avoid them</li>
</ul>

<p>From the outset, a CLP should scope the use of more sustainable modes for transporting construction materials (e.g. by rail or water) and be incorporated where feasible. To promote the sustainable movement of construction materials, we have produced a CLP guide.</p>

<p>It is important that road safety measures are considered at the application stage and preventive measures delivered through the construction and operational phases of the development. We strongly encourage the use of contractors who are accredited to the <a href="http://www.fors-online.org.uk/">Fleet Operator Recognition Scheme</a> (FORS) and meet the vehicle and driver standards of <a href="http://www.clocs.org.uk/">Construction Logistics and Community Safety</a> (CLOCS).</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/our-approach-to-assessment">Our approach to assessment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments">Transport Assessments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/trip-generation">Trip generation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations">Planning obligations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/highway-works">Highway works</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/freight">Freight</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/travel-plans">Travel plans</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/deliveries-in-london/index" class="plain-button">Deliveries in London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "To minimise the impact of freight movements on the transport network, we'vecreated Delivery and Servicing Plans (DSPs) and Construction Logistics Plans (CLPs). These documents need to be submitted in support of all referable applications.";}
        
            
        


 