
    
  



@{ViewBag.Title = "Highway works";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/transport-assessment-guide/highway-works";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></li>
                
            
            
                <li><span class="last-breadcrumb">Highway works</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Highway works</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Agreements for private developer-funded highway works on the Transport for London Road Network (TLRN) are made under Section 278.
        
      </div>
    
    <div class="on-this-page">
      <h2>Section 278 agreements</h2>

<p>These agreements make sure highway works in planning permissions are completed and funded by planning applicants. They're made under <a href="https://www.legislation.gov.uk/ukpga/1980/66/section/278">Section 278 of the Highways Act 1980</a>, as amended by Section 23 of the New Roads and Street Works Act 1991.</p>

<p>Before we enter into a Section 278 agreement, we need:</p>

<ul>
	<li>Full planning permission for the proposed works</li>
	<li>The developer to enter into an Abortive Costs Undertaking (ACU)</li>
	<li>The Section 278 works deemed a benefit to the public</li>
	<li>All land necessary to carry out the Section 278 works are controlled by the developer</li>
</ul>

<p>As highway authority, we have the power to decide the acceptability of a contractor that works on the TLRN.</p>

<h3>Contact us</h3>

<p>You can send questions to&nbsp;<a href="mailto:section278team&#64;tfl.gov.uk">section278team&#64;tfl.gov.uk</a>.</p>

<h2>Residential vehicular crossovers</h2>

<p>Agreements for residential vehicular crossovers (also known as dropped kerbs) on the TLRN are also made under Section 278 agreements.</p>

<p>To get a vehicle crossover on the TLRN (also known as <a href="/modes/driving/red-routes">red routes</a>), the local council must give planning permission.</p>

<p>As the TLRN has classified roads, a vehicular crossover on the red route can't be determined under Permitted Development Rights.</p>

<h3>Apply for a crossover</h3>

<p>1. Read our guidance&nbsp;before applying:</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidance-on-applying-for-a-residential-crossover.pdf">
    <div class="document-download-text">
        <p>Guidance on applying for a crossover</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div>

<p>2. Apply for planning permission through the <a href="https://directory.londoncouncils.gov.uk/">local council</a></p>

<p>3. The council considers your application and consults us</p>

<p>4. We'll advise the council on how safe and appropriate the crossover is</p>

<p>5. The council will issue a decision notice</p>

<p>6. We can only carry out the works through a Section 278 agreement once you've received planning permission. Email <a href="mailto:section278team&#64;tfl.gov.uk">section278team&#64;tfl.gov.uk</a>&nbsp;with a copy of your decision notice</p>

<p>7. You pay an administration fee and the total cost of the works must also be paid by the resident</p>

<p>8. We'll build the crossover</p>

<h3>Contact us</h3>

<p>You can send questions to <a href="mailto:spatialplanning&#64;tfl.gov.uk">spatialplanning&#64;tfl.gov.uk</a>.</p>

<h2>Road Safety Audit</h2>

<p>You should do a Road Safety Audit for all highway works on the TLRN.</p>

<p>A Stage 1 Road Safety Audit should be done before your planning application if you're proposing a material change to our highway. It can only be done after your application if agreed with us in writing.</p>

<p>Read our requirements and expectations for road safety audits carried out on the TLRN:</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-road-safety-audit-procedure-may-2014-sqa-0170.pdf">
    <div class="document-download-text">
        <p>Road Safety Audit procedure (SQA 170)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>
<h3>Contact us</h3>

<p>You can send questions to <a href="mailto:tflsafetyaudit&#64;tfl.gov.uk">tflsafetyaudit&#64;tfl.gov.uk</a>.</p>

<h2>Section 177 Licences</h2>

<p>The construction of a canopy, building or part of a building over the TLRN may only be carried out if licensed under <a href="https://www.legislation.gov.uk/ukpga/1980/66/section/177">Section 177 of the Highways Act 1980</a>.</p>

<h3>Contact us</h3>

<p>You can send questions to <a href="mailto:section278team&#64;tfl.gov.uk">section278team&#64;tfl.gov.uk</a>.</p>

<p>&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/our-approach-to-assessment">Our approach to assessment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments">Transport Assessments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/trip-generation">Trip generation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations">Planning obligations</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/highway-works">Highway works</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/freight">Freight</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/travel-plans">Travel plans</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Agreements for private developer-funded highway works on the Transport for London Road Network (TLRN) are made under Section 278 of the Highways Act 1980";}
        
            
        


 