
    
  



@{ViewBag.Title = "Our approach to assessment";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/transport-assessment-guide/our-approach-to-assessment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></li>
                
            
            
                <li><span class="last-breadcrumb">Our approach to assessment</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Our approach to assessment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We assess the transport impact of your planning application using the London Plan. This is a material consideration for all planning applications.
        
      </div>
    
    <div class="on-this-page">
      <h2>The London Plan</h2>

<p>The legal decision maker determines how material&nbsp;the <a href="https://www.london.gov.uk/what-we-do/planning/london-plan/new-london-plan">London Plan</a>&nbsp;is in each case and what weight to give it in their decision making. However, the Mayor supports all the new transport policies and parking standards in the latest version of the London Plan.</p>
      
           
      <div>

<h2>How we assess and why</h2>

<p>When assessing a planning application or giving advice through our <a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">pre-application services</a>, we focus on the transport policy requirements in the London Plan. Our priorities are the same as the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>. We may request changes or mitigation to your application due to Mayor's Transport Strategy policies and proposals. We can also let the Mayor and local borough know.</p>

<p>The London Plan, <a href="https://www.london.gov.uk/what-we-do/housing-and-land/tackling-londons-housing-crisis">London Housing Strategy</a> and Mayor's Transport Strategy provide a framework for 'good growth' that's socially and economically inclusive and environmentally sustainable. Policy T1 (Strategic approach to transport) of the plan says that all development plans and proposals should support the Mayor's Transport Strategy.</p>

<p>If your application doesn't meet our requirements and priorities due to transport issues and impacts, we'll explain why and tell you how to improve it. Our feedback may be based on London Plan policies even if they don't directly affect transport and travel.</p>

<p>We talk to colleagues across all modes for updates on London's walking, cycling, public transport and road networks to see how they may be affected by a new development. We also use <a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">planning and construction resources</a>.</p>

<h2>Network management</h2>

<p>As the highway authority for London's <a href="/modes/driving/red-routes">red routes</a>, we have a network management duty for the Transport for London Road Network (TLRN), under the <a href="https://www.legislation.gov.uk/ukpga/2004/18/contents">Traffic Management Act 2004</a>. By law, we must consider the needs of all its users which applies to walking, cycling and public transport interchange as well as private vehicles, utilities and freight.</p>

<p>As part of <a href="/info-for/urban-planning-and-construction/our-role-in-planning">our role in planning</a>, we'll consider the impacts of your planning application on our services, assets, land and infrastructure. We may need applications to be changed or mitigated to protect and enhance the network, especially if travel by Londoners could be negatively affected or if we could suffer financially due to a new development.</p>

<h2>Working with London's boroughs</h2>

<p>We work with London's local planning authorities, the <a href="https://directory.londoncouncils.gov.uk/">boroughs</a>, to promote <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero</a>&nbsp;and the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a>. We often assess planning applications with borough colleagues and rely on them to support and reinforce our work in the planning system.</p>

<p>We're currently testing and refining a decision assistance tool for public planning and transport officers &#45; the Healthy Streets Check for Planning Assessment (launching in summer 2019).</p>

<p>We also consider boroughs' <a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a> (LIPs) when we assess planning applications. They include local transport improvement schemes funded by us, that match the Mayor's Transport Strategy objectives. This helps us understand the future transport context a new development will be in.</p>

<h2>TfL property development</h2>

<p>Our <a href="/info-for/business-and-commercial/index">business and commercial teams</a> submit their own planning applications. These are always assessed using the same approach, priorities and requirements as applications by third parties.</p>

<p>We have a long-term plan to create 10,000 homes across 300 acres.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/our-approach-to-assessment">Our approach to assessment</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments">Transport Assessments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/trip-generation">Trip generation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations">Planning obligations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/highway-works">Highway works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/freight">Freight</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/travel-plans">Travel plans</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/guidance/determining-a-planning-application" class="plain-button">Determining a planning application - Gov.uk</a>
<a href="https://www.london.gov.uk/what-we-do/planning/london-plan/new-london-plan" class="plain-button">The London Plan</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how and why we assess the transport impact of your planning application using the London Plan. ";}
        
            
        


 