
    
  



@{ViewBag.Title = "Transport Assessments";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></li>
                
            
            
                <li><span class="last-breadcrumb">Transport Assessments</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transport Assessments</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We'll help you do a Transport Assessment (TA) for developments which create significant amounts of movements.
        
      </div>
    
    <div class="on-this-page">
      <h2>Why do a TA?</h2>

<p>A TA ensures your planning application shows how your new development supports <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero</a> and the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a>. It also helps us assess your application and give you, and the local borough, useful advice on how it fits with the <a href="https://www.london.gov.uk/what-we-do/planning/london-plan">London Plan</a>.</p>

<p>The TA in a planning application must identify if transport impacts of a new development are likely to be 'severe'. This can mean planning permission is refused under the <a href="https://www.gov.uk/government/publications/national-planning-policy-framework--2">National Planning Policy Framework (NPPF)</a>.</p>

<p>In London, the TA for any planning application must also show how the new development would meet the transport policy requirements in the London Plan. It may need to include transport <a href="/info-for/urban-planning-and-construction/planning-applications/modelling">modelling</a> done or checked by us.</p>

<p>We can advise the Mayor and local borough to refuse planning permission if your TA shows unacceptable impacts on:</p>

<ul>
	<li><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero</a></li>
	<li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a></li>
	<li>Our services, assets, <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">land and infrastructure</a></li>
</ul>

<p>All planning applications in London must show how they encourage higher levels of <a href="/modes/walking/index">walking</a> and <a href="/modes/cycling/index">cycling</a>. These support greater social inclusion, community cohesion and healthier communities.</p>

<h2>When to do a TA</h2>

<p>You should do a TA for all <a href="/info-for/urban-planning-and-construction/our-role-in-planning">developments of strategic importance</a>, legally referable to the Mayor, unless another approach is agreed in writing with us before your planning application.</p>

<p>A Transport Statement is a shorter, simpler version of a TA. You can use it when transport impacts are limited. Some boroughs have their own guidance on this which should always be followed.</p>

<p>We still use national guidance from 2007 to decide when TAs and Transport Statements are needed for different types and sizes of development:</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/thresholds-for-transport-assessments.pdf">
    <div class="document-download-text">
        <p>Thresholds for Transport Assessments</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>
<p>A TA can still be required for non-referable planning applications in London.</p>

<h2>Where to start</h2>

<p>Our <a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">pre-application services</a>&nbsp;help you identify and prioritize the most important transport issues and impacts for your TA and the rest of your planning application.</p>

<p>If you need us to suggest any changes or mitigation, you should <a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">book an initial screening meeting</a>.</p>

<h2>What to include</h2>

<p>Our guidance is based&nbsp;on <a href="/info-for/urban-planning-and-construction/our-role-in-planning">our role in planning</a>&nbsp;and doesn't replace guidance by local authorities or national government.</p>

<p>It helps you create TAs and planning applications using <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero</a>&nbsp;and the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a>. It also shows how your new development will meet the transport policy requirements of the <a href="https://www.london.gov.uk/what-we-do/planning/london-plan">London Plan</a>.</p>

<p>The <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>&nbsp;aims for 80% of Londoners' trips to be walked, cycled or use public transport by 2041. All development in London must support this because of Policy TI (strategic approach to transport) of the new London Plan.</p>

<p>The Mayor's <a href="/corporate/about-tfl/the-mayors-transport-strategy#cycling">Cycling action plan</a> aim for 70% of Londoners to be within 400 metres of a London-wide network of high-quality cycle routes by 2041.</p>

<ul>
	<li>Our planning open data portal has <a href="http://planning.data.tfl.gov.uk/">files for digital mapping</a></li>
</ul>

<h3>Healthy Streets TA format</h3>

<p>You can use the content and chapters in our Healthy Streets TA format for your TA. You can also use our Active Travel Zone (ATZ) assessment with step-by-step instructions:</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-ta-format.pdf">
    <div class="document-download-text">
        <p>Healthy Streets TA format</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 668KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/atz-assessment-instructions.pdf">
    <div class="document-download-text">
        <p>ATZ assessment instructions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.53 -->
 
</div>

</div>
 <div>

<p>You should <a href="/info-for/suppliers-and-contractors/digital-design-toolkit/using-plain-english">use plain English</a>. Wherever possible, communicate using maps, photographs, drawings and diagrams instead of text.</p>

<p>The TA should be clear, simple and complete enough for a borough planning committee or member of the public to understand all transport impacts.</p>

<p>You can reproduce or reference things from other parts of the planning application, like the design and access statement. But, be clear and specify sources, pages and sections so we can easily find them. The clearer you are, the more effectively and quickly we can respond.</p>

<p>Appendices should only include technical background information, not any separate drawings, data or documents which are essential to assessing your planning application.</p>

<p>Don't produce lots of separate documents about transport for your planning application. Instead, try to include all the essential information on transport impacts in our Healthy Street TA format.</p>

<h2>What happens next</h2>

<p>You may get further guidance from us if your proposed development could involve any <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations">planning obligations </a>related to transport or <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/highway-works">highway works</a>. At the same time, the local borough may assess your application using our Healthy Streets Check for Planning Assessment (launching in summer 2019). This tool helps public officers with <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero</a>&nbsp;and the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a>.</p>

<p>Our responses to you and the local borough show which policies in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>&nbsp;and <a href="https://www.london.gov.uk/what-we-do/planning/london-plan">London Plan</a> are relevant to the transport issues and impacts in your TA. We may dispute parts of your assessment and request more work from you before the application progresses.</p>

<p>The content and chapters in our Healthy Streets TA format match up with transport related policies in the London Plan as well as common outcomes including&nbsp;<a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations">planning obligations</a>. <a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Our resources</a>&nbsp;have guidance showing this relationship and other useful information.</p>

<p>After assessing your application, there's two basic types of improvement we may suggest &#45; changes and mitigation.</p>

<h3>Changes</h3>

<p>Could include:</p>

<ul>
	<li>More cycle parking</li>
	<li>Less or no car parking</li>
	<li>New pedestrian crossing(s) to help people get from your new development to local bus stop(s)</li>
	<li>Better conditions for cyclists getting to our <a href="/modes/cycling/routes-and-maps">local cycle routes </a></li>
	<li>Entrances and exits for people and vehicles in different locations or with different features, to increase safety and make active travel easier</li>
</ul>

<h3>Mitigation</h3>

<p>Could include:</p>

<ul>
	<li>Financial contributions to increase the frequency and capacity of local public transport services</li>
	<li>Restrictions on the amount and type of new development until certain transport and travel conditions are met</li>
	<li>Management strategies designed to make travel, deliveries and servicing at the new development happen in a certain way when it's constructed and once it's occupied</li>
</ul>

<h2>Contact us</h2>

<p>Email <a href="mailto:spatialplanning&#64;tfl.gov.uk">spatialplanning&#64;tfl.gov.uk</a> if you have any questions.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/our-approach-to-assessment">Our approach to assessment</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments">Transport Assessments</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/trip-generation">Trip generation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations">Planning obligations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/highway-works">Highway works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/freight">Freight</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/travel-plans">Travel plans</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Use our Transport Assessment format to produce a TA for developments which create significant movements.";}
        
            
        


 