
    
  



@{ViewBag.Title = "Travel plans";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/transport-assessment-guide/travel-plans";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></li>
                
            
            
                <li><span class="last-breadcrumb">Travel plans</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Travel plans</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Travel plans should use transport impacts to identify targets and create measures to encourage sustainable and active travel. We'll release new travel plan guidance and tools in 2019.
        
      </div>
    
    
      <h2>Guidance</h2>

<p>Travel plans are long term management strategies which should support sustainable and active travel at both new and existing developments.</p>

<p>Our current guidance on travel plans for new developments in London was released in 2013.</p>

<p>The guidance is split into four sections:</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/benefits-of-a-travel-plan.pdf">
    <div class="document-download-text">
        <p>The benefits of a travel plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/what-a-travel-plan-should-contain.pdf">
    <div class="document-download-text">
        <p>What a travel plan should contain</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 112KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/how-we-secure-and-enforce-travel-plan-targets.pdf">
    <div class="document-download-text">
        <p>How we secure and enforce travel plan targets</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 164KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/how-we-monitor-the-progress-of-travel-plans.pdf">
    <div class="document-download-text">
        <p>How we monitor the progress of travel plans</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/our-approach-to-assessment">Our approach to assessment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments">Transport Assessments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/trip-generation">Trip generation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations">Planning obligations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/highway-works">Highway works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/freight">Freight</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/travel-plans">Travel plans</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/urban-planning-and-construction/guidance-for-applicants" class="plain-button">Transport assessment guidance</a>
<a href="/corporate/about-tfl/the-mayors-transport-strategy" class="plain-button">The Mayor's Transport Strategy</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/publications/national-planning-policy-framework--2" class="plain-button">National Planning Policy Framework</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how to create a travel plan to support sustainable and active travel. ";}
        
            
        


 