


@{ViewBag.Title = "Bringing step-free access to Elizabeth line stations";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bringing step-free access to Elizabeth line stations</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bringing step-free access to Elizabeth line stations</h1>
        <div class="content-page-press-release">
        22 June 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Maryland, Manor Park and Seven Kings stations to receive new lifts and walkways before Elizabeth line services commence
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm determined to make London a fairer city, open and accessible to all, and one where we improve the support for those less able to get around London"</div>
        <div class="quote-footer">
            <div class="quotee-name"> Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Transport for London (TfL) has awarded a contract to deliver step-free access at three stations as part of major station improvements ahead of Elizabeth line services commencing in December 2018.</p>
<p>Maryland, Manor Park and Seven Kings stations will become fully accessible. It was confirmed in 2014 that all 40 stations on the Elizabeth line route will have step-free access.</p>
<p>The station improvements will include new lifts, walkways and footbridges to Seven Kings and Manor Park stations. Maryland ticket hall will also be remodelled as part of the improvements to the stations currently served by TfL Rail, which will become part of the Elizabeth line in 2018. Customers at these stations are already benefiting from having staff present from first to last train.</p>
<p>The upgrade of these stations is part of TfL's work on the eastern section of the new Elizabeth line route between Liverpool Street and Shenfield. This work will ensure that the network is accessible for all when it is fully operational, linking east London and Essex with the West End, west London and Berkshire.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'I'm determined to make London a fairer city, open and accessible to all, and one where we improve the support for those less able to get around London. My team are working on a more ambitious approach to improving step-free access in our stations, and I am very pleased that passengers using Maryland, Manor Park or Seven Kings are going to benefit from major improvements to their stations ahead of the launch of the new Elizabeth line services.'</p>
<p>Emily Ball, TfL's Accessibility and Station Upgrade Manager, said: </p>
<p>'These works mark the next stage of the ongoing TfL station improvements programme that will transform stations on the Elizabeth line route. Once these works are complete, customers using Maryland, Manor Park and Seven Kings will enjoy step-free access and new station facilities.'</p>
<p>HOCHTIEF will deliver the station improvements, with work on site starting later this summer. Step-free access is expected to be available at the stations from late 2017. Major Network Rail work to upgrade stations and track is also ongoing at stations along the TfL Rail route to prepare the existing railway for the Elizabeth line.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>From May 2017, new fully accessible, walk-through trains will be introduced on the TfL Rail route between Liverpool Street and Shenfield.</li>
    <li>All platforms and trains across the Elizabeth line will be fully accessible with step-free access and manual boarding ramps at stations where it is not possible to provide level boarding.</li>
    <li>The Elizabeth line will serve 40 stations, linking Reading and Heathrow in the west, to Shenfield and Abbey Wood in the east, with 21km of new twin-bore tunnels under central London.</li>
    <li>It is anticipated that over 200 million people will travel on the Elizabeth line every year.</li>
    <li>A huge range of improvements have already been made to transform transport accessibility across the Capital, including the introduction of manual boarding ramps and a turn up and go service, wide aisle gates, tactile paving and raised platform sections to give level access to the train on both the London Overground and London Underground network.</li>
    <li>There are now 66 Tube stations and 57 London Overground stations with step-free access. All DLR stations are step-free.</li>
    <li>London's bus fleet is the most accessible fleet in the world &#45; with all 9,000 buses low-floor wheelchair accessible and fitted with ramps which are checked daily to ensure they are working.</li>
    <li>All 22,000 of London's taxis are fitted with wheelchair ramps.</li>
    <li>All London River Service piers have step-free access. Newer river boats have dedicated spaces for wheelchair users and accessible toilet facilities.</li>
    <li>The contract to deliver step-free access at Maryland, Manor Park and Seven Kings stations has been awarded to HOCHTIEF.</li>
    <li>HOCHTIEF has extensive experience of delivering major rail projects including the Crossrail Thames Tunnel and Network Rail's Reading station area upgrade. HOCHTIEF is also currently delivering parts of the Great Western Electrification Programme between Swindon and Bristol.</li>
</ul>
<p>For further details, visit <a href="http://www.hochtief.co.uk">www.hochtief.co.uk</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-June-Bringing step-free access to Elizabeth line stations -->

 
 
        
        
            @{ViewBag.Description = "Contract awarded to bring step-free access to Maryland, Manor Park and Seven Kings stations";}
        
        


 