


@{ViewBag.Title = "Iconic transport typeface updated for the digital age ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Iconic transport typeface updated for the digital age </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Iconic transport typeface updated for the digital age </h1>
        <div class="content-page-press-release">
        14 June 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Launch of digital friendly version of the typeface, Johnston100
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope this version of the 'lettering of London' for the digital age, will last for another 100 years and beyond"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jon Hunter</div>
            <div class="quotee-job-title">Head of TfL Design</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Updated version fit for purpose in environment where digital is as strong as print</li>
    <li>One of the world's longest lasting examples of corporate branding</li>
</ul>
<p>After 100 years of helping Londoners navigate their city, the iconic Johnston typeface is being updated for the digital age, complete with hashtag (#) and at (&#64;) symbols for the first time.</p>
<p>As TfL's presence expands beyond stations to digital mediums including apps and social media, the updated typeface known as Johnston100 contains subtle changes to make it fit for purpose in the 21st century. This includes never-before designed symbols, such as # and &#64;, which are now widely used in an environment where digital communications are as important as print.</p>
<p>Commissioned by London Transport's Manging Director, Frank Pick in 1913 and designed by calligrapher Edward Johnston, the font was introduced in 1916, bringing visual uniformity to London's transport network. The typeface, known as Johnston Sans has been in use from then until the present day and is used to spell all words across the entire transport network.</p>
<p>The key reason for its ongoing popularity is the clean modern simplicity of the letters, which were in sharp contrast to the calligraphy flourishes popular at the time. While the typeface was revised in the 1970s by Eicchi Kono, the new version has been updated for the digital age.</p>
<p>The release of Johnston100 coincides with TfL and London Transport Museum's 'Transported by Design' programme, supported by Exterion Media, marking the impact of design on the transport network with a series of exhibitions, events and merchandise. This year marks the centenary of the original Johnston typeface. Recently eleven world-renowned designers and creative agencies including Monotype, Alan Kitching and Thomas Matthews were asked to create a poster marking this anniversary. The series can now be seen across the Underground network until the end of June, with limited edition posters on sale from London Transport Museum shop and other retailers through Pyramid Posters.</p>
<p>Jon Hunter, Head of TfL Design, said: </p>
<p>'Over the past 100 years Frank Pick's vision and Edward Johnston's typeface has served London well.  TfL is committed to protecting this legacy and over the years we've worked closely with designers such as Eicchi Kono and most recently Monotype Type, to make subtle changes to the typeface.</p>
<p>'Releasing the updated Johnston100 typeface is an important step forward. This will start appearing across the network later this year in a number of guises and we plan to announce the first place it can be seen on the Underground very soon. We hope this version of the 'lettering of London' for the digital age, will last for another 100 years and beyond.'</p>
<p>Nadine Chahine, Director Monotype Type, said: </p>
<p>'The philosophy of the Johnston design is consistent throughout, and in such a way, the typeface was versatile enough that it could sustain all of these different fashions and usages that have come in the last 100 years. It was very important to TfL that we add the extra-thin weights, because of today's digital trends. It's a technical skill, and it's also a testament of technology, in that it is able to render and print very delicate lines. We were able to capture the contemporary trend and the fashion of having something very light and very elegant, but because we are still using the original structures, we were able to maintain the soul of the typeface.'</p>
<p>Claire Williamson, Assistant Director for London Transport Museum, said: </p>
<p>'The name Edward Johnston may not be familiar to many people, but everybody will have seen his iconic lettering across the public transport system.</p>
<p>'It's fantastic that the Johnston typeface has been updated for our digital age. His enduring influence on London is the mark of great timeless design.</p>
<p>'People wanting to learn more about this famous typeface should visit our latest Designology exhibition at London Transport Museum or go on a Johnston Journeys tour at our Museum Depot in West London.'</p>
<p>London Transport Museum has created a range of Edward Johnston inspired products and gifts to celebrate 100 years of the Edward Johnston typeface. For more information go to <a href="http://www.ltmuseumshop.co.uk">www.ltmuseumshop.co.uk</a></p>
<p>&nbsp;</p>
<hr />
<p>For more information about Johnston and Johnston100 go to&nbsp;<a href="https://tfl.gov.uk/campaign/transported-by-design?cid=transportedbydesign">https://tfl.gov.uk/campaign/transported-by-design?cid=transportedbydesign</a>&nbsp;<a href="http://www.ltmuseum.co.uk/whats-on/">http://www.ltmuseum.co.uk/whats-on/</a> </p>
<p>Notes to Editors:</p>
<ul>
    <li>The Ditchling Museum of Art &amp; Craft, founded by Edward Johnston is holding an exhibition of Johnston's typeface work until 11 September 2016. For more information go to&nbsp;<a href="http://www.ditchlingmuseumartcraft.org.uk/">http://www.ditchlingmuseumartcraft.org.uk/</a>&nbsp;</li>
    <li>Johnston Journey tours at London Transport Museum Depot in west London are perfect for design lovers. The tours across various dates explore the Museum's collection to see how Edward Johnston's typeface has been applied over the last century. The Johnston Journeys tours have been made possible by the generous support of the Heritage Lottery Fund. To book a tour, go to <a href="http://www.ltmuseum.co.uk/whats-on/museum-depot/guided-tours">http://www.ltmuseum.co.uk/whats-on/museum-depot/guided-tours</a></li>
    <li>London Transport Museum is situated in the heart of Covent Garden and filled with stunning exhibits; the Museum explores the powerful link between transport and the growth of modern London, culture and society since 1800. Historic vehicles, world-famous posters and the very best objects from the Museum's extraordinary collection are brought together to tell the story of London's development and the part transport played in defining the unique identity of the city.</li>
    <li>The Museum is an educational and heritage preservation charity.  Its purpose is to conserve and explain the history of London's transport, to offer people an understanding of the Capital's past development and to engage them in the debate about its future. The Museum's charity number is 11231.</li>
    <li>The Transported by Design Festival on Sunday 3 July, which is supported by the Regent Street Association and The Crown Estate, is part of TfL's eighteen-month Transported by Design programme, which is organised in partnership with London Transport Museum and sponsored by Exterion Media.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-June-Iconic transport typeface updated for the digital age  -->

 
 
        
        
            @{ViewBag.Description = "Iconic transport typeface updated for the digital age ";}
        
        


 