


@{ViewBag.Title = "Road casualties in London continue to fall, but concerns remain about motorbike collisions";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Road casualties in London continue to fall, but concerns remain about motorbike collisions</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Road casualties in London continue to fall, but concerns remain about motorbike collisions</h1>
        <div class="content-page-press-release">
        30 June 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has published its annual Casualties in Greater London report, which shows that the number of people killed or seriously injured on London's roads fell by three per cent in 2015 to the lowest number since records began and by 42 per cent on the 2005-09 baseline for which road safety progress is measured.</p>
<p>Overall, the number of people killed or seriously injured fell from 2,167 to 2,092, with London on course to have reduced such incidents by 50 per cent by 2020. There were 84 fewer serious injuries (2,040 to 1,956) in 2015 compared to 2014, however there was a seven per cent rise in fatalities (from 127 to 136). Despite this, overall fatalities have decreased 36 per cent on the 2005-09 baseline.</p>
<p>Cyclist safety improved significantly in 2015, with fatal and serious injuries involving cyclists falling by 10 per cent, and four fewer cyclist fatalities compared to 2014 (nine fatalities down from 13).</p>
<p>The number of pedestrians killed or seriously injured decreased by six per cent, also to the lowest level on record, however there were two more fatalities for this vulnerable user group compared to the previous year (66 up from 64).</p>
<p>Despite overall trends of improved road safety for most road user groups, 2015 saw a concerning increase in the number of motorcyclist fatalities and serious injuries with nine more riders dying in road collisions compared to the previous year (36 up from 27). However the longer-term trend of motorcyclists killed or seriously injured is still down, having fallen by 32 per cent since 2005-09.</p>
<p>TfL launched the first Motorcycle Safety Action Plan in 2014, and is working with its partners, including the police and the Motorcycle Industry Association, to maximise the impact of the programme. This includes funding for accredited motorcycle training centres, one-to-one training for motorcycle commuters and improving street design for motorcyclists with the UK's first Urban Motorcycle Design Handbook. TfL's ongoing motorcycle safety marketing campaign is also helping to tackle the main cause of fatal collisions, which is `travelling too fast for the conditions'.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `We are making good progress in reducing death and serious injury on our roads and meeting our target of a 50 per cent reduction by 2020. However, there remains an enormous amount to do and we are, in particular, deeply concerned about the rise in the number of fatal collisions involving motorcyclists.  We are taking a range of actions to tackle this, including working with the Motorcycle Industry Association, funding for accredited training centres and one-to-one motorcycle commuter training, and improving street design for motorcyclists.'</p>
<p>TfL's road safety strategy, as set out in Safe London Streets: Our Approach, is focused on tackling the five key sources of road dangers which include; travelling too fast, distractions, carrying out risky manoeuvers, driving under the influence of drink or drugs and failing to comply with the laws of the road. Achieving this will help to halve the number of people killed or seriously injured on London's streets by 2020.</p>
<p>As part of TfL's drive to improve road safety awareness within the Capital, it has updated its London Collision Map with the latest road casualty data, which can be found at tfl.gov.uk/corporate/safety-and-security/road-safety/london-collision. By looking at the map, which has records dating back to 2005, road users can easily search for information about where and when collisions most occur.</p>
<p>Ends</p>
<p>Notes to Editors:<br />1.	Full Casualties in Greater London 2015 report can be found in the 'Facts Sheet' section here: <a href="http://Transport for London (TfL) has published its annual Casualties in Greater London report, which shows that the number of people killed or seriously injured on London's roads fell by three per cent in 2015 to the lowest number since records began and by 42 per cent on the 2005-09 baseline for which road safety progress is measured. ">tfl.gov.uk/corporate/publications-and-reports/road-safety</a><br />2.	TfL's London Collision Map can be found here: <a href="http://Transport for London (TfL) has published its annual Casualties in Greater London report, which shows that the number of people killed or seriously injured on London's roads fell by three per cent in 2015 to the lowest number since records began and by 42 per cent on the 2005-09 baseline for which road safety progress is measured. ">tfl.gov.uk/corporate/safety-and-security/road-safety/london-collision</a><br />3.	Safe London Streets: Our Approach can be found here: <a href="http://Transport for London (TfL) has published its annual Casualties in Greater London report, which shows that the number of people killed or seriously injured on London's roads fell by three per cent in 2015 to the lowest number since records began and by 42 per cent on the 2005-09 baseline for which road safety progress is measured. ">content.tfl.gov.uk/safe-london-streets-our-approach.pdf</a><br />4.	TfL's Cyclist, Pedestrian and Motorcycle Safety Action Plans can be found here: <a href="http://Transport for London (TfL) has published its annual Casualties in Greater London report, which shows that the number of people killed or seriously injured on London's roads fell by three per cent in 2015 to the lowest number since records began and by 42 per cent on the 2005-09 baseline for which road safety progress is measured. ">tfl.gov.uk/corporate/publications-and-reports/road-safety</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-June-Road casualties in London continue to fall, but concerns remain about motorbike collisions -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 