


@{ViewBag.Title = "Santander Cycles line up at Mr Porter London Nocturne this Saturday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Santander Cycles line up at Mr Porter London Nocturne this Saturday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Santander Cycles line up at Mr Porter London Nocturne this Saturday</h1>
        <div class="content-page-press-release">
        02 June 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Third annual Santander Cycles race as part of the evening cycling festival
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're pleased to be back for our third year at London Nocturne, one of the most exciting events on London's cycling calendar, and I wish all the participants the best of luck"</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Cowperthwaite</div>
            <div class="quotee-job-title">TfL's General Manager of Santander Cycles</div>
        </div>
</div>

 <div class="on-this-page">
<p>Returning for a third year, Santander Cycles will be lining up at the Mr Porter London Nocturne cycling festival this Saturday, with cyclists representing TfL and Serco, the scheme service provider, as well as last year's runners up and a group of competition winners taking part.</p>
<p>The 2016 event is taking place on a new exciting 1.5 kilometre circuit &#45; 400m longer than previous years - in the heart of the City, with the finishing line located along Cheapside and St Paul's Cathedral in the background. Around thirty cyclists will be lining up on Santander Cycles for the race.</p>
<h2>50 million hires</h2>
<p>Paul Cowperthwaite, TfL's General Manager of Santander Cycles, said: 'Santander Cycles are one of the easiest and fastest ways to make short journeys around London and we've just passed the 50 million hires mark so is also a very popular way to travel, for work or leisure.</p>
<p>'We're pleased to be back for our third year at London Nocturne, one of the most exciting events on London's cycling calendar, and I wish all the participants the best of luck.'</p>
<p>Participating in the London Nocturne cycling festival helps to raise the profile of Santander Cycles and encourage those interested in cycling to consider using the cycle hire bikes for short trips around London, for work or leisure.</p>
<h2>Olympic Champion</h2>
<p>In addition to the Santander Cycles race, the London Nocturne race programme will include a Folding Bike and Penny Farthing Race, building up to the main elite races with the men's Criterium, which was won by Olympic Champion Ed Clancy last year, against hotly contested between the UK's top professional teams and guest international riders.</p>
<p>Double Olympic Champion, Ed Clancy MBE, said: 'It was fantastic to win the race last year so we will definitely be looking to repeat that again in 2016'. </p>
<p>'The new course looks interesting and technical so should make an exciting race. The Nocturne is always a great atmosphere so the team are looking forward to it.'</p>
<h2>Time to Cycle</h2>
<p>Between the races, visitors will be able to visit the expo areas around the course where TfL's Time to Cycle stand will be staffed to answer questions and provide information on the range of cycling initiatives available, including Cycle Skills sessions for both adults and families, updates and tips on the latest cycling infrastructure in London and Santander Cycles.</p>
<p>Visitors will be able to take part in fun games and quizzes to test their cycling knowledge and win some great prizes.</p>
<p>Santander Cycles, the second largest cycle hire scheme in Europe, can be hired from as little as &pound;2.00, or 25p per day on a yearly membership.</p>
<p>There is no need to book, the bikes are self-service and can be hired, ridden and returned to any of the 760 docking stations across 100km2 footprint of London.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-June-Santander Cycles line up at Mr Porter London Nocturne this Saturday -->

 
 
        
        
            @{ViewBag.Description = "Third annual Santander Cycles race as part of the evening cycling festival";}
        
        


 