


@{ViewBag.Title = "TfL & Twitter launch world's first travel tweet alerts";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL & Twitter launch world’s first travel tweet alerts</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL & Twitter launch world’s first travel tweet alerts</h1>
        <div class="content-page-press-release">
        09 June 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pilot of new information service to provide live notifications of severe delays directly to customers' mobiles or computers to alert them more quickly
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is an innovative way of providing people with live updates from the Underground and contributes to my goal of making it as easy as possible to get around the capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>First time that Twitter has partnered with a transport authority to provide live travel information to customers using this innovative approach</li>
</ul>
<p>Transport for London (TfL) and Twitter today (9 June) began piloting a world-first service whereby customers will be automatically alerted of severe delays on key London Underground and TfL rail services as soon as they occur, helping them to avoid disruption.</p>
<p>The innovative pilot, developed exclusively with Twitter, will allow anyone who follows any combination of four existing TfL Twitter feeds (London Overground, TfL Rail, Central line and District line) to be able to opt-in to receive instant notifications about severe disruption.</p>
<p>Currently, obtaining live travel information via Twitter means having to visit the relevant account or searching through your timeline for the latest tweets. This pilot will, for the first time, allow notifications to be sent straight to customers' mobile devices while they are on the go, or direct to their computer, free of charge as a 'Direct Message'. This will mean that customers can be informed straight away and avoid disruption.</p>
<p>To opt in, customers just need to visit <a href="http://tfl.gov.uk/twitter-alerts">http://tfl.gov.uk/twitter-alerts</a> and select the lines for which they would like information. They can also tailor their notifications by selecting the time periods that they would like to receive alerts, meaning they can avoid unnecessary alerts outside of commuting hours or at weekends if they don't need them.</p>
<p>This is the first time that Twitter has partnered with a transport authority to provide live travel information in this way. TfL will be assessing feedback from the pilot over the summer and, dependent on customer feedback, the service could be extended to other TfL Twitter feeds and used to alert drivers of disruption on key road corridors.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'Like every Londoner I rely on public transport to get me around and this world-first service looks set to become an essential tool for millions of Tube passengers. It is an innovative way of providing people with live updates from the Underground and contributes to my goal of making it as easy as possible to get around the capital.'</p>
<p>Phil Young, Head of Online at TfL, said: </p>
<p>'The reliability of TfL services is at a record high, but disruption does sometimes occur. Getting the latest travel information direct to customers when and where they want it is key to enabling them to avoid delays. Millions of Londoners use apps powered by our free open data, alongside our website, to check the Tube, find a bus or see how the roads are running and this world-first partnership with Twitter is a fantastic way of ensuring our data helps keep our customers informed.'</p>
<p>Dara Nasr, Managing Director, Twitter UK, said: </p>
<p>'Twitter is used by millions of Londoners every day to get live travel updates. We're incredibly excited to be partnering with TfL to make it more simple and convenient for commuters to receive important news about their journey. Up to the minute information around severe disruption is a daily must-have for everyone, and the live nature of Twitter is the perfect companion for this.</p>
<p>'Whether you're on Twitter already or thinking about joining, we would urge you to try this new service out as it will prove essential in avoiding delays. We're committed to continuing to make Twitter the simplest everyday utility to access key public information, be that transport or beyond.'</p>
<p>The pilot with Twitter is part of TfL's wider work to make information freely and openly available to developers to assist them in creating better products and services more quickly. The data is being provided through TfL's Unified Application Programme Interface (API), which allows developers to have the latest travel information about all TfL services, as well as additional information about road conditions, speed limits and collision data.</p>
<p>Around 8,200 developers are registered for TfL's Unified API, with more than 2,000 new developers signed up to access live information in the last six months. As smartphone usage for travel information continues to increase, almost 500 apps are directly powered by this open data, providing Londoners with up-to-the-minute information about public transport and the road network.</p>
<p>Last month, TfL added a favourites function to <a href="http://tfl.gov.uk">tfl.gov.uk</a>, making it easier for customers to personalise their travel information. Customers just need to go to <a href="http://tfl.gov.uk">tfl.gov.uk</a> and click or tap on the star in the top right corner of the screen. This will bring up a favourites menu which will allow people to save their most frequently used Tube lines, tram line or river bus line, as well as receive details about major roads, bus routes or specific bus stops. These services will then be prioritised on the <a href="http://tfl.gov.uk">tfl.gov.uk</a> homepage so customers can quickly check the status of their most frequently used line or route more easily.</p>
<p>Further improvements to the website will be made throughout the year, including the ability to 'favourite' specific journeys so customers can tell if there is any disruption along their regular routes. Improvements are also planned for the Oyster and Contactless payment account webpages to help make it easier for people to register their cards and get information about their recent journeys.</p>
<p>For more information about how TfL is working to deliver improvements for customers, please visit <a href="http://www.tfl.gov.uk/developers">www.tfl.gov.uk/developers</a> and <a href="http://blog.tfl.gov.uk">http://blog.tfl.gov.uk</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-June-TfL & Twitter launch world’s first travel tweet alerts -->

 
 
        
        
            @{ViewBag.Description = "TfL and Twitter join forces to launch world’s first travel tweet alerts";}
        
        


 