


@{ViewBag.Title = "Keeping London's pavements welcoming and accessible";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Keeping London’s pavements welcoming and accessible</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Keeping London’s pavements welcoming and accessible</h1>
        <div class="content-page-press-release">
        03 May 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL successfully prosecutes two businesses for obstructing pavements
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are continuing to work with boroughs, businesses, disability groups and schools to help make London the most walkable city in the world"</div>
        <div class="quote-footer">
            <div class="quotee-name">Siwan Hayward</div>
            <div class="quotee-job-title">Head of Transport Policing, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>More than 2,000 obstructions have been removed from pavements since TfL's Operation Clearway began in March 2015</li>
    <li>The operation ensures pavements are kept free from clutter that could cause injury to pedestrians</li>
</ul>
<p>As part of a programme to make it easier, more welcoming and enjoyable to walk around London, more than 2,000 pavement obstructions have been removed in the last two years, Transport for London (TfL) figures show.</p>
<p>Last year two businesses, Eroma Caf&eacute;, 230 Holloway Road and Troyganic Caf&eacute; and Wine Bar, 132 Kingsland Road, were issued a series of warning letters and a total of four Fixed Penalty Notices for unlawfully obstructing the highway.</p>
<p>The two business owners failed to remove the obstructions despite repeated demands and both were prosecuted and found guilty of highway obstruction at Lavender Hill Magistrates' Court on 27 April 2017, fined a total of &pound;660, ordered to contribute &pound;2,400 towards the costs of prosecution and to pay a victim surcharge of &pound;90.<sup>1</sup></p>
<p>Launched in March 2015, Operation Clearway seeks to clear pavements from clutter and make it easier for everyone to walk around the capital, particularly for older people and those with visual or mobility impairments.<br />
The operation involves officers visiting priority locations engaging with and educating local businesses about their responsibilities for keeping pavements clear and enforcing against those persistently blocking pavements.</p>
<p>Of the 2,142 obstructions reported by TfL's Road Traffic Enforcement Officers since the operation began, 85 per cent of businesses made the changes required following TfL's educational visits and warning letters, with just one per cent (17 businesses) prosecuted for wilfully obstructing a highway.</p>
<p>Siwan Hayward, TfL's Head of Transport Policing, said: </p>
<p>'We want everyone to enjoy walking and moving around our streets without having to navigate around unnecessary and annoying street clutter. Engagement is the main focus of Operation Clearway and we are delighted to see so many businesses support our objectives and help clear pavements.</p>
<p>'We are continuing to work with boroughs, businesses, disability groups and schools to help make London the most walkable city in the world.'</p>
<p>David Kent, Guide Dogs London Community Engagement Officer, said: </p>
<p>'For a blind person the pavement should be a place of sanctuary. If a visually impaired person is forced to leave the pavement to avoid an obstacle and go into the road, their safety is immediately compromised. London's streets are challenging enough, so this move is extremely encouraging for our clients' safety.'</p>
<p>Nicola Stokes, spokesperson from East London Vision, said: </p>
<p>'So many vision impaired people want to get out and about but don't feel confident that they'll be able to navigate the streets unaided because of street furniture. It's great that TfL is taking this issue seriously, and hopefully Operation Clearway will see our pavements become more accessible for all of us.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>&nbsp;</p>
<ul>
    <li><sup>1</sup>Full details of businesses prosecuted:</li>
</ul>
<ul>
    <li>Mr Hassan Basal, owner of Eroma Caf&eacute;, 230 Holloway Road, London was convicted of placing a table and two chairs on the highway on the 5 October 2016. Despite warnings and engagement, the business continued to obstruct the pavement, failed to pay two fixed penalty notices and was subsequently prosecuted. The business was ordered to pay a fine of &pound;220, court costs of &pound;800 and a &pound;30 victim surcharge.</li>
</ul>
<ul>
    <li>Mr Abdullah Pisiren, licensee and owner of Troyganic Caf&eacute; and Wine Bar, 132 Kingsland Road, London, was convicted on two counts of placing a number of advertising boards on the highway on the 26 September 2016 and the 13 December 2016. Despite warnings and engagement, the business continued to obstruct the pavement, failed to pay a total of two fixed penalty notices and was subsequently prosecuted. The business was ordered to pay a total fine of &pound;440, court costs of &pound;1,600 and a &pound;60 victim surcharge.</li>
</ul>
<ul>
    <li>Since Operation Clearway launch in 2015, 889 warning letters and 325 fixed penalty notices have been issued.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-May-Keeping London’s pavements welcoming and accessible -->

 
 
        
        
            @{ViewBag.Description = "Keeping the Capital’s pavements welcoming and accessible for all";}
        
        


 