


@{ViewBag.Title = "New facilities management contracts to deliver savings";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New facilities management contracts to deliver savings</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New facilities management contracts to deliver savings</h1>
        <div class="content-page-press-release">
        03 May 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL expects to save &pound;34m with contract consolidation<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are looking forward to working with our suppliers on these new contracts and by consolidating the existing arrangements, our facilities will be managed in a more efficient and cost-effective way"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Wylie</div>
            <div class="quotee-job-title">Chief Procurement Officer, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New contracts will mean suppliers will also offer apprenticeships, pay the London Living Wage and have a plan to address equality and diversity</li>
</ul>
<p>Transport for London (TfL) has today announced its intention to award five of six new contracts to manage TfL facilities, delivering savings of &pound;34 million.</p>
<p>The savings have been made possible by consolidating 50 contracts into just six, and is part of TfL's wider approach to delivering the Mayor's ambitious plans for improved transport in the Capital. This includes becoming more efficient through the biggest ever overhaul of the organisation and continuing to reduce operating costs.</p>
<p>The contracts include a commitment for all employees to be paid the London Living Wage as well as the creation of an additional 300 apprenticeship positions throughout the life of the six contracts. TfL is committed to making sure that it represents the city that it serves and increasing diversity within the transport industry to encourage further innovation. As part of the procurement process, all of the bidders were required to submit an Equality and Diversity Plan and will be tracked on their delivery of this plan throughout the contract.</p>
<p>TfL intends to award the five contracts to Engie Services Limited, Interserve Facilities Management Limited, Lanes Group plc and Vinci Construction UK Limited. The new contracts, which have a total value of &pound;320m, will last for five years with the option to extend them for a further three. The suppliers will be responsible for the provision of services and the management of TfL facilities, including fire protection, mechanical and electrical facilities, such as power and water, buildings maintenance, and security and reception services. A sixth contract, which will be for cleaning, is expected to be awarded in the summer.</p>
<p>David Wylie, Chief Procurement Officer at TfL, said: &quot;We are looking forward to working with our suppliers on these new contracts and by consolidating the existing arrangements, our facilities will be managed in a more efficient and cost-effective way. We are committed to making sure that our organisation is representative of the customers that it serves and inspiring the next generation into the transport industry. These new contracts reaffirm how both TfL and our suppliers consider skills and equality and diversity to be key priorities that we need to deliver on.&quot;</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The new contract that relates to Security and Reception goes live on 8 June 2017 at 19:00. The other four contracts that have been awarded go live on 24 June 2017 at 00:00. The sixth contract that relates to the cleaning of our facilities will be awarded in the summer.</li>
    <li>TfL has a dedicated Supplier Skills programme, which works with TfL's suppliers to facilitate the creation of skills and employment opportunities, such as apprenticeships for new or existing employees. Since 2009, TfL, its suppliers, Crossrail and the London Transport Museum have employed more than 7,600 apprentices. For more information, visit <a href="https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills">https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-May-New facilities management contracts to deliver savings -->

 
 
        
        
            @{ViewBag.Description = "TfL brings together contracts for managing facilities to deliver savings of £34m";}
        
        


 