


@{ViewBag.Title = "Awards to celebrate the Capitals 999 cycle teams";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Awards to celebrate the Capitals 999 cycle teams</h1>
        <div class="content-page-press-release">
        24 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The hard work and dedication of London's emergency service cyclists were recognised on Thursday 23 February at Transport for London's (TfL) annual 999 London Cycling Awards at City Hall.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL is fully commited to increasing cycling by all Londoners, whether for commuting to work, policing the streets or saving lives
                            
                        </p>
                    </div>
                
            
            
            <p>Now in their third year, TfL's 999 London Cycling Awards celebrate excellence in London's police and ambulance cycling teams, by rewarding the commitment they show to Londoners, community relations and cycling in the Capital. </p>
<p>Londoners have taken to their bicycles in record numbers over the past five years, and that trend has been mirrored in the use of cycle teams by London's emergency services. </p>
<p>On London's busy streets, bicycles are often the fastest and most convenient way for the emergency services to chase offenders or rush to the aid of injured people. </p>
<p>TfL is working in partnership with the emergency services to make cycling an integral part of their front line services.</p>
<p>The Metropolitan and City Police forces, the London Ambulance Service and now St John Ambulance all have a growing number of serving police officers, traffic wardens, community support officers, paramedics and emergency medical technicians cycling the Capital's streets. </p>
<p>Ken Livingstone, Mayor of London, said: "I would like to congratulate London's emergency service cyclists for their dedication, commitment and professionalism. </p>
<p>"Not only are they helping protect Londoners by providing speedy responses to emergency calls, they are also a great role model for cycling in the capital."</p>
<p>Peter Hendy CBE, Commissioner of Transport for London, said: "The use of cycles by London's police and ambulance services is proving to be invaluable. TfL is fully commited to increasing cycling by all Londoners, whether for commuting to work, policing the streets or saving lives.</p>
<p>"Cycling is becoming much more popular. We have already seen the number of cycle journeys double on London's roads during the past five years, and with the Capital gearing up to host the start of the Tour de France next year, there has never been a better time to cycle."</p>
            <ul>
<li>TfL is working in partnership with the emergency services to make cycling an integral part of their front line services 
</li><li>The 999 teams act as excellent role models for Londoners in the use of bicycles while respecting the law and road safety 
</li><li>The Transport Operational Command Unit (TOCU) cycling team deals with congestion incidents, crime and anti-social behaviour on buses, and illegal parking in bus lanes, box junctions and loading bays to ensure the efficient use of road space 
</li><li>The number of recorded cycle journeys on London's major roads have risen by 100 percent during the past five years (59,000 to 119,000 recorded journeys a week) 
</li><li>Investment in cycling has risen during the past five years from &pound;5.5m in 2000 to &pound;20m in 2005/06 
</li><li>In 2006/07 TfL will invest &pound;24m in cycling infrastructure, training, promotion and education 
</li><li>The number of cyclists killed or seriously injured on the Capital's roads has fallen by 40 per cent during the past five years, achieving the Mayor of London's target five years ahead of schedule 
</li><li>A list of the awards and the winners follows 
</li><li>Photographs of the winners will be available from 12:00 on Friday 24 February, from <a href="http://www.constructionphotography.com/clients/tfl">www.constructionphotography.com/clients/tfl</a> 
</li><li><strong>Police Cycling Award</strong><br>Awarded to a cyclist or cycle team from London's police services who has demonstrated excellence through the use of bicycles in police work. 
<ul>
<li>PC Simon Magaw, Metropolitan Police 
</li><li>Achievements<br>Enthusiasm and dedication to role - cycling daily for last 2 years regardless of weather or conditions<br>Made more than 100 arrests, many for priority crime issues<br>Stopped and searched 343 people resulting in a large number of drugs, stolen property and weapons being seized<br>Daily presence on streets of City of Westminster has reassured the public and helped to establish a strong presence in the community<br>Assisted in running cycle training courses for other officers and mentoring new officers on cycle patrol<br>Established relationship with cycling community and policed high profile events</li></ul>
<li><strong>Cycling in the Ambulance Service Award <br></strong>Awarded to a cyclist or team from London's ambulance services who has demonstrated excellence in meeting London's emergency healthcare needs through the use of the bicycle 
<ul>
<li>Mick Hampson, London Ambulance Service<br>Effectively used cycle training skills to negotiate Heathrow terminal during busiest time of the year, arriving at scene within two minutes <br>Established safe position and environment for patient and bystanders, then administered CPR and used portable defibrillator for resuscitation of patient who had stopped breathing<br>Called for ambulance crew and maintained resuscitation effort until pulse had returned and ambulance crew arrived<br>The patient subsequently recovered and met Mick Hampson, the man who saved his life</li></ul>
</li><li><strong>999 London Cycling Award</strong><br>The top individual award, presented to the one individual from all 999 organisations who has done the most to develop cycling within their field of work 
<ul>
<li>PC Charlie Irvine, Metropolitan Police<br>Key to establishment and development of cycle patrol system in Newham<br>Became IPMBA Instructor and helped develop the MPS's own police cycle training programme<br>Established users group on MPS intranet to encourage best practice amongst cycle officers<br>Extensive involvement in and relationships with communities, including outreach in Bangladeshi community, recycling scheme of bicycles in Tower Hamlets, and the creation of a website for cycle officers that is used throughout the UK and which generated international interest<br>Implemented cycle patrols in Whitechapel Safer Neighbourhood team which have improved relations with the community and local youths, and developed a scheme to provide recovered cycles to local youths<br>Liaised with various cycling groups which has raised the profile of the team<br>His efforts have contributed to a higher quality response capability covering a larger area, reduction in crime, proactive and efficient patrols and improved relations with the MPS as well as with many communities and organisations<br>Actively involved in recruitment and public relations efforts for the MPS cycle patrol teams</li></ul>
</li><li><strong>Cycling in the Community Award</strong><br>Awarded to a cyclist or cycle team from all represented bodies who has demonstrated excellence in improving community relations through the use of the bicycle their profession 
<ul>
<li>PC Mike Surgett, City of London Police<br>Member of City Police's Snow Hill Cycle Team for two years<br>Created an innovative database for City commuters and residents to register cycle details, resulting in greater detection of cycle thefts and recovery of stolen bikes<br>Promoted the database to the community via cycle retailers<br>Its success caused City Police to use the national database Immobilise and inspired the creation of an intelligence-based database for City Police, which resulted in a greater detection of offences and a higher quality response to the needs of the local community<br>Became an IPMBA certified cycle instructor to train and develop the skills of the City Police Cycle Team<br>Developed and promoted safe cycling to external agencies in the community such as Customs & Excise and the Essex Police</li></ul>
</li><li><strong>999 Cycling Development Award<br></strong>Awarded to the organisation from all represented bodies that has done the most to develop cycling within their field of work 
<ul>
<li>London Ambulance Service (LAS)<br>All riders in their Cycle Response Unit (CRU) are trained to a standard of EMS Cycling, meaning that all Instructors, Mechanics and Events Planners are all qualified to the highest international standard<br>After a successful pilot project at Heathrow Airport, a permanent CRU is in place and is fully operational<br>They have increased support systems by introducing cycle parking facilities at various sites and pool bike schemes within LAS, and encouraged cycling as part of mainstream operations and to other LAS staff<br>They are looking to establish a CRU in the City in 2006<br>Greatly raised the profile of the ambulance cycle through involvement in public events, increasing public awareness and providing educational information and demonstrations<br>LAS CRU has served as a benchmark for the rollout of other cycle units, and has served as a model for the newly developed St John Ambulance London District cycle response unit<br>The LAS CRU was the idea of Tom Lynch, who has worked tirelessly since 2000 to get it off the ground <br>The development and success of the LAS CRU has not yet been properly recognised and special mention should go to Tom Lynch for his perseverance </li></ul></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Now in their third year, TfL's 999 London Cycling Awards celebrate excellence in London's police and ambulance cycling teams, by rewarding the commitment they show to Londoners, community relations and cycling in the Capital. Londoners have taken to their";}
        
        


 