


@{ViewBag.Title = "Consultation begins on proposed extension to route C1";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation begins on proposed extension to route C1</h1>
        <div class="content-page-press-release">
        28 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL today launched a consultation on the extension of route C1 from Victoria to Kensington.
        
    </div>



 <div class="on-this-page">
<p>TfL is proposing to extend the route through Olympia and the Blythe Road area to Shepherd's Bush and White City. </p>
<p>This will bring more people within reach of the bus network, and provide new direct links for the local community to White City, Shepherd's Bush, Kensington and Victoria.</p>
<p>The proposed new route will be:</p>
<ul>
<li>Towards Victoria: Shepherd's Bush, Shepherd's Bush Road, Blythe Road, Hazlitt Road, Sinclair Road, Maclise Road, Beaconsfield Terrace Road, Blythe Road, Hammersmith Road, Kensington High Street. Continuing as existing route C1 to Earl's Court, Sloane Square and Victoria </li>
<li>Towards Shepherd's Bush: From Victoria as existing route C1 via Sloane Square and Earl's Court to Kensington High Street. Then Hammersmith Road, Blythe Road, Dewhurst Road, Shepherd's Bush Road, Shepherd's Bush</li></ul>
<p>Leaflets explaining the proposal and inviting comments have been delivered to 4000 households in the Blythe Road area this week. People can respond to TfL by letter, email, phone or textphone.</p>
<p>London Buses Customer Services <br>4th floor, Zone G7, <br>Palestra, 197 Blackfriars Road, <br>London SE1 8NJ</p>
<p>Telephone: 0845 300 7000<br>Textphone: 020 7027 9914<br>Email: <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a></p>
<p>The consultation ends on 28 April 2006.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is proposing to extend the route through Olympia and the Blythe Road area to Shepherd's Bush and White City. This will bring more people within reach of the bus network, and provide new direct links for the local community to White City, Shepherd's";}
        
        


 