


@{ViewBag.Title = "East London Transit consultation - Ilford to Dagenham Dock station via Barking town centre";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>East London Transit consultation - Ilford to Dagenham Dock station via Barking town centre</h1>
        <div class="content-page-press-release">
        15 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 14 February 2006 to 13 April 2006, Transport for London (TfL) is consulting local residents, businesses and stakeholders on proposals for East London Transit (ELT) between Ilford and Dagenham Dock via Barking town centre.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            ELT will deliver fast, reliable journeys between town centres and transport interchanges
                            
                        </p>
                    </div>
                
            
            
            <p>ELT is a TfL project to upgrade the public transport network in the Thames Gateway area, north of the River Thames. </p>
<p>TfL is implementing the scheme in partnership with the London Borough of Barking and Dagenham and the London Borough of Redbridge.</p>
<p>This is a separate exercise from the recently completed consultation on the possible route options for a proposed later section of ELT between Barking town centre and Gallions Reach. <br><br>TfL is asking for views on a range of measures including the vehicles to be used, changes to road layouts and junctions and parking and loading restrictions. </p>
<p>These changes are necessary to achieve reductions in passengers' journey times. </p>
<p>This part of ELT is funded to construction as part of TfL's &pound;10bn 5-Year Investment Programme. </p>
<p>
<h2>Reliable journeys</h2>
<p>
<p>ELT will deliver fast, reliable journeys between town centres and transport interchanges, including the Underground, buses and National Rail services. <br><br>A brochure, including details of the proposals, is being sent to local residents, businesses and stakeholders. </p>
<p>TfL welcomes feedback from anyone who would like to express a view on ELT, particularly local residents, businesses and community organisations.</p>
<p>For information:</p>
<ul>
<li>Call 0800 783 0120<a href="http://www.tfl.gov.uk/elt"></a> 
</li><li>Go online at <a href="http://www.tfl.gov.uk/elt">www.tfl.gov.uk/elt</a> 
</li><li>Email TfL at <a href="mailto:elt&#64;tfl.gov.uk">elt&#64;tfl.gov.uk</a> 
</li><li>Send a letter to:<br>ELT Consultation Manager<br>Ilford to Dagenham Dock<br>Transport for London<br>FREEPOST NAT 22450<br>London SW1 0BR</li></ul>
            <ul>
<li>TfL consulted on the principle of the entire ELT scheme in 2001 and 82 per cent of those who responded were supportive of the project 
</li><li>Exhibition dates 
<ul>
<li><strong>Vicarage Field Shopping Centre, Barking (near Ripple Road entrance)</strong> 
</li><li>Thursday 9 March, 12:00 to 20:00 
</li><li>Friday 10 March, 12:00 to 20:00 
</li><li>Saturday 11 March, 11:00 to 17:00<br>
</li><li><strong>Exchange Mall Shopping Centre, Ilford (level 2 outside Woolworth's)</strong> 
</li><li>Thursday 16 March, 10:00 to 18:00 
</li><li>Friday 17 March, 10:00 to 18:00 
</li><li>Saturday 18 March, 11:00 to 17:00</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "ELT is a TfL project to upgrade the public transport network in the Thames Gateway area, north of the River Thames. TfL is implementing the scheme in partnership with the London Borough of Barking and Dagenham and the London Borough of Redbridge.This is a";}
        
        


 