


@{ViewBag.Title = "LU busker entertains the stars at BAFTA Awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU busker entertains the stars at BAFTA Awards</h1>
        <div class="content-page-press-release">
        17 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A London Underground (LU) busker has been chosen to entertain the likes of Heath Ledger, Jake Gyllenhall, Charlize Theron and Ang Lee at this Sunday's Orange British Academy Film Awards (BAFTA) at the Odeon Leicester Square in London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This will definitely be a night to remember
                            
                        </p>
                    </div>
                
            
            
            <p>LU busker Duncan Kane has been chosen amongst many talented musicians to perform for 1,700 celebrities and awards attendees as they leave the Odeon in Leicester Square to make their way to a diner and drinks reception at Grosvenor House.</p>
<p>Duncan Kane remarked: "I am absolutely chuffed to be playing for such a star studded audience. As a London Underground busker, I am used to performing for very large crowds on a daily basis but this will definitely be a night to remember.</p>
<p>"I will be performing my favourite film theme songs such as Mrs Robinson from the Graduate, Everybody's Talkin' from Midnight Cowboy and Stuck In The Middle With You from Reservoir Dogs."</p>
<p>Duncan Kane has been a licensed Underground busker since the scheme, sponsored by Carling, started in May 2003. </p>
<p>Steve Charlick, LU Operations Manager, said: "The London Underground busking scheme sponsored by Carling is going from strength to strength since it started in May 2003. </p>
<p><h2>Underground sounds</h2></p>
<p>"The Underground represents a unique platform for artists to showcase their talent in front of millions of passengers each week. </p>
<p>"The fact that a London Underground busker has been asked to perform at the Orange British Academy Film Awards demonstrates how talented many of them are. Duncan is a fantastic musician and I know that BAFTA awards-goers will enjoy his music as much as we do."</p>
<p>Clare Brown, BAFTA Head of Production, said: "At the Orange British Academy Film Awards we are always looking for ways to enhance the evening. </p>
<p>"We wanted to entertain our 1,700 VIPs as they got on to their transport and thought it would be fun to bring a touch of London street culture to the event by hiring an Underground busker to serenade them. </p>
<p>"After listening to a shortlist of performers we selected Duncan Kane because of his strong voice and wide-ranging film music repertoire."</p>
            <ul>
<li>Sponsored by Carling, the LU busking initiative was originally launched from 19 May 2003 to 6 June 2003 after LU won the right in 2001 to change National law and the local bylaws to legalise licensed busking </li>
<li>The scheme was developed as a response to customer demand for talented musicians being licensed to play at stations </li>
<li>Commercial backing from Carling helps fund the recruitment and auditioning of musicians as well as the management of the scheme by professional artist management company, Automatic Management </li>
<li>Licensed buskers are chosen on talent, with emphasis strongly placed on meeting the wide-ranging musical tastes of Tube customers </li>
<li>Buskers are not paid by LU or Carling and rely on the generosity of Tube passengers </li>
<li>All buskers have to pass an audition in front of a judging panel and are vetted for any police convictions before they are issued a free London Underground Busking Licence </li>
<li>The scheme's overnight success resulted in its gradual expansion in the last 2 years: there are now 34 pitches throughout the network and 397 licensed buskers </li>
<li>Over 3360 hours of live music are provided by the buskers every week </li>
<li>For more information on how to apply to become a LU busker please visit our <a href="/corporate/projectsandschemes/2435.aspx">website</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU busker Duncan Kane has been chosen amongst many talented musicians to perform for 1,700 celebrities and awards attendees as they leave the Odeon in Leicester Square to make their way to a diner and drinks reception at Grosvenor House.Duncan Kane";}
        
        


 