


@{ViewBag.Title = "LU statement on Tube strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU statement on Tube strike</h1>
        <div class="content-page-press-release">
        09 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground today said there was no justification for strike action announced by the RMT and ASLEF unions.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is unreasonable to call strikes while consultation is taking place
                            
                        </p>
                    </div>
                
            
            
            <p>Responding to the unions' threat of strikes by Tube drivers on 21 February and 2 March, a London Underground spokesperson said: "There is no justification for strike action.</p>
<p>"London Underground is not imposing anything on Tube staff. The fact is that we launched a consultation with all our trade unions on new harassment, discipline and attendance procedures before Christmas. That consultation continues.</p>
<p>"It is unreasonable to call strikes while consultation is taking place on these issues. We hope that both unions will continue with talks to sort out these matters through discussion and consultation."</p>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Responding to the unions' threat of strikes by Tube drivers on 21 February and 2 March, a London Underground spokesperson said: 'There is no justification for strike action.'London Underground is not imposing anything on Tube staff. The fact is that we";}
        
        


 