


@{ViewBag.Title = "Mayor launches Londons first hybrid buses to make cleaner, greener bus fleet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches Londons first hybrid buses to make cleaner, greener bus fleet</h1>
        <div class="content-page-press-release">
        07 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone, today announced the addition by Transport for London (TfL) of six new, environmentally friendly hybrid vehicles - the first ever such vehicles in London - to the London Buses fleet.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            If this hybrid bus trial is successful, we will expand their use across London
                            
                        </p>
                    </div>
                
            
            
            <p>The new hybrid buses, built by the Wright Group, are cleaner, quieter and use less fuel than a standard diesel bus, leading to a substantial reduction in carbon dioxide emissions. </p>
<p>The hybrids will operate on route 360, run by London Central, from tomorrow, Wednesday, 8 February 2006. </p>
<p>A leafy motif on the buses will help passengers recognise their environmentally-friendly status.</p>
<p>The vehicles will be introduced as part of an ongoing programme by TfL to test innovative technology and further reduce emissions from its bus fleet, which is already the cleanest in the UK*. </p>
<p>This is in line with the Mayor's Air Quality, Energy and Noise strategies.<br><br>Ken Livingstone, Mayor of London, said: "These cleaner, greener hybrid buses are at the forefront of environmentally-friendly technology. </p>
<p>"They will help London cut pollutant emissions and so contribute to tackling climate change and improve the city's air, as well as offering passengers a smoother, quieter journey.</p>
<h2>Quality of life</h2>
<p>"Air pollution affects the quality of life of a large number of Londoners causing around 1,000 premature deaths and a similar number of hospital admissions every year. I am determined to improve air quality through reducing transport emissions and if this hybrid bus trial is successful, we will expand their use across London."</p>
<p>Mike Weston, Operations Director for London Buses, said: "London Buses is committed to minimising our impact on the environment, and initial tests show these vehicles produce significantly fewer emissions than a standard bus. </p>
<p>"The bus network in London leads the way in the UK and beyond in innovation - this is another example of technology we hope might bring benefits to the urban environment in the near to medium-term future."</p>
<p>
<p>
<p>The six hybrid vehicles will be monitored and assessed over the coming months for performance, reliability and durability.</p>
<p>If they prove successful, London Buses will encourage their wider introduction into the fleet. </p>
<p><br><br></p>
            <ul>
<li>Photographs will be available online at <a href="http://www.constructionphotography.com/clients/tfl">www.constructionphotography.com/clients/tfl</a> from early afternoon on Tuesday, 7 February 2006</li>
<li>Route 360 is run by London Central, and travels from Elephant & Castle to Kensington (Queen's Gate) via Black Prince Road, Albert Embankment, Vauxhall, Pimlico, Chelsea Bridge Road, Sloane Square, Brompton Cross and South Kensington</li>
<li>The hybrid bus works as follows: a 336 volt battery pack provides power to the wheels via a 120Kw electric motor.  The battery pack is kept at optimum power by a 1.9 litre diesel Euro IV engine.  In other words, an engine which would normally be found in a family car keeps the battery charged.  When the vehicle brakes, energy which would normally be wasted is also recycled and used to charge the battery.  With continuous charging of the battery, the vehicle can achieve a larger operational range than a conventional diesel bus because it gets more miles to the gallon</li>
<li>When compared with the conventional diesel buses currently serving route 360 (which meet Euro III standards and have been fitted with particulate filters), initial tests show the hybrids compare favourably on a number of environmental measures:<br>a. 89% reduction in oxides of nitrogen<br>b. 83% reduction in carbon monoxide<br>c. 40% reduction in fuel use<br>d. 38% reduction in carbon dioxide<br>e. 30% reduction in perceived sound levels (noise reduced from 78dB to 74dB)</li>
<li>*The 8,000 strong London Buses fleet is the cleanest in the UK, with around 60 per cent of the fleet achieving Euro III emission standards, and the remainder meeting Euro II standards.  All buses have been fitted with particulate filters, which reduces emissions of fine particles, carbon monoxide and hydrocarbons from the vehicle exhaust by over 90 per cent</li>
<li>This is the first of a number of hybrid systems to be evaluated by London Buses, representing TfL's continued commitment to ensuring its operators' fleets achieve the highest standards in environmental performance</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new hybrid buses, built by the Wright Group, are cleaner, quieter and use less fuel than a standard diesel bus, leading to a substantial reduction in carbon dioxide emissions. The hybrids will operate on route 360, run by London Central, from";}
        
        


 