


@{ViewBag.Title = "Mayor welcomes Tfl control of first London passenger rail services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes Tfl control of first London passenger rail services</h1>
        <div class="content-page-press-release">
        14 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today welcomed the transfer of responsibility for some of the Capital's passenger rail services from the Government to Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Transport for London can begin to revitalise London's overground rail services
                            
                        </p>
                    </div>
                
            
            
            <p>From Autumn 2007, the London rail services to be managed by TfL, collectively known as the North London Railway, are:</p>
<ul>
<li>The North London Line 
</li><li>The London Euston to Watford Junction local Line 
</li><li>The West London Line from Willesden Junction to Clapham Junction via Kensington Olympia 
</li><li>The Gospel Oak to Barking Line</li></ul>
<p>The process to appoint an operator to run the concession will start immediately and will conclude on 11 November 2007 with the start of the North London Railway operating concession by the successful bidder. </p>
<p>Until then, the services will continue to be run by the current franchise operator, Silverlink Metro, managed and funded by the Department for Transport.</p>
<p>Mayor of London Ken Livingstone said: "Today's announcement means that, from 2007, Transport for London can begin to revitalise London's overground rail services just as it has done with buses and is doing on the Tube.</p>
<p>"In addition to improved services, my first priority will be station safety and security, which means putting staff back into the stations where the public want to see them. </p>
<p>"Stations that are currently often understaffed or empty altogether will be staffed adequately, offering passengers a more visible and reassuring presence. </p>
<h2>Additional security</h2>
<p>"Stations and trains will be improved with additional security enhancements including CCTV at stations and on trains.</p>
<p>"Alistair Darling's announcement that these services will pass to Transport for London shows that the Government is proceeding with its commitment to devolve more power and responsibility to London, reflecting the success of devolution nearly six years on from the first mayoral election."</p>
<p>
<p>
<p>The North London Railway has suffered from decades of neglect.</p>
<p>To raise the standard of the railway to the TfL standards currently experienced by passengers on other managed TfL modes such as bus and Tube, will take time. </p>
<p>However, on transfer to TfL in Autumn 2007, passengers should see some immediate benefits on the railway including:</p>
<ul>
<li>Additional station staff to provide improved customer service, security and revenue protection 
</li><li>Oyster ticketing including the ability to use Pay-As-You-Go 
</li><li>Extra train services, running earlier in the morning and later in the evening on all North London Railway routes to align with LUL services and provide better integration with other modes.</li></ul>
<p>Over the next five years, TfL plans to deliver further significant improvements, including:</p>
<ul>
<li>New, higher capacity, accessible trains replacing the existing 30 year old fleet 
</li><li>A &pound;25m station enhancement programme to bring North London Railway stations up to TfL standards 
</li><li>A service frequency improvements on all routes - with the provision of 8 trains per hour on the core route - Stratford to Willesden</li></ul>
<p>Ian Brown, TfL Managing Director London Rail, said: "TfL's policy is to put passengers comfort, safety and security first. </p>
<p>"Passengers on these lines are already benefiting from TfL's investment, with additional British Transport Police (BTP) officers and extra train services delivered by TfL currently operating on Silverlink Metro.</p>
<p>"Today's announcement gives TfL the ability to revive the North London Railway and deliver frequent, reliable and clean rail services and make the railway a vital part of TfL's integrated transport network.</p>
<p>
<h2>Extra services</h2>
<p>
<p>"Following the transfer to TfL, from 11 November 2007, passengers should see benefits delivered immediately, including extra staff at stations, Oyster ticketing and extra services during the peak hours. </p>
<p>"Over the longer term, TfL plans to deliver more frequent train services and a new, modern train fleet.</p>
<p>"The new North London Railway is also a key part of TfL's Olympic Transport Plan to serve the London 2
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network 
</li><li>TfL is already spending &pound;30m on delivering improved passenger safety and security at suburban stations 
</li><li>The Silverlink franchise currently runs the Silverlink Metro routes. It is operated by National Express 
</li><li>There are 50 stations and 60 route miles on the North London Railway 
</li><li>Every day, 63,000 people use the line with a total of 23 million passenger journeys made every year on these routes 
</li><li>Improvements to date on the North London Railway routes include: 
<ul>
<li>Installation of CCTV on rolling stock on the North London Line; West London Line, and Watford DC 
</li><li>BTP accommodation at Highbury and Islington - &pound;66k 
</li><li>BTP - Since 2004/5 &pound;2.2m on additional police resources 
</li><li>&pound;133k on graffiti clearance 
</li><li>Total &pound;3.1 million</li></ul>
<li>The Mayor has allocated &pound;3.6m of funding for an additional 89 BTP officers to cover London, including overground stations on the Bakerloo line from Queens Park and other Silverlink services in North London 
</li><li>As part of its "Put passengers first" policy, TfL is already helping train operating companies across London to upgrade stations. By the end of March 2006: 
<ul>
<li>over &pound;20m will have been spent in delivering safety and security improvements on trains and at stations across London 
</li><li>Fifty three per cent of stations (161 of 304) will been improved with new CCTV cameras, Help points which enable passengers to get information directly from a staff member, and better lighting and travel information systems</li></ul></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From Autumn 2007, the London rail services to be managed by TfL, collectively known as the North London Railway, are:The North London Line The London Euston to Watford Junction local Line The West London Line from Willesden Junction to Clapham Junction";}
        
        


 