


@{ViewBag.Title = "Mayors budget announcement - Safer stations, safer neighbourhoods";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayors budget announcement - Safer stations, safer neighbourhoods</h1>
        <div class="content-page-press-release">
        08 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
These measures are another big step towards cracking down on crime and anti-social behaviour
</p>
</div>
<p>Finalising his budget proposals for 2006/07, the Mayor of London, Ken Livingstone, today announced funding for an additional 89 British Transport Police (BTP) covering London. </p>
<p>The funding, from the Mayor's 2006/07 budget, will provide officer teams concentrated on robbery and violent crime hotspots at overground stations along the Bakerloo line from Queens Park to the end of the line, other north London Silverlink services, and south London overground rail stations. </p>
<p>The Mayor said that, putting aside the contribution to the cost of the Olympics, the budget increase was focused on safer stations and safer neighbourhoods.</p>
<p>Funding will be provided by Transport for London (TfL) under contract with the BTP in north and south London to add to policing around violent crime hotspots, on the Bakerloo overground stations and Silverlink services London, alongside a similar deployment in south London. </p>
<p>These mobile and visible teams will patrol these stations and trains, targeting specific crimes and providing much needed security and reassurance for London's travelling public.</p>
<p>The officers will join 500 BTP who already cover the overland network in London, and also return to full strength the 670 officers directly responsible to TfL who work exclusively on London Underground and the Docklands Light Railway network. </p>
<p>Announcing the additional funding, the Mayor said: "This budget concentrates on safer stations and safer neighbourhoods, with resources to ensure every neighbourhood in London gets a dedicated beat police team, and extra British Transport Police to patrol our overground stations.</p>
<p>"The aim is a safer and more secure London.</p>
<p>"Although I have no direct control over staffing these stations - unlike London Underground stations - we have looked at the Transport for London budget to find extra support to the British Transport Police at overground rail stations across London, including Silverlink stations. </p>
<h2>Reassuring presence</h2>
<p>"I have consistently criticised the fact that these stations are not staffed when the public are using them but I am not content to wait for them to be transferred to me - I will do what I can this year from my budget to get a more visible and reassuring presence on these London stations.</p>
<p>"Once the Silverlink franchise comes under my control I will ensure that stations are staffed to adequate levels.</p>
<p>"This extra deployment of British Transport Police is a new component to my budget for next year. The budget delivers safer stations and safer neighbourhoods and I urge Assembly members to vote for it next week. </p>
<p>"Year after year, many members of the Assembly have voted against the budgets that have provided the extra police that are now patrolling our streets. Now the Assembly has the opportunity to vote for a neighbourhood police team in every part of London and safer stations in north and south London.</p>
<p>"London is one of the safest capital cities in the world but there are still too many areas where people do not feel secure. These measures are another big step towards cracking down on crime and anti-social behaviour.</p>
<p>"Even with this additional funding for transport police, my budget for 2006/07 will be contained with a rise of no more than 65 pence a week on the council tax precept."</p>
<p>Commissioner of Transport for London Peter Hendy added: "The investment in new officers demonstrates TfL's commitment to the safety of passengers and staff across the entire network. </p>
<p>"We have already demonstrated a successful working partnership with the BTP and the Metropolitan Police on the Tube and bus network. </p>
<p>"TfL is already investing &pound;10m per year on safety and security on the overground train network and we will continue with this work. We expect train operators to work with us to take this initiative forward and reduce the fear of crime on the overland network."</p>
&lt;&gt;
<ul>
    <li>The full draft budget documents are available via the <a href="https://www.london.gov.uk/about-us/governance-and-spending/spending-money-wisely/mayors-budget">Mayor's budget web page</a></li>
    <li>The &pound;3.6m investment will provide for the deployment of two 'focus teams' totalling 60 officers in south and west London. The funding will also provide temporary additional staff to cover any abstractions from the London Underground and the Docklands Light Railway teams dealing with the consequences of the 7 July atrocities</li>
    <li>In order to meet the public commitment to a lower increase in the GLA council tax the Mayor has decided to reduce TfL's budget requirement for 2006-7 by &pound;9m from that proposed in the draft consolidated budget</li>
    <li>Police budget will increase by 4 per cent, or 28p a week, for a Band D household. The overall increase in policing budget is &pound;146m. Most of this is covered by increased government grant, but includes &pound;32m from the precept to complete the Safer Neighbourhood Teams roll out - 21p a week. It also includes &pound;30m extra grant from the government for counter-terrorism (&pound;44m in 2007-08). In addition the Fire budget is to increase by 3 per cent or 3p a week and includes funding for six more Fire Resuce Unit</li>
    <li>An increase in the Greater London council tax base and improvements in collection rates have contributed to the total increase in the precept excluding Olypmics being limited to 27p a week for a Band D household</li>
    <li>This press release was originally issued by the Mayor of London's press office at the <a href="http://www.london.gov.uk/" lid="Greater London Authority" el="http://www.london.gov.uk">Greater London Authority</a><br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Finalising his budget proposals for 2006/07, the Mayor of London, Ken Livingstone, today announced funding for an additional 89 British Transport Police (BTP) covering London. The funding, from the Mayor's 2006/07 budget, will provide officer teams";}
        
        


 