


@{ViewBag.Title = "New taxi fares announced by Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New taxi fares announced by Transport for London</h1>
        <div class="content-page-press-release">
        13 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Taxi fares are set to rise by 3.7 per cent in order to help drivers cover increased costs of running a cab, Transport for London (TfL) announced today. The new fares will begin on Saturday 1 April.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cab drivers are self-employed, meaning they earn less if operating costs increase
                            
                        </p>
                    </div>
                
            
            
            <p> The fare prices, approved by the TfL Board on 8 February following consultation with the taxi trade by the Public Carriage Office, take into account increases in taxi operating costs and increases in national average earnings including an 11 per cent increase in fuel costs. </p>
<p>They are designed to support the industry by maintaining income levels. </p>
<p>The new fares include: </p>
<ul>
<li>An increase of 3.7 per cent in average fares across all times of the day to cover increases in operating costs 
</li><li>An increase in the Christmas and New Year supplement, up from &pound;3 to &pound;4 (last increased in 1999) which is designed to encourage more drivers to work over this busy period 
</li><li>An increase in the Heathrow supplement, up from &pound;1 to &pound;2 to cover some of the cost of an increased levy imposed by airport authorities on drivers</li></ul>
<p>Mayor of London Ken Livingstone said: "These new taxi fare levels take into account the growing the costs of running a black cab. </p>
<p>"Cab drivers are self-employed, meaning they earn less if operating costs increase. </p>
<p>"I believe the fare increases strike the right balance between maintaining income levels for drivers while ensuring passengers still get a fair deal for a high quality and unique service."</p>
            
<ul>
<li>The 3.7 per cent is in line with the increase in the cost index in use since 
1981. The index, agreed with the taxi trade, combines changes in operating costs 
with national earnings to produce a change in average fares 
</li><li>The Christmas and New Year supplement is payable between 8pm on 24 December 
and 6am on 27 December and between 8pm on 31 December and 6am on 2 January 
</li><li>The Heathrow supplement is a contribution from passengers towards the costs 
incurred by drivers for serving the Heathrow taxi ranks and providing the 
information and booking desks at the Heathrow terminals. The supplement will 
cover half the costs incurred by the driver 
</li><li>There is an environmental charge of 20p per journey introduced by the Mayor 
in December 2004. This charge, over and above the usual cost of living rise, was 
introduced, subject to a review after three years, to meet the cost of 
converting taxis to reach new environmental standards as part of the Mayor's 
commitment to make London a Low Emission Zone. The 3.7 per cent increase 
excludes the 20p environmental supplement 
</li><li>The Public Carriage Office, as part of TfL, is responsible for licensing and 
regulating London's taxi and private hire services</li></ul><br>
<p><strong><strong>Average Fares (excl 20p environmental charge)</strong><p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="2" width="320" border="1">
<tbody>
<tr>
<td><strong></strong></td>
<td><strong>Current average</strong></td>
<td><strong>New average</strong></td>
<td><strong>Increase (&pound;)</strong></td>
<td><strong>Increase (%)</strong></td></tr>
<tr>
<td><strong>Tariff 1</strong></td>
<td>&pound;8.77 </td>
<td>&pound;9.09</td>
<td>&pound;0.32 </td>
<td>3.7% </td></tr>
<tr>
<td><strong>Tariff 2</strong></td>
<td>&pound;10.17</td>
<td>&pound;10.55</td>
<td>&pound;0.38</td>
<td>3.7% </td></tr>
<tr>
<td><strong>Tariff 3</strong></td>
<td>&pound;11.92 </td>
<td>&pound;12.37</td>
<td>&pound;0.45</td>
<td>3.7% </td></tr>
<tr>
<td><strong>All week</strong></td>
<td>&pound;9.69</td>
<td>&pound;10.05</td>
<td>&pound;0.36</td>
<td>3.7% </td></tr></tbody></table></div></p><br>
<p><strong>Average Fares (incl 20p environmental charge)</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="2" width="320" border="1">
<tbody>
<tr>
<td><strong></strong></td>
<td><strong>Current average</strong></td>
<td><strong>New average</strong></td>
<td><strong>Increase (&pound;)</strong></td>
<td><strong>Increase (%)</strong></td></tr>
<tr>
<td><strong>Tariff 1</strong></td>
<td>&pound;8.97</td>
<td>&pound;9.29</td>
<td>&pound;0.32</td>
<td>3.6% </td></tr>
<tr>
<td><strong>Tariff 2</strong></td>
<td>&pound;10.37</td>
<td>&pound;10.75 </td>
<td>&pound;0.38 </td>
<td>3.6%</td></tr>
<tr>
<td><strong>Tariff 3</strong></td>
<td>&pound;12.12 </td>
<td>&pound;12.57 </td>
<td>&pound;0.45 </td>
<td>3.7%</td></tr>
<tr>
<td><strong>All week</strong></td>
<td>&pound;9.89</td>
<td>&pound;10.25 </td>
<td>&pound;0.36</td>
<td>3.6% </td></tr></tbody></table></div></strong><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The fare prices, approved by the TfL Board on 8 February following consultation with the taxi trade by the Public Carriage Office, take into account increases in taxi operating costs and increases in national average earnings including an 11 per cent";}
        
        


 