


@{ViewBag.Title = "New ticket office opening hours from February 5";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New ticket office opening hours from February 5</h1>
        <div class="content-page-press-release">
        03 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) will implement a shorter, 35-hour working week for Tube station staff on 5 February.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A key aim for LU is to have more staff available in stations to help passengers
                            
                        </p>
                    </div>
                
            
            
            <p>The continued success of Oyster has led to a significant reduction in the demand for paper tickets - one million fewer paper tickets are now being sold each week. </p>
<p>It does not make sense to staff ticket offices to exactly the same extent when the demand for traditional paper tickets is falling significantly as more of our customers switch to using Oyster. </p>
<p>Find out about the benefits of using Oyster, including <a>how tickets can be bought</a> at Tube stations, London Travel Information Centres, Oyster Ticket Stops, some National Rail station ticket offices or via the <a href="https://sales.oystercard.com/oyster/lul/entry.do?action=display">Oyster online shop</a>.</p>
<p>As agreed with the trade unions last year, there will be a reduction in ticket-office positions so that a shorter, 35-hour working week can be delivered for all Tube station staff.</p>
<p>Ticket office opening hours across the Tube network will change from 5 February.</p>
<p>A key aim for LU is to have more staff available in stations to help passengers. </p>
<p>Staff will be deployed more effectively, such as from ticket offices to ticket halls and platforms. </p>
<h2>Visible presence</h2>
<p>We want to get as many staff out of ticket offices and out onto the station to assist and reassure customers, and be visible to help address security issues.</p>
<p>This will help us as we continue to improve and deliver a safe, reliable and clean Tube service for passengers, every day.</p>
<p>Eleven ticket offices will be closing across the Tube network. The first five are where demand for tickets is among the lowest on the Tube: </p>
<ul>
<li><strong>Chigwell, Grange Hill, Roding Valley, Upminster Bridge and Theydon Bois</strong></li></ul>
<p>The second six are at stations where at least one, and in some cases two, other ticket offices are available at each station: </p>
<ul>
<li><strong>Bank (Northern), Baker Street (Chiltern), Liverpool Street (Broad St), Moorgate (Met), Southwark (West) and St James's Park (Palmer Street)</strong></li></ul>
<p>Passengers will still be able to buy tickets at ticket machines or recharge their Oyster cards, which can also be done over the phone or online.</p>
<p>Where individual ticket office opening hours are changing, these will be advertised at the relevant station.</p>
<p>There will be no reduction in staffing levels across the Tube network. Station staffing levels across the network will remain as they currently are and no station staff will be made redundant.<br>
<hr>

<p>
<p>TfL offers a range of tickets within the Greater London area for use on Tube, buses, Docklands Light Railway (DLR), and Tramlink services. Information on fares and tickets is available at: <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a></p>
<p>Find out about the benefits of using Oyster, including how tickets can be bought or renewed online: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The continued success of Oyster has led to a significant reduction in the demand for paper tickets - one million fewer paper tickets are now being sold each week. It does not make sense to staff ticket offices to exactly the same extent when the demand";}
        
        


 