


@{ViewBag.Title = "New Tube map charts best of 20th century music";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Tube map charts best of 20th century music</h1>
        <div class="content-page-press-release">
        03 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        World famous, instantly recognisable, an icon to millions of fans... Never mind the music, that's just the map! London Underground's (LU's) historic and iconic Tube map has been reworked by The Guardian newspaper to chart the best of 20th century music.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The different character of each line lent itself to a certain genre
                            
                        </p>
                    </div>
                
            
            
            <p>Published today in The Guardian's Film &amp; Music supplement, the new interpretation of the Underground map by Guardian Music Writer Dorian Lynskey casts each Tube line as a musical genre, and each station as artist. </p>
<p>Every intersection provides an opportunity to celebrate those who mix and transcend musical styles.</p>
<p>For example, where the Pop (Circle), Rock (District) and Reggae (Central) lines intersect, you find The Specials (at Notting Hill Gate). Or at the junction of Funk (Victoria) and Blues &amp; Country (Piccadilly), one finds James Brown (at Finsbury Park).</p>
<p>Dorian Lynskey said: "The different character of each line lent itself to a certain genre. </p>
<p>"Pop, for example, intersects with everything else so that had to be the Circle line. On the other hand, classical music tends to occupy its own sphere, which made it perfect for the Docklands Light Railway."</p>
<p>LU Managing Director Tim O'Toole said: "The Underground and music are essential elements in the history, culture and vitality of London. </p>
<p>"This wonderful reworking of Harry Beck's iconic Tube map celebrates that, and the result is a new and inspiring work of art.</p>
<p>"The Tube and music are synonymous in many Londoners' and visitors' minds, through the lyrics and titles of countless songs, the scene from a music video or just the memory of travel to and from a fondly recalled concert or gig.</p>
<p>"London Underground also celebrates music today through our Carling Underground Busking Scheme, which brings music direct to passengers as they travel on the Tube, every day."</p>
<p>Musicians have often chosen the Underground as the setting for their music: Madonna's latest music video for international hit single Hung Up was partly filmed on a Jubilee line train travelling from Charing Cross to West Hampstead on 11 October 2005. </p>
<p>Part of Simply Red's Ain't that a lot of Love video was filmed at Mornington Crescent Tube station. </p>
<p>Fame Academy winner Alex Parks' pop video Cry was filmed at Charing Cross station on 15 December 2003.</p>
<p>In May 2003, LU launched its own <a href="/corporate/projectsandschemes/2435.aspx">licensed busking scheme, </a>which is going from strength to strength with 297 licensed buskers performing at 42 pitches across the Tube network, and providing passengers with over 2,000 hours of musical entertainment each week.</p>
<p>Posters of the Musical Underground map are available from <a href="http://www.ltmuseumshop.co.uk/">London's Transport Museum's website</a> and gift shop priced &pound;7.95. All profits from sales will aid the current renovation of the Museum.<br><br>Previous adaptations of the Underground map include Simon Patterson's The Great Bear, designed in 1992 and featuring philosophers, actors and politicians.<br></p>
            <ul>
<li>The famous London Underground map was designed by Harry Beck, who moved away from the strict geographical interpretation of previous maps and based his simple and easy-to-use Tube map on an electrical circuit diagram. It was first used in 1933 and the format has been copied by transport systems around the world </li>
<li>A2 posters, priced &pound;7.95 are available at <a href="http://www.ltmuseum.co.uk/">http://www.ltmuseum.co.uk/</a> and London's Transport Museum's gift shop </li>
<li>London's Transport Museum is currently closed for refurbishment and is due to reopen in Spring 2007 </li>
<li>London's Transport Museum's gift shop is now located in Covent Garden Piazza </li>
<li>For more information about music on the Underground please visit the <a href="/corporate/projectsandschemes/2423.aspx">website</a>.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Published today in The Guardian's Film &amp; Music supplement, the new interpretation of the Underground map by Guardian Music Writer Dorian Lynskey casts each Tube line as a musical genre, and each station as artist. Every intersection provides an";}
        
        


 