


@{ViewBag.Title = "Richmond branch to close for nine days";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Richmond branch to close for nine days</h1>
        <div class="content-page-press-release">
        20 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The temporary closure of the line will allow our engineers to work around the clock
                            
                        </p>
                    </div>
                
            
            
            <p>Network Rail, the company that owns and maintains the District line track between Turnham Green and Richmond, has informed London Underground (LU) that it intends to close the line for nine days from 1 April 2006 for much needed engineering improvements that will deliver increased reliability of services. <br></p>

<p>This means that there will be no District line service between Turnham Green and Richmond until 10 April 2006.</p>

<p>The nine-day closure will enable the replacement of the 40-year old track, points and crossing at Gunnersbury Junction. </p>
<p>Work will also be carried out to renew the signalling and to remove graffiti and litter. </p>
<p>The closure coincides with the Easter school holiday when passenger demand is lower.</p>
<p>Bob Thorogood, General Manager, District line, said: "Once the work is complete, District line customers travelling between Richmond and Turnham Green should notice a smoother, more reliable journey that is less prone to disruption - especially due to track and signal failure.</p>
<p>"During the closure, valid LU tickets will be accepted on South West Train services between Richmond and Waterloo and frequent rail replacement bus services will be in operation. </p>
<p>"LU District line services that would normally terminate at Richmond will instead terminate at Ealing Broadway during off-peak periods and at Wimbledon and Ealing Broadway during the morning and evening peak."</p>
<p>Two rail replacement bus services will also operate throughout the nine day closure.</p>
<ul>
<li><strong>Service A</strong>: Richmond - Botanic Gardens - Gunnersbury - Turnham Green. Buses will run empty to Stamford Brook with mobility impaired customers on request </li>
<li><strong>Service B</strong>: Richmond - Botanic Gardens - Gunnersbury - Chiswick Park - South Acton - Acton Town - Acton Central - extended to Willesden Junction on 1 / 2 April 2006</li></ul>
<p>There will also be some further early morning Sunday possessions to complete the work on 16, 23, 30 April and 28 May 2006. </p>
<p>This will mean the cancellation of the first ten District line trains in and out of the Richmond branch on Sunday morning on these dates.</p>
<p>Jon Wiseman, Network Rail Route Director, said: "This major investment at Gunnersbury Junction is essential to ensure the future reliability of this busy stretch of railway. </p>
<p>"The temporary closure of the line will allow our engineers to work around the clock to get this complex programme of work done as quickly and efficiently as possible."</p>
            <ul>
<li>The first section of what is now known as the District line, started operation on 24 December 1868 between South Kensington and Westminster and reached Richmond in1877 
</li><li>The District line covers 64km (40 miles) and serves 60 stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Network Rail, the company that owns and maintains the District line track between Turnham Green and Richmond, has informed London Underground (LU) that it intends to close the line for nine days from 1 April 2006 for much needed engineering improvements";}
        
        


 