


@{ViewBag.Title = "South Ruislip station closed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>South Ruislip station closed</h1>
        <div class="content-page-press-release">
        03 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        South Ruislip station has been closed while all the necessary safety precautions are taken following the discovery of asbestos yesterday afternoon. The station is currently being refurbished by Metronet.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Safety of passengers and staff is London Underground's top priority
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) is now carrying out extensive tests in order to understand the full extent of the conditions and to determine what action we need to take. </p>
<p>On the basis of our progress so far, we anticipate re-opening the station late this afternoon. </p>
<p>In the meantime, rail tickets are being accepted on local buses and a special bus service is currently operating every five minutes between South Ruislip and Ruislip Gardens. </p>
<p>Safety of passengers and staff is LU's top priority and the station will not re-open until LU is fully satisfied that it is safe to do so. </p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Refurbishment works are being undertaken by Metronet Rail BCV who are responsible for the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>South Ruislip first opened on 1 May 1908 as part of the Great Western Railway. It was reconstructed and first served by the Central line on 30 June 1947 as part of the Central line extension to West Ruislip</li>
<li>The station has approximately 3,000 daily users</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) is now carrying out extensive tests in order to understand the full extent of the conditions and to determine what action we need to take. On the basis of our progress so far, we anticipate re-opening the station late this";}
        
        


 