


@{ViewBag.Title = "Talks to avert Tube strikes continue";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Talks to avert Tube strikes continue</h1>
        <div class="content-page-press-release">
        15 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has welcomed ASLEF's decision to call off strike action planned for next Tuesday (21 February) and is continuing talks with RMT which has also announced strike action on the same day.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We welcome ASLEF's decision to suspend next Tuesday's strike
                            
                        </p>
                    </div>
                
            
            
            <p>An LU spokesperson said: 'We welcome ASLEF's decision to suspend next Tuesday's strike while talks continue. </p>
<p>'Talks also continue with RMT and we hope that both unions will resolve any issues through discussion.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "An LU spokesperson said: 'We welcome ASLEF's decision to suspend next Tuesday's strike while talks continue. 'Talks also continue with RMT and we hope that both unions will resolve any issues through discussion.'";}
        
        


 