


@{ViewBag.Title = "TfL invests &pound;2.7m  in rail safety and security in North and East London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL invests &pound;2.7m  in rail safety and security in North and East London</h1>
        <div class="content-page-press-release">
        07 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL), in partnership with One and the London Borough of Hackney, have provided a boost for rail passengers with the launch of a &pound;2.7m package of on-train and station security enhancements.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passenger safety and security is of paramount importance to TfL
                            
                        </p>
                    </div>
                
            
            
            <p>Delivered as part of the TfL's &pound;10bn 5-Year Investment Programme, the new set of improvements will provide reassurance to the 21 million passengers travelling on the two routes leaving London Liverpool Street every year: to Shenfield via Stratford and to Chingford, Enfield Town and Cheshunt via Hackney Downs.</p>
<p>This is part of TfL's safety and security improvement programme. The package includes: </p>
<p>On-train improvements include CCTV in 61 four-vehicle trains.</p>
<p>Station improvements at London Fields, Bethnal Green and Cambridge Heath stations including:</p>
<ul>
<li>New CCTV Cameras to assist with both crime prevention and detection so passengers feel safe using the stations 
</li><li>Installation of new Help points with induction loops, providing immediate audio and visual links with the control centre 
</li><li>Customer information systems providing passengers with up-to-date train information</li></ul>
<p>Improvements for people with disabilities including handrails, bespoke seating and induction loops at ticket office windows have also been delivered at several other stations. </p>
<p>This is a significant step in TfL's safety and security programme; as a consequence of the on-train CCTV project, the entire One suburban network now benefits from CCTV coverage. </p>
<p>London Fields, Bethnal Green and Cambridge Heath stations now benefit from new safety and security enhancements.</p>
<p>The improvements at London Fields station were delivered by TfL and One in partnership with the London Borough of Hackney. </p>
<p>Ian Brown, Managing Director of TfL London Rail, said:"Passenger safety and security is of paramount importance to TfL and we are working closely with train operators like One and local authorities such as the London Borough of Hackney to provide safer and improved rail services across London. </p>
<p>"We hope the delivery of these improvements will encourage more people to use rail in London."</p>
<p>
<h2>Accessibility improvements</h2>
<p>
<p>Dominic Booth, Acting Managing Director of One, said:"One is pleased to be working in conjunction with our partners at Transport for London and the London Boroughs, by investing in upgraded trains and stations across our network. </p>
<p>"Improving the on-train and station environment is a key element of our investment priorities. </p>
<p>"New CCTV and information provision systems, better lighting and accessibility improvements are a major factor in providing reassurance for passengers, and in attracting new customers to our train services."</p>
<p>Mayor of Hackney, Jules Pipe, said:"London Fields station forms a vital link for many residents to jobs and services across London, and I welcome these latest improvements which will enhance the safety of rail passengers.</p>
<p>"As Hackney is not yet on the Tube network, investment in over ground rail lines is particularly important, and I shall continue to push for improvements to the services and infrastructure provided."</p>
            <ul>
<li>The cost of the project is as follows: 
</li><li>A total of &pound;1.92m was invested in on-train CCTV 
</li><li>A total of &pound;788,000 in station improvements 
</li><li>&pound;488,000 invested in safety and security enhancements at London Fields, Bethnal Green and Cambridge Heath 
</li><li>&pound;300,000 in Disability Discrimination Act improvements delivered at several stations 
</li><li>A total of 45 CCTV cameras were installed: <br>- Sixteen at Bethnal Green station <br>- Fifteen at Cambridge Heath station <br>- Fourteen at London Fields station 
</li><li>TfL is investing a further investment of &pound;16,000 in the provision of way finding and welcome signage at London Fields, Cambridge Heath and Bethnal Green stations 
</li><li>Each Help point is fitted with an induction loop to enable people who use a hearing aid to hear sounds more clearly by cutting out background noise 
</li><li>Since April 2004, TfL has funded &pound;20m on passenger security improvements at stations on trains such as CCTV and customer Help points 
</li><li>TfL London Rail's investments to date include the delivery of security improvements across London's rail network: by March 2006, 53 per cent of stations around London (161 of 304) will have been improved with new CCTV cameras, Help points which enable passengers to get information directly from a staff member, and better lighting and travel information screens</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Delivered as part of the TfL's &pound;10bn 5-Year Investment Programme, the new set of improvements will provide reassurance to the 21 million passengers travelling on the two routes leaving London Liverpool Street every year: to Shenfield via Stratford";}
        
        


 