


@{ViewBag.Title = "Worlds greatest cycle race comes to London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Worlds greatest cycle race comes to London</h1>
        <div class="content-page-press-release">
        09 February 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The biggest annual sporting event in the world, the Tour de France, will start in London in 2007, coming to the UK capital for the first time in its 100-year history.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
The Grand Depart is expected to attract more than a million visitors to London
</p>
</div>
<p> The Grand Depart, the start of the Tour, will come to London and Kent over three days during the weekend 6-8 July 2007 and is expected to attract more than a million visitors to London, providing a significant economic benefit.</p>
<p>The Tour de France creates a carnival atmosphere wherever it visits, with more than 10 million spectators lining the route each year over the three weeks of the event. </p>
<p>The peleton racing through the UK capital's historic streets promises to provide a compelling spectacle for families, cyclists, and sports fans. </p>
<p>Cycling is growing in London faster than any other city in Europe, with cycling journeys in the capital rising by 100 per cent in just five years. </p>
<p>To build on that success the Mayor of London and Transport for London (TfL) submitted a successful bid to the Tour's organisers, the Amaury Sport Organisation, to bring the Tour de France to the capital.</p>
<p>The route of the Grand Depart, which takes place during the first three days of the Tour, was announced today at an event at the QEII Conference Centre in central London. </p>
<p>The three days of the Grand Depart include the Tour de France opening ceremony, Prologue and Stage one. </p>
<p>The Prologue, on Saturday 7 July, will be an eight kilometre (5 miles) lap of central London, starting on Whitehall, taking in some of London's most famous landmarks including Whitehall, the Houses of Parliament, Buckingham Palace, Hyde Park, and finishing on the Mall. </p>
<h2>Economic benefits</h2>
<p>Stage One, on Sunday 8 July, will start in central London, passing close to a variety of historic and contemporary sites including Big Ben, the London Eye, St Paul's Cathedral, the Gherkin and crossing Tower Bridge close to City Hall. </p>
<p>The race will then travel through Bermondsey, Deptford, Greenwich and Erith before travelling in to Kent. </p>
<p>In Kent the Tour will pass through Dartford, Medway, Tunbridge Wells and Ashford before the stage finish in Canterbury.</p>
<p>Around 200 of the world's best cyclists will battle it out for the legendary yellow jersey on the streets of London and will then go on to cover around 3,500 kilometres over the course of three weeks. </p>
<p>Every year between 10 and 15 million spectators watch the race from roadside over the course of the three weeks, making it the largest annual sporting event in the world.</p>
<p>Ken Livingstone, Mayor of London, said:"The Tour de France coming to London in 2007 is great news for sport in the capital and underlines the city's ability to host prestigious international sporting events. </p>
<p>"It will help promote cycling, which is on the rise in London, and the capital's streets will provide a superb backdrop to one of the greatest sporting events in the world. </p>
<p>"When the Grand Depart gets here next summer, it will receive the biggest welcome from the fastest growing cycling city in Europe." </p>
<p>Manny Lewis, CEO of the London Development Agency, the core funder of the London leg of the Tour de France, said: "The LDA is proud to support the Tour in London. </p>
<p>"Hosting the Grand Depart will further reinforce London's profile as an international tourism destination and London's ability to host major international events. </p>
<p>"It will also generate a significant economic benefit to London - anticipated to be &pound;56m - from spectators, race officials and media staying in the capital in the build up to and during the event."</p>
<p>
</p>
<h2>Carnival atmosphere</h2>
<p>
</p>
<p>Peter Hendy, Commissioner of Transport for London, the coordinators of the event on behalf of the Mayor, said: "We welcome the Tour de France to the streets of capital to excite and inspire Londoners about cycling in the capital as a mode of transport and as a fun way to get fit. </p>
<p>"London is a great place to
</p>
<ul>
    <li>Every three to four years the Tour de France Grand Depart takes place outside France. 2007 will be the first time the Tour has visited London and the first ever Grand Depart in the UK
    </li>
    <li>The Tour de France last visited Britain in July 1994. Three million Britons lined the streets during the two stages to Brighton and then Portsmouth and the event was a great success
    </li>
    <li>Full route maps, a digital fly through, and images are available on request
    </li>
    <li>Details of the full route of the Tour de France 2007 will be announced by the Amaury Sport Organisation later in the year
    </li>
    <li>Cycling in London<br />- The number of recorded cycle journeys on London's major roads have risen by 100 per cent during the past five years (59,000 to 119,000 recorded journeys a week)<br />- Investment in cycling has risen during the past five years from &pound;5.5m in 2000 to &pound;20m in 2005/06<br />- In 2006/07 TfL will invest &pound;24m in cycling infrastructure, training, promotion and education<br />- TfL, with the London boroughs, is working to create the London Cycle Network+, a 900km network for cyclists<br />- The project is due for completion in 2009/10<br />- The number of cyclist killed or seriously injured on the capital's roads has fallen by 40 per cent during the past five years, achieving the Mayor of London's target five year's ahead of schedule
    </li>
    <li>Tourism in London<br />- London is the most visited city in the world, with an estimated 26.3million visits to London in 2005 (14.3million from overseas)<br />- Visitors to the capital spent an estimated &pound;9.5bn in 2005<br />- London's most important markets for overseas visitors are the USA, Japan, France, Italy, Germany, Spain, the Netherlands and Ireland<br />- Visit London is the official visitor organisation for the capital, working in partnership with the Mayor, the London Development Agency and the commercial sector
    </li>
    <li>Event details<br />- The opening ceremony will take place on Friday 6 July 2007 in Trafalgar Square<br />- The Prologue will take place on Saturday 7th July 2007. It will start on Whitehall, in front of Trafalgar Square. The riders will race past Downing Street towards Parliament Square on an 8km course. Turning at the Houses of Parliament, the route goes along Victoria Street, past Westminster Abbey and in front of Buckingham Palace. After the Palace the riders will pass through the middle of Wellington Arch, before looping through London's most famous park, Hyde Park. Finally the riders will pass back around Hyde Park Corner and along Constitution Hill, before ending on The Mall with Buckingham Palace as a backdrop<br />- Stage 1 will take place on 8th July 2007 and will take in some of Britain's most picturesque and historic towns<br />- The route starts on The Mall, runs through Admiralty Arch and then proceeds alongside the Thames down to the Houses of Parliament and Big Ben<br />- The riders will cross The Thames before riding past the London Eye and looping back to take in St Paul's Cathedral and the Tower of London<br />- The riders will pass over Tower Bridge, through Bermondsey and Deptford to Greenwich where they will cross the Greenwich Meridian Line, where all time zones are measured from<br />- The route then passes through Woolwich, Abbey Wood and Erith, before leaving London for Dartford in Kent<br />- The route then goes through Gravesend and on to Medway, dominated by Rochester Castle and Cathedral<br />- Passing on through Maidstone the route will take the riders to Tonbridge and then on to Royal Tunbridge Wells<br />- The route winds through the beautiful Kent countryside, through the picturesque town of Tenterden and past Ashford to a potentially nail biting finish in Canterbury<br />- The press centre and race head quarters will be at ExCeL London from Wednesday 4 July until Saturday 7 July<br />- On Sunday 8 July the press centre and race head quarters will be located in The Canterbury High School.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Grand Depart, the start of the Tour, will come to London and Kent over three days during the weekend 6-8 July 2007 and is expected to attract more than a million visitors to London, providing a significant economic benefit.The Tour de France creates a";}
        
        


 