


@{ViewBag.Title = "A faster, easier 7 Day Travelcard on Oyster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A faster, easier 7 Day Travelcard on Oyster</h1>
        <div class="content-page-press-release">
        17 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 25 September, 7 Day Travelcards will only be available on Transport for London's Oyster smartcard, meaning customers currently using paper tickets can benefit from faster and easier journeys.
        
    </div>



 <div class="on-this-page">
<p>This change is part of a phased introduction, which has already seen the successful implementation of Pre Pay, monthly and longer period season tickets on Oyster.</p>
<p>TfL is waiving the usual &pound;3 refundable deposit for a limited period to make it easier for customers to switch to Oyster.</p>
<p>Mayor of London Ken Livingstone said: "More than two million people already benefit from the convenience of an Oyster smartcard, which is making travel in London quicker and easier by speeding up the bus service, helping to take cash off buses and cutting queues at Tube stations.</p>
<p>"Oyster offers unprecedented benefits over traditional paper tickets. </p>
<p>"Passengers can top up their Oyster card online or over the phone, avoiding ticket office queues; and up to three Travelcards plus Pre Pay can be stored on an Oyster card at the same time, so the new ticket kicks in as the old one expires.</p>
<p>Oyster also offers a safer alternative to paper tickets because it reduces ticket touting, and you don't need to take the card out of its wallet."</p>
<p>Customers are encouraged to get an Oyster card as soon as possible, to avoid a last-minute rush around 25 September.</p>
            <ul>
<li>TfL has waived the &pound;3 deposit on 7 Day Travelcards from the 14th August until further notice </li>
<li>Customers are not required to register for a 7 day Travelcard on Oyster </li>
<li>On the Tube, DLR and participating National Rail services passengers must touch in and touch out at the start and end of every journey. Bus and tram passengers must touch in at the start of each journey </li>
<li>The world's first Pre Pay with daily price capping is also available on Oyster. Customers will never pay more than the equivalent Day Travelcard price for the zones and modes travelled in a day within zones 1-6 </li>
<li>Pre Pay only applies at some National Rail services. For details visit <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a>. TfL has presented detailed proposals to Train Operating Companies to encourage take-up of Oyster in all rail stations and has offered to finance installation costs for Oyster technology </li>
<li>Customers can get an Oyster card online, at Tube station ticket offices, Oyster Ticket Stops, London Travel Information Centres and some National Rail station ticket offices </li>
<li>National Rail station ticket offices will continue to sell weekly Travelcards as paper tickets </li>
<li>The PRESTIGE project is a 17-year, private finance initiative (PFI) awarded in 1998. The contracting consortium is TranSys, whose members are Cubic Transportation Systems (Cubic), Electronic Data Systems (EDS), Fujitsu and W.S. Atkins.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This change is part of a phased introduction, which has already seen the successful implementation of Pre Pay, monthly and longer period season tickets on Oyster.TfL is waiving the usual &pound;3 refundable deposit for a limited period to make it easier";}
        
        


 