


@{ViewBag.Title = "Bakerloo line suspended north of Stonebridge Park station due to engineering works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bakerloo line suspended north of Stonebridge Park station due to engineering works</h1>
        <div class="content-page-press-release">
        04 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Bakerloo line will be suspended from Stonebridge Park to Harrow & Wealdstone on 14 August, in connection with Network Rail engineering works taking place between Stonebridge Park and Watford Junction.
        
    </div>



 <div class="on-this-page">
<p dir="ltr" style="MARGIN-RIGHT: 0px">Two replacement Bus Services will operate:</p>
<ul>
<li>A: Between Stonebridge Park and Harrow &amp; Wealdstone 
</li><li>B: Between Harrow &amp; Wealdstone and Watford Junction</li></ul>
<p>A bus service will operate on Monday morning from Watford Junction to Stonebridge Park.</p>
<p>Passengers travelling to/from the following stations to Central London are advised to use the following routes:</p>
<ul>
<li>Harrow &amp; Wealdstone Silverlink County services to/from Euston 
</li><li>Kenton Metropolitan line services to/from Northwick Park 
</li><li>Wembley Central Silverlink County to/from Euston</li></ul>
<p>Customers are advised to allow an extra 30 minutes to complete their journeys, especially those wishing to make last train connections.</p>
<p>
<hr>

<p>
<p>For 24-hour information on all London travel, please call: 020 7222 1234 or visit TfL's website: <br><a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </p>
<p>Live information on TfL's Realtime pages displays latest updates to London's transport modes, including the Tube, DLR, bus and Network Rail<br><a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route will be shown automatically<br><a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines 
</li><li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, over half of that in the Tube 
</li><li>The Bakerloo line runs for 23km from Elephant & Castle in the south to Harrow & Wealdstone in the north 
</li><li>The line was opened in stages between 1906 and 1915 
</li><li>Maida Vale station on the Bakerloo line was the first London station to have all-female staff when it opened on 6 June 1915</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two replacement Bus Services will operate:A: Between Stonebridge Park and Harrow &amp; Wealdstone B: Between Harrow &amp; Wealdstone and Watford JunctionA bus service will operate on Monday morning from Watford Junction to Stonebridge Park.Passengers";}
        
        


 