


@{ViewBag.Title = "BTP announce Tube 2004/2005 crime figures";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>BTP announce Tube 2004/2005 crime figures</h1>
        <div class="content-page-press-release">
        24 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Figures released today by the British Transport Police (BTP) show significant changes to the pattern of crime on London Underground (LU) in the year between April 1, 2004 and March 31, 2005.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
Operation Hurricane has helped reduced robbery on the Tube by nearly a third
</p>
</div>
<p>The figures also show that although LU carried a record 976 million passengers last year, overall crime levels on the Tube remained virtually the same. </p>
<p>The funding by the Mayor of London for an additional 200 BTP police officers has enabled the introduction of "reassurance policing" on LU. </p>
<p>This ensures that there is a dedicated team of between two to six police officers focusing on all station groups across the Underground network.</p>
<p>BTP Area Commander of London Underground, Chief Superintendent Paul Crowther, said: "Reassurance policing is now in place across the network. </p>
<p>"As a result, we have been able to make significant progress in reducing volume crime - such as theft and pick-pocketing. </p>
<p>"It has also increased the visibility of our officers and given LU customers and staff the confidence to report crime."</p>
<p>This is borne out by passenger perception surveys demonstrating improvements in perception of safety and security on the Underground in the year to 31 March, 2005. </p>
<p>Ch Supt Crowther said: "BTP and LU work closely together on various campaigns and operations to tackle crime on the Tube. </p>
<p><strong>Joint operations</strong></p>
<p>"Operation Hurricane has helped reduced robbery on the Tube by nearly a third, from 502 in 2003/04 to 357 in 2004/05 - less than one robbery a day. </p>
<p>"Theft of passenger property, the majority of which is pick-pocketing and amounts to the largest category of crime on the Tube, has been reduced by 12.8 per cent."</p>
<p>However, the annual crime figures also show that there have been significant increases in reported drug offences, public disorder and violent crime. </p>
<p>Ch Supt Crowther said: "Joint operations between LU Revenue Protection Inspectors and BTP, like Operation Philadelphia, saw a higher detection rate in drug offences. </p>
<p>"These operations are designed to tackle anti-social behaviour and often include the use of drug-detection dogs. </p>
<p>"The increase in violent crime and public disorder is partially due to the higher levels of proactive policing and patrolling on the Tube, resulting in a greater number of crimes being identified and cleared up. </p>
<p>"Tube staff and passengers are also becoming more confident in coming forward to the BTP to report crime."</p>
<p>Nigel Holness, LU Service Director, said: "In the last two years the Mayor has funded an extra 200 officers to patrol the Tube, bringing the total number of officers to just under 700 - the highest number of BTP officers there has ever been on the Tube.</p>
<p>"LU has a good working relationship with the BTP and this partnership has produced some notable successes, such as Operation Rhino, which tackles line-of-route crimes including trespass and vandalism on the railway, cut by over 20 per cent.</p>
<p>"Reducing graffiti on the network has also made some steady progress, with criminal damage being reduced by 2.6 per cent.</p>
<p>"The innovative BTP/LU Crime and Disorder Partnership has also proved successful in tacking anti-social behaviour, particularly through the use of Anti-Social Behaviour Orders, of which there are currently 146 in operation on the Tube."</p>
<p>"London Underground will continue to work closely with the BTP to tackle all forms of crime and disorder on the Underground, and to provide safe and reliable journeys for all our customers."</p>
<ul>
    <li>LU carries three million passengers every day, more than all of the railway
    networks in Britain. In policing terms the Tube is one of the biggest areas that
    the BTP have to patrol
    </li>
    <li>Last year, LU carried more Tube passengers in a single year - 976 million -
    than ever before, more than the previous high of 970 million set four years ago
    </li>
    <li>LU also ran more trains than ever before, clocking up a huge total of nearly
    70m kms - the equivalent of 1,735 times around the world, or 90 trips to the
    moon and back</li>
</ul>
<p><strong>London Underground BTP Crime Summary</strong> </p>
<p ><br />
<div class="table-container"><table border="1" cellspacing="1" cellpadding="3">
    <tbody>
        <tr>
            <td valign="top" style="width: 40%;"><strong>Crime</strong></td>
            <td valign="top" style="width: 16%;"><strong>2003/2004</strong></td>
            <td valign="top" style="width: 16%;"><strong>2004/2005</strong></td>
            <td valign="top" style="width: 13%;"><strong>No.+/-</strong></td>
            <td valign="top" style="width: 15%;"><strong>% +/-</strong></td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">All Crime</td>
            <td valign="top" style="width: 16%;">18,329</td>
            <td valign="top" style="width: 16%;">18,399</td>
            <td valign="top" style="width: 13%;">+70</td>
            <td valign="top" style="width: 15%;">+0.4%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Violent Crime</td>
            <td valign="top" style="width: 16%;">2,295</td>
            <td valign="top" style="width: 16%;">2,622</td>
            <td valign="top" style="width: 13%;">+327</td>
            <td valign="top" style="width: 15%;">+14.2%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Sexual Offences</td>
            <td valign="top" style="width: 16%;">357</td>
            <td valign="top" style="width: 16%;">352</td>
            <td valign="top" style="width: 13%;">-5</td>
            <td valign="top" style="width: 15%;">-1.4%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Criminal Damage</td>
            <td valign="top" style="width: 16%;">1,509</td>
            <td valign="top" style="width: 16%;">1,470</td>
            <td valign="top" style="width: 13%;">-39</td>
            <td valign="top" style="width: 15%;">-2.6%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Line of route offences</td>
            <td valign="top" style="width: 16%;">260</td>
            <td valign="top" style="width: 16%;">205</td>
            <td valign="top" style="width: 13%;">-55</td>
            <td valign="top" style="width: 15%;">-21.2%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Fraud Offences</td>
            <td valign="top" style="width: 16%;">132</td>
            <td valign="top" style="width: 16%;">138</td>
            <td valign="top" style="width: 13%;">+6</td>
            <td valign="top" style="width: 15%;">+4.5%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Drugs</td>
            <td valign="top" style="width: 16%;">474</td>
            <td valign="top" style="width: 16%;">978</td>
            <td valign="top" style="width: 13%;">+504</td>
            <td valign="top" style="width: 15%;">+106.3%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Theft of Passenger Property</td>
            <td valign="top" style="width: 16%;">10,017</td>
            <td valign="top" style="width: 16%;">8,734</td>
            <td valign="top" style="width: 13%;">-1,283</td>
            <td valign="top" style="width: 15%;">-12.8%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Motor vehicle/cycle offences</td>
            <td valign="top" style="width: 16%;">460</td>
            <td valign="top" style="width: 16%;">465</td>
            <td valign="top" style="width: 13%;">+5</td>
            <td valign="top" style="width: 15%;">+1.1%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Robbery</td>
            <td valign="top" style="width: 16%;">502</td>
            <td valign="top" style="width: 16%;">357</td>
            <td valign="top" style="width: 13%;">-145</td>
            <td valign="top" style="width: 15%;">-28.9%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Theft of railway property</td>
            <td valign="top" style="width: 16%;">1,046</td>
            <td valign="top" style="width: 16%;">1,343</td>
            <td valign="top" style="width: 13%;">+297</td>
            <td valign="top" style="width: 15%;">+28.4%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Public Disorder offences</td>
            <td valign="top" style="width: 16%;">804</td>
            <td valign="top" style="width: 16%;">1,205</td>
            <td valign="top" style="width: 13%;">+401</td>
            <td valign="top" style="width: 15%;">+49.9%</td>
        </tr>
        <tr>
            <td valign="top" style="width: 40%;">Other Crimes</td>
            <td valign="top" style="width: 16%;">473</td>
            <td valign="top" style="width: 16%;">530</td>
            <td valign="top" style="width: 13%;">+157</td>
            <td valign="top" style="width: 15%;">+12.1%</td>
        </tr>
    </tbody>
</table></div>
</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The figures also show that although LU carried a record 976 million passengers last year, overall crime levels on the Tube remained virtually the same. The funding by the Mayor of London for an additional 200 BTP police officers has enabled the";}
        
        


 