


@{ViewBag.Title = "Buses replace trains as track replacement works take place at East Acton";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Buses replace trains as track replacement works take place at East Acton</h1>
        <div class="content-page-press-release">
        04 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Central line will be suspended between White City and Ealing Broadway/ West Ruislip on 13 and 14 August due to track replacement works taking place at East Acton.
        
    </div>



 <div class="on-this-page">
<p>Three Rail Replacement Bus services will operate:</p>
<ul>
<li>A. Between White City and Northolt 
</li><li>B. Between White City and West Ruislip 
</li><li>C. Between White City and Ealing Broadway</li></ul>
<p>Passengers travelling from/to the following stations are advised to use the 
following routes:</p>
<p><strong>West Ruislip<br></strong>Chiltern Line services from/to Marylebone 
Metropolitan and Piccadilly lines from/to Ickenham or Ruislip.</p>
<p><strong>Ruislip Gardens<br></strong>Metropolitan and Piccadilly lines from/to 
Ruilsip or Ruislip Manor.</p>
<p><strong>South Ruislip<br></strong>Chiltern line services from/to 
Marylebone.</p>
<p><strong>Greenford<br></strong>First Great Western Link services from/to 
Paddington.Saturday only.</p>
<p><strong>Hanger Lane<br></strong>Piccadilly line from/to Park Royal. </p>
<p><strong>West Acton<br></strong>Piccadilly line from/to North Ealing.</p>
<p><strong>Ealing Broadway District line<br></strong>First Great Western Link 
services from/to Paddington.</p>
<p>Customers are advised to allow an extra 30 minutes to complete their journeys 
especially those wishing to make the last train connections.</p>
<p>
<hr>

<p>
<p>For 24-hour information on all London travel, please call: 020-7222 1234 or 
visit TfL's website:<br> <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </p>
<p>Live information on TfL's Realtime pages displays latest updates to London's 
transport modes, including the Tube, DLR, bus and Network Rail<br><a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing 
results. The best available route will be shown automatically<br><a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> 
</p>
<p>Travel alerts via SMS and email can be set up at <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Central line</li>
<li>The Central line is the longest line with 74km (46 miles) serving 49 stations</li>
<li>The longest journey without change on the London Underground can be made on the Central line between West Ruislip and Epping (54.9 km, 34.1 miles)</li>
<li>The Central line features the sharpest curve of the Underground system, named the Caxton curve it is located between Shepherd's Bush and White City</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Three Rail Replacement Bus services will operate:A. Between White City and Northolt B. Between White City and West Ruislip C. Between White City and Ealing BroadwayPassengers travelling from/to the following stations are advised to use the following";}
        
        


 