


@{ViewBag.Title = "DLR submits proposed Stratford International extension for TWA approval";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR submits proposed Stratford International extension for TWA approval</h1>
        <div class="content-page-press-release">
        31 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (part of Transport for London) today submitted proposals for the extension to Stratford International for Transport and Works Act (TWA) approval.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This new DLR extension will radically improve accessibility in the Lower Lea valley
                            
                        </p>
                    </div>
                
            
            
            <p>Funded by TfL's five-year &pound;10bn investment programme, the project will open in early 2010 - in good time to enhance DLR's role at the hub of the 2012 Olympics transport network, providing direct links to the Olympic Park at Stratford and a connection between the various Olympic venues in east London.</p>
<p>TWA approval would secure the powers needed to build the extension, which involves conversion of the existing North London line between Canning Town and Stratford with a short onward extension where the route will integrate with the Channel Tunnel Rail Link station.</p>
<p>The 5km route will have four new stations - at Star Lane, Abbey Road, Stratford High Street and Stratford International. </p>
<p>The North London line stations at Canning Town, West Ham and Stratford will also be upgraded to accommodate DLR.<br><br>Richard de Cani, DLR's Head of Development and Planning, said: "This new DLR extension will radically improve accessibility in the Lower Lea valley and help support the major regeneration proposals for the surrounding area. </p>
<p>"It will bring the benefits of DLR in terms of reliable, accessible and frequent public transport to a broader catchment area in east London. </p>
<p>"We look forward to a decision from the Government by late 2006." </p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Funded by TfL's five-year &pound;10bn investment programme, the project will open in early 2010 - in good time to enhance DLR's role at the hub of the 2012 Olympics transport network, providing direct links to the Olympic Park at Stratford and a";}
        
        


 