


@{ViewBag.Title = "DLRs airport extension goes live";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLRs airport extension goes live</h1>
        <div class="content-page-press-release">
        18 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Construction of Docklands Light Railway's 4.4km extension from Canning Town to London City Airport and King George V at North Woolwich has reached another important milestone.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The &pound;140m project is on schedule to open in December
                            
                        </p>
                    </div>
                
            
            
            <p>Following inspection using a gauging train to ensure that there were no obstacles on or on either side of the tracks, the route was powered up and test trains are now running.</p>
<p>Now at the commissioning stage, during the next three months works will include individual testing of each railway system - particularly signalling - leading to the next step, which will be integration into the existing network. </p>
<p>The final stage of testing will be the system performance demonstrations, when the trains will follow proposed service patterns.</p>
<p>Construction of the four stations is well under way and the &pound;140m project is on schedule to open in December.</p>
<p>Work has also started on the 2.5km extension from King George V under the Thames to Woolwich Arsenal. </p>
<p>The City Airport extension, together with the Woolwich extension and the proposed conversion of the North London Line to form the Stratford International extension, will all be operational in good time for the 2012 Olympics - ensuring that DLR will be at the hub of east London transport systems.<br></p>
            <ul>
<li>Extensions to the DLR are being funded by the Mayor's five-year, &pound;10bn investment programme</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following inspection using a gauging train to ensure that there were no obstacles on or on either side of the tracks, the route was powered up and test trains are now running.Now at the commissioning stage, during the next three months works will include";}
        
        


 