


@{ViewBag.Title = "Hammersmith and City services restored from 2 August";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith and City services restored from 2 August</h1>
        <div class="content-page-press-release">
        01 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A full service will operate from August 2 on the Hammersmith & City line.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A full service will operate on the District line between Wimbledon and Edgware Road
                            
                        </p>
                    </div>
                
            
            
            <p>This will be the first time since 7 July that services have operated on the whole line between Hammersmith and Barking.</p>
<p>A rail replacement bus service between Hammersmith and Edgware Road will be in place until the end of Monday 1 August.<br><br>A full service will also operate on the <strong>District line</strong> between Wimbledon and Edgware Road, and on all parts of the <strong>District line</strong> with all stations served.</p>
<p>Further information on when full services will resume on the <strong>Circle</strong> and <strong>Piccadilly lines</strong> will be available later this week. </p>
<p>The <strong>Circle line</strong> has been suspended since 7 July 2005. </p>
<p>Work continues to restore services on the <strong>Circle line</strong> as quickly as possible but recommencing services along the entire length of the <strong>Hammersmith & City line</strong> first delivers the biggest benefit to customers.</p>
<p>All <strong>Circle line</strong> stations are served by <strong>District, Hammersmith & City</strong> and <strong>Metropolitan line</strong> services. </p>
<p>
<p>It is anticipated that <strong>Circle line</strong> services will be restored shortly.<br></p>
<p>The <strong>Piccadilly line</strong> is currently not operating between Hyde Park Corner and Arnos Grove, and between Rayners Lane and Uxbridge. </p>
<p>Until further notice, a special bus service will call at Arnos Grove and Finchley Central to provide a connection with the <strong>Northern line</strong>.</p>
<p>A second special bus service will operate from Arnos Grove, calling at Bounds Green, Wood Green, Turnpike Lane and Seven Sisters to connect with <strong>Victoria line</strong> services.</p>
<p>Additional bus services are operating on route 91 between Holloway Road and Euston via Caledonian Road and King's Cross St Pancras.</p>
<hr>

<p>
<p>Live information on TfL's Realtime pages displays latest updates to London's transport modes, including the Tube, DLR, bus and Network Rail<br><a href="http://www.tfl.gov.uk/realtime">http://www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route will be shown automatically<br><a href="http://www.tfl.gov.uk/journeyplanner">http://www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at <a href="http://tfl.gov.uk/alerts">http://tfl.gov.uk/alerts</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This will be the first time since 7 July that services have operated on the whole line between Hammersmith and Barking.A rail replacement bus service between Hammersmith and Edgware Road will be in place until the end of Monday 1 August.A full service";}
        
        


 