


@{ViewBag.Title = "Harrow-on-the-Hill station celebrates 125th birthday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Harrow-on-the-Hill station celebrates 125th birthday</h1>
        <div class="content-page-press-release">
        02 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Actors dressed in period costume handed out leaflets explaining the history of the station to customers this morning and London Underground (LU) staff along with invited guests cut a special birthday cake to celebrate this significant milestone.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Metropolitan line is where London Underground began
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground has come a long way in its 142-year history and Harrow-on-the-Hill station and the Metropolitan line have played a key role in its development. </p>
<p>The network has grown considerably since Harrow-on-the-Hill opened to passengers on 2 August 1880 and today the Tube serves 275 stations, operates over 500 trains during peak times on 253 miles of track and carries an average of three million passengers per day.</p>
<p>The Metropolitan Railway, forerunner of the Metropolitan line, was the first Underground railway in the world.</p>
<p>The original section between Paddington and Farringdon opened on 10 January 1863 and is now part of the Hammersmith &amp; City line.</p>
<p>During the 1860s and 1870s, a branch line was created from Baker Street running into the north west suburbs.</p>
<p>The first section to Finchley Road was underground, but at this point, which was then the edge of London, the line continued overground through green fields.</p>
<p>The railway reached Willesden Green, then a little village, in 1879 and to Harrow-on-the-Hill on 2 August 1880.
<p>All trains were steam hauled for the first 25 years, and the Metropolitan Railway began to transform itself into a long distance overground railway almost like a main line, with an underground section attached.</p>
<p>
<h2>Steam trains</h2>
<p>Harrow-on-the-Hill was the only terminus for five years. The Metropolitan Railway reached Pinner by 1885 and by 1892 trains were running to Amersham, Aylesbury and beyond. </p>
<p>The branch to Uxbridge was opened in 1904, and in 1905 the line was electrified from central London through Harrow to Uxbridge. </p>
<p>Electric locomotives were changed at Harrow for steam trains to continue on up the main line. </p>
<p>In 1925, the Metropolitan Railway expanded further, with an extension from Moor Park via Croxley to Watford.</p>
<p>The Watford branch was electrified from the outset, but steam survived north of Rickmansworth until 1961 when the line was electrified to Amersham and Chesham and the service beyond Amersham was taken over by British Rail (now Chiltern Railways).</p>
<p>By the 1920s and 1930s, Harrow-on-the-Hill had become one of the busiest stations on the Metropolitan Railway.</p>
<p>The station was gradually enlarged with extra tracks and platforms and a major reconstruction followed from 1938 to 1943. </p>
<p>In the 1980s and more recently, the interchange facilities with buses and the shopping centre have all added modern features to the station and its surroundings.<br></p>
<p>Paul Kilius-Smith, General Manager, Metropolitan line said: "The Metropolitan line is where London Underground began. When Harrow-on-the-Hill station opened 125 years ago, the railway then terminated in rural surroundings and a lot has certainly changed since then.</p>
<p>"Without a doubt, the Metropolitan Railway drove the expansion of London.</p>
<p>"What hasn't changed is the aim of the Underground which has always been to move large numbers of people into and around London quickly."</p>
<p>By 2009, Harrow-on-the-Hill will be completely refurbished and by 2013 there will be 71 new trains running on the Metropolitan line.</p>
<p>Further expansion of the Metropolitan line is also planned. This could see services extended from Croxley to Watford Junction and on to Watford High Street by 2010.<br></p>
            <ul>
<li>The Metropolitan line is 67km (41.5 miles) in length and serves 34 stations between Aldgate to Amersham, with branches to Chesham, Watford and Uxbridge;</li>
<li>The Metropolitan line holds the record for the longest distance between Underground stations at 6.25 km (3.89 miles) between Chesham and Chalfont & Latimer;</li>
<li>At 27 miles, Amersham on the Metropolitan line holds another Underground record for being the furthest distance of any Underground station from central London.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground has come a long way in its 142-year history and Harrow-on-the-Hill station and the Metropolitan line have played a key role in its development. The network has grown considerably since Harrow-on-the-Hill opened to passengers on 2 August";}
        
        


 