


@{ViewBag.Title = "Major track replacement works on Piccadilly and District lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major track replacement works on Piccadilly and District lines</h1>
        <div class="content-page-press-release">
        03 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On 6 and 7 August, London Underground must close the Piccadilly line from Acton Town to Hyde Park Corner and the District line from Earl's Court to Acton Town to enable Metronet to replace the track.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL is investing &pound;10bn to improve the network
                            
                        </p>
                    </div>
                
            
            
            <p>Further weekend closures will be required later this year and over the course of the following two years to complete the job.</p>
<p>Alternative transport to affected destinations this weekend is as follows:</p>
<p><strong>Between Heathrow Airport and Central London</strong></p>
<p>Ticket acceptance arrangements will be in place with the Heathrow Express and Heathrow Connect service. </p>
<p>LU customers who hold a valid London Underground Zone 1-6 Travelcard (both season and day tickets), a London Underground Zone 1-6 Oystercard or a Freedom Pass are allowed to travel between Heathrow and Paddington on the Heathrow Express or the Heathrow Connect service on this weekend only.</p>
<p>Children under 16 travel free on the Heathrow Express or Heathrow Connect service when accompanied by an adult with a valid ticket. </p>
<p>The Heathrow Express provides fully accessible travel to and from Paddington to Heathrow every 15 minutes, with a 15 minute journey time while the Heathrow Connect service operates every 30 minutes with an average journey time of 25 minutes calling at Ealing Broadway, West Ealing, Hanwell, Southall and Hayes &amp; Harlington.</p>
<p>Heathrow Connect does not call at West Ealing and Hanwell before 5am Monday to Saturday with no service at all on Sundays.</p>
<p>Customers can still travel between Central London and Heathrow on the Underground via the Central line to Ealing Broadway, then the District line shuttle to Acton Town which will operate at a frequency of three trains per hour, and then the Piccadilly line to Heathrow Terminals 123 (or change at Hatton Cross for the rail replacement bus to Terminal 4).</p>
<p>This route would take approximately 80 minutes from Central London and is not recommended for customers with mobility impairments or large amounts of luggage.</p>
<p><strong>Between all stations Hatton Cross to Acton Town and Central London</strong></p>
<p>Customers travelling between Piccadilly line stations west of Acton Town and Central London are advised to take the District line from Acton Town or Ealing Common to Ealing Broadway and change there for the Central Line.</p>
<p>Customers using this route will need to allow an extra 30 minutes to make their journey.</p>
<p><strong>Between Gunnersbury, Kew Gardens and Richmond and Central London</strong></p>
<p>Silverlink Metro will still operate between Gunnersbury and Richmond, operating a 15-minute service on both Saturday (as normal) and Sunday (boosted from 2 trains per hour to 4 trains per hour).</p>
<p>Valid Underground tickets will also be accepted on South West Trains between Richmond, Vauxhall and Waterloo. However, on Sunday 16 October only, South West Trains will operate a rail replacement bus while Network Rail also carries out engineering works.</p>
<p>Local journeys and between West Kensington and Chiswick Park<br>To cater for local traffic, two rail replacement bus services will operate in both directions stopping at the following stations:</p>
<ul>
<li>West Brompton - West Kensington - Hammersmith </li>
<li>Hammersmith - Ravenscourt Park - Stamford Brook - Turnham Green - Chiswick Park - Gunnersbury - Acton Town. It will not be possible to run a bus service to and from Barons Court because of local street traffic conditions.</li></ul>
<p>For 24-hour information on all London travel, please call: 020-7222 1234 or visit <a href="http://www.tfl.gov.uk/">TfL's website</a></p>
<hr>
Live information on TfL's Realtime pages displays latest updates to London's transport modes, including the Tube, DLR, bus and Network Rail<br><a href="http://www.tfl.gov.uk/realtime">http://www.tfl.gov.uk/realtime</a> 
<p>Journey Planner checks the transport network's status before providing results. The best available route will be shown automatically</p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube; 
</li><li>Metronet Rail SSL is responsible for the maintenance and renewal of the Circle, District, Hammersmith & City, Metropolitan and East London lines; 
</li><li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines; 
</li><li>Metronet Rail SSL is responsible for the maintenance of the District line track that is being renewed between Barons Court and Ravenscourt Park and the Piccadilly line track between Hammersmith and Acton Town as the District and Piccadilly lines run above ground in parallel to each other. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Further weekend closures will be required later this year and over the course of the following two years to complete the job.Alternative transport to affected destinations this weekend is as follows:Between Heathrow Airport and Central LondonTicket";}
        
        


 