


@{ViewBag.Title = "Modernisation continues at Wembley Park";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Modernisation continues at Wembley Park</h1>
        <div class="content-page-press-release">
        09 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The major reconstruction work at Wembley Park station will mean that the station will be closed on weekends: 13-14; 20-21; 27-28 and Bank Holiday Monday 29 August, and 17-18 September.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The programme of works will increase the capacity of the station
                            
                        </p>
                    </div>
                
            
            
            <p>Two replacement bus services will be operating during the closures for passengers travelling between Wembley Park, Kingsbury and Preston Road.<br><br>Jubilee and Metropolitan line trains will be running non-stop through Wembley Park station.<br><br>The last Metropolitan line train will leave Baker Street two minutes earlier, and the last Jubilee line train will run eight minutes later than normal to Stanmore.<br><br>The programme of works, which are being carried out by Tube Lines, will increase the capacity of the station in line with the opening of the new, larger Wembley Stadium, which is due to be unveiled in 2006.</p>
<p>The closures will enable not only the testing and commissioning of a new public address system, fire alarms, CCTV and power supplies, but also the completion of areas of building work, including platform work and signage.<br><br>Capacity improvements are expected to be completed by September 2005, with the completion of all works at the station by May 2006.</p>
<hr>
For 24-hour information on all London travel, please call: 020 7222 1234 or visit TfL's website: <a href="http://www.tfl.gov.uk/">www.tfl.gov.uk</a> 
<p>
<p>Live information on TfL's Realtime pages displays latest updates to London's transport modes, including the Tube, DLR, bus and Network Rail: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route will be shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two replacement bus services will be operating during the closures for passengers travelling between Wembley Park, Kingsbury and Preston Road.Jubilee and Metropolitan line trains will be running non-stop through Wembley Park station.The last Metropolitan";}
        
        


 