


@{ViewBag.Title = "Tube passenger numbers showing strong recovery";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube passenger numbers showing strong recovery</h1>
        <div class="content-page-press-release">
        19 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passenger numbers on the Tube are now showing signs of a strong recovery following the attacks on 7 and 21 July, London Underground (LU) said today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These figures clearly demonstrate how London is returning to a more normal situation
                            
                        </p>
                    </div>
                
            
            
            <p>Passenger numbers are now down only around five per cent on last year's record numbers.</p>
<p>In the weeks immediately following 7 July, LU passenger numbers were down around 10-15 per cent on weekdays and 20-25 per cent at the weekends. </p>
<p>LU regularly carries over three million passengers each weekday.</p>
<p>The full Tube network was restored on 4 August, with the return of the Circle line and Piccadilly line through central London.</p>
<p>The improving trend in passenger numbers comes after London Mayor Ken Livingstone, TfL and Visit London announced this week details of a new multi-million pound campaign, Everyone's London, aimed at boosting London's economic recovery.</p>
<p>Mr Livingstone said: "These figures clearly demonstrate how London is returning to a more normal situation following the recent bomb attacks, reflecting the determination of Londoners to continue enjoying the attractions of our city and not to be defeated by the acts of terrorists.</p>
<p>"London remains one of the safest cities in the world and Londoners are continuing to travel to work by Tube and visit London's many attractions. </p>
<p>"The special promotions and events in the Everyone's London campaign will further encourage both Londoners and visitors to take advantage of what this great city has to offer."</p>
<p>LU Managing Director Tim O'Toole said: "Last year, London Underground ran more trains and carried more people than ever before. </p>
<p>"It's great to see passengers are now using the Tube again in numbers approaching those record figures.</p>
<p>"We've been operating full services for two weeks now and are determined to get on with the job of transforming the Tube.</p>
<p>"We're also delighted to support the Everyone's London campaign."</p>
<p>Last year, LU carried more Tube passengers in a single year - 976 million - than ever before, more than the previous high of 970 million set four years ago.</p>
<p>LU also ran more trains then ever before, clocking up a huge total of nearly 70 million km. </p>
<p>That's the equivalent of 1,735 times round the world, or 90 trips to the moon and back.</p>
            <ul>
<li>TfL is supporting the "Everyone's London campaign through a series of promotions and a major advertising campaign involving bus, Tube, tram and DLR-backed advertising, on and off the transport network 
</li><li>TfL-backed promotions will include a fantastic offer on the British Airways London Eye, London Zoo, musicals such as Fame and Saturday Night Fever, and restaurants including Bella Pasta 
</li><li>For more information on the Everyone's London campaign, please contact the Visit London Press Office on 020 7234 5710 or check out the website at <a href="http://www.visitlondon.com">www.visitlondon.com</a> 
</li><li>For more information on the Tube and transport in London, check out the TfL website at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or call London Travel Information on 020 7222 1234</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passenger numbers are now down only around five per cent on last year's record numbers.In the weeks immediately following 7 July, LU passenger numbers were down around 10-15 per cent on weekdays and 20-25 per cent at the weekends. LU regularly carries";}
        
        


 