


@{ViewBag.Title = "Tube launches new Circle line art project - From Here to Here";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube launches new Circle line art project - From Here to Here</h1>
        <div class="content-page-press-release">
        10 August 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The images reveal some of the most evocative places in the city through the eyes of writers and designers
                            
                        </p>
                    </div>
                
            
            
            <p><strong>As part of the London Design Festival (LDF), <a href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/artmusicdesign/pfa/artists/fromhere.asp">From Here to Here</a> is a unique collaboration which brings together London Underground's (LU) Platform for Art; LU staff; design students from London College of Communication (part of University of the Arts London); Cyan Books and 26, the writers' group.</strong></p>
<p>The locations, history and architecture of the 27 stations of the Circle line have inspired 27 stories; from the roof garden at High Street Kensington to the homeliness of Mansion House; from the cosmopolitan diversity of Bayswater and Edgware Road to the literary icons of Great Portland Street.</p>
<p>Discover the hidden story of each station, as recounted by members of London Underground staff, writers from 26 and students from London College of Communication.</p>
<p>Which station has a river flowing above its platform? Which sculptures caused a huge controversy in 1929? What brought scientific wonder to Euston Square in 1808?</p>
<p>Read each story and see the images, which reveal some of the most evocative places in the city through the eyes of writers and designers who will take you on a tour beyond the scope of tourist guidebooks. </p>
<p>Platform for Art is presenting each image on a series of posters around the Circle line, with the complete set shown in Embankment station:</p>
<ul>
<li>Circle line poster display: 8 September-8 October </li>
<li>Exhibition: 16 September-12 October </li>
<li>London Design Festival: 15-30 September </li>
<li>Book publication date: 1 September</li></ul>
<p>All the images will also feature in an exhibition at London College of Communication at Elephant &amp; Castle, opening on September 15. </p>
<p>A book containing the rich stories from each locale will be published by Cyan Books.</p>
            <ul>
<li>This project has been in development since January 2005 
</li><li>Following the attacks on London on 7 July 2005, it has been decided by all 
creative parties that the project will be dedicated to London and the victims of 
these attacks 
</li><li>The From Here to Here<em> </em>tube exhibition is the latest project from 
Platform for Art's Creative Communities programme and will be displayed in all 
Circle line stations from 8 September-8 October 2005 
</li><li>An exhibition of all 27 posters and written texts will be displayed at 
London College of Communication, Elephant & Castle, London SE1 from 16 
September to 12 October 2005 (private view 15 September) 
</li><li>London College of Communication is one of the five colleges of University of 
the Arts London, the first dedicated art and design institution to achieve 
university status in the UK 
</li><li>The other world-renowned colleges are: Camberwell College of Arts, Central 
Saint Martins College of Art and Design, Chelsea College of Art and Design and 
London College of Fashion 
</li><li>Between them, the colleges have produced many of the greatest names in art, 
design and communication, including: Anish Kapoor, John Galliano, Ralph Fiennes, 
Sarah Lucas, Gavin Turk, Stella McCartney, Gilbert and George, Antony Gormley, 
Pierce Brosnan, Mike Leigh, Malcolm McLaren and Colin Firth<br><a href="http://www.arts.ac.uk" target="_blank">www.arts.ac.uk</a> 
</li><li>26 is a not-for-profit group that champions the cause of more effective, 
more creative writing in working life. Its membership of over 250 people ranges 
from internationally recognised poets to influential directors of some of the 
UK's best-known organisations.<br><a href="http://www.26.org.uk" target="_blank">www.26.org.uk</a> 
</li><li>The London Design Festival 2005 takes place from 15-30 September. 
Established in 2003 to promote and celebrate London and the UK's creativity, 
this year's Festival is being staged by over 100 partner organisations in venues 
across the City<br><a href="http://www.londondesignfestival.com" target="_blank">www.londondesignfestival.com</a> 
</li><li>From Here to Here encapsulates the collaborative spirit of LDF 
</li><li>Cyan Books will publish From Here to Here on 1 September 2005. The featured 
writers from 26 are: Simon Armitage, Nick Astbury, Will Awdry, Tim Coates, Rishi 
Dastidar, Jim Davies, Stuart Delves, Lisa Desforges, Laura Forman, Dan Germain, 
Martin Gorst, Simon Jones, Gordon Kerr, Tom Lynham, Ian Marchant, David May, 
Karen McCarthy, Sarah McCartney, Steve Mullins, Richard Owsley, Dan Radley, Mike 
Reed, Tim Rich, Anelia Schutte, Tim Segaller, John Simmons, Neil Taylor, Elise 
Valmorbida, David Varela, Rob Williams and Jayne Workman<br><a href="http://www.fromheretohere.com" target="_blank">www.fromheretohere.com</a> 
</li><li><a href="http://www.tfl.gov.uk/pfa" target="_blank">Platform for Art</a> is the public art 
programme for London Underground. For more information on Platform for Art, its 
exhibitions and projects, please tel: 020 7918 4625 or email: <a href="mailto:plat4art&#64;tube.tfl.gov.uk" target="_blank">plat4art&#64;tube.tfl.gov.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of the London Design Festival (LDF), From Here to Here is a unique collaboration which brings together London Underground's (LU) Platform for Art; LU staff; design students from London College of Communication (part of University of the Arts";}
        
        


 