


@{ViewBag.Title = "Acclaimed artist Michael Landy brings Acts of Kindness to the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Acclaimed artist Michael Landy brings Acts of Kindness to the Underground</h1>
        <div class="content-page-press-release">
        16 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers and staff invited to submit stories of kindness seen on the Tube.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm interested in what sort of exchange happens between strangers in an act of kindness"</div>
        <div class="quote-footer">
            <div class="quotee-name">Artist</div>
            <div class="quotee-job-title">Michael Landy</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm interested in what sort of exchange happens between strangers in an act of kindness
                            
                        </p>
                    </div>
                
            
            
            <p>Art on the Underground presents Acts of Kindness - a&nbsp; new art project for stations and trains on the Central line created by Michael Landy, one of the UK's leading artists, in collaboration with London Underground passengers and staff. </p>
<p>This project celebrates the ordinary acts of generosity and compassion that take place every day on the Tube.</p>
<p>From 18 June Acts of Kindness invites users of the Underground, as well as Central line staff, to share stories of kindness that they have witnessed or been part of while travelling by Tube or on duty. </p>
<p>Passengers should look out for posters across the Tube network or go to <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a> to submit their stories.</p>
<p>Landy will select from these stories and place them as poster artworks in stations and trains along the Central line, adding more to look out for over time. </p>
<p>The first Acts of Kindness stories will be debuted at four Central Line stations from the weekend of 23 July. </p>
<p>More stories will be published <a href="http://www.tfl.gov.uk/art">online</a>. </p>
<p>In the future, trains travelling on the line will also carry the stories.</p>

<h2>Heroic acts</h2>
<p>Michael Landy is interested in small, fleeting exchanges of kindness as much as heroic acts. </p>
<p>Commenting on the project, he said: 'Sometimes we tend to assume that you have to be superhuman to be kind, rather than just an ordinary person'. </p>
<p>Landy first began thinking about the idea behind Acts of Kindness in 2001 immediately after making his work Break Down. </p>
<p>For Break Down he destroyed all his possessions, from his birth certificate to his car. </p>
<p>The experience of being left with nothing helped him reflect on what we are aside from what we own, and on the value of feeling part of a common humanity. </p>
<p>'One of the questions that motivated Break Down', he said, 'was what makes us human, more than just being consumers. </p>
<p>'I guess I wanted to take that a step further. </p>
<p>'I was looking for the right situation to explore what value kindness has, what it means, and what kind of exchange is involved in giving someone a helping hand.'</p>
<p>He found the situation he was looking for in London Underground when he witnessed two strangers, one trying to help the other. </p>

<h2>Gesture of trust</h2>
<p>'I'm interested in what sort of exchange happens between strangers in an act of kindness. </p>
<p>'It's a gesture of trust between two people. </p>
<p>'There's a risk in that. </p>
<p>'They may just ignore you or take it the wrong way. </p>
<p>'I'm fascinated by when you see people prepared to give up something for somebody they don't know. </p>
<p>'It's a remarkable moment. </p>
<p>'It's unexpected, life-enhancing. </p>
<p>'I think sometimes it's easier to remember those times when people have been unkind. </p>
<p>'But once you start to notice kindness you see it happening more and more.'</p>
<h2>Innovative art</h2>
<p>Munira Mirza, Cultural Advisor to the Mayor of London, said: 'Art on the Underground is one of the world's most innovative public art programmes, showing works by leading artists and enlivening the environment of the Tube for millions of passengers. </p>
<p>'This latest commission by the well-known British artist, Michael Landy, helps capture the character of London Underground and the city it serves.'</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'I'm sure Michael Landy's Acts of Kindness will provoke a range of very interesting responses and I'm looking forward to seeing new stories of kindness appearing on the Central line.</p>
<p>'This project is Michael's response to our invitation to make a new artwork for the Underground and his intelligent approach has lead to a project with exciting potential in this challenging context.'</p>
<p>Moira Sinclair, London Executive Director of Arts Council England, said: 'Many people view the Tube as a functionary part of living in the Capital, as they dash from place to place and bury their heads in a book or their newspaper.&nbsp; </p>
<p>'What Michael Landy's project will capture is the interactions between people on our iconic transport system, reminding us all that we have and need connections and celebrating both London and Londoners in the process.'</p>
<p>Posters designed by the artist, inviting users of London Underground to share their stories, will go live on the Tube network from the weekend of 18 June. </p>
<p>'Passengers will also be able to find out more and submit their stories at <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a> from 18 June.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong>:</p>
<ul>
<li>The first Central line stations to receive the Acts of Kindness stories include Holland Park, Holborn and Liverpool Street </li>
<li>Artist Michael Landy (born in 1963) grew up in east London where he still lives. Throughout his life most of his journeys have started out on the Central line. Landy was inspired to be an artist when as a child a picture he had made was shown on the BBC TV programme Take Hart. After school he studied art at Loughton, Loughborough and Goldsmiths. Shortly afterwards he achieved acclaim as one of the Young British Artists who transformed the international art scene in the early 1990s. Landy's major projects include Break Down (Artangel, 2001), where he destroyed all his material possessions. He made a painstakingly detailed list of everything he owned, totalling 7,227 items. Then a team of boiler-suited helpers passed them all one by one along a conveyor belt to be shredded and granulated in a former C&amp;A store on Oxford Street. He walked away with nothing but a pair of overalls. The experience led him to reflect deeply on the value of the small acts of compassion that connect us with others, and triggered his idea for Acts of Kindness. Landy is currently Associate Artist at the National Gallery. In recognition of his major contribution to contemporary art, he was made a lifetime member of the Royal Academy of Arts in 2008 </li>
<li>Acts of Kindness is the first in Art on the Underground's Central line series of artist's projects taking place from 2011 to 2012. The Central line is 46 miles long, connects with all other Underground lines, and has 49 stations in 12 boroughs. The Central line series takes inspiration from the variety of people and places spanned by the line. Each project explores the theme of communication and exchange, and the connections we make with others. The Central line series of temporary commissions is supported by the National Lottery through Arts Council England </li>
<li>Tube passengers can contribute their stories by visiting the project web pages at <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a>. Visit the website for full terms and conditions </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but Transport for London (TfL)&nbsp;is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to <a href="http://www.tfl.gov.uk/livetravelnews">check before they travel</a> at weekends, allowing extra journey time where necessary</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Art on the Underground presents Acts of Kindness - a&nbsp; new art project for stations and trains on the Central line created by Michael Landy, one of the UK's leading artists, in collaboration with London Underground passengers and staff. This project";}
        
        


 