


@{ViewBag.Title = "Big Red Book is a winner";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Big Red Book is a winner</h1>
        <div class="content-page-press-release">
        28 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has won a National award for employee communications at the Institute of Internal Communications annual awards.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am very pleased that the quality of this excellent guide has been recognised with this national award"</div>
        <div class="quote-footer">
            <div class="quotee-name">Clare Kavanagh</div>
            <div class="quotee-job-title">Director of Performance</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am very pleased that the quality of this excellent guide has been recognised with this national award
                            
                        </p>
                    </div>
                
            
            
            <p>The award was presented for the Big Red Book, an invaluable guide that is produced for London's 23,500 bus drivers.&nbsp;</p>
<p>The book provides clear direction on the level of service passengers and TfL expect.&nbsp; </p>
<p>It also provides guidance and support to drivers on how to deal effectively with the tricky situations they encounter every day and contains a complete guide to bus services throughout London to help them provide information to passengers.</p>
<p>Clare Kavanagh, Director of Performance said: 'I am very proud of the team here at TfL who have created this award winning guide.&nbsp;London's bus drivers are representative of the Capital's diverse population and for many English is not their first language.&nbsp; </p>
<p>'Therefore a well written, clear and easy to refer to guide is vital.&nbsp;I am very pleased that the quality of this excellent guide has been recognised with this national award.'</p>
<p>The first edition of the Big Red Book was produced in autumn 2008 and brought together many issues that were covered in separate materials, such as ticketing and how to help disabled passengers, into the one concise and portable guide.&nbsp; </p>
<p>The current version was issued in 2010. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The award was presented for the Big Red Book, an invaluable guide that is produced for London's 23,500 bus drivers.&nbsp;The book provides clear direction on the level of service passengers and TfL expect.&nbsp; It also provides guidance and support to";}
        
        


 