


@{ViewBag.Title = "Businesses urged to start planning now to keep on running effectively during London 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Businesses urged to start planning now to keep on running effectively during London 2012 Games</h1>
        <div class="content-page-press-release">
        14 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London 2012 and Transport for London (TfL) today urged businesses to take advantage of a range of tools and advice on offer ahead of the London 2012 Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Introducing flexible working hours or arranging for deliveries at different times are some of the options available. Planning ahead will be invaluable, and we will continue to work closely with businesses on how best to do this."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Introducing flexible working hours or arranging for deliveries at different times are some of the options available. Planning ahead will be invaluable, and we will continue to work closely with businesses on how best to do this.
                            
                        </p>
                    </div>
                
            
            
            <p>With millions of&nbsp;additional trips expected in the capital next summer, it is vital businesses continue to&nbsp;run effectively and make the most of this once in a lifetime opportunity.</p>
<p>All transport improvements are on track to be delivered well ahead of the 2012 Games, with many already providing an early legacy for London and the UK.&nbsp; </p>
<p>However, the transport network will be busier than usual and businesses, particularly in the Capital and around Games venues nationally, need to start planning now so they can keep on running effectively during the Games.&nbsp; </p>
<p>London 2012 and TfL are offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and they can make and receive important deliveries during the Games.</p>
<p>As part of this advice they are asking businesses to consider ways which will help reduce their overall need to travel including:</p>
<ul>
<li>Staggering the start and finish times of working days </li>
<li>Providing the facilities for staff to work from home </li>
<li>Stocking up on non-perishable materials well before the Games </li>
<li>Arranging earlier or later deliveries </li>
<li>Managing annual leave </li>
<li>Temporarily relocating employees or altering their working hours </li>
<li>Helping staff re-plan their travel </li>
<li>Using conference/video/web calls </li>
<li>Encouraging and enabling staff to cycle and walk.</li></ul>
<p>London 2012 and TfL are already engaging with the business community, with around 100 major businesses, such as Deloitte and PwC, already signed up for specific advice. </p>
<p>This week alone, events are taking place with the London Chamber of Commerce and Industry and with Canary Wharf companies to help them start planning now for the 2012 Games period. </p>
<p>Further sessions will take place later in the year, when further details become available.</p>
<p>London's Transport Commissioner, Peter Hendy said: 'All transport improvements are on track to be delivered well ahead of the Games.&nbsp;But with millions of people coming to enjoy the Games and all that London and the UK have to offer, transport networks will be severely affected.&nbsp;That's why we're urging businesses to plan ahead now, to ensure they can keep on running effectively during the summer of 2012.</p>
<p>'Introducing flexible working hours or arranging for deliveries at different times are some of the options available.&nbsp;Planning ahead will be invaluable, and we will continue to work closely with businesses on how best to do this.'</p>
<p>Stephen Romily, Head of Business Continuity &amp; Intelligence at Canary Wharf Group plc said: 'The London 2012 Games present a huge opportunity for business and will celebrate the East End's amazing transformation over the past 20 years. </p>
<p>'Planning ahead is essential to be ready for the opportunities and respond to the challenges. </p>
<p>'We are working closely with TfL and our tenants to minimise disruption and ensure that Canary Wharf remains very much open for business, shopping and hospitality in the midst of the world's greatest sporting event.'</p>
<p>Businesses are advised to visit <a href="http://www.london2012.com/traveladviceforbusiness">london2012.com/traveladviceforbusiness</a> where they can register for regular email bulletins, view maps of affected areas, download documents to help plan and view hints and tips on how to create an action plan.&nbsp; </p>
<p>Companies with more than 250 employees are also eligible for support from specialist travel advisors who can help them produce travel action plans for Games time.&nbsp; Businesses can email the team on <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> to find out more.</p>
<h2>Notes to Editors</h2>
<p>1.&nbsp;Details of case studies are available upon request</p>
<p>2.&nbsp;TfL will be the official lead on transport operations during the London 2012 Games. This will incorporate the road networks as well as all public transport. TfL is on track with a multi-billion investment programme for the Games and is delivering improvements in the capacity, reliability and security of the transport network</p>
<p>3.&nbsp;Around &pound;6.5bn has been invested in improving existing transport links and building new ones where needed, across London and the UK</p>
<p>4.&nbsp;This work will help hundreds of thousands of spectators get to and from the Games each day, keep London and the UK moving, and is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the 2012 Games</p>
<p>5.&nbsp;All transport improvements are on track to be delivered well ahead of the Games, including the new Javelin rail service. Tube upgrades on the Central and Jubilee lines, new DLR carriages and extensions, new and improved London Overground and national rail links, bigger and better stations and accessibility improvements across the transport network</p>
<p>6.&nbsp;Alongside infrastructure improvements, there will be national coach and bus networks for the Games, Park and Ride for those who wish to use cars for a part of their journey and millions invested in new walking, cycling and river routes.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With millions of&nbsp;additional trips expected in the capital next summer, it is vital businesses continue to&nbsp;run effectively and make the most of this once in a lifetime opportunity.All transport improvements are on track to be delivered well ahead";}
        
        


 