


@{ViewBag.Title = "Crime continues to fall on the transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crime continues to fall on the transport network</h1>
        <div class="content-page-press-release">
        03 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has welcomed the news that once again the number of crimes on the transport network has fallen.
        
    </div>



 <div class="on-this-page">
<p>New figures released by the British Transport Police (BTP) and the Metropolitan Police Service show that crime on the Underground and Docklands Light Railway (DLR) went down by seven per cent and offences on London's bus network down by four per cent in the last twelve months. </p>
<p>The figures show that in 2010/11:</p>
<ul>
<li>Violent crime against a person offences on the bus network has been cut by five per cent</li>
<li>Public disorder offences on the Tube and DLR are down by 11 per cent</li>
<li>Vandalism has reduced by 20 per cent for the Tube and DLR, and 12 per cent for buses</li>
<li>Theft on the bus network is down by six per cent</li></ul>
<p>Over the last three years the Mayor and TfL have increased investment in transport safety and security. </p>
<p>Safer Transport Teams have were introduced in all London Boroughs, providing over 400 MPS officers, and a cycle task force of 40 officers has been created. </p>
<p>In addition, the consumption of alcohol on the TfL services has been banned, which has won the support of Londoners wanting to improve their experience of travelling on the Tube and on the bus.</p>
<p>Boris Johnson, the Mayor of London, said: 'When I became Mayor I pledged to make London's vast network of public transport safer, and these figures confirm that our laser like focus on reducing crime on the network is having a positive effect. </p>
<p>'The additional investment in safer transport team officers we created and extra British Transport Police officers we provided are doing a great job of helping keep Londoners safe, but we also plan to provide them with some extra support by putting another 413 Police Officers on the transport network next year.'</p>
<p>The reduction in overall bus crime has been largely down to the work done by the TfL-funded Safer Transport Teams in each of the Capital's boroughs working closely with TfL, through working with community groups and schools, conducting intelligence-led operations and being a visible presence on the network.</p>
<p>On the Tube and DLR, continued improvements in safety and security on trains and stations, as well as TfL's ongoing, collaborative work with the BTP, have also helped achieve a seven per cent reduction in overall crime. </p>
<p>Despite the overall reductions in crime, small increases in robbery offences have been experienced over the last year. </p>
<p>The numbers are low particularly in context of the billions of journeys made on the system each year - an additional 101 offences on the bus network and an additional 24 offences on the Tube and DLR over the year.&nbsp; </p>
<p>We are not complacent and have measures in place to deal with this such as targeted police operations, CCTV to bring offenders to justice and crime prevention advice to encourage passengers to take extra care of their belongings, particularly expensive electronic items. </p>
<p>Where robbery is an issue certain Safer Transport Teams will address any trends or increases by conducting high-visibility and intelligence led operations to deter offenders.</p>
<p>Another offence that has seen a rise in the past year is theft of railway property, most notably cable theft. </p>
<p>To combat this, officers from the BTP are using various tactics including covert operations and community based intelligence to crack down on those whose actions can disrupt the Tube.</p>
<p>TfL continually works with the BTP on dedicated operations to minimise crime on the Tube and DLR networks and the hundreds of BTP officers who patrol the Tube and DLR network are supported by around 12,000 CCTV cameras in order to minimise any risks to passenger safety and security.</p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing at TfL, said: 'The transport network is a low crime environment and it is encouraging that the number of crimes has again fallen on the bus and Tube/DLR networks. But we are not complacent and will continue to work together with our policing partners to further reduce transport crime in the Capital and keep passengers safe.'</p>
<p>There are now just 10.5 crimes per million passenger journeys on London's buses, with 11.4 crimes per million passenger journeys on the Tube and DLR as the transport network remains a safe, low crime environment.</p>
<p>BTP Chief Superintendent Mark Newton, London Underground Area Commander, said: 'There are remarkably low levels of crime on the Tube and I am pleased that we're announcing further reductions this year. </p>
<p>'We are committed to reducing crime and passengers' fear of crime and our Proactive Patrol Teams mean there are more officers patrolling on trains than ever before, right up until close of service.'</p>
<p>Chief Superintendent Sultan Taylor, MPS Safer Transport Command, said: 'This continual drop in bus related crime is thanks to partnership working with borough colleagues, and the intelligence-led policing capability of the Safer Transport Command and its Safer Transport Teams. </p>
<p>'Together we shall continue to tackle and reduce bus related crime and instil even more confidence in the public who use the transport network.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Figures released by the British Transport Police (BTP) show that for 2010/11:</li>
<ul>
<li>Crime on the LU/DLR network was down by seven per cent (from 14,536 to 13,472)</li>
<li>There are now just 11.4 crimes for every million passenger journeys</li>
<li>Violent against the person offences has been cut from 1,997 to 1,971</li>
<li>Sexual offences have been reduced from 328 to 300</li>
<li>Criminal damage has gone down from 1,337 to 1,066</li>
<li>Theft of passenger property including pick-pocketing has seen a decrease from 6,794 offences to 6,520</li>
<li>Theft of railway property, including cable theft, has seen an increase of from 407 to 602</li>
<li>Public disorder offences have gone down 1,462 to 1,307</li>
<li>Fraud offences, including tampering with cash and ticket machines on LU property, have gone up from 206 to 227</li>
<li>Drug-related offences have reduced from 1,266 to 727</li></ul>
<li>Crime figures for LU and DLR are reported together as these networks are policed by the same division of the BTP</li>
<li>Figures released by the Metropolitan Police Service (MPS) show that for 2010/11</li>
<ul>
<li>Crime on London buses was down by four per cent (from 24,976 to 23,974)</li>
<li>There are now just 10.5 crimes for every million passenger journeys</li>
<li>Violent against the person offences have been cut from 6,890 to 6,576</li>
<li>Sexual offences have been reduced from 550 to 514</li>
<li>Criminal damage has gone down from 2,350 to 2,060</li>
<li>Theft offences (including pick-pocketing) have seen a decrease from 6,794 offences to 6,520</li>
<li>Robbery has seen an increase from 2,564 to 2,665</li>
<li>Fraud and forgery offences have reduced from 326 to 315</li>
<li>Drug-related offences have gone up from 693 to 887</li></ul>
<li relativehref="undefined">For more on the latest transport crime statistics please see the latest <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Crime_Statistic_Bulletin_201011.pdf">crime statistics bulletin</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New figures released by the British Transport Police (BTP) and the Metropolitan Police Service show that crime on the Underground and Docklands Light Railway (DLR) went down by seven per cent and offences on London's bus network down by four per cent in";}
        
        


 