


@{ViewBag.Title = "Get your name onboard London's cable car";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Get your name onboard London's cable car</h1>
        <div class="content-page-press-release">
        14 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With construction of London's cable car soon to be under way, Transport for London (TfL) has opened the Invitation to Tender for a commercial partner to sponsor this innovative regeneration project.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Sponsorship of the cable car offers a unique and exciting opportunity for a leading company to be entwined within the fabric of London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris McLeod</div>
            <div class="quotee-job-title">TfL's Director of Group Marketing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Sponsorship of the cable car offers a unique and exciting opportunity for a leading company to be entwined within the fabric of London
                            
                        </p>
                    </div>
                
            
            
            <p>This represents a unique and exciting opportunity for the private sector to be associated with what will be one of London's internationally recognisable landmarks and gain unprecedented exposure on one of the busiest transport networks in the world.</p>
<p>From summer 2012 the cable car will provide a new low-emission, quick, direct and fully accessible link connecting the Greenwich Peninsula and the Royal Victoria Dock, two vibrant areas of growth on either side of the Thames. </p>
<p>As the UK's first urban cable car it will be a spectacular architectural addition to London's skyline, providing a new transport link for thousands of Londoners each day and a catalyst supporting the continued economic growth and regeneration of east London.</p>
<p>Sponsorship of flagship schemes, such as Barclays Cycle Hire or landmarks such as the EDF London Eye have proved to work well and a similar opportunity is now available with the cable car. </p>
<h2>Become part of London</h2>
<p>This is an opportunity to play an integral role in the future development of the Capital and in the daily lives of Londoners. </p>
<p>The Invitation to Tender includes a range of naming and branding opportunities, including putting the sponsor's name with the scheme and sponsor-branded station names on the iconic Tube map. </p>
<p>This would all need to be in accordance with TfL guidelines to both maintain the Tube map's integrity and ensure all branding, design and advertising (including on the cable car itself and its gondolas) is in line with TfL's advertising policy and sympathetic to the local environment.</p>
<p>Chris MacLeod, TfL's Director of Group Marketing, said:&nbsp;'Sponsorship of the cable car offers a unique and exciting opportunity for a leading company to be entwined within the fabric of London. </p>
<p>'Once complete the cable car will become part of London's iconic skyline and transport network providing a commercial partner with an exceptional level of exposure for their brand.'</p>
<h2>Cable car colours</h2>
<p>A commercial partner would receive a range of unique high-visibility opportunities for their brand including:</p>
<ul>
<li>Branding the stations and gondolas with company name, colours and logo</li>
<li>Associating their company name with the cable car</li>
<li>Associating their company name with the name of the stations</li>
<li>Inclusion of the scheme and station names on the Tube map</li></ul>
<p>A formal tender document setting out the full range of rights on offer is now available to interested parties, with the deadline for submissions in mid-July, </p>
<p>Interest can be registered now via <a href="mailto:cablecar&#64;tfl.gov.uk">cablecar&#64;tfl.gov.uk</a>.</p>
<p>It is anticipated that a winning bidder and official cable car commercial partner will be announced later this year.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For more information about the TfL cable car Commercial Partners Programme, emiail <a href="mailto:cablecar&#64;tfl.gov.uk">cablecar&#64;tfl.gov.uk</a> or visit&nbsp;<a href="http://www.tfl.gov.uk/cablecar">tfl.gov.uk/cablecar</a>&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This represents a unique and exciting opportunity for the private sector to be associated with what will be one of London's internationally recognisable landmarks and gain unprecedented exposure on one of the busiest transport networks in the world.From";}
        
        


 