


@{ViewBag.Title = "Golders Green bus station re-opens ahead of time";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Golders Green bus station re-opens ahead of time</h1>
        <div class="content-page-press-release">
        20 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Golders Green bus station reopened to passengers at the weekend (18 June), three weeks ahead of schedule, following essential resurfacing work.
        
    </div>



 <div class="on-this-page">
<p>The bus station, which is used by 2.5 million passengers a year, was closed while the work was carried out.&nbsp; </p>
<p>It was scheduled to take up to eight weeks but has been completed early and bus passengers are once again able to use the bus station.</p>
<p>Chris Kershaw, Transport for London's&nbsp;Head of Infrastructure, said: 'This project is an excellent example of collaboration between TfL, London Borough of Barnet and National Express.</p>
<p>'The fact that it has been completed before time is a testament to the dedication and commitment of all those working on the project.&nbsp; </p>
<p>'This is a very busy station with thousands of passengers passing through it each day so we are pleased to be able to return services to normal quicker than expected.'</p>
<p>The resurfacing work involved replacing the block paving on the road with tarmac.&nbsp; </p>
<p>Passengers were required to alight a stop early because of the works.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bus station, which is used by 2.5 million passengers a year, was closed while the work was carried out.&nbsp; It was scheduled to take up to eight weeks but has been completed early and bus passengers are once again able to use the bus station.Chris";}
        
        


 