


@{ViewBag.Title = "Helping deliver Crossrail: Changes to travel around Liverpool Street and Moorgate";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Helping deliver Crossrail: Changes to travel around Liverpool Street and Moorgate</h1>
        <div class="content-page-press-release">
        15 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus diversions and changes to local stopping arrangements. Alterations to local walking routes. Changes to access in and out of Moorgate station.
        
    </div>



 <div class="on-this-page">
<p>Changes to taxi drop-off and pick up points. </p>
<p>Temporary changes will enable major new capacity at Liverpool Street and Moorgate from 2018.</p>
<p>
<hr>

<p>
<p>From Saturday 18 June, Londoners using the Liverpool Street and Moorgate areas are being advised that some long-term but temporary changes will be made to local travel arrangements as work continues on the new Crossrail station at Liverpool Street. </p>
<p>Some changes are due to works that are expected to be completed by early 2012, with others remaining in place until the station works are complete in 2018.</p>
<p>When Crossrail opens in late 2018, it will transform journeys across London and the South East and transport around 200 million passengers a year with its trains carrying around 1,500 passengers each at peak times. </p>
<p>The new station at Liverpool Street will provide connections to five Tube lines and Londoners using Crossrail services from the station will be able to get to Canary Wharf in six minutes, Paddington in nine minutes or to Heathrow in just 33 minutes. </p>
<p>While work on the new station takes place the following changes will be made: </p>
<p><strong>Changes to local bus services</strong></p>
<p>Buses will be diverted in the Liverpool Street area.&nbsp; </p>
<p>This will affect routes 21, 43 and 141 which will be diverted southbound only between Moorgate (Eldon Street) and Bank station until early 2012.&nbsp; </p>
<p>At Moorgate station the nearest alternative stop for buses towards London Bridge will be stop K, just south of Finsbury Square.&nbsp; </p>
<p>At Princes Street (Bank Station) stop G will need to be used in King William Street.</p>
<p>Routes 76 and N76 will be diverted southbound only between Moorgate (Finsbury Square) and St Paul's Churchyard until early 2012.&nbsp; </p>
<p>These routes will not serve Moorgate, Bank or Mansion House.&nbsp; </p>
<p>At Moorgate the nearest alternative stop for buses towards Waterloo will be stop S on Chiswell Street.</p>
<p>Routes 100 and 205 will not serve Liverpool Street bus station.&nbsp; </p>
<p>The nearest alternative bus stops will be on Wormwood Street, just east of Old Broad Street.</p>
<p>Bus stop P for services towards Aldgate and bus stop Q for services towards Old Street.&nbsp; </p>
<p>For route 205 towards Bow there is an additional bus stop, V, on Eldon Street.</p>
<p>Routes 214 and 271 will start and finish at Moorgate (Finsbury Square) at bus stop H, and will not serve Liverpool Street station.&nbsp; </p>
<p>Route 153 will be diverted in both directions between Liverpool Street and Moorgate however there will be no changes to bus stops.</p>
<p><strong>Moorgate station and local walking routes</strong></p>
<p>Around Moorgate station there will be changes to the roads and footpaths that will change the way passengers can enter or exit the station.&nbsp; </p>
<p>From September 2011, Moorfields will be closed between the station and London Wall.&nbsp; </p>
<p>The Moorfields entrance will be accessible from either Moor Place or from Ropemaker Street.&nbsp; </p>
<p>Passengers can also access the station by using the entrance on the east side of Moorgate, or the entrance on the west side of Moorgate through a covered footpath.</p>
<p><strong>Taxis</strong></p>
<p>Old Broad Street will be closed to all traffic, with the exception of buses and local delivery vehicles, between London Wall and Liverpool Street meaning taxis can not be hailed in this area.&nbsp; </p>
<p>Step-free access to taxis will continue to be available at Liverpool Street station adjacent to platform 10, and at the eastern half of Liverpool Street at the front of the station.</p>
<p>Transport for London will endeavour to keep disruption to a minimum although at times, such as at weekends, Liverpool Street bus station may be closed for additional work.&nbsp; </p>
<p>There may also be additional short-term road alterations and traffic diversions until the Crossrail works are completed.</p>
<p>For up-to-date <a href="http://www.tfl.gov.uk/livetravelnews">travel information</a>&nbsp;or to <a href="http://www.tfl.gov.uk/journeyplanner">plan your journey</a>, please visit the TfL website.</p>
<p>For further information about Crossrail visit <a href="http://www.crossrail.co.uk">www.crossrail.co.uk</a> or call the 24-hour&nbsp;helpline on 0345 602 3813. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Crossrail will run 118km from Maidenhead and Heathrow in the west, through new twin-bore 21km tunnels under central London to Shenfield and Abbey Wood in the east. It will bring an additional 1.5 million people within 45 minutes commuting distance of London's key business districts
<li>With up to 24 trains per hour between Paddington and Whitechapel during peak times, Crossrail will carry more than 200 million passengers each year. Each Crossrail train will be 200 metres long with the capacity to carry 1,500 passengers</li>
<li>Crossrail will support regeneration across the Capital, helping to secure London's position as a world leading financial centre, and cutting journey times across the city</li>
<li>Crossrail is being delivered by Crossrail Limited (CRL).&nbsp;CRL is a wholly owned subsidiary of TfL.&nbsp;Crossrail is jointly sponsored by the Department for Transport and TfL</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Changes to taxi drop-off and pick up points. Temporary changes will enable major new capacity at Liverpool Street and Moorgate from 2018.From Saturday 18 June, Londoners using the Liverpool Street and Moorgate areas are being advised that some long-term";}
        
        


 