


@{ViewBag.Title = "Internationally celebrated artist Daniel Buren to create new permanent artwork at Tottenham Court Road Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Internationally celebrated artist Daniel Buren to create new permanent artwork at Tottenham Court Road Tube station</h1>
        <div class="content-page-press-release">
        02 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Art on the Underground is pleased to announce that the renowned French artist Daniel Buren has been selected to create a new permanent installation for the upgraded Tube station at Tottenham Court Road.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is very exciting to be working with one of the world's great artists - the artwork will enhance the new ticket hall and give customers a chance to think beyond their fast-paced London journeys"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tamsin Dillon</div>
            <div class="quotee-job-title">Head of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is very exciting to be working with one of the world's great artists - the artwork will enhance the new ticket hall and give customers a chance to think beyond their fast-paced London journeys
                            
                        </p>
                    </div>
                
            
            
            <p>The rebuilding of Tottenham Court Road station is due to be completed in 2016. </p>
<p>At least 200,000 people per day are expected to use the station. Customers will be able to experience the dramatic Buren installation as they enter and move through the station. </p>
<p>The new artwork will become a major feature of the Oxford Street entrance and ticket hall. </p>
<p>Buren will create a colourful series of large scale diamond and circle shapes that will be fixed to the station's internal glass walls.</p>
<p>&nbsp;Designed in his trademark striped vinyl, the shapes will allow light to pass through to keep the public areas bright. </p>
<p>A cabinet containing the 'parents' of the forms that are transforming the station's surfaces - a&nbsp; set of Buren's shapes in sculptural, 3D form - will be installed in the ticket hall.</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'It is very exciting to be working with one of the world's great artists, renowned for his memorable installations - something that will enhance the new ticket hall at this key station and give customers a chance to think beyond their fast-paced London journeys. </p>
<p>'The Art on the Underground Programme can offer passengers a moment of contemplation while travelling across the Capital.'</p>
<p>(For more information&nbsp;about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a>)</p>
<p>Buren's is the second piece of permanent artwork to be installed at Tottenham Court Road station, complementing the now iconic 1984 mosaic designs by the late Eduardo Paolozzi.&nbsp; </p>
<p>The majority of the Paolozzi mosaics are being preserved in the upgraded station, while some smaller sections will be carefully removed and displayed elsewhere.</p>
<h2>Portrait of an artist</h2>
<p>Famous for his site specific, bold and energetic works, Buren is a worthy addition to the station's artistic heritage.&nbsp; </p>
<p>Now with over 2,000 artworks worldwide, the artist has punctuated the last forty years with some thought-provoking public art projects, often using stripes and geometric forms to frame public spaces.&nbsp;</p>
<p>His best known and most controversial piece, installed in 1986, is Les Deux Plateaux, or Les Colonnes de Buren (Buren's Columns), a 3,000 m&sup2; area of variously truncated, striped columns in the great courtyard of the Palais Royal, Paris.&nbsp; </p>
<p>The installation provoked intense debate over the integration of contemporary art into historic buildings. </p>
<p>Buren's most recent work is a temporary piece for the new Turner Contemporary in Margate. </p>
<p>Borrowing and Multiplying the Landscape focuses the viewer on the site where JMW Turner once painted, framing the view through the vast sea-facing window.&nbsp;</p>
<p>Buren has traced a huge circle on the glass and then 'filled in' the gaps in the square window with transparent yellow, striped vinyl, directing our gaze.&nbsp; </p>
<p>Mirrors at either end of the work create infinite reflections of the seascape.</p>
<p>&nbsp;A retrospective of Buren's work is also currently on show at the contemporary art museum Centre Pompidou-Metz. </p>
<p>Echos, Work in situ will run until September 2011. <br></p>
<h2>Notes to Editors</h2>
<p><br>1. Daniel Buren (b 1938, France) has exhibited in museums and galleries worldwide.&nbsp;His work can be found in major public collections such as: Tate Modern, London; the National Museum of Modern Art, Tokyo; Museum voor Hedendaagse Kunst, Antwerp; Mus&eacute;e d'Art Moderne de la Ville de Paris; Museo Guggenheim de Arte Moderno y Contemporaneo, Bilbao, and Moderna Museet, Stockholm. Buren's first important solo exhibition was at the Galleria Apollinaire in Milan in 1968; he has since had major shows at the Centre Pompidou in Paris and the Solomon R. Guggenheim Museum in New York. The artist has been invited to the Venice Bienniale more than ten times, where he was honoured with the Golden Lion for the best pavilion in 1986. That same year he completed the work, "Les Deux Plateaux, sculpture in situ" at the Palais Royal in Paris. He has received several awards including the "International Award for the Best Artist" (Stuttgart, Germany, 1991) and the "Grand Prix National de Peinture" (France, 1992).&nbsp; In 1990 the artist was honoured as a "Living Treasure" in New Zealand for the country's 150th anniversary.<br><br>2. Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three and a half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and most diverse audiences in Europe. For more information&nbsp;about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> <br><br>3. The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. Tottenham Court Road station urgently needs upgrading. When Tottenham Court Road station first opened in 1900, it was never anticipated that it would handle nearly 150,000 passengers every day. As a key West End interchange, this number is set to grow, especially with the arrival of Crossrail in 2018, when passenger numbers will increase to 200,000.<br><br>The rebuilding of Tottenham Court Road station is well underway and will deliver massive benefits. When complete, in 2016, the station will have:&nbsp;</p>
<ul>
<li>A new ticket hall, nearly six times the current size </li>
<li>Step-free access from street to platform </li>
<li>New escalators serving the Northern line </li>
<li>An interchange ready for Crossrail </li>
<li>Improved external areas, including iconic new station entrances from a pedestrianised plaza outside the landmark Centre Point building</li></ul>
<p>4. London Underground highly values the Paolozzi mosaics within Tottenham Court Road Underground station, and alongside the Tube's Art on the Underground programme, the team developing the station upgrade has been working closely with the Paolozzi Foundation as the project progresses.&nbsp; London Underground is taking care to protect and preserve these wonderful mosaics during the station upgrade and LU has worked with the Paolozzi Foundation to work out how best to deliver the improvements while retaining as much of the mosaics as possible. In collaboration with the Foundation LU has devised an approach to maintain as much of the mosaics as possible in their original location, remove other sections for future display and record and replicate the design of the mosaics where the original material would be lost.&nbsp; </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The rebuilding of Tottenham Court Road station is due to be completed in 2016. At least 200,000 people per day are expected to use the station. Customers will be able to experience the dramatic Buren installation as they enter and move through the";}
        
        


 