


@{ViewBag.Title = "London Underground extends District line timetable consultation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground extends District line timetable consultation</h1>
        <div class="content-page-press-release">
        29 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        District line passengers urged to make their views known. Proposed timetable would make the line more reliable and boost service for busiest sections of the line.
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) is asking District line passengers to respond to a consultation about proposed improvements to the timetable which would reduce delays on the line, saving more than 850,000 passenger hours per year.&nbsp; </p>
<p>It would also provide capacity for 4,000 more passengers on the Wimbledon branch every weekday morning.</p>
<p>As part of work to reduce delays for passengers on the line, LU is proposing changes to address problems with a service bottleneck in the Earl's Court area, which is the source of many of the hold ups passengers experience on the line.</p>
<p>London Underground proposes to remove weekday services to Kensington (Olympia), which carry less than one percent of District line passengers. </p>
<h2>Reducing delays</h2>
<p>By doing so, services for an additional 4,000 passengers every weekday morning can be added to the busy Wimbledon branch, which carries nearly 30 per cent of District line passengers. </p>
<p>There will also be extra capacity for more than 800 additional people on services Ealing Broadway every weekday evening peak.</p>
<p>The Olympia service, on which there are less than 2,500 journeys to and from Kensington (Olympia) each day, will still operate during the weekend, and LU plans to operate special services to serve major weekday events at the Olympia exhibition centre. </p>
<p>A consultation on the proposal has been extended to the middle of July to ensure all passengers, stakeholders and local businesses can contribute. </p>
<p>Passengers using Kensington (Olympia) already benefit from recently improved London Overground services, with four trains serving the station every hour carrying 600 passengers per train, with interchange to the Tube available at both West Brompton (District line) and Shepherd's Bush (Central line) stations. </p>
<h2>More capacity</h2>
<p>Southern services will also continue to serve the station. </p>
<p>During the week passengers will also be able to use nearby Barons Court or West Kensington stations, both of which are close to the Olympia Exhibition Centre. </p>
<p>Richard Parry, Strategy and Commercial Director for&nbsp;LU, said: 'The District line is one of the busiest lines on the Tube network used by over 700,000 people each day. </p>
<p>'The introduction of the new timetable would reduce delays across for customers across the whole line and, in particular, benefit the 150,000 passengers who pass through Earl's Court each day. </p>
<p>'This is only possible by withdrawing the under-utilised weekday Olympia District line service.</p>
<p>'We believe that the benefits of the proposal - fewer delays for District line users and room for more than 4,000 passengers for Wimbledon and Ealing Broadway - are compelling. </p>
<p>'However to ensure everyone can have their say we extended the period in which customers, stakeholder and business affected by the changes, can send in their views.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:&nbsp;<p>
<ul>
<li></li></ul></strong>As part of LU's upgrade plan, the District line will be completely upgraded with new air-conditioned trains being introduced on the line from 2013 and a new signalling system to be introduced by 2018. Overall, the upgrade will deliver 24 per cent more capacity to the line 
<li>More than 20 percent of District line trains are held up entering Earl's Court behind an Olympia train, and this wait in the tunnel will be removed, directly speeding up journeys for the 150,000 passengers affected </li>
<li>The new timetable would be introduced in December 2011. Views are invited from interested parties by 15 July 2011 to LU's Customer Service Centre by email&nbsp;<a href="mailto:enquiry.tube&#64;tfl.gov.uk">enquiry.tube&#64;tfl.gov.uk</a>, phone 0845 330 9880, or online at <a href="http://www.tfl.gov.uk/districtlineconsultation">www.tfl.gov.uk/districtlineconsultation</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) is asking District line passengers to respond to a consultation about proposed improvements to the timetable which would reduce delays on the line, saving more than 850,000 passenger hours per year.&nbsp; It would also provide";}
        
        


 