


@{ViewBag.Title = "London Overground gets better and better say passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground gets better and better say passengers</h1>
        <div class="content-page-press-release">
        29 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following top performance in Network Rail tables, London Overground gets a huge vote of confidence from passengers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These results show what can be done with a combination of investment, planning and hard work"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These results show what can be done with a combination of investment, planning and hard work
                            
                        </p>
                    </div>
                
            
            
            <p>London Overground's rise to the top of Network Rail's punctuality performance tables has been supported by a huge vote of confidence from passengers in an independent poll published today.</p>
<p>In the last year there has been a 17 per cent increase - from 72 to 89 per cent - in those satisfied with the railway overall, according to the latest Passenger Focus survey conducted in spring 2011. </p>
<p>The average for London and the South East was 83 per cent while nationally it was 84 per cent.</p>
<p>The Mayor of London, Boris Johnson, said: 'These hugely impressive results are the ones that really matter because they are the voice of the passengers who are now benefiting from vastly improved services. </p>
<p>'We will not stop trying to improve on what we do but reaching these levels of passenger satisfaction is what all the hard work and investment during the last three years has been about. </p>

<h2>Punctual, reliable and safe</h2>
<p>'This is a railway upgraded, refurbished and ready to serve Olympic visitors as well as leaving Londoners with an early legacy of punctual, reliable and safe journeys. </p>
<p>'The transformation of this once-neglected service is something all Londoners can be proud of, and it demonstrates exactly why I believe my office and TfL [Transport for London] should be given a greater say in franchising of the private train companies who run services in the Capital.'</p>
<p>Mike Brown, Managing Director of TfL London Rail, said: 'I'm pleased we are delivering to passengers an efficient, reliable and safe service. </p>
<p>'These results show what can be done with a combination of investment, planning and hard work.'</p>
<p>TfL took over the management of the London Overground network (then called Silverlink) in November 2007. </p>
<p>Since then approximately &pound;2bn has been invested in building the east London route extension to the network, buying a new air-conditioned train fleet designed for London conditions, upgrading the track, signalling and stations.</p>
<p>
<hr>

<p><strong>Notes to editors: 
<ul>
<li></li></ul></strong>Other significant results form the Passenger Focus survey. The percentage of passengers satisfied with: 
<ul>
<li>Train punctuality increased from 63 to 78 per cent </li>
<li>Service frequency increased from 51 to 77 per cent </li>
<li>Train cleanliness increased from 73 to 94 per cent </li>
<li>On-train security increased from 64 to 81 per cent </li>
<li>Room on board increased from 58 to 75 per cent </li>
<li>Information given during the journey increased from 63 to 86 per cent</li></ul>
<li>Passenger Focus noted that London Overground was the only Train Operating Company to 'significantly' improve </li>
<li>Passenger Focus conducted its interviews in February and March of the relevant years </li>
<li>London Overground ran 96.7 per cent of its trains on time during March and 96.3 per cent in April, placing it second and first respectively in Network Rail's national monthly performance survey. With almost 19 out of 20 (94.9 per cent) trains arriving on time over the last twelve months - it has the highest annual figure for any train operator in the country</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Overground's rise to the top of Network Rail's punctuality performance tables has been supported by a huge vote of confidence from passengers in an independent poll published today.In the last year there has been a 17 per cent increase - from 72 to";}
        
        


 