


@{ViewBag.Title = "London Overground's East London route doubles passenger numbers in one year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground's East London route doubles passenger numbers in one year</h1>
        <div class="content-page-press-release">
        07 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground's new East London extension is proving hugely popular with residents and commuters, with passenger numbers doubling in its first year of existence.
        
    </div>



 <div class="on-this-page">
<p>Air-conditioned trains on the line which runs from Highbury &amp; Islington to New Cross, Crystal Palace and West Croydon via the City of London has carried over 20 million passengers - an average of 85,000 people a day.</p>
<p>In late February this year, the line was connected with the wider London Overground network by a new link between Dalston Junction and Highbury &amp; Islington.</p>
<p>In the six weeks since opening, passenger numbers increased by 75 per cent.</p>
<p>Mike Brown, the Managing Director of London Rail, Transport for London's rail division which manages the line, said: 'The East London extension of the London Overground is now a major transport artery connecting key hubs in north, east and south London.</p>
<p>'We expect the new high-capacity trains running on a reliable high-frequency timetable to continue to attract a lot more passengers as word gets around about this turn up and go service.</p>
<p>'With its link to Stratford it is an Olympic legacy arrived early and it has connected parts of London not previously well served by rail to the Capital's wider transport network.</p>
<p>'With the new link open in February, we've noticed a lot of journeys between Highbury &amp; Islington and Shadwell. Passengers are clearly seeing the benefit of interchanging with the DLR at Shadwell to continue their journey to the Docklands.' </p>
<p>The new route has been quickly dubbed 'The Culture Line' because it connects ten museums plus numerous art galleries based in those areas of East London known for promoting cutting edge art, design, music and performance such as Dalston, Hoxton, Shoreditch and New Cross. </p>
<p>David Dewing, Geffrye Museum Director said: 'The new Hoxton Station on the London Overground contributed to The Geffrye Museum's overall increase of 10 per cent&nbsp;in visit numbers in 2010/11.&nbsp; It has made travel to the museum far easier, especially for those from South East London.&nbsp; </p>
<p>'Since the Overground opened 9 per cent&nbsp;of our London visitors have come from Lewisham.'</p>
<p>The Brunel Museum in Rotherhithe has reported visitor numbers up 65 per cent since the line opened. Robert Hulse, Museum Director said: 'The new line has given a huge boost to visitor numbers of the museum.'</p>
<p>The line has featured on The Culture Show on BBC2 and is also the focus for a 'pop-up' restaurant and arts space that runs events at hidden locations along the East London route, which it is calling 'the Gingerline'. </p>
<p>Kerry Adamson for the Gingerline group, said: 'We are a group of female artists, performers and food enthusiasts (who all live along the line) who came together to celebrate the new link and encourage the commuter community (a diverse bunch!) to explore its hitherto hidden delights.'</p><strong>
<h2>Notes to Editors </h2>
<ul>
<li></li></ul></strong>Museums connected by the East London route are Hackney Museum, Geffrye Museum, Wesley's Chapel, Royal London Hospital Museum, Whitechapel Art Gallery, Women's Library, Brunel Museum, Horniman Museum, Crystal Palace Museum and Museum of Croydon 
<li>The East London extension was built at a cost of &pound;1bn and operates 12 trains per hour through its core section of New Cross Gate to Dalston Junction. Four new stations&nbsp; - Dalston Junction, Haggerston, Hoxton and Shoreditch High Street - were built in Hackney as part of its construction putting the borough firmly on the Tube map </li>
<li>A further extension from Surrey Quays will connecting the East London route with Clapham Junction and is currently under construction. When completed at the end of 2012, this extension will make&nbsp; London Overground an orbital rail network around the Capital </li>
<li>Besides the four new stations, completion of the &pound;1bn project included; the construction of a new maintenance depot at New Cross Gate, the upgrade of the 2.1km long, former East London Tube line (closed in December 2007) to National Rail standards, 3.5km of tracks built between Whitechapel and Dalston Junction, the renewal of old bridges and installation of new ones </li>
<li>Passenger numbers are forecast to increase to 40m in 2016 (approx 120,000 per day). The former East London Tube line, prior to its closure, carried approximately 9m passengers every year (30,000 per day) </li>
<li>Examples of journey times on the new line are Dalston Junction to West Croydon - 47 minutes; to Crystal Palace - 37 minutes. Shoreditch High Street station to Brockley - 16 mins; Honor Oak -19 mins; Forest Hill - 22 mins; Sydenham - 24 mins</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Air-conditioned trains on the line which runs from Highbury &amp; Islington to New Cross, Crystal Palace and West Croydon via the City of London has carried over 20 million passengers - an average of 85,000 people a day.In late February this year, the";}
        
        


 