


@{ViewBag.Title = "Lost property on TfL network reaches record numbers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lost property on TfL network reaches record numbers</h1>
        <div class="content-page-press-release">
        07 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 207,000 items have been handed in to Transport for London's Lost Property Office in the past year - the highest in its 77 year history.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Treasured items that passengers thought they may have lost forever may actually be in our office just waiting to be picked up."</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Cowan</div>
            <div class="quotee-job-title">Lost Property Office Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Treasured items that passengers thought they may have lost forever may actually be in our office just waiting to be picked up.
                            
                        </p>
                    </div>
                
            
            
            <p>The Lost Property Office handles items that are left behind on the TfL network, including buses, London Underground, London Overground, DLR, licensed taxis or in Victoria Coach Station.</p>
<p>It is one of the busiest lost property offices in the UK. </p>
<p>Books were the most common item left by passengers on the network with 41,000 handed into the Lost Property Office during 2010/11.</p>
<h2>From bags to wedding invitations</h2>
<p>Passengers also handed in more than 31,000 bags and 28,000 items of clothing.</p>
<p>The variety of property handed in is vast and includes sports gear, folders of school work, toys, power tools, pushchairs, suitcases, walking sticks and even crutches.</p>
<p>One of the more interesting items handed in recently was a handbag containing an invitation to the Royal Wedding.</p>
<h2>Finding the "lost" owners</h2>
<p>On average one in three items is reunited with its owner.</p>
<p>Transport for London's Lost Property Office Manager, Paul Cowan, said: 'We do our best to reunite people with their property, through a combination of our own detective work, using Sherlock - our computer system and, of course, through passengers contacting us to claim items.</p>
<p>'Although we store property for three months, sadly a large number of items remain unclaimed after that period.&nbsp;In these instances items are donated to charity, sold at auction or recycled.&nbsp; </p>
<p>'We would encourage all passengers to check and make sure they take all their belongings with them.&nbsp;However, anyone who does lose something on public transport in London should get in touch with us at the Lost Property Office.&nbsp; </p>
<p>'People are generally honest and those treasured items that passengers thought they may have lost forever may actually be in our office just waiting to be picked up.'</p>
<h2>Mislaid top 10 </h2>
<p>The top 10 items left on the TfL network in the last year are:</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;1</td>
<td>&nbsp;Books</td>
<td>&nbsp;41,370<br></td></tr>
<tr>
<td>&nbsp;2</td>
<td>&nbsp;Bags</td>
<td>&nbsp;31,005<br></td></tr>
<tr>
<td>&nbsp;3</td>
<td>&nbsp;Clothing</td>
<td>&nbsp;28,672<br></td></tr>
<tr>
<td>&nbsp;4</td>
<td>&nbsp;Valuables*</td>
<td>&nbsp;25,665<br></td></tr>
<tr>
<td>&nbsp;5</td>
<td>&nbsp;Telephones</td>
<td>&nbsp;23,432<br></td></tr>
<tr>
<td>&nbsp;6</td>
<td>&nbsp;Keys</td>
<td>&nbsp;10,632<br></td></tr>
<tr>
<td>&nbsp;7</td>
<td>&nbsp;Glasses/Sunglasses</td>
<td>&nbsp;10,150<br></td></tr>
<tr>
<td>&nbsp;8</td>
<td>&nbsp;Umbrellas</td>
<td>&nbsp;8,052<br></td></tr>
<tr>
<td>&nbsp;9</td>
<td>&nbsp;Jewellery</td>
<td>&nbsp;4,243<br></td></tr>
<tr>
<td>&nbsp;10</td>
<td>&nbsp;Pair of Gloves</td>
<td>&nbsp;3,725</td></tr></tbody></table></div></p>
<p>*Valuables include wallets, cash, laptops, cameras, etc. </p>
<h2>Notes to editor:</h2>
<p>1.&nbsp;Images and local borough lost property figures are available on request.<br>2.&nbsp;The Lost Collection, an exhibition of unclaimed art from TfL's LPO is currently showing at KK Outlet, 42 Hoxton Square, N1.<br>3.&nbsp;Property normally takes a minimum of two working days to arrive at the LPO.<br>4.&nbsp;Positively identified lost property is returned to the owner (in person or by post) once a restoration fee, postage and (for property lost in taxis) a driver's award has been paid.<br>5.&nbsp;Property not claimed after three months is either donated to charity or sold at auction, with all revenue generated contributing towards the cost of running the LPO service. <br>6.&nbsp;After two days, people can enquire about lost property in several ways:</p>
<ul>
<li>by calling 0845 330 9882 between 08.30 and 16.00, Monday to Friday (except Bank Holidays) </li>
<li>by filling in the online enquiry form at <a href="/tfl/contact/lostproperty/default.asp">/tfl/contact/lostproperty/default.asp</a> </li>
<li>by faxing 020 7918 1028 </li>
<li>in person </li>
<li>by writing to:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lost Property Office<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 200 Baker Street<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NW1 5RZ </li>
<li>TfL recommends people make a note of their international mobile equipment identity number (IMEI) which they can find on their phone by pressing *#06# which will help to identify their mobile phone. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Lost Property Office handles items that are left behind on the TfL network, including buses, London Underground, London Overground, DLR, licensed taxis or in Victoria Coach Station.It is one of the busiest lost property offices in the UK. Books were";}
        
        


 