


@{ViewBag.Title = "More bins on London Underground for a tidier Tube ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More bins on London Underground for a tidier Tube </h1>
        <div class="content-page-press-release">
        07 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has launched a campaign, in partnership with the Mayor of London, Metro newspapers and Keep Britain Tidy, to encourage Tube customers to dispose of their litter.
        
    </div>



 <div class="on-this-page">
<p>An extra twenty-five per cent more bins have been installed&nbsp;which means&nbsp;there is now access to a bin on any journey on the Tube. The aim is for a tidier and more pleasant Tube to travel in and to help LU to recycle more waste. </p>
<p>The campaign, part of the Mayor Boris Johnson's commitment to make travelling in London more civilised, will run across the Tube network, in&nbsp;conjunction with Metro newspaper and Keep Britain Tidy.</p>
<p>It will encourage passengers to use the 1,600 plus bins that are in, or within walking distance of, the 270 Tube stations. </p>
<p>To help, LU has recently installed an additional 166 bins on the network, taking the total to 800 and making it easier for customers to get rid of their rubbish.</p>
<p>LU regularly monitors stations to ensure that high levels of cleanliness are maintained and recent figures&nbsp;have shown an improvement at over 70 percent of the stations where the new bins have been installed. </p>
<p>Boris Johnson, the Mayor of London said: 'Time and again passengers have said they want more bins so they can dispose of their rubbish and that's exactly what we've done. We can all do our bit to ensure we use these sparkling new bins, which will mean a more pleasant journey to work and a great first impression of London for tourists to the capital.'</p>
<p>Richard Parry, Strategy and Commercial Director, London Underground, said:&nbsp; 'We know that our customers appreciate a litter free Tube and we have an army of cleaners who regularly patrol the network collecting rubbish. However we also believe that providing more bins will make it easier for our customers to get rid of their rubbish and over the last few months have increased the number of bins on the network by 25 percent.</p>
<p>'All rubbish placed in any of our stations bins is sorted and we recycle everything that we can. Over the years LU has made every effort to recycle waste and we now recycle over two thirds of rubbish left on the Tube network.'</p>
<p>John Leitch, Executive Director at Metro, said: 'We want to support green behaviour among our readers and increase the amount of recycling by Tube travellers. It's fantastic to be working with London Underground to achieve this and we're delighted that they are using Metro's innovative design in this campaign.'<br></p>
<h2>Notes to editors</h2>
<ul>
<li>Litter bins on Tube stations are subject to strict security controls. The only litter bin designs which are used are clear plastic bags suspended from plastic hoops and they are always carefully positioned with security and safety in mind </li>
<li>Copy of the new poster is available in PDF format and is available on request - 0845 604 4141</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "An extra twenty-five per cent more bins have been installed&nbsp;which means&nbsp;there is now access to a bin on any journey on the Tube. The aim is for a tidier and more pleasant Tube to travel in and to help LU to recycle more waste. The campaign, part";}
        
        


 