


@{ViewBag.Title = "New Northern line upgrade set to start";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Northern line upgrade set to start</h1>
        <div class="content-page-press-release">
        13 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New post-PPP approach to upgrade will mean far fewer closures and a reduction of over 60 per cent in the number of disrupted passenger journeys.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The team at the Underground have completely overhauled the Northern Line upgrade programme to ensure that passengers do not have to go through a repeat of the disruption they suffered with the Jubilee Line upgrade."</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">the Mayor of London's Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The team at the Underground have completely overhauled the Northern Line upgrade programme to ensure that passengers do not have to go through a repeat of the disruption they suffered with the Jubilee Line upgrade.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced that the main programme of works to upgrade London's busiest Tube line - the Northern line - will commence later this year.</p>
<p>When complete, the upgrade will deliver faster, more frequent and more reliable train services for customers, increasing capacity by 20 per cent and cutting journey times by around 18 per cent.</p>
<p>The upgrade works are due to be completed in 2014. </p>
<h2>Valuable experience from the Jubilee line</h2>
<p>Lessons have been learned from the upgrade of the Jubilee line and a new approach is being taken on the Northern line that will mean significantly fewer weekend closures than originally planned under the Public Private Partnership (PPP) contracts, with no early evening closures.&nbsp; </p>

<p>Under the PPP, Tube Lines had proposed 65 weekend closures on the Northern line, many of which would have closed the whole line, or large parts of it.</p>
<p>Instead there will now be:</p>
<ul>
<li>Just eight weekends of full line closures for the installation and testing of the new signalling system, spread out so as to cause minimum disruption, with five closures in 2013 and three in 2014 </li>
<li>Eight additional weekends where shorter sections of the line will be closed, many of which will affect only the High Barnet branch, the most lightly-used section of the line </li>
<li>Six closures of parts of the line during the quieter Easter and Christmas holiday periods which will be closed for 4 or 5 days respectively</li></ul>
<h2>Adjusting the plan</h2>
<p>Tube Lines had also, under the PPP, planned 18 months of weekday early evening closures affecting the whole line, with last trains due to have left the centre of London by 2200; instead of this, from October, the northern branches of the line will in turn start up slightly late on Sundays to allow for extensive work during Saturday night's engineering hours to be completed.&nbsp; </p>

<p>This will give greater flexibility to install and test the signalling and will impact on considerably fewer people than either early evening closures of a series of weekend closures.</p>
<p>Services on the High Barnet branch will start from 8.30am on Sundays through to November 2012, followed by the Edgware branch through to November 2013. </p>
<p>Overall, this represents a reduction of over 60 per cent in the number of passenger journeys that will be disrupted by the work compared with the number that would have been disrupted under the original PPP plan.</p>

<h2>Benefits of 'off site' testing</h2>
<p>Isabel Dedring, the Mayor of London's Deputy Mayor for Transport, said: 'Delivering more reliable journeys for Londoners wherever they are on the transport network is a top priority for the Mayor. The team at the Underground have completely overhauled the Northern Line upgrade programme to ensure that passengers do not have to go through a repeat of the disruption they suffered with the Jubilee Line upgrade.'</p>
<p>In order to achieve this reduced closure programme London Underground will be intensifying the amount of work done during night-time engineering hours, using the hours where the network is closed each night in full to carry out upgrade works, as well as the usual maintenance work.&nbsp; </p>
<p>In addition, much more system testing will be done 'off site' using improved simulators, and on an extended and enhanced test track at Highgate, to reduce the time needed for closures and to drive out any problems in the system before it goes live for passengers.</p>

<h2>Putting staff experience to work</h2>
<p>Improvements made for the Jubilee line system (which uses the same hardware and software) will automatically be carried across to the Northern line. </p>
<p>Staff who will operate the system on a day to day basis, including train operators, will also have a greater involvement in putting the new system through its paces in simulators to iron out issues off site.</p>
<p>These new approaches will together help to ensure that the new system is reliable once it is used in passenger service.</p>
<p>The upgrade will proceed in phases to minimise risk, starting with off-site software development and testing, followed by the new system being applied in the High Barnet area before being rolled out across the rest of the line.</p>

<h2>Jubilee upgrade - completion soon </h2>
<p>Following Transport for London's acquisition of Tube Lines last summer the Jubilee line upgrade is now on-track for completion at the end of next month.</p>
<p>The upgrade will mean faster and more reliable journeys and an increase in capacity of 33 per cent - space for around 12,500 extra passengers per hour.</p>
<p>Services will initially increase from 24 to 27 trains per hour, with further increases at the start of next year.</p>

<h2>Huge benefits, reduced disruption</h2>
<p>London Underground Managing Director, Mike Brown, said: 'We know how disruptive weekend engineering works can be and we're determined to learn lessons from the Jubilee line upgrade, the last of the PPP upgrades. Working with our signalling contractor Thales, we're adopting a new and innovative approach which means we will be able to greatly reduce the disruption to our customers and businesses along the Northern line.</p>
<p>'The Northern line is the busiest line on the Tube network and some of the signalling dates back to the 1950s. Its essential upgrade will deliver huge benefits for passengers - with more frequent services, quicker and more comfortable journeys, and the capacity to carry an additional 11,000 passengers an hour. While we do this vital work we will do our utmost to keep disruption to an absolute minimum.'</p>

<h2>A word from business</h2>
<p>The revised and less disruptive closure programme has been welcomed by groups representing businesses along the line.</p>
<p>Simon Pitkeathley, Chief Executive, Camden Town Unlimited said: 'Whilst there is still pain for business in this closure programme it is a substantial and meaningful improvement upon the original suggestions, which would have sounded the death knell for Camden Town.</p>
<p>'We are delighted with the progress that has been made as a result of the partnership approach now taken by LU under the leadership of Mike Brown and will continue to work closely with him as this programme is executed.&nbsp;We very much hope that the lessons learned on the Jubilee Line will bear fruit for the Northern Line.'</p>
<h2>Notes to editors: </h2>
<ul>
<li>The Northern line is the busiest line on the Tube network with more than 900,000 passengers each day. </li>
<li>Much preparatory work for the Northern line upgrade has already been done - putting in new trackside wiring and other equipment, and converting the line's trains so they're ready for the new system. Much of the work has been done at night. </li>
<li>In addition to the upgrade work, the Northern Line needs essential track renewal in the next two years, not linked to the signalling upgrade. This pre-planned work is essential and the nature of it - including heavy engineering to replace tracks and sleepers - means it cannot all be carried out in the limited engineering hours available at night. These track works will begin in August of this year with nine closures of the City branch in the period to February 2012, and 10 weekend closures of either the High Barnet or Edgware branch of the line between October this year and February 2013. TfL will be seeking to reduce their number and impact wherever possible. </li>
<li>The latest London Underground performance figures, which have been provided to the London Assembly ahead of next week's inquiry into Tube performance, shows a long-term and continuing trend of improvement.&nbsp;This includes: 
<ul type="circle">
<li>Record numbers of passengers using the Tube - last year there were 1.1 billion passenger journeys, up 17 per cent since 2003/04 </li>
<li>Record levels of customer satisfaction </li>
<li>The volume of train service has increased while its reliability has also improved since 2003/04 </li>
<li>Excess journey time has fallen by 12 per cent and delays have fallen by over 35 per cent </li>
<li>Despite the vital weekend closures to upgrade the Tube the number of kilometres operated still remain near their highest ever level</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced that the main programme of works to upgrade London's busiest Tube line - the Northern line - will commence later this year.When complete, the upgrade will deliver faster, more frequent and more reliable train";}
        
        


 