


@{ViewBag.Title = "Normal service operating across Tube despite RMT strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Normal service operating across Tube despite RMT strike action</h1>
        <div class="content-page-press-release">
        20 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Good service on all London Underground lines. RMT leadership urged to abandon further strike action and await tribunal outcome.
        
    </div>



 <div class="on-this-page">
<p>A good service is operating on all 11 London Underground (LU) lines this morning, with LU's full fleet expected in service for the morning peak despite strike action overnight called by the RMT leadership.</p>
<p>The strike action began at 21:00 on Sunday night and ran until 03:00 today, but only minor service alterations occurred last night with all last trains running to time, and this morning passengers are able to make their journeys as usual.</p>
<p>The RMT leadership called the strike in support of a member of staff dismissed for abusive behaviour towards his colleagues, despite the fact that the employment tribunal process to which the union agreed has not concluded and has made no findings, interim or final.</p>
<p>LU's Managing Director Mike Brown today reiterated his call for the RMT leadership to await the outcome of the employment tribunal process.</p>
<p>Mike Brown said: 'This strike action has not achieved anything and I once again call on the RMT leadership to calmly await the outcome of the employment tribunal without any further strikes. </p>
<p>'I have given the RMT leadership a written assurance that if the tribunal rules that we should re-instate or re-engage Arwyn Thomas, then we will do so. </p>
<p>'I give that assurance again now, so there can be no justification whatsoever for the RMT to continue to threaten Londoners with more pointless strike action.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A good service is operating on all 11 London Underground (LU) lines this morning, with LU's full fleet expected in service for the morning peak despite strike action overnight called by the RMT leadership.The strike action began at 21:00 on Sunday night";}
        
        


 