


@{ViewBag.Title = "Normal Tube services expected on Sunday and Monday despite RMT strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Normal Tube services expected on Sunday and Monday despite RMT strike action</h1>
        <div class="content-page-press-release">
        17 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The action will have 'very little impact' on passengers. RMT leadership urged to abandon strike action and await tribunal outcome
        
    </div>



 <div class="on-this-page">
<p>A good service is expected to operate on all London Underground (LU) lines on Sunday night and Monday morning, when the RMT leadership has called strike action.</p>
<p>The strike action is due to begin at 21:00 on Sunday and run until 03:00 on Monday. </p>
<p>A near normal service is anticipated on both days and passengers are advised to continue to make their journeys on Sunday evening and Monday morning as usual. </p>
<p>The RMT leadership called the strike in support of a member of staff dismissed for abusive behaviour towards his colleagues, despite the fact that the employment tribunal process to which the union agreed has not concluded and has made no findings, interim or final.</p>
<p>LU's Managing Director Mike Brown today reiterated his call for the RMT leadership to await the outcome of the employment tribunal process.</p>
<p>Mike Brown said: 'This strike action will achieve nothing and I urge the RMT leadership to calmly await the outcome of the employment tribunal without any further strikes. </p>
<p>'I have given a cast-iron assurance that if the tribunal rules that we should reinstate or re-engage Arwyn Thomas, then we will do so. </p>
<p>'We have given that assurance in writing before this strike action and I make it again now, so there can be no justification whatsoever for the RMT to continue to threaten Londoners with strike action.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A good service is expected to operate on all London Underground (LU) lines on Sunday night and Monday morning, when the RMT leadership has called strike action.The strike action is due to begin at 21:00 on Sunday and run until 03:00 on Monday. A near";}
        
        


 