


@{ViewBag.Title = "Penultimate weekend closure for Blackwall Tunnel as safety refurbishment works approach completion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Penultimate weekend closure for Blackwall Tunnel as safety refurbishment works approach completion</h1>
        <div class="content-page-press-release">
        07 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Drivers are advised to avoid the area if possible as southbound traffic is diverted from 21.00 Friday to 05.00 Monday.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Many thanks to Londoners who have been understanding about the inconvenience from this work.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London has announced that the disruption caused by a programme of weekend closures to refurbish the Blackwall Tunnel is nearly over as the penultimate closure will take place this weekend (10 to 13 June).</p>
<p>Closing the tunnel to southbound traffic this weekend will allow improvements to be made to the 113 year old tunnel that cannot be carried out during the scheduled weeknight closures.</p>

<h2>Ahead of schedule</h2>
<p>Conscious of the inconvenience that such major improvement schemes cause Londoners, TfL has worked hard to complete the refurbishment as quickly as possible.</p>
<p>It is now set to be completed by December, one year ahead of the original schedule.</p>
<p>In order to limit disruption for motorists next weekend, TfL has worked hard to put in place a whole range of alternative measures. These include:</p>
<ul>
<li>The Rotherhithe Tunnel will again operate two lanes in the southbound direction only with the Blackwall Tunnel carrying only northbound traffic. This measure was used during previous weekend closures and resulted in considerably less congestion overall.<br><br></li>
<li>Drivers who would usually use the Rotherhithe or Blackwall Tunnel will also be able to use alternative river crossings such as Southwark Bridge, London Bridge and Tower Bridge or the Dartford Crossing to complete their journey.<br><br></li>
<li>The Woolwich Ferry will also be operating a two boat service across the weekend (Saturday 06:10 - 22:00; Sunday 09:00 - 21:30).</li></ul>
<h2>Fit for the future</h2>
<p>The scale of the refurbishment is such that a similar programme of work should not be required for another 25 years.</p>

<p>When the works are completed, the tunnel will be safer for motorists and more capable of dealing with any disruption.</p>
<p>Work carried out as part of the programme has included the installation and commissioning of new ventilation fans in the tunnel's four shafts as well as the installation of new lighting, upgraded CCTV and new communication systems throughout the tunnel.</p>

<p>TfL has also begun installing 26 inlets in the tunnel wall (including emergency phones and fire extinguishers) to provide a safe area for any drivers whose vehicles have broken down within the tunnel.</p>
<p>During the previous weekend closure during Easter, TfL also resurfaced the entire 1.4km tunnel, providing a smoother journey for road users.</p>
<h2>End in sight</h2>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL, said: 'We have made remarkable progress on refurbishment of the 113 year old tunnel and we are now into the final phase of weekend closures.</p>

<p>'The project is currently due to be completed one year ahead of schedule.</p>

<p>'Many thanks to Londoners who have been understanding about the inconvenience from this work; this weekend's closure will cause delays so we urge drivers to avoid the area if they can.'</p>
<p>For more information, visit <a href="http://www.tfl.gov.uk/blackwalltunnelrefurbishment">www.tfl.gov.uk/blackwalltunnelrefurbishment</a>. </p>
<h2>Notes to editors:</h2>
<p>1.&nbsp;TfL recently announced that the refurbishment works will be completed by December 2011, one year ahead of schedule and well before the start of the London 2012 Olympic and Paralympic Games - <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/19309.html">http://www.tfl.gov.uk/corporate/media/newscentre/archive/19309.aspx</a> </p>
<p>2.&nbsp;TfL agreed the dates for the weekend closures following discussion with a number of key stakeholders including surrounding local boroughs, Canary Wharf Group, The O2 and Connect Plus, and have been timed to avoid weekend closures of the Jubilee line through North Greenwich, and major events in the area.</p>
<p>3.&nbsp;Variable Message Signs will be located on key approach roads to both Blackwall Tunnel and Rotherhithe Tunnel to divert traffic to an appropriate river crossing.</p>
<p>4.&nbsp;The Rotherhithe Tunnel will continue to operate two-way traffic during the ongoing weekday overnight closures of the Blackwall Tunnel.</p>
<p>5.&nbsp;While the refurbishment works are carried out, northbound traffic is diverted through the southbound tunnel. Because the diversion involves chicanes, a 20mph speed limit is put in place each night and enforced by average speed cameras. Southbound traffic uses other river crossings </p>
<p>6.&nbsp;There is no toll for using the Dartford - Thurrock river crossing between 22:00 and 06:00 </p>
<p>7.&nbsp;While the northbound tunnel is closed for refurbishment works, the Route 108 (which is the only bus to use the Blackwall Tunnel) is affected. For more details, please visit <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/14080.aspx#section-2">http://www.tfl.gov.uk/corporate/projectsandschemes/14080.aspx#section-2</a>&nbsp; or check local information at bus stops </p>
<p>8.&nbsp;The northbound Blackwall Tunnel refurbishment programme will include the installation of new fire and incident detection systems and a new CCTV camera system, along with better access for emergency services. These improvements will make the tunnel meet the latest safety standards and will help to ensure the safe continued use of the tunnel, which was built in 1897 and carries 50,000 vehicles a day</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London has announced that the disruption caused by a programme of weekend closures to refurbish the Blackwall Tunnel is nearly over as the penultimate closure will take place this weekend (10 to 13 June).Closing the tunnel to southbound";}
        
        


 