


@{ViewBag.Title = "TfL announces initial results following removal of the Western Extension of the Congestion Charging Zone";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces initial results following removal of the Western Extension of the Congestion Charging Zone</h1>
        <div class="content-page-press-release">
        03 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced that following the removal of the Western Extension of the Congestion Charge Zone, a lower than expected increase in traffic driving into and within the former zone and no discernable impact on air quality.
        
    </div>



 <div class="on-this-page">
<p>An analysis of the first 12 weeks of this year by TfL found a minimal change in traffic speeds within the zone.&nbsp; </p>
<p>Boris Johnson, the Mayor of London said: 'I've always believed that West Londoners never wanted the extension of the Congestion Charge and had it foisted upon them.</p>
<p>'I am glad I gave the people a say and thrilled that the initial results suggest there has been no significant downside in removing the Western Extension zone and reopening these streets to the good people of Hammersmith, Shepherds Bush and Kilburn.'</p>
<p>The Federation of Small Business, Greater London Region Chairman, Steve Warwick, said: 'We are very pleased that the Western Extension of the Congestion Charging zone has finally been abolished.</p>
<p>'Small businesses in west London will be able to go about their business without being subject to the Congestion Charge; an issue on which many of them voted in the last Mayoral election.'</p>
<p>The key initial results observed by TfL are as follows: </p>
<p><strong>Traffic entering the former zone: </strong>In the first 12 weeks of this year traffic entering the former zone during charging hours increased by&nbsp;eight per cent when compared with the same period in 2010. That figure is at the lower end of TfL's forecast increase of&nbsp;eight to 15 per cent and means that, to date, there has been less pressure on the road network than was expected.</p>
<p><strong>Traffic within the former zone: </strong>Traffic driving within the former Western Extension did increase, but again, at a lower rate than expected.&nbsp;Traffic driving within the former zone has increased by an estimated&nbsp;six per cent, which is at the lower end of the forecast&nbsp;six to 12 per cent increase.</p>
<p><strong>Average traffic speeds within the former zone:&nbsp;</strong>Average traffic speeds in the former Western Extension were impacted significantly less than estimated.&nbsp;Average traffic speeds are estimated to be up to&nbsp;three per cent slower than in the same period last year but that is well below the forecast traffic speed reduction of between&nbsp;six and 12 per cent.&nbsp;This is due to lower levels of traffic increases occurring and mitigation measures that have been put into place.</p>
<p><strong>Air quality impacts: </strong>In terms of air quality, TfL modelling showed that the removal of the Western Extension would have a very small impact on pollution concentrations.&nbsp;The available data so far for 2011 shows that air quality in the former Western Extension zone has behaved in the same way as that in the rest of London and there has not been a discernable 'WEZ removal effect'.&nbsp;Concentrations of NO2 have actually fallen, both inside and outside the former Western Extension.</p>
<p>The first few months of this year have seen adverse particulate pollution episodes affecting the whole of London, but these are not linked to the removal of the former Western Extension.</p>
<p>They have been caused largely by the weather conditions and from pollution from the continent, which worsened concentrations of PM10 across London. </p>
<p>However, the Mayor and TfL are delivering a range of measures to improve air quality in the Capital, including the development of electric vehicle infrastructure and smarter travel initiatives to encourage a shift to cleaner modes of transport.&nbsp;</p>
<p>The Mayor has already introduced the Barclays Cycle Hire Scheme and two Barclays Cycle Superhighways are up and running with two more due to open this summer. </p>
<p>From the start of next year the London Low Emission Zone will see standards tightened for HGVs, buses and coaches and, for the first time, will require larger vans and minibuses to meet challenging emissions standards.</p>
<p>Age limits are also to be introduced for taxis and private hire vehicles and making eco driving courses mandatory for new licensees.</p>
<p>The Mayor funds and supports car clubs and is particularly pushing for the introduction of hybrid and electric cars.</p>
<p>He is also trialling dust suppressant technologies.</p>
<p>The proposals to remove the Western Extension zone were subject to extensive public consultation.</p>
<p>The last consultation closed in August 2010 and saw 62 per cent of people back the removal of the Western Extension.</p>
<p>The Mayor, on consideration of the outcome of the consultation, confirmed the removal of the Western Extension in October 2010.&nbsp;</p>
<p>The last charging day of the former Western Extension was 24 December 2010.</p>
<p>
<hr>

            <p><strong>Notes to editors:</strong></p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003 </li>
<li>On 19 February 2007 it was extended westwards, creating a single enlarged zone in which the same charges, discounts and exemptions apply </li>
<li>On 24 December 2010 the Western Extension Zone was removed following a public consultation </li>
<li>The removal of the Western Extension gave effect to a variation order that was approved by the Mayor on 20 October 2010: the Greater London (Central Zone) Congestion Charging (Variation and Transitional Provisions) Order 2010, which removes the Western Extension (approved without modification)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "An analysis of the first 12 weeks of this year by TfL found a minimal change in traffic speeds within the zone.&nbsp; Boris Johnson, the Mayor of London said: 'I've always believed that West Londoners never wanted the extension of the Congestion Charge";}
        
        


 