


@{ViewBag.Title = "TfL confirms appointment of benchmarking advisors to Independent Investment Programme Advisory Group";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL confirms appointment of benchmarking advisors to Independent Investment Programme Advisory Group</h1>
        <div class="content-page-press-release">
        29 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Advisors appointed as new report on Rail and Underground Asset Benchmarking is considered by Transport for London (TfL) Board.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'The Independent Investment Programme Advisory Group will bring real scrutiny and transparency"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'The Independent Investment Programme Advisory Group will bring real scrutiny and transparency
                            
                        </p>
                    </div>
                
            
            
            <p>TfL has announced the appointment of two new advisors for the Independent Investment Programme Advisory Group (IIPAG), the group established with the Mayor to oversee the delivery of key TfL projects.&nbsp; </p>
<p>Following the Government's Comprehensive Spending Review in 2010 the role of the IIPAG was expanded to incorporate responsibility to direct benchmarking of the costs of maintenance and project delivery on London Underground and across TfL.</p>
<p>Following a rigorous interview process two candidates have now been appointed.&nbsp; </p>
<p>Paul Jenkins and Mike Woods will be specialist advisors to IIPAG and took up their posts in June.&nbsp; </p>
<p>They will set the overall strategy and direction of the benchmarking team within London Underground (LU), ensure that key indicators, knowledge and data systems are structured for the continuous monitoring of performance and oversee the preparation of benchmarking reports. </p>
<p>Confirmation of the new IIPAG advisors came as the TfL Board considered a paper and report on Rail and Underground Asset Benchmarking at its 29 June meeting (see notes to editors).&nbsp; </p>
<p>The report identifies further opportunities to improve performance and efficiency on the Tube drawing from best practice at comparable international metros and other relevant businesses in the UK.</p>
<h2>Investing billions</h2>
<p>LU's Managing Director, Mike Brown said: 'We're investing billions to upgrade and improve London's transport network, and we're determined to deliver with the best possible value for taxpayers' and fare payers' money.&nbsp; </p>
<p>'The benchmarking report considered by the TfL Board today makes clear that LU's performance, in terms of the availability of assets such as trains, tracks and signal systems, has improved by over a third since the transfer to TfL in 2003/04.&nbsp; </p>
<p>'But we know there is much more to do.</p>
<p>'The Independent Investment Programme Advisory Group will bring real scrutiny and transparency to the unprecedented levels of investment now being made by TfL and we welcome that.&nbsp; </p>
<p>'Paul Jenkins and Mike Woods will further enhance the group, particularly its important work on benchmarking, as it identifies further opportunities to improve performance and efficiency on the Tube drawing from best practice at comparable international metros and other relevant businesses in the UK.'</p>
<p>David James, IIPAG Chair said: 'IIPAG is delighted to welcome Paul Jenkins and Mike Woods in their support of the team; their specialist input into the direction and production of benchmarking analysis alongside London Underground's technical team will be a critical feature of IIPAG's work in the future. </p>
<h2>World-class group</h2>
<p>'Their independence and professional input into the whole area of asset management and operational governance will be essential in reporting TfL's delivery to the travelling public.'</p>
<p>IIPAG was established in March 2010 to oversee the entire TfL Investment Programme, including all maintenance, renewal, upgrades and major projects across the business.&nbsp; </p>
<p>The group is made up of six world-class engineering, commercial and project management experts and reports to the TfL Board and the Mayor of London as Chair of the TfL Board.</p>
<p>IIPAG will be issuing their first Annual Report later this summer, it will summarise the key projects they have looked at and recommendations the group has made. </p>
<p>TfL is delivering the largest investment in London's transport infrastructure for decades which will boost the city's transport capacity.&nbsp; </p>
<p>TfL is investing billions to deliver critical upgrades to eight Tube lines, to build Crossrail, expand the Docklands Light Railway&nbsp;and London Overground networks, deliver a revolution in cycling and walking, improve London's public spaces, smooth traffic flow and introduce a cleaner, greener New Bus for London.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Read the report on <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Item10-Board-29-June-2011-RUP-asset-benchmarking.pdf">Rail and LU Asset Benchmarking</a></li>
<li>Biography for Paul Jenkins: Paul is a Chartered Electrical Engineer who has spent many years delivering and overseeing telecommunication and signalling projects at Network Rail.&nbsp;He is also a Fellow of both the Institution of Engineering and Technology and the Institution of Railway Signal Engineers</li>
<li>Biography for Mike Woods: Mike is a Chartered Engineer and has a PhD in Aircraft Design.&nbsp;Formerly he was in the role of Technical Advisor to the PPP Arbiter, consultant at PWC and lecturer at the University of Bath</li>
<li>IIPAG is made up of six independent experts:</li>
<ul>
<li>David James (IIPAG Chair) -&nbsp;Chartered Engineer who has been awarded the Miller Prize by the Institute of Civil Engineers. He was a member of the Balfour Beatty plc Executive Committee and was Managing Director of Balfour Beatty Management. Chairman of ABB from 2003/10, a joint venture between Atkins and Balfour Beatty to manage the redevelopment of King's Cross Tube station for TfL</li>
<li>Derek Fryer - Board Director for Mott MacDonald and former Director of Taylor Woodrow's Engineering Division</li>
<li>Charles Penny - formerly Deputy Tunnel Engineering Director for the Channel Tunnel construction project</li>
<li>Nicholas Pollard - Chief Operating Officer (EMEA and Asia Pacific) of Navigant Global Construction Services</li>
<li>Nigel Quick - former Director of Arup and Chair of Mouchel Management Ltd</li>
<li>Robin Whalley - former Board Director at Mott MacDonald and Managing Director of the firm's Hong Kong office</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL has announced the appointment of two new advisors for the Independent Investment Programme Advisory Group (IIPAG), the group established with the Mayor to oversee the delivery of key TfL projects.&nbsp; Following the Government's Comprehensive";}
        
        


 