


@{ViewBag.Title = "TfL reveals first concept drawings of improved Tottenham Hale bus station and square";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL reveals first concept drawings of improved Tottenham Hale bus station and square</h1>
        <div class="content-page-press-release">
        20 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Advance works on the scheme to be completed by end of June. Work to remove gyratory to begin in late 2012.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The changes should make a big difference to local residents and the local economy - making the whole area more accessible and more inviting"</div>
        <div class="quote-footer">
            <div class="quotee-name">Councillor Alan Strickland</div>
            <div class="quotee-job-title">Haringey Council's Cabinet Member for Economic Development and Social Inclusion</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The changes should make a big difference to local residents and the local economy - making the whole area more accessible and more inviting
                            
                        </p>
                    </div>
                
            
            
            <p>New images of how the Tottenham Hale area will look once its gyratory has been converted to two-way traffic have been revealed by Transport for London (TfL) today.</p>
<p>The images, which show the new bus station and public space, highlight the improvements that will be made to transport services in the area, creating the heart of a new urban centre at Tottenham Hale. </p>
<p>Local residents and businesses were widely consulted for their views on the improvement works and around 80 per cent of respondents to Transport for London's (TfL's) consultation supported the proposals to change the one-way system.&nbsp; </p>
<p>The work is part of the Mayor of London Boris Johnson's Great Outdoors Programme, which aims to revitalise London's network of streets, paths, passages, broadways, squares and other public spaces to help breathe new life into the Capital's urban environment and encourage people to walk and cycle.</p>
<p>Advance works along the A10 High Road by TfL are close to completion.</p>
<p>Footpaths and lighting have been upgraded and unnecessary street clutter has been removed to provide greater freedom and improved safety for pedestrians and cyclists. </p>

<h2>Area of overhaul</h2>
<p>New trees have also been planted to add more greenery to the local area.</p>
<p>The Mayor of London, Boris Johnson, said: 'The one way system in Tottenham Hale has been hugely unpopular with local people and I am sure they will be greatly relieved when it has been removed. </p>
<p>'But that is only part of an overhaul of the area that will include tremendous improvements for pedestrians and cyclists and make this a corner of the Capital we can really be proud of.'</p>
<p>From autumn 2012, work will begin to remove the one-way system in Tottenham Hale and restore two-way traffic throughout the area. </p>
<p>That will improve the resilience of the road network, ease access for local residents and businesses, and improve the interchange between methods of public transport at Tottenham Hale and Seven Sisters stations. </p>
<p>Better facilities for pedestrians and cyclists will also be installed, and a larger bus station and new public square created at Tottenham Hale station to help facilitate local development and regeneration. </p>
<p>The full scheme will be finished by 2014. </p>

<h2>More accessible and inviting</h2>
<p>Funding for the &pound;35m improvement scheme will be provided by TfL, the London Borough of Haringey and the Homes and Communities Agency, along with local developer contributions. </p>
<p>When work begins in late 2012, TfL will work closely with Haringey Council to keep any disruption caused by the construction work to a minimum.</p>
<p>Daniel Moylan, Deputy Chairman of TfL said: 'The completion of the advance works is a great step forward towards delivering another vital transport improvement scheme in London. </p>
<p>'From late 2012, TfL will be working to restore two way traffic around the Tottenham Hale Gyratory, improving traffic flow while making it easier for pedestrians and cyclists to travel through the area safely.'</p>
<p>Councillor Alan Strickland, Haringey Council's Cabinet Member for Economic Development and Social Inclusion, said: 'It is great that we can start to look forward to this work to improve Tottenham Hale and remove the one-way system. </p>
<p>'The changes should make a big difference to local residents and the local economy - making the whole area more accessible and more inviting.'</p>
<p>For more information about the improvement scheme, visit <a href="http://www.tfl.gov.uk/tottenhamhalescheme">tfl.gov.uk/tottenhamhalescheme</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Copies of the new concept drawings are available from TfL's Press Office </li>
<li>TfL manages the red routes - a network of 580km of London's roads, which carry over 33 per cent of the Capital's traffic </li>
<li>The Mayor's London's Great Outdoors has seen &pound;40m invested in more than 50 public realm improvement projects, funding for which has come from TfL, The London Development Agency and London's boroughs as well as other sources</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New images of how the Tottenham Hale area will look once its gyratory has been converted to two-way traffic have been revealed by Transport for London (TfL) today.The images, which show the new bus station and public space, highlight the improvements that";}
        
        


 