


@{ViewBag.Title = "TfL awards new contract to monitor bus driver standards to AA DriveTech";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL awards new contract to monitor bus driver standards to AA DriveTech</h1>
        <div class="content-page-press-release">
        30 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has awarded a new contract for bus driver quality monitoring to AA DriveTech.
        
    </div>



 <div class="on-this-page">
<p>The contract starts on 1 July and runs for three years with the option of a further two-year extension.</p>
<p>More than 600 covert bus driver assessments are carried out each month across the London Bus network.&nbsp; </p>
<p>Drivers are assessed on a points basis, the lower the points the better the performance.&nbsp;&nbsp; </p>
<p>During each assessment a driver is marked on passenger consideration, specifically how smooth and comfortable the ride is for passengers, driving ability and safety. </p>
<p>TfL and bus operators use the assessment scores to measure the effectiveness of initiatives aimed at improving bus driving.&nbsp; </p>
<p>The results are used by bus companies to commend or identify development needs for individual drivers.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>There are 8,500 buses in London operating across 700 routes</li>
<li>The Capital's bus network is one of the largest and most comprehensive urban transport systems in the world</li>
<li>During the last financial year London's buses carried almost 2.3 billion passengers - 24 million more than the previous year</li>
<li>Bus ridership has increased by 60 per cent in London since 2000</li>
<li>Dueing the last financial year buses in the Capital travelled 486 million kilometres in passenger service, which was 2.6 million kilometres more than the previous year</li>
<li>With more than 20 years of fleet and driver training knowledge, DriveTech was acquired by the AA in 2009, forming AA DriveTech, one of the leading fleet consultancies and driver training providers in the UK and overseas</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The contract starts on 1 July and runs for three years with the option of a further two-year extension.More than 600 covert bus driver assessments are carried out each month across the London Bus network.&nbsp; Drivers are assessed on a points basis, the";}
        
        


 