


@{ViewBag.Title = "TfL Annual Report: Improvements delivered, investment protected and savings secured";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Annual Report: Improvements delivered, investment protected and savings secured</h1>
        <div class="content-page-press-release">
        27 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Report sets out major improvements delivered to London's transport services and infrastructure.
        
    </div>



 <div class="on-this-page">
<p>Billions of pounds of investment protected now and in the future. </p>
<p>A &pound;7.6bn savings and efficiencies programme under way with more than half already secured. </p>
<p>Transport network is carrying record numbers of passengers with numbers set to grow further.</p>
<p>
<hr>

&nbsp;
Transport for London's (TfL) Annual Report and Statement of Accounts for the year ended 31 March 2011 will be considered by the TfL Board on 29 June.
<p>The report sets out the major programme of improvements delivered across London's transport network in 2010/11. </p>
<p>It also shows how billions of pounds of investment, vital to London and the UK's economic development and growth, were secured during one of the toughest economic climates and Government spending rounds seen in decades. </p>
<p>The Mayor and TfL have led the way across the public sector in delivering value for money through the implementation of a &pound;7.6bn savings and efficiencies programme while protecting essential upgrade and frontline services.&nbsp; </p>
<p>Actions already taken have secured &pound;4.6bn in savings by 2017/18 and a range of initiatives are being put into place across TfL to deliver the remainder.&nbsp; </p>

<p>Despite an eight per cent reduction in TfL's overall budget following the Government's Spending Review, unprecedented levels of investment in upgrades, extensions and frontline services are being maintained. </p>
<p>The last year has seen a huge programme of delivery across London's transport network including:</p>
<ul>
<li>Record levels of services operated and customers carried </li>
<li>London's extensive, frequent, reliable, and accessible bus networks maintained </li>
<li>The new &pound;1bn East London line, opened ahead of schedule and on budget, carrying 20 million passengers in its first year </li>
<li>London Underground's first ever air-conditioned trains rolled out on the Metropolitan line, ahead of the whole fleet being rolled out on the Circle, District and Hammersmith &amp; City lines </li>
<li>Barclays Cycle Hire scheme launched with five million journeys travelled and more than 125,000 members </li>
<li>Barclays Cycle Superhighways routes 3 and 7 opened with a 70 per cent increase in journeys on the routes </li>
<li>Further roll out of three-car services on the Docklands Light Railway (DLR), to enable a 50 per cent increase in capacity across the network </li>
<li>The Western Extension of the Congestion Charge removed, with initial results showing lower than expected increases in traffic and no discernible effect on air quality </li>
<li>CC Auto Pay introduced to make paying the Congestion Charge easier for 115,000 members already signed up </li>
<li>The New Bus for London engineering test vehicle built and ready to enter rigorous testing, ahead of the first vehicles entering service early in 2012 </li>
<li>Measures implemented to smooth traffic flow across the Capital, TfL has reviewed more than 1,000 traffic lights across London, resulting in an eight per cent reduction in delays for traffic at these signals </li>
<li>New measures to cut unnecessary delays at the Blackwall Tunnel, as the refurbishment programme is set to be delivered ahead of schedule </li>
<li>Innovative 'Pedestrian Countdown' crossings introduced </li>
<li>Bus crime at its lowest level for six years with an eight per cent year-on-year reduction </li>
<li>London's roads made safer with an 11 per cent fall in deaths and serious injuries </li>
<li>The acquisition of Tube Lines signalling the end of the flawed and failing Public Private Partnership contracts, enabling TfL to deliver Tube upgrades with much less disruption to Londoners and businesses in future</li></ul>
<p>Mayor of London and Chairman of TfL, Boris Johnson, said: 'Despite the toughest economic climate in decades, we have secured unprecedented levels of investment in London's transport network and there have been record numbers of passengers carried.</p>
<p>'It is absolutely imperative now that we continue in this vein, improving the reliability of our transport network and increasing capacity and I know that TfL staff are up for this challenge.'</p>

<p>&nbsp;</p>
<p>The TfL Annual Report and Statement of Accounts also set out, as it does each year, senior remuneration across the TfL group of companies.&nbsp; </p>
<p>For the first time this year, the figures include those from Tube Lines. </p>
<p>The figures show that although there has been an increase in the overall number of people who received total remuneration of more than &pound;100,000 in 2010/11, this is due to the acquisition of Tube Lines in June 2010, an increase at Crossrail as it recruits more staff and enters the delivery phase of the project, and an increase in the number of people across TfL whose total remuneration exceeded &pound;100,000 due to severance&nbsp; payments. </p>
<p>The number of people earning total remuneration of more than &pound;100,000 across the TfL group of companies in 2010/11 was 379.&nbsp; </p>
<p>This includes 68 employed at Tube Lines (37 of these staff have since left TfL), 84 people who left TfL in the last year and received total remuneration of more than &pound;100,000 through a combination of their salary and severance and 31 senior staff at Crossrail. </p>
<p>Therefore, the baseline number in 2010/11 was 196, roughly equal to 194 in 2009/10.&nbsp; </p>
<p>TfL is also reducing the number of Director-level positions by 25 per cent, or 13 posts, as it restructures the organisation. </p>
<p>In recognition of the difficult economic climate, the salaries of senior TfL staff in 2010/11 were frozen for a second consecutive year, and in addition the Commissioner of Transport, Peter Hendy, and all Chief Officers declined their performance awards for achievements in 2009/10. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TfL's draft 2010/11 Annual Report and Statement of Accounts is available online

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Billions of pounds of investment protected now and in the future. A &pound;7.6bn savings and efficiencies programme under way with more than half already secured. Transport network is carrying record numbers of passengers with numbers set to grow";}
        
        


 