


@{ViewBag.Title = "Transport for London response to the Employment Tribunal decision in respect of Arwyn Thomas";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London response to the Employment Tribunal decision in respect of Arwyn Thomas</h1>
        <div class="content-page-press-release">
        22 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contrary to the claims of the RMT leadership, Tribunal finds that Mr. Thomas was not dismissed because of his union activities.
        
    </div>



 <div class="on-this-page">
<p>Claims not supported that he had become a 'thorn in the side' of London Underground (LU). </p>
<p>Mr. Thomas found to be 50 per cent blameworthy for his dismissal.</p>
<p>
<hr>
</p>
<p>Transport for London (TfL) today responded to the findings of the Employment Tribunal in respect of Arwyn Thomas, the Tube driver who was dismissed for unacceptable behaviour towards his colleagues.</p>
<p>The Tribunal found that LU were entitled to discipline Mr. Thomas because of his actions, and also that:</p>
<ul>
<li>Arwyn Thomas was not dismissed for his union activities, contrary to the claims of the RMT leadership</li>
<li>Mr. Thomas' claims were not supported that he had become a 'thorn in the side' of his employers</li>
<li>The explanation given by Mr. Thomas for what was seen on CCTV was not credible</li>
<li>Mr.Thomas was 50 per cent blameworthy for his dismissal</li>
<li>The hearing will continue to discuss dates for a remedies hearing</li></ul>
<p>Despite this, the tribunal found that - although LU were right to discipline Mr.Thomas - other options than dismissal should have been explored, therefore he was unfairly dismissed. </p>
<p>Given these findings, and the fact that the tribunal has not recommended that Mr.Thomas be re-instated, TfL will now be considering the findings in detail. </p>
<p>In the meantime, it is urging the RMT leadership to acknowledge that Mr. Thomas was not subject to action due to his union activity, which was the whole basis of their call for strike action. </p>
<p>TfL is therefore calling on the RMT leadership to suspend their threatened strike action to allow the employment tribunal process to consider the potential remedies. </p>
<p>Mike Brown, LU's Managing Director, said: 'The employment tribunal has today ruled that Mr Thomas should have been disciplined for his actions and that his dismissal was in no way due to his activities as a union member. </p>
<p>'This is entirely contrary to the claims made by the RMT leadership in order to justify their strike action. </p>
<p>'The tribunal has also found that he was 50 per cent blameworthy for his dismissal, and it has not called for his re-employment.</p>
<p>'However, we recognise that despite these factors, the tribunal has found that the sanction used in Mr Thomas' case was too high. </p>
<p>'We will therefore now be considering the findings in detail. </p>
<p>'We would urge the RMT leadership to acknowledge that their claims of union victimisation were false and to suspend their threatened strike action.'</p>
<p>The RMT leadership is currently threatening a series of strikes, aimed at disrupting services throughout next week. </p>
<p>If the strikes go ahead TfL will operate as many services as possible, and passengers are advised to <a href="http://www.tfl.gov.uk">check before they travel</a>.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Claims not supported that he had become a 'thorn in the side' of London Underground (LU). Mr. Thomas found to be 50 per cent blameworthy for his dismissal.Transport for London (TfL) today responded to the findings of the Employment Tribunal in respect of";}
        
        


 