


@{ViewBag.Title = "Transport for London statement following Arwyn Thomas tribunal decision";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London statement following Arwyn Thomas tribunal decision</h1>
        <div class="content-page-press-release">
        23 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mr Thomas offered re-employment with significant conditions attached reflecting the seriousness of his behaviour.
        
    </div>



 <div class="on-this-page">
<ul>
<li>RMT leadership call off strike and agree not to ballot for industrial action in such cases in the future unless all of the processes for&nbsp;dealing with individual disputes have been exhausted</li></ul>

<p><br>In response to the Employment Tribunal in respect of Arwyn Thomas, the Tube driver dismissed for unacceptable behaviour towards his colleagues, Transport for London has today offered to reinstate him with significant conditions attached. </p>
<p>The Tribunal found that London Underground (LU) were entitled to discipline Mr Thomas because of his actions, that he was not dismissed for his union activities - contrary to the claims of the RMT leadership - and that he was 50 per cent blameworthy for his dismissal. </p>
<p>However, the Tribunal also found that the sanction of dismissal was too severe. Mr Thomas has therefore been offered re-employment, but with a number of conditions that recognise the seriousness of his offence, including: </p>
<ul>
<li>Mr Thomas will not return to his previous work location, and will be re-employed in a non-operational role, which does not involve customer facing duties</li>
<li>The RMT leadership agree to end all industrial action in relation to this current dispute</li>
<li>The RMT leadership agree that any future individual cases will follow the normal processes for resolving individual disputes, all of which will be exhausted up to ACAS level in advance of any ballot for industrial action being called</li>
<li>Any future case will be formally referred to the General Secretary of the RMT and the Managing Director&nbsp;of LU for ultimate review before any such ballot </li></ul>
<p>Mike Brown, LU's Managing Director, said: 'Arwyn Thomas' employment tribunal found that, contrary to the claims of the RMT leadership, he was dismissed because of his abusive behaviour and not because of his union activities. </p>

<p>'The settlement that we have reached ensures that Mr Thomas' re-instatement is on a basis that recognises the seriousness of his offensive behaviour.</p>

<p>'It also allows us to move forward towards a more constructive relationship with the RMT, whereby Londoners should not be threatened with strike action relating to such individual tribunal cases in the future.'&nbsp;&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "RMT leadership call off strike and agree not to ballot for industrial action in such cases in the future unless all of the processes for&nbsp;dealing with individual disputes have been exhaustedIn response to the Employment Tribunal in respect of Arwyn";}
        
        


 