


@{ViewBag.Title = "Transport for London advice to road users: Emergency closure of A501 Marylebone Road eastbound";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London advice to road users: Emergency closure of A501 Marylebone Road eastbound</h1>
        <div class="content-page-press-release">
        27 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Owing to emergency Thames Water works to repair a burst water main on the A501 Marylebone Road at its junction with Baker Street, Marylebone Road will be closed eastbound from 10:30 this morning.
        
    </div>



 <div class="on-this-page">
<p>A local diversion will be put in place around Regent's Park. </p>
<p>However, to disperse traffic across a wider area, TfL will also be closing the A40 eastbound from the northern roundabout and diverting all traffic south onto the West Cross route.&nbsp; </p>
<p>Local bus diversions will also be in place.&nbsp; </p>
<p>Transport for London (TfL) is therefore urging all road users to avoid the area if at all possible.&nbsp; </p>
<p>The water main&nbsp; has split across the entire width of the eastbound carriageway, making a full closure the only practical option to repair it.&nbsp; </p>
<p>Thames Water's engineers are currently on site and will be working around the clock to fix the main as quickly as possible.&nbsp; </p>
<p>However, the closure is likely to be in place for at least 24 hours.&nbsp;&nbsp;&nbsp; </p>
<p>Garrett Emmerson, TfL's Chief Operating Officer&nbsp;for London Streets, said: 'We are advising motorists to avoid the A501 Marylebone Road eastbound, and the A40 as it approaches the Baker Street area.</p>
<p>'This is clearly a key section of London's road network and we are closely monitoring Thames Water's work to ensure they complete their repairs with the utmost urgency and are doing everything possible to minimise the amount of traffic disruption that this will inevitably cause.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A local diversion will be put in place around Regent's Park. However, to disperse traffic across a wider area, TfL will also be closing the A40 eastbound from the northern roundabout and diverting all traffic south onto the West Cross route.&nbsp; Local";}
        
        


 