


@{ViewBag.Title = "UK first as TfL installs eco-lighting in a London road tunnel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UK first as TfL installs eco-lighting in a London road tunnel</h1>
        <div class="content-page-press-release">
        17 June 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Upper Thames Street tunnel in central London is the first UK tunnel with linear LED lighting. New technology will deliver a 60 per cent reduction in energy consumption as well as reduced maintenance costs. The new lights are designed to improve safety.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Not only are these innovative lights cheaper and longer lasting, they will make the tunnel much safer for motorists and cyclists by improving visibility"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Director for Environment</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Not only are these innovative lights cheaper and longer lasting, they will make the tunnel much safer for motorists and cyclists by improving visibility
                            
                        </p>
                    </div>
                
            
            
            <p>In a UK-first, innovative, eco-friendly lights have been installed in a central London tunnel by Transport for London (TfL) - helping to improve safety, reduce maintenance closures as well as cut energy consumption and costs. </p>
<p>The Upper Thames Street westbound tunnel is now entirely lit with low energy, long-life LED (Light Emitting Diode) lights providing a host of benefits for Londoners. </p>
<p>The design and colour of the lights is designed to improve visibility for cyclists and motorists to boost safety. </p>
<p>The lights will also cut carbon dioxide (CO2)&nbsp;emissions by more than 60 per cent compared with conventional systems, helping to reduce TfL's energy bills. </p>
<p>Projections show the cost of lighting the tunnel could fall from around &pound;50,000 each year to less than &pound;10,000, delivering a potential annual saving of at least &pound;40,000. </p>
<p>The innovative lights are also expected to last for 20 years as opposed to the existing system's two-year life span, significantly reducing the need for maintenance closures. </p>
<p>The LED system is contributing towards the Mayor of London Boris Johnson's target of a 60 per cent reduction in the Capital's CO2 emissions by 2025, and will deliver an estimated saving around 163 tonnes of CO2 emissions per year - enough gas to fill almost 800 double deck buses. </p>
<p>Upper Thames Street tunnel, which opened in 1970, carries around 35,000 vehicles each day. </p>
<h2>At the forefront of new technology</h2>
<p>Kulveer Ranger, the Mayor of London's Director for Environment, said: 'The Mayor wants London to be firmly at the forefront of new technology used to improve quality of life. </p>
<p>'Not only are these innovative lights cheaper and longer lasting, they will make the tunnel much safer for motorists and cyclists by improving visibility. </p>
<p>'We will be keeping a close eye on this trial and I hope to see its benefits rolled out at other tunnels across the city.'</p>
<p>Dana Skelley, Director of Roads at TfL and Chair of the UK Lighting Board, said: 'LED technology and other energy saving methods are opportunities that all highway authorities should be looking at as they can bring benefits both to road users and the authority. </p>
<p>'We are delighted that we have now completed these works to light the first UK road tunnel solely by LED technology. </p>
<p>'TfL is firmly embracing new lighting technologies across all modes of transport and the new system in Upper Thames Street is a firm step towards greener more efficient street lighting in London.'</p>
<h2>Making the Capital cleaner and greener</h2>
<p>Upgrading the lighting system in Upper Thames Street tunnel is just one way the Mayor and TfL are working together to make the Capital cleaner and greener. </p>
<p>London is already leading the way on the introduction of hydrogen buses and electric vehicles while the Capital's cycle revolution is increasing the numbers of bikes on the streets and improving cycling safety. </p>
<p>Now that the works in the Upper Thames Street westbound tunnel are complete, TfL will be closely monitoring the LED lighting system over the coming months to validate the new technology, while investigating where else LED and innovative lighting technology could be introduced within the other 12 tunnels on the TfL Road Network, as well as within subways and street lighting. </p>
<p>Subject to funding, it is hoped that further schemes can be developed across London, delivering further benefits to road users across the Capital.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The linear LED lighting system has been designed and manufactured by WRTL and installed by SPIE WHS on behalf of TfL's Highway Maintenance Contractor Ringway Jacobs</li>
<li>TfL is also currently carrying out a trial of LED street lighting at two locations across London. The trial, which is being carried out in partnership with The Climate Group, begun in November 2010 and provisional results show that the system is working as well if not better that traditional street lighting and is showing potential for both maintenance and energy savings</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In a UK-first, innovative, eco-friendly lights have been installed in a central London tunnel by Transport for London (TfL) - helping to improve safety, reduce maintenance closures as well as cut energy consumption and costs. The Upper Thames Street";}
        
        


 