
    
  



@{ViewBag.Title = "Changes to ticket office hours";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/london-overground/changes-to-ticket-office-hours";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/london-overground/index">London Overground</a></li>
                
            
            
                <li><span class="last-breadcrumb">Changes to ticket office hours</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Changes to ticket office hours</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are reducing the opening hours of our ticket offices at some stations over the next few weeks.
        
      </div>
    
    
      <p>This is to reflect the rapidly changing way that customers pay for their travel as they embrace new technology, including contactless cards and mobile devices.</p>

<p>Today, fewer than 2% of London Overground journeys involve a visit to a London Overground ticket office, and an increasing number of customers choose to top up their Oyster card online or use contactless payment. Contactless, Oyster and mobile payments offer easy and convenient payment options and value for money through capping.</p>

<p>Our busiest ticket offices' hours will remain unchanged, but at many stations ticket offices will open during the morning peak (07:30 &#45; 10:00) when they are most used.</p>

<p>To see the new hours for London Overground stations with changes and the date from which the new times will apply,&nbsp;check the table.</p>

<p>If your station is not listed, its ticket office hours are not changing.</p>
      
           
      

<h2>New opening times</h2>

<p>All dates are in 2020.</p>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<thead>
		<tr>
			<th id="s" scope="col"><strong>Station&nbsp;</strong></th>
			<th id="f" scope="col"><strong>From</strong></th>
			<th id="w" scope="col"><strong>Monday-Friday</strong></th>
			<th id="sa" scope="col"><strong>Saturday</strong></th>
			<th id="su" scope="col"><strong>Sunday</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="s">Acton Central</td>
			<td headers="f">6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td>Anerley</td>
			<td headers="s">23 January</td>
			<td>07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td>Brondesbury</td>
			<td headers="s">3 March</td>
			<td>07:30- 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Brondesbury Park</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Bush Hill Park</td>
			<td>30 January</td>
			<td headers="w">06:45 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Caledonian Road &amp; Barnsbury</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Camden Road</td>
			<td>6 February</td>
			<td headers="w">06:30 &#45; 10:00 / 15:00 &#45; 19:00</td>
			<td>10:45 &#45; 14:15</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Canonbury</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Carpenders Park</td>
			<td>6 February</td>
			<td headers="w">06:30 &#45; 10:00</td>
			<td>10:30 &#45; 12:30</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Clapton</td>
			<td>30 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Dalston Junction</td>
			<td>23 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td>12:30 &#45; 14:45</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Dalston Kingsland</td>
			<td>6 February</td>
			<td headers="w">07:00 &#45; 18:15</td>
			<td headers="sa">08:45 &#45; 19:00</td>
			<td>12:15 &#45; 13:30</td>
		</tr>
		<tr>
			<td headers="s">Finchley Road &amp; Frognal</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Gospel Oak</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Hackney Central</td>
			<td>6 February</td>
			<td headers="w">07:15 &#45; 10:00 / 13:00 &#45; 18:00</td>
			<td>10:15 &#45; 16:00</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Hackney Downs</td>
			<td>30 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Hackney Wick</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Haggerston</td>
			<td>23 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Hampstead Heath</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Hatch End</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Headstone Lane</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Homerton</td>
			<td>6 February</td>
			<td headers="w">06:30 &#45; 18:30</td>
			<td>08:15 &#45; 14:30</td>
			<td>11:30 &#45; 15:00</td>
		</tr>
		<tr>
			<td headers="s">Honor Oak Park</td>
			<td>23 January</td>
			<td headers="w">06:45 &#45; 10:00</td>
			<td>09:45 &#45; 11:45</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Hoxton</td>
			<td>23 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Imperial Wharf</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 12:00 / 16:15 &#45; 18:15</td>
			<td>09:30 &#45; 14:00</td>
			<td>10:00 &#45; 12:30</td>
		</tr>
		<tr>
			<td headers="s">Kensal Rise</td>
			<td>6 February</td>
			<td headers="w">07:00 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Kensington (Olympia)</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Kentish Town West</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Kilburn High Road</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Penge West</td>
			<td>23 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Rectory Road</td>
			<td>30 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Rotherhithe</td>
			<td>23 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">St James Street</td>
			<td>30 January</td>
			<td headers="w">07:00 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Shadwell</td>
			<td>23 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Shepherd's Bush</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00 / 13:30 &#45; 18:30</td>
			<td>09:15 &#45; 14:45</td>
			<td>10:15 &#45; 11:15</td>
		</tr>
		<tr>
			<td headers="s">Shoreditch High Street</td>
			<td>23 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td>09:45 &#45; 17:15</td>
			<td>11:15 &#45; 17:45</td>
		</tr>
		<tr>
			<td headers="s">Silver Street</td>
			<td>30 January</td>
			<td headers="w">06:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">South Hampstead</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Southbury</td>
			<td>30 January</td>
			<td headers="w">06:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Stoke Newington</td>
			<td>30 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Surrey Quays</td>
			<td>23 January</td>
			<td headers="w">07:00 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Turkey Street</td>
			<td>30 January</td>
			<td headers="w">06:30 &#45; 10:00</td>
			<td headers="sa">09:45 &#45; 13:00</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Wapping</td>
			<td>23 January</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">Watford High Street</td>
			<td>6 February</td>
			<td headers="w">07:30 &#45; 10:00</td>
			<td headers="sa">09:30 &#45; 12:15</td>
			<td headers="su">Closed</td>
		</tr>
		<tr>
			<td headers="s">West Hampstead</td>
			<td>6 February</td>
			<td headers="w">07:00 &#45; 11:00 / 16:00 &#45; 18:45</td>
			<td headers="sa">10:00 &#45; 14:15</td>
			<td headers="su">11:15 &#45; 14:45</td>
		</tr>
		<tr>
			<td headers="s">Wood Street</td>
			<td>30 January</td>
			<td headers="w">06:30 &#45; 10:00</td>
			<td headers="sa">Closed</td>
			<td headers="su">Closed</td>
		</tr>
	</tbody>
</table></div>

<p>Some offices may be open for information only at other times.</p>

<p>We will maintain the highest standards of safety and security - this&nbsp;remains a priority. All stations will remain staffed at all times, from 15 minutes before the first train until 15 minutes after the last.</p>


 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="wTy7FWr6Dzw" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Ticket machines</h2>

<ul>
	<li>At stations managed by London Overground, all self-service ticket machines have been upgraded or replaced</li>
	<li>98% of sales at London Overground ticket offices can be made using a ticket machine</li>
	<li>Customers can buy tickets to all National Rail destinations, Oyster and paper weekly and Oyster monthly Travelcards</li>
	<li>Ticket machines can also be used for&nbsp;Oyster top-up and collecting tickets ordered online</li>
	<li>Advance tickets are also available from ticket machines</li>
	<li>Most stations have multiple machines</li>
	<li>If a product or service is not available on the machine, staff can advise customers of alternative ways of obtaining that product or service</li>
</ul>

<p>The Mayor of London has allocated &pound;1m to invest in new technology, to improve stations and make it easier for customers to get help when they need it, including video-linked ticket machines and remote controlled ticket barriers at some stations.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/london_overground" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/london_overground" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Changes to London Overground ticket office opening hours in January 2020";}
        
            
        


 