
    
  



@{ViewBag.Title = "Improving London Overground";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/london-overground/improving-london-overground";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/london-overground/index">London Overground</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving London Overground</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improving London Overground</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are continuing to work on London Overground service and station improvements to keep up with the growing demand on the network. Improvements are coming  across the network including brand new trains for many routes.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We reinvest all our income to run and improve your network so you can expect to see more improvements to services and stations in the future.</p>

<h2>Improving services</h2>

<h3>Frequency increase for Richmond and Clapham Junction to Stratford</h3>

<p>Customers now benefit from a more regular service between Richmond and Clapham Junction to Stratford, introduced in December 2019. Frequency was increased during the morning and evening peak to meet growing demand.</p>

<p>Services increased from four to five trains an hour during peak hours on both the Richmond and Clapham Junction branches, providing a more frequent ten train an hour service on the busiest part of the route between Willesden Junction and Stratford.</p>

<p>The introduction of these additional trains has allowed a more even service to operate on both branches at peak times. This has also created a more even service across the whole route.</p>

<p>Train times are on our <a href="/modes/london-overground/london-overground-timetables">London Overground timetables</a>.</p>

<h3>Frequency increase for Watford Junction to Euston</h3>

<p>A more frequent service is now running between Watford Junction and Euston. Four trains an hour are running, approximately every 15 minutes, throughout the day. This is an increase on the four trains an hour service already operating during the morning and evening peak only between September and November 2019.</p>

<p>The more regular service has come from the introduction of new electric trains which offer increased capacity and frequency. You'll also find free Wi-Fi on board, live information screens, walk-through carriages, more wheelchair spaces and USB charging points. These trains will operate alongside the existing trains.</p>

<p>Train times are on our <a href="/modes/london-overground/london-overground-timetables">London Overground timetables</a>.</p>

<h3>New trains for Gospel Oak to Barking</h3>

<p>State-of-the-art electric trains are now running on the Gospel Oak to Barking route. The new four-car trains have walk through carriages, air-conditioning, USB charging points, free Wi-Fi, live information screens and more wheelchair spaces.</p>

<p>They can carry almost 700 people - double the number on the old two-car trains that had been operating on the route.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/electric-lo-train2.jpg" alt="Electric train at Walthamstow Queens Road station" />
        <span class="caption">A new electric train at Walthamstow Queen's Road station</span>
        
        
    </div>   
 </div>
 <div>

<h3>New trains for Liverpool Street services</h3>

<p>Brand new London Overground trains will be introduced on services to Chingford, Cheshunt and Enfield Town (as well as Romford to Upminster). The new trains will feature walk-through carriages, air-conditioning, live network information and improved accessibility.</p>

<p>We expect the trains to be in service by winter 2019/20. Until then we are investing over &pound;2 million to pay for modifications to existing trains inherited from Abellio to ensure they meet our expected standards.</p>

<h2>Improving stations</h2>

<p>As well as London Overground improvements across the whole network, we are also improving your local stations and the service you receive.</p>

<p>Over half of London Overground stations now have step-free access from street to platform. A further five stations are proposed to be made step-free by 2024 as part of the Department for Transport's Access for All scheme.</p>

<p>Wi-Fi is available at 79 stations and we've&nbsp;improved ticket halls and ticket gates, installed lifts, widened entrances, improved shelters and increased cycle parking. We are also making continuous improvements to enhance accessibility, reliability and service. Our stations are staffed from first train to last and our staff are equipped with devices to keep them up to date with the latest travel information.</p>

<h3>Video-linked ticket machine trial</h3>

<p>As part of our plan to invest in new technology to improve stations and make it even easier for customers to get help when they need it, we're&nbsp;running a 12-week trial of video-linked ticket machines at four stations (Camden Road, Crystal Palace, Bruce Grove and Woodgrange Park) from October 2019.</p>

<p>The video function will link back to a customer service operator who will guide customers through ticket purchasing and provide any other assistance as required. We'll monitor&nbsp;the trial closely&nbsp;to learn how to improve this service for our customers.</p>

<h3>West Hampstead</h3>

<p>The new station entrance on West End Lane is open. It has more ticket gates, two wide aisle gates and a bigger station concourse. Two lifts have also been installed providing step-free access from street to platform.</p>

<p>Improvement works at the station are now complete. These works also brought wider platforms and a water dispenser where you can fill up your water bottle.</p>

<p>The station has received &pound;3m in funding from the Department for Transport's Access for All fund and &pound;900k from the adjacent Ballymore housing development. The remainder has been invested by TfL.</p>

<p>This is one of the largest Access for All schemes on the London Overground network. It's a key interchange for northwest London, given the proximity to West Hampstead's Thameslink and Tube stations.</p>

<h3>White Hart Lane</h3>

<p>We are working closely with Haringey Council as they regenerate the North Tottenham area. As part of these plans we have transformed White Hart Lane station to make it bigger, brighter and more accessible. There&nbsp;is:</p>

<ul>
	<li>A new station entrance, ticket hall, station facilities and station forecourt</li>
	<li>A new pedestrian entrance from Penshurst Road</li>
	<li>Improved access from street level to platforms, including new lift access and new platform canopies</li>
	<li>Improvements to the area around the station including new cycle parking and station forecourt, improved CCTV and signage</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/lo-white-hart-lane.jpg" alt="White Hart Lane station entrance" />
        <span class="caption">White Hart Lane station entrance</span>
        
        
    </div>   
 </div>
 <div>

<h3>Whitechapel</h3>

<p>In preparation for the introduction of the Elizabeth line, we are working closely with Crossrail Ltd on the rebuilding of Whitechapel station. This will provide a step-free interchange between London Overground and the new service.</p>

<h3>Barking Riverside</h3>

<p>Barking Riverside is the largest housing development in east London, with planning permission for up to 10,800 new homes, as well as healthcare, shopping, community and leisure facilities.</p>

<p>We&nbsp;are building&nbsp;a 4km extension (1.5km of new track) of the London Overground Gospel Oak to Barking route into the Barking Riverside development in the London Borough of Barking and Dagenham. This will be supported by a new station at the heart of the development.</p>

<p>The extension, due to open in 2021,&nbsp;will provide an essential rail link to support the development of Barking Riverside, serving both new and existing residents. It will facilitate an interchange at Barking with the existing Fenchurch Street line and the District and Hammersmith &amp; City lines, improving transport infrastructure to the area.</p>

<p>See the <a href="/travel-information/improvements-and-projects/barking-riverside-extension">Barking Riverside extension</a> page for more information.</p>
</div>
 <div>

<h2>Accessible trains</h2>

<p>We&nbsp;work to make sure that all trains and stations are as accessible for all as possible.</p>

<p>During 2020 we will&nbsp;introduce new trains onto London Overground routes from Liverpool Street to Enfield, Cheshunt and Chingford. These&nbsp;have wide doors and open carriages.</p>

<p>Until then we will continue to operate our existing fleet of trains, some of which have fewer accessible features.</p>

<p>Affected features include:</p>

<ul>
	<li>Number of wheelchair spaces and call for aid</li>
	<li>Height and location of some handholds and handrails</li>
	<li>Some aspects of push button operation</li>
	<li>Some aspects of door controls, door sounds and lighting</li>
	<li>Passenger information screen visibility</li>
	<li>Priority seat height</li>
	<li>Platform/train gap and step</li>
</ul>

<p><a href="http://www.arrivaraillondon.co.uk/downloads/London_Overground_317_trains_in_operation.xlsx">More details of these trains (XLSX 29KB).</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/london_overground" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/london_overground" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/campaign/station-wifi"  class="plain-button">Station Wi-Fi</a>


<a href="/travel-information/improvements-and-projects/step-free-access"  class="plain-button">Step-free access</a>


<a href="/travel-information/improvements-and-projects/index"  class="plain-button">See all improvements and projects</a>

</div>
<div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/transport-accessibility/help-from-staff" class="plain-button">Get help from staff</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are continuing to work on station and service improvements to keep up with the growing demand and to maintain the service you have come to expect from a London Overground operated network";}
        
            
        


 