
    
  



@{ViewBag.Title = "London Overground Night Service";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/london-overground/london-overground-night-service";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/london-overground/index">London Overground</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Overground Night Service</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Overground Night Service</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The London Overground Night Service now calls at Whitechapel. The service runs on weekends between Highbury & Islington and New Cross Gate.
        
      </div>
    
    
      <h2></h2>
      
           
          <div class="image-box">
    
        <img src="/cdn/static/cms/images/extended-night-overground-no-copy-portrait-crop-700x800.jpg" alt="Extended night overground to Highbury & Islington" />
        
    </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/standard-night-tube-map.pdf">
    <div class="document-download-text">
        <p>London Overground Night Service and Night Tube</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 
</div>

</div>
 <div>

<h2>About the service</h2>

<ul>
	<li>The London Overground Night Service runs on&nbsp;Friday and Saturday nights into the early hours of Saturday and Sunday mornings</li>
	<li>Services&nbsp;started on 15 December 2017 between New Cross Gate and Dalston Junction</li>
	<li>They&nbsp;were extended to Highbury &amp; Islington&nbsp;on 23 February 2018</li>
	<li>Night Service has called at Whitechapel since Friday 14 December 2018</li>
	<li>We will keep this page up to date with the latest information about the service</li>
</ul>

<h2>Fares</h2>

<p>Fares on the London Overground night service are off-peak. Travelcards are valid on the day of issue (using the date printed on the card), and for journeys starting before 04:30 the following day.</p>

<p>For example, if you buy a Day Travelcard at 11:00 on Friday, you can use it until 04:29 on the following Saturday. Daily capping on Oyster cards and contactless payment cards also applies.</p>

<h2>Accessibility</h2>

<p>Step-free accessibility at London Overground stations is the same as during the day service.</p>

<h2>Night Tube connections</h2>

<p>The London Overground Night Service connects with the Night Tube network at Canada Water on the Jubilee line.&nbsp;You can also connect to the Victoria line from Highbury &amp; Islington.</p>

<h2>Night buses</h2>

<p>All London Overground Night Service stations except Shadwell and Wapping have connecting night buses.</p>

<p><a href="/maps_/bus-spider-maps">Night bus maps are available</a> - just enter the area you are interested in to see where night buses are available.</p>

<h2>Noise and disturbance</h2>

<p>We are working to reduce noise impact for local people. These measure include modern floating track to absorb vibration from trains in tunnels, maintaining rails in the best possible condition, and using rail damping technology and remotely controlled track greasing devices.</p>

<p>Anyone affected by noise from the Night Overground service should contact TfL's 24/7 Customer Service centre on 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL&nbsp; call charges</a>). Everyone is guaranteed a personal response and a speedy investigation of their issue.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/london_overground" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/london_overground" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/tube-improvements/what-we-are-doing/night-tube" class="plain-button">Night Tube</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "New night London Overground service";}
        
            
        


 