
    
  



@{ViewBag.Title = "Commercial partnership opportunities";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-opportunities/commercial-partnership-opportunities";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing">Commercial partnerships and experiential marketing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial partnership opportunities</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Commercial partnership opportunities</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Explore the opportunities for commercial partnership with us. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Out of home advertising</h2>

<p>You can book out of home advertising via our advertising partner Exterion Media. This can be either alongside a commercial partnership for an integrated campaign through our joint Hello London offering, or as a standalone booking.</p>

<p>We offer a range of formats, from traditional posters to digital screens to more creative solutions.</p>

<p>For more information <a href="http://www.exterionmedia.com/uk/our-products/tfl-rail-estate/london-underground-advertising">visit the Exterion website</a>.</p>

<h2>Experiential space</h2>

<p>You can book experiential advertising as part of a commercial partnership or as a standalone booking via one of our experiential advertising partners.</p>

<p>Many pre-approved locations are available for activities including distributing product samples, marketing materials or creating immersive brand experiences.</p>

<p>For more information email <a href="mailto:experientialmarketing&#64;tube.tfl.gov.uk">experientialmarketing&#64;tube.tfl.gov.uk</a>.</p>

<h2>Filming and photography</h2>

<p>Find out about <a href="/info-for/media/filming-opportunities">filming and photography opportunities on the TfL network</a>.</p>

<h2>TfL website</h2>

<p>Formats available on the TfL website include banner advertising formats, page wraps, video ads and targeting on the results pages of our <a href="/plan-a-journey/index">Journey Planner</a>.</p>

<p>For more information email <a href="mailto:commercialpartnerships&#64;tfl.gov.uk">commercialpartnerships&#64;tfl.gov.uk</a>.</p>

<h2>Retail and pop-up space</h2>

<p>Find out about <a href="/info-for/business-and-commercial/retail">retail units</a> and <a href="/info-for/business-and-commercial/other-opportunities">pop-up space</a> on the TfL network.</p>

<h2>Renaming stations</h2>

<p>Renaming a station is one of our premium commercial partnerships.</p>

<p>You need a formal commercial agreement with us to rename a station. This applies to:</p>

<ul>
	<li>A single or limited number of station roundels for a photo opportunity</li>
	<li>Implied name change through any press release or copy, creative or script on other assets</li>
</ul>

<p>Tube stations can be renamed for 24-48 hours. This includes the rights to change internal signage referring to the station name at the chosen station.</p>

<p>The new name should be a pun or reference to the current station name, and close enough to it to avoid confusion. Temporary station names are subject to agreement from a TfL Director.</p>

<p>Internal signage that will be temporarily changed includes roundels (tend to be found on platforms), line diagrams, wayfinding signs and platform frieze panels.</p>

<p>The following signage referring to the station name isn't included in station renaming: roundels on the track side of a platform, signage visible at street level, signage within trains, signage at other locations where the station is referenced.</p>

<p>All internal signage will be returned to the actual station name at the cost of the commercial partner.</p>

<p>For costs and lead times, see our <a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">Commercial partnerships overview</a>.</p>

<h2>Busking pitches</h2>

<p>The busking scheme has nearly 40 pitches in 25 Tube stations and can be sponsored on an exclusive basis by a commercial partner. Busking pitches for commercial use are otherwise only available as part of a commercial partnership and can't be bought on a standalone basis or as an add-on to an out of home advertising campaign.</p>

<p>The primary purpose of TfL's busking scheme is to provide music to entertain customers and improve the station environment, commercial usage of the space should be performance-based, for example acoustic music or spoken word.</p>

<p>For costs and lead times, see our <a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">Commercial partnerships overview</a>.</p>

<h2>Station PA announcements</h2>

<p>PA announcements are only available as part of a commercial partnership and can't be bought on a standalone basis or as an add-on to an out of home advertising campaign. For costs and lead times, see our <a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">Commercial partnerships overview</a>.</p>

<p>To include PA announcements as part of a commercial partnership, the following criteria need to be satisfied:</p>

<ul>
	<li><strong>Proximity</strong>. It needs to make sense for that location. This could be at a station level or a London level depending on the campaign</li>
	<li><strong>Relevance</strong>. Why will our customers be interested in this?</li>
	<li><strong>Audience</strong>. Is the message going to be understood and appreciated by the majority of the audience?</li>
</ul>

<p>Production costs vary by station but are typically &pound;600&#45;&pound;2000 ex VAT per station, depending on the types of PA system used. Media costs vary depending on station, and the amount of time they'll be played for.</p>

<p>Approvals are required from London Underground's Director of Customer Strategy on all of the above.</p>

<h2>Platform countdown screens (DMIs)</h2>

<p>Dot matrix indicators (DMIs) are only available as part of a commercial partnership and can't be bought on a standalone basis or as an add-on to an out of home advertising campaign. For costs and lead times, see our <a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">Commercial partnerships overview</a>.</p>

<p>For DMIs to be included as part of a commercial partnership the following criteria need to be satisfied:</p>

<ul>
	<li><strong>Proximity</strong>. It needs to make sense for that location, for example nearby event(s), experiential activity in station(s). This could be at a line level or a London level depending on the campaign</li>
	<li><strong>Relevance</strong>. Why will our customers be interested in this?</li>
	<li><strong>Audience</strong>. Is the message going to be understood and appreciated by the majority of the audience? It can't be too niche, annoying or commercial beyond references to the above</li>
</ul>

<p>Production costs are &pound;1000 ex VAT per line, media costs vary dependent on line, and how long messages will be played for.</p>

<p>Approvals are required from London Underground's Director of Customer Strategy on all of the above.</p>

<h2>Wayfinding and signage</h2>

<p>We have an established wayfinding and signage approach designed to be intuitive and help our millions of customers navigate a complex network.</p>

<p>Your organisation can request signage within a station, or an enhanced version of your existing signage. We consider each individually on commercial terms, and it will need to be approved by our Wayfinding and Signage team to ensure the proposal works in the station environment.</p>

<p>Commercial costs vary according to the station and, along with production and implementation costs, must be met by the commercial partner. The contract will be published on the contracts section of the TfL website in line with our transparency policy.</p>

<h2>Social media and press releases</h2>

<p>Due to our communication policy and approval process with the Mayor's Office, we can't offer social media posts or press releases as part of a commercial partnership contract.</p>

<p>However, we can still publish appropriate posts or releases, if we receive a press and social media plan from a commercial partner or their agency in good time.</p>

<p>Social media posts are usually reposts of a commercial partner's own content, rather than an organic post from our own accounts. Any press releases or social media posts must be agreed between the commercial partner and our Press Office.</p>

<h2>Customer emails (CRM)</h2>

<p>Our customer emails (CRM) are limited to service related messaging and can't be used as part of a commercial partnership.</p>

<h2>Sponsoring the Tube map</h2>

<p>Each release of our Tube map consists of around 1,360 large "Quad Royal" maps, which appear on walls and noticeboards in stations across the network. The release also includes 6 million pocket maps, which are given out in station ticket halls.</p>

<p>The above are released twice a year, in May and November. We need a signed commercial partnership contract and the approved artwork 8 weeks before that. This is on top of our <a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">standard lead times</a>.</p>

<h2>Sponsoring or distributing Oyster wallets</h2>

<ol>
	<li>Travel card wallets can be printed by a number of print providers in the same way as other marketing collateral. We don't own the exclusive rights for printing these. These can be distributed in a station as part of an experiential activity or on a standalone basis.
	<p>For more information, see <a href="#experiential">Experiential space</a>. To find out about incorporating TfL designs on branded wallets under license, see <a href="#intellectual">Intellectual property</a>.</p>
	</li>
	<li>
	<p>Full sponsorship of the Tube Map and Oyster wallets distributed through TfL channels. Lead time here is about 12 months, with a cost of around &pound;1m+. Partnerships must be a minimum of 1 year.</p>
	</li>
</ol>

<h2>Offering free journeys</h2>

<p>Due to their complexity, we can only arrange payment promotions as part of a commercial partnership.</p>

<p>Previous payment promotion mechanics have been arranged by or in partnership with one of the main card schemes, Visa, MasterCard or American Express. These use their technical capabilities to offer refunds on travel to effectively give their card users free journeys.</p>

<p>Contactless payment technology is also widely available. We don't offer Oyster chips for promotional or other purposes. This means you would need to source a Europay MasterCard Visa (EMV) chip maker, chip provider, scheme, issuer (bank) and processor.</p>

<p>The chip would need full EMV accreditation (normally from MasterCard or Visa), which takes time and costs a reasonable amount of money. It would need to have a unique BIN (Bank Identification Number) for us to track journeys made.</p>

<p>We don't fund free travel, so all travel costs need to be funded by the commercial partner. Lead times (including accreditation) vary from 6&#45;12+ months.</p>

<h2>Santander Cycles</h2>

<p>We are happy to explore opportunities to promote Santander Cycles in London. All further partnerships are subject to the approval of Santander and TfL.</p>

<h2><a name="intellectual"></a>TfL intellectual property in advertising creative</h2>

<p>The TfL roundels, Tube map and other intellectual property and trademarks can be used on products under a commercial license, either independently or as part of a commercial partnership.</p>

<p>To do this independently of a commercial partnership, you'll find details at our <a href="http://www.tsbagroup.com/brands/transport-for-london/">licensing partner TSBA</a>.</p>

<h2>Next step</h2>

<p>For any of the above, go to our overview page to <a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">submit an initial brief.</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing" class="heading">
                    <h2 id="sub-menu-heading">Commercial partnerships and experiential marketing<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">How to work with us</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnership-opportunities">Commercial partnership opportunities</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships---transparency">Transparency policy on commercial partnerships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/charity-fundraising">Charity fundraising</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Explore the opportunities for commercial partnership with us.";}
        
            
        


 