
    
  



@{ViewBag.Title = "How to work with us";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing">Commercial partnerships and experiential marketing</a></li>
                
            
            
                <li><span class="last-breadcrumb">How to work with us</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>How to work with us</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out lead times, cost and opportunities for commercial partnerships with us, and submit an initial brief. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>A commercial partnership with us has four main characteristics:</p>
<ol>
    <li>Generates revenue for us through a partnership or rights fee</li>
    <li>Improves our customers' experience of using the TfL network</li>
    <li>Meets a commercial partners' business objective</li>
    <li>Helps one of our business objectives</li>
</ol>
<p>The first three are essential for all commercial partnerships, the fourth is essential for longer term partnerships (eg Santander Cycles), but not shorter ones (eg a 24 hour renaming of a station).</p>
<h2>Partnership opportunities</h2>
<p><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnership-opportunities">View our range of partnership opportunities</a></p>
<h2>Opportunities which don't need a partnership</h2>
<p>There are standardised commercial opportunities which don't need a commercial partnership. These include:</p>
<ul>
    <li>out of home advertising</li>
    <li>experiential advertising in stations</li>
    <li>advertising on the TfL network</li>
    <li>website and filming on the TfL network</li>
</ul>
<p>For a variation on these, or to include assets which aren't otherwise commercially available, you'll need to fill in a <a href="#brief">commercial partnership brief</a> to help us determine initial feasibility and pricing.</p>
<h2>Cost</h2>
<p>As a general rule, a partnership with us will cost a minimum of &pound;100k. However, our commercial partnerships are bespoke in each case.<br />
<br />
The cost depends on the type, number, duration and (where applicable) location of the assets, and the complexity of the overall partnership.<br />
<br />
Where a partnership opportunity is likely to attract significant market interest, we use a managed sales process. In this, potential commercial partners submit bids for the opportunity to partner with us (eg. Santander Cycles for the London Cycle Hire Scheme).</p>
<h2>Lead times</h2>
<p>Lead times vary, with a minimum of 12 to 14 weeks. </p>
<h2>Transparency</h2>
<p><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships---transparency">View our transparency policy on commercial partnerships</a><a name="brief"></a></p>
</div>
 
<div>



<h2>Submit a brief</h2>


<p><a name="brief"></a>To submit an initial commercial partnership brief, fill in the form below and return to <a href="mailto:commercialpartnerships&#64;tfl.gov.uk">commercialpartnerships&#64;tfl.gov.uk</a>. To help us give you a considered response, please complete all fields.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-partnerships-briefing-form.pdf">
    <div class="document-download-text">
        <p>Briefing form - commercial partnerships</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing" class="heading">
                    <h2 id="sub-menu-heading">Commercial partnerships and experiential marketing<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">How to work with us</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnership-opportunities">Commercial partnership opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships---transparency">Transparency policy on commercial partnerships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/charity-fundraising">Charity fundraising</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Cost, opportunities and lead times of our commercial partnership offers";}
        
            
        


 