
    
  



@{ViewBag.Title = "Transparency policy on commercial partnerships";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships---transparency";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing">Commercial partnerships and experiential marketing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Transparency policy on commercial partnerships</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transparency policy on commercial partnerships</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We proactively publish final contracts with our commercial partners, and our press office may reference the amount of money paid.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>As a public sector organisation, all communications with us may be subject to a request under the UK's Freedom of Information legislation.</p>
<p>We proactively publish all final contracts with our commercial partners in full on the day the partnership launches.</p>
<p>We will publish these contracts our website in an unredacted form, including the amount of money the commercial partner or their agency has paid to us for the commercial partnership.</p>
<p>They will remain publically available on our website indefinitely after the partnership has ended. <a href="/corporate/publications-and-reports/contracts">View our current and previous contracts</a>.</p>
<p>The following clause in our contracts regarding how our press office may reference the amount of money paid by a commercial partner and a link to the contract in any of their activities:</p>
<p>&quot;The Client / Agency gives its consent for TfL to publish this Agreement and ancillary information/documentation. The Client / Agency also gives its consent for TfL to issue communications which refer to the Partnership to customers and stakeholders including, but not limited to, a press release, reactive press statements and social media posts. These communications may include, but not be limited to, details on the Partnership Costs and a link to the published Agreement.&quot;</p>
<p>All decision makers in the commercial partner (and their agencies if applicable) should be aware of our transparency policy at the start of discussions. This will avoid any issues when press and social media plans are discussed closer to the launch of the partnership. </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing" class="heading">
                    <h2 id="sub-menu-heading">Commercial partnerships and experiential marketing<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">How to work with us</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnership-opportunities">Commercial partnership opportunities</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships---transparency">Transparency policy on commercial partnerships</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/charity-fundraising">Charity fundraising</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our transparency policy on commercial partnerships";}
        
            
        


 