
    
  



@{ViewBag.Title = "Upload your benefit proof";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme/upload-your-proof-of-benefit";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></li>
                
            
            
            
                <li><span class="last-breadcrumb">Benefit proof</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Upload your benefit proof</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
    
      
      
           
      

        @{
            dynamic content = new ContentModel();
            
            content.ContinueButtonText = "Continue";
            content.BackButtonText = "Back";

            content.BackButtonUrl = "/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme/upload-your-insurance-certificate";

            Html.RenderAction("UploadProofOfBenefit", "CarScrappageApplication", new
            {
                area = "Ruc",
                content = content,
                termsAndConditionsUrl = "/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme/accept-terms-and-conditions",
                submitApplicationUrl = "/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme/submit-application"
            });
        }
      
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 