


@{ViewBag.Title = "Cab drivers to provide safer escape from domestic violence";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cab drivers to provide safer escape from domestic violence</h1>
        <div class="content-page-press-release">
        04 May 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's black cab drivers will be in a better position to help victims fleeing domestic situations thanks to a new information blitz from TfL's Public Carriage Office, the Home Office and the Women and Equality Unit (based within the Department of Trade and Industry).
        
    </div>



 <div class="on-this-page">
<p>A new checklist card provides simple advice to London's 25,000 cab drivers on what they should and should not do if hired by a woman who they suspect is fleeing a violent domestic situation. It also provides details of the National Domestic Violence Helpline - 0808 2000 247.</p>
<p>Mayor of London Ken Livingstone said:</p>
<blockquote>
<p>&quot;London's cab drivers are often in the front line for people fleeing violent situations. I have been impressed with the willingness of cab drivers to get involved. Domestic violence is everybody's business and cab drivers in particular have a role to play in assisting vulnerable people.&quot; </p></blockquote>
<p>Since the campaign was launched last year as part of a Government initiative to raise awareness of domestic violence issues, some 700 new cab drivers have received training in this area as part of their induction to the industry. In 02/03 the Metropolitan Police Service recorded more than 104,000 domestic violence incidents.</p>
<p>Deputy Women's Minister Jacqui Smith said:</p>
<blockquote>
<p>&quot;This clear cut six point check list alerting cab drivers to the vital needs of women escaping from a violent partner could be a life saver.</p>
<p>&quot;Our work with the Public Carriage Office and the Transport and General Workers Union has delivered an innovative approach to help men tackle violence against women.</p>
<p>&quot;For the first time a predominately male industry have been encouraged to be part of the solution tackling violence against women&quot;</p></blockquote>
<p>A spokesperson for the Transport and General Workers Union said:</p>
<blockquote>
<p>&quot;It's important that women have a refuge against domestic violence. If our cab drivers can help in providing the first line of support, then the union is very pleased to be of help.&quot;</p></blockquote>
<p>Home Office Minister Baroness Scotland said:</p>
<blockquote>
<p>"The Government has stepped up efforts to help victims of domestic violence. The emphasis on the potential benefits of specialist domestic violence courts goes hand in hand with the biggest reform of domestic violence law in 30 years in the Domestic Violence, Crime and Victims Bill to provide better protection for victims and witnesses so they no longer have to suffer in silence behind closed doors.</p>
<p>"This new card, funded by the Home Office, is an excellent scheme which will provide a valuable checklist for cab drivers on how to assist victims of domestic violence. We have also launched a &pound;1 million Government campaign to raise awareness of the new national 24-hour helpline for domestic violence victims run in partnership by Women's Aid and Refuge. The Government will not tolerate violence in the home or on the streets.&quot;</p></blockquote>
            <ol>
<li>The checklist card states: 
<p><strong>What can I do?</strong></p></li></ol>
<ul>
<li><strong>Do</strong> ask the victim if she is okay and if she would like to be taken to the nearest police station or hospital 
</li><li><strong>Do</strong> make sure the national helpline numbers are available to her 
</li><li><strong>Do</strong> respect her confidentiality 
</li><li><strong>Do not</strong> seek to give advice to the abuser or victim on what they could or should do. There are better people qualified to do so 
</li><li><strong>Do not</strong> pass on information about her whereabouts to anyone 
</li><li><strong>Do not</strong> get involved as a go-between. It will not help and may increase the problem - do not put yourself in danger. </li></ul>
<ol start="2">
<li>The cards and distribution are funded by the Home Office and were produced by Transport for London's Public Carriage Office. Posters are also being provided to private hire operators to display in their offices for minicab drivers. 
</li><li>The National Domestic Violence Helpline is run by Refuge and Women's Aid. 
</li><li>The first phase of this initative, launched in April 2003, has been led by the Deputy Minister for Women, Jacqui Smith, and supported by the Women and Equality Unit based within the DTI. More information about the work of the unit can be found at <a href="http://www.womenandequalityunit.gov.uk/" target="_blank" lid="http://www.womenandequalityunit.gov.uk" el="http://www.womenandequalityunit.gov.uk">www.womenandequalityunit.gov.uk</a> 
</li><li>The Public Carriage Office is responsible for licensing London's taxi and private hire services, as part of Transport for London's Surface Transport and Directorate. </li></ol>
<p><strong>For media enquiries telephone the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new checklist card provides simple advice to London's 25,000 cab drivers on what they should and should not do if hired by a woman who they suspect is fleeing a violent domestic situation. It also provides details of the National Domestic Violence";}
        
        


 