


@{ViewBag.Title = "London's 2003 road safety figures released";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's 2003 road safety figures released</h1>
        <div class="content-page-press-release">
        14 May 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today releases the annual summary of London's road traffic collisions and casualties for 2003.
        
    </div>



 <div class="on-this-page">
<p>Key findings are:</p>
<ul>
<li>31,811 road traffic collisions involving personal injury were reported. This is a 6 percent decrease on 2002 figures 
</li><li>These 31,811 collisions resulted in 38,430 casualties (a 6 percent decrease on 2002), of these: 
</li><li>272 were fatalities (down 3 percent from 279 in 2002); 
</li><li>4,892 were seriously injured (a 9 percent decrease from 2002); 
</li><li>33,266 were slightly injured (a 7 percent decrease from 2002); </li></ul>
<p>Overall casualties decreased by 7 percent compared with 2002;</p>
<ul>
<li>Men accounted for 62 percent of casualties; 
</li><li>In 2003, 201 out of the 272 fatalities (74 percent) were people outside of vehicles; 
</li><li>13 children were killed; 530 seriously injured and 2,789 slightly injured; 
</li><li>Fatalities decreased by 11 percent in inner London but increased by 3 percent in outer London; 
</li><li>The total number of casualties decreased by 6 percent in inner London and 8 percent in outer London and; 
</li><li>Overall casualties decreased by 8 percent in outer London and by 6 percent in inner London </li></ul>
            <ul>
<li><strong>Casualty reduction targets - progress towards the year 2010</strong>. In March 2000 the Government announced a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are: 
</li><li>a 40 percent reduction in the number of people killed or seriously injured 
</li><li>a 50 percent reduction in the number of children killed or seriously injured 
</li><li>a 10 percent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres. 
</li><li>In addition a Road Safety Plan for London was produced by Transport for London in 2001. This plan supports the national targets and recommends further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders who are killed or seriously injured by 40 percent by 2010. 
</li><li>The full report is attached.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Key findings are:31,811 road traffic collisions involving personal injury were reported. This is a 6 percent decrease on 2002 figures These 31,811 collisions resulted in 38,430 casualties (a 6 percent decrease on 2002), of these: 272 were fatalities (down";}
        
        


 