


@{ViewBag.Title = "Teen Road Safety Campaign : Introduction";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Teen Road Safety Campaign : Introduction</h1>
        <div class="content-page-press-release">
        04 May 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL has launched a new hard hitting new TV advert to support their advertising campaign to reduce the number of teenagers killed or seriously injured on London's roads.
        
    </div>



 <div class="on-this-page">
<h3>'Don't die before you've lived' </h3>
<p>TfL's hard hitting posters and TV advertising campaigns aims to reduce the number of teenagers killed or seriously injured on London's roads. The overall theme for the campaign is 'don't die before you've lived', follows successful young people on their way to stardom. However their lives are ended by road accidents before they even get the opportunity to experience the celebrity world.</p>
<h3>Boys 11-14 most at risk</h3>
<p>Analysis shows, that in London, boys aged between 11-14 are at most risk from being hit by a vehicle when crossing roads. Children from low income and ethnic minority backgrounds are also particularly vulnerable. Approximately a quarter of all teenage pedestrian casualties occur on the way to or from school. Peer group pressure, mobile phones, texting and the use of personal stereos can easily distract young road users. Other activities including ball games, rollerblading and skateboarding on the street can also lead to serious accidents involving teenagers and traffic.</p>
<h3>717 young pedestrians involved in accidents in London in 2003</h3>
<p>Although the number of incidents involving this road user group has been in gradual decline since 2001, last year 717 young people were involved in pedestrian road accidents in London. Many of these accidents could have been avoided if the victim had been more aware of the risks associated with London's roads. <br>Young people should take extra care and pay more attention when near or using roads. <br>The new advert will support current road safety initiatives in schools across the capital, and hits the small screen this month. There also are plans to roll it out to cinemas over the summer holidays to reach even more young people. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Don't die before you've lived' TfL's hard hitting posters and TV advertising campaigns aims to reduce the number of teenagers killed or seriously injured on London's roads. The overall theme for the campaign is 'don't die before you've lived', follows";}
        
        


 