


@{ViewBag.Title = "TfL Rail plan submitted to department";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Rail plan submitted to department</h1>
        <div class="content-page-press-release">
        11 May 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's response to the Secretary of State for Transport's review of the structure of the rail industry was formally submitted to the Department for Transport yesterday.
        
    </div>



 <div class="on-this-page">
<p>The response sets out TfL's proposals to improve the overground passenger rail services that run in, out and through London and the commuter belt. </p>
<p>The response can be found in full here:</p>
<p><a title="London's Railways - Response to Goverment's Rail Review" href="/assets/downloads/rail-authority-proposal.pdf">London's Railways - Response to Goverment's Rail Review (PDF 942KB)</a></p>
<p>Stephen Webb<br>Chief Press Officer<br>Email: stephenwebb&#64;tfl.gov.uk<br>Direct line: 020 7941 4884<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The response sets out TfL's proposals to improve the overground passenger rail services that run in, out and through London and the commuter belt. The response can be found in full here:London's Railways - Response to Goverment's Rail Review (PDF";}
        
        


 