


@{ViewBag.Title = "About 60 miles of beautiful views. - Anna Barriball";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>About 60 miles of beautiful views. - Anna Barriball</h1>
        <div class="content-page-press-release">
        10 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A series of striking and thought-provoking messages will appear across the London Underground (LU) network this week when artist Anna Barriball's deceptively simple typographic artwork, the latest commission from Art on the Underground, goes on display.
        
    </div>



 <div class="on-this-page">
<p>
<p>Barriball has selected a number of evocative phrases taken from the back of found photographs. </p>
<p>Printed in London Underground's classic New Johnston font as six black and white posters, the texts adopt the distinct identity of the network, presenting domestic messages that work in an interesting contrast to the operational environment of the Tube. <br>&nbsp;<br>Customers travelling on the Underground will see phrases such as&nbsp; 'About 60 miles of beautiful views.' or 'On way to birthday party.' or 'Oh, boy, what a wonderful city!' </p>These ambiguous texts, now divorced from their original context, hint at personal narrative yet are dislocated enough to connect with the millions of private thoughts customers carry with them on their daily journeys. 
<p>Consequently these rescued phrases create small windows into imagined vistas or glimpses into unidentified worlds, open to interpretation in their new home.<br>&nbsp;<br>Anna Barriball's work often steps between the parallel languages of drawing and sculpture. </p>
<p>Her practice produces objects that combine a minimalistic rigour and the attempt to make sense of the world of objects by empirical study. </p>
<p>In the context of the Tube this approach will inject moments of quiet contemplation into a busy, working landscape. </p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'Anna's project presents a subtle yet fascinating intervention into the environment of the Tube. </p>
<p>'It demonstrates the artist's sensitive ability to explore the world through minimal gestures, yet does so on a mass scale for a busy London Underground audience.<br>'This allows us to fulfil our objective to take world-class art to more people across the city via the London Underground.'<br>&nbsp;<br></p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Anna Barriball has had solo exhibitions at the Arnolfini, Bristol in 2003, Frith Street Gallery in 2004, Gasworks Gallery, London and Newlyn Art Gallery in 2005 and The New Art Gallery, Walsall and Ingleby Gallery in 2006. Her work is in many international collections including Tate. Born in 1972, the artist lives and works in London. Anna Barriball is represented by Frith Street Gallery, London </li>
<li>The project coincides with two other text-based projects commissioned by Art on the Underground.&nbsp;Jeremy Deller has created a book of quotes for train drivers; Emma Rushton and Derek Tyman's work Piccadillyland project (privately read fictional texts to be carried by passengers along the Piccadilly line) and the publication of a book commemorating Thin Cities, a series of artworks celebrating 100 years of the Piccadilly line </li>
<li>For more information about the project, visit <a href="http://www.tfl.gov.uk/pfa">Art on the Underground</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Barriball has selected a number of evocative phrases taken from the back of found photographs. Printed in London Underground's classic New Johnston font as six black and white posters, the texts adopt the distinct identity of the network, presenting";}
        
        


 