


@{ViewBag.Title = "BBC Proms comes to the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>BBC Proms comes to the Tube</h1>
        <div class="content-page-press-release">
        24 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers will be treated to a live BBC Proms concert at Leicester Square Tube station on Thursday 26 June.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope that passengers will enjoy the free concert"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Director of Strategy and Service Development for LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We hope that passengers will enjoy the free concert
                            
                        </p>
                    </div>
                
            
            
            <p>A viola quartet from the BBC Symphony Orchestra will be playing between&nbsp;13:00 and 14:00.</p> <p>This short performance is part of the BBC Proms Out+About project, where for one day only&nbsp;some of London's finest musicians serenade new audiences with free live music in unusual locations across the Capital.&nbsp;</p> <p>The BBC Symphony Orchestra is the flagship orchestra of the Proms.</p> <p>Each year they perform over 12 Proms, including the First and Last Nights.</p> <h2>Listen while you travel</h2> <p>The classical viola players will be taking centre stage on one of the London Underground (LU) busking pitches at the station.&nbsp; <br>&nbsp;<br>Richard Parry, Director of Strategy and Service Development for LU said: 'The London Underground busking scheme continues to be a great success with the travelling public. </p> <p>'We welcome the collaboration with BBC proms and the opportunity to bring this music to our customers.</p> <p>'We hope that passengers will enjoy the free concert.'</p> <p>LU is looking for a new sponsor for the popular busking scheme to start from the end of July.</p> <p>Offers are welcome and will be considered. </p> <p> <hr> <strong>Notes to editors:  <p> <ul> <li></li></ul></strong>The LU busking scheme is funded by sponsorship and was implemented in May 2003 as a result of passenger demand after LU managed to change the laws and bylaws to make busking legal on the Underground  <li>Transport for London is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube  </li><li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines  </li><li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; and  </li><li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith &amp; City &nbsp;and Metropolitan lines  </li><li>Metronet Rail BCV and SSL are now under the control of LU to ensure all necessary maintenance and renewal &nbsp;works continue  </li><li>For more information on BBC Proms Out+About please visit <a href="http://www.bbc.co.uk/proms">bbc.co.uk/proms</a><br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A viola quartet from the BBC Symphony Orchestra will be playing between&nbsp;13:00 and 14:00. This short performance is part of the BBC Proms Out+About project, where for one day only&nbsp;some of London's finest musicians serenade new audiences with free";}
        
        


 