


@{ViewBag.Title = "Chesham and Amersham consultation on service improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Chesham and Amersham consultation on service improvements</h1>
        <div class="content-page-press-release">
        12 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today announced the start of a four-week consultation on potential changes to Amersham and Chesham services aimed at improving off-peak services at the north-west end of the Metropolitan line.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're asking Amersham and Chesham users to let us know what they think about the proposed changes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Director of Strategy and Service Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're asking Amersham and Chesham users to let us know what they think about the proposed changes
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>From Tuesday 16 June, Tube users will be able to express their views on the proposed changes, which would see through trains running from Chesham to central London throughout the day. </p>
<p>LU has also consulted local authorities in the area.</p>
<p>Richard Parry, Director of Strategy and Service Development, said: 'We are looking at the option of changing service patterns on the Chesham and Amersham branch which we believe could be of benefit to many Tube users. </p>
<h2>Have your say</h2>
<p>'During the next four weeks we're asking Amersham and Chesham users to let us know what they think about the proposed changes by either picking up a leaflet at Amersham or Chesham stations or emailing us at <a href="mailto:chesham.consultation&#64;tube.tfl.gov.uk">chesham.consultation&#64;tube.tfl.gov.uk</a>.</p>
<p>The potential changes, which would not affect the current peak-time services, are as follows: </p>
<ul>
<li>Two trains per hour running direct between Chesham and central London throughout the day. Customers would no longer need to change at Chalfont &amp; Latimer </li>
<li>Two Metropolitan line trains per hour between Amersham and central London, instead of the present four. The two trains per hour service provided by Chiltern Trains (one train per hour on Sundays) would be unaffected, so the total number of trains from Amersham to central London would fall from six to four per hour (and from five trains to three per hour on Sundays)</li></ul>
<p>The service pattern change would take effect from May 2009 at the earliest.</p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>Leaflets about the consultation will be available at stations from Tuesday 17 June. Those wishing to take part are asked to respond using the freepost form attached to this leaflet. Alternatively, email <a href="mailto:chesham.consultation&#64;tube.tfl.gov.uk">chesham.consultation&#64;tube.tfl.gov.uk</a> </li>
<li>Responses need to be received by Friday 18 July</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From Tuesday 16 June, Tube users will be able to express their views on the proposed changes, which would see through trains running from Chesham to central London throughout the day. LU has also consulted local authorities in the area.Richard Parry,";}
        
        


 