


@{ViewBag.Title = "Child death and injury on London roads cut by 16 per cent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Child death and injury on London roads cut by 16 per cent</h1>
        <div class="content-page-press-release">
        25 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Number of children killed or seriously injured falls to lowest rate since records began.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Many lives have been saved thanks to the education and engineering works"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Many lives have been saved thanks to the education and engineering works
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today published figures showing that the number of children killed or seriously injured on London's roads has fallen to a record low.</p>
<p>Speaking at the TfL Board Meeting, London's Transport Commissioner, Peter Hendy, confirmed that in 2007, the total number of children killed or seriously injured fell by 16 per cent from 392 to 331.</p>
<p>Compared with the mid to late 1990s, there has been a 65 per cent fall in the numbers of children killed or seriously injured. It is the lowest that child casualties have been since records began in 1990.</p>
<p>The figures show:</p>
<ul>
<li>Overall number of people killed or seriously injured down by four per cent compared with 2006, 43 per cent down compared with the Government baseline from mid to late 1990s </li>
<li>Pedestrians killed or seriously injured down one per cent year on year, 40 per cent overall </li>
<li>Powered two wheeler drivers killed or seriously injured down three per cent year on year, 12 per cent overall </li>
<li>Car occupants killed or seriously injured down 13 per cent year on year, 63 per cent overall Bus and coach occupants killed or seriously injured down 16 per cent, 48 per cent over all </li>
<li>Pedal cyclists killed or seriously injured rose by 18 per cent but remain 19 per cent down overall. The actual number of cyclists killed fell from 19 to 15</li></ul>
<h2>Exceding targets</h2>
<p>This year, TfL will invest &pound;45m in road safety measures like education and training, cycle safety measures, improved road layouts, pedestrian crossings, and much more.</p>
<p>London has already exceeded the 2010 targets set by the Government for children killed or seriously injured (50 per cent reduction) and the total number of people killed or seriously injured (40 per cent reduction) three years early.</p>
<p>London now has more stringent targets to be achieved by 2010:</p>
<ul>
<li>Fifty&nbsp;per cent reduction in the total number of people killed or seriously injured </li>
<li>Fifty&nbsp;per cent reduction in the number of cyclists and pedestrians killed or seriously injured </li>
<li>Sixty&nbsp;per cent reduction in the number of children killed or seriously injured - which we have already achieved</li></ul>
<h2>Child safety</h2>
<p>Over the last few years, more emphasis has been placed on working with nursery and school children to ensure they have the essential skills and knowledge to stay safe on the Capital's roads.</p>
<p>Successful programmes such as the Children's Traffic Club and Junior Road Safety Officer training have played a vital role in bringing down the number of under 16 year olds injured in road collisions in London.</p>
<p>In 2007, the number of cyclists killed on London's roads fell from 19 to 15, a 20 per cent reduction.</p>
<p>Whilst the number of serious injuries to cyclists increased by 20 per cent compared with 2006, the overall number of cyclist injuries did not increase.</p>
<h2>Cutting injury rates</h2>
<p>TfL has invested in cutting the number of injuries to cyclists, and recent trends have seen cycling getting safer despite large increases in the number of cyclists on the roads.</p>
<p>There has been a 91 per cent increase in the number of people cycling on London's roads compared with 2000, with a 4.5 per cent growth between 2006 and 2007.</p>
<p>TfL will be carrying out work to understand the potential causes of this increase.</p>
<p>In the meantime we will redouble our efforts to improve safety including education and further engineering measures such as cycle lanes and advanced stop lines.</p>
<h2>Two-wheeled training</h2>
<p>In addition, in 2008/09, TfL will fund a record &pound;3m in cycle training for Londoners of all ages to build up the skills and confidence important for safe cycling on the Capital's roads.</p>
<p>The Mayor of London, Boris Johnson, said: 'Young people are often the most vulnerable on the roads and many parents are fearful about the safety of their children.</p>
<p>'There is some superb work going on to make the roads safer for young people and I'm delighted it is having an impact.</p>
<p>'However, we must continue to work to cut the number of deaths and injuries of all road users and to make sure that fewer lives are decimated by road accidents.</p>
<h2>Saving lives</h2>
<p>'This rise in serious injuries involving cyclists is deeply concerning and will be looked at and addressed without hesitation.'</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Record levels of investment in road safety have helped to improve safety for people using London's roads and we plan to build on that success.</p>
<p>'Many lives have been saved thanks to the education and engineering works done both by Transport for London and the London boroughs and we will continue to build on that to make London's roads safer still.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TfL <a href="/corporate/projectsandschemes/roadsandpublicspaces/2840.aspx">Road Casualties in Greater London 2007</a> 
<li>In March 2000 the Government announced a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are: a 40 per cent reduction in the number of people killed or seriously injured; a 50 per cent reduction in the number of children killed or seriously injured; a 10 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres</li>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today published figures showing that the number of children killed or seriously injured on London's roads has fallen to a record low.Speaking at the TfL Board Meeting, London's Transport Commissioner, Peter Hendy, confirmed that";}
        
        


 