


@{ViewBag.Title = "Crucial East London line work to begin ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crucial East London line work to begin </h1>
        <div class="content-page-press-release">
        26 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Temporary traffic diversions required to link extended line to Highbury and Islington
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to assure people this work will eventually result in long-term gains for the area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Richards</div>
            <div class="quotee-job-title">Director of London Overground Infrastructure</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want to assure people this work will eventually result in long-term gains for the area
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>TfL is asking residents in the Dalston Lane area of Hackney for their patience while a bridge is replaced that will provide a crucial link between the new East London line extension and the existing London Overground network.</p>
<h2>Linking 20 of London's 33 boroughs</h2>
<p>The work in Dalston will allow the East London line to connect with Highbury &amp; Islington station via Canonbury in 2011. TfL is spending &pound;1.4bn on the entire project that when completed will mean the London Overground network links 20 of London's 33 boroughs. </p>
<p>To enable the bridge replacement, traffic restrictions on Dalston Lane between the junctions of Queensbridge Road and Kingsland Road are set to begin on 19&nbsp;July and will last for approximately&nbsp;10 months. </p>
<h2>Three phases</h2>
<p>Phase one of the restrictions will close the southern footpath across the bridge and retain two-lane, two-way traffic with a northern pedestrian footpath in place. This restriction will last for approximately four months. </p>
<p>Phase two will start in mid-November and traffic will be reduced to one lane eastbound with the northern footpath retained. Westbound traffic, including buses, will be diverted from Dalston Lane along Queensbridge Road, Richmond Road and Kingsland High Street. This will last for two months.</p>
<p>Phase three will see&nbsp;two-way traffic restored with the southern footpath reinstated. This is scheduled for completion in May 2009.</p>
<h2>Consultation</h2>
<p>The traffic management plan follows consultation with Hackney and Islington Councils, London Buses, bus operators and the Police. </p>
<p>Peter Richards, Director of London Overground Infrastructure for TfL, said: 'This does mean some disruption, but we want to assure people this work will eventually result in long-term gains for the area.&nbsp; </p>
<p>'When the East London line opens as part of London Overground this part of the Capital will be rejuvenated by new transport services. Hackney residents will be able to access frequent services on brand new trains to quickly reach all parts of the Capital.'</p>
<p>The work should be completed and Dalston Lane returned to two-way traffic by the end of May 2009. <br>
<hr>

<p>
<h3>Notes to editors </h3>
<ul>
<li>The exact date for the introduction of phase two is being held until we can reduce construction traffic coming out of the Dalston &nbsp;Junction station site, which in turn will depend on the construction schedule. Residents will get four weeks notice of its introduction </li>
<li>Motorists and bus passengers using this route are advised to allow an extra 20 minutes for their journeys during phase two of the &nbsp;works </li>
<li>Hackney Council will remove speed bumps on diversion routes and endeavour to ensure any other works do not adversely impact the diversions </li>
<li>Five-day bus routes and one-night bus routes are being diverted. Routes 30, 38, 56, 242, 277 and N38 (westbound only) will no longer run direct via Dalston Lane and will be diverted as follows:<br></li>
<li>Routes 38 and N38 (towards Victoria), 277 (towards Highbury and Islington) will be diverted from Graham Road via Queensbridge &nbsp;Road, Richmond Road, Kingsland Road and on to normal line of route at Balls Pond Road </li>
<li>Routes 30 (towards Marble Arch) and 56 (towards St Bartholomew's Hospital) will be diverted from Dalston Lane at Graham Road &nbsp;via Queensbridge Road, Richmond Road, Kingsland Road and on to normal line of route at Balls Pond Road </li>
<li>Route 242 (towards St Bartholomew's Hospital) will be diverted from Graham Road via Queensbridge Road, Richmond Road and on &nbsp;to normal line of route at Kingsland Road <br></li>
<li>For more details on bus diversion routes and stops, please see&nbsp; <a href="http://www.tfl.gov.uk/">www.tfl.gov.uk/</a> </li>
<li>Richmond Road was chosen as the diversion route after consultation between London Buses. LB Hackney, Bus operator Arriva and &nbsp;East London and TfL </li>
<li>Richmond Road offers the closest alternative route for passengers because it remains as close to the original route as possible. Only one bus stop will be closed for the duration of the construction works. A replacement stop will be sited in Richmond Road, &nbsp;adjacent to a wall for passengers to access Dalston Junction. (Near the junction with Buxted Road) </li>
<li>The bridge works will enable the former East London Tube line, which is being extended and upgraded to be connected to the North &nbsp;London Railway. Combined into one railway, this new network will be called London Overground and it will link 20 of London's 33 &nbsp;boroughs. TfL is spending &pound;1.4bn on this project<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is asking residents in the Dalston Lane area of Hackney for their patience while a bridge is replaced that will provide a crucial link between the new East London line extension and the existing London Overground network.Linking 20 of London's 33";}
        
        


 