


@{ViewBag.Title = "Engineering works to improve London Overground train services this September ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Engineering works to improve London Overground train services this September </h1>
        <div class="content-page-press-release">
        05 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Engineering works are to be carried out on part of the London Overground network in September, which will lead to improved services for passengers.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'These works are key to introducing most of the service improvements we promised to deliver when we took over this network last year
                            
                        </p>
                    </div>
                
            
            
            <p>The work, which includes upgrading tracks, strengthening bridges and widening a tunnel, will enable the more efficient routing of both frieght and passenger services at points where the two share tracks. This will enable TfL to run a better and more reliable passenger service.</p>
<p>The works, which run from September to mid-November 2008, by Network Rail, will lead to the short-term closures of the following sections:</p>
<ul>
<li>Gospel Oak to Willesden Junction line, from September 1 to November 17 </li>
<li>Gospel Oak to Barking line, from&nbsp;September 1 to September 29 </li>
<li>Gospel Oak to Camden Road, from September 22 to September 29 </li>
<li>TfL is providing a replacement bus service and an alternative rail service during the works</li></ul>
<p>TfL London Rail Managing Director Ian Brown said: 'These works are key to introducing most of the service improvements we promised to deliver when we took over this network last year.</p>
<p>'In the short-term these works will bring some inconvenience for passengers but we would ask them to please bear with us for a huge long-term gain. We are committed to keep passengers connected to the network and will run an alternative train service and replacement buses. </p>
<p>'We also urge people to consider alternative routes using the Tube and other rail services.'</p>
<p>TfL is working with passenger groups and the local press in order to give local residents as much information and advance warning as possible about the works and the alternative routes that will be made available to them. </p>
<p>Passengers will still be able to connect with London's rail and Tube network using a Monday to Saturday service, which will run from Watford Junction to Stratford, although no services will call at Euston on these days. Three&nbsp;trains per hour will run on Sundays on&nbsp;the Watford Junction to Euston service.</p>
<p>There will be three alternative bus services around the closed sections of the network, with four buses an hour calling at most staffed stations along the railway.</p>
<p>
<hr>

<p>
<h3>Notes to editors </h3>
<ul>
<li>Passengers' first choice in finding an alternative way to make their journeys should be via the Victoria, Bakerloo, Metropolitan Tube lines, other surface rail services and bus services. London Overground has liaised with these operators and they are confident their services can handle the temporary increase in numbers. Please visit the Journey Planner on the <a href="http://www.tfl.gov.uk">TfL website</a> for help</li>
<li>London Overground is providing extra staff at key stations to assist customers and all stations will still have staff on duty to assist with queries</li>
<li>There will be a Monday to Saturday rail services using three trains per hour Watford to Stratford, using the Primrose Hill freight link. These will be supported by train services from Stratford stopping at stations to Camden Road. There will be no services at all into Euston except on Sunday when there will be a 3 trains-per-hour&nbsp;service</li>
<li>Clapham Junction to Willesden Junction services will have two trains per hour on&nbsp;Monday to Saturday and one train per hour on Sundays. This is one less than is provided now; this is to avoid train congestion at Willesden Junction caused by the temporary train service plan</li>
<li>Three alternative bus services of four buses per hour will be provided by single decker buses. We urge passengers to use these to get to their closest Tube and alternative rail stations</li>
<li>It is not possible to use double-decker buses because of low bridges on the routes</li>
<li>Passengers will receive refunds if they purchased their ticket before information about the engineering works was made public (May 30, 2008). Claimants will have to supply proof of home and work address</li>
<li>The London Overground Customer Services team will respond to enquiries regarding the services from the 30 May, by: </li>
<li><strong>Tel:</strong>&nbsp;0845 601 4867 <br><strong>Email:</strong>&nbsp; <a href="mailto:overgroundinfo&#64;tfl.gov.uk">overgroundinfo&#64;tfl.gov.uk</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work, which includes upgrading tracks, strengthening bridges and widening a tunnel, will enable the more efficient routing of both frieght and passenger services at points where the two share tracks. This will enable TfL to run a better and more";}
        
        


 