


@{ViewBag.Title = "Giant cinema-style screens to beam movie trailers and advertising to Tube passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Giant cinema-style screens to beam movie trailers and advertising to Tube passengers</h1>
        <div class="content-page-press-release">
        30 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From today (Monday 30 June) Tube users will be able to watch moving advertising images on the biggest screens in Europe and keep up-to-date with trailers for the latest movie releases while they wait for their next train.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We believe that this technology will enhance passengers' journeys"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Strategy and Service Director for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We believe that this technology will enhance passengers' journeys
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A new cross-track projection (XTP) system, which allows high-quality digital images the size of a 14 foot TV screen to be projected on to the walls at 23 sites opposite platforms, has been installed by advertising company CBS Outdoor for London Underground.&nbsp; </p>
<p>Following the successful trial at Euston Tube station; Piccadilly Circus, Euston, Bank, Liverpool Street and Bond Street have now been kitted out with High Definition projectors and giant soundless screens.</p>
<p>Further stations are scheduled to host XTP technology, which will take the number of screens to 150 making it the biggest and most sophisticated system of its kind in Europe.</p>
<h2>New digital projection system</h2>
<p>Any profits London Underground receives from XTP will be reinvested by London Underground to improve the Tube.</p>
<p>London Underground and CBS have been developing this new XTP system for over three years.&nbsp; </p>
<p>The screens will be capable of showing adverts at different times of the day, enabling advertisers to target the audience they want to reach.</p>
<p>For example, this means passengers will be able to see ads for Sky News on their way into work and plan their evening TV viewing with Sky Movies adverts on their way home.</p>
<p>Movie trailers from Paramount for Kung Fu Panda and Love Guru will also feature as well as adverts from big names such as Nestl&eacute; and theatre company Dewynters. </p>
<h2>Entertainment while commuting</h2>
<p>Richard Parry, Strategy and Service Director for London Underground said: 'We believe that this technology will enhance passengers' journeys.</p>
<p>'The Tube has a history of innovation; these hi-tech screens are a perfect complement to the major upgrade work carried out by London Underground in delivering a world-class Tube for a world-class city.'</p>
<p>Tim Bleakley, Managing Director Sales &amp; Marketing, CBS Outdoor commented: 'London is now the world's Capital city and deserves cutting-edge advertising.</p>
<p>'The launch of XTP is about entertaining the three and half million passengers using the Tube each day.'</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>CBS Outdoor's sound-less screens are all linked to a new digital advertising network enabling messages to be changed remotely and instantaneously, at the touch of a button </li>
<li>CBS and London Underground trialled Cross-Track Projection at Euston station on the Victoria line platform in 2007 </li>
<li>In total, CBS Outdoor's &pound;72m investment programme includes the installation of 2000 digital screens across the Tube network </li>
<li>To date, 1034 digital screens have been installed, including 181 LCD screens, 830 Digital Escalator Panels and 23 XTP screens </li>
<li>In addition all non-digital sites are currently being replaced with a pioneering new material (dry-posting') which allows all internal posters to be recycled, removing the need for glue and avoiding 96 tonnes of paper going into landfill every year </li>
<li>Transport for London is investing &pound;10bn to improve and expand London's transport network, over half of that&nbsp;is being spent on the Tube </li>
<li>CBS Outdoor is the leading transport advertising company in the UK, managing advertising sales on the UK's buses, trams, London Underground, DLR, and national rail. The company operates in five other European markets, South America and China and is part of media and entertainment giant CBS Corporation. CBS Outdoor was awarded the &pound;1.5bn contract to manage advertising on the London Underground in June 2006 </li>
<li>Cross-Track Projection technology has undergone a rigorous trial and testing process at CBS Outdoor's research and development facilities </li>
<li>All&nbsp;Cross-Track Projection images will comply with industry media standards as laid down by the Independent Television commission (ITC) </li>
<li>The projectors have been sourced by CBS Outdoor and type approved by London Underground. All undergo both factory and site acceptance testing to ensure compliance with all applicable standards and acceptance criteria </li>
<li>Staff&nbsp;representatives were consulted about the introduction of XTP on the London Underground network<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new cross-track projection (XTP) system, which allows high-quality digital images the size of a 14 foot TV screen to be projected on to the walls at 23 sites opposite platforms, has been installed by advertising company CBS Outdoor for London";}
        
        


 