


@{ViewBag.Title = "Have your say on local bus services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Have your say on local bus services</h1>
        <div class="content-page-press-release">
        20 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL is inviting passengers and local residents to give their comments on proposals for changes to local bus routes around Chiswick Park.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are very keen to hear passengers' views on our proposals for local bus services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Stakeholder Engagement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are very keen to hear passengers' views on our proposals for local bus services
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A number of the proposals follow requests from the local borough councils of Hounslow and Ealing and are designed to serve the new Chiswick Office Park. </p>
<h3>Route 27</h3>
<p>It is proposed to extend route 27 from Turnham Green to continue along Chiswick High Road and terminate within Chiswick Office Park. </p>
<p>The route would no longer serve the bus stop in Heathfield Terrace. </p>
<h2>E10</h2>
<p>There are proposals to extend route E10 beyond Ealing Broadway to Chiswick Office Park. This will provide new links from Ealing to South Acton and Chiswick Office Park. </p>
<h2>H91</h2>
<p>It is proposed to alter route H91 to run along Chiswick High Road between Turnham Green and Chiswick Roundabout.</p>
<p>The changes would reduce journey time travelling through Chiswick and allow for easier interchange with Gunnersbury Station. </p>
<p>The route would no longer serve Town Hall Avenue, Heathfield Terrace, Wellesey Road and Oxford Road North; these roads would be served by route 440. </p>
<h2>440</h2>
<p>It is proposed to extend Route 440&nbsp;from Turnham Green to Power Road. The extension will provide new links from Chiswick Roundabout and Gunnersbury to Acton and Park Royal. </p>
<p>Peter Bradley, Head of Stakeholder Engagement, said: 'London's bus network is constantly under review, to ensure we continue to meet passenger needs. We are very keen to hear passengers' views on our proposals for local bus services.' </p>
<p>Further information about the proposals can be accessed through the <a href="/corporate/projectsandschemes/2033.aspx">bus consultations page</a>&nbsp;and also from London Buses Customer Services.&nbsp; The consultation will run until 15 August 2008.</p>
<h3>
<hr>
Notes to editors</h3>
<p>London Buses Customer Services contact details are: </p>
<ul>
<li><strong>Tel:</strong> 0845 300 7000&nbsp; (08.00 - 20.00 Mondays to Fridays) </li>
<li><strong>Email:</strong> <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a> </li>
<li><strong>Post:</strong> London Buses Customer Services, 84 Eccleston Square, London SW1V 1 PX <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A number of the proposals follow requests from the local borough councils of Hounslow and Ealing and are designed to serve the new Chiswick Office Park. Route 27It is proposed to extend route 27 from Turnham Green to continue along Chiswick High Road and";}
        
        


 