


@{ViewBag.Title = "Local residents invited to have their say on changes to the 463 bus service in Merton";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Local residents invited to have their say on changes to the 463 bus service in Merton</h1>
        <div class="content-page-press-release">
        20 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is inviting local residents to have their say on proposals to extend and change route 463, which currently runs between Eastfields and Coulsdon in the borough of Merton.
        
    </div>



 <div class="on-this-page">
<p>
<p>The changes are designed to provide a number of benefits for passengers including the provision of an additional service to and from Pollards Hill, where there have been longstanding requests for connections to the Beddington Lane area. </p>
<p>The proposed changes mean the route 463 would serve Recreation Way and Tamworth Lane as well as the new Eastfields railway station. </p>
<p>The route would also be extended from its current terminus at Coulsdon Town Centre to Coulsdon South to connect with the station.</p>
<p>Peter Bradley, Head of Stakeholder Engagement, said: 'London's bus network is constantly under review to ensure we continue to meet passenger needs.&nbsp;</p>
<p>'We are very keen to hear passengers' views on our proposals for bus route 463.'</p>
<p>Further information about the proposal can be accessed through <a href="http://www.tfl.gov.uk/busrouteconsultation">www.tfl.gov.uk/busrouteconsultation</a> and also from London Buses Customer Services.&nbsp; </p>
<p>The deadline for the consultation is 1 August 2008.</p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<blockquote>
<li>London Buses Customer Services contact details: </li>
<ul type="circle">
<li>Telephone: 0845 300 7000 (08:00-20:00 Mondays to Fridays)</li>
<li>Email: <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a> </li>
<li>Post: London Buses Customer Services, 84 Eccleston Square, London SW1V 1PX <br></li></ul></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The changes are designed to provide a number of benefits for passengers including the provision of an additional service to and from Pollards Hill, where there have been longstanding requests for connections to the Beddington Lane area. The proposed";}
        
        


 