


@{ViewBag.Title = "London Underground reveals plans to help passengers 'stay cool'";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground reveals plans to help passengers 'stay cool'</h1>
        <div class="content-page-press-release">
        24 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Innovative projects this summer, as major works continue to find long-term solutions to cool the Tube
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"supplying new fans and innovative measures such as the ground-water cooling system at Victoria are welcome weapons in our fight to keep passengers fresh"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            supplying new fans and innovative measures such as the ground-water cooling system at Victoria are welcome weapons in our fight to keep passengers fresh
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>London Underground (LU) has revealed a number of new and improved measures to help cool the Tube network this summer. </p>
<p>Industrial-sized fans will be used to improve air-flow and an award-winning ground water cooling scheme will keep temperatures lower for passengers at Victoria. </p>
<h2>Air-conditioned by 2010</h2>
<p>In the long-term there are plans for passengers to benefit from air-conditioned trains on the Circle, District, Hammersmith and City and Metropolitan lines; with the first of these services up and running in 2010. </p>
<p>The Mayor of London, Boris Johnson, said: 'It always perplexed me that boffins could produce mobile phones the size of a credit card yet passengers would emerge dripping with sweat from Tube trains that lacked air conditioning. </p>
<p>'That is why I am chuffed to bits that plans are afoot to finally put these systems on Circle, District, Hammersmith and City and Metropolitan Lines trains.</p>
<p>'Cooling the Tube does, though, remain a major challenge, especially on the deeper lines such as the Northern and Piccadilly, where we will continue to strive for a solution to the problem. </p>
<p>'However, supplying new fans and innovative measures such as the ground-water cooling system at Victoria are welcome weapons in our fight to keep passengers fresh.'</p>
<p>The Tube is the oldest metro system in the world and the vast majority of the network was built long before air conditioning was invented. </p>
<p>Tunnels were designed and built with only enough space for trains. This means that in the deep-level Tubes there is very little space for air-conditioning units on trains and nowhere to release the heat. </p>
<p>It is one of the many challenges being addressed by the Underground's Cool the Tube project team. </p>
<h2>Dedicated project team</h2>
<p>A&nbsp;dedicated project team is working to implement engineering solutions to help passengers 'stay cool' this summer and, over time, cool the Tube. </p>
<p>This year the measures include:</p>
<ul>
<li>around 40 portable industrial fans at key stations to improve air-flow </li>
<li>the start of upgrade works of ventilation shafts of the Victoria line to double ventilation capacity </li>
<li>the continuation of an innovative and award-winning ground water cooling scheme at Victoria Tube station</li></ul>
<p>In the long term, LU will be introducing air-conditioned trains on the Circle, District, Hammersmith &amp; City and Metropolitan lines as part of the upgrade to these lines. The first of these new trains will be introduced from 2010.</p>
<h2>Cooling measures for the summer</h2>
<p>LU's Managing Director, Tim O'Toole, said: 'The LU's Victorian heritage is its charm and its burden. Today the Tube carries over a billion passengers a year and as passenger demand continues to grow so does the need to increase capacity and upgrade the network.</p>
<p>'Cooling the Tube is a major and long-term engineering challenge. We sympathise with our customers: in the summer it can get hot and uncomfortable on the Tube. </p>
<p>'Therefore, we are doing everything we can to implement short-term measures now to help tackle the heat on the Tube. </p>
<p>'This summer will see around 40 industrial-sized fans installed at stations including Charing Cross, Bond Street and Bank. In addition, a large number of station ventilation shafts and fans, which had previously been allowed to fall into disrepair, are being brought back into service. </p>
<p>'We have renewed&nbsp;50 such fans, so far. The start of works to upgrade the ventilation shafts that serve the Victoria line and will double the capacity of the existing units and a mechanical chiller, similar to one at Oxford Circus, will be installed at Euston. </p>
<h2>Hot weather advice</h2>
<p>'As in previous summers,&nbsp;LU will be providing hot weather advice to passengers. Carry a bottle of water with you and, if you are feeling unwell, contact a member of station staff who will be able to help.'</p>
<p>This summer LU will use posters and announcements at stations to provide tips to passengers on how to try and stay cool. 'stay cool' posters will be displayed at all stations bearing the following advice. </p>
<p>Here are a few tips for keeping comfortable in hot weather: </p>
<ul>
<li>Carry water with you </li>
<li>Don't board a train if you feel unwell </li>
<li>If you feel unwell please get off at the next stop and seek help from our staff </li>
<li>Avoid pulling the passenger alarm between stations.&nbsp;</li></ul>
<p>
<hr>

<p>
<h3>Notes to editors </h3>
<ul>
<li><strong>New trains (SSR upgrade)</strong> - new trains equipped with air cooling will be delivered for the sub-surface network (Circle, District, Hammersmith &amp; City and Metropolitan lines) from 2010 onwards <br><br></li>
<li><strong>Ground water cooling trial</strong> - the trial, which started at Victoria station in Summer 2006, has been successful and has improved temperatures in the mid-platform area. <br><br>The groundwater trial provided an environmentally-friendly cooling solution for the Victoria line platforms at Victoria station and uses ground water which is already pumped out of the station. Across the Tube network, LU pumps out 30 million litres of water each day <br><br></li>
<li><strong>Ventilation shafts</strong> - LU's upgrading ventilation shafts will improve airflow, increasing air distribution capacity to allow hot air to escape more easily. Over the next few years, plans are underway to upgrade 16 ventilation fans along the Victoria line. Work on the first four will commence later this year <br><br></li>
<li><strong>Out-of-service fans</strong> - LU is working with Tube lines and Metronet to re-condition and upgrade the existing station ventilation fan network.&nbsp;Fifty ventilation fans have now been restored, doubling the capacity of the fan network <br><br></li>
<li><strong>Portable fans</strong> -&nbsp;&nbsp;over-fans will be installed within tickets and concourse areas by summer 2008, to increase air circulation at a number of stations. It was initially trialled at a number of stations including Seven Sisters and Chancery Lane last year <br><br></li>
<li><strong>Mechanical chiller units</strong> - &nbsp;a mechanical chiller, which provides cooling to customers and staff in the ticket hall area, will be installed at Euston later this year.&nbsp;There is already one installed at Oxford Circus <br><br></li>
<li><strong>Impulse fans</strong> - trialling ceiling-mounted impulse fans on Bakerloo line platforms at Marylebone and Lambeth North stations<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has revealed a number of new and improved measures to help cool the Tube network this summer. Industrial-sized fans will be used to improve air-flow and an award-winning ground water cooling scheme will keep temperatures lower for";}
        
        


 