


@{ViewBag.Title = "London Overground stations win Secure Station award ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground stations win Secure Station award </h1>
        <div class="content-page-press-release">
        12 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ten London Overground stations have been recognised as helping to reduce crime through good design and management and have been awarded Secure Station status.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We can make a real difference to levels of safety for commuters"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We can make a real difference to levels of safety for commuters
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>When Transport for London (TfL) took over the Overground network in November 2007, a passenger survey revealed that almost a quarter of passengers believed the service was too dangerous to use. </p>
<p>Since then TfL has ensured that all stations are staffed while trains are running and has also launched a network-wide station upgrade programme. </p>
<p>As a result a recent survey by British Transport Police (BTP) found that almost 82 per cent of the passengers now feel they are safer on the stations. </p>
<h2>Safety</h2>
<p>Following a rigorous assessment by the BTP, the following stations were given Secure Station accreditation by the Department for Transport:</p>
<ul>
<li>South Hampstead </li>
<li>Kilburn High Road </li>
<li>Acton Central </li>
<li>South Acton </li>
<li>Brondesbury </li>
<li>West Hampstead </li>
<li>Hampstead Heath </li>
<li>Walthamstow Queens Road </li>
<li>Caledonian Road and Barnsbury </li>
<li>Canonbury</li></ul>
<p>Commenting, Mayor Boris Johnson, said: 'This is excellent news and evidence that by focusing on details, such as careful design and better management, we can make a real difference to levels of safety for commuters. </p>
<p>'In my manifesto I made a specific commitment to using the principles of design to reduce crime and make stations safer, and I will be encouraging this kind of thinking across the whole of the Capital's transport system to ensure that everyone travelling in London feels safe and secure.'&nbsp; </p>
<p>BTP inspectors visited each station and looked at:</p>
<ul>
<li>Design, which must be laid out in such a way as to discourage criminal behaviour and reassure passengers </li>
<li>Management, which must include crime prevention methods, efficient response to incidents and effective passenger communication </li>
<li>Crime statistics </li>
<li>A&nbsp;survey of users, which must show that passengers feel secure </li></ul>
<p>TfL will carry out further improvement works which include stations being deep cleaned and repaired (Phase Two) and necessary improvement work in all stations to meet TfL standards (Phase Three).</p>
<p>Managing Director of London Rail at TfL, Ian Brown, said: 'We're delighted about these first ten stations, but that is just the beginning. </p>
<p>'We are determined that all our stations will be safe. So as work on all the stations which we took over last November continues we shall be submitting them too for Secure Station status. </p>
<p>'We hope as many as 24 will have this by the end of this year.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Overground will run through 20 of London's 33 boroughs and all stations will be staffed during the operational hours </li>
<li>TfL is committed to achieve Secure Station accreditation by June 2012 for all of its London Overground stations </li>
<li>Oyster pay-as-you-go ticketing is accepted at all stations. All stations have been fitted with Oyster gates or validators and ticket machines to reduce fare evasion </li>
<li>The London Overground network comprises the North London Railway and the East London Railway, once open in June 2010. The North London Railway includes:&nbsp; the North London line (Richmond to Stratford); the London Euston to Watford Junction local line; the West London line (Willesden Junction to Clapham Junction via Kensington Olympia) and the Gospel Oak to Barking line </li>
<li>London Overground will deliver frequent metro-style services, longer operating hours and improved service frequencies on all lines (four trains an hour, all day, every day) so that Londoners can simply 'turn up and go'</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "When Transport for London (TfL) took over the Overground network in November 2007, a passenger survey revealed that almost a quarter of passengers believed the service was too dangerous to use. Since then TfL has ensured that all stations are staffed";}
        
        


 