


@{ViewBag.Title = "Mayor announces funding to help reduce carbon dioxide emissions from London taxis";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces funding to help reduce carbon dioxide emissions from London taxis</h1>
        <div class="content-page-press-release">
        03 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London, Boris Johnson, today announced funding of &pound;1m to trial low carbon technology in London's taxi fleet.
        
    </div>



 <div class="on-this-page">
<p>
<p>The funding is to be provided jointly by Transport for London (TfL), through its Climate Change Fund, and Cenex, the UK's National Centre of Excellence for Low Carbon and Fuel Cell Technologies. </p>
<p>As part of its carbon reduction strategy, TfL's Public Carriage Office (PCO) is keen to work with motor manufacturers to introduce taxis with lower fuel consumption and carbon dioxide emissions.&nbsp; </p>
<p>The funding will be used to introduce a low carbon taxi demonstration project in London and the PCO has issued a Contract Notice to the Official Journal of the European Union (OJEU) inviting motor manufacturers to register their interest in supplying low carbon taxis.&nbsp; </p>
<h2>Fuel efficient</h2>
<p>The project highlights TfL's commitment to reducing the impact of public transport on the environment by making London's taxis more fuel efficient, which will significantly reduce emissions of carbon dioxide and help tackle climate change. </p>
<p>Suitable low carbon technologies might include stop-start or 'micro-hybrid' technology where the engine cuts out automatically when the vehicle stops, and starts up again when the accelerator is pressed.&nbsp;</p>
<p>This technology is already being used by many of the major car manufacturers as a means of reducing carbon dioxide emissions.&nbsp;</p>
<p>London's taxis spend about 40 per cent of their time waiting at taxi ranks, at traffic signals, or waiting to pick up or drop off passengers.&nbsp; </p>
<h2>Less pollution</h2>
<p>Under these conditions, a micro-hybrid taxi is expected to reduce fuel consumption and carbon dioxide and other emissions by 10 to 15 per cent, as well as producing less noise and fewer harmful air pollutants.&nbsp;&nbsp; </p>
<p>Mayor of London, Boris Johnson, said: 'As well as significantly cutting carbon dioxide emissions, we're looking for taxis that are quieter and produce fewer air pollutants, which will be good news for anyone who spends time in London.&nbsp; </p>
<p>'Taxi drivers should be particularly pleased - they're more exposed than most to traffic pollution, and they should also see the benefit of cheaper fuel costs as low carbon taxis would use less than a standard taxi.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'We are committed to reducing the impact of public transport on the environment, and have already taken significant steps to clean up emissions of particulates and nitrogen oxides from the taxi fleet.&nbsp; </p>
<h2>Savings</h2>
<p>'Now it's time to tackle carbon dioxide emissions. </p>
<p>'With over 21,000 taxis on London's roads, making our taxi fleet more fuel efficient will lead to substantial carbon dioxide savings and help tackle climate change.' </p>
<p>Robert Evans, CEO of Cenex, said: 'Cenex is looking forward to working with TfL to procure and trial innovative low carbon vehicle technology in London taxis.&nbsp;</p>
<p>'We believe this project will attract a great deal of interest from both consumers and the motor industry.'&nbsp;&nbsp; </p>
<p>TfL's Climate Change Fund will also support the introduction of a fuel efficient driving campaign aimed at both taxi and private hire drivers.&nbsp;</p>
<p>Small changes, such as keeping tyres at the correct pressure and not accelerating sharply, can make a big difference to fuel consumption and emissions from an individual vehicle.&nbsp;&nbsp;&nbsp; </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's Public Carriage Office (PCO) is responsible for regulating London's taxi and private hire services </li>
<li>Cenex is the UK's first Centre for Excellence for low carbon and fuel cell technologies.&nbsp;By encouraging the early market adoption of low-carbon and fuel cell technologies in automotive applications, Cenex aims to assist the UK automotive supply chain to compete in global markets as well as showcase UK expertise to encourage inward investment </li>
<li>Taxis and private hire vehicles account for four per cent of carbon dioxide emissions from transport in London </li>
<li>TfL issued a Contract Notice to the Official Journal of the European Union on Friday 30 May 2008 inviting manufacturers interested in developing and demonstrating low carbon taxis in London to register their interest by Monday 7 July 2008.&nbsp; This should be available to view <a href="http://ted.europa.eu/">online</a>. Manufacturers will need to complete a pre-qualification questionnaire and those which meet the PCO's minimum requirements will be invited to tender.&nbsp;Any such vehicles must also meet the existing Conditions of Fitness set out in the licensing requirements for London taxis </li>
<li>The PCO and Cenex intend to create a test drive cycle specific to London taxis.&nbsp;Currently taxi emissions are tested on drive cycles used for regular cars.&nbsp;However, the way in which taxis operate in London differs markedly from the passenger car test cycle.&nbsp;The new test cycle will therefore be much more representative of taxi emissions in London </li>
<li>The Taxi Emissions Strategy, currently being implemented by the PCO, requires all taxis to meet Euro III standards for emissions of nitrogen oxides and particulate matter by summer 2008.&nbsp;An environmental surcharge of 20p was added to the meter for every taxi trip from April 2005 to April 2008 to help taxi owners pay to fit the necessary emissions reducing equipment to their vehicles to meet this requirement </li>
<li>Cenex is the UK's first Centre for Excellence for low carbon and fuel cell technologies. By encouraging the early market adoption of low-carbon and fuel cell technologies in automotive applications, Cenex aims to assist the UK automotive supply chain to compete in global markets as well as showcase UK expertise to encourage inward investment</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding is to be provided jointly by Transport for London (TfL), through its Climate Change Fund, and Cenex, the UK's National Centre of Excellence for Low Carbon and Fuel Cell Technologies. As part of its carbon reduction strategy, TfL's Public";}
        
        


 