


@{ViewBag.Title = "More than half a million cycle journeys now made every day in the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More than half a million cycle journeys now made every day in the Capital</h1>
        <div class="content-page-press-release">
        16 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A record &pound;55m to be invested in cycling in London this year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners' passion for cycling continues to grow"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">Commissioner of Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners' passion for cycling continues to grow
                            
                        </p>
                    </div>
                
            
            
            <p> <p>With Bike Week underway, figures released today (16 June) show that there has been a 91 per cent increase in the number of people cycling on London's major roads since Transport for London (TfL) was created in 2000.</p> <p>Overall, TfL estimates that there are now in excess of 500,000 cycle journeys made every day in the Capital.</p> <p>The number of people cycling in London increased for the sixth year running last year, even though last summer was the wettest since 1912.</p> <p>Between March 2007 and March 2008, cycling on London's major roads grew by a further 4.5 per cent, with an estimated 20,500 more cycle journeys being made in the Capital every day.</p> <h2>Cyling numbers grow</h2> <p>Last year was historic for cycling in the Capital as it hosted the Grand D&eacute;part of the Tour de France for the first time and saw the first London Freewheel bike ride with tens of thousands of Londoners taking to two wheels on closed roads.</p> <p>To continue to support the huge rise in the popularity of cycling in the Capital, the Mayor and TfL are investing a further &pound;55m in cycling this year - up from &pound;36m last year, and a ten-fold increase on the &pound;5.5m spent on cycling in 2000.</p> <p>This money is being spent on improved cycle parking facilities, education, events and cycle promotion. </p> <h2>Continuing investment</h2> <p>Boris Johnson, Mayor of London said: 'I'm delighted that a growing number of people - like me - are choosing to cycle around London, and great strides have been made.</p> <p>'But the overall number is still too low, which suggest that many Londoners need further encouragement to take it up.</p> <p>'Alongside TfL, the boroughs, and business, I am exploring a range of options to make cycling safer, more practical and more attractive.</p> <p>'&pound;2m is to be invested in new secure parking facilities, and alongside the forthcoming bicycle hire scheme and other ambitious initiatives in the near future I'm hoping to inspire a whole new generation of cyclists.'</p> <h2>Attracting newcomers</h2> <p>Peter Hendy, Commissioner of Transport for London said: 'Despite one of the wettest summers on record, Londoners' passion for cycling continues to grow.</p> <p>'A 91 per cent growth in cycling levels in just eight years is a great achievement, but we are working to build on this steady growth and improve conditions for cyclists still further.&nbsp; </p> <p>'The Mayor has made cycling a top transport priority, and this year we are investing a further &pound;55m in cycling.</p> <p>'As we continue to invest in new cycle lanes, improved parking facilities and bike training for people of all ages, I am confident that we will see the number of people cycling in the Capital continue to rise.'</p> <p> <hr> <br><strong>Notes to editor:</strong>  <p> <ul> <li>Summer 2007 was the <a href="http://www.metoffice.gov.uk/weather/seasonal/summer2007/index.html">wettest </a>in England and Wales since 1912  </li><li>The London Travel Report shows that two per cent of all journeys made in the Capital are now made by <a href="http://www.tfl.gov.uk/assets/downloads/corporate/London-Travel-Report-2007-final.pdf">bicycle</a>  </li><li>Transport for London is working to increase cycling trips by more than 400 per cent by 2025, equivalent to five per cent of all journeys made in the Capital  </li><li>Since TfL was created in 2000, around 53,500 new cycle parking spaces have been created on street, at schools and at workplaces across the Capital  </li><li>Transport for London is committed to completing the London Cycle Network Plus by the end of 2010.&nbsp; This will provide a continuous, joined-up cycle network across the Capital. To date, more than 600km of the planned 900km London Cycle Network Plus has been completed  </li><li>In 2008/09, TfL will fund a record &pound;3m in cycle training for Londoners of all ages, through London's borough councils. The TfL funded training sessions are individually tailored to each person's needs and teach them to deal with a wide range of traffic conditions. Click <a href="http://www.tfl.gov.uk/cycletraining">here </a>for information on cycle training provision<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With Bike Week underway, figures released today (16 June) show that there has been a 91 per cent increase in the number of people cycling on London's major roads since Transport for London (TfL) was created in 2000. Overall, TfL estimates that there are";}
        
        


 