


@{ViewBag.Title = "Motorists warned of disruption on the London-bound A40 on 2 July ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Motorists warned of disruption on the London-bound A40 on 2 July </h1>
        <div class="content-page-press-release">
        30 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Road closure and diversions in place as fuel duty protesters stage third demonstration in the Capital.
        
    </div>



 <div class="on-this-page">
<p>
<p>Transport for London (TfL) is warning motorists that part of the A40 London-bound carriageway will be closed again on Wednesday&nbsp;2 July between 10:00 and 16:00 as fuel duty protestors stage a third demonstration. </p>
<p>The London-bound carriageway of the A40 Westway, between White City and Edgware Road, will be closed as protestors use it to park their HGVs as they wait to join a travelling convoy through the Capital. </p>
<p>TfL has worked closely with the Metropolitan Police to coordinate the traffic management for the day to prevent major disruption in central London. </p>
<h2>Diversions</h2>
<p>The A40 will be closed from the Northern Roundabout (junction of A40 and A3220 West Cross Route) to the Marylebone Flyover (junction with the A5 Edgware Road). </p>
<p>The westbound carriageway, going out of London, will remain open.</p>
<p>The road will be re-opened at 16:00 to ensure it is clear in time for evening peak traffic.</p>
<p>Between 11:00 and 15:00, groups of around 20 vehicles will travel by convoy along a circular route through central London. </p>
<h2>Police presence</h2>
<p>The convoy will travel from the A40 Westway via Park Lane, Victoria One-Way System, across Vauxhall Bridge, along Albert Embankment and Lambeth Palace Road and back across Westminster Bridge. </p>
<p>From here they will turn right onto Victoria Embankment and disperse. </p>
<p>Police will be positioned at major junctions along this route to assist traffic flow and minimise the impact the convoy has on other motorists' journeys.</p>
<p>All of the roads along the convoy route will stay open to general traffic on the day, however diversions will be put in place for drivers who normally use the closed part of the London-bound A40 Westway.</p>
<p>They will be diverted onto the A3220 West Cross Route and warning signs will be displayed on the major roads leading up to the affected areas, including the M40 and M25.</p>

<h2>Go to Traffic News online</h2>
<p>The A40 Westway is part of a free route through the Congestion Charging zone. </p>
<p>Drivers who enter the zone because of the diversions in place on this day should leave it as soon as possible by the nearest available exit. </p>
<p>TfL makes every effort to ensure that penalty charge notices are not issued as a result of a diversion but should motorists receive a penalty charge they can appeal it by following the instructions on the notice.</p>
<p>For more detail on the road closures, and for up-to-date information on traffic in London, call the TfL traffic line on 020 7222 1234, log on to <a href="http://www.tfl.gov.uk/trafficnews">Traffic News</a>, or tune into Traffic Radio on DAB digital radio.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is warning motorists that part of the A40 London-bound carriageway will be closed again on Wednesday&nbsp;2 July between 10:00 and 16:00 as fuel duty protestors stage a third demonstration. The London-bound carriageway of the";}
        
        


 