


@{ViewBag.Title = "New bus route linking Romford and Havering-atte-Bower";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New bus route linking Romford and Havering-atte-Bower</h1>
        <div class="content-page-press-release">
        16 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced it will be introducing a new route to replace a section of route 500 when the commercial service south of Ongar is withdrawn by Arriva East Herts and Essex on 5 July 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have been working closely with the local councils and are delighted to be introducing this new route"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Stakeholder Engagement at London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have been working closely with the local councils and are delighted to be introducing this new route 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Route 375 is proposed to operate between Romford and Passingford Bridge with single-deck buses, about every 90 minutes from 07:30 to 18:30 Mondays to Saturdays. The route will begin from Monday 7 July. </p>
<p>The Mayor of London, Boris Johnson, said: 'I am really pleased that TfL has taken such swift action. </p>

<p>'The section of route being withdrawn by Arriva provides a vital service for people visiting Saint Francis Hospice; and I'm glad that we will be able to step in to maintain this important service for the local community.'</p>
<p>Peter Bradley, Head of Stakeholder Engagement at London Buses, said: 'We have been working closely with the local councils and are delighted to be introducing this new route to serve the local community.'</p>
<p>Saint Francis Hospice Chairman John McKernan said: 'We are delighted TfL has recognised the need for a bus to continue serving Havering-atte-Bower so that hospice staff, volunteers and visitors, including people coming to see their seriously ill relatives, can depend on the bus to get here.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Buses is currently in the process of selecting an operator to operate this route</li>
<li>Arriva East Herts and Essex route 500 currently runs between Romford and Harlow via Epping, Ongar and Havering-atte-Bower. The route will cease to operate south of Ongar after 5 July 2008</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 375 is proposed to operate between Romford and Passingford Bridge with single-deck buses, about every 90 minutes from 07:30 to 18:30 Mondays to Saturdays. The route will begin from Monday 7 July. The Mayor of London, Boris Johnson, said: 'I am";}
        
        


 