


@{ViewBag.Title = "New measure introduced to cut death and injury toll of red light jumping";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New measure introduced to cut death and injury toll of red light jumping</h1>
        <div class="content-page-press-release">
        05 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New measure to cut the number of people killed or seriously injured by red light jumping introduced by the London Safety Camera Partnership.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to offering drivers the opportunity to assess their own driving"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jon Plant</div>
            <div class="quotee-job-title">Senior Operations Manager of the Metropolitan Police Traffic Criminal Justice Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
We are committed to offering drivers the opportunity to assess their own driving
</p>
</div>
<p>
</p>
<p>Two people every week are killed or seriously injured on London's roads by people who don't obey traffic lights.</p>
<p>Motorists detected jumping a red light may now be given the choice of attending an instructive workshop rather than receiving a fixed penalty fine and points on their driving licence.   </p>
<p>The workshop aims to change drivers' behaviour, educating them to the danger they put themselves and other road users in if they ignore traffic signals.</p>
<p>Through changing driver behaviour the course aims to have a long term impact on safety for all road users, and help reduce the numbers killed and injured.</p>
<h2>Educating drivers</h2>
<p>In suitable cases the interactive workshops will be offered to offenders by police discretion.</p>
<p>They cost &pound;95 and last two and a half hours.</p>
<p>The courses are available at three sites across the Capital - Bromley, Ealing and Islington.  </p>
<p>Chris Lines, Head of the London Road Safety Unit, Transport for London, said: 'Though London's roads are getting safer and death and injury caused by red light jumping has fallen in recent years, the 129 deaths and serious injuries in 2006 caused by red light jumping demonstrate there is much more to be done.</p>
<h2>Saving lives</h2>
<p>'Education plays a vital role in changing motorists' attitudes and we believe by introducing these workshops we will reduce the likelihood of people re-offending.</p>
<p>'We introduced similar workshops for speeding motorists and they have had a positive impact on all those who have attended.'</p>
<p>Jon Plant, Senior Operations Manager of the Metropolitan Police Traffic Criminal Justice Unit, said: 'As an alternative to prosecution, we are committed to offering drivers the opportunity to assess their own driving and to give them the information they need to make the right choices about their future driving behaviour.'</p>
<p>The courses in London will be delivered by DriveTech (UK) which also provides the speed awareness scheme on behalf of the London Safety Camera Partnership.</p>
<p>
</p>
<hr />
<strong>Notes to editors:
<p>
</p>
<ul>
    <li></li>
</ul>
</strong>A case study is available upon request
<li>The London Safety Camera Partnership is made up of Transport for London, London Councils, Metropolitan Police Service, City of London Police and Her Majesty's Courts Service </li>
<li>At sites where London Safety Camera Partnership cameras have been placed, there has been an average 53 per cent reduction in the number of people killed or seriously injured </li>
<li>For further information about DriveTech (UK) please visit <a href="http://www.drivetech.co.uk">www.drivetech.co.uk</a><br /></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two people every week are killed or seriously injured on London's roads by people who don't obey traffic lights.Motorists detected jumping a red light may now be given the choice of attending an instructive workshop rather than receiving a fixed penalty";}
        
        


 