


@{ViewBag.Title = "Route 297 to become a 24-hour service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Route 297 to become a 24-hour service</h1>
        <div class="content-page-press-release">
        03 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 7 June route 297, which runs between Ealing Broadway and Willesden via Perivale, Alperton, Wembley and Neasden, will become a 24-hour bus service.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We regularly  review the bus network to make sure it provides the most effective service for passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We regularly  review the bus network to make sure it provides the most effective service for passengers
                            
                        </p>
                    </div>
                
            
            
            <p>Route 297 currently runs every 10-12 minutes from early morning until around midnight. </p> <p>From 7 June it will also run every 30 minutes throughout the night, every night of the week. This will provide a new, direct link between Wembley and Neasden overnight.</p> <p>At the same time, night route N11, which currently runs between Liverpool Street and Wembley, will be diverted at West Ealing to serve Ealing Broadway, rather than continuing on to Wembley via Alperton. </p> <p>It will run every 30 minutes between Liverpool Street and Ealing Broadway from about midnight to 05:00. This change is designed to increase the overall reliability of route N11.</p> <p>John Barry, Head of Network Development, London Buses, said: 'We regularly&nbsp; review the bus network to make sure it provides the most effective service for passengers. </p> <p>The 24-hour service on route 297 and the changes to route N11 are designed to enhance the overall night-time network in this part of London.'</p> <p>London's night bus network has expanded dramatically in recent years, with passenger numbers more than doubling since 2000. Almost half the users are people travelling to or from work.</p> <p> <hr>  <p> <h3>Notes to editors:</h3> <ul> <li>From 7 June 2008 route 297 will run every 30 minutes overnight. The route currently runs between 5.15am and 11.45pm Monday to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Saturday and between 7.10am and 11.45pm on Sundays  </li><li>As well as 24-hour route 297, Wembley is served by route N18 (Trafalgar Square-Harrow Weald), Alperton is served by 24-hour &nbsp;route 83 (Ealing Hospital-Golders Green) and the northern part of Argyle Road in Ealing is served by route N7 (Russell Square-&nbsp;Northolt). The southern section of Argyle Road will no longer have a 24-hour bus service  </li><li>All London buses have in-vehicle CCTV and all except the heritage Routemasters are accessible to wheelchair users.<br>&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 297 currently runs every 10-12 minutes from early morning until around midnight.From 7 June it will also run every 30 minutes throughout the night, every night of the week. This will provide a new, direct link between Wembley and Neasden overnight.";}
        
        


 