


@{ViewBag.Title = "The Rotherhithe Tunnel celebrates its centenary";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The Rotherhithe Tunnel celebrates its centenary</h1>
        <div class="content-page-press-release">
        10 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Once the largest underwater tunnel in the world, Rotherhithe celebrates 100 years of carrying traffic under the Thames.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The tunnel was and remains a vital link between north and south"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Brown</div>
            <div class="quotee-job-title">Chief Operating Officer for Streets at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The tunnel was and remains a vital link between north and south
                            
                        </p>
                    </div>
                
            
            
            <p>This Thursday (12 June) marks the 100th birthday of the opening of the Rotherhithe Tunnel by HRH the Prince of Wales.</p> <p>The tunnel, which was once described as a 'modern marvel of engineering', is now part of the Transport for London Road Network (TLRN) and is a vital link between the boroughs of Southwark and Tower Hamlets.&nbsp; </p> <p>At the turn of the century, the London County Council appointed Maurice Fitzmaurice as chief engineer to build a road tunnel linking north and south London.</p> <p>Originally built for horse-drawn vehicles, an estimated 2,600 vehicles used it daily soon after it opened.</p> <p>Today more than 34,000 vehicles drive through it every day. </p> <p>The construction of the tunnel was a huge success with 800 workers completing it in four years - a year and a half ahead of schedule.</p> <p>The original construction cost &pound;2m.&nbsp;&nbsp; </p> <p>Two vast pieces of identical spherical equipment, known as Greathead shields were used to dig through the hard London clay under the river.</p> <p>These were movable barriers within which men would work moving forward, inch by inch, day by day, and leaving behind complete sections of the tunnel.</p> <p>The tunnel is 4,860 feet long, of which 1,500 feet are under the river, and has a 27 foot diameter.</p> <p>Around 25,000 tonnes of cast iron, 20,000 tonnes of cement and half a million white glazed bricks were used in what was an extensive construction operation that also involved the displacement of nearly 3000 Londoners from both sides of the river.</p> <p>Peter Brown, Chief Operating Officer for Streets at TfL said: 'The construction of the Rotherhithe Tunnel was a huge feat of engineering in its time.</p> <p>'The tunnel was and remains a vital link between north and south, though the type and volume of traffic has changed dramatically.</p> <p>'Today, TfL engineers work tirelessly to ensure the tunnel can cope safely with the constant pressures associated with 34,000 vehicles a day, some 13 times greater than the volume of traffic it originally carried.'</p> <p> <hr> <strong>Note to editors:</strong> <p> <ul> <li>A high resolution image of the workers who worked on the tunnel's construction on the Gateshead Shield is available upon request  </li><li>TfL looks after 580km of road network which represents five per cent of the Capital's roads and carries 33 per cent of its traffic<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This Thursday (12 June) marks the 100th birthday of the opening of the Rotherhithe Tunnel by HRH the Prince of Wales. The tunnel, which was once described as a 'modern marvel of engineering', is now part of the Transport for London Road Network (TLRN) and";}
        
        


 