


@{ViewBag.Title = "Travel advice for Tube passengers in east London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for Tube passengers in east London</h1>
        <div class="content-page-press-release">
        05 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hammersmith & City and District lines to close early to enable work on WWII bomb found in E15
        
    </div>



 <div class="on-this-page">
<p> <p>Transport for London is advising passengers that some Tube services in east London will be significantly disrupted from 09.30 this evening,&nbsp;while army experts work on a&nbsp;WW2&nbsp;bomb.</p> <p>The device was found in Sugar House Lane, E15, on Monday, and is a short distance from the Hammersmith &amp; City and District line tracks at Bromley-by-Bow. </p> <p>Following a request from the police and the&nbsp;Army, all Tube services between Whitechapel and Plaistow will be suspended from 09.30. </p> <p>The adjacent c2c service on National Rail will also be unavailable. Bus routes will not be affected. </p> <p>The disruption is expected to last until after Friday morning's peak, and customers are asked to find alternative routes in and out of the Capital. </p> <p>Tickets will be accepted on National Express trains to and from Liverpool Street and on local buses. </p> <p>A limited alternative bus service will operate on a circular route from Plaistow, calling at Canning Town, Bromley-by-Bow and Stratford before returning to Plaistow. </p> <p>During the closure, all Hammersmith &amp; City and District line trains will run to Whitechapel. </p> <p>To the east of the suspended area, all trains will run to Barking, with a small number running to Plaistow. </p> <p>More information on how to plan your journey can be found&nbsp;on the <a href="http://www.tfl.gov.uk">TfL website</a>.&nbsp;&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London is advising passengers that some Tube services in east London will be significantly disrupted from 09.30 this evening,&nbsp;while army experts work on a&nbsp;WW2&nbsp;bomb. The device was found in Sugar House Lane, E15, on Monday, and";}
        
        


 