


@{ViewBag.Title = "Tube drivers test drive future of the Underground ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube drivers test drive future of the Underground </h1>
        <div class="content-page-press-release">
        06 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube drivers on the Jubilee line are helping Tube Lines to test a state of the art signalling system that will result in less time waiting for trains and faster journeys for passengers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"My priority is to ensure that the reliability of the Tube can be greatly improved over the coming years"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            My priority is to ensure that the reliability of the Tube can be greatly improved over the coming years
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Trains fitted with the technology will have new display and control panels that show drivers the ideal speeds to travel on equipped sections of the Jubilee line.&nbsp; </p>
<p>Drivers already trained to use the technology have begun using a shadow version of the system during passenger service. </p>
<p>This is the first phase of implementation of an automatic train operation system, which will go live in December 2009.&nbsp;</p>
<p>Drivers are training on specially constructed simulators in Neasden, where they learn about the new displays and different way of driving that they will be using when the system is rolled out on the entire line.&nbsp; </p>
<h2>Upgrades</h2>
<p>More than half the 370 Jubilee line drivers have now been trained.&nbsp; </p>
<p>The upgrade is one of the largest engineering projects of its kind in the world. </p>
<p>London Underground and Tube Lines - the private company responsible for maintaining and renewing the Jubilee, Northern and Piccadilly lines - are working in partnership to ensure services continue while safely and efficiently moving from one complex system to another. </p>
<p>The Mayor of London, Boris Johnson, said: 'My priority for London Underground is to ensure that the reliability of the Tube can be greatly improved over the coming years. </p>
<h2>Better frequency</h2>
<p>'An essential part of this is focusing upgrades on signalling and track, as these are the elements that will allow for a better frequency of services.'</p>
<p>Tube Lines has installed advanced signalling equipment between Stanmore and Kingsbury and on many Jubilee line trains. </p>
<p>Rigorous checks and trials have been carried out on the new technology at night and during weekend closures but the special section between Stanmore and Kingsbury allows further testing during normal service hours. </p>
<p>The existing signalling system remains active but runs in parallel with the new technology to assure safe services while the new system gets up and running. </p>
<h2>Vital testing</h2>
<p>In the meantime, Tube Lines is installing the remaining equipment on trains and beside the track, completing other work essential for the upgrade and carrying out further vital testing.</p>
<p>Penny Hazell, General Manager of the Jubilee line for London Underground, said: 'This will allow us to offer passengers even faster journeys and more frequent trains on the Jubilee line.&nbsp; </p>
<p>'When the upgrade of the line is finished customers will experience a much improved service.'</p>
<p>George Clark, Engineering Manager for Tube Lines, said: 'Automatic train operation is going to be a major improvement and this milestone brings it a step closer.&nbsp;</p>
<h2>Direct route</h2>
<p>'We have a world-class team of engineers and project managers working on this, the first major upgrade on any Underground line.'</p>
<p>The Jubilee line will be completed at the end of 2009 in plenty of time for the Olympic and Paralympic Games in 2012 and will play a vital role in getting people to and from this major sporting event.&nbsp; </p>
<p>Hugh Sumner, Olympic Delivery Authority Director of Transport, said: 'The Jubilee line provides a fast and direct route to Stratford, which thousands of spectators will use in 2012.&nbsp;</p>
<p>'The upgrade to the whole route is crucial in ensuring safe and reliable transport to the Olympic Park.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Tube Lines is responsible for the maintenance and upgrade of the infrastructure on the Jubilee, Northern and Piccadilly lines </li>
<li>London Underground is responsible for operating the Underground, for employing drivers and station staff, for ticketing and fares, and for the Tube's safety regime </li>
<li>The Tube Lines consortium consists of two shareholders - Amey and Bechtel. They bring together some of the most experienced providers of business services with specialist skills in the rail industry, including track and signal renewals, plus project and operational management.&nbsp;They are providing some of the best project and operational managers from around the world to work on the modernisation of the Tube system. Amey owns two-thirds of Tube Lines' business and Bechtel one third </li>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that being spent on the Tube </li>
<li>The system that is being installed on the Jubilee line is a Seltrac Transmission Based Train Control System which provides an automatic train operation system</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Trains fitted with the technology will have new display and control panels that show drivers the ideal speeds to travel on equipped sections of the Jubilee line.&nbsp; Drivers already trained to use the technology have begun using a shadow version of the";}
        
        


 