


@{ViewBag.Title = "Two weeks to go until second phase of London Low Emission Zone starts";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Two weeks to go until second phase of London Low Emission Zone starts</h1>
        <div class="content-page-press-release">
        23 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Scheme aims to cut harmful emissions from most polluting diesel-engined vehicles and to improve health of Londoners
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'It is simply not acceptable that thousands of Londoners die from illnesses relating to the quality of the air we all share"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">the Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'It is simply not acceptable that thousands of Londoners die from illnesses relating to the quality of the air we all share
                            
                        </p>
                    </div>
                
            
            
            <p>The second phase of the London Low Emission Zone, which will affect diesel engined lorries weighing over 3.5 tonnes, buses and coaches, begins at 00:01 on Monday 7 July. </p>
<p>From that time if these vehicles do not meet the required emissions standard, which is Euro III for particulate matter, they will face a daily charge.</p>
<p>Transport for London is urging the operators of vehicles that may be affected by phase two to check that&nbsp;vehicles meet the standard and if not to take swift action.</p>
<h2>Poor air quality </h2>
<p>London has the worst air quality in the UK and among the worst in Europe. Poor air quality worsens asthma and causes the premature death of an estimated 1,000 people each year in the Capital.</p>
<p>The scheme aims to cut emissions that harm human heath by targeting the highest polluting vehicles.</p>
<p>Boris Johnson, the Mayor of London, said: 'It is simply not acceptable that thousands of Londoners die from illnesses relating to the quality of the air we all share, and the Low Emission Zone is playing an important role in tackling the polluters.</p>
<p>'It is wonderful that so many people and businesses wish to operate in London; but we need to ensure that if they use buses, coaches or lorries, they do not poison us with the fumes belching from their exhausts. </p>
<p>'I urge the owners of any vehicles affected by phase two, that do not yet meet the emissions standard, to take action now to play their part in making London cleaner and greener.'</p>
<h2>First of its kind</h2>
<p>The first phase of the Low Emission Zone began operation on 4 February. It operates 24 hours a day, seven days a week, every day of the year and covers most of Greater London. The zone is the first scheme of its type in the UK and the largest Low Emission Zone in the world. Ninety five per cent of lorries over 12 tonnes that drive in the Zone now meet the required emissions standards.</p>
<p>Nick Fairholme, Head of the London Low Emission Zone at Transport for London, said: 'The majority of vehicles affected by the scheme from 7 July are already compliant with the emissions standards of the zone but we would urge the remaining operators and owners to make sure they are ready.</p>
<p>'A huge effort has been made to ensure that those affected by the Low Emission Zone are aware of the scheme and know what action they can take to comply. An extensive information campaign has been running since June last year aimed at owners and operators of vehicles affected by the Low Emission Zone.'</p>
<p>The information campaign has included advertising on poster sites on the main arterial routes into London, at Eurotunnel and on diesel pumps. </p>
<p>Transport for London has also used direct mail to target owners and operators of non-compliant vehicles seen driving within the zone, plus press and radio advertising has been used to raise awareness of the scheme.</p>
<h2>Vehicle compliance checker </h2>
<p>A vehicle compliance checker is available online to help any concerned owner find out whether their vehicle meets the Low Emission Zone emissions standards. Owners can use the <a href="http://www.tfl.gov.uk/lezlondon">vehicle compliance checker</a> or call 0845 607 0009 (or +44 20 7310 8998 for callers from outside the UK) for an information leaflet.</p>
<p>Transport for London will give operators of vehicles that do not comply with the emissions standards a 28 day warning period to upgrade their vehicle from the date they are first seen driving within the Zone. During this time they will not be issued with a penalty charge.</p>

<p><strong>
<hr>
Notes to editors:<p>
<ul>
<li></li></ul></strong>The Low Emission Zone operates by using cameras to identify registration numbers of vehicles driving within Greater London. It does not include the M25 motorway, even when it passes within the boundary of the zone. The M25 can be used by drivers as a diversionary route, should they wish to avoid the zone. However, some other motorways within Greater London are included in the scheme. A map is available at www.tfl.gov.uk/lezlondon so drivers can check the boundaries of the zone
<li>The required emissions standard of the Low Emission Zone is the Euro III standard for particulate matter (PM). The Euro III standard became mandatory for all new lorries, buses and coaches sold in the EU from October 2001. TfL will assume that a lorry, bus or coach is Euro III compliant if it was first registered on or after 1 October 2001</li>
<li>Operators of affected vehicles which do not meet the Low Emission Zone emission standards (unless exempt or registered for a 100 per cent discount) will have to pay a daily charge of &pound;200 for lorries, coaches and buses (which become subject to the Low Emission Zone in 2008). A charging day runs from midnight to midnight. The level of charge has been set in order to encourage operators and owners to take action to make their vehicles compliant rather than to encourage regular payment of the charge</li>
<li>Operators and owners that do not pay the daily charge and whose vehicles are identified as not meeting the emissions standards will be liable to pay a daily penalty charge on receipt of a Penalty Charge Notice (PCN). The penalty charge is &pound;1,000 for lorries, buses and coaches which is reduced to &pound;500 if paid within 14 days</li>
<li>Non-GB registered vehicles that meet the Low Emission Zone emissions standards will need to be registered with Transport for London in order to avoid a penalty charge</li>
<li>The Low Emission Zone is being introduced in a number of stages, as follows:</li>
<p><strong>Heavier Lorries</strong></p>

<p>From 4 February 2008, diesel-engined lorries over 12 tonnes have had to meet the Euro III standard for particulate matter. This includes heavy diesel-engined vehicles exceeding 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles.</p>

<p><strong>Buses, coaches and lighter lorries</strong></p>

<p>From 7 July 2008 the Euro III for particulate matter emissions standards will be extended to all diesel-engined vehicles between 3.5 and 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles. </p>
<p>The emissions standard will also apply to buses, coaches and larger minibuses, defined as: diesel-engined passenger vehicles with nine or more seats, exceeding 5 tonnes Gross Vehicle Weight.</p>
<p>From October 2010 the Euro III for particulate matter standard will be extended to diesel-engined vehicles between 1.205 tonnes unladen and 3.5 tonnes Gross Vehicle Weight and motor caravans between 2.5 tonnes and 3.5 tonnes Gross Vehicle Weight. In addition, minibuses, defined as: diesel-engined passenger vehicles with nine or more seats below 5 tonnes Gross Vehicle Weight, will be affected.</p>

<p><strong>Euro IV</strong></p>

<p>From January 2012 all diesel-engined lorries, buses and coaches will be required to meet an emissions standard of Euro IV for particulate matter in order to drive within the Low Emission Zone at no charge.</p>
<p>Cars and motorcycles are not affected by the scheme.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The second phase of the London Low Emission Zone, which will affect diesel engined lorries weighing over 3.5 tonnes, buses and coaches, begins at 00:01 on Monday 7 July. From that time if these vehicles do not meet the required emissions standard, which";}
        
        


 