


@{ViewBag.Title = "Under 18s free travel rules begin";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Under 18s free travel rules begin</h1>
        <div class="content-page-press-release">
        01 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All young people must now touch in on their journeys with a valid Oyster photocard to benefit from free travel.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This measure will make enforcement of the free travel concession easier"</div>
        <div class="quote-footer">
            <div class="quotee-name">May of London</div>
            <div class="quotee-job-title">Boris Johnson</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This measure will make enforcement of the free travel concession easier
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>New rules on the use of free travel for young people on buses and trams came into force this weekend.</p>
<p>From yesterday everyone aged 11 and over who qualifies for concessionary travel must touch in with a valid Oyster photocard when boarding a bus or at a tram stop in order to travel for free.</p>
<p>The new measures mean that all young people aged 11 and over who want to benefit from free bus and tram travel must apply for an Oyster photocard.</p>
<p>Application forms are available at Post Offices across the Capital.</p>
<p>Mayor of London, Boris Johnson said: 'Most young people behave themselves on the buses, but it is important that those who don't realise that free travel is a privelege that has been paid for and is not their automatic right regardless of their actions.</p>
<h2>Restoring civility</h2>
<p>'Making it compulsory for young people to carry a valid Oyster photocard and touch in for each journey, alongside our expansion of police numbers on the buses, is part of our effort to restore civility on our transport network, and halt the antisocial behaviour that can make travelling a misery for some passengers.</p>
<p>'This measure will make enforcement of the free travel concession easier and prepares the way for Payback London, which will see those young people who have their Oyster photocards withdrawn for bad behaviour given the opportunity to earn them back by engaging in Community Service.'</p>
<p>Steve Burton, Director of Community Safety, Policing and Enforcement at Transport for London, said: 'With these changes coming into effect, we hope that the thousands of young persons who enjoy free travel will continue to do so.</p>
<p>'I encourage the young people who have yet to apply to do so today.</p>
<p>'Application is easy and we will do our very best to process late applications as quickly as possible.'</p>
<h2>Apply now</h2>
<p>Fourteen and 15 year-olds have been using Oyster photocards to qualify for free travel since the concession was first introduced in September 2005, and those who still hold valid photocard do not need to apply for a replacement.</p>
<p>The 11-15 Oyster photocard has been available since January.</p>
<p>Since then, posters about the Zip scheme have been displayed on the bus network and schools have been contacted to spread awareness of the changes to the free travel arrangements, which include mandatory validation of an Oyster photocard on every journey.</p>
<p>Anyone without a valid Oyster photocard will have to pay the adult cash single fare for their journey.</p>
<p>Anyone found travelling without a valid Oyster photocard which they have touched in or a ticket for their journey may be liable for a &pound;20 penalty fare.</p>
<p>Further details are available at <a href="http://www.tfl.gov.uk/zip">www.tfl.gov.uk/zip</a></p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>A new name, Zip, has been given to all concessionary travel schemes for young people under 18 and this is the first time that 11-13 year-olds have had to carry an Oyster photocard to qualify for free travel on London's buses and trams </li>
<li>130,000 applications have already been received from 11-13 year-olds </li>
<li>Payback London will see those under 18s who have their concessionary Oyster photocard withdrawn for breaking the Behaviour Code given the opportunity to earn them back by engaging in Community Service</li></ul>
<p>Who travels free on buses and trams:</p>
<ul>
<li>All under 11s without the need for an Oyster photocard </li>
<li>All children aged 11-16 who have a valid Oyster photocard at all times to qualify for free bus and tram travel (from 1 June 2008) </li>
<li>Young people aged 16-18 on 31 August prior to the start of the academic year who are in full time education or on a work-based learning scheme and live in a London borough and have a valid Oyster photocard </li>
<li>Young people who already have a valid Oyster photocard, do not need to apply for a new one </li>
<li>All young people aged 11 and over must also continue to touch in and out with their Oyster photocard on the Tube, DLR and London Overground to travel at the child-rate</li></ul>
<p>Applications:</p>
<ul>
<li>Applications for a 'first' Oyster photocard are processed free of charge at the Post Office using 11-15 and 16+ Oyster photocard application forms. Applicants will need to provide a photograph and proof of age at the time of application. 16+ applicants for free travel need to have their forms validated by their school, college or training provider and show proof that they live in a London borough</li></ul>
<p>Behaviour code:</p>
<ul>
<li>If you are using an Oyster photocard with the free bus and tram travel concession on one of our services, it may be withdrawn if you: 
<ul>
<li>do not follow TfL`s Behaviour Code or </li>
<li>commit a crime on one of our vehicles</li></ul></li></ul>
<p>The Behaviour Code states that:</p>
<ul>
<li>When on London's public transport network or premises, you should always act sensibly and treat others as you would like to be treated. Your travel concession may be withdrawn if we believe that you have behaved in an antisocial way</li></ul>
<p>Penalties:</p>
<ul>
<li>Revenue Protection Inspector actions from 1 June 2008: 
<ul>
<li>Children aged 11 or over travelling without an Oyster photocard (or other ticket) will receive a penalty fare </li>
<li>Children aged 11 or over travelling with an Oyster photocard where they have not touched in will have their details recorded so a written warning can be sent to their parent/guardian, as well as a verbal warning issued on the spot. Those caught twice in any rolling year will have their concession withdrawn for six months. Should they be caught travelling without a ticket during this suspension period they will lose the concession for the life of the scheme (i.e. a maximum of 5 years) </li></ul></li>
<li>Revenue Protection Inspector actions prior to 1 June 2008: 
<ul>
<li>Reminder cards issued to young people (11-13) travelling without an Oyster photocard </li>
<li>Reminder cards issued to young people (11-16) travelling without touching in. Passenger warned that failing to touch in from 1 June will cause them to receive a warning letter and could result in them losing their concession </li>
<li>Penalty fare issued to any young person aged 14 and over travelling without an Oyster photocard (or other ticket)</li></ul></li></ul>
<p>Information is also available in Bengali, Chinese, Czech, French, Greek, Gujarati, Hindi, Punjabi, Spanish, Turkish and Vietnamese.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New rules on the use of free travel for young people on buses and trams came into force this weekend.From yesterday everyone aged 11 and over who qualifies for concessionary travel must touch in with a valid Oyster photocard when boarding a bus or at a";}
        
        


 