


@{ViewBag.Title = "Victoria Bus Station: partial closure Saturday 21 and Sunday 22 June 2008";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Bus Station: partial closure Saturday 21 and Sunday 22 June 2008</h1>
        <div class="content-page-press-release">
        17 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Saturday 21 and Sunday 22 June, part of Victoria Bus Station will be closed.
        
    </div>



 <div class="on-this-page">
<p>The closures will allow emergency carriageway repair works to be carried out.</p> <p>The following routes will be affected by the weekend closure: 38, 52, 73, N38, N52 and N73.</p> <p>The following routes will not be affected by the partial closure; 2, 8, 11, 16, 36, 44, 82, 148, 170, 185, 211, 436, C1, C10, N2, N8, N11, N16, N44, and N136.</p> <p>Details of diversions and stopping arrangements for the weekend will be available at local bus stops and on the Transport for London website <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>.</p> <p>Bus station staff will also be available to advise passengers of where to catch their bus. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The closures will allow emergency carriageway repair works to be carried out. The following routes will be affected by the weekend closure: 38, 52, 73, N38, N52 and N73. The following routes will not be affected by the partial closure; 2, 8, 11, 16, 36,";}
        
        


 