


@{ViewBag.Title = "Wildlife makes a bee-line to the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wildlife makes a bee-line to the Underground</h1>
        <div class="content-page-press-release">
        23 June 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) manages 10 per cent of the Capital's wildlife habitat
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'By working closely with Metronet and Tube Lines, we are able to ensure that this important wildlife habitat is protected for the benefit of all Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Marian Kelly</div>
            <div class="quotee-job-title">LU Environment Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'By working closely with Metronet and Tube Lines, we are able to ensure that this important wildlife habitat is protected for the benefit of all Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Passengers travelling on the Tube between Wembley Park and Kingsbury in recent months may have noticed some unusual looking boxes springing up on the trackside near Fryent Country Park. </p>
<p>The boxes, which provide homes for solitary bees, are just one example of a wide variety of biodiversity protection projects that are being carried out on the Underground. </p>
<p>Although the Tube is commonly associated with underground tunnels, more than half of the transport network is above ground.</p>
<p>The 4,000 hectares of land that surround the Tube's rail tracks act as a safe haven for a huge variety of the Capital's wildlife, including bats, badgers, reptiles, stag beetles and water voles. </p>
<h2>Valuable resource</h2>
<p>In all, around 1,150 species of flora and fauna have been recorded on London Underground land in recent years.</p>
<p>Marian Kelly, Environment Manager at London Underground, said: 'At London Underground we are aware of the valuable resource that our land offers to London and we take this responsibility very seriously. </p>
<p>'The rich diversity that our overground trackside land offers creates a haven for many of London's plants and animals, which is why 200 sites on the Tube network have been identified as Sites of Importance for Nature Conservation by many of London's borough councils.</p>
<p>'By working closely with Metronet and Tube Lines, we are able to ensure that this important wildlife habitat is protected for the benefit of all Londoners.' </p>
<h2>Green spaces</h2>
<p>Alison Barnes, Natural England's London Director, said: 'London Underground's commitment to protecting biodiversity is great news not only for wildlife but also for the people of London. </p>
<p>'The natural environment can play a huge role within our everyday lives. There is growing evidence that regular contact with nature improves people's health and wellbeing, any extra effort that can be put into enhancing our cities wildlife and green spaces will benefit us all.'</p>
<p>Although London Underground's property isn't accessible to the public for safety reasons, the Capital's many green spaces and nature reserves are easily reached by public transport, cycling or walking. </p>
<p>For more information on how to get to places such as Hampstead Heath, the London Wetland Centre, or Camley Street Natural Park, go to <a href="http://www.journeyplanner.tfl.gov.uk./">TfL's Journey Planner</a>. </p>
<p>
<hr>
<br><strong>Notes to editor:</strong> 
<ul>
<li>The bee boxes located project is one element of a Tube Lines funded initiative to create a nature area at Kingsbury, enhancing and protecting the ecological value of the land close to Fryent Country Park. For more information on the programme, contact Sarah Baranowski, Media Relations Manager at Tube Lines, 020 7088 4775 or 07764 429 015 </li>
<li>For more information on the biodiversity protection projects that are being carried out on the Tube, see <a href="http://www.tfl.gov.uk/assets/downloads/LU-Biodiversity-Action-Plan-final.pdf.">London Underground's Biodiversity report </a></li>
<li>London Underground, working in partnership with Metronet and Tube Lines, manages approximately 10 per cent of the wildlife habitat in London </li>
<li>More than&nbsp;800 hectares of trackside at more than 200 sites on our network have been identified as Sites of Importance for Nature Conservation </li>
<li>More than&nbsp;550 plant species, 42 types of bird, 14 mammals, and 538 invertebrate have been recorded on London Underground in recent years </li>
<li>Around 55 per cent of the London Underground network is above ground - approximately 4,000 hectares of land across London, Buckinghamshire, Essex and Hertfordshire </li>
<li>London Underground staff are encouraged to enhance wildlife habitats at their workplaces, and to take part in the annual <a href="http://www.tfl.gov.uk/corporate/media/newscentre/5810.aspx">Stations in Bloom </a>competition. They also take part in the 'Station Energy Challenge', which has cut energy consumption by 14 per cent through a series of behavioural change initiatives led by station staff. Charing Cross station was the winner of the Energy Challenge trophy for 2006/07 </li>
<li>Read Tube Lines most recent <a href="http://www.tubelines.com/environmentreport">environment report</a>. Tube Lines is the PPP company responsible for the Jubilee, Northern and Piccadilly lines </li>
<li>Read <a href="http://www.metronetrail.com/default.asp?sID=1092151311109">Metronet Rail's biodiversity report</a>. Metronet is&nbsp;owned by Transport for London and responsible for renewing and maintaining eight lines on Tube network </li>
<li>Transport for London works with the <a href="http://www.lbp.org.uk/">London Biodiversity Partnership</a> </li>
<li><a href="http://www.naturalengland.org.uk/">Natural England</a> works for people, places and nature to conserve and enhance biodiversity, landscapes and wildlife in rural, urban, coastal and marine areas. We conserve and enhance the natural environment for its intrinsic value, the wellbeing and enjoyment of people, and the economic prosperity it brings </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers travelling on the Tube between Wembley Park and Kingsbury in recent months may have noticed some unusual looking boxes springing up on the trackside near Fryent Country Park. The boxes, which provide homes for solitary bees, are just one";}
        
        


 