


@{ViewBag.Title = "GLA - Mayor celebrates six months of the 'Hopper' fare";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor celebrates six months of the ‘Hopper’ fare</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor celebrates six months of the ‘Hopper’ fare</h1>
        <div class="content-page-press-release">
        13 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The 'Hopper' bus fare was launched on 12 September 2016 and saves Londoners &pound;1.50 when they change onto another bus within an hour
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Alongside our TfL fares freeze, the continuing success of the 'Hopper' will put money back into the pockets of millions of Londoners and encourage more people onto public transport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>&nbsp;This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/making-bus-travel-cheaper-for-millions">here</a></strong></em></span></p>
<ul>
    <li>50 million 'Hopper' journeys expected to be hit this week, six months after its launch.</li>
    <li>Mayor says he is 'delighted and proud' about the success of the 'Hopper' so far.</li>
    <li>Brent Cross station is the most popular 'hopper' location, with 12,000 'hops' in February alone.</li>
</ul>
<p>Six months after its launch, the Mayor of London's 'Hopper' bus fare is expected to hit its 50 millionth journey this week, new figures from Transport for London (TfL) show.</p>
<p>The fare, which was introduced on 12 September 2016, enables passengers to take a &pound;1.50 bus or tram journey and then change onto another bus or tram for free within one hour of starting their journey. It is automatically given to anyone who uses pay as you go with a contactless bank payment or Oyster card.</p>
<p>On average &#45; around 300,000 'Hopper' journeys are being made every weekday, with the most popular bus stop to 'hop' on still at Brent Cross Shopping station, where more than 12,000 'hops' took place during February alone.</p>
<p>The continuing success of the 'Hopper' fare will help to encourage people across London to switch from their cars back to public transport &#45; supporting the Mayor's wider campaign to clean up London's toxic air. With the Mayor cleaning up London's bus fleet, passengers using the bus can help to reduce emissions, while reducing congestion on London's roads. The 'Hopper' is of particular benefit to Londoners on lower incomes who rely on bus services to get around.</p>
<p>Analysis of the last six weeks shows that the most popular bus to 'Hop' onto is Route 18, which runs from Sudbury &amp; Harrow Road station to Euston Station via Kensal Green, with more than 74,000 'hops' during February alone.</p>
<p>Other popular routes for passengers using the 'Hopper' fare include:</p>
<ul>
    <li>The Route 25 from Oxford Circus to Ilford, which saw more than 60,000 'hops' in February</li>
    <li>The Route 73 from Victoria to Stoke Newington, which saw more than 48,000 'hops' in February</li>
</ul>
<p>Brent Cross Shopping station is the most popular single 'hopper' location with 12,000 'hops' taking place during February. The bus stops outside Woolwich Arsenal station and outside Brixton station were both hugely popular during February, with 12,499 and 11,356 'hops' respectively. Over 20,000 'hops' took place from bus stops around Elephant and Castle during February.</p>
<p>Mayor of London, Sadiq Khan said:</p>
<p>'Six months after its launch I'm delighted and proud that our 'Hopper' fare continues to be such a huge success. The cost of transport must never be a barrier to study or work, and hitting 50 million journeys this week shows the difference the 'Hopper' is making cutting the cost of travel for Londoners all across our city.</p>
<p>Alongside our TfL fares freeze, the continuing success of the 'Hopper' will put money back into the pockets of millions of Londoners and encourage more people onto public transport, helping tackle congestion, and improving our city for everyone.'</p>
<p>Shashi Verma, Chief Technology Officer at TfL, said: </p>
<p>'It's great to see that in just six months the 'Hopper' fare has already made such a difference to London. Travelling on buses in London represents very good value for money, with a single adult fare costing just &pound;1.50. By helping Londoners save money while encouraging further use of buses and trams, we can help reduce congestion and make it easier for people to travel across London.  We will continue to work tirelessly to make it easy for people to use our services with simple ticketing and our focus is now on improving the system further so that people can make unlimited 'hopper' journeys within an hour from 2018.'</p>
<p>The introduction of the 'Hopper' fare formed part of the Mayor's wider fares package to make life easier for Londoners, which included a four-year fares freeze on all TfL services which came into force in January 2017.</p>
<p>TfL is now working on delivering unlimited bus and tram transfers within one hour, which is not currently possible due to limits with the existing technology. Plans are for TfL to deliver unlimited bus and tram journeys in an hour from 2018.</p>
<p>In addition to this, from 2018, passengers who travel on a Tube or train between their two or more bus or tram journeys will also be eligible for the 'Hopper' fare.</p>
<p>For more information about TfL fares, or to register your contactless bank card or Oyster card so that you can see your journey history and claim refunds, please visit <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The bus 'Hopper' fare also applies to customers who pay discounted pay as you go fares (Bus &amp; Tram Discount, Jobcentre Plus Travel Discount, Young Visitor discount and some Zip Oyster photocards).</li>
    <li>The bus 'Hopper' fare is applied at the time of travel to journeys by Oyster customers exiting the Tram network at Wimbledon and subsequently catching a bus. Oyster customers who &quot;miss out&quot; in this way at Wimbledon are sent automatic refunds.</li>
    <li>Contactless bank payment cards have been accepted on London buses since December 2012, with the technology expanded to cover Tube, tram, DLR, London Overground, and most National Rail services on 16 September 2014.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-GLA - Mayor celebrates six months of the ‘Hopper’ fare -->

 
 
        
        
            @{ViewBag.Description = "Mayor celebrates six months of the ‘Hopper’ fare - making bus travel cheaper for millions of journeys in the capital";}
        
        


 