


@{ViewBag.Title = "GLA - Mayor launches first Low Emission Bus Zone";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor launches first Low Emission Bus Zone</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor launches first Low Emission Bus Zone</h1>
        <div class="content-page-press-release">
        09 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses on polluted Putney High Street set for a sharp reduction in emissions<BR>
        
    </div>



 <div class="on-this-page">
<p><em><span style="text-decoration: underline;"><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-launches-first-low-emission-bus-zone">here</a></strong></span></em></p>
<ul>
    <li>Residents and businesses welcome cleaner buses on one of London's most heavily affected streets‎</li>
    <li>Launch follows a recent poll in which nine out of 10 Londoners said air pollution is at a 'crisis' level</li>
    <li>Eleven more Low Emission Bus Zones to follow, with the Brixton route set to start later this year</li>
    <li>The zones represent the most extensive network of clean buses of any major world city</li>
</ul>
<p>The Mayor of London, Sadiq Khan, today delivered the capital's first ever Low Emission Bus Zone in one of the most polluted areas of London, Putney High Street. The clean bus zone, which runs a total of 145 buses on seven scheduled routes, will now be serviced by cleaner buses in a bold move to cut harmful nitrogen oxide (NOx) emissions.</p>
<p>The route, running from Putney Station to Putney Bridge Road, is the first of 12 new Low Emission Bus Zones to be introduced at air quality hotspots. The zones represent the most extensive network of clean buses of any major world city. These hotspots expose Londoners to some of the highest levels of nitrogen dioxide (NO2) pollution, and they contain older buses which contribute significantly to road transport emissions.</p>
<p>The routes are one‎ part of a major transformation the Mayor has asked TfL to deliver to reduce emissions from London's bus fleet, including the phasing out of diesel-only buses and a commitment to purchase only hybrid or zero-emission double-decker buses from 2018.</p>
<p>Polluted Putney High Street exceeded hourly legal levels of nitrogen dioxide on 1,248 occasions in 2016. Under EU rules, the limit shouldn't be exceeded more than 18 times in a year.</p>
<p>From today, only buses that meet the toughest emission standards will be permitted to run within the Putney Low Emission Bus Zone. Putney High Street will also have effective bus priority measures in place to keep bus delays to a minimum and reduce unnecessary pollution caused by sitting in traffic.</p>
<p>The launch follows a recent City Hall poll, in which nine out of ten Londoners said air pollution is at a 'crisis' level. A report released by the Mayor last week showed that every London borough has recorded illegally high levels of air pollution in the last two years, with Wandsworth having some of the highest levels. Wandsworth has exceeded the annual mean limit for NO2 pollution at five out of six of their automatic monitoring stations, with the sites on Putney High Street recording levels more than double the legal limit.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'London's toxic air is an outrage and I promised to make cleaning it up one of my top priorities.  Today, I'm delivering on that pledge by introducing our first ever Low Emission Bus Zone. I have asked TfL to remove the oldest, dirtiest buses from our streets and this new route, along with the 11 others we'll be introducing, will make a big difference to the pollution caused by our public transport system. I now need other cities around the world to work with me to demand cleaner bus technology so we can phase out diesel buses altogether.‎</p>
<p>'There is nothing more important to me than safeguarding the health of Londoners. I'm doing everything in my power to both transform London's bus fleet and target areas with the worst pollution so that the streets we live and work in are better places to be.</p>
<p>'However, I can't do this alone. That's why I am repeating my call to the Government to take their responsibility seriously and introduce a national diesel scrappage fund to help get the most polluting vehicles off our roads and to give me the powers to tackle other sources of air pollution.'</p>
<p>Eleven more Low Emission Bus Zones will follow Putney, with the Brixton and Streatham zone set to be introduced in October. The remaining 10 zones will be delivered by 2020, fulfilling the Mayor's manifesto commitment.</p>
<p>The upcoming zones &#45; which are all outside of the central Ultra Low Emission Zone &#45; include Stratford, Harringay and Edgware. Thousands of school children will benefit from their introduction, with 172 schools located within 100 metres of the new zones.  In addition, the benefits of operating the greenest buses will be felt across the capital as the buses operate the full length of their routes. The changes are expected to reduce bus emissions across the 12 zones by over 80 per cent.</p>
<p>The locations of the Low Emission Bus Zones are:</p>
<ol>
    <li>Putney High Street &#45; from Putney Station to Putney Bridge Road</li>
    <li>Brixton to Streatham &#45; from Brixton Hill via Stockwell Road and Streatham High Road to Streatham Place</li>
    <li>A12 Eastern Avenue &#45; from Blake Hall Road via High Road Leyton and Homerton High Street to Marsh Hill</li>
    <li>Lewisham to Catford &#45; from Bromley Road via Rushey Green to Lewisham High Street</li>
    <li>Stratford &#45; from Abbey Lane via Mile End Road to Woodgrange Road</li>
    <li>Harringay &#45; from High Road to Green Lanes</li>
    <li>Camberwell to New Cross &#45; from Blackheath Road via Camberwell Green and Peckham High Street to Wood's Road</li>
    <li>Wandsworth to St John's Hill &#45; from Lavender Hill to Wandsworth Road</li>
    <li>Edgware Road (Kilburn to Maida Vale) &#45; from Cricklewood Broadway via Kilburn High Road to Shoot-Up Hill</li>
    <li>Edmonton to Seven Sisters &#45; from Amhurst Park via Green Lanes and Seven Sisters Road to The Broadway</li>
    <li>Uxbridge Road to Shepherds Bush &#45; from Ealing Broadway via Hanger Lane to Uxbridge Road, The Broadway</li>
    <li>Chiswick High Road to Kensington &#45; via Hammersmith Broadway and Kensington High Street to Studland Street.</li>
</ol>
<p>Dr Penny Woods, Chief Executive of the British Lung Foundation, said: </p>
<p>'The Low Emission Bus Zone is critical in the battle for clean air. Air pollution contributes to over 9,000 early deaths a year in London. People with a lung condition, children and the elderly are extremely vulnerable. The Mayor now needs support from government; a fair and ambitious new Clean Air Act with targets to reduce pollution levels. Londoners' lungs demand it.'</p>
<p>Gary Dyas, Chair of Putney Business Improvement District (BID), said: </p>
<p>'We're very pleased that all buses coming through Putney will need to pass the toughest emission standards. It is a priority for Putney businesses to continue to lobby to ensure that the air quality on the High Street is improved.'</p>
<p>Jonathan Cook, deputy leader of Wandsworth Council said: </p>
<p>'This is another step in the right direction for our campaign to rid Putney High Street of diesel bus fumes. Kings College London confirms this is one of only a few places in London were pollution levels have actually fallen in recent years and this stems directly from years of investment in the bus fleet. A lot more remains to be done, we will monitor the impacts closely and continue to make the case for Putney and other congested streets in Wandsworth to get the investment they so badly need.'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
<p>'It is now clear that London is facing a serious air quality issue and our customers increasingly want greener buses to play a key role in tackling the problem. Our Low Emission Bus Zones will meet this challenge head-on. It all starts today in Putney, where our flagship zone will help transform air quality and create a more welcoming town centre environment. We look forward to introducing the next zone in Brixton later this year.'</p>
<p>Travelling on buses in London represents very good value for money, with a single fare costing &pound;1.50. Since the introduction of the 'Hopper' fare in September last year, passengers can change onto another bus or tram for free within one hour of touching in. With the addition of even greener buses to the fleet, customers can now help to reduce emissions while reducing congestion on London's roads.</p>
<p>Putney's new Low Emission Bus Zone follows the investment of &pound;135,000 from the Mayor's Air Quality Fund in the London Borough of Wandsworth to deliver a series of interventions in and around Putney High Street, including working with businesses to reduce deliveries and congestion.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ol>
    <li>From 2019, all TfL buses operating in central London will need to meet the Euro VI standard just like other heavy vehicles driving in the Ultra Low Emission Zone (ULEZ), and all double-decker buses will be hybrid. Because of the way the network works, a significant number of double-decker buses operating in inner London will be hybrid and many in outer London too.</li>
    <li>It is also proposed that all single-decker buses operating in central London will be zero emission at tailpipe from 2020, taking the number of these vehicles up to around 300.‎</li>
    <li>The Mayor launched his plans to clean up London's filthy air last summer and his first public initial consultation attracted a record 15,000 responses.</li>
    <li>The Mayor has also called on the Government to put in place a national diesel scrappage fund to help people replace vehicles affected by the proposals. There was overwhelming support for this in the first round of his consultation. He also wants fiscal incentives, like Vehicle Excise Duty, to be reformed so they support the Mayor's proposals and encourage people to own and use the cleanest vehicles. The Mayor has also requested additional powers through a new 21st Century Clean Air Act so he can effectively tackle 'non road' sources of pollution including from construction and the river.</li>
    <li>There are two pollutants of particular concern in London: particulate matter (PM) and nitrogen dioxide (NO2). Nitrogen oxides (NOx) are produced when fuel is combusted in an engine in the presence of air. NOx comprises a mixture of nitric oxide (NO) and NO2. NO is not harmful to health at the concentrations typically found in the atmosphere. However, in contrast, NO2 is associated with a range of environmental and health problems. The Government's action plan includes meeting NO2 legal limits in London by 2025. The Mayor wants to use the package of measures agreed following the consultation and additional Government action and funding to ensure we can achieve this long before 2025.‎</li>
    <li>A poll of 1,000 Londoners found that 88 per cent think air pollution is a big problem, with 66 per cent citing air quality as bad in their local area and 72 per cent calling on ministers to do more.  Topline results and data tables are available on London Datastore: <a href="https://data.london.gov.uk/dataset/gla-poll-results/resource/b4d39130-e74f-4d2c-99d8-620cd24b3510/download">https://data.london.gov.uk/dataset/gla-poll-results/resource/b4d39130-e74f-4d2c-99d8-620cd24b3510/download</a></li>
    <li>An air quality report released by the Mayor last week showed that every London borough has recorded illegally high levels of air pollution in the last two years: <a href="https://www.london.gov.uk/sites/default/files/borough_air_quality_report_2017_final_2.pdf">https://www.london.gov.uk/sites/default/files/borough_air_quality_report_2017_final_2.pdf</a></li>
    <li>Further additional Low Emission Bus Zones will be considered across the capital in the future if they are deemed appropriate.</li>
    <li>In 2009 a unique Wandsworth Council research project revealed that diesel powered buses were the main source of nitrogen dioxide on Putney High Street and this data was used to secure bus fleet upgrades from Transport for London. The result has been a fall in pollution but levels still remain well above legal limits.</li>
</ol>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-GLA - Mayor launches first Low Emission Bus Zone -->

 
 
        
        
            @{ViewBag.Description = "Mayor launches first Low Emission Bus Zone to tackle toxic air";}
        
        


 