


@{ViewBag.Title = "GLA - Business leaders call on Government to deliver on Crossrail 2";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Business leaders call on Government to deliver on Crossrail 2</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Business leaders call on Government to deliver on Crossrail 2</h1>
        <div class="content-page-press-release">
        17 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 70 business leaders hail Crossrail 2 as being of national importance
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is yet more evidence of just how important Crossrail 2 is to the UK. Business leaders know it will bring hundreds of thousands of jobs and housing, and transport benefits right across the South East, as well as boosting the economy in all corners of the country"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><em><span style="text-decoration: underline;"><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/business-leaders-call-for-crossrail-2">here</a></strong></span></em></p>
<p><span style="text-decoration: underline;"><strong><a href="https://www.london.gov.uk/press-releases/mayoral/business-leaders-call-for-crossrail-2"></a></strong></span></p>
<ul>
    <li>Project to grow UK economy by up to &pound;150billion</li>
    <li>200,000 new homes and 200,000 jobs supported</li>
</ul>
<p>Business leaders from across the South East today (17 March) urged the Government to make delivering Crossrail 2 a priority for the good of the whole country.</p>
<p>In a letter to the Chancellor, Philip Hammond, and Transport Secretary, Chris Grayling, more than 70 business leaders, including at EY, Deloitte, Aviva Group, Gatwick Airport, Heathrow Airport, Canary Wharf Group, FSB Surrey &amp; West Sussex, and Surrey, Essex, Hertfordshire, Hampshire, and Cambridgeshire Chambers of Commerce hailed the infrastructure project as being of national importance.</p>
<p>They highlighted that the new railway will not just benefit London but bring economic benefits right across the South East and the rest of the UK, boosting the economy by up to &pound;150bn.</p>
<p>But they also warned of the dangers of delay, saying that the current overcrowded rail network is threatening to stunt growth across the entire nation. They explained that bottlenecks at stations are already intolerable for commuters and that some of the benefits of the new High Speed 2 (HS2) would be lost by passengers having to queue at Euston without Crossrail 2.</p>
<p>Crossrail 2 will transform journey times and connectivity from the Solent to the Wash. It will relieve congestion on the overcrowded key rail lines from Portsmouth to Cambridge, and link with HS2 at Euston. It will also relieve pressure on the Underground, as the population of London and the South East grows.</p>
<p>It will support some 200,000 new homes and 200,000 jobs, and generate 60,000 supply chain jobs across the UK, including 18,000 apprentices.</p>
<p>It will support and advance the UK's engineering, construction and manufacturing sectors. This will include potentially more than &pound;1bn to the West Midlands economy, more than &pound;900m to Yorkshire and Humber, more than &pound;750m to the North West, up to &pound;170m to the Scottish economy, and many more millions across the UK.</p>
<p>This would create new opportunities for investing in skills and jobs &#45; as Crossrail has done across the country. It will also open up areas for growth and new jobs, including in the Cambridge-Stansted corridor and in the south west of London.</p>
<p>London has already committed to meeting half the cost &#45; unlike other nationally significant projects that do not receive such levels of local funding.</p>
<p>The business leaders told the Chancellor and Transport Secretary that now is the moment for the Government to find Parliamentary time for Crossrail 2 and show the world that the UK is open for business post Brexit.</p>
<p>Yolanda Rugg, Chief Executive of the Hertfordshire Chamber of Commerce said: </p>
<p>'Crossrail 2 is a hugely important scheme for Hertfordshire; it will drive growth and boost jobs in the London Stansted Cambridge Corridor as well as supporting vital new housing. Hertfordshire businesses urge the government to give this project the green light now.'</p>
<p>Geoff French, Enterprise M3 Chair said: </p>
<p>'The major benefits from Crossrail 2 extend all the way along the M3 corridor, through Surrey and down to Hampshire. Rail passengers are already experiencing overcrowding on the South West Mainline into Waterloo on a daily basis that is stunting economic growth in the Enterprise M3 LEP. Crossrail 2 is the only scheme being planned that can provide the necessary capacity and connectivity to boost our regional economy that is so crucial to the Government's new Modern Industrial Strategy.'</p>
<p>Caroline Artis, Senior Partner for London, EY: </p>
<p>'As a major nationwide employer, we rely on good infrastructure to get our employees to work and unlock areas to give them access to better housing. Crossrail 2 will allow 270,000 more people to get into central London in the morning peak while also supporting large swathes of housing development. Crossrail 2 is a priority project and it must not be delayed if the UK is to stay on course for a global future outside the EU.'</p>
<p>Helen Clark Bell, Chief Executive of LoveWimbledon, said: </p>
<p>'Wimbledon is the country's 21st busiest station and has been operating at over capacity for many years. Crossrail 2 is the only single infrastructure project which will not only keep Wimbledon's transport offer from buckling over the next fifteen years, but also catalyse improvement and development of Wimbledon Town Centre. The prolonged uncertainty over Crossrail 2 is potentially damaging to Wimbledon's business economy. We need a decision on this scheme so that businesses have the certainty they need to invest in this important economic centre.'</p>
<p>Kirsten Henly, Chief Executive, Kingston First: </p>
<p>'Kingston attracts tens of thousands of visitors and workers a day, due to its thriving centre for business with a strong retail and cultural offer. Its strong residential population also makes it a major connector to the central London workforce. This population, and the town, is set to grow dramatically over the coming years and will, therefore, impact on the already stretched rail networks. Crossrail 2 is a priority project which will dramatically improve connections into London and this is vital for attracting investment, jobs and enhancing connectivity with central London, Surrey and the wider South West.'</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'This is yet more evidence of just how important Crossrail 2 is to the UK. Business leaders know it will bring hundreds of thousands of jobs and housing, and transport benefits right across the South East, as well as boosting the economy in all corners of the country. Despite the project benefiting the whole of the UK, London has actually met half the funding cost. What we now need is for the Government to take note of these benefits and give us the green light to progress, for the good of the entire country.'</p>
<p>Crossrail 2 would connect National Rail networks in Surrey and Hertfordshire with an underground tunnel beneath central London between Wimbledon and Tottenham Hale and New Southgate.</p>
<p>It would enable 270,000 more people to enter central London every morning at peak time. Without the much needed additional capacity Crossrail 2 provides, mainline stations will continue to face overcrowding and delays.</p>
<p>TfL has submitted an updated business case and funding plan to the Transport Secretary‎, who is due to make a decision in the spring on further Government support. Construction could start in the early 2020s and the railway could be operational by 2033.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong><a href="https://www.london.gov.uk/press-releases/mayoral/business-leaders-call-for-crossrail-2"></a></strong></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-GLA - Business leaders call on Government to deliver on Crossrail 2 -->

 
 
        
        
            @{ViewBag.Description = "Business leaders call on Government to deliver on Crossrail 2";}
        
        


 