


@{ViewBag.Title = "GLA - Mayor sets out bold plans to increase bus ridership";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor sets out bold plans to increase bus ridership</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor sets out bold plans to increase bus ridership</h1>
        <div class="content-page-press-release">
        21 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New co-ordinated approach to make London bus travel even more attractive
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Encouraging Londoners to use our world-renowned bus network is a crucial part of our work to tackle congestion, clean up our air and improve our city for everyone"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-sets-out-plans-to-increase-bus-ridership">here</a></strong></em></span></p>
<ul>
    <li>Bus capacity in central London will match demand, while accessibility and bus priority will be improved</li>
    <li>Cycling, Tube, road safety and air quality improvements also confirmed in draft budget</li>
    <li>Draft budget shows TfL is budgeting for &pound;75m further savings beyond the 2016 business plan</li>
</ul>
<p >The Mayor of London, Sadiq Khan, and Transport for London have today outlined bold plans to encourage more people to use the capital's bus network.</p>
<p>London's buses carry millions of passengers every day with more than half of bus journeys in England taking place on one of the world's most frequent and extensive bus networks with around 9,300 vehicles on 675 routes. The new and co-ordinated approach announced today will see steps taken to make bus travel even more attractive for Londoners.</p>
<p>Details of the new approach are set out in TfL's draft budget for 2017/18, which outlines how it will deliver the Mayor's ambitious plans for improved transport in the capital.</p>
<p>TfL's draft budget for 2017/18, published today, shows how TfL is continuing to reduce its operating costs and is becoming more efficient through the biggest ever overhaul of the organisation.</p>
<p>In 2016/17, TfL forecasts that its operating costs will be &pound;195m lower than budget, following a number of actions including better deals with suppliers, reprioritising IT projects, reducing layers of management and relying less on agency staff.</p>
<p>The 2017/18 budget shows that while passenger numbers on the Tube, DLR, TfL's rail network, river services and Santander Cycles have all risen, the Mayor inherited falling bus passenger numbers from his predecessor. Bus ridership is now forecast to decline by an average of 2.3 per cent from 2016/17, particularly in central London.</p>
<p>Bus speeds have fallen on average by three per cent, with central London seeing the greatest reductions. This partly reflects the continued economic success of the city, with high levels of construction work and development contributing to road congestion, but also the sharp rise in numbers of private hire vehicles and small deliveries as well as other factors.</p>
<p>The new measures to increase bus ridership include:</p>
<ul>
    <li>Matching bus capacity with demand by reducing the underused services in central London and reallocating them to where they are needed.</li>
    <li>Investing &pound;20m per year in bus priority measures. TfL will deliver around 170 schemes, many in outer London, saving passengers time on some of the most congested routes.</li>
    <li>Reviewing traffic signal timings at 1,200 junctions and at 200 sites to improve bus speeds.</li>
    <li>Ensuring TfL make 95 per cent of bus stops accessible to passengers</li>
    <li>Improving customer service on the bus network by giving all 24,500 bus drivers, bus controllers and other operational staff new training in how to assist customers.‎</li>
    <li>Overhauling information provided to passengers to make it easier to understand where bus services go and how frequent they are, including new signage on the outside of buses.</li>
    <li>Continuing the transformation of the bus fleet into a low-polluting means of transport with new 'Low Emission Bus Zones' introduced, phasing out our worst polluting diesel buses and replacing or modifying all buses to meet the toughest air quality standards by 2020.</li>
</ul>
<p>TfL is also taking steps to tackle congestion on London's roads, with the Mayor announcing a series of measures late last year including new and improved strategic management, technology and communication to tackle the problem head-on. A longer-term approach for tackling congestion will be set out in the Mayor's forthcoming Transport Strategy.</p>
<p>In 2017/18, operating costs are budgeted to be &pound;75m lower than set out in the TfL Business Plan, published last year. The General Grant from central Government to TfL will be reduced by &pound;219m, which means it is essential to contain operating costs as near as possible to current levels. This rigorous approach to the management of operating costs will continue and expand through the coming financial year as TfL continues to undertake its overhaul of the organisation.</p>
<p>Overall fares revenue for all of TfL services is expected to be &pound;86m higher (2 per cent) than in 2016/17, and Commercial Development revenue is expected to be &pound;79m ahead of assumptions in the Business Plan, and up &pound;292m year on year. TfL is revising down its forecast for bus fare revenue in 2017/18, reflecting the latest assessment of demand. This is largely, though not entirely, offset by higher overall cost savings across TfL's operations.</p>
<p>At the same time as reducing costs, TfL will introduce a wide range of improvements for customers in 2017/18, including:</p>
<ul>
    <li>Completing step-free access at Victoria, Bond Street, West Hampstead Overground and Bromley-by-Bow stations.</li>
    <li>Completing the upgrades of Tottenham Court Road and Bond Street stations and opening a new entrance at Bank to relieve congestion at this station.</li>
    <li>Increasing the frequency of service on the Victoria line to 36 trains an hour meaning that the line will operate one of the most intensive services in the world.</li>
    <li>Progressing with the delivery of new state-of-the-art signalling technology on the Circle, District, Metropolitan and Hammersmith &amp; City lines, which will deliver a 33 per cent increase in capacity by 2022.</li>
    <li>Ordering the new trains needed to increase capacity on the Northern and Jubilee lines by 20 per cent.</li>
    <li>Introducing new modern air-conditioned Elizabeth line trains between Liverpool Street and Shenfield from May this year as a prelude to the phased implementation of the Elizabeth line.</li>
    <li>Improving air quality through introducing a Toxicity charge for the most polluting vehicles, Low Emission Bus Zones and a requirement for all new taxis presented for licensing to be zero-emission capable.</li>
    <li>Introducing a range of measures to improve customer service on the Tube, including recruiting at least 650 new station staff this year, of which 325 will be additional new roles.</li>
    <li>Adopting a 'Vision Zero' approach to maximise safety in all TfL road schemes, supporting the long-term vision of London's roads being free from death and serious injury.</li>
    <li>Investing around &pound;154m in cycling and walking, including starting construction on the Westminster Bridge south and Old Street roundabout transformations, completing Cycle Superhighway 2 and introducing the next generation of bikes to the Santander Cycles scheme.</li>
    <li>Carrying forward plans to introduce two new hybrid vessels on the Woolwich Ferry by the end of 2018.</li>
    <li>Beginning consultation and detailed planning on the transformation of Oxford Street.</li>
</ul>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'Encouraging Londoners to use our world-renowned bus network is a crucial part of our work to tackle congestion, clean up our air and improve our city for everyone. I am pleased we are reducing TfL's operating costs. We've already started tackling congestion, made bus travel more affordable thanks to the Hopper fare, and made sure we have an efficient green fleet in order to make bus travel faster and easier for all Londoners. TfL will be making a whole series of improvements to our transport network over the next year as they continue to successfully deliver major efficiency savings and keep TfL fares frozen for passengers.'</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: </p>
<p>'Transport is not an end in itself. It is a means of enabling a healthier, more inclusive city with new jobs and homes. Our draft budget for 2017/18 sets out how we will deliver the Mayor's ambitious plans for a modern, efficient and affordable transport network.</p>
<p>'Londoners will see a wide range of improvements to their service over the next financial year, including more staff to assist them on the Tube, newly modernised stations completed at Victoria, Bond Street and Tottenham Court Road, better and safer cycling infrastructure and road junctions, and new Elizabeth line trains coming into service.</p>
<p>'We will also make the bus network more attractive as we introduce bus priority measures and re-time signals to improve bus speeds. We will be making changes to underused services in central London that are currently held up in congestion, and at the same time make the bus network greener, more accessible and easier to use.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL's draft budget for 2017/18 will be published at: <a href="https://tfl.gov.uk/corporate/publications-and-reports/board-papers">https://tfl.gov.uk/corporate/publications-and-reports/board-papers</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-GLA - Mayor sets out bold plans to increase bus ridership -->

 
 
        
        
            @{ViewBag.Description = "Mayor sets out bold plans to increase bus ridership across the capital";}
        
        


 