


@{ViewBag.Title = "Safety work to start at Westminster Bridge ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Safety work to start at Westminster Bridge </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Safety work to start at Westminster Bridge </h1>
        <div class="content-page-press-release">
        20 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pedestrian and cyclist safety improvement to Westminster Bridge area to begin on Wednesday 29 March
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are determined to make physical activity a bigger part of Londoners' everyday lives for the good of everyone in our city, and this is exactly the type of scheme that will help to encourage this"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Lessons learnt from previous schemes have helped reduce impact of work</li>
    <li>While work takes place road users are advised to plan ahead and leave more time for journeys</li>
    <li>Following discussions with Guy's and St Thomas' NHS Foundation Trust, TfL has decided to include zebra crossings at key bus stop by-passes</li>
</ul>
<p>Work to transform Westminster Bridge and the surrounding area into a safer, more pleasant place for pedestrian and cyclists will begin this month.</p>
<p>The iconic 155-year-old Westminster Bridge is to become the fourth bridge in central London to have segregated cycle lanes, with the south-side junction remodelled to make it easier to cross for pedestrians.</p>
<p>The transformation of the Westminster Bridge area - which was supported in an extensive public consultation - will provide benefits for pedestrians and cyclists, in line with the Mayor's new Healthy Streets vision. It will:</p>
<ul>
    <li>Improve pedestrian access with three upgraded pedestrian crossings and new pedestrian countdown timers</li>
    <li>Improve cycle safety with dedicated cycle routes separated from motor vehicles</li>
    <li>Improve links into the wider cycling network such as the East-West Cycle Superhighway and the Central London Cycling Grid</li>
    <li>Make the area more pleasant with new trees and benches, new footway material and a 20mph speed limit</li>
</ul>
<p>Following further engagement with Guy's and St Thomas' NHS Foundation Trust, and in the light of concerns raised by the Trust, modifications have been made to the design of the bus stop bypasses in front of St Thomas' Hospital. This work means that these bus stop bypasses will now include a zebra crossing to assist pedestrians crossing the cycle track. Following this &#45; the Trust has settled its judicial review claim. The width of the pedestrian crossing point at these bus stop bypasses has been almost doubled to 6 metres, to reflect the special features of their location outside a busy hospital.</p>
<p>The Mayor of London recently outlined a long-term vision to help encourage more Londoners to walk and cycle by making London's streets healthier, safer and more welcoming. This can be done by providing more space for walking and cycling, and better public spaces where people can interact through more seating, more greenery, reducing vehicle speeds and installing safer crossings. A key element of this new approach is better collaboration between TfL and its partners and stakeholders to improve London's streets for everyone.</p>
<p>The improvement of the Westminster Bridge area will require various road restrictions until its completion in early 2018, so road users are advised to plan ahead and allow more time for journeys or, where possible, use alternative routes when work starts on Wednesday 29 March. To reduce the impact of construction, lessons have been learnt from previous schemes and changes made to the scheme's delivery. This includes extended working hours to reduce the overall length of works, co-ordination of works, and using new technology to allow temporary traffic signals to connect with TfL's 24-hour control centre and react to traffic flows. For information on how journeys might be affected, including traffic maps, see <a href="http://tfl.gov.uk/Westminster-bridge-south">tfl.gov.uk/Westminster-bridge-south</a>.</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: </p>
<p>'It's great news that work is about to start to transform walking and cycling facilities at Westminster Bridge. These improvements are going to make a real difference in the area, ensuring the iconic bridge is safer and more pleasant to use. We are determined to make physical activity a bigger part of Londoners' everyday lives for the good of everyone in our city, and this is exactly the type of scheme that will help to encourage this. We've also been looking carefully at the disruption caused by the construction of previous schemes and I can ensure all road users that we will be working hard to ensure that this is kept to an absolute minimum.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'I'm pleased our plans to improve pedestrian and cycling facilities on and around Westminster Bridge are about to come to fruition. The Waterloo area will be opened up for pedestrians &#45; while segregated cycleways and cycle signals will create better links for cyclists into London's expanding network of safer infrastructure.</p>
<p>'We have planned the work to minimise disruption, but there will be some impact. We thank road users for bearing with us while work takes place and are asking them to plan and leave more time for journeys in the area, and if possible, use alternative routes.'</p>
<p>As with any road layout changes of this type, TfL will ensure that staff, and where possible police, are present for the first week of operation of the bus stop bypasses to assist members of the public, and will keep matters under review. In addition, announcements will be made on buses approaching the stop to alert passengers they will be alighting at a bus stop bypass. TfL is conducting a wider trial of zebra crossings at bus stop bypasses and any relevant recommendations will be taken into account in the final design of the bus stop bypasses in front of St Thomas' Hospital.</p>
<p>Tackling congestion in London is also a key priority for the Mayor, and his focus on prioritising walking, cycling and using public transport will be an important long-term solution to London's congestion problems. Every person that isn't in a car means less congested roads for those essential car journeys, helping keep London a competitive and attractive place for business.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL's plans for Westminster Bridge South roundabout were supported by nearly three quarters of respondents in a 2015 public consultation. The consultation report can be found here: <a href="http:// tfl.gov.uk/Westminster-bridge-south">tfl.gov.uk/Westminster-bridge-south</a></li>
    <li>Improving the cycling and pedestrian facilities south of Westminster Bridge will help remove an intimidating block from active travel. The Waterloo area will be linked into the wider cycling network including the East-West Cycle Superhighway from Tower Hill to Lancaster Gate and two Central London Grid routes</li>
    <li>For the latest information on how London roads are operating, check before travel at <a href="http://tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a> and follow &#64;TfLTrafficNews on Twitter.</li>
    <li>Segregated one-direction cycle lanes of 1.8 metre in width will be installed on each side of the bridge</li>
    <li>Getting more people cycling makes our roads more efficient, which given a growing population and increasing congestion, is incredibly important.  The new east-west and north-south cycle routes are moving 46 per cent of the people using the road in only 30 per cent of the road space. Two weeks after opening, the two roads were moving five per cent more people per hour than they were before the cycle lanes were built, a number that will increase as they attract more cyclists.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-Safety work to start at Westminster Bridge  -->

 
 
        
        
            @{ViewBag.Description = "Major pedestrian and cyclist safety work to start at Westminster Bridge ";}
        
        


 