
    
  



@{ViewBag.Title = "Enforcement process";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/penalty-charge-notices/enforcement-process";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></li>
                
            
                
                <li><span class="last-breadcrumb">Enforcement process</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Enforcement process</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>The measures you can take to challenge a Penalty Charge Notice (PCN), and those we take to enforce payment, form a strictly defined legal process.</p>
        
      </div>
    
    <div class="on-this-page">
      
        <p>Different categories of PCN have their own distinct processes. Open the panels below for more information on each stage of the process.</p>
    
      
           
      <div>

<h2>Bus lane (PCN with prefix GT)</h2>
<p>There are seven stages in
this enforcement process.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-1---informal-representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 1 - Informal representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-1---informal-representation-heading" class="accordion-heading">Stage 1 - Informal representation</div>
            </div>
            <div id="stage-1---informal-representation-content" class="start-hidden" role="region" aria-labelledby="stage-1---informal-representation-heading">
<p> When you receive a PCN, you can:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 28 days (case closed)<br />
    If you pay within 14 days of receiving the PCN we allow you to pay at a 50% reduction (&pound;65) of the full charge, or </li>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge the PCN with an
    informal representation</a>  in writing within 28 days and wait for our
    decision<strong><br />
    </strong>If you write to us within 14 days of receiving the PCN, we will hold the charge at the discounted rate (&pound;65) while we consider your representation</li>
</ul>
<p>We will write to inform you whether we have:</p>
<ul>
    <li>Accepted your
    informal representation (case closed) or</li>
    <li>Rejected your informal
    representation (stage 2)</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-2---enforcement-notice-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 2 - Enforcement notice"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-2---enforcement-notice-heading" class="accordion-heading">Stage 2 - Enforcement notice</div>
            </div>
            <div id="stage-2---enforcement-notice-content" class="start-hidden" role="region" aria-labelledby="stage-2---enforcement-notice-heading">
<p>If we've rejected your informal representation, you
can now:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 28 days of receiving the letter of rejection (case closed)<br />
    If you wrote to us within 14 days of receiving the PCN, we will allow you a further 14 days to pay at the discounted rate (&pound;65) or</li>
    <li>Wait 28 days to receive an enforcement notice</li>
</ul>
<p>If you do not contact us within 28 days of receiving the PCN, or if you do not pay within 28 days of receiving the letter of rejection against your informal representation, we will issue an enforcement notice (stage 3).</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-3---formal-representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 3 - Formal representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-3---formal-representation-heading" class="accordion-heading">Stage 3 - Formal representation</div>
            </div>
            <div id="stage-3---formal-representation-content" class="start-hidden" role="region" aria-labelledby="stage-3---formal-representation-heading">
<p>You now have two options:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> at the full amount
    (&pound;130) within 28 days of receiving the enforcement notice (case closed) or </li>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge the PCN with a formal representation</a> within 28 days of receiving the enforcement notice</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-4---rejected-representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 4 - Rejected representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-4---rejected-representation-heading" class="accordion-heading">Stage 4 - Rejected representation</div>
            </div>
            <div id="stage-4---rejected-representation-content" class="start-hidden" role="region" aria-labelledby="stage-4---rejected-representation-heading">
<p>We will write to inform you whether we have:</p>
<ul>
    <li>Accepted your representation (case closed) or</li>
    <li>Rejected your representation</li>
</ul>
<p>If we've rejected your representation, you can: </p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> at the full
    amount (&pound;130) within 28 days of receiving the Notice of Rejection (case closed) or</li>
    <li>Use
    the form enclosed with the Notice of Rejection to appeal to an
    independent adjudicator at <a href="http://www.londontribunals.gov.uk">London Tribunals</a></li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-5---charge-certificate--content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 5 - Charge Certificate "><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-5---charge-certificate--heading" class="accordion-heading">Stage 5 - Charge Certificate </div>
            </div>
            <div id="stage-5---charge-certificate--content" class="start-hidden" role="region" aria-labelledby="stage-5---charge-certificate--heading">
<p>If you do not contact us within 28 days of receiving the enforcement notice, or if you do not pay or lodge an appeal within 28 days of receiving the Notice of Rejection, we will issue a Charge Certificate, which increases the penalty charge by a further 50% to &pound;195. </p>
<p>You now have two options:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> at the increased amount (&pound;195) within 14 days of receiving the Charge Certificate (case closed) or</li>
    <li>Wait 14 days to receive an Order for Recovery</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-6---order-for-recovery-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 6 - Order for Recovery"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-6---order-for-recovery-heading" class="accordion-heading">Stage 6 - Order for Recovery</div>
            </div>
            <div id="stage-6---order-for-recovery-content" class="start-hidden" role="region" aria-labelledby="stage-6---order-for-recovery-heading">
<p>If you do not pay the penalty charge after 14 days of us serving the Charge Certificate, we will register the debt at the Traffic Enforcement Centre (TEC) and serve an Order for Recovery. The &pound;7 registration fee will be added to the penalty charge, increasing the amount due to &pound;202.</p>
<p>Your options at this stage are to:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge and registration fee</a> (&pound;202) within 21 days of receiving the Order for Recovery (case closed) or</li>
    <li>If certain grounds apply, you can submit a <a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/statutory-declarations">Statutory Declaration</a> to the TEC asking for the registration of the debt to be  revoked </li>
</ul>
<p>If the TEC accepts the Statutory Declaration they will revoke the registration of the debt and advise us of this. This does not cancel the original penalty charge. We will then decide what
further action to take.</p>
<p>If you do not pay the penalty charge after 21 days of us serving an Order for Recovery, or after 21 days of the TEC rejecting a Statutory Declaration, we will ask the TEC to issue a warrant (stage 7).</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-7---warrant-issued-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 7 - Warrant issued"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-7---warrant-issued-heading" class="accordion-heading">Stage 7 - Warrant issued</div>
            </div>
            <div id="stage-7---warrant-issued-content" class="start-hidden" role="region" aria-labelledby="stage-7---warrant-issued-heading">
<p>If after 21 days of serving an Order for Recovery, we have not received payment or notification of a <a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/statutory-declarations">Statutory Declaration</a>, we will ask the TEC to issue a warrant enabling our Enforcement Agents (bailiffs) to recover the outstanding debt on our behalf. The Enforcement Agent will also add their own fees to the penalty charge.</p>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/bailiffs-enforcement-agents-your-rights.pdf">
    <div class="document-download-text">
        <p>Enforcement agents/bailiffs - Know your rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Yellow box junction &amp; banned turns </h2>
<h3>Notices issued by post (PCN with prefix GT)</h3>
<p>There are five stages in
this enforcement process.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-1---representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 1 - Representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-1---representation-heading" class="accordion-heading">Stage 1 - Representation</div>
            </div>
            <div id="stage-1---representation-content" class="start-hidden" role="region" aria-labelledby="stage-1---representation-heading">
<p>When you receive a PCN, you can:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 28 days of receiving the PCN (case closed)<br />
    If you pay within 14 days of receiving the PCN we allow you to pay at a 50% reduction (&pound;65) of the full charge (case closed) or </li>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge the PCN by making a representation</a> in writing within 28 days of receiving the PCN and await a decision from us. If you write to us within 14 days of receiving the PCN, we will hold the charge at the discounted rate (&pound;65) while we consider your representation</li>
</ul>
<p>We will write to inform you whether we have:</p>
<ul>
    <li>Accepted your representation (case closed) or</li>
    <li>Rejected your representation (stage 2)</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-2---rejected-representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 2 - Rejected representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-2---rejected-representation-heading" class="accordion-heading">Stage 2 - Rejected representation</div>
            </div>
            <div id="stage-2---rejected-representation-content" class="start-hidden" role="region" aria-labelledby="stage-2---rejected-representation-heading">
<p> If we have rejected your representation, you can:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 28 days of receiving the letter of rejection (case closed)<br />
    If you wrote to us within 14 days of receiving the PCN, we will allow you a further 14 days to pay at the discounted rate (&pound;65) or</li>
    <li>Use the form enclosed with our letter of rejection to appeal to an independent adjudicator at <a href="http://www.londontribunals.gov.uk">London Tribunals</a></li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-3---charge-certificate-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 3 - Charge Certificate"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-3---charge-certificate-heading" class="accordion-heading">Stage 3 - Charge Certificate</div>
            </div>
            <div id="stage-3---charge-certificate-content" class="start-hidden" role="region" aria-labelledby="stage-3---charge-certificate-heading">
<p>If you do not contact us within 28 days of receiving the PCN, or if you do not pay or lodge an appeal within 28 days of receiving the Notice of Rejection, we will issue a Charge Certificate, which increases the penalty charge by a further 50% to &pound;195.</p>
<p>You now have two options:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> at the increased amount (&pound;195) within 14 days of receiving the Charge Certificate (case closed) or </li>
    <li>Wait 14 days to receive an Order for Recovery (stage 4) </li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-4---order-for-recovery-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 4 - Order for Recovery"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-4---order-for-recovery-heading" class="accordion-heading">Stage 4 - Order for Recovery</div>
            </div>
            <div id="stage-4---order-for-recovery-content" class="start-hidden" role="region" aria-labelledby="stage-4---order-for-recovery-heading">
<p> If you do not pay the penalty charge after 14 days of us serving the Charge Certificate, we will register the debt at the Traffic Enforcement Centre (TEC) and serve an Order for Recovery.</p>
<p>The &pound;7 registration fee will be added to the penalty charge, increasing the amount due to &pound;202.</p>
<p>Your options at this stage:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 21 days of receiving the Order for Recovery (&pound;202 - case closed) or </li>
    <li>If certain grounds apply, you can submit a <a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/statutory-declarations">Statutory Declaration</a> to the TEC asking for the registration of the debt to be revoked</li>
</ul>
<p>If the TEC accepts the Statutory Declaration they will revoke the registration of the debt and advise us of this. This does not cancel the original penalty charge. We will then decide what further action to take.</p>
<p>If you do not pay the penalty charge after 21 days of us serving an Order for Recovery, or after 21 days of the TEC rejecting a Statutory Declaration, we will ask the TEC to issue a warrant (stage 5).</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-5---warrant-issued-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 5 - Warrant issued"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-5---warrant-issued-heading" class="accordion-heading">Stage 5 - Warrant issued</div>
            </div>
            <div id="stage-5---warrant-issued-content" class="start-hidden" role="region" aria-labelledby="stage-5---warrant-issued-heading">
<p>If after 21 days of serving a Order for Recovery, we have not received payment or notification of a <a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/statutory-declarations">Statutory Declaration</a>, we will ask the TEC to issue a warrant instructing our Enforcement Agent (bailiffs) to recover the outstanding debt on our behalf. The Enforcement Agent will also add their own fees to the penalty charge.</p>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/bailiffs-enforcement-agents-your-rights.pdf">
    <div class="document-download-text">
        <p>Enforcement agents/bailiffs - Know your rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Parking (issued on street)</h2>
<h3>Notices issued on street by enforcement officers (PCN with prefix GF) </h3>
<p>There are seven stages in
this enforcement process.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-1---informal-representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 1 - Informal representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-1---informal-representation-heading" class="accordion-heading">Stage 1 - Informal representation</div>
            </div>
            <div id="stage-1---informal-representation-content" class="start-hidden" role="region" aria-labelledby="stage-1---informal-representation-heading">
<p> When you receive a Penalty Charge Notice (PCN), you can:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 28 days of receiving the PCN (case closed)<br />
    If you pay within 14 days of receiving the PCN&nbsp; we will allow you to pay at a 50% reduction (&pound;65) of the full charge (case closed) or</li>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a PCN by making an informal representation</a> in writing within 14 days and await a decision from us<br />
    If you write to us within 14 days of receiving the PCN, we will hold the charge at the discounted rate (&pound;65) while we consider your representation</li>
</ul>
<p>We will write to inform you whether we have:</p>
<ul>
    <li>Accepted your informal representation (case closed) or</li>
    <li>Rejected your informal representation (stage 2)</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-2---rejected-informal-representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 2 - Rejected informal representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-2---rejected-informal-representation-heading" class="accordion-heading">Stage 2 - Rejected informal representation</div>
            </div>
            <div id="stage-2---rejected-informal-representation-content" class="start-hidden" role="region" aria-labelledby="stage-2---rejected-informal-representation-heading">
<p>If we've rejected your informal representation, you can now:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 28 days of receiving the letter of rejection (case closed)<br />
    If you wrote to us within 14 days of receiving the PCN, we will allow you a further 14 days to pay at the discounted rate (&pound;65) </li>
    <li>Wait 28 days to receive a Notice to Owner (NtO) (stage 3)</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-3---notice-to-owner-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 3 - Notice to Owner"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-3---notice-to-owner-heading" class="accordion-heading">Stage 3 - Notice to Owner</div>
            </div>
            <div id="stage-3---notice-to-owner-content" class="start-hidden" role="region" aria-labelledby="stage-3---notice-to-owner-heading">
<p>If you do not contact us within 28 days of receiving the PCN, or if you do not pay within 28 days of receiving the letter of rejection against your informal representation, we will issue a Notice to Owner. </p>
<p>You now have two options:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> at the full amount (&pound;130) within 28 days of receiving the Notice to Owner (case closed) or</li>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge the PCN by making a formal representation</a> against the penalty charge within 28 days of receiving the Notice to Owner. </li>
</ul>
<p>We will write to inform you whether we have:</p>
<ul>
    <li>Accepted your representation (case closed) or</li>
    <li>Rejected your representation (stage 4) </li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-4---formal-representation-rejected-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 4 - Formal representation rejected"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-4---formal-representation-rejected-heading" class="accordion-heading">Stage 4 - Formal representation rejected</div>
            </div>
            <div id="stage-4---formal-representation-rejected-content" class="start-hidden" role="region" aria-labelledby="stage-4---formal-representation-rejected-heading">
<p>We will inform the registered owner in writing that the representation has been rejected.</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> at the full amount (&pound;130) within 28 days of receiving the Notice of Rejection (case closed) or</li>
    <li>Use the form enclosed with the Notice of Rejection to appeal to an
    independent adjudicator at <a href="http://www.londontribunals.gov.uk">London Tribunals</a></li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-5---charge-certificate-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 5 - Charge Certificate"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-5---charge-certificate-heading" class="accordion-heading">Stage 5 - Charge Certificate</div>
            </div>
            <div id="stage-5---charge-certificate-content" class="start-hidden" role="region" aria-labelledby="stage-5---charge-certificate-heading">
<p>If you do not contact us within 28 days of receiving the Notice to Owner, or if you do not pay or lodge an appeal within 28 days of receiving the Notice of Rejection, we will issue a Charge Certificate, which increases the penalty charge by 50% to &pound;195.</p>

<p>You now have two options:</p>

<ul>
	<li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> at the increased amount (&pound;195) within 14 days of receiving the Charge Certificate (case closed) or</li>
	<li>Wait 14 days to receive an Order for Recovery (stage 6)</li>
</ul>

<p>A Charge Certificate will be issued to the registered owner of the vehicle and a 50% surcharge will be added to the penalty charge (&pound;195).</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-6---order-for-recovery-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 6 - Order for Recovery"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-6---order-for-recovery-heading" class="accordion-heading">Stage 6 - Order for Recovery</div>
            </div>
            <div id="stage-6---order-for-recovery-content" class="start-hidden" role="region" aria-labelledby="stage-6---order-for-recovery-heading">
<p>If you do not pay the penalty charge after 14 days of us serving the Charge Certificate, we will register the debt at the Traffic Enforcement Centre (TEC) and serve an Order for Recovery. The &pound;7 registration fee will be added to the penalty charge, increasing the amount due to &pound;202.</p>
<p>Your options at this stage are to:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> and registration fee (&pound;202) within 21 days of receiving the Order for Recovery (case closed) or</li>
    <li>If certain grounds apply, you can submit a <a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/witness-statement">witness statement</a> to the TEC asking for the registration
    of the debt to be revoked</li>
</ul>
<p>If the TEC accepts the witness statement they will revoke the registration of the debt and advise us of this. This does not cancel the original penalty charge. We will then decide what further action to take. </p>
<p>If you do not pay the penalty charge after 21 days of us serving an Order for Recovery, or after 21 days of the TEC rejecting a witness statement, we will ask the TEC to issue a warrant (stage 7).</p>
<ul>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-7---warrant-issued-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 7 - Warrant issued"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-7---warrant-issued-heading" class="accordion-heading">Stage 7 - Warrant issued</div>
            </div>
            <div id="stage-7---warrant-issued-content" class="start-hidden" role="region" aria-labelledby="stage-7---warrant-issued-heading">
<p>If, after 21 days of us serving an Order for Recovery, we have not received payment or notification of a <a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/witness-statement">witness statement</a>, we will ask the TEC to issue a warrant enabling our Enforcement Agents (bailiffs) to recover the outstanding debt on our behalf. The Enforcement Agent will add their own fees to the penalty charge.</p>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/bailiffs-enforcement-agents-your-rights.pdf">
    <div class="document-download-text">
        <p>Enforcement agents/bailiffs - Know your rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Parking (issued by post) </h2>
<h3>CCTV, notices issued by post (PCN with prefix GF)</h3>
<p>There are five stages in
this enforcement process.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-1---representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 1 - Representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-1---representation-heading" class="accordion-heading">Stage 1 - Representation</div>
            </div>
            <div id="stage-1---representation-content" class="start-hidden" role="region" aria-labelledby="stage-1---representation-heading">
<p>When you receive a Penalty Charge Notice (PCN), you can:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 28 days of receiving the PCN (case closed)<br />
    If you pay within 21 days or receiving the PCN we allow you to pay at a 50% reduction (&pound;65) of the full charge (case closed) or </li>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a PCN by making a representation</a> in writing within 28 days of receiving the PCN and await decision from us <br />
    If you write to us within 21 days of receiving the PCN, we will hold the charge at the discounted rate (&pound;65) while we consider your representation. </li>
</ul>
<p>We will write to inform you whether we have:</p>
<ul>
    <li>Accepted your representation (case closed) or </li>
    <li>Rejected your representation (stage 2) </li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-2---rejected-representation-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 2 - Rejected representation"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-2---rejected-representation-heading" class="accordion-heading">Stage 2 - Rejected representation</div>
            </div>
            <div id="stage-2---rejected-representation-content" class="start-hidden" role="region" aria-labelledby="stage-2---rejected-representation-heading">
<p>If we've rejected your representation, you can now:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 28 days of receiving the letter of rejection (case closed)<br />
    If you wrote to us within 21 days of receiving the PCN, we will allow you a further 21 days to pay at the discounted rate (&pound;65) or</li>
    <li>Use the form enclosed with your letter of rejection to appeal to an independent adjudicator at <a href="http://www.londontribunals.gov.uk">London Tribunals</a> </li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-3---charge-certificate-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 3 - Charge Certificate"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-3---charge-certificate-heading" class="accordion-heading">Stage 3 - Charge Certificate</div>
            </div>
            <div id="stage-3---charge-certificate-content" class="start-hidden" role="region" aria-labelledby="stage-3---charge-certificate-heading">
<p>If, after 28 days of us serving the letter of rejection, we have not received payment of the penalty charge or been notified by London Tribunals of an appeal, we will issue a Charge Certificate which will add a 50% surcharge to the penalty charge (&pound;195).</p>
<p>You now have two options:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> at the increased amount (&pound;195) within 14 days of receiving the Charge (case closed) or</li>
    <li>Wait 14 days to receive an Order for Recovery (stage 4)</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-4---order-for-recovery-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 4 - Order for Recovery"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-4---order-for-recovery-heading" class="accordion-heading">Stage 4 - Order for Recovery</div>
            </div>
            <div id="stage-4---order-for-recovery-content" class="start-hidden" role="region" aria-labelledby="stage-4---order-for-recovery-heading">
<p>If, after 14 days of us serving the Charge Certificate, we have not received payment of the increased penalty charge, we will register the debt at the Traffic Enforcement Centre (TEC) and serve an Order for Recovery. A &pound;7 registration fee will be added to the penalty charge (&pound;202).</p>
<p>Your options at this stage are to:</p>
<ul>
    <li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay the penalty charge</a> within 21 days of receiving the order for recovery (&pound;202) (case closed) or</li>
    <li>If certain grounds apply, you can submit a <a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/witness-statement">witness statement</a> to the TEC asking for the registration
    of the debt to be revoked </li>
</ul>
<p>If the TEC accepts the witness statement they
will revoke the registration of the debt and advise us of this. This does not cancel the original penalty charge. We will then decide what
further action to take.</p>
<p>If you do not pay the penalty charge after 21 days of us serving an Order for Recovery, or after 21 days of the TEC rejecting a witness statement, we will ask the TEC to issue a warrant (stage 5).</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-5---warrant-issued-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-Stage 5 - Warrant issued"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-5---warrant-issued-heading" class="accordion-heading">Stage 5 - Warrant issued</div>
            </div>
            <div id="stage-5---warrant-issued-content" class="start-hidden" role="region" aria-labelledby="stage-5---warrant-issued-heading">
<p>If, after 21 days of us serving an Order for Recovery, we have not received notification of <a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/witness-statement">witness statement</a>, we will ask the TEC to issue a warrant enabling an Enforcement Agent to recover the outstanding debt on our behalf. The Enforcement Agent will also add their own fees to the penalty charge.</p>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/bailiffs-enforcement-agents-your-rights.pdf">
    <div class="document-download-text">
        <p>Enforcement agents/bailiffs - Know your rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay a Penalty Charge Notice</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge Notice</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-process">Enforcement process</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-agent-and-bailiffs">Enforcement agent & bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/local-authority-pcns">Local Authority PCNs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "How we enforce the different categories of Penalty Charge Notice (PCN)";}
        
            
        


 