
    
  



@{ViewBag.Title = "Enforcement agent & bailiffs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/penalty-charge-notices/enforcement-agent-and-bailiffs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></li>
                
            
                
                <li><span class="last-breadcrumb">Enforcement agent & bailiffs</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Enforcement agent & bailiffs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If the penalty charge has not been paid within 21 days of the Order for Recovery being served then we will request a Warrant of Control. This will be passed to an enforcement agent to recover the outstanding debt.<BR></p>
        
      </div>
    
    <div class="on-this-page">
      <p>You will not be sent a copy of the Warrant, but you may request a copy directly from the enforcement agent or their office.</p>

<p>Once a case has been passed to an enforcement agent, they will start commence enforcement activity - this is known as the compliance stage. At this point you will receive an Enforcement Notice detailing the name and address on the warrant and how much money you owe.</p>

<p>If you ignore this initial notice, an enforcement agent may visit your property to collect the outstanding debt, plus any enforcement fees.</p>

<p>If you need to know more about enforcement agents and your rights, see the document below - 'Enforcement agents and bailiffs - Know your rights'.</p>

<p>All enforcement agents acting on our behalf are certified in a County Court and operate in accordance with governing legislation and our contractual requirements.</p>

<h4 abp="209">Equita Limited</h4>

<p abp="210"><strong abp="211">Email: </strong><a abp="212" href="mailto:info&#64;equita.co.uk">info&#64;equita.co.uk</a><br abp="213" />
<strong abp="214">Phone:</strong> 01604 628 360<br abp="217" />
<strong abp="218">Address:</strong><br abp="219" />
42-44 Henry Street<br abp="220" />
Northampton NN1 4BZ</p>

<h4 abp="221">JBW Group</h4>

<p abp="222"><strong abp="223">Email: </strong><a abp="224" href="mailto:customercare&#64;jbw.co.uk">customercare&#64;jbwgroup.co.uk</a><br abp="225" />
<strong abp="226">Phone:</strong> 0330 1070 024<br abp="229" />
<strong abp="230">Address:</strong><br abp="231" />
9th Floor, Peninsular House, Monument Street<br abp="232" />
London EC3R 8LJ</p>

<h4 abp="233">Marston Group Ltd</h4>

<p abp="234"><strong abp="235">Email: </strong><a abp="236" href="mailto:customercare&#64;marstongroup.co.uk">customercare&#64;marstongroup.co.uk</a><br abp="237" />
<strong abp="238">Phone:</strong> 0845 074 3749<br abp="241" />
<strong abp="242">Address:</strong><br abp="243" />
148 Edmund St<br abp="244" />
Birmingham B3 2JR</p>

<h4 abp="245">TASK Enforcement Ltd</h4>

<p abp="246"><strong abp="247">Email: </strong><a abp="248" href="mailto:service&#64;taskenforcement.co.uk">service&#64;taskenforcement.co.uk</a><br abp="249" />
<strong abp="250">Phone: </strong>0333 320 1100<br abp="253" />
<strong abp="254">Address:</strong><br abp="255" />
PO BOX 12019,<br />
Epping CM16 9EB</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/bailiffs-enforcement-agents-your-rights.pdf">
    <div class="document-download-text">
        <p>Enforcement agents and bailiffs - know your rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay a Penalty Charge Notice</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge Notice</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-process">Enforcement process</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-agent-and-bailiffs">Enforcement agent & bailiffs</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/local-authority-pcns">Local Authority PCNs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "A list of enforcement agencies we work with, and what your rights are";}
        
            
        


 