
    
  



@{ViewBag.Title = "Challenge a Penalty Charge Notice";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/penalty-charge-notices/make-a-representation";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></li>
                
            
                
                <li><span class="last-breadcrumb">Challenge a Penalty Charge Notice</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Challenge a Penalty Charge Notice</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>The Penalty Charge Notice (PCN) will include information about making a representation (challenging the PCN) and how long you've got to do it.</p>
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div>

<p><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/grounds-for-making-a-representation">See on which grounds you can make a representation</a>.</p>
<p>If you think the PCN has been issued incorrectly, you can challenge it by making a representation online or in writing.</p>
<h2>Online service</h2>
<p>To make a representation online, you will need to provide:</p>
<ul>
    <li>Your PCN number</li>
    <li>Your Vehicle Registration Mark</li>
    <li>Reasons why you think you should not have been issued with a PCN</li>
</ul>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/challenge-a-pcn" class="secondary-button no-hover"   title="Make a representation form">Challenge a PCN</a>

    </div>
</div> 
 
</div>
 <div>

<h2>In writing</h2>

<p>To make a representation in writing, complete the representation section provided as part of the PCN:</p>

<ul>
	<li>If it applies, indicate on which ground you want to make the representation</li>
	<li>Add any details in the space provided (if you need more space attach a separate sheet with the PCN number written on each extra sheet)</li>
	<li>Enclose any supporting evidence</li>
	<li>Sign and date the representation</li>
</ul>

<p>Send the representation to:</p>

<p>Red routes<br />
PO Box 335<br />
Darlington DL1 9PU</p>

<p>You may also choose to call us.</p>

<p><strong>Phone: </strong>0343 222 3333 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
Lines are open 08:00-20:00 Monday to Friday, closed on weekends and bank holidays.</p>

<h2>The registered keeper</h2>

<p>The PCN is normally sent to the registered keeper of the vehicle as recorded by the Driver and Vehicle Licensing Agency (DVLA).</p>

<p>PCNs may also be issued to the nominated hirer/lessee of the vehicle if a valid hire agreement is provided by the registered keeper.</p>

<p>The person or organisation named on the PCN must make the representation, even if they were not the driver.</p>

<ul>
	<li>The registered keeper can make a representation on behalf of a third party</li>
	<li>However, we will NOT consider a representation from a third party unless the registered keeper provides us with written authorisation. So if the PCN has been passed to you by the registered keeper and you wish to challenge the PCN, get them to write in on your behalf or provide you with written authorisation to include with your representation</li>
	<li>We will always advise the registered keeper of the outcome of any investigation</li>
	<li>If the registered keeper is a company and you are making a representation on behalf of the company, indicate your position and authorisation within the company when making your representation</li>
</ul>

<h2>Timing your representation</h2>

<p>Follow the instructions on the PCN. Our summary of the timescales involved may help you:</p>

<p><strong>For bus lanes, box junctions, banned turns and parking (CCTV) PCNs</strong><br />
Within 28 days of receiving your PCN.</p>

<p>If you make a representation outside of the 28-day PCN service period, it will be considered as 'late' and we do not have to consider late representations. If your representation is late,&nbsp; make sure that you provide evidence to outline why your representation is late.</p>

<p>Forgetting to make a representation is not a valid reason but if you were prevented from making the representation due to illness or a holiday then enclose proof of these circumstances and it may be considered.</p>

<p><strong>For parking, if you were issued with a PCN on-street</strong><br />
You may make a representation for this type of contravention (also referred to as a challenge) immediately upon receiving the PCN. If we do not hear from you within 28 days of the PCN being issued, we will send you a Notice to Owner (NtO) in the post. This will provide details of how you may then make a formal representation and the timescales involved.</p>

<p><strong>If you believe you were issued with an on-street PCN but are not in possession of it, you may still contact us but please provide as much information as possible when doing so.</strong></p>

<p>If we receive your representation within the discount period the PCN will be suspended. If we don't agree with your representation and you decide to pay the PCN, then the discount period will resume from the point at which it was suspended.</p>

<p><strong>If we accept your representation</strong>, we will send you written confirmation that you are no longer liable for the PCN.</p>

<p><strong>If we reject your representation</strong>, we will send you a notice of rejection which will tell you what you should do next. Your two options will be:</p>

<ul>
	<li><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay a PCN now</a></li>
	<li>Appeal to <a href="http://www.londontribunals.gov.uk">London Tribunals</a></li>
</ul>

<p><strong>If we need more evidence,</strong> we will try to contact you in writing to let you know what we need.</p>

<p><strong>If you haven't paid, contacted us or if you haven't responded to the notice of rejection then you'll receive a charge certificate</strong>. The charge associated with the PCN then increases to &pound;195.</p>

<p><strong>If you don't pay within another 14 days, we'll send you an Order for Recovery which further increases the charge.</strong></p>

<h2>Making an appeal to London Tribunals</h2>

<p>You can lodge an appeal with London Tribunals within 28 days of receiving a notice of rejection from us.</p>

<p>Complete the form that comes with the notice of rejection. Provide all the evidence you feel will support your case and send this directly to London Tribunals:</p>

<p>London Tribunals<br />
PO Box 10598<br />
Nottingham<br />
NG6 6DR</p>

<p>London Tribunals will notify you and us of the hearing date. We will also receive a copy of your appeal. It is then our responsibility to either contest your appeal or decide not to contest it.</p>

<p>If we contest your appeal we will provide you a copy of our evidence and submission we send to the adjudicators. They will consider this and your evidence when reaching their decision.</p>

<p>If an Adjudicator at London Tribunals allows your appeal, we will promptly cancel the PCN. If your appeal is not allowed and you do not pay, we will continue to enforce. You will normally receive a charge certificate as a result.</p>

<h2>Order for recovery</h2>

<p>The order for recovery increases the charge by &pound;8 to &pound;203 (this covers the cost of registering the debt with the county court) and it also includes a statutory declaration/witness statement. Follow the guidance which is enclosed when you receive the statutory declaration/witness statement as this will explain what it is and the circumstances which apply to its use.</p>

<p>You have up to 21 days to respond to the order for recovery which is your last opportunity to either pay or file a statutory declaration/witness statement. If you do nothing at this point a warrant will be issued to bailiffs to recover the outstanding amount.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay a Penalty Charge Notice</a></div></li>
                            
 
                                        <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge Notice</a></div>
                                        <ul>
                                            
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/how-to-appeal">How to appeal</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/grounds-for-making-a-representation">Grounds for making a representation</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/statutory-declarations">Statutory Declarations</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/making-a-representation/witness-statement">Witness statements</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-process">Enforcement process</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-agent-and-bailiffs">Enforcement agent & bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/local-authority-pcns">Local Authority PCNs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Red routes</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 3333<br />
                
                
                
                
                
                
            </p>
            <p>08:00-20:00 Monday to Friday, closed on weekends and bank holidays (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            
            
            <p>
                
                Transport for London <br />
                PO Box 335<br />
                Darlington DL1 9PU<br />
                
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/modes/driving/red-routes/contact-red-routes" class="plain-button">Contact red routes</a>
        </div>
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "When and how you can make a representation (challenge a PCN)";}
        
            
        


 