
    
  
    
<a class="broadcast-comms" href="/modes/driving/index">
    <div class="r">
        <div class="broadcast-text">
            <h2>Payment services unavailable</h2>
            We are currently investigating the issue. Please try later
        </div>
    </div>
</a>
 
  



@{ViewBag.Title = "Pay a Penalty Charge Notice";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></li>
                
            
                
                <li><span class="last-breadcrumb">Pay a Penalty Charge Notice</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pay a Penalty Charge Notice</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If your vehicle is involved in a contravention on the red route, you'll be sent a Penalty Charge Notice (PCN) for &pound;130. You need to pay this within 28 days.</p>
        
      </div>
    
    
      <p>If you pay this within 14 or 21 days (it will say on the PCN), the amount will be reduced to &pound;65.</p>

<h2>What you need</h2>

<ul>
	<li>PCN number</li>
	<li>Number plate (Vehicle Registration Mark)</li>
	<li>Credit or debit card details</li>
</ul>

<p>If instead of paying you want to dispute the charge, find out how to make a representation to <a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">challenge the PCN</a>.</p>
      
           
      <div>

<h2>Pay online</h2>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-a-pcn" class="secondary-button no-hover" >Pay a penalty</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Pay by phone</h2>

<p><strong>Phone: </strong>0343 222 3333 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
Lines are open 08:00-20:00 Monday to Friday, closed weekends and bank holidays.</p>

<h2>Pay by post</h2>

<p>Red routes<br />
PO Box 335<br />
Darlington DL1 9PU</p>

<h2>Paying late</h2>

<p>You get a 50% discount if you pay within 14 or 21 days (it will say on the PCN).</p>

<h2>Other PCNs</h2>

<p>If your PCN has been issued by a Local Authority, please <a href="/modes/driving/red-routes/penalty-charge-notices/local-authority-pcns">contact them directly</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/pay-a-pcn">Pay a Penalty Charge Notice</a></div>
                                    </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge Notice</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-process">Enforcement process</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/enforcement-agent-and-bailiffs">Enforcement agent & bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices/local-authority-pcns">Local Authority PCNs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "You can pay a Penalty Charge Notice (PCN) either online, by phone or post";}
        
            
        


 