
    
  



@{ViewBag.Title = "Victoria Coach Station facilities";}
@{ViewBag.Keywords = "Public,Visitors,Buses,London Overground,Rail,Taxis and minicabs,Tube,TfL";}
@{ViewBag.Url = "/modes/coaches/victoria-coach-station-facilities";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/coaches/index">Coaches</a></li>
                
            
            
                <li><span class="last-breadcrumb">Victoria Coach Station facilities</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Victoria Coach Station facilities</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Most of Victoria Coach Station's amenities are in the main departures area. Open the panels below to find out about shops, checking in, toilets and more.
        
      </div>
    
    
      
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="left-luggage-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Victoria Coach Station facilities-Left luggage"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="left-luggage-heading" class="accordion-heading">Left luggage</div>
            </div>
            <div id="left-luggage-content" class="start-hidden" role="region" aria-labelledby="left-luggage-heading">
<h2>Opening hours</h2>

<p>The left luggage office is open daily between 08:30-22:00.</p>

<h2>Security notice</h2>

<p>All items of left luggage will be examined using detection equipment, so you may be asked to open your bag for physical inspection. If you refuse, your luggage will not be accepted and the police will be notified.</p>

<h2>Left luggage tariffs</h2>

<p>These charges are per item:</p>

<div class="table-container"><table>
	<thead>
		<tr>
			<th scope="col">&nbsp;Time</th>
			<th scope="col">Rate&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>0-3 hours</strong></td>
			<td>&nbsp;&pound;5.00</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;<strong>3-6 hours</strong></td>
			<td>&nbsp;&pound;7.50</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>&nbsp;6-24 hours</strong></td>
			<td>&nbsp;&pound;10.00</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table></div>

<p>An additional charge of &pound;6 will be made for each 24 hour period.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="toilets-and-baby-change-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Victoria Coach Station facilities-Toilets and baby change"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="toilets-and-baby-change-heading" class="accordion-heading">Toilets and baby change</div>
            </div>
            <div id="toilets-and-baby-change-content" class="start-hidden" role="region" aria-labelledby="toilets-and-baby-change-heading">
<p>Toilets can be found:</p>
<ul>
    <li>By Gate 2 in Departures (via stairs to basement level)</li>
    <li>By Gate 12 in Departures (at ground level)</li>
    <li>In Arrivals (unisex toilets, at ground level)</li>
</ul>
<h2>Accessible toilets</h2>
<p>Easy-access toilets for people with impaired mobility can be found:</p>
<ul>
    <li>In Arrivals</li>
    <li>Inside the Mobility Lounge, opposite Gate 0 in Departures</li>
</ul>
<p>If you don't carry a Royal Association for Disability and Rehabilitation (Radar) key, please ask the attendant in Arrivals or inside the Mobility Lounge.</p>
<h2>Baby changing rooms</h2>
<p>Baby changing rooms, for both mums and dads, are located next to the toilets in Arrivals and next to the toilets by gates 2 and 12 in Departures.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="refreshments-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Victoria Coach Station facilities-Refreshments"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="refreshments-heading" class="accordion-heading">Refreshments</div>
            </div>
            <div id="refreshments-content" class="start-hidden" role="region" aria-labelledby="refreshments-heading">
<p>Refreshment facilities are available throughout Departures and Arrivals terminals. Shops include:
</p>
<ul>
    <li>City Kiosk - in Arrivals </li>
    <li>Il Corriere - in Arrivals</li>
    <li>Greggs - opposite Gate 1</li>
    <li>Pret A Manger - opposite Gates 3 and 4</li>
    <li>Treats - by Gate 12 </li>
    <li>Whistlestop - main entrance and opposite Gate 13</li>
    <li>Treats Canteen - opposite Gate 17 (upstairs)</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="luggage-porters-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Victoria Coach Station facilities-Luggage porters"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="luggage-porters-heading" class="accordion-heading">Luggage porters</div>
            </div>
            <div id="luggage-porters-content" class="start-hidden" role="region" aria-labelledby="luggage-porters-heading">
<p>If you are arriving at Victoria Coach Station (VCS) by coach, porters will be available in Arrivals. Our porters can help you get to:</p>
<ul>
    <li>Departures</li>
    <li>Victoria rail and Underground stations</li>
    <li>The Green Line coach terminal</li>
</ul>
<p>If you are departing from VCS by coach and require the assistance of a porter, either speak to a uniformed member of staff or visit the Mobility Lounge by Gate 0 in Departures.</p>
<p>All licensed luggage porters at the station are self-employed and rely on your generosity for their income. A payment for their services will be expected.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="pay-phones-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Victoria Coach Station facilities-Pay phones"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="pay-phones-heading" class="accordion-heading">Pay phones</div>
            </div>
            <div id="pay-phones-content" class="start-hidden" role="region" aria-labelledby="pay-phones-heading">

         
        <p>There are a number public payphones located in Departures and Arrivals. There is also a MiniCom-enabled payphone next to the information desk in the main entrance of Departures.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="money-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Victoria Coach Station facilities-Money"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="money-heading" class="accordion-heading">Money</div>
            </div>
            <div id="money-content" class="start-hidden" role="region" aria-labelledby="money-heading">
<h2>Bureaux de change</h2>
<p>
Bureaux de change are located in Arrivals and inside the main entrance in Departures.</p>
<h2>Cash machines</h2>
<p>
Cash machines are located inside the main entrance to Departures and in the Arrivals terminal.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="checking-in-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Victoria Coach Station facilities-Checking in"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="checking-in-heading" class="accordion-heading">Checking in</div>
            </div>
            <div id="checking-in-content" class="start-hidden" role="region" aria-labelledby="checking-in-heading">
<p>Passengers travelling within the UK are advised to arrive at least 30 minutes before their bus is due to leave. This allows time to check the monitors for gate information.</p>
<h2>Travelling to the continent</h2>
<p>If you are travelling to Ireland or Continental Europe, please arrive one hour before you're due to leave, and check the monitors for gate information. You may be required to check in before departure.</p>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/coaches/index" class="heading">
                    <h2 id="sub-menu-heading">Coaches<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/coaches/victoria-coach-station">Victoria Coach Station</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/coaches/victoria-coach-station-facilities">Victoria Coach Station facilities</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/coaches/coach-companies">Coach companies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/coaches/mobility-assistance">Mobility assistance</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/coaches" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/coaches" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Most of Victoria Coach Station's amenities are located in the main Departures area. Open the panels below to find out more about shops, checking in, toilets and more. ";}
        
            
        


 