
    
  



@{ViewBag.Title = "Victoria Coach Station";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/coaches/victoria-coach-station";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/coaches/index">Coaches</a></li>
                
            
            
                <li><span class="last-breadcrumb">Victoria Coach Station</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Victoria Coach Station</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Using Victoria Coach Station can make your journeys to and from London a lot easier. With good transport links to mainline rail, Underground and bus services, it offers a range of express and commuter services, day tours, coach holidays and private hire. 
        
      </div>
    
    <div class="on-this-page">
      <h2>Booking information
</h2>
<h3>Ticket Hall
</h3>
<p>The ticket office is open daily from 08:30 to 19:30.</p>
<p>Tickets for most coach companies can be purchased from the Ticket Hall at Victoria Coach Station. Please allow at least one hour before your coach is scheduled to depart.</p>
<p>We also top up and sell Oyster cards which can be used on bus, Tube, tram, DLR, London Overground, TfL Rail, Emirates Air Line, River Bus services and most National Rail services in London. Please note that Oyster card refunds cannot be processed at the Coach Station.</p>
<p>
If you are travelling on an overnight service, please arrive 20 minutes
before your coach is scheduled to depart.</p>
<h2>Timetables</h2>
<p>
For timetable information, contact the coach company running the service you want to use.
</p>
<p><a href="/modes/coaches/coach-companies">Find a coach company</a>.
</p>
      
           
      
<div>



<h2>By foot or cycle</h2>



<div class="multi-document-download-container">
    

        <p>Victoria Coach Station is located at: 164 Buckingham Palace Road, SW1W 9TP.&nbsp; &nbsp;</p>
    
<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/victoriacoach-by-foot.pdf">
    <div class="document-download-text">
        <p>By foot or cycle</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 854KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 
</div>

</div>
 
<div>



<h2>By bus</h2>


<p>Bus numbers 11, 44, 170, 211, C1, C10, N11 and N44 stop outside the Coach Station.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/victoria-2277-by-bus.pdf">
    <div class="document-download-text">
        <p>By bus</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
<div>



<h2>By Tube</h2>



<div class="multi-document-download-container">
    

        <p>Victoria station is served by the Victoria line, District line and Circle line, and is a 300 metre walk from Victoria Coach Station.&nbsp;</p>
    
<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/standard-tube-map.pdf">
    <div class="document-download-text">
        <p>By Tube</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 617KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 
</div>

</div>
 
<div>



<h2>By rail</h2>



<div class="multi-document-download-container">
    

        <p>Victoria rail station is a 300 metre walk from the Victoria Coach Station.&nbsp; &nbsp;</p>
    
<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-rail-and-tube-services-map.pdf">
    <div class="document-download-text">
        <p>By Rail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 333KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 
</div>

</div>
 <div>


        <h2>By taxi or minicab</h2>
        <p>A taxi rank is outside the Coach Station on Eccleston Place.</p>
    
</div>
 <div>


        <h2>By car</h2>
        <p>There is a NCP car park on Semley Place next to the Coach Station. Parking meters are also available in nearby streets.&nbsp; </p>
    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/coaches/index" class="heading">
                    <h2 id="sub-menu-heading">Coaches<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/modes/coaches/victoria-coach-station">Victoria Coach Station</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/coaches/victoria-coach-station-facilities">Victoria Coach Station facilities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/coaches/coach-companies">Coach companies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/coaches/mobility-assistance">Mobility assistance</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/coaches" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/coaches" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Booking information and directions to Victoria Coach Station";}
        
            
        


 