
    
  



@{ViewBag.Title = "Joining and leaving the fund";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/your-pension/joining-and-leaving-the-fund";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/your-pension">Your pension</a></li>
                
            
            
                <li><span class="last-breadcrumb">Joining and leaving the fund</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Joining and leaving the fund</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Information on joining and leaving the TfL Pension Fund.<BR>
        
      </div>
    
    <div class="on-this-page">
      <h2>Joining the fund</h2>
<p>If you are a new employee and are eligible you will be included automatically as a member of the Fund as soon as you begin work, unless your contract of employment states otherwise. Membership is not compulsory and you can opt out if you wish.</p>
<h3>Eligibility</h3>
<p>You will be included in the Fund when you start your job with a participating employer, as long as:</p>
<ul>
    <li>You are a full- or part-time new employee of a participating employer who allows new entrants</li>
    <li>Your employer agrees</li>
    <li>You are not aged 75 or over </li>
</ul>
<p>You are not required to be a member of the Fund. If you would like to opt out of membership, you will need to complete an opting out form, giving us at least one month's notice, but you should consider the benefits that you are giving up before opting out.</p>
<p>If, after opting out, you want to rejoin the Fund, you may by giving notice in writing to the Fund Office. However, your eligibility to certain Fund benefits may require the consent of the Trustee and Participating Employer, for which they may require you to provide evidence as to your state of health.</p>
<h2>Opting out </h2>
<p>You can opt out of the Fund if you give us at least one month's notice. You will need to complete an opting out form.</p>
<h3>Think carefully</h3>
<p>Please consider the benefits you will be giving up very carefully before you decide to opt out, especially if you have dependants. You may want to take independent financial advice before making a decision.</p>
<p>If you do decide to opt out you will need to consider alternative arrangements for your retirement. You will automatically be included in the State Second Pension (S2P), but you can also set up an individual arrangement such as a personal or stakeholder pension with an insurance company.</p>
<p>Your employer will not make contributions towards these pensions.</p>
<h3>Entitlements</h3>
<p>If you decide to opt out you will be entitled to the same benefits from the Fund as if you had left employment on the date you opted out. You will receive your pension benefits once you retire.</p>
<h3>Rejoining</h3>
<p>You may want to rejoin the Fund at a later date but will only be able to do so if:</p>
<ul>
    <li>Your employer and the Trustees agree</li>
    <li>You are in good health (we may require evidence)</li>
</ul>
<h2>Leaving service</h2>
<p>If you stop working for your employer, you are still entitled to any pension benefits you have built up as a contributing member.</p>
<h3>Types of benefit on leaving</h3>
<p>The type of benefit you receive depends on how long your pensionable service is and how old you are.</p>
<h3>Less than two years</h3>
<p>If your pensionable service is less than two years when you leave, you are entitled to a refund of your contributions.</p>
<p>If your pensionable service is at least three months, you may, as an alternative, choose to retain a deferred pension under the Fund or transfer the value of your pension to another approved pension arrangement.</p>
<h3>More than two years</h3>
<p>If your pensionable service is more than two years and you are under age 60 when you leave, you are entitled to a deferred pension or a transfer of the value of your pension to another approved pension arrangement.</p>
<h3>Age 50 or over</h3>
<p>If you are over age 50 and your pensionable service is more than three months, you might be able to take a reduced pension for early retirement.</p>
<h3>Deferred pensions</h3>
<p>If you are no longer employed by one of the participating employers but have chosen to leave your benefits in the Fund, your pension is known as a deferred pension.</p>
<p>The amount you will be paid every year is calculated as 1/60 x pensionable service x pensionable salary</p>
<p>For existing members there is a deduction of &pound;10.10 a year for pensionable service from 1 October 1993.</p>
<p>You usually take your pension at age 60 but you might be able to take a reduced one from age 50. There is more information about this in our Retirement section.</p>
<p>You will need to ensure that you keep the Fund Office advised of your current address and contact us at least three months before you reach age 60. At that time, you will need to decide whether to claim your pension from age 60 or to defer it for at least six months and earn a bonus pension increase of 8% for each year it is deferred. This increase is in addition to annual pension increases which are also applied to your pension. Please note that if you do not elect to receive the bonus pension before you reach age 60, this option will lapse.</p>
<h3>Transferring out</h3>
<p>You can transfer the value of your pension benefits to another approved pension such as a:</p>
<ul>
    <li>New employer's scheme</li>
    <li>Personal pension</li>
    <li>Stakeholder pension</li>
</ul>
<p>You can choose to transfer at any time before you retire.</p>
<p>The transfer value is the cash equivalent of your deferred pension. This amount will be paid to your new pension provider, who will advise you of the benefits you get by making the transfer. The amount paid is calculated by the Trustees on the advice of the Actuary.</p>
<h3>Refund of contributions</h3>
<p>If you have less than two years' pensionable service, you can choose a refund of your own contributions.</p>
<p>If you joined the Fund after 31 March 2010, and have less than three months' pensionable service, your only entitlement is a refund of your own contributions.</p>
<p>As a member of the Fund, you are contracted-out of the State Second Pension (S2P) and pay National Insurance contributions at a reduced rate. If you choose a refund it will be necessary to reinstate you into the S2P and a statutory deduction is made from your contributions as your share of the cost.</p>
<p>As your contributions are deducted from your salary before tax has been taken, HM Revenue &amp; Customs reclaims some of that tax at a special rate, currently 20%. This is also deducted from your refund of contributions.</p>
<p>The employer's contributions cannot be refunded.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions">Your contributions</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension/joining-and-leaving-the-fund">Joining and leaving the fund</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/pensions/your-pension/joining-and-leaving-the-fund/previous-pensions">Previous pensions</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/retirement">Retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/ill-health-retirement">Ill-health retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/benefits-on-death">Benefits on death</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/contracting-out">Contracting-out</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/pension-payments-and-deductions">Pension payments and deductions</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/remarriage-and-divorce">Remarriage and divorce</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/staff-travel">Staff travel</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact TfL Pension Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                
                4th Floor<br />
                200 Buckingham Palace Road<br />
                London<br />
                SW1W 9TJ
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/pensions/contact" class="plain-button">More contact details</a>
        </div>
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on joining and leaving the TfL Pension Fund.";}
        
            
        


 