
    
  



@{ViewBag.Title = "Member self-service";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/your-pension/member-self-service";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/pensions/news-and-publications/member-self-service");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/your-pension">Your pension</a></li>
                
            
            
                <li><span class="last-breadcrumb">Member self-service</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Member self-service</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Use our pension calculator, view the personal information we hold about you, amend your contact details (if you are no longer a contributing member) and access various documents in our member self-service area.
        
      </div>
    
    
      <p><strong>Please note:</strong> If you are using an Apple Mac PC you may require additional software.</p>
      
           
      
<div>



<h2>Need help?</h2>


<p>We have prepared a number of help sheets for our self-service website as follows:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/accessing-self-service.pdf">
    <div class="document-download-text">
        <p>Accessing Self Service</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 281KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/changing-your-password.pdf">
    <div class="document-download-text">
        <p>Changing your password</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>
<p>Already registered? <a href="https://pensionsmemberservice.tfl.gov.uk/Compendia/">Sign in</a></p>
<h3>Registration</h3>
<ol>
    <li>Complete the registration form </li>
    <li>You'll receive two letters from us one with your username, and one with your password</li>
    <div style="background: rgb(204, 204, 204);"><strong>Do we have your current address?</strong> If you've not received any post from us in the last six months please <a href="http://www.tfl.gov.uk/microsites/pensions/15_contact.asp">contact us</a> to check the details we hold.</div>
    <li>The first time you sign in you'll be prompted to change your password</li>
</ol>
<p><a href="https://pensionsmemberservice.tfl.gov.uk/Compendia/selfregistration.asp">Register now</a></p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions">Your contributions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/joining-and-leaving-the-fund">Joining and leaving the fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/retirement">Retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/ill-health-retirement">Ill-health retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/benefits-on-death">Benefits on death</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/contracting-out">Contracting-out</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/pension-payments-and-deductions">Pension payments and deductions</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/remarriage-and-divorce">Remarriage and divorce</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/your-pension/member-self-service">Member self-service</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/staff-travel">Staff travel</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Use our pension calculator, view the personal information we hold about you, amend your contact details and access various documents in our member self-service area.";}
        
            
        


 