
    
  



@{ViewBag.Title = "Pension payments and deductions";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/your-pension/pension-payments-and-deductions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/your-pension">Your pension</a></li>
                
            
            
                <li><span class="last-breadcrumb">Pension payments and deductions</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pension payments and deductions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Your pension is paid in advance every four weeks and will be paid directly into your bank or building society account.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
Payments are made on a Monday unless it's an English Bank Holiday when it will be on the next working day.
<div class="table-container"><table style="height:331px; width:570px">
	<thead>
		<tr>
			<th colspan="1" id="ms__id6_heading_0" rowspan="1">
			<p>&nbsp;<strong>Tax week&nbsp;</strong></p>
			</th>
			<th colspan="1" id="ms__id6_heading_1" rowspan="1">
			<p><strong>&nbsp;Period ending </strong></p>
			</th>
			<th colspan="1" id="ms__id6_heading_2" rowspan="1">
			<p><strong>&nbsp;Pay date</strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id6_heading_0">&nbsp;4</td>
			<td headers="ms__id6_heading_1">11 May 2019</td>
			<td headers="ms__id6_heading_2">15 April 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">&nbsp;8</td>
			<td headers="ms__id6_heading_1">8&nbsp;June 2019</td>
			<td headers="ms__id6_heading_2">13 May 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">&nbsp;12</td>
			<td headers="ms__id6_heading_1">6&nbsp;July 2019</td>
			<td headers="ms__id6_heading_2">10 June 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">&nbsp;16</td>
			<td headers="ms__id6_heading_1">3&nbsp;August 2019</td>
			<td headers="ms__id6_heading_2">8&nbsp;July 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">&nbsp;20</td>
			<td headers="ms__id6_heading_1">31 August 2019</td>
			<td headers="ms__id6_heading_2">5&nbsp;August 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">&nbsp;24</td>
			<td headers="ms__id6_heading_1">28&nbsp;September 2019</td>
			<td headers="ms__id6_heading_2">2&nbsp;September 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">&nbsp;28</td>
			<td headers="ms__id6_heading_1">26 October 2019</td>
			<td headers="ms__id6_heading_2">30 September 2019</td>
		</tr>
		<tr>
			<td>&nbsp;32</td>
			<td>23 November 2019</td>
			<td>28&nbsp;October 2019</td>
		</tr>
		<tr>
			<td>&nbsp;36</td>
			<td>21 December 2019</td>
			<td>25 November 2019</td>
		</tr>
		<tr>
			<td>&nbsp;40</td>
			<td>18&nbsp;January 2020</td>
			<td>23 December 2019</td>
		</tr>
		<tr>
			<td>&nbsp;44</td>
			<td>15 February 2020</td>
			<td>20 January 2020</td>
		</tr>
		<tr>
			<td>&nbsp;48</td>
			<td>14 March 2020</td>
			<td>17 February 2020</td>
		</tr>
		<tr>
			<td>&nbsp;52</td>
			<td>11 April 2020</td>
			<td>16 March 2020</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h2>Pension increases</h2>
<p>While you are below State Pension Age, the whole of your pension will increase each April.</p>
<p>It is increased in line with the Retail Prices Index (RPI) inflation over the 12 months ending in the previous September. If you joined after 1 April 1989, your increases are limited to a maximum of 5%.</p>
<p>The annual RPI increase under the Fund cannot fall below zero. The pension increase will be determined over the relevant 12 months. If there is no increase in the RPI, your pension will remain unchanged for that year.</p>
<p>Pension increases are paid in the first pension payment of each tax year. Unfortunately, we can't pay increases sooner as the process can only start at the end of the previous tax year.</p>
<h3>Increases at State Pension Age</h3>
<p>Once you reach State Pension Age, increases will be paid on the various parts of your pension as follows:</p>
<p><strong>Pension in excess of the Guaranteed Minimum Pension (GMP) (including all pension earned after 5 April 1997)</strong><br />
This part of your pension is increased as described above.</p>
<p><strong>GMP earned between 6 April 1988 and 5 April 1997</strong><br />
This part of your pension is also increased as above, up to a maximum of 3% each year.</p>
<p> Further increases may be paid by the State.</p>
<p><strong>GMP earned before 6 April 1988</strong><br />
This part of your pension is not increased by the Fund but may be increased by the State.</p>
<h3>Adult dependant and children's pension increases</h3>
<p>Pensions payable to your adult dependant and eligible children are increased each year in the same way as your pension.</p>
<p>We will continue to pay increases to your pension wherever you live. In addition, if you live in a country in the European Economic Area (EEA) or a country which has a social security agreement with the UK, you will also receive increases on your basic state pension and possibly your GMP from the UK Government.</p>
<p> The countries involved change from time to time as determined by the UK Government. Details can be found on the <a href="https://www.gov.uk/government/organisations/department-for-work-pensions">Department for Work and Pensions' website</a>.</p>
<h2>Missing pension payments</h2>
<p>If you think that you have not received a pension payment you should first check with your bank. If your bank is unable to locate your payment please <a href="/pensions/contact">contact the Fund Office</a> immediately.</p>
<h2>Living overseas</h2>
<p>If you live abroad your benefits can either be paid to a bank account in the UK or direct into an overseas bank account via Western Union. For overseas payments it is important that the information provided is complete and accurate and that all of the information requested on the payment mandate is provided in full, otherwise this may lead to delays in the payment reaching your account.</p>
<p><a href="/pensions/contact/overseas-payments">Download payment mandate</a></p>
<h2>Changing address or bank</h2>
<p>You can advise the Fund Office of a change of address using <a href="/pensions/your-pension/member-self-service">Member Self Service</a>, by completing the relevant <a href="/pensions/contact/forms">form</a>, or by letter or telephone.</p>
<p>Changes of bank must be made in writing or by completing the relevant <a href="/pensions/contact/forms">form</a>. Please note that your pension can only be paid into an account in your name. Change of bank account details should be provided at least 15 working days before your next payment is due.</p>
<p>Please note that due to the large volume of changes received, only changes to bank accounts are acknowledged.</p>
</div>
 
<div>



<h2>Payslips and P60s</h2>


<p>You will receive a payslip for your first pension payment. After that, you will receive a single annual payslip at the start of each tax year. This will provide you with information on:</p>
<ul>
    <li>Your pension increase</li>
    <li>Your predicted four-weekly pension for the year</li>
    <li>Pension pay dates</li>
    <li>Your P60</li>
</ul>
<p>If you require information regarding your expected annual pension in advance of receiving your annual payslip, for the purposes of any State benefits that you may receive, please <a href="/pensions/contact">contact the Fund Office</a>.<br />
<br />
If your net pension changes by more than &pound;10 compared with the previous pay period you will normally receive an additional payslip. On Week 8 of any tax year your net pension is compared with the predicted four-weekly figure quoted in the annual payslip.<br />
<br />
Duplicate annual or additional payslips can be provided by the Fund Office if needed. HM Revenue and Customs (HMRC) does not allow us to produce a duplicate P60 but we can give you a letter with your P60 details for any tax year. All your payslips, including those we do not send to you, can be viewed online using Member self-service.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/example-of-annual-pension-payslip.pdf">
    <div class="document-download-text">
        <p>Example of annual pension payslip</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 325KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/example-of-change-of-net-pension-notification.pdf">
    <div class="document-download-text">
        <p>Example of additional payslip</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 320KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 <div>

<h2>Tax and tax codes</h2>
<h3>Living in the UK</h3>
<p>Your pension is treated as earned income and will be taxed under the PAYE system, just as your salary was while you were working. HM Revenue and Customs (HMRC) will advise both you and the Fund Office of the correct tax code to be used.</p>
<p>Retirement lump sums are tax-free under current legislation.</p>
<p>A P60 will be included in your annual payslip to help with your tax return.</p>
<p>The Fund is not authorised to deal with enquiries about tax matters and all enquiries should be referred to HMRC Taxes at:</p>
<p>Sefton Area Service<br />
The Triad<br />
Stanley Road<br />
Bootle<br />
L75 1HW</p>
<p><strong>Telephone:</strong> 0845 300 0627</p>
<p>If you contact the HMRC, you will need to tell them:</p>
<ul>
    <li>Your National Insurance number</li>
    <li>The Fund's reference - 083/LT7</li>
</ul>
<h3>Living overseas</h3>
<p>You will normally be taxed according to the tax laws of the country where you live. You may be able to choose to be subject to UK tax, but you should check with HMRC Financial Intermediaries and Claims Office, which can be contacted at:</p>
<p>Inland Revenue International<br />
Centre for Non-residents<br />
Fitz Roy House<br />
PO Box 46<br />
Nottingham<br />
NG2 1BD</p>
<p><strong>Telephone outside UK:</strong> + 44 151 210 2222<br />
<strong>Telephone inside UK:</strong> 0845 070 0040</p>
<h3>Further information about tax</h3>
<p>For more information about tax matters, please visit the <a href="http://www.hmrc.gov.uk/">HMRC website</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions">Your contributions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/joining-and-leaving-the-fund">Joining and leaving the fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/retirement">Retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/ill-health-retirement">Ill-health retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/benefits-on-death">Benefits on death</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/contracting-out">Contracting-out</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/your-pension/pension-payments-and-deductions">Pension payments and deductions</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/remarriage-and-divorce">Remarriage and divorce</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/staff-travel">Staff travel</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Pension Fund payment dates and deductions.";}
        
            
        


 