
    
  



@{ViewBag.Title = "Retirement";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/your-pension/retirement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/your-pension">Your pension</a></li>
                
            
            
                <li><span class="last-breadcrumb">Retirement</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Retirement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Fund's retirement age is 65, but you can retire earlier or later.
        
      </div>
    
    <div class="on-this-page">
      <h2>Retiring from age 60</h2>
<p>You can take your pension without any reduction if you retire at any time from age 60, providing you have more than three months pensionable service, otherwise you will only be entitled to a refund of your contributions.</p>
<p>Your pension is based on your pensionable service and pensionable salary. The annual amount of your pension payment is calculated as:</p>
<p><strong>1/60 x pensionable service x pensionable salary</strong></p>
<p>For existing members there is a deduction of &pound;10.10 a year for pensionable service from 1 October 1993.</p>
<h2>Retiring before you are 60</h2>
<p><strong>You can take your pension from age 50</strong></p>
<ul>
    <li>If you joined the Fund on or before 5 April 2006</li>
</ul>
<p><strong>You can take your pension from age 55</strong></p>
<ul>
    <li>If you joined the Fund on or after 6 April 2006</li>
    <li>If you have more than three months pensionable service, otherwise you will only be entitled to a refund of your contributions</li>
</ul>
<p><strong>Pension reduction if you retire before 60</strong></p>
<p>Your pension would first be calculated as 1/60 x pensionable service x pensionable salary, then reduced because it would be paid earlier and for a longer time. The amount of the reduction will depend on how old you are when you take your pension, for example:</p>
      
           
      

<div class="table-container"><table>
    <thead>
        <tr>
            <th id="ms__id6_heading_0" style="width: 350px;" rowspan="1" colspan="1"> <strong>Retirement age </strong></th>
            <th id="ms__id6_heading_1" style="width: 350px;" rowspan="1" colspan="1"><strong> Pension reduction</strong> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="ms__id6_heading_0"> 58</td>
            <td headers="ms__id6_heading_1"> 8%</td>
        </tr>
        <tr>
            <td headers="ms__id6_heading_0"> 55</td>
            <td headers="ms__id6_heading_1"> 18%</td>
        </tr>
        <tr>
            <td headers="ms__id6_heading_0"> 50</td>
            <td headers="ms__id6_heading_1"> 33%</td>
        </tr>
    </tbody>
</table></div>
<p>Different reductions apply to men who left before 17 May 1990. Further details are available from the <a href="/pensions/contact">Fund office</a>.</p>
<p><strong>If your pension is less than Guaranteed Minimum Pension (GMP)</strong></p>
<p>If your pension is less than the <a href="/pensions/your-pension/contracting-out">Guaranteed Minimum Pension</a>, an amount determined by the government, you can not draw your pension until you are 60.</p>

 <div>

<h2>Still in service at 60</h2>
<p>If you are an existing member approaching age 60 and still in service you will be given the option to:</p>
<ul>
    <li>Continue paying contributions and earning pension benefits in the normal way</li>
    <p>or</p>
    <li>Stop paying contributions and earning pension benefits at age 60 and instead earn a bonus pension. In this case your pension will receive a bonus of 2/3 of 1% for each complete month (8% a year) that it remains deferred after the age of 60, provided that payment is deferred for at least six months</li>
</ul>
<h2>Retiring after you are 65</h2>
<p>You will normally retire by the age of 65, but if your employer agrees you can remain in service beyond this age.</p>
<ul>
    <li>You can choose to continue paying contributions or to stop paying contributions</li>
    <li>If you choose to stop paying contributions and you joined the Fund from 1 June 1989, you will have to wait until you leave service to draw your pension. If you joined before this date you can draw your pension immediately</li>
    <li>If you choose to stop paying contributions and your pension is not paid from age 65 then it will be calculated as if you had retired at that age. It will then receive a bonus of 2/3 of 1% for each complete month (equivalent to 8% a year) that it remains deferred. This is provided that payment is deferred for at least six months
    </li>
    If you choose to continue to pay contributions you will continue to earn benefits in the normal way, not as described above
    <li>You must take your pension no later than age 75, even if you are still in employment</li>
</ul>
<h2>Lump sum</h2>
<p>You may exchange part of your pension for a tax-free lump sum payment. The maximum lump sum that can be paid is 25% of the value of your pension at retirement.</p>
<p>You can take a smaller lump sum than the maximum.</p>
<p>Taking a lump sum will not reduce the amount of any adult dependant's and eligible children's pensions that might be payable on your death.</p>
<h2>Variable pension</h2>
<p>A variable pension helps to balance your total income after you retire. It allows you to receive a higher pension until State Pension Age (SPA) and a reduced one from then on, regardless of whether or not you take a lump sum. If the Government changes SPA the variable pension will still stop when originally advised at retirement.</p>
<p>You can take a variable pension in addition to the lump sum, although there might be some restrictions. This is because the Fund must ensure your reduced pension after SPA is at least half of your original pension and at least equal to your <a href="/pensions/your-pension/contracting-out">Guaranteed Minimum Pension (GMP)</a>.</p>
<p>The amount of pension paid is subject to a limit under the Rules.</p>
<p>Taking a variable pension will not reduce the amount of any adult dependant's and eligible children's pensions payable on your death.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions">Your contributions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/joining-and-leaving-the-fund">Joining and leaving the fund</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/your-pension/retirement">Retirement</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/ill-health-retirement">Ill-health retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/benefits-on-death">Benefits on death</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/contracting-out">Contracting-out</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/pension-payments-and-deductions">Pension payments and deductions</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/remarriage-and-divorce">Remarriage and divorce</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/staff-travel">Staff travel</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Pension Fund's retirement age is 65, but you can retire earlier or later.";}
        
            
        


 