
    
  



@{ViewBag.Title = "Staff travel";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/your-pension/staff-travel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/your-pension">Your pension</a></li>
                
            
            
                <li><span class="last-breadcrumb">Staff travel</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Staff travel</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out if you are eligible for travel passes when you retire.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Please note:</p>
<ul>
    <li>If you left service through voluntary severance, the criteria for travel facilities are different from those detailed below. Please contact Staff Travel on 0800 0155 073 between 08:30 and 17:30 (Monday to Friday) for further details</li>
    <li>If you were dismissed from TfL, you are not eligible for travel facilities</li>
    <li>If you were granted an immediate enhanced ill-health pension, you may be credited with up to an additional five years to count towards your total service</li>
    <li>If you are a partner of a retired member of staff who has died, you can keep any retired travel facilities already issued</li>
    <li>You must hand in your Staff Oyster card and any other staff passes to your line manager on the day you leave TfL</li>
</ul>
<p>You may also be eligible for free or reduced rate travel facilities through your local council and should contact them for more details.</p>
<p>Once we have confirmed that you are eligible for retaining travel facilities in retirement, your passes will be reissued as retired versions and sent to your home address.</p>
<p>We aim to issue retired passes to you before you leave TfL or, at the latest, within two weeks of you leaving.</p>
<h2>Retired Staff Oyster card</h2>
<p>You are eligible for a Retired Staff Oyster card if you:</p>
<ul>
    <li>Are a TfL employee, and</li>
    <li>Retire at age 50 or over, and</li>
    <li>Have at least 20 years' service with a participating employer or successor to London Regional Transport</li>
</ul>
<p>If you are eligible for a Retired Staff Oyster card and your nominee has a Nominee Oyster card, they will also be issued with a Retired Oyster card.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str1-v1-retired-nominee-oyster-card-photocard-application-form-august-2017.pdf">
    <div class="document-download-text">
        <p>Retired Nominee Oyster card & photocard application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 <div>

<p>You can use your Retired Staff Oyster card on the services described in the conditions of use, which will be sent with your card. You can also:</p>
<ul>
    <li>Get a third off Thames Clipper River Bus services by showing your Retired Staff Oyster card when you buy a ticket</li>
    <li>Pay a reduced fare on Emirates Air Line if you show your Retired Staff Oyster card when you buy a Boarding Pass</li>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str2-v1-retired-staff-oyster-card-cou-august-2017.pdf">
    <div class="document-download-text">
        <p>Retired Staff Oyster card conditions of use</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<p>If you started working for London Transport before 1970, the following conditions of use apply:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str3-v1-retired-staff-oyster-card-pre-1970-cou-august-2017.pdf">
    <div class="document-download-text">
        <p>Retired Staff Oyster card conditions of use (for staff who entered service before 1970)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>

<h2>Retired Privilege Ticket Authority Card (PTAC)</h2>
<p>You are eligible for a Retired Privilege Ticket Authority Card (PTAC) if you:</p>
<ul>
    <li>Are a TfL employee and entered service before 1 April 1996, and</li>
    <li>Retire at age 50 or over, and</li>
    <li>Had a staff PTAC with London Regional Transport, London Underground Limited or were in an administrative or management grade with London Buses</li>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str4-v1-retired-staff-privilege-ticket-authority-card-application-august-2017.pdf">
    <div class="document-download-text">
        <p>Retired Staff Privilege Ticket Authority Card application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 <div>

<p>If you are eligible for a Retired PTAC, you can also get one for:</p>
<ul>
    <li>Your partner if they already have a Partner PTAC</li>
    <li>Dependent children aged 5-24 (children aged over 16 must be in full-time education and a headed letter from the school, college or university confirming their studies must be supplied)</li>
    <ul>
        <li>If your children had an All Rail PTAC, they will be issued with a replacement All Rail PTAC when you retire</li>
        <li>Your children will be issued with a TfL rail PTAC if your partner opted to have a retired Staff Oyster card rather than a PTAC. TfL rail PTACs do not allow priv-rate travel on National Rail Services</li>
    </ul>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str5-v1-retired-partner-privilege-ticket-authority-card-application-august-2017.pdf">
    <div class="document-download-text">
        <p>Retired Partner Privilege Ticket Authority Card application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str7-v1-retired-child-dependant-aged-5-to-15-p-t-a-c-application-august-2017.pdf">
    <div class="document-download-text">
        <p>Retired Child Dependant aged 5 - 15 Privilege Ticket Authority Card application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str6-v1-retired-child-dependant-aged-16-and-over-p-t-a-c-application-august-2017.pdf">
    <div class="document-download-text">
        <p>Retired Child Dependant aged 16 and over Privilege Ticket Authority Card application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>
<p>16+ Dependent Child PTACs are valid for 12 months and expire on 31 December. They can reapply for their PTAC each year, provided they can provide evidence that they are still in full time education, using the annual reissue application form. </p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str16-v1-annual-reissue-of-child-dependant-16-plus-p-t-a-c-application-retired-staff-2017.pdf">
    <div class="document-download-text">
        <p>Retired Staff Dependant aged 16 and over PTAC annual reissue application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 126KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 <div>

<h2>Privilege rate pay as you go</h2>
<p>If you have a Retired PTAC, you can apply to use pay as you go at priv rate on National Rail services where pay as you go is accepted. Your partner and dependants can also apply if they have a PTAC.</p>
<h3>Applying for privilege rate pay as you go</h3>
<p>You need to get the privilege discount set on another Oyster card - it cannot be set on your Retired Staff Oyster card. Before applying, you must read all the information on the Oyster card privilege discount application form: </p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/oyster-privilege-discount-application-form-retired-staff.pdf">
    <div class="document-download-text">
        <p>Oyster card privilege discount application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 218KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 
</div>

</div>
 <div>

<p><strong>If you, your partner or dependants already have an Oyster card/photocard</strong>, you must:</p>

<ul>
	<li>Complete the Oyster card privilege discount application form</li>
	<li>Send it to Staff Travel for authorisation</li>
</ul>

<p>As well as standard Oyster cards, privilege discount can also be added to 11-15, 16+ and 18+ Oyster photocards.</p>

<p>When you get the authorised form back from Staff Travel, take it to any Tube station with your PTAC and ask a member of staff to set the privilege discount on your Oyster card or Oyster photocard. You will also need to add some credit to cover future journeys.</p>

<p><strong>If you, your partner or dependants don't have an Oyster card</strong>, you must:</p>

<ul>
	<li><a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">Apply for an Oyster photocard</a>, if required</li>
	<li>Take your completed authorised application form with the PTAC to a Tube station</li>
	<li>If required, get an Oyster card (you will need to pay a refundable &pound;5 deposit) and ask a member of staff to set the privilege discount on it. You will also need to add some credit to cover future journeys</li>
</ul>

<p>Under 16s must have an Oyster photocard for pay as you go travel at privilege child rate. They need to take their Oyster photocard to a Tube station with the authorised application form and ask a member of staff to set the privilege discount.</p>

<p>Note that not all privilege discounts can be set on all types of Oyster card/photocards (see below).</p>

<p>You can apply on behalf of your partner and dependants.</p>

<p>You cannot apply online.</p>

<h2>Setting the discount on an Oyster card</h2>

<p>The privilege discount can only be set on certain Oyster cards, according to the type of PTAC held.</p>

<p>The <strong>privilege discount for retired staff</strong> can only be set on a standard Oyster card.</p>

<p>The <strong>privilege discount for dependent children aged over 16</strong> can be set on:</p>

<ul>
	<li>A standard Oyster card</li>
	<li>An 18+ Student Oyster photocard</li>
	<li>A 16+ Zip Oyster photocard (All Rail PTAC only)</li>
	<li>An 11-15 Zip Oyster photocard (valid until 30 September after the holder's 16th birthday)</li>
</ul>

<p>The <strong>privilege discount for dependent children aged under 16</strong> can only&nbsp;be set on:</p>

<ul>
	<li>An 11-15 Zip Oyster photocard</li>
	<li>A 5-10 Zip Oyster photocard*</li>
</ul>

<p>*5-10 Zip Oyster photocards allow free travel on most National Rail services in London where pay as you go is accepted, as well as all TfL's rail services. You will only need to set the privilege discount on a 5-10 Oyster photocard if your child has an All Rail PTAC and wants to use child-rate privilege pay as you go to&nbsp;travel on:</p>

<ul>
	<li>Southeastern high speed services between St. Pancras International and Stratford International</li>
	<li>Gatwick Express services between London Victoria and Gatwick</li>
</ul>

<p>Child-rate privilege discount can't be set be on a standard Oyster card.</p>

<p>The <strong>privilege discount for partners </strong>of retired staff can only be set on:</p>

<ul>
	<li>A standard Oyster card</li>
	<li>An 18+ Student Oyster photocard</li>
</ul>

<p>It can't be set on a Zip (16+, 11-15 or 5-10) Oyster photocard.</p>

<p>Once the privilege discount has been set, you will be able to add credit to it:</p>

<ul>
	<li>At Tube, DLR, London Overground, TfL Rail and National Rail stations</li>
	<li>At Oyster Ticket Stops</li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Online</a>. If you do not already have an account, you can create one</li>
	<li>At <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></li>
</ul>

<p>The privilege discount will expire when your PTAC expires. Your replacement PTAC will be posted to you. You then need to take your new PTAC with your Oyster card or Oyster photocard&nbsp;to any Tube station to get the privilege discount renewed.</p>

<p>You do not need to pay a fee or complete another application form to do this.</p>

<h2>Privilege season tickets</h2>

<p>Retired staff cannot buy privilege season tickets for their own use.</p>

<p>You can still apply for a privilege season ticket for your dependent children if they:</p>

<ul>
	<li>Have a valid PTAC, and</li>
	<li>Are using it for education purposes - that is, travelling from home to and from school, college or university</li>
</ul>

<p>You can apply using the privilege season ticket application form. You must do this at least 20 working days before the start date.</p>

<ul>
	<li>Send the completed application form to Staff Travel for authorisation</li>
	<li>The application form will be returned to your home address</li>
	<li>Take the authorised form to a National Rail station to buy the ticket</li>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str9-v1-privilege-season-ticket-application-form-for-children-of-retired-staff-august-2017.pdf">
    <div class="document-download-text">
        <p>Privilege season tickets - Application for dependent children of retired staff</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 <div>

<h2>Staff Travel Cards</h2>
<p>A Staff Travel Card (STC) gives you unlimited free travel on most National Rail services for one day (restrictions apply). These travel cards have replaced the system of free tickets.</p>
<p>You can apply for an STC if you:</p>
<ul>
    <li>Started working for London Transport (excluding staff employed by London Buses), London Regional Transport, or Docklands Light Railway before 1 April 1996</li>
    <li>Have a 1st class PTAC</li>
</ul>
<p>You need to complete an STC application and send it to Staff Travel at least 20 working days before you need it.</p>
<p>It will be posted to your home address.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str10-v1-staff-travel-cards-application-form-for-retired-staff-august-2017.pdf">
    <div class="document-download-text">
        <p>Retired Staff Travel Card application and conditions of use</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/staff-travel-card.jpg" alt="Image of a Transport for London Staff Travel Card" />
    </div>
    <h3>Using your STC</h3>
<p>Instructions setting out where and how to use your STC will be sent with your card. You can only use your STC on National Rail services. </p>
<p>Each card has a series of boxes. The number allocated to you depends on eligibility, based on your employment terms and conditions, and your pay band (grade). </p>
<p>The allowances are:</p>
<ul>
    <li>Pay band four or above - 6 or above</li>
    <li>Pay bands two and three - 4 boxes</li>
</ul>
<p>Each dated box allows unlimited free travel on:</p>
<ul>
    <li>That day</li>
    <li>Up to midnight on the next day</li>
    <li>After 22:00 hours on the day before (if you are making an overnight journey)</li>
</ul>
<h3>Before you travel</h3>
<p>The boxes must be completed in accordance with the Conditions of Use, and instructions that come with the STC. You must fill in the appropriate box for the STC to be valid.</p>
<p>You must make sure that the day and month of the journey is clearly entered in ink in an available box on your STC. Make sure you use a zero in front of single digits e.g. 7 August would be 07/08.</p>
<p>The boxes must be used in number order.</p>
<h3>Using your STC for free journeys on National Rail services</h3>
<p>Once your STC has been dated, it is your ticket.</p>
<p>During the period your ticket is valid, you do not need to travel continuously; you can make any number of journeys up to midnight the next day.</p>
<p>Only the person named on the STC can use it and the holder must carry their PTAC with them when using it to travel.</p>
<h3>Booking your seat</h3>
<p>If you want to book a seat, you must do this at a National Rail ticket office; you can't book seats over the phone or online.</p>
<p>You will need to show your STC and PTAC. Your seat will be reserved for you on the day you want.</p>
<h3>Free travel on ferries and in Ireland</h3>
<p>If you have an STC, you can apply for tickets to travel for free on:</p>
<li>Stena Line ferries to:
<ul>
    <li>Cairnryan - Belfast</li>
    <li>Fishguard - Rosslare</li>
    <li>Holyhead - Dublin</li>
    <li>Harwich - Hook of Holland</li>
</ul>
</li>
<li>Irish Railways</li>
<br />
<p>The number of free journeys you can book depends on the number of boxes on your STC. You can make:</p>
<ul>
    <li>One Irish and/or Stena Line journey if you have four boxes</li>
    <li>Two Irish and/or Stena Line journeys if you have six boxes</li>
</ul>
<h3>Ferry travel</h3>
<p>You must complete the application for free travel on Stena Line.</p> 
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str17-v1-application-for-free-travel-on-stena-line-for-retired-staff-august-2017.pdf">
    <div class="document-download-text">
        <p>Free travel on Stena Line application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>
<p>Reservations are compulsory on all sailings.</p>
<p>All crossings tend to be exceptionally busy throughout the summer months, Christmas, New Year, Easter, Halloween and Bank Holiday periods.</p>
<p>You are advised to book as early as possible as space for free travel is subject to availability. You can ask for an alternative sailing if your first choice sailing is full.</p>
<p>You cannot book at the port on the day of departure.</p>
<p>All Stena Line services are standard class.</p>
<h3>Port Taxes</h3>
<p>You will need to pay any port taxes. There are shown below in each direction:</p>
</div>
 

<div class="table-container"><table>
    <thead>
        <tr>
            <th rowspan="1" colspan="1"><strong>Route </strong></th>
            <th rowspan="1" colspan="1"><strong>Adult tax </strong></th>
            <th rowspan="1" colspan="1"><strong>Child tax (4-13 years)</strong> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fishguard - Rosslare </td>
            <td>&pound;5.00</td>
            <td>&pound;3.00</td>
        </tr>
        <tr>
            <td>Holyhead - Dublin</td>
            <td>&pound;5.00</td>
            <td>&pound;3.00</td>
        </tr>
        <tr>
            <td>Cairnryan - Belfast</td>
            <td>&pound;5.00</td>
            <td>&pound;3.00</td>
        </tr>
        <tr>
            <td>Liverpool - Belfast</td>
            <td>&pound;15.00</td>
            <td>&pound;13.00</td>
        </tr>
        <tr>
            <td>Harwich - Hook of Holland</td>
            <td>&pound;5.00*</td>
            <td>&pound;3.00*</td>
        </tr>
    </tbody>
</table></div>
<p>*Can only pay this at Harwich.</p>
<p>You should check in at least 45 minutes prior to departure on all routes except Belfast - Liverpool where you need to allow 90 minutes.</p>
<p>You are advised to book as early as possible as space for free travel is subject to availability. The Conditions of Use for Staff Travel Cards apply.</p>
<p>Once completed, you need to send the form to Staff Travel who will authorise it and forward it to Stena Line for processing. The form will be returned to you with a booking reference. You need to take the form, your STC and PTAC to the port when you travel.</p>
<h3>Irish Railways</h3>
<p>You must complete the application for free travel on Irish Railways, which gives more information about eligibility.</p>

 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str18-v1-application-for-free-travel-on-irish-railways-for-retired-staff-august-2017.pdf">
    <div class="document-download-text">
        <p>Free travel on Irish Railways application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>
<p>Once you've completed the application form, send it to Staff Travel who will authorise the application and forward it to Irish Railways. Please note:</p>
<ul>
    <li>The form must be received by Staff Travel 6 weeks before your intended travel date</li>
    <li>Tickets can be valid for a maximum of 1 month from the date of the outward journey</li>
</ul>
<p>Irish Railways will send the tickets to TfL Staff Travel, who in turn will post them to your home address. You will need to carry your STC and PTAC with you when you use your free ticket on Irish Railways.</p>
<p>The Conditions of Use for Staff Travel Cards apply.</p>
<h3>Annual renewal</h3>
<p>Staff Travel Cards are issued in April each year and will be sent to your home address by Staff Travel. You can use your STC from 1 April to 30 June (e.g. 1 April 2017 to 30 June 2018). You will therefore have two valid STCs for three months of each year. You can use either to get free travel during this time, if you have available boxes on your STC</p>
<p>You can only use your STC on National Rail services in line with endorsement no.11 printed on the card.</p>
</div>
 
<div>



<h2>Travel restrictions for free and privilege travel</h2>


<p>Using free and privilege tickets on National Rail services and Stena Line are subject to restrictions. The current restrictions are detailed in the document below. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/staff-travel-restrictions-winter-2019-20.pdf">
    <div class="document-download-text">
        <p>Staff travel restrictions: Winter 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 214KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 
</div>
<p>For more information, please contact the operator. </p>
</div>
 
<h2>Other travel discounts</h2>

<h3>Eurostar</h3>

<p>If you have a Retired Staff Oyster card, you can buy discounted tickets to travel on Eurostar for yourself and five companions, as shown below.</p>

<p><strong>London to Rotterdam and Amsterdam</strong></p>

<p>The one way fare is &pound;35 in Standard Class and &pound;60 in Standard Premier.</p>

<p><strong>Rotterdam and Amsterdam to London</strong></p>

<div>Until the border control process has been agreed, this route will require a change of train in Brussels.</div>

<div>All can now be booked with Eurostar at concession rate, travelling on Eurostar between the Netherlands and Brussels. The total return fare will be &pound;146 in Standard Premier and &pound;78 in Standard Class.</div>

<div>&nbsp;</div>

<div>Alternatively between the Netherlands and Brussels you can book on Thalys trains at public fares, on <a href="http://www.thalys.com">www.thalys.com</a></div>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1">&nbsp;</th>
			<th colspan="1" rowspan="1"><strong>Standard One Way</strong></th>
			<th colspan="1" rowspan="1"><strong>Standard Premier One Way</strong>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Amsterdam, Rotterdam</td>
			<td>&pound;35.00</td>
			<td>&pound;60.00</td>
		</tr>
		<tr>
			<td>Brussels, Lille, Calais, Paris&nbsp;</td>
			<td>&pound;29.50</td>
			<td>&pound;59.50</td>
		</tr>
		<tr>
			<td>Any Belgian station</td>
			<td>&pound;39.50</td>
			<td>&pound;75.50</td>
		</tr>
		<tr>
			<td>Marne-la-Vall&eacute;e</td>
			<td>&pound;29.50</td>
			<td>&pound;59.50</td>
		</tr>
		<tr>
			<td>Lyon</td>
			<td>&pound;40.00</td>
			<td>&pound;70.00</td>
		</tr>
		<tr>
			<td>Avignon, Marseille</td>
			<td>&pound;45.00</td>
			<td>&pound;75.00</td>
		</tr>
		<tr>
			<td>Ski destinations</td>
			<td>&pound;50.00</td>
			<td>&pound;75.00</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>
<p>To book, call 03448 224888, at least seven days before you want to travel. Tickets are subject to availability.</p>
<p>Tickets are non-exchangeable and non-refundable. You must print them at home or use a self-service ticket machine.</p>
<p>You must travel with the group and can take up to 5 companions.</p>
<p>You cannot book tickets to travel on Fridays between 17:30 and 19:00. </p>
<p>You must take your Retired Staff Oyster Card and photocard and show this to a member of staff when asked.</p>
<h3>Privilege Ticket Authority Cards (other services)</h3>
<p>If you have a PTAC, you can get discounted travel on Wightlink and Stena services, and some other rail services. These are detailed in the document below and are subject to restrictions, which are available from the operators.</p>

 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str13-v1-privilege-ticket-authority-card-other-services-august-2017.pdf">
    <div class="document-download-text">
        <p>Privilege Ticket Authority Cards (other services)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>



<h2>Bus services outside London</h2>


<p>You may be eligible for a National Concessionary Scheme Pass which allows you to travel free on all bus services in England. Contact your local council to find out more.</p>
<p>Retired staff whose Retired photocards are endorsed 'also available on former Country Bus Services routes' can travel free on any journey on bus services detailed in the document below. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-country-bus-services.pdf">
    <div class="document-download-text">
        <p>London Country Bus services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 238KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 <div>

<h2>Lost, stolen or damaged passes</h2>
<h3>Lost or stolen passes</h3>
<p>If your Retired Staff Oyster card, PTAC or Staff Travel Card is lost or stolen, call Staff Travel on 0800 0155 073 between 08:30 and 17:30 (Monday to Friday) to report the loss.</p>
<p>To replace lost or stolen nominee or dependent children passes, call to report the loss then complete the lost/stolen replacement application form and send it to Staff Travel.</p>
<ul>
    <li>Nominees: Include proof that your nominee still lives at the same address as you</li>
    <li>Dependent children: Some passes require proof that the children are still in full time education</li>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/str15-v1-lost-and-stolen-form-for-retired-staff-august-2017.pdf">
    <div class="document-download-text">
        <p>Lost or stolen passes replacement application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 <div>

<p>Lost and stolen standard Oyster cards and Oyster photocards with privilege discount should be reported using <a href="http://oyster.tfl.gov.uk">your account</a> (if you have one), or by calling Customer Services on 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>
<p>All lost and stolen Oyster cards will be stopped so that they can no longer be used.</p>
<p>Staff Travel will post your replacement passes to you. An administrative fee may apply.</p>
<h3>Oyster card not working</h3>
<p>If your Retired Staff Oyster card stops working, call Staff Travel on 0800 015 5073 between 08:30 and 17:30 (Monday to Friday) to ask for a replacement.</p>
<p>If your partner's Nominee Oyster card stops working, you will also need to write to Staff Travel and provide proof that your nominee still lives at the same address as you.</p>
<p>If your standard Oyster card with privilege discount stops working, you need to call Customer Services on 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) or ask for help at a Tube station.</p>
<h2>Change of circumstances</h2>
<p>You can change your nominee pass to someone else by:</p>
<ul>
    <li>Completing a new Retired Nominee Oyster card application form (available on request), and</li>
    <li>Attaching proof of address and sending it to Staff Travel</li>
</ul>
<p>You should also return the current Retired Nominee Oyster card. If you can't do this, you must report it as lost/stolen/withdrawn, stating why you can't return the pass.</p>
<p>If your circumstances change e.g. you change your address, please advise Staff Travel at:</p>
Staff Travel<br />
Floor 1<br />
14 Pier Walk<br />
North Greenwich<br />
London<br />
SE10 0ES
<p>Telephone: 0800 0155 073 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Eligibility details for free and privilege travel for retiring TfL employees.";}
        
            
        


 