
    
  



@{ViewBag.Title = "Your contributions";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/your-pension/your-contributions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/your-pension">Your pension</a></li>
                
            
            
                <li><span class="last-breadcrumb">Your contributions</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Your contributions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As an employee you contribute 5% of your pensionable salary. The actual cost to you is less because contributions are deducted from your salary before tax is calculated, so they generate tax relief at your highest rate.
        
      </div>
    
    <div class="on-this-page">
      <p>You also pay reduced National Insurance contributions because the Fund is contracted-out of the State Second Pension.
</p>
<h2>Part-time workers</h2>
<p>If you work part-time you contribute 5% of your pro-rated pensionable salary.</p>
<h2>Employer contributions</h2>
<p>Your employer makes contributions to meet the balance of the costs of the Fund. The Actuary regularly looks at funding levels and advises on how much each employer should contribute, so the amount can vary. At the moment the Fund is in deficit so:</p>
<ul>
    <li>        The principal employer is paying 6.2 times the amount its employees pay</li>
    <li>        All the other participating employers are paying additional contributions over a period of ten years, as well as paying more than three times the amount their employees pa</li>
</ul>
<p>You can find full details in the Trustees' Annual Report and Accounts, which can be found in <a href="/pensions/fund-management/documents">Fund documents</a>.</p>
<h2>Changes to contributions</h2>
<p>Contributions normally change in January of each year and are based on pensionable salary in the previous November.</p>
<p>Contributions remain the same for the calendar year unless working hours change. In this case they will be based on your pro-rated pensionable salary following each change.</p>
<h2>When contributions stop</h2>
<p>Your contributions stop when you retire or leave service. While you are in service they will only stop if you:</p>
<ul>
    <li>Complete 40 years' pensionable service and choose to stop paying contributions</li>
    <li>Reach age 65 and choose to stop paying contributions</li>
    <li>Opt out of the Fund</li>
    <li>Are an Existing Member and choose to stop paying contributions when you reach age 60</li>
</ul>
<h2>Increasing your contributions</h2>
<p>You can increase your contributions by joining the <a href="/pensions/your-pension/your-contributions/additional-voluntary-contributions">Additional Voluntary Contributions</a> Plan.</p>
<h2>If your pay falls</h2>
<p>Occasionally, when changing jobs, your pensionable salary may fall. If this happens the pension that you have already earned is protected.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions">Your contributions</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions/additional-voluntary-contributions">Additional Voluntary Contributions (AVCs)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions/absence-from-work">Absence from work</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions/avc-investment-options">AVC investment options</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/joining-and-leaving-the-fund">Joining and leaving the fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/retirement">Retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/ill-health-retirement">Ill-health retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/benefits-on-death">Benefits on death</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/contracting-out">Contracting-out</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/pension-payments-and-deductions">Pension payments and deductions</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/remarriage-and-divorce">Remarriage and divorce</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/staff-travel">Staff travel</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact TfL Pension Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                
                4th Floor<br />
                200 Buckingham Palace Road<br />
                London<br />
                SW1W 9TJ
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/pensions/contact" class="plain-button">More contact details</a>
        </div>
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on the contributions you make from your salary into the TfL Pension Fund.";}
        
            
        


 