
    
  



@{ViewBag.Title = "Contact TfL Pension Fund";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/contact";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
            
                <li><span class="last-breadcrumb">Contact TfL Pension Fund</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Contact TfL Pension Fund</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The staff in the Fund Office are always pleased to help with any questions. To make it easier for you to get through to the right member of the team, we have listed which team member you should contact along with their direct dial numbers below.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<h3>Questions about Additional Voluntary Contributions:</h3>
<div class="table-container"><table style="height:181px; width:450px">
	<thead>
		<tr>
			<th align="left" colspan="1" id="table_heading_0" rowspan="1"><strong>Your surname </strong></th>
			<th align="left" colspan="1" id="table_heading_1" rowspan="1"><strong>Contact</strong></th>
			<th align="left" colspan="1" id="table_heading_2" rowspan="1"><strong>Telephone</strong></th>
			<th align="left" id="ms__id84_heading_0"><strong>Auto</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">A-D</td>
			<td headers="table_heading_1">Paul Greenfield</td>
			<td headers="table_heading_2">020 7126 1890</td>
			<td headers="ms__id84_heading_0">61890&nbsp;</td>
		</tr>
		<tr>
			<td headers="table_heading_0">E-K</td>
			<td headers="table_heading_1">Jenny Pierrepont</td>
			<td headers="table_heading_2">020 7126 1856</td>
			<td headers="ms__id84_heading_0">61856&nbsp;</td>
		</tr>
		<tr>
			<td headers="table_heading_0">L-Q</td>
			<td headers="table_heading_1">Miten Chauhan</td>
			<td headers="table_heading_2">020 7126 1860</td>
			<td headers="ms__id84_heading_0">61860</td>
		</tr>
		<tr>
			<td headers="table_heading_0">R-Z</td>
			<td headers="table_heading_1">Carl Wilkins</td>
			<td headers="table_heading_2">020 7126 1835</td>
			<td headers="ms__id84_heading_0">61835</td>
		</tr>
	</tbody>
</table></div>


 
<h3>For all other pension queries:</h3>
<div class="table-container"><table style="height:273px; width:471px">
	<thead>
		<tr>
			<th align="left" colspan="1" id="table_heading_0" rowspan="1"><strong>Your surname</strong></th>
			<th align="left" colspan="1" id="table_heading_1" rowspan="1"><strong>Contact</strong></th>
			<th align="left" colspan="1" id="table_heading_2" rowspan="1"><strong>Telephone </strong></th>
			<th align="left"><strong>Auto</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">A, F&nbsp;&amp; V</td>
			<td headers="table_heading_1">Hazel Gray</td>
			<td headers="table_heading_2">020 7126 1625</td>
			<td headers="table_heading_2">61625&nbsp;</td>
		</tr>
		<tr>
			<td headers="table_heading_0">B</td>
			<td headers="table_heading_1">Sarah Halsey</td>
			<td headers="table_heading_2">020 7126 1751</td>
			<td headers="table_heading_2">61751</td>
		</tr>
		<tr>
			<td headers="table_heading_0">C &amp; Z</td>
			<td headers="table_heading_1">Preye Jim-George</td>
			<td headers="table_heading_2">020 7126 1622</td>
			<td headers="table_heading_2">61622</td>
		</tr>
		<tr>
			<td headers="table_heading_0">D&nbsp;&amp; E</td>
			<td headers="table_heading_1">Barbara Twena</td>
			<td headers="table_heading_2">020 7126 1628</td>
			<td headers="table_heading_2">61628</td>
		</tr>
		<tr>
			<td headers="table_heading_0">G &amp; Ha - Hj</td>
			<td headers="table_heading_1">Gowtham Ramkumar</td>
			<td headers="table_heading_2">020 7126 1485</td>
			<td headers="table_heading_2">61485</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Hk - Hz &amp; L</td>
			<td headers="table_heading_1">Rumana Miah</td>
			<td headers="table_heading_2">020 7126 1490</td>
			<td headers="table_heading_2">61490</td>
		</tr>
		<tr>
			<td headers="table_heading_0">J, K &amp; N</td>
			<td headers="table_heading_1">Helena Emery</td>
			<td headers="table_heading_2">020 7126 1451</td>
			<td headers="table_heading_2">61451</td>
		</tr>
		<tr>
			<td>M</td>
			<td>Victoria Baxter</td>
			<td>020 7126 1524</td>
			<td>61524</td>
		</tr>
		<tr>
			<td headers="table_heading_0">R, T &amp; Y</td>
			<td headers="table_heading_1">Dean Prest</td>
			<td headers="table_heading_2">020 7126 1411</td>
			<td headers="table_heading_2">61411</td>
		</tr>
		<tr>
			<td headers="table_heading_0">O &amp; P</td>
			<td headers="table_heading_1">Alex De Silva</td>
			<td headers="table_heading_2">020 7126 1402</td>
			<td headers="table_heading_2">61402</td>
		</tr>
		<tr>
			<td headers="table_heading_0">S &amp; U</td>
			<td headers="table_heading_1">Alan Baxter</td>
			<td headers="table_heading_2">020 7126 1329</td>
			<td headers="table_heading_2">61329</td>
		</tr>
		<tr>
			<td headers="table_heading_0">I, Q, W &amp; X</td>
			<td headers="table_heading_1">Alex Gaudie</td>
			<td headers="table_heading_2">020 7126 1388</td>
			<td headers="table_heading_2">61388</td>
		</tr>
	</tbody>
</table></div>


 <div>

<p>You can visit us between 08:30 and 16:30, Monday to Friday. To arrange an appointment, please contact a member of the Pensions Team on one of the above numbers.</p>

<p>You can also write to us at:</p>

<p>TfL Pension Fund<br />
4th Floor<br />
200 Buckingham Palace Road<br />
London<br />
SW1W 9TJ</p>

<p><strong>Email:</strong>&nbsp;<a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a></p>

<p>The Fund Office looks after the day-to-day administration of the Fund. We are happy to answer any questions you may have about your benefits or pension payments.</p>

<p>We cannot provide financial advice or deal with tax matters, but will be able to tell you who to contact for help.</p>

<p>Your pension may stop if we lose contact with you, so it's important to keep us up to date.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/contact/complaints">Complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/contact/forms">Forms</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/contact/service-promise">Service promise</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/contact/overseas-payments">Overseas payments</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Contact details for the TfL Pension Fund Office";}
        
            
        


 