
    
  



@{ViewBag.Title = "Environmental, social and governance matters";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/environmental-social-and-governance-matters";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
            
                <li><span class="last-breadcrumb">Environmental, social and governance matters</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Environmental, social and governance matters</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Trustee believes that Sustainability and Environmental, Social and Governance (ESG) factors are important when investing the Fund's assets, and should be integrated into the investment process.
        
      </div>
    
    
      
      
           
        <div class="pull-quote">
    
        <div class="quote-body">"Return and sustainability are not conflicting objectives, and the main objective of the Fund is to deliver superior investment returns. Sustainability is a part of this, not some standalone objective."</div>
        <div class="quote-footer">
            <div class="quotee-name">The Trustee</div>
            
        </div>
    </div>
   

 
 <div>

<p>The Trustee is a signatory to the UN Principles of Responsible Investing (UNPRI). This is a globally supported sustainability framework and provides a structure through which signatories can assess and develop the integration of ESG criteria into their decision making practices.</p>

<h2>Regular sustainability and ESG monitoring</h2>

<p>The Trustee regularly monitors its investment managers' practices in relation to sustainability and ESG. This includes:</p>

<ul>
	<li>Receiving a Sustainable Investment Report from its investment consultant covering the Fund's public equity managers. This rates the managers in 3 categories:
	<ul>
		<li>Integration of Environmental, Social and Governance (ESG) factors</li>
		<li>Proxy vote decision making and execution process</li>
		<li>The process for pro-active corporate engagement</li>
	</ul>
	</li>
	<li>Monitoring the carbon exposure of the underlying portfolios of the Fund's listed equity and bond managers</li>
	<li>Monitoring the ESG rating of the underlying portfolios of the Fund's listed equity and bond managers using ESG ratings from a third party provider</li>
	<li>Including sustainability and ESG factors in discussions with both current and potential investment managers when they present to the Trustee</li>
</ul>

<h2>Publications and reports</h2>

<p>Environmental, social and governance reports can be found in our <a href="/pensions/news-and-publications/publications">News and publications</a> section.</p>

<h2>Latest report findings</h2>

<p>The last Sustainable Investment Report received by the Trustee identified one equity manager with weaknesses in ESG integration and voting. This was because the manager adopted a mechanistic approach to investing, with a high level of stock turnover. Of the other managers covered, none had any areas rated as a weakness and all but one had at least one area of strength. Two of the managers were rated as strong in all three of the categories listed above.</p>

<p>The Trustee regularly engages with their investment managers to debate and challenge on ESG issues. It is not the Trustee's role to discuss specific investments but to set a framework for the investment manager to operate within.</p>

<p>In addition to this, the Fund also invests in some portfolios specifically targeting a sustainable investment theme, such as renewable energy and water and sewerage infrastructure.</p>

<p>The Sustainable Investment Report will be prepared every 2 years and will then be reviewed by the Trustee.</p>

<p>&nbsp;</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on how the TfL Pension Fund takes Sustainability and Environmental, Social and Governance (ESG) factors into account when investing the Fund’s assets. ";}
        
            
        


 