
    
  
    
<a class="broadcast-comms" href="https://tfl.gov.uk/pensions/news-and-publications/pension-fund-office-move">
    <div class="r">
        <div class="broadcast-text">
            <h2>We have moved</h2>
            The Pension Fund Office has moved to 200 Buckingham Palace Road
        </div>
    </div>
</a>
 
  


<!-- rhroot -->
@{ViewBag.Title = "TfL Pension Fund";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/aerial-london-1400x512px.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/aerial-london-1400x512px.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">TfL Pension Fund</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">TfL Pension Fund</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        <h2 class="moving-source-order">TfL's Pension Fund</h2>
                    </div>
                <p>Find out about the Fund and the benefits it provides to its members.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div class="related-links">

    <h3>Member self-service website</h3>
<p>The new member web service is now available. </p>
<div class="vertical-button-container">

<a href="/pensions/news-and-publications/member-self-service" class="plain-button">Find out how to register</a>
    </div>
</div>
 <div class="related-links">

    <h3>Log in</h3>
<p>Or if you have already registered: </p>
<div class="vertical-button-container">

<a href="https://www.pensions.tfl.gov.uk/PWPUser/Account/Login?ReturnUrl=%2FPWPUser%2F" class="plain-button">Log in</a>
    </div>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guide-to-the-pension-web-portal-january-2020.pdf">
    <div class="document-download-text">
        <p>A guide to the Pension Web Portal</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.33 -->
 
</div>

</div>
 <div class="news-teaser">

    <a href="/pensions/your-pension?intcmp=23558" >
        
        
        <div class="text-link">
             <h2>Your pension</h2>
            <p>All you need to know about your pension</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>News and updates</h3>
Get news and updates about pensions events and changes
<div class="vertical-button-container">

<a href="/pensions/news-and-publications/maximising-additional-voluntary-contributions-for-2019-20" class="plain-button">Maximising Additional Voluntary Contributions for 2019/20 </a>
<a href="/pensions/news-and-publications/pcc-election-results-2019" class="plain-button">PCC election results 2019</a>
<a href="/pensions/news-and-publications/pension-fund-office-move" class="plain-button">Pension Fund office move</a>
    </div>
</div>
 <div class="news-teaser">
    <div class="text-link">
        
        
        
        
        
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pensions-glossary-january-2020.pdf">
    <div class="document-download-text">
        <p>Download our glossary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 564KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 
        </div>
        
    </div>
</div>



 
</div>
 <div>

<div class="news-teaser">

    <a href="/pensions/your-pension/your-contributions/additional-voluntary-contributions?intcmp=23579" >
        
        
        <div class="text-link">
             <h2>Additional Voluntary Contributions</h2>
            <p>Improve your future by topping up</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>Save money and go green</h2>
        
        
        <p>To have our regular communications sent to your inbox, email your name and member or employee number to <a href="mailto:helpdesk&#64;tflpensions.co.uk?Subject=Registering%20to%20go%20green">helpdesk&#64;tflpensions.co.uk</a></p>
<p><a href="mailto:helpdesk&#64;tflpensions.co.uk?Subject=Registering%20to%20go%20green"></a></p>
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pensionews-march-2019.pdf">
    <div class="document-download-text">
        <p>Newsletter - March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/on-the-move-issue-66-january-2020.pdf">
    <div class="document-download-text">
        <p>On The Move - January 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-annual-review-2019.pdf">
    <div class="document-download-text">
        <p>Annual Review 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.15 -->
 
        </div>
        
    </div>
</div>



 <div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>Help sheets</h2>
        
        
        <p>Find out how these impact your pension</p>
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/state-pension.pdf">
    <div class="document-download-text">
        <p>The state pension is changing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impact-of-working-part-time-on-pension-benefits.pdf">
    <div class="document-download-text">
        <p>Working part-time</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pension-choices-from-age-60.pdf">
    <div class="document-download-text">
        <p>Pension choices from age 60</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/planning-for-your-retirement.pdf">
    <div class="document-download-text">
        <p>Planning for your retirement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pension-impact-of-a-non-consolidated-pay-award.pdf">
    <div class="document-download-text">
        <p>Non consolidated pay awards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 144KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
        </div>
        
    </div>
</div>



 
</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>TfL Pension Fund terms and conditions</h3>

<div class="vertical-button-container">

<a href="/corporate/terms-and-conditions/tfl-pension-fund" class="plain-button">Read our terms and conditions and data protection information</a>
    </div>
</div>
 <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact TfL Pension Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                
                4th Floor<br />
                200 Buckingham Palace Road<br />
                London<br />
                SW1W 9TJ
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/pensions/contact" class="plain-button">More contact details</a>
        </div>
        
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Keep up with everything you need to know about the TfL Pension Fund and your own pension";}
        
            
        


 