
    
  



@{ViewBag.Title = "The Night Tube";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tube-improvements/what-we-are-doing/night-tube";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></li>
                
            
            
                <li><span class="last-breadcrumb">The Night Tube</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The Night Tube</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Night Tube is running Fridays and Saturdays on the Victoria, Jubilee, and most of the Central, Northern and Piccadilly lines.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/standard-night-tube-map-large.gif" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/standard-night-tube-map_rdax_400x250.gif" alt="Night Tube map" />
             <span class="caption">See where the Night Tube is running</span>
        </a>
        
        
    </div>
    <h2>Service details</h2>
<p><strong>Victoria line</strong> - trains run on average every 10 minutes across the entire line</p>
<p><strong>Central line</strong> - trains run approximately every 10 minutes between White City and Leytonstone and approximately every 20 minutes between Ealing Broadway to White City and Leytonstone to Loughton/ Hainault</p>
<p>No service between North Acton and West Ruislip, Loughton and Epping and Woodford and Hainault</p>
<p><strong>Jubilee line</strong> - trains run on average every 10 minutes across the entire line</p>
<p><strong>Northern line</strong> - trains run on average every 8 minutes between Morden and Camden Town and approximately every 15 minutes from Camden Town to High Barnet / Edgware.</p>
<p>No service on the Mill Hill East and Bank branches</p>
<p><strong>Piccadilly line</strong> - trains run on average every 10 minutes between Cockfosters and Heathrow Terminal 5</p>
<p>No service on the Terminal 4 loop, or between Acton Town and Uxbridge</p>
 </div>
 <div>

<h2>Fares</h2>
<p>Night Tube fares are off-peak. Day Travelcards are valid on the day of issue (using the date printed on the card), and for journeys starting before 04:30 the following day. For example, if you buy a Day Travelcard at 11:00 on Friday, you can use it until 04:29 on the following Saturday. Daily capping on <a href="https://tfl.gov.uk/fares-and-payments/oyster/using-oyster/price-capping">Oyster cards</a> and <a href="https://tfl.gov.uk/fares-and-payments/contactless/what-is-capping">contactless payment cards</a> also applies.</p>
</div>
 <div>

<h2>Accessibility</h2>
<p>Step-free accessibility at the Night Tube stations is the same as during the day service.</p>
</div>
 <div>

<h2>Staffing policy</h2>
<p>All stations will continue to be staffed by London Underground employees while train services are running, just as we do in the day. Staff will be visible and available to help you with any queries.</p>
</div>
 <div>

<h2>Safety</h2>
<p>
All stations continue to be staffed by London Underground employees while train services are running, just as we do in the day.</p>
<p>We are also <a href="https://www.youtube.com/watch?v=tcp2Xp-fn_c">working hard with our policing partners</a> to ensure the Tube network remains a safe, low crime environment.</p>
</div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/night-tube-taxi-rank-guide.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/night-tube-map-victoria-cen_rdax_400x250.gif" alt="Night Tube map showing Victoria, Central and Jubilee lines" />
             <span class="caption">See which Night Tube stations have taxi ranks</span>
        </a>
        
        
    </div>
    <h2>Taxi ranks at Night Tube stations</h2>
The map shows which of the current Night Tube stations have taxi ranks running.
 </div>
 <div>

<h2>Noise and disturbance</h2>
<p>We are sensitive to the potential of additional noise and disturbance created by the Night Tube. Since 2014, we've been working hard to reduce noise from our tracks, and we will continue to work with residents to investigate any issues in this area. We will also ensure that any station announcements do not cause excessive noise levels.</p>
<p>We will continue to deliver upgrade and maintenance work, and when possible we plan to do this overnight between Sunday and Thursday on the Night Tube lines.</p>
</div>
 <div>

<h2>Night buses</h2>
<p>The following bus routes&nbsp;are now running&nbsp;24 hours a day on Friday and Saturday: 34, 114, 123, 145, 158, 183, 296, 307, 319, E1, H32 (from 16 December), W3 and W7.</p>
<p>These services run twice an hour through the night, with W7 running three times an hour. We also already have an extensive network of night buses to and from Night Tube stations.</p>
<p><a href="https://tfl.gov.uk/maps_/bus-spider-maps">Night bus maps are available</a> for all routes &#45; just enter the route or area you are interested in to see where night services are available.</p>
</div>
 <div>

<h2>Why now?</h2>
<p>The new service has been made possible thanks to the continued modernisation of significant parts of the Underground network and improved levels of reliability. Independent research into the economic benefits of the Night Tube found that the new service will boost jobs and help maintain London's status as a vibrant and exciting place to live, work and visit.</p>
<p>The Night Tube will cut night-time journeys by an average of 20 minutes, with some cut by more than an hour. It will also play a vital role in opening up London's night-time economy, supporting almost 2,000 permanent jobs and boosting the economy by &pound;360m.</p>
<p>Demand for a 24-hour Tube service is clear - late night Tube use has increased at double the rate of day-time trips and Night bus usage has risen by 173% since 2000. There are already over half a million users of the Tube after 22:00 on Fridays and Saturdays.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/night-time-economy.pdf">
    <div class="document-download-text">
        <p>Full report - Impact of the Night Tube on London's night-time economy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.38 -->
 
</div>

</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/campaign/station-wifi?intcmp=1951" >
        
        
        <div class="text-link">
             <h2>Wifi on the Underground</h2>
            <p>Available at over 250 stations. Find out more</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/tube-improvements?intcmp=28904" >
        
        
        <div class="text-link">
             <h2>Tube Improvements</h2>
            <p>How the Tube is being updated to provide more capacity for a growing city</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/improving-the-trains">Improving the trains</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/improving-customer-service">Improving customer service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/minimising-disruption">Minimising disruption</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing/night-tube">The Night Tube</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/london-overground/london-overground-night-service" class="plain-button">London Overground Night Service</a>
    </div>
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon tfl">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter</h3>
    <p>All the latest from the TfL network</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.twitter.com/tfl">Follow &#64;TfL</a>
  </div> 
</div>
 <div class="follow-social facebook">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Facebook</h3>
    <p>News and latest information about the Tube</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.facebook.com/londonunderground">Like</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Fridays and Saturdays on five lines. Standard off-peak fares apply";}
        
            
        


 