


@{ViewBag.Title = "Barclays saddle up to sponsor London Cycle Hire scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Barclays saddle up to sponsor London Cycle Hire scheme</h1>
        <div class="content-page-press-release">
        28 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Barclays Cycle Hire roadshow to tour the Capital. Barclays to also sponsor the Cycle Superhighway network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are sure these schemes will become as iconic as the Tube or London buses
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, was today joined by Deanna Oppenheimer, CEO UK Retail Bank and Vice-Chair Global Retail Bank, from Barclays to reveal that the global bank will sponsor London's eagerly anticipated Cycle Hire scheme, which launches in the Capital on Friday 30 July.</p>
<p>From that date Londoners and visitors to the city will be able to pick up and drop off one of thousands of hire bicycles at hundreds of locations across London's Zone&nbsp;1 travel area, as part of what will now be known as Barclays Cycle Hire. </p>
<p>The deal, which is worth up to &pound;25m over five-years, also includes the Barclays Cycle Superhighways with the first two of twelve planned cycle routes set to launch in the Capital on 19 July.</p>
<p>A programme of 45 Barclays Cycle Hire roadshows across central London were also launched by the Mayor today. </p>
<p>The roadshow will give Londoners all the information they need to sign up, saddle up and set off on Barclays Cycle Hire.&nbsp; </p>
<p>Londoners will be able to see all of the kit including the final bicycle, docking stations and terminals. </p>
<h2>Sign up online</h2>
<p>Information on the new Barclays Cycle Superhighways will also feature on the roadshows closest to the chosen routes. </p>
<p>The Mayor of London, Boris Johnson, said: 'I'm delighted that Barclays are on board and they are going to help us deliver the cleanest, greenest and healthiest form of public transport that London has ever seen. </p>
<p>'Barclays Cycle Hire, alongside Barclays Cycle Superhighways, will mark 2010 in the history books of our great city as the year that we put the measures in place to create a cycling revolution in London.'</p>
<p>The &pound;25m sponsorship deal will give Barclays naming rights for the two flagship cycling schemes and branding on the hire scheme's new bicycles, maintenance support vehicles and on the uniforms of maintenance staff, as well as on all marketing and communications materials.</p>
<p>Deanna Oppenheimer, CEO UK Retail Bank and Vice Chair Global Retail Bank, at Barclays said: 'We are really excited to be part of these two flagship schemes that will help Londoners to lead more active lives and promote the benefits of cycling as a sustainable, environmentally friendly mode of transport. </p>
<p>'It will also take our brand around London, one of the most famous cities in the world and the home of our global headquarters, in an eye-catching and innovative way. </p>
<h2>Free cycle training</h2>
<p>'So we look forward to supporting this programme. </p>
<p>'We are sure these schemes will become as iconic as the Tube or London buses.'</p>
<p>Today Transport for London&nbsp;(TfL) gave 50 of the new Barclays Cycle Hire bicycles to the nine London boroughs that the scheme will operate in. </p>
<p>This means that people who live, work or study in the Barclays Cycle Hire zone will be able to sign up for cycle training in advance of the scheme going live, and be among the first in London to ride one of the bicycles.</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'The Mayor and TfL want to make cycling a safer, more accessible and more attractive option for everyone in London. </p>
<p>'We are delighted that Barclays share this vision. </p>
<p>'TfL is providing additional adult cycle training in advance of the launch of both of these exciting schemes to ensure that Londoners are able to reap the full benefits, and improve their skills and confidence on the Capital's roads. </p>
<p>'London's cycling revolution is well underway and these schemes are set to encourage even more Londoners to get involved.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Find out more more about <a href="http://www.tfl.gov.uk/barclayscyclehire">Barclays Cycle Hire</a>, and register your interest in the scheme online.&nbsp;Go online for more information about <a href="http://www.tfl.gov.uk/barclayscyclesuperhighways">Barclays Cycle Superhighways</a>
<li>Barclays Cycle Hire, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable and environmentally friendly form of public transport ever seen in the Capital</li>
<li>Once complete, Barclays Cycle Hire will provide 6,000 bicycles, which will be available from around 400 docking stations across the Zone&nbsp;1 travel area</li>
<li>Barclays Cycle Superhighways are a set of 12 radial routes that will deliver benefits to cyclists by making it safer and easier to commute by bike between outer and inner London on direct and continuous cycle routes. Two pilot routes, Merton to the City and Barking to Tower Gateway, will launch on 19 July with the remaining ten up and running by the end of 2015</li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways will build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000. Barclays Cycle Hire is expected to generate up to 40,000 extra cycle trips a day in central London. There are currently 5,000 cycle journeys a day on both pilot Barclays Cycle Superhighways routes; TfL's target is to increase this by 22,000 cycle trips per day by 2013</li>
<li>Each of the 45 Barclays Cycle Hire roadshows, which run from today until October, will provide practical demonstrations, hints and tips&nbsp;- including how to register for the scheme, how much it will cost to use, and how to pick up and drop off hire bicycles from the docking stations. Existing or potential cyclists will also be given safety tips, details of cycle routes and will be encouraged to sign up for TfL-funded cycle training through their local borough council. Go online for information on how to set up your <a href="http://www.tfl.gov.uk/cycling ">cycle training session</a></li>
<li>Seventeen of the roadshows will be held at locations close to the Barclays Cycle Superhighways pilot routes so will include information on this scheme as well as Barclays Cycle Hire. A full <a href="http://www.tfl.gov.uk/barclayscyclehire">schedule of the roadshow events</a> is available online</li>
<li>Barclays Cycle Hire will operate across central London. Docking stations and hire bicycles will be available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, was today joined by Deanna Oppenheimer, CEO UK Retail Bank and Vice-Chair Global Retail Bank, from Barclays to reveal that the global bank will sponsor London's eagerly anticipated Cycle Hire scheme, which launches in";}
        
        


 