


@{ViewBag.Title = "Crime falls again on the Tube as investment in security continues";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crime falls again on the Tube as investment in security continues</h1>
        <div class="content-page-press-release">
        25 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's Tube and DLR network sees a four per cent reduction. Just 13 crimes per million passenger journeys.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Thanks to the tireless work of the British Transport Police, TfL and the Met, our transport system is now extremely safe"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">the Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Thanks to the tireless work of the British Transport Police, TfL and the Met, our transport system is now extremely safe
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has welcomed the announcement that crime on the Underground and Docklands Light Railway (DLR) went down by four per cent in 2009/10. </p>
<p>Some of the most notable statistics released by the British Transport Police (BTP) showed that:</p>
<ul>
<li>Violent crime has been cut by nearly eight per cent </li>
<li>Public disorder offences are down by around 23 per cent </li>
<li>Vandalism has reduced by 17 per cent </li>
<li>Drug-related offences have seen a reduction of nearly 22 per cent </li>
<li>Pickpocketing has seen an 11 per cent rise</li></ul>
<p>Following the increase in theft of passenger property TfL has worked with the BTP on dedicated operations to tackle these offences and pickpocket figures are already starting to see a significant reduction.</p>

<h2>Reduction in crime</h2>
<p>Continued improvements in safety and security on trains and stations, as well as TfL's ongoing collaborative work with the BTP, have helped with this overall reduction.&nbsp; </p>
<p>But there is always more that can be done which is why significant resources are devoted to catching and prosecuting criminals, and CCTV cameras across the network are being increased from 12,000 to more than 14,000 in years to come.</p>
<p>In addition London Underground (LU) is consulting on changes with trade unions on operational staffing at Tube stations, which would see staff from behind ticket offices move out onto station platforms and gate lines to provide a more visible presence for passengers.</p>
<p>There are now more than 1500 Help points across the Tube network and our most recent market research shows people feel safer while travelling on the Tube.&nbsp; </p>

<h2>Joint working</h2>
<p>There are now just 13 crimes for every million passenger journeys.</p>
<p>Assaults on Tube staff have also seen a nine per cent reduction which shows the great work of the joint LU and BTP Workplace Violence Unit, which focuses on physical violence, threats and abuse against staff.&nbsp; </p>
<p>In addition, crime on London Overground has remained low overall with significant reductions in robberies and drug-related offences.</p>
<p>Boris Johnson, the Mayor of London, said: 'Thanks to the tireless work of the British Transport Police, TfL and the Met, our transport system is now extremely safe.&nbsp; </p>
<p>'Other cities around the world now look to London's network as an example of good policing, but we must never be complacent about crime, and must continue to invest to ensure that it is safe for all and that everyone can travel with confidence.'</p>
<p>Howard Collins, Chief Operating Officer of LU, said:&nbsp; 'It's very encouraging news that crime on the Tube is down for another year running and this should reassure our passengers that they're even safer to travel.</p>

<h2>Feeling safe</h2>
<p>'While this overall decrease in crime is a welcome development, and the British Transport Police work hard to successfully reduce it even further, it is regrettable that pickpockets continue to operate on public transport.&nbsp; We will continue to introduce measures to tackle crime and maintain the Tube and DLR as a hostile network to criminals.'</p>
<p>BTP Deputy Chief Constable Andy Trotter, said:&nbsp; "Being safe and feeling safe are equally important.&nbsp; </p>
<p>'The annual Tube crime figures are very good news but we've got more work to do to make people feel even safer when they travel.</p>
<p>'We know that people often feel more vulnerable when they travel after dark.</p>
<p>'We've listened to our communities and changed our patrol patterns so that we now have more officers on patrol after 8pm when passengers want to see them most.'</p>
<p>
<hr>
<strong>Notes to editors: </strong>
<p>
<ul>
<li>Figures released by the British Transport Police (BTP) show that for 2009/10: 
<ul>
<li>Crime on the LU/DLR network was down by four per cent (from 15,109 to 14,536) </li>
<li>There are now just 13 crimes for every million passenger journeys </li>
<li>Violent crime has been cut by 7.5 per cent (from 2,158 to 1,997) </li>
<li>Sexual offences have been reduced by 3 per cent (from 338 to 328) </li>
<li>Criminal damage has gone down by 17.2 per cent (from 1,615 to1,337) </li>
<li>Theft of passenger property or pick-pocketing has seen an increase of 10.8 percent&nbsp; (from 6,134 to 6,794) </li>
<li>Theft of railway property, including cable theft, has seen an increase of 6.8 per cent (from 381 to 407) </li>
<li>Public disorder offences have gone down 22.7 per cent (from 1,892 to 1,462) </li>
<li>Fraud offences, including tampering with cash and ticket machines on LU property, have gone down by 10.4 per cent (from 230 to 206) </li>
<li>Drug-related offences have gone down by 21.7 per cent (from 1,616 to 1,266) </li>
<li>Robbery saw an increase of 0.7 per cent (from 136 to 137) </li>
<li>In 2008/9 there was an eight per cent drop in crimes, according to BTP statistics</li></ul></li>
<li>Assaults on members of LU staff also went down by nine per cent (from 701 to 635). LU and the BTP have a joint Workplace Violence Unit&nbsp;which was set up in 2006 to focus on physical violence, threats and abuse against Tube staff, which aims at making the Tube network a safer place for staff </li>
<li>Figures released by the BTP for London Overground also show that for 2009/10: 
<ul>
<li>Crime on the London Overground network was down from 523 to 517 </li>
<li>Violent crime increased from 111 to 113 </li>
<li>Sexual offences have been reduced by 38.5 per cent (from 13 to 8) </li>
<li>Criminal damage increased from 49 to 58 </li>
<li>Theft of passenger property or pick-pocketing has seen an increase of from 73 to 85 </li>
<li>Theft of railway property, including cable theft, was reduced by 27.8 per cent (from 36 to 26) </li>
<li>Public disorder offences went up from 87 to 91 </li>
<li>Fraud offences, have gone down by 60 per cent (from 5 to 2) </li>
<li>Drug-related offences have gone down by 25 per cent (from 112 to 84) </li>
<li>Robbery saw a decrease of 26.7 per cent (from 15 to 11)</li></ul></li>
<li>LU carried more than a billion passengers in 2009/10 </li>
<li>In 2003, there were 470 BTP officers for LU. Over the last few years this has increased to more than 700 officers </li>
<li>TfL monitors people's views on the different aspects involving the use of the Capital's transport system through market research.&nbsp;This includes perceptions on personal safety when travelling on and waiting for transport services </li>
<li>There are approximately 12,000 CCTV cameras on the Tube network which will rise to more than 14,000 over the next few years as part of the ongoing station modernisation programme. This will see the upgrading and expansion of CCTV facilities from analogue to digital and the recording of high quality images to hard drive rather than magnetic tape. This will ultimately mean that no one will be able to enter the Underground network without their face being recorded by CCTV camera. CCTV coverage also extends to trains and will be expanded as new rolling stock arrives on the network. Footage from CCTV cameras is not only able to viewed and monitored locally by a specific station but can also be accessed remotely by the Network Operation Centre at London Underground HQ and by the BTP. This does not cover all stations </li>
<li>Information points are being installed at every station as&nbsp;they undergo refurbishment with as many as 26 installed at some of the busiest stations. These Information points give passengers and staff access to the station supervisor's office at the touch of a button. If there is no member of staff in the station control room, for any reason, the Information point will automatically connect to the 999 emergency services help line </li>
<li>Additional improvements to Tube security in recent decades have seen the introduction of clear lines of sight and improved lighting on platforms as stations are upgraded and refurbished</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has welcomed the announcement that crime on the Underground and Docklands Light Railway (DLR) went down by four per cent in 2009/10. Some of the most notable statistics released by the British Transport Police (BTP) showed";}
        
        


 