


@{ViewBag.Title = "East London Transit is flushed with success";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>East London Transit is flushed with success</h1>
        <div class="content-page-press-release">
        21 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) was thrilled to receive one of the prestigious awards from The Royal Institute of British Architects (RIBA) 2010 annual award for architectural excellence in the UK and Europe.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are pleased to receive this award from RIBA as it acknowledges the thought and consideration TfL made when designing this new modern bus service for East Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Penny Rees</div>
            <div class="quotee-job-title">East London Transit Senior Programme Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are pleased to receive this award from RIBA as it acknowledges the thought and consideration TfL made when designing this new modern bus service for East Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>The award celebrated the design, by Julian Cowe Architects, of a new bus driver facility which is located in the terminus at Dagenham Dock, part of the first phase of the East London Transit.</p>
<p>The new oval shaped facility, which houses toilets and rest areas for drivers, forms the focal point of the terminus and was designed to fit into the surrounding industrial landscape.&nbsp; </p>
<p>The perforated metal cladding hides a host of environmental features which reduce carbon emissions, these include:</p>
<ul>
<li>A green roof to help reduce sub-surface drainage </li>
<li>Building fabric which&nbsp;provides high levels of insulation and air tightness that help reduces peak summertime temperature naturally </li>
<li>Air source heating which extracts ambient heat from external air to provide heat in the winter and cooling when required </li>
<li>Low flush toilets and waterless urinals which facilitate low water usage, these being naturally ventilated </li>
<li>Sun pipes that provide high levels of natural light internally and energy-efficient lighting on photosensitive timers for periods of darkness</li></ul>
<p>Penny Rees, Senior Programme Manager for East London Transit, said: 'We are pleased to receive this award from RIBA as it acknowledges the thought and consideration TfL made when designing this new modern bus service for East Londoners.&nbsp;</p>

<p>'This attractive and highly energy-efficient building provides bus drivers with modern toilet and rest facilities that are environmentally friendly and enhance the surrounding area.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The 2010 RIBA Awards for excellence was presented to 102 buildings in the UK and Europe and was awarded to TfL on 20 May 2010 at St Martin-in-the-Fields, Trafalgar Square</li>
<li>East London Transit provides fast, frequent and reliable services from Ilford to Dagenham Dock via Barking town centre and was launched on 20 February 2010</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The award celebrated the design, by Julian Cowe Architects, of a new bus driver facility which is located in the terminus at Dagenham Dock, part of the first phase of the East London Transit.The new oval shaped facility, which houses toilets and rest";}
        
        


 