


@{ViewBag.Title = "Energy-busting LED traffic signal installation begins this August ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Energy-busting LED traffic signal installation begins this August </h1>
        <div class="content-page-press-release">
        28 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A total of 300 junctions to be upgraded with 3,000 new technology lights by 2013. Upgraded signals will reduce carbon emissions by around 470 tonnes a year. The &pound;2.4m rollout to be funded through Transport for London's (TfL's) Climate Change Fund.
        
    </div>



 <div class="on-this-page">
<p>TfL will begin a programme to upgrade traffic signals to new LED technology at around 300 sites from August.&nbsp; </p>
<p>The programme, which has been funded through TfL's Climate Change Fund, is part of the Mayor of London, Boris Johnson's commitment to reduce the Capital's CO2 emissions by 60 per cent by 2025 while saving money off fuel bills by becoming energy efficient. </p>
<p>The Mayor wants all London's traffic lights to eventually be LED.&nbsp; </p>
<p>TfL plans to install around 3,000 LED traffic light heads at approximately 300 junctions and pedestrian crossings across the Capital. </p>
<p>Once this introduction is complete, around seven per cent of all traffic signals in London will use LED technology. </p>
<p>This is the one of the largest introductions of LED traffic lights in the UK.</p>
<h2>Reducing emissions</h2>
<p>The LED technology will use 60 per cent less energy than current lamps, and if rolled out to all of London's 6,000 traffic signal sites, would reduce CO2 emissions by up to 10,000 tonnes per year. </p>
<p>Upgrading the traffic signals at these 300 sites will save around 470 tonnes of CO2 emissions a year&nbsp;- enough gas to fill more than 2280 double deck buses.</p>
<p>TfL has worked with a number of companies to test this technology for use in the wider market, and hopes that this rollout will lead to a greater uptake of LED traffic signal technology across the UK.</p>
<p>Boris Johnson, the Mayor of London, said: 'LED lights drastically cut energy consumption helping to save money off bills and tackle climate change. </p>
<p>'By committing to install these greener, leaner traffic signals, delivered by companies here in the UK, we are also helping to stimulate the growth of green industries, bringing down the cost of pioneering environmental technology and placing London at the forefront of low carbon advancement.'</p>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL said: 'The 300 traffic signal sites across London will not only reduce CO2 emissions, but will also require less maintenance and use less power. </p>
<h2>Green technology</h2>
<p>'By investing in this technology, we hope to encourage more highway authorities across the UK to invest in green technology and help reduce CO2 levels across the country.'</p>
<p>TfL is leading the way with LED traffic light introduction which it hopes will pave the way for their wider use across the UK. </p>
<p>LED product designs and costs have improved dramatically in recent years and initial barriers specific to the requirements of the UK market are being overcome ahead of the installation in London.</p>
<p>TfL trialled LED traffic lights on a small scale in Croydon between January 2007 and August 2008. </p>
<p>These trials demonstrated that a product suitable for the UK marketplace, with reduced power consumption and at a reasonable price, was feasible. </p>
<p>As well as this rollout of LED traffic signals, TfL is also carrying out a number of trials and studies to see where else LED technology could be installed across the London transport network. </p>
<p>As part of this, LED technology has already been installed in some London Underground stations, at every roadside bus ticket machine in the Capital and at 3,500 solar powered bus stops and 640 passenger shelters in London.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The LED traffic signals will be installed as part of the ongoing TfL traffic signal upgrade programme. TfL will announce the locations of the first of these traffic signals later this year
<li>TfL intends to award the contracts to manufacture around 3,000 LED traffic signals and 1,500 pedestrian signals to Telent Technology Services and Traffic Engineering Services Limited (subject to final contract negotiations)<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL will begin a programme to upgrade traffic signals to new LED technology at around 300 sites from August.&nbsp; The programme, which has been funded through TfL's Climate Change Fund, is part of the Mayor of London, Boris Johnson's commitment to reduce";}
        
        


 