


@{ViewBag.Title = "Final stage of consultation to remove Western Extension from Congestion Charging gets under way";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final stage of consultation to remove Western Extension from Congestion Charging gets under way</h1>
        <div class="content-page-press-release">
        24 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposal that Western Extension be gone by Christmas.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"West London never wanted the Western Extension and it is right that residents there can now tell us whether this Christmas should see the end of it"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            West London never wanted the Western Extension and it is right that residents there can now tell us whether this Christmas should see the end of it
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Auto Pay accounts could make payment simpler </li>
<li>Scheme would go greener with new vehicle discount&nbsp; </li></ul>
<p>Transport for London (TfL) has begun a statutory public consultation on a number of proposed changes to London's Congestion Charge today.&nbsp;</p>
<p>If approved the last charging day for the Western Extension could be Christmas Eve, with other changes coming into effect on 4 January 2011. </p>
<h2>Western Extension</h2>
<p>In the consultation the Mayor proposes that the last charging day for the Western Extension would be 24 December 2010.&nbsp;</p>
<p>It would be suspended as normal over the festive period then from Tuesday 4 January the Congestion Charging zone will revert to substantially the same boundaries as existed prior to the Western Extension being added in 2007.&nbsp;</p>
<p>Those people who receive the 90 per cent Resident's Discount because they reside within the Western Extension, or immediately adjacent to the Western Extension boundary, would no longer qualify for a 90 per cent discount from the charge.</p>
<p>It is also proposed that a Congestion Charging Auto Pay scheme is set up to make paying the Congestion Charge easier and more convenient.&nbsp;</p>
<h2>Auto Pay</h2>
<p>To register customers would need a credit or debit card and to pay a &pound;10 registration charge for each vehicle on the account.&nbsp;</p>
<p>Auto Pay would ensure that no Penalty Charge Notices (PCNs) would be issued to any registered vehicles, meaning drivers would no longer be penalized for forgetting to pay the charge.&nbsp;Auto Pay customers would also be eligible for a daily charge of &pound;9.&nbsp;</p>
<p>Drivers would only be charged for the days they travel within the zone and would be billed each month. </p>
<p>The Mayor also proposes to remove the Alternative Fuel Discount and introduce a Greener Vehicle Discount that would encourage a switch to much cleaner and more CO2 efficient cars.&nbsp;</p>
<p>The Greener Vehicle Discount would provide a 100 per cent discount to cars that emit 100g/km of CO2 or less and meet the Euro V standard for air quality.&nbsp; </p>
<h2>Alternative Fuel Discount</h2>
<p>As with the current Alternative Fuel Discount owners of cars eligible for the Greener Vehicle Discount would have to pay a &pound;10 annual registration charge.</p>
<p>The Mayor also intends on widening the eligibility criteria for the electric vehicle discount to include plug-in hybrid electric vehicles. </p>
<p>The Mayor of London, Boris Johnson, said: 'West London never wanted the Western Extension and it is right that residents there can now tell us whether this Christmas should see the end of it. </p>
<p>'The central zone still plays a useful role but it has to be administered more fairly and straightforwardly, which is why I'm delighted the proposals include changes that should mean no one need ever be fined again.'</p>
<p>The current Alternative Fuel Discount provides a 100 per cent discount to some vehicles that are powered by an alternative fuel*.&nbsp;</p>
<p>However, some benefits of the alternative fuels have been outpaced by technological developments in other vehicles.&nbsp;This means that some new vehicles that do not qualify for the Alternative Fuel Discount have better environmental performance than some vehicles that do qualify.&nbsp;</p>
<p>It is proposed that the Alternative Fuel Discount be closed to new registrations on 24 December 2010.Owners of vehicles registered with TfL before that date would continue to receive a 100 per cent discount for a two year period. </p>
<p>For almost five years, the daily Congestion Charge has remained at &pound;8 (or &pound;10 if paid the next charging day). In real terms the value of the charge has fallen over this period.&nbsp; The Mayor now proposes increasing the daily charge to &pound;10 if paid in advance (or on the day) and &pound;12 if paid the next charging day.&nbsp;</p>
<h2>Improving London's transport</h2>
<p>The increase would ensure the charge remains an effective measure to control traffic levels in central London.&nbsp;</p>
<p>Any net revenue generated by the Congestion Charge must by law be invested in improvements to London's transport. </p>
<p>More information on the consultation, including the supporting documents, are available from TfL's website at <a href="http://www.cclondon.com">www.cclondon.com</a> </p>
<p>The 10-week statutory consultation closes on Monday 2 August 2010.&nbsp; TfL will then prepare a report for the Mayor reflecting the comments received during the consultation process.&nbsp;</p>
<p>The Mayor will then make a decision on whether or not to go ahead with the proposals with or without modifications.&nbsp;Should the Mayor decide to proceed with the scheme changes they would come into effect on Tuesday 4 January 2011.&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>* TfL uses the DVLA definition of alternative fuel vehicles - which includes LPG, natural gas and petrol-electric hybrids.&nbsp;&nbsp;&nbsp; </p>
<p>
<hr>
<br><strong>Notes to editors</strong> 
<p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003 </li>
<li>On 19 February 2007 it was extended westwards, creating a single enlarged zone in which the same charges, discounts and exemptions apply </li>
<li>The scheme has helped reduce emissions of climate change gasses and environmental pollutants from vehicles and encouraged people travelling in the area to use public transport, to walk or cycle </li>
<li>The Mayor and TfL have listened to the concerns about the impact of the Western Extension on the local economy and on people living in the zone </li>
<li>In September 2008 the Mayor invited stakeholders, businesses and the public to give their views on the future of the Western Extension. The majority of respondents favoured its removal </li>
<li>The Mayor included the proposal to remove the Western Extension in his draft Transport Strategy. Again, the majority of respondents were in favour of its removal, and it was adopted as a formal proposal (Proposal 128) in the published Transport Strategy </li>
<li>The consultation that TfL is now undertaking represents the next stage in the legal process to remove the Western Extension </li>
<li>TfL's analysis suggests that the removal of the Western Extension would lead to an increase in traffic and congestion in the area, however a number of measures would help to mitigate this, including accelerated installation of computer-optimised traffic signals, the London (roadworks) Permit Scheme and continued workplace and school travel planning </li>
<li>A small reduction in congestion in the central London Congestion Charging zone is expected as a result of the removal of the Western Extension </li>
<li>The removal of the Western Extension would result in a &pound;55m reduction in net annual revenue for TfL, as a result of people no longer having to pay a charge to drive in the area </li>
<li>Although emissions of air quality pollutants from road transport in the zone are predicted to increase as a result of the removal of the Western Extension, it is not anticipated that this would result in a deterioration of air quality in the Capital </li>
<li>The consultation also proposes that, following the passing of new legislation, all Ministry of Defence vehicles would be exempt from the Congestion Charge.&nbsp;Currently only Military Defence vehicles that are being used for naval, military or air force purposes are exempt </li>
<li>The vast majority of vehicles that are eligible for a Congestion Charge discount must pay an initial &pound;10 registration charge and then an annual &pound;10 charge to maintain the discount.&nbsp;Currently vehicles with&nbsp;nine or more seats do not have to pay these charges.&nbsp;To ensure a consistent approach it is proposed that these vehicles would now have to pay these fees </li>
<li>Should the Greener Vehicle Discount be implemented, TfL will monitor the impact of the changes on the Congestion Charge zone. In 2013 TfL will review the criteria for the discount to ensure the congestion and environmental benefits of the scheme are being maintained </li>
<li>Fleet Auto Pay would continue to operate as it currently does, but with two differences: the minimum number of vehicles an operator can register to qualify for a fleet account reduces to six (currently it is 10) and; the discount would be changed to be in line with all other Auto Pay charge payers (i.e. &pound;9 per day) </li>
<li>Residents registered for the Resident's Discount would be able to register for Auto Pay and would then be entitled to a 90 per cent&nbsp;discount of the &pound;9 daily charge.&nbsp;Under this system, a resident's account would be charged &pound;0.90 for every day that their vehicle is used within the Congestion Charging Zone.&nbsp;This works out cheaper and more flexible than the current payment method which requires residents to purchase weekly, monthly or annual charges at set prices<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Auto Pay accounts could make payment simpler Scheme would go greener with new vehicle discount&nbsp; Transport for London (TfL) has begun a statutory public consultation on a number of proposed changes to London's Congestion Charge today.&nbsp;If approved";}
        
        


 