


@{ViewBag.Title = "Greener era for London's buses moves a step closer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Greener era for London's buses moves a step closer</h1>
        <div class="content-page-press-release">
        14 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first of five zero-emission hydrogen hybrid fuel cell buses arrived at the Millbrook Proving Ground in Bedfordshire today where it will undergo thorough safety and performance checks before it hits the streets of London later this year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London faces many environmental challenges but we believe alternative fuels, such as hydrogen, will bring genuine long term benefits"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Operations Director for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London faces many environmental challenges but we believe alternative fuels, such as hydrogen, will bring genuine long term benefits 
                            
                        </p>
                    </div>
                
            
            
            <p>The five hydrogen hybrid fuel cell buses will enter service at the end of the year on route RV1, travelling between Covent Garden and Tower Hill.&nbsp;</p>
<p>While at Millbrook the vehicle will undergo a rigorous testing and certification process to ensure it meets Transport for London's (TfL) and Department for Transport's requirements. </p>
<h2>One of the cleanest bus fleets</h2>
<p>TfL is committed to introducing less polluting transport choices to improve air quality and help tackle London's carbon dioxide (CO2) emissions.&nbsp; </p>
<p>Once in service the hydrogen hybrid fuel cell buses will produce no harmful emissions, only water vapour, and will join one of the cleanest bus fleets in the UK.</p>
<p>The buses will be delivered in partnership with Air Products, ISE Corp and Wright Bus. </p>
<p>The buses will be operated on behalf of London Buses by First Group. </p>
<h2>Genuine long-term benefits</h2>
<p>The new hydrogen buses will also be hybrid and will join the 56 diesel hybrid buses currently in service&nbsp;along with an additional 56 due to enter service later this year.&nbsp; </p>
<p>The Mayor has also committed to ensuring the New Bus for London will use the greenest hybrid technology available, when it enters service in 2012.</p>
<p>Mike Weston, Operations Director for London Buses, said: 'London faces many environmental challenges but we believe alternative fuels, such as hydrogen, will bring genuine long-term benefits in tackling CO2 emissions.&nbsp; </p>
<p>'The arrival of the first hydrogen hybrid fuel cell bus marks an exciting new chapter for London Buses as we embrace new technologies to further build on the excellent work we are doing to improve air quality for Londoners.'</p>
<p>The London Hydrogen Partnership recently published a hydrogen action plan which pledged to support the introduction of more hydrogen fuelled vehicles in the Capital.&nbsp; </p>
<p>For more information visit the <a href="http://bit.ly/a55KtN">Greater London Authority</a> website. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>When the buses enter service they will be refuelled and maintained at First Group's Lea Interchange bus garage. Work is currently underway to build the hydrogen refuelling site </li>
<li>Air Products will supply the hydrogen and refuelling equipment. ISE will supply specialist maintenance support for the buses </li>
<li>TfL is a member of the Hydrogen Bus Alliance, an international partnership whose members are committed to supporting the continued and rapid development and commercialisation of hydrogen technology in the transport sector </li>
<li>Between December 2003 to January 2007 TfL took part in the Cleaner Urban Transport for Europe (CUTE) project and its extension HyFLEET:CUTE trialling three first generation hydrogen fuel cell buses on route RV1 over a period of three years</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The five hydrogen hybrid fuel cell buses will enter service at the end of the year on route RV1, travelling between Covent Garden and Tower Hill.&nbsp;While at Millbrook the vehicle will undergo a rigorous testing and certification process to ensure it";}
        
        


 