


@{ViewBag.Title = "Life between the lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Life between the lines</h1>
        <div class="content-page-press-release">
        28 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) and Royal Society for the protection of Birds (RSPB) team up to launch wildlife competition.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The competition is a great way of raising awareness among Londoners about the wildlife living alongside us"</div>
        <div class="quote-footer">
            <div class="quotee-name">Marian Kelly</div>
            <div class="quotee-job-title">LU's Environment Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The competition is a great way of raising awareness among Londoners about the wildlife living alongside us
                            
                        </p>
                    </div>
                
            
            
            <p>To mark the International Year of Biodiversity,&nbsp;LU&nbsp; and the RSPB are once again teaming up to launch a competition encouraging Londoners to use the Tube to discover the Capital's rich and varied wildlife. </p>
<p>The competition, Life between the lines, follows the success of last year's Mind the Bird and this year will have two categories:</p>
<ul>
<li>Projects - asks people to write in about local wildlife and environmental projects</li>
<li>Photographs&nbsp;- asks people to send in their striking images of mammals, birds, flora and fauna taken near a Tube station</li></ul>
<p>Marian Kelly, LU's Environment Manager, said: 'The Tube gives great access to wildlife and green spaces around London. </p>
<p>'The competition is a great way of raising awareness among Londoners about the wildlife living alongside us.</p>
<p>'LU manages ten percent of the wildlife habitat in London, valuing and protecting the wide range of animals and birds that have made either the underground tunnels or our trackside land their home. </p>
<h2>Life between the lines</h2>
<p>'We are delighted to be working again with the RSPB to highlight the wildlife that is all around us.'</p>
<p>Tim Webb from the RSPB added: 'London Underground is a brilliant example of a responsible organisation using its resources to create a better place for people and wildlife. </p>
<p>'Encouraging and showcasing the work that's being done and urging people to discover their non-human neighbours in our Capital is a power for social good. </p>
<p>'We hope Londoners simply get out there and enjoy the world, but also consider what they can do to improve it for the next generation.'</p>
<p>The competition opened on Saturday 22 May and runs until 12 September; winners will be announced in October.&nbsp;</p>
<p>Full details of <a href="http://www.tfl.gov.uk/wildlifecompetition">how to enter</a>, prizes and full terms and conditions.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Pictures from last year's competition available on request. <a href="http://www.tfl.gov.uk/mindthebird">Last year's winning photographs </a>are available online
<li><a href="http://www.tfl.gov.uk/wildlifecompetition">Enter the competition </a>through the TfL web site&nbsp;stating where the picture was taken. There are separate categories for adults (18 and over), Under 18s and TfL/RSPB staff. Those taking part are free to submit as many photographs/projects as they like, though only one prize pack is available per category (six prize packs in total). Full details of prizes are available <a href="http://www.tfl.gov.uk/wildlifecompetition ">online</a></li>
<li>LU is responsible for managing more than 4,000 hectares of land where more than 1,100 species of flora and fauna have been recorded</li>
<li>LU have identified over 550 plant species, 528 invertebrate species, 42 bird, 14 mammal,&nbsp;three reptile and&nbsp;three amphibian species</li>
<li><a href="http://www.tfl.gov.uk/corporate/modesoftransport/londonunderground/performance/1594.aspx">LU's work to protect the environment</a></li>
<li>Find out more about the <a href="http://www.rspb.org.uk/london">work of the RSPB in London</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "To mark the International Year of Biodiversity,&nbsp;LU&nbsp; and the RSPB are once again teaming up to launch a competition encouraging Londoners to use the Tube to discover the Capital's rich and varied wildlife. The competition, Life between the lines,";}
        
        


 