


@{ViewBag.Title = "London Underground responds to PPP Arbiter's direction of Tube Lines 'Financing Impossibility'";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground responds to PPP Arbiter's direction of Tube Lines 'Financing Impossibility'</h1>
        <div class="content-page-press-release">
        21 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL reaffirms plans to deliver Tube upgrades with best possible value for money and minimum disruption to Londoners and businesses
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will be taking a close look at the state of Tube Lines upgrade programmes for the Northern and Piccadilly lines to determine how they can be delivered to a timetable that suits Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will be taking a close look at the state of Tube Lines upgrade programmes for the Northern and Piccadilly lines to determine how they can be delivered to a timetable that suits Londoners
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Given TfL's acquisition of Tube Lines, while the PPP Periodic Review is technically required to proceed, it is now academic </li>
<li>However, London Underground's (LU's) submission to Arbiter reveals that, had the PPP continued, Piccadilly line upgrade would have been deferred for nearly a decade </li></ul>
<p>LU today responded to the Public Private Partnership (PPP) Arbiter's direction of 27 April that the terms of the Tube Lines Public Private Partnership (PPP) contract, including the amount LU previously said it could afford, resulted in a 'financing impossibility'.</p>
<p>However, now that Transport for London (TfL) is to acquire Tube Lines, TfL made clear that the PPP Periodic Review process has been rendered academic.</p>
<p>TfL also restated its intention to deliver the upgrade of the Tube to achieve the best possible value for money and with the minimum of disruption to Londoners and businesses, including less weekend closures in future compared to the programme proposed by Tube Lines. </p>
<h2>Substantial savings</h2>
<p>On 7 May, TfL set out a revised arrangement that will enable LU to work with the private sector, including Amey, to deliver vital Tube improvements, as it announced that it will buy the shares of Bechtel and Amey (Ferrovial) in Tube Lines for &pound;310m.</p>
<p>The agreement means that there will be no extra financial call on the Government, London's fare payers or taxpayers in relation to the upgrade of the Tube.&nbsp; </p>

<p>Freed from the complex Public Private Partnership (PPP) structure, TfL is also confident of generating substantial savings, with greater flexibility to manage the Tube upgrade programme, alongside all the other improvements being delivered across London's transport network.</p>
<p>The PPP Arbiter was due, on 27 April, to have published his final directions on how the PPP Second Period should be financed, but instead set a deadline for LU to respond to his direction of a 'financing impossibility' by 21 May and deferred his final decision on financing until 30 June. </p>
<h2>Committed to upgrades</h2>
<p>Until the deal to acquire the shares of Bechtel and Amey in Tube Lines is complete, LU is obliged to respond to the Arbiter's deadlines.&nbsp; </p>
<p>The TfL Board therefore concluded that the only means to resolve this now academic PPP funding gap under the PPP contract would be to defer the Piccadilly line upgrade into the third Review Period.&nbsp;Therefore, had the PPP structure been maintained, this would have meant a deferral of the Piccadilly line upgrade by at least eight-and-a-half years beyond the contractual PPP completion date of 2014.</p>
<p>However TfL made clear that it fully expects the agreement to acquire the shares of Bechtel and Amey in Tube Lines to be complete by 30 June and remains fully committed to the upgrade of the Piccadilly line.&nbsp; </p>
<p>TfL is exploring ways to achieve synergies alongside its existing upgrade programmes.</p>
<h2>Minimum of disruption</h2>
<p>Once the transfer of Tube Lines to TfL is complete, LU's first priority will be the completion of the much delayed Jubilee line upgrade, delivering more frequent and reliable trains, as soon as possible.&nbsp;</p>
<p>LU will also take a close look at the state of Tube Lines' upgrade programmes to establish the best way of delivering the upgrade of the Northern and Piccadilly lines with the minimum of disruption to Londoners and businesses across the capital.&nbsp; </p>
<p>The PPP Arbiter has already reported that the Northern line upgrade is behind schedule, with around 50 per cent of the programme due to have been completed by Tube Lines in Review Period One.</p>
<p>LU Managing Director, Mike Brown, said: 'Given the agreement for TfL to buy Tube Lines, our submission to the PPP Arbiter is now academic.</p>
<h2>Value for money</h2>
<p>'Following the transfer of Tube Lines to TfL our first priority will be the completion of the Jubilee line upgrade, delivering more frequent and reliable trains, as soon as possible.&nbsp; </p>
<p>'We will be taking a close look at the state of Tube Lines upgrade programmes for the Northern and Piccadilly lines to determine how they can be delivered to a timetable that suits Londoners, with the best possible value for money and with the minimum of disruption to our customers and businesses across the capital.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Given TfL's acquisition of Tube Lines, while the PPP Periodic Review is technically required to proceed, it is now academic However, London Underground's (LU's) submission to Arbiter reveals that, had the PPP continued, Piccadilly line upgrade would have";}
        
        


 