


@{ViewBag.Title = "London Overground runs weekend service on new East London route";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground runs weekend service on new East London route</h1>
        <div class="content-page-press-release">
        13 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground's &pound;1 billion East London line route will be running a weekend service for the first time since it opened, Transport for London (TfL) announced today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The first section of the new route has bedded in very well and we are now ready to ramp up the service in preparation for the opening of the second section on 23 May ahead of schedule and on budget
                            
                        </p>
                    </div>
                
            
            
            <p>The line is currently operating under 'preview running' status, with a limited Monday to Friday, Dalston Junction to New Cross Gate service, since it opened on Tuesday 27 April.</p>
<p>This service will now run through this coming weekend before a full service Dalston Junction to West Croydon commences on Sunday 23 May. </p>
<h2>On budget</h2>
<p>The new East London route, the biggest piece of transport infrastructure for London since the opening of the Jubilee line extension in 1999, is being delivered ahead of schedule and on budget. </p>
<p>Passengers&nbsp;will benefit from new walk through air-conditioned trains, four newly built stations and 14 refurbished stations with upgraded CCTV, passenger information systems and lighting with staff on duty at all times while trains are running. </p>
<p>Ian Brown, Managing Director of TfL London Rail, said: 'The first section of the new route has bedded in very well and we are now ready to ramp up the service in preparation for the opening of the second section on 23 May ahead of schedule and on budget.' </p>
<p>The service will now operate through the coming weekend (15/16 May) and the following week at these times:</p>
<ul>
<li>Saturday 15 May: 07.00 - 20.00 </li>
<li>Sunday 16 May: 08.20 - 20.00 </li>
<li>Monday 17 May to Friday 21 May: 07.00 - 20.00 </li>
<li>Saturday 22 May: 07.00 - 20.00</li></ul>
<h2>Croydon service</h2>

<p>On Sunday 23 May, services will extend to West Croydon between 07.00 until around midnight.&nbsp;</p>
<p>A full Metro-style service will then commence from&nbsp; Monday 24 May from 05.40 until approximately 00.15 with customers benefiting from a full turn up and go service of 12 trains per hour through the core section - Dalston Junction to New Cross Gate.</p>
<p>Passengers&nbsp;are asked to check at their local station for timetable details or online at <a href="http://www.tfl.gov.uk/gettingaround">http://www.tfl.gov.uk/gettingaround</a>.</p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors:</strong></p>
<ul>
<li>This &pound;1bn investment London Overground's new East London route supports London's economic development and opening up access to jobs, education and leisure opportunities across the Capital </li>
<li>The new route is a crucial part of the London Overground orbital network and in London's overall integrated transport infrastructure </li>
<li>The route will provide a turn up and go, metro-style service of up to 12 trains an hour to parts of London traditionally poorly served by rail services </li>
<li>The Mayor and TfL are launching the ELL as a key component of the 2012 Games transport plans, and the line will leave an important transport and regeneration legacy to East London </li>
<li>The new section of London Overground will bring a much-needed alternative mode of north-south transport to eastern London </li>
<li>The new East London route is part of the London Overground network and run from Dalston Junction in the north to New Cross, Crystal Palace and West Croydon in the south. By next Spring it will connect in the north with the existing London Overground network at Highbury &amp;&nbsp;Islington </li>
<li>Besides the four new stations, completion of the &pound;1bn project includes; the construction of a new maintenance depot at New Cross Gate, the upgrade of the 2.1km long, LUL line to National Rail standards, 3.5km of tracks built between Whitechapel and Dalston Junction, the renewal of old bridges and installation of new ones </li>
<li>It is predicted that in 2011, 33 million people will use the new route (approx 100,000 per day) and demand is forecast to increase to 40m in 2016 (approx 120,000 per day). The former East London Tube line, prior to its closure, carried approximately 9m passengers every year (approx 30,000 per day) </li>
<li>Examples of journey times on the new line are Dalston Junction to West Croydon - 47 minutes; to Crystal Palace - 37 minutes. Shoreditch High Street station to Brockley - 16 mins; Honor Oak -19 mins; Forest Hill - 22 mins; Sydenham - 24 mins </li>
<li>The London Transport Museum's exhibition 'Overground Uncovered: life along the line' celebrates the London Overground network, including the new East London line route. It will open on Saturday 29 May, 2010</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The line is currently operating under 'preview running' status, with a limited Monday to Friday, Dalston Junction to New Cross Gate service, since it opened on Tuesday 27 April.This service will now run through this coming weekend before a full service";}
        
        


 