


@{ViewBag.Title = "Londoners challenged to get cycling this June";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners challenged to get cycling this June</h1>
        <div class="content-page-press-release">
        24 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) are encouraging Londoners to get their friends, family and colleagues cycling by signing up to the London Cycle Challenge this June.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is a wonderful city to cycle in, and summer is the perfect time to start"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is a wonderful city to cycle in, and summer is the perfect time to start
                            
                        </p>
                    </div>
                
            
            
            <p>This year's challenge, part of a London Cycling Revolution spearheaded by the Mayor, is open to everyone who lives, works or studies in London and is a fun way to get cycling or to start cycling more often. </p>
<p>Groups of friends, families or work colleagues can get together to create a team and during June challenge each other&nbsp;- and other teams&nbsp;- to see who can cycle the most miles.<br>&nbsp;<br>To take part you simply need to join or create a team on the London Cycle Challenge website and log all the journeys you cycle during June. </p>
<p>You can register now at <a href="http://www.tfl.gov.uk/cyclechallenge">tfl.gov.uk/cyclechallenge</a><br>&nbsp;<br>Cycling is a great way to get around London and the London Cycle Challenge is a great way to get started. </p>
<p>The challenge is fun, free and provides the chance for everyone to enjoy cycling in London, whether it's to work, for leisure, on the school run or just to the shops and back.</p>
<h2>Challenge your colleagues</h2>
<p>There is also a competitive element to the London Cycle Challenge&nbsp;- team members will be awarded points for the miles they cycle, with extra points awarded for clocking up those first few miles. <br>&nbsp;<br>There are great prizes to be won for the winning teams, including leisure vouchers which can be used at restaurants, health and leisure venues or other attractions of your choice. </p>
<p>Spot prizes will also be given out everyday of the challenge.<br>&nbsp;<br>There is also plenty of cycle support available to help you gain the skills and confidence to enjoy cycling in London, including TfL supported training, cycle maps and led rides.<br>&nbsp;<br>Mayor of London, Boris Johnson, said: 'London is a wonderful city to cycle in, and summer is the perfect time to start. If you need a little encouragement, the London Cycle Challenge is a fun way to try the cleanest, greenest, and most convenient way of traversing the Capital.</p>
<h2>To the moon and back</h2>
<p>'Last year more than 5000 Londoners cycled more than 950,000 miles as part of the challenge, which is apparently the equivalent of travelling to the moon and back twice. </p>
<p>'This is London's Year of Cycling, and so this time we've made the challenge even bigger&nbsp;- opening it up beyond just schools and workplaces, so that anybody can put a team together and take part.'</p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, added: 'The London Cycle Challenge is a great way to introduce people to travelling by bike, with friends, family and workmates supporting&nbsp;- and competing against&nbsp;- each other.<br>&nbsp;<br>'Help is on hand for people who aren't already cycling. </p>
<p>'Free TfL-funded cycle training, available through London's borough councils, teaches people how to cycle safely and confidently in the Capital, while our free cycle maps help you plan the best route.'<br>&nbsp;<br>To book a free two-hour personal training session near you, call 020 7231 6005 or email <a href="mailto:bookings&#64;cycletraining.co.uk">bookings&#64;cycletraining.co.uk</a> (mention 'London Cycle Challenge' when booking).<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The London Cycle Challenge has four categories of awards:
<ul>
<li>Best performing Category 1 team (two-10 members), best performing Category 2 team (11-50 members), best performing Category 3 team (51-100 members), and best performing Category 4 team (101 plus&nbsp;members)</li>
<li>For more details on the competition, the prizes, and to sign up, see <a href="http://www.tfl.gov.uk/cyclechallenge">tfl.gov.uk/cyclechallenge</a></li></ul>
<li>The Mayor and TfL are investing a record &pound;116m in cycling this year. That money is being spent on the London Cycle Hire scheme, Cycle Superhighways, infrastructure, promotion and education</li>
<li>Cycle journeys on London's major roads have increased by 117 per cent since 2000, with around half a million cycle journeys being made everyday across London</li>
<li>The number of cyclists killed or seriously injured on London's roads has fallen by 21 per cent in the last decade. This is despite the fact that the number of cycle journeys made on London's major roads has increased by 117 per cent since 2000. The Mayor and TfL have a target to increase cycling by 400 per cent by 2025 (compared to 2000 levels)</li>
<li>The London Cycle Hire scheme will launch in the Capital on 30 July. People will be able to pick up and drop off hire bikes at 400 locations across the nine London boroughs and several Royal Parks that make up London's zone one travel area. An initial 6,000 hire bikes are expected to generate around 40,000 extra daily cycle trips in central London.</li>
<li>Cycle Superhighways will launch in London on 19 July. The Cycle Superhighways are a set of 12 routes that will deliver benefits to cyclists by making it safer and easier to commute by bike between outer and inner London on direct and continuous cycle routes. Works on London's first two cycle Superhighways are well underway, with both pilot routes (Merton to the City, and Barking to Tower Gateway) set to launch on Monday, 19 July 2010</li>
<li>More information about cycling in London, including cycle training and ordering your free cycle maps, go to <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a>&nbsp;</li>
<li>To see a film with information about the London Cycle Challenge 2010 please visit the London Cycle Challenge website at <a href="http://www.tfl.gov.uk/cyclechallenge">tfl.gov.uk/cyclechallenge</a> or <a href="http://www.youtube.com/watch?v=azKsMOPR08Q">YouTube</a></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This year's challenge, part of a London Cycling Revolution spearheaded by the Mayor, is open to everyone who lives, works or studies in London and is a fun way to get cycling or to start cycling more often. Groups of friends, families or work colleagues";}
        
        


 