


@{ViewBag.Title = "Mayor unveils iconic final design for London's new bus ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils iconic final design for London's new bus </h1>
        <div class="content-page-press-release">
        17 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority's press office.
        
    </div>



 <div class="on-this-page">
<ul>
<li>New bus to use greenest hybrid technology and enter service in 2012 </li>
<li>Futuristic design to become 'an emblem of 21st century London'</li></ul>
<p>The final design of the New Bus for London, based on the much-loved Routemaster, was today unveiled by the Mayor of London, Boris Johnson, and London's Transport Commissioner, Peter Hendy. </p>
<h2>Pioneering design</h2>
<p>The bus will use the latest green technology. It will be 15 per cent more fuel efficient than existing hybrid buses, and 40 per cent more efficient than conventional diesel double decks and much quieter on the streets.</p>
<p>The pioneering design makes use of lightweight materials, with glass highlighting key features and producing a light and airy feel inside the bus. </p>
<p>An impressive glass 'swoop' at the rear and offside pick out the two staircases and provide a dramatic visual effect. </p>
<p>An asymmetric design for the front-end completes the futuristic look.</p>
<h2>Stylish, swooshing exterior</h2>
<p>The open platform is a defining feature, shared with the Routemaster of old, and allows the reinstatement of a hop-on, hop-off service. </p>
<p>Three doors and two staircases will aid speedier and smoother boarding.</p>
<p>The Mayor of London, Boris Johnson, said: 'This iconic new part of our transport system is not only beautiful, but also has a green heart beating beneath its stylish, swooshing exterior. </p>
<p>'It will cut emissions, and give Londoners a bus they can be proud of, complete with cutting edge design, and the freedom of an open platform. </p>
<h2>Loved by Londoners</h2>
<p>'I expect to eventually have hundreds of these on London's roads, and for cities around the globe to be beside themselves with envy for our stunning red emblem of 21st century London.'</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'Designing and building a new bus exclusively for London is an exciting project to be working on and one of which we are all proud.</p>
<p>'This beautifully designed, environmentally friendly vehicle built for the Capital will be loved by Londoners for many years to come.'</p>
<p>Mark Nodder, Group Managing Director of Wrightbus, said: 'This project is not just about evolution, it's about revolution. </p>
<h2>Quicker access</h2>
<p>'I think the design is genuinely groundbreaking, people are really going to stop and notice these buses on the streets of London.'</p>
<p>Wrightbus and Transport for London (TfL)&nbsp;have been working with Heatherwick Studio as a collaborative design partner taking the lead on the styling of the bus to support Wrightbus in the design and development process.</p>
<p>The bus will feature two staircases, enabling easier and quicker access to and from the upper deck. </p>
<p>There will be two conventional doors and an open rear platform, which has the option to be closed off at quiet times for example during the night.</p>
<p>Wrightbus engineers are working on a static mock-up of the bus to be complete later this year with the first prototype to be delivered late next year, the new buses will enter service from early 2012.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The contract for the design and build of the New Bus for London was awarded to Wrightbus in January 2010 </li>
<li>TfL has applied to the Intellectual Property Office for Registered Design Protection for the new exterior of the New Bus for London shown today </li>
<li>All images are copyright to TfL </li>
<li>Air quality emissions will be reduced by 40 per cent for NOx* emissions and 33 per cent for PM** emissions when compared with conventional diesel buses</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New bus to use greenest hybrid technology and enter service in 2012 Futuristic design to become 'an emblem of 21st century London'The final design of the New Bus for London, based on the much-loved Routemaster, was today unveiled by the Mayor of London,";}
        
        


 