


@{ViewBag.Title = "One thing leads to another - Everything is connected";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>One thing leads to another - Everything is connected</h1>
        <div class="content-page-press-release">
        10 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new series of artworks commissioned for the Jubilee line from Stanmore to Stratford. The first exhibition by Art on the Underground presented at City Hall.
        
    </div>



 <div class="on-this-page">
<p>Elements of art installations, which range from a massive real-time, one year long projection in Canary Wharf Underground station, to portraits of young people from areas local to the Jubilee line, will be on show at City Hall from 14 May to 10 June. </p>
<p>This will give visitors a taste of the types of artworks they can expect to find on the London Underground over the coming months.</p>
<h2>Six artists</h2>
<p>The works have been commissioned by Art on the Underground, London Underground's art programme, from six contemporary artists: Nadia Bettega, John Gerrard, Dryden Goodwin, Richard Long, Daria Martin and Matt Stokes and from Goldsmiths MFA Art Writing Students.</p>
<p>The artists were asked to respond to ideas around the concept of time from a number of perspectives: looking back at the history of the Tube, the way that it has expanded to respond to the changing shape of the city and population growth; and to think about passengers' experience of travel, with a Tube journey giving them time to drift into imaginary worlds and take a mental break from their daily commute.</p>
<p>Art on the Underground offers a source of inspiration for this mental journey, as one passenger, said: 'It takes you away from your day to day world and delivers you to another, to your imagination.' </p>
<h2>Stimulating work</h2>
<p>Munira Mirza, Mayoral Advisor on arts and culture, said: 'Art on the Underground is a wonderful initiative. </p>
<p>'As well as quite literally offering a platform for work by established and less well-known artists, it adds to the experience of travelling around on the Tube. I hope people will enjoy the stimulating work that has been brought together at City Hall.'</p>
<p>Mike Brown, Managing Director for London Underground, said: 'For the first time Art on the Underground is bringing together a series of artworks, usually seen by our customers at stations or trains across the network, under one roof.</p>
<p>'Valuing time is crucial when operating one of the busiest Tube systems in the world and it's been really interesting to see how all these different artists have responded to this theme. </p>
<p>'We hope Londoners will enjoy these art works both at City Hall and as they go about their journeys on the Underground.' </p>
<h2>Constantly changing</h2>
<p>Moira Sinclair, Executive Director London of Arts Council England said: 'The Tube is a central part of London life which, physically and metaphorically, represents a city that is constantly changing. </p>
<p>'We are proud to support Art on the Underground with this project, since we both believe that art has a role to play in everybody's life. </p>
<p>'These commissions will offer passengers art that stimulates and refreshes the mind, creating space to pause and reflect on the significance of this iconic transport system and the communities it serves.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>London Journeys is a free two-part public discussion taking place at City Hall in June. The discussions will be chaired by David Rooney, Curator of Transport, Science Museum which will bring together exhibiting artists Dryden Goodwin and John Gerrard with a carefully constructed group of writers, historians and geographers to discuss travel and time in the Capital. </li></ul>
<p>Part 1: London Journeys Underground will take place on Tuesday 1 June 2010, 18:30 to 20:30 at London's Living Room, top floor of City Hall. This discussion will explore people's experiences of travel underground - how do we navigate this environment and what technological and social tools do we employ to document and represent this experience to others?</p>
<p>Part 2: London Journeys in Time will take place on Tuesday 8 June 2010, 18:30 to 20:30 at The Chamber, 2nd floor of City Hall.&nbsp;This discussion will explore the role of time in our city - what pressures does it create and how do we endeavour to escape or control it. These events are free of charge but places are limited.</p>
<ul>
<li>The artists and projects, in order of appearance on the network, are:&nbsp; </li>
<li>Richard Long 'One thing leads to another - Everything is connected' - Long made a limited edition print that was given away at stations in June 2009 and coincided with the artist's exhibition at Tate Britain. The work contrasts the diverse landscape that the Jubilee line travels through, from Stanmore to Stratford, with the rugged landscape of the Cairngorm Mountains in Scotland, which was traversed by Long on foot on one of the many walks he has made as an integral part of his art </li>
<li>Dryden Goodwin 'Linear' - Goodwin has produced over 60 pencil portraits of members of staff from across the line.&nbsp; These appear across the Underground network on poster sites and leaflets, with exhibition sites at Southwark, London Bridge and Stanmore stations and an online exhibition of all 60 films. Goodwin attached a camera to the drawing board during his sketching sessions to record both his making of the work and the conversation that he had with the sitter. See <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> to view the films </li>
<li>Nadia Bettega 'Threads' - Bettega worked with young people from Brent to create photographic portraits that play with their own identities and character-making, informed by their experience of travel. The portraits are at Kingsbury and Charing Cross Underground stations </li>
<li>John Gerrard 'Oil Stick Work (Angelo Martinez / Richfield, Kansas)' - Gerrard is presenting a year-long, large-scale projection of a complex digital moving image piece that develops in real time for a thirty-year period.&nbsp; The work will be projected onto the vast ticket hall wall at Canary Wharf Tube in May </li>
<li>Matt Stokes 'The Stratford Gaff - A Serio-Comick-Bombastick-Operatick Interlude' - Stokes has worked with Stratford-based performers, including cheerleaders, an&nbsp; escapologist and Newham's own Pearly King and Queen to create a new film installation for Stratford station to be launched in July. The work draws upon the area's rich history of popular entertainment, dating back to the Victorian Penny Gaffs </li>
<li>Daria Martin - Martin has issued a customer questionnaire to Jubilee Line travellers to map their psychological characters, gauging their propensity to daydream, fantasise and mentally transport themselves elsewhere. This work will appear on the network from May </li>
<li>Goldsmiths MFA Art Writing - Timepieces<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Six artists and writers studying MFA Art Writing at Goldsmiths, University of London, have set about looking for new ways of seeing and exploring their daily travels on the Jubilee line, resulting in a collection of new writing and drawing that will be distributed as a booklet to customers at London Bridge station in June. Their work ranges from stories gleaned from looking over passengers' shoulders, to the scrambling of familiar London&nbsp;Underground announcements and instructions, spelling out improbable stories and making surprising associations </li>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With around three and a half million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe </li>
<li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Elements of art installations, which range from a massive real-time, one year long projection in Canary Wharf Underground station, to portraits of young people from areas local to the Jubilee line, will be on show at City Hall from 14 May to 10 June. This";}
        
        


 