


@{ViewBag.Title = "Penton Street counter service closure reminder";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Penton Street counter service closure reminder</h1>
        <div class="content-page-press-release">
        25 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Internet, phone and post offer quicker and more efficient access.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will continue to improve online access to licensing services and believe that the Post Office's 'Check and Send' service will provide a valuable facility"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">TfL's Director of Taxi and Private Hire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will continue to improve online access to licensing services and believe that the Post Office's 'Check and Send' service will provide a valuable facility
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) is reminding the taxi and private hire trades that the counter service at Penton Street is no longer available.&nbsp; </p>
<p>Over the forthcoming Bank Holiday weekend the remaining staff and equipment will be moving from Penton Street to Palestra, where no counter facilities will be provided.&nbsp; </p>
<p>As part of the move, a new telephone system is being set up which will, in the longer term, deliver an improved call handling service.&nbsp;</p>
<p>In order to facilitate the move and switch to the new telephone system we regret to inform customers that the telephone service will be unavailable from 15:00 on Friday 28 May to 12:00 on Tuesday 1 June.&nbsp; </p>
<h2>Huge challenge</h2>
<p>We apologise for any inconvenience this may cause. </p>
<p>John Mason, TfL's Director of Taxi and Private Hire, said: 'The move from Penton Street to Palestra has been a huge challenge for the team.&nbsp;</p>
<p>'The good news is that we will once again see all of London Taxi &amp; Private Hire staff in one location and this will be a major step in our long term plan to provide a better service and deliver much needed improvements.&nbsp; </p>
<p>'The counter service at Penton Street has been well used over the years, but it simply was not possible to provide such a service at Palestra. </p>
<p>'With all the other available means of contacting us, it is no longer an efficient use of licensing staff's time.&nbsp; </p>
<h2>Closer working</h2>
<p>'We will continue to improve online access to licensing services and believe that the Post Office's 'Check and Send' service will provide a valuable facility for those who want to use it.'</p>
<p>Since 30 April this year, the counter service at Penton Street has been closed. </p>
<p>As part of a wider programme to improve Taxi and Private Hire licensing services, existing drivers and new applicants will be encouraged to use quicker and more effective means of contacting TfL, such as the internet, phone and post.</p>
<p>TfL has been working closely with the Post Office to develop and improve the existing 'Check and Send' service.&nbsp; </p>
<p>A number of post offices across London will be able to check and accept both new and renewal private hire applications and renewal taxi applications for a small fee.&nbsp; </p>
<p>Details of participating post offices are available on our website. </p>
<p>Candidates doing the Knowledge will not be affected by this change and appointments will continue to be booked as normal. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Drivers or operators with queries can visit <a href="http://www.tfl.gov.uk/tph">tfl.gov.uk/tph</a>&nbsp; </li>
<li>Drivers can request application packs from <a href="http://www.tfl.gov.uk/tphservices">tfl.gov.uk/tphservices</a> </li>
<li>For driver licence renewal applications or new private hire driver applications the fastest, most efficient way it to use the Post Office Check and Send Service </li>
<li>Details of Post Office outlets that are participating in the 'Check and Send' services can be found on our <a href="/businessandpartners/taxisandprivatehire/10899.aspx">taxis and private hire pages</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is reminding the taxi and private hire trades that the counter service at Penton Street is no longer available.&nbsp; Over the forthcoming Bank Holiday weekend the remaining staff and equipment will be moving from Penton Street";}
        
        


 