


@{ViewBag.Title = "Spectacular digital moving image installation arrives at Canary Wharf Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Spectacular digital moving image installation arrives at Canary Wharf Tube station</h1>
        <div class="content-page-press-release">
        12 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A large-scale projection of a thirty year long digital artwork, with an environmental message, will be exhibited at Canary Wharf Underground station for 12 months from 13 May 2010.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Commuters will be able to see the sun rising on this conscientious character every day of the year as he toils away below ground"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sally Shaw</div>
            <div class="quotee-job-title">Curator for Art on the Underground curator</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Commuters will be able to see the sun rising on this conscientious character every day of the year as he toils away below ground
                            
                        </p>
                    </div>
                
            
            
            <p>As a part of a series of new contemporary art projects for the Jubilee line commissioned by Art on the Underground, artist John Gerrard's Oil Stick Work (Angelo Martinez / Richfield, Kansas) will be projected on a massive 15m x 8m screen in Canary Wharf Underground station's ticket hall for one year.&nbsp;&nbsp; </p>
<p>This complex digital moving image piece is a landscape constructed from 'real' information (digital photographs and topographies of an existing American agricultural landscape) mapped onto meticulously constructed 3D forms. </p>
<p>Over the course of its 30-year existence (Oil Stick work began in 2008 and runs to 2038), Angelo Martinez, of the artwork's title, arrives at an industrial grain silo at dawn (CST - Central Standard Time in North America) every day and departs at sunset.&nbsp;</p>
<p>Every day he paints a perfect one metre square of the grain silo using an artist's oil stick. Visitors to Canary Wharf are invited to watch this story unfolding three years into the life of the work. </p>
<p>The origins of Oil Stick Work (Angelo Martinez / Richfield, Kansas), alongside three other works in a series of four by the artist, derive from Gerrard's research into one of America's greatest environmental catastrophes, the American Dust Bowl of the 1930s.</p>
<p>The works tell of the present day exploitation of the earth by our consumer-oriented society.&nbsp; </p>
<p>Sally Shaw, Curator for Art on the Underground curator, said: 'By sitting Oil Stick Work right under the financial heartland of the city, we get the uncanny juxtaposition of Angelo Martinez's virtual task with the electronic or virtual trading of stocks and shares in Canary Wharf's offices above ground. </p>
<p>'Commuters will be able to see the sun rising on this conscientious character every day of the year as he toils away below ground.'</p>
<p>Angelo's work, and Gerrard's piece, will finish on the day that American oil supplies are predicted to run dry.</p>
<p>Oil Stick Work at Canary Wharf is sponsored by XL Events.</p><strong>
<p>
<hr>

<p>
<p>Notes to editors</p></strong>
<ul>
<li>Oil Stick Work (Angelo Martinez / Richfield, Kansas) 2008 is one of a series of artworks commissioned by Art on the Underground for the Jubilee line, The series brings together 5 artists whose commissioned works explore the relationship between value and time. These artists are Nadia Bettega, John Gerrard, Dryden Goodwin, Daria Martin and Matt Stokes </li>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With around three and a half million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe </li>
<li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> </li>
<li>With offices based throughout the World, XL Events is a specialist supplier of audio Visual Equipment to events ranging from the grand opening of St Pancras station to car shows and everything in between. As a patron of Theatre and the Arts, they are supporting this innovative project by providing&nbsp;two Barco projectors for the next year </li>
<li>John Gerrard (born 1974, Dublin, Ireland) lives and works in Dublin and Vienna, Austria.&nbsp; He graduated from the Ruskin School (Oxford) and Art Institute Chicago.&nbsp; He has exhibited in Dublin, New York and Vienna, with a major installation supported by Culture Ireland and Arts Council England at the 53rd Venice Biennale. For the latter, the four works were presented collectively as 'Animated Scene' </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As a part of a series of new contemporary art projects for the Jubilee line commissioned by Art on the Underground, artist John Gerrard's Oil Stick Work (Angelo Martinez / Richfield, Kansas) will be projected on a massive 15m x 8m screen in Canary Wharf";}
        
        


 