


@{ViewBag.Title = "Start of consultation to introduce larger vans and minibuses into Low Emission Zone in 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Start of consultation to introduce larger vans and minibuses into Low Emission Zone in 2012</h1>
        <div class="content-page-press-release">
        17 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today launched a statutory public consultation to include larger vans and minibuses in the Low Emission Zone from January 2012.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The proposed deferral of the Low Emission Zone phase affecting larger vans more time for owners and operators of vehicles to prepare for this change."</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Congestion Charging and Traffic Enforcement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The proposed deferral of the Low Emission Zone phase affecting larger vans more time for owners and operators of vehicles to prepare for this change.
                            
                        </p>
                    </div>
                
            
            
            <p>The proposal would require the oldest, most polluting larger vans, minibuses and other specialist vehicles* to meet the Euro III standard for particulate matter (PM) in order to drive, without charge, in the Low Emission Zone from 3 January 2012.&nbsp;</p>
<p>These vehicles were originally due to be included from 4 October 2010.&nbsp;</p>
<p>The new date will be confirmed and published well ahead of implementation to allow vehicle operators time to take any necessary action.&nbsp;</p>
<h2>Emission standards</h2>
<p>The proposed date change will give additional time for owners and operators of the estimated 70,000 non-compliant vehicles, that use the Zone each year, to ensure their vehicles meet emission standards.&nbsp;</p>
<p>In addition, the Mayor has stated his intention to lobby government for a scrappage scheme to support the change-over of vehicles affected by this phase.&nbsp;&nbsp; <br>&nbsp; <br>Graeme Craig, Director of Congestion Charging and Traffic Enforcement, said: 'The proposed deferral of the Low Emission Zone phase affecting larger vans and minibuses to 2012, allows more time for owners and operators of vehicles to prepare for this change in what has been a challenging economic climate.&nbsp;</p>
<p>'Nevertheless, vans and minibuses are responsible for a significant proportion of the emissions that cause air pollution in London.&nbsp;</p>
<p>'This has a detrimental effect on people's health, especially the most vulnerable such as children with asthma or those with respiratory conditions. </p>
<p>'While we are confident that London will meet European legal targets for particulate matter by 2011, including larger vans and minibuses in the Low Emission Zone from 2012 is an important part of a package of measures designed to ensure continued compliance with these targets and to further clean up the Capital's air.&nbsp;</p>
<p>'We also need to take action to meet the more challenging European targets for nitrogen dioxide by 2015.' </p>
<h2>LEZ consultation</h2>
<p>The six-week consultation will run from 17 May 2010 to 28 June 2010.&nbsp;</p>
<p>Following an analysis of the consultation responses, the Mayor will then decide whether or not to confirm the changes, with or without modifications. </p>
<p>More information on the consultation, including the supporting documents, are available from TfL's website at <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a>. </p>
<p>The Low Emission Zone is the largest scheme of its kind in the world.&nbsp;</p>
<p>It was launched in February 2008 and aims to improve London's air quality by targeting the most individually polluting diesel-engined vehicles.&nbsp;</p>
<p>The scheme, which covers most of Greater London, initially affected lorries over 12 tonnes (phase 1).&nbsp;</p>
<p>In July 2008 it was extended to include lorries over 3.5 tonnes, buses and coaches (phase 2).&nbsp;</p>
<h2>Improve air quality</h2>
<p>TfL worked closely with owners and operators in the run up to the introduction of Phase 1 and Phase 2 of the Low Emission Zone, resulting in very high compliance rates, of 98 per cent and 96 per cent respectively.&nbsp; </p>
<p>The Mayor published a comprehensive draft strategy to tackle air quality earlier this year. </p>
<p>This details additional measures to clean up London's air in addition to those already under way. For more information, visit: </p>
<p><a href="http://www.london.gov.uk/media/press_releases_mayoral/plans-announced-tackle-pollution-londons-dirtiest-roads">www.london.gov.uk/media/press_releases_mayoral/plans-announced-tackle-pollution-londons-dirtiest-roads</a> </p>
<p>* The Low Emission Zone will affect a number of diesel-engined specialist vehicles derived from larger vans and minibuses, such as motor caravans and light utility vehicles.</p>
<p>
<hr>
<br><strong>Notes to editors </strong>
<p>
<ul>
<li>In London, road transport is the single biggest source of Particulate Matter (PM10) and Oxides of Nitrogen (NOx) causing air quality-related health problems, worsening symptoms of asthma and other respiratory conditions </li>
<li>The Low Emission Zone aims to reduce emissions of PM and NOx by deterring the most individually polluting heavier diesel-engined vehicles from driving within the city </li>
<li>Recent evidence to the House of Commons Environmental Audit Select Committee (March 2010) suggested that the life expectancy of everyone in the UK is reduced by an average of seven to eight months by poor air quality. Evidence to the Committee also estimated that air pollution could be contributing to as many as 50,000 premature deaths in the UK every year. This is broadly in line with the early findings of study commissioned by the Greater London Authority which suggests that around 4,300 deaths per year are partly caused by long-term exposure to fine particulate matter </li>
<li>This deferred phase of the Low Emission Zone would affect: </li>
<li>Minibuses - with more than 8 seats, plus the driver's seat below&nbsp;5 tonnes Gross Vehicle Weight (GVW) </li>
<li>Large vans - between 1.205 tonnes unladen and 3.5 tonnes GVW </li>
<li>Motorised horse boxes between 1.205 tonnes unladen and 3.5 tonnes GVW </li>
<li>Motorised caravans and ambulances between 2.5 tonnes and 3.5 tonnes GVW </li>
<li>Other specialist vehicles derived from vans and minibuses </li>
<li>Vehicles affected by this phase of the LEZ which do not meet the specified emission standard would pay a daily charge of &pound;100 to drive within the LEZ.&nbsp;Non-compliant vehicles which not pay the charge would be subject to a &pound;500 penalty charge for each day they drive within the zone </li>
<li>Operators with vehicles that do not meet the specified emissions standards for the Low Emission Zone have several options to comply with the scheme including: </li>
<li>Fitting approved particulate abatement equipment to the vehicle </li>
<li>Purchasing a new or compliant second hand vehicle </li>
<li>Re-organising a fleet so that only compliant vehicles drive within the zone </li>
<li>Paying a daily charge </li>
<li>TfL is currently working with abatement industry to develop approved abatement solutions for larger vans and minibuses and details will be published on the website in due course </li>
<li>From 3 January 2012, the emissions standard for vehicles already affected by the LEZ in 2008 will be tightened. Lorries over 3.5 tonnes, buses and coaches over 5 tonnes will then be required to meet a Euro IV for PM standard to drive within the LEZ without charge </li>
<li>The Mayor's new Transport Strategy, published on 10 May 2010, includes a formal proposal to defer introduction of the next phase of the LEZ (affecting larger vans and minibuses) until 2012 (Proposal 95). For legal reasons TfL has not been able to start the necessary procedures to implement deferral until its publication.&nbsp;Now that has happened TfL has made a variation order proposing that the date for the inclusion of the affected vehicles now be from 3 January 2012, rather than 4 October 2010. The Mayor will consider all representations made during the 6 week public and stakeholder consultation, and then decide whether or not to confirm the variation order (with or without modification). If confirmed, the larger vans and minibuses phase of the LEZ will start on 3 January 2012 </li>
<li>Transport for London is already delivering a range of measures to improve air quality in London: </li>
<li>Increasing the number of hybrid buses in the London fleet from 56 to 112 by the end of the year.&nbsp;A further 300 new hybrid buses will join the fleet by March 2011, after which time it is expected that all new buses entering service in London will be hybrids </li>
<li>Delivering five hydrogen fuel cell buses, emitting nothing but water, which will enter service later this year </li>
<li>Smoothing traffic flow to increase the reliability and predictability of journeys, including through tackling "stop-start" traffic conditions, which have a particularly detrimental impact on air quality </li>
<li>Introducing schemes to encourage motorists to leave their car at home and use more sustainable methods of transport.&nbsp; These include the introduction of a bike hire scheme to Central London to make bikes available to all </li>
<li>Installing 25,000 electric vehicles charging points in London by 2015 and delivering a range of initiatives to encourage 100,000 electric vehicles, which have zero emissions at the point of use, on London's roads </li>
<li>The Mayor of London is currently consulting with the public on his draft Air Quality Strategy. This sets out a range of measures to reduce emissions from transport, homes and workplaces. The Strategy is available at <a href="http://www.london.gov.uk/consultation/air-quality">www.london.gov.uk/consultation/air-quality</a> and consultation lasts until 21 June. The Mayor expects to publish his final Air Quality Strategy in the autumn</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The proposal would require the oldest, most polluting larger vans, minibuses and other specialist vehicles* to meet the Euro III standard for particulate matter (PM) in order to drive, without charge, in the Low Emission Zone from 3 January";}
        
        


 