


@{ViewBag.Title = "Temporary changes to bus route 128";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Temporary changes to bus route 128</h1>
        <div class="content-page-press-release">
        10 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 15 May bus route 128, which currently runs between Romford station and Claybury Broadway, will be split into two sections for three months while works are carried out on Gants Hill and Green Lane.
        
    </div>



 <div class="on-this-page">
<p>The first section of the route will run between Claybury and Ilford operating every 14 minutes during the day Mondays to Saturdays. </p>
<p>The second section will run between Romford and Ilford operating every 12 minutes during the day Mondays to Saturdays. </p>
<p>Passengers wishing to travel beyond Ilford from Romford will have to alight at bus stops W and Q, for an adjoining bus towards Claybury.&nbsp;</p>
<p>If passengers wish to travel beyond Ilford from Claybury they will need to alight at stops R or T, for an adjoining bus towards Romford. </p>
<p>Passengers will be able to transfer without charge between the different sections of the route within Ilford Town Centre. </p>
<p>Buses will run on both sections every 20 minutes on a Sunday during the day.</p>
<p>The night service on route 128 will not be affected by the works and will continue to operate directly between Romford station and Claybury Broadway every 30 minutes. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul title="Bus route finder">
<li>Check the route on our <a href="http://www.tfl.gov.uk/tfl/gettingaround/maps/buses/">bus route finder</a></li>
<li>The night service runs from Romford station from 00:20 until 05:20 and from Claybury Broadway from 00:40 until 04:42<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first section of the route will run between Claybury and Ilford operating every 14 minutes during the day Mondays to Saturdays. The second section will run between Romford and Ilford operating every 12 minutes during the day Mondays to Saturdays.";}
        
        


 