


@{ViewBag.Title = "Ten thousand free tickets mark first full service on London Overground's East London route";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ten thousand free tickets mark first full service on London Overground's East London route</h1>
        <div class="content-page-press-release">
        18 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New line connects Dalston in the north to New Cross, Crystal Palace and West Croydon in the south. 33 million expected to use the line in its first year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm thrilled for every community situated along the route of this incredible stretch of track with its phenomenal new trains and stations"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm thrilled for every community situated along the route of this incredible stretch of track with its phenomenal new trains and stations
                            
                        </p>
                    </div>
                
            
            
            <p>Ten thousand free tickets will be given out to passengers to travel on London Overground's new East London railway on its first day of operating a full public service this Sunday (May 23).</p>
<p>The offer will mark the first time that passengers on London Overground's new trains will be able to travel the complete length of the new &pound;1bn route from Dalston Junction in the north all the way to West Croydon, Crystal Palace and New Cross in south London.</p>
<h2>New opportunities</h2>
<p>The Mayor of London Boris Johnson, said: 'I'm thrilled for every community situated along the route of this incredible stretch of track with its phenomenal new trains and stations. </p>
<p>'Its Tube-style service will make getting around the Capital massively easier and bring jobs and opportunities along the length of the line. </p>
<p>'This &pound;1 billion upgrade is the perfect example of the sort of investment in infrastructure that must be protected by the new Government if London is to maintain its role as a leading world city.'</p>
<p>The new East London route, the biggest piece of transport infrastructure for London since the opening of the Jubilee line extension in 1999, is being delivered ahead of schedule and on budget. </p>
<h2>Improved trains</h2>
<p>Passengers will benefit from new walk through air-conditioned trains, four newly built stations and 14 refurbished stations with upgraded CCTV, passenger information systems and lighting with staff on duty at all times while trains are running. </p>
<p>Ian Brown, Managing Director of TfL London Rail, said: 'With cheaper fare options, fast journey times and a route which takes in both Docklands and the City of London, London Overground's East London route completes two-thirds of the orbital railway planned for the Capital.</p>
<p>'By 2012 when this new line is connected to Clapham Junction, the London Overground orbital rail network of London will be completed.'</p>
<p>A northern section of the new line - Dalston Junction to New Cross Gate - was opened with a limited Preview Running service four weeks ago. </p>
<p>On Sunday 23 May starting at approximately&nbsp;07:00 and running until around midnight, these services will be extended past New Cross Gate to New Cross, West Croydon and Crystal Palace.</p>
<p>On Monday 24 May and thereafter Monday to Saturday, a full Metro-style service will run from 05:40 until approximately midnight with&nbsp;passengers benefiting from a full turn up and go service of 12 trains per hour through the core section - Dalston Junction to Surrey Quays.</p>
<p>On Sundays the service will start at approximately&nbsp;07:00 but&nbsp;passengers should check at their local station for full timetable details or online at <a href="http://www.tfl.gov.uk/gettingaround">http://www.tfl.gov.uk/gettingaround</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Media are invited to attend a short opening ceremony with the Managing Director of TfL London Rail, Ian Brown, at 10:00 on Sunday 23 May at West Croydon station. This will be followed by a journey along the line with opportunities to talk to passengers and residents, some of whom are holding celebrations at their local stations </li>
<li>Free tickets will be issued at stations along the line on a first come first served basis. Each station will be given a finite number of the tickets based on the number of people who use it. Each station will be limited to one ticket per person; they will be non-transferable, valid for Sunday 23 May only and limited to the East London route on the London Overground network. Passengers interchanging from other networks need to complete their first journey by touching out with their Oystercard </li>
<li>This &pound;1bn investment London Overground's new East London route supports London's economic development and opening up access to jobs, education and leisure opportunities across the Capital </li>
<li>The new route is a crucial part of the London Overground orbital network and in London's overall integrated transport infrastructure </li>
<li>The route will provide a turn up and go, metro-style service of up to 12 trains an hour to parts of London traditionally poorly served by rail services </li>
<li>The Mayor and TfL are launching the ELL as a key component of the 2012 Games transport plans, and the line will leave an important transport and regeneration legacy to East London </li>
<li>The new section of London Overground will bring a much-needed alternative mode of north-south transport to eastern London </li>
<li>The new East London route is part of the London Overground network and run from Dalston Junction in the north to New Cross, Crystal Palace and West Croydon in the south. By next Spring it will connect in the north with the existing London Overground network at Highbury &amp; Islington </li>
<li>Besides the four new stations, completion of the &pound;1bn project includes; the construction of a new maintenance depot at New Cross Gate, the upgrade of the 2.1km long, LUL line to National Rail standards, 3.5km of tracks built between Whitechapel and Dalston Junction, the renewal of old bridges and installation of new ones </li>
<li>It is predicted that in 2011, 33m people will use the new route (approx 100,000 per day) and demand is forecast to increase to 40m in 2016 (approx 120,000 per day). The former East London Tube line, prior to its closure, carried approximately 9 million passengers every year (approx 30,000 per day) </li>
<li>Examples of journey times on the new line are Dalston Junction to West Croydon - 47 minutes; to Crystal Palace - 37 minutes. Shoreditch High Street station to Brockley - 16 mins; Honor Oak -19 mins; Forest Hill - 22 mins; Sydenham - 24 mins </li>
<li>The London Transport Museum's exhibition 'Overground Uncovered: life along the line' celebrates the London Overground network, including the new East London line route. It will open on Saturday 29 May, 2010 </li>
<li>Passengers might like to check out the following website <a href="http://www.eastlondonlines.co.uk">www.eastlondonlines.co.uk</a> for community events along the line</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ten thousand free tickets will be given out to passengers to travel on London Overground's new East London railway on its first day of operating a full public service this Sunday (May 23).The offer will mark the first time that passengers on London";}
        
        


 