


@{ViewBag.Title = "Transport for London to acquire the shares of Tube Lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London to acquire the shares of Tube Lines</h1>
        <div class="content-page-press-release">
        07 May 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bechtel and Amey (Ferrovial) agree sale of their equity in Tube Lines to Transport for London (TfL). Deal allows greater flexibility in the delivery of vital Tube upgrades.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This deal is excellent news for London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor of London</div>
            <div class="quotee-job-title">Boris Johnson</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This deal is excellent news for London
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Mayor of London, Boris Johnson and Transport for London&nbsp;today set out a revised arrangement that will enable London Underground (LU) to work with the private sector, including Amey, to deliver vital Tube improvements, as they announced that they have entered into an agreement to buy the shares of Bechtel and Amey (Ferrovial) in Tube Lines for &pound;310m.</p>
<p>The agreement, when concluded, will involve no extra financial call on the Government, London's fare payers or taxpayers in relation to the upgrade of the Tube.&nbsp; </p>
<p>Freed from the complex Public Private Partnership (PPP) structure, TfL is also confident of generating substantial savings, with greater flexibility to manage the Tube upgrade programme, alongside all the other improvements being delivered across London's transport network.</p>
<h2>Minimum disruption</h2>
<p>TfL will now review the PPP upgrade programmes with the objective of delivering the Tube improvements London needs, with the minimum of disruption for Londoners and businesses and delivered with the best possible value for money.&nbsp; </p>
<p>In particular, the agreement means:</p>
<ul>
<li>Tube upgrade and maintenance work can proceed without further calls on fare payers' and taxpayers' money, meaning there will no longer be any PPP funding gap</li>
<li>A revised approach can now be taken to reduce the impact of line closures on customers and businesses, beginning with a much less disruptive upgrade programme on the Northern line</li>
<li>Amey (Ferrovial) will continue to provide management and maintenance services on the Jubilee, Northern and Piccadilly lines on an ongoing basis. Bechtel will continue to work with LU for an interim period to ensure a smooth transition of the capital works programme to LU</li>
<li>LU's first priority will be the completion of the Jubilee line upgrade, delivering more frequent and reliable trains, as soon as possible</li>
<li>LU will now be able to establish the best way of delivering the upgrade of the Northern and Piccadilly lines, within available funding and with synergies achieved alongside its existing upgrade programmes for the Victoria and Sub Surface Lines (Circle, District, Hammersmith &amp; City and Metropolitan lines)</li></ul>
<p>Mayor of London Boris Johnson, said: 'This deal is excellent news for London.&nbsp; </p>
<h2>Cost effective</h2>
<p>'Freed from the perverse pressures of the Byzantine PPP structure, I am confident that London Underground and private contractors are more than capable of delivering the improvements to London's transport network we need, on time and on budget.</p>
<p>'There is much work ahead of us, but this arrangement provides the greater flexibility we so desperately need to minimise disruption to Londoners and businesses and ensures that this vital work will be delivered in a more cost effective manner.'</p>
<p>London Underground Managing Director Mike Brown, said: 'This new arrangement will enable us to work even more directly and collaboratively with the management and staff of our private sector partners to deliver these vital improvements to the Tube, and I welcome that.&nbsp; </p>
<p>'I would also like to acknowledge the contribution of Tube Lines' shareholders, management and staff to the improved operational performance on the Jubilee, Northern and Piccadilly lines over the last seven years.</p>
<p>'The Tube now carries more than one billion passengers a year and we must continue to improve the capacity and reliability of our services in order to manage anticipated growth in jobs and population and to secure the future prosperity of London and the UK.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Completion of the sale is anticipated by 30 June 2010.&nbsp;At that time, Bechtel and Amey will end their roles as shareholders in Tube Lines under the PPP contract for capital works projects and maintenance programmes on the Jubilee, Northern and Piccadilly lines of the London Underground
<li>Tube Lines will become a wholly owned subsidiary of TfL</li>
<li>The Mayor and TfL's first priority is to see the Jubilee line upgrade delivered as soon as possible, alongside LU's existing upgrade programme for the Victoria and Sub Surface Lines (Circle, District, Hammersmith &amp; City and Metropolitan), whilst also ensuring that it provides the reliability of service on which customers and businesses on the line depend</li>
<li>TfL will also now review Tube Lines' upgrade programmes with the objective of delivering the Tube improvements London needs, with the minimum of disruption for Londoners and business and offering the best possible value for money.&nbsp;This review will take some time to complete, but it will enable TfL to fully understand the Northern and Piccadilly line upgrade programmes, including when and how they can best be delivered and any synergies that can be achieved alongside LU's existing upgrade programmes</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Boris Johnson and Transport for London&nbsp;today set out a revised arrangement that will enable London Underground (LU) to work with the private sector, including Amey, to deliver vital Tube improvements, as they announced that they have";}
        
        


 