


@{ViewBag.Title = "December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">December</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>December</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/northwest-london-set-to-benefit-from-improved-bus-links">Northwest London set to benefit from improved bus links<br />10 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/tfl-reminds-customers-of-tfl-fares-freeze-in-2020">TfL reminds customers of TfL fares freeze in 2020<br />31 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/natalie-gordon-receives-mbe-for-her-community-work">Natalie Gordon receives MBE for her community work<br />27 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/lift-work-at-waterloo-station-to-improve-reliability">Lift work at Waterloo station to improve reliability<br />27 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/work-to-improve-london-overground-s-west-hampstead-station-is-complete">Work to improve London Overground's West Hampstead station is complete<br />23 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/major-north-london-town-centre-set-to-be-transformed">Major north London town centre set to be transformed<br />20 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/next-phase-of-waltham-forest-cycleway-will-make-it-easier-than-ever-to-travel-around-the-area-by-bike">Next phase of Waltham Forest Cycleway will make it easier than ever to travel around the area by bike<br />18 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/new-station-entrance-open-at-finsbury-park">New station entrance open at Finsbury Park<br />18 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/tfl-to-trial-innovative-new-bus-sound-to-improve-road-safety">TfL to trial innovative new bus sound to improve road safety<br />18 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/unwrap-london-this-festive-season-using-public-transport">Unwrap London this festive season using public transport<br />16 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/tfl-launches-new-website-to-make-it-quicker-and-easier-to-report-problems-on-london-s-streets">TfL makes it easier to report problems on London's streets<br />16 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/tfl-rail-begins-operating-services-between-london-paddington-and-reading">TfL Rail begins operating services between London Paddington and Reading<br />15 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/tfl-business-plan-investing-to-keep-london-moving">TfL Business Plan: investing to keep London moving<br />13 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/londoners-encouraged-to-get-home-safely-during-the-festive-period">Londoners encouraged to get home safely during the festive period<br />05 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/a-more-frequent-service-to-operate-on-richmond-and-clapham-junction-to-stratford-routes">A more frequent service to operate on Richmond and Clapham Junction to Stratford routes<br />04 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/extra-early-morning-services-to-be-introduced-on-the-gospel-oak-to-barking-route">Extra early morning services to be introduced on the Gospel Oak to Barking route<br />04 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/more-than-100-santander-cycles-docking-points-installed-near-major-rail-stations">More than 100 Santander Cycles docking points installed near major rail stations<br />04 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/tfl-rail-will-operate-services-to-reading-from-15-december">TfL Rail will operate services to Reading from 15 December<br />03 Dec 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/december/work-on-new-segregated-cycle-lanes-and-pedestrian-crossings-at-kew-bridge-set-to-beg">Work on new segregated cycle lanes and pedestrian crossings at Kew Bridge set to begin <br />03 Dec 2019</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "December 2019";}
        
        


 