


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/tfl-doubles-funding-for-cycling-and-walking-programmes">TfL doubles funding for cycling and walking programmes<br />30 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/santander-cycles-marks-birthday-with-series-of-free-led-rides">Santander Cycles marks birthday with series of free led rides<br />29 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/world-s-greatest-cycling-festival-returns-this-weekend">World's greatest cycling festival returns this weekend<br />29 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/work-starts-to-deliver-affordable-homes-in-blackhorse-road">Work starts to deliver affordable homes in Blackhorse Road<br />26 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/three-months-until-the-first-phase-of-direct-vison-standard">Three months until the first phase of Direct Vision Standard<br />26 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/lowest-number-of-road-deaths-but-challenges-remain-to-achieve-vision-zero">Lowest number of road deaths, but challenges remain to achieve Vision Zero<br />25 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/tfl-announces-new-walking-and-cycling-improvements-in-west-london">TfL announces new walking and cycling improvements in west London<br />25 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/tfl-travel-advice-ahead-of-the-hottest-day-of-the-year">TfL travel advice ahead of the hottest day of the year<br />24 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/victims-speak-out-during-vision-zero-week">Victims speak out during Vision Zero Week<br />22 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/second-on-demand-bus-trial-to-be-launched-in-ealing">Second on-demand bus trial to be launched in Ealing<br />19 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/4g-on-jubilee-line-tunnel-section-from-march-2020">4G on Jubilee line tunnel section from March 2020<br />19 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/plans-for-new-walking-and-cycling-link-in-east-london">Plans for new walking and cycling link in east London<br />17 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/watford-high-street-station-to-close-for-vital-work">Watford High Street Station to close for vital work<br />16 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/andy-lord-appointed-new-md-of-london-underground">Andy Lord appointed new MD of London Underground<br />15 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/tfl-announces-2-5m-funding-boost-to-meet-growing-demand-for-cycle-parking">TfL announces &pound;2.5m funding boost to meet growing demand for cycle parking<br />10 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/cabbies-take-up-30m-of-new-green-grants-to-help-switch-to-cleaner-vehicles">Cabbies take up &pound;30m of new green grants to help switch to cleaner vehicles<br />05 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/bank-station-upgrade-construction-reaches-half-way-stage">Bank station upgrade construction reaches half-way stage<br />01 Jul 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/july/tfl-the-met-police-and-campaign-groups-reach-out-to-motorcyclists-following-five-recent-fatalities">TfL, the Met Police and Campaign Groups reach out to motorcyclists following five recent fatalities<br />05 Jul 2019</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "July";}
        
        


 