


@{ViewBag.Title = "March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">March</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>March</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/gla---mayor-s-call-to-take-charge-of-key-rail-infrastructure">GLA - Mayor calls for TfL to take charge of key rail infrastructure<br />26 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/travel-advice-ahead-of-croydon-tram-strike-on-28-march">Travel advice ahead of Croydon tram strike on 28 March<br />25 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/tfl-completes-sale-and-leaseback-of-elizabeth-line-trains-to-345-rail-leasing-consortium">TfL completes 'sale and leaseback' of Elizabeth line trains to 345 Rail Leasing Consortium<br />22 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/first-section-of-brand-new-tube-signalling-goes-live">First section of brand new Tube signalling goes live<br />20 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/tfl-s-budget-shows-operating-deficit-almost-halved-as-mayor-calls-for-government-investment-in-transport">TfL's budget shows operating deficit almost halved as Mayor calls for Government investment in transport<br />20 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/wealth-of-disabled-people-s-talent-creativity-and-knowledge-can-only-be-harnessed-with-good-accessible-transport-argues-tfl">Wealth of disabled people's talent, creativity and knowledge can only be harnessed with good accessible transport, argues TfL<br />19 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/south-woodford-tube-station-becomes-fully-step-free">South Woodford Tube station becomes fully step-free<br />18 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/major-breakthrough-completed-at-complex-bank-station-upgrade">Major breakthrough completed at complex Bank Station Upgrade<br />18 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/one-month-countdown-begins-as-capital-gets-ready-for-central-london-ulez">One-month countdown begins as capital gets ready for central London ULEZ<br />08 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/the-mayor-and-tfl-launch-major-plan-to-help-freight-deliver-for-londoners">The Mayor and TfL launch major plan to help freight deliver for Londoners<br />07 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/emirates-air-line-closed-monday-11-to-sunday-17-march-for-maintenance-work">Emirates Air Line closed Monday 11 to Sunday 17 March for maintenance work<br />07 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/step-free-access-arrives-at-four-eastern-tfl-rail-stations">Step-free access arrives at four eastern TfL Rail stations<br />05 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/new-projects-to-receive-50-million-to-create-healthy-streets-across-london">New projects to receive &pound;50 million to create healthy streets across London<br />05 Mar 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/march/gospel-oak-to-barking-update">Gospel Oak to Barking Update<br />04 Mar 2019</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "March";}
        
        


 