


@{ViewBag.Title = "November";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">November</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>November</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/tfl-completes-contract-with-riverlinx-consortium-to-design-build-finance-and-maintain-silvertown-tunnel">TfL completes contract with Riverlinx consortium to design, build, finance and maintain Silvertown Tunnel<br />25 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/tfl-asks-shoppers-to-go-green-this-black-friday">TfL asks shoppers to go green this Black Friday<br />27 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/tfl-awards-funding-to-community-groups-encouraging-those-of-all-backgrounds-to-walk-and-cycle">TfL awards funding to community groups encouraging those of all backgrounds to walk and cycle<br />26 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/uber-london-limited-found-to-be-not-fit-and-proper-to-hold-a-private-hire-operator-licence">Uber London Limited found to be not fit and proper to hold a private hire operator licence<br />25 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/stricter-enforcement-of-rotherhithe-tunnel-s-vital-safety-restrictions">Stricter enforcement of Rotherhithe Tunnel's vital safety restrictions<br />22 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/tfl-confirms-pay-as-you-go-fares-for-bus-and-tube-frozen-for-2020">TfL confirms 'pay as you go' fares for bus and Tube frozen for 2020<br />18 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/tfl-s-brendan-gallagher-recognised-with-an-honorary-bem">TfL's Brendan Gallagher recognised with an Honorary BEM<br />14 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/second-on-demand-bus-trial-begins-today">Second on-demand bus trial begins today<br />13 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/boost-for-future-of-river-transport-as-collaborative-pier-strategy-published">Boost for future of river transport as collaborative Pier Strategy published<br />06 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/tfl-sets-out-next-steps-for-walking-and-cycling-improvements-between-wood-lane-and-notting-hill-gate">TfL sets out next steps for walking and cycling improvements between Wood Lane and Notting Hill Gate<br />05 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/more-frequent-service-on-london-overground-s-watford-junction-to-euston-route">More frequent service on London Overground's Watford Junction to Euston route<br />05 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/victoria-line-services-to-increase-in-major-boost-for-commuters">Victoria line services to increase in major boost for commuters<br />04 Nov 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/november/-plans-to-build-hundreds-of-new-affordable-homes-in-kidbrooke-given-the-go-ahead"> Plans to build hundreds of new affordable homes in Kidbrooke given the go-ahead<br />01 Nov 2019</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "November 2019";}
        
        


 