


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/reminder-installation-of-three-new-dlr-escalators-at-bank">Reminder: Installation of three new DLR escalators at Bank<br />26 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/tfl-rail-to-operate-services-to-reading-from-15-december">TfL Rail to operate services to Reading from 15 December<br />26 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/retail-innovation-winner-offers-retail-space-by-the-hour">Retail Innovation winner offers retail space by the hour<br />24 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/uber-london-limited-licensing-decision">Uber London Limited licensing decision<br />24 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/installation-of-three-new-dlr-escalators-at-bank-station">Installation of three new DLR escalators at Bank station<br />16 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/five-new-safety-innovations-to-be-trialled-on-london-buses">Five new safety innovations to be trialled on London buses<br />13 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/four-new-cycleways-to-launch-enabling-more-people-to-join-the-capital-s-cycling-boom">Four new Cycleways to launch, enabling more people to join the capital's cycling boom<br />12 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/new-figures-show-popularity-of-the-mayor-s-bus-hopper-fare-since-launch">New figures show popularity of the Mayor's Bus Hopper fare since launch<br />12 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/raising-the-roof-at-bank-station-as-project-reaches-major-milestone">Raising the roof at Bank station as project reaches major milestone<br />12 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/lost-property-office-to-move-to-new-home-in-south-kensington">Lost Property Office to move to new home in South Kensington<br />09 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/plans-for-20mph-speed-limit-in-central-london-given-the-green-light">Plans for 20mph speed limit in central London given the green light<br />06 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/london-s-electric-bus-fleet-becomes-the-largest-in-europe">GLA - London's electric bus fleet becomes the largest in Europe<br />05 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/new-way-of-maintaining-roads-saves-south-east-london-s-road-users-over-a-month-s-worth-of-disruption">New way of maintaining roads saves south-east London's road users over a month's worth of disruption<br />05 Sep 2019</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2019/september/lb-hammersmith-and-fulham---work-begins-to-repair-hammersmith-bridge">LB Hammersmith and Fulham - Work begins to repair Hammersmith Bridge<br />03 Sep 2019</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "September 2019";}
        
        


 