


@{ViewBag.Title = "January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2006">2006</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">January</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>January</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/improving-air-quality-in-the-capital--consultation-begins-on-low-emission-zone">Improving air quality in the Capital - Consultation begins on Low Emission Zone<br />31 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/chinese-poems-on-the-underground">Chinese poems on the Underground<br />31 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/lu-to-implement-shorter-working-week-as-planned">LU to implement Shorter Working Week as planned<br />27 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/tfl-wins-yahoo-award-for-best-travel-website">TfL wins Yahoo! award for best travel website<br />27 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/mans-best-friend-goes-underground">Mans best friend goes Underground<br />27 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/lu-statement-on-temporary-central-line-suspension">LU statement on temporary Central line suspension<br />27 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/congestion-charge-paynextday-could-start-three-months-early">Congestion Charge Pay-Next-Day could start three months early<br />26 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/buses-replace-trains-between-willesden-junction-and-wembley-central">Buses replace trains between Willesden Junction and Wembley Central<br />25 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-set-to-host-the-start-of-the-tour-de-france-in-2007">London set to host the start of the Tour de France in 2007<br />24 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/new-bus-shows-spirit-of-london">New bus shows Spirit of London<br />24 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/careless-talk-costs-lives-on-the-underground">Careless talk costs lives on the Underground<br />23 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/improvement-works-at-brixton-will-mean-victoria-line-suspensions">Improvement works at Brixton will mean Victoria line suspensions<br />23 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/kentish-town-station-closed">Kentish Town station closed<br />20 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/last-chance-to-take-part-in-east-london-transit-consultation">Last chance to take part in East London Transit consultation<br />18 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/no-justification-for-strike-ballot-says-lu">No justification for strike ballot, says LU<br />18 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-trials-voice-of-the-buses">London trials Voice of the Buses<br />17 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/northern-line-rush-hour-delays-this-evening">Northern line rush hour delays this evening<br />17 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/lu-to-implement-shorter-working-week-on-5-february">LU to implement shorter working week on 5 February<br />17 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/mayor-appoints-new-transport-commissioner">Mayor appoints new Transport Commissioner<br />17 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/more-than-100000-passengers-switch-from-cash-to-smarter-faster-oyster">More than 100,000 passengers switch from cash to smarter, faster Oyster<br />17 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/blue-notes-from-underground--recorded-due-to-popular-demand">Blue Notes from Underground - Recorded due to popular demand<br />16 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/tube-scoops-top-bbc-employer-health-award">Tube scoops top BBC employer health award<br />16 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/jail-term-for-tube-menace">Jail term for Tube menace<br />13 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/battersea-bridge-will-reopen-to-road-traffic-on-monday-16-january-2006">Battersea Bridge will re-open to road traffic on Monday 16 January 2006<br />12 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-underground-and-arsenal-present-the-final-salute-to-highbury">London Underground and Arsenal present The Final Salute to Highbury<br />12 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/lu-cuts-energy-use-at-stations-by-almost-a-quarter-reveals-report">LU cuts energy use at stations by almost a quarter, reveals report<br />11 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-underground-service-update--1415">London Underground service update - 1415<br />09 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-underground-service-update--1800">London Underground service update - 1800<br />09 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-underground-service-update--1130">London Underground service update - 1130<br />09 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/six-new-coach-bays-created-in-londons-west-end">Six new coach bays created in Londons West End<br />09 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-underground-service-update--2300hrs">London Underground Service Update - 23:00hrs<br />08 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-underground-urges-the-rmt-to-suspend-strike-action-following-further-talks">London Underground urges the RMT to suspend strike action following further talks<br />07 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/ken-livingstone-urges-rmt-to-return-to-talks-and-call-off-tube-strike">Ken Livingstone urges RMT to return to talks and call off Tube strike<br />06 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/north-greenwich-will-be-closed-due-to-escalator-improvement-works">North Greenwich will be closed due to escalator improvement works<br />05 Jan 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/january/london-underground-statement-on-todays-acas-talks">London Underground statement on todays ACAS talks<br />04 Jan 2006</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25668">January</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25812">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25900">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26060">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26144">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26276">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26412">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26492">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26616">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26696">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26788">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26896">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 