


@{ViewBag.Title = "June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2006">2006</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">June</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>June</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/statement-from-tfl-on-ealing-councils-decision-to-suspend-some-bus-lanes-in-the-borough">Statement from TfL on Ealing Councils decision to suspend some bus lanes in the Borough<br />29 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/public-carriage-office-begins-consultation-on-licensing-pedicabs-in-london">Public Carriage Office begins consultation on licensing pedicabs in London<br />29 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/congestion-charging-three-years-on--cleaner-air-safer-roads-and-reduced-congestion">Congestion Charging three years on - cleaner air, safer roads and reduced congestion<br />29 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/tfl-concerned-about-knockon-effects-of-first-capital-connect-new-fare-restrictions">TfL concerned about knock-on effects of First Capital Connect new fare restrictions<br />29 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/groundbreaking-advice-for-londons-developers">Ground-breaking advice for Londons developers<br />28 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/early-evening-metropolitan-and-piccadilly-line-closures-west-of-rayners-lane">Early evening Metropolitan and Piccadilly line closures west of Rayners Lane<br />26 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/unique-bakerloo-line-heritage-features-restored">Unique Bakerloo line heritage features restored<br />21 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/celebrating-child-road-safety-champions">Celebrating Child Road Safety Champions<br />21 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/regents-park-station-to-close-for-refurbishment">Regents Park station to close for refurbishment<br />21 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/modernisation-and-lift-refurbishment-for-lancaster-gate">Modernisation and lift refurbishment for Lancaster Gate<br />20 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/forty-per-cent-of-14-and-15yearolds-report-using-cars-less-due-to-free-bus-and-tram-travel">Forty per cent of 14 and 15-year-olds report using cars less due to free bus and tram travel<br />20 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/gearing-up-for-bike-week">Gearing up for Bike Week<br />19 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/paynextday-for-congestion-charge-users">Pay-Next-Day for Congestion Charge users<br />16 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/central-line-disruption-on-friday-16-june">Central line disruption on Friday 16 June<br />16 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/lu-station-gardens-competition-underway">LU Station Gardens competition underway<br />15 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/queensway-station-reopened-today">Queensway station reopened today<br />14 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/launch-of-london-freight-plan-consultation">Launch of London Freight Plan consultation<br />14 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/faster-buses-according-to-new-transport-for-london-report">Faster buses according to new Transport for London report<br />13 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/dlr-looks-to-the-future-with-olympic-train-order">DLR looks to the future with Olympic train order<br />13 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/queensway-station-opening-delayed-again">Queensway station opening delayed again<br />12 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/transport-commissioner-pledges-further-improvements-to-cool-down-londons-bus-passengers">Transport Commissioner pledges further improvements to cool down Londons bus passengers<br />09 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/city-provides-taxi-marshals-at-liverpool-street">City provides Taxi marshals at Liverpool Street<br />07 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/four-bidders-on-tfl-london-rail-concession-shortlist">Four bidders on TfL London Rail Concession shortlist<br />07 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/tube-and-bus-plans-to-help-stay-cool-this-summer">Tube and bus plans to help Stay Cool this summer<br />07 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/mayor-welcomes-transport-plans-for-tower-hamlets">Mayor welcomes transport plans for Tower Hamlets<br />06 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/mayor-welcomes-transport-plans-for-lambeth">Mayor welcomes transport plans for Lambeth<br />06 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/tfl-response-to-london-assembly-july-7-report">TfL response to London Assembly July 7 report<br />05 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/transport-for-london-launches-the-new-and-improved-greenwich-station-forecourt">Transport for London launches the new and improved Greenwich Station forecourt<br />05 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/transport-for-london-launches-the-new-and-improved-greenwich-station-forecourt">Transport for London launches the new and improved Greenwich Station Forecourt<br />05 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/tfl-sells-residential-property-in-ealing-to-housing-association-to-provide-improved-housing-to-local-people">TfL sells residential property in Ealing to housing association to provide improved housing to local people<br />05 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/northern-line-incident">Northern line incident<br />02 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/special-advice-for-passengers-travelling-to-heathrow-during-june">Special advice for passengers travelling to Heathrow during June<br />01 Jun 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/june/new-bus-route-for-greenwich">New bus route for Greenwich<br />01 Jun 2006</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25668">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25812">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25900">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26060">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26144">May</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26276">June</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26412">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26492">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26616">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26696">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26788">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26896">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 