


@{ViewBag.Title = "August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2006">2006</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">August</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>August</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/new-freight-scheme-is-a-fors-to-be-reckoned-with">New freight scheme is a FORS to be reckoned with<br />31 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/mayor-abolishes-bus-and-tram-fares-for-16-and-17yearolds-in-fulltime-education">Mayor abolishes bus and tram fares for 16 and 17-year-olds in full-time education<br />31 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/waterloo-and-city-line-to-open-after-major-upgrade">Waterloo and City line to open after major upgrade<br />31 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/tfl-awards-andpound223m-new-trains-contract">TfL awards &pound;223m new trains contract<br />31 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/tfl-appoints-event-management-company-for-2007-tour-de-france-grand-depart">TfL appoints event management company for 2007 Tour de France Grand Depart<br />29 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/new-oyster-deal-boosts-london-tourism">New Oyster deal boosts London tourism<br />29 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/important-advice-for-passengers-travelling-to-heathrow-next-week">Important advice for passengers travelling to Heathrow next week<br />25 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/construction-team-builds-on-its-reputation">Construction team builds on its reputation<br />24 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/tour-of-britain-finale-crowns-londons-biggest-day-of-cycling">Tour of Britain finale crowns Londons biggest day of cycling<br />24 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/surrey-quays-shoppers-encouraged-to-swap-four-wheels-for-two">Surrey Quays shoppers encouraged to swap four wheels for two<br />22 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/new-freight-centre-cuts-emissions-and-lorry-trips-by-70-per-cent">New freight centre cuts emissions and lorry trips by 70 per cent<br />18 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/tfl-launches-tube-check-before-you-travel-tv-ads">TfL launches Tube Check before you travel TV ads<br />17 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/free-bus-and-tram-travel-is-coming-for-16-and-17yearolds-in-fulltime-education">Free bus and tram travel is coming for 16 and 17-year-olds in full-time education<br />17 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/modernisation-works-to-improve-maida-vale-station">Modernisation works to improve Maida Vale station<br />14 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/airport-travel-advice">Airport travel advice<br />14 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/planned-closures-for-works-to-improve-the-metropolitan-line">Planned closures for works to improve the Metropolitan line<br />14 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/plan-your-journey-to-enjoy-the-carnival">Plan your journey to enjoy the Carnival<br />14 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/airport-travel-advice">Airport travel advice<br />11 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/airport-travel-advice">Airport travel advice<br />11 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/airport-travel-advice">Airport travel advice<br />11 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/airport-travel-advice">Airport travel advice<br />10 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/travel-advice-for-people-taking-flights-thursday-10-august">Travel advice for people taking flights: Thursday 10 August<br />10 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/travel-advice-baker-street-station-closed-this-evening">Travel Advice: Baker Street station closed this evening<br />09 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/northern-line-services-this-evening">Northern line services this evening<br />08 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/kicking-off-a-new-era-for-arsenal-station">Kicking off a new era for Arsenal Station<br />07 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/cyberspace-connects-teenagers-with-road-safety">Cyberspace connects teenagers with road safety<br />04 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/new-district-line-trains-given-thumbs-up-by-passengers">New District line trains given thumbs up by passengers<br />03 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/new-victoria-line-train-unveiled-to-the-public">New Victoria line train unveiled to the public<br />03 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/new-look-for-shadwell-station-unveiled-by-dlr">New look for Shadwell station unveiled by DLR<br />03 Aug 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/august/london-is-your-oyster-with-great-deals-across-the-capital">London is your Oyster with great deals across the Capital<br />02 Aug 2006</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25668">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25812">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25900">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26060">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26144">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26276">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26412">July</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26492">August</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26616">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26696">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26788">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26896">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 