


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2006">2006</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/bus-shuttle-to-replace-tube-from-hatton-cross-to-heathrow-on-5-november">Bus shuttle to replace Tube from Hatton Cross to Heathrow on 5 November<br />30 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/uk-to-get-andpound115m-tourism-boost-from-2007-tour-de-france">UK to get &pound;115m tourism boost from 2007 Tour de France<br />26 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/government-gives-green-light-to-key-2012-rail-link">Government gives green light to key 2012 rail link<br />25 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/new-campaign-to-put-brakes-on-illegal-drivers">New campaign to put brakes on illegal drivers<br />23 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/transport-for-london-awards-andpound363m-contract-to-build-new-east-london-railway">Transport for London awards &pound;363m contract to build new East London Railway<br />23 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/keith-ollier-leaves-transport-for-london">Keith Ollier leaves Transport for London<br />20 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/have-your-say--croydon-tramlink-extension-to-crystal-palace">Have your say - Croydon Tramlink extension to Crystal Palace<br />19 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/new-digital-tube-radio-rollout-now-underway">New digital Tube radio roll-out now underway<br />17 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/register-early-for-congestion-charge-residents-discount">Register early for Congestion Charge residents discount<br />16 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/tfl-commends-scientific-excellence-at-the-intelligent-transport-systems-world-congress">TfL commends scientific excellence at the Intelligent Transport Systems World Congress<br />12 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/junior-road-safety-officer-scheme-wins-international-road-safety-award">Junior Road Safety Officer scheme wins international road safety award<br />12 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/campaign-to-tackle-illegal-minicabs-in-london-wins-policing-award">Campaign to tackle illegal minicabs in London wins policing award<br />11 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/new-transport-for-london-exhibition-asks-londoners-to-talk-the-walk">New Transport for London exhibition asks Londoners to talk the walk<br />09 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/later-tube-services-on-hainault-loop">Later Tube services on Hainault loop <br />09 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/buskers-success-reaches-biblical-heights">Buskers success reaches biblical heights<br />09 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/transport-for-london-showcases-innovation-at-the-intelligent-transport-systems-world-congress">Transport for London showcases innovation at the Intelligent Transport Systems World Congress<br />08 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/dlr-london-city-airport-station-wins-major-rail-award">DLR London City Airport station wins major rail award<br />06 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/chiswick-park-improvement-works">Chiswick Park improvement works<br />06 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/feel-your-way-around-the-underground">Feel your way around the Underground<br />04 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/cycle-show-2006--gearing-up-for-the-tour-de-france">Cycle Show 2006 - Gearing up for the Tour de France<br />03 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/375-more-police-community-support-officers-for-londons-transport-network">375 more Police Community Support Officers for Londons transport network<br />03 Oct 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/october/new-look-a1306-unveiled">New look A1306 unveiled<br />03 Oct 2006</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25668">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25812">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25900">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26060">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26144">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26276">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26412">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26492">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26616">September</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26696">October</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26788">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26896">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 