


@{ViewBag.Title = "December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2006">2006</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">December</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>December</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/northern-line-charing-cross-branch-track-closures">Northern line Charing Cross branch track closures<br />29 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/travel-in-london-is-cheapest-with-oyster">Travel in London is cheapest with Oyster<br />29 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/happy-new-year-from-oyster">Happy New Year from Oyster<br />29 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/central-line-stations-on-hainault-loop-to-join-zone-4">Central line stations on Hainault loop to join Zone 4<br />29 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/report-shows-transport-for-london-tackling-climate-change-headon">Report shows Transport for London tackling climate change head-on<br />28 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/report-shows-transport-for-london-tackling-climate-change-headon">Report shows Transport for London tackling climate change head-on<br />28 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/travel-in-london-is-cheapest-with-oyster">Travel in London is cheapest with Oyster<br />28 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/a-penny-spent-at-oakwood-and-cockfosters-stations-is-a-penny-raised-for-good-causes">A penny spent at Oakwood and Cockfosters stations is a penny raised for good causes<br />27 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/andpound200-million-more-in-bonds-for-transport-for-london">&pound;200 million more in bonds for Transport for London<br />22 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/works-commence-at-earls-court-to-restore-grade-ii-listed-roof">Works commence at Earls Court to restore Grade II listed roof<br />21 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/lewisham-to-receive-major-boost-for-transport-improvements">Lewisham to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/haringey-to-receive-major-boost-for-transport-improvements">Haringey to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/newham-to-receive-major-boost-for-transport-improvements">Newham to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/hounslow-to-receive-major-boost-for-transport-improvements">Hounslow to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/southwark-to-receive-major-boost-for-transport-improvements">Southwark to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/barking-and-dagenham-to-receive-major-boost-for-transport-improvements">Barking and Dagenham to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/kensington-and-chelsea-to-receive-major-boost-for-transport-improvements">Kensington and Chelsea to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/barnet-to-receive-major-boost-for-transport-improvements">Barnet to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/brent-to-receive-major-boost-for-transport-improvements">Brent to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/tower-hamlets-to-receive-major-boost-for-transport-improvements">Tower Hamlets to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/islington-to-receive-major-boost-for-transport-improvements">Islington to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/camden-to-receive-major-boost-for-transport-improvements">Camden to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/richmond-to-receive-major-boost-for-transport-improvements">Richmond to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/hammersmith-and-fulham-to-receive-major-boost-for-transport-improvements">Hammersmith and Fulham to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/lambeth-to-receive-major-boost-for-transport-improvements">Lambeth to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/hillingdon-to-receive-major-boost-for-transport-improvements">Hillingdon to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/waltham-forest-to-receive-major-boost-for-transport-improvements">Waltham Forest to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/ealing-to-receive-major-boost-for-transport-improvements">Ealing to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/sutton-to-receive-major-boost-for-transport-improvements">Sutton to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/andpound160m-announced-for-local-transport-improvements">&pound;160m announced for local transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/merton-to-receive-major-boost-for-transport-improvements">Merton to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/croydon-to-receive-major-boost-for-transport-improvements">Croydon to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/hackney-to-receive-major-boost-for-transport-improvements">Hackney to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/harrow-to-receive-major-boost-for-transport-improvements">Harrow to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/city-of-london-to-receive-major-boost-for-transport-improvements">City of London to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/kingston-to-receive-major-boost-for-transport-improvements">Kingston to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/havering-to-receive-major-boost-for-transport-improvements">Havering to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/greenwich-to-receive-major-boost-for-transport-improvements">Greenwich to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/bexley-to-receive-major-boost-for-transport-improvements">Bexley to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/enfield-to-receive-major-boost-for-transport-improvements">Enfield to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/wandsworth-to-receive-major-boost-for-transport-improvements">Wandsworth to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/redbridge-to-receive-major-boost-for-transport-improvements">Redbridge to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/westminster-to-receive-major-boost-for-transport-improvements">Westminster to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/transport-for-london-welcomes-government-consideration-of-key-rail-upgrade-scheme">Transport for London welcomes Government consideration of key rail upgrade scheme<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/bromley-to-receive-major-boost-for-transport-improvements">Bromley to receive major boost for transport improvements<br />20 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/coulsdon-town-centre-regeneration-scheme-clear-to-progress-as-coulsdon-relief-road-opens">Coulsdon Town Centre regeneration scheme clear to progress as Coulsdon Relief Road opens<br />18 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/travel-advice-for-new-years-eve">Travel advice for New Years Eve<br />18 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/congestion-charge-suspended-for-festive-period">Congestion Charge suspended for festive period<br />18 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/transport-for-london-confirms-next-bid-stage-for-london-overground-services">Transport for London confirms next bid stage for London Overground services<br />15 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/mayor-unveils-andpound11m-improvements-to-finsbury-park-interchange">Mayor unveils &pound;11m improvements to Finsbury Park Interchange<br />15 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/new-deal-brings-oyster-and-barclaycard-visa-onto-one-card">New deal brings Oyster and Barclaycard Visa onto one card<br />13 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/evening-standard-article-on-londons-bus-service">Evening Standard article on Londons bus service<br />13 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/new-road-maintenance-and-improvement-contracts-for-london-announced">New road maintenance and improvement contracts for London announced<br />11 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/key-milestone-reached-in-andpound211m-rail-extension">Key milestone reached in &pound;211m rail extension<br />11 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/annual-tube-christmas-alcohol-safety-campaign-launches">Annual Tube Christmas alcohol safety campaign launches<br />08 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/tfl-double-win-at-the-green-awards-proves-youre-better-off-by-bike">TfL double win at the Green Awards proves youre better off by bike<br />06 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/transport-for-london-backs-campaign-for-smarter-working">Transport for London backs campaign for smarter working<br />06 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/tfl-commissioner-reveals-plans-to-upgrade-circle-district-hammersmith-and-city-and-metropolitan-lines">TfL Commissioner reveals plans to upgrade Circle, District, Hammersmith and City and Metropolitan lines<br />06 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/dana-skelley-named-engineer-of-the-year">Dana Skelley named Engineer of the Year<br />06 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/celebrities-light-up-waterloo-station-to-help-a-london-child">Celebrities light up Waterloo station to Help a London Child<br />06 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/safety-boost-as-london-underground-to-take-control-of-11-silverlink-stations">Safety boost as London Underground to take control of 11 Silverlink stations<br />05 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/docklands-light-railway-wins-leading-planning-award">Docklands Light Railway wins leading planning award<br />05 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/safety-and-environment-benefits-as-transport-for-london-submits-a406-plans">Safety and environment benefits as Transport for London submits A406 plans<br />05 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/londoners-to-get-a-free-ride-on-new-years-eve">Londoners to get a free ride on New Years Eve<br />04 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/transport-for-london-supports-very-important-pedestrians-day">Transport for London supports Very Important Pedestrians Day<br />01 Dec 2006</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2006/december/londons-transport-commissioner-peter-hendy-welcomes-eddington-transport-report">Londons Transport Commissioner Peter Hendy welcomes Eddington Transport Report<br />01 Dec 2006</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25668">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25812">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/25900">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26060">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26144">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26276">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26412">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26492">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26616">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26696">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26788">November</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006/26896">December</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 