
    
  



@{ViewBag.Title = "2002 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2002-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2002 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2002 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>19 November</h3>
<p><a href="/cdn/static/cms/documents/Agenda-19-Nov-02.rtf">Agenda and papers - RTF version (RTF 39KB)</a><br />
<a href="/cdn/static/cms/documents/agendanov2002.pdf">Agenda and papers (PDF 1.1MB)</a><br />
<a href="/cdn/static/cms/documents/minutesnov2002.rtf">Minutes - RTF version (RTF 116KB)</a><br />
<a href="/cdn/static/cms/documents/minutesnov2002.pdf">Minutes (PDF 103KB)</a></p>
<h3>19 September</h3>
<p>
<a href="/cdn/static/cms/documents/agendasept2002.rtf">Agenda and papers - RTF version (RTF 43KB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-1.pdf">Agenda and papers (PDF 1.11MB)</a><br />
<a href="/cdn/static/cms/documents/minutessept2002.rtf">Minutes - RTF version (RTF 237KB)</a><br />
<a href="/cdn/static/cms/documents/minutessept2002.pdf">Minutes (PDF 27KB)</a></p>
<h3>30 July</h3>
<p>
<a href="/cdn/static/cms/documents/agendajul2002.rtf">Agenda and papers - RTF version (RTF 46KB)</a><br />
<a href="/cdn/static/cms/documents/agendajul2002.pdf">Agenda and papers (PDF 716KB)</a><br />
<a href="/cdn/static/cms/documents/minutesjuly2002.rtf">Minutes - RTF version (RTF 102KB)</a><br />
<a href="/cdn/static/cms/documents/minutesjuly2002.pdf">Minutes (PDF 99KB)</a></p>
<h3>11 June</h3>
<p>
<a href="/cdn/static/cms/documents/Agenda11jun-2002.rtf">Agenda and papers - RTF version (RTF 52KB)</a><br />
<a href="/cdn/static/cms/documents/agendajune2002.pdf">Agenda and papers (PDF 3.3MB)</a><br />
<a href="/cdn/static/cms/documents/minutesjune2002.rtf">Minutes - RTF version (RTF 126KB)</a><br />
<a href="/cdn/static/cms/documents/minutesjune2002.pdf">Minutes (PDF 115KB)</a></p>
<h3>12 April</h3>
<p>
<a href="/cdn/static/cms/documents/agendaapril2002.rtf">Agenda and papers - RTF version (RTF 38KB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-and-papers-3.pdf">Agenda and papers (PDF 1MB)</a><br />
<a href="/cdn/static/cms/documents/minutesapril2002.rtf">Minutes - RTF version (RTF 93KB)</a><br />
<a href="/cdn/static/cms/documents/minutesapril2002.pdf">Minutes (PDF 113KB)</a></p>
<h3>19 March</h3>
<p>
<a href="/cdn/static/cms/documents/agendamar2002.rtf">Agenda and papers - RTF version (RTF 36KB)</a><br />
<a href="/cdn/static/cms/documents/agendamar2002.pdf">Agenda and papers (PDF 374KB)</a><br />
<a href="/cdn/static/cms/documents/minutesmar2002.rtf">Minutes - RTF version (RTF 77KB)</a><br />
<a href="/cdn/static/cms/documents/minutesmar2002.pdf">Minutes (PDF 105KB)</a></p>
<h3>05 February</h3>
<p>
<a href="/cdn/static/cms/documents/agendafeb2002.rtf">Agenda and papers - RTF version (RTF 41KB)</a><br />
<a href="/cdn/static/cms/documents/agendafeb2002.pdf">Agenda and papers (PDF 1.5MB)</a><br />
<a href="/cdn/static/cms/documents/minutesfeb2002.rtf">Minutes - RTF version (RTF 87KB)</a><br />
<a href="/cdn/static/cms/documents/minutesfeb2002.pdf">Minutes (PDF 108KB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2002";}
        
            
        


 