
    
  



@{ViewBag.Title = "2004 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2004-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2004 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2004 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>01 December </h3>
<p>
<a href="/cdn/static/cms/documents/agenda011204.rtf">Agenda and papers - RTF version (RTF 10KB)</a><br />
<a href="/cdn/static/cms/documents/agenda-1-dec-2004.pdf">Agenda and papers (PDF 2.1MB)</a><br />
<a href="/cdn/static/cms/documents/Minutes1Dec-2004.pdf">Minutes (PDF 127KB)</a></p>
<h3>27 October</h3>
<p>
<a href="/cdn/static/cms/documents/agenda-27-october-2004.rtf">Agenda and papers - RTF version (RTF 10KB)</a><br />
<a href="/cdn/static/cms/documents/agenda-27-october-2004.pdf">Agenda and papers (PDF 1.9MB)</a><br />
<a href="/cdn/static/cms/documents/Minutes27Oct-2004.pdf">Minutes (PDF 166KB)</a></p>
<h3>22 July</h3>
<p>
<a href="/cdn/static/cms/documents/agenda22-july-2004.rtf">Agenda and papers - RTF version (RTF 10KB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-and-papers-2004-07-22.pdf">Agenda and papers (PDF 2.3MB)</a><br />
<a href="/cdn/static/cms/documents/Minutes22Jul-2004.pdf">Minutes (PDF 111KB)</a></p>
<h3>23 June</h3>
<p>
<a href="/cdn/static/cms/documents/agenda-23-june-2004.rtf">Agenda and papers (PDF 26KB)</a><br />
<a href="/cdn/static/cms/documents/agenda-23-june-2004.pdf">Agenda and papers (PDF 2.8MB)</a><br />
<a href="/cdn/static/cms/documents/minutes-23-june-2004.rtf">Minutes - RTF version (RTF 40KB)</a><br />
<a href="/cdn/static/cms/documents/minutes-23-june-2004.pdf">Minutes (PDF 64KB)</a></p>
<h3>29 April</h3>
<p>
<a href="/cdn/static/cms/documents/agenda-29-apr-2004.rtf">Agenda and papers - RTF version (RTF 9KB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-29Apr-20041.pdf">Agenda and papers (PDF 2.5MB)</a><br />
<a href="/cdn/static/cms/documents/minutes-29-april-2004.rtf">Minutes - RTF version (RTF 46KB)</a><br />
<a href="/cdn/static/cms/documents/minutes-29-april-2004.pdf">Minutes (PDF 58KB)</a></p>
<h3>24 March</h3>
<p>
<a href="/cdn/static/cms/documents/Agenda-mar-2004.rtf">Agenda and papers - RTF version (RTF 4KB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-mar-2004.pdf">Agenda and papers (PDF 875KB)</a><br />
<a href="/cdn/static/cms/documents/minutes-24-march-2004.rtf">Minutes - RTF version (RTF 86KB)</a><br />
<a href="/cdn/static/cms/documents/minutes-24-march-2004.pdf">Minutes (PDF 108KB)</a>
</p>
<h3>11 February </h3>
<p><a href="/cdn/static/cms/documents/Agenda-2004-02-11.rtf">Agenda and papers - RTF version (RTF 29KB)</a><br />
<a href="/cdn/static/cms/documents/Agenda.pdf">Agenda and papers (PDF 852KB)</a><br />
<a href="/cdn/static/cms/documents/item-12-annex1.pdf">Item 12 - annex 1 (PDF 171KB)</a><br />
<a href="/cdn/static/cms/documents/item-12-annex2.pdf">Item 12 - annex 2 (PDF 148KB)</a><br />
<a href="/cdn/static/cms/documents/public-board-meeting110204.rtf">Minutes - RTF version (RTF 9KB)</a><br />
<a href="/cdn/static/cms/documents/public-board-meeting110204.pdf">Minutes (PDF 113KB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2004";}
        
            
        


 