
    
  



@{ViewBag.Title = "2007 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2007-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2007 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2007 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>06 December </h3>
<p>
<a href="/cdn/static/cms/documents/December-Board-Agenda.rtf">Agenda - RTF version (RTF 39KB)</a><br />
<a href="/cdn/static/cms/documents/agenda-and-papers-dec-2007.pdf">Agenda and papers (PDF 6.9MB)</a> <br />
<a href="/cdn/static/cms/documents/operational-and-financial-performance-investment-programme-reports-appendix1.pdf">Item 5 appendix 1 (PDF 1.16MB)</a><br />
<a href="/cdn/static/cms/documents/operational-and-financial-performance-investment-programme-reports-appendix2.pdf">Item 5 appendix 2 (PDF 2.23 MB)</a><br />
<a href="/cdn/static/cms/documents/operational-and-financial-performance-investment-programme-reports-appendix3.pdf">Item 5 appendix 3 (PDF 6.22MB)</a></p>
<h3>24 October</h3>
<p>
<a href="/cdn/static/cms/documents/October-Board-Agenda.rtf">Agenda - RTF version (RTF 49KB)</a><br />
<a href="/cdn/static/cms/documents/Board-papers-October-2007.pdf">Agenda and papers (PDF 4.84MB)</a></p>
<h3>27 June</h3>
<p>
<a href="/cdn/static/cms/documents/Open-Agenda-270607.rtf">Agenda - RTF version (RTF 32KB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-and-papers-1.pdf">Agenda and papers (PDF 2.26MB)</a></p>
<h3>30 May</h3>
<p>
<a href="/cdn/static/cms/documents/Open-Agenda-30-05-07.rtf">Agenda (PDF 55KB)</a><br />
<a href="/cdn/static/cms/documents/1-Open-Agenda-papers-30-05-07.pdf">Agenda and papers (PDF 7.35MB)</a></p>
<h3>28 March </h3>
<p>
<a href="/cdn/static/cms/documents/Open-Agenda-28-03-07.rtf">Agenda - RTF version (RTF 28KB)</a><br />
<a href="/cdn/static/cms/documents/Open-Agenda-28-03-07.pdf">Agenda and papers (PDF 2.07MB)</a></p>
<h3>07 February </h3>
<p>
<a href="/cdn/static/cms/documents/Agenda-07-02-07.rtf">Agenda - RTF version (RTF 21KB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-07-02-07.pdf">Agenda and papers (PDF 7MB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2007";}
        
            
        


 