
    
  



@{ViewBag.Title = "2008 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2008-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2008 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2008 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>10 December</h3>
<p><a href="/cdn/static/cms/documents/1-agenda-10-december.rtf">Agenda RTF version (RTF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/1-agenda-10-december-2008.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/2-board-minutes-5-november-2008.pdf">Item 2 - Minutes of 5 November 2008 Meeting (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/3-actions-list-10-dec-2008-board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/4-commissioners-report-december-2008.pdf">Item 4 - Commissioner's Report (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/5-ops-and-finance-and-investment-programme.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - Second Quarter 2008/09 (PDF 1.85MB)</a><br />
<a href="/cdn/static/cms/documents/6-skills-and-employment-strategy.pdf">Item 6 - Skills and Employment Strategy (PDF 1.12MB)</a><br />
<a href="/cdn/static/cms/documents/7a-ell-internal-transfer-scheme.pdf">Item 7 - East London Line - Internal Transfer Schemes (PDF 5.23MB)</a><br />
<a href="/cdn/static/cms/documents/8-environment-report-2008.pdf">Item 8 - TfL Environment Report 2008 (PDF 3.68MB)</a><br />
<a href="/cdn/static/cms/documents/9-revision-to-standing-orders.pdf">Item 9 - Revision to Standing Orders (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/10-shec-report.pdf">Item 10 - Report from 18 November 2008 Safety, Health and Environment Committee Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/11-finance-report.pdf">Item 11 - Report from 20 November 2008 Finance Committee Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/12-audit-committee.pdf">Item 12 - Report from 25 November 2008 Audit Committee (PDF 0.04MB)</a></p>
<h3>05 November</h3>
<p><a href="/cdn/static/cms/documents/1-november-open-agenda.rtf">Agenda RTF version (RTF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/1-5-november-2008-agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/2-open-board-minutes-30-september-2008.pdf">Item 2 - Minutes of the Meeting held on 30 September 2008 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/3-open-actions-list-5-nov-2008-board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/4-commissioners-report-november-2008.pdf">Item 4 - Commissioner's Report (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/5-mid-year-taxi-inspections.pdf">Item 5 - Mid-Year Taxi Inspections (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/6-transfer-of-highway-enforcement-functions-to-wandsworth.pdf">Item 6 - Delegation of TfL Highways Enforcement Powers on the TLRN to the London Borough of Wandsworth (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/7-finance-committe-report-october-2008.pdf">Item 7 - Report from 8 and 28 October 2008 Finance Committee Meetings (PDF 0.02MB)</a></p>
<h3>30 September</h3>
<p><a href="/cdn/static/cms/documents/0-September-Open-Agenda.rtf">Agenda RTF version (RTF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/0-September-Open-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/2-Open-Board-Minutes-30-July-2008.pdf">Item 2 - Minutes of the Meeting Held on 30 July 2008 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/3-Open-Actions-List-30-Sept-2008-Board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/4-Commisioners-report-September-2008.pdf">Item 4 - The Commissioner's Report (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/5-Ops-and-Finance-Report-Quarter-1.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - First Quarter 2008/09 (PDF 0.90MB)</a><br />
<a href="/cdn/static/cms/documents/7-Revised-Budget-2008-09.pdf">Item 7 - Revised Budget 2008/09 (PDF 0.94MB)</a><br />
<a href="/cdn/static/cms/documents/8-TfL-Group-Annual-HS-report.pdf">Item 8 - TfL Group Annual Health and Safety Report 2007/08 (PDF 2.73MB)</a><br />
<a href="/cdn/static/cms/documents/9-Community-safety-plan.pdf">Item 9 - Community Safety Plan (PDF 2.91MB)</a><br />
<a href="/cdn/static/cms/documents/10-Membership-Board-Committees-and-Panels.pdf">item 10 - Membership of the Board, Committees and Panel (PDF 0.13MB)</a><br />
<a href="/cdn/static/cms/documents/11-Open-SHEC-Report-From-16-September.pdf">Item 11 - Report from 16 September 2008 Safety, Health and Environment Committee Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/12-Open-Finance-Committe-Report-16-September.pdf">Item 12 - Report from 16 September 2008 Finance Committee Meeting (PDF 0.02MB)</a></p>
<h3>30 July</h3>
<p><a href="/cdn/static/cms/documents/1-July-Open-Agenda.rtf">Agenda RTF version (RTF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/1-July-Open-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/2-Open-Board-Minutes-25-June-2008.pdf">Item 2 - Minutes of 25 June 2008 Meeting (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/3-Open-Actions-List-30-July-2008-Board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/4-Commissioners-report-30-July-2008.pdf">Item 4 - The Commissioner's Report (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/5-London-Overground-Review.pdf">Item 5 - London Overground Review (PDF 0.43MB)</a><br />
<a href="/cdn/static/cms/documents/6-TFL-Smarter-Travel-Unit-and-the-Smarter-Travel-Sutton-Project.pdf">Item 6 - TfL's Smarter Travel Unit and the Smarter Travel Sutton Project (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/7-Baker-Street-TWAO.pdf">Item 7 - Baker Street Station - Transport and Works Act Order Application (PDF 0.11MB)</a><br />
<a href="/cdn/static/cms/documents/8-East-London-Transit-Phase1b.pdf">Item 8 - East London Transit Phase 1b - Compulsory Purchase Order Application (PDF 1.94MB)</a><br />
<a href="/cdn/static/cms/documents/9-Deputising-for-the-Chief-Finance-Officer.pdf">Item 9 - Arrangements for Deputising for the Chief Finance Officer (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/10-Finance-Report-10-July-2008.pdf">Item 10 - Report from 10 July 2008 Finance Committee Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/11-SHEC-Report-22-July-2008.pdf">Item 11 - Report from 22 July 2008 Safety, Health and Environment Committee Meeting (PDF 0.03MB)</a></p>
<h3>25 June</h3>
<p><a href="/cdn/static/cms/documents/0-June-Open-Agenda.rtf">Agenda RTF version (RTF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/0-June-Open-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/2-Open-Board-Minutes-12-March-2008.pdf">Item 2 - Minutes of 12 March 2008 Open Meeting (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/3-Open-Actions-List-25-June-2008-Board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/4-Commissioners-report.pdf">Item 4 - The Commissioner's Report (PDF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/5-Ops-and-Finance-Report-Quarter-4.pdf">Item 5 - TfL Operational and Financial Performance Report and Investment Programme Report - Fourth Quarter 2007/08 (PDF 1.68MB)</a><br />
<a href="/cdn/static/cms/documents/6-Statement-of-Acounts-2008.pdf">Item 6 - Statement of Accounts for the Year Ended 31 March 2008 (PDF 1.53MB)</a><br />
<a href="/cdn/static/cms/documents/7-Membership-of-Committees.pdf">Item 7 - Appointments to TfL's Committees and to the Cross London Rail Links Board (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/8-Open-Audit-Committee-Report.pdf">Item 8 - Report from 11 June 2008 Audit Committee (PDF 0.03MB)</a></p>
<h3>12 March</h3>
<p><a href="/cdn/static/cms/documents/march-08-agenda.rtf">Agenda RTF version (RTF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-3.pdf">Agenda (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/2-Minutes-of-the-meeting-held-on-06-02-08.pdf">Item 2 - Minutes of 6 February 2008 meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/3-Matters-Arising-and-Actions-List-1.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/4-The-Commissioners-Report-1.pdf">Item 4 - The Commissioner's Report (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/5-Budget-200809.pdf">Item 5 - Budget 2008/09 (PDF 1.41MB)</a><br />
<a href="/cdn/static/cms/documents/6-London-Transport-Muuseum-Restructuring.pdf">Item 6 - London Transport Museum Restructuring (PDF 1.09MB)</a><br />
<a href="/cdn/static/cms/documents/7-Revisions-to-the-Code-of-Governance.pdf">Item 7 - Revisions to the Code of Governance (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/8-Report-from-the-Safety-Health-and-Environment-Committee.pdf">Item 8 - Report from 4 March 2008 Safety, Health and Environment Committee (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/9-Report-from-the-Finance-Committee.pdf">Item 9 - Report from 6 March Finance Committee (PDF 0.01MB)</a></p>
<h3>06 February</h3>
<p><a href="/cdn/static/cms/documents/february-08-agenda.rtf">Agenda RTF version (RTF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Agenda-2.pdf">Agenda (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/2-Minutes-of-the-Meeting-Held-on-06-12-07.pdf">Item 2 - Minutes of 6 December 2007 meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/3-Matters-Arising-and-Actions-List.pdf">Item 3 - Actions List (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/4-The-Commissioners-Report.pdf">Item 4 - Commissioner's Report (PDF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/5-TfL-Operational.pdf">Item 5 - TfL Operational and Financial Performance Report and Investment Programme Report - Third Quarter 2007/08 (PDF 3.21MB)</a><br />
<a href="/cdn/static/cms/documents/6-DLR-Extension.pdf">Item 6 - DLR Extension to Dagenham Dock - TWA Application (PDF 0.22MB)</a><br />
<a href="/cdn/static/cms/documents/7-Taxi-Fares.pdf">Item 7 - Taxi Fares (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/8-Revision-of-Standing-Orders.pdf">Item 8 - Revision of Standing Orders (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/9-Report-from-the-Audit-Committee-held-on-23-01-08.pdf">Item 9 - Report from 23 January Audit Committee (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/10-Report-from-the-Finance-Committee-held-on-24-01-08.pdf">Item 10 - Report from 24 January Finance Committee (PDF 0.02MB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2008";}
        
            
        


 