
    
  



@{ViewBag.Title = "2009 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2009-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2009 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2009 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>10 December</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-December-2009-Board-Agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-December-2009-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-21-Oct-2009.pdf">Item 2 - Minutes of 21 October 2009 Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-10-December-2009.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Commissioner-Report-December-2009.pdf">Item 4 - Commissioner's Report (PDF 0.16MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Operational-Financial-Performance-Reports.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - Second Quarter 2009/10 (PDF 2.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-New-Arrangements-For-Assurance-of-Investment-Programme.pdf">Item 6 - New Arrangements for Assurance of the TfL Investment Programme (PDF 0.12MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-PPP-Update.pdf">Item 7 - PPP Update (PDF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-LU-Asset-Maintenance-Programme.pdf">Item 8 - London Underground Asset Maintenance Programme: Update (PDF 0.16MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-TfL-Environment-Report-2009.pdf">Item 9 - TfL Environment Report 2009 (PDF 2.11MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-TfL-Response-to-MTS.pdf">Item 10 - Response to the Mayor's Transport Strategy Public Draft (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-TfL-Response-to-EDS-LP-HIS.pdf">Item 11 - Proposed Responses to the London Plan, Economic Development Strategy and Health Inequalities Strategy Public Consultation Drafts (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-17-Nov-2009-SHEAC-Report.pdf">Item 12 - Report from 17 November 2009 Safety, Health and Environment Assurance Committee Meeting (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-24-Nov-2009-Finance-and-Policy-Report.pdf">Item 13 - Report from 24 November 2009 Finance and Policy Committee Meeting (PDF 0.03MB)</a></p>
<h3>21 October</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-October-Board-Agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-October-09-Board-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-29-Jul-09.pdf">Item 2 - Minutes of 29 July 2009 Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-21-Oct-2009.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Commissioners-Report-Oct-09.pdf">Item 4 - Commissioner's Report (PDF 0.17MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Operational-and-Financial-and-Investment-Programme-Reports-Board-Oct-09.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - First Quarter 2009/10 (PDF 1.39MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-TfL-Business-Plan-2010-11-2017-18.pdf">Item 6 - TfL Business Plan 2010/11-2017/18 (PDF 4.23MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Contract-for-provision-of-services-by-london-underground.pdf">Item 7 - Contract for the Provision of Railway Services by London Underground (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-anti-fraud-corruption-policy-oct-09.pdf">Item 8 - Anti-Fraud and Corruption Policy (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-SHEAC-Board-Report-Oct-09.pdf">Item 9 - Report from 14 September 2009 Safety, Health and Environment Assurance Committee (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-Audit-Report-to-Board-Oct-09.pdf">Item 10 - Report from 29 September 2009 Audit Committee Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-Finance-and-Policy-Report-Oct-09.pdf">Item 11 - Report from 9 October 2009 Finance and Policy Committee Meeting (PDF 0.02MB)</a></p>
<h3>29 July</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-July-Board-Agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-July-2009-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-24-June-09.pdf">Item 2 - Minutes of 24 June 2009 Meeting (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/item03-actions-list-29-july-2009.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/item04-commissioners-report-july-2009.pdf">Item 4 - Commissioner's Report (PDF 0.23MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Independent-Bus-Review-July09.pdf">Item 5 - Independent Strategic Review of Bus Services in London (PDF 1.58MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-Community-Safety-Plan-29-July-2009.pdf">Item 6 - Community Safety Plan for Transport and Travelling in London 2009/10 (PDF 0.34MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Group-HS-Report-29-July-2009-1.pdf">Item 7 - TfL Group Annual Health and Safety Report 2008/09 (PDF 3.68MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Report-From-Finance-Committee-july-2009.pdf">Item 8 - Report from 15 July 2009 Finance Committee Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Report-From-SHEC-july-2009.pdf">Item 9 - Report from 22 July 2009 Safety, Health and Environment Committee Meeting (PDF 0.03MB)</a></p>
<h3>24 June</h3>
<p>
<a href="/cdn/static/cms/documents/1-June-Open-Agenda.rtf">Agenda - RTF version (RTF 4.95MB)</a><br />
<a>Agenda (PDF MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-31-March-2009.pdf">Item 2 - Minutes of 31 March 2009 Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-24-June-2009.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Commissioners-Report-June-2009.pdf">Item 4 - Commissioner's Report (PDF 0.14MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Q4-Ops-Finance-and-Investment-Programme.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - Fourth Quarter 2008/09 (PDF 2.25MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-Achievements-first-year.pdf">Item 6 - Transport Achievements in the Mayor's First Year in Office (PDF 0.11MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Annual-Report-and-Statement-of-Accounts.pdf">Item 7 - Annual Report and Statement of Accounts For Year Ended 31 March 2009 (PDF 2.13MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Metronet-Integration-Budget-Implications.pdf">Item 8 - Metronet Integration and Budget Alignment (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Review-Committees-Panels.pdf">Item 9 - Review of Committees and Panels (PDF 0.13MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-Implementation-Review-Committees-Panels.pdf">Item 10 - Implementation of the Review of Committees and Panels (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-Appointments.pdf">Item 11 - Appointments to Committees and Panels (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/item12-tflresponses-to-the-london-plan.pdf">Item 12 - TfL's Responses to the London Plan and Economic Development Functional Body Consultations (PDF 0.13MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-Delegation-Taxi-PHV-Regulation.pdf">Item 13 - Delegation of Taxi and Private Hire Vehicle Regulation Making Powers (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item14-Delegation-TfL-Traffic-Authority.pdf">Item 14 - Delegation of TfL Traffic Authority Powers on Ordnance Crescent to the London Borough of Greenwich (PDF 0.63MB)</a><br />
<a href="/cdn/static/cms/documents/item15-railway-road-transport-byelaws.pdf">Item 15 - Railway and Road Transport Premises Byelaws (PDF 0.33MB)</a><br />
<a href="/cdn/static/cms/documents/Item16-Finance-Comm-report.pdf">Item 16 - Report from the Meeting of the Finance Committee - 2 June 2009 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item17-Audit-Report-to-Board.pdf">Item 17 - Report from the Meeting of the Audit Committee -10 June 2009 (PDF 0.03MB)</a></p>
<h3>31 March</h3>
<p>
<a href="/cdn/static/cms/documents/1-March-Open-Agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/1-March-Open-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/2-Open-Board-Minutes-10-February-2009.pdf">Item 2 - Minutes of 10 February 2009 Meeting (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/3-Open-Actions-List-31-March-2009-Board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/4-Commissioner-Report-March-2009.pdf">Item 4 - Commissioner's Report (PDF 0.14MB)</a><br />
<a href="/cdn/static/cms/documents/5-Budget.pdf">Item 5 - Budget for 2009/10 (PDF 1.75MB)</a><br />
<a href="/cdn/static/cms/documents/6-Changes-to-private-hire-vehicle-regulations.pdf">Item 6 - Changes to Private Hire Vehicle Regulations (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/7-Open-Membership-RUP.pdf">Item 7 - Appointment to the Rail and Underground Panel (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/8-Open-Audit-Commitee-Reportv5.pdf">Item 8 - Report from 3 March 2009 Audit Committee (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/9-Open-Finance-report-10-March-2009.pdf">Item 9 - Report from 10 March 2009 Finance Committee (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/10-Open-SHEC-Commitee-Report.pdf">Item 10 - Report from 18 March 2009 Safety, Health and Environment Committee (PDF 0.02MB)</a></p>
<h3>10 February</h3>
<p>
<a href="/cdn/static/cms/documents/1-February-Open-Agenda.rtf">Agenda - RTF version (RTF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/1-February-Open-Agenda.pdf">Agenda (PDF 0.02MB)</a><br />
<a>Item 2 - Minutes of 10 December 2008 Meeting (PDF MB)</a><br />
<a href="/cdn/static/cms/documents/3-Open-Actions-List-10-Feb-2009-Board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
Item 4 - Commissioner's Report (no longer available)<br />
Item 5 - Operational and Financial Performance and Investment Programme Reports - Third Quarter 2008/09 (no longer available)<br />
Item 6 - Taxi Fares and Taxi Private Hire Licence Fees ((no longer available)<br />
Item 7 - Smarter Travel Sutton Update (no longer available)<br />
Item 8 - Contribution to the Mayor's Economic Recovery Plan ((no longer available)<br />
Item 9 - Metronet REW and TMU - Internal Transfer Schemes (no longer available)<br />
Item 10 - Local Government Ombudsman's Report (no longer available)<br />
Item 11 - GLA Group Governance Matters (no longer available)<br />
<a href="/cdn/static/cms/documents/12-Appointments-to-committees-and-panels.pdf">Item 12 - Appointments to the Committees and Panels (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/13-Open-Finance-report.pdf">Item 13 - Report from 27 January 2009 Finance Committee Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/14-Open-Audit-Committee-Report.pdf">Item 14 - Report from 28 January 2009 Audit Committee Meeting (PDF 0.02MB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2009";}
        
            
        


 