
    
  



@{ViewBag.Title = "2010 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2010-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2010 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2010 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>08 December</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-8-December-2010-Board-Agenda.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-8-December-2010-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-Open-4-November-2010.pdf">Item 2 - Minutes of 4 November 2010 Meeting (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Board-8-December-2010-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Board-8-December-2010-Commissioner-Report.pdf">Item 4 - Commissioner's Report (PDF 0.20MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Board-8-December-2010-LU-Performance-During-Industrial-Action.pdf">Item 5 - London Underground Performance During Industrial Action (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/item06-Board-8-December-2010-Op-Fin-IP-reports.pdf">Item 6 - Operational and Financial Performance and Investment Programme Reports - Second Quarter 2010/11 (PDF 2.46MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Board-8-December-2010-Board-revised-2010-11-Budget.pdf">Item 7 - Revised 2010/11 Budget (PDF 0.48MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Board-8-December-2010-TLFL-and-TLL-dissolution.pdf">Item 8 - Dissolution of Tramtrack Lease Financing Limited and Tramtrack Leasing Limited (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Board-8-December-2010-Governance-Arrangements.pdf">Item 9 - Governance Arrangements In Relation to the Managing Director, Surface Transport (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-Board-8-December-2010-FPC-Report-24-November-2010.pdf">Item 10 - Report from the Meeting of the Finance and Policy Committee - 24 November 2010 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-SHEAC-Report-1-December-2010.pdf">Item 11 - Report from the Meeting of the Safety, Health and Environment Assurance Committee - 1 December 2010 (PDF 0.03MB)</a></p>
<h3>04 November</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-4-November-2010-Board-Agenda.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-4-November-2010-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-22-September-2010.pdf">Item 2 - Minutes of 22 September 2010 Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-Board-4-November-2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-4-Nov-2010-Board-TfLs-spending-review.pdf">Item 4 - Spending Review 2010 (PDF 0.64MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-4-Nov-2010-Board-Commissioners-Report-Final.pdf">Item 5 - Commissioner's Report (PDF 0.21MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-4-Nov-2010-Board-TfL-Environment-Report.pdf">Item 6 - TfL Environment Report 2010  (PDF 1.63MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-4-Nov-2010-Board-Proposed-TfL-Bill-2010.pdf">Item 7 - Proposed Transport for London Bill 2010 (PDF 0.29MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-4-Nov-2010-Board-IIPAG-Terms-of-Reference.pdf">Item 8 - Independent Investment Programme Advisory Group - Revised Terms of Reference  (PDF 0.51MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-4-Nov-2010-Board-Use-of-Resources-Routing.pdf">Item 9 - Use of Resources (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-4-Nov-2010-Board-MTS-Transport-Safety-Security.pdf">Item 10 - The Right Direction: The Mayor's Strategy to Improve Transport Safety and Security in London 2010-2013 (PDF 1.21MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-4Nov2010-Board-Audit-Committee-Report.pdf">Item 11 - Report from 28 September 2010 Audit Committee Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-4-Nov-2010-Board-SHEAC-Report-7-October-2010.pdf">Item 12 - Report from 7 October 2010 Safety, Health and Environment Assurance Committee Meeting (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-4-Nov-2010-Board0Finance-and-Policy-Committee-Report-13-October-2010.pdf">Item 13 - Report from 13 October 2010 Finance and Policy Committee Meeting (PDF 0.03MB)</a></p>
<h3>22 September</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-22-September-2010-Board-Agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-22-September-2010-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-21-July-2010.pdf">Item 2 - Minutes of 21 July 2010 Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-22-September-2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Commissioners-report-sept-2010.pdf">Item 4 - Commissioner's Report (PDF 0.12MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-LU-Safety-Incidents.pdf">Item 5 - Recent London Underground Safety Incidents (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-Op-Fin-Performance-Investments-Programme-reports-Board-Sep-2010.pdf">Item 6 - Operational and Financial Performance and Investment Programme Report - First Quarter 2010/11 (PDF 2.41MB)</a><br />
<a href="/cdn/static/cms/documents/Item07a-Group-Health-and-Safety-Report-2009-10.pdf">Item 7 - TfL Group Annual Health and Safety Report 2009/10 (PDF 3.67MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Deputising-for-the-Chief-Finance-Officer.pdf">Item 8 - Arrangements for Deputising for the Chief Finance Officer (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Finance-and-Policy-Committee-Report-13-July-16-September-2010.pdf">Item 9 - Report from the Meetings of the Finance and Policy Committee - 13 July and 16 September 2010 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-SHEAC-Open-Board-Report.pdf">Item 10 - Report from the Meeting of the Safety, Health and Environment Assurance Committee - 20 July 2010 (PDF 0.03MB)</a></p>
<h3>21 July</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-21-July-2010-Board-Agenda-Final-RTF.rtf">Agenda - RTF version (RTF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-21-July-2010-Board-Agenda.pdf">Agenda (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-23-June-2010.pdf">Item 2 - Minutes of 23 June 2010 Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-21-July-2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Status-Jubilee-Line-Upgrade.pdf">Item 4 - Status of the Jubilee Line Upgrade (PDF 0.49MB)</a></p>
<h3>23 June</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-June-2010-Board-Agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-June-2010-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-24-March-2010.pdf">Item 2 - Minutes of 24 March 2010 Meeting (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-Board023-June-2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Commissioners-Report-June-2010.pdf">Item 4 - Commissioner's Report (PDF 0.24MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Operational-Financial-IP-Reports-Board-23-June-2010.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - Fourth Quarter 2009/10 (PDF 2.53MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-Leicester-Square-Fixed-Fare-Scheme-23-June-2010.pdf">Item 6 - Leicester Square Fixed Fare Scheme (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-TfL-Response-to-Mayors-Air-Quality-Strategy-public-23-June-2010.pdf">Item 7 - TfL's Response to the Mayor's Air Quality Strategy Public Draft Consultation (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Tube-Lines-Post-Acquisition-Governance-Board-23-June-2010.pdf">Item 8 - Tube Lines Post-Acquisition Governance (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Implementation-Review-Committees-Panels-23-June-2010.pdf">Item 9 - Implementation of the Review of Committees and Panels (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-Appointments-to-the-Committees-and-Panels-Board-23-June-2010.pdf">Item 10 - Appointments to the Committees and Panels (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-Finance-and-Policy-Committee-Report-9-June-2010.pdf">Item 11 - Report from 9 June 2010 Finance and Policy Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-Audit-Committee-Report-15-June-2010.pdf">Item 12 - Report from 15 June 2010 Audit Committee Meeting (PDF 0.03MB)</a></p>
<h3>24 March</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-March-2010-Board-Agenda.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-March-2010-Board-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-3-February-2010.pdf">Item 2 - Minutes of 3 February 2010 Meeting (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-24-March-2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Commissioners-Report-24-March-2010-Board.pdf">Item 4 - Commissioner's Report (PDF 0.25MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-2010-11-Budget.pdf">Item 5 - 2010/11 Budget (PDF 2.17MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-Treasury-Management-Strategy-2010-11l.pdf">Item 6 - Treasury Management Strategy 2010/11 (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Borrowing-Limits-.pdf">Item 7 - Borrowing Limits (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Project-Approvals-at-Feasibility-Stage.pdf">Item 8 - Project Approvals at Feasibility Stage (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Delivery-ofVictoria-and-Sub-Surface-Lines-Upgrades.pdf">Item 9 - LU Delivery of Victoria and Sub-Surface Lines Upgrade - Progress Update (PDF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-PPP-Update.pdf">Item 10 - PPP Update (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-Smoothing-Traffic-Flow.pdf">Item 11 - Smoothing Traffic Flow (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-Special-Services-Agreement-Post.pdf">Item 12 - Special Services Agreement with the Metropolitan Police Authority (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-TfL-Climate-Change-Response.pdf">Item 13 - TfL's response to Consultations on the Mayor's Climate Change Adaptation Strategy and the Mayor's Climate Change Mitigation and Energy Strategy (PDF 0.15MB)</a><br />
<a href="/cdn/static/cms/documents/Item14-Transfer-Scheme-Board-March10.pdf">Item 14 - Transport for London (PDF London Trams Restructuring) Transfer Schemes 2010 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item15-Transport-Trading-Limited-Appointment.pdf">Item 15 - Transport Trading Limited - Appointment (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item16-Audit-Report-to-Board-24-March-2010.pdf">Item 16 - Report from 4 March 2010 Audit Committee Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item17-Finance-and-Policy-Committee-Report-9-March-2010.pdf">Item 17 - Report from 9 March 2010 Finance and Policy Committee Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item18-SHEAC-Report-Board-Report-24-March-2010.pdf">Item 18 - Report from 12 March 2010 Safety, Health and Environment Assurance Committee Meeting (PDF 0.02MB)</a></p>
<h3>03 February</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-February-2010-Board-Agenda-Final.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-February-2010-Board-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-10-Dec-2009.pdf">Item 2 - Minutes of 10 December 2009 Meeting (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-3-February-2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Non-Statutory-Deputy-Chairman.pdf">Item 4 - Non-Statutory Deputy Chairman (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Commissioners-Report-February-2010.pdf">Item 5 - Commissioner's Report (PDF 0.14MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-Tube-Lines-Periodic-Review.pdf">Item 6 - Tube Lines Periodic Review (PDF 0.13MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Operational-Financial-Performance.pdf">Item 7 - Operational and Financial Performance and Investment Programme Reports - Third Quarter 2009/10 (PDF 2.40MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Crossrail-Compensation-Arrangements-for-Compulsory-Purchase-1.pdf">Item 8 - Crossrail Compensation Arrangements for Compulsory Purchase (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Crossrail-PP-PDP-Board-Delegation.pdf">Item 9 - Crossrail Programme Partner and Project Delivery Partner - Board Delegation to Finance and Policy Committee (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-Taxi-and-Private-Hire-License-Fees.pdf">Item 10 - Taxi and Private Hire Licence Fees (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-Taxi-fares-and-Regulations.pdf">Item 11 - Taxi Fares and Regulations (PDF 0.18MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-Performance-of-the-Smarter-Travel-Sutton-Pilot-Programme.pdf">Item 12 - Performance of the Smarter Travel Sutton Pilot Programme (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-Audit-Committee-Report-16-December-2010-Final.pdf">Item 13 - Report from 16 December 2009 Audit Committee Meeting (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item14-Finance-and-Policy-Committee-Report-21-Jan-2010.pdf">Item 14 - Report from 21 January 2010 Finance and Policy Committeee Meeting (PDF 0.03MB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2010";}
        
            
        


 