
    
  



@{ViewBag.Title = "2011 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2011-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2011 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2011 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>07 December</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-7-December-2011-Agenda-Final.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-7-December-2011-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-0712110-Board-Minutes-2-November-2011.pdf">Item 2 - Minutes of the Meeting held on 2 November 2011 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-0712110-Board-Actions-List-7-December-2011.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-071211-Board-Commissioners-Report-December-2011.pdf">Item 4 - Commissioner's Report (PDF 0.21MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-071211-Board-op-finreport.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - Second Quarter 2011/12 (PDF 2.36MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-071211-Board-GLA-Budget.pdf">Item 6 - Business Plan and GLA Budget Submission (PDF 0.51MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-071211-Board-Rail-Underground-Reliability-Improvement-Programme.pdf">Item 7 - Rail and Underground Reliability Improvement Programme (PDF 0.14MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-071211-Board-Croxley-Rail-Link.pdf">Item 8 - Croxley Rail Link - Proposed Transport and Works Act Order (PDF 0.13MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-071211-Board-Finance-and-Policy-Committee-Report-23-November-2011.pdf">Item 9 - Report from the Meeting of the Finance and Policy Committee - 23 November 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-071211-Board-Audit-Committee-Report-28-November2011.pdf">Item 10 - Report from the Meeting of the Audit Committee - 28 November 2011 (PDF 0.02MB)</a></p>
<h3>02 November</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-2-November-2011-Board-Agenda.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-2-November-2011-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-21-September-2011.pdf">Item 2 - Minutes of the Meeting held on 21 September 2011 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-2-November-2011-Board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-02-November-2011-Commissioners-Report.pdf">Item 4 - Commissioner's Report (PDF 0.11MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-London-Underground-Operational-Vision.pdf">Item 5 - London Underground's Operational Vision - Technology Enables Change (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-London-Underground-150th-Anniversary.pdf">Item 6 - London Underground's 150th Anniversary Celebrations in 2013 (PDF 0.11MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Audit-Committee-Report-28-September-2011.pdf">Item 7 - Report from the Meeting of the Audit Committee - 28 September 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-SHEAC-Board-Report-5-October-2011.pdf">Item 8 - Report from the Meeting of the Safety, Health and Environment Assurance Committee - 5 October 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Finance-and-Policy-Committee-Report-12-October-2011.pdf">Item 9 - Report from the Meeting of the Finance and Policy Committee - 12 October 2011 (PDF 0.02MB)</a></p>
<h3>21 September</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-21-September-2011-Board-Agenda.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-21-September-2011Board-Agenda-Final.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-29-June-2011.pdf">Item 2 - Minutes of the Meeting held on 29 June 2011 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Actions-List-21-September-2011-Board.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-21-September-2011-Commissioners-Report.pdf">Item 4 - Commissioner's Report (PDF 0.27MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-21-09-2011-Board-financial-investement-reports.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - First Quarter 2011/12 (PDF 2.00MB)</a><br />
<a href="/cdn/static/cms/documents/item06-21-09-2011-Board-IIPAG-annual-report.pdf">Item 6 - Independent Investment Programme Advisory Group Annual Report (PDF 1.08MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-21-09-2011-Board-IIPAG-Workplan-Final.pdf">Item 7 - Independent Investment Programme Advisory Group Workplan (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-21-09-2011-Board-Health-Safety-Environment-report.pdf">Item 8 - TfL Health, Safety and Environment Report 2010/11 (PDF 1.84MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-21-09-2011-Board-Project-Horizon-EIA.pdf">Item 9 - Project Horizon Equality Impact Assessment (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-21-09-2011-Board-TWAO-Crossrail.pdf">Item 10 - Application for a Transport and Works Act Order to Facilitate Crossrail Works (PDF 0.47MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-21-09-2011-Olympic-Route-Network.pdf">Item 11 - Olympic Route Network - Arrangements with the London Boroughs (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-21-09-2011-Board-Appointments-to-RUP-and-CRL-Board.pdf">Item 12 - Appointments to the Rail and Underground Panel and to the Board of Crossrail Limited (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-21-09-2011-Finance-and-Policy-Committee-Report-27-July-15-September-2011.pdf">Item 13 - Report from the Meetings of the Finance and Policy Committee - 27 July and 15 September 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item14-21-09-2011-Board-SHEAC-Report-2-August-2011.pdf">Item 14 - Report from the Meeting of the Safety, Health and Environment Assurance Committee - 2 August 2011 (PDF 0.03MB)</a></p>
<h3>29 June</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-29-June-2011-Agenda.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-Board-29-June-2011-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-30-March-2011.pdf">Item 2 - Minutes of the Meeting held on 30 March 2011 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Board-29-June-2011-actions-list.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Board-29-June-2011-Commissioners-Report.pdf">Item 4 - Commissioner's Report (PDF 0.17MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Board-29-June-2011-financial-investment-reports.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - Fourth Quarter 2010/11 (PDF 2.25MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-Board-29-June-2011-Annual-Report.pdf">Item 6 - Annual Report and Statement of Accounts for Year Ended 31 March 2011. (PDF 9.24MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Board-29-June-2011-Coroner-Recommendations.pdf">Item 7 - Coroner's Recommendations from the Inquests into the London Bombings of 7 July 2005 (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Board-29-June-2011-Project-Horizon.pdf">Item 8 - Project Horizon Update and Implications for Intra Group Company Transfers  (PDF 0.15MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Board-29-June-2011-Cable-Car-TWAO.pdf">Item 9 - Cable Car for London: Proposed Transport and Works Act Order (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-Board-29-June-2011-RUP-asset-benchmarking.pdf">Item 10 - Rail and Underground Asset Benchmarking (PDF 2.27MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-Board-29-June-2011-Crossrail-Change-in-Agreements.pdf">Item 11 - Crossrail Project - Changes in Agreements (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-Board-29-June-2011-appointments-to-the-Committees-and-Panelsl.pdf">Item 12 - Appointments to Board and its Committees and Panels (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-Board-29-June-2011-Transport-Trading-Limited-Appointment.pdf">Item 13 - Transport Trading Limited - Appointment (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item14-Board-29-June-2011-FPC-Report-25-May-2011.pdf">Item 14 - Report from the Meeting of the Finance and Policy Committee - 25 May 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item15-Board-29-June-2011-Audit-Committee-Report-15-June-2011.pdf">Item 15 - Report from the Meeting of the Audit Committee - 15 June 2011 (PDF 0.02MB)</a></p>
<h3>30 March</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-Board-30-March-2011-Agenda.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-Board-30-March-2011-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-30-03-2011-Minutes-2-February-2011.pdf">Item 2 - Minutes of the Meeting held on 2 February 2011 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-Board-30-03-2011-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-Board-30-03-2011-Commissioners-Report.pdf">Item 4 - Commissioner's Report (PDF 0.33MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-Board-30-03-2011-Business-Plan-and-Budget.pdf">Item 5 - 2011/12 - 2014/15 Business Plan and 2011/12 Budget (PDF 4.78MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-Board-30-03-2011-Treasury-Management-Strategy.pdf">Item 6 - Treasury Management Strategy 2011/12 (PDF 0.25MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-Board-30-03-2011-Prudential-Indicators.pdf">Item 7 - TfL Prudential Indicators 2011 to 2014 (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-Board-30-03-2011-Blackwall-Tunnels.pdf">Item 8 - A102/A12 Blackwall Tunnels Incident Reduction and Capacity Improvement Measures (PDF 0.80MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-Board-30-03-2011-Delegation-of-Transactions.pdf">Item 9 - Delegation to the Finance and Policy Committee of Transactions over &pound;100m (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-Board-30-03-2011-Audit-Committee-Report-2-March-2011.pdf">Item 10 - Report from the Meeting of the Audit Committee - 2 March 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-Board-30-03-2011-SHEAC-Report-9-March-2011.pdf">Item 11 - Report from the Meeting of the Safety, Health and Environment Assurance Committee - 9 March 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-Board-30-03-2011-Finance-and-Policy-Committee-Report-17-March-2011.pdf">Item 12 - Report from the Meeting of the Finance and Policy Committee - 17 March 2011 (PDF 0.02MB)</a></p>
<h3>02 February</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-8-December-2010-Board-Agenda.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-2-February-2011-Board-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-2-February-2011-Board-Minutes-8-12-2010.pdf">Item 2 - Minutes of the Meeting held on 8 December 2010 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-2-February-2011-Board-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-2-February-2011-Board-Commissioners-Report.pdf">Item 4 - Commissioner's Report (PDF 0.14MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-2-February-2011-Board-OPF-IPR.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - Third Quarter 2010/11 (PDF 2.60MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-2-February-2011-Board-2012-Games-Governance.pdf">Item 6 - 2012 Games Governance (PDF 0.44MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-2-February-2011-Board-Taxi-Fares.pdf">Item 7 - Taxi Fares and Regulations (PDF 0.19MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-2-February-2011-Board-Taxi-and-Private-Hire-Licence-Fees.pdf">Item 8 - Taxi and Private Hire Licence Fees (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-2-February-2011-Board-Financial-Policies.pdf">Item 9 - Financial Policies (PDF 0.17MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-2-February-2011-Audit-Committee-Report.pdf">Item 10 - Report from the Meeting of the Audit Committee - 15 December 2010 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-2-February-2011-Board-FPC-Report.pdf">Item 11 - Report from the Meeting of the Finance and Policy Committee - 20 January 2011 (PDF 0.02MB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2011";}
        
            
        


 