
    
  



@{ViewBag.Title = "2012 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2012-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2012 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2012 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>02 February</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-Board-2-February-2012-Agenda.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-2-February-2012-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-Board-Minutes-7-December-2011.pdf">Item 2 - Minutes of the Meeting held on 7 December 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-020212-Board-Actions-List-2-February-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-020212-Board-Commissioners-Report-February-2012.pdf">Item 4 - Commissioner's Report (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-020212-Board-OFP-and-IP-Reports-Q3-2011-12.pdf">Item 5 - Operational and Financial Performance and Investment Programme Reports - Third Quarter 2011/12 (PDF 2.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-020212-Board-Taxi-Fares.pdf">Item 6 - Taxi Fares (PDF 0.16MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-020212-Board-Taxi-and-Private-Hire-Fees.pdf">Item 7 - Taxi and Private Hire Licence Fees (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-020212-Board-London-Overground-Impact-Study.pdf">Item 8 - London Overground Impact Study (PDF 0.72MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-020212-Board-Crossrail-Land-Issues.pdf">Item 9 - Crossrail Land Issues - Changes to the Sponsors Agreement (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-020212-Board-Review-of-Board-Effectiveness.pdf">Item 10 - Review of TfL Board Effectiveness and the Committee and Panel Structure (PDF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-020212-Board-Conduct-Meetings.pdf">Item 11 - Conduct of Meetings (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-020212-Board-SHEAC-Report-15-December-2011.pdf">Item 12 - Report from the Meeting of the Safety, Health and Environment Assurance Committee - 15 December 2011 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-020212-Board-Finance-and-Policy-Committee-Report-19-January-2012.pdf">Item 13 - Report from the Meeting of the Finance and Policy Committee - 19 January 2012 (PDF 0.01MB)</a></p>
<h3>15 March</h3>
<p>
<a href="/cdn/static/cms/documents/Item00-15-March-2012-Agenda.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Item00-15-March-2012-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item02-150312-Board-Minutes-2-February-2012.pdf">Item 2 - Minutes of the Meeting held on 2 February 2012 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item03-150312-Actions-List-15-March-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/Item04-150312-Commissioners-Report-March-2012.pdf">Item 4 - Commissioner's Report (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/Item05-150312-TfL-Budget-2012-13.pdf">Item 5 - TfL Budget 2012/13 (PDF 0.42MB)</a><br />
<a href="/cdn/static/cms/documents/Item06-150312-Prudential-Indicators.pdf">Item 6 - TfL Prudential Indicators 2012 to 2015 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Item07-150312-Outcome-of-TfLs-Organisational-Review.pdf">Item 7 - Outcome of TfL's Organisational Review (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Item08-150312-Appointments-to-the-Boards-Committees-and-Panels.pdf">Item 8 - Appointments to the Board's Committees and Panels (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item09-150312-Revision-to-Standing-Orders.pdf">Item 9 - Revision to Standing Orders (PDF 0.18MB)</a><br />
<a href="/cdn/static/cms/documents/Item10-150312-Delegation-of-Transactions-over-100M.pdf">Item 10 - Delegation to the Finance and Policy Committee of Transactions Over &pound;100m (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item11-150312-Finance-and-Policy-Committee-Report-1-March-2012.pdf">Item 11 - Report from the Meeting of the Finance and Policy Committee - 1 March 2012 (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/Item12-150312-SHEAC-Board-Report-6-March-2012.pdf">Item 12 - Report from the Meeting of the Safety, Health and Environment Assurance Committee - 6 March 2012 (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Item13-150312-Audit-Committee-Report-7-March-2012.pdf">Item 13 - Report from the Meeting of the Audit Committee - 7 March 2012 (PDF 0.02MB)</a></p>
<h3>27 June</h3>
<p>
<a href="/cdn/static/cms/documents/Board-Agenda-270612.rtf">Agenda - RTF version (RTF 0.18MB)</a><br />
<a href="/cdn/static/cms/documents/Board-Agenda-270612.pdf">Agenda (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item03-Board-Minutes-15-March-2012.pdf">Item 3 - Minutes of the Meeting held on 15 March 2012 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item04-Actions-List-27-June-2012.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item05-Commissioners-Report-June-2012.pdf">Item 5 - Commissioner's Report (PDF 0.51MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item06-Ops-Fin-Invest-Prog-Q4-2011-12.pdf">Item 6 - Operational and Financial Performance and Investment Programme Reports - Fourth Quarter 2011/12 (PDF 0.78MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item07-Annual-Report-Accounts-2011-12.pdf">Item 7 - TfL Annual Report and Statement of Accounts 2011/12 (PDF 5.22MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item08-Mayoral-Transport-Priorities.pdf">Item 8 - Mayoral Priorities for Transport 2012-16 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item09-Final-Prep-2012-Games.pdf">Item 9 - Final Preparations for the London 2012 Games (PDF 7.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item10-Crossrail-Transport-and-Works-Act-Order.pdf">Item 10 - Crossrail: Application for a Transport and Works Act Order to Facilitate Works at Whitechapel (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item-11-Board-Appointments.pdf">Item 11 - Board Appointments (PDF 0.08MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item-12-Finance-and-Policy-Committee-Report.pdf">Item 12 - Report of the meeting of the Finance and Policy Committee held on 31 May 2012 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item-13-Audit-and-Assurance-Committee-Report.pdf">Item 13 - Report of the meeting of the Audit and Assurance Committee held on 15 June 2012 (PDF 0.03MB)</a></p>
<h3>20 September</h3>
<p>
<a href="/cdn/static/cms/documents/Board-Agenda-200912.rtf">Agenda - RTF version (RTF 0.20MB)</a><br />
<a href="/cdn/static/cms/documents/Board-Agenda-200912.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item03-Board-Minutes-27-June-2012-for-Approval.pdf">Item 3 - Minutes of the Meeting held 27 June 2012 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item04-Actions-List.pdf">Item 4 - Matters Arising and Actions List (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item05-Commissioners-Report.pdf">Item 5 - Commissioner's Report (PDF 0.62MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item06-TfL-Games-performance-Final-corrected.pdf">Item 6 - London 2012 Games Transport - Performance, Costs and Legacy (PDF 0.27MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item07-Operational-Financial-Peformance-Investment-Programme-2012-13-q1.pdf">Item 7 - Operational and Financial Performance and Investment Programme Reports - First Quarter 2012/13 (PDF 0.78MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item08-New-Bus-for-London-Rollout.pdf">Item 8 - New Bus for London Roll Out (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item09-Cycle-Hire-Expansion.pdf">Item 9 - Barclays Cycle Hire Expansion and Intensification (PDF 0.14MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item10-River-Crossings.pdf">Item 10 - River Crossings (PDF 1.15MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item11-Finance-and-Policy-Committee-Report.pdf">Item 11 - Report of the meeting of the Finance and Policy Committee held on 11 July 2012 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item12-Remuneration-Committee-Report.pdf">Item 12 - Report of the meeting of the Remuneration Committee held on 19 July 2012 (PDF 0.04MB)</a></p>
<h3>07 November</h3>
<p>
<a href="/cdn/static/cms/documents/Board-Agenda-071112.rtf">Agenda - RTF version (RTF 0.25MB)</a><br />
<a href="/cdn/static/cms/documents/Board-Agenda-071112.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item03-Board-Minutes-20-September-2012.pdf">Item 3 - Minutes of the Meeting held on 20 September 2012 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item04-Board-Actions-List-7-November-2012.pdf">Item 4 - Matters Arising and Actions List (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item05-Commissioners-Report-November-2012.pdf">Item 5 - Commissioner's Report (PDF 0.13MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item06-HSE-Report-2011-12.pdf">Item 6 - TfL Health, Safety and Environment Report 2011/12 (PDF 2.30MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item07-Local-Government-Resource-Review.pdf">Item 7 - Local Government Resource Review - Update (PDF 0.37MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item08-London-Highways-Alliance-Contract.pdf">Item 8 - London Highways Alliance Contract (PDF 0.11MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item09-Cycle-Hire-Section-101-Delegation.pdf">Item 9 - Traffic Regulation Orders Delegation for Cycle Hire (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item10-Bank-Station-Capacity-Upgrade.pdf">Item 10 - Bank Station Capacity Update - Property (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item11-CRL-Paddington-TWAO.pdf">Item 11 - Crossrail: Paddington Transport and Works Act Order (PDF 0.44MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item12-Board-Appointments.pdf">Item 12 - Board Appointments (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item13-Safety-Sustainability-Panel-Report.pdf">Item 13 - Report of the meeting of the Safety and Sustainability Panel held on 27 September 2012 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item14-Audit-and-Assurance-Committee-Report.pdf">Item 14 - Report of the meeting of the Audit and Assurance Committee held on 4 October 2012 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item15-Finance-Policy-Committee-Report.pdf">Item 15 - Report of the meeting of the Finance and Policy Committee held on 17 October 2012 (PDF 0.03MB)</a></p>
<h3>12 December</h3>
<p>
<a href="/cdn/static/cms/documents/Part-1-Board-Agenda-121212.rtf">Agenda - RTF version (RTF 0.26MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Board-Agenda-121212.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item03-Board-Minutes-7-November-2012-for-Approval.pdf">Item 3 - Minutes of the Meeting held on 7 November 2012 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item04-Actions-List-December-2012.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item05-Commissioners-Report-December-2012.pdf">Item 5 - Commissioner's Report (PDF 0.12MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item06-Operational-and-Financial-Performance-and-Investment-Programme-Reports-Q2-1012-13.pdf">Item 6 - Operational and Financial Performance and Investment Programme Reports - Second Quarter 2012/13 (PDF 0.86MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item07-Business-Plan.pdf">Item 7 - TfL Business Plan (PDF 10.87MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item08-Deep-Tube-Programme.pdf">Item 8 -Deep Tube Programme - Feasibility Phase (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item09-Tube-Lines-CSS-Contract.pdf">Item 9 - Tube Lines Cleaning and Security Services Contract (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item10-BTP-Police-Services-Agreement.pdf">Item 10 - Police Services Agreement with the British Transport Police Authority (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item11-LU150.pdf">Item 11 - London Underground's 150th Anniversary Celebrations - Update on Programme (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item12-Board-Appointments-Dec-2012.pdf">Item 12 - Board Appointments (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item13-Review-of-Board-Performance-and-Governance.pdf">Item 13 - Review of Board Performance and Governance (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item14-Remuneration-Committee-Report-221112.pdf">Item 14 - Report of the Meeting of the Remuneration Committee held on 22 November 2012 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item15-Finance-and-Policy-Committee-Report-271112.pdf">Item 15 - Report of the Meeting of the Finance and Policy Committee held on 27 November 2012 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/Part-1-Item16-Audit-and-Assurance-Committee-Report-071212.pdf">Item 16 - Report of the Meeting of the Audit and Assurance Committee held on 7 December 2012 - Late Paper (PDF 0.04MB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2012";}
        
            
        


 