
    
  



@{ViewBag.Title = "2013 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2013-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2013 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2013 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h3>11 December</h3>
<p><a href="/cdn/static/cms/documents/board-20131211-agenda.rtf">Agenda - RTF version (RTF 0.19MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-agenda.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item03-minutes-20131106.pdf">Item 3 - Minutes of the Meeting held on 6 November 2013 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item04-actions-list.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item05-commissioners-report-december-2013.pdf">Item 5 - Commissioner's Report (PDF 1.92MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item06-q2-ofr-ip-reports.pdf">Item 6 - Operational and Financial Performance and Investment Programme Reports - Second Quarter 2013/14 (PDF 2.80MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item07-tfl-business-plan-2013.pdf">Item 7 - TfL Business Plan (PDF 4.00MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item08-london-road-user-charging-and-traffic-enforcement-notice-processing-relet.pdf">Item 8 - London Road User Charging and Traffic Enforcement Notice Processing Contract Relet (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item09-barclays-cycle-hire-extension.pdf">Item 9 - Barclays Cycle Hire Contract Extension (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item10-finance-and-policy-committee-report-20131127.pdf">Item 10 - Report of the meeting of the Finance and Policy Committee held on 27 November 2013 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131211-part-1-item11-safety-and-sustainability-panel-report-20131204.pdf">Item 11 - Report of the meeting of the Safety and Sustainability Panel held on 4 December 2013 (PDF 0.04MB)</a></p>
<h3>06 November</h3>
<p><a href="/cdn/static/cms/documents/board-20131106-part-1-Item00-agenda.rtf">Agenda - RTF version (RTF 0.19MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item00-agenda.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item03-minutes-20130925.pdf">Item 3 - Minutes of the Meeting held on 25 September 2013 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item04-actions-list.pdf">Item 4 - Matters Arising and Actions List (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item05-commissioners-report.doc.pdf">Item 5 - Commissioner's Report (PDF 1.37MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item6-hse-annual-report.pdf">Item 6 - TfL Health, Safety and Environment Annual Report 2012/13 (PDF 2.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item07-northern-line-extension.pdf">Item 7 - Northern Line Extension to Battersea (PDF 0.19MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item08-vsu-district-and-circle-lines.pdf">Item 8 - Victoria Station Upgrade - District and Circle Line Refurbishment (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item09-vsu-additional-procurement.pdf">Item 9 - Victoria Station Upgrade - Additional Procurement Authority (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item10-sup-contingency.pdf">Item 10 - Sub-surface Railway Upgrade Programme Contingency Request (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item11-anti-fraud-and-corruption-policy.pdf">Item 11 - Anti Fraud and Corruption Policy (PDF 0.11MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item12-board-decision-making-structure.pdf">Item 12 - Board Decision Making Structure (PDF 0.06MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item13-audit-and-assurance-committee-report-20131001.pdf">Item 13 - Report of the meeting of the Audit and Assurance Committee held on 1 October 2013 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item14-safety-and-sustainability-panel-report-20131009.pdf">Item 14 - Report of the meeting of the Safety and Sustainability Panel held on 9 October 2013 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/board-20131106-part-1-Item15-finance-and-policy-committee-report-20131017.pdf">Item 15 - Report of the meeting of the Finance and Policy Committee held on 17 October 2013 (PDF 0.05MB)</a></p>
<h3>25 September</h3>
<p><a href="/cdn/static/cms/documents/board-20130925-part-1-item00-agenda.rtf">Agenda - RTF version (RTF 0.13MB)</a><br />
<a href="/cdn/static/cms/documents/board-20130925-part-1-item00-agenda.pdf">Agenda (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/board-20130925-part-1-item03-minutes-3-july-2013-for-approval.pdf">Item 3 - Minutes of the Meeting held on 3 July 2013 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/board-20130925-part-1-item04-actions-list.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/board-20130925-part-1-item05-commissioners-report-september-2013.pdf">Item 5 - Commissioner's Report (PDF 0.35MB)</a><br />
<a href="/cdn/static/cms/documents/board-20130925-part-1-item06-q1-ofr-ip-reports.pdf">Item 6 - Operational and Financial Performance and Investment Programme Reports - First Quarter 2013/14 (PDF 1.43MB)</a><br />
<a href="/cdn/static/cms/documents/board-20130925-part-1-item07-safety-and-sustainability-panel-report-20130716.pdf">Item 7 - Report of the meeting of the Safety and Sustainability Panel held on 16 July 2013 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/board-20130925-part-1-item08-finance-and-policy-committee-report-20130718.pdf">Item 8 - Report of the meeting of the Finance and Policy Committee held on 18 July 2013 (PDF 0.05MB)</a></p>
<h3>03 July</h3>
<p><a href="/cdn/static/cms/documents/part-1-board-agenda-030713.rtf">Agenda - RTF version (RTF 0.16MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-board-agenda-030713.pdf">Agenda (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item03-board-minutes-27-march-2013-for-approval.pdf">Item 3 - Minutes of the Meeting held on 27 March 2013 (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item04-actions-list-3-july-2013.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item05-commissioners-report-july-2013.pdf">Item 5 - Commissioner's Report (PDF 0.51MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item06-annual-report-and-accounts-2012-13.pdf">Item 6 - TfL Annual Report and Statement of Accounts for the Year Ended 31 March 2013 (PDF 5.96MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item07-op-fin-perf-and-ip-reports-q4-2012-13.pdf">Item 7 - Operational and Financial Performance and Investment Programme Reports - Fourth Quarter 2012/13 (PDF 0.74MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item08-bank-station-capacity-upgrade.pdf">Item 8 - Bank Station Capacity Upgrade Project (PDF 0.25MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item09-woolwich-station-fit-out.pdf">Item 9 - Crossrail: Woolwich Station Fit-out (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item10-lane-rental-scheme.pdf">Item 10 - Impact of the TfL Lane Rental Scheme (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item11-governance-tlhl-and-crl.pdf">Item 11 - Tube Lines (PDF Holdings) Limited Governance and Crossrail Limited Board Appointment (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item12-finance-and-policy-committee-report-230513.pdf">Item 12 - Report of the meeting of the Finance and Policy Committee held on 23 May 2013 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item13-remuneration-committee-report-030613-030713.pdf">Item 13 - Report of the meetings of the Remuneration Committee held on 3 June and 3 July 2013 (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item14-audit-and-assurance-committee-report-190613.pdf">Item 14 - Report of the meeting of the Audit and Assurance Committee held on 19 June 2013 (PDF 0.05MB)</a></p>
<h3>27 March</h3>
<p><a href="/cdn/static/cms/documents/part-1-board-agenda-270313.rtf">Agenda - RTF version (RTF 0.21MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-board-agenda-270313.pdf">Agenda (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item03-board-minutes-6-february-2013-for-approval.pdf">Item 3 - Minutes of the Meeting held on 6 February 2013 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item04-actions-list-march-2013.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item05-commissioners-report-march-2013.pdf">Item 5 - Commissioner's Report (PDF 0.46MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item06-tfl-budget.pdf">Item 6 - TfL Budget 2013/14 (PDF 1.07MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item07-treasury-management-and-derivative-investments-policies-2013-14.pdf">Item 7 - Treasury Management and Derivative Investments Policies 2013/2014 (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item08-treasury-management-strategy-2013-14.pdf">Item 8 - Treasury Management Strategy for 2013/14 (PDF 1.70MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item09-prudential-indicators-2013-16.pdf">Item 9 - TfL Prudential Indicators 2013 to 2016 (PDF 0.10MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item10-cycle-superhighways.pdf">Item 10 - Cycle Superhighways (PDF 0.12MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item11-structures-and-tunnels-investment-programme.pdf">Item 11 - Structures and Tunnels Investment Programme (PDF 0.43MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item12-stations-stabilisation-programme.pdf">Item 12 - Stations Stabilisation Programme (PDF 0.12MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item13-northern-line-extension.pdf">Item 13 - Northern Line Extension to Battersea Transport and Works Act Order (PDF 0.35MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item14-crl-plumstead-twao.pdf">Item 14 - Crossrail: Plumstead Transport and Works Act Order (PDF 0.31MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item15-crl-paddington-twao.pdf">Item 15 - Crossrail: Paddington Station Bakerloo Line Link Transport and Works Act Order (PDF 0.58MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item16-local-government-ombudsman-report.pdf">Item 16 - Local Government Ombudsman Report on the London Low Emission Zone (PDF 0.32MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item17-s101-delegation.pdf">Item 17 - Delegation of authority for Section 101 Agreements with London Boroughs (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item18-delegation-of-transactions-over-100m.pdf">Item 18 - Delegation to the Finance and Policy Committee of Transactions Over &pound;100m (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item19-audit-and-assurance-committee-report-270313.pdf">Item 19 - Report of the meeting of the Audit and Assurance Committee held on 6 March 2013 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item20-finance-and-policy-committee-report-230313.pdf">Item 20 - Report of the meeting of the Finance and Policy Committee held on 13 March 2013 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item21-safety-and-sustainability-panel-report.pdf">Item 21 - Report of the meeting of the Safety and Sustainability Panel held on 19 March 2013 (PDF 0.04MB)</a></p>
<h3>06 February</h3>
<p><a href="/cdn/static/cms/documents/part-1-board-agenda-060213.rtf">Agenda - RTF version (RTF 0.26MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-board-agenda-060213.pdf">Agenda (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item03-board-minutes-12-december-2012-for-approval.pdf">Item 3 - Minutes of the Meeting held on 12 December 2012 (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item04-board-actions-list-february-2013.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item05-commissioners-report-february-2013.pdf">Item 5 - Commissioner's Report (PDF 0.47MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item06-operational-financial-peformance-and-investment-programme-reports-q3-2012-13.pdf">Item 6 - Operational and Financial Performance and Investment Programme Reports - Third Quarter 2012/13 (PDF 0.81MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item07-london-underground-reliability.pdf">Item 7 - London Underground Reliability (PDF 0.12MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item08-london-overground-capacity-improvement-programme.pdf">Item 8 - London Overground Capacity Improvement Programme (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item09-sup-revised-programme-authority-feb-2013.pdf">Item 9 - Sub-surface Railway Upgrade Revised Programme Authority (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item10-total-purchased-services-contracts.pdf">Item 10 - Total Purchased Services Contracts (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item11-taxi-and-ph-licence-fees-april-2013.pdf">Item 11 - Taxi and Private Hire Licence Fees (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item12-taxi-fares-and-tariffs-annual-review.pdf">Item 12 - Taxi Fares and Tariffs - Annual Revision (PDF 0.27MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item13-congestion-charging-and-traffic-enforcement.pdf">Item 13 - Congestion Charging and Traffic Enforcement Contract Re-let Project (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item14-better-junctions.pdf">Item 14 - Better Junctions Programme (PDF 0.05MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item15-board-appointments-february-2013.pdf">Item 15 - Board Appointments (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item16-safety-and-sustainability-panel-report-191212.pdf">Item 16 - Report of the meeting of the Safety and Sustainability Panel held on 19 December 2012 (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/part-1-item17-finance-and-policy-committee-report-230113.pdf">Item 17 - Report of the Meeting of Members of the Finance and Policy Committee held on 23 January 2013 (PDF 0.04MB)</a></p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2013";}
        
            
        


 