
    
  



@{ViewBag.Title = "2014 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2014-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2014 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2014 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <h2> 2014 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    10 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20141210-part-1-item-00-agenda-rtf.rtf">
    <div class="document-download-text">
        <p>Agenda - rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 235KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item-00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 102KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item03-minutes-20141105-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 5 November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item05-commissioners-report-december-2014.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item06-ofr-ipr-q2-2014-15.pdf">
    <div class="document-download-text">
        <p>Item 6 - Operational and Financial Performance and Investment Programme Reports &#45; Second Quarter, 2014/15 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item07-business-plan.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Business Plan 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item08-commercial-development-advisory-group.pdf">
    <div class="document-download-text">
        <p>Item 8 - Commercial Development Advisory Group</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item09-west-anglia-transfer.pdf">
    <div class="document-download-text">
        <p>Item 9 - Transfer of West Anglia Routes from DfT to TfL and Crossrail and West Anglia Station Leases</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item10-crossrail-im-company.pdf">
    <div class="document-download-text">
        <p>Item 10 - Crossrail: Infrastructure Management Company</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 147KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item11-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 11 - Report of the meeting of the Finance and Policy Committee held on 25 November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 142KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141210-part-1-item12-remuneration-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 12 - Report of the meeting of the Remuneration Committee held on 27 November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    05 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20141105-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 254KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item03-minutes-20140924.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 24 September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item05-commissioner-report-november-2014.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 35.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item06-draft-2050-consultation-response.pdf">
    <div class="document-download-text">
        <p>Item 6 - TfL's Response to the Mayor's Consultation on the 2050 Infrastructure Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item07-taxi-licence-fees-and-fares-update.pdf">
    <div class="document-download-text">
        <p>Item 7 - Taxi Licence Fees and Fares Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item08-new-routemasters.pdf">
    <div class="document-download-text">
        <p>Item 8 - New Routemasters</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item09-tfl-energy-purchasing.pdf">
    <div class="document-download-text">
        <p>Item 9 - TfL Energy Purchasing 2017 to 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 127KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item10-jubilee-line-wcc.pdf">
    <div class="document-download-text">
        <p>Item 10 - Jubilee Line World Class Capacity</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item11-tms-update-and-counterparties-review.pdf">
    <div class="document-download-text">
        <p>Item 11 - Review of TfL's Approved Counterparties and Proposed Amendments to the Treasury Management Strategy 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item12-review-of-effectiveness.pdf">
    <div class="document-download-text">
        <p>Item 12 - Review of Board Effectiveness</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item13-audit-and-assurance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Audit and Assurance Committee held on 8 October 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item14-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Finance and Policy Committee held on 14 October 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20141105-part-1-item15-safety-accessibility-and-sustainability-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 15 - Report of the meeting of the Safety, Accessibility and Sustainability Panel held on 15 October 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 247KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    24 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20140924-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 225KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item03-minutes-20140603-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 3 July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 142KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item05-commissioners-report-september-2014.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item06-ofr-ipr-amended.pdf">
    <div class="document-download-text">
        <p>Item 6 - Operational and Financial Performance and Invesment Programme Reports - First Quarter, 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item07-delivering-stage-3-of-the-tour-de-france.pdf">
    <div class="document-download-text">
        <p>Item 7 - Delivering Stage 3 of the Tour de France</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 49.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item08-taxi-fares-update.pdf">
    <div class="document-download-text">
        <p>Item 8 - Taxi Fares - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item09-data-communication-services.pdf">
    <div class="document-download-text">
        <p>Item 9 - Supply of Data Communications Services and Support Contract Extension</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item10-the-openess-of-local-government-bodies-regulations-2014.pdf">
    <div class="document-download-text">
        <p>Item 10 - The Openness of Local Government Bodies Regulations 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 286KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item11-crl-ned-chair-appointment.pdf">
    <div class="document-download-text">
        <p>Item 11 - Crossrail Limited - Appointment of Non-Executive Chairman</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 132KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item12-safety-accessibility-and-sustainability-panel.pdf">
    <div class="document-download-text">
        <p>Item 12 - Report of the meeting of the Safety, Accessibility and Sustainability Panel held on 15 July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 144KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140924-part-1-item13-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Finance and Policy Committee held on 17 July and the extraordinary meeting held on 20 August 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 157KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    03 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20140703-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 234KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item03-minutes-20140326-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 26 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item05-commissioners-report-july-2014.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item06-annual-report-and-accounts-2013-14.pdf">
    <div class="document-download-text">
        <p>Item 6 - TfL Annual Report and Statement of Accounts for the Year Ended 31 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item07-strategic-risk-management-and-assurance-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Strategic Risk Management and Assurance Annual Report 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item08-ofr-ipr-q4-2013-14.pdf">
    <div class="document-download-text">
        <p>Item 8 - Operational and Financial Performance and Investment Programme Reports &#45; Fourth Quarter, 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item09-bank-station-capacity-twao.pdf">
    <div class="document-download-text">
        <p>Item 9 - Bank Station Capacity Transport and Works Act Order</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 111KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item10-dlr-franchise-procurement.pdf">
    <div class="document-download-text">
        <p>Item 10 - Docklands Light Railway Franchise Procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item11-crl-ned-appointments.pdf">
    <div class="document-download-text">
        <p>Item 11 - Crossrail Limited &#45; Appointment of Non-executive Directors </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item12-remuneration-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 12 - Report of the meetings of the Remuneration Committee held on 27 March and 3 June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item13-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the extraordinary meeting of the Finance and Policy Committee held on 13 May and the ordinary meeting held on 5 June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140703-part-1-item14-audit-and-assurance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Audit and Assurance Committee held on 18 June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    26 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20140326-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 273KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 57KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item03-draft-minutes-20140205-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 5 February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item05-commissioners-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item06-ops-finance-invest-prog-q3-2013-14.pdf">
    <div class="document-download-text">
        <p>Item 6 - Operational and Financial Performance and Investment Programme Reports &#45; Third Quarter 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item07-tfl-budget-2014-15.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Budget 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item08-prudential-indicators.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Prudential Indicators 2013/14 to 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item09-treasury-management-strategy-2014-15.pdf">
    <div class="document-download-text">
        <p>Item 9 - Treasury Management Strategy 2014/15 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 228KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item10-treasury-management-policies-2014-15.pdf">
    <div class="document-download-text">
        <p>Item 10 - Treasury Management and Derivative Investments Policies 2014/15 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item11-crossrail-ifa.pdf">
    <div class="document-download-text">
        <p>Item 11 - Crossrail: Extension of the Interim Crossrail Limited Funding Payments Agreement with Network Rail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item12-crossrail-enhancements.pdf">
    <div class="document-download-text">
        <p>Item 12 - Crossrail Enhancements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item13-total-purchased-services-contracts.pdf">
    <div class="document-download-text">
        <p>Item 13 - Extension of Total Purchased Services Contracts </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item14-structures-tunnels-investment-portfolio.pdf">
    <div class="document-download-text">
        <p>Item 14 - Structures and Tunnels Investment Portfolio</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item15-contact-centre-strategy.pdf">
    <div class="document-download-text">
        <p>Item 15 - Contact Centre Strategy </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item16-tfl-office-accommodation.pdf">
    <div class="document-download-text">
        <p>Item 16 - TfL Office Accommodation </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item17-standing-orders.pdf">
    <div class="document-download-text">
        <p>Item 17 - Revision to Standing Orders</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 442KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item18-crl-ned-appointments.pdf">
    <div class="document-download-text">
        <p>Item 18 - Crossrail Limited &#45; Appointment of Non-executive Directors</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item19-delegation-of-authority-to-fpc.pdf">
    <div class="document-download-text">
        <p>Item 19 - Delegation to the Finance and Policy Committee of Matters Reserved to the Board</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item20-audit-and-assurance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 20 - Report of the meeting of the Audit and Assurance Committee held on 5 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item21-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 21 - Report of the meeting of the Finance and Policy Committee held on 12 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140326-part-1-item22-safety-and-sustainability-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 22 - Report of the meeting of the Safety and Sustainability Panel held on 19 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    05 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20140205-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 224KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item03-minutes-20131211-for-approval.pdf">
    <div class="document-download-text">
        <p> Item 3 - Minutes of the Meeting held on 11 December 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item05-commissioners-report-february-2014.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item06-cycling-vision-portfolio.pdf">
    <div class="document-download-text">
        <p>Item 6 - Cycling Vision Portfolio</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 834KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item07-taxi-and-ph-licence-fees.pdf">
    <div class="document-download-text">
        <p>Item 7 - Taxi and Private Hire Licence Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item08-taxi-fares-and-tariffs-annual-revision.pdf">
    <div class="document-download-text">
        <p>Item 8 - Taxi Fares and Tariffs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 126KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item09-crossrail-rsd-procurement.pdf">
    <div class="document-download-text">
        <p>Item 9 - Crossrail Rolling Stock and Depot Procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item10-new-tube-for-london.pdf">
    <div class="document-download-text">
        <p>Item 10 - New Tube for London Programme - Delivery Stage: Design and Specification</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item11-nr-settlement.pdf">
    <div class="document-download-text">
        <p>Item 11 - Network Rail Settlement Agreements on East London Line and North London Railway Infrastructure Projects</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item12-bond-street-station-cooling.pdf">
    <div class="document-download-text">
        <p>Item 12 - Bond Street Station Cooling Project Authority Request</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item13-earls-court.pdf">
    <div class="document-download-text">
        <p>Item 13 - Earls Court - Proposed Joint Venture</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.02MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item14-audit-and-assurance-committee-summary-20131218.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Audit and Assurance Committee held on 18 December 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20140205-part-1-item15-finance-and-policy-committee-report-20131219-20140123.pdf">
    <div class="document-download-text">
        <p>Item 15 - Report of the meetings of the Finance and Policy Committee held on 19 December 2013 and 23 January 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board Papers from 2014";}
        
            
        


 