
    
  



@{ViewBag.Title = "2015 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2015-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2015 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2015 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/letter-from-commissioner-to-board-members-15-january-2015-taximeter.pdf">
    <div class="document-download-text">
        <p>January 2015 update on Taximeter issue</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.19 -->
 
</div>

</div>
 <h2> 2015 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    04 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20150204-part-1-item-00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - rtf </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 252KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-03-minutes-20141210-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 10 December 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-05-commissioners-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-06-hse-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Health, Safety and Environment Report 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07a-propose-csh-scheme.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighway Schemes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07b-propose-csh-scheme-appx1.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 1: Project Authority Calculations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07c-propose-csh-appx2-ew.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: East West Leaflet and Traffic Modelling</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.80 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: East West Consultation Drawings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<div>
<p><a href="http://https://consultations.tfl.gov.uk/cycling/71a267bd/user_uploads/sect-1-17-combined.pdf"></a>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: East West Consultation Drawings </p>
<p><a href="https://consultations.tfl.gov.uk/cycling/71a267bd/user_uploads/sect-1-17-combined.pdf">Click here to view this document</a>. </p>
</div>

<!--  -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07d-propose-csh-appx2-ns.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: North South Leaflet and Traffic Modelling</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.16 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: North South Consultation Drawings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<div>
<p> Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: North South Consultation Drawings</p>
<p>&nbsp;<a href="https://consultations.tfl.gov.uk/cycling/8806f3e1/user_uploads/ns-detailed-route-drawings.pdf">Click here to view this document</a>. </p>
</div>

<!--  -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07e-propose-csh-appx2-cs2u.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: CS2 Upgrade Leaflet and Traffic Modelling</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.89 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: CS2 Upgrade Consultation Drawings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<div>
<p>Item 7 - <a href="http://https://consultations.tfl.gov.uk/cycling/cs2-upgrade/supporting_documents/Section AERev Blow res.pdf"></a>Proposed Cycle Superhighways Schemes - Appendix 2: CS2 Upgrade Consultation Drawings </p>
<p><a href="https://consultations.tfl.gov.uk/cycling/cs2-upgrade/supporting_documents/Section AERev Blow res.pdf">Click here to view this document</a>. </p>
</div>

<!--  -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07f-propose-csh-appx2-cs5i.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 2: CS5 Inner Leaflet and Consultation Drawings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07g-propose-csh-appx3.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 3: Consultation Response Reports, Executive Summaries</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07h-propose-csh-appx4-ew.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 4: East West Environmental Evaluation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07i-propose-csh-appx4-ns.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 4: North South Environmental Evaluation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07j-propose-csh-appx4-cs2u.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 4: CS2 Upgrade Environmental Evaluation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.75MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07k-propose-csh-appx4-cs5i.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 4: CS5 Inner Environmental Evaluation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07-propose-csh-appx5-ew.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 5: East West Equality Impact Assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 975KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07m-propose-csh-appx5-ns.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 5: North South Equality Impact Assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07n-propose-csh-appx5-cs2u.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 5: CS2 Upgrade Equality Impact Assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-07o-propose-csh-appx5-cs5i.pdf">
    <div class="document-download-text">
        <p>Item 7 - Proposed Cycle Superhighways Schemes - Appendix 5: CS5 Inner Equality Impact Assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-correspondence-to-board-members-re-csh.pdf">
    <div class="document-download-text">
        <p>Correspondence relating to Item 7 - Proposed Cycle Superhighways Schemes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.70MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-08-taxi-ph-licence-fees.pdf">
    <div class="document-download-text">
        <p>Item 8 - Taxi and Private Hire Licence Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-09-taxi-fares-tariffs-2015.pdf">
    <div class="document-download-text">
        <p>Item 9 - Taxi Fares and Tariffs Review 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-10-stip-phase3.pdf">
    <div class="document-download-text">
        <p>Item 10 - Structures and Tunnels Investment Portfolio &#45; Hammersmith Flyover </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-11-ibus-contract-ext.pdf">
    <div class="document-download-text">
        <p>Item 11 - iBus Contract Extension </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 162KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-12-audit-and-assurance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 12 - Report of the meeting of the Audit and Assurance Committee held on 17 December 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-13-safety-accessibility-and-sustainability-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Safety, Accessibility and Sustainability Panel held on 18 December 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150204-part-1-item-14-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Finance and Policy Committee held on 22 January 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    26 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20150326-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 234KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item03-minutes-20150204-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 4 February 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item05-commissioners-report-march-2015.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item06-ofr-ipr-q3-2014-15.pdf">
    <div class="document-download-text">
        <p>Item 6 - Operational and Financial Performance and Investment Programme Reports - Third Quarter, 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item07-prudential-indicators.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Prudential Indicators 2014/15 to 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item08-tfl-budget-2015-16.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Budget 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item09-ec-funding-agreement.pdf">
    <div class="document-download-text">
        <p>Item 9 - Elephant & Castle Funding Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item10-cycling-vision.pdf">
    <div class="document-download-text">
        <p>Item 10 - Cycling Vision Annual Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 330KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item11-integrated-stations-prog.pdf">
    <div class="document-download-text">
        <p>Item 11 - Integrated Stations Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item12-central-line-overhaul.pdf">
    <div class="document-download-text">
        <p>Item 12 - Central and Waterloo & City Lines Rolling Stock</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item13-bank-station-capacity.pdf">
    <div class="document-download-text">
        <p>Item 13 - Bank Station Capacity Upgrade</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item14-track-programme.pdf">
    <div class="document-download-text">
        <p>Item 14 - Track and Track Drainage Renewals Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item15-business-improvement-programme-framework.pdf">
    <div class="document-download-text">
        <p>Item 15 - Business Improvement Programme Framework</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item16-provision-of-it-management-services.pdf">
    <div class="document-download-text">
        <p>Item 16 - Agreement for the Provision of IT Management Services and IT Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item17-treasury-management-derivatives.pdf">
    <div class="document-download-text">
        <p>Item 17 - Treasury Management and Derivative Investments Policies 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 100KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item18-treasury-management-strategy.pdf">
    <div class="document-download-text">
        <p>Item 18 - Treasury Management Strategy 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 256KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item19-board-appointment-chief-finance-officer.pdf">
    <div class="document-download-text">
        <p>Item 19 - Board Appointments - Chief Finance Officer</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item20-delegation-of-authority-to-fpc.pdf">
    <div class="document-download-text">
        <p>Item 20 - Delegation to the Finance and Policy Committee of Matters Reserved to the Board</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item21-audit-and-assurance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 21 - Report of the Meeting of the Audit and Assurance Committee held on 9 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item22-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 22 - Report of the Meeting of the Finance and Policy Committee held on 11 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item23-safety-accessibility-and-sustainability-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 23 - Report of the Safety, Accessibility and Sustainability Panel held on 17 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150326-part-1-item24-remuneration-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 24 - Report of the meeting of the Remuneration Committee held on 19 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    01 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20150701-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 244KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item03-minutes-20150326-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 26 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delgated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item05-commissioners-report-july-2014.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item06-ofr-ipr-q4.pdf">
    <div class="document-download-text">
        <p>Item 6 -Operational and Financial Performance and Investment Programme Reports - Fourth Quarter 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item07-annual-report-and-accounts.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Annual Report and Statement of Accounts for the Year Ended 31 March 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item08-strategic-risk-management-and-assurance-annual-report-2014-15.pdf">
    <div class="document-download-text">
        <p>Item 8 - Strategic Risk Management and Assurance Annual Report 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item09-crossrail-2.pdf">
    <div class="document-download-text">
        <p>Item 9 - Crossrail 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item10-bus-stops-shelters.pdf">
    <div class="document-download-text">
        <p>Item 10 - Bus Stops and Shelters </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item11-2014-year-of-the-bus.pdf">
    <div class="document-download-text">
        <p>Item 11 - Year of the Bus Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item12-croxley-rail-link.pdf">
    <div class="document-download-text">
        <p>Item 12 - Croxley Rail Link</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 529KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item13-tps-track-labour.pdf">
    <div class="document-download-text">
        <p>Item 13 - Total Purchased Services- Track Labour</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item14-jnp-agency-workers.pdf">
    <div class="document-download-text">
        <p>Item 14 - JNP Agency Workers Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item15-four-lines-modernisation.pdf">
    <div class="document-download-text">
        <p>Item 15 - Modernisation of the District, Metropolitan, Circle and Hammersmith 7 City lines and Automatic Train Control</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 144KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item16-crl-ned-appointments.pdf">
    <div class="document-download-text">
        <p>Item 16 - Crossrail Limited - Appointment of Non-executive Director</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item17-remuneration-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 17 - Report of the Meeting of the Remuneration Committee held on 3 June 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item18-audit-and-assurance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 18 - Report of the Meeting of the Audit and Assurance Committee held on 16 June 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150701-part-1-item19-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 19 - Report of the Meeting of the Finance and Policy Committee</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    24 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 108KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item03-minutes-20150701-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 1 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 217KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item06-ofr-ipr-q1.pdf">
    <div class="document-download-text">
        <p>Item 6 - Operational and Financial Performance and Investment Programme Reports - First Quarter, 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item07-surface-intelligent-transport-system.pdf">
    <div class="document-download-text">
        <p>Item 7 - Surface Intelligent Transport System</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 907KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item08-alstom-nltsc.pdf">
    <div class="document-download-text">
        <p>Item 8 - Alstom Northern Line Train Service Contract: Renewal to 2027</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item09-safety-accessibility-and-sustainability-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 9 - Report of the meeting of the Safety, Accessibility and Sustainability Panel held on 7 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item10-remuneration-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 10 - Report of the meeting of the Remuneration Committee held on 8 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 140KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item11-finance-and-policy-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 11 - Report of the meeting of the Finance and Policy Committee held on 30 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20150924-part-1-item12-commissioner-appointment.pdf">
    <div class="document-download-text">
        <p>Item 12 - Appointment of Commissioner of Transport for London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 191KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    04 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/board-20151104-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 231KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item03-minutes-20150924.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 24 September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item05-commissioner-report-update.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item06-hse-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Health, Safety and Environment Annual Report 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item07-nle-delegation.pdf">
    <div class="document-download-text">
        <p>Item 7 - Northern Line Extension Project - Delegation to the Finance and Policy Committee</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item08-mle-croxley.pdf">
    <div class="document-download-text">
        <p>Item 8 - Metropolitan Line Extension (Croxley Rail Link)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 183KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item09-lu-advertising-contract.pdf">
    <div class="document-download-text">
        <p>Item 9 - London Underground Advertising Concession Contract</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item10-crl-ned-appointment.pdf">
    <div class="document-download-text">
        <p>Item 10 - Crossrail Limited - Appointment of Non-executive Director</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item11-fpc-report.pdf">
    <div class="document-download-text">
        <p>Item 11 - Report of the meetings of the Finance and Policy Committee held on 28 September and 15 October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item12-aac-report.pdf">
    <div class="document-download-text">
        <p>Item 12 - Report of the Meeting of the Audit and Assurance Committee held on 8 October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151104-part-1-item13-sasp-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the Meeting of the Safety, Accessibility and Sustainability Panel held on 13 October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    17 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item03-minutes-draft.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 4 November 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 14.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item06-monitoring-reports.pdf">
    <div class="document-download-text">
        <p>Item 6 - Operational and Financial Performance and Investment Programme Reports - Second Quarter 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item07-mayors-budget.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Mayor's Budget 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 460KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item08-crossrail2.pdf">
    <div class="document-download-text">
        <p>Item 8 - Crossrail 2 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item09-crossrail2-company.pdf">
    <div class="document-download-text">
        <p>Item 9 - Crossrail 2 Company</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item10-lotrain-lease.pdf">
    <div class="document-download-text">
        <p>Item 10 - Procurement for New Rolling Stock for London Overground - Lease Financing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item11-cycle-hire-re-let.pdf">
    <div class="document-download-text">
        <p>Item 11 - Cycle Hire Re-Let </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item12-ulez.pdf">
    <div class="document-download-text">
        <p>Item 12 - Ultra Low Emission Zone (ULEZ) Portfolio</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 157KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item13-effectiveness-review.pdf">
    <div class="document-download-text">
        <p>Item 13 - Independent Board Effectiveness Review 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 510KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item14-fpc-report.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meetings of the Finance and Policy Commitee held on 17 November and 2 December 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item15-aac-report.pdf">
    <div class="document-download-text">
        <p>item 15 - Report of the meeting of the Audit and Assurance Committee held on 8 December 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20151217-pt1-item16-sasp-report.pdf">
    <div class="document-download-text">
        <p>Item 16 - Report of the meeting of the Safety, Accessibility and Sustainability Panel held on 10 December 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board Papers from 2015";}
        
            
        


 