
    
  



@{ViewBag.Title = "2016 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2016-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2016 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2016 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <h2> 2016 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    03 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item03-minutes-151217.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 17 December 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item04-matters-arising-actions-list-and-use-of-delegated-authority.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item05-commissioners-report-v2.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item06-taxi-fees.pdf">
    <div class="document-download-text">
        <p>Item 6 - Taxi and Private Hire Licence Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item07-card-payments-taxis.pdf">
    <div class="document-download-text">
        <p>Item 7 - Card Payments in Taxis (including supplementary information)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 252KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item08-taxi-fares-annnual-revision.pdf">
    <div class="document-download-text">
        <p>Item 8 - Taxi Fares and Tariffs - Annual Revision</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 119KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap limited.pdf" href="/cdn/static/cms/documents/board-160203-item09-wayfindr-org.limited.pdf">
    <div class="document-download-text">
        <p>Item 9 - Wayfindr org Limited</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            LIMITED.PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item10-property-partnerships.pdf">
    <div class="document-download-text">
        <p>Item 10 - Property Partnerships - Developing TfL's Assets (including supplementary information)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 676KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item11-silvertown-tunnel.pdf">
    <div class="document-download-text">
        <p>Item 11 - Silvertown Tunnel </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 261KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item12-p1-new-routemasters.pdf">
    <div class="document-download-text">
        <p>Item 12 - New Routemasters</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item13-camden-town-station-capacity-upgrade-and-step-free-access.pdf">
    <div class="document-download-text">
        <p>Item 13 - Camden Town Station Capacity Upgrade and Step Free Access </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 336KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item14-barking-riverside.pdf">
    <div class="document-download-text">
        <p>Item 14 - Barking Riverside Rail Extension </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160203-item15-fpc-report.pdf">
    <div class="document-download-text">
        <p>Item 15 - Report of the meeting of the Finance and Policy Committee held on 21 January 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    17 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the meeting held on 3 February 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 903KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.88 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item06-quarterly-monitoring-reports.pdf">
    <div class="document-download-text">
        <p>Item 6 - Operational and Financial Performance and Investment Programme Reports - Third Quarter 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item07-budget-2016-17.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Budget 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item08-pru-indicators.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Prudential Indicators 2015/16 to 2018/19 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 120KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item09-private-hire-reg-review.pdf">
    <div class="document-download-text">
        <p>Item 9 - Private Hire Vehicles Regulations Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item09-phrr-correspondence.pdf">
    <div class="document-download-text">
        <p>Item 9 - Related Correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item10-asset-capital.pdf">
    <div class="document-download-text">
        <p>Item 10 - Surface Transport Asset Renewals Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 409KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item11-cycling-vision.pdf">
    <div class="document-download-text">
        <p>Item 11 - Cycling Vision Portfolio 2016-17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 258KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item12-ntfl-authority-2016-p1.pdf">
    <div class="document-download-text">
        <p>Item 12 - New Tube for London Programme: Piccadilly Line Modernisation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 107KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item13-bank-p1-final.pdf">
    <div class="document-download-text">
        <p>Item 13 - Bank Station Capacity Upgrade</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item14-jlu2-p1.pdf">
    <div class="document-download-text">
        <p>Item 14 - Jubilee Line Upgrade 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item15-nlu2-p1.pdf">
    <div class="document-download-text">
        <p>Item 15 - Northern Line Upgrade 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item16-lo-op-p1.pdf">
    <div class="document-download-text">
        <p>Item 16 - London Overground Train Operating Concession </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item17-advertising-p1.pdf">
    <div class="document-download-text">
        <p>Item 17 - New Advertising Agreement </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 111KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item18-crossrail-pdp-incentive.pdf">
    <div class="document-download-text">
        <p>Item 18 - Crossrail - Project Delivery Partner Final Incentive Scheme </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item19-crossrail-ifa-extensio-p1.pdf">
    <div class="document-download-text">
        <p>Item 19 - Crossrail - Extension of the Interim CRL Funding Payments Agreement with Network Rail </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item20-pension-fund.pdf">
    <div class="document-download-text">
        <p>Item 20 - Final Results of the 2015 Actuarial Valuation of the TfL Pension Fund </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item21-tms-p1.pdf">
    <div class="document-download-text">
        <p>Item 21 - Treasury Management Strategy 2016/17 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 216KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item22-deriv-inv-p1.pdf">
    <div class="document-download-text">
        <p>Item 22 - Treasury Management and Derivative Investments Policies 2016/17 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 205KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item23-delegation-of-authority-to-fpc.pdf">
    <div class="document-download-text">
        <p>Item 23 - Delegation to the Finance and Policy Committee of Matters Reserved to the Board </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item24-fpc-report.pdf">
    <div class="document-download-text">
        <p>Item 24 - Report of the meetings of the Finance and Policy Committee held on 16 February and 2 March 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item25-aac-report.pdf">
    <div class="document-download-text">
        <p>Item 25 - Report of the meeting of the Audit and Assurance Committee held on 8 March 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item26-sasp-report.pdf">
    <div class="document-download-text">
        <p>Item 26 - Report of the meeting of the Safety, Accessibility and Sustainability Panel held on 10 March 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-160317-item27-remuneration-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 27 - Report of the Remuneration Committee held on 15 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    19 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item03-minutes-20160317.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the meeting held on 17 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 231KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item05-commissioners-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item06-ofp-ipr.pdf">
    <div class="document-download-text">
        <p>Item 6 - Operational and Financial Performance and Investment Programme Reports - Fourth Quarter 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item07-annual-report-and-accounts.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Annual Report and Statement of Accounts for the Year Ended 31 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item08-strategic-risk-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 8 - Strategic Risk Management and Assurance Report 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item09-budget-update.pdf">
    <div class="document-download-text">
        <p>Item 9 - TfL Budget 2016/17 and Business Plan Adjustment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item10-crossrail-2.pdf">
    <div class="document-download-text">
        <p>Item 10 - Crossrail 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item11-part1-cycle-hire-relet.pdf">
    <div class="document-download-text">
        <p>Item 11 - Cycle Hire Re-Let Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item12-part1-central-line.pdf">
    <div class="document-download-text">
        <p>Item 12 - Central Line Improvement Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item13-part1-lu-operations-secondment.pdf">
    <div class="document-download-text">
        <p>Item 13 - London Underground Operations Delivery Secondment Arrangements </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item14-modern-slavery-statement.pdf">
    <div class="document-download-text">
        <p>Item 14 - Modern Slavery Statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item15-tfl-membership.pdf">
    <div class="document-download-text">
        <p>Item 15 - TfL Membership Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item16-decision-making-structure.pdf">
    <div class="document-download-text">
        <p>Item 16 - TfL's Decision Making Structure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item17-delegation-of-authority-to-fpc.pdf">
    <div class="document-download-text">
        <p>Item 17 - Delegation to the Finance and Policy Committee of Matters Reserved to the Board </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item18-aac-summary-20160614.pdf">
    <div class="document-download-text">
        <p>Item 18 - Report of the meeting of the Audit and Assurance Committee held on 14 June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item19-sasp-report.pdf">
    <div class="document-download-text">
        <p>Item 19 - Report of the meeting of the Safety, Accessibility and Sustainability Panel held on 30 June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160719-item20-fpc-report.pdf">
    <div class="document-download-text">
        <p>Item 20 - Report of the meetings of the Finance and Policy Committee held on 21 April and 8 July 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    22 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item03-20160719-minutes-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 19 July 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 109KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item07-suburban-rail-services.pdf">
    <div class="document-download-text">
        <p>Item 7 - Suburban Rail Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 118KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item08-transparency-executive.pdf">
    <div class="document-download-text">
        <p>Item 8 - Transparency</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 191KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item09-standing-orders.pdf">
    <div class="document-download-text">
        <p>Item 9 - TfL Standing Orders</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 455KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item10-tfl-membership.pdf">
    <div class="document-download-text">
        <p>Item 10 - Appointments to Committees and Panels and the TfL Nominee for Crossrail Limited</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item11-gla-framework-agreement.pdf">
    <div class="document-download-text">
        <p>Item 11 - Greater London Authority Group Framework Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 210KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item12-effectiveness-review.pdf">
    <div class="document-download-text">
        <p>Item 12 - Independent Board Effectiveness Review 2015 Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item13-fpc-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the Meeting of the Finance and Policy Committee held on 27 July 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    08 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item03-minutes-20160922-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 22 September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item05-commissioners-report-amended.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 460KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item07-merchant-acquiring.pdf">
    <div class="document-download-text">
        <p>Item 7 - Merchant Acquiring Contract</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item08-east-london-river-crossings.pdf">
    <div class="document-download-text">
        <p>Item 8 - East London River Crossings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 205KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item09-london-air-quality.pdf">
    <div class="document-download-text">
        <p>Item 9 - Initiatives to Improve London's Air Quality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item10-bus-driver-training.pdf">
    <div class="document-download-text">
        <p>Item 10 - Bus Driver Training Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 380KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item11-tfl-membership.pdf">
    <div class="document-download-text">
        <p>Item 11 - Appointments to TfL, its Committees and Panels</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item12-aac-summary.pdf">
    <div class="document-download-text">
        <p>Item 12 -Report of the meeting of the Audit and Assurance Committee held on 11 October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item13-remcom-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Remuneration Committee held on 13 October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161108-item14-finance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Finance Committee held on 13 October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    15 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item03-minutes-20161108-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 8 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item05-croydon-tram-incident.pdf">
    <div class="document-download-text">
        <p>Item 5 - Croydon Tramlink Derailment on 9 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 711KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item06-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item07-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 569KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item08-city-for-all-londoners.pdf">
    <div class="document-download-text">
        <p>Item 8 - A City for All Londoners</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item09-tfl-business-plan.pdf">
    <div class="document-download-text">
        <p>Item 9 - TfL Business Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item10-hse-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 10 - Health, Safety and Environment Annual Report 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item11-hse-policy-review.pdf">
    <div class="document-download-text">
        <p>Item 11 - Health, Safety and Environment Policy Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 944KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item12-one-fm-contract.pdf">
    <div class="document-download-text">
        <p>Item 12 - One Facilities Management Services Procurement </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item13-crossrail-services-transition.pdf">
    <div class="document-download-text">
        <p>Item 13 - Crossrail Services and Transition</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item14-ticket-office-review-final.pdf">
    <div class="document-download-text">
        <p>Item 14 - London Underground Ticket Office Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item15-bakerloo-line.pdf">
    <div class="document-download-text">
        <p>Item 15 - Bakerloo Line Extension</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item16-aviation.pdf">
    <div class="document-download-text">
        <p>Item 16 - Aviation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item17-sshr-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 17 - Report of the meeting of the Safety, Sustainability and Human Resources Panel held on 17 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20161215-item18-pic-report.pdf">
    <div class="document-download-text">
        <p>Item 18 - Report of the meeting of the Programmes and Investment Committee held on 30 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2016";}
        
            
        


 