
    
  



@{ViewBag.Title = "2017 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2017-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2017 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2017 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <h2> 2017 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    08 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item03-minutes-20161215.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of Meeting of the Board held on 15 December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item06-croydon-tram-incident.pdf">
    <div class="document-download-text">
        <p>Item 6 - Tram Derailment at Sandilands, Croydon on 9 November 2016 - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item07-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 390KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item08-crl-ifa.pdf">
    <div class="document-download-text">
        <p>Item 8 - Crossrail - Revised Interim Crossrail Funding Payments Agreement with Network Rail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item09-crossrail-transition.pdf">
    <div class="document-download-text">
        <p>Item 9 - Crossrail Transition Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 992KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.97 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item10-pt1-crl-ned-appointment.pdf">
    <div class="document-download-text">
        <p>Item 10 - Crossrail Limited - Appointment of Non-Executive Director</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item11-sshr-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 11 - Report of the meeting of the Safety, Sustainability and Human Resources Panel held on 23 January 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item12-finance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 12 - Report of the meeting of the Finance Committee held on 26 January 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170208-item13-csopp-summary-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Customer Service and Operational Performance Panel held on 30 January 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    29 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item03-minutes-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Board meeting held on 8 February 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 419KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item07-operational-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item08-budget.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Budget 2017/18 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item09-scorecard.pdf">
    <div class="document-download-text">
        <p>Item 9 - TfL Group Scorecard </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 229KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item10-prudential-indicators.pdf">
    <div class="document-download-text">
        <p>Item 10 - TfL Prudential Indicators 2017/18 to 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 123KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item11-treasury-management-strategy.pdf">
    <div class="document-download-text">
        <p>Item 11 - Treasury Management Strategy 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item12-treasury-management-policies.pdf">
    <div class="document-download-text">
        <p>Item 12 - Treasury Management and Derivative Investments Policies 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item13-taxi-fares.pdf">
    <div class="document-download-text">
        <p>Item 13 - Taxi Fares and Tariffs, and Taximeter Specification</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 174KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item14-national-rail-settlement-hlos.pdf">
    <div class="document-download-text">
        <p>Item 14 - High Level Output Specification (HLOS) - TfL proposals for London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 654KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item15-crossrail-transition-march-17.pdf">
    <div class="document-download-text">
        <p>Item 15 - Crossrail Transition Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item16-elizabeth-line-pt1.pdf">
    <div class="document-download-text">
        <p>Item 16 - Elizabeth Line - Increasing Service Frequency</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item17-role-profiles.pdf">
    <div class="document-download-text">
        <p>Item 17 - Role Profiles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 117KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item18-csopp-summary.pdf">
    <div class="document-download-text">
        <p>Item 18 - Report of the meeting of the Customer Service and Operational Performance Panel held on 2 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item19-pic-summary.pdf">
    <div class="document-download-text">
        <p>Item 19 - Report of the meeting of the Programmes and Investment Committee held on 8 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item20-finance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 20 - Report of the meeting of the Finance Committee held on 13 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item21-aac-summary.pdf">
    <div class="document-download-text">
        <p>Item 21 - Report of the meeting of the Audit and Assurance Committee held on 14 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170329-item22-sshr-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 22 - Report of the meeting of the Safety, Sustainability and Human Resources Panel held on 21 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    19 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-agenda.pdf">
    <div class="document-download-text">
        <p>Board Agenda 19 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item03-minutes-draft-20170329.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 29 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report, Period 2 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 399KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item07-outturn-and-accounts.pdf">
    <div class="document-download-text">
        <p>Item 7 - Review of 2016/17 Outturn and Accounts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 421KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item08-customer-and-operational-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 8 - Customer and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item09-strategic-risk-management-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 9 - Strategic Risk Management and Assurance Annual Report 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item10-draft-mts-response.pdf">
    <div class="document-download-text">
        <p>Item 10 - TfL's response to the public consultation on the Draft Mayor's Transport Strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item11-tph-licence-fees-delegation.pdf">
    <div class="document-download-text">
        <p>Item 11 - Taxi and Private Hire Fees - Late Item</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item12-modern-slavery-statement.pdf">
    <div class="document-download-text">
        <p>Item 12 - Modern Slavery Statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item13-elizabeth-line.pdf">
    <div class="document-download-text">
        <p>Item 13 - Elizabeth Line Operations and Transition Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item14-crl-neds.pdf">
    <div class="document-download-text">
        <p>Item 14 - Crossrail Limited &#45; Appointment of Non-executive Directors</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item15-garden-bridge.pdf">
    <div class="document-download-text">
        <p>Item 15 - Garden Bridge - Hodge Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 819KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item16-review-of-effectiveness.pdf">
    <div class="document-download-text">
        <p>Item 16 - Review of Board Effectiveness</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item17-sshr-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 17 - Report of the meeting of the Safety, Sustainability and Human Resources Panel held on 26 June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item18-pic-summary.pdf">
    <div class="document-download-text">
        <p>Item 18 - Report of the meeting of the Programmes and Investment Committee held on 28 June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item19-finance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 19 - Report of the meeting of the Finance Committee held on 5 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item20-aac-summary-updated.pdf">
    <div class="document-download-text">
        <p>Item 20 - Report of the meeting of the Audit and Assurance Committee held on 13 July 2017 (updated)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-item21-csopp-summary-updated.pdf">
    <div class="document-download-text">
        <p>Item 21 - Report of the meeting of the Customer Service and Operational Performance Panel held on 13 July 2017 (updated)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    19 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170719-agenda-final-web.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item03-minutes-20170719-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board Held on 19 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 395KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item07-customer-and-operational-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Customer and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.50MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item08-annual-report-and-accounts.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Annual Report and Statement of Accounts for the Year Ended 31 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item09-delegations.pdf">
    <div class="document-download-text">
        <p>Item 9 - Delegations to Committees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item10-tfl-international-final.pdf">
    <div class="document-download-text">
        <p>Item 10 - TfL International</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item11-elizabeth-line-final.pdf">
    <div class="document-download-text">
        <p>Item 11 - Elizabeth Line Operations and Transition Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item12-remcom-report-final.pdf">
    <div class="document-download-text">
        <p>Item 12  - Report of the Meeting of the Remuneration Committee Held on 19 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20170919-item13-fin-com-report-final.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the Meeting of the Finance Committee held on 15 September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    09 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item03-draft-minutes-200919.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 19 September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 385KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item07-customer-op-perf-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Customer Service and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item08-business-plan-delegation.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Business Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item09-elizabeth-line.pdf">
    <div class="document-download-text">
        <p>Item 9 - Elizabeth Line Operational Readiness and Integration</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 602KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item10-effectiveness-review.pdf">
    <div class="document-download-text">
        <p>Item 10 - Board Effectiveness Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item11-standing-orders.pdf">
    <div class="document-download-text">
        <p>item 11 - Standing Orders and Terms of Reference Updates</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 633KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item12-sshr-panel-report.pdf">
    <div class="document-download-text">
        <p>item 12 - Report of the meeting of the Safety, Sustainability and Human Resources Panel held on 28 September 2017 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item13-remcom-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Remuneration Committee held on 2 October 2017 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item14-aac-summary.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Audit and Assurance Committee held on 11 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item15-programmes-and-investment-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 15 - Report of the meeting of the Programmes and Investment Commitee held on 13 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item16-finance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 16 - 	Report of the meetings of the Finance Committee held on 27 September and 18 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20171109-item17-customer-service-and-op-performance-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 17 - Report of the meeting of the Customer and Operational Performance Panel held on 1 November 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board papers from 2017";}
        
            
        


 