
    
  



@{ViewBag.Title = "2018 Board papers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/board-papers/2018-board-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers">Board papers</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></li>
                
            
            
                <li><span class="last-breadcrumb">2018 Board papers</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>2018 Board papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    30 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item03-20171109-minutes-draft.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 9 November 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item05-tram-overturning-at-sandilands.pdf">
    <div class="document-download-text">
        <p>Item 5 - 	Tram Overturning at Sandilands, Croydon on 9 November 2016 -  Update </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item06-hse-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Health, Safety and Environment Annual Report 2016/17 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item07-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item08-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 8 - Finance Report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 400KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item09-customer-ops-perf-report.pdf">
    <div class="document-download-text">
        <p>Item 9 - Customer and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item10-elizabeth-line.pdf">
    <div class="document-download-text">
        <p>Item 10 - Elizabeth Line Operational Readiness and Integration </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 729KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item11-iipag-terms-of-reference.pdf">
    <div class="document-download-text">
        <p>Item 11 - Independent Investment Programme Advisory Group (IIPAG) - Terms of Reference</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 153KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item12-sshr-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 12 - Report of the Meeting of the Safety, Sustainability and Human Resources Panel held on 22 November 2017 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item13-finance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Finance Committee held on 5 December 2017 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item14-programmes-and-investment-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Programmes and Investment Committee held on 12 December 2017 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item15-aac-report.pdf">
    <div class="document-download-text">
        <p>item 15 - Report of the meeting of the Audit and Assurance Committee held on 14 December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180130-item16-customer-service-and-op-performance-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 16 - Report of the meeting of the Customer Services and Operational Performance Panel held on 24 January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    20 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item03-minutes-20180130-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 30 January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 -  Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report - Period 11, 2017-18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 394KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item07-draft-budget.pdf">
    <div class="document-download-text">
        <p>Item 7 - Draft TfL Budget 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item08-scorecard.pdf">
    <div class="document-download-text">
        <p>Item 8 - 2018/19 TfL Scorecard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item-09-tfl-prudential-indicatorsi2018-19-to-2020-21.pdf">
    <div class="document-download-text">
        <p>Item 9 - TfL Prudential Indicators 2018/19 to 2020/21</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 112KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item10-treasury-management-strategy-2018-19.pdf">
    <div class="document-download-text">
        <p>Item 10 - Treasury Management Strategy 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 321KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item11-treasury-management-policies.pdf">
    <div class="document-download-text">
        <p>Item 11 - Treasury Management and Derivative Investments Policies</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item12-crossrail-update.pdf">
    <div class="document-download-text">
        <p>Item 12 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item-13-report-of-the-meeting-of-the-programmes-and-investment-committee.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Programmes and Investment Committee held on 21 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item-14-report-of-the-meetings-of-the-safety-sustainability-and-human-resources-panel.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Safety, Sustainability and Human Resources Panel held on 28 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item-15-report-of-the-meeting-of-the-finance-committee.pdf">
    <div class="document-download-text">
        <p>Item 15 - Report of the meeting of the Finance Committee held on 5 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180320-item16-summary-audit-and-assurance-committee.pdf">
    <div class="document-download-text">
        <p>Item 16 - Report of the meeting of the Audit and Assurance Committee held on 6 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    23 May
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item03-minutes-20180320.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 20 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item04-matters-arising-and-delegated-authority.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising,Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item06-finance-report-p13.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report - Preliminary Reults for the year ended 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 382KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item07-mts-update.pdf">
    <div class="document-download-text">
        <p>Item 7 - Annual Update on the Mayor's Transport Strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 266KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item08-crossrail.pdf">
    <div class="document-download-text">
        <p>Item 8 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 961KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item09-board-appointments.pdf">
    <div class="document-download-text">
        <p>Item 9 - Board Appointments </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item10-review-of-effectiveness.pdf">
    <div class="document-download-text">
        <p>Item 10 - Board Effectiveness Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180523-item11-programmes-and-investment-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 11 - Report of the meeting of the Programmes and Investment Committee held on 16 May 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    25 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item03-minutes-20180523-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Board held on 23 May 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item04-matters-arising-updated.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item05-commissioner-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item06-annual-report-and-accounts.pdf">
    <div class="document-download-text">
        <p>Item 6 - TfL Annual Report and Statement of Accounts for the Year Ended 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item07-qpr-q1.pdf">
    <div class="document-download-text">
        <p>Item 7 - Quarterly Performance Report, Quarter 1, 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item08-customer-service-operational-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 8 - Customer and Operational Performance Report, Quarter 4, 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item09-slavery-and-human-trafficking-statement.pdf">
    <div class="document-download-text">
        <p>Item 9 - Slavery and Human Trafficking Statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item10-crossrail-update.pdf">
    <div class="document-download-text">
        <p>Item 10 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item11-board-appointments.pdf">
    <div class="document-download-text">
        <p>Item 11 - Board Appointments</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item12-csop-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 12 -	Report of the meeting of the Customer Service and Operational Performance Panel held on 6 June 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item13-aac-committee.pdf">
    <div class="document-download-text">
        <p>Item 13 - Report of the meeting of the Audit and Assurance Committee held on 7 June 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item14-remuneration-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 14 - Report of the meeting of the Remuneration Committee held on 13 June 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item15-sshr-panel-report.pdf">
    <div class="document-download-text">
        <p>Item 15 - Report of the meeting of the Safety, Sustainability and Human Resources Panel held on 20 June 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item16-programmes-and-investment-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 16 - Report of the meeting of the Programmes and Investment Committee held on 3 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180725-item17-finance-committee-report.pdf">
    <div class="document-download-text">
        <p>Item 17 - Report of the meeting of the Finance Committee held on 4 July 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    19 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20180919-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>Board 19 September 2018 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.17 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    24 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20181024-agenda-papers-web.pdf">
    <div class="document-download-text">
        <p>Board 24 October 2018 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 214KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    21 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20181121-agenda-papers-public-web.pdf">
    <div class="document-download-text">
        <p>Board 21 November 2018 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 22.05 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/board-papers" class="heading">
                    <h2 id="sub-menu-heading">Board papers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/board-papers-past-years">Board papers - past years</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2019">2019 Board papers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2018-board-papers">2018 Board papers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2017-board-papers">2017 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2016-board-papers">2016 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2015-board-papers">2015 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2014-board-papers">2014 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2013-board-papers">2013 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2012-board-papers">2012 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2011-board-papers">2011 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2010-board-papers">2010 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2009-board-papers">2009 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2008-board-papers">2008 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2007-board-papers">2007 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2006-board-papers">2006 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2005-board-papers">2005 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2004-board-papers">2004 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2003-board-papers">2003 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2002-board-papers">2002 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2001-board-papers">2001 Board papers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/board-papers/2000-board-papers">2000 Board papers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Board paper from 2018";}
        
            
        


 