


@{ViewBag.Title = "BT and Cable & Wireless fined &pound;5,000 for breaking roadworks rules";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>BT and Cable & Wireless fined &pound;5,000 for breaking roadworks rules</h1>
        <div class="content-page-press-release">
        19 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has successfully prosecuted BT and Cable & Wireless for a spate of recent roadwork offences across London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Roadworks offences by any utility company cause significant disruption to all road users, as well as having a knock on effect to local businesses across London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director for Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Roadworks offences by any utility company cause significant disruption to all road users, as well as having a knock on effect to local businesses across London
                            
                        </p>
                    </div>
                
            
            
            <p>The companies were fined over &pound;5,000 for a number of infringements on the Transport for London Road Network (TLRN). </p>
<p>They included working without a permit, breach of permitting conditions and failure to correctly notify TfL promptly of works taking place. </p>
<p>BT pleaded guilty to six counts at Westminster Magistrate's Court on 18 January, while Cable &amp; Wireless pleaded guilty to two offences.</p>
<ul>
<li>BT was prosecuted for infringements at various locations on TfL roads including: Stamford Hill, Marylebone Road, Blackwall Tunnel, Eastern Avenue and Gunnersbury Lane. They were fined a total of &pound;3,765 and ordered to pay TfL's costs of &pound;5,050</li>
<li>Infringements by Cable &amp; Wireless occurred on Lambeth Palace Road and Great Eastern Street. They were fined a total of &pound;1,000 and ordered to pay TfL costs of &pound;2,815</li></ul>
<p>The court action is the latest in a number of court cases where TfL has prosecuted utility companies for badly managed roadworks. </p>
<p>More than &pound;20,000 has been won in the last 12 months against utility companies for eight separate offences, with TfL recovering around &pound;12,100 in costs from these.</p>
<p>This included &pound;2,000 from National Grid Gas, the highest fine for a utility company by TfL over the last twelve months. </p>
<p>Leon Daniels, Managing Director for Surface Transport said: 'Roadworks offences by any utility company cause significant disruption to all road users, as well as having a knock on effect to local businesses across London. </p>
<p>'Those companies should be aware that we will continue to prosecute where infringements occur; and we will continue to work to further reduce roadworks disruption across London, helping to make journeys for pedestrians, cyclists and road users smoother for all.'</p>
<p>
<hr>
<strong>Notes to Editor:</strong>
<p>
<ul>
<li>Under the New Roads and Streetworks Act 1991, the Traffic Management Act 2004 and the London Permit Scheme, utility companies and highways authorities are required to seek permits and provide notification for works that are carried out on the TLRN. These requirements are in place to assist TfL in co-ordinating road works and reducing traffic disruption across London, and were contravened by the activities of BT and Cable &amp; Wireless</li>
<li>&nbsp;Londoners can report disruptive or badly managed roadworks by visiting <a href="http://www.tfl.gov.uk/roadworks">tfl.gov.uk/roadworks</a>, or by using a GPS enabled mobile device to tweet &#64;report_it with the hashtag #roadworks. Enquiries will be sent directly to the highway authority responsible, ensuring that direct and swift action can be taken</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The companies were fined over &pound;5,000 for a number of infringements on the Transport for London Road Network (TLRN). They included working without a permit, breach of permitting conditions and failure to correctly notify TfL promptly of works taking";}
        
        


 