


@{ViewBag.Title = "Clean sweep at coach and bus stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Clean sweep at coach and bus stations</h1>
        <div class="content-page-press-release">
        18 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has awarded a greener cleaning contract for Victoria Coach Station and<BR>dozens of bus stations in the Capital.
        
    </div>



 <div class="on-this-page">
<p>The four-year agreement with ISS Facility Services will provide high levels of cleanliness and hygiene as well as environmental benefits. </p>
<p>As part of the contract six electric Renault Kangoo vans will be introduced, the first fleet of its kind in the UK. </p>
<p>They will be charged using Source London, the Capital's largest publicly accessible electric vehicle charging network.</p>
<p>The change is projected to cut carbon dioxide (CO2) by 5.3 tonnes over four years and help improve air quality. </p>
<p>An additional 30 diesel vehicles used on the contract will meet Euro emission standards as well as achieving low CO2 levels. </p>
<p>ISS will be responsible for cleaning passenger and staff areas including seating and toilets, glazing, road sweeping, clearing oil spillages and maintaining plant life.</p>
<p>Mike Weston, Operations Director for Surface Transport, said: 'TfL is committed to deliver high levels of cleanliness and along with that,&nbsp;this new contract is set to help our wider efforts to improve air quality and cut carbon emissions.</p>
<p>'Having already taken significant steps to green our own support fleet, we are encouraging all our suppliers to achieve the same challenging standards combining sustainability with value for money to reduce the environmental impacts of operations as much as possible. </p>
<p>This new cleaning contract with ISS is a fantastic example.'</p>
<p>For more go to tfl.gov.uk</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The four-year agreement with ISS Facility Services will provide high levels of cleanliness and hygiene as well as environmental benefits. As part of the contract six electric Renault Kangoo vans will be introduced, the first fleet of its kind in the UK.";}
        
        


 