


@{ViewBag.Title = "DLR launches a new three-car route and enhanced timetable to meet Games-time demand";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR launches a new three-car route and enhanced timetable to meet Games-time demand</h1>
        <div class="content-page-press-release">
        30 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From today longer and more frequent trains are in service on the Docklands Light Railway (DLR) to help meet increasing demand and set the network on course for the London 2012 Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a significant capacity increase and particularly good news for people in the boroughs of Greenwich and Newham"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Docklands Light Railway Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a significant capacity increase and particularly good news for people in the boroughs of Greenwich and Newham
                            
                        </p>
                    </div>
                
            
            
            <p>New three-car trains will run on the popular Bank to Woolwich route to carry an extra 1500 passengers per hour in the morning peak - a 50 per cent increase in capacity. </p>
<p>Services will also be more frequent across the whole DLR network during the evening peak. </p>
<p>This will enable it to carry 4,000 extra passengers per hour, or 12,000 additional passengers over the three hour peak period. </p>
<p>On the Bank to Woolwich branch trains will run every eight minutes rather than every nine minutes. </p>
<p>The same frequency improvement will be seen between Tower Gateway and Beckton and between Stratford International and Woolwich Arsenal. </p>
<p>On the Bank to Lewisham route, frequency will increase from one train every 4.5 minutes to one every 4 minutes. This will mirror the frequencies already introduced in the morning peak.</p>
<p>DLR Director Jonathan Fox said: 'Woolwich and City Airport route passengers received a boost last year when we provided a through service to Stratford International during peak hours - we are now improving the DLR service again with 50 per cent more capacity direct to the City of London. </p>
<p>'This is a significant capacity increase and particularly good news for people in the boroughs of Greenwich and Newham.</p>
<p>'It leaves the DLR in an excellent position ready to step up and meet the challenge of the 2012 Games. The extra capacity provided enables us to test our capability between now and July so the network will be poised ready to deliver trains when and where they are needed during the events.'</p>
<p>
<hr>
<strong>Notes to Editors:</strong></p>
<ul>
<li>DLR introduced a new service from Woolwich Arsenal-Stratford International in the peaks last year and is now adding further capacity on the route</li>
<li>On weekdays Bank to Woolwich Arsenal trains will be scheduled as three-car trains, with two-car trains scheduled at the weekend</li>
<li>All routes in the morning peak are now 3-car except Stratford to Canary Wharf and Stratford International to Woolwich Arsenal routes</li>
<li>Around &pound;6.5bn has been invested in upgrading and extending transport links and this will enable spectators to get to and from the Games each day and ensure we will keep London moving</li>
<li>This is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the 2012 Games</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New three-car trains will run on the popular Bank to Woolwich route to carry an extra 1500 passengers per hour in the morning peak - a 50 per cent increase in capacity. Services will also be more frequent across the whole DLR network during the evening";}
        
        


 