


@{ViewBag.Title = "Free London 2012 support package for freight operators and their customers  ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Free London 2012 support package for freight operators and their customers  </h1>
        <div class="content-page-press-release">
        12 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 200 free Transport for London (TfL) workshops, both inside and outside the Capital, to help hauliers and their customers in transport 'hot spots' keep running smoothly during the Games.
        
    </div>



 <div class="on-this-page">
<p>Guidance and support offered to London's major wholesale markets. Team of advisors to visit retailers, pubs and restaurants in transport 'hot spot' areas to offer face-to-face advice.</p>
<p>
<hr>
</p>
<p>A widespread support package to help freight operators and their customers continue to operate effectively during the London 2012 Games was announced today by TfL.</p>
<p>At the centre of the package, known as TfL's Freight Advice Programme, are 230 free workshops aimed at businesses in Games transport 'hot spot' areas which receive freight deliveries, and those companies that deliver to them.</p>
<p>The free workshops, which aim to attract businesses from across all sectors and will help them to plan and prepare, start on 30 January and run until the end of April. </p>
<p>Around 160 sessions will be held in London and 70 will be held outside the Capital, in cities including Manchester, Birmingham, Cardiff and Southampton which have a significant concentration of businesses supplying London. </p>
<p>Other areas which also generate a large number of freight movements into and out of the Capital will also be targeted, including Slough, Northampton, Chelmsford and Milton Keynes.</p>
<p>To apply for a free workshop place, businesses should visit tfl.gov.uk/2012 where there is a full list of workshop dates, times and locations.</p>
<p>As part of the Freight Advice Programme, TfL is also offering free guidance and support to London's major wholesale markets: New Spitalfields, New Covent Garden, Billingsgate, Smithfield, and Western International - with Borough Market also receiving advice.</p>
<p>Starting this month, each market will be assigned an advisor who will ensure that tenants, customers and suppliers are aware of the transport challenges of the Games and are given support to put the necessary plans in place to help them continue to run smoothly during the summer.</p>
<h2>Transport challenges</h2>
<p>In addition, a team of advisors will visit small and medium sized enterprises (SMEs) including retailers, pubs and restaurants in Games transport 'hot spot' areas - such as Whitehall and St James' in central London and Stratford Town Centre - to offer them face-to-face support.</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Ensuring that London's supermarkets, restaurants and pubs remain stocked this summer will be critical to the overall success of the London 2012 Games. </p>
<p>'Businesses based in transport 'hot spot' areas that make or receive freight deliveries need to start planning now to ensure they continue to operate effectively - and profitably - next summer.</p>
<p>'Our new programme of workshops and tailored advice for freight operators and their customers greatly enhances the support package already on offer to help businesses of all sizes stay one step ahead during the Games. </p>
<p>'I'd like to urge all businesses in affected areas, and the freight companies that deliver to them, to take advantage of the hundreds of free workshops starting this month and log on to tfl.gov.uk/2012 to book a place.'</p>
<p>Sarah Bell, lead Traffic Commissioner for Olympic Delivery, said: 'The Traffic Commissioners for Great Britain are delighted that TfL are offering these seminars and urge operators to take advantage of the opportunity to assist their preparation and planning for the commercial opportunities that the Games will bring. </p>
<p>'The very experienced TfL freight team have worked closely with Traffic Commissioners, the trade associations and other partners to produce a wealth of information in a user-friendly format. </p>
<p>'The seminars will offer a practical insight into how best to use that information and ask questions directly relevant to particular business sectors.'</p>
<h2>Practical advice</h2>
<p>Natalie Chapman, the Freight Transport Association's Head of Policy for London, said: 'It is critical that the supply chain is fully prepared for the massive challenges it faces when the largest event in the world hits the Capital next summer. </p>
<p>'These free workshops will supplement existing guidance to arm operators with the advice and information they need to deliver a successful Games for London.'</p>
<p>Kate Gibbs at the Road Haulage Association said: 'We welcome this move by TfL to help haulage operators at such a critical time and we shall certainly be urging our members to take advantage of the practical advice and information available. </p>
<p>'An effective, cost effective and efficient transport network is crucial to the success of the Games; this initiative will ensure that operators are fully prepared.'</p>
<p>Greg Lawrence, Chairman of The Smithfield Market Tenants' Association, said: 'The London 2012 Games present a big challenge for Smithfield Market but, as the largest wholesale meat and poultry market in the UK, we are committed to working closely with TfL and others to ensure that traders can continue to provide the finest products to a wide range of customers across the Capital and beyond. </p>
<p>'It is clear that certain adjustments and a degree of flexibility will be needed to achieve this but we are confident that by starting to plan for the Games period now we will be well placed to continue to provide the excellent service that we pride ourselves on.'</p>
<p>Helen Evans, Head of Business Support at New Covent Garden Market, said: 'As the largest fruit, vegetable and flower market in the UK, we recognise that the London 2012 Games will offer unrivalled opportunities but there will also be significant challenges for the many small and medium sized businesses that trade from our site. </p>
<p>'TfL has been very proactive in contacting us with tailored, site-specific advice to ensure we are prepared for the transport challenges that the Games will present and can continue to supply London's leading chefs, florists, restaurants, hotels and hospitals with first class food and flowers throughout what will be a very busy summer.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>A full list of the 230 TfL workshop dates, times and locations is available at tfl.gov.uk/2012. Businesses should email <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk</a> to book a place</li>
<li>The workshops, which are part of TfL's Freight Advice Programme, support the ongoing work by London 2012 and TfL in offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and make and receive important deliveries during the London 2012 Games</li>
<li>TfL is working closely with businesses and London 2012 partners to minimise the impact of the Games on the Capital's road network. However, it is essential that freight operators plan in advance to ensure they understand the transport challenges of the 2012 Games, including the Olympic Route Network, and take steps to reduce, re-route, re-time or re-mode deliveries wherever possible. Alongside providing road 'hot spot' maps for each day of the Games, and data which allows operators to check whether individual postcodes are affected, TfL has also developed a draft code of practice that contains practical measures that businesses making or receiving out-of-hours deliveries can take to minimise noise. The information is available at tfl.gov.uk/2012 </li>
<li>Deliveries and collections make up 17 per cent of all traffic in London, rising to 25 per cent in central London, with 281,000 freight journeys made in the Capital between Monday and Friday each week<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Guidance and support offered to London's major wholesale markets. Team of advisors to visit retailers, pubs and restaurants in transport 'hot spot' areas to offer face-to-face advice.A widespread support package to help freight operators and their";}
        
        


 