


@{ViewBag.Title = "Hammersmith flyover to reopen for cars and light traffic as vital repair works continue";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith flyover to reopen for cars and light traffic as vital repair works continue</h1>
        <div class="content-page-press-release">
        12 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Flyover to reopen one lane in either direction for cars, vans and other light traffic. Transport for London (TfL) continues to work round the clock to reopen bridge to all traffic over the next four months.
        
    </div>



 <div class="on-this-page">
<p>Drivers advised to continue to plan routes carefully and avoid area if possible.</p>
<p>
<hr>

<p>
<p>TfL will be able to re-open one lane in each direction of the Hammersmith Flyover to cars, vans and other light vehicles, before tomorrow morning's rush hour, following confirmation from structural engineers and leading independent experts that the flyover is now safe to take light traffic.</p>
<p>One lane of light traffic will now be permitted in each direction, while work continues to strengthen key sections of the flyover. </p>
<p>Traffic restrictions will be enforced by a two-metre (6'6") width restriction at either end of the flyover to prevent large vehicles such as Heavy Goods Vehicles (HGVs) and coaches from crossing.</p>
<p>The structural repair works, which TfL now expects to take around four months to complete, will focus on strengthening six of the 16 spans of the structure to ensure that they can carry full traffic loading by the 2012 Games.</p>
<p>The advice for motorists as this work takes place is to consider avoiding the area if possible as the flyover is not fully open they should. </p>
<p>TfL will have signage and traffic management measures in place to help reinforce that.</p>
<p>Once these repair works, which will see new cables installed within the structure to strengthen the flyover, are completed, TfL will be able to reopen the flyover to all traffic, well ahead of the London 2012 Games.</p>
<p>Following the London 2012 Games, TfL will return to the structure to strengthen the remaining ten spans of the flyover, as well as carry out additional work to re-waterproof the entire road deck to complete the permanent repair.&nbsp; </p>
<p>This work is expected to take place in a way that will allow as much traffic as possible to use the flyover during the works.</p>
<p>Boris Johnson, Mayor of London, said: 'I made it very clear the Hammersmith Flyover should not be closed for one minute longer than it has to be and this partial reopening will provide some relief for the thousands of motorists and local people whose lives have been disrupted. </p>
<p>'I can assure those people that I will ensure the team continues to work tirelessly in order to get this vital structure fully operational as soon as possible.'</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: 'Our engineers, contractors and suppliers have worked day and night during the Christmas period and beyond to enable us to partially reopen the flyover as quickly as possible. </p>
<p>'This should significantly reduce the traffic disruption many thousands of drivers have been experiencing since the flyover closed, and means that work to fully reopen the flyover will be completed well before the London 2012 Games.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Over the past two years, TfL has been carrying out detailed monitoring inside the unique flyover, which was built in 1961 and transferred to TfL's stewardship in 2000. In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the concrete structure in place 
<li>Until recently it was thought that the structure had a number of years before major repair work would need to be undertaken, but recent monitoring results showed that repair work was needed earlier than anticipated.&nbsp;Then, in the week prior to Christmas, further deterioration of the cables was found - leading TfL to take the decision to keep the flyover closed to carry out more detailed assessment of the complete structure </li>
<li>While the essential structural repairs are being carried out to the Hammersmith flyover, some overnight closures to the flyover may be required to allow TfL to carry out specific elements of the works safely. TfL will work with Hammersmith &amp; Fulham council to ensure that these are properly coordinated to minimise any potential disruption that the closures could cause</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Drivers advised to continue to plan routes carefully and avoid area if possible.TfL will be able to re-open one lane in each direction of the Hammersmith Flyover to cars, vans and other light vehicles, before tomorrow morning's rush hour, following";}
        
        


 