


@{ViewBag.Title = "Londoners invited to a 'winter wander' with free guided walks on Saturday 28 and Sunday 29 January 2012 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners invited to a 'winter wander' with free guided walks on Saturday 28 and Sunday 29 January 2012 </h1>
        <div class="content-page-press-release">
        23 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) are helping Londoners to shake off the winter blues on one of 51 free guided walks designed to help people explore the capital and walk to 2012 Games venues on foot.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These walks will help people put their best foot forward in the hands of expert guides who will share their enthusiasm and knowledge."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These walks will help people put their best foot forward in the hands of expert guides who will share their enthusiasm and knowledge.
                            
                        </p>
                    </div>
                
            
            
            <p>Known as Winter Wanders, the walks take place on Saturday 28 and Sunday 29 January on routes designed to show off the capital's changing landscape, including parks, rivers, canals, breathtaking open spaces and hidden places many Londoners may not yet have discovered. </p>
<p>Short city strolls and all day hikes are on offer, suitable for people of all ages and walking abilities. </p>
<p>Specially selected walks will connect some of the key Olympic and Paralympic Games venues, giving walkers the chance to see where some of the world's greatest sporting events will be staged this summer.</p>
<p>The Mayor wants London to become a city that is easier and more pleasurable to enjoy on foot, with many improvements being made such as creating more public spaces and enhancing existing ones, as well as improving walking routes and pedestrian signs. </p>
<p>The Mayor of London, Boris Johnson said: '2012 is an historic year for our city with a host of new sights and scenes cropping up for Londoners to enjoy. This is a great time to see these fantastic attractions before the curtain rises on the sporting spectaculars. </p>
<p>'These walks will help people put their best foot forward in the hands of expert guides who will share their enthusiasm and knowledge.'</p>
<p>The Winter Wanders weekend is organised by Walk England and funded by TfL. </p>
<p>The walks support the Mayor's vision to make London one of the most walking friendly cities in the world by 2015. </p>
<p>To find out more about the walks near you visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a></p>
<h2>Magnificent seven</h2>
<p>All walks start and finish either at, or are within easy reach of public transport terminals and explore sections of the city's seven most popular routes which are:</p>
<ul>
<li>Capital Ring Walk -15 easily walked sections combine to provide a 78 mile circular route around inner London - some of the attractions on this route include Eltham Palace, Richmond Park, Wimbledon Common, the Olympic Park and the Thames Barrier</li>
<li>Green Chain Walk - 50 miles of linked parks and open spaces that include&nbsp; Severndroog Castle, Crystal Palace Park and Oxleas Woods</li>
<li>Jubilee Walkway - 15 miles of path designed to connect London's key attractions and many of the city's most famous sights including Buckingham Palace, Trafalgar Square, Tower of London, Tower Bridge and St Paul's Cathedral</li>
<li>Lea Valley Walk - 18 miles of path following the river and canal in north east London, taking in Tottenham Marshes, Enfield Lock and Waltham Abbey</li>
<li>LOOP Walk (London Outer Orbital Path) - 152 miles of parks and paddocks including Hall Place, Wilberforce Memorial and Kenley Aerodrome</li>
<li>Thames Path Walk - 40 miles of level walks from Hampton Court Palace, through the heart of London to Erith Marshes. Sights include the Houses of Parliament, Albert Bridge, Syon Park and Kew Gardens</li>
<li>The Jubilee Greenway Walk- Marking The Queen's Diamond Jubilee - 60km of path connect all the central London Games&nbsp; venues including the O2 Arena, Greenwich Park, HorseGuards Parade, Hyde Park and Regent's Park</li></ul>
<p>Ben Plowden, Director of Surface Planning at TfL, said: 'London is a great place to explore on foot. We have been improving the city's walking environment with investment in our streets, with the creation of key walking routes and transforming the public realm to encourage more walking journeys.</p>
<p>'This weekend, we are giving people the opportunity to see London on foot under expert guide which we hope will also encourage Londoners to walk more in their everyday lives.'</p>
<p>Jim Walker, Walk England CEO, said: 'Don't wait for the daffodils to reach for your boots - join us at the end of January for a perfect way to meet new people, learn something about this great City and smell the first signs of spring.'<br></p>
<p>
<hr>
</p>
<p><strong>Notes to editor:</strong></p>
<ul>
<li>Over 612,000 walking maps, directions and audio guides are downloaded from Walk London's website annually resulting in more than 7 million people on the network each year</li>
<li>The Great Outdoors Programme will see &pound;355 million invested in more than 80 of the Capital's public spaces that will ensure London's streets, squares, parks and water spaces are appropriate for a world class city</li>
<li>For more information on TfL's walking programme, visit <a href="http://www.tfl.gov.uk/walking">tfl.gov.uk/walking</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Known as Winter Wanders, the walks take place on Saturday 28 and Sunday 29 January on routes designed to show off the capital's changing landscape, including parks, rivers, canals, breathtaking open spaces and hidden places many Londoners may not yet have";}
        
        


 