


@{ViewBag.Title = "London Overground passenger satisfaction soars following investment in capacity, trains and stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground passenger satisfaction soars following investment in capacity, trains and stations</h1>
        <div class="content-page-press-release">
        26 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground today confirms its position as one of the best performing railways in the UK, with a 92 percent approval rating in the latest national passenger survey, up from 85 percent in autumn 2010.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These high rates of passenger satisfaction are due to consistent, punctual operational performance with frequencies of at least 4 trains per hour across almost all the network."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Transport for London's Managing Director of London Rail and London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These high rates of passenger satisfaction are due to consistent, punctual operational performance with frequencies of at least 4 trains per hour across almost all the network.
                            
                        </p>
                    </div>
                
            
            
            <p>This record result follows a raft of investment in the service.</p>
<p>Today's findings show London Overground is the highest rated train operating company in London and the South East, followed by c2c which achieved 91 percent.</p>
<p>The average score in London and the South East was 83 percent.</p>
<p>Out of all 12 train operating companies in London and the South East, London Overground comes out on top for providing sufficient room for passengers to sit and stand, reflecting how highly customers value the extra capacity and other improvements the Mayor and TfL have invested in on London Overground routes.</p>
<p>Later this year, work to extend the line in South London and connect Clapham Junction with Surrey Quays and Dalston Junction will be complete, and the London Overground will orbit the entire city.</p>
<p>Mayor of London, Boris Johnson said: 'Passengers have spoken and these results show that our investment in the London Overground network is paying off. We are running more trains, carrying greater numbers of passengers and providing a more reliable service.' </p>
<h2>Passenger satisfaction</h2>
<p>Mike Brown, Transport for London's Managing Director of London Rail and London Underground, said: 'These high rates of passenger satisfaction are due to consistent, punctual operational performance with frequencies of at least 4 trains per hour across almost all the network.</p>
<p>'Where passengers have asked for more trains per hour, we have, where possible, provided that - the enhancement of the Richmond and Clapham to Stratford services being a case in point.</p>
<p>'Passengers are also showing their approval of our new, air-conditioned trains which have a more spacious layout, are fully accessible and easy to board and exit.'</p>
<p>In 2011, London Overground was the top performing train operator in the UK scoring an average of 95.77 per cent&nbsp;(of trains arriving on time) in Network Rail's national performance tables. </p>
<p>The National Passenger Survey was conducted by independent rail watchdog, Passenger Focus, and the results in full can be found at <a href="http://www.passengerfocus.org.uk/research">www.passengerfocus.org.uk/research</a> . </p>
<p>
<hr>
<strong>Notes to Editors:</strong>&nbsp; 
<p>
<ul>
<li>81 per cent of passengers were satisfied with the stations compared to 74 per cent in the last autumn survey </li>
<li>78 per cent of passengers were satisfied with station ticket buying facilities compared to 66 per cent in the last autumn survey </li>
<li>82 per cent of passengers were satisfied with the frequency of their trains compared with 74 per cent in the last autumn survey </li>
<li>&nbsp;83 per cent of passengers were satisfied with the punctuality of their trains compared with 76 per cent in the last autumn survey&nbsp;&nbsp;&nbsp;</li></ul>
<p>TfL has:</p>
<ul>
<li>Ensured London Overground provides a minimum of 4 trains per hour service across almost all of the network by funding extensive signalling upgrades </li>
<li>Made sure all stations are staffed while trains are running </li>
<li>Introduced a new fleet of 65 air-conditioned trains (57 of them with spacious, accessible walk through carriages) </li>
<li>Completed the East London Line extension which links Highbury &amp; Islington in north London with West Croydon in the south via the City</li></ul>
<p>Before TfL took over the management of the London Overground network in 2007, the railway carried 600,000 passengers per week. It now carries&nbsp;two million passengers per week </p>
<p>The London Overground East London Line Extension Phase 2 will connect Clapham Junction, Wandsworth Road, Clapham High Street, Denmark Hill, Peckham Rye, Queens Road Peckham, Surrey Quays and then all stations to Dalston Junction. It is due to be completed in December 2012 and will be the final link in the London Overground orbital network</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This record result follows a raft of investment in the service.Today's findings show London Overground is the highest rated train operating company in London and the South East, followed by c2c which achieved 91 percent.The average score in London and the";}
        
        


 