


@{ViewBag.Title = "Major campaign launched to help people 'Get Ahead of the Games' and keep London and the UK moving in 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major campaign launched to help people 'Get Ahead of the Games' and keep London and the UK moving in 2012</h1>
        <div class="content-page-press-release">
        30 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The UK Government, Mayor of London, London 2012 and the UK's transport networks today joined forces to launch a major new national campaign to encourage the travelling public to 'Get Ahead of the Games'.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We've been working with businesses for over a year now to help them prepare. It's time to start talking directly to those who live and work in affected areas, in London and across the UK. So plan your travel and 'Get Ahead of the Games'"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We've been working with businesses for over a year now to help them prepare. It's time to start talking directly to those who live and work in affected areas, in London and across the UK. So plan your travel and 'Get Ahead of the Games'
                            
                        </p>
                    </div>
                
            
            
            <p>The campaign aims to ensure London and the UK keep moving during 2012's busy and exciting summer of sport.</p>
<p>For over a year now, London 2012 and TfL have been working with businesses to ensure they have travel plans in place to keep on running and make the most of all the Games have to offer including an estimated &pound;750m of income from visitors to the capital.&nbsp;</p>
<p>With less than six months to go to the London 2012 Games, a new advertising campaign, website and social media channels will now communicate directly with the travelling public.</p>
<p>&nbsp;'Get Ahead of the Games' explains how, at certain times and in certain locations - the 'hotspots' - London and the UK's road and rail networks will be much busier than usual.&nbsp; </p>
<p>But by visiting <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> or following the &#64;GAOTG Twitter channel, people can receive the latest tips, travel information and advice on how to plan ahead and avoid the travel hotspots.</p>

<p>While centred on the capital, the London 2012 Games will be a celebration for the nation as a whole, with event venues across the country including Cardiff, Coventry, Eton Dorney, Glasgow, Manchester, Newcastle, and Weymouth and Portland.&nbsp;</p>
<p>The 'Get Ahead of the Games' campaign reflects this, raising awareness and offering alternative travel options to those in affected areas across the UK, alongside a specific focus on some of the busiest London hotspots.</p>
<p>The campaign will span online, radio, outdoor and national and regional newspapers, urging those in affected areas to plan ahead so they can reduce, reroute, retime or remode their journeys to avoid the hotspots at the busiest times.&nbsp;</p>

<h2>Three phases</h2>
<p>Split across three phases, London 2012 organisers expect the 'Get Ahead of the Games' adverts to be seen over a billion times by the great British public.</p>
<p>The first phase will focus on raising awareness of where and how transport will be affected at Games-time.</p>
<p>Phase two will demonstrate the alternative options available to avoid congestion, such as working at different times or locations, teleconferencing rather than travelling to meetings, or alternative modes of transport including walking and cycling where practical.&nbsp;</p>
<p>The final phase will encourage people to activate these options at Games-time, ensuring they can 'Get Ahead of the Games'.</p>
<p>In addition, the distinctive magenta coloured and London 2012 branded wayfinding and signage, which will be used to direct spectators around transport networks and from transport hubs to venues during this summer's Games, was unveiled for the first time today.&nbsp;</p>
<p>The launch of the 'Get Ahead of the Games' campaign and wayfinding and signage follows the completion of &pound;6.5bn of transport investment last summer, a year ahead of the Games.&nbsp;</p>
<p>New and upgraded roads, rails and stations are already delivering an early legacy of improved transport links and one from which London and the UK will continue to benefit for generations to come.</p>
<p>The Mayor of London, Boris Johnson said: 'A tremendous amount of planning has been put into ensuring that when the 2012 Games get underway the capital is able to get on with business, enjoy the festival atmosphere and make the most of this unique occasion. </p>
<p>'Businesses should be able to capitalise on the thousands of visitors and Londoners should be able to get on with their lives. This campaign is key to the preparation and planning that will help everyone in London to profit from what promises to be a remarkable summer.'</p>
<p>Transport Secretary, Justine Greening MP said: 'We can look forward to an exciting Olympics and the boost to jobs, business and tourism it brings. Millions of spectators will enjoy the Games and our roads and railways will be busier. That's why we have already invested &pound;6.5bn on improving transport links.</p>
<p>'It also makes sense for businesses and commuters to plan ahead so we can have a successful Olympics and reduce the impact on our transport network.&nbsp; The Government will lead the way, with staff working and travelling more flexibly during the Games.'</p>
<p>LOCOG Chair Sebastian Coe said: 'The scale of the Games is unprecedented - across both Games there will be 14,000 athletes, 7,000 technical officials, more than 20,000 media and 11m spectators.&nbsp;Our plans reflect this scale.&nbsp;The Olympic Route Network is a mass transit system which allows us to manage Games traffic and get those involved where they need to be and the campaign we're talking about today will give people all the information they need to plan their journeys this summer.&nbsp; </p>
<p>'Many thousands of businesses are already working to help their employees get to and from work this summer and London's residents can now do the same.&nbsp; Success depends on all of us doing our bit to keep London and the UK moving.'</p>

<h2>Planning and preparation</h2>
<p>London's Transport Commissioner, Peter Hendy said: 'We've got two objectives, to host a great London 2012 Games and keep London and the UK moving.&nbsp; On the busiest days, we expect around an additional three million journeys on the capital's transport networks at Games-time.</p>
<p>'We've been working with businesses for over a year now to help them prepare. It's now time to start talking directly to those who live and work in affected areas, in London and across the UK.&nbsp;So check out where the hotspots are, plan your travel and 'Get Ahead of the Games' this summer.'</p>
<p>Paralympian and TfL Board Member, Baroness Tanni Grey-Thompson said: 'I know from past experiences how vitally important an efficient transport infrastructure is to the athletes taking part in the London 2012 Games.</p>
<p>'Just as the athletes themselves have planned their training for the Games, I urge everyone to start thinking and planning their travel needs around Games time and to 'Get Ahead of the Games'.'</p>
<p>Olympics Minister, Hugh Robertson MP said:&nbsp;'London's transport improvements are complete and ready for London 2012 and we are confident that we will cope with the increased demand at Games time. However, with a little forward planning and preparation, people can minimise the risk of disruption to their journeys.'</p>
<p>The Olympic Delivery Authority was given responsibility for creating a transport plan for London 2012. Its Chief Executive, Dennis Hone said: 'We have invested millions to extend railway lines, improve stations, and add new carriages, platforms, lifts and bridges. We have worked with Transport for London, rail companies and bus operators to help make their services meet the demands of the Games. </p>
<p>'We have developed a park and ride and coach network for spectators. This is the final piece of the jigsaw - helping keep the UK and the travelling public on the move this summer.'</p>
<p>Network Rail Chief Executive, David Higgins said: 'Our job during Games time is to provide smooth, seamless journeys for spectators travelling to and from Olympic and Paralympic venues, whilst keeping millions of people moving across Britain each day. </p>
<p>'A huge amount of work has gone into planning at our stations, such as the landmark new King's Cross, to make journeys easier and to give passengers useful, clear travel information.'</p>
<p>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Further information and advice will be added to the Get Ahead of the Games website as it becomes available between now and the London 2012 Games </li>
<li>&pound;6.5 billion has been invested in upgrading and extending transport links to increase capacity and improve services across London and the UK. This is already providing an early legacy of better transport options, benefitting millions of people and supporting economic development for generations to come.&nbsp;Improvements include:&nbsp; 
<ul>
<li>&nbsp;50 per cent&nbsp;increase in DLR capacity with line extended to Woolwich and Stratford International </li>
<li>An upgraded Jubilee line, delivering more frequent and reliable services </li>
<li>Extra capacity on the Central line </li>
<li>Refurbished and extended London Overground services on the East London and North London lines </li>
<li>Upgrades to national rail services on the Lea Valley and Great Eastern lines </li>
<li>Upgraded traffic signals and junctions on the ORN, so traffic runs smoothly </li>
<li>King's Cross-St Pancras and Stratford stations essentially rebuilt and expanded, with step-free access and extra capacity </li>
<li>Southfields and Green Park, a vital accessibility hub, step-free ahead of the Games </li>
<li>Improved walking and cycling routes serving the Olympic Park </li>
<li>Barclays Cycle Hire scheme will reach Stratford by 2012</li></ul></li>
<li>Transport operators will also enhance services at Games-time, including: 
<ul>
<li>Tube, DLR and London Overground services to run one hour later than usual, with last trains leaving central London and key venues around 01:30am </li>
<li>Additional rail services across UK with special flexible ticketing arrangements </li>
<li>Games-time Javelin train service from St Pancras to the Olympic Park, with up to 8-10 trains per hour </li>
<li>Around 200 extra buses operating in London </li>
<li>Special Park &amp; Ride direct coach services to venues </li>
<li>Extra staff and volunteers to provide information and advice across London and UK transport networks </li>
<li>Extra Thames river services at certain times and places</li></ul></li>
<li>London 2012 and TfL have provided free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. Four hundred major companies, employing more than half a million people, have already benefited from tailored, site specific advice, around a further 500 businesses employing 200 people or less have already attended area based workshops, while around 100 companies employing more than 200 people at multiple locations have attended or will be attending themed workshops to assist them </li>
<li>The Olympic Route Network (ORN) will come into operation a couple of days before the Olympic Games and will be removed as soon as possible once the Olympics are over. It will not be in operation again until a couple of days ahead of the Paralympic Games, and will be removed as soon as possible after the Paralympics have finished. General traffic can, with the exception of Birdcage Walk, Constitution Hill and The Mall, use the entire 109 mile ORN (which makes up just one per cent of the London's road network). Only one third of the ORN - 30 miles - will have Games Lanes, which are only implemented where more than one lane is available, and which are open to the Games family - the media (who make up the largest element of the Games family), athletes, officials, Games workers, sponsors and IOC members. To keep traffic moving along the routes some temporary traffic changes will be necessary. These changes might include different signal timings, side road closures or the suspension of parking, loading and waiting bays. The ORN is necessary in order to get all athletes, officials and the media to their Games events on time, and has been a feature of all Host Cities contracts with the IOC since the Atlanta Games in 1996. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The campaign aims to ensure London and the UK keep moving during 2012's busy and exciting summer of sport.For over a year now, London 2012 and TfL have been working with businesses to ensure they have travel plans in place to keep on running and make the";}
        
        


 