


@{ViewBag.Title = "Mayor on site as work begins to strengthen Hammersmith Flyover";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor on site as work begins to strengthen Hammersmith Flyover</h1>
        <div class="content-page-press-release">
        06 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London, Boris Johnson, visited the A4 Hammersmith flyover today to inspect work being carried out to repair one of the most vital stretches of road in the capital as soon as possible.</p>
<p>The complex flyover was forced to close due to water damage that has corroded and weakened the cables that give the bridge its strength. </p>
<p>It had been thought that it would be up to ten years before any major work was required on the flyover, however recent maintenance checks showed work would be required much earlier than anticipated.</p>
<p>A detailed investigation was launched immediately and a team of 80 Transport for London (TfL)&nbsp;engineers, contractors, and leading structural engineering experts have been working nonstop on site and within the structure throughout the Christmas and New Year period.</p>
<p>The engineers have inserted cameras into the structure of the flyover at 100 different locations to assess key sections of the cables it contains. </p>
<p>Today they told the Mayor that investigations of the extent of the damage to those cables must continue for a further week before engineers will be in a position to decide whether it is strong enough to allow its reopening even to light traffic.</p>
<p>However they confirmed that preparatory work can begin ahead of the installation of new cables within the structure that will strengthen the flyover and allow it to take full vehicle loading again. </p>
<p>They also confirmed that the flyover will be repaired and fully available to traffic before the London 2012 Games.</p>
<h2>Measures in place</h2>One of the Mayor's chief concerns has been that TfL do everything possible to keep disruption for Londoners and people passing through the area to the minimum. Today the team on site outlined the measures they have put in place. They include: 
<ul>
<li>Traffic police rapid response units on placed on permanent standby in the area so they are ready to unblock any incidents or clear accidents as soon as possible </li>
<li>Local traffic diversions, along with Variable Messaging Signs - including on Highways Agency roads - advising drivers to avoid the area as far out as the M25 and M4 from the flyover.&nbsp;All signage, alerts and traffic mitigation plans are kept under nearly hourly review to minimise disruption or give drivers the maximum opportunity to avoid the area </li>
<li>The re-phasing of hundreds of traffic signals in the area to reduce disruption as much as possible and ease traffic flow </li>
<li>The cancellation of any non urgent roadworks in the local area and a daily review of whether other works should be suspended. Works cancelled have included previously planned works at Earl's Court Road, Cromwell Road and the Westway </li>
<li>The creation of an extra lane on Talgarth Road to help minimise the impact of the closure </li>
<li>Close liaison with the relevant local authorities to keep local people, businesses and organisations informed of the ongoing work taking place </li>
<li>Plans to divert traffic from the M4 to other routes if necessary </li>
<li>Working with boroughs on the efficient management of their roads to help cope with the closure&nbsp;</li></ul>
<p>However, until TfL can ensure the flyover is safe to be reopened to traffic, the advice to motorists continues to be avoid the area if at all possible, or if you have to drive allow more time for your journey.&nbsp;</p>
<p>For alternative travel options, information on train routes&nbsp;is&nbsp;available from <a href="http://www.firstgreatwestern.co.uk/Your-journey/Hammersmith-Flyover">First Great Western</a>. </p>
<p>Boris Johnson, the Mayor of London said: 'I want to reassure the thousands of motorists and local people who are suffering traffic hell that the flyover will not be closed one day longer than necessary. Safety has to be the number one priority but Transport for London will reopen this vital stretch of road as soon as they are able to do so. </p>
<p>'One thing I can assure Londoners of is that a plan is being finalised within the next few days and work is already beginning on strengthening the flyover so that it is fully operational well ahead of the 2012 Games.'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'Our team continues to work night and day alongside the world's leading structural engineers to fully understand the extent of the flyover's structural problems. </p>
<p>'A solution which will allow the flyover to be fully open to traffic before the Olympics is now being implemented and we will re-open the flyover to traffic as soon as it is safe to do so.</p>
<p>'Safety remains our top priority and we are working flat-out to put the necessary measures in place to safely reopen the flyover as soon as possible. In the meantime, I continue to urge drivers to avoid the area if they can or allow more time for their journeys. I apologise for the disruption, but assure Londoners we are doing all we can to reopen the flyover and to minimise the disruption the closure is causing.'</p>
<p>
<hr>
<strong>Notes to Editors:</strong> 
<p>
<ul>
<li>Over the past two years, TfL has been carrying out detailed monitoring inside the unique flyover, which was built in 1961 and transferred to TfL's stewardship in 2000. In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the concrete structure in place. Until recently it was thought that the structure had a number of years before major repair work would need to be undertaken, but recent monitoring results showed that repair work was needed earlier than anticipated.&nbsp; Then, in the week prior to Christmas, further deterioration of the cables was found - leading TfL to take the decision to keep the flyover closed to carry out more detailed assessment of the complete structure</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, visited the A4 Hammersmith flyover today to inspect work being carried out to repair one of the most vital stretches of road in the capital as soon as possible.The complex flyover was forced to close due to water damage";}
        
        


 