


@{ViewBag.Title = "Mayor welcomes 200th greener, cleaner hybrid bus to London's fleet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes 200th greener, cleaner hybrid bus to London's fleet</h1>
        <div class="content-page-press-release">
        25 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor's drive to achieve cleaner air for London has received a boost with the delivery of the 200th lower polluting hybrid bus to join the capital's fleet. Its arrival confirms London as the largest operator of hybrid buses in the UK.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We now have the UK's largest fleet of smarter, hybrid engined buses, a pioneering hydrogen bus fleet and my new bus for London that has been designed to push the boundaries of green technology."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We now have the UK's largest fleet of smarter, hybrid engined buses, a pioneering hydrogen bus fleet and my new bus for London that has been designed to push the boundaries of green technology.
                            
                        </p>
                    </div>
                
            
            
            <p>Hybrid technology, which combines batteries, a conventional diesel engine and an electric motor delivers fuel savings of 30 per cent. </p>
<p>This reduces operating costs for Transport for London (TfL) and also delivers a 20 per cent reduction in NOx pollution, helping to deliver cleaner air, less noise and carbon emission savings. </p>
<p>The 200th diesel-electric hybrid bus was delivered to Metroline at its Cricklewood bus garage and joins the growing fleet of greener buses working on routes across the capital. </p>
<p>By the end of 2012 the hybrid bus fleet in the Capital will swell to more than 300 vehicles.<br>&nbsp;<br>Since 2006, the diesel-electric hybrid fleet has doubled year on year and hybrid buses can now been spotted all over the capital. </p>
<p>There is currently one all hybrid bus route, the route 360 operated by GoAhead which runs between Kensington and Elephant and Castle.</p>
<p>The latest batch of hybrid buses will be used on the Route 16 which Metroline operates between Victoria to Cricklewood.</p>
<p>The cleaner buses are one of a range of new measures announced by the Mayor in January to improve air quality during 2012, including new standards for the London Low Emission Zone, banning the oldest, most polluting taxis and a campaign to deter engine idling.&nbsp; <br>&nbsp;<br>The Mayor of London, Boris Johnson, said: 'Investing in buses that pump out far less pollution is key part of my plan to deliver cleaner air for London. We now have the UK's largest fleet of smarter, hybrid engined buses, a pioneering hydrogen bus fleet and my new bus for London that has been designed to push the boundaries of green technology.'</p>
<h2>Significant milestone</h2>Mike Weston, London Buses Operations Director, said: 'London is leading the way on hybrid technology as we continue contributing to improving the fuel efficiency of our vehicles, cutting the Capital's CO2 emissions and improving air quality.&nbsp;&nbsp; 
<p>'We have reached a significant milestone at 200 hybrid buses and the benefits of these cleaner, greener and better buses only increases as we add more to our fleet. That's great news for the health and wellbeing of Londoners.'<br>&nbsp;<br>Other examples of hybrid technology being used in London include the new bus for London, which uses the latest and greenest diesel-electric hybrid technology as well as the single deck hydrogen fuel cell buses operating on the route RV1 Covent Garden to Tower Gateway. </p>
<p>These zero emission buses emit nothing more than water vapour.&nbsp;&nbsp; <br>&nbsp;<br>TfL is committed to introduce even more buses using hybrid technology to deliver cleaner air for Londoners with over 130 diesel-electric buses currently on order bringing the total to in excess of 300 cleaner, greener and better buses on London's streets by the end of 2012.&nbsp;</p>
<p>TfL also plans to introduce a further three hydrogen buses to its fleet allowing the RV1 route to be operated entirely by zero emission buses, making it the first zero emission bus route in the UK.</p>
<p>
<hr>
<strong>Notes to editors:</strong>
<ul>
<li>The Mayor's air quality strategy can be seen at <a href="http://www.london.gov.uk/airquality">london.gov.uk/airquality</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hybrid technology, which combines batteries, a conventional diesel engine and an electric motor delivers fuel savings of 30 per cent. This reduces operating costs for Transport for London (TfL) and also delivers a 20 per cent reduction in NOx pollution,";}
        
        


 