


@{ViewBag.Title = "Mayor welcomes green light for scheme to charge companies for disruptive roadworks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes green light for scheme to charge companies for disruptive roadworks</h1>
        <div class="content-page-press-release">
        26 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, today hailed a major step forward in his battle to reduce disruption caused by roadworks, as the Government confirmed that legislation for a lane rental scheme will be laid in front of Parliament.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Today's announcement allows us to progress a lane rental scheme, the first of its kind in the UK, helping to encourage roadworks to take place outside the busiest hours, reducing the number of unnecessarily prolonged and disruptive roadworks that occur"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Today's announcement allows us to progress a lane rental scheme, the first of its kind in the UK, helping to encourage roadworks to take place outside the busiest hours, reducing the number of unnecessarily prolonged and disruptive roadworks that occur
                            
                        </p>
                    </div>
                
            
            
            <p>That means Transport for London (TfL) can now submit its application for a scheme which would allow it to charge utility firms for working in congested areas or at busy times. </p>
<p>The scheme could be up and running by the summer, and would be the first of its kind to operate in the UK. </p>
<p>By the end of this financial year, serious and severe disruption caused by roadworks on London's red routes is expected to be down by almost 40 per cent since permitting was introduced in January 2010. </p>
<p>A lane rental scheme would build on this, helping to reduce disruption by a further 33 per cent by 2015.</p>
<p>Boris Johnson, the Mayor of London said: 'Disruptive and badly managed roadworks are a pain in the neck for Londoners and a serious drain on our economy. Lane rental will allow us to crack down hard with financial penalties for those responsible for shoddy practice and I welcome the Government's confirmation that London can crack on and work with the DfT to introduce such a scheme.'</p>
<p>Lane rental requires a change in the law and the Department for Transport today confirmed its intention to lay down legislation for a lane rental scheme in front of Parliament shortly. </p>
<p>The Mayor and TfLwill now submit detailed proposals on how it would operate. </p>
<p>Once introduced, London's lane rental charges would apply to sections of roads and pinch points where relieving congestion is a priority. </p>
<p>By encouraging utility companies and highway authorities to carry out their work overnight or during off-peak hours, road users - including drivers, cyclists and bus passengers - will benefit from more reliable journey times and less disruption.</p>
<h2>New technologies fund</h2>
<p>Any additional revenue raised by the scheme once operating costs have been recovered would be put towards a fund that would pay for new technologies to tackle roadworks to be jointly overseen by TfL and the major utility companies. </p>
<p>This could include innovations such as quick curing materials and improved plating technology, which would allow excavations to be temporarily covered and roads to return to normal use more quickly.</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'TfL has worked hard on ways to reduce disruption associated with badly managed roadworks, helping to improve traffic flow for all road users across the Capital. </p>
<p>'Today's announcement allows us to progress a lane rental scheme, the first of its kind in the UK, helping to encourage roadworks to take place outside the busiest hours, reducing the number of unnecessarily prolonged and disruptive roadworks that occur each day. </p>
<p>'Any surplus raised by the scheme will be invested by TfL and utility companies into new and innovative working methods, helping to further ensure that works take place outside of the charging periods, allowing utilities, road users and Londoners to benefit greatly.'</p>
<p>The Mayor's battle against roadworks has already led to nearly 4,000 fewer roadworks on&nbsp;TfL's roads between last April and the end of 2011.&nbsp;</p>
<p>A fall of 13 per cent.compared to the same period in 2010.</p>
<p>This was a result of closer working with the boroughs and utility companies, the introduction of the roadworks permitting scheme which has been embraced by every London borough, a reduction in the roadworks cap which restricts the number of works that can be carried out at any one time, and the Report It system which enables Londoners to name and shame bad practice. </p>
<p>
<hr>
</p>
<p>&nbsp;<strong>Note to Editors: </strong></p>
<ul>
<li>TfL's Lane Rental proposal would cover around 330km (57 per cent) of the Transport for London Road Network (TLRN) and reflects where the effect of closing a lane of traffic is more than 50 per cent higher than on the rest of the network</li>
<li>Londoners can report disruptive or badly managed roadworks by visiting <a href="http://www.tfl.gov.uk/roadworks">tfl.gov.uk/roadworks</a>, or by using a GPS enabled mobile device to tweet &#64;report_it with the hashtag #roadworks. Enquiries will be sent directly to the highway authority responsible, ensuring that direct and swift action can be taken</li>
<li>On 21 September 2011, The Mayor of London launched his Roadworks Pledge for London, which states that all roadworks in London should: </li>
<ul>
<li>Be tidy and safe with a clutter-free site so it is safe for pedestrians, cyclists and other road users</li>
<li>Always explain what's happening through detailed, clear and consistent signage</li>
<li>Always have activity on site or, if not, explain why (e.g. concrete is drying)</li>
<li>Take up as little road/pavement space as possible with a compact working area and eliminating the unnecessary use of cones, safety barriers and storage of materials</li>
<li>Help keep London moving by working outside peak hours, re-opening the road to traffic at peak times and, where this is not possible, working 24/7 or extended hours to complete works as quickly as possible. Diversion routes should be clearly signed</li></ul>
<li>TfL is currently working with the London Boroughs to collate the reports and will be publishing further details as to what actions have been taken following the launch of Report It in the coming months</li>
<li>27 London Boroughs and TfL are now fully signed up to the London Permit Scheme, covering 80 per cent of the capital's roads. The remaining six boroughs in London are working behind the scenes to introduce a permitting scheme during 2012. Once complete, the initiative will be the largest permitting scheme in Britain, covering around 13,000 km of road</li>
<li>&nbsp;Between April 2011 and 07 January 2012, TfL has granted 38,377 permits and refused 14,154 permit applications for roadworks on the TfL Road Network</li>
<li>In September 2011, TfL reduced the roadworks 'cap' that it operates, which is the maximum number of roadworks it allows on its roads within a four week period, by a further ten per cent from 4,170 sets of works to 3753 sets of works. The cap, which applies to all works on the TLRN was first introduced by TfL in 2010 and reduced the maximum number of roadworks allowed to take place at any one time on its roads by 20 per cent. </li>
<li>It is felt that the introduction of a similar cap by the London Boroughs on their strategic roads would encourage better coordination between utility companies, and help significantly reduce the amount of disruptive roadworks in London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "That means Transport for London (TfL) can now submit its application for a scheme which would allow it to charge utility firms for working in congested areas or at busy times. The scheme could be up and running by the summer, and would be the first of its";}
        
        


 