


@{ViewBag.Title = "Mayor hails new measures in 2012 to deliver cleaner air for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails new measures in 2012 to deliver cleaner air for London</h1>
        <div class="content-page-press-release">
        02 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A package of measures to improve air quality in the capital will launch in January 2012 to cut harmful pollution coming from road transport, benefit Londoners' health and clean up the city ahead of the London 2012 Olympic and Paralympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Delivering cleaner air is key to my goal of creating a better quality of life for Londoners. 2012 is also an historic year during which the eyes of the world will turn to London and I want people to experience a cleaner, greener city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Delivering cleaner air is key to my goal of creating a better quality of life for Londoners. 2012 is also an historic year during which the eyes of the world will turn to London and I want people to experience a cleaner, greener city
                            
                        </p>
                    </div>
                
            
            
            <p>The new initiatives, stemming from the Mayor's Air Quality Strategy and delivered by Transport for London, will deter some of the oldest and most polluting vehicles from driving in the capital through changes to the Low Emission Zone (LEZ) and reforms to taxi licensing standards. </p>
<p>Leading health organisations including Asthma UK, the British Lung Foundation and the Chartered Society of Physiotherapy have voiced their support for the changes.</p>
<p>Research commissioned by the Mayor's office has suggested that poor air quality contributes to an equivalent of around 4,300 premature deaths in London annually, with many people, especially children and older people, having their quality of life adversely impacted by it.</p>
<p>Londoners also identify improving air quality as one of their environmental priorities. </p>
<p>Implementing the measures in the Mayor's strategy is expected to reduce PM10 emissions (tiny airborne particles generated principally by road transport) in central London by about a third by 2015, compared to 2008 levels. </p>
<p>These new measures will play a significant role in the delivery of these targets.</p>
<p>Mayor of London Boris Johnson, said: 'From January we are ushering in even higher environmental standards to curb pollution and ensure fresher, healthier air for all.</p>
<p>'Delivering cleaner air is key to my goal of creating a better quality of life for Londoners. 2012 is also an historic year during which the eyes of the world will turn to London and I want people to experience a cleaner, greener city before, during and after the Games.'</p>
<p>The measures being introduced in January are:</p>
<ul>
<li>The current Low Emission Zone has been successful in delivering significant reductions in harmful vehicle emissions by encouraging the oldest, most polluting lorries, buses and coaches driving into London to clean up their emissions. From 3 January 2012, larger vans and minibuses will have to meet Low Emission Zone standards for the first time, meaning only cleaner vehicles of this type that meet the Euro 3 emissions standard for particulate matter can drive within Greater London without their owners paying a &pound;100 daily charge or risking a &pound;500 fine. Transport for London figures show that an estimated 94 per cent of&nbsp; the vehicles that will be affected for the first time already meet the new standards</li>
<li>In addition, vehicles already affected by the Low Emission Zone - lorries, buses and coaches - will now have to meet stricter emissions standards. These vehicles will need to meet a Euro IV standard for particulate matter to drive within Greater London without their owners paying a &pound;200 daily charge or risking a &pound;1,000 fine</li>
<li>It is expected that collectively these changes to the Low Emission Zone will broadly double the initiative's current impact on PM10 emissions. Introducing LEZ standards for larger vans and minibuses is estimated to remove&nbsp; around 80 tonnes of PM10 from the air from 2011 to 2015 which is equivalent to giving children with chest complaints over 12,000 days free from suffering symptoms and adults almost 18,000 days</li>
<li>The introduction of London's first ever age limit on black cabs from 1 January 2012: this will mean the oldest and most polluting vehicles will no longer be licensed, affecting any vehicle over 15 years old. It is estimated this will affect around 2600 cabs in 2012, around a tenth of the total fleet. The age limit will be introduced on a rolling basis throughout the year as affected taxi licence plates expire. A new taxi emits around 20 times less PM than a 15 year old taxi</li>
<li>From 1 January, a 10-year age limit for licensed private hire vehicles will also apply to licensed operators</li>
<li>The launch of a no-idling campaign in early January: drivers of all vehicles in London including coaches and buses, will be encouraged to do their bit by turning off their engines when stationary, reducing the amount of unnecessary and harmful exhaust fumes emitted. Turning off an engine and restarting it after a minute or longer causes less pollution than keeping the engine idling and uses less fuel</li></ul>
<p>Larger vans and minibuses were originally due to be included in the Low Emission Zone from 4 October 2010. </p>
<p>However, following public consultation, the Mayor decided to defer the introduction in tough economic times to give the owners and operators of the estimated 70,000 non-compliant vehicles, many of which are smaller businesses and charities, more time to make the necessary changes. </p>
<h2>Up to speed</h2>
<p>There are a range of ways vehicle owners can meet the standards. </p>
<p>For many, fitting a filter to their vehicle may be the best option whilst many newer second hand vehicles will also meet the standards. </p>
<p>The Mayor has also worked with a range of major manufacturers to secure significant discounts when purchasing new vehicles.</p>
<p>Nick Fairholme, TfL's Director of Congestion Charging and Traffic Enforcement, said: 'The existing Low Emission Zone is delivering significant improvements in air quality to the benefit of Londoners' health. The new standards introduced in January are vital to our continued efforts to tackle pollution. The vast majority of owners and organisations have taken steps to prepare. </p>
<p>'Transport for London has a team of people in place to provide practical advice to anyone who remains concerned about how these new standards will impact them.'</p>
<p>Organisations including the British Lung Foundation, the Chartered Society of Physiotherapy and Asthma UK are supporting the new initiatives. </p>
<p>Neil Churchill, Chief Executive at Asthma UK, says: 'Two thirds (66 per cent) of people with asthma have told us that traffic fumes make their asthma worse and 42 per cent are discouraged from walking or shopping in congested areas because of the effects of traffic fumes, so we know the detrimental impact air pollution can have on the health and quality of life of people with asthma. </p>
<p>'We welcome the continued commitment to tackling this problem and look forward to further initiatives from the Mayor's Air Quality Strategy which will protect Londoners from harmful air pollution.'</p>
<p>Professor Sir Malcolm Green, spokesperson for the British Lung Foundation said: 'Reducing further the levels of air pollution will benefit those living with respiratory disease whose symptoms may be worsened by inhaled pollution.&nbsp;</p>
<p>'It will also improve the respiratory health of all people living in London. Everybody's lungs can be affected by sustained exposure to air pollution, so this move is a welcome development.'</p>
<p>Dr Helena Johnson, Chair of the Chartered Society of Physiotherapy, said: 'Air pollution exacerbates symptoms for people with respiratory conditions, such as asthma, making their lives extremely difficult. </p>
<p>'Physiotherapists treat thousands of patients with those conditions each year, so we warmly welcome any measures designed to give people cleaner air to breathe.</p>
<p>'Our Move for Health campaign encourages people to get more exercise into their daily routine. If people follow this advice and hit the streets to walk, run or cycle it is important that we provide them with cleaner air in which to do so.'</p>
<p>TfL continues to urge those affected vehicle operators to take action to ensure their vehicles meet the new LEZ standards. </p>
<p>TfL would much prefer operators to meet the LEZ standards rather than pay the daily charge or risk a penalty. </p>
<p>Vehicle owners can check online at <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a> or ring a dedicated call centre on 0845 607 0009 to check whether their vehicle meets the emissions standards and find advice on what steps they can take to make their vehicle compliant.</p>
<p>Owners and operators of affected vehicles have a range of options available to them to ensure they comply with the scheme including:</p>
<ul>
<li>Fitting an approved filter to the vehicle to improve the emissions</li>
<li>Purchasing a newer vehicle that meets the required emissions standards. For some operators, particularly van and minibus operators, buying a second hand vehicle and trading in their old vehicle will be the most cost effective way of meeting the standards; Reorganising a fleet so that only vehicles which meet the required emissions standards drive within the LEZ</li>
<li>Leasing a vehicle that meets the standards </li></ul>
<p>This air quality package is part of a comprehensive set of long-term sustainable measures being introduced by the Mayor to tackle the biggest sources of pollution.</p>
<p>In addition, there is record levels of investment being ploughed into zero-emission cycling, a fleet of 300 hybrid buses will be operational by the end of 2012; a zero-polluting hydrogen bus route operating through central London; supporting the uptake of electric vehicles through the Source London charging network and membership scheme. </p>
<p>Areas of London where extra help is needed to tackle higher levels of PM10 are also being targeted with local measures such as green infrastructure (trees, planted towers and walls) and dust suppressant technology. The New Bus for London, entering service in February, will also emit under half the CO2 and NOx of a traditional diesel vehicle.</p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Road transport is responsible for around 80 per cent of airborne pollution (PM10) in central London where air quality is worst, with black cabs contributing 25 per cent of this. The Mayor, through TfL and London Taxi and Private Hire, is also introducing&nbsp; by the start of 2012 a requirement that all new taxi drivers must undertake a mandatory eco driving element of their training before becoming licensed. London Taxi and Private Hire&nbsp;is also working with the taxi trade to encourage and incentives existing drivers to take such courses and promote efficiency driving techniques to reduce emissions and save money through fuel efficiency</li>
<li>Road transport emissions are the largest source of dangerous PM air pollution in the capital, with larger vans responsible for up to 20 per cent of these emissions and 10 per cent of oxides of nitrogen (NOx)</li>
<li>LEZ daily charge and penalty charges:&nbsp;</li>
<ul>
<li> Owners of lorries, buses and coaches that do not meet the required Euro IV for PM emissions standards, and who drive within Greater London will have to pay a &pound;200 daily charge or risk a &pound;1,000 penalty. Lorries, buses and coaches registered as new on or after 1 October 2006 will already meet the LEZ standards</li>
<li>Owners of larger vans, minibuses and other specialist vehicles that do not meet with the new Euro 3 for PM emissions standards will have to pay a &pound;100 daily charge or risk a &pound;500 penalty if they drive within Greater London. Vans and minibuses registered on or after 1 January 2002 will already meet the LEZ standards</li>
<li>Owners of vehicles that do not meet the required standards and wish to continue driving in the Low Emission Zone will need to pay the daily charge either online at <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a> or by phone on 0845 607 0009</li>
<li>TfL would prefer operators to use vehicles that meet the standards rather than pay a daily charge or risk a penalty charge</li>
<li>Vehicles affected for the first time are: larger vans and other specialist vehicles such as horse boxes and light utility vehicles (between 1.205 tonnes unladen and 3.5 tonnes Gross Vehicle Weight); minibuses (5 tonnes or less Gross Vehicle Weight with more than 8 passenger seats); and motor caravans (between 2.5 and 3.5 tonnes Gross Vehicle Weight), which will have to meet a Euro 3 standard for PM to drive in the zone without charge</li>
<li>Vehicles already affected by the LEZ: HGVs and other specialist vehicles including motorised horseboxes and motor caravans over 3.5 tonnes Gross Vehicle Weight; and buses and coaches over 5 tonnes Gross Vehicle Weight with more than 8 passenger seats will have to meet a Euro IV standard for PM to drive in the zone without charge</li>
<li>The LEZ affects all vehicles of the relevant weight and age even if they are used for private purposes</li>
<li>Cars, motorcycles and vans weighing under 1.205 tonnes unladen weight are not affected by the LEZ.&nbsp;Owners can check their V5 to confirm their vehicle weight and TfL can provide advice via its website or dedicated call centre by phoning 0845 607 0009</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new initiatives, stemming from the Mayor's Air Quality Strategy and delivered by Transport for London, will deter some of the oldest and most polluting vehicles from driving in the capital through changes to the Low Emission Zone (LEZ) and reforms to";}
        
        


 