


@{ViewBag.Title = "More reliable Tube carries record-breaking numbers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More reliable Tube carries record-breaking numbers</h1>
        <div class="content-page-press-release">
        06 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Highest ever passenger numbers seen in December.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Making further improvements to the daily reliability of the Tube is central to everything we do as passenger numbers continue to grow to record levels."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Making further improvements to the daily reliability of the Tube is central to everything we do as passenger numbers continue to grow to record levels.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>More train services operated</li></ul>
<p>Figures published today by Transport for London (TfL) show that London Underground (LU) carried the highest number of passengers in its history during December as the reliability of the Tube continued to improve.</p>
<p>Friday 9 December saw the highest number of daily passenger journeys ever recorded on the Tube, with 4.17 million journeys made. </p>
<p>That figure is almost seven per cent higher than the corresponding day in 2010. </p>
<h2>Performance results</h2>

<p>The week ending Saturday 10 December was also a record-breaker, with a new weekly high of 24.9 million people using the Tube as the festive season got into full swing.</p>
<p>The news comes on the back of the latest Tube performance results published by TfL for the four week period from 16 October to 12 November. </p>
<p>They show that the Tube carried 94.6 million people during that period, up by more than four million on the same period last year. </p>
<p>LU operated 97.5 per cent of scheduled kilometres during the period, an improvement of one per cent on the previous period.</p>
<p>Reliability, as measured by the amount of delays caused to customers, has also continued to improve. </p>
<p>Since the Tube became part of TfL in 2003/04 delays have been reduced by more than 40 per cent. </p>
<h2>Reliability improvement programme</h2>
<p>Other improvements delivered during the four-week period include the expansion of the new air-conditioned 's-stock' fleet running on the Metropolitan line to 21 trains and the rollout on stations of new electronic service update boards, providing customers with more detail about the status of their services. </p>
<p>These improvements reflect LU's comprehensive reliability improvement programme which has three key elements: </p>
<ul>
<li>Response and recovery to any incidents that occur </li>
<li>Predicting and preventing failures happening in the first place </li>
<li>Improving how LU upgrades existing assets and purchases new assets</li></ul>
<p>Mike Brown, LU's Managing Director, said: 'Making further improvements to the daily reliability of the Tube is central to everything we do as passenger numbers continue to grow to record levels.&nbsp; </p>
<p>'A range of work is under way to further improve reliability, which we expect to pay dividends over the coming months.</p>
<p>'At the same time, we are rebuilding the network for the future, delivering 30 per cent more capacity through new trains, track and signalling and rebuilding some of our busiest stations.' </p>
<p>The Tube reliability programme has involved the introduction of a series of 'Command Centres' set up for every line on the network in order to deliver improvements in performance.&nbsp; </p>
<h2>New techniques</h2>
<p>It also involves working with and learning from the operators of other metro systems, as well as a range of blue-chip companies outside of the rail industry, to understand how they deliver increasingly reliable performance, both in terms of day-to-day operations and investing for the long term.</p>
<p>A range of new techniques are being implemented to predict when maintenance should be performed to prevent unexpected equipment failure.&nbsp; </p>
<p>This includes advanced signal monitoring technology that helps indicate potential failure, and Automated Track Monitoring Systems, which automatically identify any track related defects and allow maintenance activities to be planned to minimise disruption to passengers.&nbsp; </p>
<p>LU is also increasing its incident response capabilities, and developing plans to co-locate engineering and operations staff in a consolidated command and control centre to help speed up the time it takes to recover from incidents. </p>
<h2>Increased focus</h2>
<p>It is also working closely with the British Transport Police (BTP) in order to establish a system where the BTP will be helping to get LU's Emergency Response Unit swiftly to where incidents are taking place under blue light conditions.</p>
<p>Customer information around service alterations is being improved, and staff training given an increased focus on keeping customers informed. </p>
<p>New radios are in place for better communication between staff, and upgraded electronic status update boards are being rolled out across the network giving more detail on services.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The total amount of additional journey time experienced by Tube customers, known as Lost Customer Hours, has been reduced by 63,000 on the previous period </li>
<li>The previous daily Tube ridership record was just more than four million, and the four-weekly level just more than 90 million </li>
<li><a href="/corporate/modesoftransport/londonunderground/1592.aspx">The performance figures for the period 16 October to 12 November can be viewed here</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More train services operatedFigures published today by Transport for London (TfL) show that London Underground (LU) carried the highest number of passengers in its history during December as the reliability of the Tube continued to improve.Friday 9";}
        
        


 