


@{ViewBag.Title = "New figures show Barclays Cycle Hire is a convenient, fun and fast way to discover London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New figures show Barclays Cycle Hire is a convenient, fun and fast way to discover London </h1>
        <div class="content-page-press-release">
        17 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three quarters of members started to cycle in London as a result of the scheme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Thousands of people living and visiting the Capital have discovered that cycling is one of the most enjoyable ways to get around London."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Thousands of people living and visiting the Capital have discovered that cycling is one of the most enjoyable ways to get around London.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>One in five members have bought cycling equipment </li>
<li>A total of 80 per cent of members think the scheme makes a positive contribution to London</li></ul>
<p>New Barclays Cycle Hire customer research reveals that over three quarters of members would recommend the scheme to family and friends, stating value for money, ease of use and enjoyment as the main reasons for making the recommendation.</p>
<p>Barclays Cycle Hire has prompted three quarters of members to start cycling or to cycle more in London and nearly one in five people (18 per cent) have bought cycling equipment such as helmets and clothing. </p>
<p>Research has also revealed that 15 per cent of members have increased the amount of time they cycle on their own bikes, and a further four per cent of members have bought a bike as a result of the scheme. </p>
<h2>Second phase</h2>
<p>Around four in five (80 per cent) of members think Barclays Cycle Hire makes a positive contribution to London, with speed (19 per cent), convenience (14 per cent) and enjoyment (15 per cent) topping the list as the factors contributing to a positive user experience. </p>
<p>Work has already started on the second phase of the scheme and by spring 2012 the Barclays Cycle Hire area will extend beyond central London to include all of the Borough of Tower Hamlets as well as North Shoreditch in the Borough of Hackney, Camden Town and Westfield White City.&nbsp; </p>
<p>The recent customer survey results are encouraging, however Transport for London (TfL) has identified areas for improvement, such as a continued focus on bike redistribution and improvements to the contact centre which would improve the overall customer experience.&nbsp; </p>
<p>Boris Johnson, the Mayor of London, said: 'More than nine million journeys have now been made using my flagship Barclays Cycle Hire scheme and I am very pleased that 80 per cent of users say they think it makes a positive contribution to the Capital. </p>
<h2>Eastern expansion</h2>
<p>'I will continue to invest in improving the transport infrastructure of our great city and look forward to launching the eastern expansion of the cycle hire scheme later this year.'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'Since the launch of Barclays Cycle Hire, almost 18 months ago, users have made over nine million hires. </p>
<p>'Thousands of people living and visiting the Capital have discovered that cycling is one of the most enjoyable ways to get around London.</p>
<p>'Cycle safety continues to be our top priority and I would encourage people who live, work or study in central London to take advantage of TfL-funded adult commuter cycle training. </p>
<h2>Code of Conduct</h2>
<p>'Cycle training is a great way to improve confidence and to develop the skills needed to keep cycling safely and comfortably throughout the winter; everyone cycling in London should give it a go.'</p>
<p>Barclays Cycle Hire has a Users' Code of Conduct, to help people use and enjoy the scheme safely. </p>
<p>The code's tips include:</p>
<ul>
<li>Be careful around lorries, which have numerous blind spots, and never pass them on the left just before, or at, traffic lights </li>
<li>Don't get too close to parked cars </li>
<li>Watch put for other vehicles and pedestrians and give clear hand signals to show your intentions </li>
<li>Make yourself seen at night by wearing reflective or fluorescent clothing </li></ul>
<p>People can also brush up on their cycle safety skills by taking two minutes to watch the Barclays Cycle Hire safety film at: <a href="http://www.youtube.com/user/BarclaysCycle">www.youtube.com/user/BarclaysCycle</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>The customer survey was carried out between 24-31 October 2011 </li>
<li>Only active members were invited to take part, 947 Barclays Cycle Hire members were interviewed </li>
<li>A sample was taken from TfL's database of registered users </li>
<li>TfL-funded adult commuter cycle training available from boroughs by visiting: <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a> </li>
<li>Barclays Cycle Hire accepts Visa and Mastercard credit and debit cards and Visa Electron </li>
<li>The creation of an easy-to-use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London </li>
<li>Around 95 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their 24-hour &pound;1, seven-day &pound;5 or annual &pound;45 access fees </li>
<li>Anti-skimming devices have been fitted to all Barclays Cycle Hire terminals.&nbsp;This additional measure ensures card readers are not tampered with. The anti-skimming devices use industry leading software, designed to prevent anyone placing a skimming device on a terminal </li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for annual membership. The first 30 minutes of every journey is free </li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire currently operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "One in five members have bought cycling equipment A total of 80 per cent of members think the scheme makes a positive contribution to LondonNew Barclays Cycle Hire customer research reveals that over three quarters of members would recommend the scheme to";}
        
        


 