


@{ViewBag.Title = "New campaign urges drivers to 'make a small switch' to help deliver cleaner, healthier air";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New campaign urges drivers to 'make a small switch' to help deliver cleaner, healthier air</h1>
        <div class="content-page-press-release">
        10 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All drivers are urged to switch off their engines when parked, loading or waiting at the roadside.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Turning off engines when stationary for more than a minute creates a host of positive benefits"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Turning off engines when stationary for more than a minute creates a host of positive benefits
                            
                        </p>
                    </div>
                
            
            
            <p>If all the vehicles in central London turned off their engines for as little as one minute per day, it could annually save PM10 pollution equivalent of a car travelling to the moon and back three times.</p>
<p>
<hr>

<p>
<p>The Mayor has launched new campaign encouraging Londoners to turn off their engines when their vehicle is stationary for more than a minute.&nbsp; </p>
<p>It is part of a package of measures to improve air quality, cut harmful pollution and clean up the city ahead of the London 2012 Olympic and Paralympic Games.</p>
<p>Delivered by Transport for London (TfL), the new 'no engine idling' campaign urges drivers of all vehicles to make a small change and switch off their engines when they are parked or when picking up and dropping off people or goods, reducing the amount of unnecessary and harmful exhaust fumes emitted. </p>
<p>The campaign also highlights the health benefits of reducing pollution levels to both prevent and alleviate illnesses such as asthma and heart and lung conditions.</p>
<p>Leading health and transport organisations such as Asthma UK, the Confederation of Passenger Transport (CPT), and the Freight Transport Association (FTA)&nbsp;have voiced their support for the campaign.</p>
<p>Turning off an engine and restarting it after a minute or longer causes less pollution than keeping the engine idling and uses less fuel.&nbsp; </p>
<p>If all drivers in central London switched off their engines, rather than idling unnecessarily, for one minute each day this could reduce annual PM10 emissions (tiny airborne particles generated principally by road transport) by the equivalent of a medium sized diesel car travelling 2.5 million kilometres, or making three return trips to the moon.</p>
<p>The campaign is aimed at all drivers including those of cars, buses, coaches and taxis. </p>
<p>For example, black cabs account for around a quarter of PM10 emissions in central London with up to 15 per cent of that estimated to be as a result of taxi drivers leaving their engines idling when stationary.</p>
<p>Research commissioned by the Mayor's office has suggested that poor air quality contributes to an equivalent of around 4,300 premature deaths in London in a year, with many people, especially children and older people, having their quality of life adversely impacted by it.&nbsp; </p>
<p>Londoners also identify improving air quality as one of their environmental priorities. </p>
<h2>Reducing emissions</h2>
<p>Implementing the measures in the Mayor's strategy such as this new campaign is expected to reduce PM10 emissions in central London by about a third by 2015, compared to 2008 levels. </p>
<p>Mayor of London Boris Johnson said: 'I am committed to improving Londoners' quality of life by bringing the best of village living into the city. </p>
<p>'This includes delivering cleaner, healthier air.</p>
<p>'Turning off engines when stationary for more than a minute creates a host of positive benefits by reducing pollution and using less petrol to save people money.&nbsp; </p>
<p>'This small individual step can collectively make a massive difference and help improve our great city.'</p>
<p>One common myth about engine idling is that switching a vehicle's engine on and off would wear it out and would also use more fuel.&nbsp; </p>
<p>However, ignitions in modern cars have eliminated this problem and research shows that turning off an engine and restarting it after a minute uses less fuel and causes less pollution.&nbsp; </p>
<p>Switching the engine on and off does not cause any damage to the vehicle.</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: 'We are asking all drivers to consider making one small switch, when loading or parked please switch off your engine.&nbsp; </p>
<p>'This is just one measure which can improve air quality in the Capital and complements some of the other action we are taking such as dust suppressants along PM10 hot spots and the green wall at Edgware Road installed in November.'</p>
<p>The no engine idling campaign is just one of a package of targeted measures* being funded by the DfT&nbsp;at the request of the Mayor to reduce PM10 levels.</p>
<h2>Local air quality</h2>
<p>Emily Humphreys, Head of Policy and Public Affairs at Asthma UK, said: 'There is strong evidence that pollution from heavy traffic can cause asthma attacks and that long-term exposure to traffic fumes is linked to the development of asthma among children who live near busy roads.&nbsp; </p>
<p>'Two thirds of people with asthma tell us that pollution makes their asthma worse.&nbsp; </p>
<p>'As London has over 600,000 residents with the condition, we hope that the no engine idling campaign will help to improve air quality so that people with asthma can breathe more easily.'</p>
<p>Andy Mair, Head of Engineering Policy for the FTA, said: 'Reducing engine idling, even for short periods, reduces engine emissions and can improve local air quality.&nbsp; </p>
<p>'By cutting fuel consumption down it can save money too. </p>
<p>'FTA is pleased to support this campaign and will be working with members to develop an action plan to help and encourage commercial vehicle operators and drivers to avoid unnecessary engine idling.'</p>
<p>Graham Messenger, Coaching Executive for the CPT, said: 'CPT fully supports the Mayor's Cleaner Air for London and no engine idling initiatives.&nbsp; </p>
<p>'We are already actively engaging with some of the London boroughs who are working to improve air quality at a local level.&nbsp; </p>
<p>'Hugely improved engine technology and investment within the bus and coach industries, together with continued research and development of improving less environmentally friendly vehicles, has seen a measured increase of their 'green' credentials and LEZ [Low Emission Zone] compliance across the piece.'</p>
<p>Work to reduce engine idling has already been delivered by TfL with a small team of taxi marshals who monitor taxi ranks at busy central London mainline stations and on other street ranks where air quality is particularly poor to help reduce vehicle emissions, including from engine idling.</p>
<p>TfL's Managing Director for Surface Transport, Leon Daniels, has also written to coach, bus and freight operators to encourage their drivers to switch off their engines while waiting in bus stands or loading goods and will continue to work with them to reduce PM10 emissions and improve London's air quality.</p>
<p>TfL's no idling campaign is running from now with radio and poster adverts. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL undertook testing and research when developing this campaign at Millbrook Proving Ground; this showed that vehicle engines may be restarted repeatedly many times over without a discernible effect on the performance of the vehicle's battery. The vehicles tested were able to withstand repeatedly being switched on and off over a hundred times in an hour with no loss of performance observed.&nbsp;This level of activity would far exceed real-life scenarios </li>
<li>This air quality package is part of a comprehensive set of long-term sustainable measures being introduced by the Mayor to tackle the biggest sources of pollution.&nbsp;In addition, there is record levels of investment being ploughed into zero-emission cycling, a fleet of 300 hybrid buses which will be operational by the end of 2012, a zero-tailpipe-emission hydrogen bus route operating through central London and support for the uptake of electric vehicles through the Source London charging network and membership scheme.&nbsp;The New Bus for London, entering service in February, will also emit under half the carbon dioxide and nitrogen oxide of a traditional diesel vehicle </li>
<li>In April 2011 the DfT awarded &pound;5m for a Clean Air Fund to allow TfL to trial and deliver a package of innovative local transport and environmental measures to reduce PM10 across the Capital </li>
<li>The European Commission recently confirmed to the UK government that the Mayor's plans to reduce PM10 pollution by a third by 2015 - including the work of the Clean Air Fund, financed at the Mayor's request by the DfT - has reduced the threat of hefty fines </li>
<li>*This work is part of package of measures funded at the Mayor's request by the DfT to allow TfL to trial and deliver a package targeted local measures to reduce PM10. Progress on the Clean Air Fund is going well, highlights include: 
<ul>
<li>A team of five taxi marshals are visiting taxi ranks in pollution hot spots across the Capital to reduce engine idling time for taxis and minicabs whist promoting eco-driving courses </li>
<li>Five-hundred new trees and other planting is under way alongside some of London's busiest roads. This includes the recent unveiling of a trial green wall at Edgware Road Tube stations which features a total of 15 plant varieties crafted into a multi-coloured and patterned design </li>
<li>The installation of diesel particulate filters to buses on selected routes running through central London </li>
<li>A programme of engagement with 300 businesses in pollution hot spots to promote sustainable travel and reduce their air quality impact </li>
<li>In addition, action is being taken to deliver a permanent legacy of cleaner air right across the Capital. This includes the first ever age limit for black cabs, tighter standards for the LEZ, cleaner buses, including the New Bus for London and an expanded bike hire scheme </li>
<li>Innovative dust suppressants technology to tackle PM10 pollution in corridors in air quality hot spots and around construction and industrial sites in five boroughs</li></ul></li>
<li>From 3 January 2012 vehicles that are already affected by the LEZ - Heavey Goods Vehicles, buses and coaches - need to meet a Euro IV standard for particulate matter to drive within Greater London without paying a &pound;200 daily charge </li>
<li>Also from this date, larger vans, minibuses and other specialist vehicles have to meet LEZ standards for the first time.&nbsp;These vehicles will have to meet a Euro 3 emissions standard for particulate matter in order to drive within Greater London without paying a &pound;100 daily charge</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "If all the vehicles in central London turned off their engines for as little as one minute per day, it could annually save PM10 pollution equivalent of a car travelling to the moon and back three times.The Mayor has launched new campaign encouraging";}
        
        


 