


@{ViewBag.Title = "Pedestrian Countdown technology to be rolled out across London from summer 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pedestrian Countdown technology to be rolled out across London from summer 2012</h1>
        <div class="content-page-press-release">
        20 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London becomes first city in UK to have permanent Pedestrian Countdown technology.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It has de-mystified the traffic light sequences at crossings and gives pedestrians clear information on how long they have to cross safely."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sharon Grant</div>
            <div class="quotee-job-title">Chair of London Travelwatch</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It has de-mystified the traffic light sequences at crossings and gives pedestrians clear information on how long they have to cross safely.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New technology to be installed at around a further 200 traffic signal locations on London's busiest roads </li>
<li>Detailed research from Transport for London (TfL) shows pedestrians feel safer and less rushed using system </li></ul>
<p>Pedestrians across London will have a clearer idea of how long they have left to safely cross the road from summer 2012 as new Pedestrian Countdown technology is rolled out across the Capital, TfL announced today (20 January 2012).</p>
<p>The roll-out, which will see the technology installed at around a further 200 locations across the Capital, comes after the technology received approval from the Department for Transport and the Highways Agency, following a successful trial in London. </p>
<h2>Numerical counter</h2>
<p>Pedestrian Countdown reduces confusion and uncertainty for pedestrians by displaying how long they have left to cross the road when the green man goes out. </p>
<p>The digital displays count down the time between the green man symbol going out and the red man appearing. </p>
<p>This helps make it clear to pedestrians how much time they have left to cross the road safely.</p>
<p>By replacing the blackout period with a numerical counter, pedestrians are able to better judge whether they have enough time to cross the road reducing uncertainty and helps them to make more informed choices. </p>
<h2>Green man</h2>
<p>Independent research commissioned by TfL in 2009 demonstrated that around two thirds of pedestrians do not understand the black-out period (when nothing is displayed to pedestrians) between the green man going out and the red man being displayed at a crossing. </p>
<p>This led to TfL trialling the technology at eight locations across London in June 2010.</p>
<p>Research from the trial showed that a majority of pedestrians surveyed about the trial (83 per cent) liked the Pedestrian Countdown technology in the 'after' study. </p>
<p>The technology was also liked by 94 per cent of mobility impaired users and 79 per cent of children, who experienced traffic crossings with and without the system. </p>
<h2>Contracts awarded</h2>
<p>Crucially, the study showed that there were no negative impacts on safety during the trial.</p>
<p>Contracts have now been awarded to two companies to supply the equipment and work to install the technology will begin in summer 2012, with all sites expected to be delivered by the end of 2014. </p>
<p>TfL is also in discussions with local boroughs to establish their interest in potentially rolling this technology out at locations along borough roads.</p>
<p>The Mayor of London, Boris Johnson, said: 'Having these timers has proved popular in the areas where they were trialled and I am very pleased we are making this investment in further improvements to our transport infrastructure. </p>
<h2>Significant benefits</h2>
<p>'The countdown is a simple idea with huge benefits not least ensuring we get the best out of our roads by easing traffic flow and ensuring pedestrians are safer.'</p>
<p>Garrett Emmerson, Chief Operating Officer of Surface Transport at TfL, said: 'Pedestrian Countdown delivers significant benefits to all road users, not just to pedestrians. </p>
<p>'By helping people have a clearer idea of how long they have to cross the road, pedestrian uncertainty is reduced and more informed choices about whether or not to cross can be made, helping to make London's roads even safer.'</p>
<p>Samantha Mauger, Chief Executive of Age UK London, said: 'Many older people in London, particularly those with mobility problems, fear not being able to cross the road in time. </p>
<h2>Confidence to cross</h2>
<p>'This can result in some being too frightened to leave their homes or walk anywhere except short distances. </p>
<p>'We welcome the rolling out of any new technology that makes it easier for older people to understand how long they have to cross the road, thus giving them the confidence to cross roads safely and without the fear of having an accident.'</p>
<p>Sharon Grant, Chair of London Travelwatch, said: 'Pedestrians will welcome the roll-out of Pedestrian Countdown across London. </p>
<p>'It has de-mystified the traffic light sequences at crossings and gives pedestrians clear information on how long they have to cross safely.'</p>
<p>For more information about the roll-out of Pedestrian countdown technology, visit <a href="http://www.tfl.gov.uk/pedestriancountdown">tfl.gov.uk/pedestriancountdown</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The TRL report on 'Pedestrian Countdown at Traffic Signals (PCaTS) - Road Trial' can be found at <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/15490.aspx">tfl.gov.uk/corporate/projectsandschemes/15490.aspx</a> </li>
<li>As part of the trial, TfL engaged with a number of organisations, including Living Streets, London Travel Watch and Guide Dogs for the Blind, to discuss how the technology would benefit their representatives </li>
<li>TfL carried out the trial of Pedestrian Countdown technology at the following eight locations in&nbsp; London:&nbsp; 
<ul type="circle">
<li>Blackfriars Road, outside Southwark station, junction with Union Street and The Cut </li>
<li>Balham High Road, outside Balham Station, junction with Chestnut Grove and Balham Station Road </li>
<li>A306 Roehampton Lane, junction with the Queen Mary's Hospital access road </li>
<li>Oxford Circus, junction of Oxford Street and Regent Street </li>
<li>High Holborn, outside Holborn station, junction with Kingsway and Southampton Row </li>
<li>The junction of Finsbury Square, Finsbury Pavement and Chiswell Street in Broadgate EC1 </li>
<li>Tower Bridge Road, junction with Tooley Street, near City Hall </li>
<li>Old Kent Road at the junction of Surrey Square in Walworth SE17</li></ul></li>
<li>At all trial sites, fewer people felt rushed when crossing the road with Pedestrian Countdown, compared to without. The most significant reduction was at the Balham trial site, where the proportion of people who felt rushed fell from 45 per cent to 7 per cent in the final after study </li>
<li>Although it isn't illegal for pedestrians to cross while the red man is showing, 20 per cent of all fatal and serious pedestrian injuries in London in 2010 took place near pedestrian crossings </li>
<li>A total of 913 pedestrians were killed or seriously injured on London's roads in 2010 - a reduction of 11 per cent compared to 2009, and a 57 per cent reduction when compared to the mid to late-1990s <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New technology to be installed at around a further 200 traffic signal locations on London's busiest roads Detailed research from Transport for London (TfL) shows pedestrians feel safer and less rushed using system Pedestrians across London will have a";}
        
        


 