


@{ViewBag.Title = "Peter Andre presents awards to London school children for their winning stories about where they live";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Peter Andre presents awards to London school children for their winning stories about where they live</h1>
        <div class="content-page-press-release">
        26 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Popstar and children's author Peter Andre is presenting 20 London primary school pupils with awards at City Hall today, for stories they have written about where they live, as part of the Mayor of London's drive to improve literacy across the capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's clear from the stories that the pupils enjoyed their walks and learned more about their local surroundings. There is so much to discover in London on foot and by walking more, children are able to increase their road safety awareness."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It's clear from the stories that the pupils enjoyed their walks and learned more about their local surroundings. There is so much to discover in London on foot and by walking more, children are able to increase their road safety awareness.
                            
                        </p>
                    </div>
                
            
            
            <p>Children from over 200 schools were invited to write stories inspired by landmarks where they live for the 'Welcome to my Borough' writing competition, which was organised by the Mayor and Transport for London (TfL).</p>
<p>The competition was part of the Big WoW (Walk once a Week), a month long walking relay for schools organised by TfL, to encourage children to walk to school and make walking part of their lifestyle.</p>
<p>The 'Welcome to my Borough' writing competition is also part of the Mayor's efforts to improve literacy in London, through Team London, his ambitious volunteering programme.</p>
<p>The Mayor of London Boris Johnson, said: 'This fabulous competition gets young Londoners out and about exploring our wonderful city, equipping them with the skills and imagination they need for the future and encouraging them to be fit, healthy and independent.'</p>
<p>Peter Andre who has given his backing to the Mayor's literacy programmes, said: 'Congratulations to all the winners and everyone that took part in the competition. </p>
<p>'As a father myself, I think it is important that our kids practise reading and writing every day and the stories the winners have come up with show what great imaginations they have and what an inspirational city London is.'</p>
<p>Savannah Adams, aged 13, from Parks School for Girls in Redbridge wrote that one of the best specimens of the remains of a mammoth was found in Ilford and is now on display in the Natural History Museum; and that the borough also hosts the historical Valentines Mansion, built in 1696 and now a public space with beautiful gardens.</p>
<p>Leo Ke, aged seven, of Moss Hall Junior School in Barnet described how he loves the leafy sights and sounds in different seasons and enjoys riverside walks in Finchley.</p>
<p>Munira Mirza, the Mayor's Culture and Youth Advisor, said: 'As we celebrate the bicentenary of Charles Dickens's birthday, this is a perfect time to get children to use their imaginations whilst walking around the city. Our great novelist was famous for walking the streets of London and found much inspiration from the buildings and people he saw. </p>
<p>'This competition is all about getting young children to build the confidence to explore their neighbourhoods, as well as getting them hooked on the power of writing. The wonderful stories show how much they have learned and who knows, there may even be a great future novelist amongst them.'</p>
<p>Leon Daniels, Director of Surface Transport at TfL, said: 'It's clear from the stories that the pupils enjoyed their walks and learned more about their local surroundings. There is so much to discover in London on foot and by walking more, children are able to increase their road safety awareness.'</p>
<h2>Enjoy London</h2>
<p>The Mayor wants London to become a city that is easier and more pleasurable to enjoy on foot, with many improvements being made such as creating more public spaces and enhancing existing ones as well as improving walking routes and pedestrian signs. </p>
<p>Walking will be an easy and enjoyable transport option during the London 2012 Games and there will be there will be a host of new sights and scenes cropping up for Londoners to enjoy on foot. </p>
<p>Elizabeth Gallagher, Head Teacher at Parks School for Girls in Redbridge, said: 'Getting involved in the competition widened the girls' knowledge about the history of the borough. The girls learned the importance of Winston Churchill and the history of Valentines Park. </p>
<p>'This made the walk to school more interesting as they appreciated what the borough has to offer. The pupils felt more bonded with the borough and were keen to visit areas they are unfamiliar with.'</p>
<p>To support the Mayor's Making Walking Count Programme, TfL has invested in more shared public spaces, improved walking routes and installed easier and friendlier wayfinding signs. </p>
<p>Nearly 6,000 pupils from over 200 schools around the capital took part in the Big WoW a walking relay that was themed around the 2012 Olympics and Paralympic Games. </p>
<p>The pupils carried the 1948 London and 1956 Melbourne Olympic torches through every borough and athlete John Greatrex is also attending the event, bringing the 1948 and 1956 Olympic torches to show the youngsters.&nbsp;</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<blockquote>
<li>'Welcome to my Borough' is a competition to support the Big WoW by asking young people to take a walk around their local borough/area and identify the landmarks and places of interest and tell a story about the things they like best </li>
<li>The winning stories will be displayed outside the Council Chamber at City Hall until Friday 27 January </li>
<li>Peter Andre has previously helped launch two literacy programmes as part of the Mayor of London's Team London initiative, an ambitious programme backed by the Reuben Foundation, to mobilise an army of volunteers across the capital to improve life in London. To find out more, please go to: <a href="http://www.london.gov.uk/teamlondon">london.gov.uk/teamlondon</a> </li>
<li>Peter Andre has a track record in promoting key issues in relation to children. He is an Ambassador for the NSPCC and for Caudwell Children, a charity that supports severely disabled children. Peter has recently released a series of children's books with Ladybird for preschool children and is also working with celebrity chef Aldo Zilli to promote healthy nutrition for children </li>
<li>There are seven main walking routes across London which connects some of the Capital's best attractions, parks, rivers, canals and open spaces. For more information see <a href="http://www.tfl.gov.uk/tfl/gettingaround/walkfinder">tfl.gov.uk/tfl/gettingaround/walkfinder</a> </li>
<li>See below list of winners:</li></blockquote>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Borough</strong></td>
<td>&nbsp;<strong>Pupil name</strong></td>
<td>&nbsp;<strong>School</strong></td></tr>
<tr>
<td>&nbsp;Barnet</td>
<td>&nbsp;John Cass</td>
<td>&nbsp;Matilda Marks Kennedy</td></tr>
<tr>
<td>&nbsp;Barnet</td>
<td>&nbsp;Leo Ke</td>
<td>&nbsp;Moss Hall Junior School</td></tr>
<tr>
<td>&nbsp;Barnet</td>
<td>&nbsp;Shaayri Khambhaita</td>
<td>&nbsp;Deansbrook Infant School</td></tr>
<tr>
<td>&nbsp;Bexley</td>
<td>&nbsp;Grace Donovan</td>
<td>&nbsp;Bedonwell Infant School</td></tr>
<tr>
<td>&nbsp;Bexley</td>
<td>&nbsp;Kieran O' Rourke</td>
<td>&nbsp;St Joseph's RC Primary School</td></tr>
<tr>
<td>&nbsp;Croydon</td>
<td>&nbsp;Emily Webber</td>
<td>&nbsp;Davidson Primary School</td></tr>
<tr>
<td>&nbsp;Ealing</td>
<td>&nbsp;Georgia Green </td>
<td>&nbsp;Avenue House School</td></tr>
<tr>
<td>&nbsp;Enfield</td>
<td>&nbsp;Scarlett Kavanagh</td>
<td>&nbsp;Walker Primary School</td></tr>
<tr>
<td>&nbsp;Harrow</td>
<td>&nbsp;Poppy Treadaway</td>
<td>&nbsp;Heathfield School</td></tr>
<tr>
<td>&nbsp;Hackney</td>
<td>&nbsp;Kimberley Crisfield </td>
<td>&nbsp;Gayhurst Primary</td></tr>
<tr>
<td>&nbsp;Hackney</td>
<td>&nbsp;Evie McDonald</td>
<td>&nbsp;Queensbridge Primary School</td></tr>
<tr>
<td>&nbsp;Hillingdon</td>
<td>&nbsp;Amba Arjoon</td>
<td>&nbsp;Harlyn Primary School</td></tr>
<tr>
<td>&nbsp;Hillingdon</td>
<td>&nbsp;Rebecca Sellar</td>
<td>&nbsp;Harlyn Primary School</td></tr>
<tr>
<td>&nbsp;Hounslow</td>
<td>&nbsp;Lily Hope Mallabar</td>
<td>&nbsp;Belmont Primary</td></tr>
<tr>
<td>&nbsp;Newham</td>
<td>&nbsp;Erin Day Bosworth</td>
<td>&nbsp;Kaizen Primary School</td></tr>
<tr>
<td>&nbsp;Redbridge</td>
<td>&nbsp;Romesa Rono</td>
<td>&nbsp;Apex Primary School</td></tr>
<tr>
<td>&nbsp;Redbridge</td>
<td>&nbsp;Savannah Adams</td>
<td>&nbsp;Park School for Girls</td></tr>
<tr>
<td>&nbsp;Redbridge</td>
<td>&nbsp;Preena Patel </td>
<td>&nbsp;Park School for Girls</td></tr>
<tr>
<td>&nbsp;Sutton</td>
<td>&nbsp;Niamh Meaney</td>
<td>&nbsp;Cheam Common Infant School</td></tr>
<tr>
<td>&nbsp;Wandsworth</td>
<td>&nbsp;Thibaud Atkins</td>
<td>&nbsp;L'Ecole De Battersea</td></tr></tbody></table></div></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Children from over 200 schools were invited to write stories inspired by landmarks where they live for the 'Welcome to my Borough' writing competition, which was organised by the Mayor and Transport for London (TfL).The competition was part of the Big WoW";}
        
        


 