


@{ViewBag.Title = "TfL announce design proposals to further improve cycle safety at Bow roundabout ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announce design proposals to further improve cycle safety at Bow roundabout </h1>
        <div class="content-page-press-release">
        12 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Study by Transport for London (TfL) proposes revised cycle facilities at Bow roundabout. Options include a new innovative cycle 'early-start' facility at the roundabout and potential for new dedicated cycle lanes across Bow flyover.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Many cyclists use the junction and we are committed to ensuring that they can negotiate it as safely as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Many cyclists use the junction and we are committed to ensuring that they can negotiate it as safely as possible
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London has announced proposals to improve the safety of cyclists using the busy Bow roundabout in east London.</p>
<p>Cycling groups and the local authorities are being asked for their views on plans to allow cyclists an 'early start' on green lights to get them around the roundabout ahead of other traffic. </p>
<p>Another proposal is to reduce the flyover from two traffic lanes to one in both directions to allow the creation of dedicated cycle lanes. </p>
<p>Several cyclists were killed on London's roads towards the end of 2011 including two in the vicinity of Bow roundabout. </p>
<p>As a result the Mayor asked TfL to carry out a thorough review of all major schemes planned on TfL roads as well as all junctions on the existing Barclays Cycle Superhighways, to ensure that they were delivering improvements for all road users. </p>
<p>That work specifically included an urgent and thorough assessment of the design of the Barclays Cycle Superhighway facilities at Bow roundabout.</p>
<h2>Improving safety</h2>
<p>Two alternative options have been identified to improve the safety of Bow roundabout and they are:</p>
<ul>
<li>Creating an innovative cycle 'early-start' phase at the traffic signals on the eastbound and westbound entrance to the Bow roundabout, which would provide cyclists with a dedicated green light phase to allow them to travel around the roundabout ahead of other traffic </li>
<li>Reducing the existing flyover across Bow roundabout from two traffic lanes to one in both directions, with new dedicated cycle lanes. Traffic signals could also be installed at either end of the flyover to make safe access easier for cyclists </li>
<li>TfL also proposes to install new dedicated cycle lanes on the east and westbound approaches of the roundabout, allowing cyclists to approach the advance stop lines at the junctions without the need to filter through traffic. Advanced Stop Lines would also be made deeper on both approaches to the roundabout to ensure that cyclists have a clear visible space in front of any traffic</li></ul>
<p>Key local stakeholders, cycling groups and the relevant London boroughs are now being approached about the proposals to obtain their feedback regarding which designs best reflect the needs of users of the roundabout. </p>
<p>It is hoped that work will begin in the next few months so that TfL can make improvements to the roundabout before the 2012 Games.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Our engineers have worked extremely hard over recent weeks to develop proposals designed to improve the safety of what is a key roundabout for cyclists. </p>
<p>'Many cyclists use the junction and we are committed to ensuring that they can negotiate it as safely as possible. </p>
<p>'We are now discussing potential improvements with key stakeholders and we remain absolutely focused on delivering improvements at the roundabout before the 2012 Games. </p>
<p>'We also continue to explore the potential for longer term improvements in the area.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>More information about the proposals can be found at <a href="http://www.tfl.gov.uk/bowroundabout">tfl.gov.uk/bowroundabout</a> 
<li>Currently, around 60 per cent of all cyclists that travel through the area use the flyover, which provides a straight line from Bow Road to Stratford High Street. By installing traffic signals and dedicated cycle lanes this could open the flyover up to more cyclists, helping to create a safer cycling environment </li>
<li>The Highway Authority for the Bow Roundabout Flyover and the road immediately to the east of the roundabout (Stratford High Street) is the London Borough of Newham. TfL has commenced discussions with Newham to seek approval where changes to accommodate these options may be required on their roads </li>
<li>As part of their considerations, TfL looked again into the possibility of installing signalised pedestrian crossings on Bow Roundabout. Initial traffic modelling showed that the knock-on disruption to all road users, including cyclists, would lead to significant additional road queues on the east and westbound approaches, as well as additional bus delays to the six bus routes that travel through the area and a significant increase in pollution due to vehicle idling </li>
<li>TfL is committed to keep the junction under review following these cycling improvements and will continue to investigate potential designs to allow pedestrian crossings to be installed in the future </li>
<li>TfL has committed to work with key stakeholders to review all 375 junctions on Barclays Cycle Superhighways and over 140 major junctions on the TfL Road Network (TLRN). Work is ongoing to finalise the arrangements for this review, and more information will be available soon </li>
<li>While the number of cycling journeys has increased significantly in recent years, the rate of cycling casualties has fallen. On TfL roads between 2008 and 2010, cycle flows have increased by 21 per cent while the rate of serious and fatal cycling casualties has fallen by seven per cent</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London has announced proposals to improve the safety of cyclists using the busy Bow roundabout in east London.Cycling groups and the local authorities are being asked for their views on plans to allow cyclists an 'early start' on green";}
        
        


 