


@{ViewBag.Title = "The ayes have it as new docking station in the heart of Westminster gets planning permission";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The ayes have it as new docking station in the heart of Westminster gets planning permission</h1>
        <div class="content-page-press-release">
        23 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New docking station to bring the Mayor's flagship Barclays Cycle Hire closer to the Palace of Westminster and Big Ben.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's great news that people living, working and visiting this extremely busy part of London will soon have the benefit of an additional Barclays Cycle Hire docking station."</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Aldworth</div>
            <div class="quotee-job-title">General Manager of Barclays Cycle Hire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It's great news that people living, working and visiting this extremely busy part of London will soon have the benefit of an additional Barclays Cycle Hire docking station.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>More convenient location for tourists, locals and parliamentarians, and more spaces to drop off and pick up </li>
<li>Work to begin in the coming weeks, and completed this spring </li></ul>
<p>Westminster will soon have a new and additional Barclays Cycle Hire docking station, bringing visitors, locals and politicos who use London's iconic hire bikes closer to the Palace of Westminster, and providing more parking spaces in this busy area. <br>&nbsp;<br>Planning permission was granted by Westminster Council on 19 January following a campaign by the Mayor of London, Transport for London (TfL) and parliamentarians for more docking stations around Parliament. </p>
<h2>Further benefit</h2>Now permission has been granted for the docking station, TfL will begin work to relocate any street furniture and install the docking station in the coming weeks. 
<p>This will allow the new station to be usable by spring 2012, meaning that those that live, visit or work around Westminster will be able to further benefit from Barclays Cycle Hire throughout 2012.<br>&nbsp; <br>The Mayor of London, Boris Johnson, said: 'Abingdon Green is the perfect spot to be able to dock or pick up a Barclays Cycle Hire bike when visiting the Houses of Parliament or Big Ben. </p>
<p>'This is why we've worked so closely with Westminster Council, and the Palace of Westminster to make it possible and we will be respectful and sensitive to the historic nature of the surroundings when we install this much called for docking station in the coming weeks.' </p>
<h2>Nine million hires</h2>
<p>Nick Aldworth, General Manager of Barclays Cycle Hire, said: 'It's great news that people living, working and visiting this extremely busy part of London will soon have the benefit of an additional Barclays Cycle Hire docking station. </p>
<p>'The scheme has been a great success with more than nine million hires since we launched, and work has already started on the second phase of the scheme. </p>
<p>'By spring 2012 the Barclays Cycle Hire will extend beyond central London to include all of the Borough of Tower Hamlets as well as North Shoreditch in the Borough of Hackney, Camden Town, further areas of Southwark and Lambeth, and Westfield White City.'</p>
<p>For more information, please visit <a href="http://www.tfl.gov.uk/barclayscyclehire">tfl.gov.uk/barclayscyclehire</a> <br>&nbsp;<br>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The creation of an easy-to-use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London </li>
<li>Around 95 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their 24-hour &pound;1, seven-day &pound;5 or annual &pound;45 access fees </li>
<li>Anti-skimming devices have been fitted to all Barclays Cycle Hire terminals; this additional measure ensures card readers are not tampered with. The anti-skimming devices use industry leading software, designed to prevent anyone placing a skimming device on a terminal </li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for annual membership. The first 30 minutes of every journey is free. Find out how to become a member of Barclays Cycle Hire and advice on how to use the scheme </li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire currently operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More convenient location for tourists, locals and parliamentarians, and more spaces to drop off and pick up Work to begin in the coming weeks, and completed this spring Westminster will soon have a new and additional Barclays Cycle Hire docking station,";}
        
        


 