


@{ViewBag.Title = "Transport for London and CBS Outdoor continue to work together ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London and CBS Outdoor continue to work together </h1>
        <div class="content-page-press-release">
        04 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and CBS Outdoor today confirmed CBS Outdoor will retain responsibility for all adverts on the London Underground network through TfL's commercial advertising concession.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are delighted to be maintaining our long and successful relationship with CBS Outdoor."</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Commercial Development Director at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are delighted to be maintaining our long and successful relationship with CBS Outdoor.
                            
                        </p>
                    </div>
                
            
            
            <p>CBS Outdoor has held the commercial advertising concession since 2006 and is responsible for advertising sites across the London Underground network. </p>
<p>As well as the traditional advertising sites which total approximately 31,000 poster sites at stations there are also in excess of 88,000 panels in train cars. </p>
<p>The digital advertising network on London Underground is made up of cross track projection sites, liquid crystal display&nbsp;sites and runs of digital panels along escalators. </p>
<h2>Advertising concession</h2>
<p>Graeme Craig, Commercial Development Director at TfL, said: 'Following discussions with CBS Outdoor we have reached a comprehensive agreement that sees CBS Outdoor continue to run the commercial advertising concession for London Underground. </p>
<p>'We are delighted to be maintaining our long and successful relationship with CBS Outdoor.'</p>
<p>Antonio Alonso, CEO of CBS Outdoor International, said: 'We are pleased that our partnership will continue on what is undoubtedly the best outdoor advertising estate in London and we look forward to working closely with TfL and London in the exciting lead up to the London 2012 Games and beyond.'</p>
<p>
<hr>
<br><strong>Notes to editor:</strong> 
<p>
<ul>
<li>Further details are all commercially confidential <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "CBS Outdoor has held the commercial advertising concession since 2006 and is responsible for advertising sites across the London Underground network. As well as the traditional advertising sites which total approximately 31,000 poster sites at stations";}
        
        


 