


@{ViewBag.Title = "Transport for London awards 'greener' cleaning contract for coach and bus stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London awards 'greener' cleaning contract for coach and bus stations</h1>
        <div class="content-page-press-release">
        17 January 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cleaning contract for all bus stations and bus stands awarded to ISS. Contract will deliver a reduction in CO2 emissions and cleaner air.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has awarded its cleaning contract for Victoria Coach Station and dozens of bus stations and bus stands to ISS Facility Services in an agreement that will deliver high levels of cleanliness and hygiene as well as deliver environmental benefits for the Capital. </p>
<p>ISS Facility Services has been contracted to clean Victoria Coach Station, 44 bus stations and 64 bus stands across the Capital. </p>
<p>A key element of the contract is that ISS carry out the cleaning with minimal impact on the environment. </p>
<p>This includes the use of the first fleet of six electric Renault Kangoo vans in the UK. </p>
<p>The zero-emission vans will be charged using Source London, the Capital's largest publicly accessible electric vehicle charging network. </p>
<p>This will save 5.3 tonnes of carbon dioxide (CO2) over four years*&nbsp;as well as help reduce pollution to improve air quality. </p>
<p>An additional 30 diesel vehicles used on the contract will have to meet the latest Euro emission standards as well as achieving low CO2 emissions. </p>
<p>ISS is responsible for cleaning passenger and staff areas including seating and toilets, glazing, road sweeping, clearing oil spillages and maintaining vegetation around the bus stations and bus stands. </p>
<p>ISS will be using a range of innovative greener products that meet the stringent environmental requirements of the European Eco-label and operating equipment with the lowest environmental impact while achieving high standards of hygiene and cleanliness.</p>
<p>The green elements of the contract are part of TfL's commitment to operate to high environmental standards to the benefit of Londoners and to ensure that its suppliers do the same. </p>
<p>The four-year cleaning contract will also see ISS using cleaning techniques that will create less air pollution and noise emissions as well as reducing energy and water consumption. </p>
<p>Mike Weston, Operations Director for Surface Transport, said: 'TfL is committed to deliver high levels of cleanliness and along with that, this new contract is set to help our wider efforts to improve air quality and cut carbon emissions. </p>
<p>'Having already taken significant steps to green our own support fleet, we are encouraging all our suppliers to achieve the same challenging standards combining sustainability with value for money to reduce the environmental impacts of operations as much as possible. </p>
<p>'This new cleaning contract with ISS is a fantastic example.'</p>
<p>Brian Raven, Managing Director, ISS Facility Services Transport, said: 'Transport for London set a real challenge with its environmental and budgetary targets. </p>
<p>'But it shows what can be achieved when both parties want to partner to reach shared goals. </p>
<p>'A great example is the support TfL has offered us with mapping the Source London charging network. </p>
<p>'In return, we have used our deep knowledge of cleaning to make sure that this contact meets the high standards of cleanliness that bus passengers and workers deserve. </p>
<p>'We are genuinely excited about all the new processes, products and technologies that we are introducing and will share the results with TfL to optimise systems going forwards.'</p>
<p>TfL has worked hard to ensure they operate one of the greenest support fleets and over the last few years has set tough CO2 limits for all new vehicles entering the fleet, it also has a fleet of electric and other low carbon vehicles as well as providing eco-driver training to staff.</p>

<p>*Saving of 5.3 tonnes of CO2 over four years when compared with the class leading Euro 5 diesel version of the Renault Kangoo.</p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</strong><p>
<ul>
<li>Images of the Renault Kangoo are available on request </li>
<li>Source London is a new city wide electric vehicle charging network. For more information about electric vehicles, Source London and charge point locations across the city, visit <a href="http://www.sourcelondon.net">www.sourcelondon.net</a> </li>
<li>ISS Facility Services is the Operating Division of ISS UK, part of the global ISS Group, providing full facility services to the Public and Private Sector, employing around 43, 500 people across the country</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has awarded its cleaning contract for Victoria Coach Station and dozens of bus stations and bus stands to ISS Facility Services in an agreement that will deliver high levels of cleanliness and hygiene as well as deliver";}
        
        


 