
    
  



@{ViewBag.Title = "Tariffs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/taxis-and-minicabs/taxi-fares/tariffs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/taxis-and-minicabs/index">Taxis & minicabs</a></li>
                
            
                 <li><a href="/modes/taxis-and-minicabs/taxi-fares">Taxi fares</a></li>
                
            
            
                <li><span class="last-breadcrumb">Tariffs</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Tariffs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As the regulator, TfL is responsible for reviewing and setting taxi fares and tariffs. This page provides details of the tariff rates, and the times when they apply.
        
      </div>
    
    <div class="on-this-page">
      <p>There are three standard tariff periods, and when a certain tariff applies depends on the day of the week and the time of day you travel.</p>

<p>The tariff rate can change (e.g. from Tariff 1 to 2, 2 to 3 or 3 to 1) if a journey starts when one tariff rate applies but is still going when the next Tariff rate starts.</p>

<p>The meter automatically adds a charge based on time for any part of a taxi journey when the speed drops below 10.4mph. Other extra charges&nbsp;may be included in the final fare.</p>

<h2>Tariff 1</h2>

<p>For any hiring during Monday to Friday between 05:00 and 20:00, other than on a public holiday:</p>

<ul>
	<li>For the first&nbsp;227 metres or 48.8 seconds (whichever is reached first) there is a minimum charge of &pound;3.20</li>
	<li>For each additional&nbsp;113.5 metres or&nbsp;24.4 seconds (whichever is reached first), or part thereof, if the distance travelled is less than&nbsp;9647.5 metres there is a charge of 20p</li>
	<li>Once the distance has reached&nbsp;9647.5 metres then there is a charge of 20p for each additional 86.9 metres or 18.7 seconds (whichever is reached first), or part thereof</li>
</ul>

<h2>Tariff 2</h2>

<p>For any hiring either during Monday to Friday between 20:00 and 22:00 or during Saturday or Sunday between 05:00 and 22:00, other than on a public holiday:</p>

<ul>
	<li>For the first&nbsp;184.8 metres or&nbsp;39.8 seconds (whichever is reached first) there is a minimum charge of &pound;3.20</li>
	<li>For each additional&nbsp;92.4 metres or&nbsp;19.9 seconds (whichever is reached first), or part thereof, the distance travelled is less than 9,574.8 metres there is a charge of 20p</li>
	<li>Once the distance has reached&nbsp;9609.6 metres then there is a charge of 20p for each additional 86.9 metres or 18.7 seconds (whichever is reached first), or part thereof</li>
</ul>

<h2>Tariff 3</h2>

<p>For any hiring between 22:00 on any day and 05:00 the following day or at any time on a public holiday:</p>

<ul>
	<li>For the first 162.4 metres or 35 seconds (whichever is reached first) there is a minimum charge of &pound;3.00</li>
	<li>For each additional 81.2 metres or 17.5 seconds (whichever is reached first), or part thereof, the distance travelled is less than 9,581.6 metres there is a charge of 20p</li>
	<li>Once the distance has reached 9,581.6 metres then there is a charge of 20p for each additional 86.9 metres or 18.7 seconds (whichever is reached first)</li>
</ul>

<h2>Tariff rate for longer journeys</h2>

<p>When a taxi journey reaches six miles the tariff rates changes. This new rate is sometimes referred to as Tariff 4.<br />
The tariff rate for journeys over six miles is higher than the Tariff 1 and 2 rates but lower than the Tariff 3 rate.</p>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td>
			<p><strong>&nbsp;Tariff</strong></p>
			</td>
			<td>
			<p><strong>Rate&nbsp;</strong></p>
			</td>
			<td>
			<p><strong>Times when the tariff currently applies</strong>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>Tariff 1 for journeys up to 6 miles</td>
			<td>&pound;2.84 per mile</td>
			<td>
			<p>Monday to Friday, 05:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>Tariff 2 for journeys up to 6 miles</td>
			<td>&pound;3.48 per mile</td>
			<td>Monday to Friday, 20:00-22:00<br />
			Saturday and Sunday, 05:00-22:00</td>
		</tr>
		<tr>
			<td>Tariff 3 for journeys up to 6 miles</td>
			<td>&pound;3.96 per mile</td>
			<td>Every night, 22:00-05:00<br />
			Public holidays</td>
		</tr>
		<tr>
			<td>Tariff rate for journeys over&nbsp;6 miles</td>
			<td>&pound;3.70 per mile</td>
			<td>At all times for journeys over 6 miles</td>
		</tr>
	</tbody>
</table></div>

<ul>
</ul>

<p>The information on this page is effective from Saturday&nbsp;11 January 2020.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/taxis-and-minicabs/index" class="heading">
                    <h2 id="sub-menu-heading">Taxis & minicabs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/book-a-taxi">Find a taxi or minicab</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxi-fares">Taxi fares</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxi-fares/tariffs">Tariffs</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxicard-and-capital-call">Taxicard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/what-to-expect-from-your-journey">Guide to taxis and private hire</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Taxis have three tariffs. 1.  Mon-Fri 06:00-20:00. 2.  Mon-Fri 20:00-22:00 Sat-Sun 06:00 -22:00. 3. Everyday 22:00-06:00 and public holidays";}
        
            
        


 