


@{ViewBag.Title = "Art on the Underground launches Canary Wharf Screen at Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Art on the Underground launches Canary Wharf Screen at Tube station</h1>
        <div class="content-page-press-release">
        22 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube customers will be able to see films chosen by the British Film Institute and three leading UK film organisations on a large cinema style-screen at Canary Wharf Tube station from 1 March.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As we welcome the world for the 2012 Games it is an exciting showcase of artists that help make this one of the great capitals of film-making"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As we welcome the world for the 2012 Games it is an exciting showcase of artists that help make this one of the great capitals of film-making
                            
                        </p>
                    </div>
                
            
            
            <p>East End street parties and Soho at night are just some of the subjects explored in Canary Wharf Screen - a new motion picture screening programme commissioned by Art on the Underground, which the Capital's visitors, as well as commuters, will be able to enjoy.</p>
<p>With films from some of the best artists in the field of moving image, the year-long project will add to the cultural celebrations taking place throughout 2012 and underpin London's status as a major filmmaking capital. </p>
<p>It will include new digital commissions and rarely seen films from the last century. </p>
<p>Canary Wharf Screen will be presented on one of London's largest projection screens measuring 15 metres by eight metres, located in the vast ticket hall of Canary Wharf station. </p>
<h2>Programmed in collaboration</h2>
<p>Designed by Lord Norman Foster, Canary Wharf is one of the busiest stations on the London Underground network. </p>
<p>With over 40 million people per year using the station, Canary Wharf Screen has a potentially huge and diverse audience.</p>
<p>The 2012 series will be split into four seasons, programmed in collaboration with Film and Video Umbrella, Animate, LUX and the British Film Institute (BFI) respectively. </p>
<p>Film and Video Umbrella will curate the first season for Canary Wharf Screen from March to May 2012, presenting The City in the City, a series of films by Marcus Coates, Melanie Manchot, Dryden Goodwin and Suki Chan that have been commissioned by the organisation over the past decade. </p>
<p>A new site-specific film commission, Hold Your Ground, 2011, by Karen Mirza and Brad Butler will also be premiered.<br>&nbsp;<br>The selected works explore how individuals navigate and occupy urban space. </p>
<h2>Biggest transformation</h2>
<p>Within the environment of Canary Wharf station, surrounded by commuters, the programme considers the phenomenon of the crowd: as a fact of everyday existence, a source of collective identity and belonging and as a possible force and agent of change.</p>
<p>Boris Johnson, the Mayor of London, said: 'London is undergoing one of the biggest transformations in its history and this festival promises a fascinating insight into people and cities. </p>
<p>'As we welcome the world for the 2012 Games it is an exciting showcase of artists that help make this one of the great capitals of film-making, keep our creative industries prosperous and why London's growing film market brings financiers and producers from the rest of the world to London creating jobs and seeing investing in home grown talent. </p>
<p>'This project will add to the cultural celebrations taking place throughout this momentous year.'</p>
<p>Steven Bode, Director, Film and Video Umbrella, said: 'We have reached back into our substantial back catalogue of artists' moving-image commissions and have chosen pieces that we hope will resonate with this unique site, and its wider architectural and social context.'</p>
<p>Season 2, launching June 2012, will be programmed in collaboration with Animate Projects, the only arts organisation in the UK dedicated to championing experimental animation. </p>
<h2>Provocative and beautiful films</h2>
<p>Gary Thomas, Director of Animate Projects, said: 'Animate is thrilled at the opportunity to present a 'festival' of dynamic, provocative and beautiful films from the Animate Collection, made by UK artists over the last 20 years. </p>
<p>'Canary Wharf is a uniquely stunning and surprising context, and we are sure that the films themselves will surprise and delight.'</p>
<p>For Season 3, LUX will present a series of new commissions from their Public Display series of works by UK-based artists, launching in September 2012. </p>
<p>Public Display looks to comment and reflect on the ubiquity, authority and place of moving images in everyday life. </p>
<p>Season 4, launching in December 2012, will see the BFI open up their archive to showcase a rolling programme of films. </p>
<p>Jane Giles, BFI's Head of Content, said: 'The BFI is delighted to be part of the Canary Wharf Screen project for Art on the Underground, where we will be presenting films from the BFI National Archive including a selection of artists films about the year-cycle in nature.'</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'Canary Wharf Screen is an exciting venture for Art on the Underground, adding an important new strand to its world-class programme. </p>
<p>'We are thrilled to be working with such eminent and influential partners in order to bring the very best artists films to our audience on the Tube.'<br>&nbsp;</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li><strong>Timeline:<br></strong>Season 1: Film &amp; Video Umbrella<br>March-May 2012 <br><br>Season 2: Animate<br>June-August 2012 Launch date: early June<br><br>Season 3: LUX<br>September-November 2012 Launch date: early September<br><br>Season 4: BFI<br>December 2012-February 2013 Launch date: early December </li>
<li><strong>About Art on the Underground<br></strong>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With around three and a half million to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and most diverse audiences in Europe. For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a> </li>
<li><strong>About Film and Video Umbrella</strong><br>Film and Video Umbrella commissions, curates, produces and presents film, video and other moving-image works by artists that are staged in collaboration with galleries and other cultural partners. Please go to <a href="http://www.fvu.co.uk">www.fvu.co.uk</a> for more information </li>
<li><strong>About Animate Projects</strong><br>Animate Projects is the only arts organisation in the UK dedicated to championing experimental animation. It has an international reputation for the artistic quality of the work they support. Please go to <a href="http://animateprojects.org">http://animateprojects.org</a> for more information </li>
<li><strong>About LUX</strong><br>LUX is a national public arts agency for the support and promotion of artists working with the moving image. Founded in 2002, it builds on a lineage of its predecessor organisations (The London Filmmakers Co-operative, London Video Arts and The Lux Centre), which stretches back to the 1960s. LUX is the only organisation of its kind in the UK; it represents the country's only significant collection of artists' film and video and is the largest distributor of such work in Europe </li>
<li><strong>About the BFI</strong><br>The BFI is the lead body for film in the UK with the ambition to create a flourishing film environment in which innovation, opportunity and creativity can thrive by:<br>- Connecting audiences to the widest choice of British and World cinema<br>- Preserving and restoring the most significant film collection in the world for today and future generations<br>- Investing in creative, distinctive and entertaining work<br>- Promoting British film and talent to the world <br>- Growing the next generation of filmmakers and audience </li>
<li><strong>About The BFI National Archive</strong><br>The BFI National Archive was founded in 1935 and has grown to become the largest collection of film and television in the world with more than 180,000 films and 750,000 television programmes </li>
<li><strong>About London Underground<br></strong>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "East End street parties and Soho at night are just some of the subjects explored in Canary Wharf Screen - a new motion picture screening programme commissioned by Art on the Underground, which the Capital's visitors, as well as commuters, will be able to";}
        
        


 