


@{ViewBag.Title = "Blackfriars Underground station reopens to cater for influx of passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackfriars Underground station reopens to cater for influx of passengers</h1>
        <div class="content-page-press-release">
        20 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This release was originally issued by Network Rail.
        
    </div>



 <div class="on-this-page">
<p>A larger and more accessible Blackfriars Underground station reopened for public service this morning to accommodate more than 40,000 passengers every day. </p>
<p>The dramatic 60 per cent&nbsp;increase in footfall follows the redevelopment of Blackfriars Underground station which has been completely rebuilt over three years.</p>
<p>The Mayor of London, Boris Johnson will tour the station today to see the improvements made to provide better connections between Tube and rail services, as well as to cater for growing passenger numbers. </p>
<p>New lifts and escalators make the station easier to access and a curved glass fa&ccedil;ade floods the spacious new entrance hall with natural light. </p>
<p>The upgrade is the latest in a series of improvements being delivered by Network Rail that are tripling the number of trains that run through Blackfriars, and central London, on the Thameslink route each hour. </p>
<p>Mayor of London Boris Johnson said: 'With its magnificent ticket hall, brand new lifts and escalators, and more than double the previous capacity, the rebirth of this central London station will improve the journeys of thousands of passengers every single day. </p>
<p>'An incredible amount of hard work and expertise has been invested in these improvements, and Blackfriars is now set to become a truly world-class station.'</p>
<p>The new Underground station is part of a complete redevelopment of both the Tube and national rail parts of Blackfriars stations by Network Rail. Mainline platforms for national rail services now span the River Thames on a reconstructed Victorian rail bridge, making way for longer trains on the Thameslink route through central London. </p>
<p>'The station can also now be accessed from the south bank of the river and a new entrance hall on the north bank provides convenient access to both Thameslink and London Underground services. </p>
<p>The mammoth project has also provided jobs for 13,000 people over the last three years, with 2,000 people working on the site each day at the busiest times. </p>
<p>Howard Collins, Chief Operating Officer at London Underground said: 'The re-opening of he newly renovated Tube station is fantastic news for our customers, who can now reap the benefits of the huge improvements that have taken place at Blackfriars. </p>
<p>'The 40,000 people who use the station every day is set to grow significantly and I'm sure that all who pass through will find that the improvements have been well worth the wait.'</p>
<p>Laurence Whitbourn, Network Rail's senior programme manager for Blackfriars said: 'Rebuilding Blackfriars Underground station was a hugely complex engineering challenge; we excavated, demolished and rebuilt the whole station while Underground trains continued to run beneath our feet, and Thameslink services ran overhead. </p>
<p>'The new Underground station brings our plan for the whole of Blackfriars one step closer to completion. </p>
<p>'Both Tube and rail passengers at Blackfriars stand to benefit from a modern, accessible station; longer, more frequent Thameslink trains; and convenient connections between services.'</p>
<p>Blackfriars is being rebuilt as part of the Thameslink Programme, which will see longer trains and more frequent services on the route from Bedford to Brighton through central London. </p>
<p>The rebuild of Blackfriars station will dovetail with improvements at Farringdon and other stations along the route, including the planned reconstruction of London Bridge, to provide a metro-style Thameslink service through central London, with trains running every&nbsp;two and a half&nbsp;minutes.</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Blackfriars Underground station closed in March 2009 to allow the complete reconstruction of the Tube and national rail stations to take place. The Underground lines were encased in a protective metal cage while the station was rebuilt around them, allowing District and Circle line trains to continue running
<li>Two lifts and four escalators have been installed in the new Blackfriars Underground station, making it the latest Tube station to become step-free. A further four escalators and seven lifts have been installed to serve the national rail platforms</li>
<li>Blackfriars national rail station has been completely rebuilt on top of the Victorian Blackfriars rail bridge. A new entrance to the station on the south bank opened in December 2011, making Blackfriars the only station in London to span the Thames</li>
<li>Network Rail is installing 4,400 solar panels on the roof of Blackfriars station. Accounting for 50 per cent&nbsp;of the station's energy needs, they will form London's largest solar array</li>
<li>The new Blackfriars station will be fully open and operational by summer 2012</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A larger and more accessible Blackfriars Underground station reopened for public service this morning to accommodate more than 40,000 passengers every day. The dramatic 60 per cent&nbsp;increase in footfall follows the redevelopment of Blackfriars";}
        
        


 