


@{ViewBag.Title = "Changes to travel around Paddington Station due to Crossrail works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to travel around Paddington Station due to Crossrail works</h1>
        <div class="content-page-press-release">
        10 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus diversions and changes to local stopping arrangements.
        
    </div>



 <div class="on-this-page">
<p>Changes to taxi drop-off and pick up points. Alterations to local walking routes.</p>
<p>Eastbourne Terrace will be closed from this Sunday (12 February) with changes to bus, taxi and walking routes as work continues on a new Crossrail station at Paddington.</p>
<p>The new Crossrail station will be built under Eastbourne Terrace and Departures Road. </p>
<p>To enable excavation of the 260-metre-long station box, Eastbourne Terrace will need to be closed for two years. </p>
<h2>Increase capacity</h2>
<p>When it opens in late 2018, Crossrail will significantly reduce journey times from Paddington to the West End, the City and Docklands and increase London's rail network capacity by 10 per cent.</p>
<p>The closure of Eastbourne Terrace will mean changes to bus and taxi services and walking routes into and out of the station.&nbsp; </p>
<p>A new covered taxi rank will open next to the Hammersmith &amp; City line Underground station. </p>
<p>Escalators and lifts up to the taxi rank can be reached from the mainline station concourse on platform 12. </p>
<h2>Rebuilt station</h2>
<p>Access is also available by walking along platforms 1, 8 or 9 and up the steps to the footbridge. </p>
<p>A lift is available to the footbridge from platform 1 only.</p>
<p>Walking routes in and out of the mainline station will also change.&nbsp;</p>
<p>Transport for London will endeavour to keep disruption to a minimum.</p>
<p>There may also be additional short-term road alterations and traffic diversions until the Crossrail works are completed.</p>
<p>Bus routes 7, 23, 27, 36, 46, 159, 205, 332 and 436 will be diverted around the planned road closure, with alternative locations for affected stops and stands.</p>
<h2>Changes to local bus services</h2>
<p>Routes 7, 23, 27, 36, 159 and N7 will be diverted between Bishop's Bridge Road and Praed Street, and will use Westbourne Terrace and Craven Road instead of Eastbourne Terrace. </p>
<p>Route 46 will be diverted to and from Lancaster Gate. </p>
<p>Buses will not serve Craven Road or Eastbourne Terrace and instead use Westbourne Terrace in both directions. </p>
<p>Route 205 will be diverted to serve Westbourne Terrace and Cleveland Terrace. </p>
<p>The first and last stop will be stop L on Cleveland Terrace. </p>
<p>There are no changes to route 436, the first and last stops will be in Praed Street.</p>
<p>Buses will run out of service to stand at Lancaster Gate.&nbsp; </p>
<h2>Travel information</h2>
<p>The first and last stop on route 332 will be stop K on Bishop's Bridge Road. </p>
<p>Buses towards Brent Park will serve Westbourne Terrace and Praed Street.&nbsp; </p>
<p>Read the leaflet <a href="http://www.tfl.gov.uk/assets/downloads/corporate/changes-around-paddington.pdf">'changes in and around Paddington station'</a>.</p>
<p>For up-to-date travel information, please visit <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a> or for information on how to plan your journey <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a> </p>
<p>For further information about Crossrail visit <a href="http://www.crossrail.co.uk">www.crossrail.co.uk</a> or call their helpline on 0345 602 3813 (24 hours). </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Leaflets and posters directing passengers will be available at the station </li>
<li>A public exhibition giving information about the changes to transport services in the area will be held on 30-31 January and 9-10 February on Paddington station's main concourse </li>
<li>Crossrail will run 118km from Maidenhead and Heathrow in the west, through new twin-bore 21km tunnels under central London to Shenfield and Abbey Wood in the east.&nbsp;It will bring an additional 1.5 million people within 45 minutes commuting distance of London's key business districts </li>
<li>With up to 24 trains per hour between Paddington and Whitechapel during peak times, Crossrail will carry more than 200 million passengers each year. Each Crossrail train will be 200 metres long with the capacity to carry 1,500 passengers&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Changes to taxi drop-off and pick up points. Alterations to local walking routes.Eastbourne Terrace will be closed from this Sunday (12 February) with changes to bus, taxi and walking routes as work continues on a new Crossrail station at Paddington.The";}
        
        


 