


@{ViewBag.Title = "Consultation opens on proposed package of improved river crossings in east and south east London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation opens on proposed package of improved river crossings in east and south east London</h1>
        <div class="content-page-press-release">
        06 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today launched an initial public consultation asking for views on a proposed package of measures to improve river crossings in east and south-east London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A new road tunnel and a new vehicle ferry crossing would meet this growing demand whilst strengthening this area's and London's overall economic growth. This initial consultation will help us understand the public's opinion on these proposals."</div>
        <div class="quote-footer">
            <div class="quotee-name">Michele Dix</div>
            <div class="quotee-job-title">Director of Planning at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A new road tunnel and a new vehicle ferry crossing would meet this growing demand whilst strengthening this area's and London's overall economic growth. This initial consultation will help us understand the public's opinion on these proposals.
                            
                        </p>
                    </div>
                
            
            
            <p>The two proposals, a new road tunnel at Silvertown and a new vehicle ferry crossing at Gallions Reach, are aimed at easing congestion and unlocking the economic regeneration potential of this growing part of the capital.&nbsp;&nbsp; </p>
<p>The proposed new road tunnel would be located next to Blackwall Tunnel, and run underneath the River Thames connecting Silvertown with the Greenwich Peninsula. </p>
<p>If approved, it would transport up to 6,000 additional vehicles per hour relieving pressure on the existing Blackwall and Rotherhithe Tunnels providing a much needed alternate tunnel option in east and south-east London.&nbsp; </p>
<p>The prospective vehicle ferry service linking Beckton directly with Thamesmead at Gallions Reach could transport up to 600 vehicles per hour and could replace the ageing existing ferry service at Woolwich, providing a more direct route across the river with increased capacity and frequency of service.</p>
<p>Initial studies for the proposed river crossings have found that they could improve traffic flows in the area and help lead to quicker and more reliable journey times. </p>
<p>An additional crossing at Silvertown would help to reduce delays at the Blackwall Tunnel. The full gauge tunnel would also help to alleviate the closures caused by over-height vehicles attempting to use the Blackwall Tunnel. </p>
<p>The new river crossings would be in addition to the Emirates Air Line, the UK's first urban cable car, currently under construction and scheduled to open this summer. </p>
<p>The Emirates Air Line will be able to transport up to 5,000 pedestrians and cyclists per hour across the Thames. These new river crossings will provide vital links and are aimed at boosting the economic regeneration of east and south east London.</p>
<h2>Expansion in the east</h2>
<p>Due to developments such as Canary Wharf, the O2 and the London 2012 Games the area has experienced considerable growth in recent years. This has been bolstered by a number of TfL transport projects such as the extension of the DLR, the completion of the London Overground orbital railway link and the upgrade of the Jubilee line. </p>
<p>Crossrail will also provide an additional link in this quarter of the capital when it opens in 2018. </p>
<p>This expansion is set to continue with the area forecast to host nearly 50 per cent of the Capital's population growth and approximately 25 per cent of employment growth over the next 20 years. </p>
<p>Ensuring that commercial traffic, lorries, vans and cars for business and services, Can gain access across the Thames is crucial to securing this growth.&nbsp;</p>
<p>With current crossings such as the Blackwall Tunnel, Rotherhithe Tunnel and Woolwich Ferry already at capacity additional transport solutions are required so that more people, goods and traffic can move around efficiently. </p>
<p>Additional infrastructure will also give London's road network much needed resilience.&nbsp; </p>
<p>The Mayor of London, Boris Johnson said: 'These two new major river crossings will be an enormous economic boost to Londoners living and working in the east of the capital, facilitate further regeneration and development, and help to keep our city moving. </p>
<p>'I hope Londoners will get involved with this consultation and make their voices heard on these exciting proposals.'</p>
<p>TfL Director of Planning Michele Dix, said:&nbsp; 'TfL continually looks at the changing needs of London and how its future development can be supported by the right transport infrastructure. </p>
<p>'The Emirates Air Line, the UK's first urban cable car, is one of a number of improvements to public transport in the area to make it easier for pedestrians and cyclists to cross the river but we need to also respond to the needs of essential road traffic. </p>
<p>'A new road tunnel and a new vehicle ferry crossing would meet this growing demand whilst strengthening this area's and London's overall economic growth. This initial consultation will help us understand the public's opinion on these proposals.'</p>
<p>Subject to planning permission and other consents being granted and funding, construction for these new proposed links could begin as early as 2015 with a new vehicle ferry operational by 2017 and the Silvertown tunnel open by 2021.</p>
<p>The public consultation opens from today until Monday 5 March and members of the public are encouraged to share their views at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a> </p>
<p>This is the first stage of a process to understand support for the schemes.&nbsp;Further consultations and information will follow including details of funding proposals for the package and the applications for planning permission and other consents. </p>
<p>Results of this initial consultation are expected to be published in spring 2012.&nbsp; </p>
<p>
<hr>
<strong>Notes to Editors: </strong>
<p>
<ul>
<li>More information on TfL's two proposed solutions and where you can submit your view can be found at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a> </li>
<li>TfL's latest figures show that the Blackwall and Rotherhithe Tunnels are operating at full capacity. The proposed new fixed link between Silvertown and the Greenwich Peninsula would transport up to 6,000 vehicles per hour </li>
<li>The Woolwich ferry will be fifty years old next year; while recent investment means it can continue to operate in the near future new boats and piers are needed. The new vehicle ferry crossing at Gallions Reach could be built to modern standards and be able to carry more vehicles per boat than the existing Woolwich ferry. Its location would also provide an alternate route into the Royal Docks from the south east </li>
<li>There are six times as many road crossings to the west of Tower Bridge compared to its east. This imbalance has disadvantaged firms which regularly need to travel in east London </li>
<li>Over the next twenty years hundreds of thousands more jobs and people are expected to be located in the east and south-east of London. Up to 13,000 jobs and 24,500 new homes are expected in the opportunity areas of the Royal Docks and Greenwich Peninsula alone</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The two proposals, a new road tunnel at Silvertown and a new vehicle ferry crossing at Gallions Reach, are aimed at easing congestion and unlocking the economic regeneration potential of this growing part of the capital.&nbsp;&nbsp; The proposed new road";}
        
        


 