


@{ViewBag.Title = "Crime continues to fall on London's bus network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crime continues to fall on London's bus network</h1>
        <div class="content-page-press-release">
        28 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has welcomed news that crime has fallen on the capital's bus network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            On average there are now just nine crimes per million passenger journeys across the whole of the network. We will continue to work together with our policing partners to reduce transport crime in the capital.
                            
                        </p>
                    </div>
                
            
            
            <p>New figures released by the Metropolitan Police Service (MPS) show bus-related offences fell by more than nine per cent overall between April 2011 and January 2012.</p>
<p>More specifically, violent crime is down by 14 per cent compared to the same period in 2010/11; criminal damage on the bus network is down by 13 per cent, and theft is down by 10 per cent. There are now just nine crimes per million passenger journeys on London's buses.</p>
<p>These encouraging results are largely down to the work of the Transport for London funded MPS Safer Transport Command. </p>
<p>These highly visible local teams are working with community groups and schools, conducting intelligence-led operations and are a visible deterrent on the network.<br>&nbsp;<br>The Mayor of London, Boris Johnson, said: 'Bus crime in London has already fallen by 30 per cent over the last four years and we are taking strong action to ensure that trend continues. Our continued investment, increasing police presence, aims to make buses safer still for every single passenger.'</p>
<p>Over the last four years the Mayor and TfL has increased investment in transport safety and security. </p>

<h2>Crime and the city</h2>
<p>In the summer of 2008 Safer Transport Teams were introduced to all London Boroughs and the Mayor has recently provided funding for over 400 additional warranted Metropolitan Police officers to police the capital's bus network.</p>
<p>Despite the overall reductions in crime, there was a recent increase in robbery offences on the capital's bus network. </p>
<p>Although the number of robberies are relatively low - particularly in context of the billions of journeys made on the network each year - TfL are not complacent and have put in place measures to deal with the recent trend.</p>
<p>Joint initiatives between TfL and the Metropolitan Police Service, such as Operation Knapp - which aims to minimise the number of robbery incidents on the bus network in certain areas - have already yielded a 30 per cent reduction in the number of bus-related robberies in January 2012 compared to January 2011. </p>
<p>Additionally, in areas where robbery is an issue, Safer Transport Teams will address any trends or increases by conducting high-visibility and intelligence led operations to deter offenders.</p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing at TfL, said: 'London's vast transport network is a low crime environment and it is encouraging that the number of crimes has again fallen on the bus network. </p>
<p>'On average there are now just nine crimes per million passenger journeys across the whole of the network. We will continue to work together with our policing partners to address issues as they emerge and further reduce transport crime in the capital.'</p>
<p>Chief Superintendent Sultan Taylor, MPS Safer Transport Command, said: 'The Safer Transport Command with Transport for London is determined to continue to minimise crime. We will be tirelessly carrying out operations and using all manner of policing tactics at our disposal to continue to disrupt criminals operating on the transport system in London. </p>
<p>'Our message is clear: if you commit crime on the transport network we will identify you and arrest you.'<br></p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>For more information on transport policing, the latest crime statistics and the quarterly crime bulletins published by TfL please visit: <a href="http://tfl.gov.uk/safetyand">tfl.gov.uk/safetyandsecurity</a> </li>
<li>Crime on public transport in London is low and reducing further </li>
<li>Bus-related crime went down by nine per cent in April - Dec 2011/12 compared to the same period of the previous year </li>
<li>Crime on London's bus network is at its lowest level for seven years </li>
<li>Latest statistics show that there are just 9.3 crimes per million passenger journeys on London's buses </li>
<li>Crime on the DLR and London Underground was also down - and there are just 9.2 crimes for every million passenger journeys </li>
<li>Overall there are around 2,000 Police Officers and PCSOs dedicated to the bus network in London - more than ever before </li>
<li>The Mayor of London has funding an additional 414 warranted officers, who will all be in place by the end of March, 2012 </li>
<li>MPS Safer Transport Command (STC) is primarily funded by Transport for London (TfL) and fights crime on buses, tackles illegal taxi touts; and assists with the control of traffic congestion </li>
<li>There are 32 Safer Transport Teams (STTs) covering every borough in the Capital </li>
<li>In 2003, there were 470 BTP officers for London Underground. Over the last few years this has increased around 700 officers </li>
<li>By the end of 2005, Transport for London fitted all of London's 8,500 buses with fully recording CCTV and there are now as many as 75,000 cameras fitted on the fleet </li>
<li>There are approximately 13,000 CCTV cameras on the Tube network which will rise to more than 15,500 over the next few years as part of the ongoing station modernisation programme</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New figures released by the Metropolitan Police Service (MPS) show bus-related offences fell by more than nine per cent overall between April 2011 and January 2012.More specifically, violent crime is down by 14 per cent compared to the same period in";}
        
        


 