


@{ViewBag.Title = "Crystal Palace improvement work to begin ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crystal Palace improvement work to begin </h1>
        <div class="content-page-press-release">
        24 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to upgrade London Overground's Crystal Palace station and make it fully accessible will begin in the next few weeks, Transport for London (TfL) announced today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Crystal Palace is a wonderful example of Victorian station architecture. This is a great opportunity to restore it to its original grandeur and at the same time bring it into the 21st Century with full accessibility from the ticket hall to the platforms."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">TfL's Chief Operating Officer for Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Crystal Palace is a wonderful example of Victorian station architecture. This is a great opportunity to restore it to its original grandeur and at the same time bring it into the 21st Century with full accessibility from the ticket hall to the platforms.
                            
                        </p>
                    </div>
                
            
            
            <p>When all work is complete, the 11,000 passengers using the station each day will benefit from three new lifts from ticket hall to platform level, improved CCTV, customer information screens, a PA system, and new signage following a complete station refurbishment.</p>
<p>The Grade II listed ticket hall of the historic station will be refurbished during the summer of 2012 with the remainder of the work completed in 2013. </p>
<p>TfL has signed a &pound;3.5m contract with Mansell as the main contractor for the project, which is expected to provide work for approximately 150 people during construction.</p>
<p>The Mayor of London, Boris Johnson, said: 'This work is vital to improve the journeys of thousands of passengers travelling through south London every day. It will transform this historic station, bringing it bang up to date and mean families with buggies and those with disabilities will have a much improved journey.'</p>
<p>TfL's Chief Operating Officer for Rail, Howard Smith said: 'Crystal Palace is a wonderful example of Victorian station architecture and has real historical significance.</p>
<p>'This is a great opportunity to restore it to its original grandeur and at the same time bring it into the 21st Century with full accessibility from the ticket hall to the platforms.'</p>
<p>The station was originally built in 1854 to serve visitors to the nearby spectacular Crystal Palace building relocated from the Hyde Park Great Exhibition of 1851. </p>
<p>Its refurbishment is part of the Mayor of London's record level of Victorian-style investment in London's transport infrastructure, which includes a huge programme of upgrade work on the Tube and rail networks.</p>
<p>Five other London Overground stations are also being made step free following TfL securing &pound;5m from the Department for Transport's Access for All scheme. </p>
<p>They are Hampstead Heath, West Hampstead, Kensal Rise, South Tottenham and Blackhorse Road.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "When all work is complete, the 11,000 passengers using the station each day will benefit from three new lifts from ticket hall to platform level, improved CCTV, customer information screens, a PA system, and new signage following a complete station";}
        
        


 