


@{ViewBag.Title = "Cycling grants to help communities ride to the 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cycling grants to help communities ride to the 2012 Games</h1>
        <div class="content-page-press-release">
        21 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Twenty-six grants of up to &pound;5,000 available for London-based cycling projects. Applications for funding open between 5 and 19 March.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners are taking to two wheels in their thousands
                            
                        </p>
                    </div>
                
            
            
            <p>Twenty-six grants of up to &pound;5,000 are available to groups and organisations across the Capital that have the passion to help others discover the joys of pedal power.</p>
<p>The grants are part of the Community Cycling Fund for London (CCFL), a scheme funded by Transport for London (TfL) and administered by the London Cycling Campaign (LCC) to help community groups set up cycling initiatives that benefit people of all ages and backgrounds.</p>
<p>The CCFL is one of a great many things the Mayor of London, Boris Johnson, is implementing as part of his cycling revolution, which includes funding and support for 13 Biking Boroughs, from TfL, to help realise the potential of cycling in Outer London. </p>
<p>This funding is being used to create better local cycling infrastructure, to engage local communities in cycling and to improve cycle safety, with the help of TfL expertise. </p>
<p>Each of the 13 Biking Boroughs has pledged to put cycling at the heart of their local delivery plans and to try to increase cycle journeys in their area.</p>
<p>The LCC is accepting grant applications from Monday 5 March until 17:00 on Monday 19 March 2012. </p>
<p>Application packs are available for download from <a href="http://www.lcc.org.uk">www.lcc.org.uk</a> from Friday 24 February.</p>
<p>Requests for grants are open to a broad range of groups including; schools, residents' associations, mental health charities and youth organisations. </p>
<p>The money may be used to provide cycle training, bike maintenance sessions, bike events, and other activities that encourage cycling and build the confidence of new and infrequent cyclists. </p>
<h2>Geared towards the Games</h2>
<p>Applications are also welcome from cycling projects which include activities geared towards the Olympic and Paralympic Games.</p>
<p>Mayor of London Boris Johnson said: 'Londoners are taking to two wheels in their thousands and key to that is helping them to enjoy the benefits of cycling and cycling safely. </p>
<p>'This funding provides massive support to budding cyclists in local communities, and helps to nurture the grass roots of cycling in our great city.'<br>&nbsp;<br>Ben Plowden, Director of Planning for Surface at TfL, said:&nbsp;'We have continued to improve cycle routes as well as public spaces to encourage more cycling in and around London. </p>
<p>'We are determined to help cyclists of all levels ride with confidence and that is why community groups with the knack to help others cycle, have our support.'</p>
<p>Last year, 6,741 adults and children from a wide variety of backgrounds took part in CCFL-funded cycle training, bike maintenance workshops, rides, events and cycling taster sessions.</p>
<p>Mags Reinig, Grants Officer at the LCC, said: 'The grants programme has proved time and again its potential to change people's travel behaviour. </p>
<p>'The majority of the 18,000 Londoners that the CCFL has reached since 2007 didn't cycle at all or very little before taking part in their local cycling project. </p>
<p>'The CCFL gave them the bike maintenance skills to look after a bike and the cycling skills to ride confidently on London's roads.'</p>
<p>The CCFL is part of the huge programme to promote safer cycling in London. </p>
<h2>Cycling in the Capital</h2>
<p>The Mayor and TfL are introducing a wide range of initiatives to help increase the number of people cycling in the Capital, including:</p>
<ul>
<li>The creation of an easy-to-use cycle hire scheme which was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London</li>
<li>The extension of Barclays Cycle Hire beyond central London to include all of the Borough of Tower Hamlets as well as north Shoreditch in the Borough of Hackney, Camden Town, further areas of Southwark and Lambeth, and&nbsp;&nbsp; Westfield White City, by spring 2012</li>
<li>Commissioning an independent review of the construction, operations and driving of Heavy Goods Vehicles&nbsp;(HGV) on&nbsp;the streets of the Capital to determine what actions need to be taken to make their operations safer</li>
<li>TfL is carrying out a thorough review of around 150 major junctions and planned schemes on TfL roads as well as all junctions on the existing Barclays Cycle Superhighways, to see if more needs to be done for cyclists in these locations</li>
<li>Pursuing further road safety campaigns to improve HGV drivers' awareness of cyclists and pedestrians and the responsibility of all road users to be alert and aware of their surroundings</li>
<li>Overseeing a record investment of more than &pound;200m in cycling schemes, including the provision of cycle safety programmes, new cycle lanes, advance stop lines at traffic junctions across London and blind spot safety mirrors at key locations along Barclays Cycle Superhighways</li>
<li>Free or subsidised cycle training is available in most London boroughs</li>
<li>Announcing &pound;4m funding, in February 2011, for Biking Boroughs to create cycle hubs and cycling communities in Outer London</li>
<li>Improving public spaces and making it easier for people on foot and bike to get about the Capital quickly, safely and conveniently</li></ul>
<p>For more details on the CCFL application forms and for eligibility criteria, visit <a href="http://www.lcc.org.uk/community">www.lcc.org.uk/community</a>&nbsp;or email <a href="mailto:grants&#64;lcc.org.uk">grants&#64;lcc.org.uk</a>. </p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</strong><p>
<ul>
<li>The CCFL supports grassroots cycling projects which include elements of cycle training, bike maintenance, social rides and/or cycle awareness</li>
<li>The scheme has supported 18,000 Londoners to get cycling since 2007</li>
<li>A total of &pound;130,000 is available for funding in 2012</li>
<li>The fund will support new projects or existing cycling projects that can expand their activities and/or become more inclusive</li>
<li>In February 2011 the Mayor and TfL announced &pound;4m funding for Biking Boroughs to create cycle hubs and cycling communities in Outer London</li>
<li>London's biking boroughs for 2011 are Barking &amp; Dagenham, Bexley, Brent, Bromley, Croydon, Ealing, Haringey, Havering, Hillingdon, Hounslow, Kingston, Merton and Redbridge</li>
<li>The CCFL grants are available pan-London. For more information and to download the application pack go to <a href="http://www.lcc.org.uk">www.lcc.org.uk</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Twenty-six grants of up to &pound;5,000 are available to groups and organisations across the Capital that have the passion to help others discover the joys of pedal power.The grants are part of the Community Cycling Fund for London (CCFL), a scheme funded";}
        
        


 