


@{ViewBag.Title = "Docklands Light Railway signalling upgrade gets final testing";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway signalling upgrade gets final testing</h1>
        <div class="content-page-press-release">
        06 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR) passengers can look forward to quicker journeys and an even greater level of reliability than the current 97 per cent following a final test of new signalling software across the network this weekend.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are planning to switch on the signalling upgrade on 18/19 February and this will lead to an improvement in journey times, reliability and resilience in the system."</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director of the Docklands Light Railway</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are planning to switch on the signalling upgrade on 18/19 February and this will lead to an improvement in journey times, reliability and resilience in the system.
                            
                        </p>
                    </div>
                
            
            
            <p>The new system, which is part of the &pound;300m three-car upgrade programme that began three years ago, will ensure services across the whole network can recover more quickly from any delays that occur and will improve the reliability of the service for passengers.</p>
<p>This essential work will mean the closure of the DLR network this weekend, 11/12 February, and while the works take place Transport for London will be providing replacement services to ensure that travel options in the area are maintained. </p>
<p>Director of the DLR Jonathan Fox, said: 'It's essential that the weekend's testing of the signalling system software takes place simultaneously across the entire network to replicate as closely as possible normal operational conditions. </p>
<p>This will bed the new software in properly and bring an early London 2012 Games legacy to regular DLR passengers.</p>
<p>'We are planning to switch on the signalling upgrade on 18/19 February and this will lead to an improvement in journey times, reliability and resilience in the system.'</p>
<p>Replacement bus services will operate on all routes. </p>
<p>
<hr>
<strong>Notes to Editors:</strong></p>
<ul>
<li>Replacement bus services will operate as follows: </li>
<ul>
<li>Canary Wharf - Cutty Sark express, then all stations to Lewisham (operates Lewisham - North Greenwich Saturday from 23:30 and Sunday before 08:00 due to Blackwall Tunnel closure)</li>
<li>Bank - Island Gardens</li>
<li>Canary Wharf - Stratford</li>
<li>Canary Wharf - Beckton </li>
<li>Stratford - Beckton</li>
<li>Canary Wharf - North Woolwich (Woolwich Ferry suspended. Foot tunnel open with stair-access only)</li></ul>
<li>The weekend of 11/12 February has been chosen for the testing as the best one to avoid causing inconvenience to forthcoming major events planned to take place at locations served by the DLR network</li>
<li>Around &pound;6.5bn has been invested in upgrading and extending transport links and this will enable spectators to get to and from the Games each day and ensure we will keep London moving</li>
<li>This is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the 2012 Games</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new system, which is part of the &pound;300m three-car upgrade programme that began three years ago, will ensure services across the whole network can recover more quickly from any delays that occur and will improve the reliability of the service for";}
        
        


 