


@{ViewBag.Title = "Freight operators and their customers urged to prepare for London 2012 Games with launch of new campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Freight operators and their customers urged to prepare for London 2012 Games with launch of new campaign</h1>
        <div class="content-page-press-release">
        27 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Major awareness campaign launched this week to keep freight moving during the Games.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            If you're delivering to or based in locations such as Cardiff, Eton Dorney, Manchester or Weymouth and Portland, as well as London, you will also need to plan ahead.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>With just five months to go until London 2012, freight operators and their customers are encouraged to plan ahead </li></ul>
<p>Freight operators and their customers are being targeted with a major new campaign to ensure supplies keep moving during the London 2012 Olympic and Paralympic Games.&nbsp;</p>
<p>The new marketing campaign urges people who make or receive deliveries in Games transport 'hot spot' areas to plan ahead so they can continue to operate effectively and profitably this summer. </p>
<p>The 16-week campaign features advertising in a variety of locations including on petrol station fuel pump nozzles, at motorway service stations, at major ports, and on radio stations and in trade magazines.&nbsp; </p>
<p>It encourages businesses which make or receive deliveries to plan for road restrictions, familiarise themselves with the Olympic Route Network (ORN), consider out-of-hours deliveries and allow extra time for their journeys. </p>
<h2>Start planning</h2>
<p>The campaign is in addition to more than 200 free TfL workshops, both inside and outside the Capital, which have been on offer since January to help hauliers and their customers from across all sectors continue to operate effectively this summer. </p>
<p>To apply for a place, businesses should visit <a href="http://www.tfl.gov.uk/2012freight">tfl.gov.uk/2012freight</a> where there is a full list of workshop dates, times and locations.</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'With just five months to go until the 2012 Games arrive, it's critical that freight operators and their customers start planning now to ensure they continue to operate smoothly and profitably this summer.</p>
<p>'Although it's called the London 2012 Games, businesses operating in the venue towns and cities across the country may be affected. </p>
<h2>Free freight workshops</h2>
<p>'That means if you're delivering to or based in locations such as Cardiff, Eton Dorney, Manchester or Weymouth and Portland, as well as London, you will also need to plan ahead. Busier roads at peak times and restrictions on parts of the UK's road network mean that deliveries could be disrupted if businesses don't put plans in place now.</p>
<p>'Hundreds of businesses across the country have already attended one of our free freight workshops, with places still available at sessions both inside and outside the Capital until the end of April. </p>
<p>'I'd urge the freight industry to get ahead of the Games by booking onto one of our free workshops, and accessing the wealth of advice, tips and information available at <a href="http://www.tfl.gov.uk/2012freight'">tfl.gov.uk/2012freight'</a></p>
<p>Sarah Bell, Lead Traffic Commissioner for Olympic Delivery, said: 'The Traffic Commissioners for Great Britain are working very closely with TfL to ensure that operators take advantage of the vast range of information available to assist in their preparation for the London 2012 Games. </p>
<h2>Practical insights</h2>
<p>'I'd advise any operators or their customers who have yet to book on a free TfL freight workshop to take the opportunity to do so. </p>
<p>'The seminars offer practical insights into how best to plan for the challenges and commercial opportunities that the Games will bring, and attendees can ask questions directly relevant to particular business sectors. </p>
<p>TfL is regularly adding more information to its website and I'd urge all operators to keep checking for all the latest advice.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>A full list of TfL freight workshop dates, times and locations are available at <a href="http://www.tfl.gov.uk/2012freight">tfl.gov.uk/2012freight</a>. Businesses should email <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk</a> to book a place </li>
<li>The workshops, which are part of TfL's Freight Advice Programme, support the ongoing work by London 2012 and TfL in offering free travel advice to businesses to ensure their staff, customers and suppliers can get around quickly and make and receive important deliveries during the London 2012 Games </li>
<li>TfL is working closely with businesses and our London 2012 partners to minimise the impact of the Games on the Capital's road network </li>
<li>However, it is essential that freight operators plan in advance to ensure they understand the transport challenges of the Games, including the ORN, and take steps to reduce, re-route, re-time or re-mode deliveries wherever possible. Alongside providing road 'hot spot' maps for each day of the Games, and data which allows operators to check whether individual postcodes are affected, TfL has also developed a draft code of practice that contains practical measures that businesses making or receiving out-of-hours deliveries can take to minimise noise. The information is available at <a href="http://www.tfl.gov.uk/2012">tfl.gov.uk/2012</a> </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With just five months to go until London 2012, freight operators and their customers are encouraged to plan ahead Freight operators and their customers are being targeted with a major new campaign to ensure supplies keep moving during the London 2012";}
        
        


 