


@{ViewBag.Title = "Incident response on the Tube to be boosted under 'Blue Light' trial";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Incident response on the Tube to be boosted under 'Blue Light' trial</h1>
        <div class="content-page-press-release">
        09 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The specialist unit that responds to emergency incidents on the Tube network will be able to cut through London's traffic more quickly under a trial being carried out with the British Transport Police (BTP).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Having the capability to travel with blue lights and sirens will mean that the Emergency Response Unit can cut through heavy traffic and respond to incidents more quickly and so restore services more swiftly for our customers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director for London Underground and London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Having the capability to travel with blue lights and sirens will mean that the Emergency Response Unit can cut through heavy traffic and respond to incidents more quickly and so restore services more swiftly for our customers.
                            
                        </p>
                    </div>
                
            
            
            <p>The trial&nbsp;aims to halve response times, and therefore increase network reliability, and means that Transport for Londons (TfL's) Emergency Response Unit (ERU)&nbsp;vehicles will travel under the same 'Blue Light' conditions used by police, ambulance and fire services. </p>
<p>This will enable a quicker response to incidents - enhancing passenger safety and reducing disruption and delays across the network.</p>
<p>The&nbsp;ERU is a team operated by Tube Lines on behalf of TfL and consists of over 100 highly skilled staff which will increase to over 130 employees by the start of the Olympic and Paralympic Games. </p>
<p>Under blue lights the ERU will respond to incidents where public safety is at risk such as obstructions blocking the track, broken down trains, 'person under a train' incidents and other emergency response and recovery situations. </p>
<p>The ERU's work also involves responding to failures of signalling and broken down lifts.</p>
<p>The trial involves a new fleet of three response vehicles with new British Transport Police livery driven by a BTP officer under blue light conditions when appropriate.</p>
<p>The vehicles will also serve the London Overground, Docklands Light Railway, and London Tramlink networks.</p>
<p>The trial aims to halve the time taken to respond to incidents, and to reduce disruption and delays to passengers. </p>
<p>Mike Brown, Managing Director for London Underground and London Rail, said: 'Having the capability to travel with blue lights and sirens will mean that the specialist engineers of our Emergency Response Unit can cut through heavy traffic and respond to incidents more quickly and so restore services more swiftly for our customers.'</p>
<p>Alan Pacey, BTP Assistant Chief Constable, said: 'Passenger safety will be improved by using 'blue lights' to get engineers and equipment to the scene of incidents as quickly as possible. </p>
<p>'Stuck trains will be freed from tunnels more quickly, enhancing passenger safety. By getting the line moving sooner there will also be fewer crowd safety issues in and around stations.</p>
<p>'Once at the scene the officer driving the ERU vehicle will perform regular policing duties and work alongside colleagues to resolve any crime or safety issues and help get the system moving again.'</p>
<h2>'London's unknown emergency service'</h2>
<p>Jon Lamonte, the TfL director&nbsp;responsible for the team, said: 'Our specialist unit could be described as London's unknown emergency service - responding to incidents day and night across the Capital. </p>
<p>'These new arrangements will enable us to carry out our work more quickly and more effectively, which will in turn benefit the millions of passengers who use the network each day.'</p>
<p>This new approach is part of the Tube's Reliability Improvement Programme, which aims to reduce disruption to customers caused by incidents on the network. </p>
<p>Across the Tube network lost customer hours have been reduced by almost 40 per cent since 2007/08. However, more work is underway - aiming to further boost reliability and provide a lasting legacy for Londoners.</p>
<p>The Tube reliability programme includes a range of other initiatives including an ability to better predict when maintenance should be carried out to prevent unexpected equipment failure, both on the track and with signalling systems. </p>
<p>London Underground is also sharing best practice with the operators of other metro systems, as well as a range of companies outside the rail industry. 
<hr>
<strong>Notes to editors:</strong></p>
<ul>
<li>In addition to the new fleet of BTP-liveried vehicles, the ERU also runs nine fire engine-style trucks containing equipment to fix track, signals, trains and more, plus some other support vehicles</li>
<li>The Emergency Response Unit (ERU) supports the whole London Underground and also London Overground, Docklands Light Railway and London Tramlink networks</li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> </li>
<li>The use of the blue lights on the ERU vehicle will be subject to the same criteria as any other incident that police attend in that public safety must be at risk before they can be activated</li>
<li>Images available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The trial&nbsp;aims to halve response times, and therefore increase network reliability, and means that Transport for Londons (TfL's) Emergency Response Unit (ERU)&nbsp;vehicles will travel under the same 'Blue Light' conditions used by police, ambulance";}
        
        


 