


@{ViewBag.Title = "Less than one month to go until Barclays Cycle Hire goes east";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Less than one month to go until Barclays Cycle Hire goes east</h1>
        <div class="content-page-press-release">
        10 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Extension of the scheme to open on Thursday 8 March. Almost 10 million hires since launch.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These bikes have changed the face of the city, eased the lives of many commuters and proved a huge attraction for the visitors we need in tough times to bring jobs and growth to our economy."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These bikes have changed the face of the city, eased the lives of many commuters and proved a huge attraction for the visitors we need in tough times to bring jobs and growth to our economy. 
                            
                        </p>
                    </div>
                
            
            
            <p>The launch date for a major eastern expansion of the Mayor's flagship Barclays Cycle Hire scheme has been confirmed as Thursday 8 March 2012. </p>
<p>From that date the iconic bikes will be available beyond central London across the whole of the Borough of Tower Hamlets as well as north Shoreditch in the Borough of Hackney, Camden Town, Canary Wharf and Westfield White City. </p>
<p>Altogether 2,300 more bikes and 4,800 extra docking points are being installed across the existing and new Barclays Cycle Hire area. </p>
<p>The expanded scheme will cover approximately 65km&sup2; of the Capital, and more than 8,300 hire bikes will be available from 15,000 docking points at hundreds of locations across central and east London.</p>
<p>It was also confirmed today that Barclays Cycle Hire has now been used for almost ten million journeys since its launch just 18 months ago in central London. </p>
<p>Thousands of Londoners and visitors use the iconic blue bikes everyday stating value for money, convenience and speed as key reasons for taking to two wheels. </p>
<p>To date more than 150,000 people have signed up as members of the scheme and between them they have made more than 7.7 million hires. </p>
<p>Casual users of the scheme have purchased more than one million access periods making more than 2.1 million journeys since the casual user function became available in December 2010. </p>
<p>Last year the Mayor also asked TfL to prepare plans for a westward expansion of the cycle hire scheme through the boroughs of Wandsworth, Hammersmith &amp; Fulham, Lambeth and Kensington &amp; Chelsea. </p>
<h2>Visitor attraction</h2>
<p>The Mayor of London, Boris Johnson, said: 'I promised London a cycle hire scheme and I'm extremely proud to deliver it. </p>
<p>'These bikes have changed the face of the city, eased the lives of many commuters and proved a huge attraction for the visitors we need in tough times to bring jobs and growth to our economy. </p>
<p>'The expansions east and west will extend the benefits across our city and I'm confident that our investment in this wonderful piece of transport infrastructure will be a huge success.'</p>
<p>Ashok Vaswani, CEO Barclays UK Retail and Business Banking, said: 'Barclays Cycle Hire has undoubtedly been a huge success and the extension to east London will mean even more people will benefit from this bold and pioneering initiative. </p>
<p>'Barclays Cycle Hire now reaches our global headquarters in Canary Wharf so we are excited about the opportunity to mobilise our colleagues in the Capital. </p>
<p>'This scheme is a demonstrable example of our commitment to the communities in which we serve.'</p>
<p>Leon Daniels, Transport for London's (TfL's) Managing Director of Surface Transport, said: 'We are delighted to announce the launch date for the second phase of Barclays Cycle Hire; from Thursday 8 March the bikes will be available at hundreds of locations right across the Capital. </p>
<p>'The bikes are extremely popular in central London, with users making journeys for business and leisure; now even more people can discover that cycling is one of the most enjoyable ways to get around London.'</p>
<h2>Eastern expansion</h2>
<p>Jeremy Stafford, Serco Civil Government's Chief Executive said: 'Serco is on track to deliver this major expansion of the Barclays Cycle Hire scheme on behalf of TfL. </p>
<p>'It has proved a great success with Londoners and visitors alike and we are proud to be able to extend this popular service to other parts of the Capital.'</p>
<p>Becoming a Barclays Cycle Hire member still remains the fastest way to access a bike with no queuing at the on street terminals.&nbsp; </p>
<p>UK residents can start using the cycle hire scheme as a member for just &pound;4 - the cost of buying the membership key (&pound;3) and their first 24-hour access period (&pound;1). </p>
<p>TfL has also reminded cyclists of their cycle hire users' code of conduct, to help people use and enjoy the scheme safely. </p>
<p>The code's tips include:</p>
<ul>
<li>Be careful around lorries, which have numerous blind spots, and never pass them on the left just before, or at, traffic lights</li>
<li>Don't get too close to parked cars</li>
<li>Watch put for other vehicles and pedestrians and give clear hand signals to show your intentions</li>
<li>Make yourself seen at night by wearing reflective or fluorescent clothing</li></ul>
<p>People can also brush up on their cycle safety skills by taking two minutes to watch the <a href="http://www.youtube.com/user/BarclaysCycle">Barclays Cycle Hire safety film</a>.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:&nbsp;</strong></p>
<ul>
<li>TfL-funded adult <a href="http://www.tfl.gov.uk/cycling">commuter cycle training</a> is available from boroughs</li>
<li>Barclays Cycle Hire accepts Visa and Mastercard credit and debit cards, and Visa Electron</li>
<li>The creation of an easy-to-use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London</li>
<li>Around 95 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their 24-hour &pound;1, seven-day &pound;5 or annual &pound;45 access fees</li>
<li>Anti-skimming devices have been fitted to all Barclays Cycle Hire terminals; this additional measure ensures card readers are not tampered with. The anti-skimming devices use industry leading software, designed to prevent anyone placing a skimming device on a terminal</li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for annual membership. The first 30 minutes of every journey is free. Find out <a href="http://www.tfl.gov.uk/roadusers/cycling/14808.aspx">how to become a member</a></li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme</li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 150 per cent growth in cycle journeys on London's major roads since TfL was created in 2000</li>
<li>Barclays Cycle Hire currently operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The launch date for a major eastern expansion of the Mayor's flagship Barclays Cycle Hire scheme has been confirmed as Thursday 8 March 2012. From that date the iconic bikes will be available beyond central London across the whole of the Borough of Tower";}
        
        


 