


@{ViewBag.Title = "London prepares for cold weather";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London prepares for cold weather</h1>
        <div class="content-page-press-release">
        03 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Transport for London (TfL) and London Councils - the body representing all 32 of London's boroughs and the City of London -  have set out the measures underway to keep London moving during any coming bad weather.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We've ensured that there is a fully co-ordinated response for all modes of traffic across the Capital, as well as a 27,000 tonne salt reserve for TfL and the boroughs to fall back on should supplies run low"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We've ensured that there is a fully co-ordinated response for all modes of traffic across the Capital, as well as a 27,000 tonne salt reserve for TfL and the boroughs to fall back on should supplies run low
                            
                        </p>
                    </div>
                
            
            
            <p>The organisations have co-ordinated plans, developed alongside the local borough councils, the emergency services and Network Rail, designed to ensure the transport network and a network of key routes remain open throughout even the most severe weather.</p>
<p>This includes roads and footways around bus garages and stations, hospitals with accident and emergency departments, railway stations and police, fire and ambulance stations across London.</p>
<p>TfL, which is responsible for the 580km network of London's Red Routes, has already stockpiled more than 22,000 tonnes of salt within its London depots.&nbsp;</p>
<p>Last year TfL also created a 27,000 tonne pan-London Strategic Salt Reserve, which remains fully stocked and untouched.</p>
<p>This is ready for deployment and capable of supplementing stocks held by the boroughs. </p>
<p>The amount of salt stored by London's local authorities has been boosted, taking London's total stock to over 100,000 tonnes. </p>
<p>Across London, a fleet of 40 gritters, all of which can be fitted with ploughs, as well as gritting quad bikes, flat bed trucks and teams of gritlayers will operate across Transport for London's major road network. </p>
<p>A list of core bus routes, bus garage locations and bus stands has been agreed by TfL and the London boroughs to ensure that bus services can be maintained. </p>
<p>London Underground and London Rail both have winter weather plans in place, with engineers ready to be mobilised to any vulnerable sites to ensure that points - a crucial part of the railway where signaling systems move sections of track to direct the trains - do not become frozen.</p>
<p>Points heaters are in place at key sections of the network and LU is making increased use of remote monitoring technology to spot any potential problems more quickly. </p>
<p>If necessary, trains will operate throughout the night to keep lines clear and de-ice rails, and teams are on standby to clear areas of track and platforms as necessary. </p>
<h2>Additional measures</h2>
<p>The Tube fared well during last year's winter weather, with the vast majority of services operating as normal. </p>
<p>However, some outlying areas - particularly in the outer suburbs served by the Metropolitan, Piccadilly, District and Central lines - are more vulnerable to extreme weather. </p>
<p>Therefore additional measures have been taken this year, as part of a vast range of initiatives included in the London Underground Reliability Improvement Programme.&nbsp;</p>
<p>These include:</p>
<ul>
<li>&nbsp;An 'Ice Mode' to be used on the new Metropolitan line 'S' stock trains, which helps prevents them from getting stuck </li>
<li>Extra stocks of essential components being strategically located across the network to allow the quickest response to any weather-related issues </li>
<li>New measures to prevent compressed air systems on the Central line fleet from freezing, so preventing the brake and door systems on the trains from becoming defective </li>
<li>An overhauled 'wheel slip protection' system on the Central line, in order to prevent wheels locking and causing damage to wheels during harsh weather</li></ul>
<p>The Mayor of London, Boris Johnson, said: </p>
<p>'Across all our roads and rails hundreds of workers are on standby to ensure that, should we receive a mega deposit of snow, we are in a position to keep the capital moving. </p>
<p>'With more than 100,000 tonnes of salt and an army of gritters, de-icers and specially adapted Tube carriages, together we will ensure that coordinated and swift action is taken to keep Londoners on the move.'</p>
<p>The winter operations plan agreed by TfL and its partner agencies also ensures that the Barclays Cycle Hire scheme will be open for users during all normal operational conditions although it is left to users to decide whether they wish to make journeys by bike. </p>
<p>TfL and London's boroughs will be working to ensure, where possible, that the four current Barclays Cycle Superhighways remain safe to use during the winter months. </p>
<p>Additional detailed plans are also in place to ensure Dial a Ride, London River Service and Victoria Coach Station can cope with the winter weather.</p>
<p>Peter Hendy, London's Transport Commissioner said: 'We have made detailed preparations and have well-rehearsed procedures in place should we face severe weather conditions.</p>
<p>'Working closely with London's boroughs, we've ensured that there is a fully co-ordinated response for all modes of traffic across the Capital, as well as a 27,000 tonne salt reserve for TfL and the boroughs to fall back on should supplies run low.'</p>
<p>Nick Lester, London Councils Corporate Director of Services, said: </p>
<p>'London's boroughs are working hard together and with all of our partners to ensure that we have an effective action plan to keep the capital running as smoothly as possible in severe weather.</p>
<p>'Councils are working with their communities too. Many have introduced neighbourhood schemes to help people who want to keep pavements, roads and driveways clear of ice and snow, offering training and equipment like shovels, salt and grit.'</p>
<p>For the latest travel information, Londoners should visit <a href="http://www.tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a> or follow &#64;tfltrafficnews 
<hr>
<strong>Editor's notes: 
<p>
<ul>
<li></li></ul></strong>TfL is responsible for the treatment of all of London's Red Routes, a network of 580km 
<li>Further details can be found in the <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Item04-02-November-2011-Commissioners-Report.pdf ">Commissioner's report </a>to the Board on 2 November </li>
<li>London Underground has in place a comprehensive reliability improvement programme, putting reliability at the heart of everything it does.&nbsp;This programme focuses on three key areas: 
<ul>
<li>Response and recovery to any incidents that occur </li>
<li>Predicting and preventing failures </li>
<li>Improving how LU upgrades existing assets and purchases new assets</li></ul></li>
<li>London Underground is also rolling out a range of predict and prevent techniques in order to predict when maintenance should be performed to prevent unexpected equipment failure. This includes advanced signal monitoring technology that helps indicate potential failure, and Automated Track Monitoring Systems, which automatically identify any track related defects and allow maintenance activities to be planned to minimise disruption to passengers </li>
<li>London Councils represents the Capital's 33 local authorities. It develops policy, lobbies government and others, and runs a range of services designed to make life better for Londoners </li>
<li>The creation of the London Strategic Salt Reserve does not remove TfL's or the London Boroughs rights of access to the National Salt reserve stockpile of 250,000 tonnes, which is governed by the Department for Transport (DfT) </li>
<li>The DfT recently published advice on the<a href="http://www.direct.gov.uk/en/Nl1/Newsroom/DG_191868"> rights and responsibilities when clearing snow and ice from public areas</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The organisations have co-ordinated plans, developed alongside the local borough councils, the emergency services and Network Rail, designed to ensure the transport network and a network of key routes remain open throughout even the most severe";}
        
        


 