


@{ViewBag.Title = "London Tramlink upgrade continues";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Tramlink upgrade continues</h1>
        <div class="content-page-press-release">
        09 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Tramlink passengers will have a more comfortable journey on a more reliable service following upgrade works on the network next week.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is necessary maintenance and upgrade work which needs to be done as it means a more reliable service for passengers as well as less wear and tear on our trams."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sharon Thompson</div>
            <div class="quotee-job-title">Interim Director of London Tramlink</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is necessary maintenance and upgrade work which needs to be done as it means a more reliable service for passengers as well as less wear and tear on our trams.
                            
                        </p>
                    </div>
                
            
            
            <p>Two hundred metres of track are being replaced as part of Tramlink's Investment Programme and the upgrade will give a much smoother ride than before.</p>
<p>Interim Director of London Tramlink, Sharon Thompson said: 'This is necessary maintenance and upgrade work which needs to be done as it means a more reliable service for passengers as well as less wear and tear on our trams.</p>
<p>'We will keep inconvenience to passengers and businesses along the route to a minimum and complete the works as quickly as possible.'</p>
<p>The main work site where the upgrade will take place is at Crown Hill and as a result London Tramlink services on the central Croydon loop will be suspended from 11 to 16 February with normal service resuming on 17 February.</p>
<p>George Street West will also be closed to vehicles during the same dates reopening on 17 February. </p>
<p>Pedestrian access will not be affected.</p>
<p>Two other worksites - at the junction of Wellesley Road and George Street and near West Croydon bus station - will not affect access to local businesses or residences.</p>
<p>For more information, please visit <a href="http://www.tfl.gov.uk/trams">tfl.gov.uk/trams</a> </p>
<p>
<hr>
<strong>Notes to Editors: <p>
<ul>
<li></li></ul></strong>London Tramlink is carrying out this work at this time as it will be the school holidays, when traffic and tram passenger numbers will be lighter
<li>Tramlink and the London Borough of Croydon will take this opportunity to carry out over a dozen other improvement works in the area. This coordinated, joint-working approach will reduce the amount of future works and closures in the area and cut down on unnecessary disruption and inconvenience</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two hundred metres of track are being replaced as part of Tramlink's Investment Programme and the upgrade will give a much smoother ride than before.Interim Director of London Tramlink, Sharon Thompson said: 'This is necessary maintenance and upgrade work";}
        
        


 