


@{ViewBag.Title = "Mayor steps up HGV safety campaign to benefit cyclists and pedestrians";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor steps up HGV safety campaign to benefit cyclists and pedestrians</h1>
        <div class="content-page-press-release">
        22 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Crossrail train 5,400 professional drivers in how to respect cyclists - with thousands more to be trained over the next year. Mayor and TfL enhance Metropolitan Police Service Commercial Vehicle Task Force with new officers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am determined to improve road safety"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am determined to improve road safety
                            
                        </p>
                    </div>
                
            
            
            <p>First eight freight operators now awarded for reaching the highest standards.</p>
<p>
<hr>

<p>
<p>The Mayor of London, Boris Johnson, has today ramped up work to make London's roads safer for cyclists and pedestrians - enhancing a police task force to clamp down on dangerous Heavy Goods Vehicles (HGVs). </p>
<p>He has also announced more funding to educate freight companies and drivers on cycle safety, confirming 5,400 commercial drivers have already been trained with thousands more to do so over the next year.</p>
<p>The Mayor and TfL has provided additional funding to strengthen the partnership with the Metropolitan Police Service Commercial Vehicle Task Force, who aim to improve road safety in London through enforcement and educating lorry, van and other commercial vehicle operators across London. </p>
<p>They will improve safety for cyclists by investigating all drivers and operators who injure cyclists on London's roads. </p>
<p>Since December, TfL has provided funding for six additional officers in the Commercial Vehicle Task Force. </p>
<p>Two further officers have also been funded in the Road Crime Intelligence Unit, which works closely with a number of agencies including Vehicle and Operator Services Agency (VOSA) and the Department for Transport (DfT) to gather information and create operations to help arrest dangerous or unlicensed operators in London.</p>
<p>At the same time, TfL and Crossrail are undertaking a huge programme of commercial driver training to educate drivers of HGV's and other vehicles in how to keep pedestrians and cyclists safe on the roads. </p>
<p>More than 5,400 drivers have now received the training, which counts towards the certificate that, since 2009, drivers have needed in order to operate lawfully.&nbsp; </p>

<h2>Record investment</h2>
<p>Following this success, TfL has now secured funding for the training to be provided to a further 4,500 drivers, helping to educate drivers who operate in London in the 12 months from April 2012 and Crossrail will continue its driver induction training programme.</p>
<p>The Mayor is currently overseeing a record investment of more than &pound;200m in cycling schemes, including the provision of cycle safety programmes, new cycle lanes, advance stop lines at traffic junctions across London and blind spot safety mirrors on Barclays Cycle Superhighways.</p>
<p>Boris Johnson, Mayor of London, said: 'I am determined to improve road safety and demanding the highest standards from freight companies is a key part of this. </p>
<p>'Some companies are leading the way in showing what can be achieved, but this needs to be reflected across the industry. </p>
<p>'To play our part, we are providing training for thousands of lorry and truck drivers and investing in more police officers to clamp down on shoddy, illegal drivers.'</p>
<p>In addition, the first eight fleet operators to achieve the Gold standard of TfL's Fleet Operator Recognition Scheme (FORS) have been announced. </p>
<p>The awards have gone to firms who regularly operate in London for demonstrating standards that make them exceptional operators. </p>
<p>TfL funding has also enabled FORS members to send their drivers on free bespoke training courses developed by TfL and the London boroughs to address the specific safety issues arising from driving lorries, vans and coaches around the Capital.</p>
<p>Peter Hendy CBE, London's Transport Commissioner, said: 'I am passionate, not only as London's transport commissioner, but also as a cyclist and a long time holder of a PSV [Public Service Vehicle]&nbsp;licence, about doing whatever TfL can to make the Capital's roads even safer for vulnerable road users. </p>
<p>'To have the first Gold standard FORS members, and more than 1,000 operators now signed up, is a testament to the commitment of the haulage industry to deliver ongoing improvements to make the Capital safer for all.'</p>

<h2>Making the Capital safer</h2>
<p>Richard Turfitt, Traffic Commissioner for the East of England and Acting Traffic Commissioner for the South Eastern and the Metropolitan Traffic Area said: 'I am delighted to present these Gold standard awards today to these outstanding freight operators. </p>
<p>'The ongoing importance of the FORS scheme and its popularity, demonstrates how a significant number of regular freight operators in London are signed up to making the Capital safer - something that we are all striving for and is so vitally important in an Olympic year.'</p>
<p>Crossrail requires that all HGVs are fitted with Fresnel lenses or front mounted rear facing CCTV, close proximity warning systems which results in an audible beep in the drivers cab when a cyclist is on the left inside space and side under-run guards to help prevent cyclists coming into contact with lorry wheels. </p>
<p>Vehicles must also carry signs to warn cyclists and pedestrians. </p>
<p>Any HGV not meeting Crossrail's strict standards will be turned away from worksites. </p>
<p>For more information about FORS and TfL's work with the freight industry, visit <a href="http://www.tfl.gov.uk/freight">tfl.gov.uk/freight</a> or <a href="http://www.crossrail.com">www.crossrail.com</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The first eight companies to achieve Gold FORS standard are Hall Fuels, O'Donovan (Waste Disposal), LondonWaste, City of London, Brett Concrete, John Lewis Partnership, Hanson Cement and Travis Perkins Group 
<li>As of 20 February 2012, TfL FORS membership figures were as follows:</li>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Operators</strong></td>
<td><strong>&nbsp;Vehicles</strong></td>
<td><strong>&nbsp;Percentage of London's regular freight (per cent)</strong></td></tr>
<tr>
<td><strong>&nbsp;Registered members</strong></td>
<td>&nbsp;1,020</td>
<td>&nbsp;93,380</td>
<td>&nbsp;28.2</td></tr>
<tr>
<td><strong>&nbsp;Of which Bronze</strong></td>
<td>&nbsp;377</td>
<td>&nbsp;48,987</td>
<td>&nbsp;14.8</td></tr>
<tr>
<td>&nbsp;<strong>Silver</strong></td>
<td>&nbsp;38</td>
<td>&nbsp;8,122</td>
<td>&nbsp;2.5</td></tr>
<tr>
<td>&nbsp;<strong>Gold</strong></td>
<td>&nbsp;8</td>
<td>&nbsp;4,489</td>
<td>&nbsp;1.4</td></tr></tbody></table></div></p>
<ul>
<li>TfL continues to pursue further road safety campaigns to improve HGV driver awareness of cyclists and pedestrians and the responsibility of all road users to be alert and aware of their surroundings </li>
<li>TfL has recently changed the name of the Freight Operator Recognition Scheme to be the Fleet Operator Recognition Scheme, to help encourage more small and medium sized businesses working across London to sign up to the initiative </li>
<li>Work on an independent review of construction, operation and driving of HGV vehicles on the Capital's streets is underway, with initial feedback expected in May 2012 </li>
<li>TfL's Transport Commissioner has written to all London borough Chief Executives encouraging them to adopt the same procurement practices to help improve safety around lorries and vans </li>
<li>Since the launch of FORS four years ago, more than 1,000 operators, representing more than 25 per cent of vans and lorries regularly operating in London, are now registered to the FORS initiative, with more than half of these have met the Bronze, Silver or Gold standard. These include TfL's three Highway Maintenance Contractors, Tube Lines, SERCO (who operate the Docklands Light Railway and Barclays Cycle Hire for TfL) and 13 of London's 33 boroughs. By spring 2016, it is hoped that half of all freight vehicles regularly operating in London will be Bronze, Silver or Gold standard members of the scheme </li>
<li>Silver membership was first awarded in December 2009 and members using the benchmarking system have managed to increase the average mpg of their vehicles by around three per cent, and reduce the number of Penalty Charge Notices being issued by 55 per cent. Overall, it is estimated that members managed to reduce their CO2 emissions by more than 70,000kg in 2010, thanks largely to benchmarking </li>
<li>Members are also entitled to a number of discounts, which look to help improve performance while saving money. These include money off safety devices to help improve cycle safety, including on-vehicle CCTV systems, proximity detection equipment, as well as free access to a specifically designed training course to help drivers become more aware of cyclists in and around London </li>
<li>These benefits are on top of the work already carried out by TfL in partnership with the freight industry to increase drivers awareness of cyclists by initiatives such as fitting extra mirrors to help them see the 'blind spot' on their vehicles; and setting up 'exchanging places' events where lorry drivers and cyclists can swap positions to increase their appreciation of each other's visual perspectives on the roads</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "First eight freight operators now awarded for reaching the highest standards.The Mayor of London, Boris Johnson, has today ramped up work to make London's roads safer for cyclists and pedestrians - enhancing a police task force to clamp down on dangerous";}
        
        


 