


@{ViewBag.Title = "Mayor of London helps 71 schools get pupils cycling";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor of London helps 71 schools get pupils cycling</h1>
        <div class="content-page-press-release">
        03 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) are helping 71 schools in outer London to set up cycling clubs through grants to help them buy bikes and cycling equipment for pupils.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want the joys of cycling to be available to everyone, and children in outer London schools will now be able to join in, gain confidence, and perhaps inspire the rest of their families to get pedaling too."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want the joys of cycling to be available to everyone, and children in outer London schools will now be able to join in, gain confidence, and perhaps inspire the rest of their families to get pedaling too.
                            
                        </p>
                    </div>
                
            
            
            <p>The new cycle clubs will make it possible for thousands of children in London to take up cycling for the first time and learn how to use bikes safely.<br>&nbsp;<br>Schools will purchase pool bikes for pupils to use, install on-site cycle parking, run cycle safety awareness days, and provide cycle training for pupils, parents and staff.</p>
<p>Each school will develop and manage its own projects to ensure long term sustainability.&nbsp;</p>
<p>This not only boosts children's confidence on two wheels but promotes a healthier, more active lifestyle at a time when childhood obesity levels are rising.&nbsp; </p>
<p>The 'Cycle Grants for Schools' scheme is part of the Mayor's cycling revolution, bringing the benefits of cycling to millions of Londoners. </p>
<p>It targets the Mayor's 13 outer London Biking Boroughs and those that have high car usage, specific issues such with bus behaviour or overcrowding on buses or fall within the top 10 congested areas. </p>
<p>Three applications were permitted per borough, and applications were made by borough officers. <br>&nbsp;<br>The goal of Biking Boroughs is to encourage a culture of cycling in outer London by creating cycle hubs and cycling communities in local town centres. </p>
<p>Biking Borough schools were eligible for &pound;9000 funding and the rest of the boroughs for funding of &pound;3000.<br>&nbsp;<br>The Mayor of London, Boris Johnson, said: 'We want the joys of cycling to be available to everyone, and children in outer London schools will now be able to join in, gain confidence, and perhaps inspire the rest of their families to get pedaling too.'</p>
<p>Ben Plowden, TfL Director of Surface Transport said: 'This funding will enable more young children and families to experience and appreciate cycling in London. </p>
<p>'Creating greater opportunities for children to increase their ability and awareness of cycling at school gets them familiar with cycling from an early age - building for a greener, healthier future.' </p>
<p>Marcus Shute, Deputy Head, St Aubyn's School in Redbridge said: 'We were very pleased to receive our &pound;9,000 cycle club grant from TfL. This money has opened up a whole avenue of possibilities for our pupils. We plan to use the money to fund equipment such as pool bikes, locks, spare parts as well as organising events to promote cycling at the school. </p>
<p>'In our after school bike club we plan to teach the younger pupils cycle skills and with our older pupils we plan to run skill based games to further hone their skills. We really hope that by engaging our pupils in cycling activities that more of them will ride to school and help reduce congestion around the school.'</p>
<p>
<hr>
<strong>Notes to editors:&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
<p>
<ul>
<li>TfL has pledged funds to increase cycling in schools for over 5 years </li>
<li>Transport for London is providing a total budget of &pound;400,000 in grants for schools </li>
<li>A cycle toolkit, a document being devised to support the grants will be distributed to schools to guide them in the process of setting up their cycle clubs </li>
<li>A total of 2.4 million journeys which could be cycled are made in Outer London every day. Biking Boroughs help to create a local culture of cycling. In February 2011 the Mayor and TfL announced &pound;4m of funding for Biking Boroughs to create cycle hubs and cycling communities in Outer London </li>
<li>All boroughs were eligible to apply: 13 Biking boroughs for the larger sum of funding (&pound;9k maximum) and all boroughs for the cycle clubs funding (&pound;3k) </li>
<li>The following schools were successful for the Cycle Clubs &pound;3k funding: 
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Borough </strong></td>
<td>&nbsp;<strong>School</strong></td></tr>
<tr>
<td>Hackney</td>
<td>Tawhid Boys<br>Millfield Community School<br>Queensbridge Primary</td></tr>
<tr>
<td>&nbsp;Hounslow</td>
<td>Cavendish School<br>Wellington Primary<br>Grove Park</td></tr>
<tr>
<td>&nbsp;Wandsworth</td>
<td>&nbsp;Swaffield Primary<br>Broomwood Hall Upper School</td></tr>
<tr>
<td>&nbsp;Bexley</td>
<td>
<p>Oakwood School<br>St Michaels East Wickham<br>Old Bexley CE</p></td></tr>
<tr>
<td>&nbsp;Harringey</td>
<td>St Pauls RC Primary<br>Risley Avenue<br>North Harringay Primary School</td></tr>
<tr>
<td>&nbsp;Ealing</td>
<td>West London Academy<br>North Ealing Primary<br>Dormers Wells</td></tr>
<tr>
<td>&nbsp;Havering</td>
<td>The Coopers Company and Coburn School<br>Brady Primary <br>Suttons Primary</td></tr>
<tr>
<td>&nbsp;Newham </td>
<td>Curween Primary<br>Upton Cross Primary<br>Plashet School<br>Rokeby School<br>New City Primary&nbsp;</td></tr>
<tr>
<td>&nbsp;Lambeth</td>
<td>Wyvil Primary&nbsp;</td></tr>
<tr>
<td>&nbsp;Redbridge</td>
<td>Coppice Primary<br>Christchurch&nbsp;</td></tr>
<tr>
<td>&nbsp;Croydon</td>
<td>Attwood Primary<br>Gresham Primary<br>Byron School</td></tr>
<tr>
<td>&nbsp;Camden</td>
<td>Hampstead School<br>Christchurch</td></tr>
<tr>
<td>&nbsp;Harrow</td>
<td>Rooks Heath High School<br>Harrow High School<br>Cannons High School</td></tr>
<tr>
<td>&nbsp;Southwark</td>
<td>Bessemer Grange<br>Ilderton Primary<br>Peter Hills and St Mary's and St Pauls CofE&nbsp;</td></tr>
<tr>
<td>&nbsp;Enfield</td>
<td>Oasis Academy<br>Churchfield Primary&nbsp;</td></tr>
<tr>
<td>&nbsp;Hammersmith &amp; Fulham</td>
<td>Jack Tizard &nbsp;</td></tr>
<tr>
<td>&nbsp;Royal Borough of Kensington &amp; Chelsea</td>
<td>Marlborough Primary</td></tr>
<tr>
<td>&nbsp;Barnet</td>
<td>
<p>Manorside<br>Mathilda Marks Kennedy Primary School<br>The Mount School</p></td></tr>
<tr>
<td>&nbsp;Hillingdon</td>
<td>Warrender Primary School</td></tr>
<tr>
<td>&nbsp;Kingston Upon Thames</td>
<td>Lovelace Primary<br>Holy Cross School<br>Malden Manor School</td></tr></tbody></table></div></li></ul>
<ul>
<li>The following target schools within Biking Boroughs were successful for the funding of up to &pound;9k: 
<ul>
<li>Croydon: Virgo Fidelis Preparatory School - &pound;7k </li>
<li>Ealing: Saint Raphael Roman Catholic Primary School - &pound;7k </li>
<li>St Augustine's Priory - &pound;9k </li>
<li>St Benedict's School - &pound;4k </li>
<li>St Saviour's Church of England Infant School - &pound;9k </li>
<li>The Ellen Wilkinson School for Girls - &pound;9k </li>
<li>Vicar's Green Primary School - &pound;7k </li>
<li>West Twyford Primary School - &pound;4k </li>
<li>Havering: Drapers Academy - &pound;7k </li>
<li>Hillingdon: Belmore Primary School - &pound;9k </li>
<li>Hounslow: Belmont Primary School - &pound;7k </li>
<li>Cranford Community College - &pound;9k </li>
<li>Gunnersbury Catholic School - &pound;9k </li>
<li>Redbridge: St Aubyn's School - &pound;9k </li>
<li>Wells Primary School - &pound;9k<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new cycle clubs will make it possible for thousands of children in London to take up cycling for the first time and learn how to use bikes safely.&nbsp;Schools will purchase pool bikes for pupils to use, install on-site cycle parking, run cycle safety";}
        
        


 