


@{ViewBag.Title = "Mayor brings London's rail industry together to get set for the London 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor brings London's rail industry together to get set for the London 2012 Games</h1>
        <div class="content-page-press-release">
        27 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the train companies serving London have today met with Mayor Boris Johnson at the third Mayor's Rail Summit at City Hall, confirming plans to ensure London is kept moving and open for business during the London 2012 Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are not complacent and this gathering of key transport bodies is seeking to ensure unprecedented coordination is in place, that no stone has been left unturned or eventuality unprepared for."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are not complacent and this gathering of key transport bodies is seeking to ensure unprecedented coordination is in place, that no stone has been left unturned or eventuality unprepared for.
                            
                        </p>
                    </div>
                
            
            
            <p>Attendees of the summit, chaired by the Mayor, pledged that the close working that has been established between TfL, the train companies and other Games partners will continue and intensify in coming months to support world-class events this summer.</p>
<p>The train companies have signed up to provide thousands of extra services during the Games - running longer trains, earlier services to ensure spectators can get to morning events&nbsp; and additional late-night services to get spectators home at night. </p>
<h2>Plan well ahead</h2>
<p>Javelin services will ferry an estimated 25,000 people each hour to and from St. Pancras International and Stratford International and the Tube will run around an hour later than normal during the Games, with extra services later in the evening on the busiest days.</p>
<p>Network Rail's Games timetable was published in July of last year, a year in advance rather than the usual 12 weeks, to allow spectators to plan their travel well ahead.</p>
<p>Network Rail is suspending all disruptive engineering works on rail routes serving Games venues and other suburban rail in London from the end of June to early September - covering both the Olympic and Paralympic Games. </p>
<p>TfL and Network Rail are also suspending all planned weekend engineering closures on the Tube, Docklands Light Railway (DLR) and rail networks for 10 days before the Olympic Games until the end of the Paralympic Games. </p>
<h2>New accessible stations</h2>
<p>The London Overground network, which serves Games venues in Stratford and Wembley, has been extended and upgraded, with new stations and a fleet of new trains.</p>
<p>A whole new branch of the DLR has been constructed and completed a year ahead of the Games - with additional high frequency services and four brand new fully accessible stations including the new Stratford International station at the gateway to the Olympic Park. </p>
<p>Other huge improvements have been delivered across the network, with further capacity upgrades and the redevelopment of Stratford regional station.</p>
<p>Planning is under way to manage busy Network Rail/London Underground interchanges like London Bridge, Victoria, Charing Cross and elsewhere, and a public awareness campaign urging people to plan their journeys to 'get ahead of the Games' has now been launched across country. </p>
<h2>Extra services</h2>
<p>Mayor of London, Boris Johnson, said: 'We are now entering the final straight of our preparations to ensure we put on the greatest show on earth this summer.</p>
<p>'Transport is a vital element and the required upgrades have been completed, lines extended, and plans put in place for extra services to meet surging Games-time demand. </p>
<p>'But we are not complacent and this gathering of key transport bodies is seeking to ensure unprecedented coordination is in place, that no stone has been left unturned or eventuality unprepared for.'</p>
<p>Tom Smith, Chairman of the Association of Train Operating Companies, said: 'Transport will be key to a successful 2012 Games, and providing a world-class service is very much a team effort. </p>
<h2>Easier and quicker</h2>
<p>'Train companies are committed to playing their part in ensuring that the Capital's railways and passengers are fully prepared for the Olympics and Paralympics, helping spectators get to and from events while continuing to offer the services that keep millions of regular customers moving each day.</p>
<p>'In addition to our commitment to delivering first rate transport for the Games, today we have agreed on a range of measures to keep on improving services for Londoners across the board, making rail travel easier, quicker and more reliable.'</p>
<p>Significant progress has been made over the last 12 months since the last Mayor's Rail Summit, including the continued successful roll-out, and rise in popularity, of Oyster pay as you go&nbsp;on National Rail services.</p>
<p>Since its introduction, train companies have been working with TfL to improve the service, particularly for passengers who forget to touch out at the end of their journey, with a new system which uses information on passengers' travel histories to complete journeys automatically if they do not touch out, preventing regular users from being charged the maximum fare. </p>
<h2>Investing and installing</h2>
<p>Hundreds more cycle parking spaces have also been installed and thousands of pounds have been invested in access improvements at stations across the Capital.</p>
<p>At today's meeting a further series of improvements were set out to make rail travel across the capital even better over the coming year. These include:</p>
<ul>
<li>To continue improvements to Oyster pay as you go on National Rail services, including an online customer account through which passengers can check their journey details and charges, and request fare changes directly from the Oyster help centre </li>
<li>Smarter ticketing for Londoners - Work will continue to develop contactless bank card technology, allowing passengers to travel without the need to pre-purchase tickets or load money onto their Oyster </li>
<li>Better information for passengers during disruption -&nbsp;A series of improvements introduced by operators over the last year - including email and social media alerts and staff training - will continue with a raft of measures in 2012 </li>
<li>The Mayor and train companies will work together to seek sustained and continued investment to improve transport in London and meet the expected rise in demand in coming years</li></ul>
<p>
<hr>
&nbsp; 
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Oyster pay as you go was extended to all 350 National Rail stations in January 2010. Since then the number of journeys made using Oyster pay as you go has steadily increased. At last year's Mayoral summit, train companies agreed to remove the Oyster Extension Permit system after feedback showed passengers found it confusing. In 2011, journey numbers rose by 45 per cent, from 83 million to 120 million journeys, and reached an all time high last month </li>
<li>Around &pound;6.5bn has been invested in upgrading and extending transport links and this will enable spectators to get to and from the Games each day and ensure TfL and the rail companies keep London moving </li>
<li>This is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the Games<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Attendees of the summit, chaired by the Mayor, pledged that the close working that has been established between TfL, the train companies and other Games partners will continue and intensify in coming months to support world-class events this summer.The";}
        
        


 