


@{ViewBag.Title = "Mayor announces innovative bus technology set to deliver cleaner air across London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces innovative bus technology set to deliver cleaner air across London</h1>
        <div class="content-page-press-release">
        02 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trials show abatement equipment reduces bus nitrogen oxide (NOx) emissions by 88 per cent and particulate matter (PM10) emissions by 77 per cent.
        
    </div>



 <div class="on-this-page">
<p>Innovative green wall set for the Mermaid Theatre on one of London's busiest roads to trap pollution.</p>
<p>
<hr>

<p>
<p>The Mayor has announced that more bus routes across the Capital are set to benefit from vehicles fitted with innovative technology to reduce pollution.&nbsp; </p>
<p>In addition, a second 140m-square green wall is set to be installed in central London helping to trap harmful road transport emissions.</p>
<p>The Mayor and Transport for London (TfL) have trialed two types of technology that is fitted to bus exhaust pipes to reduce either PM10 or NOx pollution.&nbsp; </p>
<p>Results have shown significant reductions in emissions on buses piloting the equipment with PM10 reduced by 77 per cent and NOx has reduced by 88 per cent.&nbsp; </p>
<p>Following these successful trials, the Mayor has now confirmed the wider introduction of the technology.&nbsp; </p>
<p>A total of 155 buses on routes 7, 10, 48, 49, 56, 148 and 205 will be the first to be fitted with equipment to cut PM10 levels.&nbsp; </p>
<p>The routes have been selected based on levels of current air quality and include Marylebone Road, Park Lane and Marble Arch.&nbsp; </p>
<p>The equipment will be installed, starting&nbsp;in March and completed by September this year.</p>
<p>In addition, up to 1,000 older buses are set to receive the NOx reducing equipment. </p>
<p>This is the largest retrofit of this type of equipment in the UK.&nbsp; </p>
<h2>Green wall</h2>
<p>TfL will target around 50 bus routes where concentrations of NOx are highest, with the first converted buses expected by summer 2012 and is currently in consultation with bus operators on finalising routes.&nbsp; </p>
<p>Routes selected will include areas of high nitrogen dioxide (NO2) exceedences throughout London such as Elephant &amp; Castle, Brixton and Putney.</p>
<p>Furthermore, following the completion of a green wall on Edgware Road Tube station adjacent to Marylebone Road, a second green wall is now set to be built (subject to planning permission) on the Mermaid Theatre at Blackfriars on Upper Thames Street. </p>
<p>Green walls are visually stunning while also trapping pollutants, removing them from the air.&nbsp; </p>
<p>These initiatives are part of the Mayor's Clean Air Fund which has been financed at the request of the Mayor, by an initial &pound;5m from the Department for Transport (DfT)&nbsp;to deliver targeted local measures tackling PM10. </p>
<p>The Mayor has subsequently secured an additional &pound;5m from the DfT (match-funded with &pound;5m from TfL) to expand the Clean Air Fund into a second stage which is funding the NOx bus retrofit work. </p>
<p>Discussions are ongoing with the Government on funds for further Clean Air Fund measures.</p>
<p>The Mayor of London, Boris Johnson, said: 'I am committed to delivering cleaner air in London and we are pushing the boundaries of current technology to achieve this.&nbsp; </p>
<p>'Having secured millions of pounds of funding from Government, we are introducing this clever equipment to cut bus engine pollution on routes across the Capital.&nbsp; </p>
<p>'This follows the arrival on our streets of hybrid and hydrogen buses as well as the New Bus for London, which is the greenest hybrid bus yet.'</p>
<h2>Cleanest in the UK</h2>
<p>London's bus fleet is already the cleanest in the UK but buses are still a major source of NOx - a harmful pollutant - especially in Inner London.&nbsp; </p>
<p>The new equipment will cut NOx emissions from buses by around 400 tonnes - around 10 per cent of all bus NOx emissions - making a substantial contribution to delivering the Mayor's air quality ambitions.&nbsp; </p>
<p>This is one way the Mayor is delivering cleaner air for London. </p>
<p>Other measures include targeted initiatives at pollution hot spots, banning the most polluting taxis with 2,600 expected to be affected this year alone.&nbsp; </p>
<p>In addition, the Mayor's New Bus for London uses the latest generation of green technology and emits less than half the NOx and PM10 emissions of a current diesel bus.&nbsp; </p>
<p>From 3 January, the Mayor also introduced tighter Low Emission Zone (LEZ)&nbsp;standards.&nbsp; </p>
<p>The initial results of TfL's monitoring indicates that the vast majority of the owners of vehicles affected by the changes to the Low Emission Zone that came into effect have taken action to ensure their vehicles comply with the new emission standards.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>In the first month almost 98 per cent&nbsp;of vans, minibuses and other specialist vehicles, affected by the LEZ for the first time, were meeting the new standards. </p>
<p>Lorries, buses and coaches, that were already affected by LEZ and were required to meet more challenging emission standards, are showing compliance rates of almost 90 per cent.</p>
<h2>Lowering emissions</h2>
<p>The Mayor's air quality strategy proposes that, subject to funding, all London buses should meet Euro IV (categories of vehicle approved by Europe to meet cleaner pollution levels) standards for NOx by 2015.&nbsp; </p>
<p>Currently, all 8,500 London buses meet the Euro IV standard for PM10.</p>

<p>This new equipment will be fitted to older Euro III buses to bring them to Euro IV NOx standards. </p>
<p>TfL estimates that by 2015, 7,500 buses will be Euro IV NOx compliant (through replacing older buses with newer, cleaner models or through retrofitting).&nbsp; </p>
<p>Additional funding is now being sought for the replacement or retrofitting of an estimated remaining 1,000 Euro III buses which would need to meet this standard by 2015.&nbsp; </p>
<p>TfL has taken considerable steps in the last 10 years to reduce the environmental impact of its bus fleet.&nbsp; </p>
<p>As a result, emissions of PM10 from the fleet have dropped from more than 200 tonnes in 1997 to 15 tonnes in 2011. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>NOx is primarily made up of two pollutants, nitric oxide (NO) and NO2.&nbsp; Stringent EU targets are in place for NO2 </li>
<li>TfL operates five hydrogen buses, on the route RV1 between Covent Garden and Tower Gateway. They emit only water vapour </li>
<li>TfL already has more than 200 hybrid buses in the fleet and this will rise to more than 300 by 2012 </li>
<li>All Euro II and III buses are already fitted with Diesel Particulate Filters (DPFs) and meet the LEZ Euro IV for PM standard.&nbsp;The DPFs will be fitted to Euro IV and V to reduce PM levels over and above the exhaust after treatment fitted to the original vehicle.&nbsp;The Selective Catalytic Reduction (SCRs) will be fitted to Euro III buses.&nbsp;The vast majority of IV and V already have SCRs fitted</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Innovative green wall set for the Mermaid Theatre on one of London's busiest roads to trap pollution.The Mayor has announced that more bus routes across the Capital are set to benefit from vehicles fitted with innovative technology to reduce";}
        
        


 