


@{ViewBag.Title = "New card to make travel easier for people with hidden disabilities";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New card to make travel easier for people with hidden disabilities</h1>
        <div class="content-page-press-release">
        22 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Initiative is one of dozens delivered as part of huge programme of investment ahead of the Games. Hundreds of millions invested in accessibility as part of &pound;6.5bn spent on upgrading vital infrastructure to provide a lasting legacy.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want everyone who needs support to get it"</div>
        <div class="quote-footer">
            <div class="quotee-name">Wayne Trevor</div>
            <div class="quotee-job-title">LU's Accessibility & Inclusion Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want everyone who needs support to get it 
                            
                        </p>
                    </div>
                
            
            
            <p>As part of the work to make the transport network in London as accessible as possible, Transport for London (TfL) has today launched a new Travel Support Card for people with hidden disabilities, such as learning and communication difficulties, to help them use public transport more easily.</p>
<p>Showing the credit card-sized card will alert members of staff that the passenger may need support, and will help people with invisible disabilities have more confidence in asking for help. </p>
<p>TfL worked with disability charities in developing and launching the new card, which can be downloaded and printed from the TfL website. </p>
<p>It includes space to write anything that could help transport staff to give the right support, and for passengers to include their names and a number to call in times of an emergency.</p>
<p>The card is the latest of dozens of initiatives undertaken by TfL to improve accessibility on the transport network ahead of the Olympic and Paralympic Games and beyond.</p>
<p>Hundreds of millions of pounds has been invested in accessibility improvements as part of the &pound;6.5bn spent on upgrading vital infrastructure.&nbsp; </p>
<p>This investment means that London has a wide range of accessible transport options to ensure people with a disability or reduced mobility can get to the London 2012 Games, and will provide a lasting legacy with even more Tube stations being upgraded in the years to come.</p>

<h2>Lasting legacy</h2>
<p>On the Tube alone:</p>
<ul>
<li>A total of 166 Tube stations have been refurbished and since 2008, 15 additional Tube stations have been made step-free (a further Tube station will be made step-free before the Games making a total of 16) </li>
<li>Sixty-four Tube stations are step-free from street to platform, rising to 65 by the Games (with Farringdon).&nbsp;This includes key stations like Stratford, Southfields (for tennis at Wimbledon), Green Park, King's Cross St. Pancras and Blackfriars.&nbsp;The number of step-free access stations has increased by 26 per cent since 2008 (50&nbsp;stations) and 70 per cent since 2000 (37 stations) </li>
<li>TfL plan to deliver step-free access at a further eight stations by 2018 (Paddington [Hammersmith &amp; City], Vauxhall, Bond Street, Tottenham Court Road, Ealing Broadway, Whitechapel, Victoria and&nbsp;Wembley Central). Work is already under way at a number of TfL's busiest interchange stations: Paddington (by 2013), Victoria, Bond Street, and Tottenham Court Road by 2018. More than 250 wide aisle gates have been installed on Underground stations to provide easier access for wheelchair users and assistance dog owners </li>
<li>Ninety per cent of Tube station platforms have tactile paving for visually impaired people, which will rise to 100 per cent by 2013. In addition, 335 electronic visual display boards have been installed&nbsp;at 250 stations. All stations have CCTV, clear large signage and public address systems </li>
<li>London Underground's (LU's) train fleet is being replaced - boosting accessibility. The Victoria line has all new trains and raised platforms at stations to make it easier for wheelchair users to board trains. By the end of 2012/13 the introduction of new rolling stock will be complete on the Metropolitan line, followed by the Circle, Hammersmith &amp; City, and District lines by the end of 2015/16, providing greater wheelchair space and other accessible features </li>
<li>In addition, there are plans to have level access at more than a hundred more platforms as part of the upgrade of the District, Metropolitan, Circle and Hammersmith &amp; City lines </li>
<li>All front line staff working in Tube stations receive disability awareness training, and undertake a refresher course every year </li>
<li>A wide range of information is available to passengers, including step-free and avoiding stairs guides with LU staff, present at every Tube station during opening hours, always on hand to assist passengers with their travel needs </li>
<li>To supplement its 'mainstream' information provision, TfL runs a successful Travel Mentoring Service for disabled people. This service provides approximately 9,000 accompanied journeys a year with a travel mentor to improve the confidence of disabled people in using London's public transport system </li>
<li>In 2011 TfL changed the Bylaws to make it easier for some assistance dog users to use Tube stations. Assistance dogs which have been specifically trained in how to use escalators (and carry the appropriate identification) are now able to use escalators</li></ul>
<p>Wayne Trevor, LU's Accessibility &amp; Inclusion Manager, said:&nbsp; 'All Tube stations are staffed and every day they help many customers including disabled passengers. </p>
<p>'But with more than four million passengers using London Underground every day we want everyone who needs support to get it even if their requirements aren't obvious or they aren't confident about approaching staff.</p>
<p>'This new card is designed to make life easier for people who may need help, but do not have a visible disability, and it is just one element in the enormous range of initiatives that we have taken to improve accessibility on the transport network.</p>
<p>'We have invested hundreds of millions of pounds in new lifts, trains, platform humps, wide aisle gates, tactile paving, audio and visual displays and other improvements. </p>
<p>'Together these, and the vast array of other accessible transport options, will ensure that passengers with disabilities will be able to get to the Games and will provide a lasting legacy for all Londoners.'</p>

<h2>Accessible transport options</h2>
<p>Following improvements made in recent years London now has an enormous range of accessible transport options, including an 8,500 strong bus network, which is the most accessible fleet in the country. </p>
<p>The entire fleet is fitted with wheelchair ramps and each bus has space allocated for wheelchair users.</p>
<p>In addition:</p>
<ul>
<li>A total of 100 per cent of buses are low-floor wheelchair accessible and 59 per cent of bus stops are now accessible, (up from 29 per cent&nbsp;since 2008) </li>
<li>All Docklands Light Railway stations are step-free </li>
<li>All tram stations are step-free </li>
<li>The entire taxi fleet of 22,000 vehicles is wheelchair accessible </li>
<li>All new London Overground stations are step-free such as Shoreditch High Street, Hoxton, Haggerston, Dalston Junction and Imperial Wharf </li>
<li>All London River Service piers are step-free at all states of the tide, allowing access for mobility impaired passengers </li>
<li>Thames Clippers' boats are accessible at all piers </li>
<li>Nearly 40 per cent&nbsp;of all stops and stations across London's rail based public transport network are currently step-free, up from around 30 per cent&nbsp;in 2008. TfL expect the number of step-free stations to rise to 45 per cent&nbsp;by 2015 and be at 50 per cent&nbsp;well before the end of the decade* </li>
<li>Dial-a-Ride made a record 1.3 million trips in 2010/11, an 18 per cent increase on 2007/08 with 200,000 more journeys; Taxicard trips have gone from 1.4 million trips in 2007/08 to 1.9 million in 2010/11 - an increase of 35 per cent </li>
<li>The disabled Freedom Pass continues to benefit disabled users, providing over 170,000 journeys per day</li></ul>
<p>TfL requires that all London Bus drivers receive thorough and comprehensive training before they are allowed to drive a bus and carry passengers, and are trained to recognise how best to meet differing passenger needs, which includes stopping correctly at bus stops to ensure the ramp can deploy fully. </p>

<h2>Bespoke training </h2>
<p>In addition, TfL requires every bus driver to pass a bespoke BTEC qualification within their first year of service, aimed at raising standards of driving and improving customer service skills.&nbsp; </p>
<p>TfL is currently reviewing the Big Red Book (a staff handbook issued to bus drivers) and an updated version will be issued in spring 2012. </p>
<p>The book&nbsp; includes a comprehensive section on how to meet the needs of disabled passengers including: guidance on pulling in close to the kerb at bus stops where possible, kneeling the bus to assist passengers who need help boarding, allowing older and disabled passengers time to hold on or get to a seat before driving off. </p>
<p>In addition it includes guidance on how to assist visually impaired passengers, wheelchair users, and rules surrounding assistance dogs and mobility devices/walkers. </p>
<p>The revised version will include updated guidance on access to buses for mobility scooters.</p>
<p>An army of volunteers will be drafted in to assist our operations during Games time. </p>
<p>They will also undergo a rigorous training programme; ensuring plans are in place for disabled spectators to be supported during their journeys at Games time through better information and visible reassurance.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>*This includes National Rail stations as well as London Underground, London Overground, DLR and London Tramlink stations and stops.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of the work to make the transport network in London as accessible as possible, Transport for London (TfL) has today launched a new Travel Support Card for people with hidden disabilities, such as learning and communication difficulties, to help";}
        
        


 