


@{ViewBag.Title = "New online process announced for London Service Permits";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New online process announced for London Service Permits</h1>
        <div class="content-page-press-release">
        24 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has today unveiled a new online application process to make it easier for bus and coach operators to apply for, amend or cancel a London Service Permit.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By reducing the amount of physical paperwork and making it a simple online application we will be able to provide a quicker and more efficient turnaround time for anyone wishing to apply."</div>
        <div class="quote-footer">
            <div class="quotee-name">Barry Skinner</div>
            <div class="quotee-job-title">Licensing Manager for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By reducing the amount of physical paperwork and making it a simple online application we will be able to provide a quicker and more efficient turnaround time for anyone wishing to apply.
                            
                        </p>
                    </div>
                
            
            
            <p>Whilst most buses operating throughout the Capital run services contracted by London Buses, certain services such as open-top tour buses and commuter coach services, require a London Service Permit to operate.&nbsp; </p>
<p>The online process has been designed to be simple and intuitive, making it quicker and simpler for any operator wishing to apply for, amend or cancel a London Service Permit.&nbsp; </p>
<p>This replaces a paper based application process.</p>
<p>Barry Skinner, Licensing Manager for London Buses said: 'The introduction of this online application for London Service Permits is part of a commitment to improve and simplify dealings with Transport for London.&nbsp; </p>
<p>'By reducing the amount of physical paperwork and making it a simple online application we will be able to provide a quicker and more efficient turnaround time for anyone wishing to apply.'</p>

<p>
<hr>
<strong>Notes to editors: <p>
<ul>
<li></li></ul></strong>Operators of local bus services that are not part of the London bus network are required to possess a London Service Permit granted by Transport for London. In considering an application for a London Service Permit, TfL is required to ensure that the proposed service will meet a set criteria laid down by the Mayor of London 
<li>Operators are required to submit their applications to Transport for London by 12 March&nbsp;to take account of necessary changes resulting from the 2012 Olympics and Paralympics </li>
<li>Details of the London Service Permit process along the with the new on-line application forms are available on <a href="http://www.tfl.gov.uk/lsp">tfl.gov.uk/lsp</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Whilst most buses operating throughout the Capital run services contracted by London Buses, certain services such as open-top tour buses and commuter coach services, require a London Service Permit to operate.&nbsp; The online process has been designed to";}
        
        


 