


@{ViewBag.Title = "Read it and bin it, newspapers can cause Tube delays ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Read it and bin it, newspapers can cause Tube delays </h1>
        <div class="content-page-press-release">
        28 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new advertising campaign by LU is encouraging customers to take their newspapers and litter with them or put their rubbish in a bin so it can be recycled.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Leaving coffee cups, fast food packaging or newspapers on trains can lead to items getting stuck in doors or falling on the track. By taking their litter with them or putting it in the bin passengers can help us run the Tube more smoothly"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">Director of Strategy and Service Development for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Leaving coffee cups, fast food packaging or newspapers on trains can lead to items getting stuck in doors or falling on the track. By taking their litter with them or putting it in the bin passengers can help us run the Tube more smoothly
                            
                        </p>
                    </div>
                
            
            
            <p>Posters have already started appearing at Tube stations explaining that 'What doesn't go in the bin causes delays on the track'. </p>
<p>Coffee cups, cans of drink, bottles, fast food packaging, as well as newspapers, can get stuck in train doors or fall on the track, which can result in services being delayed or suspended. Disposing of rubbish in an appropriate way can help make the Tube more reliable.&nbsp; </p>
<p>Passengers often do not see newspapers as litter and leave them on trains or platforms for other people to read. </p>
<p>These items can sometimes blow onto the track and cause signal failures or create an obstruction by getting jammed in track and signalling equipment. </p>
<p>Rubbish left on stairs, lifts and at the top of escalators can cause slip hazards or become lodged in machinery under the escalator.</p>
<p>By taking their litter with them customers can help LU cut delays. </p>
<p>Cleaning teams across London Underground are carefully deployed at times and places when litter builds up the most on the network, but passengers can also help keep stations clean making the Tube more pleasant for everybody.&nbsp; </p>
<p>Gareth Powell, Director of Strategy and Service Development for London Underground, said: 'Customers don't always think of newspapers as rubbish when they are on a train or at a station. Leaving coffee cups, fast food packaging or newspapers on trains can lead to these items getting stuck in doors or falling on the track. By taking their litter with them or putting it in the bin passengers can help us run the Tube more smoothly and improve reliability.</p>
<p>'This new litter campaign is asking people to dispose of their rubbish in a bin so it can be recycled, minimising delays for the millions of people that use the Tube a day.&nbsp;This will also make the Tube cleaner and more pleasant for everybody.'</p>
<h2>Take out the papers and the trash</h2>
<p>In 2011, 97 newspapers, 76 drinks cans and bottles, 20 fast food items and 61 other objects were caught in train doors causing delays to services. </p>
<p>In total there were 327 litter related incidents which caused disruption on the network last year. </p>
<p>This new advertising campaign will include up to 500 posters at stations and on trains asking customers to take their rubbish with them. The advertising slogans in the posters or newspaper adverts will be:</p>
<p>'This advert is rubbish'</p>
<p>'What doesn't go in the bin causes delays on the track'</p>
<p>'The newspaper you are reading is rubbish'</p>
<p>'What doesn't go in the bin causes delays on the network'</p>
<p>Last year LU increased the number of bins by twenty-five per cent which means there is now access to a bin on any journey on the Tube. </p>
<p>Customers can use the 1,600 plus bins that are in, or within walking distance of 270 Tube stations. </p>
<p>In the coming months LU will also be installing further bins at stations to make it even easier for customers to dispose of their litter for recycling.&nbsp;</p>
<p>LU now recycles over two thirds of the rubbish left on the Tube network. <br>&nbsp;<br>This supports the Mayor of London's ambition to make the capital a cleaner, safer and greener place for the 2012 Games and beyond. </p>
<p>The Mayor is working to encourage Londoners to take responsibility for the cleanliness of their environment, for example through the Capital Clean-up campaign, which has led to more than 1,000 litter picks, clean-up events and graffiti removals over the past five years.</p>
<p>
<hr>
<strong>Notes to editors: </strong></p>
<ul>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> </li>
<li>Images are available on request. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Posters have already started appearing at Tube stations explaining that 'What doesn't go in the bin causes delays on the track'. Coffee cups, cans of drink, bottles, fast food packaging, as well as newspapers, can get stuck in train doors or fall on the";}
        
        


 