


@{ViewBag.Title = "TfL works to keep London moving as week begins with lingering snow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL works to keep London moving as week begins with lingering snow</h1>
        <div class="content-page-press-release">
        06 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Leon Daniels, Managing Director of Surface Transport, said:
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            4,000 tonnes of grit have been spread across the Capital's roads
                            
                        </p>
                    </div>
                
            
            
            <p>"We have worked tirelessly from Saturday afternoon onwards, gritting the Capital's main roads every few hours and clearing snow and ice from the London Underground network."</p>
<p>"All of London's strategic road network, and the Capital's other major routes, are open this morning. We are running 100 per cent of buses with only one route with a minor diversion, trains are operating across all lines on the Tube, DLR and London Overground network and 4,000 tonnes of grit have been spread across the Capital's roads."</p>
<p>"London is moving this morning, and we will be out in force again throughout the day clearing snow and keeping the Tube, DLR and London Overground networks running and gritting London's strategic routes with thousands of tonnes of salt."</p>
<p>ENDS</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'We have worked tirelessly from Saturday afternoon onwards, gritting the Capital's main roads every few hours and clearing snow and ice from the London Underground network.''All of London's strategic road network, and the Capital's other major routes, are";}
        
        


 