


@{ViewBag.Title = "TfL confirms priority junctions for cycle safety review";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL confirms priority junctions for cycle safety review</h1>
        <div class="content-page-press-release">
        07 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) holds initial meeting with cycling groups and other road user representatives. The first junctions proposed for priority review include St George's Circus, Highbury Corner and Stockwell Gyratory.
        
    </div>



 <div class="on-this-page">
<p>Work to deliver improvements at Bow Roundabout expected to begin in April 2012.</p>
<p>
<hr>
</p>
<p>TfL today confirmed which key London junctions will be the first of 500 to be examined as part of a major review of cycle safety ordered by the Mayor.</p>
<p>Highbury Corner, St George's Circus and Tottenham High Road/West Green Road are among those proposed as priorities for review by the summer. </p>
<p>Those junctions were prioritised using a range of criteria including cycle collision statistics. </p>
<p>Work is also underway to review junctions on the Barclays Cycle Superhighways. </p>
<p>These junctions have been prioritised using a combination of customer feedback, post-launch road safety audits and collision data. </p>
<p>The Barclays Cycle Superhighways junctions proposed for priority review include Cable Street, Stockwell Gyratory and Grove Road/Burdett Road.</p>
<p>Towards the end of 2011 a number of cyclists were killed on London's roads including two in the vicinity of Bow roundabout. </p>
<p>As a result, the Mayor asked TfL to carry out a thorough review of around 150 major junctions and planned schemes on TfL roads as well as all junctions on the existing Barclays Cycle Superhighways, to see if more could be done for cyclists in these locations. </p>
<h2>Step-change in travel</h2>
<p>TfL has already formed a steering group and held the first of a series of meetings with key stakeholders as part of the junction review programme. </p>
<p>Senior staff from TfL and representatives of the main road user groups including freight vehicle drivers, motorists, cyclists, pedestrians and road safety organisations will continue to meet regularly to discuss the establishment and progression of the review. </p>
<p>That group will help TfL to consider the design options for various junctions and to identify a preferred option in each case. </p>
<p>The Mayor of London, Boris Johnson, said: 'We are seeing a step-change in both the way that people choose to travel, but also in the way that cyclists are viewed on our streets. </p>
<p>'That is why I firmly believe that we must now start to evolve the means by which we plan and manage our extensive network of roads, and why I have asked TfL to review hundreds of key junctions across the Capital to specifically examine safety and provision for cyclists.'</p>
<p>TfL is also currently discussing with cycling groups and key local stakeholders their views about proposals to improve the safety of cyclists using Bow Roundabout in east London. </p>
<p>The new design would look to give cyclists an 'early start' at green lights as one of a number of improvements to be made there. </p>
<p>Subject to agreement with stakeholders, it is hoped that work at Bow Roundabout will be able to begin in April 2012 so that improvements can be delivered ahead of the London 2012 Games. </p>
<h2>Better accessibilty</h2>
<p>TfL will also make a number of urban realm improvements at the same time including measures to improve pedestrian accessibility. </p>
<p>These will include new footway surfacing, reduced street clutter, as well as improving crossings by providing dropped kerbs and tactile paving. </p>
<p>New Legible London signage will also be installed in the area, helping pedestrians find their way to nearby attractions or shops. </p>
<p>TfL will also be working with the boroughs, local community organisations and landowners to develop options for more significant changes in and around Bow roundabout as new housing and other developments come on stream over the next five to ten years.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL said: 'Improving safety for cyclists in London has always been a key focus for TfL whenever designing or implementing any improvements to our road network. </p>
<p>'By getting key stakeholders from road user groups involved as part of our junction review process, we can build on the good work and skills-base already available to ensure London becomes an even more world class city for cyclists.'</p>
<p>Find out more about the <a href="http://www.tfl.gov.uk/junctionreview">junction review</a>.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The review includes all 375 junctions on the existing Barclays Cycle Superhighways (routes 2, 3, 7 and 8). TfL does not expect all of these junctions to require a redesign</li>
<li>The review also includes around 150 major junctions and planned schemes on the TfL Road Network. The majority of these are locations where work is already planned and is in the design stage</li>
<li>The Steering Group is made up of representatives from the following organisations:</li>
<ul>
<li>TfL</li>
<li>Freight Transport Association&nbsp;</li>
<li>Living Streets&nbsp;</li>
<li>London Cycling Campaign&nbsp;</li>
<li>Roadpeace&nbsp;</li>
<li>SUSTRANS</li>
<li>Road Haulage Association&nbsp;</li>
<li>Institute of Advanced Motorists&nbsp;</li>
<li>London Technical Advisors Group&nbsp;</li>
<li>Metropolitan Police Service</li></ul>
<li>Any improvements to be delivered as a result of the junction review would be delivered after the London 2012 Games. However, as previously announced, TfL intends to start delivering improvements to cycling facilities at Bow roundabout ahead of the 2012 Games</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work to deliver improvements at Bow Roundabout expected to begin in April 2012.TfL today confirmed which key London junctions will be the first of 500 to be examined as part of a major review of cycle safety ordered by the Mayor.Highbury Corner, St";}
        
        


 