


@{ViewBag.Title = "TfL reveals design for transformed Euston Circus junction ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL reveals design for transformed Euston Circus junction </h1>
        <div class="content-page-press-release">
        01 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Junction will provide new public space as well as better facilities for pedestrians and cyclists.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With increasing numbers of pedestrians and cyclists now travelling through the area, this transformation will provide a significant improvement for existing users, as well as cater for the anticipated growth in the number of users in the future."</div>
        <div class="quote-footer">
            <div class="quotee-name">Daniel Moylan</div>
            <div class="quotee-job-title">Deputy Chairman of Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With increasing numbers of pedestrians and cyclists now travelling through the area, this transformation will provide a significant improvement for existing users, as well as cater for the anticipated growth in the number of users in the future.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New design will result in a simplified traffic layout and will facilitate the future introduction of a southbound bus lane on Tottenham Court Road </li></ul>

<p>Transport for London (TfL) has today revealed plans for a radically improved Euston Circus, which will deliver a greener, more user-friendly area for all in the heart of the Capital.</p>
<p>The junction, which links Euston Road, Tottenham Court Road and Hampstead Road, has for many years been a traffic dominated area which acts as a significant barrier for pedestrians and cyclists.</p>
<p>The new design, which has been developed for TfL in partnership with Camden Council, Design for London and British Land, will simplify the junction layout (meaning that pedestrians will have to use fewer crossings) and improve access to nearby Tube stations and University College London Hospitals (UCLH). </p>
<h2>Safer and simpler</h2>
<p>The new junction layout will provide simpler and safer journey options for cyclists, with an enhanced contraflow cycle lane along Euston Road. </p>
<p>A new public space will also be created with wider pavements, new trees and additional landscaping improvements being delivered throughout the area to improve the look of the junction. </p>
<p>TfL will install new Legible London signs throughout the area, helping pedestrians take the quickest route to nearby attractions or shops.</p>
<p>The improvements form a key part of the Mayor of London's Great Outdoors programme, which has seen &pound;355m invested in more than 80 public realm improvement projects since it was established in 2009. </p>
<h2>A great world city</h2>
<p>The programme looks to improve public spaces in London, ensuring that the Capital's streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and, most importantly, help improve the quality of life for all.</p>
<p>TfL is now engaging with local stakeholders, residents and businesses to discuss the proposals and take onboard any additional comments while final designs are being drawn up.</p>
<p>As part of this engagement, TfL will be holding two exhibitions at the William Road Gallery, 7-9 William Road NW1 3ER between 16:00 and 19:00 on 7 and 9 February 2012. </p>
<p>At the exhibitions, local residents and people who work in the area can come and see more detailed information about the project and meet the team who are going to manage the construction. </p>
<h2>Significant improvement</h2>
<p>Daniel Moylan, Deputy Chairman of TfL, said: 'Euston Circus has for many years been an area dominated by road traffic. </p>
<p>'With increasing numbers of pedestrians and cyclists now travelling through the area, this transformation will provide a significant improvement for existing users, as well as cater for the anticipated growth in the number of users in the future.'</p>
<p>Councillor Sean Birch, Cabinet Member for Sustainability and Transport, Camden Council, said: 'Although the name may be unfamiliar to many, millions of pedestrians and cyclists pass through Euston Circus every year. </p>
<p>'These proposals will transform the area and make Euston Circus a new, safe and friendly "place" on Euston Road for residents and visitors. </p>
<h2>Benefits for all</h2>
<p>'It is also a key first step in delivering our wider package of improvements, which will transform Camden's part of the West End.'</p>
<p>Work is currently programmed to begin in October 2012 and is expected to take around one year to complete.</p>
<p>During this time, TfL will make every effort to minimise the impact of the works on all road users and pedestrians by working outside the busiest times and overnight where possible. </p>
<p>For more information about the scheme, please visit <a href="http://www.tfl.gov.uk/eustoncircus">www.tfl.gov.uk/eustoncircus</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>'London's Great Outdoors - A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London. This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital </li>
<li>They are accompanied by an implementation plan that will see &pound;355m invested in over 80 public realm improvement projects between 2009 and 2012 Games, funding for which comes from TfL, The London Development Agency and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both the pedestrians and vehicles and reclaimed derelict green spaces and underused waterways </li>
<li>The manifesto and guides have been written and produced by the Greater London Authority, London Development Agency, Design for London and TfL.&nbsp;For further information please go to <a href="http://www.london.gov.uk/greatoutdoors">www.london.gov.uk/greatoutdoors</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New design will result in a simplified traffic layout and will facilitate the future introduction of a southbound bus lane on Tottenham Court Road Transport for London (TfL) has today revealed plans for a radically improved Euston Circus, which will";}
        
        


 