


@{ViewBag.Title = "TfL-funded police officers continue to reduce Blackwall Tunnel delays for drivers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL-funded police officers continue to reduce Blackwall Tunnel delays for drivers</h1>
        <div class="content-page-press-release">
        03 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Unplanned tunnel closures delaying drivers reduced by almost a third. More than 900 vehicles stopped and checked by Police Tunnels Team to reduce stoppages caused by accidents, breakdowns and over-height vehicles.
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL) latest initiative to improve the Blackwall Tunnel for road users has helped reduce the amount of time the tunnel is closed to road users because of unplanned incidents by 32 per cent.</p>
<p>A joint initiative between TfL, the Metropolitan Police Service (MPS) and the Vehicle and Operators Services Agency (VOSA) has seen officers from the MPS Safer Transport Command Roads Policing Unit based permanently at the tunnel since September 2011.&nbsp; </p>
<p>The Tunnel Team was originally introduced in February 2011 for a 12-week trial period. </p>
<p>The trial was so successful in reducing the amount of time it took to reopen the tunnel after an unplanned incident that TfL agreed to fund the officers on a permanent basis.</p>
<p>This dedicated team of ten officers provides an immediate response to incidents, such as breakdowns and accidents, occurring in or around the tunnel.&nbsp; </p>
<p>As a result, during the last six months, the average time taken to deal with each accident occurring in the tunnel has reduced by more than 50 per cent, from more than 35 minutes to around 16 minutes, when compared to the same period the year before.</p>
<p>In addition, the team also carries out enforcement operations and stop-checks on potentially sub-standard vehicles to help prevent these incidents from occurring in the first place. </p>
<h2>Reducing potential disruption</h2>
<p>Since September, more than 900 vehicles have been stopped and checked, with four arrests and more than 400 fines issued for various offences, including poorly maintained vehicles and drivers not complying with height restrictions.</p>
<p>The increase in enforcement at the Blackwall Tunnel is the latest in a number of initiatives that TfL has implemented in order to improve the operation of this strategic river crossing.&nbsp; </p>
<p>TfL has extensively refurbished&nbsp; the 114-year-old northbound tunnel to bring it up to the latest safety standards and introduced, on a trial basis, a Heavey Goods Vehicle (HGV)-only lane&nbsp; to significantly improve its ability to detect over-height vehicles before they arrive at the tunnel entrance and force it to be closed while the vehicles are diverted away. </p>
<p>Since this new over-height vehicle detection lane went live in November 2011, almost 800 vehicles have been detected and diverted away from the tunnel, saving hours of potential disruption for tunnel users. </p>
<p>As a result of these initiatives, the number of incidents occurring that require the tunnel to be closed have fallen by 19 per cent in the last six months when compared to the year before. </p>
<p>By providing an improved response to, and management of, these incidents, TfL has also been able to reduce the overall time the tunnel has been closed due to unplanned events by 32 per cent over the same period.</p>
<h2>Improving traffic flow</h2>
<p>TfL's Commissioner, Peter Hendy CBE, said: 'The impact the Road Policing Unit has had on traffic disruption and delays has been fantastic on one of the busiest routes in the Capital, and the work done by the dedicated officers will benefit everyone who uses the tunnel and the surrounding area. </p>
<p>'Initiatives like these form part of the Mayor's wider strategy to improve traffic flow across the Capital, and we will continue to work with the MPS to develop on the initial successes we have already seen.'</p>
<p>Chief Superintendent Sultan Taylor, MPS Safer Transport Command (STC), said: 'The Safer Transport Command is contributing to the Mayor's strategy to smooth traffic and reduce delays by providing a dedicated, fast time response to deal with any emerging traffic incidents on one of the busiest routes in the Capital.</p>
<p>'The STC's Roads Policing Unit have specialist skills that are being deployed to Blackwall Tunnel to manage any issues that might have a negative impact on travel time.'</p>
<p>Richard Turfitt, Traffic Commissioner for the east of England and acting Traffic Commissioner for the South-East and the Metropolis, said: 'Through VOSA working closely with the Metropolitan Police and Transport for London the traffic flow on the A12 corridor, including the Blackwall Tunnel, has improved immensely.&nbsp; '</p>
<p>'This can only benefit the thousands of drivers who use the tunnel on a daily basis and the businesses which rely on deliveries through the A12 corridor.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Blackwall Tunnel was opened in 1897 and carries around 50,000 vehicles a day in both directions. The northern tunnel has a four-meter&nbsp;height restriction</li>
<li>The MPS Road Response Tunnel Team based at the Blackwall Tunnel is part of the Roads Policing Unit</li>
<li>The MPS Blackwall Tunnel Team was introduced in February 2011 for an initial 12-week trial period. Following the successful trial period the team was permanently introduced on 18 September 2011</li>
<li>The team consists of two groups of five officers (one Sergeant and four Police Constables). TfL provides the funding for the team's operations</li>
<li>In the last six months (July to December 2011), compared with the same period in 2010:</li>
<ul>
<li>The number of incidents causing tunnel closures have reduced by 19 per cent (from 1,133 incidents to 918 incidents)</li>
<li>Unplanned closure hours at the tunnel have reduced 32 per cent&nbsp;(from 120 hours to 82 hours)</li>
<li>Over-height vehicles have reduced by 18 per cent&nbsp;(from 815 incidents to 671 incidents)</li>
<li>Breakdowns have reduced 28 per cent&nbsp;(from 350 incidents to 251 incidents)</li>
<li>The number of accidents causing the tunnel to be closed has reduced by 44 per cent&nbsp;(from 39 to 22)</li>
<li>The average time taken to deal with each accident has reduced by 53 per cent; from 35.88&nbsp;to 16.69 minute</li></ul>
<li>For information on the TfL road network and travel updates visit <a href="http://www.tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL) latest initiative to improve the Blackwall Tunnel for road users has helped reduce the amount of time the tunnel is closed to road users because of unplanned incidents by 32 per cent.A joint initiative between TfL, the";}
        
        


 