


@{ViewBag.Title = "Transport for London Board rejects London 2012 Games taxi fare increase";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London Board rejects London 2012 Games taxi fare increase</h1>
        <div class="content-page-press-release">
        02 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Transport for London (TfL) Board has today rejected a proposal to increase taxi fares by 22 per cent during the London 2012 Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Each year we strive hard to balance affordability with the increasing costs taxi drivers face in providing a unique and world renowned service to the capital."</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">Director of Taxi and Private Hire at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Each year we strive hard to balance affordability with the increasing costs taxi drivers face in providing a unique and world renowned service to the capital. 
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, had previously described the proposal as a 'major own goal' for taxi drivers.&nbsp;</p>
<p>And when TfL consulted the taxi trade the vast majority of responses from drivers were also against the increase as they believed it would reflect badly on taxi drivers and discourage custom. </p>
<p>In parallel, the Board has approved a taxi fare increase of 5.3 per cent for the coming year.&nbsp;</p>
<p>Taxi fares are subject to an annual review and are calculated using a long-established formula based on the costs associated with working as a licensed taxi driver.&nbsp;</p>
<p>The Board also approved a 20 pence increase to the &pound;2.20 'flag fall' - which is the minimum fare applied to the meter when a passenger gets into the taxi.&nbsp; </p>
<p>This increase will apply across all tariff bands and is the first increase to this fee since 2005.</p>
<p>In the last year the price of fuel and the cost of insurance have both increased by 16 per cent.&nbsp;</p>
<h2>Delivering a balance</h2>
<p>The new fares seek to deliver a balance between maintaining income levels for drivers, who face disproportionately high work-related costs compared to other Londoners, whilst ensuring passengers still get value for money for the high quality and unique service provided by the capital's taxi drivers.</p>
<p>John Mason, Director of Taxi and Private Hire at Transport for London, said: 'The annual taxi fare revision considers a large number of factors that make up taxi drivers' running costs, including vehicle costs, parts, fuel and insurance.&nbsp;Each year we strive hard to balance affordability with the increasing costs taxi drivers face in providing a unique and world renowned service to the capital.&nbsp; </p>
<p>'The Mayor and TfL are convinced that the world famous knowledge that taxi drivers worked so hard to earn will play a key role this summer in transporting Games spectators and visitors around the capital.&nbsp; This increase will allow them to continue to do so while providing value for money to passengers.'<br>&nbsp; <br>Taxi fares are reviewed annually and calculated by TfL based on a cost index that has been used since 1981.&nbsp;</p>
<p>The new taxi fares will come into effect from 14 April.</p>
<p>
<hr>
<strong>Notes to Editors:</strong> 
<ul>
<li>TfL's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are calculated according to one of three tariffs. These are: </li>
<ul>
<li>Tariff 1: Monday to Friday, between 06.00 and 20.00</li>
<li>Tariff 2: Monday to Friday, between 20.00 and 22.00, and weekends between 06.00 and 22.00 </li>
<li>Tariff 3: Nightly between 22.00 and 06.00 and on public holidays</li></ul>
<li>See the latest <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Item06-020212-Board-Taxi-Fares.pdf">TfL Board paper&nbsp;on taxi fares</a> </li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Current average</td>
<td>&nbsp;New average</td>
<td>&nbsp;Increase </td>
<td>&nbsp;Increase (per cent)</td></tr>
<tr>
<td>Tariff 1</td>
<td>&pound;10.67</td>
<td>&pound;11.24</td>
<td>&pound;0.57</td>
<td>5.3</td></tr>
<tr>
<td>Tariff 2 </td>
<td>&pound;12.37</td>
<td>&pound;13.02</td>
<td>&pound;0.65</td>
<td>5.3</td></tr>
<tr>
<td>Tariff 3</td>
<td>&pound;14.54</td>
<td>&pound;15.30</td>
<td>&pound;0.77</td>
<td>5.3</td></tr>
<tr>
<td>All week</td>
<td>11.79</td>
<td>&pound;12.42</td>
<td>&pound;0.62</td>
<td>&nbsp;5.3</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, had previously described the proposal as a 'major own goal' for taxi drivers.&nbsp;And when TfL consulted the taxi trade the vast majority of responses from drivers were also against the increase as they believed it";}
        
        


 