


@{ViewBag.Title = "War on fare dodgers increases as penalty charges go up this weekend ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>War on fare dodgers increases as penalty charges go up this weekend </h1>
        <div class="content-page-press-release">
        16 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is increasing the penalty charge for non-payment on its services from &pound;50 to &pound;80 from this weekend as part of its ongoing commitment to deter and further reduce fare evasion on London's transport network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            While the level of fare evasion on the network is low, it continues to cost Londoners millions of pounds every year
                            
                        </p>
                    </div>
                
            
            
            <p>The increase in penalties will come into effect from Sunday 19 February, and will cover all of TfL's services in the capital, including London Underground, London Overground, London Buses, DLR and London Tramlink.<br>&nbsp;<br>Customers are required to pay the correct fare for their journey and failure to do so could lead to a penalty or even prosecution, resulting in a criminal record and a fine of up to &pound;1000. </p>
<p>This rise will increase the deterrent effect of the penalty charge, which is part of TfL's ongoing drive to combat fare evasion.&nbsp; <br>&nbsp;<br>Fare evasion across all modes of transport is estimated to have cost TfL around &pound;63 million last year. </p>
<h2>Clamping down</h2>
<p>TfL is committed to protecting public money through detecting and investigating suspected fare evasion. </p>
<p>Transport for London takes fare evasion extremely seriously and our efforts to clamp down on people who fail to pay has seen a reduction in the rate of fare evasion in recent years. </p>
<p>The new &pound;80 penalty will be reduced to &pound;40 if paid within 21 days.</p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing at TfL, said: 'While the level of fare evasion on the network is low, it continues to cost Londoners millions of pounds every year. </p>
<p>'We therefore need to make the penalty charge more effective and the early payment reduction will encourage prompt payment.<br>&nbsp;<br>'We know that our honest, fare paying passengers feel angry when they see others not paying for their journey and this should reassure them that we are tackling this issue head on.<br>&nbsp;<br>'However, the simple way to avoid this penalty is to ensure you pay the correct fare for your journey in the first place.'&nbsp;<br></p>
<p>
<hr>
<strong>Notes to editors: </strong></p>
<ul>
<li>Transport for London, under The Greater London Authority Act 1999 and the Transport for London and Croydon Tramlink (Penalty Fares) Orders 2011, has been granted powers to increase the penalty fare level</li>
<li>Under the new provisions, penalty fares will increase from &pound;50 to &pound;80, however this will be reduced to &pound;40 if payment is received within 21 days</li>
<li>The Penalty&nbsp;Fares increase came into effect on the 2 January 2012 and will be implemented by TfL from the 19 February 2012</li>
<li>The proposed changes were subject to a <a href="http://www.london.gov.uk/who-runs-london/mayor/mayoral-decisions/md906 ">consultation conducted by the Mayor of London in 2011</a></li>
<li>Rates of fare evasion include ticket irregularities where no assumption of intent is made</li>
<li>Currently the penalty fare is &pound;50 reduced to &pound;25 if paid within 21 days</li>
<li>A person suspected of deliberate fare evasion risks prosecution which may result in a criminal record and a fine of up to &pound;1,000</li>
<li>Fare evasion on the transport network is a crime which costs Londoners approximately &pound;63 million a year, money which could and should be used to further improve public transport</li>
<li>In addition to the penalty fare other tools that Transport for London uses to detect and deter fare evaders include the deployment of more than 500 revenue protection inspectors throughout the transport network on a daily basis</li>
<li>TfL also last year launched a hard-hitting fare evasion advertising campaign to highlight the risks associated with travelling without having paid the correct fare and have introduced signs across the network to remind people to always ensure that they pay the correct fare for their journey at the start of their journey</li>
<li>A burst of Fare Evasion posters will take place across the TfL network for four weeks from&nbsp;the week ending&nbsp;24 February, which includes a line referencing the increase in the Penalty Fare</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The increase in penalties will come into effect from Sunday 19 February, and will cover all of TfL's services in the capital, including London Underground, London Overground, London Buses, DLR and London Tramlink.&nbsp;Customers are required to pay the";}
        
        


 