


@{ViewBag.Title = "Woolwich Ferry weekend closures enable upgrade works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Woolwich Ferry weekend closures enable upgrade works</h1>
        <div class="content-page-press-release">
        06 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>These works will involve driving piles at both the north and south piers of the Woolwich Ferry, to replace those originally placed there when the terminals were built in the mid-1960s.&nbsp;</p>
<p>As a result of these vital works the Woolwich Ferry will be temporarily suspended for four weekends during February and March.&nbsp;&nbsp;&nbsp; </p>
<p>The Woolwich Free Ferry service will be suspended on: </p>
<ul>
<li>Saturday 11 February and Sunday 12 February</li>
<li>Saturday 18 February and&nbsp;Sunday 19 February</li>
<li>Saturday 3 March and&nbsp;Sunday 4 March</li>
<li>Saturday 10 March &amp; Sunday 11 March</li></ul>
<p>After each of these suspensions a normal service will operate from 06:10 on the following Monday morning to cater for the busier week days.</p>
<p>Whilst the closures are in place, the nearest alternative river crossings for normal traffic (excluding some heavy good vehicles) will be the Blackwall Tunnel, the river can also be crossed using the Rotherhithe Tunnel or Tower Bridge.&nbsp;</p>
<p>Pedestrians will also still be able to cross between Woolwich and North Woolwich using the recently refurbished Foot Tunnel, which has entrances adjacent to the ferry terminals.&nbsp; Access is by use of stairs as there is currently no lift service available.</p>
<p>For alternative information about local public transport and to help plan your journey, please visit <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a>&nbsp; </p>
<p>
<hr>
<strong>Notes to Editors <p>
<ul>
<li></li></ul></strong>The Woolwich Ferry operates a free service linking Woolwich with North Woolwich
<li>The Woolwich Ferry carries around one million vehicles and over two million passengers a year</li>
<li>The ferries, terminals and facilities are owned by London River Services (LRS), but the ferry service is operated by Serco Ltd under contract to LRS</li>
<li>The three ferries in use today were built in 1963 and the current terminals were opened in 1965</li>
<li>Live travel news is available at <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a> <br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "These works will involve driving piles at both the north and south piers of the Woolwich Ferry, to replace those originally placed there when the terminals were built in the mid-1960s.&nbsp;As a result of these vital works the Woolwich Ferry will be";}
        
        


 