


@{ViewBag.Title = "Work begins to cool the platforms at two major central London stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work begins to cool the platforms at two major central London stations</h1>
        <div class="content-page-press-release">
        17 February 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work has commenced at Green Park and Oxford Circus stations. Work will be completed during summer 2012.
        
    </div>



 <div class="on-this-page">
<p>London Underground has announced plans to lower the temperature on platforms at Green Park and Oxford Circus stations this summer thanks to the installation of new 'air handling' technology. </p>
<p>As part of an ongoing programme of work to cool the Tube work will begin later this month on the installation of air cooling units at both stations. </p>
<p>At Green Park station borehole cooling technology will be used. London Underground has already successfully drilled wells to source naturally cool water from deep below Green Park and will now install air cooling units that will use the water to cool the Victoria and Piccadilly line platforms. </p>
<p>At Oxford Circus station there are already air cooling units in the ticket hall however they will now be installed on every platform (Bakerloo, Central and Victoria lines). </p>
<p>The new units will use cool air provided by chiller units that will be installed on top of a building owned by Transport for London, which is adjacent to the station.</p>
<p>Morgan Sindall have been awarded the contract for work to install eight air cooling units at Green Park and Birse Metro have been awarded the contract to install 14 air cooling units as well as associated construction services at Oxford Circus. </p>
<p>The work will be project-managed by London Underground using tight controls to ensure the programme is delivered efficiently and with the minimum disruption for passengers. </p>
<p>David Waboso, Capital Programmes Director, said: 'Cooling the Tube is one of the greatest engineering challenges faced by London Underground. </p>
<p>'But these contracts will make a difference for passengers on the busy platforms at Green Park and Oxford Circus when work is complete this summer. </p>
<p>'We are investing millions to cool temperatures for passengers through a programme that will include the delivery of new air-conditioned s-stock trains, which were introduced on the Metropolitan line in 2010 but will also be rolled out across the Circle, Hammersmith &amp; City and District lines.'</p>
<p>Isabel Dedring, Deputy Mayor of Transport, said: 'This work will be a welcome improvement for passengers using these stations. </p>
<p>'But it is just part of the work we are carrying out to cool the Tube, of which the most significant is the 22 air-conditioned trains currently in service with over 150 more to follow by 2016.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Tube is the oldest metro system in the world. Its basic tunnel infrastructure has changed little since it was constructed 149 years ago. The tunnels were designed and built with only enough room for trains. This means, on the deep-level Tubes, there is very little space for air-conditioning on the trains, inside or outside, where the air-conditioning units would take up valuable space. Underground sections of the sub-surface lines are relatively close to the surface heat can escape from the system much more readily than from the deep-level Tubes. Nevertheless, it can still and does become hot on the sub-surface lines in summer</li>
<li>Much work has been done over the years to make life cooler in the summer for passengers including new air-conditioned trains which are currently being rolled out on the Metropolitan lines (followed by a roll-out on the Circle, Hammersmith &amp; City and District), commissioning out of service fans, upgrading the ventilation shafts on the Victoria line (now completed) and the installation of industrial size fans at a number of stations</li>
<li>This is not the first time London Underground has used ground water to help cool stations. An award winning and environmentally friendly ground water cooling scheme at Victoria station uses water which is already pumped out of the station to provide cool air</li>
<li>Pictures available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground has announced plans to lower the temperature on platforms at Green Park and Oxford Circus stations this summer thanks to the installation of new 'air handling' technology. As part of an ongoing programme of work to cool the Tube work";}
        
        


 