


@{ViewBag.Title = "12 million contactless journeys made since launch";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">12 million contactless journeys made since launch</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>12 million contactless journeys made since launch</h1>
        <div class="content-page-press-release">
        13 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Travel in London becoming more convenient with over 12 million contactless journeys made since launch
        
    </div>



 <div class="on-this-page">

        <p>More
        than 12 million public transport journeys have now been made using contactless
        payment cards and devices since Transport for London (TfL) launched the new
        more convenient way to pay on 16 September. &nbsp;
        </p>
        <p>Contactless
        payments, part of TfL's work to modernise and improve the service offered to
        customers, can be made for travel on the Tube, London Buses, tram, DLR, London
        Overground and most National Rail services in London.
        &nbsp;
        </p>
        <p>The
        new payment method has been available on the bus network since December 2012
        and since it launched across transport in London there has been a significant
        rise in bus journeys using contactless payments, with the highest being 154,000
        journeys in a day.&nbsp;The total number of journeys on Tube and rail services
        in London has now reached over 5.5 million and the total number of journeys on
        London Buses and trams since contactless payments launched across transport in
        London is now over 6.5 million. Friday 7 November saw the busiest
        day on rail for journeys using contactless payments, with 164,000 made.
        &nbsp;
        </p>
        <p>Contactless
        payments are now making up nearly 8 per cent of all pay as you go journeys on
        the network, with the most popular London Underground stations for contactless
        being Oxford Circus, Kings Cross and London Bridge. Using
        contactless payments for travel is easy. Customers with a UK issued contactless
        payment card (debit, credit, charge or pre-paid cards) just simply have to
        touch their card on the reader. </p>
        <p>There is no need to sign up for an online
        account with TfL, but there are many benefits if customers choose to, including
        being able to see 12 months of journey and payment history. Customers who don't
        have an online account can still access their journey and payment history, but
        only for the last seven days. &nbsp;</p>
        <p>Contactless payments work in the same way
        as Oyster, charging customers an adult-rate pay as you go fare when they touch
        in and out on readers at the start and end of every journey.
        &nbsp;
        Customers
        using contactless payments for their travel can benefit from having their fares
        capped - this automatically calculates the best fare for their contactless
        travel in a day or over a seven-day period from Monday to Sunday.&nbsp; Oyster
        continues to be available, with contactless payments being another option that
        lets customers travel without the need to top up Oyster credit.&nbsp;
        </p>
        <p>
        Shashi
        Verma, TfL's Director of Customer Experience, said: 'It is fantastic to see
        over 12 million contactless journeys across London within just two months.
        Using contactless payments to travel can save customers time and money; they
        don't need to stop to top-up an Oyster card, or buy a ticket and can benefit
        from daily and Monday to Sunday capping.'</p>
        <p>Craig
        Jones, spokesperson for The UK Cards Association, said: `It's great news that
        so many Londoners have chosen to use their contactless cards for daily travel,
        with the number of contactless journeys by the Tube and bus showing the extent
        to which the technology has been warmly received. Analysis from our members
        shows that the launch of contactless payments on TfL services has inspired many
        consumers to use their cards for the first time. We hope that once new users
        experience the speed, ease and convenience of this payment method on the
        transport system, they will go on to use their contactless cards in a range of
        other settings, including shops, cafes and restaurants.'&nbsp;
        </p>
        <p>Under
        the new fares for 2015, announced by The Mayor earlier this week, customers
        using contactless or Oyster on pay as you go will benefit from the all-day cap
        for Zones 1-2 being cut by &pound;2.00 from &pound;8.40 to &pound;6.40; and for Zones 1-6 by over
        &pound;4.00 from &pound;15.80 to &pound;11.70.&nbsp;
        </p>
        <p>The
        potential savings will be considerable, ranging from &pound;200 to over &pound;600 per
        year. When a 3 days a week customer travels between Zones 1-5 in 2015 they will
        pay a maximum of &pound;10.90 a day, rather than the current maximum of &pound;15.80,
        saving &pound;4.90 a day, or &pound;14.70 a week.&nbsp; Over a year (for example, 45 weeks)
        the savings could be up to &pound;600.
        &nbsp;
        Card clash is being closely monitored and
        customers are being refunded when they may have accidentally touched more than
        one card on a reader and paid with a card they did not intend to use. On
        average there have been 1,564 instances each weekday where customers may have
        accidentally paid with a contactless payment card they did not intend to pay
        with and all of these are being automatically refunded by TfL. This figure
        compares with a pre-launch estimate of around 2,000 - less than 0.1 per cent of
        the smartcard rail journeys made in London every day.&nbsp; </p>
        <p>
        </p>
        <hr />
         
        <ul>
            <li>More information on contactless payments for transport
            in London can be found at <a href="http://www.tfl.gov.uk/contactless">www.tfl.gov.uk/contactless</a> </li>
            <li>All UK issued contactless American Express, MasterCard or
            Visa credit, debit, charge or pre-paid cards will be accepted for
            contactless payments. </li>
            <li>Other methods of contactless payment that meet
            financial industry standards, including mobile phones, may also be
            accepted. </li>
            <li>Some non-UK cards may not be accepted, card holders should check
            the TfL website before attempting to use them for travelLondon Buses have been accepting contactless since
            December 2012. </li>
            <li>In April 2014 a pilot of the contactless system involving
            around 5,000 customers started on the Tube and Rail network</li>
        </ul>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-12 million contactless journeys made since launch -->

 
 
        
        
            @{ViewBag.Description = "Travel in London becoming more convenient with over 12 million contactless journeys made since launch";}
        
        


 