


@{ViewBag.Title = "17 community cycling grants awarded";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">17 community cycling grants awarded</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>17 community cycling grants awarded</h1>
        <div class="content-page-press-release">
        05 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Gearing up for Success - Transport for London awards grants for 17 community cycling projects
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There has never been a more exciting time to start cycling. Wherever you live, I am determined that these grants will boost Londoners' skills and confidence, enabling even more people to get pedalling. These projects are outstanding examples of how different communities are getting involved in our cycling revolution"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>17 community cycling groups receive a total of &pound;44,000 in funding from TfL </li>
            <li>Community projects rewarded for their efforts to encourage more people to cycle </li>
        </ul>
        <p>Transport for London (TfL) has awarded a total of &pound;44,000 in funding to 17 community cycling projects in the capital as part of its sponsorship of the Community Cycling Fund for London (CCFL), which is administered by the London Cycling Campaign (LCC). The grants across 11 London boroughs have been awarded to encourage more people of all ages, gender and ability to cycle.</p>
        <p>Community cycling projects in Barking and Dagenham, Ealing, Greenwich, Hackney, Haringey, Kensington &amp; Chelsea, Lewisham, Newham, Southwark, Tower Hamlets and Waltham Forest will all benefit from TfL funding from &pound;1,000 to &pound;5,000.</p>
        <p>The grants will be used to fund a variety of projects from guided rides and cycle training to drop in maintenance sessions and 'build a bike' courses; promoting bike riding to social groups that are currently under represented among cyclists. Seven grants of &pound;5,000 were awarded to the best new schemes and ten 'top-up' grants of up to &pound;1,000 were awarded for projects already benefitting from a CCFL grant.</p>
        <p>Since 2003, TfL has funded over 300 community based cycling activities, which have helped build the confidence of infrequent or new cyclists especially groups such as women, children and young people.</p>
        <p>The Mayor of London, Boris Johnson said: </p>
        <p>'There has never been a more exciting time to start cycling. Wherever you live, I am determined that these grants will boost Londoners' skills and confidence, enabling even more people to get pedalling. These projects are outstanding examples of how different communities are getting involved in our cycling revolution.'</p>
        <p>Director of Planning, TfL Surface Transport, Ben Plowden said: </p>
        <p>'By funding community projects that champion cycling we want to reach people who may never have considered getting on a bike before and offer them support to get started, so they too can discover the benefits of cycling in London.'</p>
        <p>The 2014 winning community cycling projects receiving &pound;5,000 include:</p>
        <ul>
            <li>Core Arts based in Hackney who were awarded for their Core Cycling project which aims to empower and equip adults suffering severe mental health issues, so they can feel confident cycling both as a means of transport and to improve health. </li>
            <li>Lewisham Cyclists who were awarded a grant to support their Grove Park Mend and Ride scheme, which runs a fortnightly club for local people to maintain their bikes at its workshop where a trained mechanic and experienced volunteers are on hand to offer training and advice. </li>
            <li>Greenwich Islamic Centre received a grant for their Greenwich Islamic Cycle Club, which encourages its visitors to cycle and join led rides, utilising donated bikes. </li>
        </ul>
        <p>London Cycling Campaign Grants officer, Aurora Trujillo said: </p>
        <p>'This fund enables community projects to deliver a variety of cycling activities, encouraging thousands of Londoners from all backgrounds to take up cycling. Working with groups that face specific barriers to cycling is key to making it an activity that is accessible to all Londoners.'</p>
        <p>Almost &pound;1 billion is being invested in a programme of improvements to transform cycling in London as part of the Mayor's Cycling Vision. TfL is supporting this vision by introducing improved infrastructure for cyclists and new, safer routes. This builds on a wide range of TfL initiatives already in place to help increase the number of people cycling in the capital, including: the easy-to-use Barclays Cycle Hire scheme, free or subsidised cycle training in most London boroughs, and a specific fund to create cycle hubs in cycling boroughs.</p>
        <p>Community cycling grants of up to &pound;5,000 will be offered again from summer 2015 to groups and not for profit organisations across the capital that have the passion to help others discover the joys of pedal power.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Images are available here - <a href="https://www.flickr.com/photos/tflpress/sets/72157646814829153">https://www.flickr.com/photos/tflpress/sets/72157646814829153</a></li>
            <li>The Community Cycling Fund is funded by Transport for London and administered by London Cycling Campaign</li>
            <li>Since 2003, TfL has funded over 300 community based cycling activities </li>
            <li>The CCFL grants are available pan-London. See case studies here: <a href="http://www.lcc.org.uk/cycling-in-the-community">www.lcc.org.uk/cycling-in-the-community</a> </li>
        </ul>
        <div class="table-container"><table>
            <tbody>
                <tr>
                    <td><strong>Project name&nbsp;</strong></td>
                    <td><strong>&nbsp;Organisation</strong></td>
                    <td><strong>&nbsp;Borough</strong></td>
                </tr>
                <tr>
                    <td><strong>&nbsp;&pound;5,000 grant </strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;Core Cycling</td>
                    <td>&nbsp;Core Arts</td>
                    <td>&nbsp;Hackney</td>
                </tr>
                <tr>
                    <td>&nbsp;Greenwich Islamic Cycle Club</td>
                    <td>&nbsp;Greenwich Islamic Centre</td>
                    <td>&nbsp;Greenwich</td>
                </tr>
                <tr>
                    <td>&nbsp;InSpire Ride Out!</td>
                    <td>&nbsp;InSpire</td>
                    <td>&nbsp;Southwark</td>
                </tr>
                <tr>
                    <td>&nbsp;Haringey Cycle Gateway</td>
                    <td>&nbsp;Cycle Gateway at Canning Crescent</td>
                    <td>&nbsp;Haringey</td>
                </tr>
                <tr>
                    <td>&nbsp;Grove Park Mend &amp; Ride</td>
                    <td>&nbsp;Lewisham Cyclists</td>
                    <td>&nbsp;Lewisham</td>
                </tr>
                <tr>
                    <td>&nbsp;London BMX Outreach</td>
                    <td>&nbsp;Access Sport</td>
                    <td>&nbsp;Pan London</td>
                </tr>
                <tr>
                    <td>&nbsp;The LWP Bike Project</td>
                    <td>&nbsp;London Welcome Project</td>
                    <td>&nbsp;Lambeth</td>
                </tr>
                <tr>
                    <td>&nbsp;<strong>&pound;1,000 grant</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;On Your Bike</td>
                    <td>&nbsp;Drug and Alcohol Service for London</td>
                    <td>&nbsp;Newham</td>
                </tr>
                <tr>
                    <td>&nbsp;Up Skills on Wheels</td>
                    <td>&nbsp;APPLE</td>
                    <td>&nbsp;Ealing</td>
                </tr>
                <tr>
                    <td>&nbsp;56A Bikeroom</td>
                    <td>&nbsp;56A Bikeroom</td>
                    <td>&nbsp;Southwark</td>
                </tr>
                <tr>
                    <td>&nbsp;Cycling for all in Lewisham</td>
                    <td>&nbsp;Wheels for Wellbeing</td>
                    <td>&nbsp;Lewisham</td>
                </tr>
                <tr>
                    <td>&nbsp;Re-Spoke Community bike exchange</td>
                    <td>&nbsp;Trailnet CIC</td>
                    <td>&nbsp;Barking and Dagenham</td>
                </tr>
                <tr>
                    <td>&nbsp;Spring activities &amp; Dr Bike</td>
                    <td>&nbsp;Camberwell Subterranea</td>
                    <td>&nbsp;Southwark</td>
                </tr>
                <tr>
                    <td>&nbsp;WWFT Bike Project</td>
                    <td>&nbsp;William Wilberforce Trust</td>
                    <td>&nbsp;Kensington and Chelsea</td>
                </tr>
                <tr>
                    <td>&nbsp;Family Fun Cycling</td>
                    <td>&nbsp;Highams Park Coaching Centre</td>
                    <td>&nbsp;Waltham Forest</td>
                </tr>
                <tr>
                    <td>&nbsp;Women &amp; Gender Variant Night (WAG)</td>
                    <td>&nbsp;London Bike Kitchen</td>
                    <td>&nbsp;Hackney</td>
                </tr>
                <tr>
                    <td>&nbsp;Family Inclusive Cycling</td>
                    <td>&nbsp;Cycle 4 All</td>
                    <td>&nbsp;Barking and Dagenham</td>
                </tr>
            </tbody>
        </table></div>
        <br />
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-17 community cycling grants awarded -->

 
 
        
        
            @{ViewBag.Description = "Gearing up for Success - Transport for London awards grants for 17 community cycling projects";}
        
        


 