


@{ViewBag.Title = "Argos goes Underground";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Argos goes Underground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Argos goes Underground</h1>
        <div class="content-page-press-release">
        25 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First 'Argos Collect' digital store on London Underground's network at Cannon Street Tube station
        
    </div>



 <div class="on-this-page">
<p>Leading digital retailer Argos has teamed up with Transport for London (TfL) to launch its first Underground store at Cannon Street Tube station. The new 'Argos Collect' store, which officially opened today (25 November 2014), has been designed to give customers convenient access to 20,000 products as they travel around the transport network.</p>
<p>Around 4.2 million journeys are made on London Underground every day, and the partnership with Argos is part of TfL's wider plans to develop its commercial estate to improve the services on offer for customers and generate revenue that can be reinvested back into the transport network.  This is currently forecast to generate &pound;3.4bn over the next 10 years.</p>
<p>TfL's public transport network is responsible for an average of around 11 million journeys every day, and its partnership with Argos is part of the creative and innovative steps it is taking to improve the services on offer for customers.</p>
<p>With the rise in smartphone use and the availability of Wi-Fi at London Underground stations, it is now easier than ever for busy commuters to make an online purchase as they travel around the transport network and collect it at the most convenient time for them. The new Argos Collect store will provide customers with a choice of over 20,000 products which they can buy or reserve in advance online, for easy collection within hours.</p>
<p>The Argos Collect store at Cannon Street is one of several new digital formats that Argos has introduced across the country, including 'traditional' Argos stores converted to a contemporary new digital format, smaller sized digital stores as well as concessions inside select Homebase stores.</p>
<p>John Walden, Chief Executive of Argos' parent company, Home Retail Group, said: `Digital shoppers are increasingly demanding improved choice, convenience and speed in the fulfilment of their online orders, especially via click and collect; the collection of their online orders from a conveniently located shop.  Argos has been a click and collect leader, and we continue to innovate our offer with our new digital stores. They represent what we believe will be the role of the Argos store in an emerging digital future &#45; modern and energetic, with larger ranges available within hours, tablets for easy browsing and ordering, streamlined in-store customer journeys including 60-second Fast Track collection of online purchases, and a friendly human face to provide personalised customer service.</p>
<p>`Our new Argos Collect format at the Cannon Street Underground Station will complement our other Argos digital store trials, including converted traditional Argos stores, small format digital stores, and concessions in select Homebase stores; nearly 50 in total in place for Christmas. Because of our innovative new 'hub and spoke' distribution network, we can now provide over 20,000 products to any of our locations within hours, regardless of the stocking capacity of each individual store.  The combination of 'hub and spoke' with our multiple digital store formats will provide Argos with cost-effective options to potentially serve many more customers through many new locations in the future.'</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: &quot;Our partnership with one of the country's biggest retailers, Argos, is another example of what we are doing to give our customers convenient access to the products and services they need as they travel across our network. The partnership will generate revenues that will allow us to reinvest in London's transport network whilst also bearing down on fares.</p>
<p>'We have over 1,000 retail units across our transport network. We are keen to retain a wide base of independent quality retailers that reflect the character of the local area and sit alongside pop-up shops, click and collect units and High Street brands, to provide our millions of customers with better journeys and the range of shopping options they want.'</p>
<p>The new Cannon Street store covers only 650 sq ft in total with a sales floor of 170 sq ft; roughly the size of a large kitchen in a typical family home. It will be open from 07.30 to 19.00 Monday to Friday and 09.00 to 18.00 Saturday. Customer orders to the store will be filled via Argos' innovative 'hub &amp; spoke' network, with twice daily routes from a larger nearby 'hub' store using a fleet of new Argos vans and drivers.</p>
<hr />
<p>Customers can order by 1pm for collection from 4pm or order after 1pm for collection the following day.</p>
<p>Images are available here <a href="https://www.flickr.com/photos/tflpress/sets/72157647134896263/">https://www.flickr.com/photos/tflpress/sets/72157647134896263/</a></p>
<p>The Cannon Street 'Argos Collect' store is one of four new digital formats Argos is currently trialling:</p>
<ul>
    <li>
    32 newly refitted and new 'traditional' sized digital stores of around 15,000 sq ft each. These hold the full range of between 15,000 - 20,000 product lines for immediate pick up.</li>
    <li>Five smaller stores of around 2,000 - 4,000 sq ft being trialled in Cheapside, Clapham, Fulham and Stratford in London, and in Liverpool, with plans to open an additional store on The Strand in London later this year. Customers can access Argos' full 20,000 range by using online pre-pay or Check &amp; Reserve for same or next day collection&sup1;. The stores hold around 6,000 product lines for immediate pick up.</li>
    <li>15 concessions of circa 1,000 sq ft inside Homebase stores, marking an exciting new phase for the two Home Retail Group store chains. Customers can access the full 20,000 product range by using online pre-pay or Check &amp; Reserve for same or next day collection. The concessions will hold around 5,000 product lines for immediate pick up. There are around five further concessions planned by the end of the financial year.</li>
    <li>
    The first Argos Collect store with around 650 sq ft of space which will receive regular deliveries from a larger store for products pre-paid or reserved online.</li>
</ul>
<p>All stores not holding the full range of Argos products are supplied by Argos delivery drivers from larger stores nearby, enabling customers to get rapid access to pre-paid and Check &amp; Reserve orders placed online at home or on the move using their mobile devices.</p>
<p>About the Argos digital stores trial:</p>
<ul>
    <li>The new format stores and concessions are a similar format to the Argos digital concept stores, which were first introduced in December 2013. Customers shopping at the new stores use tablets with additional shopping information, such as product videos and customer reviews, or personal mobile devices via free in-store Wi-Fi.</li>
    <li>Argos plans to have around 20 digital store concessions within Homebase, a leading home enhancement retailer, by early 2015, making it easy for customers to collect and place online orders in locations where Argos doesn't have a local store. This is the first time that Home Retail Group's Argos, Homebase and Habitat brands have been housed under the same roof.</li>
    <li>The stores are the latest initiatives in Argos' five-year transformation plan to reinvent itself as a digital retail leader announced in October 2012: to transform Argos from a catalogue-led to a digitally-led business.</li>
</ul>
<p>About TfL Click and Collect</p>
<ul>
    <li>Over the last year, TfL has been working with a number of major retailers to trial click and collect services at 43 stations on its transport network. The trial has been a huge success for TfL and the retailers and over 12,000 orders have been made since November 2013.</li>
    <li>In April 2014, TfL announced its first innovative retail destination with seven new pop-up shops at Old Street, designed to complement existing retailers at the station. The pop-up shops give start-up businesses and established businesses an opportunity to showcase their goods and services to the 22 million passengers who use the station annually.</li>
    <li>TfL has been creative and innovative steps to improve the services on offer to customers across the public transport network, which is responsible for an average of around 11 million journeys every day. It has been working with local, national and international retailers to provide the services customers want and need.</li>
</ul>
<p>About Argos</p>
<ul>
    <li>Argos is a leading UK digital retailer, offering around 43,000 products through www.argos.co.uk, its growing mobile channels, stores and over the telephone.</li>
    <li>Argos continues to be the UK's largest high street retailer online with around 123m customer transactions a year and 738 million website and app visits in the 12 months to February 2014.  Customers can take advantage of Argos' convenient Check &amp; Reserve service available through its network of 734 stores across the UK and Republic of Ireland.</li>
    <li>In the financial year to February 2014, Argos sales were &pound;4.1 billion and it employed some 29,000 people across the business.</li>
    <li>Argos is part of Home Retail Group, the UK's leading home and general merchandise retailer.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Argos goes Underground -->

 
 
        
        
            @{ViewBag.Description = "First ‘Argos Collect’ digital store on London Underground’s network at Cannon Street Tube station";}
        
        


 