


@{ViewBag.Title = "Jobs and growth to be at the heart of city devolution";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Jobs and growth to be at the heart of city devolution</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Jobs and growth to be at the heart of city devolution</h1>
        <div class="content-page-press-release">
        18 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New report calls for reforms to ensure decentralised power delivers maximum returns for city economies
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Greater financial freedoms for our cities are absolutely central to their ability to better plan and finance the infrastructure they need to flourish"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Transport and city leaders
        from Birmingham, Leeds, London, Greater Manchester and Sheffield have come
        together today to set out how transport funding reforms could transform the
        prospects of the UK economy.
        &nbsp;
        </p>
        <p>London's Transport
        Commissioner Sir Peter Hendy, Sir Howard Bernstein, Chief Executive of
        Manchester City Council, Geoff Inskip, Chief Executive of West Midlands
        transport co-ordinator Centro, and key figures from Leeds and Sheffield, have
        thrown their support behind a new independent report which calls for reforms
        that would ensure a shift in power from Whitehall, enabling the creation of
        jobs across the UK and economic growth for the whole country.
        &nbsp;
        </p>
        <p>The report, which was
        commissioned by Transport for London and Transport for Greater Manchester, has
        been developed and delivered by leading economic consultants Volterra. It
        states that the current approach to the evaluation and funding of transport projects
        is likely to lead to 'damaging underinvestment' unless it is tackled and that pay back in terms of economic growth and
        jobs would be optimised if the approach were changed.
        &nbsp;
        </p>
        <p><strong>The Mayor of London, Boris
        Johnson,</strong> said: `Greater financial freedoms for our cities are
        absolutely central to their ability to better plan and finance the
        infrastructure they need to flourish. Transport is no exception to this
        argument. It is a vital key to unlock the door to wider growth in our economy,
        helping to spur jobs, new homes and regeneration. Working in partnership with
        other major cities I have been making the case for Whitehall to give us a
        greater say over our own futures and in turn boost the prosperity of UK plc.`&nbsp;
        </p>
        <p><strong>Sir Howard Bernstein</strong>
        said: `As this report makes clear, greater devolution of transport powers is
        vital so that cities can better develop, fund and deliver transport
        improvements and fulfil their full economic potential.
        &nbsp;
        </p>
        <p>`At present, the Government
        has a centralised system of funding with little integration at the city level.
        Just 5% of taxes raised in Britain are controlled by UK cities,
        compared to 30% in Germany and 37.5% in the USA. The report
        states this should change.&nbsp;
        </p>
        <p>`Changing the rules and
        providing cities with more economic freedom would allow new projects to get off
        the ground and deliver benefits far more quickly than is currently the case.
        &nbsp;
        </p>
        <p>`The pipeline of
        infrastructure projects that could be created would then fill the order books
        of companies up and down the country providing more certainty over transport
        investment and more firms investing more in jobs, skills, apprentices and
        innovation for the long-run, something which existing short-term planning
        horizons work against.`
        &nbsp;
        </p>
        <p>
        The report shows that the
        current system of funding needs reform if the UK is to avoid being left behind
        in the global race for creating jobs and growth. It argues that transport
        investment in cities is pivotal to the country's success and that we need a
        fresh approach to the framework for deciding what transport infrastructure gets
        funded, where and when</p>
         
        <p>It also calls for:
        </p>
        <ul>
            <li>fiscal devolution so that
            cities can keep and re-invest a greater proportion of the tax revenue
            generated by investment</li>
            <li>a longer-term approach to
            funding that works across political cycles</li>
            <li>a system which places greater
            weight on the economic pay back of transport investment</li>
            <li>additional powers over
            transport services so that they can be planned and delivered for maximum
            economic return.</li>
        </ul>
         
        <p>The report goes on to state
        that the current system of evaluating potential transport projects wrongly
        assumes economic development is not connected to the development of the
        transport system. But, this approach was established in a period when cities
        were declining, whereas now it is cities that will drive future growth - with
        transport playing a crucial role.
        &nbsp;
        </p>
        <p>It also recommends a new
        focus on both a project's ability to create jobs and growth and the way it will
        pay back investment. A project capable of creating economic activity will lead
        to more people paying fares, more people and businesses paying taxes and larger
        contributions from private sector developers, all of which can be used to pay
        back the original investment. A project that can pay for itself through the
        creation of new growth is clearly different from one that cannot.
        &nbsp;
        </p>
        <p><strong>Sir Peter Hendy
        </strong>said: `The current system of transport evaluation was developed in an era of
        under-investment, where governments managed the decline of cities. We are now
        in a very different world, where cities are the drivers of the country's future
        growth.
        &nbsp;
        </p>
        <p>`We need a new system that
        enables cities to work together to realise their full economic potential. For
        that we need more control over the tax revenue we raise and changes in the way
        in which the real financial return of transport investment is evaluated.
        &nbsp;
        </p>
        <p>`If we are given the freedom
        to do so we will create new jobs and growth that will benefit the whole
        country.`</p>
        <p><strong>Geoff Inskip
        </strong>added: `The report sets out the need for a new direction for transport, so that
        it integrates with city agendas for global competitiveness and provides the
        right levers to deliver a truly integrated transport network.
        &nbsp; </p>
        <p>`We wholeheartedly agree
        with the report's conclusions that devolved powers and funding from Whitehall
        will allow cities to strengthen their transport infrastructure and fulfil their
        true economic potential.`&nbsp;
        </p>
        <p><strong>West Yorkshire Combined
        Authority Chair Cllr Peter Box</strong> said, `Providing us with
        the powers to develop transport infrastructure for our towns and cities will,
        as this report shows, enable us to use local knowledge and expertise to put in
        place the improved links that local people want and deserve and which support growth
        and the creation of jobs.'</p>
        <p><strong>Ben Still, Interim Director
        General of South Yorkshire Passenger Transport Executive</strong>,
        said: `This is an important contribution to update our appraisal of
        infrastructure, and to compass the full economic benefits to City Regions.`
        &nbsp;
        </p>
        <p><strong>Chief Executive of the Civil
        Engineering Contractors Association (CECA) Alasdair Reisner</strong>
        said: `Transport is an integral part of our daily lives. It enables work and
        business development, provides access to education and other public services
        and encourages social interaction.
        &nbsp; </p>
        <p>`Yet while demand has
        increased, investment has not always kept pace. Congestion across all modes of
        transport causes costly delays and discourages use of our transport network.
        &nbsp; </p>
        <p>`CECA believes there is
        scope for bodies such as TfL and TfGM to have a greater responsibility for the
        planning and building of new infrastructure, and be given financial
        independence to achieve this.` </p>
         
         
         
        <hr />
        Note to Editors
         
        <p><a href="/cdn/static/cms/documents/investing-in-city-regions-executive-summary.pdf">Link to Executive Summary</a></p>
        <p><a href="/cdn/static/cms/documents/investing-in-city-regions-full-report.pdf">Link to Full Report</a></p>
         
         
         
         
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Jobs and growth to be at the heart of city devolution -->

 
 
        
        
            @{ViewBag.Description = "New report calls for reforms to ensure decentralised power delivers maximum returns for city economies";}
        
        


 