


@{ViewBag.Title = "Embankment escalator works completed";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Embankment escalator works completed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Embankment escalator works completed</h1>
        <div class="content-page-press-release">
        03 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Major escalator works at Embankment station completed on time
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Work to replace the escalators at Embankment was essential to ensure the continued safe operation of the station. I would like to thank customers for their patience whilst these works took place and am pleased to announce that Bakerloo and Northern line services have now resumed, on schedule, at Embankment"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">Capital Programmes Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Bakerloo and Northern line services are now stopping at the station</li>
            <li>New escalators replaced those that were last modernised in the 1970s</li>
            <li>Other parts of the station have also been refurbished</li>
        </ul>
        <p>London Underground's (LU) Embankment station is now open to Bakerloo and Northern line customers following the completion of major escalator replacement works. Other improvement work to the station, which was carried out simultaneously, is also almost complete.</p>
        <p>The escalators had last been refurbished in the 1970s, after being installed over 80 years ago, and were in need of replacing to ensure the continued safe operation of the station for many years to come.Escalator replacement works commenced in January, however due to the layout of the station it was not possible to carry out these works while Northern and Bakerloo lines services were stopping at the station. </p>
        <p>In order to install the new escalators, the older ones had to be taken out completely, which involved the removal of all components from the machines (some of them weighing up to one tonne) from the cramped space beneath the escalators, the removal and replacement of all associated mechanical and electrical parts and major alterations to surrounding structures.</p>
        <p>The decision to replace the escalators simultaneously rather than phasing the work meant that it took 43 weeks to complete as opposed to at least 75 weeks. While this work was taking place, LU also took the opportunity to refurbish other parts of the station including retiling corridors and platforms, installing new lighting and replacing station Help Points and CCTV systems. </p>
        <p>David Waboso, LU Capital Programmes Director, said: </p>
        <p>'Work to replace the escalators at Embankment was essential to ensure the continued safe operation of the station. I would like to thank customers for their patience whilst these works took place and am pleased to announce that Bakerloo and Northern line services have now resumed, on schedule, at Embankment.'</p>
        <p>Ruth Duston, CEO of The Northbank Business Improvement District, said: </p>
        <p>'Robust transport hubs are a key requirement for places to thrive. Enabling businesses and visitors to access our area conveniently is a priority for The Northbank BID so we welcome TfL's investment at Embankment.'</p>
        <p>There are still some minor works to be completed including minor painting and tiling works. In the New Year, three retail units will be installed in the ticket hall, substantially larger than the kiosks that they replace and designed to reflect the environment surrounding the station. There will also be a new currency exchange unit and cash machines that will issue both Sterling and Euros.</p>
        <p>LU is carrying out a huge programme of modernisation, with major stations, trains, track and signalling being updated or replaced to provide more capacity for a growing city.&nbsp; The line upgrades are at the core of LU's investment programme, which will deliver more than 30 per cent increase in capacity.&nbsp; The upgrade programme is being delivered over the coming years, with work to modernise the Northern line nearly complete, and the Circle, District, Hammersmith &amp; City and Metropolitan lines well underway.&nbsp;</p>
        <p>Redevelopment work to increase capacity at key stations and make them step-free is underway at a number of stations including Victoria, Tottenham Court Road and Bond Street.&nbsp; More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use.&nbsp;</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Embankment escalator works completed -->

 
 
        
        
            @{ViewBag.Description = "Major escalator works at Embankment station completed on time";}
        
        


 