


@{ViewBag.Title = "GLA Press  Release -  Fares Announcement";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA Press  Release -  Fares Announcement</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA Press  Release -  Fares Announcement</h1>
        <div class="content-page-press-release">
        11 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor introduces new part-time worker fare deal as part of real terms fares freeze
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By overhauling our fares structure we will put money back into the pockets of hundreds of thousands of hardworking people who make such a vital contribution to London's economy."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>The Mayor of London, Boris Johnson, today set out a step change in
        Transport for London's (TfL's) fares for 2015, giving flexible and part-time
        workers, including those with unpredictable hours, access to lower fares.
        </p>
        <p>The new fares reflect modern-day travel patterns and deliver on a commitment by
        the Mayor to the London Assembly to address the specific needs of part-time workers
        in the capital. </p>
        <p>Overall, TfL fares will be frozen in real terms, with an
        average increase of 2.5%.&nbsp; &nbsp;
        &nbsp;
        </p>
        <h2>Flexible and part-time travel
        </h2>
        <p>London's workforce has changed.&nbsp; Twenty two per cent of
        Londoners now work part-time, while many others have flexible working patterns
        and do not know how many days or hours they will work each week.
        &nbsp;
        </p>
        <p>In response the Mayor is cutting pay as you go daily caps
        dramatically so they become one fifth of the cost of a 7 Day Travelcard to Zone
        1. This produces a much fairer&nbsp;commuting cost for many part-time workers
        and will mean that those with unpredictable working patterns can simply use pay
        as you go Oyster or contactless payments with the new guarantee that they will
        pay no more in a day than one fifth of the cost of a 7 day Travelcard ticket.
        Bringing daily caps in line with the cost of monthly and annual tickets would
        cost more than &pound;200m per year.
        &nbsp;
        </p>
        <p>Daily fares
        capping allows customers using Oyster or contactless payments to make as many
        journeys as they need to in a single day, but caps the amount they pay for
        their travel at a set level. Once the total of all the fares reaches a certain
        amount the customer will not have to pay any more for their journeys for the
        rest of the day.
        &nbsp;
        </p>
        <p>The all-day cap
        for Zones 1-2 will be cut by &pound;2.00 from &pound;8.40 to &pound;6.40; and for Zones 1-6 by
        over &pound;4.00 from &pound;15.80 to &pound;11.70. This means that part-time workers using pay
        as you go will pay similar daily rates as full time commuters using a 7 day
        Travelcard. As an example, for someone who uses a Zone 1-2 7 day Travelcard
        (&pound;32.10 in 2015) to travel 5 days a week, their travel will cost &pound;6.42 each day
        &#45; similar to the new &pound;6.40 pay as you go daily cap for those who travel less
        frequently.
        &nbsp;
        </p>
        <p>The potential
        savings will be considerable, ranging from &pound;200 to over &pound;600 per year. When a 3
        days a week customer travels between Zones 1-5 in 2015 they will pay a maximum
        of &pound;10.90 a day, rather than the current maximum of &pound;15.80, saving &pound;4.90 a day,
        or &pound;14.70 a week.&nbsp; Over a year (for example 45 weeks) the savings are over
        &pound;600.
        &nbsp;
        </p>
        <p>The Mayor of
        London, Boris Johnson, said: `This fares package delivers on my commitment to
        address the needs of flexible and part time workers. By overhauling our fares
        structure we will put money back into the pockets of hundreds of thousands of
        hardworking people who make such a vital contribution to London's economy.
        Freezing overall fares in real terms for next year allows us to hold down the
        cost of travel, while maintaining our vital programme of modernisation. This will
        ensure that the capital remains a competitive global city and a fantastic place
        to live.`</p>
         
        <p>
        Maximum savings possible due to the cheaper all day PAYG caps
        </p>
    

     


<div class="table-container">
    
         
        <div class="table-container"><table style="width: 514px; height: 362px;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: left; vertical-align: top;">&nbsp;Zones</td>
                    <td style="text-align: left; vertical-align: middle;">
                    <p>&nbsp;2014 All day cap</p>
                    </td>
                    <td style="text-align: left; vertical-align: top;">2015 All day cap<br />
                    </td>
                    <td style="text-align: left; vertical-align: top;">Maximum daily saving possible <br />
                    </td>
                    <td>Weekly saving over 3 days travel</td>
                    <td>Yearly
                    saving over
                    45 weeks <br />
                    </td>
                </tr>
                <tr>
                    <td>Zones
                    1-2</td>
                    <td>&nbsp;&pound;8.40</td>
                    <td>&nbsp;&pound;6.40</td>
                    <td>&nbsp;&pound;2.00</td>
                    <td>&nbsp;&pound;6.00</td>
                    <td>&nbsp;&pound;270</td>
                </tr>
                <tr>
                    <td>Zones 1-3<br />
                    </td>
                    <td>&nbsp;&pound;10.60</td>
                    <td>&nbsp;&pound;7.50</td>
                    <td>&nbsp;&pound;3.10</td>
                    <td>&nbsp;&pound;9.30</td>
                    <td>&nbsp;&pound;418</td>
                </tr>
                <tr>
                    <td>Zones 1-4 <br />
                    </td>
                    <td>&nbsp;&pound;10.60</td>
                    <td>&nbsp;&pound;9.20</td>
                    <td>&nbsp;&pound;1.40</td>
                    <td>&nbsp;&pound;4.20</td>
                    <td>&nbsp;&pound;189</td>
                </tr>
                <tr>
                    <td>&nbsp;Zones 1-5<br />
                    </td>
                    <td>&nbsp;&pound;15.80</td>
                    <td>&nbsp;&pound;10.90</td>
                    <td>&nbsp;&pound;4.90</td>
                    <td>&nbsp;&pound;14.70</td>
                    <td>&nbsp;&pound;661</td>
                </tr>
                <tr>
                    <td>&nbsp;Zones 1-6<br />
                    </td>
                    <td>&nbsp;&pound;15.80</td>
                    <td>&nbsp;&pound;11.70</td>
                    <td>&nbsp;&pound;4.10</td>
                    <td>&nbsp;&pound;12.30</td>
                    <td>&nbsp;&pound;553</td>
                </tr>
            </tbody>
        </table></div>
        &nbsp;
         
    
</div>
<p>TfL estimate that over 600,000 customers will pay lower fares over
the course of a typical week.&nbsp;
&nbsp;
</p>
<p>Paper One Day
and annual Travelcards
Part-time workers
and visitors will continue to get the best value fare by using Oyster or
contactless payments. </p>
<p>The cost of the paper One Day Travelcard ticket will
increase to help fund the new fares for part time workers. </p>
<p>These
customers too can benefit from the new daily caps if they switch from paper
tickets to Oyster or contactless payment.</p>
<ul>
    <li>The all day 1-2&nbsp; Day Travelcard (&pound;9.00) will be discontinued</li>
    <li>The all day 1-4 Day Travelcard will increase from &pound;11.40 to &pound;12.00</li>
    <li>The off peak 1-5 Day Travelcard, bought primarily by occasional
    users, will increase from &pound;8.90 to &pound;12.00</li>
    <li>The all day 1-6 Day Travelcard will be frozen in price at &pound;17.00
    </li>
</ul>
<p>TfL estimate
that at least 25% of existing One Day Travelcard users will transfer to
pay as you go on Oyster or contactless in 2015.&nbsp;
&nbsp;
</p>
<h2>Buses
</h2>
<p>Overall, bus
fares will increase by 2.3%.
&nbsp;
</p>
<p>A One Day Bus
&amp; Tram Pass costing &pound;5 will be reintroduced designed for occasional bus
users and visitors to London. It was previously abolished in 2009 as there was
no market for it. Now, with cash free operation on buses there is a small but
important need to provide an affordable means of travel for those wishing to
use the bus but not in possession of an Oyster card or a contactless card.
&nbsp;
</p>
<p>It will be a
lightweight single use Oyster card that will not require a deposit and will be
available to buy at over 4000 Oyster Ticket Stops and our Travel Information
Centres at major transport hubs. It will also be available at London
Underground, National Rail stations and Heathrow Airport to benefit people
arriving at Heathrow outside Tube operational hours.
&nbsp;
</p>
<p>The pay as you
go single bus fare will increase by 5p to &pound;1.50 but the daily 'bus travel only'
cap will be frozen at &pound;4.40.&nbsp; This means that someone making three bus
trips a day will see their fares increase by only 5p from &pound;4.35 (= &pound;1.45 x 3)
to the new cap of &pound;4.40. A customer making four or more trips will see no
increase at all. The 7 Day Bus &amp; Tram Pass will increase by 80p to &pound;21.00.
&nbsp;
</p>
<h2>London
Underground
</h2>
<p>On London
Underground most pay as you go single fares will increase by 10p but all
off peak single fares outside Zone 1 will be frozen. Cash single fares, which
now make up just 1% of daily journeys, will increase by 10p, except
for zones 1-6 which will increase by 30p to &pound;6.00. No Travelcard season ticket
will increase by more than 2.5% and the average increase is 2.3%.&nbsp;
&nbsp;
</p>
<h2>Concessionary
travel
&nbsp;
</h2>
<p>ZIP Oyster
photocard concessions will all be maintained with no change.&nbsp; All under 11s accompanied by an adult will
continue to travel for free on TfL services &#45; currently benefiting 15,000 young
people a day.
&nbsp;
</p>
<p>TfL has invested
in creating an online process for applying for concessionary photocards to make
it easier and quicker for customers.&nbsp; Each of these photocards are now
valid for longer, with the 16+ cards valid for two years rather than one, the
18+ cards up to three years rather than one and the 60+ cards for six years
rather than one year when they were launched in 2012.&nbsp; The application fee
for the 16+, 18+ and 60+ Oyster concession photocard will increase from &pound;10 to
&pound;20 from 1 June 2015.&nbsp; The charge for the under 16 card will increase from
&pound;10 to &pound;15. These application fees have not been increased since 2011.
&nbsp;
</p>
<p>
More than 85
million Oyster cards have now been issued.&nbsp; Nearly one million cards are
issued every month and nearly a quarter are returned for a refund.&nbsp; Many
of these returned cards were only issued a few days beforehand.&nbsp; To
encourage customers to keep their card and reduce costs associated with
providing and issuing cards, those who return a card within a month of purchase
will pay an early return charge of &pound;3.00 from their &pound;5 deposit.
&nbsp;
</p>
<p>TfL does not
make a profit from fares &#45; every penny is invested in delivering and improving
transport. As well as meeting the needs of the modern London workforce this
fares package will ensure that the unprecedented investment in London's
transport network will continue. The current investment programme includes
upgrades to the Tube, rail and road networks and the delivery of Crossrail. It
also helps pay for one of the most extensive, reliable and green bus networks
in the world and on making the transport system more accessible to everyone.
&nbsp;
</p>
<h2>Travel for visitors
</h2>
<p>The Visitor
Oyster card will continue to be available and is a great solution for
international visitors to London. It can be bought online via TfL's Visitor
Shop before travelling to London. The card will continue to cost &pound;3 plus postage. Visitors can also
take advantage of the reintroduced One Day Bus &amp; Tram Pass.
&nbsp;
</p>
<p>A 34%
discount on off peak Day Travelcards will be introduced for visitor groups of
10 or more. This will cost &pound;8 for adults and &pound;4 for under 16s (currently off-peak
Day Travelcards cost &pound;8.90 for adults and &pound;3.60 for under 16s). These discounts
will also be available to Railcard holders. Under 11s accompanied by an adult
will continue to travel free on all TfL services.
&nbsp;
</p>
<p>Visitors from
within the UK will also be encouraged to use their contactless payment cards to
avoid having to top-up their credit on their trip and avoid the &pound;3 deposit
charge for an Oyster Card.</p>
<p>&nbsp;</p>
<hr />
<ul>
    <li>
    A full fares table for 2015 can be found attached in PDF format&nbsp;<a href="/cdn/static/cms/documents/fare-tables-2015.pdf">fare-tables-2015.pdf</a></li>
    <li>A 34% discount on off peak Day Travelcards will be
    introduced for visitor groups of 10 or more. This will cost &pound;8 for adults and
    &pound;4 for under 16s (currently off-peak Day Travelcards cost &pound;8.90 for adults and
    &pound;3.60 for under 16s). These discounts will also be available to Railcard
    holders. Under 11s accompanied by an adult will continue to travel free on all
    TfL services.</li>
    <li>The Visitor Oyster card will continue to be available and is a
    great solution for international visitors to London. It can be bought online
    via TfL's Visitor Shop before travelling to London The card will continue to
    cost &pound;3 plus postage.</li>
    <li>Customers travelling into central London during the evening peak
    on National Rail services will pay an off peak fare, rather than a peak
    fare.&nbsp; This will benefit 5,000 customers a day.&nbsp; This benefit already
    applies to London Underground journeys. The maximum saving travelling in the
    evening peak from Zone 6 to a London Underground station in Zone 1, for example,
    Romford to Covent Garden would be &pound;2.40 &#45; the difference between the peak fare
    of &pound;7.60 and the off-peak of &pound;5.20.</li>
    <li>The ZIP off peak pay as you do daily cap will be maintained and
    will benefit 20,000 under 16 users a day.&nbsp; A new half price
    discount for pay as you go travel for under 16s will be introduced for visitors
    to London which will benefit around 5,000 young visitors a day.</li>
</ul>

 
        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-GLA Press  Release -  Fares Announcement -->

 
 
        
        
            @{ViewBag.Description = "Mayor introduces new part-time worker fare deal as part of real terms fares freeze";}
        
        


 