


@{ViewBag.Title = "Fore Street Tunnel works on 21-24 November";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Fore Street Tunnel works on 21-24 November</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Fore Street Tunnel works on 21-24 November</h1>
        <div class="content-page-press-release">
        14 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &quot;Around the clock&quot; weekend work to install new concrete walls within Fore Street Tunnel to take place on 21-24 November
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The important refurbishment work we are carrying out at Fore Street Tunnel continues to progress well. However, there are some aspects of the work that, unfortunately, just cannot be completed without a full weekend closure. We are committed to keeping disruption caused by this first weekend closure to a minimum, and apologise in advance for any inconvenience caused"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Asset Management, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Tunnel will be closed in both directions from 10pm on Friday 21 November until 5:30am on Monday 24 November to allow for major improvement work to be carried out</li>
            <li>Work forms part of major refurbishment of the tunnel located on the A406 North Circular Road </li>
        </ul>
        <p>Major maintenance works will be carried out to the Fore Street Tunnel across the weekend of the 21-24 November as part of Transport for London (TfL)'s &pound;4 billion Road Modernisation Plan.&nbsp;</p>
        <p>The work will see the walls of the tunnel replaced, with 30 tonnes of pre-cast concrete wall slabs being fixed in place by 70 tonnes of poured concrete. This work, which cannot be undertaken while traffic is using the tunnel, will help extend its life, ensuring this vital part of the road network can continue serving London for years to come.&nbsp;</p>
        <p>During the weekend closure, which will run from 10pm on Friday until 5:30am on Monday morning, drivers who are able to are advised to use the M25 instead of the A406 to complete their journey. Local traffic will still be able to use the roads directly above the tunnel to complete their journey, but drivers and bus passengers making local trips are advised to expect delays and allow extra time for their journey as TfL expects severe delays throughout the weekend.&nbsp; Drivers are advised to check for disruption by visiting <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a>&nbsp; or following &#64;tfltrafficnews, and bus users can find out how their bus might be affected by going to <a href="http://www.tfl.gov.uk/bus/status">www.tfl.gov.uk/bus/status</a>. &nbsp;</p>
        <p>Since April this year, TfL has been carrying out overnight works to Fore Street Tunnel to bring the tunnel, which forms part of the A406 North Circular Road and runs underneath Silver Street station, into a good state of repair. Since then, work has progressed well, with upgrades to the electrics and a new fire main installed, as well as new waterproofing to the walls. Temporary cabling for new, energy efficient lighting and improved CCTV cameras has also been installed, allowing for the systems to be fully upgraded later this year.&nbsp;</p>
        <p>TfL has worked with key partners, including the local boroughs, to ensure that the improvement work can be undertaken with the minimum of disruption. The diversion route will be clearly signed and TfL will be monitoring the works across the weekend to ensure that any delays are kept to a minimum. Further weekend closures will be required early next year to continue these concrete works as well as replace access panels to the tunnels drainage system, which are located in the carriageway. Further information about these closures will be announced as soon as dates are confirmed.&nbsp;</p>
        <p>Dana Skelley, Director of Asset Management at TfL, said: </p>
        <p>'The important refurbishment work we are carrying out at Fore Street Tunnel continues to progress well. However, there are some aspects of the work that, unfortunately, just cannot be completed without a full weekend closure. We are committed to keeping disruption caused by this first weekend closure to a minimum, and apologise in advance for any inconvenience caused.'</p>
        <p>The work to refurbish the Fore Street Tunnel forms part of the wider work being carried out across London as part of TfL's Road Modernisation Plan. With a budget of over &pound;4 billion from now until 2021/22, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all road users.&nbsp;</p>
        <p>For more information about the planned work, please visit:&nbsp; <a href="http://www.tfl.gov.uk/forestreettunnel">www.tfl.gov.uk/forestreettunnel</a>&nbsp;</p>
         
        <hr />
         
        <p>Notes to editors:</p>
        <ul>
            <li>Since the Fore Street Tunnel opened in 1998, ground water has continually leaked into it from the surrounding ground. TfL took over ownership of the tunnel in 2000 and regular maintenance has been carried out since then to minimise the damage caused by the groundwater.</li>
            <li>The work will also see the existing lighting upgraded to LEDs, lowering energy consumption and the need for future maintenance, as well as helping to make the tunnel safer.</li>
            <li>TfL manages and maintains twelve tunnels, as well as more than 1,800 structures on the TfL Road Network, including bridges, flyovers, footbridges, retaining walls, subways and culverts. &nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Fore Street Tunnel works on 21-24 November -->

 
 
        
        
            @{ViewBag.Description = "Fore Street Tunnel works on 21-24 November";}
        
        


 