


@{ViewBag.Title = "Funding and financing options for Crossrail 2";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Funding and financing options for Crossrail 2</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Funding and financing options for Crossrail 2</h1>
        <div class="content-page-press-release">
        27 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Independent report by PricewaterhouseCoopers published
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our long term economic plan for London involves preparing now for the infrastructure our capital might need in the future. That's why I've said we should look at the case for Crossrail 2. This PwC report is a useful contribution to that work"</div>
        <div class="quote-footer">
            <div class="quotee-name">George Osborne</div>
            <div class="quotee-job-title">The Chancellor of the Exchequer</div>
        </div>
</div>

 <div class="on-this-page">
<p>An independent report by PricewaterhouseCoopers (PwC) published today has set out funding and financing options for Crossrail 2, the high frequency, high capacity rail line that could link south west and north east London to provide additional transport capacity for the capital.</p>
<p>In the preparation of the report, PwC reported to a Steering Committee that included representatives from TfL, the Department for Transport (DfT), HM Treasury (HMT), Infrastructure UK (IUK) and Network Rail. The report was undertaken to look at funding and financing feasibility for the proposed new railway line that would link south west and north east London and on to Surrey and Hertfordshire.</p>
<p>The report sets out a number of options, which draw on funding mechanisms currently being used for Crossrail 1. These include paying back investment through a combination of revenue generated through fares, continuations of the Business Rate Supplement and Mayoral Community Infrastructure Levy (CIL) currently being used to fund Crossrail 1, and other measures.</p>
<p>The report also looks at options that could see funding raised through existing mechanisms such as retaining the Council Tax contribution arrangements that were introduced to help fund the 2012 Olympic Games as well as potentially increasing the Mayoral CIL. Funding from property related developments and from land owners adjacent to the line could also be part of the mix of contributions. The report shows that over half of the costs of the scheme could be met by London using existing funding mechanisms.</p>
<p>This type of arrangement would mean that those who will benefit most from the scheme would contribute a fair share towards it. The study estimates that the total cost of the scheme could be around &pound;27 billion, which includes a fleet of new trains and a variety of additional railway works to deliver the full 'regional' route option to connect the scheme to existing National Rail lines to the north and south west of London.</p>
<p>Crossrail 2 would create a new high frequency, high capacity rail line with shorter journey times between south west and north east London. Its route is designed to address capacity constraints as well as providing vital new connections across the capital supporting the UK's single largest employment area, providing opportunities for thousands of new jobs. It would also unlock large areas of outer London and the Upper Lea Valley for sustainable new homes, supporting up to 200,000 new homes along the route. The new rail line would create additional capacity, transporting up to 90,000 people in the morning peak, and relieve congestion across the existing rail network including at Waterloo by diverting services into a new tunnel under London.</p>
<p>Mayor of London, Boris Johnson, said: </p>
<p>'London's population is growing rapidly and with more people travelling in our city than ever before it's vital that we deliver extra rail capacity to support future growth. Crossrail 2 is an essential infrastructure project and this report shows the range of financing initiatives we could employ to get it moving. We'll now be discussing those financing options closely with London's boroughs, business groups and other key players who have a stake in getting behind Crossrail 2.'</p>
<p>The Chancellor of the Exchequer, George Osborne, said: </p>
<p>'Our long term economic plan for London involves preparing now for the infrastructure our capital might need in the future. That's why I've said we should look at the case for Crossrail 2. This PwC report is a useful contribution to that work.'</p>
<p>Mich&egrave;le Dix, TfL's Managing Director for Planning, said: </p>
<p>'Crossrail 2 is vital to support future growth in the capital and across the UK. We will continue to work with Network Rail to develop the plans including further assessment of financing and funding options.'</p>
<p>The funding mechanisms considered by PwC are illustrations of the sort of options that could be taken forward. Any decision on funding mechanisms to be implemented would require formal processes, full consultation and further discussion with Councils and business groups. TfL and Network Rail will also be considering the suggestions made in the London First report published in February as well as continuing to review funding mechanisms used for other major infrastructure projects. TfL is working with Network Rail and will continue to assess the costs as plans for Crossrail 2 develop, with the aim of identifying efficiencies and bringing the costs down.</p>
<p>Crossrail 1, Thameslink, major upgrades to London's Underground, buses, and road network are being delivered, but further major schemes are still needed. Crossrail 2 is needed to provide additional capacity on the transport network so that it is able to cope with London's forecasted population growth, expected to reach 10 million by 2030 and allow London, the South East and the UK to grow and prosper. The aim is for Crossrail 2 to be operational by 2030.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The PwC report is available at www.crossrail2.co.uk</li>
    <li>The Chancellor awarded &pound;2m to TfL in the last Autumn Statement to support initial work on the feasibility including funding and financing options for Crossrail 2, the PwC report was one of a number of reports funded as part of this.</li>
    <li>The DfT has just commenced a 10 week consultation on the safeguarding of the route between Tottenham Hale, New Southgate and Wimbledon.</li>
    <li>The report looks at both a Metro and Regional route for Crossrail 2.</li>
    <li>Table from PwC report showing the Capital expenditure for Crossrail 2</li>
</ul>
<div class="table-container"><table style="width: 477px; height: 203px;">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;Cost category</td>
            <td>&nbsp;Regional &pound;m (real, 2014/15*)<br />
            </td>
            <td>Metro &pound;m&nbsp;(real, 2015/15*)</td>
        </tr>
        <tr>
            <td>&nbsp;Land &amp; Property</td>
            <td style="vertical-align: middle;">&nbsp;1,164</td>
            <td style="vertical-align: middle;">&nbsp;1,069</td>
        </tr>
        <tr>
            <td>&nbsp;Tunnel</td>
            <td style="vertical-align: middle;">&nbsp;2,299</td>
            <td style="vertical-align: middle;">&nbsp;1,826</td>
        </tr>
        <tr>
            <td>&nbsp;Stations</td>
            <td style="vertical-align: middle;">&nbsp;5,664</td>
            <td style="vertical-align: middle;">&nbsp;5,323</td>
        </tr>
        <tr>
            <td>&nbsp;Systems</td>
            <td style="vertical-align: middle;">&nbsp;1,430</td>
            <td style="vertical-align: middle;">&nbsp;1,153</td>
        </tr>
        <tr>
            <td>&nbsp;Surface Works</td>
            <td style="vertical-align: middle;">&nbsp;2,617</td>
            <td style="vertical-align: middle;">&nbsp;490</td>
        </tr>
        <tr>
            <td>&nbsp;Indirects</td>
            <td style="vertical-align: middle;">&nbsp;2,071</td>
            <td style="vertical-align: middle;">&nbsp;1,760</td>
        </tr>
        <tr>
            <td>&nbsp;Rolling Stock</td>
            <td style="vertical-align: middle;">&nbsp;1,352</td>
            <td style="vertical-align: middle;">&nbsp;712</td>
        </tr>
        <tr>
            <td>&nbsp;Optimism Bias</td>
            <td style="vertical-align: middle;">&nbsp;10,947</td>
            <td style="vertical-align: middle;">&nbsp;8,133</td>
        </tr>
        <tr>
            <td>&nbsp;Total</td>
            <td style="vertical-align: middle;">&nbsp;27,544</td>
            <td style="vertical-align: middle;">&nbsp;20,466</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;*The 2014/15 values have been calculated by indexing 2012 figures provided by TfL using Tender Price Index (TPI).  However, any long term affect of construction price inflation is excluded</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Funding and financing options for Crossrail 2 -->

 
 
        
        
            @{ViewBag.Description = "Funding and financing options for Crossrail 2";}
        
        


 