


@{ViewBag.Title = "Growth in passengers on London's transport network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Growth in passengers on London’s transport network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Growth in passengers on London’s transport network</h1>
        <div class="content-page-press-release">
        06 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Combined bus and Tube journeys at highest ever level 
        
    </div>



 <div class="on-this-page">

        <p>The number of journeys on London's transport network is continuing
        to break records Transport for London (TfL) announced today, with 76.1 million
        passenger journeys on London Underground and London Buses combined during the
        week of 22 September &#45; the highest ever level. </p>
        <p>London Underground saw 26.1
        million passenger journeys, while London Buses carried 50 million passenger
        journeys &#45; the largest number ever for buses.
        </p>
        <p>
        Last year's combined Tube and bus record of 75.8 million journeys was set
        during the week of 9 December, which traditionally sees higher passenger
        numbers as London gears up for Christmas, and new highs are expected to be
        reached this coming December.
        London's population continues to grow faster than any other European
        city.&nbsp; </p>
        <p>The population is expected to grow from 8.4 million today to reach
        10 million by 2030. Demand for public transport is predicted to increase by 60% on the Underground and 80% on the national rail network by 2050,
        compared to current levels.</p>
        <p>
        TfL is delivering sustained investment across Tube and bus services to meet this
        growing demand.&nbsp; </p>
        <p>The bus service is now one of the most extensive anywhere
        in the world, and more buses, new routes, and more late night services have
        been added. </p>
        <p>Redevelopment work to increase capacity at key Tube stations and
        make them step-free is underway at Victoria, Tottenham Court Road and Bond
        Street, and more frequent services have recently been introduced on the
        Victoria and Jubilee lines. </p>
        <p>The first phase of the modernisation of the
        Northern line will be completed soon &#45; increasing capacity by 20% and
        capacity has also been increased on London Overground and the DLR.
        &nbsp;
        If service levels are to meet future demand and ensure that the
        network can continue to support new jobs and growth, sustainable investment
        must be guaranteed. </p>
        <p>Consultations are currently underway on proposals to extend
        the Bakerloo line and extending London Overground to Old Oak Common and Barking
        riverside. After Crossrail, operated by TfL, enters service from 2018, London's
        economy and population will already need Crossrail 2.
        &nbsp;</p>
        <p>
        Sir Peter Hendy CBE, London's Transport Commissioner, said: 'Thanks to vital investment and a programme of modernisation we've seen delays
        cut and more frequent and reliable trains and buses. However, we have to keep
        looking towards the future, and continue the investment, to ensure our
        transport network keeps pace with the growing number of people who need it.
        Only through this can the network continue to&nbsp;be a driver of the UK's
        economy, and maintain London's position&nbsp;as a world-leading city.'
        </p>
        <p>TfL is making widespread improvements to the network while continuing to
        deliver huge savings. The &pound;16bn savings and efficiencies programme to 2020/21
        has secured savings of up to &pound;12bn.&nbsp; This programme is central to helping
        to meet the challenge of operating one of the worlds oldest and most extensive
        transport networks while, at the same time, upgrading and modernising it to
        accommodate London's rapid growth. </p>
         
         
        <p>
        </p>
         
        <hr />
        London Underground has an average of 24.3 million passenger
        journeys a week and London Buses has an average of 46.2 million journeys a
        week.
         
        <p>The week of 9 December 2013 saw 27.2 million Tube journeys and
        48.6 million bus journeys.</p>
        <p>From 12 September next year, London Underground will introduce the
        'Night Tube' &#45; an all night 24 hour services on key lines on Friday and
        Saturday nights, which will cut journey times, support the creation of some
        2000 new jobs and boost London's economy by &pound;360 million.</p>
        <p>During next year, London Underground will be modernising the way
        customers are served at stations, with staff brought out from underused ticket
        offices and back offices to where they can assist customers most effectively &#45;
        in ticket halls, at gate lines and on platforms. There will be more staff
        visible and available to help customers to buy the right ticket or use
        contactless payments,&nbsp; plan their journeys and keep them safe and secure,
        and all stations will be staffed at all times.</p>
         
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Growth in passengers on London’s transport network -->

 
 
        
        
            @{ViewBag.Description = "Combined bus and Tube journeys at highest ever level ";}
        
        


 