


@{ViewBag.Title = "London hosts Quiet Cities";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London hosts Quiet Cities</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London hosts Quiet Cities</h1>
        <div class="content-page-press-release">
        26 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Quiet Cities: the world's first global summit on retiming freight deliveries
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The importance of freight to the capital and beyond cannot be underestimated, but nor can the challenges facing it"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy, CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Global summit demonstrates retimed freight deliveries are achievable without disturbing residents</li>
    <li>New, easy to use toolkit published to help encourage more deliveries to take place outside rush hour</li>
</ul>
<p>New guidance to pave the way for responsibly increasing the flexibility of delivery times was published today as part of the Mayor of London's and Transport for London's (TfL's) commitment for safer, cleaner and more efficient deliveries across London.</p>
<p>The new guidance was launched as delegates from across the globe attended the world's first &quot;Quiet Cities&quot; summit in London. The summit, held in Twickenham, aimed to bring key players in the freight industry together to take a long-term look at how to efficiently manage freight deliveries in the future.</p>
<p>With 90 per cent of London's freight moving on the capital's roads, the summit focused on how this challenge could, in part, be addressed by retiming road deliveries and services to the right time of day or night.</p>
<p>The summit included experts from across the industry and addressed the burning issues that face the changing nature of deliveries in urban areas during the 21st Century. The new guidance shows local authorities, businesses and operators how collaborative small changes and gaining the right knowledge can make retimed deliveries a reality.</p>
<p>London is set to expand to over 10 million people by 2031, the equivalent of absorbing the population of both Birmingham and Leeds, and the challenge of how to safely and efficiently move increasing volumes of goods around the capital needs careful planning.</p>
<p>Out of hours deliveries proved successful during the London 2012 Games, when the freight industry pulled together to ensure the capital, faced with exceptional demand, continued to function. The rapid growth of the capital and the changing behaviour of Londoners mean more goods are ordered, increasingly online, to a wider variety of delivery addresses.</p>
<p>The London Re-Timing Deliveries Consortium, which comprises of TfL, London boroughs, retailers and members of the freight industry, has been working hard to demonstrate what can be achieved when different organisations work in partnership effectively. Their work has helped form the creation of the new toolkit &quot;Getting the Timing Right&quot;, which demonstrates how the timings of deliveries both in London and the UK could be made more flexible without adversely affecting business or local residents.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: </p>
<p>'The importance of freight to the capital and beyond cannot be underestimated, but nor can the challenges facing it.</p>
<p>'In 15 years the freight industry will be supplying an extra two million Londoners; in the shops, at their work and at home. The silver lining to this imminent cloud is that London, through the 2012 Games and the Re-timing Deliveries Consortium, has proved that innovative attitudes can have a real impact. Moving deliveries to the right time will make the difference, improving road safety and relieving pressure on congestion.</p>
<p>'The sheer number of people at the inaugural Quiet Cities event shows that the appetite for this change is there, not just in London, or the UK, but across the globe.'</p>
<p>Tim Slater, Managing Director of Transport UK &amp; Ireland at DHL, said: </p>
<p>'As the world's leading logistics provider, it is important that we remain at the forefront of the industry.</p>
<p>'By sharing best practice and innovative technologies, such as our new concept vehicle, retiming of deliveries to out of the peak can become a reality; ensuring reliability, easing congestion and improving road safety.'</p>
<p>Councillor Phil Jones, Cabinet Member for Regeneration, Transport and Planning, Camden Council, said: </p>
<p>'Demand for deliveries continues to grow during peak hours and can have significant negative impacts on our local communities. I welcome the opportunity to trial how supermarket deliveries can be retimed to find the best solutions for local residents in light of local conditions. Councils need to work in partnership with TfL to ensure businesses act as good neighbours in our local communities.'</p>
<p>Increasing the range of innovative ways to reduce the impact of freight plays a key role in TfL's Road Modernisation Plan. The plan, backed by an unprecedented increase in roads investment totalling &pound;4bn, aims to make freight and fleet as safe, clean, efficient and sustainable as possible to balance a growing city with more demand on the roads.</p>
<p>Further information is available here: <a href="http://www.tfl.gov.uk/freight and www.tfl.gov.uk/roads">www.tfl.gov.uk/freight and www.tfl.gov.uk/roads</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Quiet Cities is a collaboration of TfL, DHL, Route Monkey and Road Transport Media supported by supported by the Freight Transport Association(FTA), Noise Abatement Society and Chartered Institute for Logistics in Transport focused on enabling quieter deliveries of freight in urban environments.</li>
    <li>The London Re-Timing Deliveries Consortium comprises the London Boroughs of Camden and Richmond-upon-Thames, the Royal London Borough of Kensington and Chelsea, Tesco, Sainsbury's, the Noise Abatement Society, London Councils, the FTA and the Road Haulage Association. It demonstrates what can be achieved when different organisations work in partnership effectively.</li>
    <li>Launched in 2013 as an industry response to a TfL commissioned report, the Construction Logistics and Cyclist Safety (CLOCS) programme has brought together developers, construction companies, operators, vehicle manufacturers and regulatory bodies to ensure a road safety culture is embedded across the construction industry. Due to CLOCS, over 20 construction clients require FORS accreditation as part of their contracts to help reduce collisions between trucks and all vulnerable road users. Further information about CLOCS is available at: www.clocs.org.uk.</li>
    <li>Launched in 2008, FORS is a unique industry led accreditation scheme which helps operators improve operational performance and safety, measure and monitor performance as well as ensure and demonstrate compliance and best practice. More than 2,200 accredited companies, operating over 180,000 vehicles, are now part of the scheme, a third of which are in the construction and aggregates industry, leading the way to improve the safety of vulnerable road users. FORS was recognised with a Prince Michael International Road Safety Award earlier this year for its continuing work to improve fleet and freight safety across the UK.</li>
    <li>Earlier this year TfL began the final consultation to bring the UK's first Safer Lorries Scheme. The scheme would ban lorries that do not have safety equipment designed specifically to protect cyclists and pedestrians from entering the capital.</li>
    <li>London continues to lead the way in improving the safety standards of freight with the Industrial HGV Taskforce. Funded by TfL and the DfT, and formed of officers from the Metropolitan Police Service, City of London Police, and Driver and Vehicle Standards Agency (DVSA), the Industrial HGV Taskforce has been targeting non-compliant heavy goods vehicles, drivers and operators on London's roads since October 2013. This intelligence led operation has seen over 2500 drivers and operators punished for non-compliance. By ensuing that it is not an option for irresponsible operators and drivers to undercut the industry through non-compliance, the safety of the roads for all is increased and the industry thrives.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-London hosts Quiet Cities -->

 
 
        
        
            @{ViewBag.Description = "London hosts Quiet Cities: the world’s first global summit on retiming freight deliveries";}
        
        


 