


@{ViewBag.Title = "LT Old Comrades to remember fallen colleagues";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LT Old Comrades to remember fallen colleagues</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LT Old Comrades to remember fallen colleagues</h1>
        <div class="content-page-press-release">
        05 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>Transport for London's (TfL)
        London Transport Old Comrades will honour their fallen colleagues as they march
        alongside the Armed Forces and lay a wreath for the 90th time at the Cenotaph
        in the Annual Remembrance Sunday parade on 9 November.
        &nbsp;
        </p>
        <p>
        This year is particularly
        poignant as the nation marks the centenary of the First World War in which
        1,500 transport workers died. To honour them and colleagues who died in other
        conflicts, marchers in the parade and spectators lining the Remembrance Sunday
        route will have a chance to see London Transport Museum's recently restored
        'Battle Bus' on display in Parliament Square on 9 November from 9am to 3pm. The
        bus will also take part in the Lord Mayor's Show on Saturday 8 November.
        &nbsp;
        </p>
        <p>The Battle Bus (B-type bus
        No. B2737) is the world's only operational B-type bus and was used to transport
        troops during the First World War. B-type buses were commandeered into military
        service at the beginning of the War in 1914, along with their civilian drivers
        and mechanics. With their windows boarded up and painted khaki to disguise
        their bright red livery, over 1,000 London buses were deployed for use on the
        front line. They were not only used to transport troops, but also served as
        ambulances and even mobile pigeon lofts enabling messages to be sent from the
        front line back to headquarters.
        &nbsp;</p>
        <p>
        London's Transport
        Commissioner, Sir Peter Hendy CBE, said: 'As we mark the centenary of the First
        World War, we want to remember and honour the transport staff who lost their
        lives in the Great Wars and other conflicts and who still give so much. We are
        grateful that London Transport Old Comrades have
        the privilege of laying a wreath at the Cenotaph on Remembrance
        Sunday.&nbsp;This year, as the marchers and spectators pass Parliament Square
        our Battle Bus will be there to give people a glimpse of how our troops were
        transported to and from the front line in 1914.'
        &nbsp;
        </p>
        <p>This year also marks the 91st
        year of the London Transport Old Comrades Association who will continue the
        tradition of marching alongside the Armed Forces and will lay a wreath at the
        Cenotaph in the Annual Remembrance Sunday parade.&nbsp;London Transport Old
        Comrades were given the right to march by King George V who granted this honour
        to the London General Omnibus Company in recognition of the services rendered
        by the men who drove buses to the front line in France from 1914 to 1918.
        &nbsp;
        Bob Lawrence, a former
        Territorial Army driver and retired London Underground Emergency Planning
        Manager, will be leading 48 men and women from the London Transport Old
        Comrades on the Remembrance Sunday march. Bob served in the Territorial Army
        for three years from 1974 to 1977. He served with the Army's Royal Corp
        transport as a driver with 215 Squadron, Grays, Essex. </p>
        <p>He joined London
        Underground in 1974 as a train guard before taking on other roles including
        Tube driver and Duty Train Manager and retired in 2007.
        &nbsp;
        Bob Lawrence said: 'It is a
        great privilege for me to be leading the London Transport Old Comrades again as
        we mark the centenary of the First World War. This year will be particularly
        moving as we remember those who made such a huge sacrifice for us all and
        remember those who are currently serving around the world.'
        &nbsp;
        </p>
        <p>Barry Osborne who served
        in the Royal Signals from 1969 to 1974 will lay the wreath at the Cenotaph in
        honour of the 4,500 transport staff who died in both Wars and other conflicts.
        He joined London Transport as a bus driver at Hackney Well Street, driving
        routes 6, 30, 35 and 106 and was the last person to drive a bus into Well
        Street before the depot was moved to Ash Grove.
        &nbsp;
        </p>
        <p>        Barry
        Osborne said: 'I'm extremely honoured to be granted the privilege of laying the
        wreath at the Cenotaph this year, and I hope to uphold the tradition with all
        respect and humility for those we remember on the day. This will be a very
        special and emotional day for me. My great uncle Edward was a bus driver at
        Dalston Garage and served during the First World War, as I lay the wreath this
        year, I will remember him.'</p>
        <p>Many of London's transport workers
        joined directly from a career in the armed forces and continue their
        association through active involvement with the reserve forces which in recent
        years has included deployments in Afghanistan and Iraq with the Territorial
        Army. TfL also offers paid placements to help ex-Armed Forces members - who may
        be wounded, injured or sick - back into employment.
        &nbsp;
        This year free taxis, Poppy
        Cabs, will be provided to transport Veterans from Westminster Bridge to various
        veterans clubs around London after the Remembrance Sunday march.
        &nbsp;
        People travelling in the
        capital this weekend for the Lord Mayor's Show on Saturday and Remembrance
        Sunday are advised to check before they travel at www.tfl.gov.uk, as there are a number of events happening this weekend. There
        will be some road closures, bus diversions and some Tube stations may also be
        busier than usual. People are advised to avoid driving where possible.
        &nbsp;
        </p>
         
        <hr />
        <p>
        Notes to Editors: </p>
        <ul>
            <li>Images
            of London Transport Old Comrades are available at -<a href="https://www.flickr.com/photos/tflpress/sets/72157648730755767/ ">https://www.flickr.com/photos/tflpress/sets/72157648730755767/</a></li>
            <li>All
            war veterans in receipt of a pension under the War Pensions Scheme or the Armed
            Forces Compensation Scheme including war widows and widowers and eligible
            dependents are eligible to apply for a Veterans Oyster photocard. They are not
            eligible for the photocard if they already have a 60+ London Oyster photocard
            or a Freedom Pass</li>
            <li>Further information can be found at www.tfl.gov.uk/veterans.</li>
            <li>On
            Friday 7 November two traditional red London Routemasters will be running on
            Metroline route 4 (Archway &#45; Waterloo) and Abellio London route 188 (Russell
            Square &#45; North Greenwich), in support of the Royal British Legion Poppy Appeal.
            Travel on these buses is free, however donations to the Poppy Appeal will be
            gratefully accepted</li>
            <li>The
            London Transport Old Comrades Association was formed in 1923</li>
            <li>1,500
            transport workers died in World War I and 3000 lost their lives in World War
            II</li>
            <li>Bob
            Lawrence aged 61 and lives in Southend</li>
            <li>Barry
            Osborne aged 63 and lives in Norfolk</li>
            <li>There
            will be nine Sikh Soldiers, dressed in Uniform on the LT Museum Battle Bus on
            Sunday 9 November.&nbsp; </li>
            <li>This group will be present to commemorate the
            participation of those soldiers as part of the soldiers who fought for the
            Commonwealth in the First War. Their participation is through the National Army
            Museum. </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-LT Old Comrades to remember fallen colleagues -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 