


@{ViewBag.Title = "Mayor and TfL unveil plans for revamp of Vauxhall";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor and TfL unveil plans for revamp of Vauxhall</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL unveil plans for revamp of Vauxhall</h1>
        <div class="content-page-press-release">
        10 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans published today on proposals to remove the gyratory and return to two-way streets
        
    </div>



 <div class="on-this-page">

        The
        proposed major overhaul to Vauxhall Cross, which would improve the area for
        hundreds of thousands of Londoners, took a step forward today as the initial
        consultation started on proposals to remove the gyratory.
        <p>The
        Mayor and Transport for London (TfL) also announced its intention to proceed
        with Cycle Superhighway 5, a largely segregated route between Oval and Pimlico.
        </p>
        <p>TfL is also inviting comments on revised proposals for the section that runs
        along Harleyford Road in Vauxhall. Work on Cycle Superhighway 5 could begin
        early next year.
        &nbsp;
        </p>
        <p>
        The
        Vauxhall Cross gyratory plans, which are part of TfL's &pound;4bn Road Modernisation
        Plan, would involve removing the gyratory and returning local streets to
        two-way working &#45; improving the lives of all road users. They also involve
        making improvements to the rail, bus and Tube interchange for public transport
        users and creating a safer environment for the growing number of pedestrians
        and cyclists in the area.
        &nbsp;
        </p>
        <p>Vauxhall is at the centre of Nine Elms on the Southbank,
        one of Europe's major areas of regeneration and a vital part of the Mayor of
        London's plan to deliver jobs and homes for London's growing
        population.&nbsp;The removal of the gyratory system would support current
        investment in the area, helping to create new retail, residential, employment
        and educational opportunities and attract further investment to the area. This
        is one of a number of major gyratories that TfL and London's boroughs are
        looking at removing over the next ten years.</p>
        <p>The
        Vauxhall Cross gyratory consultation, which will run until 19 December, will
        help to shape further design of the new highway layout throughout the area. A
        further consultation on the detailed plans will be carried out next year.
        &nbsp;
        </p>
        <p>
        The Mayor of London, Boris
        Johnson, said: `Vauxhall Cross has become one of the most hated junctions in
        the capital and for many cyclists travelling in from the south it is simply
        unavoidable. The redesign will not only make it safer for those on two-wheels,
        but also more pleasant for the hundreds of thousands of Londoners who live,
        work or travel through this area, supporting wider regeneration.`
        &nbsp;
        </p>
        <p>Leon
        Daniels, Managing Director of Surface Transport at TfL, said: `As part of our
        continuing work to improve London's roads for everyone, we have been working
        with Lambeth Council on the Nine Elms regeneration and particularly the area
        around Vauxhall Cross.
        &nbsp;
        &quot;These
        changes, which are part of the &pound;4bn Road Modernisation Plan, will improve
        facilities for all road users by simplifying the road network through the area
        and returning the streets to two-way working. It will help to create far better
        facilities for pedestrians and cyclists, as well as new open spaces, which will
        provide a boost for local residents and businesses.`
        &nbsp;
        </p>
        <p>Lambeth Cllr Jack Hopkins,
        Cabinet Member for Growth and Jobs, said: `Vauxhall has so much exciting
        potential that's not been realised because it's dominated by traffic. I'd urge
        people to make sure this consultation reflects the widest possible views of
        those who live, work and travel in Vauxhall.`
        &nbsp;
        </p>
        <p>TfL consulted on plans to create a Cycle Superhighway
        between Pimlico and Oval earlier this year. The overall response was extremely
        supportive, with 72% of respondents fully or partially supporting the
        proposals. TfL now intends to proceed with the route, which would provide a
        continuous, largely segregated two-way cycle track between Oval and Pimlico,
        running through the Vauxhall area. &nbsp;
        &nbsp;
        </p>
        <p>Further comments are now being invited on revised
        proposals on the section of Cycle Superhighway route along Harleyford Road and
        Kennington Oval in Vauxhall. The new designs would introduce a cycle track to
        the south side of Harleyford Road instead of the north side. The new proposals
        would also allow the right turn from Harleyford Road to Kennington Lane to be
        kept open to motorists and provide a new pedestrian crossing and cycle way on
        Durham Street. Comments on the revised proposals can be accepted until
        Wednesday 10 December 2014. Subject to these comments, construction
        of Cycle Superhighway 5 could begin in spring 2015.
        &nbsp;
        </p>
        <p>The
        improvements to the Vauxhall area would complement the recent 25% increase in capacity of the 185 bus route and the ongoing &pound;36m Vauxhall Tube
        station upgrade, which will provide step-free access to the Victoria line and
        reduced congestion within the station. The overall improvements to the Vauxhall
        area have been supported by the Mayor's growth fund.
        &nbsp;
        Further
        information is available here: <a href="http://www.tfl.gov.uk/vauxhall-cross">www.tfl.gov.uk/vauxhall-cross</a>&nbsp;
        and <a href="http://www.tfl.gov.uk/CS5">www.tfl.gov.uk/CS5</a></p>
        <p>
        </p>
        <hr />
         
        <ul>
            <li>The proposed changes to Vauxhall Cross gyratory would form part of
            the wider work being carried out across London as part of TfL's Road
            Modernisation Plan. With a budget of over &pound;4 billion from now until 2020/21,
            this overarching plan represents the biggest investment in London's roads in a
            generation, including hundreds of transformational projects within the existing
            road network. Using radical ideas and innovative designs, the plan will make
            London's roads greener, safer and more attractive for the benefit of all road
            users.</li>
            <li>TfL
            recently announced a consultation on plans to radically redesign Archway
            gyratory. Further information about the proposed improvements to Archway
            gyratory can be found here: <a href="/info-for/media/press-releases/2014/november/redesign-proposals-for-archway-gyratory">/info-for/media/press-releases/2014/november/redesign-proposals-for-archway-gyratory</a> </li>
            <li>A
            wider traffic management plan for central and inner London is currently being developed
            to help reduce the traffic impacts of this scheme and others. </li>
            <li>This will include
            investing in advanced traffic signal technology to better manage traffic
            depending on differing conditions at any given time. Updated information will
            also be provided to satellite navigation companies so that devices can
            incorporate the changed routes through the area. Further traffic modelling will
            be carried out during 2015 and provided as part of the next stage of
            consultation.</li>
            <li>The
            consultation into the Vauxhall Cross gyratory proposals is open from 10
            November until 19 December </li>
            <li>Drop
            in sessions for more information on the Vauxhall Cross gyratory proposals are
            being held at St Peters Church, 310 Kennington Lane&nbsp; on Saturday 22
            November between 11.00 and 16.00, Wheatsheaf Hall on Wednesday 26 November
            between 18.00 and 21.00 and Carmelita Centre on Tuesday 9 December between
            10.00 and 18.00. Visitors will also be able to speak to TfL staff about the new
            proposals for CS5 on Harleyford Road</li>
            <li>The
            Cycle Superhighway 5 Harleyford Road consultation is open from 10 November
            until 10 December. It can be found at <a href="http://www.tfl.gov.uk/cs5-harleyford-road">www.tfl.gov.uk/cs5-harleyford-road</a></li>
            <li>A
            report of the consultation for Cycle Superhighway 5 can be found here: <a href="http://www.tfl.gov.uk/cs5">www.tfl.gov.uk/cs5</a></li>
            <li>The
            section of CS5 between Pimlico and Belgravia is being developed in partnership
            with Westminster City Council and is proposed to run along Council-controlled
            roads. The recent consultation invited comments on three possible route
            options. The Council is considering the responses to consultation and will
            consult on detailed proposals for this section of route in the future.</li>
            <li>London's
            roads account for 80% of all journeys and 90% of all goods
            moved in the capital. As the engine of the British economy, London's population
            is set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to
            absorbing the population of both Birmingham and Leeds </li>
            <li>This
            is a continual challenge in a city with a road network that developed
            organically and was never designed for so much traffic. To meet the challenge,
            the Mayor and TfL are investing more than &pound;4 billion in improving London's
            roads, streets and urban realm for all road users, residents and businesses
            during the next decade. </li>
            <li>To
            help deliver this wider programme of work, TfL has already begun to expand its
            innovative SCOOT technology, which can change traffic signal timings based on
            traffic levels second by second, from half of all signals to three quarters of
            all signals. Hundreds of staff are already working 24/7 to monitor the network.&nbsp;
            </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Mayor and TfL unveil plans for revamp of Vauxhall -->

 
 
        
        
            @{ViewBag.Description = "Plans published today on proposals to remove the gyratory and return to two-way streets";}
        
        


 