


@{ViewBag.Title = "New London Underground uniform";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New London Underground uniform</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New London Underground uniform</h1>
        <div class="content-page-press-release">
        03 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new, modern and more stylish uniform, which will help customers recognise London Underground (LU) staff more easily, has been unveiled today
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new modern uniform has been developed hand in hand with our staff, and reflects both our heritage and our diversity. The new designs will help give our customers an even better service by making our staff even more recognisable to them"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Hufton</div>
            <div class="quotee-job-title">Chief Operating Officer, London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <p>The new outfits are the first update of the uniform in over a decade and have been created with durability, sustainability and attention to detail in mind &#45; celebrating the Tube's heritage but introducing new staff clothing for the future.</p>
        <p>The uniform, which will help customers easily identify staff, has for the first time been designed to truly reflect the diversity of London and the LU workforce. Staff will have a choice of various mix and match options and, for the first time, a full range of the uniform has been specifically tailored for female staff.</p>
        <p>The new outfits have been designed by leading UK designer Wayne Hemingway MBE, who specialises in affordable and social design, with staff being involved at every step of the way &#45; taking part in the development of the new garments through staff websites, workshops and 'meet the designer' sessions.</p>
        <p>The designs employ the famous LU logo or 'Roundel' &#45; which is in the top 10 most recognised brand icons in the world - in several ways throughout the new uniform. The logo appears on pockets, jacket cuffs, is embroidered into the back of the uniform and even features on small zip pulls.</p>
        <p>The new outfits will now be trialled by over 200 staff at six stations and two train depots over the next five weeks. After any modifications that need to be made the uniform will be introduced during next year.</p>
        <p>Phil Hufton, London Underground's Chief Operating Officer, said: </p>
        <p>'This new modern uniform has been developed hand in hand with our staff, and reflects both our heritage and our diversity. The new designs will help give our customers an even better service by making our staff even more recognisable to them. This is just one element of our work to modernise the Underground &#45; from the way our customers are served, to contactless payment transforming the way people can pay for their travel, to the relentless improvements we are making to stations, accessibility and the comfort, frequency and reliability of our services. Together these things are creating a network fit for the 24 hour 21st century city we serve.'</p>
        <p>Wayne Hemingway, MBE, founder of HemingwayDesign, said: </p>
        <p>'The development of the new uniform has challenged us all. It is vital that the new uniform does justice to one of the best transport systems in the world, in a city that is widely considered to be the most exciting in the world. The London Underground community have been a vocal lot during the design and development process and rightly so when it comes to something that they have to wear more for longer than anything else in their wardrobes.</p>
        <p>'Their welcome feedback has, we believe, resulted in a uniform that is fit for purpose, technological in its materials and will prove to be instantly recognisable to the public. The next few weeks will give us all a chance to refine these samples and deliver a uniform that really adds to a great brand, a great transport system and a great city.'</p>
        <p>LU Customer Service Assistant, Serge Ake, worked as an assistant project manager on the new uniform design. Speaking about the Fleecington, a completely new garment created from merging a Harrington jacket with a fleece, Serge commented: </p>
        <p>'The red zip, collar and LU logo on the Fleecington make it very appealing and will easily be recognisable to customers. It's one of the most popular parts of the new uniform with those who have seen it so far &#45; lots of staff want to try it on.'</p>
        <p>LU is carrying out a huge programme of modernisation, with major stations, trains, track and signalling being updated or replaced to provide more capacity for a growing city. By the end of 2016, 191 new spacious and air-conditioned trains will have been introduced on the Circle, District, Hammersmith &amp; City and Metropolitan lines for a more comfortable journey.</p>
        <p>The line upgrades are at the core of LU's investment programme, which will deliver more than 30 per cent increase in capacity. The upgrade programme is being delivered over the coming years, with work to modernise the Northern line nearly complete, and the Circle, District, Hammersmith &amp; City and Metropolitan lines well underway.</p>
        <p>Redevelopment work to increase capacity at key stations and make them step-free is underway at a number of stations including Victoria, Tottenham Court Road and Bond Street. More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms and improved seating and lighting.</p>
        <p>During next year, LU will be modernising the way customers are served at stations, with staff brought out from underused ticket offices and back offices to where they can assist customers most effectively &#45; in ticket halls, on gate lines and on platforms. There will be more staff visible and available to help customers buy the right ticket or use their contactless payment card, plan their journeys and keep them safe and secure, and all stations will be staffed at all times. Later this year, every member of station staff will have access to a mobile device which will provide them with access to travel information and other functions.</p>
        <p>From 12 September next year, LU will introduce the 'Night Tube' &#45; all night 24 hour services on Friday and Saturday nights on the Jubilee, Victoria and most of the Piccadilly, Central and Northern lines. Night Tube will cut journey times, support the creation of some 2000 new jobs and boost London's economy by &pound;360 million.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Images of the trial uniform design are available from the TfL Press Office.</li>
            <li>The uniform trial is taking place at the following LU stations and train depots:</li>
        </ul>
        <ol>
            <li>Camden Town;</li>
            <li>Greenford;</li>
            <li>Harrow-on-the-Hill;</li>
            <li>Mile End;</li>
            <li>Oxford Circus;</li>
            <li>Perivale;</li>
            <li>Acton Town depot;</li>
            <li>Edgware Road depot.</li>
        </ol>
        <ul>
            <li>The trial is taking place from Sunday 2 November until Monday 8 December.</li>
            <li>TfL has recently launched its Future Vision marketing campaign to inform customers of its commitments to improve and modernise the Tube.&nbsp; TfL is committed to:</li>
        </ul>
        <ol>
            <li>Introducing a new 24-hour Tube service at weekends; </li>
            <li>Further improving the reliability and capacity of its service; </li>
            <li>Ensuring all Tube stations are controlled and staffed while services operate; </li>
            <li>Making journeys easier for our customers - supported by technology; </li>
            <li>Delivering improvements with the best possible value for money for customers.</li>
        </ol>
        <ul>
            <li>For more information on Future Tube Improvements visit: <a href="http://www.tfl.gov.uk/futuretube">www.tfl.gov.uk/futuretube</a></li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-New London Underground uniform -->

 
 
        
        
            @{ViewBag.Description = "New modern London Underground uniform unveiled";}
        
        


 