


@{ViewBag.Title = "Northern line extension to Battersea gets go-ahead";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Northern line extension to Battersea gets go-ahead</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Northern line extension to Battersea gets go-ahead</h1>
        <div class="content-page-press-release">
        12 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        The extension of London Underground's (LU)
        Northern line from Kennington to Battersea via Nine Elms has been given the
        go-ahead today by the Secretary of State for Transport.
        &nbsp;
        <p>The vital addition to the
        Underground network will support the development of the Vauxhall, Nine Elms and
        Battersea area as a major extension to central London, supporting 24,000 new
        jobs and over 18,000 new
        homes.&nbsp; </p>
        <p>The extension will cut journey times to the West End and the City
        to just under 15 minutes.
        &nbsp;
        </p>
        <p>Two new stations will be constructed &#45;
        one at the heart of the Battersea Power Station redevelopment and another at
        Nine Elms to the east, serving new developments such
        as the US Embassy and the redevelopment of New Covent Garden Market, as
        well as existing communities.&nbsp;&nbsp;
        </p>
        <p>The Northern line extension will
        enable the Vauxhall Nine Elms Battersea (VNEB) area to be transformed into a
        major new commercial and residential district. Other transport investments in
        the area, include the transformation of the Vauxhall gyratory, the creation of
        new dedicated cycle routes through the area, and the upgrading of Vauxhall Tube
        station to include the provision of step free access.
        &nbsp;
        </p>
        <p>The full cost of the
        Northern line extension is expected to be up to &pound;1bn, which is being funded
        entirely through contributions from the developments in the area that will
        benefit from the extension.&nbsp; An innovative funding package has been agreed
        between the Mayor of London and Government, which includes the creation of an
        Enterprise Zone from 2016 for a period of 25 years.&nbsp; The Greater London Authority
        will be putting forward a funding package shortly for the &pound;1bn needed to
        deliver the extension.</p>
        <p>The
        Mayor of London, Boris Johnson, said: `I am delighted we can confirm that early
        next year the spades will be hitting the ground for the creation of the
        Northern line extension. Driven by improved transport links this part of
        central London is set to move forward a century in a matter of a few years,
        supporting 24,000 new jobs and more than 18,000 new homes.The benefits of
        major infrastructure projects such as this are enormous - cutting journey times
        for passengers, supporting London's future growth and creating jobs right
        across the UK.`
        &nbsp;
        </p>
        <p>Mike Brown MVO, Managing Director of London Underground, said: `This vital
        new part of the Underground network will support and enable growth in an area
        that is rapidly developing. By 2020 we will have created over three miles of
        new tunnels and two brand new stations that will transform transport links to
        the area.`
        &nbsp;
        </p>
        <p>Ravi
        Govindia, leader of Wandsworth Council, said: `This is fantastic news for the
        people of Battersea and the benefits will be felt right across Wandsworth. This
        part of the borough is already coming to life with thousands of new homes and
        jobs and its two new Tube stations will turbo charge the process. The Northern
        line extension will take the pressure off the rest of our local transport
        network and gives Nine Elms official Zone One status.`
        &nbsp;
        </p>
        <p>Extending the Northern
        line to Battersea and Nine Elms is just one of several steps to improve service
        levels on the line. From December this year, new signalling on the Northern
        line will mean a 20% increase in capacity through central London during
        peak times &#45; enough for an additional 11,000 passengers per hour.
        &nbsp;
        </p>
        <p>Following the Secretary of State for
        Transport's approval of the project, construction will start as soon as spring
        next year. Over three miles of new tunnels will be constructed and brand new
        stations opened at Nine Elms and Battersea by 2020.&nbsp;&nbsp;
        &nbsp;
        </p>
        <p>During construction the
        project will support around 1000 jobs, which will have a positive impact on the
        whole UK economy, including around 50 apprenticeships&nbsp;through the supply
        chain, spread out across the country.&nbsp;
        &nbsp;
        </p>
        <p>By 2020 LU is
        planning to increase train frequencies on the Northern line to at least 30
        trains per hour with the introduction of new trains.
        &nbsp;
        </p>
        <p>This is just one of the many projects
        that LU has underway to modernise and improve the Tube network to keep pace
        with the city's sharply rising population. LU is rebuilding major stations like
        Victoria, Tottenham Court Road and Bond Street, introducing new trains across
        40% of the network and improving the way it serves its customers.&nbsp; </p>
        <p>Earlier this year TfL awarded the contract to design and build the
        Northern line extension to Ferrovial Agroman Laing O'Rourke.
        </p>
        <p>
        </p>
        <hr />
         
        <ul>
            <li>The
            Secretary of State for Transport has decided to make the Transport and Works
            Act Order that will give permission to London Underground to extend the
            Northern line from Kennington to Battersea via Nine Elms.&nbsp; The Order will
            be made with modifications with planning direction subject to conditions.</li>
            <li>The
            Secretary of State for Communities and Local Government has decided to give the
            various listed building and conservation area consents and the open space
            certificate required for implementation of the Northern line extension.</li>
            <li>The
            decision follows a public inquiry conducted by an independent Inspector last
            year to consider the Transport and Works Act Order (TWAO) application.</li>
            <li>There
            was also a formal consultation before, and during, the public inquiry.
            &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The
            Enterprise Zone will allow for the retention of incremental business rates
            generated by new commercial development within the VNEB Area to be used as a
            funding stream for the NLE.</li>
            <li>For
            more information about our proposed extension to the Northern line please
            visit: <a href="http://www.tfl.gov.uk/travel-information/improvements-and-projects/northern-line-extension">http://www.tfl.gov.uk/travel-information/improvements-and-projects/northern-line-extension</a></li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Northern line extension to Battersea gets go-ahead -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 