


@{ViewBag.Title = "Old Street roundabout to be made safer ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Old Street roundabout to be made safer </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Old Street roundabout to be made safer </h1>
        <div class="content-page-press-release">
        12 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation plans include segregated cycle routes and new pedestrianised area
        
    </div>



 <div class="on-this-page">

        <p>Plans
        to radically redesign Old Street roundabout, transforming the area for cyclists
        and pedestrians and creating a new public space for all to enjoy, have been
        announced by the Mayor and Transport for London (TfL) for consultation as part
        of the &pound;4 billion Road Modernisation Plan.
        &nbsp;
        </p>
        <p>The new design for the roundabout, a crucial
        gateway to Tech City, proposes to introduce two-way traffic by closing the
        north-western 'arm' between the west side of Old Street and the north side of
        City Road. </p>
        <p>This would create a large new public space which would be
        pedestrianised and include improvements such as seating and tree planting and a
        new entrance to Old Street station.
        &nbsp;
        </p>
        <p>Cyclists make up almost a third of all the
        vehicles at the roundabout in the morning rush hour and new cycle lanes &#45;
        segregated where possible &#45; along with separate cycle signals, will be created
        through the junction for cyclists. </p>
        <p>The proposals are aimed at dramatically
        improving road safety in the vicinity of the roundabout, which saw 44 people
        injured in collisions between February 2010 and January 2013, 80% of
        which involved a pedestrian or cyclist.
        &nbsp;
        </p>
        <p>Subject to the results of the consultation
        work on the improvements would begin next year.
        &nbsp;</p>
        <p>
        The
        Mayor of London, Boris Johnson, said: `We are progressing at full steam with
        our plans to redesign some of London's most dangerous junctions, and Old Street
        roundabout is next to be completely overhauled. These plans will dramatically
        improve safety for the thousands of cyclists and pedestrians using the
        junction, and also make it easier to access Tech City, which continues to
        nurture upcoming technology and creative talent from around the world.'
        &nbsp;
        </p>
        <p>One
        of the current subways would be replaced with new surface level pedestrian
        crossings, and a new station entrance to Old Street London Underground station
        would be built in the centre of the new pedestrianised area. This would also
        lay the groundwork for more improvements to the station in the future. The
        creation of new public space would also provide the potential to expand the
        number of already successful pop-up retail units currently in the station.
        &nbsp;
        </p>
        <p>Preliminary
        assessments suggest that the changes would mean a much safer junction for
        cyclists, but would result in some changes in rush-hour journey times for
        buses, cars and coaches. Journey times would broadly remain as existing for the
        majority of routes, with the only significant increase&nbsp;being to traffic
        heading northwest on City Road, which may take up to two minutes longer in the
        morning and afternoon
        &nbsp;
        A wider traffic management plan for central
        and inner London is currently being developed to help reduce the traffic
        impacts of this scheme and others. This will include investing in advanced
        traffic signal technology to better manage traffic in the area.
        &nbsp;
        </p>
        <p>Updated information would also be provided to
        satellite navigation companies so that devices can incorporate changed routes
        through the area.
        &nbsp;
        Leon
        Daniels, Managing Director of Surface Transport at TfL, said: `80%
        of all accidents at Old Street involve a cyclist or a pedestrian and it's our
        priority to address these issues. These new plans reflect the changing face of
        traffic in London, where more and more people are travelling by bicycle and
        it's incumbent upon us to make it safer for them.'
        &nbsp;
        Cllr
        Claudia Webbe, Islington Council's executive member for environment and
        transport said, &quot;We welcome the TfL public consultation on improvements at the
        Old Street roundabout. Old Street is not only a valuable part of Islington but
        an iconic landmark of London, yet in its current form it's not fit for purpose.
        Positive changes to the access and roads at Old Street are badly needed to
        improve safety and travel. The council, local residents, cyclists and
        businesses have long campaigned for the radical transformation to this
        extremely busy, complex roundabout.
        &nbsp; </p>
        <p>`It
        is exciting to see this project finally coming forward, providing a new public
        open space and safer pedestrian and cycling routes, improving pupil access to
        local schools as well as enabling local residents to access new employment
        opportunities. We want local residents and businesses to have their say on the
        proposals, and will ensure that TfL listen very carefully to these views.'
        &nbsp;
        </p>
        <p>TfL's Road Modernisation Plan is a &pound;4 billion
        scheme to upgrade London's roads by 2021, and is the biggest investment in the
        capital's streets for a generation. Hundreds of new projects will transform the
        look, layout and safety of the existing road network. The schemes will harness
        state-of-the-art technology, and radical, innovative thinking to make London's
        roads safer, greener and more attractive.
        &nbsp;
        For
        more information on the Old Street roundabout consultation and to find out how
        to leave comments, please go to www.tfl.gov.uk/old-street-roundabout
        before Sunday January 11 2015.
        </p>
         
        <hr />
         
        <ul>
            <li>Drop-in
            sessions for more information on the Old Street roundabout proposals are being
            held at The Great Hall in Central Foundation Boys School, Cowper Street, London, EC2A 4SH on Saturday 29 November, 11am &#45;
            4pm, and at Spin Xmas at Rochelle School, Arnold Circus, London E2 7ES
            on Friday 5 December 6pm - 9pm and Saturday 6 December
            from 11am &#45; 4pm.</li>
            <li>In March 2013, the Mayor launched his Vision for Cycling in London,
            which detailed his &pound;913m programme to improve infrastructure and safety for
            cyclists in the capital &#45; www.tfl.gov.uk/cyclingvision.</li>
            <li>The proposed changes to Old Street roundabout would form part of
            the wider work being carried out across London as part of TfL's Road
            Modernisation Plan. With a budget of over &pound;4 billion from now until 2020/21,
            this overarching plan represents the biggest investment in London's roads in a
            generation, including hundreds of transformational projects within the existing
            road network. Using radical ideas and innovative designs, the plan will make
            London's roads greener, safer and more attractive for the benefit of all road
            users. For more information about TfL's Road Modernisation Plan please visit www.tfl.gov.uk/roads.</li>
            <li>A
            wider traffic management plan for central and inner London is currently being
            developed to help reduce the traffic impacts of this scheme and others. This
            will include investing in advanced traffic signal technology to better manage
            traffic depending on differing conditions at any given time. Updated
            information will also be provided to satellite navigation companies so that
            devices can incorporate the changed routes through the area. Further traffic
            modelling will be carried out during 2015 and provided as part of the next
            stage of consultation.</li>
            <li>London's
            roads account for 80% of all journeys and 90% of all goods
            moved in the capital. As the engine of the British economy, London's population
            is set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to
            absorbing the population of both Birmingham and Leeds</li>
            <li>To
            help deliver this wider programme of work, TfL has already begun to expand its
            innovative SCOOT technology, which can change traffic signal timings based on
            traffic levels second by second, from half of all signals to three quarters of
            all signals. Hundreds of staff are already working 24/7 to monitor the network. </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Old Street roundabout to be made safer  -->

 
 
        
        
            @{ViewBag.Description = "Consultation plans include segregated cycle routes and new pedestrianised area";}
        
        


 