


@{ViewBag.Title = "Plans unveiled for Stockwell transformation ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plans unveiled for Stockwell transformation </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plans unveiled for Stockwell transformation </h1>
        <div class="content-page-press-release">
        24 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation starts today on proposals to remove gyratory and return traffic to two-way working
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Whether you're riding a bike or on foot, our plans for Stockwell will make the area a safer, more inviting place to be. Stockwell gyratory is one of the 33 nastiest junctions in the capital that we're overhauling to make more accessible and easier to use for all road users and residents"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>&nbsp;Part of plans to overhaul 33 of London's worst junctions as an aspect of the Mayor's &pound;913m Vision for Cycling</li>
    <li>Gyratory removal would further improve facilities for cyclists along the popular Barclays Cycle Superhighway 7</li>
    <li>New public space would be created at southern end of South Lambeth Road</li>
</ul>
<p>Plans to remove Stockwell gyratory and create a brand new public space, centred around Stockwell Memorial Garden, have moved a step closer after a public consultation by the Mayor and Transport for London got underway today.</p>
<p>The proposals form part of the Mayor's Vision for Cycling, which is set to invest almost &pound;1bn into improvements for cyclists, including an overhaul of 33 of London's busiest and most dangerous junctions, making them safer and less threatening.</p>
<p>The Stockwell plans would remove the gyratory and return local streets to two-way working, improving conditions for road users and creating a safer, more accessible and more pleasant environment for pedestrians and cyclists in the area. They would also give residents a new landscaped public space created by closing the southern end of South Lambeth Road, connecting it to the Stockwell Memorial Garden, which currently lies in the centre of the gyratory system.</p>
<p>The proposed plans include measures to improve cycling facilities, such as segregated cycle lanes, improved advanced stop lines and widened bus lanes. These changes would enhance the existing Cycle Superhighway 7 (CS7), and complement other key improvement works at Oval and Elephant &amp; Castle, which are set to begin early next year. Since CS7 originally launched in 2010, the number of people cycling along the route has increased by 60 per cent, with nearly 2,500 cyclists an hour now using the route during the morning and evening peak.</p>
<p>The Mayor of London, Boris Johnson, said: </p>
<p>'Whether you're riding a bike or on foot, our plans for Stockwell will make the area a safer, more inviting place to be. Stockwell gyratory is one of the 33 nastiest junctions in the capital that we're overhauling to make more accessible and easier to use for all road users and residents.'</p>
<p>Lambeth Cllr Jack Hopkins, Cabinet member for Growth and Jobs, said: </p>
<p>'Removing the Stockwell gyratory system would make this area safer and better for cyclists and pedestrians. Road improvements can support and encourage local investment in the area, helping to create new homes, jobs, shops and other opportunities.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'These changes, which are part of our wider Road Modernisation Plan, would significantly improve facilities for both road users and local residents. The road network through the area would be simplified, creating two-way streets and far better facilities for drivers, pedestrians and cyclists, while the creation of a new open space demonstrates the clear benefits to local communities that can come from our continuing focus on improving London's roads.'</p>
<p>The removal of the Stockwell gyratory system, a vital gateway into both Brixton and Clapham, would support ongoing local investment in the area, helping to create new retail, residential, employment and educational opportunities.</p>
<p>The Stockwell gyratory consultation, which will run until 18 January, will help to further shape the design of the new highway layout throughout the area. The proposals were devised through work with the London Borough of Lambeth, road user representatives and local community groups.</p>
<p>The Mayor's Vision for Cycling forms part of the wider Road Modernisation Plan to invest &pound;4bn into London's roads, the biggest investment in a generation.</p>
<p >
Further information is available here: <a href="http://www.tfl.gov.uk/stockwell-cross">www.tfl.gov.uk/stockwell-cross</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>
    The proposed changes to Stockwell gyratory would form part of the wider work being carried out across London as part of TfL's Road Modernisation Plan. With a budget of over &pound;4 billion from now until 2020/21, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all road users.</li>
    <li>The plan includes changes at 33 of London's busiest junctions to improve facilities for cyclists and pedestrians by removing gyratories, improving public spaces or creating more direct cycle routes through those junctions.</li>
    <li>The programme includes the East-West and North-South Superhighways, new cycle tracks through the heart of London, providing safe and convenient cycle facilities. Together these will form a grid of cycle routes across London.</li>
    <li>TfL recently announced a consultation on plans to radically redesign Archway gyratory, Vauxhall Cross gyratory and Old Street roundabout. Further information about the proposed improvements to Archway, Vauxhall and Old Street can be found here: <a href="/info-for/media/press-releases/2014/november/redesign-proposals-for-archway-gyratory">/info-for/media/press-releases/2014/november/redesign-proposals-for-archway-gyratory</a>; <a href="/info-for/media/press-releases/2014/november/mayor-and-tfl-unveil-plans-for-revamp-of-vauxhall">/info-for/media/press-releases/2014/november/mayor-and-tfl-unveil-plans-for-revamp-of-vauxhall</a> and <a href="/info-for/media/press-releases/2014/november/old-street-roundabout-to-be-made-saf">/info-for/media/press-releases/2014/november/old-street-roundabout-to-be-made-saf</a></li>
    <li>A wider traffic management plan for central and inner London is currently being developed to help reduce the traffic impacts of this scheme and others. This will include investing in advanced traffic signal technology to better manage traffic depending on differing conditions at any given time. Updated information will also be provided to satellite navigation companies so that devices can incorporate the changed routes through the area. Further traffic modelling will be carried out during 2015 and provided as part of the next stage of consultation.</li>
    <li>The consultation into the Stockwell gyratory proposals is open from 24 November until 18 January</li>
    <li>Drop in sessions for more information on the Stockwell gyratory proposals are being held at Tate South Lambeth Library, on Saturday 29 November between 12:00 and 15:00, and Wednesday 3 December between 15:00 and 18:00 and on Wednesday 10 December at the Stockwell Partnership Forum from 19:00.</li>
    <li>London's roads account for 80 per cent of all journeys and 90 per cent of all goods moved in the capital. As the engine of the British economy, London's population is set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to absorbing the population of both Birmingham and Leeds</li>
    <li>This is a continual challenge in a city with a road network that developed organically and was never designed for so much traffic. To meet the challenge, the Mayor and TfL are investing more than &pound;4 billion in improving London's roads, streets and urban realm for all road users, residents and businesses during the next decade.</li>
    <li>To help deliver this wider programme of work, TfL has already begun to expand its innovative SCOOT technology, which can change traffic signal timings based on traffic levels second by second, from half of all signals to three quarters of all signals. Hundreds of staff are already working 24/7 to monitor the network.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Plans unveiled for Stockwell transformation  -->

 
 
        
        
            @{ViewBag.Description = "Mayor and TfL unveil plans for Stockwell transformation ";}
        
        


 