


@{ViewBag.Title = "Redesign proposals for Archway gyratory";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Redesign proposals for Archway gyratory</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Redesign proposals for Archway gyratory</h1>
        <div class="content-page-press-release">
        03 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Segregated cycle routes and new public space proposed in radical redesign of Archway gyratory
        
    </div>



 <div class="on-this-page">

        <p>Plans to
        radically redesign Archway gyratory, transforming the area for all road users
        and creating a new public space for all to enjoy, have been announced by the
        Mayor and Transport for London (TfL) as part of the &pound;4 billion Road
        Modernisation Plan. TfL and Islington Council have worked together to ensure
        that the proposals for Archway gyratory maximise benefits for all road users,
        and residents.
        &nbsp;
        </p>
        <p>The new layout,
        which started consultation today, would see the out of date gyratory replaced
        with two-way traffic lanes around three sides of the central island.&nbsp; The
        fourth side would be closed off to traffic, creating a new, open public space
        at the heart of the town. Segregated cycle lanes, including a two-way cycle
        route past the station and improved pedestrian crossings would also be
        introduced, creating safer and direct routes through the area.
        &nbsp;
        </p>
        <p>The new public
        space outside Archway Tube station would make it easier for people to access
        local businesses and help create an improved, more accessible town centre that
        would help attract further investment into the area. As part of this wider
        scheme, London Underground will also look to improve the ticketing hall of Archway
        station in the coming years to improve the customer experience within the
        station.
        &nbsp;
        Subject to the
        outcome of the consultation, construction could begin as early as 2016 and
        fully delivered during 2017.
        &nbsp;
        </p>
        <p>Mayor of London,
        Boris Johnson, said: `The Archway gyratory is a notorious, badly designed relic
        of the 1960s, which residents, businesses and road users have long wanted
        overhauled. We have worked closely with Islington Council on these plans and
        with segregated cycle lanes and improved pedestrian crossings this ambitious
        scheme is set to give Archway the facelift it deserves.`</p>
        <p>
        Leon Daniels,
        Managing Director of Surface Transport at TfL, said: `The Archway gyratory has
        been the bane of drivers, cyclists and bus passengers for many years. This
        scheme would bring the antiquated road layout into the 21st Century, creating a
        new public space to benefit local residents and businesses, as well as make it
        easier and safer for people to travel through the area.`
        &nbsp;
        </p>
        <p>Cllr Claudia
        Webbe, Islington Council's executive member for environment and transport,
        said: `We are pleased local people now have the opportunity to have their say
        on TfL's Archway gyratory plans.
        &nbsp;
        &quot;The council and
        the local community have long campaigned for improvements to be made to this
        busy and dangerous one-way road system.&nbsp;
        &nbsp;
        </p>
        <p>`We feel the
        latest design provides some real opportunities and benefits for the local
        community and will help to regenerate the area providing a new public open
        space and safer pedestrian routes, improving resident access to the businesses
        on the Archway island as well as giving cyclists a safer passage through the
        junction.
        &nbsp;
        &quot;We want local
        residents and businesses to have their say on the proposals, and will ensure
        that TfL listen very carefully to these views.`&nbsp;
        </p>
        <p>The proposed
        changes to Archway gyratory would form part of the wider work being carried out
        across London as part of TfL's Road Modernisation Plan. With a budget of over
        &pound;4 billion from now until 2020/21, this overarching plan represents the biggest
        investment in London's roads in a generation, including hundreds of
        transformational projects within the existing road network. Using radical ideas
        and innovative designs, the plan will make London's roads greener, safer and
        more attractive for the benefit of all road users.
        &nbsp;
        Further
        information and details of how to respond to the consultation are available
        here: <a href="http://www.tfl.gov.uk/archway-gyratory">www.tfl.gov.uk/archway-gyratory</a> </p>
        <hr />
         
         
         
        <p>For more information on TfL's Road Modernisation Plan, please
        visit <a href="http://www.tfl.gov.uk/roads">www.tfl.gov.uk/roads</a></p>
        <p>In March 2013, the Mayor launched his Vision for Cycling in
        London, which detailed his &pound;913m programme to improve infrastructure and safety
        for cyclists in the capital &#45; www.tfl.gov.uk/cyclingvision</p>
        <p>Traffic impact assessment modelling by TfL has shown that as well
        as benefits to cyclists and pedestrians, these proposals would mean some
        changes to journey times for traffic, with some bus and road journeys getting
        shorter and some getting longer by less than a minute. The only marked increase
        would be to traffic heading North on the A1 in the morning, which may take up
        to just under five minutes longer to travel through the area</p>
        <p>TfL is now working to mitigate the impact to journeys through the
        area to ensure delays are kept to a minimum, and to improve journey times where
        possible. A wider traffic management plan for central and inner London is
        currently being developed to help reduce the traffic impacts of this scheme and
        others. This will include investing in advanced traffic signal technology to
        better manage traffic depending on differing conditions at any given
        time.&nbsp; Updated information would also be provided to satellite navigation
        companies so that devices can incorporate changed routes through the area, once
        the scheme is delivered. </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Redesign proposals for Archway gyratory -->

 
 
        
        
            @{ViewBag.Description = "Segregated cycle routes and new public space proposed in radical redesign of Archway gyratory";}
        
        


 