


@{ViewBag.Title = "Safer Lorries Scheme begins final consultation 	";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Safer Lorries Scheme begins final consultation 	</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Safer Lorries Scheme begins final consultation 	</h1>
        <div class="content-page-press-release">
        05 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Scheme would see lorries without side guards and safety mirrors banned from London's streets by TfL and London Councils
        
    </div>



 <div class="on-this-page">

        <p>Transport for London (TfL) has
        heralded the final phase of consultation for the UK's first Safer Lorries
        Scheme, which would ban lorries that do not have safety equipment designed
        specifically to protect cyclists and pedestrians from entering the capital.
        &nbsp;
        </p>
        <p>Earlier this year TfL and
        London Councils held a six week consultation into their plans to introduce the
        Safer Lorries Scheme, which would cover all roads in London (except motorways)
        and require vehicles more than 3.5 tonnes to be: </p>
        <p>Fitted with side guards to protect cyclists
        from being dragged under the wheels in the event of a collision;</p>
        <p>Fitted with mirrors giving the driver a
        better view of cyclists and pedestrians around their vehicles.
        &nbsp;
        The proposed scheme would
        operate across London, 24 hours a day, seven days a week, covering the same
        area as the London Low Emission Zone and be enforced by the Police. More than
        6,800 people responded to the initial consultation, with 90% supporting
        the plans.
        &nbsp;
        </p>
        <p>TfL and London Councils are
        now consulting on the relevant draft Traffic Regulation Orders, and subject to
        the outcome, the ban could be in full force by the next summer.
        &nbsp;
        </p>
        <p>New analysis commissioned by TfL to
        improve the understanding of the factors which led to collisions between 2007
        and 2011, showed that more than a third of fatal HGV-cyclist collisions involved a
        tipper truck. Introducing the proposed Safer Lorries Scheme would ensure
        lorries entering London are fitted with mirrors and sidebars to provide better
        protection, particularly at junctions. &nbsp;</p>
        <p>The data was analysed by
        both the Transport Safety Research Centre, Loughborough University and the
        Centre for Transport Studies, University College London.
        &nbsp;
        </p>
        <p>Leon Daniels, Managing
        Director of Surface Transport, said: 'Improving the safety of London's roads is
        a top priority for Transport for London. Heavy Goods Vehicles, particularly
        construction related vehicles, are involved in a disproportionate number of
        fatal collisions with cyclists and pedestrians. Of the 14 cyclist deaths in London in 2013, nine
        involved
        HGVs.</p>
        <p>'The proposed Safer Lorries
        Scheme is a great partnership effort, which will ensure that the minority of
        HGVs that still operate on our roads without
        effective basic safety equipment are required to fit this. This will save lives
        and ensure a level playing field for operators.'
        </p>
        <p>
        Cllr
        Julian Bell, Chair of London Councils' Transport and Environment Committee,
        said: `This scheme will save lives and London Councils is pleased to
        participate in the Safer Lorries Scheme by promoting this traffic order. The
        scheme balances practical issues with the urgent need to address the danger
        lorries can pose to other road users.
        &quot;London
        Councils is determined to make London's roads safer for drivers, cyclists and
        pedestrians, and I am proud London is leading the way in introducing this
        scheme.`
        &nbsp;
        </p>
        <p>The introduction
        of the proposed Safer Lorries Scheme is one of the key actions of TfL's new
        Cycle Safety Action Plan which was also published and contains 33 new actions that
        TfL, the police, London boroughs and all organisations involved in making
        cycling safer will work together to deliver between now and 2020.
        The plan, which
        will help deliver TfL's six key overarching commitments to road safety,
        includes a wide range of actions, including:</p>
        <p>Delivering
        the major infrastructure programmes outlined in the Mayor's Vision for Cycling,
        emphasising the importance of cycle safety on the capital's roads. Work
        to remove the Elephant &amp; Castle northern roundabout will begin in early
        2015 and earlier this month TfL began installing continental-style Low Level
        Cycle Signals at further trial sites across London, helping to encourage their
        use more widely in the UK. Last week, the Mayor announced improvement work is
        set to start on Oval Junction, the first of 33 junctions to be radically
        reshaped to make them safer for cyclists.</p>
        <p>Working with
        regulators and the automotive industry to explore how improvements to HGV
        design could further protect cyclists, such as higher vision cabs to improve
        driver direct vision, and the independent evaluation of blindspot safety
        technology to help inform HGV operator buying decisions.</p>
        <p>Extending
        the safety principles of the Fleet Operator Recognition Scheme (FORS) by developing
        cycle safety initiatives for other operator sectors such as buses,
        coaches, tour buses, taxis, private hire vehicles, light goods vehicles, cycle
        couriers and cyclists generally, encouraging drivers to be more sympathetic to
        vulnerable road user needs.</p>
        <p>Doubling the
        number of adult cyclists receiving advanced skills training by creating a
        dedicated London Virtual Skills Hub. This will allow online booking of cycle
        training and advanced safety skills across London to attract more commuter
        cyclists to take up training.</p>
        <p>Working with the Driver and
        Vehicle Standards Agency to incorporate more vulnerable road user awareness
        training in the London taxi test
        &nbsp;
        &nbsp;
        London is leading the UK in terms of cycling spend per
        head, with an average of &pound;10 per person in the capital. For more
        information on the work TfL and the London boroughs are carrying out to improve
        cycle safety across London, visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> &nbsp; </p>
         
        <p>
        </p>
        <hr />
        The revised Cycle Safety Action Plan can be downloaded here: www.tfl.gov.uk/corporate/publications-and-reports/road-safety
         
        <p>Vehicles
        that would be affected by the Safer Lorries Scheme can easily be retrofitted to
        comply. Side guards can be fitted from approximately &pound;500 and extended view
        mirrors can be fitted for approximately &pound;300 per mirror. Enforcement will be
        undertaken by the police. The Safer Lorries Scheme requirements have been a
        prerequisite for the FORS Bronze award since earlier this month. FORS was
        recognised with a Prince Michael International Road Safety Award for its
        continuing work to improve fleet and freight safety across the UK. </p>
        <p>Once
        launched, the Safer Lorries Scheme would form one part of the continuing work
        that is already underway across London to improve road safety involving freight
        vehicles, in particular construction vehicles. Regular road safety police
        operations continue to be carried out by the Industrial HGV Task Force across
        London, targeting non-compliant heavy goods vehicles, drivers and operators
        using the capital's roads. Since last October, this has resulted in over 3400
        vehicles being stopped, with 41 vehicles being seized, 1565 roadworthiness
        prohibitions given to drivers and a further 887 fixed penalty notices issued.</p>
        <p>The Pedal Cyclist Fatalities in London: Analysis of
        Police Collision Files (2007-2011), by Rachel Talbot, Steve Reed, Jo Barnes,
        Pete Thomas of the Transport Safety Research Centre, Loughborough University,
        and Nicola Christie of the Centre for Transport Studies, University College
        London, can be downloaded here: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/road-safety">www.tfl.gov.uk/corporate/publications-and-reports/road-safety</a></p>
        <p>In March 2013, the Mayor launched his Vision for Cycling in
        London, which detailed his &pound;913m programme to improve infrastructure and safety
        for cyclists in the capital.</p>
        <p>In February 2014 the Mayor and TfL published six safety commitments,
        which supports the Safe Streets for London plan to reduce further the number of
        people killed or seriously injured in London by 40% by 2020; and brings
        focus to the range of actions needed by us and our partners to make our streets
        safer: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a></p>
        <p>The six key commitments are: </p>
        <ul>
            <li>To lead the way in achieving a 40% reduction in the number
            of people killed or seriously injured on the capital's roads by 2020 - with a
            longer term ambition of freeing London's roads from death and serious injury; </li>
            <li>To prioritise safety of the most vulnerable groups - pedestrians,
            cyclists and motorcyclists - which make up 80% of serious and fatal
            collisions;</li>
            <li>To provide substantial funding for road safety, invested in the
            most effective and innovative schemes;</li>
            <li>To increase efforts with the police and enforcement agencies in
            tackling illegal, dangerous and careless road user behaviour that puts people
            at risk; </li>
            <li>To campaign for changes in national and EU law to make roads,
            vehicles and drivers safer;</li>
            <li>To work in partnership with boroughs and London's road safety
            stakeholders to spread best practice and share data and information&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
        </ul>
        <p>Earlier this year, &nbsp;the
        Mayor confirmed that regular road safety police operations, based on the
        original &quot;Operation Safeway&quot; which ran at the end of last year, will continue
        to operate across London for two days every month, on unannounced days. </p>
        <p>The MPS Commercial Vehicle Unit
        and the Driver and Vehicle Standards Agency also continue to enforce against
        non-compliant and dangerous commercial vehicles and drivers.
        Launched in 2013 as an industry response to a
        TfL commissioned report, the Construction Logistics and Cyclist Safety (CLOCS)
        programme has brought together developers, construction companies, operators,
        vehicle manufacturers and regulatory bodies to ensure a road safety culture is
        embedded across the construction industry. </p>
        <p>Due
        to CLOCS, over 20 construction clients require FORS accreditation as part of
        their contracts to help reduce collisions between trucks and all vulnerable
        road users. Further information about CLOCS is available at: <a href="http://www.clocs.org.uk.">www.clocs.org.uk.</a></p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Safer Lorries Scheme begins final consultation 	 -->

 
 
        
        
            @{ViewBag.Description = "Scheme would see lorries without side guards and safety mirrors banned from London’s streets by TfL and London Councils";}
        
        


 