


@{ViewBag.Title = "TfL's commitment to apprentices";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL's commitment to apprentices</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL's commitment to apprentices</h1>
        <div class="content-page-press-release">
        04 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL demonstrates its commitment to apprentices with a &pound;1million investment in London Underground's training facility
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As our city grows, the need for top-notch transport and infrastructure grows with it.  That is why getting our young people equipped with the skills to keep London moving is of paramount importance. I am determined to continue increasing the number of apprenticeships in the capital and have committed more than &pound;2.5m in schemes over the last two years, with more funding secured for next year. I urge all London's firms to follow TfL's lead and employ an apprentice"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Over 100 new apprenticeship roles created for 2015</li>
            <li>Over 5,000 apprenticeship roles created by TfL and its supply chain since 2009</li>
            <li>London apprentices eligible for a concession Oyster card which could save them over &pound;600 a year </li>
        </ul>
        <p>London Underground today unveiled &pound;1million of improvements to its training facility for apprentices at their Skills and Training Centre in Acton, as it continues to support future generations of transport workers.&nbsp;</p>
        <p>The Skills and Training Centre is home to London Underground Engineering apprentices and has been modernised with new equipment and first class facilities to help ensure they have the skills needed to support the capital's transport network. Apprentices at the Centre are in roles including Signalling, Rolling Stock and Track Engineering.&nbsp;</p>
        <p>There is a skills shortage in the transport industry, particularly in engineering and London Underground is investing in the equipment and infrastructure its apprentices use while learning the trade to ensure they have the skills they will need to keep London moving. The reopening of the Centre came during &quot;Tomorrow's Engineers Week&quot; (3-7 November), which aims to encourage more young people to consider a career in engineering.&nbsp;</p>
        <p>In September 2014, TfL welcomed 86 new apprentices in a variety of roles ranging from Project Planning to Highway Technicians. It has also created over 100 new apprenticeship roles for 2015. The apprenticeship roles will be available for applications on the TfL website from February 2015.&nbsp;</p>
        <p>Mike Brown MVO, Managing Director of London Underground and London Rail, said: </p>
        <p>'All our apprentices are helping us to support over 30 million journeys every day as we continue to invest billions of pounds in our transport network to meet the needs of London's growing population to support jobs, homes and economic growth. It is clearly essential that we have the right people with the right skills to enable us to deliver for the city and its people.&nbsp;</p>
        <p>'The infrastructure that apprentices use during their training is vital if they are to be equipped with the necessary skills to do the job. Tomorrow's Engineers Week is a great opportunity to encourage more young people to consider engineering as a career option.' </p>
        <p>With London's population set to grow from 8.4m today to 10m by 2030, it is vital that London has a transport network capable of keeping the city working and growing and making life in the capital better. A team of dedicated and highly qualified staff is essential to delivering that.&nbsp;</p>
        <p>Katharine Palmer, an Advanced Civil Engineering Apprentice at TfL, said: </p>
        <p>'I've always been interested in maths, physics and architecture which led me to the TfL apprentice scheme, which is widely recognised as one of the best in the field. I've been in the role for two years and found it to be very interesting and challenging; I've learned a lot and look forward to joining TfL as a certified engineer. I'm also delighted by the fact that talented women are now seeing engineering as an exciting and rewarding industry.'</p>
        <p>Since April 2009, TfL and its suppliers have created over 5,000 apprenticeship roles, supporting the Mayor of London's campaign to create 250,000 apprenticeship roles by 2016.&nbsp; While many of the apprentices are in London, many are employed across the UK as a direct result of TfL contracts with other business. In addition, Crossrail and its contractors will also deliver a legacy of 400 apprenticeships with more than 283 apprentices already working on the project.&nbsp;</p>
        <p>Mayor of London, Boris Johnson, said: </p>
        <p>'As our city grows, the need for top-notch transport and infrastructure grows with it.&nbsp; That is why getting our young people equipped with the skills to keep London moving is of paramount importance. I am determined to continue increasing the number of apprenticeships in the capital and have committed more than &pound;2.5m in schemes over the last two years, with more funding secured for next year. I urge all London's firms to follow TfL's lead and employ an apprentice.'</p>
        <p>All apprentices living in London aged 18 or over and in their first year of an approved apprenticeship course can save 30 per cent against the price of adult rate Travelcards and Bus &amp; Tram Passes with an Apprentice Oyster photocard available via the TfL website. &nbsp;&nbsp;</p>
        <p>TfL has an award winning Supplier Skills Team who work with the business and its suppliers to generate apprentice and employment opportunities. These opportunities are aligned to the skills requirements of TfL and its supply chain and provide the opportunity to source new talent into the industry whilst working to address skills shortages. To date almost 100 suppliers have engaged with the SST to deliver apprenticeships.</p>
         
        <hr />
         
        <p>Notes to Editor</p>
        <ul>
            <li>Images from the event are available on request.</li>
            <li>TfL and the London Transport Museum are also hosting a teacher Continuous Professional Development (CPD) event on the 4th November 2014.&nbsp; This event is being held with our Transport and Infrastructure Education Partnership (TIEP) partners &#45; Crossrail, Network Rail, High Speed 2, Thames Tideway Tunnels and City Airport as the partners collaborative efforts to help teachers understand the world of engineering and how they can bring it to life in the classroom.</li>
            <li>Since 2007, TfL has been recognised by the National Apprenticeship Service as one of the top 100 Apprenticeship Employers and offers a variety of training at three main training sites in West Kensington, Acton and Stratford to strengthen their skills.&nbsp; At the 2014 UK Rail Industry Awards (UKRIA), London Underground's Apprenticeship Development team received the Apprenticeship Development Scheme Award.</li>
            <li>The GLA Group's Supplier Skills Team is dedicated to working with suppliers across the GLA Group to maximise training, apprenticeship and employment opportunities arising from its contracts. This activity helps to ensure suppliers have capable and competent workforces, and increases the levels of opportunity for Londoners facing barriers to employment. Further information on this activity is available at <a href="http://www.london.gov.uk/rp/skills-employment">www.london.gov.uk/rp/skills-employment</a></li>
            <li>In 2012, the Supplier Skills Team were awarded the Race for Opportunity Award for 'Youth Partnership and Apprenticeship' for the success of their work with the supply chain in creating apprenticeship opportunities. At the 2013 Race for Opportunity Award, they also won the Collaboration and Partnership award.</li>
            <li>Images of TfL and its supply chain apprentices are available at <a href="http://www.pinterest.com/tflofficial/apprenticeships/">http://www.pinterest.com/tflofficial/apprenticeships/</a></li>
        </ul>
        More information about the Apprentice Oyster photocard can be found at http://www.tfl.gov.uk/apprenticeoysterAbout Tomorrow's Engineers Week
        <ul>
            <li>Tomorrow's Engineers Week was launched by the Department for Business, Innovation and Skills (BIS) in 2013 in partnership with the engineering community in 2013. The first Tomorrow's Engineers Week involved over 70 organisations, 65 events or local activities and over 200 schools.</li>
            <li>This year the Tomorrow's Engineers Week campaign, led by EngineeringUK with the support of the engineering community and BIS will be used to shine the spotlight on engineering. It will be highlighting: </li>
            <li>The benefits of engineering careers to young people; </li>
            <li>The opportunities for young people to experience these careers and to&nbsp; become the everyday engineering heroes of the future; </li>
            <li>There are many engineering jobs available to young people, especially girls.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-TfL's commitment to apprentices -->

 
 
        
        
            @{ViewBag.Description = "TfL demonstrates its commitment to apprentices with a £1million investment in London Underground’s training facility";}
        
        


 