


@{ViewBag.Title = "TfL speeds introduction of ultra low emission buses";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL speeds introduction of ultra low emission buses</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL speeds introduction of ultra low emission buses</h1>
        <div class="content-page-press-release">
        07 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL accelerates the introduction of ultra low emission Euro VI buses in London's fleet
        
    </div>



 <div class="on-this-page">

        <p>More than 300 buses with the
        latest Euro VI engines will be operating on London's roads by the end of this
        year, Transport for London (TfL) announced today. &nbsp;</p>
        <p>Over two thirds of
        these (215) will be hybrid diesel-electric double decker buses.&nbsp; Under the
        ULEZ proposal, all buses driving in central London from 2020 will need to meet
        the Euro VI standard for NOx emissions.
        &nbsp;
        </p>
        <p>The effectiveness of Euro VI engines
        in reducing harmful emissions has been substantiated in testing by TfL that
        re-creates real world driving conditions in London. During this testing, a bus
        with a Euro VI Engine was found to have 95 per cent lower NOx emissions than a
        bus with a Euro V engine&nbsp;(down from 10 g/km to 0.5 g/km). &nbsp;This test
        result correlates with testing conducted by manufacturers.
        &nbsp;
        </p>
        <p>
        Buses with Euro VI engines first
        entered service in the TfL fleet in April this year and from January 2015 all
        new buses entering service in the capital will be Euro VI. </p>
        <p>On average,
        around 700 new buses enter London's fleet each year.
        &nbsp;
        The Euro VI programme complements the
        work the Mayor and TfL are doing to&nbsp;accelerate the roll out of hybrid
        buses, with nearly 1,000 currently in service on London's roads and 1,700 due
        to be in operation by 2016 &#45; equivalent to around 20% of the total bus
        fleet.
        &nbsp;
        </p>
        <p>
        In addition, as part of the
        ULEZ proposals, TfL will progressively increase the number of these buses to
        the point that - from 2020 - all double deck buses operating in central London
        will be hybrid. In addition, under the ULEZ proposals, all single deck buses in
        central London will be zero emission (at point of use). </p>
        <p>This will require
        substantial investment by TfL and will deliver benefits outside central London
        - with nearly all double deck buses operating in inner London being hybrid and
        many in outer London too.
        &nbsp;
        </p>
        <p>Matthew Pencharz, the
        Mayor's Senior Advisor for Environment and Energy, said: 'Improving London's
        air quality is one of the Mayor's top priorities and by 2020 all buses in
        central London will be either hybrid or electric as we look to radically cut
        emissions. We have already significantly reduced the number of buses on some of
        London's busiest streets and taken many of the most polluting ones off the
        road. These new Euro VI buses represent the next step in our work to make
        London's fleet the most environmentally-friendly possible'
        </p>
        <p>Mike Weston, TfL's Director of Buses, said: 'London has one
        of the cleanest bus fleets in Europe and, despite the growth of the network due
        to passenger demand, our overall emissions are continuing to reduce as we trial
        electricity and hydrogen and increase the use of bio-diesel to power the
        capital's fleet. We are also retrofitting older vehicles and continuing the
        expansion of our hybrid fleet with nearly a thousand of these buses now in
        service on London's roads. Taking action to accelerate the introduction of new
        Euro VI buses is the latest measure we are taking to reduce harmful emissions
        from the capital's fleet.'
        &nbsp;
        </p>
        <p>Other initiatives to further
        reduce emissions from London's buses include retrofitting more than 1,000 of
        the oldest buses with special equipment to reduce their NOx emissions by up to
        88 per cent &#45; with plans to increase this number to 1,800.
        &nbsp;
        </p>
        <hr />
        <ul>
            <li>Around
            310 Euro VI buses will be in service on London's roads by the end of this year.
            This breaks down as follows: diesel single-deck Optare Metrocities (circa 12),
            diesel single-deck Alexander Dennis E200s (circa 63), diesel single-deck
            Wrights Streetlites (circa 15), diesel single-deck Alexander Dennis E400s
            (circa 5), hybrid diesel-electric double-deck Alexander Dennis E400Hs (circa
            90), hybrid diesel-electric double-deck Wrights / Volvo Gemini 3s (circa 80),
            hybrid diesel-electric double-deck New Routemasters (circa 45)</li>
            <li>TfL will continue to roll out New Routemaster buses
            which have the top-performing Euro V engine. These engines have a unique design
            which comes close to the emissions performance of a standard Euro VI bus.</li>
            <li>The
            ULEZ public consultation, which runs&nbsp;until Friday 9 January 2015, is
            available online at&nbsp;<a href="http://www.tfl.gov.uk/ultra-low-emission-zone">www.tfl.gov.uk/ultra-low-emission-zone</a>&nbsp;
            </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-TfL speeds introduction of ultra low emission buses -->

 
 
        
        
            @{ViewBag.Description = "TfL accelerates the introduction of ultra low emission Euro VI buses in London’s fleet";}
        
        


 