


@{ViewBag.Title = "Tottenham Hale improvement works complete";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tottenham Hale improvement works complete</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tottenham Hale improvement works complete</h1>
        <div class="content-page-press-release">
        17 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Archaic gyratory system returned to two way traffic and new public space created as part of &pound;34 million scheme
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Improved infrastructure is key to unlocking the huge potential that exists for the creation of new jobs and homes in this part of the capital. Harnessing the full potential of the Upper Lea Valley is a top priority of mine and I'm delighted that these fantastic new transport facilities have been delivered in Tottenham Hale"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Bigger, more accessible bus station now open - Route 76 extended to Tottenham Hale and made a 24-hour service</li>
            <li>Improvements support wider investment through the Mayor's &pound;70m Regeneration Fund</li>
        </ul>
        <p>Work to radically improve the area around Tottenham Hale is now complete following the opening of a new bus station and public space as part of a &pound;34 million scheme delivered by Transport for London (TfL) and Haringey Council. </p>
        <p>Tottenham Hale is located within the Upper Lea Valley area, one of the Mayor's key opportunity areas for growth, with plans to create 15,000 new jobs and 20,100 new homes. Throughout the area there is the capacity for 5,000 new homes and 4,000 new jobs, with a wider vision to transform the area into a new district centre. The improvements to the Tottenham area are being supported by the &pound;70 million Mayor's Regeneration Fund. The Fund, &pound;20m of which was secured from Central Government, was set up to help those areas affected by the public disturbances in August 2011. </p>
        <p>Within this scheme, which is part of a committed package of transport developments to support planned growth, TfL has removed the gyratory system around Tottenham Hale and returned it to two-way traffic. This has created a direct connection for drivers to the A10 and the City, improving traffic flow and providing less congested routes and cycle ways for cyclists. New zebra crossings, wider pavements and new trees have also been planted, as well as a 20 mph speed limit implemented along Broad Lane and on local roads within the old gyratory.</p>
        <p>By removing the gyratory system, TfL has been able to create a brand new bus station by Tottenham Hale station, which is fully accessible for people in wheelchairs and parents with pushchairs and provides passengers with an easy interchange. A new public space with trees, benches and additional cycle parking has also been created, providing a modern area for local residents and public transport users to relax, meet and catch up. </p>
        <p>The Mayor of London, Boris Johnson, said: </p>
        <p>'Improved infrastructure is key to unlocking the huge potential that exists for the creation of new jobs and homes in this part of the capital. Harnessing the full potential of the Upper Lea Valley is a top priority of mine and I'm delighted that these fantastic new transport facilities have been delivered in Tottenham Hale.'</p>
        <p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
        <p>'London has a world class transport network but we are always looking at ways to improve our services and facilities, so that we can continue to offer the best possible service to Londoners. We've been working hard to improve the road network and bus infrastructure in and around Tottenham Hale and it's fantastic that this major scheme is now completed and all road users now able to reap the benefits of this work.'</p>
        <p>Councillor Alan Strickland, Cabinet Member for Regeneration and Housing at Haringey Council, said: </p>
        <p>'Building a modern Tottenham Hale bus, rail and Tube station is vital to support our ambitious plans to transform the area into one of London's most exciting places to live and work, which is why we're delighted to see these great new facilities.'</p>
        <p>Revolutionising Tottenham's transport links is crucial to creating thousands of new jobs and homes in the area and to make it easier for local people to have quicker access to employment opportunities across the capital.'</p>
        <p>Following the opening of the new bus station, route 76 has been extended to now terminate at Tottenham Hale and become a 24-hours a day service from Waterloo via Aldwych, Bank, Moorgate, Old Street Station, Hoxton, Dalston, Stoke Newington, Seven Sisters and Tottenham Green. Routes 41/N41 and 192 will also start and finish at the new bus station and it will be served in both directions by buses on routes 123, 230, W4 and N73 for the first time. </p>
        <p>TfL's investment in the area forms part of the wider work being carried out across London as part of TfL's Road Modernisation Plan. With a budget of over &pound;4 billion from now until 2021/22, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all road users.</p>
        <p>For more information about the work carried out, please visit <a href="http://www.tfl.gov.uk/tottenhamhalescheme">www.tfl.gov.uk/tottenhamhalescheme</a></p>
         
        <hr />
         
        <p>Notes to Editors</p>
        <p>TfL was granted planning permission in March 2014 to transform Tottenham Hale Tube station to provide&nbsp; greater capacity and step-free access for interchanging passengers, with work due to start on the station in late 2015.</p>
        <p>Next year, TfL will also begin consultation on Cycle Superhighway 1, a new cycle route which would from run from the City of London to Tottenham, providing further improvements for cyclists through the area: <a href="http://www.tfl.gov.uk/modes/cycling/routes-and-maps/barclays-cycle-superhighways">www.tfl.gov.uk/modes/cycling/routes-and-maps/barclays-cycle-superhighways</a></p>
         
        <p>Over 95% of respondents to the consultation held earlier this year supported TfL's proposed extension of route 76 to the new bus station 24-hours a day.</p>
         
        <p>Following earlier consultations, other local routes will also be changed as follows:</p>
        <ul>
            <li>Routes 41 and N41 will now serve Broad Lane in both directions. Buses on these routes will no longer run along the High Road or Monument Way.</li>
            <li>Route 192 will now start and finish at the bus station, and will continue to serve the bus stop on Watermead Way. </li>
            <li>Route 341 will continue to provide a 24-hour service via Tottenham High Road to Northumberland Park and Angel Road.</li>
            <li>Routes 123 and 230 have already changed to serve Monument Way in both directions, and route W4 to serve Broad Lane in both directions.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Tottenham Hale improvement works complete -->

 
 
        
        
            @{ViewBag.Description = "Major work to improve Tottenham Hale now complete";}
        
        


 