


@{ViewBag.Title = "Transforming areas around Crossrail stations";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transforming areas around Crossrail stations</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transforming areas around Crossrail stations</h1>
        <div class="content-page-press-release">
        17 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor awards over &pound;28 million to transform areas around Crossrail stations
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is hard to believe how far Crossrail has come; it has moved forward at an astounding pace. Now the key construction is well underway it is only right that we turn our attention to the areas around the stations. This funding will help boroughs complete a wealth of improvements in order to make travel safer and more pleasant for hundreds of thousands of Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>TfL funding will support schemes outside Crossrail stations in outer London</li>
            <li>Money will help local boroughs improve public spaces and make journeys better for pedestrians, cyclists and public transport users&nbsp;&nbsp; </li>
        </ul>
        <p>The Mayor has awarded over &pound;28 million to outer London boroughs in order for them to transform the public spaces around Crossrail stations. The TfL funding will support local borough-led projects at seventeen stations in Greater London and will help cut crime, improve road safety and make areas more pleasant for millions of passengers. </p>
        <p>Improvements will include:</p>
        <ul>
            <li>Creating safe and secure walking and cycling routes and facilities; </li>
            <li>Developing seamless interchanges with local bus networks and taxis;</li>
            <li>Making improvements to the public realm and streets, on station forecourts and adjacent roads;</li>
            <li>Improving lighting in the surrounding areas in order to reduce crime</li>
        </ul>
        <p>The improvements will be made by 2019, and will follow a huge range of other benefits that customers will experience when TfL takes over services between Liverpool Street and Shenfield from 31 May next year, ahead of Crossrail arriving. </p>
        <p>Customers on all of the new TfL-run rail services will benefit from improvements, including staff at every station at all times that trains are running, better accessibility provision, including a turn up and go service for anyone needing ramps onto trains, full integration with TfL fares and ticketing and a more reliable service.</p>
        <p>The Mayor of London, Boris Johnson, said: </p>
        <p>'It is hard to believe how far Crossrail has come; it has moved forward at an astounding pace. Now the key construction is well underway it is only right that we turn our attention to the areas around the stations. This funding will help boroughs complete a wealth of improvements in order to make travel safer and more pleasant for hundreds of thousands of Londoners.'</p>
        <p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
        <p>'TfL-run Crossrail will revolutionise travel across London, cutting journey times for millions, easing crowding and transforming access for disabled Londoners. As we do this, it is also important to make local improvements around our stations, making it easier for passengers to use or interchange with Crossrail services, whether they have arrived by rail, bus, foot or bike. This funding will do that &#45; transforming public spaces for the benefit of everyone.'</p>
        <p>TfL-run Crossrail will carry over 200 million passengers a year, boosting London's rail-based capacity by 10 per cent, easing crowding and providing faster journey times. It will help London keep pace with a rapidly growing population and will support new jobs and economic growth.</p>
        <p>Crossrail is the first transport project to deliver integrated designs with three elements in mind, including the station, above the station, and improved public spaces that surround them. These have been designed in close partnership between TfL, local authorities, Network Rail and Crossrail Limited.</p>
         
        <hr />
         
        <p>Notes to Editor:</p>
         
         
         
        <div class="table-container"><table>
            <tbody>
                <tr>
                    <td>&nbsp;Station <br />
                    </td>
                    <td>&nbsp;Borough <br />
                    </td>
                    <td>&nbsp;Description</td>
                    <td>&nbsp;TfL Contribution</td>
                </tr>
                <tr>
                    <td>&nbsp;Abbey Wood <br />
                    </td>
                    <td>&nbsp;LB Bexley</td>
                    <td>&nbsp;Creating a safer environment through realigning/narrowing of the
                    roads, introducing footways and cycle lanes, and re-organising bus
                    stops, parking and pick ups areas.</td>
                    <td>&nbsp;&pound;2.20m</td>
                </tr>
                <tr>
                    <td>&nbsp;Romford</td>
                    <td>&nbsp;LB Havering</td>
                    <td>&nbsp;Re-locating the bus stop and widening the area outside the station for improved public realm and pedestrian movement.</td>
                    <td>&nbsp;&pound;1.30m</td>
                </tr>
                <tr>
                    <td>&nbsp;Ilford</td>
                    <td>&nbsp;LB Redbridge</td>
                    <td>&nbsp;Improved public space outside the station with widened footways and new crossing facilities.</td>
                    <td>&nbsp;&pound;1.96m</td>
                </tr>
                <tr>
                    <td>&nbsp;Ealing Broadway</td>
                    <td>&nbsp;LB Ealing</td>
                    <td>&nbsp;Improved interchange, with wider footways and crossings and a new contra-flow cycle lane.</td>
                    <td>&nbsp;&pound;1.07m</td>
                </tr>
                <tr>
                    <td>&nbsp;Southall</td>
                    <td>&nbsp;LB Ealing</td>
                    <td>&nbsp;Remodelling roundabout to 3-way signalised junction and increased pedestrian comfort levels through wider footways.</td>
                    <td>&nbsp;&pound;2.30m</td>
                </tr>
                <tr>
                    <td>&nbsp;Harold Wood <br />
                    </td>
                    <td>&nbsp;LB Havering</td>
                    <td>&nbsp;Transformed pedestrian experience with a new piazza and zebra crossing facility.</td>
                    <td>&nbsp;&pound;1.40m</td>
                </tr>
                <tr>
                    <td>&nbsp;Gidea Park</td>
                    <td>&nbsp;LB Havering</td>
                    <td>&nbsp;Kerb re-alignment and new zebra crossing, coupled with an improved public realm.</td>
                    <td>&nbsp;&pound;1.40m</td>
                </tr>
                <tr>
                    <td>&nbsp;Chadwell Heath</td>
                    <td>&nbsp;LB Redbridge</td>
                    <td>&nbsp;Improved junctions and pedestrian crossings as well as re-locating bus stops.</td>
                    <td>&nbsp;&pound;1.10m</td>
                </tr>
                <tr>
                    <td>&nbsp;Goodmayes</td>
                    <td>&nbsp;LB Redbridge</td>
                    <td>&nbsp;Improved public realm in front of station with disabled parking and drop-off bays.&nbsp; Improved pedestrian crossings.</td>
                    <td>&nbsp;&pound;1.0m</td>
                </tr>
                <tr>
                    <td>&nbsp;Seven Kings</td>
                    <td>&nbsp;LB Redbridge</td>
                    <td>&nbsp;Widened footway and improved public realm outside station entrance,
                    together with better pedestrian crossing on High Road. New cycle lanes
                    and advanced cycle stop lines at junctions.</td>
                    <td>&nbsp;&pound;1.83m</td>
                </tr>
                <tr>
                    <td>&nbsp;Manor Park</td>
                    <td>&nbsp;LB Newham <br />
                    </td>
                    <td>&nbsp;Kerb re-alignment and junction entry treatments on station approaches.
                    Improvements to Forest Drive / Forest View Road junction and new
                    crossings.</td>
                    <td>&nbsp;&pound;1.39m</td>
                </tr>
                <tr>
                    <td>&nbsp;Forest Gate</td>
                    <td>&nbsp;LB Newham</td>
                    <td>&nbsp;Kerb re-alignment and junction entry treatments on station approaches to
                    provide better facilities for station users. New crossing on Woodgrange
                    Road.</td>
                    <td>&nbsp;&pound;2.29m</td>
                </tr>
                <tr>
                    <td>&nbsp;Maryland</td>
                    <td>&nbsp;LB Newham</td>
                    <td>&nbsp;Kerb re-alignment and junction entry treatments on station approaches to
                    provide better facilities for station users. New signal junction with
                    crossing facilities at Leytonstone Road / Forest Lane.</td>
                    <td>&nbsp;&pound;3.02m</td>
                </tr>
                <tr>
                    <td>&nbsp;Acton ML</td>
                    <td>&nbsp;LB Ealing</td>
                    <td>&nbsp;New crossings, improved public realm outside the station with new tree planting and new cycle parking facilities.</td>
                    <td>&nbsp;&pound;1.45m</td>
                </tr>
                <tr>
                    <td>&nbsp;West Ealing <br />
                    </td>
                    <td>&nbsp;LB Ealing</td>
                    <td>&nbsp;Raised carriageways and new crossing at the Drayton Green Road /
                    Alexandria Road junction, together with public realm improvements.</td>
                    <td>&nbsp;&pound;1.46m <br />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;Hanwell</td>
                    <td>&nbsp;LB Ealing</td>
                    <td>&nbsp;Public realm improvements around station entrances.&nbsp; Realignment of
                    Campbell Road / Greenford Avenue junction to improve access.&nbsp; Improved
                    pedestrian links to new southern station entrance.</td>
                    <td>&nbsp;&pound;1.07m</td>
                </tr>
                <tr>
                    <td>&nbsp;West Drayton</td>
                    <td>&nbsp;LB Hillingdon</td>
                    <td>&nbsp;New public space on Station Approach.&nbsp; Revised bus stop arrangements and improved public realm out-side station entrance.</td>
                    <td>&nbsp;&pound;1.60m</td>
                </tr>
                <tr>
                    <td>&nbsp;Total</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;&pound;28.5m*</td>
                </tr>
            </tbody>
        </table></div>
        * Included in this total is a further &pound;650k is held for&nbsp; the LB Redbridge Seven Kings station scheme to allow for any changes arising from the investigation of different junction options.
         
        <ul>
            <li>Artist impressions of the schemes are available at - <a href="https://www.flickr.com/photos/tflpress/sets/72157649164416702/">https://www.flickr.com/photos/tflpress/sets/72157649164416702/</a> </li>
            <li>The Public Space&nbsp; scheme at Hayes and Harlington in LB Hillingdon&nbsp; is proposed to be funded as part of a Local Implementation Plan Major Scheme that is already in development and design for Hayes Town Centre.</li>
            <li>It is anticipated that over 200 million people will travel on Crossrail every year.</li>
            <li>Crossrail will serve 40 stations, linking Reading and Heathrow in the west, to Shenfield and Abbey Wood in the east, with 21km of new twin-bore tunnels under central London.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Transforming areas around Crossrail stations -->

 
 
        
        
            @{ViewBag.Description = "Transforming areas around Crossrail stations";}
        
        


 