


@{ViewBag.Title = "Year of the Bus marks World Philosophy Day ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Year of the Bus marks World Philosophy Day </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Year of the Bus marks World Philosophy Day </h1>
        <div class="content-page-press-release">
        10 November 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>As part of the activities to mark the
        Year of the Bus, Transport for London (TfL) and The Philosophy Foundation are
        joining forces next week (Thursday 20 November) to celebrate UNESCO's World
        Philosophy Day with a series of philosophical enquiries aboard one of London's
        iconic New Routemaster buses.
        &nbsp;
        </p>
        <p>The Philosophy Bus will be stopping at
        four locations on Thursday 20 November and running the following philosophical
        enquiries at each stop: </p>
        <ul>
            <li>10:15
            &#45; 11:15 London Transport Museum (Covent Garden) &#45; Environmental Ethics
            The environment is
            forefront in a lot of people's minds these days. What exactly is nature, what
            makes something natural or un-natural? How far should we go to protect nature?
            The enquiry will be joined by Justin Rowlatt, the BBC's Ethical Man;
            &middot;</li>
            <li>11:45
            &#45; 12:45 River Thames (Embankment) &#45; Metaphysics
            Angie Hobbs, Professor
            of the Public Understanding of Philosophy at Sheffield University will lead a
            discussion on the nature of change and identity.&nbsp; Given that the water
            constantly flows, is the Thames the same river it was a week ago?&nbsp; Can you
            step into the same river twice? Can you step into the same river once? </li>
            <li>13:45
            &#45; 14:45 Tate Britain &#45; Aesthetics
            What is beauty?&nbsp; Is
            it in our mind, or in the object itself? Many people think that beauty is in
            the eye of the beholder, but the same people will argue about what they think
            is beautiful, others should think is beautiful;</li>
            <li>15:15
            &#45; 16:00 Speaker's Corner, Hyde Park &#45; Philosophy's Two Great Questions
            Philosopher A.C. Grayling will be giving a talk and taking a Q&amp;A session.</li>
        </ul>
        <p>Leon Daniels, TfL's Managing Director
        of Surface Transport, said: `Many great philosophical debates can be heard
        every day on board London's buses as they travel across the capital. This
        unique and free event is an opportunity to bring people together &#45; aboard an
        iconic London bus &#45; to discuss some of the questions that great philosophical
        minds have mulled over for centuries.`
        &nbsp;
        </p>
        <p>Peter Worley, CEO and co-founder of
        The Philosophy Foundation, said: `Thinking skills developed through
        philosophy are foundational to learning - by doing philosophy regularly
        children develop good thinking habits, learn how to communicate their ideas
        effectively and listen with a critical, but open mind.`
        &nbsp;
        </p>
        <p>UNESCO's World Philosophy Day is a
        celebration of philosophy, and of its importance in education. Every World
        Philosophy Day the Philosophy Foundation brings philosophy to a wider audience
        and involves young people from their schools giving them a new experience of
        philosophy, and broadening their horizons.
        &nbsp;
        </p>
        <p>At each location the upper deck will
        be allotted for discussions between young people, aged between seven and
        twelve, whilst the lower decks will be for everyone else. Peter Worley will be
        running sessions for young children on the top deck and the bottom deck
        sessions will be run by a Philosophy Foundation Specialist philosophy teacher,
        or by a special guest. Tickets are free and can be reserved online at: <a href="http://www.eventbrite.co.uk/e/world-philosophy-day-philosophy-bus-tickets-13201661525?aff=es2&rank=3">http://www.eventbrite.co.uk/e/world-philosophy-day-philosophy-bus-tickets-13201661525?aff=es2&amp;rank=3#</a>.
        &nbsp;
        </p>
        <p>Events and activities are
        being held throughout 2014 to celebrate TfL's Year of the Bus, in partnership
        with London Transport Museum and the capital's bus operators &#45; specifically the
        role that London buses, bus drivers and the staff who support them play in
        keeping the capital moving.
        &nbsp;
        The Year of the Bus marks a
        number of important anniversaries including 60 years since the creation of the
        original and iconic Routemaster, 75 years since the launch of its predecessor
        the RT-type bus, and 100 years since hundreds of London buses were sent to the
        Western Front to play a crucial role during the First World War.
        &nbsp;</p>
        <p>
        Other Year of the Bus
        partnerships have included a unique collaboration with the world-famous Fender
        Stratocaster guitar &#45; also celebrating its 60th anniversary this
        year; the installation of an operational bus stop and shelter on Regent Street
        made entirely out of LEGO and a special Routemaster Google Doodle on the
        Google.co.uk homepage.&nbsp; </p>
        <p>The Year of the Bus has also seen the first ever
        series of live music performances on board a New Routemaster bus as part of
        Oxjam, and 'bus stop top' exhibitions along the Strand from renowned
        photographers Juergen Teller and David LaChapelle.
        &nbsp;
        </p>
        <p>Visitors taking part in the second
        enquiry can get inspiration from the river and take a ride on TfL's River Bus
        services from Embankment Pier.</p>
         
        <p>
        </p>
        <hr />
        The Philosophy Foundation's aim is to improve thinking
        in education and help young people develop good thinking skills and habits
        that will impact in all areas of their lives.
         
        <p>By putting understanding
        back at the heart of education, The Philosophy Foundation works to develop
        children's autonomous learning and higher-order thinking skills, equipping them
        for the kind of life-long learning and thinking that are essential in the 21st
        Century.&nbsp; </p>
        <p>Its focus is on working in schools with a high proportion of
        disadvantaged pupils to re-enfranchise those that find themselves outside or at
        the peripheries of education and democratic society.
        The Foundation is unique in
        training Philosophy graduates to bring philosophy into schools from nursery up
        to 18 using a method of guided conversation that has been devised by co-founder
        and CEO Peter Worley, inspired by philosophical method.&nbsp; </p>
        <p>The Foundation
        also trains teachers in the transferable skills of Philosophy: thinking skills,
        questioning and enquiry.
        A
        philosophical enquiry is not a lecture or a talk, but an opportunity for
        attendees to think together around a topic: to think critically, creatively,
        to play with ideas and thoughts collaboratively. It is facilitated by a
        philosopher, whose job it is to keep the conversation philosophical, and
        perhaps introduce the group
        to ideas from the philosophical canon, depending on where the conversation
        goes.</p>
        <p>Justin Rowlatt&nbsp;is a
        British&nbsp;news reporter&nbsp;and&nbsp;television presenter&nbsp;working
        for the&nbsp;BBC. He is one of the main presenters of&nbsp;Business
        Daily&nbsp;on&nbsp;the&nbsp;BBC World Service an on the Today
        programme.&nbsp; As the BBC's Ethical Man he spent a year with his family
        trying to cut their carbon emissions and reporting on&nbsp;the exercise
        for&nbsp;Newsnight.&nbsp;</p>
        <p>Angie
        Hobbs is Professor of the Public Understanding of Philosophy at the
        University of Sheffield.&nbsp; She was appointed the UK's
        first&nbsp;Senior Fellow in the Public Understanding of Philosophy&nbsp;in
        2009 is an&nbsp;Honorary Patron of&nbsp;The Philosophy
        Foundation,&nbsp;Chair of the&nbsp;Institute of Art and Ideas&nbsp;Trust
        and one of the Town Philosophers for&nbsp;Malmesbury&nbsp;Philosophy
        Town.&nbsp; She contributes regularly to radio and TV programmes
        (including 19 appearances on&nbsp;In Our Time&nbsp;with Melvyn Bragg),
        newspaper articles and&nbsp;philosophy websites; she lectures and gives
        talks around the world.&nbsp;</p>
        <p>Anthony
        Grayling MA, DPhil (Oxon) FRSL, FRSA is Master of the&nbsp;New College of
        the Humanities, and a Supernumerary Fellow of St Anne's College,
        Oxford.&nbsp; Until&nbsp;2011 he was Professor of Philosophy at Birkbeck
        College, University of London.&nbsp; He has written and edited over thirty
        books on philosophy and other subjects; among&nbsp;his most recent are
        "The Good Book", "Ideas That Matter", "Liberty in
        the Age of Terror" and "To Set Prometheus Free". For
        several years he wrote the &quot;Last Word&quot;&nbsp;column for the Guardian
        newspaper and a column for the Times.&nbsp; He is the chairman of the 2014
        Man Booker Prize.</p>
        <p>Peter
        Worley BA MA FRSA is co-founder and CEO of The Philosophy&nbsp;Foundation,
        President of SOPHIA, and an award-winning author of five books&nbsp;about
        doing philosophy in schools.&nbsp; Peter is resident philosopher at 4
        state primary schools in&nbsp;Lewisham, visiting philosopher at Wellington
        College and Eagle&nbsp;House School,&nbsp;and is a Visiting Research
        Associate at&nbsp;Kings College London's Philosophy Department.&nbsp; He
        has delivered&nbsp;training for&nbsp;philosophy departments across the UK,
        including Edinburgh, Warwick, Oxford&nbsp;Brookes and
        Birmingham&nbsp;Universities.</p>
        <p>For any queries
        relating to the Philosophy Foundation, the World Philosophy Day event or
        for speaker biographies please contact Emma Worley: emma&#64;philosophy-foundation.org
        or 020 8699 9314</p>
        <p>The exact
        locations where the bus will be stopping are as follows-
        </p>
        <ul>
            <li>London
            Transport Museum</li>
            <li>Westbound
            on Victoria Embankment at Bus Stop Y 'Embankment Station'</li>
            <li>Southbound
            on Millbank at Bus Stop R 'Tate Britain'/Millbank Millennium Pier</li>
            <li>Northbound
            on Park Lane at Bus Stop W 'Marble Arch' </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-November-Year of the Bus marks World Philosophy Day  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 