


@{ViewBag.Title = "Bold new THINK! campaign to cut motorcyclist deaths ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bold new THINK! campaign to cut motorcyclist deaths </h1>
        <div class="content-page-press-release">
        01 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Motorcyclists will see their names up in lights as part of a bold new THINK! campaign to save lives on the roads.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I hope this bold new approach will help to reduce the number of motorcyclists killed or hurt in crashes with cars"</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Clark</div>
            <div class="quotee-job-title">Road Safety Minister</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I hope this bold new approach will help to reduce the number of motorcyclists killed or hurt in crashes with cars
                            
                        </p>
                    </div>
                
            
            
            <p>The new TV adverts will show bikers with flashing neon signs attached to their bikes.&nbsp; </p> <p>The signs show the rider's name and describe personality traits, such as 'shy, retiring type' or 'new dad'. </p> <p>The voiceover at the end asks drivers to look out for motorcyclists next time they're out driving. </p> <h2>Unacceptable number of collisions</h2> <p>The new &pound;3.5m campaign - launched by Road Safety Minister Paul Clark today - marks a radical departure for THINK! after research showed drivers are more likely to notice motorcyclists on the roads if they personally know a biker.</p> <p>The adverts put motorcyclists at the centre of the new campaign in a bid to encourage all drivers to see the person behind the helmet - and so tackle the huge over-representation of motorcyclists in road casualty figures. </p> <p>Motorcyclists account for one per cent of traffic but 19 per cent of deaths on Britain's roads.</p> <p>Paul Clark, Road Safety Minister, said: 'We are working hard to tackle the unacceptable number of collisions where motorcyclists are killed on Britain's roads and our THINK! campaigns are a vital part of this. </p> <h2>Bold new approach</h2> <p>'Previous adverts have warned drivers to look out for bikes in specific situations such as at T-junctions or in their blind spots and showed the deadly consequences of failing to do so.&nbsp; </p> <p>'This exciting new campaign goes a step further by asking drivers to reconsider the way they look at bikers.&nbsp; </p> <p>'I hope this bold new approach will help to reduce the number of motorcyclists killed or hurt in crashes with cars.</p> <p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'Motorcycle safety is a central part of the Mayor's focus to support those who choose to travel on to two wheels. </p> <h2>Reaching out to drivers</h2> <p>'The brilliant thing about this campaign is the way it so clearly highlights that often the most important piece of safety equipment for bikers can simply be other road users using their eyes and making sure they look out for motorbikes. </p> <p>'Attaching giant neon signs to motorbikes might not be too practical on a daily basis but these ads are so memorable that I think they will become firmly lodged in Londoners minds.'</p> <p>Ben Plowden, Director Integrated Programme Delivery at Transport for London (TfL), said: 'TfL is committed to reducing collisions on the road and this campaign will help by reaching out to drivers as people. </p> <p>'It demonstrates that bikers can be easily overlooked on the roads and this can sometimes lead to tragic consequences. </p> <h2>Safety is an issue</h2> <p>'I urge Londoners to heed the message of this campaign and to THINK BIKE, THINK BIKERS.</p> <p>'Road safety is an issue which affects people all year round. As the weather improves and people start to take to their bikes, it is particularly relevant.'</p> <p>The new 'Named Riders' campaign starts on Monday 1 March and includes TV, radio, cinema and online advertising.&nbsp; </p> <p>The first TV advert will air on 1 March during Coronation Street in London and during Emmerdale across the rest of Great Britain. </p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>The campaign is divided between Named Riders, aimed at drivers and Be Alive to the Road, aimed at motorcyclists  </li><li>TV, radio and online advertising and radio sponsorship activity for Named Rider will run from 1-31 March  </li><li>Cinema advertising will run between 5-11 March and&nbsp;19 -25 March  </li><li>The first TV ad will air in the evening on Monday 1 March 2010  </li><li>Motorcyclists have the highest fatality rate per billion kilometre of any road user group.&nbsp;Despite only representing one per cent of vehicle traffic, they account for 19 per cent of all road user deaths in Great Britain.&nbsp;In 2008, 493 motorcyclists were killed and 5,556 were seriously injured (source: Reported Road Casualties GB 2008) although this is over 20 per cent fewer fatal and serious casualties than in 2003, it is still too many  </li><li>Typically around three-quarters (75 per cent) of motorcyclists killed or seriously inured (KSIs) occur in collisions involving another vehicle (usually a car).&nbsp;In 2008, just over half (51 per cent) occurred in collisions at junctions, with the remainder of KSIs occurring either in crashes with other vehicles away from junctions (24 per cent) or in single vehicle incidents (25 per cent)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new TV adverts will show bikers with flashing neon signs attached to their bikes.&nbsp;The signs show the rider's name and describe personality traits, such as 'shy, retiring type' or 'new dad'.The voiceover at the end asks drivers to look out for";}
        
        


 