


@{ViewBag.Title = "Bus staff recognised at London Bus Awards 2010";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus staff recognised at London Bus Awards 2010</h1>
        <div class="content-page-press-release">
        23 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thursday 18 March saw the London Bus Awards 2010 at the London Transport Museum in Covent Garden. Held by Transport for London (TfL) the awards celebrated the excellence and hard work of the drivers, support teams and front line TfL staff.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The London Bus Awards are an important opportunity to recognise those who put outstanding customer service at the heart of everything they do
                            
                        </p>
                    </div>
                
            
            
            <p>The awards celebrated the remarkable achievements of all the nominees and winners, championing the 28,000 staff who operate 8,500 buses over 700 routes from 93 bus garages.</p>
<p>Some had distinguished themselves by stepping up and overcoming circumstances beyond their call of duty, others were unsung heroes and some consistently set the highest standards of professionalism whatever the circumstance.</p>
<p>The overall winners, who received their award from David Brown, Managing Director for TfL's Surface Transport were:</p>
<p><strong>Jennie Gillespie, Sutton Bus Garage - Best Communication with Passengers</strong><br>Jennie regularly received verbal and written commendations from passengers regarding her professionalism, commitment, cheerful demeanour and caring attitude.&nbsp;</p>
<p>Her polite professional manner and calm way she dealt with issues won her the praise of both passengers and colleagues. </p>
<p>Jennie is often described as having helped put a smile on her passenger's faces.</p>
<p>'<strong>Team Willesden', Gary Fennel, Sanjeey Amratlal, Patricia Lamb, Laurence Devonport, Joe Nardi and Beata Owczarek - Best Vehicle Care<br></strong>On a night in June 2009, vandals broke into the bus compound at Willesden Junction and vandalised twenty nine buses in an organised and systematic attack. </p>
<p>The team was quickly convened from across the depot and got to work.&nbsp;</p>
<p>The morning after, every bus was cleaned and back in service.&nbsp;</p>
<p>Despite the attack, no journeys were affected.</p>
<p><strong>Andy Hemper, Sutton Garage - Best Travel Experience</strong><br>Andy has worked as a driver at Sutton garage for ten years. </p>
<p>Always professional and reliable he recently received praise for helping to calmly defuse a passenger conflict on his regular bus route 93.&nbsp;</p>
<p>He has been described by passengers as a driver who always makes them feel safe and comfortable, no matter how challenging the circumstances may be.</p>
<p><strong>Luis Pereora, Cricklewood Bus Garage - Best Service Support</strong><br>Luis championed iBus, a state-of-the-art Automatic Vehicle Location (AVL) radio and an on-bus passenger information display and announcement system, when it was introduced, and continues to promote the system to fellow controllers to improve the quality of bus services across London.&nbsp;</p>
<p>He is affectionately and respectfully recognised by his colleagues as Metroline's iBus 'guru'.</p>
<p><strong>Patrick Mitchell, Putney Garage - Bus Service Ambassador</strong><br>With nearly forty years of exemplary service, Patrick is a Garage Mentor who works with Wandsworth Council and TfL to run a bus service for disabled residents.&nbsp;</p>
<p>This scheme has proved to be enormously successful and other boroughs have been in touch with the intention of adopting similar schemes.</p>
<p><strong>Benham Shalovi, Greenford Garage - Actions above and beyond the call of duty</strong><br>Last October 2009 Benham noticed a car driving acting erratically.&nbsp;</p>
<p>He stopped his bus and went to the driver's aid.&nbsp;Benham's previously military medical training helped him identify that the driver was having a fit.&nbsp;</p>
<p>He carefully cleared the driver's airways and put him in a comfortable position, staying with him until the ambulance arrived.</p>
<p><strong>Joyce Johnson, Bus Operations - On the Road Support from TfL</strong><br>Last November, Joyce was at Edmonton Green Bus Station when a fight broke out on a bus that resulted in one young person receiving a life threatening knife wound.&nbsp;</p>
<p>Joyce immediately administered first aid and comforted the victim until the emergency services arrived.&nbsp;</p>
<p>She has been praised by colleagues who witnessed the event for the courage, compassion and professionalism she displayed throughout the ordeal.</p>
<p>David Brown, Managing Director, Surface Transport, TfL said: 'The bus network is one of the Capital's great success stories over the last decade with it now carrying more that 2.2 billion passengers a year.&nbsp;</p>
<p>'This could not be delivered without the hard work and dedication of the staff who work 'on the buses'.&nbsp;</p>
<p>'The London Bus Awards are an important opportunity to recognise those who put outstanding customer service at the heart of everything they do.'</p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'London is world renowned for the quality of its bus service and this year's award winners have been truly exceptional. </p>
<p>'My congratulations go to every winner and on behalf of every bus passenger in the Capital I thank them for their exemplary work.'<br><br>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Photographs of the&nbsp;winners are available on request </li>
<li>Prizes for individuals awards were &pound;500, &nbsp;and for team awards &pound;1,000<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The awards celebrated the remarkable achievements of all the nominees and winners, championing the 28,000 staff who operate 8,500 buses over 700 routes from 93 bus garages.Some had distinguished themselves by stepping up and overcoming circumstances";}
        
        


 