


@{ViewBag.Title = "Contract for redevelopment of Victoria Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contract for redevelopment of Victoria Tube station</h1>
        <div class="content-page-press-release">
        11 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced that following a competitive tendering process it intends to award the contract for the redevelopment of Victoria Underground station to Taylor Woodrow Construction and BAM Nuttall Limited joint venture.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Upgrading Victoria Underground station is a key part of improving the Tube network which will cut congestion and improve access for all our passengers
                            
                        </p>
                    </div>
                
            
            
            <p>Passengers using one of London Underground's (LU) busiest and most congested stations are another&nbsp;step closer to having a modern larger Victoria Tube Station with step-free access, because the main construction work will get underway next year.</p>
<p>In line with European procurement requirements, a minimum ten day standstill period will apply before the award of contract can be confirmed. </p>
<h2>Cost effective</h2>
<p>Last October, TfL Board approved funding of around &pound;700m for the Victoria Station Upgrade, which is part of Transport for London's Investment Programme.&nbsp;</p>
<p>The station will be constructed in phases in order to deliver it in the most cost effective way.</p>
<ul>
<li>The first phase is the construction of the new entrance and the new North Ticket Hall under Bressenden Place, which will start in 2011 and be completed in 2016, a year earlier than originally planned </li>
<li>The remainder of the upgrade works including new lifts and escalators from the existing Victoria line ticket hall, which will be doubled in size, will be complete by 2018</li></ul>
<p>Peter Lynch, Programme Manager, London Underground said: 'Used by more than 80 million passengers each year, upgrading Victoria Underground station is a key part of improving the Tube network which will cut congestion and improve access for all our passengers using the station. </p>
<h2>Less congestion</h2>
<p>'The completion of the new North Ticket Hall is scheduled for 2016 when customers will be able to use the new entrance and benefit from improved access to the Victoria line services. </p>
<p>'The remainder of the station upgrade works such as the new escalators and lifts from an enlarged existing South Ticket Hall, will be complete in 2018.</p>
<p>'This will be a huge benefit to residents, commuters and tourists because it will cut congestion and customers won't be held up by the station having to shut for several minutes in the rush hour because it is too full.&nbsp;</p>
<p>'It will also be much quicker and easier for passengers to enter and exit Victoria Underground station as they won't have to cross several roads.' </p>
<h2>Faster journeys</h2>
<p>The major redevelopment of Victoria Underground station will bring many passenger benefits including easier and faster journeys due to:</p>
<ul>
<li>Cuts in peak time congestion and improved capacity with a new North Ticket Hall and entrance to the station beneath Bressenden Place allowing passengers from Victoria Street to enter the station without crossing the complex of streets to get to the existing station entrance </li>
<li>Better station access for all passengers with new lifts in the enlarged existing South Ticket Hall providing step-free access to all platform levels and wider stairs to the National Rail station </li>
<li>Nine new escalators </li>
<li>Seven new lifts providing step free access from street to the Victoria line and for interchange with District and Circle line platforms </li>
<li>New passage way to the north end of the Victoria line platform</li></ul>
<p><strong>
<hr>
Notes to editors</strong> 
<p><strong></strong>
<ul>
<li>Following the three month public inquiry, which ended in January 2009, the Secretary of State for Transport approved the scheme in July 2009.&nbsp;The Transport and Works Act Order for the scheme came into effect on 18 September </li>
<li>Due to pressures on TfL's finances resulting from the economic downturn and the impact of Metronet's collapse TfL considered how best to make cost savings while keeping the Tube running. In October last year, TfL approved the funding. The station will be constructed in phases in order to deliver it in the most cost effective way </li>
<li>A shortlist of three companies was invited in to tender in 2008 for the main construction contract for Victoria Tube station </li>
<li>Balfour Beatty / Morgan Est (Joint Venture)<br>-&nbsp;Taylor Woodrow / BAM Nuttall (Joint Venture)<br>-&nbsp;Costain / Bachy Soletanche / Laing O'Rourke (Joint Venture) </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a></li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers using one of London Underground's (LU) busiest and most congested stations are another&nbsp;step closer to having a modern larger Victoria Tube Station with step-free access, because the main construction work will get underway next year.In";}
        
        


 