


@{ViewBag.Title = "Hainault Tube station is now step-free with three new lifts";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hainault Tube station is now step-free with three new lifts</h1>
        <div class="content-page-press-release">
        03 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Wheelchair users, people with dogs, parents with pushchairs and passengers with heavy luggage can all now benefit from step-free access at Hainault station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Hainault is a cracking example of the improvements the Mayor wants to see in our Tube stations, particularly those in outer London."</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Hainault is a cracking example of the improvements the Mayor wants to see in our Tube stations, particularly those in outer London.
                            
                        </p>
                    </div>
                
            
            
            <p>Hainault station on the Central line has been modernised as part of Tansport for London's (TfL) multi-billion pound Investment Programme with three new passenger lifts, enabling step-free access to the platforms from street level.</p>
<p>The work also included a new wide aisle gate in the ticket hall, which means that mobility impaired customers and visually impaired people with dogs will be able to independently enter and exit the station, instead of waiting for a member of staff to open the wide gate for them. </p>
<h2>Helping passengers</h2>
<p>A new accessible toilet has been installed&nbsp;that will be useful for wheelchair users and new tactile strips with tonal contrast on steps will aid visually impaired people. </p>
<p>The first thing passengers will notice on entering the station will be a new electronic display board informing them of the first trains leaving the station, so they will know how many minutes they have got to get to the platform. In addition there is a new control room, new CCTV cameras, new electronic train information boards on platforms, passenger help points and improved signage. </p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'Hainault is a cracking example of the improvements the Mayor wants to see in our Tube stations, particularly those in outer London. The work that has taken place there will make the station more accessible, safer and easier to use for the thousands of people that rely on it every week.'</p>
<h2>Heritage features</h2>
<p>Tricia Madge, the Central line Manager, said: 'Hainault station has been modernised throughout and the lifts and wide aisle gates will particularly help wheelchair users, people with dogs, parents with buggies and passengers with heavy luggage. There are now a total of 59 Tube stations which are step-free.</p>
<p>'In addition, the station has been retiled, there are new CCTV cameras, a new accessible toilet, electronic train information display boards, passenger help points, improved signage and lighting and a new control room.</p>
<p>'But customers will see that the station has been refurbished sensitively respecting the history of the building, with heritage features retained, such as the original platform roundel and patterned canopy.'<br></p>
<hr>
<br><strong>Notes to editors </strong><strong></strong>
<ul>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a> </li>
<li>There are currently 59 Tube stations which are step-free. This will increase to 62 Tube stations by the end of 2010, and a total 65 stations by 2012 </li>
<li>Step free access work at key interchange stations, including King's Cross St. Pancras, Victoria, Tottenham Court Road, Blackfriars, Farringdon and Bond Street, will continue, in tandem with major redevelopment work to increase capacity and relieve congestion. Step-free access will also be delivered before 2012 at Southfields and Green Park stations, both of which will have a key role in the transport plan for the 2012 Olympic and Paralympic Games </li>
<li>There is a step-free Tube guide, which not only shows stations that are step-free between the street and platform, it also gives information about the distance of the gap between the train and platform and if there is a step </li>
<li>Two hundred wide aisle gates have been installed on Underground stations to provide easier access for wheelchair users, assistance dog owners, parents with buggies and passengers with luggage </li>
<li>Passengers who need to avoid stairs can plan their journey on the TfL website on the Journey Planner page using the advanced options putting in the mode and that they can't use stairs </li>
<li>Alternatively they can use <a href="http://www.directenquiries.com/">http://www.directenquiries.com/</a> which also shows in detail the best route to take on the Tube which avoids long walks and steps. The 24 hour Travel Help Line 020 7222 1234 can also be used to plan a journey </li>
<li>All DLR stations are step-free </li>
<li>All 8,500 buses (with the exception of heritage Routemasters on route 9 and 15) have an allocated space for wheelchair users and those travelling with buggies, as well as priority seats for passengers who need them </li>
<li>Information Points are being installed at every station as it undergoes refurbishment with as many as 26 installed at some of the busiest stations. The Information Points give passengers and staff access to speak to the station control room at the touch of a button. </li></ul>
<p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hainault station on the Central line has been modernised as part of Tansport for London's (TfL) multi-billion pound Investment Programme with three new passenger lifts, enabling step-free access to the platforms from street level.The work also included a";}
        
        


 