


@{ViewBag.Title = "Launch of 2010 Coach Parking in London Map";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Launch of 2010 Coach Parking in London Map</h1>
        <div class="content-page-press-release">
        11 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Access to London's cultural heritage a key theme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This map provides drivers and coach operators with vital, practical information to plan and organise tours in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This map provides drivers and coach operators with vital, practical information to plan and organise tours in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>New coach parking at key locations in London including the massive Westfield shopping centre and Shaftesbury Avenue were announced at the launch of London's new coach parking map.</p>
<p>The map takes London's cultural heritage as its theme and ties in with a key Mayoral priority to improve access to London's iconic sites and buildings for visitors to the city. </p>
<h2>Practical&nbsp;information</h2>
<p>The new map features St Paul's Cathedral on the cover to coincide with the 300th Anniversary of its completion.</p>
<p>For the last eight years Transport for London (TfL), in conjunction with the Confederation of Passenger Transport (CPT), has been involved in the design and publication of the map, which provides invaluable information on coach parking and driver facilities in the Capital. </p>
<p>Now in its second year of operation, a dedicated Coach Drivers' Helpline provides further advice and assistance on driver and parking facilities in London and guidance on parking regulations. </p>
<h2>Interactive map</h2>
<p>In addition, a unique internet-based traffic management tool, the <a title="Interactive coach parking map" href="http://www.tfl.gov.uk/coachparking">Interactive Coach Parking Map</a>, offers the latest information on coach parking along with real time traffic reports on planned road works and potential journey disruptions. </p>
<p>The coach industry opens up London's rich cultural offerings to a wide audience. </p>
<p>Thousands of schoolchildren, national and international tourists and theatregoers of all ages rely on them as an affordable way of getting around the Capital. </p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'Coaches play a huge role in the daily life of the Capital and I am certain the new map will find a home in the bag of every London coach driver. </p>
<h2>Boosting London's economy</h2>
<p>'From football matches to theatreland in the West End or school trips to our world class museums; they move thousands of Londoners and visitors around our great city every day. </p>
<p>'The industry provides a &pound;300 million contribution to our economy every year and we will be working ever closer with them in the build up to the 2012 Games.'</p>
<p>Following negotiations and discussions with Westfield a new coach drop off and pick up point has been opened next to the popular west London shopping destination. </p>
<p>The bays are located on Westfield Way. Limited parking is also available but has to be booked in advance. </p>
<h2>Helping vistors</h2>
<p>David Brown, TfL's Managing Director of Surface Transport, said: 'A valuable source of income to London's economy is provided by tourists and visitors, many of whom rely on coaches to access the city. </p>
<p>'This map provides drivers and coach operators with vital, practical information to plan and organise tours in the Capital and to enable visitors to experience the wonderful cultural heritage of this city.'&nbsp;&nbsp; </p>
<p>CPT President Steve Whiteway commented: 'Saying that the London Coach parking map is invaluable may appear the obvious remark to make, but there really is no better way of describing it. </p>
<p>'It is to our coach drivers what the A to Z is to those looking to visit the various cultural heritage sites in the Capital. We are proud to be able to continue and extend our relationship with TfL by working with them on the Coach Parking Map's production.'</p>
<p>
<hr>
<br><strong>Notes to editors</strong> 
<p>
<ul>
<li>TfL, in conjunction with CPT, distribute the map to the coach industry and through CPT's extensive membership. Free copies of the Coach Parking in London 2010 map are available from TfL by sending an email to <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a>&nbsp; </li>
<li>The Coach Drivers Helpline can be contacted during office hours on 0845 604 0770 </li>
<li>The Interactive Coach Parking Map can be found online at: <a href="http://www.tfl.gov.uk/coachparking">www.tfl.gov.uk/coachparking</a> </li>
<li>TfL research estimates that over 3000 coach movements per day are made in London, with 1000 of those being private hire/charter work transporting visitors and tourists into and around the city </li>
<li>Further information available on: <a href="http://uk.westfield.com/london/getting-there/coach/">http://uk.westfield.com/london/getting-there/coach/</a></li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New coach parking at key locations in London including the massive Westfield shopping centre and Shaftesbury Avenue were announced at the launch of London's new coach parking map.The map takes London's cultural heritage as its theme and ties in with a key";}
        
        


 