


@{ViewBag.Title = "London's Cycle Hire scheme to go live on 30 July";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's Cycle Hire scheme to go live on 30 July</h1>
        <div class="content-page-press-release">
        31 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) today announced that London's hotly anticipated Cycle Hire scheme will launch on Friday 30 July 2010.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When the London Cycle Hire scheme launches on 30 July it will be the most sustainable, environmentally friendly and healthy form of public transport ever seen in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When the London Cycle Hire scheme launches on 30 July it will be the most sustainable, environmentally friendly and healthy form of public transport ever seen in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>From this date, Londoners and visitors to the city will be able to pick up and drop off one of thousands of hire bicycles at hundreds of locations across London's zone one travel area.<br>&nbsp;<br>Those keen to find out more about the scheme will be able to visit one of 45 planned cycle hire roadshows coming to central London from the end of May. </p>
<p>The dates and locations of the roadshows will be published on the <a title="Cycle hire" href="http://www.tfl.gov.uk/cyclehire ">TfL website </a>nearer the time.&nbsp;</p>
<h2>Cycling hints and tips</h2>
<p>Each roadshow will provide practical demonstrations, hints and tips - including how to register for the scheme, how much it will cost to use, and how to pick up and drop off hire bicycles from the docking stations. </p>
<p>Existing or potential cyclists will also be given safety tips, details of cycle routes and will be encouraged to sign up for TfL-funded cycle training through their local borough council.<br>&nbsp;<br>The Mayor of London, Boris Johnson, said: 'In just four months London will glitter with the twinkling dynamo lights of thousands of shiny cycle hire bikes, allowing Londoners and visitors to zip around the streets unfettered from timetables, queues and crowds. </p>
<h2>Pedal power</h2>
<p>'What we are creating is not just a cycle hire scheme, but a new form of public transport of the greenest and healthiest of kinds. </p>
<p>'It will become the cornerstone of the cycling revolution in the Capital and will, I'm sure, convert legions of people to the pleasures of pedal power.'<br>&nbsp;<br>David Brown, Director of Surface Transport at TfL, said: 'When the London Cycle Hire scheme launches on 30 July it will be the most sustainable, environmentally friendly and healthy form of public transport ever seen in the Capital. </p>
<p>'TfL is providing additional funding to boost the provision and effectiveness of cycle training in advance of the launch, and will host a packed roadshow programme giving people all the information they need to get the most out of this exciting scheme.' </p>
<h2>Thousands more cycle journeys </h2>
<p>TfL also unveiled the quirky cartoon-style characters that will be used to help promote the scheme and will be employed in 'how to use' and safety videos, at the roadshows, on the website and on other cycle hire-related materials.&nbsp; <br>&nbsp;<br>Once complete, people using London's Cycle Hire scheme will be able to pick up and drop off one of the 6,000 hire cycles at around 400 locations across the nine London boroughs and several Royal Parks that make up London's zone one travel area. </p>
<p>The scheme is expected to generate up to 40,000 extra cycle journeys a day in central London.&nbsp;<br>&nbsp;</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Around &pound;1.5 million will be spent on safety measures as part of the introduction of the London Cycle Hire scheme, including installing Advanced Stop Lines at junctions, improving lighting and CCTV and providing cycle training </li>
<li>People wanting to use one of the new hire bicycles will only need to pay &pound;1 for 24 hour access, &pound;5 for 7 day access, or take out a &pound;45 annual membership to be able to use the scheme. Within the selected access period, people can take unlimited journeys and the first half hour of each will be completely free of any usage charges. After the first free half hour of rental, the London Cycle Hire scheme usage charge will be &pound;1 for a journey of between 30 minutes and one hour, &pound;4 for up to 90 minutes, and &pound;6 for up to two hours. The hire charges then increase incrementally up to a maximum hire period of 24 hours </li>
<li>The London Cycle Hire scheme will build on the nine per cent increase in cycle journeys on London's major roads during the last year </li>
<li>The London Cycle Hire scheme, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable, environmentally friendly form of public transport ever seen in the Capital<br>&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From this date, Londoners and visitors to the city will be able to pick up and drop off one of thousands of hire bicycles at hundreds of locations across London's zone one travel area.&nbsp;Those keen to find out more about the scheme will be able to";}
        
        


 