


@{ViewBag.Title = "London River Services unveils spring/summer timetable";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London River Services unveils spring/summer timetable</h1>
        <div class="content-page-press-release">
        29 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With the days getting longer and increasing numbers of Londoners and tourists taking to the Thames, Transport for London has produced a new guide to services available on the river over the coming months.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Mayor's vision is for the Thames to be an integral part of London's transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Mayor's vision is for the Thames to be an integral part of London's transport network
                            
                        </p>
                    </div>
                
            
            
            <p>The 2010 spring and summer schedule details the scheduled services that depart from the eight key piers London River Services manages along the Thames, including a frequent service from Embankment to Woolwich Arsenal.&nbsp;</p>
<p>With Oyster pay as you go now available on Thames Clippers services Londoners will find it even easier to use the river.&nbsp; </p>
<p>A range of other river services is also available including jazz river trips, lunch and dinner cruises and a Tate-to-Tate service, providing an easy transport link between the world famous art galleries.</p>
<h2>Improving signage</h2>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'The Mayor's vision is for the Thames to be an integral part of London's transport network.&nbsp; </p>
<p>'A river that is not just gazed upon from ever increasing riverside apartments but also used more and more.&nbsp; </p>
<p>'We are focused on making it easier for Londoners and visitors to do to this by improving signage to the piers and services available and the new timetable is another splash in the right direction to help get thousands of people to continue, or even start, enjoying the unique experience of travelling on the Thames.'</p>
<p>Passengers with a valid Travelcard, or an Oyster card loaded with a valid Travelcard, can get a third off single fares on most scheduled services.&nbsp;</p>
<h2>Quick, convenient and comfortable</h2>
<p>On Thames Clippers the balance of the journey can be taken from any Oyster pay as you go balance.&nbsp; </p>
<p>Passengers with Oyster pay as you go get 10 per cent off the normal Thames Clipper adult fare.</p>
<p>Andy Griffiths, Head of London River Services, said: 'London's river services give visitors and residents an opportunity to see many iconic London landmarks, including the Tower of London and the Houses of Parliament, from a fantastic vantage point.&nbsp; </p>
<p>'River services also offer a quick, convenient and comfortable way to travel through central London.'</p>
<p>For more information on London River Services, visit <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a> or pick up the new booklet from London River Services' piers, London Underground stations and TfL Travel Information kiosks.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>London River Services is responsible for managing eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich </li>
<li>Fast river buses now operate all day every day from Embankment pier and the London Eye pier to the O2 at North Greenwich, with some continuing to Woolwich Arsenal. The last boat back into central London from the O2 is at 23:10 (23:20 Saturdays and Sundays) </li>
<li>Passengers with a valid Travelcard will get a third off the price of their river bus ticket.&nbsp;Passengers with Oyster pay as you go will get a 10 per cent off the normal Thames Clipper adult fare, with the exception of journeys on the O2 Express service </li>
<li>London River Services is keen to ensure the continued growth and development of river services and to see that all riverboat services are integrated, where practicable, with London's other public transport services </li>
<li>London River Services has introduced real-time information on Thames Clipper services at piers and on the website to allow customers to better plan their journeys </li>
<li>All London River Services' piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers.&nbsp;Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys.&nbsp;The relevant contact information is included in the new guide</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 2010 spring and summer schedule details the scheduled services that depart from the eight key piers London River Services manages along the Thames, including a frequent service from Embankment to Woolwich Arsenal.&nbsp;With Oyster pay as you go now";}
        
        


 