


@{ViewBag.Title = "London Underground outlines vision for a safe, efficient and transformed Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground outlines vision for a safe, efficient and transformed Tube</h1>
        <div class="content-page-press-release">
        11 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today outlined its vision for delivering a safe, efficient and transformed Tube for the future, including more frequent, reliable trains and safe stations, staffed at all times while services are operating.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London Underground is committed to continuing to provide a safe and reliable service while operating even more services as we upgrade lines, create more capacity and respond to the changing requirements of our customers
                            
                        </p>
                    </div>
                
            
            
            <ul> <li>More frequent, reliable trains and safe, staffed stations at heart of vision  </li><li>Safety to improve further as CCTV on Tube set to increase to more than 14,000 cameras  </li><li>Ticket offices to remain open  </li><li>Job reductions proposed, but LU commits to no compulsory redundancies and working with staff and stakeholders to improve customer service</li></ul> <p>Billions of pounds are being invested to transform the Tube and ensure that London is equipped to deal with the challenge of future growth in jobs and population, guaranteeing the capital's ongoing success as the country's economic powerhouse. </p> <h2>Upgrading every line</h2> <p>The Tube's transformation includes the upgrade of every line on the network to provide 30 per cent more capacity through new trains, track and signalling, and the rebuilding of some of the busiest stations such as Victoria and Tottenham Court Road.</p> <p>Recent years have seen a massive improvement in safety and security on trains and at stations. </p> <p>In addition to the greater presence of LU staff at gate lines and on platforms, the number of Police patrolling the Tube network has risen from 450 to more than 700 today and last year crime fell eight per cent, with just 13 crimes for every million customer journeys. </p> <p>There are now 12,000 CCTV cameras across the Tube network, with that figure due to rise to more than 14,000 in years to come, as well as more than 1500 help points around the system. </p> <h2>Customer satisfaction</h2> <p>LU has also seen record customer satisfaction scores, the result of listening carefully to, and acting upon, staff, customer and stakeholder views.&nbsp;</p> <p>This has been delivered through a renewed focus on improving customer service through greater engagement with staff, improving the frequency and reliability of train services and the provision of better customer information, on and off the network.&nbsp;</p> <p>The LU vision set out today seeks to build on this improvement and reaffirms LU's commitment to a safe and reliable service which is able to respond to customer needs and deliver the best possible value for taxpayers' and farepayers' money.</p> <p>The LU proposals guarantee that staff would remain available to assist customers in ticket halls, at gate lines or on platforms, ensuring that the system remains safe and secure.&nbsp;</p> <h2>Oyster success</h2> <p>They also deliver a more consistent, safe and efficient approach to station and train management and staffing levels which reflect changes in customer needs and in technology, such as new digital radio systems and improved real-time information.</p> <p>Most of all, the proposals reflect the huge success and take-up of Oyster, which now accounts for around 80 per cent of all journeys on the Tube.&nbsp;</p> <p>There has been a sharp decline in tickets sold at station ticket offices in recent years - just one Tube journey in 20 now begins with a ticket office transaction.&nbsp;</p> <p>A network of 4,000 ticket stops now also exists at shops and retail outlets across the capital and there is growing use of internet sales and automatic top-ups. On stations, there is now much greater provision of self-service ticket machines. </p> <h2>Ticket offices</h2> <p>However, LU recognises that many customers still value the service provided at ticket offices, particularly during peak hours and at busy stations.&nbsp;</p> <p>The LU proposals would also ensure, therefore, that all stations with a ticket office will continue to do so, with opening hours reduced in some areas to reflect the decline in demand but remaining open at the busiest times to serve customers. </p> <p>The proposals would mean a net reduction of around 700-800 posts.&nbsp;</p> <p>LU is committed to delivering this change without the need for any compulsory redundancies by not filling vacancies and re-focusing staff to areas of greater customer need.&nbsp;</p> <p>For example, with more train services planned as part of the upgrade of lines, there will be a need for more train operators. LU will also be offering options for voluntary severance and flexible working.&nbsp;</p> <p>No changes will be introduced without consultation with staff and trade unions. </p> <h2>Safe and reliable</h2> <p>LU's Managing Director, Richard Parry, said: 'London Underground is committed to continuing to provide a safe and reliable service while operating even more services as we upgrade lines, create more capacity and respond to the changing requirements of our customers.&nbsp;</p> <p>'We've set out these proposals today because we want to work with our staff, trades unions, customers and key stakeholders to ensure that we can deliver the best customer service more efficiently.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>'Our customers and staff should be assured that all of our stations will continue to be staffed at all times while trains are operating, and all stations with a ticket office will continue to have one.&nbsp;</p> <p>'CCTV on stations will continue to increase and the investment we've made in Police to over 700 officers has cut crime in recent years, down eight per cent last year.</p> <p>'We are also committed to delivering any change with no compulsory redundancies and, where reductions in posts are necessary, we'll first seek to avoid filling vacancies and redeploy staff to areas where they will be needed in future.' </p> <h2>Thousands more jobs</h2> <p>Since February 2006, LU has seen a 28 per cent decrease in ticket office transactions, and a 47 per cent increase in sales at self-service machines, while passenger levels rose to their highest ever at more than one billion per year. </p> <p>Passenger-operated machines now account for over 3.5m more sales per month than ticket offices, which now account for just a third of all sales on the network. </p> <p>Transport for London will also be creating many thousands of more jobs in the transport and construction industries in London and across the UK in future years, through the upgrade of the Tube, the construction and opening of the new, extended East London line on London Overground and Crossrail, which on its own is estimated to create around 14,000 jobs.</p><strong> <p> <hr>  <p> <p>Notes to editors:</strong><p> <ul> <li>London Underground proposes to consult with staff and trade unions and then implement any changes by February 2011  </li><li>In total, the changes outlined will result in around &pound;16m of savings per year  </li><li>LU propose to reduce the total number of posts by around 700-800, including 100 manager posts, 450 in ticket offices positions and between 150-200 other station posts  </li><li>Fewer than one in 20 customers now start their journeys with a ticket office transaction<br><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More frequent, reliable trains and safe, staffed stations at heart of visionSafety to improve further as CCTV on Tube set to increase to more than 14,000 camerasTicket offices to remain openJob reductions proposed, but LU commits to no compulsory";}
        
        


 