


@{ViewBag.Title = "Mayor and TfL: Arbiter's directions show PPP is 'not delivering for Londoners and taxpayers'";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL: Arbiter's directions show PPP is 'not delivering for Londoners and taxpayers'</h1>
        <div class="content-page-press-release">
        10 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners and taxpayers being asked to 'write blank cheque to prop up ailing and failing Tube Lines'. Mayor and Transport for London (TfL) 'keeping all options open, including legal remedies'.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners will be outraged that the Tube upgrades promised to them are now threatened"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor of London</div>
            <div class="quotee-job-title">Boris Johnson</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners will be outraged that the Tube upgrades promised to them are now threatened
                            
                        </p>
                    </div>
                
            
            
            Forensic Accountants appointed by London Underground (LU) to examine massive and secretive payments to Tube Lines' shareholders, Ferrovial and Bechtel.<br>
<p>Mayor of London, Boris Johnson and TfL today made clear that the LU Public Private Partnership (PPP) was not delivering for London, after the Government and PPP Arbiter proposed that LU cut back on promised upgrades of the Tube in order to finance an 'ailing and failing' Tube Lines.</p>
<p>The Mayor and TfL demanded that the vital upgrades of the Tube, to deliver more frequent and reliable trains, be delivered as the Private Partnership (PPP) Arbiter published his Final Directions on the costs of the future maintenance and upgrade of the Jubilee, Northern and Piccadilly (JNP) lines, and Draft Directions on how that should be financed.</p>
<p>The PPP Arbiter's Final Costs Directions confirmed that the economic and efficient price for maintaining and upgrading the JNP lines over the seven-and-a-half years from mid-2010 to 2017 should be &pound;4.46bn, a rise of only around one per cent on his Draft Directions published in December.&nbsp; </p>
<p>The Final Costs remain much less than the &pound;6.8bn originally sought by private PPP contractor Tube Lines and its shareholders, Ferrovial and Bechtel, and around &pound;1.3bn less than their final &pound;5.75bn demand.</p>

<h2>Raising finance</h2>
<p>While the Arbiter's Final Directions are a welcome endorsement of LU's evaluation of the costs, rather than Tube Lines', they nevertheless confirm a price around &pound;400m more than LU's &pound;4bn budgeted cost.&nbsp; </p>
<p>However, rather than demanding that Tube Lines raise the finance required to complete the Tube upgrades in full, as the PPP was created to ensure, the Arbiter suggests that TfL should either cut back on the Tube improvements promised to Londoners or simply provide more public funds without any effective scrutiny of Tube Lines' future plans.&nbsp; </p>
<p>As the Government has made clear it will not provide an additional finance to TfL, this clearly demonstrates the PPP is not delivering for Londoners and taxpayers.</p>
<p>While it is clearly the case that TfL could raise finance more cheaply than Tube Lines, the Mayor and TfL made clear that all PPP finance necessary must be raised by Tube Lines and its shareholders.&nbsp;</p>
<p>Such a step is vital to ensure the rigorous scrutiny of Tube Lines' future plans by the financial markets and protect London's taxpayers and farepayers by transferring risk from the public to the private sector, which the PPP was intended to enshrine.&nbsp; </p>

<h2>Examining all options</h2>
<p>Furthermore, the Government could raise any finance even more cheaply than TfL, yet this is an option that the Arbiter has neglected to consider.</p>
<p>The Mayor and TfL believe, therefore, that in making his Draft Directions on Finance, the PPP Arbiter has gone beyond his powers and, as such, they said they were 'examining all our options, including legal remedies'.</p>
<p>The Mayor and TfL also repeated their demand that London's taxpayers and farepayers must not be asked to fund secretive and inflated payments in the form of 'Secondment Fees' to Tube Lines' shareholders, Ferrovial and Bechtel, totalling around &pound;400m above the market rate over the next seven-and-a-half years.&nbsp; </p>
<p>Much of these fees are due to be paid whether or not Ferrovial and Bechtel provide staff to Tube Lines to manage the upgrade and maintenance work.&nbsp; </p>
<p>However, in the most important cases - the upgrade of the Jubilee and Northern lines - Tube Lines is failing to deliver, on time or in an economic and efficient way, a fact reaffirmed by the PPP Arbiter.</p>

<h2>True costs</h2>
<p>The Arbiter confirmed his view that Tube Lines could have completed the upgrade of the Jubilee line on time and to budget and should also have completed around half of the Northern line upgrade by this summer.&nbsp; </p>
<p>He also made clear that delays to Tube Lines upgrades and any increased costs are their responsibility, citing Tube Lines' &pound;327m claim against LU which was rejected by an independent QC in its entirety earlier this year.</p>
<p>Since Tube Lines made clear in its final submission that it believed it needed &pound;5.75bn to complete the Second Period maintenance and upgrades works, the Mayor and TfL today called on Tube Lines and its shareholders to publish its Business Plan, to demonstrate how an organisation that is currently failing to deliver on time its two key projects would deliver for &pound;4.46bn in future, and to enable proper scrutiny of its future plans by Londoners and stakeholders.&nbsp; </p>
<p>TfL also confirmed the appointment of a team of forensic accountants from KPMG, to investigate and report on Tube Lines finances, including the secretive Secondment Fees paid to Ferrovial and Bechtel.</p>

<h2>Transforming the Tube</h2>
<p>Mayor of London, Boris Johnson said: 'The Arbiter has ruled that the costs should be &pound;4.46bn, thus demonstrating that Tube Lines' breathtaking original demand for &pound;6.8bn was simply an attempt at daylight robbery.</p>

<p>'Londoners will also be outraged that the Tube upgrades promised to them are now threatened.&nbsp; </p>
<p>'Simply put, we are being asked to write a blank cheque in order to prop up an ailing and failing Tube Lines, and to guarantee massive and secretive payments of &pound;400m to its shareholders, Ferrovial and Bechtel.&nbsp; </p>
<p>'In other countries this would be called looting, here it is called the PPP.</p>
<p>'It is a system that no Londoner voted for and which is letting us down, while the Government seeks to wash its hands of the mess it created.&nbsp; </p>
<p>'We will fight this to the last and are seeking urgent advice on the Arbiter's idea to pass Tube Lines' obligations to raise finance on to London's fare and taxpayers.&nbsp; </p>
<p>'We are therefore examining all our options, including legal remedies.'</p>

<h2>Vital upgrades</h2>
<p>LU Managing Director, Richard Parry said: 'The vital upgrade of the Tube will deliver the greater capacity and reliability we need to enable London to continue to grow and prosper. </p>
<p>'We are making great progress in transforming the Tube.&nbsp; </p>
<p>'The Victoria line upgrade, which is being delivered by London Underground, is on track and on time, new air-conditioned trains have arrived in London and in each of the last three years we have carried more than one billion customers, the highest number in the history of London Underground.</p>
<p>'Conversely, the Jubilee and Northern line upgrades are seriously delayed and over budget as a result of Tube Lines' failure to deliver, a fact now confirmed by both the PPP Arbiter and an independent QC earlier this year.</p>
<p>'It is essential that Tube Lines and its shareholders, Ferrovial and Bechtel, are now called upon to set out in full their plan to deliver the full scope of works for &pound;4.46bn, fully &pound;1.3bn less than the final cost they claimed.&nbsp; </p>
<p>'Also, that this plan is put to the test that would be applied by potential lenders, as the PPP always envisaged.</p>
<p>'What remains important, above all else, is that the vital Tube upgrade programme - the fundamental purpose of the PPP - is delivered, to support London's future prosperity and growth.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> </p>
<ul>
<li>LU is part of Transport for London TfL </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>The remaining LU lines were to have been maintained and upgraded by Metronet Rail, which went into PPP Administration in July 2007. The businesses subsequently transferred to TfL </li>
<li>The <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/10932.html">press notice </a>which accompanied LU's 2009 PPP Annual Report </li>
<li>LU's <a href="http://www.tfl.gov.uk/assets/downloads/london-underground-ppp-performance-report-2008-2009.pdf">2009 PPP Annual Report </a>itself can be found here </li>
<li>The PPP Periodic Review Process:</li></ul>
<p>On 23 September, LU referred the issue of Tube Lines Second Period PPP costs to the independent PPP Arbiter, as part of the PPP Periodic Review process to determine the future price of the upgrade and maintenance of the Jubilee, Northern and Piccadilly (JNP) lines.&nbsp; </p>
<p>The Second Period of the PPP contract is for seven-and-a-half years from mid-2010 to the end of 2017.</p>
<p>LU provided Tube Lines with Restated Contract Terms, which set the scope of the track, trains, station and signalling improvements required in the Second Period, at the end of December 2008.&nbsp; </p>
<p>Tube Lines responded to LU at the end of June, but at &pound;6.8bn with a price significantly in excess of LU's then &pound;4.2bn evaluation and which was also much higher than the price indicated by the PPP Arbiter in his initial guidance provided in September 2008.</p>
<p>Since June, LU worked constructively with Tube Lines to bring their costs down.&nbsp; </p>
<p>But even though progress was made, towards the end of September Tube Lines' price remained unacceptably high and, at well over a billion pounds in excess of LU's price, did not represent value for money.&nbsp; </p>
<p>As a result, LU made a referral to the Arbiter who conducted his independent review.&nbsp; </p>
<p>LU's final submission was that the price for the Second Period works should be &pound;4.0bn, with Tube Lines at &pound;5.75bn.</p>
<p>In December, the PPP Arbiter provided his Draft Directions on price, &pound;4.4bn, and other questions relevant to the process.&nbsp; </p>
<p>Today, he has confirmed that figure and provided his Guidance on how the difference between LUs evaluation and &pound;4.0bn budgeted cost - around &pound;400m - should be financed.</p>
<p>LU and Tube Lines now have the opportunity to make further representations to the PPP Arbiter, before he confirms his Directions on Finance.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Forensic Accountants appointed by London Underground (LU) to examine massive and secretive payments to Tube Lines' shareholders, Ferrovial and Bechtel.Mayor of London, Boris Johnson and TfL today made clear that the LU Public Private Partnership (PPP) was";}
        
        


 