


@{ViewBag.Title = "Mayor approves &pound;11.5m funding for major schemes to transform the face of London by 2012 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor approves &pound;11.5m funding for major schemes to transform the face of London by 2012 </h1>
        <div class="content-page-press-release">
        17 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has announced &pound;11.5m of funding on projects in six boroughs that will help transform the look and feel of the Capital in time for the 2012 Olympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When the world comes to London during the 2012 Games we want our city to look its best and for people to have enjoyable journeys around town."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When the world comes to London during the 2012 Games we want our city to look its best and for people to have enjoyable journeys around town.
                            
                        </p>
                    </div>
                
            
            
            <p>He has confirmed that &pound;7m will be spent on restoring Piccadilly, St James and Pall Mall to their former status as one of London's great boulevards by reintroducing two way traffic and decluttering the area.&nbsp;</p>

<p>Another &pound;1.5m will be spent on the transformation of Jubilee Gardens in Lambeth and &pound;1.3m will be used to improve Kingsland High Street in Hackney.&nbsp;</p>
<p>Projects based in Camden, Enfield and Merton were also approved for funding. </p>
<h2>Improve public spaces</h2>
<p>All of the projects were chosen as they support the Mayor's Great Outdoors programme, which aims to improve public spaces; but also because they will be of direct benefit to the 2012 Games.&nbsp;</p>
<p>Walking and cycle routes to Olympic sites will be upgraded, pedestrian crossings and access to stations will be improved and footways will be de-cluttered and in one case a riverside park will be transformed into an attractive, accessible open space.</p>
<p>The Mayor of London, Boris Johnson, said: 'When the world comes to London during the 2012 Games we want our city to look its best and for people to have enjoyable journeys around town.&nbsp;</p>
<h2>Enhancing the Capital</h2>
<p>'Each of these great projects will help enhance the Capital, giving local communities and visitors improved public space, and providing a legacy for London that lasts for many years to come.'</p>
<p>Ben Plowden, Director of Better Routes and Places at Transport for London (TfL), said: 'We are pleased to be able to provide this additional funding to the boroughs. </p>
<p>'All the projects will bring improvements for residents and visitors alike and will contribute to a lasting legacy for our City.' </p>
<h2>Major Schemes programme</h2>
<p>The funding is part of TfL's Local Implementation Plan (LIP) Major Schemes programme and has been allocated as follows:</p>
<ul>
<li>&pound;7m for The City of Westminster to overhaul Piccadilly, St James and Pall Mall.&nbsp; More than one kilometre of railings will be ripped out and two way traffic will be reintroduced.&nbsp;More space will be devoted to pedestrians and the transformative scheme will open up the gateway to St James Park and Horse Guards Parade for the 2012 Games </li>
<li>&pound;900,000 for The London Borough of Camden to establish Britannia Junction outside Camden Town underground station as a new public space. Wider footways will be created and crossings improved to boost visitor numbers to this already popular tourist destination </li>
<li>&pound;212,500 for The London Borough of Enfield to upgrade the Harbet Road/Towpath Road section of the River Lea Towpath, and make way for a 'missing link' in the network of Greenway (walking and cycling) routes through to the Olympic Park </li>
<li>&pound;.1.3m for The London Borough of Hackney to improve Kingsland High Street. Footways will be widened and de-cluttered plus bus stops and cycle stands between Bradbury Street and Boleyn Road will be relocated.&nbsp; Lighting will be improved and CCTV introduced to reduce crime.&nbsp; New trees will be planted and pedestrian crossings will be improved </li>
<li>&pound;1.5m for The London Borough of Lambeth to transform Jubilee Gardens near County Hall and the surrounding area ready for it to be a 'live site' for the 2012 Games. Work will leave a lasting legacy of improved walking links to and from the river and a world-class Park for everyone who lives in, works in and visits the area </li>
<li>&pound;827,000 for The London Borough of Merton to transform Wimbledon Town Centre into an attractive place to visit and shop.&nbsp; Junctions will be redesigned and pedestrian accessibility improved from the town centre to the All England Lawn Tennis and Croquet Club. Improvements will also be made around Wimbledon Station</li></ul>
<p>All works are expected to be completed by early 2012. <br></p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors: </strong></p>
<ul>
<li>The projects were chosen from 48 applications across 26 London boroughs because they support the aims of the Mayor of London's Great Outdoors programme to improve public spaces in the Capital and because of their direct benefit to the 2012 Olympic Games </li>
<li>A key part of the criteria was that projects would have demonstrable benefits&nbsp; for the&nbsp; 2012 Olympic Games and be completed by early 2012 as well as meet the Mayor of London's strategy for Better Streets </li>
<li>'London's Great Outdoors - A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London.&nbsp; This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital </li>
<li>They are accompanied by an implementation plan that will see &pound;220 million invested in over 50 public realm improvement projects over the next three years, funding for which comes from Transport for London, The London Development Agency and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both the pedestrians and vehicles and reclaimed derelict green spaces and underused waterways </li>
<li>The manifesto and guides have been written and produced by the Greater London Authority, London Development Agency, Design for London and Transport for London.&nbsp; For further information please go to <a href="http://www.london.gov.uk/greatoutdoors">www.london.gov.uk/greatoutdoors</a> </li>
<li>The final list of shortlisted applications was considered by the Mayor's Design Advisory Panel<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "He has confirmed that &pound;7m will be spent on restoring Piccadilly, St James and Pall Mall to their former status as one of London's great boulevards by reintroducing two way traffic and decluttering the area.&nbsp;Another &pound;1.5m will be spent on";}
        
        


 