


@{ViewBag.Title = "Mayor confirms appointments to new independent Investment Programme Advisory Group to advise on TfL projects";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor confirms appointments to new independent Investment Programme Advisory Group to advise on TfL projects</h1>
        <div class="content-page-press-release">
        25 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor today confirmed the appointment of six world-class engineering, commercial and project management experts to a new independent Investment Programme Advisory Group.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Members will be able to offer expert advice on all aspects of TfL's Investment Programme
                            
                        </p>
                    </div>
                
            
            
            <p>The Group will advise on and scrutinise the delivery of the Transport for London (TfL) Investment Programme. </p>
<p>The Group, chaired by David James, former Managing Director of Balfour Beatty Management, will consist of:</p>
<ul>
<li>Derek Fryer - Board Director for Mott MacDonald and former Director of Taylor Woodrow's Engineering Division </li>
<li>Charles Penny - former Deputy Tunnel Engineering Director for the Channel Tunnel construction project </li>
<li>Nicholas Pollard - Chief Executive Officer of Bovis Lend Lease in the UK </li>
<li>Nigel Quick - former Director of Arup and Chair of Mouchel Management Ltd </li>
<li>Robin Whalley - former Board Director at Mott MacDonald and Managing Director of the firm's Hong Kong office</li></ul>
<p>Last October, the Mayor and the Secretary of State for Transport announced that an independent advisory group would be established to oversee the entire TfL Investment Programme, including all maintenance, renewal, upgrades and major projects across its modes, but not the operation of services. </p>
<p>TfL is overseeing the largest investment in London's transport infrastructure for decades, which will boost the city's transport capacity, create thousands of new jobs and ensure London's future competitiveness and global position.</p>
<p>TfL is investing billions to deliver critical upgrades to eight Tube lines, to build Crossrail, expand the DLR and London Overground networks, deliver a revolution in cycling and walking, improve London's public spaces, smooth traffic flow and introduce a cleaner, greener New Bus for London.</p>
<p>The Mayor of London, Boris Johnson, said: 'We're investing billions to improve transport in London, including the upgrade of the Tube and Crossrail. </p>
<h2>Examine the overall approach</h2>
<p>'Members of the new independent Investment Programme Advisory Group have experience in a range of disciplines including engineering, finance and project management, and will be able to offer expert advice on all aspects of TfL's Investment Programme, including the vital upgrade work that was formerly being carried out by Metronet.'</p>
<p>The independent Advisory Group will generally focus on reviews of specific major projects but will also examine the overall approach to delivery of TfL's Investment programme.</p>
<p>The expenditure on these projects accounts for nearly two-thirds of the TfL Investment Programme. </p>
<p>The independent Advisory Group will not have remit over the Tube Lines PPP contract, which is subject to review by the PPP Arbiter, or Crossrail which is also subject to separate governance and assurance arrangements. </p>
<h2>Expert advice</h2>
<p>The Investment Programme Advisory Group will act as independent, impartial advisors on TfL's most significant projects. </p>
<p>In this role, advisors will support the Mayor, the TfL Board and their relationship with the Department for Transport by providing expert advice on the development and implementation of these projects and the overall delivery of the TfL Investment Programme.</p>
<p>Members of the new group were appointed by the Mayor from a shortlist agreed with the Secretary of State for Transport and will report to the TfL Board and the Mayor as Chair of the TfL Board.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>On 29 October 2009, the Mayor and Transport Secretary Andrew Adonis confirmed that the Tube improvement contracts inherited by Transport for London on an interim basis after Metronet's collapse would remain permanently under the direct management of London Underground. The Mayor and the Secretary of State also announced new scrutiny measures at TfL through the establishment of an independent advisory panel to provide scrutiny of these new arrangements </li>
<li>The panel's remit will cover the entirety of the TfL Investment Programme but exclude operational matters. It will be able to scrutinise any aspect of the investment programme, and will report its findings directly to the TfL Board. The Board will also receive a management response, setting out how the issues have been or will be dealt with. The panel will also publish an annual report making overall conclusions on the delivery of the Investment Programme. Copies of all reports will be provided to the Secretary of State, in view of Government's significant contribution to the investment programme through the GLA transport grant which accounts for just under 40 per cent of TfL's total income </li>
<li>The independent Advisory Group will have between six and eight members with each member appointed for a period of two years. Appointments to the Group, including nominating one member as Chair, is undertaken by the Mayor in his role as Chair of TfL. The shortlist for members was agreed with the Secretary of State. No further appointments beyond the six members appointed today are currently planned. The independent Advisory Group will be formally established at the beginning of May </li>
<li><strong>Biography for David James</strong>: David is a Chartered Engineer who has been awarded the Miller Prize by the Institute of Civil Engineers. Until recently he was a member of the Balfour Beatty plc Executive Committee and was Managing Director of Balfour Beatty Management. David was Chairman of ABB from 2003 to 2010, a joint venture between Atkins and Balfour Beatty to manage the major redevelopment of King's Cross Tube station for TfL. He was also the overall Project Director for the project which was successfully delivered in December 2009. Prior to joining Balfour Beatty, David was Deputy Chief Executive of WS Atkins with responsibility for the Transportation Group providing services in the road and rail sectors, including PFI and PPP initiatives </li>
<li><strong>Biography for Derek Fryer:</strong> Derek is a Fellow of the Chartered Institute of Building and a Main Board Director for Mott MacDonald.&nbsp; For the last nine years Derek has had Mott McDonald Board responsibility for the Client Representative Role on Channel Tunnel Rail Link. He has been involved in over &pound;16bn worth of investment in infrastructure ranging from the redevelopment of Angel Tube station, Heathrow Terminal 4, Heathrow Express Rail Link, Southern Region New Trains Programme and Channel Tunnel Rail Link. Previously Derek was with Taylor Woodrow for over 25 years and undertook a number of roles including Director of the Engineering Division </li>
<li><strong>Biography for Charles Penny:</strong> Charles is a Chartered Civil Engineer and Member of the Institution of Civil Engineers who spent many years working for Balfour Beatty highways and rail companies as a technical Director. Charles has worked on several major London transport projects including the Jubilee line, the Tube's sub-surface network, Limehouse Link and the Heathrow Tunnel. He was Deputy Project Director on the Limehouse Link Project which was the largest value single Civil Engineering contract issued to date in the UK at the time. Charles was Deputy Tunnel Engineering Director on the Channel Tunnel construction project and was also responsible for the engineering of the railway track. He has served for&nbsp;five years on the Railway Safety and Standards Board Infrastructure Committee </li>
<li><strong>Biography for Nicholas Pollard:</strong> Nicholas is a Chartered Civil Engineer and has significant experience in the implementation of major capital investment projects in the rail, utilities and heavy engineering sectors. Nicholas is currently serving as Chief Executive Officer of Bovis Lend Lease in the UK, part of the Lend Lease Corporation. Previous appointments include Executive Vice President, Skanska UK plc; Director, Network Development Director for Railtrack plc/Network Rail; Director of the London North Eastern Zone for Railtrack plc/Network Rail and Operations Director for MP Burke plc (Southern Electric) </li>
<li><strong>Biography for Nigel Quick: </strong>Nigel is a Chartered Civil Engineer and Fellow of the Institution of Civil Engineers.&nbsp;Nigel retired from Ove Arup &amp; Partners, where he was a Director, in November 2003 and became an independent consultant. He was formerly the Chair and Managing Director of Mouchel Management Ltd. He has been responsible for the strategic advice and management of a range of civil engineering and building projects, for both the public and private sectors, of up to &pound;3bn in value.&nbsp;His recent project experience includes King's Cross Lands, Heathrow East and Dubai Airport Terminal </li>
<li><strong>Biography for Robin Whalley:</strong> Robin is a Chartered Civil Engineer and Fellow of the Institution of Civil Engineers with over 38 years experience of major infrastructure projects both in the UK and overseas including Hong Kong Airport and the Channel Tunnel Rail Link. His experience includes the design and construction of underground and surface railways including the Jubilee line and Metro schemes for Adelaide, Brussels and Manchester. Robin is a former Managing Director of Mott MacDonald's Management Services Unit and Managing Director of the firm's Hong Kong office. Robin retired as main Board Director of Mott MacDonald in December 2004 and since has worked as an independent consultant primarily undertaking Gateway Reviews for the Office of Government Commerce (OGC) </li>
<li>Members of the independent Advisory Group will commit up to a maximum of 24 days annually. Remuneration will be at rate of &pound;1,000 per day undertaken. The Chair of the independent Advisory Group will receive additional fees of &pound;4,000 per annum<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Group will advise on and scrutinise the delivery of the Transport for London (TfL) Investment Programme. The Group, chaired by David James, former Managing Director of Balfour Beatty Management, will consist of:Derek Fryer - Board Director for Mott";}
        
        


 