


@{ViewBag.Title = "More red buses going green";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More red buses going green</h1>
        <div class="content-page-press-release">
        29 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today announced the manufacturers and operators of its latest batch of 50 cleaner, greener hybrid buses.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will now be able to almost double the number of these green vehicles on the roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">London Buses Operations Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will now be able to almost double the number of these green vehicles on the roads 
                            
                        </p>
                    </div>
                
            
            
            <p>The new buses will be manufactured by Volvo and Alexander Dennis Limited (ADL) and operated by Arriva, Metroline and London United.</p>
<p>A decision has not yet been made on which routes London's latest hybrid buses will operate along, although the buses are likely to be operating in the Capital's most polluted hotspots following plans announced by the Mayor of London last week.&nbsp; </p>
<h2>Leading the way</h2>
<p>The buses are expected to enter service by the end of the year.</p>
<p>The new buses are a key strand of TfL's strategy to increase hybrid buses on London's roads.&nbsp;</p>
<p>By next year, TfL expect to have 300 hybrid buses operating and by 2012 all new buses coming on to London's roads will be hybrids.</p>
<p>Mike Weston, London Buses Operations Director, said: 'London is leading the way on hybrid buses as we continue our contribution to improving the fuel efficiency of our vehicles, helping to improve air quality and cut the Capital's carbon dioxide (CO2) emissions.&nbsp;&nbsp;</p>
<h2>Tough targets</h2>
<p>'We will now be able to almost double the number of these green vehicles on the roads and by 2012 all new buses coming on to London's roads will be hybrids.'</p>
<p>The Mayor and TfL are committed to tackling climate change through cutting London's contribution to CO2 and other emissions. </p>
<p>The Mayor has set a tough target of reducing CO2 emissions by 60 per cent by 2025 from 1990 levels and has recently published a comprehensive air quality strategy for public consultation.&nbsp;</p>
<p>The 50 buses have been funded by the Department for Transport's (DfT) Green Bus Fund.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Of the 50 hybrid buses, 20 will be manufactured by Volvo and operated by Arriva, 10 will be manufactured by ADL and operated by Metroline and 20 will be manufactured by ADL and operated by London United </li>
<li>There are currently 56 buses operating in London </li>
<li>A further six hybrid buses are on order and will be joining the bus fleet in 2010 to allow the whole of route 360 to be converted to hybrid operation </li>
<li>Take a look at <a href="http://www.london.gov.uk/air-quality">the Mayor's Air Quality Strategy</a>&nbsp;&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new buses will be manufactured by Volvo and Alexander Dennis Limited (ADL) and operated by Arriva, Metroline and London United.A decision has not yet been made on which routes London's latest hybrid buses will operate along, although the buses are";}
        
        


 