


@{ViewBag.Title = "Taxi fares to increase by 2.3 per cent on 10 April";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Taxi fares to increase by 2.3 per cent on 10 April</h1>
        <div class="content-page-press-release">
        29 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increase strikes balance between keeping taxi fares affordable and helping drivers to meet higher running costs.
        
    </div>



 <div class="on-this-page">
<p>Taxi passengers are reminded that fares are set to increase on&nbsp;Saturday 10 April.&nbsp;</p>
<p>The 2.3 per cent increase, the lowest since 2004, was approved by the TfL Board in February.</p>
<h2>A fair balance</h2>
<p>The fare rise is designed to provide a balance between maintaining income levels for drivers, who face disproportionately higher costs in order to work than average Londoners, while ensuring passengers still get a fair price for the high quality and unique service provided by the Capital's taxi drivers.</p>
<p>Taxi fares are reviewed annually and calculated by TfL based on a cost index that has been used since 1981.&nbsp;</p>
<p>The process also involved consultation with the taxi trade and others, including London TravelWatch and the London Chamber of Commerce and Industry. </p>
<h2>Income for drivers</h2>
<p>The 2.3 per cent increase includes a 1.9 per cent increase based on the 2010 cost index, which takes into account the rise in average national earnings and an increase in insurance rates which have risen 19.5 per cent on last year. </p>
<p>It also includes a one-off 0.4 per cent to remedy a calculation error from 2007 which the taxi trade chose not to introduce last year due to the economic downturn.</p>
<p>
<hr>
<br><strong>Notes to editors</strong> 
<p>
<ul>
<li>Transport for London's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are calculated according to one of three tariffs. These are:<br>Tariff 1: Monday to Friday, between 06.00 and 20.00<br>Tariff 2: Monday to Friday, between 20.00 and 22.00, and weekends between 06.00 and 22.00<br>Tariff 3: Nightly between 22.00 and 06.00 and on public holidays </li>
<li>The one-off 0.4 per cent increase relates to an error in 2007 when there was a discrepancy between the approved percentage increase and the final calculated tariffs. It was proposed to rectify this error in 2009/10 by adding 0.4 per cent for one year only to fares, however at the time stakeholders agreed that it would be inappropriate given the financial downturn. It was proposed again as part of the 2010/11 fares review to include the 0.4 per cent increase for one year only, and driver associations have now supported its inclusion </li>
<li>The 2010 cost index has calculated the increase in insurance costs for taxi drivers to be 19.5 per cent higher than the previous year </li>
<li>The Mayor is currently consulting on his draft Air Quality Strategy. For the taxi trade, the strategy proposes age limits for taxi and private hire vehicles, among other initiatives to reduce emissions from road transport. For more information go to <a href="http://www.london.gov.uk/air-quality">http://www.london.gov.uk/air-quality</a>&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Taxi passengers are reminded that fares are set to increase on&nbsp;Saturday 10 April.&nbsp;The 2.3 per cent increase, the lowest since 2004, was approved by the TfL Board in February.A fair balanceThe fare rise is designed to provide a balance between";}
        
        


 