


@{ViewBag.Title = "Temporary bus route changes during Sutton High Street closure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Temporary bus route changes during Sutton High Street closure</h1>
        <div class="content-page-press-release">
        15 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sutton High Street will be closed from Tuesday 16 March for gas works to be carried out by Southern Gas Networks over the next 10 weeks completing by the end of May 2010.
        
    </div>



 <div class="on-this-page">
<p>During this closure bus routes 80, 164, 280, 470, S1, S3, S4 and N44 will be diverted and stops P, N and O outside Sutton station will be closed. </p>
<p>Passengers are advised to allow extra time to complete their journeys. The detail of the bus route diversions is as follows:</p>
<ul>
<li>Route 80 will be diverted in both directions along Cedar Road, Langley Park Road and Carshalton Road and will be unable to serve Sutton High Street (outside the station). Passengers travelling to and from Sutton station should use temporary stops in Cedar Road (stops T3 and T4 on the enclosed map)</li>
<li>Routes 164 and N44 will start and finish in Chalk Pit Way, and will not go to Sutton High Street (outside the station) or The Quadrant</li>
<li>Route 280 will run in two sections: between Belmont station and Sutton station, and between Sutton Court Road and Tooting.&nbsp; Passengers wishing to make a journey using both sections of the route will only need to pay one fare</li>
<li>Routes 470 and S4 will be diverted in both directions from Mulgrave Road along Brighton Road, Cedar Road, Langley Park Road and Carshalton Road, and will be unable to serve Sutton High Street (outside the station). Buses will serve temporary stop in Cedar Road (stops T3 and T4 on the enclosed map)</li>
<li>Route S1 will be diverted in both directions along Langley Park Road and Carshalton Road, and will be unable to serve Cavendish Road, Brighton Road and Sutton High Street</li>
<li>Route S3 will be diverted in both directions along Carshalton Road, and will be unable to serve Langley Park Road, Cedar Road and Sutton High Street.&nbsp;<br> </li></ul>
<p><strong>
<hr>
Notes to editors:</strong></p>
<ul>
<li>Posters advising passengers of the diversions and stopping arrangements will be displayed at local bus stops and shelters in the area</li>
<li>Routes 420 and 820 are run by Surrey County Council and both of these routes will start and finish journeys at The Quadrant, and will not run to and from Sutton Bus Garage</li>
<li>A PDF detailing the road closure and affected bus routes is attached for information</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During this closure bus routes 80, 164, 280, 470, S1, S3, S4 and N44 will be diverted and stops P, N and O outside Sutton station will be closed. Passengers are advised to allow extra time to complete their journeys. The detail of the bus route diversions";}
        
        


 