


@{ViewBag.Title = "TfL introduces new facility to help reduce the number of defaced Zip photocards in circulation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL introduces new facility to help reduce the number of defaced Zip photocards in circulation</h1>
        <div class="content-page-press-release">
        02 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Zip Oyster photocard users can now change their photocard picture online. The facility will also be available to holders of other concessionary Oyster cards.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our website now allows Londoners with TfL concessionary photocards to change their photograph at a cost of &pound;10 per image, and as often as they like.
                            
                        </p>
                    </div>
                
            
            
            <p>Young people and Londoners holding one of Transport for London's (TfL's) concessionary photocards can now <a title="Photocard" href="http://www.tfl.gov.uk/photocard">change their Oyster card photograph online</a>, for a charge of &pound;10. </p>
<p>This does not include Freedom Pass holders, which allow over 60s and eligible disabled people in London to travel free, as it is not a TfL concessionary photocard and is administered by London Councils. </p>
<h2>No more damaged cards</h2>
<p>Until recently, concessionary photocard holders were unable to change the photograph on their Oyster photocard.&nbsp;</p>
<p>As a result, a number of photocard holders were found to be travelling with what appeared to be deliberately damaged or defaced photocards.&nbsp;</p>
<p>In the case of young people, this breaches the Behaviour Code they sign up to in order to receive their Zip Oyster photocards, and can result in their travel concession being withdrawn for up to a year.</p>
<p>Since April 2009 more than 1,500 young people, in particular 11-15 Zip Oyster photocard holders, have had their travel concession withdrawn for travelling with a damaged or defaced photocard.&nbsp;</p>
<h2>Self-consciousness</h2>
<p>This is an age when 11 to 15 year olds' physical appearance changes considerably, and it is believed that self-consciousness about appearance is one of the reasons for a number of the damaged or defaced photocards.</p>
<p>This new facility now allows all holders of TfL's concessionary photocards to replace the image on their photocard, with an appropriate one of themselves, as often as they like and at a cost of &pound;10 per image.</p>
<p>Steve Burton, Director of Community Safety Enforcement and Policing at Transport for London, said: 'Less than one per cent of young people with Zip Oyster photocards have had their travel concession withdrawn for travelling with a damaged or defaced card and it is not a decision we take lightly.</p>
<h2>Change online</h2>
<p>'To make it easier for people, our website now allows Londoners with TfL concessionary photocards to change their photograph at a cost of &pound;10 per image, and as often as they like.</p>
<p>'It is very important that the photographs on all Oyster photocards are clearly visible and that our staff are able to confirm that the person travelling for free or at a discount is authorised to do so.&nbsp;If you want to change your photograph, you can now visit the TfL website and upload an appropriate one you prefer. </p>
<p>'Travelling with a card that doesn't work when you touch in, isn't yours or doesn't have a clear photograph of you may lead to you losing your travel concession.'<br><strong>
<hr>
&nbsp;Notes to editors: </strong>
<p>
<p>
<ul>
<li>London residents eligible for concessionary travel photocards include:<br>- war veterans<br>- under 16s obtaining free travel on buses and trams (Zip) and U16 with&nbsp; <br>&nbsp; half rate travel.<br>- under 18s who are in full-time education (Zip) </li>
<li>Freedom Pass holders, which allow over 60s and eligible disabled people in London to travel free, are not included as it is not a TfL concession and is administered by London Councils </li>
<li>Zip is the name for the group of Oyster cards used to provide young people with concessionary travel. Full details can be found on the TfL webpage at: <a href="http://www.tfl.gov.uk/tickets/faresandtickets/1063.aspx">http://www.tfl.gov.uk/tickets/faresandtickets/1063.aspx</a> </li>
<li>Around 500,000 11 to 15 year olds in the Capital benefit from the Zip Oyster photocard scheme every year </li>
<li>The Zip Oyster photocard scheme, which was introduced in June 2008, has promoted responsible travel among young people. They must sign up to, and respect, a Behaviour Code in order to continue to enjoy the travel concession </li>
<li>The Behaviour Code states that offences against the code, including breaching TfL's Conditions of Carriage, could result in the withdrawal of the Zip Oyster photocard concession. As part of these conditions, a defaced or damaged Oyster photocard makes the travel concession invalid. For further details about the Behaviour Code please visit <a href="http://www.tfl.gov.uk/tickets/faresandtickets/1063.aspx">http://www.tfl.gov.uk/tickets/faresandtickets/1063.aspx</a> </li>
<li>All Oyster photocards must be replaced if they become broken, damaged or defaced, otherwise an appropriate ticket must be bought for the journey. Replacements can be obtained by calling Oyster Customer Service Centre on 0845 330 9876 (08:00-20:00 seven days a week) or through the TfL website </li>
<li>To upload a new image visit <a href="http://www.tfl.gov.uk/photocard">www.tfl.gov.uk/photocard</a> and follow the instructions to replace a Lost/Stolen/Damaged concessionary photocard<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Young people and Londoners holding one of Transport for London's (TfL's) concessionary photocards can now change their Oyster card photograph online, for a charge of &pound;10. This does not include Freedom Pass holders, which allow over 60s and eligible";}
        
        


 