


@{ViewBag.Title = "TfL Board approves &pound;9.2bn 2010/11 budget to deliver radical improvements to passenger services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Board approves &pound;9.2bn 2010/11 budget to deliver radical improvements to passenger services</h1>
        <div class="content-page-press-release">
        24 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Huge year ahead on the road to 2012 with completion of East London Line extension, Jubilee Line upgrade, London Cycle Hire scheme, two Cycle Superhighways and 50 per cent boost to capacity of busiest DLR route.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"2010 is a year of radical transport improvements as the billions we are investing starts to deliver better journeys and an improved quality of life for millions of Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            2010 is a year of radical transport improvements as the billions we are investing starts to deliver better journeys and an improved quality of life for millions of Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced a &pound;9.2bn budget for 2010/2011 to fund the completion of a series of major transport projects and maintain extensive and frequent Tube and bus passenger services across the Capital. </p>
<p>Radical improvements will be made to millions of journeys across London with the delivery over the next 12 months of the East London line extension, Jubilee line upgrade, London Cycle Hire scheme, the first two of 12 planned Cycle Superhighways and a 50 per cent&nbsp;increase in the capacity of the Bank to Lewisham section of the DLR, the network's busiest route. </p>
<h2>Investing in London</h2>
<p>The 2010/11 budget is part of TfL's multi-billion pound Investment Programme and sets out the delivery of the Mayor of London's transport initiatives&nbsp; including ongoing investment to upgrade the Tube and build Crossrail,&nbsp; the implementation of major cycling initiatives and efforts to smooth traffic flow. </p>
<p>The budget, which includes both operating costs and capital investment, will also fund also the continued progress of TfL Investment Programme projects due for completion in later years. </p>
<p>It is underpinned by a drive to deliver better tax and fare payer value through at least &pound;5.2bn of efficiency savings that will be delivered over the term of TfL's Business Plan, which runs to 2018.</p>
<h2>Transport improvements</h2>
<p>Delivery in the year ahead includes:</p>
<ul>
<li>The opening of the extended East London line - as part of TfL's London Overground network - bringing Tube frequency services and new connections to South East and East London </li>
<li>The introduction of a third carriage to services on the DLR Lewisham to Bank branch -&nbsp; a 50 per cent&nbsp;increase in capacity along the busiest DLR route - plus the completion of infrastructure work to enable three carriage operation across the whole network for the 2012 Games </li>
<li>The completion of the Mayor's London Cycle Hire Scheme and the opening of the first two of 12 new Cycle Super Highways routes </li>
<li>The upgrade of the Jubilee line originally due to be completed by Tube Lines last year, delivering a 22 per cent&nbsp;reduction in journey times and a 33 per cent&nbsp;increase in capacity to serve an extra 5,000 passengers an hour </li>
<li>A host of initiatives to help smooth traffic flow including the continued review of traffic signals, upgrade of signals to the SCOOT (Split Cycle Offset Optimisation Technique) responsive system and the trial of pedestrian countdown at traffic signals </li>
<li>New trains introduced to over half of the Victoria line fleet this year, as part of the upgrade of the line by 2012/13 </li>
<li>New air-conditioned trains entering service on the Metropolitan line </li>
<li>The commencement of main works at two of the six new Crossrail stations, Tottenham Court Road and Farringdon,&nbsp; with work also beginning at the two tunnel portals ahead of the start of Crossrail tunnelling in 2011</li></ul>
<h2>Value for money</h2>
<p>Mayor of London, Boris Johnson, Chair of TfL, said:&nbsp;<br>&nbsp;<br>'2010 is a year of radical transport improvements as the billions we are investing starts to deliver better journeys and an improved quality of life for millions of Londoners.&nbsp;</p>
<p>'We will see for example the East London Line opened, an extra 50 per cent capacity on the DLR's busiest route and the delivery of the London Cycle Hire scheme.&nbsp;&nbsp;&nbsp;<br>&nbsp;<br>'At the same time we are ensuring that the improvements are being delivered with value-for money at their heart. </p>
<p>'Where there are efficiencies to be made we are making them but where there is a need we are meeting it, working tirelessly to improve the transport network.</p>
<p>'Our investment will ensure we are ready for the 2012 Games and is indeed central to our city's future.&nbsp;</p>
<h2>Supporting growth</h2>
<p>'We must not underestimate the importance of the economic growth and thousands of jobs that are only made possible by us improving our system to the benefit of everyone.'</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'TfL remains 100 per cent&nbsp;focused on improving all journeys in London by delivering our major projects on time and to budget whilst protecting Tube and bus services and improving the conditions for all road users. </p>
<p>'We must work hard this year to maintain the quality of day to day services and to minimise the continued disruption caused by major planned engineering works. </p>
<p>'TfL will also continue to focus on providing clear value for money for London's taxpayers and fare payers by delivering at least &pound;5.2bn in savings and efficiencies in the years up to 2018, toward which we are making good progress.</p>
<p>'While we continue to build and upgrade the transport system, 2010 will see big improvements to many millions of Londoners' journeys as we take a great stride forward to 2012.'<br></p><strong>
<p>
<hr>
Notes to editors: 
<p></strong><strong></strong>
<ul>
<li>The 2010/11 TfL Budget will be published&nbsp;online&nbsp;at <a href="http://www.tfl.gov.uk/corporate">www.tfl.gov.uk/corporate</a> </li>
<li>Copies of the Budget can be requested from the TfL Press Office</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced a &pound;9.2bn budget for 2010/2011 to fund the completion of a series of major transport projects and maintain extensive and frequent Tube and bus passenger services across the Capital. Radical improvements will";}
        
        


 