


@{ViewBag.Title = "TfL's Travel Information Centres celebrate 70th year with opening of new centre at King's Cross St. Pancras";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's Travel Information Centres celebrate 70th year with opening of new centre at King's Cross St. Pancras</h1>
        <div class="content-page-press-release">
        18 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's Transport Commissioner, Peter Hendy, has celebrated the 70th year of Transport for London's (TfL's) Travel Information Centres with the opening of a new, larger centre at King's Cross St. Pancras Tube station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Travel Information Centres have served tens of millions of passengers over the last 70 years"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Travel Information Centres have served tens of millions of passengers over the last 70 years
                            
                        </p>
                    </div>
                
            
            
            <p>TfL Travel Information Centres are a one-stop-shop for information and advice about transport services in London including fares, tickets and maps, and have been helping Londoners, commuters and visitors for the last 70 years. </p>
<p>The centres also sell tickets to many of London's top venues including fast-track admission to London's main visitor attractions, theatres, and sightseeing tours.</p>
<p>Last year over&nbsp;two million customers were served by centres across London at Liverpool Street, Piccadilly Circus, Euston, Victoria and Heathrow.</p>
<p>The King's Cross St. Pancras centre in the station's western ticket hall is the sixth across the TfL network and follows the opening of a new and improved outlet at Euston station last year. </p>
<p>It has a team of fifteen, most of whom speak French or another European language, and will advise around half a million customers each year, including many international rail passengers using St. Pancras International. </p>
<h2>Valued by visitors</h2>
<p>London's Transport Commissioner, Peter Hendy, said: 'TfL's Travel Information Centres have served tens of millions of passengers over the last 70 years and are particularly valued by visitors to the Capital. </p>
<p>'This latest addition at King's Cross St. Pancras, designed in large part by our customer service team themselves, demonstrates our ongoing commitment to helping our customers with information and advice on fares, Oyster cards, ticketing and how best to reach their destinations.'</p>
<p>'The first Travel Information Centre opened in 1940 to help people get around London during the Blitz as most station signs outside central London had been removed and bus, Tube and National Rail services were restricted. </p>
<p>These early Travel Information Centres were mobile and could therefore be moved to locations where they were most needed.&nbsp; </p>
<h2>Up-to-date advice</h2>
<p>In 1944, Travel Information Centres took on a tourism role to help American and Commonwealth troops in London make the most of their time in the Capital.&nbsp; </p>
<p>Providing information on London's major visitor attractions remains a key function of the centres today.</p>
<p>The new centre at King's Cross St. Pancras has four counter positions including one which is wheelchair accessible. </p>
<p>Each counter position has a PC linked to real-time travel information, TfL's Journey Planner and the TfL web site.&nbsp; </p>
<p>This helps our customer service team supply customers with the most accurate and up-to-date travel advice.</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TfL Travel Information Centres are situated at Liverpool Street Tube station, Euston mainline station, King's Cross St. Pancras Tube station, Victoria mainline station, Heathrow Terminals 1, 2, 3 Tube station and Piccadilly Circus
<li>All centres are open&nbsp;seven days a week from 07:15 to 21:00, with the exception of Piccadilly Circus which is open 09:15 to 19:00, seven days a week</li>
<li>A list of some of the services include:</li>
<ul>
<li>Advice on and sale of tickets including: Oyster pay as you go, Travelcards and bus passes</li>
<li>Congestion Charge payments</li>
<li>Information and booking of Heathrow and Gatwick Express services and Southern train services between London Victoria and Gatwick Airport</li>
<li>Fast-track admission tickets to some of London's most popular tourist attractions, such as The Tower of London and Madam Tussauds</li>
<li>Booking and advice on rail and coach tours in Britain, Paris, Brussels and Bruges</li>
<li>Advice on any access requirements</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL Travel Information Centres are a one-stop-shop for information and advice about transport services in London including fares, tickets and maps, and have been helping Londoners, commuters and visitors for the last 70 years. The centres also sell";}
        
        


 