


@{ViewBag.Title = "Transport for London to award morning free newspaper contract to Metro";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London to award morning free newspaper contract to Metro</h1>
        <div class="content-page-press-release">
        05 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Revenue from Tube and bus distribution deal to help fund transport improvements, carbon emissions-cutting projects and to boost paper recycling.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The free morning newspaper has become part of the fabric of city life and something Londoners tell us improves their daily Tube and bus journeys
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL)&nbsp;today announced that, subject to contract, its subsidiaries London Underground Ltd and London Bus Services Ltd intend to award concessions to distribute a free morning newspaper on the London Underground (LU) and at various London bus stations to the Associated Newspapers Limited title Metro. </p>
<h2>Funding improvements</h2>
<p>The new concessions allow the holder to distribute free newspapers on weekday mornings, at around 250 Underground stations and at around 14 London bus stations. </p>
<p>Metro's current distribution contract with London Underground Ltd began in 1999 and comes to an end on 2 April&nbsp;this year. </p>
<p>Richard Parry, Interim Managing Director, LU, said: 'The free morning newspaper has become part of the fabric of city life and something Londoners tell us improves their daily Tube and bus journeys. </p>
<p>'The revenue from this lucrative contract will go straight back into funding improvements to public transport in the Capital including the upgrade of the Tube. </p>
<h2>Public tender process</h2>
<p>'The new deal will also fund carbon-cutting projects such as making our stations more energy-efficient and will further encourage newspaper recycling with more recycling bins at key stations.'</p>
<p>As well as expanding the existing Metro recycling scheme to more stations, the deal will also include new measures to reduce the number of copies left behind at the end of the distribution period every day. </p>
<p>The contract is the culmination of a competitive public tender process and will begin on 6 April 2010, lasting for seven and a half years. </p>
<p>Steve Auckland, Managing Director, Metro, said: 'We are delighted that TfL has announced their intention to award the concessions to Metro. </p>
<h2>Successful partnership</h2>
<p>'Our teams work extremely well together and we look forward to continuing to give our consumers the very best service during their commute.' </p>
<p>John Leitch, Executive Director of Metro Distribution, said: 'I'm thrilled we've reached this stage in the process.</p>
<p>'It's the culmination of an enormous amount of work from our team over the last three years and we hope to build on the successful partnership we've had with TfL over the past 10 years.'</p>
<p>
<hr>

<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;today announced that, subject to contract, its subsidiaries London Underground Ltd and London Bus Services Ltd intend to award concessions to distribute a free morning newspaper on the London Underground (LU) and at various";}
        
        


 