


@{ViewBag.Title = "Transport for London casts a light on scooter safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London casts a light on scooter safety</h1>
        <div class="content-page-press-release">
        23 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is urging London's scooter riders to hone their safety skills by signing up for the ScooterSafe initiative.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I urge all the scooter riders in London to go to the ScooterSafe website and book a place on this fantastic course
                            
                        </p>
                    </div>
                
            
            
            <p>With the clocks set to change and days growing lighter many of the capital's scooter riders are returning to the streets for their daily commute. </p>
<p>The ScooterSafe programme provides scooter riders with the opportunity to develop their riding and awareness skills. This will enable them to be safer on the roads therefore helping to reduce the number of riders killed or seriously injured. </p>
<h2>Safety leaflets</h2>
<p>Over 30,000 leaflets containing details about rider safety and ScooterSafe will be distributed this week. </p>
<p>Credit-card sized information packs will be left on parked scooters throughout several popular scooter locations in the Capital including Liverpool Street, Covent Garden, Pimlico and Camden.</p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'The longer days and warmer weather will see lots more scooter loving Londoners taking their machines out on the road as it's a fantastic way to zip around the Capital. </p>
<h2>Scootersafe days</h2>
<p>'But when the scooter has been in the garage for several months it is only natural for riders skills to be slightly rusty and that is why signing up for a ScooterSafe day can be so valuable. </p>
<p>'The skills they'll pick up from the experts could potentially be lifesavers.'</p>
<p>The DVLA issues guidance to all new riders and additional advice is given when they buy a vehicle from a dealer. </p>
<p>But many scooter riders rarely seek updated safety information. </p>
<p>This means riders may find themselves in the position of never thinking about the issue after passing their test.</p>
<h2>Protective clothing</h2>
<p>TfL is particularly keen to highlight the need to wear adequate protective clothing. </p>
<p>Riders are recommended to check the condition of their clothing and their helmets regularly. How often they are used and how they are stored can have an impact on their effectiveness. </p>
<p>Chris Lines, Head of the London Road Safety Unit at Transport for London, said:&nbsp;'Transport for London is committed to ensuring the safety of all Londoners using the Capital's roads. The ScooterSafe scheme offers an extremely valuable service. </p>
<h2>Travel safely</h2>
<p>'I urge all the scooter riders in London to go to the ScooterSafe website and book a place on this fantastic course. </p>
<p>'This scheme gives riders all the information they need to ensure a safe journey for themselves.</p>
<p>'We also want to remind riders that they need to wear appropriate clothing for riding on their scooters as this could make the difference if things go wrong.'</p>
<p>For more information visit <a title="Scootersafe London" href="http://www.scootersafe-london.co.uk ">ScooterSafe-London</a>.&nbsp; <br>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>The ScooterSafe London course takes place in two locations in the Capital and is open to all riders from the novice on a moped up to a long term rider of a 250cc scooter and costs &pound;45 per person </li>
<li>Scooter riders in London span a wide variety of ages and ScooterSafe welcomes the attendance of riders of all ages as long as they have a minimum of a CBT pass certificate, a relevant licence, insurance and valid MOT if applicable </li>
<li>Riders are recommended to wear appropriate made-for-motorcycling clothing. This includes items such as gloves and helmets with the BSI kite mark (BSI 6658-1985) or UN ECE 22.05 mark of approval on the helmet or strap </li>
<li>Transport for London has teamed up with the Department for Transport and their promotional partners to offer riders discounts on products or services that help reduce risk of injury. <a href="http://www.scootersafe-london.co.uk">http://www.scootersafe-london.co.uk</a> </li>
<li>There are three key points in the year for changes in riding behaviour of P2W riders: </li>
<li>Spring clock change: the extra light encourages riders to get back on their bike after the winter </li>
<li>Spring, May/June: the better weather encourages more people to ride, particularly leisure riders who don't commute but ride at weekends </li>
<li>Autumn clock change: less light and bad weather results in a significant number of riders 'hibernating' their machines for the winter. Also poor light results in low visibility which contributes to more accidents </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With the clocks set to change and days growing lighter many of the capital's scooter riders are returning to the streets for their daily commute. The ScooterSafe programme provides scooter riders with the opportunity to develop their riding and awareness";}
        
        


 