


@{ViewBag.Title = "Transport Select Committee confirms Tube PPP is 'flawed' and has 'failed to prove' value for money";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Select Committee confirms Tube PPP is 'flawed' and has 'failed to prove' value for money</h1>
        <div class="content-page-press-release">
        26 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"It is the latest in a litany of damning verdicts on the PPP, and the failure of Tube Lines to deliver for London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of london</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is the latest in a litany of damning verdicts on the PPP, and the failure of Tube Lines to deliver for London
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Committee brands Tube Lines' failure to deliver Jubilee line upgrade 'unacceptable' </li>
<li>Committee welcomes greater London Underground (LU) efficiency on former Metronet lines </li>
<li>Transport for London (TfL) confirms appointment of independent experts to further improve transparency</li></ul>
<p>Mayor of London, Boris Johnson, and TfL today welcomed the Commons Transport Select Committee's confirmation that the LU Public Private Partnership (PPP) contracts are 'flawed' and have 'failed to prove' value for money, as they reaffirmed their view that the PPP is simply not delivering for Londoners and taxpayers.</p>
<p>The Committee's report said: 'We reiterate once again our judgement that the PPP scheme is flawed.&nbsp; </p>
<p>'Some 20 months following the demise of Metronet, the Government is no nearer being able to demonstrate that the PPP provides value for money for the taxpayer.'</p>
<p>The Mayor and TfL welcomed the Committee's call for Tube Lines and its shareholders, Ferrovial and Bechtel, to 'publish plans' showing how it would avoid unnecessary delay and disruption on the upgrade of the Northern line,&nbsp;on which major work and closures are about to start.&nbsp;</p>

<h2>Independent experts</h2>
<p>The Committee found Tube Lines' failure to deliver the upgrade of the Jubilee line on time 'unacceptable' and called on it 'to publish its plans for avoiding similar overruns... in the future.'</p>
<p>The Mayor and TfL also registered their agreement with the Committee's findings that Tube Lines appears to be repeating the mistakes of Metronet.&nbsp; </p>
<p>The Committee said, 'We are concerned, however, that there may be a temptation for Tube Lines to award projects to its parent companies for which they do not possess the required expertise.&nbsp; </p>
<p>'Such practices may have contributed to delays on the upgrade.'</p>
<p>TfL has long argued that the PPP is an expensive and inefficient way to deliver the vital upgrade of the Tube and the Transport Select Committee's damning verdict is the simply latest in a long line to conclude that the PPP is failing, including recent reports from the National Audit Office, Public Accounts Committee and House of Lords (see notes to editors).</p>
<p>The Mayor and TfL called on the Government to completely review the PPP structure, and once more repeated their demand that Tube Lines and its shareholders, Ferrovial and Bechtel, be required to publicly set out a credible plan for delivering maintenance and upgrade works during the PPP Second Period for the &pound;4.46bn price set by the PPP Arbiter, given that they previously demanded &pound;6.8bn.&nbsp; </p>

<h2>Vital upgrades</h2>
<p>Even their final demand of &pound;5.75bn is around &pound;1.3bn more than the Arbiter's determination.</p>
<p>Mayor of London, Boris Johnson said: 'This is the latest in a litany of damning verdicts on the PPP, and the failure of Tube Lines to deliver for London. </p>
<p>'This is a system that has wasted hundreds of millions of pounds of public money, yet the Government continues to wash its hands of the mess it has created.&nbsp;&nbsp;<br>&nbsp;<br>'It is the dysfunctional contract that is at the root of this, and the Government must urgently review the PPP to ensure that Londoners get the vital upgrades they were promised, in full, on time and in a way that represents value for money.<br>&nbsp;<br>'I continue to press Tube Lines, and its shareholders, Ferrovial and Bechtel, to revise its hugely disruptive closure plans on the Northern line.&nbsp; </p>
<p>'Should they proceed as planned, they will be responsible for untold misery for Tube users and businesses across the Capital.'</p>
<p>LU Managing Director, Mike Brown, said: 'This report confirms that the PPP is failing to deliver improvements to the Tube, value for money and is therefore failing to deliver for London.&nbsp; </p>
<p>'Yet Tube Lines and its shareholders, Ferrovial and Bechtel, have consistently failed to set out a credible plan for how they will improve or deliver at the price set by the PPP Arbiter in future.&nbsp; </p>
<p>'We demand that they do so.</p>

<h2>Value for money</h2>
<p>'We also continue to press Tube Lines and its shareholders, Ferrovial and Bechtel, to deliver the upgrade of the Jubilee line as soon as possible, and to learn lessons to minimise disruption on the Northern line.'</p>
<p>TfL also today responded to the Committee's comments on transparency and value for money.&nbsp; </p>
<p>On transparency, TfL has appointed a new team of independent experts to advise and publicly report on progress of the TfL Investment Programme, including the Tube upgrades.&nbsp; </p>
<p>LU also now publishes a four-weekly PPP report detailing performance against the PPP measures on all LU lines, with further scrutiny of all TfL affairs at the TfL Board, held in public and for which papers are published on the TfL website (see notes to editors).</p>
<p>On value for money, TfL has set out how, since the collapse of Metronet, savings and efficiencies totalling over &pound;3.6bn are being delivered.&nbsp; </p>
<p>Furthermore, a paper to this week's TfL Board set out how LU is delivering the upgrade of the Victoria line on time and on budget in contrast with Tube Lines' upgrades of the Jubilee and Northern lines (also see notes to editors).</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Two papers on the LU PPP were present to the TfL Board this week. The first set out TfL's analysis of the PPP Arbiter's recently published Final Directions on Costs and Draft Directions on Finance. The second provided analysis to show that, even with additional costs inherited from the failed Metronet organisation, LU is delivering the core upgrade of the Victoria line on time and on budget in contrast with Tube Lines' upgrades of the Jubilee and Northern lines </li>
<li>The Transport Select Committee's report is simply the latest in a long line of damning verdicts on the PPP structure and the failure of Tube Lines and its shareholders, Ferrovial and Bechtel, to deliver. The other reports are as follows and can be found at the following links: 
<ul>
<li>National Audit Office - <a href="http://www.nao.org.uk/our_work_by_sector/transport_and_infrastructure/the_failure_of_metronet.aspx">The Department for Transport: The failure of Metronet</a> </li>
<li>Public Accounts Committee [Commons] - <a href="http://www.publications.parliament.uk/pa/cm200910/cmselect/cmpubacc/390/390.pdf">Department for Transport: The failure of Metronet</a> </li>
<li>Economic Affairs Committee [Lords] - <a href="http://www.publications.parliament.uk/pa/ld200910/ldselect/ldeconaf/63/63i.pdf">Private Finance Projects and off-balance sheet debt</a></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Committee brands Tube Lines' failure to deliver Jubilee line upgrade 'unacceptable' Committee welcomes greater London Underground (LU) efficiency on former Metronet lines Transport for London (TfL) confirms appointment of independent experts to further";}
        
        


 