


@{ViewBag.Title = "Widespread support for plans to remove Tottenham Hale gyratory";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Widespread support for plans to remove Tottenham Hale gyratory</h1>
        <div class="content-page-press-release">
        25 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than three quarters of consultation responses supported proposals to remove one-way system. Detailed design work now underway ahead of start of main works in autumn 2012.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Tottenham Hale gyratory is a relic of the past and going back to two-way would make simple common sense"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Tottenham Hale gyratory is a relic of the past and going back to two-way would make simple common sense
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has begun detailed design work for the Tottenham Hale improvement scheme, after 80 per cent of people who responded to a public consultation supported plans to remove the gyratory system.</p>
<p>The scheme, which will begin in autumn 2012 and take 18 months to complete, would remove the one-way system, restore two-way traffic in the area and provide better facilities for pedestrians and cyclists. A larger bus station and a new public square would also be created at Tottenham Hale station. </p>
<h2>Regeneration</h2>
<p>More convenient bus stops, particularly at Seven Sisters station, and improved access to properties for residents and businesses will also be installed as part of the scheme, which will make a major contribution to the continued regeneration of the area.</p>
<p>The improvements contribute to the Mayor's 'Better Streets' strategy for the Capital. This outlines plans to revitalise London's network of streets, paths, passages, broadways, squares and other paved spaces in a bid to encourage people to walk and cycle and breathe life into densely populated areas.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Tottenham Hale gyratory is a relic of the past and going back to two-way would make simple common sense.&nbsp; </p>
<h2>Smooth traffic flow</h2>
<p>'It should greatly smooth the flow of traffic through the area and contribute to the Mayor's aim of making London's streets more attractive and life easier for road users.'</p>
<p>In light of feedback from the consultation, which was held during November 2009, TfL has made some minor changes to the proposals. </p>
<p>These include allowing lorries to continue turning left from Markfield Road into Broad Lane, and reviewing the proposed cycling facilities around the scheme to ensure they are adequate for demand.</p>
<p>Dick Halle, Director of Strategy at TfL, said: 'As well as removing the current gyratory system, TfL's improvement plans for Tottenham Hale will also create a new public square, a new bus interchange and a safer environment for pedestrians, cyclists, road users and the local community. </p>
<h2>Starts autumn 2010</h2>
<p>'More than three quarters of local residents who responded have said they were in favour of the scheme and we are now working on detailed designs, based on the feedback from the consultation, so we can start work on the scheme in autumn 2012.'</p>
<p>Advance works will begin later this year. </p>
<p>The results of the consultation, as well as TfL's responses to the most common issues raised, are available to view at <a href="http://www.tfl.gov.uk/tottenhamhalescheme">www.tfl.gov.uk/tottenhamhalescheme</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The project is funded by TfL, the London Borough of Haringey, London Development Agency, Homes and Communities Agency and developer contributions </li>
<li>The project is part of the TfL Investment programme, which funds works that improves London's transport system and enhance the urban environment </li>
<li>TfL manages the red routes - a network of 580km of London's roads, which carry over 33 per cent of the Capital's traffic </li>
<li>'London's Great Outdoors - A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London.&nbsp; This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital </li>
<li>They are accompanied by an implementation plan that will see &pound;220 million invested in more than 50 public realm improvement projects over the next three years, funding by TfL, the London Development Agency and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both the pedestrians and vehicles and reclaimed derelict green spaces and underused waterways </li>
<li>The manifesto and guides have been written and produced by the Greater London Authority, London Development Agency, Design for London and TfL.&nbsp;For further information please go to <a href="http://www.london.gov.uk/greatoutdoors">www.london.gov.uk/greatoutdoors</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun detailed design work for the Tottenham Hale improvement scheme, after 80 per cent of people who responded to a public consultation supported plans to remove the gyratory system.The scheme, which will begin in autumn";}
        
        


 