


@{ViewBag.Title = "Woolwich Town Centre boosted after &pound;6m worth of improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Woolwich Town Centre boosted after &pound;6m worth of improvements</h1>
        <div class="content-page-press-release">
        12 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Extensive facelift delivers major benefits for bus users, pedestrians, cyclists and road safety.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The improvements made in Woolwich are good examples of the way we want to use design to improve the look and feel of London's public spaces"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The improvements made in Woolwich are good examples of the way we want to use design to improve the look and feel of London's public spaces
                            
                        </p>
                    </div>
                
            
            
            <p>A &pound;6m facelift that has transformed Woolwich town centre is now complete. </p>
<p>Pavements have been widened to create more space and reduce crowding at bus stops. </p>
<p>The area around General Gordon Square has been pedestrianised and part of Woolwich New Road has been made two-way. </p>
<p>Work was carried out by Transport for London (TfL) and Greenwich Council. </p>
<p>The improvements support the aims of the Mayor of London's Great Outdoors Programme, which is providing a focus on improving public spaces all over the Capital. </p>
<h2>Easier access</h2>
<p>Pedestrians will benefit from new signalised crossings on key junctions and road surfaces have been brought up to pavement level at side roads to make it easier for people using wheelchairs or those with buggies. </p>
<p>New street lighting and new longer bus shelters have also been put in. </p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The improvements made in Woolwich are good examples of the way we want to use design to improve the look and feel of London's public spaces. </p>
<p>'They will make a real difference to people visiting or working in the town centre and reflect the Mayor's determination to make the public spaces of our city areas that we can all be proud of.'</p>
<p>The latest improvements are in addition to initial work completed in 2008, which saw a 'super crossing' installed on Plumstead Road and the planting of over 100 new trees.</p>
<h2>Pedestrian improvements</h2>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said:&nbsp; 'We are pleased with the timely completion of these improvement works. </p>
<p>'Transport for London is keen to work with London Boroughs to support key development schemes across London and applauds the cooperation with Greenwich Council in delivering this project.</p>
<p>'These significant improvements will not only provide improved public transport interchanges but bring real benefits to residents and visitors to Woolwich with safer cycling routes, better walking access and a much improved public realm.'</p>
<p>Greenwich Council Deputy Leader, Cllr Peter Brooks, said: 'These works have not only improved the look and feel of the town, but have also enhanced community access to local businesses and other facilities.</p>
<h2>Safer cycling</h2>
<p>'Greenwich Council is committed to ensure safety for its residents and well lit streets will reduce the fear of crime. </p>
<p>'Completion of the phase two works also paves the way for Greenwich Council's programme to regenerate Woolwich Squares as part of the Mayor's Great Spaces initiative.'</p>
<p>The Woolwich Town Centre Project has also already picked up two awards this year. </p>
<p>It won a Special Award for its contribution to the local community at the Engineering London awards and a commendation at the 2010 London Transport Awards for its contribution to Walking and Public Realm.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>This new scheme will help people living in the area to access all that Woolwich Town Centre has to offer, including jobs, leisure, shopping and entertainment, by public transport, bicycle and on foot </li>
<li>The &pound;6m scheme is a partnership between TfL and Greenwich Council </li>
<li>The changes are expected to bring important benefits to travel in the area, as well as improving the local environment and reconnecting the town centre with the Royal Arsenal </li>
<li>Other pedestrian improvements include enhanced public transport interchange, improved urban realm, new signalised crossings at key junctions, raised entry treatments at side roads, new longer bus shelters and wider footways </li>
<li>'London's Great Outdoors - A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London.&nbsp;This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital </li>
<li>They are accompanied by an implementation plan that will see &pound;220m invested in over 50 public realm improvement projects over the next three years, funding for which comes from TfL, The London Development Agency and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both the pedestrians and vehicles and reclaimed derelict green spaces and underused waterways </li>
<li>The manifesto and guides have been written and produced by the Greater London Authority, London Development Agency, Design for London and TfL </li>
<li><a href="http://www.london.gov.uk/who-runs-london/mayor/publications/environment/mayors-great-spaces">The Mayor's Great Spaces </a>programme which is part of the <a href="http://www.london.gov.uk/greatoutdoors">Great London Outdoors </a>is an initiative to revitalise the capital's unique public spaces. It celebrates and supports the good work being done across London to improve public places. It includes projects at any stage of their development, including those already part of other public space initiatives. The Mayor endorsed the 36 shortlisted projects in October 2009. Projects benefit from either feasibility funding, design and procurement advice, or an award-as an exemplar public space. Support is tailored to the needs of each project<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A &pound;6m facelift that has transformed Woolwich town centre is now complete. Pavements have been widened to create more space and reduce crowding at bus stops. The area around General Gordon Square has been pedestrianised and part of Woolwich New Road";}
        
        


 