


@{ViewBag.Title = "Work on A406 Bounds Green improvement scheme to begin next month";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work on A406 Bounds Green improvement scheme to begin next month</h1>
        <div class="content-page-press-release">
        15 March 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced today that work on the A406 Bounds Green improvement scheme will begin on 26 April.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Thanks to the determination of the Mayor, Transport for London and the local borough, work is finally set to get underway"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Thanks to the determination of the Mayor, Transport for London and the local borough, work is finally set to get underway
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Works will create a two-lane carriageway along the A406 North Circular Road, with Bowes Road upgraded from single to predominantly dual carriageway</li>
<li>New pedestrian crossings and fully accessible footbridge to be installed at A406 Bowes Road/Wilmer Way Junction as part of the scheme</li></ul>
<p>The works, which will take two years to complete, will convert the A406 North Circular between Bounds Green Road and Connaught Gardens to a predominantly two lane dual carriageway. </p>
<p>Journey times will be made more predictable by smoothing traffic flow through the area, and the work will cut the number of vehicles taking short cuts through local residential streets. </p>
<h2>Better crossing</h2>
<p>New cycle and bus lanes will be created along the road and street lighting, road junctions and pedestrian crossings will be upgraded as part of the improvement scheme. </p>
<p>A new, fully-accessible footbridge will be installed on A406 Bowes Road at the junction of Wilmer Way. </p>
<p>This new footbridge replaces the current footbridge across the A406 and will provide a better, more accessible crossing facility for local residents - including the children who attend Bowes Primary and Broomfield Secondary Schools. </p>
<p>New trees, shrubs and grassed areas will also be planted alongside the A406 as part of the project, making it a much more pleasant area for those who live in the vicinity. </p>
<h2>Environmental benefits</h2>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'Local residents have spent years wondering if this scheme would ever get started and it is brilliant news that, thanks to the determination of the Mayor, Transport for London and the local borough, work is finally set to get underway. </p>
<p>'It promises to make real and long awaited improvements to the area.'</p>
<p>Dana Skelley, Director of Roads for TfL, said: 'The Bounds Green scheme will significantly improve the A406, benefiting both local residents and people who use the North Circular Road.</p>
<p>'The scheme will upgrade both Bowes Road and Telford Road, and improve facilities for pedestrians and cyclists along both these roads. </p>
<p>'These changes will also help to smooth traffic flow at junctions in the area, which will make peoples journey times more predictable, as well as safer and less congested for all road users.'</p>
<h2>Regenerating the area</h2>
<p>Councillor Terry Neville, Cabinet Member for Environment and Street Scene for Enfield Council, said: 'These upgrades to the A406, which we have long campaigned for, are the next important steps towards regenerating this section of Bounds Green. </p>
<p>'This scheme brings a number of safety and environmental benefits to the area, which once completed, I am sure both residents and road users will appreciate for years to come.'</p>
<p>TfL will be holding public information sessions about the scheme at the Trinity at Bowes Methodist Church &amp; Community Centre in Palmers Green on 18-20 March. </p>
<p>The sessions will give local residents and business owners an opportunity to ask TfL questions about the scheme.</p>
<p>Work on the scheme is expected to be completed by spring 2012.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The public information sessions will be held at the following times:
<ul>
<li>Thursday, 18 March - 16:00-20:00</li>
<li>Friday, 19 March - 15:00-19:00</li>
<li>Saturday, 20 March - 11:00-15:00</li></ul>
<li>More information about the <a href="http://www.tfl.gov.uk/boundsgreen">A406 Bounds Green improvement scheme</a><br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Works will create a two-lane carriageway along the A406 North Circular Road, with Bowes Road upgraded from single to predominantly dual carriagewayNew pedestrian crossings and fully accessible footbridge to be installed at A406 Bowes Road/Wilmer Way";}
        
        


 