


@{ViewBag.Title = "Almost half of all motorbike collisions involve scooters";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Almost half of all motorbike collisions involve scooters</h1>
        <div class="content-page-press-release">
        30 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A scooter rider is killed or seriously injured every day on London's roads and make up almost half of all motorcycle casualties in the capital.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            ScooterSafe will help riders develop skills to cope with riding in the city
                            
                        </p>
                    </div>
                
            
            
            
<p>To help tackle the problem the successful BikeSafe-London scheme 
is being extended to provide skills days for riders of smaller capacity 
machines. </p>
<p>BikeSafe, which is a partnership between Transport for London (TfL), the 
Metropolitan Police and the City of London Police, is an all day event focusing 
on interactive presentations and on road assessment sessions with police 
motorcyclists and is targeted mainly at riders of larger motorcycles. </p>
<p>Since BikeSafe skills days were launched in April 2003 more than 7,500 riders 
have taken the course.</p>
<p>ScooterSafe will target riders of machines under 250cc, and will be tailored 
towards riding on city roads. </p>
<p>It will be further customised for riders under 20, addressing their needs and 
for those over 20 who may ride for different reasons. </p>
<p>Chris Lines, Head of the London Road Safety Unit at TfL, said: "Although the 
number of motorcyclists killed or seriously injured in London has fallen by 
almost 10 per cent in the past five years there is clearly still a long way to 
go in reducing collisions. </p>
<p>"Bikes under 125cc are involved in almost half of all motorcycle collisions 
and ScooterSafe will help riders develop skills to cope with riding in the 
city."</p>
<p>
<h2>Educating riders</h2>
<p>
<p>Ian Brooks, Chief Inspector Metropolitan Police, said: "The MPS is proud of 
BikeSafe-London and what is has accomplished. </p>
<p>"Encouraging and educating scooter riders through a similar program tailored 
to meet their particular needs is a logical next step for London.</p>
<p>"We are looking forward to working with Transport for London, borough Road 
Safety Officers, businesses and others to make our road safer for all."</p>
<p>ScooterSafe will also involve a separate course to tackle the link between 
anti-social behaviour and scooters.</p>
<p>
<h2>Improving safety</h2>
<p>
<p>The course will be for 16-19 year olds with the aim of encouraging them to 
ride legally, take responsibility for their actions, and dissuade them from 
riding mini motos or GoPeds. </p>
<p>The courses will be run in association with youth clubs and motor projects 
with referrals from youth offending teams, road safety officers and safer 
neighbourhood teams.</p>
<p>ScooterSafe, like BikeSafe, costs &pound;30 for a days course. Bookings can be made 
through Motorcycle UK Ltd on 0845 230 1894 or by visiting <a href="http://www.scootersafe-london.co.uk">www.scootersafe-london.co.uk</a>.</p>
<p>Transport for London invests more than &pound;40m a year on improving road safety 
on London's roads, including cinema and television advertisements to raise 
awareness of motorcycle safety. </p>
<p>Since 2000, TfL has overseen a 40 per cent reduction in the number of people 
killed or seriously injured on roads in the Capital.</p>
            <ul>
<li>In 2005, 845 motorcycle riders were killed or seriously injured on London's roads (44 killed, 801 seriously injured).  367 riders of machines under 125cc were killed or seriously injured (14 killed, 353 seriously injured)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "To help tackle the problem the successful BikeSafe-London scheme is being extended to provide skills days for riders of smaller capacity machines. BikeSafe, which is a partnership between Transport for London (TfL), the Metropolitan Police and the City of";}
        
        


 