


@{ViewBag.Title = "Construction of the landmark gallery at Finsbury Park gets underway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Construction of the landmark gallery at Finsbury Park gets underway</h1>
        <div class="content-page-press-release">
        19 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Completion of the improvement scheme at Finsbury Park station takes another step forward as construction of the new interchange gallery gets underway.
        
    </div>



 <div class="on-this-page">
<p>Large steel columns are being lifted into place on site by mobile cranes. </p>
<p>Precautions will be taken to ensure that noise levels are kept to a minimum where possible during night work.</p>
<p>Work can only be carried out outside of normal train operating hours and so has been scheduled to take place between 10pm on Saturdays and 9am on Sundays on the following dates:</p>
<ul>
<li>May 21</li>
<li>June 4,11, 18 and 25</li>
<li>July 2, 9, 16 and 24</li></ul>
<p>On these dates, installation of the cranes will require the temporary closure of the bus station at Station Place from 10pm on Saturday nights to 6pm on Sunday evenings. </p>
<p>Bus passengers will be asked to catch their bus from bus stop R, under the bridge on Seven Sisters Road.</p>
<p>It will also be necessary to close the London Underground entrance at Station Place while the work is being carried out.</p>
<p>Tube passengers will be directed to the Wells Terrace or Seven Sisters Road entrances between 11pm on Saturday nights and 8.30am on Sunday mornings. </p>
<p>The overground rail entrance onto Station Place will stay open except that access will be from only one end of the ticket hall. This will be signposted.</p>
<p>The gallery will provide a larger, covered ticket hall and new First Capital Connect ticketing facilities which will help reduce congestion during peak periods.</p>
<p> </p>
            <ul>
<li>For more information on the works call Zahra Akkerhuys on 020 7126 1465 </li>
<li>The final phase of the improvement scheme will provide more reliable bus services following improvements to the layout of the bus station; better access to buses and improved passenger waiting areas. Other improvements include better safety and security due to better lighting and an integrated digital CCTV/public address system, which covers the whole station<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Large steel columns are being lifted into place on site by mobile cranes. Precautions will be taken to ensure that noise levels are kept to a minimum where possible during night work.Work can only be carried out outside of normal train operating hours and";}
        
        


 