


@{ViewBag.Title = "Coulsdon Exhibition marks installation of box under Smitham Station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Coulsdon Exhibition marks installation of box under Smitham Station</h1>
        <div class="content-page-press-release">
        15 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is holding a fourth exhibition outlining progress on the Coulsdon relief road.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Eighty per cent of through traffic will be diverted away from the town centre
                            
                        </p>
                    </div>
                
            
            
            <p>The exhibition will take place between Thursday 18 May and Saturday 20 May at the Coulsdon Methodist Hall, 83 Brighton Road.</p>
<p>The event, which will update local residents on progress, coincides with the completion of the jacking of the concrete box structure beneath Smitham Station. </p>
<p>Apart from the marking of this key milestone in the works, the exhibition will also showcase:</p>
<ul>
<li>Operation of Woodplace/Hollymeoak Road junction traffic signals 
</li><li>Construction of Marlpit Lane Bridge 
</li><li>Marlpit Lane Roundabout 
</li><li>New Southern Roundabout 
</li><li>Completion of the main carriageway works between Woodplace Lane and Southern Roundabout</li></ul>
<p>Construction of the much needed relief road began in January 2004 and is expected to complete in late 2006. </p>
<p>It will divert 80 per cent of through traffic away from the busy town centre, allowing Coulsdon to be reclaimed for local people.</p>
<p>TfL, Hochtief (UK) Construction Ltd and Croydon Council are working hard to minimise the effect that these major works are having on the life of local residents. </p>
<p>To achieve this, a lane of traffic is being kept open in each direction during daytime, maintaining vehicle and pedestrian access to local properties. </p>
<p>Exhibition Opening Times</p>
<p>Coulsdon Methodist Hall, 83 Brighton Road<br>Thursday 18 May, 10.00 to 19.30 <br>Friday 19 May, 10.00 to 21.30 <br>Saturday 20 May, 10.00 to 17.00 <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The exhibition will take place between Thursday 18 May and Saturday 20 May at the Coulsdon Methodist Hall, 83 Brighton Road.The event, which will update local residents on progress, coincides with the completion of the jacking of the concrete box";}
        
        


 