


@{ViewBag.Title = "Enfield campaign to reduce the number of cyclists killed in collisions with HGVs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Enfield campaign to reduce the number of cyclists killed in collisions with HGVs</h1>
        <div class="content-page-press-release">
        16 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To tackle the problem, Transport for London, in partnership with local distribution company Tradeteam Ltd, is launching a new campaign to help Enfield cyclists cycle more safely and save lives.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are making great progress in cutting the number of cyclists hurt on Enfield's roads
                            
                        </p>
                    </div>
                
            
            
            <p>Highly visible signs will be fixed to the back of 50 Tradeteam vehicles as they drive in and around Enfield.</p>
<p>Cyclists particularly face danger from heavy goods vehicles (HGVs) turning left as situations arise where HGV drivers are not able to see cyclists between their vehicle and the kerb.</p>
<p>In the borough of Enfield there were 36 cyclist casualties between January and September 2005, with three involving goods vehicles (of which two involved an HGV). </p>
<p>One of these resulted in a fatality. As many as 60 cyclists were killed in collisions involving goods vehicles between January 1999 and November 2005 across London. </p>
<p>Chris Lines, TfL's Head of Road Safety, said:"We are making great progress in cutting the number of cyclists hurt on Enfield's roads, but the number of cyclists injured and killed in crashes with goods vehicles is still too high.</p>
<p>"By working in partnership with Tradeteam I hope we can get the message out to cyclists to be careful when riding near HGVs and also to help educate drivers to watch out for cyclists."</p>
<p>
            <ul>
<li>Your potographer is invited on-site as TfL Road Safety Officer Nick Baker presents John Crosk, with the cycle safety posters 
</li><li>A Tradeteam vehicle and cyclist will be on hand to demonstrate how effective the signage is for the safety of commuting cyclists<br><br>Where : Tradeteam Ltd, Stockingswater Lane, Enfield EN3 7PZ<br>When : Thursday 18 May, 10:00 <br>
</li><li>Tradeteam Ltd is a multicontract distribution company and is part of the DHL Exel group. The Enfield branch, with 200 staff and 50 vehicles, is the largest distributor of beer into central London, delivering to 22,500 outlets<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Highly visible signs will be fixed to the back of 50 Tradeteam vehicles as they drive in and around Enfield.Cyclists particularly face danger from heavy goods vehicles (HGVs) turning left as situations arise where HGV drivers are not able to see cyclists";}
        
        


 