


@{ViewBag.Title = "Haringey station upgrades unveiled";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Haringey station upgrades unveiled</h1>
        <div class="content-page-press-release">
        04 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Commuters in Haringey will enjoy the benefits of two major refurbishment schemes at Manor House and Turnpike Lane, with the completed work being unveiled this week.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Both stations have an interesting history as they formed part of the early 1930s Piccadilly line extension
                            
                        </p>
                    </div>
                
            
            
            <p>State-of-the-art technology has improved both passenger safety and security at the stations with the number of CCTV cameras increasing between them from 60 to 151 - a massive jump of 152 per cent.</p>
<p>Manor House and Turnpike Lane are two of ten stations to have been upgraded as part of Transport for London's (TfL's) &pound;10bn 5-Year Investment Programme.</p>
<p>All the work has been completed on time and within budget by Tube Lines, the company responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines.</p>
<p>Mayor of London Ken Livingstone said: "The upgrade of Manor House and Turnpike Lane stations is another milestone in the transformation of the Tube. </p>
<p>"Passengers will see the latest safety and security equipment, whilst both station's historic features have been lovingly restored. </p>
<p>"The works are part of Transport for London's five-year &pound;10bn investment programme which is delivering a public transport system needed to support London's growth and prosperity. </p>
<p>"It follows the recent completion of major improvements at Wembley Park Tube station to support the new Wembley Stadium, the addition of extra carriages on the Jubilee line to carry an additional 6,000 passengers every hour in the morning and evening peaks and the Docklands Light Railway extension to City Airport."</p>
<p>Mike Challis, General Manager of the Piccadilly line, said: "Passengers will be able to notice that their local stations look smarter, cleaner and more up to date now that these refurbishment schemes have been completed. </p>
<p>"Both stations have an interesting history as they formed part of the early 1930s Piccadilly line extension to Arnos Grove which was introduced at a time of recession in Britain to ease unemployment.</p>
<p>"Now they have the latest safety and security technology while their key heritage features have been preserved with care. There is expanded CCTV coverage as well as a new PA system and Help Points so that the public can communicate directly with our staff."</p>
<p>The ten stations that have been upgraded are: </p>
<ul>
<li>St John's Wood (Jubilee) 
</li><li>Stockwell (Northern) 
</li><li>Golders Green (Northern) 
</li><li>Morden (Northern) 
</li><li>Manor House (Piccadilly) 
</li><li>Turnpike Lane (Piccadilly) 
</li><li>Ealing Common (Piccadilly) 
</li><li>Caledonian Road (Piccadilly) 
</li><li>Boston Manor (Piccadilly) 
</li><li>Sudbury Hill (Piccadilly)</li></ul>
<p>These ten stations have been made cleaner, brighter and even safer than before through:</p>
<ul>
<li>Structural repairs and fresh paintwork throughout 
</li><li>New tiling, preserving heritage features 
</li><li>Tactile paving on platforms to assist the visually impaired 
</li><li>New information indicator boards on platforms and in ticket halls 
</li><li>Improved lighting 
</li><li>Additional CCTV cameras and improvements to the CCTV system 
</li><li>Upgraded PA systems and extra Help Points 
</li><li>Improved seating </li></ul>
<p>Tube Lines Chief Executive Terry Morgan said:"With these ten stations now being complete, we are over a fifth of the way through upgrading nearly every station on the Jubilee, Northern and Piccadilly lines. Another ten stations will be completed later this year with work starting at a further 18 stations. </p>
<p>"The stations look brighter and feel safer, not least because of the installation of additional CCTV cameras - more than 500 at these ten stations alone. </p>
<p>"We have tripled the level of investment in our three lines and are accelerating the rate at which they are being rebuilt."<br></p>
<p>
            <ul>
<li>You are invited to attend a behind-the-scenes tour of the station, see the improvement and meet the Group Station Manager.  Please contact Sophie Kirkham in the press office on 020 7126 3948</li>
<li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>The Mayor and TfL are investing &pound;10bn over the next five years to improve and expand London's transport network.  More than half of this investment is in the Tube</li>
<li>Manor House station was opened in 1932. Its original blue and beige tiling scheme has been replicated using 120,000 tiles. Key heritage features include the ticket hall ceiling and platform vent grilles</li>
<li>The number of CCTV cameras has increased from 28 to 73, and 15 new seats have been installed</li>
<li>Turnpike Lane station was opened in 1932</li>
<li>Key heritage features include Grade II listed status, and the up-lighters in the ticket hall</li>
<li>CCTV cameras went up from 32 to 78, 22.9km of cable was used and around 123,000 man hours were taken to complete the project</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "State-of-the-art technology has improved both passenger safety and security at the stations with the number of CCTV cameras increasing between them from 60 to 151 - a massive jump of 152 per cent.Manor House and Turnpike Lane are two of ten stations to";}
        
        


 