


@{ViewBag.Title = "Improvements unveiled at Ealing Stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvements unveiled at Ealing Stations</h1>
        <div class="content-page-press-release">
        04 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Major upgrade work has been unveiled at Ealing Common, Boston Manor and Sudbury Hill Tube stations on the Piccadilly Line.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers on the Piccadilly line will notice the vast improvements
                            
                        </p>
                    </div>
                
            
            
            <p>The latest technology has been employed to improve passenger 
safety and security at all three stations while carefully restoring heritage 
features in the Grade II listed buildings. </p>
<p>Ealing Common, Boston Manor and Sudbury Hill are three of ten Tube stations 
to be upgraded as part of Transport for London's (TfL's) 5-Year &pound;10bn Investment 
Programme. </p>
<p>The work at all stations has been delivered on time and on budget by Tube 
Lines.</p>
<p>Mayor of London Ken Livingstone said: "The upgrade of Ealing Common, Boston 
Manor, and Sudbury Hill Tube stations is another milestone in the transformation 
of the Tube. </p>
<p>"Passengers will see the latest safety and security equipment, whilst each 
station's historic features have been lovingly restored. </p>
<p>"The works are part of Transport for London's 5-Year &pound;10bn Investment 
Programme which is delivering a public transport system needed to support 
London's growth and prosperity.</p>
<p>"It follows the recent completion of major improvements at Wembley Park Tube 
Station to support the new Wembley Stadium, the addition of extra carriages on 
the Jubilee line to carry an additional 6,000 passengers every hour in the 
morning and evening peaks and the Docklands Light Railway extension to City 
Airport."</p>
<p>
<h2>Heritage features</h2>
<p>
<p>Mike Challis, Piccadilly Line General Manager, said: "The work to improve 
these three stations in Ealing has carefully balanced the old with the new. </p>
<p>"The latest technology has been used to improve safety and security for 
passengers, vastly increasing the number of CCTV cameras at each station, while 
heritage features have been sympathetically restored. "</p>
<p>"Passengers on the Piccadilly line will notice the vast improvements. </p>
<p>"These stations have been restored to their former glory, preserving their 
individual characters while bringing them up to modern standards with the latest 
in security and communication improvements."</p>
<p>The security improvements at Ealing Common, Boston Manor and Sudbury Hill 
include enhanced lighting, extra Help Points and a major boost to the numbers of 
CCTV cameras, which has more than doubled at Ealing Common (to 39), trebled at 
Sudbury Hill (to 29) and quadrupled at Boston Manor (to 34).</p>
<p>All work was carefully planned to preserve the 1930's architecture, with 
particular attention to a patterned frieze in Ealing Common and Boston Manor 
ticket halls. </p>
<p>Original colour schemes were also maintained, along with heritage features 
such as London Underground roundels and analogue clocks.</p>
<p>The seven other stations that have been upgraded are:</p>
<ul>
<li>Manor House (Piccadilly) 
</li><li>Turnpike Lane (Piccadilly) 
</li><li>Caledonian Road (Piccadilly) 
</li><li>St John's Wood (Jubilee) 
</li><li>Stockwell (Northern) 
</li><li>Golders Green (Northern) 
</li><li>Morden (Northern)</li></ul>
<p>All ten stations have been made cleaner, brighter and even safer than before 
through:</p>
<ul>
<li>Structural repairs and fresh paintwork throughout 
</li><li>New tiling, preserving heritage features 
</li><li>Tactile paving on platforms to assist the visually impaired 
</li><li>New information indicator boards on platforms and in ticket halls 
</li><li>Improved lighting 
</li><li>Additional CCTV cameras and improvements to the CCTV system 
</li><li>Upgraded PA systems and extra Help Points 
</li><li>Improved seating </li></ul>
<p>The majority of work was carried out at night to limit disruption to 
passengers.</p>
<p>Tube Lines Chief Executive Terry Morgan said:"With these ten stations now 
being complete, we are over a fifth of the way through upgrading nearly every 
station on the Jubilee, Northern and Piccadilly lines. </p>
<p>"Another ten stations will be completed later this year and work is starting 
at a further 18 stations. </p>
<p>"The stations look brighter and feel safer, not least because of the 
installation of additional
            <ul>
<li>About the work at Ealing Common:<br>It was delivered over 10 months and completed in January 2006.<br>It took approximately 32,000 man hours, with up to 56 workers on site at once<br>Twenty-four new CCTV cameras (total number now 39), 20 additional seats, 20,000 tiles and 43km of cabling were installed</li>
<li>About the work at Boston Manor:<br>It was delivered over 11 months and completed in January 2006<br>It took approximately 30,000 man hours, with up to 49 workers on site at once<br>26 new CCTV cameras (total number now 34), 16 extra seats, 3,000 tiles and 27km of cabling were installed</li>
<li>About the work at Sudbury Hill:<br>It was delivered over 11 months and completed in January 2006<br>It took approximately 45,000 man hours, with up to 60 workers on site at once<br>21 new CCTV cameras (total number now 29), 32 extra seats, 15,000 tiles and 47km of cabling were installed</li>
<li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>The Mayor and TfL are investing &pound;10bn over the next five years to improve and expand London's transport network.  More than half of this investment is in the Tube</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The latest technology has been employed to improve passenger safety and security at all three stations while carefully restoring heritage features in the Grade II listed buildings. Ealing Common, Boston Manor and Sudbury Hill are three of ten Tube";}
        
        


 