


@{ViewBag.Title = "London gears up to its longest ever cycle race";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London gears up to its longest ever cycle race</h1>
        <div class="content-page-press-release">
        15 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The biggest cycling race in the UK, the Tour of Britain, is to hold its finale in the capital on Sunday 3 September and will trial parts of both the 2007 Tour de France Grand D&eacute;part route and a proposed Olympic cycling route.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is a spectacular finish for this year's Tour of Britain.
                            
                        </p>
                    </div>
                
            
            
            <p>The final stage of the race, which at 80 kilometres will be the longest stage of a cycling race to ever hit London's streets, is sponsored by Transport for London (TfL) as part of its work to encourage more people to cycle in the capital. </p>
<p>In the past five years the number of cycle journeys on London's major roads have doubled, while the number of cyclists killed or seriously injured has fallen by 40 per cent.</p>
<p>The route of the final stage, unveiled today in central London, travels from Greenwich Park, over Tower Bridge and into the City, following part of the Tour de France 2007 route and passing some of London's most historic landmarks. </p>
<p>The race will also follow a proposed 2012 Olympic cycling route up and over Hampstead Heath then down to Regent's Park, through Hyde Park on to the Tour de France Prologue route and finally in to St James's Park for 20 laps of the park's perimeter to the finish.</p>
<p>The Tour of Britain final stage will bring a large free to view sporting event to the streets of the capital and promises to be a great day out for everyone - not just cyclists. </p>
<p>
<h2>Giant cycle stadium</h2>
<p>
<p>Tour of Britain estimate hundreds of thousands of spectators will line the streets and with almost 100 of the world's elite cyclists racing through London the city will become a giant cycle stadium. </p>
<p>This year for the first time TfL will be holding its annual BikeFest cycling event at the Tour of Britain. </p>
<p>BikeFest will be held along the Tour of Britain finishing straight and will be a fun event for cyclists and aspiring cyclists alike to find out how they can take to two wheels.</p>
<p>Peter Hendy, Commissioner of Transport for London, said:<br>"London has never seen a cycle race of this scale. This is the third time the Tour of Britain has finished in the capital and this year's race promises to be bigger and better than ever. </p>
<p>"The final stage of the race will be a great rehearsal for the 2007 Tour de France and the 2012 Olympics cycling race, and will showcase what cycling has to offer our great city.</p>
<p>"Cycling as a way of getting around is booming in London. The Tour of Britain will help build on that excitement and encourage even more people to take to two wheels."</p>
<p>
<h2>Spectacular</h2>
<p>
<p>Bradley Wiggins, Britain's most successful Olympic cyclist and TfL cycling ambassador said:"London is a spectacular finish for this year's Tour of Britain. </p>
<p>"The sight of the world's finest cyclists surging through the streets of London will be an inspiration for Londoners, young and old, to get on their bikes."</p>
<p>The day will also include a stage of the World Handcycling Championships featuring a line-up of 60 international para-Olympians, a Women's Grand Prix race, a junior race and the annual amateur elite London Grand Prix for the Bob Chicken Trophy.</p>
            <ul>
<li>For more information about the Tour of Britain visit:  <a href="http://www.tourofbritain.co.uk">http://www.tourofbritain.co.uk</a></li>
<li>For more information about cycling in London visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></li>
<li>The number of recorded cycle journeys on London's major roads have risen by 100 percent during the past five years (59,000 to 119,000 recorded journeys a week)</li>
<li>Investment in cycling has risen during the past five years from &pound;5.5 million in 2000 to &pound;20 million in 2005/06. In 2006/07 TfL will invest &pound;24 million in cycling infrastructure, training, promotion and education</li>
<li>The number of cyclists killed or seriously injured on the capital's roads has fallen by 40 percent during the past five years, achieving the Mayor of London's target five year's ahead of schedule</li>
<li>Further details of BikeFest will be outlined at a later date</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The final stage of the race, which at 80 kilometres will be the longest stage of a cycling race to ever hit London's streets, is sponsored by Transport for London (TfL) as part of its work to encourage more people to cycle in the capital. In the past five";}
        
        


 