


@{ViewBag.Title = "Londons bus improvements get Parliamentary seal of approval";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londons bus improvements get Parliamentary seal of approval</h1>
        <div class="content-page-press-release">
        23 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority press office.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London has seen bus usage increase by 40 per cent since 2000/01
                            
                        </p>
                    </div>
                
            
            
            <p>The improvements made to bus services in the Capital and the huge increases in passenger ridership that have been achieved as a result, were applauded today by the House of Commons Public Accounts Committee.</p>
<p>Bus ridership in London in recent years has climbed to levels not seen since the 1960s, bucking the UK downward trend. The all party select committee's report into the "Delivery Chain Analysis For Bus Services In England", published today includes glowing praise for the progress made in London in its conclusions and recommendations.</p>
<p>The report says: "The success in London can be attributed to the commitment shown by the Mayor and Transport for London; measures to support growth and investment in bus services while restricting car use; and a straightforward delivery chain achieved through effective regulation."</p>
<p>Mayor of London Ken Livingstone said: "This report recognises that the quality of London's bus services has been completely transformed over the last five years. </p>
<p>"This success shows that with adequate investment and strong leadership public services can be improved dramatically. </p>
<p>"We are now working to extend the improvements already seen on London buses to the Underground and other parts of the transport system."</p>
<p>Transport Commissioner Peter Hendy CBE said: "What we have seen in London in recent years shows that effective regulation, political will, prudent investment and, crucially, listening to what the public want and then delivering it to them can achieve.</p>
<p>"With 8000 buses on 700 routes the London bus network is now the most comprehensive public transport operation in Europe. Couple this with the Tube, and the other public transport networks and a picture emerges of a city which is delivering a real alternative to the private car for millions of Londoners and visitors."</p>
<p>London has seen bus usage increase by 40 per cent since 2000/01 while elsewhere in England bus usage has fallen by seven per cent.</p>
<p>The Public Accounts Committee Report follows on from other recent positive reports on the bus network in the Capital from the National Audit Office, Audit Commission and the London Assembly Transport Committee.</p>
            <ul>
<li>The Committee's report follows on from a London Assembly endorsement of the bus network's value for money, and a joint report from the Audit Commission and National Audit Office in December 2005 which found that London's bus network was "leading the way" in the UK with significant growth in passenger numbers 
</li><li>London's bus network is one of the biggest in the world, with 8,000 buses, 700 bus routes, and over 6 million passenger journeys made every weekday. Around &pound;850m is taken in revenue each year 
</li><li>London has the largest wheelchair accessible network in the world, and from summer 2007, will become more accessible to hearing - and visually - impaired passengers as audio visual announcements are introduced 
</li><li>The full <a href="http://www.publications.parliament.uk/pa/cm200506/cmselect/cmpubacc/851/85102.htm ">Public Accounts Committee report </a>is available 
</li><li>For media enquiries please call Hilary Merrett on 020 7983 4753. For out of hours media enquiries please call 020 7983 4000. For non-media enquiries please call the Public Liaison Unit on 020 7983 4100<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The improvements made to bus services in the Capital and the huge increases in passenger ridership that have been achieved as a result, were applauded today by the House of Commons Public Accounts Committee.Bus ridership in London in recent years has";}
        
        


 