


@{ViewBag.Title = "Major upgrade unveiled at Caledonian Road Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major upgrade unveiled at Caledonian Road Tube station</h1>
        <div class="content-page-press-release">
        04 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Caledonian Road Tube station's 10-month refurbishment is now complete with the work completed on time and on budget by Tube Lines.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Caledonian Road's passengers and staff now have a modern station with all the state of the art equipment
                            
                        </p>
                    </div>
                
            
            
            <p>State-of-the-art technology has improved both passenger safety and security at the station with the number of CCTV cameras increasing from 27 to 68 - a massive jump of 152 per cent.</p>
<p>Caledonian Road on the Piccadilly line is one of ten stations to have been upgraded as part of Transport for London's (TfL's) &pound;10bn 5-Year Investment Programme.</p>
<p>Mayor of London Ken Livingstone said: "The upgrade of Caledonian Road station is another milestone in the transformation of the Tube. </p>
<p>"Passengers will see the latest safety and security equipment, whilst the station's historic features have been lovingly restored. </p>
<p>"The works are part of Transport for London's 5-Year &pound;10 billion investment programme which is delivering a public transport system needed to support London's growth and prosperity. </p>
<p>"It follows the recent completion of major improvements at Wembley Park Tube Station to support the new Wembley Stadium, the addition of extra carriages on the Jubilee line to carry an additional 6,000 passengers every hour in the morning and evening peaks and the Docklands Light Railway extension to City Airport."</p>
<p>Mike Challis, General Manager of the Piccadilly line, said: "Caledonian Road's passengers and staff now have a modern station with all the state of the art equipment to make it even safer and more secure for passengers.</p>
<p>"People will notice the station looks smarter and cleaner now that these refurbishment schemes have been completed, which took care to retain the character and features of the station, which was opened in 1906. </p>
<p>"We now also have expanded CCTV coverage in the station as well as a new PA system and Help Points points so that the public can communicate directly with our staff."</p>
<p>The ten stations that have been upgraded are: </p>
<ul>
<li>St John's Wood (Jubilee) 
</li><li>Stockwell (Northern) 
</li><li>Golders Green (Northern) 
</li><li>Morden (Northern) 
</li><li>Manor House (Piccadilly) 
</li><li>Turnpike Lane (Piccadilly) 
</li><li>Ealing Common (Piccadilly) 
</li><li>Caledonian Road (Piccadilly) 
</li><li>Boston Manor (Piccadilly) 
</li><li>Sudbury Hill (Piccadilly)</li></ul>
<p>All ten stations have been made cleaner, brighter and even safer than before through:</p>
<ul>
<li>Structural repairs and fresh paintwork throughout 
</li><li>New tiling, preserving heritage features 
</li><li>Tactile paving on platforms to assist the visually impaired 
</li><li>New information indicator boards on platforms and in ticket halls 
</li><li>Improved lighting 
</li><li>Additional CCTV cameras and improvements to the CCTV system 
</li><li>Upgraded PA systems and extra Help Points 
</li><li>Improved seating </li></ul>
<p>Tube Lines Chief Executive Terry Morgan said:"With these ten stations now being complete, we are over a fifth of the way through upgrading nearly every station on the Jubilee, Northern and Piccadilly lines. </p>
<p>"Another ten stations will be completed later this year with work starting at a further 18 stations. </p>
<p>"The stations look brighter and feel safer, not least because of the installation of additional CCTV cameras - more than 500 at these ten stations alone. We have tripled the level of investment in our three lines and are accelerating the rate at which they are being rebuilt."<br><br>You are invited to attend a behind-the-scenes tour of the station, see the improvements and meet the Group Station Manager. </p>
<p>Please contact Sophie Kirkham in the press office on 020 7126 3948.</p>
<p><br></p>
            <ul>
<li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines 
</li><li>The Mayor and TfL are investing &pound;10bn over the next five years to improve and expand London's transport network. More than half of this investment is in the Tube 
</li><li>Caledonian Road station was opened in 1906 
</li><li>The works have taken ten months and around 65,000 man hours working overnight 
</li><li>In all, 18,000 tiles were used and 51km of cables were installed</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "State-of-the-art technology has improved both passenger safety and security at the station with the number of CCTV cameras increasing from 27 to 68 - a massive jump of 152 per cent.Caledonian Road on the Piccadilly line is one of ten stations to have been";}
        
        


 