


@{ViewBag.Title = "Mayor marks new milestone in transforming the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor marks new milestone in transforming the Tube</h1>
        <div class="content-page-press-release">
        03 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These stations now have the latest safety and security equipment
                            
                        </p>
                    </div>
                
            
            
            <p> The Mayor of London, Ken Livingstone, has visited St John's Wood Tube station to view modernisation work that has been completed on time and on budget as part of Transport for London's (TfL's) 5-Year, &pound;10bn Investment Programme. </p>
<p>St John's Wood is one of 10 stations which has been upgraded. The Mayor, joined by TfL Commissioner Peter Hendy, hailed the upgrades as a major milestone in TfL's drive to transform the Tube. </p>
<p>The upgrade work at all 10 stations has been delivered by Tube Lines.</p>
<p>The latest safety and security technology has been installed to improve these stations - at St John's Wood station alone the number of CCTV cameras has jumped from 20 to 57 cameras. </p>
<p>In total at all 10 stations, CCTV cameras have increased from 201 to 710. </p>
<p>The historic features of the stations, some of which are listed buildings, have also been painstakingly refurbished or replaced by exact copies. </p>
<p>This work has included tiling, lighting, clocks and seating. </p>
<p>Mayor of London Ken Livingstone said: 'The upgrade of these 10 stations is another milestone in the transformation of the Tube. </p>
<p>'These stations now have the latest safety and security equipment, whilst their historic features have been lovingly restored. </p>
<p>'The works are part of TfL's 5-Year, &pound;10 billion Investment Programme which is delivering a public transport system needed to support London's growth and prosperity. </p>
<p>'It follows the recent completion of major improvements at Wembley Park Tube Station to support the new Wembley Stadium, the addition of extra carriages on the Jubilee line to carry an additional 6,000 passengers every hour in the morning and evening peaks and the Docklands Light Railway extension to City Airport.'</p>
<p>The 10 stations that have been upgraded are: </p>
<ul>
<li>St John's Wood (Jubilee) 
</li><li>Stockwell (Northern) 
</li><li>Golders Green (Northern) 
</li><li>Morden (Northern) 
</li><li>Manor House (Piccadilly) 
</li><li>Turnpike Lane (Piccadilly) 
</li><li>Ealing Common (Piccadilly) 
</li><li>Caledonian Road (Piccadilly) 
</li><li>Boston Manor (Piccadilly) 
</li><li>Sudbury Hill (Piccadilly) </li></ul>
<p>These stations have been made cleaner, brighter and even safer than before through: </p>
<ul>
<li>Structural repairs and fresh paintwork throughout 
</li><li>New tiling, preserving heritage features 
</li><li>Tactile paving on platforms to assist the visually impaired 
</li><li>New information indicator boards on platforms and in ticket halls 
</li><li>Improved lighting 
</li><li>Additional CCTV cameras and improvements to the CCTV system 
</li><li>Upgraded PA systems and extra Help Points 
</li><li>Improved seating </li></ul>
<p>TfL Commissioner Peter Hendy said: 'Transport for London's 5-Year, &pound;10bn Investment Programme is delivering the transport improvements London needs, now and for the future.</p>
<p>'These stations have been restored to their former glory, preserving their heritage features, while also bringing them into the future with the latest in security and communication improvements.'</p>
<p>Tube Lines Chief Executive Terry Morgan said: 'With these 10 stations now being complete, we are over a fifth of the way through upgrading nearly every station on the Jubilee, Northern and Piccadilly lines. </p>
<p>'Another 10 stations will be completed later this year with work starting at a further 18 stations.</p>
<p>'The stations look brighter and feel safer, not least because of the installation of additional CCTV cameras - more than 500 at these 10 stations alone. </p>
<p>'We have tripled the level of investment in our three lines and are accelerating the rate at which they are being rebuilt.'</p>
            <ul>
<li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines 
</li><li>The Mayor and TfL are investing &pound;10bn over the next five years to improve and expand London's transport network. More than half of this investment is in the Tube 
</li><li>St John's Wood station opened in 1939 
</li><li>Facts about the 10 station upgrade: 
<ul>
<li>335,000 tiles have been restored or replaced 
</li><li>405.7km of cabling has been used 
</li><li>CCTV cameras have increased from 201 to 710</li></ul></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, has visited St John's Wood Tube station to view modernisation work that has been completed on time and on budget as part of Transport for London's (TfL's) 5-Year, &pound;10bn Investment Programme. St John's Wood is";}
        
        


 