


@{ViewBag.Title = "Mayor and Transport Secretary open Kings Cross St Pancras Western Ticket Hall";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and Transport Secretary open Kings Cross St Pancras Western Ticket Hall</h1>
        <div class="content-page-press-release">
        25 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the press office of the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is another key milestone in the delivery of Transport for London's Investment Programme
                            
                        </p>
                    </div>
                
            
            
            <p>Mayor of London Ken Livingstone, and Transport Secretary Douglas Alexander today (25 May) toured the new Western Ticket Hall at King's Cross St Pancras Underground station before it opens this Sunday (28 May). The state-of-the-art ticket hall will double the Tube station's capacity. </p>
<p>It was funded directly by the Department for Transport (DfT) and has been delivered as part of Transport for London's (TfL's) &pound;10bn Investment Programme by Metronet. The construction of the ticket hall has been funded direct by the DfT.</p>
<p>The new Western Ticket Hall will be the first port of call for visitors from Europe once the Channel Tunnel Rail Link extension opens in 2007 and will have the capacity needed to serve the new high speed Kent domestic services, the new Thameslink station and visitors to the London 2012 Olympics and Paralympics.</p>
<p>The innovative design also provides step-free access to the Circle, Hammersmith & City and Metropolitan lines, as well as new and enlarged public subways and additional routes to street level.</p>
<p>Mayor of London Ken Livingstone said: "This is another key milestone in the delivery of Transport for London's &pound;10bn Investment Programme and is a clear demonstration of how we are successfully working to meet London's transport needs now and in the future. </p>
<p>
<h2>Transport hub</h2>
<p>
<p>"The new King's Cross St Pancras Tube station will be a vital hub for London's 2012 Games, with the Javelin shuttle service linking King's Cross to the Olympic venues. The station is state-of-the-art, providing a blueprint for the future and a building fit for a world-class city hosting the Olympic Games."</p>
<p>Douglas Alexander, Secretary for State for Transport, said: "The Western Ticket Hall will be a fitting gateway to London for passengers from the UK and abroad.</p>
<p>"It is helping create a fully integrated transport hub in the heart of the capital. </p>
<p>"In the coming years the Channel Tunnel Rail Link will be completed, high speed commuter services introduced, the new Thameslink station fitted out, and Underground and main line stations expanded and modernised.</p><><p>
<p>
<h2>Passengers will double</h2>
<p>
<p>"This is one example of the many benefits government investment is bringing to improve transport and help regenerate this whole area."</p>
<p>The Western Ticket Hall has been designed to ease congestion during peak periods and will handle 250,000 passengers each day, the busiest on the London Underground network. </p>
<p>This number of passengers will double to almost half a million each day by 2020.</p>
<p>The Mayor and TfL also announced today that the contracts for a new Northern Ticket Hall for the Tube station, providing extra capacity and step-free access to the Northern, Piccadilly and Victoria lines, have been awarded by Metronet to Balfour Beatty, Morgan Bemo and Stent. </p>
<p>
<h2>Increased capacity</h2>
<p>
<p>The Northern Ticket Hall is due for completion in 2010 and is also being funded direct by the DfT. </p>
<p>TfL Commissioner Peter Hendy said: "With passenger numbers expected to double by 2020, the new Northern Ticket Hall will increase capacity and provide step-free access to the Northern, Piccadilly and Victoria lines.</p>
<p>"The ongoing redevelopment of King's Cross St Pancras Tube station is part of Transport for London's &pound;10bn Investment Programme to give London the transport network it needs now and into the future, while the innovative design and pioneering accessibility features in the new Western Ticket Hall have set the blueprint for Tube stations of the future."</p>
<p>
<h2>New ticket windows</h2>
<p>
<p>Patients from Stoke Mandeville Hospital tested the range of accessibility features at King's Cross. </p>
<p>These features include new ticket windows with lowered window height to give disabled employees and passengers better access to the ticket counters.</p>
<p>As 
            <ul>
<li>Photographs from the station opening are available to media from Cohn & Wolfe 
</li><li>The Mayor and TfL are investing &pound;10bn to improve and expand London's transport network. More than half of this investment is in the Tube 
</li><li>The estimated Metronet construction costs for Phase 1 of the work (Western Ticket Hall, renewal of Tube Ticket Hall and the modernisation of the Circle, Metropolitan and Hammersmith and City lines) and Phase 2 (Northern Ticket Hall) are &pound;378m and &pound;353m respectively. Taking account of other ancillary Metronet costs, the total estimated Metronet cost for the combined Phase 1 and Phase 2 of the King's Cross St Pancras Underground redevelopment is &pound;774m 
</li><li>The Western Ticket Hall, renewal of the Tube Ticket Hall and the modernisation of the Circle, Metropolitan and Hammersmith and City Lines is budgeted to cost &pound;378m. Once the Western Ticket Hall is open, the additional modernisation work on the Circle, Metropolitan and Hammersmith and City Lines will be completed and is due to be finished in early 2007 
</li><li>The entire Kings Cross St Pancras Underground redevelopment will cost &pound;774m, excluding London Underground costs and risk, and will be finished in 2010 </li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London Ken Livingstone, and Transport Secretary Douglas Alexander today (25 May) toured the new Western Ticket Hall at King's Cross St Pancras Underground station before it opens this Sunday (28 May). The state-of-the-art ticket hall will double";}
        
        


 