


@{ViewBag.Title = "Mayor agrees scheme to abolish bus and tram fares for under-18s in full-time education";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor agrees scheme to abolish bus and tram fares for under-18s in full-time education</h1>
        <div class="content-page-press-release">
        09 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Nearly 130,000 16 and 17 year olds in London can benefit from this policy
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Ken Livingstone, today announced that he has given the go ahead for a key manifesto pledge that bus and tram fares for under-18s in full time education will be abolished. </p>
<p>The scheme will start from September this year.</p>
<p>Free travel for under-18s in full time education is designed to promote the benefits of public transport to school leavers, whilst helping young people to continue studies and improve employment prospects. </p>
<p>Young people will need to apply for a 16/17 year old Oyster photocard in September when schools and colleges re-open to qualify for free travel. </p>
<p>This move follows the successful introduction of free travel for under-16s on buses and trams in September last year, and free travel for under-11s on the Tube in April this year. </p>
<p>Mr Livingstone said: 'This is a cost-saving measure for thousands of London families that continues our policy of promoting public transport wherever possible which also helps protect our environment. </p>
<h2>Boost to families</h2>
<p>'I have directed Transport for London this week to go ahead with the scheme to abolish bus and tram fares for under-18s in full-time education, so that this policy can be delivered in time for the new academic year. </p>
<p>'It will give a huge boost to families where children are striving to attain their full potential through continued studies. </p>
<p>'Nearly 130,000 16 and 17 year olds in London can benefit from this policy. </p>
<p>'It not only tackles issues of cost, which is a big factor when deciding to stay in education after 16, but also maintains our agenda of promoting public transport in order to protect the environment.'</p>
<p>All 16 and 17 year olds will continue to be able to apply for half-fare reductions on adult rate Oyster single fares, and Travelcard and Tube-only, 7 day, monthly and longer period season tickets. </p>
            <p><strong>Eligibility:</strong> </p>
<p>Free bus and tram travel will be available to: </p>
<ul>
<li>16 and 17 year olds who permanently reside within a London Borough and are in full-time education or unwaged training (see definition below) 
</li><li>18 year olds who permanently reside within a London Borough, apply before the end of the academic year in which they turn 18 and who are in full-time education or unwaged training (see definition below)
</li><li>Full-time education will be defined as 12 hours of guided learning per week for a minimum of ten weeks, on further education courses in school sixth forms, sixth form colleges and Further Education colleges or as Learning and Skills Council (LSC) arranged Entry to Employment (E2E) or Programme Led Pathways (PLP) work based learning<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, today announced that he has given the go ahead for a key manifesto pledge that bus and tram fares for under-18s in full time education will be abolished. The scheme will start from September this year.Free travel for";}
        
        


 