


@{ViewBag.Title = "Mayor announces 100th night bus service in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces 100th night bus service in London</h1>
        <div class="content-page-press-release">
        30 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's 100th night bus route will start on Saturday, 3 June. From that date, route 281 will operate a 24-hour service between Hounslow and Tolworth.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            One in seven bus routes now operate throughout the night
                            
                        </p>
                    </div>
                
            
            
            <p>The night bus network has expanded dramatically over the last six 
years. </p>
<p>Passenger numbers have more than doubled, from 15 million to 34 million per 
year.</p>
<p>The number of night bus routes has risen from 57 in 2000 to 100.</p>
<p>Mayor of London Ken Livingstone said: "The addition of the 100th night bus 
service shows just how much the bus service has been overhauled in the last six 
years. </p>
<p>"Night buses are now an essential part of the public transport system in 
London. </p>
<p>"In 2000 we had just 57 night bus routes, many of which were unreliable. </p>
<p>"We have dramatically expanded and improved London's night bus service over 
the last six years so that it is now a safe, clean, cheap and reliable route 
home. </p>
<p>"All buses have CCTV and a dedicated team of police officers patrol the 
routes. The transformation of the night bus network shows how public services 
can be transformed by adequate investment and strong leadership."</p>
<p>Clare Kavanagh, Director of Performance for London Buses, said: "London's 
transport network constantly evolves to meet the needs of those who live in, 
work in or visit London. </p>
<p>"One in seven bus routes now operate throughout the night, helping to get 
Londoners home and to work safely and supporting the night-time economy across 
the city."</p>
<p>
<h2>Increasing services</h2>
<p>
<p>The night bus network is integrated with the day time network, giving 24-hour 
services. </p>
<p>As well as increasing the number of routes serving central London at night, 
there is now a growing network of routes serving suburban town centres.</p>
<p>The Transport Operational Command Unit (TOCU), introduced in 2002, and funded 
by the Mayor, has made it increasingly safe to travel by bus at night, with 
1,200 uniformed officers policing buses and minicabs. </p>
<p>Every bus in London is also fitted with CCTV cameras, and drivers have the 
support of CentreComm, London Buses' 24/7 emergency communications 
centre.<br></p>
            <ul>
<li>Route 281 is operated by London United and serves Hounslow, Whitton, Twickenham, Fulwell, Teddington, Hampton Wick, Kingston, Surbiton and Tolworth 
</li><li>Passenger numbers on the night bus network have increased year on year since 2000, as follows - <br>a. 2000 - 15 million <br>b. 2001 - 18 million<br>c. 2002 - 21 million<br>d. 2003 - 26 million<br>e. 2004 - 31 million<br>f. 2005 - 34 million 
</li><li>Night buses run from around midnight to around 6am, some with the prefix 'N' and some without. The 'N' prefix is used where day and night time services are not completely identical (usually because the night bus route extends further into the suburbs for direct bus connections when rail services aren't running). Where the service is identical at all times of day and night, there is no prefix (as is the case with route 281) 
</li><li>Night buses are a safe, reliable form of transport - every London bus is fitted with CCTV and radio equipment connecting drivers to CentreComm, London Buses' 24/7 emergency communication centre 
</li><li>The Transport Operational Command Unit is funded by Transport for London and run in partnership with the Metropolitan Police Service </li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The night bus network has expanded dramatically over the last six years. Passenger numbers have more than doubled, from 15 million to 34 million per year.The number of night bus routes has risen from 57 in 2000 to 100.Mayor of London Ken Livingstone said:";}
        
        


 