


@{ViewBag.Title = "Metropolitan line suspended this weekend to allow Metronet emergency engineering work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Metropolitan line suspended this weekend to allow Metronet emergency engineering work</h1>
        <div class="content-page-press-release">
        23 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) will suspend the Metropolitan line this weekend, 27 and 28 May, between Moor Park and Watford to allow Metronet to undertake emergency engineering works.
        
    </div>



 <div class="on-this-page">
<p>This follows the failure by Metronet Rail SSL to carry out routine track maintenance work to cope with higher summer temperatures.</p>
<p>This suspension will provide Metronet with the opportunity to undertake work necessary towards resolving the issue in this area.</p>
<p>A rail replacement bus service will be in operation between Watford and Rickmansworth in both directions calling at Croxley. </p>
<p>A reduced service will operate on the rest of the line. </p>
<p>Engineering works planned across the Tube network this bank holiday weekend (27-29 May inclusive) include the closure of the Central line between Marble Arch and West Ruislip / Ealing Broadway and a suspension westbound only between Newbury Park and Leytonstone. </p>
<p>Closures are also planned on the Northern line between Camden Town and Kennington via Charing Cross.</p>
<p>Passengers should call 020 7222 1234 or check online at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> for the latest information before travelling and allow extra time for their journeys.</p>
<p>Metronet Rail SSL is responsible for the maintenance and renewal of the Circle, District, Hammersmith & City, Metropolitan and East London lines. </p>
<p>It is also responsible for the maintenance of the Piccadilly line track between Baron's Court and Acton Town.</p>
            <ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube as we work to Transform the Tube.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This follows the failure by Metronet Rail SSL to carry out routine track maintenance work to cope with higher summer temperatures.This suspension will provide Metronet with the opportunity to undertake work necessary towards resolving the issue in this";}
        
        


 