


@{ViewBag.Title = "Michelangelo, the Underground poet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Michelangelo, the Underground poet</h1>
        <div class="content-page-press-release">
        22 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) and the British Museum are unveiling a lesser known aspect of Michelangelo's artistic activity: his poetry.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is our mission to bring art and poetry to our passengers
                            
                        </p>
                    </div>
                
            
            
            <p> <!-- #EndEditable -->From 29 May, a poem by Michelangelo beginning 'La forza d'un bel viso a che mi sprona?' will be on display on Tube trains as part of the next series of Poems on the Underground. </p>
<p>Michelangelo enthusiasts will be able to get a preview copy of the poster during a lecture by Poet James Fenton entitled 'Michelangelo, Poet' at the British Museum on 25 May.</p>
<p>The poem by Michelangelo, 'La forza d'un bel viso a che mi sprona?' (beauty is impelled to find a face to dwell in) movingly explains Michelangelo's love of male beauty in terms of his fervent religious beliefs.</p>
<p>Tamsin Dillon, Head of Platform for Art, which supports Poems on the Underground said: 'We are delighted with the new series of Poems on the Underground that will be on display in Tube Trains at the end of the month. </p>
<p>'The poem by Michelangelo is particularly interesting and relevant as it coincides with the current Michelangelo season at the British Museum which includes a lecture on the Master's poetry.</p>
<p>'It is our mission here at Platform for Art to bring art and poetry to our passengers in order to enhance and enrich their journeys.'</p>
<p>The other poems featuring in the upcoming series of Poems on the Underground are: </p>
<ul>
<li>Song: On May Morning by John Milton (1608 - 1674)</li>
<li>Sonnet from the Portuguese by Elizabeth Barrett Browning (1806 - 1861), often regarded as one of the nation's favourite poems</li>
<li>Silver by Walter de la Mare (1873 - 1956), another popular favourite</li>
<li>Happiness by Stephen Dunn (b.1939)</li>
<li>Swallows by Owen Sheers (b.1974).</li></ul>
<p>Kate Soden, Michelangelo Exhibition Education Officer from the British Museum said: 'Michelangelo Drawings: Closer to the Master is the first Michelangelo exhibition at the British Museum since 1975 and presents a wonderful opportunity to think about the artist in new ways. </p>
<p>'We are delighted that the eminent poet James Fenton will be exploring Michelangelo's poetry in his lecture on May 25.</p>
<p>'Despite the fact the Michelangelo was a giant of sixteenth century art his poems remained largely unknown during his lifetime. </p>
<p>'The Michelangelo poem featured in the next series of Poems on the Underground exemplifies his unique gifts as a poet.'</p>
<p>  </p>
            <ul>
<li>Poems on the Underground was founded in 1986 </li>
<li>The programme is supported by London Underground (Platform For Art), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by writer Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground have inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow and St Petersburg and most recently Shanghai </li>
<li>The best selling anthologies 'Poems on the Underground, 10th Edition' and 'New Poems on the Underground 2006' are available from most bookshops and London's Transport Museum's gift shop </li>
<li>The posters, designed by Tom Davidson, are available from London's Transport Museum </li>
<li>Michelangelo's poem, 'La forza d'un bel viso a che mi sprona?' was translated to English for Poems on the Underground by poet Peter Porter </li>
<li>Michelangelo Drawings, Closer to the Master is a major exhibition at the British Museum from 23 March to 25 June, and traces 60 years of Michelangelo's life from his early twenties to shortly before his death. It reunites materials not seen together in the last 400 years </li>
<li>The British Museum's Michelangelo public programme includes lectures, discussions, introductory talks and film screenings.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->From 29 May, a poem by Michelangelo beginning 'La forza d'un bel viso a che mi sprona?' will be on display on Tube trains as part of the next series of Poems on the Underground. Michelangelo enthusiasts will be able to get a preview";}
        
        


 