


@{ViewBag.Title = "New &pound;400m DLR franchise to boost passenger service and security.";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New &pound;400m DLR franchise to boost passenger service and security.</h1>
        <div class="content-page-press-release">
        31 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improved passenger service and security are the key hallmarks of a new &pound;400m franchise to operate and maintain the Docklands Light Railway (DLR), which has been awarded to Serco Docklands (Serco) and began this week.
        
    </div>



 <div class="on-this-page">
<p>Serco, which has achieved considerable improvements in both train 
performance and passenger numbers on the DLR over the last nine years, has been 
rewarded with a new seven-year franchise agreement that will play a major role 
in supporting the London 2012 Olympics and Paralympics. The new franchise, 
awarded by Transport for London (TfL), includes challenging new targets for 
train punctuality, customer service and security:</p>
<ul>
<li>At least 96 per cent of trains must run 'on time' (ie within three minutes 
of the scheduled time) and with no more than two per cent of trains cancelled 
per day 
</li><li>At least nine out of ten passengers must be 'satisfied' with the train 
service - as measured by regular customer satisfaction surveys 
</li><li>Improved security on stations and trains with enhanced CCTV, increased staff 
presence at high-profile stations and 12 new dedicated 'Travel Safe Officers' 
</li><li>Better passenger information with new train information screens and two-way 
television Help points on stations, new television information systems on trains 
and the use of mobile phone technology to provide real-time travel 
information.</li></ul>
<p>Ian Brown, TfL London Rail's Managing Director, said: "We are delighted to 
see the start of Serco's new franchise which promises to further boost passenger 
service and security on the DLR. </p>
<p>"It will also ensure that the current high standards of punctuality and 
customer service are maintained - the latest figures show 97.1 per cent of 
trains arriving on time and 96 per cent of passengers satisfied with the 
service.</p>
<p>"These are exciting times for Londoners, with the ongoing regeneration of 
East London and the Olympics and Paralympics just around the corner.</p>
<p>"The DLR continues to grow to meet this demand. With the new franchise now in 
place and a number of major expansion projects underway, the DLR is perfectly 
placed to deliver a world-class railway for a world-class city by 2012."</p>
<p>
<h2>Passenger growth</h2>
<p>
<p>The new franchise period will also see the completion of the Woolwich Arsenal 
extension in 2009, the 3-car upgrade to increase capacity between Bank and 
Lewisham in 2009, and the extension to Stratford International in 2010 - all 
funded and delivered as part of TfL's &pound;10bn Investment Programme.</p>
<p>Serco was originally awarded the franchise to operate and maintain the DLR in 
April 1997, and since then has seen more than a 100 per cent growth in passenger 
figures, from 25 to 50 million per year. </p>
<p>Train reliability has increased from 90 per cent to 97.1 per cent under the 
franchise, making the DLR the best-performing railway in mainland UK. </p>
<p>The DLR is also the only fully accessible railway in the UK, with step-free 
access to all stations and trains. </p>
<p>The recent launch of an audio-visual announcement system on all trains means 
it is now easier to use for tourists, occasional users and those with hearing or 
eyesight impairments.</p>
<p><br></p>
            <ul>
<li>Docklands Light Railway Ltd is part of TfL 
</li><li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network 
</li><li>The new franchise officially commenced on Sunday 28 May 2006, and will run for the next seven years to 2013 
</li><li>Under the franchise, Serco is responsible for all aspects of railway operations and maintenance except the Lewisham and London City Airport extensions, delivered on time and on budget, which are maintained separately by Private Finance Initiative (PFI) concessions 
</li><li>Over 50 million journeys are made on the DLR every year, a figure forecast to increase to 80 million by 2009 
</li><li>The DLR will play a crucial role in transport for the London 2012 Olympics and Paralympics, serving the Olympic village and many key Olympic and Paralympic venues<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Serco, which has achieved considerable improvements in both train performance and passenger numbers on the DLR over the last nine years, has been rewarded with a new seven-year franchise agreement that will play a major role in supporting the London 2012";}
        
        


 