


@{ViewBag.Title = "New buses hit the streets";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New buses hit the streets</h1>
        <div class="content-page-press-release">
        04 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People in south London will be able to experience a fleet of brand new buses - and benefit from an increased service.
        
    </div>



 <div class="on-this-page">
<p>More than 100 new vehicles are being introduced across south London. </p>
<p>Timetable improvements have also been made on some routes:</p>
<p>Changes include:</p>
<ul>
<li>Sixty new double-decker buses have been introduced on routes 68 (Euston to Norwood), 468 (Elephant and Castle to South Croydon), N68 (Tottenham Court Road to Old Coulsdon) and X68 (Russell Square to West Croydon)</li>
<li>The peak hour frequency on route 68 (Euston to Norwood) has been increased from eight buses to nine buses per hour on Mondays to Fridays, and from six buses to eight buses per hour on Saturdays. <br>Route 468 now has increased frequencies in the evening and all day Sunday, while peak hour express route X68 now runs every 15 minutes instead of every 20 minutes</li>
<li>In the Lewisham area, new single-deck buses have been introduced on routes 181 and 225 which have both been extended - route 181 (Lewisham - Bromley Road/Downham Way) now continues along Downham Way to Grove Park Station providing new links for the Downham area. Route 225 has been extended from Lewisham to Hither Green Station to serve new housing developments in Hither Green Lane. It has been revised in the Rotherhithe area to terminate at Canada Water instead of Bermondsey Station</li>
<li>New buses are also being introduced along route 284, from Lewisham to Grove Park Cemetery</li>
<li>All buses on route 127, which runs from Purley to Tooting, have been replaced by new double-deckers. A revised timetable has also been introduced</li>
<li>At the end of April, buses on route 315, from Balham to Norwood, are due to be replaced with new single-deck vehicles. No changes will be made to the timetable</li>
<li>From the beginning of May, new double-decker buses will also be introduced along route 196, between Norwood junction and Elephant and Castle. The timetable will remain unchanged</li>
<li>In the Bromley area new single-deckers are being introduced over the next few weeks on routes 138 (Bromley North to Coney Hall), 162 (Beckenham Junction to Eltham) and 367 (West Croydon - Bromley North). New double-deckers will replace single-deckers on route 353 (Addington - Orpington) during the coming summer</li></ul>
<p>Operations Director Mike Weston said: "These new vehicles have the latest design features and will give passengers a much more comfortable ride across the city and are fully-accessible.</p>
<p>"There has been a 39 per cent increase in passenger usage over the past five years across London and these bus service changes are just part of our response to the growing demand on the network."</p>
<p> </p>
<p> </p>
            <ul>
<li>To arrange photographs of any of the new buses contact Zahra Akkerhuys</li>
<li>For more details about these routes and others, passengers should visit TfL's Journey Planner at <a href="http://www.tfl.gov.uk">TfL's website</a></li></ul>
<p><br> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than 100 new vehicles are being introduced across south London. Timetable improvements have also been made on some routes:Changes include:Sixty new double-decker buses have been introduced on routes 68 (Euston to Norwood), 468 (Elephant and Castle to";}
        
        


 