


@{ViewBag.Title = "Northolt and Woodford stations to be refurbished and improved";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Northolt and Woodford stations to be refurbished and improved</h1>
        <div class="content-page-press-release">
        03 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Northolt station, located at the west end of the Central line and Woodford station on the east end are both being refurbished and improved as part of Transport for London's (TfL's) &pound;10bn, 5-Year Investment Programme to improve and expand London's transport network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Virtually every station on the Tube network will either be refurbished or modernised
                            
                        </p>
                    </div>
                
            
            
            <p>Improvement works at Northolt and Woodford stations have just got underway. </p>
<p>Refurbishment works will be carried out by Metronet Rail BCV, the company responsible for the renewal and maintenance of the Bakerloo, Central and Victoria lines.</p>
<p>Jeff Ellis, General Manager of the Central line said: 'This year the pace of work on the Tube will increase to almost double that of last year, a pace that will be maintained for many years to come as we work to Transform the Tube thanks to TfL's &pound;10bn five year Investment Programme.</p>
<p>'Over the next five years, virtually every station on the Tube network will either be refurbished or modernised and a key element is the upgrading of CCTV facilities from analogue to digital and the recording of high quality images to hard drive rather than traditional magnetic tape. </p>
<p>'London Underground (LU) operates over 6,000 CCTV cameras and is one of the biggest users of CCTV in the world. </p>
<p>'As part of the station modernisation programme, the number of CCTV cameras will double to 12,000 by 2011. </p>
<p>'This is all about making the Tube even safer for passengers to use no matter the time of day.'</p>
<p>Northolt station will remain open while the works take place, except on the following weekends: 27/29 May, 17/18 June, 8/9 July, 15/16 July and 23/24 when planned track closures will allow Metronet to take advantage of these engineering works to speed up the work.</p>
<p>Woodford station will also remain open except for the waiting rooms and public toilets, which will be closed from May.</p>
<p>Refurbishment works in both stations will include the restoration of most heritage features, the replacement of existing CCTV cameras, the installation of help points, an enhanced PA system and tactile strips and contrasting handrails for the visually impaired. </p>
<p>All cabling will be concealed and ceilings will be either replaced or decorated.<br></p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in London Underground as TfL works to Transform the Tube</li>
<li>Last year LU ran more services and carried more passengers than ever before, hit all performance targets and was named Train Operator of the Year</li>
<li>Metronet Rail BCV is responsible for the renewal and maintenance of the Bakerloo, Central and Victoria lines</li>
<li>The Central line opened on 30 July 1900 as a cross-London route from Bank to Shepherd's Bush</li>
<li>The Central line's 74 km (46 miles) make it the Underground's longest line, serving 49 stations</li>
<li>The longest journey without change on the Underground can be made on the Central line between West Ruislip and Epping (54.9 km, 34.1 miles)</li>
<li>Northolt station, originally opened to serve Great Western Railway trains on 1 May 1907 and it was located on the eastern side of Mandeville Road</li>
<li>A new station on the west side was first served by Central line trains from 21 November 1948, when the Central line was extended from Greenford to West Ruislip along the Great Western route. 7,800 passengers use Northolt station daily</li>
<li>Woodford station is 150 years old this year and approximately 11,600 people use the station every day.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Improvement works at Northolt and Woodford stations have just got underway. Refurbishment works will be carried out by Metronet Rail BCV, the company responsible for the renewal and maintenance of the Bakerloo, Central and Victoria lines.Jeff Ellis,";}
        
        


 