


@{ViewBag.Title = "Opening of state-of-the-art garage at Edmonton";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Opening of state-of-the-art garage at Edmonton</h1>
        <div class="content-page-press-release">
        23 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus operator Arriva and Transport for London were today, Tuesday 23 May, marking the opening of a new state-of-the-art bus garage at Edmonton.
        
    </div>



 <div class="on-this-page">
<p>The bus garage is being opened by London's Transport Commissioner Peter Hendy with Arriva's Chief Executive David Martin.</p>
<p>The garage, in Towpath Road, Stonehill Business Park, has been transformed into a high-tech garage with a two-bay maintenance area for buses. </p>
<p>There are now 300 drivers and 134 buses based at the garage and the transformation includes the very latest in engineering equipment and better facilities for employees.</p>
<p>Special equipment will also be installed as part of iBus (the world's largest Automatic Vehicle Location Project) which will keep track of where London's buses are and tell passengers where their bus is.</p>
<p>The garage, which first opened in 1997, was expanded in 2003 when Arriva bought an adjoining timber yard to provide additional parking spaces for the additional articulated buses which were to arrive in April 2004. </p>
<p>The garage has been open for business as usual throughout the refurbishment with nine routes running to and from the site. </p>
<p>
<h2>State-of-the-art</h2>
<p>
<p>Commissioner Peter Hendy said: "This is one of the busiest bus garages in north London serving hundreds of thousands of passengers each day. </p>
<p>"The state-of-the-art facilities here will ensure that services run as efficiently as possible to help make passengers' journeys as smooth as possible and deliver the Mayor's Transport Strategy."</p>
<p>Contractors faced significant difficulties with the land, including poor soil conditions, resulting in the pits being built from reinforced concrete instead of using pre-fabricated ones. </p>
<p>Two major water mains were found to be running underneath the site which forced the whole building to be relocated to avoid them.</p>
<p>
<h2>Improved service</h2>
<p>
<p>Mark Yexley, Managing Director of Arriva London, said: "My colleagues at Edmonton have been fantastic. </p>
<p>"They have worked through some very difficult conditions and yet still delivered service levels to be proud of. They're a credit to us."</p>
<p>Wolfgang Presinger, Executive Managing Director of Mercedes Benz Buses and Coaches and Oliver Moeckesch, Managing Director of Evobus UK, will officially hand over the 390th bendy bus to enter service in London at the event. </p>
<p>
<p>
<p>It is the 157th bendy bus in operation in the Arriva London fleet. The articulated vehicles provide much needed extra capacity and research shows they have won over customers and drivers alike.</p>
<p>Superior accessibility levels on the vehicles have opened new doors for people with limited mobility, for parents with pushchairs and for people with shopping.</p>
<p>
<h2>Superior accessibility</h2>
<p>
<p>Mark Yexley, Managing Director of Arriva London, said: "This is a great celebration. </p>
<p>"The bendy buses have helped to cater for the significant growth in passenger numbers on the trunk routes they are used on and have improved services overall for passengers. They are more comfortable, have superb accessibility levels, and our drivers love them."</p>
<p>Oliver Moeckesch, Managing Director of Evobus UK, said: "Evobus is delighted that its partnership with TfL and Arriva has worked so well in London. </p>
<p>"We have always believed that our Citaros would make a positive contribution to improving public transport in the capital city and the support of Arriva and TfL has been invaluable. </p>
<p>"We shall work hard to ensure that our service is further improved to the benefit of our partners, with the ultimate aim of delivering a world-class service to the travelling public."</p>
            <ul>
<li>Pictures of today's event and of the garage before redevelopment are available in j-peg format 
</li><li>Arriva is London's biggest bus company, operating 1,500 buses in London under contract to Transport for London, including 157 bendy buses which serve passengers in Central and North London 
</li><li>Arriva's Edmonton depot is the base for 33 of its bendy buses 
</li><li>Arriva London is part of Arriva plc, which provides more than one billion passenger journeys a year for people across mainland Europe with more than 12,000 vehicles and 30,000 employees 
</li><li>Evobus UK is part of the DaimlerChrysler organisation and manufacturer of the Mercedes-Benz Citaro, of which close to 15,000 are now in operation across Europe 
</li><li>The vehicles supplied to Arriva are fully maintained by Evobus through specialist technicians based at Edmonton.</li></ul>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>Contact details:</p></blockquote>
<ul>
<li>Arriva London: Dave Jones, 020 8271 0101 (24-hour 07623 920615) 
</li><li>Transport for London: Zahra Akkerhuys, 020 7126 1465 or 07921 943933 
</li><li>Evobus UK: Kate Dodds, 024 7662 6051</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bus garage is being opened by London's Transport Commissioner Peter Hendy with Arriva's Chief Executive David Martin.The garage, in Towpath Road, Stonehill Business Park, has been transformed into a high-tech garage with a two-bay maintenance area for";}
        
        


 