


@{ViewBag.Title = "Operational note: Michelangelo Poem on the Underground launched at the British Museum";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operational note: Michelangelo Poem on the Underground launched at the British Museum</h1>
        <div class="content-page-press-release">
        22 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A poem by Michelangelo beginning 'La forza d'un bel viso a che mi sprona', part of the next series of Poems on the Underground, will be previewed on the 25 May at the British Museum during a lecture on Michelangelo's poetry by Poet James Fenton.
        
    </div>



 <div class="on-this-page">
<p>The next series of Poems on the Underground will be on display on Tube trains from 29 May.</p>
<p>Judith Chernaik, founder of Poems of the Underground; Tamsin Dillon, Head of Platform for Art, which supports Poems on the Underground; Hugo Chapman, Curator of the major exhibition 'Michelangelo Drawings: Closer to the Master; and Poet James Fenton will take part in the launch to unveil and discuss a lesser known aspect of Michelangelo's artistic activities: his poetry.</p>
<p><strong>Photo call</strong>: You are invited to send a reporter and photographer to the launch<br><strong>Time/date</strong>: 16:30 to 17:30, Thursday 25 May 2006<br><strong>Venue</strong>: British Museum</p>
<p>Please note that press passes must be issued for access to be granted to the lecture hall; if you wish to attend please contact:</p>
<p>Albanne Spyrou<br>Press Officer<br>Email: <a href="mailto:albannespyrou&#64;tfl.gov.uk">albannespyrou&#64;tfl.gov.uk</a><br>Direct line: 020 7126 4914</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The next series of Poems on the Underground will be on display on Tube trains from 29 May.Judith Chernaik, founder of Poems of the Underground; Tamsin Dillon, Head of Platform for Art, which supports Poems on the Underground; Hugo Chapman, Curator of the";}
        
        


 