


@{ViewBag.Title = "Rotherhithe work saves 20 night closures";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rotherhithe work saves 20 night closures</h1>
        <div class="content-page-press-release">
        26 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rotherhithe Tunnel is set to reopen on schedule later today following three weeks of essential gas works to repair leaks and ensure the ongoing safety of the travelling public.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By working closely, we've made the most of an unavoidable closure
                            
                        </p>
                    </div>
                
            
            
            <p>The tunnel closed on 6 May so that works could be carried out at its entrance in Branch Road. </p>
<p>Now, thanks to join-uped working between TfL, utilities companies and London Borough of Tower Hamlets, motorists can expect 20 fewer night closures of the Rotherhithe Tunnel over the next ten months.</p>
<p>During the closure, TfL has worked closely with National Grid (Gas), Thames Water and the local authority to co-ordinate simultaneous work programmes. </p>
<p>That co-ordination has meant that in addition to the gas works being completed on time, an extensive amount of extra work has also been carried out which otherwise would have presented considerable inconvenient to tunnel users. </p>
<p>Principal Engineer Alan Johnson, of TfL's Road Network Management Team, said: "By working so closely with these organisations, we've made the most of unavoidable closures of the tunnel.</p>
<p>"We're grateful to everyone involved, all of whom have worked quickly and effectively together throughout this period, enabling us to avoid 20 further night time closures of the tunnel for maintenance works. </p>
<p>"We'll always need some night time closures, but there will be far fewer this year."</p>
<p>Works carried out at the site in the last three weeks include: </p>
<ul>
<li>TfL maintenance work on the tunnel, accelerating the works programme by 10 weeks, including wall washing, cleaning of the drainage system and lighting repairs 
</li><li>Replacement of leaking gas mains by National Gride (Gas) 
</li><li>Ten days' work carried out by Thames Water, during which 108m of new main was laid 
</li><li>Three days of landscaping and maintenance work by the London Borough of Tower Hamlets, including tree pruning and shaping.</li></ul>
<p>The tunnel is scheduled to open by late afternoon.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The tunnel closed on 6 May so that works could be carried out at its entrance in Branch Road. Now, thanks to join-uped working between TfL, utilities companies and London Borough of Tower Hamlets, motorists can expect 20 fewer night closures of the";}
        
        


 