


@{ViewBag.Title = "Speed restrictions imposed on Tube network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Speed restrictions imposed on Tube network</h1>
        <div class="content-page-press-release">
        10 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Speed restrictions are again being imposed on various sections of the Tube network today. <BR>Check the realtime travel pages for the latest information
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a direct result of Metronet not carrying out routine work to cope with summer temperatures
                            
                        </p>
                    </div>
                
            
            
            <p>This is a direct result of Metronet Rail SSL not carrying out routine track work earlier this year to cope with summer temperatures. This is a standard rail industry activity to allow for expansion due to heat. </p>
<p>Twenty mph speed restrictions, to ensure safe running of trains, are currently in place on the east end of the District line and large sections of the Metropolitan line.</p>
<p>Howard Collins, LU Service Director said: "Increasing temperatures this afternoon has resulted in the imposition of speed restrictions on the District and Metropolitan lines. </p>
<p>"This will inevitably lead to delays for passengers. </p>
<p>"This is a direct result of Metronet not carrying out routine work to cope with summer temperatures. </p>
<p>"This is a standard rail industry activity to allow for expansion due to heat. Metronet are now undertaking work at weekends to seek to rectify the problem as soon as possible and London Underground has facilitated additional weekend access to assist them resolve this problem."</p>
<p>London Underground management is working with Metronet to rectify this latest series of failures, and to ensure London Underground does not experience continuing problems throughout the spring and summer.</p>
<p>Passengers should call 020 7222 1234 or check online at <a href="http://www.tfl.gov.uk/">www.tfl.gov.uk</a> for the latest information before travelling and allow extra time for their journeys.</p>
<p>Metronet Rail SSL is responsible for the renewal and maintenance of the Circle, District, Hammersmith & City, Metropolitan and East London lines. They are also responsible for the maintenance of the Piccadilly line between Baron's Court and Acton Town.<br></p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube as we work to Transform the Tube; and </li>
<li>Last week (Thursday May 4), Transport for London Commissioner, Peter Hendy, described this development as 'the latest in as a series of inexcusable failures by Metronet' and made an appeal to Metronet's shareholders - Atkins, Balfour Beatty, Bombardier Transportation, EDF Energy and Thames Water that their reputation was 'being severely damaged by their association with this shambles' and that should now 'step in and sort out this dreadful mess'.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is a direct result of Metronet Rail SSL not carrying out routine track work earlier this year to cope with summer temperatures. This is a standard rail industry activity to allow for expansion due to heat. Twenty mph speed restrictions, to ensure";}
        
        


 