


@{ViewBag.Title = "TfL and c2c deliver &pound;800,000 of safety and security improvements at East London stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL and c2c deliver &pound;800,000 of safety and security improvements at East London stations</h1>
        <div class="content-page-press-release">
        25 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A package of rail passenger safety and security enhancements was unveiled in East London today, with the opening of a new CCTV Control Centre at c2c's Barking station.
        
    </div>



 <div class="on-this-page">
<p>The new CCTV control centre was officially opened at 1130 am by the Mayor of Barking & Dagenham Cllr Dee Hunt, who was joined by six children from Ripple Junior School in Barking, Hugh Chaplain Head of Rail Franchising at TfL London Rail and Mark Hopwood Managing Director at c2c. </p>
<p>Jointly funded by TfL, as part of its &pound;10bn Investment Programme, and c2c, which also managed the project, the new improvements at Barking, Upminster, West Ham, Dagenham Dock, Rainham and Limehouse stations mark the delivery of a &pound;830,000 package of improved safety and security facilities for rail passengers. </p>
<p>These include: </p>
<ul>
<li>A new CCTV Control Centre at Barking which will be staffed 24 hours a day, 365 days a year by highly trained staff and will cover all six stations 
</li><li>New CCTV cameras at all six stations - to assist with both crime prevention and detection, so passengers feel safe using the stations 
</li><li>Installation of new Help Points with induction loops, providing immediate audio and visual links with the control centre at all six stations 
</li><li>Upgraded lighting at all six stations 
</li><li>Customer Information Systems (CIS) providing passengers with up to date train information at five stations 
</li><li>New waiting accommodation station featuring CCTV at Upminster</li></ul>
<p>Hugh Chaplain, Head of Rail Franchising at TfL London Rail, said: "Passenger safety and security is of paramount importance to TfL, as it is to c2c.</p>
<p>"Together we have developed this initiative to provide better safety and security improvements at stations, and encourage more passengers to use London's rail network. </p>
<p>"We're delighted that passengers using c2c such as the children who've joined us from Ripple Junior School today, can be reassured by the new safety and security facilities."</p>
<p>Mark Hopwood, Managing Director at c2c, said:"The completion of this project is of enormous significance to customers in reassuring them when on and about our premises. </p>
<p>"It also sends a powerful message from the providers of public transport that we are all working together to counter anti-social behaviour on our stations and services. </p>
<p>"The security programme complements c2c's own station improvements of last year and our position as the best performing train operator in the country. </p>
<p>"I am very grateful to TfL, whose District line services also call at Upminster, Barking and West Ham, for joining with us to fund and make this project possible."</p>
<p>The children representing Ripple Junior School at the event recently received a TfL Safety and Citizenship tour at Barking station and East Ham station. </p>
<p>This educates them about independent travel, before they move to secondary school. </p>
<p>This transport education service is available free of charge to all schools within Greater London area. <br></p>
            <ul>
<li>TfL is investing &pound;10bn over five years to help meet London's transport needs, now and in the future</li>
<li>4.7 million passengers use Barking station annually and 13 million passengers travel on the c2c route between Fenchurch Street station and Upminster every year </li>
<li>The CCTV covering West Ham station is monitored by the Jubilee Control Room at West Ham station itself </li>
<li>As part of its "Put passenger's first" policy, TfL is already helping train operating companies across London to upgrade stations and  is investing &pound;30m in delivering safety and security improvements on trains and at stations in the capital </li>
<li>This major joint investment by TfL and c2c, in security measures and follows c2c's own &pound;500,000 programme of improvements, completed last year at Barking station. This resulted in a staffed customer information point, ladies and gents toilets on the approach to the platform and a window in the booking office specially adapted for customers in wheelchairs who wish to buy tickets</li>
<li>In April, c2c broke its own record with 97.2 per cent of trains all day arriving on time for the four weeks ending 29 April, keeping c2c at the top of the nation's performance league</li>
<li>For further information on the school scheme please log onto <a href="http://www.tfl.gov.uk/citizenship">www.tfl.gov.uk/citizenship</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new CCTV control centre was officially opened at 1130 am by the Mayor of Barking & Dagenham Cllr Dee Hunt, who was joined by six children from Ripple Junior School in Barking, Hugh Chaplain Head of Rail Franchising at TfL London Rail and Mark Hopwood";}
        
        


 