


@{ViewBag.Title = "Transport for London announces Best Scientific Paper Award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London announces Best Scientific Paper Award</h1>
        <div class="content-page-press-release">
        31 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced a new award to be presented at the Intelligent Tranport Systems (ITS) World Congress 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The application of scientific research in a real-world context is key to Transport for London's overall strategy
                            
                        </p>
                    </div>
                
            
            
            <p> <!-- #EndEditable -->The TfL Best Scientific Paper Award is open to all papers published at the Congress, and will be presented to the author of the paper which best demonstrates the value of scientific research to the travelling public in terms of user benefit.</p>
<p>Key amongst the judging criteria is that the paper should clearly detail its subject matter from research phase through to application and demonstrate a quantifiable step forward for the ITS community. </p>
<p>Judges will be looking across all aspects of ITS for a complete vision of a future transport model that clearly identifies applicable research areas, in the context of public transport.</p>
<p>Martin Davey, Head of TfL's Technical Services Group and member of the ITS Host Country Steering Group, said: 'As a key exponent of Intelligent Transport Systems, TfL sees this as a great way to champion the future development of ITS. </p>
<p>'The application of scientific research in a real-world context is key to Transport for London's overall strategy and I am very pleased that we will be acknowledging such forward thinking with this award.'</p>
<p>The TfL Best Scientific Paper Award will be presented to the winning authors as part of the programme of awards at the ITS World Congress in October. </p>
<p>All scientific papers published at the Congress will be automatically entered for consideration.</p>
            <ul>
<li>The 13th World Congress &amp; Exhibition on Intelligent Transport Systems and Services (ITS World Congress) takes place in London, from 8-12 October 2006</li>
<li>The ITS World Congress is organised by ERTICO in co-operation with ITS United Kingdom, Department for Transport, Department of Trade and Industry and Transport for London.</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The TfL Best Scientific Paper Award is open to all papers published at the Congress, and will be presented to the author of the paper which best demonstrates the value of scientific research to the travelling public in terms of user";}
        
        


 