


@{ViewBag.Title = "Transport Secretary and Mayor of London announce new Oyster deal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Secretary and Mayor of London announce new Oyster deal</h1>
        <div class="content-page-press-release">
        10 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>This press release was originally issued by the Mayor of London's press office at the <a href="http://www.london.gov.uk">Greater London Authority</a>. </p>
<p>        
            
                        
            
            
            
            <p>A deal that will help London's rail passengers get the full 
benefit of Oyster cards and lay the foundations for a nationally accepted 
smartcard ticketing scheme has been struck. </p>
<p>The details of the announcement were set out by the new Transport Secretary, 
Douglas Alexander and London Mayor Ken Livingstone today. </p>
<p>Transport for London has agreed to pay for Oyster validation equipment to be 
provided for all London rail stations in Zones 1 - 6. </p>
<p>It is a significant breakthrough that offers train companies the opportunity 
to accept Oyster pay-as-you go products on their services.</p>
<p>Transport for London has also agreed to work with the Department for 
Transport to ensure that all Oyster equipment is capable of accepting other 
smart cards. </p>
<p>These are currently under development for use on public transport across the 
country by the Integrated Ticketing Smartcard Organisation (ITSO).</p>
<p>
<h2>Smart ticketing technology</h2>
<p>
<p>This is a further step towards the wider introduction of smart ticketing 
technology outside of London. </p>
<p>It will allow the development of fully integrated ticketing systems in and 
beyond the Capital, extending the convenience and ease of smartcard technology 
to millions more passengers. </p>
<p>It builds on the Government's decision to require bidders for the new South 
Western rail franchise to set out how a new smart ticketing system could be 
introduced across its franchise area from London to the South Coast. </p>
<p>Announcing the deal, Douglas Alexander the new Transport Secretary said: 
"This is a major step forward in ensuring that all passengers can benefit from 
the improvements new technology can bring. </p>
<p>"It lays the foundation for a national integrated ticketing scheme that will 
mean more flexible, quicker and simpler tickets for all public transport 
passengers." </p>
<p>
<h2>Integrated ticketing</h2>

<p>
<p>The Mayor for London Ken Livingstone said: "The extension of Oyster from just 
sixty rail stations to over three hundred under this agreement marks a massive 
step towards a fully integrated ticketing system in London, enabling passengers 
to move easily between rail, Tube, DLR, tram and bus using an Oyster card and 
without having to buy separate tickets. </p>
<p>"It will deliver a real improvement to the journeys of thousands of Londoners 
who currently cannot take advantage of the benefits of Oyster.</p>
<p>"This agreement between myself, the Secretary of State and Transport for 
London means Oyster card technology will be installed at National Rail stations, 
ensuring that passengers will now be able to take full advantage of Oyster, 
which can be topped-up conveniently, offers cheaper fares and speeds up 
journeys."</p>
<p>Peter Hendy, Transport for London Commissioner, said: "This plan will bring 
London's transport network one step closer to being properly integrated, as 
Transport for London's services have been for several years. </p>
<p>"It resolves the problem passengers currently face of having to buy two 
separate tickets to travel on overground rail and Transport for London services. 
This is an unprecedented opportunity to extend the convenience of Oyster to 
thousands more Londoners."</p>
<p>
<h2>Pay-as-you-go</h2>
<p>
<p>The introduction of Oyster technology could start this year at gated stations 
and once worked through with train operators, Oyster pay-as-you-go could be 
available at National Rail stations in London during 2008. </p>
<p>Currently there are only 60 London National Rail stations where passengers 
can use Pay-as-you-go. The total number of stations in London zones 1-6 is 310. 
</p>
<p>Transport for London introduced the Oyster card in 2003 to speed up passage 
through Tube gates and boarding buses. Oyster allows 40 people per minute to 
pass through gates, 15 more than those with magnetic stripe tickets.</p>
<p>Up 
            <ul>
<li>The agreement is between the Mayor, Transport for London and the Department for Transport</li>
<li>Transport for London has agreed provides Oyster Card validation equipment in all national rail stations zones 1-6. This will include smartcard readers, station equipment and back office support systems. The train operator must install the equipment, as well as operate and maintain it</li>
<li>The Department for Transport has agreed to fund for upgrades to existing Oyster equipment in London to make Oyster gates and validators on the Underground, at major rail termini and on the buses, accept basic alternative Smartcard (ITSO) products. The expected cost is around &pound;19m</li>
<li>Oyster was introduced in 2003 and there are currently 5 million in use. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This press release was originally issued by the Mayor of London's press office at the Greater London Authority. A deal that will help London's rail passengers get the full benefit of Oyster cards and lay the foundations for a nationally accepted smartcard";}
        
        


 