


@{ViewBag.Title = "Visit of The Sultans Elephant - advice to motorists";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Visit of The Sultans Elephant - advice to motorists</h1>
        <div class="content-page-press-release">
        04 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A weekend-long production by French theatrical company Royal de Luxe will be staged on the Capital's streets this weekend.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Road users are advised to keep up to date with the latest travel news via the TfL website
                            
                        </p>
                    </div>
                
            
            
            <p>From 2pm on Friday, May 5 to 5.30pm on Sunday, May 7, people in central London will be treated to a range of performances as part of the staging of The Sultan's Elephant.</p>
<p>Friday's events will start and finish in the St James's Park area, between 2pm and 7.45pm, having passed through the areas of Westminster, Kensington, Knightsbridge, Piccadilly and Holborn. </p>
<p>The performance will involve transport through the streets, although this should not delay traffic. </p>
<p>Throughout the weekend the performance will necessitate some short-term street closures. </p>
<p>Motorists are advised not to use routes in the Trafalgar Square, Piccadilly and Regent Street areas during the weekend, and that closures are likely in The Mall and Horse Guards Road. </p>
<p>Mobile performances will be taking place on Saturday, May 6, from 10am to 1pm, and 3.15pm to 6pm, as well as from 1pm to 3pm on Sunday, May 7. </p>
<p>Road users are advised to keep up to date with the latest travel news via the TfL <a href="http://www.tfl.gov.uk">website</a> or by calling the London Travel Information Centre on 020 7222 1234. </p>
<p>
<p>
            <ul>
<li>For more information on The Sultan's Elephant, contact Ben Chamberlain or Jill Cotton at Chamberlain AMPR on 020 7240 5220<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 2pm on Friday, May 5 to 5.30pm on Sunday, May 7, people in central London will be treated to a range of performances as part of the staging of The Sultan's Elephant.Friday's events will start and finish in the St James's Park area, between 2pm and";}
        
        


 