


@{ViewBag.Title = "Voice of the Buses told Youre hired!";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Voice of the Buses told Youre hired!</h1>
        <div class="content-page-press-release">
        18 May 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Radio presenter Emma Hignett has won the contract to become the Voice of London's buses after research showed 99 per cent of surveyed passengers thought she was right for the job.
        
    </div>



 <div class="on-this-page">
<p>Emma will now start recording over 30,000 announcements to 
include 'next stop' and 'alight here for' information on London's 700 bus 
routes. </p>
<p>Visual displays will back up the voice announcements, making travelling by 
bus much easier for everyone, from tourists and day-trippers to visually and 
hearing impaired passengers. </p>
<p>Bus users on test route 149 were able to hear Emma and view the displays for 
eight weeks in January and February. </p>
<p>Over 90 per cent of people surveyed said the new information improved their 
journey.</p>
<p>The audio visual scheme will roll out as part of a much bigger project called 
iBus, which will track every bus in London. </p>
<p>iBus will improve buses' reliability and give passengers better information 
in real time via Journey Planner, mobile text messaging, and Countdown (the 
"next bus" information at bus stops).</p>
<p>The next step is to put the finishing touches to the signage and 
announcements, taking on suggestions from people using the trial route. </p>
<p>The programme to fit out London's 90 bus garages and 8,000 buses ready for 
iBus will begin in January, and passengers will start to see and hear the 
changes from early summer 2007 as the project starts to roll out over all 700 
bus routes. </p>
<p>
<h2>State-of-the-art technology</h2>
<p>
<p>Emma Hignett, London's Voice of the Buses: 'I'm thrilled I'm going to be the 
voice that millions of bus passengers will trust each day to give them 
information about their journey. It would be great to think I might soon be as 
much a part of London as 'Mind The Gap"'. </p>
<p>Martin Davey, iBus Project Director, Transport for London, said: "There's 
been an incredibly positive response to the trial, from regular passengers and 
new bus users, including those with disabilities. We are very grateful to 
everyone who responded to the trial - taking that feedback on board, we can move 
towards building the best product possible for our customers."</p>
            <ul>
<li>Researchers surveyed regular and new passengers on route 149 (operated by Arriva from Ponders End to London Bridge) and gathered feedback from focus-groups of people with specific concerns. These included those who don't speak English as their first language, and people with visual or hearing impairments. For more information about the passenger research undertaken by Synovate visit <a href="http://www.tfl.gov.uk/ibus">www.tfl.gov.uk/ibus</a></li>
<li>Londoners may have heard Emma Hignett on Capital Gold, (2003-2004) and Jazz FM (1996-1998). She has also been a weathergirl in Wales and a radio co-host with Jerry Springer. She currently works for The Local Radio Company as a radio presenter at Darlington's Alpha FM</li>
<li>iBus uses a combination of technologies, including satellite tracking and GPRS data transfer, which will be able to continually pinpoint all of the city's 8,000 buses and relay information to the driver, garage, and the central control point, CentreComm. The precision of the information means that buses along each route can be more evenly spaced, and predictions on each bus stop display will be more accurate</li>
<li>The infrastructure behind iBus will be supplied by Siemens, as part of a ten-year contract awarded in April 2005</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Emma will now start recording over 30,000 announcements to include 'next stop' and 'alight here for' information on London's 700 bus routes. Visual displays will back up the voice announcements, making travelling by bus much easier for everyone, from";}
        
        


 