
    
  



@{ViewBag.Title = "Borrowing programme documents";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/borrowing-program/borrowing-programme-documents";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
                 <li><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></li>
                
            
            
                <li><span class="last-breadcrumb">Borrowing programme documents</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Borrowing programme documents</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have two public market borrowing programmes: a Medium Term Note (MTN) Programme and a Commercial Paper (CP) Programme. You can download the documents related to these programmes if you comply with these terms.
        
      </div>
    
    
      <h2>Important notice</h2>

<p><strong>Not for distribution to any U.S person or to any person or address in the U.S.</strong></p>

<p>IMPORTANT: You must read our Terms before continuing. They apply to the documents at the bottom of this page - read the Terms carefully before reading, accessing or making any other use of the documents. In accessing the documents, you agree to be bound by these terms and conditions, including any modifications to them, any time you receive any information from us as a result of such access.</p>

<p>The information contained on the following pages of the website is restricted and is not for release, publication or distribution in or into the United States ("U.S.") or any other jurisdiction where the communication of such information is restricted by law.</p>

<p>None of the information contained in the following pages of the website constitutes an offer of, or an invitation to purchase, any security, nor any investment advice or services. These materials are provided for information purposes only.</p>

<p>The debt and other securities referred to on the following pages of the website have not been nor will they be registered under the U.S. Securities Act of 1933, as amended (the "Securities Act"), or with any securities regulatory authority of any state or other jurisdiction of the United States and may not be offered, sold or delivered within the United States or to, or for the account or benefit of, U.S. persons (as defined in Regulation S under the Securities Act) except pursuant to an exemption from, or in a transaction not subject to, the registration requirements of the Securities Act and applicable state securities laws. There will be no public offering of the securities referred to on the following pages of the website in the United States.</p>

<p>In addition, certain of the securities referred to on the following pages of the website are in bearer form and are subject to U.S. tax law requirements and may not be offered, sold, or delivered within the United States or its possessions or to a United States person, except in certain transactions permitted by United States tax regulations. Terms used in this paragraph have the meanings given to them by the U.S. Internal Revenue Code of 1986, as amended.</p>

<p>The following pages of the website are not addressed to, or intended for use by: (i) U.S. persons, persons located in the United States or residents of the United States or (ii) persons in any other jurisdictions where the communication or receipt of such information is restricted in such a way that provides that such persons cannot receive it. In particular, such persons or persons acting for the benefit of any such persons are not permitted to visit the following pages of the website. None of the information contained on the pages that follow nor any copy thereof may be taken or transmitted in or into, or distributed, whether directly or indirectly, in or into, the United States or any other jurisdiction as described above. Failure to comply with this may result in a violation of U.S. law, including the Securities Act, or the law of another jurisdiction.</p>

<p>By visiting the following pages of the website, you confirm that you have understood the above sentences and agree to comply with the restrictions and that (i) you are not a U.S. person, not located in the United States and not a resident of the United States, (ii) otherwise you are not a person to whom the communication of the information contained on the website is restricted; and (iii) you are not acting for the benefit of any such person. By accessing the following documents you confirm that you have read and agree to be bound by these terms.</p>

<p>In addition you agree you are a person whose ordinary activities involve them in acquiring, holding, managing or disposing of investments (as principal or agent) for the purposes of its business.</p>
      
           
      
<div>



<h2>MTN Programme</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mtn-programme-prospectus.pdf">
    <div class="document-download-text">
        <p>MTN Programme Prospectus - July 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-supplement-1-to-the-base-prospectus-dated-12-july-2019.pdf">
    <div class="document-download-text">
        <p>MTN Prospectus Supplement 1 - August 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-supplement-2-to-the-base-prospectus-dated-12-july-2019.pdf">
    <div class="document-download-text">
        <p>MTN Prospectus Supplement 2 - January 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 246KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 
</div>

</div>
 
<div>



<h2>CP Programme</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cp-programme-information-memorandum.pdf">
    <div class="document-download-text">
        <p>CP Programme Information Memorandum - July 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 418KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/investors/borrowing-program/borrowing-programme-documents">Borrowing programme documents</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "You must read and abide by the terms and conditions before downloading our public market borrowing programme documents";}
        
            
        


 