


@{ViewBag.Title = "GLA - Tunnelling for Northern Line Extension to begin";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Tunnelling for Northern Line Extension to begin</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Tunnelling for Northern Line Extension to begin</h1>
        <div class="content-page-press-release">
        20 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two new 3.2km tunnels will be created as the Northern line is extended to Battersea, via Nine Elms
        
    </div>



 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/nle-tunnelling-to-start-in-march">here</a></strong></em></span></p>
<ul>
    <li>The extension &#45; set for completion in 2020 &#45; is the first major Tube line extension since the Jubilee line in the late 1990s</li>
    <li>Two 650-tonne tunnel boring machines, named Helen and Amy, are undergoing final testing</li>
</ul>
<p>The Mayor of London has announced that tunnelling to create an extension of the Northern line between Kennington and Battersea will begin in March.</p>
<p>Sadiq Khan confirmed news of tunnelling for the first major Tube line extension since the 1990s as two gigantic tunnel boring machines were unveiled in Battersea. The two 650-tonne machines, each the length of a football pitch, will create two 3.2km underground tunnels to extend the Charing Cross branch of the Northern line from Kennington to Battersea, via Nine Elms.</p>
<p>According to tunnelling tradition, the machines cannot start work until given a name and, following a vote by local school children, the machines are being named Helen and Amy in honour of the first British astronaut, Helen Sharman, and British aviation pioneer Amy Johnson, who was the first female pilot to fly solo from Britain to Australia.</p>
<p>The Northern Line Extension will enable the regeneration of the Vauxhall, Nine Elms and Battersea areas, spurring economic growth by supporting around 25,000 new jobs and more than 20,000 new homes. Construction is also boosting the UK economy, supporting around 1,000 jobs, including around 50 apprenticeships. As well as two new tunnels, two new stations are being created: one at the heart of the Battersea Power Station redevelopment and another at Nine Elms to the east, serving new developments such as the US Embassy and the redevelopment of New Covent Garden Market, as well as existing communities.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>It's great news that we are going to begin tunnelling for the Northern Line Extension.  Extending the line to Nine Elms and Battersea is going to be a real boost to south London, with the improved transport link helping to provide thousands of homes and jobs 'for Londoners. I'm also delighted that local schoolchildren have chosen two such inspirational British women as the names for these tunnelling machines.'</p>
<p>The machines will tunnel at depths of 26 metres for six months, excavating more than 300,000 tonnes of earth. This will then be passed along conveyors before being loaded on to barges and taken to Goshems Farm in East Tilbury, Essex, where it will be used to create arable farmland. This will remove more than 40,000 lorry journeys from the Capital's roads, reducing congestion and significantly reducing the site's carbon footprint.</p>
<p>Mark Wild, Managing Director of London Underground, said: </p>
<p>'This is a historic moment for London Underground as we prepare to start tunnelling to create the first extension to our iconic Tube network for nearly two decades. The Northern Line Extension will bring Battersea and surrounding areas to within 15 minutes of the West End and City. It will also help us to support jobs, homes and growth in this part of south London, help keep pace with the Capital's rapidly rising population, and is creating jobs through the supply chain across the UK.'</p>
<p>Ravi Govindia, leader of Wandsworth Council, said: </p>
<p>'This Tube extension is already transforming the fortunes of north Battersea and it's a great pleasure to see these two colossal machines are here and ready to start work. The Nine Elms regeneration programme is one of the greatest sources of new jobs and homes in the country and this would not be possible without the Tube link.'</p>
<p>Rob Tincknell, CEO of Battersea Power Station said: </p>
<p>'This new Tube line paves the way for over 200 hectares of former industrial land to be transformed into a place for shops, offices, restaurants, homes and public parkland. These vast new tunnelling machines will put the City and West End within 15 minutes of what will be one of London's most iconic new neighbourhoods.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The two tunnel boring machines were built by NFM Technologies in Le Creusot in central France. They were shipped to London earlier this year and reassembled in Battersea. Each tunnel boring machine has a rotating cutterhead at the front which is pressed against the tunnel face by hydraulic cylinders. A series of trailers behind house all the mechanical and electrical equipment and a conveyor belt removes the earth.</li>
    <li>The machines will undertake two individual tunnel drives at depths of up to 26 metres to construct the 5.2 metre diameter east and westbound tunnels. Each machine is capable of tunnelling up to 30 metres per day with teams of around 50 people needed to operate them.  The work is expected to take around six months to complete. As they advance forward, nearly 20,000 pre-cast concrete segments will be built in rings behind them.</li>
    <li>The full cost of the Northern Line Extension is expected to be up to &pound;1.2bn, of which &pound;1bn is funded by the private sector through a package agreed between Battersea Power Station, Wandsworth Council, Lambeth Council, the Mayor of London and Government. This includes the creation of an Enterprise Zone from 2016 for a period of 25 years. For more details visit <a href="http://www.tfl.gov.uk/travel-information/improvements-and-projects/northern-line-extension">http://www.tfl.gov.uk/travel-information/improvements-and-projects/northern-line-extension</a></li>
    <li>The Northern Line Extension will excavate around 680,000 tonnes of material in total over the lifetime of the project during the construction of stations and the 6.4kms of new tunnels. Ninety two per cent of the excavated material will be carried by river and is expected to be clean, uncontaminated and reusable elsewhere.</li>
    <li>In 2014 TfL awarded the contract to design and build the Northern Line Extension to Ferrovial Agroman Laing O'Rourke.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-GLA - Tunnelling for Northern Line Extension to begin -->

 
 
        
        
            @{ViewBag.Description = "Tunnelling for the Northern Line Extension to begin in March";}
        
        


 