


@{ViewBag.Title = "GLA - Mayor announces 10 new Low Emission Bus Zones";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor announces 10 new Low Emission Bus Zones</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor announces 10 new Low Emission Bus Zones</h1>
        <div class="content-page-press-release">
        06 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Harmful bus emissions across routes to be cut by 84 per cent
        
    </div>



 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-announces-10-new-low-emission-bus-zones">here</a></strong></em></span></p>
<ul>
    <li>Brings total number of Low Emission Zones planned for London to 12</li>
    <li>Thousands of school children to benefit with 172 schools located within 100 metres of the new zones</li>
    <li>&pound;50m to be invested in Bus Priority Schemes across London to reduce engine idling</li>
</ul>
<p>The Mayor of London, Sadiq Khan, today announced plans for 10 more Low Emission Bus Zones deploying the greenest buses on the capital's most polluted routes to cut harmful nitrogen oxide (NOx) emissions.</p>
<p>The buses are part of the Mayor's hard-hitting measures to tackle London's filthy air &#45; responsible for the premature deaths of more than 9,000 Londoners every year &#45; with major plans set to be implemented in 2017 to tackle the dirtiest vehicles.</p>
<p>The new routes include Edmonton, Stratford and Haringey, bringing the total number of Low Emission Zones planned to 12, including the previously announced zones in Putney High Street and Brixton.</p>
<p>The Mayor has targeted air quality hotspots where people are exposed to some of the highest levels of nitrogen dioxide (NO2) pollution and where older buses contribute significantly to road transport emissions.</p>
<p>Thousands of school children will benefit from the introduction of the Low Emission Bus Zones, with 172 schools located within 100 metres of the new zones.  In addition, the benefits of operating the greenest buses will be felt more widely across the capital as the buses operate the full length of their routes.</p>
<p>The new greener buses, which will be a combination of hybrid and clean buses that meet Euro VI standards, are part of an improvement programme to 3,000 buses outside central London.</p>
<p>The zones are expected to reduce NOx emissions from buses along the routes by around 84 per cent and will fulfil the Mayor's manifesto commitment to introduce Low Emission Bus Zones by 2020.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'Tackling London's filthy air is one of my main priorities and I am delighted to be delivering on that commitment by introducing these new Low Emission Bus Zones. Removing the oldest, dirtiest buses from our streets and delivering Low Emission Bus Zones will make a big contribution to tackling transport pollution.</p>
<p>'Safeguarding the health of Londoners is vital and I'm doing everything in my power both to transform London's bus fleet and to target areas with the worst pollution.</p>
<p>'I want other cities around the world to work with me on demanding cleaner bus technology and I urge our government to take their responsibility seriously and introduce a national diesel scrappage scheme to deliver the step change we need on the dirtiest diesel vehicles.'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
<p>'These Zones will not only help improve health and air quality in the local areas, but will also help make those areas more pleasant places to be and encourage greater numbers of people to walk or cycle. By using bus priority measures we will also make bus journeys quicker and more reliable for our customers.'</p>
<p>The locations of the 12 Low Emission Bus Zones are:</p>
<ul>
    <li>Putney High Street &#45; from Putney Station to Putney Bridge Road</li>
    <li>Brixton to Streatham &#45; from Brixton Hill via Stockwell Road and Streatham High Road to Streatham Place</li>
    <li>A12 Eastern Avenue &#45; from Blake Hall Road via High Road Leyton and Homerton High Street to Marsh Hill</li>
    <li>Lewisham to Catford &#45; from Bromley Road via Rushey Green to Lewisham High Street</li>
    <li>Stratford &#45; from Abbey Lane via Mile End Road to Woodgrange Road</li>
    <li>Haringey &#45; from High Road to Green Lanes</li>
    <li>Camberwell to New Cross &#45; from Blackheath Road via Camberwell Green and Peckham High Street to Wood's Road</li>
    <li>Wandsworth to St John's Hill &#45; from Lavender Hill to Wandsworth Road</li>
    <li>Edgware Road (Kilburn to Maida Vale) &#45; from Cricklewood Broadway via Kilburn High Road to Shoot-Up Hill</li>
    <li>Edmonton to Seven Sisters &#45; from Amhurst Park via Green Lanes and Seven Sisters Road to The Broadway</li>
    <li>Uxbridge Road to Shepherds Bush &#45; from Ealing Broadway via Hanger Lane to Uxbridge Road, The Broadway</li>
    <li>Chiswick High Road to Kensington &#45; via Hammersmith Broadway and Kensington High Street to Studland Street.</li>
</ul>
<p>The Putney High Street zone will be delivered in March 2017 and the route between Brixton and Streatham is set for October 2017.The Putney route will involve the exclusive use of only hybrid electric buses or those with top-of-the-range engines and exhaust systems that meet or exceed the highest (Euro VI) emissions standards. The other new 10 new routes will be delivered by 2020.</p>
<p>The Low Emission Bus Zones will utilise a number of 'Bus Priority Schemes' that ensure buses have priority over other traffic and are able to keep moving, cutting idling emissions and speed up journey times for passengers.  The TfL Business Plan, published at the end of last year, includes a &pound;50m fund to be invested in bus priority schemes, helping attract more people back on to the bus network, and tackling pollution and road congestion.</p>
<p>Councillor Julian Bell, leader of Ealing Council, said: </p>
<p>'Air quality is a huge issue for Londoners, which has a real impact on people's health. I'm sure we're all sick of putting up with pollution from traffic so I'm delighted that these low emission bus corridors are being extended across the capital, including Uxbridge Road, one of west London's busiest and most polluted routes. I know residents in Ealing, particularly cyclists and pedestrians, will be as pleased as I am to see some real action on this important issue.'</p>
<p>Councillor Tim Coleridge, the Royal Borough of Kensington and Chelsea's Cabinet Member for Transport, said: </p>
<p>'We have been asking the Mayor and TfL to clean up the bus fleet in the Royal Borough, and this announcement is excellent news for Kensington. I look forward to seeing a real reduction in emission levels soon.'</p>
<p>Councillor Heather Acton, Westminster City Council's Cabinet Member for Sustainability and Parking, said: </p>
<p>'We welcome TfL's announcement for a green bus corridor along Edgware Road. This contributes to the many steps needed to combat poor air quality in London and complements Westminster's own ambitious plans to reduce emissions in the borough. Edgware Road borders the Low Emission Neighbourhood in Marylebone, where we are trialling innovative steps to help towards a greener city and this is a valuable addition.'</p>
<p>Tompion Platt, Head of Policy at Living Streets, the UK charity for everyday walking, said: </p>
<p>'It's encouraging to see the Mayor taking action to improve air quality on some of London's busiest high streets, where thousands of people walking are exposed to dangerous fumes every day. These measures, combined with those encouraging more people to swap their car for walking and cycling to their high streets, will help improve the health of everyone living, working and shopping in London.'</p>
<p>Areeba Hamid, clean air campaigner, Greenpeace, said: </p>
<p>'These are welcome initiatives that show the Mayor is serious about his intentions to clean up our air, and protect Londoners from the harmful effects of air pollution. We're hoping national government will take a leaf out of London's book and provide plans and resources so other cities can also tackle air pollution to protect everyone's health.'</p>
<p>Low Emission Bus Zones are one of a number of measures the Mayor has asked TfL to take to reduce emissions from the capital's bus fleet, including the phasing out of diesel only buses and a commitment to purchase only hybrid or zero emission double deck buses from 2018.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>1.The Mayor launched his plans to clean up London's filthy air last summer and his first public initial consultation attracted a record 15,000 responses. His second consultation closed on December 18 2016 on the package of measures below. A final consultation and decision on the emissions surcharge (&quot;T-charge&quot;) are due over the next few months:</li>
</ul>
<ul>
    <li>Introducing the Ultra-Low Emission Zone in 2019, a year ahead of schedule and extending it up to the North and South Circular in 2019 or later.</li>
    <li>Introducing an Emissions Surcharge for older polluting vehicles entering the Congestion Charge zone in October 2017. This charge would be in addition to the Congestion Charge and would apply to vehicles that do not meet the Euro 4 emissions standard for NOx and PM emissions. Pre-Euro 4 vehicles are generally those registered up to and including 2005. The charge, costing &pound;10 per day for non-compliant vehicles, would operate at the same times as the Congestion Charge (Monday to Friday, 07:00 &#45; 18:00).</li>
</ul>
<ul>
    <li>The Mayor has also called on the Government to put in place a national diesel scrappage scheme to help people replace vehicles affected by the proposals. There was overwhelming support for this in the first round of his consultation. He also wants fiscal incentives, like vehicle excise duty, to be reformed so they support the Mayor's proposals and encourage people to own and use the cleanest vehicles. The Mayor has also requested additional powers so he can tackle 'non road' sources of pollution including from construction and the river.</li>
    <li>To further support the ULEZ, Transport for London is leading by example and will ensure all double-decker buses operating in the ULEZ will be hybrid and all single-decker buses will be fully electric or hydrogen.</li>
    <li>There are two pollutants of particular concern in London: particulate matter (PM) and nitrogen dioxide (NO2). Nitrogen oxides (NOx) are produced when fuel is combusted in an engine in the presence of air. NOx comprises a mixture of nitric oxide (NO) and NO2. NO is not harmful to health at the concentrations typically found in the atmosphere. However, in contrast, NO2 is associated with a range of environmental and health problems. The Government's action plan includes meeting NO2 legal limits in London by 2025. The Mayor wants to use the package of measures agreed following the consultation to ensure we can achieve this long before 2025.</li>
    <li>TfL also committed to meeting the ULEZ standards for double deck buses a year earlier than previously planned, so that the 3,100 double-deck buses operating in the central zone will be Euro VI hybrid in 2019.  All 300 single deck buses operating in central London will be zero emission at tailpipe by 2020.</li>
    <li>Almost 10,000 Londoners die prematurely each year, because of polluted air (<a href="https://www.scribd.com/doc/271641490/King-s-College-London-report-on-mortality-burden-of-NO2-and-PM2-5-in-London">https://www.scribd.com/doc/271641490/King-s-College-London-report-on-mortality-burden-of-NO2-and-PM2-5-in-London</a>).</li>
    <li>Further additional Low Emission Bus Zones will be considered across the capital in the future if they are deemed appropriate.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-GLA - Mayor announces 10 new Low Emission Bus Zones -->

 
 
        
        
            @{ViewBag.Description = "Sadiq Khan announces 10 new Low Emission Bus Zones to tackle toxic air";}
        
        


 