


@{ViewBag.Title = "GLA - New funding to improve air quality across London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - New funding to improve air quality across London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - New funding to improve air quality across London</h1>
        <div class="content-page-press-release">
        20 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Six innovative schemes, spanning nine boroughs will directly tackle London's air pollution emergency, acting as a testbed for future technology that could be rolled out across the UK
        
    </div>



 <div class="on-this-page">
<p><strong><em><span style="text-decoration: underline;">This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/new-funding-for-london-neighbourhoods">here</a></span></em></strong></p>
<ul>
    <li>&pound;2.5m funding awarded overall includes support for Ultra Low Emission Vehicles (ULEVs) and electric charging infrastructure, encouraging Londoners and businesses to 'go green'.</li>
</ul>
<p>The Mayor of London and Transport for London (TfL) have today announced &pound;1.4m funding for six innovative 'Neighbourhoods of the Future', that will combine innovative green technology and other initiatives to tackle London's air quality emergency directly at a local level. The funding will be matched by &pound;1.1m from the London boroughs involved and Heathrow airport, and shows the ongoing commitment of the Mayor, TfL and London Councils to work closely with local communities to improve the quality of London's air.</p>
<p>The 'Neighbourhoods of the Future' will help to break down the barriers preventing people from buying Ultra-Low emission vehicles (ULEVs) and ease the transition for communities wanting to move to greener lifestyles. The schemes include a zero emission zone, 'electric streets' that have a high concentration of electric vehicle charge points, and the trial of game-changing technology like an ultra-low emission HGV.</p>
<p>Following bids from the local areas involved, the six 'Neighbourhoods of the Future' are:</p>
<ul>
    <li>Hammersmith &amp; Fulham &#45; A zero emission zone is proposed for Hammersmith town centre, including standard and rapid charge points for electric vehicles, as well as improvements to public space and other innovations such as sustainable urban drainage. (&pound;210,000 overall funding)</li>
    <li>Heathrow &#45; A trial of one of the UK's first hydrogen-diesel powered vans will take place at Heathrow airport's delivery consolidation centre, supporting the reduction of emissions from its day-to-day operations. (&pound;130,000 overall funding)</li>
    <li>City Fringe (Hackney, Islington and Tower Hamlets) &#45; 'Electric streets' will be created &#45; with a concentration of charging points and electric vehicle-only parking and loading points. (&pound;1,198,000 overall funding)</li>
    <li>Harrow &#45; Mechanics will be specially trained to service Ultra-Low emission vehicles (ULEVs). Electric Vehicle (EV) charging points will be installed in Harrow town centre, and local businesses will trial the use of EV fleets. (&pound;230,000 overall funding)</li>
    <li>Haringey &#45; Clean energy charging schemes will be trialled, including a rapid charging taxi rank, in addition to specialist business and community engagement to drive awareness of green technology and encourage behaviour change. (&pound;609,000 overall funding)</li>
    <li>Croydon &amp; Sutton &#45; Electric vans and trucks will be loaned to businesses in the Beddington Industrial Area, to reduce pollution caused by the high levels of construction in Croydon town centre. (&pound;123,306 overall funding)</li>
</ul>
<p >Shirley Rodrigues, deputy mayor for environment and energy said:</p>
<p>'Tackling London's poor air quality is a public health emergency that requires bold action at all levels of Government. These six innovative schemes will play a direct role cleaning the up toxic air in neighbourhoods across London, and could lead the way for similar schemes across the UK.</p>
<p>'It's only by working closely with councils, businesses and local communities across London that we can fulfil our ambition of being a world leader in tackling the air pollution crisis.'</p>
<p>Transport Minister John Hayes said: </p>
<p>'We are determined to drive the take-up of low emission vehicles to improve London air quality and boost quality of life.</p>
<p>'We are investing nearly &pound;600m in this Parliament to encourage people to switch to greener vehicles, including &pound;13 million to encourage Londoners to go electric. The Neighbourhoods of the Future scheme will further help cut harmful emissions in the capital.'</p>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee and the Go Ultra Low City Scheme Steering Group, said:</p>
<p>'These projects showcase the diverse and innovative work that London boroughs are doing to promote electric vehicle use and improve air quality. They also contribute to the overall Go Ultra Low Cities Scheme to implement charging infrastructure across the capital. It is great to see London boroughs working with the Mayor and TfL to test exciting new policies that could be rolled-out nationwide.'</p>
<p>Ben Plowden, TfL's Director of Surface Strategy and Planning, said: </p>
<p>'The excellent bids we received from the boroughs are full of creativity and demonstrate London is beating a path towards a cleaner future that others will follow.  These Neighbourhoods of the Future will act as a springboard for these areas to rise to the huge challenge of cleaning up the Capital's toxic air.'</p>
<p>Cllr Claudia Webbe, Islington Council's Executive Member for Environment and Transport, said: </p>
<p>'Air quality in Islington is a huge issue, and we're proud to be part of pioneering this initiative to improve the air we all share.  'Electric streets' are an innovative idea to encourage the use of electric vehicles, which produce zero emissions.  We're delighted with this funding and will work closely with residents, communities and the neighbouring boroughs of Hackney and Tower Hamlets to create our first 'electric street'.'</p>
<p>Matt Gorman, Heathrow's Sustainability and Environment Director, said: </p>
<p>'Heathrow is proud to be part of this innovative trial; It is the first of its kind at an airport in the UK and just one of the ways we are supporting the latest ultra-low emission vehicle technology. We've hosted the UK's first publicly accessible hydrogen filling station since 2012 and we set up the Heathrow Consolidation Centre over 15 years ago to consolidate retail deliveries, reducing miles and saving emissions. This trail demonstrates how we can use the latest technology to  tackle local air quality issues, reduce carbon and be a better neighbour.'</p>
<p>John Biggs, Mayor of Tower Hamlets, said: </p>
<p>'Improving air quality is a key priority of mine and I am delighted that the City Fringe has been awarded funding as a Neighbourhood of the Future. It's yet another highlight of the successful partnership working we are undertaking with Islington and Hackney. The introduction of electric streets will make it easier for those who own electric vehicles to park and charge them. I'm confident the scheme will encourage more residents to invest in environmentally friendly ways of getting around and do their bit to help clean up our borough's air.'</p>
<p>Poppy Welch, Head of Go Ultra Low, said: </p>
<p>'It's great to see these plans come to fruition. The capital has seen huge growth in the number of electric vehicles on its roads and these initiatives will only go further to support not only current owners, but also  encourage others to make the switch. As well as improving local air quality, electric vehicles boast low running costs and are currently exempt from vehicle excise duty and the London Congestion Charge. I look forward to seeing how these initiatives are introduced over the coming months.'</p>
<p>Cllr Jill Whitehead, Chair of the Environment and Neighbourhood Committee at Sutton Council, said: </p>
<p>'Air pollution is a serious issue that affects communities across London. Redevelopment and construction projects in Sutton can have a temporary effect on pollution levels. To help alleviate this impact we are pleased to be able to loan electric vehicles to businesses in the Beddington Industrial Area, thanks to our successful TfL Neighbourhoods of the Future bid.'</p>
<p>Cllr Feryal Demirci, Hackney Council's Cabinet Member for Neighbourhoods, Transport and Parks: </p>
<p>'We'll only reduce pollution if boroughs work together, so we're delighted to receive funding to build on our work with Islington and Tower Hamlets to improve air quality around Shoreditch and the City Fringe. We want to transform  the area into an example of everything that London should be striving for, with people friendly streets, prioritising low emissions transport and most importantly, clean air.'</p>
<p>The aim of the 'Neighbourhoods of the Future' schemes are to give Londoners the confidence to make the switch to more environmentally friendly vehicles, to work with businesses to bring new technology to market faster, and to test technology that reduces pollution and could be used elsewhere in the Capital and across the UK.</p>
<p>The 'Neighbourhoods of the Future' are being introduced at a range of sites that are representative of similar sites elsewhere London and nationally, such as town centres, out-of-town industrial zones, international transport hubs and regeneration schemes.</p>
<p>'Neighbourhoods of the Future' forms a part of the London's &pound;13 million Go Ultra Low Cities scheme, the Government-funded drive to encourage the switch to electric cars and vans.</p>
<p>Today's announcement follows the Mayor's pledge to invest &pound;875m in action to improve the quality of the Capital's air through to 2021/22, more than double the &pound;425m committed by the previous mayor. The majority of this funding will be ploughed into extending the world's first Ultra Low Emission Zone, greening the Capital's bus fleet, and introducing an Emissions Surcharge (popularly known as the 'T-Charge').</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-GLA - New funding to improve air quality across London -->

 
 
        
        
            @{ViewBag.Description = "New funding announced to improve air quality across London neighbourhoods";}
        
        


 