


@{ViewBag.Title = "New ticket hall and entrance open at Victoria Station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New ticket hall and entrance open at Victoria Station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New ticket hall and entrance open at Victoria Station</h1>
        <div class="content-page-press-release">
        17 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Major milestone in Victoria Station upgrade as new North ticket hall leads directly from street level to Victoria line
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It marks a significant step forward in a modernisation programme that will make journeys through this vital hub easier and more accessible for all"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Journeys through Victoria Underground station are set to become easier as a new North ticket hall, a key part of the &pound;700m project to upgrade Victoria Tube station, has opened. A new entrance on Victoria Street, at the junction of Bressenden Place, near Cardinal Place, is now open and leads to the ticket hall and Victoria line. ‎The entrance means that customers can now easily exit the station onto Victoria Street without having to cross the series of busy road junctions outside the station.</p>
<p>Victoria, the fourth busiest Tube station, currently serves more than 82 million customer journeys each year, linking major rail routes to the south of London with the Victoria, District and Circle lines.  The modernisation of the station, which is being done in stages and will finish in 2018, will double the size of the station, ease congestion for customers and provide, for the first time, step-free access.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'The opening of the new North ticket hall at Victoria is great news for the tens of millions of Londoners and tourists who pass through the station each year.  It marks a significant step forward in a modernisation programme that will make journeys through this vital hub easier and more accessible for all.'</p>
<p>Mark Wild, Managing Director of London Underground, said: </p>
<p>'Opening the new entrance to Victoria is a huge step in the station's modernisation project, and will make journeys easier for many thousands of customers every day. Once completed, the new station will enable quicker journeys, allow people to move around more easily and make the station more accessible for everyone.'</p>
<p>The tunnels connecting the North ticket hall to the District and Circle lines will open in summer 2017.</p>
<p>The station will then become step-free in early 2018, enabling customers with accessibility needs to access the Victoria line, connecting with other mainline stations like King's Cross, St. Pancras, Vauxhall and Tottenham Hale, as well as central London via Green Park station.  Similarly, the District and Circle lines will connect with Earl's Court, Westminster and Hammersmith.</p>
<p>The final part of the station to be completed, the expanded South ticket hall, will open in 2018. Once completed, the station will feature eight new lifts, nine new escalators and 20 new ticket gates and be double the size of the original station before work began in 2009.</p>
<p>Ruth Duston, Chief Executive Officer at Victoria BID, said: </p>
<p>'On behalf of local business, we are delighted the first phase of the Victoria Station upgrade has opened. It means safer and easier access to Victoria Street and the surrounding area for the 82 million customers that pass through every year.</p>
<p>'We're pleased the Underground station is being modernised, joining the rest of Victoria, which is undergoing rapid transformation.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>To find out more about the Victoria Station upgrade, please visit <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/victoria">https://tfl.gov.uk/travel-information/improvements-and-projects/victoria</a></li>
    <li>Photos of the Cardinal Place entrance and North Ticket Hall are available here <a href="https://www.flickr.com/photos/tflpress/albums/72157679159405666">https://www.flickr.com/photos/tflpress/albums/72157679159405666</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-New ticket hall and entrance open at Victoria Station -->

 
 
        
        
            @{ViewBag.Description = "Major milestone in Victoria Station upgrade project as new ticket hall and entrance open";}
        
        


 