


@{ViewBag.Title = "TfL and London boroughs prepared for wintry weather";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and London boroughs prepared for wintry weather</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and London boroughs prepared for wintry weather</h1>
        <div class="content-page-press-release">
        11 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL), the 32 London boroughs and the City of London are reassuring people that London will keep moving in the event of wintry weather later this week.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our staff work hard throughout the winter gritting the roads, de-icing the rails and keeping platforms safe and accessible for the travelling public"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>Although there hasn't been significant snow falls for three winters now, TfL and London Councils develop coordinated plans every year, alongside the emergency services, to keep the rail and road networks open and running in case of any severe weather. This includes key arterial roads, cycle routes and footways around bus and railway stations, hospitals and police, fire and ambulance stations across London.</p>
<p>More than 100,000 tonnes of salt are stockpiled &#45; enough to last for up to 139 days' worth of ice &#45; and are stored at key locations across the Capital for quick and easy access.</p>
<p>TfL is responsible for the treatment of all of London's Red Routes, a network of 580km of key roads, and has a fleet of 39 road gritters, all of which are low emission and can be fitted with ploughs, as well as gritting quad bikes and flatbed trucks to keep the roads and pavements clear. TfL and London's boroughs will also ensure that the Cycle Superhighways and other cycling routes remain safe to use during the winter months. TfL also holds an additional pan-London Strategic Salt Reserve of 27,000 tonnes. It has not been needed during the past five winters, but is available for both TfL and the boroughs to use should supplies become low.</p>
<p>Across London, all transport agencies will be working around the clock to minimise disruption on the Tube, bus, rail and road networks during freezing conditions. On London Underground there are well rehearsed plans that include running de-icing trains overnight, keeping tracks as clear as possible, gritting platforms to keep them safe for customers, and key points &#45; the mechanical parts that operate junctions on the network &#45; are heated and regularly checked.</p>
<p>On the DLR, points heaters are also in operation and teams of staff are ready to grit station platforms. On London Overground, trains in passenger service fitted with de-icing tanks will be operating across the network to ensure conductor rails are free of ice. Stations will also be gritted and conductor rail heating has been installed at key parts of the network.</p>
<p>Londoners and visitors to the city are reminded to check before they travel during any severe cold weather period, and to allow extra journey time where necessary. Passengers can check before travelling by visiting tfl.gov.uk or following &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter. Followers can now check the status of their line by opening a direct message on TfL's Twitter feeds and can also subscribe to a direct message alert when there is a major disruption on a line.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'As London braces itself for colder weather, we want to reassure our customers that we have a well-rehearsed and thorough plan in place, alongside London Councils, to keep our road and rail networks operating during snow and ice.</p>
<p>Our staff work hard throughout the winter gritting the roads, de-icing the rails and keeping platforms safe and accessible for the travelling public.'</p>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said: </p>
<p>'London boroughs are playing their part in keeping the Capital moving when cold weather bites. They are responsible for 95 per cent of London's roads and have been working on plans with TfL and other partners to ensure key routes across the Capital are kept open during the winter for motorists, cyclists and pedestrians.</p>
<p>This will involve clearing and gritting roads and ensuring diversions are in place as necessary. Please check travel advice before embarking on a journey in adverse conditions. Contact your borough if you need information on what else is happening in your area, including school closures.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL, the 32 boroughs and City of London have over 100,000 tonnes of grit available to use between them. Priority routes for gritting are published on borough websites and include main roads, bus routes and roads leading to fire stations and hospitals. Many boroughs will also be gritting pavements in busy areas to help pedestrians and support local businesses.</li>
    <li>The winter operations plan agreed by TfL and its partner agencies also means that Santander Cycles scheme will remain operational through all weather conditions. Additional detailed plans are also in place to ensure Dial-a-Ride, London River Services and Victoria Coach Station are not significantly disrupted during severe winter weather. The Emirates Air Line is designed to operate throughout the year in most weather conditions. However as with any mode of transport there are operational limitations and cable cars are not designed to operate during very strong gusts of wind or when there is a threat of lightning in the immediate area</li>
    <li>Londoners can also report any road defects at the TfL website via <a href="http://reportit.tfl.gov.uk">reportit.tfl.gov.uk</a> or call TfL on 0343 222 1234, who can redirect enquiries to the relevant local authority if necessary</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-TfL and London boroughs prepared for wintry weather -->

 
 
        
        
            @{ViewBag.Description = "TfL and London boroughs prepared for wintry weather";}
        
        


 