


@{ViewBag.Title = "TfL takes next step to remove dangerous lorries";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL takes next step to remove dangerous lorries</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL takes next step to remove dangerous lorries</h1>
        <div class="content-page-press-release">
        24 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation launched on how a Direct Vision Standard can be used to reduce road danger across London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our ground-breaking Direct Vision Standard will be the first of its kind in the world, and TfL will lead by example by not using any zero-star lorries in its future supply chain"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New research shows the vital role of improving the view from a driver's cabin in addressing the safety for other road users</li>
    <li>Mayor of London says that HGVs with poor direct vision 'should simply not be allowed on London's roads'</li>
</ul>
<p>Transport for London (TfL) today published world-first research, which proves that having direct vision from the cab of a lorry rather than relying on mirrors and monitors has a substantial impact on improving road safety for pedestrians and cyclists.</p>
<p>The findings have been published as TfL launches the first consultation into the use of its world-first 'zero to five star' Direct Vision Standard for HGVs operating in the Capital. The 12-week consultation runs until 18 April and aims to identify how the new Standard can be best used to reduce road casualties on London's roads.</p>
<p>Under the Mayor's plans, the most dangerous HGVs will be banned from London's streets entirely by January 2020. These HGVs, often 'off-road' lorries, would be 'zero-star rated' by the Direct Vision Standard &#45; determined by the level of vision the driver has directly from the cab. By setting out their plans now, TfL expect many dangerous lorries will be upgraded before the restriction on the most dangerous HGVs comes into place in 2020.</p>
<p>Recent data shows that HGVs were involved in 22.5 per cent of pedestrian fatalities and 58 per cent of cyclist fatalities on London's roads in 2014 and 2015, despite only making four per cent of the miles driven in the Capital.</p>
<p>As part of the new research, a simulator was used to replicate a real-life driving situation for the first time, and it showed that the amount of direct vision a driver has could be a crucial factor in allowing a dangerous collision to be avoided. The study showed that drivers respond, on average 0.7 second slower when checking blind spots and monitors compared to directly through the windows. This delay can result in a lorry travelling an extra 1.5 metres before seeing a nearby road user, enough to cause death or serious injury.</p>
<p>TfL and the Greater London Authority are leading by example and will include the new Direct Vision Standard in new contracts from April. This will help further stimulate the market for safer lorries with improved direct vision.</p>
<p>Sadiq Khan, Mayor of London, said: </p>
<p>'This new research being released today shows how important it is we take bold action to address dangerous and poorly designed lorries operating in the Capital. HGVs with poor vision of cyclists, pedestrians and other road users from their cabin should simply not be allowed on London's roads. Every time someone is killed by a lorry on London's roads it is an appalling tragedy.</p>
<p>'Our ground-breaking Direct Vision Standard will be the first of its kind in the world, and TfL will lead by example by not using any zero-star lorries in its future supply chain.</p>
<p>'By continuing to work closely with industry, and beginning our first consultation now, we're confident that many of the most dangerous lorries on London's roads will be upgraded before our ban comes into place.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'Removing lorries that are unsuitable for London's busy roads will improve road safety for all. Our Direct Vision Standard will be key in this and by continuing to engage with the freight industry it can begin to have a positive effect now.</p>
<p>'This won't just increase safety, it will improve how our streets are used. We now know that another benefit of being able to make eye contact with a driver is that it makes pedestrian and cyclists feel safer, and this feeling can make our streets nicer places to live in and visit.'</p>
<p>Cllr Julian Bell, chair of London Councils' Transport and Environment Committee, said: </p>
<p>'It is taking far too long for lorry manufacturers to realise that their outdated juggernaut-style vehicles are not suitable for our city street environments. More needs to be done to improve lorry safety standards at a national and international level but in the meantime, I welcome this intervention from TfL to set a safer standard for London.</p>
<p>'We need to encourage as many people as possible to cycle and walk when they can, to better improve our chances of tackling key priorities such as congestion, air quality and improving the health of Londoners.'</p>
<p>Tompion Platt, Head of Policy, Living Streets said: </p>
<p>'Any death on the road is one too many, so the Mayor's commitment to reducing road danger and adopting a Vision Zero approach is one we fully support.</p>
<p>'Pedestrians represent around half of all those killed on London's roads each year with HGVs presenting a particular threat. It is essential that more is done to improve their safety and that the ones rated most dangerous are kept off our roads. We need to prioritise the safety of pedestrians to make sure everybody feels comfortable walking and can get out and enjoy their streets.'</p>
<p>Dan Evanson, Project Manager at Arup said: </p>
<p>'This study is aimed at saving lives and avoiding injury. By running the first simulated cognitive tests on drivers of this nature, we have demonstrated that direct visibility is a significant factor in accident avoidance and that reducing HGV drivers' reliance on aids, such as multiple mirrors and in-cab visual display units (VDUs), could significantly improve the safety of our roads. It gives city leaders and policy makers around the world clear evidence that introducing lorries with bigger windows will make city streets safer for cyclists and pedestrians.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The consultation on the proposals can be found &#45; <a href="http://tfl.gov.uk/vision-standard-phase-one">tfl.gov.uk/vision-standard-phase-one</a>. This consultation will be followed by a second consultation in the summer. Phase1 will present the technical Direct Vision standard concept and the evidence gathered to date and collect views on the DVS. It will also collect important information on the impacts on stakeholders, like HGV operators, manufacturers and the wider freight industry. This will then be used inform the design of the final scheme proposals</li>
    <li>The Mayor is proposing that the most dangerous zero star-rated HGVs will be banned from London's streets entirely by January 2020, and only HGVs meeting the new Direct Vision Standard of 3 stars or above will be allowed on London's roads by 2024</li>
    <li>Promoting safer lorries through a new Direct Vision Standard was outlined in Sadiq's manifesto. There are currently around 35,000 'off-road' HGVs, which will be zero star, currently operating on London's roads, and they were involved in around 70 per cent of cyclist fatalities involving HGVs in the last three years. It is this type of vehicles the Mayor has pledged to remove from London's roads by 2020</li>
    <li>This new research by the University of Leeds and Arup, adds to a suite of evidence, which shows that lorries designed with direct vision in mind are significantly safer than models that rely on indirect vision through mirrors or monitors. Direct Vision vs Indirect Vision: A study exploring the potential improves to road safety through expanding the HGV cab field of vision, (Arup, University of Leeds, January 2017) can be found here: <a href="http://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles</a></li>
    <li>Three years ago TfL began engagement with the freight industry and its clients on the principles of using direct vision to improve HGV safety. This engagement is particularly important as the Mayor has also signalled he wants to examine expanding and speeding up the introduction of the Ultra Low Emission Zone. With both of these proposed changes, freight operators have an opportunity to modernise their fleet and address safety and emissions at once &#45; minimising the overall cost</li>
    <li>TfL continues to work with major developers and other public sector organisations to help them understand the type of vehicles they use and how they can make their fleets safer for the roads they operate on</li>
    <li>In 2016 TfL consulted on further improving lorry safety in London, which included consideration of mandating clear side panels in lorry doors to increase visibility. In order to legally require clear side panels TfL would have had to go through the same process of creating a Direct Vision Standard. Subsequent independent research has shown this proposal would have little impact on cyclist safety and no impact on pedestrian safety &#45; and due to the requirements for enforcement &#45; would be delivered at the same timescale as the Mayor's proposals</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-TfL takes next step to remove dangerous lorries -->

 
 
        
        
            @{ViewBag.Description = "Consultation marks next step in plans to rid London of dangerous lorries";}
        
        


 