


@{ViewBag.Title = "Travel advice during today's Tube strike";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel advice during today’s Tube strike</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice during today’s Tube strike</h1>
        <div class="content-page-press-release">
        26 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Central and Waterloo & City line train operators who are RMT members are taking strike action that will affect services today
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We call on the RMT to honour this long-standing agreement and join us for more talks to resolve this issue rather than cause needless disruption to our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Griffiths</div>
            <div class="quotee-job-title">Chief Operating Officer, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Action means no Central line service east of Leytonstone and a severe delays on the rest of the line</li>
    <li>There is currently a good service on the Waterloo &amp; City line</li>
    <li>Follow <a href="http://tfl.gov.uk/tube-strike">tfl.gov.uk/tube-strike</a> and &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts for latest information</li>
</ul>
<p>Transport for London (TfL) is reminding customers using the Central and Waterloo &amp; City line that services are affected today, on Thursday 26 January, due to planned strike action by train operators who are RMT members.</p>
<p>There is no service east of Leytonstone on the Central line and trains are less frequent than usual on the majority of the Central line, with trains running:</p>
<ul>
    <li>about every five minutes between North Acton and Leytonstone at peak times (and every 10 minutes off peak)</li>
    <li>about every 10 minutes between North Acton and West Ruislip / Ealing Broadway at peak times (and every 20 minutes off peak)</li>
</ul>
<p>The Waterloo &amp; City line is currently running a good service this morning, helping customers get to work.  All other transport services are unaffected by the action but some may be busier than usual as customers seek alternative routes.</p>
<p>For customers east of Leytonstone, local bus routes have been boosted with additional bus services but it is likely that buses will be busier than usual, particularly during the morning and evening peak times.</p>
<p>A special bus shuttle service is also operating between Epping and Chingford calling at Epping, Debden, Loughton and Chingford providing connections to London Overground services. Santander Cycles have been boosted at key stations such as Tottenham Court Road, Oxford Circus and Liverpool Street in order to help customers make alternative arrangements.</p>
<p>Other stations and lines are also likely to be busy, including:</p>
<ul>
    <li>TfL Rail services between Romford and Stratford, particularly Ilford station</li>
    <li>London Overground lines and stations between Liverpool Street and Chingford</li>
    <li>Victoria line and stations, especially Walthamstow Central</li>
    <li>The Jubilee line between London Bridge and Waterloo</li>
    <li>Customers may have to queue outside stations during peak times to prevent overcrowding, and it may take longer than usual to board a train.</li>
</ul>
<p>There are posters, digital boards and announcements in stations around the network and customers are advised to check before they travel at  <a href="http:// tfl.gov.uk/tube-strike">tfl.gov.uk/tube-strike</a> and use TfL's live update services - &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</p>
<p>This dispute concerns the need to move eight train operators in three depots on the Central line.  These drivers need to move to other depots where they are needed so that TfL can provide the best possible train service for customers.  Following consultation and a great deal of further work, TfL has minimised the number of drivers affected to eight from an original 30, and has guaranteed that those required to move will have first preference on any future vacancies at their original location.</p>
<p>These moves are in accordance with TfL's agreements with the RMT and with other unions, which state that employees can be asked to work at any location on the network.  No further moves are planned.</p>
<p>Steve Griffiths, London Underground's Chief Operating Officer, said:</p>
<p>'This strike is completely unnecessary. Like any responsible transport authority we regularly examine how we can provide the best possible service to customers‎ and to achieve this sometimes we need to move staff from locations where they are under-utilised, to the places where they are really needed.  We have agreements with the trade unions that enable us to do this.</p>
<p>'We have identified eight drivers for whom there is not enough work on the Central line, so we have asked them to move to another line where they would make a real difference to the service our customers receive.</p>
<p>'We are committed to minimising the impact of this move on the eight drivers and we encourage the unions to engage with us in finding a way to do this. The drivers will also have priority on any vacancies in their original location should they wish to return.</p>
<p>'We call on the RMT to honour this long-standing agreement ‎and join us for more talks to resolve this issue rather than cause needless disruption to our customers.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Other stations likely to be busy are Leytonstone, Leyton, Stratford, Mile End, Liverpool Street, Oxford Circus, Waterloo, Tottenham Court Road, Holborn, Bank, Monument, London Bridge, Embankment, North Ealing and Ealing Common.</li>
    <li>The action began at 21.00 yesterday, on Wednesday 25th January. Services will resume as normal at the start of traffic tomorrow, on Friday 27th January.</li>
    <li>There will be no service east of Leytonstone or on the Waterloo &amp; City line.</li>
    <li>Last July we highlighted a surplus of train drivers on the Central line to the trade unions and asked them to work with us to limit the amount of movement required.</li>
    <li>We have talked to trade unions, offered to listen to their suggestions and even tabled alternative proposals for their consideration. After a great deal of hard work, we have been able to reduce the number of essential moves down to just eight people.</li>
    <li>The movement of these eight train drivers is a reflection of these agreements being implemented to move extra train drivers to where they are needed so our customers benefit from a better service.</li>
    <li>These drivers will have‎ priority to return to the Central line when a vacancy occurs should the wish to do so.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-Travel advice during today’s Tube strike -->

 
 
        
        
            @{ViewBag.Description = "Travel advice for customers during today’s Central and Waterloo & City line strike";}
        
        


 