


@{ViewBag.Title = "Brixton lifts to be replaced to improve reliability";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Brixton lifts to be replaced to improve reliability</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Brixton lifts to be replaced to improve reliability</h1>
        <div class="content-page-press-release">
        08 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Step-free access to the station will be temporarily unavailable until August
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new lifts will not only be more reliable, they'll operate more quickly and make journeys more convenient for those who need step-free access"</div>
        <div class="quote-footer">
            <div class="quotee-name">Caroline Sheridan</div>
            <div class="quotee-job-title">Director of Renewals and Enhancements for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>Both lifts at Brixton Tube station will be replaced in order to improve their reliability, TfL has confirmed. The modernisation work means that step-free access will be temporarily unavailable from Monday 12 February until August. The current lifts suffer from reliability problems. The new, modern lifts will be much more reliable and so will need to be maintained and repaired less frequently. They will also operate more quickly and therefore reduce journey times for customers using the station. </p>
<p>Brixton Tube station has two lifts, one from the street to the ticket hall, and one from the ticket hall to the platform. Both lifts will be replaced at the same time in order to complete the crucial work as quickly as possible. The rest of the station, including the stairs and escalators, will not be affected by this work and will continue to operate as normal. </p>
<p>Customers requiring step-free access are advised to use Vauxhall Tube station, which is accessible from street to train, and from there to use local bus services &#45; routes 2 and 196 operate between Vauxhall and Brixton, with route N2 available during night time hours. Posters have been put up at Victoria line stations to inform customers of the change, and station announcements at local stations will also ensure that customers are aware. Changes have also been made to the TfL Journey Planner and website, and the real-time Twitter feeds are also sharing further information. </p>
<p><strong>Caroline Sheridan, Director of Renewals and Enhancements for London Underground, said:</strong> &quot;The lifts at Brixton are currently unreliable and need to be improved. The new lifts will not only be more reliable, they'll operate more quickly and make journeys more convenient for those who need step-free access. We understand that this kind of work causes disruption and our staff will be doing all they can to help customers with accessibility needs throughout, while our engineers will work as hard as they can to complete the work as quickly as possible.&quot; </p>
<p>Boosting the reliability of the lifts and making journeys through Brixton Tube station quicker will improve accessibility for customers in the area. The Mayor is investing &pound;200m into accessibility and step-free access across the Tube network, the largest in the history of the Underground, in order to bring the total number of step-free stations to more than 100, more than 40% of the network. The investment will help drive the Mayor's draft Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-Brixton lifts to be replaced to improve reliability -->

 
 
        
        
            @{ViewBag.Description = "Brixton lifts to be replaced to improve reliability";}
        
        


 