


@{ViewBag.Title = "New timetable launched to improve services on the tram network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New timetable launched to improve services on the tram network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New timetable launched to improve services on the tram network</h1>
        <div class="content-page-press-release">
        16 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The new timetable will provide a more regular service with even spacing between trams, reducing passenger crowding
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have a long-term plan to improve the tram network and adjusting the timetable is just our first step, which we will keep under review to make sure it is delivering the expected benefits for customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Rory O'Neill</div>
            <div class="quotee-job-title">TfL's General Manager of London Trams</div>
        </div>
</div>

 <div class="on-this-page">
<p>Customers will experience a more regular service with reduced waiting times from Sunday 25 February, as TfL introduces a revised timetable designed to improve services across the whole London Trams network.</p>
<p>South London is changing, with more people living, working and socialising in the area and demand for tram services continues to rise. The roads they share with cars, pedestrians and cyclists are also getting busier.</p>
<p>These timetable changes are essential to ensure the tram network continues to provide a fast and reliable service to the communities it serves.</p>
<h2>Waiting time will fall</h2>
<p>The new timetable is designed so services are more evenly spaced throughout the day, removing long waits between trams followed by several arriving at once, which can lead to overcrowding and difficulties in restoring services following delays.</p>
<p>After the changes are implemented, the average waiting time will fall, benefitting more than three quarters of customers.</p>
<p>There will be extra early morning services on the New Addington branch, extra evening services on the Beckenham Junction and Elmers End branches, and extra services both early morning and in the evening on the Wimbledon branch, providing a more frequent service and extra passenger capacity.</p>
<p>Improvements to the Tram network are included in the Mayor's draft Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<h2>Less crowded</h2>
<p>Rory O'Neill, TfL's General Manager of London Trams, said: 'We have discussed these changes extensively with our customers and concluded that the new timetable will benefit the vast majority of tram users, ensuring services are more regular and less crowded.</p>
<p>'We appreciate it may take time for customers to adapt, but feel these timetable changes are essential to ensure London Trams continues to support future growth in the area it serves.</p>
<p>'We have a long-term plan to improve the tram network and adjusting the timetable is just our first step, which we will keep under review to make sure it is delivering the expected benefits for customers.'</p>
<p>Trams will serve Wimbledon regularly every five minutes during Monday to Saturday daytimes and run via Arena, alternating every 10 minutes to/from Beckenham Junction and Elmers End. The average waiting time on this branch will reduce by 14% and crowding will be reduced by a third.</p>
<p>Trams serving New Addington will run every 7-8 minutes via the loop in Croydon town centre, providing direct connections to London Overground and bus services from West Croydon.</p>
<p>On the East Croydon-Addiscombe-Arena branch, trams will be evenly spaced at regular intervals and the average waiting time will reduce by 13%.</p>
<p>The total number of trams per hour will change slightly (from 22 to 20 at Lebanon Road for example), but because they will be more evenly spaced the average waiting time will be shorter and crowding will be reduced.</p>
<hr />
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Services in early mornings, late evenings and on Sundays may be different from the main daytime routes and destinations, as is currently the case</li>
    <li>Customers travelling towards Wimbledon on the New Addington branch should change trams between East Croydon and Church Street, where there will usually be a 2-4 minute wait when changing trams. This will only affect fewer than 1 in 30 customers and the onward tram will depart from the same platform with no extra charge</li>
    <li>Passengers using pay as you go can now make unlimited bus and tram journeys within one hour, thanks to the Mayor of London's recently-expanded Hopper fare. Customers must still touch in on a tram validator before commencing their first tram journey, even if they started their journey by bus, to avoid being charged penalty or maximum fares. However, there is no need to tap in when changing trams - the free fare will be applied automatically.</li>
    <li>Trams from East Croydon to Elmers End/Beckenham Junction between 20.00 and 21.00 will arrive every 10 minutes instead of every 15 minutes in current service. Trams from East Croydon to Wimbledon will be more frequent between 18.30 and 19.30 and from Wimbledon to East Croydon between 19.15 and 20.00. Services will arrive every 5 minutes, instead of every 7-8 minutes</li>
    <li>Further information about the changes is available at <a href="https://tfl.gov.uk/modes/trams/new-tram-service-pattern-and-timetable?cid=tram-changes">http://tfl.gov.uk/tram-changes</a></li>
    <li>The new tram map is available to view on our Flickr page at: <a href="https://flic.kr/s/aHskwjmivL">https://flic.kr/s/aHskwjmivL</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-New timetable launched to improve services on the tram network -->

 
 
        
        
            @{ViewBag.Description = "New timetable launched to improve services on the tram network";}
        
        


 