


@{ViewBag.Title = "Night Overground services to extend to north London ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Night Overground services to extend to north London </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Night Overground services to extend to north London </h1>
        <div class="content-page-press-release">
        13 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Night Overground that began under Mayor Sadiq Khan will extend to serve Canonbury and Highbury & Islington stations from 23 February 2018
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Passengers will now be able to interchange with both the Victoria and Jubilee line Night Tube services, enhancing connectivity and making night time journeys even easier"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">TfL's Director of London Rail and Sponsored Services</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>The extension connects Night Overground with Victoria line Night Tube services for the first time</li>
    <li>More than 35,000 journeys have already been made on Night Overground</li>
</ul>
<p>Thousands more passengers will benefit from a more extensive Night Overground as services extend to Canonbury and Highbury &amp; Islington stations from Friday 23 February. The new service will link the Overground to the Night Tube network at the Victoria line for the first time, making a big difference for those travelling in north and east London at night.</p>
<p>The Night Overground has run on Friday and Saturday nights between Dalston Junction and New Cross Gate since December last year. So far more than 35,000 journeys have been made on the route, with customers benefitting from faster and easier journeys throughout the night.</p>
<p>The extension to Islington will make late night travel even easier and quicker for the many night shift workers, including emergency services and the hospitality sectors, who work in north and east London.</p>
<p>It will benefit local business and provide a boost to London's already booming night-time economy. It will provide a frequent and reliable service for the thousands of people who enjoy nights out in vibrant east London, allowing them to head home north on the Overground. It will also support Islington's vibrant nightlife, making it easier for people to get to and from the area's many restaurants, bars, theatres, cinemas and other cultural highlights.</p>
<p>The successful start of the Night Overground follows the success of the Night Tube which saw more than nine million journeys, helped cut late night journey times by an average of 20 minutes, created more than 3,600 jobs and contributed more than &pound;170 million to London's economy in its first year.</p>
<p><strong>The Mayor of London, Sadiq Khan, said:</strong> &quot;Following our hugely successful launch of the  Night Tube, I'm delighted that we will be able to extend the Night Overground service to help even more Londoners. This extension will connect the Night Overground to the Night Tube. These night-time services are providing a huge boost to our economy and a safe and reliable way for people to travel across the capital, helping all those working hard during the night or out enjoying everything the capital's nightlife has to offer.&quot;</p>
<p><strong>Jonathan Fox, TfL's Director of London Rail and Sponsored Services, said:</strong> &quot;The extension of Night Overground to Highbury &amp; Islington will make life easier for thousands more Londoners and visitors, opening up a new late night connection between east and north London and boosting the night time economy.  It builds on the great success of the Night Overground services we introduced last year, which have already seen more than 35,000 customers. We've worked closely with our staff and BTP to keep people safe and secure while travelling, with no reported crime so far. Passengers will now be able to interchange with both the Victoria and Jubilee line Night Tube services, enhancing connectivity and making night time journeys even easier.&quot;</p>
<p><strong>Stella Rogers, Customer Experience Director for Arriva Rail London, said:</strong> &quot;Since its launch our people have been working hard day and night every weekend to ensure that our customers have a safe, comfortable and reliable Night Overground. We are delighted that our hard work is paying off as we extend our already popular 24-hour service to even more customers wanting to travel on the London Overground each weekend.&quot;</p>
<p><strong>Christine Lovett, Chief Executive of Angel.London, said:</strong> &quot;Angel is home to a thriving night time economy; we have countless restaurants, cafes, bars, cinemas and music venues. We are thrilled to hear the Night Overground will link Islington and Angel up to southeast and east London. It will provide affordable and safe transport for visitors, residents and staff who work in the local area.&quot;</p>
<p><strong>Matthew Segal, Manager of Frederick's Restaurant, said:</strong> &quot;This is fantastic news for Frederick's restaurant and Angel on many different levels. The Night Overground service will inevitably bring more visitors to the area, allowing our long-standing team to get home safely and cheaply, as well as improving local air quality with fewer car journeys in the area.&quot;</p>
<p><strong>David Pyatt, General Manager of O2 Academy Islington, said:</strong> &quot;Angel, N1 is such a vibrant area, so we're delighted that the weekend night service is now extending to the Overground at Highbury &amp; Islington. Not only is it good for business and the late-night economy, it's also important for sustaining networks to live music and club venues such as ourselves here at O2 Academy Islington and many other venues on Upper Street. Providing a safe and efficient service means we are not only more accessible for Londoners but also visitors to the area, so it's a hugely welcome addition.&quot;</p>
<p><strong>BTP Chief Superintendent Martin Fry said:</strong> &quot;The launch of the Night Tube was a very special moment in London's history and it's great to see the service being expanded further on the London Overground, enabling more people to enjoy the city late into the night or to get to or from home and work. We have a policing plan in place to cater specifically for Night Overground with the safety and security of passengers and staff foremost in our minds. We will continue to work with partners to deliver the exceptional service that people of London have come to expect. We will have police officers deployed each night, providing a high visibility presence for all those who travel and work on the system and are committed to ensuring that travel on London's public transport network is a safe and pleasant experience at all times of the day and night.&quot;</p>
<p>The safety and security of customers has always been of paramount importance and crucial to the success of Night Overground. All stations along the route are staffed at all times while the trains are running, with CCTV, modern lighting and Help Points available across the network to assist customers as required. Specially trained Travel Safe Officers also work throughout the night on the London Overground network, alongside TfL funded British Transport Police officers, who work across the London Overground and Tube networks.</p>
<p>Significant improvements to the Overground network, including a fleet of brand new trains, are included in the Mayor's draft Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<p>&nbsp;</p>
<hr />
<p> </p>
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>Due to Crossrail work taking place at Whitechapel station, London Overground night services will not call at the station until works are complete. Services are expected to call at the station from summer this year</li>
    <li>All Night Overground stations except Shadwell and Wapping have connecting night buses</li>
    <li>For more information visit: <a href="http://www.tfl.gov.uk/night-overground">www.tfl.gov.uk/night-overground</a></li>
</ul>
<p>The Night Tube runs on the following lines on Friday and Saturday nights and the early hours of Saturday and Sunday mornings:</p>
<ul>
    <li>Central line: trains are running between Ealing Broadway and Loughton / Hainault</li>
    <li>Victoria line: trains are running on the entire line</li>
    <li>Jubilee line: trains are running on the entire line</li>
    <li>Northern line: trains are running from High Barnet and Edgware to Morden via the Charing Cross branch</li>
    <li>Piccadilly line: trains are running between Cockfosters and Heathrow Terminal five</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-Night Overground services to extend to north London  -->

 
 
        
        
            @{ViewBag.Description = "Night Overground services to extend to north London";}
        
        


 