


@{ViewBag.Title = "Transport for London opens Elizabeth line commercial partnership tender";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London opens Elizabeth line commercial partnership tender</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London opens Elizabeth line commercial partnership tender</h1>
        <div class="content-page-press-release">
        21 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Six sector-exclusive brands set to become launch partners for the Elizabeth line's inaugural year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The launch of the Elizabeth line offers an unmatched opportunity for brands to be part of a historic moment for our city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director for Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today opened a tender process for commercial partners for the Elizabeth line, offering brands a unique opportunity to align with the historic launch in 10 months' time.</p>
<p>When services begin in December, TfL's state-of-the-art new railway will connect Paddington to Canary Wharf in only 17 minutes, redefining how Londoners and visitors travel around the Capital and providing quicker, easier and more accessible journeys.</p>
<p>Two-hundred million passengers are expected to use the new line annually &#45; more than all of London's airports combined &#45; offering an unrivalled opportunity for brands.</p>
<p>Launch partners will benefit from sector-exclusive promotion across the Elizabeth line during its first year in operation.</p>
<h2>Industry-leading</h2>
<p>The partnership package will include:</p>
<ul>
    <li>Designation as an official launch partner</li>
    <li>Integration with the Elizabeth line print and online marketing campaign</li>
    <li>Logo presence on the iconic Tube map</li>
    <li>Rights to one-sixth of the Elizabeth line's premium advertising estate</li>
</ul>
<p>New virtual reality imaging was unveiled at a showcase event earlier this month. Prospective commercial partners from industry-leading brands were given the opportunity to visualise how their brands would be able to communicate with customers in the station environments that are being created.</p>
<p>The ten newly-built and fully step-free Elizabeth line stations have been designed with customers at their heart. The streamlined, minimalist stations are being fitted with strategically-located advertising space, including:</p>
<ul>
    <li>Best-in-class advertising infrastructure across the line</li>
    <li>Digital escalator 'ribbons': continuous ultra-HD LCD screens running along the length of some escalators. This is a unique format that is new to the TfL network, offering greater creative capability</li>
    <li>Premium large and small-format digital screens with full-motion capability, including on platform edge doors for the first time</li>
    <li>A large-format 25sqm digital screen at Tottenham Court Road</li>
    <li>New opportunities for bespoke and immersive brand campaigns in stations and on trains</li>
</ul>
<h2>Historic moment</h2>
<p>Full details on the Elizabeth line's premium commercial partnership offering &#45; including design specifications and new virtual reality imaging &#45; is now available on the <a href="https://tfl.gov.uk/elizabeth-line-partners">TfL website</a>.</p>
<p>Interested brands are advised to email <a href="mailto:elizabethlinepartners&#64;tfl.gov.uk ">elizabethlinepartners&#64;tfl.gov.uk</a> by 23 April, with the official launch partners set to be announced in the autumn.</p>
<p>Graeme Craig, Director for Commercial Development at TfL said: 'The launch of the Elizabeth line offers an unmatched opportunity for brands to be part of a historic moment for our city.</p>
<p>'We look forward to hearing from interested brands who will bring creativity and energy to the Elizabeth line during its inaugural year.'</p>
<h2>Benefit of Londoners</h2>
<p>The Elizabeth line commercial strategy is the latest of TfL's plans to maximise its assets to generate income for investment in improving transport.</p>
<p>The publication of TfL's first Annual Advertising Report in October 2017 highlighted that &pound;142m of advertising revenue was raised and reinvested in the last year alone.</p>
<p>All revenue generated from the Elizabeth line partnerships will be reinvested in the transport network for the benefit of Londoners.</p>
<p>The opening of the Elizabeth line will help address some of the aims of the draft Mayor's Transport Strategy, which seeks to reduce reliance on the car and tackle air pollution by improving public transport.</p>
<p>The new railway is expected to support 90,000 new homes along route by 2021, doubling to 180,000 by 2026. Over 360,000 new jobs are predicted by 2021, boosting the UK economy by &pound;42 billion.</p>
<p><hr /></p>
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>The new Elizabeth line virtual reality images are available on the TfL Flickr page <a href="https://www.flickr.com/gp/tflpress/22kDQs">here</a> and on YouTube <a href="https://youtu.be/JWbN3Yo0OW4">here</a></li>
    <li>The Elizabeth line is jointly sponsored by the Department for Transport and TfL</li>
    <li>Further information on TfL's Elizabeth line partnership opportunities, including the launch partner brochure, is available online at <a href="https://tfl.gov.uk/elizabeth-line-partners">https://tfl.gov.uk/elizabeth-line-partners</a></li>
    <li>Interested parties are advised to email <a href="mailto:elizabethlinepartners&#64;tfl.gov.uk">elizabethlinepartners&#64;tfl.gov.uk</a></li>
    <li>TfL doesn't make a profit &#45; we reinvest all our income to run and improve services and are committed to reducing costs</li>
    <li>New research by property consultancy GVA has shown the Elizabeth line is a major catalyst for regeneration across London and the South East. The January 2018 report is available online at <a href="http://www.gva.co.uk/uploadedfiles/GVA_UK_Research/Crossrail Report.pdf">http://www.gva.co.uk/uploadedfiles/GVA_UK_Research/Crossrail%20Report.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-Transport for London opens Elizabeth line commercial partnership tender -->

 
 
        
        
            @{ViewBag.Description = "Once in a generation opportunity for brands as Transport for London opens Elizabeth line commercial partnership tender";}
        
        


 