


@{ViewBag.Title = "December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2012">2012</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">December</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>December</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-welcomes-new-year-honour-for-sir-peter-hendy-and-tfl-staff">Mayor welcomes New Year Honour for Sir Peter Hendy and TfL staff<br />31 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/revellers-are-encouraged-to-get-home-safely-this-new-years-eve-with-free-travel">Revellers are encouraged to get home safely this New Year's Eve with free travel <br />28 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/new-year-fares-on-tfl-services-come-into-effect-from-wednesday-2-january-2013">New Year fares on TfL services come into effect from Wednesday 2 January 2013<br />27 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/transport-services-operating-despite-unnecessary-strike-by-aslef--1200">Transport services operating despite unnecessary strike by ASLEF - 1200<br />26 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/transport-services-continue-to-serve-london-and-its-key-shopping-hubs-despite-unnecessary-strike-by-aslef--1730">Transport services continue to serve London and its key shopping hubs, despite unnecessary strike by ASLEF - 1730<br />26 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/some-tube-services-operating-despite-unnecessary-strike-by-aslef--930am">Some Tube services operating despite unnecessary strike by ASLEF - 9:30am<br />26 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/tfl-sets-out-services-to-support-shoppers-and-retailers-despite-strike-called-by-aslef-leadership">TfL sets out services to support shoppers and retailers despite strike called by ASLEF leadership<br />24 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/london-bridge-bus-station-remains-closed-for-emergency-thames-water-repair-works">London Bridge bus station remains closed for emergency Thames Water repair works<br />21 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/tfl-and-mayor-set-out-plans-to-hugely-improve-transport-accessibility">TfL and Mayor set out plans to hugely improve transport accessibility<br />20 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound3m-investment-in-transport-for-hounslow-to-help-boost-the-local-economy">Mayor provides &pound;3m investment in transport for Hounslow to help boost the local economy<br />20 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/tfl-consults-on-bus-services-for-the-queen-elizabeth-olympic-park-area-stratford">TfL consults on bus services for the Queen Elizabeth Olympic Park area, Stratford <br />19 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/new-travel-in-london-report-underscores-need-for-stable-and-sustained-investment-in-londons-transport-network">New Travel in London report underscores need for stable and sustained investment in London's transport network<br />19 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/transport-for-london-and-the-london-borough-of-newham-seek-publics-views-on-new-barclays-cycle-superhighway-2-extension">Transport for London and the London Borough of Newham seek public's views on new Barclays Cycle Superhighway 2 extension<br />19 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/london-bridge-bus-station-closed-for-emergency-thames-water-repair-works">London Bridge bus station closed for emergency Thames Water repair works<br />18 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/london-underground-condemns-aslef-leadership-demands-over-boxing-day-dispute">London Underground condemns ASLEF leadership demands over Boxing Day dispute<br />18 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/tfls-gamestime-travel-ambassadors-return-for-the-festive-season">TfL's Games-time Travel Ambassadors return for the festive season <br />18 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/to-minimise-disruption-for-passengers-upgrade-work-will-be-carried-out-during-christmas-day-closure">To minimise disruption for passengers upgrade work will be carried out during Christmas Day closure<br />18 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/no-tube-upgrade-work-during-the-coming-busy-prechristmas-weekend-22-and-23-december-2012">No Tube upgrade work during the coming busy pre-Christmas weekend 22 and 23 December 2012<br />18 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound52m-investment-in-transport-for-ealing-to-help-boost-the-local-economy">Mayor provides &pound;5.2m investment in transport for Ealing to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound74m-investment-in-transport-for-croydon-to-help-boost-the-local-economy">Mayor provides &pound;7.4m investment in transport for Croydon to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound49m-investment-in-transport-for-barnet-to-help-boost-the-local-economy">Mayor provides &pound;4.9m investment in transport for Barnet to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound3m-investment-in-transport-for-newham-to-help-boost-the-local-economy">Mayor provides &pound;3m investment in transport for Newham to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound25m-investment-in-transport-for-islington-to-help-boost-the-local-economy">Mayor provides &pound;2.5m investment in transport for Islington to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound35m-investment-in-transport-for-tower-hamlets-to-help-boost-the-local-economy">Mayor provides &pound;3.5m investment in transport for Tower Hamlets to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound25m-investment-in-transport-for-hackney-to-help-boost-the-local-economy">Mayor provides &pound;2.5m investment in transport for Hackney to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound53m-investment-in-transport-for-lambeth-to-help-boost-the-local-economy">Mayor provides &pound;5.3m investment in transport for Lambeth to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound44m-investment-in-transport-for-haringey-to-help-boost-the-local-economy">Mayor provides &pound;4.4m investment in transport for Haringey to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound27m-investment-in-transport-for-merton-to-help-boost-the-local-economy">Mayor provides &pound;2.7m investment in transport for Merton to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound38m-investment-in-transport-for-lewisham-to-help-boost-the-local-economy">Mayor provides &pound;3.8m investment in transport for Lewisham to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound39m-investment-in-transport-for-southwark-to-help-boost-the-local-economy">Mayor provides &pound;3.9m investment in transport for Southwark to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound21m-investment-in-transport-for-barking-and-dagenham-to-help-boost-the-local-economy">Mayor provides &pound;2.1m investment in transport for Barking & Dagenham to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound61m-investment-in-transport-for-brent-to-help-boost-the-local-economy">Mayor provides &pound;6.1m investment in transport for Brent to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound44m-investment-in-transport-for-bexley-to-help-boost-the-local-economy">Mayor provides &pound;4.4m investment in transport for Bexley to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound38m-investment-in-transport-for-hammersmith-and-fulham-to-help-boost-the-local-economy">Mayor provides &pound;3.8m investment in transport for Hammersmith and Fulham to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound148m-transport-investment-to-boost-local-economy">Mayor provides &pound;148m transport investment to boost local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound36m-investment-in-transport-for-havering-to-help-boost-the-local-economy">Mayor provides &pound;3.6m investment in transport for Havering to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound33m-investment-in-transport-for-camden-to-help-boost-the-local-economy">Mayor provides &pound;3.3m investment in transport for Camden to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound68m-investment-in-transport-for-westminster-to-help-boost-local-economy">Mayor provides &pound;6.8m investment in transport for Westminster to help boost local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound38m-investment-in-transport-for-wandsworth-to-help-boost-the-local-economy">Mayor provides &pound;3.8m investment in transport for Wandsworth to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound44m-investment-in-transport-for-enfield-to-help-boost-the-local-economy">Mayor provides &pound;4.4m investment in transport for Enfield to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound23m-investment-in-transport-for-harrow-to-help-boost-the-local-economy">Mayor provides &pound;2.3m investment in transport for Harrow to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound41m-investment-in-transport-for-redbridge-to-help-boost-the-local-economy">Mayor provides &pound;4.1m investment in transport for Redbridge to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound35m-investment-in-transport-for-the-royal-borough-of-kingston-upon-thames-to-help-boost-the-local-economy">Mayor provides &pound;3.5m investment in transport for the Royal Borough of Kingston upon Thames to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound25m-investment-in-transport-for-sutton-to-help-boost-the-local-economy">Mayor provides &pound;2.5m investment in transport for Sutton to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound37m-investment-in-transport-for-the-city-of-london-to-help-boost-the-local-economy">Mayor provides &pound;3.7m investment in transport for the City of London to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound3m-investment-in-transport-for-richmond-upon-thames-to-help-boost-the-local-economy">Mayor provides &pound;3m investment in transport for Richmond upon Thames to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound29m-investment-in-transport-for-waltham-forest-to-help-boost-the-local-economy">Mayor provides &pound;2.9m investment in transport for Waltham Forest to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound42m-investment-in-transport-for-hillingdon-to-help-boost-the-local-economy">Mayor provides &pound;4.2m investment in transport for Hillingdon to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound56m-investment-in-transport-for-bromley-to-help-boost-the-local-economy">Mayor provides &pound;5.6m investment in transport for Bromley to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-seeks-ban-on-dangerous-pedicabs">Mayor seeks ban on dangerous pedicabs <br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound23m-investment-in-transport-for-the-royal-borough-of-kensington-and-chelsea-to-help-boost-the-local-economy">Mayor provides &pound;2.3m investment in transport for the Royal Borough of Kensington and Chelsea to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/mayor-provides-andpound32m-investment-in-transport-for-the-royal-borough-of-greenwich-to-help-boost-the-local-economy">Mayor provides &pound;3.2m investment in transport for the Royal Borough of Greenwich to help boost the local economy<br />14 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/london-underground-car-parking-charges-to-change-in-january-2013">London Underground car parking charges to change in January 2013 <br />13 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/new-crime-figures-show-that-transport-crime-continues-to-fall">New crime figures show that transport crime continues to fall <br />13 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/new-option-to-pay-for-travel-as-tfl-introduces-contactless-payments-on-londons-buses">New option to pay for travel as TfL introduces contactless payments on London's buses<br />13 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/woolwich-ferry-set-for-improvement-work-as-tfl-awards-woolwich-ferry-contract-to-briggs-marine">Woolwich Ferry set for improvement work as TfL awards Woolwich Ferry contract to Briggs Marine<br />13 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/no-central-london-tube-upgrade-work-during-the-coming-busy-prechristmas-weekend">No Central London Tube upgrade work during the coming busy pre-Christmas weekend <br />13 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/business-community-backs-the-case-for-stable-and-sustained-investment-in-londons-transport-services">Business community backs the case for stable and sustained investment in London's transport services<br />12 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/east-end-residents-get-first-glimpse-of-new-tube-trains">East end residents get first glimpse of new Tube trains <br />12 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/new-campaign-aims-to-tackle-violence-against-transport-staff-head-on">New campaign aims to tackle violence against transport staff head on<br />11 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/customers-encouraged-to-plan-ahead-this-festive-season">Customers encouraged to plan ahead this festive season <br />10 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/150th-tube-anniversary-oyster-card-to-go-on-sale">150th Tube anniversary Oyster card to go on sale<br />07 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/jobs-and-growth-at-the-heart-of-mayors-plans-for-londons-transport-services">Jobs and growth at the heart of Mayor's plans for London's transport services<br />04 Dec 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/december/transport-for-london-urges-road-users-to-voice-their-views-on-new-barclays-cycle-superhighway">Transport for London urges road users to voice their views on new Barclays Cycle Superhighway. <br />03 Dec 2012</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17054">December</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17314">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17404">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17484">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/august">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17768">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17984">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/may">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/april">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/march">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from December 2012";}
        
        


 