


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2012">2012</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/changes-to-operating-times-of-bus-route-236">Changes to operating times of bus route 236<br />28 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/last-working-day-for-the-oldest-train-in-town-as-roll-out-as-new-stateoftheart-fleet-is-completed">Last working day for the oldest train in town as roll out as new state-of-the-art fleet is completed<br />26 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/londoners-encouraged-to-make-a-small-switch-to-curb-engine-emissions">Londoners encouraged to 'make a small switch' to curb engine emissions<br />26 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/tube-gardening-competition-celebrates-its-tenth-year">Tube gardening competition celebrates its tenth year<br />26 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/route-u4-provides-transport-links-to-prologis-park-for-the-first-time">Route U4 provides transport links to ProLogis Park for the first time<br />25 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/restored-crystal-palace-ticket-hall-to-reopen">Restored Crystal Palace ticket hall to re-open  <br />24 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-overground-makes-room-for-peace-wall">London Overground makes room for Peace Wall <br />21 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-underground-logo-is-transformed-by-one-hundred-international-artists-in-a-new-book-published-as-part-of-art-on-the-underground">London Underground logo is transformed by one hundred international artists in a new book published as part of Art on the Underground<br />20 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/mayor-welcomes-full-production-of-new-bus-for-london">Mayor welcomes full production of new bus for London<br />20 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/tfl-publishes-annual-complaints-data-as-part-of-ongoing-drive-to-improve-customer-service">TfL publishes annual complaints data as part of ongoing drive to improve customer service<br />20 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/work-begins-to-double-the-size-of-the-south-ticket-hall-at-victoria-underground-station">Work begins to double the size of the south ticket hall at Victoria Underground Station<br />18 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/tfl-signs-partnership-with-visitbritain-for-international-distribution-of-the-visitor-oyster-card">TfL signs partnership with VisitBritain for international distribution of the Visitor Oyster card<br />17 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/mayor-sets-out-plans-for-flagship-barclays-cycle-hire-expansion-to-south-west-london">Mayor sets out plans for flagship Barclays Cycle Hire expansion to south west London<br />13 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/vital-tube-upgrade-work-resumes-with-effect-of-closures-reduced-by-ten-per-cent-compared-to-last-year">Vital Tube upgrade work resumes with effect of closures reduced by ten per cent compared to last year<br />11 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/monday-10-september--busy-day-in-central-london-as-our-greatest-team-parade-through-the-streets-of-the-capital">Monday 10 September - Busy day in central London as 'Our Greatest Team' parade through the streets of the capital<br />10 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/monday-10-september--busy-day-in-central-london-as-our-greatest-team-parade-through-the-streets-of-the-capital">Monday 10 September - Busy day in central London as 'Our Greatest Team' parade through the streets of the Capital<br />09 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games-day-11-the-paralympic-central-london-expected-to-be-busy">London 2012 Paralympic Games - Day 11: The Paralympic Marathons mark the final day of a fantastic Games with central London expected to be busy<br />09 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/manual-boarding-ramps-to-be-retained-at-key-tube-stations-after-the-games">Manual boarding ramps to be retained at key Tube stations after the Games<br />09 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-10-the-final-weekend">London 2012 Paralympic Games - Day 10: The final weekend of a fantastic Games begins with roads and public transport in east London continuing to be busy<br />08 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-11-paralympic-marathons-and-other-events-mean-a-busy-last-day-of-a-fantastic-games">London 2012 Paralympic Games - Day 11: Paralympic Marathons and other events mean a busy last day of a fantastic Games<br />08 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-9-another-busy-day-get-ahead-of-the-games">London 2012 Paralympic Games - Day 9: Another busy day of Paralympic action at the Olympic Park; Londoners are reminded to plan their travel to get ahead of the Games<br />07 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-10-as-we-head-into-the-final-weekend">London 2012 Paralympic Games - Day 10: As we head into the final weekend of a fantastic Games roads and public transport in east London will continue to be busy<br />07 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-8-events-continue-to-be-busy">London 2012 Paralympic Games - Day 8: events continue at the Olympic Park and across east London meaning roads and public transport in east London will continue to be busy <br />06 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games-day-9-plan-their-travel-to-get-ahead-of-the-games">London 2012 Paralympic Games - Day 9: Another busy day of Paralympic action at the Olympic Park, Londoners are reminded to plan their travel to get ahead of the Games<br />06 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/transport-for-london-celebrates-team-gbs-olympic-success-with-limited-edition-tube-map">Transport for London celebrates Team GB's Olympic success with limited edition Tube map   <br />06 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-8-events-continue-in-east-london">London 2012 Paralympic Games - Day 8: events continue at the Olympic Park and across east London meaning roads and public transport in east London will continue to be busy <br />05 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-7-with-finals-will-continue-to-be-busy">London 2012 Paralympic Games - Day 7: with finals in athletics and swimming at the Olympic Park roads and public transport in east London will continue to be busy <br />05 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/tfl-advice-to-drivers-affected-by-thames-water-burst-water-main-on-a406-at-brent-cross">TfL advice to drivers affected by Thames Water burst water main on A406 at Brent Cross<br />05 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-6-in-fullswing-network-will-continue">London 2012 Paralympic Games - Day 6: with the Games in full-swing roads and the public transport network will continue to be much busier than last week<br />04 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/high-flying-emirates-air-line-celebrates-one-million-passenger-journeys">High flying Emirates Air Line celebrates one million passenger journeys<br />04 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-7-with-finals-will-continue-to-be-busy">London 2012 Paralympic Games - Day 7: with finals in athletics and swimming at the Olympic Park roads and public transport in east London will continue to be busy <br />04 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-5-london-school-terms-start-from-today-so-roads-and-public-transport-network-will-be-much-busier">London 2012 Paralympic Games - Day 5: London school terms start from today so roads and public transport network will be much busier<br />03 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games--day-5-london-school-terms-start-from-tomorrow-so-roads-and-public-transport-network-will-be-much-busier">London 2012 Paralympic Games - Day 5: London school terms start from tomorrow so roads and public transport network will be much busier<br />02 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games-day-4-another-busy-day-events-taking-place-across-the-capital">London 2012 Paralympic Games - Day 4: Another busy day at the Olympic Park and more sporting and cultural events taking place across the capital<br />02 Sep 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/september/london-2012-paralympic-games-day-3-a-busy-across-the-capital">London 2012 Paralympic Games - Day 3: A busy day with 215,000 people expected at Olympic Park and four major football fixtures taking place across the capital<br />01 Sep 2012</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17054">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17314">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17404">October</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17484">September</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/august">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17768">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17984">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/may">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/april">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/march">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from September 2012";}
        
        


 