


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2012">2012</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tour-de-france-cycling-heroes-going-for-gold-on-londons-roads-during-fifth-day-of-the-2012-olympic-games--wednesday-1-august-2012">Tour de France cycling heroes going for Gold on London's roads during fifth day of the 2012 Olympic Games - Wednesday 1 August 2012<br />31 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/another-action-packed-day-in-store-for-london-on-the-fourth-day-of-the-2012-olympic-games--tuesday-31-july-2012">Another action packed day in store for London on the fourth day of the 2012 Olympic Games - Tuesday 31 July 2012<br />30 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/day-three-of-the-olympic-games-tfl-urges-people-to-get-ahead-of-the-games-on-the-first-weekday-of-competition--monday-30-july-2012">Day three of the Olympic Games: TfL urges people to Get Ahead of the Games on the first weekday of competition - Monday, 30 July 2012<br />30 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/first-weekday-of-the-olympic-games-avoid-london-bridge">First weekday of the Olympic Games: Avoid London Bridge <br />29 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/second-day-of-the-2012-olympic-games-and-the-womens-cycle-road-race">Second day of the 2012 Olympic Games and the Women's Cycle Road Race<br />29 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/womens-cycle-road-race-on-the-second-day-of-the-2012-olympic-games">Women's Cycle Road Race on the second day of the 2012 Olympic Games<br />28 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/london-2012-olympic-games-underway-in-the-capital-plan-your-travel-and-get-ahead-of-the-games--saturday-28-july-2012">London 2012 Olympic Games underway in the Capital: Plan your travel and 'Get Ahead of the Games' - Saturday 28 July 2012<br />27 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/olympic-torch-travels-up-thames-ahead-of-opening-ceremony-plan-your-travel-and-get-ahead-of-the-games--friday-27-july-2012">Olympic Torch travels up Thames ahead of Opening Ceremony: Plan your travel and 'Get Ahead of the Games' - Friday, 27 July 2012<br />27 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-unveils-new-plans-to-increase-tube-escalator-reliability">TfL unveils new plans to increase Tube escalator reliability<br />27 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/olympic-torch-relay-has-arrived-in-central-london-plan-your-travel-and-get-ahead-of-the-games--thursday-26-july-2012">Olympic Torch relay has arrived in central London: Plan your travel and 'Get Ahead of the Games' - Thursday, 26 July 2012<br />26 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/olympic-torch-travels-up-thames-ahead-of-opening-ceremony-plan-your-travel-and-get-ahead-of-the-games--friday-27-july">Olympic Torch travels up Thames ahead of Opening Ceremony: Plan your travel and 'get ahead of the Games' - Friday 27 July<br />26 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/huge-crowds-expected-on-capitals-streets-as-team-gbs-tour-de-france-heroes-go-for-gold">Huge crowds expected on Capital's streets as Team GB's Tour de France heroes go for gold<br />26 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/olympic-torch-relay-arrives-in-central-london--plan-your-travel-and-get-ahead-of-the-games--thursday-26-july-2012">Olympic Torch relay arrives in central London:  Plan your travel and 'Get Ahead of the Games' - Thursday, 26 July 2012<br />25 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/two-days-to-go-olympic-route-network-now-in-operation-and-being-enforced-with-games-lanes-to-operate-flexibly--wednesday-25-july-2012">Two days to go: Olympic Route Network now in operation and being enforced with Games Lanes to operate flexibly - Wednesday 25 July 2012<br />25 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-announces-beat-the-heat-plan-for-summer-2012">TfL announces beat the heat plan for summer 2012<br />25 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/race-to-the-finish-line-as-greenfingered-tube-staff-grow-for-gold">Race to the finish line as green-fingered Tube staff grow for gold   <br />25 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/olympic-flame-takes-historic-journey-with-longserving-london-underground-employee-in-advance-of-public-transport-games">Olympic Flame takes historic journey with long-serving London Underground employee in advance of public transport Games <br />24 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/three-days-until-the-curtain-comes-up-at-opening-ceremony-time-to-plan-your-travel-and-get-ahead-of-the-games--wednesday-25-july-2012">Three days until the curtain comes up at Opening Ceremony: Time to plan your travel and 'Get Ahead of the Games' - Wednesday, 25 July 2012<br />24 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/olympic-route-network--in-operation-and-enforced-from-tomorrow-wednesday-25-july">Olympic Route Network - in operation and enforced from tomorrow, Wednesday 25 July<br />24 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/four-days-to-go-to-opening-ceremony--time-to-plan-your-travel-and-get-ahead-of-the-games--tuesday-24-july-2012">Four days to go to Opening Ceremony:  Time to plan your travel and 'Get Ahead of the Games' - Tuesday, 24 July 2012<br />23 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/four-days-to-go-to-opening-ceremony-time-to-plan-your-travel-and-get-ahead-of-the-games--tuesday-24-july-2012">Four days to go to Opening Ceremony: Time to plan your travel and 'Get Ahead of the Games' - Tuesday 24 July 2012<br />23 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-announces-range-of-innovative-measures-and-new-proposed-action-plan-to-further-improve-road-safety-across-london">TfL announces range of innovative measures and new proposed Action Plan to further improve road safety across London<br />23 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/mayors-roads-task-force-gets-started">Mayor's Roads Task Force gets started <br />22 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/less-than-one-week-to-opening-ceremony--time-to-plan-your-travel-and-get-ahead-of-the-games--monday-23-july-2012">Less than one week to Opening Ceremony:  Time to plan your travel and 'Get Ahead of the Games' - Monday, 23 July 2012<br />22 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/final-works-on-londons-roads-begin-to-ensure-the-olympic-route-network-is-ready-for-operation-on-wednesday-25-july">Final works on London's roads begin to ensure the Olympic Route Network is ready for operation on Wednesday 25 July<br />21 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/olympic-torch-relay-has-arrived-in-london--plan-your-travel-and-get-ahead-of-the-games-tomorrow--sunday-22-july-2012">Olympic Torch Relay has arrived in London:  Plan your travel and 'Get Ahead of the Games' tomorrow - Sunday, 22 July 2012<br />21 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/mayor-outlines-plans-to-deliver-further-30-per-cent-reduction-in-tube-delays">Mayor outlines plans to deliver further 30 per cent reduction in Tube delays<br />20 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/drivers-reminded-that-final-preparatory-works-on-the-olympic-route-network-will-begin-on-friday-night-to-have-it-ready-for-operation-from-25-july">Drivers reminded that final preparatory works on the Olympic Route Network will begin on Friday night, to have it ready for operation from 25 July<br />20 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/work-on-further-improvements-to-major-junctions-in-the-capital-begins-this-autumn">Work on further improvements to major junctions in the Capital begins this autumn<br />20 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/olympic-torch-relay-has-arrived-in-london--plan-your-travel-and-get-ahead-of-the-games-tomorrow--saturday-21-july-2012">Olympic Torch Relay has arrived in London:  Plan your travel and 'Get Ahead of the Games' tomorrow - Saturday, 21 July 2012<br />20 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/mayor-and-tfl-to-provide-military-personnel-with-free-travel-during-london-2012-games">Mayor and TfL to provide military personnel with free travel during London 2012 Games<br />19 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/new-look-london-bridge-bus-station-unveiled-in-time-for-the-london-2012-games-and-beyond">New look London Bridge bus station unveiled in time for the London 2012 Games and beyond<br />19 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-welcomes-resolution-of-unite-bus-workers-pay-dispute">TfL welcomes resolution of Unite bus workers pay dispute<br />18 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-carries-out-final-preparatory-works-on-the-olympic-route-network-to-have-it-ready-for-operation-from-25-july">TfL carries out final preparatory works on the Olympic Route Network to have it ready for operation from 25 July<br />18 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/heathrow-terminals-123-tube-station-fit-for-2012-games-and-beyond">Heathrow Terminals 1,2,3 Tube station fit for 2012 Games and beyond<br />18 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/mayor-of-london-and-transport-secretary-visit-2012-transport-coordination-centre-and-declare-london-and-uk-ready-to-welcome-the-world">Mayor of London and Transport Secretary visit 2012 Transport Coordination Centre and declare London and UK ready to welcome the world<br />17 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-harnesses-social-media-to-share-realtime-travel-information-during-the-games">TfL harnesses social media to share real-time travel information during the Games<br />13 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/new-barclays-cycle-hire-leisure-routes-for-summer-in-the-city">New Barclays Cycle Hire leisure routes for summer in the city<br />13 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-urges-dont-get-caught-out-as-it-sets-out-plans-and-travel-advice-for-olympic-torch-relay-and-first-days-of-olympic-games">TfL urges 'don't get caught out' as it sets out plans and travel advice for Olympic Torch Relay and first days of Olympic Games<br />12 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/weekend-upgrade-works-paused-as-tube-gets-matchfit-for-games-time">Weekend upgrade works paused as Tube gets match-fit for Games time<br />12 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/high-court-rejects-addison-lees-call-for-minicabs-to-use-bus-lanes">High Court rejects Addison Lee's call for minicabs to use bus lanes<br />11 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/businesses-stocking-up-londons-firms-take-steps-to-reduce-deliveries-during-gamestime">Businesses stocking up: London's firms take steps to reduce deliveries during Games-time <br />10 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/green-wall-installed-at-the-mermaid-to-help-trap-harmful-pollutants">Green wall installed at The Mermaid to help trap harmful pollutants<br />09 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/farringdon-becomes-the-66th-stepfree-tube-station">Farringdon becomes the 66th step-free Tube station <br />09 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/transport-commissioner-peter-hendy-cbe-takes-to-twitter-to-answer-questions-about-transport-at-gamestime">Transport Commissioner Peter Hendy CBE takes to Twitter to answer questions about transport at Games-time<br />05 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/traffic-through-kingsway-tunnel-to-be-reversed-from-this-weekend-as-part-of-build-and-preparations-for-the-olympic-route-network">Traffic through Kingsway Tunnel to be reversed from this weekend as part of build and preparations for the Olympic Route Network <br />05 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/300th-hybrid-bus-introduced-to-londons-fleet-helping-to-improve-air-quality">300th hybrid bus introduced to London's fleet, helping to improve air quality <br />05 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-welcomes-suspension-of-strike-called-by-the-leadership-of-unite">TfL welcomes suspension of strike called by the leadership of Unite<br />04 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-advice-to-passengers-during-potential-industrial-action-by-unite">TfL advice to passengers during potential industrial action by Unite<br />04 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/mind-the-app-wifi-arrives-at-over-40-london-underground-stations">Mind the app! WiFi arrives at over 40 London Underground stations <br />04 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/tfl-offers-to-share-any-additional-bus-revenue-from-london-2012-games-with-bus-staff">TfL offers to share any additional bus revenue from London 2012 Games with bus staff<br />04 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/dont-get-caught-out--businesses-and-londoners-urged-to-plan-their-gamestime-travel">Don't get caught out - businesses and Londoners urged to plan their Games-time travel <br />03 Jul 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/july/sporting-legend-iwan-thomas-warms-up-commuters-to-help-them-avoid-gamestime-travel-disruptions">Sporting legend Iwan Thomas warms up commuters to help them avoid Games-time travel disruptions <br />02 Jul 2012</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17054">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17314">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17404">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17484">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/august">August</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17768">July</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17984">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/may">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/april">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/march">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from July 2012";}
        
        


 