


@{ViewBag.Title = "April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2012">2012</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">April</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>April</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/tfls-high-court-injunction-prevents-addison-lee-from-instructing-its-drivers-to-use-bus-lanes">TfL's High Court injunction prevents Addison Lee from instructing its drivers to use bus lanes<br />26 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/shortlisted-bidders-for-the-bank-station-capacity-upgrade-project">Shortlisted bidders for the Bank Station Capacity Upgrade project<br />24 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/londoners-urged-to-plan-ahead-for-gamestime-travel-as-full-and-final-tube-and-rail-hotspot-data-released">Londoners urged to plan ahead for Games-time travel as full and final Tube and rail 'hotspot' data released<br />23 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/new-strengthening-cables-within-hammersmith-flyover-to-be-installed-this-week">New strengthening cables within Hammersmith Flyover to be installed this week<br />16 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/addison-lee-drivers-warned-not-to-drive-in-londons-bus-lanes-or-face-criminal-prosecution">Addison Lee drivers warned not to drive in London's bus lanes or face criminal prosecution<br />15 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/new-strengthening-cables-within-hammersmith-flyover-to-be-installed-next-week">New strengthening cables within Hammersmith Flyover to be installed next week<br />12 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/transport-for-london-will-keep-london-running-for-the-2012-virgin-london-marathon">Transport for London will keep London running for the 2012 Virgin London Marathon <br />10 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/new-entrance-to-west-croydon-station-provides-better-access-for-all">New entrance to West Croydon station provides better access for all<br />05 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/major-resurfacing-works-to-take-place-along-victoria-embankment-across-easter-bank-holiday-weekend">Major resurfacing works to take place along Victoria Embankment across Easter Bank Holiday weekend<br />04 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/all-the-worlds-poets-on-the-tube">All the world's poets on the Tube<br />04 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/temporary-changes-to-bus-services-during-london-2012-games-test-event-in-woolwich">Temporary changes to bus services during London 2012 Games test event in Woolwich.<br />03 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/outofhours-deliveries-to-be-encouraged-during-london-2012-olympic-and-paralympic-games">Out-of-hours deliveries to be encouraged during London 2012 Olympic and Paralympic Games<br />02 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/capitals-rogue-limousines-targeted">Capital's rogue limousines targeted<br />02 Apr 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/april/baby-on-board">Baby on board<br />02 Apr 2012</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17054">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17314">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17404">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17484">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/august">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17768">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17984">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/may">May</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/april">April</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/march">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from April 2012";}
        
        


 