


@{ViewBag.Title = "August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2012">2012</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">August</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>August</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/london-2012-paralympic-games--day-2-first-day-of-athletic-action-at-the-olympic-stadium">London 2012 Paralympic Games - Day 2: First day of athletic action at the Olympic Stadium <br />31 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/actionpacked-day-in-store-as-paralympic-games-events-begin-at-the-olympic-stadium--friday-31-august-2012">Action-packed day in store as Paralympic Games events begin at the Olympic Stadium - Friday 31 August 2012<br />30 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/the-london-2012-paralympic-games-get-under-way-tomorrow--londoners-reminded-to-avoid-the-busiest-times-and-places-once-again">The London 2012 Paralympic Games get under way tomorrow:  Londoners reminded to plan their travel to avoid the busiest times and places once again<br />28 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/upward-trend-continues-as-tfl-publish-latest-tube-performance-figures">Upward trend continues as TfL publish latest Tube performance figures<br />28 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/save-on-travel-costs-and-apply-for-16-zip-oyster-photocard">Save on travel costs and apply for 16+ Zip Oyster photocard <br />24 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/dlr-celebrates-25th-birthday-by-fulfilling-olympian-task">DLR celebrates 25th birthday by fulfilling Olympian task<br />23 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/tfl-sets-out-plans-to-implement-the-paralympic-route-network-which-begins-operation-on-the-day-of-the-games-opening-ceremony">TfL sets out plans to implement the Paralympic Route Network, which begins operation on the day of the Games Opening Ceremony<br />23 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/new-guidance-for-bus-drivers-to-help-improve-journeys-for-wheelchair-and-mobility-scooter-users">New guidance for bus drivers to help improve journeys for wheelchair and mobility scooter users<br />23 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/london-and-uk-ready-to-welcome-the-world-for-best-ever-paralympic-games-with-most-accessible-transport-network">London and UK ready to welcome the world for best ever Paralympic Games with most accessible transport network<br />22 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/the-london-2012-paralympic-games--londoners-urged-to-welcome-the-world-and-plan-their-travel-to-avoid-busiest-times-and-places-once-again">The London 2012 Paralympic Games:  Londoners urged to welcome the world and plan their travel to avoid busiest times and places once again<br />21 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/check-before-you-travel-to-notting-hill-carnival-and-enjoy-the-event-sunday-26--bank-holiday-monday-27-august-2012">Check before you travel to Notting Hill Carnival and enjoy the event: Sunday 26 - Bank Holiday Monday 27 August 2012<br />20 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/tube-power-network-contract-restructure-to-bring-savings-and-greater-operational-flexibility">Tube power network contract restructure to bring savings and greater operational flexibility<br />16 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/the-final-day-of-the-olympics-with-a-busy-day-of-sporting-events-followed-by-the-closing-ceremony--sunday-12-august-2012">The final day of the Olympics with a busy day of sporting events followed by the Closing Ceremony - Sunday 12 August 2012 <br />12 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/record-numbers-carried-on-the-transport-network-during-londons-unforgettable-olympics">Record numbers carried on the transport network during London's unforgettable Olympics<br />12 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/olympic-route-network-ends-operation-midnight-on-tuesday">Olympic Route Network ends operation midnight on Tuesday <br />12 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/the-final-day-of-the-olympics-with-a-busy-day-of-sporting-events-followed-by-the-closing-ceremony--sunday-12-august-2012">The final day of the Olympics with a busy day of sporting events followed by the Closing Ceremony - Sunday 12 August 2012 <br />11 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/day-15-of-the-2012-olympic-games--saturday-11-august-2012-busy-day-ahead-on-the-penultimate-day">Day 15 of the 2012 Olympic Games - Saturday 11 August 2012: busy day ahead on the penultimate day<br />11 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/london-underground-carries-a-phenomenal-47-million-in-first-12-days-of-the-2012-olympic-games">London Underground carries a phenomenal 47 million in first 12 days of the 2012 Olympic Games<br />10 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/day-14-of-the-2012-olympic-games--friday-10-august-2012-more-excitement-ahead-as-we-approach-the-final-days-of-the-london-2012-games">Day 14 of the 2012 Olympic Games - Friday 10 August 2012: more excitement ahead as we approach the final days of the London 2012 Games<br />09 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/half-a-million-passengers-take-off-in-first-six-weeks-of-emirates-air-line">Half a million passengers take off in first six weeks of Emirates Air Line<br />08 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/day-thirteen-of-the-2012-olympic-games-another-busy-day-with-the-womens-football-plus-athletics-at-the-olympic-stadium">Day thirteen of the 2012 Olympic Games - Thursday 9 August 2012: another busy day with the women's Football gold medal match plus Athletics at the Olympic Stadium<br />08 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/day-12-of-the-2012-olympic-games-and-the-basketball-moves-from-the-olympic-park-to-north-greenwich-arena--wednesday-8-august-2012">Day 12 of the 2012 Olympic Games and the Basketball moves from the Olympic Park to North Greenwich Arena - Wednesday 8 August 2012<br />07 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/womens-cycling-sprint-and-mens-triathlon-at-hyde-park-headline-day-eleven-of-the-2012-olympic-games--tuesday-7-august-2012">Women's Cycling Sprint and men's Triathlon at Hyde Park headline day eleven of the 2012 Olympic Games - Tuesday 7 August 2012<br />07 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/womens-cycling-sprint-and-mens-triathlon-at-hyde-park-head-up-day-eleven-of-the-2012-olympic-games--tuesday-7-august-2012">Women's Cycling Sprint and men's Triathlon at Hyde Park head up day eleven of the 2012 Olympic Games - Tuesday 7 August 2012<br />06 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/mayor-announces-another-day-of-record-ridership-on-tube-and-dlr-as-olympic-success-bring-crowds-into-the-city">Mayor announces another day of record ridership on Tube and DLR as Olympic success bring crowds into the city <br />06 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/another-packed-sporting-day-awaits-as-team-gbs-recordbreaking-cyclist-jason-kenny-goes-for-gold-on-monday-6-august-2012">Another packed sporting day awaits as Team GB's record-breaking cyclist Jason Kenny goes for gold on the 10th day of the 2012 Olympic Games - Monday 6 August 2012<br />05 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/day-nine-of-the-2012-olympic-games--sunday-5-august-2012-athletics-continues-at-the-olympic-stadium">Day nine of the 2012 Olympic Games - Sunday 5 August 2012: Women's Olympic Marathon in central London as athletics continues at the Olympic Stadium<br />05 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/another-busy-day-with-womens-triathlon-and-mens-20km-race-walk-plus-athletics-at-olympic-stadium">Another busy day with women's Triathlon and men's 20km Race Walk, plus Athletics at Olympic Stadium<br />04 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/london-2012-games-bring-busiest-days-in-tubes-history">London 2012 Games bring busiest days in Tube's history<br />04 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/day-eight-of-the-2012-olympic-games--saturday-04-august-2012--will-see-the-womens-triathlon-and-the-mens-race-walk-in-full-speed">Day eight of the 2012 Olympic Games - Saturday, 04 August 2012 - will see the women's Triathlon and the men's Race Walk in full speed<br />03 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/tfl-advisory-alterations-to-olympic-route-network">TfL Advisory: Alterations to Olympic Route Network<br />03 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/british-track-cyclists-aim-to-follow-bradley-wiggins-gold-2012-olympic-games--thursday-02-august-2012">British track cyclists aim to follow Bradley Wiggins' Gold as they take to the Velodrome on sixth day of the 2012 Olympic Games - Thursday, 02 August 2012<br />02 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/announcement-about-access-to-westfield-stratford-city">Announcement about access to Westfield Stratford City<br />02 Aug 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/august/british-medal-hopefuls-take-to-the-velodrome-on-sixth-day-of-the-2012-olympic-games--thursday-2-august-2012">British medal hopefuls take to the Velodrome on sixth day of the 2012 Olympic Games - Thursday 2 August 2012<br />01 Aug 2012</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17054">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17314">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17404">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17484">September</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/august">August</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17768">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17984">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/may">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/april">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/march">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from August 2012";}
        
        


 