


@{ViewBag.Title = "January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2012">2012</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">January</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>January</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/tube-performance-on-track-for-a-successful-games">Tube performance on track for a successful Games <br />31 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/changes-to-travel-around-paddington-station-due-to-crossrail-works">Changes to travel around Paddington Station due to Crossrail works<br />30 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/dlr-launches-a-new-threecar-route-and-enhanced-timetable-to-meet-gamestime-demand">DLR launches a new three-car route and enhanced timetable to meet Games-time demand<br />30 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/major-campaign-launched-to-help-people-get-ahead-of-the-games-and-keep-london-and-the-uk-moving-in-2012">Major campaign launched to help people 'Get Ahead of the Games' and keep London and the UK moving in 2012<br />30 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/avoiding-congestion-made-easier-with-new-transport-for-london-live-traffic-news">Avoiding congestion made easier with new Transport for London live traffic news<br />27 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/london-overground-passenger-satisfaction-soars-following-investment-in-capacity-trains-and-stations">London Overground passenger satisfaction soars following investment in capacity, trains and stations<br />26 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/peter-andre-presents-awards-to-london-school-children-for-their-winning-stories-about-where-they-live">Peter Andre presents awards to London school children for their winning stories about where they live<br />26 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/mayor-welcomes-green-light-for-scheme-to-charge-companies-for-disruptive-roadworks">Mayor welcomes green light for scheme to charge companies for disruptive roadworks<br />26 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/mayor-welcomes-200th-greener-cleaner-hybrid-bus-to-londons-fleet">Mayor welcomes 200th greener, cleaner hybrid bus to London's fleet<br />25 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/the-ayes-have-it-as-new-docking-station-in-the-heart-of-westminster-gets-planning-permission">The ayes have it as new docking station in the heart of Westminster gets planning permission<br />23 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/londoners-invited-to-a-winter-wander-with-free-guided-walks-on-saturday-28-and-sunday-29-january-2012">Londoners invited to a 'winter wander' with free guided walks on Saturday 28 and Sunday 29 January 2012 <br />23 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/pedestrian-countdown-technology-to-be-rolled-out-across-london-from-summer-2012">Pedestrian Countdown technology to be rolled out across London from summer 2012<br />20 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/bt-and-cable-and-wireless-fined-andpound5000-for-breaking-roadworks-rules">BT and Cable & Wireless fined &pound;5,000 for breaking roadworks rules<br />19 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/clean-sweep-at-coach-and-bus-stations">Clean sweep at coach and bus stations<br />18 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/new-figures-show-barclays-cycle-hire-is-a-convenient-fun-and-fast-way-to-discover-london">New figures show Barclays Cycle Hire is a convenient, fun and fast way to discover London <br />17 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/transport-for-london-awards-greener-cleaning-contract-for-coach-and-bus-stations">Transport for London awards 'greener' cleaning contract for coach and bus stations<br />17 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/tfl-announce-design-proposals-to-further-improve-cycle-safety-at-bow-roundabout">TfL announce design proposals to further improve cycle safety at Bow roundabout <br />12 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/free-london-2012-support-package-for-freight-operators-and-their-customers">Free London 2012 support package for freight operators and their customers  <br />12 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/hammersmith-flyover-to-reopen-for-cars-and-light-traffic-as-vital-repair-works-continue">Hammersmith flyover to reopen for cars and light traffic as vital repair works continue<br />12 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/new-campaign-urges-drivers-to-make-a-small-switch-to-help-deliver-cleaner-healthier-air">New campaign urges drivers to 'make a small switch' to help deliver cleaner, healthier air<br />10 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/mayor-on-site-as-work-begins-to-strengthen-hammersmith-flyover">Mayor on site as work begins to strengthen Hammersmith Flyover<br />06 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/more-reliable-tube-carries-recordbreaking-numbers">More reliable Tube carries record-breaking numbers<br />06 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/transport-for-london-and-cbs-outdoor-continue-to-work-together">Transport for London and CBS Outdoor continue to work together <br />04 Jan 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/january/mayor-hails-new-measures-in-2012-to-deliver-cleaner-air-for-london">Mayor hails new measures in 2012 to deliver cleaner air for London<br />02 Jan 2012</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17054">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17314">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17404">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17484">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/august">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17768">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17984">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/may">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/april">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/march">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/february">February</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/january">January</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from January 2012";}
        
        


 