


@{ViewBag.Title = "March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2012">2012</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">March</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>March</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/improvement-works-to-begin-at-bow-roundabout">Improvement works to begin at Bow roundabout<br />29 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/london-underground-publishes-latest-performance-figures">London Underground publishes latest performance figures<br />29 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/tfl-encourages-londoners-to-get-ahead-of-the-games-this-summer">TfL encourages Londoners to 'Get Ahead of the Games' this summer<br />28 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/work-continues-in-london-bridge-station-area">Work continues in London Bridge Station area<br />28 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/limited-edition-oyster-cards-commemorate-a-summer-of-celebration">Limited edition Oyster cards commemorate a summer of celebration<br />27 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/dft-announces-funding-which-will-see-70-additional-hybrid-buses-on-londons-streets">DfT announces funding which will see 70 additional hybrid buses on London's streets <br />26 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/wretch-32-and-stooshe-take-to-youtube-in-support-of-latest-road-safety-campaign">Wretch 32 and Stooshe take to YouTube in support of latest road safety campaign<br />23 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/mercedesbenz-initiative-to-help-london-cabbies-deliver-cleaner-air">Mercedes-Benz initiative to help London cabbies deliver cleaner air <br />23 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/uks-leading-personal-safety-charity-backs-tfls-realtime-bus-information-service">UK's leading personal safety charity backs TfL's real-time bus information service <br />22 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/london-underground-statement-following-olympic-pay-talks-at-acas">London Underground statement following Olympic pay talks at ACAS<br />21 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/mayor-announces-innovative-technology-is-helping-traffic-flow-more-smoothly-and-cut-disruption">Mayor announces innovative technology is helping traffic flow more smoothly and cut disruption<br />19 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/first-electric-charge-points-installed-at-games-venue-to-support-2012-games-fleet-and-leave-green-legacy">First electric charge points installed at Games venue to support 2012 Games fleet and leave green legacy<br />19 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/plans-for-london-2012-games-transport-legacy-unveiled">Plans for London 2012 Games transport legacy unveiled<br />19 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/mayor-welcomes-improvements-to-key-piers-in-time-for-the-2012-games">Mayor welcomes improvements to key piers in time for the 2012 Games<br />19 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/mayor-gets-green-light-to-levy-hefty-charges-on-utilities-who-dig-up-londons-busiest-roads-from-june-2012">Mayor gets green light to levy hefty charges on utilities who dig up London's busiest roads from June 2012<br />16 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/victoria-coach-station-celebrates-its-80th-birthday">Victoria Coach Station celebrates its 80th birthday<br />16 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/excellence-and-bravery-recognised-at-london-bus-awards">Excellence and bravery recognised at London Bus Awards <br />16 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/stop-think-live--transport-for-london-urges-teenagers-not-to-get--distracted-on-the-roads">'Stop. Think. Live.' - Transport for London urges teenagers not to get  distracted on the roads<br />15 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/tfl-sets-out-london-2012-games-road-event-plans">TfL sets out London 2012 Games road event plans<br />13 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/major-eastern-expansion-of-mayors-flagship-barclays-cycle-hire-scheme-goes-live">Major eastern expansion of Mayor's flagship Barclays Cycle Hire scheme goes live<br />08 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/hammersmith-flyover-work-to-restore-full-traffic-use-continues-apace">Hammersmith Flyover work to restore full traffic use continues apace<br />07 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/top-london-attractions-announce-gamestime-after-work-offers-to-encourage-londoners-to-retime-their-commute">Top London attractions announce Games-time 'after work' offers to encourage Londoners to re-time their commute<br />07 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/report-on-air-quality-indicates-no-significant-impacts-expected-during-london-2012-games">Report on air quality indicates no significant impacts expected during London 2012 Games<br />05 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/tube-set-to-post-most-reliable-performance-figures-for-a-decade">Tube set to post most reliable performance figures for a decade<br />02 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/londons-utility-bosses-agree-action-plan-for-less-disruptive-roadworks">London's utility bosses agree action plan for less disruptive roadworks<br />02 Mar 2012</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2012/march/spiderweb-reduces-theft-on-london-transport-by-14-per-cent">Spiderweb reduces theft on London transport by 14 per cent<br />01 Mar 2012</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17054">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17314">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17404">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17484">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/august">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17768">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/17984">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/may">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/april">April</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/march">March</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2012/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from March 2012";}
        
        


 