


@{ViewBag.Title = "Bus network helping patients in step towards London becoming first dementia-friendly capital city";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bus network helping patients in step towards London becoming first dementia-friendly capital city</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bus network helping patients in step towards London becoming first dementia-friendly capital city</h1>
        <div class="content-page-press-release">
        24 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Traditional London bus stop installed inside St George's Hospital, Tooting, as a memorable point of reference for patients
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is just one of the many ways that we are working to make life easier for all Londoners, including those with medical conditions or disabilities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Claire Mann</div>
            <div class="quotee-job-title">TfL's Director of Bus Operations</div>
        </div>
</div>

 <div class="on-this-page">
<p>As part of Dementia Action Week, TfL and St George's Hospital in Tooting have worked together to improve the experience of people living with dementia.</p>

<p>A traditional bus stop has been installed in the Dalby Ward at St George's, which is on the 5th floor of the hospital's Lanesborough Wing, providing a point of familiar recognition for patients feeling lost or disorientated.</p>

<p>It helps those with dementia connect with old memories, creating a calm place to sit down and take a break. The wording on the stop has been developed in partnership with clinicians at the Trust and from suggestions by hospital staff.</p>

<p>The London bus network, which is one of the most accessible in the world, plays a vital part in helping people access employment, leisure and healthcare. &nbsp;It is now also increasingly helping people with dementia across the city.</p>

<h2>First dementia-friendly capital</h2>

<p>The Mayor of London wants to make the city the first dementia-friendly capital and, as part of this commitment, all 26,000 bus drivers across the TfL network will be trained as Dementia Friends by 2022. The training is aimed at supporting the 72,000 people with dementia in London to live a normal life.</p>

<p>TfL has already trained around 300 bus drivers as Dementia Friends, meaning they are able to spot someone with the condition, see the person rather than the disease and give them the help they need to get from A to B.</p>

<p>Earlier this week TfL convened a Dementia Summit, bringing together people from the transport industry, including operators, unions and accessibility groups.</p>

<p>The event looked at changing people's perceptions of dementia and will see a wide range of organisations working together to increase understanding of the condition.</p>

<p>Claire Mann, TfL's Director of Bus Operations, said: 'It's fantastic that our bus stops are a point of recognition and familiarity for people with dementia who are being treated at St George's Hospital.</p>

<p>'We have a duty of care to passengers on our network, particularly those who are vulnerable. I'm pleased that after an initial pilot we will be able to give all bus drivers the confidence to support those who need an extra bit of help when out and about.</p>

<p>'This is just one of the many ways that we are working to make life easier for all Londoners, including those with medical conditions or disabilities.'</p>

<h2>Improve lives</h2>

<p>Jen Tulloch, Clinical Nurse Specialist for Dementia and Delirium at St George's, said: 'This is a fantastic initiative, and is one of the many steps we have taken at St George's to improve care for people living with dementia.</p>

<p>'A hospital stay can often be challenging for patients with dementia &#45; and by having a bus stop on the ward, it gives our patients with dementia a familiar and safe space to go to if they are feeling distressed.'</p>

<p>Esther Watts, Alzheimer's Society's Senior Dementia Friendly Communities Officer for London, said: 'Dementia is the greatest health and social care challenge facing London today. There are over 72,000 people across London living with dementia, with many more friends and family affected by the condition.'</p>

<p>'The progress that TfL and St George's have made in supporting those affected by the condition is commendable. St George's installing this stop puts them on par with other leading hospitals in the sector.</p>

<p>'And, by taking the steps to ensure their drivers are able to support those affected by the condition, TfL is enabling people affected by dementia to live well and continue to experience all that London has to offer.'</p>

<p>Heidi Alexander, Deputy Mayor for Transport, said: 'I'm proud that TfL and St George's have joined together to help improve the lives of tens of thousands of people who are living with dementia.</p>

<p>'Sadiq is determined to make London the first dementia-friendly capital in the world and initiatives like these help make our city a more welcoming and accessible place for everyone.'</p>

<h2>A great initiative</h2>

<p>Martin Stevens, a Go-Ahead London bus&nbsp;driver from Merton Garage, said: 'Local buses play a really important role transporting people making essential journeys and in helping those with serious medical conditions live an independent&nbsp;life where possible.&nbsp;</p>

<p>'The&nbsp;Dementia Friends training I received has made me aware of&nbsp;the&nbsp;symptoms, which is vital, as they are not always obvious.&nbsp; This is a great initiative and&nbsp;I am delighted that it is being extended to all&nbsp;London bus drivers over the coming years.'</p>

<p>Dementia is common in seriously ill older people admitted to hospital. Staff at St George's work hard to support people in hospital with dementia &#45; including a nurse-led dementia and delirium team who support and advise ward staff across the Trust.</p>

<p>The neurology department at St George's has an active programme of research into dementia, provides expertise on young-onset and atypical dementias, and has developed a support group for people affected by young-onset dementia (<a href="http://www.youngdementiasupport.london/">www.youngdementiasupport.london</a>).</p>

<hr />
<p><strong>Notes to editors:</strong></p>

<ul>
	<li>Trueform signs is contributing to the initiative by providing the sign for free</li>
	<li>Drivers who have undertaken the dementia training are more aware of signs of when someone is confused and knowing how to help them remember where they boarded the bus, or making them aware of where they need to get off. The course also challenges some of the assumptions made about dementia. It underlines that people experience the condition in different ways and still may be able to experience everyday activities, including going to work, being able to drive and have relationships</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-Bus network helping patients in step towards London becoming first dementia-friendly capital city -->

 
 
        
        
            @{ViewBag.Description = "Bus network helping patients in step towards London becoming first dementia-friendly capital city";}
        
        


 