


@{ViewBag.Title = "GLA - First month of Mayor's ULEZ sees 74 per cent of vehicles comply ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - First month of Mayor’s ULEZ sees 74 per cent of vehicles comply </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - First month of Mayor’s ULEZ sees 74 per cent of vehicles comply </h1>
        <div class="content-page-press-release">
        16 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Since launching in the central London congestion charging zone on 8 April, the ULEZ has already driven a significant increase in vehicle compliance
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's early days, but it's great to see Londoners and businesses are doing their bit to make a difference, with nearly three quarters of the vehicles driving into central London each day now meeting the standards required to turn around this public health crisis"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/almost-three-quarters-complying-with-new-standards">london.gov.uk</a></p>

<ul>
	<li>New figures reveal progress made since February 2017, when the Mayor confirmed the introduction of the Toxicity Charge (T-Charge) as a stepping stone towards the ULEZ</li>
	<li>Number of older, more polluting non-compliant vehicles has reduced by 9,400 on an average day</li>
</ul>

<p>The Mayor of London, Sadiq Khan, has today praised thousands of motorists across the capital for changing their behaviour to help improve London's air quality, as a report evaluating the first month's impact of his Ultra-Low Emission Zone (ULEZ) found that 74 per cent of vehicles driving into the zone were compliant with the new standards.</p>

<p>Polluting vehicles account for around half of London's harmful NOx air emissions, and air pollution costs the capital up to &pound;3.7 billion every year. Launched on 8 April and operating alongside the congestion charge, the world's first Ultra-Low Emission Zone is helping address London's toxic air health crisis that currently leads to thousands of premature deaths annually, and increases the risk of asthma, cancer and dementia.</p>

<p>It operates 24 hours a day, seven days a week, 365 days a year in the central London congestion charging zone. Motorists who drive in the zone in a vehicle that does not meet the new emission standard (petrol vehicles that do not meet Euro 4 standards and diesel vehicles that do not meet Euro 6) have to pay a daily charge.</p>

<p>Today's report examines the initial impact of the ULEZ throughout April, the first month since its launch.* Its key findings include:</p>

<ul>
	<li>In the first month of operation (excluding non-typical days) the compliance rate with the ULEZ standards was around 74 per cent in a 24-hour period, and 71 per cent in congestion charging hours &#45; a huge increase from 39 per cent in February 2017, and 61 per cent in March 2019 (congestion charging hours).**</li>
	<li>There were around 9,400 fewer older, more polluting, non-compliant vehicles seen in the zone on an average day (excluding non-typical days), a reduction of over a quarter (26 per cent). &nbsp;</li>
</ul>

<p>In addition to examining the first month after launch, the report also outlines how the 'preparation period' for the ULEZ affected the numbers and types of vehicles driving into central London, as Londoners and businesses replaced their older polluting vehicles and began using cleaner transport alternatives including walking, cycling and public transport.*** The Mayor has also led by example by ensuring every bus operating in central London meets or exceeds the ULEZ standards.</p>

<p>The report highlights how compliance has been improving since February 2017, when the Mayor confirmed the introduction of the Toxicity Charge (T-Charge) as a stepping stone towards the ULEZ and Londoners and businesses began preparing for the new schemes. The report compares the number of vehicles detected in the ULEZ and compliance rates for February 2017, March 2019 (the month before launch) and April 2019, and found that over the period as a whole:</p>

<ul>
	<li>There were around 36,100 fewer older, more polluting, non-compliant vehicles seen in the zone on an average day (excluding non-typical days), a reduction of around 58 per cent, from February 2017 to April 2019.</li>
	<li>There was an 80 per cent increase in the proportion of vehicles in the central zone that were compliant from February 2017 to April 2019 (excluding non-typical days).</li>
</ul>

<p>This has already started translating into real-world improvements in air quality, including a reduction of approximately 20 per cent in NO2 concentrations measured at roadside monitoring sites in the zone since February 2017.</p>

<p>The Mayor of London, Sadiq Khan, said:</p>

<p>'Today's report shows how bold action reaps rewards &#45; just one month after launching the world's first ULEZ, leading the way for cities around the globe, we have already seen a significant impact on the types of vehicles driving in the centre of our capital and polluting our air. These were big changes, and vital ones - our toxic air is an invisible killer responsible for one of the biggest national health emergencies of our generation.</p>

<p>'It's early days, but it's great to see Londoners and businesses are doing their bit to make a difference, with nearly three quarters of the vehicles driving into central London each day now meeting the standards required to turn around this public health crisis. It's vital this compliance is sustained to truly make a difference to our air quality, and as time goes on we will publish more research into the impact of the ULEZ, progressing this ground-breaking, life-saving work even further.'</p>

<p>It is not yet possible to determine the full impact of the ULEZ on air quality concentrations and emissions, because of the short time since its launch and other factors that may have affected traffic and concentrations, such as Easter holidays and the weather, in the central zone during this time. The best interim measures of success is vehicle compliance, with more research to come as the scheme progresses.</p>

<p>Alex Williams, Transport for London's Director of City Planning, said:</p>

<p>'Everyone benefits from clean air, which is why it is great to see that so many people have responded to the Ultra-Low Emission Zone, which has resulted in a reduction in the number of polluting vehicles in the capital. The ULEZ will nearly halve road-based NOx emissions in central London, and in addition to our work to green up the bus fleet and encourage the taxi industry to switch to cleaner vehicles, together we will help to tackle this public health crisis.'</p>

<p>Petrol vehicles that meet the new standards have been widely available since 2006. There are two ULEZ charge levels for vehicles driving into the zone which do not meet these standards: &pound;12.50 a day for cars, vans and motorbikes and &pound;100 a day for lorries, buses and coaches. Non-compliant vehicles which have failed to pay the charge when driving into the zone during the launch period and are not exempt from the scheme have been issued warning letters from TfL. This has been done for the first contravention to ensure the correct action is taken in the future and to allow for any genuine mistakes that may have occurred.</p>

<p>On an average day (24 hour period) in the scheme's first month of operation around 32,100 non-compliant vehicles were detected in the zone. Of these:</p>

<ul>
	<li>Around 17,400 (54 per cent) paid the charge 4,300 ULEZ web or call centre payments, 8,200 Auto Pay payments and 4,900 ULEZ Fleet charge payments).</li>
	<li>Around 3,000 (9 per cent) were in contravention of the scheme and issued with a warning notice on the first offence.</li>
	<li>Around 11,700 (37 per cent) were not required to pay the daily ULEZ charge as they are eligible for a 100 per cent discount or exemption.</li>
</ul>

<p>Professor Helen Stokes-Lampard, Chair of the Royal College of GPs, said:</p>

<p>'GPs and our teams see many patients with conditions that potentially have links to air pollution, and we know that heart and lung diseases in particular can be exacerbated by poor air quality.</p>

<p>'GPs and their teams work at the heart of the communities they serve, and we should not have to worry about our patients or colleagues being exposed to potentially harmful levels of air pollution when they come to see us or come to work &#45; or just go about their everyday lives.</p>

<p>'It's really encouraging to know that the work being done by the Mayor to tackle these issues is already having an impact, and we look forward to seeing the further benefits it will have on our patients, colleagues and the environment as the scheme progresses.'</p>

<p>John Maingay, Director of Policy and Influencing at the British Heart Foundation, said: &quot;It is promising to see that so many motorists are positively responding to the introduction of the ULEZ, which is a step in the right direction towards improving air quality in the capital.<br />
&quot;Our research shows that air pollution - especially particulate matter found in diesel exhausts &#45; can damage the heart and circulatory system. This can lead to devastating effects, such as heart attack and stroke. Recent studies have also shown links to diabetes, which is a risk factor for heart and circulatory diseases.</p>

<p>'While this news is encouraging, it is now important that the progress in reducing the number of heavily-polluting vehicles on the road doesn't stall. Instead, we need to accelerate progress by adopting the World Health Organization's stringent guideline limits for air pollutants into UK law, prompting comprehensive, joined up action at local and national level. This will be key in driving down all harmful emissions across the UK, and protecting people's health.'</p>

<p>Dr Penny Woods, British Lung Foundation Chief Executive, said: &quot;It's early days for the ULEZ but the evidence suggests it's having the effect we hoped for. Fewer older, more polluting vehicles on London's streets and a 20 per cent reduction in health harming nitrogen dioxide will literally be a breath of fresh air for those living in, working in or visiting the zone.</p>

<p>'Air pollution can make life more difficult for people with lung conditions. It can cause their symptoms to flare up, often so badly they need to be admitted to hospital. Parents should also know polluted air is especially dangerous for children's lungs &#45; as well as stunting lung growth it can set them up for host of health problems in their future.</p>

<p>'What's needed now is the ULEZ's expansion and for the rest of the UK to introduce similar measures. It's terribly wrong your postcode dictates how clean the air you breathe is. After all, clean air should be as easy to access as clean water.'&nbsp;</p>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<p>Notes to Editors:</p>

<p>* April 2019 refers to 8 April 2019 &#45; 5 May 2019 to capture the first full month of operation. It is important to note that there were a number of events in the first three weeks of the scheme that will have disrupted traffic volumes such as the Easter bank holidays, school holidays, traffic diversions and the Extinction Rebellion climate protests ('non-typical days'). To allow for this, data analysis has only included the days that did not have disruptions or unusual travel behaviour ('typical' days). Given this small sample these are preliminary results, and a better picture will be available in the coming months. A breakdown of all the raw daily data for the first month is provided in the report.&nbsp;</p>

<p>** The ULEZ is a 24-hour scheme, however, historic data was collected during congestion charging (CC) hours only &#45; 07:00 to 18:00, Monday to Friday. When assessing the impact of the first month of ULEZ compared to historic months, comparison has been made based on CC hours to ensure the comparison is fair. 24-hour data for the first month of the scheme has also been provided in the report.</p>

<p>*** Representative polling done in the first month of the scheme showed that 10 per cent of London drivers say they have &quot;Changed how I plan to travel in the Ultra-Low Emission Zone (ULEZ), such as using public transport, walking or cycling&quot;. <a href="[ioID]#https://data.london.gov.uk/dataset/gla-poll-results-2018">https://data.london.gov.uk/dataset/gla-poll-results-2018</a><br />
Fieldwork: 15th - 18th April 2019</p>

<p>The Mayor of London's Central London Ultra-Low Emission Zone &#45; first month report can be read here: <a href="[ioID]#https://www.london.gov.uk/WHAT-WE-DO/environment/environment-publications/central-london-ultra-low-emission-zone-first-month-report">https://www.london.gov.uk/WHAT-WE-DO/environment/environment-publications/central-london-ultra-low-emission-zone-first-month-report</a></p>

<p><strong>Table showing changes in vehicle numbers and compliance (February 2017 &#45; April 2019)</strong></p>

<p>This table shows the change in vehicle compliance from February 2017 to April 2019, including the scheme's first month of operation (excluding non-typical days). This is presented as an absolute change in the number of vehicles, the change in the percentage of vehicles that are compliant, and also the change in the proportion of vehicles that are compliant.</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<div class="table-container"><table border="1" cellspacing="0" class="Table" style="border-collapse:collapse; border:solid #a5a6a5 1.0pt">
	<tbody>
		<tr>
			<td rowspan="2" style="background-color:#dfc2c3; background:#dfc2c3; border-bottom-width:5a6a5; border-left-width:1.0pt; border-right-width:1.0pt; border-style:solid; border-top-width:5a6a5; padding:0cm 5.4pt 0cm 5.4pt; width:69.35pt" valign="bottom" width="92">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Date</strong></span></span></span></p>
			</td>
			<td colspan="3" style="background-color:#dfc2c3; background:#dfc2c3; border-bottom-width:5a6a5; border-left-width:1.0pt; border-left:none; border-right-width:1.0pt; border-style:solid; border-top-width:5a6a5; padding:0cm 5.4pt 0cm 5.4pt; width:252.75pt" valign="top" width="337">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:16px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Number of vehicles driving in the charging zone per day during CC hours</strong></span></span></span></p>
			</td>
			<td colspan="2" style="background-color:#dfc2c3; background:#dfc2c3; border-bottom-width:5a6a5; border-left-width:1.0pt; border-left:none; border-right-width:1.0pt; border-style:solid; border-top-width:5a6a5; padding:0cm 5.4pt 0cm 5.4pt; width:159.3pt" valign="top" width="212">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:16px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Proportions of vehicles driving in the charging zone during CC hours</strong></span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#dfc2c3; background:#dfc2c3; border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; width:84.25pt" valign="top" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Total number of vehicles</strong></span></span></span></p>
			</td>
			<td style="background-color:#dfc2c3; background:#dfc2c3; border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; width:84.25pt" valign="top" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Non-compliant vehicles</strong></span></span></span></p>
			</td>
			<td style="background-color:#dfc2c3; background:#dfc2c3; border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; width:84.25pt" valign="top" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Compliant vehicles</strong></span></span></span></p>
			</td>
			<td style="background-color:#dfc2c3; background:#dfc2c3; border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; width:79.65pt" valign="top" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Non-compliant vehicles</strong></span></span></span></p>
			</td>
			<td style="background-color:#dfc2c3; background:#dfc2c3; border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; width:79.65pt" valign="top" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Compliant vehicles</strong></span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom-width:5a6a5; border-left-width:1.0pt; border-right-width:1.0pt; border-style:solid; border-top-width:5a6a5; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:69.35pt" width="92">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Feb - 17</strong></span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">102,493</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">62,310</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">40,184</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:79.65pt" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">60.8%</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:79.65pt" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">39.2%</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom-width:5a6a5; border-left-width:1.0pt; border-right-width:1.0pt; border-style:solid; border-top-width:5a6a5; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:69.35pt" width="92">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Apr - 19</strong></span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">89,380</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">26,195</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">63,185</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:79.65pt" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">29.3%</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:79.65pt" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">70.7%</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom-width:5a6a5; border-left-width:1.0pt; border-right-width:1.0pt; border-style:solid; border-top-width:5a6a5; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:69.35pt" width="92">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>Change</strong></span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">-13,113</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">-36,115</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">23,001</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:79.65pt" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">Decrease of 31.5 percentage points</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:79.65pt" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">Increase of 31.5 percentage points</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom-width:5a6a5; border-left-width:1.0pt; border-right-width:1.0pt; border-style:solid; border-top-width:5a6a5; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:69.35pt" width="92">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt"><strong>% change</strong></span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">-12.8%</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">-58.0%</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:84.25pt" width="112">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">57.2%</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:79.65pt" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">-51.8%</span></span></span></p>
			</td>
			<td style="border-bottom:solid #a5a6a5 1.0pt; border-left:none; border-right:solid #a5a6a5 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; vertical-align:top; width:79.65pt" width="106">
			<p class="lonbodytext" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:14px"><span style="page-break-after:avoid"><span style="line-height:15pt">80.3%</span></span></span></p>
			</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;Table 3. Average number and proportion of compliant vehicles detected in the zone per &quot;typical&quot; day during CC hours Feb 17 &#45; April 19</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-GLA - First month of Mayor’s ULEZ sees 74 per cent of vehicles comply  -->

 
 
        
        
            @{ViewBag.Description = "First month of Mayor’s Ultra-Low Emission Zone sees 74 per cent of vehicles comply with new standards";}
        
        


 