


@{ViewBag.Title = "Have your say on west London walking and cycling improvements";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Have your say on west London walking and cycling improvements</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Have your say on west London walking and cycling improvements</h1>
        <div class="content-page-press-release">
        02 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        3.8km of improvements would transform neighbourhoods between Wood Lane and Notting Hill Gate
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These improvements would enable many more people to walk and cycle which is vital to reduce car use and clean up London's toxic air
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Upgrades would also connect to improvements currently under construction between Acton and Wood Lane</li>
</ul>

<p>Transport for London (TfL) is inviting people to have their say on proposed improvements to streets between Wood Lane and Notting Hill Gate, which would make roads in west London much more welcoming to people walking and cycling and make the area a safer, healthier and more pleasant place.</p>

<p>TfL is currently upgrading streets for walking and cycling between Acton and Wood Lane, with construction set to be completed on this section by December this year. The proposed scheme, which would extend the corridor eastwards from Wood Lane to Notting Hill Gate, creating a 7km route in total, would enable even more people in west London to walk and cycle and help to tackle poor air quality and congestion in the area.</p>

<p>TfL analysis has shown that west London is an area of high demand for active travel, where people want to be able to walk and cycle more often. The proposed changes in the area include:</p>

<ul>
	<li>Upgrades to public spaces, creating more welcoming streets for people to spend time in and enjoy</li>
	<li>New and upgraded pedestrian crossings</li>
	<li>A new two-way segregated cycle track throughout, which will keep people cycling separated from motor traffic</li>
	<li>Making some side roads entry or exit only to help the safe and timely movement of traffic</li>
	<li>Changes to some bus stop locations and new bus stop bypasses for people cycling</li>
</ul>

<p>The consultation for the improvements will be open until 12 June for people to have their say and is available on the TfL website at tfl.gov.uk/wood-notting&nbsp;</p>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong></p>

<p>'These improvements would enable many more people to walk and cycle which is vital to reduce car use and clean up London's toxic air.</p>

<p>'By creating new pedestrian crossings, moving bus stops to better locations and making it safer to cycle, we will make streets much more accessible and welcoming for everyone who lives, works or visits the area.'</p>

<p><strong>David Hughes, TfL's Director of Investment Delivery Planning, said:</strong></p>

<p>'Investment in our streets is vital if we are to tackle some of the greatest challenges facing the capital, including air pollution, congestion and poor health. These improvements in west London would be a significant boost for people living in, working in and visiting the area, making neighbourhoods more attractive places to spend time and enabling more people to walk and cycle. I'd encourage people to send us their views on our plans in the area and ensure their voices are heard.'</p>

<p>These walking and cycling improvements will complement other new cycleways, which are being developed in Hammersmith and Fulham and Kensington and Chelsea. This includes a new route between Brentford and Olympia, which will start construction later this year and upgraded walking and cycling connections through Holland Park and Norland Square, which the Royal Borough of Kensington and Chelsea are developing.</p>

<p><strong>Cllr Wesley Harcourt, Hammersmith &amp; Fulham Council's Cabinet Member for Environment, said:</strong></p>

<p>'Any scheme like this needs to strike the right balance between the needs of all road users, including pedestrians. So we would urge all residents to have their say on the details of this scheme. We support cycling and walking as a means of cutting pollution&quot;<br />
Cllr Will Pascall, Lead Member of Streets, Planning and Transport, Kensington and Chelsea Council, said: &quot;We know improving air quality is a huge priority for our residents. We would urge everyone to share their views about the advantages and disadvantages of these proposals.'</p>

<p>Construction work on a new 3.5km cycleway between Acton and Wood Lane started in March. Work on the route - which includes a new two-way cycle track separated from traffic and pedestrians - is expected to be complete by the end of the year.</p>

<p>Over three-quarters (77 per cent) of people who took part in a consultation about the scheme in 2016 supported the proposals. Several improvements were incorporated in the final plans following feedback from local residents and visitors.</p>

<p>In December 2018, the Mayor's Cycle Action Plan set out ambitious targets for bringing the capital's cycling network to even more Londoners, ensuring a high standard for cycle routes and significantly increasing the number of cycle journeys made.</p>

<p>TfL and the Mayor committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28 per cent by 2024, up from nine per cent. Construction work on two major new routes, between Brentford and Olympia, and Tower Bridge Road and Greenwich, is set to begin later this year. Construction work on two further routes, between Hackney and the Isle of Dogs, and Tottenham Hale and Camden, could follow subject to consultation.</p>

<p><strong>Stephen Edwards, Director of Policy and Communications at Living Streets, said</strong>:</p>

<p>'The improvements to pedestrian crossings and other walking infrastructure between Wood Lane and Notting Hill Gate proposed by TfL are encouraging and will boost the walking environment across the area. This consultation is particularly timely, coinciding with the launch of Living Streets' National Walking Month, our annual celebration of walking. Research published today shows that almost 40% of older people worry about pedestrian crossing provision in London, highlighting the importance of these proposals.'</p>

<p><strong>Casey Abaraonye, Coordinator at Hammersmith and Fulham Cyclists, said:</strong></p>

<p>'These improvements are a brilliant opportunity to create a healthier and happier west London. They will create neighbourhoods where people working or visiting the many schools, hospitals and shops will be able easily walk or cycle their journeys, reducing air pollution and supporting the town centres, making them better to enjoy and experience.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-Have your say on west London walking and cycling improvements -->

 
 
        
        
            @{ViewBag.Description = "People invited to have their say on walking and cycling improvements in west London";}
        
        


 