


@{ViewBag.Title = "New vision to revitalise South Kensington Tube station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New vision to revitalise South Kensington Tube station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New vision to revitalise South Kensington Tube station</h1>
        <div class="content-page-press-release">
        22 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans to enhance the historic surrounding space with new homes, shops and workspace
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our proposals provide a range of improvements, including step-free access, as well as new homes and opportunities for upgraded retail and commercial space, generating vital revenue to reinvest in the transport network

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>Native Land and Transport for London (TfL) have unveiled their proposals to restore and improve South Kensington Tube station and the surrounding streets, respecting the heritage of the area. The proposals include the development delivering around 40 additional homes, a new range of shops, restaurants and workspaces, and step-free station access to the ticket hall and District and Circle line platforms via a new entrance on Thurloe Street.</p>

<p>TfL appointed Native Land as its development partner in 2018 for the redevelopment of the land and buildings around South Kensington Station. The proposals, designed by Stirling Prize-winning architect Rogers Stirk Harbour + Partners, aim to sensitively repair and enhance the Grade-II listed station and surrounding area's historic streets, while also delivering a range of improvements for those living, working and visiting locally.</p>

<p>As well as delivering step-free access to the District and Circle lines and restoring the historic station arcade and improving the main station entrances, a key part of the development will be improvements to properties around the station in a way that properly reflects the importance of this unique location. The plan proposes the development of a carefully crafted building, adjacent to the station entrances that will serve as a refined landmark for the station, which is the gateway to London's internationally renowned museum and cultural quarter. The proposed five-storey building will provide workspace, restaurants and shops and give the station area a renewed sense of place.</p>

<p>The design of the new 'Bullnose' building, referred to as such because of its unique shape, at the front of the station is informed by the initial nineteenth century vision for the site, which structural drawings show was originally designed to accommodate several floors. The proposed building will be contemporary in style, but sympathetic to its context, mirroring the distinct curved shape of the Bullnose and utilising the iconic signage from above the arcade entrance across the new retail units.</p>

<p>The proposals also include the provision of a number of new homes around the station, including along the station side of Pelham Street, reinstating the historic row of buildings that existed there previously. The buildings at this location will also provide new retail opportunities with the potential for independent outlets and a focus on health and well-being.</p>

<p>Also included in the plans is the upgrading of the building along Thurloe Street to the north of the station, with the provision of new homes behind the historic Regency facade, replacing the current apartments. The proposals also include providing new homes in Thurloe Square to reinstate housing where the square connects with Pelham Place, which were removed during the construction of the railway.</p>

<p>Members of the public will be able to learn more about the proposals, which will include affordable housing, and share their feedback by attending the public exhibitions on 22 and 23 May between 3pm and 7pm at Les Salons, Institut Fran&ccedil;ais du Royaume-Uni, 17 Queensberry Place, London, SW7 2DT.</p>

<p>Graeme Craig, Director of Commercial Development at Transport for London said:</p>

<p>'We are excited to be working with Native Land on these important proposals which will transform the area around South Kensington Tube station.&nbsp; Our aim has been to create a proposal that honours the heritage of the station and reflects the historic legacy and architecture of the area as well as its unique setting as a gateway to some of the most important and treasured cultural institutions in the world. Our proposals provide a range of improvements, including step-free access, as well as new homes and opportunities for upgraded retail and commercial space, generating vital revenue to reinvest in the transport network.'</p>

<p>Alasdair Nicholls, chief executive Native Land, said:</p>

<p>'We have been working very closely with Transport for London and Rogers Stirk Harbour + Partners on these proposals to deliver an exemplar station within a high quality contemporary development that respects its unique historical context. As well as delivering new residential buildings with a scale and massing respectful to the surrounding area, the proposals will help bring a renewed sense of place to South Kensington, along with a contemporary range of shops, restaurants and workspaces. We look forward to hearing local peoples' views on our plans.'</p>

<p>Tracy Meller - Partner, Rogers Stirk Harbour + Partners said:</p>

<p>'These proposals have been developed through careful study of the historic context of the station and surrounding streetscape, from which we have developed a proposal which is led by the local setting, and which reconnects the site to its streets and squares, with buildings of a quality, proportion and scale sympathetic to their context. This development is a unique opportunity to shape the next chapter in the development of the area around South Kensington Tube station, to serve the immediate community but also to provide a gateway to the world famous museum quarter to the north. We are building on the existing legacy of refined architecture to enhance the historic significance and distinctive character of the neighbourhood.'</p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>In January 2018, TfL was granted Listed Building Consent by Royal Borough of Kensington and Chelsea, for proposals to upgrade South Kensington station. Designed by architects Weston Williamson, the upgrade work will include rebuilding a new eastbound District and Circle line platform, and expanding the ticket hall and gate line to facilitate quicker, more pleasant journeys for customers using the station. This work is due to start in 2019.</li>
	<li>Customers using South Kensington will also benefit from the ongoing transformation of the District and Circle lines, with a new, modern signalling system currently being installed on both lines. The new system will increase train frequency, provide more capacity and make journeys quicker across 40 per cent of the Tube network, benefitting millions of customers.</li>
</ul>

<p>For any enquiries about Native Land, please contact:</p>

<ul>
	<li>Dominic Morgan&nbsp; ING Media&nbsp; <a href="mailto:dominic.morgan&#64;ing-media.com">dominic.morgan&#64;ing-media.com</a></li>
	<li>Emily Cramer ING Media&nbsp; <a href="mailto:emily.cramer&#64;ing-media.com">emily.cramer&#64;ing-media.com</a></li>
	<li>Tel:&nbsp; 020 7247 8334</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-New vision to revitalise South Kensington Tube station -->

 
 
        
        
            @{ViewBag.Description = "New vision to revitalise South Kensington Tube station and enhance the historic surrounding space with new homes, shops and workspace";}
        
        


 