


@{ViewBag.Title = "TfL sets out proposals for major new Cycleway in east London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out proposals for major new Cycleway in east London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out proposals for major new Cycleway in east London</h1>
        <div class="content-page-press-release">
        09 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposals in the boroughs of Hackney and Tower Hamlets would transform roads between Hackney and the Isle of Dogs
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These exciting plans not only include a new high-quality cycle route connecting the busy streets of Hackney and the Isle of Dogs, but include a raft of improvements that will make the local area cleaner, safer, and more welcoming to get around on foot"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is inviting people to have their say on plans to transform neighbourhoods between Hackney and the Isle of Dogs, creating streets that are much more welcoming to people walking and cycling, including improved pedestrian crossings and a major new Cycleway.</p>

<p>The proposed 7.5km Cycleway is the first new cycling route to be consulted on from TfL's Strategic Cycling Analysis, which used data to identify 25 areas which showed the best potential for growing cycling numbers. The route would connect Hackney to the Isle of Dogs, including 5.6km of segregated cycle lanes.</p>

<p>Neighbourhoods including Victoria Park, Mile End and Limehouse would also see improved public and green spaces, including new trees, with new pedestrian crossings making walking easier and safer.</p>

<p>The proposed upgrades include:</p>

<ul>
	<li>Segregated cycle tracks on Burdett Road and West India Dock Road, providing a dedicated space for people who want to cycle</li>
	<li>Safety improvements along the route including improvements at junctions, traffic calming and a new 20mph speed limit along Burdett Road</li>
	<li>Two new signal-controlled pedestrian crossings and upgrades to existing pedestrian crossings along the route, making it easier and safer to cross the road</li>
	<li>New and improved public and green spaces, including new paving, trees and planting</li>
	<li>Traffic reduction measures to improve cycle safety, including restricting Grove Road through Victoria Park to bikes, buses and taxis between 7am and 7pm</li>
	<li>Links to existing cycling routes in Hackney and Tower Hamlets including CS2, CS3 and Q2</li>
	<li>Changes to some bus stop layouts and locations, including introduction of new bus stop bypasses for people cycling</li>
	<li>Changing entry to and exit from some side roads along the route</li>
	<li>Road resurfacing providing improvements for people walking and cycling as well as for buses and general traffic</li>
	<li>Upgrading pavements to improve comfort for people walking</li>
</ul>

<h2>Easier and safer</h2>

<p>The new Cycleway would be a major boost to London's growing cycle network, connecting to a number of other major routes including CS2, CS3 and Q2, and significantly increasing the number of journeys that can easily be made by bike in the capital.</p>

<p>The consultation is now open for people to have their say and is available on the TfL website at <a href="http://tfl.gov.uk/cycleway">tfl.gov.uk/cycleway </a>until 21 June.</p>

<p>London's Walking and Cycling Commissioner, Will Norman, said: 'For the health and prosperity of our city it is essential we get more people walking and cycling as part of their everyday routine.</p>

<p>'These exciting plans not only include a new high-quality cycle route connecting the busy streets of Hackney and the Isle of Dogs, but include a raft of improvements that will make the local area cleaner, safer, and more welcoming to get around on foot.</p>

<p>'I encourage anyone living or working in the area to look at the plans and give us their views.'</p>

<p>David Hughes, TfL's Director of Investment Delivery Planning, said: 'Our plans to transform streets between Hackney and the Isle of Dogs as part of the proposed Cycleway would be a major boost to the capital's walking and cycling network and would enable even more people to switch from private cars to less polluting forms of transport.</p>

<p>'Our consultation on the first sections of the scheme will give people who live, work, visit and study in the area a chance to shape our proposals and we value feedback from everybody who would like to have their say.'</p>

<h2>Transform streets</h2>

<p>The Cycleway would also connect to the Bow Liveable Neighbourhood scheme, which is set to transform streets along Roman Road with new cycle routes and overhauled public spaces for people to spend time in.</p>

<p>TfL and Tower Hamlets will consult separately for the section of this new Cycleway, which runs alongside the Liveable Neighbourhood scheme.</p>

<p>TfL is continuing to develop its proposals for the section of the proposed Cycleway in the Isle of Dogs, from Ming Street to the Greenwich Foot Tunnel via Canary Wharf.</p>

<p>This section of the route will be consulted on at a later date following further feasibility work, including details of how the new Cycleway would connect to the proposed new river crossing between Rotherhithe and Canary Wharf.</p>

<p>John Biggs, Mayor of Tower Hamlets, said: 'We are committed to improving the cycling infrastructure in our borough and welcome TfL's proposals to improve cycle links between Hackney and the Isle of Dogs.</p>

<p>'It is important that TfL is able to take account of local views so I'd encourage people to take part in this consultation and make their voices heard.'</p>

<p>Cllr Feryal Demirci, Deputy Mayor of Hackney, said: 'In Hackney, more people than any other London borough commute to work by bike, but we want to make cycling as accessible as possible for everyone.</p>

<p>'This proposed cycle route linking Hackney to Mile End and Canary Wharf would mean more people can start to cycle for all or part of their journey. I'd urge people to have their say on the proposals.'</p>

<h2>Healthier city</h2>

<p>Simon Munk, Infrastructure Campaigner at the London Cycling Campaign, said: 'Today, the Mayor takes another step to fulfilling his pledge to the LCC to triple the mileage of protected space on main roads.</p>

<p>'This route will mean far more people will be able to cycle between Hackney, Canary Wharf and beyond via the planned bridge to Rotherhithe, connecting from Walthamstow to Woolwich.</p>

<p>'To cut air pollution, tackle climate change and create a healthier city it is vital everyone &#45; residents, landowners and local stakeholders - work together to ensure this route is high-quality and goes where people want to, from key employment centres to schools and shops.'</p>

<p>TfL and the Mayor are committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28% by 2024, up from nine per cent.</p>

<p>Construction work on two major new routes, between Brentford and Olympia, and Tower Bridge Road and Greenwich, is set to begin later this year.</p>

<p>In December 2018, the Mayor's Cycle Action Plan set out ambitious targets for bringing the capital's cycling network to even more Londoners, ensuring a high standard for cycle routes and significantly increasing the number of cycle journeys made.</p>

<hr />
<p><strong>Notes to editors:</strong></p>

<ul>
	<li>TfL is currently consulting on proposed improvements for walking and cycling between Wood Lane and Notting Hill Gate. The consultation is available at <a href="http://tfl.gov.uk/wood-notting">tfl.gov.uk/wood-notting </a>until 16 June</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-TfL sets out proposals for major new Cycleway in east London -->

 
 
        
        
            @{ViewBag.Description = "TfL sets out proposals for major new Cycleway in east London";}
        
        


 