


@{ViewBag.Title = "TfL challenges business with retail innovation competition";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL challenges business with retail innovation competition</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL challenges business with retail innovation competition</h1>
        <div class="content-page-press-release">
        13 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL challenges businesses to come up with an innovative and technological retail concept, offering retail space for one year to the winner
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As one of the largest landlords in the capital, it is really exciting to launch this competition and see what creative ideas retailers will come up with to push the boundaries
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Winner will get the chance to pilot and test out its innovative concept in reality</li>
	<li>TfL will provide them with retail space on its estate for a year, with a value of up to &pound;100,000</li>
	<li>Competition is one of the many ways TfL, as one of London's largest landowners, is supporting businesses across its estate</li>
</ul>

<p>Transport for London (TfL) has launched a new innovation competition, which challenges businesses to come up with an innovative and technological concept that will reimagine the use of physical space in retail and deliver a unique experience for customers who travel using the transport network every day.</p>

<p>The competition offers the winner the chance to pilot and test out their innovative concept in reality as TfL will provide them with retail space on its estate for a year, with a value of up to &pound;100,000, as the prize.</p>

<p>As the needs of customers change, the retail industry is adapting and rethinking what it can offer in order for their brands to stay attractive and relevant with physical retail locations often becoming destinations in themselves. At the heart of these changes are technology and innovation, which is why TfL is encouraging businesses through this competition to consider how they can utilise technology and create a novel concept, which they will be ready to trade, to meet the needs of TfL's customers and push the boundaries of retail.</p>

<p>Being one of London's largest landowners with more than 2,000 commercial units across its estate, including around 800 commercial railway arches and meanwhile spaces, TfL takes pride in being able to support a range of vibrant businesses. The majority of TfL's tenants are small businesses and TfL offers a diversity of opportunities for all retailers, whether that's a pop up space, a unit for a big brand or the first 'bricks and mortar' opening for a small business.</p>

<p>The competition builds on TfL's history of working with innovative brands, such as StreetDots, an online street trading platform. In partnership with TfL, StreetDots gives small businesses the opportunity to trade at transport hubs across the capital. It aims to liberate traders from the hassle involved in finding a pitch, as they can use a smartphone app to choose a pitch or 'dot' for a few hours at a time. In turn, customers regularly passing the 'dots', which are already open at numerous locations including North Greenwich and Hammersmith, get the chance to discover new businesses and products each day.</p>

<p>Graeme Craig, Director of Commercial Development at TfL, said:</p>

<p>'As one of the largest landlords in the capital, it is really exciting to launch this competition and see what creative ideas retailers will come up with to push the boundaries of industry norms. Our estate offers them a unique opportunity to test out their new and innovative concepts.<br />
&quot;The competition showcases to businesses, which might not otherwise consider it, how they can utilise our retail space in exciting ways and builds on our history of supporting businesses to grow and expand what they can offer to our customers.'</p>

<p>Rikesh Shah, Head of Commercial Innovation at TfL, said:</p>

<p>'This is one of a number of new approaches to innovation we are taking in TfL to access the value and creativity from innovative companies in London. Other initiatives include the pioneering London RoadLab initiative, which includes quickly developing products that could have a positive and widespread impact right across the capital's road network, and our Open Innovation pilot with Bosch.'</p>

<p>The deadline for entries is midday BST on 21st June 2019. The entries will then be evaluated against a range of criteria before being shortlisted. The shortlisted companies will then be invited to present their concepts in front of a judging panel before the winner is chosen.</p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>For more details of the competition, including the full terms and conditions, how to enter and the application toolkit, please visit: <a href="[ioID]#https://madeby.tfl.gov.uk/2019/05/13/connected-retail-london/">https://madeby.tfl.gov.uk/2019/05/13/connected-retail-london/</a></li>
	<li>The prize being offered is subject to a number of terms and conditions, which can be found using the above link. Entrants should note that, as part of these terms and conditions, a turnover rent will be payable by the winner at 10 per cent of business revenue, net of capital costs, attributable to the winner's use of the space(s) (excluding VAT only). The prize will not include and the winner will remain responsible for: utilities supplies, business rates, equipment, furniture, and props to be used in the space(s) and all costs relating to the same.</li>
	<li>The entries will be judged against a range of criteria, including innovation and approach, deliverability and management, their team, and financial strategy and the scalability of their concept.</li>
	<li>StreetDots was founded in 2014 and is used by more than 2000 independent brands as a hassle free platform to grow their businesses and reach new customers with more than 230 'dots' across London, including across the transport network.</li>
	<li>Street traders who would like to join the StreetDots network should visit <a href="[ioID]#www.streetdots.co.uk/traders/">www.streetdots.co.uk/traders/</a></li>
	<li>Customers who would like to see what street traders are selling in their area should download the StreetDots app on Apple or Android:</li>
	<li><a href="[ioID]#https://itunes.apple.com/gb/app/streetdots/id1122168644?mt=8">https://itunes.apple.com/gb/app/streetdots/id1122168644?mt=8</a></li>
	<li><a href="[ioID]#https://play.google.com/store/apps/details?id=com.streetdots.app">https://play.google.com/store/apps/details?id=com.streetdots.app</a></li>
	<li>In March 2019, Bosch opened its London Connectory, a Shoreditch-based co-innovation space to develop smart mobility solutions for London. For this, Bosch has partnered with Nitrous, a platform facilitating projects between the private sector, start-ups and government. The first partner to sign up was TfL, which has begun an 18-month collaboration with Bosch to explore how the goals set out in the Mayor's Transport Strategy can be addressed.</li>
	<li>TfL has recently set out how money raised from utility company companies for digging up London's roads is being invested in tackling congestion and minimising the impact of roadworks, such as through an innovation challenge, named London RoadLab, which is being run in partnership with Plexal, an innovation centre based in London's Olympic Park, along with London Councils and utility companies. Innovators recently embarked on a programme to develop products that could have a positive impact right across the capital by making roadworks safer, smarter and more inclusive for people's travel needs.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-TfL challenges business with retail innovation competition -->

 
 
        
        
            @{ViewBag.Description = "TfL will provide retail space for one year to winner of its first retail innovation competition";}
        
        


 