


@{ViewBag.Title = "August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">August</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>August</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/all-aboard-for-next-in-a-new-series-of-bus-garage-open-da">All aboard for next in a new series of bus garage open days <br />27 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/lu-decides-to-defer-launch-of-night-tube-to-allow-successful-conclusion-of-union-talks">LU decides to defer launch of Night Tube to allow successful conclusion of union talks<br />27 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/tfl-encourages-londoners-to-take-part-in-national-cycle-to-work-day">TfL encourages Londoners to take part in National Cycle to Work Day<br />27 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/busy-bank-holiday-weekend-of-events-and-vital-transport-upgrad">Busy Bank Holiday weekend of events and vital transport upgrades <br />26 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/get-into-the-carnival-spirit-and-plan-ahe">Get into the Carnival spirit and plan ahead <br />26 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/innovative-cycle-superhighway-junction-in-uk-safety-first">Innovative Cycle Superhighway junction in UK safety first<br />25 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/route-88-now-served-by-new-routemaster-buses">Route 88 now served by New Routemaster buses<br />24 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/increased-services-for-docklands-light-railway-routes">Increased services for Docklands Light Railway routes<br />24 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/get-into-gear-tfl-s-cycling-grants-london-scheme-is-open">Get into Gear &#45; TfL's 'Cycling Grants London' scheme is open<br />24 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/innovative-fan-chiller-technology-helps-tube-passengers-keep-cool">Innovative fan chiller technology helps Tube passengers keep cool<br />14 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/tfl-publishes-latest-bus-safety-statisti">TfL publishes latest bus safety statistics <br />14 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/get-into-the-carnival-spirit-and-plan-ahe">Get into the Carnival spirit and plan ahead <br />13 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/union-demands-would-cost-1-4bn-and-hit-londoners-with-an-extra-6-5-fare-increase">Union demands would cost &pound;1.4bn and hit Londoners with an extra 6.5% fare increase<br />12 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/london-underground-statement-on-further-strike-threa">London Underground Statement on Further Strike Threats <br />11 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/normal-tube-services-in-operation-today-after-tube-stri">Normal Tube services in operation today after Tube strike <br />07 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/tfl-volunteer-army-steps-up-to-support-the-capital">TfL volunteer army steps up to support the Capital<br />06 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/lu-and-crossrail-take-advantage-of-strike-to-make-progress-with-engineering-wo">LU and Crossrail take advantage of strike to make progress with engineering work <br />06 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/tfl-selects-jcdecaux-to-manage-world-s-largest-bus-shelter-ad-contra">TfL selects JCDecaux to manage world's largest bus shelter ad contract <br />06 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/tube-strike-17-30-travel-update-london-keeps-working-through-the-tube-strike">Tube strike: 17:30 Travel Update &#45; London keeps working through the Tube strike<br />06 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/message-to-london-from-nick-brown">Message to London from Nick Brown<br />05 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/travel-advice-for-customers-and-road-users-during-strike-by-tube-unions">Travel advice for customers and road users during strike by Tube unions<br />04 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/london-underground-makes-clear-commitments-to-staff-over-work-life-balance">LU makes clear commitments to staff over work-life balance<br />04 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/tflconfirms-40-of-tube-network-set-for-major-boost-in-capacity">TfL confirms 40 percent of Tube network set for major boost in capacity<br />03 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/statement-from-london-underground-as-trade-unions-reject-new-off">Statement from London Underground as Trade Unions Reject New Offer <br />03 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/uk-power-network-fined-more-than-17-000-for-unsafe-roadworks">UK Power Network fined more than &pound;17,000 for unsafe roadworks<br />03 Aug 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/august/travel-advice-during-planned-strike-by-tube-unions">Travel advice during planned strike by Tube unions<br />03 Aug 2015</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from August 2015";}
        
        


 