


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/search-begins-to-find-london-s-top-transport-designs">Search begins to find London's top transport designs<br />31 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/confidential-safety-reporting-scheme-set-to-be-extended-to-bus-network">Confidential safety reporting scheme set to be extended to bus network<br />31 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/tfl-s-oyster-and-contactless-comes-to-southeastern-highspe">TfL's Oyster and contactless comes to Southeastern highspeed <br />31 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/london-celebrates-five-successful-years-of-the-mayor-s-flagship-cycle-hire-sche">London celebrates five successful years of the cycle hire scheme <br />30 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/paolozzi-mosaics-to-be-reborn-in-artist-s-home-city-of-edinburgh">Paolozzi mosaics to be reborn in artist's home city of Edinburgh<br />28 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/major-works-to-improve-victoria-line-services">Major works to improve Victoria line services<br />28 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/public-support-for-new-improvements-at-bow-interchange">Public support for new improvements at Bow Interchange<br />27 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/plan-ahead-for-prudential-ridelondon-on-sat-1-and-sun-2-aug">Plan ahead for Prudential RideLondon on Sat 1 and Sun 2 Aug<br />27 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/all-bus-stops-in-city-of-london-and-royal-borough-of-kingston-now-accessible">All bus stops in City of London and Royal Borough of Kingston now accessible<br />22 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/emirates-air-line-and-k-nex-host-unique-summer-family-challenge-event">Emirates Air Line and K'NEX host unique summer family challenge event<br />20 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/showcasing-the-design-that-keeps-london-working-and-growing">Showcasing the design that keeps London working and growing<br />17 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/road-safety-improvements-to-make-town-centres-safer-for-pedestrians">Road safety improvements to make town centres safer for pedestrians<br />16 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/more-than-50-all-electric-buses-to-enter-service-in-london">More than 50 all-electric buses to enter service in London<br />15 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/normal-tube-services-in-operation-today-after-tube-strike">Normal Tube services in operation today after Tube strike<br />10 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/industrial-action-07-00-travel-update">Industrial Action: 07:00 Travel Update<br />09 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/industrial-action-13-30-travel-update">Industrial Action: 13:30 Travel Update<br />09 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/refurbishment-of-grade-ii-listed-chiswick-bridge-completed">Refurbishment of Grade II listed Chiswick Bridge completed<br />03 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/final-push-to-complete-hammersmith-flyover-refurbishment-begins">Final push to complete Hammersmith Flyover refurbishment begins<br />02 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/new-vision-for-cleaner-greener-taxi-and-private-hire-services-in-the-capital">New vision for taxi and private hire services in the Capital<br />01 Jul 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/july/tfl-signs-contract-with-bombardier-transportation-for-new-trains">TfL signs contract with Bombardier Transportation for new trains<br />01 Jul 2015</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from July 2015";}
        
        


 