


@{ViewBag.Title = "June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">June</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>June</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/consultation-on-proposed-changes-to-bus-services-in-baker-street-area">Consultation starts on changes to Baker Street bus services<br />30 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/passengers-reminded---major-works-ahead-to-improve-victoria-line-services">Passengers reminded - Major works ahead  to improve Victoria line services<br />30 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/prospective-london-overground-operators-shortlisted">Prospective London Overground operators shortlisted<br />29 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/inspirational-staff-recognised-at-london-bus-awards">Inspirational staff recognised at London Bus Awards<br />26 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/london-buses-to-trial-speed-safety-technology">London buses to trial speed safety technology<br />26 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/transport-minister-meets-female-engineers">Transport Minister meets female engineers<br />23 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/new-tram-platform-helps-increase-services-by-50-per-cent">New Wimbledon tram platform to see increased services<br />22 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/cracking-down-on-rogue-hgvs-to-improve-road-safety">Cracking down on rogue HGVs to improve road safety<br />22 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/essential-refurbishment-of-woolwich-ferry-loading-bridges">Essential refurbishment of Woolwich Ferry loading bridges<br />22 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/london-underground-launches-official-night-tube-map">London Underground launches official Night Tube map<br />22 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/dlr-to-join-ridewithpride">DLR to join RidewithPride<br />22 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/thousands-of-london-overground-customers-set-for-new-trains">Thousands of London Overground customers set for new trains<br />19 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/major-change-to-taxi-fare-payments-moves-a-step-closer">Major change to taxi fare payments moves a step closer<br />19 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/london-s-transport-gets-ready-to-help-host-a-great-rugby-world-cup">London's transport gets ready to help host a great Rugby World Cup<br />18 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/approval-to-progress-with-redevelopment-of-55-broadway">Approval to progress with redevelopment of 55 Broadway<br />17 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/mayor-brings-forward-station-step-free-access-target">Mayor brings forward station step-free access target<br />16 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/poems-on-the-underground-celebrates-w-b-yeats">Poems on the Underground celebrates W.B. Yeats<br />15 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/chair-of-lgbt-network-awarded-british-empire-medal">Chair of LGBT+ network awarded British Empire Medal<br />12 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/increased-capacity-as-environmentally-friendly-buses-enter-service-on-bus-route-285">Environmentally friendly bus increases capacity on route 285<br />12 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/a-new-series-of-bus-garage-open-days-planned">A new series of bus garage open days planned<br />11 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/londoners-back-plans-for-transformation-of-old-street-roundabout">Londoners back plans for transformation of Old Street roundabout<br />10 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/mayor-takes-action-to-halve-road-casualties-by-2020">Mayor takes action to halve road casualties by 2020<br />09 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/london-s-biggest-cycle-friendly-zone---work-starts-soon">London's biggest &quot;cycle-friendly zone&quot;  - work starts soon<br />09 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/whitechapel-work-prepares-station-for-crossrail-boost">Whitechapel work prepares station for Crossrail boost<br />09 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/-tfl-annual-report-published"> TfL Annual Report published<br />09 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/tfl-to-accept-apple-pay-on-public-transport">TfL to accept Apple Pay on public transport<br />08 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/tfl-consults-on-sunday-service-for-routes-352-and-354">TfL consults on Sunday service for routes 352 and 354<br />08 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/winner-of-the-travel-better-london-poetry-competition">Winner of the Travel Better London poetry competition<br />08 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/new-pioneering-trials-to-detect-cyclists-at-junctions-begin-in-london">New pioneering trials to detect cyclists at junctions begin in London<br />05 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/london-underground-showcases-the-station-design-of-the-future">London Underground showcases the station design of the future<br />05 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/maida-vale-tube-station-celebrates-100th-anniversary">Maida Vale Tube station celebrates 100th anniversary<br />05 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/santander-cycles-race-at-jupiter-london-nocturne">Santander Cycles race at Jupiter London Nocturne<br />04 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/record-passenger-numbers-on-london-s-transport-network">Record passenger numbers on London's transport network<br />04 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/tfl-seeks-partners-for-future-charging-infrastructure">TfL seeks partners for future charging infrastructure<br />03 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/unsafe-lorry-ban-moves-closer-to-improve-road-safety-in-lond">Unsafe lorry ban moves closer to improve road safety in London <br />03 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/mayor-hails-transformed-services-as-tfl-takes-west-anglia-routes">Mayor hails transformed services as TfL takes West Anglia routes<br />01 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/new-pocket-tube-map-by-london-based-argentinian-pablo-bronstein">New pocket Tube map by London-based Argentinian Pablo Bronstein<br />01 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/london-cycle-challenge-returns-to-boost-cycling-in-the-capital">London Cycle Challenge returns to boost cycling in the Capital<br />01 Jun 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/june/lu-calls-for-talented-londoners-to-x-factor-busking-auditions">LU invites talented Londoners to X-Factor busking auditions<br />01 Jun 2015</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from June 2015";}
        
        


 