


@{ViewBag.Title = "November";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">November</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>November</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/great-design-electrifying-london-as-fender-and-london-underground-team-up">Fender and LU team up to produce special edition Stratocaster guitar<br />30 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/the-snowman-and-the-snowdog-fly-high-on-emirates-air-line-cable-car">The Snowman™ and The Snowdog fly high on Emirates Air Line <br />27 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/test1">Mayor and TfL launch new team to crack down on congestion<br />30 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/mayor-and-tfl-confirm-card-and-contactless-payments-will-be-accepted-by-london-taxis">Mayor and TfL confirm card and contactless payments will be accepted by London taxis<br />26 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/london-underground-s-david-waboso-named-president-of-the-apm">London Underground's David Waboso named President of the APM<br />26 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/delivering-safer-streets-in-wandsworth-and-vauxhall">Delivering safer streets in Wandsworth and Vauxhall<br />24 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/funding-in-place-for-metropolitan-line-extensi">Funding in place for Metropolitan line extension <br />23 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/liverpool-st-bus-station-to-close-temporarily-for-crossrail-ticket-hall-completion">Liverpool St bus station to close temporarily for Crossrail ticket hall completion<br />20 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/mayor-and-tfl-unveil-eye-catching-design-for-crossrail-trains">Mayor and TfL unveil 'eye-catching' design for Crossrail trains<br />20 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/tfl-s-property-development-programme-advances">TfL's property development programme advances<br />18 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/record-number-of-rogue-drivers-prosecuted-for-tph-violatio">Record number of rogue drivers prosecuted for TPH violations <br />17 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/london-underground-carries-more-people-than-ever-befo">London Underground carries more people than ever before <br />13 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/mayor-announces-real-terms-fares-freeze-and-extends-free-travel-for-children">Mayor announces real terms fares freeze and extends free travel for children<br />12 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/major-safety-improvements-on-westminster-bridge-proposed">Major safety improvements on Westminster Bridge proposed<br />11 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/tfl-publishes-latest-bus-safety-statistics">TfL publishes latest bus safety statistics<br />10 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/temporary-measures-seek-to-ease-pressure-on-taxi-and-private-hire-drivers">Temporary measures seek to ease pressure on taxi and private hire drivers<br />10 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/tube-customers-better-connected-as-wifi-reaches-100-more-stations">Tube customers better connected as WiFi reaches 100 more stations<br />10 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/tfl-wins-two-international-road-safety-awar">TfL wins two international road safety awards <br />09 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/uk-school-children-to-debate-role-of-women-in-transport">UK school children to debate role of women in transport<br />09 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/covent-garden-tube-station-lift-works-completed">Covent Garden Tube station lift works completed<br />07 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/armed-forces-and-tfl-service-veterans-deliver-war-poetry-on-the-tu">Armed Forces and TfL service veterans deliver war poetry on the Tube  <br />05 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/bank-station-work-starts-on-a-new-entran">Bank station: work starts on a new entrance <br />05 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/advice-for-customers-during-dlr-strike---1800-bulletin">Advice for customers during DLR strike - 1800 bulletin<br />04 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/retired-bus-driver-to-lead-the-lt-old-comrades-on-remembrance-day">Retired bus driver to lead the LT Old Comrades on Remembrance Day<br />04 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/black-cab-tops-the-list-of-london-s-transport-design-ico">Black Cab tops the list of London's transport 'Design Icons'<br />04 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/half-of-london-s-schools-branded-as-stars-for-promoting-road-safety">Half of London's schools branded as 'STARS' for promoting road safety<br />03 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/update-on-dlr-services-affected-by-rmt-strike-action">Update on DLR services affected by RMT strike action - 0700<br />03 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/wimbledon-tram-stop-reopens-with-new-platform">Wimbledon tram stop reopens with new platform<br />02 Nov 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/november/tfl-celebrates-100th-anniversary-of-first-female-bus-conductor">TfL celebrates 100th anniversary of first female bus conductor<br />02 Nov 2015</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from November 2015";}
        
        


 