


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/you-don-t-wallaby-late-for-the-haka-so-plan-your-journey-ahe">You don't 'Wallaby' late for the Haka so plan your journey ahead!<br />29 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/tfl-gives-pedal-power-to-community-groups-across-lond">TfL gives pedal power to community groups across London <br />29 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/advice-to-dlr-passengers-in-event-or-48hr-strike-on-3-4-nov">Advice to DLR passengers in event of 48hr strike on 3-4 Nov<br />30 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/famous-voices-to-take-over-the-transport-network-this-london-poppy-day">Famous voices to take over the transport network this London Poppy Day<br />28 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/public-consultation-begins-on-transformative-crossrail-2">Public consultation begins on 'transformative' Crossrail 2<br />27 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/route-149-now-served-by-new-routemaster-buses">Route 149 now served by New Routemaster buses<br />26 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/mayor-and-tfl-finalise-ulez-requirements-for-taxi-and-minicab-trades">Mayor and TfL finalise ULEZ requirements for taxi and minicab trades<br />26 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/first-section-of-north-south-cycle-superhighway-ope">First section of North-South Cycle Superhighway opens <br />20 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/uk-first-as-incline-lift-opens-at-greenford-tube-station">Incline lift at Greenford Tube station is UK first<br />20 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/tfl-releases-land-for-10-000-homes-across-the-capital">TfL releases land for 10,000 homes across the Capital<br />20 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/poems-on-the-underground-launches-new-series-by-young-poets">Poems on the Underground launches new series by young poets<br />19 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/contactless-payments-and-oyster-extended-to-hertford-east">Contactless payments and Oyster extended to Hertford East<br />19 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/tfl-awards-new-6-5m-contract-to-loughborough-tube-and-rail-supplier">TfL awards new &pound;6.5m contract to Loughborough Tube and Rail supplier<br />16 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/high-court-declares-that-smartphones-used-in-private-hire-vehicles-are-not-taximeters">High Court declares that smartphones used in private hire vehicles are not taximeters<br />16 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/faster-and-more-reliable-lifts-for-caledonian-road-station">Faster and more reliable lifts for Caledonian Road station<br />15 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/unions-walk-out-of-talks-risking-night-tube-delive">Unions walk out of talks risking Night Tube delivery <br />14 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/enforcement-partnership-to-make-london-s-streets-safer">Enforcement Partnership to make London's streets safer<br />13 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/tfl-seeks-views-on-camden-town-station-upgrade">TfL seeks views on Camden Town station upgrade<br />12 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/capacity-and-service-frequency-improvements-for-passengers-on-bus-route-173">Capacity and service frequency improvements for passengers on bus route 173<br />09 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/santander-cycles-app-gets-new-interactive-map-to-help-customers-find-closest-docking-stations">Santander Cycles app gets new interactive map to help customers find closest docking stations<br />09 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/tfl-celebrates-independent-retailers-named-in-small-biz-100-campaign">TfL celebrates independent retailers named in 'Small Biz 100' campaign<br />09 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/new-measures-affirm-tfl-s-transparency-commitment">New measures affirm TfL's transparency commitment<br />08 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/free-autumn-amble-guided-walk-across-the-capital">Free 'Autumn Amble' guided walk across the Capital<br />05 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/a406-improvement-breathes-new-life-into-golders-green">A406 improvement breathes new life into Golders Green<br />05 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/tfl-launches-consultation-on-vital-new-river-crossing">TfL launches consultation on vital new river crossing<br />05 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/high-court-asked-to-rule-if-smartphones-are-taximeters">High Court asked to rule if smartphones are taximeters<br />02 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/record-number-of-graduate-trainees-join-t">Record number of graduate trainees join TfL <br />02 Oct 2015</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2015/october/london-underground-breaks-through-at-bond-street">London Underground breaks through at Bond Street<br />01 Oct 2015</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from October 2015";}
        
        


 