


@{ViewBag.Title = "Contractor appointed to prepare London Overground network for longer trains";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contractor appointed to prepare London Overground network for longer trains</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contractor appointed to prepare London Overground network for longer trains</h1>
        <div class="content-page-press-release">
        09 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Longer trains to provide a 25 per cent increase in capacity by end of 2015.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As London's population continues to grow, so too will the demand on London Overground, which is why we're carrying out vital work such as this to help provide the extra capacity that will be needed."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Stubbs</div>
            <div class="quotee-job-title">TfL's Director of London Overground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As London's population continues to grow, so too will the demand on London Overground, which is why we're carrying out vital work such as this to help provide the extra capacity that will be needed.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Contractor will extend or modify station platforms on the Clapham Junction/Richmond to Stratford London Overground routes</li></ul>
<p>Transport for London (TfL) today appointed leading construction and civil engineering firm Dyer and Butler as the contractor to lengthen and modify some of the station platforms on the Clapham Junction/Richmond to Stratford London Overground route.</p>
<p>The work is part of a huge upgrade programme to deliver an additional 25 per cent capacity to meet increasing demand on the capital's fastest growing railway. </p>
<p>Since TfL took over the network in 2007, London Overground has become one of the UK's most reliable rail services and passenger numbers have quadrupled - from 2.5m in a typical&nbsp;four week period in 2008 to 11.2m.</p>
<p>The longer platforms will accommodate longer London Overground trains, which are being increased from four to five carriages. </p>
<p>The first of these longer trains will run on the Highbury &amp; Islington to New Cross/Crystal Palace/West Croydon/Clapham Junction routes from the end of 2014, followed by the Clapham Junction/Richmond to Stratford routes by the end of 2015.</p>
<p>The work is part of the &pound;320m London Overground Capacity Improvement Programme (LOCIP), which continues TfL's investment in this highly successful railway. </p>
<p>TfL has already delivered more frequent and punctual services, a new fleet of air-conditioned, high capacity trains and most recently the completion of the London Overground orbital network around London - the first orbital rail network in the Capital for 128 years.</p>
<p>TfL's Director of London Overground, Mike Stubbs, said: 'Although still in its infancy, London Overground services have proved to be hugely popular with passengers, with numbers quadrupling during the first six years of service. </p>
<p>'As London's population continues to grow, so too will the demand on London Overground, which is why we're carrying out vital work such as this to help provide the extra capacity that will be needed. </p>
<p>'We're really pleased to be working with Dyer and Butler on this crucial project and will work closely with them to ensure the minimum of disruption to services.'</p>
<p>TfL will take over routes that run from Liverpool Street station to Enfield Town, Cheshunt (via Seven Sisters) and Chingford, which include 25 stations in total across six London Boroughs. </p>
<p>This follows work by the Mayor and TfL to set out the benefits of devolution as demonstrated by the London Overground model.</p>
<p>Work at the first London Overground stations on the Clapham Junction/Richmond to Stratford route is expected to begin in February 2014 while work on the Highbury &amp; Islington to New Cross/Crystal Palace/West Croydon/Clapham Junction routes will begin later this month. </p>
<p>
<hr>

<p>
<h3>Notes to editors:</h3>
<ul>
<li>Extensions or the refurbishment of disused platform space will be required at the following stations on the Richmond/Clapham Junction to Stratford route: 
<ul type="square">
<li>South Acton </li>
<li>Acton Central </li>
<li>Willesden Junction High Level/Low level </li>
<li>Kensal Rise </li>
<li>Brondesbury Park </li>
<li>Brondesbury </li>
<li>West Hampstead&nbsp; </li>
<li>Finchley Road and Frognal </li>
<li>Hampstead Heath </li>
<li>Gospel Oak </li>
<li>Kentish Town West </li>
<li>Camden Road </li>
<li>Caledonian Road and Barnesbury </li>
<li>Dalston Kingsland </li>
<li>Homerton </li>
<li>Canonbury </li>
<li>Highbury &amp; Islington</li></ul></li>
<li>The platform extensions on the Highbury &amp; Islington to New Cross/Crystal Palace/West Croydon/Clapham Junction routes are being carried out under a separate contract with Cleshar Contract Services </li>
<li>With the exception of the works starting in late December, the exact timing and duration of works at each station is still being finalised. However they are likely to be scheduled during the following phases: </li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>December 2013 - March 2014</td>
<td>Highbury &amp; Islington and Canonbury (East London line platforms), Surrey Quays</td></tr>
<tr>
<td>February - April 2014</td>
<td>Dalson Junction, Hoxton and Haggerston</td></tr>
<tr>
<td>February - July 2014</td>
<td>South Acton, Acton Central, Willesden Junction and Wandsworth Road</td></tr>
<tr>
<td>April - June 2014</td>
<td>Shoreditch High Street, Shadwell, Canada Water, Clapham Junction and Wapping</td></tr>
<tr>
<td>May - November 2014</td>
<td>Kensal Rise, Brondesbury Park, Brondesbury, West Hampstead, Finchley Road &amp; Frognal, Hampstead Heath, Gospel Oak, Kentish Town West</td></tr>
<tr>
<td>September 2014 - April 2015</td>
<td>Camden Road, Caledonian Road &amp; Barnsbury, Highbury &amp; Islington (North London line platforms), Canonbury (North London line platforms), Dalston Kingsland, Homerton</td></tr></tbody></table></div></p>
<ul>
<li>As well as the platform lengthening, other works included in the London Overground Capacity Improvement Programme include: 
<ul type="square">
<li>Construction of a new stabling facility at Silwood in south-east London </li>
<li>Additional stabling in the north-west London area </li>
<li>Reconfiguration of the New Cross Gate and Willesden train maintenance depots </li>
<li>Signalling and power works associated with the platform extensions and depot/stabling modifications</li></ul></li>
<li>Platforms on the Clapham Junction to Willesden Junction route will be extended by Network Rail under their eight-car works for Southern Trains by May 2014 </li>
<li>At stations where platform extension is not a viable option to accommodate the longer trains, we will introduce selective door operating which will be facilitated by the open walk-through design of the carriages. This will be required at Whitechapel (temporarily until Crossrail completes construction), Wapping, Rotherhithe and Canada Water as it is not possible to extend the platforms to the required length without completely rebuilding the stations. Train announcements will provide advance warning about which doors will not open once the longer trains are introduced </li>
<li>The Government's commitment to electrify the Gospel Oak to Barking line will also allow for the introduction of higher capacity trains on this route at a later date</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Contractor appointed to prepare London Overground network for longer trains -->

 
 
        
        
            @{ViewBag.Description = "Contractor will extend or modify station platforms on the Clapham Junction/Richmond to Stratford London Overground routesTransport for London (TfL) today appointed leading construction and civil engineering firm Dyer and Butler as the contractor to";}
        
        


 