


@{ViewBag.Title = "Enjoy the festive season on the River Thames";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Enjoy the festive season on the River Thames</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Enjoy the festive season on the River Thames</h1>
        <div class="content-page-press-release">
        09 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A trip on the River Thames will be a magical experience this December with festive River Bus and River Tours services promising to help deliver Christmas cheer to both Londoners and visitors alike.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Jump onboard and relax in the capable hands of the River Bus and River Tours operators."</div>
        <div class="quote-footer">
            <div class="quotee-name">Andy Thompson</div>
            <div class="quotee-job-title">General Manager for London River Services</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Jump onboard and relax in the capable hands of the River Bus and River Tours operators.
                            
                        </p>
                    </div>
                
            
            
            <p>Regular River Bus services continue to offer fast and frequent connections not only for regular commuters, but also for the many people looking for that ideal Christmas present or a great night out.</p>
<p>With Christmas Markets in Greenwich, North Greenwich and along the Southbank, and leisure activities such as ice skating at Somerset House, Tower of London, The London Eye and Canary Wharf there is no better way to get around.</p>
<p>Passengers can make the trip extra special by visiting the onboard coffee shop or bar and trying something from the Christmas menus. </p>
<h2>Picturesque setting</h2>
<p>Make sure you don't miss the boat this December - check online for details of the River Bus services operating this Christmas on the <a href="http://www.thamesclippers.com">Thames Clippers website</a>.&nbsp; </p>
<p>A bumper sack of special festive activities is also available from River Tours, all set in a picturesque setting surrounded by London's most iconic sites.</p>
<p>For parties into the night with friends or work colleagues, or festive lunches, dinners and afternoon teas, set sail down the river to join the celebrations. </p>
<p>Full details can be found on individual operator websites.</p>
<h2>Jump onboard</h2>
<p>Andy Thompson, General Manager for London River Services, said: 'The River Thames has something for everyone this festive season so why not make it an extra special season of goodwill.&nbsp;</p>
<p>'Jump onboard and relax in the capable hands of the River Bus and River Tours operators.'</p>
<p>River services, including the Woolwich Ferry, carried over six million passengers in the eight-month period from April to November, the highest number since London River Services was formed in 1999.&nbsp;</p>
<p>These record numbers demonstrate that real progress is being made towards the Mayor's target of 12 million river passenger journeys a year by 2020.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>For more information on London's river services, visit <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> or pick up one of the new guides from some London River Services' piers, London Underground stations and Transport for London Travel Information Centres </li>
<li>There is a third off standard adult and child fares on most river services for passengers with valid Travelcards. Oyster pay as you go is accepted on River Bus services and passengers using it to pay for their fare receive a 10 per cent discount on most River Bus services.&nbsp;For regular passengers there is a range of competitive season tickets available on a weekly, monthly and yearly basis </li>
<li>London River Services is responsible for managing eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich </li>
<li>All London River Services piers are step-free at all states of the tide, allowing access for mobility impaired passengers.&nbsp;Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys.&nbsp;The relevant contact information is included in the new guide and is available at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Enjoy the festive season on the River Thames -->

 
 
        
        
            @{ViewBag.Description = "Regular River Bus services continue to offer fast and frequent connections not only for regular commuters, but also for the many people looking for that ideal Christmas present or a great night out.With Christmas Markets in Greenwich, North Greenwich and";}
        
        


 