


@{ViewBag.Title = "European Investment Bank provides new &pound;500m loan facility to Transport for London, giving further support to the Crossrail project ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">European Investment Bank provides new &pound;500m loan facility to Transport for London, giving further support to the Crossrail project </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>European Investment Bank provides new &pound;500m loan facility to Transport for London, giving further support to the Crossrail project </h1>
        <div class="content-page-press-release">
        13 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The European Investment Bank, Europe's long-term lending institution, has agreed to provide up to GBP 500 million to Transport for London (TfL) under a new corporate facility to support the latest step in Crossrail's development.
        
    </div>



 <div class="on-this-page">
<p>The facility will be used for financing a fleet of new high-capacity air-conditioned trains as well as a new maintenance depot. Finance contracts were signed in London this week by Steve Allen, TfL's Managing Director Finance and Jonathan Taylor, European Investment Bank Vice President. </p>
<p>Jonathan Taylor, European Investment Bank Vice President said: 'The European Investment Bank has supported key transport infrastructure across the UK for many years. We are pleased to provide significant support for the latest step in Crossrail's development, by backing new trains and maintenance facilities. This follows a billion pound loan for the tunnels provided five years ago. Crossrail will transform transport connections across Europe's largest city and bring economic benefits to both London and the South East. The European Investment Bank looks forward to continued strong engagement in the future.'</p>
<p>The Mayor of London Boris Johnson said: 'Crossrail is set to add vital new capacity to London's transport network and is creating thousands of jobs all over the UK. We welcome the EIB's commitment to Europe's largest construction project which is delivering a brand new world class subterranean railway line on time and on budget.'</p>
<p>Steve Allen, TfL's Managing Director, Finance said: 'Crossrail will increase rail capacity in the capital by 10 per cent and make it easier for people travelling across London, cutting journey times and will help create jobs and support growth and regeneration along the route. The new Crossrail trains will have air conditioning and walk through carriages maximising capacity.'</p>
<p>Each new Crossrail train will be around 200 metres in length and able to carry up to 1,500 passengers. On-train passenger information systems will deliver real-time travel information to allow passengers to plan their onward journeys. The new Crossrail trains will be built with an emphasis on minimising weight and use of intelligent on-train energy management systems.</p>
<p>European Investment Bank financing will also support construction and operation of a new depot for the Crossrail train fleet. </p>
<p>The rolling stock and depot contract is expected to be awarded in Spring 2014. Delivery and testing of trains is scheduled to start in 2017 ready for the opening of the new Crossrail tunnels to passengers in late 2018.&nbsp;&nbsp; </p>
<p>Over the last&nbsp;10 years the European Investment Bank has provided more than GBP 6.8 billion to support investment in transport infrastructure across the UK. This has included long-term loans for new Thameslink, Intercity and Eurostar trains, upgrading the DLR and London Overground, widening the M25 and investment in the London Gateway, Liverpool, Southampton and Hull ports. New city tram networks in Manchester and Nottingham as well as the HS1 line have also benefited from European Investment Bank financing. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<br></strong>The European Investment Bank:<br>The European Investment Bank (EIB) is the long-term lending institution of the European Union owned by its Member States. It makes long-term finance available for sound investment in order to contribute towards EU policy goals. </p>
<p>Photographs are available from the TfL Press Office upon request.</p>
<p><br>Press contacts:<br>European Investment Bank: <br>Richard Willis, +352 621 555 758, <br><a href="mailto:willis&#64;eib.org">willis&#64;eib.org</a><br>Press Office: +352 4379 21000 - <a href="mailto:press&#64;eib.org">press&#64;eib.org</a><br>Website: <a href="http://www.eib.org/press">www.eib.org/press</a> - </p>
<p>Transport for London: <br>Vicky Morley<br>020 3054 7185 <br><a href="mailto:vickymorley&#64;tfl.gov.uk">vickymorley&#64;tfl.gov.uk</a> <br>Press Office 0845 604 4141 - <a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a> <br>Website: <a href="http://www.tfl.gov.uk/media">www.tfl.gov.uk/media</a></p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-European Investment Bank provides new &pound;500m loan facility to Transport for London, giving further support to the Crossrail project  -->

 
 
        
        
            @{ViewBag.Description = "The facility will be used for financing a fleet of new high-capacity air-conditioned trains as well as a new maintenance depot. Finance contracts were signed in London this week by Steve Allen, TfL's Managing Director Finance and Jonathan Taylor, European";}
        
        


 