


@{ViewBag.Title = "First anniversary of contactless payment cards on London's buses";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First anniversary of contactless payment cards on London's buses</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First anniversary of contactless payment cards on London's buses</h1>
        <div class="content-page-press-release">
        16 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Successful first year has seen more than 6.5 million journeys made using a contactless payment card.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Each week we are setting a new record for usage which gives us great confidence for when we launch on the rest of the network and make contactless fully integrated next year.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Contactless payment card acceptance to launch on the wider transport network in 2014</li></ul>
<p>Transport for London (TfL) has celebrated its first successful year of accepting contactless payment cards on all of the Capital's 8,500 buses. </p>
<p>Since it was launched on Thursday 13 December 2012 when 2,061 customers made 2,586 journeys, more than 6.5 million journeys have now been made using an American Express, MasterCard or Visa Europe contactless payment card.</p>
<p><strong>33,000 bus journeys a day</strong></p>
<p>Usage continues to rise strongly and now an average of around 33,000 bus journeys a day are paid for using the debit, credit or charge cards. </p>
<p>Around 1,300 new cards are used each day as more customers benefit from the ease and convenience of using the card they already have in their pocket if they do not have an Oyster card or have run out of credit, and pay the cheaper PAYG fare rather than using cash.</p>
<p>Contactless payment was launched on buses first to raise awareness and instigate a smooth transition into the wider roll out. </p>
<p>Acceptance on London Underground, London Overground, DLR and trams will launch next year when London will become the first city in the world to fully integrate contactless payment cards into the fare system.</p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'It is fantastic that so many people are taking advantage of the ease and convenience of using their contactless payment cards to pay their bus fares. Each week we are setting a new record for usage which gives us great confidence for when we launch on the rest of the network and make contactless fully integrated next year.'</p>
<p>Charlie Craven, VP, Emerging Product Development, American Express, said: 'American Express is delighted to see the growing usage of contactless payments by our Card Members on TfL's buses. We are looking forward to working with TfL to further expand American Express acceptance across its broader transport infrastructure and marking a major milestone in contactless adoption in the UK when contactless payments are enabled on TfL's Underground and Overground network in 2014.'</p>
<p>Marion King, President UK &amp; Ireland, MasterCard said: 'We are delighted to congratulate TfL for reaching the first year milestone of contactless payments on buses. TfL and MasterCard continue to innovate and we are looking forward to the next chapter as contactless payments move onto the Tube in 2014.'<br>&nbsp;<br>Melanie Johnson, Chair of The UK Cards Association, said: 'Contactless technology is a fast, easy and secure way to pay by card for purchases up to &pound;20 without having to enter a PIN. It's great that cardholder customers are already finding this very convenient, using contactless cards to make over 6.5 million bus journeys in the last year. The cards industry is working closely with Transport for London to ensure a successful launch to its wider transport network in 2014 and we hope for this example to be followed elsewhere in the UK.'</p>
<p>Sandra Alzetta, Visa Europe Executive Director - Mobile, said: 'It's been so impressive to see how consumers and merchants have embraced contactless payments - particularly so in the last year where we've seen a three-fold increase in the number of payments made by consumers simply tapping their card to pay for low value payments in the UK. It's been clear that consumers living and working in London have loved using their Visa contactless cards to pay for their bus fares, with over six million journeys already paid with Visa over the last year. We're thrilled that TfL will be extending the opportunity for consumers to pay with their Visa contactless cards to the wider TfL network next year. This will bring a huge level of convenience to all our cardholders.'</p>
<p>Tami Hargreaves, Head of Contactless at Barclaycard, said: 'This milestone shows just how far Contactless has come since Barclaycard introduced it to the UK in 2007. It's great to see Contactless becoming more integrated into our everyday lives and London is well on the way to becoming a Contactless city, making payments easier for everyone. With 1,300 new cards touching the yellow readers on buses every day, this shows that there really is a strong foundation for the wider TfL rollout.'</p>
<p>Customer education is prudent when introducing such a new ticketing system and TfL continues to remind customers about presenting their Oyster or contactless payment cards separately to the yellow card readers to ensure the right card is charged for the journey. </p>

<p>This message has been widely published at bus stops on the real-time information displays, via emails to customers and through the media. </p>

<p>Since launch refunds requests for the incorrect card being charged have averaged less than three per day, out of around 4 million daily bus journeys paid for on Oyster.</p>
<p>There have been no technical issues since the system launched and TfL continues to work closely with the payments industry to prepare for the next phases. </p>
<p>A controlled pilot on London Underground, London Overground, DLR and trams will take place over the next few months to test the system, including additional customer messages, to rectify any operational issues before the full launch.</p>
<p><strong>Key milestones:</strong></p>
<ul>
<li>Launched 13 December 2012 - 2,061 customers made 2,586 journeys </li>
<li>10 April 2013 - 1 millionth journey made using contactless payment card </li>
<li>10 June 2013 - 2 millionth journey </li>
<li>30 July 2013 - 3 millionth journey </li>
<li>14 September 2013 - 4 millionth journey </li>
<li>21 October 2013 - 5 millionth journey </li>
<li>23 November 2013 - 6 millionth journey</li></ul>
<p>The top five bus routes for contactless payments over the last eight weeks (to 3 Dec) and consistently over the last year have been route 38 from Clapton Pond to Victoria, route 73 from Victoria to Stoke Newington, route 55 from Leyton to Oxford Circus, route 243 from Wood Green to Waterloo and route 149 from Edmonton Green to London Bridge.</p>
<p>The top five bus stops where passengers have boarded and touched in with their contactless payment card over the last eight weeks (to 3 Dec) have been London Bridge/Duke Street Hill, Angel Station/Duncan Street, Eden Street/Lady Booth Road, Kingston, Tottenham Court Road Station/New Oxford Street, and Shoreditch High Street/Bethnal Green Road.</p>
<p>
<hr>
<strong>Notes to Editors:</strong> 
<p>
<ul>
<li>For more information about Contactless on TfL's network visit <a href="http://www.tfl.gov.uk/contactless">tfl.gov.uk/contactless</a> </li>
<li>Contactless payment cards are debit, credit and charge cards that use contactless technology for small value payments. They are now being issued by banks for some Visa, MasterCard and American Express cards. Visit&nbsp;<a href="http://theukcardsassociation.org.uk/contactless/index.asp">theukcardsassociation.org.uk/contactless/index.asp</a> &nbsp;for more information </li>
<li>Customers must be careful to touch their Oyster or contactless payment card separately on a yellow card reader on buses or at stations to ensure the correct card is charged for the journey. If they are touched together, for example in the same wallet or purse, there is no risk that both cards will be charged simultaneously. However the reader may reject the touch or a card that you did not intend to pay with may be charged. Any customer with queries about the fare they have paid should contact our Customer Services team on 0343 222 1234 or <a href="mailto:oysterenquiries&#64;tfl.gov.uk">oysterenquiries&#64;tfl.gov.uk</a> </li>
<li>London is leading the way globally with the introduction of contactless payments on the transport network, with cities all around the world expressing an interest in following London's lead in this field </li>
<li>TfL will become one of the world's largest single&nbsp;merchants accepting contactless payments when the scheme is fully rolled out to the Tube, London Overground, DLR and trams and integrated with the bus network </li>
<li>Discussions are ongoing with the Train Operating Companies that serve London about accepting contactless payments on National Rail services where Oyster is currently accepted</li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-First anniversary of contactless payment cards on London's buses -->

 
 
        
        
            @{ViewBag.Description = "Contactless payment card acceptance to launch on the wider transport network in 2014Transport for London (TfL) has celebrated its first successful year of accepting contactless payment cards on all of the Capital's 8,500 buses. Since it was launched on";}
        
        


 