


@{ViewBag.Title = "London Underground calls on Tube staff to reject ballot over 24 hour Tube and future staffing";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Underground calls on Tube staff to reject ballot over 24 hour Tube and future staffing</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Underground calls on Tube staff to reject ballot over 24 hour Tube and future staffing</h1>
        <div class="content-page-press-release">
        03 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground reaffirms that all Tube stations will remain staffed and controlled, and repeats commitment to no compulsory redundancies.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are now consulting with our unions and staff on our future vision, and I would urge the unions to work with us to shape our plan."</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Hufton</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are now consulting with our unions and staff on our future vision, and I would urge the unions to work with us to shape our plan. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>All stations to be staffed when trains running and more staff in ticket halls to help customers</li></ul>
<p>London Underground (LU) has urged its staff to reject a call for 'pointless' strike action as unions begin a ballot of members on the Tube in response to plans unveiled in November to run parts of the Tube for 24 hours at weekends during 2015, and to make more staff visible at stations. </p>
<p>The plans, announced by the Mayor and LU Managing Director Mike Brown on Thursday 21 November, will see a 24 hour 'Night Tube' introduced on five lines during 2015, with more staff visible and available at stations to help customers buy the right ticket, plan their journeys and keep them safe and secure.</p>
<p>LU's Chief Operating Officer, Phil Hufton, has dismissed claims by the Rail, Maritime and Transport union's general secretary, Bob Crow that the proposals will lead to a poorer service for customers with accessibility needs. </p>
<p>In fact, under the plans LU will be able to continue its 'turn-up-and-go' service for those with accessibility needs, with more staff available on platforms and in ticket halls to help customers.</p>
<p>Phil Hufton said: 'Our customers and staff are at the heart of our vision for the future of the Tube, and we've made a series of clear commitments about how we'll introduce these changes. </p>
<p>'I say again: we promise customers that we'll introduce a 24 hour Tube service on five lines during 2015, and our commitment is that all Tube stations will remain staffed at all times when services are operating.&nbsp; </p>
<p>'In future there will be more staff in ticket halls and on gatelines to help customers buy the right ticket and keep them safe and secure. </p>
<p>'We know that change brings uncertainty for our people, and that's why we're clear that there'll be a job for everyone at LU who wants to work for us and be flexible, that we'll make these changes with no compulsory redundancies, and that we'll involve staff in our plans at every stage and support them through change. </p>
<p>'We are now consulting with our unions and staff on our future vision, and I would urge the unions to work with us to shape our plan. </p>
<p>'I want this to be a real consultation and I am determined to listen to all views expressed.&nbsp; </p>
<p>'If some aspects of our proposals need changing, then we will do just that. </p>
<p>'Threatening hard-working Londoners with pointless strike action is totally inappropriate given this commitment.'</p>
<p>
<hr>

<p>
<h2>Notes to editors:</h2>
<ul>
<li><a href="tfl.gov.uk/futuretube">Watch this short film to&nbsp;learn more about LU's plans for the future of the Tube</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-London Underground calls on Tube staff to reject ballot over 24 hour Tube and future staffing -->

 
 
        
        
            @{ViewBag.Description = "All stations to be staffed when trains running and more staff in ticket halls to help customersLondon Underground (LU) has urged its staff to reject a call for 'pointless' strike action as unions begin a ballot of members on the Tube in response to plans";}
        
        


 