


@{ViewBag.Title = "London Underground and Bombardier agree to re-let signalling contract";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Underground and Bombardier agree to re-let signalling contract</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Underground and Bombardier agree to re-let signalling contract</h1>
        <div class="content-page-press-release">
        31 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) and Bombardier Transportation today announced that the signalling contract for the Circle, District, Hammersmith & City and Metropolitan lines (Sub Surface lines) will be re-let by LU following discussions between the two companies
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is the right decision to make for London Underground and for Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is the right decision to make for London Underground and for Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>The new contract will see signalling modernised on 40 per cent of the Underground network, allowing LU to run more trains, more often and more reliably. </p>
<p>Combined with 191 S-Stock trains, which Bombardier has successfully supplied for the Metropolitan line and which are now being introduced on the Hammersmith &amp; City and Circle lines, the upgrade will increase capacity on the Sub-Surface lines - the Circle and Hammersmith &amp; City lines by 65 per cent, the District line by 24 per cent and the Metropolitan line by 27 per cent.</p>
<p>Bombardier was awarded a contract in June 2011 following a competitive tender process, and has already undertaken a great deal of preparatory work. </p>
<p>A new unified control centre has already been constructed, which means the project is ready to be advanced further. </p>
<p>However due to the complex nature of the network and the nature of the work to be carried out over the next five years, LU and Bombardier have taken the decision that LU will re-let the contract and&nbsp; continue the works with another contractor in the New Year.</p>
<p>LU will this week seek expressions of interest in the Official Journal of the European Union (OJEU) and at this stage there is no change to the original delivery timetable of 2018. </p>
<p>In the meantime Bombardier will continue to supply the S-Stock fleet, the first air-conditioned and walk-through trains on the Underground which have delivered a step-change improvement for customers on the network. </p>
<h2>Key Supplier</h2>
<p>The company is also a key supplier on the improvement programme for London Overground, where trains are being extended from four to five-car units to boost capacity on the capital's increasingly popular orbital railway.</p>

<p>LU's Managing Director, Mike Brown, said: 'This is the right decision to make for London Underground and for Londoners. </p>
<p>We have been working closely with Bombardier to find a way forward on what is one of the most challenging and complex pieces of work on the Tube. </p>
<p>However it has become apparent to both parties that for the work to be completed within or close to the planned deadline, we need to push on with works with another contractor. </p>
<p>Enabling works already completed by LU and Bombardier can be utilised when works recommence next year.</p>
<p>I look forward, of course, to continuing to working with Bombardier who are delivering the walk through air conditioned trains that will serve all four Sub-Surface lines by 2016.'</p>
<p>Lutz Bertling, President and Chief Operating Officer, Bombardier Transportation, said: 'Together with London Underground we have now laid the foundation for the complex signalling upgrade of the Sub Surface Railway. </p>
<p>Both parties have jointly and amicably agreed to complete and finalise the works that have been provided to date, and we look forward to working with London Underground as we continue to deliver the new air-conditioned trains for the network.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-London Underground and Bombardier agree to re-let signalling contract -->

 
 
        
        
            @{ViewBag.Description = "The new contract will see signalling modernised on 40 per cent of the Underground network, allowing LU to run more trains, more often and more reliably. Combined with 191 S-Stock trains, which Bombardier has successfully supplied for the Metropolitan line";}
        
        


 