


@{ViewBag.Title = "London's first pure electric 'emission free' buses hit the streets";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London's first pure electric 'emission free' buses hit the streets</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London's first pure electric 'emission free' buses hit the streets</h1>
        <div class="content-page-press-release">
        18 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trial electric buses to operate on busy central London commuter routes.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Should the performance and reliability of these buses meet London's challenging requirements, this could be a very important step towards adopting this new clean technology in the Capital."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">TfL's Director of Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Should the performance and reliability of these buses meet London's challenging requirements, this could be a very important step towards adopting this new clean technology in the Capital.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Buses deliver significant air quality benefits due to zero tail pipe emissions </li>
<li>Potential 75 per cent running cost saving compared to a diesel single deck bus</li></ul>
<p>An exciting new era of emission free bus travel was unveiled today, as Transport for London (TfL) and bus operator Go-Ahead London began a trial of the Capital's first electric buses.</p>
<p>Routes 507 and 521 will trial the new buses as the technology is particularly suitable for busy short commuter services which operate between Victoria, Waterloo and London Bridge stations.&nbsp; </p>
<p>The electric buses have zero tail pipe emissions, resulting in lower carbon emissions. </p>
<p>The trial will help TfL develop plans for greater use of electric buses in central London in the future, supporting the Mayor's vision of a central London Ultra Low Emission Zone. </p>
<p>The 12-metre single deck buses were built by Chinese manufacturer BYD Auto Ltd.&nbsp; </p>
<p>They will become a familiar sight to passengers on routes 507 and 521 when they enter passenger service tomorrow (Thursday 19 December).</p>
<p>Matthew Pencharz, Senior Environment and Energy Advisor to the Mayor of London, said: 'Electric buses could help deliver the cleaner and greener bus fleet we need to cut carbon emissions and improve air quality. </p>
<p>'If these prove successful we plan to see more introduced over the next few years to run alongside the hybrid and hydrogen bus technology that is already tackling air pollution and carbon emissions across the Capital.'</p>
<p>Mike Weston, TfL's Director of Buses, said: 'We will be closely monitoring the performance of these vehicles while they are being trialled here in London.&nbsp; </p>
<p>'Should the performance and reliability of these buses meet London's challenging requirements, this could be a very important step towards adopting this new clean technology in the Capital.'</p>
<p>John Trayner, Managing Director of Go-Ahead London, said: 'We are delighted to be partnering TFL and BYD on this exciting new project to run the first electric buses on London's streets.'</p>
<p>Isbrand Ho, Managing Director of BYD Europe, said today 'We are convinced that widespread adoption of the BYD ebus could have a dramatic effect on lowering pollution levels in major cities so this development in London, one of the world's top cities, is of tremendous importance. </p>
<p>'We look forward to a long and positive relationship with Transport for London and Go-Ahead London and to further deliveries of our market leading products in London and other UK cities.' </p>
<p>The trial will be used to establish whether the technology can stand up to the rigours of operating in an intense urban environment such as London.&nbsp; </p>
<p>The manufacturer's tests demonstrated a potential running cost saving of around 75 per cent compared to a diesel bus.&nbsp; </p>
<p>The buses take around four to five hours to fully charge overnight and should have a range of 250km, which would be sufficient to operate these buses for a full day on these routes without the need to recharge. </p>
<p>In addition to the two buses in this trial, six additional electric buses will be introduced into the TfL fleet in early 2014.&nbsp; </p>
<p>Four of the buses were secured with funding from the Department of Transport (DfT) Green Bus Fund with a further two funded from TfL's technology demonstration budget.</p>
<p>The electric bus trial is one of the many measures the Mayor has introduced to make London's bus fleet more environmentally friendly, including the operation of zero emission hydrogen buses on Route RV1 between Covent Garden and Tower Gateway and delivering Europe's largest hybrid bus fleet.&nbsp; </p>
<p>Around&nbsp;600 hybrid buses now operate on the capital's roads, including the New Routemasters, with more being introduced in a rolling programme.&nbsp; </p>
<p>By 2016 there will be more than 1,700 hybrid buses in service on London's streets representing 20 per cent of the total bus fleet.</p>
<p>
<hr>

<p>
<h3>Notes to editors:</h3>
<ul>
<li>BYD Auto Ltd is part of BYD, one of the world's largest makers of rechargeable batteries </li>
<li>Route 507 connects Waterloo Station and Victoria Station via Lambeth Bridge and Horseferry Road </li>
<li>Route 521 connects London Bridge Station and Waterloo Station via Monument, Cannon Street, St Paul's, Chancery Lane, Holborn, and Aldwych London Underground Stations </li>
<li>TfL is well past the half-way mark in an extensive retrofit programme of 900 older buses which involves fitting them with an innovative system called Selective Catalytic Reduction (SCR), reducing emissions of harmful oxides of nitrogen (NOx) by up to 88 per cent. To date, 580 buses have had this equipment fitted with the remainder due to be completed by March 2014 </li>
<li>More electric buses are anticipated to follow as London is engaged in a partnership funding bid with seven other cities in Europe to trial a range of pure electric and hybrid vehicle technologies and charging techniques<br></li></ul>
            <p>Trial electric buses to operate on busy central London commuter routes.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-London's first pure electric 'emission free' buses hit the streets -->

 
 
        
        
            @{ViewBag.Description = "Buses deliver significant air quality benefits due to zero tail pipe emissions Potential 75 per cent running cost saving compared to a diesel single deck busAn exciting new era of emission free bus travel was unveiled today, as Transport for London (TfL)";}
        
        


 