


@{ViewBag.Title = "Mayor launches huge expansion of flagship Barclays Cycle Hire scheme";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor launches huge expansion of flagship Barclays Cycle Hire scheme</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches huge expansion of flagship Barclays Cycle Hire scheme</h1>
        <div class="content-page-press-release">
        13 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Highly popular scheme launches in southwest London - expanding to cover over 100km&sup2; of London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Expanding the scheme will encourage even more people to take to two wheels in London, whether those journeys are for work or pleasure, and we hope it will also help to deliver wider economic benefits to these areas."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Expanding the scheme will encourage even more people to take to two wheels in London, whether those journeys are for work or pleasure, and we hope it will also help to deliver wider economic benefits to these areas.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>2,000 new bikes and more than 150 new docking stations around Clapham Junction, Hammersmith, Fulham and Putney</li>
<li>Series of improvements planned to make the scheme easier to use and more accessible</li></ul>
<p>Large parts of southwest London are now accessible by Barclays Cycle Hire with the expansion of the scheme now covering over 100km&sup2; of central and inner London - an increase of more than 50 per cent.&nbsp;&nbsp; </p>
<p>Already the second largest cycle hire scheme in Europe, it now boasts an additional 2,000 new bicycles and around 5,000 more docking points, making popular London destinations like Battersea Park, Fulham, Hammersmith and Portobello Market accessible by hire bike. </p>
<p>More than 90 London Underground stations (including the entire Circle line) and a number of major rail stations such as Clapham Junction, Liverpool Street, Paddington and Putney are now all within a short walk of a docking station, enabling more people to make cycling part of their daily commute. </p>
<p>Around half the new docking stations are south of the River Thames making the scheme far more accessible to people who live, work or study in south London. </p>
<p>Launching the expansion by taking a ride over Wandsworth Bridge on one of the first new bikes to serve the enlarged area, the Mayor of London, Boris Johnson said: 'Our iconic bikes have changed the face of the Capital since their launch three years ago and this expansion into great swathes of southwest London will enable even more people to hop on them. </p>
<p>'The hire bikes are a key part of my vision for cycling in the capital and I am committed to making sure the scheme becomes even bigger and better in the future.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at Transport for London (TfL), said: 'Bringing Barclays Cycle Hire to southwest London will open whole new areas of the Capital up to existing and first-time scheme users. </p>
<p>'Expanding the scheme will encourage even more people to take to two wheels in London, whether those journeys are for work or pleasure, and we hope it will also help to deliver wider economic benefits to these areas.'</p>
<p>Councillor Nicholas Botterill, leader of Hammersmith &amp; Fulham Council, said: 'This scheme is going to bring a cycling revolution to every street in Hammersmith &amp; Fulham, and being able to put pedal power into action today is like getting an early Christmas present. </p>
<p>'The southwest extension means our residents will be able to pop to the shop, nip into work or explore our borough on one of these bikes and they are now better-connected than ever.'</p>
<p>Councillor Russell King, executive member for transport at Wandsworth Council, said: 'There's been real excitement building in Wandsworth about this scheme's arrival and today local people can finally start to use these fantastic blue bikes to get around the borough. Barclays Cycle Hire is a valuable and pollution free addition to our transport network which can help reduce traffic jams and ease overcrowding on our tubes, trains and buses. </p>
<p>'In many cases it will be cheaper and more convenient than catching traditional public transport or getting in the car. </p>
<p>'Although these bikes won't be the right choice for everyone they will give thousands of local people a genuinely useful transport option they didn't have before today.'</p>
<p>The Mayor's Vision for Cycling set out a blueprint for the future of cycling in the capital, in which Cycle Hire has a big part to play. </p>
<p>The plans include new flagship segregated routes through the heart of London, new Quietway backstreet routes and the creation of up to four mini-Hollands in outer London.</p>
<p>As part of the vision a series of improvements to the Cycle Hire scheme are underway.&nbsp; </p>
<p>More than&nbsp;500 new docking points have been added in the last year to improve availability of the scheme in existing areas where demand is particularly high. </p>
<p>Improvements to the payment system have been made to make it even easier to use, and recent survey results show that overall satisfaction of members has reached the highest score since launch. </p>
<p>This year alone, more than 7.6 million trips have been made on the now iconic bikes, with over 26 million hires since the scheme began in July 2010.</p>
<p>The Mayor has written to a number of businesses and private landowners located in the City regarding the installation of private Barclays Cycle Hire docking stations in their premises or on their private land, to help reduce demand on existing docking stations in the City. </p>
<p>The Mayor has also written to those boroughs where demand for the scheme is the greatest, asking for their recommendations and suggestions on where new docking stations could be installed and existing docking stations extended. </p>
<p>Longer term, the scheme will also be integrated with other parts of the transport network - with plans for contactless payment using credit and debit cards being developed.</p>
<p>TfL continues to work with Serco to further deliver improvements to the redistribution of bikes around London. </p>
<p>A new depot in south London has now opened, allowing quicker redistribution and maintenance of bikes, and a new system which uses previous usage patterns to improve redistribution is currently being trialled and could be introduced in spring 2014 if it proves successful. </p>
<p>More detail on the improvements planned will be announced early next year. </p>
<p><a href="tfl.gov.uk/barclayscyclehireexpansion">More information about the scheme</a></p>
<p>
<hr>
</p>
<h3>Notes to editors:</h3>
<ul>
<li>The creation of an easy-to-use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire has transformed the way that people make short trips around central London</li>
<li>The scheme, which costs just &pound;2 for daily access and is free for the first 30 minutes. Customers wishing to speak to a Barclays Cycle Hire advisor or become a member can now use a new local rate 0343 222 6666 number</li>
<li>Earlier this year, the Mayor of London published his Cycling Vision for London, which aims to ensure two wheels are at the heart of our transport network. This vision included plans for expanding popular docking stations and encouraging companies, universities, colleges and hotels to install docking stations on their own premises</li>
<li>TfL publishes many statistics, including <a href="tfl.gov.uk/transparency/28364.aspx">Serco's performance against KPI targets</a>, on a quarterly basis</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Mayor launches huge expansion of flagship Barclays Cycle Hire scheme -->

 
 
        
        
            @{ViewBag.Description = "2,000 new bikes and more than 150 new docking stations around Clapham Junction, Hammersmith, Fulham and PutneySeries of improvements planned to make the scheme easier to use and more accessibleLarge parts of southwest London are now accessible by Barclays";}
        
        


 