


@{ViewBag.Title = "Mayor and TfL give energy efficiency boost with huge investment in street lighting ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor and TfL give energy efficiency boost with huge investment in street lighting </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL give energy efficiency boost with huge investment in street lighting </h1>
        <div class="content-page-press-release">
        02 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Largest single investment to modernise main road street lighting in London's history will lead to 40 per cent reduction in energy use.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With tens of thousands of lights marking the way on our road network it makes complete sense to focus energy and resources on bringing them up to 21st century standards.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Lower electricity consumption will contribute to savings of approximately &pound;1.85m a year and dramatically cut CO2 emissions by 9,700 tonnes a year </li>
<li>New energy efficient lighting supports the Mayor's target of a 60 per cent reduction in CO2 emissions by 2025</li></ul>
<p>Transport for London (TfL) has agreed a new energy efficient lighting programme to help reduce the cost of lighting the TfL Road Network (TLRN), while also doing its part to reduce CO2 emissions across the Capital.<br>&nbsp;<br>It is one of the largest 'invest to save' strategic road lighting projects ever undertaken in the UK, which will see improved reliability and lower operating costs all contributing to better and safer roads.&nbsp;</p>
<p><strong>Energy saving plan </strong></p>
<p>Across London, TfL has some 52,000 street lights, and as part of the Mayor's pledge to cut CO2 emissions, TfL has begun implementing the energy saving plan which will be delivered over the next three years. </p>
<p>By 2016, the programme aims to reduce associated CO2 by around 9,700 tonnes a year and contribute towards approximately &pound;1.85m of savings for TfL a year. </p>
<p>The programme will also reduce energy consumption by more than 40 per cent by 2016, compared to the current levels. </p>
<p>The programme comprises two specific strands: </p>
<ul>
<li>Introducing a Central Management System (CMS) for street lighting on the TLRN. This will allow TfL to remotely monitor and manage street lighting and dynamically control levels of lighting depending on use. By adjusting the lighting levels to be aligned better with traffic flows and road usage at different times of night TfL will significantly reduce its energy consumption and carbon emissions, without compromising road user safety or security. The system will remotely record lighting failures, enabling maintenance crews to ensure that lighting levels are restored without delay </li>
<li>Replacing conventional lighting with Light Emitting Diodes (LED). This will initially see 35,000 street lights updated through both targeted investment and TfL's regular streetlight maintenance by 2016. The new LED technology will be rolled out across the majority of TfL street lights during the next ten years</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'With tens of thousands of lights marking the way on our road network it makes complete sense to focus energy and resources on bringing them up to 21st century standards. This is the largest investment to modernise street lighting on major roads in our capital's history and will not only cut carbon emissions and save money but it will also lead to even better and safer roads for Londoners.'<br>&nbsp;<br>Dana Skelley, Director of Asset Management at TfL, said: 'The performance and cost effectiveness of energy efficient lighting has improved considerably over the last few years. Our aim is to provide assets fit for the future and this programme to upgrade lighting on the Capital's busiest roads is a simple, yet hugely effective way to not only reduce carbon emissions but to also reduce costs whilst providing better lighting of our road network.'<br>&nbsp;<br>These improvements form part of the wider work TfL is carrying out across London to deliver the recommendations of the Mayor's Roads Task Force (RTF) to tackle the challenges facing London's streets and roads. </p>
<p>This independent body brings together a wide range of interests and expertise, united in the belief that the capital needs a long-term strategy for roads and a commitment to major investment in street management and urban design.&nbsp;</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>TfL estimates the initial phase will cost &pound;10.9m, which will reduce associated CO2 by around 9,700 tonnes a year and contribute towards approximately &pound;1.85m of savings for TfL a year </li>
<li>TfL has awarded the contract to supply the Central Management System on its road network to Harvard Engineering </li>
<li>Following the success of Central Management Systems in other UK and London Local Authorities, such as Birmingham and the London Boroughs of Croydon and Lewisham and Hackney, TfL conducted pilot trials in three different areas in 2012. These trials determined the optimum lighting levels for the TfL Road Network, provided insight and reassurance on public perceptions and demonstrated the business case for further expansion across London </li>
<li>Previously, the capital costs of LED technology were prohibitive except for use in particular locations such as tunnels and subways.&nbsp; But as the LED market has expanded and matured, the business and technology case is now proven </li>
<li>In June 2011, the Upper Thames Street Tunnel in central London became the first UK tunnel to have linear LED lighting, which delivered a 60 per cent reduction in energy consumption as well as reduced maintenance costs. TfL has now installed a similar system into the A2 Eltham Tunnel and will look to progress a programme of installations in all tunnels across London during the next five years </li>
<li>During the next ten years, TfL will be investing around &pound;4bn into the capital's road network. Working with its partners, including London's Boroughs, TfL will build on the improvements already seen in the management of London's roads, streets and public spaces to help ensure London remains one of the most attractive, vibrant, accessible and competitive cities in the world</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Mayor and TfL give energy efficiency boost with huge investment in street lighting  -->

 
 
        
        
            @{ViewBag.Description = "Lower electricity consumption will contribute to savings of approximately &pound;1.85m a year and dramatically cut CO2 emissions by 9,700 tonnes a year New energy efficient lighting supports the Mayor's target of a 60 per cent reduction in CO2 emissions";}
        
        


 