


@{ViewBag.Title = "Mayor freezes fares in real terms for 2014 as TfL sets out investment priorities to support jobs and growth";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor freezes fares in real terms for 2014 as TfL sets out investment priorities to support jobs and growth</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor freezes fares in real terms for 2014 as TfL sets out investment priorities to support jobs and growth</h1>
        <div class="content-page-press-release">
        03 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        ***This is a Greater London Authority (GLA) press release***
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I know that families and working Londoners who have helped the drive the economic recovery still face real pressure over the cost of living and so I've decided to keep fares in line with RPI and therefore freeze them in real terms for next year."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I know that families and working Londoners who have helped the drive the economic recovery still face real pressure over the cost of living and so I've decided to keep fares in line with RPI and therefore freeze them in real terms for next year.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>2014 Transport for London fares frozen in real terms to help ease cost of living for Londoners </li>
<li>Fares held down due to TfL efficiencies programme and commercial revenue targets</li></ul>
<p>The Mayor of London Boris Johnson today delivered on his commitment to bear down on transport costs in the Capital by confirming that fares for Transport for London (TfL) services will be frozen in real terms in 2014, with an average rise of RPI only (3.1 per cent) from 2 January and a freeze on many fares at 2013 prices.<br>&nbsp;<br>TfL is also setting out this week how it is continuing to invest to modernise and improve London's transport network, to support jobs, more homes and economic growth in the capital and across the UK. </p>
<p>A revised TfL Business Plan to 2020/21, following the funding settlement agreed with Government earlier this year, will be published shortly and is due to be considered by the TfL board at its meeting on 11 December.<br>&nbsp;<br>In recognition that transport costs are one of the biggest pressures on working Londoners and household budgets, the Mayor has decided to raise fares by an average of RPI only for 2014, which is a freeze on fares in real terms. </p>
<p>Limiting the average fare increase to RPI only, rather than RPI+1 per cent, has been made affordable through a combination of measures including TfL's savings and efficiencies programme and commercial revenue targets.</p>
<p>Mayor of London, Boris Johnson, said:&nbsp;'I have always said I was determined to bear down on fares, while ensuring that we can still invest properly in a transport system that is critical to our city's success. </p>
<p>'This package, which has been made possible by the continuing delivery of efficiencies across TfL, ensures that fares remain affordable and that we have the level of funding we need to continue to improve the network and deliver even better, more frequent services for everyone. </p>
<p>'I know that families and working Londoners who have helped the drive the economic recovery still face real pressure over the cost of living and so I've decided to keep fares in line with RPI and therefore freeze them in real terms for next year.'<br>&nbsp;<br>TfL's revised Business Plan will set out how &pound;16bn of efficiencies and savings are being made across TfL to support billions of pounds of investment in transforming the Tube, completing Crossrail and enhancing the bus, London Overground, DLR and Tramlink services while continuing&nbsp; to build safe and attractive cycling infrastructure, improve the roads, high streets and neighbourhoods and tackle air pollution.</p>
<p>Some of the key improvements which will be delivered over the next ten years include:</p>
<ul>
<li>Crossrail - the brand new rail service linking east and west London which will be operating from 2018 </li>
<li>Northern line extension to Battersea via Nine Elms </li>
<li>The start of the next phase of Tube upgrades including the Piccadilly, Central and Bakerloo lines </li>
<li>1,700 hybrid buses including 600 more of the cleaner and greener New Bus for London operating across the bus network </li>
<li>The biggest ever investment in London's roads, including expanding the network of intelligent traffic signals to cover three-quarters of all signals in London, and major redesigns of key junctions such as Elephant &amp; Castle northern roundabout and Vauxhall gyratory </li>
<li>Tube station upgrades including Victoria, Tottenham Court Road and Elephant &amp; Castle </li>
<li>London Overground Capacity Improvement programme, delivering a 25 per cent increase in capacity by moving from four to five car trains by 2016 </li>
<li>Electrification of the Gospel Oak-Barking London Overground line </li>
<li>Four additional trams on south London's Tramlink network </li>
<li>Extension of contactless payment cards to the complete TfL network </li>
<li>A new TfL website with more personalised features and responsive design to make information faster and easier for customers to access while on the move </li>
<li>&pound;913m programme of investment over the next ten years to expand cycling infrastructure and cycling in the capital.</li></ul>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: 'The investment made in London's transport network in recent years means we are now carrying more customers, more safely and reliably than ever before and continue to deliver improvements on the road network for all users. </p>
<p>'We will continue to invest to support access to jobs, more homes and economic growth in London and across the UK.</p>
<p>'The Mayor has been able to bear down on fares in 2014 as a result of the more efficient delivery of improvements and services by TfL. </p>
<p>'With London's population set to grow from 8.4m today to around 10m by 2030, we will continue to build on our track record of modernisation and improvement on London's transport network to ensure it is properly equipped for the challenges that lie ahead.'</p>
<p>Because Travelcard season tickets cover both National Rail (NR) within Greater London and TfL services, and revenue is therefore split between the different operators and TfL, the weekly, monthly and annual Travelcards will rise by 4.1 per cent on average (RPI+1) to meet the NR fares rise of RPI+1 per cent. </p>
<p>The off-peak One Day Travelcard range, mostly used by visitors and only available on paper tickets, will be simplified in 2014 - only the Zones 1-6 off-peak ticket will be available and the cost of it will be frozen. </p>
<p>The Anytime One Day Travelcards will increase in line with NR fares by 40p for Zones 1-2 and 1-4 and 60p for zones 1-6. </p>
<p>The Oyster PAYG one day caps, which offer better flexibility than an upfront purchase of a Travelcard, will be frozen for the second year running to improve value for money for part time commuters. </p>
<p>Most Oyster pay as you go fares for the Tube, DLR and London Overground will remain frozen at 2013 prices next year. Only three fares, the Zone 1 peak and off-peak single tickets and the Zone 1-2 off-peak single ticket, will increase by 10p. Cash single fares, which are only used by around one per cent of Tube users, will increase by 20p. </p>
<p>To help hold down transport costs for part-time workers and other commuters there will be no increase to the TfL Oyster pay as you go daily caps for a second year running, which is expected to benefit around 200,000 people a week. </p>
<p>On London's buses, both the daily price cap and the cash fare for a single bus journey will be frozen. </p>
<p>The pay as you go fare for Oyster and contactless payment card users will rise 5p to &pound;1.45. </p>
<p>TfL has recently consulted on proposals to remove the option to pay by cash on all TfL bus services in mid-2014. </p>
<p>The consultation has now closed and a decision will be made by the Mayor later this year.</p>
<p>All free and concessionary travel for&nbsp; young, elderly and disabled Londoners, as well as Veterans and members of the Armed Forces, has been protected in full.</p>
<p>Further details of the new fares are set out in the tables below, but the key elements of the January 2014 fares package are:</p>
<ul>
<li>On the Tube, only three fares, the Zone 1 peak and off-peak single tickets and the Zone 1-2 off-peak single ticket, will increase by 10p </li>
<li>Oyster pay as you go caps frozen for the second year running </li>
<li>On the Buses, the pay as you go fare on Oyster and contactless payment card increases 5p to &pound;1.45 while the daily cap and cash fare is frozen </li>
<li>The 7 Day Bus &amp; Tram Pass will increase by 80p to &pound;20.40 </li>
<li>The off-peak One Day paper Travelcard range will be simplified to the Zone 1-6 off peak ticket only and it is frozen at 2013 prices. Anytime One Day paper Travelcards rise in line with NR fares </li>
<li>7 Day Travelcards, and corresponding monthly and annual Travelcards, increase by the 4.1 per cent average reflecting the link with regulated National Rail fares </li>
<li>From 2 January, fares on the Emirates Air Line will also increase by 10p except for multi-trip Oyster fares for regular users which will remain at &pound;1.60. This is an overall increase of 3.2 per cent. It will be the first time fares have increased on the Emirates Air Line, which has now carried over 3 million passengers</li></ul>
<p>
<hr>

<p>
<h2>Notes to editors: </h2>
<ul>
<li>The full TfL fares tables for 2014 are available from the TfL Press Office and will be posted on the <a href="http://www.london.gov.uk/">GLA website </a>shortly </li>
<li>To maintain TfL's unprecedented investment in the transport network, the TfL Business Plan will continue to assume an RPI+1 per cent rise in fares beyond 2014, with the actual decision taken each year by the Mayor </li>
<li>Based on July's RPI figure fares for TfL services will rise by 3.1 per cent on average in January </li>
<li>Contactless payment cards were launched on London's buses in December 2012.&nbsp;More than&nbsp;5 million journeys have already been made using the bank cards and their acceptance will be extended to the Tube, London Overground, DLR, Tram network in early 2014. Fares on contactless payment cards are the same as Oyster fares </li>
<li>Daily price capping using a contactless payment card will not apply to bus journeys until the full contactless payment card launch on the TfL network in 2014 </li>
<li>Bus &amp; Tram, Oyster pay as you go, Travelcard, cash on TfL Rail (includes Tube, London Overground and DLR) and Emirates Air Line fares tables below<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Mayor freezes fares in real terms for 2014 as TfL sets out investment priorities to support jobs and growth -->

 
 
        
        
            @{ViewBag.Description = "2014 Transport for London fares frozen in real terms to help ease cost of living for Londoners Fares held down due to TfL efficiencies programme and commercial revenue targetsThe Mayor of London Boris Johnson today delivered on his commitment to bear down";}
        
        


 