


@{ViewBag.Title = "Partygoers encouraged to plan ahead and get home safely with free travel this New Year's Eve";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Partygoers encouraged to plan ahead and get home safely with free travel this New Year's Eve</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Partygoers encouraged to plan ahead and get home safely with free travel this New Year's Eve</h1>
        <div class="content-page-press-release">
        27 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I want to encourage passengers travelling on New Year's Eve to make sure they plan ahead for their journey home
                            
                        </p>
                    </div>
                
            
            
            <p>To countdown a wonderful 2013, and to bring in the new year, a number of celebrations will be taking place across the Capital on 31 December and revellers are being encouraged to get home safely with free travel sponsored by Diageo this New Year's Eve.</p>
<p>Free travel will be available between 23:45 on 31 December and 04:30 on 1 January on the Tube, buses, DLR, Tramlink and until last trains on London Overground.</p>
<p>The celebrations will include the Mayor of London's New Year's Eve fireworks display at the EDF Energy London Eye, and large crowds are expected around the celebration areas, particularly around the Thames. </p>
<p>Partygoers are encouraged to plan their journeys in advance by visiting <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a>. </p>
<p>People choosing to take a taxi home are reminded to only take a black cab or a pre-booked minicab.&nbsp; </p>
<p>Partygoers are encouraged to download the free Cabwise app (available on iTunes and Google Play) which allows users to book a licensed minicab or black cab which is closest to their current location in three easy steps. </p>
<p>If there is no signal available at the location, the app defaults to the Cabwise text messaging service (60835). </p>
<p>Alternatively users can visit. <a href="http://www.tfl.gov.uk/cabwise">www.tfl.gov.uk/cabwise</a> on their smart phone and simply bookmark the page. </p>
<p>The MPS Safer Transport Command will also be out on patrol to ensure that revellers get home safely after a good night out.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: 'It has been another fantastic year in the capital and I am sure that thousands of people will be out in London celebrating the end of 2013 in style. </p>
<p>I want to encourage passengers travelling on New Year's Eve to make sure they plan ahead for their journey home. </p>
<p>They can either make use of the free travel being provided on our services sponsored by Diageo, or if taking a taxi they should make sure it is a black cab or a pre-booked minicab.'</p>
<p>Andrew Cowan, Country Director, Diageo Great Britain said: 'Our brands are synonymous with celebration - and what bigger celebration is there than New Year's Eve? We want everyone to enjoy themselves and we want to make sure everyone can get home safely.</p>
<p>'We've had two great years partnering with TfL and this year we're launching our Grumpy Gorilla to remind people to have fun - but to be careful and think while they drink.'</p>
<p>Tube, DLR and Tramlink services will run all night on New Year's Eve. </p>
<p>Some selected Tube stations will be closed completely or for periods at a time for crowd control and safety purposes. </p>
<p>The online Festive Travel Guide lists these closures <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a>. </p>
<p>Night buses and 24 hour routes will also be operating; some routes may be on diversion due to road closures in central London. </p>
<p>Passengers should plan their journey carefully before travelling to be aware of diversions and station closures.</p>
<p>On 1 January 2014, London's annual New Year's Day Parade will take place from 12:00 to 15:00 with up to 10,000 participants set to take part. </p>
<p>The parade will travel along Piccadilly, Lower Regent Street, Waterloo Place, Pall Mall, Cockspur Street and Whitehall, finishing at the junction of Parliament Street and Parliament Square. </p>
<p>These roads will be closed to traffic from 04:00 with all roads reopened as soon as it is safe to do so. </p>
<p>Roads close to the event, including Piccadilly eastbound, Berkeley Square, Shaftsbury Avenue, Haymarket, Piccadilly Circus, Trafalgar Square, Strand and Whitehall will also be closed to traffic. </p>
<p>From 12:00, Parliament Square will be closed. Customers are advised to avoid driving near affected areas in and around central London.</p>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<ul>
<li>TfL's Festive Travel Guide is available online at <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a></li>
<li>For more details on the New Year's Parade please visit <a href="http://www.londonparade.co.uk">www.londonparade.co.uk</a></li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">www.tfl.gov.uk/cabwise</a> and <a href="http://www.tfl.gov.uk/traveltools">www.tfl.gov.uk/traveltools</a></li>
<li>TfL's 24 hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London. Call 0343 222 1234</li>
<li>TfL has been providing free travel for party goers on New Year's Eve since 2000. Free travel will not apply on the Emirates Air Line which will be operating a normal weekday service</li>
<li>In 2011, Diageo signed a three year deal with TfL to sponsor free travel on New Year's Eve in the capital.The sponsorship is part of Diageo's responsible drinking programme which includes the sponsorship of public awareness campaigns to promote responsible drinking, targeted interventions and initiatives focused on those who misuse alcohol, and providing support for initiatives to boost safety in the night-time economy. <br><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Partygoers encouraged to plan ahead and get home safely with free travel this New Year's Eve -->

 
 
        
        
            @{ViewBag.Description = "To countdown a wonderful 2013, and to bring in the new year, a number of celebrations will be taking place across the Capital on 31 December and revellers are being encouraged to get home safely with free travel sponsored by Diageo this New Year's";}
        
        


 