


@{ViewBag.Title = "Plan ahead if you are travelling around London this festive season ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan ahead if you are travelling around London this festive season </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan ahead if you are travelling around London this festive season </h1>
        <div class="content-page-press-release">
        06 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL has published festive travel information and advises customers to plan ahead to make the most of London's attractions, shopping and leisure opportunities.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            For those wishing to brave the crowds to come into central London to celebrate, public transport is the only way to get around London on New Year's Eve.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL and Diageo partnership ensures customers will get home safely after seeing in the New Year </li>
<li>TfL joins Network Rail and Train Operators to urge all rail passengers including Gatwick Airport customers to plan in advance during Christmas engineering works</li></ul>

<h3>Annual Festive Travel Guide </h3>
<p>Transport for London (TfL) has published its annual Festive Travel Guide online to help Londoners and visitors travelling around the Capital during the festive season plan their journeys. </p>
<p>The website, <a href="http://www.tfl.gov.uk/festive">tfl.gov.uk/festive</a>&nbsp; contains details of London Underground, buses, Docklands Light Railway (DLR), Tramlink, London Overground, Emirates Air Line, Riverboat services, Barclays Cycle Hire and the Congestion Charge throughout the Christmas and New Year period. </p>
<p>TfL's transport network is carrying more people, more reliably, than ever and over the quiet festive period, over 1,000 people will be carrying out essential engineering works on the London Underground, DLR and London Overground. </p>
<p>TfL is increasing capacity on the Tube by 30 per cent through new trains, signalling and track and TfL is rebuilding key stations. </p>
<p>The quiet festive period enables TfL to carry out essential works with less disruption to customers and to keep London moving.</p>
<h3>Free Travel</h3>
<p>Diageo will once again provide free travel on New Year's Eve so that festive party goers can get home safely. </p>
<p>It is the third year of Diageo's three year sponsorship of free travel. </p>
<p>Free Travel&nbsp;will be available between 23:45 on 31 December and 04:30 on 1 January on the Tube, buses, trams, DLR, and until last trains on London Overground.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: 'We are ensuring that as many of our services will continue operating throughout the festive season with the exception of Christmas Day when all our services will be closed. We will be operating reduced services when appropriate and we will also take the opportunity of this quieter time to carry out essential engineering works as part of our Tube investment programme. I encourage all our customers to plan their journeys in advance by visiting our festive travel website. </p>
<p>'Diageo will once again be providing free travel for revellers on New Year's Eve as part of our three year sponsorship deal. For those wishing to brave the crowds to come into central London to celebrate, public transport is the only way to get around London on New Year's Eve.' </p>
<p>Andrew Cowan, Country Director, Diageo Great Britain, said: 'Our brands are synonymous with celebration - and what bigger celebration is there than the festive season? We want everyone to enjoy themselves but we also want them to think how they drink and ensure they get home safely. </p>
<p>'As well as sponsoring free travel on New Year's Eve we are also supporting 'Safer Travel at Night', to raise awareness about the dangers of using illegal minicabs and funding more than&nbsp;50 Street Pastors on the streets around Trafalgar Square on New Year's Eve.'</p>
<p>A full list of TfL's social media channels is available at <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a>&nbsp; which includes details of the Twitter feeds for each of the 11 different London Underground lines, buses, the DLR, London Overground, Barclays Cycle Hire, Emirates Air Line and live traffic news for updates during the festive period.</p>
<p><strong>Congestion Charge<br></strong>From Wednesday 25 December until Wednesday 1 January inclusive, the central London Congestion Charge will be suspended and motorists will not have to pay. For more information, visit: <a href="http://www.tfl.gov.uk/cc">tfl.gov.uk/cc</a> </p>
<p><strong>Roads <br></strong>Over the Christmas period road works will not be taking place close to London's shopping centres and other busy areas. On other parts of the TfL road network, traffic levels will be lighter than usual. Road users are advised to check for disruptions on the TfL website <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a>&nbsp; or follow &#64;TfLTrafficNews on Twitter.</p>
<p>Road closures in central London will be in place from 17:00 on 31 December to facilitate New Year celebrations.&nbsp; As a result some buses in the area will be on diversion or will finish early.</p>
<p>On 1 January 2014 roads will be closed in central London from 06:00 for the New Year's Day Parade.</p>
<p><strong>Barclays Cycle Hire<br></strong>Barclays Cycle Hire bikes will be available for hire throughout the festive period although some docking stations may not be in use particularly on New Year's Eve. For the latest information on docking station availability, users should check online at: <a href="http://www.tfl.gov.uk/barclayscyclehire">tfl.gov.uk/barclayscyclehire</a></p>
<p><strong>Emirates Air Line <br></strong>A weekday service will operate on Tuesday 24 December. The Emirates Air Line will be closed on Christmas Day. A Saturday service will operate on Boxing Day. Normal service will then be in operation from Friday 27 until Tuesday 31 December. A Saturday service will operate on New Year's Day. </p>
<p><strong>Dial-a-Ride<br></strong>Dial-a-Ride will be operating throughout the festive period and customers are encouraged to make their special booking arrangements in advance. Contact centres will be closed on Christmas Day, Boxing Day and New Year's Day. For further information please contact Dial-a-Ride direct on 0343 222 7777. </p>
<p><strong>Riverboat Service<br></strong>Some services will be operating amended timetables, please contact the Riverboat Service Operators before travelling <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> </p>
<p><strong>Victoria Coach Station<br></strong>Victoria Coach Station is always busy over the festive period. It will be opened from 07:00 until 21:00 on Tuesday 24 December. It will be closed on Wednesday 25 December. Customers are encouraged to book their coach tickets in advance. </p>
<p><strong>Taxi, licensed minicabs and private hire vehicles<br></strong>Customers are advised to always use a booked minicab or taxi (black cab) to ensure their journey is legal and safe. A free Cabwise app (available on iTunes and Google Play) can also be downloaded which allows users to book a licensed minicab or black cab which is closest to their current location in three easy steps. If there is no signal available at the location, the app defaults to the Cabwise text messaging service (60835). Alternatively users can visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> on their smartphone and simply bookmark the page. </p>
<p><strong>Travelling to Gatwick Airport<br></strong>There are major changes to train services on the Brighton main line between London, Gatwick Airport and the south coast over Christmas and New Year's. Normal service resumes on Thursday 2 January, 2014. Customers planning to travel on this service during the festive period are advised to visit <a href="http://www.nationalrail.co.uk">www.nationalrail.co.uk</a>&nbsp; or call 08457 48 49 50.</p>
<p><strong>Buses, Tube and Rail </strong></p>
<p><strong>Christmas Eve, Tuesday 24 December<br></strong>A Saturday service will operate on the bus network with some exceptions. Routes 507 and 521 will operate a reduced weekday service. There will be no service on the route 603. Route 969 will operate a reduced Tuesday service. Route X68 will operate a normal weekday service. There will be no night buses. 24 hour routes will operate until just after midnight. </p>
<p>A normal weekday service will operate on the Tube, but there will be no evening peak boost. Services will be reduced after 20:00 and last trains will run earlier at Sunday times with the exemption of the Waterloo and City Line where last trains from Waterloo will be at 23:20 and last trains from Bank at 23:26. Cannon Street station will close at 21:00 and Marylebone station will close at 22:30. </p>
<p>On the DLR, a normal weekday service will operate until 14:00 when a reduced service will operate on all routes. Services will end at approximately 23:00. </p>
<p>London Overground will operate a weekday service on all routes with last trains around 21:30 with the exception of the Highbury &amp; Islington to West Croydon / Clapham Junction where there will be no services between Highbury &amp; Islington and New Cross/ Clapham Junction / Crystal Palace / West Croydon. </p>
<p>On London Tramlink, a Saturday service will operate, but with a reduced timetable from 20:00. </p>
<p><strong>Christmas Day, Wednesday 25 December <br></strong>There will be no services running on the Tube, buses, DLR, London Tramlink or, London Overground.</p>
<p><strong>Boxing Day, Thursday 26 December<br></strong>A Sunday service will operate on buses. All 24 hour buses will enter service by 06:00 with night buses operating a Thursday night service. </p>
<p>From 08:30, special services will operate on all Tube lines with last trains at Sunday times. Some engineering works will be taking place which means some stations or short sections of lines will be closed, customers are advised to plan their journeys in advance.</p>
<p>There will be no service throughout the day between Edgware Road / Earls Court and Richmond / Ealing Broadway / Kensington Olympia on the District line. After 19:00, the South Kensington to Wimbledon section will also be closed. As a result, the Piccadilly line will call at all stations between Hammersmith and Acton Town. Trains will also operate to and from Ealing Broadway. </p>
<p>There will be no service between Finchley Road and Waterloo on the Jubilee line from Thursday 26 December until Sunday 30 December inclusive.&nbsp; </p>
<p>On the Northern line, there will be no service between Kennington and Morden. </p>
<p>There will be no service on the Waterloo &amp; City line.</p>
<p>Upminster Bridge, Cannon Street and Kensington (Olympia) stations on the District line be closed. North Ealing station on the Piccadilly line will be closed.</p>
<p>There will be no services on the London Overground network, however, some interchange stations will be open. </p>
<p>Services on the DLR will operate between 08:30 and 23:30. </p>
<p>A Sunday service will operate on London Tramlink, but with seven to eight minutes' frequency between 10:30 and 17:30 with additional services between East Croydon and Wimbledon. </p>
<p><strong>Friday 27 December&nbsp; <br></strong>Buses will operate a Saturday service with some exceptions. Route 507 and 521 will operate a reduced weekday service. There will be no service on the route 603. Routes 931, 965 and 969 will operate a normal Friday service. Route X68 will operate a normal weekday service, and 24 hour bus routes and night buses will operate a Friday night service.</p>
<p>Generally, Saturday services will be in operation on all Tube lines.</p>
<p>From Friday 27 December until Monday 30 December there will be no service west of South Kensington on the District line. </p>
<p>From Friday 27 December until Monday 30 December, Piccadilly line trains will call at all stations between Hammersmith and Acton Town. Trains will also operate to and from Ealing Broadway, this is due to engineering works on the District line.</p>
<p>Chancery Lane station on the Central line will be closed from 27 December until 30 December inclusive.</p>
<p>A Saturday service will operate on London Overground routes except:</p>
<ul>
<li>On the Gospel Oak to Barking service, there will be no service between South Tottenham and Barking </li>
<li>On the Highbury &amp; Islington and Clapham Junction / West Croydon, there will be no service between Highbury &amp; Islington and New Cross / Clapham Junction / Crystal Palace / West Croydon</li></ul>
<p>A Saturday service will operate on London Tramlink and DLR services from Friday 27 December until Saturday 28 December inclusive. </p>
<p><strong>Saturday 28 December<br></strong>A normal Saturday service will operate on day, 24 hour and night buses.</p>
<p>A normal Saturday service will be in operation on all Tube lines.</p>
<p>There will be no service between Edgware Road and Camden Town on the Northern line. <br>&nbsp;<br><strong>Sunday 29 and Monday 30 December&nbsp;</strong> <br>Sunday services will operate on both days on buses. 24 hour routes and night buses will also operate Sunday services. </p>
<p><strong>New Year's Eve, Tuesday 31 December<br></strong>Revellers who want to see in the New Year in central London are advised to plan ahead and be prepared for large crowds, particularly if they want to watch the Mayor of London's New Year's Eve fireworks display. </p>
<p>Each year the display at the EDF Energy London Eye attracts a capacity crowd, who have a long wait in the designated viewing areas along the Thames. The display can also be watched live on television and people with young children may wish to consider celebrating nearer to home. </p>
<p>For more information go to <a href="http://www.london.gov.uk/nye">www.london.gov.uk/nye</a></p>
<p>Diageo will sponsor free travel on all journeys between 23:45 on New Year's Eve until 04:30 on 1 January on the Tube, DLR, Buses and Tramlink. Free travel will apply on London Overground trains running after 23:45 until last train times. </p>
<p>A Saturday night service will operate on night bus and 24 hour routes, subject to road closures in central London. However, there will be some exemptions. Route 507 and 521 will operate a reduced weekday service. </p>
<p>There will be no service on route 603. A normal Tuesday service will operate on route 969.Route X68 will operate a normal weekday service .Route 507 will operate until 19:00. On route 388, a service between Liverpool Street and Hackney Wick will operate after 16:00 due to road closures.</p>
<p>Tube, DLR and Tramlink services will run all night on New Year's Eve. Some selected Tube stations will be closed completely or for periods at a time. The online festive travel information lists these closures.</p>
<p>Riverboat services will run mainly normal services but London Eye pier will not be served after 14:48 in order to prepare for the firework display. Some routes will operate on New Year's Day, but a normal service will not resume until Thursday 2 January.</p>
<p><strong>New Year's Day, Wednesday 1 January<br></strong>Buses will operate a Sunday service throughout the day and a normal Wednesday night service on all 24 hour routes and night bus routes.</p>
<p>Special services will run on all Tube lines, with last trains at normal weekday times.&nbsp; Services will operate on all lines every 10-15 minutes in the central area and every 20-30 minutes in outer areas until 10:30. For the rest of the day, a reduced Sunday service will be in operation. </p>
<p>On the DLR, a normal weekday service will be in operation. A Saturday service will operate on the London Overground however, trains will start later. A Sunday service will operate on the London Tramlink. </p>
<p>Some roads will be closed in central London from 04:00 for the New Year's Day Parade, and roads will reopen as soon as it is safe to do so.&nbsp; </p>
<p>Road closures include:</p>
<ul>
<li>Piccadilly eastbound closed from the underpass </li>
<li>Berkeley Square, including all access to the Square<br>-&nbsp;Shaftesbury Avenue, Haymarket, Piccadilly Circus, Trafalgar Square, Strand and Whitehall </li>
<li>From 12:00 all access to Parliament Square will be closed</li></ul>
<p>Customers are advised to avoid driving near the affected areas in and around central London.&nbsp; </p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<ul>
<li>Please note that some of the travel information could be subject to change and customers are advised to check before they travel. The latest festive travel information is&nbsp; available online at <a href="http://www.tfl.gov.uk/festive">tfl.gov.uk/festive</a> </li>
<li>For more details on the New Year's Parade please visit <a href="http://www.londonparade.co.uk">www.londonparade.co.uk</a> </li>
<li>A full list of all TfL's social media channels can be found at <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a>&nbsp; </li>
<li>TfL has been providing free travel for party goers on New Year's Eve since it was created in 2000. Free travel will not apply on the Emirates Air Line. In 2011, Diageo signed a three year deal with TfL to sponsor free travel on New Year's Eve in the Capital. The sponsorship is part of Diageo's responsible drinking programme which includes the sponsorship of public awareness campaigns to promote responsible drinking, targeted interventions and initiatives focused on those who misuse alcohol, and providing support for initiatives to boost safety in the night-time economy </li>
<li>Information about events and attractions throughout Christmas and into New Year can be found at <a href="http://www.visitlondon.com/christmas">www.visitlondon.com/christmas</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Plan ahead if you are travelling around London this festive season  -->

 
 
        
        
            @{ViewBag.Description = "TfL and Diageo partnership ensures customers will get home safely after seeing in the New Year TfL joins Network Rail and Train Operators to urge all rail passengers including Gatwick Airport customers to plan in advance during Christmas engineering";}
        
        


 