


@{ViewBag.Title = "TfL warns motorists to avoid unofficial Congestion Charge websites";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL warns motorists to avoid unofficial Congestion Charge websites</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL warns motorists to avoid unofficial Congestion Charge websites</h1>
        <div class="content-page-press-release">
        09 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Unofficial sites charge up to a &pound;6 premium for same services TfL provides for free.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Around 1,000 people per day may unwittingly use unofficial sites to pay charge&nbsp;</li></ul>
<p>Transport for London (TfL) is reminding motorists to take extra care when paying the London Congestion Charge online and to make sure they are using the official website - <a href="tfl.gov.uk/cc">tfl.gov.uk/cc</a>&nbsp;</p>
<p>TfL is aware that a number of websites offer to pay the Congestion Charge on behalf of drivers.&nbsp; </p>
<p>However these websites are not official payment channels and they charge motorists a premium, in some cases as much as &pound;6. <br>&nbsp;<br>Unofficial sites pay search engines to promote their businesses and ensure they are the top items when people use terms like 'Pay Congestion Charge'.&nbsp; </p>
<p>Around 1,000 people per day are, in many cases, unwittingly using unofficial sites to pay the Congestion Charge.&nbsp;&nbsp;&nbsp; <br>&nbsp;<br>The unofficial websites justify their inflated prices by claiming they offer extra services for customers such as email confirmation and a dedicated phone helpline.&nbsp; </p>
<p>However TfL offers these services for free.<br>&nbsp;<br>There have also been a number of cases where these unofficial sites have failed to pay the Congestion Charge on behalf of their customers, resulting in drivers receiving a Penalty Charge Notice (PCN) from TfL for non-payment of the Congestion Charge. <br>&nbsp;<br>By paying via the official TfL website customers will avoid any unnecessary charges imposed by unofficial websites and they will remove the risk of receiving a PCN. <br>&nbsp;<br>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: 'We urge customers paying the Congestion Charge online to be careful and to double check that they are paying via the official TfL website - <a href="tfl.gov.uk/cc">tfl.gov.uk/cc</a> - which is a quick and easy way to pay, and avoids any unnecessary charges.&nbsp;&nbsp;<br>&nbsp;<br>'We are doing as much as we can to minimise the risk of unofficial websites or adverts misleading customers into paying more than they need to, including talking to Trading Standards, the Office of Fair Trading, the Advertising Standards Authority and search engine providers.&nbsp; </p>
<p>'We will continue to pursue these avenues but in the meantime we urge motorists to take care and only use TfL's website.'</p>
<p>Customers can avoid paying via unofficial websites by registering with TfL for the automatic payment service, CC Auto Pay.&nbsp; </p>
<p>TfL automatically records the number of charging days a vehicle travels within the charging zone each month and bills the customer's debit or credit card monthly. <br>&nbsp;<br>With CC Auto Pay, registered customers never need to remember to pay the charge again; they pay a reduced daily charge (&pound;9 instead of &pound;10) and are protected from receiving Penalty Charge Notices as long as the vehicle is registered with TfL and the CC Auto Pay account is active.</p>
<p>
<hr>

<p>
<h3>Notes to editors:</h3>
<ul>
<li>The official TfL website to pay the Congestion Charge is <a href="tfl.gov.uk/cc">tfl.gov.uk/cc </a></li>
<li>If customers wish to pay via phone the official TfL number is 0343 222 2222 </li>
<li>For details of other official payment methods please visit: <a href="tfl.gov.uk/roadusers/congestioncharging/6744.aspx">tfl.gov.uk/roadusers/congestioncharging/6744.aspx</a> </li>
<li>The price of the Congestion Charge if paying in advance of, or on, the day of travel is &pound;10<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-TfL warns motorists to avoid unofficial Congestion Charge websites -->

 
 
        
        
            @{ViewBag.Description = "Around 1,000 people per day may unwittingly use unofficial sites to pay charge&nbsp;Transport for London (TfL) is reminding motorists to take extra care when paying the London Congestion Charge online and to make sure they are using the official website -";}
        
        


 