


@{ViewBag.Title = "TfL Business Plan sets out how every penny raised is reinvested in improving services and modernising transport network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Business Plan sets out how every penny raised is reinvested in improving services and modernising transport network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Business Plan sets out how every penny raised is reinvested in improving services and modernising transport network</h1>
        <div class="content-page-press-release">
        04 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Continued investment in Tube upgrade, Crossrail and roads helps to support jobs and growth in the Capital and boost London's economy.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With London's population expected to grow from 8.4 million today to around 10 million in the 2030's, our network must keep pace if London's success and growth are to continue. Targeted investment and advances in technology will allow us to do this."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With London's population expected to grow from 8.4 million today to around 10 million in the 2030's, our network must keep pace if London's success and growth are to continue. Targeted investment and advances in technology will allow us to do this.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London&nbsp;(TfL)&nbsp;has set out its priorities up to 2020/21 in its draft Business Plan which will be considered at the TfL Board on Wednesday 11 December. </p>
<p>Mayor of London Boris Johnson has confirmed that fares for 2014 have been kept to an average rise of RPI only through savings and efficiencies, including changes at London Underground stations and the introduction of contactless payments and commercial revenue targets. </p>
<p>The Business Plan demonstrates how every penny raised in fares and other revenue is used to invest in maintaining and improving London's transport network. </p>
<p>This is TfL's first Business Plan since the Spending Review in June and the reduction in TfL's Government grant. </p>
<p>It sets out &pound;16bn of efficiencies and savings being made across TfL to support billions of pounds of investment in transforming the Tube, completing Crossrail and enhancing the bus, London Overground, DLR and Tramlink services while continuing to build safe and attractive cycling infrastructure, improve the roads, high streets and neighbourhoods and tackle air pollution. </p>
<p>Mayor Johnson said: 'We have never been in a better position to invest in our own future and continue to deliver a transport network fit for a world class city. </p>
<p>'We are transforming the Tube, completing Crossrail and enhancing our bus, Overground, Docklands Light Railway (DLR) and tram services. </p>
<p>'We can continue to build safe and attractive cycling infrastructure, improve our roads, high streets and neighbourhoods, and tackle air pollution ensuring we are delivering a transport network fit for a world class city. </p>
<p>'We also need to look ahead to future infrastructure with Crossrail 2, new Tube extensions and major improvements to our road network. </p>
<p>'While doing this we will keep fares as low as possible and offer much needed concessions to those who would otherwise struggle.'</p>
<p>TfL's draft revised Business Plan sets out what will be delivered to support the Mayor's Transport Strategy until 2020/21. </p>
<p>New additions to the Plan include the direct purchase of Crossrail trains rather than through private financing, prioritisation of investment where transport improvements will promote growth through jobs and housing, and the recently announced plans to operate a 24hr 'Night Tube' on weekends on five Tube lines in 2015.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: 'We will continue to build on our track record of delivering major infrastructure and expansion projects to further improve London's transport network and the services we provide to those who live and work in London or visit the Capital. </p>
<p>'With London's population expected to grow from 8.4 million today to around 10 million in the 2030's, our network must keep pace if London's success and growth are to continue.&nbsp; </p>
<p>'Targeted investment and advances in technology will allow us to do this. </p>
<p>'Every aspect of our Business Plan centres around four key considerations, our customers, delivery, value and our people, coming together to help London maintain its role as a world leading city.'</p>
<p>Investment in new signalling, track and trains and a relentless focus on improving service reliability has already resulted in delays on the Tube being down by 30 per cent compared to 2011 and it is now more reliable than ever before. </p>
<p>Some of the key improvements which will be delivered over the next ten years include: </p>
<ul>
<li>Crossrail - the brand new rail service linking east and west London which will be operating from 2018</li>
<li>Northern line extension to Battersea via Nine Elms</li>
<li>The start of the next phase of Tube upgrades including the Piccadilly, Central and Bakerloo lines</li>
<li>1,700 hybrid buses including 600 of the cleaner and greener New Bus for London operating across the bus network</li>
<li>The biggest ever investment in London's roads, including expanding the network of intelligent traffic signals to cover three-quarters of all signals in London, and major redesigns of key junctions such as Elephant &amp; Castle northern roundabout and Vauxhall gyratory</li>
<li>Tube station upgrades including Victoria, Tottenham Court Road and Elephant &amp; Castle</li>
<li>London Overground Capacity Improvement programme, delivering a 25 percent increase in capacity by moving from four to five car trains by 2016</li>
<li>Electrification of the Gospel Oak-Barking London Overground line</li>
<li>Four additional trams on south London's Tramlink network</li>
<li>Extension of contactless payment cards to across the TfL network</li>
<li>A new TfL website with more personalised features and responsive design to make information faster and easier for customers to access while on the move</li></ul>
<p>Almost a billion pounds will be spent to deliver the Mayor's cycling vision over the next ten years. By 2016 a fully segregated east-west and north-south 'Crossrail for the bikes' will be delivered, along with a network of quiet ways and improvements to major junctions across London. </p>
<p>Work will also continue with planning future transport infrastructure including Crossrail 2.</p>
<p>Over the past year TfL has delivered:</p>
<ul>
<li>More frequent trains on the Victoria, Jubilee and Central lines</li>
<li>Air-conditioned walk-through trains on the Metropolitan, Hammersmith &amp; City and Circle lines</li>
<li>New lifts, boarding ramps and wider train doors for improved accessibility across the network</li>
<li>15 refurbished escalators at Bank station</li>
<li>Longer opening hours on the Waterloo &amp; City line</li>
<li>Completion of the London Overground orbital rail network</li>
<li>The expansion of Barclays Cycle Hire to south west London (from December 2013) with around 2,000 new bikes and 6,000 new docking points</li>
<li>The successful launch of contactless payment cards on London's buses.</li></ul>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<ul>
<li>The draft TfL Business Plan will be considered by the TfL Board on Wednesday 11 December<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-TfL Business Plan sets out how every penny raised is reinvested in improving services and modernising transport network -->

 
 
        
        
            @{ViewBag.Description = "Transport for London&nbsp;(TfL)&nbsp;has set out its priorities up to 2020/21 in its draft Business Plan which will be considered at the TfL Board on Wednesday 11 December. Mayor of London Boris Johnson has confirmed that fares for 2014 have been kept to";}
        
        


 