


@{ViewBag.Title = "TfL announce winners of accessible app competition";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL announce winners of accessible app competition</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL announce winners of accessible app competition</h1>
        <div class="content-page-press-release">
        03 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's most accessible travel apps announced on International Day of Persons with Disabilities.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The competition has provided vital information about good app design and designing for accessibility."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The competition has provided vital information about good app design and designing for accessibility.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today named the winners of a competition to find new accessible apps to make it easier for disabled and older people to travel around the city.</p>
<p>The announcement, coming on the International Day of Persons with Disabilities follows a competition held between March and August this year. </p>
<p>Developers were asked for ideas for new 'Accessibility Apps' which will make TfL realtime information easier to use - for example for customers with vision impairments. </p>
<p>All apps use live information from TfL free of charge. </p>
<p><strong>Accessible to all customers<br></strong>&nbsp;<br>The Mayor and Transport for London are committed to making the transport network more accessible to all customers. </p>
<p>This includes making 27 more Underground and London Overground stations step-free over the next seven years as well as providing more manual boarding ramps and raised platform sections, better signage, online information and staff training. </p>
<p>Specialists from AbilityNet and the Royal National Institute of Blind People (RNIB) tested 194 apps for features that affect app accessibility such as use of colour contrast, voiceover capability, and user experience.&nbsp; </p>
<p>The shortlisted apps were then assessed by a panel made up of people with a range of disabilities or with expertise in accessibility needs.<br>&nbsp;<br>The apps that clearly demonstrated these attributes are: </p>
<ul>
<li>Best visually impaired app: London's Nearest Bus - This app allows the user to find the nearest buses and live departure times from their location.&nbsp;&nbsp; Users can also set individual bus alerts to trigger when a bus is due </li>
<li>Best app for accessibility/step free information: Station Master - This app offers detailed accessibility information for every London Underground, Overground and DLR station </li>
<li>Best all round app: Tube Tracker - A multi-modal app that finds the nearest station to the user with directions. Provides automatically updated live departure information, a journey planning function, first/last tubes and tube status alerts </li>
<li>Judges' award: Colour Blind Tube Map - This app displays the London Underground map in various formats for easier viewing by people with all forms of colour blindness, and other vision impairments such as cataracts, loss of contrast sensitivity and hyperopia.<br></li></ul>
<p>In addition, TfL Fare Calculator, Citymapper and London Bus Times Preview were all Highly Commended</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'I would like to thank everyone who entered the competition and gave consideration to designing an innovative app with accessibility in mind. The response has been very positive and showed that app developers are actively trying to make their apps accessible and build in features for specific needs.</p>
<p>'The competition has provided vital information about good app design and designing for accessibility. TfL will be using the lessons learnt from this competition to help support developers in their app development and to promote well designed apps using TfL information. It is an important step forward in encouraging "mainstream" Apps to meet the needs of all passengers.'</p>
<p>Peter Abrahams, OneVoice ICT said: 'The response to the competition was very positive. The competition showed that high quality, accessible and innovative apps can be achieved by designing for speech recognition and audio interpretation; the meaningful labelling of buttons, links and images, the ability to read everything logically and provide alternatives to maps for those who are unable to use them.'</p>
<p>
<hr>
<strong>Notes to editors: </strong>
<p>
<p>1.The judges were:</p>
<ul>
<li>Christiane Link, Transport for All </li>
<li>Olav Ernstzen, IDAG </li>
<li>&nbsp;Richard West MBE, transport/disability expert</li></ul>
<p><br>2.&nbsp;AbilityNet is a coalition member of OneVoice. OneVoice is a coalition of organisations and individuals who have come together to assist organisations in embedding accessible information and communication<br>3.&nbsp;This competition is the first stage of an engagement plan with developers to produce new accessible journey planning tools. The next stage saw Step Free Tube Guide data made available digitally for the first time in August 2013<br>4.&nbsp;The judges looked for apps which displayed innovation in one of the following areas to maximise accessibility to all users:</p>
<ul>
<li>speech recognition and audio interpretation </li>
<li>labelling of buttons, links and images </li>
<li>clearly displayed information that can be read logically </li>
<li>providing alternatives to maps for those who are unable to use them </li>
<li>good use of colour contrast </li>
<li>simple, easy to use design </li>
<li>ability to be used in different ways (eg close up, subtitles etc) </li></ul>
<p>5.&nbsp;Passengers have benefited from recent technological innovations including on-bus audio/visual announcements, Countdown bus arrival information, Wi-Fi in many Tube and Overground stations and an online resource showing stations with step free access and giving advice on avoiding stairs and the best ways to navigate the transport network.&nbsp; New lifts have been installed on the Tube, many more bus stops have been made accessible and wide aisle gates, raised platform sections and manual boarding ramps have been introduced to make getting around easier<br>6.&nbsp;In 2010, TfL set up its Developers' Area following the GLA London Data Store initiative to publish high-quality operational data in the most accessible format possible making travel data available to developers free of charge. The objective of this was to enable research, promote economic activity and to encourage technical developments that would enable TfL's passenger information to reach as wide a customer base as possible. Since then, subscribing development partners have developed over 194 apps covering all areas of transport in London<br>&nbsp;<br><strong>Background data</strong></p>
<p><strong>Competition entries</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Number of entries</td>
<td>&nbsp;Workable apps using TfL data on an app store at competition close[1]</td>
<td>&nbsp;No app available/invalid entry</td></tr>
<tr>
<td>&nbsp;&nbsp; 41&nbsp;</td>
<td>&nbsp;&nbsp; 18</td>
<td>&nbsp;&nbsp; 23</td></tr></tbody></table></div></p>
<p><strong>Total apps assessed</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Apps assessed</td>
<td>&nbsp;Competition entries</td>
<td>&nbsp;Non competition</td></tr>
<tr>
<td>&nbsp;&nbsp; 194&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp; 18</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp; 17</td></tr></tbody></table></div></p>
<p><strong>Platform</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;iPhone </td>
<td>Android </td>
<td>&nbsp;Windows</td></tr>
<tr>
<td>&nbsp; 53</td>
<td>&nbsp; 93</td>
<td>&nbsp; &nbsp;48</td></tr></tbody></table></div></p>
<p><strong>Modes covered by app[2]</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Bus&nbsp;&nbsp;</td>
<td>&nbsp;Tube</td>
<td>&nbsp;Multi-modal </td>
<td>Other&nbsp;</td></tr>
<tr>
<td>&nbsp;51&nbsp;</td>
<td>&nbsp;54</td>
<td>&nbsp;56</td>
<td>&nbsp;33</td></tr></tbody></table></div></p>
<p><strong>Cost to download app</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Free&nbsp;&nbsp;&nbsp;</td>
<td>&nbsp;Up to &pound;0.70</td>
<td>&nbsp;&pound;0.71-&pound;0.99 </td>
<td>&pound;1.00-&pound;1.49 &nbsp;</td>
<td>&nbsp;&pound;1.50-&pound;1.99</td>
<td>&nbsp;&pound;2.00-&pound;2.99</td></tr>
<tr>
<td>&nbsp;124&nbsp;</td>
<td>&nbsp;24</td>
<td>&nbsp;17 </td>
<td>&nbsp;15</td>
<td>&nbsp;7 </td>
<td>&nbsp;7</td></tr></tbody></table></div></p>
<p>First down select for testing<br>47 apps down selected for testing[3]</p>
<p>Assessed by judging panel and TfL post testing<br>32 apps were assessed after testing</p>
<p>Final shortlist<br>8 apps were shortlisted for final assessment</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Competition</td>
<td>&nbsp;Non competition</td>
<td>&nbsp;Platform&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>&nbsp;Mode</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
<p>Android&nbsp;&nbsp;iPhone&nbsp;&nbsp;Windows&nbsp;</p></td>
<td>
<p>Bus Tube Multi-modal Other </p></td></tr>
<tr>
<td>&nbsp;5</td>
<td>&nbsp;&nbsp;3</td>
<td>&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1</td>
<td>&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;1</td></tr></tbody></table></div></p>
<p>1One late entry delayed while licensing issues agreed<br>2Discerned by app name and brief description. Actual content of app may differ<br>3All competition apps were down selected for testing</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-TfL announce winners of accessible app competition -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today named the winners of a competition to find new accessible apps to make it easier for disabled and older people to travel around the city.The announcement, coming on the International Day of Persons with Disabilities";}
        
        


 