


@{ViewBag.Title = "TfL selects IER to drive Source London forward";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL selects IER to drive Source London forward</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL selects IER to drive Source London forward</h1>
        <div class="content-page-press-release">
        12 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        IER to invest in London and build upon the success of the Mayor's electric vehicle (EV) charging network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This contract award is good news for the future of electric vehicles in London, as it not only protects the legacy of Source London but will also see the scheme expanded.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Transfer will see Source London expanded by the company behind the Paris Autolib and other successful EV charging schemes in France</li></ul>
<p>Transport for London (TfL) has announced today that IER has been selected to take over the management and operation of Source London, the Capital's electric vehicle (EV) charge point network and membership scheme.</p>
<p>The French organisation, which is a subsidiary of the Bollor&eacute; Group, will take over the scheme from summer 2014.&nbsp; </p>
<p>IER will be responsible for all 'back office' functions including handling enquiries and membership registrations, from its UK offices.&nbsp; </p>

<p><strong>Expanding the charging network </strong></p>
<p>By working with new and existing Source London partners, IER aim to expand the charging network and provide a strong long-term commitment to EV drivers in London.</p>
<p>IER will be looking to expand the number of Source London charge points to 6,000 by 2018 to meet the growing needs of EV drivers.&nbsp; </p>
<p>They aim to do this by working with existing partners to identify new charging locations or by attracting new partners to the scheme. </p>

<p><strong>Customer services </strong></p>
<p>IER also propose a broad range of customer services for Source London members and will be developing a new Source London website, a London based sales office, new mobile applications and platforms for engagement through social media. </p>
<p>Source London was launched by the Mayor of London in May 2011 and is a consortium of over 60 public and private partners, led by TfL.&nbsp; </p>
<p>The Mayor pledged to introduce 1,300 EV change points across the Capital by April 2013 - a target that was met, and represented almost a ten-fold infrastructure increase.&nbsp; </p>
<p>Source London now numbers nearly 1,400 charge points across 300 sites including supermarkets, shopping centres, council and private car parks, hospitals and on the street.</p>
<p>IER has extensive experience of implementing and operating EV schemes based on its role in delivering the Paris Autolib which was launched in 2011.&nbsp; </p>
<p>It currently has over 30,000 active subscribers making between 6,000 and 10,000 car journeys each day.</p>
<p>Nick Fairholme, TfL Director responsible for Source London, said: 'This contract award is good news for the future of electric vehicles in London, as it not only protects the legacy of Source London but will also see the scheme expanded.&nbsp; The Mayor and TfL worked hard to 'pump prime' the market and establish an extensive charging infrastructure that puts London at the forefront of this green technology and ensures EV drivers are never far from a charge point wherever they are in the city. It's now time for a private sector operator to drive the scheme forward, working under normal market conditions and clearly demonstrating electric vehicles are here to stay.</p>
<p>'We have every confidence that IER will take Source London to the next level, building on the solid foundations that all partners in the scheme have helped to create.'</p>
<p>Vincent Bollor&eacute;, President of Bollor&eacute; Group said: 'We are delighted to be selected by TfL to take forth and develop the Source London scheme. TfL and Bollor&eacute; group share a common ambition for creating a better environment for Londoners by facilitating the uptake of EVs.</p>
<p>'Our group is fully committed to sustainable development and is investing heavily in all relevant technologies with the objective of becoming a worldwide leader in clean energy storage, smart grid technologies and E-mobility solutions.'</p>
<p>Gilles Alix, CEO of Bollor&eacute; Group and Chairman of IER, added: 'We have been impressed by the Mayor of London's strategy and vision to provide London with infrastructure to support the rapid growth of electric vehicles.&nbsp; In our position as a major investor in green technology solutions, IER is ideally placed to continue to expand London's electric vehicle charging infrastructure.&nbsp; We look forward to being part of the electric vehicle revolution in London and contributing towards better air quality for Londoners.'</p>
<p>Following the transfer of Source London to IER, TfL will remain an active partner in the scheme and continues to support a range of initiatives aimed at increasing the take-up of EVs.&nbsp; </p>
<p>These include a 100 per cent discount from the Congestion Charging Scheme for pure electric and plug-in hybrid vehicles and working with the taxi industry to deliver a zero emission capable taxi.&nbsp; </p>
<p>TfL will also shortly trial two electric buses which will be the first time that vehicles of this type have been used to carry passengers in the Capital. </p>
<p>In addition, the Mayor announced his intention earlier this year to create the world's first Ultra Low Emission Zone in central London from 2020, which would provide a major incentive for the mass take-up of zero and low emission vehicles.</p>
<p>TfL will now work closely with IER to ensure a smooth transition to the new operator for Source London partners and the scheme's 1,000 members who will be kept informed throughout the process.</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>For more information about Source London, log on to <a href="http://www.sourcelondon.net">www.sourcelondon.net</a> </li>
<li>The Bollor&eacute; Group including IER is a private company founded in 1822 which offers non polluting transportation solutions including energy storage via Lithium Metal Polymer batteries and SuperCapacitors, electric cars and buses, charge points and communication systems for Electric Car Sharing services. For further information, log on to <a href="http://www.bollore.com">www.bollore.com</a> or contact <a href="mailto:j.varin&#64;bollore.net">j.varin&#64;bollore.net</a> </li>
<li>Source London currently has around 1,000 members with membership costing &pound;10 annually.&nbsp; Members receive a card in the post which unlocks any of the charging points, allowing them to charge their vehicle at no additional cost (parking charges may apply in some locations) </li>
<li>IER will take over the management and operation of Source London from summer 2014 after the current sponsorship deal with Siemens ends.&nbsp; The sponsorship deal enabled the delivery of the back office and IT functionality of the scheme at no cost to the public purse<br></li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br>TfL Press Office</p>
<p>0845 604 4141 <br>&nbsp; </p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-TfL selects IER to drive Source London forward -->

 
 
        
        
            @{ViewBag.Description = "Transfer will see Source London expanded by the company behind the Paris Autolib and other successful EV charging schemes in FranceTransport for London (TfL) has announced today that IER has been selected to take over the management and operation of";}
        
        


 