


@{ViewBag.Title = "Tottenham Hale station will be bigger and better";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tottenham Hale station will be bigger and better</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tottenham Hale station will be bigger and better</h1>
        <div class="content-page-press-release">
        19 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans to transform Tottenham Hale into a landmark station, with greater capacity and step-free access for interchanging passengers, have been announced by Transport for London (TfL) as part of its Tube Improvement Programme.
        
    </div>



 <div class="on-this-page">
<p>The plans are part of a committed package of transport improvements, which includes a &pound;54m investment from TfL. The proposed station improvements are funded through &pound;20m from TfL's Unlocking New Growth Areas fund and also include a contribution from the Mayor's Recovery Fund.</p>
<p>Tottenham Hale is located within the Upper Lea Valley area - which has been identified as a key area for growth - with plans to create 15,000 new jobs and 20,100 new homes. At Tottenham Hale specifically there is the capacity for 5,000 new homes and 4,000 new jobs and the vision is to transform the area in to a new district centre. The station will be a focal point of this new district centre and be an iconic gateway to Tottenham and the Upper Lea Valley.</p>
<p>Since October 2012, TfL has also been working to remove the Tottenham Hale gyratory and return it to two-way traffic. A total of &pound;34m will be invested in these improvement works, which will deliver significant benefits for all road users including pedestrians, as well as provide a new public space and a more accessible bus station to the north of Tottenham Hale station during 2014.</p>
<p>David Waboso, London Underground's Director of Capital Upgrades, said: 'The improvements include doubling the size of the current ticket hall, and installing new ticket gates. This will reduce crowding and queuing at the station, saving passengers time when interchanging between National Rail operated by Greater Anglia and Tube services.&nbsp;<br>&nbsp;<br>'We are also proposing to create a new, more convenient pedestrian route from the east to the Tube and bus stations by extending the existing bridge to the Hale Village development. We plan to keep the station open during the work so that any potential disruption will be kept to a minimum.'</p>
<p>The planning application is due to be submitted in the next few weeks. Subject to approval, work is expected to start on site in 2015 and be completed approximately 18 months from then. </p>
<p>A committed &pound;72m upgrade of the Lea Valley main line, which includes a &pound;25m contribution from the London Enterprise Panel and will enable a new four trains per hour service between Angel Road and Stratford, is a key part of the transport investment in the Lea Valley. The new local service will serve Tottenham Hale station and is considered vital in supporting planned growth at Tottenham Hale, as well as Northumberland Park and Meridian Water. </p>
<p>&nbsp;TfL have been working closely with London Borough of Haringey, the Greater London Authority, Network Rail and Greater Anglia during the development of these plans to ensure that all the projects at Tottenham Hale station are carefully co-ordinated and are compatible with the long term plans for the West Anglia route and we will continue to do so as the scheme progresses. </p>
<p>Letters have been sent to local residents about the plans and an evening event was held in order for the community to find out more about the proposals. Further events will take place early in the New Year.<br>&nbsp;<br>
<hr>
TfL Press Office <br>0845 604 4141<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Tottenham Hale station will be bigger and better -->

 
 
        
        
            @{ViewBag.Description = "The plans are part of a committed package of transport improvements, which includes a &pound;54m investment from TfL. The proposed station improvements are funded through &pound;20m from TfL's Unlocking New Growth Areas fund and also include a";}
        
        


 