


@{ViewBag.Title = "Transport for London and its suppliers have taken on more than 4,000 apprentices since 2009";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London and its suppliers have taken on more than 4,000 apprentices since 2009</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London and its suppliers have taken on more than 4,000 apprentices since 2009</h1>
        <div class="content-page-press-release">
        16 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport Commissioner meets London's future transport workers.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Apprenticeships are a fantastic way for us to up-skill the future generation of transport workers to keep London moving and to support jobs and growth across the UK.
                            
                        </p>
                    </div>
                
            
            
            <p>London's Transport Commissioner, Sir Peter Hendy CBE met London's future transport workers at an apprentice networking event that brought Transport for London (TfL) and its supply chain apprentices together for the first time.</p>
<p>More than 4,000 apprenticeship roles have been created by TfL and its supply chain since April 2009, in support of the Mayor of London's campaign to create 250,000 apprenticeship roles by 2016.</p>
<p><strong>Improving London's transport network </strong></p>
<p>TfL is investing billions of pounds to modernise and improve London's transport network to support more jobs, homes and economic growth in the capital and across the UK as a whole and to do so, it is essential that it invests in a highly skilled workforce for now and the future.&nbsp; </p>
<p>TfL is committed to creating apprenticeship and graduate roles to support future transport workers.</p>
<p>With London's population set to grow from 8.4 million today to around 10 million by 2030, TfL has a huge amount to deliver as it invests in and improves London's transport network and it has to do this as efficiently as possible, with best value for fare and taxpayers' money.<br>&nbsp;<br>London's Transport Commissioner, Sir Peter Hendy CBE, said: 'Apprenticeships are a fantastic way for us to up-skill the future generation of transport workers to keep London moving and to support jobs and growth across the UK.&nbsp; Our transport networks are carrying more people, more efficiently and more reliably than ever and to continue to do so, we need to recruit, train and retain highly skilled people to keep them running and upgrade them.<br>&nbsp;<br>'I recently met apprentices from TfL and from our supply chain and it is great to see how enthusiastic they are about London's transport.&nbsp; They are the future, and I'm extremely proud of all the work they do.'</p>
<p>TfL is responsible for 27 million journeys a day, operating London Underground, London's strategic road network, buses, DLR, Trams, Barclays Cycle Hire and Emirates Air Line.&nbsp; </p>
<p>It also licenses Taxi and Private Hire and passenger services on the river.&nbsp; </p>
<p><strong>Wide range of apprenticeship roles</strong></p>
<p>TfL offers a wide range of apprenticeship roles including Highways Technician, Information Management, Project Planner, London Underground Engineering, London Underground Operational, and London Underground Track Engineering. </p>
<p>The roles vary from 12 months to four years with the majority of apprentices securing jobs at the end of their scheme. </p>
<p>Khadejah Begum, a TfL Highways Technician Apprentice, said: 'I've always wanted to work in the construction industry due to my interest in Civil Engineering and infrastructure.&nbsp; I chose the transport sector as it is a sector that will always be in demand. I looked for an apprenticeship as a way of getting into the industry as it offers the opportunity to earn and learn at the same time. I have now been with TfL for three months and I look forward to making the most of all the great opportunities that TfL has to offer.'<br>&nbsp;<br>TfL is committed to developing and maintaining the skills and talents of its workforce and with the current skills shortage in the transport industry, TfL is working to address the shortage by training its own workforce.</p>
<p>Mike Brown MVO, Managing Director of London Underground, said: 'Our own apprentices and those in our supply chain are supporting the delivery of the biggest ever modernisation programme on the London Underground network. As we continue to put in new signalling on the network, provide more trains and increase capacity, the apprentices will continue to play a key role as we equip the next generation of transport workers with the skills they will need to provide London with a world class transport network.'</p>
<p>TfL has an award winning Supplier Skills Team (SST) who work with the business and its suppliers to generate apprentice and employment opportunities.&nbsp; </p>
<p>These opportunities are aligned to the skills requirements of TfL and its supply chain and provide the opportunity to source new talent into the industry whilst working to address skills shortages.<br>&nbsp;<br>To date over 60 suppliers have engaged with the SST in delivering apprenticeships and in 2012, the Supplier Skills Team were awarded the Race for Opportunity Award for 'Youth Partnership and Apprenticeship' for the success of their work with the supply chain in creating apprenticeship opportunities.<br>&nbsp;<br>Since 2007, TfL has been recognised by the National Apprenticeship Service as one of the top 100 Apprenticeship Employers and also offers a variety of training to all staff at three main training sites in West Kensington, Acton and Stratford to strengthen their skills.</p>
<p>Crossrail and its contractors will also deliver a legacy of 400 apprenticeships with more than 270 apprentices having already worked on the project.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>The next round of recruitment for apprentices will be in February 2014. Details will be available at <a href="http://www.tfl.gov.uk/apprenticeship">tfl.gov.uk/apprenticeship</a> 
<li>The GLA Group's Supplier Skills Team is dedicated to working with suppliers across the GLA Group to maximise training, apprenticeship and employment opportunities arising from its contracts. This activity helps to ensure suppliers have capable and competent workforces, and increases the levels of opportunity for Londoners facing barriers to employment. Further information on this activity is available at <a href="http://www.london.gov.uk/rp/skills-employment">www.london.gov.uk/rp/skills-employment</a>&nbsp;&nbsp; </li>
<li>Images of TfL and its supply chain apprentices are available at <a href="http://www.pinterest.com/tflofficial/apprenticeships/">http://www.pinterest.com/tflofficial/apprenticeships/</a> </li>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Transport for London and its suppliers have taken on more than 4,000 apprentices since 2009 -->

 
 
        
        
            @{ViewBag.Description = "London's Transport Commissioner, Sir Peter Hendy CBE met London's future transport workers at an apprentice networking event that brought Transport for London (TfL) and its supply chain apprentices together for the first time.More than 4,000";}
        
        


 