


@{ViewBag.Title = "Transport for London congratulates David Waboso on being awarded a CBE in the Queen's New Year's Honours list";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London congratulates David Waboso on being awarded a CBE in the Queen's New Year's Honours list</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London congratulates David Waboso on being awarded a CBE in the Queen's New Year's Honours list</h1>
        <div class="content-page-press-release">
        31 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today congratulated David Waboso, Capital Programmes Director for London Underground (LU), who has been recognised with a CBE in the Queen's New Year's Honours list.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am extremely honoured to receive this recognition and accept it on behalf of my whole tea
                            
                        </p>
                    </div>
                
            
            
            <p>David trained as a Civil Engineer, but initially taught mathematics in inner London secondary schools, before resuming his engineering career where he has worked both in the private and public sectors. </p>
<p>He initially worked on transportation schemes in the UK and a World Bank sponsored water supply programme in Nigeria.</p>
<p>He was then project manager responsible for delivering the DLR's signalling system and in 1995 he won the prestigious award of UK 'Project Manager of the Year'. </p>
<p>He then joined the Jubilee Line Extension team where he was instrumental in getting the extension open in time for the Millennium.</p>
<p>David was appointed LU's Director of Engineering in 2005 following a spell at the former Strategic Rail Authority, where he was an executive director. </p>
<h2>Largest upgrade in LU's history </h2>
<p>Since then, he has led the largest upgrade in LU's history with major improvements already completed, including the installation of new signalling on the Jubilee and Victoria lines and new trains on the Victoria and Metropolitan lines. </p>

<p>Mike Brown MVO, Managing Director of London Underground and London Rail, said: 'This is a great honour for David and I am delighted he has been recognised in this way. </p>
<p>For nearly two decades his work has helped to improve London's transport network and ensure that our city can continue to respond to the needs of our growing population. </p>
<p>Now, as we deliver the largest modernisation programme in the Tube's history, customers are seeing a modern, frequent and efficient transport network take shape - one that carries more people, more safely and more reliably than ever before. </p>
<p>David has been absolutely central to that, and richly deserves this great recognition, I am incredibly proud to have him in my team.'</p>

<h2>Giant in his profession </h2>
<p>Sir Peter Hendy CBE, London's Transport Commissioner, said: 'David is one of the most talented project engineers in the world and this recognition is richly deserved. </p>
<p>He is a role model of passionate, committed leadership for the most difficult major projects - rebuilding Underground railways with cutting edge technology whilst maintaining daily service. </p>
<p>He is a giant in his profession with a world-wide reputation, and this brings him and his work the national recognition it richly deserves.'</p>
<p>David Waboso CBE, Capital Programmes Director, London Underground, said: 'I am extremely honoured to receive this recognition and accept it on behalf of my whole team. </p>
<p>Modernising the Underground is a huge but rewarding task and it has been a privilege to work alongside very talented colleagues to deliver significant improvements with more trains, increased capacity, better signalling and improved reliability which has helped LU deliver one of the most frequent metro services in the world for our customers.'</p>
<p>David heads LU's Capital Programmes directorate where he is accountable for delivering the &pound;1.3BN per annum upgrade of the Tube, including stations, train systems and track infrastructure. </p>
<p>David recently accompanied both the Mayor of London and the Prime Minister on their visits to India where he helped to develop an understanding between TfL and Mumbai Metropolitan Region Development Authority (MMRA) to build a mutually beneficial partnership.</p>
<p>He holds BSC and MSC in Civil Engineering, is a Charted Engineer, and is a Fellow of the Institution of Civil Engineers, the Royal Academy of Engineering, the Institution of Railway Signal Engineers, the Association for Project Management and the City &amp; Guilds of London Institute.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Transport for London congratulates David Waboso on being awarded a CBE in the Queen's New Year's Honours list -->

 
 
        
        
            @{ViewBag.Description = "David trained as a Civil Engineer, but initially taught mathematics in inner London secondary schools, before resuming his engineering career where he has worked both in the private and public sectors. He initially worked on transportation schemes in the";}
        
        


 