


@{ViewBag.Title = "Travel advice to customers should threatened RMT Piccadilly line strike go ahead";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel advice to customers should threatened RMT Piccadilly line strike go ahead</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice to customers should threatened RMT Piccadilly line strike go ahead</h1>
        <div class="content-page-press-release">
        03 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        If strike goes ahead, only limited services will operate on the Piccadilly line - Heathrow customers are urged to seek alternative routes.
        
    </div>



 <div class="on-this-page">
<ul>
<li>All other lines will operate as normal but will be busier than usual </li>
<li>Threatened action is over local issues which are resolved or being resolved</li></ul>
<p>London Underground (LU) today set out its advice to customers on how best to get around should the strike action called by the RMT leadership go ahead from noon on Wednesday 4 December.<br>&nbsp;<br>The threatened action is over a number of local issues, all of which have been resolved or which LU has committed to addressing, including an agreement made in September to honour outstanding annual leave.</p>
<p>Should the strike go ahead it is unlikely that services will operate on most of the Piccadilly line from around midday on Wednesday 4 until the afternoon of Thursday 5 December.&nbsp; </p>
<p>Customers are advised to check the TfL website or follow &#64;piccadillyline on Twitter&nbsp;for the latest updates, and to use alternative routes where possible. <br>&nbsp;<br>It is LU's intention to run a shuttle service between Cockfosters and Arnos Grove if possible and a service between Acton Town to Heathrow. </p>
<p>However, customers travelling to and from Heathrow are advised to find alternative routes including Heathrow Express and Heathrow Connect services, the latter will be accepting Tube tickets.&nbsp; </p>
<p>Those travelling to the Arsenal versus Hull City football match at Emirates Stadium on Wednesday evening are advised to use the Victoria line, First Capital Connect services, London Overground and local bus services.<br>&nbsp;<br>It is very unlikely that there will be a service between Rayners Lane and Ealing Common, so customers are advised to use nearby alternatives on the Metropolitan and Central lines.&nbsp;&nbsp; </p>
<p>All other lines will be operating as normal and the majority of central London Piccadilly line stations will remain served by other lines but will be busier than normal. <br>&nbsp;<br>Phil Hufton, London Underground's Chief Operating Officer, said:&nbsp; 'This threatened action is over a number local issues all of which have been resolved or which we have committed to addressing including honouring outstanding annual leave, which was agreed back in September.&nbsp;Discussions with the RMT leadership are continuing.'<br>&nbsp;<br>The RMT leadership has instructed Piccadilly line drivers not to book on for shifts from 12:00 hours on Wednesday 4 December through to 11:59 hours on Thursday 5 December. </p>

<p>However it is unlikely that services will not return to normal until Thursday evening. </p>
<p>Transport for London will endeavour to run the best possible service however customers are asked to check before they travel by visiting&nbsp;our <a href="tfl.gov.uk">website</a>.</p>
<p>
<hr>

<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Travel advice to customers should threatened RMT Piccadilly line strike go ahead -->

 
 
        
        
            @{ViewBag.Description = "All other lines will operate as normal but will be busier than usual Threatened action is over local issues which are resolved or being resolvedLondon Underground (LU) today set out its advice to customers on how best to get around should the strike";}
        
        


 