


@{ViewBag.Title = "Travel safely at night and plan your journey ahead this festive season";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/15890">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel safely at night and plan your journey ahead this festive season</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel safely at night and plan your journey ahead this festive season</h1>
        <div class="content-page-press-release">
        10 December 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        43 per cent of women questioned up and down the country admit they are 'likely to use an illegal minicab.'
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"After a night out it can be tempting to jump into the first minicab you see but by doing so you could be putting yourself at risk."</div>
        <div class="quote-footer">
            <div class="quotee-name">Safer Transport Command</div>
            <div class="quotee-job-title">Chief Superintendent Sultan Taylor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            After a night out it can be tempting to jump into the first minicab you see but by doing so you could be putting yourself at risk.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL urges Londoners to think about how they will get home before they go on a night out </li>
<li>Downloading the free Cabwise app is a quick and easy way to find a safe way home</li></ul>
<p>As the festive season approaches and more people go out to celebrate, Transport for London (TfL) and its partners are encouraging Londoners to get home safely by using a pre-booked minicab or a black cab. </p>
<p>All minicabs must be licensed by TfL and booked through a licensed minicab operator and only black cabs can be stopped by customers to pick them up off the street. </p>
<p>Minicabs lined up outside pubs and clubs are breaking the law if they accept a fare without a booking being made first. </p>
<p>TfL and partners are urging people not to approach minicab drivers - and any minicab driver that approaches you is also acting illegally.</p>
<p>A survey commissioned by TfL has revealed that 43 per cent of women questioned up and down the country said they are 'likely to use an illegal minicab'. </p>
<p>The results come as TfL prepares for their annual Safer Travel at Night campaign (STaN) - a joint initiative between TfL, the Mayor of London, Metropolitan Police Service (MPS) and the City of London Police (CoLP). </p>
<p>14 per cent of women surveyed said they made no plans for how to get home after a night out, which increases the chances of them getting into an un-booked minicab and puts personal safety at risk.</p>
<p>Officers from TfL's funded MPS Safer Transport Command (STC), CoLP and TfL's Taxi and Private Hire compliance officers will be stepping up enforcement activity to deal with unbooked minicabs at hotspots across London, to help keep the public safe as they travel home at night over the festive period.</p>
<p>This follows intensive enforcement and engagement activity carried out in September for the new academic term. </p>
<p>Police officers engaged with university students across the Capital to raise awareness of the risks of using unbooked minicabs. </p>
<p>The enforcement operation, which involved the STC Cab Enforcement Unit, 32 Safer Transport Teams and TfL's compliance officers, resulted in 73 arrests for touting and over 2,700 minicabs and black cabs were stopped and checked by police. </p>
<p>Siwan Hayward, TfL's Deputy Director of Enforcement and On-Street Operations, said: 'Many people who travel in the capital still think that picking up a minicab off the street is legal - but it's not. </p>
<p>'Only black cabs can be picked up off the streets; all minicabs need to be pre-booked through a licensed operator and any minicab that picks someone up off the street, whether they offer you a cab or you approach them, is acting illegally. </p>
<p>'Never get into an unbooked minicab - it's not safe. We will continue to work with our policing partners to crack down on illegal activity in the Capital. </p>
<p>'My advice to Londoner's on the go is to download our Cabwise app and book before you ride.'</p>
<p>TfL launched their Cabwise mobile app, in December last year, and it is still the only app in the market to represent Taxi and Private Hire Vehicles. </p>
<p>To date total downloads of this app across Android and iTunes are&nbsp;more than&nbsp;39,000.</p>
<p>Inspector Dave Aspinall from City of London Police said: 'Going out and enjoying yourself over the Christmas period is something that lots of us will be doing. </p>
<p>'We all want to have a good time and to get home safely so be smart, plan ahead and if you are going to use a cab to travel around make sure it is a black cab or a minicab that you have booked through an operator or use the Cabwise app.'</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command, said: 'The Safer Transport Command is committed to reducing the number of cab-related sexual offences and our officers are on the streets of the Capital during the festive season giving women safe travel information to ensure they have safe and secure journeys home. </p>
<p>'After a night out it can be tempting to jump into the first minicab you see but by doing so you could be putting yourself at risk. </p>
<p>'It is illegal for any minicab driver (even drivers licensed by TfL) to accept a fare without a booking made either over the phone, by email or at an office.</p>
<p>'Booking a minicab will ensure that there is a record of the journey and it will be carried out by a licensed driver in a licensed, insured car.'</p>
<p>
<hr>

<p>
<h3>Notes to editors:</h3>
<ul>
<li>The survey was conducted by TNS Global: One wave of online research conducted 12th - 19th August 2013.&nbsp;Sample size: 300 Young women aged 18-28 who live in London, Manchester or Birmingham (100 women per city) </li>
<li>For safety tips and the Cabwise app:&nbsp; <a href="http://www.tfl.gov.uk/tfl/gettingaround/taxiprivatehire">http://www.tfl.gov.uk/tfl/gettingaround/taxiprivatehire</a> </li>
<li>The MPS and City of London Police has made in the region of 9,000 arrests for touting and cab-related offences </li>
<li>What is a booked minicab? 
<ul type="circle">
<li>It is one that you or a friend has booked directly with the minicab office/operator </li>
<li>It guarantees that your trip will be carried out by a licensed, insured driver in a licensed, insured vehicle </li>
<li>It also means that a record is kept of your journey, your driver and the vehicle used so, in the event of </li>
<li>Any problems the driver can be traced</li></ul></li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on cab-related offending including touting and unlawful plying for hire. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>During the operations roadside and compliance checks are made and in addition, officers carry out operations and conduct checks on all cabs within the operation area </li>
<li>The STAN partnership between TfL, the MPS and the CoLP was launched in 2002/03 and aims to improve the safety of travelling at night through industry regulation and licensing, enforcement and education. The communications campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely </li>
<li>The MPS Safer Transport Command works in partnership with TfL to prevent crime on London's buses, tackles illegal cabs; enforces the law in relations to taxis and private hire and promotes the rules of the road so everyone can travel safely. There are now around 1,800 uniformed officers, which are funded in part by TfL </li>
<li>In 2012/13, official crime figures from the MPS showed that cab-related sexual offences were over 30 per cent lower than they were in 2002/03 when STAN began (55 fewer offences). The number of rape offences almost halved over the same period. Year to date figures for 2013/14 (April - September) are showing further reductions. There have been 51 cab-related sexual offences between April and September - 19 per cent lower (12 fewer offences) compared with the same period last year. Rape offences were down 58 per cent over this period (from 12 to five offences) </li>
<li>The Mayor has taken a tough line on touting and illegal cabs and any TfL licensed private hire driver convicted of touting will lose their private hire driver's license for a minimum of one year. More than 1,000 drivers have had their licences revoked </li>
<li>Diageo, the producer of Guinness, Smirnoff and Captain Morgan, is sponsoring TfL's STaN campaign, as well as funding street pastors to patrol the streets around Trafalgar Square on New Year's Eve, handing out Z cards. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-December-Travel safely at night and plan your journey ahead this festive season -->

 
 
        
        
            @{ViewBag.Description = "TfL urges Londoners to think about how they will get home before they go on a night out Downloading the free Cabwise app is a quick and easy way to find a safe way homeAs the festive season approaches and more people go out to celebrate, Transport for";}
        
        


 