
    
  



@{ViewBag.Title = "Accessible roads for HGVs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-legally/accessible-roads-for-hgvs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></li>
                
            
            
                <li><span class="last-breadcrumb">Accessible roads for HGVs</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Accessible roads for HGVs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        During nights and weekends, HGV drivers can only use certain roads when making deliveries in London. This is known as the London Lorry Control Scheme (LLCS).
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Accessible and restricted routes</h2>

<p>There are roads in London which are accessible to HGVs at any time without permission. These are&nbsp;called the 'Excluded Road Network' (ERN).</p>

<p>Certain other roads are known as 'restricted routes', and&nbsp;during 'restricted hours' (evenings and weekends) lorry drivers need permission from London Councils to&nbsp;use them. Even during these&nbsp;restricted hours,&nbsp;you must commit to using the ERN as much as you can.</p>

<p>You can view a map showing ERN and restricted routes, and the boundary of the scheme on the <a href="https://www.londoncouncils.gov.uk/services/london-lorry-control">London Councils website.</a></p>
</div>
 <div>

<h2>Request permission to use restricted routes&nbsp;</h2>
<p>Permission to use restricted routes is free. To request this permission you first need to sign up to <a href="http://www.londoncouncils.gov.uk/services/london-lorry-control">join the&nbsp;London Lorry Control Scheme</a>.</p>
</div>
 <div>

<h2>Restricted hours</h2>
<p>Restrictions apply:</p>
<p>Monday-Friday: 9pm - 7am<br />
Weekends: Saturday 1pm through to Monday 7am<br />
<br />
Bank holidays: Treat as normal weekday</p>
</div>
 <div>

<h2>Penalties</h2>
<p>If you drive on restricted roads without permission, or you have permission but fail to use the fewest possible restricted roads, you will receive a Penalty Charge Notice (PCN).</p>
<p>A special agreement can be made if there are good reasons for using a different route. An application would have to show that the proposed route is environmentally better than the LLCS route.</p>
</div>
 <div>

<h2>Find out more </h2>
<ul>
    <li><strong>Email</strong>: <a href="mailto:lorry.control&#64;londoncouncils.gov.uk">lorry.control&#64;londoncouncils.gov.uk</a> </li>
    <li><strong>Telephone</strong>: 020 7934 9915</li>
    <li><strong>Fax</strong>: 020 7934 9591</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally/accessible-roads-for-hgvs">Accessible roads for HGVs</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally/parking-and-loading">Parking and loading</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "During nights and weekends, HGVs must use certain roads when delivering in London";}
        
            
        


 