


@{ViewBag.Title = "Are your children getting the best travel deal during the economic downturn? ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Are your children getting the best travel deal during the economic downturn? </h1>
        <div class="content-page-press-release">
        14 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young Londoners can make big savings on their travel in the Capital with a Zip card.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Young Londoners have the Capital at their finger tips thanks to their Zip cards"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">The Mayor of London's advisor on Transport Policy</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Young Londoners have the Capital at their finger tips thanks to their Zip cards
                            
                        </p>
                    </div>
                
            
            
            <p>Parents in London are being reminded to check that their children are signed up to Transport for London's (TfL's) Zip card scheme; so that they can take advantage of their right to free travel on buses and trams in the Capital for the remainder of the holidays, but most importantly when the new school term starts in September.</p>
<p>As the start of the autumn term draws closer parents across the Capital will begin totting up the cost of school uniforms, bags and trainers, which makes the money youngsters save on travel using Zip cards even more valuable. </p>
<p>The Mayor of London's advisor on Transport Policy, Kulveer Ranger, said: 'Young Londoners have the Capital at their finger tips thanks to their Zip cards. </p>
<p>'Free travel is a tremendous privilege and potentially a massive saving for parents. </p>
<h2>Save money</h2>
<p>'Before the next school term it is really important parents check their children have their Zip cards if they're going to be catching the bus to school.'</p>
<p>The Zip Oyster photocard gives eligible 11 to 15-year-olds and 16 to 18-year-olds free travel on London's buses and trams. </p>
<p>Many young Londoners have taken advantage of this benefit, one that is especially welcome at a time when everyone is looking for ways to save money.</p>
<p>The Zip travel concession has also benefited some of London's most disadvantaged families by giving 11 to 15-year-old Oyster photocard holders child-rate travel on the Tube, Docklands Light Railway (DLR and London Overground, with a daily cap of just &pound;1 (Zones 1-6).* </p>
<h2>Behaviour code</h2>
<p>These savings are designed to enable children and young people to explore everything the Capital has to offer, no matter where they live in London. </p>
<p>TfL Director of Community Safety, Enforcement and Policing, Steve Burton said: 'This scheme is there to help the families in London that need it most. </p>
<p>'It is especially important in the current climate to ensure that no-one misses out. </p>
<p>'The Behaviour Code advises that "you should always act sensibly and treat others as you would like to be treated". </p>
<h2>Free travel</h2>
<p>'In addition all Zip Oyster photocard holders must always touch in when boarding buses and trams, and must touch in at the beginning and touch out at the end of their journey when using the Tube, DLR and London Overground services. </p>
<p>'Since this rule was introduced last year we have heard from passengers and bus drivers that behaviour among school children is improving significantly.</p>
<p>'Parents and guardians should make sure that children carry the card every day if they take the bus to school, because any child travelling without it will have to pay for their journey.'</p>
<p>Zip Oyster photocard application forms are available from Post Offices within London.&nbsp; </p>
<h2>Apply in advance</h2>
<p>It may take up to two weeks to process your application. </p>
<p>Those ages 11 to 18 who do not have a valid Oyster photocard must pay the cash fare on buses and trams. </p>
<p>** Proof of application will not be accepted by bus drivers as a valid ticket for travel. </p>
<p>Further details are available at <a href="http://www.tfl.gov.uk/zip">tfl.gov.uk/zip</a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
<hr>
<strong>Note to editors:<p>
<ul>
<li></li></ul></strong>You can apply up to one month before your 11th birthday for your 11 to 15 Zip Oyster photocard
<li>There are currently more than 515,000 cardholders on the under-16 Oyster photocard schemes. There are 160,000 16+ Oyster photocard holders that have the free bus and tram concession and 12,000 that have the half-rate travel concession</li>
<li>Holders of 16+ Oyster photocards moving into a second year of education or training, and holders of under-16 Oyster photocards that are due to expire on 30 September 2009, will be sent an application form to their home address, with a reply paid envelope to send the form directly back to TfL</li>
<li>Applications for the 16+ card will be available from and accepted at Post Offices from 1 September.&nbsp;These must be submitted by 16 September to ensure they receive their new 16+ Oyster photocards by 30 September</li>
<li>Under-16's can buy child-rate cash single, Day and 3 Day Travelcards without a Zip Oyster photocard. The Zip Oyster photocard allows child-rate pay as you go which is cheaper than cash. They can also buy child-rate Travelcards with an Oyster photocard</li>
<li>** Under-16s can buy child rate cash single tickets on Tube, DLR and London Overground services without an Oyster photocard</li>
<li>All 16+ Oyster photocard holders can buy 7 Day, monthly or longer period Travelcard and Bus &amp; Tram Pass season tickets at child-rate and pay as you go at half the adult-rate, even if they don't qualify for free bus and tram travel</li>
<li>First applications for an Oyster photocard are processed free of charge. Applicants need to provide a photograph and proof of age at the time of application. Applicants for 16+&nbsp;free travel need to have their forms validated by their school, college or training provider and provide proof that they live in a London borough</li>
<li>If an Oyster photocard has been lost, stolen or damaged the cardholder will have to reapply to get a duplicate and pay a non-refundable fee of &pound;10</li>
<li>Information is also available in Bengali, Chinese, Czech, French, Greek, Gujarati, Hindi, Punjabi, Spanish, Turkish and Vietnamese</li>
<li>Further details are available at <a href="http://www.tfl.gov.uk/zip">tfl.gov.uk/zip</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Parents in London are being reminded to check that their children are signed up to Transport for London's (TfL's) Zip card scheme; so that they can take advantage of their right to free travel on buses and trams in the Capital for the remainder of the";}
        
        


 