


@{ViewBag.Title = "Become part of the fabric of London life";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Become part of the fabric of London life</h1>
        <div class="content-page-press-release">
        14 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) launches a competition to design a brand new seating fabric for the Tube.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Design has always played an important role for London Underground and the new seating fabric will continue this tradition
                            
                        </p>
                    </div>
                
            
            
            <p>From graphics to roundels, Tube stations to textiles, London Underground is steeped in a history of innovative design. </p>
<p>As part of the refurbishment and upgrade of London's transport system, TfL is holding a competition to design a new seating fabric, also known as moquette, for use on the Underground system. </p>
<p>The closing date is 14 September before 17:00. <br>&nbsp;<br>In the tradition set by Frank Pick*, the company is continuing its commitment to exemplary industrial design with the revival of key components of London Underground's corporate identity. </p>
<p>The winning design will launch on the Piccadilly line and will then be adopted across the London Underground system. </p>
<h2>Transport history</h2>
<p>This is a chance to become part of the fabric of London design and transport history and the winner's work will be seen by the 3.5 million daily users of the Tube.</p>
<p>Professional and non-professional designers are invited to take their position in the prestigious hierarchy of artists and designers who have all created designs for the Tube, including Man Ray, Edward McKnight-Kauffer, Laszlo Moholy-Nagy, Eric Ravilious, Marion Dorn, Norbert Dutton, Enid Marx and Paul Nash. </p>
<p>The design brief, which remains very much the same as it did in 1930, emphasises that the design's colours should respond well to both natural and artificial light, with a pattern which takes account of wear and tear. </p>
<p>The durable velveteen woven wool fabric called moquette uses a Jacquard weave and ensures comfort, temperature control and hold. </p>
<h2>Winning design</h2>
<p>The pantone reference for the new moquette design is featured below. </p>
<p>A maximum of three primary corporate identity pantone references can be used, which are shown from the inner wheel of the chart. </p>
<p>Any secondary colours, shown in the outer wheel of the chart can be proposed if considered visually necessary.</p>
<p>The design will require applicants to take into consideration certain utilitarian elements, as required by public seating, such as being commercially viable, having a repeat pattern, and not being too small to cause 'dazzle' or 'strobe' visual effects.&nbsp; </p>
<p>However entrants are also encouraged to challenge conventional ideas of traditional seating fabric designs where possible.&nbsp; </p>
<p>Saskia Boersma, Brand Licensing Manager, TfL, said: 'I'm really looking forward to seeing the entries people send in. </p>
<p>'Design has always played an important role for London Underground and the new seating fabric will continue this tradition of high quality design.'</p>
<h2>To enter</h2>
<p>The competition deadline is 17:00 Monday 14 September 2009. </p>
<p>To download the brief and terms and conditions, please <a href="http://shop.tfl.gov.uk/moquette-competition.html">click here</a>.</p>
<p>Any enquires can be answered only by <a href="mailto:moquettecompetition&#64;tfl.gov.uk">moquettecompetition&#64;tfl.gov.uk</a></p>
<p>
<hr>
<strong>Notes for editors:</strong> 
<p>
<ul>
<li>Entrants should send their design to: Piccadilly Line Moquette Competition, Transport for London, 13th Floor Windsor House, 42-50 Victoria Street, London, SW1H 0TL </li>
<li>Please note only the winning entrants will be contacted by TfL. The judges' decision is final and no correspondence will be entered into. Unlike most metropolitan transport systems where very basic hard composite seating or steel is standard, London Transport/London Underground has always maintained a high level of comfort with seats covered in hard-wearing woollen moquette fabric. London Underground's trains serve 11 lines, and the whole fleet comprises of 4070 cars. The London Underground carries, on average over a billion customers a year </li>
<li>London Underground is undertaking a major programme of renewal as part of TfL's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> </li>
<li>*Frank Pick was publicity manager for London Transport from 1907 and in 1930s became chief executive of London Transport</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From graphics to roundels, Tube stations to textiles, London Underground is steeped in a history of innovative design. As part of the refurbishment and upgrade of London's transport system, TfL is holding a competition to design a new seating fabric, also";}
        
        


 