


@{ViewBag.Title = "Extra eyes and ears will ensure Overground feels even safer ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Extra eyes and ears will ensure Overground feels even safer </h1>
        <div class="content-page-press-release">
        13 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL trials Travel Safe Officers to make London Overground passengers feel even safer on the trains and stations.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to making our passengers feel even safer when travelling on our network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director of London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are committed to making our passengers feel even safer when travelling on our network
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced a 12-month trial, which will see 20 uniformed officers on London Overground services who will help passengers and deter antisocial behaviour. </p>
<p>The new team will, in time, have the power to issue Penalty Notices for Disorder such as graffiti, criminal damage or littering and will also be able to take names and addresses of people behaving unacceptably on the network and pass them on to the Police. </p>
<p>For an initial 12-month trial period the new team will boost the number of staff in uniforms patrolling London Overground services. </p>
<h2>Tackling crime</h2>
<p>They will work closely with the British Transport Police's (BTP's) Neighbourhood Policing Teams, who already work on the Overground, and provide an extra deterrent to bad behaviour and help tackle the fear of crime.</p>
<p>Kulveer Ranger, the Mayor of London's advisor on Transport, said: 'Londoners using the Overground services will not be able to miss the new trial team who will provide an extra set of eyes and ears on the network.'</p>
<p>British Transport Police Chief Inspector Phil Wilkinson said: 'We are looking forward to working closely with the new Travel Safe Officers and believe that their presence will provide extra reassurance to passengers travelling on London Overground. </p>
<h2>Safety and security</h2>
<p>'The introduction of the Travel Safe Officers will certainly complement the work of our own Neighbourhood Policing teams, which have seen some excellent results in driving down crime levels in recent years.</p>
<p>'I am sure that this partnership approach to safety and security on the network can have only positive results for customers.' </p>
<p>Ian Brown, Managing Director of London Rail said: 'We are committed to making our passengers feel even safer when travelling on our network - particularly as we know that the fear of crime remains for many Londoners.</p>
<p>'The trial of Travel Safe Officers will add to the existing BTP officers on our network. They will also add to the improvements already made to lighting and security at stations. The new trains, which have clear sightlines right through the carriage and onboard CCTV monitored by the driver will also increase the feeling of safety. </p>
<p>'Further upgrades will see help points and cameras at all stations by 2011.'<br><br><strong>
<hr>
Notes to editors: </strong>
<p>
<ul>
<li>The Travel Safe Officer initiative is being funded by TfL London Rail at a cost of around &pound;600k over 12 months </li>
<li>TSOs already patrol DLR stations and trains during late hours </li>
<li>At least 70 to 80 per cent of TSOs time will be spent patrolling on the trains with the remainder of their time spent patrolling stations.&nbsp;They will be deployed across the following three geographical areas:<br>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gospel Oak - Barking <br>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Stratford - Willesden <br>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Watford Junction - Euston (on trains on the whole line and&nbsp;stations north of Harrow &amp; Wealdstone) </li>
<li>From September, the TSOs will have accreditation under the Railway Safety Accreditation Scheme (RSAS) which will allow them to request the name and address of people behaving unacceptably on the network and to issue a Penalty Notice for Disorder where necessary. Any names and addresses taken will be passed to the BTP </li>
<li>There are around 24 Revenue Protection Inspectors (RPIs) on the London Overground network who work alongside the BTP NPT officers to detect fare evaders.&nbsp; Whilst the TSOs will work with the RPIs, they will not check passenger tickets </li>
<li>The trial will be subject to a full evaluation and assessed for improvements in passenger perceptions of safety in the regular Customer Satisfaction Survey (CSS) and Mystery Shopper survey results </li>
<li>The May 2008 to April 2009 figures released by the British Transport Police show that compared with the same period the previous year crime on London Overground went down by 23.9 per cent:<br>- &nbsp;71 per cent reduction in criminal damage&nbsp;<br>-&nbsp;&nbsp;46 per cent reduction in robbery&nbsp;<br>- &nbsp;39 per cent reduction in theft of passenger property&nbsp;<br>-&nbsp;&nbsp;31 per cent reduction in violence offences </li>
<li>There are 65 BTP officers patrolling London Overground trains and stations.&nbsp; In addition, the BTP teams were recently re-structured to deliver neighbourhood style policing. The teams have been deployed on a geographic basis to provide groups of officers and PCSOs who have ownership and responsibility for a group of stations </li>
<li>Recent investment to improve London Overground passenger safety and security include: <br>-&nbsp;Upon taking responsibility of the network in November 2007, TfL implemented staffing all stations during the hours of service operation and repaired all lighting and CCTV equipment at stations<br>-&nbsp;LO has started the last phase of station improvement works. These works include the installation of new CCTV equipment at all stations (covering at least 90 per cent of all publically accessible areas), installation of help points and improved lighting levels which will help to improve passengers' feelings of safety and security<br>-&nbsp;In addition, the new London Overground trains feature on-board CCTV which monitored by the driver and the carriages have clear sightlines right through which will help improve feelings of safety and security whilst travelling<br>-&nbsp;All London Overground stations have received the Safer Stations Accreditation from the Department for Transport<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced a 12-month trial, which will see 20 uniformed officers on London Overground services who will help passengers and deter antisocial behaviour. The new team will, in time, have the power to issue Penalty Notices";}
        
        


 