


@{ViewBag.Title = "Local people support need for Henlys Corner improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Local people support need for Henlys Corner improvements</h1>
        <div class="content-page-press-release">
        11 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pedestrians and cyclists in Barnet say they are more likely to use busy junction should a TfL scheme be implemented in 2011.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'When implemented, this scheme will bring real improvements for pedestrians at Henlys Corner"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graham Nash</div>
            <div class="quotee-job-title">Senior Programme Manager TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'When implemented, this scheme will bring real improvements for pedestrians at Henlys Corner
                            
                        </p>
                    </div>
                
            
            
            <p>Results from a Transport for London (TfL) questionnaire, carried out between May and June 2009, reveal nearly 85 per cent of respondents agreed or strongly agreed with the need to improve Henlys Corner junction.</p>
<p>The research shows that if a TfL scheme is taken forward, an overwhelming majority of local residents are more likely to use the junction as pedestrians (69.7 per cent) and almost half of all cyclists (47.3 per cent) are more likely to use it. </p>
<p>The junction is one of the busiest on the A406 North Circular Road. </p>
<p>Transport for London's main objective is to improve pedestrian accessibility. </p>
<p>TfL has worked closely with the London Borough of Barnet to design a scheme that will benefit pedestrians and all other road users while having no detrimental impact on traffic flows.</p>
<p>The scheme will include:</p>
<ul>
<li>Signalised pedestrian crossings across all arms of the junction </li>
<li>New road layout and changes to right turning traffic signals to improve the flow of traffic </li>
<li>Improved facilities for cyclists</li></ul>
<p>Graham Nash, TfL's Senior Programme Manager, said: 'When implemented, this scheme will bring real improvements for pedestrians at Henlys Corner and the road layout changes will alleviate the congestion that can build up at this busy junction.</p>
<p>'We are pleased that the need for improvements at Henlys Corner has received support from the majority of the local community, key stakeholders and the London Borough of Barnet.'<br></p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>6000 leaflets including detailed information about the scheme and key objectives, an artist impression of the junction layout and a freepost tear-off questionnaire were hand distributed to residents within 1km of Henlys Corner's junction on 15 May 2009 </li>
<li>Leaflets were also distributed to stakeholders such as Members of Parliament, Greater London Authority members and other organisations such as the local council, residents associations, transport user groups, businesses and health representatives </li>
<li>The vast majority of the 776 respondents to the questionnaire were local residents (747). Other respondents included local business owners (17), commuters (24), visitors (5) and others (13) </li>
<li>TfL hosted a series of exhibitions during the first week of June to give local residents and road users the opportunity to view the plans for the Henlys Corner junction improvement scheme </li>
<li>Results of the <a title="Results of community engagement questionnaire" href="/henlyscorner">community engagement questionnaire </a>are available online </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Results from a Transport for London (TfL) questionnaire, carried out between May and June 2009, reveal nearly 85 per cent of respondents agreed or strongly agreed with the need to improve Henlys Corner junction.The research shows that if a TfL scheme is";}
        
        


 