


@{ViewBag.Title = "London Cycle Hire scheme takes big step forward as operator announced";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Cycle Hire scheme takes big step forward as operator announced</h1>
        <div class="content-page-press-release">
        12 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) appoints Serco to operate London's Cycle Hire scheme as progress continues.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm sure that the cycling revolution taking place in the Capital will rapidly become the envy of the world"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm sure that the cycling revolution taking place in the Capital will rapidly become the envy of the world
                            
                        </p>
                    </div>
                
            
            
            <p>TfL today announced that Serco is the successful bidder for the contract to set up and operate the London Cycle Hire scheme, which will launch in summer 2010. </p>
<p>The news comes as TfL confirmed that more than a quarter of the 400 cycle docking station sites, where people will pick up and drop off the cycle hire bikes, have already received planning permission. </p>
<p>The scheme will launch with 6,000 hire bicycles based in the nine London boroughs and several Royal Parks that make up London's zone one travel area, and are expected to generate around 40,000 extra cycle trips a day in central London. </p>
<h2>Cycling revolution</h2>
<p>The Mayor of London, Boris Johnson, said: 'The choice of operator will be key to the success of our scheme and I am thrilled Serco have decided to saddle up for London.</p>
<p>'They can't wait to get cracking on helping us get thousands more Londoners on two wheels and I'm sure that the cycling revolution taking place in the Capital will rapidly become the envy of the world.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'The London Cycle Hire scheme will be the most sustainable, environmentally friendly form of public transport ever seen in the Capital. </p>
<p>'Cycling is a quick, convenient and healthy way of making short journeys in London, and we're confident that, from next summer, our exciting new cycle hire scheme will become an essential&nbsp; part of the transport network in central London.' </p>
<h2>World class scheme</h2>
<p>Nick Brown, Chief Executive Serco Integrated Transport&nbsp;and Middle East, said: 'Serco is very pleased to have been chosen to operate the London Cycle Hire scheme. </p>
<p>'With the considerable experience we already have helping deliver transport solutions for London we look forward to working with TfL on this world class cycle scheme for Londoners.'</p>
<p>The London Cycle Hire scheme will be based on, but not identical to, the award-winning Canadian cycle hire scheme, Bixi, which launched in Montreal earlier this year. </p>
<p>A simple to use payment system will support the London Cycle Hire scheme. </p>
<p>Further information on that, and on the design of the bicycles, docking stations and terminals, will be released later this year.</p>
<p>The London Cycle Hire scheme will build on the 107 per cent growth in cycle journeys that London has seen since TfL was created in 2000.</p>
<p>
<hr>
<strong>Notes to editor</strong><strong></strong>
<ul>
<li>Serco was selected following a nine month competitive tendering procurement process </li>
<li>The contract with Serco is valued at approximately &pound;140m over six years, split between installation and operation of the scheme. Revenue from the scheme will be paid directly to TfL </li>
<li>Available 24 hours a day, 365 days a year, the London Cycle Hire scheme will help to alleviate congestion on the Tube and buses and increase the number of people cycling in London </li>
<li>Serco, the international service company, already provides transport solutions in London, where it operates the Dockland's Light Railway, the Woolwich Ferry and maintains traffic signals for TfL<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL today announced that Serco is the successful bidder for the contract to set up and operate the London Cycle Hire scheme, which will launch in summer 2010. The news comes as TfL confirmed that more than a quarter of the 400 cycle docking station sites,";}
        
        


 