


@{ViewBag.Title = "Major new campaign to crack down on drug driving";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major new campaign to crack down on drug driving</h1>
        <div class="content-page-press-release">
        17 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first national TV advertising campaign to tackle drug driving was launched by Transport Secretary Andrew Adonis today after new research showed that one in 10 young male drivers admit to driving after taking illegal drugs.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Some drivers who would never get behind the wheel after drinking still believe they can drive after taking drugs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andrew Adonis</div>
            <div class="quotee-job-title">Transport Secretary</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Some drivers who would never get behind the wheel after drinking still believe they can drive after taking drugs
                            
                        </p>
                    </div>
                
            
            
            <p>The new campaign highlights that the police can and will detect drug drivers - and that anyone convicted will face the same tough penalties as a drink driver.&nbsp;</p>
<p>Transport for London is working with the Department for Transport in the Capital as part of a regional approach. </p>
<p>The first TV advert will be shown tonight before Coronation Street. </p>
<h2>Reckless behaviour</h2>
<p>One in five drivers killed in road accidents may have an impairing drug in their system.</p>
<p>The police can spot the signs that someone is driving under the influence of drugs and, as the new campaign highlights, once a driver has been stopped their eyes will give them away because of the obvious and involuntary effects drugs have on the body.&nbsp;</p>
<p>Anyone convicted of driving while unfit through drugs will get a minimum 12 months driving ban, a criminal record and a large fine.</p>
<p>Transport for London Chief Operating Officer Jeroen Weimar said: 'Drug driving is clearly illegal but some Londoners still think they can get away with it. </p>
<p>'The Met Police are tackling this reckless behaviour and the new campaign reminds drivers that you can and will get caught. Remember, your eyes will give you away.' </p>
<h2>Lives in danger</h2>
<p>Transport Secretary Andrew Adonis said: 'Government campaigns over the past 40 years have succeeded in making drink driving socially unacceptable and cutting the number of people killed in drink drive accidents by nearly three quarters.&nbsp; </p>
<p>'But some drivers who would never get behind the wheel after drinking still believe they can drive after taking drugs.&nbsp; </p>
<p>'We are determined to get the message through to this reckless minority that their behaviour is putting lives in danger.</p>
<p>'The penalties for drug driving are just the same as for drink driving because drug driving is just as dangerous.&nbsp; </p>
<p>'Drivers should be in no doubt that if you get behind the wheel while under the influence of drugs then the police can spot you, they can test you and you will face punishment.'</p>
<p>In addition police forces across the country will be targeting drug drivers throughout the August music festival and holiday season.</p>
<p>The new campaign also includes print, poster and on-line advertising as well as music festival and radio sponsorship.&nbsp; </p>
<p><br></p>
<p>
<hr>
<strong>Notes to editors: </strong>
<ul>
<li>Visit <a href="http://www.dft.gov.uk/think/drugdrive">www.dft.gov.uk/think/drugdrive</a> for more information </li>
<li>The THINK! drug drive campaign cost &pound;2.3m </li>
<li>The campaign creative was developed by advertising agency Leo Burnett </li>
<li>Television adverts will air from Monday 17 August to 13 September with the first advert going out before Coronation Street on Monday 17 </li>
<li>The campaign will also have a presence online, on radio, and at music&nbsp;festivals. There will also be an ambient advertising campaign </li>
<li>THINK! has been promoting the 'Don't drug drive' message since 2003, based around summer music festivals and over the Christmas and New Year party season. The primary audience was young men aged between 17 and 29 who were most at risk of driving while on illegal drugs, with a secondary audience of passengers who may be able to influence such drivers </li>
<li>A Transport Research Laboratory study in 2001 (533 drivers&nbsp;and6 riders fatalities) showed:<br>- At least one impairing prescription or illegal drug was detected in 22.9 per cent&nbsp;of drivers&nbsp;and 20.3 per cent&nbsp;of riders <br>- Alcohol was present in 31.5 per cent&nbsp;of the overall sample<br>- Incidence of such drugs had increased by three times since the previous research published in 1989<br>- 17.7 per cent&nbsp;of drivers (13.4 per cent&nbsp;riders) tested positive for a single drug and<br>- 5.6 per cent&nbsp;of drivers (6.9 per cent&nbsp;riders) tested positive for multiple drugs<br>- THINK! BMRB Annual Survey, October 2008, representative sample of GB adults aged 15+ (2009 adults), 1227 drivers. The 1 in 10 figure is for male drivers aged 18-29.<br>- Penalties for drug driving are the same as for drink driving<br>- On conviction, a minimum 12 month disqualification and a maximum fine of &pound;5,000<br>- As with drink-drivers, the record of disqualification remains on a licence for 11 years which can mean problems for those who drive for a living<br>- Convictions can mean difficulties in renting cars or getting visas for some countries.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new campaign highlights that the police can and will detect drug drivers - and that anyone convicted will face the same tough penalties as a drink driver.&nbsp;Transport for London is working with the Department for Transport in the Capital as part of";}
        
        


 