


@{ViewBag.Title = "Mayor gives green light to energy busting 'LED' traffic signals";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor gives green light to energy busting 'LED' traffic signals</h1>
        <div class="content-page-press-release">
        17 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Investment of &pound;2.4m for thousands of new energy saving lights in traffic signals.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These new lights will not only cut CO2 emissions but they will also last about ten times longer than standard bulbs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London has announced that Transport for London (TfL) is to install energy busting LEDs at 3,500 traffic lights at around 300 junctions in the Capital.&nbsp;&nbsp; </p>
<p>LED technology can reduce electricity consumption and the associated CO2 emissions that cause climate change by a massive 60 per cent. </p>
<h2>Saving money</h2>
<p>These 300 new LED (Light Emitting Diodes) fitted junctions will save 600 tonnes of these emissions a year and around &pound;200,000 in energy costs. </p>
<p>The bulbs will replace the existing bulbs at 3,500 traffic signal heads, each of which contain at least three bulbs.</p>
<p>This introduction of LED traffic lights is the largest of its kind in the UK. TfL is seeking to stimulate the development of LED traffic signals and to encourage more manufacturers to join the market. </p>
<p>It is expected that there will be a greater take up across the UK as a result of TfL's commitment to introducing the lights in large numbers.&nbsp; </p>
<p>The new lights are part of the Mayor's efforts to reduce the Capital's CO2 emissions by a total of 60 per cent by 2025. </p>
<h2>Reducing emissions</h2>
<p>The initiative follows the introduction of LED lighting at all London Buses roadside ticket machines and LED lighting at 3,500 solar powered bus stops (to provide illumination for the stop and signage) and 640 shelters.&nbsp;</p>
<p>If LED lights are installed in all of London's 6,000 junctions which have traffic signals, CO2 emissions could be reduced by around 12,000 tonnes a year. </p>
<p>The Mayor of London, Boris Johnson, said: 'I've seen the future and it comprises these tip top energy busting traffic lights. </p>
<p>'Installing these eco-bulbs will cut the climate change emissions coming from London's galaxy of traffic lights by over half as well as save money from energy bills. </p>
<p>'We are pressing ahead to get many more of these illuminating orbs on to our streets to join a range of other energy zapping measures already saving us money such as solar powered bus stops and shelters.'</p>
<p>TfL is leading the way with LED traffic light trials which it hopes will pave the way for their wider introduction across the UK. </p>
<p>LED product designs and costs have rapidly improved dramatically in recent years and initial barriers specific to the requirements of the UK market are being overcome ahead of the installation in London next year. </p>
<h2>New technology</h2>
<p>TfL trialled on a small scale LED traffic lights in Croydon between January 2007 and August 2008. </p>
<p>These trials demonstrated that a product suitable for the UK marketplace, with reduced power consumption and at a reasonable price was feasible.&nbsp; </p>
<p>Alan Bristow, Director of Traffic Operations, TfL said:&nbsp; 'These new lights will not only cut CO2 emissions but they will also last about ten times longer than standard bulbs meaning we will save on maintenance costs.&nbsp;&nbsp; </p>
<p>'This is part of our efforts across TfL to cut CO2 emissions. On top of introducing new hybrid buses to London's streets, we are currently exploring new technologies including more efficient Tube station and tunnel lighting.'</p>
<p>Transport for London has issued an OJEU notice seeking companies to supply and fit the lights, the application period closes on 24 August.&nbsp;</p>
<p>The scheme is being funded through TfL's Climate Change Fund.&nbsp;&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London has announced that Transport for London (TfL) is to install energy busting LEDs at 3,500 traffic lights at around 300 junctions in the Capital.&nbsp;&nbsp; LED technology can reduce electricity consumption and the associated CO2";}
        
        


 