


@{ViewBag.Title = "Mayor and TfL challenge Tube Lines to deliver";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL challenge Tube Lines to deliver</h1>
        <div class="content-page-press-release">
        25 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor brands delays to upgrade 'unacceptable' but LU PPP Report shows improvements on former Metronet lines.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Tube Lines must get its act together if Londoners are to benefit from faster, more frequent and reliable services on the Jubilee line"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Tube Lines must get its act together if Londoners are to benefit from faster, more frequent and reliable services on the Jubilee line
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today published its annual London Underground (LU) PPP Report.&nbsp; </p>
<p>It makes clear TfL's diminishing confidence in the ability of Tube Lines and its key shareholder and contractor Bechtel to deliver the upgrade of the Jubilee line by the contractual date, the end of December this year, a delay branded 'unacceptable' by the Mayor.</p>
<p>When delivered, the upgrade of the Jubilee line will mean more frequent and reliable Tube services.&nbsp;</p>
<h2>Grave doubts</h2>
<p>However, TfL now harbours grave doubts over Tube Lines and Bechtel's ability to deliver by the end of December, based on their current progress.&nbsp;</p>
<p>This is despite TfL agreeing to extra weekend closures of the line, often at great inconvenience to Londoners and many businesses.&nbsp;</p>
<p>TfL is now calling on Tube Lines and Bechtel to undertake an independent review of their programme, in order to give TfL confidence in a clear and credible plan to deliver the upgrade as soon as possible.</p>
<p>Mayor of London, Boris Johnson said: 'London Underground has been making excellent progress with its programme of improvements.&nbsp; </p>
<p>'But Tube Lines must get its act together if Londoners are to benefit from faster, more frequent and reliable services on the Jubilee line.&nbsp; </p>
<h2>Lack of progress</h2>
<p>'I am hugely frustrated at their progress to date, which is simply unacceptable. </p>
<p>'Tube Lines' hunger for more Jubilee line closures has stretched the patience of Londoners and business almost to breaking point. Before we can consider any more disruption, we must have confidence they will deliver.'</p>
<p>LU Managing Director, Richard Parry said: 'Overall, Tube performance has continued to improve over the last year, but it is the new trains and signalling systems delivered by the line upgrades that will give us the step-change improvements in frequency and reliability in future. </p>
<p>'We've made good progress towards the Victoria line upgrade with the first new train now in passenger service.&nbsp;</p>
<p>'The new trains for the Circle, District, Metropolitan and Hammersmith &amp; City lines are now on our test-track and the vital new signalling contract is out to tender.</p>
<p>'This makes Tube Lines and Bechtel's lack of progress on the Jubilee line even more disappointing and it is their responsibility to get this vital work completed.&nbsp;</p>
<p>'We have already provided Tube Lines and Bechtel with a number of extra weekend closures over and above that required by the PPP contracts, which has greatly inconvenienced passengers and businesses.&nbsp;But still they seek more. </p>
<h2>Review needed</h2>
<p>'Regrettably, we now harbour grave doubts over Tube Lines and Bechtel's ability to deliver the upgrade of the Jubilee line by the end of December, which they are contracted to do.&nbsp;</p>
<p>'It is now vital that they independently review their programme, so they can present us with a clear and credible path to delivery as soon as possible.&nbsp;</p>
<p>'Their reputation hinges upon meeting this commitment to delivery.'</p>
<p>LU's PPP Report covers Tube performance under the PPP structure for the financial year 2008/09.&nbsp;</p>
<p>It demonstrates an improved performance for Tube customers on many measures and records good progress by Tube Lines in other areas, such as station renewal and particularly improved reliability on the Northern line. </p>
<h2>Improved performance overall</h2>
<p>It also shows improved performance by LU on virtually all performance measures on the former Metronet-maintained lines.&nbsp;</p>
<p>Such performance enabled LU to carry more passengers last year than ever before, over 1.1 billion, and achieve record customer satisfaction.</p>
<p>Key issues highlighted in LU's PPP Annual Report include:</p>
<ul>
<li>The preservation of the line upgrades alongside the removal of &pound;2.5bn in costs on the former Metronet lines, through the renegotiation of contracts that did not offer best value for money, changes to the scope and timing of work and removing around 1,000 jobs that were duplicated, following the transfer to LU </li>
<li>Good progress towards delivery of the Victoria line upgrade, with the first new train now running during passenger service </li>
<li>Engagement with Tube Lines over the cost of second period PPP works continues, as we seek a realistic and affordable price for the full scope of improvement works as set out by LU in its Restated Terms</li></ul>
<p>The full PPP Annual Report for 2008/09 can be viewed online at <a href="http://www.tfl.gov.uk/pppreport">www.tfl.gov.uk/pppreport</a><br></p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</p></strong>
<ul>
<li>The PPP contracts envisaged that London Underground would retain responsibility for operations and all engineering and safety standards while three private sector infrastructure companies (infracos) - Tube Lines, Metronet BCV and Metronet SSL - maintained and renewed the infrastructure over 30 years </li>
<li>Metronet Rail, which was responsible for the maintenance and renewal of the remaining Underground lines, became insolvent in 2007 and was transferred to Transport for London control in May 2008. Staff were subsequently transferred to London Underground in December 2008 </li>
<li>In exchange for a monthly fee - the Infrastructure Service Charge (ISC) - the remaining infraco, Tube Lines, maintains the Underground's assets on the Jubilee, Northern and Piccadilly lines to standards set out in the PPP contracts, which state that the monthly fee may be increased or decreased based on performance measures that relate directly to customer experience<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today published its annual London Underground (LU) PPP Report.&nbsp; It makes clear TfL's diminishing confidence in the ability of Tube Lines and its key shareholder and contractor Bechtel to deliver the upgrade of the Jubilee";}
        
        


 