


@{ViewBag.Title = "New card for people with hidden disabilities to make travel easier";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New card for people with hidden disabilities to make travel easier</h1>
        <div class="content-page-press-release">
        18 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is calling for volunteers with hidden disabilities such as autism, learning difficulties or people who are hard of hearing to trial a new Travel Support Card.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This will mean that more people can use the transport network that so many of us take for granted."</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Upfold</div>
            <div class="quotee-job-title">London Underground's Accessibility and Inclusion Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This will mean that more people can use the transport network that so many of us take for granted.
                            
                        </p>
                    </div>
                
            
            
            <p>The card can be used to help them use public transport in the Capital.</p>
<p>The credit card sized Travel Support card is designed for people with disabilities that can't be seen, to give them greater confidence to ask for help if they need it. </p>
<p>Showing the card will alert members of staff that the passenger may need extra support, and will help people with disabilities have more confidence in asking for help. </p>
<h2>Making life easier</h2>
<p>Chris Upfold, London Underground's Accessibility&nbsp;and Inclusion Manager, said:&nbsp; 'This new card is designed to make life easier for people who may need extra help. </p>
<p>'For instance if a journey is disrupted for any reason, the customer can use their card to indicate to staff that they would like extra assistance or support.</p>
<p>'The card will show staff how best to help that individual customer by, for example, taking the customer to the right platform, or taking extra time to explain alternative routes. </p>
<h2>Improving confidence</h2>
<p>This will improve the confidence of disabled people travelling in London and mean that more people can use the transport network that so many of us take for granted.'</p>
<p>TfL are working with disability charities, but more volunteers are needed. </p>
<p>Volunteers with hidden disabilities who would like to take part in this trial, particularly those who live in Stratford, Willesden Junction and Wimbledon should call Kathryn Lyon at TfL on 020 7027 8340.<br><br><strong>
<hr>
Notes to editors</strong> 
<p>
<ul>
<li>Currently London Underground has 57 step-free stations and 25 per cent of stations will be step-free by the end of 2010. Other accessibility information products that TfL produces includes a Guide to Accessibility for all&nbsp; London's public transport, Tube, Buses, Docklands Light Railway, London Overground, Trams, London River Boats, Dial-a-Ride, Taxis and Private Hire; large print and audio Tube maps - these can be ordered by calling 020 7222 1234, or using the new online ordering form at tfl.gov.uk/accessguides </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> </li>
<li>For those who have access to a computer, London Underground launched an interactive service with <a title="Direct Enquiries" href="http://www.directenquiries.com">Direct Enquiries </a>in 2007 where visitors can search for accessible routes through each Underground station, prioritising their search for individual needs. The access details include the number of steps, lifts, escalators, walking distances and ramps. Passengers can also search each station for information about car parking, toilets and services for visually impaired people, induction loops and other access facilities</li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The card can be used to help them use public transport in the Capital.The credit card sized Travel Support card is designed for people with disabilities that can't be seen, to give them greater confidence to ask for help if they need it. Showing the card";}
        
        


 