


@{ViewBag.Title = "New Piccadilly Circus bus lane to improve journey times";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Piccadilly Circus bus lane to improve journey times</h1>
        <div class="content-page-press-release">
        12 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Route 38 passengers to benefit, traffic congestion will also be cut.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is the first major change to traffic around Piccadilly Circus in half a century to help reduce congestion in the West End"</div>
        <div class="quote-footer">
            <div class="quotee-name">Councillor Danny Chalkley</div>
            <div class="quotee-job-title">Cabinet Member for City Management</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is the first major change to traffic around Piccadilly Circus in half a century to help reduce congestion in the West End
                            
                        </p>
                    </div>
                
            
            
            <p>Work is about to begin on a new westbound contraflow bus lane to run between Shaftesbury Avenue and Piccadilly Circus.&nbsp;&nbsp;</p>
<p>The work on the bus lane is being undertaken by Westminster City Council in partnership with Transport for London (TfL) to improve journey times for bus passengers on route 38.&nbsp; </p>
<p>The new bus lane will also help to cut congestion and contribute to the Mayor of London's commitment to smooth traffic flow in the Capital. </p>
<h2>Vital link for passengers</h2>
<p>Route 38 carries more than 2,300 passengers per hour during peak times, carrying more than 19.5 million passengers a year. </p>
<p>Operating between Victoria and Clapton, the route provides a vital link to passengers travelling between east and west London.&nbsp; </p>
<p>The new contraflow bus lane will bring a number of benefits for bus passengers, road users and pedestrians in the area, including:</p>
<ul>
<li>Improved journey times for bus passengers on routes 14 and 19 as well as on route 38, as westbound buses will no longer use Great Windmill Street and Jermyn Street </li>
<li>Improved bus service reliability </li>
<li>Reduced traffic congestion in the Piccadilly Circus area </li>
<li>Wider footpaths and two new pedestrian crossings </li>
<li>Improved lighting </li>
<li>Reduced street clutter with the removal of pedestrian guardrails</li></ul>
<p>Westminster is carrying out the works to install the new bus lane at Piccadilly Circus through its Living City programme which is being delivered in partnership with TfL.&nbsp; </p>
<p>This programme aims to renew the West End ahead of 2012 and beyond. </p>
<h2>Reducing journey times</h2>
<p>Ben Plowden, Director of TfL's Integrated Programme Delivery, said: 'The introduction of the new westbound contraflow bus lane at Piccadilly Circus will produce some great benefits for bus passengers travelling on route 38, not only by reducing bus journey times through this busy West End area but also improving the reliability of the whole of the service that runs between Clapton and Victoria.&nbsp; </p>
<p>'Traffic congestion through Piccadilly Circus will also be cut, which will smooth traffic flow.'</p>
<p>Councillor Danny Chalkley, Cabinet Member for City Management, said: 'This is the first major change to traffic around Piccadilly Circus in half a century to help reduce congestion in the West End and speed up journey times for bus passengers. </p>
<p>'Good public transport is the backbone of any thriving city and improvements like this are necessary to ensure London's network really works for the millions of residents, commuters and visitors who use it every year.' </p>
<h2>Improving reliability</h2>
<p>The contraflow bus lane to Piccadilly Circus is the last of a number of improvements along route 38.&nbsp; </p>
<p>The route 38 scheme is a joint initiative between TfL and the London boroughs of Camden, Islington, Hackney, City of London and Westminster City Council.&nbsp; </p>
<p>The aim of the scheme is to improve the reliability of route 38 and deliver wider benefits for pedestrians, cyclists and other road users. It also aims to improve the quality of the street environment along the route.&nbsp; </p>
<p>Works to install the lane will begin on 19 August and are due to take eight months.&nbsp;TfL and Westminster Council will be working together to minimise disruption.</p>
<p><br>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>The cost of the scheme at Piccadilly Circus is &pound;2.3m with &pound;1.3m being funded by Westminster and &pound;1m from TfL </li>
<li>Westminster has appointed contractor West One to project manage the works </li>
<li>The new westbound contraflow bus lane will mean routes 14, 19 and 38 will no longer use Great Windmill Street, Haymarket and Jermyn Street and won't cross the lower section of Regent Street </li>
<li>Eastbound buses will remain unchanged, continuing to use Piccadilly Circus. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work is about to begin on a new westbound contraflow bus lane to run between Shaftesbury Avenue and Piccadilly Circus.&nbsp;&nbsp;The work on the bus lane is being undertaken by Westminster City Council in partnership with Transport for London (TfL) to";}
        
        


 