


@{ViewBag.Title = "New cameras have the brains to crack down on congestion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New cameras have the brains to crack down on congestion</h1>
        <div class="content-page-press-release">
        19 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New image recognition technology helps TfL to smooth traffic flow by picking up traffic hotspots.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Having cameras that can actually spot when traffic builds up and let the operators know is massively helpful"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Having cameras that can actually spot when traffic builds up and let the operators know is massively helpful
                            
                        </p>
                    </div>
                
            
            
            <p>Intelligent traffic cameras that can detect jams as they build up are set to revolutionise the way Transport for London (TfL) tackles congestion in the Capital.&nbsp; </p>
<p>Twenty cameras fitted with special image recognition technology have been put at traffic hot spots across London. </p>
<h2>Faster action</h2>
<p>They are able to automatically spot and alert TfL's traffic control centre if congestion builds up, allowing operators to identify and take action to deal with incidents much faster. </p>
<p>Receiving alerts from the new cameras allows operators to focus their efforts on dealing with congestion rather than having to trawl through all of London's traffic cameras looking for jams. </p>
<p>The Mayor of London, Boris Johnson, said: 'These cameras have a really important role to play in keeping London moving. </p>
<p>'The chaps in TfL's control centre have a monster of a job scanning through the cameras looking for accidents or incidents that will slow traffic. </p>
<p>'So having cameras that can actually spot when traffic builds up and let the operators know is massively helpful and means they can get people moving again far quicker.' </p>
<h2>Reducing&nbsp;congestion</h2>
<p>The image recognition incident detection (IRID) technology has been developed by TfL's technical experts in partnership with Ipsotek Ltd. </p>
<p>Operators receive between six and 10 alerts each day and around 80 per cent of these are verified as genuine congestion problems. </p>
<p>In one month alone (February 2009), 64 incidents of congestion were picked up via the alerts before either operators, Police or members of the public were able to flag them.</p>
<p>The cameras have been positioned at junctions where it is known that congestion, from even minor incidents such as a broken down vehicle, can build up onto surrounding roads and have a significant impact on traffic causing delays for all road users. </p>
<p>Information received from the cameras has also been put to wider use. </p>
<h2>Permanent improvements</h2>
<p>The recurring congestion detected they detected in Surrey Quays resulted in new permanent traffic plans with improved signal timings. </p>
<p>These resulted in less alerts and smoother traffic conditions in the area.</p>
<p>Alan Bristow, TfL's Director of Traffic Operations, said: 'Our traffic coordinators have a busy job, monitoring more than a thousand traffic cameras around the clock to keep London's roads flowing smoothly.</p>
<p>'The use of a more intelligent system like the image recognition cameras has made it much faster and easier to identify and react to congestion on the Capital's roads. </p>
<p>'We are now looking at how we expand the use of this technology to further improve conditions for all of London's road users.'</p>
<p><strong>
<hr>
Notes to editors</strong> 
<ul>
<li>The 20 traffic cameras that currently use IRID technology are located at: A10 Southbury Road, Old Kent Road, A205 Brixton Road, Albert Embankment, Vauxhall Bridge, Tooting Bec, London Bridge, A205 West Hill, A3 Kingston Road/Roehampton Lane, Battersea Bridge, A40 Bayswater Road/Westbourne Street, A501 City Road, A501/Marylebone Road and Camden Road/York Way </li>
<li>TfL has spent &pound;160,000 over the last three years developing this technology and &pound;45,000 was invested in setting up the current system </li>
<li><a title="Ipsotek Ltd" href="http://www.ipsotek.com/">Ipsotek Ltd</a> is a London-based solution provider whose Video Content Analysis product is currently used in a range of markets including security, commerce, transport, leisure and tourism</li>
<li>TfL's London Traffic Control Centre (LTCC) uses a network of 1,200 CCTV cameras, intelligent traffic signals that measure live traffic flows and updates from London's network of bus drivers to quickly identify and respond to any traffic delays across the Capital </li>
<li>TfL is working with the Mayor of London on a range of measures to smooth traffic flow in the Capital, including:<br>-&nbsp;Re-phasing of traffic signals to get traffic flowing more smoothly, without affecting the safety of pedestrians and vulnerable road users. Benefit is being derived from improvements to the coordination of adjacent signals which reduces the amount of stopping and starting between traffic signal junctions<br>-&nbsp;Motorcycles are being allowed in the majority of TfL-controlled bus lanes. Motorcyclists are able to share red route bus lanes with buses, cyclists and licensed black taxis on a trial basis for 18 months<br>-&nbsp;Working with utility companies, to reduce the impact of the works they do to repair and replacing ageing infrastructure across the capital through measures such as introducing a permit scheme, using steel plating to cover excavations when work is not in progress, maximising off peak working, and limiting the amount of excavation for essential works.<br>-&nbsp;The introduction in summer 2010 of a cycle hire scheme. People will be able to pick up and drop of hire bikes at 400 locations across London's zone one travel area.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Intelligent traffic cameras that can detect jams as they build up are set to revolutionise the way Transport for London (TfL) tackles congestion in the Capital.&nbsp; Twenty cameras fitted with special image recognition technology have been put at traffic";}
        
        


 