


@{ViewBag.Title = "Next set of bendy buses to leave London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Next set of bendy buses to leave London</h1>
        <div class="content-page-press-release">
        28 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The demise of the bendy bus in the Capital continues as today sees bendy buses operating on route 521 for the last time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Route 38 will be the next to lose bendy buses later this year"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Route 38 will be the next to lose bendy buses later this year
                            
                        </p>
                    </div>
                
            
            
            <p>New and shorter single-deck buses will officially take over on route 521, which operates between Waterloo and London Bridge, from Tuesday 1 September 2009.&nbsp; </p> <p>Passengers will now see more buses on that route with a bus running every two or three minutes at peak times, rather than the current four minute service. </p> <p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Mayor was elected with a clear manifesto of getting the bendy buses off our streets and he's delighted to see the second set of them leaving the Capital.&nbsp; </p> <h2>High frequency service</h2> <p>'Route 38 will be the next to lose bendy buses later this year, after which there will be just nine routes left to convert before the end of 2011.'</p> <p>The 12 metre single-deck buses being introduced on route 521 are the same as those now operating on route 507 and meet very high environmental standards.&nbsp; </p> <p>They are EEV Standard (Enhanced Environmentally friendly Vehicles), a standard above Euro V.&nbsp; </p> <p>Despite increasing the number of buses on the route, emissions of carbon dioxide will still be cut by over three per cent, oxides of nitrogen by over 21 per cent and particulate matter by over 27 per cent. </p> <p><strong> <hr> Notes to editors: <p> <ul> <li></li></ul></strong>The removal of bendy buses began on route 507, which converted to 12 metre single-deck buses&nbsp;on 25 July.&nbsp;Route 521 is the second route from which bendy buses will be removed. Route 38 will convert later this year; routes 18 and 149 will convert by the end of 2010. The remaining routes - 12, 25, 29, 73, 207, 436 and 453 - will convert by the end of 2011  <li>Route 521 is operated by London General  </li><li>The first bus on route 521 leaves at approximately 06:30 with the last bus departing just after midnight.&nbsp; There is no weekend or Bank Holiday service on the route<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New and shorter single-deck buses will officially take over on route 521, which operates between Waterloo and London Bridge, from Tuesday 1 September 2009.&nbsp;Passengers will now see more buses on that route with a bus running every two or three minutes";}
        
        


 