


@{ViewBag.Title = "Pocket a work by Turner Prize winner Richard Long";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pocket a work by Turner Prize winner Richard Long</h1>
        <div class="content-page-press-release">
        20 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Acclaimed British artist Richard Long has designed the next Pocket Tube map cover for Art on the Underground, which customers can pick up at Tube stations for free from September.
        
    </div>



 <div class="on-this-page">
<p>The work, entitled 'Earth', shows the different colours of the Tube lines stacked on top of each other, with the black grid between them referencing the Northern line.&nbsp;</p>
<p>Long echoes the format of an I Ching hexagram symbolising 'Earth', a figure composed of six stacked horizontal lines from the ancient Chinese Book of Changes. </p>
<p>The philosophies of the I Ching recur in Long's work; his current show at Tate Britain opens with two dramatic hexagrams representing Heaven and Earth, from which the exhibition takes its title.&nbsp; </p>
<h2>Dynamic balance</h2>
<p>The choice of the Earth symbol for the Tube map is an obvious one for Long, whose work always involves an exploration of the earth's surface, time, distance, geography, measurement and movement.&nbsp; </p>
<p>These connect with the I Ching's ideas about the dynamic balance of opposites, the evolution of events as a process, and acceptance of the inevitability of change.&nbsp;&nbsp; </p>
<p>'Earth' will give passengers a chance to think beyond their fast-paced London journeys. </p>
<p>The Art on the Underground Programme can offer passengers a moment of contemplation while travelling across the Capital. </p>
<h2>A little magic</h2>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'I am very impressed by Richard Long's approach to this Tube map cover commission, his combination of the Tube line colours with the I Ching will be compelling food for thought for our customers.'</p>
<p>Responding to the recent Richard Long print giveaway by Art on the Underground, one Tube customer, said: 'It takes you away from your day-to-day world and delivers you to another, to your imagination', while another customer said: 'it brings a little magic to the commute...'.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Pocket Tube Map cover art works are owned outright by London Underground (LU) and form the basis of a permanent collection of unique works by world class artists, including Cornelia Parker, David Shrigley, Liam Gillick and Jeremy Deller.&nbsp;They are becoming recognised as collectors' items as the portfolio grows. Available for free from stations across the network, the map has one of the largest print runs for any organisation in Europe, with over five million printed per design and almost 15 million per year </li>
<li>Richard Long: Heaven and Earth<br>Supported by The Richard Long Exhibition Supporters Group and The Henry Moore Foundation<br>3 June - 6 September 2009 <br>Tate Britain, Level 2 Galleries<br>Admission &pound;9.80 (&pound;7.80 concessions)<br>Open daily 10.00 - 17.50, and until 22.00 on the first Friday of every month<br>For tickets visit&nbsp; the <a href="http://www.tate.org.uk/tickets">Tate's website</a>&nbsp;or call 020 7887 8888 </li>
<li>Richard Long was born in Bristol in 1945 where he continues to live and work. Long has exhibited widely since his first solo show at the Konrad Fischer Gallery in D&uuml;sseldorf in 1968. He represented Britain in the British Pavilion at the Venice Biennale in 1976 and was awarded the Turner Prize in 1989.&nbsp;In 1990 he became a Chevalier dans l'Ordre des Arts et des Lettres. Heaven and Earth is curated by Clarrie Wallis, Curator of Contemporary Art, Tate Britain, assisted by Helen Little, Assistant Curator, Tate Britain. A fully illustrated publication produced by Tate Publishing will accompany the exhibition and will include previously unseen works </li>
<li><a href="http://www.tfl.gov.uk/art">Art on the Underground</a> is LU's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three and a half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and most diverse audiences in Europe </li>
<li>The Tube map cover has been commissioned to coincide with Long's major Tate exhibition (which ends 6 September) and follows on from a 60,000 print edition that he made as part of the 30th anniversary celebrations for the Jubilee line, jointly commissioned by Art on the Underground and Tate Britain.&nbsp;The prints were handed out to passengers in June, as the Tate show launched </li>
<li>For more information about Richard Long's exhibition <a href="http://www.tate.org.uk/">Heaven and Earth</a> at Tate Britain.&nbsp;Tate Britain is the national gallery of British art, one of the family of four Tate galleries which display selections from the Tate Collection. The BP British Art Displays at Tate Britain call on the greatest collection of British art in the world to present an unrivalled picture of the development of art in Britain from the 16th century to the present day. These changing collection displays are complemented by a continuous programme of temporary exhibitions exploring broad themes of British art as well as the work of individual artists </li>
<li>Images of the artwork are available at the&nbsp;<a href="http://www.theresasimon.com/press">Theresa Simon &amp; Partners website</a> - just log in with your name and email address, click next, and choose the link from the project menu </li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to check before they travel at weekends, allowing extra journey time where necessary. <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">Weekend travel news</a> is available online at the TfL website<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work, entitled 'Earth', shows the different colours of the Tube lines stacked on top of each other, with the black grid between them referencing the Northern line.&nbsp;Long echoes the format of an I Ching hexagram symbolising 'Earth', a figure";}
        
        


 