


@{ViewBag.Title = "RMT leadership accepts LU assurances on jobs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>RMT leadership accepts LU assurances on jobs</h1>
        <div class="content-page-press-release">
        19 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today welcomed the RMT leadership's acceptance of London Underground's (LU) assurances on jobs and its efforts to avoid compulsory redundancies, making clear that nothing has changed following the RMT's recent 48hrs strike.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We now look forward to a resolution and a fair pay agreement that is in the best interests of Londoners and all of our staff"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We now look forward to a resolution and a fair pay agreement that is in the best interests of Londoners and all of our staff
                            
                        </p>
                    </div>
                
            
            
            <p>LU has always maintained that it would do all it could to avoid compulsory redundancies following the integration of Metronet and the need to cut around 1,000 posts in order to avoid duplication. </p>
<p>It has always been the case that operational and maintenance staff would not be affected by this process, which LU consistently made clear before, during and after the RMT's recent strike action.&nbsp; </p>
<p>LU will now meet with all its trade unions under the auspices of ACAS to discuss LU's final, above inflation, two-year pay offer of 1.5 per cent this year and RPI +0.5 per cent next.</p>
<p>Such a pay offer provides staff with stability in an extremely tough economic climate, and guarantees real wage increases for the next two years. Very few Londoners are being provided with such certainty for the future, and we continue to urge all unions to put the offer to their members and allow them their say.</p>
<p>LU Managing Director, Richard Parry said: 'It's good news the RMT leadership has now accepted our assurances on jobs following the collapse of Metronet and its integration into LU.</p>
<p>'Nothing has changed since the RMT's pointless strike action, which only lost those staff who took part two days pay.&nbsp;</p>
<p>'We have been absolutely clear that we sought to avoid compulsory redundancies and that no frontline operational and maintenance staff were part of this process. </p>
<p>'We never offered a guarantee of no compulsory redundancies and this remains this case.</p>
<p>'We now look forward to a resolution and a fair pay agreement that is in the best interests of Londoners and all of our staff.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU has always maintained that it would do all it could to avoid compulsory redundancies following the integration of Metronet and the need to cut around 1,000 posts in order to avoid duplication. It has always been the case that operational and";}
        
        


 