


@{ViewBag.Title = "TfL begins move into new greener, cheaper Greenwich Peninsula offices";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL begins move into new greener, cheaper Greenwich Peninsula offices</h1>
        <div class="content-page-press-release">
        13 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        14 Pier Walk boasts environmental benefits and will contribute to &pound;100m in savings on TfL offices over the next 10 years.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have obtained top quality office accommodation at an excellent location, giving us true value for money
                            
                        </p>
                    </div>
                
            
            
            <p>Greenwich Peninsula welcomed new residents this week, when the first of 1800 staff from Transport for London (TfL) began work at a state-of-the-art green office. </p>
<p>TfL is taking up occupancy at the six-storey 14 Pier Walk building as part of a drive to green its offices and save money on rents. </p>
<h2>Energy efficiency</h2>
<p>The building, the first to be completed at the new Greenwich Peninsula development, has been rated as 'excellent' for its energy efficiency, water and waste management by the internationally recognised Building Research Establishment standard. </p>
<p>A green 'living roof' has been installed to help boost the local ecology as well as improving insulation and limiting the flood impact from rainfall and even the kitchen work surfaces on each floor are made from recycled glass that originally started life as windows on the 1967 Victoria line Tube carriages.</p>
<p>Boris Johnson, Mayor of London, said: 'I firmly believe that all companies across London should do their bit to ensure they are as energy efficient as possible.&nbsp; </p>
<p>'It is great to see TfL taking a lead, moving to a building that is not only super-friendly to the environment boosting a range of top green features, but does so whilst ensuring good value for money for Londoners.' </p>
<h2>Value for money</h2>
<p>Charles Stafford, TfL Director of Group Property and Facilities, says 'TfL is delighted to be one of the first tenants in this significant regenerative development.&nbsp; </p>
<p>'This move is a key part of our property strategy to improve the overall quality and productivity of the workspace we provide for our staff, yet also achieve significant efficiencies.&nbsp; </p>
<p>'In this case we have obtained top-quality office accommodation at an excellent location, giving us true value for money.'</p>
<p>TfL has taken a 20-year lease on 196,000 square foot of space in the building that was developed by Lend Lease and Quintain.&nbsp; </p>
<p>Staff from a number of existing TfL offices across London will move to Greenwich Peninsula, forming one of three new head office hubs.&nbsp;</p>
<h2>Long-term strategy</h2>
<p>Staff from TfL's Human Resource and Financial Services departments are the first to move into the new building.&nbsp; </p>
<p>The move to the Greenwich Peninsula also represents the second phase of TfL's long-term property strategy, which will deliver &pound;100m in efficiency savings over the next 25 years.</p>
<p>The first phase was completed in 2008 when TfL moved into Palestra in Southwark.&nbsp;The final phase of the strategy will be delivered in 2012, when TfL occupies a number of floors within the Shard of Glass building in London Bridge.</p>
<p>
<hr>
<strong>Notes to editors </strong>
<p>
<ul>
<li>Transport for London was created in 2000 from 15 separate organisations based in 50 buildings across central London </li>
<li>The move to Greenwich is part of drive to save up to &pound;100m from our office accommodation strategy over the next 25 years. TfL are consolidating to three principle locations - Palestra, Greenwich Peninsula and the Shard - significantly reducing operating costs and providing a greener working environment in locations that are well served by transport links </li>
<li>These efficiency savings are part of at least &pound;2.4bn in efficiency savings across TfL that will contribute funding towards TfL's major Investment Programme projects including the upgrade of the Tube, expanding London Overground and building Crossrail </li>
<li>Located in the new Peninsula Central business district in North Greenwich, the building comprises 196,000sq ft of floor space </li>
<li>The Greenwich Peninsula can be easily accessed via North Greenwich station on the Jubilee line, London River Services from the QE2 Pier and by bus services from North Greenwich Bus Station </li>
<li>The &pound;5bn regeneration of 190 acres of Greenwich Peninsula led by Lend Lease and Quintain Estates and Development PLC working in collaboration with the Homes and Communities Agency, the national housing and regeneration agency. The scheme will create a thriving new riverside community for London over the next 15 years with:<br>-&nbsp;10,000 new homes in distinct residential neighbourhoods&nbsp;<br>-&nbsp;24,000 permanent jobs&nbsp;<br>-&nbsp;Peninsula Central - a new business district for London&nbsp;&nbsp;<br>-&nbsp;150 new shops and restaurants&nbsp;<br>-&nbsp;1.6 miles of river frontage; the distance between Waterloo and London Bridge&nbsp;<br>-&nbsp;48 acres of open spaces and parks; the size of Green Park&nbsp;<br>-&nbsp;Extensive new community and leisure facilities&nbsp;<br>-&nbsp;The O2 entertainment destination delivered and operated by AEG Europe&nbsp;<br>-&nbsp;Excellent transport links, situated in zone 2 on the Jubilee line&nbsp;<br>-&nbsp;Aspiration for the highest environmental standards for new buildings </li>
<li>For more information on the development, please visit: <a href="http://www.greenwichpeninsula.co.uk/">http://www.greenwichpeninsula.co.uk/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Greenwich Peninsula welcomed new residents this week, when the first of 1800 staff from Transport for London (TfL) began work at a state-of-the-art green office. TfL is taking up occupancy at the six-storey 14 Pier Walk building as part of a drive to";}
        
        


 