


@{ViewBag.Title = "The best way to get to Notting Hill Carnival: Sunday 30 to Monday 31 August 2009";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The best way to get to Notting Hill Carnival: Sunday 30 to Monday 31 August 2009</h1>
        <div class="content-page-press-release">
        14 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Europe's largest street festival - the Notting Hill Carnival - returns to the streets of west London on August Bank Holiday weekend.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Carnival is a great annual event and we want everyone going to enjoy themselves"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Davidson</div>
            <div class="quotee-job-title">Network Operations Manager for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Carnival is a great annual event and we want everyone going to enjoy themselves
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) advises all visitors to check before they travel and plan their journey to and from the Carnival on Sunday and Bank Holiday Monday, 30 and 31 August. </p>
<p>This can be done at: tfl.gov.uk/check and tfl.gov.uk/journeyplanner</p>
<h2>Underground</h2>
<p>There are planned engineering works on several London Underground lines:</p>
<ul>
<li>Bakerloo line - Sunday 30 August - no service between Paddington and Elephant &amp; Castle. Customers travelling from the north end of the Bakerloo Line should alight at Kensal Green or Queen's Park, which are near the Carnival Route, and walk from there</li>
<li>District line - Sunday 30 and Monday 31 August - no service between Barking and Upminster, but replacement bus services will operate</li>
<li>Hammersmith &amp; City line - Sunday 30 and Monday 31 August - no service between Plaistow and Barking</li>
<li>Jubilee line - Sunday 30 and Monday 31 August - no service between West Hampstead and Stanmore, but replacement bus services will be running</li>
<li>Metropolitan line - Sunday 30 and Monday 31 August - no service between Northwood and Amersham/Chesham/Watford, but replacement bus services will operate</li></ul>
<p>Ladbroke Grove station, located on one of the busiest sections of the Carnival route, will be closed on both Sunday 30 and Monday 31 August. </p>
<p>Some stations around the Carnival area will close early or be 'exit only' at certain times on both days to help ease congestion. </p>
<p>They include:</p>
<ul>
<li>Kensal Green - exit only from 16:00 on Sunday 30 and Monday 31 August</li>
<li>Latimer Road - station will close at 23:30 on Sunday 30 and Monday 31 August</li>
<li>Notting Hill Gate - on Sunday 30 and Monday 31 August, no interchange between the Central, Circle and District lines; station will be exit only between 11:00 and 19:00. The Circle and District lines will not stop between 11:00 and 19:00</li>
<li>Royal Oak - on Sunday 30 and Monday 31 August, exit only between 11:00 and 18:00, the station will close at 18:00 and Hammersmith &amp; City line trains will not stop at this station</li>
<li>Westbourne Park - on Sunday 30 and Monday 31 August, exit only between 11:00 and 18:00, the station will close at 23:30</li></ul>
<h2>Buses</h2>
<p>A number of bus routes run close to the Carnival area. </p>
<p>The following services will run by the Carnival, but will not enter the immediate area due to local road closures: 7, 18, 23, 27, 28, 31, 36, 52, 70, 94, 148, 228, 295, 316, 328, 390, 452, N7, N18, N28, N31,N52 and N207.</p>
<p>Other buses routes within a comfortable walking distance include: 6, 15, 46, 187, 205, 220, 274, 302, 332, 414, 436 and N15.</p>
<p>Bus routes 6, 23, 27, 36, 94, 148, 205, 220, 295 and 390 are 24 hour services.</p>
<p>Some bus routes will be on diversion due to local road closures. </p>
<p>Diversions will be in place from the first bus on Sunday morning until around 05:00 on Tuesday 1 September.</p>
<p>Three special express routes- 2X, 36X and 436X - will run between south London and the Carnival on both days. </p>
<p>The 2X will run from Norwood Garage to Hyde Park Corner, then non-stop to Notting Hill Gate. </p>
<p>The 36X will run from Peckham to Vauxhall, then non-stop to Harrow Road 'Prince of Wales'. </p>
<p>The 436X will run from Peckham to Hyde Park Corner, then non-stop to Notting Hill Gate.</p>
<p>Ken Davidson, Network Operations Manager for London Buses, said: 'The Carnival is a great annual event and we want everyone going to enjoy themselves. </p>
<p>'We do advise visitors to plan their journeys to and from the event.'</p>
<p>'The easiest ways to travel are by bus, Tube, on bike or by foot and we advise all Carnival goers to be aware that crowds and road closures could slow you down. '</p>
<p>'People should also check options for their return journeys as these may be easier from an alternative station or bus stop.'</p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<ul>
<li></li></ul></strong>Notting Hill Carnival leaflets with maps showing the Carnival route and providing travel information are available from Tube stations
<li>Check before you travel at tfl.gov.uk/check; BBC Ceefax, page 436; ITV's Teletext, page 164. Information is also available on posters, leaflets and ;Good Service; boards at Tube stations; and The London Travel Information 24-hr line: 020 7222 1234</li>
<li>TfL's Journey Planner offers the quickest way to plan journeys in the Capital, showing fast and efficient routes: tfl.gov.uk/journeyplanner</li>
<li>Information about cycling is available at tfl.gov.uk/cycling and about walking at tfl.gov.uk/walking</li>
<li>The Congestion Charge will not be in operation on Sunday 30 or Monday 31 August</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) advises all visitors to check before they travel and plan their journey to and from the Carnival on Sunday and Bank Holiday Monday, 30 and 31 August. This can be done at: tfl.gov.uk/check and";}
        
        


 