


@{ViewBag.Title = "Transport for London brings 'dig-fest' to the Capital's streets ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London brings 'dig-fest' to the Capital's streets </h1>
        <div class="content-page-press-release">
        28 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bank holiday workathon by TfL and utilities companies will save east London motorists from three months worth of future traffic delays.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're so keen to get together with the utilities to coordinate dig-fests like these and cut down on unnecessary jams"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer of TfL Streets</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're so keen to get together with the utilities to coordinate dig-fests like these and cut down on unnecessary jams
                            
                        </p>
                    </div>
                
            
            
            <p>This bank holiday weekend, Transport for London (TfL) and a group of utilities companies are set to carry out a marathon 72-hour dig on Commercial Street, E1, with the aim of completing street works that would have otherwise resulted in several months of traffic disruption.</p>
<p>The effort is part of the commitment by the Mayor of London to smooth traffic flow in the Capital and get companies working together when they carry out works, rather than endlessly digging up the same stretch of tarmac. </p>
<h2>Necessary works</h2>
<p>More than 100 different sets of works will take place along the one kilometre northbound stretch of Commercial Street in Tower Hamlets over the weekend by utilities companies including Verizon, National Grid, Thames Water, EDF, Colt and BT. </p>
<p>TfL will also take the opportunity to carry out highway maintenance while the northbound carriageway is closed. </p>
<p>Southbound traffic will continue to be able to use Commercial Street.</p>
<p>Garrett Emmerson, Chief Operating Officer of TfL Streets, said: 'We understand that utilities companies sometimes need to dig up London's streets to carry out their necessary works, but we know how frustrating it can be for Londoners when a road is closed and dug up repeatedly. </p>
<h2>Coordinated way of working</h2>
<p>'That's why we're so keen to get together with the utilities to coordinate dig-fests like these and cut down on unnecessary jams.</p>
<p>'When we have the London Permit Scheme in place it will be much easier for us to properly manage roadworks, cutting the number of road closures and reducing frustration for people in the Capital.'</p>
<p>After being contacted by Verizon about their plans for works on Commercial Street, TfL took the opportunity to get in touch with other utilities companies to encourage them to complete any work they had planned for the area at the same time. </p>
<p>This improved and more coordinated way of working is good practice for when the London Permit Scheme, which is currently with the Department for Transport (DfT) for approval, is in place. </p>
<h2>Minimum dig technology</h2>
<p>Under the scheme, utilities and other companies who want to dig up London's roads will have to apply for a permit and agree to conditions and timings to limit the disruption that roadworks can cause to Londoners. </p>
<p>Jon Butterworth, National Grid's Director of Operations for Gas Distribution, said: 'National Grid is committed to working alongside Transport for London, local councils and our fellow utilities to keep London moving. </p>
<p>'We do our utmost to minimise any disruption and inconvenience associated with our streetworks.</p>
<p>'We accomplish this through advance planning and minimum dig technology where possible, but sometimes we need to do emergency work to fix gas escapes.</p>
<p>'National Grid also champions the use of 'keyhole' excavation technologies to further reduce traffic disruption where possible.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>From 04:00 on Saturday 29 August until 05:00 on Tuesday 1 September, Commercial Street, E1, will be closed northbound only between Shoreditch High Street and Whitechapel High Street. Diversions will follow Whitechapel Road, Cambridge Heath Road, Hackney Road and Shoreditch High Street. Commercial Road, E1, will also be closed to westbound traffic north of the junction with Goodman's Stile. The diversion from here will follow Alie Street, Leman Street, Prescott Street, and Mansell Street to Whitechapel High Street </li>
<li>TfL is working with the Mayor of London on a range of measures to smooth traffic flow in the Capital, including: 
<ul type="circle">
<li>Re-phasing of traffic signals to get traffic flowing more smoothly, without affecting the safety of pedestrians and vulnerable road users. Benefit is being derived from improvements to the coordination of adjacent signals which reduces the amount of stoping and starting between traffic signal junctions </li>
<li>Motorcyclists are being allowed in the majority of TfL-controlled bus lanes. Motorcyclists are able to share red route bus lanes with buses, cyclists and licensed black taxis on a trial basis for 18 months </li>
<li>Working with utility companies to reduce the impact of the works they do to repair and replace ageing infrastructure across the Capital through measures such as introducing a permit scheme, using steel plating to cover excavations when work is not in progress, maximising off-peak working, and limiting the amount of excavation for essential works</li></ul></li>
<li>TfL, along with 18 London boroughs, recently submitted the <a href="http://www.tfl.gov.uk/corporate/media/newscentre/12314.aspx">London Permit Scheme</a> to the&nbsp;DfT for approval. If approved, the scheme could be put into action by the end of the year </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This bank holiday weekend, Transport for London (TfL) and a group of utilities companies are set to carry out a marathon 72-hour dig on Commercial Street, E1, with the aim of completing street works that would have otherwise resulted in several months of";}
        
        


 