


@{ViewBag.Title = "Tube staff averts holiday disaster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube staff averts holiday disaster</h1>
        <div class="content-page-press-release">
        10 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Every day hundreds of passengers leave a variety of objects on the Tube - last year 66,588 - but for most people it is just annoying that they have left an umbrella on the train.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a great example of how our staff go the extra mile for customers and it's great when their efforts are recognised"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil O'Hare</div>
            <div class="quotee-job-title">Piccadilly line General Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a great example of how our staff go the extra mile for customers and it's great when their efforts are recognised
                            
                        </p>
                    </div>
                
            
            
            <p>For one Sri Lankan woman and her two grown up children it could have proved devastating.&nbsp; </p>
<p>On their trip of a lifetime to England they left a bag containing all their holiday money, passports, tickets and credit cards on a Northern line Tube train.&nbsp; </p>
<p>When 57-year-old Mrs Suranganie Joseph realised she had lost the bag, distraught and frantic with worry she asked a member of Tube staff at Leicester Square Tube station if there was any way they could help her try and get it back. </p>
<h2>Extensive search</h2>
<p>Station Supervisor Bob Khaira, 45, sprang into action. </p>
<p>After calming the passenger down and getting a description of the black and white shoulder bag, he identified when she had last remembered having the bag.&nbsp; </p>
<p>Checking pictures on her daughter's digital camera Bob discovered that she still had the bag with her when she got on the Tube.</p>
<p>Even though he was busy he made extensive inquiries around Tube stations to see if the bag had been handed in.&nbsp; </p>
<p>He eventually tracked the bag down to Woodside Park station and Mrs Joseph, her son Shihan, 27, and daughter Avindra, 24, were reunited with the bag and all of its contents were untouched.&nbsp; </p>
<p>Mrs Joseph and children really feel that Bob went the extra mile to help them so she and her daughter went back to thank him at Leicester Square Tube station with a gift before they flew back to Sri Lanka. </p>
<h2>Staff excellent</h2>
<p>Mrs Joseph said: 'I think London Underground staff are excellent! </p>
<p>'Our holiday would have been completely ruined if it had not been for Bob tracking it down and the other station supervisor at Woodside Park.&nbsp; </p>
<p>'My whole life was in that bag. I knelt down and thanked God when I got the bag back.</p>
<p>'I am so impressed by London Underground staff who were so caring.&nbsp; </p>
<p>'We had a wonderful holiday because of them.&nbsp; I am going to write to the High Commission for Sri Lanka and tell them how good London Underground is. I will do that.'</p>
<p>Her daughter Avindra, a law graduate said: 'We were so worried. I didn't think we would get everything back - even my law degree certificate was in there!'</p>
<p>Station Supervisor Bob Khaira, 45, of Greenford, Middlesex, said: 'Mrs Joseph was so upset, I felt so sorry for her and it would have been terrible for her and her children if we had not been able to find the bag.&nbsp; </p>
<h2>Dream holiday</h2>
<p>'This was a trip of a lifetime, it was her dream to bring her children to Europe and they wouldn't have been able to do all the things that they had planned.</p>
<p>'So I kept telling the lady to have faith and her bag would be found. In the meantime I was desperately ringing round all the Tube stations on the Northern line until finally I got through to Woodside Park where it had been handed in.'</p>
<p>Piccadilly line General Manager, Phil O'Hare, said: 'Bob was very caring and determined in trying to help this lady and her family. </p>
<p>'This is a great example of how our staff go the extra mile for customers and it's great when their efforts are recognised. Of course we must not overlook the honesty of the customer who handed the property to us.&nbsp; </p>
<p>'We are really delighted that we were able to help the family have a dream holiday and leave with a great impression of London.'<br>&nbsp;</p>
<p><strong>
<hr>
Notes to editors</strong> 
<p>
<ul>
<li>London Underground urges all passengers to ensure they take their property with them when they leave the trains.&nbsp;Bags left behind can spark security alerts which can hold up trains and inconvenience passengers</li></ul>
<p>If items are left on the Tube: </p>
<ul>
<li>If a name and address, email address or telephone number is found in the property, the potential owner is contacted and told that the Lost Property Office may have their item of property </li>
<li>Property normally takes a minimum of two working days to arrive at the Lost Property Office</li></ul>
<p>After two days, people can enquire about lost property in several ways:</p>
<ul>
<li>by calling 0845 330 9882 between 08:30 and 16:00, Monday to Friday (except bank holidays) </li>
<li>by filling in the online enquiry form at <a href="/tfl/contact/lostproperty/default.asp">/tfl/contact/lostproperty/default.asp</a> </li>
<li>by faxing 020 7918 1028 </li>
<li>in person or by writing to:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lost Property Office<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 200 Baker Street<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NW1 5RZ </li>
<li>Positively identified lost property is returned to the owner (in person or by post) once a restoration fee, postage and (for property lost in taxis) a driver's award has been paid </li>
<li>Property not claimed after three months is either donated to charity or sold at auction, with all revenue generated contributing towards the cost of running the Lost Property Office service </li>
<li>The success rate of items returned to their owners amount to&nbsp;one in&nbsp;three bags,&nbsp;one in&nbsp;three mobiles and&nbsp;one in&nbsp;three valuables. The biggest barrier to returning property to its rightful owner is the large number of people who simply do not contact the Lost Property Office to enquire about their lost items<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "For one Sri Lankan woman and her two grown up children it could have proved devastating.&nbsp; On their trip of a lifetime to England they left a bag containing all their holiday money, passports, tickets and credit cards on a Northern line Tube";}
        
        


 