


@{ViewBag.Title = "Upminster depot celebrates 50th anniversary";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Upminster depot celebrates 50th anniversary</h1>
        <div class="content-page-press-release">
        24 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Upminster depot celebrates its 50th anniversary this year and to celebrate London Underground, in partnership with the London Transport Museum, will hold an open weekend on Saturday 29 and Sunday 30 August.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The open weekend is not only a great way to mark the 50th anniversary but also a unique opportunity for people to see what it looks like inside a London Underground depot
                            
                        </p>
                    </div>
                
            
            
            <p>Upminster depot celebrates its 50th anniversary this year and to celebrate London Underground, in partnership with the London Transport Museum, will hold an open weekend on Saturday 29 and Sunday 30 August. </p>
<p>The open day will feature an array of Tube trains representing the past, present and future of the District line including a mock up of the new air-conditioned trains, which will start serving the District line from 2013.* </p>
<h2>Past, present and future</h2>
<p>There will also be various side attractions along with facilities for the public to buy refreshments and rest areas. </p>
<p>Kevin Bootle, District Line General Manager, London Underground, said: 'The open weekend is not only a great way to mark the 50th anniversary but also a unique opportunity for people to see what it looks like inside a London Underground depot. </p>
<p>'The event will showcase the past, present and future of the District line. </p>
<p>The open weekend has been made possible as there will be no trains running on the east end of the District line due to weekend engineering work.' </p>
<h2>A historic depot</h2>
<p>Upminster depot, which serves the District line, opened in 1959 and was the first depot to be built after the Second World War. </p>
<p>This will be the first time London Underground has fully opened one of its depots to the public since 1993. </p>
<p>Visitors will also be able to ride on heritage buses which run between Upminster and the depot. </p>
<h2>Two-days only</h2>
<p>Tickets for the event can be bought in advance via the <a title="London Transport Museum" href="http://www.ltmuseum.co.uk/">London Transport Museum </a>website.&nbsp; </p>
<p>Alternatively, they can be purchased on the day at the event. Ticket prices are as follows:<br>&nbsp;Adults - &pound;10 each<br>&nbsp;Under 16's - free if accompanied by an adult<br>&nbsp;Concessions - &pound;5 each<br>&nbsp;Entrance is free for senior citizens, freedom pass holders, TfL staff /dependants pass holders</p>
<p>The two-day event opens at 11am, with last admission at 4pm. </p>
<p>Upminster depot is an operational site. Certain areas may not be suitable for people with restricted mobility and all visitors should ensure that they have appropriate footwear (no flip flops, sandals or high heels).<br><br><strong>
<hr>
Notes to editors:</strong> 
<p><strong></strong>
<ul>
<li>Photographs of the depot, when it first opened, are available on request </li>
<li>The event is made possible because there will be no District line service on the entire bank holiday weekend between Barking and Upminster due to planned engineering works which means no trains will be running in or out of the depot<br>Valid Underground tickets will be accepted on:<br>-&nbsp;C2c Rail services between Fenchurch Street, West Ham, Barking and Upminster<br>-&nbsp;Replacement bus service A, calling at all stations between Barking and Dagenham East<br>-&nbsp;Replacement bus service B, calling at Barking, Dagenham East, Elm Park, Hornchurch, Upminster Bridge and Upminster<br>-&nbsp;National Express East Anglia (NXEA) rail services between Liverpool Street and Romford<br>-&nbsp;NXEA rail services between Romford and Upminster (Saturday only - there is no scheduled service on Sundays)<br>-&nbsp;Local bus services between Romford and Upminster on both days </li>
<li>Around 750,000 people use the District line everyday, 172 million a year </li>
<li>67 District line trains run in peak hours </li>
<li>The District line is 40 miles and serves 60 stations </li>
<li>*The new air-conditioned trains, known as the S Stock, which will be rolled out on the Metropolitan line from 2010 followed by Hammersmith &amp; City, Circle and then the District line and will be complete by 2015. The new trains are part of the sub-surface upgrade which will, when complete, improve reliability and frequency and increase capacity. The new trains will be walk-through and will include, improved customer information and enhanced security through CCTV<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Upminster depot celebrates its 50th anniversary this year and to celebrate London Underground, in partnership with the London Transport Museum, will hold an open weekend on Saturday 29 and Sunday 30 August. The open day will feature an array of Tube";}
        
        


 