


@{ViewBag.Title = "Wood End Estate residents welcome buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wood End Estate residents welcome buses</h1>
        <div class="content-page-press-release">
        27 August 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Residents of Wood End Estate, Northolt, are celebrating the arrival of bus route 398 to their estate.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These changes will provide valuable new links for those who live and work in the area
                            
                        </p>
                    </div>
                
            
            
            <p>Changes to the route will see it terminate in Lilian Board Way from Saturday 5 September 2009, bringing a bus service to an area not currently served by buses.</p>
<p>The changes to route 398 will be complemented by the introduction of a new route, the 395, which will run from Westway Cross Retail Park to Harrow town centre.&nbsp; </p>
<p>Route 395 will maintain the link between Northolt and Greenford previously served by route 398, and provide new links from Castle Road and the Racecourse Estate to Harrow town centre. </p>
<h2>Worked closely with residents</h2>
<p>Bob Blitz, Network Planning Manager, London Buses, said: 'These changes will provide valuable new links for those who live and work in the area.&nbsp; </p>
<p>'The changes to route 398 will bring a bus service to Wood End Estate, an area not currently served by the network, and new route 395 will link Greenford Green, the Racecourse Estate and Harrow town centre.</p>
<p>'We have worked closely with local residents and their representatives to provide them with a bus service they have been requesting for some time.'</p>
<p>New route 395 will run about every 20 minutes during the day from Monday to Saturday, and every 30 minutes in the early morning, late evening and on Sundays.&nbsp; </p>
<h2>Single-deck buses</h2>
<p>Route 398 will continue to run about every 30 minutes during the day from Monday to Saturday.&nbsp;There is no Sunday service.</p>
<p>Route 395 will be operated by Metroline and will use single-deck buses.&nbsp; </p>
<p>Route 398 will continue to be operated by Transdev using single-deck buses.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Route 398 will continue on its current route between Ruislip and Northolt Park Station, but will then run via Wood End Gardens, Bedser Drive and Lilian Board Way, terminating in the Wood End Estate </li>
<li>Services on route 398 will continue to commence at around 06:30 and run until around 19:40 </li>
<li>Route 395 will run between Westway Cross Retail Park and Harrow town centre via Greenford station, Oldfield Circus, Northolt station, Racecourse Estate, Northolt Road, and South Harrow station </li>
<li>Services on route 395 will commence at around 05:30 (06:30 on Sundays) and will run until around 22:15 </li>
<li>The following changes were made to the original proposal for route 395 as a result of a public consultation in spring 2009:&nbsp; 
<ul type="circle">
<li>Route 395 was to have continued until midnight, but TfL has agreed an earlier finish in response to local requests </li>
<li>Route 395 would have followed a shorter route via Eastcote Lane North, but the section via Eastcote Lane has been retained so that residents can still travel easily to the local post office there, and make connections with the Tube and other buses at Northolt station</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Changes to the route will see it terminate in Lilian Board Way from Saturday 5 September 2009, bringing a bus service to an area not currently served by buses.The changes to route 398 will be complemented by the introduction of a new route, the 395, which";}
        
        


 