
        <div class="vertical-button-container">
          <a href="/status-updates/major-works-and-events" class="plain-button show-all-reported">Major works & events</a>
        </div>
        <div class="related-links">

    <h3>Planned closures and service changes</h3>

<div class="vertical-button-container">

<a href="/status-updates/planned-track-closures" class="plain-button">Line closures and service changes</a>
<a href="/status-updates/stations-lifts-and-escalators-works-and-closures" class="plain-button">Stations, lifts and escalators</a>
    </div>
</div>
 
      
 

 