
    
  


<!-- rhroot -->
@{ViewBag.Title = "Deliveries toolkits";}
@{ViewBag.Keywords = "TfL,Efficient deliveries, deliveries toolkit";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></li>
                
            
            
                <li><span class="last-breadcrumb">Deliveries toolkits</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Deliveries toolkits</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Waste consolidation</h2>


<p>Team up with neighbours to get the best deal from a supplier. Businesses in Bond Street successfully set up a preferred supplier 'Buyer's Club', resulting in&nbsp;waste-related vehicle trips being reduced&nbsp;from 144 to&nbsp;nine per day, a 94% fall.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wasteconsolidation.pdf">
    <div class="document-download-text">
        <p>Waste consolidation guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 806KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wasteconsolthumb.png" alt="Waste consolidation" />
    </div>

</a>

<!-- 0.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tool1surveyianversion.pdf">
    <div class="document-download-text">
        <p>Waste services survey</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 200KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/survey-invitation-template.doc">
    <div class="document-download-text">
        <p>Survey invitation template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/survey-reminder-template.doc">
    <div class="document-download-text">
        <p>Survey invitation reminder</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/preparing-invitation-to-tender.doc">
    <div class="document-download-text">
        <p>Preparing an invitation to tender</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bondstreetcasestudynew.pdf">
    <div class="document-download-text">
        <p>Bond Street case study</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 252KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bondstpamphlet.pdf">
    <div class="document-download-text">
        <p>Bond Street suppliers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 285KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 <div>


</div>
 
<div>



<h2>Retiming deliveries</h2>


<p>Aim to move deliveries outside the morning peak. A national health and beauty retailer cut journey times by 18.5%, NOx by 28%, and fuel usage by 3.2%.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/retimingguide.pdf">
    <div class="document-download-text">
        <p>Guidance for retiming</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.52MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/retimingthumb2.png" alt="Retiming deliveries" />
    </div>

</a>

<!-- 2.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/carryoutnoise.pdf">
    <div class="document-download-text">
        <p>Carrying out a good noise assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 902KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.88 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/siteassessform.pdf">
    <div class="document-download-text">
        <p>Site assessment form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 596KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/noisemanplan.pdf">
    <div class="document-download-text">
        <p>How to create a noise management plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 329KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidanceforquieterdeliveriesnew.pdf">
    <div class="document-download-text">
        <p>Guidance for quieter deliveries</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidanceforlocalauthoritiesnew.pdf">
    <div class="document-download-text">
        <p>Guidance for local authorities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/codeofpractice.pdf">
    <div class="document-download-text">
        <p>TfL's code of practice</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 792KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 
</div>

</div>
 
<div>



<h2>Personal deliveries</h2>


<p>Assess what is and isn't business-critical. Personal items are believed to make up 30-40% of all deliveries to workplaces. Our research tells us 67% of people are willing to use alternative collection points for personal deliveries, which can reduce traffic to your workplace.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tfl-reducing-personal-deliveries-to-your-business.pdf">
    <div class="document-download-text">
        <p>Reducing personal deliveries to your business</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 756KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/deliveries-thumbnail-small.jpg" alt="Deliveries toolkit cover image" />
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-festive-deliveries.pdf">
    <div class="document-download-text">
        <p>Festive deliveries advice for businesses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 112KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-example-intranet-article-personal-deliveries.pdf">
    <div class="document-download-text">
        <p>Example intranet article - personal deliveries</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-guidance-email-text-to-employees.pdf">
    <div class="document-download-text">
        <p>Example email for employees - personal deliveries</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 258KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-personal-deliveries-poster-2.pdf">
    <div class="document-download-text">
        <p>Personal deliveries poster 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 703KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-personal-deliveries-poster-1.pdf">
    <div class="document-download-text">
        <p>Personal deliveries poster 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 700KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/deliverymonitoringsurveynew.pdf">
    <div class="document-download-text">
        <p>Delivery monitoring survey for businesses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-personal-deliveries-employee-survey.pdf">
    <div class="document-download-text">
        <p>Personal delivery survey for employees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 495KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.48 -->
 
</div>

</div>
 <div>

<h2>Your feedback</h2>

<p>Did you find what you were looking for on this page?&nbsp;Let us know - email <a href="mailto:smbtdm&#64;tfl.gov.uk ">smbtdm&#64;tfl.gov.uk</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                <a href="/info-for/deliveries-in-london/delivering-efficiently" class="heading">
                    <h2 id="sub-menu-heading">Efficient deliveries<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently/consolidating-deliveries">Reducing deliveries and servicing visits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently/retiming-deliveries">Retiming deliveries</a></div></li>
                            
 
                <a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits" class="heading">
                    <h2 id="sub-menu-heading">Deliveries toolkits<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                </ul>
            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Toolkit for efficient deliveries";}
        
            
        


 