


@{ViewBag.Title = "Annual taxi fare increases";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Annual taxi fare increases</h1>
        <div class="content-page-press-release">
        31 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New taxi fares come into effect this Saturday, 1 April.
        
    </div>



 <div class="on-this-page">
<p>The annual increase of 3.7 per cent takes into account operating costs and average national earnings and is effective across all three tariffs. </p>
<p>The new fares also include an increase in the Christmas and New Year supplement up from &pound;3 to &pound;4, designed to encourage more drivers to work over the busy period. </p>
<p>The Heathrow supplement will also increase up from &pound;1 to &pound;2 to cover some of the cost of an increased levy imposed by airport.<strong><p>
<p><strong>Average Fares (incl 20p environmental charge)</strong></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="2" width="320" border="1">
<tbody>
<tr>
<td><strong></strong></td>
<td><strong>Current average</strong></td>
<td><strong>New average</strong></td>
<td><strong>Increase (&pound;)</strong></td>
<td><strong>Increase (%)</strong></td></tr>
<tr>
<td><strong>Tariff 1</strong></td>
<td>&pound;8.97</td>
<td>&pound;9.29</td>
<td>&pound;0.32</td>
<td>3.6% </td></tr>
<tr>
<td><strong>Tariff 2</strong></td>
<td>&pound;10.37</td>
<td>&pound;10.75 </td>
<td>&pound;0.38 </td>
<td>3.6%</td></tr>
<tr>
<td><strong>Tariff 3</strong></td>
<td>&pound;12.12 </td>
<td>&pound;12.57 </td>
<td>&pound;0.45 </td>
<td>3.7%</td></tr>
<tr>
<td><strong>All week</strong></td>
<td>&pound;9.89</td>
<td>&pound;10.25 </td>
<td>&pound;0.36</td>
<td>3.6% </td></tr></tbody></table></div></strong><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The annual increase of 3.7 per cent takes into account operating costs and average national earnings and is effective across all three tariffs. The new fares also include an increase in the Christmas and New Year supplement up from &pound;3 to &pound;4,";}
        
        


 