


@{ViewBag.Title = "Bakerloo line celebrates Centenary in Edwardian style";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bakerloo line celebrates Centenary in Edwardian style</h1>
        <div class="content-page-press-release">
        09 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's (LU) Managing Director Tim O'Toole will today join Edwardian Tube 'passengers' at Baker Street Underground station to mark the start of the Bakerloo line's Centenary celebrations.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Bakerloo line has a rich history and there are many features and reminders across the whole length of the line
                            
                        </p>
                    </div>
                
            
            
            <p>The Bakerloo line opened on 10 March 1906 and Mr O'Toole will be joined by Bakerloo line General Manager Kevin Bootle to unveil a commemorative plaque. </p>
<p>They will also share a special Bakerloo line birthday cake with Bakerloo train and station staff and 'passengers'.</p>
<p>LU Managing Director Tim O'Toole said: "London Underground has a magnificent heritage and history of serving London. </p>
<p>"I'm determined that we build on that wonderful heritage as we work hard to transform the Tube and deliver a good service, every day."</p>
<p>Bakerloo line General Manager, Kevin Bootle said: "The Bakerloo line has now successfully served London for 100 years. </p>
<p>"I'm delighted to mark the Bakerloo Centenary with these celebrations and lead the line into a new century of service to London.</p>
<p>"The Bakerloo line has a rich history and there are many features and reminders across the whole length of the line.</p>
<p>"These features are part of the Tube's heritage and we're working to preserve, renew and restore them over the next few years, thanks to Transport for London's (TfL's) five year &pound;10bn investment programme."</p>
<p>The centenary celebrations on will see actors and volunteers in Edwardian period costume entertaining LU passengers and distributing badges and postcards. </p>
<p>The postcards have been specially commissioned by LU's Platform for Art team from the London College of Fashion and are inspired by ten decades of fashion and design on the Bakerloo line between 1906 and 2006. </p>
<p>Matching posters will be on display on the Underground network from March to December.</p>
<p>Heritage posters and leaflets featuring archive photographs will be on display across the Underground network to commemorate the last 100 years of Bakerloo line service.</p>
<p>Bakerloo line passengers will also get the opportunity to speak to LU officials operating the line on a daily basis during a "Meet the Manager" event from 1600 to 1900 at Oxford Circus Underground station.</p>
<p>TfL is investing &pound;10bn over the next five years to improve transport in London, more than half of that in the Tube. </p>
<p>The investment seeks to deliver a safer, cleaner and more reliable Tube network. </p>
<h2>Heritage features</h2>
<p>Track is being replaced and virtually every station on the Tube network is also being refurbished or modernised, including the retention and renewal of original, now heritage, features. </p>
<p>The work is being undertaken by Metronet Rail BCV.</p>
<p>The Bakerloo line retains many of these original features, such as a mosaic at Maida Vale station of an early form of the Underground Roundel in the station's foyer and a metal staircase balustrade with timber handrails.</p>
<p>
<p>
<p>Kilburn Park station features bronze latticed windows and shop fronts. </p>
<p>Edgware Road also presents a red terra cotta fa&ccedil;ade adorned with spectacular mouldings.</p>
<p>Stations such as Elephant & Castle and Oxford Circus are currently benefiting from major refurbishment. </p>
<p>Elephant & Castle's modernisation is due to be completed this year. Oxford Circus is due for completion in 2008.</p>
            <ul>
<li>The Bakerloo line began as the Baker Street to Waterloo Railway on 10 March 1906</li>
<li>It ran between Baker Street and Lambeth North then known as Kennington Road and became the Bakerloo Railway four months later</li>
<li>Elephant & Castle opened in August and the line extended north from Baker Street to Queen's Park in 1915 then on to Watford Junction in 1917</li>
<li>By 1939, the line went to Stanmore which became part of the Jubilee line when it opened in 1979, the Queen's Silver Jubilee year</li>
<li>Plans in the 1930 to extend to Camberwell were stopped by the war</li>
<li>Rumour has it the Bakerloo line originated from the desire of a few London businessmen to get to and from Lord's Cricket Ground as quickly as possible</li>
<li>On its very first day of service 36,000 passengers made the Tube journey between the West-end and Baker Street</li>
<li>The Bakerloo line covers 23.2km (14.5 miles)</li>
<li>Serves 25 stations</li>
<li>Carries over 95 million passengers a year</li>
<li>Takes over 38 million passengers through Oxford Circus every year</li>
<li>The type of train operated on the line is 1972 Mark Two tube stock manufactured by Metro-Cammell trains from Birmingham with each train made of seven cars</li>
<li>There are three Bakerloo line depots, they are located at Stonebridge Park, London Road and Queen's Park</li>
<li>The line's name came from an Evening News diarist who first coined the name in his column</li>
<li>Maida Vale station which opened in June 1915 during the World War made history by being the first station entirely staffed by women</li>
<li>Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Bakerloo line opened on 10 March 1906 and Mr O'Toole will be joined by Bakerloo line General Manager Kevin Bootle to unveil a commemorative plaque. They will also share a special Bakerloo line birthday cake with Bakerloo train and station staff and";}
        
        


 