


@{ViewBag.Title = "Challenging Londons children to cycle safer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Challenging Londons children to cycle safer</h1>
        <div class="content-page-press-release">
        15 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young Londoners are being invited to take part in Cyclesafer Challenge, a Transport for London (TfL) competition that encourages children to think creatively about cycling and safety.
        
    </div>



 <div class="on-this-page">
<p><!-- #EndEditable -->Primary school pupils in Years Four and Five in the Capital are being asked to enter the competition, giving them the chance to win a range of prizes - including one of six Trek mountain bikes. </p>
<p>There are three categories in the competition for children to choose from: </p>
<ul>
    <li>To design a piece of cycle safety equipment or something to protect cyclists from bad weather
    </li>
    <li>To create a poster with a slogan that will encourage all road users to behave responsibly around cyclists
    </li>
    <li>To take part in a class project, where they will have the choice of creating a design for a cycle friendly school, a vision of cycling in 2106 or producing a class book that looks at the benefits of cycling in London</li>
</ul>
<p>The winners of the competition will receive their prizes at the Cycle Show, which will take place at ExCeL in London between 5 - 8 October 2006.</p>
<p>Jon Snow, Channel 4 news presenter said: "I've been a judge of TfL's Cyclesafer Challenge for the past three years.</p>
<p>" I cycle regularly in London myself, and believe the competition is a fun way of encouraging a new generation of cyclists to get on their bikes - and to do it as safely and responsibly as possible."</p>
<p>Rose Ades, TfL's Head of the Cycling Centre of Excellence said: <br />"In the past five years London has seen recorded journeys by bike double while casualty rates have nearly halved. </p>
<p>"TfL recognises that children are an essential part of the cycling renaissance that the Capital is enjoying, and Cyclesafer Challenge is one of the ways we are encouraging them to think creatively about road safety - on and off their bikes."</p>
<p>For more information about Cyclesafer Challenge or to request a Cyclesafer school pack visit <a href="http://www.cycleshow.co.uk">www.cycleshow.co.uk</a> and click on the cyclesafer link or email <a href="mailto:cyclesafer&#64;upperstreetevents.co.uk">cyclesafer&#64;upperstreetevents.co.uk</a>. For more information please contact: Jane Upton on 0115 9161615 or <a href="mailto:jane.upton&#64;perfectmotion.org">jane.upton&#64;perfectmotion.org</a></p>
<p>
</p>
<ul>
    <li>The closing date for competition entries is 30 April 2006. Entries will be judged by a celebrity panel and winners will be presented with their prizes at the Cycle Show, ExCeL, between 5 - 8 October </li>
    <li>Individual prize winners will receive one of six Trek mountain bikes. The class prize is a trip to a cycling manufacturing and assembly plant and some cycling equipment </li>
    <li>In addition to the Cycle Safer Challenge, TfL:
    <ul>
        <li>Has provided &pound;390,000 of funding over the next three years to Bike It, a national Sustrans project which will work with selected London Schools to encourage more children to cycle to school </li>
        <li>Provided &pound;1.8m for cycle training (through London boroughs) </li>
        <li>Has upgraded around 300 kilometres of cycle routes in the last five years </li>
        <li>Provided 5,000 extra cycle parking spaces at schools and colleges across London in the past two years </li>
        <li>Researched routes recommended by cyclists and published in map format on line through TfL Journey Planner </li>
        <li>Helped to train and equip police and ambulance service bike patrol teams </li>
        <li>Operates a <a href="/corporate/projectsandschemes/2463.aspx">Junior Road Safety Officer scheme</a>.</li>
    </ul>
    </li>
    <li>The number of recorded cycle journeys on London's major roads have risen by 100 percent during the past five years (59,000 to 119,000 recorded journeys a week) </li>
    <li>Investment in cycling has risen during the past five years from &pound;5.5 million in 2000 to &pound;20 million in 2005/06. In 2006/07 TfL will invest &pound;24 million in cycling infrastructure, training, promotion and education </li>
    <li>The number of cyclists killed or seriously injured on the capital's roads has fallen by 40 percent during the past five years, achieving the Mayor of London's target five year's ahead of schedule </li>
    <li>The biggest annual sporting event in the world, the Tour de France, will start in London in 2007, coming to the UK capital for the first time in its 100 year history. The Grand D&eacute;part, the start of the Tour, will come to London and Kent over three days during the weekend 6-8 July 2007.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->Primary school pupils in Years Four and Five in the Capital are being asked to enter the competition, giving them the chance to win a range of prizes - including one of six Trek mountain bikes. There are three categories in the";}
        
        


 