


@{ViewBag.Title = "Concorde beats Tube map by a nose in UK design vote";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Concorde beats Tube map by a nose in UK design vote</h1>
        <div class="content-page-press-release">
        20 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's map was just beaten, by Concorde's famous nose, into runners-up position in the contest to be Britain's favourite design of the last century.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Its brilliance is reflected in the fact that it has influenced metro system maps all over the world
                            
                        </p>
                    </div>
                
            
            
            <p>Viewers of BBC Two's The Culture Show and visitors to London's 
Design Museum were asked to choose from 25 design icons including the 
Routemaster bus, the London A-Z map and the red telephone box as part of the 
Great British Design Quest.</p>
<p>Mayor of London Ken Livingstone said: "Harry Beck's original design for the 
London Tube has become a design classic, genuinely loved and appreciated by 
Londoners and flexible enough to adapt to the changing face of the Tube over the 
years.</p>
<p>"The Tube map is simple and modern, giving a form and structure to the Tube 
system and even much of London itself. </p>
<p>"The Tube map has made navigating the oldest underground network in the world 
straightforward and its brilliance is reflected in the fact that it has 
influenced metro system maps all over the world. </p>
<p>"Over the next few years the map will be updated once again with the addition 
of the extension to the East London Line and other transport improvements, 
showing the flexibility of Harry Beck's original vision."</p>
<p>Fifteen million copies of the London Underground map are printed and 
distributed each year. </p>
<p>The original map and drawings are held by London's Transport Museum, 
currently closed for re-development. </p>
<p>The new Museum, opening in spring 2007, will showcase the rich design 
heritage of London's transport - including the Underground's roundel logo, 
unique Johnston typeface and unique poster collection.</p>
<p>The Tube map was the brainchild of Underground electrical draughtsman, Harry 
Beck, who produced the imaginative yet stunningly simple design back in 1931 
when the Tube grew so large it became impossible to map the lines and stations 
geographically. The first Harry Beck map was issued in 1933.</p>
<p>
<h2>Stunningly simple</h2>
<p>
<p>Beck based his map on the circuit diagrams he drew for his day job, stripping 
the sprawling Tube network down to basics.</p>
<p>The result was an instantly clear and comprehensible chart that would become 
an essential guide to London - and a template for transport maps the world 
over.</p>
<p>At first, London Transport was reluctant to adopt the idea, which was based 
on a diagrammatic rather than the conventional geographical format. </p>
<p>However, the concept was eagerly accepted by the travelling public.</p>
<p>Beck's revolutionary design, with certain modification and additions, 
survives to the present day and is set to serve London Underground and its three 
million passengers each day for many years to come.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Viewers of BBC Two's The Culture Show and visitors to London's Design Museum were asked to choose from 25 design icons including the Routemaster bus, the London A-Z map and the red telephone box as part of the Great British Design Quest.Mayor of London";}
        
        


 