


@{ViewBag.Title = "DLR awards new franchise to Serco";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR awards new franchise to Serco</h1>
        <div class="content-page-press-release">
        08 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway Ltd (DLRL), part of Transport for London (TfL), today confirmed the award of a &pound;400m franchise to Serco Limited (Serco) to continue to operate, maintain and support the DLR for the next seven years.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            DLR and Serco will continue to work together to meet future demand
                            
                        </p>
                    </div>
                
            
            
            <p>Serco was originally awarded the DLR franchise on a seven-year contract from April 1997, which was extended by two years to cover the opening of the London City Airport extension.</p>
<p>The franchise will ensure passengers benefit from further enhancements to the DLR, which already enjoys a reputation for excellent levels of reliability and customer service. </p>
<p>The new franchise contains increased performance and service targets and a more stringent system of rewards and penalties to encourage delivery:</p>
<ul>
<li>DLR trains to run in excess of 96 per cent punctuality<br>Station services, including tickets machines, lifts, escalators and information displays, to offer close to 100 per cent availability 
</li><li>Customers to report satisfaction levels of at least 90 per cent 
</li><li>Train service at a maximum of every three minutes on the Lewisham-Bank line, the busiest DLR route, during peak periods, with no more than 10 minutes wait at any time of the day or on any route</li></ul>
<p>In addition Serco will provide enhanced customer safety and information services: </p>
<ul>
<li>'Travel Safe Officers' to be introduced, who will patrol stations and trains predominantly during late hours 
</li><li>Increased staff presence at Tower Gateway, Canning Town and London City Airport, which are high-profile stations with significant amounts of infrequent users. Extra staffing is already deployed at Canary Wharf station 
</li><li>Upgraded CCTV on trains and stations 
</li><li>New electronic information screens on stations that will present clear information for the occasional user 
</li><li>Provision of real-time travel information to passengers by DLR train and station staff via new mobile phone technology 
</li><li>New two-way television help points on stations 
</li><li>On train television information systems 
</li><li>The trial of passenger shelters on specified DLR stations.</li></ul>
<p>Howard Smith, TfL's London Rail Chief Operating Officer, said: "The DLR is the most reliable railway in the UK.</p>
<p>"We look forward to continuing our excellent working relationship with Serco and, continued investment in DLR through TfL's five-year &pound;10bn investment programme.</p>
<p>"Over the last nine years of the franchise, DLR passenger numbers doubled from 25 to 50 million, stimulating the growth and success of communities and businesses across East London. </p>
<p>
<h2>Increase in capacity</h2>
<p>
<p>"This new franchise agreement, together with further extensions to Woolwich and Stratford International and the 50 per cent increase in capacity on the Bank-Lewisham Route, lays a firm foundation for the London 2012 Olympic transport network.</p>
<p>"DLR and Serco will continue to work together to meet future demand and build on the DLR's unrivalled reputation for dependability and delivery."</p>
<p>Serco has been awarded the contract from 28 May 2006. They will be responsible for all aspects of railway maintenance, other than the Lewisham and London City Airport extensions which are managed separately.</p>
<p>The re-franchising process began in September 2004, when four consortia, Serco Ltd, First Carillion Ltd, Keolis/Balfour Beatty and Transdev RATP Docklands Ltd pre-qualified to submit bids.</p>
<p>Following an initial tender process, Serco and Keolis/Balfour Beatty were shortlisted, with Serco fighting off fierce competition to be selected as preferred bidder.</p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network</li>
<li>52 million journeys are made on the DLR annually, a figure forecast to increase to 80 million by 2009</li>
<li>DLR is responsible for planning the railway's future and protecting and developing its assets</li>
<li>To ensure equality, Serco independently established a bidding team that was separate from the day-to-day operation of DLR. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Serco was originally awarded the DLR franchise on a seven-year contract from April 1997, which was extended by two years to cover the opening of the London City Airport extension.The franchise will ensure passengers benefit from further enhancements to";}
        
        


 