


@{ViewBag.Title = "Hounslow East wins top rail station award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hounslow East wins top rail station award</h1>
        <div class="content-page-press-release">
        02 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has won the prestigious Station Excellence of the Year award for the reconstruction of Hounslow East station at the HSBC Rail Business Awards.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The reconstruction of Hounslow East has resulted in a stunning new station
                            
                        </p>
                    </div>
                
            
            
            <p>LU beat off stiff competition from across the UK at the industry's annual awards event held on Tuesday night at the Grosvenor House Hotel in Park Lane. </p>
<p>LU also won the Judges' Special Award in recognition of its rapid recovery from the July bombings, and received the award for Train Operator of the Year. </p>
<p>The "Everyone's London" marketing campaign and Oyster Auto Top-Up payment facility were also highly commended in other award categories. </p>
<p>Mike Challis, LU General Manager, Piccadilly line said: "The reconstruction of Hounslow East has resulted in a stunning new station of which London Underground can be proud.</p>
<p>"The layout of the station had changed little since it opened in 1909, with access by separate staircases to the two platforms via a poorly positioned, severely space-constrained ticket hall.</p>
<p>"The presence of staircases meant that the station was particularly difficult to access by passengers with impaired mobility or those travelling with pushchairs or luggage. </p>
<p>"The new station meets all the needs of a modern station and builds on London Underground's great design heritage."</p>
<p>Due to the station's location, it could not be accessed directly by passengers wishing to travel westbound. </p>
<p>There was insufficient capacity for expansion to provide improved facilities and the station presented a very poor travelling environment to its many users.</p>
<p>The new street level ticket hall gives level access into the station. </p>
<p>Accessibility for mobility-impaired passengers is a key feature of the redeveloped station with new staircases to the platform supplemented by lifts permitting full step-free access between street and platform levels.</p>
<p>Construction started in 2001 and was completed in early 2005 by Tube Lines.</p>
<p>
<h2>Centenary celebrations</h2>
<p>
<p>The Piccadilly line celebrates its Centenary during 2006. </p>
<p>The original Piccadilly line, which was opened on 15th December 1906, consisted of 15.3km twin tunnels from Finsbury Park to Barons Court and a short section of surface track on to Hammersmith. A branch to Aldwych opened the following year.</p>
<p>The line then expanded rapidly during the 1930s when extensions to South Harrow and Arnos Grove were opened in 1932 and those to Hounslow West, Uxbridge and Cockfosters were completed in 1933. </p>
<p>The Piccadilly line now covers 71km and serves 52 stations between Cockfosters and Heathrow or Uxbridge. </p>
<p>A further extension will open in 2008 when the line will begin serving Terminal 5 at Heathrow Airport.</p>
<p>
            <ul>
<li>Transport for London is investing &pound;10bn over the next five years to improve transport in London, more than half of that in the Tube</li>
<li>Tube Lines is responsible for the renewal and maintenance of the Jubilee, Northern and Piccadilly lines</li>
<li>9,600 passengers use Hounslow East each day</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU beat off stiff competition from across the UK at the industry's annual awards event held on Tuesday night at the Grosvenor House Hotel in Park Lane. LU also won the Judges' Special Award in recognition of its rapid recovery from the July bombings, and";}
        
        


 