


@{ViewBag.Title = "Illegal parkers out-Smart-ed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Illegal parkers out-Smart-ed</h1>
        <div class="content-page-press-release">
        30 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A Smart car, equipped with the latest digital technology, which will be used to enforce parking contraventions on the Transport for London Road Network (TRN), will hit the streets next week.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The digital technology incorporated in the Smart car will improve the efficiency and accuracy of enforcement
                            
                        </p>
                    </div>
                
            
            
            <p>The Smart car will mark the first introduction of digital technology that will eventually replace the existing analogue systems which Transport for London (TfL) currently uses to enforce parking violations on the TLRN. </p>
<p>The Smart car is part of a Digital Traffic Enforcement System (DTES) which has been developed by TfL and its contractors. </p>
<p>It is equipped with  automatic number plate recognition cameras, enhanced Global Positioning Systems (GPS) and DVD recording.*</p>
<p>In the future the vehicle's existing functionality will be further enhanced through the use of banking encryption standards, wireless transmission and high speed broadband connectivity.</p>
<p>Patrick Troy, TfL's Head of Traffic Enforcement, said: "The digital technology incorporated in the Smart car will improve the efficiency and accuracy of enforcement as well as act as a further deterrent to those who are thinking about contravening parking regulations on the Transport for London Road Network. </p>
<p>"Just one driver blocking a red route or a bus route can cause major congestion and delays for other drivers. </p>
<p>"The message is simple for the benefit of all drivers, please observe the rules of the road when you drive so that London's traffic can keep moving for everybody.</p>
<p>"The aim of enforcement is to keep London's buses and other traffic moving quickly and reliably around London. </p>
<p>
<h2>Flexibility and innnovation</h2>
<p>
<p>"Since enforcement of the TLRN, buses are now 15 per cent faster in bus lanes than in normal traffic lanes and between January 2003 to November 2005 compliance has seen a significant improvement with the number of PCNs per lane reduced by 85 per cent."</p>
<p>Jim Lewis, TfL's Project Manager for DTES, said:"This was a pioneering project, which has thrust traffic enforcement into the digital age by fusing a number of technologies together for the first time.</p>
<p>"The development of the new system has demanded strong teamwork, flexibility and innovation from all those involved over the past three years and we're confident that where Transport for London has led, others will soon follow."<br></p>
<p>*Believed to be the first time these technologies have been combined for traffic enforcement.</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="2" width="100%" border="1">
<tbody>
<tr>
<td>Borough</td>
<td>Red routes</td></tr>
<tr>
<td>Barking & Dagenham</td>
<td>A13, A12</td></tr>
<tr>
<td>Barnet</td>
<td>A406, A1, A41</td></tr>
<tr>
<td>Bexley</td>
<td>A2, A20</td></tr>
<tr>
<td>Brent</td>
<td>A406</td></tr>
<tr>
<td>Bromley</td>
<td>A20, A21, A232</td></tr>
<tr>
<td>Camden</td>
<td>A41, A503, A400, A501</td></tr>
<tr>
<td>City of London</td>
<td>A10, A201, A3211, A1210, A3</td></tr>
<tr>
<td>Croydon</td>
<td>A232, A23, A22</td></tr>
<tr>
<td>Ealing</td>
<td>A540, A406, A312, A4180</td></tr>
<tr>
<td>Enfield</td>
<td>A10, A406</td></tr>
<tr>
<td>Greenwich</td>
<td>A2, A102, A205, A2213, A20, A210</td></tr>
<tr>
<td>Hackney</td>
<td>A10, A107, A102, A503, A12, A501, A1202</td></tr>
<tr>
<td>Hammersmith & Fulham</td>
<td>A40, A3220, A4</td></tr>
<tr>
<td>Haringey</td>
<td>A503, A10</td></tr>
<tr>
<td>Harrow</td>
<td>None</td></tr>
<tr>
<td>Havering</td>
<td>A12, A127</td></tr>
<tr>
<td>Hillingdon</td>
<td>A30, A4, A312, A40, A4180</td></tr>
<tr>
<td>Hounslow</td>
<td>A316, A312, A30, A4, A406, A315, A205</td></tr>
<tr>
<td>Islington</td>
<td>A501, A1, A503, A201</td></tr>
<tr>
<td>Kensington & Chelsea</td>
<td>A4, A3220, A3212, A40</td></tr>
<tr>
<td>Kingston-upon-Thames</td>
<td>A243, A3, A240</td></tr>
<tr>
<td>Lambeth</td>
<td>A3036, A3204, A202, A3, A23, A203, A205, A24, A3200, A3203</td></tr>
<tr>
<td>Lewisham</td>
<td>A202, A2, A20, A21, A205</td></tr>
<tr>
<td>Merton</td>
<td>A24, A297, A3</td></tr>
<tr>
<td>Newham</td>
<td>A13, A117, A1020, A406</td></tr>
<tr>
<td>Redbridge</td>
<td>A12, A406, A1400</td><ul>
<li>TfL is responsible for operating and improving conditions for all road users on 580km of London's most important roads - the red routes, which can be identified by the red road markings or signs at the side of the road </li>
<li>Also known as the Transport for London Road Network (TLRN), red routes comprise only 5 per cent of the Capital's roads but carry approximately 35 per cent of its traffic 
</li><li>There are 350 MPS traffic wardens and 450 traffic police community support officers patrolling London's red routes 
</li><li>The penalty charge notice for illegally parking on a red route will now be &pound;100, reduced to &pound;50 if the fine is paid within two weeks 
</li><li>Any motorist receiving a fine they feel is unjust can appeal against it in the same way as they would a parking ticket 
</li><li>Bus usage is growing at its fastest rates since 1946 
</li><li>Bus riderships grew more than 38 per cent between 1999/00 and 2004/05 
</li><li>Buses in London now carry the highest number of passengers since 1968 - 6.3million journeys a day</li></ul>

            
            

        </tr></tbody></table></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Smart car will mark the first introduction of digital technology that will eventually replace the existing analogue systems which Transport for London (TfL) currently uses to enforce parking violations on the TLRN. The Smart car is part of a Digital";}
        
        


 