


@{ViewBag.Title = "Launch into summer with increased services on the Thames";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Launch into summer with increased services on the Thames</h1>
        <div class="content-page-press-release">
        31 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners and visitors to London will have more opportunities to enjoy the River Thames when the new spring/summer timetable for London River Services comes into effect on Monday 3 April.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Enjoy a leisurely cruise or visit a variety of London landmarks by river
                            
                        </p>
                    </div>
                
            
            
            <p>Most services will enjoy increased frequencies, with many operators extending their operating hours or serving additional piers. </p>
<p>Passengers can take a leisurely cruise from Westminster or Embankment to Greenwich, taking in a number of London's most famous tourist attractions, including BA London Eye and the Tower of London, or enjoy a leisurely meal in style on one of our lunch or dinner cruises. </p>
<p>Commuters will also benefit from an increased frequency on Thames Clipper services. </p>
<p>Special spring/summer trips* include:</p>
<ul>
<li>Westminster - Greenwich - Thames Barrier Cruise - in operation from 3 April to 29 October 
</li><li>London Eye - River Cruise Experience - in operation from 1 April to 31 October 
</li><li>Westminster - Kew - Hampton Court - in operation from 10 April to 30 September 
</li><li>Richmond - Kingston - Hampton Court - in operation from 1 April until 30 September</li></ul>
<p>Additional services will be launched later in the season, including the Greenwich Pier Sunday Evening Sightseeing Cruise (28 May).</p>
<p>Full timetable and fare details can be found in London River Services' Spring/Summer 2006 Guide, which is available in all Zone 1 Tube stations and at staffed piers on the Thames. <br></p>
            <ul>
<li>Passengers may request a copy of the Spring/Summer 2006 Guide to River Thames Boat Services from London River Services direct by calling 020 7941 2400 or emailing <a href="mailto:enquiries&#64;tfl-river.co.uk">enquiries&#64;tfl-river.co.uk</a>  </li>
<li>*Additional information on Spring/Summer trips:<br>- Boats call at Barrier Gardens Pier only for pre-booked groups by arrangement with the operator, Thames River Services, who can be contacted on 020 7930 4097<br>- Passengers can book online at <a href="http://www.londoneye.com/">www.londoneye.com</a> to receive a 10 per cent discount, over the phone on 0870 5000 600 or in person at the ticket office inside County Hall<br>- Owing to extreme tidal conditions between Kew and Hampton Court, timetables are subject to alteration at short notice.  Customers are strongly advised to confirm sailing times with the operator before travelling on 020 7930 2062<br>- Timetable and fare information for the Richmond - Kingston - Hampton Court service is available from the operator, Turks Launches, direct either via their website - <a href="http://www.turks.co.uk/">www.turks.co.uk</a> - or by telephone on 020 8546 2434<br>- Timetable and fare information for the Greenwich Pier Sunday Evening Sightseeing Cruise is available from Campion Launches on 020 8305 0300</li>
<li>Lunch and dinner cruises can be booked through Bateaux London on 020 7925 2215 or <a href="http://www.bateauxlondon.com/">www.bateauxlondon.com</a> or City Cruises on 020 7740 0400 or <a href="http://www.citycruises.com/">www.citycruises.com</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Most services will enjoy increased frequencies, with many operators extending their operating hours or serving additional piers. Passengers can take a leisurely cruise from Westminster or Embankment to Greenwich, taking in a number of London's most famous";}
        
        


 