


@{ViewBag.Title = "London Underground supports new hard-hitting Changing Faces campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground supports new hard-hitting Changing Faces campaign</h1>
        <div class="content-page-press-release">
        01 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is supporting a new hard-hitting, network-wide campaign entitled Facing Disfigurement with Confidence by the charity Changing Faces from 3 to 17 March.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This campaign is particularly thought-provoking and we hope it is successful in raising awareness
                            
                        </p>
                    </div>
                
            
            
            <p>The campaign, which presents two young children with disfigurements, aims to change the way people respond and interact with children living with a disfigurement and highlights their daily struggle with people's reactions to their physical appearance.</p>
<p>LU demonstrated its commitment to the campaign by donating at total of 280 advertising spaces throughout the Underground network for a fortnight. </p>
<p>Eighty-five Changing Faces posters will be on display in Zone One stations and 170 in Zones Two to Six.</p>
<p>Richard Parry, Director of Strategy and Service Development, said: "This campaign is particularly thought-provoking and we hope it is successful in raising awareness about the daily challenges children with disfigurements have to confront.</p>
<p>"London Underground is pleased to support the Facing Disfigurement with Confidence campaign and provide Changing Faces with 280 free posters sites across our network."</p>
<p>Winnie Coutinho, Head of Communications at Changing Faces, said: "Changing Faces is delighted that London Underground is supporting this campaign which is about making sure that everyone is equipped to face children with disfigurements more positively and move beyond the embarrassment and awkwardness they often feel. </p>
<p>"This is an important development because travelling on any form of public transport can be a challenge for people with disfigurements where they can experience staring, furtive glances or avoidance. </p>
<p>"In supporting this important issue, London Underground is showing its real commitment to making public transport a more inclusive place for everyone."</p>
            <ul>
<li>These adverts are the first two in a series of three to be launched by the charity over the next 12 months</li>
<li>The "Facing Disfigurement with Confidence" campaign was produced on a pro-bono basis by leading UK advertising agency, WCRS. </li>
<li>The photographs were taken by Andy Flack, an international photographer who also donated his services</li>
<li>Changing Faces is a Registered Charity, No. 1011222. Launched in 1992 by James Partridge OBE, DSc (Hon), who sustained severe burn injuries following a car accident at the age of 18</li>
<li>Its mission is to create a better and fairer future for people who have disfigurements to the face, hands or body whatever their cause. </li>
<li>The ultimate goal is to enable everyone to face disfigurement with confidence</li>
<li>Changing Faces employs a team of specialists who provide psycho-social counselling and advice to individuals. </li>
<li>It has developed a range of practical programmes for children, young people, their families and adults with disfigurements, which aim to empower them to manage public reactions and succeed in every part of their life</li>
<li>It also provides advice and resources to health professionals, teachers and employers about best practice in teaching, recruiting or providing health services for people with disfigurements</li>
<li>The charity's main activities involve</li>
<ul>
<li>Providing professional support, advice and social skills training to children, families and adults with disfigurements of any kind to build self-esteem and self-confidence</li>
<li>Promoting health care through outreach, training and advice to improve the psychological and social rehabilitation after disfigurement</li>
<li>Raising public awareness about disfigurement by working with schools, employers and the media to ensure equal opportunities</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The campaign, which presents two young children with disfigurements, aims to change the way people respond and interact with children living with a disfigurement and highlights their daily struggle with people's reactions to their physical appearance.LU";}
        
        


 