


@{ViewBag.Title = "London Buses welcomes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses welcomes</h1>
        <div class="content-page-press-release">
        03 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses today welcomed the London Assembly Transport Committee's findings that improvements to bus services in the Capital represent value for money.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Investment in the London Bus network has produced a major boost to the reliability and capacity of the network
                            
                        </p>
                    </div>
                
            
            
            <p>The cross-party Committee looked at Quality Incentive Contracts in London and compared them with other cities in the UK and abroad. </p>
<p>The report concluded that the contract system works, and noted that the bus network is being used by more passengers than at any time since the 1960s as "the network has been expanded, the fleet overhauled and reliability improved". </p>
<p>London Buses measure the performance of bus operators across every aspect of their performance including reliability, driving standards, ramp availability and cleanliness, and will continue to take action against any operator whose performance falls below that required.</p>
<p>In response to specific points raised by the report:</p>
<ul>
<li><strong>Bus driving standards</strong>:<br>All London bus drivers now have to take a BTEC qualification which includes additional driving assessment and customer service training. The Driving Standards Agency's independent assessment of London's bus drivers shows that standards are improving year by year. 
</li><li><strong>Wheelchair ramps</strong>: <br>Bus contracts already include incentives to operators to maintain wheelchair ramps. Regular audits are carried out and operators with non-working ramps are fined. In addition, Transport for London (TfL) is working with disability groups to identify and address any ongoing problems with ramps. 
</li><li><strong>Transparency in the tendering process</strong>:<br>Contract tender results are on the web and the selection criteria is published to all tenderers. The key factors influencing the awarding of contracts are operators' ability to meet the performance criteria and, of course, overall value for money. 
</li><li><strong>The future of bendy buses</strong>:<br>The whole bus network is always under review to make sure that we are providing the right level of service to London's changing population. There are no routes currently earmarked for immediate conversion to, or from, bendy buses.</li></ul>
<p>Clare Kavanagh, Director of Performance for London Buses, said: "The Committee's report again underlines the fact that the investment in the London Bus network has produced a major boost to the reliability and capacity of the network and has done so whilst providing excellent value for money.</p>
<p>"After the report late last year from the National Audit Office and Audit Commission this is yet another vote of confidence in the Mayor's Transport Strategy and TfL's delivery of it."</p>
            <ul>
<li>A copy of the Committee's report is available <a href="http://www.london.gov.uk/assembly">online </a>can be. It follows on from a joint report from the Audit Commission and National Audit Office in December 2005 which found that London's bus network was "leading the way" in the UK with significant growth in passenger numbers</li>
<li>London's bus network is one of the biggest in the world, with 8,000 buses, 700 bus routes, and over 6 million passenger journeys made every weekday</li>
<li>Around &pound;850 million is taken in revenue each year.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The cross-party Committee looked at Quality Incentive Contracts in London and compared them with other cities in the UK and abroad. The report concluded that the contract system works, and noted that the bus network is being used by more passengers than";}
        
        


 