


@{ViewBag.Title = "LU steps up Northern line improvement works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU steps up Northern line improvement works</h1>
        <div class="content-page-press-release">
        06 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today (Monday 6 March) announced a major increase in work this year to Transform the Tube, including a series of weekend closures throughout 2006 on the Northern line from April.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            LU advises passengers to check their route before travelling
                            
                        </p>
                    </div>
                
            
            
            <p>The work will be undertaken by Tube Lines.</p>
<p>Sections of the Northern line will be suspended during virtually every weekend during 2006 starting from Easter, to accelerate Tube Lines' track renewal work.</p>
<ul>
<li>From Good Friday, 14 April 2006 until Easter Monday, 17 April 2006 the Northern line will be suspended between Edgware and Golders Green. 
</li><li>There will be two rail replacement bus services:<br>One bus service will call at all the closed stations 
</li><li>Another bus service will link Edgware, Hendon Central and Golders Green with Canons Park, where passengers can pick up the Jubilee line 
</li><li>For ten consecutive weekends starting on Saturday, 29 April to May Day Bank Holiday, Monday 1 May 2006 inclusive the Northern line will be suspended between Camden Town and Kennington via Charing Cross.</li></ul>
<p>All the stations on this part of the line either interchange with another line which will be running on those weekends, or they are a bus ride away, or within walking distance of another Tube station, so there is no need to provide rail replacement buses.</p>
<p>George McInulty, LU Service Director, said: "We're investing billions and working hard to deliver a safe, reliable and clean Tube service, every day. </p>
<p>"But in order to transform the Tube, including improving the Northern line, we need to step up the amount of work being done at weekends.</p>
<p>"We recognise that the Northern line's performance is not as we would like, but we are looking forward to Tube Lines taking this opportunity to accelerate the amount of track renewal work undertaken.</p>
<p><h2>Travel options</h2></p>
<p>"This will mean some disruption for passengers. We're urging all Londoners and Tube passengers to check before you travel on the Tube at weekends, to check for any disruption to their journey, but also to see what alternative travel options are available.</p>
<p>"Despite the huge increase in work being undertaken, particularly at weekends, we still want people to get out and enjoy all that this great city has to offer.</p>
<p>"We will be working hard to provide information and alternative travel options to keep Londoners, visitors and Tube users moving."</p>
<p>LU advised passengers to check before travelling via the following options:</p>
<ul>
<li>The TfL website at <a href="http://www.tfl.gov.uk/tubeworks">www.tfl.gov.uk/tubeworks</a> 
</li><li>The London Travel Information 24-hours telephone helpline 020 7222 1234 
</li><li>BBC Ceefax, page 436, or ITV's Teletext, page 164 
</li><li>Information on posters, leaflets and "Good Service" boards at Tube stations</li></ul>
<p>For eleven consecutive weekends starting from Saturday, 15 July / Sunday, 16 July:<br>the Northern line will be suspended Camden Town to East Finchley for track renewal work.</p>
<p>For two consecutive weekends starting from Saturday, 14 October / Sunday, 15 October:<br>After a fortnight's break, the Northern line will again be suspended Camden Town to East Finchley for track renewal work.</p>
<p>There will be two rail replacement bus services:</p>
<ul>
<li>Service A: Between East Finchley and Euston calling at all intermediate stations except for Camden Town 
</li><li>Service B: Direct service between Finchley Central and Golders Green only</li></ul>
<p>For two consecutive weekends from Saturday, 30 September / Sunday, 1 October:<br>The Northern line will be suspended between High Barnet and Finchley Central.</p>
            <ul>
<li>London Underground was named UK Train Operator of the Year at the HSBC Rail Awards in London on February 28</li>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, over half of that in the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith & City and Metropolitan lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work will be undertaken by Tube Lines.Sections of the Northern line will be suspended during virtually every weekend during 2006 starting from Easter, to accelerate Tube Lines' track renewal work.From Good Friday, 14 April 2006 until Easter Monday, 17";}
        
        


 