


@{ViewBag.Title = "LU steps up work to transform the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU steps up work to transform the Tube</h1>
        <div class="content-page-press-release">
        06 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today (Monday 6 March) announced a major increase in work this year to Transform the Tube.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're investing billions and working hard to deliver a safe, reliable and clean Tube service
                            
                        </p>
                    </div>
                
            
            
            <p><!-- #EndEditable -->It includes a series of weekend closures throughout 2006 on the Northern line and the closure of the Waterloo & City for five months from April 1.</p>
<p>Transport for London (TfL) is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube. </p>
<p>This year the pace of work will increase to almost double that of last year, a momentum to be maintained for many years to come. </p>
<p>The work will be undertaken by Metronet and Tube Lines.</p>
<p>The improvement works will inevitably result in some disruption for passengers, but information and alternative travel options will be available. </p>
<p>LU is urging all Londoners and Tube passengers to check before you travel on the Tube at weekends, allowing extra time where necessary.</p>
<p>LU Managing Director Tim O'Toole said: "We're investing billions and working hard to deliver a safe, reliable and clean Tube service, every day. </p>
<p>"But in order to Transform the Tube, we need to step up the amount of work being done at weekends and this will mean some disruption for passengers.</p>
<p>"We're urging all Londoners and Tube passengers to check before you travel on the Tube at weekends, to check for any disruption to their journey but also to see what alternative travel options are available.</p>
<p>"Despite the huge increase in work being undertaken, particularly at weekends, we still want people to get out and enjoy all that this great city has to offer. </p>
<p>"We will be working hard to provide information and alternative travel options to keep Londoners, visitors and Tube users moving."</p>
<p>LU advised passengers to check before travelling via the following options:</p>
<ul>
<li>The TfL website at <a href="http://www.tfl.gov.uk/tubeworks">www.tfl.gov.uk/tubeworks</a> 
</li><li>The London Travel Information 24-hour telephone helpline 020 7222 1234 
</li><li>BBC Ceefax, page 436, or ITV's Teletext, page 164 
</li><li>Information on posters, leaflets and "Good Service" boards at Tube stations</li></ul>
<p>LU also today announced a new way of communicating Tube improvement works with the media, through the distribution of a weekly Transforming the Tube media bulletin, to be issued on Monday each week.</p>
<p>The new Transforming the Tube media bulletin will summarise all the forthcoming weekend's work and provide links to more detailed information. </p>
<p>Major forthcoming Tube improvement works include:</p>
<ul>
<li>On the Bakerloo line, Regent's Park station will be closed for about a year from July 2006 for modernisation and lift replacement works 
</li><li>On the Central line, a series of 15 weekend closures from April 
</li><li>The Circle, District and Hammersmith & City lines will be partly suspended on about six weekends in the central London area between November 2006 - March 2007 
</li><li>On the Northern line, a major series of weekend closures throughout 2006 from April 
</li><li>On the Piccadilly line, three further Acton Town to Uxbridge closures from May 2006 and further Cockfosters to Wood Green / Arnos Grove closures 
</li><li>On the Victoria line, Brixton station will be closed and the line will terminate at Stockwell over Easter from 8 to 17 April 2006, while improvement works are carried out and there will be 15 track closures at the northern end of the line 
</li><li>The Waterloo & City line will close for five months from April 1. First announced in September last year</li></ul>
<p>In addition Network Rail, Channel Tunnel Rail Link and the new White City development will also mean the suspension of parts of Underground lines in order to undertake work during the coming year.</p>
<p>About 50 stations will have improvement works over the coming year including Baker Street, Embankment, King's Cross, St Pancras, Farringdon, Blackfriars, Earl's Court, Bethnal Green and Mile End, which will be modernised. </p>
<p>Stations will generally remain open, although some may close
            <ul>
<li>London Underground was named UK Train Operator of the Year at the HSBC Rail Awards in London on February 28</li>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, over half of that in the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub-surface lines - the Circle, District, Hammersmith & City and Metropolitan lines</li>
<li>Waterloo & City closure which starts on 1 April was first announced last year</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->It includes a series of weekend closures throughout 2006 on the Northern line and the closure of the Waterloo & City for five months from April 1.Transport for London (TfL) is investing &pound;10bn over the next five years to improve";}
        
        


 