


@{ViewBag.Title = "Mayor welcomes Oyster commitment in new rail franchise";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes Oyster commitment in new rail franchise</h1>
        <div class="content-page-press-release">
        31 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Oyster ticketing on rail services in London came a step closer today with the news that it will be required as part of the new South West Main Line franchise.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a major step towards fully integrated ticketing in London
                            
                        </p>
                    </div>
                
            
            
            <p>The invitation to tender (ITT) for the franchise was today issued by the Department for Transport (DfT) and it specifically requires the successful bidder to provide Oyster validating machines at all London stations by 2009.</p>
<p>The franchise is currently managed by the train operator South West Trains and includes routes out of Waterloo station to key London stations such as Kingston, Richmond and Wimbledon and destinations on the south coast.</p>
<p>Mayor of London Ken Livingstone said: "It is vital we have an integrated ticketing system between mainline rail and the Tube and bus network so that passengers can enjoy the full benefits and convenience of Oyster. </p>
<p>"This is a major step towards fully integrated ticketing in London."</p>
<p>Ian Brown, Managing Director TfL London Rail, said: "TfL's vision for rail is about putting passengers first.  </p>
<p>"Five million people already use Oyster every day in London. This means that from 2009, passengers on the on the South West Main Line will be able to take Oyster ticketing integrated with transport modes across London including the Tube, bus and DLR.</p>
<h2>TfL recommendations</h2>
<p>"We are pleased to see the inclusion of a number of TfL's recommendations in this franchise specification. We will continue to work to make rail services that serve London an integrated part of the transport network."</p>
<p>TfL welcomes the inclusion of its recommendations, which were made during the DfT's consultation for the South West franchise in January this year.  </p>
<p>The specification outlined demands that the successful bidder for the franchise will:</p>
<ul>
<li>Provide Oyster validating or ITSO equipment at all stations on the South West Main Line franchise by 2009 
</li><li>Work towards ticket gates at Waterloo - to improve security and deter fare evasion</li></ul>
<p>As one of the stakeholders for the consultation, TfL presented its recommendations to the DfT to secure improvements for passengers and industry in London, and to ensure that their needs are met in the franchise for the short-, medium- and long-term.</p>
<p>Oyster ticketing will also be available on the North London Railway from Autumn 2007, when the line will be transferred to TfL. The franchise is currently operated by Silverlink Metro.</p>
<hr>

<p>Find out about the benefits of using Oyster, including how tickets can be bought or renewed online: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> </p>
<p>TfL offers a range of tickets within the Greater London area for use on Tube, buses, Docklands Light Railway (DLR), and Tramlink services. Information on fares and tickets is available at: <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a></p>
            <ul>
<li>Thirty-five London stations are included on the South West Mainline franchise. See the <a href="http://www.southwestrains.co.uk">South West Trains website</a> 
</li><li>Oyster is an integrated fares and ticketing system. Eleven million Oyster journeys are made on the DLR and Tube every week, and 16 million on buses. The benefits of Oyster include: <br>- Greater convenience for customers (top up online or over the phone/auto top up)<br>- More efficient transport services through the reduction in time spent boarding and passing through gatelines</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The invitation to tender (ITT) for the franchise was today issued by the Department for Transport (DfT) and it specifically requires the successful bidder to provide Oyster validating machines at all London stations by 2009.The franchise is currently";}
        
        


 