


@{ViewBag.Title = "Mayor and David Seaman open Wembley Park Tube station on time and on budget";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and David Seaman open Wembley Park Tube station on time and on budget</h1>
        <div class="content-page-press-release">
        27 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<p>Mayor of London, Ken Livingstone, and former England and Arsenal goalkeeper, David Seaman, today unveiled major improvements at Wembley Park Tube Station to support the new Wembley Stadium and the wider regeneration of the Wembley area and to bring further benefits to local residents.</p>
<p>The work has been delivered on time and on budget. </p>
<p>The improvements increase the station's capacity by 70 per cent in the main ticket hall, allowing an extra 15,500 people (up from 22,000 to 37,500) to use the station every hour. </p>
<p>This forms part of Transport for London's (TfL's) five-year &pound;10bn Investment Programme in improving London's transport.</p>
<p>The Mayor was also joined by children from nearby Chalkhill Primary School who were among the first to test out the new, larger ticket hall during a penalty shoot out with David Seaman in goal.</p>
<p>
<h2>World-class station</h2>
<p>
<p>Mayor of London Ken Livingstone said: 'Wembley Park gives London a world-class station to serve a world-class sporting venue and provides local residents in Brent with a substantially improved transport link, coming just weeks after the addition of an extra carriage on every Jubilee Line train. </p>
<p>'The station has been delivered on time and on budget by Transport for London. </p>
<p>'The station can now accommodate an additional 15,000 people every hour, which will support the wider improvements to the area, as well as the Stadium when it is complete. </p>
<p>'Passengers will benefit from an extended commuter ticket hall, widened stairs to Olympic Way, five new lifts providing full accessibility to all platforms, upgraded and expanded CCTV and new help point and information systems, all of which will make Wembley Park a flagship tube station. </p>
<p>'Wembley Park is part of Transport for London's five-year &pound;10bn Investment Programme which is delivering the improvements needed to keep London on the move. </p>
<p>'It follows the expansion of the Jubilee line to carry an additional 6,000 passengers every morning and evening and the Docklands Light Rail extension to City Airport.'</p>
<p>David Seaman, who put in over 15 stellar performances at Wembley during his career, said: 'It's great to see the Wembley Park Tube station in action today. </p>
<p>'Millions of fans are going to be travelling to sport and music events at Wembley Stadium in the next few years and they now have the public transport they need to get them there.</p>
<p>'The national stadium will be the envy of the rest of the world and we have equally impressive transport facilities to get fans to and from the stadium. Wembley Park will certainly be a fans' favourite.'</p>
<p>An extra 20,000 people per hour will be able to access the Wembley area due to capacity increases at Wembley Park, Wembley Central and Wembley Stadium stations. </p>
<p>Transport for London Commissioner, Peter Hendy, said: 'Overall, there will be 100 trains per hour to transport people to and from the stadium for events and the combined transport planning means that 90,000 people will be on their way home within 90 minutes of the final whistle.'</p>
<p>&pound;100m is being spent in transport improvements to support the Wembley Stadium and the regeneration of the Wembley area as a whole. </p>
<p>A new state of the art footbridge - the White Horse Bridge - is also being completed to boost access between Wembley Stadium and the town centre. </p>
<p>This is being funded by the London Development Agency (LDA) as part of its drive to maximise benefits for the local area. </p>
<p>The LDA is putting further funding into business support and training to help local communities and businesses make the most of the opportunities that the stadium and surrounding developments will bring.</p>
<p>Improvements at Wembley Park station include:</p>
<ul>
<li>A new events ticket hall 
</li><li>Extended commuter ticket hall 
</li><li>Widened stairs to Olympic way for use during events 
</li><li>
            <ul>
<li>Photographs from the station opening are available to media 
</li><li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines 
</li><li>&pound;100m is being spent on transport improvements for the Wembley area. This comprises of &pound;43m from Transport for London funding, &pound;40m from the London Development Agency of which &pound;20m has been provided through the London Borough of Brent's regeneration funds, &pound;9m from Wembley National Stadium Limited and &pound;7m from the Department for Transport 
</li><li>This press release was originally issued by the Mayor of London's press office at the <a href="http://www.london.gov.uk">Greater London Authority</a></li></ul>

            
            

        </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Ken Livingstone, and former England and Arsenal goalkeeper, David Seaman, today unveiled major improvements at Wembley Park Tube Station to support the new Wembley Stadium and the wider regeneration of the Wembley area and to bring";}
        
        


 