


@{ViewBag.Title = "Mayor abolishes off-peak Tube fares for under-11s";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor abolishes off-peak Tube fares for under-11s</h1>
        <div class="content-page-press-release">
        09 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a radical step and we welcome this move
                            
                        </p>
                    </div>
                
            
            
            <p>Children under 11 will be able to travel free on the Underground and Docklands Light Railway (DLR) from April, Mayor Ken Livingstone announced today. </p>
<p>From April 2, under-11s who are accompanied by an adult will be able to use the Tube and Docklands Light Railway for free, from 9.30am on weekdays and all day at weekends and public holidays.</p>
<p>Free Tube travel for under-11s is part of the Mayor's policy to improve young people's access to education, sport and leisure activities throughout the Capital. </p>
<p>Under-16s have been able to travel for free on London's buses and trams since September last year and this will be extended to under-18s in full-time education this coming September. </p>
<p>Ken Livingstone said: "London families will benefit from free Tube journeys for under-11s in plenty of time for the Easter holidays. </p>
<p>"Starting on April 2nd, all Tube fares for under-11s will be abolished after 9.30am on weekdays and on weekends and public holidays, a radical step that adds to the abolition of bus and tram fares for under-16s last year. </p>
<p>"Free travel on the buses for under-16s was introduced last year and has made a big difference to hundreds of thousands of families in London. </p>
<p>"Extending it to under-11s on the Tube and the Docklands Light Railway is the logical next step. </p>
<p>"Free Tube travel for under-11s will help make visiting London's many attractions more affordable, widen the horizons of young Londoners and encourage the next generation to use public transport as much as possible.</p>
<p>
<h2>Accessible transport</h2>
<p>
<p>"Free travel for children on buses, Tube, tram and DLR, as well as the ongoing Freedom Pass for older Londoners, amounts to a radical fares policy that makes public transport accessible to as many people as possible."</p>
<p>Kate Green, Chief Executive of Child Poverty Action Group, said: <br>"This is a radical step and we welcome this move. </p>
<p>"Low income families typically spend a much greater proportion of their income on transport and this move will directly benefit many of them. </p>
<p>"It will open up access to a mass of facilities, cultural, educational and sporting activities that have been simply unaffordable." <br></p>
            <ul>
<li>Under-5s can already travel on the Tube and DLR for free off-peak as long as accompanied by an adult </li>
<li>Up to four children under 11 can accompany an adult (anyone over 18) in possession of a valid adult fare </li>
<li>If the adult has a Travelcard then they can be accompanied by four children for free and up to another four can travel for &pound;1 under the 'Kids for a Quid' scheme </li>
<li>Free travel for under-11s will cost around &pound;1m per year </li>
<li>Off peak travel from 0930 Monday to Friday and all day at weekends and on public holidays </li>
<li>For more information on the under-11s free off-peak travel, visit the <a>website </a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Children under 11 will be able to travel free on the Underground and Docklands Light Railway (DLR) from April, Mayor Ken Livingstone announced today. From April 2, under-11s who are accompanied by an adult will be able to use the Tube and Docklands Light";}
        
        


 