


@{ViewBag.Title = "Mayor welcomes transport plans for Kingston";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes transport plans for Kingston</h1>
        <div class="content-page-press-release">
        10 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today gave his approval to the first borough in the capital to submit its vision for transport in its area.
        
    </div>



 <div class="on-this-page">
<p>Kingston's Local Implementation Plan (LIP) contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011. </p>
<p>Key areas of the LIP include extra road safety and cycling initiatives as well as improving accessibility and journey times.</p>
<p>Approving Kingston's plan, Mayor of London Ken Livingstone said: "The London boroughs play a key role in the successful delivery of my transport strategy which focuses on bringing safer, more accessible and more sustainable transport right across the capital. I am happy to approve Kingston's plan."</p>
<p>Highlights from Kingston's LIP include: </p>
<ul>
<li>Improved road safety with 20mph zones planned within 100 metres of all schools - one of the most comprehensive programmes for implementing these safety zones in Britain 
</li><li>Improved sustainable travel - many new or improved cycling corridors are proposed, as is 1000 school children receiving cycle training each year.<br><br>The level of commuter and leisure cycling in Kingston is one of the highest in London. In addition, there are currently 14 schools within the borough with school travel plans.<br><br>Within the lifetime of the LIP, all 65 schools are expected to have such a plan 
</li><li>A balanced approach to road-space allocation with a strong commitment by the borough to manage traffic volume growth, across the borough and in Kingston town centre.<br></li></ul>
<p>Kingston's Director of Environmental Services Frank Quigg said: "I am pleased that the Mayor has given his seal of approval swiftly. The Local Implementation Plan provides an important guide to all our transport initiatives for the coming years. </p>
<p>"We now look forward to delivering this comprehensive range of projects, which include greater use of public transport, cycling and walking, combined with an overall aim of reducing the level of car traffic in Kingston."</p>
<p>Cllr Michael Cartwright, Chair of the Association of London Government's Transport and Environment Committee, said: "We're pleased that the Mayor has approved this Local Implementation Plan and look forward to others from London boroughs being given the go-ahead.</p>
<p>"The ALG has worked hard, in partnership with TfL, to make the LIP process work in London. </p>
<p>"We hope the funding from the LIP will provide more co-ordination to improve transport in the capital."</p>
<p>Priorities for all LIPs include:</p>
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure to a good state of repair <br></li></ul>
            <ul>
<li>Proposals contained in a LIP may be funded through the Transport for London (TfL) Borough Spending Plan process, directly by the borough or from other sources such as private developers</li>
<li>A successful LIP does not necessarily mean that all proposals contained within it will obtain funding</li>
<li>Proposals will also still need to pass other required steps before implementation (e.g. planning decisions, Traffic Works Orders and similar)</li>
<li>The GLA Act 1999 requires each London borough to prepare a LIP showing how it proposes to implement the Mayor's Transport Strategy</li>
<li>The Mayor issued guidance on the drafting of LIPs following consultation in July 2004</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Kingston's Local Implementation Plan (LIP) contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011. Key areas of the LIP include extra road safety and cycling initiatives as well as improving";}
        
        


 