


@{ViewBag.Title = "Mayor welcomes transport plans for Camden";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes transport plans for Camden</h1>
        <div class="content-page-press-release">
        24 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today approved a new plan which will radically improve transport for people living in Camden.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The London boroughs play a key role in the successful delivery of my transport strategy
                            
                        </p>
                    </div>
                
            
            
            <p>Camden Council was one of the first boroughs to submit a Local Implementation Plan (LIP) to the Mayor outlining its vision for local transport improvements across the area. </p>
<p>Highlights of the Camden plan include flagship proposals for the development of world class streets, environmental initiatives to cut pollution and the encouragement of sustainable travel such as cycling and walking.</p>
<p>The GLA Act 1999 requires each London borough to prepare a LIP showing how it proposes to implement the Mayor's Transport Strategy.</p>
<p>Mayor of London Ken Livingstone said: "The London boroughs play a key role in the successful delivery of my transport strategy which focuses on bringing safer, more accessible and more sustainable transport right across the capital. I am happy to approve Camden's plan."</p>
<p>Highlights from Camden's LIP include: </p>
<ul>
<li>Camden's traffic schemes and Boulevard programme - This will make the borough's streets among the best in the world, building on the success of the last five years, with proposals to bring significant changes for the next five years 
</li><li>Sustainable travel - The borough is striving to triple the 2001 levels of cycling by 2012. This will mean that one in ten trips by Camden residents will be made by bicycle 
</li><li>Camden's Clear Zones programme and Travel Awareness campaigns - these will aim to significantly cut pollution in central London and promote the health and physical fitness of Londoners</li></ul>
<p>Alex Williams, Camden Council's Assistant Director for Environment, said: "We are delighted that our Local Implementation Plan has been approved. </p>
<p>"We are keen to work in partnership with Transport for London (TfL) to ensure that the aims and objectives of the plan are fully implemented. </p>
<p>"These include making sure that our roads remain safe and that we continue to reduce congestion and pollution in our borough through further environmentally friendly transport schemes. </p>
<p>"For example, we will build on Camden's impressive track record in improving road safety, with not a single child under 16 years killed on the borough's roads for the last two years."<br><br>Priorities for all LIPs must address:</p>
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure to a good state of repair </li></ul>
<p>
            <ul>
<li>Proposals contained in a LIP may be funded through the TfL Borough Spending Plan process, directly by the borough or from other sources such as private developers. A successful LIP does not necessarily mean that all proposals contained within it will obtain funding. Proposals will also still need to pass other required steps before implementation (e.g. planning decisions, Traffic Works Orders and similar)</li>
<li>The Mayor issued guidance on the drafting of LIPs, following consultation, in July 2004<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Camden Council was one of the first boroughs to submit a Local Implementation Plan (LIP) to the Mayor outlining its vision for local transport improvements across the area. Highlights of the Camden plan include flagship proposals for the development of";}
        
        


 