


@{ViewBag.Title = "Mayor welcomes transport plans for Hammersmith and Fulham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes transport plans for Hammersmith and Fulham</h1>
        <div class="content-page-press-release">
        24 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today gave his approval to Hammersmith & Fulham, one of the first boroughs in the capital to submit its vision for transport in its area.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The London boroughs play a key role in the successful delivery of my transport strategy
                            
                        </p>
                    </div>
                
            
            
            <p>Hammersmith &amp; Fulham's Local Implementation Plan (LIP) contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011. </p>
<p>Key areas of the LIP include regeneration, sustainable transport and environmental improvements.</p>
<p>Approving Hammersmith and Fulham's plan, Mayor of London Ken Livingstone said:"The London boroughs play a key role in the successful delivery of my transport strategy which focuses on bringing safer, more accessible and more sustainable transport right across the capital.</p>
<p>"I am happy to approve Hammersmith &amp; Fulham's plan." </p>
<p>Highlights from Hammersmith &amp; Fulham's LIP include:</p>
<ul>
<li>Town centre improvements - funding for the next three years is proposed for 'Putting Shepherds Bush back on its feet' under H&amp;Fs flagship 'healthy town centres' initiative. Its Streetscape Design Guide' and the Urban Design Scheme for the town centre are being comprehensively updated 
</li><li>Sustainable development - the White City Scheme will provide high density land-use, well served by all modes of transport including the West London Tram , and good accessibility by foot and bicycle 
</li><li>Delivering one of the Mayor's 100 public spaces within the A4 corridor, and the borough's Air Quality Action Plan which will make a significant contribution towards environmental improvements within the borough<br><br></li></ul>
<p>Cllr Michael Cartwright, Hammersmith &amp; Fulham's Cabinet Member for Environment, who is also Chair of the Association of London Government's Transport and Environment Committee, said: "Officers put in a huge amount of work into developing a comprehensive and carefully considered transport plan for Hammersmith and Fulham and we are proud to be one of the first boroughs in London to have our LIP approved.</p>
<p>"We look forward to taking the plan forward in conjunction with the Mayor and Transport for London (TfL), to make Hammersmith &amp; Fulham, and London as a whole a better place in which to live, work and travel." <br><br>Priorities for all LIPs include:</p>
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure to a good state of repair <br></li></ul>
            <ul>
<li>Proposals contained in a LIP may be funded through the TfL Borough Spending Plan process, directly by the borough or from other sources such as private developers. A successful LIP does not necessarily mean that all proposals contained within it will obtain funding. Proposals will also still need to pass other required steps before implementation (e.g. planning decisions, Traffic Works Orders and similar) 
</li><li>The GLA Act 1999 requires each London borough to prepare a LIP showing how it proposes to implement the Mayor's Transport Strategy 
</li><li>The Mayor issued guidance on the drafting of LIPs, following consultation, in July 2004 </li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hammersmith &amp; Fulham's Local Implementation Plan (LIP) contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011. Key areas of the LIP include regeneration, sustainable transport and environmental";}
        
        


 