


@{ViewBag.Title = "Mind the Bump!";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mind the Bump!</h1>
        <div class="content-page-press-release">
        22 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground urges passengers to show courtesy to mums-to-be.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Offering assistance and support to pregnant women is not just a matter of courtesy; it's a matter of health
                            
                        </p>
                    </div>
                
            
            
            <p>A new report released today by London Underground (LU) calls for greater consideration to be given to the needs of pregnant Tube passengers, as research shows passengers are failing to extend courtesy to expectant mums.</p>
<p>The 'Mind the Bump' study revealed that pregnant passengers are currently made to stand for an average of five stops before being offered a seat, and 35 per cent of mums-to-be are never offered a seat.</p>
<p>In response to the findings and following a successful trial in Summer 05, LU is rolling out its 'Baby on Board' initiative, to offer support to pregnant women who feel awkward about asking fellow passengers to give up their seats.</p>
<p>LU Marketing Communications Manager Elizabeth Norris said: "Our research found that a vast number of mums-to-be find standing on the Tube throughout their pregnancy very difficult, but one in three are too embarrassed to ask a fellow passenger to give up their seat.</p>
<p>"In the early stages of pregnancy in particular, it's difficult for people to identify pregnant women, who often feel tired, sick and even faint during these first few months, so being offered a seat makes Tube travel safer and more comfortable. </p>
<p>"The Baby on Board badge is designed to help women at all stages of pregnancy feel more confident in using the Tube, and to make journeys less awkward for pregnant women and fellow passengers."</p>
<p>The 'Mind the Bump' report, commissioned by LU, also highlighted a wider problem of lack of consideration for expectant mums' needs. </p>
<p>From restaurants that ignore dietary requirements to bosses and colleagues who fail to accept that pregnant employees have to slow down, the research shows that there is a need for Londoners to behave more considerately towards pregnant women in all aspects of day-to-day life:</p>
<ul>
<li>More than two thirds (71 per cent) of pregnant women in the Capital cited rude and discourteous behaviour as a growing source of anxiety and stress during pregnancy </li>
<li>One in three (36 per cent) frequently felt they had to avoid public transport for fear of having to stand for the duration of the journey </li>
<li>One in five (20 per cent) of expectant mums in the Capital spend more than &pound;100 on taxis and private vehicles during their pregnancy to avoid situations where they may have to stand for long periods of time on the Tube </li>
<li>Almost one in five found restaurants to be unaccommodating of their dietary requirements, while 16 per cent felt their needs were overlooked by employers </li>
<li>More than a third (38 per cent) feared for their health and safety at least once during their pregnancy because of the behaviour of others around them </li>
<li>Women are working longer into their pregnancies than ever before, with one in six women in London working an extra month beyond the recommended cut-off point of 36 weeks </li>
<li>London emerged as the least pregnancy-friendly place in the UK, with 45 per cent of London mums having been shocked by the lack of consideration they were shown while pregnant. </li>
<li>Wales was revealed to be the most pregnancy-friendly area of the country, with only one in 20 (six per cent) expectant mums experiencing inconsiderate treatment</li></ul>
<p>Backing the initiative and commenting on the implications of the findings for the wellbeing of pregnant women, Dame Karlene Davis, General Secretary of the Royal College of Midwives, said: "Offering assistance and support to pregnant women is not just a matter of courtesy; it's a matter of health. </p>
<p>"Pregnancy is stressful enough without extra fears and worries about coping with difficult and intimidating situations when out and about.</p>
<p>"The Baby on Board badges are a great idea for pregnant women and fellow passengers alike - they will help people identify those in need of a seat and in turn make journeys less traumatic for mums-to-be."</p>
<p>LU's Baby on Board badges are available from the LU Customer Services Centre (0845 330 9880)</p>
            <ul>
<li>For further information, please contact us on the number above or email us at <a href="mailto:babyonboard&#64;tube.tfl.gov.uk">babyonboard&#64;tube.tfl.gov.uk</a>  </li>
<li>The survey was carried out on behalf of LU by The Survey Shop, which interviewed 507 women with children under three years of age by telephone in March 2006 </li>
<li>National research results and regional comparisons are available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new report released today by London Underground (LU) calls for greater consideration to be given to the needs of pregnant Tube passengers, as research shows passengers are failing to extend courtesy to expectant mums.The 'Mind the Bump' study revealed";}
        
        


 