


@{ViewBag.Title = "New Malden residents to be offered individual travel advice";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Malden residents to be offered individual travel advice</h1>
        <div class="content-page-press-release">
        13 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People living in 24,000 households in and around New Malden will receive individual advice on how to make their journeys faster, easier, cheaper and healthier when a new service, exclusive to the Royal Borough of Kingston, begins in May.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Bus use has increased by 50 per cent and cycle journeys have doubled
                            
                        </p>
                    </div>
                
            
            
            
<p>Transport for London (TfL), in partnership with Kingston Council, 
is launching a new scheme to encourage people living in and around New Malden to 
use more sustainable forms of transport, like walking, cycling and public 
transport. </p>
<p>Under the Personal Travel Planning (PTP) scheme TfL and the Royal Borough of 
Kingston will aim to contact each household in the New Malden area to offer 
advice, information, and encouragement to help people choose the best way to 
make their journeys. </p>
<p>The scheme is part of the Mayor of London's strategy to encourage Londoners 
to use public transport and cycle and walk more. </p>
<p>During the past five years in London, bus use has increased by 50 per cent 
and cycle journeys have doubled.</p>
<p>From May this year Local Travel Advisors will visit homes to provide tailored 
travel options, giving advice on public transport options, cycling and walking 
routes. </p>
<p>Ben Plowden, Managing Director, Group Communications, TfL, said: "Many people 
are keen to choose healthier and more environmentally friendly ways to travel, 
but are unsure of what options are open to them. </p>
<p>"By contacting people individually we will be able to provide the best 
journey options for their needs.</p>
<p>"Small changes like cycling to the gym or local shops or even walking 
children to school a couple of times a week can help to reduce congestion, 
improve health and save money. </p>
<p>"Transport for London is investing to improve bus services and cycling and 
walking facilities and we want to make sure Londoners know how to take advantage 
of those improvements." </p>
<p>
<h2>Good going</h2>
<p>
<p>Councillor Patricia Bamford, Executive Member for Transportation and 
Sustainable Development, Kingston Council, said: "Following on from our success 
as 'Good Going borough of the year,' we are delighted to have been selected to 
run this project, which is the largest of its type in the UK. </p>
<p>"If it is a success we aim to roll this out to other parts of the borough and 
that two thirds of our population will have received personalised advice by 
2009." </p>
<p>TfL is trialling the PTP scheme in the Royal Borough of Kingston, with the 
results of the trial will be analysed with a view to extending it to other areas 
in the capital. </p>
<p>TfL has recently allocated the Royal Borough of Kingston:</p>
<ul>
<li>&pound;645,000 for investment in cycling and walking 
</li><li>&pound;525,000 for bus priority schemes 
</li><li>&pound;575,000 for road safety improvements</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL), in partnership with Kingston Council, is launching a new scheme to encourage people living in and around New Malden to use more sustainable forms of transport, like walking, cycling and public transport. Under the Personal";}
        
        


 