


@{ViewBag.Title = "New double-decker buses arrive for Camden and the West End";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New double-decker buses arrive for Camden and the West End</h1>
        <div class="content-page-press-release">
        20 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Twenty-eight state of the art Enviro400 buses funded by Transport for London (TfL) have arrived for route 24 - the largest number of this new type on any route in London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are very pleased to be among the first cities to use this new generation of buses
                            
                        </p>
                    </div>
                
            
            
            <p>The buses provide seven extra seats, increasing the number available on the lower deck to 26. </p>
<p>There is also a wider entrance than usual and more space for passengers using wheelchairs or with pushchairs.</p>
<p>They are also fitted with all the equipment required as standard on all new London Buses including low floor step free layout on the lower deck, on-board CCTV, tinted glass, automatic heating system, wheelchair ramp and front 'kneeling' system. </p>
<p>London Buses Fleet Development Manager, Mike Winter, said:"We are very pleased to be among the first cities to use this new generation of buses. </p>
<p>"Their increased capacity will make journeys more comfortable for everybody who travels on route 24."</p>
<p>Chief Operating Officer at Metroline, Sean O'Shea, commented: "Ongoing investments and improvements to services play a crucial part in encouraging the use of public transport. </p>
<p>"Our main objective is to be the best bus service provider in London and our investment in new, modern buses represents an important step in this direction."</p>
<p>The new buses are operating from Metroline's Holloway garage and all 28 are now in service. </p>
            <ul>
<li>London's bus network is Europe's busiest public transport system carrying over six million people every weekday using 7000 vehicles on 700 routes</li>
<li>Route 24 runs from Hampstead to Pimlico and is operated by Metroline</li>
<li>Metroline operates 96 routes across the Capital, a total of 13.5 per cent of London buses</li>
<li>The buses were designed and produced by Alexander Dennis Limited (ADL)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The buses provide seven extra seats, increasing the number available on the lower deck to 26. There is also a wider entrance than usual and more space for passengers using wheelchairs or with pushchairs.They are also fitted with all the equipment required";}
        
        


 