


@{ViewBag.Title = "North London commuters to benefit from secure cycle parking in Finsbury Park";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>North London commuters to benefit from secure cycle parking in Finsbury Park</h1>
        <div class="content-page-press-release">
        23 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Commuters in North London will have the chance to cut their journey times from tomorrow when the Capital's biggest staffed cycle park opens in Finsbury Park.
        
    </div>



 <div class="on-this-page">
<p>Cycling is one of the quickest ways to get around the Capital and 
the new Finsbury Park Cycle Park, installed by Transport for London (TfL), will 
enable north Londoners to cycle to Finsbury Park, leave their bicycles in secure 
and weather proof surroundings and continue their journeys by bus, rail or 
Tube.</p>
<p>The facility, at one of the busiest transport interchanges outside central 
London, marks the completion of the latest phase of TfL's &pound;10m Finsbury Park 
Transport Interchange Project. </p>
<p>The cycle park will be staffed during peak hours, and provide 24-hour secure 
parking for 125 bicycles, using a new smart card operated lock system that TfL 
is piloting at the facility. </p>
<p>Users will be able to use the cards to access the cycle park 24- hours-a-day, 
with staff on hand to provide and top up cards at peak hours during the week, 
and throughout the day at weekends.</p>
<p>Located on Stroud Green Road, the cycle park is adjacent to both Station 
Place bus station and Finsbury Park, and provides cyclists with direct access to 
the park and the London Cycle Network+ (LCN+).</p>
<p>Barry Broe, Director of Transport Planning and Policy at TfL, said:<br>"More 
than 36,000 people use Finsbury Park station every weekday morning and the new 
facility will give them the option to cycle to the station and leave their bike 
safe in the knowledge it will be protected from both the weather and theft.</p>
<p>"The Finsbury Park Cycle Park is an important pilot project, and one of the 
many ways TfL is seeking to continue the increase in cycle usage that has been 
achieved in recent years."</p>
<p>Jeremy Corbyn, MP for Islington North, said:"As a keen cyclist myself, I am 
aware how important it is to have a secure place to leave one's bike. </p>
<p>"I hope and believe this facility will encourage more people to cycle to 
Finsbury Park, leave their bike, then travel on by public transport. It is a 
very welcome development."</p>
<p>
<h2>Secure parking</h2>
<p>
<p>Jennette Arnold, Assembly Member for North East London, said: "Finsbury Park 
is a key transport interchange for my constituents, many of them keen cyclists. 
</p>
<p>"So I'm delighted that this station is getting the first secure staffed cycle 
park in London. </p>
<p>"The number of cycle journeys on London's major roads has doubled during the 
last five years, plus London is set to host the start of the Tour de France next 
year, so it's an exciting time."</p>
<p>TfL is trialling the facility at Finsbury Park. Feedback from its users will 
help to improve the facility and inform the design of future bike parks at other 
major transport interchanges in London.</p>
            <ul>
<li><a href="http://www.constructionphotography.com/clients/tfl">Photographs </a>from the launch of the cycle park will be available from 3pm on Friday, 24 March </li>
<li>The Finsbury Park Cycle Park will be staffed Monday to Friday, from 06.00 - 10.00 and 16.00 - 20.00, and Saturdays and Sundays from 08.00 - 18.00. Staff will be in attendance during those hours in order to issue smart cards, top up credit on the cards and to help with any queries </li>
<li>Cyclists will have 24-hour access to the facility through their smart cards, which they will need to swipe to get in to the cycle parking area. </li>
<li>Parking will cost 50p per bicycle for a 24-hour period </li>
<li><a>Further information </a>on the facility and an application form for a smart card is available from cycle park staff </li>
<li>A new bicycle locking system, designed to enhance the security of the bikes parked in the facility, is being piloted by TfL at the Cycle Park. If successful, similar facilities may be rolled out to other London locations. The system, which has been imported from Belgium, has been modified in order to accommodate more of the cycle frames currently in use in London </li>
<li>Owners of bicycles with wide down tubes, modern sports or other 'irregular' frames are advised to take their bikes along to the Cycle Park office with them when applying for a smart card, to check whether their bike can be accommodated </li>
<li>On-street cycle parking spaces, known as Sheffield Stands, in and around the bus station will continue to be available for use </li>
<li>The Finsbury Park Cycle Park cost &pound;675,000 to build, and was jointly funded by TfL, Finsbury Park Partnership, London Borough of Haringey and the Heritage Lottery Fund </li>
<li>The Cycle Park is part of a &pound;10m TfL improvement project at the Finsbury Park Transport Interchange. The earlier stages of the project have provided better access to buses, a segregated cycle lane, a passenger drop-off point, a new taxi rank, bus set-down bays and low level bus shelters at Wells Terrace that are equipped with a new integrated CCTV / public address system to help improve safety and security within the station. <br>The final phase of the improvement scheme, which will provide a larger covered ticket hall and new WAGN ticketing facilities at Station Place, as well as a new passenger information point and further improvements to safety and security, is due to be completed in winter 2006. <br>New passenger thoroughfares will be completed in time for the <a href="http://www.tfl.gov.uk/finsburypark">opening of the new Arsenal Stadium</a> </li>
<li>The Finsbury Park Transport Interchange (FPTI) improvement scheme is a joint initiative of TfL, Finsbury Park Partnership, London Borough of Islington, London Borough of Haringey and the Lottery Heritage Fund, with support from Network Rail and WAGN </li>
<li>The Cycle Park also compliments the Finsbury Park Restoration Project, a &pound;5m scheme to regenerate the park. As part of the restoration project, a new cycle / pedestrian path has been built from the main carriageway of the park down to the new facility </li>
<li>The Cycle Park will access the London Cycle Network+ (LCN+) via the existing improved cycle lane connections to Stroud Green and Seven Sisters Roads </li>
<li>The number of recorded cycle journeys on London's major roads have risen by 100 per cent during the past five years (59,000 to 119,000 recorded journeys a week) </li>
<li>Investment in cycling has risen during the past five years from &pound;5.5m in 2000 to &pound;20m in 2005/06. </li>
<li>In 2006/07 TfL will invest &pound;24m in cycling infrastructure, training, promotion and education </li>
<li>TfL, with the London boroughs, is working to create the London Cycle Network+, a 900km network for cyclists. The project is due for completion in 2009/10 </li>
<li>The number of cyclists killed or seriously injured on the Capital's roads has fallen by 40 per cent during the past five years, achieving the Mayor of London's target five years ahead of schedule.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Cycling is one of the quickest ways to get around the Capital and the new Finsbury Park Cycle Park, installed by Transport for London (TfL), will enable north Londoners to cycle to Finsbury Park, leave their bicycles in secure and weather proof";}
        
        


 