


@{ViewBag.Title = "One third of Tube stations to be accessible by 2013";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>One third of Tube stations to be accessible by 2013</h1>
        <div class="content-page-press-release">
        24 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has announced that one third of Tube stations will have step-free access by 2013 and will, if possible, accelerate accessibility works ahead of the 2012 Olympics and Paralympics.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are now moving towards delivering on our accessibility commitments
                            
                        </p>
                    </div>
                
            
            
            <p>This will more than double the number of step-free stations on 
the Underground. </p>
<p>LU also confirmed that it is on schedule to deliver on its commitment to make 
25 per cent of stations step-free by 2010.</p>
<p>The improvements are funded by Transport for London's (TfL's)&pound;10bn 5-Year 
Investment Programme.</p>
<p>Speaking at the Disability Capital conference, LU Managing Director Tim 
O'Toole said: "London Underground is investing more than ever before to make the 
Tube as accessible as possible as quickly as possible for all customers. </p>
<p>"By 2010, 25 per cent of Tube stations will have step-free access and this 
will increase to one third of all stations by 2013. </p>
<p>"Where necessary, works will be prioritised to ensure that as many stations 
as possible serving Olympic venues have step-free access for the 2012 Games.</p>
<p>"Significant progress has been made during the past year. Feasibility studies 
to improve accessibility have been completed at 90 stations allowing LU to 
understand the extent of the engineering works that need to take place. </p>
<p>"We are now moving towards delivering on our accessibility commitments with 
work currently underway at four stations."</p>
<p>
<h2>Government funding</h2>
<p>
<p>St. Pancras mainline station supported by King's Cross St. Pancras 
Underground station will have a key role to play in getting people to and from 
the main Olympic site at Stratford site via the high-speed Olympic Javelin 
service during the 2012 Games. </p>
<p>The station is the Tube's busiest and most congested with 84 million 
passengers each year and the Government is funding the extensive redevelopment 
of the Underground station. </p>
<p>The new Western Ticket Hall will open later this year while the Northern 
Ticket Hall opens in 2010. </p>
<p>The opening of the Western Ticket Hall will make the Metropolitan and Circle 
line platforms accessible while the opening of the Northern Ticket Hall will 
mean that all ten platforms serving the Circle, Hammersmith & City, 
Metropolitan, Northern, Piccadilly and Victoria lines will be fully accessible 
in good time for the Olympics.</p>
<p>Currently 45 stations out of 275 have step-free access from street to 
platform with work underway on a further four. </p>
<p>The prioritisation of which stations are to be made accessible is focussed on 
both the number of step-free journeys that individual stations would make 
possible as well as demographic information relating to where our disabled, 
elderly and mobility impaired customers live, and where they would like to 
travel to. </p>
<p>Tim O'Toole continued: "Many stations do not currently meet the needs of 
customers with physical, hearing or visual impairments. </p>
<p>"All 253 LU-owned stations are due to be refurbished and modernised by 2011 
and accessibility features will be added to each station.</p>
<p>
<h2>Refurbishing fleet</h2>
<p>
<p>"Accessibility is about more than simply-step free access and features such 
as induction loops, tactile paving and additional and more visible help and 
information points will be added to stations as modernisations and 
refurbishments are completed."</p>
<p>LU is also replacing and refurbishing its train fleet. </p>
<p>The entire District line fleet is currently being refurbished to include the 
provision of multi-purpose areas capable of accommodating wheelchair users and 
on board dot matrix indicators.</p>
<p>The Victoria and sub-surface lines will be getting brand new trains from 2009 
onwards and accessibility will be a key feature.</p>
<p>New and refurbished trains are an important element in increasing 
accessibility. </p>
<p>To improve accessibility, every new or refurbished train will have 
destination information in both audible and visual format and audible and visual 
warnings will be given to indicate closing doors.</p>
<p>Contrasting colours will assist colou
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube 
</li><li>Since 1995, the Disability Discrimination Act (DDA) has required that LU make reasonable adjustments to any policies, procedures or practice that makes it unreasonably difficult for disabled customers to use its service 
</li><li>All station and train staff receive Disability Equality training as part of their annual refresher training. We have recently completed the first year of this training with more than 8,000 staff being trained. <br>This training raises awareness of disability, equality and access issues, and provides a greater understanding of the barriers disabled people face and what front-line staff can do to help. <br>This training will continue to be developed and delivered in coming years</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This will more than double the number of step-free stations on the Underground. LU also confirmed that it is on schedule to deliver on its commitment to make 25 per cent of stations step-free by 2010.The improvements are funded by Transport for London's";}
        
        


 