


@{ViewBag.Title = "Race against the clock for chance to take part in 2007 Tour de France";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Race against the clock for chance to take part in 2007 Tour de France</h1>
        <div class="content-page-press-release">
        16 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following the announcement that London has won the right to host the 2007 Tour de France Grand Depart, applications from people wanting to play a key role in the world's greatest cycle race have come flooding in.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
Volunteering is a brilliant way of getting involved in cycling and we will be giving specialist training for this role
</p>
</div>
<p>Just five weeks since the route announcement, more than 1,200 have signed up to marshalling the race in London and in Kent. </p>
<p>The incredible response that Transport for London (TfL), the coordinator of the event, has already received means that only a few hundred volunteer places are now left. </p>
<p>Volunteer marshals are being asked to help create a safe and enjoyable environment for the riders and spectators who will witness the Tour's first ever Grand Depart in the UK. </p>
<p>With almost 1000 junctions to marshal and three million people to help enjoy the race, approximately 2000 volunteers are needed to assist with managing crossing points, controlling and assisting the crowds of spectators, and ensuring that cars don't try to use closed roads.</p>
<p>Mick Hickford, Head of Special Projects at TfL, said:"The Tour is not just the greatest cycle race but one of the greatest sporting events in the world and marshalling at the 2007 Grand Depart will be a unique opportunity for a whole generation of British cycling fans.</p>
<p>"The fantastic response we have had to our call for volunteers demonstrates the incredible enthusiasm the British public has for hosting the start of the Tour de France."</p>
<p>Robert Jefferies, Volunteer Support Officer at British Cycling, said:"Volunteering is a brilliant way of getting involved in cycling and we will be giving specialist training for this role. </p>
<p>"British Cycling hopes that the opportunity to marshal during the British stages of the Tour de France in 2007 will encourage even more people to get involved with the sport in this country, whether as participants or supporters."</p>
<p>For more information on volunteering at the Grand Depart of Tour de France, please visit the Tour de France website </p>
<ul>
    <li>Marshals are needed for the following locations - 7 July, Westminster. 8 July, Westminster to Rotherhithe, Rotherhithe to Woolwich, Woolwich to Dartford, Dartford to Gravesend, Medway Towns, Maidstone, Tonbridge to Royal Tunbridge Wells, Royal Tunbridge Wells to Tenterden, Tenterden to Ashford, Sellindge to Canterbury
    </li>
    <li>2007 will be the first time the Tour has visited London and the first ever Grand Depart in the UK
    </li>
    <li>The Tour de France last visited Britain in July 1994
    </li>
    <li>Three million Britons lined the streets during the two stages to Brighton and then Portsmouth and the event was a great success
    </li>
    <li>Further details of the race are available at www.tourdefrancelondon.com and full route maps, a digital fly through, and images are available on request
    </li>
    <li>Details of the full route of the Tour de France 2007 outside the UK, will be announced by the Amaury Sport Organisation later in the year
    </li>
    <li>The number of recorded cycle journeys on London's major roads have risen by 100 per cent during the past five years (59,000 to 119,000 recorded journeys a week)
    </li>
    <li>Investment in cycling has risen during the past five years from &pound;5.5m in 2000 to &pound;20m in 2005/06
    </li>
    <li>In 2006/07 TfL will invest &pound;24m in cycling infrastructure, training, promotion and education
    </li>
    <li>TfL, with the London boroughs, is working to create the London Cycle Network, a 900km network for cyclists. The project is due for completion in 2009/10
    </li>
    <li>The number of cyclist killed or seriously injured on the Capital's roads has fallen by 40 per cent during the past five years, achieving the Mayor of London's target five years ahead of schedule<br /></li>
</ul>
<p>Event details</p>
<ul dir="ltr">
    <li>The opening ceremony will take place on Friday, 6 July 2007 in Trafalgar Square
    </li>
    <li>The Prologue will take place on Saturday, 7 July 2007. It will start on Whitehall, in front of Trafalgar Square. The riders will race past Downing Street towards Parliament Square on an 8km course. <br />Turning at the Houses of Parliament, the route goes along Victoria Street, past Westminster Abbey and in front of Buckingham Palace. <br />After the Palace the riders will pass through the middle of Wellington Arch, before looping through London's most famous park, Hyde Park. <br />Finally the riders will pass back around Hyde Park Corner and along Constitution Hill, before ending on The Mall with Buckingham Palace as a backdrop.
    </li>
    <li>Stage 1 will take place on 8 July 2007 and will take in some of Britain's most picturesque and historic towns. <br />The route starts on The Mall, runs through Admiralty Arch and then proceeds alongside the Thames down to the Houses of Parliament and Big Ben. <br />The riders will cross The Thames before riding past the London Eye and looping back to take in St Paul's Cathedral and the Tower of London.<br />The riders will pass over Tower Bridge, through Bermondsey and Deptford to Greenwich where they will cross the Greenwich Meridian Line, where all time zones are measured from. <br />The route then passes through Woolwich, Abbey Wood and Erith, before leaving London for Dartford in Kent.<br />The route then goes through Gravesend and on to Medway, dominated by Rochester Castle and Cathedral. Passing on through Maidstone the route will take the riders to Tonbridge and then on to Royal Tunbridge Wells. <br />The route winds through the beautiful Kent countryside, through the picturesque town of Tenterden and past Ashford to a potentially nail biting finish in Canterbury.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Just five weeks since the route announcement, more than 1,200 have signed up to marshalling the race in London and in Kent. The incredible response that Transport for London (TfL), the coordinator of the event, has already received means that only a few";}
        
        


 