


@{ViewBag.Title = "Stockwell bus drivers explore a new route";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Stockwell bus drivers explore a new route</h1>
        <div class="content-page-press-release">
        27 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has been working with the BBC to set up a reading group for bus drivers at Stockwell Bus Garage.
        
    </div>



 <div class="on-this-page">
<p>It's all part of the BBC's Reading and Writing campaign, called RaW. </p>
<p>The scheme encourages people to enjoy reading and writing more. </p>
<p>Twelve authors, including Ruth Rendell, Richard Branson and Maeve Binchy, have written short 'Quick Reads' to inspire people to get into the reading habit.</p>
<p>Some of the readers in the Stockwell group speak English as a second language and want to develop their linguistic skills. Others say they simply do not read enough and want to get back in the swing of reading regularly again.</p>
<p>Driver Horatio Teixeira, aged 42, who has been driving for five years, said: "I am always trying to improve my English and so am enjoying taking part in this. </p>
<p>"I have read two books so far, usually in my coffee breaks."</p>
<p>Operations manager at Stockwell bus garage, Graham Johnson, said: "We have got a small informal lending library here at the garage anyway and a lot of people already read on breaks so we thought this was a good way of taking it one step further. </p>
<p>"The aim was to encourage those who didn't read so much and support them as they developed their reading skills."</p>
<p>The drivers will be discussing the books and the campaign during BBC London's 94.9FM's on-air Book Club on Wednesday March 29, between 10.30pm and 11pm, on the Simon Lederman Show. </p>
<p>
</p>
<ul>
    <li>Photographs of the participating bus drivers are available on request</li>
    <li>Stockwell Bus Garage, in Binfield Road, is one of Go Ahead's largest garages in London. A total of 586 drivers and 200 buses are based at the garage</li>
    <li>Operations Manager Graham Johnson is available for interview</li>
    <li>For more information about RaW visit <a href="http://www.bbc.co.uk">www.bbc.co.uk</a> or call the free phone line 08000 150950</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It's all part of the BBC's Reading and Writing campaign, called RaW. The scheme encourages people to enjoy reading and writing more. Twelve authors, including Ruth Rendell, Richard Branson and Maeve Binchy, have written short 'Quick Reads' to inspire";}
        
        


 