


@{ViewBag.Title = "TfL welcomes support for North London Railway plans";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes support for North London Railway plans</h1>
        <div class="content-page-press-release">
        15 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Rail today welcomed the findings of the London Assembly Transport Committee's report into two routes on the North London Railway.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
From Autumn 2007, we will begin to deliver much needed improvements
</p>
</div>
<p><!-- #EndEditable -->The report endorses TfL's plans to revitalise the neglected railway once it is transferred to TfL next year with a programme of improvements including enhanced rail services, safer stations, Oyster ticketing, better customer services and new trains.</p>
<p>Ian Brown, Managing Director of TfL London Rail said: "The North London Railway has suffered from decades of neglect. </p>
<p>"We are pleased the committee has endorsed TfL's plans to upgrade the North London Railway. </p>
<p>"From Autumn 2007, we will begin to deliver much needed improvements to the railway, putting passengers' needs first ahead of its vital role in the 2012 Olympics and Paralympics.</p>
<p>"From 2007 we'll be delivering improvements to the set of services collectively known as the North London Railway to make it an integral part of London's transport network."</p>
<p>The Committee conducted a wide ranging investigation into the standard of the current services on North London Line and the Gospel Oak to Barking route. </p>
<p>They consulted stakeholders on their views and engaged with TfL on the plans for the North London Railway following the transfer in November 2007. </p>
<p>The findings in the report conclude from stakeholder responses that passengers are generally discontented with the current service provision. </p>
<p>Specifically passengers are dissatisfied with:</p>
<ul>
    <li>The perceived poor reliability and frequency of trains
    </li>
    <li>Unattractive stations with poor passenger facilities
    </li>
    <li>Ageing trains
    </li>
    <li>Unsatisfactory ticketing arrangements</li>
</ul>
<p>To ensure passenger's needs are met, the Committee has made the following recommendations in the report: </p>
<ul>
    <li>Customer service should be improved with more ticket gates
    </li>
    <li>Oyster pre-pay and ticketing for all main line rail destinations should be made available
    </li>
    <li>Staff deployed on trains and platforms
    </li>
    <li>Network Rail should give serious consideration to the electrification of the Gospel Oak to Barking Line
    </li>
    <li>TfL should ensure tight project management to achieve delivery ahead of the 2012 Olympic Games and Paralympics</li>
</ul>
<p>Shortly after the transfer to TfL in Autumn 2007, passengers should see some immediate benefits on the North London Railway which address the issues raised in the report. These include:</p>
<ul>
    <li>Additional station staff and facilities to provide improved customer service, security and revenue protection
    </li>
    <li>Oyster ticketing including the ability to use Pay-As-You-Go
    </li>
    <li>Ticket barriers at more stations
    </li>
    <li>Extra train services, running earlier in the morning and later in the evening on all North London Railway routes to align with LU services and provide better integration with other modes</li>
</ul>
<p>Furthermore, over the next five years, TfL plans to deliver further significant improvements, including: </p>
<ul>
    <li>New, higher capacity, accessible trains replacing the existing 30 year old fleet
    </li>
    <li>A &pound;25m station enhancement programme to bring North London Railway stations up to TfL standards
    </li>
    <li>A service frequency improvements on all routes - with the provision of up to eight trains per hour on the core route - Stratford to Willesden</li>
</ul>
<ul>
    <li>TfL is already spending &pound;30million on delivering improved passenger safety and security at suburban stations
    </li>
    <li>Improvements to date on the North London Railway routes include:<br />
    o Installation of CCTV on rolling stock on the North London Line; West London Line and Watford DC<br />
    o BTP accommodation at Highbury and Islington &pound; 66k<br />
    o BTP - Since 2004/5 &pound;2.2million on additional police resources <br />
    o &pound;133k on grafitti clearance <br />
    o Total &pound;3.1 million
    </li>
    <li>Until the transfer of responsibility of the North London Railway to TfL in November 2007 the services will continue to be run by the current franchise operator, Silverlink Train Services Ltd (a subsidary of National Express Group), managed and funded by the Department for Transport</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The report endorses TfL's plans to revitalise the neglected railway once it is transferred to TfL next year with a programme of improvements including enhanced rail services, safer stations, Oyster ticketing, better customer services";}
        
        


 