


@{ViewBag.Title = "TfL welcomes &pound;1.34m transport boost for North Woolwich";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes &pound;1.34m transport boost for North Woolwich</h1>
        <div class="content-page-press-release">
        02 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today welcomed a &pound;1.34m government grant to provide a new footbridge to the Pontoon Dock Docklands Light Railway station.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            New housing and local amenities for the Thames Gateway is dependant on quality transport links
                            
                        </p>
                    </div>
                
            
            
            <p>TfL worked with Newham, the London Development Agency and other partners to co-ordinate and submit the bid for funding to the Department for Transport and Office of the Deputy Prime Minister's Community Infrastructure Fund. </p>
<p>This has secured &pound;15m funding for five transport projects in the Capital, including the Newham project.</p>
<p>TfL Commissioner Peter Hendy said: "New housing and local amenities for the Thames Gateway is dependant on quality transport links. </p>
<p>"The new footbridge will make access safer for the new DLR station at Pontoon Dock and I look forward to working with Newham to deliver the project." </p>
<p>The new footbridge crossing the North Woolwich Road will provide safe access from the Silvertown Quays development to Pontoon Dock station. </p>
<p>The transport link will support new housing planned for Silvertown Quays and provide access to the Thames Barrier Park and River Thames to the south and the Docks and Excel Centre to the north. </p>
<p>Mayor of Newham Sir Robin Wales said:"This is a great step forward in the continuing development of the borough and improvement in transport services.</p>
<p>"Work to construct the footbridge is due to start later this year to complete in 2007/08."<br></p>
            <ul>
<li>Successful bids for the Department for Transport and Office of the Deputy Prime Minister's Community Infrastructure Fund (CIF) was announced by the departments on 16 February 
</li><li>A total of &pound;60m was allocated to projects in London and the South East 
</li><li>The CIF allocations are to meet a cross-government pledge to meet the country's housing needs in a sustainable way 
</li><li>Growth Area Funding (GAF) has also been announced by the government and several London boroughs were successful in securing funding for transport projects 
</li><li>Details are available from the Department for Transport press office on 020 7944 3066 
</li><li>Successful bids for London that were co-ordinated by Transport for London are: 
<ul>
<li>Haringey Heartlands Spine Road - &pound;5m 
</li><li>Langdon Park DLR Station, Tower Hamlets - &pound;5.7m<br>Pontoon Dock Station Bridge, North Woolwich - &pound;1.34m 
</li><li>Landmark Site Tidal Basin roundabout, Royal Docks - &pound;0.96m 
</li><li>Newham District Hospital Development - &pound;1.7m</li></ul>
<li>The funding period runs from 1 April 2006 to 31 March 2008</li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL worked with Newham, the London Development Agency and other partners to co-ordinate and submit the bid for funding to the Department for Transport and Office of the Deputy Prime Minister's Community Infrastructure Fund. This has secured &pound;15m";}
        
        


 