


@{ViewBag.Title = "TfL issues new bond";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL issues new bond</h1>
        <div class="content-page-press-release">
        17 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) on Thursday launched a new &pound;200m bond as part of the financing for its &pound;10bn, 5-year Investment Programme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This shows the market's confidence and increasing familiarity with Transport for London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jay Walder</div>
            <div class="quotee-job-title">Managing Director of Finance and Planning</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This shows the market's confidence and increasing familiarity with Transport for London
                            
                        </p>
                    </div>
                
            
            
            
<p>The bond was significantly oversubscribed, thereby enabling an 
even more competitive rate of interest than TfL's first bond, which was launched 
in December 2004.</p>
<p>The interest rate on the new &pound;200m, 25-year bond was 4.5 per cent. This 
compares favourably with the interest rate on the previous bond of 5 per 
cent.</p>
<p>The December 2004 bond was already priced very competitively, putting TfL's 
bond very close - at a premium of just 0.50 percentage points - to central 
government borrowing. But the market has trimmed this even further to just 0.38 
percentage points over government borrowing.</p>
<p>Jay Walder, TfL's Managing Director of Finance and Planning, said: "This 
shows the market's confidence and increasing familiarity with Transport for 
London. </p>
<p>"It also shows the markets have confidence in our ability to manage and 
deliver day-to-day services and the 5-year Investment Programme.</p>
<p>"We are very pleased with the demand for this bond. TfL undertook an 
extensive series of meetings with major investors, both British-based and 
international, ahead of the launch to ensure the maximum interest.</p>
<h2>Major projects</h2>
<p>"These funds will be used to deliver major projects to improve travelling for 
Londoners and help keep the Capital at the forefront of major world cities.</p>
<p>"This marks a further, significant step in the expansion of our financial 
stakeholders, based on the growing perception of TfL as a high quality public 
sector borrower. </p>
<p>"This is reinforced by our AA ratings and a 20 per cent risk weighting 
from the FSA."</p>
<p>Lead managers were Morgan Stanley and the Royal Bank of Scotland.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bond was significantly oversubscribed, thereby enabling an even more competitive rate of interest than TfL's first bond, which was launched in December 2004.The interest rate on the new &pound;200m, 25-year bond was 4.5 per cent. This compares";}
        
        


 