


@{ViewBag.Title = "TfL welcomes &pound;1m housing boost for Newham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes &pound;1m housing boost for Newham</h1>
        <div class="content-page-press-release">
        02 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today welcomed a &pound;1m government grant to provide new land for housing by the removal of a roundabout at the Royal Docks.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will help make future schemes to provide community facilities viable
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London worked with Newham, the London Development Agency and other partners to co-ordinate and submit the bid for funding to the Department for Transport and Office of the Deputy Prime Minister's Community Infrastructure Fund. </p>
<p>This has secured &pound;15m funding for five transport projects in the capital, including the Newham project.</p>
<p>Transport for London Commissioner Peter Hendy said: "The release of land at this Landmark Site on the Royal Docks will help provide new housing and community facilities for the future. </p>
<p>"I welcome the funding and look forward to working with Newham to deliver this improvement."</p>
<p>The removal of the Tidal Basin roundabout will increase the area available for development while safeguarding local wind conditions on Royal Victoria Dock and views to the City. </p>
<p>It will help make future schemes to provide community facilities viable. </p>
<p>Work to remove the roundabout is due to start later this year to complete in 2007/08.</p>
<p>
            <ul>
<li>Successful bids for the Department for Transport and Office of the Deputy Prime Minister's Community Infrastructure Fund (CIF) were announced by the departments on 16 February 
</li><li>A total of &pound;60m was allocated to projects in London and the South East 
</li><li>The CIF allocations are to meet a cross-government pledge to meet the country's housing needs in a sustainable way 
</li><li>Growth Area Funding (GAF) has also been announced by the government and several London boroughs were successful in securing funding for transport projects. Details are available from the Department for Transport press office 020 7944 3066 
</li><li>Successful bids for London that were co-ordinated by Transport for London are: 
<ul>
<li>Haringey Heartlands Spine Road - &pound;5m 
</li><li>Langdon Park DLR Station, Tower Hamlets - &pound;5.7m 
</li><li>Pontoon Dock Station Bridge, North Woolwich - &pound;1.34m 
</li><li>Landmark Site Tidal Basin roundabout, Royal Docks - &pound;0.96m 
</li><li>Greenwich District Hospital Development - &pound;1.7m</li></ul>
<li>The funding period runs from 1st April 2006 to 31st March 2008.</li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London worked with Newham, the London Development Agency and other partners to co-ordinate and submit the bid for funding to the Department for Transport and Office of the Deputy Prime Minister's Community Infrastructure Fund. This has";}
        
        


 