


@{ViewBag.Title = "TfL supports accessible London rail plan";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL supports accessible London rail plan</h1>
        <div class="content-page-press-release">
        24 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today welcomed the recommendations outlined in the Department for Transport's Railways for All strategy which was launched by the Parliamentary Under Secretary of State for Transport Derek Twigg.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We welcome the creation of a much needed programme of accessibility for rail
                            
                        </p>
                    </div>
                
            
            
            <p>The Railways for All strategy describes how transport funding will be allocated to improve accessibility at rail stations across the UK.</p>
<p>This will be achieved by improving the delivery of customer information and providing level access at stations. </p>
<p>It also sets a deadline by which all trains must comply with the Rail Vehicle Accessibility Regulations - 2020.</p>
<p>During consultation on the strategy, TfL submitted a number of recommendations to secure improvements for passengers in London and to ensure that their needs are met. </p>
<p>A total of 47 stations have been identified for inclusion in phase one of the works. Fifteen of these are in London and significantly, they include the important transport interchanges of Clapham Junction and Lewisham. </p>
<p>Ian Brown, Managing Director, TfL London Rail, said: "We welcome the creation of a much needed programme of accessibility for rail and are happy it has taken account of some of our recommendations.</p>
<p>"We would also welcome the inclusion of other key interchanges such as Finsbury Park in subsequent phases of the programme."</p>
<p>Importantly, Denmark Hill station is included in phase one. It provides access to Kings College Hospital and the Maudsley Hospital adjacent to the station, in south London. This was a key recommendation made by TfL. </p>
<p>The 15 London stations complement TfL's programme of investment in Disability Discrimination Act (DDA) improvements. </p>
<p>In the last year, TfL has invested &pound;3.39m in accessibility improvements at National Rail stations in London. </p>
<p>These include: </p>
<ul>
<li>Step free access at Norbiton station 
</li><li>Low window ticket office facilities for wheelchair users at seven stations 
</li><li>Seating designed to good practice access standards 
</li><li>Accessible shelters at Walthamstow Queens Road station </li></ul>
<p>For passengers with hearing difficulties: </p>
<ul>
<li>Customer Help points with induction loops which help hearing impaired customers, at 160 stations across London 
</li><li>Induction loops which help hearing impaired customers, for public address systems on platforms at over 100 stations </li></ul>
<p>
            <ul>
<li>The London stations included in phase one of the Railways for All programme are: Balham; Blackheath; Clapham Junction; Denmark Hill; Herne Hill; Kew Gardens; Kingston; Lewisham; New Cross Gate; Norwood Junction ; Orpington; Purley ; Putney ; Streatham Hill and Tulse Hill 
</li><li>Stations with low window facilities delivered by TfL: Bexleyheath; Charlton; Abbey Wood; Eltham; Norbiton; Kenley and City Thameslink 
</li><li>All buses in London are fully accessible with the exception of the 'heritage' routes</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Railways for All strategy describes how transport funding will be allocated to improve accessibility at rail stations across the UK.This will be achieved by improving the delivery of customer information and providing level access at stations. It also";}
        
        


 