


@{ViewBag.Title = "TfL welcomes &pound;5m transport boost for Haringey";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes &pound;5m transport boost for Haringey</h1>
        <div class="content-page-press-release">
        02 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today welcomed a &pound;5m government grant to provide a new road link through the Haringey Heartlands regeneration area.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Plans for up to 2,000 homes and 1,500 jobs at Haringey Heartlands, are dependant on good transport links
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London worked with Haringey, the London Development Agency and other partners to co-ordinate and submit the bid for funding to the Department for Transport and Office of the Deputy Prime Minister's Community Infrastructure Fund. </p>
<p>This has secured &pound;15m funding for five transport projects in the capital, including the Haringey project.</p>
<p>Transport for London Commissioner Peter Hendy said: "Regeneration projects such as Haringey Heartlands are dependant on quality transport links. </p>
<p>"The project will boost housing, leisure, retail and employment opportunities for the area and I look forward to working with Haringey to deliver this new road." </p>
<p>Currently a brownfield site, plans for up to 2,000 homes and 1500 jobs at Haringey Heartlands, are dependant on good transport links. </p>
<p>The new north-south highway connecting Western Road and Clarendon Road, and upgrades to existing roads and junctions including improvements for cyclists and pedestrians will make the plans for the seven-year project viable.</p>
<p>Haringey Executive Member for Enterprise and Regeneration Cllr Harry Lister said: "Together with the &pound;4.2m we have secured from the ODPM towards the costs of purchasing a site for a new school at Haringey Heartlands, this is another crucial measure to stimulate private sector investment and realise our plans for the redevelopment of Wood Green."</p>
<p>Work to construct the Haringey Heartlands Spine Road is due to start this year to complete in Spring 2008.</p>
<p>
            <ul>
<li>Successful bids for the Department forTransport and Office of the Deputy Prime Minister's Community Infrastructure Fund (CIF) were announced by the departments on 16 February 
</li><li>A total of &pound;60m was allocated to projects in London and the South East 
</li><li>The CIF allocations are to meet a cross-government pledge to meet the country's housing needs in a sustainable way 
</li><li>Growth Area Funding (GAF) has also been announced by the government and several London boroughs were successful in securing funding for transport projects. Details are available from the Department for Transport press office 020 7944 3066 
</li><li>Successful bids for London that were co-ordinated by Transport for London are: 
<ul>
<li>Haringey Heartlands Spine Road - &pound;5m 
</li><li>Langdon Park DLR Station, Tower Hamlets - &pound;5.7m 
</li><li>Pontoon Dock Station Bridge, North Woolwich - &pound;1.34m 
</li><li>Landmark Site Tidal Basin roundabout, Royal Docks - &pound;0.96m 
</li><li>Greenwich District Hospital Development - &pound;1.7m</li></ul>
<li>The funding period runs from 1st April 2006 to 31 March 2008.</li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London worked with Haringey, the London Development Agency and other partners to co-ordinate and submit the bid for funding to the Department for Transport and Office of the Deputy Prime Minister's Community Infrastructure Fund. This has";}
        
        


 