


@{ViewBag.Title = "Transport Commissioner launches London Construction Consolidation Centre";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Commissioner launches London Construction Consolidation Centre</h1>
        <div class="content-page-press-release">
        21 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Peter Hendy, London's Transport Commissioner, today officially launched the London Construction Consolidation Centre (LCCC) in South Bermondsey.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Freight plays a critical role in maintaining London's position as a world-class city
                            
                        </p>
                    </div>
                
            
            
            <p>Funded by Transport for London (&pound;1.85m), Stanhope and Bovis Lend Lease (&pound;1.35m) and managed by Wilson James, this innovative project aims to ensure efficient and reliable handling and distribution of freight while making the process more environmentally friendly. </p>
<p>Deliveries which would normally go straight to site (which can be as many as 100 a day towards the end of a major project) come instead to the LCCC, then a single vehicle transfers only the required amount of materials for that day's work to the site at an agreed time.</p>
<p>Initial trials of the LCCC since September 2005 have already shown significant improvements: </p>
<ul>
<li>Reliability has increased to 91 per cent of goods being delivered in the right quantity to the right place at the right time, undamaged, compared to the construction industry average of less than 50 per cent, and the LCCC aims to improve reliability still more to 97 per cent 
</li><li>Congestion is being eased, with a reduction of at least 50 per cent of construction traffic trips into central London 
</li><li>Drivers are saving on average two hours per journey, cutting out the need to drive into central London and time waiting on site for unloading</li></ul>
<p>Peter Hendy said: "Freight plays a critical role in maintaining London's position as a world class city - without a sustainable freight transport and servicing industry, London's economy would simply grind to a halt. </p>
<p>"Consolidation allows us to make the most efficient use of limited road space and has a wealth of additional benefits, including reduced drivers' hours and improved reliability. </p>
<p>"As London continues to grow it is vital that we continue to support innovative projects like this one to promote best practice across the freight industry."</p>
<p>Four major Stanhope/Bovis Lend Lease developments with a construction value of around &pound;550m have signed up to use the LCCC. </p>
<p>Unilever House has been using the centre since September 2005, and developments at Bow Bells House, 35 Basinghall Street and 1 Coleman Street, should start using the LCCC early in the next financial year.</p>
<p><br></p>
            <ul>
<li>Photos of Peter Hendy's visit to the LCCC will be available from Paul Perkins from Wednesday 22 March - please call 07976 366 850 or email <a href="mailto:paul&#64;perkyproductions.co.uk">paul&#64;perkyproductions.co.uk</a>. Generic photos of the LCCC are available now from the TfL Press Office 
</li><li>The current funding will support the site for two years until September 2007. Constructing Excellence are monitoring the performance of the centre, and Wilson James are responsible for promoting it within the industry. <br>By attracting more sites to use the centre, it should become self funding and continue as such after September 2007 
</li><li>Additional benefits of the centre include the creation of local jobs, with at least 15 jobs expected to be created over the course of the pilot scheme. <br>The LCCC will also be used as a centre of excellence for vocational training, and a beacon for best practice with continuous improvements made over the course of the trial to increase the capacity of the logistics centre, and enhance the construction supply process 
</li><li>Comments from Partners:<br>Gary Sullivan, Managing Director at Wilson James, said: "The concept builds on the idea developed for delivering materials to BAA's London Heathrow Airport. It is run on the principle that the materials are delivered to the centre ahead of the time they are needed on site. By acting as a 'production buffer' they can then be delivered to the site on a 'just in time' basis, thereby increasing efficiency, providing programme certainty, freeing up valuable space and reducing labour on site, these are just some of the benefits for construction projects. In summary, we are delivering today for tomorrow's productivity."<br>Paul Sims, Bovis Lend Lease Operations Director, added: "Space is usually a problem on any city centre construction site so there's little room to store materials and often restrictions on delivery times for lorries. The consolidation centre is conveniently close to our London projects and large enough to store materials in bulk. Delivery times are predictable because the lorries don't have far to travel and wastage is kept to a minimum because we don't have valuable building materials lying round on site for weeks before we need them. It's an excellent solution to an age old problem."</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Funded by Transport for London (&pound;1.85m), Stanhope and Bovis Lend Lease (&pound;1.35m) and managed by Wilson James, this innovative project aims to ensure efficient and reliable handling and distribution of freight while making the process more";}
        
        


 