


@{ViewBag.Title = "Transport Commissioner unveils plaque recognising CentreComms efforts on 7 July 2005";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Commissioner unveils plaque recognising CentreComms efforts on 7 July 2005</h1>
        <div class="content-page-press-release">
        01 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL's) Commissioner, Peter Hendy CBE, today unveiled a plaque recognising the achievements of CentreComm in keeping London's buses moving following the terrorist attacks on 7 July 2005.
        
    </div>



 <div class="on-this-page">
<p>CentreComm, the 24/7 emergency communication centre, is London Buses' Command and Control complex in partnership with the Metropolitan Police. </p>
<p>The team monitors incidents affecting bus services around the Capital, getting information from bus drivers, the emergency services and other sources within TfL and responding as required to keep the bus service running smoothly. </p>
<p>Peter Hendy said: "Although the efforts of certain individuals on 7 July last year have been recognised both by the general public and also in the New Year's Honours list, it's important to remember that no one individual alone could have achieved what CentreComm did on that terrible day. </p>
<p>"The entire team pulled together and made sure Londoners had a way to get home. </p>
<p>"This plaque is one small way to show our appreciation to the team for the tremendous effort they put into their work."</p>
            <ul>
<li>The plaque is being unveiled at 11.30am today, Wednesday 1 March. <a href="http://www.constructionphotography.com/clients/tfl ">Photos </a>will be available to download  later this afternoon 
</li><li>CentreComm is open 24 hours a day, seven days a week and currently only closes on Christmas Day 
</li><li>CentreComm's main responsibilities include: 
<ul>
<li>Dealing with emergency calls from bus drivers and officials 
</li><li>Liaising with all emergency services 
</li><li>Emergency incident management 
</li><li>Diverting buses 
</li><li>Supplementing rail services in emergencies and letting bus drivers know to accept Tube and train tickets when service is disrupted 
</li><li>Receiving and disseminating accident, assault, theft and vandalism reports 
</li><li>Monitoring over 1,200 traffic cameras across London and dealing with traffic delays 
</li><li>Monitoring six central London piers' emergency call points</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "CentreComm, the 24/7 emergency communication centre, is London Buses' Command and Control complex in partnership with the Metropolitan Police. The team monitors incidents affecting bus services around the Capital, getting information from bus drivers, the";}
        
        


 