


@{ViewBag.Title = "Tube named UKs Train Operator of the Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube named UKs Train Operator of the Year</h1>
        <div class="content-page-press-release">
        01 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) last night won the prestigious Train Operator of the Year award at the HSBC Rail Business Awards.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Last year, the Tube carried more passengers and ran more trains than ever before
                            
                        </p>
                    </div>
                
            
            
            <p>LU beat off stiff competition from across the UK at the industry's annual awards event. </p>
<p>LU also won the Judges' Special Award in recognition of its rapid recovery from the July bombings, and the award for Station Excellence for Hounslow East. </p>
<p>The "Everyone's London" marketing campaign and Oyster Auto Top-Up payment facility were also highly commended in other award categories. </p>
<p>The awards recognise the performance of Tube staff over 2004/5, which was a record year for LU. </p>
<p>They also recognise the magnificent response of London Underground staff following the attacks on the Tube network during July.</p>
<p>The Mayor of London Ken Livingstone said: "This is a tremendous achievement by the staff at London Underground and shows that we are steadily improving the quality of the service to passengers."</p>
<p>Tim O'Toole, LU Managing Director, said: "Last year, the Tube carried more passengers and ran more trains than ever before.</p>
<p>"These achievements were overshadowed by the terrible events of July but the response of Tube staff was tremendous and a clear testament to their professionalism, dedication and training."</p>
<p>LU's record figures included 976 million passenger journeys in 2004/5 - more than ever before. </p>
<p>LU also ran more annual train Kms than ever before - 70 million -and ran 95.3 per cent of scheduled services operated, the most reliable figures for seven years. </p>
<p>The record LU performance was attained despite an increase in the amount of planned engineering work carried out on the Tube.</p>
<p>As well as providing greater and more reliable Tube services, the quality of the service has also improved, for example by giving passengers more information on how the Tube is running. </p>
<p>Passengers have clearly noticed, as LU customer satisfaction scores have also improved and are at record levels.</p>
<p>
<h2>Further improvements</h2>
<p>
<p>Major improvements delivered in the last year included an additional seventh carriage for Jubilee line trains, boosting capacity on the line by 17 per cent.</p>
<p>Passengers will benefit from further improvements to the Tube later this year with the opening of the new Western Ticket Hall at King's Cross St. Pancras station and the completion of redevelopment work at Wembley Park. </p>
<p>The Tube carries over 3 million passengers per day with numbers using it forecast to grow over the next ten years as the population of London grows. </p>
<p>Major investment is taking place on the Tube following decades of underinvestment. The Mayor and Transport for London are investing &pound;10bn over the next five years to improve transport in London, more than half of that in the Tube, to provide for this growing demand and to ensure that London delivers on its transport commitments for the 2012 Olympics and Paralympics.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU beat off stiff competition from across the UK at the industry's annual awards event. LU also won the Judges' Special Award in recognition of its rapid recovery from the July bombings, and the award for Station Excellence for Hounslow East. The";}
        
        


 