


@{ViewBag.Title = "UKs greatest Olympic cyclist becomes Londons cycling ambassador";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UKs greatest Olympic cyclist becomes Londons cycling ambassador</h1>
        <div class="content-page-press-release">
        21 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Four times cycling Olympic medallist Bradley Wiggins is London's new cycling ambassador, the Mayor of London announced today.
        
    </div>



 <div class="on-this-page">
<p>Wiggins, who won gold, silver and bronze at the 2004 Athens Olympics as well as bronze at the 2000 Sydney Games, was unveiled today as London's cycling ambassador as the Mayor launched Transport for London's (TfL's) spring cycling campaign. </p>
<p>The marketing campaign "You're better off by bike", which will run on television, radio, posters, and in newspapers, gyms, petrol stations and supermarkets, is part of TfL's strategy to increase the number of people cycling in the capital. </p>
<p>Londoner Bradley will be joined as cycling ambassador by promising female cyclist, Nikki Harris. </p>
<p>Nikki won the 2005 TfL Women's Grand Prix race in London and is currently competing in the Commonwealth Games in Melbourne. </p>
<p>In the build up to London hosting the Grand D&eacute;part of the Tour de France in July 2007, for which Bradley will be a strong contender, they will both work with TfL to excite Londoners about cycling, which is a quick, cheap, healthy and environmentally friendly way to get around the Ccapital. </p>
<p>The spring cycling campaign will run until mid-May. It focuses on the health benefits and convenience of cycling. </p>
<p>The number of recorded cycle journeys on London's major roads has doubled during the past five years and the number of cyclists killed or seriously injured has fallen by 40 per cent in the same period.</p>
<p>The Mayor of London Ken Livingstone said: "It is great news that two such talented cyclists have signed up to help us raise the profile of cycling in London.</p>
<p>"This is an exciting time, as the number of people cycling on London's streets is growing plus we are set to host the start of the Tour de France next year. </p>
<p>"Our new spring cycling campaign will encourage even more people to get on a bike especially for shorter journeys. </p>
<p>"Bradley and Nikki's support will help us build on this success."</p>
<p>
</p>
<h2>Cycling buzz</h2>
<p>
</p>
<p>Bradley Wiggins, London's new cycling ambassador, said: "I'm delighted to be joining the team which won the privilege to host the start of the 2007 Tour de France. </p>
<p>"I used to cycle around my home city as a boy and it is exciting to see so many more Londoners now taking to their bikes. </p>
<p>"I can't wait to ride in the Tour de France here in London and I'm sure the event will excite Londoners and encourage them to give cycling a try."</p>
<p>Peter Hendy, Commissioner of TfL, said: "Spring is a perfect time to encourage people to cycle. </p>
<p>"Our new high profile campaign is targeting people who may have thought about cycling, but haven't yet taken to two wheels. </p>
<p>"There is a real buzz around cycling and as the weather improves there has never been a better time to give it a go."</p>
<p>
</p>
<h2>Cycling grants</h2>
<p>
</p>
<p>The latest round of TfL funded Community Cycling Grants has also been announced today. </p>
<p>Organisations that work with communities in London, such as charities, not-for-profit groups and schools, are being invited to apply for grants of up to &pound;5,000 to fund cycling projects throughout the capital. </p>
<p>Administered through the Cycle London Promotion Partnership (CLPP), the grant fund has &pound;150,000 in funding available during 2006/7.</p>
<p>Since 2000 TfL has increased investment in cycling from &pound;5.5mto &pound;24m in 2006/07. </p>
<p>The money is put into cycling infrastructure, promotion, education and training. </p>
<p>In January 2006 it was announced that London had won the right to host the Grand Depart of the 2007 Tour de France. </p>
<ul>
    <li>Bradley Wiggins is the UK's most successful ever Olympic cyclist. At the 2004 Athens Olympics Bradley won gold (Individual Pursuit), silver (Team Pursuit) and bronze (Madison) cycling medals. He won bronze (Team Pursuit) at the 2000 Sydney Olympics. Bradley was also 2003 Individual Pursuit World Champion. He is aiming to win the 2006 and 2007 Prologues of the Tour de France. Bradley, 26, is a Londoner, from Maida Vale, and is married and has one child </li>
    <li>Nikki Harris is one of the UK's most promising female cyclists. Nikki recently won her first senior cycling medal, bronze in the 20km points race at the UCI Track World Cup in Sydney. Nikki, 19, won the 2005 TfL Women's Grand Prix race in London and is currently in Melbourne competing in the Commonwealth Games </li>
    <li>Copies of television advertisements, radio advertisements and posters are available to media on request </li>
    <li>Images of Bradley Wiggins and Nikki Harris are available to media on request</li>
    <li>The TfL funded Community Cycling Grants are distributed by the Cycle London Promotion Partnership (CLPP). CLPP consists of TfL, London Cycling Campaign, CTC, Sustrans, LondonCycleSport and Good Going. The grants are intended to promote, encourage and support cycling across London and are targeted at social groups that are under-represented in cycling. &pound;100,000 in grants were made to 36 groups in London in 2005/6, and a further &pound;150,000 will be available to charities, community groups, not-for-profit organisations and schools/colleges in 2006/7. </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wiggins, who won gold, silver and bronze at the 2004 Athens Olympics as well as bronze at the 2000 Sydney Games, was unveiled today as London's cycling ambassador as the Mayor launched Transport for London's (TfL's) spring cycling campaign. The marketing";}
        
        


 