


@{ViewBag.Title = "Waterloo and City line closes for five months from April 1";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Waterloo and City line closes for five months from April 1</h1>
        <div class="content-page-press-release">
        13 March 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>On 1 April 2006, the Waterloo &amp; City line will close for five months for much needed engineering improvements that will deliver increased reliability of services, an increase in capacity and improved journey times. </p>
<p>        
            
                        
            
            
            
            <p>The improvements are part of Transport for London's (TfL's) &pound;10bn 
5-Year Investment Programme, to improve and expand London's transport network. 
</p>
<p>The works will be undertaken by Metronet Rail BCV which is responsible for 
renewal and maintenance of the Waterloo & City line.</p>
<p>Lance Ramsay, General Manager, Waterloo & City line, said: "The Waterloo 
& City line is 107 years old and urgently needs upgrading. </p>
<p>"The line has seen an increase in the number of infrastructure related 
failures leading to unplanned closures and major inconvenience to 
passengers.</p>
<p>"During the five-month closure, passengers travelling from Waterloo to Bank 
are advised to take the Bakerloo or Northern lines to Embankment station and 
then the District or Circle line to Monument station."</p>
<p>Last year, London Underground (LU) agreed to a request from Metronet Rail BCV 
that the line could close for five months so that improvements could be made all 
at once rather than through at least 70 weekend closures, which potentially 
could result in engineering overruns that impact on the resumption of services 
on Monday morning.</p>
<p>Metronet has made a payment of &pound;3m to LU to cover the reduced costs of 
undertaking improvements during a five-month closure compared to a succession of 
weekend closures.</p>
<p>LU will reinvest this in further Tube improvements.</p>
<p>While the Waterloo & City line is closed, the five trains that operate on 
the line will be refurbished in Doncaster and painted in the Underground's red, 
white and blue livery.</p>
<p>Seating will be re-upholstered, grab rails will be refurbished and 
improvements will be made to floors and windows.</p>
<p>
<h2>Improved service</h2>
<p>
<p>CCTV cameras will be installed in all carriages as part of the refurbishment 
works to improve passenger safety and security.</p>
<p>The entire line is in a tunnel and physically isolated from all other LU 
lines. </p>
<p>To the get the Waterloo & City line trains out of the Tube network, each 
carriage will have to be hoisted out to the surface by crane and transported to 
Doncaster. </p>
<p>The entire track in the tunnel between Bank and Waterloo will be replaced and 
electrical, mechanical, fire protection and communication equipment will be 
renewed. </p>
<p>Journey times will fall as a result of increased service frequency and faster 
running times. </p>
<p>The unique nature of the line means that huge benefits can be gained with 
little disruption to other Underground lines. </p>
<p>Platform improvements will also be undertaken.</p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 
1234.<br><br>TfL's Realtime pages display live travel information on London's 
public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing 
results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> 
</p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Metronet Rail BCV is responsible for the renewal and maintenance of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>Under PPP, engineering work to improve the Tube can only be undertaken at night or during weekend closures unless LU agrees to a long-term closure</li>
<li>The Waterloo & City line, London's second deep-level Tube line, opened in 1898. It was intended then, as now to offer commuters a direct rail link to and from the City of London</li>
<li>9.6 million people use the line every year, an average 40,000 use the line on a weekday and 4,000 on Saturdays</li>
<li>The line is not in passenger service on Sundays</li>
<li>The 1.5 mile line links Waterloo with Bank without any intermediate stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On 1 April 2006, the Waterloo &amp; City line will close for five months for much needed engineering improvements that will deliver increased reliability of services, an increase in capacity and improved journey times. The improvements are part of";}
        
        


 