
    
  



@{ViewBag.Title = "Existing private hire operator";}
@{ViewBag.Keywords = "TfL,existing private hire operator";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/existing-licensee/existing-private-hire-operator";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></li>
                
            
            
                <li><span class="last-breadcrumb">Existing private hire operator</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Existing private hire operator</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As a licensed operator, you must notify us of any changes to your status, as stated in your licence issue letter. For general guidance, updates and information on our policy and private hire law in London, you are advised to review this page frequently.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Voice contact requirement guidance</h2>


<p>Operators are required to make a person available for passengers to speak to during operating hours, and when a journey is being undertaken. This can be at the operating centre or any other premises with a fixed address in London or elsewhere. We call this the voice contact requirement.</p>
<p>As a licensed operator, you will need to confirm your intended hours of business and when you will be offering bookings. We will require evidence showing how a person will be available for the passenger to speak to during these times. Please consider how you will achieve this for night work and weekends when your office may not be open.</p>
<p>We will check that the facility is in place as part of any compliance check made during the duration of your licence.</p>
<p>To support you in providing us with the relevant information, it is important that you read and fully understand the "Voice contact requirement guidance for private hire operators" document.</p>
<p>Contact the operator licensing team on 0343 222 4444 (options 1-1-3-1) if you have any questions or require clarification.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voice-contact-requirement-guidance.pdf">
    <div class="document-download-text">
        <p>Voice contact requirement guidance for private hire operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>




<h2>Notifying us about a serious complaint or driver dismissal</h2>
<p>
If you have to dismiss a driver because of his or her unsatisfactory conduct in connection with the driving of a PHV you must, as a condition of your licence, notify TfL in writing of the name of the driver and the circumstances of the case within 14 days.</p>
<p>Form PHV/105 is available for this purpose.</p>
<p>
You can also use our PHV/105 form to notify us of any serious complaints that you receive about a driver that is currently working for or has worked for you. To support you in providing us with this information, it is important that you read and fully understand the "Guidance on reporting crime" document should you need to report a serious complaint or concern.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidance-on-reporting-crime.pdf">
    <div class="document-download-text">
        <p>Guidance on reporting crime</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/driver-dismissal-phv-105-january-2018.pdf">
    <div class="document-download-text">
        <p>PHV/105 driver dismissal form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 142KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>
<p>
Please return the completed form to <a href="mailto:TPHlicensingsupport&#64;tfl.gov.uk">TPHlicensingsupport&#64;tfl.gov.uk</a> or:</p>
<p>London Taxi and Private Hire<br />
PO Box 177<br />
Sheffield S98 1JY</p>
</div>
 <div>

<h2>Renewing your licence</h2>
<p ><br />
Your operator's licence lasts for five years unless we have advised differently. You will need to apply for a new licence before your current one runs out.</p>
<p>We will automatically send you a re-licensing pack approximately four months before your current licence runs out. It is important that you submit the renewal application forms as soon as you can. Any delay may affect your application being assessed and affect your ability to continue trading.</p>
<p>The current licence is only for use by the specified holder of that licence until its expiry date. If a new licence has not been obtained by that date, the business will have to stop trading.<br />
</p>
<h3>How to renew your licence</h3>
Once you've received the renewal application form from us:
<ul>
    <li>Read and fully and understand the "Operator licensing guidance notes (PHV/102)" document, which is available on our <a href="/corporate/publications-and-reports/taxi-and-private-hire">policy page</a>. The PHV/102 contains vital information about the application and renewal process</li>
    <li>Sign the declarations in each enclosed application form</li>
    <li>Make sure you send in both the application and necessary application fee and if applicable, licence fee, with your form</li>
    <li>Separately, return your old licence to us within seven days of it expiring</li>
</ul>
<p>Contact us at <a href="mailto:TPH.Operators&#64;tfl.gov.uk">TPH.Operators&#64;tfl.gov.uk</a> or on 0343 222 4444 between the hours of 08:00 and 18:00 Monday to Friday (excluding bank holidays) if you require assistance. (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>.)</p>
<h3>When can I expect a decision to be made?</h3>
<p>
A typical application can take between 8-16 weeks to process, depending on the circumstances of each application. Applications requiring further information to determine the suitability of the application can take significantly longer to process. We will inform you should this be the case with your application.</p>
<p>
Please note the following:</p>
<ul>
    <li>If you do not wish to renew your licence, please confirm this to us in writing as soon as you are aware.</li>
    <li>Please note: Your renewal application should be submitted to us at least six weeks before the expiry of your current licence in order to be processed. If you fail to do so, you may lose your entitlement to work as a London private hire operator</li>
</ul>
<h3>Receiving your new licence</h3>
<p>
Should your application be successful, we will send you your new licence shortly before your current one runs out, as long as there are no problems with your application.<br />
Your new licence will start from the day after the expiry of your existing licence providing that we are able to make an immediate decision.
</p>
<h2>Reporting changes in circumstances</h2>
<h3>Operator licence type changes</h3>
<p>
The application and grant of licence fees payable by operators are determined by the number of vehicles an operator has available to carry out bookings.  This number is specified on all licences issued after 3 October 2017.  If this applies to you, and you expect to have more vehicles available than the permitted maximum, you will need to apply for a new licence. You may be entitled to a refund for a proportion of the grant of licence fee for your existing licence.</p>
<p>
Alternatively, if you expect permanently to have fewer vehicles available than the permitted maximum on your licence, you may apply for a new licence. In some circumstances this may mean that a refund of a proportion of the grant of licence fee is payable.</p>
<p>
Refunds are calculated based on the number of whole months remaining on the licence at the point at which the licence is surrendered (and a new licence issued), for which a licence fee has been paid.
In both of these cases you should contact us at <a href="mailto:TPH.Operators&#64;tfl.gov.uk">TPH.Operators&#64;tfl.gov.uk</a> to discuss in the first instance
</p>
<h3>Other details changes</h3>
<p>
You should notify us about any changes you intend to make to your operator licence. This includes:</p>
<ul>
    <li>Changes to the type of services you will be offering to customers , the way you intend to take your bookings and/or any other facilities you are looking to offer. <a href="/info-for/taxis-and-private-hire/changes-to-operating-models">Read more detailed information about this requirement</a></li>
    <li>Changes to any of the people who are currently associated with the licence, for example if you want to add new, or remove existing, people from the licence. This would be in relation to the nominated representative for the licence, directors or partners</li>
    <li>Telling us if you no longer wish to be a licensed operator</li>
    <li>Where you need to add new people to the licence, each new person will need to obtain and complete a PHV/103 Personal Declaration form. This form should be requested and returned to us for assessment prior to the named person being associated with your licence</li>
</ul>
<p>You can obtain a PHV/103 Personal Declaration form by contacting us at <a href="mailto:TPH.Operators&#64;tfl.gov.uk">TPH.Operators&#64;tfl.gov.uk</a> or on 0343 222 4444 between the hours of 08:00 and 18:00 Monday to Friday (excluding bank holidays). (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>.)</p>
<h3>Licence variations</h3>
<p>
You may only accept private hire bookings at the operating centres specified on your licence. You must submit a licence variation application (PHV/106) if you wish to:</p>
<ul>
    <li>Move your business to a new operating centre. We refer to this as you wanting to 'change' your existing operating centre to a new one</li>
    <li>Trade from an additional operating centre. We refer to this as you wanting to 'add' a new operating centre to your licence</li>
    <li>Stop trading from one, but not all, of the operating centres on your licence. We refer to this as you wanting to 'remove' an operating centre from your licence</li>
    <li>New centres will need to be inspected and approved by us before being permitted to be added to your licence</li>
</ul>
<p>To apply to vary your licence, you will need to submit:</p>
<ul>
    <li>The correct fee (pay by credit or debit card)</li>
    <li>A completed PHV/106 variation application form</li>
</ul>
<p>You can obtain a PHV/106 variation application form by contacting us at <a href="mailto:TPH.Operators&#64;tfl.gov.uk">TPH.Operators&#64;tfl.gov.uk</a> or on 0343 222 4444 between the hours of 08:00 and 18:00 Monday to Friday (excluding bank holidays). (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>.)</p>
<h3>Variation fees</h3>
<ul>
    <li>Change an existing operating centre: &pound;300</li>
    <li>Remove an operating centre: &pound;50</li>
    <li>Add an additional operating centre: &pound;300</li>
</ul>
<p>Your completed PHV/106 form and payment will need to be returned to:</p>
<p>London Taxi and Private Hire<br />
PO Box 177<br />
Sheffield S98 1JY</p>
</div>
 
<div>




<h2>Operator upload requirement</h2>
<p>Following amendments to the <a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">private hire regulations</a>, as a licensed private hire  operator you are required to provide us with the details of the vehicles and drivers you have used to fulfil private hire bookings, or have had available to you to fulfil bookings on a weekly basis. We will use the information provided for data analysis.</p>
<p>Each Monday, all operators are required to provide the relevant data for the previous week. When the Monday is a Bank Holiday, the data can be provided on the next day.</p>
<p>To support you in providing us with the relevant data, it is important that you read and fully understand the "Operator upload guidance notes" document before you begin. <a href="https://tph.tfl.gov.uk/TfL/home.page">Submit your weekly upload, beginning by registering online.</a></p>
<p>Approved templates have been provided for you to upload your vehicle and driver data as per the conditions of your licence. ‎You will need to enter the private hire driver and vehicle details as they appear on the private hire driver and vehicle paper licences.</p>
<p>Contact the operator upload team on 0343 222 4444 if you have any questions or require assistance.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/operator-upload-requirement-guidance-notes.pdf">
    <div class="document-download-text">
        <p>Operator upload guidance notes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tfl-driver-data-file-format.csv">
    <div class="document-download-text">
        <p>TfL driver data file format</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 0KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.00 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tfl-vehicle-data-file-format.csv">
    <div class="document-download-text">
        <p>TfL vehicle data file format</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 0KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.00 -->
 
</div>

</div>
 
<div>




<h2>Useful links</h2>
<p>Please visit our <a href="/corporate/publications-and-reports/taxi-and-private-hire">policy page</a> for a list of useful documents including the "Policy statement: Private hire services in London" which is about ride-sharing services, "Privacy &amp; data protection guideline for private hire operators" and the "Taxi advertising and private hire vehicle signage guidelines". Our <a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">compliance page</a> contains further information, including a document detailing the compliance inspection process, entitled "Operator Compliance Inspections".</p>
<p>Find out how to <a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">contact us or complain</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/passenger-information-services-form.pdf">
    <div class="document-download-text">
        <p>PHV/110 Passenger information services form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 309KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/existing-licensee/existing-private-hire-operator">Existing private hire operator</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Existing private hire operator information";}
        
            
        


 