


@{ViewBag.Title = "A train every two minutes and reliability boosted as Victoria line upgrade delivers for passengers ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A train every two minutes and reliability boosted as Victoria line upgrade delivers for passengers </h1>
        <div class="content-page-press-release">
        12 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Upgrade sees delays cut by a third in four years and halved  since 2003
        
    </div>



 <div class="on-this-page">
<p>
<ul>
<li>Additional capacity for thousands of extra passengers during peak hours, with 21 per cent capacity increase delivered by early 2013 </li>
<li>Accessibility improvements make using the line easier for passengers with disabilities</li></ul>
<p>London Underground's (LU) recently completed upgrade of the Victoria line, which has seen the introduction of state-of-the-art signalling and a brand new fleet of trains, has reduced delays to passengers by a third in four years. </p>
<p>The upgrade has delivered a 30 trains per hour service - a train every two minutes - and is giving passenger, faster, more reliable and more comfortable journeys. </p>
<p>The reliability improvements brought about by the works mean that since Transport for London (TfL) took over London Underground in 2003, delays to Victoria line passengers have more than halved. </p>
<p>Victoria line passengers have been experiencing faster journeys on more frequent and less crowded trains since May as services have increased following upgrade work. </p>
<p>Week day peak services increased from 28 to 30 trains per hour and off peak services from 23 to 24 trains per hour.&nbsp; </p>
<p>Weekend services also increased from 21 to 24 trains per hour.</p>
<p>Passengers will see even more trains from early next year, when 33 trains per hour will operate on the Victoria line during peak times, with less than two minutes between each train.</p>
<p>As well as more frequent services, the 200 million passengers who use the line each year are enjoying a full fleet of new trains, following the successful phasing-out of the old 1960s stock. </p>
<p>The new higher-capacity trains are more accessible with wider doors and more spaces for wheelchair users, on-board audio and visual electronic information for hard of hearing and visually impaired passengers and CCTV in every carriage.</p>
<p>Platform humps - platform sections raised for the full length of a carriage - have been installed in Victoria line stations to give level access between the platform and the train, making it easier for wheelchair users, parents with buggies and passengers with luggage to board and alight trains.</p>
<p>Mike Brown, LU Managing Director, said: 'The Victoria line has seen enormous growth in demand in recent years, and this upgrade helped to deliver a successful London 2012 Games. </p>
<p>'Our customers are now experiencing the benefits with more frequent and more reliable services and a huge number of accessibility improvements.&nbsp; </p>
<p>'We're now running a train every two minutes at peak times and early next year we will begin to run even more - with 33 trains per hour at the busiest times. </p>
<p>'On top of this, our engineers have been working extremely hard making the line more reliable - modifying doors and passenger alarms and installing automatic track monitoring, to quickly detect any track defects, which will all be rolled out over the next year. </p>
<p>'This work is already paying off, but we are not complacent and will leave no stone unturned in our effort to further improve the service.'</p>
<p>As part of the &pound;50m investment into reliability improvements, instigated by the Mayor and London Underground, a huge range of work is well underway which has made the service more reliable and reduced delays.&nbsp; </p>
<p>A number of modifications have already been made to the new Victoria line trains to boost reliability. </p>
<p>The doors had been designed with 'sensitive edge' doors, which would stop the train if they detected anything trapped in them.&nbsp; </p>
<p>Engineers have designed modifications which still retain the anti-dragging device, but allows it to cope with passengers who have safely boarded trains but have trapped a strap of&nbsp; their clothing or bag strap in the doors, by allowing the doors to separate up to a maximum of 15mm when pulling items free. </p>
<p>In addition, stickers have been put on doors, and announcements are made, to remind passengers to keep clear of the doors. </p>
<p>Further improvements are being made to the base of the doors in order to stop debris being trapped in the door runner. </p>
<p>An improved design has been installed on passenger emergency alarms to prevent passengers accidentally activating them, with a flap over the emergency button that has to be lifted in order to push it.</p>
<p>The line upgrades are at the core of LU's upgrade programme, which will deliver a 30 per cent increase in capacity. </p>
<p>The upgrade programme is being delivered over the coming years, with work on upgrades to the Northern, Circle, District, Hammersmith &amp; City and Metropolitan lines already under way. </p>
<p>Increasing capacity at key stations like Victoria, Tottenham Court Road and Bond Street is also an important part of the Tube upgrade plan. </p>
<p>More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips and better CTV and help points, electronic information displays in ticket halls and on platforms, and improved seating and lighting. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For more information on the Tube upgrade plan go to <a href="http://www.tfl.gov.uk/tubeupgradeplan">tfl.gov.uk/tubeupgradeplan</a> </li>
<li>TfL is working hard to keep disruption to a minimum and to provide information and alternative travel options. Londoners and visitors to the city are urged to 'check before you travel', particularly at weekends, and to allow extra journey time where necessary </li>
<li>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the best way home <a href="http://www.tfl.gov.uk/tfl/traveltools">tfl.gov.uk/tfl/traveltools</a>. The website also provides full information on bus replacement services during works </li>
<li>Apart from the TfL website <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> passengers can check before travelling via the following options: 
<ul>
<li>The London Travel Info 24-hour telephone helpline: 0843 222 1234 </li>
<li>Information on posters, leaflets and "service information" boards at Tube stations </li>
<li>Via free mobile and email alerts, available from the TfL website </li>
<li>All Victoria line stations have platform humps apart from Pimlico</li></ul></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Additional capacity for thousands of extra passengers during peak hours, with 21 per cent capacity increase delivered by early 2013 Accessibility improvements make using the line easier for passengers with disabilitiesLondon Underground's (LU) recently";}
        
        


 