


@{ViewBag.Title = "Advice to bus passengers during Unite industrial action - 16:00 bulletin";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Advice to bus passengers during Unite industrial action - 16:00 bulletin</h1>
        <div class="content-page-press-release">
        29 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Arriva services in north London subject to severe disruption
        
    </div>



 <div class="on-this-page">
<ul>
<li>Limited services operating on 28 of 50 affected routes - including full service on routes 128 and 173 and three school bus routes </li>
<li>Affected passengers urged to use other transport services, walk or cycle where possible </li>
<li>Latest travel information at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a></li></ul>
<p>TfL has this afternoon issued travel advice to bus passengers affected by strike action by members of the Unite union who work for Arriva London North.&nbsp; The strike action, which began at 03:00 this morning, has severely affected bus services in north London.</p>
<p>The strike action will continue until 02:59 tomorrow (Friday 30 November) affecting bus services throughout today and night bus services operating overnight (Thursday night into Friday morning).&nbsp;Day bus services on Friday will operate as normal.&nbsp; </p>
<p>There are services running on 28 of the 50 affected bus routes.&nbsp;There is a full service on the routes 128 and 173 and three school bus routes plus an almost full service on routes 135, 150 and 325.&nbsp;Bus services operated by other companies across the Capital are unaffected and will operate a normal service.</p>
<p>The strike action is&nbsp;due to a pay dispute between members of the Unite union who work at several north London bus garages and their employers, Arriva London North, who operate around 10 per cent of bus services in London.&nbsp;The strike has disrupted 50 bus routes in north London including some routes into central London such as the 29, 38, 73, 149 and 243.&nbsp; </p>
<p>TfL&nbsp;anticipates that some Tube stations in north and central London, including Victoria, Seven Sisters, Tottenham Hale, Wood Green and Turnpike Lane are going to be busier than normal - so customers are being urged to allow a little more time to complete their journeys today.</p>
<p>TfL is calling for Unite and Arriva London North to expedite negotiations and resolve the dispute so that disruption to passengers can be kept to a minimum.&nbsp; TfL has deployed extra staff to assist passengers at various locations, including bus stops and bus stations, and to hand out walking maps.</p>
<p>TfL is keeping passengers informed of the status of their services in a range of ways.&nbsp;These include:</p>
<ul>
<li>Up-to-date information on bus services by route can be found at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a> </li>
<li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices at m.countdown.tfl.gov.uk or via our SMS text service </li>
<li>Information on the latest situation will be provided via TfL's roadside countdown signs </li>
<li>Travel alerts will be provided through Twitter on &#64;TfLOfficial and &#64;TfLBusAlerts </li>
<li>TfL will also be providing information to radio and television broadcasts for use in news bulletins </li>
<li>A range of easily available Apps for handheld devices now use TfL's live bus information </li>
<li>TfL will also have a large number of staff across the network and at key travel hubs to provide advice to passengers.</li></ul>
<p>Where services are disrupted, TfL urges passengers to use other transport options, or to walk or cycle where possible.&nbsp; The average bus journey is around 2.2 miles so many of these journeys could be made in this way.</p>
<p>TfL has put in place a number of additional measures to help people get around and to manage disruption.&nbsp; These include:</p>
<ul>
<li>During the strike bus passes will be accepted on reasonable alternative routes on Tube, Docklands Light Railway (DLR) and London Overground - affected passengers should seek assistance from staff at the gate lines </li>
<li>TfL is operating a full service across the Tube network, with extra staff on hand to assist passengers </li>
<li>Full services are also operating on the DLR, London Tramlink and London Overground networks with additional staff deployed to assist passengers </li>
<li>TfL emailed around 285,000 registered bus users advising them of the likely disruption and urging them to check before they travel</li></ul>
<p>
<hr>

<p>
            <p><strong>Editors notes:</strong></p>
<p>Bus routes (with start and end point) affected by the strike are:</p>
<p>Number&nbsp;Route&nbsp;Level of service<br><strong>29</strong>&nbsp;Wood Green to Trafalgar Square (with N29 night bus service): Limited service<br><strong>34</strong>&nbsp;Barnet Church to Walthamstow Central:&nbsp;No service<br><strong>38</strong>&nbsp;Victoria Station to Clapton Pond (with N38 night bus service):&nbsp;Limited service<br><strong>41</strong>&nbsp;Archway to Tottenham Hale Station (with N41 night bus service):&nbsp;Limited service<br><strong>73</strong>&nbsp;Victoria Station to Stoke Newington (with N73 night bus service):&nbsp;No service<br><strong>76</strong>&nbsp;Waterloo Station to Tottenham Garage (with N76 night bus service)&nbsp;Limited service<br><strong>78</strong>&nbsp;Shoreditch (Culvert Avenue) to Nunhead (St Mary's Road)&nbsp;Limited service<br><strong>102</strong>&nbsp;Edmonton Green Station to Brent Cross Shopping Centre - (24-hour service&nbsp; between Edmonton Green and Golders Green)&nbsp;Limited service<br><strong>121&nbsp;</strong>Turnpike Lane Station to Enfield Island Village&nbsp;No service<br><strong>123</strong>&nbsp;Ilford High Street to Wood Green Station&nbsp;Limited service<br><strong>125</strong>&nbsp;Finchley Central Station to Winchmore Hill&nbsp;No service<br><strong>128</strong>&nbsp;Claybury Broadway to Romford Station (24-hour service)&nbsp;Full service<br><strong>135</strong>&nbsp;Crossharbour (Asda) to Old Street Station&nbsp;Limited service<br><strong>141</strong>&nbsp;Palmers Green to London Bridge Station&nbsp;No service<br><strong>144</strong>&nbsp;Edmonton Green to Muswell Hill Broadway&nbsp;No service<br><strong>149</strong>&nbsp;London Bridge Station to Edmonton Green Station (24-hour service)&nbsp;No service<br><strong>150</strong>&nbsp;Becontree Heath Bus Station to Chigwell Row (Gravel Lane)&nbsp;Limited service<br><strong>168</strong>&nbsp;Hampstead Heath to Old Kent Road (Tesco)&nbsp;Limited service<br><strong>173&nbsp;</strong>Goodmayes to Beckton (Bus Station)&nbsp;Full service<br><strong>184</strong>&nbsp;Turnpike Lane Station to Barnet (Chesterfield Road)&nbsp;Limited service<br><strong>192</strong>&nbsp;Enfield Town to Tottenham Hale Station&nbsp;No service<br><strong>221</strong>&nbsp;Edgware Station to Turnpike Lane Station&nbsp;Limited service<br><strong>242</strong>&nbsp;Tottenham Court Road to Homerton Hospital (24-hour service)&nbsp;Limited service<br><strong>243</strong>&nbsp;Wood Green Station to Waterloo Station (24-hour service)&nbsp;Limited service<br><strong>253</strong>&nbsp;Hackney Central Station to Euston Station (with N253 night bus service)&nbsp;Limited service<br><strong>254</strong>&nbsp;Aldgate Station to Holloway (Nag's Head)&nbsp;Limited service<br><strong>279</strong>&nbsp;Manor House Station to Waltham Cross (with N279 night bus service)&nbsp;No service<br><strong>307</strong>&nbsp;Brimsdown Station to Barnet Hospital&nbsp;No service<br><strong>313</strong>&nbsp;Chingford Station to Potters Bar Station and Dame Alice Owen's School&nbsp;No service<br><strong>317</strong>&nbsp;Enfield Town to Waltham Cross&nbsp;No service<br><strong>318</strong>&nbsp;Stamford Hill to North Middlesex Hospital&nbsp;No service<br><strong>325</strong>&nbsp;Prince Regent Station DLR to East Beckton (Sainsbury's)&nbsp;Limited service<br><strong>327</strong>&nbsp;Waltham Cross circular route &nbsp;No service<br><strong>329</strong>&nbsp;Turnpike Lane Station to Enfield Town (Little Park Gardens)&nbsp;No service<br><strong>341&nbsp;</strong>County Wall Waterloo to Northumberland Park (24 hour service)&nbsp;Limited service<br><strong>349</strong>&nbsp;Stamford Hill to Ponders End Garage&nbsp;No service<br><strong>377&nbsp;</strong>Ponders End Garage to Oakwood Station&nbsp;No service<br><strong>379</strong>&nbsp;Chingford Station to Yardley Lane Estate&nbsp;Limited service<br><strong>382</strong>&nbsp;Southgate Station to Mill Hill East Station&nbsp;Limited service<br><strong>393&nbsp;</strong>Chalk Farm to Clapton&nbsp;Limited service<br><strong>397</strong>&nbsp;Debden Station to Crooked Billet: &nbsp;No service<br><strong>444</strong>&nbsp;Turnpike Lane Station to Chingford Station:&nbsp;No service<br><strong>491</strong>&nbsp;Waltham Cross to North Middlesex Hospital&nbsp;No service<br><strong>617</strong>&nbsp;Turnpike Lane Station to St Ignatius College&nbsp;School route in afternoon service<br><strong>647</strong>&nbsp;Harold Hill to Romford Station&nbsp;School route in afternoon service<br><strong>657</strong>&nbsp;Crooked Billet (Sainsbury's) to Woodford Wells (Bancroft's School)&nbsp;No service<br><strong>678</strong>&nbsp;Beckton Bus Station to Stratford Bus Station&nbsp;School route in afternoon service<br><strong>W3</strong>&nbsp;Finsbury Park Station to Northumberland Park Station&nbsp;No service<br><strong>W6</strong>&nbsp;Southgate Station to Edmonton Green Station&nbsp;No service<br><strong>W11</strong>&nbsp;Walthamstow Central Station to Chingford Hall Estate&nbsp;Limited service</p>
<p>&nbsp;</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Limited services operating on 28 of 50 affected routes - including full service on routes 128 and 173 and three school bus routes Affected passengers urged to use other transport services, walk or cycle where possible Latest travel information at";}
        
        


 