


@{ViewBag.Title = "Advice to bus passengers during Unite industrial action - 12:15 bulletin";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Advice to bus passengers during Unite industrial action - 12:15 bulletin</h1>
        <div class="content-page-press-release">
        29 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Arriva services in north London subject to severe disruption.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Limited services operating on 24 of 46 affected routes - including full service on route 325 </li>
<li>Affected passengers urged to use other transport services, walk or cycle where possible </li>
<li>Latest travel information at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a></li></ul>
<p>
<hr>

<p>
<p>TfL has this afternoon issued travel advice to bus passengers affected by strike action by members of the Unite union who work for Arriva London North.&nbsp; </p>
<p>The strike action, which began at 03:00 this morning, has severely affected bus services in north London.&nbsp; </p>
<p>The strike action will continue until 02:59 tomorrow (Friday 30 November) affecting bus services throughout today and night bus services operating overnight (Thursday night into Friday morning).&nbsp; </p>
<p>Day bus services on Friday will operate as normal.&nbsp; </p>
<p>There are services running on 24 of the 46 affected bus routes (4 additional affected routes are school services that operate morning and evening only).&nbsp; </p>
<p>There is a full service on the route 325 and an almost full service on routes 135, 150 and 173.&nbsp; </p>
<p>Bus services operated by other companies across the Capital are unaffected and will operate a normal service.</p>
<p>The strike action is due to a pay dispute between members of the Unite union who work at several north London bus garages and their employers, Arriva London North, who operate around 10 per cent of bus services in London.&nbsp; </p>
<p>The strike has disrupted 50 bus routes in north London including some routes into central London such as the 29, 38, 73, 149 and 243.&nbsp; </p>
<p>We anticipate that some Tube stations in north and central London, including Victoria, Seven Sisters, Tottenham Hale, Wood Green and Turnpike Lane are going to be busier than normal - so passengers are being urged to allow a little more time to complete their journeys today.</p>
<p>TfL is calling for Unite and Arriva London North to expedite negotiations and resolve the dispute so that disruption to passengers can be kept to a minimum.&nbsp; </p>
<p>TfL has deployed extra staff to assist passengers at various locations, including bus stops and bus stations, and to hand out walking maps.</p>
<p>TfL is keeping passengers informed of the status of their services in a range of ways.&nbsp; </p>
<p>These include:</p>
<ul>
<li>Up-to-date information on bus services by route can be found at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a> </li>
<li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices at m.countdown.tfl.gov.uk or via our SMS text service </li>
<li>Information on the latest situation will be provided via TfL's roadside countdown signs </li>
<li>Travel alerts will be provided through Twitter on &#64;TfLOfficial and &#64;TfLBusAlerts </li>
<li>TfL will also be providing information to radio and television broadcasts for use in news bulletins </li>
<li>A range of easily available Apps for handheld devices now use TfL's live bus information </li>
<li>TfL will also have a large number of staff across the network and at key travel hubs to provide advice to passengers</li></ul>
<p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible.&nbsp; </p>
<p>The average bus journey is around 2.2 miles so many of these journeys could be made in this way.</p>
<p>TfL has put in place a number of additional measures to help people get around and to manage disruption.&nbsp; </p>
<p>These include:</p>
<ul>
<li>During the strike bus passes will be accepted on reasonable alternative routes on Tube, DLR, and London Overground - affected passengers should seek assistance from staff at the gate lines </li>
<li>TfL is operating a full service across the Tube network, with extra staff on hand to assist passengers </li>
<li>Full services are also operating on the Docklands Light Railway, London Tramlink and London Overground networks with additional staff deployed to assist passengers </li>
<li>TfL emailed around 285,000 registered bus users advising them of the likely disruption and urging them to check before they travel</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Limited services operating on 24 of 46 affected routes - including full service on route 325 Affected passengers urged to use other transport services, walk or cycle where possible Latest travel information at tfl.gov.uk/busesTfL has this afternoon issued";}
        
        


 