


@{ViewBag.Title = "Advice to bus passengers during industrial action by Unite on Arriva London North services: 29-30 November";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Advice to bus passengers during industrial action by Unite on Arriva London North services: 29-30 November</h1>
        <div class="content-page-press-release">
        28 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus services in north London operated by Arriva expected to be severely disrupted by 24-hour action and some services may not run.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Some bus routes into central London - including 29, 38, 73, 149 and 243 - also affected</li>
<li>Affected passengers urged to use other transport services, or to walk or cycle where possible</li>
<li>Passengers should check before travelling at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a> </li></ul>
<p>Transport for London today issued advice to bus passengers ahead of planned strike action by members of the Unite union who work for Arriva London North, which will affect bus services in north London from early on Thursday morning through until the early hours of Friday morning.&nbsp;</p>
<p>Bus services operated by other companies across the Capital are unaffected and will operate a normal service.</p>
<p>The strike action is owing to a pay dispute between members of the Unite union who work at several north London bus garages and their employers, Arriva London North.&nbsp; </p>
<p>It will affect bus routes in north London but also some routes into central London, including the 29, 38, 73, 149 and 243.&nbsp; </p>
<p>Arriva London North operate around 10 per cent of bus services in London and the strike action is likely to result in severe disruption on a significant number of routes and some services may not run.&nbsp; </p>
<p>Some Tube stations in north and central London, including Victoria, Seven Sisters, Tottenham Hale, Wood Green and Turnpike Lane are anticipated to be busier than normal - so passengers are being urged to allow a little more time to complete their journeys tomorrow.</p>
<p>Strike action will take place over a 24-hour period between 3:00 on Thursday 29 November until 2:59 on Friday 30 November.&nbsp; </p>
<p>TfL expects night bus services on Wednesday night into the early hours of Thursday to run as normal.&nbsp; </p>
<p>However, bus services throughout Thursday and night bus services on Thursday night into the early hours of Friday will be severely disrupted.&nbsp; </p>
<p>A normal bus service should operate from start of service on Friday morning.&nbsp; </p>
<p>TfL is calling for Unite and Arriva London North to expedite negotiations and resolve the dispute so that disruption to passengers can be kept to a minimum.&nbsp; </p>
<p>TfL is also deploying extra staff to assist passengers at various locations, including bus stops and bus stations, and to hand out walking maps.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'We are sorry that some bus passengers will have their journeys disrupted tomorrow.&nbsp; </p>
<p>'We are working hard behind the scenes to provide as much detailed information and assistance to passengers as possible to minimise this disruption.&nbsp; </p>
<p>'We would strongly urge Unite and Arriva London North to continue with discussions to resolve this dispute and prevent further disruption to bus passengers.'</p>
<p>TfL is keeping passengers informed of the status of their services in a range of ways.&nbsp; </p>
<p>These include:</p>
<ul>
<li>Up-to-date information on bus services by route at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a></li>
<li>The facility to check for bus arrival times using the Countdown next bus arrival service online, on mobile devices at <a href="http://www.m.countdown.tfl.gov.uk">m.countdown.tfl.gov.uk</a> or via the SMS text service</li>
<li>Information on the latest situation provided via TfL's roadside countdown signs</li>
<li>Travel alerts provided through Twitter, follow &#64;TfLOfficial and &#64;TfLBusAlerts</li>
<li>Providing information to radio and television broadcasts for use in news bulletins</li>
<li>A range of easily available apps for handheld devices which now use TfL's live bus information</li>
<li>A large number of staff across the network and at key travel hubs to provide advice to passengers</li></ul>
<p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible.&nbsp; </p>
<p>The average bus journey is around 2.2 miles so many of these journeys could be made in this way.</p>
<p>TfL has put in place a number of additional measures to help people get around and to manage disruption:</p>
<ul>
<li>During the course of the strike bus passes will be accepted on reasonable alternative routes on Tube, Docklands Light Railway (DLR) and London Overground - affected passengers should seek assistance from staff at the gate lines</li>
<li>A full service will operate across the Tube network, with extra staff on hand to assist passengers</li>
<li>Full services will operate on the DLR, London Tramlink and London Overground networks with additional staff deployed to assist passengers</li>
<li>TfL has emailed around 285,000 registered bus users advising them of the likely disruption and urging them to check before they travel</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>Bus routes (with start and end point) likely to be affected by the strike are:</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;29</td>
<td>&nbsp;Wood Green to Trafalgar Square (with N29 night bus service)</td></tr>
<tr>
<td>&nbsp;34</td>
<td>&nbsp;Barnet Church to Walthamstow Central</td></tr>
<tr>
<td>&nbsp;38</td>
<td>&nbsp;Victoria station to Clapton Pond (with N38 night bus service)</td></tr>
<tr>
<td>&nbsp;41</td>
<td>&nbsp;Archway to Tottenham Hale station (with N41 night bus service)</td></tr>
<tr>
<td>&nbsp;73</td>
<td>&nbsp;Victoria station to Stoke Newington (with N73 night bus service)</td></tr>
<tr>
<td>&nbsp;76</td>
<td>&nbsp;Waterloo station to Tottenham Garage (with N76 night bus service)</td></tr>
<tr>
<td>&nbsp;78</td>
<td>&nbsp;Shoreditch (Culvert Avenue) to Nunhead (St Mary's Road)</td></tr>
<tr>
<td>&nbsp;102</td>
<td>&nbsp;Edmonton Green station to Brent Cross Shopping Centre <br>(24-hour service between Edmonton Green and Golders Green)</td></tr>
<tr>
<td>&nbsp;121</td>
<td>&nbsp;Turnpike Lane station to Enfield Island Village</td></tr>
<tr>
<td>&nbsp;123</td>
<td>&nbsp;Ilford High Street to Wood Green station</td></tr>
<tr>
<td>&nbsp;125</td>
<td>&nbsp;Finchley Central station to Winchmore Hill</td></tr>
<tr>
<td>&nbsp;128</td>
<td>&nbsp;Claybury Broadway to Romford station (24-hour service)</td></tr>
<tr>
<td>&nbsp;135</td>
<td>&nbsp;Crossharbour (Asda) to Old Street station</td></tr>
<tr>
<td>&nbsp;141</td>
<td>&nbsp;Palmers Green to London Bridge station</td></tr>
<tr>
<td>&nbsp;144</td>
<td>&nbsp;Edmonton Green to Muswell Hill Broadway</td></tr>
<tr>
<td>&nbsp;149</td>
<td>&nbsp;London Bridge station to Edmonton Green station (24-hour service)</td></tr>
<tr>
<td>&nbsp;150</td>
<td>&nbsp;Becontree Heath bus station to Chigwell Row (Gravel Lane)</td></tr>
<tr>
<td>&nbsp;168</td>
<td>&nbsp;Becontree Heath bus station to Chigwell Row (Gravel Lane)</td></tr>
<tr>
<td>&nbsp;173</td>
<td>&nbsp;Goodmayes to Beckton (bus station)</td></tr>
<tr>
<td>&nbsp;184</td>
<td>&nbsp;Turnpike Lane station to Barnet (Chesterfield Road)</td></tr>
<tr>
<td>&nbsp;192</td>
<td>&nbsp;Enfield Town to Tottenham Hale station</td></tr>
<tr>
<td>&nbsp;221</td>
<td>&nbsp;Edgware station to Turnpike Lane station</td></tr>
<tr>
<td>&nbsp;242</td>
<td>&nbsp;Tottenham Court Road to Homerton Hospital (24-hour service)</td></tr>
<tr>
<td>&nbsp;243</td>
<td>&nbsp;Wood Green station to Waterloo station (24 hour service)</td></tr>
<tr>
<td>&nbsp;253</td>
<td>&nbsp;Hackney Central station to Euston station (with N253 night bus service)</td></tr>
<tr>
<td>&nbsp;254</td>
<td>&nbsp;Aldgate station to Holloway (Nag's Head)</td></tr>
<tr>
<td>&nbsp;279</td>
<td>&nbsp;Manor House station to Waltham Cross (with N279 night bus service)</td></tr>
<tr>
<td>&nbsp;307</td>
<td>&nbsp;Brimsdown station to Barnet Hospital</td></tr>
<tr>
<td>&nbsp;313</td>
<td>&nbsp;Chingford station to Potters Bar station and Dame Alice Owen's School</td></tr>
<tr>
<td>&nbsp;317</td>
<td>&nbsp;Enfield Town to Waltham Cross</td></tr>
<tr>
<td>&nbsp;318</td>
<td>&nbsp;Stamford Hill to North Middlesex Hospital</td></tr>
<tr>
<td>&nbsp;325</td>
<td>&nbsp;Prince Regent DLR station to East Beckton (Sainsbury's)</td></tr>
<tr>
<td>&nbsp;327</td>
<td>&nbsp;Waltham Cross circular route </td></tr>
<tr>
<td>&nbsp;329</td>
<td>&nbsp;Turnpike Lane station to Enfield Town (Little Park Gardens)</td></tr>
<tr>
<td>&nbsp;341</td>
<td>&nbsp;County Wall Waterloo to Northumberland Park (24-hour service)</td></tr>
<tr>
<td>&nbsp;349</td>
<td>&nbsp;Stamford Hill to Ponders End Garage</td></tr>
<tr>
<td>&nbsp;377</td>
<td>&nbsp;Ponders End Garage to Oakwood station</td></tr>
<tr>
<td>&nbsp;379</td>
<td>&nbsp;Chingford station to Yardley Lane Estate</td></tr>
<tr>
<td>&nbsp;382</td>
<td>&nbsp;Southgate station to Mill Hill East station</td></tr>
<tr>
<td>&nbsp;393</td>
<td>&nbsp;Chalk Farm to Clapton</td></tr>
<tr>
<td>&nbsp;397</td>
<td>&nbsp;Debden Station to Crooked Billet </td></tr>
<tr>
<td>&nbsp;444</td>
<td>&nbsp;Turnpike Lane station to Chingford station</td></tr>
<tr>
<td>&nbsp;491</td>
<td>&nbsp;Waltham Cross to North Middlesex Hospital</td></tr>
<tr>
<td>&nbsp;617</td>
<td>&nbsp;Turnpike Lane station to St Ignatius College</td></tr>
<tr>
<td>&nbsp;647</td>
<td>&nbsp;Harold Hill to Romford station</td></tr>
<tr>
<td>&nbsp;657</td>
<td>&nbsp;Crooked Billet (Sainsbury's) to Woodford Wells (Bancroft's School)</td></tr>
<tr>
<td>&nbsp;678</td>
<td>&nbsp;Beckton bus station to Stratford bus station</td></tr>
<tr>
<td>&nbsp;W3</td>
<td>&nbsp;Finsbury Park station to Northumberland Park station</td></tr>
<tr>
<td>&nbsp;W6</td>
<td>&nbsp;Southgate station to Edmonton Green station</td></tr>
<tr>
<td>&nbsp;W11</td>
<td>&nbsp;Walthamstow Central station to Chingford Hall Estate</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Some bus routes into central London - including 29, 38, 73, 149 and 243 - also affectedAffected passengers urged to use other transport services, or to walk or cycle where possiblePassengers should check before travelling at tfl.gov.uk/buses Transport for";}
        
        


 