


@{ViewBag.Title = "Central line 'Hainault loop' closure lifted after successful upgrade work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Central line 'Hainault loop' closure lifted after successful upgrade work</h1>
        <div class="content-page-press-release">
        05 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A full good service is operating across the Central line today following the successful completion of a 12-day closure of the Hainault loop in order to upgrade points, renew rail and install drainage.
        
    </div>



 <div class="on-this-page">
<p>The block closure, from 24 October to 4 November, has enabled much needed upgrade work to take place which has vastly improved the railway infrastructure and will enhance reliability for passengers.</p>
<p>The works, that took&nbsp;more than&nbsp;60,000 hours of work time to complete, included:<br></p>
<ul>
<li>11 completely new sets of points in this very complex junction area </li>
<li>505m of track renewal through the Hainault platforms (track, sleepers and ballast replacement) </li>
<li>319m of new drainage to prevent track flooding and signal failures</li>
<li>340m of new rails between Wanstead and Leytonstone </li>
<li>Tube track reconditioning work between Leytonstone and Newbury Park</li>
<li>Improvements to the track condition at Newbury Park where the Central line comes out of a tunnel and the rails pass from a concrete bed to ballast-based track</li>
<li>Reliability maintenance work on points at Newbury Park</li>
<li>A large section of earth works near Fairlop station to stabilise the embankments, with 2,500 concrete planks and 330 steel posts. This was innovatively planned to reduce the impact on residents and enable it to be carried out alongside track works, preventing further weekend engineering closures</li></ul>
<p>George McInulty, LU Programme Director of Infrastructure, said: 'It was essential to carry out this work to enable us to improve the reliability of this section of the Central line. </p>
<p>'We appreciate that users of the Hainault loop were affected by this closure and I would like to take this opportunity to thank them for their patience and hope they will see the positive impact that these improvements will have on their journeys.</p>
<p>Implementing this type of closure has enabled us to get a huge amount of work done that would have normally taken up to ten weekend closures and caused more overall disruption to customers. A blockade approach such as this one has enabled us to&nbsp; cut the overall work time down over a third, from 19 days down to 12,&nbsp; and save millions of pounds of public money.'</p>
<p>These works are part of a programme of renewal works on the Central line, which was last upgraded in the 1990s and includes refreshing the fleet of 85 trains and renewing track to give customers a better, smoother journey.</p>
<p>The Central line is used by 900,000 passengers each day and the works affected around 7,500 of those customers each weekday.</p>
<p>
<hr>
<br></p>
            <p><strong>Note to Editors:</strong></p>
<ul>
<li>Photos of the works are available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The block closure, from 24 October to 4 November, has enabled much needed upgrade work to take place which has vastly improved the railway infrastructure and will enhance reliability for passengers.The works, that took&nbsp;more than&nbsp;60,000 hours of";}
        
        


 