


@{ViewBag.Title = "Consolidated London Highways Alliance Contracts to deliver road maintenance and major infrastructure improvements while saving up to &pound;450m";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consolidated London Highways Alliance Contracts to deliver road maintenance and major infrastructure improvements while saving up to &pound;450m</h1>
        <div class="content-page-press-release">
        08 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        For the first time frameworks will cover Transport for London (TfL) and borough local road maintenance and improvements across London.
        
    </div>



 <div class="on-this-page">
<ul>
<li>New way of working will help deliver jobs, innovation, and provide around 250 apprenticeship opportunities </li>
<li>Fresh approach will also encourage more than &pound;2bn of investment in road infrastructure</li></ul>
<p>Transport for London (TfL) and London boroughs have awarded four new area-based joint highways contracts that could save up to &pound;450m during the next eight years, helping to drive through more than &pound;2bn of investment in road infrastructure.</p>
<p>The new contract frameworks, developed jointly by TfL and the London Boroughs, will cover both road maintenance and the design and construction of new schemes, and, for the first time, can apply to all roads across London.</p>
<p>TfL will use these frameworks for all TfL Road Network (TLRN) highway contracts from April 2013, which will be worth up to &pound;1.2bn during the next eight years, and has also written into the Local Implementation Plan guidance that boroughs will be expected to use the new arrangements where they represent better value than existing arrangements. </p>
<p>It is expected that up to 12 London boroughs will utilise these contracts for a range of maintenance services from April 2013. </p>

<p>As more borough's individual contracts come up to renewal and TfL funds more major borough road schemes, more contracts are expected to be delivered through this framework, raising the total value of the contracts to around &pound;2.6bn.</p>
<p>Each framework, which will run for eight years from April 2013 until the end of March 2021, will cover specific geographic areas of London. </p>

<h2>Jobs, innovation and opportunities</h2>

<p>By using these contracts, TfL and boroughs could together save up to &pound;450m pounds across the duration of the framework, through avoiding expensive tendering costs, better working practices, coordinated working and better use of resources, plant and fleet, which can then be reinvested into other services and developments.</p>
<p>Until now, highways works have been carried out by a vast range of different contractors. </p>

<p>The new contracts have been designed, as part of the Transforming London's Highways Management initiative, to lead to more consistency in the quality of works and materials used, and to minimise disruption by encouraging more efficient practice and co-ordinated working. </p>
<p>The frameworks covers 23 discrete services, including lighting, winter maintenance and safety inspections, meaning clients do not need to take the whole range of services and can choose which elements will deliver the greatest benefits. </p>

<p>The winning contractors will be required to pay the London Living Wage and help tackle any skill gaps within local workforces to further help drive the Capital's economy. </p>
<p>The new contracts will also create hundreds of apprenticeship opportunities for TfL and London boroughs, helping to encourage young people into engineering and delivering a long lasting economic investment. </p>

<p>TfL's new contracts alone will look to take on 120 apprentices throughout the length of the frameworks from April 2013, building on TfL's award winning apprenticeship programme.</p>
<h2>Investing in a transport network</h2>

<p>The contracts will help deliver significant improvements in how contractors manage construction vehicles while working on the Capitals roads. </p>

<p>All contractors will be required to join TfL's Fleet Operator Recognition Scheme (FORS) and all vehicles exceeding 3,500kg (including those used by subcontractors) will be required to have sideguards, close proximity sensors and prominent signage to warn cyclists about the dangers of passing on the inside of the vehicle. </p>
<p>The contractors will also be required to ensure that their vehicle fleet meets Euro standards for emission standards and regularly demonstrate how they are working to reduce the impact of their works on the environment. </p>
<p>Dana Skelley, Director of Roads at TfL, said: 'Investing in a transport network that is safe, reliable and customer focussed for all road users is a core part of the work that TfL does day-in, day-out. </p>

<p>'These new contracts will allow us to further deliver this work in an efficient manner through joined up working with other London highway authorities, ensuring greater value for money and delivering a better road network for all.'</p>
<p>Chair of London Councils' Transport and Environment Committee, Councillor Catherine West said: 'The London Highways Alliance Contract will mean better roads for Londoners at a lower cost.'</p>
<p>
<hr>
</p>

<p><strong>Notes to editors:</strong></p>

<ul>
<li>The contracts have been awarded following a competitive tender process during 2012</li>
<li>The London Highway Alliance Contract (LoHAC) is a pioneer scheme of the Department for Transports Highway Management Efficiency Programme, which is a sector-led transformation programme designed to maximise returns from highways investment and deliver efficient and effective services - <a href="http://www.dft.gov.uk/hmep">www.dft.gov.uk/hmep</a></li>
<li>The area-based contracts have been awarded to the following contractors (subject to the 10-day standstill (Acatel) period)</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Central area</strong> (covering roads within Camden, City of London, Southwark, Tower Hamlets, Hackney, Lambeth, Wandsworth, Hammersmith &amp; Fulham, Royal Borough of Kensington &amp; Chelsea, Islington and Westminster)</td>
<td>&nbsp;CVU is a Joint Venture between Colas, VolkerHighways and URS</td></tr>
<tr>
<td>&nbsp;<strong>North east</strong> area (covering roads within Havering, Barking &amp; Dagenham, Redbridge, Newham, Waltham Forest, Haringey and Enfield)</td>
<td>&nbsp;Ringway Jacobs</td></tr>
<tr>
<td>&nbsp;<strong>North west </strong>area (covering roads within Hounslow, Hillingdon, Ealing, Brent, Harrow and Barnet)</td>
<td>&nbsp;CONWAY AECOM JV</td></tr>
<tr>
<td>&nbsp;<strong>South area </strong>(covering roads within Bexley, Greenwich, Lewisham, Bromley, Croydon, Sutton, Merton, Royal Borough of Kingston upon Thames and Richmond upon Thames)</td>
<td>&nbsp;EnterpriseMouchel</td></tr></tbody></table></div></p>

<ul>
<li>The Transforming London's Highway Management initiative is a programme jointly developed by TfL and London Councils to better manage the Capital's road network through better partnership working and investment in new technology</li>
<li>Each London borough produces a Local Implementation Plan (LIP) for TfL to demonstrate how they plan to implement the Mayor's Transport Strategy locally. While TfL allocate funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough</li>
<li>In October 2012, TfL's Youth Engagement and Apprenticeship Programme won the <a href="http://www.bitcdiversity.org.uk/awards/rfo_awards_2012/case_studies/youth_partnership_1.html">Youth Partnership Award</a> at the Race for Opportunity Awards 2012 for its work to help TfL's supply chain access new talent and diversify its workforce</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New way of working will help deliver jobs, innovation, and provide around 250 apprenticeship opportunities Fresh approach will also encourage more than &pound;2bn of investment in road infrastructureTransport for London (TfL) and London boroughs have";}
        
        


 