


@{ViewBag.Title = "London Overground - five years old today ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground - five years old today </h1>
        <div class="content-page-press-release">
        12 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground celebrates its fifth birthday today, just under a month before it completes its final extension across south London to bring a truly orbital rail service to the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London Overground's first five years have seen meteoric growth in both the railway network and passenger numbers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">TfL's Chief Operating Officer for London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London Overground's first five years have seen meteoric growth in both the railway network and passenger numbers
                            
                        </p>
                    </div>
                
            
            
            <p>Since Transport for London (TfL) took over management of the railway in 2007, it has set new standards for rail travel in the Capital with staffed stations, air-conditioned trains and fast, high-frequency services London-wide. </p>
<p>In just five years passenger numbers have quadrupled, with more than 100 million journeys now being made each year on the London Overground and more than 300 million to date. </p>
<p>London Overground has appeared consistently in the top five of National Rail's reliability tables and has also scored highly in passenger satisfaction surveys by watchdog, Passenger Focus. </p>
<p>Early next month, a final link in the network from Clapham Junction to Surrey Quays will be completed, to make London Overground's orbital network complete.</p>
<p>The Mayor of London, Boris Johnson, said:&nbsp;'From its rebirth, London Overground has become a shining example of how railways should be run. </p>
<p>'Londoners have flocked to the Capital's new service, enjoying the improved standards and connections it provides. </p>
<p>'The network will soon orbit our city, bringing a fast and frequent metro like service to thousands and dramatically improving transport options in southeast London.'</p>
<h2>Passenger-centered services</h2>
<p>TfL's Chief Operating Officer for London Rail, Howard Smith, said: 'London Overground's first five years have seen meteoric growth in both the railway network and passenger numbers. </p>
<p>'We've extended the Overground to West Croydon and Crystal Palace, we've linked Dalston Junction to Highbury &amp; Islington and soon we'll cross south London to the major rail gateway of Clapham Junction. </p>
<p>'We've bought a new fleet of 57 new air-conditioned trains, we've built new stations, refurbished old ones with 21st century passenger facilities and we've put staff at every station while the trains are running. </p>
<p>'In north London, we replaced a signalling system and tracks that had been in place since Victorian times. </p>
<p>'In short, London Overground is a perfect example of how - if you put passengers at the centre of everything you do - they will use the services you offer. </p>
<p>'Londoners want a safe, frequent and reliable service to get them around the Capital and London Overground provides it.'</p>
<p>Steve Murphy, the Managing Director of London Overground Rail Operations Ltd (LOROL), the company which runs the service on behalf of TfL, said: 'LOROL's challenge over the last five years has been to create a world-class transport system for London from one which had suffered significant neglect. </p>
<p>'We have met this challenge head-on and created a network that now provides London rail passengers with safe, reliable, welcoming and value for money services at all times. </p>
<p>'Passenger satisfaction has soared and punctuality is at an all time high which is exceptional for a metro-style service with more than 370,000 passenger journeys are made every day.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL took over management of the seven-year long London Overground franchise from the Department for Transport in December 2007 and awarded the contract to the operator, LOROL (a joint venture between Deutshe Bahn and the Hong Kong subway operator, MTR, operating as part of Arriva). The network and services were previously known as Silverlink</li>
<li>In the last five years, TfL has taken the previous 30-year-old trains out of service, introduced a fleet of new high-capacity trains, modernised all existing stations and built five new ones, built the East London line extension from Dalston Junction to&nbsp; New Cross Gate, Crystal Palace and West Croydon and linked Dalston Junction with Highbury &amp; Islington. New platforms were built at Stratford Station and a major signalling and track upgrade on the north London line was also completed</li>
<li>A new London Overground service across south London (Surrey Quays to Clapham Junction) will begin on 9 December 2012. This final link will complete&nbsp; the London Overground orbital&nbsp; network around the Capital</li>
<li>London Overground runs 938 services from its fleet of 65 air-conditioned trains each day (57 Class 378 Capitalstar and 8 Class 172 diesels ). This is double the number of services it ran at the beginning of the concession and It has also quadrupled the number of passengers it carries to 100 million per year</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Since Transport for London (TfL) took over management of the railway in 2007, it has set new standards for rail travel in the Capital with staffed stations, air-conditioned trains and fast, high-frequency services London-wide. In just five years passenger";}
        
        


 