


@{ViewBag.Title = "Marylebone's waterways, transport systems, architecture and nature inspire Art on the Underground's largest artwork at Edgware Road Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Marylebone's waterways, transport systems, architecture and nature inspire Art on the Underground's largest artwork at Edgware Road Tube station</h1>
        <div class="content-page-press-release">
        19 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Arising from the area between Edgware Road, Chapel St and Marylebone Road is Wrapper, a 1500 square-metre permanent artwork created by London based artist Jacqueline Poncelet for London Undergound's new operational building next to the Circle, District and Hammersmith &amp; City lines Tube station.</p>
<p>In what is considered to be the largest vitreous enamel artwork in Europe, Poncelet has turned her observations of the local area into a gargantuan mosaic of over 700 decorated panels inspired by the area's history, transport systems, waterways, architecture, communities and the bright colours of the Tube network.</p>
<p>Poncelet has transformed the exterior of an ordinary building into a colourful artwork for Tube customers and the local community to enjoy for decades to come. The new artwork will also make the area around the Tube station more attractive and welcoming for local residents and visitors. </p>
<p>This new building is already supporting the upgrade of the Metropolitan, District, Circle and Hammersmith and City lines. The function of the building allows for the continuing roll-out of new air-conditioned walk-through trains for Tube passengers.</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: "We are excited to be launching Wrapper, leading contemporary artist Jacqueline Poncelet's epic artwork at Edgware Road Tube station that is Art on the Underground's third permanent commission.&nbsp;Poncelet elegantly reflects Marylebone's architecture, history and nature in her installation, which makes for a dramatic and colourful contribution to the area.</p>
<p>"We believe this artwork will brighten customers' journeys as they pass through the Tube station and will also make the area more inviting for the local community."</p>
<p>Jacqueline Poncelet established herself as a major figure on the international ceramics scene in the 1970s and 80s but in the last twenty years has diversified into painting, sculpture and public art commissions.&nbsp; </p>
<p>Poncelet says of Wrapper: "Pattern can identify different cultures at a glance, can suggest other places, can conjure varieties of feeling, can change expectation, relieve boredom and calm what is cluttered."</p>
<p>Alongside the installation Wrapper Art on the Underground commissioned artist Jessie Brennan to develop an artwork with St Marylebone Society, local residents, photography students and London Underground staff.&nbsp; Inspired by the creative processes Poncelet used in Wrapper, Brennan has produced Everything Meets Here, a minutely detailed three metre long pencil drawing of an imaginary landscape situated in the entrance to the station. </p>
<p><br>For further information please contact Janette Scott Arts PR, on <a href="mailto:janettescottartspr&#64;gmail.com">janettescottartspr&#64;gmail.com</a> or +44(0)7966 486156. For press enquiries relating specifically to Transport for London please contact Candice Jones, TfL press office, on <a href="mailto:candicejones&#64;tfl.gov.uk">candicejones&#64;tfl.gov.uk</a> or 020 7126 4883 or 0845 604 4141.</p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to Editors:</strong></p>
<p><strong>Jacqueline Poncelet<br></strong>Jacqueline Poncelet established herself as a major figure on the international ceramics scene in the 1970s and 80s. In the 90s she diversified her practice to include painting, sculpture and public art commissions, ending the decade as one of the three curators of the British Art Show. Poncelet has had numerous solo and public exhibitions both in the UK and abroad and has won a number of awards. Increasingly collaborative in her practice, Poncelet often works with architects and is also active as curator and educator. She has lectured in the UK, Netherlands and Canada and one of her recent collaborations includes design work for the Child Development Unit at Guys and St Thomas' Hospital, London.</p>
<p>The vitreous enamel panels were produced and installed by A.J.Wells based on the Isle of Wight, UK. </p>
<p><strong>Jessie Brennan <br></strong>Jessie Brennan is an artist-educator who lives and works in London. She graduated from the Royal College of Art in 2007 and has since exhibited nationally and internationally, with exhibitions and projects including Cities and Eyes, Mariam Cramer Projects, Amsterdam (2012); Jerwood Drawing Prize 2011, Jerwood Space, London and UK tour (2011 &amp; 2010); And Then Again, Lisbon City Museum, Portugal (2010); Impossible Buildings: Interpreting Place, Art on the Underground, London (2009). In 2011 Brennan was Second Prize Winner of the Jerwood Drawing Prize. She is a visiting lecturer at a number ofuniversities in the UK.</p>
<p><strong>Art on the Underground<br></strong>Art on the Underground (AOTU) which is part of London Underground provides a world-class programme of contemporary art that enriches the Tube environment and customers' journey experience; and continues the long-standing tradition that excellent art and design is at the core of London Underground's identity and services. The programme operates through a number of different strands and includes temporary and permanent commissions displayed on large scale single station sites such as Gloucester Road and other stations throughout the network; a series of commissions for the front cover of the Pocket Tube map; a film programme at Canary Wharf station; and a programme of Tube line-based commissions, which revolve around a particular theme. The Tube line series has so far included the Piccadilly line (Thin Cities), the Jubilee line (One Thing Leads to Another - Everything is Connected) and the Central line (Central Line Series) <a href="http://art.tfl.gov.uk/">art.tfl.gov.uk</a></p>
<p><strong>London Underground<br></strong>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30% more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Arising from the area between Edgware Road, Chapel St and Marylebone Road is Wrapper, a 1500 square-metre permanent artwork created by London based artist Jacqueline Poncelet for London Undergound's new operational building next to the Circle, District";}
        
        


 