


@{ViewBag.Title = "Mayor's commitment fulfilled as 60-year-old Londoners have free travel restored";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's commitment fulfilled as 60-year-old Londoners have free travel restored</h1>
        <div class="content-page-press-release">
        01 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New 60+ London Oyster photocard allows London's over-60s to travel for free. Fulfils the Mayor's pledge to bridge the gap after the age of eligibility for the Freedom Pass was increased by Government.
        
    </div>



 <div class="on-this-page">
<p>London's over-60s are now able to travel for free on all Transport for London (TfL) and some National Rail services with their new 60+ London Oyster photocard. </p>
<p>Launching this week, the <a href="http://www.tfl.gov.uk/60pluslondon">60+ London Oyster photocard </a>bridges the gap for older Londoners until they&nbsp;reach the age of eligibility for the London Council's Freedom Pass.</p>
<p>More than 15,000 applications have been received for the new concession, and around 12,000 cards have already been issued.</p>
<p>The 60+ London Oyster photocard means Londoners once again become eligible for free travel on London Underground, London Overground, buses Docklands Light Railway (DLR), trams and some National Rail services 24-hours-a-day, seven-days-a-week, from their 60th birthday. </p>
<p>Just like the Freedom Pass, it will also allow them free travel outside of morning peak hours on other National Rail services in the Capital. </p>
<p>In April 2010, eligibility for the London Council's Freedom Pass for both men and women was raised to be in line with the state retirement age for women, which is going up in increments of&nbsp;one month every two months, and means Londoners currently have to be at least 61 years old to qualify.</p>
<p>Mayor of London Boris Johnson said: 'I'm delighted to be able to give back free travel to those hard working Londoners who expected to receive it when they reached 60, only to have the goal posts moved and it snatched from their grasp. </p>
<p>'As a key manifesto commitment, I promised not only to protect the Freedom Pass but to restore this right for free travel to every Londoner from their 60th birthday. </p>
<p>'Londoners have now been taken off the age escalator and it's great to hear so many are already benefitting having signed up for their 60+ London Oyster photocard.'</p>
<p>Samantha Mauger, Chief Executive of Age UK London, said: 'We welcome the restoration of free travel in London to 60 year olds. </p>
<p>'For many people, getting a Freedom Pass is one of the best things about getting older. </p>
<p>'Access to public transport is a lifeline for older people and without the Freedom Pass many are at greater risk of social isolation. </p>
<p>'We are very pleased that Mayor Boris Johnson has delivered on his pledge to bridge the gap for older Londoners.'</p>
<p>Applications for the <a href="http://www.tfl.gov.uk/60pluslondon">60+ London Oyster photocard</a> are now open.&nbsp; </p>
<p>A 60+ web account will be set up for online applicants to get updates on their application or to report lost, stolen or damaged photocards.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The application process for the 60+ London Oyster photocard is primarily online. Applications will require a colour digital photo, an active email address, proof of age and a bankcard registered at their home address to pay the &pound;10 fee. Anyone who does not have access to the internet can contact TfL's Customer Contact Centre on 0845 331 9872 for assistance</li>
<li>The 60+ London Oyster photocard will expire when a passenger reaches the age of eligibility for the London Councils Freedom Pass</li>
<li>Only Londoners aged 60 or over whose main residence is in a London borough are eligible</li>
<li>To apply, applicants need:</li>
<ul>
<li>A colour digital photo</li>
<li>An active email address</li>
<li>A driving licence (full or provisional)&nbsp;or a valid machine readable passport</li>
<li>A valid debit/credit card registered in their name and current address, to pay the non-refundable &pound;10 fee and confirm their address</li></ul>
<li>Applicants who are not able to complete an online application because they do not have internet access, do not have valid identification, are unable to upload a digital photo or cannot pay the &pound;10 fee online should contact TfL (0845 331 9872) for assistance. Verification of identity and payment of the fee may be processed through the Post Office</li>
<li>Only applicants who apply online will have a 60+ web account set up</li>
<li>Holders of the 60+ London Oyster photocard will be able to travel free at all times on London buses, London Underground, Tram, DLR, London Overground and the following National Rail services:</li>
<ul>
<li>Chiltern Railway services between Amersham&nbsp;and Marlybone, and between West Ruislip&nbsp;and South Ruislip</li>
<li>First Capital Connect services between Finsbury Park&nbsp;and King's Cross, and West Hampstead Thameslink&nbsp;and London Bridge/Elephant &amp; Castle</li>
<li>London Midland services between Harrow &amp; Wealdstone and Euston</li>
<li>National Express East Anglia services between Stratford and Liverpool Street</li>
<li>c2c services between Upminster&nbsp;and Fenchurch Street</li></ul>
<li>After 9:30 Monday to Friday, and at all times on weekends and public holidays, the 60+ London Oyster photocard will also allow free travel on most National Rail services in Greater London (check with train operator) and to Dartford and Swanley</li>
<li>Southern services between Clapham Junction and Harrow &amp; Wealdstone will also accept the 60+ London Oyster photocard for free travel after 9:00 Monday to Friday and at all times on weekends and public holidays</li>
<li>60+ London Oyster photocard holders will be able to get a discount on the following River services:</li>
<ul>
<li>City Cruises: Westminster - Greenwich</li>
<li>Thames River Services: Westminster - Greenwich - Thames Barrier</li>
<li>Crown River Cruises: Westminster - St Katherine's</li>
<li>WSPA: Westminster - Hampton Court</li>
<li>Thames Clippers: Embankment and the London Eye - The O2 and Woolwich Arsenal</li>
<li>Thames Clippers: Bankside - Millbank</li></ul>
<li>60 + London Oyster photocard holders can show their card to pay the discounted adult rate Boarding Pass fare on Emirates Air Line</li>
<li>The 60+ London Oyster photocard will not be valid at any time on:</li>
<ul>
<li>Virgin Trains</li>
<li>London Midland and Southern services between Harrow &amp; Wealdstone and Watford Junction</li>
<li>Scotrail services</li>
<li>Heathrow and Gatwick Express services</li>
<li>Heathrow Connect between Hayes &amp; Harlington and Heathrow</li>
<li>Southeastern High Speed 1 services (Javelin)</li>
<li>Non-TfL bus services outside London</li></ul>
<li>Pay as you go credit cannot be added to a 60+ London Oyster photocard. A separate Oyster card or paper ticket will need to be purchased to travel outside the valid times or services</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London's over-60s are now able to travel for free on all Transport for London (TfL) and some National Rail services with their new 60+ London Oyster photocard. Launching this week, the 60+ London Oyster photocard bridges the gap for older Londoners until";}
        
        


 