


@{ViewBag.Title = "Mayor sets out major plan for transport investment while keeping fares as low as possible with rise at one per cent above inflation for 2013";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor sets out major plan for transport investment while keeping fares as low as possible with rise at one per cent above inflation for 2013</h1>
        <div class="content-page-press-release">
        07 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor secures extra funding to keep fare rise RPI+1 per cent.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London, Boris Johnson, has set out a 2013 fares package that will help Transport for London (TfL) to continue and expand its major programme of investment in the capital's transport network, and provide the support required to boost jobs and economic growth in London.</p>
<p>The Mayor has secured an extra &pound;96million of funding that will be used to keep next year's fares package lower than expected. </p>
<p>He confirmed today (7 November) that from 2 January 2013 fare increases on London's Tubes, buses, London Overground, Dockland's Light Railway (DLR) and trams will rise at one per cent above inflation overall. </p>
<p>It was also confirmed today that there will be increases to access fees for Barclays Cycle Hire in 2013.</p>
<p>An unprecedented investment in London's transport network is underway that is delivering faster, more frequent and reliable services for customers and supporting London and the UK's economic development and growth. </p>
<p>The Mayor also intends to expand that programme by making a significant investment in the capital's roads, increasing investment in cycling and cycle safety projects and ramping up work to improve the deep Tube lines. Further detail of those measures will be announced before the end of the year in TfL's new business plan.</p>
<p>However, over the next year it has already been confirmed that sustained investment in London's transport network will see:</p>
<ul>
<li>Extension of the hugely successful Barclays Cycle Superhighway route 2 and construction of a brand new Barclays Cycle Superhighway from Victoria to Lewisham </li>
<li>The completion of the London Overground rail network, delivering London's first orbital railway and linking 20 of London's 33 boroughs </li>
<li>The rollout of new air-conditioned trains across the Circle and Hammersmith &amp; City lines </li>
<li>Work continuing on the new signalling upgrade for the Northern line which will provide 20 per cent more capacity </li>
<li>The new Crossrail stations at Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street and Whitechapel continue to progress with intensity </li>
<li>The launch of contactless payment on the transport network - Phase one on London's 8,500 buses will give customers the option of greater convenience by paying their single bus journeys using a contactless credit, debit or charge card </li>
<li>600 new bus for London (NBfL) vehicles ordered and the first full route converted by Spring 2013 </li>
<li>The fleet of hybrid buses increased to 400 </li>
<li>Three more hydrogen buses joining the existing five on the RV1 route meaning the whole route will operate with emission free buses</li></ul>
<p>The Mayor has ensured that concessionary travel for young people, veterans and older and disabled Londoners has been protected in 2013 so that those who need it most will continue to travel for free or at a discounted rate. London's over 60s have had free travel reinstated with the 60+ London Oyster card effective from 1 November 2012.</p>
<p>Based on July's RPI figure of 3.2 per cent, from 2 January 2013 fares will rise by an average 4.2 per cent across TfL services and Oyster pay as you go. Within that overall package the Oyster daily price cap for TfL rail and National Rail services will be frozen, while some fares will go up by slightly more or slightly less than the 4.2 per cent average.</p>
<p>On London's buses, the Oyster pay as you go fare will rise by 5p to &pound;1.40 (3.7 per cent) and the cash fare will increase by 10p, ensuring that Oyster pay as you go continues to be the cheapest way to travel around the capital. On the Tube, cash fares will increase by 20p and Oyster pay as you go fares will increase by 10p or 20p. The daily Oyster pay as you go cap for Tube, DLR and rail travel will be frozen at 2012 levels.</p>
<p>TfL also continues to drive forward with a challenging programme of &pound;7.6bn of savings and efficiencies, so that every penny TfL receives goes toward running and upgrading the transport network for customers. Around three quarters of this has already been secured, with work ongoing to deliver further savings.</p>
<p>The Mayor of London, Boris Johnson said: 'Before the end of the year I will spell out further investment on the transport network that will help us to provide faster, more frequent and reliable journeys for Londoners; and is crucial to the economic development and growth that is so vital to our great city. </p>
<p>'This fares package is hugely important to our millions of passengers and I am very pleased to have secured nearly &pound;100m that will help to keep fares as low as possible, and protect the important concessions that we offer the most vulnerable Londoners.'</p>
<p>Further details of the new fares are set out in the tables below, but the key elements of the January 2013 fares package are:</p>
<ul>
<li>All free and concessionary travel protected, including the new 60+ London Oyster card </li>
<li>On the Buses, Oyster pay as you go fares increase by 5p </li>
<li>On the Tube, single Zone 1 pay as you go fare rises by 10p and a Zone 1-6 single fare by 20p during the peak (4.2 per cent) or 10p in the off-peak (3.4 per cent) </li>
<li>The Oyster daily price cap for Tube, DLR, London Overground and National Rail travel will be frozen at 2012 levels to encourage Oyster use over paper tickets</li></ul>
<p>Also from 2 January, rail users travelling in to London from parts of Essex and Hertfordshire will benefit from the ease and convenience of using their Oyster cards, with the installation of Oyster readers at Brentwood, Shenfield, Waltham Cross, Theobalds Grove, Cheshunt and Broxbourne on the Greater Anglia network which serves London Liverpool Street. The extension of Oyster pay as you go to these stations from January 2013 was a commitment made by Abellio when they took on the Greater Anglia franchise in February 2012 and builds on the success of Oyster being extended to all National Rail stations within Greater London in 2010.</p>
<p>Barclays Cycle Hire will see changes to access fees from January 2013. 24 hour access will increase from &pound;1 to &pound;2, weekly access will rise from &pound;5 to &pound;10 and yearly membership will move from &pound;45 to &pound;90. Annual members will pay as little as 24p per day for unlimited journeys under 30 minutes. The majority of cycle hire trips are made within the free 30 minute usage charge period and additional charges for late return, non return and bicycle damage will not increase.</p>
<p>Over 17 million journeys have been made using the cycle hire scheme since its introduction in July 2010 and usage has risen by over 35 per cent in the last 12 months, with casual usage more than doubling during the same period. The access fee increases are the first since the scheme was introduced and will be used to make improvements to the future operation of the scheme. </p>
<p><strong>Ends</strong></p>
<p>
<hr>

<p><strong>Notes to Editors: </strong></p>
<ol type="1">
<li>The full TfL fares tables can be found here: <a href="http://www.london.gov.uk/who-runs-london/mayor/mayoral-decisions/md1090">http://www.london.gov.uk/who-runs-london/mayor/mayoral-decisions/md1090</a>&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li>The Mayor has secured an additional &pound;96million in funding from Government to bear down on fares, ensuring the rise for 2013 is lower than the planning assumption of RPI + 2 in TfL's current Business Plan </li>
<li>Over the last year alone, investment in London's transport network has delivered:<br>- Faster and more reliable journeys for Jubilee line passengers, with 30 trains per hour during the busiest periods<br>- The completion of the Victoria line upgrade, with new signalling and a brand new fleet of trains enabling up to 33 trains to run per hour, delivering more capacity and smoother, faster journeys for customers<br>- The rollout of a full fleet of air-conditioned trains on the Metropolitan line, running into central London for the first time<br>- New fully accessible lifts at Farringdon station<br>- Overhaul of Central line fleet and intensive track replacement programme to give passengers a better, smoother ride<br>- Eight prototype new bus for London vehicles entering passenger services on the capital's streets<br>- The launch of a real time bus information service that enables bus passengers to access information - using web or SMS - for each of the 19,500 bus stops in London<br>- The Emirates Air Line, the UK's first urban cable car which provides a vital link across the Thames in east London<br>- The first of up to 3,500 people being trained to work below ground at the Tunnelling and Underground Construction Academy in east London </li>
<li>Regular usage of Barclays Cycle Hire has risen by over 35 per cent in the last 12 months, from 6,714,017 journeys (Oct 10 to Sep 11) to 9,136,802 (Oct 11 to Sep 12). An increase of 2,422,785 journeys </li>
<li>Casual usage of Barclays Cycle Hire has more than doubled in the last 12 months from 1,510,635 journeys (Oct 10 to Sep 11) to 3,520,791 (Oct 11 to Sept 12). An increase of 2,010,156 journeys </li>
<li>Bus &amp; Tram, Oyster pay as you go, Travelcard and TfL Tube/Rail cash fares tables below</li>
<li>Download fares tables <a title="TfL fares table 2013" href="/assets/downloads/TfL_fares_2013.pdf">pdf</a></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has set out a 2013 fares package that will help Transport for London (TfL) to continue and expand its major programme of investment in the capital's transport network, and provide the support required to boost jobs and";}
        
        


 