


@{ViewBag.Title = "New Poems on the Underground book to celebrate the Tube's 150th anniversary";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Poems on the Underground book to celebrate the Tube's 150th anniversary</h1>
        <div class="content-page-press-release">
        05 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To celebrate London Underground's 150th anniversary a new edition of the Poems on the Underground book has been published by Penguin Books.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's wonderful to be able to mark these celebrations with this beautiful new hardback Poems on the Underground book"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">founder of Poems on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It's wonderful to be able to mark these celebrations with this beautiful new hardback Poems on the Underground book
                            
                        </p>
                    </div>
                
            
            
            <p>This new Poems on the Underground book contains verses that have been displayed in Tube carriages over the years, from the start of the programme in 1986 to the poems passengers can see on the Underground system today. </p>
<p>For the first time this latest edition has been arranged under headings that explore themes of human existence such as love, seasons, war, exile and loss, music and the natural world. </p>
<p>The six poems currently on show in Tube carriages also feature in this new book and include: Two Fragments by Sappho, translated by Cicely Herbert in which the ancient Greek poet speaks directly to women today; A song for England, by Andrew Salkey which is a heartfelt and humorous tribute by a Caribbean poet to his adoptive land; A Dead Statesman, by Rudyard Kipling, from 'Epitaphs of the War 1914-1918' which is a searing poem by a poet who lost his son to the War, chosen to commemorate Armistice Day; The Emigrant Irish, by Eavan Boland, a clear-eyed poem about the Irish famine by one of Ireland's foremost poets; Concerto for Double Bass, by John Fuller, a delightful image of one of the essential but neglected instruments of every orchestra; Swallows, by Owen Sheers, a beautifully observed image of a familiar autumnal sight, by a young award-winning Welsh writer of poems, plays and TV and radio scripts</p>
<p>Judith Chernaik, writer and editor and founder of Poems on the Underground, said: 'Next year will be the Tube's 150th anniversary and it's wonderful to be able to mark these celebrations with this beautiful new hardback Poems on the Underground book. </p>
<p>'I have been choosing poems for the Tube for 26 years and I feel honoured to be part of the Underground's rich cultural heritage which now spans 150 years.'</p>
<p>London Underground is planning an enormous range of events and activities which will celebrate the fascinating history of the world's first underground railway as well as looking at the vital role the Tube will continue to play in the London and UK economy. </p>
<p>In addition to the Poems on the Underground book, a new lavishly illustrated book called Underground - How the Tube shaped London 1863 to 2013 published by Penguin has been launched to celebrate the 150th anniversary of London Underground. </p>
<p>Further collections of Poems on the Underground will be displayed in 2013 to mark this special birthday. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Poems on the Underground was founded in 1986 </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai and Warsaw </li>
<li>Poems on the Underground: A New Edition was published on 1 November by Penguin/Particular Books and is available at all good bookshops</li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to 'check before they travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a>&nbsp; </li>
<li>Images available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This new Poems on the Underground book contains verses that have been displayed in Tube carriages over the years, from the start of the programme in 1986 to the poems passengers can see on the Underground system today. For the first time this latest";}
        
        


 