


@{ViewBag.Title = "'Petrobras [Rio]' a new artwork by Sarah Morris to appear on Pocket Tube Map cover ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>'Petrobras [Rio]' a new artwork by Sarah Morris to appear on Pocket Tube Map cover </h1>
        <div class="content-page-press-release">
        29 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Artist Sarah Morris's new art work, 'Petrobras [Rio]', commissioned by Art on the Underground will be displayed on the front cover of millions of pocket Tube maps from December 2012.
        
    </div>



 <div class="on-this-page">
<p>'Petrobras [Rio]' will be available for passengers to pick up from stations across the London Underground network. </p>
<p>This vibrant, abstract work is loosely based on the Tube map itself and the colours are an expanded version of the Tube map colours.</p>
<p>The work is a diagram of movement depicting a series of interactions. </p>
<p>'Petrobras [Rio]' encourages us to think about a journey - not a linear journey from A to B but more a slippage where thoughts and interactions occur that cannot be measured or contained.&nbsp; </p>
<p>Since the mid-1990s, Sarah Morris has been making brightly coloured complex abstract paintings and installations. </p>
<p>These bold, geometric works, based on different cities, distill architectural details while capturing the psychology of a city and its key protagonists.</p>
<p>The titles Morris uses for her paintings refer to the names of existing buildings or institutions. </p>
<p>The title 'Petrobas [Rio]' is a reference to the Brazilian energy company and to the forthcoming Olympic and Paralympic games. </p>
<p>Her entire new body of work is based on Brazil and her latest film 'RIO' premiered at the Locarno Film Festival in August and will be shown at White Cube in July 2013.</p>
<h2>Spectrum of colour</h2>
<p>In addition to the Tube map in June 2012 Sarah Morris was invited by Art on the Underground to create the twelfth commission at Gloucester Road. </p>
<p>Big Ben [2012] is a site-specific response to the architecture of the station and the city of London. </p>
<p>Spanning eighteen arches across the entire length of the disused platform, this dynamic work is an evolving spectrum of colour and geometry that invites the viewer to reflect upon both London's past and its future.</p>
<p>Morris's work is the latest in a series of commissions by Art on the Underground for the Pocket Tube map cover. </p>
<p>Other artists in the series include Tracey Emin, Jeremy Deller, Richard Long and Mark Wallinger. </p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'I'm delighted by the artwork created by Sarah Morris for the Tube map cover from December. </p>
<p>'Its strong references to the Tube map colours and use of shapes and lines echo the Tube network that millions of customers use everyday.'</p>
<p>'Sarah's use of abstract shape and colour for the work allow for many interpretations and I'm sure Tube users will enjoy drawing their own conclusions. </p>
<p>'It's great that we were able to get this work by Sarah at the same time as her current presentation at Gloucester Road station can be seen by the millions of people that pass through.</p>
<h2>Tube Monopoly</h2>
<p>Sarah Morris, artist, said: 'The work is a way of depicting a series of interactions, a subjective way of streamlining perception of multiple chains, movements and interlapping spheres of activity. </p>
<p>'My work always involves notions of what public space is. </p>
<p>'Titles are always borrowed and taken over as initial starting points. </p>
<p>'Right now I am working on a series of paintings and a film titled RIO. </p>
<p>'I always treasured the London Tube map as a form of Monopoly and my work is not that different.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The Pocket Tube map cover art works are owned outright by London Underground and form the basis of a permanent collection of unique works by world class artists, including Cornelia Parker, Paul Noble, Liam Gillick and Yinka Shonibare</li>
<li>For more information about Art on the Underground, visit <a href="http://www.tfl.gov.uk/art"><a href="http://tfl.gov.uk/">tfl.gov.uk/</a>art</a>&nbsp;</li>
<li>Sarah Morris was born in 1967 in the UK and grew up in Providence, Rhode Island, USA. She lives and works in New York and London, and has participated in many important exhibitions such as the 25th Sao Paolo Binennial (2002) and 'Days Like These', Tate Triennial (2003). Solo exhibitions include Nationalgalerie im Hamburger Bahnof, Berlin (2001), Moderna Museet, Stockholm (2005), and MMK Frankfurt (2009)</li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's (TfL's) Tube upgrade. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to 'check before they travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp;</li>
<li>Images of the artwork are available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Petrobras [Rio]' will be available for passengers to pick up from stations across the London Underground network. This vibrant, abstract work is loosely based on the Tube map itself and the colours are an expanded version of the Tube map colours.The work";}
        
        


 