


@{ViewBag.Title = "TfL encourages Londoners to get home safely with new Safer Travel at Night campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL encourages Londoners to get home safely with new Safer Travel at Night campaign</h1>
        <div class="content-page-press-release">
        19 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As the festive party season begins TfL has launched a new ad campaign to warn the public of the dangers in taking illegal minicabs by shattering the myths about getting home safely.
        
    </div>



 <div class="on-this-page">
<p>The Mayor has taken a tough line on touting and illegal cabs, and cab related sexual assaults have dropped by 26 percent in the past two years. </p>
<p>This new campaign aims to continue that positive trend.</p>
<p>The campaign - which will appear in cinemas, print and online - also promotes the launch of a new Cabwise mobile phone app which provides a quick and easy way to book a licensed minicab and get home safely. </p>
<p>The cinema advert reinforces the message that unbooked minicabs are illegal and pose a potential risk to safety. <br>&nbsp;<br>The campaign forms the latest stage of the Safer Travel at Night (STaN) initiative - a partnership between the Mayor, Transport for London, Metropolitan Police Service and the City of London Police. </p>
<p>The free-to-download Cabwise app (available on iTunes and Google Play) allows users to book the licensed minicab or taxi which is closest to their current location in three easy steps. </p>
<p>Alternatively users can visit <a href="http://tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> on their Smartphone and simply bookmark the page or, if there is no signal available at the location, the app defaults to the Cabwise text messaging service (60835) offering customers on all platforms the opportunity to use the service and to get home safely.&nbsp;&nbsp;&nbsp; </p>
<p>To reinforce the campaign, face-to-face engagement activity will take place in key London night spots throughout the festive season and posters will be displayed with the focus on encouraging women to book a cab before they leave home.&nbsp; </p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'Many people who travel in the capital still think that picking up a minicab displaying a TfL licence in the window is legal - but it's not. Only black cabs can be picked up off the streets; all minicabs need to be pre-booked through a licensed operator and any minicab that picks someone up off the street is acting illegally.<br>&nbsp;<br>'Although usage of illegal cabs has fallen since we began the Safer travel at Night initiative, tackling the problem of unbooked minicabs remains a high priority for TfL, the Mayor and the police. I encourage Londoners to download the new Cabwise app.'</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command, said: 'After a night out it can be tempting to jump into the first minicab you see, but by doing this, you could be putting yourself at risk. All minicabs MUST be booked in advance, even if they are displaying a TfL licence.&nbsp; </p>
<p>'The Safer Transport Command is committed to reducing the number of cab-related sexual offences and our officers are out on the streets of the capital giving women safer travel information and encouraging them to download the new free Cabwise app.'</p>
<p>TfL's Safer Travel at Night campaign is supported by Operation Safer Travel at Night, which involves police officers from across the capital working on deterring illegal minicab drivers, as well as engaging with late night revellers to inform them of the dangers of unbooked minicabs. </p>
<p>Although enforcement against unbooked minicabs and engagement with the public takes place throughout the year, there will be an increase in operations to detect and deter offenders during the Christmas party season. </p>
<p>Revellers should follow the following tips on how to stay safe when using minicabs: </p>
<ul>
<li>Never approach a minicab on the street or accept a fare - they are acting illegally, even if they are licensed by TfL </li>
<li>Only black cabs can pick passengers up on the street without a booking </li>
<li>When travelling by minicab always book it with a licensed operator </li>
<li>When it arrives check it's for you by getting the driver to confirm your booking details and check the driver's photo identification </li>
<li>To get three local cab numbers text 'CAB' to 60835**</li></ul>
<p>Visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for more information&nbsp;</p>
<p>
<hr>
<br>&nbsp;<strong>Notes to Editors:</strong> 
<p>
<ol>
<ol type="1">
<li>Since 2003 the Cab Enforcement Unit has made more than 8,000 arrests for touting and cab-related offences </li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>During the operations roadside and compliance checks are made and in addition, officers carry out operations and conduct checks on all cabs within the operation area </li>
<li>The STAN partnership between TfL, the MPS and the CoLP was launched in 2002/3.&nbsp;The campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely </li>
<li>The MPS Safer Transport Command fights crime on buses, tackles illegal cabs; and assists with the control of traffic congestion. There are now around 1,800 uniformed officers, which are funded in part by TfL </li>
<li>Cab related sexual assaults: 140 in 09/10 down to 103 in 11/12 a fall of 26% </li>
<li>The Mayor has taken a tough line on touting and illegal cabs and any TfL licensed private hire driver convicted of touting will now lose their private hire driver's licence for a minimum of one year </li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at t<a href="http://www.fl.gov.uk/contactcabs">fl.gov.uk/contactcabs</a>, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a> </li>
<li>Help and support is available for victims of sexual assault from The Havens. Details can be found at <a href="http://www.thehavens.co.uk">thehavens.co.uk</a> </li>
<li>For essential late night travel information in London please visit tfl.gov.uk/cabwise and tfl.gov.uk/traveltools </li>
<li>TfL's 24 hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London.&nbsp;Call 0843 222 1234 </li></ol></ol>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor has taken a tough line on touting and illegal cabs, and cab related sexual assaults have dropped by 26 percent in the past two years. This new campaign aims to continue that positive trend.The campaign - which will appear in cinemas, print and";}
        
        


 