


@{ViewBag.Title = "TfL would like to hear your views on plans to extend the Northern line ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL would like to hear your views on plans to extend the Northern line </h1>
        <div class="content-page-press-release">
        08 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Opportunity to feedback on the proposals either online, by post, or face to face. Public exhibitions to be held in areas along the proposed Northern line extension route from 15 November.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are really keen to hear what local residents and business have to say"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mich&egrave;le Dix</div>
            <div class="quotee-job-title">Managing Director of Planning for TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are really keen to hear what local residents and business have to say
                            
                        </p>
                    </div>
                
            
            
            <p>Local residents and businesses are being invited to comment on proposals to extend the Northern line from Kennington to Battersea via Nine Elms. </p>
<p>The proposed plans - which are subject to funding and permission from the Government - would include two new Tube stations at Battersea and Nine Elms. </p>
<p>Two previous consultations have showed that there is strong support for the 3km Northern line Tube link which would help regenerate Vauxhall and Nine Elms and support up to 25,000 jobs and 16,000 new homes. </p>
<p>Transport benefits would include; creating Tube access for thousands of people, cutting journey times from this part of London to the West End and the City to around 15 minutes; reduced pressure on Vauxhall station and relief to the existing Northern line south of Kennington, and&nbsp;wider access to leisure and employment opportunities for local people. </p>
<p>This latest consultation aims to provide more detailed information about the proposed sites for the two new stations, two permanent shafts and two temporary shafts required to build the extension. </p>

<h2>Providing more information</h2>
<p>Underground railways need shafts to be built to provide ventilation, cooling and emergency access if necessary. </p>
<p>It is important that people living in the area give Transport for London (TfL)&nbsp;their views before the application for a Transport and Works Act Order (TWAO) is finalised in spring 2013.&nbsp; </p>
<p>The TWAO is needed before construction of this large piece of transport infrastructure can begin.</p>
<p>Mich&egrave;le Dix, Managing Director of Planning for TfL, said: 'We are really keen to hear what local residents and business have to say about our proposed plans for the Northern line extension before they are finalised.&nbsp; </p>
<p>'This new transport link could help kick-start regeneration of the area by supporting the creation of thousands of new jobs and homes.'</p>
<p>Public exhibitions are being held at various venues in the boroughs near the route. </p>

<h2>Have your say</h2>
<p>Local people are encouraged to come and talk to representatives from TfL at the following locations: </p>
<ul>
<li>Market Towers, 1 Nine Elms Lane, SW8 5NQ on Thursday 15 November at 15:00 to 20:00 and Friday 16 November at 8:00 to 18:00 </li>
<li>Sainsbury's, 62 Wandsworth Road, SW8 2LF on Friday 23 November at 12:00 to 19:00 and Saturday 24 November at 9:30 to 13:00 </li>
<li>Gallery on the Corner, 155 Battersea Park Road, SW8 4BU on Thursday 29 November at 15:00 to 20:00 </li>
<li>The Kia Oval, Executive Box 56, Kennington, SE11 5SS on Friday 7 December at 12:00 to 19:00 and Saturday 8 December at 9:30 to 13:00</li></ul>
<p>In addition to these events, over 40,000 households along the route of the proposed extension will receive a detailed leaflet about the proposals.</p>
<p>If planning approval is obtained and a funding package is in place then construction of the Northern line extension could begin in 2015. </p>
<p>Go to <a href="http://www.tfl.gov.uk/nle">tfl.gov.uk/nle</a>&nbsp; to provide feedback on the proposals, view and download further information about each of the sites and complete the feedback form. </p>
<p>The Consultation will close on 16 December 2012. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. </p>
<p>This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. </p>
<p>By the end of the current programme there will be 30 per cent&nbsp;more capacity. </p>
<p>This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. </p>
<p>The work is essential to provide for London's growing transport needs now, and into the future. </p>
<p>TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to "check before you travel" at weekends, allowing extra journey time where necessary. </p>
<p>Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Local residents and businesses are being invited to comment on proposals to extend the Northern line from Kennington to Battersea via Nine Elms. The proposed plans - which are subject to funding and permission from the Government - would include two new";}
        
        


 