


@{ViewBag.Title = "Toys for London - TfL brings Christmas cheer to London's children with special toy donation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Toys for London - TfL brings Christmas cheer to London's children with special toy donation</h1>
        <div class="content-page-press-release">
        23 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over 300 unclaimed children's toys left on the TfL network donated to The Salvation Army today in time for Christmas.
        
    </div>



 <div class="on-this-page">
<ul>
<li>TfL urges passengers to check they have all their belongings before leaving the network</li></ul>
<p>A mountain of new, unclaimed children's toys which were handed in to Transport for London's (TfL) Lost Property Office this year have been given to The Salvation Army to donate to children in south London ensuring they get a gift this Christmas.</p>
<p>Earlier today TfL presented over 300 lost toys to the Deptford branch of The Salvation Army, for their Christmas Present Appeal. </p>
<p>The Salvation Army will then work with Lewisham Council to distribute the toys to those who will appreciate them most and may otherwise have gone without this Christmas. </p>
<p>This is the sixth year TfL's Lost Property Office has donated new unclaimed children's toys to The Salvation Army. </p>
<p>All the toys donated today were left on the transport network and went unclaimed for over three months, they have all been provided in their packaging and will bring joy to children of all ages as they range from dolls and play sets to board games and electronic gadgets.</p>
<p>Losing an item of property can be devastating, particularly at this time of year when people are saving for Christmas. </p>
<p>TfL urges all passengers to check they have their belongings with them before leaving any mode of transport, especially when they may have extra luggage or shopping with them. </p>
<p>Paul Cowan, Operations Performance Manager of the Lost Property Office, said: 'It is a sad fact that many children go without at this time of year. It is great to be able to team up with The Salvation Army once again to provide a little bit of joy and excitement for those who may not be as fortunate as others. </p>
<p>'It is also satisfying knowing that although the toys have not been given to their originally intended recipients, they will still be loved and enjoyed just the same. The team at the Lost Property Office work incredibly hard all year round trying to trace owners of lost property. They take great pride in the work they do and it is rewarding for them to be able to complete the cycle of giving through this special Christmas donation.'</p>
<p>Captain Kevin Stanbury of The Salvation Army's Deptford Community Centre, said: 'This partnership between the TfL Lost Property Office and The Salvation Army is invaluable, especially at this time of year. </p>
<p>'We work in the heart of the community and with the increase in the cost of living, many people that we work with were struggling to see how they would be able to give even the most basic gift to their children. This donation means that children who would have gone without this year will now have gifts to open on Christmas morning. It really does make a difference.'</p>
<p>It is estimated that the Lost Property Office has received over 15 million items since it was established in 1933. </p>
<p>Last year, over 220,000 items of property were received, ranging from bags, books and clothing to mobile phones, laptops, wallets and cameras. </p>
<p>Over the years, many extraordinary items have been handed in to the Lost Property Office including false teeth, wedding dresses, a puffer fish, breast implants, an urn of ashes and even a parachute. </p>
<p>Close to one quarter of items found on the network are restored to their owner. </p>
<p>Higher value items and those with unique identification, such as mobile phones and wallets have a better success rate with up to half being returned. Items not claimed after three months are either donated to charities including The Salvation Army and the British Red Cross, recycled, disposed of, or sold at auction. </p>
<p>Personal data is removed and securely destroyed, with any revenue generated from unclaimed items contributing towards the cost of running the Lost Property Office.</p>
<p>
<hr>
</p>
<p><br><strong>Notes to Editors:</strong></p>
<ul>
<li>All the toys donated to The Salvation Army are found on TfL's transport network. The Lost Property Office (LPO) only donates toys that have not been claimed for over three months and are still in their original packaging&nbsp; </li>
<li>If a name and address, email address or telephone number is found on the property, the potential owner is contacted and told that the LPO may have their item of property</li>
<li>Property normally takes a minimum of two working days to arrive at the LPO</li>
<li>After two days, customers can enquire about lost property in several ways: <br>o&nbsp;By calling 0845 330 9882 between 8:30 and 16:00, Monday to Friday (except Bank Holidays) <br>o&nbsp;By filling in an online enquiry form found here: <a href="http://goo.gl/0ptkq">http://goo.gl/0ptkq</a> <br>o&nbsp;By faxing 020 7918 1028 <br>o&nbsp;In person or by writing to:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lost Property Office<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 200 Baker Street<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NW1 5RZ</li>
<li>Property not claimed after three months is either donated to charity (The Salvation Army or the British Red Cross), recycled, disposed of,&nbsp; or sold at auction, with all revenue generated contributing towards the cost of running the LPO </li>
<li>The Salvation Army is an international Christian church and registered charity working in 125 countries worldwide, offering support, friendship and very practical help to people of all ages, background and needs. In the UK and Ireland this work includes more than 800 community churches and social service centres. Registered charity numbers England and Wales 214779, 215174 and in Scotland SC009359, SC037691, and Republic of Ireland CHY6399. For more information visit&nbsp; <a href="http://www.salvationarmy.org.uk">www.salvationarmy.org.uk</a>&nbsp; </li>
<li>The Salvation Army Christmas Present Appeal runs from 17 November until 16 December nationally. The public is encouraged to donate new, unwrapped toys at local drop off points. For details visit: <a href="http://www.salvationarmy.org.uk/uki/christmas-present-appeal">http://www.salvationarmy.org.uk/uki/christmas-present-appeal</a></li>
<li>For more information on The Salvation Army Christmas appeal email: <a href="mailto:presentappeal&#64;salvationarmy.org.uk">presentappeal&#64;salvationarmy.org.uk</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL urges passengers to check they have all their belongings before leaving the networkA mountain of new, unclaimed children's toys which were handed in to Transport for London's (TfL) Lost Property Office this year have been given to The Salvation Army";}
        
        


 