


@{ViewBag.Title = "Transport for London celebrates ParalympicsGB's success with limited edition Tube map";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London celebrates ParalympicsGB's success with limited edition Tube map</h1>
        <div class="content-page-press-release">
        16 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New version of the iconic London Underground Tube map replaces central and east London stations with ParalympicsGB medal winners.
        
    </div>



 <div class="on-this-page">
<ul>
<li>This follows the popular Team GB Olympic medallists map released in September 2012 </li>
<li>Just 2012 print copies of the special art map are available for &pound;49.99 each at <a href="http://shop.tfl.gov.uk">shop.tfl.gov.uk</a></li></ul>
<p>A new version of the central London section of the iconic Tube map, which replaces the names of stations with ParalympicsGB's medal winning athletes, has gone on sale today to celebrate the fantastic success of ParalympicsGB in the London 2012 Paralympic Games.</p>
<p>The limited edition map, created by sports journalists Alex Trickett and David Brooks, highlights the achievements of all the 97 athletes and five horses who contributed to ParalympicsGB's medal haul. </p>
<p>Athletes from different sporting disciplines are grouped on different lines, with Athletics taking pride of place on the Circle line. However ParalympicsGB were so successful in sports such as cycling and swimming that the athletes had to be spread across multiple lines. For example, medal-winning Paralympic cyclists represent the Central and Hammersmith &amp; City lines. </p>
<p>Sarah Storey, multiple gold medal winner and Great Britain's most decorated female Paralympian, is given the well-deserved honour of representing the gateway to the Olympic Park, Stratford station. Swimming sensation Eleanor Simmonds is placed at another key entry-point to London 2012, West Ham. Appropriately, Wimbledon station is named after Paralympic tennis veteran, Peter Norfolk.</p>
<p>The map highlights London 2012 Paralympic gold medallists, and 'star' Paralympians who have won four or more gold medals in their careers. The designers also made an effort to keep siblings and spouses as close to each other on the map as possible.</p>
<p>TfL also produced a separate map celebrating the achievements of Team GB, which was released in September 2012. Earlier this year, TfL released a version of the Tube map replacing the names of London Underground stations with names of past Olympic greats. The posters have proved to be some of the most popular that TfL has ever produced.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'London's transport network supported the biggest and best Paralympics in history, with many of the athletes favouring London's accessible public transport system over their official vehicles. So it's apt to commemorate the success of ParalympicsGB through this unique piece of sporting memorabilia which can be enjoyed for many years to come.'</p>
<p>Baroness Grey-Thompson DBE, Paralympic gold medal winner, former world record holder and TfL board member said: 'Throughout the magnificent summer of Paralympic achievement, we witnessed how public transport in London has become more accessible than ever. I'm sure many will enjoy this memento of all the hard work and talent that we saw during the London 2012 Paralympic Games.'&nbsp; </p>
<p>Alex Trickett, ParalympicsGB medallists map creator, said: 'The Paralympic medallists map was, in some respects, the hardest of the three Games maps we've designed to put together because so many medals were won in relatively few sports. It was a challenge, but we've managed to capture the fantastic success of the ParalympicsGB athletes after a truly spectacular summer of sport.'</p>
<p>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>
<ol>
<ol type="1">
<li>The limited edition print is available to pre-order from the TfL online shop at <a href="http://shop.tfl.gov.uk">shop.tfl.gov.uk</a> and costs &pound;49.99. It will also be available at the London Transport Museum shop from December </li>
<li>The map measures 60cm x 80cm, and is printed on art grade paper. It also includes a numbered certificate listing the names of the gold, silver and bronze medal winners </li>
<li>Huge accessibility improvements have been made to the capital's transport network in recent years as part of the &pound;6.5bn investment in transport ahead of the Olympic and Paralympic Games, providing a tangible legacy to passengers with disabilities </li>
<li>London's bus fleet is the most accessible in the world, with all 8,500 buses accessible to wheelchair users and fitted with ramps which are checked daily.&nbsp;In addition, all 22,000 taxis are fitted with wheelchair ramps, and all piers and most passenger boats in London are accessible.&nbsp;The entire Docklands Light Railway (DLR) network is step-free, as are 66 Tube stations, and all Tube stations have staff trained to assist passengers. London Overground has a fleet of accessible trains and 38 accessible stations - some fully step-free from street to train with the others equipped with manual boarding ramps and trained staff </li>
<li>TfL will continue to innovate and invest in accessibility improvements where funding is available.&nbsp;The new fleet of trains on the Circle, District, Hammersmith &amp; City, and Metropolitan line trains are accessible and provide level access from platform to train.&nbsp;All Crossrail stations will be fully accessible, and planned station upgrades at Victoria and Bank stations will provide step-free access at these stations<br></li></ol></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This follows the popular Team GB Olympic medallists map released in September 2012 Just 2012 print copies of the special art map are available for &pound;49.99 each at shop.tfl.gov.ukA new version of the central London section of the iconic Tube map,";}
        
        


 