


@{ViewBag.Title = "Transport for London celebrates 'STAR' schools dedication to active and safer travel ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London celebrates 'STAR' schools dedication to active and safer travel </h1>
        <div class="content-page-press-release">
        08 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London schools rewarded for their commitment to safer travel and increasing levels of cycling and walking to and from school.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) rewarded schools in London this morning (8 November) for their commitment to encourage safer and sustainable travel at an event at City Hall. The event recognises the London schools that have achieved the best results in supporting safer, more active travel for the journey to school. These high-performing schools were invited to showcase their achievements in travel planning, as part of TfL's STAR (School Travel Accredited and Recognised) school travel scheme.&nbsp; </p>
<p>More than&nbsp;a third of London schools are 'STARS', with 1,079 achieving an accredited travel plan. These accredited schools have taken a whole school approach to encourage a reduction in car use and an increase in the number of children walking, cycling and taking public transport as part of the school journey. The event is the culmination of TfL's regional schools' training workshops run over the past four weeks.</p>
<p>Four schools were presented with awards for 'Platinum school of the Region', which means that they have demonstrated the highest level of commitment to active and safer school travel. These fours schools are:<br></p>
<ul>
<li>Oaks Park High School in Redbridge (East London)</li>
<li>St Joseph's Infant School in Brent (North London)</li>
<li>Darrick Wood Junior School in Bromley (South London)</li>
<li>Cranford Community School in Hounslow (West London)</li></ul>
<p>'Beacon Awards' were awarded to schools that have shown an excellence in one of four travel areas: Cycling, Road Safety, Walking and Partnership Working.</p>
<p>Since 2004, schools with a travel plan have shown an average six per cent reduction in journeys to school by car. Schools that are part of TfL's STAR accreditation scheme have seen an average seven per cent increase in cycling and walking. </p>
<p>Ben Plowden, Director of Planning for TfL Surface Transport, said: 'We are delighted to invite London's top performing schools to the STAR event, thanking them for their hard work and dedication to ensure pupils and the whole school community adopt safer and active lifestyles, choices which will stay with them for life.&nbsp;We'd also like to thank these schools in particular for being an inspiration to all schools in London and an example of what can be achieved.'</p>
<p>
<hr>
</p>
<p>&nbsp;</p>
            <p><strong>Notes to Editors:</strong></p>
<ol type="1">
<li>STAR Accreditation Scheme: in conjunction with the London boroughs, TfL works with&nbsp;more than&nbsp;3,000 primary and secondary schools to support school travel plan activities to help young people and the whole school community to adopt safer and active travel behaviour. The scheme has three levels: 
<ul>
<li>Sustainable </li>
<li>Higher Standards </li>
<li>Outstanding</li></ul></li>
<li>Schools which will be at the event: selected Gold (Outstanding) schools and Beacon schools (Gold schools recognised for achievement in one particular area, such as cycling) which are shortlisted for a platinum school of the region award for each of the four London regions </li>
<li>For further details on the STAR Accreditation Scheme and range of programmes TfL offers to schools and young people, visit <a href="http://www.tfl.gov.uk/younglondon">tfl.gov.uk/younglondon</a> </li>
<li>Schools attending: 
<ul>
<li>Brady Primary School (LB Havering) </li>
<li>Cavendish Primary School (LB Hounslow) </li>
<li>Childrens House Nursery (LB Tower Hamlets) </li>
<li>Cranford Community College (LB Hounslow) </li>
<li>Darrick Wood Junior School (LB Bromley) </li>
<li>Dr Triplett's Primary School (LB Hillingdon) </li>
<li>Kingsmead Primary School (LB Hackney) </li>
<li>Moss Hall Infant School (LB Barnet) </li>
<li>New City Primary school (LB Newham) </li>
<li>Oaks Parks High School (LB Redbridge) </li>
<li>Preston Park Primary School (LB Brent) </li>
<li>Saint Joseph RC Infant School (LB Brent) </li>
<li>Saint Joseph RC Junior School (LB Brent) </li>
<li>St Marys and St Peters C of E Primary School (LB Richmond) </li>
<li>The Coopers Company and Coborn School (LB Havering) </li>
<li>The John Fisher School (LB Sutton) </li>
<li>Warren Road Primary School (LB Bromley) </li>
<li>Warrender School (LB Hillingdon)<br></li></ul></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) rewarded schools in London this morning (8 November) for their commitment to encourage safer and sustainable travel at an event at City Hall. The event recognises the London schools that have achieved the best results in";}
        
        


 