


@{ViewBag.Title = "Travel Advice for Wednesday 21 November: NUS march";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel Advice for Wednesday 21 November: NUS march</h1>
        <div class="content-page-press-release">
        19 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is advising road users travelling in London on Wednesday 21 November to avoid areas likely to be affected by a march organised by the National Union of Students (NUS).
        
    </div>



 <div class="on-this-page">
<p>Several thousand people are expected to attend the march, which starts at Temple at 11:00, and the rally, which will be held in Kennington Park from 14:00.</p>
<p>There will be a series of road closures due to the event, with Bridge Street closed to traffic from 09:00 and Upper Thames Street, Victoria Embankment, Westminster Bridge, Westminster Bridge Road, Kennington Road and some surrounding roads will be closed to traffic from 11:00.</p>
<p>Traffic in the area around the march will be extremely congested and drivers should avoid the area. Buses in the area will be on diversion or running short or their usual destinations, and customers should plan their journeys and avoid the area if possible.&nbsp;Some Tube stations near the route - including Temple, Embankment and Kennington are also expected to be busy.</p>
<p>Bridges over the Thames, other than Westminster Bridge, will remain open throughout the event and the Congestion Charge remains in operation.&nbsp; Roads will reopen as soon as it is safe to do so once the march has passed, and the rally is expected to conclude by early evening.</p>
<p>For up to the minute information on the traffic impact road users can visit the TfL website or follow &#64;tfltrafficnews.&nbsp;For the latest on bus diversions road users can follow &#64;tflbusalerts. </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Several thousand people are expected to attend the march, which starts at Temple at 11:00, and the rally, which will be held in Kennington Park from 14:00.There will be a series of road closures due to the event, with Bridge Street closed to traffic from";}
        
        


 