


@{ViewBag.Title = "Tube reliability at record levels after best performance ever during London 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube reliability at record levels after best performance ever during London 2012 Games</h1>
        <div class="content-page-press-release">
        07 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube reliability at record levels after best performance ever during London 2012 Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our relentless focus on improving the journeys of our customers will continue to boost reliability and performance across the network."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of London Underground and Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our relentless focus on improving the journeys of our customers will continue to boost reliability and performance across the network.
                            
                        </p>
                    </div>
                
            
            
            <p>During the London 2012 Olympic and Paralympic Games customers experienced the best level of performance ever provided, at the same time as record numbers of passengers used the network.</p>
<p>The figures, covering periods 5 and 6 of 2012/13 (July 22 to September 15 this year), confirm that delays - as measured by the number of customer hours lost to disruption - were at a record low level during the Games.</p>
<p>Period 5 saw delays down by 21 per cent, and period 6 saw delays down by 49 per cent, compared to the average for 2011/12, with many lines delivering the best performance ever recorded. </p>
<h2>Further reducing delays</h2>
<p>These results were achieved while carrying record numbers of passengers - with more than 101million journeys made on the Tube during the Games - up 28 per cent compared to normal levels. </p>
<p>Tuesday 7 August was the busiest day in the Tube's history, with 4.57 million passengers. </p>
<p>The continuing trend of long-term improvement follows the creation of the London Underground Reliability Programme in 2011, which led to the introduction of a range of initiatives to predict and prevent failures and respond more quickly to problems.</p>
<p>This saw a range of initiatives rolled out across the network, from BTP officers driving the Tube's emergency response unit vehicles under blue-light conditions and officers given enhanced medical training, to a targeted increase in signal repair staff at network pinch-points and other measures to prevent and predict signal, track and train failures.</p>
<h2>Vital work</h2>
<p>London Underground is now developing plans to meet the Mayor's commitment of reducing delays by a further 30 per cent by 2015.</p>
<p>Mike Brown, Managing Director of London Underground and Rail, said: 'The work that our staff put in over the last couple of years helped to deliver a fantastic London 2012 Games, with record performance on the Tube network.</p>
<p>'However, there are many improvements yet to be delivered. We continue the vital work of transforming the network with new and upgraded trains, signalling, stations and track. Together these, and our relentless focus on improving the journeys of our customers, will continue to boost reliability and performance across the network.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li><a href="/corporate/modesoftransport/londonunderground/1592.aspx">View the performance figures for periods 5 and 6</a>&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During the London 2012 Olympic and Paralympic Games customers experienced the best level of performance ever provided, at the same time as record numbers of passengers used the network.The figures, covering periods 5 and 6 of 2012/13 (July 22 to September";}
        
        


 