


@{ViewBag.Title = "Wheelchair priority space campaign launched";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wheelchair priority space campaign launched</h1>
        <div class="content-page-press-release">
        20 November 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Clarifies that priority space on buses is for wheelchairs. Passengers asked to 'please make space for wheelchair users'.
        
    </div>



 <div class="on-this-page">
<p>A new campaign outlining the 'rules' around the use of the wheelchair space on buses has been launched by Transport for London (TfL).</p>
<p>The priority wheelchair space, usually located in the middle of the bus, is the only place in which a wheelchair user can safely travel.&nbsp; </p>
<p>The campaign launched today aims to ensure that all passengers know and respect this.&nbsp;&nbsp; </p>
<p><a href="/assets/downloads/Wheelchair_priority_space_campaign.pdf">Wheelchair priority campaign poster (PDF 3MB)</a></p>

<p>Buggy users and other passengers may use the wheelchair space, however if a wheelchair user wants to board the bus, other passengers and buggy users will be asked to vacate the space or fold their buggies.&nbsp; </p>
<p>On many buses the space is big enough for the wheelchair and buggy to share, but the wheelchair user does take priority and must be correctly positioned in order to travel safely.&nbsp; </p>
<p>In some circumstances buggy users may be asked to fold their buggies and wherever possible fold their pram. </p>
<h2>Showing consideration</h2>
<p>TfL's Managing Director of Surface Transport, Leon Daniels, said: 'Our research and feedback from customers shows that there is some confusion around the priority area, not just among passengers but also with our drivers.&nbsp; </p>
<p>'The entire London bus network is wheelchair accessible and there should be no reason for a wheelchair user being unable to use a bus.&nbsp; </p>
<p>'However wheelchair users tell us that they are sometimes refused entry to our buses because the space is already occupied and other passengers will not move.&nbsp; </p>
<p>'We are asking, through this campaign, for passengers to show consideration to their fellow travellers.&nbsp; </p>
<p>'We are not saying other passengers can't use the space at all, just that if a wheelchair user does require access during their journey they must be given priority.&nbsp; </p>
<p>'Wheelchairs must be positioned correctly in the priority area to travel safely.'</p>
<p>The publicity campaign, which will continue through to spring next year, will see new signage put into buses and posters displayed on buses and at bus shelters.&nbsp; </p>
<p>Guidance has also been provided to bus drivers to help them deal with this issue.&nbsp; </p>
<h2>Safe poisition</h2>
<p>When a wheelchair user wants to board the bus, and the wheelchair priority space is occupied by a buggy or pram, the bus driver will use an automated iBus message and if necessary the PA system to alert passengers.&nbsp; </p>
<p>Extra time will be given to allow passengers with a buggy or pram to move out of the way or to fold the pram/buggy to allow the wheelchair to gain access to the space.&nbsp; </p>
<p>On many buses it is possible for the buggy/pram to be moved back into the priority space, alongside the wheelchair, as long as it does not block the gangway.&nbsp; </p>
<p>Bus drivers have been instructed not to move off until both wheelchair and buggy/pram are safely positioned.&nbsp;&nbsp;&nbsp; </p>
<p>Faryal Velmi, Director of Transport for All, said: 'We warmly welcome this publicity drive on London's buses to highlight the fact that wheelchair users should have priority over buggies.&nbsp; </p>
<p>'The right to ride on buses has been an issue disabled people have campaigned for many years and this great initiative will help to make sure that wheelchair users have access to our space whenever we need it.'</p>
<p>Sam Mauger, Chief Executive at&nbsp; Age UK, said: 'We are delighted with this new initiative which will make it clearer to all bus users who has priority in the wheelchair space and easier for people with disabilities to travel on London's buses.'</p>
<h2>Priority for wheelchair users</h2>
<p>David Leibling, Acting Chair of London TravelWatch said: 'We know mums and dads value being able to use the wheelchair space on a bus for buggies and it is great to see so many doing so.&nbsp; </p>
<p>'However, the priority has to be wheelchair users so we are happy to support TfL's campaign to give these users priority.'</p>
<p>Passengers on London Buses make around 6.5 million journeys on a typical weekday, with around&nbsp;two per cent of those journeys made using a Disabled Persons Freedom Pass.&nbsp; </p>
<p>All 8,500 buses (apart from a handful of Routemaster buses operating on tourist routes 9 and 15) are low floor, wheelchair accessible and fitted with wheelchair ramps that are checked every day before the bus enters passenger service.&nbsp; </p>
<p>The number of accessible bus stops in the Capital has more than doubled since 2008 with 65 per cent of bus stops now fully accessible (up from 29 per cent in 2008).&nbsp; </p>
<p>A Mobility Aid Recognition Scheme launched earlier this year clarifies for both the user and the driver whether a mobility aid can safely be used on the bus network.</p>
<p>Accessibility on the entire London transport network continues to be a priority for TfL.&nbsp; </p>
<p>TfL is currently working with the Mayor to develop a range of improvements to make the transport network even more accessible over the coming years.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Find out more about <a href="http://www.tfl.gov.uk/gettingaround/transportaccessibility/1171.aspx ">bus accessibility</a> </li>
<li>Watch TfL's&nbsp;<a href="http://www.youtube.com/watch?v=fj07TEsRbNk">accessible bus journey video</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new campaign outlining the 'rules' around the use of the wheelchair space on buses has been launched by Transport for London (TfL).The priority wheelchair space, usually located in the middle of the bus, is the only place in which a wheelchair user can";}
        
        


 