
    
  



@{ViewBag.Title = "Bus changes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/bus-changes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus changes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus changes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Read details of bus changes and improvements
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2><strong>Check which routes are changing from 22 February</strong></h2>

<p>From Saturday 22 February some of our routes are changing as we look to improve the reliability of the bus network.</p>

<p><strong>16 Cricklewood Bus Garage &#45; Victoria Station</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place at Cricklewood Broadway junction of Cricklewood Lane, a temporary timetable will be in place with the frequency of route 16 changed to every 8 minutes during shopping hours on Monday to Fridays.</p>

<p>The temporary timetable will be in place until the junction improvement scheme finishes in May 2020.</p>

<p><strong>68 West Norwood - Euston</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place in Camberwell town centre a temporary timetable will be in place with the frequency of route 68 changed to every 9-10 minutes between 0700 &#45; 1900 on Monday to Fridays.</p>

<p>The temporary timetable will be in place until the gas main works finish on 25 April 2020.</p>

<p><strong>90 Northolt &#45; Feltham</strong><br />
The diversion of route 90 on Hounslow Road towards Feltham will finish on this date with buses returning to normal line of route. The diversion of buses towards Northolt will continue until the bridge works have been completed.</p>

<p><strong>117 Staines &#45; West Middlesex Hospital</strong><br />
The diversion of route 117 on Hounslow Road towards Staines will finish on this date with buses returning to normal line of route. The diversion of buses towards West Middlesex Hospital will continue until the bridge works have been completed.</p>

<p><strong>120 Northolt &#45; Hounslow</strong><br />
New timetable introduced increasing the frequency back to every 10 minutes during the daytime on Monday to Saturdays, every 12 minutes during the daytime on Sundays and every 15 minutes during the evening. This is following the completion of roadworks in the Northolt area.</p>

<p><strong>235 Sunbury &#45; North Brentford Quarter</strong><br />
The diversion of route 235 on Hounslow Road towards Sunbury will finish on this date with buses returning to normal line of route. The diversion of buses towards North Brentford Quarter will continue until the bridge works have been completed.</p>

<p><strong>285 Heathrow Airport - Kingston</strong><br />
The diversion of route 285 on Hounslow Road towards Kingston will finish on this date with buses returning to normal line of route. The diversion of buses towards Heathrow Airport will continue until the bridge works have been completed.</p>

<p><strong>345 Peckham &#45; South Kensington</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place in Camberwell town centre a temporary timetable will be in place with the frequency of route 345 changed to every 9-10 minutes between 0700 &#45; 1900 on Monday to Fridays.</p>

<p>The temporary timetable will be in place until the gas main works finish on 25 April 2020.</p>

<p><strong>484 Camberwell - Lewisham</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place in Camberwell town centre a temporary timetable will be in place with the frequency of route 484 changed to every 13 minutes between 0700 &#45; 1900 on Monday to Fridays.</p>

<p>The temporary timetable will be in place until the gas main works finish on 25 April 2020.</p>

<p><strong>635 St Paul's School - Hounslow</strong><br />
The diversion of route 635 on Hounslow Road towards St Paul's School will finish on this date with buses returning to normal line of route. The diversion of buses towards Hounslow will continue until the bridge works have been completed.</p>

<p><strong>G1 Streatham &#45; Shaftesbury Estate</strong><br />
On all days of the week journeys are retimed to better reflect traffic conditions and the time it takes buses to complete each trip.</p>

<p><strong>H25 Hanworth, Butts Farm &#45; Hatton Cross</strong><br />
The diversion of route H25 on Hounslow Road towards Hanworth, Butts Farm will finish on this date with buses returning to normal line of route. The diversion of buses towards Hatton Cross will continue until the bridge works have been completed.</p>

<p><strong>H26 Feltham, Sparrow Farm &#45; Hatton Cross</strong><br />
The diversion of route H26 on Hounslow Road towards Hatton Cross will finish on this date with buses returning to normal line of route. The diversion of buses towards Feltham, Sparrow Farm will continue until the bridge works have been completed.</p>

<p><strong>R70 Richmond, Manor Road &#45; Hampton</strong><br />
To improve reliability times will be changed in the PM peak on Monday to Fridays with the frequency changed to a bus every 11 minutes between 1600 and 1900.</p>

<p><strong>W12 Walthamstow, Coppermill Lane &#45; Wanstead</strong><br />
A new timetable will be introduced on Monday to Fridays to better reflect journey times following the completion of a cycle scheme in Walthamstow town centre.</p>
</div>
 <div>

<h2><strong>Check which routes are changing from 29 February</strong></h2>

<p>From Saturday 29 February some of our routes are changing as we look to improve the reliability of the bus network.</p>

<p><strong>246 Bromley North &#45; Chartwell House</strong><br />
From Sunday 1 March route 246 will once again extend beyond Westerham to Chartwell House every&nbsp;Sunday between 0930 and 1630 only.</p>

<p><strong>491 North Middlesex Hospital &#45; Waltham Cross</strong><br />
An earlier first journey towards Waltham Cross will be introduced on Monday to Saturdays. This new journey will depart North Middlesex Hospital at 0605 passing Edmonton Green Bus Station at 0616 (0613 Saturdays), Ponders End High Street at 0628 (0624 Saturdays) and Innova Park Business Centre at 0648 (0644 Saturdays) arriving into Waltham Cross Bus Station at 0653 (0648 Saturdays).</p>
</div>
 <div>

<h2><strong>Check which routes are changing from 7 March</strong></h2>

<p>From Saturday 7 March some of our routes are changing as we look to improve the reliability of the bus network.</p>

<p><strong>14 Putney Heath &#45; Russell Square</strong><br />
To help maintain the reliability of the service during the closure of Hammersmith Bridge and the displacement of traffic on to Putney Bridge a revised timetable will be in place on Saturdays and Sundays.</p>

<p><strong>22 Putney Common &#45; Oxford Circus</strong><br />
To help maintain the reliability of the service during the closure of Hammersmith Bridge and the displacement of traffic on to Putney Bridge a revised timetable will be in place on Saturdays and Sundays.</p>

<p><strong>39 Clapham Junction &#45; Putney Bridge</strong><br />
To help maintain the reliability of the service during the closure of Hammersmith Bridge and the displacement of traffic on to Putney Bridge a revised timetable will be in place on Saturdays and Sundays.</p>

<p><strong>74 Putney High Street &#45; Baker Street</strong><br />
To help maintain the reliability of the service during the closure of Hammersmith Bridge and the displacement of traffic on to Putney Bridge a revised timetable will be in place on Saturdays and Sundays.</p>

<p><strong>93 North Cheam &#45; Putney Bridge</strong><br />
To help maintain the reliability of the service during the closure of Hammersmith Bridge and the displacement of traffic on to Putney Bridge a revised timetable will be in place on Saturdays and Sundays.</p>

<p><strong>212 Chingford Station &#45; St James's Street Station</strong><br />
A new timetable will be in place with the frequency of the service during the daytime on Monday to Friday increased to every 8-9 minutes.</p>

<p>In the early morning on Monday to Fridays buses before 0600 towards St James's Street Station will run up to 5 minutes earlier with the first bus retimed to depart Chingford Station at 0455.</p>

<p>In the early morning on Saturdays buses before 0800 towards St James's Street Station will run up to 5 minutes earlier with the first bus retimed to depart Chingford Station at 0455. Towards Chingford buses before 0745 will be retimed to run 5 minutes later with the first bus retimed to depart St James's Street Station at 0530.</p>

<p>In the early morning on Sundays buses before 0900 towards St James's Street Station will run up to 5 minutes earlier with the first bus retimed to depart Chingford Station at 0720.</p>

<p><strong>257 Walthamstow Central - Stratford</strong><br />
On all days of the week journeys are retimed to better reflect traffic conditions and the time it takes buses to complete each trip.</p>

<p><strong>337 Richmond &#45; Clapham Junction</strong><br />
To help maintain the reliability of the service during the closure of Hammersmith Bridge and the displacement of traffic on to Putney Bridge a revised timetable will be in place on Saturdays and Sundays.</p>

<p><strong>391 Richmond &#45; Hammersmith</strong><br />
From this date buses on route 391 will drop passengers off in the lower bus station at Hammersmith. Towards Richmond buses will continue to pick passengers up from the upper bus station.</p>

<p><strong>430 Roehampton &#45; South Kensington</strong><br />
To help maintain the reliability of the service during the closure of Hammersmith Bridge and the displacement of traffic on to Putney Bridge a revised timetable will be in place on Saturdays and Sundays.</p>

<p><strong>444 Chingford Station &#45; Turnpike Lane</strong><br />
A new timetable will be in place with the frequency of the evening service on all days of the week increased to every 15 minutes with no change to the times of last buses.</p>

<p>In the early morning on Monday to Fridays buses before 0700 towards Turnpike Lane will run up to 5 minutes earlier with the first bus retimed to depart Chingford Station at 0440.</p>

<p>On Saturday mornings the first three journeys towards Turnpike Lane will be retimed to run 5 minutes earlier departing Chingford Station at 0440, 0500 and 0520.</p>

<p><strong>493 Richmond, Manor Road &#45; St George's Hospital</strong><br />
To help maintain the reliability of the service during the closure of Hammersmith Bridge and the displacement of traffic on to Putney Bridge a revised timetable will be in place on Saturdays and Sundays.</p>

<p><strong>X26 West Croydon &#45; Heathrow Airport</strong><br />
On all days of the week journeys are retimed to better reflect traffic conditions and the time it takes buses to complete each trip.<br />
&nbsp;</p>
</div>
 <div>

<h2><strong>Check which routes are changing from 14 March</strong></h2>

<p>From Saturday 14 March some of our routes are changing as we look to improve the reliability of the bus network.</p>

<p><strong>278 Ruislip &#45; Heathrow Airport</strong><br />
To improve early morning connections between routes 140 and 278 at Hayes &amp; Harlington Station the following route 278 journeys will be retimed on all days of the week<br />
•&nbsp;0355 departure from Ruislip towards Heathrow Airport retimed to depart at 0401 and run 6 minutes later throughout its journey<br />
•&nbsp;0425 departure from Ruislip towards Heathrow Airport retimed to depart at 0431 and run 6 minutes later throughout its journey<br />
•&nbsp;0455 departure from Ruislip towards Heathrow Airport retimed to depart at 0459 and run 4 minutes later throughout its journey</p>
</div>
 <div>

<h2><strong>Check which routes are changing from 21 March</strong></h2>

<p>From Saturday 21 March some of our routes are changing as we look to improve the reliability of the bus network.</p>

<p><strong>18 Sudbury - Euston</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place at Harrow Road junction of Ladbroke Grove, a temporary timetable will be in place with the frequency of route 18 changed to every 6 minutes during the daytime on Monday to Saturdays, every 7-8 minutes during the daytime on Sundays and every 9 minutes during the evenings.</p>

<p>The temporary timetable will be in place until the junction improvement scheme finishes in August 2020.</p>

<p><strong>52 Willesden Garage - Victoria</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place at Harrow Road junction of Ladbroke Grove, a temporary timetable will be in place with the frequency of route 52 changed to every 9-10 minutes during the daytime on Monday to Saturdays and every 13 minutes during the evening and all day on Sundays.</p>

<p>The temporary timetable will be in place until the junction improvement scheme finishes in August 2020.</p>

<p><strong>70 Chiswick Business Park &#45; South Kensington</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place at Harrow Road junction of Ladbroke Grove, a temporary timetable will be in place with the frequency of route 70 changed to every 11 minutes during the daytime on Monday to Saturdays and every 16 minutes during the evening and all day on Sundays.</p>

<p>The temporary timetable will be in place until the junction improvement scheme finishes in August 2020.</p>

<p><strong>187 Central Middlesex Hospital &#45; Finchley Road</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place at Harrow Road junction of Ladbroke Grove, a temporary timetable will be in place with the frequency of route 187 changed to every 13 minutes during the daytime on Monday to Saturdays, every 16 minutes during the evening on Monday to Saturdays and the daytime&nbsp; on Sundays and to every 21 minutes during the evening on Sundays.</p>

<p>The temporary timetable will be in place until the junction improvement scheme finishes in August 2020.</p>

<p><strong>328 Golders Green - Chelsea</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place at Harrow Road junction of Ladbroke Grove, a temporary timetable will be in place with the frequency of route 328 changed to every 12 minutes during the daytime on Monday to Fridays, every 11 minutes during the daytime on Saturdays and every 13 minutes during the evening and all day on Sundays.</p>

<p>The temporary timetable will be in place until the junction improvement scheme finishes in August 2020.</p>

<p><strong>452 Kensal Rise - Vauxhall</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place at Harrow Road junction of Ladbroke Grove, a temporary timetable will be in place with the frequency of route 452 changed to every 11 minutes during the daytime on Monday to Saturdays and every 13 minutes during the evening and all day on Sundays.</p>

<p>The temporary timetable will be in place until the junction improvement scheme finishes in August 2020.</p>

<p>&nbsp;</p>
</div>
 <div>

<h2><strong>Check which routes are changing from 28 March</strong></h2>

<p>From Saturday 28 March some of our routes are changing as we look to improve the reliability of the bus network.</p>

<p><strong>35 Clapham Junction - Shoreditch</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place in Camberwell town centre a temporary timetable will be in place with the frequency of route 35 changed to every 8-9 minutes during the daytime on Monday to Saturdays and every 15-16 minutes during the daytime on Sundays.</p>

<p>The temporary timetable will be in place until the gas main works finish&nbsp;on 25 April 2020.</p>

<p><strong>42 East Dulwich &#45; Liverpool Street</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place in Camberwell town centre a temporary timetable will be in place with the frequency of route 42 changed to every 13 minutes during the daytime on Monday to Saturdays and every 16 minutes during the daytime on Sundays.</p>

<p>The temporary timetable will be in place until the gas main works finish on 25 April 2020.</p>

<p><strong>185 Lewisham - Victoria</strong><br />
To help maintain the reliability of the service during the improvement scheme taking place in Camberwell town centre a temporary timetable will be in place with the frequency of route 185 changed to every 9 minutes during the daytime on Monday to Saturdays and every 13 minutes during the daytime on Sundays.</p>

<p>The temporary timetable will be in place until the gas main works finish on 25 April 2020.</p>
</div>
 <div>

<h2><strong>Current long term diversions affecting the bus network</strong></h2>

<p><strong>Green Street, Brimsdown &#45; Route 307</strong><br />
From Monday 6 January to April 2020 Green Street in Brimsdown will be closed in both directions.<br />
During this time route 307 will divert via the 191 route serving Brimsdown Avenue, Bell Lane, Eastfield Road and Hertford Road instead. Route 307 will miss the following stops:<br />
•&nbsp;Mayfield Road<br />
•&nbsp;Ashley Road</p>

<p><strong>Clarendon Road, Watford &#45; Routes 142 &amp; 258</strong><br />
From Monday 6 January to November 2020 Clarendon Road in Watford will be closed southbound towards Watford Town Centre.<br />
During this time routes 142 and 258 will divert via Station Road and St Albans Road instead missing out the following stops:<br />
•&nbsp;Clarendon Road</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/buses/index" class="heading">
                    <h2 id="sub-menu-heading">Buses<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/modes/buses/bus-changes">Bus changes</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/buses/live-bus-arrivals">Live bus arrivals</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/improving-buses">Improving buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/who-runs-your-bus">Who runs your bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/cash-free-buses">Cash free buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/demand-responsive-bus-service">Demand responsive bus service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/using-buses-in-london">Using buses in London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/buses/improving-buses" class="plain-button">Improving buses</a>
<a href="/plan-a-journey/index" class="plain-button">Plan a journey</a>
    </div>
</div>
 
<div class="fact-box-wrapper">
    <span class="blue-span">Change buses for free with the Hopper fare</span>
    <div class="fact-box-content">
        <p>Make unlimited pay as you go bus and tram journeys within one hour of first touching in for &pound;1.50.</p>
        <div class="vertical-button-container">
        
        <a href="/fares/find-fares/bus-and-tram-fares"  class="plain-button">More about the Hopper fare</a> 
        </div>
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Permanent changes to TfL bus routes including new routes and changes to first and last stops";}
        
            
        


 