
    
  



@{ViewBag.Title = "Cash free buses";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/cash-free-buses";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cash free buses</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cash free buses</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can't use cash to pay for your bus fare.
        
      </div>
    
    <div class="on-this-page">
      <h2>Ways to pay</h2>

<p>There are different ways to pay for your bus fare:</p>

<ul>
	<li>A <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless payment card</a> to pay as you go</li>
	<li>An <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go"> Oyster card </a>with pay as you go credit, Travelcard or Bus &amp; Tram Pass</li>
	<li>A  Visitor Oyster card</li>
	<li>A <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets"> Day Travelcard or a One day Bus &amp; Tram Pass</a></li>
</ul>
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/contactless-symbol.jpg" alt="Contactless payment symbol" />
    </div>
    <p>A pay as you go adult fare is &pound;1.50 with a contactless payment, Oyster, or Visitor Oyster card. If you make another bus or tram journey within an hour of touching in on a bus or tram, your second journey will be free.</p>

<p>UK issued contactless payment cards are accepted, just look out for the contactless symbol. If you're visiting London from overseas then you will need to <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">check if your card will be accepted first</a>.</p> 
</div>
 <div>

<h2>One more bus journey to get home</h2>

<p>If you don't have enough credit on your Oyster card to pay the &pound;1.50 fare or your Bus &amp; Tram Pass or Travelcard has just expired, you can make one more journey on a bus. You must then <a href="https://oyster.tfl.gov.uk/oyster/link/sso/0001.do">top up your pay as you go credit</a>&nbsp; to clear the negative balance before you can use your Oyster card again or before you can renew a Travelcard or Bus &amp; Tram Pass.</p>

<p>Where to get or top up your Oyster card</p>

<ul>
	<li><a href="https://account.tfl.gov.uk/oyster?App=8ead5cf4-4624-4389-b90c-b1fd1937bf1f&amp;returnURL=https://oyster.tfl.gov.uk/oyster/security_check">Oyster online</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">Oyster app</a></li>
	<li><a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a></li>
	<li>Tube, London Overground and TfL Rail stations</li>
	<li>DLR stations (top up only at most stations)</li>
	<li><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></li>
	<li>Some National Rail stations in London</li>
	<li>TfL Customer Services on 0343 222 1234*</li>
</ul>

<h2>Auto top-up</h2>

<p>Using <a href="https://oyster.tfl.gov.uk/oyster/link/sso/0002.do">Auto top-up</a> means you'll never run out of pay as you go credit. When your balance goes below &pound;20, we'll automatically top up your Oyster card with either &pound;20 or &pound;40 from your bank account.</p>

<h2>Watch out for card clash</h2>

<p>Card clash happens when a yellow card reader detects two or more Oyster, contactless payment or other smartcards at the same time.</p>

<p>If a card reader detects more than one card:</p>

<ul>
	<li>It doesn't know which card to take payment from</li>
	<li>If you get a green light it could take payment from a card you did not intend to pay with</li>
	<li>If you get a red light it means you won't have paid for your journey</li>
</ul>

<p>To avoid card clash, keep your Oyster and contactless payment cards separate and only touch the card you wish to use on the reader.</p>

<p>*Service and network charges may apply. Find out about<a href="/corporate/terms-and-conditions/tfl-call-charges"> TfL call charges</a> for details.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/buses/index" class="heading">
                    <h2 id="sub-menu-heading">Buses<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/buses/bus-changes">Bus changes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/live-bus-arrivals">Live bus arrivals</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/improving-buses">Improving buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/who-runs-your-bus">Who runs your bus</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/buses/cash-free-buses">Cash free buses</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/buses/demand-responsive-bus-service">Demand responsive bus service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/using-buses-in-london">Using buses in London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "You can't use cash to pay for your bus fare";}
        
            
        


 