
    
  



@{ViewBag.Title = "Demand responsive bus service";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/demand-responsive-bus-service";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Demand responsive bus service</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Demand responsive bus service</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Trialling an on-demand bus service that operates flexibly in response to local demand
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We are running two trials of demand-responsive bus services. We want to find out whether they can:</p>

<ul>
	<li>Complement current public transport services</li>
	<li>Reduce car dependency</li>
	<li>Offer a service that is accessible and easy to use</li>
</ul>

<p>The trials are taking place in the London Borough of Sutton and the London Borough of Ealing. Both are running for 12 months.</p>

<h2>How it works</h2>

<p>Demand-responsive bus services take multiple passengers heading in the same direction and book them into a shared vehicle. The services operate from 'corner to corner', so there are no fixed routes or bus stops.</p>

<p>Instead, the app shows people a clear map of where their virtual bus stop is. They are picked up and dropped off within 200m of their requested destinations. This helps ensure that even with multiple pick-ups, there are no lengthy detours.</p>

<ul>
	<li>The services can be booked by customers aged 13 and over</li>
	<li>Journeys can be booked by phone or through the GoSutton or Slide Ealing app available on the <a href="https://www.apple.com/uk/ios/app-store/">App Store&nbsp;</a>and <a href="https://play.google.com/store">Google Play</a></li>
	<li>Oyster cards and contactless are not accepted</li>
	<li>Freedom Pass holders and members of the English National Concessionary Travel Scheme can travel free on the service</li>
	<li>Buses are wheelchair accessible</li>
</ul>

<h2>Go Sutton</h2>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/go-sutton-logo.gif" alt="Go Sutton logo" />
    </div>
     
</div>
 <div>

<p>The <a href="http://www.gosutton.co.uk">GoSutton</a> trial service is run in collaboration with <a href="https://www.viavan.com/"> ViaVan</a> and <a href="https://www.go-ahead.com/en/index.html">Go-Ahead</a>.</p>

<ul>
	<li>The service operates Monday to Sunday 06:30 to 21:30</li>
	<li>Journeys cost between &pound;2 and &pound;3.50 (depending on time of day and journey length)</li>
	<li>The&nbsp;trial &nbsp;runs for 12 months from 28 May 2019</li>
</ul>
</div>
 
<div>




<h3>Area of operation</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pngpng" href="/cdn/static/cms/documents/demand-responsive-buses-map-v2.png">
    <div class="document-download-text">
        <p>Demand responsive bus service - area map (dark blue areas indicate an expansion of the service in August 2019)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PNG 594KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/demand-responsive-buses-map-v2-small.png" alt="demand responsive" />
    </div>

</a>

<!-- 0.58 -->
 
</div>
<h2>Slide Ealing</h2>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/slide-ealing-logos.jpg" alt="Slide Ealing logos" />
    </div>
     
</div>
 
<div>




<p>The <a href="https://www.slideealing.com/">Slide Ealing</a> trial service is run in collaboration with <a href="https://www.ratp.fr/en/groupe-ratp">RATP</a> and <a href="https://www.volkswagenag.com/en/brands-and-models/moia.html">MOIA</a>.</p>

<ul>
	<li>Slide Ealing&nbsp;runs Monday to Sunday 06:00 to 01:00</li>
	<li>Journeys cost &pound;3.50</li>
	<li>The trial runs for 12 months from 13&nbsp;November 2019</li>
</ul>

<p>Slide Ealing covers an area from Southall to the North Circular, and from the A40 to Boston Manor.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image jpgjpg" href="/cdn/static/cms/documents/slide-ealing-map-hi-res.jpg">
    <div class="document-download-text">
        <p>Slide Ealing map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            JPG 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/slide-ealing-map-small.jpg" alt="Slide Ealing map" />
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 <div>


</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Demand responsive bus services";}
        
            
        


 