
    
  



@{ViewBag.Title = "Improving buses";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/improving-buses";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving buses</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improving buses</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As part of our commitment to your bus service, we have been improving the entire bus network across London. Learn how these improvements will benefit your journey.
        
      </div>
    
    <div class="on-this-page">
      <p>Our bus network now carries 2.3 billion passengers a year - more than the rest of England combined. We're constantly looking at how new technology can help to improve our customers' journeys and reduce our impact on the environment.</p>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/cleaner-air-for-london_rdax_400x250.jpg" alt="Cleaner Air for London" />
        
        
        
    </div>
    <h2>Cleaner, greener buses</h2>

<h3>The central London Ultra Low Emission Zone (ULEZ)</h3>

<p>All TfL buses operating in the ULEZ in central London meet or exceed Euro VI emission standards. Euro VI is the latest emission standard for vehicles reducing emissions of NOx by up to 95%. The buses operating in the area are made up of zero emission (at tail pipe) buses, new Euro VI standard buses, buses retrofitted to Euro VI standards and hybrid Euro VI standard buses.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/zero-emission-bus_rdax_400x250.jpg" alt="A single decker zero emission bus across Tower Bridge in the evening" />
        <span class="caption">zero emission (at tailpipe) buses</span>
        
        
    </div>
    <p>Our growing fleet of greener buses now includes over 200 electric buses, and&nbsp;from autumn&nbsp;2020 all new single deck buses entering the fleet will be zero emission (at tailpipe). They will be a mix of hydrogen buses and electric buses. These buses will contribute to improving air quality and are also much quieter, with lower vibration levels for a more comfortable experience</p>

<p>&nbsp;</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/on-bus-information-boards_rdax_400x250.jpg" alt="New information screens on 507 and 521" />
        <span class="caption">New information screens on 507 and 521</span>
        
        
    </div>
    <p>Electric buses on routes 507 and 521 have live information boards that tell you how long it is to your next stop as well as live status updates across other parts of our network. Many electric bus have handy USB ports for charging your phone.</p>

<h3>Low Emission Bus Zones</h3>

<p>The zones are designed to tackle the worst air quality hotspots outside central London by concentrating cleaner buses on the most polluting routes, helping people to breathe cleaner air and our city to flourish.</p>

<p>All 12 Low Emission Bus Zones&nbsp; have now been completed and this means that all scheduled TfL buses travelling through these zones will need to meet or exceed latest Euro VI emission standards. This forms a central part of the Mayor's far-reaching plans for a drastic clean-up of London's toxic air. As part of the bus retrofit programme the entire bus fleet will meet Euro VI emission standards, making the whole of London a Low Emission Bus Zone.</p>

<p>The zones&nbsp;are as follows:</p>

<ul>
	<li><strong>Putney High Street </strong>from Putney Station to Putney Bridge Road</li>
	<li><strong>Brixton to Streatham </strong>from Brixton Road, along Brixton Hill, Streatham Hill and Streatham High Road(to the junction of Gleneldon Road)</li>
	<li><strong>Haringey </strong>from High Road to Green Lanes</li>
	<li><strong>Camberwell to New Cross </strong>from Camberwell New Road, along Peckham High Street and New Cross Road to Deptford Bridge station</li>
	<li><strong>Wandsworth to St John's Hill </strong>from Wandsworth Road (junction with Nine Elms/Parry Street) along Lavender Hill to St John's Hill (junction with Harbut Road)</li>
	<li><strong>Edgware Road (Kilburn to Maida Vale) </strong>from Edgware Road (by Staples Corner/North Circular) Cricklewood Broadway via Shoot-Up Hill to Kilburn High Road and Maida Vale (junction with Elgin Avenue/Abercon Place)</li>
	<li><strong>A12 Eastern Avenue </strong>from Homerton High Street along Homerton Road, Warren Road, Gainsborough Road, Cambridge Park Road to Eastern Avenue (by Redbridge Lane West)</li>
	<li><strong>Lewisham to Catford</strong> from Lewisham Road, along Lewisham High Street to Bromley Road (junction with Whitefoot Lane and Southend Lane)</li>
	<li><strong>Stratford </strong>from Mile End Road to Romford Road</li>
	<li><strong>Edmonton to Seven Sisters </strong>from Ponders High Street, Hertford Road High Street and Fore Street to Seven Sisters Road</li>
	<li><strong>Uxbridge Road to Shepherds Bush </strong>from Uxbridge Road via Ealing Broadway, The Vale to Uxbridge Road (Shepherd's Bush station)</li>
	<li><strong>Chiswick High Road to Kensington </strong>from Chiswick High Road and Hammersmith Broadway to Kensington High Street (to High Street Kensington station)</li>
</ul>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/low-emissions-bus-zones-map.pdf">
    <div class="document-download-text">
        <p>Map of the Low Emissions Bus Zones</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.19 -->
 
</div>

</div>
 <div>

<h2>Green technology trials</h2>

<h3>Wireless charging</h3>

<p>We have also started using wireless charging technology on some of our buses running on route 69 as part of Project ZeEus. The buses are fitted with special technology enabling on-board batteries to receive a charge boost on plates fitted at bus stands at either end of the route.</p>

<p>This should enable the buses to operate in pure electric mode for a significant period of the time they are in passenger service.</p>

<p>The trial uses inductive charging technology allowing the buses to top up their batteries without needing to be physically plugged in.</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/bus-charging-plate_rdax_400x457.jpg" alt="Demonstration of new inductively-charged (through the road) electric hybrid bus" />
        <span class="caption">Demonstration of new inductively-charged (through the road) electric hybrid bus</span>
        
        
    </div>
    <p>The buses have a diesel engine that will be used when battery power is depleted. But we anticipate this will only be a small amount of the time, meaning emissions on these vehicles are greatly reduced.</p>

<p>Passengers will notice that these extended range diesel electric hybrid buses offer much lower noise and vibration levels compared to conventional diesel vehicles. The buses have significantly reduced tail pipe emissions, resulting in improved air quality and cleaner air for London.</p>

<p>Reduced fuel use will mean lower carbon emissions. The trial will help us develop plans for greater use of electric buses in central London in the future.</p> 
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/biodiesel-logo-on-bus_rdax_400x250.jpg" alt="Biodiesel logo on bus" />
        <span class="caption">Bio-diesel bus</span>
        
        
    </div>
    <h3>Even more fuels for the future</h3>
<p>We've also been running trials of a combination of diesel and bio-fuel made from used cooking oil from the catering industry.</p>
<p>This is designed to test the feasibility of running London's bus fleet on a 20% bio-diesel blend, which would produce around 15% fewer carbon emissions over their lifespan than ordinary diesel-powered vehicles.</p>
 </div>
 <div>

<h2>Live information</h2>

<p>Our arrivals boards at more than 2,500 bus stops let customers know when their next bus is due. And the audio-visual technology on all of our buses helps people navigate their journeys around London.</p>

<p>We're also making accurate, live service information available to customers on their mobile phones, tablets and other devices, as well as at roadside signs and public locations like hospital waiting rooms, schools and shopping centres.</p>

<p>Passengers can even check when their next bus is due before leaving the house. Visit <a href="/status-updates/travel-tools">Travel tools</a> for more information.</p>

<p>At the same time, app developers are using our travel information to launch more and more useful products.</p>

<h3>iBus</h3>

<p>We rely on&nbsp;a&nbsp;system called iBus for this information. Operating&nbsp;on all London Buses, iBus uses a combination of technologies, including satellite tracking,&nbsp;to pinpoint the location of buses, relaying information between the driver, garage and central control point.</p>

<p><a href="/modes/buses/live-bus-arrivals">Find out more about getting live bus information</a>.</p>
</div>
 <div>

<h2>Improving bus routes</h2>

<p>We are making a number of changes along our bus routes to improve the experience for customers. These include:</p>

<ul>
	<li>More convenient routes to key amenities such as shopping centres and hospitals</li>
	<li>Quicker journeys on selected routes by giving buses priority on the roads, meaning buses get ahead of traffic</li>
	<li>Increased space on buses by introducing double-deck buses on certain routes</li>
	<li>Extra buses during busy times such as morning and evening peak, school runs and Saturday and Sunday shopping times</li>
</ul>

<p>We consult customers on changes to bus routes. See our <a href="https://consultations.tfl.gov.uk/consultation_finder/?sort_on=iconsultable_modifieddate&amp;sort_order=descending&amp;advanced=1&amp;tx=&amp;pc=&amp;st=&amp;au=&amp;in=&amp;de=.site.buses&amp;ar=">consultations website</a>.</p>
</div>
 <div>

<h2>Weekend Night bus services</h2>

<p>Now that&nbsp;Night Tube services are available, we are running&nbsp;more weekend-only&nbsp;Night bus services to help passengers start or finish their Night Tube journeys.</p>

<p>This is also providing new local travel opportunities. The&nbsp;<a href="/campaign/tube-improvements/what-we-are-doing/night-tube">Night bus services</a> are in addition to London's already extensive&nbsp;network of 24-hour bus services.</p>
</div>
 <div>

<h2>Bus Priority Programme</h2>

<p>We're investing in enhancements across London's bus network to keep it efficient and reliable - making sure we provide the best quality of service to our customers.</p>

<p>The programme gives buses priority in areas like:</p>

<ul>
	<li>More continuous bus lanes which cross junctions with bus lanes on either side and enforced yellow box junctions</li>
	<li>Improving existing bus lanes to make sure they are wide enough for bus passengers and cyclists</li>
	<li>Extending bus lane hours to cover peaks and increasing off-peak hours of operation where appropriate, such as during the working day, evenings and weekends. This is supported by increased enforcement and further encouraging bus drivers to report infringements</li>
	<li>Reducing dwell times and enhancing bus stop accessibility to make it easier for buses to access bus stops from the carriageway and ensure passengers can get on and off safely</li>
	<li>Upgrading signals to prioritise buses at traffic signals including bus only movements</li>
</ul>

<p>We're also extending and redirecting bus routes to support housing growth across London.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/travel-information/improvements-and-projects/index"  class="plain-button">See all improvements and projects</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL is continually improving the entire bus network across London. Learn how these improvements will benefit your journey";}
        
            
        


 