
    
  


<!-- rhroot -->
@{ViewBag.Title = "Buses";}
@{ViewBag.Keywords = "Bus ,Buses ,TfL";}
@{ViewBag.Url = "/modes/buses/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Buses</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>Buses</h1>
        
        <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/buses-partner.png" alt="Buses logo" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/travel-information/visiting-london/experience-london/bus-leisure-routes?intcmp=53128"  data-img="/cdn/static/cms/images/promos/where-will-your-bus-take-you.jpg" data-img-breakpoint="medium" data-img-alt="where will your bus take you">
    <img src="/cdn/static/cms/images/promos/where-will-your-bus-take-you_rdax_600x300.jpg" alt="where will your bus take you" />
    <div class="text-link sit-top">
      <h2>Where will your bus take you</h2>
      <p>Visit iconic London sights on iconic London buses.</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser bus">

    <a href="https://m.me/tfltravelbot?intcmp=58736" >
        <img src="/cdn/static/cms/images/promos/tfl-fb-travelbot_rdax_400x200.png" alt="Facebook TravelBot" />
        
        <div class="text-link">
             <h2>Facebook TravelBot</h2>
            <p>Ask us about the status of your bus when you are out and about</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser bus">

    <a href="/modes/buses/who-runs-your-bus?intcmp=44680" >
        <img src="/cdn/static/cms/images/promos/who-runs-your-bus_rdax_400x200.jpg" alt="who runs your bus" />
        
        <div class="text-link">
             <h2>Who runs your bus</h2>
            <p>Find out who runs your bus, and how to contact them</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser bus">

    <a href="/modes/buses/bus-changes?intcmp=47904" >
        
        
        <div class="text-link">
             <h2>Bus changes</h2>
            <p>Find details of significant bus changes including major planned diversions</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser bus">

    <a href="/modes/buses/using-buses-in-london?intcmp=53125" >
        
        
        <div class="text-link">
             <h2>Using buses in London</h2>
            <p>All the information you need to travel comfortably on London buses</p>
        </div>
    </a>
</div>
 
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 <div class="news-teaser">

    <a href="/status-updates/major-works-and-events/hammersmith-bridge-closure?intcmp=58277" >
        
        
        <div class="text-link">
             <h2>Hammersmith Bridge closure</h2>
            <p>Hammersmith Bridge is closed to all vehicles (including buses) in both directions</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser bus">

    <a href="/modes/buses/improving-buses?intcmp=42923" >
        
        
        <div class="text-link">
             <h2>Improving buses</h2>
            <p>Learn how we're improving the entire bus network across London</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Travel tools and help</h3>

<div class="vertical-button-container">

<a href="/fares/find-fares/bus-and-tram-fares" class="plain-button">Fares</a>
<a href="/modes/buses/live-bus-arrivals" class="plain-button">Live bus arrival information</a>
<a href="/maps/bus" class="plain-button">Bus maps - routes and locations</a>
<a href="/travel-information/timetables/index" class="plain-button">Timetables</a>
<a href="/transport-accessibility/index" class="plain-button">Transport accessibility - guides and options</a>
    </div>
</div>
 <div class="related-links">

    <h3>About bus services</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/what-we-do" class="plain-button">Buses: what we do</a>
<a href="https://consultations.tfl.gov.uk/advanced_consultation_finder?de=.site.buses" class="plain-button">Bus route consultations</a>
<a href="/corporate/publications-and-reports/?Category=Performance&Mode=Buses" class="plain-button">How buses are performing</a>
<a href="/corporate/terms-and-conditions/bus-and-coach-passenger-rights" class="plain-button">Bus passenger rights</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            

 @{ 
    Html.RenderPartialIfExists("Favourites/Widgets/_BusArrivals");
    }
<div id="view-map-button-container"></div>
<div class="search-filter hidden">
    <h3>Find a bus stop or route</h3>
    <p>For live bus arrivals, status and timetables. </br>Look for the star to favourite</p>
    @{
        Html.RenderAction("SearchFilter", "Modules", new
        {
            actionUrl = Library.DisambiguationSettings.DisambiguationUrl,
            includeGeolocation = true,
            currentLocationSubmitUrl = "/maps/bus",
            additionalFields = new List<string> { "InputGeolocation" },
            buttonText = "Go",
            buttonClass = "secondary-button",
            dataSets = new string[][] 
            { 
                new[]{ Library.DisambiguationDataSets.StopPoints, "/maps/bus?Input={{input}}&InputGeolocation={{lat}},{{lon}}&searchBoxType=" + @Library.SearchBoxType.BusOnly },
                new[]{ Library.DisambiguationDataSets.Routes, "/{{mode}}/route/{{lineIds}}/"}
            },
            modes = Library.MeansOfTransport.Bus,
            placeHolderText = "Bus route or stop name",
            displaySelectedModesOnly = true,
            searchLabel = "Search for stations, stops and piers (e.g. Bank)"
        });
    }    
</div>      
            
 

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport", mode = Library.MeansOfTransport.Bus } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 24 hours a day, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234 
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-buses">Fill in a general enquiries form</a><br /><a href="/help-and-contact/contact-us-about-bus-staff">Give feedback about staff</a><br />Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            <p>TfL Customer Services <br />4th Floor<br />14 Pier Walk<br />London SE10 0ES</p>
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
<a href="http://www.transportfocus.org.uk/" class="plain-button">Transport Focus</a>
<a href="http://bususers.org/" class="plain-button">Bus Users</a>
    </div>
</div>
 <div class="related-links">

    <h3>Information for bus operators and stakeholders</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/bus-tenders" class="plain-button">Bus tenders and contracts</a>
<a href="/info-for/suppliers-and-contractors/london-service-permits" class="plain-button">London Service Permits</a>
<a href="/info-for/business-and-commercial/digital-signs" class="plain-button">Digital signs for business premises</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "All London Bus routes, maps, timetables and fares";}
        
            
        


 