
    
  



@{ViewBag.Title = "Live bus arrivals";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/live-bus-arrivals";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Live bus arrivals</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Live bus arrivals</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out when your bus will arrive at your local stop. Check online on your PC, tablet or smartphone, use our automated Facebook Messenger TravelBot or text us and we'll reply with live bus arrival information for your stop.
        
      </div>
    
    <div class="on-this-page">
      <h2>Online and mobile</h2>
<p>You can <a href="http://www.tfl.gov.uk/travel-information/stations-stops-and-piers/">check live bus arrival times</a> - just search for your stop or choose your&nbsp;route number&nbsp;and we'll show you a list of bus arrival times.</p>
      
           
      <div>

<h2>Facebook TravelBot</h2>
<p>Use our <a href="https://www.messenger.com/t/tfltravelbot">automated service on Facebook Messenger</a> to find out when your next bus is due The service is free and uses our latest data. </p>
<p>To check, type something like: 'When's the next bus' or 'next bus'. You will then be asked to share your phone's location, or enter the bus stop code if you know it. </p>
<h2>Text message</h2>
<p>Send a text to 87287 with your bus stop code and we'll send a reply with live bus arrival information for that stop. From overseas networks, use <span class="baec5a81-e4d6-4674-97f3-e9220f0136c1" style="white-space: nowrap;">+44 7797 800 287.</span></p>
<p>Texts cost the standard network rate, plus a 12p charge to receive the response. Texts via overseas networks are charged at the network's standard roaming rate only, but are limited to five per day. See our <a href="/corporate/terms-and-conditions/live-bus-departure-information">terms and conditions</a> for more details.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/next-bus-information.gif" alt="Bus stop code sign" />
    </div>
    <h2>Find the bus stop code</h2>
<p>The bus stop code is a black, five-digit number on a sign above the timetable.</p> 
</div>
 <div>

<h2>Countdown signs</h2>

<p>Our Countdown Signs provide live bus arrival information at 2,500 stops in London. The signs have been put in places - agreed by the boroughs - with appropriate shelter and power.</p>

<h3>Requesting a Countdown sign</h3>

<p>We have no funding to add more Countdown signs at stops. London boroughs and other third parties can buy new signs&nbsp;as long as the stop meets certain conditions:</p>

<p>The bus stop must:</p>

<ul>
	<li>Be fully accessible, for example wheelchair accessible</li>
	<li>Have a Countdown-compatible shelter, for example be mains powered</li>
	<li>Have enough people using the stop each year</li>
</ul>

<p>The signs remain our property and responsibility even if funded by a third party.</p>

<p>Contact your local borough if you want a new sign installed at your local bus stop.</p>
</div>
 
<div>




<h3>Temporary removal of signs</h3>

<p>We don't plan to remove or reduce the overall number of signs on the London bus network - but we do&nbsp;sometimes have to remove Countdown signs temporarily while we repair, move or upgrade shelters.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/temporary-countdown-sign-removals.pdf">
    <div class="document-download-text">
        <p>Temporary Countdown sign removals </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>
<p>We always try to reinstall any Countdown signs that we have taken away. However, depending on how complex the work was, it can take some time before we put the sign back. Until then, please use one of the tools mentioned above to get live bus arrival information.</p>

<h2>Digital Sign</h2>

<p>If you're an organisation keen to offer employees and customers live bus arrival information on your premises, the Digital Sign is the solution.</p>

<p>The Digital Sign can display up to four bus stops on your organisation's TV screens and PCs, and is ideal for venues like hospital receptions, town halls, schools, colleges and shopping centres.</p>

<p>Find out more about <a href="/info-for/business-and-commercial/digital-signs">Digital Sign</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/buses/index" class="heading">
                    <h2 id="sub-menu-heading">Buses<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/buses/bus-changes">Bus changes</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/buses/live-bus-arrivals">Live bus arrivals</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/buses/improving-buses">Improving buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/who-runs-your-bus">Who runs your bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/cash-free-buses">Cash free buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/demand-responsive-bus-service">Demand responsive bus service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/using-buses-in-london">Using buses in London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/terms-and-conditions/live-bus-departure-information" class="plain-button">Terms &amp; conditions</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Get live bus arrivals for London on web, mobile, SMS and at your bus stop";}
        
            
        


 