
    
  



@{ViewBag.Title = "Using buses in London";}
@{ViewBag.Keywords = "TfL,boarding, alighting";}
@{ViewBag.Url = "/modes/buses/using-buses-in-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Using buses in London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Using buses in London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        When you travel on a London bus we want you to have the best experience possible. If you haven't used our services before, or it has been some time since your last trip, here are some tips on using our services.
        
      </div>
    
    <div class="on-this-page">
      <p>Over 6 million people use London's bus services every day and your safety is our priority. We are investing in improving London's bus services, this includes making live information available online and at bus stops, customer service training for bus drivers and using the latest technology for new, greener buses. </p>
      
           
      <div>

<h3>Planning your trip</h3>

<p>Our <a href="/plan-a-journey/index">journey planner</a> allows you to plan journeys by public transport across London. If you want to know about bus routes in your area,&nbsp;search our wide range of <a href="/maps_/bus-spider-maps">local area maps</a>. Check&nbsp;for disruptions to your journey on our <a href="https://tfl.gov.uk/bus/status/">bus status updates</a> page or use the <a href="http://m.me/tfltravelbot">TfL TravelBot</a> on Facebook Messenger</p>

<p>Check out&nbsp;all&nbsp;our <a href="/status-updates/travel-tools">travel tools</a>.&nbsp;</p>
</div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/oyster-tap-on-bus_rdax_400x250.jpg" alt="Oyster tap on bus" />
        
        
        
    </div>
    <h3>Paying for your journey&nbsp;</h3>

<p>To make journeys quicker and travelling simpler, all buses in London are now <a href="/modes/buses/cash-free-buses">cash-free</a>. This means you will need to have an <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster </a>card, <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless payment</a>, a bus and tram pass, a paper Travelcard or Freedom Pass to travel on a London Bus.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/hailing-a-bus_rdax_400x250.jpg" alt="hailing a bus" />
        
        
        
    </div>
    <h3>Getting on our bus services</h3>
<p>At all our stops in London there is a sign showing the stop name, which routes stop there and in what direction they are heading. Many of our stops also have an information panel showing information about other bus routes in the surrounding area.</p>
<p>Bus drivers always look out for anyone waiting to board a bus. They will give you time to board safely, but once the doors have been closed please let the bus leave safely and wait for the next bus. Visit our <a href="https://tfl.gov.uk/travel-information/stations-stops-and-piers/">live bus arrivals</a> page to find out when the next bus will arrive.</p>
<p>All our buses are <a href="https://tfl.gov.uk/transport-accessibility/">accessible</a>. They can be lowered and have ramps for those who need help getting on or off. Once on board please either touch your card or payment device on the yellow reader or show your ticket or pass to the driver. Please move down inside the bus and use all available space and seats including upstairs on double decker buses. There is a wheelchair space available and wheelchair users have priority over this space.</p>
<h3>Hail and Ride</h3>
<p>Buses operate a Hail and Ride service on some of our routes in outer London. There are no fixed stops so you can signal to the driver that you wish to get on or press the stop button to get off at any safe point along the road. You will be informed when the bus is entering and leaving the Hail and Ride section of the route.</p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/stop-bus_rdax_400x250.jpg" alt="stop a bus" />
        
        
        
    </div>
    <h3>Getting off our bus services</h3>
<p>To help customers know where they are on their journeys, next stop information is displayed on the information screens and announced on all of our buses. When your stop is displayed and announced, please press the bell once and in good time. This lets the driver know you intend to get off. </p>
<p>Some of our buses are fitted with hearing induction loops to help customers with hearing impairments communicate with the driver.</p>
 </div>
 <div>

<h3>Closed bus stops </h3>
<p>We sometimes have to close bus stops due to roadworks, marches and sporting events. When a bus stop is closed, a yellow cover is placed over the sign at the stop and some stops will have information about where to go to catch your bus.</p>
<p>A message informing you a stop is closed will be displayed on the information screens on the bus and announcements will be made. You will also be informed if the bus is going to be diverted. Speak to the driver when the bus is stationary if you require more information. </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/buses/index" class="heading">
                    <h2 id="sub-menu-heading">Buses<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/buses/bus-changes">Bus changes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/live-bus-arrivals">Live bus arrivals</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/improving-buses">Improving buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/who-runs-your-bus">Who runs your bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/cash-free-buses">Cash free buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/demand-responsive-bus-service">Demand responsive bus service</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/buses/using-buses-in-london">Using buses in London</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Boarding and alighting a bus";}
        
            
        


 