
    
  



@{ViewBag.Title = "Who runs your bus";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/who-runs-your-bus";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Who runs your bus</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Who runs your bus</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out who runs your bus, and how to contact them.<BR>
        
      </div>
    
    <div class="on-this-page">
      If you've lost something in the past two days please contact the Bus Operator. If it's been longer than two days please visit the <a href="/help-and-contact/lost-property">lost property</a> section to find out if it's been handed in and how to get it back.
<p>&nbsp;</p>
      
           
      <div>

<h2>Search by route number </h2>
<p>To search for a specific route, press Ctrl+F / Cmd+F and type in the number you're looking for.</p>
</div>
 
<h2>Abellio London Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">3, N3, 24, 27, N27, 45, 49, 68, N68,<br />
			109, N109, 130,&nbsp;156, 159, 196<br />
			201,<br />
			344, 345, 367, 381, N381<br />
			407, 414, 415, 433, 464, 484<br />
			C3, C10<br />
			P13<br />
			S4</td>
			<td headers="table_heading_1" style="vertical-align:top">
			<p><a href="http://www.abellio.co.uk/contact/">Abellio London Ltd</a><br />
			<strong>Phone:</strong> 020 7788 8550<br />
			<strong>Address:</strong><br />
			301 Camberwell New Road<br />
			London SE5 0TF</p>
			</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Abellio West London Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number </strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<p>195<br />
			207, N207, 267, 278, 290<br />
			350<br />
			427, 481, 490<br />
			969,<br />
			E1, E5, E7, E9, E10, E11<br />
			H20, H25, H26, H28<br />
			K1<br />
			R68, R70<br />
			U5, U7, U9</p>
			</td>
			<td style="vertical-align:top"><a href="http://www.abellio.co.uk/contact">Abellio West London Ltd</a><br />
			<strong>Phone:</strong> 020 7788 8550<br />
			<strong>Address:</strong><br />
			301 Camberwell New Road<br />
			London SE5 0TF</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Arriva London North Ltd</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details </strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="1" rowspan="1">
			<p>19, N19, 29, N29, 34, 38, N38, 41, N41, 66, 67, 73, N73, 78,<br />
			99, 102,&nbsp;103,&nbsp;106, 121, 123, 141,<br />
			144, 149, 150, 158, 160, 173, 175, 184, 192, 221, 229, 230,<br />
			242, N242, 243, 253, N253, 254, 259,&nbsp;269, 279,<br />
			N279,<br />
			301, 313, 318, 325, 329, 335, 340, 341<br />
			347, 349, 368, 370, 375, 377,<br />
			401, 428, 469, 492<br />
			660, 673<br />
			B12, B13, B15<br />
			W3, W4, W6</p>
			</td>
			<td style="vertical-align:top; width:30%"><a href="http://www.arrivalondon.com/contact">Arriva London North Ltd</a><br />
			<strong>Phone:</strong> 020 8271 0101<br />
			<strong>Address:</strong><br />
			16 Watsons Road<br />
			London N22 7TZ</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Arriva London South Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number </strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">2, N2, 50, 59, 60, 64,<br />
			133, N133, 137, N137, 157, 166<br />
			194, 198<br />
			249, 250, N250, 255, 264, 289<br />
			312, 319, 333<br />
			405 school day journeys, 410, 412, 417, 450, 466, 468<br />
			612, 627, 685, 689, 690</td>
			<td style="vertical-align:top"><a href="http://www.arrivalondon.com/contact">Arriva London South Ltd</a><br />
			<strong>Phone:</strong> 020 8271 0101<br />
			<strong>Address:</strong><br />
			16 Watsons Road<br />
			London N22 7TZ</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Blue Triangle Buses Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details </strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">5, 15, N15,<br />
			101, 104, 115, 147,<br />
			346, 364, 396<br />
			608, 646, 648, 649, 650, 651, 652<br />
			656, 667, 674, 679, 686, 687<br />
			EL1, EL2, EL3</td>
			<td style="vertical-align:top">
			<p><a href="http://www.goaheadlondon.com">Blue Triangle Buses Ltd</a><br />
			<strong>Phone: </strong>020 8545 6100<br />
			<strong>Address:</strong> Go-Ahead Group<br />
			18 Merton High Street<br />
			London<br />
			SW19 1DN</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table></div>


 
<h2>CT Plus Community Interest Company</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p>20, 26, N26,<br />
			309, 385, 388, 394, 397, D6, N550, N551<br />
			W5, W11, W12, W13, W16, W19</p>
			</td>
			<td style="vertical-align:top"><a href="http://www.ctplus.org/ct_plus_contact_us">CT Plus</a><br />
			<strong>Phone:</strong> 020 7275 2400<br />
			<strong>Address:</strong><br />
			Ash Grove Bus Depot<br />
			Mare Street<br />
			Hackney<br />
			London E8 4RH</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Docklands Buses Ltd</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">135<br />
			276<br />
			300, 376<br />
			D7</td>
			<td><a href="https://www.goaheadlondon.com/contact">Docklands Buses Ltd</a><br />
			<strong>Phone: </strong>020 8545 6100 <strong>Address:</strong> Go-Ahead Group<br />
			18 Merton High Street<br />
			London<br />
			SW19 1DN</td>
		</tr>
	</tbody>
</table></div>


 
<h2>East London Bus &amp; Coach Company Ltd</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number </strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">8, N8, 55, N55, 56, 62, 86, N86, 97,<br />
			128, 145, 165, 167, 169,<br />
			174, 179, 193<br />
			205, N205, 215, 238, 241, 247<br />
			248, 252, 256, 257, 275, 277, 287, 294, 296<br />
			323, 330, 362, 365, 366, 372,<br />
			462, 496, 498, 499<br />
			549<br />
			677, 678<br />
			D3</td>
			<td style="vertical-align:top"><a href="http://www.stagecoachbus.com/regional-help-and-contact/london">East London Bus &amp; Coach Company Ltd</a><br />
			<strong>Phone:</strong> 020 7055 9600<br />
			<strong>Address:</strong><br />
			Communications Department<br />
			Stagecoach London Head Office<br />
			West Ham Garage<br />
			Stephenson Street<br />
			London E16 4SA</td>
		</tr>
	</tbody>
</table></div>


 
<h2>H R Richmond Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number </strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p>293, 404, 406, 413, 418, 463, 465, 467, 470,<br />
			633<br />
			S1, S3</p>
			</td>
			<td style="vertical-align:top"><a href="http://www.ratpdevlondon.co.uk/">H R Richmond Ltd</a><br />
			<strong>Phone:</strong> 020 8400 6665<br />
			<strong>Address:</strong><br />
			Ratp Development Sa<br />
			Busways House<br />
			Wellington Road<br />
			Twickenham<br />
			TW2 5NX</td>
		</tr>
	</tbody>
</table></div>


 
<h2>London Central Bus Company Ltd</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number </strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details </strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1, N1, 12, 21, N21, 35, 36, 37, 40, 42,<br />
			63, N63, 89, N89, 100<br />
			108, 129, 132, N136, 171, N171, 172, 176, 178, 180, 185, 188<br />
			225, 244, 286, 291<br />
			321, 343, N343, 360, 363, 386<br />
			436, 453, 486<br />
			624, 625, 658, 661, 669<br />
			B11, B14, B16<br />
			P5, P12<br />
			X68</td>
			<td style="vertical-align:top"><a href="http://www.goaheadlondon.com/contact">London Central Bus Company Ltd</a><br />
			<strong>Phone: </strong>020 8545 6100<br />
			<strong>Address:</strong> Go-Ahead Group<br />
			18 Merton High Street<br />
			London<br />
			SW19 1DN</td>
		</tr>
	</tbody>
</table></div>


 
<h2>London General Transport Services Ltd</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>11, N11, 14,&nbsp;22, N22, 39,<br />
			44, N44, 57, 74, N74, 76, 77, 80, 87, N87, 88, 93<br />
			118, 131, 151, 152, 153,&nbsp;154, 155, N155, 163, 164, 170<br />
			191, 192, 200, 209, 213, 214, 219, 232<br />
			270, 280, 315, 322, 337, 357, 378, 379<br />
			424, 430, 432, 453, 476<br />
			485, 493, 507, 521,<br />
			616, 639, 655, 657, 670, 675, 718<br />
			G1<br />
			W10</td>
			<td style="vertical-align:top"><a href="http://www.goaheadlondon.com/contact">London General Transport Services Ltd</a><br />
			<strong>Phone: </strong>020 8545 6100<br />
			<strong>Address:</strong><br />
			Go-Ahead Group<br />
			18 Merton High Street<br />
			London<br />
			SW19 1DN</td>
		</tr>
	</tbody>
</table></div>


 
<h2>London Sovereign Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number </strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p>79, 139, 142,<br />
			183<br />
			251, 258,&nbsp;288,<br />
			303, 326, 395<br />
			642<br />
			H9, H10, H11, H12, H14, H18, H19</p>
			</td>
			<td style="vertical-align:top"><a href="http://www.ratpdevlondon.co.uk/">London Sovereign Ltd</a><br />
			<strong>Phone:</strong> 020 8400 6665<br />
			<strong>Address:</strong><br />
			Ratp Development Sa<br />
			Busways House<br />
			Wellington Road<br />
			Twickenham<br />
			TW2 5NX</td>
		</tr>
	</tbody>
</table></div>


 
<h2>London United Busways Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>9, N9, 18, N18, 33, N33, 65, N65, 70, 71,<br />
			72, N72, 85, 94<br />
			105, 110, 111, 116, 148<br />
			203, 211, 216, 220,&nbsp;223, 224, 265, 266, N266,<br />
			272, 281, 283, 285<br />
			306, 371, 391, 398<br />
			411, 419, 423, 440<br />
			613, 635, 662, 665, 671, 681, 696, 697, 698<br />
			965<br />
			C1<br />
			E3,<br />
			H17, H22, H32, H37<br />
			H91, H98<br />
			K2, K3, K4, K5</td>
			<td style="vertical-align:top"><a href="http://www.ratpdevlondon.co.uk/">London United Busways Ltd</a><br />
			<strong>Phone:</strong> 020 8400 6665<br />
			<strong>Address:</strong><br />
			Ratp Development Sa<br />
			Busways House<br />
			Wellington Road<br />
			Twickenham<br />
			TW2 5NX</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Metrobus Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details </strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p>51<br />
			119, 126, 127,&nbsp;138, 162, 197<br />
			202, 208, 227, 233, 246,<br />
			320, 352, 353, 355, 358, 359<br />
			403, 405, 434, 455<br />
			654, 663<br />
			R1, R2, R3, R4, R5, R6, R8, R9, R10, R11, X26</p>
			</td>
			<td style="vertical-align:top"><a href="http://www.goaheadlondon.com/contact">Metrobus Ltd</a><br />
			<strong>Phone: </strong>020 8545 6100<br />
			<strong>Address:</strong><br />
			Go-Ahead Group<br />
			18 Merton High Street<br />
			London<br />
			SW19 1DN</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Metroline Travel Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<p>4, 6, 7, N7, 16, N16, 17, 30, 32, 43,<br />
			46, 52, 90, 91, N91, 98, N98,<br />
			107, 112, 113, N113, 117, 125, 134<br />
			140, N140, 143, 168, 182, 186<br />
			189, 190, 204, 210, 222, 231,<br />
			234, 235, 237, 240, 245, 260, 263, 268, 271, 274, 292, 297<br />
			302, 307, 316, 317, 324, 332, 382,&nbsp;384, 390, 393,<br />
			460, 491, 533, 606, 611, 631, 632, 634, 643<br />
			C11<br />
			E2, E6, E8<br />
			H2, H3, H13<br />
			N5, N20<br />
			W7, W8, X140</p>
			</td>
			<td style="vertical-align:top"><a href="https://www.metroline.co.uk/contact">Metroline Travel Ltd</a><br />
			<strong>Address:</strong><br />
			Comfortdelgro Corporation Ltd<br />
			ComfortDelGro House<br />
			3rd Floor<br />
			329 Edgware Road<br />
			Cricklewood<br />
			London NW2 6JP
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Metroline West Ltd</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">31, N31, 81, 83, N83, 92, 95,<br />
			114, 120,&nbsp;187<br />
			206, 226, 282, 295<br />
			331<br />
			482, 483, 487<br />
			607<br />
			A10<br />
			U1, U2, U3, U4, U10</td>
			<td style="vertical-align:top"><a href="http://www.metroline.co.uk/contact">Metroline West Ltd</a><br />
			<strong>Address:</strong><br />
			Comfortdelgro Corporation Ltd<br />
			ComfortDelGro House<br />
			3rd Floor<br />
			329 Edgware Road<br />
			Cricklewood<br />
			London NW2 6JP</td>
		</tr>
	</tbody>
</table></div>


 
<h2>South East London &amp; Kent Bus Company Ltd</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p>47, 53, N53, 54, 61, 75, 96,<br />
			122, 124, 136, 146, 161, 177, 181, 199, N199<br />
			261, 273, 284,<br />
			314, 336, 354, 356, 380,<br />
			422, 472<br />
			601, 602, 621, 638, 664, 672<br />
			P4, R7</p>
			</td>
			<td style="vertical-align:top"><a href="https://www.stagecoachbus.com/regional-help-and-contact/london">South East London &amp; Kent Bus Company Ltd</a><br />
			<strong>Phone:</strong> 020 7055 9600<br />
			<strong>Address:</strong><br />
			Stagecoach Group Plc<br />
			Communications Department<br />
			Stagecoach London Head Office<br />
			West Ham Garage<br />
			Stephenson Street<br />
			London E16 4SA</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Sullivan Bus &amp; Coach Ltd</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p>217, 298, 299, 327, 389, 399,<br />
			603, 605, 617, 626, 628, 629, 640, 653, 683, 688, 692, 699,<br />
			W9</p>
			</td>
			<td><a href="http://www.sullivanbuses.co.uk/html/sb8contact.html">Sullivan Bus &amp; Coach Ltd</a><br />
			<strong>Phone:</strong> 017 0764 6803<br />
			<strong>Address:</strong><br />
			First Floor<br />
			Deards House<br />
			St Albans Road<br />
			South Mimms Service Area<br />
			Potters Bar<br />
			Hertfordshire EN6 3NE</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Tower Transit Operations Ltd </h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">13, 23, 25, N25, 28, N28, 58, 69,<br />
			212, 218, 228, 236, 262<br />
			308, 328, 339<br />
			425, 444, 452, 473, 488<br />
			508<br />
			D8, N97,<br />
			W14, W15</td>
			<td style="vertical-align:top"><a href="http://www.towertransit.co.uk/contact-us">Tower Transit Operations Ltd</a><br />
			<strong>Address:</strong><br />
			Tower Transit Operations Ltd<br />
			Great Western Road<br />
			London W9 3NW</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Uno</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 70%;"><strong>Route number</strong></th>
			<th colspan="1" rowspan="1" style="width: 30%;"><strong>Contact details</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align:top">383</td>
			<td><a href="https://www.unobus.info/contact-us/">Uno</a><br />
			<strong>Phone:</strong> 01707 255 764<br />
			<strong>Address:</strong><br />
			Gypsy Moth Avenue<br />
			Hatfield<br />
			Hertfordshire AL10 9BS</td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out who runs your bus, contact details of bus operators in London";}
        
            
        


 