


@{ViewBag.Title = "'Priority Seating Week' launch marks first anniversary of the 'Please Offer Me A Seat' badge";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">'Priority Seating Week’ launch marks first anniversary of the ‘Please Offer Me A Seat’ badge</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>'Priority Seating Week’ launch marks first anniversary of the ‘Please Offer Me A Seat’ badge</h1>
        <div class="content-page-press-release">
        23 April 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers asked to #travelkind and consider others when using priority seats
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Priority Seating Week is a great way of reminding us all that not all conditions are visible, and to give up our seat to those who may need it more"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Evers</div>
            <div class="quotee-job-title">Transport for London's Chief Customer Officer</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL today launched its first 'Priority Seating Week' campaign to make travelling easier for people with a range of conditions whose need may not be immediately obvious.</p>
<p>The week marks the one year anniversary of the 'Please Offer Me A Seat' badge &#45; with more than 30,000 issued to disabled customers and those with invisible conditions since the initiative was launched.</p>
<p>Specially designed to make travelling easier for people with a range of conditions that make it difficult to stand, the free badge and card helps customers who otherwise struggle to get a seat on public transport.</p>
<p>To help improve the awareness of the importance of priority seats, 'Priority Seating Week' will see new posters featuring customers, including pregnant women and people with visible and non-visible impairments, talking about the difference a seat makes to them, often having an impact on the rest of their day.</p>
<h2>Encouraging everyone</h2>
<p>Newly designed Priority Seating signs are also being displayed on selected London Overground and London Underground trains, asking customers to consider others when using the seats with the aim of encouraging everyone to think about their fellow commuters who may have a greater need.</p>
<p>TfL has worked closely with customers to launch the campaign, including Dr Amit Patel, a passenger who has had bad experiences when travelling with his guide dog Kika.</p>
<p> Dr Patel has recorded a special announcement asking fellow passengers to offer their seat if they are asked as the need for one is not always obvious. The announcement will be heard in Tube stations throughout the week.</p>
<p>TfL has worked with a wide range of charities on the campaign, including Anxiety UK, Epilepsy Society, Lupus UK, Cancer on Board and Thomas Pocklington Trust.</p>
<p>On the initiative Dr Amit Patel, said: 'I'm really pleased to see TfL proactively raising awareness about priority seating.</p>
<p>'Travelling with a disability, whether hidden or not can be challenging, scary and sometimes even disorienting. Not everyone has the confidence to ask for a seat and not everyone will always be wearing a badge either.</p>
<p>'I would urge my fellow commuters to be more conscious of those around them when travelling, particularly if you're sat in a priority seat, and please be brave, be kind, and offer it to someone who looks like they might appreciate it.'</p>
<h2>Act of kindness</h2>
<p>Alan Benson, Chair Transport for All, said:  'The badge continues to have a huge positive impact on many people's daily journeys. This small act of kindness by fellow travellers offering up their seat has an immediate effect but also gives a confidence boost that has a lasting impact.</p>
<p>'At Transport for All we applaud TfL's continued efforts to raise awareness of the badge and also applaud the increasing numbers of people who support it through their actions.'</p>
<p>Nicky Lidbetter, Chief Executive at Anxiety UK, said: 'Anxiety disorders often give rise to huge challenges around travel for those that are affected by such conditions and so is it is truly heartening to see hidden disabilities given equal recognition through this important and much-needed campaign.</p>
<p>'I applaud TfL for ensuring that mental health has parity of esteem with physical health disabilities and would encourage others with responsibility for transport across the UK to follow suit.'</p>
<p>Paul Howard, LUPUS UK said: 'The 'Please Offer Me a Seat' badges offered by TfL are an excellent way to help travellers be more aware of the potential needs of those around them.</p>
<p>'The most common symptoms of lupus are extreme fatigue and joint pains, but these symptoms are not visible and most people with lupus can look perfectly healthy.</p>
<p>'We hope this service will continue to help people with invisible disabilities travel more comfortably and also raise awareness about the many conditions that you may not be able to see.'</p>
<h2>Make someone's day</h2>
<p>Anne-Marie O'Leary, Editor-in-Chief at Netmums, said: 'Netmums is proud to support Priority seating week. Whether you're a woman in the early stages of pregnancy who's feeling sick and faint, or someone with anxiety, there are lots of reasons why people are less able to stand.</p>
<p>'That TfL is taking this seriously and helping promote kindness on public transport is something to be celebrated. Well done TfL.'</p>
<p>Clare Pelham, Chief Executive at Epilepsy Society, said: 'I hate to take up a seat on a bus or Tube when someone else who needs one is standing up.  But I also &#45; like many other people &#45; don't always spot them and it can be excruciating to ask.</p>
<p>'That's why TfL's 'Please Offer Me A Seat' badges are so great.  Many people with epilepsy rely on public transport. Especially because they are unable to have a driving licence if their seizures are not controlled by medicine.</p>
<p>'But no-one can tell who has epilepsy on a train or bus and the stress of standing up in a crowded compartment or bus can trigger a seizure for someone with epilepsy.</p>
<p>'So the simple act of giving up your seat can literally make someone's day.  It can be the difference between arriving safe and well at your destination, and spending the morning at A&amp;E with a head injury following a seizure.</p>
<p>'Please do something great for someone today, and give up your seat to a person with a hidden disability.'</p>
<p>Mark Evers, Transport for London's Chief Customer Officer, said: 'Making sure all our customers can travel comfortably and safely is really important to us.</p>
<p>'Priority Seating Week is a great way of reminding us all that not all conditions are visible, and to give up our seat to those who may need it more.'</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>For more information on TfL's accessibility services visit <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a></li>
    <li>Images can be found here: <a href="https://flic.kr/s/aHskwzq2kk">https://flic.kr/s/aHskwzq2kk</a></li>
    <li>All buses, Tubes, trains and trams have clearly marked priority seats for anyone who needs them. Customers can also apply for a Please Offer Me a Seat badge and card or a Baby on Board badge to help you get a seat if you need one</li>
</ul>
<p><strong>'Please Offer Me A Seat' badge</strong></p>
<p>In April 2017 TfL launched a free badge, &quot;Please Offer Me a Seat&quot; to help people with invisible impairments (ranging from hidden disabilities, conditions or illness) following a successful trial in autumn 2016.	</p>
<ul>
    <li>Currently <strong>30,000</strong> badges have issued</li>
    <li>A survey of badge users found:<br />	<strong>84%</strong> of users have an invisible condition<br />	<strong>78%</strong> of users find it easier to get a seat with the badge or card<br />	<strong>75%</strong> of users are offered a seat with the badge or card<br />	<strong>95%</strong> of users are likely to recommend the scheme to a friend</li>
    <li>TfL does not ask customers requesting the badge or card for their medical history or supporting evidence from a doctor</li>
    <li>Since launch POMAS has been adopted by Greater Anglia trains, the New York Transport Authority and other transport provides have expressed an interest in the scheme</li>
</ul>
<p><strong>'Baby on Board' badge</strong></p>
<ul>
    <li>Over 1 million badges requested by customers in 12 years: 10,000 per month currently. Around 130,000 are issued each year</li>
    <li>The badges can be used on all TfL services &#45; London Underground, London Overground, TfL Rail, London Buses, Docklands Light Railway, Tramlink and River Services &#45; as well as on station platforms &amp; waiting areas</li>
</ul>
<p><strong>Travel support card</strong></p>
<ul>
    <li>TfL's Travel Support card helps disabled and older customers communicate with staff by allowing them to write down what help they need, as well as information such as their emergency contact number</li>
</ul>
<p><strong>Guide Dogs</strong></p>
<ul>
    <li>Assistance dogs are accepted on all TfL services, and for a number of years TfL has been working with Guide Dogs to provide a training package so that guide dogs can use escalators</li>
    <li>When a customer travels on the network with their assistance dog, staff can assist them through the station. If the station only has an escalator, assistance dogs that have been trained can use it. At quiet times, staff can turn off escalators for customers whose guide dogs have not been trained to use them</li>
</ul>
<p><strong>Braille</strong></p>
<ul>
    <li>Sending responses via braille is not something TfL have generally been asked to do by visually impaired customers. Most visually impaired customers will contact TfL via telephone or have assistive technology which reads typed text when sent via email or letter</li>
    <li>TfL supply a range of information for people with visual impairments. This includes a large print colour version of the Tube Map, a large print black and white version of the Tube Map and an audio Tube Map</li>
</ul>
<p><strong>Travel Mentors</strong></p>
<ul>
    <li>TfL's travel mentors can offer advice on planning a journey using an accessible route. They can also provide a mentor to accompany any disabled customer for their first few journeys to help them gain confidence and become an independent traveler. Mentoring is free and can be provided Monday to Friday from 08:00-18:00</li>
</ul>
<p> <strong>Step-free access</strong></p>
<ul>
    <li>There are now more than 200 step-free stations across TfL's network, an increase of 13% since 2012. These include: 73 Tube stations, 58 Overground stations, 6 TfL Rail stations and all DLR stations and Tram stops. As part of its draft Business Plan, TfL has committed to making over 30 additional Tube stations step-free by 2021/22. The move will bring the total number of stations with step-free access to all platforms to more than 100, representing over 40% of the Underground network and significantly increasing the proportion from the current level of 27%</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-April-'Priority Seating Week’ launch marks first anniversary of the ‘Please Offer Me A Seat’ badge -->

 
 
        
        
            @{ViewBag.Description = "Transport for London launches ‘Priority Seating Week’ to mark first anniversary of the ‘Please Offer Me A Seat’ badge";}
        
        


 