


@{ViewBag.Title = "Further advice on the four-day DLR strike starting Friday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Further advice on the four-day DLR strike starting Friday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Further advice on the four-day DLR strike starting Friday</h1>
        <div class="content-page-press-release">
        19 April 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Strike called by RMT union in a dispute with KeolisAmey Docklands, operator of the DLR
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"If this strike goes ahead tomorrow, we have worked hard to prepare plans for a limited service to support the London Marathon runners and supporters"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Davis</div>
            <div class="quotee-job-title">TfL's Interim General Manager of the DLR</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Limited services are planned, subject to staff availability, however Marathon participants also advised to plan alternative routes</li>
    <li>No service before 10:00 on Friday or Saturday to enable trains to continue running for longer to ExCeL for Marathon registration</li>
    <li>Service to Greenwich from 07:00 on Sunday to support London Marathon runners and supporters</li>
    <li>Customers are advised to check before they travel at <a href="http://www.tfl.gov.uk/DLR-strike">tfl.gov.uk/DLR-strike</a>, using &#64;LondonDLR, &#64;TravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts and to allow extra time for their journeys</li>
</ul>
<p>Strike action called by the RMT union between 04:00 Friday 20 April and 03:59 Tuesday 24 April will mean that, subject to staff availability, only a limited service will be operating on the Docklands Light Railway (DLR) including on Sunday 22 April when the London Marathon takes place through south and east London.</p>
<p>Transport for London (TfL) and the operator KeolisAmey Docklands aim to operate a limited service to enable London Marathon participants to travel to the ExCeL on Friday and Saturday to register for the event, and to Greenwich and the Isle of Dogs on Sunday for the runners and their supporters along the race route.</p>
<p>Plans have been devised with the aim of operating the following:</p>
<p><span style="text-decoration: underline;">Friday 20 April</span></p>
<ul>
    <li>10:00 &#45; 20:00: Services between Poplar and Beckton, and West Ham and Prince Regent, for access to the ExCeL from Prince Regent station.</li>
    <li>10:00 &#45; 20:00: Services between Canning Town and King George V for access to London City Airport. After 20:00 an enhanced bus service will operate between Canning Town and London City Airport.</li>
</ul>
<p><span style="text-decoration: underline;">Saturday 21 April</span></p>
<ul>
    <li>10:00 &#45; 16:30: Between Poplar and Beckton, via Prince Regent station for access to the ExCeL. Services towards Beckton will not stop at Custom House.</li>
    <li>10:00 &#45; 14:00: Between Canning Town and King George V for access to London City Airport (which closes at 14:00)</li>
    <li>14:00 &#45; 16:30: Between West Ham and Prince Regent, for access to the ExCeL. Services towards Prince Regent will not stop at Custom House.</li>
</ul>
<p><span style="text-decoration: underline;">Sunday 22 April</span></p>
<ul>
    <li>07:00 &#45; 12:30: Between Bank and Greenwich, for the Marathon route and starting line</li>
    <li>07:00 &#45; 13:30: Between Tower Gateway and Greenwich, for the Marathon route and starting line</li>
    <li>12:30 &#45; 16:30: Between Bank and Crossharbour, for supporters lining the Marathon route on the Isle of Dogs</li>
    <li>13:30 &#45; 16:30: Between Tower Gateway and Mudchute, for supporters lining the Marathon route on the Isle of Dogs</li>
    <li>All Day: No service to London City Airport.</li>
</ul>
<p><span style="text-decoration: underline;">Monday 23 April</span></p>
<ul>
    <li>07:00 &#45; 16:00: Between Poplar and Beckton</li>
    <li>07:00 &#45; 16:00: Between Canning Town and King George V for access to London City Airport</li>
</ul>
<p>These services are expected to be extremely busy and could be subject to change. Customers are advised to check the TfL website at <a href="http://www.tfl.gov.uk/DLR-strike">tfl.gov.uk/DLR-strike</a> for the latest information and to plan ahead, including looking at alternative options, by using TfL's real-time Twitter feeds at &#64;LondonDLR, &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts.</p>
<p>Extra bus services will be deployed along the DLR network over the four days and TfL Travel Ambassadors will be on hand to provide travel information and advice to customers. All other TfL services will be operating as usual, however there will be road closures around the London Marathon route from early Sunday morning and some Santander Cycles docking stations will be suspended over the weekend. The Jubilee, Central, District and Hammersmith &amp; City lines in East London are expected to be busier than usual and stations including Canary Wharf, Canada Water, London Bridge, Canning Town, Bank and Stratford may be exceptionally busy. Customers are advised to check before they travel and allow extra time for their journeys.</p>
<p><strong>Mark Davis, TfL's Interim General Manager of the DLR, said</strong>: &quot;Millions of pounds are raised for charity at the London Marathon and we don't want to see the thousands of people who have signed up to run, or their supporters, disrupted. We urge RMT and KeolisAmey Docklands to continue with discussions to settle their dispute. If this strike goes ahead tomorrow, we have worked hard to prepare plans for a limited service to support the London Marathon runners and supporters. Bus, Tube and rail services will operate as normal and we will have extra buses running along the DLR route. Customers are advised to check before they travel and allow extra time to make their journeys, while our Travel Ambassadors will be on hand to provide information and advice and help keep London moving.&quot;</p>
<p>Customers can keep up-to-date on the status of their services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on the TfL website at <a href="http://www.tfl.gov.uk/DLR-strike">tfl.gov.uk/DLR-strike</a></li>
    <li>Travel alerts through Twitter on &#64;LondonDLR, &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts, and through the TfL Travelbot on Facebook messenger.</li>
</ul>
<p>&nbsp;</p>
<hr />
<p> </p>
<p><strong>Notes to Editors</strong>:</p>
<ul>
    <li>The Virgin Money London Marathon will be held on a 26.2mile course on Sunday 22 April, requiring road closures and bus diversions. From 06.00 roads will be closed in south east and central London, from Greenwich Park to St James's Park. Central and City closures will include all approaches to Upper Thames Street, Tower Hill and Victoria Embankment. Rotherhithe Tunnel, Tower, Southwark and Westminster Bridges will also be closed. Motorists are advised to plan ahead and if possible avoid driving near the affected areas or travel at a different time and allow more time for their journey. There will be phased reopening of the roads from around midday with all roads expected to be fully reopened by 19.00.</li>
    <li>The London Marathon route will take runners past some of London's most famous and historic landmarks. All visitors are advised to plan their day carefully and to avoid busy areas, in particular Greenwich town centre, Cutty Sark and Tower Bridge.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-April-Further advice on the four-day DLR strike starting Friday -->

 
 
        
        
            @{ViewBag.Description = "Further advice on the four-day DLR strike starting Friday";}
        
        


 