


@{ViewBag.Title = "Half of all Tube and rail pay as you go journeys across London using contactless";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Half of all Tube and rail pay as you go journeys across London using contactless</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Half of all Tube and rail pay as you go journeys across London using contactless</h1>
        <div class="content-page-press-release">
        24 April 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Half of all Tube and rail pay as you go journeys are now regularly made using contactless payment cards or mobile devices, the latest figures from Transport for London (TfL) reveal.
        
    </div>



 <div class="on-this-page">
<p>The convenient payment method, which launched on buses in London in December 2012 and across Tube and rail services in London in September 2014, is now being used to make around 17 million journeys a week across London. Since it launched, more than 1.7 billion journeys have been made across the capital, showing how Londoners and visitors have taken to using contactless payments as part of their daily life. The number of journeys made in London using contactless has risen from around 25 per cent just two years ago. On buses and trams, the use of contactless is also increasing rapidly - with around 45 per cent of all pay as you go journeys now being made using contactless.</p>
<p>Other key figures released today by TfL include:</p>
<ul>
    <li>While half of all pay as you go journeys across London are now made using contactless payments, a number of stations, including Blackfriars, Shoreditch High Street, Canary Wharf and Clapham Common, are consistently seeing more that 60 per cent of all pay as you go journeys made using contactless. Close to half a million contactless pay as you go journeys are made from Oxford Circus every week &#45; the equivalent of 50 cards touching in every minute.</li>
    <li>Contactless journeys made using mobile devices continue to increase, with around one in eight contactless journeys in London now being made using a mobile phone or smart device.</li>
    <li>On the London bus network, the most popular bus route for using contactless is the route 521 from Waterloo station to London Bridge station via Holborn, which regularly sees more than 60 per cent of all pay as you go journeys being made using contactless.</li>
    <li>London's airports where pay as you go is accepted continue to see a growing proportion of contactless journeys made from both UK and overseas customers. More than 35 per cent of pay as you go journeys from Heathrow airport, more than 40 per cent of pay as you go journeys from London City Airport and more than 55 per cent of pay as you go journeys from Gatwick airport towards London are now made using contactless.</li>
</ul>
<p>TfL's contactless ticketing system automatically calculates the best value fare based on the customer's specific journey history and then charges them at the end of the day - ensuring customers always pay the best fare in the easiest and most convenient way. This means that customers could save money compared to buying a one day Travelcard, helping them to travel around London more affordably. Customers using contactless also benefit from weekly capping, which will be expanded to Oyster card users later this year, as well as the Hopper fare, which allows bus and tram customers to make unlimited journeys within an hour for the price of one.</p>
<p>The success of contactless in London is now leading to more world cities introducing the technology as a convenient method of paying for travel. In 2016 TfL signed a deal worth up to &pound;15m with Cubic Transportation Systems, allowing them to adapt the capital's contactless ticketing system worldwide. Since then, New York, Sydney, Miami and Boston have all announced that they plan to introduce contactless payments in the coming years. From May 2018, pay as you go will also be extended to cover TfL Rail services between Heathrow airport and Paddington station, and will also cover the entire Elizabeth line when it launches from December 2018.</p>
<p>Shashi Verma, Chief Technology Officer at TfL said: `Contactless ticketing has made travelling in and around London and the South East by bus, Tube or rail quick, convenient and affordable. We're delighted with how popular this innovation has become and, with the future extension of this technology across the Elizabeth line, even more customers will benefit in the future. We are also now working with other world cities to share our experience and knowledge to help them introduce a similar ticketing system in the coming years.#</p>
<p>Richard Koch, Director of Cards at UK Finance, said: `Contactless payments have transformed public transport in the capital, making millions of journeys each week quicker and easier. Passengers no longer have to waste time queuing for paper tickets and can enjoy the benefit of weekly capped fares. Building on this success, UK Finance has developed the Contactless Transit Framework to support the expansion of contactless ticketing to cities and bus routes across the country.'</p>
<p>Steve Chambers, Public Transport Campaigner at Campaign for Better Transport, said: "`Cashless ticketing is a simple, effective, way for commuters to pay for their journey while making travelling across London's transport networks easier and more flexible. The rise in the number of people making contactless payments proves that if people are offered multiple ways to pay for their ticket they will use them, which is a good thing. We are also pleased to see the Oyster card gaining all the features of contactless later this year, bringing more benefit to London's commuters.'</p>
<p>Notes to editors</p>
<ul>
    <li>Copies of graphs showing the growth of contactless since it launched, as well as a map showing where contactless can be used on Tube and rail services in and around London and the South East, are available from the TfL Press Office.</li>
    <li>Journeys made using pay as you go with contactless now make up around a third of all fares revenue for London Underground. In total, almost &pound;3.5 billion has been spent by customers using pay as you go with contactless since it was introduced</li>
    <li>Around 900,000 bus and tram journeys are made using pay as you go with contactless every day in London. Of these, around 25 per cent are made using cards that have reached the daily or weekly cap, meaning the journey is free</li>
    <li>TfL's development of contactless payments is seen by many as the catalyst for contactless being adopted more generally by consumers in the UK, and this is widely accepted as the case by the payments industry. The software that powers the contactless service was built in-house by TfL, which is what has led to the opportunity to benefit from licence sales and bring in revenue to invest in transport.</li>
    <li>TfL continues to remind customers to ensure that they touch in and out with the same card and avoid 'card clash' &#45; where a contactless card held near to an Oyster card a customer intends to pay with can on very rare occasions be charged.  Where this happens, TfL will always be happy to refund any customer who feels they have paid too much. Due to the high usage of contactless now being seen across the system, TfL's policy of automatically refunding Oyster customers who may have suffered from card clash has been refined to make sure that such refunds are not inadvertently given to customers who did, in fact, intend to use their contactless card.</li>
    <li>Customers are encouraged to sign up for an online account and add their contactless payment card. As well as being able to view 12 months of journey and payment history, customers can also get email alerts if there's an issue with their card which might stop them from using it to travel as well as obtain refunds for incomplete journeys - <a href="http:// https://account.tfl.gov.uk">https://account.tfl.gov.uk</a></li>
    <li>Later this year, customers will be able to view the journey history for their contactless card and apply for refunds using the free TfL app - <a href="https://tfl.gov.uk/fares-and-payments/ways-to-pay/tfl-oyster-app">https://tfl.gov.uk/fares-and-payments/ways-to-pay/tfl-oyster-app</a></li>
    <li>In 2016, Southeastern announced that passenger journeys on High Speed One services between St Pancras International and Stratford International increased by 72% following the introduction of pay as you go with Oyster and contactless in July 2015. The high-speed service now sees around 24,000 journeys a week made using pay as you go, more than 60 per cent of which regularly made using contactless payment cards.</li>
    <li>Copies of graphs showing the growth of contactless since it launched, as well as a map showing where contactless can be used on Tube and rail services in and around London and the South East, are available from the TfL Press Office. <a href="/cdn/static/cms/documents/contactless-top-line-figure.pdf">See a factsheet with additional contactless figures (PDF 126KB).</a> </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-April-Half of all Tube and rail pay as you go journeys across London using contactless -->

 
 
        
        
            @{ViewBag.Description = "Half of all Tube and rail pay as you go journeys across London using contactless";}
        
        


 