


@{ViewBag.Title = "Sherlock Gnomes swoops onto Baker Street Tube station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Sherlock Gnomes swoops onto Baker Street Tube station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Sherlock Gnomes swoops onto Baker Street Tube station</h1>
        <div class="content-page-press-release">
        23 April 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Paramount Pictures celebrates the release of new animation Sherlock Gnomes with an 'experiential' advertising campaign on the Tube
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This fun campaign is a great example of how brands of all sizes can use our stations in a creative and engaging way to connect with tens of thousands of people"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Roaming gnomes and special PA announcements at Baker Street Tube station</li>
    <li>Campaign developed with Exterion Media to generate vital revenue to reinvest in transport</li>
</ul>
<p>Customers travelling through Baker Street Tube station this morning found that 'the game was afoot' as the station had been 'taken over' by gnomes to celebrate the forthcoming release of the new 'Sherlock Gnomes' film (previewing in cinemas on 5-7 May, opening nationwide on 11 May), the sequel to the 2011 film 'Gnomeo and Juliet'.</p>
<p>Throughout today (Monday 23 April), Gnomeo, Juliet and Sherlock Gnomes can be found on platforms and in the ticket hall, hunting for clues as to the whereabouts of missing gnomes and handing out activity sheets for children to help them solve the mystery. The Sherlock Holmes silhouettes on the station platform will also be transformed into Sherlock Gnomes, whiteboards will be adorned with tongue-in-cheek messages, such as &quot;Gnome ward bound? […] Gnome pun intended&quot; and public service announcements will also be made in the voice of Sherlock Gnomes. Posters showcasing the characters from the film can be found on the northbound Bakerloo line and on advertising sites across the London Underground network.</p>
<p>Graeme Craig, Director of Commercial Development at Transport for London (TfL) said: </p>
<p>'This fun campaign is a great example of how brands of all sizes can use our stations in a creative and engaging way to connect with tens of thousands of people. We hope that today's pintsized activities will bring a bit of unexpected fun to our customers, young and old, passing through the station today. Activities like this provide vital funds that we are investing in modernising the transport network for the benefit of all of our customers.'</p>
<p>Richard Simkins, Creative Solutions Director at Exterion Media, said: </p>
<p>'This Sherlock Gnomes campaign is a great example of the impact 'station animation' can have on the London Underground. It is a powerful combination of our Exterion Live experiential offering, our award winning Creative Solutions and our close partnership with Transport for London that delivers a truly memorable brand experience.'</p>
<p>This two week marketing campaign is a media partnership between TfL and Exterion Media. The partnership provides creative, bespoke advertising opportunities, like this one, to an audience of over 1.5 billion on London Underground, London Overground, the DLR, Tramlink, Victoria Coach Station and, from 2018, the Elizabeth line. Through the partnership's innovative approach to technology and transforming the physical advertising assets in station environments, advertisers increasingly have more flexible and dynamic opportunities to connect with their target audiences, while helping to generate vital revenues to invest in London's transport network.&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-April-Sherlock Gnomes swoops onto Baker Street Tube station -->

 
 
        
        
            @{ViewBag.Description = "TfL Press Release - Sherlock Gnomes swoops onto Baker Street Tube station to help celebrate the release of the new animation Sherlock Gnomes";}
        
        


 