


@{ViewBag.Title = "Spring into Summer with TfL's free guided walks  ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Spring into Summer with TfL’s free guided walks  </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Spring into Summer with TfL’s free guided walks  </h1>
        <div class="content-page-press-release">
        25 April 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Now that the warmer weather is here, and with lighter evenings signalling that summer is on its way, it's a great time to book a place on one of Transport for London's (TfL's) 42 free guided walks next month and experience London on foot. The Spring into Summer walks take place on Saturday 12 and Sunday 13 May across the capital and with over 25 of them fully accessible there's something for all ages and abilities.</p>
<p>Whether you have an interest in history and art, enjoy green spaces and want to be outdoors or are simply after a free activity for the family &#45; the walks cover a variety of fun and interesting themes.</p>
<p>A number of new walks have been introduced, including Urban Tree Trail which provides the opportunity to find out more about how ecosystems are managed in an urban landscape.  Curated as part of Mayor of London Sadiq Khan's #BehindEveryGreatCity's gender equality campaign, Suffragette City will explore the Suffragettes' fight for votes for women and the From Prejudice to Pride walk will delve into the history of London's LGBTQ+ community.</p>
<p>The weekend's walks include</p>
<p>Saturday 12 May 2018</p>
<ul>
    <li><strong>Urban Tree Trail</strong></li>
</ul>
This walk looks at street trees and other kinds of green infrastructure in London, exploring the importance of trees and discussing the environmental, economic and social benefits they can deliver. The walk is aimed at anyone with an interest in trees and the natural environment.
<ul>
    <li><strong>Goodnight Mister Tom</strong></li>
</ul>
<p>This family focused walk, inspired by the much loved children's book &quot;Goodnight Mister Tom&quot; by Michelle Magorian, tells the story of Willy Beech who is evacuated outside of London during World War II. The walk explores the City of London and hears what life was like for those who remained in the capital during the Blitz.</p>
<ul>
    <li><strong>A Sensory and Dementia Friendly Walk</strong></li>
</ul>
<p>All are welcome to join this gentle sensory stroll to learn more about the history, flora and fauna of Dulwich Park. You will learn more about how to support people living with dementia to enjoy the sights, sounds and smells of the outdoors. The walk is primarily aimed at people who have dementia and their carers, friends and family but everyone is welcome.</p>
<p><strong>Sunday 13 May 2018</strong></p>
<ul>
    <li><strong>#BehindEveryGreatCity Suffragette City</strong></li>
</ul>
<p>Much of the Suffragettes' fight for &quot;Votes for Women,&quot; took place in Central London. We will discover where it all happened, as we walk through some of Westminster's side streets and some famous landmarks including Trafalgar Square, Downing Street, Whitehall &amp; the Houses of Parliament. Participants will meet the brave women who are fighting for the vote and the scheming politicians who are trying to stop them.</p>
<ul>
    <li><strong>From Prejudice to Pride</strong></li>
</ul>
<p>This walk takes us through the heart of London's modern LGBTQ+ community in Soho following the history and struggles of 'the love that dare not speak its name' and the challenges individuals have faced to have their gender identity recognised. The walk will take a look at some raffish and bohemian bars and meeting places from the 1930s as we learn about the fight for equality.</p>
<ul>
    <li><strong>Walthamstow Wetlands</strong></li>
</ul>
<p>Set to be Europe's largest urban wetland, Walthamstow Wetlands is a Site of Special Scientific Interest (SSSI). It also forms part of the Lee Valley Special Protection Area. Walthamstow Wetlands provides a special home to many species. Here participants will enjoy some peace and quiet whilst getting close to nature, observe birds both resident and rare.</p>
<p>Active travel forms an integral part of the Mayor's Transport Strategy and encourages regular moderate exercise, which significantly reduces individual health risks and improves overall physical and mental wellbeing. The Mayor's Transport Strategy aims for 80 per cent of journeys in London to be made by walking, cycling or public transport by 2041. Beyond the immediate personal benefits of walking, reducing reliance on car journeys will help improve London's air quality, reduce congestion and make the capital's streets greener, safer and more pleasant places.</p>
<p>Each walk is led by an experienced Walk London guide equipped to manage groups on trips varying from short ambles up to the lengthiest routes. To find out more and secure a free space on one of these walks, visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a></p>
<p><strong>Lilli Matson, Director of Transport Strategy, said:</strong> &quot;Our walking weekends provide Londoners the opportunity to explore and find out what London has to offer in an active and healthy way.  There's a variety of walks that really show London from a new perspective and how different areas of the capital connect. We hope they will inspire people to go on to enjoy more journeys on foot.&quot;</p>
<p><strong>Will Norman, Walking and Cycling Commissioner, said:</strong> &quot;These walks are a wonderful way to see London this spring. They offer an interesting insight into our capital and are a great way to stay fit and healthy. I hope they inspire everyone to get out and enjoy exploring their local area.&quot;</p>
<p>Notes to editors:</p>
<ul>
    <li>Images can be found here:  <a href="https://www.flickr.com/photos/tflpress/albums/72157662733622577/with/25873446438">Winter Wanders</a>  and <a href="https://www.flickr.com/photos/tflpress/albums/72157662687475090">Walking Weekends</a>.</li>
    <li>For more information on walking, including walking Tube maps, visit <a href="http://www.tfl.gov.uk/walking">www.tfl.gov.uk/walking</a></li>
    <li>A Sensory and Dementia Friendly walk is run in partnership with the Alzheimers Society, Cool Tan Arts, Southwark Council Parks and Leisure and Transport for London.</li>
    <li>#BehindEveryGreatCity champions the achievements and contributions of women, from all walks of life, which make cities like London great. It coincides with the 100 year anniversary of the 1918 Representation of the People Act, which gave some women the vote, and was introduced thanks to the campaigning of suffragists and suffragettes.</li>
    <li>The Spring into Summer walks are delivered by Walk Unlimited, and all walks are accompanied by a trained Walk Leader and experienced Back Marker, and start and finish within easy reach of public transport.</li>
    <li>Nearly 50,000 people have attended Walk London's walking weekends since November 2007</li>
    <li>The Walk London network is made up of seven top walking routes that cover more than 390 miles&nbsp; 628 km and pass through every borough. Maps and guides are available to download at <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking</a></li>
    <li>Public Health England (PHE) revealed that 41 per cent of the 15.3 million English adults aged 40 to 60 walk less than 10 minutes continuously each month at a brisk pace of at least 3mph.</li>
    <li>The seven top walking routes in London cover long distances, but are designed to be completed in sections that are accessible by public transport. The routes are:</li>
</ul>
<ul>
    <li>The LOOP Walk (152 miles / 245 km)</li>
    <li>The Capital Ring Walk (78 miles / 126 km)</li>
    <li>The Green Chain Walk (50 miles / 80km)</li>
    <li>The Lea Valley Walk (18 miles / 29km)</li>
    <li>The Thames Path Walk (40 miles / 64 km)</li>
    <li>The Jubilee Walkway (15 miles / 24 km)</li>
    <li>The Jubilee Greenway Walk (37 miles / 60km)</li>
</ul>
<p>:</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-April-Spring into Summer with TfL’s free guided walks   -->

 
 
        
        
            @{ViewBag.Description = "Spring into Summer with TfL’s free guided walks  ";}
        
        


 