


@{ViewBag.Title = "11 new borough policing teams for central London buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>11 new borough policing teams for central London buses</h1>
        <div class="content-page-press-release">
        04 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Borough based police patrols dedicated to London's buses are set to begin operation in the Capital's central boroughs.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The safer transport teams have played a major role in reducing crime on London's buses to its lowest level since 2004."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The safer transport teams have played a major role in reducing crime on London's buses to its lowest level since 2004. 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A review of the Transport Operational Command Unit, which is funded by Transport for London and operated by the Metropolitan Police, has recommended that similar teams be set up to the Safer Transport Teams that already operate successfully in the 21 outer London boroughs. </p>
<p>Last year an extra 440 police and community support officers were deployed to the outer London boroughs in Safer Transport Teams and bus related crime fell by 11 per cent across London, between April and September last year, compared to the year before.</p>
<p>Now new teams are to be deployed in Westminster, Camden, Hackney, Islington, Kensington and Chelsea, Hammersmith and Fulham, Lambeth, Southwark, Tower Hamlets, Wandsworth and Lewisham.</p>
<p>Support will also be increased for the safer transport teams in London's outer boroughs by providing them with extra officers.</p>
<h2>Specialist teams to combat crime</h2>
<p>The review of the Transport Operational Command Unit also recommends that some functions continue to be carried out by specialist teams that will cover the whole of the Capital.</p>
<p>These include the 'BusTag' and 'Dip' teams that specialise in combating criminal damage and pick pocketing respectively. </p>
<p>Ken Livingstone, the Mayor of London, said: "The safer transport teams in London's outer boroughs have played a major role in reducing crime on London's buses to its lowest level since 2004.</p>
<p>Crime in central London is different to that in the outer boroughs and the new teams working there will tailor their work to deal with the different challenges they face. </p>
<h2>Visible presence</h2>
<div class="pullquote right">
<p>The success of the Safer Transport Teams is testament to the effectiveness of this borough based approach. 
<div class="cite">Steve Burton, Director of Community Safety, Enforcement and Policing</div>
<p></div>
<p>"These teams will be highly visible on the busy buses of central London where they will provide a reassuring presence for Londoners and visitors to our city.</p>
<p>The hard work of Transport for London and the Metropolitan Police is paying off as the bus network continues to provide an overwhelmingly safe environment."</p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing said: "We have had five years of targeted policing on the bus network, and the result is that we now have the lowest rate of crime on buses in that time.</p>
<p>"The success of the Safer Transport Teams in outer London is testament to the effectiveness of this borough based approach where teams of police get to know the communities they are working in, as well as the hot spots for crime and disorder.</p>
<h2>Building strength and integration</h2>
<p>The review recommends building on the strengths of both the Safer Transport Teams and the Transport Operational Command Unit by increasing their integration and strengthening their work with the British Transport Police.</p>
<p>"Another major benefit will be closer working with bus garages, and more joined up operations with our colleagues in the Safer Transport Teams and the British Transport Police." </p>
<p>Chief Superintendent Joe Royle, of the Transport Operational Command Unit, said:&nbsp;"We are pleased to have participated in this review which will deliver some exciting and innovative policing methods to further reduce crime and the fear of crime on London's bus network."</p>
<p>
<hr>

<p>
            <p><strong>Notes to editors</strong></p>
<p><strong>Under the TOCU Review:</strong></p>
<ul>
<li>These changes will be implemented through 2008/9</li>
<li>Further recommendations on the future operations of the TOCU will be published in due course</li></ul>
<p><strong>In the five years since the TOCU was first set up in 2002:</strong></p>
<ul>
<li>The TOCU itself has increased in size (a growth in financial terms of&nbsp; approx 150 per cent&nbsp;since 2002)</li>
<li>200 additional BTP officers now provide reassurance policing on the underground, DLR and London Overground</li>
<li>Safer Transport Teams have been set up in 21 outer London Boroughs (over 440 additional officers)</li>
<li>In total TfL is now providing approximately &pound;140m of policing funding a year of which the largest single investment is in the TOCU. In total some 2,400 uniformed police are now dedicated to TfL's services and more than half of these are within the TOCU</li>
<li>By the end of 2005, Transport for London&nbsp;fitted all of London's 8000 buses with fully recording CCTV and there are now as many as 60,000 cameras fitted on the fleet</li>
<li>London's buses carry 6.3m passengers a day on 700 routes across the capital, and are a low crime environment - only 15 crimes for every million passenger journeys</li></ul>
<p><strong>Crime Figures Summary across London:</strong></p>
<ul>
<li>Key successes between 1st half of 2007/8 compared with 2006/7: </li>
<ul type="circle">
<li>Robbery down by 28.3&nbsp; per cent&nbsp; (From 2946 to 2113 offences)</li>
<li>Criminal damage down by 22.2&nbsp; per cent&nbsp; ( From 3774 to 2935 offences)</li>
<li>Theft and handling down by 9&nbsp;per cent&nbsp;(From 7175 to 6529 offences)</li></ul></ul>
<p><strong>Safer Transport Teams Summary:</strong></p>
<ul>
<li>Deployment of the 441 uniformed officers (including 378 Police Community Support Officers (PSCOS)):</li>
<li>Each team consists of 18 PCSOs, at least two Sergeants and 1 Police Constable</li>
<li>The new teams are attached to Metropolitan Police Service&nbsp;Borough Operational Command Units with the Metropolitan Police Service providing day-to-day supervision and management in Bexley, Bromley, Croydon, Greenwich, Barking and Dagenham, Enfield, Haringey, Havering, Newham, Redbridge, Waltham Forest, Hounslow, Kingston-upon-Thames, Merton, Richmond-upon-Thames and Sutton, Barnet, Brent, Harrow, Hillingdon and Ealing</li>
<li>The teams are borough based and enhance the Safer Neighbourhoods Teams who are ward based</li>
<li>The new PCSOs are part-funded by the Home Office as part of the National Reassurance Programme. TfL has provided &pound;9.6m part funding for the Safer Transport Teams for 2007/8 and 2008/9</li>
<li>The Home Office's part funding for the initiative has not been made available for 2009/10. The initiative will be funded jointly by TfL and the MPS in its third year and will continue to provide an additional 441 officers on the transport network</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A review of the Transport Operational Command Unit, which is funded by Transport for London and operated by the Metropolitan Police, has recommended that similar teams be set up to the Safer Transport Teams that already operate successfully in the 21";}
        
        


 