


@{ViewBag.Title = "Black children far more likely to be injured on roads";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Black children far more likely to be injured on roads</h1>
        <div class="content-page-press-release">
        17 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today published two road safety reports that explore the relationship between deprivation, ethnicity and road safety.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Improving road safety for all Londoners remains a top priority"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Improving road safety for all Londoners remains a top priority
                            
                        </p>
                    </div>
                
            
            
            <p>Findings show that the situation regarding road accidents involving London's Black and Minority Ethnic communities has improved greatly since 2000, with the casualty rate for black child pedestrians falling slightly faster than for white children over the last five years.</p>
<p>However, casualty rates are still significantly higher than those for white children. </p>
<p>The new research shows that there is strong evidence of a link between deprivation and child injury rates, and this differs by ethnic groups.</p>
<p>However, regardless of their levels of wealth, the injury rate for black child pedestrians is one and a half times greater than for white children.</p>
<h2>Road safety - top priority</h2>
<p>While the causes for this are not yet clear, TfL is focusing on the issue by funding a number of pilot projects that work directly with local communities.</p>
<p>The Mayor of London, Ken Livingstone, said: "Improving road safety for all Londoners remains a top priority.</p>
<p>Whilst today's report shows that we are making progress in reducing the number of people killed or seriously injured on our roads, the higher level of accidents among black children is shocking.</p>
<p>I am determined to get to the bottom of this in order to save more young people from death and serious injury on the roads."</p>
<p>"This year Transport for London will spend a record &pound;49m tackling road safety issues in London. This will help fund a range of projects that focus on Black and Ethnic Minority communities across the capital though work with schools, teachers and parents".</p>
<h2>Funded projects</h2>
<p>The Transport for London funded projects include:</p>
<ul>
<li>Queens Park Rangers football club and the Hammersmith and Fulham road safety team are working with the White City community to promote road safety among young people through sport</li>
<li>Camden council is teaming up with Camden's Black Parents and Teachers Association to engage young people and their families in road safety activities such as pedestrian skills and cycle training</li>
<li>Haringey's road safety team is working with the London Islamic Cultural Society Mosque's Youth Forum on a series of road safety activities, including theatre education, child safety seat checks and crossing patrols</li>
<li>A Somali Voluntary Organisation in Hounslow is linking up with the borough road safety unit to set up a drop-in road safety advice centre</li>
<li>Southwark council is working with two local estates&nbsp;&nbsp; on raising awareness of road safety in the local community and developing local solutions</li>
<li>Three schools in Brent with high numbers of students from deprived or ethnic minority backgrounds are teaming up with the borough road safety team on an art project which will create a road safety mural in the local area</li>
<li>Black children in Hackney are working with a production company to produce a documentary that compares the road safety educational experience of their parents and grandparents in their native countries with present-day London </li></ul>
<h2>Community safety agendas</h2>
<p>David Brown, Transport for London's Managing Director of Surface Transport said: "Since 2000, the number of people killed or seriously injured on the Capital's roads has fallen by 35 per cent. While this fall has been across all of London's communities, figures from these reports show that the injury rate for black child pedestrians is one and a half times greater than for white children.</p>
<p>"To address the inequality we are working with local authority road safety teams and local communities to include road safety issues as part of broader community safety agendas.''</p>
<p>TfL Investment in measures such as traffic calming, road safety engineering and a range of award winning road safety campaigns has already contributed to a 35 per cent fall in the numbers of people from all communities killed or seriously injured on London's roads since 2000. </p>
<p>
<hr>
</p>
            <p>
<p><strong>Notes to editor</strong></p>
<ol type="1">
<li>The two reports, Road Safety of London's Black and Asian Minority Ethnic Groups, and Deprivation and Road Safety in London, were produced for TfL by the London School of Hygiene and Tropical Medicine. They can be viewed at <a title="Publications" href="/corporate/projectsandschemes/roadsandpublicspaces/2840.aspx">Publications</a></li>
<li>The number of people killed or seriously injured on London's roads has decreased by 41 per cent since the mid to late 1990s. Amongst those injured, 'Black' Londoners have been on average 1.3 times more likely to be involved in a collision on the roads than 'White' Londoners </li>
<li>Child pedestrian road traffic injury rates in London (1996-2006) were highest for 'Black' children (175 per 100,000), and the lowest for 'Asian' children (92 per 100,000) compared with 'White' children (115 per 100,000) </li>
<li>TfL's Deprivation and Road Safety report found that pedestrians are three times more likely to be injured in a road collision if they are from one of the most deprived areas of London, compared to those who come from the least deprived/more affluent areas</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Findings show that the situation regarding road accidents involving London's Black and Minority Ethnic communities has improved greatly since 2000, with the casualty rate for black child pedestrians falling slightly faster than for white children over the";}
        
        


 