


@{ViewBag.Title = "Board backs &pound;7.8bn budget as Transport for London steps up delivery of major transport projects ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Board backs &pound;7.8bn budget as Transport for London steps up delivery of major transport projects </h1>
        <div class="content-page-press-release">
        13 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Investment up 50 per cent to &pound;1.5bn in 2008/09 as construction intensifies on East London line, Docklands Light Railway (DLR) and the upgrade of the Tube.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our task is to keep London moving and ensure that the city continues to thrive"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our task is to keep London moving and ensure that the city continues to thrive
                            
                        </p>
                    </div>
                
            
            
            <p>Transport Commissioner, Peter Hendy, today announced Transport for London's (TfL's) priorities for the year ahead following agreement of the organisation's 2008/09 budget by the Board of TfL.</p>
<p>Better public transport, walking and cycling provisions are critical to achieving the transport goals set by the Mayor and TfL: to drive London's continued economic development; tackle climate change and enhance the environment and improve social inclusion.</p>
<p>The new budget reflects a substantial rise in investment as work intensifies on major projects that will increase the capacity and reliability of the Capital's public transport network. </p>
<h2>Renewal</h2>
<p>Investment in the next year rises 50 per cent to &pound;1.5bn as construction intensifies on the East London line, the expansion of the&nbsp;DLR and the upgrade of the Tube. <br>The Mayor of London, Ken Livingstone, said: "This budget will allow Transport for London to continue its renewal and expansion of the capital's transport network including the ongoing transformation of the Tube, preparations for the 2012 Olympics, the expansion of rail and bus services and programmes to promote walking and cycling. </p>
<p>"London's bus network has been completely transformed so that it is now the cleanest, most accessible, and most comprehensive system in the UK and attracting record passenger numbers at a time of declining bus use elsewhere in the country. </p>
<p>"Likewise, the Tube has experienced record numbers and we have managed to ensure that the modernisation of the network, which is so badly needed, continues despite the collapse of Metronet."</p>
<p>Transport Commissioner, Peter Hendy, said: "Our task is to keep London moving and ensure that the city continues to thrive. </p>
<h2>Expansion</h2>
<p>"We are working hard to bring Metronet out of administration and continue the upgrade of&nbsp;the Tube, to increase the reach of the bus network and to improve cycling and walking facilities.</p>
<p>"Londoners want more improvements such as the new London Overground rail service, further reductions in the numbers of people killed and seriously injured on London's roads as well as the better air quality that the Low Emission Zone will deliver.</p>
<p>"The year ahead is critical for some of our biggest projects. Construction intensifies on the East London line, on the expansion of the DLR network and its two new extensions and through efforts to upgrade the Tube."</p>
<p>With more than 10 million journeys made each day on Tube and bus alone, TfL's challenge remains -&nbsp;improving the level of passenger services while delivering the projects of its &pound;10bn Investment Programme.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li><a href="/corporate/about-tfl/boardandchiefofficers/papers/1436.aspx">Board papers</a> are available online </li>
<li>TfL is one of the world's largest transport authorities providing transport and services for more than 10 million people across the Capital every day.&nbsp;&nbsp; It manages London Underground, which carried a record 1.1 billion journeys last year, and the bus network which carried 1.9 billion passengers last year, up 45 per cent since 2000 </li>
<li>TfL also manages the DLR, the Congestion Charge, Low Emission Zone and CO2 charge schemes, the Croydon Tramlink, the North London Railway as part of the new London Overground rail service and TfL is responsible for the 580km of Red Routes which make up London's busiest main roads </li>
<li>TfL has three overarching strategic goals:&nbsp;&nbsp;<br>
<ul>
<li>supporting London's economic development </li>
<li>tackling climate change </li>
<li>enhancing the environment and improving social inclusion</li></ul></li>
<li>TfL has 10 specific business objectives: 
<ul type="circle">
<li>Improve door-to-door journey times and reliability across our transport system </li>
<li>Engage people in the effective use of our system, with high standards of customer care and information </li>
<li>Reduce CO2 emissions from ground transport and improve the energy efficiency of operations </li>
<li>Operate a safe and secure transport system </li>
<li>Deliver value for money </li>
<li>Influence a shift towards more sustainable modes of transport </li>
<li>Support sustainable growth and regeneration </li>
<li>Provide accessible, affordable and inclusive links between communities and the employment, education and other opportunities London offers </li>
<li>Improve the local environment in and around our transport system and enhance the urban realm </li>
<li>Ensure that the movement of freight and services within London is efficient and reliable <br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport Commissioner, Peter Hendy, today announced Transport for London's (TfL's) priorities for the year ahead following agreement of the organisation's 2008/09 budget by the Board of TfL.Better public transport, walking and cycling provisions are";}
        
        


 