


@{ViewBag.Title = "Britain's biggest mobile crane helps build the new East London line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Britain's biggest mobile crane helps build the new East London line</h1>
        <div class="content-page-press-release">
        28 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Saturday 29 March 08:00 - 10:00
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It will also be a vital part of the London 2012 Olympic and Paralympic transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will also be a vital part of the London 2012 Olympic and Paralympic transport network
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>An extraordinary engineering feat is due to take place in the heart of the city this weekend, to help complete a crucial section of Transport for London's (TfL) East London line project.<br></p>
<p>Britain's biggest mobile crane is being brought in to pick up and then gently lower into place a massive 350-tonne bridge over Shoreditch High Street. </p>
<p>The bridge will carry the East London Railway over the busy City thoroughfare, when work to extend the line is complete. </p>
<p>The&nbsp;full operation to secure the bridge in position will last the whole weekend, with the actual lift-and-drop taking place on Saturday morning. </p>
<h2>New stations</h2>
<p>The East London Railway will be part of TfL's London Overground network when it opens in early 2010. </p>
<p>It will run from Dalston Junction in the north to West Croydon in the south, connecting Hackney to the tube network for the first time. </p>
<p>More than &pound;1bn is being invested in the railway, which will transform the transport network connections in east London, and involve the building of brand new stations at Shoreditch High Street, Hoxton, Haggerston and Dalston Junction. </p>
<p>The spectacular bow-string bridge, so-called because it's shaped like a massive archer's bow, was constructed just yards from where it will be manoeuvred into position, and the complex feat of manoeuvring it into place can be followed all weekend on the TfL website, via a webcam link. </p>
<h2>Vital link</h2>
<p>London's Transport Commissioner Peter Hendy said: "We are investing &pound;1bn to extend the East London line. </p>
<p>"When complete, it will become part of our new London Overground network and bring extraordinary regeneration to some of London's communities who need it most.</p>
<p>"It will put communities on the transport network and Tube map which weren't before.</p>
<p>"It will also be a vital part of the London 2012 Olympic and Paralympic transport network.</p>
<h2>Visual wonder</h2>
<p>"The bridge being put in today is a major milestone towards the delivery of this excellent new transport and regeneration link."</p>
<p>TfL project manager Barrie Noble, who is overseeing the bridge construction, said: "I've been in this business a good many years and have led a fair few extraordinary projects, but lifting this bridge in really will be something to behold.</p>
<p>"I can't say how proud I am of the team behind it, both the TfL engineers and the contractors we are using."</p>
<p>Adam Stuart, Construction Director for contractors Balfour Beatty Carillion, said: "We are very pleased to be an integral part of a project that will bring something of a visual wonder to the East End. </p>
<p>"This bridge will be an extraordinary sight, both going in and for many many years once it's in place."</p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors:</strong></p>
<ul>
<li>The biggest mobile crane in the country is being used (1200 tonnes) to lift the Shoreditch High Street bridge </li>
<li>The bow-string bridge weighs 350 tonnes, is 35m long and 11m high </li>
<li>The bridge is of the same design as the Regent's Canal bridge in Haggerston, Hackney which will also carry East London line tracks </li>
<li>The bridge was manufactured at Fairfield Mabey's workshops in Chepstow, and put together near the site where it will carry the East London line over Shoreditch High Street </li>
<li>Once the bridge is positioned, the remaining concrete deck will be installed, along with the tracks for the East London line and associated works </li>
<li>The bridge will be coloured 'Papyrus' white - which is the same as the other bridges the East London line project has renovated on the Kingsland Viaduct </li>
<li>The East London Railway will be part of TfL's London Overground network and is costing &pound;1bn to build </li>
<li>The webcam will start operating just prior to 08:00 on the day of the lift. The link is tfl.gov.uk/bridge </li>
<li>The operation will depend on favourable wind conditions </li>
<li>Shoreditch High Street will be closed in the immediate vicinity of the bridge operation from 04:00 on 29 March until 05:00 on 31 March&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "An extraordinary engineering feat is due to take place in the heart of the city this weekend, to help complete a crucial section of Transport for London's (TfL) East London line project.Britain's biggest mobile crane is being brought in to pick up and";}
        
        


 