


@{ViewBag.Title = "Bus diversions in Thamesmead due to Crossway bridge maintenance";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus diversions in Thamesmead due to Crossway bridge maintenance</h1>
        <div class="content-page-press-release">
        04 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Due to structural maintenance work on bridges along Crossway in Thamesmead, a number of bus routes will need to be diverted.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Residents around Crossway will continue to be served as effectively as possible.
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The works, which are being undertaken by Tilfen Land, a local developer, will take nine months to complete and will affect a number of bus routes.</p>
<p>The first stage of the work will involve the eastern bridge on Crossway being closed for three to four months. </p>
<p>The following diversions will come into effect from Monday 10 March 2008.</p>
<ul>
<li><strong>Routes 177, 229 and N1</strong> will only serve the southern arm of Crossway, turning at the Summerton Way roundabout </li>
<li><strong>Routes 472, 401, 601 and 602</strong> will only serve the northern arm of Crossway, turning at the Watersmeet Way roundabout</li></ul>
<p>Buses are unable to serve the stops located by Manordene Road during this period.</p>
<p>Passengers are advised to check local posters on bus stops for more information on the diversions.</p>
<p>These arrangements ensure that residents around Crossway continue to be served as effectively as possible while maintaining through buses for all other users.</p>
<p>Other parts of the routes are unaffected.</p>
            <p><strong>Notes to Editors</strong></p>
<ul>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users</li>
<li>With over 8000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent since 1999/2000</li>
<li>For more information on the maintenance works along Crossway, contact Tilfen Land at 01322 528580</li>
<li>There will be further disruption to bus services in the area as these works continue. Information about future diversions will be provided nearer the time</li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works, which are being undertaken by Tilfen Land, a local developer, will take nine months to complete and will affect a number of bus routes.The first stage of the work will involve the eastern bridge on Crossway being closed for three to four";}
        
        


 