


@{ViewBag.Title = "Cyclist safety boosted by new campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cyclist safety boosted by new campaign</h1>
        <div class="content-page-press-release">
        11 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        10,000 safety lenses for lorry drivers distributed and new ad campaign launched to help cut collisions between cyclists and goods vehicles
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL is spending a record &pound;49.6m on improving road safety this year"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL is spending a record &pound;49.6m on improving road safety this year
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>As spring arrives and more and more Londoners take to their bikes, Transport for London (TfL) has launched a major new campaign to tackle the biggest cause of cyclist fatalities in the Capital. </p>
<p>Every year, more than half of all cyclist deaths on London's roads follow a collision with a goods vehicle. </p>
<p>To help address this serious road safety issue, TfL is working with haulage companies and cyclists to help make sure that cyclists can be safer and more visible on the Capital's roads.</p>
<h2>Free safety lenses</h2>

<p>This week, TfL have begun distributing 10,000 free safety lenses, known as "Fresnel" lenses, to freight companies operating vehicles in London.</p>
<p>The easy to fit lenses stick on to the passenger window of a truck cab, improving lorry drivers' vision of cyclists who come within close proximity of their vehicles.</p>
<p>This lense is one of the tools of the Freight Operator Recognition Scheme (FORs), which encourages operators to ensure best practice both for driving standards and vehicle&nbsp;safety.</p>
<p>To help cyclists improve their visibility, TfL are giving away environmentally friendly wind-up powered secondary lights, and promoting free or subsidised adult cycle training that is available through many of London's borough councils. </p>
<p>TfL will also be launching a new thought provoking advertising campaign designed to make drivers aware of the needs of cyclists on the road.</p>
<h2>Commitment to safety</h2>

<p>The Mayor of London, Ken Livingstone said:</p>
<p>"Cycling in London is getting much safer, but one safety issue that has been very difficult to address until now is the fact that more than half of cyclist fatalities on the Capital's roads involve a collision with a goods vehicle.</p>
<p>These safety lenses are a simple measure that will help drivers of these vehicles to see cyclists. This will save lives and make cycling safer for both cyclists and lorry drivers. " </p>
<p>David Brown, Managing Director of Surface Transport for Transport for London said:</p>
<p>"Transport for London is committed to improving conditions for all road users in the Capital and is spending a record &pound;49.6m on improving road safety this year.</p>
<p>Our new cycle safety campaign is designed to give both cyclists and goods vehicles drivers the practical tools they need to be safe and be seen on London's roads." </p>
<h2>Simple ideas</h2>
<p>Jenny Jones, the Mayor of London's Road Safety Ambassador, said:</p>

<p>"This is one of those simple ideas which will make a huge difference to Londoners' lives. It is a relatively cheap way for lorry drivers to avoid stress for themselves and death and injury to others. All lorries in London should have these&nbsp;lenses and all drivers should be reminded regularly to use them."</p>
<p>Charlie Lloyd, HGV campaigner at London Cycling Campaign said:</p>
<p>"We urge all freight operators in London to use these lenses which will help drivers see cyclists on their left side and remind them of their responsibility to ensure the safety of all vulnerable road users.</p>
<p>The next step is for the Department for Transport to expedite fitting of EU standard safety mirrors on all large lorries in the UK."</p>
<p>Gordon Telling, from the Freight Transport Association said:</p>
<p>"FTA's view is that a single fatality or serious injury is one too many.&nbsp;Using similar lenses has been highly effective in reducing vehicle collisions on the motorway and we are confident that today's initiative will reduce injuries and fatalities for cyclists.</p>
<p>We are delighted to be supporting the scheme today, and will continue to work closely with partners to eradicate fatal collisions in the future."</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to Editors</strong></p>
<ol type="1">
<li>In 2006, nine of the 19 cyclists who died on London's roads were involved in a collision with a goods vehicle. Provisional data from the Metropolitan Police Service for 2007 indicates that nine out of the 16 cyclists who died on London's roads last year were involved in a collision with a goods vehicle.</li>
<li>The cycle safety campaign is part of TfL's March road safety campaign targeting London's vulnerable road users. It follows a new ad campaign targeting Powered-two-wheelers and is part of a record &pound;49.6m spend tackling road safety issues this year.</li>
<li>TfL's Fresnel lens distribution programme has been produced as part of the Freight Operator Recognition Scheme (FORS) and the Mayor's Share the Road campaign to help reduce the risk of collisions involving cyclists and goods vehicles. Drivers who fit the lens to the passenger side window of their lorries can improve their vision of cyclists within close proximity of their vehicles, helping to avoid collisions.</li>
<li>To apply for a cycle light as part of TfL's free cycle light giveaway,&nbsp;please email <a href="mailto:cyclesafety&#64;tfl.gov.uk">cyclesafety&#64;tfl.gov.uk</a>. (Terms &amp; Conditions apply).</li>
<li>In 2008/09, TfL will fund &pound;3 million in cycle training for Londoners of all ages, through London's borough councils. The TfL funded training sessions are individually tailored to each person's needs and teach them to deal with a wide range of traffic conditions. See TfL's web site for information on cycle training provision - <a href="http://www.tfl.gov.uk/cycletraining">http://www.tfl.gov.uk/cycletraining</a></li>
<li>There has been an 83 per cent increase in cycle journeys on the Capital's major roads since 2000. It is estimated that there are now approximately 480,000 cycle journeys a day across London as a whole.</li>
<li>The number of cyclists killed or seriously injured has fallen by 31 per cent since the mid to late 1990s (compared with the Government baselines figures from the mid to late 1990s).&nbsp;</li>
<li>The Mayor of London has a target of a 50 per cent reduction in the number of cyclists killed or seriously injured on London's roads by 2010. The Mayor's Freight Strategy expects the freight sector to help achieve these targets.</li>
<li>To see the advert go to <a href="http://www.dothetest.co.uk">www.dothetest.co.uk</a> website.</li>
<li>The London Freight Plan is rolling out a Freight Operators Recognition Scheme (FORS) work with operators to ensure best practice both for driving standards and vehicle safety.&nbsp; The aim is to reduce the number of casualties by additional training and employing best practice in safety equipment, (such as retrofitting mirrors and side-guards).</li>
<li>This activity forms part of the Mayor's Share the Road campaign; a mutual respect education and enforcement campaign encouraging a mutual respect between motorists, cyclists and pedestrians in London with the aim of achieving better standards of driving and riding and a greater level of courtesy shown by road users to one another. </li>
<li>For further information on the London Cycle Campaign, contact&nbsp;Charlie Lloyd on 020 7234 9310, or email <a href="mailto:office&#64;lcc.org.uk">office&#64;lcc.org.uk</a><br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As spring arrives and more and more Londoners take to their bikes, Transport for London (TfL) has launched a major new campaign to tackle the biggest cause of cyclist fatalities in the Capital. Every year, more than half of all cyclist deaths on London's";}
        
        


 