


@{ViewBag.Title = "Double Oyster boost to benefit passengers from home and abroad";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Double Oyster boost to benefit passengers from home and abroad</h1>
        <div class="content-page-press-release">
        14 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Local Oyster Ticket Stop numbers hugely expanded. Oyster to be sold on Eurostar Services.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"More Londoners than ever will be able to access better value Oyster fares"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            More Londoners than ever will be able to access better value Oyster fares
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Mayor of London, Ken Livingstone, today announced two new deals to make Oyster more convenient and easier to purchase for both Londoners and international visitors to the Capital. </p>
<p>The Mayor joined Richard Brown, Chief Executive of Eurostar, at St Pancras International station to mark the agreement that will see Visitor Oyster Cards, for the first time, sold on Eurostar services into London from 20 March.&nbsp;</p>
<p>The Mayor also announced that 1,700 new Oyster Ticket Stops will be rolled out in shops across London by June. </p>
<p>This means that Transport for London (TfL)&nbsp;will expand the number of local shops and newsagents that sell Oyster to nearly 4,000, making it easier for Londoners' to buy and top-up their cards. </p>
<h2>Convenient travel</h2>
<p>Visitor Oyster cards sold on Eurostar will make life easier for visitors to London, providing an easier start to their trip, and allowing them to become familiar with London's transport system without the need to purchase tickets on arrival. </p>
<p>Visitors to London will now enjoy the same benefits of faster and more convenient travel that Oyster provides for millions of Londoners.</p>
<p>The Mayor said: "With almost 4,000 Oyster Ticket Stops across the city by June, more Londoners than ever will be able to access better value Oyster fares. </p>
<p>"This is also good news for the extra 1,700 small, local businesses who will get a boost to their income by joining the Oyster Ticket Stop network. </p>
<h2>Cheaper fares</h2>
<p>"Making it easier for Eurostar passengers to buy Visitor Oyster Cards will help European visitors to London enjoy the cheapest and most convenient journeys on London's public transport network when they arrive in the city."</p>
<p>Richard Brown, Chief Executive of Eurostar, said: "Oyster cards are a great way for visitors to London to get around the city.</p>
<p>"Selling them onboard means that visitors can begin exploring London as soon as they arrive at St Pancras international."</p>
<p>Oyster is a huge success with more than 17 million cards issued since its launch in 2003. </p>
<p>The Visitor Oyster Card is a branded card from TfL, pre-loaded with pay as you go and ready to use on the system for passengers as soon as they arrive in central London. </p>
<p>The card costs &pound;12 and includes &pound;10 pay as you go credit that is already pre-loaded. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>An <a href="http://ticketlocator.tfl.gov.uk/postcode-search.asp">online facility</a> is&nbsp;available which allows you to search for the nearest Ticket Stop by typing in your postcode </li>
<li>Oyster cards are currently available at all Tube stations and more than 2,200 Oyster shops </li>
<li>Less than three per cent of single Tube and bus tickets are now bought with cash in London and more than three-quarters of all Tube and bus journeys are made using Oyster </li>
<li>From November 2007, customers have been able to buy and top up Oyster cards at all London Overground rail stations. These were services previously run by Silverlink Metro before they were transferred to TfL </li>
<li>More than 17 million Oyster cards have now been issued and 38 million journeys a week are made each week using Oyster </li>
<li><a href="http://www.tfl.gov.uk/oyster">Oyster</a> is also available online. over the phone via 0845 330 9876 or at Travel Information Centres across London. When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram, the system automatically works out the right fare for the journey within in a fifth of a second </li>
<li>Almost three times as many passengers can pass an Underground ticket gate using Oyster card as can using printed tickets - 40 a minute compared to 15 a minute </li>
<li>The first Visitor Oyster Card partnership was with Visit Britain in August 2006 and in 2007, TfL joined up with other travel partners including Gatwick Express, Visit London, Superbreak and more recently National Express to ensure more and more visitors are able to have access to Oyster before arrival in the Capital </li>
<li>Pre-purchased Oyster cards became available for visitors in September 2006 when a partnership was launched to sell Oyster cards through VisitBritain's overseas offices and on-line shops, so that passengers could purchase Oyster pay as you go before they even arrived in the UK </li>
<li>About <a href="http://www.eurostar.com/">Eurostar</a>:<br>
<ul type="circle">
<li>Eurostar is the high-speed train service linking St Pancras International, Ebbsfleet International, Ashford International, Paris, Brussels, Lille, Calais, Disneyland Resort Paris, Avignon and the French Alps </li>
<li>Eurostar operates 17 daily services form Paris to London and 10 from Brussels to London.&nbsp;In 2007, Eurostar carried 8.26 million travellers </li>
<li>Ebbsfleet International is an alternative gateway to the eastern side of the Capital and is a few minutes' drive from junction 2 of the M25 and has 2,500 parking spaces, taxi and Avis car hire facilities. Eurostar travellers using public transport enjoy free travel on connecting Southeastern train services and Fastrack buses </li>
<li>Independent research has shown that a Eurostar journey to London from Paris/Brussels generates one-tenth of the carbon dioxide produced by an equivalent flight. Under its 'Tread Lightly' initiative, Eurostar has set a target of further reducing its CO2 emissions by 25&nbsp;per cent&nbsp;per traveller journey by 2012 </li>
<li>Eurostar is the world's first train operator to make all journeys carbon neutral </li>
<li>Eurostar and <a href="http://www.friendsoftheearth.co.uk/">Friends of the Earth </a>are working together on Eurostar's Tread Lightly initiative and The Big Ask, Friends of the Earth's climate campaign. Friends of the Earth is advising Eurostar on ways to further reduce its impact on the environment and Eurostar is helping Friends of the Earth to build support for a really strong climate change law </li>
<li>Eurostar is a founder member of Railteam, a partnership between Europe's leading high-speed train operators that is developing simpler ways to book and travel on the fast-expanding, European high-speed rail network </li>
<li>Eurostar and Eurotunnel are entirely separate companies.&nbsp;Eurostar operates high-speed passenger trains, while Eurotunnel operates a vehicle shuttle service between Folkestone and Calais and the Channel tunnel itself. Eurostar is Eurotunnel's biggest customer </li>
<li>To book tickets for Eurostar, or to find out more information, call 08705 186 186 or contact your travel agent<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, today announced two new deals to make Oyster more convenient and easier to purchase for both Londoners and international visitors to the Capital. The Mayor joined Richard Brown, Chief Executive of Eurostar, at St";}
        
        


 