


@{ViewBag.Title = "First Piccadilly line passengers travel to Heathrow Terminal 5 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First Piccadilly line passengers travel to Heathrow Terminal 5 </h1>
        <div class="content-page-press-release">
        27 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first Tube passengers travelled to Heathrow Terminal 5 today using the newly extended Piccadilly line and new T5 station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Customers will now benefit from fast, frequent and reliable services to T5"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Customers will now benefit from fast, frequent and reliable services to T5
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Piccadilly line, which serves all of the airport's terminals, will now also cater for passengers seeking to travel to and from Terminal 5. </p>
<p>The new T5 station, which was delivered on time and on budget, will also be used by Heathrow Express services. </p>
<p>This is the first extension to the Tube network since the Jubilee line was extended to Stratford in 1999.</p>
<p>Peter Hendy, Commissioner for Transport for London (TfL), said: "Customers will now benefit from fast, frequent and reliable services to T5. </p>
<h2>Major upgrade</h2>
<p>"Travelling from central London to T5 by public transport is the sensible and practical choice."</p>
<p>This new Tube service to T5 precedes a major upgrade of the Piccadilly line by Tube Lines which is due to be delivered in 2014. </p>
<p>The upgrade will provide new trains, a new signal control centre and a new line control centre. </p>
<p>Tim O'Toole, Managing Director for London Underground (LU), said: "We are transforming the Tube and delivering work when we say we will. It is a mammoth task that will take a number of years but this is further evidence of our progress and the promise of the future." </p>
<h2>Timely delivery</h2>
<p>Mike Challis, Manager of the Piccadilly line, said: "This new and better service will provide direct journeys for passengers between Heathrow T123 and Heathrow T5, bypassing Heathrow T4. </p>
<p>"Services to T4 will remain the same as they have since we introduced our new timetable in January this year in preparation for this opening."</p>
<p>The successful and timely delivery of the Piccadilly line extension is an excellent example of how LU, Tube Lines, BAA and Heathrow Express have worked together. <br></p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors:</strong></p>
<ul>
<li>Piccadilly line services to Heathrow operate as follows: <br>Central London - T4 (via T4 Loop) - T123 (northern platform) - Central London <br>Central London - T123 (southern platform) - T5 (this service then reverses as follows) <br>T5 - T123 (northern platform) - Central London </li>
<li>The Piccadilly line extension to Heathrow Terminal 5 was wholly funded by Heathrow Airport Ltd, a subsidiary of BAA. The Terminal 5 station will be operated by BAA via the Heathrow Express Operating Company </li>
<li>The construction of both the tunnels and the new junction for the Piccadilly line extension involved close working relationships between several different organisations and contractors, including: 
<ul type="circle">
<li>BAA </li>
<li>London Underground </li>
<li>Balfour Beatty </li>
<li>Mott MacDonald </li>
<li>Morgan Vinci Joint Venture </li>
<li>Tube Lines </li>
<li>Citylink Telecommunications </li>
<li>EDFTwelve trains per hour will operate each day at peak time from central London to the Heathrow branch of the Piccadilly line </li></ul></li>
<li>Heathrow T123 is served by 12 trains per hour to and from central London, however on the outward journey from central London half of these travel via T4 </li>
<li>These services split at Hatton Cross: 
<ul type="circle">
<li>Six trains per hour will travel to Terminal 4, where they will stand for approximately 7 minutes, before returning to Central London via Terminals 123 <br>The remaining 6 trains per hour will run from Hatton Cross to Terminals 123 and then onto Terminal 5. These return from Terminal 5 to Terminals 123 and then direct to Hatton Cross </li></ul></li>
<li>For more information on Terminal 5 go to: <a href="http://www.heathrowairport.com/terminal5">www.heathrowairport.com/terminal5</a> </li>
<li>T5 will provide Heathrow Airport with the capacity for an additional 30 million passengers per annum. Heathrow currently handles 68 million passengers each year. <br>For information about Terminal 5 please contact the Heathrow Airport Press Office on: 020 8745 7224 </li>
<li>The following five new bus routes started serving Terminal 5 from 27 March 2008:<br>&nbsp;<br>Route 350: Hayes and Harlington Station to Terminal 5 via Stockley Park, West Drayton and Harmondsworth<br>Route 423: Hounslow to Terminal 5 via Beavers Farm, Hatton Cross and Bath Road<br>Route 482: Southall to Terminal 5 via Hounslow West, Hatton Cross and Terminal 4<br>Route 490: Richmond to Terminal 5 via Twickenham, Feltham Station, Hatton Cross and Terminal 4<br>Route N9: A night bus will also serve Terminal 5 and Heathrow (Terminals 1,2,3) providing a link every 20 minutes during the night to and from Central London</li></ul>
<p>&nbsp;</p>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube </li>
<li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines </li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines </li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith &amp; City, Metropolitan </li>
<li>Metronet Rail BCV and SSL are now in administration. LU is working closely with the administrators, Ernst &amp; Young, to ensure all necessary maintenance and renewal works continue </li>
<li>London Overground services were launched on 11 November, after TfL took control of services formally operated by Silverlink Metro</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Piccadilly line, which serves all of the airport's terminals, will now also cater for passengers seeking to travel to and from Terminal 5. The new T5 station, which was delivered on time and on budget, will also be used by Heathrow Express services.";}
        
        


 