


@{ViewBag.Title = "Five bus routes to the new Terminal 5";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Five bus routes to the new Terminal 5</h1>
        <div class="content-page-press-release">
        18 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will be running up to 16 buses an hour to serve the new Heathrow Terminal 5.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The routes will operate seven days a week from around 04:00 until 00:30
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The changes to the TfL bus service will be introduced&nbsp;on Saturday 22 March in readiness for the opening of Terminal 5 on 27 March.<br>&nbsp;<br>The buses, which will link areas within Greater London including&nbsp;Southall, Hounslow and Richmond with the new Terminal, will&nbsp;provide both staff and passengers with an easy and cheap travel option to and from the Terminal. <br>&nbsp;<br>The routes, which are being introduced following&nbsp;consultation with&nbsp;key partners and stakeholders, will operate seven days a week from around 04:00 until 00:30.&nbsp; Terminal 5 will have a public transport interchange, provided by&nbsp;airport&nbsp;owner&nbsp;BAA, which will accommodate bus, coach and train services.</p>
<h2>Routes serving Terminal 5</h2>
<p>The following routes will serve Terminal 5 from 22 March 2008:<br>&nbsp;<br><strong>Route 350: </strong>Hayes and Harlington Station to Terminal 5 via Stockley Park, West Drayton and Harmondsworth.<br><strong>Route 423:</strong> Hounslow to Terminal 5 via Beavers Farm, Hatton Cross and Bath Road.&nbsp; <br><strong>Route 482:</strong> Southall to Terminal 5 via Hounslow West, Hatton Cross and Terminal 4.<br><strong>Route 490: </strong>Richmond to Terminal 5 via Twickenham, Feltham Station, Hatton Cross and Terminal 4.<br>&nbsp;<br>The N9 night bus will also serve Terminal 5 from Heathrow Central (Terminals 1,2,3), providing a link every 20 minutes during the night from central London.&nbsp; <br>&nbsp;<br>Routes 105, 111, 140, 285,&nbsp;A10, U3 and X26 will continue to serve Heathrow Central&nbsp;(Terminals 1,2,3), and routes 482 and 490 will&nbsp;serve Heathrow Terminal 4.&nbsp;&nbsp;<br>&nbsp;<br>The&nbsp;Piccadilly Line and BAA's&nbsp;Heathrow Express rail service will&nbsp;connect Terminal 5 and Heathrow Central (Terminals 1,2,3).</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to Editors</strong></p>
<ul>
<li>New routes&nbsp;350, 423 and 482&nbsp;replace parts of routes H50, H23 and 435, which will no longer run</li>
<li>In total,&nbsp;TfL&nbsp;will have twelve bus services connecting Heathrow Airport to&nbsp;areas of Greater London </li>
<li>As well as London Bus&nbsp;Services, local bus services from&nbsp;outside London including&nbsp;Slough, Staines,&nbsp;Windsor and&nbsp;Watford&nbsp;will also serve&nbsp;Terminal&nbsp;5 throughout the day.&nbsp; Local bus services from outside London will continue to service Heathrow Central (Terminals 1,2,3) and Terminal 4 </li>
<li>London Underground&nbsp;Piccadilly Line&nbsp;services&nbsp;to&nbsp;Terminal&nbsp;5 will commence on 27 March 2008</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The changes to the TfL bus service will be introduced&nbsp;on Saturday 22 March in readiness for the opening of Terminal 5 on 27 March.&nbsp;The buses, which will link areas within Greater London including&nbsp;Southall, Hounslow and Richmond with the new";}
        
        


 