


@{ViewBag.Title = "Games transport legacy put in place as Mayor unveils new Docklands Light Railway carriages ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Games transport legacy put in place as Mayor unveils new Docklands Light Railway carriages </h1>
        <div class="content-page-press-release">
        13 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone, has given the Capital its first glimpse of an improved Docklands Light Railway (DLR) service that will form a central part of the transport infrastructure for the London 2012 Olympic Games and Paralympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"They're modern, they're spacious and they demonstrate once again our commitment to delivering a world-class transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            They're modern, they're spacious and they demonstrate once again our commitment to delivering a world-class transport network
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Mayor today unveiled the first of 55 new Docklands Light Railway (DLR) carriages that will boost the capacity of the railway and provide extra space and comfort for passengers.&nbsp; </p>
<p>The Mayor was joined by John Armitt, Chairman of the Olympic Delivery Authority, and Dean Macey, Commonwealth Gold medal winning decathlete and Beijing Olympic Games medal contender.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>The Olympic Delivery Authority and Transport for London have invested &pound;100m in the new carriages which will deliver a 50 per cent capacity increase by 2010 and will continue to drive regeneration of east London and the wider Thames Gateway. </p>
<h2>Increased capacity</h2>
<p>The DLR will play a key part in transporting the millions of spectators expected to attend the London 2012 Olympic Games and Paralympic Games, connecting them to the events that will be held at ExCel, Greenwich Peninsula, Maritime Greenwich and the Royal Artillery Barracks in Woolwich.</p>
<p>The Mayor of London, Ken Livingstone, said: "Delivery of these new trains is great news for passengers today, and for the passengers of the future.&nbsp; </p>
<p>"They're modern, they're spacious and they demonstrate once again our commitment to delivering a world-class transport network on time and on budget that will serve the 2012 Games and provide a much improved service for Londoners."</p>
<p>The increase in capacity will also allow the railway to keep pace with increasing passenger numbers, which currently stand at 65 million per year, but are expected to rise to 100 million per year by 2012.&nbsp; </p>
<h2>Essential</h2>
<p>At first passengers will see the new carriages, which boast a sleeker design and increased window space, running alongside the existing two carriage trains.&nbsp;</p>
<p>But they will begin to form three carriage trains when platform extensions have been completed.&nbsp; </p>
<p>The first platform extensions are already being made to the Bank-Lewisham branch, which will be completed by 2010.</p>
<p>John Armitt, Chair of the Olympic Delivery Authority, said: "Transport is a crucial element to London 2012, and the Docklands Light Railway will be essential in moving hundreds of thousands of people to and from the Olympic Park during the Games.&nbsp;</p>
<h2>On track</h2>
<p>"Transport for London has proved again that it is on track to deliver the necessary transport improvements to make the summer of 2012 run efficiently and effectively."</p>
<p>During the 2012 Games, the DLR will serve the main Olympic Park at Stratford, as well as competition venues at Woolwich, Greenwich and ExCeL exhibition centre.&nbsp; </p>
<p>The rail carriages will operate along the existing DLR network, as well as new routes to Woolwich Arsenal and Stratford International.&nbsp;</p>
<p>Delivery of the carriages will continue to take place until next year.&nbsp;</p>
<p>After testing has finished, the first vehicles will be operational this spring, with the remainder introduced into service up to the end of 2009.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>The &pound;211m Stratford International extension is set to open in 2010. Encompassing existing stations at Canning Town, West Ham and Stratford, and new stations at Star Lane, Abbey Road, Stratford High Street and Stratford International, the route will improve public transport accessibility for the surrounding area and act as a key transportation link during 2012 </li>
<li>The 1.8km Woolwich Arsenal extension will link Woolwich, on the south of the river, with DLR King George V station, in North Woolwich. Due to open on 28 February 2009, the &pound;180m line will provide a direct link from Woolwich to central London (Bank station) in under half an hour, London City Airport in five minutes, Canary Wharf in 19 minutes and Stratford in 20 minutes. In peak periods, trains could run every four minutes </li>
<li>DLR trains are being lengthened to safely and comfortably accommodate growing passenger numbers, and maintain a frequent and reliable service. A three-carriage service will start running from 2010</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor today unveiled the first of 55 new Docklands Light Railway (DLR) carriages that will boost the capacity of the railway and provide extra space and comfort for passengers.&nbsp; The Mayor was joined by John Armitt, Chairman of the Olympic";}
        
        


 