


@{ViewBag.Title = "Hello, yes I'm on the bus!";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hello, yes I'm on the bus!</h1>
        <div class="content-page-press-release">
        10 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mobile phone chat tops the list of public transport inconsiderate behaviour.
        
    </div>



 <div class="on-this-page">
<p>
<p>Speaking loudly on a mobile phone is the most&nbsp;commonly witnessed&nbsp;type of inconsiderate behaviour on public transport according to new research conducted by Transport for London (TfL).<br>&nbsp;<br>This was closely followed by loud noise from passengers' headphones and passengers taking up more than one seat or leaving bags on seats. &nbsp;</p>
<p>The survey also found that the majority of passengers behave inconsiderately without meaning to.&nbsp; <br>&nbsp;<br>The research coincides with a TfL campaign to encourage people to 'Consider your fellow passengers'. </p>
<p>The aim of the campaign is to address everyday, irritating behaviour that can affect the experience of travelling on public transport and encourage people to take more responsibility for their own behaviour.&nbsp;&nbsp;&nbsp;</p>
<h2>Considerate actions</h2>
<p>While two in three people believe that inconsiderate behaviours are unacceptable, most people admitted to having been inconsiderate themselves - the most common action&nbsp;being taking up more than one seat.<br>&nbsp;<br>Men were perceived as most likely to be responsible for behaviour such as speaking loudly on a mobile phone and eating hot food, whereas women were seen as being responsible for taking up more than one seat with bags.<br>&nbsp;<br>The vast majority of people surveyed agree that all Londoners have a part to play in making the travel experience better.<br>&nbsp;<br>Although the survey showed a high level of awareness of inconsiderate behaviour in others, it also showed that people believe it is something that only other people do. <br>&nbsp;<br>Considerate actions people claim to have carried out involve offering seats, being thoughtful and making a conscious decision not to leave litter.<br>&nbsp;<br>TfL recently launched their Considerate Travel campaign,&nbsp;encouraging passengers to consider their fellow passengers when using public transport. </p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp; <br><strong>Top most witnessed inconsiderate behaviours</strong> <br></td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Speaking loudly on a mobile phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td>&nbsp;94%</td></tr>
<tr>
<td>&nbsp;Listening to music through headphones loud enough that others can hear it&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td>&nbsp;93%</td></tr>
<tr>
<td>&nbsp;Taking up more than one seat&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td>&nbsp;88%</td></tr>
<tr>
<td>&nbsp;Eating hot food</td>
<td>&nbsp;86%</td></tr>
<tr>
<td>&nbsp;Pushing/shoving to get on/off vehicle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td>&nbsp;82%</td></tr></tbody></table></div><br></p>
<p>Some passengers admit to committing inconsiderate behaviour themselves </p>
<p>&nbsp;</p>
<blockquote>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Top inconsiderate behaviours people admit to committing</strong></td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Taking up more than one seat or leaving bags on seats&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td>&nbsp;41%</td></tr>
<tr>
<td>&nbsp;Eating hot food&nbsp; </td>
<td>&nbsp;40%</td></tr>
<tr>
<td>&nbsp;Pushing/shoving to get on/off vehicle</td>
<td>&nbsp;26%</td></tr>
<tr>
<td>&nbsp;Speaking loudly on a mobile phone</td>
<td>&nbsp;25%</td></tr></tbody></table></div></blockquote>
<p>&nbsp;</p>
<p>The average person carried out 9 types of considerate behaviour in the last three months (November 2007 - January 2008)<br></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Top considerate behaviours&nbsp; people claim to carry out</strong></td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;Make room for another person/people to sit down&nbsp; </td>
<td>&nbsp;93%</td></tr>
<tr>
<td>&nbsp;Generally been more thoughtful of the people around me&nbsp;&nbsp; </td>
<td>&nbsp;84%</td></tr>
<tr>
<td>&nbsp;Given up a seat for a person more needy than myself</td>
<td>&nbsp;80%</td></tr>
<tr>
<td>&nbsp;Made a conscious decision not to leave litter</td>
<td>&nbsp;80%</td></tr>
<tr>
<td>&nbsp;Speak more quietly on my mobile phone</td>
<td>&nbsp;76%</td></tr></tbody></table></div></p>
<p>&nbsp;</p>
<p>Considerate travel posters have been placed across the transport network featuring 'The Londoners', a group of&nbsp; animated characters each sporting a t-shirt with an individual slogan pledging to behave in a considerate way.<br>&nbsp;<br>The pledges are as diverse as the characters themselves, ranging from 'I will offer my seat to the lady' to 'I will not play my music out loud' and 'I will try to remember what it is like to be 14 again'.&nbsp;<br>&nbsp;<br>Ken Livingstone, Mayor of London, said: "Public transport is for all Londoners and a little thought from each of us will make a big difference to everyone using our transport system.&nbsp;&nbsp;&nbsp;</p>
<p>"We all share London's buses and Tube, so a little thought for one another can make all of our journeys more pleasant and less stressful." </p>
<h2>Responsibility</h2>
<p>David Brown, Managing Director of Surface Transport for TfL, said: "The results of this survey are fascinating. </p>
<p>"It shows that the majority of people recognise that being inconsiderate affects their journeys, but are not necessarily aware when they carry these out themselves.&nbsp;<br>&nbsp;<br>"The Considerate Travel campaign aims to encourage us all to recognise those behaviours and to think about the people around us before we act. </p>
<p>"If we all take responsibility for our own actions, it can make a real difference to life in the Capital."<br>&nbsp;<br></p>
<p>
<hr>
<br><strong>&nbsp;<br>Notes to editors:</strong> 
<p>
<ul>
<li>Survey 'Considerate Travel February 2008' was carried out by Research International on behalf of TfL </li>
<li>Fieldwork conducted from 14 January 2008 to 25 January 2008 with 700 people surveyed </li>
<li>The Considerate Travel campaign, also known as <a href="http://www.tfl.gov.uk/togetherforlondon">'Together for London'</a>, features posters placed on buses, in Underground stations and billboards across the Capital </li>
<li>The accompanying cinema advert, shot by Oscar-nominated director Mike Figgis, can be seen on <a href="http://www.youtube.com/watch?v=WTTiR5yICGQ">You Tube</a> <br><br></li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Speaking loudly on a mobile phone is the most&nbsp;commonly witnessed&nbsp;type of inconsiderate behaviour on public transport according to new research conducted by Transport for London (TfL).&nbsp;This was closely followed by loud noise from passengers'";}
        
        


 