


@{ViewBag.Title = "Lifting the lid on what lurks in Londoners' boots";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lifting the lid on what lurks in Londoners' boots</h1>
        <div class="content-page-press-release">
        07 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New research, released today as part of Transport for London's Smarter Driving campaign, reveals that although around half of Londoners buff their bonnets at least once a month, many seem to have forgotten that it's what's inside that really counts.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A few simple changes to your driving style and you'll be counting the savings - to the environment and your pocket
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>More than one in four male drivers and almost a third of female drivers surveyed in the capital admitted to clearing out their boot just twice a year or less.</p>
<p>Top 10 strangest items lurking in Londoners' boots and carried around in cars, uncovered by TfL's research:</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Object</td>
<td>&nbsp;Found in </td></tr>
<tr>
<td>&nbsp;A rock that looks like Bruce Forsyth</td>
<td>&nbsp;South East London</td></tr>
<tr>
<td>&nbsp;Hundreds of unmatched socks</td>
<td>&nbsp;West London </td></tr>
<tr>
<td>&nbsp;A sack full of used postcards</td>
<td>&nbsp;North London</td></tr>
<tr>
<td>&nbsp;30 chickens</td>
<td>&nbsp;North London</td></tr>
<tr>
<td>&nbsp;'Re-sus' Annie Doll for first aid training</td>
<td>&nbsp;West London</td></tr>
<tr>
<td>&nbsp;Life-sized cardboard Princess Diana</td>
<td>&nbsp;East London</td></tr>
<tr>
<td>&nbsp;Bucket full of live eels</td>
<td>&nbsp;North London</td></tr>
<tr>
<td>&nbsp;Skeleton</td>
<td>&nbsp;West &amp; South West London</td></tr>
<tr>
<td>&nbsp;Bee hive full of bees</td>
<td>&nbsp;South West London</td></tr>
<tr>
<td>&nbsp;Gallows &amp; seven nooses (for a magic show)</td>
<td>&nbsp;East London</td></tr></tbody></table></div></p>
<p>An array of around thirty different kinds of animals featured amongst the strange items that London drivers had chauffeured around in their car, ranging from the tiny (locusts and hamsters) to the exotic (snakes and parrots), and from the rural (goats and sheep) to the domestic (cats and dogs).</p>

<h2>Clear out your boot</h2>Ben Plowden, Programme Director, Smarter Travel Unit, Transport for London, said:
<p>"Cars are the third biggest contributor to an individual's carbon emissions and carrying unnecessary items in your boot increases fuel consumption. All it takes is a spot of spring cleaning and a few simple changes to your driving style and you'll soon be counting up the savings - to the environment and your own pocket."<br>&nbsp;<br>Clearing out your boot is one of the top tips that TfL is promoting through its Smarter Driving campaign.</p>
<p>Adopting these tips can help Londoners to reduce their fuel consumption by 8.5 per cent and shave &pound;120 off their annual fuel costs.</p>
<h2>Driving C02 emissions down</h2>

<p>If all drivers in London drove smarter, TfL has estimated that this could drive down the Capital's C02 emissions by half a million tonnes a year.</p>
<p>TfL's other Smarter Driving tips include:</p>
<ul>
<li>Keep tyres inflated to the right pressure - for every 10 per cent your tyres are under-inflated, fuel consumption increases by around 1 per cent. The Highway Code recommends checking weekly that tyres are at the recommended pressure as stated in the owner's handbook </li>
<li>Speed up and slow down smoothly - a typical car requires only around 10 per cent of its power to drive at a steady 30mph. The remaining 90 per cent is only used during hard acceleration or at very high speeds. Read the road ahead as far as possible and avoid unnecessary braking and accelerating </li>
<li>Change gear at low revs - keep an eye on the rev counter and shift up between 2,000 and 2,500 rpm. This can also help reduce noise pollution - research has shown that the engine noise of one car driving with 4,000 rpm is the same as 32 cars at 2,000 rpm. </li>
<li>Don't leave your engine running to warm it up - idling to heat the engine wastes fuel </li>
<li>Limit the number of short car journeys you make -Repeated short trips don't give the engine enough time to warm up and therefore more fuel is used. A cold engine uses almost twice as much fuel and catalytic converters can take 6 miles to become effective. Try to combine short journeys or consider walking and cycling instead</li></ul>
<p>An experiment carried out by Millbrook, one of the world's leading vehicle testing organisations, to launch the campaign, found that adopting these Smarter Driving techniques can add-up to significant savings, with average savings of 26 per cent demonstrated on a circuit designed to replicate real-life driving conditions in London.</p>
<p>Visit <a href="http://www.tfl.gov.uk/smarterdriving">www.tfl.gov.uk/smarterdriving</a> for more information.</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ol type="1">
<li>Transport for London's Smarter Driving campaign launched on Monday 25th February and features advertising on posters, petrol pumps and radio as well as a dedicated campaign website </li>
<li>Copies of the adverts are available on request from the TfL press office </li>
<li>The 'Smarter Driving' campaign is part of the Mayor of London's Climate Change Action Plan that aims to cut the city's carbon emissions by 60 per cent by 2025</li></ol>
<p>For a fact sheet or more information about Transport for London's Smarter Driving campaign or to arrange an interview with a spokesperson call Carolyn Abbasi Larkey at Fishburn Hedges on 020 7544 3109 or email <a href="mailto:Carolyn.abbasilarkey&#64;fishburn-hedges.co.uk">Carolyn.abbasilarkey&#64;fishburn-hedges.co.uk</a></p>
<p>For all other media enquiries concerning Transport for London call the press office on 0845 604 4141. <br>&nbsp;<br>* Research conducted by ICM as an online poll of 1,000 London drivers, with fieldwork from 13 to 17 February 2008. Boroughs grouped to form regions:<br>&nbsp;<br>North:&nbsp;Barnet, Camden, Enfield, Haringey, Islington<br><br>East:&nbsp;Barking &amp; Dagenham, City of London, Hackney, Havering, Newham, Redbridge, Tower Hamlets, Waltham Forest<br><br>SE:&nbsp;Bexley, Bromley, Croydon, Greenwich, Lewisham, Southwark<br><br>SW:&nbsp;Kingston upon Thames, Lambeth, Merton, Richmond upon Thames, Sutton, Wandsworth<br><br>West:&nbsp;Brent, City of Westminster, Ealing, Hammersmith &amp; Fulham, Harrow, Hillingdon, Hounslow, Kensington &amp; Chelsea<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than one in four male drivers and almost a third of female drivers surveyed in the capital admitted to clearing out their boot just twice a year or less.Top 10 strangest items lurking in Londoners' boots and carried around in cars, uncovered by TfL's";}
        
        


 