


@{ViewBag.Title = "London Underground brands strike action unnecessary";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground brands strike action unnecessary</h1>
        <div class="content-page-press-release">
        28 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Safety claims unfounded, no jobs at risk
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There is simply no reason for a strike, or even the threat of one, as all of the issues being raised can be resolved"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Deputy Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<h2>Response to RMT/TSSA strike </h2>
<p>Howard Collins, Deputy Chief Operating Officer, said:</p>
<div class="pullquote right">
<p>There is simply no reason for a strike, or even the threat of one, as all of the issues being raised can be resolved 

<p></div>
<p>"These issues have nothing whatsoever to do with safety, and not a single job is at risk. </p>
<p>"All of the issues raised by the RMT are already being addressed through the normal negotiating process. </p>
<p>"Significant progress has already been made and most of the issues have been agreed. The RMT's announcement does not mention the progress that has already been made.<br>&nbsp;<br>"There is simply no reason for a strike, or even the threat of one, as all of the issues being raised can be resolved.</p>
<p>"A strike by the RMT would lose staff pay and inconvenience the travelling public to no purpose whatsoever. It is entirely unnecessary and we should get on with sorting out these issues through the normal negotiating process."</p>
<p>
<hr>
<br>
<p>
<div></div>
<div></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Response to RMT/TSSA strike Howard Collins, Deputy Chief Operating Officer, said:'These issues have nothing whatsoever to do with safety, and not a single job is at risk. 'All of the issues raised by the RMT are already being addressed through the normal";}
        
        


 