


@{ViewBag.Title = "Mark Wallinger: Going Underground ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mark Wallinger: Going Underground </h1>
        <div class="content-page-press-release">
        12 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New artwork for pocket Tube map cover by Mark Wallinger
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're really excited to be working with Mark - his work for the cover of the pocket Tube map is the latest created by a long and distinguished line of world-class artists"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tamsin Dillon</div>
            <div class="quotee-job-title">the Director of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're really excited to be working with Mark - his work for the cover of the pocket Tube map is the latest created by a long and distinguished line of world-class artists
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Turner Prize winning artist Mark Wallinger has been commissioned to create the latest artwork for the cover of London Underground's (LU's) pocket Tube map.</p>
<p>It is available for free at stations from today.</p>
<p>Artwork produced by Mark Wallinger uses historical symbols and challenges people's understanding of them by placing them in a different context. </p>
<p>His cover of the pocket Tube map is called 'Going Underground' and it uses the Royal Air Force 'roundel' of red, white and blue concentric circles. </p>
<p>His inspiration came from the ties between the RAF and LU during the Second World War when Tube stations were used as bomb shelters during the Blitz. </p>
<h2>Social commentary</h2>
<p>The artwork is the latest to be commissioned by&nbsp;LU's art programme, Art on the Underground, which aims to produce a series of world class temporary and permanent art works across the network. </p>
<p>Going Underground continues Wallinger's particular form of social commentary, which has previously focused on class, royalty and nationalism. </p>
<p>His early paintings and later sculptural works have aimed to explore our understanding of the meaning of England and its national identity. </p>
<p>He uses the symbols and myths of England to ask what they really mean for the contemporary world.&nbsp;&nbsp; </p>
<h2>Inspiring</h2>
<p>Tamsin Dillon, the Director of Art on the Underground, said: "We're really excited to be working with Mark - his work for the cover of the pocket Tube map is the latest created by a long and distinguished line of world-class artists.</p>
<p>"We hope that it will be equally inspiring to our passengers and encourage them see to see their journeys from a new perspective."</p>
<p>Mark Wallinger said: "The work came together because the roundels for the two organisations - RAF and LU - link together both formally and historically.</p>
<p>"The design and the colours rhyme and I was thinking about how the Underground became a vast bomb shelter during the Blitz and the hope that the RAF represented in the skies above. </p>
<p>"In the 60s, the RAF roundel was used by the Mods, then revived a decade or so later by bands like The Jam - it seems very much a London phenomenon."</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>An image is available on request from&nbsp;Lucy Wilson or Leo Wood at Theresa Simon &amp; Partners/ Email: <a href="mailto:lucy&#64;theresasimon.com">lucy&#64;theresasimon.com</a>&nbsp;Direct line: 020 7734 4800 </li>
<li>The pocket Tube map cover art works are owned outright by London Underground and form the basis of a permanent collection of unique works by world class artists, including Cornelia Parker, David Shrigley, Liam Gillick and Jeremy Deller.&nbsp; They are becoming recognised as collectors' items as the portfolio grows. Available for free from stations across the network, the map has one of the largest print runs for any organisation in Europe, with over five million printed per design and almost 15 million per year </li>
<li>Mark Wallinger often works with symbolic or mythological objects, figures and imagery (a race horse, the Tardis, the Union Jack) that are loaded with meaning specific to this country and its cultural traditions and popular icons. He has become famous for his works that are located in specific places, including Ecce Homo, a life-size depiction of Christ placed on Trafalgar Square's famous Fourth Plinth, and his recent exhibition at Tate Britain where he recreated political protester Brian Haw's placards and banners for Parliament Square within the gallery </li>
<li>The RAF Roundel is reproduced under licence from the MOD </li>
<li>Mark Wallinger's work is the latest on display across the Tube network. Other innovative works that have appeared as part of the Art on the Underground programme include a poster giveaway where 125,000 artworks were distributed at key stations, limited-edition Oyster wallets, an entire Piccadilly line Tube wrapped in an art work and the transformation of the disused platform space at Gloucester Road into a stunning gallery space. &nbsp; With up to 3.4 million passengers using the network on a weekday, projects will be exposed to one of the biggest contemporary art audiences in Europe </li>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks in unexpected places on the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks </li>
<li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/pfa">www.tfl.gov.uk/pfa</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Turner Prize winning artist Mark Wallinger has been commissioned to create the latest artwork for the cover of London Underground's (LU's) pocket Tube map.It is available for free at stations from today.Artwork produced by Mark Wallinger uses";}
        
        


 