


@{ViewBag.Title = "Mayor launches priority seating for pregnant women on Tube ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches priority seating for pregnant women on Tube </h1>
        <div class="content-page-press-release">
        06 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<p>
<p>Passengers are being encouraged to give up seats for pregnant women and disabled passengers.</p>
<p>Mayor of London, Ken Livingstone, today unveiled new Tube signs aimed at encouraging Tube users to consider their fellow passengers and to think about who might need a seat most on the Underground.</p>
<p>New priority seating stickers will be rolled out throughout the Underground from March 10 now ask passengers to give up their seat for pregnant women, as well as people with disabilities or less able to stand. </p>
<p>This is the first time that pregnant women have been included in the signs.</p>
<h2>Fellow travellers </h2>

<p>The Mayor visited London Underground today ahead of this weekend's capital woman conference, where he was joined by Tube staff to see the first of the new stickers being applied to a train at High Street Kensington. </p>
<p>The Mayor said: "These signs ask all passengers to give pregnant women the respect to which they are entitled by offering them a seat. </p>
<p>"I am asking all passengers pay attention to their fellow travellers and make sure that pregnant women are offered a seat."</p>
<p>London Underground research has found that a third of pregnant women travelling on the Tube are never offered a seat, and that expectant mothers can wait for an average of five stops to be offered a seat.</p>
<h2>Reduce stress</h2>
<p>&nbsp;Louise Silverton, deputy general secretary of the Royal College of Midwives, said: "We welcome this new campaign for priority seating stickers, which now includes pregnant women. </p>

<p>"By encouraging passengers to give up their seats for pregnant women, the campaign will reduce stress and anxiety levels for pregnant women travelling on public transport."</p>
<p>Angela Back, General Manager of the Metropolitan line, said: "Many pregnant women are often reluctant to ask someone to give up their seat, particularly in the early stages of pregnancy. </p>
<p>"The aim is to help make it easier for pregnant women to get a seat on the Tube at a time when they need it without the embarrassment of needing to ask someone to give up their seat. </p>
<h2>Security</h2>

<p>"The onus is now on customers to keep an eye out for anyone in their carriage who might have a greater need for a seat."</p>
<p>Meeting the needs of pregnant women is not just about providing priority seating on the Tube. Safety and security has been identified by female passengers as a key issue and this is backed up by London Underground customer surveys with passenger safety and security consistently receiving one of the highest ratings, with a customer rating of 81 out of 100. </p>
<p>Survey results from 2007 show that a fifth of Londoners feel that safety on London Underground improved during the last year.</p>
<p>
<hr>

<p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors</strong><br><strong><p>
<ul>
<li></li></ul></strong>The new design stickers follow on from London Underground's Baby On Board campaign, which saw thousands of badges given away to expectant mums so that other passengers could identify pregnant women 
<li>London Underground is committed to fully meet its obligations under the Disability Discrimination Act 2005. Most lines will have compliant new trains well before 2020 according to current Investment Programme timescales and the remaining trains are due to be modified to comply also. Currently 48 stations are step-free and this will increase to 68 stations, 25 per cent of the LU network by 2010 </li>
<li>As new trains enter into service there will be clearly denoted priority seating areas </li>
<li>The Royal College of Midwives (RCM) aims to promote and advance the profession of the midwife. The RCM represents over 95 per cent&nbsp;of the UK's midwives and is one of the world's oldest and one of the largest midwifery organisations, and celebrated its 125th anniversary in 2006. It is also a trade union. For more information visit the <a href="http://www.rcm.org.uk/">RCM website </a>. For more information contact the RCM Press Office on 020 7312 3432 or email: <a href="mailto:pressofficer&#64;rcm.org.uk">pressofficer&#64;rcm.org.uk</a><br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers are being encouraged to give up seats for pregnant women and disabled passengers.Mayor of London, Ken Livingstone, today unveiled new Tube signs aimed at encouraging Tube users to consider their fellow passengers and to think about who might";}
        
        


 