


@{ViewBag.Title = "Mayor rejects Porsche's demand to scrap gas guzzlers CO2 Charge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor rejects Porsche's demand to scrap gas guzzlers CO2 Charge</h1>
        <div class="content-page-press-release">
        11 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor and TfL prepared to fight Porsche in courts
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Porsche should focus on cutting CO2 emissions from their cars rather than pursuing pointless legal action"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Porsche should focus on cutting CO2 emissions from their cars rather than pursuing pointless legal action
                            
                        </p>
                    </div>
                
            
            
            <p>Mayor of London, Ken Livingstone and Transport for London (TfL) today rejected a demand by luxury and sports car manufacturer Porsche to scrap plans for a higher &pound;25 Congestion Charge for the very highest CO2 emitting cars, including many of the so-called Chelsea Tractors, the most powerful sports cars and some luxury executive cars, as part of the Capital's plans to tackle climate change and cut congestion.</p>
<p>Porsche demanded the Mayor scrap plans for the higher &pound;25 charge, or they would seek a judicial review for the decision to be overturned by the courts.</p>
<p>In a letter sent today (March 10) to Porsche setting out why their objections are unfounded, the Mayor and TfL made clear that:</p>
<ul>
<li>The CO2 Charge is about reducing CO2 emissions from cars driving in central London, whilst reducing congestion, as part of the Mayor's Transport Strategy and Climate Change Action Plan </li>
<li>It is quite clear motorists have the choice not to drive a high CO2 emitting, car in central London, given the wide range of lower emitting cars available.&nbsp; </li>
<li>Along with the higher &pound;25 charge for the cars emitting the most CO2, there will be a 100 per cent&nbsp;discount for the least emitting.</li></ul>
<h2>Pointless legal action</h2>
<p>The Mayor of London, Ken Livingstone, said:</p>
<p>"Porsche have a clear vested interest in attempting to block this ground breaking scheme, against the interests of Londoners as a whole.&nbsp;</p>
<p>They should focus their attentions on cutting CO2 emissions from the cars they produce, rather than pursuing this pointless legal action which we will vigorously contest.&nbsp;</p>
<p>We have already seen several motor manufacturers rise to the challenge of cutting CO2 emissions from their cars and Porsche should join them.</p>
<p>"While the purpose of the CO2 Charge is not to raise revenue, we anticipate it will also raise around &pound;30-50 million in revenue each year to begin with.</p>
<p>This money will be reinvested in transport improvements across the capital, including my plans to improve facilities for people walking and cycling in London."</p>
<h2>London better with the Congestion Charge</h2>
<p>
<div class="pullquote right">
<p>The principal aim of the scheme remains tackling congestion. Central London would be far worse without it&nbsp;
<div class="cite">Mich&egrave;le Dix, Managing Director of Planning</div>
<p></div>
<p>Mich&egrave;le Dix, Managing Director of Planning, TfL, said:</p>
<p>"The Congestion Charge scheme has been a success at cutting congestion and traffic, with around 70,000 less vehicles a day entering the original central zone.</p>
<p>Without it congestion in central London would be far worse.</p>
<p>"The principal aim of the scheme remains tackling congestion.&nbsp;</p>
<p>The aim of the CO2 Charge element and discount of the scheme is to cut CO2 emissions by reducing the number of very high emitting cars driving in central London, influencing people's car purchasing choices and by stimulating the market for low emissions cars. </p>
<p>"At the moment, 17 per cent of cars driving in the charge zone are in Band G, while just 2 per cent are in Band's A and B.</p>
<p>We expect to see the number of Band G cars cut significantly over time."</p>
<h2>About the CO2 Charge</h2>
<p>In the letter sent to Porsche today, the Mayor and TfL made clear that:</p>
<ul>
<li>The Mayor will go ahead with the introduction of the CO2 Charge </li>
<li>The scheme is legal: 
<ul type="circle">
<li>The Mayor has the authority to introduce the CO2 Charge </li>
<li>The scheme will not breach European Law - the scheme affects UK and non-UK vehicles alike </li>
<li>The scheme does not infringe on the European Convention on Human Rights as claimed by Porsche</li></ul></li>
<li>TfL will monitor congestion: 
<ul type="circle">
<li>With 17 per cent of cars currently in the charge zone in Band G and just 2 per cent in Bands A and B the scheme will have a broadly neutral impact on congestion in the short term </li>
<li>However, TfL will monitor the scheme closely to ensure that the benefits of reduced congestion are maintained</li></ul></li>
<li>The scheme is proportionate: 
<ul type="circle">
<li>The residents discount will be removed for Band G vehicles as there is no need to drive one of these cars in central London whether you are a resident or not </li>
<li>The use of Band G as a cut off point for the higher charge is reasonable as these are the highest CO2 emitting cars</li></ul></li>
<li>The CO2 Charge and discount aims to cut CO2 by reducing the number of very high CO2 emitting cars driven in central London, influencing behaviour and stimulating the market for low CO2 cars</li></ul>
<p>
<hr>

            <p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>The Mayor and TfL's lawyers today responded to Slaughter &amp; May, who are acting on behalf of Porsche.&nbsp; The letter is available from the TfL Press Office </li>
<li><a href="http://www.tfl.gov.uk/roadusers/congestioncharging/6722.aspx#4">TfL's Report to the Mayor on the CO2 Charge</a></li>
<li>The Mayor's Decision Statement on the CO2 Charge is also available on the GLA website at: <a href="http://www.london.gov.uk/mayor/congest/docs/decision-statement02-2008.pdf">http://www.london.gov.uk/mayor/congest/docs/decision-statement02-2008.pdf</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Ken Livingstone and Transport for London (TfL) today rejected a demand by luxury and sports car manufacturer Porsche to scrap plans for a higher &pound;25 Congestion Charge for the very highest CO2 emitting cars, including many of the";}
        
        


 