


@{ViewBag.Title = "New bus route 415 for Lambeth";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New bus route 415 for Lambeth</h1>
        <div class="content-page-press-release">
        04 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following consultation with key stakeholders, Transport for London will be introducing new bus route 415 between Tulse Hill and Elephant & Castle via Brixton, from Saturday 8 March 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"New route 415 and the changes to route 333 will provide extra capacity on the very busy Tulse Hill routes"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            New route 415 and the changes to route 333 will provide extra capacity on the very busy Tulse Hill routes
                            
                        </p>
                    </div>
                
            
            
            <p>Route 415 will&nbsp;use&nbsp;double-decker buses&nbsp;and&nbsp;will run every 12 minutes (every 20 minutes in the evening and on Sundays).</p>
<p>It will help increase&nbsp;capacity on the busy Tulse Hill to Brixton corridor and&nbsp;will also provide&nbsp;new direct links&nbsp;around&nbsp;Brixton.<br>&nbsp;<br>At the same time&nbsp;route 333 will be altered between Brixton and Kennington to go&nbsp;via&nbsp;Stockwell Road, Stockwell Station&nbsp;and Clapham Road.</p>
<p>This creates&nbsp;a new direct&nbsp;link between Brixton&nbsp;Hill and Stockwell.</p>
<h2>Routes through Tulse Hill</h2>
<p>This&nbsp;service&nbsp;will also run later into the night.</p>
<p>Route 432 (Anerley&nbsp;to Brixton via Tulse Hill)&nbsp;will be reduced from every&nbsp;eight minutes to every&nbsp;ten minutes.</p>
<p>However new route 415 means that there will be a significant increase in total frequency over the busiest section along Tulse Hill while still providing a high level of&nbsp;service&nbsp;between Tulse Hill and Anerley.&nbsp;</p>
<p>John Barry, Head of Network Development for London Buses said:&nbsp; "New route 415&nbsp;and the changes to route 333 will provide&nbsp;extra capacity on the very busy Tulse Hill routes, and new local links for passengers&nbsp;in and around Tulse Hill, Brixton,&nbsp;Stockwell and Kennington."</p>
<p>
<hr>
            <p><strong>Notes to editor:</strong><br>
<ul>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users</li>
<li>With over 8000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent since 1999/2000</li>
<li>Route 415 will run via from Tulse Hill Station via Tulse Hill, Effra Road, Brixton town centre, Brixton Road, Oval Station and Kennington Park Road to Elephant &amp; Castle.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 415 will&nbsp;use&nbsp;double-decker buses&nbsp;and&nbsp;will run every 12 minutes (every 20 minutes in the evening and on Sundays).It will help increase&nbsp;capacity on the busy Tulse Hill to Brixton corridor and&nbsp;will also provide&nbsp;new";}
        
        


 