


@{ViewBag.Title = "New direct bus link to the South Kensington museums";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New direct bus link to the South Kensington museums</h1>
        <div class="content-page-press-release">
        28 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that from Saturday 29 March bus route 360 will be diverted to give much more convenient access to the Science Museum, the Natural History Museum and the Victoria & Albert Museum (V&A).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The re-routed 360 gives passengers much more convenient access to the museums on Exhibition Road"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The re-routed 360 gives passengers much more convenient access to the museums on Exhibition Road
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Route 360, operated by London Central, runs between Elephant &amp; Castle and Kensington via Vauxhall, Pimlico, Sloane Square and South Kensington. </p>
<p>It serves not only the Science Museum and V&amp;A but also Imperial College, the Royal Albert Hall and the Royal Colleges of Art and Music.</p>
<h2>The new route</h2>
<p>From South Kensington Underground station buses will run along the whole length of Exhibition Road to Kensington Gore, then into Queen's Gate to finish their journey in Prince Consort Road.</p>
<p>On the return journey buses will pick up passengers in Prince Consort Road outside the Royal Albert Hall.&nbsp; They will then turn right on to Exhibition Road.</p>
<p>Changes to the road network to allow buses to turn right on to Exhibition Road have been delivered by joint working between TfL, the City of Westminster and the Royal Borough of Kensington and Chelsea.</p>
<h2>Better access to museums</h2>
<p>John Barry, Head of Network Development for London Buses said:&nbsp; "The re-routed 360 gives our passengers much more convenient access to the museums on Exhibition Road."</p>
<p>David Elliott, Chief Executive of the Royal Albert Hall said: "We are delighted that from Saturday 29 March, the 137th anniversary of the opening of the Hall, the 360 bus route will serve Exhibition Road, providing additional access to the Royal Albert Hall and the wide range of world-class cultural institutions in this area and an easy link to South Kensington Underground station for our customers."</p>
<p>The change comes following a review of the existing service.</p>

<p>
<hr>
<br></p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Pictures are available on request from the Press Office</li>
<li>Currently route 360 uses Queens Gate. The new routeing brings buses closer to the popular destinations on Exhibition Road</li>
<li>Route 360 runs seven days a week, every 12 minutes during the day from Monday - Saturday, every 15-20 minutes in the evenings and on Sundays</li>
<li>The route is served by single decker buses, seven of which are hybrid</li>
<li>All London buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users</li>
<li>With over 8,000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent&nbsp;between 1999/2000 and 2006/07<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 360, operated by London Central, runs between Elephant &amp; Castle and Kensington via Vauxhall, Pimlico, Sloane Square and South Kensington. It serves not only the Science Museum and V&amp;A but also Imperial College, the Royal Albert Hall and the";}
        
        


 