


@{ViewBag.Title = "New route for certifying pollution abatement equipment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New route for certifying pollution abatement equipment</h1>
        <div class="content-page-press-release">
        04 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Operators who purchase pollution abatement equipment to comply with the emissions standards of the Low Emission Zone can now get their abatement device fitted to their vehicle and tested on site by an authorised examiner.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It provides a 'one stop shop' for operators keen to get their vehicles back in service as soon as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">Head of the London Low Emission Zone</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It provides a 'one stop shop' for operators keen to get their vehicles back in service as soon as possible
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>This new service is available in addition to the test facility provided by the Vehicle and Operator Services Agency (VOSA). </p>
<p>Nick Fairholme, Head of the London Low Emission Zone, explains: "This new service gives operators the opportunity to get their pollution abatement equipment fitted and tested by the authorised examiner on site. </p>
<p>"It will reduce the amount of time that a vehicle needs to be taken off the road and provides a 'one stop shop' for operators keen to get their vehicles back in service as soon as possible.</p>
<p>"Operators who want to fit pollution abatement equipment to their vehicles should do so well before they intend to drive within the Low Emission Zone. </p>
<p>"Allowing plenty of time will also give operators ample opportunity to deal with any issues that arise during the fitting and testing."</p>
<h2>Low Emissions Certificate </h2>

<p>The majority of the approved suppliers of pollution abatement equipment listed on Transport for London's website have fitters who have been approved as authorised examiners to carry out smoke tests on VOSA's behalf.</p>
<p>Jeff Green, VOSA's Project Executive, added: "Once the smoke test is successfully completed, the authorised examiner will submit application forms to VOSA, who will then conduct a quality check on the documentation received. </p>
<p>"If all the requirements have been achieved, VOSA will issue either a Low Emissions Certificate (LEC) or Reduced Pollution Certificate (RPC). </p>
<p>"A fee of &pound;28 will be charged for the issue of the certificate. </p>
<p>"Manufacturer nominated authorised examiners will be subject to VOSA quality assurance arrangements, including documentation audits and spot checks."</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The following approved pollution abatement equipment suppliers have fitters who have been approved as authorised examiners: &nbsp;Clean Diesel Technologies, Dinex, Eminox, Gat Eurocat, KleenAir Systems, Per-tec and Pirelli Ambiente. Further details of these &nbsp;suppliers and a list of authorised examiners are available on the Transport for London <a href="http://www.tfl.gov.uk/lezlondon ">website</a> </li>
<li>The authorised examiner will submit two forms to VOSA following the successful completion of a smoke test; a Declaration of &nbsp;Conformity which confirms that a pollution abatement device appropriate for the engine has been fitted and that the vehicle has &nbsp;passed the smoke test, and a Declaration Application Form which contains the applicant's details </li>
<li>This new certification route is only available to operators who fit abatement devices to their vehicles and is an alternative to the test &nbsp;facility already provided by VOSA. Operators with vehicles with engines listed on the TfL Eligible Engines List still need to get their &nbsp;vehicle tested by VOSA. Tests can be booked by calling 0870 60 60 440 </li>
<li>For media enquiries about VOSA, please contact: Zita Easton or Luke Bigwood on 0117 954 2561 / 3208 or e-mail <a href="mailto:press&#64;vosa.gov.uk">press&#64;vosa.gov.uk</a>. More information on VOSA is available <a href="http://www.vosa.gov.uk/">online</a>&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This new service is available in addition to the test facility provided by the Vehicle and Operator Services Agency (VOSA). Nick Fairholme, Head of the London Low Emission Zone, explains: 'This new service gives operators the opportunity to get their";}
        
        


 