


@{ViewBag.Title = "No interchange between Bank and Monument stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>No interchange between Bank and Monument stations</h1>
        <div class="content-page-press-release">
        20 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Exit and entry are unaffected but ageing escalators must be renewed.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are urging passengers to plan their journeys to avoid changing trains at Bank and to use alternative stations nearby wherever possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Tollington</div>
            <div class="quotee-job-title">General Manager of the Central Line</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are urging passengers to plan their journeys to avoid changing trains at Bank and to use alternative stations nearby wherever possible
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London is warning passengers using Bank and Monument stations that changing lines between the stations will not be possible, except between the Docklands Light Railway and the Northern Line, from March 31 until summer 2009. </p>
<p>More information is available in the following leaflets:</p>
<ul>
<li><a href="/assets/downloads/leaflet-no-interchange-mar08.pdf">No interchange at Bank and Monument stations leaflet (PDF 2349KB)</a></li>
<li><a title="Bank and Monument stations upgrade work (PDF 4.3MB)" href="/assets/downloads/bank-and-monument-stations-upgrade-work.pdf">Bank and Monument stations upgrade work (PDF 4.3MB)</a></li></ul>
<p>This is to ensure passenger safety while intensive work takes place on escalators at the stations.</p>
<p>Ten billion pounds is being invested in London's transport system by Transport for London and fifteen escalators at Bank and Monument stations are due to be replaced or upgraded over the next few years. </p>
<p>Passengers are also being warned that some train services may not be able to stop at Bank during the busiest times, depending on congestion, and they may need to prepare to use alternative routes. </p>
<p>Posters and 250,000 leaflets with bus and walking information to other stations will be available at stations on all the lines which run through Bank/Monument and in Zone 1.</p>
<h2>Plan your journey</h2>
<p>Peter Tollington, General Manager of the Central Line said: "We are urging passengers to plan their journeys to avoid changing trains at Bank and to use alternative stations nearby wherever possible such as Cannon Street, Moorgate, Mansion House or London Bridge. We are providing information at the affected stations to try and make it as easy as possible for affected passengers to plan their journeys.</p>
<div class="pullquote right">
<p>More reliable escalators will mean reduced congestion and quicker journey times 
<div class="cite">Peter Tollington, General Manager of the Central Line</div>
<p></div>
<p>"The improvements to the escalators will be critical in making sure that Bank and Monument stations can continue to operate and serve the increasing number of passengers. Regular passengers will be aware that work has already begun on some escalators to ensure their long-term reliability. More reliable escalators will mean reduced congestion, quicker journey times and quicker interchange times at Bank and Monument."</p>
<ul>
<li>While escalators are being replaced at Monument station, between the Monument and the Docklands Light Railway platforms, the main route for changing between District and Circle lines and the Docklands Light Railway will close </li>
<li>Bank, which is served by the Central, Northern and Waterloo and City lines, and Monument will effectively operate as two separate stations </li>
<li>It will not be possible to change between the Central and Waterloo &amp; City lines and the rest of the Bank/Monument complex</li></ul>
<h2>Alternative routes</h2>
<p>Instead of changing trains at Bank alternative routes for passengers are proposed below:&nbsp;</p>
<ul>
<li>For passengers travelling on the <strong>Central line </strong>and wanting to travel to and from the Isle of Dogs, please change at either Bond Street or Stratford stations. To change between the Central line and the West End, please change at either Mile End, Liverpool Street or Tottenham Court Road </li>
<li>For passengers wanting to access the <strong>Circle and District lines</strong>, please change at either Embankment, Mile End or Moorgate (using Hammersmith &amp; City line) </li>
<li>For passengers wanting to access the <strong>Docklands Light Railway</strong>, please change at either Canary Wharf, Canning Town, West Ham, or Stratford. (Tower Gateway station will be closed from June 2008 until April 2009 while platforms are extended) </li>
<li>For passengers wanting to access the <strong>Northern line</strong>, please change at either Embankment, Euston, Kennington, Moorgate or Tottenham Court Road</li></ul>
<h2>Local bus services </h2>
<p>Bus routes 21, 43, 133 or 141 run between London Bridge and Moorgate via Bank. 
<h2>Walking times</h2>
<p>Bank/Monument - Cannon Street: 5 minutes <br>Bank - Liverpool Street:&nbsp;11 minutes <br>Bank - London Bridge: 14 minutes <br>Bank - Mansion House: 6 minutes <br>Bank - Moorgate: 9 minutes&nbsp;<br></p>
<hr>

<p>
            <p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>TfL is investing &pound;10 billion to improve and expand London's transport network, over half of that being spent on the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines</li>
<li>Metronet Rail BCV and SSL are now in administration. London Underground is working closely with the administrators, Ernst &amp; Young, to ensure all necessary maintenance and renewal works continue<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London is warning passengers using Bank and Monument stations that changing lines between the stations will not be possible, except between the Docklands Light Railway and the Northern Line, from March 31 until summer 2009. More information";}
        
        


 