


@{ViewBag.Title = "TfL announces plans to take over Tramlink services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces plans to take over Tramlink services</h1>
        <div class="content-page-press-release">
        17 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that it intends to take direct control of Tramlink services this year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We can plan how to make the improvements that are required to cater for ever increasing numbers of passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We can plan how to make the improvements that are required to cater for ever increasing numbers of passengers
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Tramlink is a vital part of the south London transport network and last year carried 25 million passengers.</p>
<p>TfL's offer of &pound;98m to acquire Tramtrack Croydon Ltd, the Private Finance Initiative (PFI) Concession holder which runs Tramlink, was accepted today. </p>
<p>The Mayor of London, Ken Livingstone, said: "Bringing Tramlink into the control of TfL is excellent news for Londoners.&nbsp; </p>
<p>"This will mean we can plan how to make the improvements that are required to cater for ever increasing numbers of passengers and provide them with the very best possible services."&nbsp; </p>
<h2>Value for money</h2>
<p>The current contract requires TfL to make compensation payments to Tramtrack Croydon Ltd for changes to the fares and ticketing policy introduced since 1996.&nbsp; </p>
<p>Last year, that payment was &pound;4m, and the rate is increasing annually.&nbsp; </p>
<p>Taking control of Tramtrack Croydon Ltd means that TfL will no longer have to make those payments and will be able to concentrate on improving the network.&nbsp; </p>
<p>Peter Hendy, TfL Commissioner, said: "With 88 years remaining on the Concession Agreement with Tramtrack Croydon Ltd, this deal represents excellent value for money for London's fare and tax payers.&nbsp;&nbsp; </p>
<h2>Improvements</h2>
<p>"It will allow us to build on the success of Tramlink to date, and increase levels of investment in the system to ensure it can keep up with growing demand, all the while providing a safe, reliable service for passengers.&nbsp; </p>
<p>"Tramlink should be setting the benchmark for tram services throughout the UK."</p>
<p>Following completion of the purchase later this year, Tramlink would be managed by TfL's London Rail directorate, allowing TfL to develop Tramlink as a key part of the Capital's integrated public transport network. </p>
<p>There would be no change to the current fares and ticketing arrangements but improvements have already been proposed that would take effect as soon as TfL takes control of the network.&nbsp; </p>
<h2>More services</h2>
<p>Off-peak services between Elmers End and Beckenham Junction would double from two trams per hour to four on Monday to Saturday evenings and on Sundays.&nbsp; </p>
<p>TfL would also seek to run additional services to relieve crowding on the Wimbledon to New Addington line.&nbsp; </p>
<p>Graffiti and vandalism on the system would be targeted, general maintenance levels would increase and TfL would begin a programme to refresh tram interiors and stops to improve the environment for passengers.&nbsp; </p>
<p>In the longer term, TfL is keen to enhance the Tramlink system so that it can cater for increasing passenger numbers.&nbsp; </p>
<p>An investment programme would be developed which, subject to future funding commitments, could allow for upgrading or renewal of the network to ensure that Tramlink provides the best possible public transport service well into the future.&nbsp;&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Tramlink is a 28km light rail system with three lines providing a fast, frequent and reliable connection to and through a number of areas in south London, including Croydon and Wimbledon.&nbsp;It became fully operational on 30 May 2000, re-introducing street running light rail to London after an absence of almost 50 years </li>
<li>Tramtrack Croydon Ltd won the concession to design, build, operate and maintain the Tramlink system in 1996, under a 99 year Private Finance Initiative (PFI) contract.&nbsp; The current Concession Agreement does not offer enough flexibility to allow TfL to work together with Tramtrack Croydon Ltd to deliver the best service for London </li>
<li>Under the terms of the 99 year concession agreement (signed in 1996, before TfL was formed), Tramtrack Croydon Ltd retains the revenue generated by Tramlink.&nbsp; In addition, TfL makes compensation payments to the company for changes to the fares and ticketing policy introduced since 1996.&nbsp; In 2006/07, TfL paid Tramtrack Croydon Ltd &pound;4m.&nbsp;These payments will no longer be required following the acquisition </li>
<li>TfL's acquisition of Tramtrack Croydon Ltd, and thus of Tramlink, is subject to the satisfactory outcome of Due Diligence and other investigations.&nbsp;The acquisition is expected to be completed in summer 2008 </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tramlink is a vital part of the south London transport network and last year carried 25 million passengers.TfL's offer of &pound;98m to acquire Tramtrack Croydon Ltd, the Private Finance Initiative (PFI) Concession holder which runs Tramlink, was accepted";}
        
        


 