


@{ViewBag.Title = "TfL recognised for challenging gender pay gap";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL recognised for challenging gender pay gap</h1>
        <div class="content-page-press-release">
        26 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has received national recognition for the work it is doing to tackle the gender pay gap and champion women's equality in the workplace.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are constantly implementing measures to promote equality of pay"</div>
        <div class="quote-footer">
            <div class="quotee-name">Maria Antoniou</div>
            <div class="quotee-job-title">TfL's Group Human Resources Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are constantly implementing measures to promote equality of pay
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A new report written by independent think-tank Opportunity Now for the Government identified TfL as 'an exemplar employer' for how it has gone about tackling inequalities which still persist in the British workplace, 33 years after the Equal Pay Act came into force. <br>&nbsp;<br>In the report, TfL is identified as a key organisation that has successfully introduced female-friendly policies, promoted equal pay, adopted flexible working patterns and provided appropriate training and development.<br>&nbsp;<br>TfL's performance compares favourably with employers nationally and the average London employer - who on average pay female employees almost a third less than their male counterparts in like-for-like jobs.<br>&nbsp;<br>In recent years TfL has run a succession of fair pay workshops involving senior staff and, as a result of these, committed to a variety of aims and action points. The organisation is now planning further reviews to measure the impact of this work. </p>
<h2>Pay disparities</h2>
<p>The organisation also introduced a wide raft of measures aimed at equipping managers with the knowledge and skills to make robust pay decisions, and improving the level of information available about pay relativities in order to stamp out gender pay disparities. <br>&nbsp;<br>In 2004, TfL carried out its first Equal Pay Audit, which focused on measuring the gender pay gap.</p>
<p>This research was updated in 2006/07 and extended to look at fair pay across all diversity groups. <br>&nbsp;<br>TfL is also addressing the issue of senior level recruitment and retention among female staff, and is building on existing reward framework initiatives to further improve pay differentials. </p>
<h2>Improving visibility</h2>
<p>TfL's Group Human Resources Director, Maria Antoniou, said: "All organisations have a responsibility to be mindful of this issue, and TfL has been active in this area for some time. </p>
<p>"We are constantly implementing measures to promote equality of pay, and strive to employ a workforce that mirrors London's diversity.<br>&nbsp;<br>"Having a fair and transparent pay system is something that is key to the successful delivery of these objectives, and we're committed to improving the visibility of equal pay analysis results across the organisation, particularly when pay decisions are being made."<br>&nbsp;<br></p>
<p>
<hr>
<br><strong>Notes to the editor:</strong>&nbsp; 
<p>
<ul>
<li>Opportunity Now uses official data and recent research into the gender pay gap to examine the position of women within the labour market and the causes of the continuing pay inequity they experience </li>
<li>TfL's aim is to&nbsp;continue to make visible and faster progress towards equality of pay. Through discussion and review of the key findings at a series of 'fair pay' workshops a number of actions have been identified that positively contribute towards this aim </li>
<li>Using the latest available data from the Annual Survey of Hours and Earnings (ASHE), the 2008 Women in London Economy report states the&nbsp;mean gender&nbsp;pay gap in the Capital is 23 per cent, compared to 17 per cent as an average for the UK </li>
<li>The Equal Pay Act (1970) came into force in 1975 making it unlawful for employers to discriminate between men and women in terms of their pay and conditions where they are doing the same or similar work&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new report written by independent think-tank Opportunity Now for the Government identified TfL as 'an exemplar employer' for how it has gone about tackling inequalities which still persist in the British workplace, 33 years after the Equal Pay Act came";}
        
        


 