


@{ViewBag.Title = "The green travel revolution comes to Richmond";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The green travel revolution comes to Richmond</h1>
        <div class="content-page-press-release">
        11 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Borough to see intensive green Smarter Travel programme, and &pound;5 million from Transport for London, to encourage residents to cut car use.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are absolutely delighted that Richmond upon Thames has been chosen for the second Smarter Travel Programme
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>From September 2008, a new three year scheme will launch in Richmond, to cut the number of car trips to school, work or leisure as part of TfL and Richmond Council's efforts to cut congestion and CO2 emissions which contribute to climate change.</p>
<h2>Smarter Travel Richmond</h2>
<p>The &pound;5 million Smarter Travel Richmond programme will work with employers, schools, residents and visitors to increase the number of people using public transport, walking or cycling in the borough.</p>
<p>The partnership with the London borough of Richmond upon Thames is the latest element of TfL's Smarter Travel programme, already one of the largest of its kind in the world. </p>
<p>The programme aims to encourage people to cut their costs and their carbon emissions by making simple changes to the way that they travel. Around 20 per cent of the carbon emissions savings we can make from transport by 2025 will come from changing the way we travel.</p>
<h2>Smarter Travel achievements</h2>
<p>To date, TfL's Smarter Travel programme has achieved:</p>
<ul>
<li>A seven per cent average reduction in the number of car journeys to schools that have put in place school travel plans </li>
<li>A 14 per cent average fall in the number of car journeys and a 17 per cent increase in public transport use in workplaces with TfL approved travel plans. If all the organisations involved in the workplace travel plan programme achieve a similar level of reduced car trips this would mean by 2010/11; 14,623 tonnes of CO2 would be saved per annum; 8.8 million fewer commuter car trips would be taken each year on London's roads; and 86 million less car kilometres would be travelled each year </li>
<li>Over 100,000 London households given individually tailored travel advice during the summer of 2007 alone </li>
<li>More than 2,600 secure cycle parking spaces provided to businesses to help their employees cycle to work </li>
<li>More than &pound;1.5m funding provided to date to support the introduction of car clubs in London </li>
<li>The recent launch of a two year Smarter Driving campaign, aimed at encouraging people to cut their costs and their carbon emissions by making simple changes to the way that they drive. If all drivers in London drove smarter, it could drive down the Capital's CO2 emissions by half a million tonnes a year</li></ul>
<h2>London's changing travel habits</h2>
<div class="pullquote right">
<p>Richmond was the first council in the country to introduce emissions related parking charges 
<div class="cite">Ken Livingstone, Mayor of London</div>
<p></div>
<p>The Mayor of London, Ken Livingstone said: "Since 2000, Londoners have started to change the way that they travel, with the Capital becoming the only major world city to have achieved a shift from the use of cars toward public transport, walking and cycling.</p>
<p>"The improvements to public transport and the introduction of the Congestion Charge have been key to that shift, and Transport for London's Smarter Travel programmes have helped to show Londoners what can be achieved by acting locally, underpinning the message that we can all do something to tackle congestion and climate change.</p>
<p>"Richmond made its commitment to green travel clear when it became the first council in the country to introduce emissions related parking charges, making it the natural choice to be London's next Smarter Travel borough."</p>
<p>Peter Hendy, London's Transport Commissioner said: "Our Smarter Travel Programme works directly with people who live and work in London in their homes, their workplaces, and their children's schools, helping them move away from their dependence on the private car. </p>
<p>By travelling by public transport, cycling or walking, they're not just choosing the greenest option - they're often also choosing the quickest, cheapest and easiest option too."</p>
<h2>A huge opportunity for Richmond</h2>
<p>Cllr David Trigg, Cabinet Member for Traffic, Transport and Parking on Richmond Council said: "We are absolutely delighted that Richmond upon Thames has been chosen for the second Smarter Travel Programme.&nbsp; We see this as a huge opportunity for our council and our local area.</p>
<p>"We have decided to put the environment at the heart of everything we do.&nbsp;&nbsp;For us it is not enough simply to reduce our own carbon footprint - we want to work with our various partners including TfL to set an example for others.&nbsp; We are particularly proud of what is being achieved so far with our groundbreaking CO2 related parking charges.</p>
<p>"The significant injection of resources is going to enable us to drive forward our own green agenda - we can't wait to get going with this exciting programme."</p>
<h2>Small changes - big difference</h2>
<p>Jenny Jones, the Mayor's Green Transport Advisor, said: "If lots of people make small changes to the way they live and travel, then we can make a big difference to our local environment.</p>
<p>"We know that many Londoners have already made the switch from cars to buses and others have taken up cycling, but outside of central London, any improvements to air quality, congestion and noise are spread out across a big city. </p>
<p>"The aim of this project is to generate a critical mass of people in one area who will decide to walk more, cycle more and to switch to more sustainable forms of transport. If large numbers of people in one area make the switch, then others are more likely to follow their example." <br></p>
<hr>
            <p>
<p><strong>Notes to editor</strong></p>
<ul>
<li>Schools that have implemented school travel plans in London have had a seven per cent reduction in the number of car journeys to school. Based on this shift, when all schools have a STP, it is estimated that a further 4.5 million car journeys a year will be saved. </li>
<li>The Mayor of London recently announced a &pound;500,000 TfL programme to transform walking and cycling in the Capital. For more information, see <a href="http://www.london.gov.uk/view_press_release.jsp?releaseid=15612">Mayor unveils programme to transform cycling and walking in London</a>&nbsp; </li>
<li>The implementation of the Smarter Travel programme for Richmond follows on from the successful launch of Smarter Travel Sutton, London's first borough wide green travel programme.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From September 2008, a new three year scheme will launch in Richmond, to cut the number of car trips to school, work or leisure as part of TfL and Richmond Council's efforts to cut congestion and CO2 emissions which contribute to climate change.Smarter";}
        
        


 