


@{ViewBag.Title = "Traffic disruption expected on A40 eastbound due to urgent repair works by Thames Water";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Traffic disruption expected on A40 eastbound due to urgent repair works by Thames Water</h1>
        <div class="content-page-press-release">
        14 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is warning of traffic disruption along the A40 eastbound from 08:00pm today, 14 March.
        
    </div>



 <div class="on-this-page">
<p>This is due&nbsp;to urgent works to repair a leaking water main by Thames Water, after confirmation this morning that the works would proceed.&nbsp; </p>
<p>Thames Water has advised that they will do everything possible to clear the road of works before 05:00 on Monday 17 March.<br>&nbsp;<br>The works, which will take place between Greenford Road and Alperton Lane, will see the A40 be reduced to one lane eastbound. </p>
<p>Drivers are advised to find alternative routes and avoid using the A40 eastbound between Greenford roundabout and Hanger Lane roundabout where possible.</p>
<p>Current work to replace the A40 bridges at Wales Farm Road and Perryn Road, which is being carried out separately by Transport for London (TfL), will be continuing as normal while the work by Thames Water is completed.<br>&nbsp;<br>For more information about how the road works may affect your travel, call TfL travel line on 020 7222 1234.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is due&nbsp;to urgent works to repair a leaking water main by Thames Water, after confirmation this morning that the works would proceed.&nbsp; Thames Water has advised that they will do everything possible to clear the road of works before 05:00 on";}
        
        


 