


@{ViewBag.Title = "Transport for London is helping the Capital to tackle climate change";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London is helping the Capital to tackle climate change</h1>
        <div class="content-page-press-release">
        13 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today issued a report outlining the organisation's progress over 2006/07 towards reducing carbon dioxide (CO2) emissions across the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is now acknowledged around the world as an international pace setter for sustainable transport."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is now acknowledged around the world as an international pace setter for sustainable transport.
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The report shows how TfL is taking a world-leading role in successfully encouraging Londoners to travel in less polluting ways, by operating the transport system more efficiently, and by promoting the uptake of low-carbon vehicles and fuels.</p>

<h2>Environmental achievements</h2>
<p>Key environmental achievements from 2006/07 include:</p>
<ul>
<li>The introduction of the western extension of the Congestion Charging zone </li>
<li>The launch of the TfL Climate Change Fund, which is providing &pound;25m over the next three years to support new CO2 reduction initiatives within TfL operations </li>
<li>The launch of Smarter Travel Sutton, the largest local programme of its kind in the world. This encourages and helps local residents to use public transport, walk and cycle </li>
<li>The successful completion of a three year trial of hydrogen powered fuel cell buses, and the development of new plans to use additional hydrogen vehicles in future </li>
<li>The world's first double-decker hybrid bus went into service, with plans to have a total of 60 hybrid buses operating by the end of 2008 </li>
<li>Energy champions at LU stations reduced energy consumption by 14 per cent, by encouraging colleagues to turn off unnecessary lighting and escalators during engineering hours </li>
<li>The DLR extension to London City Airport now has the highest proportion of passengers arriving by rail of any airport in the UK. This has led to a reduction in car and taxi trips to the airport and an estimated annual saving of over 156 tonnes of CO2 emissions </li>
<li>Oyster cards were used for more than 73 per cent of the daily 9.2 million trips on public transport in the Capital and around one million fewer paper tickets were sold each week as a result </li>
<li>20 per cent of the electricity used by TfL was from renewable sources and energy consumption in head office buildings was cut by 14 per cent</li></ul>
<p>Transport is responsible for 22 per cent of London's emissions.</p>
<p>The Mayor's climate change action plan sets out how annual transport emissions can be cut by 4.3 million tonnes as part of an overall target reduction of 60 per cent by 2025.</p>

<h2>International pace setters</h2>
<p>Ken Livingstone, the Mayor of London, said: </p>
<p>"London is now acknowledged around the world as an international pace setter for sustainable transport. This report sets out the progress we are making to help make London a cleaner, greener and less congested city, but we need to do still more.</p>
<p>That's why I will introduce a new &pound;25 congestion charge for the most polluting cars, with a 100 per cent discount for the least polluting, and why we are investing a record &pound;500 million over the next decade to encourage cycling and walking."</p>
<p>Peter Hendy, London's Transport Commissioner said:</p>
<p>"Transport for London has a major role to play in tackling climate change in the Capital. Policies such as the Congestion Charge, investment in hybrid and hydrogen buses, and encouraging more sustainable travel have already helped London become the only major city in the world to see a shift away from private car usage to public transport, cycling and walking.</p>
<p>"With London's population set to grow significantly over the next 15 years, demand on public transport will continue to increase, making the challenges facing us even greater. While we've made good progress so far, there is still much to be done to help ensure a clean, healthy and prosperous city for future generations."</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors</strong></p>
<p>1.&nbsp;The 2006/07 Environment Report will only be available online as a locked PDF.&nbsp; This means that it can be viewed on the web but not printed off. To view the report, click this link - <a href="http://www.tfl.gov.uk/corporate/about-tfl/publications/1478.aspx">http://www.tfl.gov.uk/corporate/about-tfl/publications/1478.aspx</a></p>
<p>2.&nbsp;To date, projects funded by the TfL Climate Change Fund include TfL's hybrid buses programme and a Smarter Driving Campaign to encourage people to reduce their motoring CO2 emissions by making simple changes to the way they drive</p>
<p>3.&nbsp;Ground-based transport is responsible for 22 per cent of CO2 emissions in the Capital. Of that 22 per cent, almost three quarters of emissions are created by cars, motorcycles and road freight transport</p>
<p>4.&nbsp;The demand for travel in London is forecast to grow by as much as 15 per cent by 2025</p>
<p>5.&nbsp;The Mayor's London Climate Change Action Plan aims to reduce CO2 emissions in the capital by 60 per cent by 2025</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report shows how TfL is taking a world-leading role in successfully encouraging Londoners to travel in less polluting ways, by operating the transport system more efficiently, and by promoting the uptake of low-carbon vehicles and fuels.Environmental";}
        
        


 