


@{ViewBag.Title = "Transport for London to license the youngest taxi driver";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London to license the youngest taxi driver</h1>
        <div class="content-page-press-release">
        13 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL's) Public Carriage Office is to license London's youngest taxi driver on 1 April 2008, a day after he turns 21.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I think it is a rewarding career which allows you to meet people from all walks of life
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Casey MacLaren completed and passed the Knowledge in July 2007 at the age of 20, but is not legally allowed to be licensed as a taxi driver until he turns 21 on 31 March 2008.</p>
<p>He will be presented with his All-London 'green badge' the following day, allowing him to work throughout Greater London.</p>
<p>On average, it takes three to four years to be licensed as an All-London taxi driver but Casey completed his studies in just over two years.</p>
<p>Casey decided to take up taxi driving as a career because of its flexibility which will allow him to continue to pursue his football career. </p>
<h2>Taking the wheel</h2>
<p>His father is also an All-London taxi driver while his mother holds a Suburban taxi driver licence.&nbsp; He lives in Putney.</p>
<p>Casey MacLaren said: "I have seen how my parents are their own bosses and are able to fit in other responsibilities around working as taxi drivers - it works really well.</p>
<p>"I think it is also a rewarding career which allows you to meet people from all walks of life, and I am looking forward to taking the wheel."</p>
<p>TfL's&nbsp;Director of Taxi and Private Hire, Ed Thompson, said: "As well as Casey, a young woman of 22 has recently been licensed. </p>
<h2>Rewarding career</h2>
<p>"It gives us so much pleasure to see young people choosing taxi driving as a career. </p>
<p>"We hope they have a long career ahead of them."</p>
<p>Casey currently plays football for Hendon FC and from time to time gets back on his Moped to keep his knowledge of London up-to-date.</p>
<p>He is planning on getting his own Tx4 taxi after a few months of renting one and says it will definitely be black.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Interviews with Casey can be arranged through the Press Office. Images are available on request </li>
<li>The second youngest taxi driver is 22-year-old Natalia Shalom. She was licensed in July 2007 and holds an All-London badge </li>
<li>The Public Carriage Office is part of TfL, and is charged with the responsibility of licensing taxi and private hire services in London </li>
<li>There are approximately 25,000 licensed taxi drivers in the Greater London area </li>
<li>To become a licensed taxi driver in the Capital, candidates must pass 'the Knowledge' proving knowledge of roads and places of interest in London </li>
<li>As an All-London driver, one must have a detailed knowledge of London within a six mile radius of Charing Cross. There are 320 runs which one needs to know as well as places of interest and important landmarks on the routes. With a Suburban license, a driver can only ply for hire within a specific area which is divided based on borough boundaries</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Casey MacLaren completed and passed the Knowledge in July 2007 at the age of 20, but is not legally allowed to be licensed as a taxi driver until he turns 21 on 31 March 2008.He will be presented with his All-London 'green badge' the following day,";}
        
        


 