


@{ViewBag.Title = "Transport for London's iBus wins innovation award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London's iBus wins innovation award</h1>
        <div class="content-page-press-release">
        28 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Intelligent Transport Society (ITS) for the UK has presented London Buses with the 2007/08 Annual Award for Excellence for its iBus system.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are making great progress in improving London's bus services for the millions of people that use them every day"</div>
        <div class="quote-footer">
            <div class="quotee-name">Martin Davey</div>
            <div class="quotee-job-title">Head of London Buses' Technical Services Group</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are making great progress in improving London's bus services for the millions of people that use them every day
                            
                        </p>
                    </div>
                
            
            
            <p> <p>iBus is helping London Buses deliver reliable, consistent bus services while providing audio and visual information to passengers on board.</p> <p>The Annual Award for Excellence is presented to the organisation that has done the most to further the development or deployment of a transport solution or innovation using Intelligent Transport Systems (ITS).</p> <p>ITS (UK) President Steven Norris, who presented the award at Painter's Hall in the City of London, praised iBus in the 'Area Wide Schemes' category for its on-board 'next stop' audio visual displays and announcements, which make bus travel much easier for everyone, including visually or hearing impaired passengers, or those with learning disabilities.</p> <h2>A better service</h2> <p>iBus was designed and implemented in response to the growth in the number of buses in service in London. It has a state-of-the-art Automatic Vehicle Location (AVL) and radio system, which will help London Buses deliver a more reliable, consistent service. </p> <p>The service offers passengers information on bus stops and nearby key places of interest and final destination information.</p> <p>iBus uses a combination of technologies, including satellite tracking and GPRS data transfer, that will be able to pinpoint all of the city's 8,000 buses and relay information to the driver, garage, and CentreComm, London Buses' 24/7 Command and Control Centre. </p> <p>Martin Davey, Head of London Buses' Technical Services Group (TSG) said: 'We are delighted to win this award, which reflects the hard work of staff within TSG and across London Buses, our suppliers Continental and the bus operators. </p> <p>'We are making great progress in improving London's bus services for the millions of people that use them every day. </p> <p>'As well as having useful information for passengers on board, those waiting for buses will also benefit from more accurate predictions on Countdown signs, which indicate when the next bus is due to arrive. </p> <p>iBus has already been installed on over 1,800 buses and we hope the success of this project will continue as the system is rolled out on London's 8,000 buses by early 2009.'</p> <p> <hr>  <p><strong>Notes to editors</strong>  <ul> <li>Intelligent transport systems (ITS) involve the application of IT and telecoms to all forms of transport to improve the efficiency, safety, economics and environmental sustainability of surface, maritime and air transportation, both public and private  </li><li>iBus enables passengers to enjoy route-related service information while on board - an automatic announcement keeps passengers informed as soon as a bus goes on diversion from the planned route. Also, CentreComm - the 24/7 Emergency Command and Control Centre - can communicate directly with passengers if a route or area is affected by a serious incident or maybe subject to major delays  </li><li>Bus controllers know at a glance the precise location of every bus on a particular route, and are able to take action to maintain a good service if there are any problems  </li><li>iBus is one of the world's largest integrated Automatic Vehicle Location projects. It provides a more reliable expandable radio system and revolutionises how services are delivered and monitored<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "iBus is helping London Buses deliver reliable, consistent bus services while providing audio and visual information to passengers on board. The Annual Award for Excellence is presented to the organisation that has done the most to further the development";}
        
        


 