


@{ViewBag.Title = "Wide aisle ticket gates will make Tube journeys more accessible ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wide aisle ticket gates will make Tube journeys more accessible </h1>
        <div class="content-page-press-release">
        12 March 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Twelve million pounds is to be spent on installing wide aisle ticket gates at Tube stations in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This investment is part of our commitment to making the Underground accessible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This investment is part of our commitment to making the Underground accessible
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The gates will make stations more accessible for wheelchair users, older people, parents with children and travellers with luggage.</p>
<p>The funding will allow 140 new wide aisle gates to be fitted primarily at step-free stations, busy stations and those where a large number of passengers carry luggage or use prams. </p>
<p>The first stations where work is set to begin include Victoria, King's Cross St Pancras and Liverpool Street. </p>
<p>Passengers using the wide aisle gates to access the Tube will no longer have to rely on members of staff to let them through. </p>
<h2>Getting around</h2>
<p>The gates will also include easy access points for wheelchair Oyster users and a delayed gate closing time. </p>
<p>Where only one wide aisle gate is installed at a station it can operate for passengers travelling in both directions.</p>
<p>The Mayor of London, Ken Livingstone, said: "This investment is part of our commitment to making the Underground accessible to every Londoner and visitor to our city. </p>
<p>"Getting around the Capital by public transport has never been more accessible and we are committed to making further improvements." </p>
<h2>Investing</h2>
<p>London Underground is investing more money than ever before to make the Tube as accessible as possible as quickly as possible for passengers. </p>
<p>By 2010, one quarter of Tube stations should have step-free access and this will increase to one third of stations by 2013, subject to funding.</p>
<p>Currently 48 stations have step-free access.</p>
<p>Over the last year, feasibility studies on improving accessibility have been completed at a further 90 stations. </p>
<h2>Independence</h2>
<p>Sarah Varnham, Accessibility and Inclusion Manager for London Underground, said: "The wide aisle gates enable and promote independent access and passage through the gate line for customers with reduced mobility and frees up staff to provide assistance to other customers where they need it."</p>
<p>A trial with four new wide aisle gates was conducted in 2006 at Canary Wharf, London Bridge and&nbsp;Westminster stations.</p>
<p>The results of the trial showed nearly all passengers preferred the wide aisle gate to the manual gate as they said it made them feel more independent. </p>
<p>Disabled passengers stated it made them feel more equal with other passengers and that they felt the gates were an overall improvement.</p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that being spent on the Tube </li>
<li><a href="http://www.directenquiries.com/">Direct Enquiries</a> is the online interactive service which complements 'Getting Around London: Your Guide to Accessibility' launched last year, which gives information about accessibility on all forms of public transport across London </li>
<li>The guide is available at Tube stations, bus stations and Travel Information Centres or via the 24-hour Travel Information Helpline 020 7222 1234.&nbsp; It can also be downloaded in PDF form from the website. Audio, large print and Braille versions of the guide are also available<br>&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The gates will make stations more accessible for wheelchair users, older people, parents with children and travellers with luggage.The funding will allow 140 new wide aisle gates to be fitted primarily at step-free stations, busy stations and those where";}
        
        


 