
    
  



@{ViewBag.Title = "18+ Student Oyster photocard";}
@{ViewBag.Keywords = "TfL,18+, over 18, 18 Zip";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/18-plus-student-oyster-photocard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">18+ Student Oyster photocard</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>18+ Student Oyster photocard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you're 18 or over, a student and living in a London borough, you can get discounted travel with an Oyster photocard.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/18-plus-zip-oyster.png" alt="18 plus student oyster" />
    </div>
    <h2>Benefits</h2>

<p>Save 30% on adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards</a> and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass season tickets</a>.</p>

<h2>Who is it for?</h2>

<p>You can apply for an 18+ Student Oyster photocard if:</p>

<ul>
	<li>You're 18 or over</li>
	<li>Live in a <a href="https://directory.londoncouncils.gov.uk/">London borough</a> during term time</li>
	<li>Enrolled&nbsp;at a school, college or university registered on the TfL scheme or on a mandatory work placement in London</li>
</ul>

<p>You must also be<strong> one</strong> of the following:</p>

<ul>
	<li>Enrolled on a full-time course with at least 15 tuition-led or structured learning hours a week. You must attend classes Monday to Friday only (not including evening classes) that span&nbsp;a minimum of 14 weeks on the same course (shorter courses repeated over 14 or more weeks aren't eligible)</li>
	<li>Receiving an <a href="https://www.nhsbsa.nhs.uk/nhs-bursary-students">NHS Bursary</a> as a full-time student. You must give your school, college or university evidence of your sponsorship so they can validate your application</li>
	<li>Full-time postgraduate student, studying or writing up to more than 15 hours a week</li>
	<li>Full-time student registered and studying on a higher education course at a school, college or university&nbsp;not registered with the TfL scheme but on mandatory work placement in London for at least 14 weeks</li>
	<li>Sabbatical officer</li>
	<li>Enrolled on a part-time course for at least 14 weeks and:
	<ul>
		<li>Receiving an <a href="https://www.nhsbsa.nhs.uk/nhs-bursary-students">NHS Bursary</a></li>
		<li>A postgraduate student receiving financial help from your <a href="https://www.gov.uk/extra-money-pay-university/university-and-college-hardship-funds">education establishment's hardship fund</a></li>
	</ul>
	</li>
</ul>

<p>If your school, college or university is outside Greater London but you live in a <a href="https://directory.londoncouncils.gov.uk">London borough</a> during term time and travel regularly, ask your school, college or university if they're registered on the 18+ Student Oyster photocard scheme.</p>

<p>If you were 18 on 31 August and live in a <a href="https://directory.londoncouncils.gov.uk">London borough</a>, you may still be eligible for a <a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a>.</p>

<h2>How to apply</h2> 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="school,-college-or-university-course-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="18+ Student Oyster photocard-School, college or university course"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="school,-college-or-university-course-heading" class="accordion-heading">School, college or university course</div>
            </div>
            <div id="school,-college-or-university-course-content" class="start-hidden" role="region" aria-labelledby="school,-college-or-university-course-heading">

<div>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> once you've enrolled with your school, college or university.</p>

<p>You need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>Student enrolment ID from your school, college or university</li>
	<li><a href="https://directory.londoncouncils.gov.uk">London borough</a>&nbsp;address</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo</a>&nbsp;which must be a .jpg, .bmp or .gif file and less than 6MB</li>
</ul>

<p>You pay an administration fee of &pound;20 using a credit or debit card.</p>

<p>You can get a photocard valid for up to three years of your course.</p>

<p>We'll post your 18+ Student Oyster photocard to you once your school, college or university has approved your application.</p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="work-placement-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="18+ Student Oyster photocard-Work placement"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="work-placement-heading" class="accordion-heading">Work placement</div>
            </div>
            <div id="work-placement-content" class="start-hidden" role="region" aria-labelledby="work-placement-heading">

<div>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> and need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>Student enrolment ID from your school, college or university</li>
	<li>Your work placement start and end date</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo</a>&nbsp;which must be a .jpg, .bmp or .gif file and less than 6MB</li>
</ul>

<p>You pay an administration fee of &pound;20 using a credit or debit card.</p>

<p>Once you've applied online, you need to send us a letter confirming your work placement status&nbsp;from your school, college or university.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/work-placement-letter-template.pdf">
    <div class="document-download-text">
        <p>Work placement letter template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 <div>

<p>Send the letter to:</p>

<p>Transport for London<br />
Admail 4121<br />
London SW1P 1AT</p>

<p>It can take up to two weeks to process your application once we've received your letter.</p>
</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Check your application status</h2>

<ul>
	<li><a href="https://photocard.tfl.gov.uk/tfl/showLogon2.do">Sign in to your photocard web account</a></li>
	<li>If you gave us your mobile number when you applied, we'll text you when your photocard is on its way</li>
</ul>

<h2>How to use and where to buy</h2>

<p>Once you get your 18+ Student Oyster photocard, <a href="https://photocard.tfl.gov.uk/tfl/showLogon2.do">sign in to your photocard web account</a> to:</p>

<ul>
	<li>Buy discounted <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards</a></li>
	<li>Buy discounted <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a>&nbsp;season tickets</li>
	<li>Add <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;credit - you don't get discounted pay as you go fares</li>
</ul>

<p>You can also buy discounted Travelcards and Bus &amp; Tram Pass season tickets at <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a>, Tube stations and <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a>. You can buy discounted Travelcards at some National Rail stations.</p>

<p>You can then start using it to travel. Make sure you <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on yellow card readers. You only need to touch in on buses and trams.</p>

<p>Use your <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a> to manage your card or report a lost card.</p>

<h2>Expiry</h2>

<p>Your 18+ Student Oyster photocard expires when your course ends.</p>

<p>Your school, college or university will tell us if you're no longer eligible or your course end date has changed. Your photocard will then be stopped.</p>

<h2>Get a Railcard&nbsp;</h2>

<p>Save 34% on pay as you go off-peak fares and daily caps by adding a <a href="https://www.16-25railcard.co.uk/">16-25 Railcard</a>&nbsp;or <a href="https://www.26-30railcard.co.uk/">26-30 Railcard</a> to your 18+ Student Oyster photocard to travel on the Tube, London Overground, TfL Rail and most National Rail services in London.</p>

<h2>Schools, colleges and universities</h2>

<p>Schools, colleges and universities must register on the TfL Scheme so their students can apply for an 18+ Student Oyster photocard. The registration fee is &pound;25 (non-refundable).</p>

<p>If your location is outside London, but your students regularly&nbsp;commute from a <a href="https://directory.londoncouncils.gov.uk">London borough</a>, you may be eligible to register.</p>

<h3>Check if you're eligible to register</h3>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/placement-establishment-terms-and-conditions.pdf">
    <div class="document-download-text">
        <p>Placement establishment terms and conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/education-establishment-terms-and-conditions.pdf">
    <div class="document-download-text">
        <p>Education establishments terms and conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div>

<h3>Register on the TfL Scheme</h3>

<p>Call <a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may apply</a>) to register.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/campaign/student-travel">Student travel</a></li>
	<li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-oyster-photocard">Lost, stolen or damaged Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/faulty-oyster-photocard">Faulty Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/new-photo-needed-on-an-oyster-photocard">New photo needed on an Oyster photocard</a></li>
	<li><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Photocard web account</h3>
    <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do" class="primary-button">Sign in</a>
    <p>Apply for photocards and manage your account</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out if you're eligible for an 18+ Student Oyster photocard for discounted travel in London";}
        
            
        


 