
    
  



@{ViewBag.Title = "60+ London Oyster photocard";}
@{ViewBag.Keywords = "TfL,60 plus, 60+ London, 60 Oyster";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/60-plus-oyster-photocard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">60+ London Oyster photocard</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>60+ London Oyster photocard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you're 60 or over and live in a London borough, you can get free travel on our transport services with an Oyster photocard.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/60-london-oyster-photocard.png" alt="60 plus london oyster photocard" />
    </div>
    <h2>Benefits</h2>

<ul>
	<li>Free travel on bus, Tube, tram, DLR, London Overground, TfL Rail (excluding between West Drayton and Reading) and most National Rail services in London</li>
	<li>Discounted fares on the <a href="/modes/emirates-air-line/index">Emirates Air Line</a></li>
	<li>Discounted fares on <a href="/modes/river/index">River Services</a></li>
</ul>

<h3>Travel on National Rail</h3>

<p>You can travel free on most National Rail services from 09:30 on weekdays and anytime on weekends and&nbsp;public holidays.</p>

<p>You can travel free on these National Rail services, at any time:</p> 
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/60-plus-london-free-travel-national-rail-map.pdf">
    <div class="document-download-text">
        <p>60+ London free travel on National Rail map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 

<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Service</th>
			<th>Between</th>
		</tr>
		<tr>
			<td>Chiltern Railway</td>
			<td>Amersham and Marylebone</td>
		</tr>
		<tr>
			<td>Chiltern Railway</td>
			<td>West Ruislip and South Ruislip</td>
		</tr>
		<tr>
			<td>Great Northern</td>
			<td>Finsbury Park and King's Cross and Moorgate</td>
		</tr>
		<tr>
			<td>Thameslink</td>
			<td>West Hampstead Thameslink, Elephant &amp; Castle and London Bridge</td>
		</tr>
		<tr>
			<td>London Northwestern Railway</td>
			<td>Harrow &amp; Wealdstone and Euston</td>
		</tr>
		<tr>
			<td>Greater Anglia</td>
			<td>Stratford and Liverpool Street</td>
		</tr>
		<tr>
			<td>c2c</td>
			<td>Upminster and Fenchurch Street</td>
		</tr>
	</tbody>
</table></div>
<p>These routes are free if you travel from 09:00 or 09:30 on weekdays, weekends and public holidays:</p>

 

<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Service&nbsp;</th>
			<th>Between&nbsp;</th>
			<th>Travel from</th>
		</tr>
		<tr>
			<td>Southern</td>
			<td>Clapham Junction and Harrow &amp; Wealdstone</td>
			<td>09:00</td>
		</tr>
		<tr>
			<td>Southern</td>
			<td>New Cross Gate and West Croydon/Crystal Palace</td>
			<td>09:30</td>
		</tr>
		<tr>
			<td>Southern</td>
			<td>Peckham Rye and Queens Road</td>
			<td>09:30</td>
		</tr>
		<tr>
			<td>Southeastern</td>
			<td>Denmark Hill and Peckham Rye</td>
			<td>09:30</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h2>Who is it for?</h2>

<p>If you're 60 or over and live in a <a href="https://directory.londoncouncils.gov.uk/">London borough</a>, you can get a 60+ London Oyster photocard until you're eligible for a <a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a>.</p>

<p>You can't get a 60+ London Oyster photocard if you already have a <a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a>.</p>

<h2>How to apply</h2>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> for a 60+ London Oyster photocard from two weeks before your 60th birthday.</p>

<p>You need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>Details from your machine-readable passport or UK driving licence (full or provisional)</li>
	<li>A scanned colour image of your machine readable passport. This must be in .png or .jpg format and be less than 6MB. The image must show&nbsp;your photo, personal details and passport number</li>
	<li>Digital photo of you which must be a .jpg, .bmp or .gif file and be&nbsp;less than 6MB</li>
	<li>Debit or credit card registered at your address to confirm you live in a&nbsp;<a href="https://directory.londoncouncils.gov.uk/">London borough</a>&nbsp;and to pay an administration fee of &pound;20</li>
</ul>

<p>If you don't have these, you can still apply online but may be asked to:</p>

<ul>
	<li>Print a verification letter and take it to a <a href="https://www.postoffice.co.uk/branchfinder1">Post Office</a> in London with proof of your age and address</li>
	<li>Pay an administration fee of &pound;20 at a Post Office</li>
</ul>

<p><strong>Proof of age</strong> can be one of the following:</p>

<ul>
	<li>Passport</li>
	<li>An ID card from a European Economic Area country</li>
	<li>Medical Card</li>
	<li>Birth certificate</li>
	<li>Driving licence</li>
	<li>Biometric Residency Permit</li>
</ul>

<p><strong>Proof of address</strong> can be one of the following:</p>

<ul>
	<li>Residential utility bill (from last three months)</li>
	<li>Bank, building society or credit statement (from last three months)</li>
	<li>Department for Work and Pensions letter (from last three months)</li>
	<li>HM Revenue and Customs letter (from last three months)</li>
	<li>Occupational pension letter (from last three months)</li>
	<li>Council Tax bill</li>
	<li>Television licence</li>
	<li>Driving licence</li>
	<li>Council or Housing Association rent book or statement</li>
</ul>

<h3>Need help applying?</h3>

<p>If you need help applying, call us on <a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may&nbsp;apply</a>) with:</p>

<ul>
	<li>Your date of birth</li>
	<li>Your address</li>
	<li>Details from your machine-readable passport or UK driving licence (full or provisional)</li>
	<li>Debit or credit card registered at your address to confirm you live in London and to pay an administration fee of &pound;20</li>
</ul>

<h3>Check your application status</h3>

<ul>
	<li>When you apply for your 60+ London Oyster photocard, we'll set up a photocard web account for you. You can check your application status when you <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">sign in to your photocard web account</a></li>
	<li>Text your application reference number to <a href="tel:07624 809 330">07624 809 330</a>. You'll receive a response from our SMS service (standard network charges apply)</li>
</ul>

<h2>How to use</h2>

<p>Once you get your 60+ London Oyster photocard, you can use it straight away.</p>

<p>Make sure you <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on yellow card readers. You only need to touch in on buses and trams.</p>

<p>Use your <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a> to manage your card or report a lost card.</p>

<p>You can't add credit to your 60+ London Oyster photocard to <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>.</p>

<h2>Yearly address check and fee</h2>

<p>You need to provide proof of your London borough address and pay &pound;10 (non-refundable) for each year you have your photocard.</p>

<p>We'll let you know when to do this. Use your <a href="http://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a> to keep your contact details up to date.</p>

<p>If you don't provide proof, your photocard will be stopped.</p>

<h2>Expiry</h2>

<p>When your 60+ London Oyster photocard expires you may be eligible for a <a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a>.</p>

<p>If you agreed to share your data with London Councils when you applied for your 60+ London Oyster photocard, they'll send you a letter to confirm your name and address.</p>

<p>Once they've received confirmation and you meet the criteria for a Freedom Pass, London Councils will send you a Freedom Pass. You don't need to apply or provide a new photo.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-oyster-photocard">Lost, stolen or damaged Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/faulty-oyster-photocard">Faulty Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/new-photo-needed-on-an-oyster-photocard">New photo needed on an Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></li>
	<li><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Photocard web account</h3>
    <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do" class="primary-button">Sign in</a>
    <p>Apply for photocards and manage your account</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "If you're aged 60 or over and live in a London borough, you might be eligible for a 60+ London Oyster photocard";}
        
            
        


 