
    
  



@{ViewBag.Title = "Annual Gold Card discount";}
@{ViewBag.Keywords = "TfL,Annual Gold Card, Gold Card";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/annual-gold-card-discount";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">Annual Gold Card discount</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Annual Gold Card discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you have an Annual Travelcard or point to point season ticket, you can get discounts on fares across our transport services and on National Rail services with the Gold Card discount.
        
      </div>
    
    <div class="on-this-page">
      <h2>Benefits</h2>

<ul>
	<li>Get 1/3 discount on off-peak pay as you go fares and off-peak daily caps. Travel any time on weekends and public holidays and after 09:30, Monday to Friday</li>
	<li>Get 1/3 off National Rail&nbsp;Standard, First Class Anytime and off-peak fares for you and up to three adults when travelling with you</li>
	<li>Get 60% off child National Rail fares for up to four children aged between 5-15 when travelling with you</li>
	<li>Get 1/3 off Off-Peak Day Travelcards</li>
	<li>Buy a <a href="https://www.16-25railcard.co.uk/">16-25</a>, <a href="https://www.familyandfriends-railcard.co.uk/">Family &amp; Friends</a>, <a href="https://www.senior-railcard.co.uk/?gclid=EAIaIQobChMIuIuhpY-k3gIVa7HtCh17nAJYEAAYASAAEgIxD_D_BwE&amp;gclsrc=aw.ds">Senior</a>, <a href="https://www.twotogether-railcard.co.uk/">Two Together</a>, <a href="https://www.disabledpersons-railcard.co.uk/">Disabled Persons</a> or <a href="https://www.network-railcard.co.uk/">Network Railcard</a> (if eligible) for just &pound;10 for you or someone else</li>
</ul>

<p>Find out more about the <a href="http://www.nationalrail.co.uk/times_fares/ticket_types/46573.aspx">Annual Gold Card</a>.</p>

<h2>Add your discount to your Oyster card</h2>

<p>You need to add your Gold Card discount to your Oyster card to get discounted pay as you go fares.</p>

<p>A member of staff can add your discount, at:</p>

<ul>
	<li>Tube, London Overground and TfL Rail stations</li>
	<li><a href="http://www.nationalrail.co.uk/stations_destinations/">Some National Rail ticket offices</a></li>
	<li><a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a></li>
	<li><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a> (except Gatwick Airport South Terminal)</li>
</ul>

<p>You'll need to show your ticket or Gold Record Card and give a password.</p>

<p>You can then create or sign in to your <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a> and add your Oyster card. Use the same password you gave to staff when they added your discount. If you don't, you can't get a refund or replacement.</p>

<p>When you renew your annual ticket, you'll need to add the discount to your Oyster card again.</p>
      
           
      


<h2>Can I get it?</h2>

<p>You get a Gold Card, or Gold Record Card if you:</p>

<ul>
	<li>Buy an adult-rate Annual Travelcard on an Oyster card, National Rail smartcard or paper and you're issued with a Gold Record Card</li>
	<li>Buy an adult-rate point to point season ticket for journeys that start and end in the <a href="http://www.nationalrail.co.uk/Gold%20Card%20Dgm%20Key.pdf">Annual Gold Card area</a></li>
</ul>

<p>You can buy your annual ticket at a station and you'll also get your Gold Record Card.</p>

<p>If you order online, we'll send your Gold Record Card in the post. You're not eligible for discounts until you have it.</p>

<h2>How to use</h2>

<p>Carry your Annual Gold Card or Gold Record Card and Oyster card, with the discount added, with you at all times. Don't let anyone else use them.</p>

<h2>Not received or lost your Gold Record Card?</h2>

<p>If you've not received or lost your Gold Record Card, call us on <a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may apply</a>).</p>

<p>When you receive your new Gold Record Card, you'll need to add your discount to your Oyster card again.</p>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "You can get Annual Gold Card discounts when you buy an Annual Travelcard for travel in London";}
        
            
        


 