
    
  



@{ViewBag.Title = "Apprentice Oyster photocard";}
@{ViewBag.Keywords = "TfL,Apprentice Oyster, Oyster, apprentice";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/apprentice-oyster-photocard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">Apprentice Oyster photocard</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Apprentice Oyster photocard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you're 18 or over, live in a London borough and in your first year of an apprenticeship, you can get discounted travel with an Oyster photocard. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/apprentice-oyster.png" alt="Apprentice Oyster photocard" />
    </div>
    <h2>Benefits</h2>

<p>Get 30% off adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards</a> and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a>&nbsp;season tickets.</p>

<h2>Who is it for?</h2>

<p>You can apply for an Apprentice Oyster photocard if:</p>

<ul>
	<li>Aged 18 or over</li>
	<li>Live in a <a href="https://directory.londoncouncils.gov.uk/">London borough</a></li>
	<li>Enrolled on an apprenticeship with a further education college or training organisation (funded or approved by the Education and Skills Funding Agency) for a minimum of 12 months</li>
	<li>In the first 12 months of your apprenticeship</li>
	<li>Started your apprenticeship and not on a planned break from your learning</li>
</ul>

<p>Your apprenticeship must be SASE (Specification for Apprenticeship Standards in England) compliant or an approved standard.</p>

<h2>How to apply</h2>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> and need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>Unique Learner Number (ULN)</li>
	<li>UK Provider Reference Number (UKPRN)</li>
	<li><a href="https://directory.londoncouncils.gov.uk/">London borough</a>&nbsp;address</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo</a>&nbsp;which must be a .jpg, .bmp or .gif file and less than 6MB</li>
</ul>

<p>You pay an administration fee of &pound;20 using a credit or debit card.</p>

<p>We'll post your Apprentice Oyster photocard to you within two weeks of applying.</p>

<h3>Check your application status</h3>

<ul>
	<li><a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">Sign in to your photocard web account</a></li>
	<li>Text your application reference number to <a href="tel:07624 809 330">07624 809 330</a>. You'll receive a response from our SMS service (standard network changes apply)</li>
</ul>

<h2>How to use and where to buy</h2>

<p>Once you get your Apprentice Oyster photocard, <a href="https://photocard.tfl.gov.uk/tfl/showLogon2.do">sign in to your photocard web account</a> to:</p>

<ul>
	<li>Buy discounted <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards</a></li>
	<li>Buy discounted <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a>&nbsp;season tickets</li>
	<li>Add <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;credit - you don't get discounted pay as you go fares</li>
</ul>

<p>You can also buy discounted Travelcards and Bus &amp; Tram Pass season tickets at <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a>, Tube stations and <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a>. You can buy discounted Travelcards at some National Rail stations.</p>

<p>You can then start using it to travel. Make sure you <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on yellow card readers. You only need to touch in on buses and trams.</p>

<p>Use your <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a> to manage your card or report a lost card.</p>

<h2>Expiry</h2>

<p>Your Apprentice Oyster photocard expires after 12 months.</p>

<p>If you're removed from your apprenticeship, or leave early, your photocard will be stopped.</p>

<p>If you change to a different level of apprenticeship or start a new apprenticeship, you need to apply for&nbsp;a new&nbsp;photocard.</p>

<h2>Get a 16-25 Railcard</h2>

<p>Save 34% on pay as you go off-peak fares and daily caps by adding a <a href="https://www.16-25railcard.co.uk/">16-25 Railcard</a> to your Apprentice Oyster photocard to travel on the Tube, London Overground, TfL Rail and most National Rail services in London.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-oyster-photocard">Lost, stolen or damaged Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/faulty-oyster-photocard">Faulty Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/new-photo-needed-on-an-oyster-photocard">New photo needed on an Oyster photocard</a></li>
	<li><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></li>
</ul> 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Photocard web account</h3>
    <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do" class="primary-button">Sign in</a>
    <p>Apply for photocards and manage your account</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "If you're 18 or over, live in a London borough and in the first year of an apprenticeship, you can get discounted travel with an Oyster photocard";}
        
            
        


 