
    
  



@{ViewBag.Title = "Freedom Pass";}
@{ViewBag.Keywords = "TfL,Freedom Pass, Older Persons Freedom Pass, Disabled Persons Freedom Pass";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/freedom-pass";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">Freedom Pass</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Freedom Pass</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Travel for free or get discounts on our transport and most National Rail services with a Freedom Pass.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/freedom-pass-2021.jpg" alt="Freedom Pass image" />
    </div>
    <h2>Benefits</h2>

<p>You can travel for free or get discounts on a range of transport services across London.</p>

<h3>Buses, trams and trains</h3>

<p>Travel free any time on bus, tram, Tube, DLR, London Overground and TfL Rail.</p>

<p>Travel free after 9:30 weekdays, and any time on weekends and public holidays on most National Rail Services in London.</p>

<p>See where you can travel on the <a href="https://www.londoncouncils.gov.uk/services/freedom-pass/using-pass/freedom-pass-travel-map">Freedom Pass map</a>.</p>

<h3>River services</h3>

<p>Get a discount on your fare for some <a href="/modes/river/index">river services</a> by showing your Freedom Pass when you buy your ticket.</p>

<h3>Emirates Air Line</h3>

<p>Get a discount on your fare for the <a href="/modes/emirates-air-line/index">Emirates Air Line</a> by showing your Freedom Pass when you buy your ticket.</p>

<h2>Can I get it?</h2>

<p>You can get an Older Person's Freedom Pass if you meet the age requirement and live in a London borough. <a href="https://www.londoncouncils.gov.uk/services/freedom-pass/older-persons-freedom-pass/eligibility">Check if you're eligible for an Older Person's Freedom Pass</a>.</p>

<p>You can get a Disabled Person's Freedom Pass, if you have an eligible disability and live in London. <a href="https://www.londoncouncils.gov.uk/services/freedom-pass/disabled-persons-freedom-pass/eligibility">Check if you're eligible for a Disabled Person's Freedom Pass</a>.</p>

<h2>How to apply</h2>

<p>Apply to London Councils for your Freedom Pass:</p>

<ul>
	<li><a href="https://www.londoncouncils.gov.uk/services/freedom-pass/older-persons-freedom-pass/apply">Apply for an Older Person's Freedom Pass</a></li>
	<li><a href="https://www.londoncouncils.gov.uk/services/freedom-pass/disabled-persons-freedom-pass/apply">Apply for a Disabled Person's Freedom Pass</a></li>
</ul>

<h2>How to use</h2>

<p>Make sure you <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on yellow card readers. You only need to touch in on buses and trams.</p>

<h3>Using your Freedom Pass outside London</h3>

<p>The rose symbol on your Freedom Pass means you can travel free on local buses all over England.</p>

<p>Use your Freedom Pass between 9:30 and 23:00 on weekdays and anytime on weekends and public holidays.</p>

<h3>Using bus passes if you don't live in London</h3>

<p>If you've got an English National Concessionary Scheme bus pass, issued by an English council outside of London, you can travel on our buses. Just show your pass to the driver.</p>

<h2>Related content</h2>

<ul>
	<li><a href="https://www.londoncouncils.gov.uk/services/freedom-pass/lost-stolen-or-damaged-pass">Change of details, lost, stolen or damaged pass</a></li>
</ul> 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "If you live in London and meet the age criteria, or have an eligible disability, you may be able to get a Freedom Pass to travel for free on our transport in London";}
        
            
        


 