
    
  



@{ViewBag.Title = "National Railcard discounts";}
@{ViewBag.Keywords = "TfL,National Railcards";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/national-railcard-discount";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">National Railcard discounts</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>National Railcard discounts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Your National Railcard gives you discounts on the Tube, DLR, London Overground, TfL Rail and National Rail services.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/national-railcard.png" alt="National Railcard" />
    </div>
    <h2>National Railcards</h2>

<p>There are different Railcards available to suit your age and needs.&nbsp;You need to <a href="/fares/contactless-and-oyster-account">register your Oyster card</a> if you're adding a discount to it and want to apply for refunds or replacements.</p>

<h3>16-25 Railcard</h3>

<p>Get 1/3 discount on off-peak pay as you go travel. Add your discount to an Oyster card or <a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a>.</p>

<p>You can also buy discounted Off-Peak Day Travelcards to travel:</p>

<ul>
	<li>At any time on weekends and public holidays</li>
	<li>After 09:30 Monday to Friday, during July or August, or after 10:00, Monday to Friday for the rest of the year</li>
</ul>

<p><a href="http://www.16-25railcard.co.uk/?utm_source=railcard.co.uk&amp;utm_medium=portal&amp;utm_content=more-info&amp;utm_campaign=portal">Apply for a 16-25 Railcard</a></p>

<h3>26-30 Railcard</h3>

<p>Get 1/3 discount on off-peak pay as you go travel. Add your discount to an Oyster card or <a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a>.</p>

<p>You can also buy discounted Off-Peak Day Travelcards to travel:</p>

<ul>
	<li>At any time on weekends and public holidays</li>
	<li>After 10:00, Monday to Friday</li>
</ul>

<p><a href="https://www.26-30railcard.co.uk/">Apply for a 26-30 Railcard</a></p>

<h3>Senior Railcard</h3>

<p>If you're 60 or over, you can get 1/3 discount on off-peak pay as you go travel. Add your discount to an Oyster card.</p>

<p>You can also buy discounted Off-Peak Day Travelcards to travel:</p>

<ul>
	<li>At any time on weekends and public holidays</li>
	<li>After 09:30, Monday to Friday</li>
</ul>

<p><a href="https://www.senior-railcard.co.uk/?utm_source=railcard.co.uk&amp;utm_medium=portal&amp;utm_content=more-about&amp;utm_campaign=portal">Apply for a Senior Railcard</a></p>

<h3>HM Forces Railcard</h3>

<p>Get 1/3 discount on off-peak pay as you go travel. Add your discount to an Oyster card.</p>

<p>You can also buy discounted Off-Peak Day Travelcards for yourself and up to four children aged between 5 and 15, travelling with you. You can travel:</p>

<ul>
	<li>At any time on weekends and public holidays</li>
	<li>After 09:30, Monday to Friday during July and August, or after 10:00, Monday to Friday for the rest of the year</li>
</ul>

<p><a href="http://www.hmforces-railcard.co.uk/">Apply for an HM Forces Railcard</a></p>

<h3>Disabled Persons Railcard</h3>

<p>Get 1/3 discount on:</p>

<ul>
	<li>Pay as you go travel</li>
	<li>Off-Peak Day Travelcard for you or someone aged over 16 travelling with you</li>
</ul>

<p>Add your discount to an Oyster card.</p>

<p>With an Off-Peak Day Travelcard, you can travel:</p>

<ul>
	<li>At any time on weekends and public holidays</li>
	<li>After 09:30, Monday to Friday</li>
</ul>

<p>If you use a <a href="/fares/free-and-discounted-travel/freedom-pass">Disabled Person's Freedom Pass</a> to travel, you can't use your Disabled Persons Railcard to buy a discounted ticket for someone else.</p>

<p><a href="https://www.disabledpersons-railcard.co.uk/?source=portal">Apply for a Disabled Persons Railcard</a></p>

<h3>Network Railcard</h3>

<p>Get 1/3 discount on off-peak rail travel in London and the South East. You can buy discounted Off-Peak Day Travelcards to travel anytime on weekends and public holidays for yourself, and:</p>

<ul>
	<li>Up to three adults aged 16 or over</li>
	<li>Up to four children aged between 5 and 15</li>
</ul>

<p>They must be travelling with you.</p>

<p>If your annual Travelcard covers the same zones as a discounted Day Travelcard, you can travel after 10:00, Monday to Friday, and buy discounted Off-Peak Day Travelcards, for:</p>

<ul>
	<li>Up to four children aged between 5 and 15</li>
</ul>

<p>You can't add this discount to an Oyster card.</p>

<p><a href="https://www.network-railcard.co.uk/">Apply for Network Railcard</a></p>

<h3>Family &amp; Friends Railcard</h3>

<p>Get 1/3 discount on Off-Peak Day Travelcards for yourself and:</p>

<ul>
	<li>Up to three adults aged 16 or over</li>
	<li>Up to four children aged between 5 and 15</li>
</ul>

<p>They must always travel with you.</p>

<p>You can travel anytime on weekends and public holidays.</p>

<p>If two adults each have a Family &amp; Friends Railcard, you can get discounted travel for:</p>

<ul>
	<li>Up to two adults aged 16 or over</li>
	<li>Up to four children aged between 5 and 15</li>
</ul>

<p>They must always travel with you.</p>

<p>You can't add this discount to an Oyster card.</p>

<p><a href="https://www.familyandfriends-railcard.co.uk/?utm_source=railcard.co.uk&amp;utm_medium=portal&amp;utm_content=more-about&amp;utm_campaign=portal">Apply for a Family &amp; Friends Railcard</a></p>

<h3>Two Together Railcard</h3>

<p>Get 1/3 discount on Off-Peak Day Travelcards for you and another named person, to travel:</p>

<ul>
	<li>At any time on weekends and public holidays</li>
	<li>After 09:30, Monday to Friday</li>
</ul>

<p>You can't add this discount to an Oyster card.</p>

<p><a href="https://www.twotogether-railcard.co.uk/">Apply for a Two Together Railcard</a></p>

<h2>Add your discount to your Oyster card</h2>

<p>A member of staff can add your Railcard discount at:</p>

<ul>
	<li>Tube, London Overground and TfL Rail stations</li>
	<li><a href="http://www.nationalrail.co.uk/stations_destinations/">Some National Rail ticket offices</a></li>
	<li><a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a></li>
</ul>

<p>You'll need to show your National Railcard.</p>

<p>When you renew your National Railcard, you'll need to add the discount on your Oyster card again.</p>

<h2>How to use</h2>

<p>Carry your National Railcard with you at all times and don't let anyone else use it.</p>

<p>&nbsp;</p> 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "National Railcard discounts on Tube, DLR, London Overground, TfL Rail and National Rail services ";}
        
            
        


 