
    
  



@{ViewBag.Title = "Rules of travel for under 18s";}
@{ViewBag.Keywords = "TfL,Rules, travel rules, under 18s";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/rules-of-travel-for-under-18s";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">Rules of travel for under 18s</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Rules of travel for under 18s</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our Young Person's Behaviour Code exists to ensure you travel safely and show respect for others.   
        
      </div>
    
    
      <p>You must follow it or you risk losing your concession or your Zip Oyster photocard.</p>

<p>The Young Person's Behaviour Code helps you travel safely and be respectful of travellers, staff and property. Expected behaviours include, but are not limited to:</p>

<h2>Act in a considerate and responsible manner</h2>

<ul>
	<li>Act safely</li>
	<li>Cooperate with our staff and treat them and other passengers with respect</li>
	<li>Use language that does not cause offence to others</li>
	<li>Ensure you are the only person that can hear your music</li>
	<li>Ensure you pick up all your litter</li>
	<li>Keep your feet off the seats</li>
	<li>Give up your seat for others</li>
</ul>

<h2>Look after your Oyster photocard</h2>

<ul>
	<li>Ensure it's not used by another person</li>
	<li>Ensure your photo is clearly recognisable and the card is in good condition</li>
	<li>If it is <a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-oyster-photocard">lost, stolen or damaged</a>, report it to TfL immediately, even if you do not plan to get a replacement straight away</li>
</ul>

<h2>Use your Oyster photocard correctly</h2>

<ul>
	<li>Always <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a> on the yellow reader on buses and trams</li>
	<li>Always <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a>&nbsp;at&nbsp;the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end&nbsp;on the Tube, DLR,&nbsp;London Overground, TfL Rail and National Rail services</li>
	<li>Pay the&nbsp;right fare if you do not have your valid photocard with you, or it is damaged</li>
	<li>Pay any <a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">penalty fare</a> that has been issued to you</li>
</ul>

<h2>You must not:</h2>

<ul>
	<li>Smoke, take drugs or drink alcohol on our vehicles and/or premises</li>
	<li>Behave in a way that we consider to be antisocial</li>
	<li>Commit any crime that affects our services, passengers, staff or property</li>
	<li>Breach the Conditions of Carriage Public Service Vehicles Regulations (1990) or any TfL Byelaw</li>
</ul>

<h2>If you don't follow the code</h2>

<p>If you fail to follow the Young Person's Behaviour Code, commit a crime on London's public transport network or premises or if we believe that you have behaved in an antisocial way, then:</p>

<ul>
	<li>If you're using a <a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocard</a> or <a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocard</a>, your concession may be withdrawn</li>
	<li>If you're using a <a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a>, your Oyster photocard and your concession may be withdrawn</li>
</ul>

<h2>Earn your travel back</h2>

<p>If your Zip Oyster photocard was withdrawn for breaching the Young Person's Behaviour Code, you can earn it back by volunteering in your local community.</p>

<p>We'll let your parent or guardian know that your concession has been withdrawn and give them details about how you can earn your travel back.</p>

<p>You can't take part if:</p>

<ul>
	<li>You had your concession withdrawn because of criminal behaviour</li>
	<li>You've taken part in the Earn Your Travel Back scheme before for a previous withdrawal</li>
</ul>

<p>If you have any questions, contact <a href="mailto:iap&#64;tfl.gov.uk">iap&#64;tfl.gov.uk</a>.</p>
      
           
      <div>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/find-fares/penalty-fares-and-how-to-pay-them">Penalty fares and how to pay them</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Young Person's Behaviour Code for travel on all TfL services";}
        
            
        


 