
    
  



@{ViewBag.Title = "Travel for schools";}
@{ViewBag.Keywords = "TfL,School travel, free school travel";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/travel-for-schools";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">Travel for schools</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Travel for schools</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Your school could get free off-peak group travel when you register for our School Party Travel Scheme.
        
      </div>
    
    <div class="on-this-page">
      <h2>Benefits&nbsp;</h2>

<p>Free off-peak travel for visits to educational, sporting and cultural venues in London for school groups.</p>

<p>The scheme gives free travel on:</p>

<ul>
	<li>Bus</li>
	<li>Tube</li>
	<li>Tram</li>
	<li>DLR</li>
	<li>London Overground</li>
	<li>TfL Rail</li>
	<li>Most National Rail services within London Zones 1-6</li>
	<li>National Rail services outside London between Amersham and Moor Park</li>
</ul>

<h2>Can my school register?</h2>

<p>You can register if you're:</p>

<ol>
	<li>&nbsp;In a&nbsp;<a href="https://directory.londoncouncils.gov.uk/">London borough</a></li>
	<li>&nbsp;Teaching the National Curriculum or Further Education subjects</li>
</ol>

<p>The scheme is open to state, independent and academy schools.</p>

<p>Summer schools run in association with local education authorities can register. You may need to provide evidence in your application, such as an Ofsted report.</p>

<p>Nursery schools can also register.</p>

<h2>How does it work?</h2>

<h3>Register your school</h3>

<p>To register your school for the scheme, send us a letter on letter-headed paper, confirming:</p>

<ul>
	<li>Your school wants to join the School Party Travel Scheme</li>
	<li>Your school&nbsp;follows the National Curriculum or a substantially similar programme</li>
	<li>The <a href="https://directory.londoncouncils.gov.uk/">London borough</a> your school is in</li>
	<li>Your schools Ofsted Unique Reference Number (URN)</li>
	<li>Name and address of the school, including postcode and telephone number and a school email address</li>
	<li>Your school will abide by the scheme's terms and conditions</li>
</ul>

<p>Email your letter in pdf format to&nbsp;<a href="mailto:schoolparty&#64;tfl.gov.uk">schoolparty&#64;tfl.gov.uk</a>, or post it to us at:<br />
<br />
School Party Travel team<br />
Transport for London<br />
14 Pier Walk<br />
London SE10 0ES</p>

<h3>Number of trips per school</h3>

<p>A maximum of two trips per child, per term. You can include up to 90 children and 18 adults on each application.</p>

<h3>Group size</h3>

<p>A minimum of one adult (aged 18 or over) and maximum of two adults for every 10 children (aged under 18).</p>

<p>If you need to travel with more adults, they'll need to pay <a href="/fares/find-fares">adult fares</a>.</p>

<p>If you're a special educational needs school and/or making a trip with children with special needs and need to travel with more than 10 adults, <a href="/help-and-contact/index">contact us</a>.</p>

<p>When you apply for tickets, we'll check which services are available for your time of travel. We may need to stagger the travel time to make sure there's space for your group and other travellers.</p>

<p>You must only use School Party Travel tickets:</p>

<ul>
	<li>At the specific stations and/or bus routes shown on your ticket</li>
	<li>On the date and times shown on your ticket</li>
	<li>For the number of children and adults shown on your ticket</li>
</ul>

<p>&nbsp;If you don't, your ticket isn't valid for travel and your school may be suspended from the scheme.</p>

<h4>Places to visit</h4>

<p>You can apply for free travel&nbsp;to educational, cultural or sporting venues that support the National Curriculum. These include:</p>

<ul>
	<li>Animal parks and zoos</li>
	<li>Areas of cultural interest (for example Chinatown)</li>
	<li>Artists' studios, arts centres and design studios</li>
	<li>Buildings of architectural or environmental interest</li>
	<li>Cinemas, concert halls and theatres</li>
	<li>City Farms, commons, heaths and parks</li>
	<li>Film studios, galleries, museums and print works</li>
	<li>Sites of archeological, environmental or religious interest</li>
	<li>Sporting venues, swimming pools, playing fields and indoor leisure centres. You can also be spectating or participating in sport</li>
	<li>Occasional venues which support an area of study but take place for a limited time</li>
</ul>

<p>Recreational trips, such as trips to theme or amusement parks,&nbsp;are excluded.&nbsp;If you have special requirements for your trip, include these on your application.</p>
      
           
      
<h3>Journey times </h3>
<p>Try to start your journey after 10:00 to avoid the busiest times. The scheme runs from Monday to Friday at the following times:</p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong>Service</strong></td>
            <td><strong>Journeys must start no earlier than </strong></td>
            <td><strong>Must begin the final leg of your journey by</strong> </td>
        </tr>
        <tr>
            <td>Buses and trams</td>
            <td>09:30</td>
            <td>16:30</td>
        </tr>
        <tr>
            <td>Tube, DLR, London Overground, TfL Rail and National Rail</td>
            <td>09:50 where journey starts in Zone 1 or 2</td>
            <td>16:30</td>
        </tr>
        <tr>
            <td>Tube, DLR, London Overground, TfL Rail and National Rail</td>
            <td>09:30 where journey starts in Zones 3-9</td>
            <td>16:30</td>
        </tr>
    </tbody>
</table></div>


 <div>

<h2>Apply for tickets&nbsp;</h2>

<p>You can apply for School Party Travel tickets up to three months in advance. If you apply online, you can't apply any later than 14 days before you travel. If you apply by email or post, you can't apply any later than 21 days before you travel.</p>

<p>It's best to apply early as we may reject applications from too many school groups travelling to the same venue or event.</p>

<h3>Travelling to a new venue</h3>

<p>If your venue or event doesn't appear in the drop down list when you apply, you can suggest it. It may take up to seven working days&nbsp;for us to decide if it can be added.</p>

<h3>Travelling on National Rail</h3>

<p>If your trip includes National Rail services you can book your tickets through us. On your application you must tell us the <a href="/plan-a-journey/index">time of the train(s) you want to travel on</a>.</p>

<h3>Terms and conditions</h3>

<ul>
	<li><a href="/cdn/static/cms/documents/school-party-travel-scheme-t-and-cs-from-1-october-2019.pdf">School Party Travel Scheme terms and conditions</a></li>
</ul>

<h3>Apply online</h3>

<p>Apply on your <a href="https://schoolparty.tfl.gov.uk/">School Party Travel Scheme account</a>.</p>

<h3>Apply by email or post</h3>

<p>If you're a nursery school, you can apply by email or post:</p>

<ol>
	<li>Complete the application form.</li>
</ol>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/school-party-application-form-2016.pdf">
    <div class="document-download-text">
        <p>School Party Travel Scheme application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 <div>

<p>2. Scan and email your form to <a href="mailto:schoolparty&#64;tfl.gov.uk">schoolparty&#64;tfl.gov.uk</a>.</p>

<p>We'll email your tickets to you when your application is approved.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>School Party Travel Scheme account</h3>
    <a href="https://schoolparty.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Apply for tickets and manage your account</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1000
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:schoolparty&#64;tfl.gov.uk">schoolparty&#64;tfl.gov.uk</a></p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Register for TfL's School Party Travel Scheme to benefit from free off-peak group travel";}
        
            
        


 