
    
  



@{ViewBag.Title = "Veterans Oyster photocard";}
@{ViewBag.Keywords = "TfL,Veterans, war, armed forces, army, Veterans Oyster";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/veterans-oyster-photocard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">Veterans Oyster photocard</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Veterans Oyster photocard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you served in the armed forces, you could get free and discounted travel on our transport services with a Veterans Oyster photocard.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/veterans-oyster.png" alt="Veterans Oyster" />
    </div>
    <h2>Benefits</h2>
<ul>
    <li>Free travel at anytime on bus, Tube, tram, DLR, London Overground and TfL Rail</li>
    <li>Free travel on most National Rail services in London</li>
    <li>Discounted fares on the <a href="/modes/emirates-air-line/index">Emirates Air Line</a></li>
    <li>Discounted fares on <a href="/modes/river/index">River Services</a></li>
</ul>
<h2>Travel on National Rail</h2>
<p>You can travel free on most National Rail services from 09:30 weekdays and anytime on weekends and public holidays:</p> 
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/veterans-map.pdf">
    <div class="document-download-text">
        <p>Veterans Concessionary Travel Scheme map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 <div>

You can travel on these routes before 09:30 on a weekday:
</div>
 

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Service&nbsp;</strong></td>
			<td><strong>Between</strong>&nbsp;</td>
		</tr>
		<tr>
			<td>Chiltern Railway</td>
			<td>Amersham and Marylebone</td>
		</tr>
		<tr>
			<td>Chiltern Railway</td>
			<td>West Ruislip and South Ruislip</td>
		</tr>
		<tr>
			<td>Great Northern</td>
			<td>Finsbury Park and King's Cross and Moorgate</td>
		</tr>
		<tr>
			<td>Thameslink</td>
			<td>West Hampstead Thameslink, Elephant &amp; Castle and London Bridge</td>
		</tr>
		<tr>
			<td>London Northwestern Railway</td>
			<td>Harrow &amp; Wealdstone and Euston</td>
		</tr>
		<tr>
			<td>Greater Anglia</td>
			<td>Stratford and Liverpool Street</td>
		</tr>
		<tr>
			<td>c2c</td>
			<td>Upminster and Fenchurch Street</td>
		</tr>
	</tbody>
</table></div>
<h2>Who is it for?</h2>

<p>You can get a Veterans Oyster photocard if you:</p>

<ul>
	<li>Receive ongoing payments under the <a href="https://www.gov.uk/government/publications/war-pension-scheme/war-pension-scheme-what-you-need-to-know">War Pensions Scheme</a> in your name. This includes widows, widowers and dependants</li>
	<li>Receive Guaranteed Income Payment under the <a href="https://www.gov.uk/government/publications/armed-forces-compensation/armed-forces-compensation-what-you-need-to-know">Armed Forces Compensation Scheme</a> in your name. This includes widows, widowers and dependants</li>
</ul>

<p>Ongoing payments are awarded to service personnel who've sustained a certain level of physical or psychological injury in the line of duty. If you received a one-off gratuity payment instead, you can't get a Veterans Oyster photocard.</p>

<p>You also can't get a Veterans Oyster photocard if you live&nbsp;in a&nbsp;<a href="https://directory.londoncouncils.gov.uk/">London borough</a> and are eligible for a <a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a> or <a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a>.</p>

<h2>How to apply?</h2>

<p>You fill out an application form to apply for a Veterans Oyster photocard. Call us on <a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may apply</a>) to get your form.</p>

<p>Complete and return your form with:</p>

<ul>
	<li>A photocopy of your Awards Notification or annual uprating letter from Veterans UK or the Service Personnel and Veterans Agency (dated in the last two years)</li>
	<li>A passport-sized full-face photo including your head and shoulders. Don't wear anything that covers your head unless worn for religious or medical reasons</li>
</ul>

<h2>How to use</h2>

<p>Once you get your Veterans Oyster photocard, you can use it straight away.</p>

<p>Make sure you <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on yellow card readers. You only need to touch in on buses and trams.</p>

<h2>Expiry</h2>

<p>Your Veterans Oyster photocard expires on the date shown on the front of your card.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-oyster-photocard">Lost, stolen or damaged Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/faulty-oyster-photocard">Faulty Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/new-photo-needed-on-an-oyster-photocard">New photo needed on an Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></li>
	<li><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></li>
	<li><a href="http://www.veterans-uk.info/">Veterans UK</a></li>
	<li><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></li>
</ul>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Photocard web account</h3>
    <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do" class="primary-button">Sign in</a>
    <p>Apply for photocards and manage your account</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "If you served in the arms forces, you may be eligible for free and discounted travel in London";}
        
            
        


 