


@{ViewBag.Title = "Bus stops alter at Victoria while station is upgraded";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus stops alter at Victoria while station is upgraded</h1>
        <div class="content-page-press-release">
        17 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Victoria station upgrade works to deliver better access, more capacity and reduce congestion. Bus stopping arrangements around Victoria station to change.
        
    </div>



 <div class="on-this-page">
<p>Bus services at Terminus Place and Victoria bus station will be using different stops from today, Thursday 17 November, to make way for works for the major upgrade of Victoria station.</p>
<p>The Victoria station upgrade project will deliver improved capacity and access at the station, including:</p>
<ul>
<li>Cutting peak-time congestion and improving capacity with nine new escalators, plus a new north ticket hall and entrance to the station beneath Bressenden Place. This will&nbsp;allow passengers from Victoria Street to enter the station without crossing busy roads above ground</li>
<li>Providing better station access for all passengers with new lifts in the enlarged existing south ticket hall providing step-free access to all platform levels and wider stairs to the national rail station</li>
<li>Seven new lifts providing step-free access from street to the Victoria line and for interchange with District and Circle line platforms</li>
<li>A new passageway to the north end of the Victoria line platform</li></ul>
<p>The next stage of construction work will affect bus routes that use Terminus Place, which will close to traffic from 1 December for approximately two years. </p>
<p>Passengers are advised local changes to bus routes will take effect from 17 November as detailed below:</p>
<ul>
<li>Routes 2, 36, 185, 436, N2, and N136 towards Vauxhall will use stop L in Vauxhall Bridge Road</li>
<li>Route C2 towards Parliament Hill Fields will use stop Q in Grosvenor Gardens</li>
<li>Routes 11 and 211 towards Liverpool Street and Waterloo will use stop S on Buckingham Palace Road&nbsp;</li>
<li>Routes 44, C1 and C10 will no longer serve the bus station and will set down passengers at stop S on Buckingham Palace Road&nbsp;</li>
<li>Routes 170, C1 and C10 will use stop R outside the Grosvenor Hotel in Buckingham Palace Road&nbsp;</li>
<li>Routes 16, 52, 82 and 170 will set down passengers at stop A in the bus station instead of Terminus Place. They will continue to pick up passengers at their regular stops</li></ul>
<p>The overall project completion date for the Victoria station upgrade is 2018. </p>
<p>Details of any further diversions and alternative stopping arrangements during these works will be available at local bus stops, around the bus station and on the Transport for London website <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>. </p>
<p>Bus station staff will also be available to help passengers with onwards connections.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bus services at Terminus Place and Victoria bus station will be using different stops from today, Thursday 17 November, to make way for works for the major upgrade of Victoria station.The Victoria station upgrade project will deliver improved capacity and";}
        
        


 