


@{ViewBag.Title = "Business welcomes Games transport 'hot spot' information to ensure London is 'open for business' in 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Business welcomes Games transport 'hot spot' information to ensure London is 'open for business' in 2012</h1>
        <div class="content-page-press-release">
        30 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) of London has released 2012 Games transport 'hot spot' information and advice, which will enable businesses to finalise their plans and ensure the capital is 'open for business' throughout next summer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By planning ahead using the information published today, we will not only keep London moving and open for business, but London will benefit financially from the Games and for many years to come through increased investment and visitors"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By planning ahead using the information published today, we will not only keep London moving and open for business, but London will benefit financially from the Games and for many years to come through increased investment and visitors
                            
                        </p>
                    </div>
                
            
            
            <p>Leading London businesses and organisations, including John Lewis Partnership, Boots, Sainsbury's, Canary Wharf Group, Deloitte and the Evening Standard today welcomed the news.</p>
<p>Hosting the Olympic and Paralympic Games is a huge logistical challenge, similar in scale to hosting the FA Cup Final, Wimbledon, concerts across the capital and the London Marathon all on the same day, every day, but over several weeks.</p>
<p>Events will be taking place right across London and the UK, with central London particularly busy as it effectively becomes a massive sporting and cultural events venue.</p>
<p>In response to requests from business for more detailed information, TfL has now published very detailed transport 'hot spot' information covering London's roads and public transport network.</p>
<p>This demonstrates that, rather than requiring a blanket reduction in travel by 30 per cent across London as a whole, the transport challenge is focused at certain times and in certain locations, generally in central London and around Games venues.</p>
<p>Around 70 per cent of road traffic in Greater London will be unaffected and two thirds of Tube and DLR stations will see no impact, in terms of additional time taken to board a train.&nbsp;</p>
<p>However, on the busiest days, there will an additional three million journeys in London as people watch the Games and attend cultural events, meaning the road and public transport networks will be much busier than usual in certain locations.</p>
<h2>Open for business</h2>
<p>London 2012 and TfL have been working with businesses for over a year, to enable them to plan ahead and from early next year will begin to communicate directly with the public across London and the UK.</p>
<p>Transport Secretary, Justine Greening, said:&nbsp; 'Around &pound;6.5 billion has been investment in upgrading and increasing capacity on our transport networks, delivering an early legacy of transport improvements which will benefit millions of people for generations to come.</p>
<p>'However, on the busiest days of the Games, with an additional three million journeys in the capital it is only sensible that businesses plan ahead, particularly those in and around travel 'hot spots'.&nbsp;</p>
<p>I welcome the publication of this information today and the cooperation of everyone involved in organising the London 2012 Games.&nbsp;</p>
<p>This should give us all confidence that we are putting in the necessary steps that will keep the country, and especially our capital, moving whilst delivering the best Games ever.'</p>
<p>Mayor of London, Boris Johnson said: 'My message is clear - prepare to profit during the Games.&nbsp;By planning ahead using the information published today, we will not only keep London moving and open for business, but London will benefit financially from the Games and for many years to come through increased investment and visitors.'</p>
<p>London's Transport Commissioner, Peter Hendy said: 'We have two clear objectives, to support the delivery of a great London 2012 Games and ensure we keep London moving and open for business next summer.</p>
<p>'What's clear from the detailed analysis we've published today is that while large parts of London will be able to operate pretty much as normal, in other areas, including central London and around Games venues, roads and public transport networks will clearly be affected.&nbsp; </p>
<p>'However, rather than a blanket 30 per cent reduction in travel across London as a whole we need to focus attention in certain 'hot spot' locations at certain times.</p>
<p>'We'll continue to work with businesses and early next year will start communicating with regular travellers, to ensure they can stay ahead of the Games, we keep London and the UK moving and businesses can make the most of all the Games have to offer.'</p>
<p>Jo Valentine, Chief Executive of London First, which hosted today's launch, said:</p>
<p>'London's businesses will welcome this advice from TfL. It dispels some of the myths that have already grown up about transport during the games and will help businesses and their employees plan how to work and play during this historic event. </p>
<p>'There are still some challenges, particularly around a more flexible approach to the timing of deliveries to shops and other businesses, but it's clear that a great deal of planning has gone into keeping London moving.'</p>
<p>Howard Dawber, Strategic Advisor at Canary Wharf Group said: </p>
<p>'The London Olympic and Paralympic Games is a fantastic event for everyone in London to enjoy. We want staff based at Canary Wharf to be part of the Games experience and enjoy the sport, culture and entertainment around the greatest show on earth. </p>
<p>'There will be very busy periods on roads and public transport but thanks to good information from Transport for London we have been able to plan ahead and today eight months before the Games we are able to set out a range of measures we have already put in place to minimise disruption to our day to day operation.</p>
<p>'There are only a handful of days when we think transport will be particularly heavily used at the morning and evening peaks so while we do not underestimate the need to plan ahead, we do think that Canary Wharf will be able to cope well with the additional demand.</p>
<p>'We call upon all of London's companies to get the information they need from Transport for London to ensure we all have the best possible games experience.'</p>
<p>Matt Harrison, Sales &amp; Marketing Director of the London Evening Standard said:</p>
<p>'We have worked very closely with TfL on our preparations ahead of Games and welcome the very detailed information they have made available to us.</p>
<p>"The Standard is one of the most time sensitive delivery operations in the world but we always manage to ensure the paper is available for our 1.6 million readers despite the regular challenges London throws at us. </p>
<p>'We are proud to be the first host city newspaper to cover three Olympic Games and have supported the Games from the bid stage. The London Evening Standard has an important role to play during the Olympics, keeping both Londoners and Visitors informed and up to date, as well as explaining the Legacy of the Games and stimulating debate. </p>
<p>'Our preparations have been extensive and we will continue to work with partners like TfL to ensure that when the world comes to London in 2012, the London Evening Standard will be ready to welcome them.'</p>
<h2>Journey planner</h2>
<p>The road and Tube station 'hot spot' maps and accompanying travel advice are based on the latest data and information on which TfL is developing its own operational transport plans.&nbsp;</p>
<p>On the roads, the maps show the impact for each day of the Games and on the days immediately preceding.&nbsp; </p>
<p>Alongside the road 'hotspot' maps, TfL has developed an online road journey planning tool, available at <a href="http://www.tfl.gov.uk/2012">tfl.gov.uk/2012</a>, which shows the additional journey time for those road journeys that really must be undertaken at the busiest times and in the busiest locations, such as the delivery of perishable goods.</p>
<p>On the Tube and DLR, detailed station descriptions have been produced, showing the impact at 30 of the affected stations, day-by-day and at half-hour intervals.&nbsp;</p>
<p>They show the impact at stations if nothing was done to manage the demand from Games spectators and regular customers, taking into account seasonal demand patterns.&nbsp;</p>
<p>Importantly, they also show how the impact is alleviated when an anticipated reduction of 20 per cent in the total number of journeys is achieved as a result of changed travel patterns at these times and locations.&nbsp;</p>
<p>The results demonstrate that much of the impact can be alleviated, aside from a few hours in the late afternoons and early evenings.&nbsp; </p>
<p>This reduction is based on work undertaken by TfL and London 2012 in consultation with businesses, who already expect and have planned that some staff will not travel at these times and locations as they will be working at another location, working from home, taking holiday - perhaps to attend the Games as a spectator - or working longer hours, but fewer days in each week.</p>
<p>For many station 'hot spots', this reduction in journeys significantly addresses the impact of the Games, other than on particularly busy days and times.&nbsp;</p>
<p>For a few stations, a significant challenge remains and TfL is continuing to work with local employers to ensure they understand the impacts, can plan ahead and, working together, we can further mitigate the impacts at these stations.</p>
<p>At such locations, options remain to 'retime, reroute or remode' journeys, which is what businesses can now plan to do with the 'hot spot' information released today.&nbsp;</p>
<p>Travel advice accompanying each station 'grid' provides all the local alternative travel options, such as walking and cycling routes, bus routes and alternative Tube and rail stations.</p>
<p>
<p>
<hr>

<p>
<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The road and public transport 'hotspot' information and travel advice published by TfL today is available at <a href="http://www.tfl.gov.uk/2012">tfl.gov.uk/2012</a> </li>
<li>An updated set of this information, including weekend and Paralympic data for stations, will be released by TfL in January, following confirmation of the detailed impact of road events.&nbsp; In total, TfL expects to release detailed information on around 70 Tube and DLR stations and is making clear which of those yet to be released have demand patterns similar to those already published </li>
<li>In March, TfL will release data suitable for journey planning systems detailing the Games-time restrictions on London's road network </li>
<li>Quotes from a range of business leaders and organisations on how they are planning to stay ahead of the Games are attached and available from the TfL Press Office </li>
<li>TfL and London 2012 provide free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. Four hundred major companies, employing more than half a million people, have already benefited from tailored, site specific advice, a further 497 businesses employing 200 people or less have already attended area based workshops, while around 100 companies employing more than 200 people at multiple locations have attended or will be attending themed workshops to assist them </li>
<li>&pound;6.5 billion has been invested in upgrading and extending transport links to increase capacity and improve services in the capital. This is already providing an early legacy of better transport options, particularly for people living in east London, which will benefit millions of people and support economic development for generations to come </li>
<li>The Olympic Route Network (ORN) will come into operation a couple of days before the Olympic Games and will be removed as soon as possible once the Olympics are over. It will not be in operation again until a couple of days ahead of the Paralympic Games, and will be removed as soon as possible after the Paralympics have finished. General traffic can, with the exception of Birdcage Walk, Constitution Hill and The Mall, use the entire 109 mile ORN (which makes up just 1 per cent of the London's road network). Only one third of the ORN will have Games Lanes, which are only implemented where more than one lane is available, and which are open to the Games family - the media (who make up the largest element of the Games family), athletes, officials, Games workers, sponsors and IOC members. To keep traffic moving along the routes some temporary traffic changes will be necessary. These changes might include different signal timings, side road closures or the suspension of parking, loading and waiting bays. The ORN is necessary in order to get all athletes, officials and the media to their Games events on time, and has been a feature of all Host Cities contracts with the IOC since the Atlanta Games in 1996</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Leading London businesses and organisations, including John Lewis Partnership, Boots, Sainsbury's, Canary Wharf Group, Deloitte and the Evening Standard today welcomed the news.Hosting the Olympic and Paralympic Games is a huge logistical challenge,";}
        
        


 