


@{ViewBag.Title = "Central line trains overhauled for the 2012 Games and beyond";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Central line trains overhauled for the 2012 Games and beyond</h1>
        <div class="content-page-press-release">
        18 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers using the Central line will soon begin to benefit from a rejuvenation of their carriages.
        
    </div>



 <div class="on-this-page">
<p>After 19 years in service the current fleet of trains is being revamped to bring passengers cleaner, more comfortable trains to serve the next generation of passengers and beyond. </p>
<p>The overhaul of the fleet includes replacing 4,060 windows, replacing the side panels that make up the outside of the trains, and covering 23,144 seats with a new fabric. </p>
<p>The outside of every carriage on all 85 trains in the fleet will also be coated with a protective film that will make them easier to clean.</p>
<p>As part of the upgrade works the gearboxes and their housings have been modified, as have the frames which house the wheels and axles. </p>
<p>That work will improve the reliability of the trains and should mean the trains will be able to travel greater distances before experiencing a fault. </p>
<p>The work should potentially increase the distance Central line trains can travel before experiencing a fault by around another 1,000 kilometres. </p>
<p>The trains are being worked on in pairs so as not to affect normal services. </p>
<p>The work will cost &pound;27m and the entire fleet will be complete before the Olympic and Paralympic Games next year, in readiness for an influx of passengers that will be heading to and from Stratford. </p>
<p>Peter Tollington, Central line Manager, said: 'We are going to greatly improve the look of our trains and make them as comfortable as possible for commuters and visitors to the Olympic Park.'</p>
<p>London-based design company Wallace Sewell's blue and red 'moquette' fabric is inspired by London landmarks. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For more information on the Tube upgrade plan go to <a href="http://www.tfl.gov.uk/tubeupgradeplan">tfl.gov.uk/tubeupgradeplan</a></li>
<li>Transport for London (TfL) is working hard to keep disruption to a minimum and to provide information and alternative travel options. Londoners and visitors to the city are urged to check before they travel, particularly at weekends, and to allow extra journey time where necessary</li>
<li>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the best way home tfl.gov.uk/traveltools. The website also provides full information on bus replacement services during works</li>
<li>Apart from the TfL website - tfl.gov.uk/check - passengers can check before travelling via the following options:</li>
<ul>
<li>The London Travel Info 24-hour telephone helpline: 0843 222 1234</li>
<li>Information on posters, leaflets and service information boards at Tube stations</li>
<li>Via free mobile and email alerts, available from the TfL website</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "After 19 years in service the current fleet of trains is being revamped to bring passengers cleaner, more comfortable trains to serve the next generation of passengers and beyond. The overhaul of the fleet includes replacing 4,060 windows, replacing the";}
        
        


 