


@{ViewBag.Title = "Crime on London's transport network falls again";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crime on London's transport network falls again</h1>
        <div class="content-page-press-release">
        16 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has welcomed new figures that reveal crime on the Capital's transport network is continuing to fall.
        
    </div>



 <div class="on-this-page">
<p>Crime on the bus network is now at its lowest rate in more than seven years, with just 9.3 crimes per million passenger journeys in the first half of 2011/12.</p>
<p>There were 1,122 less bus-related offences over the first six months of this financial year compared to the same period last year, a 9.4 per cent reduction. </p>
<p>On buses in the Capital there have been large reductions in the number of 'violence against the person' offences (477 fewer offences - down 14.2 per cent), theft (623 fewer offences - down 11.7 per cent) and criminal damage (166 fewer offences - down 14.4 per cent). </p>
<p>Figures for the same period (April-September 2011 compared to April-September 2010) show crime on the Tube and Docklands Light Railway (DLR) fell by 272 offences, a 4.1 per cent reduction. </p>
<p>This includes reductions in violence against the person offences (88 fewer offences - down 9.2 per cent) and criminal damage (213 fewer offences - down 37.5 per cent). </p>
<p>The crime rate on the Tube and DLR over that timeframe was just 10.5 crimes per million passenger journeys.</p>
<p>These decreases build on significant reductions in crime on the bus and Tube/DLR networks over recent years. </p>
<p>Every one of London's boroughs has seen a reduction in bus-related crime between 2007/08 and 2010/11, despite a substantial increase in bus ridership. </p>
<p>Over that time there were significant reductions in criminal damage, robbery, violence against the person and theft.</p>
<h2>Commitment to improving safety </h2>
<p>Mayor of London Boris Johnson said: 'It is vital for Londoners economic prosperity and quality of life that people can travel around this city safely. </p>
<p>'That's why I made this a major priority and I am pleased the measures we have put in place over the last three years seem to be paying off.'</p>
<p>Falling crime on the transport network has been driven by a range of initiatives undertaken by Transport for London (TfL) in partnership with the Mayor, the police forces and other partners in London. </p>
<p>TfL's significant investment in transport policing and a commitment to improving safety and security has ensured the system remains a low-crime environment.&nbsp; </p>
<p>The latest figures show that a small number of boroughs have seen an increase in bus related crime in the first half of the year compared with the same period last year, and TfL is working with police partners to address this. </p>
<p>The deployment safer transport teams is constantly reviewed in order to ensure that crime hot spots are targeted and in each of these boroughs the number of offences still remains significantly down from 2007/08 levels. </p>
<p>Despite the overall reductions in crime in the first half of the year, there has been an increase in some crime types on the network. </p>
<h2>Reducing crime on the network</h2>
<p>On the bus network all crime categories have seen a reduction with the exception of robbery (an additional 233 offences) and sexual offences (an additional 20 offences). </p>
<p>On the Tube and DLR networks, there has been a small increase in sexual offences and in theft.</p>
<p>However, the numbers are low in context of the billions of journeys made on the system each year.&nbsp; </p>
<p>TfL takes these issues extremely seriously and has measures in place to deal with them, including targeted police operations, CCTV to bring offenders to justice and crime prevention advice. </p>
<p>In locations where there are issues TfL and its partners are undertaking proactive measures to deal with this.</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'These latest figures show that the network is clearly a low-crime environment - we are continuing to drive down crime on the network with the number of offences at their lowest level for many years.</p>
<p>'Despite this, we are not complacent and we continue to work closely with our policing partners to further improve safety and security.&nbsp; </p>
<p>'Within the next six months we are deploying an additional 413 warranted police officers in the Safer Transport Command and continue to work tirelessly to provide Londoners with the safe network they expect.'</p>
<p>British Transport Police Chief Superintendent Mark Newton, London Underground Area Commander, said: 'It is pleasing to see an overall four per cent reduction in crime on the Underground and DLR so far this year, but we are only half way through and hope to drive this down further and make London's network an even safer way to travel.</p>
<h2>Dont give them an inch</h2>
<p>'Our highest volume crime is theft and we are experiencing an increase so far this year compared to last year but we are on target to see a reduction in theft across the whole policing year.</p>
<p>'We have just launched a new campaign, Don't Give Them an Inch, aimed at educating passengers on how to avoid becoming a victim of pickpocketing and our officers are working with businesses across London to spread our message to passengers to keep their belongings out of sight and their bags zipped up when using the Tube.'</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command said: 'Bus-related crime in the Capital is now at its lowest level for seven years, which is a testament to the Safer Transport Command's partnership with TfL. </p>
<p>'This reduction is largely as a result of the work that TfL and each of the 32 borough's Safer Transport Teams has achieved, with support from pan-London specialist units, through engaging with the local community, acting as a visible deterrent and arresting suspects involved in crime on the bus network. </p>
<p>'The Safer Transport Command will continue to ensure Londoners travel safely without the fear of crime.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>Crime tables:</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Bus-related crime</strong></td>
<td><strong>&nbsp;2010/11<br>(April-September)</strong></td>
<td><strong>&nbsp;2011/12<br>(April-September)</strong></td>
<td><strong>&nbsp;Volume<br>&nbsp;change</strong></td>
<td><strong>&nbsp;Change<br>&nbsp;(per cent)</strong></td></tr>
<tr>
<td><strong>&nbsp;Criminal damage</strong></td>
<td>&nbsp;1,151</td>
<td>&nbsp;985</td>
<td>&nbsp;-166</td>
<td>&nbsp;-14.4</td></tr>
<tr>
<td>&nbsp;<strong>Drugs</strong></td>
<td>&nbsp;421</td>
<td>&nbsp;367</td>
<td>&nbsp;-54</td>
<td>&nbsp;-12.8</td></tr>
<tr>
<td><strong>&nbsp;Fraud/forgery</strong></td>
<td>&nbsp;163</td>
<td>&nbsp;140</td>
<td>&nbsp;-23</td>
<td>&nbsp;-14.1</td></tr>
<tr>
<td><strong>&nbsp;Other notifiable offences<br>(including burglary)</strong></td>
<td>&nbsp;179</td>
<td>&nbsp;147</td>
<td>&nbsp;-32</td>
<td>&nbsp;-17.9</td></tr>
<tr>
<td>&nbsp;<strong>Robbery</strong></td>
<td>&nbsp;1,176</td>
<td>&nbsp;1,409</td>
<td>&nbsp;+233</td>
<td>&nbsp;+19.8</td></tr>
<tr>
<td><strong>&nbsp;Sexual offences</strong></td>
<td>&nbsp;226</td>
<td>&nbsp;246</td>
<td>&nbsp;+20</td>
<td>&nbsp;+8.8</td></tr>
<tr>
<td><strong>&nbsp;Theft and handling</strong></td>
<td>&nbsp;5,315</td>
<td>&nbsp;4,692</td>
<td>&nbsp;-623</td>
<td>&nbsp;-11.7</td></tr>
<tr>
<td><strong>&nbsp;Violence against the person</strong></td>
<td>&nbsp;3,348</td>
<td>&nbsp;2,871</td>
<td>&nbsp;-477</td>
<td>&nbsp;-14.2</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;<strong>11,979</strong></td>
<td><strong>&nbsp;10,857</strong></td>
<td><strong>&nbsp;-1,122</strong></td>
<td><strong>&nbsp;-9.4</strong></td></tr>
<tr>
<td><strong>&nbsp;Bus-related crime per million<br>passenger journeys</strong></td>
<td><strong>&nbsp;10.4</strong></td>
<td><strong>&nbsp;9.3</strong></td>
<td><strong>&nbsp;n/a</strong></td>
<td><strong>&nbsp;-10.4</strong></td></tr></tbody></table></div></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Borough</strong></td>
<td><strong>&nbsp;Change between 2010/11&nbsp;and 2007/08 (per cent)</strong></td>
<td><strong>&nbsp;Change between April-September 2011/12&nbsp;and April-September 2010/11 (per cent)</strong></td></tr>
<tr>
<td><strong>&nbsp;Barking &amp; Dagenham</strong></td>
<td>&nbsp;-14.2 (80 fewer offences)</td>
<td>&nbsp;4.5 (11 more offences)</td></tr>
<tr>
<td>&nbsp;<strong>Barnet</strong> </td>
<td>&nbsp;-16.2 (170 fewer offences)</td>
<td>&nbsp;-6.8 (30 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Bexley</strong> </td>
<td>&nbsp;-69.2 (637 fewer offences)</td>
<td>&nbsp;-21.4 (33 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Brent</strong> </td>
<td>&nbsp;-25.8 (317 fewer offences)</td>
<td>&nbsp;-19.2 (92 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Bromley</strong> </td>
<td>&nbsp;-65.7 (793 fewer offences)</td>
<td>&nbsp;-3.7 (8 fewer offences)</td></tr>
<tr>
<td><strong>&nbsp;Camden </strong></td>
<td>&nbsp;-22.5 (314 fewer offences)</td>
<td>&nbsp;18.2 (80 more offences)</td></tr>
<tr>
<td>&nbsp;<strong>Croydon</strong> </td>
<td>&nbsp;-40.1 (546 fewer offences)</td>
<td>&nbsp;-11.4 (51 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Ealing</strong> </td>
<td>&nbsp;-23.7 (345 fewer offences)</td>
<td>&nbsp;-7.9 (46 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Enfield</strong> </td>
<td>&nbsp;-32.2 (290 fewer offences)</td>
<td>&nbsp;1.8 (five&nbsp;more offences)</td></tr>
<tr>
<td>&nbsp;<strong>Greenwich</strong></td>
<td>&nbsp;-46.0 (508 fewer offences)</td>
<td>&nbsp;-18.8 (59 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Hackney</strong></td>
<td>&nbsp;-26.1 (355 fewer offences)</td>
<td>&nbsp;-16.4 (84 fewer offences)</td></tr>
<tr>
<td><strong>&nbsp;Hammersmith &amp;Fulham</strong></td>
<td>&nbsp;-1.5 (10 fewer offences)</td>
<td>&nbsp;-5.0 (17 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Haringey</strong></td>
<td>&nbsp;-47.6 (754 fewer offences)</td>
<td>&nbsp;-0.2 (one less offence)</td></tr>
<tr>
<td>&nbsp;<strong>Harrow</strong> </td>
<td>&nbsp;-7.3 (37 fewer offences)</td>
<td>&nbsp;-46.5 (119 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Havering</strong> </td>
<td>&nbsp;-18.7 (112 fewer offences)</td>
<td>&nbsp;-28.9 (74 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Hillingdon</strong> </td>
<td>&nbsp;-35.0 (387 fewer offences)</td>
<td>&nbsp;-8.7 (30 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Hounslow</strong> </td>
<td>&nbsp;-27.1 (194 fewer offences)</td>
<td>&nbsp;-6.9 (19 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Islington</strong> </td>
<td>&nbsp;-26.9 (380 fewer offences)</td>
<td>&nbsp;-18.6 (91 fewer offences)</td></tr>
<tr>
<td><strong>&nbsp;Kensington &amp; Chelsea</strong> </td>
<td>&nbsp;-40.1 (240 fewer offences)</td>
<td>&nbsp;-1.1 (two fewer offences)</td></tr>
<tr>
<td><strong>&nbsp;Kingston-upon-Thames</strong> </td>
<td>&nbsp;-34.0 (135 fewer offences)</td>
<td>&nbsp;5.7 (eight more offences)</td></tr>
<tr>
<td>&nbsp;<strong>Lambeth</strong> </td>
<td>&nbsp;-19.7 (321 fewer offences)</td>
<td>&nbsp;5.2 (24 more offences)</td></tr>
<tr>
<td>&nbsp;<strong>Lewisham</strong> </td>
<td>&nbsp;-36.1 (535 fewer offences)</td>
<td>&nbsp;5.2 (24 more offences)</td></tr>
<tr>
<td>&nbsp;<strong>Merton</strong> </td>
<td>&nbsp;-17.8 (81 fewer offences)</td>
<td>&nbsp;-25.5 (47 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Newham</strong> </td>
<td>&nbsp;-21.4 (309 fewer offences)</td>
<td>&nbsp;-13.2 (65 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Redbridge</strong></td>
<td>&nbsp;-9.4 (51 fewer offences)</td>
<td>&nbsp;-15.8 (42 fewer offences)</td></tr>
<tr>
<td><strong>&nbsp;Richmond-upon-Thames</strong> </td>
<td>&nbsp;-25.6 (93 fewer offences)</td>
<td>&nbsp;1.3 (two more offences)</td></tr>
<tr>
<td>&nbsp;<strong>Southwark</strong> </td>
<td>&nbsp;-18.7 (321 fewer offences)</td>
<td>&nbsp;7.2 (48 more offences)</td></tr>
<tr>
<td>&nbsp;<strong>Sutton</strong> </td>
<td>&nbsp;-31.8 (113 fewer offences)</td>
<td>&nbsp;-7.7 (11 fewer offences)</td></tr>
<tr>
<td><strong>&nbsp;Tower Hamlets</strong> </td>
<td>&nbsp;-2.2 (18 fewer offences)</td>
<td>&nbsp;-32.0 (124 fewer offences)</td></tr>
<tr>
<td><strong>&nbsp;Waltham Forest</strong> </td>
<td>&nbsp;-11.7 (85 fewer offences)</td>
<td>&nbsp;-13.9 (47 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Wandsworth</strong> </td>
<td>&nbsp;-28.8 (236 fewer offences)</td>
<td>&nbsp;-26.9 (87 fewer offences)</td></tr>
<tr>
<td>&nbsp;<strong>Westminster</strong> </td>
<td>&nbsp;-14.6 (384 fewer offences)</td>
<td>&nbsp;-13.1 (146 fewer offences)</td></tr></tbody></table></div></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Crime on London </strong><strong>Underground/<br>Docklands Light Railway</strong></td>
<td><strong>&nbsp;2010/11<br>&nbsp;April-September</strong></td>
<td><strong>&nbsp;2011/12<br>&nbsp;April-September<br></strong></td>
<td><strong>&nbsp;Volume change</strong></td>
<td><strong>&nbsp;Change&nbsp;(per cent)</strong></td></tr>
<tr>
<td><strong>&nbsp;Violence against the person</strong></td>
<td>&nbsp;957</td>
<td>&nbsp;869</td>
<td>&nbsp;-88</td>
<td>&nbsp;-9.2</td></tr>
<tr>
<td><strong>&nbsp;Sexual offences</strong></td>
<td>&nbsp;159</td>
<td>&nbsp;184</td>
<td>&nbsp;25</td>
<td>&nbsp;15.7</td></tr>
<tr>
<td><strong>&nbsp;Criminal damage</strong></td>
<td>&nbsp;568</td>
<td>&nbsp;355</td>
<td>&nbsp;-213</td>
<td>&nbsp;-37.5</td></tr>
<tr>
<td><strong>&nbsp;Line of route</strong></td>
<td>&nbsp;67</td>
<td>&nbsp;51</td>
<td>&nbsp;-16</td>
<td>&nbsp;-23.9</td></tr>
<tr>
<td><strong>&nbsp;Theft of passenger property</strong></td>
<td>&nbsp;2,946</td>
<td>&nbsp;3,183</td>
<td>&nbsp;237</td>
<td>&nbsp;8.0</td></tr>
<tr>
<td><strong>&nbsp;Motor vehicle/cycle offences</strong></td>
<td>&nbsp;219</td>
<td>&nbsp;221</td>
<td>&nbsp;2</td>
<td>&nbsp;0.9</td></tr>
<tr>
<td>&nbsp;<strong>Robbery</strong></td>
<td>&nbsp;69</td>
<td>&nbsp;63</td>
<td>&nbsp;-6</td>
<td>&nbsp;-8.7</td></tr>
<tr>
<td><strong>&nbsp;Theft of railway property/burglary</strong></td>
<td>&nbsp;310</td>
<td>&nbsp;196</td>
<td>&nbsp;-114</td>
<td>&nbsp;-36.8</td></tr>
<tr>
<td><strong>&nbsp;Serious public order</strong></td>
<td>&nbsp;724</td>
<td>&nbsp;548</td>
<td>&nbsp;-176</td>
<td>&nbsp;-24.3</td></tr>
<tr>
<td><strong>&nbsp;Serious fraud</strong></td>
<td>&nbsp;108</td>
<td>&nbsp;128</td>
<td>&nbsp;20</td>
<td>&nbsp;18.5</td></tr>
<tr>
<td>&nbsp;<strong>Drugs</strong></td>
<td>&nbsp;437</td>
<td>&nbsp;524</td>
<td>&nbsp;87</td>
<td>&nbsp;19.9</td></tr>
<tr>
<td><strong>&nbsp;Other serious offences</strong></td>
<td>&nbsp;70</td>
<td>&nbsp;40</td>
<td>&nbsp;-30</td>
<td>&nbsp;-42.9</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong>&nbsp; </td>
<td>&nbsp;<strong>6,634</strong></td>
<td><strong>&nbsp;6,362</strong></td>
<td><strong>&nbsp;-272</strong></td>
<td><strong>&nbsp;-4.1</strong></td></tr>
<tr>
<td><strong>&nbsp;Crime per million passenger journeys</strong></td>
<td><strong>&nbsp;11.4</strong></td>
<td><strong>&nbsp;10.5</strong></td>
<td><strong>&nbsp;n/a</strong></td>
<td><strong>&nbsp;-7.9</strong></td></tr></tbody></table></div></p>
<p>&nbsp;</p>
<p>The latest figures are contained within the latest <a href="http://www.tfl.gov.uk/corporate/about-tfl/19385.aspx ">crime and antisocial behaviour quarterly statistics bulletin</a>.</p>
<p><a href="http://www.tfl.gov.uk/corporate/about-tfl/19360.aspx">Borough statistics </a>are also available.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Crime on the bus network is now at its lowest rate in more than seven years, with just 9.3 crimes per million passenger journeys in the first half of 2011/12.There were 1,122 less bus-related offences over the first six months of this financial year";}
        
        


 