


@{ViewBag.Title = "Dial-a-Ride vehicles trialling biodiesel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Dial-a-Ride vehicles trialling biodiesel</h1>
        <div class="content-page-press-release">
        30 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL)is to use an environmentally friendly biofuel in 12 of its Dial-a-Ride vehicles in a year-long trial.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Mayor wants our great capital city to be cleaner and greener. He is committed to using innovative low carbon technology, such as biofuels, to help reduce emissions"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Director of Environment and Digital London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Mayor wants our great capital city to be cleaner and greener. He is committed to using innovative low carbon technology, such as biofuels, to help reduce emissions
                            
                        </p>
                    </div>
                
            
            
            <p>It is estimated the vehicles will produce 25 per cent less carbon emissions than a normal diesel-powered vehicle and if the trial is successful, it could be extended further across the DAR fleet in future.&nbsp; </p>
<p>The biodiesel, which will be supplied by Argent Energy, is a renewable, clean-burning fuel made from used cooking oil from the catering industry and tallow, which is a residue from the meat processing industry.&nbsp;</p>
<p>The 12 minibuses will trial B30 biofuel - a high quality blend of 30 percent biodiesel and 70 percent petrodiesel.&nbsp;</p>
<p>The trial is part of the Mayor's plans to drive down carbon emissions and divert food from costly landfill sites.</p>
<p>Director of Environment and Digital London, Kulveer Ranger, said:&nbsp; 'The Mayor wants our great capital city to be cleaner and greener. He is committed to using innovative low carbon technology, such as biofuels, to help reduce emissions.'</p>
<h2>Reduced emissions</h2>
<p>Dickon Posnett, Argent Energy's Development Director, said: 'We're delighted that Transport for London is trialling our B30 blend.&nbsp;</p>
<p>'Because our fuel is made by recycling waste, it's very sustainable.&nbsp;That means that simply switching to our fuel instead of fossil fuel is a great way of reducing carbon emissions.'</p>
<p>The trial is the latest in a range of initiatives introduced by TfL to reduce carbon emissions in the Capital.&nbsp;</p>
<p>TfL currently operates five hydrogen fuel cell buses on route RV1 between Covent Garden and Tower Gateway Station.&nbsp;</p>
<p>The buses entered service in January this year.&nbsp;</p>
<p>It is hoped that, with the purchase of three more buses, the route will be serviced completely by hydrogen buses, a first for the UK.</p>
<p>TfL also currently operates 171 hybrid diesel buses in London.&nbsp;</p>
<p>A mixture of double and single deck buses, these operate on various routes across London and can be identified by special hybrid livery.&nbsp;</p>
<p>There are another 150 hybrid buses on order.</p>
<p>TfL was at the forefront of introducing this technology and operates the largest hybrid fleet in the UK.</p>
<p>
<p>
<hr>
<strong>Notes to editors:</strong></p>
<ul>
<li>Dial-a-Ride provides door-to-door service for people with a permanent or long term disability.&nbsp;Many members are unable to access mainstream public transport and rely heavily on the service </li>
<li>Last year Dial-a-Ride provided more than 1.3m trips - the highest number since the service began in the 1980s </li>
<li>DAR currently has a fleet of over 370 vehicles </li>
<li>Londoners can obtain more information or register to use Dial-a-Ride by visiting <a href="http://www.tfl.gov.uk/dialaride">tfl.gov.uk/dialaride</a> or by phone on 0845 999 1 999 </li>
<li>The Mayor's Food to Fuel Alliance focuses on encouraging the development of food waste infrastructure in London. The Alliance operates a brokerage service that promotes cross-boundary and cross-sector delivery partnerships to achieve economies and efficiencies of scale, increase value for money, and share risk.&nbsp;For more information go to <a href="http://www.london.gov.uk/priorities/environment/waste-resource/energy-recovery">www.london.gov.uk/priorities/environment/waste-resource/energy-recovery</a> <br> &nbsp;Argent Energy pioneered the large scale commercial production of biodiesel in the UK and is now the country's foremost biodiesel producer. In 2009 the company was named 'Most Sustainable Biodiesel Supplier/Producer' at the World Biofuels Conference.&nbsp;In 2010 the firm was awarded the accolade of 'Biodiesel Corporation of the Year' by the World Refining Association</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It is estimated the vehicles will produce 25 per cent less carbon emissions than a normal diesel-powered vehicle and if the trial is successful, it could be extended further across the DAR fleet in future.&nbsp; The biodiesel, which will be supplied by";}
        
        


 