


@{ViewBag.Title = "Latest figures show continued trend of improved Tube reliability as passenger numbers grow ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Latest figures show continued trend of improved Tube reliability as passenger numbers grow </h1>
        <div class="content-page-press-release">
        21 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Figures published today by Transport for London (TfL) show that train services on London Underground (LU) have continued to improve as the number of people using the Tube increases.
        
    </div>



 <div class="on-this-page">
<p>The figures for the four week period from 21 August to 17 September, published by TfL, show that the number of track failures fell by 15 per cent against the same period last year and are at their lowest level for the period since 2003/04 - having reduced by 57 per cent since then. </p>
<p>Delays as measured by Lost Customer Hours have fallen by nearly 47 per cent since 2003/04 when the programme of Tube upgrades began. </p>
<p>LU operated 96.8 per cent of scheduled kms in the four-week period, meaning that the Tube has met service reliability targets in each of the first six four-week periods in 2011/12. </p>
<p>This continuing long-term trend of improving reliability has seen LU operate 97.1 per cent of scheduled services so far this year.</p>
<p>Unplanned station closures fell by more than 26 per cent from the previous four-week period, while signal and point-related failures dropped by 13 per cent, mirroring the decrease seen over the five previous periods. </p>
<p>In addition, many improvements to the Tube were delivered during the August-September period, including: </p>
<ul>
<li>The first full four-week period of the Jubilee line's new timetable following the completion of the line upgrade, delivering more frequent and reliable journeys </li>
<li>A total of 16 new air-conditioned S-Stock trains now delivered, of which 13 were operating in passenger service on the Metropolitan line </li>
<li>New lifts and a new ramped walkway entrance brought into use at Green Park Tube station, making this key interchange station for the London 2012 Games step-free </li>
<li>The opening of the huge new northern ticket hall at Stratford on 13 September, providing direct access to the new Westfield Stratford City Shopping Centre and the primary route from the Tube to the Olympic Park during next year's Games</li></ul>
<p>This comes against a backdrop of a continued growth in the number of people using the Tube, with 84.1m journeys from 21 August to 17 September. </p>
<p>That figure takes the total for the year from 1 April to 523.9m, a 2.7 per cent increase on the same period last year. </p>
<p>In July the railway carried the highest ever number of passengers in a four-week period when 90.6m customers used the Tube.</p>
<p>The figures have been published in a new format for the first time in keeping with a commitment made to London Assembly Members earlier this year. </p>
<p>The new format gives a wider range of measures and reports them in a more accessible way. </p>
<p>Mike Brown, MD of London Underground said: 'These figures show that the long-term trend of improving reliability on the Tube is continuing, alongside the range of improvements we are making to Londoners' journeys through new trains, signalling, track and upgraded stations.</p>
<p>'Delays during the period are down by around 47 per cent since we started the massive programme to upgrade the Underground in 2003/04, and this comes at a time when we are running record levels of services and carrying more customers than ever before. </p>
<p>'This trend has been maintained despite these figures including some days when equipment failures affected customers on the Victoria and Jubilee lines. Every journey is important to us and we are therefore working tirelessly to further improve reliability for our passengers.'</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p><a href="http://www.tfl.gov.uk/corporate/modesoftransport/londonunderground/1592.aspx">See the&nbsp;latest performance figures </a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The figures for the four week period from 21 August to 17 September, published by TfL, show that the number of track failures fell by 15 per cent against the same period last year and are at their lowest level for the period since 2003/04 - having reduced";}
        
        


 