


@{ViewBag.Title = "London Underground unveils proposals to boost Bank capacity";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground unveils proposals to boost Bank capacity</h1>
        <div class="content-page-press-release">
        07 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Capacity upgrade scheme will keep up with demand at Tube's fourth busiest station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Most of the work will be below the ground and we'll keep disruption to a minimum during construction"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">LU's Director of Capital Programmes</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Most of the work will be below the ground and we'll keep disruption to a minimum during construction
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Public invited to view plans for wider platforms and step-free access </li></ul>
<p>Plans&nbsp;that would see the creation of wider platforms, better access to lines and step-free access to a new ticket hall at one of the Tube's busiest stations will go on public display next week.</p>
<p>London Underground (LU) will showcase the proposals for the Bank station capacity upgrade project from 8 to 11 November at an exhibition in the City as part of the consultation on the plans. </p>
<h2>Step-free access</h2>
<p>The proposed project aims to relieve congestion and increase capacity at Bank and Monument, the fourth busiest interchange on the Tube network, with a range of solutions that would ease overcrowding:</p>
<ul>
<li>A new southbound Northern line running tunnel that will create extra space to reduce crowding on the platforms </li>
<li>A new Northern line concourse with additional interchange passageways and escalators to the Docklands Light Railway (DLR) and Central line </li>
<li>Lifts to a new ticket hall in King William Street to provide step-free access between street level, the Northern line and DLR</li></ul>
<p>LU's application for a Transport Works Act Order will be submitted in late 2012 and, if granted, construction would begin in 2015 with completion scheduled for 2021.</p>
<p>David Waboso, LU's Director of Capital Programmes, said: 'Bank is one of the busiest stations on the network and we've been working closely with the City of London Corporation on plans to create more capacity at this important interchange.&nbsp; </p>
<h2>Chance to comment</h2>
<p>'Most of the work will be below the ground and we'll keep disruption to a minimum during construction, but it's important that the public have the chance to comment on what we're proposing to improve their Tube network.'</p>
<p>Members of the project team will be available to answer any questions about the proposals at an exhibition at 10 King William Street, London EC4N 7TW. </p>
<p>Comments on the proposals are welcome and can be made via email at <a href="mailto:BankSCU&#64;tfl.gov.uk">BankSCU&#64;tfl.gov.uk</a> or online at consultations.tfl.gov.uk\tube\bank. Alternatively you can write to Freepost Bank Capacity Upgrade.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Around 96,000 customers use Bank station during the morning peak period. Around 40,000 of them are changing between lines </li>
<li>The Bank-Monument complex consists of three ticket halls, six lifts, 10 platforms, 15 escalators and two 300ft moving walkways </li>
<li>The complex is served by five Underground lines as well as the DLR </li>
<li>As part of the Tube Upgrade Plan, LU is in the process of replacing all 15 escalators in the station. Work to replace the last of the four escalators running between the DLR platforms and the Northern and Central lines is ongoing and will be completed by spring 2012 </li>
<li>Artist impressions of the proposed remodelled platform areas are available from the TfL Press Office on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Public invited to view plans for wider platforms and step-free access Plans&nbsp;that would see the creation of wider platforms, better access to lines and step-free access to a new ticket hall at one of the Tube's busiest stations will go on public";}
        
        


 