


@{ViewBag.Title = "London 2012 Olympic and Paralympic Games mascots join last leg of month-long Games themed walking relay ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Olympic and Paralympic Games mascots join last leg of month-long Games themed walking relay </h1>
        <div class="content-page-press-release">
        03 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Wenlock and Mandeville, the two London 2012 Olympic and Paralympic Games mascots, will give the last leg of a month-long, Games-themed walking relay - the Big WoW - a final push before it comes to an end this Friday, 4 November.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'We hope the experience will inspire children and their parents to walk more often both to school and on other journeys, and to make use of the walking and cycling routes which we have been improving in time for the 2012 Games and beyond."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Better Routes and Places at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'We hope the experience will inspire children and their parents to walk more often both to school and on other journeys, and to make use of the walking and cycling routes which we have been improving in time for the 2012 Games and beyond.
                            
                        </p>
                    </div>
                
            
            
            <p>Over the past four weeks more than 4,000 school pupils from 180 schools have taken part in the walking event to carry the 1948 London and 1956 Melbourne Olympic Torches through every London borough. </p>
<p>The mascots will join around 200 pupils from 16 schools in Greenwich as the Olympic torches reach the end of the Transport for London (TfL) sponsored walking relay, which is part of a month of London 2012 Games themed walking activity. </p>
<p>The relay forms part of this year's annual Big WoW to encourage primary school children to walk to school and to make walking part of their everyday lives.</p>
<p>The relay started on 3 October in Newham, passing along one of the 2012 Games Walking and Cycling routes before going to Havering where former and current Olympic athletes and celebrities including Lloyd Scott MBE, current Olympic Gold Medallist, double World Champion rower Mark Hunter MBE and youth athlete Victoria Ohuruogu joined in the relay launch.</p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'It's encouraging to see so many children taking part in the walking relay. </p>
<p>'We hope the experience will inspire children to spread the word to their parents and walk more often both to school and on other journeys, and to make use of the walking and cycling routes which we have been improving in time for the 2012 Games and beyond.'</p>
<p>In addition to the relay, pupils took part in various London 2012 Games themed activities as part of the Big WoW. </p>
<p>For example, a competition called 'Welcome to my Borough' has been taking place throughout. </p>
<p>Each participating school is encouraging pupils to enter a factual story, inspired by local landmarks they encountered during their relay walk.&nbsp; </p>
<p>The winning entries from the 'Welcome to my Borough' competition will be put on display in City Hall.</p>
<p>
<hr>

<p>
<p><strong>Notes to editor:</strong></p>
<ul>
<li>The Big Wow has the InspireMark which enables it to be linked to the Games. The Olympic and Paralympic Games are the largest sporting events in the world. Alongside the Games, events and celebrations will be taking place across London, offering real opportunities for business and a once-in-a-generation opportunity to showcase London and the UK to the world </li>
<li>There are seven main walking routes across London which connects some of the Capital's best attractions, parks, rivers, canals and open spaces. For more information see <a href="http://www.tfl.gov.uk/tfl/gettingaround/walkfinder">www.tfl.gov.uk/tfl/gettingaround/walkfinder</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over the past four weeks more than 4,000 school pupils from 180 schools have taken part in the walking event to carry the 1948 London and 1956 Melbourne Olympic Torches through every London borough. The mascots will join around 200 pupils from 16 schools";}
        
        


 