


@{ViewBag.Title = "London Transport Veterans to take part in the annual Remembrance Sunday parade ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Transport Veterans to take part in the annual Remembrance Sunday parade </h1>
        <div class="content-page-press-release">
        08 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The London Transport Old Comrades Association, which is celebrating its 88th anniversary this year, will continue the tradition of marching alongside the armed forces and laying a wreath at the Cenotaph in the annual Remembrance Sunday parade.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London Transport workers played pivotal roles in the Great War, where they drove buses to the frontline in France. Marching in the parade also allows us to reflect on the 1,500 transport workers who died in the war.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) is extremely proud to be the only civilian group who have been awarded the honour of laying a wreath at the Cenotaph.</p>
<p>The privilege comes in recognition of the work London Transport workers provided during the War. </p>
<p>The Old Comrades march in honour of transport workers who died serving their country in the First and Second World Wars.</p>
<p>Peter Orchard, a former Royal Navy Radar Operator, and now a London Buses Area Manager in Newham and Tower Hamlets will be leading 48 men and women from the London Transport Old comrades on the Remembrance Sunday march. </p>
<p>Peter joined the Royal Navy in 1977 as a Radar Operator and served on HMS Antrim during the Falklands conflict.</p>
<p>He joined London Transport in 1983 as a bus conductor at Stamford Brook before becoming a Revenue Protection Inspector for 12 years before embarking on his current role.</p>
<p>Peter Orchard said: 'I am extremely humbled at being given the opportunity to lead the parade once again for the London Transport Old Comrades. I led the parade in 2008 and was proud to march with such brave men and women in remembrance of those who have served their country and those currently doing so.</p>
<p>'So many people made sacrifices during the Great War and it is fantastic that we are still able to honour those sacrifices. London Transport workers played pivotal roles in the Great War, where they drove buses to the frontline in France. </p>
<p>'Marching in the parade also allows us to reflect on the 1,500 transport workers who died in the war.'</p>
<p>Bob Lawrence, a former Territorial Army driver and retired London Underground Emergency Planning Manager, will lay the wreath at the Cenotaph this year.</p>
<p>Bob served in the Territorial Army for three years from 1974 to 1977. </p>
<p>He served with the Army's Royal Corp transport as a driver with 215 Squadron, Grays, Essex.</p>
<p>He joined London Underground in 1974 as a train guard before taking on other roles including Tube driver and Duty Train Manager. </p>
<p>He retired in 2007 as an Emergency Planning Manager. Bob was also heavily involved in London Underground's response to the London bombings in July 2005 and assisted with the recovery of the service.</p>
<p>Bob Lawrence said: 'Remembrance Sunday is always a heartrending day as we take time to remember the sacrifices many people made for our country during the war, as well as remembering those who are currently serving around the world. </p>
<p>'It is a great honour to be laying the wreath this year on behalf of London Transport Old Comrades this Remembrance Sunday. </p>
<p>'We are all extremely proud that we are the only civilian group awarded the privilege to mark our respects by laying a wreath at the Cenotaph as well as marching alongside the armed forces.'</p>
<p>Many of London's transport workers join directly from a career in the armed forces and continue their association through active involvement with the reserve forces which in recent years has included deployments in Afghanistan and Iraq with the Territorial Army. </p>
<p>Since November 2008, war veterans have been able to travel on public transport in the Capital for free as a result of the Mayor's concessionary travel scheme. </p>
<p>All war veterans in receipt of a pension under the War Pensions Scheme or the Armed Forces Compensation Scheme including war widows and widowers and eligible dependents are eligible for passes.</p>
<p>More than 5000 Veterans Concessionary Travel Scheme passes have been issued which allows free travel on bus, Tube, tram, Docklands Light Railway, London Overground and river services in the Capital. </p>
<p>This scheme is of particular benefit to veterans under 60 and those who live outside London who are not eligible for a Freedom Pass. </p>

<p>Further information can be found at <a href="http://www.tfl.gov.uk/tickets/14424.aspx">www.tfl.gov.uk/tickets/14424.aspx</a>&nbsp;&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>London Transport Old Comrades were given the right to march by King George V who granted this honour to the London General Omnibus Company in 1920 in recognition of the services rendered by the men who drove buses to the front line in France 1915 </li>
<li>The London Transport Old Comrades Association was formed in 1923 </li>
<li>1500 transport workers died in World War I and 3000 lost their lives in World War II </li>
<li>Bob Lawrence is&nbsp;60 and lives in Southend; Peter Orchard is&nbsp;53 and lives in East London </li>
<li>Pictures of Bob and Peter are available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is extremely proud to be the only civilian group who have been awarded the honour of laying a wreath at the Cenotaph.The privilege comes in recognition of the work London Transport workers provided during the War. The Old";}
        
        


 