


@{ViewBag.Title = "London charges ahead with wireless electric vehicle technology";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London charges ahead with wireless electric vehicle technology</h1>
        <div class="content-page-press-release">
        10 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) to take part in the biggest trial in the UK testing wireless electric vehicle charging.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Faster charging will help ensure we can create world-class support for electric motoring and be at the forefront of innovation"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Faster charging will help ensure we can create world-class support for electric motoring and be at the forefront of innovation
                            
                        </p>
                    </div>
                
            
            
            <p>Source London installs Capital's first 'fast charge' points cutting charge time by up to 50 per cent. </p>
<p>Source London annual membership now only &pound;10.</p>
<p>
<hr>

<p>
<p>The Mayor's drive to deliver cleaner air for London has had a boost with the announcement that TfL will be part of a pioneering trial of wireless charge points for electric vehicles (EVs). </p>
<p>The innovative technology enables motorists to charge batteries by driving over an electric charge pad, instead of plugging in their vehicle. </p>
<p>Four of TfL's vehicles will be fitted out so they can use the charging pads. </p>
<p>The Capital's electric charge point network - Source London - is also leading the way in making electric vehicles more accessible, with the announcement that 13 'fast charge' points have been installed in strategic locations in the network, which will make it even easier for the&nbsp; drivers to charge their electric cars. </p>
<p>These are in addition to the 200-plus electric vehicle charge points that Source London has already installed across the city, which will increase to 1,300 points by 2013.</p>
<p>It can take up to eight hours to fully charge an electric vehicle with a 'standard' EV charge point, but the 'fast charge' points can reduce this to just four hours. </p>
<p>The new 'fast charge' EV points have been installed by Source London partners, four by NCP and Scottish and Southern Energy,&nbsp; two points by Southwark Council and seven by Hillingdon Council.&nbsp; </p>
<p>While the network is managed by TfL, Source London's broad range of public and private partners are key in the delivery of charge points. </p>
<p>The Mayor and TfL are keen for other organisations to also join the electric revolution by partnering with Source London. </p>
<p>Support, including matched funding, is available for the installation of publicly accessible charge points which add to the Source London network. </p>
<p>The first widespread trial of wireless charging in the UK is being led by technology pioneers Qualcomm, who have announced today that they will use up to 50 vehicles to determine how the system could be rolled out in the future.&nbsp; </p>
<h2>Electric car Capital</h2>
<p>Based partially in the Shoreditch area of Tech City, the innovative trial will include partners such as Addison Lee and Chargemaster. </p>
<p>TfL will also be part of the panel reviewing the technology during the trial and four electric vehicles in the TfL Surface fleet will be fitted out so they can use inductive charging points. </p>
<p>The Mayor of London, Boris Johnson, said: 'I am determined to make London the electric car Capital of Europe, helping to deliver cleaner air for the Capital, cutting emissions and improving the quality of life for people in the Capital. </p>
<p>'Source London has already opened electric driving up to more motorists and using this fantastic new technology is essential if we are to go further and reach my vision of helping the Capital become a zero-emission city. </p>
<p>'Faster charging will help ensure we can create world-class support for electric motoring and be at the forefront of innovation. </p>
<p>'If you need to drive a car, you can drive a cleaner, greener EV machine.'</p>
<p>Hundreds have already signed up to become members of the Source London network and are enjoying the benefits of free charging while out and about. </p>
<p>To boost this even further, TfL has announced that it will permanently reduce the cost of annual membership to &pound;10 from &pound;100.</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: 'The momentum of Source London and the electric car revolution in the Capital continues to build pace. </p>
<p>'These new 'fast charge' points should provide more assurance that TfL and our partners are doing all we can to make the switch to electric vehicles more simple. </p>
<p>'Signing up to Source London couldn't be easier, members just need to go online (<a href="http://www.sourcelondon.net">www.sourcelondon.net</a>), and at just &pound;10, annual membership is very affordable for everyone choosing to go electric.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Thirteen 'fast charge' EV points have been installed, for the first time, as part of Source London in the following locations: </li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Charge point name </strong></td>
<td><strong>&nbsp;Street </strong></td>
<td><strong>&nbsp;Borough </strong></td>
<td><strong>&nbsp;Postcode </strong></td>
<td><strong>&nbsp;Borough</strong> </td></tr>
<tr>
<td>&nbsp;NCP Buckhold Road</td>
<td>&nbsp;Buckhold Road</td>
<td>&nbsp;Wandsworth</td>
<td>&nbsp;SW18 4BZ</td>
<td>&nbsp;Wandsworth</td></tr>
<tr>
<td>&nbsp;NCP Epsom The Ebbisham Centre</td>
<td>&nbsp;Waterloo Road</td>
<td>&nbsp;Epsom</td>
<td>&nbsp;KT19 8AG</td>
<td>&nbsp;Surrey</td></tr>
<tr>
<td>&nbsp;NCP High Street</td>
<td>&nbsp;High Street</td>
<td>&nbsp;Epsom</td>
<td>&nbsp;KT19 8EU</td>
<td>&nbsp;Surrey</td></tr>
<tr>
<td>&nbsp;NCP West 12 Centre</td>
<td>&nbsp;2 Charecroft Way</td>
<td>&nbsp;Shepherds Bush</td>
<td>&nbsp;W12 8PP</td>
<td>&nbsp;Hammersmith &amp; Fulham</td></tr>
<tr>
<td>&nbsp;Magdalene Street</td>
<td>&nbsp;Magdalene Street</td>
<td>&nbsp;Southwark</td>
<td>&nbsp;SE1 2TU</td>
<td>&nbsp;Southwark</td></tr>
<tr>
<td>&nbsp;The Cut</td>
<td>&nbsp;The Cut </td>
<td>&nbsp;Southwark</td>
<td>&nbsp;SE1 8DF</td>
<td>&nbsp;Southwark</td></tr>
<tr>
<td>&nbsp;Hillingdon Sports and Leisure Complex </td>
<td>&nbsp;Gatting Way</td>
<td>&nbsp;Uxbridge</td>
<td>&nbsp;UB8 1ES</td>
<td>&nbsp;Hillingdon</td></tr>
<tr>
<td>&nbsp;Cedars Car Park</td>
<td>&nbsp;Oxford Road</td>
<td>&nbsp;Uxbridge</td>
<td>&nbsp;UB8 1LN</td>
<td>&nbsp;Hillingdon</td></tr>
<tr>
<td>&nbsp;The Grainges Car Park</td>
<td>&nbsp;Oxford Road </td>
<td>&nbsp;Uxbridge</td>
<td>&nbsp;UB8 1BS</td>
<td>&nbsp;Hillingdon</td></tr>
<tr>
<td>&nbsp;Pump Lane</td>
<td>&nbsp;Pump Lane</td>
<td>&nbsp;Hayes</td>
<td>&nbsp;UB3 3LJ</td>
<td>&nbsp;Hillingdon</td></tr>
<tr>
<td>&nbsp;Botwell Green Sports and Leisure Complex</td>
<td>&nbsp;East Avenue</td>
<td>&nbsp;Hayes</td>
<td>&nbsp;UB3 3HW</td>
<td>&nbsp;Hillingdon</td></tr>
<tr>
<td>&nbsp;Fairfield Road</td>
<td>&nbsp;Fairfield Road</td>
<td>&nbsp;Yiewsley</td>
<td>&nbsp;UB7 8EY</td>
<td>&nbsp;Hillingdon</td></tr>
<tr>
<td>&nbsp;Brandville Road</td>
<td>&nbsp;Brandville Road</td>
<td>&nbsp;West Drayton</td>
<td>&nbsp;UB7 7LT</td>
<td>&nbsp;Hillingdon</td></tr></tbody></table></div></p>
<ul>
<li>Tech City, launched by the Mayor and the Prime Minister in November last year aims to create a digital hub in east London. Stretching from Shoreditch to the Olympic Stadium, the Mayor wants to transform Tech City into one of the world's great technology centres. Qualcomm is one of hundreds of companies to now be located there </li>
<li>Part of the Source London network, 'fast charge' EV&nbsp; points can halve the time required to fully charge from empty an electric vehicle with a 32 amp charge. Using a 'standard charge' EV point this can take up to&nbsp;eight hours but is reduced to up to four hours with a fast charger depending on the make of the electric vehicle. Exact charge times will vary according to the type of vehicle </li>
<li>Currently electric vehicles that are available in the UK market cannot utilise fast charging. However including 'fast charge' points now future proofs the network and prepares London's charging infrastructure for the next generation of EVs vehicles due into the UK market next year which will be able to use them. The posts that host the 'fast charge' sockets are double-headed and also have a standard socket so that they can be used by all kinds of EV </li>
<li>There are 233, installed Source London charge points across London </li>
<li>Source London already has a range of public and private sector partners that are introducing charge points which includes: Asda, Capital Shopping Centres, Enterprise, Gatwick Airport, Heathrow Airport, Hertz, Ikea, NCP, Nissan, Old Ford Housing Association, Sainsbury's, Scottish and Southern Energy, Southern Railway, the Whittington NHS Trust, Q-Parks and 15 London boroughs </li>
<li>There are currently 288 vehicles registered to the Source London scheme. To boost this even further annual membership will now cost only &pound;10. This will give members the advantage of being able charge at any of the Source London charge points throughout London. To sign up or for further details on how to become a Source London partner&nbsp; go to <a href="http://www.sourcelondon.net">www.sourcelondon.net</a> &nbsp;</li>
<li>Businesses interested in becoming part of the electric vehicle revolution and wish to seek matched funding to install publically accessible charge points should contact TfL at: <a href="mailto:enquiries&#64;sourcelondon.net">enquiries&#64;sourcelondon.net</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Source London installs Capital's first 'fast charge' points cutting charge time by up to 50 per cent. Source London annual membership now only &pound;10.The Mayor's drive to deliver cleaner air for London has had a boost with the announcement that TfL";}
        
        


 