


@{ViewBag.Title = "Mayor and TfL set out action to make London's streets safer for cyclists";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL set out action to make London's streets safer for cyclists</h1>
        <div class="content-page-press-release">
        09 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, and London's Transport Commissioner, Peter Hendy, will outline today how safety is at the heart of the cycling revolution the Mayor is bringing to the capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I urge every motorist, especially lorry and truck drivers, to please always look out for cyclists, and I implore cyclists to stay safe, don't stay next to a HGV."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I urge every motorist, especially lorry and truck drivers, to please always look out for cyclists, and I implore cyclists to stay safe, don't stay next to a HGV.
                            
                        </p>
                    </div>
                
            
            
            <p>A range of safety initiatives are underway and all highway maintenance firms working on London's major roads have agreed to fit blind spot mirrors and detection equipment by the end of the year. </p>
<p>The Commissioner has also written to the haulage industry to urge further action to improve safety and, at the London Assembly's Functional Body Question Time at City Hall today, the Mayor will urge cyclists to never cycle up the inside of a Heavy Goods Vehicle (HGV). </p>
<p>The Mayor of London, Boris Johnson, said: 'Every single death or serious incident involving a cyclist on our roads is a tragedy, and while we have made a great deal of progress over the last ten years to reduce these very sad occurrences, we are determined to make London's roads even safer. </p>
<p>'This is not just about delivering the vast array of improvements we have committed to, but it is also about drivers and cyclists taking extra care. So, I urge every motorist, especially lorry and truck drivers, to please always look out for cyclists, and I implore cyclists to stay safe, don't stay next to a HGV.' </p>
<p>Record numbers of Londoners are now choosing to cycle, aided by huge improvements to cycle infrastructure over the last few years, with a 150 per cent increase in the number cycling on London's major roads since 2000.</p>
<p>While the number of cycling journeys has increased significantly in recent years, the rate of cycling casualties has fallen.</p>
<p>On Transport for London (TfL)&nbsp;roads between 2008 and 2010 cycle flows have increased by 21 per cent. while the rate of serious and fatal cycling casualties has fallen by 4 per cent.</p>
<p>In addition, while every collision is regrettable, it is encouraging that the proportion of cycling collisions on TfL roads that result in fatal or serious injuries has declined since 2008, indicating that the severity of collisions is falling.&nbsp;&nbsp; </p>
<p>So far during 2011 there have tragically been 14 cycling fatalities on the capital's roads, seven of which involved HGVs or tipper trucks. </p>
<p>A huge range of practical measures are being delivered by the Mayor and TfL to tackle the issue and make the city's streets safer for cyclists.</p>
<p>Since 2010 TfL has been working to deliver its Cycle Safety Action Plan (CSAP).&nbsp;</p>
<p>The plan was developed with organisations representing cyclists, road safety interests, the freight industry and other stakeholders.&nbsp;</p>
<p>It identified 52 targeted actions which the Mayor, TfL and other stakeholders will take to reduce the number of cyclists being killed and seriously injured on London's roads.</p>
<p>So far, TfL has delivered against 31 actions set out in the CSAP, with the remaining actions currently in progress or due to begin in 2012. </p>
<p>This work has included: </p>
<ul>
<li>A &pound;100 million investment during 2010/11 in cycling schemes, which included a range of safety action such as the provision of cycle safety programmes, new cycle lanes, advance stop lines at traffic junctions across London and blind spot safety mirrors at key locations along the Barclays Cycle Superhighways </li>
<li>All of TfL's highway maintenance contractors working on London's major roads have now agreed to ensure that their entire fleets have blind spot mirrors, detection equipment and that drivers undergo a cycle awareness training course by the end of 2011. TfL has also ensured that the contractors also agreed to work with their supply chain to introduce similar measures and encourage them to sign up to TfL's Freight Operator Recognition Scheme (FORS) </li>
<li>London's Transport Commissioner has written to key freight associations including the Freight Transport Association, Road Haulage Association and Construction Excellence, calling for more to be delivered by the freight industry. All fleet operators in London need to ensure that they are training drivers to look out for cyclists, as well as ensuring that their vehicles are installed with adequate safety equipment </li>
<li>TfL provided cycle training to 735 employees at 194 businesses as part of the Barclays Cycle Superhighway business offering, and have provided funding for the boroughs to train more than 48,000 people during 2010/11 </li>
<li>TfL worked with the Freight Transport Association to develop a Cycling Code for its members in partnership with the London Cycling Campaign, Met Police and the Institute of Advanced Motorists </li>
<li>Additional guidance for highway contractors is currently being produced by TfL on providing sufficient space for cyclists at roadworks. This new guidance will ensure better consideration is given to vulnerable road users while street works are taking place across London and forms a key part of the Mayors new Roadworks Pledge </li>
<li>TfL is also providing detailed guidance to help fleet operators identify and compare different HGV safety technologies, including CCTV monitors, in-cab alerts and audible blind spot warning systems. A number of discounts have also been negotiated by TfL to enable operators to install the new safety equipment at the best possible price available </li>
<li>TfL has created a new Driver Certificate of Professional Competence (CPC) training module specifically written for freight drivers in London.&nbsp;The new Safe Urban Driving course, which builds onto TfL's previously accredited Safe London Driving course, combines classroom based lessons with on-bike cycle training to allow drivers to understand and anticipate the risks facing cyclists when driving in London. More than 1,000 drivers have undertaken TfL's Safe London Driving course to date and funding has been secured to train a further 3,000 drivers across London during 2011/12 </li>
<li>TfL has also carried out a number of road safety awareness campaigners in recent years, specifically targeting both cyclists and drivers across London </li>
<li>A central message of TfL's awareness campaigns is that all drivers, especially drivers of heavy goods vehicles, have blind spots where cyclists are invisible. Cyclists should take a visible position well in front or well behind a vehicle at traffic lights and ensure the driver has seen them</li></ul>
<p>London's Transport Commissioner, Peter Hendy, said: 'Improving cycle safety across London is something that the Mayor and TfL is working flat out to deliver. However, despite strong progress, this is something that the whole of London needs to help with to ensure significant change is delivered. </p>
<p>'Every London business, whether they are manufacturing, delivering or selling goods and services in London, has a role to play in ensuring that the vehicles they use adhere to best practice and that their drivers get the message to take care around cyclists. </p>
<p>'By ensuring safety technology and additional driver training are written into company guidelines, we can all work together to further reduce accidents on the capitals roads.'</p>
<p>For more information about the Mayor of London and TfL's plans to improve cycle safety in London, visit <a href="http://www.tfl.gov.uk/cyclesafety">tfl.gov.uk/cyclesafety</a> or <a href="http://www.tfl.gov.uk/fors">tfl.gov.uk/fors</a> <br>&nbsp;<br></p>
<p>
<hr>

<p>
<p><strong>Notes to Editors</strong></p>
<ul>
<li>Further details about the Cycle Safety Action Plan can be found at:&nbsp; <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/15480.aspx">www.tfl.gov.uk/corporate/projectsandschemes/15480.aspx</a> </li>
<li>Since the Cycle Safety Action Plan was launched in July 2010, TfL has 'completed' 17 actions, has 14 actions 'completed and ongoing', 20 actions 'in progress' and one which is set to begin in 2012 </li>
<li>A copy of the letter sent to the freight associations by the Transport Commissioner is available from the TfL Press Office </li>
<li>The Barclays Cycle Superhighways are a set of 12 radial routes aimed at delivering benefits to cyclists by making it safer and easier to commute by bike between outer and inner London on direct and continuous cycle routes </li>
<li>As well as physical improvements to the road, the scheme also provides measures including cycle training, working with businesses along the routes and with boroughs to provide cycle parking, and help with cycle maintenance. Full details on this can be found at: <a href="http://www.tfl.gov.uk/cyclingworkplaces">www.tfl.gov.uk/cyclingworkplaces</a> </li>
<li>On 9 February 2011, the Mayor and TfL announced plans to provide &pound;4m funding to 13 Biking Boroughs. The funding will help boroughs engage the local community in cycling, create better cycle infrastructure and parking as well as making cycling safer <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/18337.html">tfl.gov.uk/corporate/media/newscentre/archive/18337.aspx</a> </li>
<li>The Freight Operators Recognition Scheme (FORS) is one of the four elements of the London Freight Plan, which was published in January 2008 and is available at <a href="http://www.tfl.gov.uk/freight">www.tfl.gov.uk/freight</a> </li>
<li>As of 4 November 2011, TfL FORS membership figures were as follows: </li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<th>&nbsp;</th>
<th>&nbsp;Operators</th>
<th>&nbsp;Vehicles</th>
<th>&nbsp;Percentage of London's regular freight</th></tr>
<tr>
<td>Registered members</td>
<td>&nbsp;831</td>
<td>&nbsp;85,155</td>
<td>&nbsp;25.7</td></tr>
<tr>
<td>Of which Bronze</td>
<td>&nbsp;348</td>
<td>&nbsp;48,811</td>
<td>&nbsp;14.7</td></tr>
<tr>
<td>Of which Silver</td>
<td>&nbsp;45</td>
<td>&nbsp;10,900</td>
<td>&nbsp;3.3</td></tr></tbody></table></div></p>
<ul>
<li>23 London boroughs are also signed up to TfL's FORS scheme, of which 13 have reached Silver or Bronze standard </li>
<li>London has also seen an 18 per cent reduction in the number of cyclists killed or seriously injured on&nbsp;&nbsp; London's roads. This is despite a massive increase in the number of cycle journeys taking place every day in the Capital during the last ten years </li>
<li>The Mayor and TfL have a target to increase cycling by 400 per cent across London by 2026 (compared to 2000 levels) </li>
<li>More information about cycling in London, including cycle training and ordering your free cycle guides, go to <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a>&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A range of safety initiatives are underway and all highway maintenance firms working on London's major roads have agreed to fit blind spot mirrors and detection equipment by the end of the year. The Commissioner has also written to the haulage industry to";}
        
        


 