


@{ViewBag.Title = "Mayor drives first New Bus for London off production line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor drives first New Bus for London off production line</h1>
        <div class="content-page-press-release">
        04 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London, Boris Johnson, will drive the first new bus for London off the production line today (4 November) in a major step towards the commitment made in his last election manifesto.</p>
<p>The New Bus for London is the first bus designed specifically for the streets of London in more than 50 years and has been built by specialist engineers at the Wrightbus factory in Ballymena, Northern Ireland.</p>
<p>In just under two years the bus has gone from the drawing board to a fully functioning prototype. <br>&nbsp;<br>The new bus incorporates the most innovative and cutting edge hybrid technology and will be the most environmentally friendly bus of its kind when it enters passenger service. <br>&nbsp;<br>In December the prototype driven by the Mayor today will make its way across the Irish Sea to London, where it will be put through its paces on the Capital's streets in preparation for entering passenger service next year.</p>
<h2>More to come</h2>
<p>In the course of the first half of 2012 it will be joined by seven more prototypes to be tested in passenger service, which will lead to the establishment of a full production line. </p>
<p>A team of 25 engineers and a 40 strong production team at the Wrightbus factory in Ballymena have worked on the first prototypes. </p>
<p>But in a difficult economic climate the Mayor is confident investment will be made in hundreds more buses that will support many more jobs.<br>&nbsp;<br>The Mayor of London, Boris Johnson, said: 'This fantastic machine is chock full with the latest technology and London buses will be world leaders once again when the first eight buses take to our roads early next year. They are just an advance party for what I envisage will eventually be a legion of their type.</p>
<p>'Our new bus is an improvement on standard double decks in every respect and has been designed with this city and its wonderful population in mind. It showcases the very best of British manufacturing and design and simply oozes with quality.'<br>&nbsp;<br>Wrightbus was awarded the contract for engineering design and to build the New Bus for London in January 2010.&nbsp; </p>
<p>London-based designers Heatherwick Studio provided the aesthetic design and the result is a vehicle that not only has an iconic look but every aspect of its design has at its heart the complex needs of London's bus passengers.&nbsp;</p>
<p>Critical design features include three entrances and a double staircase to deliver the speediest possible boarding for passengers; and an open platform at the rear, in common with the iconic Routemaster.<br>&nbsp;<br>The interior of the bus has also been designed with passengers in mind.&nbsp;</p>
<p>A key feature is the two staircases, at front and rear, which provide quick and easy access to and from the upper deck.&nbsp;</p>
<p>Many design features provide a contemporary take on some of the best loved elements of the original Routemaster, including grooved flooring on the stairs and entrances.&nbsp;</p>
<p>Other innovative design features include a new lightweight bench seat with specially designed moquette, a dark red interior pallete - designed to beat dirt and a new wireless bell push that is seamlessly blended into the hand pole.&nbsp; </p>
<p>A full scale mock up of the bus has been used for consulting with stakeholder groups including wheelchair users. </p>
<p>That input has been used to ensure the new bus meets every specification on accessibility ahead of the 2012 Games.&nbsp;</p>
<p>It includes features such as a wheelchair ramp on the centre door to enable the easiest possible access for wheelchair users. </p>
<p>The wheelchair bay is longer than on nearly every other double decker. </p>
<p>There is also priority seating with space for assistance dogs. </p>
<p>There is a step free low floor throughout the lower deck and the ibus onboard visual and audio announcements will be installed. </p>
<h2>eco-friendly</h2>&nbsp;<br>The Mayor has also confirmed that an engineering test bus, which has been undergoing rigorous testing at the Millbrook Proving Ground in Bedfordshire since May, has exceeded expectation in terms of fuel economy and environmental emissions performance.&nbsp; 
<p>Under test conditions the vehicle achieved fuel consumption of 11.6mpg which compares to 8.6mpg for a hybrid bus and 5.8mpg for a normal diesel bus. </p>
<p>The vehicle is also expected to be quieter than similar buses on the roads. <br>&nbsp;<br>Testing continues but it is estimated that if all buses in London performed to the standard of the new bus for London then air quality could be improved to the extent of a 57 per cent reduction in the amount of NOx emissions from buses.</p>
<p>The potential of the environmental technology on the new bus is such that if rolled out across the entire fleet of London buses it could potentially reduce CO2 emissions in the capital by 230,000 tonnes a year. </p>
<p>Mark Nodder, Wright Group Managing Director, said: 'Today sees another milestone along the way to delivering what we hope will be the best bus in the world.&nbsp; It is very exciting to see Mayor Boris Johnson at the wheel of the first complete vehicle to emerge from the production line.&nbsp;</p>
<p>'We are all looking forward to the New Bus for London entering service in the nation's capital, representing as it does the culmination of almost two years' work in design and development.&nbsp;Wrightbus is immensely proud to be at the centre of this unique and innovative project.'<br>&nbsp;<br>The manufacture of the bus has stimulated industries across the UK and when it goes into full production it will create jobs for people across the country, with key components such as the engine, chassis, internal and external structures, seating, some of the glass and flooring being produced here in the UK.&nbsp; <br>&nbsp;<br>Secretary of State for Northern Ireland, Owen Paterson MP, said: 'This is a bus which means business for Northern Ireland. Built in collaboration with companies across the UK, it is already a huge success and represents a fantastic long term export opportunity. </p>
<p>'London buses are iconic the world over and one in every four of them is built in Northern Ireland.&nbsp;I am delighted that the streets of London will be showcasing some of Northern Ireland's finest manufacturing for years to come.<br>&nbsp;<br>'Wrightbus have shown that Northern Ireland can deliver products which surpass the highest environmental, design and performance standards. With eight prototypes soon to be delivered we look forward to the establishment of a full production line in due course.'<br>&nbsp; <br>
<hr>

<p>
<p><strong>Notes to Editors:</strong>&nbsp;&nbsp;</p>
<ul>
<li>In tests at Millbrook Proving Ground, the engineering test vehicle emitted only 640 grams per kilometre (g/km) of carbon dioxide and 3.96 g/km of Oxides of nitrogen (NOx) - less than half of the&nbsp;carbon dioxide&nbsp;emitted by a current diesel bus (1295g/km) and under half of the NOx emitted by a current diesel bus (9.3g/km) </li>
<li>Founded in 1946, and still a family owned and managed company, the Wright Group has pioneered low floor buses in the UK, and has earned a reputation for producing vehicles which are stylish, durable, high in quality and packed with innovative features </li>
<li>Heatherwick Studio exists to make extraordinary projects happen. Established by Thomas Heatherwick in 1994, it is recognized for its work in architecture, urban infrastructure, sculpture, furniture design and strategic thinking.&nbsp;Team members come from disciplinary backgrounds that include architecture, product design, model making, fabrication, landscape design, fine art and curation </li>
<li>Transport for London has recently ordered two further prototypes which means that eight of these buses will enter passenger service in the first half of 2012 </li>
<li>The first NBfL vehicles will be operated by Arriva on a busy central London route </li>
<li>Photographs from the events are available on request from the TfL Press Office</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, will drive the first new bus for London off the production line today (4 November) in a major step towards the commitment made in his last election manifesto.The New Bus for London is the first bus designed specifically";}
        
        


 