


@{ViewBag.Title = "Northbound Blackwall Tunnel safety improvements completed more than a year early";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Northbound Blackwall Tunnel safety improvements completed more than a year early</h1>
        <div class="content-page-press-release">
        03 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Essential safety works on the northbound Blackwall Tunnel have been completed over a year ahead of schedule. As a result overnight closures will end and motorists will regain full use of the tunnel from 11 November.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Last year a whopping 83 per cent of closures were for [over-height vehicles] and we hope the new trial over-height lane will greatly reduce the number of such incidents."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Last year a whopping 83 per cent of closures were for [over-height vehicles] and we hope the new trial over-height lane will greatly reduce the number of such incidents. 
                            
                        </p>
                    </div>
                
            
            
            <p>The improvements bring the 114 year old tunnel up to date with the latest safety standards, and are designed to significantly reduce the number of incidents which force the tunnel to close. </p>
<p>They include the installation and commissioning of new upgraded ventilation fans in the tunnel's four shafts, improved incident detection as well as installation of new lighting, upgraded CCTV and new communication systems throughout the tunnel.</p>
<p>New safety inlets have been constructed in the tunnel wall with emergency phones and fire extinguishers providing a safe area for drivers whose vehicles break down in the tunnel. </p>
<p>These will allow TfL to direct emergency services to specific incidents, helping them deal with any potential disruption more rapidly.</p>
<p>TfL have also introduced an additional lane for HGV vehicles on the northbound Blackwall Tunnel approach which will enable all over-height vehicles to be diverted away from the tunnel before they reach the entrance reducing unnecessary delays.</p>
<p>Last year over-height vehicles caused the northbound Blackwall Tunnel to be closed 1448 times, leading to a total of 56 hours of avoidable closures. <br>&nbsp;<br>To allow this lane to become operational, changes to the traffic layout on the Blackwall Tunnel will be implemented on Friday 4 November. </p>
<p>Metropolitan Police Service Traffic-trained Police Community Support Officers will be on site for the first two weeks of operation to direct traffic, minimise disruption and ensure that vehicles adhere to the new traffic layout, which is initially on an experimental basis. </p>
<p>Boris Johnson, the Mayor of London, said: 'It will be of huge relief to drivers who use the tunnel that we can finally bring the overnight closures to an end and I am very pleased that TfL have been able to do so over a year ahead of schedule. </p>
<p>'One of the reasons the tunnel is a notorious traffic hotspot is due to the number of times over-height vehicles try to scrape their way through. Last year a whopping 83 per cent of closures were for that reason and we hope the new trial over-height lane will greatly reduce the number of such incidents.'</p>
<p>The scale of refurbishment works carried out is such that a similar programme of work within the tunnel should not be required for another 25 years. </p>
<p>Conscious of the inconvenience that such major improvement schemes can cause Londoners, TfL has worked hard with its contractors to change working methods to prevent the need for closures and complete the refurbishment as quickly as possible.</p>
<p>By completing the works 13 months earlier than initially projected, the tunnel will now remain open overnight during the busy Christmas shopping period.&nbsp; </p>
<p>As with any infrastructure, some routine maintenance will still be necessary. </p>
<p>However, following the completion of these works, TfL will be reducing the planned maintenance closure regime from weekly to fortnightly, and only between 01:00 and 08:00 on Sunday morning. </p>
<p>A new closure regime will be established before the end of the year.</p>
<p>Garrett Emmerson, Chief Operating Officer for London Streets at TfL said: 'TfL and its contractor BAM Nuttall have thrown everything at this project to get these vital works completed as quickly as possible while ensuring that disruption to local residents and road users was kept to a minimum. </p>
<p>'Completing this project 13 months early and with fewer weekend closures than we originally anticipated is a massive achievement and one that Londoners will welcome.'</p>
<p>Jay Moorhouse, Project Manager for contractor, BAM Nuttall, said: 'BAM Nuttall is proud to have played a major role in the refurbishment of the Northbound Blackwall Tunnel. The success of the project is a tribute to the collaborative relationship between Transport for London, BAM Nuttall, VVB and Mott MacDonald.'</p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>At the beginning of the refurbishment works, it was expected that TfL and its contractor would need to carry out a total of 10 weekend closures during the three year refurbishment programme. However, by working with contractors to review work methods, and due to the progress made on the scheme, only six weekend closures were required; a reduction of 40 per cent</li>
<li>The timeframe of the overall programme was reduced thanks to strong collaborative partnership work between TfL, its contractor BAM Nuttall and their subcontractors. By doing so, the programme was reduced by using acoustic dampening materials to cover the ventilation shafts while working, allowing work to take place later into the night without disturbing local residents; constructing temporary floors within the shafts to allow works to take place during the day without disrupting traffic in the tunnel; and reviewing and amending procedures and methods to ensure work is carried out as efficiently as possible</li>
<li>Last year 1750 incidents caused closures of the Blackwall Tunnel and 1448 of these were due to vehicles which are too high for the tunnel (four metres / 13 feet 4 inches.)</li>
<li>Once the works are completed, the Woolwich Ferry will return to its normal finishing time of 20:00 on Monday to Thursday from 1 December 2011<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The improvements bring the 114 year old tunnel up to date with the latest safety standards, and are designed to significantly reduce the number of incidents which force the tunnel to close. They include the installation and commissioning of new upgraded";}
        
        


 