


@{ViewBag.Title = "Northern line platforms to reopen at Tottenham Court Road";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Northern line platforms to reopen at Tottenham Court Road</h1>
        <div class="content-page-press-release">
        22 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Northern line platforms at Tottenham Court Road will reopen on Monday 28 November. Passengers are thanked for their patience during the upgrade work. New access routes, staircases and lifts by 2016 made possible.
        
    </div>



 <div class="on-this-page">
<p>Northern line platforms at Tottenham Court Road will reopen on Monday 28 November after eight months of behind-the-scenes work to make it possible to build new access routes, new staircases and a lift. </p>
<p>When complete in 2016, station capacity will dramatically increase as part of the major station upgrade. <br>&nbsp;<br>During the closure, since April 2011, a team of more than 100 people have been working around the clock to complete the critical structural works, involving the installation of more than 1,000 tonnes of new steel tunnel sections.<br>&nbsp;<br>The work prepares the way for the full station upgrade which will transform the station by 2016 with increased capacity, new entrances and step free access.</p>
<h2>Bear with us</h2>
<p>David Waboso, Capital Programmes Director, said: 'We would like to thank passengers for their patience whilst the Northern line platforms have been closed.</p>
<p>'There is still further work to be done behind the scenes at the station and passengers will notice that the platforms only have a temporary render finish on the walls. </p>
<p>'Our priority has been to reopen the platforms as soon as the heavy civil engineering works were completed and they could be used safely by customers.&nbsp;</p>
<p>'As works to upgrade the station continue, we ask passengers to continue to bear with us.'</p>
<p>The &pound;500m station upgrade is part of the Tube upgrade plan to ease congestion, improve accessibility and provide direct interchange with Crossrail services when they arrive in 2018.</p>
<h2>Transforming the station</h2>
<p>When Tottenham Court Road was built over 100 years ago, it was not designed to be used by the 147,000 people that now use it daily, or the 200,000 plus daily users expected when Crossrail comes to the station in 2018. <br>&nbsp;<br>As part of the Tube upgrade plan, London Underground is transforming the station to:</p>
<ul>
<li>Increase the size of the ticket hall by nearly six times</li>
<li>Introduce step free access from street to platform</li>
<li>Provide four new or modernised entrances</li>
<li>Deliver new escalators and improved interchanges between platforms</li>
<li>Connect with a new Crossrail ticket hall at Dean Street.</li></ul>
<p>View video updates of the works under way at Tottenham Court Road on <a href="http://tinyurl.com/7w9owwo">YouTube</a> or at tfl.gov.uk/tubeupgradeplan</p>
<p>
<hr>
</p>
<p><strong>Notes for editors:<p>
<ul>
<li></li></ul></strong>Both Northern line platforms will open from 5:00 on Monday 28 November 2011
<li>Since April 2011 the Northern line platforms have been closed to allow complex engineering work to take place in the platform tunnels while train services continued to operate on the Northern line. Delivered as planned and on time, work completed during the closure has included:</li>
<ul>
<li>Establishment of a worksite on the platforms with sealed fire-rated hoardings to separate the works on the platforms from train movements</li>
<li>Removal and reconstruction of significant lengths of the platforms</li>
<li>Removal of 800 tonnes of cast iron segments from the tunnel lining</li>
<li>Installation of 1,100 tonnes of new tunnel segments and steel sections</li>
<li>Creation of space for a new lift lobby that will provide step-free access from ticket hall to platforms</li>
<li>Installation of temporary architectural finishes on the platform walls and floor while new tunnels are dug for the station and Crossrail</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Northern line platforms at Tottenham Court Road will reopen on Monday 28 November after eight months of behind-the-scenes work to make it possible to build new access routes, new staircases and a lift. When complete in 2016, station capacity will";}
        
        


 