


@{ViewBag.Title = "Penultimate bendy bus routes 29 and N29 are converted";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Penultimate bendy bus routes 29 and N29 are converted</h1>
        <div class="content-page-press-release">
        25 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers on routes 29 and N29 will benefit from increased service frequency, extra seating and improved air cooling from this weekend, as double deck buses replace bendy buses and the Mayor's promise to banish bendy buses from the city nears completion.
        
    </div>



 <div class="on-this-page">
<p>The route 29, which operates between Wood Green and Trafalgar Square and route N29, which operates between Enfield Town and Trafalgar Square will both benefit from more frequent, double deck services from Saturday 26 November. </p>
<p>This conversion is the penultimate stage in the Mayor's plan to remove bendy buses from London's streets. </p>
<p>The final bendy bus route, the 207, is due to be replaced next month.</p>
<p>When all bendy buses are removed from London's streets, TfL estimates that there will be an annual saving to Londoners of more than &pound;7m due to a vastly reduced rate of fare evasion on these routes.</p>
<p>Frequencies on route 29 will be:</p>
<ul>
<li>Morning peak weekdays the service will operate every 4 minutes with additional journeys southbound at the busiest time; previously every 6 minutes</li>
<li>Afternoon peak weekdays the service will operate every 4 minutes; previously every 6 minutes</li>
<li>Daytime weekdays the service will operate every 5 minutes; previously every 6 minutes</li>
<li>In the evenings the service will operate every 6 minutes; previously every 8 minutes</li>
<li>During weekend shopping hours the service will operate every 5 minutes; previously every 6 minutes</li></ul>
<p>The N29 (Night Bus) frequencies will be:</p>
<ul>
<li>On Sunday to Thursday nights the service will operate every 7 - 8 minutes; previously every 12 minutes</li>
<li>On Friday and Saturday nights the service will operate every 3 - 4 minutes between Trafalgar Square and Wood Green and every 10 minutes between Wood Green and Enfield Town; previously every 6 minutes Trafalgar Square to Wood Green and every 12 minutes Wood Green to Enfield Town</li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Routes 38, 507 and 521 were converted in 2009, routes 18 and 149 in 2010, route 25 in June 2011, route 73 and 453 in September 2011,&nbsp; route 12 and 436&nbsp; in November 2011</li>
<li>The remaining route 207 will have its bendy buses replaced with double deck buses by the end of 2011</li>
<li>A one-off cost of &pound;2.2m will be incurred in respect of routes 29 and 207, where the conversions are happening in advance of new operating contracts</li>
<li>There is a substantial overall saving to TfL because a slight increase in contract costs is more than offset by an expected reduction in fare evasion, following the conversion of all 12 articulated routes, of &pound;7.4m per year</li>
<li>Service patterns on all the routes were fully reviewed prior to conversion, to ensure that service levels continue to be well matched to passenger demand.&nbsp; All routes have, or will have increases in peak-time frequencies and the vast majority of passengers will have the same or increased frequency across the day and week</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The route 29, which operates between Wood Green and Trafalgar Square and route N29, which operates between Enfield Town and Trafalgar Square will both benefit from more frequent, double deck services from Saturday 26 November. This conversion is the";}
        
        


 