


@{ViewBag.Title = "Route 12 converts to double deck with improved weekend night bus services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Route 12 converts to double deck with improved weekend night bus services</h1>
        <div class="content-page-press-release">
        05 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New, greener hybrids to be introduced.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The end is nearly nigh for the cumbersome bendy bus with the removal of these beasts from another bus route."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The end is nearly nigh for the cumbersome bendy bus with the removal of these beasts from another bus route.  
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Improved night service at weekends </li>
<li>Huge reduction in fare evasion expected to deliver Londoners better value</li></ul>
<p>A new milestone will be reached today (Saturday 5 November) in the Mayor's campaign to rid London's streets of bendy buses, as route 12 is replaced with double-decker buses.&nbsp; </p>
<p>With only three bendy routes remaining, the target to banish these vehicles by the end of the year is well in sight.</p>
<p>As the new double-deck buses are introduced onto this latest route, the Mayor and Transport for London's (TfL's) commitment to investing in greener technology is evident with around a third of the new buses being new greener hybrid buses.&nbsp; </p>
<h2>Increased frequency</h2>
<p>There will also be improvements to the frequency of the service. </p>
<p>On Friday and Saturday nights frequency will increase to every 15 minutes instead of the current 30 minute service.&nbsp; </p>
<p>On weekdays at peak times services will be increased to a bus every four minutes from the current frequency of every five minutes.</p>
<p>Boris Johnson, the Mayor of London, said: 'The end is nearly nigh for the cumbersome bendy bus with the removal of these beasts from another bus route.&nbsp; </p>
<h2>Annual saving</h2>
<p>'I know Londoners will be as thrilled as I am to see the back of these monstrous machines that block and clog the arteries of the city. </p>
<p>'Not only this, but post-bendy bus routes see reduced fare evasion and cleaner buses too.'</p>
<p>Recent figures published by TfL show that by removing all bendy buses from London's streets there will be an annual saving of more than &pound;7m due to a vastly reduced rate of fare evasion on these routes.</p>
<p>When compared to standard diesel vehicles, the new hybrid buses are cleaner, quieter and more efficient, delivering a minimum 30 per cent reduction in carbon dioxide emissions and 30 per cent better fuel economy.&nbsp; </p>
<p>This is a boost to the Mayor's goal to deliver cleaner air for London. </p>
<p>The introduction of double deck buses will also bring extra seating and improved air cooling.&nbsp;<br>&nbsp;<br>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Routes 38, 507 and 521 were converted in 2009, routes 18 and 149 in 2010, route 25 in June 2011, route 73 and 453 in September 2011 </li>
<li>The remaining routes - 29, 207, and 436 - will have their bendy buses replaced with double deck buses by the end of 2011 </li>
<li>A one-off cost of &pound;2.2m will be incurred this year in respect of routes 29 and 207, where the conversions are happening in advance of the operating contracts being retendered.&nbsp; However there is a substantial overall saving to TfL because as a slight increase in contract costs is more than offset by an expected reduction in fare evasion, following the conversion of all 12 articulated routes, of &pound;7.4m per year </li>
<li>Service patterns on all the routes were fully reviewed prior to conversion, to ensure that service levels continue to be well matched to passenger demand.&nbsp; All routes have, or will have increases in peak-time frequencies and the vast majority of passengers will have the same or increased frequency across the day and week&nbsp;<br>&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Improved night service at weekends Huge reduction in fare evasion expected to deliver Londoners better valueA new milestone will be reached today (Saturday 5 November) in the Mayor's campaign to rid London's streets of bendy buses, as route 12 is replaced";}
        
        


 