


@{ViewBag.Title = "Stratford bus station reopens following improvements for passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Stratford bus station reopens following improvements for passengers</h1>
        <div class="content-page-press-release">
        13 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improved waiting areas and walkways will benefit 20 million passengers a year while the bus station will play a key role in London 2012 Games.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Stratford bus station is now open and passengers are able to access their normal stops again.
                            
                        </p>
                    </div>
                
            
            
            <p>The first phase of works to transform Stratford bus station in readiness for the London 2012 Games was completed today, with the station reopening to passengers and local bus services.</p>
<p>Brand new bus shelters and seating, improved footways, and better directional signage and lighting for passenger safety are among the benefits for both regular passengers and the many people anticipated to use the station during the London 2012 Games.</p>
<p>The bus station has also had a lick of paint and the roadways have been resurfaced with improvements made to the drainage system.</p>
<h2>Next phase</h2>
<p>Work on phase two of the improvements will continue with Transport for London (TfL) and Newham Council working closely together on improvements behind the scenes that will benefit customer services staff and bus drivers who use this station.</p>
<p>The remaining work is expected to be completed by Spring 2012 and will not have any impact on passengers using the bus station.</p>
<p>When fully completed the works will benefit the 20 million passengers who use the bus station every year.</p>
<p>In addition, many thousands of extra passengers are expected to benefit from these works when they use Stratford bus station during the London 2012 Games.</p>
<h2>All ahead for the Games</h2>
<p>The bus station will be an important transport hub because of its close proximity to the Olympic Park and easy interchange with the Central and Jubilee Lines, London Overground, Docklands Light Railway and mainline rail services.</p>
<p>Mike Weston, Operations Director, London Buses said:&nbsp; 'Stratford bus station is now open and passengers are able to access their normal stops again. Work is continuing at the bus station to provide a completely refurbished bus station by Spring 2012.'</p>
<p>
<hr>

<p><strong>Notes to editors</strong></p>
<ul>
<li>Work commenced at Stratford bus station on 1 August 2011. While it was closed buses used other bus stops around Stratford town centre.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first phase of works to transform Stratford bus station in readiness for the London 2012 Games was completed today, with the station reopening to passengers and local bus services.Brand new bus shelters and seating, improved footways, and better";}
        
        


 