


@{ViewBag.Title = "Stunning green wall unveiled at Edgware Road Tube station to deliver cleaner air";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Stunning green wall unveiled at Edgware Road Tube station to deliver cleaner air</h1>
        <div class="content-page-press-release">
        28 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        An innovative 200 square metre green wall on a central London Tube station wall designed to trap pollution on one of London's busiest roads, was unveiled today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Delivering cleaner air for London is a top priority for me and this ingenious green wall traps harmful pollution on one of our busiest roads, helping to cleanse the air at this popular spot as well as helping to soften and beautify the local environment."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Delivering cleaner air for London is a top priority for me and this ingenious green wall traps harmful pollution on one of our busiest roads, helping to cleanse the air at this popular spot as well as helping to soften and beautify the local environment.
                            
                        </p>
                    </div>
                
            
            
            <p>The visually stunning green wall has taken just a month to install and, as well as having practical environmental benefits, is an attractive leafy addition to Marylebone Road. </p>
<p>It features a total of 15 plant varieties crafted into a multi-coloured and patterned design. </p>
<p>Studies across Europe and the USA have shown the potential of vegetation, including trees and plants, to trap PM10. </p>
<p>The air quality benefits of this wall will be monitored by scientists from Imperial College London. </p>
<p>The green wall is just one of a range of innovative and targeted measures being introduced by the Mayor, Boris Johnson, to deliver cleaner air in London at places where particulate matter (PM10) pollution is highest. </p>
<p>This includes an unprecedented programme of green infrastructure designed to trap pollution - other features recently installed include 50 planted towers on Lower Thames Street. </p>
<p>Furthermore, the location of the first of 500 new street trees and shrubs has been confirmed with 200 Lime trees currently being planted along the A40. </p>
<p>More tree planting is being planned on Park Lane, Upper Thames Street, Western Avenue (A40), Old Kent Road (A2), Brixton Road (A23), Woolwich Flyover (Rear of Tunnel Ave), A4 (between Boston Manor Rd and Ealing Rd), A4 (close to Heston Rd). </p>
<p>The initiatives are part of the London Clean Air Fund financed by the Department for Transport (DfT) at the Mayor's request. </p>
<p>The Clean Air Fund measures have been designed to reduce levels of PM10 (a pollutant coming mostly from traffic emissions) by between 10 and 20 per cent where applied.</p>
<p>The Mayor of London, Boris Johnson, said: 'Delivering cleaner air for London is a top priority for me and this ingenious green wall traps harmful pollution on one of our busiest roads, helping to cleanse the air at this popular spot as well as helping to soften and beautify the local environment.'</p>
<p>The plants that have been used for the wall have been grown in 'Grodan' (a peat-free substrate). </p>
<p>Grodan has achieved the European Ecolabel for sustainability and is chemically inert.</p>
<p>The structure that supports the plants includes 'Ecosheet' (a waterproof backing material) which is manufactured in the UK from recycled material. </p>
<p>The Edgware Road green wall has been designed, manufactured and installed by Biotecture Ltd. </p>
<p>Transport for London is in discussions with other organisations on further locations for additional green walls in areas that would benefit from them most. <br>&nbsp;<br>
<hr>
&nbsp;<br><strong>Notes to Editors:</strong>&nbsp;<br></p>
<ul>
<li>The green wall is located on the wall of the Edgware Road (Bakerloo line) exit</li>
<li>The European Commission recently confirmed to the UK government that the Mayor's plans to reduce PM10 pollution by a third by 2015 - including the work of the Clean Air Fund, financed at the Mayor's request by the Department for Transport - has reduced the threat of hefty fines.&nbsp;</li>
<li>The Clean Air Fund will finance the following initiatives: </li>
<ul>
<li>A team of five taxi marshals will be visiting taxi ranks in pollution hot spots across the Capital to reduce engine idling time for taxis and minicabs whilst promoting eco-driving courses designed to reduce emissions, as well as save cabbies money through efficient driving techniques</li>
<li>A no-idling campaign to encourage drivers to switch off their engines when parked, loading or waiting at the roadside</li>
<li>The expansion of a successful dust suppressants trial</li>
<li>Trials of green walls and screens and additional tree and shrub planting</li>
<li>The installation of diesel particulate filters to buses on selected routes running through central London </li>
<li>A programme of engagement with businesses to promote sustainable travel and reduce their air quality impact</li></ul>
<li>In addition, action is being taken to deliver a permanent legacy of cleaner air right across the capital. This includes the first ever age limit for black cabs, tighter standards for the Low Emission Zone, cleaner buses, including the New Bus for London and an expanded bike hire scheme</li>
<li>In March 2011, the Mayor wrote to the Department for Transport asking for funding in order to develop additional measures focused on reducing PM10 emissions and public exposure at the priority locations in Central London. A total of &pound;5m has been awarded for the Clean Air Fund programme</li>
<li>The Air Pollution Research in London Group is helping to evaluate the air quality and wider environmental and climatic benefits of green infrastructure measures. As a first step, Dr Linda Davies and her colleagues at Imperial College London have been to the site to collect some leaf samples for research to determine the ability of the plants to trap particulate matter.&nbsp;This will repeated as part of the evaluation process</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The visually stunning green wall has taken just a month to install and, as well as having practical environmental benefits, is an attractive leafy addition to Marylebone Road. It features a total of 15 plant varieties crafted into a multi-coloured and";}
        
        


 