


@{ViewBag.Title = "TfL to restructure the financing arrangements of DLR's City Airport and Woolwich Arsenal extensions ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL to restructure the financing arrangements of DLR's City Airport and Woolwich Arsenal extensions </h1>
        <div class="content-page-press-release">
        25 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced it expects to be able to save up to &pound;250m through the purchase of two companies responsible for the maintenance of the London City Airport and Woolwich Arsenal branches of the DLR.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There will be no change to the day to day operation of the DLR, but we have found that we will be able to make ongoing savings by replacing private sector financing costs of these companies with public sector borrowing"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Chief Operating Officer for TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There will be no change to the day to day operation of the DLR, but we have found that we will be able to make ongoing savings by replacing private sector financing costs of these companies with public sector borrowing
                            
                        </p>
                    </div>
                
            
            
            <p>Under the terms of Private Finance Initiative (PFI) agreements that funded the extensions of the DLR network to cover these routes; City Airport Rail Enterprises PLC and Woolwich Arsenal Rail Enterprises are currently responsible for the maintenance of the respective branches. </p>
<p>TfL estimates that, due to the unique circumstances of the organisation's ability to raise finance and also current market conditions, up to &pound;250m could be saved by restructuring the financing arrangements of those companies. </p>
<p>Those savings will be used to invest in further transport improvements.</p>
<p>Howard Smith, Chief Operating Officer for TfL London Rail, said: 'Now that the extensions have been constructed and are operating successfully we have reassessed the effectiveness of the financing arrangements that sit in the companies behind the projects. </p>
<p>'There will be no change to the day to day operation of the DLR, but we have found that we will be able to make ongoing savings by replacing private sector financing costs of these companies with public sector borrowing.</p>
<p>'I'd like to thank the shareholders, Semperian PPP Investment Partners and RBS, who have worked with us to maximise the benefits and the savings we hope to secure.'</p>
<p>The maintenance arrangements contracted by both City Airport Rail Enterprises PLC and Woolwich Arsenal Rail Enterprises with COLAS Rail, will remain in place following the financial restructuring.</p>
<p>
<hr>
<strong>Notes to editors:</strong></p>
<ul>
<li>City Airport Rail Enterprises PLC is the company who currently holds the PFI concession to operate the City Airport Extension of the Docklands Light Railway. They are responsible for the design, construction, financing and maintenance of the infrastructure of the 4.4km extension of the DLR network</li>
<li>Woolwich Arsenal Rail Enterprises Limited is the company who currently holds the PFI concession to operate the Woolwich extension of the Docklands Light Railway. They are responsible for the design. They are responsible for the design, construction, financing and maintenance of a further 2.4km extension connecting the London City Airport extension with a new station at Woolwich Arsenal</li>
<li>The move to restructure the financial arrangements, which is a consequence of the unique circumstances of TfL's ability to raise finance and the market conditions that prevail at present, will lead to significant savings in the costs of finance over the remaining term of the contracts</li>
<li>Following the acquisition, TfL intends to serve notice to restructure the long term bank debt obligations of CARE and WARE, the companies responsible for constructing and maintaining the London City Airport and Woolwich Arsenal branches. This will be funded with TfL borrowing</li>
<li>The predicted savings are conditional on market conditions at the time the debt is restructured. The value represents nominal savings over the remaining life of the concessions<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Under the terms of Private Finance Initiative (PFI) agreements that funded the extensions of the DLR network to cover these routes; City Airport Rail Enterprises PLC and Woolwich Arsenal Rail Enterprises are currently responsible for the maintenance of";}
        
        


 