


@{ViewBag.Title = "TfL's Lost Property Office brings Christmas joy to hundreds of children";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's Lost Property Office brings Christmas joy to hundreds of children</h1>
        <div class="content-page-press-release">
        22 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than two hundred toys have been donated to The Salvation Army. Toys are donated to families and children across south London.
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL) Lost Property Office (LPO) is donating hundreds of toys to The Salvation Army to give to disadvantaged children in south London over the Christmas period.</p>
<p>The toys will appeal to children of all ages and range from soft toys and board games to sports equipment.&nbsp; </p>
<p>The Salvation Army in Deptford, south London, will work with the local council to distribute the toys to families in need.</p>
<p>Paul Cowan, Manager of the LPO and Travel Information Centres, said: 'Of the hundreds of thousands of items of lost property received each year, toys and children's gifts have a particular significance.&nbsp; </p>
<p>'Many are unable to be traced to an owner and, perhaps due to their perceived value or belief that they will not be handed in, remain unclaimed after three months.&nbsp; </p>
<p>'Pre-loved items are donated to our charity partners on a regular basis, however new toys and gifts are saved until the end of the year, when their donation has a much greater impact.</p>
<p>'For those who have lost these items, their original intention of bringing joy to a child has still been achieved.&nbsp; </p>
<p>'The team at the Lost Property Office take great pride in the work they do and it is rewarding for them to be able to complete the cycle of giving through this donation.'</p>
<p>Captain Kevin Stanbury of The Salvation Army's Deptford Community Centre, said: 'More people than ever are struggling financially and this is never more apparent than around Christmas time.&nbsp; </p>
<p>'Right across the country, The Salvation Army provides toy parcels to those families who would otherwise have to go without.</p>
<p>'This service is made a little easier due to the kind donation from organisations such as Transport for London.&nbsp; </p>
<p>'Over the past five years they have donated countless toys, all of which help to bring joy and laughter into the life of a London child.&nbsp; </p>
<p>'We cannot thank the Lost Property Office and its staff enough for making this scheme possible.'</p>
<p>The LPO has handled more than 200,000 items of lost property in 2010/11.&nbsp; </p>
<p>On average one in three items is reunited with its owner.&nbsp; </p>
<p>Over the years people have handed in many unexpected and unusual items including, Rolex watches worth more than quarter of a million pounds, &pound;10,000 cash, human skulls, breast implants and a lawnmower.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>All the toys donated to The Salvation Army are found on TfL's transport network. The LPO only donates unclaimed toys which are more than three months old and are still in their original packaging&nbsp;
<li>Images are available on request&nbsp;</li>
<li>If a name and address, email address or telephone number is found in the property, the potential owner is contacted and told that the LPO may have their item of property</li>
<li>Property normally takes a minimum of two working days to arrive at the LPO</li>
<li>After two days, people can enquire about lost property in several ways:</li>
<ul>
<li>By calling 0845 330 9882 between 8:30 and 16:00, Monday to Friday (except Bank Holidays)</li>
<li>By filling in the online enquiry form</li>
<li>By faxing 020 7918 1028</li>
<li>In person or by writing to:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lost Property Office<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 200 Baker Street<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NW1 5RZ</li></ul>
<li>Property not claimed after three months is either donated to charity (The Salvation Army or the British Red Cross) or sold at auction, with all revenue generated contributing towards the cost of running the LPO</li>
<li>The Salvation Army is an international Christian church and registered charity working in 121 countries worldwide, offering support, friendship and very practical help to people of all ages background and needs. In the UK and Ireland this work includes more than 800 community churches and social service centres. Registered charity numbers England and Wales 214779, 215174 and in Scotland SC009359, SC037691, and Republic of Ireland CHY6399. For more information visit the website <a href="http://www.salvationarmy.org.uk">www.salvationarmy.org.uk</a></li>
<li>The Salvation Army Christmas Present Appeal runs from 19 November until 16 December, encouraging the general public to donate new, unwrapped gifts at Superdrug and other local drop-off points. The gifts are then distributed by The Salvation Army to people in need in time for Christmas morning. For more information, email: <a href="mailto:presentappeal&#64;salvationarmy.org.uk">presentappeal&#64;salvationarmy.org.uk</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL) Lost Property Office (LPO) is donating hundreds of toys to The Salvation Army to give to disadvantaged children in south London over the Christmas period.The toys will appeal to children of all ages and range from soft toys";}
        
        


 