


@{ViewBag.Title = "Tower Bridge closed to traffic this weekend (25-28 November) as installation of new state of the art LED lighting begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tower Bridge closed to traffic this weekend (25-28 November) as installation of new state of the art LED lighting begins</h1>
        <div class="content-page-press-release">
        24 November 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tower Bridge will be closed to traffic from 23:00 on 25 November to 05:00 on 28 November to allow scaffolding to be erected to enable work to commence to replace the bridge's 25-year-old lights with a new, energy efficient eco-friendly system.
        
    </div>



 <div class="on-this-page">
<p>The lighting, which received planning and listed building consent earlier this month, will be installed by contractors working for the City of London and will see a state-of-the-art LED lighting and cabling system installed in time for next year's 2012 celebrations. </p>
<p>Work will be ongoing until March 2012 and once completed will help cut energy consumption from lighting the bridge by up to 40 per cent compared with today's usage, while enhancing its world-renowned architectural features at night. </p>
<p>The project will upgrade the iconic feature's lighting for the next 25 years and enable coloured, flexible lighting displays. </p>
<p>This is being financed at no cost to the taxpayer after an innovative funding package was agreed between the Mayor of London, City of London Corporation, EDF Energy and GE. </p>
<p>This will also enable giant Olympic Rings and Paralympic Agitos to be temporarily installed on the London landmark during the 2012 Games.<br>&nbsp;<br>During the weekend closure, traffic and cyclists will be diverted via the Rotherhithe Tunnel and Southwark Bridge. </p>
<p>However, pedestrians will still be able to use the footways across bridge during the weekend. </p>
<p>After the weekend, contractors will continue to install the new lighting without the need for carriageway restrictions.<br>&nbsp;<br>In order to further minimise disruption, TfL will be carrying out work to the carriageway on Tower Bridge and its approaches during the weekend. </p>
<p>This will include detailed inspections of the condition of the carriageway, as well as CCTV surveys of the drainage on the bridge and approaches.</p>
<p>This work was originally planned to take place during the Christmas period but by rescheduling it to coincide with these works, fewer road closures will be required.<br>&nbsp;<br>A further bridge closure is planned for the weekend of 16-19 December to remove scaffolding.</p>
<p>During this closure TfL will take the opportunity to begin the carriageway resurfacing works on the Tower Bridge Road originally planned to take place next year, as well as encourage utility companies to take advantage of the road closure to carry out any planned works.&nbsp;</p>
<p>The remaining work will be carried out overnight during the Christmas period.<br>&nbsp;<br>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>In January 2010, Transport for London introduced a roadwork permit scheme, which has allowed for better coordination of roadworks across the Capital, helping to reduce the number of times a road needs to be dug up</li>
<li>The London Permit Scheme is part of the Mayor of London's commitment to smooth traffic flow across London The Mayor has asked Londoners to report disruptive or badly managed roadworks by visiting <a href="http://www.tfl.gov.uk/roadworks">tfl.gov.uk/roadworks</a>, or by using a GPS enabled mobile device to tweet &#64;report_it with the hashtag #roadworks</li>
<li>Enquiries will be sent directly to the highway authority responsible, ensuring that direct and swift action can be taken<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The lighting, which received planning and listed building consent earlier this month, will be installed by contractors working for the City of London and will see a state-of-the-art LED lighting and cabling system installed in time for next year's 2012";}
        
        


 