
@{
ViewBag.Title = "Document coming soon";
}

<div id="body"> 
<div class="r"> 
<div id="no-content"> 
<h3>Coming soon</h3> 
<p>The document you have chosen is being finalised and will be published here shortly.</p>
<p>Please check back soon</p> 
</div> 
</div> 
</div>