
@{
ViewBag.Title = "Error page";
}

<div class="r"> 
<h3><br />Sorry, something's gone wrong</h3> 
</div> 
<div class="r"> 
<div class="main"> 
<div> 
<div> 
<p>We have a technical problem right now. One of the following options might help you:</p> 
<ul> 
<li>Revisit the page and try again</li> 
<li>Use the search box at the top of the page</li> 
<li><a href="/">Navigate from the homepage</a></li> 
</ul> 
</div> 
</div> 
</div> 
</div>