@{Layout=null;}
<div>
<div id="body">
    <div class="r">
        <div id="no-content">
            <h3>This is a preview of our new website</h3>
            <p>This is a beta site which previews the new version of our most popular tool, Journey Planner, along with a few pages as a taster of the new design.</p>
            <p>Over the next few months we'll be adding new tools and pages, so please come back soon.</p>
            <a href="javascript:void(0)" class="close-alert-box-button primary-button">Continue to beta site</a>
        </div>
    </div>
</div>
</div>