<div class="print-options" id="print-options">
    <h3>Print options</h3>
    <div class="form-control-wrapper separate">
        <div class="styled-checkbox ticked">
            <input checked="checked" id="textOnly" name="textOnly" type="checkbox" value="1">
            <input name="textOnly" type="hidden" value="1">
            <label class="styled-checkbox-label" for="textOnly">Plain version</label>
        </div>
    </div>
    <!--<div class="form-control-wrapper showDisruptions">
        <div class="styled-checkbox">
            <input id="showDisruptions" name="showDisruptions" type="checkbox" value="1">
            <input name="showDisruptions" type="hidden" value="1">
            <label for="showDisruptions">Disruptions</label>
        </div>
    </div>-->
    <!--<div class="form-control-wrapper showMaps">
        <div class="styled-checkbox">
            <input id="showMaps" name="showMaps" type="checkbox" value="1">
            <input name="showMaps" type="hidden" value="1">
            <label for="showMaps">Show Maps</label>
        </div>
    </div>-->
    <div class="form-control-wrapper showStops">
        <div class="styled-checkbox">
            <input id="showStops" name="showStops" type="checkbox" value="1">
            <input name="showStops" type="hidden" value="1">
            <label class="styled-checkbox-label" for="showStops">Show Stops</label>
        </div>
    </div>
    <div class="form-control-wrapper showInfo">
        <div class="styled-checkbox">
            <input id="showInfo" name="showInfo" type="checkbox" value="1">
            <input name="showInfo" type="hidden" value="1">
            <label class="styled-checkbox-label" for="showInfo">Show Accessibility &amp; Station Information</label>
        </div>
    </div>
    <div class="form-control-wrapper showTextInstructions">
        <div class="styled-checkbox">
            <input id="showTextInstructions" name="showTextInstructions" type="checkbox" value="1">
            <input name="showTextInstructions" type="hidden" value="1">
            <label class="styled-checkbox-label" for="showTextInstructions">Show Text Instructions</label>
        </div>
    </div>
    <p class="disclaimer">For the best print copy, please ensure background colours are enabled in your browser print menu. </p>
    <div class="jp-print-button clearfix"><a href="javascript:window.print()" class="secondary-button print-button">Print this route</a></div>
</div>
 