<div id="lightbox-content" class="popup-lightbox">
    <h2 class="popup-title">Tell us what you think of the Tube</h2>
    <div class="popup-content">

    </div>
    <a class="primary-button survey-role-yes" href="https://www.surveymonkey.com/s/LondonUnderground2015">Take the survey</a>
    <a class="secondary-button survey-role-later" href="#">Remind me later</a>
    <a class="secondary-button survey-role-never" href="#">Don't show me again</a>
</div>
 
 