
    
  



@{ViewBag.Title = "Busiest times to travel";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/busiest-times-to-travel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/travel-tools">Travel tools</a></li>
                
            
            
                <li><span class="last-breadcrumb">Busiest times to travel</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Busiest times to travel</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London's population is growing. By 2030, London is expected to have a population of 10 million people - that's the equivalent of having one full Tube train arriving every three days. Even with our investment programmes, this means it can get very busy at specific times and places. Here's how to plan for a quicker and more comfortable journey.
        
      </div>
    
    <div class="on-this-page">
      <h2>Tube</h2>
<p>Search for your Tube station in our <a href="/travel-information/stations-stops-and-piers/index">Stations, Stops and Piers</a> section for a chart of the busiest and quieter times.  Some Tube station names are also transport hubs, so when you've found the right page, check you're in the Tube section to see the busiest times graph.</p>
<p>Or download an accessible, text version of this information below, which covers over 90 of our busiest Tube stations.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/busiest-tube-times-accessible-v.pdf">
    <div class="document-download-text">
        <p>Busiest tube times - accessible version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 259KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 <div>

<p>If your station is busy when you want to travel:</p>
<ul>
    <li>When you have the flexibility, change the time of travel &#45; even 15 minutes can make a difference</li>
    <li>Consider alternative transport for some of your journey, like <a href="/modes/buses/index">bus</a>, <a href="/modes/cycling/index">cycling</a> or <a href="/modes/walking/index">walking</a></li>
</ul>
<h2>DLR</h2>
<p>The following DLR stations may be crowded at peak times. We know not everyone can change the time they travel, but if you can, you could board a train quicker and have a more comfortable journey.</p>
</div>
 

<div class="table-container"><table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
            <h4>Station</h4>
            </td>
            <td>
            <h4>Busiest time</h4>
            </td>
        </tr>
        <tr>
            <td>Bank</td>
            <td>17:30-18:15</td>
        </tr>
        <tr>
            <td>Canary Wharf</td>
            <td>17:30-17:45</td>
        </tr>
        <tr>
            <td>Canning Town</td>
            <td>08:15-08:45</td>
        </tr>
        <tr>
            <td>Crossharbour</td>
            <td>08:15-08:30</td>
        </tr>
        <tr>
            <td>Heron Quays</td>
            <td>17:30-17:45</td>
        </tr>
        <tr>
            <td>Island Gardens</td>
            <td>08:00-08:30</td>
        </tr>
        <tr>
            <td>Lewisham</td>
            <td>08:00-08:45</td>
        </tr>
        <tr>
            <td>Limehouse</td>
            <td>08:15-08:45</td>
        </tr>
        <tr>
            <td>Mudchute</td>
            <td>08:15-08:45</td>
        </tr>
        <tr>
            <td>Pontoon Dock</td>
            <td>08:00-08:30</td>
        </tr>
        <tr>
            <td>South Quay</td>
            <td>17:00-17:15</td>
        </tr>
        <tr>
            <td>Stratford</td>
            <td>08:15-08:30</td>
        </tr>
        <tr>
            <td>West Silvertown</td>
            <td>08:15-08:30</td>
        </tr>
        <tr>
            <td>Woolwich Arsenal</td>
            <td>08:00-08:15</td>
        </tr>
    </tbody>
</table></div>
<br />
<h2>Roads</h2>
<p>Check our <a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a> page to see a two month look ahead at traffic across London, as well as more information on the busiest times at Blackwall Tunnel.</p>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Advice on the most crowded times on the Tube, DLR and roads in London";}
        
            
        


 