
    
  



@{ViewBag.Title = "Planned line closures and service changes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/planned-track-closures";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Planned line closures and service changes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Planned line closures and service changes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here we publish a list of closures and significant service changes planned over the next few months.
        
      </div>
    
    <div class="on-this-page">
      <p><strong>Last updated: 4 March 2020</strong></p>

<p>This information changes frequently. <a href="/plan-a-journey/index">Check before you travel</a>.</p>

<p>For planned station changes&nbsp;see <a href="/status-updates/stations-lifts-and-escalators-works-and-closures">Stations, lifts and escalator works</a>.</p>
      
           
      <div>

<h3>Unless otherwise indicated, there will be 'no service' between the stations listed below.</h3>
</div>
 
<h2>March 2020</h2>
<h3>Sunday&nbsp;1 until Sunday 8 March</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Emirates Air Line</td>
			<td>Mon 2 until Wed 11 Mar</td>
			<td><strong>Closed</strong> for annual maintenance work.</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Thur 5&nbsp;Mar</td>
			<td><strong>Camden Road to Willesden Junction no </strong>westbound service after 23:59 each evening</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 7 and Sun 8 Mar</td>
			<td><strong>Liverpool Street to Shenfield</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 7 and Sun 8 Mar</td>
			<td><strong>Romford to Upminster</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 8 Mar</td>
			<td><strong>South Tottenham to Barking, </strong>until 12:00</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 9 until Sunday 15 March</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 9 until Thu 12 Mar</td>
			<td><strong>Hackney Downs to Chingford</strong> after 22:30 each evening</td>
		</tr>
		<tr>
			<td>Jubilee</td>
			<td>Sat 14 and Sun 15 Mar</td>
			<td><strong>Waterloo to Stanmore</strong> including during Friday and Saturday Night Tube</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 14 and Sun 15 Mar</td>
			<td><strong>Aldgate to Harrow-on-the-Hill</strong></td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 14 and Sun 15 Mar</td>
			<td><strong>Bank to Shadwell</strong></td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 14 and Sun 15 Mar</td>
			<td><strong>Liverpool Street to Shenfield</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 14 and Sun 15 Mar</td>
			<td><strong>New Cross Gate to Crystal Palace and West Croydon</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 15 Mar</td>
			<td>
			<p><strong>Wandsworth Road to Clapham Junction</strong></p>

			<p><strong>Camden Road to Stratford, </strong>after 21:45</p>

			<p><strong>Highbury &amp; Islington to Dalston Junction, </strong>after 22:00</p>
			</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sun 15 Mar</td>
			<td>
			<p><strong>Paddington to Ealing Broadway </strong>between 09:00 and 23:00.</p>
			</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<h3>Monday 16 until Sunday 22 March</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 21 and Sun 22 Mar</td>
			<td><strong>Aldgate to Wembley Park</strong></td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Sat 21 and Sun 22 Mar</td>
			<td><strong>Moorgate to Kennington</strong></td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 21 and Sun 22 Mar</td>
			<td><strong>Bank to Shadwell</strong></td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 21 and Sun 22 Mar</td>
			<td><strong>Liverpool Street to Shenfield</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 21 and Sun 22 Mar</td>
			<td>
			<p><strong>New Cross Gate to West Croydon and&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Crystal Palace,</strong></p>

			<p><strong>Romford to Upminster</strong></p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 22 Mar</td>
			<td>
			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford,</strong> until 10:15</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 23 until&nbsp;Tuesday 31&nbsp;March</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 23 until Thur 26 Mar</td>
			<td>
			<p><strong>Sydenham to West Croydon,</strong> after 23:30 each evening</p>

			<p><strong>Hackney Downs to Enfield Town and Cheshunt (via Seven Sisters),</strong> after 22:30 each evening</p>
			</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 28 and Sun 29 Mar</td>
			<td><strong>Tower Hill&nbsp;to Dagenham East</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>
			<p>Sat 28 and Sun 29 Mar</p>
			</td>
			<td><strong>Hammersmith to Barking</strong></td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>
			<p>Sat 28 and Sun 29 Mar</p>
			</td>
			<td>
			<p><strong>Liverpool Street to Shenfield</strong></p>
			</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sun 29 Mar</td>
			<td>
			<p><strong>Acton Main Line and West Ealing stations</strong> - Trains will not stop</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>
			<p>Sat 28 and Sun 29 Mar</p>
			</td>
			<td>
			<p><strong>Highbury &amp; Islington to Dalston Junction </strong>(during Friday and Saturday Night Service only)</p>

			<p><strong>Whitechapel station,</strong> trains will not stop (including Friday and Saturday London Overground Night Service)</p>

			<p><strong>Camden Road to Stratford,</strong></p>

			<p><strong>Romford to Upminster</strong></p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 29 Mar</td>
			<td><strong>Highbury &amp; Islington to Clapham Junction, Crystal Palace, New Cross and West Croydon after 06:15</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Mon 30 and Tue 31 March</td>
			<td><strong>Sydenham to West Croydon</strong> after 22:15 each evening</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>April 2020</h2>
<h3>Wednesday 1&nbsp;- Sunday 5 April</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Wed 1 and Thu 2 April</td>
			<td><strong>Sydenham to West Croydon</strong> after 22:15</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 4 and Sun 5 April</td>
			<td><strong>Tower Hill to Dagenham East</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 4 and Sun 5 April</td>
			<td><strong>Hammersmith to Barking</strong></td>
		</tr>
		<tr>
			<td>
			<p>London Overground</p>
			</td>
			<td>Sat 4 and Sun 5 April</td>
			<td><strong>Whitechapel station, </strong>trains will not stop (including during Friday and Saturday Night Service)</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 5 April</td>
			<td>
			<p><strong>Willesden Junction to Richmond,</strong></p>

			<p><strong>New Cross Gate to Crystal Palace and West Croydon,</strong></p>

			<p><strong>Wandsworth Road to Clapham Junction until 10:15</strong></p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 6 - Monday 13 April</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Circle</td>
			<td>Fri 10 until Mon 13 April</td>
			<td><strong>Entire line</strong></td>
		</tr>
		<tr>
			<td>District</td>
			<td>Fri 10 until Mon 13 April</td>
			<td><strong>Tower Hill to Barking</strong></td>
		</tr>
		<tr>
			<td>
			<p>Hammersmith &amp; City</p>
			</td>
			<td>Fri 10 until Mon 13 April</td>
			<td><strong>King's Cross St Pancras to Barking</strong></td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Fri 10 until Mon 13 April</td>
			<td><strong>King's Cross St Pancras to Aldgate</strong></td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Fri 10 until Mon 13 April</td>
			<td><strong>Archway to High Barnet and Mill Hill East</strong></td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Fri 10 until&nbsp;Sun 12&nbsp;April</td>
			<td><strong>Camden Town to High Barnet</strong> between 01:30 and 05:20 during Friday Night Tube service and 01:30 and 06:50 during Saturday Night Tube service.</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Fri 10 until Mon 13 April</td>
			<td><strong>Highbury &amp; Islington to Clapham Junction,&nbsp;&nbsp;&nbsp; Crystal Palace, New Cross and West Croydon </strong>(including during Friday and Saturday Night service)</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 12 April</td>
			<td><strong>South Tottenham to Barking,</strong> until 12:00</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sun 12 April</td>
			<td><strong>Paddington to Heathrow T4 </strong>until 05:30</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 13 - Sunday 19 April</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 13 until Thu 16 April</td>
			<td><strong>Camden Road to Willesden Junction</strong> westbound only after 23:59</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 18 and Sun19 April</td>
			<td><strong>Romford to Upminster</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sunday 19 April</td>
			<td>
			<p><strong>Shepherd's Bush to Willesden Junction,</strong></p>

			<p><strong>Gospel Oak to Richmond,</strong></p>

			<p><strong>Hackney Downs to Chingford</strong> after 22:45</p>
			</td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Sat 18 and Sun 19 April</td>
			<td><strong>Hampstead to Edgware </strong>including during Friday and Saturday Night Tube</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 18 and Sun 19 April</td>
			<td><strong>Liverpool Street to Shenfield</strong></td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 20 - Thursday 30 April</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 20 until Thu 23 April</td>
			<td><strong>Hackney Downs to Chingford</strong> after 22:45</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Mon 27 until Thu 30&nbsp;April</td>
			<td><strong>Surrey Quays to Clapham Junction </strong>after 23:00</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>May 2020</h2>
<h3>Friday 1 - Sunday 3 May</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Sat 2 May</td>
			<td><strong>Willesden Junction to Watford Junction</strong></td>
		</tr>
		<tr>
			<td>London Overgorund</td>
			<td>Sat 2 and Sun 3 May</td>
			<td><strong>Whitechapel station - </strong>trains will not stop, including during Friday and Saturday Night service.</td>
		</tr>
		<tr>
			<td>London Overgorund</td>
			<td>Sunday 3 May</td>
			<td><strong>Euston to Watford Junction</strong></td>
		</tr>
		<tr>
			<td>Bakerloo</td>
			<td>Sat 2 May</td>
			<td>
			<p><strong>Stonebridge Park to Harrow &amp; Wealdstone </strong></p>
			</td>
		</tr>
		<tr>
			<td>Bakerloo</td>
			<td>Sun 3 May</td>
			<td><strong>Queen's Park to Harrow &amp; Wealdstone&nbsp;</strong></td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 2 and Sun 3 May</td>
			<td><strong>Baker Street to Edgware Road</strong> via Aldgate and Victoria</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 2 and Sun 3 May</td>
			<td><strong>South Kensington to East Ham</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 2 and Sun 3 May</td>
			<td><strong>Baker Street to Barking</strong></td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 2 and Sun 3 May</td>
			<td><strong>Baker Stree to Aldgate</strong></td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 2 and Sun 3 May</td>
			<td>
			<p><strong>Westferry to Island Gardens,</strong></p>

			<p><strong>Poplar to Canary Wharf.</strong></p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 4 - Sunday 10 May</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 4 until Thu 7 May</td>
			<td><strong>Hackney Downs to Enfield Town and Cheshunt (via Seven Sisters)</strong> after 22:45</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Tue 5 until Thu 7 May</td>
			<td><strong>Sydenham to West Croydon</strong> after 23:30</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Fri 8 until Sun 10 May</td>
			<td><strong>Tower Hill to Upminster</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Fri 8 until Sun 10 May</td>
			<td><strong>Hammersmith to Barking</strong></td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Fri 8 until Sun 10 May</td>
			<td><strong>Moorgate to Kennington</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Fri 8 until Sun 10 May</td>
			<td><strong>Highbury &amp; Islington to Clapham Junction, Crystal Palace, New Cross and West Croydon, </strong>including during Friday and Saturday Night service.</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 9 and Sun 10 May</td>
			<td><strong>Westferry/Poplar to Island Gardens</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 10 May</td>
			<td>
			<p><strong>Camden Road to Stratford </strong>after 21:45<strong>,</strong></p>

			<p><strong>Highbury &amp; Islington to Dalston Junction&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>after 22:00</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 11 - Sunday 17 May</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>District</td>
			<td>Sat 16 and Sun 17 May</td>
			<td><strong>Earl's Court to Wimbledon</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 17 May</td>
			<td>
			<p><strong>Surrey Quays to Clapham Junction</strong></p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford</strong> until 08:15</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 18 until Monday 25 May</h3>

<div class="table-container"><table style="width:658px">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 322px;">
			<h4>What's affected</h4>
			</th>
		</tr>
		<tr>
			<th colspan="1" style="width: 25%;">London Overground</th>
			<th colspan="1" dir="rtl" style="width: 25%;">Sat 23 until Mon 25 May</th>
			<th colspan="1" style="width: 322px;">Highbury &amp; Islington to Clapham Junction, Crystal Palace, New Cross and West Croydon, including during Friday and Saturday Night service.</th>
		</tr>
		<tr>
			<th colspan="1" style="width: 25%;">DLR</th>
			<th colspan="1" dir="rtl" style="width: 25%;">Sat 23 until Mon 25 May</th>
			<th colspan="1" style="width: 322px;">All Saints to Stratford.</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table></div>

<h3>Tuesday 26 until Sunday 31 May</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>Affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Circle</td>
			<td>Sat 30 and Sun 31 May</td>
			<td><strong>Entire line</strong></td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 30 and Sun 31 May</td>
			<td>
			<p><strong>South Kensington to Barking,</strong></p>

			<p><strong>Earl's Court to Kensington (Olympia)</strong></p>
			</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 30 and Sun 31 May</td>
			<td><strong>Paddington to Barking</strong></td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 30 and Sun 31 May</td>
			<td><strong>Baker Street to Aldgate</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 30 and Sun 31 May</td>
			<td><strong>Whitechapel station - </strong>trains will not stop, including during Friday and Saturday Night service.</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 31 May</td>
			<td>
			<p><strong>Surrey Quays to Clapham Junction,</strong></p>

			<p><strong>South Tottenham to Barking</strong> until 12:00,</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>June 2020</h2>
<h3>Monday 1 &#45; Sunday&nbsp;7 June</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 1 until Thu 4 June</td>
			<td><strong>Hackney Downs to Chingford</strong> after 22:45</td>
		</tr>
		<tr>
			<td>Central</td>
			<td>Sat 6 and Sun 7 June</td>
			<td><strong>Bethnal Green to Epping </strong>including during Friday and Saturday Night Tube</td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Sat 6 and Sun 7 June</td>
			<td><strong>Entire line,</strong> between approx 01:30 and 04:55 during Friday Night Tube and between approx 01:35 and 06:35 during Saturday Night Tube</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 7 June</td>
			<td>
			<p><strong>Clapham Junction to Willesden Junction,</strong></p>

			<p><strong>Surrey Quays to Clapham Junction.</strong></p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 8 - Sunday 14 June</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Sat 13 June</td>
			<td><strong>Euston to Kilburn High Road</strong> after 20:15</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 13 and Sun 14 June</td>
			<td><strong>Tower Hill to West Ham</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 13 and sun 14 June</td>
			<td><strong>Hammersmith to Barking</strong></td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Sat 13 and Sun 14 June</td>
			<td><strong>Moorgate to Kennington</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 13 and Sun 14 June</td>
			<td><strong>Whitechapel station -</strong> Trains will not stop, including during Friday and Saturday Night Service.</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sunday 14 June</td>
			<td><strong>Turnham Green to Richmond</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sunday 14 June</td>
			<td>
			<p><strong>Willesden Junction to Richmond,</strong></p>

			<p><strong>Wandsworth Road to Clapham Junction </strong>until 10:15</p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford </strong>until 10:15,</p>

			<p><strong>Euston to Kilburn High Road</strong> until 10:15 and after 23:00</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>&nbsp;Monday 15 - Sunday 21 June</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's Affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 15 until Thu 18 Jun</td>
			<td><strong>Hackney Downs to Enfield Town and Cheshunt&nbsp;&nbsp; (via Seven Sisters)</strong> after 22:45</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Tue 16 until Thu 18 Jun</td>
			<td><strong>Sydenham to West Croydon</strong> after 23:30</td>
		</tr>
		<tr>
			<td>Bakerloo</td>
			<td>Sat 20 and Sun 21 Jun</td>
			<td><strong>Elephant &amp; Castle to Harrow &amp; Wealdstone</strong></td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 20 and Sun 21 Jun</td>
			<td><strong>Tower Hill to West Ham</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 20 and Sun 21 Jun</td>
			<td><strong>Hammersmith to Barking</strong></td>
		</tr>
		<tr>
			<td>Jubilee</td>
			<td>Fri 19&nbsp;to Sun 21 Jun</td>
			<td><strong>Waterloo to Wembley Park</strong> from 01:30 to 04:30 during Friday Night Tube and from 03:50 to 05:50 during Saturday Night Tube.</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 20 and Sun 21 Jun</td>
			<td><strong>Poplar to Beckton</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 20 and Sun 21 Jun</td>
			<td>
			<p><strong>Highbury &amp; Islington to Clapham Junction, Crystal Palace, New Cross and West Croydon, </strong>including during Friday and Saturday Night Tube hours.</p>

			<p><strong>Euston to Wembley Central.</strong></p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 21 Jun</td>
			<td><strong>Sydenham to West Croydon</strong></td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;22 -&nbsp;Tuesday 30&nbsp;June</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's Affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon&nbsp;22 until Thu&nbsp;25 Jun</td>
			<td><strong>Sydenham to West Croydon </strong>after 22:15</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 27 and Sun 28 Jun</td>
			<td><strong>Aldgate to Edgware Road</strong> via Victoria</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 27 and Sun 28 Jun</td>
			<td>
			<p><strong>Aldgate East and Edgware Road to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ealing Broadway, Kensington (Olympia), Richmond and Wimbledon</strong></p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 27 and Sun 28 Jun</td>
			<td><strong>South Acton to Richmond.</strong></td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>July 2020</h2>
<h3>Wednesday 1 - Sunday 5 July</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 4 and Sun 5 July</td>
			<td><strong>Wembley Park to Northwood and Uxbridge</strong></td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Sat 4 and Sun 5 July</td>
			<td><strong>Archway to High Barnet and Mill Hill East. </strong>Closure extends to<strong> Camden Town</strong>&nbsp;between approx 01:15&nbsp;and 05:20 during Friday Night Tube and between approx&nbsp;01:15 and 06:50 during Saturday Night Tube</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 5 July</td>
			<td>
			<p><strong>Surrey Quays to Clapham Junction,</strong></p>

			<p><strong>Hackney Downs to Chingford</strong> after 22:45,</p>

			<p><strong>Camden Road to Stratford, eastbound only,</strong> after 23:15,</p>

			<p><strong>Dalston Junction to Highbury &amp; Islington, northbound only,</strong> after 23:30</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 6 - Sunday 12 July</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 6 until Thu 9 July</td>
			<td><strong>Camden Road to Willesden Junction</strong>, westbound only, after 23:59</td>
		</tr>
		<tr>
			<td>London Overgorund</td>
			<td>Sat 11 and Sun 12 July</td>
			<td><strong>Liverpool Street to Enfield Town, Cheshunt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (via Seven Sisters) and Chingford</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 12 July</td>
			<td><strong>South Tottenham to Barking</strong> until 12:30</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 13 - Sunday 19 July</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 13 until Thu 16 July</td>
			<td>
			<p><strong>Hackney Downs to Chingford</strong> after 22:30,</p>

			<p><strong>Surrey Quays to Clapham Junction </strong>after 23:30</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 18 and Sun 19 July</td>
			<td><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford.</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 19 July</td>
			<td>
			<p><strong>Sydenham to West Croydon</strong></p>
			</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 18 and Sun 19 July</td>
			<td><strong>Aldgate to Edgware Road via Victoria</strong></td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 18 and Sun 19 July</td>
			<td><strong>Embankment and Edgware Road to Ealing Broadway, Kensington (Olympia), Richmond and Wimbledon</strong></td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 18 and Sun 19 July</td>
			<td>
			<p><strong>Bank and Tower Gateway to Canning Town and Canary Wharf,</strong></p>

			<p><strong>Stratford to Canary Wharf</strong></p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;20 -&nbsp;Thursday 30&nbsp;July</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 20 until Thu 23 July</td>
			<td><strong>Surrey Quays to Clapham Junction </strong>after 22:30 each evening.</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 25 and Sun 26 July</td>
			<td>
			<p><strong>Entire line </strong>until 10:00 on Saturday,</p>

			<p><strong>Euston Square to Monument via Aldgate</strong> from 10:00 on Saturday and all day Sunday</p>
			</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 25 and Sun 26 July</td>
			<td>
			<p><strong>Embankment to West Ham </strong>until 10:00 on Saturday,</p>

			<p><strong>Monument to Stepney Green </strong>from 10:00 on Saturday and all day Sunday</p>
			</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 25 and Sun 26 July</td>
			<td>
			<p><strong>Baker Street to Barking</strong> until 10:00 on Saturday,</p>

			<p><strong>Euston Square to Stepney Green </strong>from 10:00 on Saturday and all day Sunday</p>
			</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 25 and Sun 26 July</td>
			<td><strong>Baker Street to Aldgate</strong></td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Sat 25 and Sun 26 July</td>
			<td><strong>Moorgate to Kennington</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 25 and Sun 26 July</td>
			<td>
			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford.</strong></p>

			<p><strong>Whitechapel station - </strong>Trains will not stop including during Friday and Saturday Night Service.</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 26 July</td>
			<td><strong>Sydenham to West Croydon.</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Mon 27 until Thu 30 July</td>
			<td>
			<p><strong>Hackney Downs to Enfield Town/Cheshunt </strong>after 22:45</p>

			<p><strong>Sydenham to West Croydon </strong>after 23:30</p>
			</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>August 2020</h2>
<h3>Saturday 1 August&nbsp;- Sunday 2 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Circle</td>
			<td>Sat 1 and Sun 2 Aug</td>
			<td><strong>Aldgate to Edgware Road</strong> via Victoria</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 1 and Sun 2 Aug</td>
			<td><strong>Earl's Court to West Ham</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 1 and Sun 2 Aug</td>
			<td><strong>Hammersmith to Barking</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 1 and Sun 2 Aug</td>
			<td>
			<p><strong>Highbury &amp; Islington to Clapham Junction, Crystal Palace, New Cross and West Croydon</strong> including during Friday and Saturday Night service.</p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford</strong></p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 2 Aug</td>
			<td>
			<p><strong>Surrey Quays to Clapham Junction</strong></p>
			</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<h3>Monday 3&nbsp; - Sunday 9 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>District</td>
			<td>Sat 8 and Sun 9 Aug</td>
			<td><strong>Tower Hill to Upminster</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 8 and Sun 9 Aug</td>
			<td><strong>Hammersmith to Barking</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 8 and Sun 9 Aug</td>
			<td>
			<p><strong>Liverpool Street to Hackney Downs,</strong></p>

			<p><strong>Whitechapel station -</strong> Trains will not stop including during Friday and Saturday Night service.</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 9 Aug</td>
			<td>
			<p><strong>Camden Road to Stratford </strong>after 21:45</p>

			<p><strong>Highbury &amp; Islington to Dalston Junction</strong> after 22:00</p>
			</td>
		</tr>
		<tr>
			<td>Bakerloo</td>
			<td>Sun 9 Aug</td>
			<td><strong>Queen's Park to Harrow &amp; Wealdstone</strong></td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 10 - Sunday 16 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Northern</td>
			<td>Sat 15 and Sun 16 Aug</td>
			<td>
			<p><strong>Archway to High Barnet and Mill Hill East. </strong></p>

			<p><strong>Camden Town to High Barnet </strong>from 01:15 until 05:20 during Friday Night Tube service and between 01:15 and 06:50 during Saturday Night Tube service.</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 16 Aug</td>
			<td>
			<p><strong>New Cross Gate to Crystal Palace and&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; West Croydon ,</strong></p>

			<p><strong>Hackney Downs to Chingford</strong></p>
			</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<h3>Monday 17 - Sunday 23 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 17 Aug</td>
			<td><strong>Camden Road to Willesden Junction,</strong> westbound only, after 23:59</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Wed 19 and Thu 20 Aug</td>
			<td><strong>Camden Road to Willesden Junction, </strong>westbound only, after 23:59</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 22 Aug</td>
			<td><strong>Highbury &amp; Islington to Shadwell</strong> including during Friday Night service.</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 22 and Sun 23 Aug</td>
			<td><strong>Gospel Oak to Barking</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 23 Aug</td>
			<td><strong>Highbury &amp; Islington to Clapham Junction, Crystal Palace, New Cross and West Croydon</strong> including during Saturday Night service.</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 23 Aug</td>
			<td><strong>Camden Road to Richmond and Shepherd's Bush</strong> until 11:00</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 22 and Sun 23 Aug</td>
			<td><strong>Tower Hill to East Ham</strong></td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 22 and Sun 23 Aug</td>
			<td><strong>Hammersmith to Barking</strong></td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 24 - Monday 31 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Northern</td>
			<td>Sat 29 and Sun 30 Aug</td>
			<td><strong>Moorgate to Kennington</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 29 and Sun 30 Aug</td>
			<td><strong>Gospel Oak to Barking</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 30 Aug</td>
			<td>
			<p><strong>Hackney Downs to Chingford,</strong></p>

			<p><strong>Clapham Junction to Willesden Junction </strong>until 11:00</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Mon 31 Aug</td>
			<td><strong>South Tottenham to Barking</strong></td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>September 2020</h2>
<h3>Tuesday 1 - Sunday 6 September</h3>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Circle</td>
			<td>Sat 5 and Sun 6 Sept</td>
			<td><strong>Aldgate to Edgware Road</strong> via Victoria</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 5 and Sun 6 Sept</td>
			<td><strong>Edgware Road and South Kensington to Ealing Broadway, Kensington (Olympia), Richmond and Wimbledon</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 5 and Sun 6 Sept</td>
			<td><strong>Gospel Oak to Barking</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 6 Sept</td>
			<td><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford </strong>until 10:15</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 7 - Sunday 13 September</h3>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jubilee</td>
			<td>Sat 12 and Sun 13 Sept</td>
			<td><strong>West Hampstead to Stanmore</strong></td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 12 and Sun 13 Sept</td>
			<td><strong>Aldgate to Harrow-on-the-Hill</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 12 and Sun 13 Sept</td>
			<td><strong>Gospel Oak to Barking</strong></td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 13 Sept</td>
			<td><strong>Willesden Junction to Richmond</strong></td>
		</tr>
	</tbody>
</table></div>


 

<h3>&nbsp;</h3>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Track closures - six month look ahead. Find out if planned closures could affect your journey";}
        
            
        


 