
    
  



@{ViewBag.Title = "Stations, lifts, escalators, works and closures ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/stations-lifts-and-escalators-works-and-closures";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Stations, lifts, escalators, works and closures </span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Stations, lifts, escalators, works and closures </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here we publish a list of planned works that affect stations, lifts and escalators.
        
      </div>
    
    
      <h2></h2>
      
           
      
<p><strong>Last updated:&nbsp;2 March 2020</strong></p>

<p>This information changes frequently. <a href="/plan-a-journey/index">Check before you travel</a>.</p>

<p>For planned service changes see <a href="/status-updates/planned-track-closures">Planned line closures and service changes</a>.</p>

<h2><a href="/status-updates/stations-lifts-and-escalators-works-and-closures#a">A</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#b">B</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#c">C</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#d">D</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#e">E</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#f">F</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#g">G</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#h">H</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#i">I</a>&nbsp;&nbsp;&nbsp;<a href="/status-updates/stations-lifts-and-escalators-works-and-closures#k">K</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#l">L</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#m">M</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#n">N</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#o">O</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#p">P</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#q">Q</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#r">R</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#s">S</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#t">T</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#u">U</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#v">V</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#w">W</a></h2>
<div class="table-container"><table style="width:100%" summary="Alphabetical list of stations which are closed or have access issues">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Station</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 296px;">
			<h4>Dates</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 597px;">
			<h4>What's affected</h4>
			</th>
		</tr>
		<tr>
			<td>
			<h2><a name="a"></a>A</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>Acton Main Line</td>
			<td style="width:296px">
			<p>Sunday 15 March,</p>

			<p>Sunday&nbsp;29 March</p>
			</td>
			<td style="width:597px"><strong>Trains will not stop.</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="b"></a>B</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>Belsize Park</td>
			<td style="width:296px">Until late February 2021</td>
			<td style="width:597px"><strong>Reduced lift service</strong></td>
		</tr>
		<tr>
			<td>Blackwall</td>
			<td style="width:296px">Saturday 7 and Sunday 8 March</td>
			<td style="width:597px"><strong>Westbound trains will not stop.</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="c"></a>C</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="d"></a>D</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="e"></a>E</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>Edgware Road (Bakerloo)</td>
			<td style="width:296px">Mon 23 March until late April</td>
			<td style="width:597px"><strong>Reduced lift service</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="f"></a>F</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Finsbury Park</td>
			<td colspan="1" style="width:296px">Until spring 2020</td>
			<td colspan="1" style="width:597px">
			<p><strong>Seven Sisters Road exit open weekdays from 06:45 until 22:00. </strong></p>

			<p>At all other times use the entrances on Station Place or Goodwin Street.</p>

			<p>Access to Wells Terrace is expected to be available in spring 2020.&nbsp; For Wells Terrace, please use the Goodwin Street or Station Place exits and follow the signed walking routes.</p>
			</td>
		</tr>
		<tr>
			<td>
			<h2><a name="g"></a>G</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="h"></a>H</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="i"></a>I</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="k"></a>K</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>Kilburn</td>
			<td style="width:296px">Mon 2 until Thu 12 March</td>
			<td style="width:597px"><strong>No step-free access. </strong>Use bus route 189 between Shoot-Up Hill and Orchard Street/Selfridges (for Bond Street station)</td>
		</tr>
		<tr>
			<td>
			<h2><a name="l"></a>L</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="m"></a>M</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Marble Arch</td>
			<td colspan="1" style="width:296px">
			<p>Monday&nbsp;9 March&nbsp;until&nbsp;mid-June&nbsp;2020</p>
			</td>
			<td colspan="1" style="width:597px">
			<p><strong>No down escalator service.</strong></p>

			<p>Please use the stairs.</p>
			</td>
		</tr>
		<tr>
			<td>
			<h2><a name="n"></a>N</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="o"></a>O</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="p"></a>P</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="q"></a>Q</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="r"></a>R</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="s"></a>S</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>St. Paul's</td>
			<td style="width:296px">Until late July 2020</td>
			<td style="width:597px">
			<p><strong>No down escalator service to the eastbound platform. </strong></p>

			<p>Please use the stairs.</p>
			</td>
		</tr>
		<tr>
			<td>
			<h2><a name="t"></a>T</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="u"></a>U</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="v"></a>V</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td>Victoria</td>
			<td style="width:296px">Until July 2020</td>
			<td style="width:597px">
			<p><strong>Reduced escalator service. </strong></p>

			<p>A one-way system is operating.</p>
			</td>
		</tr>
		<tr>
			<td>
			<h2><a name="w"></a>W</h2>
			</td>
			<td style="width:296px">&nbsp;</td>
			<td style="width:597px">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Wapping</td>
			<td colspan="1" style="width:296px">Monday 9 December 2019 until early April 2020</td>
			<td colspan="1" style="width:597px"><strong>Reduced lift service</strong></td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">West Ealing</td>
			<td colspan="1" style="width:296px">
			<p>Sunday 15 March,</p>

			<p>Sunday&nbsp;29 March</p>
			</td>
			<td colspan="1" style="width:597px"><strong>Trains will not stop.</strong></td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Whitechapel</td>
			<td colspan="1" style="width:296px">
			<p>Saturday 28 and Sunday 29 March</p>

			<p>Saturday 4 and Sunday 5 April</p>

			<p>Saturday 11 and Sunday 12 April</p>

			<p>Saturday 30 and Sunday 31 May</p>

			<p>Saturday 13 and Sunday 14 June</p>

			<p>Saturday 25 and Sunday 26 July</p>

			<p>Saturday 1 and Sunday 2 August</p>

			<p>Saturday 8 and Sunday 9 August</p>
			</td>
			<td colspan="1" style="width:597px">
			<p><strong>London Overground trains will not stop (including during Friday and Saturday Night service).</strong></p>

			<p>Use local buses to/from Shoreditch High Street or Shadwell<strong>.</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Wood Green</td>
			<td colspan="1" style="width:296px">Until&nbsp;May&nbsp;2020</td>
			<td colspan="1" style="width:597px">
			<p><strong>Reduced escalator service.</strong></p>
			</td>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table></div>


 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Look ahead at planned works that affect stations, escalators and lifts";}
        
            
        


 