
    
  



@{ViewBag.Title = "Parking enquiries";}
@{ViewBag.Keywords = "Coach drivers,Coaches,TfL";}
@{ViewBag.Url = "/info-for/coach-drivers/coach-parking/parking-enquiries";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/coach-drivers/index">Coach drivers</a></li>
                
            
                 <li><a href="/info-for/coach-drivers/special-parking-arrangements">Special parking arrangements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Parking enquiries</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Parking enquiries</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      <h2>Towed away or clamped?</h2>

<p>Your first call should be to Tow-away Removal and Clamping Enquires (TRACE). It's a free 24-hour service. Call 0845 206 8602.</p>

<h2>Metropolitan Police</h2>

<p>You must speak to the Metropolitan Police in advance about any events that may involve large numbers of coaches.</p>

<p><strong>Phone: </strong>101 or 020 7230 1212<strong> </strong>(to contact your local police service)<br />
<strong>Fax</strong>: 020 7230 6615<br />
<strong>Address:</strong> Metropolitan Police, CO.11. Public Order Branch, Room 709, New Scotland Yard, London SWIH 0BG</p>

<p>Visit the <a href="http://content.met.police.uk/Page/UpcomingEvents">Metropolitan Police website</a>.</p>

<h2>City Police</h2>

<p>For enquiries about the City of London area, please contact:</p>

<p><strong>Phone</strong>: 020 7601 2143<br />
<strong>Address:</strong> City of London Police, Wood Street, London EC2P 2NQ</p>

<h2>Other parking enquiries</h2>

<p>For general enquiries, contact London Councils:</p>

<p><strong>Phone</strong>: 020 7934 9999<br />
<strong>Address:</strong> London Councils, 59&frac12; Southwark Street, London SE1 0AL</p>

<h2>The Confederation of Passenger Transport</h2>

<p>The Confederation of Passenger Transport UK is the trade association for bus, coach, light rail and metro operators. It gives passenger transport operators a voice through political lobbying and media liaison.</p>

<p>Visit the <a href="http://www.cpt-uk.org/">Confederation of Passenger Transport UK website</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/coach-drivers/index" class="heading">
                    <h2 id="sub-menu-heading">Coach drivers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/advice-for-drivers">Advice for drivers</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/coach-drivers/special-parking-arrangements">Special parking arrangements</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/coach-drivers/coach-parking/parking-enquiries">Parking enquiries</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/victoria-coach-station">Victoria Coach Station</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Common questions about parking for coach drivers";}
        
            
        


 