
    
  



@{ViewBag.Title = "The Night Tube";}
@{ViewBag.Description = "Fridays and Saturdays on five lines. Standard off-peak fares apply";}

@{ViewBag.Url = "/campaign/tube-improvements/the-future-of-the-tube/night-tube";}
        <!-- empty placeholder -->
 
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/the-future-of-the-tube">The future of the Tube</a></li>
                
            
            
                <li><span class="last-breadcrumb">The Night Tube</span></li>
            
        
 
        
 
        
 
        
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The Night Tube</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main">
    
      <div class="article-teaser">
        The Night Tube, which will be launched later this year, will offer a round-the-clock service on Fridays and Saturdays. The service will run on five lines: the Jubilee, Victoria, and most of the Central, Northern and Piccadilly lines.
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/nighttubemap-.gif" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/nighttube-map_rdax_400x250.gif" alt="NT Map" />
             <span class="caption">See where the Night Tube is running</span>
        </a>
        
        
    </div>
    <p>London is already a 24-hour city, and thanks to the huge investment to modernise the Underground, we are now rolling out a 24-hour Tube to match. Demand has soared over recent years, with passenger numbers on Friday and Saturday nights up by around 70 per cent since 2000.</p>
<p>Across the Night Tube lines, you will be able to travel between Central London and the outskirts of the city. It will be pivotal to London's night economy and complement our existing Night bus services and London Taxi and Private Hire vehicles.</p>
 </div>
 <div>

<h2>Service details</h2>
<p><strong>Jubilee and Victoria lines</strong> - trains running on average every 10 minutes across the entire lines</p>
<p><strong>Central line</strong> - trains running approximately every 10 minutes between White City and Leytonstone and approximately every 20 minutes between Ealing Broadway to White City and Leytonstone to Loughton/ Hainault</p>
<p>No service between North Acton and West Ruislip, Loughton and Epping and Woodford and Hainault</p>
<p><strong>Northern line</strong> - trains running on average every 8 minutes between Morden and Camden Town and approximately every 15 minutes from Camden Town to High Barnet / Edgware</p>
<p>No service on the Mill Hill East and Bank branches</p>
<p><strong>Piccadilly line</strong> - trains running on average every 10 minutes between Cockfosters and Heathrow Terminal 5</p>
<p>No service on the Terminal 4 loop, or between Acton Town and Uxbridge</p>
<p>We also plan to expand the night time service to parts of the Metropolitan, Circle, District, and Hammersmith &amp; City lines once our modernisation programmes are complete. Additionally, services could operate on parts of the London Overground in 2017 and the Docklands Light Railway by 2021.</p>
</div>
 <div>

<h2>Fares</h2>
<p>We will charge standard off-peak fares for travelling on the Night Tube.</p>
<p>Day Travelcards are valid on the day of issue (using the date printed on the card), and for journeys starting before 04:30 the following day. For example, if you buy a Day Travelcard at 11:00 on Friday, you can use it until 04:29 on the following Saturday. Daily capping on <a href="https://tfl.gov.uk/fares-and-payments/oyster/using-oyster/price-capping">Oyster cards</a> and <a href="https://tfl.gov.uk/fares-and-payments/contactless/what-is-capping">contactless payment cards</a> also applies.</p>
</div>
 <div>

<h2>Accessibility</h2>
<p>Step-free accessibility at the Night Tube stations will be the same as during the day service.</p>
</div>
 <div>

<h2>Staffing policy</h2>
<p>All stations will continue to be staffed by London Underground employees while train services are running, just as we do in the day. Staff will be visible and available to help you with any queries.</p>
</div>
 <div>

<h2>Safety</h2>
<p>
We are <a href="https://www.youtube.com/watch?v=tcp2Xp-fn_c">working hard with our policing partners</a> to ensure the Tube network remains a safe, low crime environment.</p>
<p>There will be an enhanced policing presence during the overnight services. The British Transport Police (BTP) will provide more than 100 officers to patrol the 144 stations that will be open throughout the night each weekend when the Night Tube services begin. More BTP Police Community Support Officers will also be out on the network to assist passengers, and support police officers, as required.</p>
</div>
 <div>

<h2>Noise and disturbance</h2>
<p>We are sensitive to the potential of additional noise and disturbance created by the Night Tube. We have carried out a thorough assessment of noise issues alongside local authority Environmental Health Officers and have undertaken an enormous amount of work to the tracks to mitigate any noise issues before the service begins.</p>
<p>Once the Night Tube is operational, we will continue to work with residents to investigate any issues regarding noise. We will also ensure that any station announcements do not cause excessive noise levels.</p>
<p>We will continue to deliver upgrade and maintenance work, and when possible we plan to do this overnight between Sunday and Thursday on the Night Tube lines.</p>
</div>
 <div>

<h2>Why now?</h2>
<p>The new service has been made possible thanks to the continued modernisation of significant parts of the Underground network and improved levels of reliability. Independent research into the economic benefits of the Night Tube found that the new service will boost jobs and help maintain London's status as a vibrant and exciting place to live, work and visit.</p>
<p>The Night Tube will cut night-time journeys by an average of 20 minutes, with some cut by more than an hour. It will also play a vital role in opening up London's night-time economy, supporting almost 2,000 permanent jobs and boosting the economy by &pound;360m.</p>
<p>Demand for a 24-hour Tube service is clear - late night Tube use has increased at double the rate of day-time trips and Night bus usage has risen by 173 per cent since 2000. There are already over half a million users of the Tube after 22:00 on Fridays and Saturdays.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/night-time-economy.pdf">
    <div class="document-download-text">
        <p>Full report - Impact of the Night Tube on London's night-time economy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.38 -->
 
</div>

</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="https://tfl.gov.uk/campaign/night-tube-firsts?intcmp=28905" >
        
        
        <div class="text-link">
             <h2>Night Tube Firsts</h2>
            <p>Exhibitions, photography and film events to mark the launch of Night Tube</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/tube-improvements?intcmp=28904" >
        
        
        <div class="text-link">
             <h2>Tube Improvements</h2>
            <p>How the Tube is being updated to provide more capacity for a growing city</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2>Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-ve-done">What we've done</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-were-doing">What we're doing</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/the-future-of-the-tube">The future of the Tube</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/the-future-of-the-tube/new-tube-for-london">New Tube for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/the-future-of-the-tube/improving-customer-service">Improving customer service</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/the-future-of-the-tube/night-tube">The Night Tube</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/weekend-works">Weekend works</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon tfl">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter</h3>
    <p>All the latest from the TfL network</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.twitter.com/tfl">Follow &#64;TfL</a>
  </div> 
</div>
 <div class="follow-social facebook">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Facebook</h3>
    <p>News and latest information about the Tube</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.facebook.com/londonunderground">Like</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 