


@{ViewBag.Title = "Cashless payment for London Underground car parks frozen for 2014";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Cashless payment for London Underground car parks frozen for 2014</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Cashless payment for London Underground car parks frozen for 2014</h1>
        <div class="content-page-press-release">
        21 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Charges at London Underground (LU) car parks will be frozen for customers using cashless payment methods from 10 February 2014.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our cashless payment has been extremely popular with our customers and we want to encourage those who haven't signed up yet to do so to ensure they benefit from the price freeze."</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our cashless payment has been extremely popular with our customers and we want to encourage those who haven't signed up yet to do so to ensure they benefit from the price freeze. 
                            
                        </p>
                    </div>
                
            
            
            <p>Car parking at all Transport for London (TfL) sites can be paid for using cashless options, providing customers with cheaper season tickets and multi ticketing options at all of its LU car parks. Since the introduction last year, more than 35,000 people have registered for this service.<br>&nbsp;<br>The cashless payment method provides car parking customers with the option to make their payments by phone, text, mobile websites and mobile applications. Customers can register by visiting <a href="http://www.dashpark.com/tube">www.dashpark.com/tube</a> and following the instructions. <br>&nbsp;<br>TfL has around 11,000 car parking spaces at over 60 LU stations, mostly in outer London boroughs and it is continuing to invest in them to make them safer, easier to use and more cost effective for customers.</p>
<h2>Cash payments</h2>
<p>Customers who pay by cash will see an average rise in line with inflation to weekday tariffs, at 3.1 per cent. This reflects the costs of processing and collecting cash payments and to also incentivise people to transfer to the easier, cheaper and quicker method of payment.<br>&nbsp;<br>The change in cash payments will take the average payment from &pound;5.02 to &pound;5.18 for all day parking which is still lower than the average local competing car parks at &pound;6.35. The new change in cash payments will begin on 10 February 2014. Five LU station car parks, Chesham, Chalfont &amp; Latimer, Harrow on the Hill, Morden and Eastcote will see no changes in prices at all. <br>&nbsp;<br>Cash prices at weekends will not be increased, remaining on average at &pound;2.15 for all day parking on a Saturday and on average at &pound;1.64 for all day parking on a Sunday.<br>&nbsp;<br>Graeme Craig, Director of Commercial Development at TfL, said: "Our cashless payment has been extremely popular with our customers and we want to encourage those who haven't signed up yet to do so to ensure they benefit from the price freeze. We've been working hard to improve the technology available at our car parks to make them easier, quicker and more cost effective for our customers.<br>&nbsp;<br>"Customers using our cashless payment methods will also continue to receive discounts on season tickets and multi ticketing options. Our car park tariffs remain on average 26 per cent cheaper than our local competitors and we're pleased to continue offering value for money for our customers. All revenues generated from our car parks are reinvested into the car parks and the transport network to improve services for commuters."</p>
<h2>Motorcycle bays </h2>
<p>In line with some London boroughs and train operators, TfL has installed dedicated motorcycle bays across LU car parks. Motorcyclists are encouraged to register with the cashless system <a href="http://www.dashpark.com/tube">www.dashpark.com/tube</a> as they will be unable to pay cash at the car parks. Tariffs for motorcyclists will be capped at &pound;2 across LU station car parks for all day parking. <br>&nbsp;<br>TfL will be introducing a change in tariffs at North Greenwich LU car park after 7pm, due to the increasingly popularity of events at the O2. LU's car parks are staffed on O2 event nights to deal with the increase in usage. Tariffs at the car park will change from &pound;12 to &pound;18 after 7pm until 3am when the commuter tariff price resumes. The tariff change after 7pm will still be cheaper than the local competitor. <br>&nbsp;<br>Penalty Charge Notices (PCN) will rise from &pound;75 to &pound;100 in line with industry standards, however, there will be a discount of 40 per cent if paid within 14 days of the PCN being issued.&nbsp;&nbsp;&nbsp;&nbsp; </p>
<h2>Security</h2>
<p>TfL ensures that all of its car parks are maintained to the highest standards with full CCTV coverage. Since August 2009, all station LU car parks managed by NCP on behalf of TfL have attained the Safer Parking Awards status. The Safer Parking Scheme is designed to set a standard for car park operators to adhere to regarding the safety of the car park. These standards are assessed each year with all LU car parks maintaining their awards year on year.<br>&nbsp;<br>Members of the Source London charging network will also be able to charge their electric vehicles at 15 of the car parking sites which have over 130 Source London charge points in place. Annual membership for Source London is just &pound;10, however, drivers will have to pay for the parking space to charge their vehicles.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Cashless payment for London Underground car parks frozen for 2014 -->

 
 
        
        
            @{ViewBag.Description = "Car parking at all Transport for London (TfL) sites can be paid for using cashless options, providing customers with cheaper season tickets and multi ticketing options at all of its LU car parks. Since the introduction last year, more than 35,000 people";}
        
        


 