


@{ViewBag.Title = "Contractor appointed to extend London Overground's Willesden Junction Depot";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contractor appointed to extend London Overground's Willesden Junction Depot</h1>
        <div class="content-page-press-release">
        28 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work is key part of programme to deliver a 25 per cent increase in network's capacity
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has appointed Laing O'Rourke as the contractor to remodel track and modify the train maintenance depot in the Willesden area and provide additional sidings at Wembley to accommodate longer, five-car London Overground trains.</p>
<p>To meet increasing demand for its services, TfL is extending London Overground trains from four to five carriages. </p>
<p>This will deliver a 25 per cent increase in capacity so the railway can carry more passengers and reduce congestion can be reduced..&nbsp; </p>
<p>The capacity improvements also support the ongoing programme of station works to enhance accessibility and reduce queuing.</p>
<p>The &pound;320m capacity improvement programme includes a series of works so London Overground can operate, store and maintain longer trains.&nbsp; </p>
<p>As well as building new storage facilities and upgrading existing maintenance depots, platforms at many stations across the network need to be extended. </p>
<p>Platform works will be carried out at 12 stations on the Highbury &amp; Islington to New Cross/Crystal Palace/West Croydon and Clapham Junction routes and 17 stations on the Richmond to Stratford route.</p>
<p>TfL's Director of London Overground, Mike Stubbs, said: `This is a key contract in the development of the network as we work to provide 25 per cent more capacity as part of TfL's continued investment in London Overground. </p>
<p>`It will ensure we remain able to meet the growing demand for London Overground services which - at 89 per cent - have one of the highest levels of passenger satisfaction in London and the South East.'
<hr>

<ul>
<li>The work at the Willesden Junction depot includes civil engineering, track, overhead line and third rail electrification and signalling upgrades. The extension of the depot will be in a north east direction (i.e. towards the station) and at Wembley former freight sidings will be upgraded to stable passenger trains, both sites are bounded by railway and industrial premises and the North Circular Road </li>
<li>The work will be carried out between March 2014 and March 2015 </li>
<li>The contract is worth &pound;22m </li>
<li>Willesden Junction serves London Overground services on the Richmond and Clapham Junction to Stratford routes and the Euston to Watford route </li>
<li>The three routes carried 72.8m passengers in 2013 </li>
<li>The Government's commitment to electrify London Overground's Gospel Oak to Barking line will also allow for the introduction of higher capacity trains on this route at a later date</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Contractor appointed to extend London Overground's Willesden Junction Depot -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has appointed Laing O'Rourke as the contractor to remodel track and modify the train maintenance depot in the Willesden area and provide additional sidings at Wembley to accommodate longer, five-car London Overground trains.To";}
        
        


 