


@{ViewBag.Title = "DLR welcomes cyclists aboard following successful trial";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">DLR welcomes cyclists aboard following successful trial</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>DLR welcomes cyclists aboard following successful trial</h1>
        <div class="content-page-press-release">
        17 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"This is another important step forward in our mission to make it easier for more people to get cycling in the capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is another important step forward in our mission to make it easier for more people to get cycling in the capital
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has today announced that, following a successful trial, non-folding bicycles are now permitted on off-peak Docklands Light Railway (DLR) trains on a permanent basis.&nbsp; </p>
<p>More than 5,000 cyclists travelled with their bikes on the DLR during a successful trial period that started in July 2013.</p>
<p>The bike trial on the DLR is part of the Mayor's Vision for Cycling in London, the &pound;913m plan to transform the Capital into a city where cycling is a key part of everyday life. </p>
<p>Welcomed by cyclists and cycling campaign groups, allowing bikes on the DLR has opened up many new areas of London to cyclists.</p>
<p>Mayor of London, Boris Johnson, said: `Opening up the Docklands Light Railway to cyclists will be a great boost to the cycling community and make it much more convenient for cyclists to cross the river. </p>
<p>`This is another important step forward in our mission to make it easier for more people to get cycling in the capital.'</p>
<p>DLR Director Rory O'Neill, said: `All cyclists are now welcome to use DLR services during off-peak hours and at all time on weekends and Bank Holidays. </p>
<p>`This follows our successful six-month trial during which the London Cycling Campaign provided advice and assistance. </p>
<p>`I'd like to thank them for their co-operation and input during the trial.'</p>
<p>Serco Docklands Managing Director Kevin Thomas, said: `As DLR's operator we are delighted to have successfully introduced bicycles onto the railway as another improvement for DLR customers'.<br>&nbsp;<br>London CC Chief Executive Ashok Sinha said: `We're delighted to have participated in the trial, and that Transport for London has agreed to allow off-peak cycles on the DLR permanently. This measure will open up new areas of the city to the many Londoners who ride bicycles and provide valuable cross-river links, encouraging more daily cycle journeys.'</p>
<p>Cycling on London's main roads has risen by 173 per cent since 2001 and this plan will help double the level cycling over the next 10 years. </p>
<p>To support this growth, the Mayor and TfL last year announced a range measures to achieve the many aspects of the Vision. </p>
<p>A Central London cycling grid is currently being consulted on; it is a network of 60 miles of quieter routes to encourage less confident cyclists onto their bikes. </p>
<p>An additional 80,000 cycle parking spaces will also be installed in residential locations, stations, workplaces and other trip destinations by 2016. </p>
<p>Later this spring, innovative ideas by outer London boroughs will be rewarded when the Mayor announces the winner of his Mini-Holland fund to create cycling havens, delivering dramatic and transformational pro-cycling change.</p>
<p>For more information on the Mayors Cycling Vision, please visit <a href="http://www.tfl.gov.uk/cyclingvision">www.tfl.gov.uk/cyclingvision</a></p>

<p>
<hr>

<p>
<ul>
<li>Folding bicycles are permitted on the DLR at all times, including during peak hours. </li>
<li>From 27 January 2014, non-folding bicycles will be allowed on DLR trains from Monday to Friday during off-peak hours (not between 07.30 and 09.30 or 16.00 and 19.00) and all day at weekends and bank holidays. </li>
<li>We are consulting on plans for a Central London Grid, a mixture of quietways and superhighways in Central London. For more information and to comment on these proposals, please visit <a href="http://www.tfl.gov.uk/roadusers/cycling/29172.aspx">http://www.tfl.gov.uk/roadusers/cycling/29172.aspx</a> </li>
<li>For safety reasons, bicycles are not allowed on trains travelling between Shadwell and Bank stations<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-DLR welcomes cyclists aboard following successful trial -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has today announced that, following a successful trial, non-folding bicycles are now permitted on off-peak Docklands Light Railway (DLR) trains on a permanent basis.&nbsp; More than 5,000 cyclists travelled with their bikes on";}
        
        


 