


@{ViewBag.Title = "Following improvements to Taxicard service, TfL seeks to simplify subsidised transport options for mobility impaired Londoners";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Following improvements to Taxicard service, TfL seeks to simplify subsidised transport options for mobility impaired Londoners</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Following improvements to Taxicard service, TfL seeks to simplify subsidised transport options for mobility impaired Londoners</h1>
        <div class="content-page-press-release">
        21 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation begins on withdrawing Capital Call, which duplicates Taxicard and Dial-a-Ride services
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) today launched a public consultation on proposals to withdraw the Capital Call subsidised minicab service, which currently duplicates the more popular Taxicard scheme.<br>&nbsp; <br>There are currently two subsidised door-to-door transport services for Londoners who are unable to use public transport due to a mobility impairment; Taxicard - which is operated by taxis (black cabs) and minicabs (private hire vehicles) and Capital Call - which is operated by minicabs.&nbsp; </p>
<p>In addition TfL operates Dial-a-Ride, a free door-to-door multi-passenger bus service. </p>
<p>Together, Taxicard and Dial-a-Ride ensure that disabled Londoners can get around the city, and contribute towards making London one of the most accessible cities in the world in terms of transport. </p>
<p>Capital Call was created by TfL in 2003 and operates in just 10 London boroughs where historically there was a shortage of taxis (black cabs).&nbsp; </p>
<p>The availability of taxis operating in the 10 boroughs has increased and has contributed to the number of people using the Capital Call service reducing significantly, by 20 per cent in recent years.&nbsp; </p>
<p>There are currently around 1,400 people regularly using the service, compared to the 10,000 that use Taxicard in these boroughs.&nbsp; </p>
<p>In 2011 the Taxicard scheme started including minicabs as well as taxis. </p>
<p>To be eligible for Capital Call, a user must already be a registered member of Taxicard and is automatically eligible for Dial-a-Ride - which can be used for shopping trips, recreation or visiting friends and family.&nbsp; </p>
<p>Capital Call costs &pound;470,000 a year to operate.&nbsp; </p>
<p>Because it is effectively duplicating the Taxicard scheme, TfL is considering its withdrawal.&nbsp; </p>
<p>The efficiency savings that would be delivered would be invested in making further vital improvements to the capital's transport network, to the benefit of more people across London.</p>
<p>Garrett Emmerson, TfL Surface Transport Chief Operating Officer, said: `This proposal reflects both changes to the subsidised travel schemes and the way in which people are using these services.&nbsp; </p>
<p>`Significantly fewer people are now using Capital Call, which effectively duplicates the Taxicard scheme which now includes minicabs as well as taxis.&nbsp; </p>
<p>`Together, Taxicard and Dial-a-Ride would continue to ensure that mobility impaired Londoners have access to two services that ensure they can get around the city.'</p>
<p>Making London's transport network even more accessible is a key priority for TfL and the Mayor of London.&nbsp; </p>
<p>London's bus fleet is the most accessible in the UK, with all 700 routes in the capital served by low floor wheelchair accessible buses fitted with retractable ramps.&nbsp; </p>
<p>The DLR is step-free, all 22,000 of London's black cabs have wheelchair access and hundreds of millions of pounds is being invested in further improving accessibility on the Tube network through new trains, modernised stations, boarding ramps and raised platform sections.&nbsp; </p>
<p>Over the next 8 years a further 27 London Overground and Underground stations will become step free, and will be joined by new step-free stations along the Crossrail route.</p>
<p>The public consultation on the future of Capital Call opens today and is available on the TfL website at <a href="https://consultations.tfl.gov.uk/assisted-transport/capital-call">https://consultations.tfl.gov.uk/assisted-transport/capital-call</a> until Friday 11 April 2014.&nbsp; </p>
<p>TfL is writing to every registered Capital Call member to explain the proposal and ask for their views.</p>
<p>A decision will be made on the future of Capital Call on a borough by borough basis in summer 2014.
<hr>
</p>
<p>
<ul>
<li>There are currently two subsidised taxi and minicab door-to-door transport services for Londoners who are unable to use public transport due to a mobility impairment; Taxicard and Capital Call.&nbsp; TfL also runs Dial-a-Ride which is a multi-passenger door-to-door free bus service for disabled people who cannot use public transport.&nbsp; People must register to use the service and can then book trips for leisure and social purposes such as shopping, visiting friends and family, or going to the theatre. </li>
<li>In addition, Dial-a-Ride also offers a Travel Mentoring Service for disabled people who want to use mainstream public transport.&nbsp; The service provides a mentor to help them gain knowledge and confidence on the transport&nbsp; system and become an independent traveller. </li>
<li>Taxicard is funded by TfL and the London boroughs.&nbsp; Capital Call is a TfL managed and funded scheme. </li>
<li>Capital Call operates in the following 10 boroughs which historically had fewer taxis in operation than in other areas: Bexley, Hounslow, Ealing, Lambeth, Enfield, Lewisham, Haringey, Merton, Hillingdon and Southwark.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Following improvements to Taxicard service, TfL seeks to simplify subsidised transport options for mobility impaired Londoners -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today launched a public consultation on proposals to withdraw the Capital Call subsidised minicab service, which currently duplicates the more popular Taxicard scheme.&nbsp; There are currently two subsidised door-to-door";}
        
        


 