


@{ViewBag.Title = "Grab your hat, scarf and gloves and take advantage of a free guided walk this weekend";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Grab your hat, scarf and gloves and take advantage of a free guided walk this weekend</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Grab your hat, scarf and gloves and take advantage of a free guided walk this weekend</h1>
        <div class="content-page-press-release">
        21 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        If you're still feeling the excesses of the festive period and haven't got your healthy resolutions off the ground, TfL in partnership with Walk Unlimited has lined up another weekend of free guided walks on 25 and 26 of January to help you on your way.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Whether it's for health reasons, leisure or convenience, walking is a great way to get around, and to explore and enjoy the city's wonderful landscape. 
                            
                        </p>
                    </div>
                
            
            
            <p>Expert guides will be on hand to help Londoners enjoy the multitude of cityscapes, greenways and trails that form the Capital's acclaimed Walk London walking network. </p>
<p>The walks are suitable for everyone - from the experienced rambler to the occasional leisure walker, the young and the old.</p>
<p>'Winter Wanders' encapsulate London - taking in its abundance of&nbsp; iconic landmarks, the tranquillity of its parks and open spaces, the views and vibrancy of its bustling rivers and the serenity of its canals and waterways. </p>
<p>Winter wanderers will also sample the many hidden gems dotted right across the capital.</p>
<p>Ben Plowden, Director of Surface Strategy &amp; Planning, TfL Surface Transport, said: </p>
<p>'Whether it's for health reasons, leisure or convenience, walking is a great way to get around, and to explore and enjoy the city's wonderful landscape. </p>
<p>Take advantage of our free led walks this weekend and invite family and friends too. </p>
<p>You will be in the hands of knowledgeable experts who will be able to reveal lots of interesting facts about local areas to help you discover more about our great city.'</p>
<p>Sponsored guided walks are one of the many ways TfL is contributing to making London an increasingly walk-friendly city with further initiatives in place to make it an easier, exciting and pleasurable city to explore on foot.</p>
<p>Working in partnership with the London boroughs, these measures include improving walking routes, introducing new pedestrian wayfinding signs through the Legible London programme and an enhanced network of Greenways running through parks, forests, along waterways and quiet residential streets.</p>
<p>All Winter Wander walks start and finish either at, or within easy reach of public transport facilities, and explore sections of the Walk London Network, the city's seven strategic walking routes which are:<br></p>
<ul>
<li>Capital Ring Walk - 15 easily walked sections combine to provide a 78 mile circular route around inner London - some of the attractions on this route include Eltham Palace, Richmond Park, Wimbledon Common, the Olympic Park and the Thames Barrier; </li>
<li>Green Chain Walk - 50 miles of linked parks and open spaces that include&nbsp; Severndroog Castle, Crystal Palace Park and Oxleas Woods; </li>
<li>Jubilee Walkway - 15 miles of path designed to connect London's key attractions and many of the city's most famous sights including Buckingham Palace, Trafalgar Square, Tower of London, Tower Bridge and St Paul's Cathedral; </li>
<li>Lea Valley Walk - 18 miles of path following the river and canal in north east London, taking in Tottenham Marshes, Enfield Lock and Waltham Abbey; </li>
<li>LOOP Walk (London Outer Orbital Path) - 152 miles of parks and paddocks including Hall Place, Wilberforce Memorial and Kenley Aerodrome; </li>
<li>Thames Path Walk - 40 miles of level walks from Hampton Court Palace, through the heart of London to Erith Marshes. Sights include the Houses of Parliament, Albert Bridge, Syon Park and Kew Gardens; </li>
<li>The Jubilee Greenway Walk - Marking Her Majesty The Queen's Diamond Jubilee - 37 miles of path connect all the central London Games venues including the North Greenwich Arena, Greenwich Park, Horse Guards Parade, Hyde Park and Regent's Park. </li></ul>
<p>There is now a special reason to explore the Thames Path and be a part of history. </p>
<p>The 2013 Lonely Planet list of world adventures named London's very own Thames Path the world's second&nbsp; best city hike.</p>
<p>The Winter Wanders weekend is organised by Walk Unlimited and funded by TfL. To find out more about the walks near you visit <a title="http://www.walklondon.org.uk" href="http://www.walklondon.org.uk">www.walklondon.org.uk</a></p>
            <p>Notes to Editors:</p>
<ul>
<li>Over 612,000 walking maps, directions and audio guides are downloaded from Walk London's website annually resulting in more than 8million people on the network each year. </li>
<li>Winter Wanders is held every last weekend in January, the other guided walking weekends are known as Spring into Summer (held every last weekend in May) and&nbsp; Autumn Ambles, which is held every last weekend in September. </li>
<li>Greenways are traffic-free walking and cycling routes through parks, along canals and quiet streets, benefiting Londoners learning or returning to cycling and those who enjoy recreational cycling and walking. They are popular with all groups and abilities, in particular older people, children and disabled people </li>
<li>For more information on TfL's walking programme, visit <a href="http://www.tfl.gov.uk/walking">www.tfl.gov.uk/walking</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Grab your hat, scarf and gloves and take advantage of a free guided walk this weekend -->

 
 
        
        
            @{ViewBag.Description = "Expert guides will be on hand to help Londoners enjoy the multitude of cityscapes, greenways and trails that form the Capital's acclaimed Walk London walking network. The walks are suitable for everyone - from the experienced rambler to the occasional";}
        
        


 