


@{ViewBag.Title = "Londoners back Mayor and LU's vision for the future of the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners back Mayor and LU's vision for the future of the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners back Mayor and LU's vision for the future of the Tube</h1>
        <div class="content-page-press-release">
        31 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners overwhelmingly support the Mayor and London Underground's (LU) vision for the future of the Tube, according to a new poll undertaken for Transport for London (TfL).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"In future, we will have more staff visible and available at our stations to help customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London Underground Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            In future, we will have more staff visible and available at our stations to help customers
                            
                        </p>
                    </div>
                
            
            
            <p>Over four fifths of Londoners (82 per cent) support proposals to move staff out of underused ticket offices in to ticket halls, on to gate lines and platforms to help customers buy the right ticket, plan their journeys and keep them safe and secure.</p>
<p>Nearly nine in ten Londoners (89 per cent) support the introduction of a new 24-hour 'Night Tube' service at weekends.</p>
<p>In setting out its vision for the future of the Tube, LU has made the following commitments to Londoners:<br></p>
<ul>
<li>All stations will remain staffed and controlled at all times, with more staff visible and available to help customers </li>
<li>We'll introduce a new 24-hour service at weekends from 2015 </li>
<li>We'll provide more frequent and reliable services with better, more accessible stations </li>
<li>We'll introduce simpler ticketing - such as contactless bank card payment </li>
<li>We'll provide the best possible value for the fare you pay</li></ul>
<p>LU has also committed to making the station staffing changes without compulsory redundancies and has made clear to staff that there'll be a job for everyone at London Underground who wants to remain with the organisation and be flexible.</p>
<p>Despite these assurances, the leaderships of the RMT and TSSA unions have called two 48-hour strikes at LU, with the first set to disrupt Londoners from around 9.30pm on Tuesday 4 February until the morning of Friday 7 February.</p>
<p>LU Managing Director, Mike Brown MVO said:</p>
<p>'In future, we will have more staff visible and available at our stations to help customers buy the right ticket, plan their journeys and to keep them safe and secure.&nbsp; </p>
<p>All Tube stations will remain staffed and controlled at all times.&nbsp; </p>
<p>From 2015, we'll also introduce a 'Night Tube' service at weekends on key lines.</p>
<p>'These results show Londoners overwhelmingly back that vision.&nbsp; </p>
<p>I call on the leaderships of the RMT and TSSA unions to end their threat to disrupt Londoners with strike action and to work with us to shape the future of a modern Tube for this great city.'</p>
<p>The trend of ticket sales away from ticket offices has surged over recent years and today less than three per cent of all Tube journeys involve a visit to a ticket office.&nbsp; </p>
<p>In future therefore, rather than being remote from customers behind closed doors or glass windows, Tube station staff will not be based in ticket offices, but in ticket halls, on gate lines and on platforms, ready and available to give the best face-to-face service for customers.&nbsp; </p>
<p>All Tube stations will continue to be staffed and controlled in future, with more staff visible and available than today in ticket halls and on gate lines and with the same number of staff on platforms.&nbsp; </p>
<p>Staff equipped with the latest mobile technology, such as tablet computers, will be able to monitor and manage stations on the move.</p>
<p>From 2015, Londoners and visitors to the capital will be able to take the Tube home at any hour of the night on Fridays and Saturdays, supporting London's vibrant night-time economy and boosting businesses, jobs and leisure opportunities. </p>
<p>The new 'Night Tube' network has been made possible because significant parts of the LU network have been successfully modernised.</p>
<p>From 2015, weekend services will run through the night on core parts of the system - initially comprised of the Northern, Piccadilly, Victoria, Central and Jubilee lines.&nbsp; </p>
<p>This network, which will be expanded to include other lines in subsequent years, will link in with existing 24 hour and Night Bus services to give passengers an extensive and integrated service throughout the night.</p>
<p>
<hr>

<p>
<p>Notes to Editors:</p>
<ul>
<li>1,012 Londoners were polled by SPA Future Thinking on behalf of TfL from 20 - 26 January, 2014; </li>
<li>Two key questions were put to Londoners, as follows:<br>o Q:&nbsp; Today, due to Oyster and other innovations, just 3% of Tube journeys involve a visit to a ticket office. So in future, Transport for London proposes that staff are moved from inside ticket offices to ticket halls and platforms where they can provide the best face-to-face service to customers. As a result, there will be more staff visible and available to help customers buy the right ticket, plan their journeys and keep them safe and secure. Transport for London is committed to delivering this change with no compulsory redundancies;<br>o Q:&nbsp; Following work to modernise and upgrade key parts of the Tube, Transport for London can now undertake less intensive overnight maintenance, while ensuring they can still run safe and reliable services. So Transport for London now proposes to run the Tube 24 hours a day at weekends on key lines - Central, Jubilee, Northern, Piccadilly and Victoria - from 2015. </li>
<li>Londoners were then asked to respond to each question, saying whether they thought it was: <br>o An excellent idea<br>o A good idea<br>o Quite a good idea<br>o Quite a bad idea<br>o A bad idea, or,<br>o A terrible idea </li>
<li>A summary of the results follows.&nbsp; The full research report is available upon request.</li></ul>
<p>
<div class="table-container"><table height="502" cellspacing="1" cellpadding="1" width="511" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;All adults %</td>
<td>&nbsp;Users %</td></tr>
<tr>
<td>
<p>STAFF REDEPLOYMENT FROM TICKET OFFICES TO TICKET HALLS AND PLATFORMS</p></td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;An excellent idea</td>
<td>&nbsp;29</td>
<td>&nbsp;29</td></tr>
<tr>
<td>&nbsp;A good idea</td>
<td>&nbsp;32</td>
<td>&nbsp;32</td></tr>
<tr>
<td>&nbsp;Quite a good idea</td>
<td>&nbsp;21</td>
<td>&nbsp;21</td></tr>
<tr>
<td>&nbsp;Quite a bad idea</td>
<td>&nbsp;7</td>
<td>&nbsp;7</td></tr>
<tr>
<td>&nbsp;A bad idea</td>
<td>&nbsp;1</td>
<td>&nbsp;1</td></tr>
<tr>
<td>&nbsp;A terrible idea</td>
<td>&nbsp;3</td>
<td>&nbsp;3</td></tr>
<tr>
<td>&nbsp;Don't know</td>
<td>&nbsp;6</td>
<td>&nbsp;6</td></tr>
<tr>
<td>&nbsp;<strong>Net good idea</strong></td>
<td><strong>&nbsp;82</strong></td>
<td><strong>&nbsp;82</strong></td></tr>
<tr>
<td>&nbsp;<strong>Net bad idea</strong></td>
<td><strong>&nbsp;12</strong></td>
<td><strong>&nbsp;12</strong></td></tr>
<tr>
<td>&nbsp;24-HOUR RUNNING AT WEEKENDS</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;An excellent idea</td>
<td>&nbsp;44</td>
<td>&nbsp;45</td></tr>
<tr>
<td>&nbsp;A good idea</td>
<td>&nbsp;26</td>
<td>&nbsp;26</td></tr>
<tr>
<td>&nbsp;Quite a good idea</td>
<td>&nbsp;19</td>
<td>&nbsp;19</td></tr>
<tr>
<td>&nbsp;Quite a bad idea</td>
<td>&nbsp;3</td>
<td>&nbsp;3</td></tr>
<tr>
<td>&nbsp;A bad idea</td>
<td>&nbsp;1</td>
<td>&nbsp;1</td></tr>
<tr>
<td>&nbsp;A terrible idea</td>
<td>&nbsp;1</td>
<td>&nbsp;1</td></tr>
<tr>
<td>&nbsp;Don't know</td>
<td>&nbsp;5</td>
<td>&nbsp;4</td></tr>
<tr>
<td>&nbsp;<strong>Net good idea</strong></td>
<td>&nbsp;<strong>89</strong></td>
<td><strong>&nbsp;90</strong></td></tr>
<tr>
<td><strong>&nbsp;Net bad idea</strong></td>
<td><strong>&nbsp;6</strong></td>
<td><strong>&nbsp;6</strong></td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Londoners back Mayor and LU's vision for the future of the Tube -->

 
 
        
        
            @{ViewBag.Description = "Over four fifths of Londoners (82 per cent) support proposals to move staff out of underused ticket offices in to ticket halls, on to gate lines and platforms to help customers buy the right ticket, plan their journeys and keep them safe and secure.Nearly";}
        
        


 