


@{ViewBag.Title = "LU urges TSSA leadership to abandon unnecessary strike threat and to work with us to modernise the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU urges TSSA leadership to abandon unnecessary strike threat and to work with us to modernise the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU urges TSSA leadership to abandon unnecessary strike threat and to work with us to modernise the Tube</h1>
        <div class="content-page-press-release">
        27 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        LU committed to a job for all staff who want one, and introducing changes with no compulsory redundancies
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're committed to implement changes to station staffing without compulsory redundancies and we've been clear that there'll be a job for everyone at LU who wants to work for us and be flexible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Hufton</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're committed to implement changes to station staffing without compulsory redundancies and we've been clear that there'll be a job for everyone at LU who wants to work for us and be flexible
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has urged TSSA union leaders to listen to their members and withdraw the threat of strike and industrial action, announced this afternoon.&nbsp; </p>
<p>According to TSSA figures provided to LU, 932 members were balloted, with just 459 - or 49 per cent - voting.&nbsp;&nbsp; Just 267 - or 29 per cent - of TSSA members balloted voted for strike action.&nbsp; </p>
<p>The result means that over 70 per cent of TSSA members either voted no or did not vote for strike action.<br>&nbsp;<br>This follows a similar pattern with the outcome of the RMT union's ballot last week when around 70 per cent of their membership either voted no or did not vote for strike action. <br>&nbsp;<br>LU is consulting with trade unions and staff over its vision for the future of the Tube, set out in November of last year, which will improve the service for customers. </p>
<p>This includes a new 24-hour 'Night Tube' service at weekends and more staff visible and available at stations to help customers buy the right ticket, plan their journeys and keep them safe and secure. </p>
<p>As now, all Tube stations will continue to be staffed and controlled at all times that services are running.<br>&nbsp;<br>The low turnout in the TSSA leadership's ballot reflects LU's clear commitments to staff, which have been outlined again to the unions repeatedly during sessions at the conciliation service ACAS. </p>
<p>These include:</p>
<ul>
<li>Every Tube station will be visibly staffed and controlled by LU staff </li>
<li>There will be a job for everyone who wants to continue to be part of our organisation and who is ready to be flexible </li>
<li>Any operational changes will be done without compulsory redundancies where we can collaborate to make change happen </li>
<li>We will involve staff in any plans to grow, develop and change our services </li>
<li>We will do this fairly and support people through change&nbsp;</li></ul>
<p>Despite these commitments, the TSSA leadership seem determined to press ahead with strike action that will lose their members 4 days' pay. </p>
<p>This is also despite the TSSA's own Passenger Charter - outlining what it wants from London Underground - matching the commitments already set out by LU.<br>&nbsp;<br>Phil Hufton, LU's Chief Operating Officer, said: `Under our proposals all Tube stations will remain staffed and controlled at all times when services are operating, and we'll be introducing a 24-hour service at weekends during 2015.&nbsp; </p>
<p>`In future, there will be more staff in ticket halls and on platforms to help customers buy the right ticket and keep them safe and secure.<br>&nbsp;<br>`We're committed to implement changes to station staffing without compulsory redundancies and we've been clear that there'll be a job for everyone at LU who wants to work for us and be flexible. </p>
<p>`I re-affirm these commitments to the TSSA leadership, whose own Passenger Charter detailing what they want from us is identical to the commitments we have already set out, and I am urging them to abandon this completely unnecessary strike action and to proceed with the consultation that is underway without threatening to disrupt Londoners.'<br>&nbsp;<br>The trend of ticket sales away from ticket offices has surged over recent years and today less than three per cent of all Tube journeys involve a visit to a ticket office.&nbsp; </p>
<p>In future, therefore, rather than being remote from customers behind closed doors or glass windows, more Tube station staff will be deployed to ticket halls, gate lines and platforms to give a better face-to-face service to customers and will be equipped with the latest mobile technology.<br>&nbsp;<br>In 2015, weekend services will run through the night on core parts of the system - initially comprised of services on the Piccadilly, Victoria, Central, Jubilee and Northern lines.&nbsp; </p>
<p>This network, which will be expanded to include other lines in subsequent years, will dovetail with existing 24-hour and Night Bus services to give our customers an extensive and integrated service throughout the night
<hr>
 </p>
<ul>
<li>To see more about LU's plans for the future of the Tube, watch the short film at <a href="http://www.tfl.gov.uk/futuretube">http://www.tfl.gov.uk/futuretube</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-LU urges TSSA leadership to abandon unnecessary strike threat and to work with us to modernise the Tube -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has urged TSSA union leaders to listen to their members and withdraw the threat of strike and industrial action, announced this afternoon.&nbsp; According to TSSA figures provided to LU, 932 members were balloted, with just 459 -";}
        
        


 