


@{ViewBag.Title = "Major retailers to bring 'click and collect' revolution to the London Underground network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major retailers to bring 'click and collect' revolution to the London Underground network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major retailers to bring 'click and collect' revolution to the London Underground network</h1>
        <div class="content-page-press-release">
        29 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Picking up shopping on the move is set to become simple for thousands of London Underground customers as Transport for London (TfL) today announced that it is entering into partnership working with several major companies.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Over 11 million journeys take place on our public transport network each day and there is a fantastic opportunity for us to work with commercial partners to deliver products and services that our customers want"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Over 11 million journeys take place on our public transport network each day and there is a fantastic opportunity for us to work with commercial partners to deliver products and services that our customers want
                            
                        </p>
                    </div>
                
            
            
            <p>Tesco, Waitrose and automated parcel Locker Company InPost are all set to establish 'click and collect' facilities at stations, transforming the services on offer to customers as they move around the transport network. </p>
<p>TfL has been developing click and collect services at London Underground station car parks since November of last year, with a six month trial with Asda Grocery Click and Collect services at six station car parks. </p>
<p>The trial has been successful and TfL is in discussions with Asda to expand the service. </p>
<p>Click and collect enables customers to place orders online, which they then pick up from stations or station car parks on their way home. </p>
<p>With the rise in smartphone devices and the introduction of Wi-Fi at over 120 LU stations, customers can also make their purchases as they move around the network.</p>
<h2>Range of services and goods</h2>
<p>Subject to final testing at the locations, the following services will be introduced this year:<br></p>
<ul>
<li>Tesco and Waitrose will install click and collect facilities at up to 6 stations each; </li>
<li>InPost, who provide parcel delivery services for multiple retailers, will install lockers at 3 stations.</li></ul>
<p>TfL is also working with small businesses and start up companies to offer a diverse range of services and goods. LOLA's Cupcakes launched their first cart at King's Cross St Pancras London Underground station and will be trading at a further five LU stations later this year. Last week TfL worked with Rockflower to open the world's first retail and vending flower kiosk at Blackfriars London Underground station.<br>&nbsp; <br>As well as providing convenience to customers these agreements will secure commercial revenue for TfL, which will be reinvested into improving the transport network, benefiting all Londoners.</p>
<p>Mike Brown MVO, Managing Director of London Underground, said: </p>
<p>'Over 11 million journeys take place on our public transport network each day and there is a fantastic opportunity for us to work with commercial partners to deliver products and services that our customers want, and as a result also grow revenues that we then reinvest in improving the transport network. </p>
<p>The primary role of our stations must always be travel and we will never compromise that, but there is much more we can and will be doing to improve and modernise our stations to ensure they meet the wider needs of our busy customers.'</p>
<h2>Agreement with major retailers</h2>
<p>Graeme Craig, Director of Commercial Development at TfL, said: </p>
<p>'We are delighted to be working with so many retailers to bring the services they provide to our customers as they travel around London. </p>
<p>The trial with Asda has proven very successful and we look forward to establishing new partnerships and developing new concepts with other retailers.'</p>
<p>TfL has been reviewing opportunities to improve the services on offer to customers across the public transport network, which is responsible for an average of over 11 million journeys every day, and has been speaking to local, national and international retailers about working together to provide a range of services. </p>
<p>The agreements with the major retailers will secure income streams as part of a wider commercial strategy which is currently forecast to generate &pound;3.5bn over the coming years.&nbsp; </p>
<p>Andrew Yaxley, Tesco Managing Director for London, said: </p>
<p>'Our customers really enjoy the convenience of Click &amp; Collect because it makes shopping so much easier. </p>
<p>The additional TfL pick-up locations will give even greater flexibility to our customers because they will have more options to collect their shopping at a time and location that's most convenient to them.'</p>
<p>Robin Phillips, Waitrose Director, Ecommerce, said: </p>
<p>'Giving our customers as many ways as possible to buy and collect their groceries on the move is key to building on the phenomenal growth seen at Waitrose.com. </p>
<p>Collection lockers will unlock the potential to reach customers in locations where we don't have a shop and which are very convenient, such as on the way home from work or the school run. </p>
<p>More and more people are adding an online shopping mission to their way of buying from Waitrose and we will continue to invest in making sure that we give them what they want, when they want it.'</p>
<p>Kieran Shanahan, Asda E-Commerce Director, said: </p>
<p>'We're very proud of our partnership with TfL, which was a retail first when we launched last year. </p>
<p>It gives more customers convenient access to Asda alongside our Click and Collect sites at business parks, park and ride plus of course, at our stores.'</p>
<p>Andrew McAlpine, CEO, Rockflower LTD said: </p>
<p>'Being able to buy a beautifully designed, affordable, flower bouquet 24/7 has been a dream of mine for a long time. </p>
<p>We at Rockflower are delighted that Transport for London shares our vision to bring London's commuters fresh flowers at all hours through our unique in-station retail and vending concept.'</p>
<p>Michelle De Pasquale, Commercial Director for InPost UK, said: </p>
<p>'InPost automated parcel lockers are used worldwide and establishing networks of our lockers within train and transportation systems is high on our agenda, both in Europe and beyond.&nbsp; </p>
<p>London commuters will benefit hugely from the incorporation of a range of Click &amp; Collect options in and around the stations with the inclusion of our lockers enabling convenient collections and returns for online shoppers 24 hours a day, 7 days a week 365 days a year.&nbsp; </p>
<p>Establishing a nationwide network of conveniently sited parcel lockers, accessible 24/7/365, is at the heart of our business and working with TFL is a welcome addition to this.'</p>
<p>Asher Budwig, Managing Director of LOLA's Cupcakes, said: </p>
<p>'LOLA's is proud to be working with TfL, offering Londoners the opportunity to try our delicious range of freshly baked cupcakes, cakes &amp; brownies.'</p>
<p>A particular area of focus is on making the best use of TfL assets, including its extensive property portfolio in London and the 270 London Underground stations, bus stations and advertising sites across the network. As well as working with major brands, TfL also generates commercial revenue from advertising across its estate, sponsorship and property. TfL will continue to find ways to generate commercial income to reinvest into the transport network and welcomes discussions with interested parties.</p>

<p>Notes to Editors:</p>
<ul>
<li>Images are available <a href="http://www.flickr.com/photos/tflpress/sets/72157640279679935/">here</a>.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Major retailers to bring 'click and collect' revolution to the London Underground network -->

 
 
        
        
            @{ViewBag.Description = "Tesco, Waitrose and automated parcel Locker Company InPost are all set to establish 'click and collect' facilities at stations, transforming the services on offer to customers as they move around the transport network. TfL has been developing click and";}
        
        


 