


@{ViewBag.Title = "Mayor awards London boroughs additional &pound;17.3m for cycling improvements";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor awards London boroughs additional &pound;17.3m for cycling improvements</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor awards London boroughs additional &pound;17.3m for cycling improvements</h1>
        <div class="content-page-press-release">
        23 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London have today, Thursday 23 January, awarded over &pound;17m to boroughs across London so they can make key cycling improvements in their local areas.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As part of my Cycling Vision, we are engaging in a vast &pound;1billion programme of improvements to transform cycling in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As part of my Cycling Vision, we are engaging in a vast &pound;1billion programme of improvements to transform cycling in London
                            
                        </p>
                    </div>
                
            
            
            <p>The money, which will be made available over three years, will enable boroughs to deliver measures to help increase the take up of cycling and make London more easily accessible and safe on two-wheels. <br>&nbsp;<br>Thousands of cycle parking spaces will be installed across London, with more than 5,000 delivered in Kensington &amp; Chelsea and Waltham Forest alone. </p>
<p>The Borough Cycling Programme will also see thousands of Londoners - young and old - benefit from bespoke cycle training, as well as around 15,000 drivers taking part in "Safer Urban Driver" courses across London. In addition, in boroughs such as Ealing, HGV drivers will be given specific cyclist awareness training to help reduce the number of accidents between lorries and cyclists. <br>&nbsp;<br>The Mayor of London, Boris Johnson, said; </p>
<p>'As part of my Cycling Vision, we are engaging in a vast &pound;1billion programme of improvements to transform cycling in London. </p>
<p>Making some of this money available directly to the boroughs will help ensure that cycling developments reach communities across the capital. </p>
<p>These local schemes will add to the innovative measures we've already announced, including enhanced cycling superhighways, urban 'Quietways' for more cautious cyclists, and turning some outer boroughs into mini-Hollands.'<br>&nbsp;<br>Leon Daniels, Managing Director for Surface Transport at Transport for London, said:&nbsp; </p>
<p>'Getting more people cycling, and more safely, are priorities of both TfL and the Mayor, and the nearly &pound;1 billion commitment to cycling we are investing in the next ten years is testament to this.<br>&nbsp;<br>'All 32 boroughs and the City of London bid for, and received, funding through our Borough Cycling Programme to create more cycle parking, cycling training and driver training, all of which will help deliver significant cycle safety improvements.'</p>
<p>Councillor Bassam Mahfouz, Cabinet Member for Environment and Transport in the London Borough of Ealing, said: </p>
<p>'We're proud of what we've achieved in Ealing to make cycling safer, easier and more attractive. </p>
<p>This funding has enabled us to build on these achievements with initiatives including vital cycle safety training for HGV drivers and cycle training for residents of all ages and abilities. </p>
<p>It's also made it possible for us to provide additional and safer cycle parking across the borough. </p>
<p>Together we are making cycling more appealing in Ealing.'</p>
<p>This &pound;17.3m borough funding is on top of the broader cycling initiatives already announced by the Mayor as part of his Cycling Vision. </p>
<p>A 'Central London grid', a network of 60 miles of quieter routes for cyclists has recently been opened for consultation. </p>
<p>In addition, the first 'Quietways' outside central London will shortly be announced, creating high-quality routes stretching well beyond the centre that will enable cyclists to avoid main roads. </p>
<p>Innovative ideas by outer London boroughs will also soon be rewarded when the Mayor announces the winners of his Mini-Holland fund to create cycling havens later this year.</p>
<p>For more information on the Mayors Cycling Vision, please visit <a href="http://www.tfl.gov.uk/cyclingvision">here</a>&nbsp;</p>

<p><a href="/assets/downloads/pn026__database.pdf">Funding allocation by borough</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Mayor awards London boroughs additional &pound;17.3m for cycling improvements -->

 
 
        
        
            @{ViewBag.Description = "The money, which will be made available over three years, will enable boroughs to deliver measures to help increase the take up of cycling and make London more easily accessible and safe on two-wheels. &nbsp;Thousands of cycle parking spaces will be";}
        
        


 