


@{ViewBag.Title = "Mayor launches the 'Year of the Bus' to celebrate vital part of London's transport network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor launches the 'Year of the Bus' to celebrate vital part of London's transport network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches the 'Year of the Bus' to celebrate vital part of London's transport network</h1>
        <div class="content-page-press-release">
        27 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London will today launch a year of events and activities to mark the vital contribution London's bus network continues to make to the life and economy of the city and the UK as a whole.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'London buses are the pulsing red arteries of the capital, 24-hours a day, 364 days of the year and they play an undeniably important role in the city's economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'London buses are the pulsing red arteries of the capital, 24-hours a day, 364 days of the year and they play an undeniably important role in the city's economy
                            
                        </p>
                    </div>
                
            
            
            <p>London's bus network - the most accessible and one of the most extensive anywhere in the world - has, throughout its history, played a central role in keeping the city moving and maintaining London's role as the engine-room of the UK economy. </p>
<p>This year sees a number of important anniversaries, including 60 years since the creation of the original and iconic Routemaster, 75 years since the launch of its predecessor the RT-Type bus, and 100 years since hundreds of London buses were sent to the Western Front to play a crucial role during the First World War.<br>&nbsp;<br>Throughout this year, Transport for London (TfL) - working in partnership with London Transport Museum - will host a number of engaging events, exhibitions, recreations and other activities that will re-connect Londoners with their bus network and remind the world of the role that London buses, the bus drivers and the staff who support them, play in keeping this great city moving 24 hours a day throughout the year. </p>
<p>Key events in the Year of the Bus calendar include:</p>
<ul>
<li>A major exhibition at London Transport Museum entitled 'Goodbye Piccadilly - from the home front to the Western Front' - which opens on 16 May 2014 to commemorate and explore the contribution of buses and bus drivers to the First World War and life on the home front in wartime London.</li>
<li>The restoration of a B-Type Bus, the world's first mass produced motor bus. B-Types were commandeered in large numbers during the war and converted into 'Battle Buses' which carried soldiers to the frontline and were used as ambulances and even mobile pigeon lofts.&nbsp; The Battle Bus will be fully restored in its original livery in the summer, will be painted khaki, be converted to a 'Battle Bus' later in the year and will travel back to France.&nbsp; The bus will then return to London to take part in events to commemorate the centenary of the outbreak of the war. </li>
<li>In the summer there will be a bus cavalcade event that will see historic vehicles from the last century back on the capital's roads. </li></ul>
<p>Boris Johnson, the Mayor of London, said: </p>
<p>'London buses are the pulsing red arteries of the capital, 24-hours a day, 364 days of the year and they play an undeniably important role in the city's economy.&nbsp;</p>
<p>The history of London's bus network is a fascinating one, from George Shillibeer's early horse-drawn omnibuses to today's world leading New Routemaster, and this year we will celebrate the central role the bus has played, and will continue to play, in the life of our capital.'</p>
<p>Leon Daniels, Managing Director for TfL Surface Transport, said: </p>
<p>'In London people make more than 2.3 billion bus journeys a year - more than are made in the rest of England.&nbsp; This year will see a richly-deserved celebration of the humble bus from its origins in the 19th century to today, and also look at what the future holds for this crucial part of London's transport network.'&nbsp;<br>&nbsp;<br>London buses carry 6.5m passengers a day and, alongside the Tube - which carries around 4m each day - provide the backbone of London's transport network.&nbsp; </p>
<p>It's one of the largest bus networks anywhere in the world, with a 8,600-strong bus fleet, operating across around 700 routes serving 19,000 bus stops.&nbsp; </p>
<p>Despite its size, the bus network remains flexible and able to adapt to the challenges of operating in a constantly changing streetscape.&nbsp; </p>
<p>Buses are a vital daily service for millions and one that is very local with the vast majority of Londoners (95 per cent) never more than 400 metres from a bus stop.&nbsp; </p>
<p>Buses link homes to jobs, schools and hospitals in every part of the capital.&nbsp; </p>
<p>They are the backbone, and often the forgotten workhorses, of London's transport network.</p>
<p>The bus network is also the most accessible in the world and a vital service for older and disabled passengers. </p>
<p>All 8,600 buses are fitted with ramps that are checked each day before a bus enters passenger service.&nbsp; </p>
<p>Seventy one per cent of bus stops are wheelchair accessible and we have committed an extra &pound;18m to ensure this figure increases to 95 per cent by 2016.</p>
<p>Buses support the needs of our growing city and in turn help London to function as the engine-room of the UK's economy.&nbsp; </p>
<p>The bus network in London directly employs 24,500 bus drivers and tens of thousands more in supporting roles.&nbsp; </p>
<p>And the economic effect doesn't stop at London's borders - thousands of jobs around the country depend upon London's network.&nbsp; </p>
<p>The night bus network also transports legions of people who work outside of the 9 to 5 routine - with almost half of passengers travelling to or returning from work.</p>
<p>London's buses are also at the forefront of work to reduce the environmental impact of the transport network with the operation of electric buses, zero emission hydrogen buses and the delivery of Europe's largest hybrid bus fleet.&nbsp; </p>
<p>Around six hundred hybrid buses now operate on the capital's roads, including the New Routemasters, with more being introduced in a rolling programme.&nbsp; </p>
<p>By 2016 there will be more than 1,700 hybrid buses in service on London's streets representing 20 per cent of the total bus fleet.</p>
<p>Buses in London have also affected great social change.&nbsp; </p>
<p>During the First World War women began to work in what had previously been male-dominated roles - including 'on the buses'.&nbsp; </p>
<p>In the 1950s and 60s thousands of men and women came from the Caribbean to work on London's famous red buses, helping to shape a vibrant and diverse city that now speaks more than 300 languages.</p>
<p>As part of the launch activity the Mayor will unveil a specially painted silver New Routemaster bus that will soon go into service, a 'Year of the Bus' roundel and a limited edition Oyster card which is due to go on sale shortly.&nbsp; </p>
<p>A 'Year of the Bus' webpage on the TfL website will feature a number of short films celebrating the role of the bus network and also link to special events at London Transport Museum, including BBC London Radio presenter Robert Elms 'in conversation' with Leon Daniels, Managing Director for TfL Surface Transport, about the capital's iconic red bus.&nbsp; </p>
<p>The webpage will also host films celebrating the unsung heroes of the bus network, who help to keep London's buses moving behind the scenes and ensure passengers can get from A to B as smoothly as possible.<br></p>
            <p>Notes to Editors:</p>
<ul>
<li>The silver New Routemaster bus will initially enter passenger service on route 9 and will then transfer to route 10 when it converts to New Routemaster buses in the spring.</li>
<li>The Year of the Bus is supported by and delivered in partnership with Exterion Media, Abellio, Arriva London,&nbsp; Clear Channel, Go-Ahead London, Metroline, RATP Dev UK Limited, Stagecoach, Wrightbus, Optare and telent Technology Services.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Mayor launches the 'Year of the Bus' to celebrate vital part of London's transport network -->

 
 
        
        
            @{ViewBag.Description = "London's bus network - the most accessible and one of the most extensive anywhere in the world - has, throughout its history, played a central role in keeping the city moving and maintaining London's role as the engine-room of the UK economy. This year";}
        
        


 