


@{ViewBag.Title = "More than 170 drivers arrested as part of illegal cab touting crackdown";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">More than 170 drivers arrested as part of illegal cab touting crackdown</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>More than 170 drivers arrested as part of illegal cab touting crackdown</h1>
        <div class="content-page-press-release">
        29 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and policing partners stopped over 5,000 minicabs and taxis across London as part of Operation Safer Travel at Night
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Un-booked minicabs put the travelling public at risk and we are committed to cracking down on this illegal and unsafe activity"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Burton</div>
            <div class="quotee-job-title">TfL's Director of Enforcement and On-Street Operations</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Un-booked minicabs put the travelling public at risk and we are committed to cracking down on this illegal and unsafe activity
                            
                        </p>
                    </div>
                
            
            
            <blockquote></blockquote>
<p>Over 170 arrests have been made for cab related offences during two crackdowns as part of Operation Safer Travel at Night, a joint initiative by the Transport for London funded Metropolitan Police Service's Safer Transport Command (STC) and City of London Police (CoLP). </p>
<p>Minicabs picked up off the street without being booked through a licensed minicab operator are illegal, unsafe and pose a danger to the travelling public, including the risk of sexual assault.&nbsp; </p>
<p>The arrests were the result of continued targeted enforcement against un-booked minicabs (also known as touts or illegal cabs) and other cab-related offences across the capital as part of Safer Travel at Night - a partnership between TfL, the Mayor of London, MPS and CoLP to reduce cab-related sexual offences.</p>
<p>In conjunction with Safer Travel at Night's two main periods of activity - during the new academic year in September and over the festive period in December - officers from the STC, CoLP and TfL's Taxi and Private Hire compliance teams stepped up activity to help raise awareness of the dangers of using un-booked minicabs. </p>
<p>In addition to the arrests, officers stopped and checked over 5,000 taxi and private hire vehicles and drivers. </p>
<p>TfL's face to face teams also engaged with over 77,000 students during September, which included a presence at 24 university freshers' fayres across London. </p>
<p>TfL's Cabwise app saw download figures double to 53,000 during the festive period -&nbsp; with total downloads now standing at 92,000 since its launch in 2012. </p>
<p>Face to face teams also visited around 50 bars, pubs and clubs in hotspot locations, engaging with over 55,000 people and handing out 138,000 'Z cards' - information leaflets on how to get home safely.</p>
<h2>Co-ordinated approach</h2>
<p>Steve Burton, TfL's Director of Enforcement and On-Street Operations, said: `We're really pleased with the effort and work put in by our policing partners and TfL teams to get the safety message out to the public about how to get home safely.</p>

<p>`Un-booked minicabs put the travelling public at risk and we are committed to cracking down on this illegal and unsafe activity. </p>
<p>`TfL, working with the police, will continue to push for the strongest penalties for those caught acting unlawfully.'</p>
<p>The Safer Travel at Night partnership was launched in 2002 and aims to improve the safety of travelling at night via cabs through industry regulation and licensing, enforcement and education. </p>
<p>The communications campaign aims to make people travelling at night aware of the dangers of picking up un-booked minicabs off the street, as well as informing them of the best ways to get home safely.</p>
<p>Acting Chief Superintendent Rob Revill, Safer Transport Command, said: `These results demonstrate our commitment to tackling touting and other illegal cab activity in London. Our dedicated Cab Enforcement Unit will continue to be out on the streets of London, all year round, using a variety of tactics to disrupt, deter and detect cab related offences.'</p>
<p>Inspector David Aspinall, from City of London Police, said: `The City of London Police are pleased to have supported this year's Safer Travel at Night campaign, as we have done previously. </p>
<p>`Over the past year we have been undertaking enforcement and compliance activity amongst black cabs and private hire vehicles, making sure that they are roadworthy and that we know who is driving them.</p>
<p>`We have also worked with the public providing advice on the best ways to get home safely. We also continue to send a strong message to those drivers who plan to operate cabs illegally, it will not be tolerated in the City and we will catch them.'</p>
<p>Vice president of Welfare at Queen Mary University London, Katarina Nordanger, said: `I think it is great to see TfL responding to the safety concerns of students and the general public in such a way - especially when the outcomes of the campaign have been so successful. </p>
<p>`I would like to get even more involved in the work that TfL does to improve transport safety so as to improve the student experience and make our city a safer place to travel in. </p>
<p>`It is fantastic how TfL actually talks to our students, and I will continue to encourage people, student or not, to download the Cabwise app.'</p>
<p>
<hr>

<p>
<ul>
<li>A&nbsp;recent TfL commissioned survey, conducted by TNS Global, has revealed illegal cab usage is a national issue <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/29136.asp">http://www.tfl.gov.uk/corporate/media/newscentre/archive/29136.asp</a> </li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on cab-related offending including cab-related sexual offences, touting and unlawful plying for hire. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>Officers carried out roadside compliance checking checks, checking the vehicle and licence details of cabs in the area </li>
<li>The MPS Safer Transport Command works in partnership with TfL to prevent crime on London's buses, tackles illegal cabs; enforces the law in relations to taxis and private hire and promotes the rules of the road so everyone can travel safely. There are now around 1,800 uniformed officers, which are funded in part by TfL </li>
<li>In 2012/13, official crime figures from the MPS showed that cab-related sexual offences were over 30 per cent lower than they were in 2002/03 when Safer Travel at Night began (55 fewer offences). The number of rape offences almost halved over the same period. Year to date figures for 2013/14 (April - November) are showing further reductions. There have been 71 cab-related sexual offences between April and November - 24 per cent lower (23 fewer offences) compared with the same period last year. Rape offences were down 44 per cent over this period (from 18 to ten offences) </li>
<li>The Mayor has taken a tough line on touting and illegal cabs and any TfL licensed private hire driver convicted of touting will lose their private hire driver's license for a minimum of one year. More than 1,000 drivers have had their licences revoked</li></ul>
<p>What is a booked minicab? </p>
<ul>
<li>It is one that you or a friend has booked directly with the minicab office/operator </li>
<li>It guarantees that your trip will be carried out by a licensed, insured driver in a licensed, insured vehicle </li>
<li>It also means that a record is kept of your journey, your driver and the vehicle used so, in the event of any problems the driver can be traced<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-More than 170 drivers arrested as part of illegal cab touting crackdown -->

 
 
        
        
            @{ViewBag.Description = "Over 170 arrests have been made for cab related offences during two crackdowns as part of Operation Safer Travel at Night, a joint initiative by the Transport for London funded Metropolitan Police Service's Safer Transport Command (STC) and City of London";}
        
        


 