


@{ViewBag.Title = "Piccadilly line services to stop at Turnham Green following line upgrade";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Piccadilly line services to stop at Turnham Green following line upgrade</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Piccadilly line services to stop at Turnham Green following line upgrade</h1>
        <div class="content-page-press-release">
        21 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Night Tube will stop at station during 2015
        
    </div>



 <div class="on-this-page">
<p>Following the Mayor's promise in 2012 and the results of a huge engagement programme to gather views on Piccadilly line services, Transport for London (TfL) has confirmed that Piccadilly line trains will stop at Turnham Green once the line has been upgraded.</p>
<p>The engagement programme was carried out between August and October to gauge people's opinion of the line and to gather feedback on how TfL could improve the line's services overall. </p>
<p>More than 14,000 responses were received from over 70 postcode areas. </p>
<p>Feedback from customers and stakeholders demonstrated strong local support for changing stopping arrangements at Turnham Green throughout the day. </p>
<p>Currently, due to a limited number of available trains and outdated signalling which prevents trains being run closer together, it is not possible to stop more services at the station without increasing journey times across the rest of the line. </p>
<p>However, TfL now plans to stop Piccadilly line trains at Turnham Green all day once the line is modernised, a new, larger fleet of trains is in place and improved signalling systems are installed. </p>
<p>The Mayor of London, Boris Johnson, said: `Following my promise ahead of the 2012 election, I can now guarantee that trains will stop at Turnham Green when the line is modernised as part of the Piccadilly Line upgrade. </p>
<p>`This is a victory for campaigners, a victory for Turnham Green, and of course for Turnham Green passengers, who will benefit not only from the upgrade of the District line and a new fleet of trains by 2016, but also from new signalling and more frequent and faster services from 2018.'</p>
<p>Prior to the line's modernisation, customers using Turnham Green will benefit from the upgrade of the District line, which will see new bigger, air-conditioned and walk-through trains introduced to the line later this year. </p>
<p>The full fleet will operate across the line by 2016 following by new signalling to enable faster and more frequent services from 2018. </p>
<p>From 2015, weekend services will run through the night on core parts of the system - initially comprised of services on the Piccadilly, Victoria, Central, Jubilee and Northern lines. </p>
<p>This network, which will be expanded to include other lines in subsequent years, will dovetail with existing 24-hour and Night Bus services to give passengers an extensive and integrated service throughout the night.</p>
<p>Nigel Holness, LU Operations Director for the Jubilee, Northern and Piccadilly lines, said: `We wanted to hear views on the Piccadilly line's services and gauge demand for stopping at Turnham Green, as promised by the Mayor in the 2012 election. </p>
<p>`Since then we've been reviewing these in some detail - it's one of the largest responses we've ever had and told us a lot about customers' priorities.</p>
<p>`We'll be stopping Piccadilly lines trains at Turnham Green all day once the line is modernised and we have new trains and more of them.&nbsp; In the meantime the users of the station will have new District line trains arriving from next year and more frequent services from 2018, and the Piccadilly line will stop throughout the night at Turnham Green when the Night Tube network starts in 2015.'<br>
<hr>

<ul>
<li>The Piccadilly line engagement programme was carried out from 27 August to 7 October </li>
<li>The full report detailing responses and TfL's feedback can be viewed at <a href="http://www.tfl.gov.uk/piccadillyline">www.tfl.gov.uk/piccadillyline</a>&nbsp;&nbsp; All of the feedback from this engagement, which has provided TfL with items to consider when reviewing and updating our service, is reflected in the report </li>
<li>The Mayor announced in November that, during 2015, TfL will introduce a Night Tube service at weekends on the Jubilee, Northern, Piccadilly, Central and Victoria lines. The network will be expanded in subsequent years and will dovetail with existing 24-hour and Night Bus services<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Piccadilly line services to stop at Turnham Green following line upgrade -->

 
 
        
        
            @{ViewBag.Description = "Following the Mayor's promise in 2012 and the results of a huge engagement programme to gather views on Piccadilly line services, Transport for London (TfL) has confirmed that Piccadilly line trains will stop at Turnham Green once the line has been";}
        
        


 