


@{ViewBag.Title = "Reminder that TfL's new year fares come into effect on Sunday 19 January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Reminder that TfL's new year fares come into effect on Sunday 19 January</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Reminder that TfL's new year fares come into effect on Sunday 19 January</h1>
        <div class="content-page-press-release">
        14 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fares across TfL services will rise by 2.7 per cent on average, less than RPI, for 2014
        
    </div>



 <div class="on-this-page">
<ul>
<li>Travelcard fares increase in line with National Rail at RPI (3.1 per cent) </li>
<li>TfL will continue its &pound;16bn savings and efficiencies programme to protect front line services, investment and keep fares down</li></ul>
<p>Transport for London (TfL) is reminding customers that new fares for 2014 will come into effect on Sunday 19 January. </p>
<p>Fares across TfL will rise by less than RPI on average - 2.7 per cent - this year and Travelcard fares will rise by 3.1 per cent (RPI) on average.</p>
<p>Customers will be able to purchase tickets, including Travelcards, at 2013 prices until 18 January.&nbsp; </p>
<p>The delay to implementation of the new year fares is due to the timing of the Government's announcement that rail fares would be set at RPI on average for 2014 and the need to implement a revised set of fares. </p>
<p>TfL has been able to hold fares down due to the huge &pound;16bn programme of efficiencies and savings which support the billions of pounds of investment in transport infrastructure over the next ten years. </p>
<p>TfL will continue to identify and make savings and efficiencies that will keep fares down as well as developing the commercial strategy to meet revenue targets.</p>
<p>The key elements of the 2014 fares package are:</p>
<ul>
<li>On the Tube, only three pay as you go fares, the Zone 1 peak and off-peak adult fares and the Zone 1-2 off-peak fare, will increase by 10p </li>
<li>All other Oyster pay as you go single fares for the Tube, DLR and London Overground will remain frozen at 2013 prices next year. Cash single fares, which are only used by around one per cent of Tube users, will increase by 20p </li>
<li>Oyster pay as you go caps frozen for the second year running to improve value for part time commuters, which is expected to benefit around 200,000 people a week </li>
<li>On the buses, the pay as you go fare on Oyster and contactless payment card increases 5p to &pound;1.45 while the daily cap and cash fare is frozen </li>
<li>The 7 Day Bus &amp; Tram Pass will increase by 60p to &pound;20.20 </li>
<li>The off-peak One Day paper Travelcard range will be simplified to the Zone 1-6 off-peak ticket only and it is frozen at 2013 prices. Anytime One Day paper Travelcards will rise in line with National Rail fares </li>
<li>7 Day Travelcards, and corresponding monthly and annual Travelcards, will increase in line with inflation, reflecting the link with regulated National Rail fares </li>
<li>All free and concessionary travel for young, elderly and disabled Londoners, as well as Veterans and members of the Armed Forces, has been protected in full </li>
<li>Fares on the Emirates Air Line will increase by 10p except for multi-trip Oyster fares for regular users which will remain at &pound;1.60 
<hr>
</li>
<li>The full TfL fares tables for 2014 can be found here <a href="http://www.tfl.gov.uk/newfares">http://www.tfl.gov.uk/newfares</a> </li>
<li>To maintain TfL's unprecedented investment in the transport network, the TfL Business Plan will continue to assume an RPI+1 per cent rise in fares beyond 2014, with the actual decision taken each year by the Mayor </li>
<li>Contactless payment cards were launched on London's buses in December 2012. Over 7 million journeys have already been made using the bank cards and their acceptance will be extended to the Tube, London Overground, DLR, Tram network in early 2014. Fares on contactless payment cards are the same as Oyster fares </li>
<li>Daily price capping using a contactless payment card will not apply to bus journeys until the full contactless payment card launch on the TfL network in 2014 </li>
<li>Bus &amp; Tram, Oyster pay as you go, Travelcard, cash on TfL Rail (includes Tube, London Overground and DLR) and Emirates Air Line fares tables below<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Reminder that TfL's new year fares come into effect on Sunday 19 January -->

 
 
        
        
            @{ViewBag.Description = "Travelcard fares increase in line with National Rail at RPI (3.1 per cent) TfL will continue its &pound;16bn savings and efficiencies programme to protect front line services, investment and keep fares downTransport for London (TfL) is reminding customers";}
        
        


 