


@{ViewBag.Title = "TfL renews warning to motorists to avoid unofficial Congestion Charge websites following damning ASA ruling";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL renews warning to motorists to avoid unofficial Congestion Charge websites following damning ASA ruling</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL renews warning to motorists to avoid unofficial Congestion Charge websites following damning ASA ruling</h1>
        <div class="content-page-press-release">
        13 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is renewing its warning to motorists to take extra care when paying the London Congestion Charge online and to make sure they are using the official website: www.tfl.gov.uk/cc
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Customers should take care when paying the Congestion Charge online and only use the official site"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Customers should take care when paying the Congestion Charge online and only use the official site
                            
                        </p>
                    </div>
                
            
            
            <p>The renewed calls follow an Adverting Standards Agency ruling (A13-245584*) that one site - paylondoncongestion.co.uk - was 'likely to lead consumers to believe that the web page was an official method of paying the London congestion charge and was affiliated with TfL.' </p>
<p>The ASA investigated and upheld three complaints relating to the site misrepresenting a link with TfL and not making clear the fees it levied. </p>
<p>The ASA has told the site that its adverts - including the sponsored search ads on Google - must not appear again in their current form, must make clear the site has no affiliation with TfL and the company must make their fees clear at the point at which the customer enters the site.</p>
<p>This case relates to just one of a number of websites that offer to pay the Congestion Charge on behalf of drivers.</p>
<h2></h2>
<p>However these websites are not official payment channels and they charge motorists a premium, in some cases as much as &pound;6 on top of the normal Congestion Charge fee.</p>
<p>Unofficial sites pay search engines to promote their businesses and ensure they are the top items when people use terms like 'Pay Congestion Charge'. </p>
<p>Around 1,000 people per day are, in many cases, unwittingly using unofficial sites to pay the Congestion Charge.</p>
<p>The unofficial websites justify their inflated prices by claiming they offer extra services for customers such as email confirmation and a dedicated phone helpline. </p>
<p>However TfL offers these services for free. </p>
<p>There have also been a number of cases where these unofficial sites have failed to pay the Congestion Charge on behalf of their customers, resulting in drivers receiving a Penalty Charge Notice (PCN) from TfL for non-payment of the Congestion Charge.</p>
<p>These unofficial sites have also accepted payments from customers when the Congestion Charge is not in operation. </p>
<p>The Congestion Charge operates 07.00 to 18.00 Monday to Friday. </p>
<p>There is no charge on weekends, public holidays or between Christmas day and New Year's Day inclusive.</p>
<h2>Avoid uncessary charges</h2>
<p>By paying via the official TfL website customers will avoid any unnecessary charges imposed by unofficial websites and they will remove the risk of receiving a PCN.</p>
<p>TfL continues to seek to try to prevent these websites misleading the public. London's Transport Commissioner, Sir Peter Hendy CBE, has also now written to the search engine Google, calling on the company to take note of the ASA ruling and to take action against the misleading unofficial sites. </p>
<p>Some of the sites currently pay Google so that links to them appear when people search for how to pay the Congestion Charge. TfL is calling for Google to remove these adverts and not to accept them in the future.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: 'We welcome the ruling by the ASA and are using this opportunity to again raise awareness of these unofficial Congestion Charge payment sites. </p>
<p>Customers should take care when paying the Congestion Charge online and only use the <a href="http://www.tfl.gov.uk/cc ">official site</a> which is a quick and easy way to pay, and avoids any unnecessary charges.</p>
<p>'We are doing as much as we can to minimise the risk of unofficial websites or adverts misleading customers into paying more than they need to, including talking to Trading Standards and the Office of Fair Trading and calling on search engine providers like Google to do their bit to put a stop to this. </p>
<h2>TfL Taking Action</h2>
<p>TfL will be taking steps to seek to ensure that unofficial websites and search engines who allow them to advertise are not misleading the public.</p>
<p>'We will continue to pursue these avenues but in the meantime we urge motorists to take care and only use TfL's website.'</p>
<p>Customers can avoid paying via unofficial websites by registering with TfL for the automatic payment service, CC Auto Pay. </p>
<p>TfL automatically records the number of charging days a vehicle travels within the charging zone each month and bills the customer's debit or credit card monthly. </p>
<p>With CC Auto Pay, registered customers never need to remember to pay the charge again; they pay a reduced daily charge (&pound;9 instead of &pound;10) and are protected from receiving Penalty Charge Notices as long as the vehicle is registered with TfL and the CC Auto Pay account is active.</p>
<p>* The ASA ruling can be found <a href="http://www.asa.org.uk/Rulings/Adjudications/2014/1/TAD-Services/SHP_ADJ_245584.aspx">here</a></p>

<p>
<hr>
</p>
<h2>Notes To Editors</h2>
            <p>The official TfL website to pay the Congestion Charge is <a href="http://www.tfl.gov.uk/cc">www.tfl.gov.uk/cc</a><br>If customers wish to pay via phone the official TfL number is 0343 222 2222.<br>For details of other official payment methods please visit: <a href="http://www.tfl.gov.uk/roadusers/congestioncharging/6744.aspx">How To Pay</a> <br>The price of the Congestion Charge if paying in advance of, or on, the day of travel is &pound;10<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-TfL renews warning to motorists to avoid unofficial Congestion Charge websites following damning ASA ruling -->

 
 
        
        
            @{ViewBag.Description = "The renewed calls follow an Adverting Standards Agency ruling (A13-245584*) that one site - paylondoncongestion.co.uk - was 'likely to lead consumers to believe that the web page was an official method of paying the London congestion charge and was";}
        
        


 