


@{ViewBag.Title = "TfL Ambassadors set to help Londoners beat totally unnecessary industrial action on the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Ambassadors set to help Londoners beat totally unnecessary industrial action on the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Ambassadors set to help Londoners beat totally unnecessary industrial action on the Tube</h1>
        <div class="content-page-press-release">
        23 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today began to set out plans to keep London moving and open for business should Tube strikes threatened by the RMT union's leadership go ahead on 4-6 February and 11-13 February
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            we will have more staff visible and available in ticket halls and on platforms to help customers
                            
                        </p>
                    </div>
                
            
            
            <p>TfL's plans include the deployment of hundreds of 'Ambassadors' - members of staff from across TfL and London Underground (LU) who are trained to help at Tube stations, to ensure that they can remain open for customers in the event of strike action.</p>
<p>Over 1,000 staff have now signed up to be Ambassadors, ready to keep customers informed and London moving during major events or at times of disruption. </p>
<p>Only Ambassadors who are fully trained and licensed will be employed at stations. </p>
<p>They will be joined by many more volunteers, who will keep customers informed on how Tube services are operating and offer advice on alternative travel options, including bus, London Overground and River services, as well as walking and cycling routes.&nbsp; </p>
<p>Together, they will support the thousands of LU staff who have either rejected the RMT leadership's call to strike or plan to work normally.</p>
<p>Phil Hufton, LU's Chief Operating Officer, said: </p>
<p>'Under our plans to modernise the service we offer our customers all of our stations will remain staffed and controlled by our people at all times when services are operating.&nbsp; </p>
<p>In fact, we will have more staff visible and available in ticket halls and on platforms to help customers buy the right ticket, plan their journeys and to keep them safe and secure. </p>
<p>We're also committed to implementing these changes without compulsory redundancies.&nbsp; </p>
<p>There'll be a job for everyone at LU who wants to work with us and be flexible.</p>
<p>'Given these assurances, we urge the RMT and TSSA union leaderships to end their strike threats and to work with us to shape the future of the Tube. </p>
<p>However, should a strike go ahead, we're determined to keep London moving and open for business and our TfL Ambassadors will play an important role.&nbsp; </p>
<p>All a strike will achieve is lose those who take part four days' pay.'</p>
<h2>Consulting with trade unions and staff </h2>
<p>LU is consulting with trade unions and staff over its vision for the future of the Tube, which includes a new 24-hour 'Night Tube' service at weekends.&nbsp; </p>
<p>Given that only three per cent of journeys now involve the use of a ticket office, LU proposes to close all Tube station ticket offices and instead move more staff into the public areas of stations to help customers buy the right ticket, plan their journeys and to keep them safe and secure.</p>
<p>Following a poorly-received ballot for industrial action, which saw just 30 per cent of RMT members balloted voting for strike action, and around 70 per cent not voting or voting no, the union's leadership has nonetheless instructed its members to carry out four days of strike action in February. </p>
<p>These begin with a 48-hour strike from midday on Tuesday 4 February until midday on Thursday 6 February.</p>
<p>This is despite London Underground making clear to unions and staff a range of commitments including:</p>
<ul>
<li>Every Tube station will be visibly staffed and controlled by LU staff during operating hours</li>
<li>There will be a job for everyone who wants to continue to be part of our organisation and who is ready to be flexible</li>
<li>Any operational changes will be done without compulsory redundancies where we can collaborate to make change happen</li>
<li>We will involve staff in any plans to grow, develop and change services</li>
<li>We will do this fairly and support people through change</li></ul>
<p>LU is doing everything possible to convince the RMT leadership to call off the strike, including re-affirming its commitments and meeting the unions at the conciliation service ACAS. </p>
<p>However, the RMT leadership currently seems determined to strike and to ask its members to lose 4 days' pay by carrying out industrial action. An RMT 'overtime ban' will also make it very hard for its members to make up the money that they have forfeited.</p>
<p>TfL is now confirming operational plans to keep London moving should the strike go ahead, and will issue detailed travel information and advice to Londoners shortly.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-TfL Ambassadors set to help Londoners beat totally unnecessary industrial action on the Tube -->

 
 
        
        
            @{ViewBag.Description = "TfL's plans include the deployment of hundreds of 'Ambassadors' - members of staff from across TfL and London Underground (LU) who are trained to help at Tube stations, to ensure that they can remain open for customers in the event of strike action.Over";}
        
        


 