


@{ViewBag.Title = "TfL sets out plans to keep capital moving during strikes over modernisation of London Underground";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out plans to keep capital moving during strikes over modernisation of London Underground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plans to keep capital moving during strikes over modernisation of London Underground</h1>
        <div class="content-page-press-release">
        30 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) today set out a range of measures to help keep London moving and open for business next week, should the strikes threatened by the leaderships of the RMT and TSSA unions on London Underground (LU) go ahead.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our customers and staff are at the very centre of our plans for London Underground"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London Underground Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our customers and staff are at the very centre of our plans for London Underground
                            
                        </p>
                    </div>
                
            
            
            <dt title="http://www.oxfordtube.com">
<p>LU is consulting with trade unions and staff over its vision for the future of the Tube, which includes a new 24-hour 'Night Tube' service at weekends and more staff visible and available in public areas of Tube stations to help customers buy the right ticket, plan their journeys and to keep them safe and secure.</p>
<p>Following poorly-received ballots for industrial action, which saw around just 30 per cent of RMT and TSSA members balloted voting for strike action, and around 70 per cent either not voting or voting no, the union leaderships have nonetheless instructed their members to carry out four days of strike action in February.</p>
<p>Two 48-hour strikes have been called at LU which will affect services from:</p>
<ul>
<li>Around 9.30pm on Tuesday 4 February until the morning of Friday 7 February; and, </li>
<li>Around 9.30pm on Tuesday 11 February until the morning of Friday 14 February.</li></ul>
<p>The leaderships of the RMT and TSSA unions continue to threaten Londoners with strike action despite a series of commitments made to Tube customers and staff by LU Managing Director, Mike Brown MVO including:<br></p>
<ul>
<li>Every Tube station will be visibly staffed and controlled by LU staff during operating hours; </li>
<li>There will be a job for everyone who wants to continue to be part of our organisation and who is ready to be flexible;Any operational changes will be done without compulsory redundancies where we can collaborate to make change happen.</li></ul>
<p>LU Managing Director, Mike Brown MVO said: </p>
<p>'Our customers and staff are at the very centre of our plans for London Underground.&nbsp; </p>
<p>All Tube stations will remain staffed at all times when services are operating, and we'll be introducing a 24-hour service at weekends during 2015.&nbsp; </p>
<p>In future, there will be more staff in ticket halls and on platforms to help customers buy the right ticket, plan their journeys and to keep them safe and secure.</p>
<p>'We're committed to implement these changes without compulsory redundancies and there'll be a job for everyone at LU who wants to work for us and be flexible.</p>
<p>'I urge the leaderships of the RMT and TSSA to work with us to help shape the future of the Tube, rather than threatening Londoners with unnecessary disruption.&nbsp; </p>
<p>All a strike will achieve is lose those who take part four days' pay.&nbsp; </p>
<p>Should the strike go ahead, we'll do all we can to keep our customers informed and ensure we keep London moving and open for business.'</p>
<h2>Travel advice to customers during RMT and TSSA strike action:</h2>
<p>Should the RMT and TSSA strike action go ahead, LU will keep as many stations open and run as many trains as possible.&nbsp; </p>
<p>However, there will be disruption to journeys on Wednesday and Thursday.&nbsp; </p>
<p>Buses and other modes of transport may also be very busy.</p>
<p>A 24-hour strike has also been called by the leadership of the ASLEF union at London Tramlink.&nbsp; </p>
<p>The dispute is between the operator of Tramlink, First, and the ASLEF union over the dismissal of two drivers.&nbsp; </p>
<p>Should the strike go ahead, it is likely to cause disruption to Tramlink services on Wednesday 5 February.</p>
<p>Those public transport workers who are on duty during the strike will be doing their very best to keep London moving and open for business.&nbsp; </p>
<p>TfL asked customers for their patience during what may be difficult journeys.</p>
<p>TfL Ambassadors and volunteers will also be on hand to provide customers with travel information and advice on the ground.</p>
<p>TfL urged all customers to plan ahead and to check before they travel at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> and by following &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</p>
<p><strong>Tube<br></strong></p>
<ul>
<li>Tube services will be disrupted from Tuesday evening so customers are urged to try to complete journeys as early as possible. Tube services will not return to normal until Friday morning; </li>
<li>LU will set out more detail on the service it intends to offer on all lines ahead of next week's strike.</li></ul>
<p><strong>DLR<br></strong></p>
<ul>
<li>A normal service will operate. Some stations where there is an interchange with London Underground may be affected.</li></ul>
<p><strong>Buses<br></strong></p>
<ul>
<li>London buses operate around 700 routes and services are being boosted with over a hundred extra buses on key routes; </li>
<li>TfL Ambassadors and volunteers are being deployed to bus stations and hubs to provide customers with travel information and advice on the ground.</li></ul>
<p><strong>London Overground <br></strong></p>
<ul>
<li>A normal service will operate. Some stations where there is an interchange with London Underground may be affected.</li></ul>
<p><strong>Tramlink<br></strong></p>
<ul>
<li>Tramlink services are likely to be disrupted on Wednesday 5 February due to strike action called by the leadership of ASLEF; </li>
<li>Customers are advised to check before travelling at <a href="tfl.gov.uk">tfl.gov.uk </a>and &#64;tramslondon and to seek alternative routes, where possible.</li></ul>
<p><strong>Emirates Air Line<br></strong></p>
<ul>
<li>A normal service will operate.&nbsp; LU tickets will be accepted on Emirates Air Line services on Wednesday 5 and Thursday 6 February and on Wednesday 12 and Thursday 13 February.</li></ul>
<p><strong>Cycling<br></strong></p>
<ul>
<li>Barclays Cycle Hire will be available to members and casual users, although demand is likely to be high, and cycles harder to access, during peak times; </li>
<li>Londoners who own a bike are encouraged to cycle to work, and a Cycle Journey Planner is provided <a href="http://www.tfl.gov.uk/cyclejourneyplanner">http://www.tfl.gov.uk/cyclejourneyplanner</a>; </li>
<li>TfL is writing to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day.</li></ul>
<p><strong>River Services<br></strong></p>
<ul>
<li>Enhanced River services will be in place, including on Route RB1 between Greenland (Surrey Quays) / Canary Wharf and London Bridge; and, </li>
<li>An additional centre London service (Tower/ Bankside / Westminster / London Eye) during the AM and PM peaks; </li>
<li>In combination with the normal timetabled service, this will provide a 10 to 15 minute frequency on most central London piers during the morning and evening peaks.</li></ul>
<p><strong>Taxis &amp; Private Hire<br></strong></p>
<ul>
<li>Between 7.00am and 11.00am on Wednesday 5 February, Thursday 6, Wednesday 12 and Thursday 13 February, a marshalled taxi service will operate at seven major London rail termini - Waterloo, Liverpool St, London Bridge, King's Cross, Victoria, Charing Cross, and Marylebone. The marshals will manage taxi and&nbsp; passenger queues and provide advice and assistance to taxi passengers and other members of the public; </li>
<li>Between 7.00pm and Midnight on Tuesday 4 February and Tuesday 11 February, a marshalled taxi service will operate at the same seven stations, plus Euston; </li>
<li>Private hire and minicab services will be running as normal. Details for licensed private hire and minicab operators in London are available at tfl.gov.uk/cabwise.</li></ul>
<p><strong>National Rail <br></strong></p>
<ul>
<li>Oyster Pay As You Go is accepted for all National Rail journeys within Greater London; </li>
<li>Travelcards are also valid for travel on National Rail within the zones purchased.</li></ul>
<p><strong>Walking <br></strong></p>
<ul>
<li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with TfL Ambassadors and volunteers helping people plan their routes around the city; </li>
<li>People are urged to consider walking for short journeys, where possible.</li></ul>
<p><strong>Roads and the Congestion Charge</strong> <br></p>
<ul>
<li>To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike; </li>
<li>TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network. TfL will also work with the Metropolitan Police to minimise the impact of congestion; </li>
<li>TfL will be working to keep traffic flowing around major transport hubs; </li>
<li>Londoners and commuters are encouraged to keep journeys by car to a minimum to enable public transport to move freely.</li></ul>
<p><strong>Coaches</strong></p>
<p>Several coach operators, including National Express and Green Line, offer services that stop in a number of locations throughout London. Some of the core coach routes are as follows:</p>
<ul>
<li>Golders Green - Finchley Road - Baker Street - Marble Arch - Victoria Coach Station (National Express) </li>
<li>Brent Cross - Finchley Road - Baker Street - Marble Arch - Victoria (Green Line) </li>
<li>Hillingdon - Shepherd's Bush/Baker Street - Marble Arch - Victoria (Oxford Tube &amp; X90) </li>
<li>Hammersmith - Kensington - Hyde park Corner - Victoria (Green Line) </li>
<li>Stratford - Bow - Aldgate - Victoria Coach Station (National Express) </li>
<li>Bexley - Canary Wharf - Aldgate - Embankment - Victoria Street (Commuter Services) </li>
<li>Coulsdon - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express) </li>
<li>Sutton - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express) </li>
<li>Eltham - Lewisham - Walworth - Elephant &amp; Castle - Victoria Coach Station (National Express)</li></ul>
<p>Tickets can be purchased in advance from the Victoria Coach Station ticket hall, or on the operators websites:</p>
<p><a href="http://www.nationalexpress.com">http://www.nationalexpress.com</a> for main site and bookings.<br><a href="http://coach.nationalexpress.com/nxbooking/stop-finder">http://coach.nationalexpress.com/nxbooking/stop-finder</a> to find where the coach stops are in London<br><a href="http://www.greenline.co.uk">http://www.greenline.co.uk</a> for main site and bookings<br><a href="http://www.greenline.co.uk/green-line-coach-stops-in-london/">http://www.greenline.co.uk/green-line-coach-stops-in-london/</a> for location of stops in London<br><a href="http://www.oxfordtube.com">www.oxfordtube.com</a> <br><a href="http://x90.oxfordbus.co.uk">http://x90.oxfordbus.co.uk</a><br></p>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>Better customer service:&nbsp; The trend of ticket sales away from ticket offices has surged over recent years and today less than three per cent of all Tube journeys involve a visit to a ticket office.&nbsp; In future, therefore, rather than being remote from customers behind closed doors or glass windows, Tube station staff will be based in ticket halls, on gate lines and on platforms, ready and available to give the best personal and face-to-face service to customers;</li>
<li>Improving reliability and capacity:&nbsp; The huge Tube improvement programme underway will continue, with billions of pounds of investment to deliver more frequent, reliable and accessible services and enhanced stations, providing greater capacity to tackle increasing numbers of customers.&nbsp; It also includes a continued rigorous focus on improving customer journeys and meeting the Mayor's commitment of reducing delays by a further 30 per cent by 2015, when compared to 2011 reliability levels.&nbsp; Across the Tube network, delays to customers' journeys have been reduced by 37 per cent since 2008/09 and 53 per cent since 2003.</li>
<li>Night Tube:&nbsp; From 2015, weekend services will run through the night on core parts of the system - initially comprised of services on the Piccadilly, Victoria, Central, Jubilee and Northern lines.&nbsp; This network, which will be expanded to include other lines in subsequent years, will dovetail with existing 24-hour and Night Bus services to give passengers an extensive and integrated service throughout the night.<br></li></ul>

            
            

        </dt>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-TfL sets out plans to keep capital moving during strikes over modernisation of London Underground -->

 
 
        
        
            @{ViewBag.Description = "LU is consulting with trade unions and staff over its vision for the future of the Tube, which includes a new 24-hour 'Night Tube' service at weekends and more staff visible and available in public areas of Tube stations to help customers buy the right";}
        
        


 