


@{ViewBag.Title = "Time Capsule to be opened in 2063 seals London Underground's extraordinary 150th anniversary year ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Time Capsule to be opened in 2063 seals London Underground's extraordinary 150th anniversary year </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Time Capsule to be opened in 2063 seals London Underground's extraordinary 150th anniversary year </h1>
        <div class="content-page-press-release">
        08 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Time Capsule is to be displayed in the transformed Tottenham Court Road Station
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our aim is to build a Tube network of which customers in 2063 will be rightly proud"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our aim is to build a Tube network of which customers in 2063 will be rightly proud
                            
                        </p>
                    </div>
                
            
            
            <p>The conclusion of London Underground's 150th anniversary year has been celebrated today with the installation of a time capsule containing a range of items that will give Londoners in 2063 a glimpse of life on the Tube today. </p>
<p>The time capsule, made from a salvaged District line signalling box, will be displayed prominently in the transformed Tottenham Court Road station, which is currently being redeveloped with a ticket hall enlarged to six times its current size, due to open in 2016. </p>
<p>Its installation comes on the eve of London Underground - the world's first underground railway - passing into its 151st year.</p>
<p>The contents were drawn together in conjunction with a panel of young Londoners working with the London Transport Museum's Youth programme, who were also present as the capsule was sealed. <br></p>
<p>The contents include:</p>
<ul>
<li>A letter from Mike Brown MVO, London Underground's Managing Director, to his future successor </li>
<li>A specially made short film showing a 'day in the life' on the Tube in 2013 </li>
<li>Copies of the Evening Standard and Metro newspapers </li>
<li>A special edition 150th anniversary Oyster Card </li>
<li>A Baby on Board badge similar to the one presented to the Duchess of Cambridge at a Tube anniversary event </li>
<li>A book charting the first 150 years of London Underground's history </li>
<li>Present day signalling equipment</li></ul>
<h2>Extraordinary year</h2>
<p>Today's event, the last of the 150th events and celebrations, marks the end of an extraordinary year for the Tube, during which the sights and smells of steam train travel were returned to the London Underground network.</p>
<p>The year also saw London Underground host a Royal Visit from HM the Queen, HRH the Duke of Edinburgh and HRH the Duchess of Cambridge at the historic Baker Street station where, as well as meeting many operations and engineering staff, they saw a beautifully restored 19th Century Underground train carriage. </p>
<p>There was a visit from The Prince of Wales and The Duchess of Cornwall, who met some of the apprentices who will construct and run the Underground of the future and they made their first Tube ride together on a train in passenger service running on the original stretch of the Metropolitan Railway Westbound from Farringdon station - the spiritual birthplace of the world's Metro railways.&nbsp; </p>
<p>Mike Brown MVO, Managing Director of London Underground, said: `London Underground's 150th anniversary year has been truly extraordinary - reminding Londoners of the amazing engineering achievement of the pioneers who built the network and the enduring vital importance of the network to the London of today and the future.</p>
<p>`We are making further huge improvements as we continue to modernise the network to ensure that it is capable of meeting the demands of our city's rapidly growing population. </p>
<p>`The network is already carrying more people, more safely and more reliably than at any other time in its history and we will now go further - increasing reliability, introducing more frequent services and new trains, transforming key stations and preparing for the introduction of all night services at weekends. </p>
<p>`Our aim is to build a Tube network of which customers in 2063 will be rightly proud.`</p>
<h2>Highlights</h2>
<p>Other highlights from London Underground's 150th anniversary year include:</p>
<ul>
<li>The first underground passenger journey was recreated on Sunday 13 January 2013, with a restored Metropolitan Steam Locomotive No.1 train and the Metropolitan Railway Jubilee Carriage No 353 - the oldest operational underground carriage in existence - which was restored with support from the Heritage Lottery Fund </li>
<li>Art on the Underground presented a major commission, Labyrinth, by Mark Wallinger that has brought artworks into every station on the London Underground network </li>
<li>Lego marked the 150th anniversary by recreating five Tube Maps made entirely out of Lego bricks. The maps show how the famous design has evolved over the years and were displayed in major London Underground stations throughout the summer </li>
<li>The men's and women's Champions League trophies surprised morning commuters as they made a journey on the system </li>
<li>The oldest Underground train carriage still in use was turned into a eye-catching float during the Lord Mayor's show in November </li>
<li>In March, Harry Beck was commemorated with an English Heritage blue plaque at his birthplace in Leyton. Beck's map became a London icon and influenced the design of many Metro maps across the globe </li>
<li>Google transformed its UK home page logo to a design inspired by the Tube map </li>
<li>150 Londoners and those with links to the city, including Mo Farah,&nbsp; Shami Chakrabati, Boy George and Ruth Rendell published their memories of their time on London Underground </li>
<li>A comprehensive new history of the Tube Underground, How the Tube shaped London, co-authored by Sam Mullins - Director of the London Transport Museum, was published </li>
<li>Two new two-pound coins were issued by the Royal Mint to mark the 150th anniversary </li>
<li>Royal Mail issued a set of ten special stamps, celebrating the 150th anniversary of the London Underground </li>
<li>12 short stories by well-known authors were published by Penguin Books. The stories, one about each Tube line, looked at the meaning of the Underground and the place it holds in the imagination of all those who live and visit the city </li>
<li>Poster Art 150: London's greatest Designs - an exhibition at London Transport Museum was held in February focusing on the iconic poster art that has been a feature of London Underground for much of its history </li>
<li>A project to create 150 'Homes for Nature' on and around the Tube network was launched</li></ul>
<p>The stretch of line between Paddington and Farringdon, on the then Metropolitan Railway, opened on 9 January 1863, with the first passenger journeys on the following day. </p>
<p>The Tube has always played an important role in the success of London - from the growth of the early network which led to the expansion of the suburbs in the last century, to the development of Canary Wharf's financial powerhouse in the '80s, and on to today's system which successfully moved record numbers of people during the Queen's Jubilee and London 2012 Games. </p>
<h2>Preparing for the future</h2>
<p>Over the next 20 years London's population is expected to grow by well over a million people, underlining the crucial importance of continuing to improve and upgrade the Tube network. </p>
<p>A massive modernisation programme, one of the largest and most complex engineering projects in the world, is now delivering huge tangible benefits for passengers.</p>
<p>Journeys on the Jubilee and Victoria lines have already been improved through massively boosted capacity and faster journeys with a train frequency amongst the highest in Europe.</p>
<p>A fleet of new air-conditioned trains has been introduced on the Metropolitan line, and similar new carriages are now arriving on the Circle and Hammersmith &amp; City line, with the District line to follow soon.</p>
<p>This year the Northern line new signals will be fully operational, with higher-frequency services, and shortly afterwards key stations in central London such as Victoria and Tottenham Court Road will have been rebuilt. </p>
<p>The number of step-free stations is being expanded, alongside the use of ramps, platform humps and other accessibility improvements, an extension of the Northern line to Battersea is being planned, and the Crossrail line is being constructed, which will transform travel across London when delivered into service.</p>
<p>The network is also carrying record numbers and, delays to customers' journeys have been reduced by 37 per cent compared to 2008/09 and by 53 per cent compared to 2003.
<hr>
The chosen contents have been put into categories:</p>
<ul>
<li>Celebrating Tube150 </li>
<li>Payment </li>
<li>Art and advertising </li>
<li>On board </li>
<li>Textiles </li>
<li>Tube etiquette </li>
<li>Staff </li>
<li>Expansion</li></ul>
<p>A total of 12 young people including the Museum's Young Advisors and members of the TfL Youth Panel were involved in choosing the capsule contents.</p>
<p>'Snapshot:150' is a two-minute short film showing a day in the life of the Tube in it's 150th anniversary year shot especially for inclusion in the Time Capsule. </p>
<p>It can seen here <a href="https://www.youtube.com/watch?v=siDy6dsOi8w">https://www.youtube.com/watch?v=siDy6dsOi8w</a>&nbsp;</p>
<p>Tottenham Court Road station is over 100 years old and was not designed to be used by the 147,000 people that currently pass through it every day. </p>
<p>With the arrival of Crossrail, it's expected that number will grow to 200,000.&nbsp;</p>
<p>Our ambitious plans to rebuild the existing Tube station will create a ticket hall six times bigger than its current size and a station with almost double its capacity than at present. </p>
<p>A new Crossrail station will also be built at Tottenham Court Road and combined with the Tube station will deliver very significant benefits and is of a scale not seen for decades.<br></p>
<p>The following will be delivered when the TCR station upgrade is complete: </p>
<ul>
<li>increase the size of the ticket hall by nearly six times </li>
<li>introduce step free access from street to platform </li>
<li>provide four new or modernised entrances </li>
<li>deliver new escalators and improved interchanges between platforms </li>
<li>connect with a new Crossrail ticket hall at Dean Street<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Time Capsule to be opened in 2063 seals London Underground's extraordinary 150th anniversary year  -->

 
 
        
        
            @{ViewBag.Description = "The conclusion of London Underground's 150th anniversary year has been celebrated today with the installation of a time capsule containing a range of items that will give Londoners in 2063 a glimpse of life on the Tube today. The time capsule, made from a";}
        
        


 