


@{ViewBag.Title = "Transport for London teams up with local businesses to increase cycling in the capital";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London teams up with local businesses to increase cycling in the capital</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London teams up with local businesses to increase cycling in the capital</h1>
        <div class="content-page-press-release">
        20 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is working with local businesses to encourage their employees to cycle more through the TfL Cycling Workplaces scheme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cycling is a great way to get fit and healthy and employers benefit from a more active and in-turn productive workforce.
                            
                        </p>
                    </div>
                
            
            
            <p>Employers are being encouraged to become more bike-friendly by taking advantage of the free TfL cycling support available, including cycle confidence building and providing secure parking for their bike once they arrive at work.</p>
<p>TfL is offering employers with more than five members of staff a range of free cycle safety initiatives and on site cycle parking.</p>
<h2>More accessible cycling</h2>
<p>The cycle parking will help to contribute towards the Mayor's target to implement 80,000 additional cycle spaces by 2016, making cycling even more accessible to Londoners.</p>
<p>Ben Plowden, Director of Strategy and Planning, TfL Surface Transport, said: 'We want to get more people active this year so we're teaming up with local employers to get more workers to commute by bike.</p>
<p>'Cycling is a great way to get fit and healthy and employers benefit from a more active and in-turn productive workforce.'</p>
<p>Red Bee Media, an award-winning international media services agency based in Ealing, is one of the businesses to have benefited so far.</p>
<p>They ordered cycle stands and now have 40 cycle parking spaces for their staff.</p>
<p>Andy Nicholls, Operations Manager, Red Bee Media said: 'The stands have made a huge difference to people who cycle to work here.</p>
<p>'We previously had bikes left outside with insufficient places to lock them securely.</p>
<p>'We now have a dedicated space and we hope this will encourage more people to cycle to work.</p>
<p>'We'd certainly recommend and encourage other employers to make use of these initiatives.'</p>
<h2>'A big improvement'</h2>
<p>Parcelforce, an international courier and logistics company, also ordered cycle stands through this initiative and now have 24 parking spaces available for their 200 employees at their Ealing depot.</p>

<p>Rob Crosbie, Operations Team Manager, Parcelforce said: 'Our staff are happy with the quality of racks and the security they offer.</p>
<p>'There has been an increase in cycle usage, freeing up parking spaces and increasing the morale of staff.</p>
<p>'The supplied racks are a big improvement on our previous facility.</p>
<p>'We would definitely encourage other businesses to make use of this initiative.'</p>
<p>WSP is one of the leading global environmental and sustainability consultancies in the world.</p>
<p>They ordered the 'London by Bike' seminar and Cycle Safety checks from the Cycling Workplaces scheme.</p>
<p>David Symons, Director of WSP Environment &amp; Energy said: 'TfL offered us the 'London by Bike' safety seminar, delivered in a group at our workplace.</p>
<p>'The session covered top tips, information and a bike maintenance demonstration.</p>
<p>'The session was really useful for our experienced and novice cyclists alike.</p>
<p>'This course and the other packages offered are a great way to encourage safe and responsible commuter cycling.</p>
<p>'I would definitely encourage other organisations to take part in this scheme.'</p>
<p>Businesses can register at <a href="http://www.tfl.gov.uk/cyclingworkplaces">www.tfl.gov.uk/cyclingworkplaces</a> or email <a href="mailto:cyclingworkplaces&#64;tfl.gov.uk">cyclingworkplaces&#64;tfl.gov.uk</a> to see what offers their workplace is eligible for.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Transport for London teams up with local businesses to increase cycling in the capital -->

 
 
        
        
            @{ViewBag.Description = "Employers are being encouraged to become more bike-friendly by taking advantage of the free TfL cycling support available, including cycle confidence building and providing secure parking for their bike once they arrive at work.TfL is offering employers";}
        
        


 