


@{ViewBag.Title = "Transport for London announces new Congestion Charge and Low Emission Zone service provider";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London announces new Congestion Charge and Low Emission Zone service provider</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London announces new Congestion Charge and Low Emission Zone service provider</h1>
        <div class="content-page-press-release">
        14 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New contract will deliver improved efficiency with faster, simpler payment processes
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The contract provides good value for money and includes the provision for a number of improvements to the Congestion Charge scheme that will make things easier and more straightforward for customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">TfL's Chief Operating Officer for Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The contract provides good value for money and includes the provision for a number of improvements to the Congestion Charge scheme that will make things easier and more straightforward for customers
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Capita to take over day-to-day operation of schemes from October 2015 </li>
<li>New contract will deliver improved efficiency with faster, simpler payment processes </li>
<li>Other proposed improvements include enabling Auto Pay customers to use Direct Debit, online applications for discounts and reimbursements for charges paid by NHS patients and staff&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li></ul>
<p>Transport for London (TfL) today announced that Capita Plc has been selected as the service provider for a new Congestion Charging and Low Emission Zone contract.&nbsp; </p>
<p>The decision follows a 12-month competitive tendering process.</p>
<p>Capita will be responsible for the day-to-day operation of the Congestion Charging and Low Emission schemes from October 2015, when the current contract with IBM expires.&nbsp; </p>
<p>Capita will provide the IT, back office systems and customer contract centre for the Congestion Charge and Low Emission Zone schemes.&nbsp; </p>
<p>The contract is for five years and includes an option to extend for a further five years. </p>
<p>Capita has also successfully bid for a traffic enforcement notice processing contract, which includes processing Penalty Charge Notices for bus lane and yellow box junction contraventions. </p>
<p>The contracts are worth a total of &pound;145m over five years and provide good value for money as Capita will be responsible for delivering a number of improvements to the Congestion Charge scheme. </p>
<p>The changes, currently subject to a public consultation, include enabling CC Auto Pay customers to pay via Direct Debit, in addition to the existing option of paying with a registered debit or credit card; the introduction of a simple online registration process for discounts - moving away from postal and phone registration; and introducing reimbursements for charges paid via CC Auto Pay by NHS patients and staff. </p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport said: `Capita has been selected to fulfil these contracts because they are well equipped to meet our operational and technical requirements.&nbsp; </p>

<p>`The contract provides good value for money and includes the provision for a number of improvements to the Congestion Charge scheme that will make things easier and more straightforward for customers.&nbsp; </p>
<p>`Capita bring with them a wealth of experience, as they were responsible for creating the technology and systems that enabled us to launch the Congestion Charge in 2003.'</p>
<p>
<hr>

<p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003 </li>
<li>It had an immediate and dramatic impact on traffic entering the charging zone, which fell by 15 per cent during weekday charging hours. The traffic reduction impacts of the scheme have been sustained and stable over the last 10 years. Congestion Charging also reduced traffic congestion in the zone by around 30 per cent. </li>
<li>It has made more than &pound;1.2bn of net revenue which has been fed straight into ongoing investment in the capital's transport infrastructure.&nbsp; Some &pound;960m has been spent on improvements to the bus network, &pound;102m on roads and bridges, &pound;70m on road safety, &pound;51m on local transport/borough plans and &pound;36m on sustainable transport and the environment. </li>
<li>The scheme has made an important contribution to an unprecedented 9 per cent shift from car use to public and other forms of sustainable transport. </li>
<li>Details of the Congestion Charge consultation can be found at: <a href="http://www.tfl.gov.uk/ccyourviews">www.tfl.gov.uk/ccyourviews</a> </li>
<li>The Low Emission Zone (LEZ), which was introduced in February 2008, and is the first scheme of its kind in the UK and the largest in the world. </li>
<li>The LEZ aims to improve London's air quality by targeting the heaviest, most individually polluting vehicles. </li>
<li>The LEZ covers most of Greater London (or some 1580 square kilometres). It operates every day of the year, 24 hours a day, seven days a week From January 2012, Heavy Goods Vehicles (HGVs), buses and coaches (which are already subject to LEZ emission standards) were required to meet Euro IV emissions standards for particulate matter (PM) to drive within Greater London free of charge.&nbsp; Also from this date, for the first time, larger vans, minibuses and other specialist vehicles were included in the LEZ.&nbsp; These vehicles have to meet a Euro 3 standard for particulate matter, in order to drive within the LEZ free of charge.&nbsp; </li>
<li>TfL's roads carry over a third of all London's traffic and we undertake Traffic Enforcement activity to keep traffic moving safely and efficiently for the benefit of all road users, supporting the economic life of the city. </li>
<li>Enforcement activity is focussed at key locations at peak hours when traffic contraventions cause more congestion, longer delays and further inconvenience other road users. </li>
<li>IBM will continue to act as the service provider for Congestion Charging and Low Emission zone schemes until 2015 </li>
<li>All revenue from enforcement is reinvested in maintaining and improving the transport network.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Transport for London announces new Congestion Charge and Low Emission Zone service provider -->

 
 
        
        
            @{ViewBag.Description = "Capita to take over day-to-day operation of schemes from October 2015 New contract will deliver improved efficiency with faster, simpler payment processes Other proposed improvements include enabling Auto Pay customers to use Direct Debit, online";}
        
        


 