


@{ViewBag.Title = "TSSA leadership urged to abandon strike ballot as union's 'Passenger Charter' is revealed to match LU's Commitments to Londoners";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TSSA leadership urged to abandon strike ballot as union's 'Passenger Charter' is revealed to match LU's Commitments to Londoners</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TSSA leadership urged to abandon strike ballot as union's 'Passenger Charter' is revealed to match LU's Commitments to Londoners</h1>
        <div class="content-page-press-release">
        20 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground Managing Director Mike Brown today urged TSSA union leader Manuel Cortes to call off the ballot for industrial action.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I urge the TSSA leadership to abandon the proposed strike ballot without delay and work with us to help shape the future of the Tube"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I urge the TSSA leadership to abandon the proposed strike ballot without delay and work with us to help shape the future of the Tube
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground Managing Director Mike Brown today urged TSSA union leader Manuel Cortes to call off the ballot for industrial action over LU's plans to modernise station staffing at Tube stations after it emerged that the union openly supports the main elements of LU's plans to improve customer service.</p>
<p>LU's proposals, part of a wider vision for the future of the Tube that includes running 24 hour services at weekends, will mean more staff visible and available to help passengers buy the right ticket, plan their travel and make their journeys easier. The changes will be achieved with no compulsory redundancies and there will be a job for everyone who wants to continue being part of LU and who is ready to be flexible.</p>
<h2>Vision for the future</h2>
<p>In the latest issue of the TSSA Journal, the union sets out the main tenets of its 'Better London Transport' campaign and proposed Passenger Charter. The four key points the union sets out reflect precisely what LU has already committed to delivering under its vision for the future. The TSSA want:</p>
<ul>
<li>'An assurance for disabled passengers that they can turn up at any accessible Tube station and be able to use the Tube'</li></ul>
<p>LU already offers a widely-praised "turn up and go" assistance service for disabled and visually impaired passengers at every station. Huge improvements are already being made to the accessibility of the network - with more step-free stations, boarding ramps, raised platform sections, more staff training and better signage. This, alongside LU's proposals, will make it even easier for disabled customers to get around, particularly as more staff will be available in public areas of stations to assist them.</p>
<ul>
<li>'A friendly face and a helping hand: a visible staff presence throughout all stations'</li></ul>
<p>One of LU's core commitments is that all LU stations have staff on duty all day, with more staff visible and available in public areas where our customers need and want them most; not behind panes of glass but out in ticket halls, at ticket machines and on the platforms helping customers buy the right ticket, plan their travel and make their journeys easier.</p>
<ul>
<li>'Well maintained, safe and secure stations'</li></ul>
<p>As well as staffing all stations from first train to last, and all night when the Tube runs 24hrs services at weekends, LU is continuing to invest billions of pounds in maintaining and improving stations and is working with our policing partners to ensure we keep all our customers - and staff - safe and secure. The crime rate is now at its lowest ever level, a trend that is set to continue.</p>
<ul>
<li>'Clear communication and updates'</li></ul>
<p>LU is committed to making journeys easier for our customers, with staff on hand to give advice and assistance. As now, there will be regular announcements and clear displays of real time information at all stations and the latest technology for staff at every station to help them help customers. A new TfL website is launching soon alongside all of information continuing to be freely and openly available to apps developers, offering more personalised information and online services optimised for use 'on the move'. </p>

<p>Wi-Fi coverage, already available at 120 stations, will be introduced at all below-ground Tube stations. In addition there will be more and improved ticket machines, able to fulfil functions currently only possible within ticket offices, and easier ways to pay for travel, including contactless bank card payment.</p>
<p>Mike Brown, Managing Director of London Underground, said:</p>
<p>'I fully endorse TSSAs priorities to improve customer service. Given this it seems very strange and completely unnecessary for the TSSA leadership to be balloting its members for strike action and all the disruption to Londoners that would entail.</p>
<p>'I have already committed to delivering these improvements to customer service with no compulsory redundancies. There will continue to be a job for anyone who wants to remain and is willing to be flexible and work with us to build a Tube service fit for London in the 21st Century.</p>
<p>'I am therefore urging the TSSA leadership to abandon the proposed strike ballot without delay and work with us to help shape the future of the Tube.'</p>

<p><a href="/assets/downloads/Letter-to-manuel-cortes.pdf">Read TfL's open letter to the leader of the TSSA (PDF 69KB)</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-TSSA leadership urged to abandon strike ballot as union's 'Passenger Charter' is revealed to match LU's Commitments to Londoners -->

 
 
        
        
            @{ViewBag.Description = "London Underground Managing Director Mike Brown today urged TSSA union leader Manuel Cortes to call off the ballot for industrial action over LU's plans to modernise station staffing at Tube stations after it emerged that the union openly supports the";}
        
        


 