


@{ViewBag.Title = "UK's first low level signals for cyclists installed at Bow Roundabout";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">UK's first low level signals for cyclists installed at Bow Roundabout</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>UK's first low level signals for cyclists installed at Bow Roundabout</h1>
        <div class="content-page-press-release">
        27 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first low level traffic signals specifically designed to help cyclists in the UK have been installed in London, following extensive safety trials by Transport for London (TfL) on behalf of the Mayor.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Innovative measures such as this are just one of a number of new safety initiatives we've been pushing for as part of my vision for cycling"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Innovative measures such as this are just one of a number of new safety initiatives we've been pushing for as part of my vision for cycling
                            
                        </p>
                    </div>
                
            
            
            <p>The installation of these innovative signals forms part of the Mayor's Vision for Cycling in London, the &pound;913m plan to transform cycling in the capital.</p>
<p>Low level cycle signals have been common place in certain parts of Europe for many years, but have never been approved for use in the UK. During off-street trials, which were carried out in partnership with the Department for Transport (DfT) last year, more than 80 per cent of cyclists favoured the use of low-level signals, which repeat the signal displayed on main traffic lights at the eye level of cyclists. </p>
<p>The lights have now been installed onto the early-start traffic signals at Bow roundabout.</p>
<p>TfL has also written to the DfT for permission to trial low level cycle signals at a number of other locations across London, and also begun work to see where else they could be installed in the future, subject to the on-street trials being successful.</p>
<p>The Mayor of London, Boris Johnson, said: </p>
<p>'Innovative measures such as this are just one of a number of new safety initiatives we've been pushing for as part of my vision for cycling. </p>
<p>We look forward to continuing to work with the government on many more measures to help make cycling even safer, more attractive and convenient for Londoners.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL said: </p>
<p>'These low level cycle signals are the first fruits from our extensive off-street cycling innovation trials and will be a fantastic addition to London's roads. </p>
<p>Throughout 2014 we will be working to improve more junctions with these signals as well as continuing to redesign the capital's roads to make them safer for all road users, especially cyclists.'</p>
<p>British Cycling's Campaigns Manager, Martin Key, said: </p>
<p>'We are pleased to see low level traffic lights being brought into use at Bow Roundabout. </p>
<p>They have been used successfully across Europe and make it easier for cyclists to know when it is safe for them to ride through the junction. </p>
<p>These lights and other cycle friendly measures should be available to use not only in London but across the whole country over the next couple of years. </p>
<p>Anything that can be done to improve the experience of cycling on busy roads can only be a positive move and it's fantastic to see Transport for London leading the way.'</p>
<p>Matt Winfield, Deputy Director for Sustrans London, said: </p>
<p>'It's great to see the wheels turning on new and innovative cycling infrastructure. </p>
<p>Low level lights offer a range of advantages for cyclists, of which improved safety is paramount. </p>
<p>Investing in cycling infrastructure provides great value for money and offers the fastest turn around for expanding the provision of urban transport. </p>
<p>We now need to build on this success and get the green light on other important developments such as 'Cycle Zebras' and 'Early Green-Phases' as soon as we can so that cyclists can clear junctions swiftly and avoid mixing with heavy goods vehicles.'</p>
<p>The inner section of Cycle Superhighway 2, between Aldgate and Bow, will also be substantially upgraded, with pioneering cycle-separated junctions planned at five key junctions along the route, and full or semi segregation installed on the rest of the route. </p>
<p>A study is also underway to define the long-term vision for Bow roundabout, taking in to consideration the numerous developments that are taking place in the area.</p>
<p>Off street trials of new cycle-separated junctions will begin next month at the Transport Research Laboratory to test fully-segregated approaches to junctions and special cycle-specific traffic lights. </p>
<p>These lights have a cyclist phase to guard against conflict with moving and turning motor traffic. Most serious bike injuries and fatalities occur at junctions.</p>
<p>For more information on the Mayors Cycling Vision, please visit <a href="http://www.tfl.gov.uk/cyclingvision">here</a>&nbsp;</p>
            <p>Notes to Editors:</p>
<p>TfL has written to the DfT to trial low level cycle signals at the following locations:</p>
<ul>
<li>Queen Street Place / Upper Thames Street</li>
<li>Euston Road / Pancras Road</li>
<li>Holloway Road / Madras Place / Fieldway Crescent</li>
<li>City Road / Colebrooke Row</li>
<li>Owen Street / Goswell Road</li>
<li>Cable Street / Dock Street / Royal Mint Street</li>
<li>Cable Street / Cannon Street Road</li>
<li>London Road / Princes Street / Ontario Street</li>
<li>St Georges Road / Princess Street / Elliots Row</li>
<li>Clapham Common Northside / Cedars Avenue</li>
<li>Clapham Common Southside / Narbonne Avenue</li></ul>
<p>TfL continues to discuss with the DfT about new traffic signing required to deliver the 'Quietways' network of high-quality, low-traffic back streets which form part of the Mayor's vision for cycling, as well as options for the enforcement of mandatory cycle lanes by local authorities.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-UK's first low level signals for cyclists installed at Bow Roundabout -->

 
 
        
        
            @{ViewBag.Description = "The installation of these innovative signals forms part of the Mayor's Vision for Cycling in London, the &pound;913m plan to transform cycling in the capital.Low level cycle signals have been common place in certain parts of Europe for many years, but";}
        
        


 