


@{ViewBag.Title = "Views sought on proposed changes to Congestion Charging scheme";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Views sought on proposed changes to Congestion Charging scheme</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Views sought on proposed changes to Congestion Charging scheme</h1>
        <div class="content-page-press-release">
        06 January 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is today (6 January) asking Londoners for their views on a number of proposed changes to the Congestion Charging scheme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are keen to hear what Londoners and motorists have to say about the proposed changes to the Congestion Charging scheme.
                            
                        </p>
                    </div>
                
            
            
            <p>Since 2011 the daily Congestion Charge has remained at &pound;10 (&pound;9 if paid using CC Auto Pay or &pound;12 if paid the next charging day) with the cost of the charge falling in real terms over this period.&nbsp; </p>
<p>TfL is now proposing an increase to the daily charge - to &pound;11.50 if paid in advance (or on the day); &pound;10.50 if paid using CC Auto Pay or &pound;14 if paid the next charging day.</p>
<p>Other changes that Londoners will be consulted on include enabling CC Auto Pay customers to pay via Direct Debit - in addition to the existing option of paying with a registered debit or credit card; the introduction of a simple online registration process for discounts; moving away from postal and phone registration and introducing reimbursements for charges paid via CC Auto Pay by NHS patients and staff.</p>
<p>The proposed increase to the charge will help maintain the deterrent effect of the charge in reducing unnecessary journeys and brings it in line with inflation when compared with other transport costs and public transport fares which have increased over time.&nbsp; </p>
<p>If no changes were made to the Congestion Charging scheme charges, TfL anticipates an increase in traffic levels within the Congestion Charging zone.</p>
<p>Increasing the charge would generate an estimated &pound;84m of additional revenue by the end of 2017/18 with any net revenue generated being invested in improvements to London's transport as required by law.&nbsp; </p>
<h2>Listening to our customers</h2>
<p>Since the Congestion Charge was introduced in 2003 more than &pound;1.2 billion revenue has been invested in transport, including &pound;960m on improvements to the bus network, &pound;102m on roads and bridges, &pound;70m on road safety, &pound;51m on local transport/borough plans and &pound;36m on sustainable transport and the environment.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: 'We are keen to hear what Londoners and motorists have to say about the proposed changes to the Congestion Charging scheme.&nbsp; The proposed changes will ensure the Congestion Charge remains an effective deterrent to making unnecessary journeys in central London. </p>
<p>'We do listen to the views of our customers and have made significant changes to the scheme in recent years, including the removal of the Western Extension and the introduction of the hugely popular Congestion Charging (CC) Auto Pay system.'</p>
<p>CC Auto Pay remains the most straightforward way to pay the Congestion Charge and there are more than 220,000 registered accounts.&nbsp; </p>
<p>It is an automated payment system which automatically records the number of days a vehicle travels within the charging zone each month and bills the account holder's payment card accordingly.&nbsp; </p>
<p>Drivers registered for CC Auto Pay never have to remember to pay the charge, avoid fines and pay a reduced daily rate.&nbsp; </p>
<p>An annual &pound;10 registration charge per vehicle applies to register for CC Auto Pay and account holders are able to register up to five vehicles per account.</p>
<h2>Give your views</h2>
<p>More information on the consultation, including the supporting documents, is available on TfL's website at: <a href="http://www.tfl.gov.uk/ccyourviews">www.tfl.gov.uk/ccyourviews</a>.&nbsp; </p>
<p>Visit the website to give your views on the proposals or call&nbsp;0343 222 1234 for an information leaflet.</p>
<p>The 10 week public consultation closes on Friday 14 March 2014.&nbsp; </p>
<p>TfL will then prepare a report for the Mayor setting out the comments received during the consultation.&nbsp; </p>
<p>The Mayor will then make a decision on whether or not to go ahead with the proposals with or without modifications.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-January-Views sought on proposed changes to Congestion Charging scheme -->

 
 
        
        
            @{ViewBag.Description = "Since 2011 the daily Congestion Charge has remained at &pound;10 (&pound;9 if paid using CC Auto Pay or &pound;12 if paid the next charging day) with the cost of the charge falling in real terms over this period.&nbsp; TfL is now proposing an increase to";}
        
        


 