


@{ViewBag.Title = "Action-packed day in store as Paralympic Games events begin at the Olympic Stadium - Friday 31 August 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Action-packed day in store as Paralympic Games events begin at the Olympic Stadium - Friday 31 August 2012</h1>
        <div class="content-page-press-release">
        30 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Action-packed day in store as Paralympic Games events begin at the Olympic Stadium - Friday 31 August 2012.
        
    </div>



 <div class="on-this-page">
<ul>
    <li>Passengers who use the Jubilee, Central or DLR lines are reminded to plan ahead to avoid the busiest times and places</li>
    <li>Road users, residents and spectators reminded to avoid driving near the Paralympic Route Network or Games venues</li>
    <li>For the latest on how transport services are operating, check before you travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (bus)</li>
</ul>
<p>Tomorrow (Friday 31 August) will be action-packed with cultural and sporting Paralympic Games events, with the first day of Athletics at the Olympic Stadium. Events are taking place across the capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park and Royal Artillery Barracks.</p>
<p>Up to an additional 80,000 people in both the morning and afternoon will visit the Olympic Park compared to today, meaning that the Jubilee, Central and DLR lines will be particularly busy. </p>
<p>Javelin services to and from the Olympic Park will also be busy tomorrow and throughout the Paralympic Games, especially as events finish in the evening.</p>
<p>Spectators heading to or from the Olympic Park are being asked to consider using C2C, District and Hammersmith &amp; City lines to or from West Ham and to access the Park via the Greenway. </p>
<p>This will help avoid the crowds. Passengers with reduced mobility should use Stratford station, where assistance is available. National rail services between Liverpool Street and Stratford should also be considered. </p>
<h2>Plan ahead</h2>
<p>Where possible, driving on or around the Paralympic Route Network (PRN) and near venue areas should be avoided, particularly around the Olympic Park in Stratford and the A102 approach roads north and south of the Blackwall Tunnel.</p>
<p>Congestion has been seen on the A2, A12 and A13, particularly in the morning peak. </p>
<p>Roads east of St.Pauls, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, and roads around Games venues are busier than usual. </p>
<p>If driving is your only option, please travel at a different time if possible or allow more time for your journey.</p>
<p>Trafalgar Square and Potters Field Live Sites will operate throughout the Paralympic Games. </p>
<p>There are a number of stations that can be used to access Trafalgar Square including Charing Cross and Embankment Station and Potters Field is within walking distance of Borough Station.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Following a stunning London 2012 Paralympic Games opening ceremony, a huge number of sporting, cultural and other events and attractions are now getting started. </p>
<p>'The DLR, Javelin, Jubilee and Central lines will be particularly busy tomorrow as large numbers make their way to events, including the athletics, at the Olympic Park.  </p>
<p>'We are seeing that the roads near venues and in and approaching the City are busier than normal. This will increase as Londoners and their children return to work and school following the summer holidays. </p>
<p>'We are therefore asking people around the venues and the PRN to take the same sensible steps they did during the Olympics and avoid the busiest times and places where possible, by checking at GetAheadoftheGames.com.'</p>
<h2>TfL's key travel advice for Friday 31 August:</h2>
<ul>
    <li>Events will be taking place across East London at the Olympic Park, ExCeL, North Greenwich Area, Greenwich Park and Royal Artillery Barracks</li>
    <li>Public transport serving Games venues will be particularly busy, especially on the Jubilee line from Waterloo to Stratford and DLR from Bank to Greenwich, and Canning Town to Prince Regent in the periods 07:30-09:30 and 16:00-19:00 and between Holborn and Stratford on the Central line from early afternoon. If possible, consider using alternative lines at busy times or retiming your journey to avoid the crowds</li>
    <li>If you're attending the late night sessions at the Olympic Park, North Greenwich Arena or ExCeL please make sure you check the time of your last train home</li>
    <li>Large numbers of spectators are expected to interchange at London Bridge and Bank to get to Games venues. If possible, try to avoid interchanging at these stations between 07:30-09:30 and 16:00-19:00</li>
    <li>Please avoid driving on or around the Paralympic Route Network (PRN) and near venues. The A102 approach roads north and south of the Blackwall Tunnel should be avoided</li>
    <li>The A2, A12, A13, and roads east of St.Pauls, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, are busier than usual.  If driving is your only option, please travel at a different time if possible or allow more time for your journey</li>
    <li>Games Lanes are operating flexibly.  Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.  If you have to drive in these areas, plan ahead and consider re-timing your journey and allow more time</li>
    <li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
    <li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
    <li>Today's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/31-august.html">http://www.getaheadofthegames.com/bulletins/31-august.html</a>.</li>
</ul>
<h2>Ticketed spectators</h2>
<ul>
    <li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or C2C services into West Ham with a direct walk along the Greenway to the Park for quicker entry into the park. Passengers with reduced mobility are advised to use Stratford station</li>
    <li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel</li>
    <li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey</li>
    <li>Expect queues when arriving and departing venue stations. Please leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator</li>
    <li>For more information about accessible travel during the Games, please visit: <a href="http://www.london2012.com/spectators/travel/accessible-travel">www.london2012.com/spectators/travel/accessible-travel</a></li>
</ul>
<p>
</p>
<hr />
<p>&nbsp;</p>
<p ><br /><strong>Notes to editors:</strong></p>
<strong>
<ul>
    <li></li>
</ul>
</strong>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.  Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:<br />- Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br />- B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br />- A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br />- Interviews with TfL spokespeople<br /></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers who use the Jubilee, Central or DLR lines are reminded to plan ahead to avoid the busiest times and placesRoad users, residents and spectators reminded to avoid driving near the Paralympic Route Network or Games venues Plan ahead with the";}
        
        


 