


@{ViewBag.Title = "Announcement about access to Westfield Stratford City";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Announcement about access to Westfield Stratford City</h1>
        <div class="content-page-press-release">
        02 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This Friday and Saturday are the busiest days for the Olympic Park in Stratford.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This Friday and Saturday will be the busiest days of the Games, with more than 200,000 people travelling to the Olympic Park alone.
                            
                        </p>
                    </div>
                
            
            
            <p>Over 200,000 spectators and accredited workforce are expected each day, making the Stratford area exceptionally busy.</p>
<p>This means that, between 10:30 and 17:00 on each of these days, the Westfield shopping centre will only be accessible to accredited workers, members of the public with, or collecting, a Games ticket or using hospitality venues.</p>
<p>Spectators can only buy Games tickets in advance via the London2012 website and no tickets for the Games can be bought at Stratford. </p>
<h2>Numerous attractions</h2>
<p>All other passengers should avoid the area and enjoy the attractions at numerous other locations across London.</p>
<p>To avoid the queues into the Olympic Park at Stratford, passengers should use West Ham station on the Jubilee, District and Hammersmith &amp; City lines and take the 15 minute direct walk from there to the Olympic Park, which offers great views, street entertainers and easy entry.</p>
<p>Paul Deighton, Chief Executive, LOCOG, said: 'As we move into the second week of the Games the Olympic Park will be much busier as the Olympic Stadium hosts its first sporting events. </p>
<p>'This Friday and Saturday will be the busiest days of the Games, with more than 200,000 people travelling to the Olympic Park alone. </p>
<h2>Live Sites</h2>
<p>'Because of the huge number of people coming to the Park on those days at certain times we have to restrict general public access to Westfield Stratford City and we are encouraging people to avoid travelling to Stratford unless they have a ticket.'</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Westfield Stratford City may not be open to shoppers without a ticket during these times but London has a rich and vast array of other attractions to offer during the Games, so I encourage everyone to enjoy the theatres, restaurants, shops, free concerts, Live Sites and attractions and to continue to use GetAheadoftheGames.com to plan your journeys.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over 200,000 spectators and accredited workforce are expected each day, making the Stratford area exceptionally busy.This means that, between 10:30 and 17:00 on each of these days, the Westfield shopping centre will only be accessible to accredited";}
        
        


 