


@{ViewBag.Title = "Another busy day with women's Triathlon and men's 20km Race Walk, plus Athletics at Olympic Stadium";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Another busy day with women's Triathlon and men's 20km Race Walk, plus Athletics at Olympic Stadium</h1>
        <div class="content-page-press-release">
        04 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Central London will be a hub of activity with spectators watching the women's Triathlon and men's 20km Race Walk,  as well as the Beach Volleyball at Horse Guards Parade.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Tour de France and Team GB gold medal hero Bradley Wiggins to make appearance at BT London Live event in Hyde Park </li>
<li>The road events will result in road closures and changes to the operation of the ORN&nbsp; </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic Live Sites, free concerts, restaurants and bars and great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Passengers are advised to avoid the busiest times and places and road users, residents and spectators are reminded to avoid driving around the ORN, venues and central London where possible </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>&nbsp; and <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (bus)</li></ul>
<p>Today, Saturday 4 August, is set to be another busy day on the transport network with hundreds of thousands of spectators expected to watch the women's Triathlon and the men's 20km Race Walk in central London. These events mean road closures will be in place.&nbsp;More than&nbsp;200,000 spectators and accredited workers are also expected to travel to Stratford for events at the Olympic Park.</p>
<p>Londoner, Tour de France winner and Team GB Cycling Time Trial Gold medal hero, Bradley Wiggins, will also make an appearance at the BT London Live event in Hyde Park from around 16:00, which is expected to draw large crowds.</p>
<p>Stratford City Westfield shopping centre will only be accessible to accredited workers, members of the public with, or collecting, a Games ticket or using hospitality venues between 10:30 and 17:00 on Saturday.&nbsp;All other passengers are advised to avoid the area and enjoy the shops, bars, restaurants, Live Sites and attractions at numerous other locations across London.</p>
<p>Aside from the events at the Olympic Park, the women's Triathlon and the men's 20km Race Walk, there are a number of events taking place at other London venues, including sessions of Beach Volleyball at Horse Guards Parade and the Equestrian at Greenwich Park. The Docklands Light Railway, Jubilee and Central lines will be busier than usual, particularly in the morning, evening and late evening peaks.&nbsp;Driving in central London should be avoided where possible.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Yesterday was the busiest day of the Games so far, as the athletics got under way in the Olympic Stadium.&nbsp;We got everyone to their Games events on time and kept London moving and open for business.&nbsp;We expect it to be busy again today.<br>&nbsp;<br>'With the women's Triathlon and the men's 20km Race Walk on today, it is a fantastic opportunity for those without tickets to the Games to watch the events and be part of the fantastic Olympic spirit.&nbsp;There will be a number of road closures in central London and the ORN will also operate differently, so we urge people to plan their journeys in advance at GetAheadoftheGames.com'<br>&nbsp;<br></p>
<h2>Ticketed spectators</h2>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com/">london2012.com </a>for your recommended arrival times and leave plenty of time to travel </li>
<li>If you are going to athletics events, leave plenty of time to get to the Olympic Park </li>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith&nbsp;&amp; City lines or C2C services into West Ham with a short direct walk along the Greenway to the Park for a quicker route </li>
<li>Make sure you have the correct Games Travelcard for the day of your event </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">london2012.com/journey</a> </li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>Live Sites offering free concerts will once again be in operation today.&nbsp;There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit only at busy times between 10:00-22:00 if busy.&nbsp;Victoria Park live site can also be accessed from Mile End station<br>&nbsp;<br>
<h2>TfL's key travel advice for Saturday 4 August</h2></li>
<li>The women's Triathlon is taking place on roads around Hyde Park today followed by the men's Triathlon rehearsal and the men's 20km Race Walk, which is taking place around Constitution Hill and The Mall later in the day.&nbsp;There will be road closures and restrictions, which will be in place from 03:30.&nbsp;Please avoid driving near Hyde Park Corner throughout the day.&nbsp;Hyde Park Corner will be closing at 05:30 but Piccadilly underpass will remain open throughout </li>
<li>If you are not attending a Games event, avoid using venue stations, in particular Stratford station </li>
<li>Please continue to avoid driving into central London, or on or around the Olympic Route Network (ORN) and near venues </li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>Events will be taking place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earl's Court, Hyde Park, The Mall, Wimbledon and Wembley Stadium and Arena </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Today's Daily Bulletins is available at <a href="http://www.getaheadofthegames.com/bulletins/4-august.html">http://www.getaheadofthegames.com/bulletins/4-august.html</a>&nbsp; </li></ul>
<h2>Road restrictions on Sunday 5 August</h2>
<ul>
<li>In line with its commitment to keep disruption to Londoners to an absolute minimum, TfL will be making further alternations to the road network that will relax restrictions at certain locations.&nbsp;Lane restrictions on the A3, A40 and the A406 will be removed overnight on Saturday 4/Sunday 5 August, as venues change their operations</li></ul>
<p>
<hr>
</p>
            <p><strong>Notes to Editors</strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at <a href="GetAheadoftheGames.com">GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li></ul>
<p><br>TfL Press Office<br>0845 604 4141<br>Email: <a href="mailto:PressOffice&#64;tfl.gov.uk">PressOffice&#64;tfl.gov.uk</a><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tour de France and Team GB gold medal hero Bradley Wiggins to make appearance at BT London Live event in Hyde Park The road events will result in road closures and changes to the operation of the ORN&nbsp; Sporting action isn't the only way to get";}
        
        


 