


@{ViewBag.Title = "Another packed sporting day awaits as Team GB's record-breaking cyclist Jason Kenny goes for gold on the 10th day of the 2012 Olympic Games - Monday 6 August 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Another packed sporting day awaits as Team GB's record-breaking cyclist Jason Kenny goes for gold on the 10th day of the 2012 Olympic Games - Monday 6 August 2012</h1>
        <div class="content-page-press-release">
        05 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Olympic events to take place all day across the Capital.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Women's semi-final football match at Wembley in the afternoon - Metropolitan and Jubilee lines will be busy </li>
<li>ORN to Wimbledon will no longer be in operation </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic Live Sites, free concerts, restaurants and bars, great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Road users, residents and spectators reminded to avoid driving around the ORN, venues and central London which will be busy </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>&nbsp; and <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> <br></li></ul>

<p>Following Team GB's medal success at the weekend, tomorrow sees another packed day of cultural and sporting Olympic events, including the Men's cycling sprint finals in the Velodrome, in which Team GB cyclist Jason Kenny will be competing. The areas around the Olympic Park and other Games venues will be exceptionally busy and people should plan ahead to avoid disruption. To find out which areas will be affected and at what times, visit <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a></p>
<p>Away from the Olympic Park, the quarter-final sessions of the Men's Beach Volleyball at Horse Guards Parade will mean that central London will be busy, including Westminster and Embankment stations throughout the day. The Jubilee line will be exceptionally busy, particularly in the early evening from 16:00 to 20:00, as events are taking place at Wembley, North Greenwich Arena, Excel and the Olympic Park. Baker Street, King's Cross and Green Park stations are expected to be very busy with spectators going to and from Wembley Stadium, where the Women's Football semi-final match between France and Japan will be taking place. Where possible avoid these stations, particularly during morning and evening peak times.&nbsp; </p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'During the first week of Olympic competition public transport saw record numbers of people using London's public transport system, and we're expecting another busy week. With events continuing across the Capital, London will be hub of activity. Plan ahead to avoid the busiest places and times.</p>
<p>'London has a huge amount to offer during the Games, so I encourage everyone to enjoy the theatres, restaurants, shops, free concerts, Live Sites and attractions the Capital has to offer, and to use <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> to plan your journeys.'</p>
<p>The ORN to Wimbledon will be no longer be in operation tomorrow, as all tennis competitions at the Lawn Tennis venue conclude. </p>
<h2>Ticketed spectators</h2>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="london2012.com ">london2012.com </a>for your recommended arrival times and leave plenty of time to travel </li>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith&nbsp;&amp; City lines or C2C services into West Ham with a short direct walk along the Greenway to the Park for a quicker journey </li>
<li>Make sure you have the correct Games Travelcard for the day of your event </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">london2012.com/journey</a> </li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>&nbsp;Live Sites offering free concerts will once again be in open today for people to soak up the atmosphere.&nbsp;There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit only if busy.&nbsp;Victoria Park Live Site can also be accessed from Mile End station</li></ul>
<h2>TfL's key travel advice for Monday 6 August:</h2>
<ul>
<li>The Jubilee line will be very busy as Olympic Football is taking place at Wembley Stadium and events are taking place at North Greenwich Arena, ExCeL and the Olympic Park. If possible, try to avoid using the Jubilee line at the busiest times, particularly in the morning and evening peaks</li>
<li>Olympic Football at Wembley is due to finish at 19:00, so spectators will be travelling on the Metropolitan and Jubilee lines in the evening. If possible, re-time your journey to avoid the busiest times</li>
<li>The Docklands Light Railway, Central and Jubilee lines will be very busy throughout the day. If possible, you should consider using alternative lines at busy times</li>
<li>Those attending the late night Basketball session at North Greenwich should check the time of their last train home</li>
<li>The Piccadilly and District lines will also be very busy with spectators heading to and from Earls Court. If possible you should consider re-timing your journey to avoid busy times</li>
<li>Please continue to avoid driving into central London, on or around the Olympic Route Network (ORN) and near venues</li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
<li>Events will be taking place across the Capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earl's Court and Wembley Stadium</li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
<li>Today's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/6-august.html">http://www.getaheadofthegames.com/bulletins/6-august.html</a>&nbsp; <br></li></ul>
<p>
<hr>
</p>
            <p><strong>Notes to Editors<br></strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:<br>o&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br>o&nbsp;Interviews with TfL spokespeople</li></ul>
<p>Email: <a href="mailto:PressOffice&#64;tfl.gov.uk">PressOffice&#64;tfl.gov.uk</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Women's semi-final football match at Wembley in the afternoon - Metropolitan and Jubilee lines will be busy ORN to Wimbledon will no longer be in operation Sporting action isn't the only way to get involved in London 2012 - there are fantastic Live Sites,";}
        
        


 