


@{ViewBag.Title = "Check before you travel to Notting Hill Carnival and enjoy the event: Sunday 26 - Bank Holiday Monday 27 August 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Check before you travel to Notting Hill Carnival and enjoy the event: Sunday 26 - Bank Holiday Monday 27 August 2012</h1>
        <div class="content-page-press-release">
        20 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The victorious display by Team GB at the London 2012 Games has seen the Capital in party mood over the last month.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We would ask that people leave extra time to get to the venue and back home and to also check the best options available for travel both Sunday and Monday"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">LU's Operations Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We would ask that people leave extra time to get to the venue and back home and to also check the best options available for travel both Sunday and Monday
                            
                        </p>
                    </div>
                
            
            
            <p>This is set to continue as London welcomes the return of Europe's biggest street festival, the Notting Hill Carnival, brightening the streets of west London again this year with dance and music on August Bank Holiday weekend. </p>
<p>As with previous years, the area will be closed off to traffic so the best way to get to the Carnival is by Tube, or bus, on bike or by foot.</p>
<p>Following their enormous success during Games time, TfL will be deploying some of the Travel Ambassadors that assisted customers during the Olympics.</p>
<p>More than&nbsp;3,500 members of TfL staff volunteered to help customers with travel and real time information advice which proved invaluable and so the magenta tabards will once again be out in force during Carnival. </p>
<h2>Travelling by London Underground</h2>
<p>The Notting Hill area will be extremely busy so, to help ease congestion, some stations around the Carnival area will close early or be 'exit only' at certain times on both Sunday 26 and Monday 27 August. The following stations will have limited or no access:</p>
<ul>
<li>Ladbroke Grove - Closed </li>
<li>Latimer Road - Closes at 23:30 </li>
<li>Notting Hill Gate - Exit only 12:00-19:00. Circle and District line trains will not stop at this station between 12:00-19:00. There will be no interchange between Central and Circle/District lines </li>
<li>Royal Oak - Exit only 11:00-18:00. Closed from 18:00 on both days </li>
<li>Westbourne Park - Exit only 11:00-18:00. Closed from 23:30 on both days</li></ul>
<p>People travelling to the Carnival by Tube are advised to use Bayswater, High Street Kensington, Holland Park, Paddington, Shepherd's Bush and Queen's Park stations. </p>
<p>Customers are also reminded to touch in and touch out when using&nbsp; Oyster pay as you go on Tube, DLR, London Overground and National Rail.</p>
<h2>Travelling by London Overground</h2>
<p>London Overground stations near to the Carnival: Queen's Park, Kensal Rise, Kensal Green and Shepherd's Bush.&nbsp; </p>
<p>There will be engineering works on London Overground on the Highbury &amp; Islington to West Croydon branch early morning and in the evening on Sunday 26 August. Customers are advised to check <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> for further details.</p>
<h2>Travelling by bus</h2>
<p>A number of bus routes run close to the Carnival area: 7, 18, 23, 27, 28, 31, 36, 52, 70, 94, 148, 228, 295, 316, 328, 390, and 452.</p>
<p>TfL will be running many extra buses especially on Monday evening to get people home quickly and safely.</p>
<p>Three special express routes- 2X, 36X and 436X - will run between south London and the Carnival on both days. The 2X will run from Norwood Garage to Hyde Park Corner, then non-stop to Notting Hill Gate. </p>
<p>The 36X will run from Peckham to Vauxhall, then non-stop to Harrow Road 'Prince of Wales'. The 436X will run from Peckham to Hyde Park Corner, then non-stop to Notting Hill Gate.</p>
<p>Special bus route 205X will operate between Aldgate station and the Carnival.</p>
<p>Additionally buses within a comfortable walking distance include: 6, 46, 159, 187, 205, 220, 274, 302, 332, 414, and 436.</p>
<p>Bus routes running 24 hour services are: 6, 23, 27, 36, 94, 148, 159, 205, 220, 295 and 390.</p>
<p>Night Bus routes: N7, N18, N28, N31, N52 &amp; N207 will operate throughout Sunday and Monday night.</p>
<p>Some bus routes will be on diversion due to local road closures. Diversions will be in place from the first bus on Sunday morning 28 August until around 05:00 on Tuesday 30 August.</p>
<h2>Travelling by bike</h2>
<p>Five docking stations for Barclays Cycle Hire bikes will be suspended in the Notting Hill area from 08:00 on Sunday 26 August until 08:00 on Tuesday 28 August at Turquoise Island, Pembridge Villas, Chepstow Villas, Notting Hill Gate Station and in Bayswater at Hereford Road.</p>
<p>Nigel Holness, LU's Operations Director, said: 'It has been a fantastic summer in London so far with great success by Team GB at the London 2012 Olympic Games. The party atmosphere generated is set to continue as we welcome Europe's biggest street festival, the Notting Hill Carnival. </p>
<p>'One of the reasons that transport worked well during the Games was the use of Travel Ambassadors that were out on the network offering customers help by giving them travel&nbsp; advice and real time information, making it easier for people to navigate their way round the transport network. So it seemed logical to deploy them during the Carnival weekend as well. </p>
<p>'We would ask that people leave extra time to get to the venue and back home and to also check the best options available for travel both Sunday and Monday, so they can make the most of the day and have a fantastic time at Carnival!'</p>
<p>Transport for London advises all visitors to check before they travel and plan their journeys to and from the Carnival.&nbsp;To do so, please visit:&nbsp; <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> for up to the minute information about planned improvement works on the Tube. The TfL website, <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>, also has real time travel news, as well as maps, first and last train times and details of weekend engineering works.</p>
<p>London Travel Information offers a 24 hour helpline on 0843 222 1234. Information is also available on posters, leaflets and service update boards at Tube stations. <br><strong></strong></p>
<p><strong>
<hr>
Notes to editors: </strong>
<p><strong>
<ul>
<li></li></ul></strong>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. The benefits for Londoners will be great, with more trains - many with air-conditioning - delivering faster, more frequent and reliable journeys. The Tube upgrade will mean a big increase in capacity of around 30 per cent 
<li>We know that closures are frustrating, so TfL is working hard to keep disruption to a minimum and to provide information and alternative travel options. Londoners and visitors to the city are urged to 'check before you travel', particularly at weekends, and to allow extra journey time where necessary </li>
<li>Transport for London's Journey Planner offers the quickest way to plan journeys in the Capital, showing fast and efficient routes: tfl.gov.uk/journeyplanner </li>
<li>Information about cycling is available at tfl.gov.uk/cycling and about walking at tfl.gov.uk/walking </li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is set to continue as London welcomes the return of Europe's biggest street festival, the Notting Hill Carnival, brightening the streets of west London again this year with dance and music on August Bank Holiday weekend. As with previous years, the";}
        
        


 