


@{ViewBag.Title = "Day nine of the 2012 Olympic Games - Sunday 5 August 2012: Women's Olympic Marathon in central London as athletics continues at the Olympic Stadium";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Day nine of the 2012 Olympic Games - Sunday 5 August 2012: Women's Olympic Marathon in central London as athletics continues at the Olympic Stadium</h1>
        <div class="content-page-press-release">
        05 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Central London will be a hub of activity with spectators watching the Women's Olympic Marathon as well as going to the Beach Volleyball at Horse Guards Parade.The Marathon road event will result in road closures and changes to the operation of the ORN.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Tube passenger numbers at a record high, with 4.31m journeys on Thursday 2 August - the busiest day ever </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic Live Sites, free concerts, restaurants and bars and great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Passengers are advised to avoid the busiest times and places and road users, residents and spectators are reminded to avoid driving around the ORN, venues and central London where possible </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>&nbsp; and <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li></ul>
<p>Following the greatest night in British athletic history, the Women's Olympic Marathon will take place today, Sunday 5 August, with athletes running through central London past iconic landmarks and finishing at The Mall.&nbsp;Hundreds of thousands of spectators are expected to line the route.</p>
<p>As well as the events at the Olympic Park, there are a number of events taking place at other London venues, including sessions of Beach Volleyball at Horse Guards Parade.&nbsp;The busiest times across the network will be early in the morning, lunchtime and evening.&nbsp;</p>
<p>The Docklands Light Railway, Central and Jubilee lines will be busy throughout the day. The Piccadilly line will be busy in the afternoon and evening with spectators heading to and from the Volleyball at Earls Court and the Tennis at Wimbledon.&nbsp;Driving in central London should be avoided where possible.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Record numbers of passengers have been travelling on public transport and large numbers are expected to watch the Women's Olympic Marathon, which provides another great opportunity for those without tickets to come out and watch an Olympic event for free.&nbsp;If you don't want to line the race route you can also head to the Live Sites or visit one of the many other attractions London has to offer during the Games.</p>
<p>'There will be road closures in London, so please avoid driving in central London where possible and continue to use <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> to plan your journeys.'</p>
<h2>Ticketed spectators</h2>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="london2012.com">london2012.com </a>for your recommended arrival times and leave plenty of time to travel</li>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith&nbsp;&amp; City or C2C services into West Ham with a short direct walk along the Greenway to the Park for a quicker journey</li>
<li>Make sure you have the correct Games Travelcard for the day of your event</li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">london2012.com/journey</a></li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator</li>
<li>Live Sites offering free concerts will once again be open today for people to soak up the atmosphere. There are a number of stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit only if busy.&nbsp;Victoria Park live site can also be accessed from Mile End station<br></li></ul>
<h2>TfL's key travel advice for Sunday 5 August</h2>
<ul>
<li>The Women's Olympic Marathon is taking place on roads around central London today.&nbsp;There will be road closures and restrictions, which will be in place from 03:00 and will remain in place until a few hours after the race has finished. Road will be re-opened as soon as it is safe to do so</li>
<li>Stations in the City, Embankment&nbsp;and The Mall that are close to the Marathon race route will be busy</li>
<li>It may be busy getting home after the Women's Olympic Marathon, why not stay in London to take advantage of what the city has to offer</li>
<li>Please continue to avoid driving into central London, or on or around the Olympic Route Network (ORN) and near venues</li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
<li>Events will be taking place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Hyde Park, Earl's Court, The Mall, Wimbledon and Wembley Arena</li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
<li>For full information on avoiding roads and public transport hotspots, check out <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com </a>- including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
<li>Today's Daily Bulletins is available at <a href="http://www.getaheadofthegames.com/bulletins/5-august.html">http://www.getaheadofthegames.com/bulletins/5-august.html</a> </li></ul>
<h2>Road restrictions on Sunday 5 August</h2>
<ul>
<li>In line with its commitment to keep disruption to Londoners to an absolute minimum, Transport for London will be making further alternations to the road network that will relax restrictions at certain locations.&nbsp;Lane restrictions on the A3, A40 and the A406 will be removed overnight on Saturday 4/Sunday 5 August, as venues change their operations</li></ul>
<p>
<hr>
<br><br></p>
            <p><strong>Notes to Editors<br></strong></p>
<ul>
<li>This TfL London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office is available 24 hours a day during the Olympic Games on 0845 604 41 41 and has a member of staff in the London Media Centre during normal opening hours<br>&nbsp;</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tube passenger numbers at a record high, with 4.31m journeys on Thursday 2 August - the busiest day ever Sporting action isn't the only way to get involved in London 2012 - there are fantastic Live Sites, free concerts, restaurants and bars and great West";}
        
        


 