


@{ViewBag.Title = "Day eight of the 2012 Olympic Games - Saturday, 04 August 2012 - will see the women's Triathlon and the men's Race Walk in full speed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Day eight of the 2012 Olympic Games - Saturday, 04 August 2012 - will see the women's Triathlon and the men's Race Walk in full speed</h1>
        <div class="content-page-press-release">
        03 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Central London will be a hub of activity with non-ticketed spectators watching the women's Triathlon and men's 20km Race Walk - as well as spectators going to the Beach Volleyball at Horse Guards Parade.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London has many attractions to offer during the Games, so I encourage everyone to enjoy the theatres, restaurants, shops, free concerts, Live Sites and attractions."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London has many attractions to offer during the Games, so I encourage everyone to enjoy the theatres, restaurants, shops, free concerts, Live Sites and attractions.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>The road events will result in road closures and changes to the operation of the ORN&nbsp; </li>
<li>Westfield Stratford City accessible only to spectators with, or collecting, Games tickets, accredited workers or those using hospitality venues between 10.30am and 5pm </li>
<li>The DLR, Central and Jubilee lines will be very busy throughout the day. Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">www.getaheadofthegames.com</a>&nbsp;and <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic Live Sites, free concerts, restaurants and bars and great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li></ul>
<p>Central London will welcome the women's Triathlon at 09:00 and the men's Race Walk at 17:00 on Saturday 4 August.</p>
<p>These events mean road closures will be in place.<br>&nbsp;<br>Westfield Stratford City shopping centre will only be accessible to accredited workers and members of the public with, or collecting, a Games ticket or using hospitality venues between 10:30 and 17:00 on Saturday.&nbsp; </p>
<p>All other passengers should avoid the area and enjoy the shopping and cultural attractions at numerous other locations across London.</p>
<p>Aside from the events at the Olympic Park, there are a number of events taking place at other London venues, including sessions of Beach Volleyball at Horse Guards Parade.&nbsp; </p>
<p>The busiest times across the network will be early in the morning, lunchtime and evening.&nbsp; </p>
<h2>More than 200,000 spectators</h2>
<p>The DLR, Central and Jubilee lines will be busy throughout the day. </p>
<p>The Jubilee and Metropolitan lines will be busy from 12:00 to 16:00 between central London and Wembley.&nbsp;</p>
<p>Driving in central London should be avoided where possible.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Saturday will be one of the busiest days of the Games so far with well over 200,000 spectators and workforce expected at the Olympic Park alone, so I urge people to avoid the area unless you are attending a Games event.&nbsp; </p>
<p>'With the women's Triathlon and the men's 20km Race Walk taking place on Saturday there will be road closures in London, so please avoid driving in central London where possible and continue to use GetAheadoftheGames.com to plan your journeys.</p>
<p>'London has many attractions to offer during the Games, so I encourage everyone to enjoy the theatres, restaurants, shops, free concerts, Live Sites and attractions.'&nbsp;<br></p>
<p><strong>Ticketed spectators</strong></p>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel </li>
<li>If you are going to Athletics events, leave plenty of time to get to the Olympic Park </li>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or C2C services into West Ham with a short direct walk along the Greenway to the Park for a quicker route </li>
<li>Make sure you have the correct Games Travelcard for the day of your event </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey </li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>Live Sites offering free concerts will once again be in operation today. There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit only at busy times between 10:00-22:00 if busy. Victoria Park live site can also be accessed from Mile End station</li></ul>
<p><strong>TfL's key travel advice for Saturday, 4 August: </strong></p>
<ul>
<li>The women's Triathlon is taking place on roads around Hyde Park today followed by the men's triathlon rehearsal and the men's 20km Race Walk, which is taking place around Constitution Hill and The Mall later in the day. There will be road closures and restrictions, which will be in place from 03:30. Please avoid driving near Hyde Park Corner throughout the day. Hyde Park Corner will be closing at 05:30 but Piccadilly underpass will remain open throughout </li>
<li>If you are not attending a Games event, avoid using venue stations, in particular Stratford station </li>
<li>Please continue to avoid driving into central London, or on or around the Olympic Route Network (ORN) and near venues </li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>Events will be taking place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earl's Court, Hyde Park, The Mall, Wimbledon and Wembley Stadium and Arena </li>
<li>Before travelling, check out live travel updates at tfl.gov.uk or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Today's Daily Bulletin is available at <a href="http://www.getaheadofthegames.com/bulletins/2-august.html">www.getaheadofthegames.com/bulletins/2-august.html</a> </li></ul>
<p><strong>Road restrictions on Sunday 5 August </strong></p>
<ul>
<li>In line with its commitment to keep disruption to Londoners to an absolute minimum, TfL will be making further alternations to the road network that will relax restrictions at certain locations. Lane restrictions on the A3, A40 and the A406 will be removed overnight on Saturday 4/Sunday 5 August, as venues change their operations</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>This TfL London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp;Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London Buses, DLR, London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The road events will result in road closures and changes to the operation of the ORN&nbsp; Westfield Stratford City accessible only to spectators with, or collecting, Games tickets, accredited workers or those using hospitality venues between 10.30am and";}
        
        


 