


@{ViewBag.Title = "Day 12 of the 2012 Olympic Games and the Basketball moves from the Olympic Park to North Greenwich Arena - Wednesday 8 August 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Day 12 of the 2012 Olympic Games and the Basketball moves from the Olympic Park to North Greenwich Arena - Wednesday 8 August 2012</h1>
        <div class="content-page-press-release">
        07 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube passenger numbers continue at record levels - with the busiest weekend on record. Saturday saw 3.74 million journeys and Sunday saw 3.2 million journeys (up 11 per cent and 22 per cent respectively on previous records)
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As we move closer to the final events and the culmination of a phenomenal sporting fortnight, I would urge people to continue to plan their journeys and avoid the busiest stations at the busiest times."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As we move closer to the final events and the culmination of a phenomenal sporting fortnight, I would urge people to continue to plan their journeys and avoid the busiest stations at the busiest times.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>London Overground carries a record 2.86 million passengers in a week, up by 27 per cent on normal levels </li>
<li>Jubilee line will be busy very late into the evening, particularly at North Greenwich, as the Basketball finals start at North Greenwich Arena </li>
<li>Olympic events to take place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Horse Guards Parade and Earls Court </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Road users, residents and spectators reminded to avoid driving around the ORN, venues and central London which will be busy </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">http://www.GetAheadoftheGames.com</a> and <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a> </li></ul>

<p>Day&nbsp;12 of the Games sees another packed day of cultural and sporting Olympic events, including Beach volleyball at Horse Guards Parade and the start of the Basketball final rounds which will be staged in the North Greenwich Arena. </p>
<p>Events across London are now in full swing, and passenger numbers on the Tube continue at record levels - with the busiest weekend in London Underground's history having been recorded. </p>
<p>Saturday saw at least 3.74 million journeys - up 11 per cent on the previous record. Sunday saw 3.2 million journeys - up around 22 per cent on the previous record - achieved the previous weekend. </p>
<p>London Overground also carried a record 2.86m passengers in a week, up by 27 per cent on normal levels.</p>
<p>Tomorrow, areas around the North Greenwich Arena and Horse Guards Parade will remain busy late into the evening.&nbsp;</p>
<p>A full day of action at the Olympic Park and ExCeL will also mean routes remain exceptionally busy and people should plan ahead to avoid disruption.</p>
<p>Non-spectators continue to be urged to avoid hotspot stations at the busiest times. To plan journeys visit <a href="http://www.GetAheadoftheGames.com">www.getaheadofthegames.com</a></p>
<p>Volleyball action at Earls Court begins at 14:00 on Wednesday and is scheduled to finish at 23.00, spectators are reminded to check times of their last train home.</p>
<p>The finals of the Equestrian Individual Jumping at Greenwich Park will take place in the afternoon and spectators are expected to be travelling back towards central London during the evening peak and the key stations including London Bridge and Cutty Sark DLR will be exceptionally busy and commuters are advised to avoid them where possible.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'As we move closer to the final events and the culmination of a phenomenal sporting fortnight, I would urge people to continue to plan their journeys and avoid the busiest stations at the busiest times. </p>
<p>'Record numbers are using the transport network during this exciting time for London and, throughout the Games, Londoners have demonstrated their willingness to adapt their travel patterns and have made a huge contribution to the success of the Games so far.</p>
<p>'This summer presents a huge wealth of opportunities spanning sport and culture and Londoners and visitors should take advantage of the many theatres, restaurants, shops, free concerts, Live Sites and attractions that the capital has to offer, and use GetAheadoftheGames.com to plan your journeys.'</p>
<p><strong>Ticketed spectators</strong></p><strong>
<ul>
<li></li></ul></strong>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel 
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or C2C services into West Ham with a short direct walk along the Greenway to the Park for a quicker journey </li>
<li>Make sure you have the correct Games Travelcard for the day of your event </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey </li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>Live Sites offering free concerts will once again be in open today for people to soak up the atmosphere.&nbsp;There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit only if busy.&nbsp; Victoria Park live site can also be accessed from Mile End station</li>
<p><strong>TfL's key travel advice for Wednesday, 8 August:<br><p>
<ul>
<li></li></ul></strong>If you're attending the late night sessions at North Greenwich Arena, Horse Guard's Parade or Earl's Court make sure you check the time of your last train home 
<li>The Equestrian Individual Jumping finals finish late afternoon and spectators are expected to travel back towards central London during the evening peak. If you can, avoid stations that are on the route to Greenwich Park. </li>
<li>Please continue to avoid driving into central London, on or around the Olympic Route Network (ORN) and near venues </li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>Events will be taking place across the capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Horse Guards Parade and Earl's Court </li>
<li>Work continues to remove the ORN measures and road markings on some parts of the network when events at locations have finished eg Wimbledon </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus); </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Today's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/7-august.html">www.getaheadofthegames.com/bulletins/7-august.html</a></li>
<ul>
<li><a href="/assets/downloads/Olympics-Day-12-factsheet-8-August.pdf">Download the factsheet for 8 August (PDF 235KB)</a></li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp;Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours </li>
<li>A number of services are available including: 
<ul type="circle">
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a> </li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a> </li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a> </li>
<li>Interviews with TfL spokespeople</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Overground carries a record 2.86 million passengers in a week, up by 27 per cent on normal levels Jubilee line will be busy very late into the evening, particularly at North Greenwich, as the Basketball finals start at North Greenwich Arena Olympic";}
        
        


 