


@{ViewBag.Title = "Day thirteen of the 2012 Olympic Games - Thursday 9 August 2012: another busy day with the women's Football gold medal match plus Athletics at the Olympic Stadium";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Day thirteen of the 2012 Olympic Games - Thursday 9 August 2012: another busy day with the women's Football gold medal match plus Athletics at the Olympic Stadium</h1>
        <div class="content-page-press-release">
        08 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Day thirteen of the 2012 Olympic Games - Thursday 9 August 2012: The Jubilee line will be busy and spectators are advised to use the District or Hammersmith & City lines via West Ham to get to the Olympic Park.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Hyde Park and Victoria Park Live Sites will be open again. There are a number of stations that can be used to access the Hyde Park Live Site including Bond Street, Marble Arch and Green Park </li>
<li>Olympic events to take place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Hyde Park, Horse Guards Parade, Earls Court, Wembley Stadium and Wembley Arena </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Commuters should plan ahead and avoid the busiest stations at the busiest times with the latest travel advice from <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> and <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp; </li>
<li>Road users, residents and spectators reminded to avoid driving around the Olympic Route Network (ORN), venues and central London which will be busy</li></ul>
<p>Day 13 of the Games will see another packed day of cultural and sporting Olympic events, including the Beach Volleyball men's finals at Horse Guards Parade and the women's 10km Marathon Swimming in Hyde Park. </p>
<p>The women's Football gold medal match kicks off at 19:45 so all lines heading to Wembley will be exceptionally busy in the evening peak. </p>
<p>A full day of action at the Olympic Park and ExCeL will mean public transport to these venues will remain busy and people should plan ahead to avoid disruption. </p>
<p>As events continue on into the evening, stations around North Greenwich Arena, Wembley Stadium and Horse Guards Parade will remain busy until late at night.&nbsp;&nbsp; </p>
<p>Spectators are reminded to check times of their last train home and non-spectators are urged to continue avoiding hotspot stations at the busiest times. </p>
<p>To plan journeys visit <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<p>Hyde Park and Victoria Park Live Sites will be open again today. </p>
<p>There are a number of stations that can be used to access the Hyde Park Live Site including Bond Street, Marble Arch and Green Park.&nbsp; </p>
<p>Marble Arch and Hyde Park stations will operate flexibly and may become exit only if they are busy.&nbsp; </p>
<p>Victoria Park can be accessed from Mile End station.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'There are only four days left now of Olympic competition, in what has been a phenomenal sporting fortnight. </p>
<p>'Record numbers are using the transport network during this exciting time for our city and we're tremendously grateful to Londoners for their efforts in adapting their travel patterns - it's made a huge contribution to the success of the Games so far. </p>
<p>'We would urge people to continue to plan their journeys and avoid the busiest stations at the busiest times.</p>
<p>'This summer presents a huge wealth of opportunities spanning sport and culture and Londoners and visitors should take advantage of the many theatres, restaurants, shops, free concerts, Live Sites and attractions that the Capital has to offer, and use <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> to plan your journeys.'</p>
<h2>Ticketed spectators</h2>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com">london2012.com</a> for your recommended arrival times and leave plenty of time to travel </li>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith &amp; City or C2C rail services into West Ham with a short direct walk along the Greenway to the Park for a quicker journey </li>
<li>Make sure you have the correct Games Travelcard for the day of your event </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://www.london2012.com/journey">london2012.com/journey</a> </li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>Live Sites offering free concerts will once again be open today for people to soak up the atmosphere.&nbsp;There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit only if busy.&nbsp;Victoria Park live site can also be accessed from Mile End station</li></ul>
<h2>TfL's travel advice for tomorrow</h2>
<ul>
<li>If you're attending the late night sessions at the North Greenwich Arena or ExCel Arena&nbsp; make sure you check the time of your last train home </li>
<li>Please continue to avoid driving into central London, on or around the Olympic Route Network (ORN) and near venues </li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>Events will be taking place across the Capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Hyde Park, Horse Guards Parade, Earls Court, Wembley Stadium and Wembley Arena </li>
<li>Work continues to remove the ORN measures and road markings on some parts of the network when events at locations have finished e.g.&nbsp;Wimbledon&nbsp; </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Read <a href="http://www.getaheadofthegames.com/bulletins/9-august.html ">today's daily bulletin</a></li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based. Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games.</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:</li>
<ul>
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a></li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a></li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a></li>
<li>Interviews with TfL spokespeople</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hyde Park and Victoria Park Live Sites will be open again. There are a number of stations that can be used to access the Hyde Park Live Site including Bond Street, Marble Arch and Green Park Olympic events to take place at the Olympic Park, ExCeL, North";}
        
        


 