


@{ViewBag.Title = "Day 15 of the 2012 Olympic Games - Saturday 11 August 2012: busy day ahead on the penultimate day";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Day 15 of the 2012 Olympic Games - Saturday 11 August 2012: busy day ahead on the penultimate day</h1>
        <div class="content-page-press-release">
        11 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Another Tube record broken on Thursday with 4.52m passengers carried.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Over the first 13 days of the Olympic period (from 28 July), London Underground carried 51.47m passengers - an increase of 12.29m (31.4 per cent) compared with same period last year </li>
<li>Central London will be busy with non-ticketed spectators watching the two Race Walk events </li>
<li>The Docklands Light Railway (DLR) will be very busy throughout the day as spectators travel between Greenwich Park and the Olympic Park to watch Modern Pentathlon events </li>
<li>On Sunday, Westfield Stratford City shopping centre after 8pm will&nbsp; only be accessible to accredited workers and members of the public with or collecting Games tickets or attending hospitality venues </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic Live Sites, free concerts, restaurants and bars, great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Road users, residents an spectators reminded to avoid driving around the ORN, venues and central London which will be busy</li></ul>
<p>Today will be another action-packed day of cultural and sporting events, with action taking place across the city, with Race Walks in central London, football in Wembley and spectators travelling between Greenwich Park and the Olympic Park to watch Modern Pentathlon and Diving events.</p>
<p>This comes as the transport network continues to serve record numbers of passengers as Londoners and visitors make the most of London's attractions. Thursday saw a record 4.52m Tube journeys - the highest number in the Tube's history. Over the 13 days of the Olympic period starting Saturday 28 July, London Underground carried 51.47m passengers - an increase of 12.29m (31.4 per cent) compared with the same period last year.</p>
<p>Today's men's Race Walk starts at 09:00 and finishes at 13:00 with the women's Race Walk starting at 17:00 and finishing at 19:00. This&nbsp;will mean that areas around Constitution Hill, Buckingham Palace and The Mall will be exceptionally busy.</p>
<p>Public transport to and from Olympic venues will be very busy and people should plan ahead. As some events continue into the evening spectators are reminded to check times of their last train home and non-spectators are urged to continue avoiding the busiest stations at the busiest times. To plan journeys visit <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<p>Hyde Park and Victoria Park Live Sites will be bursting with Olympic atmosphere again today. There are a number of stations that can be used to access the Hyde Park Live Site including Bond Street, Marble Arch and Green Park.&nbsp;Marble Arch and Hyde Park stations will operate flexibly and may become exit-only if they are busy.&nbsp;Victoria Park can be accessed from Mile End station.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'It is hard to believe that today is the penultimate day of London 2012 Olympic Games. London will once again see a day of invigorating sporting events, and the Jubilee and Metropolitan lines will be like a fiesta as Brazilian and Mexican football fans make their way to Wembley to watch the final. </p>
<p>'We're incredibly grateful to Londoners for adapting their travel patterns throughout the Olympics. By travelling outside peak times or taking different routes, it's made a huge contribution to ensuring the success of the Games and keeping London moving.&nbsp;With these efforts, the Tube has been able to carry record numbers of passengers - 4.52m people on Thursday.&nbsp;We need our passengers to continue to keep this sensible planning going, avoiding the busiest times and places, as we enter the Paralympics in just 19 days time.</p>
<p>'This summer presents a huge wealth of opportunities spanning sport and culture and Londoners and visitors should take advantage of the many theatres, restaurants, shops, free concerts, Live Sites and attractions that the Capital has to offer. The Race Walks in central London will be exciting to watch, as will the sailing in Weymouth, so I would urge people to use <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> to plan their journeys to Games events, wherever in London or the UK the Games venue is.'</p>
<p>Looking ahead to Sunday's Closing Ceremony, Westfield Stratford City shopping centre will, after 8pm, only be accessible to accredited workers and members of the public with or collecting Games tickets or attending hospitality venues and people with reservations at venues within the shopping centre. All other passengers should avoid the shopping centre at that time and enjoy the shopping and attractions at the numerous other locations across London.</p>
<h2>Ticketed spectators</h2>
<ul>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith&nbsp;&amp; City lines or C2C services into West Ham with a short direct walk along the Greenway to the Park for a quicker journey </li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com/">london2012.com</a> for your recommended arrival times and leave plenty of time to travel </li>
<li>Make sure you have the correct Games Travelcard for the day of your event </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">london2012.com/journey</a> </li>
<li>Expect queues when arriving and departing venue stations.&nbsp;Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>Live Sites offering free concerts will once again be open today for people to soak up the atmosphere.&nbsp;There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit-only if busy.&nbsp;Victoria Park Live Site can also be accessed from Mile End station</li></ul>
<h2>TfL's key travel advice for Saturday 11 August</h2>
<ul>
<li>If you're attending the late night sessions at the North Greenwich Arena or ExCeL Arena make sure you check the time of your last train home</li>
<li>Please continue to avoid driving into central London, on or around the Olympic Route Network (ORN) and near venues</li>
<li>Games Lanes are operating flexibly.&nbsp;Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp;If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
<li>Events will be taking place across the Capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Earls Court, The Mall, Wembley Stadium and Wembley Arena</li>
<li>Work continues to remove the ORN measures and road markings on some parts of the network when events at locations have finished eg&nbsp; Wimbledon</li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
<li>For full information on avoiding roads and public transport hotspots, check out <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
<li>Saturday's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/11-august.html">http://www.getaheadofthegames.com/bulletins/11-august.html</a></li></ul>
<p>
<hr>
<br><br></p>
            <p><strong>Notes to Editors<br></strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:<br>o&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br>o&nbsp;Interviews with TfL spokespeople<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over the first 13 days of the Olympic period (from 28 July), London Underground carried 51.47m passengers - an increase of 12.29m (31.4 per cent) compared with same period last year Central London will be busy with non-ticketed spectators watching the two";}
        
        


 