


@{ViewBag.Title = "DLR celebrates 25th birthday by fulfilling Olympian task";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR celebrates 25th birthday by fulfilling Olympian task</h1>
        <div class="content-page-press-release">
        23 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Capital's first fully accessible railway is providing key links for the Paralympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The DLR is a crucial part of the Games-time transport network and is helping get millions of people to and from their events on time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Hugh Sumner</div>
            <div class="quotee-job-title">Director of Transport for the ODA</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The DLR is a crucial part of the Games-time transport network and is helping get millions of people to and from their events on time
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>A total of 7.2 million passengers were carried during the London 2012 Olympic Games - up 100 per cent on normal levels</li>
<li>The Games legacy ensures Docklands Light Railway's (DLR's) role as the 'regeneration railway' for local communities for years to come</li></ul>
<p>In only 25 years, the (DLR) has grown from just two routes and 11 trains to become a key part of the world's largest and most prestigious sporting event, as well as serving a rapidly expanding local community.</p>
<p>And as London's first fully accessible railway celebrates its 25th birthday, the DLR is set to repeat its successful role at the heart of the London 2012 Olympic Games at the Paralympic Games in under a week's time.</p>
<p>The DLR was opened by the Queen in August 1987, with 11 trains serving 15 stations and in its first year of operation it carried 6.7 million people. </p>
<p>Today the railway - which is entirely step-free&nbsp;- has 45 stations, 46 km of track, 149 carriages, and carries 86 million passengers each year. </p>
<p>The network was one of Britain's first light rail systems, and it has one of the safest and most advanced automatic train control systems in the world. </p>
<p>Since opening, it has been extended to Bank, Beckton, Lewisham and Woolwich Arsenal. </p>
<p>Most recently, TfL has delivered an Olympic Delivery Authority-funded extension that has seen the network extended and four new stations created at Star Lane, Abbey Road, Stratford High Street and Stratford International.</p>
<h2>Breaking records</h2>
<p>During the Paralympic Games the DLR will again connect a range of venues including the Olympic Park, Excel, the Royal Artillery Barracks at Woolwich Arsenal and Greenwich Park.</p>
<p>DLR Director Jonathan Fox said: 'We are proud to have been at the heart of communities in east and south east London for the last 25 years, and to have played our part in supporting Team GB and serving the international sporting community during the Games.</p>
<p>'In doing so, the DLR broke all previous records for passenger numbers thanks to dedicated staff and many years of preparation beforehand which included adding extra carriages and installing signalling upgrades. </p>
<p>'When the Games are over, this Olympic legacy will ensure that team DLR will be well placed to continue its daily role serving commuters as well as being part of the foundations for regenerating this vibrant and developing part of the Capital.'</p>
<p>David Stretch, Managing Director of Serco Docklands Ltd, which has operated the railway on behalf of Transport for London (TfL) and DLR since 1997, said: 'We are proud to have worked in partnership with DLR for 15 years, where we have improved reliability and delivered an excellent service, to help make London's regeneration railway such a success.'</p>
<p>Hugh Sumner, Director of Transport for the ODA, said: 'The DLR is a crucial part of the Games-time transport network and is helping get millions of people to and from their events on time. </p>
<p>'The investment that has been made to enhance and extend the service - including new rolling stock and stations&nbsp;- will benefit Londoners for years to come.'</p>
<p>During the Olympics 7.2 million passengers were carried on the DLR - up 100 per cent on normal levels.</p>
<p>On 3 August 2012, day&nbsp;seven of the Olympics, the DLR carried more than 500,000 passengers - its busiest day ever.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Extensions to the DLR were completed to Lewisham in 1999 and to King George V via London City Airport in 2005. The Stratford International Extension from Canning Town to Stratford International with four new stations was completed in August 2011</li>
<li>In May 2011 DLR completed the three-car project which involved increasing the length of trains from two to three carriages. These longer trains allow 50 per cent more people to travel.&nbsp;The entire DLR network is now capable of running these longer trains which provide more comfortable journeys and more space on platforms</li>
<li>The London 2012 Games has the most accessible public transport system of any Olympic or Paralympic Games in history</li>
<li>TfL has invested hundreds of millions of pounds in making the transport network more accessible in the last few years, with improvements such as new lifts, trains, platform humps to give level access for wheelchair users when boarding and alighting Tube trains, wide-aisle gates, tactile paving and audio-visual displays</li>
<li>A total of 66 Tube stations are step-free, all Tube stations have staff trained to assist passengers, and every station on the DLR is step-free. There will also be manually-operated ramps at further 16 Tube stations</li>
<li>London Overground's new fleet of state-of-the-art trains&nbsp; are all fully accessible, and of its 38 accessible stations some are fully step-free from street to train with all others equipped with manual boarding ramps</li>
<li>All of London's 8,500 buses which cover around 700 routes are low floor and fitted with wheelchair ramps, (with the exception of a handful of Routemasters operating on heritage routes 9 and 15)</li>
<li>All 22,000 taxis are fitted with wheelchair ramps, and all piers and most boats in London are accessible</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A total of 7.2 million passengers were carried during the London 2012 Olympic Games - up 100 per cent on normal levelsThe Games legacy ensures Docklands Light Railway's (DLR's) role as the 'regeneration railway' for local communities for years to comeIn";}
        
        


 