


@{ViewBag.Title = "Half a million passengers take off in first six weeks of Emirates Air Line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Half a million passengers take off in first six weeks of Emirates Air Line</h1>
        <div class="content-page-press-release">
        08 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        UK's first urban cable car takes 500,000 passengers over the River Thames
        
    </div>



 <div class="on-this-page">
<p>Just six weeks since the Mayor of London officially launched the Capital's newest mode of transport, more than 500,000 passengers have been taken over the River Thames.</p>
<p>On Sunday 5 August, the Emirates Air Line achieved a total of 500,000 passengers since it was launched. On that day alone over 26,000 passengers took a flight across the Thames. </p>
<p>On average, since the start of the Olympics more than 20,000 flights have been taken on the Emirates Air Line each day.&nbsp; </p>
<p>London's newest mode of transport is open seven days a week and has extended its opening hours later into the evening during Games-time. </p>
<p>Since 27 July and through to 12 August, and from 29 August to 9 September, the Air Line will operate until 23.30. </p>
<p>Passengers will be able to cross the Thames at night and enjoy the stunning 360 degree views of our Olympic and Paralympic city as the sun goes down and the bright lights of London come on.</p>
<p>The brand new river crossing, which will assist the ongoing regeneration of the area, has already improved connections between two world class venues - ExCeL and the North Greenwich Arena, which are being used during the London 2012 Games.&nbsp; </p>
<p>The capital's popular new addition to the transport network has flown passengers from London, the UK and further afield.&nbsp; </p>
<p>Since it opened six weeks ago, the Emirates Air Line has also been the home to dozens of live media broadcasts as well as a music gig called 90 metres up in the air by singer Newton Faulkner.</p>
<p>Mayor of London, Boris Johnson, said: 'The Emirates Air Line is fast becoming an iconic way of traversing the Thames and an important link for Londoners living in the east of our city.&nbsp;Its value has been evident during the 2012 Games and with this part of London set to thrive with new homes and businesses it will continue to be a significant part of our public transport network.'</p>
<p>Danny Price, TfL's Head of the Emirates Air Line, said: 'The positive response to London's newest river crossing has been fantastic.</p>
<p>'The Emirates Air Line, which boasts some of the city's most spectacular views, has seen a boom in visitors in its first summer as people from across the globe visit the Capital for the 2012 Games. </p>

<p>'People from the local areas and commuters have taken up frequent flyer passes to quickly and conveniently cross the river'</p>
<p>The Emirates Air Line is not part of the Olympic Transport Strategy and therefore Games ticketholders are not able to travel for free using their Travelcard, however they are still eligible for the Travelcard discount and can get a single trip for &pound;3.20.<br></p>
<p>
<hr>
Notes to Editors: 
<ul>
<li>Images of the Emirates Air Line, including some taken at night, are available at <a href="http://www.tflpressgallery.co.uk/">http://www.tflpressgallery.co.uk/</a>&nbsp; </li>
<li>B-roll footage is available for download at <a href="https://www.yousendit.com/download/TEhYRE9vNHZ0d0d2eE1UQw">https://www.yousendit.com/download/TEhYRE9vNHZ0d0d2eE1UQw</a>## # # #&nbsp; </li>
<li>For the latest Emirates Air Line travel information passengers can follow &#64;EmiratesAirLDN&nbsp; </li>
<li>Emirates operate 16 flights a day from the UK to Dubai with flights from Heathrow and London Gatwick along with four other UK airports (Birmingham, Manchester, Newcastle and Glasgow) </li>
<li>The Emirates Air Line operates seven days a week, during the summer (outside the extended opening hour dates of 27 July to 12 August, and 29 August to 9 September ) passengers can board from 07:00 to 21:00 Mondays to Fridays and between 08:00 and 21:00 on Saturdays, services will operate between 09:00 and 21:00 on Sundays. Winter closing time will be 20:00 </li>
<li>Pay As You Go holders will receive a 25 per cent discount on the adult fare, Oyster Travelcard holders will also get the 25 per cent discount but will need to purchase a boarding pass to travel. Adult single journey boarding passes will cost &pound;4.30. Children under five will board for free and a single journey for a child aged between five and 15 will cost &pound;1.60 with an Oyster card </li>
<li>Frequent flyer boarding passes can be purchases at both Emirates Air Line terminals&nbsp; </li>
<li>Frequent flyer journeys need to be used within 12 months </li>
<li>The standard fares for the Emirates Air Line are shown in the table below<br></li></ul>
<li>The standard fares for the Emirates Air Line are shown in the table below 
<ul></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td><strong>Cash single fare</strong></td>
<td><strong>Fare for Oyster pay as you go users, Travelcard &amp; Freedom Pass holders</strong></td>
<td><strong>'Frequent flyer' ticket&nbsp;&nbsp;- 10 journeys</strong></td></tr>
<tr>
<td><strong>Adult boarding pass&nbsp;</strong></td>
<td>&nbsp;&pound;4.30</td>
<td>&nbsp;&pound;3.20*</td>
<td>&nbsp;&pound;16.00</td></tr>
<tr>
<td>&nbsp;<strong>Child boarding pass</strong></td>
<td>&nbsp;&pound;2.20**</td>
<td>&nbsp;&pound;1.60**</td>
<td>&nbsp;n/a</td></tr></tbody></table></div></p>
<p>&nbsp;* Oyster pay as you go users making&nbsp;five or more journeys in a week will be charged &pound;1.60.<br>** For children aged 5 to 15.&nbsp;Children under&nbsp;five travel free.</p>
<ul>
<li>Emirates Air Line fares will not be included in the Oyster daily capping<br></li></ul></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Just six weeks since the Mayor of London officially launched the Capital's newest mode of transport, more than 500,000 passengers have been taken over the River Thames.On Sunday 5 August, the Emirates Air Line achieved a total of 500,000 passengers since";}
        
        


 