


@{ViewBag.Title = "London 2012 Games bring busiest days in Tube's history";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Games bring busiest days in Tube's history</h1>
        <div class="content-page-press-release">
        04 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Sporting records are being smashed on a daily basis... and our world-famous Tube is breaking a few records of its own
                            
                        </p>
                    </div>
                
            
            
            <p>
<ul>
<li>Record 4.25 million&nbsp;journeys made on London Underground on Wednesday 1 August, then 4.31 million&nbsp;recorded on Thursday 2 August </li>
<li>Huge numbers travelling again on busiest day for Olympic spectators on Friday 3 August </li>
<li>Tube figures follow record day on DLR, with 65 per cent increase to 490,000 passengers on Monday 30 August </li>
<li>Barclays Cycle Hire also breaking records, with one million hires in July</li></ul>
<h2>Tube passengers break records</h2>

<p>London Underground carried more customers on Wednesday 1 August than on any other day in its history, with 4.25 million passengers. </p>
<p>The record was then promptly broken the next day, on Thursday 2 August, with 4.31 million&nbsp;customers using the Tube to get to work, visit London 2012 Olympic sporting and cultural events, as well as shops, restaurants, theatres, museums and attractions across the Capital.&nbsp; </p>
<p>There has also been a significant increase in the number of passengers using&nbsp;Tube stations in the Capital's West End, up by around seven per cent on average.</p>
<p>In the same week last year, daily Tube passenger numbers were around 3.7-3.8 million. The previous busiest day in the Tube's history was Friday 9 December 2011, when passenger numbers were boosted by Christmas shoppers.</p>
<p>Transport for London also said that huge passenger numbers were also travelling on the Tube on Friday 3 August as athletic events in the Olympic Stadium got underway for the first time.</p>
<h2>Huge numbers use transport system</h2>
<p>The Mayor of London, Boris Johnson, said: 'Sporting records are being smashed on a daily basis in London, and our world-famous Tube is breaking a few records of its own. Huge thanks go to the thousands of men and women working on our transport network who undertook their own Olympian challenge this week to transport millions of Londoners and international visitors around our great city. </p>
<p>'Billions of pounds were spent on improvements to London's transport systems ahead of the Games and so far that work is holding us in good stead.'</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Wednesday was a record-breaking day for Tube passengers, with the record tumbling the very next day as 4.31 million people travelled to Olympic events and attractions across London. </p>
<p>'The last week has also seen record numbers travelling on the DLR and using Barclays Cycle Hire, proving people are out and about making the most of all the Games and the Capital has to offer.</p>
<p>'We're carrying these record numbers and keeping London moving and open for business because people are following our advice and planning their travel. What we're seeing is some people avoiding the peak hours and travelling at less busy times. I would like to thank our passengers for taking our advice on board and helping the transport network to support a great London 2012 Games.'</p>
<h2>Record numbers for DLR and Barclays Cycle Hire</h2>
<p>The DLR also carried record passengers on Monday 30 July, with almost half a million passengers, a 65 per cent increase on normal levels. 
<p>
<p>Barclays Cycle Hire broke its own records with almost 47,000 hires on 26 July, the most hires in one day since the scheme launched over two years ago. There were more than one million hires in July, 300,000 hires in one week (week commencing 23 July), both records for the scheme.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Record 4.25 million&nbsp;journeys made on London Underground on Wednesday 1 August, then 4.31 million&nbsp;recorded on Thursday 2 August Huge numbers travelling again on busiest day for Olympic spectators on Friday 3 August Tube figures follow record day";}
        
        


 