


@{ViewBag.Title = "London and UK ready to welcome the world for best ever Paralympic Games with most accessible transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London and UK ready to welcome the world for best ever Paralympic Games with most accessible transport network</h1>
        <div class="content-page-press-release">
        22 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hundreds of millions invested to ensure UK and London transport network one of the most accessible in the world, for Games and for years to come.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Hundreds of millions of pounds have been invested in improvements to our transport network to offer the best possible experience for disabled passengers getting around our great city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Hundreds of millions of pounds have been invested in improvements to our transport network to offer the best possible experience for disabled passengers getting around our great city
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Wheelchair users urged to book rail travel and Blue Badge Parking at venues in advance </li>
<li>Spectators travelling in groups, or requiring accessible options, urged to plan carefully and follow group travel advice&nbsp;on the <a href="http://www.london2012.com/paralympics/spectators/travel/group-travel">London 21012 website&nbsp;</a></li></ul>
<p>As London and the UK prepare to welcome the world once again for the best ever Paralympic Games, London 2012 and transport partners today set out how investment has ensured one of the most accessible transport networks anywhere in the world.&nbsp; </p>
<p>Disabled spectators planning to attend London 2012 sporting and cultural events were also offered travel advice and asked to plan ahead to make the most of all the Games have to offer.</p>
<p>Huge accessibility improvements have been made to the transport network in recent years as part of the &pound;6.5bn investment in transport ahead of the Olympic and Paralympic Games.&nbsp;</p>
<h2>Investing in accessibility</h2>
<p>Partner organisations including the Department for Transport (DfT), Mayor of London, Transport for London (TfL), Olympic Delivery Authority (ODA), Network Rail, and Train Operating Companies have invested in improvements such as more accessible trains and stations, new lifts, platform humps, wide aisle gates, tactile paving and audio-visual displays.</p>
<p>London's bus fleet is the most accessible in the world, with all 8,500 buses accessible to wheelchair users and fitted with ramps which are checked daily. In addition, all 22,000 taxis are fitted with wheelchair ramps, and all piers and most passenger boats in London are accessible. </p>
<p>The entire Docklands Light Railway (DLR) network is step-free, as are 66 Tube stations.&nbsp; </p>
<p>All Tube stations have staff trained to assist passengers and 16 stations provide manual boarding ramps to make it easier for wheelchair users to get on and off trains.&nbsp; </p>
<p>London Overground has a fleet of accessible trains and 38 accessible stations - some fully step-free from street to train with the others equipped with manual boarding ramps and trained staff.</p>
<p>The high-speed Javelin service, designed and funded by the ODA as part of a &pound;429 million capital investment in transport, runs between St Pancras and the Olympic Park and is fully step-free.&nbsp; </p>
<p>Access improvements funded by the DfT are being delivered at more than 90 national rail stations by Network Rail, including at Slough for the Eton Dorney venue, which is also now step-free. </p>
<h2>Plan ahead</h2>
<p>During the Paralympic Games all spectators are advised to plan ahead and disabled passengers, especially those using wheelchairs or mobility aids, are being offered the following additional advice:</p>
<p><strong>Plan your journey: </strong>the London 2012 Spectator Journey Planner includes accessible travel options across the UK and spectators are urged to plan ahead at: <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx</a></p>
<p><strong>Travelling in London: </strong>for those spectators planning to travel around London to make the most of the theatres, restaurants, shops and other attractions during the Games, TfL's Journey Planner has been upgraded to make it easier to plan accessible (including step-free) journeys, online at <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a>. </p>
<p>TfL has also made a series of 'How to' films for disabled passengers unfamiliar with London's public transport system, which are available at <a href="http://www.tfl.gov.uk/mobility">www.tfl.gov.uk/mobility</a> </p>
<p><strong>Book travel on National Rail services in advance: f</strong>or assistance such as help getting on or off a train, it is important to book in advance.&nbsp;This enables the relevant train operator to check the accessibility of the stations you will be using and help you plan the journey best suited to your needs. It also gives time to relocate staff to assist you. To book assistance and your 2012 Games Train Tickets contact the National Rail Games Travel contact centre on 0844 693 2899* or from overseas +44 1902 627973 or visit: <a href="http://www.nationalrail.co.uk/passenger_services/disabled_passengers/">http://www.nationalrail.co.uk/passenger_services/disabled_passengers/</a></p>
<p><strong>Accessible shuttle services: </strong>will be provided at many venues to transport spectators from the nearest recommended accessible station to the venue itself. These services are available for disabled spectators and do not need to be pre-booked. </p>
<p><strong>Taxi and private hire: p</strong>ick-up and drop-off locations are also available at all venues. </p>
<p><strong>Blue Badge parking:</strong> spaces are available at venues for spectators who hold a valid Blue Badge or recognised national disability permit. At some venues, spaces will be booked by session and you must ensure you return to your car by the specified departure time. Spaces are limited, so should be booked ahead at: <a href="http://www.firstgroupgamestravel.com/accessible-modes-of-transport/">www.firstgroupgamestravel.com/accessible-modes-of-transport/</a> or call 0844 921 2012. Those heading to events should be advised that the road network around venues will be extremely busy and alternatives to car travel should be used where possible. </p>
<p><strong>Travelling as a group: </strong>Taking a large group to the Games requires careful planning - think about how you are going to get to your venue, even if you regularly travel as a group on London's transport network. Use the spectator journey planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx</a> to help you and check out the 2012 Groups page on the London 2012 website - <a href="http://www.london2012.com/paralympics/spectators/travel/group-travel/">http://www.london2012.com/paralympics/spectators/travel/group-travel/</a>. A range of coach, park-and-ride and parking options are available for people with accessibility needs, but these must be booked in advance - call 0844 921 2012 or find out more online at <a href="http://www.firstgroupgamestravel.com/accessible-modes-of-transport/">www.firstgroupgamestravel.com/accessible-modes-of-transport/</a> </p>
<p><strong>Coach travel:&nbsp;a</strong> network of coaches, with wheelchair spaces, will operate day return services direct to the Olympic Park and ExCeL. Taking a coach can take the stress out of travelling, especially if your journey would otherwise require you to make changes across London, where the transport system will be busier than usual. These must be booked ahead at: <a href="http://www.firstgroupgamestravel.com/direct-coaching/">http://www.firstgroupgamestravel.com/direct-coaching/</a></p>
<p><strong>River:</strong> in London, you may also want to consider travelling by river. A number of London 2012 venues are accessible by river, including North Greenwich Arena, Greenwich Park and The Royal Artillery Barracks. River services offer a great way to get to your venue, avoid traffic and see some of the best sights London has to offer along the way. Pre-book at the operators' website via <a href="http://www.london2012.com/paralympics/spectators/travel/book-your-travel/">www.london2012.com/paralympics/spectators/travel/book-your-travel/</a></p>
<p><strong>Park-and-ride:</strong> For a more convenient journey, secure park-and-ride sites have been provided by the Olympic Delivery Authority (ODA) for several London 2012 venues, including Thurrock and Ebbsfleet International for the Olympic Park and Excel, and Upton Park and Stafferton Way for Eton Dorney. </p>
<p>Spacious accessible parking spaces are available at these, situated close to the shuttle bus stop and assistance is available on site if required. Shuttle buses will feature spaces for a minimum of one standard sized wheelchair per bus. Specially adapted vehicles capable of carrying more than one wheelchair user and larger wheelchairs may also be available. To book, visit: <a href="http://www.firstgroupgamestravel.com/park-and-ride/">http://www.firstgroupgamestravel.com/park-and-ride/</a></p>
<p>Brands Hatch is the only venue offering parking on site, however space must be pre-booked.</p>
<p>Sevenoaks District Council and Kent County Council are also operating a park and ride site for Brands Hatch, at Wrotham Field (on the A20 3.5 miles south of venue). </p>
<h2>Transport network transformed</h2>
<p>Transport Secretary Justine Greening said: 'Once again we look forward to welcoming elite athletes across the world to London for 12 days of sporting prowess.</p>
<p>'Ever since London was awarded the Games, we have been working hard with all transport operators to make sure that athletes, coaches, families and spectators can get around as easily as possible. As a result, access across the transport network has been transformed. </p>
<p>'This investment will create a lasting legacy and demonstrate the Government's firm commitment to improving accessibility for people with disabilities.'</p>
<p>The Mayor of London, Boris Johnson, said: 'Hundreds of millions of pounds have been invested in improvements to our transport network to offer the best possible experience for disabled passengers getting around our great city. </p>

<p>'We are proud to say that we believe we are hosting the most accessible Olympic and Paralympic Games ever. However there is no doubt that stations and routes will be much busier than usual over the coming days and so it is very important that disabled passengers plan their journeys.'</p>
<p>Hugh Sumner, the Olympic Delivery Authority's Director of Transport, said: 'Our investment in both infrastructure and planning is helping to make London 2012 the most accessible Games yet, helping disabled people, as well as older passengers and parents with prams to travel safely and with confidence. </p>
<p>'The ODA's commitment to getting feedback from disabled groups locally and nationally helped us to ensure that our transport plans for the Olympic and Paralympic Games were on track from the start. From upgrading the DLR and the North London Line, to widening concourses at Stratford station, the ODA has delivered accessible improvements that will last long after the athletes have gone home.'</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'London's Paralympics will be the most accessible ever held and we've invested to improve accessibility across London's transport network.&nbsp; Our staff, and the Travel Ambassadors who proved so helpful to passengers during the Olympics, will be on hand to assist people travelling to events and as they head out to make the most of London's attractions.&nbsp; </p>
<p>'Although the Paralympic Games are smaller in scale than the Olympics, they remain the second largest sporting event in the world and all spectators - particularly those with accessible transport needs - should plan their journeys and, if necessary, book their travel in advance."</p>
<p>LOCOG Transport Director Richard George commented, 'We were delighted with how everyone pulled together to make the transport such a success for the Olympic Games.&nbsp;</p>
<p>'We now move on to the Paralympic Games, which is the world's second biggest multi-sport event and we are looking forward to delivering another successful event.&nbsp;We have over 7000 athletes and officials for whom we will deliver a first class operation which includes making sure they get to where they need to get to when they need to get there.&nbsp;</p>
<p>'To do this we need the most accessible fleet of vehicles ever assembled, which includes over 250 specially converted buses.&nbsp; Once again this will happen against the backdrop of one of the world's busiest cities, so we urge people to plan their journeys in advance.'</p>
<p>David Sindall, Head of Disability and Inclusion at the Association of Train Operating Companies (ATOC), said:&nbsp;'During the Olympics we delivered provided assistance to thousands of people travelling to the Games. The feedback we have received from customers has been tremendous, with passengers rating the service very highly. We will be continuing to offer the same support during the Paralympics. Passengers should plan their journeys in advance and book assistance before they travel. This will help us to continue to deliver the best service possible.'</p>
<p>Robin Gisby, Managing Director of Network Operations, Network Rail, said: 'Britain's railways helped millions of spectators travel to and from Games venues and other sites this summer, while keeping commuters and other passengers moving.</p>
<p>'I hope and expect that this will continue through what looks set to be a record-breaking Paralympics. More people than ever before can now use the rail network thanks to continued investment in all aspects of the passenger experience, including more accessible trains and stations, better passenger information, easy to use websites and travel assistance from trained staff.'</p><strong>
<p>
<hr>

<p>
<p>Notes to editors </p>
<ul>
<li></li></ul></strong>The ODA invested &pound;429m to produce a legacy of improvements to the transport system, including &pound;281 million for projects in the Capital delivered by Transport for London. These included DLR infrastructure upgrades, a revamp of Stratford station and modernisation of the North London line 
<li>The ODA has engaged with disabled people locally and nationally through forums, conferences, users group meetings and advice desks at key events attracting disabled people, including:<br>- Disabled Persons Transport Advisory Committee (DPTAC)<br>- Independent Disability Access Group in London<br>- Whizz-Kidz<br>- LOCOG's Disability Stakeholder Groups<br>- TfL&nbsp; 2012 Stakeholder Group<br>- Transport for All<br>- London 2012 Equality and Diversity Forum <br>- Passenger Focus<br>- International Paralympic Committee Transport Group </li>
<li>In addition, the ODA and partners have involved disabled people in London with the trials of boarding ramps and accessible shuttle bus service operations. And we have used their experiences during test events to inform how we will deliver accessible transport services during Games-time. </li>
<li>The following 16 Tube stations will have temporary manual boarding ramps in place during the Olympic and Paralympic Games; West Ham (District and Hammersmith &amp; City lines), Fulham Broadway, Wimbledon, Southfields, Earl's Court (District line), Westminster (District and Circle lines), Stratford (Central line), Woodford, Oxford Circus (Bakerloo line), Queen's Park, Hammersmith (Hammersmith &amp; City and Circle lines), King's Cross St. Pancras, Morden, Stockwell (Northern line), Finchley Central and Edgware stations </li>
<li>As with London Underground's existing assistance service for visually-impaired passengers, it won't be necessary to pre-book use of the ramps. When requested, Tube staff at the departure station will call ahead to the destination station to ensure that a ramp and member of staff will be waiting for them</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wheelchair users urged to book rail travel and Blue Badge Parking at venues in advance Spectators travelling in groups, or requiring accessible options, urged to plan carefully and follow group travel advice&nbsp;on the London 21012 website&nbsp;As London";}
        
        


 