


@{ViewBag.Title = "London 2012 Paralympic Games - Day 2: First day of athletic action at the Olympic Stadium ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Paralympic Games - Day 2: First day of athletic action at the Olympic Stadium </h1>
        <div class="content-page-press-release">
        31 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Olympic Park will be very busy with the Olympic Stadium opening for the first day of athletics - plan ahead at GetAheadoftheGames.com
        
    </div>



 <div class="on-this-page">
<p>Today will be another action-packed day of sporting and cultural Paralympic Games events, including the first day of athletics at the Olympic Stadium.&nbsp; </p>
<p>Events are taking place across the capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park and Royal Artillery Barracks.</p>
<p>The Jubilee and Central lines, from central London to Stratford, and the DLR network will be particularly busy as up to 80,000 people are expected to visit the Olympic Park this morning and afternoon.&nbsp; </p>
<p>Javelin services to and from the Olympic Park will also be busy today and throughout the Paralympic Games, especially as events finish in the evening.&nbsp; </p>
<p>Spectators heading to or from the Olympic Park are being asked to consider using C2C, District and Hammersmith &amp; City lines to or from West Ham and to access the Park via the Greenway. </p>
<p>This will help avoid the crowds. Passengers with reduced mobility should use Stratford station, where assistance is available.&nbsp; </p>
<p>National rail services between Liverpool Street and Stratford should also be considered.</p>
<p>All passengers are advised to leave extra travel time and to plan ahead to avoid the busiest times and places by visiting: <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a>.</p>
<p>Where possible, driving on or around the Paralympic Route Network (PRN) and near venue areas should be avoided, particularly around the Olympic Park in Stratford and the A102 approach roads north and south of the Blackwall Tunnel.</p>
<p>Congestion has been seen on the A2, A12 and A13, particularly during the morning peak.&nbsp; </p>
<p>Roads east of St Pauls, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, and roads around Games venues are busier than usual.&nbsp; </p>
<p>If driving is your only option, please travel at a different time if possible or allow more time for your journey.</p>
<p>Trafalgar Square and Potters Field Live Sites will operate throughout the Paralympic Games.&nbsp; </p>
<p>There are a number of stations that can be used to access Trafalgar Square including Charing Cross and Embankment Station and Potters Field is within walking distance of Borough Station.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: `Today will be particularly busy on the transport network as larger numbers of spectators head to the Olympic Park, including for athletic events. The Jubilee and Central lines will be very busy from central London to Stratford, as well as Javelin and DLR services.</p>
<p>`Roads near venues and approaching the City are also busier than normal and this is likely to increase as Londoners and their children return to work and school following the summer holidays.&nbsp; We are therefore asking people take the same sensible steps they did during the Olympics and avoid driving around venues and the PRN.&nbsp; Plan ahead and avoid the busiest times and places where possible, by checking at GetAheadoftheGames.com.'</p>
<p>TfL's key travel advice for Friday, 31 August:</p>
<ul>
<li>Events will be taking place across east London at the Olympic Park, ExCeL, North Greenwich Area, Greenwich Park and Royal Artillery Barracks </li>
<li>Public transport serving Games venues will be particularly busy, especially on the Jubilee line from Waterloo to Stratford and DLR from Bank to Greenwich, and Canning Town to Prince Regent in the periods 07:30-09:30 and 16:00-19:00 and between Holborn and Stratford on the Central line from early afternoon. If possible, consider using alternative lines at busy times or retiming your journey to avoid the crowds </li>
<li>If you're attending the late night sessions at the Olympic Park, North Greenwich Arena or ExCeL please make sure you check the time of your last train home </li>
<li>Large numbers of spectators are expected to interchange at London Bridge and Bank to get to Games venues. If possible, try to avoid interchanging at these stations between 07:30-09:30 and 16:00-19:00 </li>
<li>Please avoid driving on or around the Paralympic Route Network (PRN) and near venues. The A102 approach roads north and south of the Blackwall Tunnel should be avoided </li>
<li>The A2, A12, A13, and roads east of St.Pauls, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, are busier than usual.&nbsp; If driving is your only option, please travel at a different time if possible or allow more time for your journey </li>
<li>Games Lanes are operating flexibly.&nbsp; Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp; If you have to drive in these areas, plan ahead and consider re-timing your journey and allow more time </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Today's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/31-august.html">http://www.getaheadofthegames.com/bulletins/31-august.html</a>.</li></ul>
<p>Ticketed spectators</p>
<ul>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or C2C services into West Ham with a direct walk along the Greenway to the Park for quicker entry into the park </li>
<li>Passengers with reduced mobility are advised to use Stratford station </li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey </li>
<li>Expect queues when arriving and departing venue stations.&nbsp; Please leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator </li>
<li>For more information about accessible travel during the Games, please visit: <a href="http://www.london2012.com/spectators/travel/accessible-travel">www.london2012.com/spectators/travel/accessible-travel</a>.<br>
<hr>
Notes to Editors: </li></ul>
<p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based </li>
<li>Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games. </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours </li>
<li>A number of services are available including:<br>o&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br>o&nbsp;Interviews with TfL spokespeople</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Today will be another action-packed day of sporting and cultural Paralympic Games events, including the first day of athletics at the Olympic Stadium.&nbsp; Events are taking place across the capital at the Olympic Park, ExCeL, North Greenwich Arena,";}
        
        


 