


@{ViewBag.Title = "Mayor announces another day of record ridership on Tube and DLR as Olympic success bring crowds into the city ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces another day of record ridership on Tube and DLR as Olympic success bring crowds into the city </h1>
        <div class="content-page-press-release">
        06 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        4.40m passengers carried on the Tube on Friday 3 August, breaking record of 4.31m set previous day.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's transport network is continuing to put in some record breaking performances."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London's transport network is continuing to put in some record breaking performances.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Footfall in central shopping areas has risen steeply and an estimated 120,000 on streets cheered on London 2012 Marathon runners&nbsp; </li>
<li>DLR carries over 500k for first time, also on Friday 3 August, up over 70 per cent on normal daily levels&nbsp; </li>
<li>London Overground has record week carrying 2.86m passengers, up by 27 per cent on a normal weekly levels&nbsp; </li>
<li>Barclays Cycle Hire also breaking records with one million hires in July </li></ul>
<p>The Mayor Boris Johnson has announced London Underground carried more passengers on Friday, 3 August than on any other day in its history with 4.40 million passengers. </p>
<p>These figures break the record set the previous day on Thursday, 2 August when 4.31 million customers used the Tube to get to work, visit London 2012 Olympic sporting and cultural events as well as shops, restaurants, theatres, museums and attractions. </p>
<p>There has also been a significant increase in the number of passengers using Tube stations in the capital's West End, with an increase of 27 per cent on Saturday night (4 August).</p>
<p>In the same week last year, daily Tube passenger numbers were around 3.7-3.8 million. Before last week, the previous busiest day in the Tube's history was Friday 9 December, 2011 when passenger numbers were boosted by Christmas shoppers.</p>
<p>Records are also being broken across the TfL transport network, with the DLR carrying more than half a million passengers in one day for the first time on Friday 3 August. </p>
<p>London Overground passenger numbers are up more than a quarter, at 27 per cent, week on week. Barclays Cycle Hire recorded one million hires in July for the first time, with almost 47,000 hires on 26 July, the most hires in one day since the scheme launched over two years ago. The Emirates Air Line also saw new record passenger numbers on Saturday 4 August, at 24,451.</p>
<p>The record transport numbers came as Londoners flocked to BT London Live sites at Hyde Park and Victoria Park, with more than an estimated 110,000 attending on Saturday 4 August, boosted by the appearance of Londoner, Tour de France and Team GB gold medal hero, Bradley Wiggins. Appearances from golden girl Jessica Ennis and other medal winners on Sunday were also expected to attract big crowds. <br>&nbsp;&nbsp; <br>In addition, retailers across Bond Street, Oxford Street and Regent Street have reported increases in sales and higher footfall this weekend as Londoners and tourists keep the Olympic party going in the West End. T</p>
<p>his uplift is reflected in increased footfall across Piccadilly, Haymarket, Shaftesbury Avenue and St James's, reported by 'Heart of London', the business improvement district representing these areas. Between Monday 30 July and Thursday 2 August footfall was up 11.6 per cent on the previous week and 16.2 per cent up on the same week in 2011. </p>
<p>The Mayor of London, Boris Johnson, said: 'This jaw dropping weekend of outstanding sporting success for Team GB has seen many hundreds of thousands of people travelling to 2012 venues and crowds several deep lining the streets to cheer on Triathlon and Marathon competitors. </p>
<p>'Now London's transport network is continuing to put in some record breaking performances of its own as it moves people into and across the city. This is testimony to years of meticulous planning and billions of pounds in investment which combined has ensured that athletes, spectators, officials and media are being ferried smoothly to their events. </p>
<p>'Not only this, but these indicators show that across London we are helping millions of people head into town to soak up the atmosphere and enjoy all that our fantastic city has to offer during this momentous period.'</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Just like our Team GB athletes, records on the Tube are tumbling almost every day right now. On Friday 3 August, 4.4 million people travelled to Olympic events and attractions across London, breaking the record of 4.31 million set the previous day. </p>
<p>'The last week has also seen record numbers travelling on the DLR, London Overground and using Barclays Cycle Hire, proving people are out and about making the most of all the Games and the capital has to offer.</p>
<p>'We're carrying these record numbers and keeping London moving and open for business because people are following our advice and planning their travel. What we're seeing is some people avoiding the peak hours and travelling at less busy times. I would like to thank our passengers for taking our advice on board and helping the transport network to support a great London 2012 Games.</p>
<p>'I've also been tremendously impressed with the response from both businesses and the freight and distribution industry. Their planning has ensured that London's&nbsp; restaurants, bars and businesses have had bread in their shops and beer in their pumps, and we thank them for the way they have responded to the Olympic-sized challenge.'</p>
<p>Richard Dickinson, CEO of New West End Company said: 'It is beginning to really build and shoppers are out spending, with Olympic merchandise the big winner. Londoners and tourists were out supporting the Olympic events through the West End this weekend and combining with shopping, which is good news for retailers.'</p>
<p>
<hr>
<br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Footfall in central shopping areas has risen steeply and an estimated 120,000 on streets cheered on London 2012 Marathon runners&nbsp; DLR carries over 500k for first time, also on Friday 3 August, up over 70 per cent on normal daily levels&nbsp; London";}
        
        


 