


@{ViewBag.Title = "New guidance for bus drivers to help improve journeys for wheelchair and mobility scooter users";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New guidance for bus drivers to help improve journeys for wheelchair and mobility scooter users</h1>
        <div class="content-page-press-release">
        23 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Updated practical guidance provided to drivers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We continue to listen to disabled and older passengers and will make further improvements in the coming months"</div>
        <div class="quote-footer">
            <div class="quotee-name">Clare Kavanagh</div>
            <div class="quotee-job-title">Director of Performance for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We continue to listen to disabled and older passengers and will make further improvements in the coming months
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Extensive engagement with bus user groups will inform further revisions</li>
<li><a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/22893.aspx">Mobility Card scheme </a>launched last month</li></ul>
<p>Transport for London has issued new guidance to bus drivers to help improve journeys for wheelchair and mobility scooter users and other bus passengers with accessibility needs.</p>
<p>The guidance is contained in the latest version of the Big Red Book, an award-winning practical guide to every facet of being a bus driver, which is issued to all 24,000 drivers in London.</p>
<p>The new guidance includes:</p>
<ul>
<li>A reminder to bus drivers that the wheelchair bay on a bus is primarily for the use of disabled passengers.&nbsp;All London buses have clear notices displayed prominently on board advising passengers of this</li>
<li>If a buggy is stored in the wheelchair bay when a disabled passenger attempts to board, the driver should ask for it to be moved or folded. In these circumstances drivers should make an automated announcement and use the PA system if necessary to request that passengers to make way for a wheelchair user</li>
<li>A clear and illustrated guide on the types of wheelchair and mobility scooters that can safely board and alight buses. This will supplement the Mobility Card scheme that was launched last month to allow drivers to quickly establish which type of mobility aids are safe for use on the bus network</li>
<li>A reminder for drivers to make sure they get as close to the kerb as possible and lower their bus where necessary, to help people board easily</li></ul>
<p>A <a href="http://www.tfl.gov.uk/gettingaround/transportaccessibility/1171.aspx#page-link-mobility-aid-recognition-scheme">Mobility Aid Recognition Card </a>was also launched by TfL last month to remove uncertainty, for both the holder and the bus driver, on whether a mobility aid is permitted on the London bus network, giving passengers more freedom and confidence to travel around the Capital.&nbsp; </p>
<h2>Boosting confidence</h2>
<p>Primarily aimed at passengers who use mobility scooters, the scheme may also be used by people with manual and powered wheelchairs, mobility walkers or shopping trolleys, where these are used as a mobility aid. </p>
<p>Groups representing disabled and older bus passengers were recently brought together at a forum to share experiences and work on how accessibility can be further improved across London's bus network. </p>
<p>This work will continue and the results will help inform future guidance and revisions to policies to improve the journeys of disabled passengers. </p>
<p>London already has the most accessible bus fleet in the world.&nbsp; </p>
<p>All of its 8,500 buses are low floor, wheelchair accessible with regularly checked hydraulic ramps.&nbsp; </p>
<p>All buses have the iBus system, which provides passengers with audio and visual next-stop information that is of particular use to people with sight or hearing impairments.</p>
<p>The vast majority of the bus network is accessible to disabled people.&nbsp; </p>
<p>The number of accessible bus stops has more than doubled since 2008 with 65 per cent of bus stops now fully accessible (up from 29 per cent in 2008).&nbsp; </p>
<p>By the end of 2012/13 this figure will reach 70 per cent and in many instances the distinction between an accessible and non-accessible bus stops can be quite small.&nbsp; </p>
<h2>Continue to improve</h2>
<p>Clare Kavanagh, Director of Performance for London Buses, said: 'While we already have a very accessible bus service we want to continue to improve&nbsp; - working together with disabled and older passengers to further improve journeys.</p>
<p>'We are doing a range of things - making it easier for bus drivers to recognise which mobility scooters are safe to use on buses, and giving clearer guidance to bus drivers to inform passengers with buggies that they should fold down the buggy to make room for a wheelchair user.</p>
<p>'We continue to&nbsp;listen to disabled and older passengers and will make further improvements in the coming months.'</p>
<p>Passengers on London Buses make around 6.54 million journeys on a typical weekday, with around 2.3 per cent of those journeys made using a Disabled Persons Freedom Pass.&nbsp; </p>
<p>TfL provides extensive training to bus drivers above and beyond the training given to other bus drivers throughout the UK.&nbsp; </p>
<p>Each bus driver must achieve a BTEC vocational award, which includes an accessibility module.&nbsp; </p>
<p>The training is delivered by The Vassall Centre Trust which is a charity and training provider run by and for disabled people.&nbsp; </p>
<p>TfL carries out a regular Mystery Traveller Survey, which seeks to track performance on accessibility issues.&nbsp; </p>
<p>In the most recently published survey (Quarter four 2011/12) 94 per cent of those surveyed found that staff interaction was 'correct or appropriate' and 98 per cent got on the first bus. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Extensive engagement with bus user groups will inform further revisionsMobility Card scheme launched last monthTransport for London has issued new guidance to bus drivers to help improve journeys for wheelchair and mobility scooter users and other bus";}
        
        


 