


@{ViewBag.Title = "Olympic Route Network ends operation midnight on Tuesday ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic Route Network ends operation midnight on Tuesday </h1>
        <div class="content-page-press-release">
        12 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Olympic Route Network (ORN) restrictions end when the vast majority of athletes, officials and media have left the Capital.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Roads to return to normal between Olympics and Paralympics </li>
<li>Removal of physical measures began on Friday 10 August with the majority to be removed by the morning of Wednesday 15 August </li>
<li>Games Lanes have operated flexibly throughout the Games with only around 40 per cent in operation each day </li>
<li>Paralympic Route Network, which is much smaller than the ORN, to come into effect on the first day of the Paralympics</li></ul>
<p><br>Transport for London (TfL) today confirmed that the Olympic Route Network (ORN) will end operation and enforcement at midnight on Tuesday 14 August when the vast majority of athletes, officials and media will have departed the UK following an extraordinary Olympic Games. Roads will return to normal between the Olympic and Paralympic Games.</p>
<p>The 109-mile ORN, which includes 30 miles of Games Lanes in London, has ensured all athletes, officials and the world's media got to their events on time and helped to keep London moving. ORN measures including stopping and parking restrictions end at midnight on Tuesday.&nbsp;All Games Lanes will be taken out of use overnight ahead of Wednesday morning's rush hour, although all white line road markings will take a little longer to remove.&nbsp;All physical measures on the ORN will be removed by the morning of&nbsp; Thursday 16 August.</p>
<p>Before the Olympic Games began the Mayor and TfL committed to operating Games Lanes flexibly and opening them up to all traffic when demand from Games vehicles was low.&nbsp;Throughout the Olympic Games, only around 40 per cent of Games Lanes were in operation at any one time, meaning the remaining 60 per cent were open to general traffic with motorists advised via roadside Variable Message Signs (VMS).</p>
<p>By Tuesday (7 August),&nbsp;10 per cent of Games Lanes had already been decommissioned on the ORN routes serving Wimbledon, Lords and the Royal Artillery Barracks following the end of events at those venues.&nbsp;On Sunday 12 August, the Games Lanes on the A40, A406 North Circular and A12 were taken decommissioned and by the morning of Wednesday 15 August all Games Lanes will have been taken out of use.</p>
<p>LOCOG has also started to de-commission closed competition venues. These works, such as at Horse Guards Parade, are continuing. The associated local area traffic management and security arrangements will be removed from this week onwards. Where venues are required for the Paralympic Games, some measures are being retained such as parking arrangements for Greenwich venues.</p>
<p>TfL today also set out plans for the build and implementation of the Paralympic Route Network (PRN), also necessary to ensure all athletes, officials and the world's media can get to events on time during the Paralympics:<br></p>
<ul>
<li>The PRN is considerably smaller than the ORN and is focused on the east of London</li>
<li>It will have only 8.7 miles of Games Lanes on the routes between the City of London, where the International Paralympic Committee (IPC) will be based, the Olympic Park and other venues, including ExCeL, the North Greenwich Arena, Greenwich Park and Royal Artillery Barracks</li>
<li>The physical build of the PRN will begin overnight on Saturday 25 August, but it will not come into operation until 06:00 on Wednesday 29 August, the opening day of the Paralympic Games</li>
<li>The PRN and Games lanes will end operation and enforcement one day after the end of the Paralympics at midnight 10 September, to aid the efficient departure of athletes, officials and media</li></ul>
<p>TfL's advice to motorists during the Paralympic Games is as follows:<br></p>
<ul>
<li>Continue to follow TfL's advice and plan your travel during the Paralympic Games and, if necessary, allow more time for your journey</li>
<li>Avoid driving around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel</li>
<li>Roads into and around the City of London will be busier than usual, so plan your journey and allow more time</li></ul>
<p>Peter Hendy CBE, London's Transport Commissioner, said: 'The ORN has served its purpose helping us to deliver a great Olympic Games and keep London moving.&nbsp;It will be removed as soon as the majority of athletes, officials and media have left the city.&nbsp;As we promised, Games Lanes were operated flexibly throughout the Games with only around 40 per cent in operation at any one time.</p>
<p>'The PRN is much smaller and focused on the east of London.&nbsp;Our advice to motorists is to avoid driving around the PRN routes and venues, particularly the Olympic Park in Stratford and on the north and south approach roads to the Blackwall Tunnel.</p>
<p>'Please continue to plan ahead at GetAheadoftheGames.com and allow extra time for your journeys when necessary.</p>
<p>Compliance on the ORN has been key to ensuring that the Games ran smoothly and TfL was able to keep London moving for the benefit of all road users.&nbsp; Just as under ORN operation, a penalty charge of &pound;130 will be issued to owners of vehicles who break the PRN regulations in London, including driving in Games Lanes or stopping along the route and any illegally parked vehicle will be removed to a vehicle pound and may incur a release fee of &pound;200.</p>
<p>The Temporary Road Changes planning tool on the <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> website includes all of the information motorists, cyclists and pedestrians need to plan their road journeys during the Games, including details of the PRN, LOCOG's local parking and traffic management plans. <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html</a></p>
<p>
<hr>
</p>
            <p><strong>Notes to Editors:<br></strong></p>
<ul>
<li>Map-by-map details of the Paralympic Route Network can be found at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com </a></li>
<li>All motorists can use the PRN, and only the 8.7 miles of Games Lanes, alongside lanes for general traffic, will be reserved for vehicles carrying athletes, coaches, officials and media</li>
<li>If a vehicle is parked illegally on the PRN or observed in contravention of a PRN regulation, such as making a banned right turn or using a Games Lane, civil enforcement officers will have the ability to issue a penalty charge notice to the registered keeper of that vehicle</li>
<li>Abandoned, broken down or illegally parked vehicles causing an obstruction on the PRN will be moved by tow truck.&nbsp;Any moved vehicles will be tracked so that the owner will be able to recover their vehicle</li>
<li>TfL is committed to keeping London moving throughout the Games and will operate the Games Lanes as flexibly as possible. They will be opened up to all traffic at times when demand from Games family vehicles is low and capacity available. A network of variable message signs (VMS) along the route will advise motorists when Games Lanes are open to regular traffic throughout the day</li>
<li>All the information, tools and advice that motorists, cyclists and pedestrians need to plan their road journeys during the Games can be found on the <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> website and by following &#64;GAOTG on Twitter<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Roads to return to normal between Olympics and Paralympics Removal of physical measures began on Friday 10 August with the majority to be removed by the morning of Wednesday 15 August Games Lanes have operated flexibly throughout the Games with only";}
        
        


 