


@{ViewBag.Title = "Record numbers carried on the transport network during London's unforgettable Olympics";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Record numbers carried on the transport network during London's unforgettable Olympics</h1>
        <div class="content-page-press-release">
        12 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        During the Games the Tube, Docklands Light Railway and London Overground carried more people than at any other time in their respective histories.
        
    </div>



 <div class="on-this-page">
<ul>
<li>More than&nbsp;60million journeys were made on the Tube - up 30 per cent on normal levels, the DLR saw&nbsp;more than&nbsp;six million journeys - up by over 100 per cent on normal levels, and London Overground saw nearly&nbsp;six million journeys - up by 47 per cent on normal levels </li>
<li>On Monday the A4, M4 and roads around Heathrow Airport and the Olympic Park will be busy today as athletes, officials and media leave London </li>
<li>Drivers are advised to avoid driving into central London, on or around the Olympic Route Network wherever possible </li>
<li>The Piccadilly line will be busier than usual throughout the day as people travel to Heathrow Airport</li></ul>

<p>The London 2012 Olympic Games has seen inspirational sporting moments, the city turned into a massive sporting and cultural venue, and record numbers using the transport network as visitors and Londoners have made the most of the vast array of attractions on offer.</p>
<p>Tomorrow, Monday 13 August, will see one of Heathrow Airport's busiest days as athletes, coaching staff, representatives, international media and officials head home. This will mean that certain roads and Tube stations will be busy and passengers and road users are encouraged to avoid the affected areas. To plan journeys visit <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a>.</p>
<p>The Piccadilly line is expected to be particularly busy as it serves all five of the terminals at Heathrow Airport. Passengers who are planning to use the Piccadilly line but are not travelling to Heathrow are asked to consider alternative routes.</p>
<p>Parts of the Olympic Route Network (ORN) have already been removed and works will continue in areas where the ORN is no longer required. However, the ORN will still be operating in central London and road users should avoid the ORN where possible. If you have to drive, plan ahead, consider re-timing your journey and allow more time.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'On Monday we will wave goodbye to the world's most remarkable athletes as they head back home having contributed so much to an unforgettable couple of weeks in London. </p>
<p>'We have seen record numbers using the transport network - with 60million journeys on the Tube alone - up 30 per cent on normal levels representing the busiest period in London Underground's 149-year history. Record numbers have also been seen on&nbsp; the DLR, London Overground, Barclays Cycle Hire and the Emirates Air Line.</p>
<p>'We are really grateful to Londoners for adapting their travel patterns this summer.&nbsp; On Monday our roads and transport network will still be busier than usual so I'd urge Londoners to continue to take our advice and plan ahead.</p>
<p>Also, in just two weeks time we host the world's second biggest sporting event, the Paralympic Games, and I'd encourage Londoners to start planning now&nbsp; to avoid the busiest stations at the busiest times.'</p>
<h2>TfL's key travel advice for Monday 13 August</h2>
<ul>
<li>There will be large volumes of Games traffic heading to Heathrow as athletes and officials leave London </li>
<li>The Piccadilly line is likely to be busier than usual all day with people travelling to Heathrow Airport </li>
<li>If you are not travelling to Heathrow Airport, consider using a different line </li>
<li>Roads around the Olympic Park in Stratford will be busy today with people leaving. If possible change your route </li>
<li>Games Lanes are operating flexibly.&nbsp;Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp;If you have to drive, plan ahead, change the time of your journey if possible and allow more time </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Monday's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/1125.html">http://www.getaheadofthegames.com/bulletins/1125.html</a></li></ul>
<p>
<hr>
<br><br>
<p>
            <p><strong>Notes to Editors:<br></strong></p>
<ul>
<li>The Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 with the bulletins for Monday 13 August the last of the Olympic Games period </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than&nbsp;60million journeys were made on the Tube - up 30 per cent on normal levels, the DLR saw&nbsp;more than&nbsp;six million journeys - up by over 100 per cent on normal levels, and London Overground saw nearly&nbsp;six million journeys - up by";}
        
        


 