


@{ViewBag.Title = "Save on travel costs and apply for 16+ Zip Oyster photocard ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Save on travel costs and apply for 16+ Zip Oyster photocard </h1>
        <div class="content-page-press-release">
        24 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young Londoners can apply online from 1 September 2012.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The 16+ Zip Oyster Scheme gives young Londoners considerable savings on travel costs, which is why I urge all 16-17 year olds in the Capital to make the most of the scheme
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Information available this year on Facebook </li>
<li>Apply in good time to continue receiving free or concessionary travel with a Zip Oyster photocard </li></ul>
<p>With the new academic year fast approaching, Transport for London is reminding all 16-17 year olds to complete their 16+ Zip Oyster photocard application. </p>
<p>A Facebook app was launched earlier this month allowing young Londoners to find out more about Zip Oyster photocards, the behaviour code, information on how to apply online and a link to the online application form <a href="http://apps.facebook.com/zip-discover-london/">http://apps.facebook.com/zip-discover-london/</a>.&nbsp; </p>
<h2>Apply early</h2>
<p>In order to ensure new cards are received before existing cards expires, TfL is encouraging young Londoners to apply in good time as the application process can take up to two weeks.</p>
<p>The 16+ scheme offers free travel on buses and trams and half rate adult pay as you go fares on other TfL services. Londoners aged 16-17 studying A or AS levels, a Level 3 course, apprenticeship or training course funded by the Education Funding Agency are eligible to apply.&nbsp;</p>
<p>Londoners who were 18 on 31 August 2012 and in full time education can also apply.</p>
<p>The applicant's education establishment or skills programme provider will need to verify their attendance on a course by signing the application form.&nbsp;</p>
<p>Young people applying for the 11-15 Zip Oyster photocard will need a parent or guardian to complete part of the application form.</p>
<p>As an alternative to the printed form, applications can be made online. A link to the online application is available here <a href="http://www.tfl.gov.uk/tickets/14308.aspx">http://www.tfl.gov.uk/tickets/14308.aspx</a>. </p>
<h2>Behaviour Code</h2>
<p>Steve Burton, TfL Director of Community Safety, Enforcement and Policing said: 'The 16+ Zip Oyster Scheme gives young Londoners considerable savings on travel costs, which is why I urge all 16-17 year olds in the Capital to make the most of the scheme, and apply as soon as possible. Last year, over 195,000 young people made the most of their 16+ Zip Oyster photocard, which gave them free travel on buses and trams.</p>
<p>'The scheme is a privilege not a right, so once cards is issued, cardholders will need to maintain good behaviour on public transport by following the TfL Young Persons' Behaviour Code. Failure to do this can result in them risking losing their Oyster photocard and its benefits.'</p>
<p>If you are under 16 on 31 August before the start of the new academic year (2012/2013), you can apply for an 11-15 Zip Oyster photocard. It can take up to two weeks to process applications. 16-17 year olds who do not have a valid Zip Oyster photocard must pay the adult cash fare on buses and trams. </p>
<p>For more information go to <a href="http://www.tfl.gov.uk/photocards">www.tfl.gov.uk/photocards</a>&nbsp; <br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>16+ applicants cannot apply until 1 September 2012 </li>
<li>All 16+ Oyster photocard holders can buy 7 Day, monthly or longer period Travelcard and Bus &amp; Tram Pass season tickets at half adult rate and pay as you go at half adult-rate, even if they don't qualify for free bus and tram travel </li>
<li>A non-refundable &pound;10 administration fee is payable for all applications for Zip Oyster photocards. This fee contributes to TfL's administration costs of the concessionary schemes, including processing application forms, photocard production and postage </li>
<li>If the applicant is under 18, the parent or guardian must apply on their behalf. All Zip Oyster photocard applications made at the Post Office need to be supported by proof of identity and address of the parent/guardian signing the application form and a photograph and proof of age of the applicant at the time of application. 16+ applicants for free travel need to have their forms signed by their school, college or training provider and provide proof that they live in a London borough. Further details are available at tfl.gov.uk/tickets </li>
<li>16+ applications for Londoners and non-London residents can be made online at <a href="http://www.tfl.gov.uk/tickets/14308.aspx">http://www.tfl.gov.uk/tickets/14308.aspx</a> </li>
<li>Application forms for Zip Oyster photocards can be obtained from Post Offices in London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Information available this year on Facebook Apply in good time to continue receiving free or concessionary travel with a Zip Oyster photocard With the new academic year fast approaching, Transport for London is reminding all 16-17 year olds to complete";}
        
        


 