


@{ViewBag.Title = "TfL Advisory: Alterations to Olympic Route Network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Advisory: Alterations to Olympic Route Network</h1>
        <div class="content-page-press-release">
        03 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In line with its commitment to keeping disruption to Londoners to an absolute minimum, Transport for London (TfL) has today outlined several alterations to the Olympic Route Network that will relax restrictions at certain locations.
        
    </div>



 <div class="on-this-page">
<p>Throughout the Games TfL is monitoring the Olympic Route Network (ORN) and as planned we are making adjustments based on changing traffic flows and the requirements of the venues. </p>
<p>The Games Lanes are being operated flexibly and we are keeping them open to general traffic wherever and whenever we can. </p>
<p>Over the course of the Olympics so far, typically less than 40 per cent of the Games Lanes have been in operation. </p>
<p>Some venues, such as Wimbledon, cease operation altogether shortly, and the local road network will have restrictions lifted. </p>
<p>A number of other changes are already taking place, including the reintroduction of pedestrian crossings at Lower Thames Street/Southwark Bridge (west side) and at Old Billingsgate Market.</p>
<p>From tomorrow morning, the following alterations will be in effect:</p>
<ul>
<li>Taxis will now be able to turn left and right onto Westminster bridge from Waterloo</li>
<li>The left turn for general traffic from Marble Arch to Great Cumberland Place will be reintroduced</li>
<li>The left turn from Vernon Place onto A4200 Southampton Row&nbsp; will be reintroduced</li>
<li>The Zebra crossing on Seymour Street will be introduced</li></ul>
<p>Leon Daniels, TfL's Managing Director Surface Transport, said: 'We remain committed to keeping disruption to an absolute minimum and we continue to review and amend traffic restrictions whenever possible - to reduce the impact on road users. </p>
<p>'More alterations will follow as venues cease operation, and we'll continue to keep Londoners and businesses, including freight, taxi and private hire drivers informed.'</p>
<p>
<hr>
</p>
            <p><strong>Notes to editor:</strong></p>
<ul>
<li>Games Lanes are of vital importance to get all athletes, officials and the world's media to their events on time. We are using the lanes flexibly and keeping them open to general traffic wherever and whenever we can. We are using a network of over 150 variable message signs along the route of the Games Lanes to make sure that drivers know whether or not the lanes are open to them.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Throughout the Games TfL is monitoring the Olympic Route Network (ORN) and as planned we are making adjustments based on changing traffic flows and the requirements of the venues. The Games Lanes are being operated flexibly and we are keeping them open to";}
        
        


 