


@{ViewBag.Title = "TfL sets out plans to implement the Paralympic Route Network, which begins operation on the day of the Games Opening Ceremony";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plans to implement the Paralympic Route Network, which begins operation on the day of the Games Opening Ceremony</h1>
        <div class="content-page-press-release">
        23 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Paralympic Games, from Wednesday 29 August to Sunday 9 September, are smaller in scale than the Olympic Games but are still the world's second largest sporting event and focused on the City and the east of London.
        
    </div>



 <div class="on-this-page">
<ul>
<li>The physical build of the Paralympic Route Network (PRN) will begin overnight on Saturday 25 August, but it will not come into operation until 06:00 on Wednesday 29 August, the day of the Opening Ceremony of the Paralympic Games </li>
<li>The PRN and Games lanes will end operation one day after the end of the Paralympic Games at midnight on Monday 10 September, to aid the departure of athletes, officials and media </li>
<li>Games lanes will operate flexibly and only be switched on when needed to get athletes, officials and media to their events on time </li>
<li>Motorists are advised to avoid driving around the PRN&nbsp; and Games venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel from Wednesday 29 August </li>
<li>Roads into and around the City of London - including the A2, A12 and A13 - will be busier than usual, so plan your journey and allow more time </li></ul>
<p>Transport for London (TfL) today set out the detailed plans for the implementation and operation of the Paralympic Route Network (PRN) and provided important advice for motorists in the run-up to and during the Paralympic Games, which take place from 29 August until 9 September. </p>
<p>As the Capital gets ready to welcome the world to London again, and to hosting the best ever Paralympic Games, roads around the Olympic Park, the City and the east of London will start becoming busier from early next week. </p>
<p>The PRN preparation works, taking place overnight to keep disruption to a minimum, will start on Saturday (25 August).&nbsp; </p>
<p>By Tuesday 28 August final preparations, such as placing barriers to restrict turning manoeuvres across the PRN, will be put in place in time for it to begin operation and for the Games lanes in London to be enforced from 06:00 on Wednesday 29 August, the day of the Paralympic Games Opening Ceremony.</p>
<p>The PRN will help ensure all athletes, officials and the world's media can get to events on time during the Games. </p>
<p>The 36 mile-long PRN is considerably smaller than the Olympic Route Network (ORN) and is focused on the east of London. </p>
<p>There are 8.7 miles of Games lanes on the routes between the City of London financial district, where the International Paralympic Committee (IPC) and the world's media will be based, the Olympic Park and other venues, including ExCeL, North Greenwich Arena, Greenwich Park and the Royal Artillery Barracks. </p>
<p>There is an additional Games lane between junctions 3 and 2 of the eastbound M4, which is operated by the Highways Agency.</p>
<p>As during the Olympic Games, the Games lanes will be operated flexibly and will be opened up to all traffic when demand from Paralympic Games vehicles is low and capacity is available.&nbsp; </p>
<p>A network of around 100 Variable Message Signs (VMS) along the PRN will clearly state to drivers that they may continue to use the road network as normal and that they are not restricted from using the lanes marked out with the Olympic rings symbols until operation of the PRN begins on 29 August and when open to all traffic during the Games.</p>
<p>The PRN build and implementation timetable is as follows:</p>
<ul>
<li>From Wednesday 22 August: Athletes, officials and the world's media began to arrive in London and M4 Games lane, operated by the Highways Agency, came into operation. The M4 Games lane will be activated when needed for periods between 05:00 and 22:00 </li>
<li>From Saturday 25 August: The physical build of the PRN, including installation of barriers to simplify junctions, will begin overnight on Saturday 25 August (for four nights) but it will not come into operation and will not be enforced until Wednesday 29 August </li>
<li>From Wednesday 29 August: The PRN and the Games lanes will be in operation and will be enforced flexibly from 06:00 to 00:00 daily until Monday 10 September, one day after the closing ceremony of the Paralympic Games. Due to the Paralympic Torch Relay, on this day motorists are advised to avoid driving in central London, as well as around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel. Roads into and around the City of London - including the A2, A12 and A13 - will be busier than usual, so plan your journey and allow more time </li>
<li>Monday 10 September: This will be the final day of operation of the PRN. The Athletes Victory Parade will also take place today, travel planning advice around this will be issued closer to the time </li></ul>
<p>In order to ensure that the Capital remains open for business and we can keep London moving during the Paralympic Games, TfL's advice to road users is:</p>
<ul>
<li>Continue to follow TfL's advice and plan your travel during the Paralympic Games and, if necessary, allow more time for your journey </li>
<li>Avoid driving around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel </li>
<li>Roads east of St Paul's, including into and around the City of London, will be busier than usual so plan your journey and allow more time </li>
<li>There will be no general parking at or around venues so people attending events who would prefer to drive need to book park-and-ride or Blue Badge parking in advance and use the accessible shuttles provided </li>
<li>Don't get caught out by the Paralympic Marathon on 9 September in central London. Roads will be closed along and around the route from early morning</li></ul>
<p>London's Transport Commissioner, Peter Hendy said: 'London is about to host the world's second largest sporting event, and Paralympic records have already been broken for the number of tickets sold to spectators. </p>
<p>'While the Paralympics are smaller than the Olympics, they will present their own set of challenges.&nbsp; </p>
<p>'London's children will begin a new school year in the second week - and their parents will return to work - and larger groups are expected to travel together on the public transport network.</p>
<p>'The ORN played a vital role in the success of the Olympics, getting all athletes, officials and the world's media to their Games events on time and to keep London moving, and now we need the PRN to do the same job. </p>
<p>'Our advice to motorists is to avoid driving around the PRN routes and venues, particularly the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel. </p>
<p>'Please continue to plan ahead at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> and allow extra time for your journeys when necessary.</p>
<p>'We have always had twin objectives for the Games of ensuring that everyone gets to their Games events on time as well as keeping London moving and open for business - this is what we'll continue to deliver. </p>
<p>'London has a rich and vast array of attractions and we encourage everyone to continue enjoying the theatres, restaurants, shops, Trafalgar Square Live Site and other attractions on offer.'</p>
<p>The <a href=" www.GetAheadoftheGames.com/travelinaffectedareas/city/london-temporary-road-changes.html. ">Temporary Road Changes</a> planning tool on the <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> website includes all of the information motorists, cyclists and pedestrians need to plan their road journeys during the Paralympic Games, including details of the PRN and LOCOG's local parking and traffic management plans.</p>
<p>As was the case with the ORN, owners of vehicles who break the PRN regulations in London, including driving in Games lanes, stopping along the route or contravening banned turns, risk a penalty charge of &pound;130. </p>

<p>However there is no interest in unnecessarily penalising drivers and we hope to see them comply in the way they did for the ORN during the Olympic Games which had a 98 per cent compliance rate. </p>

<p>
<hr>
</p>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>Details of the PRN can be found at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a></li>
<li>The plan of which roads/areas will have the physical preparatory works carried out each night of the four night programme is as below, however is subject to change:</li>
<ul>
<li>Saturday 25 August - Victoria Embankment through to Tower Hill, Leamouth Road, Aspen Way and Billingsgate</li>
<li>Sunday 26 August - A4 between Hyde Park Corner and Earls Court</li>
<li>Monday 27 August - Only minor works will take place across the network with minimal disruption to traffic</li>
<li>Tuesday 28 August - Final preparations, such as revealing signs and placing barriers to restrict turning manoeuvres, across the PRN will be put in place overnight in time for its operation to begin at 06:00 Wednesday 29 August</li></ul>
<li>The Temporary Road Changes planning tool at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> includes information on all of the traffic measures required for the operation of the PRN, enabling London's road users to see how the areas where they live, work and visit will be affected during the Games, searchable by postcode. It also includes details about traffic management around venues and the road event route</li>
<li>If a vehicle is parked illegally on the PRN or observed in contravention of a PRN regulation, such as making a banned right turn or using a Games lane, civil enforcement officers will have the ability to issue a penalty charge notice to the registered keeper of that vehicle</li>
<li>Abandoned, broken down or illegally parked vehicles causing an obstruction on the PRN will be moved by tow truck.&nbsp;Any moved vehicles will be tracked so that the owner will be able to recover their vehicle</li>
<li>All the information, tools and advice that motorists, cyclists and pedestrians need to plan their road journeys during the Games can be found on the <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> website and by following &#64;GAOTG on Twitter</li>
<li>During the Olympics Games, Games lanes operated flexibly with only around 40 per cent in operation each day. There was a 98 per cent compliance rate with the ORN during the Olympic Games</li>
<li>To book park-and-ride or blue badge parking in advance and use the shuttles provided visit <a href="http://www.london2012.com/spectators/travel/accessible-parking/">www.london2012.com/spectators/travel/accessible-parking/</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The physical build of the Paralympic Route Network (PRN) will begin overnight on Saturday 25 August, but it will not come into operation until 06:00 on Wednesday 29 August, the day of the Opening Ceremony of the Paralympic Games The PRN and Games lanes";}
        
        


 