


@{ViewBag.Title = "The final day of the Olympics with a busy day of sporting events followed by the Closing Ceremony - Sunday 12 August 2012 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The final day of the Olympics with a busy day of sporting events followed by the Closing Ceremony - Sunday 12 August 2012 </h1>
        <div class="content-page-press-release">
        11 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over the first 13 days of the Olympics the Tube carried 51.47 million passengers - an increase of 12.29 million (31.4 per cent) compared with same period last year.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Stratford will be very busy for the Closing Ceremony. If you don't have a ticket, avoid the area </li>
<li>Westfield Stratford City accessible only to spectators with Games tickets, accredited workers or those using hospitality venues after 8pm </li>
<li>Men's Marathon will see road closures in central London - &nbsp;motorists are advised to avoid driving near the route </li>
<li>The Jubilee line will be busy and spectators are advised to use the District or Hammersmith&nbsp;&amp; City Lines via West Ham to get to the Olympic Park </li>
<li>Olympic events taking place at the Olympic Park, ExCeL, Hadleigh Farm, North Greenwich Arena, Greenwich Park, Earls Court and Wembley Arena </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic Live Sites, free concerts, restaurants and bars, great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li></ul>
<p>Sunday 12 August will be the final action-packed day of cultural and sporting events followed by the 2012 Olympic Games Closing Ceremony.</p>
<p>Tomorrow's events will include the Men's Olympic Marathon in The Mall, Cycling - Mountain Bike at Hadleigh Farm, Modern Pentathlon at Greenwich Park, Volleyball at Earls Court and the Men's Water Polo final at the Olympic Park. </p>
<p>On Sunday, a full day of events at the Olympic Park, ExCeL, Hadleigh Farm, North Greenwich Arena, Greenwich Park, The Mall, Earls Court and Wembley Arena will mean public transport to these venues will remain busy and people should plan ahead to avoid disruption. As some events continue into the evening spectators are reminded to check times of their last train home and non-spectators are urged to continue avoiding the busiest stations at the busiest times.&nbsp;To plan journeys visit <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<p>Over the first 13 days of the Games (from Saturday 28 July) there have been 51.47m journeys on the Tube, up 12.29m - more than 31 per cent - on the same period last year. Weekend Tube traffic has seen the highest increase, with Sunday being 77 per cent higher than last year. Increases have also been seen in people using Tube stations in the West End, with last Saturday evening (4 August) seeing an increase of 27 per cent. London Overground and the DLR also broke records last weekend, carrying a total of 1.4m passengers, and Barclays Cycle Hire clocking up a million hires in July. </p>
<p>The Hyde Park Live Site will be ticket-only tomorrow for the Closing Ceremony Celebration Concert.&nbsp;The event is sold out and people are strongly advised not to travel to the Hyde Park Live Site unless they have a ticket for the event. The Victoria Park Live Site will be open again tomorrow and will be non-ticketed. </p>
<p>There are a number of stations that can be used to access the Hyde Park Live Site including Bond Street, Marble Arch and Green Park.&nbsp;Marble Arch and Hyde Park stations will operate flexibly and may become exit-only if they are busy.&nbsp;Victoria Park can be accessed from Mile End station.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Tomorrow is the final day of the Games and sees the last of Olympic sporting action followed by the Closing Ceremony, bringing to a close a phenomenal fortnight for the Capital.&nbsp;Record numbers have been using our transport network during this exciting time, with over 4.52 million journeys on the Tube on Thursday - marking the busiest day in London Underground's 149-year history. </p>
<p>'We are tremendously grateful to Londoners for taking our advice on board and adapting their travel patterns. But with the Paralympic Games starting in two weeks time, Londoners need to do more of the same and should start planning now for how they will travel during this time, avoiding the busiest stations at the busiest times.'</p>
<h2>Ticketed spectators</h2>
<ul>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith&nbsp;&amp; City or C2C services into West Ham with a short direct walk along the Greenway to the Park for a quicker journey</li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com/">london2012.com</a> for your recommended arrival times and leave plenty of time to travel</li>
<li>Make sure you have the correct Games Travelcard for the day of your event</li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">london2012.com/journey</a></li>
<li>Expect queues when arriving and departing venue stations.&nbsp;Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator</li>
<li>Live Sites offering free concerts will once again be open today for people to soak up the atmosphere. There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit-only if busy.&nbsp;Victoria Park Live Site can also be accessed from Mile End station</li></ul>
<h2>TfL's key travel advice for Sunday 12 August</h2>
<ul>
<li>Please continue to avoid driving into central London, on or around the Olympic Route Network (ORN) and near venues</li>
<li>The Men's Marathon will mean road closures in central London motorists are advised to avoid driving near the race route</li>
<li>Games Lanes are operating flexibly.&nbsp;Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp;If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
<li>Events will be taking place across the Capital at the Olympic Park, ExCeL,&nbsp;Hadleigh Farm, North Greenwich Arena, Greenwich Park, The Mall, Earls Court and Wembley Arena</li>
<li>Work continues to remove the ORN measures and road markings on some parts of the network when events at locations have finished, eg Wimbledon </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
<li>For full information on avoiding roads and public transport hotspots, check out <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
<li>Sunday's Daily Bulletin is available at <a href="http://www.getaheadofthegames.com/bulletins/12-august.html">http://www.getaheadofthegames.com/bulletins/12-august.html</a></li></ul>
<p>
<hr>
<br></p>
            <p><strong>Notes to Editors:<br></strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:<br>o&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br>o&nbsp;Interviews with TfL spokespeople<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Stratford will be very busy for the Closing Ceremony. If you don't have a ticket, avoid the area Westfield Stratford City accessible only to spectators with Games tickets, accredited workers or those using hospitality venues after 8pm Men's Marathon will";}
        
        


 