


@{ViewBag.Title = "The London 2012 Paralympic Games get under way tomorrow:  Londoners reminded to plan their travel to avoid the busiest times and places once again";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The London 2012 Paralympic Games get under way tomorrow:  Londoners reminded to plan their travel to avoid the busiest times and places once again</h1>
        <div class="content-page-press-release">
        28 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Paralympic Games are focused on the City and east of London but are the second largest sporting event in the world with 2.5 million tickets expected to be sold
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want Londoners to enjoy the Paralympics, as they did the Olympics, and all that the Capital has to offer during the Games."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want Londoners to enjoy the Paralympics, as they did the Olympics, and all that the Capital has to offer during the Games.
                            
                        </p>
                    </div>
                
            
            
            <p>&nbsp;</p>
<ul>
<li>The busiest days for the transport network will be in the second week when the new school year begins, making the road and public transport network much busier than during the summer holidays </li>
<li>The Paralympic Route Network will be in operation from 06:00, Wednesday 29 August, and will be operation between the hours of 06:00 and midnight </li>
<li>The Paralympic Torch relay will mean rolling road closures in north west, central and east London tomorrow </li>
<li>Businesses, motorists and public transport users reminded to plan ahead to avoid the busiest times and places at GetAheadoftheGames.com </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li></ul>
<p>This is Transport for London's (TfL) first media travel bulletin for the Paralympic Games, providing key travel information and advice for the following day on London's public transport and roads.&nbsp; From tomorrow, Thursday 30 August this bulletin will be issued twice per day, at the expected times of 07:00 and 14:00.<br>&nbsp;<br>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 transport factsheets on which they are based.</p>
<p>The factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games.</p>
<p>This evening at 20:00, the Paralympic Torch will begin its 92-mile journey from Stoke Mandeville, arriving in London on Wednesday morning and touring the Capital before arriving at the Olympic Stadium for the Opening Ceremony.</p>
<h2>Schools return</h2>
<p>The Paralympic Games, although smaller in scale than the Olympics, are the second largest sporting event in the world and transport to and around venues will be busier than usual.&nbsp;&nbsp; </p>
<p>The second week of the Paralympic Games is expected to be busier than the first, as many schools return from summer holidays.&nbsp; </p>
<p>Other events, such as Premier League Football matches, BBC Proms in the Park and the Thames Festival are also happening in London during the Paralympics.</p>
<p>The Paralympic venues are situated in the east of London, at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park and the Royal Artillery Barracks at Woolwich, as well as out of London venues, Eton Dorney, Weymouth &amp; Portland and Brands Hatch. </p>
<h2>Plan ahead</h2>
<p>As a result, the impact on the roads and public transport network in central London and around the West End will be much less than during the Olympics.&nbsp; </p>
<p>However, at certain times and in certain places, roads and the public transport network in the City of London financial district and in the east of London are expected to be much busier than normal.</p>
<p>TfL today reminded businesses and Londoners to plan ahead to avoid the busiest times and places using the tools and information available at GetAheadoftheGames.com.</p>
<p>On most days, the number of people travelling to the Olympic Park will be as many as travelled there during the Olympics, with up to 215,000 spectators expected.&nbsp; </p>
<p>TfL anticipates that on the public transport network, the busiest times will be between 07:30-09:30 and from 16:00-19:00 each day on the following lines:</p>
<ul>
<li>Jubilee Line:&nbsp; from Waterloo to Stratford </li>
<li>Central Line:&nbsp; from Holborn to Stratford </li>
<li>Docklands Light Railway (DLR):&nbsp; across the network</li></ul>
<p>Some key National Rail stations, such as King's Cross St Pancras, London Bridge, Paddington, Waterloo and Victoria are also expected to be busier than normal around these times.</p>
<p>As during the Olympic Games, London Underground (LU), the DLR and London Overground will run an hour later, with the last trains leaving central London and venues around 01:30.&nbsp; </p>
<p>National Rail services will also operate additional services during the Paralympics. Spectators can use their Games Travelcard for free travel on the day of their event, on public transport in the capital as well as from London to Brands Hatch and Eton Dorney. </p>
<p>On the roads, a Paralympic Route Network (PRN) will be in operation, but will be much smaller than the Olympic Route Network (ORN).&nbsp; </p>
<h2>Games Lanes</h2>
<p>Again, it will be focused on the City of London, where the International Paralympic Committee (IPC) and world's media will be based, and venues in the east of London.</p>
<p>The PRN in London has just 8.7 miles of Games Lanes and, as was the case during the Olympics, these will be operated flexibly and opened to general traffic if demand from Paralympic vehicles is low. </p>
<p>The PRN will come into operation on the first day of the Paralympic Games on Wednesday 29 August. </p>
<p>There is a separate Games Lane on the M4, also part of the PRN and operated by the Highways Agency, which is already in operation. </p>
<h2>Avoid driving around the PRN</h2>
<p>For more information about the PRN outside London, visit GetAheadoftheGames.com.</p>
<p>During the Paralympic Games, motorists are urged to avoid driving around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel.&nbsp; </p>
<p>The A2, A12 and A13 routes into London are also expected to be busier than usual, particularly in the morning peak.&nbsp;</p>
<p>If driving is the only option, please plan ahead and allow more time for your journey. </p>
<h2>Certain locations</h2>
<p>A large number of spectators are also expected to watch the Paralympic Torch Relay tomorrow as it passes through a number of London boroughs before ending its journey at the Olympic Park for the Paralympic Games Opening Ceremony. </p>
<p>The Paralympic Torch Relay will be like a moving venue across London and there will be temporary restrictions on roads that form part of the route. </p>
<p>Certain locations along the route will be busy with crowds, especially when the Torch reaches central London.</p>
<p>The Paralympic Opening Ceremony will take place in the Olympic Park on Wednesday evening. The Jubilee line, District line, Central line and DLR will be busier than usual in the evening. </p>
<p>A live site for 10,000 people will open in Trafalgar Square from 11:00 - 11:30 on Wednesday, meaning nearby stations are expected to be busier than usual.</p>
<h2>Busier than usual</h2>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'We're looking forward to helping London host the greatest Paralympic Games ever. </p>
<p>'We want Londoners to enjoy the Paralympics, as they did the Olympics, and all that the Capital has to offer during the Games.</p>
<p>'There will be rolling road closures in London tomorrow as the Paralympic Torch makes its way to the Olympic Park and the Jubilee line, District line, Central line and DLR will be busier than usual tomorrow evening as spectators make their way to and from the Opening Ceremony. </p>
<p>'As the Paralympics gets under way, we are asking people in affected areas to take the sensible steps they did during the Olympics and avoid the busiest times and places where possible. All the tools and information that people need are available at GetAheadoftheGames.com.'</p>
<p><strong>Spectators of the Torch Relay: </strong></p><strong>
<ul>
<li></li></ul></strong>Do not drive to see the Torch 
<li>Plan your viewing spot and allow plenty of time for your journey </li>
<li>Arrive early as crowds are expected, especially in central London</li>
<p><strong>Spectators going to the Paralympic Opening Ceremony:</strong></p>
<ul>
<li>If you have a ticket to the Opening Ceremony, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel </li>
<li>People heading to or from the Olympic Park for the Opening Ceremony should consider using C2C, District and Hammersmith &amp; City lines to or from West Ham and access the Park via the Greenway. Anyone with mobility difficulties should use Stratford station, where assistance is available </li>
<li>Don't go to the Olympic Park if you don't have a ticket for the Opening Ceremony - you will not be able to get in without a ticket </li>
<li>Try to bring as little as possible with you, as there will be airport-style security in operation for the Games. There are strict rules on what can be brought into the Park </li>
<li>Do not drive to the Olympic Park as there is no public parking at, or near, the venue. Parking in residential streets will be restricted to those with local permits</li></ul>
<p><strong>TfL's key travel advice for Wednesday 29 August:</strong></p>
<ul>
<li>The Torch Relay will be a like a moving venue,&nbsp; travelling the 92 miles from Stoke Mandeville to the Olympic Park in London in a little over 24 hours. This will create temporary disruptions on both road and public transport </li>
<li>Stations near the route may be busy than usual with people going to watch the Torch Relay </li>
<li>Rolling road closures will be in place along the route. If possible, avoid driving on or near the Torch Route </li>
<li>If you have to drive, plan your route to avoid the Torch Relay. Visit <a href="http://www.getaheadofthegames.com/things-you-should-know/torch-relay-roads.html">www.getaheadofthegames.com/things-you-should-know/torch-relay-roads.html</a> </li>
<li>Some bus services and bus stops will be suspended temporarily during the Torch Relay, so check the TfL Journey Planner before you travel </li>
<li>Before travelling, check live travel updates on TfL.gov.uk/live and follow &#64;GAOTG for the latest information and advice </li>
<li>Wednesday's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/29-august.html">www.getaheadofthegames.com/bulletins/29-august.html</a></li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp;Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours </li>
<li>A number of services are available including: 
<ul type="circle">
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a> </li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a> </li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a> </li>
<li>Interviews with TfL spokespeople</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "&nbsp;The busiest days for the transport network will be in the second week when the new school year begins, making the road and public transport network much busier than during the summer holidays The Paralympic Route Network will be in operation from";}
        
        


 