


@{ViewBag.Title = "The London 2012 Paralympic Games:  Londoners urged to welcome the world and plan their travel to avoid busiest times and places once again";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The London 2012 Paralympic Games:  Londoners urged to welcome the world and plan their travel to avoid busiest times and places once again</h1>
        <div class="content-page-press-release">
        21 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Paralympic Games, from Wednesday 29 August to Sunday 9 September, are smaller in scale than the Olympic Games and focused on the City and east of London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Paralympic Games are shaping up to be the best ever as London continues to buzz with Olympic excitement and Paralympic tickets are selling like hot cakes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Paralympic Games are shaping up to be the best ever as London continues to buzz with Olympic excitement and Paralympic tickets are selling like hot cakes
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Londoners invited to join in and welcome the world with London 2012 sporting and cultural events, theatres, restaurants, shops and attractions all offering an unbeatable experience to visitors and residents alike </li>
<li>The Paralympic Games are the second largest sporting event in the world with 2.5 million tickets expected to be sold, plus schools return for second week, making the road and public transport network much busier than during the summer holidays </li>
<li>London's transport network one of the most accessible in the world, with step free access across DLR, buses and taxis and 66 Tube stations </li>
<li>On most days, as many spectators will travel to the Olympic Park as did during the Olympic Games, meaning the Jubilee, Central and DLR will be very busy during the morning and evening peaks </li>
<li>Businesses, motorists and public transport users reminded to continue planning ahead at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> to avoid busiest times and places</li></ul>
<p>Following a great London 2012 Olympic Games, the Capital and the UK is getting ready to welcome the world once again and host the best ever Paralympic Games.&nbsp;</p>
<p>Transport for London (TfL) today set out its travel plans and advice for the Paralympics, with businesses and the travelling public reminded to continue to plan their travel and avoid the busiest times and places - particularly by retiming their journey - using the tools and information available at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<p>The Paralympic Games, although smaller in scale than the Olympics, are the second largest sporting event in the world and transport to and around venues will be busier than usual.&nbsp;</p>
<h2>Games begin 29 August</h2>
<p>The Games begin with the Paralympic Torch Relay in London and Opening Ceremony at the Olympic Park on Wednesday 29 August and end on Sunday 9 September, with the Paralympic Marathons in central London and Closing Ceremony, again at the Olympic Park.&nbsp; </p>
<p>'Live Sites' will also show Paralympic sport and provide entertainment at Trafalgar Square and at Potters Field by City Hall.</p>
<p>The second week of the Paralympic Games is expected to be busier than the first, as many schools return from summer holidays.&nbsp;Other events, such as Premier League Football matches, BBC Proms in the Park and the Thames Festival are also happening in London during the Paralympics.</p>
<p>On 10 September, Team GB's greatest ever team of Olympians and Paralympians will be honoured with a parade through central London.&nbsp;Many Paralympic athletes, officials and the world's media will also be departing on this day, meaning routes between central London and Heathrow will be busier than usual.</p>
<p>The Paralympic venues are situated in the east of London, at the Olympic Park, Excel, North Greenwich Arena, Greenwich Park and the Royal Artillery Barracks at Woolwich, as well as out of London venues, Eton Dorney, Weymouth &amp; Portland and Brands Hatch.&nbsp;</p>
<p>As a result, the impact on the roads and public transport network around London's West End will be much less than during the Olympics.&nbsp;</p>
<p>However, at certain times and in certain places, roads and the public transport network in the City of London financial district and in the east of London are expected to be much busier than normal.</p>
<p>On most days, the number of people travelling to the Olympic Park will be as many as travelled there during the Olympics, with up to 215,000 spectators expected.&nbsp; </p>
<h2>Busiest lines</h2>
<p>TfL anticipates that on the public transport network, the busiest times will be between 07.30-09.30 and from 16.00-19.00 each day on the following lines:</p>
<ul>
<li>Jubilee Line: from Waterloo to Stratford </li>
<li>Central Line: from Holborn to Stratford </li>
<li>Docklands Light Railway (DLR): across the network.</li></ul>
<p>Some key national rail stations, such as King's Cross St Pancras, London Bridge, Paddington, Waterloo and Victoria are also expected to be busier than normal around these times.</p>
<p>As during the Olympic Games, London Underground (LU), the DLR and London Overground will run an hour later, with the last trains leaving central London and venues around 01:30.&nbsp;</p>
<p>National rail services will also operate additional services during the Paralympics. Spectators can use their Games Travelcard for free travel on the day of their event, on public transport in the Capital as well as from London to Brands Hatch and Eton Dorney. </p>
<h2>Paralympic Route Network</h2>
<p>On the roads, a Paralympic Route Network (PRN) will be in operation, but will be much smaller than the Olympic Route Network (ORN).&nbsp;Again, it will be focused on the City of London, where the International Paralympic Committee (IPC) and world's media will be based, and venues in the east of London.</p>
<p>The PRN in London will have just 8.7 miles of Games Lanes and, as was the case during the Olympics, these will be operated flexibly and opened to general traffic if demand from Paralympic vehicles is low (see accompanying map).&nbsp;</p>
<p>The physical build of the PRN will begin overnight on Saturday 25 August but it will not come into operation and be enforced until the first day of the Paralympic Games on Wednesday 29 August. </p>
<p>There is a separate Games Lane on the M4, also part of the PRN and operated by the Highways Agency, which comes into operation a few days earlier, on Wednesday 22 August. For more information about the PRN outside London, visit GetAheadoftheGames.com. </p>
<p>During the Paralympic Games, motorists are urged to avoid driving around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel.&nbsp;</p>
<p>The A2, A12 and A13 routes into London are also expected to be busier than usual, particularly in the morning peak.&nbsp;If driving is the only option, please plan ahead and allow more time for your journey.</p>
<p>Ticket holders who have a Blue Badge and plan to drive to Paralympic events are reminded they need to book park-and-ride or Blue Badge parking at venues in advance.&nbsp;Bookings can be made at <a href="http://www.firstgroupgamestravel.com/accessible-modes-of-transport/">www.firstgroupgamestravel.com/accessible-modes-of-transport/</a>.</p>
<p>Wheelchair users planning to travel by national rail are reminded that they will need to book their rail travel at <a href="http://www.nationalrail.co.uk/passenger_services/disabled_passengers/">www.nationalrail.co.uk/passenger_services/disabled_passengers/</a>.</p>
<p>Mayor of London, Boris Johnson, said: 'The Paralympic Games are shaping up to be the best ever as London continues to buzz with Olympic excitement and Paralympic tickets are selling like hot cakes.</p>
<p>'One of the things that made the Olympic Games such a great success was the way Londoners changed the way they usually travel, arriving at work a little earlier or later to avoid the busiest times. </p>
<p>'I want to thank every Londoner for that, and to ask everybody to plan ahead once more, so they can get out and enjoy everything London has to offer during the Paralympics and help keep our great city moving.'</p>
<p>London's Transport Commissioner, Peter Hendy CBE said: 'We already know the London 2012 Paralympic Games will see the most spectators in its history, which is fantastic.&nbsp;</p>
<p>'While these Games are smaller in scale than the Olympics, they are still the world's second largest sporting event.&nbsp;And with the new school year beginning in the second week and larger groups expected to travel together on the public transport network, we expect these Games to hold some new and unique challenges.</p>
<p>'We're confident that transport will cope well during the Paralympic Games, as it did during the Olympics, provided businesses and Londoners continue to plan and change the way or time that they travel, using the tools and information available at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.' </p>
<h2>Key dates</h2>
<p><strong>25-28 August: </strong>The physical build of the PRN will begin overnight on Saturday 25 August but it will not come into operation and be enforced until the first day of the Paralympic Games, from 06.00 on Wednesday 29 August. The PRN in London will have only 8.7 miles of Games Lanes on roads linking the City of London - where the IPC and world's media are based - with the Olympic Park and other venues, including Excel, the North Greenwich Arena, Greenwich Park and Royal Artillery Barracks. <br><strong>Travel impacts and advice: </strong>Motorists are advised to avoid driving around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel. Roads into and around the City of London - including the A2, A12 and A13 - will be busier than usual, so plan your journey and allow more time.</p>
<p><strong>29 August:</strong> The Paralympic Games Torch Relay in London and the Opening Ceremony at the Olympic Park.<br><strong>Travel impacts and advice: </strong>Due to the Paralympic Torch Relay, on this day motorists are advised to avoid driving in central London, as well as around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel. Roads into and around the City of London - including the A2, A12 and A13 - will be busier than usual, so plan your journey and allow more time.</p>
<p><strong>3 September: </strong>Start of the new school year.<br><strong>Travel impacts and advice:&nbsp;</strong> Motorists are advised to avoid driving around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel. Roads into and around the City of London - including the A2, A12 and A13 - will be busier than usual, so plan your journey and allow more time.</p>
<p>On public transport plan ahead to avoid the travel hotspots at GetAheadoftheGames.com.&nbsp;The Central and Jubilee lines, between central London and Stratford, and the DLR network is expected to be busy between 07.30-09.30 and 16.00-1900.</p>
<p><strong>9 September: </strong>Paralympic Marathons in central London and final day of the Paralympic Games, including Closing Ceremony at the Olympic Park.<br>Travel impacts and advice: Due to the Paralympic Marathons in central London, on this day motorists are advised to avoid driving in central London, as well as around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel. Roads into and around the City of London - including the A2, A12 and A13 - will be busier than usual, so plan your journey and allow more time.</p>
<p><strong>10 September: </strong>Team GB's greatest ever team of Olympians and Paralympians will be honoured with a parade through the streets of the capital. It is set to begin at Mansion House in the City of London and finish in central London.&nbsp; More details about route and timings will be made available soon.<br><strong>Travel impacts and advice: </strong>Due to the Team GB parade in central London, on this day motorists are advised to avoid driving in central London, as well as around the PRN routes and venues, particularly around the Olympic Park in Stratford and on the A102 approach roads north and south of the Blackwall Tunnel. Roads into and around the City of London - including the A2, A12 and A13 - will be busier than usual, so plan your journey and allow more time.</p>
<p>Huge improvements have been made to the transport network in recent years to make it more accessible. TfL has invested hundreds of millions of pounds in improvements such as new lifts, more accessible trains, platform humps, wide aisle gates, tactile paving and audio-visual displays. </p>
<p>London's bus fleet is the most accessible in the world; all 8,500 buses are low-floor, wheelchair accessible and fitted with ramps which are checked daily. The entire DLR network is step-free, as are 66 Tube stations. </p>
<p>All Tube stations have staff trained to assist passengers and 16 stations have been using manual boarding ramps during Games-time to make it easier for wheelchair users to access the trains. In addition, all 22,000 taxis are fitted with wheelchair ramps, and all piers and most boats in London are accessible.</p>
<p>TfL will continue to provide travel information and advice in the run-up to and during the Paralympic Games through a number of channels, including online at GetAheadoftheGames.com and tfl.gov.uk, via digital and social media channels, through media travel bulletins and through staff and Travel Ambassadors on the ground at key stations, transport hubs and locations across London.</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p><strong>
<ul>
<li></li></ul></strong>There is no parking at any of the venues except Brands Hatch (although Blue Badge parking will be available and must be booked in advance). Drivers are advised to use the direct coach network operated by the ODA or pre-book parking at the ODA's park-and-ride sites (parking must be booked in advance). For more information, visit <a href="http://www.firstgroupgamestravel.com/">http://www.firstgroupgamestravel.com/</a>&nbsp; 
<li>Free, secure cycle parking will be available at all venues </li>
<li>TfL will resume issuing twice daily press notices from Tuesday 28 August one each morning and each afternoon, outlining the likely conditions on the road and public transport network for the following day </li>
<li>The 2012 Transport Factsheets, already available online at GetAheadoftheGames.com, will be updated throughout the Paralympic Games and the updated factsheet for the following day will then be published by TfL alongside its afternoon press notice at 14:00 each day. Journalists wanting to sign up to receive TfL's Games-time press notices and the latest versions of the '2012 Transport Factsheets' should email <a href="mailto:carolinepick&#64;tfl.gov.uk">carolinepick&#64;tfl.gov.uk</a> to be added to the distribution list </li>
<li>The Daily Travel Bulletins will also be updated, based on experience, throughout the Paralympic Games with updated Daily Travel Bulletins for the following day being published on GAOTG at 14:00 each day </li>
<li>GetAheadoftheGames.com has all the tools and information that businesses, Londoners and visitors to the city need to plan for a busy transport system during the Paralympic Games and to avoid the travel 'hotspots'. Follow &#64;GAOTG for the latest tips and travel advice and &#64;TfLTravelAlerts and &#64;TfLTrafficNews on Twitter for the latest on how public transport services and roads are operating. Find out more about TfL social media channels at <a href="http://www.tfl.gov.uk/socialmedia">www.tfl.gov.uk/socialmedia</a>.</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Londoners invited to join in and welcome the world with London 2012 sporting and cultural events, theatres, restaurants, shops and attractions all offering an unbeatable experience to visitors and residents alike The Paralympic Games are the second";}
        
        


 