


@{ViewBag.Title = "Tube power network contract restructure to bring savings and greater operational flexibility";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube power network contract restructure to bring savings and greater operational flexibility</h1>
        <div class="content-page-press-release">
        16 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has today announced a restructuring of the contracts for the operation and maintenance of its high-voltage electrical power network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Although the contract has been performing well, the move to restructure the PFI arrangement will give us increased operational flexibility, and mean we can invest the savings made in further transport improvements for our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sarah Atkins</div>
            <div class="quotee-job-title">LU Commercial Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Although the contract has been performing well, the move to restructure the PFI arrangement will give us increased operational flexibility, and mean we can invest the savings made in further transport improvements for our customers
                            
                        </p>
                    </div>
                
            
            
            <p>LU entered into a 30-year Private Finance Initiative (PFI) with Powerlink in 1998 to manage, operate and maintain the Tube's electrical power network. The contract included a half-way break clause, at which point LU has the option to terminate the contract early.</p>
<p>LU today served formal notice on Powerlink that the contract will come to an end in August next year, 15 years before the scheduled expiry date. Powerlink and LU will work together closely over the coming months to ensure a smooth transfer of staff and activities back to LU next year. </p>
<p>The move will have no impact whatsoever on the day to day operation of the Underground.</p>
<p>Sarah Atkins, LU Commercial Director, said: 'We've taken a good hard look at every aspect of how we operate the railway and found that we can make significant savings by terminating this arrangement early, avoiding expensive financing costs that would have come with continuing the contract to its end.</p>
<p>'Although the contract has been performing well, the move to restructure the PFI arrangement will give us increased operational flexibility, and mean we can invest the savings made in further transport improvements for our customers.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>LU will be required to make termination payments to the shareholders in order to repay the private financing facilities supporting the project. <br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU entered into a 30-year Private Finance Initiative (PFI) with Powerlink in 1998 to manage, operate and maintain the Tube's electrical power network. The contract included a half-way break clause, at which point LU has the option to terminate the";}
        
        


 