


@{ViewBag.Title = "Upward trend continues as TfL publish latest Tube performance figures";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Upward trend continues as TfL publish latest Tube performance figures</h1>
        <div class="content-page-press-release">
        28 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today published Tube performance figures for Period 3 (27 May - 23 June 2012), which show the long-term trend of improved reliability on the Tube has continued into the current financial year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These figures continue the long-term trend of improved reliability that we have seen on the Tube over recent years."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These figures continue the long-term trend of improved reliability that we have seen on the Tube over recent years. 
                            
                        </p>
                    </div>
                
            
            
            <p>In addition, customer satisfaction levels are at an all-time high. <br>&nbsp;<br>The figures show passenger demand continues at record levels and London Underground's (LU) quarterly Customer Satisfaction Survey improved to a new record score of 82 out of 100, the highest since the independent survey began in its current form in 1990.<br>&nbsp;<br>Delays to customers during the period, as measured by lost customer hours, would have been 284,000 lower than the previous period, and the current financial year would have the lowest average lost customer hours for any year on record - two per cent lower than the average across 2011 / 12, were it not for a burst Thames Water main in Stratford, which flooded the Central line on 6 June. </p>
<h2>Respond quickly</h2>
<p>This caused millions of litres of water to flood the line and resulted in 408,000 lost customer hours. </p>
<p>Since then top level meetings have taken place between the Mayor and management of Thames Water, who have agreed to pay compensation to TfL for the incident and set out their emergency protocols should such a situation arise again. </p>
<p>The continuing trend of long-term improvement follows the creation of the London Underground Reliability Programme in 2011, which led to the introduction of a range of initiatives to predict and prevent failures, respond more quickly to problems and roll out better equipment. <br>&nbsp;<br>Mike Brown, LU's Managing Director, said: 'These figures continue the long-term trend of improved reliability that we have seen on the Tube over recent years. </p>
<h2>Reduction in delays</h2>
<p>'The ongoing work we're undertaking to make the railway operate more efficiently, and to respond more quickly to problems, meant that we were able to maintain that performance during the Olympic Games, despite carrying more people than ever before with an extra million journeys made on the busiest days.</p>
<p>'But we are not complacent and remain focused on the task of examining how we can go even further as we work to deliver the Mayor's target of a further 30 per cent reduction in delays by 2015.'&nbsp;<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In addition, customer satisfaction levels are at an all-time high. &nbsp;The figures show passenger demand continues at record levels and London Underground's (LU) quarterly Customer Satisfaction Survey improved to a new record score of 82 out of 100, the";}
        
        


 