


@{ViewBag.Title = "Women's Cycling Sprint and men's Triathlon at Hyde Park headline day eleven of the 2012 Olympic Games - Tuesday 7 August 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Women's Cycling Sprint and men's Triathlon at Hyde Park headline day eleven of the 2012 Olympic Games - Tuesday 7 August 2012</h1>
        <div class="content-page-press-release">
        07 August 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Men's Triathlon to take place around Hyde Park resulting in some road closures and restrictions until early evening.
        
    </div>



 <div class="on-this-page">
<ul>
    <li>Men's semi-final football match at Wembley kicking off at evening peak - Metropolitan and Jubilee lines will be busy</li>
    <li>Olympic events to take place all day across the Capital</li>
    <li>A record 4.4m passengers carried on the Tube on Friday 3 August and significant increase in passengers using Tube stations in the West End; up 27 per cent on the evening of Saturday 4 August</li>
    <li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too. Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
    <li>Road users, residents and spectators reminded to avoid driving around the ORN, venues and central London which will be busy</li>
    <li>Plan ahead with the latest Games travel advice at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
</ul>
<p>Day eleven of the Games sees another packed day of cultural and sporting Olympic events, including the men's Triathlon in Hyde Park, with some roads in the area closed or with restricted access while the event takes place.</p>
<p>There are a number of events taking place at the Stratford site today, with Victoria Pendleton looking to add to Team GB's cycling gold tally at the Velodrome in the women's Cycle Sprint, Triple Jumper Philips Idowu begins his quest for Olympic gold, as well as a host of other events including a full day of hockey at the Riverbank Arena.  </p>
<p>The area around the Olympic Park and other Games venues will be exceptionally busy and people should plan ahead to avoid disruption. </p>
<p>The Jubilee line will be very busy, particularly in the early evening from 16:00 to 20:00, as events are taking place at Wembley, North Greenwich Arena, Greenwich Park, Excel and the Olympic Park. </p>
<p>Baker Street, King's Cross and Green Park stations are also expected to be very busy with spectators going to and from Wembley Stadium, where the men's Football semi-final match between Mexico and Japan will be taking place. </p>
<p>Where possible avoid these stations at the busiest times.</p>
<p>Men's Beach Volleyball is being held at Horse Guards Parade so central London will also be busy.  </p>
<p>Volleyball at Earl's Court means the station will be busy through the afternoon and evening.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'I would like to thank our passengers for taking our advice on board so far and helping us to support a great Games and a great summer in London.</p>
<p>'This summer, London is a true sporting and cultural paradise, so I encourage everyone to enjoy the many theatres, restaurants, shops, free concerts, Live Sites and attractions that the Capital has to offer.'</p>
<h2>Ticketed spectators</h2>
<ul>
    <li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com">london2012.com</a> for your recommended arrival times and leave plenty of time to travel</li>
    <li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or C2C rail services into West Ham with a short direct walk along the Greenway to the Park for a quicker journey</li>
    <li>Make sure you have the correct Games Travelcard for the day of your event</li>
    <li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://www.london2012.com/journey">london2012.com/journey</a></li>
    <li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue, and remember to check the times of your last train home with your operator</li>
    <li>Live Sites offering free concerts will once again be in open today for people to soak up the atmosphere. There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Marble Arch and Hyde Park stations may operate as exit-only if busy. Victoria Park live site can also be accessed from Mile End station</li>
</ul>
<h2>Travel advice for today</h2>
<ul>
    <li>If you are travelling around London, but are not intending to watch the men's Triathlon, avoid stations that are close to the route if you can</li>
    <li>The Jubilee line will be very busy as Olympic Football is taking place at Wembley Stadium and events are taking place at Hyde Park, North Greenwich Arena, Greenwich Park, ExCeL and the Olympic Park. If possible, try to avoid using the Jubilee line at the busiest times</li>
    <li>Please continue to avoid driving into central London, on or around the Olympic Route Network (ORN) and near venues</li>
    <li>Games lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
    <li>Events will be taking place across the capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court and Wembley Stadium</li>
    <li>Work continues to remove the ORN measures and road markings on some parts of the network when events at locations have finished e.g. Wimbledon</li>
    <li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
    <li>Read <a href="http://www.getaheadofthegames.com/bulletins/7-august.html">today's daily bulletin</a> </li>
</ul>
<p>
</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong>:</p>
<ul>
    <li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
    <li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based. Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
    <li>TfL operates the following services: London Underground, London buses, DLR, London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
    <li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
    <li>A number of services are available including</li>
    <ul>
        <li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a></li>
        <li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a></li>
        <li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a></li>
        <li>Interviews with TfL spokespeople</li>
    </ul>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Men's semi-final football match at Wembley kicking off at evening peak -&nbsp;Metropolitan and Jubilee lines will be busyOlympic events to take place all day across the CapitalA record 4.4m passengers carried on the Tube on Friday 3 August and significant";}
        
        


 