
    
  



@{ViewBag.Title = "Appealing about an FOI response";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/transparency/freedom-of-information/appealing-about-an-foi-response";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/transparency/index">Transparency</a></li>
                
            
                 <li><a href="/corporate/transparency/freedom-of-information">Freedom of Information</a></li>
                
            
            
                <li><span class="last-breadcrumb">Appealing about an FOI response</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Appealing about an FOI response</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We try to fulfil our responsibilities under the Freedom of Information Act and take complaints about information requests seriously. If you are unhappy about our handling of your information request you can ask for an internal review.
        
      </div>
    
    
      <h2>The internal review process</h2>

<p>An internal review is an opportunity for us to consider your original request for information afresh. It is carried out by a panel drawn from TfL General Counsel, who will review the chronology, a summary of the facts and any supporting documentation.</p>

<p>This may trigger involvement of other internal stakeholders. We may also discuss your case with those who handled your original request.</p>

<p>You can make your complaint in writing by letter or email to:</p>

<p>Information Access Team<br />
Information Governance<br />
Transport for London<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<p>Email: <a href="mailto:foi&#64;tfl.gov.uk">foi&#64;tfl.gov.uk</a></p>

<p>We will acknowledge your complaint within five working days and where possible we will respond within 20 working days.</p>

<p>We will let you know the outcome of the review. If you are still unhappy, you can appeal to the Information Commissioner's Office.</p>
      
           
      

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/internal-review-procedure.pdf">
    <div class="document-download-text">
        <p>Read TfL's Internal Review Procedure in full</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 213KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 <div>


         
        <p>This procedure is for complaints about information requests, ie requests that fall under the Freedom of Information Act, Environmental Information Regulations, INSPIRE Regulations or Re-use of Public Sector Information Regulations.</p>
        <p>For any other complaints, for example about a TfL service, please visit <a href="https://custserv.tfl.gov.uk/icss_csip/resetSession2.do?Standalone=yes&showmodulename=false">Help &amp; contact</a>.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/transparency/index" class="heading">
                    <h2 id="sub-menu-heading">Transparency<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/transparency/audit-of-accounts---notice-of-public-rights">Audit of accounts</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information">Freedom of Information</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/search">Search</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-make-request">Make a request</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-exemptions-and-charges">FOI exemptions & charges</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/appealing-about-an-foi-response">Appealing about an FOI response</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-performance">FOI performance</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us about transparency</h3>
         </div>
        <img class="content-image" src="/cdn/static/cms/images/howard-carter.jpg" alt="Howard Carter" />
        <span class="contact-name">Howard Carter, General Counsel</span>
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:foi&#64;tfl.gov.uk">foi&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            <h4>Information Governance.</h4>
            
            <p>
                
                Transport for London <br />
                4th Floor<br />
                5 Endeavour Square<br />
                London E20 1JN
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "If we have turned down your request or withheld some of the information you wanted, you can ask for an internal review";}
        
            
        


 