
    
  



@{ViewBag.Title = "FOI performance";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/transparency/freedom-of-information/foi-performance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/transparency/index">Transparency</a></li>
                
            
                 <li><a href="/corporate/transparency/freedom-of-information">Freedom of Information</a></li>
                
            
            
                <li><span class="last-breadcrumb">FOI performance</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>FOI performance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We receive around 3,000 Freedom of Information (FOI) and Environmental Information Regulations (EIR) requests every year.
        
      </div>
    
    
      <p>We are committed to publishing more information to reduce the need for the public to make bespoke FOI requests. Here are the headline performance figures. </p>
      
           
      
<div>



<h2>FOI requests since 2010/11</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/foi-stats.xlsx">
    <div class="document-download-text">
        <p>Freedom of Information requests since 2010/11</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.04 -->
 
</div>
<p>This spreadsheet provides a breakdown of the volume of information requests and the proportion answered within statutory deadlines.</p>
<p>The most common reason for refusing a request is that the information is already published, but requests may also be refused if the cost of responding is too high or the request is vexatious. Some information might be withheld from a response to protect personal data, commercial confidentiality, public safety or the environment.</p>
</div>
 

<div class="table-container"><table>
	<thead>
		<tr>
			<th id="table_heading_0"><strong>Year</strong></th>
			<th id="table_heading_1"><strong>Number of requests</strong></th>
			<th id="table_heading_2"><strong>Percentage answered on time</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2018/19</td>
			<td>3027</td>
			<td>95.7%</td>
		</tr>
		<tr>
			<td>2017/18</td>
			<td>3201</td>
			<td>91.3%</td>
		</tr>
		<tr>
			<td>2016/17</td>
			<td>2616</td>
			<td>80.7%</td>
		</tr>
		<tr>
			<td>2015/16</td>
			<td>2582</td>
			<td>85.4%</td>
		</tr>
		<tr>
			<td>2014/15</td>
			<td>2218</td>
			<td>87.0%</td>
		</tr>
		<tr>
			<td headers="table_heading_0">2013/14&nbsp;&nbsp;&nbsp;</td>
			<td headers="table_heading_1">2648</td>
			<td headers="table_heading_2">87.3%</td>
		</tr>
		<tr>
			<td headers="table_heading_0">2012/13</td>
			<td headers="table_heading_1">2345</td>
			<td headers="table_heading_2">85.5%</td>
		</tr>
		<tr>
			<td headers="table_heading_0">2011/12</td>
			<td headers="table_heading_1">2509</td>
			<td headers="table_heading_2">85%</td>
		</tr>
		<tr>
			<td headers="table_heading_0">2010/11</td>
			<td headers="table_heading_1">2008</td>
			<td headers="table_heading_2">77.8%</td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/transparency/index" class="heading">
                    <h2 id="sub-menu-heading">Transparency<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/transparency/audit-of-accounts---notice-of-public-rights">Audit of accounts</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information">Freedom of Information</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/search">Search</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-make-request">Make a request</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-exemptions-and-charges">FOI exemptions & charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/appealing-about-an-foi-response">Appealing about an FOI response</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-performance">FOI performance</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Performance figures for FOI and EIR requests that TfL receive every year.";}
        
            
        


 