
    
  



@{ViewBag.Title = "FOI exemptions & charges";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/transparency/freedom-of-information/foi-exemptions-and-charges";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/transparency/index">Transparency</a></li>
                
            
                 <li><a href="/corporate/transparency/freedom-of-information">Freedom of Information</a></li>
                
            
            
                <li><span class="last-breadcrumb">FOI exemptions & charges</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>FOI exemptions & charges</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Freedom of Information (FOI) Act 2000 provides a right to request access to all types of recorded information held by public authorities. This includes Transport for London and its subsidiary companies (including Crossrail Ltd).
        
      </div>
    
    
      
        <p>Although we answer the majority of requests in full, we do hold some information that we have a duty to protect. The law recognises this and some information is exempt from disclosure under the FOI Act. If disclosure would cause genuine harm then it is likely that an exemption will apply. We consider every request individually, but the main reasons for withholding information under an exemption fall into six broad categories:</p>
        <ul>
            <li>Disclosure of personal information would affect someone's privacy</li>
            <li>Disclosure would be detrimental to justice or the environment</li>
            <li>Disclosure would breach confidentiality obligations or prejudice commercial interests</li>
            <li>Disclosure could put someone at risk of harm</li>
            <li>We intend to publish the information in the future</li>
            <li>The request is clearly unreasonable</li>
        </ul>
        <p>If there is a reason why we can't provide all the information that you have requested, we will write to you and explain why. We will tell you how to appeal if you disagree with our decision, and we will provide advice and assistance should you want to resubmit your request.</p>
        <h2>Cost limits</h2>
        <p>We have a duty to use public funds effectively. One way that we do this is by making popular information available on our website. </p>
        <p>Another way is by managing the cost of responding to individual FOI requests. We may refuse to answer an FOI request if the cost of determining whether we hold the information, and the cost of locating, retrieving and extracting the information would exceed &pound;450. This cost limit is equivalent to 18 hours work calculated at a rate set by law at &pound;25 per hour. We can combine requests made by one person, or made by a number of people who appear to be working together to obtain information on a similar theme. </p>
        <p>If we can't give an answer within the cost limit, we will advise you on refining and resubmitting your request. </p>
    
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/transparency/index" class="heading">
                    <h2 id="sub-menu-heading">Transparency<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/transparency/audit-of-accounts---notice-of-public-rights">Audit of accounts</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information">Freedom of Information</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/search">Search</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-make-request">Make a request</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-exemptions-and-charges">FOI exemptions & charges</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/appealing-about-an-foi-response">Appealing about an FOI response</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/transparency/freedom-of-information/foi-performance">FOI performance</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us about transparency</h3>
         </div>
        <img class="content-image" src="/cdn/static/cms/images/howard-carter.jpg" alt="Howard Carter" />
        <span class="contact-name">Howard Carter, General Counsel</span>
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:foi&#64;tfl.gov.uk">foi&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            <h4>Information Governance.</h4>
            
            <p>
                
                Transport for London <br />
                4th Floor<br />
                5 Endeavour Square<br />
                London E20 1JN
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Exemptions and charges for Freedom of Information requests";}
        
            
        


 