
    
  



@{ViewBag.Title = "Adverse weather conditions";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/adverse-weather-conditions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Adverse weather conditions</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Adverse weather conditions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Please check before you travel for the latest information on how the adverse weather conditions will affect your journey.
        
      </div>
    
    
      <p>Due to a fault in Gidea Park Depot, some TfL Rail services this evening will be cancelled. We are working hard to run more services if we can and are sorry for the inconvenience this will cause.</p>
<h2>Cancellations</h2>
<h3>Liverpool Street to Shenfield</h3>
<p>
1824       -              Liverpool Street to Gidea Park<br />
1832       -              Liverpool Street to Gidea Park<br />
1847       -              Liverpool Street to Shenfield<br />
2040       -              Liverpool Street to Shenfield<br />
2235       -              Liverpool Street to Shenfield<br />
0032       -              Liverpool Street to Shenfield</p>
<h3>Shenfield to Liverpool Street</h3>
<p>
1812       -              Gidea Park to Liverpool Street<br />
1944       -              Shenfield to Liverpool Street<br />
2134       -              Shenfield to Liverpool Street<br />
2329       -              Shenfield to Liverpool Street</p>
<p>Last trains are unaffected in both directions and all other services will be running a normal timetable.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "There are several cancellations on TfL Rail evening of Thursday 1 March 2018";}
        
            
        


 