
    
  



@{ViewBag.Title = "Diversity in Advertising competition judges";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/diversity-in-advertising-competition-judges";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/diversity-advertising-competition">Diversity in Advertising competition</a></li>
                
            
            
                <li><span class="last-breadcrumb">Diversity in Advertising competition judges</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Diversity in Advertising competition judges</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A panel of industry experts will judge the entries for Diversity in Advertising competition.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/claire-beale_rdax_400x200.jpg" alt="Claire Beale" />
        
    </div>
    <h2>Claire Beale </h2>
<h3>Global Editor in Chief, Campaign</h3>
<p>Claire is Global Editor in Chief of Campaign, overseeing the content for Campaign's eight international editions.</p>
<p>She was editor of Campaign UK for over ten years, and is a regular commentator and writer on advertising, marketing and media on TV and in the press.</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic left-float">
        <img src="/cdn/static/cms/images/staynton-brown_rdax_400x200.jpeg" alt="Staynton Brown" />
        
    </div>
    <h2>Staynton Brown</h2>
<h3>Director of Diversity and Inclusion, TfL</h3>
<p>Since graduating in 2003, Staynton has held a variety of roles in healthcare, education, local government and criminal justice.  Immediately after university, he trained as a probation officer, working in public protection with high risk offenders.</p>
<p>Staynton went on to work for the Learning and Skills Council, leading on social inclusion, equality and project management.</p>
<p>He spent eight years in healthcare, where he was an associate director at Guy's and St Thomas' NHS Foundation Trust hospital and an assistant director in the Lambeth Public Health team.</p>
<p>In 2013 he was made a Health Services Journal BME pioneer in the inaugural list of the top 50 people in the NHS</p>
<p>Staynton is a fellow at the Royal Society of Arts and on the Board of Directors of a charity that runs a college and number of schools across London.</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/ete-davies_rdax_400x200.jpg" alt="Ete Davies " />
        
    </div>
    <h2>Ete Davies</h2>

<h3>Chief Executive Officer, ENGINE Creative</h3>

<p>Ete is the CEO of ENGINE Creative, the creative pillar of ENGINE &#45; a full stack creative and consultancy offering designed to help organisations navigate disruption and thrive in the future.</p>

<p>With over 15 years' experience working at some of the UK's top digital agencies including AnalogFolk, AKQA, Tribal DDB, Modem Media (Digitas) and SixandCo; He's gained experience across varying sectors from Financial Services, to Technology, Retail, Health, FMCG and Automotive; leading and working across innovative and award-winning projects ranging from global digital campaigns to business transformation, as well as digital products, platforms and services.</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic left-float">
        <img src="/cdn/static/cms/images/vanessa-kingori_rdax_400x200.jpg" alt="Vanessa Kingori" />
        
    </div>
    <h2>Vanessa Kingori MBE</h2>
<h3>Publishing Director, Vogue</h3>
<p>In 2017, Vanessa was confirmed as the new publishing director of British Vogue.</p>
<p>She was previously publisher at GQ Style and British GQ, where she oversaw the highest total annual revenue for the brand in the last decade. She was also the first female publisher during the title's 30-year history.</p>
<p>Prior to her career at Cond&eacute; Nast, Vanessa worked at Esquire and the Evening Standard's ES Magazine.</p>
<p>
The award-winning publisher was also honoured with an MBE in the Queen's Birthday Honours List in 2016, and is a member of the Mayor of London's Brexit Expert Advisory Panel.</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/leah-kreitzman_rdax_400x200.jpg" alt="Leah Kreitzman" />
        
    </div>
    <h2>Leah Kreitzman</h2>

<h3>Mayoral Director for External and International Affairs, Greater London Authority (GLA)</h3>

<p>Leah is Mayoral Director for External and International Affairs, having previously been a Senior Adviser to Sadiq Khan's campaign to be Mayor of London.</p>

<p>Before this, Leah was Director of Public Affairs for UNICEF UK. She has led advocacy campaigns for international NGOs such as Save the Children and ONE, as well as working for the UK's leading international development think tank, the Overseas Development Institute.</p>

<p>Leah has also been a strategic communications adviser to the Shadow Cabinet on criminal justice, human rights, and constitutional reform.</p>

<p>She has an MSc in International Relations from the London School of Economics and a BSc in Philosophy and Politics from the University of Bristol.</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic left-float">
        <img src="/cdn/static/cms/images/chris-macleod_rdax_400x200.jpg" alt="Chris MacLeod" />
        
    </div>
    <h2>Christopher Macleod</h2>
<h3>Customer Director, TfL</h3>
<p>Chris is responsible for a diverse portfolio of activity, ranging from promoting Buses and the Tube to improving the customer experience of all TfL services.</p>
<p>In 2012 he oversaw the Marketing of transport in London during the Olympic and Paralympic Games.</p>
<p>He has also worked to make TfL a more customer focused organisation, developing the 'Every Journey matters' promise.</p>
<p>During his time at TfL, it has won every major Marketing award including Campaign's Advertiser of the Year and Marketing Society and IPA Effectiveness awards.</p>
<p>Chris began his career in advertising and has worked at Saatchi &amp; Saatchi (twice). Latterly he was chairman of Collett Dickenson Pearce.</p>
<p>He has a degree from Newcastle Business School, a Master's degree from the LSE and is a regular on the Bakerloo Underground line.</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/leila-siddiqi_rdax_400x200.jpg" alt="Leila Siddiqi" />
        
    </div>
    <h2>Leila Siddiqi</h2>

<h3>Head of Diversity, Institute of Practitioners in Advertising (IPA)</h3>

<p>Leila leads the IPA's diversity strategy.</p>

<p>She works with advertising and marketing agencies, brands and industry leaders to demonstrate how diversity can improve creativity and effectiveness. She uses a collaborative and strategic marketing approach with the objective of long term behaviour change.</p>

<p>Leila provides professional support to agencies in developing and implementing equality and diversity and inclusion plans,</p>

<p>She launched a new inspiration series Stepping into the Spotlight to support and complement the IPA Women of Tomorrow programme. It is aimed at mid to senior level women in the industry and addresses some of the challenges they face when putting themselves forward for senior positions,</p>

<p>She is an active member of UN Women and Unilever's Unstereotype Alliance and has launched various best practice initiatives including the IPA diversity round table series and the IPA Diversity hub.</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic left-float">
        <img src="/cdn/static/cms/images/elizabeth-uviebinene_rdax_400x200.jpg" alt="Elizabeth Uviebinené, Author and journalist " />
        
    </div>
    <h2>Elizabeth Uviebinen&eacute;</h2>

<h3>Author and columnist</h3>

<p>Elizabeth Uviebinen&eacute; is a multi-award winning Author. She is the co-author of the bestselling book, Slay In Your Lane: The Black Girl Bible. Elizabeth is a columnist at the Financial Times and has written for Elle and Red magazine. Prior to this, she led marketing activation campaigns at a global brand.</p>

<p>In 2018 she was awarded a Groucho Maverick Award for being a 'culturally progressive innovator, making the change', was a recipient of a Marie Claire Future Shaper award and won the 'Arts and Media' rising star award at this years The Black British Business Awards with her co-author Yomi Adegoke.</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic right-float">
        <img src="/cdn/static/cms/images/debbie-weekes-bernard_rdax_400x200.jpg" alt="Debbie Weekes-Bernard" />
        
    </div>
    <h2>Debbie Weekes-Bernard</h2>

<h3>Deputy Mayor, Social Integration, Social Mobility, Community Engagement, Greater London Authority (GLA)</h3>

<p>Debbie Weekes-Bernard became Deputy Mayor for Social Integration, Social Mobility and Community Engagement in November 2018.</p>

<p>Debbie joined the mayoral team from the Joseph Rowntree Foundation where she led the organisation's work on poverty and ethnicity with additional areas of expertise on labour markets, education, lone parents, young people and society. Before this Debbie worked at the Runnymede Trust as Head of Research.</p>

<p>She has a PhD in psychology and sociology and worked as a lecturer on social psychology and criminology, teaching students in both the further education and higher education sector.</p>

<p>Alongside professional work, Debbie has a longstanding professional and personal interest in social justice, social mobility and community engagement. Debbie is a trustee of the Equality and Diversity Forum and has sat on a number of other influential panels and working parties including the Poverty Commissions for both the National Union of Students and the London borough of Lewisham.. She has also served locally as a chair of governors for two federated primary schools in East London.&nbsp;</p> 
</div> 
 <div class="clearfix">
        
    
    <div class="image-box profile-pic left-float">
        <img src="/cdn/static/cms/images/dayoung-yun_rdax_400x200.jpg" alt="Dayoung Yun" />
        
    </div>
    <h2>Dayoung Yun</h2>

<h3>Creative Director, R/GA</h3>

<p>Dayoung is a Korean-born American Creative Director who recently joined R/GA London as part of the agency's new look creative leadership, led by Andre Le Masurier (EMEA CCO). In her role she will play a key part in raising the bar on creativity across the agency, specifically looking beyond the industry to innovate and transform how R/GA bring products and ideas to the masses in new ways that influence culture.</p>

<p>Yun started her career at Crispin, Porter+Bogusky where she created numerous award-winning campaigns including, Coke Zero 'Taste Infringement' and was recognised by Adweek as 'a Creative you should know'. After 10 years at various CP+B offices, including London which she helped establish, she joined Mother and worked with clients including Boots and Notonthehighstreet.com.</p>

<p>Prior to R/GA, she worked at Pablo, leading multiple new accounts, while also winning the TFL diversity in advertising competition 2018 with the Me.No.Pause campaign for her client, Holland &amp; Barrett, which sparked new conversation around menopause in culture.</p> 
</div> 
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/diversity-advertising-competition" class="heading">
                    <h2 id="sub-menu-heading">Diversity in Advertising competition<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/campaign/diversity-in-advertising-competition-judges">Diversity in Advertising competition judges</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Read the biographies of our Diversity in Advertising competition judges";}
        
            
        


 