
    
  


<!-- rhroot -->
@{ViewBag.Title = "Diversity in Advertising competition";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/diversity-advertising-competition";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Diversity in Advertising competition</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Diversity in Advertising competition</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are running our Diversity in Advertising competition once again in 2019. This year we're asking for a campaign that reflects London's Black, Asian or Minority Ethnic communities.
        
      </div>
    
    <div class="on-this-page">
      <p>We are not looking for ideas created solely to communicate this message of ethnic diversity, though - it needs to genuinely market whatever brand or product is behind it.</p>

<p>Our inaugural Diversity in Advertising competition in 2018 focused on challenging attitudes around gender inequality. Now we want authentic portrayals of people from our Black, Asian or minority ethnic communities, with realistic depth and resonance. The work also needs to reflect the diversity within groups as well as between them.</p>

<p>London's rich diversity and proud tradition of openness towards people of all faiths, nationalities and backgrounds, is what truly defines us and sets us apart as the greatest city in the world. We want to see this represented in our advertising.</p>

<p>It is not necessary to include people of more than one group in the submission to answer the brief - you could represent many groups or identities or just one Londoner. The emphasis is on being genuine and credible, and challenging stereotypes is more about authenticity and depth than simplistic representation.</p>

<p>We welcome intersectionality, where one person can represent more than one group.</p>

<h2>How to enter</h2>

<p>Entry is open to media, advertising and creative agencies, as well as brand marketing teams.</p>

<p>The winning creative will be made up of two elements which seamlessly complement each other:</p>

<ul>
	<li>A 10-second full motion clip for use on the rail digital advertising estate</li>
	<li>A static digital D6 style display for use on our bus shelter estate</li>
</ul>

<p>To enter:</p>

<ul>
	<li>Submit the <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v2W9H-9d6k6mkqCJwlU0a-8ZM2PM-F9NlUrCreJS3WJUM1kxNDI1NlE5NFRTWFVTWDZEOEFQRFFHQS4u">TfL Advertising Competition form</a>&nbsp;OR</li>
	<li>Register your interest&nbsp;by emailing&nbsp;<a href="mailto:adcompetition&#64;tfl.gov.uk?subject=Diversity%20in%20Advertising%20competition">adcompetition&#64;tfl.gov.uk</a>&nbsp;- we will then send you the application form</li>
</ul>

<p>On the form you must also upload the following:</p>

<ul>
	<li>An outline of a static image</li>
	<li>A storyboard for a 10-second full motion clip</li>
</ul>

<p>You are accountable for agreement and final sign off from the brand.</p>

<p>Complete and submit your entry form by 17:00 on 12 December 2019 when the competition closes.</p>

<p>Judging takes place in late December and the winner will be announced in early 2020.</p>

<p>Read the full <a href="/corporate/terms-and-conditions/competitions">terms and conditions</a>.</p>

<h2>What the judges are looking for</h2>

<p>The judges are looking for a campaign that acts as a catalyst to change perception.</p>

<p>They are looking for a creative concept with real impact which can drive change in how the industry considers diversity across its creative work.</p>

<p>Specifically, all entries must answer the following questions:</p>

<ul>
	<li>Creative concept: How well does the campaign engage the audience, how well does it challenge the norm?</li>
	<li>Brand alignment: How well does the campaign support the brand values of the organisation, how will this campaign produce positive results for the brand?</li>
	<li>Amplification: How can the campaign message live beyond the outdoor space provided in the competition and fully capitalise on this opportunity with an integrated approach?</li>
	<li>Does the campaign comply with <a href="/info-for/business-and-commercial/commercial-media">TfL's advertising policy</a>? We will exclude campaigns that don't adhere to the policy</li>
</ul>

<h2>The prize</h2>

<p>The winning campaign will receive &pound;500,000 of digital advertising value.</p>

<p>It will be displayed across the TfL Rail and Bus Shelter networks during the first quarter of 2020. The campaign will be displayed on the following assets:</p>
      
           
      <div>

<h2>The judges</h2>

<p><a href="/campaign/diversity-in-advertising-competition-judges">A panel of industry experts</a> will judge the entries.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/diversity-advertising-competition" class="heading">
                    <h2 id="sub-menu-heading">Diversity in Advertising competition<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/diversity-in-advertising-competition-judges">Diversity in Advertising competition judges</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "In 2019 our annual Diversity in Advertising competition is focusing on advertising that promotes equality for the BAME community";}
        
            
        


 