
    
  



@{ViewBag.Title = "Fares freeze";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/fares-freeze";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/fares-freeze.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/fares-freeze.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Fares freeze</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Fares freeze</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>The Mayor, Sadiq Khan has frozen fares in London.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<h2>Fares&nbsp;frozen from January&nbsp;2020</h2>

<ul>
	<li>All <a href="/fares/find-fares/bus-and-tram-fares">fares on buses and trams</a></li>
	<li>All single <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a> fares and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">paper single tickets </a>on Tube and DLR services</li>
	<li>All <a href="/modes/cycling/santander-cycles/what-you-pay">Santander Cycle</a> hire and access charges</li>
	<li>All fares on <a href="/fares/find-fares/emirates-air-line-fares">Emirates Air Line</a></li>
	<li>Certain fares on <a href="/modes/london-overground/index">London Overground</a> and <a href="/modes/tfl-rail/index">TfL Rail</a></li>
	<li>Certain fares on <a href="/modes/river/about-river-bus">River Bus</a></li>
</ul>

<p><a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">Travelcard prices</a>, daily and weekly <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">caps</a> are set together&nbsp;with Train Operating Companies and not solely by the Mayor.</p>
</div>
 
<h3>Frozen bus and tram fares (adult-rate)</h3>
<div class="table-container"><table>
    <thead>
        <tr>
            <th colspan="1" rowspan="1" id="table_heading_0"><strong>Single journeys</strong></th>
            <th colspan="1" rowspan="1" id="table_heading_1"><strong>Daily cap</strong></th>
            <th colspan="1" rowspan="1" id="table_heading_2"><strong>One Day Bus &amp; Tram Pass</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">&pound;1.50</td>
            <td headers="table_heading_1">&pound;4.50</td>
            <td headers="table_heading_2">&pound;5.00</td>
        </tr>
    </tbody>
</table></div>


 

<div class="table-container"><table>
    <thead>
        <tr>
            <th colspan="1" rowspan="1" id="table_heading_0"><strong>7 Day Bus &amp; Tram Pass</strong></th>
            <th colspan="1" rowspan="1" id="table_heading_1"><strong>Weekly Cap</strong></th>
            <th colspan="1" rowspan="1" id="table_heading_2"><strong>Monthly Bus &amp; Tram Pass</strong></th>
            <th colspan="1" rowspan="1" id="table_heading_3"><strong>Annual Bus &amp; Tram Pass</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">&pound;21.20</td>
            <td headers="table_heading_1">&pound;21.20</td>
            <td headers="table_heading_2">&pound;81.50</td>
            <td headers="table_heading_3">&pound;848</td>
        </tr>
    </tbody>
</table></div>


 
<h3>Frozen Tube, DLR, London Overground and TfL Rail pay as you go&nbsp;fares (adult-rate)</h3>
<div class="table-container"><table>
    <thead>
        <tr>
            <th colspan="1" rowspan="1" id="table_heading_0"><strong>Zones
            </strong></th>
            <th colspan="1" rowspan="1" id="table_heading_1"><strong>Peak</strong></th>
            <th colspan="1" rowspan="1" id="table_heading_2"><strong>Off-peak</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">Zone 1 only</td>
            <td headers="table_heading_1">&pound;2.40</td>
            <td headers="table_heading_2">&pound;2.40</td>
        </tr>
        <tr>
            <td headers="table_heading_0">Zones 1-2</td>
            <td headers="table_heading_1">&pound;2.90</td>
            <td headers="table_heading_2">&pound;2.40</td>
        </tr>
        <tr>
            <td headers="table_heading_0">Zones 1-3</td>
            <td headers="table_heading_1">&pound;3.30</td>
            <td headers="table_heading_2">&pound;2.80</td>
        </tr>
        <tr>
            <td headers="table_heading_0">Zones 1-4</td>
            <td headers="table_heading_1">&pound;3.90</td>
            <td headers="table_heading_2">&pound;2.80</td>
        </tr>
        <tr>
            <td headers="table_heading_0">Zones 1-5</td>
            <td headers="table_heading_1">&pound;4.70</td>
            <td headers="table_heading_2">&pound;3.10</td>
        </tr>
        <tr>
            <td headers="table_heading_0">Zones 1-6</td>
            <td headers="table_heading_1">&pound;5.10</td>
            <td headers="table_heading_2">&pound;3.10</td>
        </tr>
    </tbody>
</table></div>
<p>Where fares are not frozen, there are separate fares for some journeys that include travel on London Overground and TfL Rail:</p>

<ul>
	<li>Between Liverpool Street and Enfield Town, Cheshunt, Chingford and Emerson Park and all intermediate stations&nbsp;</li>
	<li>Between Shadwell and New Cross, Crystal Palace and West Croydon and all intermediate stations</li>
	<li>To and from Brentwood and Shenfield</li>
	<li>Between Hayes and Harlington, and Heathrow Terminal 4</li>
	<li>Between Iver and Reading</li>
</ul>

<h2>Changes to fares</h2>

 <div class="vertical-button-container">



<a href="/campaign/new-fares"  class="plain-button">See changes to some fares from 2 January 2020</a>

</div>

                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Sadiq Khan, Mayor of London, is committed to freezing fares";}
        
            
        


 