
    
  



@{ViewBag.Title = "Incident support service";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/incident-support-service";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Incident support service</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Incident support service</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you or someone you know has been injured during, or affected by, a serious incident involving TfL services, we offer comprehensive help and support via The Sarah Hope Line. This page describes the help you can receive, who is eligible and how to contact the service.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/sarah-hope2_rdax_400x250.jpg" alt="Sarah Hope logo" />
        
        
        
    </div>
    <h2>How we can help you</h2>

<p>If you have been involved in, or affected by, a life-changing incident on the TfL network you can contact The Sarah Hope Line in full&nbsp;confidentiality.</p>

<p>We have a dedicated team on hand to make sure that you get the help you deserve, and&nbsp;work in partnership with organisations that can provide further specialised support.</p>
 </div>
 <div>

<h2>Who is eligible?</h2>

<p>The service covers incidents on all TfL modes of transport.</p>

<p>You are eligible for support if:</p>

<ul>
	<li>You have been involved in a&nbsp;life-changing incident</li>
	<li>You are the family member of someone involved in a life-changing incident or fatality</li>
	<li>You were a witness to such an incident</li>
</ul>

<h2>How to contact us</h2>

<p>You can call The Sarah Hope Line on 0343 222 5678,&nbsp;Monday-Friday 08:00-18:00 (<a href="/corporate/terms-and-conditions/tfl-call-charges">check TfL call charges</a>). A voicemail service operates outside of these times.</p>

<p>You can also reach us by email at <a href="mailto:SHL&#64;tfl.gov.uk">SHL&#64;tfl.gov.uk</a>.</p>

<h2>Sarah Hope's story</h2>

<p>Sarah Hope was involved in an incident on our network, and her experience led to the foundation of the Sarah Hope Line.</p>

<p><a href="/campaign/sarah-hope-s-story">Read Sarah's story</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/safety/report-a-crime-or-incident" class="plain-button">Reporting a crime or incident</a>
<a href="/corporate/safety-and-security/index" class="plain-button">Safety and security</a>
    </div>
</div>
 <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Support contact</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:SHL&#64;tfl.gov.uk">SHL&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 5678<br />
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>Monday-Friday 08:00-18:00 (check <a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>). A voicemail service operates outside of these times.</p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Support for those affected by incidents involving TfL services";}
        
            
        


 