
    
  



@{ViewBag.Title = "Fares from 2 January 2020";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/new-fares";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Fares from 2 January 2020</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Fares from 2 January 2020</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Many fares are frozen, although on 2 January 2020 some fares changed. On average, Travelcards and caps increased by 2.8%.
        
      </div>
    
    <div class="on-this-page">
      <h2>What fares changed?</h2>

<ul>
	<li>Some <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a> and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">cash&nbsp;fares</a>&nbsp;on London Overground</li>
	<li>Some <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go </a>and most <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">cash fares </a>on TfL Rail</li>
	<li>Most <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a> and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">cash fares </a>on National Rail</li>
	<li><a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">Daily and weekly caps</a>&nbsp;(except weekly capping on bus and tram only)</li>
	<li><a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">Travelcards</a></li>
</ul>

<h2>London Overground and TfL Rail</h2>

<p>Most <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;single fares are frozen.</p>

<p>Pay as you go fares for some&nbsp;journeys on London Overground routes to and from Liverpool Street, and on TfL Rail changed:</p>

<ul>
	<li>Some adult-rate fares&nbsp;increased by 20p or 30p</li>
	<li>Some half adult-rate fares&nbsp;increased by 10p or 15p</li>
	<li>Some child-rate fares increased by 10p or 15p</li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single paper tickets</a>&nbsp;increased on these routes and on London Overground south of Shadwell</li>
</ul>

<p>Find the cost of a single journey between any two stations with our <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">single fare finder</a>.</p>

<h2>National Rail single fares within Zones 1-9</h2>

<ul>
	<li>Most adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go </a>fares&nbsp;increased by 10p or 20p</li>
	<li>Most half adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;fares&nbsp;increased by 5p or 10p</li>
	<li>Child rate off-peak pay as you go fares for <a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocard</a>&nbsp;holders are frozen. Fares for travel&nbsp;at peak times&nbsp;increased by 5p or 10p</li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single paper tickets</a>&nbsp;increased</li>
</ul>

<p>Pay as you go fares are frozen on National Rail routes where they are set by TfL:</p>

<ul>
	<li><strong>Chiltern Railways</strong>: Amersham to Marylebone, West Ruislip to Marylebone</li>
	<li><strong>Thameslink and Great Northern</strong>: Finsbury Park to King's Cross or Moorgate, West Hampstead to Elephant &amp; Castle or London Bridge</li>
	<li><strong>Great Western Railway</strong>: West Drayton or Greenford to Paddington</li>
</ul>

<p>Find the cost of a single journey between any two stations with our <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">single fare finder</a>.</p>

<h2>Daily capping (all services)</h2>

<ul>
	<li>Adult-rate <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">daily caps</a> increased by 20p-50p for journeys within Zones 1-9</li>
	<li>Adult-rate <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">daily caps</a> increased by 40p-90p for journeys including <a href="/fares/find-fares/national-rail-fares-beyond-zone-9">travel beyond Zone 9</a> (to Watford Junction, Hertford East, Shenfield and Gatwick Airport)</li>
	<li>Child-rate off-peak <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">daily caps </a>are frozen at &pound;1.50</li>
	<li>Child-rate Anytime <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">daily caps</a> increased by 10p-25p within Zones 1-9</li>
	<li>Child-rate <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">daily caps</a> increased by 25p-50p for journeys including <a href="/fares/find-fares/national-rail-fares-beyond-zone-9">travel beyond Zone 9</a> (to Watford Junction, Hertford East, Shenfield and Gatwick Airport)</li>
	<li>Half adult-rate <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">daily caps</a> increased by 10p-25p within Zones 1-9</li>
	<li>Half adult-rate <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">daily caps</a> increased by&nbsp;25p-45p for journeys including <a href="/fares/find-fares/national-rail-fares-beyond-zone-9">travel beyond Zone 9</a> (to Watford Junction, Hertford East, Shenfield and Gatwick Airport)&nbsp;&nbsp;&nbsp;</li>
</ul>

<h2>Weekly capping</h2>

<p><a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">Weekly capping</a> (Monday to Sunday)&nbsp;for adults:</p>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">Contactless</a>&nbsp;(card or device) - all services</li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a> - bus and tram only</li>
</ul>

<p>Weekly caps (for up to&nbsp;seven days of travel ending on a Sunday)&nbsp;increased&nbsp;by an average of 2.8%.</p>

<h2>Travelcards</h2>

<ul>
	<li>Adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Day Travelcard</a> prices in Zones 1-9 increased by 40p-70p. <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Group Day Travelcard </a>prices will increase by 20p</li>
	<li>Child-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Day Travelcard</a>&nbsp;prices in Zones 1-9&nbsp;increased by 20p-40p. <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Child&nbsp;Group Day Travelcard</a>&nbsp;prices increased by 10p</li>
	<li>Travelcard season ticket prices&nbsp;increased&nbsp;by an average of 2.8%</li>
</ul>

<p>See <a href="/fares/find-fares/tube-and-rail-fares">Tube and Rail fares</a>.</p>

<p>See <a href="/fares/find-fares/national-rail-fares-beyond-zone-9">National Rail fares beyond Zone 9</a>.</p>

<h2>River Bus services for Thames Clippers</h2>

<p>Fares changed for some <a href="http://www.thamesclippers.com/route-time-table">Thames Clippers</a>&nbsp;routes:</p>

<ul>
	<li>Adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;fares within River Zones Central, East and West&nbsp;increased by 10p-20p</li>
	<li>Adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;fares between River Zones&nbsp;Central and East increased by 40p and between East and West by &pound;3.00</li>
	<li>Child-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;fares within River Zones Central, East and West&nbsp;increased by 5p-10p</li>
	<li>Child-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;fares between River Zones Central and East increased by 15p and between East and West by 90p</li>
	<li>Half adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;fares within River Zones Central, East and West&nbsp;increased by 5p-10p</li>
	<li>Half adult-rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;fares between River Zones Central and East&nbsp;increased by 20p and between East and West by &pound;1.50</li>
</ul>

<h2>Frozen fares</h2>
      
           
      <div class="vertical-button-container">



<a href="/campaign/fares-freeze"  class="plain-button">See fares that are frozen.</a>

</div>

      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">Collecting your order</span>
    <div class="fact-box-content">
        <p>Orders made online or using the TfL Oyster app can be collected after 30 minutes as part of a journey and must be collected within 4 days.</p>
        
        
        
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What's changing with TfL fares in 2020";}
        
            
        


 