
    
  



@{ViewBag.Title = "Safer travel";}
@{ViewBag.Keywords = "TfL,deliveries";}
@{ViewBag.Url = "/campaign/safer-travel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Safer travel</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Safer travel</h1>
        
      </div>
    </div>
  </div>



    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="large">
                <div class="large" data-set="section-intro">
                    <h2 class="moving-source-order">Get home using a taxi or minicab</h2>
                </div>
                <p>Find out the best options for travel at night, and how to complain or report incidents.</p>
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<h2>Get a taxi</h2>

<p>Unlike minicabs, black taxis can be hailed off the street or from one of more than 600 ranks across the Capital.</p>

<p>They can also be booked by phone or app.</p>

<p>Every taxi has a card machine, so if you don't have cash, you will be able to pay using credit, debit or contactless.</p>

<h2>Book a minicab</h2>

<p>Minicabs need to be booked direct with a licensed minicab company via app, phone, or at their office. You must receive a booking confirmation, which could be by text message, app, email or - if you're in a minicab office - paper receipt. The booking confirmation must contain, as a minimum:</p>

<ul>
	<li>The vehicle registration mark</li>
	<li>The first name of the driver</li>
	<li>The driver's private hire licence number</li>
	<li>Where the passenger can receive it, a photo of driver</li>
</ul>

<p>If the driver or the car picking you up isn't the same as in your booking confirmation, don't get in the car - it isn't safe. Never use an unbooked minicab&nbsp;- they are dangerous and illegal.</p>

<h2>What is a booked minicab?</h2>

<p>It's one that's been booked with a licensed minicab company. You could do that:</p>

<ul>
	<li>Over the phone</li>
	<li>Using an app</li>
	<li>In person at a minicab office</li>
</ul>

<p>This means that:</p>

<ul>
	<li>A TfL licensed minicab driver and vehicle will be sent to pick you up</li>
	<li>A record will be kept of your journey, your driver and the vehicle they used</li>
	<li>Your driver will have been through police background checks</li>
</ul>

<h2>What is an unbooked minicab?</h2>

<p>It's one that has not been booked with a licensed minicab company. If it's not booked, it's not safe, even if:</p>

<ul>
	<li>It has a TfL licence sticker in the window</li>
	<li>You approach a driver directly</li>
	<li>The driver approaches you</li>
	<li>A bouncer takes you to a minicab</li>
</ul>

<p>Remember, unbooked minicabs are dangerous. If there's no booking, there's no record of your journey in case there are any problems.</p>

<p>Unbooked minicabs are illegal and uninsured for carrying passengers. Only black taxis (the ones with the orange 'taxi' lights) can be hailed on the street or hired at a rank without a booking.</p>

<h2>Other ways of getting home</h2>

<p>You can use <a href="https://tfl.gov.uk/maps?Input=Current+location+">our nearby tool</a> to locate your nearest transport service.</p>

<p>The <a href="/campaign/tube-improvements/what-we-are-doing/night-tube">Night Tube</a> offers a 24-hour service Fridays and Saturdays on the Victoria, Jubilee, and most of the Central, Northern and Piccadilly lines. The Night Overground runs 24 hours a day on Fridays and Saturdays between Highbury &amp; Islington and New Cross Gate.&nbsp;Night services on the Tube and London Overground are off-peak. Day Travelcards are valid on the day of issue and for journeys starting before 04:30 the following day.</p>

<p>London Buses run services 24 hours a day. Every bus is fitted with CCTV. To find out when your next bus is due, just search for your stop or choose your route number. <a href="/travel-information/stations-stops-and-piers/index">Check live bus arrivals</a>.</p>

<h2>Policing and enforcement</h2>

<p>There are over 300 TfL compliance officers and police officers dedicated to improving the safety of travelling by taxi and private hire vehicles, tackling illegal activity and working to prevent taxi and private hire journey&nbsp;related sexual offences.&nbsp;We take all incidents seriously. All complaints and reports to TfL or the police will be fully investigated and appropriate action will be taken.</p>

<h2>Reporting a sexual offence</h2>

<p>Thousands of taxi and minicab journeys are taken every day, the majority without incident. We take passenger safety extremely seriously. If you experience any behaviour of a sexual nature from a minicab or taxi driver, including if they comment on your appearance or look at you in a way that makes you feel uncomfortable, please report it. It will be taken seriously and investigated.</p>

<p>All crimes should be reported to the police so that they can investigate. You can report sexual behaviour offences (eg groping, indecent acts, flashing) to the police by calling 101, or by reporting it online (read more about reporting a crime on the <a href="https://www.met.police.uk/report/how-to-report-a-crime/">Met Police website</a>).</p>

<p>In case of an emergency, dial 999.</p>

<p>If a driver makes you feel uncomfortable but you think their behaviour is not a crime (eg by making inappropriate comments or leering at you), we would still like to know about it.&nbsp;You can report this type of inappropriate driver behaviour to TfL by calling 0343 222 4000 (Monday to Friday, 09:00-17:00) or <a href="/help-and-contact/contact-us-about-taxi-and-private-hire">contact us online</a>.</p>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Unbooked minicabs put you at risk of attack including sexual assault and robbery.";}
        
            
        


 