
    
  



@{ViewBag.Title = "Sarah Hope's story";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/sarah-hope-s-story";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/incident-support-service">Incident support service</a></li>
                
            
            
                <li><span class="last-breadcrumb">Sarah Hope's story</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Sarah Hope's story</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Sarah Hope tells the story of the incident she was involved in on the TfL network, and how it led to the establishment of our incident support service.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>25 April 2007. A glorious and sunny day.  Winter was gone and summer was poking its bright face around the corner.  My mother Elizabeth came to stay for the first time at our new house in south west London. We were very excited by the news from two days earlier that my twin sister Victoria had given birth to her first child, a little boy.  I along with my mother and daughter Pollyanna, who was just two years old at the time, set off to the bus depot in Mortlake. We were off to visit Victoria and her baby in the Chelsea and Westminster Hospital, just a few miles away.</p>
<p>We crossed the railway bridge a few hundred yards from Mortlake train station and could hear shouting and the honking of horns coming from the bus depot. We did not really think much of it, as we were too excited. To be honest, I have tried to block the memories of what happened next from my mind. The memory is too awful, too devastating, and too tragic. So I must not think too hard as to what actually happened.  But it did happen, so fast, like a bomb going off. We entered the bus stop and I saw a child's lunchbox lying on the pavement. I bent down to pick it up.</p>
<p>I turned around and the bus was coming. So fast, that I probably stopped breathing. That is what shock does, in the face of horror you cannot breathe or even scream - that comes a few seconds later.  My mother was a very gracious person, all her life she was gentle to everyone who knew her. She never really made a fuss about things and even in that moment, she did not make a fuss. She must have just slipped away, very quickly and that is the way I hope it was. Pollyanna was about twenty feet away, she was trying to crawl towards me, but her lower leg was hanging precariously off her right knee.  It was amputated eight hours later. I could not help because I was trapped under the bus. I think I will carry the guilt for the rest of my life.</p>
<p>Nearly nine years later, we have moved house five times and my children have been to many different schools. I do not know how many operations Pollyanna has had, but she has had nearly 20 new prosthetic legs. Hospitals and leg clinics are part of our way of life. Fatalities and life-changing injuries cause not just immense sadness, but they cause chaos within families and they impact in a dramatic way to change family relationships.</p>
<p>When one is treated with empathy and compassion, it's easier to move on. In May 2011 we set up a charity to help child amputees in Tanzania, and since then we have expanded to Sierra Leone, Liberia and India. Over 250 children are now walking and going to school, their lives and the lives of their families changed forever - all thanks to the smiling inspiration of Pollyanna.  The charity is called Elizabeth's Legacy of Hope and it is my mother's legacy.</p>
<p>Throughout this time, due to a terrible litigation claim and a Court Case, I remained upset with the way we were treated as victims.  Lawyers were fighting over us, and nobody from TfL or Metroline apologised. All I wanted was kindness from the people who had hurt us so much. The fact is we were just an insurance claim. I found out how we were viewed by TfL and I was shocked and saddened. Apparently we did not have a name, we were just numbers. Seven years later I met Boris Johnson, the London Mayor. He was so sad to hear no one had said sorry and he set about to change it. Metroline did apologise, but it came very late and I wanted 'sorry' to mean 'sorry'.</p>
<p>'Sorry' means that TfL have to understand the trauma of suffering a terrible collision, and the impact, often long term, it has on the victims and their families. We are not insurance statistics and we have names. We need care, understanding and practical solutions. We need a voice at the end of the phone who will hear our cries.</p>
<p>On 25 January 2016, The Sarah Hope Line opened.  TfL has heard our story and its staff have listened with open hearts and minds to what it was really like and how dreadful it was to be ignored for years. They have said how sorry they are and I know they mean it.</p>
<p>'Sorry' also has to mean fewer fatalities and injuries and because of this TfL is working hard to make buses safer. Now bus drivers are being trained to have a deeper understanding of how vital it is to be safe ALL the time. Most of all, I know that one day I will get on a bus again, because TfL cares not just about me, but about every Londoner that uses its transport.</p>
<p>If sadness does occur, and I pray it will not, there is a kind, compassionate voice at the end of The Sarah Hope Line.</p>
<ul>
    <li>Find out more about <a href="http://elizabethslegacyofhope.org/">Elizabeth's Legacy of Hope</a>, Sarah's charity to help child amputees.</li>
    <li>Find out about our <a href="/campaign/incident-support-service">Incident support service</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Sarah Hope tells the story of the incident she was involved in on the TfL network, and how it led to the establishment of our incident support service.";}
        
            
        


 