
    
  



@{ViewBag.Title = "Southern Railway strikes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/southern-railway-strikes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "http://www.southernrailway.com/your-journey/strike");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Southern Railway strikes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Southern Railway strikes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Industrial action is causing significant disruption to Southern train services this week. There will be no metro services in London on Friday 16 December. 
        
      </div>
    
    
      
      
           
      <div>

<h2>Key points</h2>
<ul>
    <li>Alternative services in south London are busier than usual, and will be especially busy on Friday </li>
    <li>
    To help customers get around we are boosting London Overground services between Clapham Junction and Shepherd's Bush on Friday</li>
    <li>
    For full details of the strikes, see <a href="http://www.southernrailway.com/your-journey/strike">Southern's website</a></li>
</ul>
<h2> All services </h2>
<p>We expect alternative services in South London to be busier than usual, including roads, buses, London Overground, trams and the Northern line.</p>
<p><a href="/plan-a-journey/index">Plan your journey in London</a> </p>
<h2>London Overground</h2>
<ul>
    <li>We are increasing London Overground services between Clapham Junction and Shepherd's Bush on the strike day Friday 16 December</li>
</ul>
<h2>Gatwick Airport</h2>
<ul>
    <li>Southern are running fewer Gatwick Express services than usual    </li>
    <li>Additional coaches are running to Gatwick airport from Victoria Coach Station. </li>
    <li>These may be very busy so please book a ticket with your coach operator in advance and allow plenty of time to travel    </li>
    <li>Find more <a href="/modes/coaches/index">coach operator information</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Southern Railway strikes";}
        
            
        


 