
    
  



@{ViewBag.Title = "Station Wi-Fi";}
@{ViewBag.Keywords = "Public,London Overground,Tube,TfL";}
@{ViewBag.Url = "/campaign/station-wifi";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Station Wi-Fi</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Station Wi-Fi</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Wi-Fi is now available at over 260 Tube and 79 London Overground stations across the network.
        
      </div>
    
    
      <h2>Wi-Fi at Tube stations</h2>
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/virgin-media-logo-230x154.jpg" alt="Virgin Media logo" />
    </div>
    <p>We have partnered with Virgin Media to bring Wi-Fi to over 260 London Underground stations and Victoria Coach Station - more than 97% of the London Underground network.</p>

<p>You can use the Wi-Fi service to go online anywhere in those Tube stations - in ticket halls and walkways, and on platforms.</p>

<p>If you're a Virgin Media, EE, Vodafone, O2 or Three customer you can use the Wi-Fi service for free as part of your plan.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/wifi-zone-logo-sm.jpg" alt="WiFi Zone logo" />
    </div>
    <h2>Getting started with Wi-Fi</h2>

<p>Everyone can access the Virgin Media portal which includes our latest travel information. It's quick and easy to get started.</p>

<p>Choose your provider from the list below and follow their instructions:</p> 
</div>
 

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Network</strong>&nbsp;</td>
			<td>
			<p><strong>How to get access</strong></p>
			</td>
		</tr>
		<tr>
			<td><a href="https://my.virginmedia.com/my-app/what-is-virgin-media-wifi.html">Virgin Media</a> Broadband and Mobile</td>
			<td>Download the Virgin Media WiFi app and follow the on-screen instructions.</td>
		</tr>
		<tr>
			<td><a href="http://ee.co.uk/help/add-ons-benefits-and-plans/wifi-and-tethering/wifi-on-the-underground">EE</a>, T-Mobile and Orange</td>
			<td>
			<p>Text EEWiFi to 9527 and you will be sent a password to connect.</p>

			<p>Phones bought after November 2015 will automatically connect to the Wi-Fi service.</p>
			</td>
		</tr>
		<tr>
			<td><a href="http://www.vodafone.co.uk/shop/internet/wi-fi/">Vodafone</a></td>
			<td>
			<p>Your phone should automatically connect.</p>

			<p>If it doesn't, select Virgin Media WiFi from your Wi-Fi settings, open your browser and enter your My Vodafone username and password.</p>
			</td>
		</tr>
		<tr>
			<td><a href="https://www.o2.co.uk/connectivity/wifi-london-underground">O2</a></td>
			<td>
			<p>Select O2 Wi-Fi&nbsp;from your Wi-Fi settings, sign up and confirm the phone you will be using.</p>

			<p>When you are on the Underground, open your browser and select O2 from the dropdown list.</p>
			</td>
		</tr>
		<tr>
			<td><a href="http://www.three.co.uk/Support/Free_WiFi_On_London_Underground">Three</a></td>
			<td>
			<p>Log into your My3 account and change settings when above ground.</p>

			<p>When in the station, connect to Virgin Media Wi-Fi, open your browser, select Three from the 'Other providers' dropdown list and log in using your Three number and the password you set up.</p>
			</td>
		</tr>
		<tr>
			<td><a href="https://wifipass.virginmedia.com/w/Register.aspx?ReturnUrl=%2fw%2f">WiFi Pass</a> (For customers who are not on any of the above listed networks)</td>
			<td>Go to <a href="https://wifipass.virginmedia.com/w/Register.aspx?ReturnUrl=%2fw%2f">WiFi Pass page</a>,&nbsp;register with your email address and choose a password to set up for the first time. You'll then need to buy a WiFi Pass to get access to the internet.</td>
		</tr>
	</tbody>
</table></div>
<p>If you can't connect to Wi-Fi, find out more by clicking on the link to your provider.</p>

 <div>

<h3>Using the Wi-Fi service</h3>

<p>Once you've activated Virgin Media WiFi, your device will automatically pick up the Wi-Fi signal when you're in a Wi-Fi enabled Tube station. There's no signal in tunnels, but your phone will connect to the signal at the next Wi-Fi enabled platform so you can pick up where you left off.</p>

<h3>Stations with Virgin Media WiFi</h3>

<p>Virgin Media WiFi is currently available at all Tube stations and Victoria Coach Station with the following exceptions.</p>

<ul>
	<li>We are planning on rolling out Wi-Fi to: Bond Street, Moorgate and Whitechapel Tube stations</li>
	<li>Wi-Fi is not currently planned at: Heathrow T5, Kensington Olympia, Watford and Willesden Junction Tube stations</li>
</ul>

<h3>Hints and tips</h3>

<ul>
	<li>For the best experience, connect to the Virgin Media WiFi service in the ticket hall when you first enter a Tube station</li>
	<li>Your phone remembers the Wi-Fi network you connect to most frequently. Open Wi-Fi in your device settings and connect to Wi-Fi in the Tube station ticket hall or platform to connect quickly</li>
	<li>It typically takes five seconds to connect to the Virgin Media WiFi service at a Tube station (this delay is due to a security feature). If you are trying to connect at a peak time in a busy station (when hundreds of other people are also trying to connect), it may take slightly longer</li>
	<li>If you aren't able to connect to the Wi-Fi network before you get on a Tube train, don't try to connect on the train as you travel from station to station. To save battery life, some devices extend the time that they search for Wi-Fi hotspots. It's better to wait and connect when you get off the train</li>
	<li>If you are a Virgin Media, EE, O2, Three or Vodafone customer, please register for the service before trying to connect. Further information can be found via your mobile network operator's website. Once you've registered, you'll be able to connect to the Wi-Fi service seamlessly</li>
	<li>If you have any queries or issues connecting please contact your mobile network operator</li>
</ul>

<h3>Wi-Fi networks available</h3>

<p>If you are a Virgin Media, O2, Vodafone or EE customer, authentication is seamless via your SIM card. Once you've registered and you open Wi-Fi in your device settings at a Tube station, you'll see the following Wi-Fi networks:</p>

<ul>
</ul>
</div>
 

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><strong>Wi-Fi network name (SSID) </strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Who can connect?</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">Virgin Media WiFi</td>
			<td headers="table_heading_1">Virgin Media, Three, O2, Vodafone and EE customers and any customers with a Virgin Media WiFi Pass</td>
		</tr>
		<tr>
			<td headers="table_heading_0">EE WiFi-Auto</td>
			<td headers="table_heading_1">EE customers only</td>
		</tr>
		<tr>
			<td headers="table_heading_0">VodafoneWiFi</td>
			<td headers="table_heading_1">Vodafone customers only</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Wifi Extra</td>
			<td headers="table_heading_1">O2 customers only</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Virgin Media</td>
			<td headers="table_heading_1" id="table_heading_0">Virgin Media customers only</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h2>Frequently Asked Questions</h2>
<p>Got a question or having trouble connecting to Virgin Media WiFi? Here's a list of <a href="http://my.virginmedia.com/wifi/faqs.html">common questions</a>.</p>
<h2>More information from your provider</h2>
<p>Need more help or got a question for your provider? You can contact them as follows:</p>
<ul>
    <li>Virgin Media and WiFi Pass customers: <a href="http://www.virginmedia.com/contact-us.html">virginmedia.com/contact-us.html</a></li>
    <li>EE customers: Phone EE on 150 or if you are a corporate customer phone 158</li>
    <li>Vodafone customers: <a href="http://help.vodafone.co.uk">help.vodafone.co.uk</a></li>
    <li>O2 customers: <a href="http://o2.co.uk/underground/faq">o2.co.uk/underground/faq</a></li>
    <li>Three customers: <a href="http://three.co.uk/Support/Free_WiFi_On_London_Underground">www.three.co.uk/Support/Free_WiFi_On_London_Underground</a></li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/cloud-logo.jpg" alt="Cloud logo" />
    </div>
    <h2>Wi-Fi at London Overground stations</h2>

<p>We have partnered with <a href="http://www.thecloud.net/">The Cloud</a> to bring Wi-Fi to more than 79 London Overground stations, meaning you can browse, connect and share anywhere in the station.</p>

<p>Wi-Fi access is available in most ticket halls, corridors and platforms.</p> 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/tube-improvements" class="plain-button">Improving the Tube</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "See where you can access Wi-Fi on the Tube and London Overground networks";}
        
            
        


 