
    
  


<!-- rhroot -->
@{ViewBag.Title = "Student travel";}
@{ViewBag.Keywords = "Public,Schools and young people,TfL,London, students, studying, study, discount, university, college, education, transport, travel";}
@{ViewBag.Url = "/campaign/student-travel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Student travel</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Student travel</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London is a great city to be a student. If you've just started studying, we've got tips to help you get around, travel safely and save money on your fares.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Get an 18+ Student Oyster photocard</h2>

<p>You can save 30% on Travelcards and Bus &amp; Tram Passes with our <a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a>. You can also use this Oyster card to pay as you go but you won't receive the 30% discount.</p>

<p>Find the <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">cost of&nbsp;Travelcards and Bus &amp; Tram Passes</a>.</p>

<h2>Use pay as you go</h2>

<p>If you live near your school, college or university, or only make a few journeys, it could be cheaper to travel using pay as you go, instead of travelling with a discounted Travelcard or Bus &amp; Tram Pass.</p>

<p>You can use your 18+ Student Oyster card, a standard adult <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a> or&nbsp;<a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device) to pay as you go.</p>

<h3>Get&nbsp;a Railcard</h3>

<p>Get a&nbsp;<a href="https://www.16-25railcard.co.uk/">16-25 Railcard</a>&nbsp;or <a href="https://www.26-30railcard.co.uk/">26-30 Railcard</a>&nbsp;and&nbsp;add it to your 18+ Student Oyster photocard, or standard adult Oyster card&nbsp;to get 34% off pay as you go off-peak fares and daily caps for:</p>

<ul>
	<li>Tube</li>
	<li>London Overground</li>
	<li>TfL Rail</li>
	<li>most National Rail services in London</li>
</ul>

<h3>Travel off-peak</h3>

<p>Travelling off-peak&nbsp;using pay as you go&nbsp;can be cheaper. Start your journey before 06:30, between 09:30 and 15:59, or after 19:00 on weekdays. Or, travel anytime on weekends and bank holidays. Our Night Tube and London Overground Night Services are also off-peak.</p>

<h3>Daily capping</h3>

<p>Make as many journeys as you like in one day using your 18+ Student Oyster photocard, standard adult Oyster card or&nbsp;contactless (card or device) and we'll <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">cap your fare</a>.</p>

<h3>Get the Hopper fare</h3>

<p>Our <a href="/fares/find-fares/bus-and-tram-fares">Hopper fare</a> lets you make unlimited&nbsp;bus or tram journeys in one hour, for &pound;1.50 using pay as you go.</p>

<h2>How to travel around London</h2>

<p>Our steps to help you plan your journey:</p>

<ol>
	<li>Where do you need to go? <a href="/maps_/maps">See our maps</a></li>
	<li>How much does it cost? <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">Check our single fare finder</a></li>
	<li>How do you get there? <a href="/plan-a-journey/index">Plan your journey</a></li>
	<li>Are there delays? <a href="/status-updates/index">Check for status updates</a> and <a href="/travel-information/social-media-and-email-updates/index">sign up for travel alerts</a></li>
</ol>

<h3>Travelling at night</h3>

<p>Our <a href="/campaign/tube-improvements/what-we-are-doing/night-tube">Night Tube</a> and <a href="/modes/london-overground/london-overground-night-service">London Overground Night Services</a> run on Friday and Saturday nights, on several lines. Our <a href="/maps_/bus-spider-maps">night buses</a> run every night of the week.</p>

<h3>Using taxis and minicabs</h3>

<p>Minicabs must be booked with a <a href="/campaign/safer-travel">licensed minicab company</a>, via app, online, phone or in a minicab office. Always check your booking confirmation. If the driver or car isn't the same, don't get in&nbsp;- it isn't safe.</p>

<p>Only <a href="/campaign/safer-travel">black taxis</a> (the ones with the orange 'taxi' lights) can be hailed off the street or from one of 600 taxi ranks across London. They can also be booked by phone or app. Every taxi has a card machine, so if you don't have cash, you can pay using credit, debit or contactless.</p>

<p>Report unwanted sexual behaviour offences, such as groping or indecent acts, to the police by dialling 999 if it's an emergency&nbsp;- otherwise call 101.</p>

<p>Report any inappropriate driver behaviour, such as comments that make you feel uncomfortable, to TfL by calling 0343 222 4000 (Monday-Friday, 08:00-18:00) or <a href="/help-and-contact/taxi-and-private-hire-comments">online</a>.</p>

<h3>Accessible travel</h3>

<p>London is becoming one of the most accessible cities in the world.</p>

<p>We know it can be daunting if it's unfamiliar, so our <a href="/transport-accessibility/index">accessible travel</a> resources, real-time information, audio and step free tube maps and travel mentoring sessions will help you make your journey.</p>

<h3>Cycle</h3>

<p>Use your own bike or hire a <a href="/modes/cycling/santander-cycles">Santander Cycle</a>. You can ride from as little as &pound;2 a day or get <a href="/modes/cycling/santander-cycles/register-for-your-own-key">25% off yearly membership</a> to explore the city. Our <a href="/modes/cycling/index">cycling routes and maps</a> will help guide you around.</p>

<h3>Walk</h3>

<p><a href="/modes/walking/index">Walking</a> is a great way to discover London. Our <a href="/info-for/boroughs/maps-and-signs">Legible London maps</a> give you information about local areas and walking times between destinations.</p>

<p>You can also <a href="/plan-a-journey/index">plan your journey</a> to see walking routes.</p>

<h3>Riding a motorcycle</h3>

<p>If you're <a href="/travel-information/safety/road-safety-advice/motorcycling-in-london">travelling by motorcycle, moped or scooter in London</a>, we've got free courses to give you the knowledge and skills to ride with confidence.</p>

<h2>Start exploring London</h2>

<p>Explore more than 500 museums, galleries, street art and more, all within a short walk or bus ride from each Tube, DLR or London Overground station with our <a href="https://www.timeout.com/london/things-to-do/the-cultural-tfl-map">interactive Cultural Maps</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/market-teaser_rdax_400x200.jpg" alt="A busy street of people at Portobello Road Market" />
        <div class="text-only">
            <h2>5 things to do on a student budget</h2>
            
            
            <p>Take a break from your studies and explore London's student-friendly activities</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://londonblog.tfl.gov.uk/2018/09/24/5-things-to-do-in-london-on-a-student-budget/" class="secondary-button" >Find out more</a>
            
            </div>
    </div>
</div>

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about travel discounts, how to travel and tips for new students in London.";}
        
            
        


 