
    
  



@{ViewBag.Title = "Sunday 5 April";}
        <!-- empty placeholder -->
 
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/campaign/index">Campaigns</a>
                </li>
            
                
                <li>
                    <a href="/campaign/easter-travel">Easter travel</a>
                </li>
            
                
                <li>
                    <span class="last-breadcrumb">Sunday 5 April</span>
                </li>
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Sunday 5 April</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
      <div class="article-teaser">
        On Easter Sunday there will be changes to TfL and National Rail services in and around London as major modernisation work takes place. Some services will not be operating, and others will be busier than usual as customers use alternative routes.
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>All travellers should:</p>
<ul>
    <li>Plan ahead</li>
    <li>Allow more time for their journey</li>
    <li>Check before departing</li>
    <li>Know their travel options</li>
</ul>
<h2>Tube</h2>
<p>Bakerloo, Central, Jubilee and Northern lines are expected to be busier than normal.</p>
<h3>Central line</h3>
<p>Central line trains will not stop at Tottenham Court Road.</p>
<h3>Jubilee line</h3>
<p>The Jubilee line will be suspended between Waterloo and Wembley Park.
Rail replacement bus services will run from Wembley Park to Baker Street
(calling at all stations) and from Wembley Park to Stonebridge Park for
connections to the Bakerloo line and central London.</p>
<p>The Stratford to
Waterloo section of the line may be busier than usual.</p>
<h3>Metropolitan line</h3>
<p>The Metropolitan line will be suspended between Aldgate and Northwood/Uxbridge. If you are travelling into the centre from north west London, additional Piccadilly line services will run from Uxbridge and Rayners Lane. </p>
<p>Rail replacement bus services will call at all stations between Rayners Lane and Kenton (Bakerloo line). On the Watford, Chesham, and Amersham branches, Metropolitan line services will continue to run as far as Northwood. </p>
<p>Rail replacement bus services will run from Wembley Park to Northwood calling at all Metropolitan line stations and Kenton (Bakerloo line). </p>
<p>A rail replacement bus service will also run from Watford Junction to West Ruislip (Central line) via Watford, Croxley, and Rickmansworth.</p>
<h3>Piccadilly line</h3>
<p>Covent Garden will be exit only.</p>
<h2>London Overground</h2>
<p>London Overground will be suspended between:</p>
<ul>
    <li><strong>Highbury &amp; Islington and Shadwell</strong> and between <strong>Sydenham and Crystal Palace</strong> due to Crossrail and Network Rail track and station works. Until 08:30, there will be no service between <strong>Sydenham and West Croydon</strong>. Use London Overground replacement buses between Highbury &amp; Islington and Dalston Kingsland or local buses when these are unavailable. Replacement buses will operate between Dalston Kingsland and Shadwell. For travel between Sydenham and West Croydon before 08:30, use local buses. Replacement buses operate between Balham and West Croydon via Crystal Palace (change at Anerley for London Overground trains). Tickets will be accepted on local London Underground services via all reasonable routes for entrance and exit at Canada Water and Stratford stations only. Southern replacement buses operate between Balham and West Croydon</li>
    <li><strong>Camden Road and Stratford </strong>to help prepare the London Overground network for five-car trains. Replacement buses will operate between Camden Road and Stratford</li>
    <li><strong>Queen's Park and Watford Junction</strong> due to Network Rail track works. Use London Underground Bakerloo line between Queen's Park and Harrow &amp; Wealdstone, and replacement buses between Harrow &amp; Wealdstone and Watford Junction. Please note London Midland services will not be operating between Euston and Hemel Hempstead and Southern services will not operate between Shepherd's Bush and Watford Junction</li>
</ul>
<h2>DLR</h2>
<p>The DLR will be suspended between Canning Town and Beckton. Rail replacement bus services will run between Canning Town and Beckton every 10 minutes. Local buses such as the E6 are also available.</p>
<h2>Trams</h2>
<p>Trams will not run between Reeves Corner and Sandilands. A rail replacement bus service will operate for tram passengers stopping at Sandilands, East Croydon and near to Reeves Corner/Church St.</p>
<p>Buses will not serve Lebanon Road, Wellesley Rd, George St, Central and West Croydon tram stops.</p>
<p>A walking route between Sandilands and Reeves Corner will be signed. Tickets will be accepted on local bus services.</p>
<h2>Rail</h2>
<p>For more detailed information, visit the <a href="http://www.nationalrail.co.uk/service_disruptions/90175.aspx">National Rail Enquiries Easter travel site</a>.</p>
<p>Waterloo, Victoria and Marylebone stations are expected to be busier than normal.</p>
<h3>Abellio Greater Anglia</h3>
<h1>	</h1>
<ul>
    <li>No trains between London Liverpool Street and Shenfield/Colchester until approximately 08:30</li>
    <li>No services between Clapton and Cheshunt until 08:20</li>
    <li>Various lines will be closed between Norwich/Ipswich and London Liverpool Street and also between Southend Victoria/Southminster and London Liverpool Street</li>
    <li>A rail replacement bus service will be available direct to your destination, or you can use the Central line between Liverpool Street and Newbury Park in combination with the rail replacement bus service</li>
</ul>
<h3>Chiltern</h3>
<ul>
    <li>No trains between Marylebone and Great Missenden</li>
    <li>One bus per hour will run between Great Missenden and Beaconsfield for trains to or from London Marylebone</li>
    <li>Birmingham to Marylebone services are expected to be very busy</li>
</ul>
<h3>First Great Western</h3>
<ul>
    <li>All lines will be closed between Hayes and Harlington and Didcot Parkway including Thames Valley branch services.  Valid tickets for Acton Main Line, West Ealing, and Hanwell will be accepted on TfL services</li>
    <li>The service between West Ealing and Greenford will be closed.  Valid tickets will be accepted on London Underground and London buses</li>
    <li>There will be an hourly train service with all services diverted to Waterloo. Valid First Great Western tickets will be accepted between Reading and Waterloo only. The diverted train services will have a much longer journey than usual - 65 minutes compared to a usual time of approximately 30 minutes - and are expected to be very busy. South West Trains services between Reading and Waterloo will also be busier than normal</li>
    <li>Extensive rail replacement bus services will be running</li>
</ul>
<h3>Heathrow Express/Connect</h3>
<ul>
    <li>Engineering work is taking place, affecting the scheduled times of the Heathrow Connect and Heathrow Express services between London Paddington and Heathrow</li>
    <li>Scheduled departures from Heathrow Terminal 5 at 05:03, 05:18, 05:33, 05:48, 06:03 and 06:18 have been cancelled and will not run</li>
</ul>
<ul>
</ul>
<h3>London Midland</h3>
<ul>
    <li>No service between London Euston and Watford Junction. Rail replacement bus services will run between Watford, Hemel Hempstead and Euston</li>
    <li>No service between Watford and St Albans Abbey.  Rail replacement bus services will run between Watford Junction and St Albans Central for rail connections</li>
    <li>Special train services will be running. Other services will run on amended timetables</li>
</ul>
<h3>Southeastern</h3>
<ul>
    <li>Engineering work will take place between Charing Cross/Cannon Street and New Cross/Charlton with various line closures</li>
    <li>Southeastern services will not be calling at Deptford, Greenwich, London Bridge (platforms 1 to 6), Cannon Street, Charing Cross, Waterloo East, Maze Hill, or Westcombe Park</li>
    <li>Some trains will divert to Blackfriars and Victoria. Additional trains will depart from New Cross</li>
    <li>A rail replacement bus service will be running between Lewisham and Charlton</li>
    <li>If you are travelling via London Bridge, Cannon Street, Charing Cross, Waterloo or Waterloo East please travel to Blackfriars or Victoria and change for London Underground services. You can change at Lewisham for train services to Victoria or travel to New Cross and change for London Overground services to Canada Water and change again for Tube services</li>
    <li>Valid train tickets will be accepted on London Overground services between New Cross and Canada Water, on reasonable routes on London Underground services between Southwark/Embankment and Canada Water and on DLR between Lewisham and Greenwich</li>
</ul>
<h3>Southern</h3>
<ul>
    <li>Services between London Bridge and Horsham will be departing from East Croydon</li>
    <li>Services will be suspended between London Bridge and West Croydon (via Sydenham)</li>
    <li>Services will be suspended between Watford Junction and Clapham Junction</li>
    <li>You can use London Overground, London Underground or rail replacement bus services</li>
    <li>Passengers for Horsham should take trains to London Gatwick/East Croydon and change for services to Horsham</li>
    <li>Southern passengers between West Croydon and Central London should travel via London Overground services from/to New Cross Gate, Brockley, Honor Oak Park, Forest Hill and Sydenham</li>
    <li>For the duration of this work valid rail tickets will be accepted on London buses between Highbury &amp; Islington and Dalston Junction, replacement buses between Dalston Kingsland (calling at Dalston Junction) and Shadwell, on London Underground entering/exiting at Canada Water and Stratford and on London buses between Sydenham and Crystal Palace</li>
</ul>
<h3>Virgin</h3>
<ul>
    <li>No services between Euston and Watford Junction</li>
    <li>Trains will terminate at Rugby or Milton Keynes Central</li>
    <li>If you are travelling to London from the West Midlands and the North West you should use Chiltern services from Birmingham or Midland Main Line services via Derby or Leicester</li>
    <li>Passengers travelling to or from Scotland should use alternative routes between Milton Keynes and Birmingham New Street or use the East Coast Mainline</li>
</ul>
</div>
 <div>

<h2>Roads</h2>
<p>Likely areas for congestion and disruption:</p>
<ul>
    <li>A11 between Aldgate and Bow (Cycle Superhighway 2 upgrade works)</li>
    <li>St George's Road/St George's Circus/Blackfriars Road SE1 (North-South Cycle Superhighway)</li>
    <li>The junction of the A20 and A21 in Lewisham town centre (Lewisham Gateway development)</li>
    <li>Pentonville Road/Euston Road/Gray's Inn Road (King's Cross Better Junction Scheme)</li>
    <li>A3/A23/A202 junction at Oval (the Oval triangle)</li>
    <li>Duke Street Hill (A200) closed between A3 Borough High Street and Tooley Street (Network Rail London Bridge works)</li>
</ul>
<p>Drivers and motorcyclists are advised to:</p>
<ul>
    <li>Avoid driving through affected areas and use alternative routes where possible</li>
    <li>Avoid travelling during the busiest times of 10:00-18:00</li>
    <li><a href="/status-updates/index">Check live traffic news and future planned works</a> before travelling </li>
    <li><a href="https://twitter.com/tfltrafficnews">Follow &#64;TfLTrafficNews on Twitter</a> for the latest journey information</li>
    <li>Please be aware of the Congestion Charge and Low Emission Zone charging zones and terms when planning alternative routes</li>
</ul>
</div>
 <div>

<h2>Major events on Sunday 5 April</h2>
<ul>
    <li><a href="http://www.kew.org/visit-kew-gardens/whats-on/easter">Kew Gardens Easter Festival</a></li>
    <li>Wembley Arena - CBeebies Live</li>
    <li>Twickenham stadium - European Cup quarter finals </li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/easter-travel" class="heading">
                    <h2>Easter travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/friday-3-april">Friday 3 April</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/saturday-4-april">Saturday 4 April</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/campaign/sunday-5-april">Sunday 5 April</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/campaign/monday-6-april">Monday 6 April</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 