
    
  



@{ViewBag.Title = "TfL & British Cycling";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tfl-and-british-cycling";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/tfl-british-cycling-header.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/tfl-british-cycling-header.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">TfL & British Cycling</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">TfL and British Cycling</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                TfL and British Cycling are working in partnership to deliver a shared vision that will inspire more people in London to cycle for recreation, transport and sport and promote enjoyable, safe and responsible cycling.
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="https://www.britishcycling.org.uk/commuting?intcmp=50511" >
        <img src="/cdn/static/cms/images/promos/commute-smart-teaser-image_rdax_400x200.jpg" alt="Image of commuter cycling on a Cycle Superhighway in London" />
        
        <div class="text-link">
             <h2>Commute Smart videos</h2>
            <p>Commute with confidence with British Cycling's tips for new and experienced commuters</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.letsride.co.uk/social?intcmp=49245" >
        <img src="/cdn/static/cms/images/promos/hsbc-uk-ride-social_rdax_400x200.jpg" alt="Group cycling on a path" />
        
        <div class="text-link">
             <h2>HSBC UK Ride Social</h2>
            <p>Find informal bike rides near you and set up your own group rides</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.britishcycling.org.uk/londonmembership?intcmp=27700" >
        <img src="/cdn/static/cms/images/promos/cycling-membership-image_rdax_400x200.jpg" alt="Cycling in London image" />
        
        <div class="text-link">
             <h2>Become a British Cycling London member</h2>
            <p>Get 15 months for the price of 12, liability insurance and a range of other benefits</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.letsride.co.uk/breeze?intcmp=31043" >
        <img src="/cdn/static/cms/images/promos/womens-breeze-ride-photo_rdax_400x200.jpg" alt="Two women riding bikes" />
        
        <div class="text-link">
             <h2>HSBC UK Breeze Rides</h2>
            <p>Find a women-only guided ride near you. Open to all abilities</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.letsride.co.uk/guided-rides?intcmp=27695" >
        <img src="/cdn/static/cms/images/promos/hsbc-uk-guided-rides-image_rdax_400x200.jpg" alt="Group cycling through a forest between some red telephone boxes" />
        
        <div class="text-link">
             <h2>HSBC UK Guided Rides</h2>
            <p>Find a guided ride near you. Open to all abilities</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.britishcycling.org.uk/clubfinder?intcmp=27709" >
        <img src="/cdn/static/cms/images/promos/cyclist-commute-2_rdax_400x200.jpg" alt="Cyclist commuting to work" />
        
        <div class="text-link">
             <h2>Find a cycle club</h2>
            <p>Joining a club is a great way to get the most out of your cycling</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.letsride.co.uk/routes?intcmp=42270" >
        <img src="/cdn/static/cms/images/promos/canal-boat-image_rdax_400x200.jpg" alt="Canal boat on the river with a heron walking nearby" />
        
        <div class="text-link">
             <h2>Leisure routes in London</h2>
            <p>Search for local cycle routes to suit every kind of bike ride</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.youtube.com/watch?v=nChzI7BwC3o&list=PL9Z-HNvxeY33GJumRyJ4pstiRJSSXzH4t&index=13&intcmp=40203" >
        <img src="/cdn/static/cms/images/promos/asad-cycle-story-teaser_rdax_400x200.jpg" alt="Still image of a man talking about cycling" />
        
        <div class="text-link">
             <h2>Watch Asad's London cycling story</h2>
            <p>Get inspired to cycle by Asad's story</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.britishcycling.org.uk/events/home?intcmp=27706" >
        
        
        <div class="text-link">
             <h2>Events calendar</h2>
            <p>Find every kind of cycling event with the British Cycling events calendar</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/index" class="plain-button">Cycling</a>
<a href="/travel-information/safety/road-safety-advice" class="plain-button">Road safety advice</a>
<a href="/modes/cycling/cycle-skills" class="plain-button">Cycle Skills</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.britishcycling.org.uk/" class="plain-button">British Cycling</a>
<a href="https://www.britishcycling.org.uk/track/article/20150327-2016-UCI-Track-Cycling-World-Championships-ticket-prices-0" class="plain-button">Track Worlds</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "We partner with British Cycling to promote cycling in London";}
        
            
        


 