
    
  



@{ViewBag.Title = "Training 2";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/training-2";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/reddot-training---content">RedDot training - content</a></li>
                
            
            
                <li><span class="last-breadcrumb">Training 2</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Training 2</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/reddot-training---content" class="heading">
                    <h2 id="sub-menu-heading">RedDot training - content<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/training-1">Training 1</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/campaign/training-2">Training 2</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/campaign/training-3">Training 3</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-4">Training 4</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-5">Training 5</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-6">Training 6</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-7">Training 7</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-8">Training 8</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-9">Training 9</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-10">Training 10</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-11">Training 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-12">Training 12</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Training 2 area in RedDot";}
        
            
        


 