
    
  


<!-- rhroot -->
@{ViewBag.Title = "Travel options";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/travel-options";}
@{ViewBag.Language = "en";}
        
        
        

  



  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Travel options</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>


        <h2>Travel hotspots</h2>
    
</div>
 
        
                     
         
        <div class="expandable-box line-info-box">

            <div class="content">
                <div class="always-visible">
                    <a href="javascript:void(0);" class="controls">&nbsp;</a>
                    <div class="accordion-heading route">
                        <span class="tag northern">northern</span>
                        <p class="line-name">Northern Line</p>
                        <p class="line-section">Balham to London Bridge</p>
                    </div>
                </div>
                <div class="start-hidden">
                    <ul class="stop-list">
                        <li>

<span class="lines end-of-line">
    <span class="northern">
        &nbsp;<span class="stop interchange">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/london-bridge">London Bridge</a>


<div class="interchange-list">
    
    <div class="national-rail-icon hide-text">
        national-rail
    </div>
    
    <div class="tube-icon hide-text">
        tube
    </div>
    
</div>


</li>
 <li>

<span class="lines">
    <span class="northern">
        &nbsp;<span class="stop">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/borough">Borough</a>



</li>
 <li>

<span class="lines">
    <span class="northern">
        &nbsp;<span class="stop interchange">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/elephant-and-castle">Elephant & Castle</a>


<div class="interchange-list">
    
    <div class="national-rail-icon hide-text">
        national-rail
    </div>
    
    <div class="tube-icon hide-text">
        tube
    </div>
    
</div>


</li>
 <li>

<span class="lines">
    <span class="northern">
        &nbsp;<span class="stop">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/kennington">Kennington</a>



</li>
 <li>

<span class="lines">
    <span class="northern">
        &nbsp;<span class="stop">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/oval">Oval</a>



</li>
 <li>

<span class="lines">
    <span class="northern">
        &nbsp;<span class="stop">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/stockwell">Stockwell</a>



</li>
 <li>

<span class="lines">
    <span class="northern">
        &nbsp;<span class="stop">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/clapham-north">Clapham North</a>



</li>
 <li>

<span class="lines">
    <span class="northern">
        &nbsp;<span class="stop">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/clapham-common">Clapham Common</a>



</li>
 <li>

<span class="lines">
    <span class="northern">
        &nbsp;<span class="stop">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/clapham-south">Clapham South</a>



</li>
 <li>

<span class="lines start-of-line">
    <span class="northern">
        &nbsp;<span class="stop interchange">&nbsp;</span>
    </span>
</span>
<a class="stop-link" href="/archived/balham">Balham</a>


<div class="interchange-list">
    
    <div class="national-rail-icon hide-text">
        national-rail
    </div>
    
</div>


</li>
 
                    </ul>
                </div>
            </div>
        </div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 