
    
  



@{ViewBag.Title = "Tube strike: Accessible version";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tube-strike-accessible-version";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/modes/tube/index");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-strike">Tube strike</a></li>
                
            
            
                <li><span class="last-breadcrumb">Tube strike: Accessible version</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Tube strike: Accessible version</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A strike is affecting Central and Waterloo & City line services today, Wednesday 22 February. Here is the text-only version of what's affected, and options to get around London.<BR>
        
      </div>
    
    <div class="on-this-page">
      <ul>
    <li>There is no Central line service east of Leytonstone and very limited services on the rest of the line</li>
    <li>There is no service on the Waterloo &amp; City line on Wednesday</li>
    <li>Nearby buses, roads, Tube and rail services will be busier too</li>
    <li>Please check before you travel, allow more time for your journey and avoid the peak times if you can</li>
</ul>
<h2>What's affected</h2>
<h3>Service levels and timings</h3>
<strong>Wednesday 22 February
</strong>
<p><strong>All day:</strong> No Waterloo &amp; City line. No Central line east of Leytonstone - replan your journey.
</p>
<p><strong>05:30:</strong> No westbound Central line between White City and Leytonstone - replan your journey.</p>
<p><strong>07:00:</strong> Limited Central line - Every five mins between North Acton and Leytonstone. Every 10 minutes west of Acton
10:00 - Very limited Central line - Every 10 mins between North Acton and Leytonstone. Every 20 minutes west of Acton.</p>
<p><strong>16:00:</strong> Limited Central line - Every five mins between North Acton and Leytonstone. Every 10 minutes west of Acton.</p>
<p><strong>19:00</strong>: Very limited Central line - Every 10 mins between North Acton and Leytonstone. Every 20 minutes west of Acton.
</p>
<h4>Thursday 23 February
</h4>
<p><strong>05:30:</strong> Normal service.
</p>
<h3>Shuttle service</h3>
<p>A special bus shuttle service will call at Epping, Debden, Loughton and Chingford, for connections to London Overground services.</p>
<h3>Busier lines</h3>
<ul>
    <li>Central line</li>
    <li>TfL Rail between Romford and Stratford</li>
    <li>London Overground between Liverpool Street and Chingford</li>
    <li>Victoria line, especially Walthamstow Central</li>
    <li>Jubilee line between London Bridge and Waterloo</li>
</ul>
<h3>Busier stations</h3>
<p><a href="https://tfl.gov.uk/overground/stop/910GCHINGFD/chingford-rail-station">Chingford station</a><br />
- Much busier than usual. At peak times expect queues outside the station, extremely busy buses and road journeys to take much longer. Please travel outside the peak time if possible</p>
<p><a href="https://tfl.gov.uk/tflrail/stop/910GILFORD/ilford-rail-station?lineId=tfl-rail">Ilford station</a><br />
- Much busier than usual. At peak times expect queues outside the station, extremely busy buses and road journeys to take much longer. Please travel outside the peak time, or take the bus to Barking for the District or Hammersmith &amp; City line</p>
<p><a href="https://tfl.gov.uk/tube/stop/940GZZLULYS/leytonstone-underground-station">Leytonstone station</a><br />
In the evening peak, buses from Leytonstone will be extremely busy. You could take a bus from Stratford or Leyton instead</p>
<p>You may have to queue outside the following stations at peak times, and it will take longer than usual to board a train:</p>
<ul>
    <li>Bank</li>
    <li>Bond Street</li>
    <li>Embankment</li>
    <li>Holborn</li>
    <li>Leyton</li>
    <li>Liverpool Street</li>
    <li>London Bridge</li>
    <li>Mile End</li>
    <li>Monument</li>
    <li>North Ealing</li>
    <li>Ealing Common</li>
    <li>Oxford Circus</li>
    <li>Stratford</li>
    <li>Tottenham Court Road</li>
    <li>Waterloo</li>
</ul>
      
           
      <div>

<p>Other live sources of information: </p>
<p><a href="https://tfl.gov.uk/tube-dlr-overground/status/#stations-status">Check your station</a><br />
See the current status on your station.</p>
<p><a href="/modes/cycling/santander-cycles/find-a-docking-station">Santander Cycles</a><br />
Check live docking station information.</p>
<p><a href="https://tfl.gov.uk/traffic/status/">Traffic status</a><br />
Check road traffic conditions in London.</p>
<p><a href="https://twitter.com/TfLTravelAlerts">&#64;TfLTravelAlerts</a><br />
Follow us on Twitter for the latest advice and updates.</p>
<hr />
<h2>Other transport options</h2>
<p>All other TfL services - including London Overground, TfL Rail, Trams, DLR and the Emirates Air Line - will be running as normal, even if they're busier than usual. Alternative transport during the strike could include:</p>
<p><strong>Walking</strong><br />
Visit our <a href="/modes/walking/index">walking section</a> for maps and more information on walking in London</p>
<p><strong>Buses</strong><br />
We're boosting local bus services in areas that won't have a Central line service.
</p>
<p><a href="/modes/buses/index">Buses</a> don't accept cash. Use pay as you go with an Oyster or contactless payment card or a Bus &amp; Tram Pass. You can top up your pay as you go credit or buy Travelcards and Bus &amp; Tram Passes at around 4,0000 <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster ticket stops</a> across London.</p>
<p>View <a href="https://tfl.gov.uk/maps/bus">bus maps by area</a>.</p>
<p><strong>National Rail</strong><br />
Southern train services may also be severely disrupted on Wednesday. For more information please check <a href="http://www.southernrailway.com/strike ">southernrailway.com/strike</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Text-only version of travel advice for Tube strikes";}
        
            
        


 