
    
  



@{ViewBag.Title = "Tube strike";}
@{ViewBag.Keywords = "Tube ,Tube Strike ,TfL";}
@{ViewBag.Url = "/campaign/tube-strike";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/campaign/index");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Tube strike</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Tube strike</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A strike on the Bakerloo line is affecting services from Friday 21 February until Monday 24 February.
        
      </div>
    
    
      
      
           
      <div>

<p>There&nbsp;is severe disruption on the Bakerloo line. This is likely to&nbsp;continue&nbsp;until late afternoon on Monday 24 February.</p>

<p>We expect there will be no service on the line&nbsp;on Monday morning.</p>

<p>The line is expected to return to normal service from late afternoon on Monday.</p>

<p>Over the weekend,&nbsp;the Circle, District, Hammersmith &amp; City and Metropolitan lines are closed in central London and&nbsp;the Northern line is also closed between Moorgate and Kennington.</p>

<p>Other Tube lines, the DLR, London Overground&nbsp;and TfL Rail are running as usual, but are likely to be busier.</p>

<p>Check status updates for the <a href="https://tfl.gov.uk/tube-dlr-overground/status/">Tube, London Overground, TfL Rail, DLR and Trams</a>.</p>

<h2>Tube</h2>

<h3>Bakerloo line</h3>

<ul>
	<li>There&nbsp;is disruption to Bakerloo line services until the end of service on Monday 24 February</li>
	<li>Disruption could be anything from delays to no service</li>
	<li>Avoid using the Bakerloo&nbsp;line -  wherever possible</li>
	<li>Avoid peak times (Friday evening and Monday morning) if possible</li>
</ul>

<h3>Other lines</h3>

<p>Other lines are not affected by the strike, but there are planned closures over the weekend. Lines that are open&nbsp;will be busier throughout the strike.</p>

<h4>Sat 22 and Sun 23 Feb - weekend closures</h4>

<ul>
	<li>Circle, District, Hammersmith &amp; City and Metropolitan lines closed in central London for testing of a&nbsp;new signalling system</li>
	<li>Northern line closed between Moorgate and Kennington due to work at Bank
	<ul>
		<li>Paper tickets&nbsp; accepted on the following bus services:<br />
		Buses to Waterloo (for Jubilee, Northern, Waterloo &amp; City lines and National Rail: 1, 68, 168, 172, 176, 188<br />
		Buses to London Bridge (for Jubilee line and National Rail) 35, 133, 343, 344</li>
		<li>For details of National Rail services from Elephant &amp; Castle visit <a href="http://nationaltrail.co.uk">nationalrail.co.uk</a></li>
	</ul>
	</li>
	<li>Metropolitan and Hammersmith &amp; City&nbsp;lines terminate at&nbsp;Baker Street&nbsp;station. Jubilee line stops&nbsp;at Baker Street as normal</li>
	<li>Avoid changing lines at Baker Street station if possible as the station will be very busy</li>
	<li>Change between the Metropolitan line and&nbsp;the Jubilee line at Finchley Road station if possible&nbsp;</li>
	<li>London Overground, Northern, Metropolitan and Jubilee lines busier than usual</li>
</ul>

<h2>London Overground</h2>

<ul>
	<li>London Overground trains is busier than usual especially at peak times</li>
	<li>Trains&nbsp;between Harrow and Wealdstone and Euston&nbsp;are particularly busy</li>
	<li>On Sunday no trains will run between Kilburn High Road and Euston before 12:15 and after 20:15</li>
</ul>

<h2>Buses</h2>

<ul>
	<li>Buses serving Bakerloo line stations&nbsp;are&nbsp;much busier than normal, especially at peak times&nbsp;on Friday evening and Monday morning</li>
</ul>

<p>Check <a href="https://tfl.gov.uk/bus/status/">bus status updates</a>.</p>

<h2>Driving</h2>

<ul>
	<li>Roads around Bakerloo line stations&nbsp;are&nbsp;busier than usual</li>
	<li>Car parks near stations on the Metropolitan, Jubilee, Northern and London Overground Lines&nbsp;are busier than usual</li>
</ul>

<p>Check <a href="https://tfl.gov.uk/traffic/status/">traffic status updates</a>.</p>
</div>
 <div>

<h2>Use our travel tools</h2>

<p>Check before you travel and plan ahead using our travel tools. Keep up-to-date with the latest service information. See:</p>

<ul>
	<li>This web page, which will be regularly updated</li>
	<li>The <a href="http://m.me/tfltravelbot">TfL TravelBot</a> on Facebook Messenger</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>, which can help you plan your route by public transport, cycling or walking</li>
	<li>The latest status updates for&nbsp;<a href="/status-updates/index">Tube, London Overground TfL Rail, DLR and Trams</a></li>
	<li>The latest status updates for <a href="https://tfl.gov.uk/bus/status/">buses</a> and <a href="https://tfl.gov.uk/bus/status/">traffic</a></li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL travel advice and information during Tube strikes";}
        
            
        


 