
    
  


<!-- rhroot -->
@{ViewBag.Title = "Improving the Tube";}
@{ViewBag.Keywords = "Public,Tube passengers,T,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/campaign/tube-improvements";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/tip-banner.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/tip-banner.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving the Tube</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Improving the Tube</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>The Tube carries more than a billion passengers each year - four million journeys each day and growing. Every single one of these journeys matters to us.&nbsp;Network delays are down and reliability has improved. And we're committed to making it even better.</p>

<p>See how we're improving Tube stations on&nbsp;<a href="https://tfl.gov.uk/travel-information/improvements-and-projects/?Category=Tube-improvement">our Improvements &amp; projects page</a>.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div class="news-teaser">

    <a href="/campaign/station-wifi?intcmp=1951" >
        <img src="/cdn/static/cms/images/promos/mip-wifi-mole_rdax_400x200.jpg" alt="Station wifi" />
        
        <div class="text-link">
             <h2>Station Wi-Fi</h2>
            <p>Register to access Wi-Fi on 300+ Tube and London Overground platforms</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/four-lines-modernisation?intcmp=37984" >
        
        
        <div class="text-link">
             <h2>Four Lines Modernisation</h2>
            <p>Transforming the Circle, District, Hammersmith & City and Metropolitan lines </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/tube-improvements/what-we-are-doing/improving-the-trains?intcmp=21153" >
        
        
        <div class="text-link">
             <h2>Improving the trains</h2>
            <p>250 new Tube trains with more capacity and improved accessibility</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/?Category=Tube-improvement&intcmp=59905" >
        
        
        <div class="text-link">
             <h2>Tube projects</h2>
            <p>We're working to improve several stations around the network - see where</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser tube">

    <a href="/travel-information/social-media-and-email-updates/index?intcmp=136" >
        
        
        <div class="text-link">
             <h2>Travel advice</h2>
            <p>Follow your line on Twitter</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/campaign/tube-improvements/what-we-are-doing/night-tube?intcmp=22069" >
        <img src="/cdn/static/cms/images/promos/night-tube-wide_rdax_400x200.jpg" alt="Night Tube image" />
        
        <div class="text-link">
             <h2>Night Tube</h2>
            <p>Runs on the Victoria, Jubilee, and most of the Central, Northern and Piccadilly lines</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/step-free-access?intcmp=1954" >
        
        
        <div class="text-link">
             <h2>Step-free access</h2>
            <p>Improving accessibility on the Tube and Overground by making more stations step-free</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/tube-improvements/what-we-are-doing/improving-customer-service?intcmp=22072" >
        
        
        <div class="text-link">
             <h2>Improving customer service</h2>
            <p>We're continuing to transform the way we serve our passengers</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://madeby.tfl.gov.uk/category/behind-the-scenes/?intcmp=59901" >
        
        
        <div class="text-link">
             <h2>Behind the scenes</h2>
            <p>Our Made by TfL blog has more on the work we're doing to improve the Tube</p>
        </div>
    </a>
</div>
 
 
</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Weekend closures email</h3>
    <p>Get advanced warning when lines are closed for improvement works</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Sign up for our email</a>
  </div> 
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Find out how we're making the Tube faster, more reliable and easier to use";}
        
            
        


 