
    
  



@{ViewBag.Title = "Chinese New Year";}


        <!-- empty placeholder -->
 
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Chinese New Year</span></li>
            
        
 
        
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Chinese New Year</h1>

  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
      <div class="article-teaser">
        Chinese New Year is an important festive holiday celebrated at the turn of the Chinese calendar. This year, hundreds of thousands of people are expected to celebrate the Year of the Sheep in central London over the weekend of 21/22 February.<BR>
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Event schedule </h2>
<h3>Saturday 21 February</h3>
<ul>
    <li>
    A smaller community-led day of celebrations in and around Chinatown</li>
</ul>
<h3>Sunday 22 February</h3>
<ul>
    <li>
    A street parade winding through London's West End
    </li>
    <li>Stage performances with over 1,000 volunteers and performers from China and the UK in Trafalgar Square (12:00-18:00), Shaftesbury Avenue (12:00-16:30) and Leicester Square (12:00-16:30)</li>
    <li>Street performers, a lion dance, firecrackers, stalls and a wide range of Chinese regional cuisine</li>
</ul>
<p><a href="http://www.lccauk.com">Find out more about the Chinese New Year celebrations.</a></p>
<h2>Travel advice</h2>
<p>
There will be numerous road closures in and around Trafalgar Square, Chinatown and Shaftesbury Avenue on both Saturday 21 and Sunday 22 February.</p>
<p>Wherever possible avoid driving, allow more time for your journey, use public transport, walk or cycle and plan ahead.
</p>
<p>Some buses will be on diversion or will finish early due to the road closures, and local Tube stations such as Leicester Square are expected to be busier than usual.</p>
<ul>
    <li>Saturday 21 February, 11:30-18:00 - various roads in and around Chinatown will be closed</li>
    <li>
    Sunday 22 February, 09:00-20:00 - the festivities will take place on fully closed roads around Trafalgar Square, Chinatown and Shaftesbury Avenue. Some roads in the area will be closed from 07:00 on the Sunday and there will be parking restrictions in place within the road closures
    </li>
</ul>
<p>Public transport, walking and cycling will be the best ways to get around London and to the events. However some buses will be on diversion or will finish early due to the road closures and local Tube stations are expected to be busier than usual.
</p>
<h2>Driving</h2>
<h3>Roads closed on Saturday 21 February, 11:00-18:00</h3>
<ul>
    <li>Dansey Place</li>
    <li>Gerrard Place</li>
    <li>Gerrard Street</li>
    <li>Leicester Place</li>
    <li>Leicester Street</li>
    <li>Lisle Street</li>
    <li>Little Newport Street</li>
    <li>Macclesfield Street</li>
    <li>Newport Place</li>
    <li>Wardour Street (between Shaftesbury Avenue and Coventry Street)</li>
</ul>
<h3>Roads closed on Sunday 22 February, 07:00-20:00</h3>
<p>Extensive road closures will be in place from 07:00 on Pall Mall East, Duncannon Street and Dean Street (between Shaftesbury Avenue and Old Compton Street). These will remain in place for the remainder of the event which is expected to finish at around 20:00.
</p>
<p>From 09:00 these roads will also close:</p>
<ul>
    <li>
    All roads within Chinatown and some in the surrounding area</li>
    <li>Hyde Park Corner</li>
    <li>
    Trafalgar Square</li>
    <li>
    Charing Cross Road</li>
    <li>
    St Martin's Place</li>
    <li>
    Shaftesbury Avenue</li>
    <li>
    Denmark Street</li>
    <li>
    Cambridge Circus</li>
    <li>
    High Holborn</li>
</ul>
<p><a href="http://tfl.gov.uk/roads/status">See details of London road closures</a> </p>
<p>For the latest information on how London roads are operating, <a href="/status-updates/index">check before you travel</a> and <a href="https://twitter.com/tfltrafficnews">follow &#64;TfLTrafficNews on Twitter</a>.
</p>
<h2>Taxis</h2>
<p>While taxi (black cab) and private hire, including minicab, services will be operating normally, many journey times will be affected by the road closures in the area, with some taxi ranks suspended as a result.</p>
<p><a href="/modes/taxis-and-minicabs/index">Read more about taxi and private hire services</a> </p>
<p>Booking information, including phone numbers and email addresses, about minicab and other private hire operators in London is available from TfL's Cabwise service.</p>
<p><a href="http://tfl.gov.uk/forms/12389.aspx">Find a local cab service</a></p>
<p>Taxi drivers and private hire drivers and operators can <a href="https://twitter.com/tfltph">follow &#64;TfLTPH on Twitter</a> for the latest TfL updates</p>
<h2>Coaches</h2>
<p>Coaches travelling around London may be affected by the road closures in the area. Please plan ahead, contact your coach operator for details of possible changes and allow plenty of time to travel.</p>
<h2>Cycling</h2>
<p>Traffic in the event area may make it difficult for cycle hire redistribution vehicles to collect and/or replace bicycles in central London.</p>
<p>Customers are advised to check availability online using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">live docking station map</a> </p>
<p><a href="https://twitter.com/barclayscycle">Follow &#64;BarclaysCycle on Twitter</a> for the latest updates.</p>
<h2>Tube
</h2>
<p>Tube &amp; Rail stations around the event areas over the weekend may be busier than usual Charing Cross (Bakerloo, Northern lines and National Rail), Leicester Square (Northern and Piccadilly lines), Piccadilly Circus (Bakerloo and Piccadilly lines) and Covent Garden (Piccadilly line).</p>
<p>The vast majority of the network will be open as usual with essential planned works on the District Line, Jubilee Line, Hammersmith &amp; City and on London Overground;</p>
<p><a href="/status-updates/index">Read more information on Tube closures on the day and see live travel news</a> </p>
<h2>Buses</h2>
<p>Between around 09:00 and 20:00 on Sunday 22  February buses in and around the event area will be on diversion or will terminate earlier than usual to avoid the road closures;</p>
<p>Bus routes affected include: 1, 8, 9, 14, 19, 22, 24, 25, 29, 38, 98, 139, 171, 176, 242, C2</p>
<p>Buses in the event area are likely to be busier than usual, please allow plenty of time for your journey and plan ahead.</p>
<p><a href="/plan-a-journey/index">To plan ahead on the day go to Plan A Journey</a> or for the latest on bus services follow <a href="https://twitter.com/tflbusalerts">&#64;TfLBusAlerts</a> on Twitter</p>
<h2>Access</h2>
<p> London has one of the most accessible transport networks anywhere in the world, with a wide range of accessible transport options.<br />
<br />
Find out more about accessibility in London or get the latest news by following <a href="https://twitter.com/tflaccess">&#64;TfLAccess</a> on Twitter</p>
<h2>Business &amp; freight</h2>
<p>If you make or receive deliveries in central London over the weekend, you may be affected by congestion and increased journey times because of road closures in and around Chinatown on Sunday 22 February.</p>
<p>If you operate in areas on or near the event you should talk to your customers and suppliers now, to consider if there are changes you need to make to your deliveries or collections. You may wish to consider:</p>
<ul>
    <li>
    Changing the day of your deliveries to before or after Sunday 22 February</li>
    <li>
    Changing the times of your deliveries to avoid road closures</li>
    <li>
    Using alternative routes that avoid the area to make your deliveries</li>
    <li>
    Signing up to the TfL Road Freight Bulletin for regular information and advice on issues impacting deliveries in London. <a href="mailto:freight&#64;tfl.gov.uk">Email freight&#64;tfl.gov.uk to sign up</a></li>
    <li>
    Signing up to the TfL Business Engagement Bulletin for monthly information on how TfL are improving transport choices</li>
</ul>
<p><a href="/corporate/publications-and-reports/freight">Read about how other businesses have changed the way they make or receive deliveries during major events in London</a> </p>
<p> </p>
<p> </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 