
    
  



@{ViewBag.Title = "Welcome to London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/welcome-to-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/welcome-to-london-section-header.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/welcome-to-london-section-header.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Welcome to London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Welcome to London</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                Everything you need to know to get started exploring your new neighbourhood. We operate the Tube, Buses, DLR, London Overground, Trams, River Services and more. Find out where you can get to, how to plan your journey, when off-peak is, and how to pay for your travel.
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster?intcmp=54645" >
        <img src="/cdn/static/cms/images/promos/oyster-cartoon-image_rdax_400x200.jpg" alt="Oyster cartoon image" />
        
        <div class="text-link">
             <h2>How to pay </h2>
            <p>Choosing how to pay for your travel can be complicated. Let us help</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/visiting-london/getting-around-london/visitor-information?intcmp=27675" >
        <img src="/cdn/static/cms/images/promos/taxibustube_rdax_400x200.jpg" alt="Taxi bus Tube" />
        
        <div class="text-link">
             <h2>Ways to get around </h2>
            <p>Our visitor information page lists all our transport services. Find out more</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/student-travel?intcmp=8524" >
        
        
        <div class="text-link">
             <h2>Get started travelling in London</h2>
            <p>Tips for all new Londoners, including discounts, walking and cycling. Find out more</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://contactless.tfl.gov.uk/?intcmp=49750" >
        
        
        <div class="text-link">
             <h2>Oyster and contactless account</h2>
            <p>Top up, view your journeys and get refunds with an online account</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/fares/index?intcmp=54640" >
        
        
        <div class="text-link">
             <h2>Fares</h2>
            <p>Check the cost of your journey before you travel</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/maps_/maps?intcmp=49" >
        
        
        <div class="text-link">
             <h2>Maps</h2>
            <p>View and download our whole range of maps</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    
</div>
 
 <div class="news-teaser">

    <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app?intcmp=54705" >
        
        
        <div class="text-link">
             <h2>Get the app</h2>
            <p>Download and set up the free official TfL Oyster app</p>
        </div>
    </a>
</div>
 
 
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Travel tips and information to help you get started in the Capital.";}
        
            
        


 