
    
  



@{ViewBag.Title = "Mayoral Community Infrastructure Levy";}
@{ViewBag.Keywords = "Planning and construction,TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></li>
                
            
            
                <li><span class="last-breadcrumb">Mayoral Community Infrastructure Levy</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Mayoral Community Infrastructure Levy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out about our role with the Mayor's Community Infrastructure Levy (MCIL).
        
      </div>
    
    <div class="on-this-page">
      <h2>MCIL</h2>

<p>The <a href="http://www.london.gov.uk/what-we-do/planning/implementing-london-plan/mayoral-community-infrastructure-levy#Stub-63731">Mayoral Community Infrastructure Levy</a> (MCIL) applies to most new developments in London granted planning permission on or after 1 April 2012. MCIL raises money towards the <a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a> (currently being built by Crossrail Ltd) and Crossrail 2, and is collected by local planning authorities on behalf of the Mayor.</p>

<p>On 1 April 2019, the Mayor's new charging schedule MCIL2 took effect. MCIL2 supersedes MCIL1 and the Crossrail Funding Supplementary Planning Guidance and will apply to all planning permissions granted from 1 April 2019 and may also apply to some phased planning permissions granted before 1 April 2019.</p>

<h2>Rates</h2>

<p>MCIL2 is payable on most developments in London at these rates:</p>

<h3>Band 1 boroughs - &pound;80 per square metre</h3>

<p>Camden, City of London, City of Westminster, Hammersmith and Fulham, Islington, Kensington and Chelsea, Richmond-upon-Thames and Wandsworth</p>

<h3>Band 2 boroughs - &pound;60 per square metre</h3>

<p>Barnet, Brent, Bromley, Ealing, Enfield, Hackney, Haringey, Harrow, Hillingdon, Hounslow, Kingston upon Thames, Lambeth, Lewisham, London Legacy Development Corporation, Merton, Old Oak and Park Royal Development Corporation, Redbridge, Southwark, Tower Hamlets and Waltham Forest.</p>

<h3>Band 3 boroughs - &pound;25 per square metre</h3>

<p>Barking and Dagenham, Bexley, Croydon, Greenwich, Havering, Newham and Sutton.</p>

<h3>Office, Retail and Hotel Development in the Central and Isle of Dogs Charging Areas</h3>

<p>Office - &pound;185 per square metre<br />
Retail - &pound;165 per square metre<br />
Hotel - &pound;140 per square metre</p>

<p>Health and education uses across London are charged at a nil rate.</p>

<ul>
	<li><a href="https://www.london.gov.uk/sites/default/files/mcil2_charging_schedule_-_final.pdf">Mayor's MCIL2 charging schedule</a></li>
	<li><a href="/cdn/static/cms/documents/mcil1-charging-schedule-april-2012.pdf">Mayor's MCIL1 charging schedule</a></li>
	<li><a href="https://www.london.gov.uk/sites/default/files/crossrail_funding_spg_updated_march_2016v2.pdf">Mayors Crossrail Funding SPG</a></li>
</ul>
      
           
      
<div>



<h2>Annual CIL rate summary</h2>


<p>For CIL liable planning permissions granted in the calendar year 2020, applicable Mayoral CIL rates adjusted for inflation are detailed in the MCIL Annual CIL Rate Summary 2020.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-cil-rate-summary-2020.pdf">
    <div class="document-download-text">
        <p>MCIL Annual CIL Rate Summary 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 558KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 
</div>

</div>
 <div>

<h2>MCIL online map</h2>

<p>To help local planning authorities and developers, we have developed a&nbsp;<a href="http://tfl.maps.arcgis.com/apps/webappviewer/index.html?id=3109059dc3cc49f8b0cfb20caf310832">searchable online map</a> showing the relevant MCIL2 charges across London.</p>

<p>The MCIL2 maps and shape files are also available in the <a href="https://data.london.gov.uk/dataset/mcil-2-charging-area-boundaries">GLA Datastore</a>.</p>

<h2>MCIL and planning permission</h2>

<p>Developers must submit a CIL information form as part of the planning application process. The form is available on the relevant local planning authorities website or on the <a href="https://www.planningportal.co.uk/info/200126/applications/70/community_infrastructure_levy/2">planning portal</a>. The local planning authority will use the form to help establish whether or not a development is liable for a CIL charge.</p>

<p>The local planning authority determines the final CIL charge and is responsible for collecting MCIL on behalf of the Mayor along with any borough CIL (where relevant).</p>
</div>
 <div>

<h2>Exemptions and relief</h2>

<p>Depending on the circumstances, the following forms of exemptions and/or relief from the MCIL may be available:</p>

<ul>
	<li>Minor development exemption</li>
	<li>Charitable relief</li>
	<li>Social housing relief</li>
	<li>Self-build exemption (for a whole house)</li>
	<li>Self-build exemption (for a residential annexe or extension)</li>
</ul>

<p>Any questions relating to exemptions or relief should be discussed with the relevant collecting authority.</p>

<h2>MCIL annual report</h2>

<p>The <a href="/cdn/static/cms/documents/mcil-annual-receipt-update-2012-2018.pdf">annual report</a> sets out the income and expenditure of Mayoral Community Infrastructure Levy (MCIL) receipts in accordance with Regulation 62 of the Community Infrastructure Levy Regulations 2010 (as amended).</p>
</div>
 
<div>




<h2>Information for boroughs</h2>

<h3>CIL Collection Group</h3>

<p>The CIL Collection Group (CCG) is a forum of officers from local planning authorities and Mayoral development corporations (known as 'collecting authorities'), TfL and the GLA.&nbsp; It was established to look at issues around the implementation and collection of the Mayoral CIL.</p>

<h3>Borough CIL Progress Tracker</h3>

<p>We produce a 'Progress Tracker' to show the progress London's boroughs have made in introducing or revising their own local CILs. It's regularly updated from CCG meetings and communication we have with the boroughs.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcil-tracker-october-2019.pdf">
    <div class="document-download-text">
        <p>Borough CIL - Current Progress Tracker October 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcil2-tracker-december-2019.pdf">
    <div class="document-download-text">
        <p>Borough CIL - Current Progress Tracker - December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>




<h3>CIL reporting to TfL by boroughs</h3>
<p>All London collecting authorities use this standard form to report progress on CIL-liable developments and the collection of CIL receipts to TfL on a quarterly basis.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/cil-borough-reporting-to-tfl-form.xlsx">
    <div class="document-download-text">
        <p>CIL - Borough reporting to TfL form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>




<h2>Privacy notice</h2>

<p>Find out more about how TfL handles personal data on our <a href="/corporate/privacy-and-cookies/index">privacy and cookies pages</a>.</p>

<h2>Contact us</h2>

<p>Send any questions you have about the Mayoral CIL to <a href="mailto:cil.enquiry&#64;tfl.gov.uk">cil.enquiry&#64;tfl.gov.uk</a></p>

<p>&nbsp;</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy">Mayoral Community Infrastructure Levy</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing">Policy influencing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas">Growth areas</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">Planning with WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">Pre-application services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/interchange">Interchange</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/modelling">Modelling</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts" class="plain-button">The Mayor's transport strategy</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/policies/giving-communities-more-power-in-planning-local-development/supporting-pages/community-infrastructure-levy" class="plain-button">Gov.uk</a>
<a href="http://www.planningportal.gov.uk/planning/applications/howtoapply/whattosubmit/cil" class="plain-button">Planning Portal</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Mayoral Community Infrastructure Levy (MCIL) applies to most new developments in London granted planning permission on or after 1 April 2012. The Levy raises money towards Crossrail and is collected by the London boroughs. ";}
        
            
        


 