
    
  



@{ViewBag.Title = "Design and heritage";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/planning-applications/design-and-heritage";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></li>
                
            
            
                <li><span class="last-breadcrumb">Design and heritage</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Design and heritage</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're committed to creating well-designed streets, public spaces, high quality urban design, healthy streets and good growth.
        
      </div>
    
    <div class="on-this-page">
      <h2>What we do</h2>

<p>We promote good urban design practice in London. We're helping to implement the <a href="https://www.london.gov.uk/what-we-do/regeneration/advice-and-guidance/about-good-growth-design">Mayor's Good Growth by Design programme</a>&nbsp;through our activities.</p>

<p>Our team of&nbsp;architects, urban designers and heritage experts provide specialist services to us, the Greater London Authority (GLA) and <a href="https://directory.londoncouncils.gov.uk/">London boroughs</a>.</p>

<h3>Our responsibilities</h3>

<ul>
	<li>Support the delivery of world-class streets and spaces, providing design and <a href="/info-for/urban-planning-and-construction/urban-design/heritage-advice">heritage advice</a>&nbsp;for Crossrail 2 and new river crossings</li>
	<li>Advise on public space schemes by consultants, boroughs or developers and advise on how they can be improved</li>
	<li>Design public space schemes, focusing on the needs of those who will use and look after places and spaces</li>
	<li>Provide urban design services to major transport infrastructure projects</li>
	<li>Help create planning frameworks and area strategies using high quality documents that tackle complex design issues, approaches, principles, requirements and parameters for future work</li>
	<li>Assess planning applications and emerging policy documents, considering the design and heritage credentials of streets and <a href="/info-for/urban-planning-and-construction/planning-applications/interchange">interchanges</a></li>
	<li>Provide historic conservation advice and input</li>
	<li>Support our <a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">pre-application services</a> and development planning function</li>
	<li>Design guidance, case studies and research</li>
	<li>Support the GLA's Good Growth by Design programme</li>
</ul>

<p>We also work with <a href="https://www.urbandesignlondon.com/">Urban Design London</a>. They provide training, network events and design review services.</p>

<h2>Case studies</h2>
      
           
      
<div>




<h3>Northern line extension</h3>

<p>Managing design programme and output of permanent above-ground elements of Northern line extension, due to open in 2020.</p>

<ul>
	<li><a href="/travel-information/improvements-and-projects/northern-line-extension">Read more about the Northern line extension</a></li>
</ul>

<h3>Silvertown Tunnel</h3>

<p>Management of above-ground elements for proposed new Thames crossing, linking North Greenwich to Royal Docks.</p>

<ul>
	<li><a href="/travel-information/improvements-and-projects/silvertown-tunnel">Read more about the Silvertown Tunnel</a></li>
</ul>

<h3>Royal Docks Local Transport Design Guidance</h3>

<p>We've been working with the GLA and London Borough of Newham to produce the Royal Docks Local Transport Design Guidance. This outlines our shared goal to create significant improvements to both the movement and place function of streets and spaces in the Royal Docks Opportunity Area.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/royal-docks-ltdg-sec1-2.pdf">
    <div class="document-download-text">
        <p>Royal Docks Local Transport Design Guidance sections 1 & 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/royal-docks-ltdg-sec3.pdf">
    <div class="document-download-text">
        <p>Royal Docks Local Transport Design Guidance section 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/royal-docks-ltdg-sec4-8.pdf">
    <div class="document-download-text">
        <p>Royal Docks Local Transport Design Guidance sections 4-8</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.13 -->
 
<div>




<h3>Better Streets Delivered</h3>

<p>The Urban Design team worked with Urban Design London to produce two collections of recently completed schemes.</p>

<p>Better Streets Delivered 1 and 2 celebrate the ambition and success of recent public space projects that balanced user needs&nbsp;and increased the vitality and sense of place across London.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/better-streets-delivered-web-version.pdf">
    <div class="document-download-text">
        <p>Better Streets Delivered 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/bsd1cover.gif" alt="Better Streets Delivered" />
    </div>

</a>

<!-- 6.56 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/better-streets-delivered-2.pdf">
    <div class="document-download-text">
        <p>Better Streets Delivered 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/bsd2cover.gif" alt="Better Streets Delivered 2" />
    </div>

</a>

<!-- 8.71 -->
 
</div>

</div>
 
</div>
<h3>Nine Elms on the South Bank - Public Realm&nbsp;Design Guide, Materials Palette and Cycling Strategy</h3>

<p>See guidance for all parts of public space and surfacing materials in the 195-hectare Opportunity Area:</p>

<ul>
	<li><a href="https://nineelmslondon.com/wp-content/uploads/2014/09/Nine-Elms-on-the-South-Bank-Cycling-Strategy.pdf">Read the Nine Elms Cycling Strategy</a></li>
</ul>

<h3>Small Change, Big Impact</h3>

<p>Small Change, Big Impact is a practical guide to producing temporary, light touch and low-cost projects to change the way a street looks and feels. It forms part of our <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy">Mayoral Community Infrastructure Levy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing">Policy influencing</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-design/heritage-advice">Heritage advice</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas">Growth areas</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">Planning with WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">Pre-application services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/interchange">Interchange</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/modelling">Modelling</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're committed to creating well-designed streets and public spaces, high quality urban design, healthy streets and good growth.";}
        
            
        


 