
    
  



@{ViewBag.Title = "Growth areas";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/planning-applications/growth-areas";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></li>
                
            
            
                <li><span class="last-breadcrumb">Growth areas</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Growth areas</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We produce good growth in London's Opportunity Areas and areas where many new jobs and homes are being created.
        
      </div>
    
    
      <h2>What we do</h2>

<p>We manage work on Growth Areas and create and implement best practice in our approach to meet the objectives in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> (MTS).</p>

<h3>Our responsibilities</h3>

<ul>
	<li>Identify and define the transport requirements and outcomes or targets for specific geographical areas</li>
	<li>Work with colleagues, the Greater London Authority, and <a href="https://directory.londoncouncils.gov.uk/">boroughs</a> to develop and test the usefulness of different options to tackle challenges</li>
	<li>Provide direction to delivery and project teams when&nbsp;deciding options to address transport challenges from growth</li>
	<li>Work with delivery businesses to support the development, progression, funding and delivery of growth</li>
	<li>Work with colleagues and London boroughs on emerging development. We always build collaboratively on existing governance and relationships</li>
</ul>

<h2>Case studies</h2>

<h3>Isle of Dogs and South Poplar OAPF</h3>

<p>We work on <a href="https://www.london.gov.uk/what-we-do/planning/implementing-london-plan/opportunity-areas">Opportunity Areas Planning Frameworks</a>&nbsp;(OAPFs). These act as supplementary planning guidance to the <a href="https://www.london.gov.uk/what-we-do/planning/london-plan">London Plan</a>, applying its policies at a local level.</p>

<p>OAPFs are strategic masterplans that focus on implementation and delivery, as well as identifying opportunities and challenges that need resolving. They present the transport vision for the area, highlighting challenges and infrastructure or services that need to be produced in the short, medium and long term.</p>

<p>This vision allows sustainable growth and supports and improves the quality of life for communities in the area. OAPFs look at the requirements for an area at the strategic and local scale to produce the policies and objectives set out in the London Plan and <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.&nbsp;</p>

<p>The <a href="https://www.london.gov.uk/what-we-do/planning/implementing-london-plan/opportunity-areas/opportunity-areas/isle-dogs-and-south-poplar-opportunity-area">Isle of Dogs and South Poplar OAPF</a>&nbsp;will support:</p>

<ul>
	<li>Between 31,000 and 49,000 new homes by 2041, of which over 19,000 new homes are already in the planning process</li>
	<li>110,000 new jobs in and around the Canary Wharf business district</li>
	<li>Canary Wharf will become a Metropolitan Town Centre under the <a href="https://www.london.gov.uk/what-we-do/planning/london-plan">London Plan</a></li>
</ul>

<h3>Morden town centre</h3>

<p>Morden town centre was identified as a priority growth area for regeneration in the Merton Local Plan. It was also made a <a href="https://www.london.gov.uk/what-we-do/housing-and-land/increasing-housing-supply/housing-zones">Housing Zone</a>&nbsp;with funding from the Mayor.</p>

<p>We're a major landowner in the town centre and are helping Merton Council make sure it's redeveloped in a way that supports the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>

<p>The <a href="http://www.merton.gov.uk/planning-and-buildings/regeneration-projects/make-more-of-morden">Morden town centre masterplan</a>&nbsp;includes:</p>

<ul>
	<li>Up to 2,000 homes, with 50% being affordable units</li>
	<li>Expanded and improved retail offer</li>
	<li>Exemplar Healthy Streets scheme including:
	<ul>
		<li>New public space outside Morden Underground Station</li>
		<li>Pedestrian, cycle and bus only High Street</li>
		<li>New cycle route</li>
		<li>New public transport interchange and bus standing</li>
	</ul>
	</li>
</ul>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy">Mayoral Community Infrastructure Levy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing">Policy influencing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas">Growth areas</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">Planning with WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">Pre-application services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/interchange">Interchange</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/modelling">Modelling</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how we produce good growth in London's Opportunity Areas and areas where many new jobs and homes are being created.";}
        
            
        


 