
    
  


<!-- rhroot -->
@{ViewBag.Title = "Interchange";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/planning-applications/interchange";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></li>
                
            
            
                <li><span class="last-breadcrumb">Interchange</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Interchange</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Improved public transport interchange hubs allow better integration of London's public transport. They are key to supporting the Mayor's transport priorities.
        
      </div>
    
    
      <h2>Improving journeys using integration</h2>

<p>Combining different ways of travelling makes public transport more attractive to current and new customers. It also shows how the transport system, including interchanges, can contribute to economic, social, and environmental objectives.</p>

<p>Interchange hubs are areas with different modes of transport where customers can change from one mode to another.&nbsp;A beginning to end journey can consist of:</p>

<ul>
	<li>London Underground</li>
	<li>TfL Rail</li>
	<li>Overground</li>
	<li>National Rail</li>
	<li>DLR</li>
	<li>Tram</li>
	<li>Bus</li>
	<li>Taxi</li>
	<li>Coach</li>
	<li>Emirates Air Line</li>
	<li>River</li>
	<li>Cycling</li>
	<li>Walking</li>
</ul>

<p>Creating a simpler, more convenient and better-quality transport interchange is essential&nbsp;for the&nbsp;integration of different transport modes. This allows journeys by public transport to become faster, easier, safer, more reliable and enjoyable.</p>

<h2>Read our guidance</h2>

<p>The interchange best practice guidance gives advice from project inception to ensure any developments respond to our communities and transport in a positive way. It's set out in five themes:</p>

<ol>
	<li>Efficiency</li>
	<li>Usability</li>
	<li>Inclusive design</li>
	<li>Quality</li>
	<li>Planning and funding</li>
</ol>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/interchange-best-practice-guidance.pdf">
    <div class="document-download-text">
        <p>Interchange best practice guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.40 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy">Mayoral Community Infrastructure Levy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing">Policy influencing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas">Growth areas</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">Planning with WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">Pre-application services</a></div></li>
                            
 
                <a href="/info-for/urban-planning-and-construction/planning-applications/interchange" class="heading">
                    <h2 id="sub-menu-heading">Interchange<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/modelling">Modelling</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
<a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage" class="plain-button">Case studies</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Improved public transport interchange hubs that enable better integration of London's public transport are a key element of the Mayor's transport priorities";}
        
            
        


 