
    
  



@{ViewBag.Title = "Pre-application services";}
@{ViewBag.Keywords = "Businesses,Planning and construction,TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/planning-applications/pre-application-services";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></li>
                
            
            
                <li><span class="last-breadcrumb">Pre-application services</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pre-application services</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our pre-application services help make sure your application fits in with the London Plan and the Mayor's Transport Strategy.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>How to apply</h2>

<ol>
	<li>Complete one of the meeting request forms</li>
	<li>Email it to the address on the form with any supporting information</li>
</ol>

<p>We'll let you know if your application is suitable for one of our pre-application services. If you're accepted,&nbsp;you&nbsp;pay a fee. All the income we get goes into improving our services.&nbsp;</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/initial-screening-meeting.docx">
    <div class="document-download-text">
        <p>Initial screening meeting request form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 967KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.94 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/referable-pre-application-meeting.docx">
    <div class="document-download-text">
        <p>Referable pre-application meeting request form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 970KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/non-referable-follow-up-meeting.docx">
    <div class="document-download-text">
        <p>Non-referable or follow-up meeting request form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 967KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.94 -->
 
</div>

</div>
 <div>

<h2>Meetings</h2>

<p>We will issue an invoice for our fees and you will have 28 days to pay. Until we receive your payment, the meeting cannot be organised. Once we receive your payment, we can usually organise the meeting within 20 days. Your case officer will normally chair it and we are happy to discuss the agenda with you.</p>

<p>Depending on your case and if it is referable to the Mayor, our colleagues with specialisms may come to the meeting. We&nbsp;encourage you to allow us to invite the relevant local planning authority and keep them involved in discussions.</p>

<p>There are two types of meeting to choose from: initial screening or pre-application.</p>

<h3>Initial screening</h3>

<p>This meeting encourages early discussions with us about your site's local context and characteristics, and which transport impacts are most important for your development project.</p>

<p>The feedback we provide after the meeting helps you prioritise transport issues and plan detailed analysis likely to be needed later. For example, surveys, <a href="/info-for/urban-planning-and-construction/planning-applications/modelling">modelling</a> and safety audits.&nbsp;It will be high level advice only, produced using basic information and generic assumptions.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/initial-screening-feedback-example.pdf">
    <div class="document-download-text">
        <p>Feedback example</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 824KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/initial-screening-with-local-modelling-feedback-example.pdf">
    <div class="document-download-text">
        <p>Feedback with local modelling example</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 933KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.91 -->
 
</div>

</div>
 <div>

<p>You should consider booking and attending just after transport experts have been appointed in your development project team.</p>

<p>This meeting covers:</p>

<ul>
	<li>Basic information about the planned development</li>
	<li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></li>
	<li><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero</a></li>
	<li>Parking</li>
	<li>Key local routes, journeys and destinations</li>
	<li>Key content and analysis for <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments">Transport Assessments</a></li>
</ul>

<p>It doesn't replace or remove the need for a&nbsp;pre-application meeting with us to design and deliver a new development where transport issues are complex.</p>

<h3>Pre-application</h3>

<p>This meeting covers:</p>

<ul>
	<li><a href="/campaign/active-travel">Active travel</a> and public transport impacts</li>
	<li>Parking</li>
	<li>Traffic impacts</li>
	<li><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Urban design</a></li>
	<li>Construction and servicing</li>
	<li><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/travel-plans">Travel plans</a></li>
	<li><a href="/info-for/urban-planning-and-construction/transport-assessment-guide/planning-obligations">Planning obligations/S106</a></li>
</ul>

<p>You should consider booking and attending a&nbsp;pre-application meeting once you've made some early progress on a <a href="/info-for/urban-planning-and-construction/transport-assessment-guide/transport-assessments">Transport Assessment</a>&nbsp;for&nbsp;your planned development.</p>

<p>There will usually be a site visit before this meeting takes place. We'll also invite a council officer unless you ask us not to.</p>

<h2>Fees</h2>

<h3>Initial screening</h3>

<ul>
	<li>&pound;500 (plus VAT)</li>
</ul>

<h3>Pre-application</h3>

<ul>
	<li>&pound;5,000 (plus VAT) if an initial screening has taken place</li>
	<li>&pound;5,500 (plus VAT) for one-off meetings</li>
</ul>

<p>We offer these discounts to public bodies:</p>

<ul>
	<li>&pound;2,000 (plus VAT) if an initial screening has taken place</li>
	<li>&pound;3,000 (plus VAT) for one-off meetings</li>
</ul>

<h3>Non-referable applications/follow-up meetings</h3>

<ul>
	<li>&pound;2,000 (plus VAT). In cases where only written advice is necessary, this fee can be discounted by 50%</li>
</ul>

<p>All fees are non-refundable.</p>

<h2>Our advice</h2>

<p>If we don't need to do any further research, we'll send you a detailed advice letter within 10 working days. This outlines any major transport&nbsp;issues and requirements we've agreed.</p>

<p>Your advice letter comes from the Director of Spatial Planning. It's never a response to any planning application.</p>

<p>Any views or opinions are given in good faith. They relate solely to transport issues.</p>

<p>The amount of detail in our letter will depend on the quality of information you give us initially.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy">Mayoral Community Infrastructure Levy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing">Policy influencing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas">Growth areas</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">Planning with WebCAT</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">Pre-application services</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/interchange">Interchange</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/modelling">Modelling</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/the-mayors-transport-strategy" class="plain-button">The Mayor's transport strategy</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.london.gov.uk/priorities/planning/london-plan" class="plain-button">The London Plan</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Pre-application advice can help make sure your application complies with the London Plan and the Mayor's transport strategy. ";}
        
            
        


 