
    
  



@{ViewBag.Title = "About Steps into Work";}
@{ViewBag.Keywords = "TfL,Steps into work, students, scheme, programme";}
@{ViewBag.Url = "/corporate/careers/about-steps-into-work";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/steps-into-work">Steps into work </a></li>
                
            
            
                <li><span class="last-breadcrumb">About Steps into Work</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>About Steps into Work</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about the Steps into Work programme. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Who runs the programme&nbsp;</h2>

<p>Steps into Work is a three-way partnership between TfL, <a href="https://www.mencap.org.uk/">Mencap (The Royal Mencap Society)</a> and <a href="http://www.barnetsouthgate.ac.uk/">Barnet &amp; Southgate College</a> that&nbsp;provides work experience for&nbsp;adults with mild to moderate learning disabilities and/or on the autism spectrum. They get the opportunity to develop&nbsp;work experience&nbsp;through working in a business environment.</p>

<h2>How it works</h2>

<p>The programme is made up of&nbsp; three unpaid work placements, mainly in offices across TfL.&nbsp;Those&nbsp;aged 18 or over will&nbsp;also have the option of working as a customer service assistant (CSA) in a London Underground station.&nbsp;This placement also provides an opportunity to gain an&nbsp;NVQ&nbsp;Level 2 Customer Services in the Rail Industry&nbsp;award.</p>

<p>&nbsp;</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/csa_rdax_400x250.jpg" alt="csa" />
        <span class="caption">A student on a customer service assistant (CSA) placement</span>
        
        
    </div>
    <p>People on the programme will study for a BTEC Level 1 qualification and will be students of Barnet &amp; Southgate College and not TfL employees. The programme, including the BTEC classes will be based in TfL's offices in central London.
</p>
<h2>The placement</h2>
<p>If you are on this programme, this is what you can expect:</p>
<ul>
    <li>You will be one of 24 students, working unpaid, in one of TfL's central London offices</li>
    <li>You will complete an induction to working for TfL</li>
    <li>    Placements are split into three, 10-11 week periods. CSA placements are eight weeks long (participants must be aged 18 or over to apply for CSA placements)</li>
    <li>You will attend five days a week, Monday to Friday from 10:00am until 3:30pm. Each day consists of four hours in your placement and an hour for tutorial with some travelling time in between</li>
    <li>You will be supported as you apply and prepare for each placement. The three placements will be spread throughout the year with breaks in between</li>
</ul>
<p>
We are aiming to provide real life work experience. Roles may be complex but are structured such that people with learning disabilities and those on the autism spectrum should be able to effectively complete tasks.</p>
 </div>
 <div>

<h2>Job examples</h2>
<p>These are examples of the things you may be asked to do during the placements:</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/data-entry_rdax_400x250.jpg" alt="data entry officer" />
        <span class="caption">A student on an office administrator placement</span>
        
        
    </div>
    <h3>Administrator</h3>

<ul>
	<li>Opening and date stamping mail every morning, sorting mail for each department and delivering the mail to the right team</li>
	<li>Daily scanning of case files and single letters, naming the scanned document and saving the scan to the shared drive on the computer network</li>
	<li>Filing documents and case files into drawers in alphabetical order</li>
	<li>Data entry to update personal information, address and department details</li>
</ul>

<h3>Office support</h3>

<ul>
	<li>Emailing staff about meeting bookings, photocopying and preparing documents, and setting up IT equipment for those meetings</li>
	<li>Preparing weekly stationery orders and checking office stock levels</li>
	<li>Assisting with labelling and separating files for archiving, storing and shredding</li>
	<li>Using the database to create and issue letters</li>
</ul>

<h2>Qualification</h2>

<p>The curriculum is based on the knowledge and skills needed for employment and the work placements involve gaining experience in a real working environment. You will build a portfolio of evidence as a record of learning while working towards the qualification. There are no exams on the programme.</p>

<h2>Support and progression</h2>

<p>Mencap will provide a job coach to support you during your placements and help with the transition to the&nbsp;Mencap branch at the end of the programme.&nbsp;Mencap will also help you look for paid work.</p>

<p>This programme doesn't guarantee you will get an interview for a paid role or find a job at the end, but many former students are working in a range of roles in various organisations.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/about-steps-into-work">About Steps into Work</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Background information about the Steps into Work programme";}
        
            
        


 