
    
  



@{ViewBag.Title = "Additional Voluntary Contributions (AVCs)";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>Additional Voluntary Contributions (AVCs)</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    <div class="on-this-page">
      <p>Active members can pay extra contributions to the Fund's AVC Plan.</p>
<p>Although the Trustees provide a facility for members of the Fund to pay AVCs it is a separate and personal arrangement between the individual and the AVC provider.</p>
<p>AVCs are paid into a personal fund and used to provide additional pension benefits on retirement.</p>
<h2>Who can pay</h2>
<p>The majority of active members of the Fund are eligible. However you will not be able to pay AVCs if you are planning to retire within a year of commencing AVCs.</p>
<h2>Payment amounts</h2>
<p>If you joined the pension scheme after 1 June 1989, you can pay up to 15 per cent of your gross taxable earnings (subject to the Scheme Earnings Cap) in each tax year, minus your normal contributions to the Fund.</p>
<p>If you joined the Fund before 1 June 1989, you can pay up to 15 per cent of your gross taxable earnings, minus your normal contributions.</p>
<p>You can change the amount you pay by contacting the Fund office.</p>
<h2>Making payments</h2>
<p>Your contributions are deducted from your pay by your employer. You can also make one-off payments.</p>
<p>You can stop payments by giving four weeks' notice.</p>
<h2>AVC investment</h2>
<p>Your AVCs are invested according to your choice. <a href="/corporate/careers/avc-investment-options">Read about the investment options</a>.</p>
<h2>AVC tax advantages</h2>
<p>Just like your main Fund contributions you get full tax relief on your AVCs. Investment returns on your AVC fund are free of income tax.</p>
<h2>Transferring your AVCs</h2>
<p>You can transfer your AVCs at any time before or after leaving service and drawing your benefits from the Fund.</p>
<h2>AVCs on retiring</h2>
<p>You may take up to 25 per cent of the value of your total benefits from the Fund as a tax-free lump sum when you retire. If your AVCs exceed this amount the balance must be used to buy you a pension from an insurer.</p>
<p>Alternatively, you may choose to use all or part of your AVCs to buy an annuity or defer payment.</p>
<h2>In case of death</h2>
<p>Subject to HMRC limits, your AVC fund may be payable as a tax-free lump sum at the discretion of the Fund's Trustees.  Payment would normally be to the recipients of the lump sum death benefit.</p>
<h2>Deferring payments of AVC benefits</h2>
<p>Your AVCs will remain in the TfL Pension Fund AVC Plan until you decide to take them.</p>
<ul>
    <li>    They will continue to be invested in accordance with your investment choices</li>
    <li>    During the deferred period you can change your investments between the various funds offered</li>
    <li>    You will continue to receive annual benefit statements confirming the value of your AVCs</li>
    <li>    You must start drawing an income from your AVCs by the time you reach age 75, otherwise your AVCs will then be automatically used to buy an annuity</li>
    <li>    Only 25 per cent of the fund value at the time you take your AVCs may be taken as cash with the rest used to buy you an annuity with an insurer</li>
</ul>
<h2>AVC annuities</h2>
<p>You can get quotations from the Fund's appointed AVC providers or from other insurance companies to assess which offers the best value.</p>
<p>If you decide to get quotes from other insurance companies you should contact them direct.</p>
<p>To help you, you could visit the Financial Services Authority's website at <a href="http://www.fsa.gov.uk/">http://www.fsa.gov.uk/</a> and get instant quotes from a number of insurers. Alternatively you could contact the Annuity Bureau on 0845 602 6263.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 