
    
  



@{ViewBag.Title = "April 2015 pension increase";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>April 2015 pension increase</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    <div class="on-this-page">
      <p>Pensions from the TfL Pension Fund will increase in April.</p>
<p>The full pension increase from 1 April 2015 is 2.3%.</p>
<p>This is based on the rise in the Retail Price Index over the 12 months to September 2014.</p>
<p>Depending on the period of membership of the TfL Pension Fund, your pension may comprise of various components, some of which are not increased by the Fund at the above rate, but may be increased by the State.</p>
<p>If you have been receiving your pension for less than a year you may receive a pro rata increase. See below for details:</p>
      
           
      

<div class="table-container">
<p>&nbsp;</p>
<table style="width: 456px; height: 203px;">
    <thead>
        <tr>
            <th colspan="1" rowspan="1" id="table_heading_0">&nbsp;<strong>Effective date </strong><br />
            </th>
            <th colspan="1" rowspan="1" id="table_heading_1">&nbsp;<strong>Increase (%)</strong><br />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">&nbsp;Up to 1 April 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;2.3</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 April 2014 to 1 May 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;2.11</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 May 2014 to 1 June 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.92</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 June 2014 to 1 July 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.73</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 July 2014 to 1 August 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.53</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 August 2014 to 1 September 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.34</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 September 2014 to 1 October 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;1.15</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 October 2014 to 1 November 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.96</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 November 2014 to 1 December 2014<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.77</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 December 2014 to 1 January 2015<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.58</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 January 2015 to 2 February 2015<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.38</td>
        </tr>
        <tr>
            <td headers="table_heading_0">&nbsp;2 February 2015 to 1 March 2015<br />
            </td>
            <td headers="table_heading_1">&nbsp;0.19</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
</div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 