
    
  



@{ViewBag.Title = "AVC Investment Options";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>AVC Investment Options</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
      <div class="article-teaser">
        You can choose where you invest your AVCs from the list below. Higher risk funds offer potentially higher returns, but there is also a greater risk that the value of your AVCs will fall.
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Standard Life - Annuity Purchase Fund</h2>


<p>This fund has a very different aim from most other investment-linked funds. It is designed for investors approaching retirement and considering annuity purchase. It aims to reduce the effect of changes in long term interest rates on the value of pension income the fund can purchase. Long term interest rates are one of the main factors affecting the cost of an annuity. The fund invests predominately in bonds whose prices are normally expected to rise and fall broadly in line with the cost of purchasing pension income. The fund does not provide any guarantees in relation to the level of pension income you will be able to purchase at retirement. It also does not protect against changes in the cost of purchasing an annuity that arise due to changes in life expectancy.</p>
<p>Please note that this fund may not be suitable for everyone, for example it may not be suitable for a customer who is not considering annuity purchase or for those who intend to buy a pension that increases each year at a rate linked with inflation.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-annuity-purchase-fund.pdf">
    <div class="document-download-text">
        <p>Standard Life - Annuity Purchase Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.06 -->
 
</div>

</div>
 
<div>



<h2>Standard Life - Deposit and Treasury Fund</h2>


<p>The fund aims to provide a return before charges equivalent to overnight deposits by investing in deposits and short term money market instruments.</p>
<p>The fund price is not guaranteed by Standard Life and there could be circumstances where the fund price may fall. A fall might happen if, for example, there is a default by one of the banks where some of the money held or where there is an adverse market movement in the value of some if the money market instruments held. A fall may also happen if interest income falls so low as to be less than the charges applied to the fund.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-deposit-and-treasury-pension-fund.pdf">
    <div class="document-download-text">
        <p>Standard Life - Deposit and Treasury Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.06 -->
 
</div>

</div>
 
<div>



<h2>Standard Life - Managed Pension Fund</h2>


<p>The fund aims to provide long term growth while investing in a diversified portfolio of assets (including equities, fixed interest, property, cash deposits and money-market instruments) in order to reduce the risk associated with being solely invested in any one asset class. These assets can be from both the UK and overseas. The fund is predominately equity based and is actively managed by Standard Life's investment team, who will vary the proportions held in each asset class to try to take advantage of opportunities they have identified.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-managed-pension-fund.pdf">
    <div class="document-download-text">
        <p>Standard Life - Managed Pension Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>Standard Life - Ethical Pension Fund</h2>


<p>The fund aims to provide long term growth by investing in a diversified portfolio of assets (including equities and corporate bonds) that meet Standard Life's strict ethical criteria. The fund's assets can be from both the UK and overseas and are predominately equity based. The ethical criteria are agreed with the Standard Life Ethical Committee and may be amended from time to time if considered appropriate. The fund manager will exclude companies which fail to meet the ethical criteria while seeking to include companies whose business activities are regarded as making a positive contribution to society.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-ethical-pension-fund.pdf">
    <div class="document-download-text">
        <p>Standard Life - Ethical Pension Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>Standard Life - International Pension Fund</h2>


<p>The fund aims to provide long term growth and is designed for investors who are looking for exposure to global equity markets. The fund invests predominately in the shares of companies listed on the Global stock markets and is actively managed by Standard Life's investment team, who will select stocks to try to take advantage of opportunities they have identified.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-international-equity-pension-fund.pdf">
    <div class="document-download-text">
        <p>Standard Life - International Pension Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.06 -->
 
</div>

</div>
 
<div>



<h2>Standard Life - Vanguard FTSE UK All Share Index Pension Fund</h2>


<p>The fund aims to provide long term growth and is designed for investors
who are looking for exposure to global equity markets. The fund invests
predominately in the shares of companies listed on the Global stock
markets and is actively managed by Standard Life's investment team, who
will select stocks to try to take advantage of opportunities they have
identified.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-vanguard-ftse-uk-all-share-index-pension-fund.pdf">
    <div class="document-download-text">
        <p>Standard Life - Vanguard FTSE UK All Share Index Pension Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.17 -->
 
</div>

</div>
 
<div>



<h2>Standard Life - BlackRock Aquila Connect Over 5 Year Index-Linked Gilt Fund</h2>


<p>The objective of the fund is to invest in UK Government Index-linked
securities (index-linked gilts) that have a maturity period of 5 years
or longer. It aims to achieve a return consistent to the FTSE UK Gilts
Index-Linked Over 5 Years Index, which is widely regarded as the
benchmark for UK pension fund investment in the longer dated end of the
UK index-linked gilt market.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-blackrock-aquila-connect-over-5-year-index-linked-gilt-pension-fund.pdf">
    <div class="document-download-text">
        <p>Standard Life - BlackRock Aquila Connect Over 5 Year Index-Linked Gilt Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 183KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.18 -->
 
</div>

</div>
 
<div>



<h2>Standard Life - BlackRock Aquila HP World (Ex-UK) Equity Fund</h2>


<p>The fund aims to invest in the shares of overseas companies (Europe,
Japan, Far East, US and Canadian markets) according to market
capitalisation weightings. Within each of those markets, the fund aims
to generate returns consistent with those of each country's primary
share market. This fund aims to achieve a return in line with the FTSE
All-World Developed ex-UK Index.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-blackrock-aquila-connect-world-ex-uk-equity-pension-fund.pdf">
    <div class="document-download-text">
        <p>Standard Life - BlackRock Aquila HP World (Ex-UK) Equity Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 185KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.18 -->
 
</div>

</div>
 
<div>



<h2>HSBC Amanah Fund</h2>


<p>The fund aims to create long-term appreciation of capital through investment in a well diversified portfolio of equities listed worldwide in a manner that is consistent with the principles of the Shariah.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-factsheet-sl-hsbc-amanah-pension-fund.pdf">
    <div class="document-download-text">
        <p>HSBC Amanah Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 186KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.18 -->
 
</div>

</div>
 <div>

<h2>Transport for London 2010 Lifestyle Fund</h2>
<ul>
    <li>Under this approach, contributions are invested in equities in the early years to maximise investment returns</li>
    <li>As you approach retirement, your AVCs are gradually switched into bonds and cash to protect their value against stock market fluctuations</li>
    <li>All the changes are automatic - you do not need to fill in any forms</li>
</ul>
</div>
 
<div>



<h2>Changing your investments</h2>


<p>If you wish to change your investments please contact the Fund Office or complete and return relevant AVC change form below. You can change your investments at any time.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-change-form-standard-life.pdf">
    <div class="document-download-text">
        <p>AVC Change form (Standard Life)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-change-form-clerical-medical.pdf">
    <div class="document-download-text">
        <p>AVC Change form (Clerical Medical)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-change-form-equitable-life.pdf">
    <div class="document-download-text">
        <p>AVC Change form (Equitable Life)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avc-payment-change-form.pdf">
    <div class="document-download-text">
        <p>AVC Payment Change form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.03 -->
 
</div>
<p>The links below will take you to the TfL Pension Fund's AVC providers' websites.</p>
<p><a href="http://www.clericalmedical.co.uk/">Clerical Medical</a><br />
<a href="http://www.equitable.co.uk/">Equitable Life</a><br />
<a href="https://www.standardlife.co.uk/c1/funds/how-are-my-funds-doing.page">Standard Life</a></p>
<p>Please note that Clerical Medical and Equitable Life are closed to new entrants.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 