
    
  



@{ViewBag.Title = "Benefits on death";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>Benefits on death</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Adult dependant's pension</h2>
<p><strong>If you die while a contributing member of the Fund</strong><br />
If you had completed at least two years' pensionable service, your adult dependant will receive half of your pension.</p>
<p>The pension is payable for life and is calculated as if you had retired due to ill health on the date you died.</p>
<p><strong>If you die and had a deferred pension</strong><br />
Your adult dependant will receive half of your deferred pension at the date you died, as long as you had completed two years' pensionable service. The pension is payable for life.</p>
<p><strong>If you die after retiring</strong><br />
Your adult dependant will receive the value of half of your pension at retirement as long as you had completed two years' pensionable service. This doesn't count the deduction of any pension that you may have exchanged for a variable pension or lump sum, and will include any pension increases. The pension is payable for life.</p>
<p><strong>Legal spouse who is not your adult dependant</strong><br />
If you have a legal spouse who is not your adult dependant, the <a href="/corporate/careers/contracting-out">Guaranteed Minimum Pension</a> part of the adult dependant's pension will be paid to your spouse and the balance will be paid to your adult dependant.</p>
</div>
 
<h2>Eligible child's pension</h2>
<p>Pensions can be paid to up to four eligible children at any time. If you have more eligible children, a younger child will start receiving a pension once an older sibling's pension stops.</p>
<div class="table-container">
<table style="width: 700px; height: 120px;">
    <thead>
        <tr>
            <th id="ms__id26_heading_0" rowspan="1" colspan="1">
            <p style="text-align: left;"> <strong>Number of children </strong></p>
            </th>
            <th id="ms__id26_heading_1" rowspan="1" colspan="1">
            <p style="text-align: left;"><strong> Proportion of pension payable to each child</strong> </p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="ms__id26_heading_0"> One</td>
            <td headers="ms__id26_heading_1"> one-quarter</td>
        </tr>
        <tr>
            <td headers="ms__id26_heading_0"> Two</td>
            <td id="ms__id26_heading_0" headers="ms__id26_heading_1"> one-quarter</td>
        </tr>
        <tr>
            <td headers="ms__id26_heading_0"> Three</td>
            <td headers="ms__id26_heading_1"> one-sixth</td>
        </tr>
        <tr>
            <td headers="ms__id26_heading_0"> Four</td>
            <td headers="ms__id26_heading_1"> one-eighth</td>
        </tr>
    </tbody>
</table>
<p> </p>
</div>
<ul>
    <li>If no adult dependant's pension is payable, each child's pension will be doubled</li>
    <li>If you die while still in service, or with a deferred pension, you must have completed two years' pensionable service for the eligible child's pension to apply</li>
    <li>If you die while still in service, the pension is calculated as if you had retired due to ill health on the date you died</li>
    <li>If you left service before 1 April 1989, each child will receive one-eighth of the pension</li>
    <li>If your child has a mental or physical disability which prevents him or her from earning an income, a pension may be payable for life. Contact the <a href="/pensions/contact">Fund Office</a> for further information.</li>
</ul>

 <div>

<h2>Lump sums</h2>
<p>If you are still in service when you die</p>
<ul>
    <li>On your death, a lump sum of four times your pensionable salary is payable at the discretion of the Trustees</li>
    <li>If you are working part-time when you die, the lump sum will be calculated using your pensionable salary at death.</li>
    <li>If you die during the same calendar year that working hours change, an average of pensionable salary will be used to calculate the lump sum.</li>
</ul>
<p><strong>If you have left a deferred pension in the Fund when you die:</strong></p>
<p>A lump sum is payable equal to 3/80 x pensionable service x pensionable salary at date of leaving, increased in line with pension increases up to the date of your death.</p>
<p><strong>If you die after retiring a lump sum may be payable in the following circumstances:</strong></p>
<p>If you retired from service on an ill-health pension after more than five years' pensionable service and died before reaching age 65</p>
<p>The amount payable will be four times your pensionable salary at retirement, minus any lump sum and pension you have already received.</p>
<p><strong>If you retired from service on an ill-health pension with between two and five years' pensionable service, and died before reaching age 65 and within five years of retirement:</strong></p>
<p>The amount payable will be four times your pensionable salary at retirement, minus any lump sum and pension you have already received.</p>
<p><strong>If you did not retire from service on an ill-health pension and no pension is payable to an adult dependant, legal spouse, civil partner or eligible child:</strong></p>
<p>The amount payable would be the lesser of either five times your full pension or four times your pensionable salary at retirement, minus, in either case, any lump sum and pension you have already received.</p>
<p><strong>If you did not retire from service on an ill-health pension and a pension is payable to an adult dependant, legal spouse, civil partner or eligible child:</strong></p>
<p>A lump sum is payable equal to 3/80 x pensionable service x pensionable salary at date of leaving, minus any lump sum and pension you have already received.</p>
<h2>Who receives the lump sum</h2>
<p>The Trustees have absolute discretion to pay the lump sum to one person or more and in such shares as they decide.</p>
<p>The Trustees will take your wishes into consideration when making their decision. You should advise us of who you would wish to receive this payment by completing an <a href="/corporate/careers/forms">expression of wish form</a>.</p>
<p>It is important that you complete a new form if your circumstances change.</p>
<h2>What happens to your pension when you die</h2>
<p>If you are already receiving your pension when you die, it will stop at the end of the four-week pay period in which you die.</p>
<p>The Fund office should be advised of your death as soon as possible to avoid any overpayment of your pension, which will have to be repaid.</p>
<p>This should be in writing, but it helps if a family member or friend could first telephone so that the Fund office can explain the position regarding the pension, and clarify what documents are needed.</p>
<h2>Documents needed on your death</h2>
<p>The death certificate will be needed in all cases. If you leave a widow, widower, civil partner or partner they will need to provide their birth certificate and, where appropriate, the marriage or civil partnership certificate, along with satisfactory evidence of their dependency on you.</p>
<p>If there are any eligible children, their birth certificates will also be needed and evidence of their dependency on you may be required.</p>
<p>Copies of documents are generally acceptable.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 