
    
  



@{ViewBag.Title = "Contracting-out";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>Contracting-out</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    <div class="on-this-page">
      <p>Although the Fund contracts out of the State Second Pension (S2P) members can be comforted that they are receiving benefits at least as good as the pension they would have received had they remained part of the scheme.</p>
<p>This was a condition of contracting-out of S2P.</p>
<p>This pension is called the Guaranteed Minimum Pension (GMP).</p>
<p>The Government changed the system from 6 April 1997 when GMPs ceased to accrue.</p>
<p>For contracted-out membership after 5 April 1997, the Actuary has to certify that the level of benefits provided under the Fund overall is at least as valuable as that under contracting-out regulations.</p>
<p>Your Basic State Pension is not affected by being contracted-out.</p>
<p>If you were a contributing member of the Fund for any period between April 1978 and April 1997, your pension may comprise an element of GMP which attracts a different rate of increase once you reach GMP payment age, which is 60 for women and 65 for men.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 