
    
  



@{ViewBag.Title = "Employability toolkit";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/employability-toolkit";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
            
                <li><span class="last-breadcrumb">Employability toolkit</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Employability toolkit</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>Finding a new job or returning to work after a break can seem a daunting task. We want to encourage a wide range of people with different backgrounds and experiences to work with us and we want to make it as easy as possible for you to get a job with us. Use the tools in this section to help you prepare.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/corporate/careers/writing-a-cv-and-cover-letter?intcmp=49538" >
        <img src="/cdn/static/cms/images/promos/insight-day-control-room-2_rdax_400x200.jpg" alt="insight-day-control-room-2" />
        
        <div class="text-link">
             <h2>CVs and cover letters</h2>
            <p>Read our tips on creating a CV and writing a cover letter</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/are-you-untapped-tale?intcmp=49575" >
        <img src="/cdn/static/cms/images/promos/smart-sourcing-image2b_rdax_400x200.jpg" alt="Workshop image" />
        
        <div class="text-link">
             <h2>Are you untapped talent?</h2>
            <p>If you're changing your career or returning to work after a break, we can help</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/skills-that-you-already-have?intcmp=49550" >
        <img src="/cdn/static/cms/images/promos/insight-day-control-room-5_rdax_400x200.jpg" alt="Control room insight day" />
        
        <div class="text-link">
             <h2>Use the skills you already have</h2>
            <p>Everyone has skills & most of them are transferable</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/get-ready-for-interviews?intcmp=49544" >
        <img src="/cdn/static/cms/images/promos/ex-army-insight-day-1_rdax_400x200.jpg" alt="Ex military insight day" />
        
        <div class="text-link">
             <h2>Get ready for interviews</h2>
            <p>Find out about competency based interviews and how to prepare </p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/writing-a-cv-and-cover-letter">Writing a CV and cover letter</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/get-ready-for-interviews">Get ready for interviews</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/skills-that-you-already-have">Skills that you already have</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Tools and guides to help you prepare for working";}
        
            
        


 