
    
  



@{ViewBag.Title = "Fund management";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>Fund management</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    
      
      
           
      
<div class="module-grid clearfix">
<div class="related-links">

    <h3>Management and consultation</h3>
A large and dedicated group of people work hard looking after all pensions matters. Find out who's in which group, how they're elected and when they meet.
<div class="vertical-button-container">

<a href="/corporate/careers/trustee-board"  class="plain-button">Trustee board</a>
<a href="/corporate/careers/committees"  class="plain-button">Committees</a>
<a href="/corporate/careers/pension-consultative-council"  class="plain-button">Pension Consultative Council</a>
<a href="/corporate/careers/pensioners-forum"  class="plain-button">Pensioners' Forum</a>
<a href="/corporate/careers/pensions-working-group"  class="plain-button">Pensions Working Group</a>
<a href="/corporate/careers/annual-meeting"  class="plain-button">Annual meeting</a>
    </div>
</div>
 <div class="related-links">

    <h3>Support</h3>
You should never need to deal with pensions problems alone. There are many groups which you can join, or which can offer you financial support and guidance.
<div class="vertical-button-container">

<a href="/corporate/careers/associations"  class="plain-button">Associations</a>
<a href="/corporate/careers/pensioner-liaison-scheme"  class="plain-button">Pensioner liaison scheme</a>
<a href="/corporate/careers/transport-benevolent-fund"  class="plain-button">Transport Benevolent Fund</a>
<a href="/corporate/careers/staff-welfare-fund"  class="plain-button">Staff Welfare Fund</a>
    </div>
</div>
 <div class="related-links">

    <h3>Investments and accounts</h3>
Find out where we're investing, how investments are performing and access our accounts
<div class="vertical-button-container">

<a href="/corporate/careers/investment-management-and-principles"  class="plain-button">Investment management and principles</a>
<a href="/corporate/careers/performance"  class="plain-button">Performance</a>
<a href="/corporate/careers/accounts"  class="plain-button">Accounts</a>
    </div>
</div>
 <div class="related-links">

    <h3>Fund documents</h3>
To help you find out all you need to know about the Fund you can access current and old documents here.
<div class="vertical-button-container">

<a href="/corporate/careers/documents"  class="plain-button">Documents</a>
<a href="/corporate/careers/actuarial-valuation"  class="plain-button">Actuarial Valuation</a>
<a href="/corporate/careers/archive"  class="plain-button">Archive</a>
    </div>
</div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 