
    
  



@{ViewBag.Title = "Get ready for interviews";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/get-ready-for-interviews";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></li>
                
            
            
                <li><span class="last-breadcrumb">Get ready for interviews</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Get ready for interviews</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how we interview people, and how you can prepare for them. 
        
      </div>
    
    <div class="on-this-page">
      <p>Interviews at TfL are designed to give you the opportunity to show that you have the skills to do a job even if you don't have all the experience for that particular role.</p>
<p>These are called competency-based interviews. Lots of other organisations use them too.</p>
<p>The questions we ask are trying to find out if you have the right skills for a job. You will be asked to describe situations from your past that show how you cope with different situations.</p>
<p>For example, for some roles you might be asked to describe a situation where you had to help a colleague who was having difficulties.</p>
<p>The competencies you need for a job are usually listed in the job description. They will include things such as Customer Focus, Collaboration, Communication and Influence.</p>
<p>How you do things can be just as important as what you do - we call this behaviours. When we assess people for roles at TfL, we look at what they can do and also how they go about doing it. See a list of  TfL competencies and behaviours. </p>
<h2>How to prepare</h2>
<p>Read the job description and think about why the role appeals to you. Think about why you should be considered and what skills you can bring. </p>
<p>Consider some past situations that you are proud of so that you are ready to talk about them in the interview. Think about how you can use them to show how you demonstrated the competencies listed for the role you are being interviewed for.</p>
<h2>The STAR formula</h2>
<p>One way to answer competency questions is to use the STAR formula. It stands for Situation, Task, Action, Result and it is a good way to organise your responses. </p>
<p><strong>Situation:</strong> what was the situation you found yourself in?  Briefly describe the background to the situation.</p>
<p><strong>Task:</strong> what was the specific task you had to do? Describe your responsibility.  What, how and why</p>
<p><strong>Action:</strong> what actions did you take? Describe what you actually did.</p>
<p><strong>Result:</strong> what happened as a result of your action?  Don't worry if it wasn't the intended outcome, you can use it to demonstrate what you would do differently next time.</p>
<h3>Example STAR answer</h3>
<p>Here is an example answer to a question we asked in an interview.</p>
<p>The question was:</p>
<p>Give an example of when you have provided good customer service</p>
<p>The response was:</p>
<p><strong>Situation:</strong><br />
I was working at Piccadilly Circus station during a busy Saturday afternoon and noticed that a customer had tapped out through the gates and seemed uncertain of where to go next.</p>
<p><strong>Task:</strong><br />
</p>
<p>My role is to ensure that all of our customers receive excellent service when travelling on our network, so I needed to make sure this customer knew where she needed to go and check that there were no other problems, for example if she had lost something while on the tube.</p>
<p><strong>Action:</strong><br />
</p>
<p>I politely approached the customer and asked her if she was okay, or if she needed any help.</p>
<p>The customer explained that she was trying to get to Pall Mall but was uncertain about which exit she should use from the station and which direction to go once outside.</p>
<p>I explained to the customer which exit she should take, and walked her over to it.</p>
<p>I gave her walking directions to Pall Mall from outside the station, and explained that it was an easy walk of less than 10 minutes.
I also took her to the top of the stairs to the exit and showed her the walking map outside the station for reference.</p>
<p><strong>Result:</strong><br />
</p>
<p>
The customer thanked me for helping them and seemed much more confident about where she needed to go. I later found out that the customer had written a commendation to my Supervisor thanking me for my help.</p>
      
           
      
<div>



<h2>STAR template</h2>


Think of a few situations that you are proud of and download this exercise sheet to plan your answers.
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/star-exercise-template.pdf">
    <div class="document-download-text">
        <p>STAR exercise template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>

<h2>Interview tips</h2>
<ul>
    <li>Remember to say 'I'...this is all about you </li>
    <li>Make sure you have understood the question. If you are unclear, it is fine to ask for more explanation </li>
    <li>Give specific examples on what you have done. Choose examples from your current and previous jobs, as well as study, voluntary work, sport and personal life </li>
    <li>Be ready to discuss your examples in more detail. Think of who, what, why, where, when and how for each of your scenarios so that you are prepared for any questions</li>
</ul>
<h2>Other resources	</h2>
<p>If you need more help, here are some other websites where you can find advice on interviews. </p>
<p><a href="https://nationalcareersservice.direct.gov.uk/get-a-job/interview-advice">National Careers Service &#45; Interview advice</a> <br />
<a href="https://www.reed.co.uk/career-advice/interview-techniques/">Reed.co.uk &#45; interview techniques</a> <br />
<a href="http://www.jobsite.co.uk/worklife/competency-based-interviews-20445/">Jobsite.co.uk &#45; What are competency based interviews?</a> </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/writing-a-cv-and-cover-letter">Writing a CV and cover letter</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/get-ready-for-interviews">Get ready for interviews</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/skills-that-you-already-have">Skills that you already have</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Advice on preparing for competency based interviews";}
        
            
        


 