
    
  



@{ViewBag.Title = "Ill-health retirement";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>Ill-health retirement</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    <div class="on-this-page">
      <p>If you can't work because of mental or physical incapacity you may be entitled to ill-health benefits.</p>
<p>What you receive depends on whether you are a contributing member or have a deferred pension.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ill-health-guidelines.pdf">
    <div class="document-download-text">
        <p>Read the ill-health guidelines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 119KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.12 -->
 
</div>

</div>
 <div>

<h2>Ill-health retirement for contributing members</h2>
<p>Receiving your pension due to ill-health depends on the Trustees' approval, so you must provide us with satisfactory medical evidence that you cannot do your job because of mental or physical incapacity.</p>
<p>Once the pension is in payment the Trustees may in their absolute discretion vary or suspend the pension granted.</p>
<p>Such action will only be taken following an ill-health pension review.</p>
<p>A review will only apply in response to contact made by you or other parties, where you seek re-employment with TfL, or if your earnings exceed, when added together with the ill-health pension, that from your previous job with TfL as currently performed. There will be no reviews after age 60.</p>
<p>As a guide as to when you should make contact, <strong>the Fund requires you to tell us</strong> if the sum of your current earnings and pension together exceeds the greater of 150 per cent of your pension or &pound;30,000. This latter figure will be increased annually by earnings inflation and the new figure communicated to members.</p>
<p>The benefit is based on your pensionable service and pensionable salary as follows:</p>
<h3>Pensionable service less than two years</h3>
<p>You will not receive a pension but you can receive a lump sum of a quarter of your pensionable salary.</p>
<p>If you are working part-time when you retire, the lump sum will be calculated using pro-rated pensionable salary.</p>
<h3>Pensionable service between two and five years</h3>
<p>You will receive a pension, calculated as 1/60 x pensionable service x pensionable salary.</p>
<h3>Pensionable service more than five years</h3>
<p>You will receive a pension, and your pensionable service will be increased by up to 10 years. Your annual pension is calculated as 1/60 x pensionable service x pensionable salary.</p>
<p>For Existing Members there is a deduction of &pound;10.10 a year for pensionable service from 1 October 1993.</p>
<p>You can exchange part of your pension for a lump sum, but not the part relating to the enhanced pensionable service. If you receive an ill-health pension you can not get a variable pension.</p>
<h2>Ill-health retirement for deferred pensioners</h2>
<p>Should you be unable to work because of ill-health you may be able to take your pension whatever your age.</p>
<p>Receiving your pension due to ill-health depends on the Trustees' approval, so you must provide us with satisfactory medical evidence that you can not earn an income. The Trustees may require regular evidence of continued incapacity and of earnings received from any employment.</p>
<p>The pension is payable while your incapacity continues.</p>
<p>Once the pension is in payment the Trustees may in their absolute discretion vary or suspend the pension granted.</p>
<p>Such action will only be taken following an ill-health pension review.</p>
<p>A review will only apply in response to contact made by you or other parties, where you seek re-employment with TfL, or if your earnings exceed, when added together with the ill-health pension, that from your previous job with TfL as currently performed. There will be no reviews after age 60.</p>
<p>As a guide as to when you should make contact, <strong>the Fund requires you to tell us</strong> if the sum of your current earnings and pension together exceeds the greater of 150 per cent of your pension or &pound;30,000. This latter figure will be increased annually by earnings inflation and the new figure communicated to members.</p>
<h3>Organ donation</h3>
<p>The Trustees would be willing to consider making a ruling in advance of donating an organ regarding your eligibility for an ill-health pension. In cases of emergency organ donation you can apply for a ruling after the organ donation.</p>
<p>If you do not ask for this ruling and some time later apply for an ill-health pension, then the Trustees would make a decision in the normal way when you leave service.</p>
<h3>Avoiding overpayment</h3>
<p>You must keep the <a href="/pensions/contact">Fund Office</a> informed of your personal circumstances to avoid any overpayment of pension being made, which would have to be repaid.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 