
    
  



@{ViewBag.Title = "News and publications";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>News and publications</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    
      
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/on-the-move?intcmp=23815" >
        <img src="/cdn/static/cms/images/promos/big-ben-aerial_rdax_400x200.jpg" alt="Big Ben tower from above" />
        
        <div class="text-link">
             <h2>On the Move</h2>
            <p></p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/publications?intcmp=23812" >
        <img src="/cdn/static/cms/images/promos/box-junction_rdax_400x200.jpg" alt="Box junction" />
        
        <div class="text-link">
             <h2>Publications</h2>
            <p></p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>News</h3>
Get the latest news and updates about pensions events and changes
<div class="vertical-button-container">

<a href="/corporate/careers/pcc-election-results-2014"  class="plain-button">PCC election results 2014</a>
<a href="/corporate/careers/suspension-of-transfers-in"  class="plain-button">Suspension of transfers in</a>
<a href="/corporate/careers/april-2014-pension-increase"  class="plain-button">April 2015 pension increase</a>
<a href="/corporate/careers/april-2014-pension-increase"  class="plain-button">April 2014 pension increase</a>
<a href="/corporate/careers/pcc-election-results-2013"  class="plain-button">PCC election results 2013</a>
<a href="/corporate/careers/new-years-resolution"  class="plain-button">New Year's Resolution</a>
    </div>
</div>
 <div class="vertical-button-container">



<a href="/corporate/careers/news-archive"  class="plain-button">News archive</a>

</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 