
    
  



@{ViewBag.Title = "Remarriage and divorce";}


        <!-- empty placeholder -->
 
        

<div class="r">
  <div class="headline-container plain">
    <h1>Remarriage and divorce</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    
      <p>If you get divorced, the court may take your pension benefits into account when reaching a settlement with your ex-spouse. There are three different ways your pension benefits can be treated:</p>
<ul>
    <li>Pension sharing. The value of your pension is split between you and your ex-spouse. Your own pension will reduce and your ex-spouse will become entitled to a 'pension credit' in his or her own right. The level of the split will be determined as part of the settlement</li>
    <li>Earmarking. A portion of your pension is 'earmarked' for payment to your ex-spouse</li>
    <li>As an alternative to pension sharing or earmarking, your pension will remain intact and you and your ex-spouse will divide other assets, taking account of the value of your pension when doing so</li>
</ul>
<p>Your solicitor will be able to give you more guidance as to the different options available.</p>
<p>You may find <a href="http://www.divorceaid.co.uk/">http://www.divorceaid.co.uk/</a> useful.</p>
<h2>What happens to my pension if I remarry?</h2>
<p>Your pension will continue to be paid as normal whether you are receiving a pension in respect of your own Fund membership or are receiving an adult dependant's pension.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 