
    
  



@{ViewBag.Title = "Rewarding you";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/rewarding-you";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
            
                <li><span class="last-breadcrumb">Rewarding you</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Rewarding you</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If we are to attract the right talent and retain the energy and commitment of our people, we must provide the rewards for that to happen.
        
      </div>
    
    
      <p>This means more than simply providing a competitive pay and benefits package. We also aim to recognise individual and team success through performance-related pay and bonuses.</p>
<p>In addition, we offer lifestyle discounts for retail and travel purchases and tax-efficient schemes for childcare and cycle-to-work purchases.</p>
<h2>Rewards</h2>
<p>Rewards vary* according to the business area and role but may include:</p>
<ul>
    <li>Final salary pension scheme</li>
    <li>Free travel for you and a nominated partner/family member on the TfL network</li>
    <li>A 75% discount on National Rail Season Ticket and interest-free loan</li>
    <li>Minimum of 29 days annual leave plus public holidays</li>
    <li>Private healthcare discounted scheme - optional</li>
    <li>Tax-efficient childcare payments</li>
    <li>Tax-efficient cycle-to-work programme</li>
    <li>Retail, health, leisure and travel offers including discounted Eurostar travel</li>
</ul>
<p>*Different terms and conditions apply to our Surface Transport vehicle maintenance (London Dial-a-Ride) scheme. </p>
<ul>
</ul>
<h2>TfL Pension Fund</h2>
<p>It's never too early to start thinking about your pension - your future comfort depends on it.
We offer a fantastic final salary pension scheme that provides excellent benefits for you and your dependants.
</p>
<p>Visit the <a href="http://www.tfl.gov.uk/microsites/pensions/home.asp">TfL Pension Fund</a> website for all you need to know about these benefits, how
much you'll contribute, and what you can expect to receive while
working, after leaving and during your well-earned retirement.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.tfl.gov.uk/microsites/pensions/home.asp" class="plain-button">TfL Pension Fund</a>
<a href="https://tfl.taleo.net/careersection/external/moresearch.ftl?lang=en" class="plain-button">Search for jobs</a>
    </div>
</div>
 <div class="follow-social linkedin">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Corporate news and careers</h3>
    <p>Jobs, apprenticeships and graduate opportunities</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.linkedin.com/company/transport-for-london">Follow</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "If we are to attract the right talent and retain the energy and commitment of our people, we must provide the rewards for that to happen.";}
        
            
        


 