
    
  



@{ViewBag.Title = "Skills that you already have";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/skills-that-you-already-have";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></li>
                
            
            
                <li><span class="last-breadcrumb">Skills that you already have</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Skills that you already have</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        No matter what your background or previous experience, you will have developed some skills that will be useful in new situations. We call these transferrable skills (they're also known as soft skills).
        
      </div>
    
    <div class="on-this-page">
      <p>They can include things such as team work, good communication, problem solving and time management.</p>
<p>You might have learned them from a previous job, from volunteering, in education or from other life experiences.</p>
<p>If you're looking for a job in a different sector, or trying to get your first career break then it can be helpful to identify your transferable skills. Use them to demonstrate how you have the right skills and experience for the job in your CV and cover letter.</p>
<p>After you have identified the skills you have, you can compare these to the ones listed in jobs you are interested in.</p>
<h2>Examples of transferable skills</h2>
<h3><strong>Experience 1</strong></h3>
<p>Working as a Customer Service Advisor on a station one of my responsibilities is to check customers' tickets and resolve any errors when they can't get through the gates, always ensuring that I give good customer service. </p>
<p><strong>Transferable skills </strong></p>
<ul>
    <li>Attention to detail </li>
    <li>Excellent customer service </li>
    <li>Ability to influence difficult stakeholders </li>
    <li>Problem solving </li>
</ul>
<h3><strong>Experience 2</strong></h3>
<p>In my military career I coordinated the training and deployment of over 250 personnel to operations abroad. </p>
<p><strong>Transferable skills </strong></p>
<ul>
    <li>Team leadership </li>
    <li>Project management </li>
    <li>Resource management </li>
    <li>Resilience </li>
</ul>
<h3><strong>Experience 3</strong></h3>
<p>At University I studied Psychology and had to write a number of essays on different topics. I also had to deliver a presentation to my seminar class. </p>
<p><strong>Transferable skills </strong></p>
<ul>
    <li>Excellent written and verbal communication skills </li>
    <li>Confident public speaker</li>
</ul>
      
           
      
<div>



<h2>Transferable skills template</h2>


Download a blank template so that you can list out your own transferable skills.
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/transferable-skills-exercise.pdf">
    <div class="document-download-text">
        <p>Transferable skills template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div>

<h2>Other resources</h2>

<p>If you need more help, here are some other websites where you can find advice on transferable skills.</p>

<p><a href="https://www.indeed.com/career-advice/resumes-cover-letters/transferable-skills">Indeed - Transferable Skills: Definitions and Examples</a><br />
<a href="https://www.reed.co.uk/career-advice/what-are-transferable-skills/">Reed.co.uk &#45; What are transferable skills?</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/writing-a-cv-and-cover-letter">Writing a CV and cover letter</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/get-ready-for-interviews">Get ready for interviews</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/skills-that-you-already-have">Skills that you already have</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Transferable skills and how to show that you have them";}
        
            
        


 