
    
  



@{ViewBag.Title = "Smart Sourcing programme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/smart-sourcing-programme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
            
                <li><span class="last-breadcrumb">Smart Sourcing programme</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Smart Sourcing programme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Smart Sourcing is a programme that helps people who face barriers to employment overcome those barriers. It also helps us tap into a wider pool of talent.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/smart-sourcing-programme-graphic.png" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/smart-sourcing-programme-graphic_rdax_400x250.png" alt="Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate" />
             <span class="caption">Four stages of Smart Sourcing: positioning, pathways, preparation, perpetuate</span>
        </a>
        
        
    </div>
    <p>We want our workforce to reflect the diversity of London, and Smart Sourcing helps us to find really good people from a wider range of backgrounds.</p>
<h2>What is Smart Sourcing?</h2>
<p>Some groups of people are likely to face barriers to employment, even though they have a great deal to offer. </p>
<p>Through Smart Sourcing, we support and encourage them to apply for roles at TfL and in the wider transport industry.</p>
<p>Those supported by Smart Sourcing include ex-service people, people who have been out of employment for long periods, young people from disadvantaged backgrounds and ex-offenders. </p>
<p>We developed Smart Sourcing to help TfL to benefit from a workforce as diverse as the population of London. Our successful employees include many people who haven't had a conventional career or who have faced difficulties along the way.</p>
<h2>Attracting talented people to TfL</h2>
<p>We  let people know about the opportunities available by running insight days with partner organisations such as the Career Transition Partnership (CTP).</p>
<p>These give people an insight into the many different roles across our business - such as Service Controllers who run the signalling across our network. They also provide attendees with information on how to apply, and employability skills training so that they are better equipped to manage the assessment process.</p>
<h2>Helping people find a route into work</h2>
<p>We make it as easy as possible for people who face barriers to get work at TfL.</p>
<p>For example, we run a work placement scheme for armed forces service leavers, helping them to move into civilian roles in project management.</p>
<p>In 2016/17 we offered 14 placements and 24 permanent roles to armed forces veterans.</p>
<p>We run similar schemes for other groups who face barriers to employment such as people returning to work after a long career break.</p>
<p>We run an outreach programme, 'Moving Forward' for apprenticeships, targeting deprived boroughs and girls' schools. Our aim is to increase social mobility and attract more girls into roles involving science, technology, engineering and mathematics.</p>
<h2>Helping candidates prepare</h2>
<p>We run employability skills workshops in London prisons and with other groups of people who need extra support to get into work.</p>
<p>We run stands and presentations at employment fairs at schools, local boroughs, Wellington Barracks, and other organisations across London.</p>
<p>We also provide advice, templates and examples to help people prepare for interviews and assessments.  See our <a href="/corporate/careers/employability-toolkit">Employability toolkit</a>.</p>
<h2>Helping  employees develop their careers</h2>
<p>Smart Sourcing isn't just about getting the right people into the organization - we want to enable all our employees to reach their full potential. Once someone has joined us, the programme continues to support them to develop their careers within our business.</p>
<p>We run initiatives such as Automatic Shortlisting, to help our middle managers progress so that we can  improve diversity at senior management level.</p>
<p>We run skills workshops and insight days for staff: for example targeting women who may want to move into Train Operator or Service Control roles but haven't had the confidence to do so.</p>
<h2>Business benefits</h2>
<p>Working with people from different backgrounds, with different experiences, is good for business.  	</p>
<ul>
    <li>Diversity fosters creativity and innovation, and leads to better decision making problem solving, governance, and financial performance</li>
    <li>It helps us to better understand the diverse needs of the customers we serve</li>
    <li>It gives us a competitive advantage &#45; it helps us recruit and retain the best talent by making us an employer of choice</li>
    <li>It helps us to attract scarce skills, eg for hard to fill engineering roles</li>
</ul>
<h2>Partner organisations</h2>
<p>We work with a number of partners to make this scheme a success including:</p>
<ul>
    <li><a href="https://www.ctp.org.uk/">CTP</a> - the official provider of Armed Forces resettlement</li>
    <li><a href="https://ctpassist.ctp.org.uk/">CTP Assist</a> - provides employment support opportunities to wounded, injured and sick soldiers, sailors and airmen</li>
    <li><a href="http://www.army.mod.uk/reme/32008.aspx">RAJA</a> - provides advice and support to soldiers and veterans who are moving into civilian life</li>
    <li><a href="https://www.poppyfactory.org/">Poppy Factory</a> - the country's leading employment charity for veterans with health conditions or impairments</li>
    <li><a href="https://www.combatstress.org.uk/">Combat Stress</a> - the veterans mental health charity</li>
    <li><a href="http://womenreturners.com/">Women Returners</a> - a consultancy that focuses on enabling talented professionals to return to work after an extended career break</li>
    <li><a href="http://www.workingchance.org/">Working Chance</a> - the recruitment consultancy for women leaving the criminal justice and care systems</li>
    <li><a href="http://afairerchance.com/">A Fairer Chance</a> - a Community Interest Company which helps ex-offenders and other priority groups into work</li>
    <li><a href="http://www.3pillarsproject.com/">3 Pillars Project</a> - works with young offenders to prepare them for release</li>
</ul>
 </div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/gold-ers-logo.png" alt="Ministry of Defence Employer Recognition Scheme Gold Award 2017 " />
    </div>
    <h2>Smart Sourcing awards</h2>
<ul>
    <li>Winner of the Guardian Public Sector Award for Recruitment 2016</li>
    <li>Winner of the Ministry of Defence Employer Recognition Scheme Gold Award 2017 for our 'best in class' support for the Armed Forces community</li>
    <li>Shortlisted for the Lord Mayor's Dragon Awards 2017</li>
    <li>Shortlisted for Best Diversity and Inclusion Strategy, In-House Recruitment Awards 2017</li>
</ul> 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/are-you-untapped-tale">Are you untapped talent?</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Smart Sourcing is a scheme which helps people who face barriers to employment overcome those barriers";}
        
            
        


 