
    
  



@{ViewBag.Title = "Steps into work ";}
@{ViewBag.Keywords = "TfL,Steps into Work, disabilities, work experience";}
@{ViewBag.Url = "/corporate/careers/steps-into-work";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
            
                <li><span class="last-breadcrumb">Steps into work </span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Steps into work </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Steps into Work programme is a 12-month scheme which offers people with mild to moderate learning disabilities and those on the autism spectrum the chance to gain skills and work experience. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/steps-into-work-12.jpg" alt="steps into work" />
        <span class="caption">Students on the programme</span>
        
        
    </div>   
 </div>
 <div>

<p>If you are 16 years or older and have&nbsp;mild to moderate learning disabilities and/or are on the autism spectrum, this programme gives you the chance to develop&nbsp;your employability skills through work experience to prepare&nbsp;you to look for a paid job.</p>

<p>On the programme, you will complete work experience placements and will be supported in completing a BTEC Level 1 Work Skills&nbsp;qualification.</p>

<p>There are&nbsp;24 places each year on the Steps into Work programme. It runs from&nbsp;September to August, Monday to Friday, 10:00&nbsp;to 15:30.</p>

<h3>How to get on the programme</h3>

<ol>
	<li><a href="/corporate/careers/about-steps-into-work">Find out more about</a> the Steps into Work programme</li>
	<li>When you've read the information,&nbsp;fill in the expression of interest form and send it to us.</li>
	<li>If you're successful,&nbsp;we will invite you to come to an assessment day at Barnet &amp; Southgate College where we will test your numeracy, literacy and ICT at entry level 3. Specialist job coaches will be there to help. We use the assessment day to decide who will go on to the next stage.</li>
	<li>If you are successful at the assessment day, we'll invite you to an interview. A specialist job coach will be there to help during the interview</li>
	<li>After the interviews, we'll choose&nbsp;24 people to be on the programme.</li>
</ol>

<p>Please email <a href="mailto:stepsintowork&#64;tfl.gov.uk">stepsintowork&#64;tfl.gov.uk</a> or call 020 3054 2718 to request&nbsp;an expression of interest form or for further information about the programme.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/about-steps-into-work">About Steps into Work</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page about the Steps into Work programme";}
        
            
        


 