
                @{ViewBag.Title = "Terms and Conditions";}
              

  




        
          
        
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/corporate/careers/index">Careers</a>
                </li>
                
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Terms and Conditions</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    <div class="on-this-page">
      <p>This website is provided for members, prospective members and beneficiaries of the TfL Pension Fund (referred to as the Fund) by TfL and the Trustee of the Fund.</p>
<p>The Fund is governed by the Trust Deed and Rules of the Fund. A copy is available online or from:</p>
<p>TfL Pension Fund<br />
Wing Over Station<br />
55 Broadway<br />
London<br />
SW1H 0BD</p>
<p>TfL and the Trustee of the Fund may at any time revise these Terms and Conditions without notice. It is up to the user to review regularly the Terms and Conditions in case there are any changes. Continued use of the TfL Pension Fund website after a change has been made is to be treated as acceptance of that change by the user.</p>
<h2>Disclaimer</h2>
<p>While TfL and the Trustee of the Fund try hard to ensure that this website is functioning correctly and is as accurate as possible, this will not always be achievable and therefore the following disclaimer applies.</p>
<p>The website is provided 'as is' without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, compatibility, non-infringement, accuracy and security. TfL and the Trustee of the Fund do not guarantee or represent that the content and/or facilities available or accessible via the website will always be accurate, complete or current, or that access to the website will be uninterrupted.</p>
<p>TfL and the Trustee of the Fund expressly disclaim all liability for any direct, indirect or consequential loss or damage occasioned from the use or inability to use the website, whether directly or indirectly resulting from inaccuracies, defects, viruses, errors - whether typographical or otherwise, omissions, out of date information or otherwise.</p>
<p>Accessing the website and downloading material from it is done entirely at the user's own risk. The user, and neither TfL nor the Trustee of the Fund, will be entirely responsible for any resulting damage to software or computer systems and/or any resulting loss of data even if TfL and the Trustee of the Fund have been advised of the possibility of such damage.</p>
<h2>Website content</h2>
<p>Every effort has been made to keep this website up to date and correct, and to describe the provisions of the Fund accurately as they affect members and beneficiaries. However, if there are inconsistencies between the information on this website and the Trust Deed and Rules, the Trust Deed and Rules will prevail.</p>
<p>While we have provided links to other sites for your interest and convenience we have no responsibility for their content. Such links are supplied solely for the convenience of users. TfL and the Trustee of the Fund are not responsible for the contents or reliability of the linked websites and do not necessarily endorse the views expressed within them or the organisation or persons providing them in any way. TfL and the Trustee of the Fund do not guarantee that these links will work all of the time and we have no control over the availability of the linked pages.</p>
<h2>Member Self Service</h2>
<p>If you are eligible and register to use the Member Self Service facility, you will be issued with a username and password solely for your own use of the service. TfL and the Trustee of the Fund shall be entitled to assume that any person using a password is the person to whom the password was issued.</p>
<p>At its sole discretion TfL and the Trustee of the Fund may bar the use of your password from time to time due to security or other concerns or for general administration purposes. TfL and the Trustee of the Fund will inform you as soon as reasonably possible of such action. You may then request a new password following the procedures advised by TfL and the Trustee of the Fund.</p>
<p>TfL and the Trustee of the Fund reserve the right to change your password at any time and without giving reasons. TfL and the Trustee of the Fund will inform you as soon as reasonably practicable of any such change.</p>
<p>You must keep your password confidential and shall not permit any other person to use your password. If you become aware or suspect that another person knows your password or is using your password you must change your password immediately and notify TfL and the Trustee of the Fund.</p>
<p>TfL and the Trustee of the Fund reserve the right to introduce other security measures without notice, to withdraw the availability of the service to any individual and do anything else that is necessary to preserve the security of the information.</p>
<p>If you copy or download any of the information, you will assume responsibility for the security of any personal data contained in it.</p>
<p>Your right to use the service will terminate automatically if you cease to hold benefits under the Fund.</p>
<p>&nbsp;</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    <div class="share-widget-wrapper"></div>
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2>Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme">Graduate scheme</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/student-placements">Student placements</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/opportunities-in-online">Opportunities in TfL Online</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style">
  <div class="advert-link">
    <div class="advert-content">
      
        <div id='div-gpt-ad-A7FA320F511F438882ED74D48B663B26' style='width:300px; height:250px;'>
          <script type='text/javascript'>
            googletag.cmd.push(function()
              { googletag.display('div-gpt-ad-A7FA320F511F438882ED74D48B663B26'); }
            );
          </script>
        </div>
    </div>
    <span class="disclaimer">Advertisement</span>
  </div>
</div>
@{
  ViewBag.AdSettings = "'/3595/TFL/Homepage', [300, 250], 'div-gpt-ad-A7FA320F511F438882ED74D48B663B26'";
  ViewBag.AdTargets = "'from','station'|'to','station'";
}
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Pensions Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="hide-text icon email-icon">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                <span class="hide-text icon phone-icon">Phone details</span>
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456 
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                <span class="hide-text icon mail-icon">Address details</span>
                4th Floor<br />
                Wing over Station<br />
                55 Broadway<br />
                London SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
          
        
      
              


 