
    
  



@{ViewBag.Title = "Writing a CV and cover letter";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/writing-a-cv-and-cover-letter";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></li>
                
            
            
                <li><span class="last-breadcrumb">Writing a CV and cover letter</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Writing a CV and cover letter</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Your CV is the first thing an employer sees about you. Here are some tips to help you make a great first impression.
        
      </div>
    
    <div class="on-this-page">
      <ul>
    <li>Spend time to get your CV right </li>
    <li>Read the job description and show the employer how you can add value</li>
    <li>Tailor your CV to the job giving clear evidence as to why you meet the requirements</li>
    <li>Be honest, stick to facts</li>
    <li>Keep it brief, ideally no more than 2 pages</li>
    <li>Use a simple layout and make your headings bold so that they stand out</li>
    <li>Always proof read and spell check before sending</li>
</ul>
<h2>How to organise a classic CV</h2>
<p>Put your contact details at the top. You don't need to include a photo.</p>
<p>Make sure your email address is business-like. mickeymouse&#64;nowhere.com won't do you any favours.</p>
<p>Start your CV with a career summary which highlights your strengths and achievements. Use facts and figures where possible, for example: I increased the productivity of X by 20% in 2016.</p>
<p>Include your career history in date order, putting your most recent job first.</p>
<p>Make your job titles and job descriptions as clear and easy to understand as possible.</p>
<p>Use bullet points to describe the jobs you have done and talk about your achievements in each role.</p>
<p>Don't include your whole job history, the last 5-8 years is usually enough.</p>
<p>If it is recent, add your educational achievements and any professional courses you have completed.</p>
<h2>How to write a cover letter</h2>
<p>A cover letter is a great way to sell your skills and show how good you would be for a role. If an application process asks for a CV and cover letter, don't forget to include a letter tailored to the role you are applying for. </p>
<p>It should be brief, no more than one side. </p>
<p>The cover letter is an opportunity to describe how you match the skills and experience the employer is looking for.</p>
<p>This can be especially useful if you need to show that you have <a href="/corporate/careers/skills-that-you-already-have">transferable skills</a>.</p>
<h2>Other resources</h2>
<p>If you need more help, here are some other websites where you can find advice on creating CVs and cover letters.</p>
<p><a href="https://nationalcareersservice.direct.gov.uk/get-a-job/cv-tips">The National Careers Service - CV tips</a><br />
<a href="https://www.reed.co.uk/career-advice/cvs/">Reed.co.uk CVs</a> <br />
<a href="https://www.reed.co.uk/career-advice/cover-letters/">Reed.co.uk - cover letters</a> <br />
<a href="https://www.monster.co.uk/career-advice/article/monster-cv-template">Monster - CV template</a> </p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/writing-a-cv-and-cover-letter">Writing a CV and cover letter</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/get-ready-for-interviews">Get ready for interviews</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/skills-that-you-already-have">Skills that you already have</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="news-teaser">

    <a href="/corporate/careers/are-you-untapped-tale?intcmp=49575" >
        <img src="/cdn/static/cms/images/promos/smart-sourcing-image2b_rdax_400x200.jpg" alt="Workshop image" />
        
        <div class="text-link">
             <h2>Are you untapped talent?</h2>
            <p>If you're changing your career or returning to work after a break, we can help</p>
        </div>
    </a>
</div>
 
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Advice on creating a CV and cover letter";}
        
            
        


 