


@{ViewBag.Title = "50% of Tube services operating despite RMT strike (1200)";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">50% of Tube services operating despite RMT strike (1200)</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>50% of Tube services operating despite RMT strike (1200)</h1>
        <div class="content-page-press-release">
        29 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Much higher level of Tube service than previous strike
        
    </div>



 <div class="on-this-page">
<ul></ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ul>
        <li>Two-thirds of Tube stations open</li>
        <li>87 per cent of usual number of Oyster cards used on TfL network this morning</li>
        <li>Record number of buses running</li>
        <li>Over 70 per cent increase in Barclays cycle hires</li>
        <li>Full and enhanced services operating on London Overground, DLR, Tramlink and River </li>
    </ul>
    <p>London Underground (LU) is operating fifty per cent of Tube services today despite the pointless strike called by the leadership of the RMT union.  </p>
    <p>This is far higher than during the last strike in February. </p>
    <p>Two thirds of stations are open and, as planned, services are running on 9 of the 11 lines.  </p>
    <p>Services will not run on the Waterloo and City or Circle lines, the stations on which are served by other lines. </p>
    <p>Around 87 per cent of Oyster cards that would usually be seen on the TfL network have been seen today &#45; showing that London is working and open for business &#45; and the highest number of buses ever are operating in London - 7,961, which is 266 more than usual. </p>
    <p>Barclays Cycle Hire journeys are up by over 70 per cent.Many thousands of staff and volunteer Travel Ambassadors drawn from TfL's support functions are out in force working hard to help customers and road users make their journeys.</p>
    <p>The strikes have been called by the leadership of the RMT union over plans to modernise the Tube.</p>
    <p>Under these plans, at the busiest stations there will be nearly a third more staff visible and available to provide, on a permanent basis, the face-to-face customer service offered during the London 2012 Games.  </p>
    <p>Visitors to London and people with disabilities will be better looked after than ever before.</p>
    <p>The modernisation will see savings of &pound;50 million a year which will be reinvested in more frequent and reliable train services and will help keep fares down.Safety and security will never be compromised.  </p>
    <p>Safety is not controlled from ticket offices but by station supervisors and dedicated control rooms.  </p>
    <p>This will  continue.</p>
    <p>Mike Brown, Managing Director of London Underground, said:  </p>
    <p>'London has continued to work and remain open for business in the face of this pointless RMT strike. More London Underground staff have come to work this morning which has allowed us to run a much better service than during the last, equally pointless, strike."Fifty per cent of Tube services are running and two-thirds of stations are open.  We have a record number of buses operating and full or enhanced services on the London Overground, DLR, Tramlink and River.  Barclays Cycle hires are 70 per cent up.  Eighty seven per cent of the usual number of Oyster cards have been used on the TfL network this morning.'    </p>
    <p>'Under our plans to modernise the Tube, fairness to our staff is guaranteed.  There will be no compulsory redundancies, there is a job for all staff wanting to remain with us and no one will lose pay.  We have made significant changes to our original proposals after listening to staff and unions in over 40 meetings, including agreeing that supervisors will not need to 'reapply for their jobs'.'</p>
    <p>'Only the RMT leadership know the real motivations behind their action, but it is infuriating that London's commuters and businesses are the ones who are being forced to pay the price with five days of unnecessary disruption.&quot;&quot;My message to the leadership of the RMT is that we will not be diverted from doing the right thing by our customers and staff. They should call the strike off and instead work with us to help shape the future of the Tube.'  </p>
    <p><strong>Latest Travel advice to customers (midday):</strong></p>
    <p>The situation may change throughout the day.   </p>
    <p>TfL is urging all customers to check before they travel at tfl.gov.uk and by following &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</p>
    <p><strong>London Underground</strong></p>
    <p>Services are currently operating as follows:</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="table-container"><table width="504" height="223">
        <tbody>
            <tr>
                <td>Bakerloo line  &#64;bakerlooline </td>
                <td>
                <p> Trains are running: </p>
                <ul>
                    <li>Queen's Park - Elephant &amp; Castle (every 5 minutes)</li>
                </ul>
                These trains will not stop at Edgware Road, Embankment, Kilburn Park, Lambeth North, Maida Vale, Paddington, Piccadilly Circus or Regent's Park stations. It is possible that some other stations may also need to close at times.</td>
            </tr>
            <tr>
                <td> Central line &#64;centralline    </td>
                <td>
                <p> No service is operating through the central area.  Trains are running:</p>
                <ul>
                    <li>Epping &#45; Leytonstone (every 15 minutes)</li>
                    <li>Hainault &#45; Marble Arch (every 20 minutes)</li>
                    <li>West Ruislip &#45; North Acton (every 15 minutes)</li>
                    <li>Ealing Broadway &#45; White City (every 10 minutes)</li>
                </ul>
                These trains will not stop at Redbridge, Bethnal Green, Chancery Lane, St Paul's or Wanstead stations. It is possible that some other stations may also need to close at times.</td>
            </tr>
            <tr>
                <td> Circle line &#64;circleline    <br />
                </td>
                <td> See District line, Hammersmith &amp; City line and Metropolitan line below.</td>
            </tr>
            <tr>
                <td> District line  &#64;districtline    </td>
                <td>
                <p> Trains are running:</p>
                <ul>
                    <li>Upminster &#45; Wimbledon (every 6 minutes)</li>
                    <li>aling Broadway - High Street Kensington (every 15 minutes) </li>
                </ul>
                These trains will not stop at Sloane Square or Fulham Broadway stations. It is possible that some other stations may also need to close at times.</td>
            </tr>
            <tr>
                <td> Hammersmith &amp; City line &#64;hamandcityline</td>
                <td>
                <p> Trains are running:</p>
                <ul>
                    <li>Hammersmith - Aldgate (every 10 minutes)</li>
                </ul>
                These trains will not stop at Barbican or Great Portland Street stations. It is possible that some other stations may also need to close at times.</td>
            </tr>
            <tr>
                <td>  Jubilee line  &#64;jubileeline     </td>
                <td>
                <p>Trains are running:</p>
                <ul>
                    <li>Wembley Park - Stratford (every 10 minutes)</li>
                    <li>Stanmore &#45; Wembley Park (every 20 minutes) </li>
                </ul>
                These trains will not stop at Bermondsey, Canada Water, St. John's Wood and Swiss Cottage stations. It is possible that some other stations may also need to close at times.</td>
            </tr>
            <tr>
                <td> Metropolitan line  &#64;metline     </td>
                <td>
                <p> Trains are running:</p>
                <ul>
                    <li>Harrow-on-the-Hill &#45; Aldgate (every 8 minutes)</li>
                    <li>Uxbridge - Harrow on-the-hill (every 20 minutes)</li>
                </ul>
                These trains will not stop at Barbican, Euston Square, Ladbroke Grove  or Great Portland Street stations. It is possible that some other stations may also need to close at times.</td>
            </tr>
            <tr>
                <td> Northern line  &#64;northernline   </td>
                <td>
                <p>  Trains are running over the whole line with good service via both the Bank and Charing Cross branches in both directions.</p>
                <p>These trains will not stop at Angel, Borough, Chalk Farm, Embankment, Leicester Square, Mornington Crescent and Warren Street stations. It is possible that some other stations may also need to close at times.</p>
                </td>
            </tr>
            <tr>
                <td> Piccadilly line &#64;piccadillyline</td>
                <td>
                <p> No service is  operating through the central area.  </p>
                <p>Trains are running:</p>
                <ul>
                    <li>between Acton Town and Heathrow Terminals 1,2,3 around every 10  minutes in both directions These trains will not stop at Heathrow Terminal 4, Heathrow Terminal 5 or Hounslow West stations.  It is possible that some other stations may also need to close at times.</li>
                </ul>
                <p>NB: Heathrow Express and ConnectA reduced Heathrow Express service will run on Tuesday 29 April and Wednesday 30 April due to separate strike action by the RMT. Heathrow Express plans to run two trains an hour between Heathrow and Paddington and back. </p>
                <p>Check www.heathrowexpress.com for more information.Heathrow Connect services will not be operating due to this separate strike action by the RMT</p>
                </td>
            </tr>
            <tr>
                <td> Victoria line &#64;victorialine</td>
                <td>
                <p>  Trains are running between Brixton &#45; Walthamstow Central (every 4 minutes)</p>
                <p>These trains will not stop at Pimlico, Warren Street or Tottenham Hale stations. It is possible that some other stations may also need to close at times.</p>
                </td>
            </tr>
            <tr>
                <td> Waterloo &amp; City line &#64;wlooandcityline</td>
                <td> No service.</td>
            </tr>
        </tbody>
    </table></div>
    <p><strong>DLR</strong></p>
    <p>A normal service will operate. Some stations where there is an interchange with London Underground may be affected.</p>
    <p><strong>Buses</strong></p>
    <ul>
        <li>A record number of London buses are operating across 700 routes. Services are being boosted with 268 extra buses on 44 of the busiest commuter routes</li>
        <li>TfL Ambassadors and volunteers are being deployed to bus stations and hubs to provide customers with travel information and advice on the ground.</li>
    </ul>
    <p><strong>London Overground</strong></p>
    <p>A normal service is operating. Some stations where there is an interchange with London Underground may be affected.</p>
    <p><strong>Tramlink</strong></p>
    <p>A normal service is operating.</p>
    <p><strong>Emirates Air Line</strong></p>
    <p>A normal service is operating.  LU tickets are being accepted on Emirates Air Line services.</p>
    <p><strong>Cycling</strong></p>
    <ul>
        <li>Barclays Cycle Hire is available to members and casual users, although demand is high, and cycles harder to access, during peak times;</li>
        <li>Londoners who own a bike are encouraged to cycle to and from work, and a Cycle Journey Planner is provided at tfl.gov.uk/cyclejourneyplanner;</li>
        <li>TfL has written to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day.</li>
    </ul>
    <p><strong>River Services</strong></p>
    <ul>
        <li>Enhanced River services are in place, including on Route RB1 between Greenland (Surrey Quays) / Canary Wharf and London Bridge; and,</li>
        <li>Additional services for Canary Wharf will leave London Eye at 08:00 and 08:30, calling at Tower only; additional services will leave Canary Wharf at 17:00, 18:30 and 19:00 calling at Tower only.</li>
        <li>An additional centre London service (Tower/ Bankside / Westminster / London Eye) during the AM peak only;</li>
        <li>In combination with the normal timetabled service, this will provide a 10 to 15 minute frequency on most central London piers during the morning and evening peaks</li>
        <li>On the RB6 route, the morning eastbound timetable will be enhanced with additional boats leaving Putney at 07:15, 07:45, 08:20 and 08:45. These extra services will be non-stop to Embankment, then Blackfriars.</li>
        <li>On the RB6 route, the evening westbound timetable will be enhanced with additional boats leaving Blackfriars at 17:35, 17:50, 18:15 and 19:15. These extra services will call at Embankment, then non-stop to Putney.</li>
    </ul>
    <p><strong>Roads and the Congestion Charge</strong></p>
    <ul>
        <li>To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike;</li>
        <li>TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network. TfL will also work with the Metropolitan Police to minimise the impact of congestion;</li>
        <li>TfL will be working to keep traffic flowing around major transport hubs;</li>
        <li>Londoners and commuters are encouraged to keep journeys by car to a minimum to enable public transport to move freely.</li>
    </ul>
    <p>ENDS</p>
    <p>&nbsp;</p>
    <hr />
    <strong>Notes to Editors:</strong>
    <p>&nbsp;</p>
    <p>A number of other alternative travel options are available today, including:</p>
    <p><strong>National Rail</strong></p>
    <ul>
        <li>Oyster Pay As You Go is accepted for all National Rail journeys within Greater London</li>
        <li>Travelcards are also valid for travel on National Rail within the zones purchased.</li>
        <li>A reduced Heathrow Express service will run on Tuesday 29 April and Wednesday 30 April due to separate strike action by the RMT. Heathrow Express plans to run two trains an hour between Heathrow and Paddington and back. Check www.heathrowexpress.com for more information.</li>
    </ul>
    <p><strong>Coaches</strong></p>
    <p>Several coach operators, including National Express and Green Line, offer services that stop in a number of locations throughout London. Some of the core coach routes are as follows:</p>
    <ul>
        <li>Golders Green - Finchley Road - Baker Street - Marble Arch - Victoria Coach Station (National Express)</li>
        <li>Brent Cross - Finchley Road - Baker Street - Marble Arch - Victoria (Green Line)</li>
        <li>Hillingdon - Shepherd's Bush/Baker Street - Marble Arch - Victoria (Oxford Tube &amp; X90)</li>
        <li>Hammersmith - Kensington - Hyde park Corner - Victoria (Green Line)</li>
        <li>Stratford - Bow - Aldgate - Victoria Coach Station (National Express)</li>
        <li>Bexley - Canary Wharf - Aldgate - Embankment - Victoria Street (Commuter Services)</li>
        <li>Coulsdon - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express)</li>
        <li>Sutton - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express)</li>
        <li>Eltham - Lewisham - Walworth - Elephant &amp; Castle - Victoria Coach Station (National Express)</li>
    </ul>
    <p>Tickets can be purchased in advance from the Victoria Coach Station ticket hall, or on the operators websites:</p>
    <p>http://www.nationalexpress.com for main site and bookings.</p>
    <p>http://coach.nationalexpress.com/nxbooking/stop-finder to find where the coach stops are in London</p>
    <p>http://www.greenline.co.uk for main site and bookings</p>
    <p>http://www.greenline.co.uk/timetables-search/ for location of stops in London</p>
    <p>www.oxfordtube.com</p>
    <p>http://x90.oxfordbus.co.uk</p>
    <p><strong>Taxis &amp; Private Hire</strong></p>
    <ul>
        <li>During peak times a marshalled taxi service will operate at eight major London rail termini &#45; Euston, Waterloo, Liverpool St, London Bridge, King's Cross, Victoria, Charing Cross, and Marylebone. The marshals will manage taxi and  passenger queues and provide advice and assistance to taxi passengers and other members of the public;</li>
    </ul>
    <ul>
        <li>Private hire and minicab services will be running as normal. Details for licensed private hire and minicab operators in London are available at tfl.gov.uk/cabwise.</li>
    </ul>
    <p><strong>Walking</strong></p>
    <ul>
        <li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with TfL Ambassadors and volunteers helping people plan their routes around the city;</li>
        <li>People are urged to use here walking for short journeys, where possible.</li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ul>
    </ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-50% of Tube services operating despite RMT strike (1200) -->

 
 
        
        
            @{ViewBag.Description = "Much higher level of Tube service than previous strike";}
        
        


 