


@{ViewBag.Title = "Bond Street Tube station to transform access to London's West End";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bond Street Tube station to transform access to London's West End</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bond Street Tube station to transform access to London's West End</h1>
        <div class="content-page-press-release">
        03 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Key West End station will be hugely enlarged to accommodate more shoppers and businesses from 2017
        
    </div>



 <div class="on-this-page">
<p>Vital construction work is stepping up this spring at Bond Street Tube station to transform access to London's West End. <br>&nbsp;<br>Part of London Underground's &pound;10 billion programme of continuous improvement, major construction work will modernise and enlarge the station by 2017, allowing for the expected increase from 155,000 to 225,000 daily passengers at Bond Street station when Crossrail arrives the following year.<br>&nbsp;<br>The improvements are part of an overall transport vision for the West End as it prepares to welcome more Tube customers and the arrival of Crossrail, with major expansion also taking place at Tottenham Court Road station. Customers will get their first look at brand new parts of Tottenham Court Road station by early 2015, when new access opens to the Northern line platforms. </p>
<p>This includes a new entrance, with a second entrance opening later in 2015, a large part of the new ticket hall and escalators leading down to new pedestrian passages.<br>&nbsp;<br>Customers will benefit from quicker and easier journeys as Bond Street station is radically improved, with a new ticket hall and a new station entrance on the north side of Oxford Street. <br>&nbsp;<br>New lifts will make the station step free from street to platform, and new escalators are being fitted to handle the increasing number of customers who are using the station as we move toward the introduction of Crossrail. The modernised Tube station will interchange with the new Crossrail station, enabling customers to access the network via entrances on Hanover Square and Davies Street.<br>&nbsp;<br>While a lift shaft is constructed as part of the next phase of work, Central line trains will not stop at the station from 23 April until late June 2014. </p>
<p>Then, while escalators are inaccessible as part of work to connect the new ticket hall to existing station infrastructure, Jubilee line trains will not stop from early July until early December 2014. </p>
<p>On completion of this work, the station will operate on an exit-only basis until the end of 2014 to facilitate further tunnelling works.<br>&nbsp;<br>When Central line trains are not stopping at Bond Street, customers should use Oxford Circus or Marble Arch, which are both only a short walk from Bond Street station. <br>&nbsp;<br>When Jubilee line trains are not stopping at Bond Street, passengers can change to the Bakerloo line at Baker Street, or to the Victoria line at Green Park, and travel to Oxford Circus. </p>
<p>Alternatively, local buses to the Bond Street area are available from both Baker Street and Green Park. <br>&nbsp;<br>In addition, the Central line will be suspended between Marble Arch and Liverpool Street on Saturday and Sunday 5 &amp; 6 April to undertake preparatory work.<br>&nbsp;<br>David Waboso CBE, London Underground's Capital Programmes Director, said: `Bond Street station, at the heart of the West End, is already a major destination and passenger numbers will rise even further when Crossrail services begin. </p>
<p>`We're therefore transforming the Tube station - with a new ticket hall, new entrance and step-free access amongst other improvements.&nbsp;&nbsp;<br>&nbsp;<br>`While we construct a lift shaft and carry out the next phase of work, Central line trains will not stop at the stations between late April and late June and&nbsp; Jubilee line trains will not be able to stop there between early July and early December. </p>
<p>`I apologise for the inconvenience that this will cause, but unfortunately it's impossible to do this work solely during the few engineering hours when the Tube is closed. </p>
<p>`The end result will be a much bigger and better station for the hundreds of thousands of customers who use the station each day.'<br>&nbsp;<br>Richard Dickinson, CEO of New West End Company said, `The Bond Street Tube station improvements represent a huge opportunity for London's West End, further enhancing access to the city's renowned luxury shopping area.</p>
<p>`TfL's plans will provide better facilities for shoppers and visitors and will provide businesses with a chance to capitalise on the advantages Crossrail will undoubtedly bring in the future.'<br>
<hr>
<br>For more information and to have a virtual tour of the new enlarged and step-free Bond Street Underground station:<br><a href="http://www.tfl.gov.uk/travel-information/improvements-and-projects/bond-street">http://www.tfl.gov.uk/travel-information/improvements-and-projects/bond-street</a> <br></p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Bond Street Tube station to transform access to London's West End -->

 
 
        
        
            @{ViewBag.Description = "Vital construction work is stepping up this spring at Bond Street Tube station to transform access to London's West End. &nbsp;Part of London Underground's &pound;10 billion programme of continuous improvement, major construction work will modernise and";}
        
        


 