


@{ViewBag.Title = "Contactless payment moves a step closer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contactless payment moves a step closer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contactless payment moves a step closer</h1>
        <div class="content-page-press-release">
        24 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contactless payment moves a step closer to transforming services for customers on London Underground and rail
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This pilot period on the Tube and rail network will allow us to get feedback from our customers as we prepare to make the option available to everyone later this year."</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Director of Customer Experience</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Participants start to use contactless payment cards in system pilot</li>
            <li>Customer pilot is the key next phase in preparing for making this payment option available to all customers</li>
            <li>Customers reminded to keep Oyster and contactless cards separate to avoid 'card clash'</li>
        </ul>
        <p>Transport for London's (TfL's) pilot of contactless payment on the Tube and rail network is underway, with the first customer volunteers now using this new way of touching in and out on the transport network.</p>
        <p>In preparation for the launch of contactless payment card acceptance later this year, around 5,000 customers will participate in this phase of the project, which ensures that this payment option is introduced successfully. </p>
        <p>A similar process was followed when Oyster was first introduced eleven years ago. </p>
        <p>Contactless payment is part of a huge range of improvements for customers making it easier and more convenient for them to pay for their travel. </p>
        <p>Other recent improvements include WiFi on stations, a new website configured for use on mobile devices and making it easier for customers to obtain refunds. </p>
        <p>The new payment option has been used more than 11 million times on London's buses since December 2012. </p>
        <p>It will allow customers to use their contactless debit, credit or charge cards to pay their fares on Tube, London Overground, DLR, Tram and most National Rail services in London by touching their card on the yellow readers just like they do with Oyster. </p>
        <p>The same Oyster pay as you go fares will apply. </p>
        <p>Contactless payment means that customers do not need to spend time topping up their Oyster balance because fares are charged directly to payment card accounts. </p>
        <p>Transparency is also guaranteed with TfL online accounts enabling customers to view their journey history and fares paid, including the ability to apply for refunds on incomplete journeys. </p>
        <p>Although the focus has been on contactless payment cards, the upgrades to the&nbsp; readers means that the readers are capable of accepting suitable mobile payment applications. </p>
        <p>Mobile phones with a Visa, MasterCard or American Express payment application could be accepted on TfL services. </p>
        <p>Shashi Verma, TfL's Director of Customer Experience, said: </p>
        <p>'Our work to introduce contactless payment to the Tube and rail network is ramping up as we move towards delivering the benefits to all of our customers. We've seen great results from offering this option on the bus network, with over 11 million journeys made. This pilot period on the Tube and rail network will allow us to get feedback from our customers as we prepare to make the option available to everyone later this year.'</p>
        <p>TfL is also continuing to advise customers to keep their Oyster card separate from other contactless cards to avoid 'card clash', which results in gates not opening or no green light to proceed. &nbsp;</p>
        <p>Once contactless payment is accepted later this year, it will be imperative for customers to only touch the card they intend to pay with on the reader, either their Oyster or a contactless payment card, to avoid paying with a card they did not intend to use. </p>
        <p>TfL has worked closely with the payments card industry, including The UK Cards Association, American Express, MasterCard, Visa Europe and Barclaycard, on the development of contactless payment card acceptance on the transport network. </p>
        <p>London is leading the way in this area and once fully introduced TfL will become one of the world's largest single merchants accepting contactless payment cards. </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Contactless payment moves a step closer -->

 
 
        
        
            @{ViewBag.Description = "Contactless payment moves a step closer to transforming services";}
        
        


 