


@{ViewBag.Title = "Latest digital technology utilised to make millions of bus passengers' journeys easier";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Latest digital technology utilised to make millions of bus passengers' journeys easier</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Latest digital technology utilised to make millions of bus passengers' journeys easier</h1>
        <div class="content-page-press-release">
        14 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) today announced a range of customer information improvements for bus passengers aimed at helping Londoners and visitors to the city get around the capital's extensive bus network more easily.</p>
<p>The improvements - which are being made on board buses, at bus stops, bus stations and on-street - have been developed during the Year of the Bus, a series of events and activities to mark the vital contribution London's bus network makes to the life and economy of the city and the UK as a whole.</p>
<p>Large digital screens providing 'Countdown' real-time bus arrival information are being installed at three busy bus stations - Vauxhall, Hammersmith and Harrow.&nbsp; </p>
<p>If successful the screens could be installed at every one of London's 50 bus stations.&nbsp;&nbsp; </p>
<p>Other improvements include the installation of state-of-the-art interactive digital screens on Regent Street (delivered in partnership with Clear Channel) and on Eden Street in Kingston (delivered in partnership with JCDecaux) which provide live bus arrival information alongside real-time updates on other public transport options. </p>
<p>The screens also include local area information including maps, local news and details about local events. </p>
<p>In addition, the London Borough of Ealing has worked with TfL to bring bus arrival and Tube status information to customers on a borough funded information screen outside Ealing Broadway Tube station.</p>
<p>TfL has also introduced digital clocks on board every bus in the 8,700-strong fleet, displayed on the 'iBus' screen on both the upper and lower deck.&nbsp; </p>
<p>iBus is fitted on all buses in the fleet and includes 'next stop' audio visual announcements which let passengers know where they are even if they're on an unfamiliar route.</p>
<p>TfL is also trialling location announcements on two night bus routes - the N9 and N15 - to help passengers identify where they are, for example "you are now entering Knightsbridge".&nbsp; </p>
<p>These announcements will be extended to all night bus services in the capital by the end of the summer.</p>
<p>Simon Reed, TfL's Head of Technical Services Group, said: `Buses are a vital daily service for millions, with London's network one of the largest and most accessible in the world.&nbsp; </p>
<p>`As we celebrate the Year of the Bus, we are using the latest digital technology to make travelling by bus as simple as possible for everyone.&nbsp; </p>
<p>`Our customers rightly regard real-time travel information as part of the core service we provide, and by providing free, open data we are enabling live bus arrival information to be displayed on any community group or commercial partners' screens as well as our own.'</p>
<p>These latest customer information improvements complement the range of features - most notably 'iBus' and 'Countdown' - that have been introduced by TfL over the last decade to help all passengers navigate London's comprehensive bus network with ease.&nbsp; </p>
<p>TfL also provides a Countdown Digital Sign service enabling tailored live bus information to be delivered cheaply and effectively to a range of public locations, such as hospital waiting rooms, schools or shopping centre foyers. <br>Businesses or organisations interested in learning more about the service should email <a href="mailto:Digisign.countdown&#64;tfl.gov.uk">Digisign.countdown&#64;tfl.gov.uk</a></p>
<p>
<hr>
</p>
<ul>
<li>Images of the digital information screens installed at bus stops, at bus stations and on-street are available from TfL's press office on request</li>
<li>More information about the Year of the Bus can be found at <a href="http://www.tfl.gov.uk/yearofthebus">www.tfl.gov.uk/yearofthebus</a></li>
<li>iBus is fitted on all buses in the fleet and includes 'next stop' audio visual announcements which let passengers know where they are even if they're on an unfamiliar route. This is of particular benefit to passengers with visual or aural impairments and those with learning difficulties, as well as visitors to London or Londoners travelling on unfamiliar routes.</li>
<li>TfL's 'Countdown' real-time bus information service was launched in October 2011.&nbsp; Thirteen per cent of all 6.7m bus journeys in the capital are now informed by Countdown.<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Latest digital technology utilised to make millions of bus passengers' journeys easier -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced a range of customer information improvements for bus passengers aimed at helping Londoners and visitors to the city get around the capital's extensive bus network more easily.The improvements - which are being";}
        
        


 