


@{ViewBag.Title = "London Overground's Hampstead Heath station rebuilt";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Overground’s Hampstead Heath station rebuilt</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Overground’s Hampstead Heath station rebuilt</h1>
        <div class="content-page-press-release">
        17 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two new lifts installed to improve accessibility
        
    </div>



 <div class="on-this-page">

        <p>Work to rebuild London Overground's Hampstead Heath station entrance building has been completed with two new lifts installed making it more accessible and more able to handle peak time passenger demand. </p>
        <p>Besides the new lifts, passengers will benefit from a new ticket office and a wider gateline. </p>
        <p>The new building also has two entrance/exits compared to the previous structure's one and with more windows there is increased natural lighting bringing a much improved ambience.  </p>
        <p>Transport for London's Director of Rail, Jonathan Fox, said: `This new station with its much improved access for all will be a great asset for the local community, those needing to visit the nearby Royal Free hospital and visitors to Hampstead Heath.'</p>
        <p>Chairman of the Royal Free London NHS Foundation Trust, Dominic Dodds, said: `We are delighted that lifts have been installed at Hampstead Heath station. </p>
        <p>`This will be a real help to people coming to the hospital, especially those using wheelchairs, older people and people with pushchairs.' </p>
        <p>The station will come under London Overground's new Turn-Up-and-Go scheme for those mobility impaired passengers who require assistance. </p>
        <p>As with all London Overground stations, Hampstead Heath will be staffed at all times trains are running and passengers using wheelchairs will be able to board trains using ramps provided by staff. </p>
        <p>A first for Britain's railways and introduced last month by Baroness Tanni Grey-Thompson, the scheme means that passengers who need help are no longer required to give London Overground 24-hours notice before they travel.  </p>
        <p>The Mayor and TfL are investing in and delivering a huge range of improvements to improve accessibility across TfL's road, rail and bus networks, embedding the legacy of accessible travel promised by the 2012 Games.  </p>
        <p>Improvements include:&middot;</p>
        <ul>
            <li>25 more London Underground and London Overground stations to become step-free over the next ten years, as well as dozens of National Rail stations and accessible Crossrail stations in the heart of the city; we expect the number of journeys made by step-free routes each year will almost treble, from 77 million at present (2014) to 227 million in 2023         </li>
            <li>A &pound;250 million investment in step-free projects at stations including Bond Street, Greenford, Tottenham Court Road, Vauxhall, Victoria and Finsbury Park </li>
            <li>75 per cent of all London bus stops to be fully accessible by April this year, with at least 95 per cent fully accessible by the end of 2016, bringing even greater ease of use to a bus network that is already the most accessible in the country </li>
            <li>On-board audible and/or visual announcements are used across our bus and rail networks to help people with sight and/or hearing loss</li>
            <li>The remaining five per cent of pedestrian crossings yet to be brought up to accessibility standards to be upgraded with tactile paving, rotating cones or audible alerts.  A total of 39 sites will be upgraded by March, with 100 per cent to be accessible by 2016 </li>
        </ul>
        <p>Further improvements include permanent level access at new stations, permanent raised platform sections, low-floor trains and boarding ramps making getting around the network much easier.  </p>
        <p>By 2016, a third of Tube platforms will have level access by one of these means, up from 15 per cent last year.  </p>
        <p>More step-free projects are being progressed with third party developers and additional stations are being made partially step-free</p>
        <p>Notes to Editors:&middot;         </p>
        <ul>
            <li>The new station entrance building which is double the size of the previous one (1560 sq ft compared to 755 sq ft) cost &pound;2.2m to complete which includes &pound;1.2m from the Department for Transport's Access for All scheme   </li>
            <li>Just over 14,000 people a day use the station</li>
            <li>Pictures of the new station are available on request</li>
            <li>Under the Turn up and Go system passengers who need assistance are no longer asked to book in advance, although they are welcome to continue doing so if they want</li>
            <li>London has one of the most accessible transport networks anywhere in the world.  Nearly 40 per cent of all stops and stations across London's rail-based public transport network (including National Rail, Tube, DLR and Tramlink) are currently step-free, up from around 30 per cent in 2008. This includes 175 stations on the TfL network, with all DLR and nearly half of London Overground stations step-free</li>
            <li>All 8,700 London buses are low-floor wheelchair accessible with ramps checked each day to ensure they are working, and more than 90 per cent of London residents live within 400 metres of a bus stop. The vast majority of these can be used by all bus passengers, including wheelchair users</li>
            <li>TfL also operates Dial-a-Ride - a free door-to-door service for disabled and older passengers who can't use public transport, all DLR stations are step-free and all London taxis are equipped with wheelchair ramps</li>
            <li>Both platforms at Hampstead Heath station will be extended between June and October this year.  These works are part of TfL London Overground's &pound;320m capacity improvement programme which will lengthen trains from four to five carriages, delivering an additional 25 per cent capacity so we can carry more passengers. The longer trains will be introduced on the Richmond to Stratford line by the end of 2015</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-London Overground’s Hampstead Heath station rebuilt -->

 
 
        
        
            @{ViewBag.Description = "Two new lifts installed to improve accessibility";}
        
        


 