


@{ViewBag.Title = "LU invites Thales to tender for new signalling system";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU invites Thales to tender for new signalling system</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU invites Thales to tender for new signalling system</h1>
        <div class="content-page-press-release">
        25 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground invites Thales to tender for new signalling system on the Circle, Hammersmith, District and Metropolitan lines
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Increase in capacity on the
            Circle and Hammersmith &amp; City lines of 65 per cent, the District line of 24
            per cent and the Metropolitan line of 27 per cent</li>
            <li>Improvements remain on
            course to be delivered in 2018&nbsp;&nbsp;</li>
        </ul>
        <p>London Underground (LU) today confirmed that, following a detailed
        pre-qualification process, Thales will be invited to tender for the contract to
        transform capacity and reliability on the Circle, District, Hammersmith &amp;
        City and Metropolitan lines (Sub-Surface railway).
        &nbsp;
        </p>
        <p>The delivery of the contract would see the signalling replaced and
        modernised - improving the journeys of millions of people who use the lines,
        which comprise 40 per cent of the Underground network, each day.
        &nbsp;
        </p>
        <p>LU issued an OJEU at the beginning of this year asking for
        expressions of interest from the industry for a signalling system that can be
        implemented on to the Sub-Surface Railway. </p>
        <p>Thales, who have been installing the
        signalling on the Northern line, presented&nbsp;LU with a signalling solution
        that would meet the intricate operational requirements of the oldest and most
        complex parts of the Tube network. </p>
        <p>The next stage of the process is to work together
        with Thales to secure a firm commitment with a competitive cost, delivering
        value for money,&nbsp; and with a realistic and reliable commissioning
        programme.
        &nbsp;
        </p>
        <p>New signalling will allow more trains to be run more frequently
        and more reliably. </p>
        <p>Combined with the 191 walk-through air conditioned S-Stock
        trains that now serve the Metropolitan, Circle and Hammersmith &amp; City lines
        and are being introduced on the District line too.&nbsp;</p>
        <p>This project will
        increase capacity on the Circle and Hammersmith &amp; City lines by 65 per
        cent, the District line by 24 per cent and the Metropolitan line by 27 per
        cent. </p>
        <p>This will ease crowding and allow the network to cope with rapidly rising
        demand.&nbsp;
        </p>
        <p>This process follows a mutually agreed decision between LU and Bombardier in
        December 2013 to re-let the contract that Bombardier had been awarded in 2011.
        </p>
        <p>It is anticipated that a new contract will be awarded this summer.
        </p>
        <p>Mike Brown MVO, Managing Director of London Underground said: &quot;This is an
        important step in ensuring that the delivery of this vital upgrade remains on
        course.The signalling system on these lines is some of the oldest in use
        anywhere in the world, with some of it dating back to the 1930s. The
        modernisation work will mean more frequent, more reliable and less crowded
        journeys for our customers and will help us meet&nbsp;rapidly growing customer
        demand. At the same time, it is vital that modernisation is delivered cost effectively
        for our passengers and taxpayers. We will only enter in to a contract if I am
        absolutely certain that Londoners are getting value for money and if I have
        absolute confidence in the delivery schedule.&quot;
        &nbsp;
        </p>
         
         
        <hr />
        The pre-qualification process was designed to identify suppliers
        with a technical solution that:
         
        <ul>
            <li>Requires minimal (less than 10 per cent change) development to
            meet the performance requirements and operational and infrastructure complexity
            requirements for the SSR</li>
            <li>Has acquired safety cases for the systems, on London Underground
            or a very similar complex, high capacity metro</li>
            <li>Is capable of achieving delivery by the 2018 deadline or as soon
            as practicable thereafter</li>
            <li>Requires minimal integration between subsystems</li>
            <li>Achieves world class levels of reliability</li>
            <li>Can be achieved with a very limited number of weekend closures</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-LU invites Thales to tender for new signalling system -->

 
 
        
        
            @{ViewBag.Description = "London Underground invites Thales to tender for new signalling system on the Circle, Hammersmith, District and Metropolitan lines";}
        
        


 