


@{ViewBag.Title = "Mayor's lane rental scheme cuts roadwork disruption by almost 50 per cent at traffic hotspots";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor's lane rental scheme cuts roadwork disruption by almost 50 per cent at traffic hotspots</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's lane rental scheme cuts roadwork disruption by almost 50 per cent at traffic hotspots</h1>
        <div class="content-page-press-release">
        10 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Around 90 per cent of utility works and 99 per cent of works carried out by Transport for London avoided disrupting London during peak hours
        
    </div>



 <div class="on-this-page">
<p>A new study into London's Lane Rental scheme shows that since its introduction the amount of serious and severe disruption caused by planned roadworks has been cut by 46 per cent on the capital's busiest roads, reducing delays for all road users.</p>
<p>The scheme, which came into effect on 11 June 2012 on the busiest parts of London's road network, is designed to encourage utility companies to avoid digging up the busiest roads at peak traffic times. </p>
<p>Following the introduction of the scheme, around 90 per cent of utility works and 99 per cent of works carried out by Transport for London (TfL) in the lane rental areas have avoided disrupting these busy roads at peak times. </p>
<p>All the main utility companies are also now signed up to the use of rapid drying materials, considerably reducing the amount of time required to reopen roads and helping to save approximately 2,700 days of disruption across London.</p>
<p>All surplus money raised through the Lane Rental scheme is reinvested into measures to further reduce the disruption. </p>
<p>These include:&nbsp; </p>
<ul>
<li>Automatic Roadwork Monitoring cameras: allowing TfL to better determine whether work is taking place on worksites - ensuring that Lane Rental charges are more accurately applied; </li>
<li>Automatic Number Plate Recognition cameras and Automatic Traffic Counters to capture the effects of a scheme to ensure that it continues to reduce disruption; </li>
<li>Further investigation into innovative ways of reducing disruption, such as SGN's recent trials of CISBOT, a robotic machine that completes repairs to joints on some of its larger iron gas mains without the need for multiple excavations in the road or taking the gas main out of service. By encouraging further use of these technologies, TfL and the utilities can reopen roads quicker, significantly reducing traffic disruption.</li></ul>
<p>Isabel Dedring, Deputy Mayor for Transport, said: `We are delighted by the success of this scheme - which was both a first for London and the UK when it was introduced by the Mayor in 2012. </p>
<p>`It has already saved Londoners thousands of hours spent stuck in traffic and is set to save them many thousands more.'</p>
<p>Alan Bristow, Director of Road Space Management at TfL, said: `The introduction of the UK's first lane rental scheme in London has already delivered significant benefits across the capital. </p>
<p>`By using this scheme to help fund more innovation and world-leading technologies, we can continue to reduce disruption and keep all road users on London's road network moving.'</p>
<p>Off the back of the results of the first year, TfL has also carried out a thorough review of the scheme to ensure it remains focused on the key areas that need to be kept free of disruption from roadworks. </p>
<p>A consultation on changes to further refine the areas it covers and reduce delays was recently carried out and the results of this will help ensure that the scheme remains effective once introduced later this year. </p>
<p>The Mayor and TfL are doubling their investment in the road network from &pound;2 billion to &pound;4 billion across the next 10 years. </p>
<p>This will help to deliver the recommendations of the Mayor's Roads Task Force to tackle the challenges facing the capital's streets and roads, helping ensure London remains one of the most attractive, vibrant, accessible and competitive cities in the world.</p>
<p>For more information on how TfL is managing the capital's road network, please visit <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>&nbsp; </p>
<p>
<hr>
</p>
<ul>
<li>The report can be downloaded from here: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/tfl-lane-rental-scheme-first-annual-monitoring-report-2012-13.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/tfl-lane-rental-scheme-first-annual-monitoring-report-2012-13.pdf</a> </li>
<li>More information on the London Lane Rental scheme can be found here: <a href="http://www.tfl.gov.uk/info-for/urban-planning-and-construction/highway-licences/traffic-management-act">http://www.tfl.gov.uk/info-for/urban-planning-and-construction/highway-licences/traffic-management-act</a></li>
<li>The Mayors Roads Task Force, which was set up last year, has worked to help deliver the template for world-class streets and roads fit for the future to support London's population which is set to grow to 10 million people by 2031. Balancing the needs of all users, we will be investing millions into transforming London's road network in the coming years, helping to keep the capital moving while creating new, inviting places to work, shop and relax.<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Mayor's lane rental scheme cuts roadwork disruption by almost 50 per cent at traffic hotspots -->

 
 
        
        
            @{ViewBag.Description = "A new study into London's Lane Rental scheme shows that since its introduction the amount of serious and severe disruption caused by planned roadworks has been cut by 46 per cent on the capital's busiest roads, reducing delays for all road users.The";}
        
        


 