


@{ViewBag.Title = "New energy efficient lifts to be installed at Gloucester Road";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New energy efficient lifts to be installed at Gloucester Road</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New energy efficient lifts to be installed at Gloucester Road</h1>
        <div class="content-page-press-release">
        22 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New modern lifts will mean a more reliable service for customers
        
    </div>



 <div class="on-this-page">

        <p>Customers using
        Gloucester Road station are set to benefit from brand new lifts at the station
        which will mean a quicker, more reliable service.
        &nbsp;
        </p>
        <p>The current lifts at Gloucester Road station were installed around 25 years ago
        and work to replace them simultaneously will begin towards the end of
        May.&nbsp;</p>
        <p>The new modern lifts are expected to be installed and operational by
        December 2014.
        &nbsp;
        </p>
        <p>By replacing the lifts simultaneously, TfL will reduce the impact on customers
        using the station as the total time to replace the lifts will be around 7
        months rather than 13 months. </p>
        <p>The new lifts will also be more energy efficient
        and contribute towards TfL's commitment to reduce its carbon footprint.
        &nbsp;
        </p>
        <p>While the lifts are replaced Piccadilly line trains won't stop at Gloucester
        Road station.&nbsp; </p>
        <p>Circle and District line services will continue to serve
        Gloucester Road as usual, with Piccadilly line services available from South
        Kensington and Earl's Court, both of which provide an interchange with the
        District line.
        &nbsp;
        </p>
        <p>
        Phil Hufton,
        Chief Operating Officer for London Underground, said: &quot;The lift replacement
        work at Gloucester Road is part of a vital programme of works to renew and
        upgrade escalators and lifts across the network to make them fit for the future
        and to improve reliability. We have
        explored various options to carry out these works, while keeping disruption to
        a minimum for our customers. &nbsp;This included the option of replacing the
        lifts one at a time to enable the Piccadilly line to stop at the station. Due to
        our consideration for the safety of our customers it would have been difficult
        to cope with the number of customers who use the Piccadilly line, with only one
        lift in operation. We apologise
        for the disruption to journeys this will cause in the short-term, but customers
        will experience the benefits of a more reliable lift service in future.&quot;
        </p>
        <p>Replacing the lifts will require engineers to completely remove the existing
        lift cars as well as replace all of the structural, mechanical and electrical
        parts. Work to modify the steel structure work within the lift shaft is also
        required, adding to the complexity of the work.&nbsp;
        &nbsp;
        Ancillary services, including fire safety systems and ventilation,
        will&nbsp;also be overhauled as part of this work.
        </p>
         
         
        <hr />
        London Underground (LU) is undertaking a major programme of
        renewal which will inevitably result in some disruption for customers, but TfL
        is working hard to provide information and alternative travel options.&nbsp;
         
        <p>The work is essential to provide for London's growing transport needs now, and
        into the future&nbsp; </p>
        <p>TfL is urging all Londoners and Tube, London Overground, London
        Tramlink and DLR customers to &quot;check before you travel&quot; at weekends, allowing
        extra journey time where necessary. </p>
        <p>Weekend travel news is available at www.tfl.gov.uk </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-New energy efficient lifts to be installed at Gloucester Road -->

 
 
        
        
            @{ViewBag.Description = "New energy efficient lifts to be installed at Gloucester Road station";}
        
        


 