


@{ViewBag.Title = "New HGV  technology trial to improve road safety";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New HGV  technology trial to improve road safety</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New HGV  technology trial to improve road safety</h1>
        <div class="content-page-press-release">
        24 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        HGV blind spot technology tested to improve road safety
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Improving the safety of all road users is vitally important and, with technology moving so quickly, it is important that companies know that any safety equipment they invest in not only offers value for money, but does what it says on the tin. By funding this project, we can help companies make informed choices, encouraging use of the best equipment available and helping to drive development into further improvements in the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <p>A new project funded by
        Transport for London (TfL) will independently test blind spot safety
        technology, which can be fitted to Heavy Goods Vehicles (HGVs) to help reduce
        the risk of collisions between HGVs, pedestrians and cyclists.
        &nbsp;
        </p>
        <p>One of TfL's top priorities
        is to reduce by 40 per cent the number of people killed or seriously injured on
        London's roads by 2020. </p>
        <p>Recently, the Mayor and TfL published six commitments
        which, working with a range of partners, are guiding initiatives to deliver
        this. </p>
        <p>In particular, action is being taken to prioritise the safety of the most
        vulnerable road users:&nbsp; pedestrians, cyclists and motorcyclists.
        &nbsp;
        </p>
        <p>The new safety initiative,
        which builds on TfL's work into Construction Logistics and Cyclists' Safety,
        will be carried out by the independent Transport Research Laboratory (TRL). </p>
        <p>The
        project will evaluate the effectiveness of the full range of&nbsp;blind spot
        safety technology in spotting pedestrians and cyclists. This includes camera
        monitoring systems, optical and radar detection systems and other sensors
        fitted to HGVs.
        &nbsp;
        </p>
        <p>The findings will then be
        used to create new and detailed performance criteria, such as the distance
        objects can be detected, how easily the equipment detects vulnerable road
        users, and how reliable the equipment is, to allow for independent testing and
        evaluation of products on the market today.&nbsp;
        </p>
        <p>Companies will be able to
        use the new standard testing criteria to make a more informed choice about the
        types of safety equipment they invest in for their fleet vehicles. </p>
        <p>It will also
        help ensure a wider take-up of the best equipment while encouraging further
        innovation from product developers, helping to save lives both across London
        and more widely across the UK.&nbsp;
        &nbsp;
        </p>
        <p>TRL has now contacted more
        than a dozen companies across the UK, inviting them to take part in the
        evaluation and to become one of the first suppliers to be accredited using this
        approach. </p>
        <p>Once completed, the research will be made available to download from
        the TfL website and be used by the operators and manufacturers of HGVs and
        suppliers of safety technology.
        &nbsp;
        </p>
        <p>Leon Daniels, Managing
        Director of Surface Transport at TfL, said: &quot;Improving the safety of all road
        users is vitally important and, with technology moving so quickly, it is
        important that companies know that any safety equipment they invest in not only
        offers value for money, but does what it says on the tin. By funding this
        project, we can help companies make informed choices, encouraging use of the
        best equipment available and helping to drive development into further
        improvements in the future.&quot;
        &nbsp;
        </p>
        <p>The research project builds
        on the continuing work that TfL is carrying out to make London's roads safer
        for all.</p>
        <p>Recently, it was announced that trials of a range of innovative
        radar-based technologies fitted to London Buses will be carried out this
        summer. </p>
        <p>The Mayor of London, TfL and London Councils are also proposing a Safer
        Lorry Scheme, which will require every vehicle in London over 3.5 tonnes to be
        fitted with sideguards to protect cyclists from falling under the wheels. </p>
        <p>It
        will also require vehicles to be fitted with mirrors giving the driver a better
        view of cyclists and pedestrians around their vehicles.
        &nbsp;
        </p>
        <p>For more information on the
        work TfL is doing to make freight deliveries safer, please visit www.tfl.gov.uk/freight</p>
        <p>Notes to Editors:</p>
        <p>Companies wishing to submit their technology
        to the trials can do so by emailing <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk</a></p>
        <p>More information about TfL's Construction
        Logistics and Cyclists Safety can be found here <a href="http://#www.tfl.gov.uk/info-for/freight/safety-and-the-environment/improving-construction-safety?intcmp=7823">http://www.tfl.gov.uk/info-for/freight/safety-and-the-environment/improving-construction-safety?intcmp=7823</a></p>
        <p>The Standard for Construction Logistics:
        Managing Work Related Road Risk can be found here: <a href="http://#www.tfl.gov.uk/cdn/static/cms/documents/standard-for-construction-logistics.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/standard-for-construction-logistics.pdf</a></p>
        <p>In October 2013, TfL and the Department for
        Transport (DfT) formed the Industrial HGV Task Force (IHTF) which aims to
        crackdown on non-compliant HGV operators and drivers. </p>
        <p>In the past six months
        the partnership has worked successfully to target the most dangerous commercial
        vehicles, helping to improve the safety of everyone using London's roads. </p>
        <p>This
        intelligence led enforcement has seen over 1,960 vehicles targeted and stopped,
        24 vehicles seized, 15 prosecutions progressed through the Criminal Justice
        System and 519 fixed penalty notices issued for offences</p>
        <p>In June 2013, the Mayor and Transport for
        London published Safe Streets for London: an ambitious and comprehensive plan
        to reduce further the number of people killed or seriously injured in London by
        40 per cent by 2020: <a href="http://# http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf</a></p>
        <p>In February 2014 the Mayor and TfL published
        six safety commitments, which supports the plan and brings focus to the range
        of actions needed by us and our partners to make our streets safer: <a href="http://#http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf    ">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a>&nbsp;&nbsp;&nbsp; </p>
        <p>The six key commitments are:
        </p>
        <p>1.&nbsp;&nbsp;&nbsp;
        To lead the way in achieving a 40 per cent
        reduction in the number of people killed or seriously injured on the capital's
        roads by 2020 - with a longer term ambition of freeing London's roads from
        death and serious injury
        </p>
        <p>2.&nbsp;&nbsp;&nbsp;
        To prioritise safety of the most vulnerable
        groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent of
        serious and fatal collision
        </p>
        <p>3.&nbsp;&nbsp;&nbsp;
        To provide substantial funding for road
        safety, invested in the most effective and innovative schemes </p>
        <p>
        4.&nbsp;&nbsp;&nbsp;
        To increase efforts with the police and
        enforcement agencies in tackling illegal, dangerous and careless road user
        behaviour that puts people at risk</p>
        <p>5.&nbsp;&nbsp;&nbsp;
        To campaign for changes in national and EU
        law to make roads, vehicles and drivers safer</p>
        <p>6.&nbsp;&nbsp;&nbsp;
        To work in partnership with boroughs and
        London's road safety stakeholders to spread best practice and share data and
        information</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-New HGV  technology trial to improve road safety -->

 
 
        
        
            @{ViewBag.Description = "HGV blind spot technology tested to improve road safety";}
        
        


 