


@{ViewBag.Title = "New DLR station opens at Pudding Mill Lane";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New DLR station opens at Pudding Mill Lane</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New DLR station opens at Pudding Mill Lane</h1>
        <div class="content-page-press-release">
        28 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New station and tracks will deliver better reliability and more capacity 
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new station at Pudding Mill Lane will be a great asset to commuters, local residents and to visitors to this part of the capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Rory O'Neill</div>
            <div class="quotee-job-title">DLR Director</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Works delivered on time and within budget</li>
        </ul>
        <p>The new Docklands Light Railway (DLR) Pudding Mill Lane station &#45; now the largest on the DLR network - was today, Monday 28th April 2014, open to the public for the first time.</p>
        <p>The station, along with 'double-tracked' rails that link it to the wider DLR network, will boost capacity to enable the railway to carry an extra 1,100 passengers per hour and deliver improved service reliability on the increasingly popular route between Stratford and Canary Wharf/Lewisham.</p>
        <p>Transport for London's DLR Director, Rory O'Neill, said: </p>
        <p>'The new station at Pudding Mill Lane will be a great asset to commuters, local residents and to visitors to this part of the capital. With the largest capacity on the DLR network the station will provide excellent access for people travelling to new entertainment venues in the area and to Queen Elizabeth Olympic Park.'</p>
        <p>The Pudding Mill Lane station project was undertaken&nbsp; with Crossrail, which has moved the location of the previous station to make room for a tunnel portal for one of its new lines, as part of Europe's largest infrastructure project.</p>
        <p>From the end of 2018, Crossrail trains will emerge from the new tunnels at Pudding Mill Lane and join existing rail lines through northeast London to Essex. DLR passengers will be able to interchange with Crossrail, London Underground, London Overground and National Rail at Stratford station.</p>
        <p>In a major piece of civil engineering, Crossrail's works involved building the new Weston Williamson-designed station, as well as a tunnel portal and approach ramp. </p>
        <p>Careful management of works was required because of the site's close proximity to vital sewerage and power utilities, Queen Elizabeth Olympic Park, live National Rail and DLR lines and an entry portal for Crossrail tunnel boring machines heading towards the City.</p>
        <p>Andrew Wolstenholme, Crossrail Chief Executive, said: </p>
        <p>'The team is very proud to have delivered this new piece of infrastructure on time and within budget. This was a large and challenging project with the London Olympic and Paralympic Games, Great Eastern Mainline, DLR and several crucial London utilities all on our doorstep. It required sophisticated engineering and construction work and a great deal of communication and collaboration to get to this point. It is another great example of what can be achieved by working well together.'</p>
        <p>ENDS</p>
         
         
         
        <hr />
        Notes for Editors:
         
        <ul>
            <li>Completion of the double tracking work at both ends of the site has enabled a capacity of 6,600 passengers per hour in each direction.&nbsp; The current frequency of ten DLR trains per hour delivers a capacity of 5,500 passengers per hour in each direction.</li>
            <li>Double tracking involves augmenting one set of tracks with another, enabling trains to run in two different directions at the same time rather than having to wait for the single line to clear before proceeding. This increases capacity. In addition, should the service on one set tracks be interrupted, the other set can carry the service while the problem is solved. This improves reliability.</li>
            <li>The Crossrail route will run from Reading and Heathrow in the west, through new tunnels under central London to Shenfield and Abbey Wood in the east.</li>
            <li>There will be 40 Crossrail stations including 8 new stations in central London and Docklands at Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street, Whitechapel, Canary Wharf, Custom House and Woolwich.</li>
            <li>Crossrail will bring an extra 1.5 million people to within 45 minutes of central London and will link London's key employment, leisure and business districts &#45; Heathrow, West End, the City, Docklands &#45; enabling further economic development.</li>
            <li>Designed by Weston Williamson + Partners, the station has completed a design review with the Commission for Architecture and the Built Environment (CABE).</li>
            <li>The primary contractor for the Crossrail works at Pudding Mill Lane station is Morgan Sindall.</li>
            <li>The station comprises approximately 1,000 square metres of glazing and 33,000 cubic metres of concrete.</li>
            <li>The former DLR station will now be demolished, followed by piling works to create a new retaining wall ready to accommodate the Crossrail tracks as they reach the surface.</li>
        </ul>
         
        <p>
        </p>
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-New DLR station opens at Pudding Mill Lane -->

 
 
        
        
            @{ViewBag.Description = "New station and tracks will deliver better reliability and more capacity ";}
        
        


 