


@{ViewBag.Title = "LU guarantee of fairness to staff";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU guarantee of fairness to staff</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU guarantee of fairness to staff</h1>
        <div class="content-page-press-release">
        24 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All staff who want to stay with London Underground will have a role
        
    </div>



 <div class="on-this-page">

         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
        <ul>
            <li>No compulsory redundancies and LU seeks
            ways to ensure no cuts in pay</li>
            <li>Modernisation means levels of
            face-to-face customer service seen during the London 2012 Games
            &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            <li>Bearing down on transport&nbsp;fares
            made possible by modernising and improving transport while reducing overall
            costs</li>
        </ul>
        Mike Brown, Managing
        Director of London Underground (LU) today guaranteed that not a single member
        of staff will be forced to leave the company as a result of plans to modernise
        customer service on the Tube. <br />
        <p>There will also be no compulsory redundancies and
        LU is seeking ways to ensure no member of staff sees their pay cut as a result
        of the changes proposed.
        &nbsp;
        </p>
        <p>Under LU's plans to improve
        customer service, the public areas of stations &#45; ticket halls, gate lines and
        platforms &#45; will become personalised customer service centres, replicating the
        standards of service LU were able to offer during the London 2012 Games.
        &nbsp;
        </p>
        <p>Staff will be brought out
        from behind hidden back offices and the glass windows of under-used ticket
        offices to better serve customers.&nbsp; </p>
        <p>Everything that customers can do at a
        ticket office window today will be available to them more readily in future,
        with more LU staff visible and available to help customers buy the right
        ticket, plan their journey and keep them safe and secure at ticket machines, as
        well as on-line or by telephone. </p>
        <p>There will be even more staff available to
        help customers with disabilities and new Visitor Information Centres will cater
        for the needs of tourists and visitors to London at the busiest Tube stations,
        including selling tickets.
        &nbsp;
        </p>
        <p>650 staff already expressed
        their wish to leave under LU's voluntary redundancy arrangements, with a
        further opportunity to be made available to Tube staff. </p>
        <p>With the need for an
        additional 200 staff for the new 24 hour 'Night Tube' service at weekends from
        2015, existing vacancies and natural staff turnover, LU guaranteed that not a
        single member of staff will be forced out of a job.
        &nbsp;
        </p>
        <p>Publishing an Open Letter to
        Londoners that guarantees fairness to staff today, Mike Brown said:
        &nbsp;
        &quot;Our
        stations will be transformed to become customer service centres, to help you
        buy the right ticket, plan your journey and to keep you safe and secure. These
        changes will radically improve the service we offer our customers, enabling us
        to provide the high quality, personalised customer service we delivered during
        the London 2012 Games every day.
        &nbsp; At
        LU, we strongly believe in treating our staff fairly and with respect. That's
        why I commit to the following for our staff &#45; all stations will remain staffed
        by LU employees, no staff will be forced out of LU and we are looking to ensure
        no-one loses pay as a result of these changes.
        &nbsp; Change
        is a constant for us all today.&nbsp; But few, if any, employers can offer such
        guarantees as LU has to its staff.&nbsp; I urge the RMT to end their strike
        threats and continue to work with us to help shape our Tube modernisation
        plans, as our other trades unions are doing.&quot;
        &nbsp;
        </p>
        <p>During intensive talks
        spanning eight weeks and over 40 meetings, LU has changed some of its proposals
        to reflect the feedback of staff and unions, so that a Customer Service
        Supervisor will staff smaller, local stations at all times, no supervisors need
        reapply for jobs, all applications for voluntary redundancy will be honoured
        and we will look to ensure that no staff lose pay.
        &nbsp;
        </p>
        <p>All four trades unions have
        been invited for further daily meetings with LU over the next two weeks.
        However, the RMT leadership has stated that it will hold two periods of strike
        action in the coming weeks, having failed to propose any credible alternatives
        to LU's proposals. </p>
        <p>Given the success of Oyster
        and advances in on-line and ticket machine technology, the use of ticket
        offices has dramatically fallen. </p>
        <p>Today, less than 3 per cent of journeys
        involve a visit to a ticket office. </p>
        <p>This trend is set to continue with the
        introduction of contactless bank card payment later this year.
        &nbsp;
        </p>
        <p>When customers do use a
        ticket office, it is for three main reasons &#45; to buy a ticket, fix a ticketing
        problem or get information. </p>
        <p>By making more staff available in the public areas
        of stations &#45; at ticket machines, gate lines and platforms &#45; these services
        will be significantly improved for customers.
        &nbsp;
        </p>
        <p>The savings made in closing
        ticket offices - around &pound;50 million each year or &pound;270 million up to 2020/21 -
        will help to bear down on fares and will be reinvested in further improvements
        such as more frequent and reliable train services, air-conditioned trains and
        extending WiFi. </p>
        <p>LU has given the following
        cast-iron guarantees of fairness to all staff as modernisation continues:</p>
        <ul>
            <li>All stations will continue to be staffed by
            LU employees at all times while trains are operating</li>
            <li>No compulsory redundancies. Over 650 staff
            have already applied for voluntary redundancy and we will open up the
            opportunity for more to do so if they wish</li>
            <li>Everyone who wants a job at LU can have one,
            and we will continue to support people step-by-step to move into new roles
            through training and development</li>
            <li>We will seek to ensure that no staff will
            lose pay as a result of the planned changes. Indeed, staff will have the
            opportunity to go for promotion and earn more if that's what they want to do.
            &nbsp;
            ENDS
            &nbsp;
            Notes to Editors:&nbsp;&nbsp;</li>
        </ul>
        The full text of Mike
        Brown's open letter is reproduced below.
        &nbsp;
        <ul>
        </ul>
        <strong>Tube modernisation: Fairness to staff
        guaranteed
        &nbsp; <br />
        </strong>
        <p><strong>Modernising your Tube</strong></p>
        <p>People &#45; our customers and staff &#45; are at the
        heart of our plans to modernise the Tube. </p>
        <p>In future, rather than stuck behind
        glass windows in under-used, Victorian-style ticket offices, we will have more
        staff visible and available where our customers need them most &#45; in ticket
        halls, at gate lines and on platforms.&nbsp;
        We remain committed to all Tube stations
        being staffed at all times when services are operating. Our stations will be
        transformed to become customer service centres, to help you buy the right
        ticket, plan your journey and to keep you safe and secure.For those who need
        further assistance, such as tourists, we will have new Visitor Information
        Centres at our busiest stations.&nbsp;
        These changes will radically improve the
        service we offer, enabling us to provide every day the high quality,
        personalised customer service we delivered during the London 2012 Games. They
        will also save &pound;50m per year and allow us to reinvest in better services and
        continue to bear down on the fares you pay.&nbsp;&nbsp;
        </p>
        <p>Treating staff fairly and with respect
        At London Underground (LU) we strongly
        believe in treating our staff fairly and with respect.</p>
        <p>That's why, alongside
        our commitments to customers, I commit to the following for our staff</p>
        <ul>
            <li>All stations will continue to be staffed by
            LU employees at all times while trains are operating, including when we
            introduce a new 24hrs 'Night Tube' at weekends in 2015</li>
            <li>No compulsory redundancies. Over 650 staff
            have already applied for voluntary redundancy and we will open up the
            opportunity for more, if they wish</li>
            <li>Everyone who wants to remain in a job at LU
            can do so. We will support people through the changes we propose through
            training and development</li>
            <li>Look to ensure that no staff will lose pay as
            a result of these changes. Indeed, many staff will have the opportunity for
            promotion and to earn more, if that's what they choose</li>
        </ul>
        <p>During intensive talks spanning eight weeks
        and over 40 meetings, LU has changed some of its proposals to reflect the
        feedback of staff and unions.
        &nbsp;
        For example, all smaller, local stations will
        now be staffed by a Customer Service Supervisor at all times and no supervisors
        need 'reapply for their jobs'.
        &nbsp;
        </p>
        <p><strong>Not a single member of staff forced out of a
        job
        </strong></p>
        <p><strong>        </strong>There will be a reduction of around 950 roles
        as a result of the changes we propose, given that we will be serving customers
        in a more modern and efficient way. But this does not mean that 950 people will
        lose their jobs.
        &nbsp;
        In fact, not a single member of staff will be
        forced out of LU.
        &nbsp;
        We know we can do this, as over 650 people
        have already applied for voluntary redundancy. We will need an additional 200
        staff when we introduce the Night Tube. And the remaining 100 roles will be
        accounted for through vacancies, staff turnover or through a further
        opportunity for voluntary redundancy.
        &nbsp;
        </p>
        <p>        <strong>RMT leadership should end strike threat
        </strong></p>
        <p>All of this &#45; our commitment to radically
        improve customer service, that all stations will remain staffed by LU
        employees, that no staff will be forced out of LU and we are looking to ensure
        no-one loses pay &#45; means that there is no reason for the RMT to continue to
        threaten Londoners with five days of strike action.
        &nbsp;
        Change is a constant for us all today. But
        few, if any, employers can offer such guarantees as LU has to its staff. I urge
        the RMT to end their strike threats and continue to work with us to help shape
        our Tube modernisation plans, as our other trades unions are doing.
        &nbsp;
        </p>
        <p><strong>All that a strike will achieve is disruption
        for Londoners and the loss of pay for those Tube staff who take part.
        </strong></p>
        <p>However, should it go ahead, we will work
        hard to provide you with the best service we possibly can on the Tube and
        across all Transport for London services. We will also have our Travel
        Ambassadors out in force to help you and offer travel information and advice.
        &nbsp;
        </p>
        <p><strong>For more information on our Tube
        modernisation plans, visit tfl.gov.uk/futuretube
        &nbsp;
        </strong></p>
        <strong>
        </strong>
        <p>Mike Brown
        Managing
        Director, London Underground </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-LU guarantee of fairness to staff -->

 
 
        
        
            @{ViewBag.Description = "All staff who want to stay with London Underground will have a role";}
        
        


 