


@{ViewBag.Title = "Pop-up shops arrive at Old Street Tube station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Pop-up shops arrive at Old Street Tube station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Pop-up shops arrive at Old Street Tube station</h1>
        <div class="content-page-press-release">
        22 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Part of London Underground (LU) vision to transform services on offer to customers
        
    </div>



 <div class="on-this-page">

         
         
         
        <p>
        Transport for London (TfL) has today (22 April 2014) launched Old
        Street station as its first innovative retail destination with seven new pop-up
        shops opening. </p>
        <p>The pop-up shops will complement existing retailers at the
        station as TfL continues to broaden the retail offering available for customers
        using the transport network.
        &nbsp;
        </p>
        <p>
        Over 11m journeys take place on our public transport network every
        day and the pop up shops form part of TfL's vision for the future of London
        Underground to modernise and improve our stations to introduce new services
        that our customers want.
        &nbsp;
        </p>
        <p>In March 2014, TfL announced that it had appointed Appear Here,
        the largest online marketplace for short-term retail space, to set up pop-up
        shops, bringing a variety of new and innovative retailers across its retail
        estate. </p>
        <p>Around 22 million people use Old Street station each year and given its
        proximity to Tech City, TfL chose it as its first dedicated pop-up shop location
        to reflect its creative and innovative location.
        &nbsp;
        </p>
        <p>Since March, Appear Here has been marketing the retail units to
        the industry with great success, and the first seven retailers to launch at Old
        Street station are:
        &nbsp;
        </p>
        <ul>
            <li>Driftrock, an online marketing company helping small to medium
            size businesses with their digital marketing;&nbsp;&nbsp;&nbsp;</li>
            <li>Bailey Nelson, a stylish new
            optical brand</li>
            <li>Fully Charged, an innovative new
            electric bike company</li>
            <li>Mallow and Marsh, a handmade
            marshmallow company</li>
            <li>Spoon Cereals, a new breakfast
            cereal company</li>
            <li>Press London, a cold pressed
            juice company</li>
            <li>Makers Academy, 12
            week&nbsp;computer programming&nbsp;bootcamp for people with little or no
            experience in&nbsp;computer programming&nbsp;
            &nbsp; </li>
        </ul>
        <p>An additional unit is expected to open later this year.
        &nbsp;
        </p>
        <p>Alongside the pop-up shops, TfL has also improved the look of Old
        Street station by appointing design consultancy, Tait, to improve the
        appearance of the shop units, signage and passageways at the station, making it
        easier for customers to navigate their way around the area. </p>
        <p>The pop-up shops form part of TfL's Commercial Development
        strategy, currently forecast to raise &pound;3.5bn over the next ten years, all of
        which will be reinvested back into the public transport network. </p>
        <p>TfL is also
        seeking to transform the services on offer to its customers who make an average
        of over 11 million journeys every day.
        &nbsp;
        </p>
        <p>Graeme Craig, Director of Commercial Development at TfL, said: &quot;We
        are delighted with the vibrant and diverse line-up that is launching what we
        hope will be the first of many successful pop-up shops at Old Street station.
        Pop-up shops provide an opportunity for new and existing retailers to showcase
        their innovative products and services to the millions of people who use the
        station each year. We are always looking at ways to improve the experience for our
        customers. We are looking forward to working with these fantastic businesses.
        We would also welcome discussions with other people who have great ideas that
        they would like to share with our millions of customers, either at Old Street
        or elsewhere.&quot;
        &nbsp;
        </p>
        <p>Available to rent through AppearHere.co.uk, TfL also has pop-up
        shops available at other key station such as St. James's Park, Piccadilly
        Circus and Baker Street, providing exciting retail opportunities for London
        commuters.
        &nbsp;
        </p>
        <p>Ross
        Bailey, CEO and Founder of Appear Here, said: &quot;We're excited to have Old Street
        Underground join our growing collection of great destinations on the Appear
        Here marketplace. It's a step forward in our mission to help people share their
        ideas in front of the right audience, in amazing spaces, anywhere. Seeing so many exciting brands launch in Old Street Station and embracing
        physical space for the first time, shows that even today in the tech capital of
        Europe, setting up shop still has value.&quot;
        &nbsp;
        </p>
        <p>Robert
        Rosser, Creative Director at Tait, said: &quot;We were incredibly excited when TfL
        brought us in as the&nbsp;retail design consultant and creative lead on such an
        innovative enterprise. We've addressed the retail offer by creating new
        gallery-like bite size units, as well as creating a fresh vibrant look for the
        existing tenants. We've been able to accentuate the great retail already on
        offer and revitalise their look and create a platform for the retail to
        re-engage with the regular commuter.&nbsp; When willing to adapt, and through
        investment in design, there is a strong future for bricks and mortar
        retail.&nbsp;
        &nbsp; We've also re-designed the wayfinding system that takes you from
        ticket hall to street level. Each subway has been given an immersive colour
        wrap and numbering system to aid navigation, in an exuberant 'digital ribbon'
        design that responds to the tech-based locality."
        &nbsp;
        </p>
        <p>TfL continues to work with exiting retailers on its network whilst
        reviewing new commercial opportunities. </p>
        <p>In January 2014, it announced that it
        was working with Asda, Tesco, Waitrose and automated parcel Locker Company
        InPost &nbsp;to establish 'click and collect' facilities at London Underground
        station car parks to transform and diversify the services on offer to customers
        as they move around the transport network. </p>
        <p>TfL is also working with LOLA's
        Cupcakes and Rockflower to bring their services to its customers.
        &nbsp;
        </p>
         
         
        <hr />
        Images are available at http://www.flickr.com/photos/tflpress/sets/72157642194352565/
        &nbsp;
         
        <p>More information about taking up a pop-up unit is available at
        AppearHere.co.uk
        &nbsp;
        </p>
        <p>
        TfL has Wi-Fi at 131 stations through Virgin Media, keeping
        customers connected whilst on the move.
        &nbsp;
        </p>
        <p>
        Quotes from retailers:
        Ben
        Jaconelli, Founder of Fully Charged.com, said:&nbsp; &quot;Old Street
        Tube station offers us a fantastic and unique opportunity to open an e-bike
        shop, underground, in the innovative retail destination that is Old Street.
        E-bikes offer everyone a healthy, green and stylish alternative to public
        transport, without the need to shower on arrival. We're looking forward to
        showing our full range of e-bikes to commuters and visitors alike at Old
        Street.&quot;
        &nbsp;
        </p>
        <p>Matt
        Wheeler, CEO at Driftrock.com, said: &quot;Driftrock is an online business run by
        people, not bits and bytes. The offline store allows us to meet and help anyone
        wanting to grow their business online face-to-face. The
        digital advertising world is often complicated and confusing, so explaining
        things in person helps us demystify many of the techniques that can help
        businesses grow through online marketing. The
        internet has the power to give ideas the audience they deserve, and our goal is
        to help as many brands make this a reality as possible. The launch of our pop
        up shop in collaboration with TFL and Appear Here is the first step in
        achieving this.&quot;
        &nbsp;
        </p>
        <p>Harriot
        Pleydell-Bouverie, Founder of Mallow and Marsh, said: &quot;We are very excited
        about the Pop-up. It is fantastic location and a great way for us to increase
        our brand recognition, interact directly with our customers, and get genuine,
        honest feedback on our products. It's
        the kind of exposure, marketing and recognition that small companies can't
        normally afford. The pop up is providing a fantastic platform for us to test
        the market, and interact directly with our customers, getting genuine, honest
        feedback.&quot;
        &nbsp;
        </p>
        <p>
        Jonny
        Shimmin, co-founder of Spoon Cereals, said: &quot;The area around Old Street is a
        busy, vibrant and boundary-pushing community, which is why we felt that it
        would be the perfect place to set-up for Spoon. Our cereals and toppings are
        adventurous, energy-filled and packed with wholesome ingredients and we think
        the commuters and residents alike will love them to start their day. &quot;
        &nbsp;
        </p>
        <p>
        Jordan
        Poulton of Makers Academy, said: &quot;At Makers Academy, we're creating the
        developers that will fuel the UK tech industry for years to come. When we were
        offered the chance to run a popup shop in Old Street Station, right under the
        Silicon Roundabout itself, the offer was simply too good to refuse. If anybody
        out there is interested learning to code - pop down for a chat next week!&quot;
        &nbsp;
        </p>
        <p>Ben
        Moffitt, co founder of Bailey Nelson, said: &quot;We went into Old St because we're
        simply excited to be part of yet another development that reiterates why London
        is one of the most progressive places to live and do business on the planet.&quot;
        &nbsp;
        </p>
        <p>About
        Appear Here
        </p>
        <p>Appear
        Here is an online platform connecting retail landlords with tenants in need of
        short term retail space. Appear Here operates nationwide listing vacant space
        in Bath, Bristol, Edinburgh, Liverpool, London and Manchester. Over 3,000
        brands and businesses have signed up to Appear Here, giving them access to over
        250 high quality spaces.&nbsp; Appear Here recently received investment from
        backers of a &pound;1 million funding round. Howzat Partners (backers of Trivago),
        MMC Ventures (backers of AlexandAlexa) and Forward Investment Partners
        (existing investors and backers of uSwitch and Hailo). Other participants in
        this round include Meyer Bergman, Playfair Capital and Ballpark Ventures, as
        well as Marc Hazan (of Spotify) and Miroma Ventures (investors in Pinterest).
        &nbsp;
        </p>
        <p>        About
        Tait</p>
        <p>Tait is
        an integrated design agency specialising in retail environments.&nbsp;
        Tait
        designs for both landlord and tenant, creating concepts for individual
        retailers as well as shopping centre environments. As retail design
        specialists, Tait's working relationships are fundamental to bringing about
        tangible change to the consumer experience. This 360&ordm; understanding of retail
        ensures concepts are always underscored with in-depth technical and commercial
        insight.
        &nbsp;
        Tait is part of CADS
        Group, and has recently appointed&nbsp;Robert Rosser and Holly Simpson (both
        previously of Dalziel and Pow) to significantly strengthen the creative and
        graphics side of the business. The ground-breaking collaboration with TfL on
        re-inventing Old Street underscores the company's strategic intent to further
        extend its reputation as a significant creative force within the UK retail
        design sector.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Pop-up shops arrive at Old Street Tube station -->

 
 
        
        
            @{ViewBag.Description = "Pop-up shops arrive at Old Street Tube station";}
        
        


 