


@{ViewBag.Title = "Restoration of Grade II listed Chiswick Bridge set to begin";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Restoration of Grade II listed Chiswick Bridge set to begin</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Restoration of Grade II listed Chiswick Bridge set to begin</h1>
        <div class="content-page-press-release">
        02 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is set to begin works to strengthen and refurbish the Grade II listed Chiswick Bridge, restoring the 80 year old structure for continued use by all road users. </p>
<p>The bridge, which crosses the River Thames in West London, was opened in July 1933 and carries around 40,000 vehicles, as well as hundreds of cyclists and pedestrians each day. </p>
<p>Survey work found that some sections of the bridge parapet and internal structures have significantly deteriorated. </p>
<p>While it remains safe to use, some aspects need to be replaced to ensure that the structure can last for many more years to come. </p>
<p>Work on this major restoration project will begin after the Oxford and Cambridge Boat Race on April 6, ensuring that the thousands of spectators who come to watch the race can do so easily this year. </p>
<p>TfL has worked hard to design the works to ensure that the bridge remains open at all times. </p>
<p>However, the bridge will be reduced from two lanes to one in both directions between 10.00 and 16.00 to provide a safe working zone on the footway. </p>
<p>There will also be occasional night time lane closures between 22.00 and 05.00. A full weekend closure will be required in autumn 2014 to carry out work to replace the bridge expansion joints, as well as waterproofing and resurfacing. </p>
<p>More information about this phase of works, including dates and times of these closures and diversion routes, will be made more widely available nearer the time. The project will be completed by Spring 2015. </p>
<p>TfL has been working with key partners to develop a programme that will repair the structure of the bridge and restore its heritage features. </p>
<p>Parapets along the edge of the bridge will be strengthened and the steps to and from the riverside repaired. </p>
<p>A segregated cycle lane will also be installed on the footpath to improve facilities for cyclists. </p>
<p>Concrete repairs will be made inside the structure to strengthen and restore the bridge and the existing footways and carriageways waterproofed and resurfaced to improve the overall look. </p>
<p>Lighting across the bridge will also be upgraded with new energy efficient heritage lighting, which will replicate the design of the lighting on the bridge when it first opened. </p>
<p>Lighting on the stairs from the bridge to the riverside will also be upgraded with lighting on the southern side installed for the first time in the bridge's history.</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: `Chiswick Bridge is a much loved heritage structure in West London, providing a vital river crossing as well as an excellent viewing point for the annual Boat Race. </p>
<p>`These works will restore the bridge to its original splendour and ensure that it can remain a key landmark for years to come.&nbsp; </p>
<p>`We're working hard to deliver these improvements while keeping the bridge open, helping to ensure they cause the minimum disruption to road users, local residents and businesses.'</p>
<p>TfL has worked with key partners including the local boroughs, English Heritage and the Port of London Authority to ensure that the improvement work has been scheduled to ensure it avoids a clash with major events and will be undertaken with the minimum of disruption. </p>
<p>TfL has written to all local residents to inform them of the refurbishment, as well as to other key stakeholders such as businesses and local transport groups. </p>
<p>More detail about the refurbishment work is available on TfL's website at <a href="http://www.tfl.gov.uk/chiswickbridge">www.tfl.gov.uk/chiswickbridge</a> </p>
<p>The restoration of Chiswick Bridge forms part of TfL's ongoing major investment into London's roads. </p>
<p>The Mayor and TfL are doubling its investment in the network from &pound;2 billion to &pound;4 billion across the next 10 years, helping to deliver the recommendations of the Mayor's Roads Task Force (RTF) to tackle the challenges facing London's streets and roads.<br></p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Restoration of Grade II listed Chiswick Bridge set to begin -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is set to begin works to strengthen and refurbish the Grade II listed Chiswick Bridge, restoring the 80 year old structure for continued use by all road users. The bridge, which crosses the River Thames in West London, was";}
        
        


 