


@{ViewBag.Title = "RMT leaders urged to return to Tube talks as they reject significant changes proposed by London Underground";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">RMT leaders urged to return to Tube talks as they reject significant changes proposed by London Underground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>RMT leaders urged to return to Tube talks as they reject significant changes proposed by London Underground</h1>
        <div class="content-page-press-release">
        17 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">

        <p abp="211">LU's proposals would see unparalleled levels of face-to-face customer service, as seen during the London 2012 Games</p>
        <ul abp="212">
            <li abp="213">
            <div abp="214">More visible and available staff &#45; rather than under-used ticket offices &#45; to serve customers at ticket machines, gate lines and platforms in future</div>
            </li>
            <li abp="215">
            <div abp="216">LU makes significant changes to proposals, following more than 40 meetings over eight weeks</div>
            </li>
            <li abp="217">
            <div abp="218">Commitments made so that no supervisors need reapply for jobs, no compulsory redundancies, all applications for voluntary redundancy honoured and to look at ways to ensure no staff lose pay</div>
            </li>
            <li abp="219">
            <div abp="220">Only RMT union threatening further strike action, despite offering no credible alternative proposals</div>
            </li>
        </ul>
        <p abp="221">London Underground (LU) has urged the RMT leadership to return to discussions to shape the future of the Tube, after it became the only union to call for further strike action over LU's plans to radically improve customer service.</p>
        <p abp="222">Over the last two months, the LU team has held intensive discussions with all trade unions, meeting more than 40 times to discuss the future in immense detail. LU listened to the concerns raised, both directly from staff and via the unions, and made highly significant changes to its proposals as a result, including:</p>
        <ul abp="223">
            <li abp="224">
            <div abp="225">removing the proposed selection process for supervisor-level staff, which means that no supervisor will have to 'apply for their own job';</div>
            </li>
            <li abp="226">
            <div abp="227">committing to looking at ways to ensure that no will lose pay as a result of these changes;</div>
            </li>
            <li abp="228">
            <div abp="229">offering voluntary severance for all 650 staff who have already applied for it. A second opportunity to apply will also be available and LU promised to honour all requests up to a total of around 950;</div>
            </li>
            <li abp="230">
            <div abp="231">ensuring a Customer Service Supervisor will staff smaller, local stations at all times.</div>
            </li>
        </ul>
        <p abp="232">LU also again confirmed that change will be achieved with no compulsory redundancies and there is a job for any member of staff who wants to be part of LU's future and is willing to be flexible.</p>
        <p abp="233">Three unions (ASLEF, TSSA and Unite) have agreed that further discussion around the plans would be productive and this next phase of talks will begin next week. The RMT has rejected these changes and demanded that all of LU's proposals to improve customer service be scrapped in their entirety. They have not, however, put forward any credible alternative proposals.</p>
        <p abp="234">LU set out in November last year how customer service will be radically improved in the future. The plan includes a new 24-hour 'Night Tube' service at weekends and, in keeping with the service provided during the London 2012 Games, more staff visible and available at stations to help customers buy the right ticket, plan their journeys and keep them safe and secure. At some of the busiest stations &#45; Euston, Heathrow, King's Cross St Pancras, Liverpool Street, Paddington, Piccadilly Circus and Victoria, as well as at Gatwick Airport  &#45; new Visitor Information Centres (VICs) will ensure that those unfamiliar with the Tube, including tourists and visitors to London, are provided with the service and assistance they need. VICs will also continue to sell tickets at these locations.</p>
        <p abp="235">LU has made five commitments to customers:</p>
        <ul abp="236">
            <li abp="237">
            <div abp="238">All stations will remain staffed and controlled at all times, with more staff visible and available to help customers and keep them safe and secure</div>
            </li>
            <li abp="239">
            <div abp="240">A new 24-hour service on core parts of the Tube network at weekends from 2015</div>
            </li>
            <li abp="241">
            <div abp="242">More frequent and reliable train services with better, more accessible stations</div>
            </li>
            <li abp="243">
            <div abp="244">Simpler ticketing, including contactless bank card payment with daily and weekly fares capping</div>
            </li>
            <li abp="245">
            <div abp="246">The best possible value by running our services as efficiently as possible while improving customer service </div>
            </li>
        </ul>
        <p abp="247">Phil Hufton, London Underground's Chief Operating Officer, said: "It is people &#45; our customers and staff &#45; who are at the heart of the future of the Tube. Rather than our staff being stuck behind glass screens in under-utilised ticket offices, they will be at ticket machines, gate lines and platforms offering the levels of customer service our customers enjoyed during the London 2012 Games, keeping them safe and secure at all times.</p>
        <p abp="248">"Over the past eight weeks, we have met with our trades union colleagues on over 40 occasions, listening to their concerns and making significant changes as a result. I've committed to looking at ways to ensure that no one will lose pay and no supervisor will have to apply for their own job. There will be no compulsory redundancies and all requests for voluntary redundancy will be honoured.</p>
        <p abp="249">&quot;However, the RMT leadership has rejected these changes and has not put forward any credible alternative proposals. Next week, we will sit down again with the ASLEF, TSSA and Unite unions for further discussions on our plans and how we can meet the needs of our customers in 21st century London. I urge the RMT to join us, rather than threaten further unnecessary disruption to Londoners. All a strike will achieve is lose those who take part pay for each day of action.&quot;</p>
        <p abp="250">Phil Hufton also committed to continuing to work with staff to improve the Tube. He said<br abp="251" />
        "We will also continue to work with our staff directly to build on all of their excellent achievements in improving the reliability of the Tube and the customer service we deliver. That will only be achieved through talking, not by taking industrial action."</p>
        <p abp="252">LU has also today published answers to the questions customers frequently ask about ticket offices and the future of customer service on the Tube (see Notes to Editors). Given the success of Oyster and advances in on-line and ticket machine technology, the use of ticket offices has dramatically fallen. Today, less than 3 per cent of journeys involve a visit to a ticket office. This trend is set to continue with the introduction of contactless bank card payment. </p>
        <p abp="253">When customers do use a ticket office, it is for three main reasons &#45; to buy a ticket, fix a ticketing problem or get information. By making more staff available in the public areas of stations &#45; at ticket machines, gate lines and platforms &#45; these services will be significantly improved for customers. </p>
        <p abp="254">Station safety and security is not controlled by ticket offices but by Station Supervisors or, in larger stations, dedicated control rooms located elsewhere on the station. These arrangements will continue in future.<br abp="255" />
        Ends</p>
        <hr />
        <p abp="254">The following information has been prepared based on commonly asked questions by our customers. It explains why we will be closing all ticket offices and why that will enable us to provide an even better level of service to our customers.<br abp="258" />
        1. Why do customers use ticket offices, and what will they do when they're closed?</p>
        <p abp="259">a) To buy a ticket &#45; and in the future if you still need to buy a ticket you'll be able to do it at every station, over the phone, or online</p>
        <p abp="260">Given the success of Oyster and advances in online and ticket machine technology, the use of ticket offices has dramatically fallen. Today, less than 3% of journeys involve a visit to a ticket office to buy a ticket. This trend is set to continue with the introduction of contactless bank card payment later this year. </p>
        <p abp="261">Contactless payment will mean that you will be able to simply touch your bankcard on the card reader at the gate line in the same way as you can use an Oyster card. We appreciate that not all customers will want to use this payment option and so we are putting over 150 new ticket machines into our stations and improving the existing machines so that they are faster, and easier to use. The new machines, which offer guidance in 17 different languages, will sell all the ticket types currently available in a ticket office today, with a few exceptions such as annual season tickets, that will be moved online.</p>
        <p abp="262">b) To fix a ticketing problem &#45; so we're giving you the power to fix simple problems and our staff will have the technology to fix the rest</p>
        <p abp="263">Currently some ticketing problems can only be resolved at a ticket office. One of the most frequent problems is an incomplete journey when a customer has not touched out of the system. From later this year customers registered with us will be able to resolve these issues themselves online. </p>
        <p abp="264">Before we start removing, ticket offices the ticket machines will be upgraded so that our staff will be able to resolve your problem on the spot. Where this isn't possible, then as today, our London-based Oyster contact centre will be able to help by telephone or online.</p>
        <p abp="265">c) To get help or information from a person &#45; which is why every station will be staffed and these changes will make staff more visible and available to customers</p>
        <p abp="266">We know that many customers want help from a person to buy a ticket. That is why we are committed to having staff at every station when services are running. There will be more staff visible and available in ticket halls to help customers buy tickets and to provide up to date travel information. </p>
        <p abp="267">Our commitment to having stations staffed at all times, keeping customers safe and secure, remains sacrosanct. We want staff out in the ticket halls at gatelines and out on platforms where they can be most helpful to our customers, whether that's to say good morning to a regular commuter or to help a visitor buy their first Oyster card</p>
        <p abp="268">2. But if the ticket offices are closed how will customers needing assistance know where to go to get help?<br abp="269" />
        London Underground and London Overground are the only railways in the UK to offer a 'turn-up-and-go' service for disabled and visually impaired customers and this will continue.</p>
        <p abp="270">In fact, such customers seeking assistance usually do not queue at the ticket office but either approach a member of staff directly in the ticket hall or go to the gate line, which is the focal point of every ticket hall.</p>
        <p abp="271">At some of the busiest stations &#45; Euston, Heathrow, King's Cross St Pancras, Liverpool Street, Paddington, Piccadilly Circus and Victoria, as well as at Gatwick Airport &#45; new Visitor Information Centres (VICs) will ensure that those unfamiliar with the Tube, including tourists and visitors to London, are provided with the service and assistance they need. VICs will also continue to sell tickets at these locations.</p>
        <p abp="272">3. Won't the station be less safe without somebody in the ticket office?<br abp="273" />
        We will have staff at every station when services are running, to help maintain a safe and reliable service and to provide assistance and reassurance to our customers. A person in a ticket office sits behind two sets of locked doors; they would find it much harder to come to the help of a passenger than if they were out in the ticket hall or on the station platform. Closing ticket offices will mean that staff will spend more of their time where our customers need them.</p>
        <p abp="274">4. But aren't Underground stations &quot;controlled&quot; from the ticket office?<br abp="275" />
        No, London Underground stations are not controlled from the ticket office. Controls for vital equipment are not in the ticket office; for example, gateline control panels are located in the ticket hall and escalator controls are located on the escalators themselves. Where equipment does need to be in a secure location, such as microphones for making Public Address (PA) announcements, it is located in either the supervisor's office or, at larger stations, in dedicated station control rooms. In the rare cases where station equipment such as PA is located in the ticket office the equipment will either be moved before the ticket office is closed, or access to it will be maintained.</p>
        <p abp="276">And technology means that we can increasingly free our staff from being tied to equipment in offices. All our station staff carry radios that enable them to contact colleagues and the London Underground Control Centre from anywhere on their station. Later this year, every member of station will have access to an up to date mobile device which will provide them with access to travel information and other functions. The most important element in controlling a station is a member of staff and we are committed to staffing every single station when services are running.</p>
        <p abp="277">5. Are there stations on the network today that don't have ticket offices?<br abp="278" />
        There are already a number of stations that work effectively without ticket offices. These are Cannon Street, Chigwell, Grange Hill, Regent's Park, Roding Valley, Theydon Bois, Upminster Bridge and Wood Lane.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-RMT leaders urged to return to Tube talks as they reject significant changes proposed by London Underground -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 