


@{ViewBag.Title = "Successful six-month trial leads to continuation of the Industrial HGV Task Force on London's streets";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Successful six-month trial leads to continuation of the Industrial HGV Task Force on London's streets</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Successful six-month trial leads to continuation of the Industrial HGV Task Force on London's streets</h1>
        <div class="content-page-press-release">
        11 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Task Force has targeted over 1,960 vehicles and issued over 500 fines
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Unsafe and illegal lorries simply aren't welcome in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Unsafe and illegal lorries simply aren't welcome in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>The Industrial HGV Task Force (IHTF) is being continued in the capital following a successful six-month trial.</p>
<p>Funded by Transport for London (TfL) and the Department for Transport (DfT) the Task Force, which aims to crackdown on non-compliant HGV operators and drivers, is formed of officers from the Metropolitan Police Service, City of London Police, and Driver and Vehicle Standards Agency (DVSA).</p>
<p>In the past six months the partnership has worked successfully to target the most dangerous commercial vehicles, helping to improve the safety of everyone using London's roads.</p>
<h2>Intelligence led enforcement</h2>
<p>The Task Force also acts as a deterrent against non-compliant companies that attempt to undercut those operating legitimately.&nbsp; </p>
<p>Since the start of the trial in October 2013, this intelligence led enforcement has seen over 1,960 vehicles targeted and stopped, 24 vehicles seized, 15 prosecutions progressed through the Criminal Justice System and 519 fixed penalty notices issued for offences including:</p>
<ul>
<li>Lack of insurance </li>
<li>Driving not in accordance with a license </li>
<li>Unsafe tyres </li>
<li>Vehicle not equipped with safeguards </li>
<li>Not accurately recording driver hours</li></ul>
<p>Between 2008 and 2013, 53% of cycle fatalities involved direct contact with a Large Goods Vehicle, in response to these figures the Mayor of London, TfL, Department for Transport and London councils are now proposing a safer lorry scheme.</p>
<h2>Industrial HGV Task Force is vital</h2>
<p>The proposed scheme will require every vehicle in London over 3.5 tonnes - a disproportionate cause of cyclist deaths - to be fitted with sideguards to protect cyclists from being pulled under the wheels.</p>
<p>It will also require vehicles to be fitted with mirrors giving the driver a better view of cyclists and pedestrians around their vehicles.</p>
<p>The Industrial HGV Task Force would play a vital role in supporting this scheme via on-street enforcement tying in with their daily duties.</p>
<p>The Mayor of London, Boris Johnson, said: 'The task force has carried out some sterling work raising the profile of road safety and deterring dangerous vehicles from London.</p>
<p>'Making it a regular fixture on our streets makes perfect sense and sends the message out loud and clear that unsafe and illegal lorries simply aren't welcome in the Capital.'</p>
<h2>Partnership is going from strength to strength</h2>
<p>Transport Minister Stephen Hammond said: 'We are determined to do all we can to tackle dangerous HGVs, which are a safety risk to cyclists, pedestrians and other motorists.</p>
<p>'The Task Force has clearly been a great success, but the number of dangerous goods vehicles that have been stopped and fined underlines just how necessary it is for work to continue.</p>
<p>Siwan Hayward, TfL's Deputy Director of Enforcement and On-Street Operations, said: 'This partnership team has gone from strength to strength in targeting the most dangerous construction and waste vehicles in London, which we know pose a significant risk to pedestrians and cyclists.&nbsp; </p>
<p>'TfL and the freight industry are working together to create safer and more efficient deliveries across London, through initiatives such as the Freight Operator Recognition Scheme (FORS) and the standards for construction logistics - and the Task Force are supporting this by rooting out the dodgy drivers and operators, and pushing for the toughest penalties for anyone caught.'</p>
<p>Freight Transport Association's Head of Urban Logistics, Christopher Snelling said: 'The Industrial HGV Task Force is the right approach; the significant achievement of co-ordinating the efforts of the Metropolitan Police, DVSA and TfL to target unsafe vehicle operators is proving highly effective and demonstrates the potency of information sharing amongst road safety agencies.</p>
<p>'Ensuring all users of London's roads comply with the existing regulations and required standards is the best way to improve safety.'</p>
<h2>Saving lives, cutting crime and protecting the environment</h2>
<p>Alex Fiddes, DVSA Chief Operating Officer Vehicle Testing &amp; Enforcement, said: 'DVSA welcomes the continuation of the IHTF and the opportunity it brings to work with Transport for London to help target non compliant commercial operators and drivers.</p>
<p>'As the results so far show, operators should be in no doubt that if they choose to work outside the law there will be serious consequences.</p>
<p>'Joint working with organisations such as TFL helps DVSA work towards its aim of saving lives, cutting crime and protecting the environment.'</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command said: 'The Safer Transport Command aims to make every journey in London - whether by road or public transport - safe, secure and reliable. </p>
<p>'The continued presence of the Industrial HGV Task Force will help ensure that the most dangerous and non-compliant industrial vehicles on London's roads are taken out of action.</p>
<p>'This will prevent them from posing a threat to the safety of other road users and will result in their owners receiving hefty fines.'</p>
<p>
<hr>

<ul>
<li>Case studies of successful convictions are available on request</li>
<li>Six month report for the Industrial HGV Task Force: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/industrial-hgv-taskforce-six-month-review.pdf">Industrial HGV Task Force - six month review<br></a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Successful six-month trial leads to continuation of the Industrial HGV Task Force on London's streets -->

 
 
        
        
            @{ViewBag.Description = "The Industrial HGV Task Force (IHTF) is being continued in the capital following a successful six-month trial.Funded by Transport for London (TfL) and the Department for Transport (DfT) the Task Force, which aims to crackdown on non-compliant HGV";}
        
        


 