


@{ViewBag.Title = "TfL invites trades to help shape regulatory framework for taxi and private hire apps";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL invites trades to help shape regulatory framework for taxi and private hire apps</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL invites trades to help shape regulatory framework for taxi and private hire apps</h1>
        <div class="content-page-press-release">
        09 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Smart phone apps offer significant potential benefits to passengers, drivers and operators
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has confirmed that it welcomes the use of taxi and private hire apps to benefit passengers, subject to those apps meeting the high standards of public safety TfL expects. <br>&nbsp;<br>TfL is inviting the taxi and private hire trades to provide their views on how the regulatory framework should be applied to this rapidly developing technology, while ensuring that the current highest standards of public safety and customer service in the trades are maintained.<br>&nbsp;<br>The development of taxi and private hire booking apps offer tremendous potential benefits for customers.&nbsp; </p>
<p>This includes enhanced safety and security measures - with many apps providing the passenger with a photo of the driver and their name, the registration of the vehicle and the ability to track both the approach of the vehicle and the remainder of the journey in real time.<br>&nbsp;<br>However, the rapid pace at which smart phone based technology has been developing in recent years has led to a need for clarity about what is required in order for apps to comply with the regulatory framework in London.&nbsp; </p>
<p>TfL is seeking to clarify that position and has asked the taxi and private hire trades for their input to formalise the regulatory framework and ensure there is a level playing field for all operators.<br>&nbsp;<br>Leon Daniels, TfL's Managing Director of Surface Transport, said: `We welcome developments that make life easier for passengers.&nbsp; </p>
<p>`As in many other areas of transport and retail services, apps can offer passengers the potential of better and more convenient services.&nbsp; </p>
<p>`We are asking the trades to embrace these advances in technology, which have the potential to further improve London's taxi and private hire services, and have asked them to be part of the formal process to help shape the regulatory framework in this rapidly developing area.'<br>&nbsp;<br>Constructive meetings were held recently with both the private hire and taxi trades on this issue.&nbsp; </p>
<p>Discussions focused on the use of apps for private hire vehicle bookings, with TfL presenting its provisional views on the use of apps, which are as follows:<br></p>
<ul>
<li>Apps can put a customer in touch with licensed private hire operators, either by signposting a customer to a choice of licensed operators or by transmitting a customer's data directly to a specific licensed operator.&nbsp; Apps that deliver this service do not in themselves 'make provision' for the invitation or acceptance of private hire bookings.&nbsp; Only a licensed operator can 'make provision' for the invitation or acceptance of a booking<br>&nbsp; </li>
<li>While it is perfectly legal for an app to put a customer directly in touch with a licensed hackney carriage driver, any app that puts a customer directly in touch with a private hire driver without the booking being accepted by an operator first is illegal.&nbsp; Even if the licensed driver is also a licensed operator, the booking must be accepted at the licensed premises.&nbsp; A booking can not be accepted by a private hire operator in a vehicle or through a mobile phone on the street.&nbsp;&nbsp;<br>&nbsp; </li>
<li>Certain details, such as the date of the booking, must be recorded by operators before the start of each journey.&nbsp; There is no obligation to record the main destination at the time of booking unless it is specified by the customer<br>&nbsp; </li>
<li>There is no obligation to quote a fare when making a booking via a private hire app unless a quote is requested<br>&nbsp; </li>
<li>Smart phones used by private hire drivers - which act as GPS tracking devices to measure journey distances and relay information so that fares can be calculated remotely from the vehicle - do not constitute the equipping of a vehicle with a taxi meter</li></ul>
<p>Further discussion with the taxi and private hire trades will take place in the coming weeks to help clarify the regulatory framework for this rapidly developing technology to ensure that the current highest standards of public safety and customer service in the trades are maintained.<br>
<hr>
</p>
<ul>
<li>Only a private hire operator licensed by TfL can make provision for the invitation or acceptance of, or accept, a booking for the purpose of private hire in London.&nbsp; A licensed private hire operator has to meet a number of legal and regulatory requirements and is subject to regular compliance audits and checks to maintain public safety and promote a high quality service to customers.<br>&nbsp;</li>
<li>Any private hire operator found not to comply with these requirements will be subject to action which can include the suspension or revocation of its licence.<br>&nbsp;</li>
<li>Private hire apps may either direct a potential passenger to a choice of licensed private hire operators or transmit the passenger's request directly to a licensed operator who will then accept and record the booking and allocate a driver.&nbsp; From TfL's perspective, the essential aspect is that an app facilitates a customer to be put in direct contact with a licensed private hire operator.&nbsp; Any app that puts a passenger in direct contact with a driver for the purpose of a private hire is illegal and TfL will take appropriate action against the person responsible for the app.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-TfL invites trades to help shape regulatory framework for taxi and private hire apps -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has confirmed that it welcomes the use of taxi and private hire apps to benefit passengers, subject to those apps meeting the high standards of public safety TfL expects. &nbsp;TfL is inviting the taxi and private hire trades to";}
        
        


 