


@{ViewBag.Title = "TfL sets out plans to keep capital moving during strikes";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out plans to keep capital moving during strikes</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plans to keep capital moving during strikes</h1>
        <div class="content-page-press-release">
        28 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL sets out plans to keep capital moving during strikes over modernisation of London Underground
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our plans will radically improve the service we offer Tube customers in future. The whole Tube station will effectively become a personalised customer service centre, with more staff visible and available to help customers buy the right ticket, plan their journeys and get assistance"</div>
        <div class="quote-footer">
            <div class="quotee-name"> Phil Hufton</div>
            <div class="quotee-job-title">London Underground Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>LU to run as many services as possible, but
    there will be disruption and customers urged to check before they travel at
    tfl.gov.uk</li>
    <li>
    Extra bus and river services, to help
    Londoners get around
    </li>
    <li>
    Licensed and trained TfL Ambassadors will
    help to keep Tube stations open and provide travel information and advice to
    customers</li>
    <li>LU's plans to radically improve customer
    service, with more staff visible and available to help customers in public
    areas of Tube stations</li>
    <li>LU guarantees no compulsory redundancies,
    that no member of staff will be forced to leave LU and that it is seeking ways
    to ensure no staff lose pay as a result of change  </li>
</ul>
<p>Transport for London (TfL) today set out a range of measures to
help keep London moving and open for business this week, should the strikes
threatened by the leadership of the RMT union on London Underground (LU) go
ahead.
</p>
<p>LU is consulting with trade unions and staff over its plans to
modernise the Tube and radically improve customer service. </p>
<p>Under
LU's plans, the public areas of stations &#45; ticket halls, gate lines and
platforms &#45; will effectively become personalised customer service centres,
replicating the standards of service LU were able to offer during the London
2012 Games.
</p>
<p>Staff will be brought out
from behind hidden back offices and the glass windows of under-used ticket
offices to better serve customers. </p>
<p>Everything that customers can do at a ticket
office window today will be available to them more readily in future, with more
LU staff visible and available to help customers buy the right ticket, plan
their journey and keep them safe and secure. </p>
<p>There
will be even more staff available to help customers with disabilities and new
Visitor Information Centres will cater for the needs of tourists and visitors
to London at the busiest Tube stations, including selling tickets.
</p>
<p>In addition, LU
has guaranteed
that not a single member of staff will be forced to leave the company as a
result of plans to modernise customer service on the Tube. </p>
<p>There will also be
no compulsory redundancies and LU is seeking ways to ensure no member of staff
sees their pay cut as a result of the changes proposed.
</p>
<p>Over the last two
months there have been intensive discussions with all trade unions, meeting
more than 40 times to explain these proposals in detail. </p>
<p>LU has listened, and
have made changes to our proposals as a result. However,
the RMT leadership has nonetheless instructed their members to carry out five
days of strike action over the next two weeks.
</p>
<p>Two strikes have been called, one 48 hours and one 72 hours, at LU
which will affect services from:</p>
<ul>
    <li>
    21:30hrs this evening, Monday 28
    April and throughout the whole of Tuesday 29 and Wednesday 30 April</li>
    <li>21:00hrs on Monday 5 May and
    throughout the whole of Tuesday 6, Wednesday 7 and Thursday 8 May.
    </li>
</ul>
<p>
Phil Hufton, London
Underground's Chief operating Officer, said: &quot;Our plans will radically improve
the service we offer Tube customers in future. The whole Tube station will
effectively become a personalised customer service centre, with more staff
visible and available to help customers buy the right ticket, plan their journeys
and get assistance.
&quot;Over the past eight
weeks, we have met with trades unions on more than 40 separate occasions. We have listened to their concerns
and made changes as a result. We've provided guarantees that not a single
member of staff will be forced to leave LU, that no supervisors must 'apply for
their own job' and we are seeking ways to ensure that no member of staff sees
their pay cut as a result of these changes.
Given these
commitments and guarantees, Londoners will rightly be asking why the RMT is
threatening five days of strikes. All it will achieve is disruption to
Londoners and a loss of pay for all those staff who take part. My message to
the RMT leadership is its not too late to call off this unnecessary strike and
continue to work with us to help shape the future of the Tube. However, should
it go ahead we will be working hard to keep London moving and open for
business.&quot;
</p>
<p>Travel advice to
customers during the RMT strike action:
Should the
strike action go ahead, LU will keep as many stations open and run as many
trains as possible. </p>
<p>Services will be affected from 21:30hrs this evening Monday
28 April so customers are asked to try and complete journeys as early as
possible this evening. </p>
<p>If your Oyster card needs topping up, it may help to do
this in advance of the industrial action starting.
</p>
<p>There will be disruption to journeys tomorrow and Wednesday, when
Tube services will start later and finish earlier than normal &#45; where running a
service is possible, trains will run from around 07:00hrs or as soon as
possible after that to around 23:00hrs with no service beyond that.
</p>
<p>Customers are advised that final services from central London may
depart significantly earlier than this, at around 21:30hrs.
</p>
<p>Although it is not possible to say exactly what services we will
be able to run, the line-by-line information below will help customers to plan
journeys in advance.
</p>
<p>However, customers are advised that the situation may change
throughout the day. Buses and other transport services may also be very busy.
</p>
<p>Those public transport workers who are on duty during the strike
will be doing their very best to keep London moving and open for
business.  </p>
<p>TfL asked customers for their patience during what may be
difficult journeys.
</p>
<p>TfL Ambassadors
and volunteers will also be on hand to provide customers with travel
information and advice on the ground. TfL urges all customers to plan ahead and
to check before they travel at tfl.gov.uk and by following &#64;TfLTravelAlerts,
&#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.
</p>
<p>Football
supporters travelling to watch Arsenal vs. Newcastle this evening are advised
to plan in advance their journeys home as Tube services are unlikely to be
serving the area. </p>
<p>Fans travelling to Chelsea's Champions League match against
Atletico Madrid on Wednesday should visit the club's website for more
information.
</p>
<p>Tube
Services will be affected from
around 9.30pm, so please complete your journey as early as possible.
</p>
<p>If strike action does take place
and where we can operate services, trains will run from around 7.00am, or as
soon as possible after that, and they are expected to conclude around 11.00pm,
with no service beyond that.
</p>
<p>However, customers are advised
that the last services from central London may depart significantly earlier
than this, at around 9.30pm.
</p>
<p>We will run as many Tube services
as we can but some lines may have only a limited service, and some sections
will be closed.  </p>
<p>We cannot guarantee that we will be able to run all the
planned services set out below and the situation may change throughout the day.
</p>
<p><strong><a href="http://www.tfl.gov.uk/cdn/static/cms/documents/strike-advance-travel-advice-28-to-30-apr.pdf">View our service level information pdf</a></strong></p>
<p>In addition to those stations
listed here as closed, some others may also need to close at times.
<strong><br />
</strong></p>
<p><strong>Heathrow Express
</strong></p>
<ul>
    <li>A reduced Heathrow
    Express service will run on Tuesday 29 April and Wednesday 30 April due to
    separate strike action by the RMT. Heathrow Express plans to run two trains an
    hour between Heathrow and Paddington and back. Check www.heathrowexpress.com for more
    information.</li>
</ul>
<p><strong>DLR</strong></p>
<ul>
    <li>A normal service will operate. Some stations where there is an interchange with
    London Underground may be affected.
    </li>
</ul>
<p><strong>Buses</strong></p>
<ul>
    <li>London buses operate around 700 routes and
    services are being boosted with over 250 extra buses on key routes </li>
    <li>TfL Ambassadors and volunteers are being
    deployed to bus stations and hubs to provide customers with travel information
    and advice on the ground</li>
</ul>
<p><strong>Coaches
</strong></p>
<p>Several coach operators, including National
Express and Green Line, offer services that stop in a number of locations
throughout London. </p>
<p>Some of the core coach routes are as follows:</p>
<ul>
    <li>Golders Green - Finchley Road - Baker Street
    - Marble Arch - Victoria Coach Station (National Express) </li>
    <li>Brent Cross - Finchley Road - Baker Street -
    Marble Arch - Victoria (Green Line)</li>
    <li>Hillingdon - Shepherd's Bush/Baker Street -
    Marble Arch - Victoria (Oxford Tube &amp; X90)</li>
    <li>Hammersmith - Kensington - Hyde park Corner -
    Victoria (Green Line)</li>
    <li>Stratford - Bow - Aldgate - Victoria Coach
    Station (National Express) </li>
    <li>Bexley - Canary Wharf - Aldgate - Embankment
    - Victoria Street (Commuter Services)</li>
    <li>Coulsdon - Wallington - Streatham - Stockwell
    - Victoria Coach Station (National Express)</li>
    <li>Sutton - Wallington - Streatham - Stockwell -
    Victoria Coach Station (National Express)</li>
    <li>Eltham - Lewisham - Walworth - Elephant &amp;
    Castle - Victoria Coach Station (National Express)
    </li>
</ul>
Tickets can be purchased in advance from the
Victoria Coach Station ticket hall, or on the operators websites:
<ul>
    <li>http://www.nationalexpress.com for
    main site and bookings.
    </li>
    <li>http://coach.nationalexpress.com/nxbooking/stop-finder to
    find where the coach stops are in London
    </li>
    <li>http://www.greenline.co.uk for main site and
    bookings</li>
    <li>
    http://www.greenline.co.uk/timetables-search/ for
    location of stops in London
    </li>
    <li>www.oxfordtube.com
    </li>
    <li>
    http://x90.oxfordbus.co.uk
    </li>
</ul>
<p>
<strong>London Overground
</strong></p>
<ul>
    <li>A normal service will
    operate. Some stations where there is an interchange with London Underground
    may be affected.
    </li>
</ul>
<p><strong>Tramlink
</strong></p>
<ul>
    <li>A normal service will
    operate.
    </li>
</ul>
<p><strong>Emirates Air Line
</strong></p>
<ul>
    <li>A normal service will
    operate. LU tickets will be accepted on Emirates Air Line services
    </li>
</ul>
<p><strong>Cycling</strong></p>
<ul>
    <li>Barclays Cycle Hire will be available to
    members and casual users, although demand is likely to be high, and cycles
    harder to access, during peak times</li>
    <li>Londoners who own a bike are encouraged to
    cycle to work, and a Cycle Journey Planner is provided at
    tfl.gov.uk/cyclejourneyplanner</li>
    <li>TfL is writing to hundreds of businesses
    across London to ask them to be flexible and make it easy for staff to cycle to
    work, and to allow staff to wear casual clothes on the day</li>
</ul>
<p>
<strong>River Services</strong></p>
<ul>
    <li>Enhanced River services will be in place,
    including on Route RB1 between Greenland (Surrey Quays) / Canary Wharf and
    London Bridge; and</li>
    <li>Additional services for Canary Wharf will
    leave London Eye at 08:00 and 08:30, calling at Tower only; additional services
    will leave Canary Wharf at 17:00, 18:30 and 19:00 calling at Tower only</li>
    <li>An additional centre London service (Tower/
    Bankside / Westminster / London Eye) during the AM peak only</li>
    <li>In combination with the normal timetabled
    service, this will provide a 10 to 15 minute frequency on most central London
    piers during the morning and evening peaks</li>
    <li>On the RB6 route, the morning eastbound
    timetable will be enhanced with additional boats leaving Putney at 07:15,
    07:45, 08:20 and 08:45. These extra services will be non-stop to Embankment,
    then Blackfriars</li>
    <li>On the RB6 route, the evening westbound
    timetable will be enhanced with additional boats leaving Blackfriars at 17:35,
    17:50, 18:15 and 19:15. These extra services will call at Embankment, then
    non-stop to Putney
    </li>
</ul>
<p><strong>Taxis &amp; Private Hire</strong></p>
<ul>
    <li>During peak times a marshalled taxi service
    will operate at eight major London rail termini &#45; Euston, Waterloo, Liverpool
    St, London Bridge, King's Cross, Victoria, Charing Cross, and Marylebone. The
    marshals will manage taxi and passenger queues and provide advice and
    assistance to taxi passengers and other members of the public</li>
    <li>Private hire and minicab services will be
    running as normal. Details for licensed private hire and minicab operators in
    London are available at tfl.gov.uk/cabwise
    </li>
</ul>
<p><strong>National
Rail</strong></p>
<ul>
    <li>Oyster Pay As You Go is accepted for all
    National Rail journeys within Greater London</li>
    <li>Travelcards are also valid for travel on
    National Rail within the zones purchased</li>
    <li>A reduced Heathrow Express service will run
    on Tuesday 29 April and Wednesday 30 April due to separate strike action by the
    RMT </li>
    <li>Heathrow Express plans to run two trains an hour between Heathrow and
    Paddington and back. Check www.heathrowexpress.com for
    more information
    </li>
</ul>
<p><strong>Walking</strong></p>
<ul>
    <li>Walking maps will be provided
    online, in bus, rail, and Tube stations in Zone 1 and other key outer London
    stations, with TfL Ambassadors and volunteers helping people plan their routes
    around the city</li>
    <li>People are urged to use here
    walking for short journeys, where possible
    </li>
</ul>
<p>
<strong>Roads and the
Congestion Charge</strong></p>
<ul>
    <li>To help keep traffic flowing, the
    Congestion Charge will remain in operation throughout the strike</li>
    <li>TfL will be delaying or
    curtailing road works on major London roads wherever possible and has
    encouraged all London boroughs to take similar measures on their network. </li>
    <li>TfL
    will also work with the Metropolitan Police to minimise the impact of
    congestion</li>
    <li>TfL will be working to keep
    traffic flowing around major transport hubs</li>
    <li>Londoners and commuters are
    encouraged to keep journeys by car to a minimum to enable public transport to
    move freely. </li>
</ul>
<p> </p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-TfL sets out plans to keep capital moving during strikes -->

 
 
        
        
            @{ViewBag.Description = "TfL sets out plans to keep capital moving during strikes over modernisation of London Underground";}
        
        


 