


@{ViewBag.Title = "Tottenham Hale improvement scheme nears completion";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tottenham Hale improvement scheme nears completion</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tottenham Hale improvement scheme nears completion</h1>
        <div class="content-page-press-release">
        13 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes will complete the removal of the Tottenham Hale Gyratory
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) will complete the work to convert Broad Lane in Tottenham to two-way traffic on the 27th April, completing the removal of the Tottenham Hale gyratory.</p>
<p>Allowing two-way traffic will significantly improve the road network by providing more options for vehicles travelling in both directions through the area, as well as providing easier access for local residents and businesses. </p>
<p>It will also help make the area more accessible and appealing for pedestrians and cyclists.</p>
<p>The work forms part of a wider &pound;34m scheme to improve the area around Tottenham Hale. Temporary traffic signs will be placed throughout the area from early April to pre-warn drivers of the changes. </p>
<p>New zebra crossings and enhanced cycling facilities will be completed by the end of April. </p>
<p>Wider pavements have been installed, new trees have been planted and further improvements will be made to Broad Lane in the coming months. </p>
<p>Work to expand the bus station by Tottenham Hale station, improving the interchange between bus, Underground and train services is also now underway. </p>
<p>Work on creating a new public space with trees, benches and additional cycle parking has also recently begun, providing a new area for local residents and public transport users to relax, meet and catch up.</p>
<p>Tottenham Hale is located within the Upper Lea Valley area - which has been identified as a key area for growth - with plans to create 15,000 new jobs and 20,100 new homes. </p>
<p>At Tottenham Hale specifically there is the capacity for 5,000 new homes and 4,000 new jobs and the vision is to transform the area in to a new district centre. </p>
<p>The removal of the Tottenham Hale gyratory is part of a committed package of transport developments to support this planned growth. </p>
<p>In March TfL was granted planning permission to transform Tottenham Hale into a landmark station, with greater capacity and step-free access for interchanging passengers, with work due to start on the station in late 2015.</p>
<p>Isabel Dedring, Deputy Mayor for Transport, said: "The completion of this work is another great step towards rejuvenating Tottenham Hale. </p>
<p>`We will continue to review the provision for all road users in the area, in particularly pedestrians and cyclists, in order to ensure it remains a fantastic place to live and work.'</p>
<p>Garrett Emmerson, Chief Operating Officer of Surface Transport at TfL, said:&nbsp; `The completion of the work at Tottenham Hale will be of huge benefit to the local area. </p>

<p>`Introducing two-way traffic along Broad Lane will see the complete removal of the gyratory system in Tottenham, giving residents, businesses and local road users better access to the local area.</p>
<p>`Work on the new bus station and public area is now fully underway, which when completed will provide improved access to the bus network and a public space for local residents to enjoy.'</p>
<p>The work at Tottenham Hale forms part of the wider work TfL is carrying out across London to deliver the recommendations of the Mayor's Roads Task Force. </p>
<p>This independent body brings together a wide range of interests and expertise, united in the belief that the capital needs a long-term strategy for roads and a commitment to major investment in street management and urban design.</p>
<p>During the next ten years, TfL will be investing around &pound;4bn into the capital's road network. </p>
<p>Working with its partners, including London's boroughs, TfL will build on the improvements already seen in the management of London's roads, streets and public spaces to help ensure London remains one of the most attractive, vibrant, accessible and competitive cities in the world.</p>
<p>
<hr>

<p>
<ul>
<li>To find out more about the scheme to improve the street environment around Tottenham Hale, please visit <a href="http://www.tfl.gov.uk/tottenhamhalescheme">www.tfl.gov.uk/tottenhamhalescheme</a> </li>
<li>TfL has also worked closely with Haringey Council's environmental team to keep noise within agreed limits. </li>
<li>Improvements to the Tottenham area are being supported by the Mayor's Regeneration Fund. The Fund is &pound;70m - &pound;20m of which was secured from Central Government - and was set up to help those areas affected by the public disturbances in August 2011. The worst affected boroughs were invited to apply for funding to support long term improvements with an onus on jobs and economic growth. The successful bids are not about rebuilding like-for-like, but investing in people's futures with grant agreements awarded on the strength of job, training and apprenticeship opportunities for local people as well as high street renewal.</li></ul>
<p>&nbsp;</p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Tottenham Hale improvement scheme nears completion -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) will complete the work to convert Broad Lane in Tottenham to two-way traffic on the 27th April, completing the removal of the Tottenham Hale gyratory.Allowing two-way traffic will significantly improve the road network by";}
        
        


 