


@{ViewBag.Title = "Some services  operating on all Tube lines despite strike (8:00)";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Some services  operating on all Tube lines despite strike (8:00)</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Some services  operating on all Tube lines despite strike (8:00)</h1>
        <div class="content-page-press-release">
        30 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Some services are operating on all eleven Tube lines despite RMT strike over Tube modernisation.
        
    </div>



 <div class="on-this-page">

        <p>London Underground is aiming to operate at least as
        many trains as yesterday, when 50% of services were
        running</p>
        <ul>
            <li>Nearly 90% of usual number of Oyster cards
            used on TfL network yesterday</li>
            <li>Record number of buses
            running</li>
            <li>Barclays Cycle Hire journeys up by 50%
            yesterday across the whole day</li>
            <li>Full and enhanced
            services operating on London Overground, DLR and Tramlink</li>
        </ul>
        <p>London Underground (LU) is operating Tube services on all 11 lines, more than yesterday at this time and they are nearly all serving crucial zone 1 stations.&nbsp; The exception is the Piccadilly Line where we have concentrated on a connection serving Heathrow Airport from Hammersmith.&nbsp; All this despite the pointless strike called by the leadership of the RMT union.&nbsp; </p>
        <p>This is service level is far higher than during the last strike in February.&nbsp; Two thirds of stations are open and almost 90% of Oyster cards that would normally be used on the TfL network were used yesterday, showing that London is working and open for business. &nbsp;</p>
        <p>Record numbers of buses are again operating. Barclays Cycle Hire journeys were up by 50% across the whole day yesterday.</p>
        <p>Many thousands of staff and volunteer Travel Ambassadors drawn from TfL's support functions will again be out in force working hard to help customers and road users make their journeys.</p>
        <p>The strikes have been called by the leadership of the RMT union over plans to modernise the Tube.</p>
        <p>Under these plans, at the busiest stations there will be nearly a third more staff visible and available to provide, on a permanent basis, the face-to-face customer service offered during the London 2012 Games. Visitors to London and people with disabilities will be better looked after than ever before.</p>
        <p>The modernisation will see savings of &pound;50 million a year which will be reinvested in more frequent and reliable train services and will help keep fares down.</p>
        <p>Safety and security will never be compromised.&nbsp; Safety is not controlled from ticket offices but by station supervisors and dedicated control rooms. This will continue.</p>
        <p>Mike Brown, Managing Director of London Underground, said: </p>
        <p>'I'm sorry that Londoners are enduring more disruption today as a result of the RMT's pointless strike action. The only sensible course is for the RMT leadership to call off the strikes and get back to working with us to shape the future of the Tube, as the other three unions are doing.'</p>
        <p>'It was tough for our customers yesterday, but with more staff arriving for work than during the last strike in February, we were able to run 50% of the train service and keep two-thirds of stations open.&nbsp; Nearly 90% of the normal number of Oyster cards were used yesterday.&nbsp; We will be working really hard again to further improve this level of service.'</p>
        <p>'We again have a record number of buses operating and full or enhanced services on the London Overground, DLR and Tramlink.'&nbsp; </p>
        <p>'Under our plans to modernise the Tube, we're committed to a safe railway with an increased number of visible staff - by 30% at our busiest stations - personally serving our passengers.&nbsp; That means more staff than ever on hand providing help for customers who need it most.'</p>
        <p>'Fairness to our staff is guaranteed.&nbsp; There will be no compulsory redundancies, there is a job for all staff wanting to remain with us and no one will lose pay.&nbsp; We have made significant changes to our original proposals after listening to our people and the unions in over 40 meetings.'</p>
        <ul>
        </ul>
         
    

     


        <h2>Travel advice to customers at 8:00</h2>
        <p>Services are operating as follows:</p>
        <h2>Tube
        </h2>
         
         
    
<div class="table-container">
    
         
        <div class="table-container"><table>
            <tbody>
                <tr>
                    <td>Bakerloo line <br />
                    Follow: &#64;bakerlooline&nbsp;</td>
                    <td>Services operating between Queens Park and Elephant and Castle&nbsp;&nbsp; &nbsp; &nbsp;</td>
                </tr>
                <tr>
                    <td>Central line<br />
                    Follow: &#64;centralline</td>
                    <td>
                    <p>No service is operating through the central area.&nbsp; </p>
                    <p>Trains are running between:</p>
                    <ul>
                        <li>Epping&nbsp; - Leytonstone </li>
                        <li>Hainault via Newbury Park and Leytonstone</li>
                        <li>Woodford - Hainault</li>
                        <li>West Ruislip - North Acton </li>
                        <li>North Action - Ealing Broadway &#45; White City </li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>Circle line<br />
                    Follow: &#64;circleline</td>
                    <td>
                    <p>Services are running:</p>
                    <ul>
                        <li>Hammersmith &#45; Aldgate &nbsp;&nbsp; &nbsp; </li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>District line <br />
                    Follow: &#64;districtline</td>
                    <td>
                    <p>Trains are running:</p>
                    <ul>
                        <li>Upminster &#45; Wimbledon </li>
                        <li>Ealing Broadway - High Street Kensington </li>
                        <li>Edgeware Road - Kensington Olympia &nbsp;&nbsp; &nbsp; </li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>Hammersmith &amp; City line<br />
                    Follow: &#64;hamandcityline</p>
                     
                    <p>
                    </p>
                    </td>
                    <td>
                    <p>Trains are running:</p>
                    <ul>
                        <li>Edgware Road - Barking&nbsp;</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>Jubilee line <br />
                    Follow: &#64;jubileeline<br />
                    </td>
                    <td>Trains are running on the whole line at a reduced frequency<br />
                    </td>
                </tr>
                <tr>
                    <td>Metropolitan line <br />
                    Follow: &#64;metline&nbsp;</td>
                    <td>
                    <p>Trains are running:</p>
                    <ul>
                        <li>Amersham to Baker Street </li>
                        <li>Uxbridge - Harrow-on-the-Hill </li>
                        <li>Harrow-on-the-Hill &#45; Aldgate</li>
                        <li>Uxbridge - Harrow on-the-hill (every 20 minutes)&nbsp;&nbsp;&nbsp; &nbsp;</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>Northern line<br />
                    Follow:&nbsp;&#64;northernline<br />
                    </td>
                    <td>Good service </td>
                </tr>
                <tr>
                    <td>
                    <p>Piccadilly line<br />
                    Follow: &#64;piccadillyline</p>
                     
                    <p>
                    </p>
                    </td>
                    <td>
                    <p>No service is&nbsp; operating through the central area. &nbsp;</p>
                    <p>Trains are running:</p>
                    <ul>
                        <li>Acton Town and Heathrow Airport, Terminals 1, 2 &amp; 3 </li>
                        <li>A reduced Heathrow Express service will run on Tuesday 29 April and Wednesday 30 April due to separate strike action by the RMT </li>
                    </ul>
                    <p>Heathrow Express plans to run two trains an hour between Heathrow and Paddington and back. Check <a href="http://www.heathrowexpress.com">www.heathrowexpress.com</a> for more information </p>
                    </td>
                </tr>
                <tr>
                    <td>Victoria line<br />
                    Follow: &#64;victorialine<br />
                    </td>
                    <td>Service operating on the whole line at reduced frequency<br />
                    </td>
                </tr>
                <tr>
                    <td>Waterloo &amp; City line<br />
                    Follow: &#64;wlooandcityline<br />
                    </td>
                    <td>Services operating at reduced frequency <br />
                    </td>
                </tr>
            </tbody>
        </table></div>
        &nbsp;
         
    
</div>
<h2>DLR</h2>
<p>A normal service will operate. Some stations where there is an interchange with London Underground may be affected.</p>
<h2>Buses</h2>
<ul>
    <li>A record number of London buses are operating across 700 routes. Services are being boosted with 268 extra buses on 44 of the busiest commuter routes</li>
    <li>TfL Ambassadors and volunteers are being deployed to bus stations and hubs to provide customers with travel information and advice on the ground</li>
</ul>
<h2>London Overground</h2>
<p>A normal service is operating. Some stations where there is an interchange with London Underground may be affected.</p>
<h2>Tramlink</h2>
<p>A normal service is operating.</p>
<h2>Emirates Air Line</h2>
<p>A normal service is operating.  LU tickets are being accepted on Emirates Air Line services .</p>
<h2>Cycling</h2>
<ul>
    <li>Barclays Cycle Hire is available to members and casual users, although demand is high, and cycles harder to access, during peak times</li>
    <li>Londoners who own a bike are encouraged to cycle to and from work, and a Cycle Journey Planner is provided at tfl.gov.uk/cyclejourneyplanner</li>
    <li>TfL has written to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day</li>
</ul>
<h2>River Services</h2>
<ul>
    <li>River services are coming back into service following suspension earlier this morning due to fog. </li>
</ul>
<h2>Roads and the Congestion Charge</h2>
<ul>
    <li>To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike</li>
    <li>TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network. TfL will also work with the Metropolitan Police to minimise the impact of congestion</li>
    <li>TfL will be working to keep traffic flowing around major transport hubs</li>
    <li>Londoners and commuters are encouraged to keep journeys by car to a minimum to enable public transport to move freely.ENDSNotes to Editors:A number of other alternative travel options are available today, including:</li>
</ul>
<h2>National Rail</h2>
<ul>
    <li>Oyster Pay As You Go is accepted for all National Rail journeys within Greater London</li>
    <li>Travelcards are also valid for travel on National Rail within the zones purchased</li>
    <li>A reduced Heathrow Express service will run on Tuesday 29 April and Wednesday 30 April due to separate strike action by the RMT. Heathrow Express plans to run two trains an hour between Heathrow and Paddington and back. Check the <a href="http://www.heathrowexpress.com">Heathrow Express website</a> for more information</li>
</ul>
<h2>Coaches</h2>
<ul>
    <li>Several coach operators, including National Express and Green Line, offer services that stop in a number of locations throughout London. Some of the core coach routes are as follows:</li>
    <li>Golders Green - Finchley Road - Baker Street - Marble Arch - Victoria Coach Station (National Express)</li>
    <li>Brent Cross - Finchley Road - Baker Street - Marble Arch - Victoria (Green Line)</li>
    <li>Hillingdon - Shepherd's Bush/Baker Street - Marble Arch - Victoria (Oxford Tube &amp; X90)</li>
    <li>Hammersmith - Kensington - Hyde park Corner - Victoria (Green Line)</li>
    <li>Stratford - Bow - Aldgate - Victoria Coach Station (National Express)</li>
    <li>Bexley - Canary Wharf - Aldgate - Embankment - Victoria Street (Commuter Services)</li>
    <li>Coulsdon - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express)</li>
    <li>Sutton - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express)</li>
    <li>Eltham - Lewisham - Walworth - Elephant &amp; Castle - Victoria Coach Station (National Express)</li>
</ul>
<p>Tickets can be purchased in advance from the Victoria Coach Station ticket hall, or on the operators websites: </p>
<ul>
    <li><a href="http://www.nationalexpress.com">National Express</a>  for main site and bookings.</li>
    <li><a href="http://coach.nationalexpress.com/nxbooking/stop-finder">National Express UK stop finder</a>  to find where the coach stops are in London. </li>
    <li><a href="http://www.greenline.co.uk">Greenline</a> for main site and bookings. </li>
    <li><a href="http://www.greenline.co.uk/timetables-search/">Greenline coach stops in London</a>  for location of stops in London. </li>
    <li><a href="http://www.oxfordtube.com">Oxford Tube</a> </li>
    <li><a href="http://x90.oxfordbus.co.uk/">Oxfod Bus Company</a> </li>
</ul>
<h2>Taxis &amp; private hire</h2>
<ul>
    <li>During peak times a marshalled taxi service will operate at eight major London rail termini &#45; Euston, Waterloo, Liverpool St, London Bridge, King's Cross, Victoria, Charing Cross, and Marylebone. The marshals will manage taxi and  passenger queues and provide advice and assistance to taxi passengers and other members of the public</li>
    <li>Private hire and minicab services will be running as normal. Details for licensed private hire and minicab operators in London are available at tfl.gov.uk/cabwise</li>
</ul>
<h2>Walking</h2>
<ul>
    <li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with TfL Ambassadors and volunteers helping people plan their routes around the city;</li>
    <li>People are urged to walk for short journeys, where possible</li>
</ul>

 
        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Some services  operating on all Tube lines despite strike (8:00) -->

 
 
        
        
            @{ViewBag.Description = "Some services are operating on all eleven Tube lines despite RMT strike over Tube modernisation.";}
        
        


 