


@{ViewBag.Title = "Tube services operating on ten of eleven lines despite RMT strike (1045)";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tube services operating on ten of eleven lines despite RMT strike (1045)</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tube services operating on ten of eleven lines despite RMT strike (1045)</h1>
        <div class="content-page-press-release">
        30 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Services ran on all Tube lines during peak morning travel 
        
    </div>



 <div class="on-this-page">
<ul>
    <li>
    Around 80 per cent of stations open, more than yesterday</li>
    <li>Three Tube lines running services on their entire line</li>
    <li>Barclays Cycle Hire journeys yesterday, highest number since the Olympic Games</li>
    <li>90 per cent of usual number of Oyster cards used on TfL network yesterday</li>
    <li>Full and enhanced services operating on London Overground, DLR and Tramlink  </li>
</ul>
<p>London Underground (LU) is operating Tube services on ten of 11 lines, nearly all of which are serving crucial zone 1 stations. </p>
<p>The exception is the Piccadilly Line where we have concentrated on a connection serving Heathrow Airport from Hammersmith. </p>
<p>Three Tube lines, the Jubilee, Northern and Victoria are running the entire line. </p>
<p>This morning services ran on all lines during peak morning travel All this despite the pointless strike called by the leadership of the RMT union.</p>
<p>This service level is better than at this stage yesterday and is far higher than during the last strike in February. </p>
<p>Around 80 per cent of stations (200+) are open and 90 per cent of Oyster cards that would normally be used on the TfL network were used yesterday, showing that London is working and open for business.</p>
<p>Record numbers of buses are again operating. Barclays Cycle Hire journeys were up 73 per cent this morning compared to an average weekday morning. </p>
<p>Yesterday, they were up by 50 per cent across the whole day.</p>
<p>Many thousands of staff and volunteer Travel Ambassadors drawn from TfL's support functions will again be out in force working hard to help customers and road users make their journeys.</p>
<p>The strikes have been called by the leadership of the RMT union over plans to modernise the Tube.</p>
<p>Under these plans, at the busiest stations there will be nearly a third more staff visible and available to provide, on a permanent basis, the face-to-face customer service offered during the London 2012 Games.  </p>
<p>Visitors to London and people with disabilities will be better looked after than ever before.</p>
<p>The modernisation will see savings of &pound;50 million a year which will be reinvested in more frequent and reliable train services and will help keep fares down.</p>
<p>Safety and security will never be compromised. </p>
<p>Safety is not controlled from ticket offices but by station supervisors and dedicated control rooms.  </p>
<p>This will continue.Mike Brown, Managing Director of London Underground, said: </p>
<p>'I'm sorry that Londoners are enduring more disruption today as a result of the RMT's pointless strike action. The only sensible course is for the RMT leadership to call off the strikes and get back to working with us to shape the future of the Tube, as the other three unions are doing.'</p>
<p>'It was tough for our customers yesterday, but with more staff arriving for work than during the last strike in February, we were able to run fifty per cent of the train service and keep two-thirds of stations open. Things have already got better today, with nearly three-quarters of stations open. Nearly ninety per cent of the normal number of Oyster cards were used yesterday.  We are  working really hard to further improve this level of service.'</p>
<p>'We again have a record number of buses operating and full or enhanced services on the London Overground, DLR and Tramlink.</p>
<p>'Under our plans to modernise the Tube, we're committed to a safe railway with an increased number of visible staff - by 30 per cent at our busiest stations - personally serving our passengers.  That means more staff than ever on hand providing help for customers who need it most.'</p>
<p>'Fairness to our staff is guaranteed. There will be no compulsory redundancies, there is a job for all staff wanting to remain with us and no one will lose pay.  We have made significant changes to our original proposals after listening to our people and the unions in over 40 meetings.'</p>
<p><strong>Latest Travel advice to customers (10:45hrs)</strong></p>
<p>Services are currently operating as follows:</p>
<p><strong>Bakerloo line  &#64;bakerlooline </strong></p>
<p>Services operating between:</p>
<ul>
    <li> Queens Park and Elephant and Castle</li>
</ul>
<p><strong>Central line &#64;centralline </strong></p>
<p>Trains are running: </p>
<ul>
    <li>Epping &#45; Leytonstone</li>
    <li>Woodford &#45; Hainault</li>
    <li>Hainault &#45; Marble Arch</li>
    <li>White City &#45; Ealing Broadway/West Ruislip</li>
</ul>
<p><strong>Circle line&#64;circleline</strong></p>
<p>Services are running:</p>
<ul>
    <li>Hammersmith &#45; Aldgate </li>
</ul>
<p><strong>District line  &#64;districtline   </strong></p>
<p>Trains are running:</p>
<ul>
    <li>Upminster &#45; Wimbledon </li>
    <li>Ealing Broadway - High Street Kensington </li>
    <li>Edgware Road - Kensington Olympia </li>
</ul>
<p><strong>Hammersmith &amp; City line&#64;hamandcityline</strong></p>
<p>Trains are running:</p>
<ul>
    <li>Edgware Road - Barking</li>
</ul>
<p><strong>Jubilee line &#64;jubileeline </strong></p>
<p>Trains are running on the whole line at a reduced frequency</p>
<p><strong>Metropolitan line  &#64;metline</strong>  </p>
<p>Trains are running;</p>
<ul>
    <li>Amersham - Baker Street </li>
    <li>Uxbridge - Harrow-on-the-Hill </li>
    <li>Harrow-on-the-Hill &#45; Aldgate</li>
</ul>
<p><strong>Northern line &#64;northernline</strong></p>
<p>Good service </p>
<p><strong>Piccadilly line &#64;piccadillyline </strong></p>
<p>No service is  operating through the central area.</p>
<p>Trains are running:</p>
<ul>
    <li>Hammersmith and Heathrow Airport, Terminals 1, 2 &amp; 3Arnos Grove and Cockfosters </li>
</ul>
<p>A
reduced Heathrow Express service will run on Tuesday 29 April and
Wednesday 30 April due to separate strike action by the RMT. </p>
<p>Heathrow
Express plans to run two trains an hour between Heathrow and Paddington
and back. </p>
<p>Check www.heathrowexpress.com for more information.Heathrow Connect services will not be operating due to this separate strike action by the RMT</p>
<p><strong>Victoria line &#64;victorialine </strong> </p>
<p>Service operating on the whole line at reduced frequency. </p>
<p><strong>Waterloo &amp; City line &#64;wlooandcityline  </strong></p>
<p>Services concluded at 10am as planned.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>DLR</strong></p>
<p>A normal service will operate. Some stations where there is an interchange with London Underground may be affected.</p>
<p><strong>Buses</strong></p>
<ul>
    <li>A record number of London buses are operating across 700 routes. Services are being boosted with over 250 extra buses added to the fleet.</li>
    <li>TfL Ambassadors and volunteers are being deployed to bus stations and hubs to provide customers with travel information and advice on the ground.</li>
</ul>
<p><strong>London Overground</strong></p>
<p>A normal service is operating. Some stations where there is an interchange with London Underground may be affected.</p>
<p><strong>Tramlink</strong></p>
<p>A normal service is operating.</p>
<p><strong>Emirates Air Line</strong></p>
<p>A normal service is operating. LU tickets are being accepted on Emirates Air Line services.</p>
<p><strong>Cycling</strong></p>
<p>Barclays Cycle Hire is available to members and casual users, although demand is high, and cycles harder to access, during peak times;</p>
<ul>
    <li>Londoners who own a bike are encouraged to cycle to and from work, and a Cycle Journey Planner is provided at tfl.gov.uk/cyclejourneyplanner;</li>
    <li>TfL has written to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day.</li>
</ul>
<p><strong>River Services</strong></p>
<ul>
    <li>River services are coming back into service following suspension earlier this morning due to fog. </li>
</ul>
<p><strong>Roads and the Congestion Charge</strong></p>
<p>•    To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike;</p>
<p>•    TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network. TfL will also work with the Metropolitan Police to minimise the impact of congestion;</p>
<p>•    TfL will be working to keep traffic flowing around major transport hubs;</p>
<p>•    Londoners and commuters are encouraged to keep journeys by car to a minimum to enable public transport to move freely.</p>
<p>ENDS</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to Editors:</strong></p>
<p>A number of other alternative travel options are available today, including:</p>
<p><strong>National Rail</strong></p>
<p>Oyster Pay As You Go is accepted for all National Rail journeys within Greater London</p>
<ul>
    <li>Travelcards are also valid for travel on National Rail within the zones purchased.</li>
    <li>A reduced Heathrow Express service will run on Tuesday 29 April and Wednesday 30 April due to separate strike action by the RMT. Heathrow Express plans to run two trains an hour between Heathrow and Paddington and back. Check www.heathrowexpress.com for more information.</li>
</ul>
<p><strong>Coaches</strong></p>
<ul>
    <li>Several coach operators, including National Express and Green Line, offer services that stop in a number of locations throughout London. Some of the core coach routes are as follows:</li>
    <li>Golders Green - Finchley Road - Baker Street - Marble Arch - Victoria Coach Station (National Express)</li>
    <li>Brent Cross - Finchley Road - Baker Street - Marble Arch - Victoria (Green Line)</li>
    <li>Hillingdon - Shepherd's Bush/Baker Street - Marble Arch - Victoria (Oxford Tube &amp; X90)</li>
    <li>Hammersmith - Kensington - Hyde park Corner - Victoria (Green Line)</li>
    <li>Stratford - Bow - Aldgate - Victoria Coach Station (National Express)</li>
    <li>Bexley - Canary Wharf - Aldgate - Embankment - Victoria Street (Commuter Services)</li>
    <li>Coulsdon - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express)</li>
    <li>Sutton - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express)</li>
    <li>Eltham - Lewisham - Walworth - Elephant &amp; Castle - Victoria Coach Station (National Express)</li>
</ul>
<p>Tickets can be purchased in advance from the Victoria Coach Station ticket hall, or on the operators websites:</p>
<p>http://www.nationalexpress.com for main site and bookings.</p>
<p>http://coach.nationalexpress.com/nxbooking/stop-finder to find where the coach stops are in London</p>
<p>http://www.greenline.co.uk for main site and bookings</p>
<p>http://www.greenline.co.uk/timetables-search/ for location of stops in London</p>
<p>www.oxfordtube.com</p>
<p>http://x90.oxfordbus.co.uk</p>
<p>Taxis &amp; Private Hire</p>
<ul>
    <li>During peak times a marshalled taxi service will operate at eight major London rail termini &#45; Euston, Waterloo, Liverpool St, London Bridge, King's Cross, Victoria, Charing Cross, and Marylebone. The marshals will manage taxi and  passenger queues and provide advice and assistance to taxi passengers and other members of the public;</li>
    <li>Private hire and minicab services will be running as normal. Details for licensed private hire and minicab operators in London are available at tfl.gov.uk/cabwise. </li>
</ul>
<p>Walking </p>
<ul>
    <li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with TfL Ambassadors and volunteers helping people plan their routes around the city;</li>
    <li>People are urged to use here walking for short journeys, where possible.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong></strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Tube services operating on ten of eleven lines despite RMT strike (1045) -->

 
 
        
        
            @{ViewBag.Description = "Tube services operating on ten of eleven lines despite RMT strike";}
        
        


 