


@{ViewBag.Title = "Tube modernisation set to improve customer service";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tube modernisation set to improve customer service</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tube modernisation set to improve customer service</h1>
        <div class="content-page-press-release">
        22 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        LU's proposals would see unparalleled levels of face-to-face customer service, as seen during the London 2012 Games. 
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our proposals mean radically improved customer service while allowing us to bear down on the cost of transport fares. We will be emulating the levels of face-to face customer service we gave during the 2012 Games, with more staff available in the public areas of stations to help and advise passengers and keep everyone safe."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>More staff than ever before visible and available rather than under-used ticket offices &#45; turning public areas of stations into 'personalised customer service centres</li>
            <li>Bearing down on transport&nbsp; fares made possible by modernising and improving transport while reducing overall cost</li>
        </ul>
        <p>In an open letter to the millions of customers who use the Tube each day, Mike Brown, Managing Director of London Underground, today set out how LU's modernisation plans;</p>
        <ul>
            <li>will radically improve customer service while bearing down on transport fares; and</li>
            <li>guarantee fairness to all LU staff.</li>
        </ul>
        <p>Under LU's proposals the public areas of stations - ticket halls, gate lines and platforms - will become personalised customer service centres, replicating the standards LU were able to offer during the London 2012 Games.Staff will be brought out from behind glass screens and hidden back offices to serve customers better.</p>
        <p> </p>
         
         
         
         
         
         
         
         
         
         
         
         
        <p><strong>Even More Staff Available To Help</strong></p>
        <p>Everything that customers can do at a ticket office window will be available to them more readily, with LU staff helping, at ticket machines, on-line or by telephone. </p>
        <p>There will be even more staff available to help customers with disabilities.Given the success of Oyster and advances in on-line and ticket machine technology, the use of ticket offices has dramatically fallen.&nbsp; </p>
        <p>Today, less than 3% of journeys involve a visit to a ticket office.&nbsp; </p>
        <p>This trend is set to continue with the introduction of contactless bank card payment later this year.</p>
        <p>When customers do use a ticket office, it is for three main reasons &#45; to buy a ticket, fix a ticketing problem or get information.&nbsp; </p>
        <p>By making more staff available in the public areas of stations &#45; at ticket machines, gate lines and platforms &#45; these services will be significantly improved for customers.</p>
         
        <p><strong>Safety And Security Will Never Be Compromised</strong></p>
        <p>Ticket office staff do not control safety and security - a dedicated Station Supervisor or a separate control room do that. </p>
        <p>This will continue, and safety and security will never be compromised.</p>
        <p>At the busiest stations &#45; Euston, Heathrow, King's Cross St Pancras, Liverpool Street, Paddington, Piccadilly Circus and Victoria, as well as at Gatwick Airport &#45; new Visitor Information Centres (VICs) will ensure that those unfamiliar with the Tube, including tourists and visitors to London, are provided with the service and assistance they need.&nbsp; </p>
        <p>VICs will also continue to sell tickets at these locations.</p>
        <p>Under the proposals there is an overall reduction of 950 roles as a result of LU being able to deliver better customer service in a modern and efficient way. </p>
        <p>However, it does not mean that 950 people physically need to leave. </p>
        <p>Due to the 650 staff already wishing to leave under the generous voluntary redundancy arrangements, the need for an additional 200 staff for the new 24 hour service at weekends, existing vacancies and natural staff turnover, not a single member of staff is being forced to leave.</p>
         
        <p><strong>Savings Will Be Reinvested</strong></p>
        <p>The savings made in closing ticket offices - around 50 million pounds each year or 270 million pounds up to 2020/21 - will help to bear down on fares and will be reinvested in further improvements such as more frequent and reliable train services, air-conditioned trains and extending WiFi.</p>
        <p>LU has made five commitments to customers:</p>
        <ul>
            <li>All stations will remain staffed and controlled at all times, with more staff visible and available to help customers and keep them safe and secure</li>
            <li>A new 24-hour service on core parts of the Tube network at weekends from 2015</li>
            <li>More frequent and reliable train services with better, more accessible stations</li>
            <li>Simpler ticketing, including contactless bank card payment with daily and weekly fares capping</li>
            <li>The best possible value by running our services as efficiently as possible while improving customer service</li>
        </ul>
        <p>Mike Brown said:</p>
        <p>'Our proposals mean radically improved customer service while allowing us to bear down on the cost of transport fares. </p>
        <p>We will be emulating the levels of face-to face customer service we gave during the 2012 Games, with more staff available in the public areas of stations to help and advise passengers and keep everyone safe.</p>
        <p>'Ticket offices do not control the safety and security of stations. </p>
        <p>Station supervisors and dedicated controls rooms do that, and this will continue. </p>
        <p>Every station will remain staffed and controlled at all times, and new ticket machines, contactless payment and a 24 hour service at weekends will further improve life for our customers.'</p>
        <p>'We cannot stand by and force customers to pay for ticket offices through their fares when a far better service can be provided more efficiently. </p>
        <p>The Mayor was able to keep fare increases this year down to the rate of inflation as a result of our being able to modernise and improve London's transport while reducing our overall costs.&nbsp; </p>
        <p>We want to continue doing so, helping us to further bear down on fares.'</p>
        <p>During an intensive period of talks, spanning eight weeks and 40 meetings, LU made highly significant changes to its proposals to reflect the feedback of staff and unions, so that a Customer Service Supervisor will staff smaller, local stations at all times, no supervisors need reapply for jobs, all applications for voluntary redundancy will be honoured and we will look to ensure that no staff lose pay.&nbsp; </p>
        <p>There will be no compulsory redundancies and there is a job for every member of staff who wants to be part of LU's future and is willing to be flexible.</p>
        <p>All four trades unions have been invited for further daily meetings with LU this week. </p>
        <p>One union, the RMT, has demanded that all modernisation be stopped and have threatened strike action,&nbsp; having given no credible alternative suggestions to deal with a changing world.</p>
        <p>Mike Brown added:</p>
        <p>'We recognise that the strikes the RMT propose from next week will be hugely disruptive. </p>
        <p>I hope that they can be averted - but that is up to the RMT. </p>
        <p>The sensible thing to do is keep talking.</p>
        <p>'If the strikes go ahead, we will work hard to provide the best service we possibly can.&nbsp; </p>
        <p>Many of our staff will come in to work and we will also have our Travel Ambassadors out in force to offer help and advice.'</p>
        <p>ENDS</p>
        <p>Notes to Editors:</p>
        <p>Full copy of Mike Brown's open letter to customers:</p>
        <p><strong>Message from London Underground: The future of your Tube service</strong>&nbsp;&nbsp; </p>
        <p>We have set out a vision for the future of the London Underground (LU) with our customers and staff at its heart. &nbsp;</p>
        <p>It includes a 24-hour 'Night Tube' at weekends from 2015 and, in emulating the customer service delivered during the London 2012 Games, more staff than is the case today visible and available to help customers buy tickets, plan journeys and keep everyone safe.</p>
        <p>It also includes modernising and improving our stations to introduce new services such as 'click and collect' shopping and new retail outlets.</p>
        <p><strong>Why we need to change</strong></p>
        <p>Oyster and more convenient payment options have dramatically reduced the use of ticket offices.&nbsp; </p>
        <p>Less than 3 per cent of journeys involve a visit to one and this will fall further when we introduce contactless payment later this year.&nbsp; </p>
        <p>Improved on-line services will enable customers to do business with us more easily. </p>
        <p>We cannot stand by and force you to pay for ticket offices through your transport fares when a far better service can be provided to you more efficiently. &nbsp;</p>
        <p>The Mayor kept fare increases this year down to the rate of inflation by our being able to modernise and improve London's transport while reducing our overall costs. </p>
        <p>We want to continue doing so to further bear down on fares.</p>
        <p><strong>Serving you better</strong></p>
        <p>We plan to move staff from behind glass screens and hidden back offices to serve you better. </p>
        <p>The public areas of the whole station - ticket halls, gate lines and platforms - will become a personalised customer service centre, replicating the standards delivered during the London 2012 Games. </p>
        <p>Everything you can do at a ticket office window will be available to you more readily, with our staff helping you, at ticket machines, on-line or by telephone.</p>
        <p>There will be even more staff available to help customers with disabilities. </p>
        <p>Ticket office staff do not control safety and security - a dedicated Station Supervisor or a separate control room do that. </p>
        <p>This will continue. </p>
        <p>We will never compromise on safety and security.&nbsp; &nbsp;</p>
        <p><strong>Looking after visitors to London</strong></p>
        <p>At the busiest stations, new Visitor Information Centres will serve tourists and infrequent customers and will still sell tickets.</p>
        <p>Savings made in closing ticket offices - &pound;50 million a year - will be reinvested in further improvements like more frequent and reliable train services, air-conditioned trains and extending WiFi. </p>
        <p><strong>Fairness to our staff is guaranteed </strong></p>
        <p>We have met the four trades unions over 40 times in the last 8 weeks and taken on board their comments. </p>
        <p>We have listened to our staff and made significant changes to our plans as a result. </p>
        <p>We have considered how we can ensure our staff aren't disadvantaged whatever choice they make. </p>
        <p>There will be no compulsory redundancies and there is a guarantee of a job for all who want one.&nbsp; </p>
        <p>The 650 staff who have already applied for voluntary severance will be able to take it and we will offer this opportunity to other staff too. </p>
        <p>Supervisors will be placed in new roles automatically, supported with customer service training. </p>
        <p>We're looking at ways to ensure that no one will lose pay.&nbsp; </p>
        <p>Staff will also have the opportunity to go for promotion and more pay.&nbsp; &nbsp;</p>
        <p><strong>Not a single member of staff will be forced to leave us </strong></p>
        <p>There is an overall reduction of 950 roles through us being able to deliver better customer service in a modern and efficient way. </p>
        <p>However, it absolutely does not mean that 950 people physically leave us. </p>
        <p>In fact, not a single employee will be forced to leave LU if they want to stay. </p>
        <p>This is because, in addition to the 650 staff wishing to leave under generous voluntary redundancy, we need an additional 200 staff for the new 24 hour service at weekends. </p>
        <p>The remaining 100 roles will be accounted for through vacancies and our normal level of staff turnover as people retire or choose to move on to other jobs. </p>
        <p>So we can remove the roles no longer needed, but without a single member of staff being forced to leave. </p>
        <p>I can't think of many employers who can offer such a fair and cast iron deal these days. </p>
        <p><strong>Potential strikes </strong></p>
        <p>All unions have been invited to further daily meetings with us this week.&nbsp; </p>
        <p>One union, the RMT, has demanded that all modernisation be stopped.</p>
        <p> They have no credible alternative suggestions to deal with a changing world. </p>
        <p>We recognise that the strikes the RMT propose from next week will be hugely disruptive to you. </p>
        <p>I hope that they can be averted - but that is up to the RMT. </p>
        <p>The sensible thing to do is keep talking. </p>
        <p>If the strikes go ahead, we will work hard to provide you with the best service we possibly can. </p>
        <p>Many staff will come to work and our Travel Ambassadors will be out in force to offer help and advice. </p>
        <p>Find out more at tfl.gov.uk </p>
        <p>Mike Brown Managing Director, London Underground </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Tube modernisation set to improve customer service -->

 
 
        
        
            @{ViewBag.Description = "LU’s proposals would see unparalleled levels of face-to-face customer service, as seen during the London 2012 Games";}
        
        


 