


@{ViewBag.Title = "Work gears up to deliver a bigger and better Pudding Mill Lane station after Easter";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Work gears up to deliver a bigger and better Pudding Mill Lane station after Easter</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Work gears up to deliver a bigger and better Pudding Mill Lane station after Easter</h1>
        <div class="content-page-press-release">
        15 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Works during Easter period will deliver a bigger station, better reliability and more capacity
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It won't be long before our passengers can enjoy all the benefits of this new station, which will have the biggest capacity on the DLR network and will provide excellent access for people travelling to events at Queen Elizabeth Olympic Park."</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Transport for London's Director of Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It won't be long before our passengers can enjoy all the benefits of this new station, which will have the biggest capacity on the DLR network and will provide excellent access for people travelling to events at Queen Elizabeth Olympic Park.
                            
                        </p>
                    </div>
                
            
            
            <p>Work to complete the new Docklands Light Railway (DLR) Pudding Mill Lane station and connect it up to the wider network is nearing completion.</p>
<p>The works, which will help to increase passenger capacity by an extra 1100 people per hour, are scheduled to finish following a ten-day suspension of services between Stratford and Bow Church from 18 to 25 April and then from Stratford to Poplar from 10pm on 25 April to 28 April. </p>
<p>They will also help to improve service reliability on the increasingly popular route between Stratford and Canary Wharf/Lewisham. </p>
<p>The Pudding Mill Lane Station project is being undertaken together with Crossrail, which has moved the location of the station to make room for one of its new lines. </p>
<p>Key works during the service suspension will involve connecting the new sets of 'double-tracked' rails, signalling and power systems at both ends of the station site to connect it to the rest of the network.</p>
<p>Transport for London's Director of Rail, Jonathan Fox said: `It won't be long before our passengers can enjoy all the benefits of this new station, which will have the biggest capacity on the DLR network and will provide excellent access for people travelling to events at Queen Elizabeth Olympic Park.</p>
<p>`We apologise for this interruption to their service, but this is essential work that needs to be done safely, thoroughly and without interruption. </p>
<p>`We have chosen the timing of this work because fewer people use our service around the holiday period and we are asking our passengers to bear with us for a short time.' </p>
<p>The former Pudding Mill Lane station was located where the Crossrail route reaches the surface and therefore a new station is being built. </p>
<p>From the end of 2018, Crossrail trains will emerge from the new tunnels at Pudding Mill Lane and join existing rail lines to make their way through northeast London to Essex. </p>
<p>DLR passengers will be able to interchange with Crossrail, as well as London Underground, London Overground and National Rail, at Stratford station. </p>
<p>Works involve the construction of a tunnel portal and approach ramp.</p>
<p>Howard Smith, Crossrail Operations Director said: `Crossrail has worked very closely with TfL to deliver the new Pudding Mill Lane DLR station. </p>
<p>`Pudding Mill Lane marks the site where trains travelling from Essex and northeast London will enter the new Crossrail tunnels and take passengers through to central London and beyond.'</p>
<p>Crossrail will transform rail travel in London and the southeast and provide much needed additional public transport capacity. </p>
<p>Crossrail is responsible for the work at the western end of the site and DLR for the work at the eastern end.&nbsp;</p>
<p>
<hr>
</p>
<ul>
<li>Completion of the double tracking work at both ends of the site will enable a capacity of 6,600 passengers per hour in each direction.&nbsp; The current frequency of ten DLR trains per hour delivers a capacity of 5,500 passengers per hour in each direction.</li>
<li>Double tracking involves augmenting one set of tracks with another, enabling trains to run in two different directions at the same time rather than having to wait for the single line to clear before proceeding. This increases capacity. In addition, should the service on one set tracks be interrupted, the other set can carry the service while the problem is solved. This improves reliability.</li>
<li>The Crossrail route will run from Reading and Heathrow in the west, through new tunnels under central London to Shenfield and Abbey Wood in the east.</li>
<li>There will be 40 Crossrail stations including 8 new stations in central London and Docklands at Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street, Whitechapel, Canary Wharf and Custom House</li>
<li>Crossrail will bring an extra 1.5 million people to within 45 minutes of central London and will link London's key employment, leisure and business districts - Heathrow, West End, the City, Docklands - enabling further economic development.<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Work gears up to deliver a bigger and better Pudding Mill Lane station after Easter -->

 
 
        
        
            @{ViewBag.Description = "Work to complete the new Docklands Light Railway (DLR) Pudding Mill Lane station and connect it up to the wider network is nearing completion.The works, which will help to increase passenger capacity by an extra 1100 people per hour, are scheduled to";}
        
        


 