


@{ViewBag.Title = "Year of the Bus celebrates 75 years of the RT-Type double deck bus";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Year of the Bus celebrates 75 years of the RT-Type double deck bus</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Year of the Bus celebrates 75 years of the RT-Type double deck bus</h1>
        <div class="content-page-press-release">
        08 April 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the continued celebration of Transport for London (TfL)'s Year of the Bus, the London Bus Museum is presenting a weekend celebrating 75 years of the historic RT-Type double deck bus.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Buses have a very special place in the hearts of Londoners, and it is always a great pleasure to see the delight on the faces of passengers and spectators when we run these old buses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Osborn</div>
            <div class="quotee-job-title">Event organiser for London Bus Museum</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Buses have a very special place in the hearts of Londoners, and it is always a great pleasure to see the delight on the faces of passengers and spectators when we run these old buses
                            
                        </p>
                    </div>
                
            
            
            <p>This includes, for one day only, RT-Type buses, all over 60 years old, operating a special route 22 service between Piccadilly Circus and Homerton on Saturday 12 April.</p>
<p>One of the buses serving route 22 will be the very special and lovingly restored RT1 which was the very first RT-Type bus produced back in 1939.&nbsp; </p>
<p>These services, run by London Bus Museum and crewed by volunteers, will operate between 10:30 and 16:30 every 10 to 20 minutes and will be free of charge with the exception of trips on RT1.&nbsp; </p>
<p>To contribute towards the restoration and upkeep of this very special bus a charge of &pound;10 per trip will be payable on board.&nbsp; </p>
<p>The operation culminates in a run over the whole of the original route 22 via Hyde Park Corner and Chelsea to Putney Common, between 14:30 and 16:00.&nbsp; </p>
<p>A display of RT-Type buses will also be on show at Ash Grove bus garage, in Mare Street, Hackney between 10:00 and 16:30.&nbsp; </p>
<p>Continuing the weekend of Year of the Bus and RT-Type 75th anniversary celebrations the annual 'Spring Gathering' will take place on Sunday 13 April at the London Bus Museum in Brooklands, Surrey.&nbsp;</p>
<p>This promises to be a family filled day of fun with many historic buses on display, including many RT-types and an RT cavalcade.&nbsp; </p>
<p>It is a tribute to the durability of this classic design that about fifty of these 60-year old buses will be active this weekend.</p>
<p>Peter Osborn, event organiser for London Bus Museum, said: </p>
<p>'Buses have a very special place in the hearts of Londoners, and it is always a great pleasure to see the delight on the faces of passengers and spectators when we run these old buses.' </p>
<p>Leon Daniels, TfL's Managing Director for Surface Transport, said: </p>
<p>'This is a special weekend for a very special bus which is celebrating its 75th anniversary.&nbsp; </p>
<p>The RT-type played an important part of the capitals history so what better way to celebrate this, as part of Year of the Bus,&nbsp;than operating these once more on London's streets once more.'</p>
<p>When it was introduced the RT-Type set new standards for the bus industry as a whole and confirmed London's place at the forefront of modern bus design.&nbsp; </p>
<p>With advanced, streamlined styling, bright interior, comfortable seating, smooth new diesel engine, modern air brakes and a pre selector gearbox it really led the way - with more than 7,000 operating on the capital's streets between 1939 and 1979.&nbsp; </p>
<p>The father of the later Routemaster, it laid the foundation for bus travel in the capital.</p>
<p>The Year of the Bus marks a number of important anniversaries this year.&nbsp; </p>
<p>This includes 60 years since the creation of the original and iconic Routemaster, the successor of the RT-Type, and 100 years since more than a thousand London buses were sent to the Western Front to play a crucial role during the First World War.</p>
<p>Throughout this year, TfL - working in partnership with London Transport Museum - will be hosting a number of engaging events, exhibitions, recreations and other activities that will re-connect Londoners with their bus network and remind the world of the role that London buses, the bus drivers and the staff who support them, play in keeping London moving 24 hours a day throughout the year.<br></p>
            <p>Notes to Editors</p>
<ul>
<li>Details of TfL's Year of the Bus are available&nbsp;<a title="here" href="http://www.TfL.gov.uk/yearofthebus">here</a>&nbsp; </li>
<li>Further information on the special RT-Type Route 22 service is available&nbsp;<a title="here" href="http://www.londonbusmuseum.com/rt75/">here</a> <a href="http://www.londonbusmuseum.com/rt75/">www.londonbusmuseum.com/rt75/</a>&nbsp;&nbsp; </li>
<li>London Bus Museum is located at&nbsp; Cobham Hall, Brooklands Road, Weybridge, Surrey, KT13 0QN.&nbsp; Further information on the 'Spring Gathering' is available&nbsp;<a title="here" href="http://www.londonbusmuseum.com/2014-events/  ">here</a>&nbsp;&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-April-Year of the Bus celebrates 75 years of the RT-Type double deck bus -->

 
 
        
        
            @{ViewBag.Description = "This includes, for one day only, RT-Type buses, all over 60 years old, operating a special route 22 service between Piccadilly Circus and Homerton on Saturday 12 April.One of the buses serving route 22 will be the very special and lovingly restored RT1";}
        
        


 