


@{ViewBag.Title = "Hammersmith Flyover carriageway resurfacing completed early";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Hammersmith Flyover carriageway resurfacing completed early</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith Flyover carriageway resurfacing completed early</h1>
        <div class="content-page-press-release">
        23 April 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Excellent progress means upcoming westbound weekend closure is no longer required
        
    </div>



 <div class="on-this-page">
<p>Excellent progress with work over the last two weekends means that the closure of the westbound Hammersmith Flyover originally planned for this coming weekend (24-27 April) is no longer necessary.</p>
<p>As part of Transport for London's (TfL's) continuing &pound;4bn Road Modernisation Plan, the Hammersmith Flyover strengthening scheme required a closure in the westbound direction for three weekends during April to allow the final repairs to the concrete deck, waterproofing and resurfacing to be completed. The repairs were carefully designed to be carried out in the shortest timeframe possible, helping to keep customer disruption to a minimum.</p>
<p>Across the first two weekends, around 150 engineers worked around the clock to waterproof 2,000 square metres of carriageway and then resurface it with more than 600 tonnes of asphalt. Around 300m of new kerbs were also installed as well as new steelwork within and below the flyover. Thanks to close collaboration and excellent progress by TfL's contractors, the last of the three westbound weekend closures is now no longer required.</p>
<p>Dana Skelley, Director of Asset Management at TfL, said: `Our work to complete vital refurbishment work to the Hammersmith Flyover is progressing really well and I'm delighted we have managed to reduce the number of westbound weekend closures we needed to complete the resurfacing. Our overriding focus has been to keep customer disruption to a minimum and we will continue to strive for this while we complete the last stages of this work this summer.'</p>
<p>Since October 2013, TfL has been carrying out a major refurbishment programme, strengthening the last 11 of the flyover's 16 spans (the initial five were completed in 2012). This work has been primarily carried out overnight to reduce disruption to road users and residents. Work on the structure is progressing well, with the upgrade to the central reservation of the flyover complete and strengthening to the structure in full momentum.</p>
<p>Almost three quarters of the overnight closures required to replace bearings supporting the flyover have now been used with the remaining closures planned in the coming weeks. These bearings enable the flyover to expand in the summer and shrink in the winter by up to 180mm, and replacing them is a crucial part of the work to extend the life of the flyover.</p>
<p>A significant amount of additional work was required to the flyover because the buried concrete supporting the bearings was in a much poorer condition than assumed. Despite this, the work remains on course to be completed by summer 2015. Full weekend closures to the flyover will be carried out during the coming months to allow TfL to complete the repairs to the two expansion joints within the flyover, which allow the structure to flex as traffic moves across it. The dates of these weekend closures are being confirmed and will be announced well in advance.</p>
<p>TfL has worked with key partners, including the local boroughs, to ensure that the improvement work has been scheduled to be undertaken with the minimum of disruption. TfL has informed and updated all local residents of the refurbishment, as well as other key stakeholders such as businesses and local transport groups. More details about the refurbishment is available on TfL's website at www.tfl.gov.uk/hammersmithflyover</p>
<p>The restoration of the Hammersmith Flyover forms part of the wider work being carried out across London as part of TfL's Road Modernisation Plan. With a budget of more than &pound;4 billion, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>TfL manages and maintains twelve tunnels, as well as more than 1,800 structures on the TfL Road Network, including bridges, flyovers, footbridges, retaining walls, subways, river piers and bus stations</li>
    <li>To replace the bearings, the Hammersmith Flyover needs to be lifted on jacks to allow the old bearings to be removed and the new bearings to be installed. The jacks lift the flyover between 3 and 10mm, allowing contractors - working in a space less than 1.5m wide - to replace the bearings. The flyover then needs to be replaced into the exact position onto the new bearings</li>
    <li>TfL continues to support the London Borough of Hammersmith and Fulham as it works up more detailed proposals for its ambitious plans to create a new road tunnel underneath Hammersmith. Any plan to replace the flyover would need to be funded through the wider redevelopment of the area</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-April-Hammersmith Flyover carriageway resurfacing completed early -->

 
 
        
        
            @{ViewBag.Description = "Excellent progress means upcoming westbound weekend closure is no longer required";}
        
        


 