


@{ViewBag.Title = "How the freight and logistics industry supports modern London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">How the freight and logistics industry supports modern London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>How the freight and logistics industry supports modern London</h1>
        <div class="content-page-press-release">
        29 April 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Decision makers gather to improve the efficiency of deliveries and reduce time wasted in congestion
        
    </div>



 <div class="on-this-page">
<p>Business leaders, operators, trade associations and local authorities are stepping up their work to ensure that the freight and logistics industry continues to support London as it changes and grows.</p>
<p>At a major conference today, Changing Times &#45; Delivering London's Future, a range of partners tackled how the industry can provide safer, cleaner and more efficient deliveries as London experiences a huge boom in construction and the biggest investment in road modernisation in a generation.</p>
<p>Transport for London (TfL) is working in partnership with the freight industry and local authorities to change how deliveries are made, focusing particularly on retiming deliveries to outside the peak hours of 07:00-13:00. Doing so means that vital deliveries can be made with fewer wasted driver hours and fuel, reducing costs, lowering emissions and improving customer service.</p>
<p>Whilst not all businesses are able to retime, other options, such as rerouting or consolidating deliveries, can provide similar benefits.  Consolidating deliveries into single trips can also save businesses money and time. </p>
<p>Removing large delivery vehicles from London's high streets during shopping hours also helps the retail sector by making shopping areas more pleasant places to be.</p>
<p>TfL and the London boroughs are delivering major improvements to London's roads. TfL's &pound;4bn Road Modernisation Plan is creating a greener, safer and more attractive network for all users, including new segregated Cycle Superhighways meaning dramatically changed road layouts. As new areas of London are developed, such as Battersea Power Station and Old Oak Common, there will be further significant change.</p>
<p>The continuing success of London means its population is set to grow from 8.6 million people today to more than 10 million by 2030.  This demands careful planning for the safe and efficient movement of increasing volumes of goods around the Capital.</p>
<h2>Need to adapt </h2>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: `From the shops on our high streets to the offices in the City, we all rely on freight and logistics to keep London thriving.  The unprecedented growth and changing nature of London is placing increasing pressure on our road network.  Never has the need to adapt been more pressing.  We must build on all the work we did together during the London 2012 Games to make further progress on retiming outside the busiest times, rerouting and consolidating deliveries.  This will mean less congestion, improved road safety and reduced costs for the industry and businesses.'</p>
<p>Tim Slater, Managing Director of Transport UK &amp; Ireland at DHL, said: `As the world's leading logistics provider, it is important that we remain at the forefront of the industry.</p>
<p>&quot;By sharing best practice and innovative technologies, such as our new gas powered concept vehicle, retiming of deliveries to out of the peak can become a reality; ensuring reliability, easing congestion and improving road safety.'</p>
<p>Martin Ward, Head of Distribution at Reynolds, said: `At Reynolds, we have been delivering to customers outside of normal business hours for many years now, often late at night or during the early hours of the morning. Not only is it convenient for our customers, but it means that the produce is delivered as fresh as possible - often within just a few hours of us receiving it at our National Distribution Centre in Hertfordshire. There are logistical benefits for Reynolds too, which ultimately means the prices we charge our customers can be more competitive. </p>
<p>Because roads are far less congested, especially in Central London, larger vehicles can be deployed and more drops achieved on each route. What's more, often we can utilise the same vehicle twice in a day, which makes great financial sense.'</p>
<p>Existing work to provide detailed advice to operators, businesses, business groups, industry bodies, boroughs and others is being stepped up. TfL is publishing postcode data of planned disruption for route-planning systems and communicating with 11,000 operators in the weekly Freight Bulletin. TfL is also providing tools such as a matchmaking service which allows operators and business to gain the support of all stakeholders at any location for retimed deliveries.</p>
<p>TfL is drawing up a long-term strategic approach to managing freight in London as a response to the Mayor's Roads Task Force by engaging with the servicing and delivery industry, businesses and London's boroughs.<br />
Further information is available here: <a href="http://tfl.gov.uk/freight">tfl.gov.uk/freight</a> and <a href="http://tfl.gov.uk/roads">tfl.gov.uk/roads</a></p>
<p><a href="http://tfl.gov.uk/roads"></a></p>
<hr />
<ul>
    <li>Last year showed an increase in construction output across the country, with London taking the lead. 23% of the value of the UK's construction in 2014 took place in the Capital. The Capital's population has hit its highest ever figure of 8.6 million, and with the population projected to reach 10 million by 2030, the vitality of construction logistics to the Capital will grow further, and so to will the need for a continued focus on road safety.</li>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the Capital.<br />
    In February 2014 the Mayor and TfL published six safety commitments, which supports the Safe Streets for London plan to reduce further the number of people killed or seriously injured in London by 40% by 2020; and brings focus to the range of actions needed by us and our partners to make our streets safer: http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</li>
</ul>
<ul>
    <li>The six key commitments are:<br />
    <ol>
        <li>To lead the way in achieving a 40% reduction in the number of people killed or seriously injured on the Capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury;</li>
        <li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80% of serious and fatal collisions;</li>
        <li>To provide substantial funding for road safety, invested in the most effective and innovative schemes;</li>
        <li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk;</li>
        <li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer;</li>
        <li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information</li>
    </ol>
    </li>
</ul>
<ul>
    <li>Last year, the Mayor confirmed that regular road safety police operations, based on the original &quot;Operation Safeway&quot; which ran at the end of 2013, will continue to operate across London for two days every month, on unannounced days. The MPS Commercial Vehicle Unit and the Driver and Vehicle Standards Agency also continue to enforce against non-compliant and dangerous commercial vehicles and drivers.</li>
    <li>Earlier this year, TfL also expanded the award-winning Fleet Operators Recognition Scheme (FORS) to grow and provide its benefits across the country. Between 2012 and 2013, FORS accredited operators reduced injury collisions by 41% and total collisions by a quarter.</li>
    <li>TfL is introducing the UK's first Safer Lorry Scheme in September which will ban all unsafe lorries from the Capital.</li>
    <li>The Safer Lorry Scheme will form one part of the continuing work that is already underway across London to improve road safety involving freight vehicles, in particular construction vehicles. Regular road safety police operations continue to be carried out by the Industrial HGV Task Force and the MPS Commercial Vehicle Unit across London, targeting non-compliant heavy goods vehicles, drivers and operators using the Capital's roads.</li>
    <li>The IHTF is funded by TfL and the Department for Transport (DfT) and formed of the Metropolitan Police Service, the Driver and Vehicle Standards Agency and the City of London Police. It has been deterring non-compliant operators by conducting targeted, intelligence led enforcement operations since October 2013.</li>
    <li>Between October 2013, when the IHTF was established, and February 2015, almost 4,500 have been stopped, with 53 vehicles seized, 2,100 roadworthiness prohibitions given to drivers and more than 1,100 fixed penalty notices issued.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-April-How the freight and logistics industry supports modern London -->

 
 
        
        
            @{ViewBag.Description = "Decision makers gather to improve the efficiency of deliveries and reduce time wasted in congestion";}
        
        


 