


@{ViewBag.Title = "Overhaul of Elephant & Castle northern roundabout begins";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Overhaul of Elephant & Castle northern roundabout begins</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Overhaul of Elephant & Castle northern roundabout begins</h1>
        <div class="content-page-press-release">
        09 April 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>As part of Transport for London's (TfL's) continuing &pound;4bn Road Modernisation Plan, construction of the major transformation of the Elephant &amp; Castle northern roundabout has now begun. The scheme, which was supported by more than 80 per cent of respondents to a public consultation in February 2014, supports Southwark Council's regeneration of the wider area. </p>
<p>Elephant &amp; Castle is one of TfL's priority locations to deliver improved safety for all road users. The &pound;25m overhaul of the northern roundabout has been designed to significantly upgrade facilities for pedestrians, cyclists and drivers by converting it into a peninsular, creating a new, more open and accessible public space, with the road around it converted to two-way traffic.
</p>
<p>The subways will also be replaced with new pedestrian crossings that allow people to cross directly, easily and safely between Tube, bus and local amenities at all times of the day. New dedicated cycle routes will also be created through and around the junction to improve safety for cyclists.</p>
<p>The work forms part of a wider &pound;150m package of works which will also see improvements made to the Northern line Tube station at Elephant &amp; Castle. These plans are linked to Delancey's re-development of the shopping centre site which will include increasing passenger capacity, improving access from street level and providing step-free access to the Northern line platforms.</p>
<p>Late last year, more detailed plans were drawn up and consulted on for the new areas of public space that are being created, as well as consideration of the design for the wider urban realm across the interchange area. Around 86% of respondents to that consultation supported the wider proposals, which will now be progressed and integrated into the highway build programme.</p>
<p>Elephant &amp; Castle is a residential area and, while some necessary work will be carried out at night and during weekends, the majority of work will take place on weekdays between 08:00 and 18:00. The main highway work is scheduled to be fully completed by summer 2016, with work on the public space within the new peninsula to be carried out after the upgrade to the Northern line station is completed in the early 2020s.</p>
<p>Ahead of the start of construction, TfL's skilled traffic engineers have been developing traffic management plans to ensure that the impacts on all road users are kept to a minimum. Sophisticated traffic signal technology, which allows better management of traffic depending on differing conditions at any given time, will be used to ensure that key routes and junctions are controlled in real-time to help keep traffic moving.</p>
<p>TfL's bus control room, Centrecomm, will also be working around the clock to ensure that bus journeys, where possible, are not significantly affected by these works. This may mean some buses are placed on diversion or bus stops temporarily closed during the works. When this occurs, signs will be placed at bus stops to advise people where their nearest alternative bus stop is. Live travel information will be provided at <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> and on Twitter at <a href="http://&#64;tfltrafficnews">&#64;tfltrafficnews</a> and <a href="http://&#64;tflbusalerts">&#64;tflbusalerts</a>.</p>
<p>During this work, drivers are strongly advised to plan alternative routes where possible to avoid delays, particularly during peak travel times. TfL will work hard to minimise disruption and roadside message signs will alert drivers to any closures.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL said: `Elephant &amp; Castle is a location all Londoners are aware of and the major redesign of this junction will help support the rapid transformation that is already being seen here. We will now work to deliver these changes as quickly as possible, making the area safer for drivers, cyclists and pedestrians, as well as transforming it into somewhere that people will want to meet, socialise and interact.'</p>
<p>Richard Chambers, Development Director at Delancey, said: `We are delighted that the plans for the Elephant &amp; Castle northern roundabout are finally underway.  Delancey is committed to supporting the transformation of Elephant &amp; Castle with a comprehensive redevelopment planned for the Shopping Centre and adjacent Elephant Road freehold site, to create a thriving community hub with excellent transport links and new homes for Londoners. It is our ambition to deliver a vibrant destination which complements the other adjoining regeneration proposals, whilst building upon the culturally diverse foundations that make Elephant &amp; Castle what it is.'</p>
<p>Rob Heasman, Project Director at Lend Lease, said: `The start of work on the northern roundabout is another major milestone in the regeneration of Elephant &amp; Castle and continues the strong momentum the various partners are delivering in the area. At Lend Lease, we are proud to be delivering a major part of that transformation, with our &pound;1.5bn programme which will deliver over 3,000 much needed new homes, as well as 50 shops and restaurants and a brand new park for all of the local community to enjoy. Transport for London's plans for the northern roundabout are fundamental to re-establishing the Elephant &amp; Castle as a thriving town centre and we look forward to continuing our work together over the coming years to ensure this ambition is met.'</p>
<p>While construction work is underway, TfL continues to work with Southwark Council to develop and improve a number of alternative cycling routes around the Elephant &amp; Castle. This work will look at how routes bypassing the area could be made more direct, as well as reviewing signage to encourage better use of the existing orbital route around the area. Reducing the speed limit to 20mph is also being explored as part of this work, which would improve overall safety conditions for all users.</p>
<p>The construction of the redesigned Elephant &amp; Castle northern roundabout forms part of the wider work being carried out across London as part of TfL's Road Modernisation Plan. With a budget of more than &pound;4 billion from now until 2021/22, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</p>
<p>TfL has written to local residents and businesses and details of the sections of work taking place and delivery timeline can be found on the TfL website here: <a href="http://www.tfl.gov.uk/elephant">www.tfl.gov.uk/elephant</a></p>
<p>Ends</p>
<p>Notes to editors:</p>
<ul>
    <li>Images are available from the TfL Press Office</li>
    <li>For more information about TfL &pound;4 billion Road Modernisation Plan visit <a href="http://www.tfl.gov.uk/roads">www.tfl.gov.uk/roads</a></li>
    <li>For detailed information on the impact on central London and to see the range of travel advice and planning tools available, visit <a href="http://www.tfl.gov.uk/roadtraveladvice">www.tfl.gov.uk/roadtraveladvice</a></li>
    <li>The consultation report for the new public space at Elephant &amp; Castle can be found here: <a href="https://consultations.tfl.gov.uk/roads/elephant">https://consultations.tfl.gov.uk/roads/elephant</a></li>
    <li>TfL continues to work with Southwark Council and the new shopping centre owners to see whether any further footway width could be obtained as part of their wider work, allowing cycling provision options and improvements to bus stop waiting conditions to be reassessed in future</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-April-Overhaul of Elephant & Castle northern roundabout begins -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 