


@{ViewBag.Title = "Plan ahead for the 2015 Virgin Money London Marathon";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan ahead for the 2015 Virgin Money London Marathon</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan ahead for the 2015 Virgin Money London Marathon</h1>
        <div class="content-page-press-release">
        15 April 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Runners, spectators, passengers and motorists reminded to know their travel options on marathon day
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Public transport is the easiest way to get around on the day. I encourage anyone travelling around south east and central London to plan their journey in advance at tfl.gov.uk/marathon"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>As the Capital gets ready to host the 35th London Marathon on Sunday 26 April, Transport for London (TfL) is urging runners, spectators, passengers and motorists to plan their journeys in advance.</p>
<p>The London Marathon is one of the largest mass-participation events in the world, and this year, it is expected to be bigger than ever. TfL has a dedicated travel information guide available at <a href="http://www.tfl.gov.uk/marathon">www.tfl.gov.uk/marathon</a> to help people plan ahead of London's largest annual running event.</p>
<p>Hundreds of thousands of spectators are expected to turn out to support over 35,000 people including world class athletes, celebrities and eager runners, raising millions of pounds for charities. The route will take runners past some of the London's most famous and historic landmarks. By planning ahead, spectators can choose the best place to watch &#45; route map. TfL Travel Ambassadors in their magenta uniforms will also be out on the day at Tube stations along the Virgin Money London Marathon route, providing travel information and assistance to customers. Real time travel information will also be provided through TfL's website and social media channels <a href="http://www.tfl.gov.uk/socialmedia">www.tfl.gov.uk/socialmedia</a> throughout the day.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: </p>
<p>'Each year Londoners show their support by lining the Capital's streets to cheer on the tens of thousands of runners taking part. With people coming from all over the world, raising money for causes close to their hearts, the encouragement they receive from spectators always makes a real difference. We've got TfL people who are taking part in the race and I wish them, and all the other participants, the very best of luck.</p>
<p>'Public transport is the easiest way to get around on the day. I encourage anyone travelling around south east and central London to plan their journey in advance at <a href="http://tfl.gov.uk/marathon">tfl.gov.uk/marathon</a>.'</p>
<p>The easiest way to travel to and from the race will be by London Underground, Docklands Light Railway (DLR), bus or London Overground.</p>
<p>Passengers travelling on the DLR are advised to plan ahead as there will be changes to routes and frequencies on marathon day. Passengers travelling between Beckton and Tower Gateway or Woolwich Arsenal and Bank stations are advised to use an alternative route on Sunday 26 April 2015, to avoid making multiple changes. They are advised to consider using the Jubilee line at Canning Town for services to and from central London.</p>
<p>London Underground's Jubilee, District and Circle lines will be busier than usual at times during the day.</p>
<p>TfL's services will continue to keep London moving throughout the event and all runners, race officials and on-duty St John Ambulance volunteers will be able to travel for free from early morning until 18:30 on London Underground, London Buses, London Overground, DLR and Tram by showing their race number, officials' course pass or tabard.</p>
<p>There will be a number of road closures in south east and central London on the day and motorists are advised to plan ahead and avoid driving near the affected areas, or travel at a different time if possible, and allow more time for their journey. There will be a phased reopening of the roads from around midday with all roads expected to be fully reopened by 19:00. Work to deliver the East-West Cycle Superhighway on the Victoria Embankment and Upper and Lower Thames Street will begin on 27 April and drivers are reminded to plan their journey in advance at <a href="http://www.tfl.gov.uk/eastwest">www.tfl.gov.uk/eastwest</a>.</p>
<p>London has one of the most accessible transport networks in the world, with a wide range if accessible transport options. Customers can find out more at <a href="http://www.tfl.gov.uk/transport-accessibility/">www.tfl.gov.uk/transport-accessibility/</a> or follow &#64;TfLAccess.</p>
<p>River boat services will also be operating on the day with extra services operating between central London to Greenwich. The service offers an alternative view of the marathon with more information available at <a href="http://www.thamesclippers.com/whats-on-discounts/londonmarathon">www.thamesclippers.com/whats-on-discounts/londonmarathon</a>.</p>
<p>Due to the road closures and the demand on public transport, passengers are encouraged to consider walking or cycling to their desired locations as part of their journey to make the most of their day.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The course of the 2015 Virgin Money London Marathon is 26.2 miles long, virtually the same as running the entire length of the Victoria line (13.25 miles) twice or the entire length of the Waterloo and City line (1.47 miles) around 18 times.</li>
    <li>Stations located close to the London Marathon Route include:</li>
</ul>
<ol>
    <li>Cutty Sark DLR (Mile 6+7)</li>
    <li>Canada Water (Mile 9)</li>
    <li>London Bridge (Mile 12)</li>
    <li>Tower Hill/ Tower Gateway (Mile 13)</li>
    <li>Shadwell DLR (Mile 13+22)</li>
    <li>Canary Wharf (Between Mile 14+15)</li>
    <li>Limehouse (Mile 14)</li>
    <li>Crossharbour DLR (Mile 18)</li>
    <li>Monument (Mile 23)</li>
    <li>Mansion House (Mile 23+24)</li>
    <li>Temple (Mile 23+24)</li>
    <li>Charing Cross (Mile 24)</li>
    <li>Embankment (Mile 25)</li>
    <li>Green Park / St James's Park (Finish Line)</li>
</ol>
<p>Passengers are advised to check before travelling via the following options:</p>
<ul>
    <li>The TfL website <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> using Journey Planner, accessible from your computer or internet-enabled mobile device;</li>
    <li>Information on posters, leaflets and Rainbow boards at Tube Stations; and</li>
    <li>The 24 hour London Travel Information line on 0343 222 1234. You pay no more than 5p per minute if calling from a BT landline. There may be a connection charge. Charges from mobiles or other landline providers may vary.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-April-Plan ahead for the 2015 Virgin Money London Marathon -->

 
 
        
        
            @{ViewBag.Description = "Get set and plan ahead for the 2015 Virgin Money London Marathon";}
        
        


 