


@{ViewBag.Title = "Step into Spring with over 40 TfL free guided walks";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Step into Spring with over 40 TfL free guided walks</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Step into Spring with over 40 TfL free guided walks</h1>
        <div class="content-page-press-release">
        30 April 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Explore London in bloom on Saturday 30 and Sunday 31 May
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our free guided walks are not only lots of fun, but they help Londoners discover hidden gems in their neighbourhoods as well as some of the history and culture the Capital has to offer"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Strategy and Planning, TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>Join in one of 41 (TfL free guided walks and enjoy spring in bloom on Saturday 30 and Sunday 31 May. The walks come at the end of National Walking Month to provide a special end to a month of walking activities across the Capital. There is no need to book in advance for most walks and people can easily enjoy more than one.</p>
<p>A wide range of walks organised by Walk London for TfL will showcase London's ever changing landscape. There is something to suit all ages and walking abilities, whether you fancy a short stroll or a challenging trek. The walks explore many of London's hidden gems as well as the city's famous landmarks, parks and canals. Experienced walk guides lead the way and provide fascinating facts that highlight London's curiosities, history and culture.</p>
<h2>London's ever changing landscape</h2>
<p>All walks start and finish within easy reach of public transport and explore sections of London's top seven walking routes; Capital Ring, Green Chain, Jubilee Greenway, Jubilee Walkway, Lea Valley, London Outer Orbital Path (LOOP) and Thames Path.</p>
<p>Ben Plowden, Director of Strategy and Planning, TfL Surface Transport, said; 'May is National Walking month, so there is no better time to put your best foot forward and explore our vibrant city. Our free guided walks are not only lots of fun, but they help Londoners discover hidden gems in their neighbourhoods as well as some of the history and culture the Capital has to offer.'</p>
<p>The 41 free guided 'Spring into Summer' walks include:</p>
<p><strong>Saturday 30 May</strong></p>
<ul>
    <li><strong>A Mighty River and a Royal Park at 10.00 (9.5 miles)</strong> - A leafy and historic walk along the Thames path from Richmond to Kingston before taking the second largest of the Capital's eight Royal Parks, Bushey Park on the London Loop</li>
    <li><strong>St Paul's and the Secret Corners of the City at 11.30 (1.5 miles)</strong> - The walk explores many rarely visited parts of the City of London including tranquil gardens, historical churches, hidden courtyards, and some stunning cutting edge modern architecture</li>
    <li><strong>The Finest Walk in London - Wimbledon Park to Richmond at 13.30 (7.5 miles)</strong> - see glorious views of Richmond Park, Wimbledon Common and Park</li>
    <li><strong>Secret Diaries and Public Spaces - The Legacy of Pepys and Wren at 15.30 (1.5 miles)</strong> &#45; a walk around St Paul's and Aldgate for those with a love of the written word or architecture</li>
    <li><strong>Along the Canal: Elegant Little Venice to Eclectic Camden at 13.00 (2 miles)</strong> &#45; explore the picturesque area of Little Venice and hear about buildings and residents of the area</li>
</ul>
<p><strong>Sunday 31 May</strong><strong></strong></p>
<ul>
    <li><strong>From the Romans to Norman Foster &#45; 2,000 years of history in the City of London, City Hall to St Paul's at 10.30 (2.1 miles)</strong> &#45; walk offers sweeping views of H.M.S. Belfast, the Shard, and Norman Foster's City Hall and the 'More London' development</li>
    <li><strong>Gleaming Spires - Architecture and public art in the City of London at 13.00 &#45; (1.5 miles)</strong> &#45; this walk explores the art and architecture in the vibrant City of London and views of its ever changing skyline</li>
    <li><strong>Walking on Water - The glorious Lea Valley- Tottenham Hale to Three Mills at 11.00 (5.5 miles)</strong> &#45; enjoy views of Walthamstow Marshes (ancient Lammas Lands, and the site of the first manned flight in Britain); Middlesex Filter Beds (now a nature reserve); Hackney Marshes (largest collection of football pitches in Europe); the Olympic Park and a Grade I listed tidal mill</li>
    <li><strong>A walk through historic Bloomsbury - The British Library to Holborn at 14.00 (1.5 miles)</strong> &#45; views include the Foundling Hospital Museum and the statue of the hospital's founder - Captain Thomas Coram, plus the most expansive of all of London's squares - Russell Square</li>
    <li><strong>London's best woodland and views &#45; Belvedere to Severndroog Castle at 11.15 (7.5 miles) </strong>&#45; booking essential. Taking in some of the best sections of the Green Chain route, this walk will explore ancient woodland as well as spectacular views of the Capital</li>
</ul>
<p>To find out more about the 'Spring into Summer' free guided walks near you visit <a href="http://walklondon.org.uk/">www.walklondon.org.uk</a></p>
<p>For more information on walking in the Capital and London's top seven walking routes visit - <a href="http://www.tfl.gov.uk/modes/walking">www.tfl.gov.uk/modes/walking</a></p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors</strong></p>
<p>In January, over 3,000 people joined TfL's 'Winter Wanders' free guided walking weekend</p>
<ol>
    <li>More than 8 million people walk on the Walk London Network each year</li>
    <li>The seven top walking routes in London (The Walk London Network) cover long distances but can be completed in sections and are fully accessible.</li>
    <li>The routes include:</li>
</ol>
<ul>
    <li>The LOOP Walk - 152 miles / 245 km</li>
    <li>The Capital Ring Walk - 78 mile / 126 km</li>
    <li>The Green Chain Walk &#45; 50 miles / 80 km</li>
    <li>The Lea Valley Walk 18 miles / 29 km</li>
    <li>The Thames Path Walk &#45; 40 miles/64km</li>
    <li>The Jubilee Walkway =15miles/24km</li>
    <li>The Jubilee Greenway Walk =37miles/60km</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-April-Step into Spring with over 40 TfL free guided walks -->

 
 
        
        
            @{ViewBag.Description = "Explore London in bloom on Saturday 30 and Sunday 31 May";}
        
        


 