


@{ViewBag.Title = "TfL travel tips: helping customers to get the best value";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL travel tips: helping customers to get the best value</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL travel tips: helping customers to get the best value</h1>
        <div class="content-page-press-release">
        23 April 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A new campaign to help customers get the most out of travelling in London has been launched by Transport for London (TfL). New poster and digital adverts are on display across the transport network to promote travel tips including the different payment options available; how to get the best value fare; the benefits of having an online account; and how to get a refund.</p>
<h2>Getting on TfL services</h2>
<p>Go contactless, go anywhere, and never top up again </p>
<ul>
    <li>Contactless payment cards are debit, credit, charge or pre-paid cards which can be used to make quick, easy and secure payments for everyday purchases including travel in London. Using contactless saves time as there is no need to top up, there is no need for a PIN or a signature either. To travel, customers just touch their card in on a yellow card reader at the start of their journey and out at the end. </li>
    <li>Pay as you go fares on contactless and Oyster are the same. Using pay as you go is cheaper than buying a paper ticket.&nbsp;</li>
    <li>Whether a customer uses a contactless or Oyster card, both offer daily capping that limits the amount they will pay for travel that day. When the total cost of all journeys made reaches a certain amount, a cap is applied and journeys made for the rest of the day in the same zones will not be charged.</li>
</ul>
<p>Just one touch on the bus or tram pays for your journey</p>
<ul>
    <li>Customers only need to touch in on a yellow card reader for bus and tram journeys to pay the correct fare</li>
</ul>
<p>Buses: If your Oyster credit runs out we'll help you get home</p>
<ul>
    <li>With Oyster pay as you go, if a customer doesn't have enough credit they can make one more journey on the bus before they have to top up again. Customers can top up their Oyster credit at nearly 4,000 Oyster Ticket Stops in newsagents and shops across London.</li>
</ul>
<p>Friends or family visiting London?  Tell them about Visitor Oyster</p>
<ul>
    <li>A Visitor Oyster card is a quick, cheap and easy way to pay for travel on public transport around London &#45; customers can buy the card online and get it posted to their home address so they have it before they come to London. They can also save money with special offers and discounts on things to do in London. For more information and to buy a Visitor Oyster card go to: <a href="http://visitorshop.tfl.gov.uk/">http://visitorshop.tfl.gov.uk/</a></li>
</ul>
<h2>Getting the best value fare</h2>
<p>Travelling off-peak is cheaper</p>
<ul>
    <li>Customers could save money by travelling off-peak. Pay as you go fares are cheaper between 0930 and 1559 and after 1900 on weekdays and at anytime at weekends and on public holidays</li>
</ul>
<p>Daily capping: Always touch in and out with the same card to pay the right fare</p>
<ul>
    <li>Oyster and contactless card users can get a daily cap if they make several journeys in the same day and they always touch in at the start and out at the end of each journey. Contactless customers also benefit from Monday to Sunday capping.</li>
</ul>
<p>Pink saves pounds</p>
<ul>
    <li>Some fares are cheaper if customers aren't travelling via Zone 1. Pink card readers at some Tube, London Overground and National Rail stations tell TfL which route a customer has taken so the correct fare is charged. Customers can find out if their journey has a cheaper fare which avoids Zone 1 by using the single fare finder at  <a href="http://tfl.gov.uk/farefinder">tfl.gov.uk/farefinder</a></li>
</ul>
<h2>Getting what you need online</h2>
<p>Protect your Oyster card if it's lost or stolen</p>
<ul>
    <li>Signing up for an Oyster online account protects the balance or Travelcard on the card if it is lost or stolen, gives customers access to their journey history for the past eight weeks and is a quick and easy way to top up and/or renew a Travelcard. Customers can choose to get email updates about planned disruptions on their regular route if they have an online account and they can also apply for refunds for incomplete journeys.</li>
</ul>
<p>Contactless online account</p>
<ul>
    <li>Although customers do not need to sign up for an online account to use their contactless card to travel, if they do, they will benefit from a summary of the cost of travel, journey and payment history, and email alerts if there's an issue with the contactless card, which could stop them from using it to travel. Customers can also apply for refunds for incomplete journeys.</li>
</ul>
<h2>Getting a refund</h2>
<p>Get money back online for delayed journeys</p>
<ul>
    <li>If a customer has been delayed for 15 minutes or more on Tube and DLR services or 30 minutes or more on London Overground services for a reason within TfL's control, they can get a service delay refund by signing into, or up for, an online account with TfL.</li>
</ul>
<p>Ends</p>
<p>Notes to Editors:<br />
•	Poster images from the campaign are available at <a href="https://www.flickr.com/photos/tflpress/sets/72157651713642139/">https://www.flickr.com/photos/tflpress/sets/72157651713642139/</a><br />
•	More information on fares is available at <a href="http://tfl.gov.uk/fares">tfl.gov.uk/fares</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-April-TfL travel tips: helping customers to get the best value -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 