


@{ViewBag.Title = "Upper deck seat indicator trial extended to route 59";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Upper deck seat indicator trial extended to route 59</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Upper deck seat indicator trial extended to route 59</h1>
        <div class="content-page-press-release">
        08 April 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More bus passengers to benefit from expansion of upper deck seat indicator technology trial as trial is rolled out across entire route
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want passengers to benefit from the most cutting edge technology &#45; making their journeys easier and more comfortable"</div>
        <div class="quote-footer">
            <div class="quotee-name">Simon Reed</div>
            <div class="quotee-job-title">TfL's Head of Technical Services Group</div>
        </div>
</div>

 <div class="on-this-page">
<p>Following a successful trial on a route 141 bus, during the Year of the Bus last year, TfL has today (8 April 2015) announced that it has expanded its upper deck seat indicator trial to a whole bus route in partnership with leading UK mobile digital recording technology company Timespace.</p>
<p>Bus passengers travelling on route 59, which runs between Kings Cross St Pancras and Streatham Hill (Telford Avenue) via Euston, Russell Square, Holborn, Waterloo, Oval and Brixton, will now benefit from new technology which analyses information from the on board CCTV system and displays seat availability on the upper deck on a screen at the base of the stairs.  It enables passengers to make an informed choice on whether to use the upper deck and may reduce crowding on the lower deck of the bus.</p>
<h2>Making journeys more comfortable</h2>
<p>This new technology is aimed at increasing utilisation of the whole bus and to make passengers journeys more comfortable by encouraging them to go upstairs, rather than standing on the lower deck, which at the busiest times can prevent other passengers from boarding.  Route 59 has been identified as a busy route where crowding can be an issue making it an ideal test route for this trial.</p>
<p>By expanding the technology trial to a whole bus route TfL will be able to better understand how this kind of information helps passengers and will also generate more statistically valid data to enable a true benefit analysis.</p>
<h2>Cutting edge technology </h2>
<p>Simon Reed, TfL's Head of Technical Services Group, said: 'We want passengers to benefit from the most cutting edge technology &#45; making their journeys easier and more comfortable. This project builds on a single vehicle trial conducted in 2014 and should provide a practical, clear benefit with clear information at the point of boarding.</p>
<p>'As we expand this trial we will be able to learn more about how it will work on a large scale and what kind of impact it will have on our passenger's experience.'</p>
<p>Robert Heylen, Managing Director of Timespace Technology Ltd, said: 'We are delighted to be partnering with TfL on the development and trial of this new technology and hope that it proves beneficial to bus passengers.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors</p>
<ul>
    <li>Route 59 is operated by Arriva London</li>
    <li>During the trial all buses will operate as normal and there will be no impact on the service</li>
    <li>Pictures are available on request from the TfL Press Office.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-April-Upper deck seat indicator trial extended to route 59 -->

 
 
        
        
            @{ViewBag.Description = "More bus passengers to benefit from expansion of upper deck seat indicator technology trial as trial is rolled out across entire route";}
        
        


 