


@{ViewBag.Title = "24 hours until London welcomes the Tour de France";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">24 hours until London welcomes the Tour de France</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>24 hours until London welcomes the Tour de France</h1>
        <div class="content-page-press-release">
        06 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Some roads around The Mall will be closed from 4pm today and roads along the route will be closed from 10am tomorrow for the Tour's return
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Tour de France is back in London tomorrow, and Londoners and visitors will be out in force to witness this great occasion. We'll be keeping the capital moving as roads around the race route will be extremely busy and are asking people to plan ahead and preferably use public transport, bicycle or walk"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Hundreds of spectators got into the spirit at Trafalgar Square, Green Park and Queen Elizabeth Olympic Park for the Grand Depart </li>
            <li>Magenta signs are up across the city with announcements being made across the transport network</li>
            <li>Tube and Rail will be the best way to get around and enjoy the day</li>
            <li>Stations along the route will be busy during the evening peak</li>
            <li>For detailed travel advice visit tfl.gov.uk/tourdefrance</li>
        </ul>
        <p>With less than 24 hours to go, London continues to be primed and ready to ensure the success of the arrival of the third stage of the Tour de France tomorrow (Monday 7 July).</p>
        <p>The Tour de France &#45; the world's largest annual sporting event &#45; returns to London tomorrow after two stages in Yorkshire. </p>
        <p>Around 200 elite cyclists will travel from Cambridge, through Essex and into London before a spectacular finish on The Mall. </p>
        <p>The iconic Tour de France will draw people onto the streets of London from near and far, and help to inspire more people to take up cycling.</p>
        <p>The whole route is unticketed which means spectators can watch for free to witness some of the greatest names in cycle racing fight it out for the famous Yellow Jersey. </p>
        <p>Spectators along the route are asked to respect the riders and stay back from the road as the race passes. </p>
        <p>Fans can also watch the action at the official Fan Parks in Green Park and Trafalgar Square and the spectator hub at Hopkins Field in Queen Elizabeth Olympic Park (QEOP). </p>
        <p>Across the weekend, hundreds of Londoners have visited the sites to watch the action on giant screens with thousands expected tomorrow. </p>
        <p>People are invited to tweet photos of themselves enjoying the tour to &#64;letourinlondon.</p>
        <p>The sites also have a range of other activities on offer to get people into the Tour de France spirit, including food markets, a Tour de France Museum, interactive cycling activities, an outdoor cinema, live music and celebrity appearances.</p>
        <p>Magenta-coloured signs are up around London to point people in the right direction for the best views of Tour de France riders. </p>
        <p>There are also a number of announcements at major transport hubs as well as the hundreds of volunteers who will be available to offer advice and assistance to people around the capital.</p>
        <p>Transport for London (TfL)'s contribution, including specially wrapped iconic London taxis to the publicity caravan is complete and ready to pass through the streets giving out promotional goodies and stoking the excitement before the elite riders appear.</p>
        <p>TfL has undertaken an extensive programme of public engagement and communication regarding the arrival of the Tour with residents and businesses across the capital. </p>
        <p>This is designed to ensure people living and working in London can understand the potential impacts of the Tour and plan ahead to avoid unnecessary inconvenience.</p>
        <p>Some roads around the finish area in The Mall will be closed to traffic from 16:00 today.&nbsp; </p>
        <p>Tomorrow, road closures for the event through north, east, and central London will begin after the morning peak at 10:00, with roads reopening as quickly as possible once the Tour has passed through and it is safe to do so. </p>
        <p>TfL anticipates that all roads will be reopened by 18:00.Closures will affect the boroughs of Redbridge, Waltham Forest, Hackney, Newham, Tower Hamlets, City, Westminster, Lambeth and Southwark. Tower, Southwark and Westminster Bridges will be closed for much of the day however there are no planned closures on any other major river crossings in Central London. </p>
        <p>Maps showing the areas inside the M25 that will be affected by the race are available at <a href="http://tfl.gov.uk/tourdefrance">tfl.gov.uk/tourdefrance</a>, along with a range of advice.</p>
        <p>To avoid delays drivers are advised to, wherever possible, avoid areas near the event routes in the affected parts of Cambridgeshire, Essex and London.</p>
        <p>Pedestrians will be able to cross the route at designated marshalled crossing points, and Tube and rail services will be the best way to get around and enjoy the day. </p>
        <p>Stations along the route, and particularly in Zone 1, are expected to be busy during the evening peak.</p>
        <p>Garrett Emmerson, Chief Operating Officer of Surface Transport at TfL, said: </p>
        <p>'The Tour de France is back in London tomorrow, and Londoners and visitors will be out in force to witness this great occasion. We'll be keeping the capital moving as roads around the race route will be extremely busy and are asking people to plan ahead and preferably use public transport, bicycle or walk. Spectators will know where to go by following our magenta signage leading the way to the action. This will help everyone make the most of what I'm sure will be an amazing day, cementing London's growing reputation as a major cycling city and encouraging more Londoners to travel by bike.'</p>
        <p>Hosting world renowned events such as the Tour reinforces London's reputation as a world-class host of cultural, sporting and business events. </p>
        <p>Visitors, both domestic and overseas, are brought to the capital by major events, delivering direct and indirect economic benefits, and showcasing London to a much wider audience.</p>
        <p>For more information, please visit <a href="http://tfl.gov.uk/tourdefrance">tfl.gov.uk/tourdefrance</a> </p>
         
        <hr />
         
        <p>Notes to Editors</p>
        <ul>
            <li>Those planning on watching the race along the route should respect riders and protect themselves by staying back from the road as the race passes. </li>
            <li>Leaflet drops to residents and businesses along the route have been carried out, and TfL and partners are working with the local boroughs and businesses as well as hosting public information sessions to ensure that everyone who wants to can enjoy the event and Londoners can plan their journeys and continue to get around the city on the day.</li>
            <li>The Tour de France will kick off a spectacular summer of cycling in London, with the exciting event followed by Prudential RideLondon on the 9 and 10 August and then the Tour of Britain, which finishes in the capital on 14 September.</li>
            <li>For up to date information on how transport services are operating, Londoners are advised to check before they travel at <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (buses).</li>
            <li>The Tour de France is the world's largest annual sporting event and covers approximately 3,500kms. A worldwide television audience of 3.5billion people watch the event annually. There will be 190 countries broadcasting the Tour de France and there are 5,000 hours of TV coverage annually. The last time the Tour visited England was in 2007 when London hosted the Grand D&eacute;part, which is the opening of the race.</li>
            <li>This summer's cycling events are likely to inspire thousands more Londoners to take to two wheels, building on the Mayor's ambition for cycling to be an integral part of the transport network. As part of his cycling vision, the Mayor is already engaging in a vast &pound;1billion programme of improvements - creating a series of enhanced cycling superhighways, urban 'quietways' for more cautious cyclists, and turning some outer boroughs into mini-Hollands.</li>
            <li>For more information on the Mayor's Vision for Cycling visit <a href="http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling">http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling</a></li>
            <li>Pedestrians and cyclists will be able to cross the route at designated crossings, where marshals will ensure safety of all. Once the roads close, cyclists will not be able to ride on the route roads.</li>
            <li>Spectators will be able to watch the elite cycling action along the route and also at the official Tour de France Fan Parks sites at Green Park and Trafalgar Square and spectator hub at Queen Elizabeth Olympic Park. The Spectator hub sites will feature a wide range of different activities such as live Tour de France racing on the big screen, a food market, a Tour de France Museum, interactive cycling activities, an outdoor cinema, live music, celebrity appearances and shops showcasing all of the latest bike equipment and accessories as well as refreshments. Team London volunteers will also be on hand across all the Fan Park sites to help spectators with local travel information and directions.</li>
            <li>The Mayor is committed to ensuring London retains its status as the world capital of sport, and has set up the Major Events Oversight Board. The board is chaired by Sir Edward Lister, and comprises of TfL, the emergency services and other key partner agencies. It provides strategic direction and advice to the Mayor on the approach to bidding, staging and evaluating major events in London. The board ensures that all major road events continue to be carefully considered and tightly managed to ensure everyone gets full benefit from the event without undue impact on Londoners and London's transport. The board also looks at ways to ensure the major events programme is effectively communicated with Londoners, visitors, businesses and stakeholders to allow sufficient notice and forward planning for everyone.</li>
            <li>Events like these appeal to Londoners, bring in domestic and overseas visitors and, through media coverage, showcase London to a much wider audience across the world. They deliver direct and indirect economic benefits. Prudential RideLondon 2013 delivered &pound;13m spend in its first year.&nbsp; &nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-24 hours until London welcomes the Tour de France -->

 
 
        
        
            @{ViewBag.Description = "Some roads around The Mall will be closed from 4pm today and roads along the route will be closed from 10am tomorrow for the Tour’s return";}
        
        


 