


@{ViewBag.Title = "Air quality headlines Crossrail sustainability report";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Air quality headlines Crossrail sustainability report</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Air quality headlines Crossrail sustainability report</h1>
        <div class="content-page-press-release">
        15 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Intelligent, energy-efficient trains and air quality improvements headline Crossrail's 2014 Sustainability Report which was published today
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new Crossrail trains will be the most energy efficient trains of their type, built with lightweight materials and intelligent systems for passenger comfort and reducing the impact on the environment"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Director of Crossrail Operations, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <p>The high-tech fleet of trains and the introduction of greener equipment is outlined in the report which highlights a number of economic, environmental and social successes since the construction of Crossrail began in 2009 and demonstrates the green credentials the railway will have when Transport for London (TfL) introduces the new trains from 2017.&nbsp;</p>
        <p>The report also explains how Crossrail has been introducing greener equipment to reduce the negative impact that construction work has on air quality. </p>
        <p>In 2013/14, Crossrail increased the amount of construction plant equipment fitted with emissions controls across all its sites.&nbsp;</p>
        <p>The report - the third since the start of the project - also highlights:&nbsp;</p>
        <ul>
            <li>97 per cent of contracts have been won by UK companies</li>
            <li>62 per cent of work goes to small and medium businesses</li>
            <li>Close to 2,800 local people from London's boroughs and/ or the previously unemployed are now working on Crossrail</li>
            <li>Crossrail is on target to achieve its 8 per cent carbon dioxide reduction which would save approximately 57,000 tonnes of emissions. </li>
        </ul>
        <p>Andrew Wolstenholme, Crossrail Chief Executive said: </p>
        <p>'Our vision for sustainability is ambitious and covers both the construction of the railway and the design of sustainable operations. Our report not only outlines the successes we've achieved to date but also demonstrates our aim to create a sustainable railway for the generations ahead.'</p>
        <p>The new lightweight Crossrail trains will be the most energy efficient trains of their type - built with an emphasis on energy efficiency and use of intelligent on-train energy management systems. </p>
        <p>The Crossrail trains will be built to an aerodynamic shape to help reduce drag and making use of recyclable materials. </p>
        <p>The trains will also feature regenerative braking systems allows energy to be returned to the electricity grid and smart LED lighting to reduce energy consumption, which is expected to give up to a 20 per cent reduction in energy costs. </p>
        <p>During 2013/14, a &pound;1bn contract was awarded by TfL to Bombardier which will see the East Midlands-based firm build the Crossrail fleet of new trains at their plant in Derby and maintain them at a new state of the art facility at Old Oak Common.&nbsp;</p>
        <p>Howard Smith, TfL's Director of Crossrail Operations said: </p>
        <p>'The new Crossrail trains will be the most energy efficient trains of their type, built with lightweight materials and intelligent systems for passenger comfort and reducing the impact on the environment.'</p>
        <p>TfL will be working with Bombardier on the final design for the trains with the first due to be delivered in May 2017. </p>
        <p>This will support 760 UK manufacturing jobs plus 80 apprenticeships. </p>
        <p>An estimated 74 per cent of contract spend will remain in the UK economy.&nbsp;</p>
        <p>The new fleet of trains will be progressively introduced to the existing rail network from 2017 well in advance of services commencing through Crossrail's central section in December 2018.&nbsp;</p>
        <p>For a full copy of the sustainability report click <a href="http://74f85f59f39b887b696f-ab656259048fb93837ecc0ecbcf0c557.r23.cf3.rackcdn.com/assets/library/document/e/original/ea123_sust14_interactive.pdf">here</a>.&nbsp;</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Air quality headlines Crossrail sustainability report -->

 
 
        
        
            @{ViewBag.Description = "Intelligent, energy-efficient trains and air quality improvements headline Crossrail's 2014 Sustainability Report which was published today";}
        
        


 