


@{ViewBag.Title = "Changes to bus services due to Southall Broadway works";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Changes to bus services due to Southall Broadway works</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Changes to bus services due to Southall Broadway works</h1>
        <div class="content-page-press-release">
        21 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>All bus services which run through Southall will be
            affected</li>
            <li>Passengers are urged to allow extra time for their
            journey and to check before they travel
            &nbsp;
            </li>
        </ul>
        <p>From Monday 28
        July, Ealing Council will be closing Southall Broadway westbound to carry out
        improvement works, which will affect passengers using bus services in the
        surrounding area.
        &nbsp;
        </p>
        <p>The works are part of Ealing
        Council's Southall Big Plan, which will change the street layout to improve
        safety, widen the footways and help smooth the flow of traffic.&nbsp; </p>
        <p>The works are expected to
        be completed by Christmas 2014, with buses returning to normal after this time.
        &nbsp;
        </p>
        <p>All eleven bus
        routes which run through Southall may be subject to delays, and passengers are
        advised to allow extra time for their journey and to check the Transport for
        London (TfL) website before travelling &#45; www.tfl.gov.uk
        &nbsp;</p>
        <p>
        In order to minimise delays
        and maintain a reliable service, TfL will make the following temporary changes
        to local bus services:-
        &nbsp;
        </p>
        <p><strong>Temporary changes to bus
        services.
        </strong>&nbsp;</p>
        <p>
        Route 207 will only run
        between White City and Southall town centre.&nbsp; It will not serve the
        section of route between Southall town centre and Hayes-By-Pass in either
        direction.&nbsp; The last stop for buses from White City towards Hayes will be
        Southall Park (stop UN), with the first stop towards White City being Southall
        Police Station (stop R).
        &nbsp;
        </p>
        <p>Route 427 towards Uxbridge
        will be diverted non-stop between Southall town centre and Uxbridge Road
        (Trinity Road stop).
        &nbsp;
        </p>
        <p>Route 427 towards Acton will
        not be diverted and will continue to stop at all existing stops, except stop J
        in Southall Broadway which will be closed (stop H in Southall Broadway may also
        be closed or moved for short periods during the works).
        </p>
        <p>Route
        607 (limited stop) towards Uxbridge will be diverted. The diversion will vary
        depending on the time of day. On Monday to Friday, during morning and evening
        peak hours, and Saturday shopping hours it will be diverted non-stop between
        Southall town centre and Hayes, The Grapes. It will not stop at the Trinity
        Road stop. At all other times it will be diverted non-stop between Southall
        town centre and Uxbridge Road (Trinity Road stop), but will not miss out any of
        its existing stops.
        </p>
        <p>Route
        607 (limited stop) towards White City will not be diverted and will continue to
        stop at all of its existing stops.&nbsp;
        </p>
        <p>Route
        N207 Holborn to Uxbridge journeys will be diverted between Southall town centre
        and Hayes, The Grapes running via Lady Margaret Road, Ruislip Road and Hayes
        By-Pass.&nbsp; It will stop at all bus stops on the diversion except Southall
        Town Hall (stop E) which will be closed.
        </p>
        <p>Route
        N207 Uxbridge to Holborn journeys will not be diverted and will continue to
        stop at all existing stops except stop J in Southall Broadway which will be
        closed (stop H in Southall Broadway may also be closed or moved for short
        periods during the works).
        </p>
        <p>Route
        N207 Holborn to and from Hayes By-Pass journeys will only run between Holborn
        and Southall town centre.&nbsp; They will not serve the section of route
        between Southall town centre and Hayes By-Pass in either direction. The last
        stop for buses from Holborn towards Hayes will be Southall Police Station (stop
        K), and the first stop for buses towards Holborn will be Southall Police
        Station (stop R).
        </p>
        <p>Temporary
        changes to bus stops.
        Bus
        stops G, I and J in Southall Broadway will be closed throughout the works
        period. These stop closures will affect routes 207, 427 and N207.
        </p>
        <p>Bus
        stop H in Southall Broadway will normally remain open but may be closed or
        moved for short periods during the works. This will affect routes 427 and N207
        (Uxbridge to Holborn journeys). Routes 207 and N207 (Hayes By-Pass to Holborn
        journeys) will not stop here throughout the works period.
        </p>
        <p>Bus
        stop E in Lady Margaret Road, opposite Southall Town Hall, will be closed
        throughout the works. This affects routes 95, 105, 120, E5.
        </p>
        <p>Bus
        stop Q in South Road, near Park Avenue, will be closed throughout the works.
        This affects routes 105, 120, 195, 482, E5 and H32.</p>
         
        <p>
        </p>
        <hr />
         
        <ul>
            <li>Eleven bus routes
            operate through Southall; 95, 105, 120, 195, 207, 427, 482, 607, E5, H32
            and N207</li>
            <li>Full details of these
            temporary bus changes are available online www.tfl.gov.uk/southall-broadway.&nbsp;
            </li>
            <li>Details of Ealing Council's Southall Big Plan
            are available online www.ealing.gov.uk/southallbigplan</li>
        </ul>
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Changes to bus services due to Southall Broadway works -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 