


@{ViewBag.Title = "Contract signed for MTR to run Crossrail services";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contract signed for MTR to run Crossrail services</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contract signed for MTR to run Crossrail services</h1>
        <div class="content-page-press-release">
        30 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
        </ul>
        <p>Transport for London (TfL) and MTR have now signed the contract
        for the operation of Crossrail services. </p>
        <p>The &pound;1.4 billion contract is for eight
        years with an option to extend to ten years.
        &nbsp;
        </p>
        MTR is expected to employ around 1,100 staff providing jobs and
        apprenticeships for people from communities along the route.&nbsp;
        <ul>
        </ul>
        <p>
        They will
        start running services between Liverpool Street and Shenfield from 31 May 2015,
        taking over the stopping services currently operated by Abellio Greater Anglia.
        They will be staffing all stations along the route from the first to last
        train.
        </p>
        <p>Mike Brown MVO, Managing Director
        London Underground and London Rail, said: &quot;The appointment of MTR brings
        Crossrail services another step forward. They will be operating London's newest
        rail line which will help cut journey times, make it easier for people
        travelling across the city and create jobs and support growth and regeneration
        along the route. We will be looking to MTR to operate reliable and efficient
        Crossrail train services from day one.&quot;
        &nbsp;
        </p>
        <p>Jay Walder, Chief Executive Officer of
        MTR Corporation, said: &quot;We are committed to bringing the very best of MTR to
        Crossrail, and are working hand-in-hand with TfL to establish a new standard of
        operational reliability and customer experience for railways in Europe. The
        award of this contract also shows how Hong Kong's expertise and capabilities
        can contribute to the growth and development of world cities.&quot;
        &nbsp;
        </p>
        <p>With London's
        population set to increase to 10 million by 2030 Crossrail will provide a vital
        boost in rail capacity in the capital. It will connect Reading and Heathrow in
        the west with Shenfield and Abbey Wood in the east. </p>
        <p>Crossrail
        will be fully integrated as part of the TfL network providing a fast, frequent
        service linking the east and west and relieving congestion on some of the
        busiest Tube lines. </p>
        <p>Passengers using Crossrail will see reduced journey times and the new stations will be integrated with
        existing London Underground, DLR, London Overground and National Rail stations
        making it easy for passengers to change between services.
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>The
            &pound;1.4bn contract value is the nominal value of concession payments payable to
            the Operator over the base 8-year concession term before performance
            adjustments (bonuses and penalties).
            </li>
            <li>Crossrail
            services are being let as a concession by TfL, similar to the concession
            let by TfL for London Overground.MTR,
            along with Arriva UK Trains, operate LOROL to run London Overground
            Services. Services
            to Shenfield will initially operate with the current rolling stock but
            will be gradually replaced in 2017 by the new Crossrail trains. </li>
            <li>The
            Crossrail route will serve 40
            stations and run 118 km (72 miles) from Reading and Heathrow in the west,
            through new twin-bore 21 km (13 miles) long
            tunnels below central London to Shenfield and Abbey Wood in the east.</li>
            <li>Crossrail
            services will be introduced as follows:</li>
            <li>Heathrow
            to Paddington (mainline platforms) &#45; May 2018 (when the Crossrail
            concession takes over the Heathrow Connect service) </li>
            <li>Paddington
            (Crossrail platforms) to Abbey Wood &#45; December 2018. </li>
            <li>Paddington
            (Crossrail platforms) to Shenfield &#45; May 2019. </li>
            <li>Full
            through service (including services to Reading) &#45; December 2019. </li>
            <li>The
            Crossrail project is jointly sponsored by the Department for Transport and
            TfL.
            </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Contract signed for MTR to run Crossrail services -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 