


@{ViewBag.Title = "Contactless payments set to launch";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contactless payments set to launch</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contactless payments set to launch</h1>
        <div class="content-page-press-release">
        25 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contactless payments set to launch on TfL services on 16 September<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Offering the option of contactless payments will make it easier and more convenient for customers to pay for their travel, freeing them of the need to top up Oyster credit and helping them get on board without delay"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Director of Customer Experience, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>New payment option means customers no longer having to check and top up their Oyster balance</li>
            <li>'Daily' and 'Monday to Sunday' fare capping will automatically calculate the best value for contactless travel</li>
            <li>Successful pilot of around 3,000 customers </li>
            <li>All customers reminded to only touch one card on the reader to avoid card clash</li>
        </ul>
        <p>Millions of customers are set for easier and more convenient journeys from 16 September, when Transport for London (TfL) will introduce contactless payments for all pay as you go customers on the Tube, London Overground, DLR and Trams in addition to the capital's buses.</p>
        <p>The new option, which is part of a huge range of improvements TfL is making for customers, means that there will no longer be any need to spend time topping up Oyster balances because fares are charged directly to payment card accounts.Contactless payments &#45; credit, debit, charge or pre-paid cards or devices - work in the same way as Oyster, charging the pay as you go fare by touching in and out on the readers at the start and end of every journey.</p>
        <p>In addition to 'daily' capping, a new Monday to Sunday cap will also apply for customers using the contactless payment option, as TfL's advanced system will automatically calculate the best value contactless fare over the course of the week. </p>
        <p>Only one charge per day will be sent to the bank or financial provider for payment - clearly referencing it as a payment to TfL for travel.Registered customers will be able to easily view their journey and payment history via their TfL online account. </p>
        <p>The account, part of TfL's work to modernise and personalise the services that it offers customers, ensures ease and transparency and also gives customers the ability to obtain refunds on incomplete journeys.Contactless payments have operated on the capital's bus network since December 2012, and have been used by around 825,000 customers for 17million journeys. </p>
        <p>Around 65,000 journeys a day are being made using a contactless payment card.A pilot of the system on the London Underground and rail network which began in April involving around 3,000 customers has been successful.&nbsp; </p>
        <p>Customer feedback has been used to improve the service, including making the online accounts easier to use.Ahead of the launch on 16 September, TfL is continuing to remind customers that it is imperative that they only touch one card to the reader to avoid 'card clash'. </p>
        <p>This simple measure will ensure customers avoid paying with a card they did not intend to use. It will also avoid gates not opening or not giving a green light to proceed. </p>
        <p>An extensive customer campaign has been running since February to reduce the incidents of card clash and this will be enhanced further ahead of the September launch.</p>
        <p>Shashi Verma, TfL's Director of Customer Experience, said: </p>
        <p>'Offering the option of contactless payments will make it easier and more convenient for customers to pay for their travel, freeing them of the need to top up Oyster credit and helping them get on board without delay. The pilot has been a success, with participants giving us really useful feedback.&nbsp; This is the latest step in making life easier for our customers by using modern technology to offer the best service possible.'</p>
        <p>TfL and National Rail continue to work together to develop the programme to expand the system to the suburban rail routes where Oyster is currently accepted.</p>
        <p>TfL has worked closely with the payment card industry, including The UK Cards Association, American Express, MasterCard, Visa Europe and Barclaycard, on the development of contactless payment card acceptance on the transport network. </p>
        <p>London is leading the way in the area of transport ticketing and TfL will soon be one of the world's largest single merchants accepting contactless payment cards.&nbsp;</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>More information and a video illustrating how contactless payments work on the transport network can be found at <a href="http://www.tfl.gov.uk/contactless">www.tfl.gov.uk/contactless</a></li>
            <li>If a reader at a station detects a contactless payment card and an Oyster card together, it will reject both and the gates will not open. Once the system is launched, if a wallet or purse containing a number of cards is touched on the yellow reader it is possible that the reader could detect one card without seeing the other and a card that the customers did not intend to pay with could be charged. Station announcements, poster campaigns and other channels of customer communication has been highlighting since February the need to only present the card intended for use to the reader to avoid this.</li>
            <li>Contactless payments is being launched as a further payment option alongside Oyster for pay as you go travel. Oyster will continue to be available for those on concessionary or season tickets or who would prefer to continue paying for their travel this way.</li>
            <li>All UK issued contactless American Express, MasterCard or Visa credit, debit, pre-paid or charge payment cards will be accepted for payment. Other methods of contactless payment that meet financial industry standards, including mobile phones, may also be accepted. Some non-UK cards may not be accepted and card holders should check with their issuers before attempting to use it for travel on TfL services.</li>
            <li>Capping is a feature of pay as you go travel which allows provides flexibility for customers to make a number of journeys in a single day but limits the amount paid to a certain value or 'cap', meaning any further journeys are not charged. There are different caps for different types of transport and zones. To benefit from capping the same card must be used to touch in and out on every journey. </li>
            <li>It is not a requirement for customers to register for an online account to travel using a contactless payment card or device, but this is strongly encouraged. Customers are able to view 12 months of journey history through an online account while unregistered customers will only be able to access their journeys and payments over the last 7 days from a one-off log in to the TfL website or from the TfL Contact Centre (0343 222 1234).</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Contactless payments set to launch -->

 
 
        
        
            @{ViewBag.Description = "Contactless payments set to launch on TfL services";}
        
        


 