


@{ViewBag.Title = "Delivering the future of London's traffic signals";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Delivering the future of London’s traffic signals</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Delivering the future of London’s traffic signals</h1>
        <div class="content-page-press-release">
        18 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New pan-London contracts will see traffic signals upgraded to latest and greenest technology, helping to keep all road users across the capital moving
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is world-leading when it comes to traffic signals management and these new contracts will allow us to continue this well into the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Asset Management, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Contracts deliver significant savings to London, which will be proportionally passed on to the London boroughs for reinvestment</li>
        </ul>
        <p>Transport for London (TfL) has awarded new traffic signals maintenance contracts, worth around &pound;317m for up to eight years, which will see the capital's 6,000 traffic signals upgraded and maintained to the latest, greenest standards.</p>
        <p>The Mayor and TfL are doubling the investment into London's road network over the course of TfL's business plan, from &pound;2bn to &pound;4bn. </p>
        <p>The new Traffic Control Management Services contracts will help expand the use of intelligent traffic signals, as well as new crossings for pedestrian and cyclists, delivering benefits to all road users across London.</p>
        <p>The new contracts will also deliver a substantial saving of around &pound;42m compared to the previous contracts, achieved though competitive dialogue between the bidders and TfL. </p>
        <p>This competitive dialogue allowed TfL and suppliers to remove many uncertainties from the contracts before they were signed, helping to ensure they used the most effective, energy efficient and best value equipment. </p>
        <p>Doing so will allow London to remain at the cutting edge of traffic control technology. </p>
        <p>Financial savings made through this contract will be shared between TfL and the boroughs to help accelerate delivery of further improvements to London's roads.</p>
        <p>During the timeframe of the contracts, TfL will carry out a range of works to improve traffic signals across London, including:</p>
        <ul>
            <li>Rolling out a new 'gold standard' for all new and upgraded pedestrian crossings, which was launched recently as part of the Pedestrian Safety Action Plan. This will look to include Pedestrian Countdown timers to give pedestrians a clear indication of how much time they have to safely cross the road, as well as ensuring that all pedestrian crossing times take account of national safety standards and the level of pedestrian demand. TfL will also expand the use of Pedestrian Countdown across all 33 London boroughs in the coming years;</li>
            <li>Continuing the roll-out of energy efficient Light Emitting Diode (LED) traffic lights across London to further reduce costs and associated emissions across London. Currently, 13 per cent of London's traffic signals use LEDs and TfL is working to expand this to 100 per cent in the future;</li>
            <li>Accelerating the installation of pedestrian and cycle improvement schemes, such as low level cycle signals, at key junctions across London. The contract will also see the completion of the roll-out of audible alerts or tactile rotating cones for visually impaired pedestrians at all pedestrian crossings by 2016.</li>
            <li>Expanding the use of innovative Split Cycle Off-set Optimisation Technique (SCOOT) technology across London, which can change traffic signal timings based on traffic levels second by second, from half of all signals to three quarters of all signals by the end of 2018. On average, installing SCOOT at a junction reduces traffic disruption by between 8 and 12 per cent.</li>
        </ul>
        <p>The new contracts will also deliver a range of benefits to London in addition to better traffic signals. </p>
        <p>All vehicles working on the contracts will need to be Euro-5 compliant and signed up to the Fleet Operator Recognition Scheme, helping to reduce associated pollution and reduce the risk of collisions involving pedestrians and cyclists. </p>
        <p>The contracts will ensure all employees are given at least the London Living Wage, create over 100 apprentice positions across London and encourage contractors to offer work placements to help ex-Armed Forces members - who may be wounded, injured or sick - back into employment. </p>
        <p>Dana Skelley, Director of Asset Management at TfL, said: </p>
        <p>'London is world-leading when it comes to traffic signals management and these new contracts will allow us to continue this well into the future.</p>
        <p>'By entering into competitive dialogue with the bidders we have been able to deliver huge savings for London, which can be reinvested back into delivering further improvements for all road users.'</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Subject to the ten day standstill period, the contracts will be awarded to: </li>
        </ul>
        <ul>
            <li>
            <div class="table-container"><table width="958" height="95">
                <thead>
                </thead>
                <tbody align="left">
                    <tr>
                        <td>West London&nbsp;</td>
                        <td>&nbsp;North London</td>
                        <td>North East London&nbsp;</td>
                        <td>&nbsp;South West London&nbsp;</td>
                        <td>South East London</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Telent Technology Services Limited</td>
                        <td>&nbsp;Siemens plc</td>
                        <td>&nbsp;Siemens plc</td>
                        <td>&nbsp;Telent Technology Services Limited</td>
                        <td>&nbsp;Cubic Transportation Systems (ITMS) Limited</td>
                    </tr>
                </tbody>
            </table></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            <li>The new Traffic Control Maintenance Services contracts will go live on 1st October 2014 for up to eight years. The Finance and Policy committee report on the award of these contracts can be found here: http://tfl.gov.uk/cdn/static/cms/documents/fpc-20140717-part-1-item11-tcms2.pdf </li>
            <li>TfL is responsible for managing traffic control infrastructure in Greater London on behalf of all 32 London boroughs and for the City of London Corporation, the Highways Agency and the Royal Parks. The contracts runs 24/7, 365 days a year and covers over 6,200 traffic signal sites with around a quarter of a million individual lamps, 149 Variable Message Signs and 56 Over-height Vehicle detectors across London</li>
            <li>London's roads account for 80 per cent of all journeys and 90 per cent of all goods moved in the capital. As the engine of the British economy, London's population is set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to absorbing the population of both Birmingham and Leeds. </li>
            <li>This is a continual challenge in a city with a road network that developed organically and was never designed for so much traffic. To meet the challenge, the Mayor and TfL are investing more than &pound;4 billion in improving London's roads, streets and urban realm for all road users, residents and businesses during the next decade.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Delivering the future of London’s traffic signals -->

 
 
        
        
            @{ViewBag.Description = "Delivering the future of London's traffic signals";}
        
        


 