


@{ViewBag.Title = "Essential roadworks on A406 Southend Rd this summer ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Essential roadworks on A406 Southend Rd this summer </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Essential roadworks on A406 Southend Rd this summer </h1>
        <div class="content-page-press-release">
        21 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Essential road improvement work to the A406 Southend Road this summer &#45; drivers advised to plan ahead 
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Work to take place during the summer
            until mid-October when traffic levels are significantly lower, helping to reduce
            impact on road users</li>
            <li>Majority of work will take place
            overnight and at weekends to minimise disruption, however there will be no
            closures on Sundays</li>
            <li>Drivers are advised to regularly check
            before they travel at tfl.gov.uk/driving
            as closure times will vary throughout the project&nbsp;
            &nbsp;&nbsp;</li>
        </ul>
        <p>
        As part of Transport for
        London (TfL)'s work to maintain and modernise London's major roads, essential
        work to the A406 Southend Road in north east London will take place from 25
        July until mid-October.
        &nbsp;
        </p>
        <p>The existing carriageway
        surface of the A406 Southend Road between Waterworks Roundabout and Charlie
        Browns Roundabout requires essential maintenance work to resurface the
        carriageway and improve the concrete road base. This work will ensure the road
        can continue to serve the area for years to come and will provide a better road
        surface, helping to reduce noise and the need for frequent maintenance in the
        future.
        &nbsp;
        </p>
        <p>Drivers
        will be affected by a number of different closures between Waterworks and
        Charlie Brown's roundabouts at certain times between 25 July and 19 October
        2014. Throughout the work road closures will not be in place on Sundays.</p>
        <p> From
        Friday 25 July to 18 September, work will take place on the eastbound
        carriageway, with closures of the A406 on Friday and Saturday nights (between
        22:00 &#45; 08:00) and lane restrictions, including slip lane closures, on Saturday
        daytime and Monday and Tuesday nights. </p>
        <p>From
        Friday 19 September until mid-October work will take place on the westbound
        carriageway, with closures of the A406 on Friday and Saturday nights (between
        22:00 &#45; 08:00) and lane restrictions including slip lane closures on Saturday
        daytime and Monday and Tuesday nights.
        &nbsp;
        </p>
        <p>Drivers
        are advised to regularly check online at tfl.gov.uk/driving
        to check whether their journey will be affected by these works, to allow extra
        time for their journeys and, where possible, to change their routes to avoid
        any disruption.
        &nbsp;
        </p>
        <p>However,
        there will be no work taking place on 9 and 10 August (the weekend of
        Prudential RideLondon) or across the August Bank Holiday weekend to help
        minimise disruption. The work has been coordinated to minimise disruption and
        avoid clashes with the ongoing work currently taking place at the nearby Fore
        Street Tunnel. TfL will be carrying out as much work as it can at night to
        ensure it can be completed as quickly and with as little disruption as
        possible. </p>
        <p>The essential refurbishment
        work has been phased and coordinated to start during
        the summer when traffic levels are significantly lower, helping to reduce the
        impact on road users.
        &nbsp;
        </p>
        <p>Bus route 123, which runs
        along the A406 Southend Road, will also be diverted from the start of the work
        until the end of service on certain nights. Information will be readily
        available at local bus stops and on tfl.gov.uk/journeyplanner.&nbsp;
        &nbsp;
        </p>
        <p>To help local residents and
        businesses prepare, TfL has worked with key partners, including the local
        boroughs, and has written to local residents, businesses, local transport
        groups and other stakeholders. Variable messaging signs will be placed on the
        roadside advising drivers of the closures and information is being shared with
        affected residents and other road users in a variety of ways - including
        emails, TfL's website and real-time updates through the &#64;tfltrafficnews Twitter
        feed.
        &nbsp;
        </p>
        <p>Garrett Emmerson, Chief
        Operating Officer for Surface Transport at TfL, said: &quot;While there is obviously
        no perfect time to close an essential road for maintenance, this vital work
        will ensure that the road can remain in a good condition for years to come.
        Once completed, it will reduce the need for future work, while ensuring traffic
        can continue to flow on a quieter, smoother carriageway.&quot;
        &nbsp;
        </p>
        <p>To
        find out more about how TfL is working to improve the capital's roads, please
        visit tfl.gov.uk/driving</p>
        <hr />
        <ul>
            <li>The
            work will be carried out by Ringway Jacobs who are part of the London Highway
            Alliance &#45; tfl.gov.uk/highways-alliance</li>
            <li>London's
            roads account for 80 per cent of all journeys and 90 per cent of all goods
            moved in the capital. As the engine of the British economy, London's population
            is set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to
            absorbing the population of both Birmingham and Leeds</li>
            <li>This
            is a continual challenge in a city with a road network that developed
            organically and was never designed for so much traffic. To meet the challenge,
            the Mayor and TfL are investing more than &pound;4 billion in improving London's
            roads, streets and urban realm for all road users, residents and businesses
            during the next decade</li>
            <li>This
            investment will see London undergo a major transformation of its road network.
            As part of its work to deliver the recommendations of the Mayor's Roads Task Force, major redesigns of junctions
            including Elephant and Castle, Archway and Vauxhall will be delivered,
            improving the look and feel of the locations and creating new open places for
            Londoners. New segregated cycle lanes will be installed across London,
            providing safer routes for the thousands of people taking to two wheels every
            day</li>
            <li>To
            help deliver this wider programme of work, TfL has already begun to expand its
            innovative SCOOT technology, which can change traffic signal timings based on
            traffic levels second by second; most of the key junctions in the area of these
            essential maintenance work already operate using SCOOT technology. Hundreds of
            staff are already working 24/7 to monitor the road network from TfL's traffic
            control centre. They will use London's intelligent traffic light technology to
            help keep traffic moving around these planned road closures, as well as keeping
            road users up-to-date on traffic conditions</li>
            <li>For
            more information about work currently underway at Fore Street Tunnel please
            visit: tfl.gov.uk/forestreettunnel</li>
        </ul>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Essential roadworks on A406 Southend Rd this summer  -->

 
 
        
        
            @{ViewBag.Description = "Essential road improvement work to the A406 Southend Road this summer – drivers advised to plan ahead ";}
        
        


 