


@{ViewBag.Title = "Essential road improvement works to Hogarth Flyover this summer ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Essential road improvement works to Hogarth Flyover this summer </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Essential road improvement works to Hogarth Flyover this summer </h1>
        <div class="content-page-press-release">
        09 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Essential road improvement works to Hogarth Flyover this summer &#45; drivers advised to plan ahead 
        
    </div>

<div class="on-this-page">

        <ul>
            <li>Work to take place during the summer
            when traffic levels are significantly lower, helping to reduce impact on road
            users</li>
            <li>Work will take place 24hrs a day, seven
            days a week to minimise disruption
            &nbsp;&nbsp;
            </li>
        </ul>
        <p>As part of Transport for
        London (TfL)'s work to maintain its structures, essential works to Hogarth
        Flyover in west London will take place from 19 July as part of a continuing
        programme of roads modernisation across London.
        &nbsp;
        </p>
        <p>Hogarth Flyover is nearly 50
        years old and now requires essential maintenance work to ensure it continues to
        serve the area for the next 20 to 30 years. </p>
        <p>If the works are not done soon,
        then the structure may become unsafe, which would require TfL to close the
        flyover at very short notice.
        &nbsp;
        </p>
        <p>From 19 July until 31
        August, the single lane eastbound only flyover, which carries traffic from the
        A316 onto the A4 Great West Road, will be closed to traffic to allow engineers to
        replace the deck, repair parapets steelwork, and improve lighting on the slip
        road. The essential refurbishment works have been phased and coordinated to
        take place during the summer when traffic levels are significantly lower,
        helping to reduce the impact on road users.
        &nbsp;
        </p>
        <p>Drivers are advised to allow
        extra time for their journeys as these works will have an impact on a wider
        area than the immediate vicinity of the works. </p>
        <p>Where possible, drivers are
        advised to change their routes and plan ahead to avoid the disruption,
        particularly during the morning and evening peak during weekdays and if
        travelling at the weekend.
        &nbsp;
        </p>
        <p>
        To help local residents and
        businesses prepare, TfL has worked with key partners, including the local
        boroughs, and has written to local residents, businesses, local transport
        groups and other stakeholders. </p>
        <p>Variable messaging signs will be placed on the
        roadside advising drivers of the closures and information is being shared with
        affected residents and other road users in a huge variety of ways - including
        emails, social media feeds, TfL's website and across a range of print and
        broadcast media. TfL will be providing real-time updates through the
        &#64;tfltrafficnews twitter feed and website to help drivers plan their journey - www.tfl.gov.uk/trafficnews.
        &nbsp;
        </p>
        <p>
        Garrett Emmerson, Chief
        Operating Officer for Surface Transport at TfL, said: &quot;London is living with
        the legacy of life expired 1960s roads infrastructure; now we need to prepare
        for the next 30 years. These important works to the Hogarth Flyover will ensure
        that this vital structure can remain open for years to come, reducing the need
        for further works in the future while ensuring traffic can continue to flow
        into and around London.
        &nbsp;
        &quot;Whilst there is obviously
        no perfect time to close such an essential piece of road infrastructure for
        major maintenance, doing it during the school summer holidays when traffic
        levels are up to 15 per cent lower, and working 24hrs, seven days a week to complete
        the works in just six weeks, will minimise disruption for Londoners on this
        important road corridor.&quot;
        &nbsp;
        </p>
        <p>Additionally in the area,
        Wandsworth Council are carrying out essential works to refurbish Putney Bridge
        from 14 July. &nbsp;</p>
        <p>The works will affect journeys over a wider area than the
        immediate vicinity of Putney Bridge. Traffic is expected to be congested in the
        surrounding area especially during morning and evening peaks, with alternative
        river crossings likely to be most congested. We advise drivers to allow extra
        time for journeys and, where possible, to change route to avoid the disruption.
        &nbsp;
        London Buses will operate
        service from both ends of the bridge, and bus passengers who would usually
        cross the bridge will need to make their way across to the other side to
        continue their journeys. Bus passengers from affected routes who cross the
        bridge on foot will be able to continue their journey on to appropriate
        services on the other side.
        &nbsp;
        TfL has set out plans to
        ensure that bus passengers don't lose out and don't pay twice when their
        journeys are affected by the bridge closure. Please visit the following link
        for further information: http://www.tfl.gov.uk/travel-information/improvements-and-projects/putney-bridge
        &nbsp;
        </p>
        <p>To find out more about how
        TfL is working to improve the capital's roads, including more information about
        the Hogarth Flyover closure, please visit: &nbsp;www.tfl.gov.uk/hogarthflyover
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>London's
            roads account for 80 per cent of all journeys and 90 per cent of all goods
            moved in the capital. As the engine of the British economy, London's population
            is set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to
            absorbing the population of both Birmingham and Leeds</li>
            <li>This
            is a continual challenge in a city with a road network that developed
            organically and was never designed for so much traffic. To meet the challenge,
            the Mayor and TfL are investing more than &pound;4 billion in improving London's
            roads, streets and urban realm for all road users, residents and businesses
            during the next decade</li>
            <li>This
            investment will see London undergo a major transformation of its road network.
            As part of its work to deliver the recommendations of the Mayors roads Task
            Force, major redesigns of junctions including Elephant and Castle, Archway and
            Vauxhall will be delivered, improving the look and feel of the locations and
            creating new open places for Londoners. New segregated cycle lanes will be
            installed across London, providing safer routes for the thousands of people
            taking to two wheels every day</li>
            <li>To
            help deliver this wider programme of work, TfL has already begun to expand its
            innovative SCOOT technology, which can change traffic signal timings based on
            traffic levels second by second, from half of all signals to three quarters of
            all signals. </li>
            <li>Hundreds of staff are already working 24/7 to monitor the network.
            They will use&nbsp; London's intelligent traffic light technology to help
            traffic movement around these planned bridge closures in west London this
            summer, as well as keeping road users up-to-date on traffic conditions</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Essential road improvement works to Hogarth Flyover this summer  -->

 
 
        
        
            @{ViewBag.Description = "Essential road improvement works to Hogarth Flyover this summer – drivers advised to plan ahead ";}
        
        


 