


@{ViewBag.Title = "Euros on the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Euros on the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Euros on the Tube</h1>
        <div class="content-page-press-release">
        15 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Euro and Pound cash points installed across the London Underground Network
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Millions of people use our network each year, including going to or from an airport, Eurostar and coach stations, and these machines have been installed to make it easier for people to access the currency they need"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Transport for London (TfL) has teamed up with Raphaels Bank to introduce cash points at 70 London Underground (LU) stations which dispense both Pounds and Euros. </p>
        <p>The move is part of TfL's work to modernise and improve the services available to customers across the transport network. </p>
        <p>UK cardholders can withdraw sterling for free* from the distinctive new cash points, which are situated in prime locations across the LU network including Waterloo, London Bridge and King's Cross St Pancras stations. </p>
        <p>Euro withdrawals are commission free, with rates aimed at beating the largest currency exchange providers. </p>
        <p>Raphaels has also developed a website to make it easier for customers in London to find their nearest Euro ATM on the Tube &#45; <a href="http://cashpointcompass.co.uk">cashpointcompass.co.uk</a>.</p>
        <p>Raphaels Bank commissioned a survey** of 2,000 travellers and found that only 62 per cent of them bought currency in advance of their holidays. </p>
        <p>The service has been designed to make it easier for busy London workers, commuters and residents to be able to get their cash for local use as well as trips abroad.</p>
        <p>Graeme Craig, Director of Commercial Development at TfL, said: </p>
        <p>'As part of our ongoing plans to improve the services on offer for our customers, we have worked with Raphaels Bank to install these cash points at stations across our network. Millions of people use our network each year, including going to or from an airport, Eurostar and coach stations, and these machines have been installed to make it easier for people to access the currency they need.'</p>
        <p>Beth Williams, Head of ATMs for Raphaels Bank, said: </p>
        <p>'Building on our existing estate of ATMs in key London travel hubs, Raphaels Bank is delighted to be working with TfL to serve the four million daily users of the Tube. Founded in 1787, Raphaels Bank, like the London Underground, is investing for the future and these brand new ATMs are expected to set new levels of reliability and availability across the Tube network. Convenience is paramount for busy London commuters. With Euros now available at over 70 stations across the Tube network, users of the Underground have instant access to cash on the way to the airport, Eurostar terminal, home or work, rather than being limited to the usual opening hours of Banks and outlets for foreign currency.'</p>
        <p>With London being officially recognised as the most popular tourist destination in the world***, thanks to almost 17 million visitors last year, the partnership with Raphaels Bank will not only generate commercial revenue for TfL to reinvest back into the transport network, but will make it easier for visitors to the capital and those travelling to countries across Europe to access the currency they need. </p>
        <p>TfL has been working with local, national and international retailers to provide a range of services to customers, and the partnership with Raphaels will provide a completely new service that benefits both Londoners and visitors to London. </p>
        <p>Over the past seven months, </p>
        <p>TfL has introduced a number of click and collect services as well as pop-up shops, bringing new and innovative retailers to customers using the transport network which is responsible for an average of over 11 million journeys every day. </p>
        <p>ENDS</p>
        <p>*Card charges imposed by the cardholder's bank or credit card provider may apply </p>
        <p>**OnePoll Survey commissioned by Raphaels Bank, conducted March 2013</p>
        <p>***ONS, 8 May 2014 - <a href="http://www.ons.gov.uk/ons/rel/ott/travel-trends/2013/sty.html">http://www.ons.gov.uk/ons/rel/ott/travel-trends/2013/sty.html </a></p>
         
        <hr />
        Notes to Editors:
         
        <p>Raphaels Bank is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority. The Bank operates around 330 ATMs in the UK, predominantly located at travel gateways, shopping centres and tourist locations. The ATMs dispense any combination of euro, pounds and US dollars and the Bank is a member of the Link, MasterCard and Visa card schemes. As well as ATMs, Raphaels Bank specialises in <a href="http://www.raphaelsbank.com/card-services/">pre-paid card programmes</a>, <a href="http://www.raphaelsbank.com/private-banking/personal/">personal banking</a> and <a href="http://www.raphaelsbank.com/consumer-finance/">lending</a>. <a href="http://www.raphaelsbank.com/">raphaelsbank.com</a></p>
         
         
        A list of London Underground stations with Euro and Pound dispensing cash points is available from the TfL Press Office<br />
         
        <p><a href="http://www.ons.gov.uk/ons/rel/ott/travel-trends/2013/sty.html"></a></p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Euros on the Tube -->

 
 
        
        
            @{ViewBag.Description = "Euros on the Tube";}
        
        


 