


@{ViewBag.Title = "First British built electric buses enter service";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First British built electric buses enter service</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First British built electric buses enter service</h1>
        <div class="content-page-press-release">
        30 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor officially welcomes the first British built, pure electric buses to enter service on London's roads
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>The four buses, in service on route H98, deliver
            significant air quality benefits due to zero tail pipe emissions</li>
            <li>Lower running and maintenance costs compared to a diesel
            single deck bus</li>
            <li>Continuing commitment to trial emission free transport in
            the capital
            &nbsp;
            </li>
        </ul>
        <p>The Mayor of London
        officially welcomed the introduction of four British built, pure electric buses
        yesterday evening (29 July) at an air quality event at The Mansion House.
        &nbsp;
        </p>
        <p>The four Optare MetroCity
        single deck buses are currently being trialled on route H98, which operates
        between Hayes and Hounslow. </p>
        <p>They are manufactured by Optare, part of the
        Hinduja Group, a British bus manufacturer based in Sherburn in Elmet, North
        Yorkshire, and are part funded from the Department of Transport's (DfT) Green
        Bus Fund.&nbsp; </p>
        <p>The buses demonstrate Transport for London's (TfL) continuing
        commitment to trialling new emission free technology in the capital.
        &nbsp;
        </p>
        <p>The introduction of the four
        pure electric Optare MetroCity buses is the first step of the Mayor's plan for
        all single deck buses in central London to be zero emission at tailpipe, as
        part of the world's first Ultra Low Emission Zone, from 2020. This brings the
        total number of electric buses now in service in London to six. The first two
        electric buses in London have been operating on routes 507 and 521 since last
        December. A further two are expected to enter service later this year.
        &nbsp;
        Passengers will notice that
        pure electric buses offer much lower noise and vibration levels compared to
        diesel vehicles, with TfL benefiting from lower maintenance and running
        costs.&nbsp; </p>
        <p>These buses have zero tail pipe emissions, resulting in lower
        carbon emissions and improved air quality.&nbsp; The trials will help TfL
        develop plans for greater use of electric buses in central London in the
        future, contributing to the Mayor's vision of a central London Ultra Low
        Emission Zone.
        &nbsp;
        </p>
        <p>Mike Weston, TfL's Director
        of Buses, said: &quot;The introduction of these new pure electric vehicles is part
        of our continuing assessment of the technology, to ensure it can handle the
        capital's challenging operational environment.&nbsp; We will be closely
        monitoring the results of the trials, which may help us adopt this new clean
        technology more widely in London.&quot;
        &nbsp;
        </p>
        <p>Mr. Gopichand Hinduja,
        Co-Chairman of the Hinduja Group, said: &quot;Optare's MetroCity
        electric vehicle is a prime example of the UK's manufacturing excellence,
        technology and innovation coming together to provide a zero emissions solution
        to improve air quality in London. &nbsp;We look forward to seeing more of these
        vehicles operating in London and cities across the UK and Europe in the future.
        Optare is crucial to Hinduja Group's flagship company, Ashok Leyland's future
        global strategy: It is the hub for the company's expansion in Europe and
        Worldwide.&quot;
        &nbsp;
        </p>
        <p>These electric bus trials
        will be used to establish whether the technology can stand up to the rigours of
        operating in an intense urban environment such as London.&nbsp; The
        manufacturer's tests demonstrated that while the initial capital cost of these
        vehicles was more than that of standard diesel, the significantly lower running
        and maintenance costs would offset this within the typical lifetime of the
        vehicle.&nbsp; </p>
        <p>The buses take around five hours to fully charge overnight, or
        two hours using fast charge technology and have a range of up to 100 miles
        depending on operating conditions.
        &nbsp;
        </p>
        <p>The electric bus trial is
        one of the many measures the Mayor has introduced to make London's bus fleet
        more environmentally friendly, including the operation of zero emission
        hydrogen buses on Route RV1 between Covent Garden and Tower Gateway and
        delivering Europe's largest hybrid bus fleet.&nbsp; Around eight hundred hybrid
        buses now operate on the capital's roads, including the New Routemasters, with
        more being introduced in a rolling programme.&nbsp; </p>
        <p>By 2016 there will be more
        than 1,700 hybrid buses in service on London's streets representing 20 per cent
        of the total bus fleet.&nbsp; </p>
        <p>TfL has also recently
        completed an extensive retrofit programme over 1,000 older buses which involves
        fitting them with an&nbsp;innovative system called Selective Catalytic
        Reduction (SCR), reducing emissions of harmful oxides of nitrogen (NOx)
        by&nbsp;up to&nbsp;88 per cent.&nbsp;
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>Optare Plc is a bus manufacturer based in
            Sherburn in Elmet, North Yorkshire.&nbsp; Its parent company Ashok Leyland,
            part of the Hinduja Group, is ranked within the top five global bus
            manufacturers. Optare designs, manufactures and sells advanced single deck and
            double deck buses for a global market place</li>
            <li>Route H98 is operated by London United and
            runs between Hayes and Hounslow</li>
            <li>The Department of Transport's (DfT) Green Bus
            Fund was set up to support bus companies and local authorities to introduce low
            carbon vehicles that will have a positive effect on the environment.&nbsp; The
            money from the Green Bus Fund is used to supplement existing budget and enables
            companies and local authorities to purchase greener vehicles in place of
            standard diesel vehicles</li>
            <li>More electric buses are anticipated to follow
            as London is engaged in a partnership funding bid with seven other cities in
            Europe to trial a range of pure electric and hybrid vehicle technologies and
            charging techniques</li>
            <li>These electric buses are fitted with a small
            diesel fuelled heater that will be used to heat the interior of the buses in
            the winter months.&nbsp; This will produce a limited amount of emissions and is
            currently more efficient than using some of the battery capacity to heat the
            vehicle vehicles</li>
            <li>Photographs are available here: <a href="https://www.flickr.com/photos/tflpress/sets/72157645628624247/">https://www.flickr.com/photos/tflpress/sets/72157645628624247/</a></li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-First British built electric buses enter service -->

 
 
        
        
            @{ViewBag.Description = "Mayor officially welcomes the first British built, pure electric buses to enter service on London’s roads";}
        
        


 