


@{ViewBag.Title = "Free Barclays Cycle Hire Weekend";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Free Barclays Cycle Hire Weekend</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Free Barclays Cycle Hire Weekend</h1>
        <div class="content-page-press-release">
        31 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Free Barclays Cycle Hire on 16 and 17 August to celebrate fourth anniversary 
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Londoners and visitors
            can enjoy a free weekend of cycling to celebrate Barclays Cycle Hire's
            fourth anniversary </li>
            <li>July set to break
            previous record for number of hires, with over 1.17m hires</li>
            <li>Scheme now covers over
            100km&sup2; of London
            &nbsp;
            &nbsp;
            </li>
        </ul>
        <p>
        Barclays
        Cycle Hire is celebrating four successful years this week by giving Londoners
        and visitors free access to cycle hire bikes across London on Saturday 16 and
        Sunday 17 August.&nbsp; </p>
        <p>The cycle hire scheme was launched on 30 July 2010 and
        since then over 32 million journeys have been made on cycle hire bikes.
        &nbsp;
        </p>
        <p>Over the
        weekend of 16 and 17 August, anyone will be able to saddle up on a Barclays
        Cycle Hire bike for a 24-hour period, and as long as the trips are under half
        an hour they can make as many rides as they wish, all for free.&nbsp;
        &nbsp;</p>
        <p>
        The Mayor
        of London, Boris Johnson, said: &quot;In my experience there is no greater way to
        enjoy London than on two wheels and to celebrate our fantastic cycle hire
        scheme's fourth birthday, we are offering everyone the chance to cycle around
        our beautiful city for free. Whether you are an avid enthusiast or a cycling
        novice, you'll be able to hop on a bike and take in some of our capital's most
        iconic sights.&quot;
        &nbsp;
        </p>
        <p>Barclays
        Cycle Hire has become an integral part of travelling around London and the
        number of users, both new and regular, continues to grow. This July is set to
        beat the previous record, set during the Olympic Games in 2012, for the number
        of hires in a month with over 1.17m hires. Between March and June this year,
        there was also a 30 per cent increase in the number of cycle hire trips
        compared to the same period last year.</p>
        <p>The
        scheme now covers over 100km&sup2; of London and more than 90 London Underground
        stations (including the entire Circle line) and a number of major rail stations
        such as Clapham Junction, Liverpool Street, Paddington and Putney are now all
        within a short walk of a docking station, enabling more people to make cycling
        part of their daily commute.
        &nbsp;
        </p>
        <p>To encourage
        more people to take up cycling, and to help build confidence on two wheels,
        British Cycling and Transport for London have teamed up to offer free group
        rides. One ride will take place in Hyde Park on Saturday 16 August and a women
        only bike ride to help encourage women to start cycling, will be held in
        Regent's Park on Sunday 17 August.
        &nbsp;
        Each
        group ride, which will take around 40 minutes to cover four and a half miles,
        will be led by a trained British Cycling Ride leader along scenic, planned
        routes. Bikes will be provided by TfL and there will be no charge.
        &nbsp;
        </p>
        <p>
        Nick
        Aldworth, General Manager for Barclays Cycle Hire at TfL, said: &quot;We've had a
        fantastic four years on Barclays Cycle Hire, with the distinctive bikes now
        firmly part of daily life in London.&nbsp; We're set to break our previous
        record for the number of hires this month, with over 1,170,000 hires.
        &nbsp;
        &quot;If you
        haven't tried the bikes before, you can give them a go for free during the
        weekend of Saturday 16 and Sunday 17 August. Riding with others can be fun so
        we've also teamed up with British Cycling to offer guided group rides in two
        lovely central London parks.&nbsp;
        &nbsp;
        &quot;From
        Notting Hill to Canary Wharf and Camden to Clapham Junction, people are
        discovering how pleasant and handy it is to hop on our bikes to get around
        town. So come and celebrate this special anniversary with us, and get pedalling.&quot;
        &nbsp;
        </p>
        <p>The Cycle
        Hire scheme has seen many exciting developments over the last four years,
        expanding to east London in 2012 and to south and west London last year. Three
        new docking stations opened on Monday 28 July in Clapham Junction, Battersea &#45;
        handy for commuting or to access popular cycle routes on Wandsworth and Clapham
        Commons.
        &nbsp;
        </p>
        <p>To help
        Barclays Cycle Hire users discover London during the summer, TfL has created a
        number of self-guided leisure cycle routes, many of which are on quieter roads.
        Popular routes include London's Secret Gardens, Saturday Markets, Independent
        Shops and Markets, and Quirky London.&nbsp; The newest route, called Sporting
        Sights, takes in famous sporting venues such as Stamford Bridge, Chelsea's
        football ground, and the Kia Oval cricket ground.
        &nbsp;
        </p>
        <p>Cycle
        hire users can pick up a free copy of the &quot;Explore London with Barclays Cycle
        Hire&quot; map, which contains the above leisure routes, at central London Tube
        stations, London Overground stations or by visiting www.tfl.gov.uk/leisureroutes
        &nbsp;
        Barclays Cycle Hire is easy
        to use. Users can simply use a credit or debit card to hire a bike with no need
        to book and from as little as &pound;2 for 24 hours can make an unlimited number of
        journeys under 30 minutes each time. Regular users can register for annual
        membership, which equates to 25p per day and get the same unlimited number of
        journeys under 30 minutes each without paying anything more. Alternatively,
        they can register as a Pay as You Pedal member, which provides users with a
        membership key for quick access to the bikes and a pay as you go facility</p>
        <p>
        </p>
         
        <hr />
         
        <ul>
            <li>To help inspire people
            to try out the scheme TfL has produced a short film to mark Barclays Cycle
            Hire's fourth anniversary. Visit:&nbsp; http://bit.ly/WOyXLb </li>
            <li>To get the free cycle
            hire on August 16 and 17 users must use their bank card rather than a
            membership key to access a bike. Riders must be 14 years or older. There
            are charges for journey of 30 minutes or longer. For more information go
            to www.tfl.gov.uk/free-barclays-cycle-hire;</li>
            <li>Places on the group
            rides are limited and all participants must register in advance at British
            Cycling's recreational cycling site: Goskyride.com/London&nbsp; The
            Sporting Sights cycling route was created by British Cycling, the other
            routes in the new map were supplied by the London Cycle Blog;</li>
            <li>There are currently more
            than 10,000 Barclays Cycle Hire bikes across London with over 19,000
            docking points available. The scheme, which is already the second largest
            cycle hire system in Europe, remains an affordable and enjoyable way to
            travel around London.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Free Barclays Cycle Hire Weekend -->

 
 
        
        
            @{ViewBag.Description = "Free Barclays Cycle Hire on 16 and 17 August to celebrate fourth anniversary ";}
        
        


 