


@{ViewBag.Title = "Get your office onto two wheels with the launch of the Workplace Cycle Challenge";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Get your office onto two wheels with the launch of the Workplace Cycle Challenge</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Get your office onto two wheels with the launch of the Workplace Cycle Challenge</h1>
        <div class="content-page-press-release">
        14 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>The
            Workplace Cycle Challenge pits London businesses against each other to get the
            most staff riding in the lead up to August's Prudential RideLondon </li>
            <li>New
            mobile app to log cycle rides, get cycling tips and discover new routes </li>
            <li>Take
            part to be in with a chance to win some fantastic prizes including VIP access
            to the Prudential RideLondon finish, an item of signed Team GB cycling kit and
            cycling accessories</li>
        </ul>
        <p>Riding
        on the success of the Tour de France's return to London, and with Prudential
        RideLondon on the horizon on 9 and 10 August, Transport for London (TfL) has
        launched the next stage of its London Cycle Challenge to get businesses in the
        saddle.
        &nbsp;
        </p>
        <p>
        Focusing
        on participation, the Workplace Cycle Challenge runs until 1 August and looks
        to see which London businesses can get the most people to ride a bike for 10
        minutes or more. </p>
        <p>The challenge is not about who can cycle the most miles, but
        who can encourage the most people to get pedalling. </p>
        <p>Organisations and
        departments will compete against those of a similar size for a fair chance of
        winning - acting as a great warm-up for the Prudential RideLondon festival of
        cycling on Saturday 9 and Sunday 10 August.
        &nbsp;
        </p>
        <p>There
        is also a new mobile app to make it easier to record rides, set targets, and
        encourage friends and family to give cycling a go. </p>
        <p>The app, which is free to
        download and available on Apple iOS and Android, allows users to log your ride
        automatically using GPS.
        &nbsp;
        The fantastic prizes up for
        grabs include access to the Prudential RideLondon finish area, an item of
        signed Team GB cycling kit, cycling accessories and baked goodies for you and
        your colleagues. To be in with a chance of winning, simply get as many people
        as you can to register and ride a bike for ten minutes or more.
        &nbsp;
        </p>
        <p>
        Chris
        Mather, Head of Business Engagement at TfL, said: &quot;The Workplace Cycle
        Challenge is a great opportunity to show how simple and fun cycling can be.
        With more than a million spectators witnessing the Tour de France Stage 3
        finishing in London last week, the annual Prudential RideLondon weekend fast
        approaching in August and the Tour of Britain in September, interest in cycling
        in the capital has never been higher. The challenge will give everyone working
        in London all the incentive they need to take to two wheels.
        &nbsp;
        &quot;It's
        aimed at all levels, from those who don't own a bike, to those who regularly
        cycle to work. There really is something in it for everyone with some great
        prizes on offer. Whether this will be your first time on a bike for a long
        time, or you are a seasoned commuter cyclist, the emphasis is simply on giving
        cycling a try.&quot;&nbsp;
        </p>
        <p>People
        wishing to take part in the challenge who don't have a bike can use Barclays
        Cycle Hire. In just three easy steps, users can hire, ride and return a bike at
        any available docking station.
        &nbsp;
        After the Workplace
        Challenge there will be the final challenge, the Goal Setting Challenge &#45;
        helping to keep Londoners in the saddle all summer. Registration is open and
        it's free to participate. For more information, go to tfl.gov.uk/cyclechallenge.</p>
         
        <hr />
        Sign
        up for the Workplace Cycle Challenge at tfl.gov.uk/cyclechallenge
         
        <p>Download
        the app, Love to Ride, from the following links</p>
        <ul>
            <li>Google Play Store: https://play.google.com/store/apps/details?id=com.challengeforchange.lovetoride&amp;hl=en</li>
            <li>Apple App Store: https://itunes.apple.com/gb/app/love-to-ride/id656668092?mt=8</li>
        </ul>
        <ul>
            <li>The
            London Cycle Challenge focuses on participation, rather than miles cycled. There are six size categories of business in the Workplace Cycle Challenge to
            level the playing field. From businesses of six and under, to those with more
            than 500 members of staff</li>
            <li>Prudential
            RideLondon, the world class festival of cycling, on 9 and 10 August is the next
            high point of this spectacular summer of cycling in London, following the
            amazing visit of the Tour de France to the capital, and finally the Tour of
            Britain, which finishes in the capital on 14 September</li>
            <li>Roads
            and bridges will be affected across London and Surrey. For more information
            about Prudential RideLondon and to plan your travel options, go to tfl.gov.uk/prudentialridelondon
            or prudentialridelondon.co.uk</li>
            <li>This
            summer's cycling events are likely to inspire thousands more Londoners to take
            to two wheels, building on the Mayor's ambition for cycling to be an integral
            part of the transport network. As part of his cycling vision, the Mayor is
            already engaging in a vast &pound;1billion programme of improvements&nbsp; - creating
            a series of enhanced cycling superhighways, urban 'quietways' for more cautious
            cyclists, and turning some outer boroughs into mini-Holland</li>
            <li>For
            more information on the Mayor's Vision for Cycling visit http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling
            &nbsp;
            </li>
        </ul>
        <p>The Mayor is committed to ensuring London
        retains its status as the world capital of sport, and has recently set up the
        Major Events Oversight Board. The board is chaired by Sir Edward Lister, and
        comprises of TfL, the emergency services and other key partner agencies. It
        provides strategic direction and advice to the Mayor on the approach to
        bidding, staging and evaluating major events in London. The board ensures that
        all major road events continue to be carefully considered and tightly managed
        to ensure everyone gets full benefit from the event without undue impact on
        Londoners and London's transport. The board also looks at ways to ensure the
        major events programme is effectively communicated with Londoners, visitors,
        businesses and stakeholders to allow sufficient notice and forward planning for
        everyone
        </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Get your office onto two wheels with the launch of the Workplace Cycle Challenge -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 