


@{ViewBag.Title = "Le Tour a success in London as a million spectators line the route for Stage 3";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Le Tour a success in London as a million spectators line the route for Stage 3</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Le Tour a success in London as a million spectators line the route for Stage 3</h1>
        <div class="content-page-press-release">
        07 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We join in with all cycling fans to wish the riders the best of luck as they take on the rest of the Tour and we look forward to welcoming it back again with another unforgettable Grand D&eacute;part as soon as we can!"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Third
            stage of the Tour de France finished with a sprint on The Mall this afternoon</li>
            <li>Estimated
            1 million spectators lined the route across Stage 3</li>
            <li>Trafalgar
            Square, Green Park and Queen Elizabeth Olympic Park Spectator Hubs popular</li>
            <li>75
            percent of roads are now open with all remaining roads along the route to be
            reopened by early evening</li>
            <li>Tube stations along the route were busy with numbers
            up 16
            percent but demand managed without incident</li>
            <li>Initial reports indicate that road traffic in central
            London was 15-20 per cent lower than a typical Monday
            &nbsp;
            </li>
        </ul>
        <p>London successfully hosted the finale
        of the third stage of the Tour de France today, as the race swept from
        Cambridge into Essex and through east and central London before a spectacular
        sprint finish on The Mall. Crowds of around 1 million lined the route to see
        some of the greatest names in cycling fight it out for the famous Yellow
        Jersey.
        &nbsp;
        </p>
        <p>Today was the second time the capital
        has hosted a leg of the Tour de France &#45; the world's largest annual sporting
        event &#45; to inspire more people to take up cycling. Londoners and visitors got
        into the spirit of the Tour by watching the action from the roadside as well as
        visiting the official Fan Parks in Green Park and Trafalgar Square and the
        spectator hub in Queen Elizabeth Olympic Park.&nbsp; The action was shown on
        giant screens and other cycling related activities were free for all to enjoy.
        &nbsp;
        </p>
        <p>Despite cutting through some of the
        busiest areas of London, the impact of the road closures through north, east
        and central London for the race has been minimal, largely due to the extensive
        programme of public engagement and communication that Transport for London
        (TfL) has carried out to ensure people living and working in the capital could
        avoid unnecessary inconvenience. Road closures in place from 10.00hrs have been
        removed where possible throughout the afternoon and are due to be completely
        lifted by 18.00hrs, or once it is safe to do so.
        &nbsp;
        </p>
        <p>London Underground stations along the
        route have seen an increase of 16 percent on a normal Monday but services have
        run reliably with no incidents. Hundreds of volunteers have been out and about
        particularly at major transport hubs throughout the day and magenta-coloured
        signage, remembered for its iconic role in helping keep London moving during
        the London 2012 Games, has also been deployed again to keep to help guide
        crowds to the best views of the Tour de France riders.
        &nbsp;
        </p>
        <p>London's Transport Commissioner, Sir
        Peter Hendy CBE, said: &quot;We've had a fantastic day celebrating cycling in
        London, with excited spectators out on the roadsides seeing some of the
        greatest names in cycling fight it out for the famous Yellow Jersey. The months
        of planning we've done has meant the whole day has run smoothly and
        demonstrates our ability to hold world-class events. We join in with all
        cycling fans to wish the riders the best of luck as they take on the rest of
        the Tour and we look forward to welcoming it back again with another
        unforgettable Grand D&eacute;part as soon as we can!&quot;
        &nbsp;
        </p>
        <p>The Tour de France passing through
        London kicks off a spectacular summer of cycling, with the Prudential
        RideLondon on the 9 and 10 August, and then the Tour of Britain, which finishes
        in the capital on 14 September.
        &nbsp;
        Hosting world renowned events such as
        the Tour de France reinforces London's reputation as a world-class host of
        cultural, sporting and business events. Visitors, both domestic and overseas,
        are brought to the capital by major events, delivering direct and indirect
        economic benefits, and showcasing London to a much wider audience.
        &nbsp;
        </p>
        <p>
        </p>
        <ul>
            <li><hr />
            Leaflet
            drops to residents and businesses along the route, engagement with local
            boroughs and businesses as well as public information sessions have helped to
            ensure that everyone who wants to have been able to enjoy the event and plan
            their journeys to continue to get around the city</li>
            <li>In
            preparation for the Tour de France's return to the capital, a range of activity
            took place to encourage people to come and see the world's greatest cycle race.
            101 Barclays Cycle Hire bikes were wrapped yellow to celebrate the return of
            the Tour and a number of iconic London landmarks such as the BT Tower and
            Marble Arch were lit up yellow. Two special edition train carriages on the
            Docklands Light Railways (DLR) were also wrapped, one in yellow and one in
            green, to celebrate the tour whizzing through east London</li>
            <li>Up
            to date information on how transport services are operating have helped
            Londoners to check before they travel at tfl.gov.uk and &#64;TfLTravelAlerts (Tube,
            DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (buses)</li>
            <li>The
            Tour de France is the world's largest annual sporting event and covers approximately
            3,500kms. A worldwide television audience of 3.5billion people watch the event
            annually. There will be 190 countries broadcasting the Tour de France and there
            are 5,000 hours of TV coverage annually. The last time the Tour visited England
            was in 2007 when London hosted the Grand D&eacute;part, which is the opening of the
            race</li>
            <li>This
            summer's cycling events are likely to inspire thousands more Londoners to take
            to two wheels, building on the Mayor's ambition for cycling to be an integral
            part of the transport network. As part of his cycling vision, the mayor is
            already engaging in a vast &pound;1billion programme of improvements &#45; creating a
            series of enhanced cycling superhighways, urban 'quietways' for more cautious
            cyclists, and turning some out boroughs into mini-Hollands</li>
            <li>For
            more information on the Mayor's Vision for Cycling visit http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling</li>
            <li>Spectators
            were able to watch the elite cycling action at the official Tour de France Fan
            Park sites at Green Park and Trafalgar Square and Spectator Hub at Queen
            Elizabeth Olympic Park. The Spectator Hub sites featured a wide range of
            different activities such as live Tour de France racing on the big screen, a
            food market, live music, celebrity appearances and shops showcasing all of the
            latest bike equipment and accessories as well as refreshments</li>
            <li>The
            Mayor is committed to ensuring London retains its status as the world capital
            of sport, and has set up the Mayor Events Oversight Board. The board is chaired
            by Sir Edward Lister, and comprises of TfL, the emergency services and other
            key partner agencies. It provides strategic direction and advice to the Mayor
            on the approach to bidding, staging and evaluating major events in London. The
            board ensures that all major road events continue to be carefully considered
            and tightly managed to ensure everyone gets full benefit from the event without
            undue impact on Londoners and London's transport. The board also looks at ways
            to ensure the major events programme is effectively communicated with
            Londoners, visitors, businesses and stakeholders to allow sufficient notice and
            forward planning for everyone</li>
            <li>Events like these appeal to Londoners, bring in
            domestic and overseas visitors and, through media coverage, showcase London to
            a much wider audience across the world. They deliver direct and indirect
            economic benefits. Prudential RideLondon 2013 delivered &pound;13m spend in its first
            year.
            /</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Le Tour a success in London as a million spectators line the route for Stage 3 -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 