


@{ViewBag.Title = "Lifetime achievement award for TfL planner Mich&egrave;le Dix ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Lifetime achievement award for TfL planner Michèle Dix </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Lifetime achievement award for TfL planner Michèle Dix </h1>
        <div class="content-page-press-release">
        03 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <br />
        <ul>
            <li>Award presented at Transport Practitioners Meeting
            &nbsp;
            </li>
        </ul>
        <p>Mich&egrave;le Dix, Transport for
        London's Managing Director of Planning, has been presented with a lifetime
        achievement award recognising her outstanding contribution to transport planning
        in the capital.
        &nbsp;
        </p>
        <p>The award was presented by
        Daniel Parker-Klein, Director PTRC Education &amp;
        Research Services Ltd, at the 12th PRTC conference at the Emirates
        Stadium last night.&nbsp; </p>
        <p>The award is presented to leading figures in
        the transport world recognising their long term commitment and contribution to
        the transport planning profession. </p>
        <p>Previous winners have included David Quarmby, Malcolm Buchannan and Professor Peter Jones.
        &nbsp;
        </p>
        <p>Mich&egrave;le Dix, said: &quot;It is an
        honour to receive this award and it is rather apt to receive it this year when
        TfL is celebrating 100 years of women working in transport. There are many
        things in my career I am proud of but several stand out; implementing the
        Congestion Charge, developing the Mayor's Transport Strategy and the work I am
        doing on the Roads Task Force to ensure the road network is fit for the 21st
        century. The cable car in east London was also a great achievement having been
        conceived, built and delivered all within two years.&nbsp; This pedestrian and
        cyclist crossing is instrumental to the area's regeneration and will be
        complemented by the Silvertown Tunnel and further crossings to support growth
        in the area.
        &nbsp;
        &quot;With London's population
        set to grow to 10 million by 2030 my team and I will continue to ensure that
        the city's transport needs are met and to support social and economic growth.&quot;
        &nbsp;
        </p>
        <p>Sir Peter Hendy CBE,
        London's Transport Commissioner said: &quot;Mich&egrave;le is a fantastic transport
        planner, I would argue the best in Britain!&nbsp; She has been involved in
        introducing many successful schemes in the capital and her contribution to
        developing our city has been immeasurable.&nbsp; As London continues to grow,
        she plays an essential role in planning for the future while we continue to
        improve services.&nbsp; She thoroughly deserves this lifetime achievement
        award.
        &nbsp;
        &quot;I'm also really pleased
        that Kerri Rogan, Head of Corporate Affairs, has been recognised at this event
        for her excellent, ground-breaking paper on cycling and gender differences.&quot;
        &nbsp;
        </p>
        <p>
        Kerri Rogan, TfL's Head of
        Corporate Affairs, also won an award last night. She was awarded the 2013
        Voorhees Large prize for her Transport Masters dissertation 'A mixed method
        study of gender differences in pedal cyclists' risks in London'. Kerri started her career as a transport planner on TfL's graduate scheme,
        and has worked in a variety of roles at TfL, including the planning and
        operational delivery of the 2012 Olympic Games, designing and delivering
        schemes for cycling and urban realm in London and, outside of TfL, advising the
        Senior Traffic Commissioner of Great Britain.
        &nbsp;
        </p>
        <p>Mich&egrave;le has been the
        Managing Director of Planning at TfL since June 2007, taking the role as a job
        share with Malcolm Murray-Clark, demonstrating such a high level role could be
        done as a job share. Prior to that, she was co-Director of Congestion Charging
        with Malcolm implementing running and expanding the scheme as well as
        developing the Low Emission Zone. Her role has seen her work across all areas
        of transport in the capital from designing bus lanes, pedestrian modelling at
        London Underground stations and developing strategies for airports. She also
        shares her knowledge and experience globally, working with the international
        transport body the UITP.
        &nbsp;
        </p>
        <p>Daniel
        Parker-Klein, Director PTRC Education &amp; Research Services Ltd said: &quot;It is
        an honour to present Michele Dix with the 2014 PTRC lifetime achievement award.
        Throughout her career Michele has demonstrated a drive and dedication to
        improve transport in London and beyond culminating in the successes of the
        London Congestion Charge and the more recent Roads Task Force. I cannot think
        of a more fitting figure on the 100th anniversary of women working
        in transport to receive this prestigious award.&quot;
        &nbsp;
        </p>
        <p>Mich&egrave;le started her career
        at the Greater London Council (GLC) after completing her PhD in transport and
        land use planning. She became a chartered civil engineer through the GLC's
        transport planning graduate scheme. Mich&egrave;le later joined Halcrow Fox in the
        private sector, where she became the Board Director of Urban Transport Planning
        before joining TfL in 2000.
        &nbsp;
        </p>
        <p>2014 marks 100 years of women working in transport with women taking
        on roles in the First World War and being involved in building landmarks such
        as Waterloo Bridge, often dubbed the 'Ladies Bridge' which opened in December
        1945.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Lifetime achievement award for TfL planner Michèle Dix  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 