


@{ViewBag.Title = "London's buses go cash free from this Sunday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London’s buses go cash free from this Sunday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London’s buses go cash free from this Sunday</h1>
        <div class="content-page-press-release">
        01 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Sunday 6 July passengers boarding buses need to be in possession of a prepaid or concessionary ticket, Oyster or contactless payment card.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The way our customers pay for goods and services is evolving, so we need to ensure our ticketing evolves too.  Removing cash from our bus network not only offers customers a quicker and more efficient bus service but it enables us to make savings of &pound;24m a year which will be re-invested to further improve London's transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Director of Buses, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Around 44,000 customers a day already benefitting from Oyster 'One More Journey' </li>
            <li>Refreshed vulnerable passenger guidance delivered to all 24,500 bus drivers</li>
        </ul>
        <p>London buses will stop accepting cash fares from Sunday 6 July, as Transport for London (TfL) moves to a cash free bus network across the capital.</p>
        <p>This means that all passengers boarding a bus in London will need to be in possession of a prepaid or concessionary ticket, Oyster card or contactless payment card. </p>
        <p>This will have no impact on the vast majority of our passengers as over 99 per cent already pay for their journeys with Oyster, or using a prepaid or concessionary ticket.&nbsp; </p>
        <p>Concessionary tickets are used by one third of customers including children and young people, older and disabled people and the unemployed.&nbsp; </p>
        <p>Our research shows this change is also unlikely to affect tourists as the vast majority use a prepaid ticket, such as a Visitor Oyster, to get around the capital.</p>
        <p>TfL has introduced a number of initiatives to ensure a smooth and trouble free transition for customers to a cash free bus service. </p>
        <p>This includes Oyster 'One More Journey' which was introduced one month early following a successful trial.&nbsp; </p>
        <p>This feature allows customers to make one more journey should they have insufficient pay as you go credit on their Oyster card. </p>
        <p>Since its introduction in June, around 44,000 customers a day have benefited from this feature, ensuring they can get home or to the nearest Oyster Ticket Stop to top up.&nbsp; </p>
        <p>Of those customers, over 80 per cent have topped up their Oyster card before making a further journey.&nbsp; </p>
        <p>As a result of this, cash fares have dropped and are now only used to pay for around 0.7 per cent of all journeys on London buses.</p>
        <p>Other initiatives include giving refreshed guidance on vulnerable passengers to all of London's 24,500 bus drivers and a review of the Oyster Ticket Stops which has seen the network expand. </p>
        <p>Mike Weston, TfL's Director of Buses, said: </p>
        <p>'The way our customers pay for goods and services is evolving, so we need to ensure our ticketing evolves too.&nbsp; Removing cash from our bus network not only offers customers a quicker and more efficient bus service but it enables us to make savings of &pound;24m a year which will be re-invested to further improve London's transport network.'</p>
        <p>The decision to move to cash free bus travel follows a considerable drop in the number of people paying their bus fare in cash.&nbsp; </p>
        <p>A decade ago around 25 per cent of journeys were paid for with a cash fare with that figure now falling to less than one per cent. </p>
         
        <hr />
         
        <p>Notes to editors:</p>
        <ul>
            <li>The public consultation on proposals to withdraw cash fare payments on London buses ran from 19 August until 11 October 2013 and attracted over 37,000 responses. The consultation report can be viewed at: <a href="https://consultations.tfl.gov.uk/buses/cashless">https://consultations.tfl.gov.uk/buses/cashless</a></li>
            <li>To ensure the correct card is charged for the journey, customers should ensure they present their Oyster or contactless payment card separately when touching in.&nbsp; Any customer with queries about the fare they have been charged should contact our Customer Services team on 0343 222 1234 or <a href="mailto:oysterenquiries&#64;tfl.gov.uk">oysterenquiries&#64;tfl.gov.uk</a>. </li>
            <li>It costs &pound;24 million a year to accept cash on London's buses.&nbsp; The removal of cash fares will deliver &pound;130m savings to 2022/23 and this will be reinvested in improving transport in the capital.</li>
            <li>Cash fares will not be accepted on London buses from 04:30 on Sunday 6 July 2014, the start of TfL's next fare charging period. </li>
            <li>Visitors planning a trip to London can save time and money by buying a Visitor Oyster Card before they leave home. The card saves visitors time when they first arrive in the Capital and now includes an exclusive range of discounts and offers at over 25 leading London restaurants, shops and entertainment venues including Liberty, Fortnum &amp; Mason, the V&amp;A Museum and Guanabara. The card costs &pound;3 plus postage. Find out more: <a href="http://visitorshop.tfl.gov.uk/home.html ">http://visitorshop.tfl.gov.uk/home.html</a> </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-London’s buses go cash free from this Sunday -->

 
 
        
        
            @{ViewBag.Description = "London’s buses go cash free from this Sunday";}
        
        


 