


@{ViewBag.Title = "London holds inaugural Car Club event";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London holds inaugural Car Club event</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London holds inaugural Car Club event</h1>
        <div class="content-page-press-release">
        10 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Meeting brings boroughs and Car Club industry together to help encourage further growth in London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The success of car clubs in London has shown how these clubs can offer people more choice about how they travel"</div>
        <div class="quote-footer">
            <div class="quotee-name">Baroness Kramer</div>
            <div class="quotee-job-title">Transport Minister</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Detailed best practice guidance published to help encourage all boroughs to adopt &quot;car lite&quot; plansStakeholders from across London and the Car Club industry have been brought together to London's City Hall to discuss how London can continue to grow the number of car club members in London.</li>
        </ul>
        <p>The event builds on the incredible growth of Car Clubs in London in recent years, with 86 per cent of the UK's 164,000 car club members now in London. &nbsp;</p>
        <p>London is already the leading car sharing city in Europe but now wants to lead the way in developing and promoting car clubs to set an example for all other global cities to follow. </p>
        <p>Encouraging further use of Car Clubs was a key recommendation from the Mayor's Roads Task Force, which was set up in July 2012, to help deliver a template for world-class streets and roads fit for the future.</p>
        <p>London's roads are already under pressure, and maintaining a highly functioning road network is central to ensure it retains its position as a world renowned economic capital. </p>
        <p>With the population forecast to grow by 14 per cent, potentially bringing thousands more cars on the road in the next decade, Car Clubs are a part of the solution to this challenge.</p>
        <p>Previous research carried out by CarPlus earlier this year showed that every Car Club car effectively removes around 17 privately owned cars from the streets.&nbsp; </p>
        <p>Car Club members also tend not to commute by car or drive so much during rush hour, helping them save on average &pound;3,000 per year.&nbsp; </p>
        <p>Therefore, by encouraging more boroughs to include Car Clubs into their transport planning, boroughs can help reduce the number of short car journeys, reducing congestion and vehicular emissions from their roads.</p>
        <p>To help expand the number of car clubs further across London, boroughs who already have successful car clubs have published new best practice guidance to help other London boroughs. </p>
        <p>The best practice guidance covers a range of ways in which boroughs can further encourage Car Club use, including:</p>
        <ul>
            <li>Using new build and refurbishments as an opportunity for installing more car club bays;</li>
            <li>Installing more bays that are in locations that are more visible and easily accessible to residents and local businesses;</li>
            <li>Promoting car clubs in their local boroughs in partnership with operators to enable greater take up.</li>
        </ul>
        <p>Forecasts from the Car Club industry suggest that, with sustained investment by all stakeholders, including the Car Club industry, London could see up to 1 million car club members by 2020.</p>
        <p>Transport Minister Baroness Kramer said: </p>
        <p>'Car Clubs can help reduce congestion and carbon emissions through less private car ownership, whilst still giving people the freedom and flexibility to use a car when they need it. The success of car clubs in London has shown how these clubs can offer people more choice about how they travel.'</p>
        <p>Mayor of London, Boris Johnson, said: </p>
        <p>'London has one of the biggest Car Club markets in the world and the potential for further growth is huge. Our Roads Task Force is fully supportive of this forward-thinking industry, one which offers massive benefits in terms of reducing congestion, improving air quality and reducing competition in the battle for kerbside parking. </p>
        <p>'We know that just one car club vehicle can reduce up to 17 privately owned cars, and that car club users tend to make smarter travel choices such as cycling, walking and public transport. This is a really exciting time for the Car Clubs industry in London and I urge all London boroughs to get on board and support its development.'</p>
        <p>Leon Daniels, Managing Director of Surface Transport at TfL, said, </p>
        <p>'The use of Car Clubs in London has grown massively in recent years and we continue to support car clubs across London as a way to help reduce congestion. I myself am a regular user and welcome this positive action to further encourage use across the capital.'</p>
        <p>Nick Lester, Corporate Director, Services, London Councils, said </p>
        <p>'The success of Car Clubs in many London boroughs shows how effectively they can meet Londoners' transport needs, and reflects the partnership work of councils and car club operators. We hope boroughs will be inspired by the best practice framework launched today to position Car Clubs as an integral part of their transport infrastructure for the future.'</p>
        <p>Mark Walker, General Manager, Zipcar UK, said </p>
        <p>'Zipcar has long seen the potential for car clubs in London and has played a major part in establishing the strong membership base that already exists today.&nbsp; For maximum positive impact on making London more liveable, Car Club use needs to be mainstream.&nbsp; To achieve this will require all the relevant bodies &#45; the Mayor's office, TfL, all the boroughs and the car club operators &#45; to come together, to form and to execute a clear and bold strategy for Car Clubs &#45; one that all Londoners can get behind.&nbsp; Zipcar is fully committed to working with the city and playing its part in this alliance to make London a recognised leader in smart urban mobility and ensuring the capital becomes an even better place in which to live and work.' </p>
        <p>For more information about Car Clubs, please visit: <a href="http://www.tfl.gov.uk/modes/driving/car-clubs">http://www.tfl.gov.uk/modes/driving/car-clubs</a> and <a href="http://www.carlitelondon.org">www.carlitelondon.org</a></p>
         
        <hr />
         
        <p>Notes to Editors</p>
        <ul>
            <li>The Car Lite event at City Hall was organized by the Greater London Authority, TfL, London Councils and supported by Zipcar; </li>
            <li>Currently, the UK has one of the highest car club memberships in the world with more than 160,000 members. The majority of these are in London, with the greatest density being in Inner London boroughs such as Westminster, Islington, Wandsworth, Lambeth and Hackney;</li>
            <li>Of the 33 London boroughs, 25 have car clubs, and many have incorporated them into their transport infrastructure in innovative ways;</li>
            <li>Currently the number of cars parked on London's streets cover an area the size of Southwark, with the number of cars forecast to grow this could extend to cover an area the size of Islington;</li>
            <li>Car clubs are one of the most cost effective and simple measures that will help solve London's congestion, pollution and carbon challenges. They help with the drive for cleaner air and reduced carbon emissions, because they operate newer cars with the latest technologies and increasingly offer ultra low emission or electric vehicle options;</li>
            <li>Zipcar is the world's leading car sharing network with operations in urban areas across the United Kingdom, United States, Canada, Spain and Austria. In the UK, Zipcar operates in London, Bristol, Cambridge and Oxford and has local authority partnerships in London, Kent and Surrey. By providing a flexible, convenient and cost-effective alternative to traditional car and van ownership, Zipcar users help reduce congestion and urban traffic pollution, while also benefiting from costs savings and efficiencies;</li>
            <li>London is the largest Zipcar network in the UK, with more than 1,500 cars across many of the London boroughs. Zipcar members benefit from: 60 miles of free fuel, insurance, maintenance, roadside assistance, road tax and the Congestion Charge when travelling in London.&nbsp; Research has shown that the Zipcar service can save London car owners an average of &pound;264 a month &#45; or &pound;3,168 over the year. Zipcar is a subsidiary of Avis Budget Group, Inc (Nasdaq: CAR), a global leader in car sharing and vehicle rental services.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-London holds inaugural Car Club event -->

 
 
        
        
            @{ViewBag.Description = "London holds inaugural Car Club event";}
        
        


 