


@{ViewBag.Title = "LU Station Capacity Programme wins major award";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU Station Capacity Programme wins major award</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU Station Capacity Programme wins major award</h1>
        <div class="content-page-press-release">
        22 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's Station Capacity Programme win big at the Constructing Excellence awards
        
    </div>



 <div class="on-this-page">

        <p>Transport for London (TfL)
        gained top level recognition for two major projects within London Underground's
        Station Capacity Programme at the Constructing Excellence Awards in London.
        &nbsp;
        </p>
        <p>The Constructing Excellence
        Awards are the leading built environment awards in the UK, recognising best
        practice, innovation and excellence.
        &nbsp;
        Bank Station Capacity
        Upgrade (BSCU) won the Integration and Collaborative Working award.
        &nbsp;
        </p>
        <p>The Bank/Monument station
        complex, located in the heart of the City of London's financial district, is
        the fourth busiest interchange station on the London Underground network with
        98 million customers using the station in 2012/13. </p>
        <p>This is set to increase in
        the coming years. So TfL is planning a major upgrade of the six-line
        interchange which will increase capacity by providing more space to get on and
        off Northern line trains and provide a step-free route between the Northern
        line platforms, Docklands Light Railway and street levels.
        &nbsp;
        </p>
        <p>TfL has sought to maximise
        the scheme's benefits to customers while reducing costs by taking a new
        approach to procurement (innovative contractor engagement) that rewards
        innovation throughout the supply chain. Adopting this method on the Bank
        project has delivered 45 per cent additional value through cost savings and
        improved benefits.</p>
        <p> This has reduced the estimated final cost of the project by
        &pound;61m and cut planned engineering closures by more than 22 per cent.
        &nbsp;
        </p>
        <p>The judges said: &quot;Although
        all the entrants in this category deserve an award, it was London Underground
        who had taken collaboration to a new level. Theirs was an impossible challenge
        which could not be overcome with a traditional approach.&quot;
        &nbsp;
        </p>
        <p>Simon Addyman,&nbsp;BSCU
        Programme Manager, said: &quot;For London Underground and Dragados to be awarded
        this prestigious industry award after being together as a project team for only
        one year is a real honour. It is testament to the significant effort that the
        whole supply chain has put into working as a single project organisation to
        build on and deliver the value the innovative contractor engagement process
        produced.&quot;
        This summer TfL will be applying
        for a Transport &amp; Works Act Order, which if granted will give permission to
        do the work, which is proposed to start in 2016 and be delivered in 2021.
        </p>
        <p>Victoria Station Upgrade
        (VSU) programme received a Highly Commended in the BIM (Building Information
        Modelling) Project of the Year category.
        &nbsp;
        </p>
        <p>The judges commented: &quot;This
        project evidences a truly collaborative engagement by the whole team. The
        strong interaction between the site and the design teams has contributed to the
        predictability of the outcome, not only in terms of cost and schedule, but also
        in the management of risk, and health &amp; safety. The Victoria Station
        Upgrade project adopted BIM way before others were even recognising the value
        and contributed significantly to assessing the feasibility of the scheme.&quot;
        &nbsp;
        </p>
        <p>Glenn Keelan, VSU Programme
        Manager, said:&nbsp;&quot;It's encouraging to see the judges recognise how VSU BIM
        is being successfully applied as a delivery/collaboration tool in a live and
        complex construction environment, and is reducing cost, time, and risk to the
        benefit of all parties. Given that we were competing with high quality
        'completed' projects this recognition is a genuine achievement.&quot;
        </p>
        <p>VSU, which is the
        redevelopment of Victoria Underground station,&nbsp;will provide an additional
        new entrance and third ticket hall, as well as doubling the size of one of the
        existing ticket halls, step-free access, reduced journey times, congestion
        relief and extend station life by 75 years. The first phase of the work
        including the new entrance to the new North Ticket Hall will be completed by
        the end of 2016 and all the rest of the work will be completed by the end of
        2018.&nbsp;
        &nbsp;
        </p>
        <p>The complexity of the task,
        in the middle of one of London's busiest stations, with new tunnels constructed
        between existing tunnels, lying at varying levels &#45; between London clay and
        overlying, water-bearing river terrace gravels &#45; required the team to use BIM
        as the 'single source of truth'.
        &nbsp;
        The VSU model encompasses
        the entire project and incorporates 18 discrete, but interacting, design
        disciplines. </p>
        <p>The BIM working process was built around collaboration between the
        client and a federated project supply chain and included a unified data
        creation system for management and sharing, developed design procedures/CAD
        guidelines, a 'shared pain/gain' contract , co-located design teams ,
        application of bi-directional model data, linking modelling tools and
        engineering analysis software.
        &nbsp;
        </p>
        <p>
        BIM has hugely enhanced
        predictability of works interfaces and with lessons learnt being shared with
        future projects and external parties.
        &nbsp;
        Post-completion, the model
        will provide TfL with an accurate record of assets &#45; those belonging to third
        parties as well as its own. Containing spatial and technical information,
        including object libraries, the model will assist TfL in managing the
        maintenance and operation of the asset throughout its life.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-LU Station Capacity Programme wins major award -->

 
 
        
        
            @{ViewBag.Description = "London Underground’s Station Capacity Programme win big at the Constructing Excellence awards";}
        
        


 