


@{ViewBag.Title = "New segregated Cycle Superhighway plans published ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New segregated Cycle Superhighway plans published </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New segregated Cycle Superhighway plans published </h1>
        <div class="content-page-press-release">
        09 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Central London's first segregated cycle superhighway to tackle one of the capital's most intimidating gyratories 
        
    </div>



 <div class="on-this-page">

        <p>Thousands of cyclists will no longer have to use the Vauxhall
        gyratory, one of the most threatening in London, under plans published today
        for central London's first segregated cycle superhighway.
        &nbsp;
        </p>
        <p>A continuous two-way and separated east-west track will be built
        from Kennington Oval to Pimlico, through the gyratory and across Vauxhall
        Bridge, breaking one of the most significant barriers to cycling in the
        capital.
        &nbsp;
        </p>
        <p>There will also be substantially more space for pedestrians, with
        around one square kilometre of new footway. The scheme also creates space for
        new protected north-south routes through the gyratory, the first of which will
        be installed later in 2015.
        &nbsp;
        </p>
        <p>The Mayor, Boris Johnson, said: &quot;In my Cycling Vision I promised
        that the worst and most dangerous junctions would be made safe for cyclists.
        Vauxhall is the first. In the same week London hosted the Tour de France, I am
        perhaps even more excited by this scheme, which will help ordinary cyclists
        every day for years to come.&quot;</p>
        <p>The new segregated track will be part of Cycle Superhighway 5 from
        Belgrave Square to New Cross. It will also link to back-street &quot;Quietway&quot; cycle
        routes at both ends, allowing cyclists from a wide area of south London to
        reach large parts of Westminster, the West End and central London entirely on
        traffic-free or low-traffic routes.&nbsp; These links will also make it
        possible for cyclists to avoid another of London's most difficult gyratories,
        Victoria.
        &nbsp;
        </p>
        <p>Public consultation opens today on the plans and they will be open
        for comments until 14 September. Subject to responses, work to deliver the
        scheme could begin in Winter 2014.
        &nbsp;
        </p>
        <p>
        Currently, cyclists make up almost a quarter of rush-hour traffic
        through Vauxhall, with around 3,000 cyclists using Vauxhall Bridge in the rush
        hours alone. Despite this, it can be intimidating for cyclists, requiring
        multiple manoeuvres in the middle of often fast-moving traffic. Making Vauxhall
        more cycle-friendly is vital to open up cycling to more people in south London.
        &nbsp;
        </p>
        <p>Leon Daniels, Managing Director of Surface Transport at Transport
        for London (TfL), said: &quot;These proposed radical changes would provide a safe
        and direct route to people travelling through Vauxhall on bicycle, whether they
        are commuting, exercising or just enjoying being on two-wheels. We have worked
        hard to come up with a scheme to improve facilities for both pedestrians and
        cyclists throughout this busy area and we would welcome any comments from local
        residents or road users on these ambitious, but deliverable plans.&quot;
        &nbsp;
        </p>
        <p>The scheme is entirely separate from the longer-term ambitions to
        reshape the whole of Vauxhall, but will be incorporated into those plans when
        they are published later.
        &nbsp;
        The consultation will also ask for opinions on three route options
        between Pimlico and Belgravia, which have been developed by Westminster City
        Council:</p>
        <p>Option one: cyclists in both
        directions travel using contra-flow cycle lanes on Belgrave Road,
        Eccleston Street and Belgrave Place</p>
        <p>Option two: northbound cyclists
        travel on Belgrave Road, Eccleston Street and Belgrave Place while
        southbound cyclists would travel on Lyall Street, Elizabeth Street and St
        George's Drive. Segregated tracks and new traffic signals will be built to
        separate cyclists from coaches near Victoria and Bulleid Way coach
        stations</p>
        <p>Option three: as option two,
        but southbound cyclists turn right from Lyall Street into Ebury Street,
        then use Cundy Street, Ebury Square, Ebury Bridge, Sutherland Street and
        Lupus Street. </p>
        <p>The new Vauxhall track would require the removal of two sections
        of general traffic lane, and a short section of bus lane, to create the
        improved conditions for cyclists.</p>
        <p>TfL's traffic network impact analysis shows
        that the completed scheme would mean some delays for motorists and bus users on
        and around the route, but we will be putting in extensive measures including
        enforcement, traffic management, and debottlenecking along other parts of the
        route and the surrounding area, to keep these delays to the minimum level
        possible.
        &nbsp;
        There
        will be an overall increase of about one square kilometre in footway area
        across the route, particularly around the Vauxhall area where there are high
        numbers of pedestrians. As part of the proposals, TfL is working with Network
        Rail to widen the existing subway under the railway on the north side of
        Kennington Lane to provide a wider off-carriageway route for westbound
        cyclists.
        &nbsp;
        </p>
        <p>Cllr
        Heather Acton, Westminster City Council cabinet member for sustainability and
        cycling strategy, said: &quot;We are committed to the important task of making
        cycling in London easier and safer and will continue to work closely with TfL
        to do just that. A huge number of residents, businesses and road users will be
        directly affected by these proposals, and this consultation gives them a real
        chance to shape the future of the area.&quot;
        &nbsp;
        </p>
        <p>For
        more information, please visit www.tfl.gov.uk/cs5
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>The
            route has been designed to make as many links as possible and to allow
            cyclists to avoid the intimidating gyratories at both Vauxhall and
            Victoria. The northern end of the track (Belgrave Square) will link into a
            new Quietway on the existing London Cycle Network route through Lowndes
            Square, taking cyclists into Hyde Park (for Marble Arch, Paddington, and
            Kensington).
            &nbsp;
            </li>
            <li>For
            northbound cyclists going to the east of Victoria the scheme includes a
            segregated link to a new Quietway route to Westminster, St James's and the
            new east-west superhighway due in 2016. Links can also be made both east
            and west (to Westminster, Sloane Square, and Kensington) via the existing
            Ebury Street back-street cycle track. At the southern end, the segregated
            section links to the existing Meadow Road back street cycle track.
            &nbsp;
            </li>
            <li>TfL
            is also considering a new Quietway running from the Kennington Oval to Old
            Kent Road and Peckham via a parallel route for cyclists who do not wish to
            use the main road route.
            &nbsp;
            </li>
            <li>
            These
            proposals are separate from the longer-term aspirations for the Vauxhall,
            Nine Elms and Battersea area. Options for wider changes (including to the
            road layout and public spaces) are still being developed in conjunction
            with the London Borough of Lambeth and the local community. TfL is working
            to begin consultation on these wider plans in autumn 2014.&nbsp; </li>
            <li>CS5 would
            be built ahead of any wider Vauxhall scheme and would be incorporated into
            those wider proposals.
            &nbsp;
            </li>
            <li>TfL
            is also currently consulting on proposals to substantially redesign four
            junctions around Oval station on Barclays Cycle Superhighway 7. These
            proposed improvements include introducing segregated and upgraded cycle
            lanes, to separate cyclists from traffic and buses as well as redesigning
            junctions to include low-level signals with lanes which separate cyclists
            from left turning traffic, removing conflict (subject to Department for
            Transport approval) - www.tfl.gov.uk/oval-triangle</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-New segregated Cycle Superhighway plans published  -->

 
 
        
        
            @{ViewBag.Description = "Central London’s first segregated cycle superhighway to tackle one of the capital’s most intimidating gyratories ";}
        
        


 