


@{ViewBag.Title = "Safer Lorries Scheme Consultation";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Safer Lorries Scheme Consultation</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Safer Lorries Scheme Consultation</h1>
        <div class="content-page-press-release">
        29 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor, TfL and London Councils launch consultation on UK's first &quot;Safer Lorries Scheme&quot;
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Safer Lorries Scheme will see lorries without sideguards
            and safety mirrors banned from London's streets</li>
            <li>Scheme could be introduced by early next year</li>
            <li>Ban would operate
            across London 24 hours a day, seven days a week
            &nbsp;</li>
        </ul>
        <p>
        ‪
        London's roads are set to
        become safer as Transport for London (TfL) and London Councils today began
        their consultation on the Safer Lorries Scheme which will see a ban on lorries
        that do not have safety equipment to protect cyclists and pedestrians from the
        capital's streets.
        &nbsp;
        ‪The Safer Lorries Scheme will use a
        combination of powers held by TfL and London Boroughs to deliver a simple,
        quick and complete solution across all London roads. The proposed ban will
        require every vehicle in London over 3.5 tonnes, which are involved in a
        disproportionate number of fatal collisions with cyclists and pedestrians, to
        be fitted with sideguards to protect cyclists from being dragged under the
        wheels in the event of a collision. </p>
        <p>It will also require them to be fitted with
        mirrors giving the driver a better view of cyclists and pedestrians around
        their vehicles.
        &nbsp;
        ‪</p>
        <p>The ban would operate across London 24
        hours a day, seven days a week, covering the same area as the London Low
        Emission Zone. It would be enforced by on-street enforcement and, in the
        future, could move to CCTV cameras subject to further approval by the
        Department for Transport and London boroughs.
        &nbsp;
        ‪</p>
        <p>One of the Mayor and TfL's top
        priorities is to reduce the number of people killed or seriously injured on
        London's roads by 40 per cent by 2020 and action is being taken to prioritise
        the safety of the most vulnerable road users:&nbsp; pedestrians, cyclists and
        motorcyclists.
        &nbsp;
        ‪</p>
        <p>Of the 14 cyclist deaths in London in
        2013, nine involved HGVs. Vehicles that would be affected by this scheme can
        easily be retrofitted to comply. Side guards can be fitted from approximately
        &pound;500 and extended view mirrors can be fitted for approximately &pound;300 per mirror.
        Subject to the outcome of the consultation and legal procedures, the ban could
        be in place by early 2015.
        &nbsp;
        </p>
        <p>The announcement comes as
        Sainsbury's unveiled their new delivery vehicle for London, which is fitted
        with a range of safety features including extended sideguards and a 360 degree
        proximity camera.
        &nbsp;
        </p>
        <p>The Mayor of London, Boris
        Johnson, said: &quot;I have long been worried that a large number of cyclist deaths
        involve a relatively small number of problem lorries which are not fitted with
        safety equipment. My Safer Lorries Scheme would see those lorries effectively
        banned from our streets and the lives of thousands of cyclists and pedestrians
        would be much safer as a result. Vehicles that would be affected by this scheme
        can easily be retrofitted to comply and doing so will save lives. Companies
        such as Sainsbury's and O'Donovan are already leading the way when it comes to
        cyclist safety and I urge others to follow suit.&quot;
        &nbsp;
        </p>
        <p>Earlier this year, the Construction
        Logistics and Cyclists Safety (CLOCS) standard was developed by TfL with key
        construction industry partners. It sets best practice for construction vehicles
        in terms of safety equipment and driver training and far exceeds any regulatory
        requirement.&nbsp; Already over 40 organisations have signed up as CLOCS
        Champions &#45; from major construction projects like Crossrail and Thames Tideway Tunnel,
        to developers, construction clients and operators who are keen to be seen as
        industry leaders in this field.
        &nbsp;
        ‪</p>
        <p>London's Transport Commissioner, Sir
        Peter Hendy CBE, said: &quot;The proposed Safer Lorries Scheme is a further
        demonstration of how London is working with the freight industry to drive up
        safety standards. Many vehicles in London will already comply with this scheme,
        but by forcing the dangerous minority to follow suit, we can ensure that
        everyone is doing what they can to help make our roads as safe as possible.&quot;
        &nbsp;
        ‪</p>
        <p>Councillor Julian Bell, Chair of London
        Council's Transport and Environment Committee (TEC), said: &quot;Heavy goods
        vehicles play an essential role in London's economy, so the challenge we face
        is ensuring hauliers' needs are balanced with the protection of other drivers,
        cyclists and pedestrians. London Councils is fully supportive of TfL in
        developing the Safer Lorries Scheme. We encourage stakeholders from across
        London to contribute to this consultation, to ensure these safety measures are
        as effective as they can be in protecting all road users.&quot;
        &nbsp;
        ‪</p>
        <p>Sainsbury's Retail &amp; Operations
        Director Roger Burnley said: 'We're proud to be here to support the Safer Lorry
        Scheme today. We've put an enormous amount of thought and research into creating
        a truck that we hope will be the safest on the road &#45; for all road users.'
        &nbsp;
        ‪</p>
        <p>Jacqueline O'Donovan, Managing Director of O'Donovan
        Waste Disposal, said: &quot;O'Donovan Waste Disposal operates a fleet of 75 vehicles
        and has made a substantial investment in vehicle safety enhancements. Our
        drivers and vehicles regularly participate in Exchanging Places run by the
        Metropolitan Police and TfL, which enables cyclists to experience a HGV
        driver's view of the road and get a better understanding of their challenges.
        Although a large number of our vehicles were exempt we felt the investment
        assisted our drivers in making London a safer place for all.&nbsp; We are doing
        all we can, through equipment and training, to minimise risk to cyclists and
        other vulnerable road users. The CLOCS standard sets clear objectives to
        industry and is easy to understand and implement and we welcome this
        consultation to try to make best practice the norm.&quot;
        </p>
        <p>Under national legislation,
        many HGVs must already be fitted with safety equipment. However, construction
        lorries, tipper trucks, waste vehicles, cement mixers and certain other forms
        of HGV are currently exempt from having sideguards fitted. HGVs registered
        before 2000 are also exempt from the requirement to have extended view mirrors
        fitted.&nbsp; </p>
        <p>The rising number of such vehicles in London's building boom
        increases the risk to the growing number of cyclists, who now make up almost a
        quarter of all rush hour traffic in central London. In recent years, both TfL
        and Crossrail have implemented contractual requirements that sideguards and
        safety mirrors need to be fitted to any vehicle over 3.5 tonnes working for
        them.
        &nbsp;
        ‪Once launched, the Safer Lorries Scheme
        would form one part of the continuing work that is already underway across
        London to improve road safety involving freight vehicles, in particular
        construction vehicles. Regular road safety police operations continue to be
        carried out by the Industrial HGV Task Force across London, targeting
        non-compliant heavy goods vehicles, drivers and operators using the capital's
        roads. Since last October, this has resulted in almost 3000 vehicles being
        stopped, with 36 vehicles being seized, 1319 roadworthiness prohibitions given
        to drivers and a further 776 fixed penalty notices issued.</p>
         
        <hr />
         
        <ul>
            <li>The Safer Lorries Scheme consultation will
            remain open until 22 September. For more information please visit
            <a href="http://tfl.gov.uk/safer-lorries">tfl.gov.uk/safer-lorries</a></li>
            <li>More information about TfL's
            Construction Logistics and Cyclists Safety project can be found here:
            &nbsp;
            <a href="http://www.clocs.org.uk">www.clocs.org.uk</a> </li>
            <li>The Standard for Construction
            Logistics: Managing Work Related Road Risk can be found here:
            &nbsp;
            <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/clocs-standard-for-construction-logistics.pdf ">http://www.tfl.gov.uk/cdn/static/cms/documents/clocs-standard-for-construction-logistics.pdf</a> </li>
            <li>In June 2013, the Mayor and
            Transport for London published Safe Streets for London: an ambitious and
            comprehensive plan to reduce further the number of people killed or seriously
            injured in London by 40 per cent by 2020:
            &nbsp;
            <a href="http:// http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf</a></li>
            <li>The Industrial HGV Task Force is
            made up of TfL, City of London Police, Metropolitan Police Service and the
            Driver Vehicle Standards Agency. It is a London-based dedicated task force aimed
            at driving a reduction in the minority of non-compliant vehicles, drivers and
            operators using London's roads through intelligence-led enforcement action</li>
            <li>The dedicated team run regular
            on-street enforcement operations to help build up an intelligence picture on
            the most dangerous lorries and operators</li>
            <li>In February 2014 the Mayor and TfL
            published six safety commitments, which supports the plan and brings focus to
            the range of actions needed by us and our partners to make our streets safer:
            &nbsp;
            <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a></li>
        </ul>
        <p>The six key commitments are:
        &nbsp;
        ‪</p>
        <p>1. To lead the way in achieving a 40
        per cent reduction in the number of people killed or seriously injured on the
        capital's roads by 2020 - with a longer term ambition of freeing London's roads
        from death and serious injury;
        &nbsp;
        ‪</p>
        <p>2. To prioritise safety of the most
        vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80
        per cent of serious and fatal collisions;
        &nbsp;
        ‪</p>
        <p>3. To provide substantial funding for
        road safety, invested in the most effective and innovative schemes;
        &nbsp;
        ‪</p>
        <p>4. To increase efforts with the police
        and enforcement agencies in tackling illegal, dangerous and careless road user
        behaviour that puts people at risk;
        &nbsp;
        ‪</p>
        <p>5. To campaign for changes in national
        and EU law to make roads, vehicles and drivers safer;
        &nbsp;
        ‪</p>
        <p>6. To work in partnership with
        boroughs and London's road safety stakeholders to spread best practice and
        share data and information</p>
        <div style="text-align: left;">
        <ul>
            <li>O'Donovan Waste Disposal
            is a multi-award winning, independent, family-run, company who specialise in
            handling the capital's construction and demolition waste</li>
            <li>O'Donovan has been an active
            member from the start in the CLOCS working groups and is very proud to be one
            of the first CLOCS Champions.</li>
        </ul>
        </div>
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Safer Lorries Scheme Consultation -->

 
 
        
        
            @{ViewBag.Description = "Mayor, TfL and London Councils launch consultation on UK’s first “Safer Lorries Scheme”";}
        
        


 