


@{ViewBag.Title = "Search for a new sponsor of London's iconic Cycle Hire scheme steps up a gear";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Search for a new sponsor of London’s iconic Cycle Hire scheme steps up a gear</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Search for a new sponsor of London’s iconic Cycle Hire scheme steps up a gear</h1>
        <div class="content-page-press-release">
        08 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>Tender process for the
            sponsorship of the capital's Cycle Hire scheme now open</li>
            <li>Top brands have already
            stepped forward for the unique opportunity to be associated with London's
            internationally recognisable bike sharing scheme</li>
            <li>New sponsor would gain
            unprecedented exposure across London and on the TfL network - one of the
            busiest transport networks in the world </li>
            <li>Sponsorship to include
            naming the scheme and having branding on the 10,000 iconic bikes that have seen
            31 million journeys since the launch</li>
        </ul>
        <p>Transport
        for London (TfL) today (Tuesday 8 July), officially opened the tender process
        to find a new sponsor for the London Cycle Hire scheme.
        &nbsp;
        </p>
        <p>A
        number of globally renowned brands have already shown an interest in this
        chance for the private sector to be associated with one of London's
        internationally recognisable forms of transport, gaining unprecedented exposure
        across the capital.
        &nbsp;
        This
        opportunity would see a commercial partner playing a fundamental role in the
        future development of the scheme, which has fast become part of the fabric of
        London.</p>
        <p>Sponsorship encompasses a range of naming and branding opportunities,
        including naming the scheme and having the sponsor's branding on the highly
        distinctive bikes.
        &nbsp;
        The
        scheme has had a fantastic four years with current sponsor, Barclays, and has
        seen many exciting developments since the launch with an expansion to east
        London in 2012 and south west London last year. The current sponsorship ends in
        summer 2015 but a new sponsor could be in place early next year.
        &nbsp;
        </p>
        <p>
        The
        scheme, which is already the second largest Cycle Hire system in Europe, recently
        celebrated more than 31 million journeys since it launched in July 2010 and
        remains a popular and affordable way to travel around London for work or
        leisure. There are over 10,000 Cycle Hire bikes available across London with
        everyone from tourists, Hollywood film stars, Premier League footballers,
        musicians and comedians using the scheme.</p>
        <p>The
        Mayor of London, Boris Johnson, said: &quot;With more than 31 million hires since
        its launch there can be no doubt that our trusty bicycles have changed the way
        people get around our great city. With a number of top brands already stepping
        forward to work with us, this really is a unique opportunity for a commercial
        partner to put their stamp on a mode of London transport that is now as
        recognisable as our iconic black cabs and red buses. We are looking for a
        sponsor whose aspiration matches our own, one with the passion to take the
        scheme to the next level and get even more people pedalling.&quot;
        &nbsp;
        </p>
        <p>TfL's
        Director of Commercial Development, Graeme Craig, said: &quot;By formally opening
        the tender process for a new sponsor, we're at a really exciting point in the
        evolution of Barclays Cycle Hire. Sponsorship of the scheme offers an
        exceptional opportunity for a leading company to be entwined within the fabric
        of London. Cycle Hire is already part of London's iconic transport network and
        will give a new commercial partner an exceptional level of exposure for their
        brand as we develop the scheme further.&quot;
        &nbsp;</p>
        <p>
        A
        commercial partner would receive a range of high visibility opportunities for
        their brand including:</p>
        <ul>
            <li>Naming the scheme</li>
            <li>Opportunity to select a colour
            for the scheme &#45; which would also go on the renowned Cycle Hire roundel</li>
            <li>Adding the scheme colour to all vehicles,
            pay terminals, staff uniforms, membership keys and other scheme materials</li>
            <li>Having the brand on extensive
            public facing communication materials including pan-London marketing campaigns,
            press releases and promotional events.
            &nbsp;
            </li>
        </ul>
        <p>A
        video and a document setting out the full range of rights on offer is now
        available at www.tfl.gov.uk/cyclehiresponsorship. </p>
        <p>It
        is anticipated that an official Cycle Hire commercial partner will be announced
        early next year.
        &nbsp;
        </p>
        <p>This
        summer will see a series of cycling events in London which so far have included
        yesterday's hugely successful Tour de France which saw hundreds
        of thousands of spectators lining the streets of London to enjoy
        world-class cycling and the first ever Cycle Hire race in London, called
        Nocturne, last month. Further events that will take place this summer include
        Prudential RideLondon and the Tour of Britain - together they will help to
        cement London's reputation as a true cycling city and will inspire thousands
        more Londoners to take to two wheels, building on the Mayor's ambition for
        cycling to be an integral part of the transport network.
        &nbsp;
        </p>
        <p>The
        Mayor is already delivering a vast &pound;1billion programme of improvements as part
        of his cycling vision - creating a series of major new segregated cycle routes,
        enhanced cycling superhighways, urban quiet ways and turning some outer London
        boroughs into Mini-Hollands.
        </p>
         
        <hr />
        The sponsorship contract would be over a
        seven year period with a minimum &pound;5.5 million investment from the sponsor per
        year; The formal tender document setting out the full range of rights on offer
        is now available at www.tfl.gov.uk/cyclehiresponsorship<br />
         
        <ul>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Search for a new sponsor of London’s iconic Cycle Hire scheme steps up a gear -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 