


@{ViewBag.Title = "TfL asks Londoners to 'Share the Road'";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL asks Londoners to ‘Share the Road’</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL asks Londoners to ‘Share the Road’</h1>
        <div class="content-page-press-release">
        11 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New road safety campaign asks Londoners to 'Share the Road' as part of continuing work to reduce casualties across the capital
        
    </div>



 <div class="on-this-page">

        <p>In the week where more than
        3.5 million people came out to watch the Tour de France race across England,
        Transport for London (TfL) is calling for all road users to look out for each
        other and share the road in its new road safety campaign.
        &nbsp;
        </p>
        <p>One of TfL's top priorities
        is to reduce by 40 per cent the number of people killed or seriously injured on
        London's roads by 2020. Recently, the Mayor and TfL published six commitments
        that are guiding initiatives to deliver this, and action is being taken to
        prioritise the safety of the most vulnerable road users: pedestrians, cyclists
        and motorcyclists. </p>
        <p>The Mayor and TfL are doubling the investment into London's
        road network during the next ten years from &pound;2bn to &pound;4bn and providing
        substantial funding to London boroughs for road safety schemes across London.
        &nbsp;
        </p>
        <p>The new TV campaign, which
        was shown to government ministers, borough councillors and key road safety
        stakeholders at the 'Safer Streets: Our Shared Journey' conference for&nbsp;
        first time today (Friday 11 July 2014), aims to generate understanding and respect between all road users, asking them to reconsider their attitudes and
        'share the road'. In the advert, the narrator walks through London's
        streets and asks why all road users; pedestrians, cyclists and drivers,
        momentarily get so angry with one another on the capital's streets. The vivid
        black and white advert holds a mirror up to road users' behaviour, mixing
        different scenes of conflict; from the frustration of a cyclist and
        motorcyclist to the simmering rage between a car driver and a group of young
        people.
        &nbsp;
        </p>
        <p>
        By highlighting
        the conflicts that can occur between people, the advert looks to make people
        think of their actions and therefore look out for others when travelling around
        the city. The advert will run on television screens for the next five weeks and
        for the first time, road users are invited to talk about their experience as
        road users on social media using #sharetheroad.
        &nbsp;
        </p>
        <p>
        Leon Daniels, Managing
        Director Surface Transport, Transport for London, said: &quot;Reducing casualties
        among all road users is a top priority for TfL and the Mayor. However behaviour
        on the road won't change unless the needs of all road users is understood and
        respected by each other.&nbsp;&nbsp;It is therefore vital that we all
        acknowledge the welfare of our fellow road users. Our emotive &quot;Share the Road&quot;
        campaign will hopefully help all road users think about their actions and help
        us continue towards meeting our ambition of a 40 per cent cut in deaths and
        serious injuries by 2020.&quot;
        &nbsp;
        </p>
        <p>
        Professor Stephen Glaister,
        director of the RAC Foundation, said:
        &quot;London is a vibrant,
        bustling city where millions exist shoulder to shoulder. In 2013, 2,324 people
        were killed or seriously injured on the capital's roads. This unacceptable
        figure shows why all of us who take to London's streets should show greater
        respect and consideration to others. It is not just a matter of courtesy but
        life and death.&quot;
        &nbsp;
        </p>
        <p>Martin Key, British Cycling
        Campaign Manager said:
        &quot;We welcome Transport for
        London's focus on the need for mutual respect on the capital's roads and would
        like to see a national awareness campaign about the need for people to give
        each other space. People in cars and people on bikes are often the same people,
        nine in ten of British Cycling's members also drive a car and more mutual
        respect on our roads is one of their priority issues.&quot;&nbsp;
        &nbsp;
        </p>
        <p>The campaign is
        the latest road safety initiative from TfL in their work to manage
        and encourage behaviour that leads to safety and security on London's roads.
        The casualty figures for London, published in June 2014, showed that the number
        of people killed and seriously injured on London's roads fell 23 per cent
        during 2013 to its lowest level since records began. The total number of road
        casualties in London also fell by around five per cent to its lowest ever
        level.&nbsp;
        &nbsp;
        </p>
        <p>The positive progress made
        in reducing the number of people killed or seriously injured in 2013 means that
        London is now 36 per cent below the 2005-09 average. It remains on track to
        achieve the Mayor's road safety target to reduce the number of people killed or
        seriously injured on London's roads by 40 per cent by 2020 (from a 2005-09
        baseline).
        &nbsp;
        </p>
        <p>At the London Road Safety
        Conference, TfL reiterated it's continued road safety commitments which
        include:
        Working closely with the Metropolitan and City of London
        Police to enforce road safety through operations like Operation Safeway,
        which will continue this year and run twice a month on unannounced days,
        with up to 1,000 police officers stationed simultaneously at around 100
        junctions;Building on innovative crossing technology trials, a new
        'gold standard' for all new and upgraded pedestrian crossings will be
        developed. This would look to include Pedestrian Countdown timers to give
        pedestrians a clear indication of how much time they have to safely cross
        the road, as well as ensuring that all pedestrian crossing times take account of national safety
        standards and the level of pedestrian demand. TfL will also expand the use
        of Pedestrian Countdown across London to more
        than 400 sites, which will be roughly 10 per cent of all pedestrian
        crossings in London;Beginning
        work on groundbreaking trials of detection equipment on London buses to
        help drivers be more aware of pedestrians and cyclists near their
        vehicles, which if successful could be rolled out across the entire London
        bus fleet.</p>
        <p> TfL will trial Intelligent Speed Adaptation (ISA) on London
        buses, to understand the potential role of this
        technology on buses in promoting adherence to speed limits across the road
        network. Subject to further discussions and technical approvals,
        trials could be carried out on-street during 2015;Publishing
        London's first Pedestrian Safety Action Plan and Motorcycle Safety Action
        Plan and its Delivery Plan for Young People, which included a commitment
        to provide cycle training to all school children in London. </p>
        <p>Last month,
        TfL also published the revised draft Cycle Safety Action Plan and a fully
        updated draft London Cycling Design Standards, which inform the work of
        those designing cycling infrastructure in the capital, for public comment
        to help further transform London's streets with world leading cycling
        provision.
        &nbsp;
        The new 'Share the Road'
        advert airs for the first&nbsp; time on British TV tonight at 19:45 during
        Coronation Street on ITV, followed by a Channel 5 launch on Big Brother at
        21:15.
        </p>
        <p>For more information on the
        work TfL is carrying out to improve road safety across London, please visit www.tfl.gov.uk/roadsafety</p>
         
         
        <hr />
        The Share the Road campaign is part of a balanced road
        safety marketing communications strategy that not only addresses attitudes
        but provides specific guidance on how to avoid the common causes of road
        users being killed and seriously injured on London's roads. In March 2013, the Mayor launched his Vision for
        Cycling in London, which detailed his &pound;913m programme to improve
        infrastructure and safety for cyclists in the capital
         
        <p>In June 2013, the Mayor
        and Transport for London published Safe Streets for London: an ambitious and
        comprehensive plan to reduce further the number of people killed or seriously
        injured in London by 40 per cent by 2020: http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf</p>
        <p>TfL has recently
        begun public consultation on new segregated cycle lanes as part of Cycle
        Superhighway 5 at Vauxhall, and will shortly begin consultation on improvements
        to Archway and Old Street roundabout, and the new East-West cycle-route along
        Victoria Embankment, with a look to deliver all these as quickly as possible.
        All these schemes will be built to the new stringent design standards, ensuring
        that the right approach is taken when making improvements at locations</p>
        <p>In February 2014 the
        Mayor and TfL published six safety commitments, which supports the plan and
        brings focus to the range of actions needed by us and our partners to make our
        streets safer: http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf </p>
        <p>The six key
        commitments are</p>
        <ul>
            <li>To
            lead the way in achieving a 40 per cent reduction in the number of people
            killed or seriously injured on the capital's roads by 2020 - with a longer term
            ambition of freeing London's roads from death and serious injury</li>
            <li>To
            prioritise safety of the most vulnerable groups - pedestrians, cyclists and
            motorcyclists - which make up 80 per cent of serious and fatal collisions</li>
            <li>To
            provide substantial funding for road safety, invested in the most effective and
            innovative schemes</li>
            <li>To
            increase efforts with the police and enforcement agencies in tackling illegal,
            dangerous and careless road user behaviour that puts people at risk</li>
            <li>To
            campaign for changes in national and EU law to make roads, vehicles and drivers
            safer</li>
            <li>To
            work in partnership with boroughs and London's road safety stakeholders to
            spread best practice and share data and information </li>
        </ul>
        <p>Earlier this year,
        &nbsp;the Mayor confirmed that regular road safety police operations, based on
        the original "Operation Safeway" which ran at the end of last year,
        will continue to operate across London for two days every month, on unannounced
        days. The multi-agency Industrial HGV Task Force also continues to operate
        across London, targeting non-compliant heavy goods (particularly construction-related)
        vehicles, drivers and operators using the capital's roads</p>
         
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-TfL asks Londoners to ‘Share the Road’ -->

 
 
        
        
            @{ViewBag.Description = "New road safety campaign asks Londoners to ‘Share the Road’ as part of continuing work to reduce casualties across the capital";}
        
        


 