


@{ViewBag.Title = "TfL joins  Danone in giving out bottles of evian on the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL joins  Danone in giving out bottles of evian on the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL joins  Danone in giving out bottles of evian on the Tube</h1>
        <div class="content-page-press-release">
        23 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL teams up with Danone to give out bottles of evian to customers on the Tube
        
    </div>



 <div class="on-this-page">

        <p>Customers
        reminded to carry water while travelling on the Tube</p>
        <p>evian
        supplies passengers with 250,000 free bottles of water this summer</p>
        <p>First
        giveaway taking place today at Waterloo Underground Station
        &nbsp;
        </p>
        <p>Transport for London (TfL) has teamed up with
        Danone Waters UK &amp; Ireland Ltd to give out free
        bottles of evian natural mineral water to customers, helping to emphasise the
        advice&nbsp;to carry water while travelling on the Tube.
        &nbsp;
        </p>
        <p>
        As
        the hot weather in the capital continues, Danone has provided London
        Underground with 250,000 bottles of evian water, which will be given out at
        some of the busiest stations on the London Underground network this summer in
        support of TfL's ongoing Beat the Heat and Travel Better London campaign. </p>
        <p>The
        campaign aims to raise awareness of how passengers can help to reduce delays
        and improve the environment for themselves and fellow travellers by making
        small changes to their travel habits.
        </p>
        <p>The
        company has also agreed a three-year partnership with Transport for London
        which will see additional water distribution days across the Tube network
        during the summer months until 2017. The partnership will help secure evian's
        presence across London, which is also supported by its annual Live Young
        January campaigns and sponsorship of The Championships at Wimbledon.
        </p>
        <p>Phil Hufton, LU's Chief Operating Officer, said: &quot;We know
        travelling around London during the summer months can be uncomfortable but we
        are making real headway towards cooling the Tube. New air conditioned trains
        are operating on the Metropolitan, Circle and Hammersmith &amp; City lines and
        are being rolled out on the District line. By the end of 2016, 40 per cent of
        the network will be served by air conditioned trains. However, there is still
        work to do. Cooling the deeper lines of the Tube is the big engineering
        challenge - but we're making significant steps forward and are not complacent about
        finding solutions.
        &nbsp;
        </p>
        <p>&quot;We're grateful to Danone for supplying customers with water and, while we make improvements across the network,
        passengers can also play a key role in helping us to deliver an even more
        efficient service. I'm sure this partnership will be
        welcomed by customers as temperatures are set to rise, and I hope that it gets
        across the advice that we are giving to customers to carry water while
        travelling on the Tube.&quot;
        </p>
        <p>Sophie Brooks, evian senior brand manager, said: &quot;We are delighted
        to have teamed up with TFL to give overheated commuters some Live Young
        refreshment. It is really important to stay hydrated during the hot
        weather so it is great to have the chance to help Londoners keep cool.&quot;
        </p>
        <p>TfL gives the following advice to customers travelling on the Tube
        in the summer months:
        Carry
        water with you; Don't board a train or bus if you feel unwell;If you feel unwell please get off at the next stop and
        seek help from our staff&nbsp; and;Avoid pulling the passenger alarm between stations, and
        get off of the train at the next stop as help can be more easily obtained
        on a platform</p>
         
        <hr />
        Cooling the Tube,
        progress so far:
        &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
        <ul>
            <li>New trains equipped with air cooling will be
            delivered for the sub-surface network (Circle, District, Hammersmith &amp; City
            and Metropolitan lines). Now serving the Metropolitan, Circle, Hammersmith
            &amp; City lines and currently being rolled out on to the Wimbledon to Edgware
            Road branch of the District line. All 191 trains will be covering 40 per cent
            of the network by 2016</li>
            <li>Ground water cooling - the trial started at
            Victoria station in summer 2006 and has been successful and has improved
            temperatures in the mid platform area. The groundwater trial provides an
            environmentally friendly cooling solution for the Victoria line platforms at
            Victoria station and uses groundwater which is already pumped out of the
            station. Across the Tube network, LU pumps out 30 million litres of water each
            day</li>
            <li>Ventilation shafts - Work to double the capacity of
            the fans at all the main ventilations shafts serving the Victoria line were
            completed in 2011, a total of 13</li>
            <li>The Victoria line train fleet has been replaced
            which will enable LU to operate the environmentally friendly regenerative
            braking system, which returns power to the rails while the train is braking.
            That will reduce the amount of heat that is generated and should therefore
            reduce the temperature in the tunnel</li>
            <li>Coupled with the new trains ventilation system,
            which will circulate cool air from ground level in the tunnel and distribute it
            into the carriage at head height, this will mean more comfortable journeys for
            customers during the hot summer months</li>
            <li>Out of service fans - London Underground is working
            to re-condition and upgrade the existing station ventilation fan network. 83
            ventilation fans have now been restored, more than doubling the capacity of the
            fan network</li>
            <li>Portable fans - In 2008 fans were installed within
            tickets and concourse areas, to increase air circulation at a number of
            stations</li>
            <li>Mechanical Chiller units - Mechanical chiller units
            which provide cooling to customers and staff in the ticket hall area have now
            been installed at Oxford Circus and Euston stations</li>
            <li>Station cooling - Works at two of London's busiest
            Tube stations, Green Park and Oxford Circus, were completed in 2012 with the
            installation of air cooling units that reduces temperatures at platform level.
            At Green Park the air cooling units use cool water extracted via boreholes from
            the acquifer deep below Green Park</li>
            <li>At Oxford Circus station where there were already
            air cooling units in the ticket hall, the scheme was expanded to include all
            platforms areas (Bakerloo, Central and Victoria lines). The new platform
            cooling units that have been installed use cool water provided by chiller units
            that have been installed on top of a building owned by Transport for London,
            which is adjacent to the station</li>
            <li>Impulse fans - LU has installed high speed ceiling
            mounted impulse fans on Bakerloo line platforms at Marylebone and Lambeth North
            stations.</li>
        </ul>
        <p>&nbsp;Travel Better London campaign:</p>
        <ul>
            <li>The
            Travel Better London campaign was launched in September 2013, more information
            can be found at www.tfl.gov.uk/travelbetterlondon</li>
            <li>The campaign, featuring a set of poems, aims to
            raise awareness of how passengers can help to reduce transport delays and
            improve the environment for fellow travellers by making small changes to their
            travel habits.&nbsp; The actions which can cause delays include litter
            dropping, pulling the passenger alarm, holding the doors open and not letting
            passengers off trains before they get on</li>
            <li>Delays to customers' journeys have been reduced by
            37 per cent since 2008/09 and 53 per cent since 2003/04. The continuing trend
            of long-term improvement follows the success of the London Underground
            Reliability Programme</li>
            <li>Data from London Underground performance
            information database, a corporate record of incidents that cause disruption
            from July 2012 &#45; August 2013</li>
            <li>The travel habits highlighted in the campaign are:</li>
        </ul>
        <ul>
            <li>Litter
            left on the Tube and in stations</li>
            <li>Inappropriate
            use of passenger alarms and passengers falling ill on trains</li>
            <li>Playing
            loud music</li>
            <li>Eating
            smelly food on board vehicles</li>
            <li>Holding
            train doors open </li>
            <li>Moving
            down the platform</li>
            <li>Moving
            down inside the carriage to allow room for other passengers</li>
            <li>Putting
            feet on seats</li>
        </ul>
        <ul>
            <li>When
            the emergency alarm on a train is pulled, it will only stop when it is in the
            station. In other cases it will proceed directly to the next station and stop
            there where it is quicker and easier to get medical help. Last year there were
            369 incidents, each lasting approximately 4 and a half minutes caused by
            unwanted use of the emergency alarms on trains.</li>
        </ul>
         
        <p><strong>About evian&reg;
        </strong></p>
        <p>Each drop of evian&reg; Natural Mineral Water
        falls as rain or snow high on the pristine peaks of the French Alps. It then
        travels through a vast mineral aquifer deep within the mountains before
        emerging at the spring in Evian-Les-Bains. This amazing journey is the secret
        to evian&reg;'s purity and it takes over 15 years.</p>
        <p>
        https://www.facebook.com/evianUK </p>
        <p>
        www.twitter.com/evianwater
        </p>
        <p>www.evian.com
        </p>
        <p><strong>About Danone Waters (UK &amp; Ireland)
        Limited (DWUK)</strong>
        </p>
        <p>DWUK is the parent company of the bottled
        waters and beverages produced by evian&reg;, Volvic&reg; and BADOIT&reg;.
        </p>
        <p>DWUK is a member of the Worldwide Groupe
        Danone family which also includes Danone Ltd, Danone Baby Nutrition and
        Nutricia Medical.
        </p>
        <p>For more information visit our UK website www.danone.co.uk or global website www.danone.com.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-TfL joins  Danone in giving out bottles of evian on the Tube -->

 
 
        
        
            @{ViewBag.Description = "TfL teams up with Danone to give out bottles of evian to customers on the Tube";}
        
        


 