


@{ViewBag.Title = "TfL to help keep Londoners moving during Putney Bridge essential repair works";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to help keep Londoners moving during Putney Bridge essential repair works</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to help keep Londoners moving during Putney Bridge essential repair works</h1>
        <div class="content-page-press-release">
        11 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL to help keep Londoners moving during Wandsworth Council's Putney Bridge essential repair works
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Drivers are advised to change their
            route to avoid disruption</li>
            <li>Buses will terminate at either end of
            bridge, with passengers needing to make their way across the bridge on foot to complete their journey</li>
            <li>Bus passengers affected by bridge
            closure will only have to pay once</li>
            <li>For
            more information on the works visit www.wandsworth.gov.uk/putneybridge
            &nbsp;</li>
        </ul>
        <p>
        In
        advance of Wandsworth Council's essential repair works to Putney Bridge
        starting next week (Monday 14 July), Transport for London (TfL) is advising
        drivers of disruption to the surrounding area, and is reiterating its
        commitment to ensure that bus passengers don't lose out or pay twice if their
        journeys are affected by the bridge closure.
        &nbsp;
        </p>
        <p>The
        bridge needs better protection from the damage caused by water penetration -
        which has contributed to the poor road surface. </p>
        <p>During the works, which the
        council estimate will last for around three months, all vehicles, including
        buses, will not be able to use the bridge. </p>
        <p>Drivers will need to change their
        route to complete their journey and should allow extra time for their
        alternative routes. </p>
        <p>Pedestrians will still be able to cross the bridge on foot,
        as will cyclists - although they will need to dismount. Buses will terminate
        either side of the bridge.
        &nbsp;
        </p>
        <p>The
        Putney Bridge repair works will affect journeys over a wider area than the
        immediate vicinity of the bridge. </p>
        <p>Traffic is expected to be congested around
        the works especially during morning and evening peaks, with alternative river
        crossings expected to be most disrupted.
        &nbsp;
        Additional
        traffic is expected in the morning peak across Kew Bridge, along the A316
        across Chiswick Bridge, northbound journeys across Hammersmith Bridge, and
        around Clapham Junction. Variable messaging signs are now in place, advising
        drivers of the closures, and TfL will be providing up to date information
        through the &#64;tfltrafficnews twitter feed and website to help drivers plan their
        journey - tfl.gov.uk/trafficnews.
        &nbsp;
        </p>
        <p>London
        Buses will operate services from both ends of the bridge, and bus passengers
        who would usually cross the bridge will need to make their way across to the
        other side to continue their journey. Bus passengers from affected routes who
        cross the bridge on foot will be able to continue their journey on to
        appropriate services from the other side.
        &nbsp;</p>
        <p>
        During
        the works, the frequency of the Route 72 between Roehampton and Hammersmith
        will be doubled (from around 7 to 15 buses an hour Monday to Saturday daytime
        and from 5 to 10 buses an hour on Sunday daytime) to provide an alternative
        link to the London Underground (LU) network from that part of London.
        &nbsp;
        </p>
        <p>TfL has also worked to make
        sure that any customers who may have difficulty crossing the bridge can still
        get where they need to go by using alternative services. All buses are accessible and alternative routes, such as 37,
        39 and 265 linking Putney and Wandsworth Town, and 485 from Hammersmith to
        Putney will be available. TfL will have additional staff in place on either
        side of Putney Bridge to help direct passengers and answer any questions about
        where to get buses from.
        &nbsp;
        </p>
        <p>Passengers
        with Travelcards or who travel for free under a concession (around 90 per cent
        of passengers) will be able to walk across the bridge and continue their
        journey as normal. Anyone using Oyster pay as you go (PAYG) or a contactless
        payment card (who make up around 10 per cent of affected passengers) will be
        able to obtain a &quot;transfer card&quot; from the bus driver or a dedicated members of
        staff, which will mean that they also will not have to pay for the second leg
        of their journey.
        &nbsp;
        </p>
        <p>Transfer
        cards can be used in conjunction with an Oyster PAYG or Contactless payment
        cards which are validated within 60 minutes on a previous bus journey on routes
        14, 22, 39, 74, 85, 93, 220, 265, 270, 424, 430, N22 and N74. Passengers who
        have a transfer card can use it throughout the bridge closure and will not need
        to obtain a transfer voucher from the driver on each occasion.
        &nbsp;
        </p>
        <p>Garrett
        Emmerson, Chief Operating Officer of Surface Transport at TfL, said: &quot;We urge
        all drivers to plan their journeys in advance to minimise the affect of the
        council's essential works to Putney Bridge. By taking alternative routes,
        disruption will be minimised. We will also be ensuring that any bus passengers
        affected by the works can continue their journey in the quickest and easiest
        way possible.&quot;
        &nbsp;
        </p>
        <p>TfL
        will also be carrying out essential road works to Hogarth Flyover from 19 July
        until 31 August as part of a continuing programme of roads modernisation across
        London. Drivers are advised to allow extra time for their journeys as these
        works will have an impact on a wider area than the immediate vicinity of the
        flyover. Where possible, drivers are advised to plan ahead to change their
        routes avoid the disruption, particularly during the morning and evening peak
        during weekdays and if travelling at the weekend. </p>
        <p>For more information visit: <a href="http://www.tfl.gov.uk/putney-bridge-closure">www.tfl.gov.uk/putney-bridge-closure</a>
        .
        &nbsp;
        </p>
        <p>Details
        of bus routes affected by the closure of Putney Bridge can be found at <a href="http://www.tfl.gov.uk/driving">www.tfl.gov.uk/driving</a>
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>For
            more information about the works taking place on Putney Bridge &#45; please visit -
            <a href="http://-wandsworth.gov.uk/putneybridge">http://wandsworth.gov.uk/putneybridge</a></li>
            <li>To
            help support Wandsworth Council, TfL has carried out a range of activity to
            alert drivers and bus passengers to these works. These include emailing
            affected bus and road users about the works, briefing key stakeholder groups
            around Putney and key freight contacts and placing customer information posters
            at both Putney Bridge and East Putney Underground stations. Putney Bridge also
            has an extensive temporary signage scheme to direct customers from the exit of
            the station to Putney High Street, for buses heading south</li>
            <li>During
            the closure of Putney Bridge, customers travelling during the morning peak time
            (07:00-10:00) can expect additional traffic on across Kew Bridge towards
            Chiswick Roundabout, along the A316 across Chiswick Bridge towards Hogarth
            roundabout, eastbound on the south circular towards and through the Wandsworth
            one way system, northbound journeys across Hammersmith Bridge, and around
            Clapham Junction.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-TfL to help keep Londoners moving during Putney Bridge essential repair works -->

 
 
        
        
            @{ViewBag.Description = "TfL to help keep Londoners moving during Wandsworth Council’s Putney Bridge essential repair works";}
        
        


 