


@{ViewBag.Title = "TfL announces MTR to run Crossrail services ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL announces MTR to run Crossrail services </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces MTR to run Crossrail services </h1>
        <div class="content-page-press-release">
        18 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The decision to appoint MTR was reached after a thorough and competitive procurement process and we look forward to working with them to transform rail services in the capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Transport for London (TfL) has today announced its intention to award the contract to operate Crossrail services to MTR Corporation (Crossrail) Limited (MTR). </p>
        <p>The &pound;1.4 billion contract will be for eight years with an option to extend to ten years. &nbsp;MTR will be a key partner in delivering the new Crossrail services connecting Reading and Heathrow in the west with Shenfield and Abbey Wood in the east. </p>
        <p>MTR is expected to employ around 1,100 staff with up to 850 new posts, creating many hundreds of jobs for local people. This will include almost 400 drivers and over 50 apprenticeships for people from communities along the route.&nbsp; &nbsp;</p>
        <p>Over the lifetime of the project, it is estimated that Crossrail will also support the equivalent of 55,000 full time jobs around the UK. The construction of Crossrail will generate at least 75,000 business opportunities across the country with 97 per cent of companies in Crossrail's supply chain based in the UK.&nbsp;</p>
        <p>When Crossrail services are fully operational they will increase rail based transport in the capital by 10 per cent and, along with the Tube modernisation, ensure TfL can continue to move people efficiently around London. Crossrail will set the benchmark for passenger experience on European metro services and achieve internationally recognised high standards of reliability, train frequency and customer service.&nbsp; &nbsp;</p>
        <p>Crossrail will be fully integrated as part of the TfL network providing a fast, frequent service linking the east and west and relieving congestion on some of the busiest Tube lines. Passengers using Crossrail will see reduced journey times and the new stations will be integrated with existing London Underground, DLR, London Overground and National Rail stations making it easy for passengers to change between services. &nbsp;</p>
        <p>Mike Brown MVO, Managing Director London Underground and London Rail, said: &quot;Appointing an operator is a huge step towards the new railway coming to London. The decision to appoint MTR was reached after a thorough and competitive procurement process and we look forward to working with them to transform rail services in the capital. Crossrail will help cut journey times, make it easier for people travelling across the city and create jobs and support growth and regeneration along the route. &nbsp;&quot;As our population grows faster than any other European city, the case for stable and sustained investment in London's transport network has never been stronger.&quot;&nbsp;</p>
        <p>The Mayor of London, Boris Johnson, said: &quot;As hardworking engineers beaver away underneath our feet on the final construction of Crossrail's tunnels, we are putting the final pieces of the jigsaw puzzle together above ground. I am delighted that we can now announce the new operator of this landmark railway, bringing it one step closer to welcoming passengers aboard. Crossrail will revolutionise east-west transit in the capital, making London an even more attractive place to visit and invest. As has been the trend throughout this project, many hundreds of additional jobs will be created for local people, with MTR expected to employ around 1,100 staff including almost 400 drivers.&quot;&nbsp;</p>
        <p>Transport Secretary Patrick McLoughlin said: &quot;This is great news for passengers across the capital and marks a significant milestone in the project. Crossrail will provide a better and faster service for millions of commuters and will help create up to 30,000 additional jobs in central London by 2026.&nbsp;&quot;Crossrail is a part of our long-term economic plan and one of the many rail infrastructure projects benefitting from record levels of Government investment. Together with Thameslink, investment in rail in the north and a major electrification programme we are creating jobs, boosting business and generating lasting economic growth across the UK.&quot; &nbsp;</p>
        <p>MTR will start running the services from 31 May 2015 between Liverpool Street and Shenfield, taking over the stopping services currently operated by Abellio Greater Anglia. They will be using the existing trains that currently operate on the route. &nbsp;</p>
        <p>When MTR takes over the Liverpool Street to Shenfield services all stations along that route will for the first time be staffed from first to last train. </p>
        <p>The trains and stations will all be cleaned and refreshed.&nbsp; Disabled people needing assistance will be able to turn up and go, with no need to pre-book assistance, as staff will be fully trained and equipped to assist customers at all stations, as is already the case on London Underground and London Overground services. &nbsp;</p>
        <p>The new operator will work closely with TfL, Bombardier and Crossrail Limited on the introduction of new trains which will begin entering service from 2017. &nbsp;</p>
        <p>MTR has experience of working with Transport for London and, along with Arriva UK Trains, operate as LOROL to run London Overground services. London Overground is now one of the most reliable railways in the UK with some of the highest levels of customer satisfaction.&nbsp; &nbsp;This is the culmination of a competitive procurement process to appoint an operator that began last year with four shortlisted bidders announced in June 2013.&nbsp;&nbsp; &nbsp;</p>
        <p>The route through Canary Wharf, the City and the West End will open in late 2018, with the full route running from late 2019.&nbsp;&nbsp;</p>
        <hr />
        <p>Notes to Editors</p>
        <p>The &pound;1.4bn contract value is the nominal value of concession payments payable to the Operator over the base 8-year concession term before performance adjustments (bonuses and penalties)</p>
        <p>In August 2013, four pre-qualified bidders were invited to respond to the Invitation to Tender (ITT)</p>
        <ul>
            <li>Arriva Crossrail Limited </li>
            <li>MTR Corporation (Crossrail) Limited </li>
            <li>National Express Group PLC; and </li>
            <li>Keolis/Go Ahead </li>
        </ul>
        <p>Crossrail services are being let as a concession by TfL, similar to the concession let by TfL for London Overground.Services to Shenfield will initially operate with the current rolling stock but will be gradually replaced in 2017 by the new Crossrail trains. </p>
        <p>The Crossrail route will serve 40 stations and run 118 km (72 miles) from Reading and Heathrow in the west, through new twin-bore 21 km (13 miles) long tunnels below central London to Shenfield and Abbey Wood in the east.</p>
        <p>Crossrail services will be introduced as follows:</p>
        <ul>
            <li>Heathrow to Paddington (mainline platforms) &#45; May 2018 (when the Crossrail concession takes over the Heathrow Connect service) </li>
            <li>Paddington (Crossrail platforms) to Abbey Wood &#45; December 2018 </li>
            <li>Paddington (Crossrail platforms) to Shenfield &#45; May 2019 </li>
            <li>Full through service (including services to Reading) &#45; December 2019 </li>
        </ul>
        <p>The Crossrail project is jointly sponsored by the Department for Transport and TfL.</p>
        <!-- published 18 July 2014 -->
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-TfL announces MTR to run Crossrail services  -->

 
 
        
        
            @{ViewBag.Description = "TfL announces MTR to run Crossrail services";}
        
        


 