


@{ViewBag.Title = "TfL names Keolis Amey Docklands as Docklands Light Railway operator until 2021";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL names Keolis Amey Docklands as Docklands Light Railway operator until 2021</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL names Keolis Amey Docklands as Docklands Light Railway operator until 2021</h1>
        <div class="content-page-press-release">
        04 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>Transport for
        London (TfL) has today named Keolis Amey Docklands as the new franchisee of the
        Docklands Light Railway (DLR) to operate and maintain the network until April
        2021, with an option for this to be extended until 2023.
        &nbsp;
        </p>
        <p>
        Around 100
        million passenger journeys are made on the DLR network annually and this new
        contract, with a value in excess of &pound;700m, will commence on 7 December 2014,
        and will see Keolis Amey Docklands work with TfL to ensure that passengers
        continue to see improvements to their service.
        &nbsp;
        The DLR is
        already one of the highest performing networks in the country with train
        punctuality regularly above 99 per cent. </p>
        <p>The focus for the new franchise will
        therefore be to maintain this performance in the context of delivering more
        services to meet growing demand in east London.
        &nbsp;
        </p>
        <p>TfL's Managing
        Director of London Underground and Rail, Mike Brown, said: &quot;The DLR is a rail
        network that continues to support regeneration across a huge area of London and
        the economic growth of the city as a whole. Its connectivity with the rest of
        the transport network, and its potential to connect jobs and unlock
        opportunities, is also set to increase further when we start to operate the
        Crossrail services that will interchange with it in a few years' time.
        &nbsp;
        &quot;The decision to
        appoint Keolis Amey Docklands was reached after a thorough and competitive
        procurement process, which will ensure the DLR continues to deliver an
        ever-improving high quality, value for money service for Londoners well into
        the future. I would also like to thank Serco for their support since 1997 in
        helping make the DLR the success story it is today.&quot;
        &nbsp;
        </p>
        <p>In 2018 Crossrail services between central London, Shenfield and
        Abbey Wood will begin to interchange with DLR at several stations &#45; Canary
        Wharf / West India Quay, Stratford and Custom House, where a set of new
        platforms, a new ticket hall and entrance are being constructed.
        &nbsp;
        The
        DLR is part of a large and growing TfL network of rail services, which also
        includes London Overground routes across the capital and the West Anglia
        service from Liverpool Street station to Enfield Town, Cheshunt (via Seven
        Sisters) and Chingford and between Romford and Upminster, which will come under
        TfL control in May 2015.
        &nbsp;
        </p>
        <p>The DLR began
        operating in 1987, with 11 trains serving 15 stations and in its first year of
        operation it carried 6.7m people. Today the railway &#45; which is entirely
        step-free - has 45 stations, 38km of track and 149 carriages and during the
        2013/14 year, it carried a record-breaking 101m passengers.
        &nbsp;
        The railway was
        a crucial carrier during the London 2012 Olympic Games when 6.9million journeys were made - up by over
        100 per cent on normal levels. Over 500,000 journeys on a single day were made
        for the first time on Friday 3 August, 2012</p>
         
        <hr />
         
        <ul>
            <li>There were four original bidders
            in the DLR competition: Go-Ahead/Colas, Keolis/Amey, Serco and Stagecoach.
            Go-Ahead/Colas withdrew from the competition before it reached its conclusion</li>
            <li>Serco has operated the DLR on
            behalf of TfL since 1997. The current franchise (granted in May 2006) was
            originally due to expire in March 2013.</li>
            <li>It was extended until 14 September 2014
            to allow exclusive focus on delivering services for the London 2012 Olympics;
            it was again extended last month to allow TfL time to complete the procurement
            process</li>
            <li>DLR measures train punctuality to
            the nearest 3 minutes, not 5 minutes as on the national rail network for metros
            (PPM), and regularly exceeds 99% performance on this basis</li>
            <li>Customer service is measured against
            a standard TfL measure and currently stands at 88 on the DLR</li>
            <li>The contract value represents the
            sum of nominal fees payable over the life of the franchise, including the
            extension period. It does not include any performance payments or deductions
            related to service enhancements</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-TfL names Keolis Amey Docklands as Docklands Light Railway operator until 2021 -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 