


@{ViewBag.Title = "TfL and Cubic continue partnership";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Cubic continue partnership</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Cubic continue partnership</h1>
        <div class="content-page-press-release">
        29 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and Cubic continue partnership to further improve London's ticketing and fare collection services for customers 
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"After a strong competition, I am confident we have selected the right partner in Cubic who will continue to deliver the high levels of service our customers expect and innovative solutions to make their journeys better"</div>
        <div class="quote-footer">
            <div class="quotee-name">Matthew Hudson</div>
            <div class="quotee-job-title">Customer Experience Head of Business Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Cubic Transportation Systems Ltd awarded the Electra contract beginning August 2015</li>
            <li>Contract results in a &pound;11m per year saving which will be reinvested in improving London's transport</li>
        </ul>
        <p>Transport for London (TfL) has awarded the Electra contract, to provide the capital's ticketing and fare collection services, to Cubic Transportation Systems Ltd. </p>
        <p>Three companies, LG CNS Co Ltd,&nbsp; Scheidt &amp; Bachmann GmbH and Cubic Transportation Systems were shortlisted and invited to submit detailed bids. </p>
        <p>Following this process, Cubic was selected as the successful bidder. &nbsp;</p>
        <p>The new contract is worth around &pound;660m over the next ten years.&nbsp; </p>
        <p>This means an annual saving of &pound;11million a year that will be reinvested to make further improvements to London's transport for customers. &nbsp;</p>
        <p>The contract begins in August 2015 for a term of seven years with an early exit option at five years and extension options of up to three years. </p>
        <p>Matthew Hudson, TfL's Customer Experience Head of Business Development, said: </p>
        <p>'After a strong competition, I am confident we have selected the right partner in Cubic who will continue to deliver the high levels of service our customers expect and innovative solutions to make their journeys better.'</p>
        <p>Roger Crow, Senior Vice President and Managing Director at Cubic Transportation Systems, commented: </p>
        <p>'We are delighted to continue working with Transport for London in its next phase of ticketing and fare collection delivery. The period covered by the Electra contract will see exciting opportunities presented by new technology as well as significant challenges as the population of London continues to grow. We are ever mindful of TfL's public service obligations and would like to reiterate the complete commitment of the entire Cubic team to delivery in each and every respect.'</p>
         
        <hr />
         
         
        <p>Notes to Editors:</p>
        <ul>
            <li>The Electra contract covers the maintenance and availability of ticketing and fare collection equipment on 8,500 buses, 1,900 ticket gates at London Underground and London Overground stations, 1,800 stand-alone validators including on the DLR , 1,600 ticket machines and at the 250 National Rail stations where card readers are located. There are also around 4,000 retail devices at Oyster Ticket Stops across the capital.</li>
            <li>Oyster was introduced on London's transport network in 2003. Since then, over 70 million Oyster cards have been issued and more than 9 million are in regular use. Over 85% of all public transport journeys in London are made using Oyster.</li>
            <li>TfL will soon launch contactless payment card acceptance on the Tube and rail network. Contactless payments have been accepted on London's buses since December 2012 with around 17 million journeys being made in that time. </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-TfL and Cubic continue partnership -->

 
 
        
        
            @{ViewBag.Description = "TfL and Cubic continue partnership";}
        
        


 