


@{ViewBag.Title = "TfL shortlists bidders for trains";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL shortlists bidders for trains</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL shortlists bidders for trains</h1>
        <div class="content-page-press-release">
        15 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL shortlists bidders for trains to become new benchmark for devolved railways in London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We welcome the wide international interest from the rolling stock market in bidding for this order and look forward to engaging with the chosen manufacturers to define a standard that will set a new benchmark for TfL for many years to come"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of London Rail, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>First new trains on additional London Overground routes to arrive in&nbsp; 2017</li>
            <li>Gospel Oak to Barking line diesel trains to be replaced by eight electric trains </li>
        </ul>
        <p>Transport for London (TfL) today announced the four bidders shortlisted to supply new rolling stock to run on new London Overground routes out of Liverpool Street station and to replace current two-car diesel trains on the Gospel Oak Barking route.</p>
        <p>They are:</p>
        <ul>
            <li>Siemens Mobility Rolling Stock</li>
            <li>Hitachi Rail Europe</li>
            <li>Construcciones y Auxiliar de Ferrocarriles S.A. (CAF)</li>
            <li>Bombardier Transportation</li>
        </ul>
        <p>The successful bidder, which will be announced in Spring 2015, will be asked to supply 39 new four-car, electric, metro-style trains to operate high-frequency, high-capacity suburban services in and around London as TfL continues its programme of investment in this highly successful urban railway. &nbsp;</p>
        <p>Thirty-one new trains will operate on routes recently devolved from the West Anglia franchise to TfL which run between Liverpool Street and Enfield Town, Cheshunt (via Seven Sisters) and Chingford as well as the Romford to Upminster route. </p>
        <p>Eight of the electric units will be allocated to the Gospel Oak to Barking service to replace the current two-carriage diesel trains and alleviate congestion as well as provide a more environmentally friendly rail service.</p>
        <p>Mike Brown, TfL's Managing Director of London Rail, said: </p>
        <p>'New and reliable trains have been a key contributor to the huge success of London Overground since TfL took over the management of Silverlink Metro services in 2007. </p>
        <p>'Our customers have now come to expect something better from London Overground and that is why this competition is so important to take our service on the Overground to the next level. </p>
        <p>'We welcome the wide international interest from the rolling stock market in bidding for this order and look forward to engaging with the chosen manufacturers to define a standard that will set a new benchmark for TfL for many years to come.' </p>
        <p>London Overground achieved one of the UK's highest scores for passenger satisfaction (91 per cent compared to a national average of 82 per cent) in the results of a survey published last month by independent transport watchdog, Passenger Focus. </p>
        <p>The railway also came in at number two in Network Rail's performance and punctuality tables for the past year to June 2014 with 96.1 per cent of its trains reaching their terminating station within five minutes of their scheduled arrival time. </p>
        <p>This compares with the national average of 89.7 per cent.</p>
        <p>ENDS&nbsp;</p>
         
        <hr />
        Notes to Editors
         
        <ul>
            <li>The delivered fleet will include spare trains for use in rotation to enable maintenance to be carried out.</li>
            <li>Liverpool Street Station services:</li>
        </ul>
        <ol>
            <li>The routes that TfL will take over run from Liverpool Street station to Enfield Town, Cheshunt (via Seven Sisters) and Chingford.</li>
            <li>They include 23 stations in total crossing six London Boroughs; Enfield [6], Hackney [6], Haringey [3], Tower Hamlets [2] and Waltham Forest [5]) and one in Hertfordshire&nbsp; </li>
            <li>Two stations (Liverpool Street and Cheshunt) on these routes will remain the responsibility of Network Rail, or Greater Anglia. TfL services through these stations will be in a minority.</li>
            <li>Additionally, TfL will also take over the Romford to Upminster services and that will include Emerson Park station on that line. Romford station will be managed by Crossrail and Upminster station by c2c.</li>
        </ol>
        <ul>
            <li>London Overground will take over the management of the Liverpool Street Station services and Romford to Upminster services on 31 May 2015. Initially, existing rolling stock will continue to be used after undergoing a deep clean. In a rolling programme, all of the stations will be thoroughly cleaned, and have new, modern ticket machines installed.</li>
            <li>The services will be run by London Overground operator, LOROL, from 31 May until November 2016 when the current London Overground concession is due to end. The Liverpool Street services will then become part of the overall London Overground concession which will be re-let.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-TfL shortlists bidders for trains -->

 
 
        
        
            @{ViewBag.Description = "TfL shortlists bidders for trains";}
        
        


 