


@{ViewBag.Title = "The Warren School launches green wall as part of Mayor's Air Quality Fund ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">The Warren School launches green wall as part of Mayor’s Air Quality Fund </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>The Warren School launches green wall as part of Mayor’s Air Quality Fund </h1>
        <div class="content-page-press-release">
        11 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Warren School launches innovative green wall as part of Mayor's Air Quality Fund 
        
    </div>



 <div class="on-this-page">

        <p>Transport for London (TfL) and the London
        Borough of Barking and Dagenham have launched an innovative new green wall at
        The Warren School, the first scheme to be delivered as part of the Mayor's &pound;20
        million Air Quality Fund to target pollution at hotspots around the capital.
        &nbsp;
        Students at the school on
        Whalebone Lane North helped to
        design the wall and created montages on how the plants should be arranged on
        the green panels to create their own bespoke living wall.
        &nbsp;
        </p>
        <p>The 54m2 wall is made
        up of five plant varieties, has been designed to thrive in its location, along the busy A1112 by
        trapping NO2 and PM10 particulates to mitigate air pollution as well as
        delivering environmental benefits to the local community.
        &nbsp;
        </p>
        <p>Tejay Lumumba, a Year 9 student at
        The Warren School, said: &quot;It important for us to have fresh air and having the
        green wall in front of our school will show people that air quality is
        important to us. I helped with the design of the wall and it gave me the
        opportunity to learn about the different jobs the plants have and how they help
        the environment by trapping pollution.&quot;
        &nbsp;
        </p>
        <p>Matthew
        Pencharz, the Mayor's Senior Advisor for Environment and Energy, said: &quot;This
        attractive new green wall is helping to protect students from air pollution as
        well as engage and educate them in this important issue. It is one small part
        of a huge package of measures the Mayor is pioneering to improve air quality
        across the city. Through retiring inefficient taxis, retrofitting older
        vehicles, introducing the cleanest and greenest brand new buses, and more, the
        emission of major pollutants in London is falling. This trend is set to
        continue apace as London gears up for the game changing Ultra Low Emission
        Zone.&quot;
        &nbsp;
        </p>
        <p>In June 2013, the Mayor announced that he had awarded &pound;5.4 million
        to London boroughs and businesses over three years (2013/14 to 2015/16) to work
        on new measures to tackle air pollution. </p>
        <p>The money is being used for a variety
        of projects including schemes to encourage the construction industry to reduce
        the environmental impact at work sites and of their vehicles, prompt Londoners
        to use low emission vehicles, and the planting of green walls or trees to trap
        pollution and improve our air quality.
        &nbsp;
        </p>
        <p>
        Ben Plowden, Director of Planning, Surface Transport at TfL said:
        &quot;The green wall at The Warren School is a fantastic example of what the Mayor's
        Air Quality Fund was designed to do. It has brought the local authority and
        students together to deliver a project to reduce local pollution. There are
        community projects like this happening all around the capital to improve
        Londoners quality of life and support a more prosperous city.&quot;
        &nbsp;
        </p>
        <p>
        Councillor Laila Butt, Cabinet Member
        for Environment attended the opening event and said: &quot;This project gives a
        fantastic opportunity for students to learn about plants and the impact they
        have on the environment as well as giving them a sense of pride not only in
        their school but also in our borough.
        &nbsp;
        &quot;The development of the PRUNE
        programme, plants rely upon nurturing every day, will provide students with the
        opportunity to develop skills in maintaining plants, pruning and taking care of
        plants and shrubs, whilst developing an understanding the role they have in
        relation to Air Quality.&quot;
        &nbsp;
        </p>
        <p>The Mayor has also asked TfL to look at introducing the world's
        first Ultra Low Emission Zone in central London from 2020, which he believes
        will deliver benefits in air quality and encourage the further development and
        mass take-up of zero and low emission vehicles.
        &nbsp;
        In addition, the Mayor and TfL will also be introducing the
        following measures to reduce air pollution which includes:
        &nbsp;
        &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        Extra hybrid buses &#45; 600 New Routemasters to
        be delivered by 2016, which alongside a commitment to deliver additional
        conventional hybrid buses over the next three years would increase the number
        of hybrid buses in the capital to over 1,700 by 2016<br />
        <p>Proposed &pound;18m programme to retire the last
        900 Euro 3 standard buses in London so that all of TfL's bus fleet will be of
        Euro 4 Standard or better for NOx emissions by the end of 2015</p>
         
        Measures to clean up construction
        sites &#45; these sites are responsible for around 12 per cent of London's NOx
        emissions and to tackle that the Mayor will introduce a new Low Emission Zone
        for construction machinery. The standards will be agreed with the construction
        industry and will be consulted on as part of new Supplementary Planning
        Guidance. The Mayor will also work with the Environment Agency to rollout the
        use of dust suppressants at industrial sites. At Horn Lane these reduced
        concentrations of PM10 emissions by up to 59 per cent.
        &nbsp;&nbsp;<hr />
        <ul>
            <li>Images of The Warren School green wall are
            available on request</li>
            <li>PRUNE&copy;
            programme (PLANTS RELY UPON NURTURING EVERYDAY).</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-The Warren School launches green wall as part of Mayor’s Air Quality Fund  -->

 
 
        
        
            @{ViewBag.Description = "The Warren School launches innovative green wall as part of Mayor’s Air Quality Fund ";}
        
        


 