


@{ViewBag.Title = "View London with Emirates Air Line and Thames Clippers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">View London with Emirates Air Line and Thames Clippers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>View London with Emirates Air Line and Thames Clippers</h1>
        <div class="content-page-press-release">
        01 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Partnership with Thames Clippers sees exclusive packages for families to enjoy and discover London from both on and above the river
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Since its inaugural flight, the Emirates Air Line has carried nearly four million passengers, linking two areas of the capital that are the focus of ambitious regeneration schemes. We are always looking for ways to enhance the passenger experience and this latest offer includes a great value family day out exploring London by river and air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Danny Price</div>
            <div class="quotee-job-title">Head of the Emirates Air Line, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Emirates Air Line marks two years of operation having carried more than 3.9 million passengers </li>
        </ul>
        <p>As the Emirates Air Line clocks up its second year of operation, the cable car has teamed up with Thames Clippers to offer exclusive joint packages to fly over and glide down the Thames.</p>
        <p>The packages provide a range of family-friendly options for a great summer day cruising by river on Thames Clippers and at altitude on the Emirates Air Line. Individuals, families or groups can buy river passes allowing unlimited hop-on, hop-off travel to 15 piers along the Thames, as well as a 360&deg; trip on the Emirates Air Line and access to the Emirates Aviation Experience. </p>
        <p>Special deals are also available offering a single or return journey from central London or Greenwich to enjoy the Emirates Air Line Experience.A family of up to five people &#45; two adults and three children &#45; can purchase a 'Roamer package' for &pound;50. </p>
        <p>Adult tickets begin at less than &pound;14 while children can travel for under &pound;8. </p>
        <p>Tickets are available for purchase from the Thames Clippers website and from Emirates Air Line terminals and will shortly be available via Thames Clippers' new ticketing app.</p>
        <p>Since opening two years ago the Emirates Air Line has carried over 3.9 million passengers scoring highly on customer surveys and it is strategically located to support large regeneration schemes of both sides of the river at Greenwich (south side) and the Royal Docks (north side).</p>
        <p>TfL's Head of the Emirates Air Line, Danny Price, said: </p>
        <p>'Since its inaugural flight, the Emirates Air Line has carried nearly four million passengers, linking two areas of the capital that are the focus of ambitious regeneration schemes. We are always looking for ways to enhance the passenger experience and this latest offer includes a great value family day out exploring London by river and air.'</p>
        <p>Thames Clippers' CEO, Sean Collins, said: </p>
        <p>'We're really excited to be partnering with Emirates Air Line to offer two of the most relaxing and pleasurable ways of travelling in one great package. It really does offer the best ways to see and explore London.'</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Images of the Emirates Air Line are available <a href="http://www.tflpressgallery.co.uk/ ">here</a> </li>
            <li>Media visits to the Emirates Air Line can be arranged by Tamara Salhab in the TfL Press Office please contact her on 020 3054 8985.</li>
            <li>Information on visiting the Emirates Air Line is available at: <a href="http://www.emiratesairline.co.uk/">http://www.emiratesairline.co.uk/</a></li>
            <li>The Emirates Air Line customer satisfaction surveys are available on request and online: <a href="http://www.tfl.gov.uk/corporate/modesoftransport/26168.aspx">http://www.tfl.gov.uk/corporate/modesoftransport/26168.aspx</a> </li>
            <li>Information on the joint packages with Thames Clippers are available at: http://www.thamesclippers.com/whats-on-discounts/emirates-and-thames-clippers-joint-ticket-packages </li>
            <li>The 15 piers included in the package are &#45; Royal Arsenal Woolwich, North Greenwich Pier (for The O2 and Emirates Air Line), Greenwich, Masthouse, Greenland, Canary Wharf, Hilton Docklands Riverside, Tower Millennium, London Bridge City, Bankside, Blackfriars, Embankment, London Eye, Millbank and St George Wharf. </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-View London with Emirates Air Line and Thames Clippers -->

 
 
        
        
            @{ViewBag.Description = "View London with Emirates Air Line and Thames Clippers";}
        
        


 