


@{ViewBag.Title = "Volunteers gear up for the arrival of the Tour de France in London on Monday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Volunteers gear up for the arrival of the Tour de France in London on Monday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Volunteers gear up for the arrival of the Tour de France in London on Monday</h1>
        <div class="content-page-press-release">
        02 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>TfL Ambassadors will be at
            major transport hubs to help keep London moving</li>
            <li>Roads will be closed from 10am
            on Monday 7 July for the Tour's return</li>
            <li>Tube
            and Rail will be the best way to get around and enjoy the day.&nbsp;
            </li>
            <li>     Stations along the route will be busy during the evening peak</li>
            <li>Spectators
            can soak up the action at Trafalgar Square, Green Park and Queen Elizabeth
            Olympic Park</li>
            <li>For
            detailed travel advice visit tfl.gov.uk/tourdefrance&nbsp;
            &nbsp;
            </li>
        </ul>
        <p>Hundreds
        of volunteers will be hitting the streets of London to help ensure the success
        of the third stage of the Tour de France next week on Monday 7 July.
        &nbsp;
        </p>
        <p>Transport
        for London (TfL) Ambassadors will be out at key Tube and rail stations across
        the capital to keep spectators informed and ensure London keeps moving.
        &nbsp;
        </p>
        <p>The
        Tour de France &#45; the world's largest annual sporting event &#45; returns to London
        on Monday 7 July after two stages in Yorkshire. Around 200 elite cyclists will
        travel from Cambridge, through Essex and into London before a spectacular
        finish on The Mall. </p>
        <p>The iconic Tour de France will draw people onto the streets
        of London from near and far, and help to inspire more people to take up
        cycling.
        &nbsp;
        </p>
        <p>TfL
        has been undertaking an extensive programme of public engagement&nbsp;and
        communication regarding the arrival of the Tour with residents and businesses
        across the capital. This is designed to ensure people living and working in
        London can understand the potential impacts of the Tour and plan ahead to avoid
        unnecessary inconvenience.
        &nbsp;
        </p>
        <p>On
        Monday 7 July, road closures for the event through north, east, and central
        London will begin after the morning peak at 10:00, with roads reopening as
        quickly as possible once the Tour has passed through and it is safe to do so.
        TfL anticipates that all roads will be reopened by 18:00.
        &nbsp;
        </p>
        <p>Closures
        will affect the boroughs of Redbridge, Waltham Forest, Hackney, Newham, Tower
        Hamlets, City, Westminster, Lambeth and Southwark. Tower, Southwark and
        Westminster Bridges will be closed for much of the day however there are no
        planned closures on any other major river crossings in Central London. Maps
        showing the areas inside the M25 that will be affected by the race are
        available at tfl.gov.uk/tourdefrance,
        along with a range of advice.
        &nbsp;
        </p>
        <p>To avoid delays drivers are
        advised to, wherever possible, avoid areas near the event routes in the
        affected parts of Cambridgeshire, Essex and London.
        &nbsp;
        Pedestrians will be able to
        cross the route at designated, marshalled crossing points and Tube and rail
        services will be the best way to get around and enjoy the day. Stations along
        the route, and particularly in Zone 1, are expected to be busy during the evening
        peak.
        &nbsp;
        </p>
        <p>Garrett Emmerson, Chief
        Operating Officer of Surface Transport at TfL, said: &quot;Our job is to keep the
        capital moving, and our 250 strong team of Ambassadors will be out at major
        transport hubs helping people get to the race and around London. However, roads
        around the race route will be extremely busy, so we're asking people to plan
        ahead and preferably use public transport. This will help to make the most of
        what I'm sure will be an amazing day, cementing London's growing reputation as
        a major cycling city and encourage more Londoners to travel by bike.&quot;
        &nbsp;
        </p>
        <p>There
        will be a range of ways for Londoners and visitors to get into the spirit of
        the event. Spectators will be able to watch the action pass through local roads
        along the route with the Tour's Publicity Caravan providing entertainment and
        some promotional goodies in the hours before the riders pass through. Race fans
        can also check out one of London's spectator hubs, where TfL Ambassadors will
        be joined by Team London Ambassadors and Tour de France Hub Tour Makers all
        providing key advice and assistance to Londoners and visitors across the
        capital.
        &nbsp;
        </p>
        <p>Volunteers
        will be lining the route throughout the day as well as being at Green Park and
        Trafalgar Square official Fan Parks, and the spectator hub at Hopkins Field,
        Queen Elizabeth Olympic Park. These will be open between Saturday 5 and Monday
        7 July, and will host a variety of activities. The spectator hubs will be free
        to attend and an ideal location to watch the race live on giant screens and get
        in the Tour de France spirit.
        &nbsp;
        They
        will feature a wide range of activities such as a food market, a Tour de France
        Museum, interactive cycling activities, an outdoor cinema, live music,
        celebrity appearances and shops showcasing all of the latest bike equipment and
        accessories. </p>
        <p>There will be an additional big screen set up at Queen Elizabeth
        Olympic Park for spectators to enjoy the whole of Stage 3 live.
        &nbsp;
        Hosting
        world renowned events such as the Tour reinforces London's reputation as a
        world-class host of cultural, sporting and business events. Visitors, both
        domestic and overseas, are brought to the capital by major events, delivering
        direct and indirect economic benefits, and showcasing London to a much wider
        audience.
        &nbsp;
        For
        more information, please visit tfl.gov.uk/tourdefrance</p>
         
        <hr />
         
        <ol>
            <li>Images
            of TfL Ambassadors are available here: https://www.flickr.com/photos/tflpress/sets/72157645466919042/</li>
            <li>Leaflet
            drops to residents and businesses along the route have been carried out, and
            TfL and partners are working with the local boroughs and businesses as well as
            hosting public information sessions to ensure that everyone who wants to can
            enjoy the event and Londoners can plan their journeys and continue to get
            around the city on the day</li>
            <li>The
            Tour de France will kick off a spectacular summer of cycling in London, with
            the exciting event followed by Prudential RideLondon on the 9 and 10 August and
            then the Tour of Britain, which finishes in the capital on 14 September</li>
            <li>For
            up to date information on how transport services are operating, Londoners are
            advised to check before they travel at tfl.gov.uk
            and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews
            (roads) and &#64;TfLBusAlerts (buses)</li>
            <li>The
            Tour de France is the world's largest annual sporting event and covers
            approximately 3,500kms. A worldwide television audience of 3.5billion people
            watch the event annually. There will be 190 countries broadcasting the Tour de
            France and there are 5,000 hours of TV coverage annually. The last time the
            Tour visited England was in 2007 when London hosted the Grand D&eacute;part, which is
            the opening of the race</li>
            <li>This
            summer's cycling events are likely to inspire thousands more Londoners to take
            to two wheels, building on the Mayor's ambition for cycling to be an integral
            part of the transport network. As part of his cycling vision, the Mayor is
            already engaging in a vast &pound;1billion programme of improvements - creating a
            series of enhanced cycling superhighways, urban 'quietways' for more cautious
            cyclists, and turning some outer boroughs into mini-Hollands</li>
            <li>For
            more information on the Mayor's Vision for Cycling visit&nbsp;http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling</li>
            <li>Pedestrians
            and cyclists will be able to cross the route at designated crossings, where
            marshals will ensure safety of all. Once the roads close, cyclists will not be
            able to ride on the route roads</li>
            <li>Spectators
            will be able to watch the elite cycling action along the route and also at the
            official Tour de France Fan Parks sites at Green Park and Trafalgar Square and
            spectator hub at Queen Elizabeth Olympic Park. The Fan Park sites will feature
            a wide range of different activities such as live Tour de France racing on the
            big screen, a food market, a Tour de France Museum, interactive cycling
            activities, an outdoor cinema, live music, celebrity appearances and shops
            showcasing all of the latest bike equipment and accessories. Team London volunteers
            will also be on hand across all the Fan Park sites to help spectators with
            local travel information and directions</li>
            <li>The
            Mayor is committed to ensuring London retains its status as the world capital
            of sport, and has set up the Major Events Oversight Board. The board is chaired
            by Sir Edward Lister, and comprises of TfL, the emergency services and other
            key partner agencies. It provides strategic direction and advice to the Mayor
            on the approach to bidding, staging and evaluating major events in London. The
            board ensures that all major road events continue to be carefully considered
            and tightly managed to ensure everyone gets full benefit from the event without
            undue impact on Londoners and London's transport. The board also looks at ways
            to ensure the major events programme is effectively communicated with
            Londoners, visitors, businesses and stakeholders to allow sufficient notice and
            forward planning for everyone.</li>
            <li>Events
            like these appeal to Londoners, bring in domestic and overseas visitors and, through
            media coverage, showcase London to a much wider audience across the world. They
            deliver direct and indirect economic benefits. Prudential RideLondon 2013
            delivered &pound;13m spend in its first year.</li>
        </ol>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Volunteers gear up for the arrival of the Tour de France in London on Monday -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 