


@{ViewBag.Title = "Walworth Bus Garage Open Day - 19 July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Walworth Bus Garage Open Day - 19 July</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Walworth Bus Garage Open Day - 19 July</h1>
        <div class="content-page-press-release">
        09 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All aboard for next in a series of bus garage open days this summer to celebrate the Year of the Bus
        
    </div>



 <div class="on-this-page">

        <p>NEXT STOP: WALWORTH BUS DEPOT OPEN DAY</p>
        <p>
        DATE: SATURDAY 19 JULY 2014
        TIME: 11:00 - 16:00
        </p>
        <p>LOCATION: 301 CAMBERWELL NEW ROAD, WALWORTH SE5 0TF
        </p>
        <p>FREE
        ADMISSION &#45; ALL ACTIVITIES ARE UNDER COVER
        &nbsp;</p>
        <p>
        On Saturday 19 July 2014,
        Abellio's Walworth Bus Depot in south London will open its doors to members of
        the public in the next of a series of bus garage open days across the capital
        in celebration of the Year of the Bus.
        &nbsp;
        </p>
        <p>Visitors to Walworth Bus
        Depot will get the chance to</p>
        <ul>
            <li>Take a free trip on vintage buses from
            Walworth Bus Depot to Dulwich, with departures every 20 minutes.&nbsp; </li>
            <li>In
            addition a special vintage bus service will operate on route 100 between
            Elephant &amp; Castle and Shadwell</li>
            <li>View a wide selection of heritage vehicles
            including London Transport Museum's newly restored B-type bus</li>
            <li>Jump up and down on the bouncy bus</li>
            <li>Take a ride through the bus wash</li>
            <li>Go on a 'behind the scenes' tour of the
            engineering and operations function of the depot</li>
            <li>View the Year of the Bus mobile exhibition which
            tells the story of the London Bus and looks to its future</li>
            <li>Take part in family activities about how to
            use the transport system safely and responsibly with the Transport for London
            (TfL) Safety and Citizenship team and pick up your free bus-themed family
            activity sheets</li>
            <li>Find out more about a career with Abellio as
            a bus driver &#45; a recruitment bus will be on site for anyone interested in
            finding out more</li>
            <li>View model railways from the Southwark Model
            Railway Club</li>
            <li>Browse the London Transport Museum pop-up
            shop selling exclusive Year of the Bus gifts, and stalls selling bus-related
            merchandise and memorabilia.
            &nbsp;
            </li>
        </ul>
        <p>The bus garage open days are
        part of TfL's celebrations to mark the Year of the Bus, in partnership with London
        Transport Museum and the capital's bus operators. All proceeds generated from
        the Walworth Bus Depot Open Day will be donated to charity.
        &nbsp;
        </p>
        <p>Walworth Bus Depot occupies
        a site originally acquired as a tram depot in 1891. It was known as the
        Camberwell Tram Depot until 1950 when its name changed to Walworth with the
        arrival of buses at the site. Major rebuilding work took place during the 1950s
        to repair bomb damage from the Second World War. The current depot re-opened in
        2004 after being fully refurbished with the latest environmental technology
        including solar panels on the roof.
        &nbsp;
        </p>
        <p>The first bus garage open
        day was held at Catford on 10 May and attracted around 3,000 visitors. Since
        then, Alperton, Stockwell, Fulwell and Potters Bar Bus Garages have all opened
        their doors to the public to offer behind-the-scenes access in celebration of
        the Year of the Bus.
        &nbsp;
        The last bus garage open day
        will take place at Dartford Bus Garage on Sunday 7 September.
        &nbsp;
        </p>
        <p>Events and activities are
        being held throughout 2014 to celebrate the role that London buses, bus drivers
        and the staff who support them play in keeping the capital moving, and mark a
        number of important anniversaries. These include 60 years since the creation of
        the original and iconic Routemaster, 75 years since the launch of its
        predecessor the RT-type bus, and 100 years since hundreds of London buses were
        sent to the Western Front to play a crucial role during the First World War.
        &nbsp;
        </p>
        <p>Buses&nbsp;are a vital daily service
        for millions and one that is very local, with the vast majority of Londoners
        (95 per cent) never more than 400 metres from a bus stop.&nbsp; Buses link
        homes to jobs, schools and hospitals in every part of the capital.&nbsp; They
        are the backbone, and often the forgotten workhorses, of London's transport
        network.
        &nbsp;
        </p>
        <p>
        Further information about
        Year of the Bus events can be found at www.tfl.gov.uk/yearofthebus and
        www.ltmuseum.co.uk
        &nbsp;
        </p>
        <p>The
        Year of the Bus is supported by and delivered in partnership with Exterion
        Media, Abellio, Arriva London, Clear Channel UK, Go-Ahead London, Metroline,
        RATP Dev UK, Stagecoach, Wrightbus, Optare and Telent Technology Services.
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>Walworth
            Bus Depot has 160 buses operating on eight daytime routes
            and four night bus routes. </li>
            <li>There are 470 drivers based there.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Walworth Bus Garage Open Day - 19 July -->

 
 
        
        
            @{ViewBag.Description = "All aboard for next in a series of bus garage open days this summer to celebrate the Year of the Bus";}
        
        


 