


@{ViewBag.Title = "Willesden Junction work to enable 25% capacity increase";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Willesden Junction work to enable 25% capacity increase</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Willesden Junction work to enable 25% capacity increase</h1>
        <div class="content-page-press-release">
        14 July 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platforms and tracks upgraded for five-car trains over five day period
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Before we can deliver to passengers a fifth carriage and the benefits of extra space and a more comfortable commute, we need to extend not only the platform at Willesden Junction low level station but also carry out some track work there"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Stubbs</div>
            <div class="quotee-job-title">Director of London Overground, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Work to deliver a 25 per cent capacity increase on the London Overground network will begin in October. </p>
        <p>It will mean a partial suspension of the Bakerloo line and some London Overground services connecting to Willesden Junction for a five day period.&nbsp;</p>
        <p>The platform extension work is part of Transport for London's (TfL) continuous programme of investment and delivery of passenger benefits to London Overground and will enable its trains to be lengthened to five carriages. </p>
        <p>The extension works will take place at Willesden Junction between 29 October and 2 November.&nbsp;</p>
        <p>TfL's Director of London Overground, Mike Stubbs said: </p>
        <p>'I apologise for the inconvenience caused but these works are essential for the high-performing London Overground service to continue to grow to meet increasing demand. Before we can deliver to passengers a fifth carriage and the benefits of extra space and a more comfortable commute, we need to extend not only the platform at Willesden Junction low level station but also carry out some track work there. &nbsp;</p>
        <p>'To help reduce disruption, we have scheduled the work for the mid-term break which always sees reduced numbers of passengers.'</p>
        <p>Because the works involve Willesden Junction's Platform 2, Bakerloo Tube line services which use the low level part of the station are also affected.&nbsp;</p>
        <p>The works are part of a &pound;320m, 25 per cent capacity increase programme across the London Overground network. </p>
        <p>To accommodate the longer trains, station platforms across the network are being extended, train depots upgraded and expanded, new train stabling facilities built and alterations made to the signalling system. &nbsp;</p>
        <p>London Overground achieved one of the UK's highest scores for passenger satisfaction (91 per cent compared to a national average of 82 per cent) in the results of a survey published last month by independent transport watchdog, Passenger Focus. </p>
        <p>The railway also came in at number two in Network Rail's performance and punctuality tables for the past year to June 2014 with 96.1 per cent of its trains reaching their terminating station within five minutes of their scheduled arrival time. </p>
        <p>This compares with the national average of 89.7 per cent.&nbsp;</p>
         
        <hr />
         
        <p>Notes to Editors</p>
        <ul>
            <li>Between 29 October and 2 November, there will be no service on the:</li>
        </ul>
        <ol>
            <li>Bakerloo line between Queen's Park and Harrow &amp; Wealdstone </li>
            <li>London Overground between Queen's Park and Harrow &amp; Wealdstone (on the 29th from 22:00) and between Queen's Park and Wembley Central (from 30 Oct &#45; 2 Nov) </li>
        </ol>
        <ul>
            <li>Passengers are encouraged to use alternative routes. London Midland services will be accepting London Underground and Overground tickets. A replacement bus service will also operate. Follow &#64;LDNOverground / &#64;bakerlooline for details.</li>
            <li>London Overground trains will operate between Queen's Park and Euston (to the south of the closed section) and between Harrow &amp; Wealdstone and Watford Junction on the 29th and between Wembley Central and Watford Junction from the 30th &#45; 2nd (to the north).</li>
            <li>Bakerloo line trains will run between Queen's Park and Elephant &amp; Castle </li>
            <li>A replacement bus service will operate on the following route during the week:</li>
        </ul>
        <ol>
            <li>Queen's Park &#45; Kensal Green &#45; Willesden Junction &#45; North Acton (for the Central line) &#45; Harlesden &#45; Stonebridge Park &#45; Wembley Central. </li>
        </ol>
        <ul>
            <li>On Wednesday 29 October (from 22:00), this service will be extended from Wembley Central as follows:o&nbsp;&nbsp; &nbsp;North Wembley &#45; Preston Road (for the Metropolitan line and South Kenton) &#45; Kenton &#45; Harrow &amp; Wealdstone, as London Overground trains will only run between Harrow &amp; Wealdstone and Watford junction after 22:00. </li>
            <li>The first longer trains will be introduced on the Highbury &amp; Islington to New Cross/Crystal Palace/West Croydon/Clapham Junction routes from the end of the year, followed by the Richmond/Clapham Junction to Stratford line by the end of 2015.</li>
            <li>For more information visit <a href="http://www.tfl.gov.uk/overgroundcapacity">www.tfl.gov.uk/overgroundcapacity</a>.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-July-Willesden Junction work to enable 25% capacity increase -->

 
 
        
        
            @{ViewBag.Description = "Platforms and tracks upgraded for five-car trains over five day period";}
        
        


 