
    
  



@{ViewBag.Title = "Learning resources";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/safety-and-citizenship/lesson-plans";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></li>
                
            
            
                <li><span class="last-breadcrumb">Learning resources</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Learning resources</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        In this section there are lesson plans and ideas that you can use with your Year 6 class
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>All lessons are in line with the PSHE/Citizenship curriculum, and cover other subject areas too. They explore a range of topics related to travelling independently, including:</p>
<ul>
    <li>Planning a journey</li>
    <li>Making a journey</li>
    <li>Responsible choices</li>
    <li>Getting help</li>
</ul>
<p>Starter activities can be used with any PSHCE lesson. Main activities are ideas you can use in your lessons, and the resources associated with them are contained in the resources section. Please note that some resources can be used for multiple lesson ideas. Many of the resources can be used independently of each other.</p>
<p>The full lesson plans are complete plans, including resources. If you have any feedback on your use of the resources, please email us at <a href="mailto:tflsafetyandcitizenship&#64;ltmuseum.co.uk">tflsafetyandcitizenship&#64;ltmuseum.co.uk</a>.</p>
<h2>Interactive learning resources</h2>
<p><a href="http://media.tfl.gov.uk/top-deck/index.html">Find out why we ask you not to stand upstairs on a bus.</a></p>
<p><a href="http://media.tfl.gov.uk/waiting-distance/index.html">Explore making safer choices about how far back to wait when using public transport.</a></p>
</div>
 
<div>



<h2>Full lesson plans</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lesson-plans-getting-to-school-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Getting to school - making journeys better</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lesson-plans-making-a-move-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Making a move - planning</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lesson-plans-pedal-power-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Pedal power - transition</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.23 -->
 
</div>

</div>
 
<div>



<h2>Planning a journey</h2>



        <h3>Starters </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-starter-classroom-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Starter questions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 509KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-circtime-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Circle time</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.55 -->
 
</div>

</div>
 <div>


        <h3>Lesson plans&nbsp;</h3>
    
</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/planning-journey-main-lesson-plan-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Lesson plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.05 -->
 
<div>





        <h3>Resources </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-helpful-hints-resource-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Helpful hints</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 855KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-know-your-area-resource-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Know your area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 387KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-scenario-resource-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Scenario notes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 513KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-teacher-resource-bus-map-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Using a bus map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-teacher-resource-tram-map-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Using a tram map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-tfl-planning-resource-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>TfL journey planning</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 783KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/plan-journey-tfl-maps-resource-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>TfL maps</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 383KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 
</div>

</div>
 
<div>



<h2>Starting a journey</h2>



        <h3>Starters </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-starterquestions-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Starter questions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 549KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 
</div>

</div>
 
<div>





        <h3>Lesson plans </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-classroom-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Classroom</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-circle-time-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Circle time</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.40 -->
 
</div>

</div>
 
<div>





        <h3>Resources </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-buying-tickets-resource-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Buying tickets</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 776KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-cust-help-point-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Customer help points</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 508KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-design-waitarea-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Design a waiting area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 361KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-jobadvertstaff-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Supporting notes - job advert</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 511KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-journey-facts-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Journey facts - answer sheet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 482KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-show-me-cards-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Teacher question cards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 660KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-journey-what-am-i-resource-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>What Am I? cards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 454KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 
</div>

</div>
 
<div>



<h2>Making a journey better</h2>



        <h3>Starters </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-starter-questions-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Starter questions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 504KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-circle-time-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Circle time</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.55 -->
 
</div>

</div>
 
<div>





        <h3>Lesson plans </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-classroom-based-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Classroom-based activities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.76MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-walking-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Promote walking</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-tube-stations-expert-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Tube stations expert</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.09 -->
 
</div>

</div>
 
<div>





        <h3>Resources </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-statements-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Teacher statements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 391KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-daily-traveller-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Daily traveller</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 532KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-fact-sheet-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Tube fact sheet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 510KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-for-sale-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>For sale</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 592KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-graffiti-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Graffiti</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 739KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-photocard-scenario-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Photocard scenario</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 439KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-poems-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Poems</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 549KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-poster-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Safety poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 357KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-resource-journey-flowchart-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Journey flowchart</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 468KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-risks-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Identifying risks</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 401KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-teacher-notes-links-resource-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Teacher notes - links</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 377KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-journey-better-create-your-own-db-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Create your own database</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 380KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 
</div>

</div>
 
<div>



<h2>Journey photocards</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-cards-bus-journey-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>A bus journey</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-cards-dlr-journey-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>A Docklands Light Railway journey</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-cards-help-point-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Help points</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 968KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-cards-river-journey-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>A river journey</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-cards-staff-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>Transport staff</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-cards-tram-journey-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>A tram journey</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photo-cards-underground-safety-citizenship.pdf">
    <div class="document-download-text">
        <p>An Underground journey</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.25 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/primary-pre-transiti">Primary (pre-transition)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/secondary-post-transition">Secondary (post-transition)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/special-educational-needs">Special Educational Needs and Disability</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/pupil-referral-units">Pupil Referral Units</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/faith-schools">Faith schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/home-schooled-pupils">Home-schooled pupils</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/restorative-justice">Restorative justice</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/community-and-museum-events">Community & museum events</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/following-on-from-your-visit">Following on from your visit</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/lesson-plans">Learning resources</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/transport-youth-engagement-officers">Transport Youth Engagement Officers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Safety and citizenship lesson plans and ideas matching the PSHE/Citizenship curriculum for Year 6 classes";}
        
            
        


 