
    
  



@{ViewBag.Title = "Secondary (post-transition)";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/safety-and-citizenship/secondary-post-transition";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></li>
                
            
            
                <li><span class="last-breadcrumb">Secondary (post-transition)</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Secondary (post-transition)</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The TfL Safety and Citizenship team offer free in-school presentations for secondary pupils and more experienced travellers.
        
      </div>
    
    
      <p>These sessions are delivered to secondary schools pupils. The sessions explore ways in which journeys have changed for young people since their transition to independent travel from primary school. Post-transition in-school presentations are allocated after referral from local policing teams, TfL and members of staff at the school. We concentrate on schools where pupils have experienced specific travel concerns.</p>

<p><strong>Content</strong></p>

<p>Presentations last between 20 minutes and an hour to fit in with secondary timetabling. Longer time slots allow a more interactive and comprehensive session. We see whole year groups together where possible.</p>

<p>Sessions are tailored to the individual audience. We respond directly to issues, ideas and queries from pupils. We enter into a non-confrontational dialogue with young people, promoting honest responses and an open forum. Pupils use this to explore and resolve issues they may have experienced on the transport network.</p>

<p>Sessions include fast-paced, educational videos, images to support learning points, role play and question and answer. All videos are age-appropriate and fully subtitled.</p>

<p>Pupils find the presentations engaging and enjoyable and they appreciate the chance to express their opinions.</p>

<p>Topics covered might include:</p>

<ul>
	<li>Active travel choices</li>
	<li>Bus stop safety</li>
	<li>Awareness of personal safety</li>
	<li>Using the <a href="/fares/free-and-discounted-travel">Zip Oyster photocard</a> correctly (including the <a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Behaviour Code</a>)</li>
	<li>Respect for other travellers and staff members</li>
	<li>Making responsible decisions</li>
	<li>Thinking about the impact of their choices</li>
	<li>How to report issues</li>
</ul>

<p>If you are a secondary school teacher who feels that your pupils would benefit from a presentation, please contact us on 020 7565 7303 or email <a href="mailto:tflsafetyandcitizenship&#64;ltmuseum.co.uk">tflsafetyandcitizenship&#64;ltmuseum.co.uk</a>.</p>

<p>We endeavour, within our capacity, to deliver where schools raise specific travel concerns. In schools where you have noticed or we have had reports of ongoing issues, we can offer our <a href="/info-for/schools-and-young-people/safety-and-citizenship/restorative-justice">restorative justice</a> sessions for a more targeted approach with smaller groups or individuals if appropriate.</p>

<p>Take a look at our post-transition work in secondary schools below.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="QHG8VMOqEw0" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/primary-pre-transiti">Primary (pre-transition)</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/secondary-post-transition">Secondary (post-transition)</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/special-educational-needs">Special Educational Needs and Disability</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/pupil-referral-units">Pupil Referral Units</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/faith-schools">Faith schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/home-schooled-pupils">Home-schooled pupils</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/restorative-justice">Restorative justice</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/community-and-museum-events">Community & museum events</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/following-on-from-your-visit">Following on from your visit</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/lesson-plans">Learning resources</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/transport-youth-engagement-officers">Transport Youth Engagement Officers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL offers free in-school presentations for secondary pupils and more experienced travellers";}
        
            
        


 