
    
  



@{ViewBag.Title = "Transport Youth Engagement Officers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/safety-and-citizenship/transport-youth-engagement-officers";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></li>
                
            
            
                <li><span class="last-breadcrumb">Transport Youth Engagement Officers</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transport Youth Engagement Officers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our Safety and Citizenship team work collaboratively with other areas of TfL and outside agencies, such as the Metropolitan Police Service and transport staff. Staff from these areas can apply to work with us on a voluntary basis as Transport Youth Engagement Officers (TYEOs).
        
      </div>
    
    <div class="on-this-page">
      
        <p>Becoming a TYEO involves completing our accredited training course and being able to work with the team for a minimum of two weeks a year (where required and where release can be arranged).</p>
        <p>Successful TYEO applicants are trained by us to engage with young people and deliver key TfL Safety and Citizenship messages.</p>
        <p>We have TYEOs from a range of areas, including: police officers, Police Community Support Officers, British Transport Police, bus drivers, Tube drivers, Customer Service Assistants, supervisors and many more. Their work with us is invaluable, as they present the human face of the company to young people, who are always eager to ask staff plenty of questions about their role.</p>
        <p>TYEOs may be responsible for delivering the Safety and Citizenship educational liaison programme at Junior Citizenship Schemes. In schools, they can accompany us to presentations and get involved, giving students insight into the daily life of our employees.</p>
        <p>A good TYEO would have the following qualities: enthusiasm, confidence, flexibility and a passion for keeping young people safe on their travels. If you have any previous experience of working with young people, this would also be helpful.</p>
        <p>The role of a TYEO is exciting, fun and challenging. It means engaging with young people across London and helping them to make better journeys. It is a very rewarding role and TYEOs gain a real sense of achievement from their hard work.</p>
        <p>If you are interested in becoming a TYEO, please email <a href="mailto:tflsafetyandcitizenship&#64;ltmuseum.co.uk?Subject=Transport%20Youth%20Engagement%20Officers">tflsafetyandcitizenship&#64;ltmuseum.co.uk</a>.</p>
        <p>Please note that we have a restriction on how many TYEOs we can have in operation per area and that we interview all potential TYEOs for the role. All TYEOs are subject to enhanced CRB disclosure for the role.</p>
    
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/primary-pre-transiti">Primary (pre-transition)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/secondary-post-transition">Secondary (post-transition)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/special-educational-needs">Special Educational Needs and Disability</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/pupil-referral-units">Pupil Referral Units</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/faith-schools">Faith schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/home-schooled-pupils">Home-schooled pupils</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/restorative-justice">Restorative justice</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/community-and-museum-events">Community & museum events</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/following-on-from-your-visit">Following on from your visit</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/lesson-plans">Learning resources</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/transport-youth-engagement-officers">Transport Youth Engagement Officers</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Transport Youth Engagement Officers are trained to engage with young people and deliver key TfL Safety and citizenship messages.";}
        
            
        


 