


@{ViewBag.Title = "A12 George Green Tunnel Repair Works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A12 George Green Tunnel Repair Works</h1>
        <div class="content-page-press-release">
        02 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will be carrying out essential repairs to the A12 George Green Tunnel over five weekends, from 12/3/04 until 07/05/04.
        
    </div>



 <div class="on-this-page">
<p>Following a serious road traffic accident which damaged the tunnel lighting, a number of planned closures have been organised in order to repair the damage and ensure high safety standards are maintained in the tunnel. </p>
<p>The westbound bore of the tunnel will close for repairs, with traffic being transferred to the eastbound bore under contra-flow. The planned closure times are from 21.00 on Friday until 05.00 Monday on the following dates:</p>
<ul>
<li>12/3 - 15/3 
</li><li>19/3 - 22/3 
</li><li>2/4 - 5/4 
</li><li>23/4 - 26/4 
</li><li>7/5 - 10/5 </li></ul>
<p>TfL apologises for any disruption these essential repair works may cause to drivers.</p>
            <p>These works have been planned to avoid the major football games and local events planned for the area and to take advantage of lighter weekend traffic.</p>
<p>As London's population continues to grow there will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential sustained improvement to the road network will not take place.</p>
<p><br>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following a serious road traffic accident which damaged the tunnel lighting, a number of planned closures have been organised in order to repair the damage and ensure high safety standards are maintained in the tunnel. The westbound bore of the tunnel";}
        
        


 