


@{ViewBag.Title = "Bob Kiley outlines proposals for London Regional Rail Authority";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bob Kiley outlines proposals for London Regional Rail Authority</h1>
        <div class="content-page-press-release">
        23 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rail passengers travelling to, from and through London could get better and more reliable services and fairer ticketing within two years under new plans set out today by Bob Kiley, London's Transport Commissioner.
        
    </div>



 <div class="on-this-page">
<p>The plans, which are being developed on behalf of the Mayor by Transport for London (TfL), could see the Mayor take control of all suburban commuter rail services in London. Seventy per cent of all rail journeys are made either to or from London.</p>
<p>A London Regional Rail Authority would oversee integrated planning of the London suburban rail network alongside the capital's Tube, bus and road system. The benefits include:</p>
<ul>
<li>Greater efficiency - TfL would take the risk on revenue, rolling stock contracts and upgrading works, reducing franchise costs and ending compensation payments to train operators. </li>
<li>More frequent services - simplifying outdated timetables and other changes, could lead to a 5 per cent increase in capacity, reduced overcrowding and reduced journey times within two years. </li>
<li>Integrated fares using the Oyster smartcard -The Oyster card would be extended to rail services, cutting ticket office and ticket barrier queues and reducing fare evasion. </li>
<li>Integration of ticket prices - Tube-style zonal ticketing will simplify ticket-buying for millions of travellers, who currently pay between &pound;1.70 and &pound;3.70 for a Zone 3 to Zone 1 journey on national rail depending on location. </li>
<li>Better station facilities - a plan to deliver common, higher standards for all stations in London. </li>
<li>Better station security - a plan to improve security and passenger information on all stations in London. </li>
<li>Meeting local needs - giving London control of London services will make the rail network more responsive to local needs. </li></ul>
<p>Speaking ahead of the 'Rail and a Growing London' conference, Bob Kiley said:</p>
<p>"TfL was created to provide London with a fully integrated transport network. Our bid, under the Government's rail review, proposes just that. We should all seize this opportunity to put joined-up thinking into practice and make a difference to passenger journeys. </p>
<p>"TfL has been able to turn around the bus services in the Capital, delivering the best services London has seen for over a generation. If given the opportunity, we would use the same principles and world-class management to deliver the best possible services for rail passengers travelling in and through London."</p>
<p>Mayor of London, Ken Livingstone said:</p>
<p>"A London rail authority will allow us to integrate the railways with Tube and bus services and raise service standards and the upkeep and security of stations. It would mean that we can start to bring major transport improvements to the large parts of London not covered by the Tube network. If we start with a shadow form of running the London rail authority changes can start to be made relatively fast.</p>
<p>"The Government has recognised that our plans for a London Regional Rail Authority are practical, and I look forward to working in partnership with the DfT, TfL, SRA and the rail industry to take this forward.</p>
<p>"A London Regional Rail Authority would enable us to bring the kind of improvements seen on London's bus network and through the congestion charge to all of those Londoners who depend on the rail network."</p>
            
<ol>
<li>More than 70 per cent of all rail journeys start or finish in London 
</li><li>One third of all rail journeys are made wholly within London 
</li><li>Rail carries 42 per cent of morning peak passengers into central London 
</li><li>Londoners make seven times more rail journeys than people in other UK cities 

</li><li>More than 800,000 extra people are expected to live in London by 2016, there 
will also be 630,00 additional jobs. The capacity of London's rail network must 
grow by around 40 per cent to cope with demand 
</li><li>Seven years ago, one in 10 trains in London arrived late. It is now one in 
five. 
</li><li>Train delays are costing London's economy an estimated &pound;140 million a year 
</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The plans, which are being developed on behalf of the Mayor by Transport for London (TfL), could see the Mayor take control of all suburban commuter rail services in London. Seventy per cent of all rail journeys are made either to or from London.A London";}
        
        


 