


@{ViewBag.Title = "Camberwell Green Resurfacing Works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Camberwell Green Resurfacing Works</h1>
        <div class="content-page-press-release">
        09 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will carry out essential repairs to an area of road surface around the Camberwell Green junction over 6 consecutive nights from 22 March.
        
    </div>



 <div class="on-this-page">
<p>The junction is the major 4-way junction where the A202 Camberwell Church Street and Camberwell New Road converge with the A215 Denmark Hill and Camberwell Road.</p>
<p>To reduce the impact on traffic at the junction works will be carried out overnight from 21.00 until 05.00. However, this junction does remain busy late into the night and with traffic approaching the junction restricted to one lane in each direction these works could lead to delays. </p>
<p>TfL is committed to maintaining its roads to a high standard and apologises for any disruption these essential repair works may cause.</p>
            <ul>
<li>The proposed remedial repairs will involve milling off the surface to a depth of 100mm and replacing with new bituminous material. 
</li><li>Traffic is controlled through the junction by a complicated signal arrangement allowing all traffic movements together with pedestrian crossing points and special provision for buses. The junction must be kept open whilst the works are carried out in order to maintain access and bus routes. Diversions are not available because of the length and the signing complications of alternative routes. 
</li><li>Advance signage has been put out well in advance of the resurfacing works. </li></ul>
<p>As London's population continues to grow there will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential sustained improvement to the road network will not take place.</p>
<p><br>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The junction is the major 4-way junction where the A202 Camberwell Church Street and Camberwell New Road converge with the A215 Denmark Hill and Camberwell Road.To reduce the impact on traffic at the junction works will be carried out overnight from 21.00";}
        
        


 