


@{ViewBag.Title = "CCTV for Silverlink Metro and Wagn";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>CCTV for Silverlink Metro and Wagn</h1>
        <div class="content-page-press-release">
        12 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London(TfL), London Rail, today (17 March 2004) announced the final elements of a &pound;5 million package of investment projects on London's railways. At a ceremony, at Willesden Junction Station, Ian Brown, MD of TfL's London Rail, announced three new initiatives to make London's railways safer.
        
    </div>



 <div class="on-this-page">
<p>Working in partnership with National Express's Silverlink and Wagn franchises, the three projects are,</p>
<ul>
<li>&pound; 500,000 to equip all trains on the North London Line (North Woolwich to Richmond), and the suburban route between London Euston and Watford, with CCTV. 
</li><li>&pound; 785,000 to equip all trains on the Great Northern Inner Suburban trains, with CCTV. 
</li><li>&pound; 100,000 to upgrade CCTV at 5 stations on National Express' C2C line. The stations are Limehouse, Barking, Upminster, Dagenham Dock and Rainham. </li></ul>
<p>These projects will be implemented over the next few months and, together, represent a substantial investment in the rail network in North and East London. Other similar schemes, to improve London's stations have also been taking place all around the London rail network, principally across South London.</p>
<p>All trains running between Clapham Junction and Willesden Junction, between Watford Junction and London Euston via Wembley Central and Queens Park, and between Richmond and North Woolwich, are to be fitted with CCTV in a &pound;2.25 million on going programme of improvements from the London Rail/Silverlink partnership. </p>
<p>The new CCTV - the most up to date system - will continuously monitor both the inside of each carriage and the track ahead of the train. Should an incident occur and be reported, the pictures can be instantly downloaded providing essential information about the incident. The images, taken by vandal-proof cameras, are of a very high quality and will easily identify anyone misbehaving on the train or on or beside the tracks.</p>
<p>Commenting on the initiative, Route Director Mark Steward said "Metro services provide a quick, convenient and safe way to travel around London. Our trains must not only be safe, our passengers should feel safe. With this new CCTV system and working closely with the British Transport Police we are determined to get rid of graffiti and delays caused by vandalism, and we hope that this investment will serve to generate additional journeys, as passengers feel safer and more secure during their journey. I am extremely grateful for TfL's major contribution to the funding of the project and look forward to seeing this state of the art kit in full operation very soon ". </p>
<p>In accordance with new rail group standards the system is undergoing a four week test and the first train with fully operating CCTV will enter service at the end of March. Within the next six months all Silverlink Metro's electric fleet will be fitted with CCTV.</p>
<p>James Ratcliffe, Silverlink's engineering Director, said, "The system now being tested is state of the art equipment barely a year old. Although it is in use in the Netherlands it has not been tested on Britain's railway and we just want to make sure that it is compatible with the rest of the equipment in use. But it does demonstrate that Silverlink Metro trains will have the most sophisticated on-board CCTV in the country." </p>
<p>Ian Brown, London Rail's managing director, said: "Transport for London is in the business of improving the travelling experience for Londoners, and for all who use the rail network in the capital. I am delighted that we have been able to work in partnership with National Express on the North London Line. This route has long been in need of the investment that we have been able to provide, and announce today. In the last few months, through our funding, real improvements to train services and passenger facilities have been implemented. More specifically, the investment package revealed today, to install CCTV equipment on the trains running on the North London Line, as well as between Euston and Watford, will go a long way to reducing anti-social behaviour and will encourage more passengers to use the train service.</p>
<p>London Rail is committed to identifying more projects and ideas to improve stations and the train journey on this line as well as other London routes. This will certainly not be the last initiative to be introduced over the next few months and years."</p>
<p>In addition to the North London Line project, TfL London Rail is to invest a further &pound;785,000 to equip another whole fleet of rolling stock with CCTV equipment. This latest investment affects all Class 313 units on the Great Northern Inner Suburban routes operating from Moorgate and Kings Cross to Welwyn Garden City, Letchworth and Hertford North, through areas of North and North-East London.</p>
<p>Also, another &pound;100,000 is being invested to install and upgrade CCTV at five stations on the C2C route running out of Fenchurch Street. The stations are Rainham (Essex), Dagenham Dock, Barking, Upminster and Limehouse. </p>
<p>These initiatives are the latest in a series of passenger-focused projects funded by TfL London Rail with National Express, including the introduction of additional train services on both weekdays and at weekends, new waiting accommodation, installation of CCTV as well as the funding of a strategic study of various longer-term issues which will need to be examined to provide a high quality infrastructure and service for Londoners.</p>
<p>Announcing the news at the launch of CCTV for Silverlink trains, Ian Brown, managing director of London Rail, said: &quot;We are very pleased to be able to announce these initiatives today. It is important that Londoners who travel on these trains feel that they are safe and less threatened by anti-social behaviour. We will continue to examine, and support, a wide range of opportunities to improve the travelling experience for all Londoners in the future. We also look forward to working with National Express on specific partnership projects in the north and east of London in the next few months.&quot;</p>
            <p>For further information please contact the:<br>Silverlink Press Office on: 020 7427 2810<br>Date: 12 March 2004<br>Release: immediate</p>
<p>The new system will be demonstrated on a train at Willesden Junction from 1030 on Wednesday 17 March. You are welcome to send a reporter along.</p>
<p>The new CCTV system, the first to be fitted retrospectively to trains already in service, is the latest in a series of improvements to Metro services that have been achieved since January 2004 in co-operation with TfL. These include:</p>
<ul>
<li>new weekday evening peak services are as follows: 
</li><li>1714 and 1829 from Camden Road to Stratford 
</li><li>1748 from Stratford to Camden Road 
</li><li>an increase in frequency from 3 to 4 trains per hour between Richmond and Stratford on Saturdays</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Working in partnership with National Express's Silverlink and Wagn franchises, the three projects are,&pound; 500,000 to equip all trains on the North London Line (North Woolwich to Richmond), and the suburban route between London Euston and Watford, with";}
        
        


 