


@{ViewBag.Title = "Final stage for minicab licensing starts";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final stage for minicab licensing starts</h1>
        <div class="content-page-press-release">
        30 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Monday 5th April Vice Chairman of Transport for London, Dave Wetzel, will launch the final stage of a major operation to license London' minicab industry.
        
    </div>



 <div class="on-this-page">
<p><strong>Time/ Date: </strong><br>Monday, 5th April 2004, 1pm </p>
<p><strong>Venue: </strong><br>Hanworth Vehicle Licensing Centre, Unit 8, Links Industrial Estate, Popham Close, Hanworth, TW13 6HD (NB. The building is in the new build part of the industrial estate and has clear signage).</p>
<p><strong>Photo call: </strong><br>You are invited to send a reporter/ photographer/ film crew to see for the first time cars going through the checks that will approve a car is fit to be a licensed private hire vehicle in London. The new private hire vehicle identifying badge will also be revealed by TfL Vice Chairman Dave Wetzel.</p>
<p>Head of the Public Carriage office Roy Ellis and Licensed Private Hire Car Association Chairman, Steve Wright will be available for interview.</p>
<p><strong>Background:<br></strong>Vehicle checks will start on Thursday 8th April and from early June 2004 private hire vehicles will have to meet strict safety standards to trade legally, by either holding a license or a temporary permit from the Public Carriage Office (PCO).</p>
<p>A distinctive new disc fixed to front and rear windscreens will identify the vehicle as a licensed private hire vehicle and will be revealed for the first time at this media opportunity.</p>
<ul>
<li>Since 2001 minicab operators must hold a valid licence from the Public Carriage Office to run a service. Since 1st June 2003 it has been an offence to drive a minicab without a private hire driving licence or a temporary permit issued by the PCO. <br><br>1. A licensed private hire vehicle must: <br>
<ul>
<li>Have an identification disc fixed to the top inside of the front windscreen on the passenger side. This will include the registration mark of the vehicle, the maximum number of passengers the vehicle can carry, the London PHV licence number, a statement the licence has been issued by the Public Carriage office and the expiry of the licence; 
</li><li>Be subject to a payment of &pound;75 application fee and also a fee of &pound;25 made payable for the grant of the licence; 
</li><li>From 8th June have a vehicle licence or a temporary permit; 
</li><li>Not have signs or advertising displayed on a private hire vehicle except; badges or emblems on the radiator or windscreen which are issued by an organisation i.e. RAC or AA badges; 
</li><li>Be a light vehicle as defined by section 85 of the road traffic act; 
</li><li>Hold a valid MOT test certificates that must have been issued no more than 14 days before licence inspection; 
</li><li>Have a right hand drive; and 
</li><li>If wheelchair lifting equipment is fitted it must compliant with the Lifting Operations and Lifting Equipment Regulations Act. </li></ul></li></ul>
<p>Private Hire Vehicle owners without a license or temporary permit for their vehicle can be taken to court and fined up to &pound;2500 from early June 2004.</p>
<p>For media enquiries contact the TfL press office on 020 7941 4141 (also for out of hours) or 7941 4881.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Time/ Date: Monday, 5th April 2004, 1pm Venue: Hanworth Vehicle Licensing Centre, Unit 8, Links Industrial Estate, Popham Close, Hanworth, TW13 6HD (NB. The building is in the new build part of the industrial estate and has clear signage).Photo call: You";}
        
        


 