


@{ViewBag.Title = "Greenwich Pier is refurbished";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Greenwich Pier is refurbished</h1>
        <div class="content-page-press-release">
        18 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following a &pound;1.3m make over Greenwich Pier has re-opened and is ready for spring boat trips, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<p>Greenwich Pier is a popular tourist destination with 650,000 people landing and sailing from it every year. The refurbishment will offer visitors improved access and waiting facilities.</p>
<p>Transport for London's Head of Operations, Mike Weston said: </p>
<blockquote>
<p>&quot; I am pleased that we have refurbished Greenwich Pier in time for the busy summer season. Greenwich is a major attraction on the Thames, visited by many tourists and Londoners. This summer visitors can also enjoy a modernised pier.&quot; </p></blockquote>
<p>The National Maritime Museum's Director Roy Clare said:</p>
<blockquote>
<p>'Greenwich has been a landing place from the Capital's river since the earliest times; millions of people now use and enjoy the Thames and everyone in the Maritime Greenwich World Heritage Site is delighted that in 2004 visitors will have the benefit of greatly improved facilities at Greenwich Pier.'</p></blockquote>
<p>The completion of Greenwich Pier coincides with the extension of services by Thames Clippers to Greenwich. </p>
<p>Thames Clipper's Hurricane, a 220 seater vessel, will now run four services a day via Savoy, Blackfriars, Bankside, London Bridge, St. Katherine's, Canary Wharf, Greenland, Masthouse Terrace and Greenwich pier.</p>
<p>This summer will also see the addition of Europe's first Ramp Rider installed at <br>Greenwich Pier. This will greatly improve access for wheelchair users getting on and off boats at Greenwich. </p>
            Work on Greenwich Pier was completed by Interserve Project Services Limited on behalf of Transport for London.<br><br>2. As London's population continues to grow there will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential projects such as Greenwich Pier refurbishment and sustained improvement to the river network will not take place.<br><br>3. London River Services (LRS), took over the running of many piers from Port of London Authority's passenger piers in 1999 and became part of Transport for London on 3rd July 2000.<br><br>4. One of LRS's key tasks is to ensure the continued growth and development of river services and to see that all riverboat services are integrated, where practicable, with London's other public transport services.<br><br>5. London River Services owns and operates the following piers, Millbank Millennium, Westminster Millennium, Embankment, Festival Blackfriars Millennium, Bankside, Tower Millennium and Greenwich.
<p><br>Lisa Rooney<br>Press Officer<br>Direct line: 020 7941 4443/ 4141</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Greenwich Pier is a popular tourist destination with 650,000 people landing and sailing from it every year. The refurbishment will offer visitors improved access and waiting facilities.Transport for London's Head of Operations, Mike Weston said: &quot; I";}
        
        


 