


@{ViewBag.Title = "Increased Fine for Bus Fare Dodgers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Increased Fine for Bus Fare Dodgers</h1>
        <div class="content-page-press-release">
        19 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Sunday March 21st the penalty fare on London's buses will rise from &pound;5 to &pound;10.
        
    </div>



 <div class="on-this-page">
<p>The increased fine is the first rise since penalty fares were introduced in 1994, and will form part of an overall increase in TfL's revenue protection activity. It will provide a common penalty fare across buses and the Underground </p>
<p>Jeroen Weimar, TfL's Director of Transport Policing and Enforcement said:</p>
<blockquote>
<p>&quot;The increase is the first of its kind for 10 years, and is aimed at deterring fare evasion. &pound;10 is a more realistic penalty, and will bring the bus penalty fare into line with the Tube. At the same time, we're increasing the number of inspectors and targeting problem routes.</p>
<p>&quot;With Saver tickets and bus passes, bus travel in London represents very good value; there is no excuse for not paying the correct fare. &quot;</p></blockquote>
<p>In the last year, TfL has increased the number of inspectors by 20 per cent. Using an intelligence-led approach, inspectors now target routes where there are fare evasion issues. Inspectors also work closely with police officers from the joint TfL/Met Police Transport Operational Command Unit to identify and detain fare evaders and improve passenger security. <br><br>During the last 12 months alone London Buses has brought over 7,000 prosecutions, and issued 39,000 penalties. The average payment incurred by prosecution is &pound;100: the standard adult bus fare is &pound;1. </p>
            <ol>
<li>By March 30th 2004, TfL will have reached its target of 230 Revenue Protection Inspectors; we will be increasing recruitment during 2004. 
</li><li>The revenue collected from prosecutions is ring-fenced to go back into improvements to the bus service. 
</li><li>The joint TfL/Metropolitan Police Service Transport Operational Command Unit now numbers over 800 police officers and Police Community Support Officers. They work with TfL staff to improve passenger security and safety on public transport, improve bus flow, reduce congestion and tackle illegal taxi-touting. Over the past year they have arrested over 5,000 people since June 2002. 
</li><li>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 7,500 London buses carry 5.5 million passengers on more than 700 different routes. </li></ol>
<li>
<ol>
</ol></li><li>Key points about expanding the London bus network under the Mayor's transport policies: </li>
<li>Bus use is up by eleven per cent over the past year; </li>
<ul>
<li>The number of passengers using buses is at its highest level since 1969; 
</li><li>Patronage is rising at its fastest rate since the second world war; 
</li><li>London Buses is running the highest volume of service on London's roads than at any time since 1963. </li></ul>
<ol>
<li>For more information about London Bus Services check out <a href="http://www.tfl.gov.uk/buses" lid="http://www.tfl.gov.uk/buses" el="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a> </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The increased fine is the first rise since penalty fares were introduced in 1994, and will form part of an overall increase in TfL's revenue protection activity. It will provide a common penalty fare across buses and the Underground Jeroen Weimar, TfL's";}
        
        


 