


@{ViewBag.Title = "Londoners swap cars for public transport";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners swap cars for public transport</h1>
        <div class="content-page-press-release">
        01 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London is way ahead of many Europe cities when it comes to residents choosing to travel by public transport. Figures released today from Transport for London revealed that even more Londoners are turning to public transport and are set to continue to do so, bucking national and international trends.
        
    </div>



 <div class="on-this-page">
<p>The study shows that between 1999 and 2003:</p>
<ul>
<li>Overall, public transport's mode share in London increased by 4 per cent; 
</li><li>Travel by car has fallen by up to 4 per cent or 400,000 trips; 
</li><li>Bus travel increased by over 30 per cent or by over 1.1 million trips daily from 3.6 to 4.7 million trips per day; and 
</li><li>Train and Tube use increased by 5 per cent to 10 per cent. </li></ul>
<p>Assuming continued government grant for the capital, public transport's share of trips could grow from 36 to 39 per cent of all trips by 2016.</p>
<p>TfL's Director of Planning and Policy Barry Broe said:</p>
<blockquote>
<p>"The trend for increasing public transport use, despite growing car ownership, sets London apart from other UK and European cities. Affordable and simple fares, service improvements and the impact of congestion charging have combined to attract Londoners back to the bus and this looks set to continue.</p>
<p>"However, without increased funding from central Government, these gains are unlikely to continue. London's population is also set to grow by 800,000 by 2016, placing greater demands on public transport in London." </p></blockquote>
<p>A European Community study on transport use in European cities found that only 6 out of 17 cities had any growth in public transport use between 1991 and 2000, including a 0.3 per cent decline in Paris. The study showed that in 2000 public transport use was 28 per cent in Berlin; 19 per cent in Paris; 31 per cent in Madrid; 46 per cent in Prague; 14 per cent in Brussels and 31 per cent in Barcelona. </p>
<p>Trends for 2004 suggest that further significant growth in bus use is likely despite the new fares introduced in January 2004. Modest growth is expected in Tube and train travel. Car travel volumes are likely to continue to decline, even in outer London.</p>
            <ol>
<li>These figures are taken from TfL analysis of modal share trends presented to the TfL board in February 2004. The European results are from "Statistical Indicators on local and regional passenger transport in 40 European cities and regions, February 2002, European Commission DG Energy and Transport". </li>
<p>
<li>As London's population continues to grow there will be increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential projects such as the West London Tram and sustained improvement to the bus network and other parts of the system will not take place.</li>
<p></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The study shows that between 1999 and 2003:Overall, public transport's mode share in London increased by 4 per cent; Travel by car has fallen by up to 4 per cent or 400,000 trips; Bus travel increased by over 30 per cent or by over 1.1 million trips daily";}
        
        


 