


@{ViewBag.Title = "More funding for school cycle parking";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More funding for school cycle parking</h1>
        <div class="content-page-press-release">
        15 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London announced today a further &pound;650,000 funding to provide cycle parking to sixty London schools and colleges. This will create an extra 1,800 cycle parking spaces.
        
    </div>



 <div class="on-this-page">
<p>The first round of funding, worth &pound;470,000, has already created 1,700 new cycle parking spaces.</p>
<p>Managing Director of Surface Transport at TfL Peter Hendy said:</p>
<blockquote>
<p>"I'm delighted at the success of this project and the enthusiastic support of the boroughs and schools. Appropriate and good quality cycle parking is a key element in the delivering the Mayor's Cycling Action Plan.&quot;</p>
<p>&quot;It's great to see so many schools now properly geared up for the summer term and I'm confident that this initiative, combined with TfL's commitment to cycle training, will help parents, teachers and children to view cycling as a safe, affordable and viable option for school travel."</p></blockquote>
<p>The London Cycling Action Plan set out bold targets including a 200 per cent increase in cycling by 2020. The plan aims to see 5,000 new cycle spaces installed by the end of 2005. The additional funding will take the existing total to 3,500, well on the way to meeting the target.</p>
<p>Deputy Mayor of London Jenny Jones said:</p>
<blockquote>
<p>"This is a good example of Transport for London investing in a cleaner, less polluted future. More money spent on road safety in London means safer streets, and the funding for cycle training and parking is giving both children and their parents the confidence to get out of their cars and onto their bikes. This will make the average school run less motorised, and healthier for everyone."</p></blockquote>
<p>Schools already benefiting from cycle parking facilities include Newham Junior School (Hillingdon), Featherstone High School (Ealing) and the Clarendon School for children with special needs (Richmond).</p>
            <ul>
<li>The Mayor has identified a long-term target to increase cycling by 200% by 2020 (on year 2000 levels) 
</li><li>Creating a Chain Reaction - The London Cycling Action Plan was launched on 25 February 2004 
</li><li>The Mayor launched the Partnership behind the Cycle Parking Programme initiative on 19 June 2003 
</li><li>The Cycle Parking Programme is open to schools and colleges located in the Greater London area and which come under one or more of the following categories: Primary/Junior school; secondary school; special needs schools; 6th form colleges; and colleges of further education and Universities offering full-time courses to students aged 25 years and under. 
</li><li>Over 250 applications have been received from schools and colleges to date and over 100 have been shortlisted for the first and second stage of funding across nearly all of the London boroughs. This initiative is part of a wider programme to improve the health and well being of young Londoners by enabling them to cycle more in London. 
</li><li>Broxap Limited and F.M. Conway/Cycle-works have both been appointed to undertake the supply and installation of facilities for this programme. 
</li><li>Half of all journeys made in London are less than 2 miles; a distance easily cycled. However the level of cycling in London is relatively low compared to many other European cities. Targeting children and young people will help to reduce the number of unnecessary short car journeys and with the availability of new cycle parking facilities, cycling will now be a viable alternative to driving 
</li><li>Cycling is set to rise in the Capital as the Mayor implements his initiatives to make cycling an attractive solution for all. TfL's CCE is working with the London boroughs to overcome these barriers by improving the street environment and providing on-road training to give people the confidence they need to cycle. </li></ul>
<p>As London's population continues to grow there will be increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first round of funding, worth &pound;470,000, has already created 1,700 new cycle parking spaces.Managing Director of Surface Transport at TfL Peter Hendy said:'I'm delighted at the success of this project and the enthusiastic support of the boroughs";}
        
        


 