


@{ViewBag.Title = "PRIVATE HIRE VEHICLES - VEHICLE IDENTIFICATION DISCS";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>PRIVATE HIRE VEHICLES - VEHICLE IDENTIFICATION DISCS</h1>
        <div class="content-page-press-release">
        18 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Issue of PHV identification discsFrom 8 April 2004, the Public Carriage Office (PCO) will have the statutory authority to inspect and license private hire vehicles in London.
        
    </div>



 <div class="on-this-page">
<p>It is planned to complete the licensing of all those vehicles currently used as private hire vehicles in London by March 2005.<br></p>
<p><strong>Design and appearance of PHV identification discs<br><br></strong>One disc will be affixed in the top corner of the front windscreen, on the passenger side. A second disc will be affixed to the top corner of the rear window on the near-side. Both discs will be affixed on the inside of the glass. </p>
<p><strong>Security features </strong></p>
<p>These identification discs may only be affixed to the vehicle by Public Carriage Office vehicle inspection personnel at one of the four designated vehicle inspection centres. <br><br>The centre of the disc will incorporate: <br></p>
<ul>
<li>the copyrighted PCO hologram; and, </li>
<li>a transparent security adhesive band applied across the face of the diamond shaped interior of the disc. </li></ul>
<p>When removed, the diamond-shaped centre of the disc will disintegrate, preventing its re-use.<br></p>
<p><strong>Future re-design</strong><br><br>The PCO will monitor the effectiveness of the original design during the first 12 months of licensing. It is planned to carry out customer research to establish passenger awareness, recognition and visibility. If found to be necessary and, in the light of experience, the design may be modified to improve security, visibility, passenger awareness or recognition. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It is planned to complete the licensing of all those vehicles currently used as private hire vehicles in London by March 2005.Design and appearance of PHV identification discsOne disc will be affixed in the top corner of the front windscreen, on the";}
        
        


 