


@{ViewBag.Title = "Prosecutions bulletin - illegal minicab operators";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Prosecutions bulletin - illegal minicab operators</h1>
        <div class="content-page-press-release">
        16 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three illegal minicab operators and controllers face fines and costs totaling more than &pound;1,500 following spot checks and investigations by TfL's Public Carriage Office (PCO) as part of a drive to make minicabs safer.
        
    </div>



 <div class="on-this-page">
<p>At Brent Magistrates Court on Thursday 11th March, the PCO prosecuted three individuals who had been reported by PCO Licensing Officers for the offence of operating without a Private Hire Operators Licence for London. The operators were based in Hackney, Wood Green and Feltham.</p>
<p>Details of the prosecutions are attached.</p>
<blockquote>
<p>Public Carriage Office Director Ed Thompson said: </p>
<p>&quot;The message to illegal operators is loud and clear - we will track you down. We are well on the way to licensing the minicab industry that will raise standards to bring safer and more reliable travel to London.&quot;</p></blockquote>
<p>The offence of trading without a licence in London currently carries a maximum fine of &pound;2500.</p>
<p>Since 2001 minicab operators must hold a licence from the PCO to run a service. Since 1st June 2003 it is an offence to drive a minicab without a private hire driving licence or a temporary permit issued by the PCO. Licensing of vehicles will start in April 2004.</p>
<p><strong>Notes for Editors</strong></p>
<ol>
<li>The Public Carriage Office is responsible for licensing London's taxi and private hire services, as part of Transport for London's Surface Transport and Street Management Directorate. There are currently 2,294 licenced private hire operators in London and 38,274 drivers either with temporary permits or a full licence. 
</li><li>Since 2002 60 operators have been taken to court for operating without a licence. 
</li><li>The PCO employs 28 licensing officers who undertake 600 compliance inspections between them a month. </li></ol>
            <p><strong>Notification of Results</strong></p>
<p>There were 3 prosecution cases heard at Brent Magistrates Court on Thursday 11th March 2004.<br>All of the cases relate to individuals that have been reported for the offence of trading without a licence. </p>
<p>The results of these cases are as follows: -</p>
<p><strong>Name:</strong> Fatai Oluwole OGUNRIBIDO<br><strong>Business Name: </strong>Eclipse Exclusive Cars<br><strong>Business Address:</strong> 725 - 755 Lordship Lane, Wood Green, London N22<br><strong>Position:</strong> Operator<br><strong>Result </strong>Pleaded guilty. &pound;200 fine plus &pound;307 costs</p>
<p><strong>Name: </strong>Ade ONONIYI <br><strong>Business Name:</strong> Advance Cars<br><strong>Business Address: </strong>138b Upper Clapton Road, Hackney, London E5<br><strong>Position</strong>: Operator<br><strong>Result:</strong> Pleaded guilty. &pound;200 fine plus &pound;317 costs</p>
<p><strong>Name: </strong>Rashedi YAGENETH <br><strong>Business Name: </strong>Grosvenor Carriages <br><strong>Business Address: </strong>Falcon House, Central Way, Feltham, Middx <br><strong>Position: </strong>Operator<br><strong>Result</strong> Pleaded guilty. &pound;200 fine plus &pound;282 costs</p>
<p>For media enquiries contact the TfL press office on 020 7941 4141 (also for out of hours) or 7941 4881.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At Brent Magistrates Court on Thursday 11th March, the PCO prosecuted three individuals who had been reported by PCO Licensing Officers for the offence of operating without a Private Hire Operators Licence for London. The operators were based in Hackney,";}
        
        


 