


@{ViewBag.Title = "Rotherhithe Tunnel 48 hour Closure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rotherhithe Tunnel 48 hour Closure</h1>
        <div class="content-page-press-release">
        12 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will carry out essential repairs to Rotherhithe Tunnel for 48 hours over the weekend 27th and 28th March.
        
    </div>



 <div class="on-this-page">
<p>In order to install a new transformer system and remove the existing supply to the tunnel, electricity supplies will need to be fully switched off. With lighting ventilation and vital monitoring equipment not in operation the tunnel will be closed whilst this vital work is carried out.</p>
<p>The Rotherhithe Tunnel will close from 05.00 am Saturday 27 March until 05.00 Monday 29 March.</p>
<ul>
<li>Traffic will be diverted via Tower Bridge, no road works are scheduled on this diversion route. 
</li><li>As the Rotherhithe Tunnel does not accommodate large vehicles their journeys will remain unaffected. 
</li><li>The Blackwell Tunnel is also open to traffic on diversion. 
</li><li>The 395 bus route which runs through the tunnel will be unaffected as it will be escorted through the tunnel during works.<br>TfL is committed to maintaining its roads to a high standard and apologises for any disruption these essential improvement works may cause.</li></ul>
            <ul>
<li>A transformer receives an electrical supply from a distant source and alters its voltage so that it can be used by other equipment (in this case other equipment in the tunnel). Rotherhithe Tunnel will be receiving a new independent 11,000 volt supply with the old 415 volt supply being removed. 
</li><li>The Rotherhithe Tunnel has for many years been supplied directly from a shared Low Voltage system. Now that the tunnel is undergoing major upgrades in plant the present system is being stretched and will not be able to cope in the near future with these demands. 
</li><li>To bring the tunnel in line with other major road tunnels having their own independent electricity supplies it was essential that the present system be decommissioned. The new distribution system will enable the tunnel to run more efficiently now and in the future. </li></ul>
<p>As London's population continues to grow there will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential sustained improvement to the road network will not take place.</p>
<p>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In order to install a new transformer system and remove the existing supply to the tunnel, electricity supplies will need to be fully switched off. With lighting ventilation and vital monitoring equipment not in operation the tunnel will be closed whilst";}
        
        


 