


@{ViewBag.Title = "Sir Gulam Noon MBE appointed to TfL Board";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Sir Gulam Noon MBE appointed to TfL Board</h1>
        <div class="content-page-press-release">
        17 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Chairman and Managing Director of Noon Products Ltd, Sir Gulam Noon MBE has been appointed to the Board of Transport for London (TfL) by Ken Livingstone, Mayor of London.
        
    </div>



 <div class="on-this-page">
<p>Commenting on the appointment, Mayor of London and TfL Board Chair, Ken Livingstone, said:</p>
<blockquote>
<p>'Sir Gulam Noon's extensive business experience, his representation on many community focused boards and his role as a leading member of London's Asian community will make a significant contribution to the TfL board's strategic effectiveness. I am sure he will do an excellent job of representing Londoners' interests.'</p></blockquote>
<p>Sir Gulam joined the TfL Board as of 1 March 2004.</p>
<p>The other members of the TfL Board are:</p>
<ul>
<li>Ken Livingstone (TfL Chair), Mayor of London 
</li><li>Dave Wetzel (TfL Vice Chair), Transport for London 
</li><li>Professor David Begg, Chair Commission for Integrated Transport 
</li><li>Bob Crow, General Secretary of the Rail Maritime and Transport Union 
</li><li>Professor Stephen Glaister, Professor of Transport &amp; Infrastructure, Imperial College, London 
</li><li>Kirsten Hearn, Freelance Consultant 
</li><li>Mike Hodgkinson, Chairman of Post Office Ltd 
</li><li>Oli Jackson, Retired 
</li><li>Susan Kramer, former Liberal Democrat candidate for Mayor of London 
</li><li>Paul Moore, Lay Official of the Communication Workers Union 
</li><li>Murziline Parchment, Policy Director in the Mayor's Office 
</li><li>David Quarmby, Chairman of Sea Britain 2005 Steering Group at the National Maritime Museum, Greenwich and Deputy Chair, SRA 
</li><li>Tony West, Retired </li></ul>
<p>Special Advisors to the TfL Board:</p>
<ul>
<li>Bryan Heiser 
</li><li>Lynn Sloman </li></ul>
            <ul>
<li>The TfL Board is appointed by the Mayor of London 
</li><li>According to the Greater London Authority Act (1999), the TfL Board should consist of a minimum of eight members, including the Chair, and a maximum of 15. The appointment of Sir Gulam Noon takes the number of TfL Board members to 13.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Commenting on the appointment, Mayor of London and TfL Board Chair, Ken Livingstone, said:'Sir Gulam Noon's extensive business experience, his representation on many community focused boards and his role as a leading member of London's Asian community";}
        
        


 