


@{ViewBag.Title = "Statement: Bendy bus fire";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Statement: Bendy bus fire</h1>
        <div class="content-page-press-release">
        22 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A bendy bus on route 436 caught fire in London on Saturday 20th March at 1815. Operated by London Central, the bus was on Park Lane travelling northbound when the engine caught fire. Approximately 30 passengers were safely evacuated and there were no injuries to them, the driver or other road users. London Fire brigade attended, but aided by strong winds, the vehicle was gutted.
        
    </div>



 <div class="on-this-page">
<p>This is the third incident of a bus in service suffering from an engine fire since December 2003. Previous incidents were also on route 436 buses on the Edgware Road (December) and in Camberwell (February). Fortunately there has been no injury of loss of life in any of the three incidents, nor in any other bus fire in London.</p>
<p>Following a high-level meeting today between TfL, Mercedes (the bus manufacturer) and London Central (route 436 operator) the following actions were agreed:</p>
<ol>
<li>Route 436 buses (on which all three fires have occurred) will be rigorously examined by Mercedes engineers tonight and inspected each subsequent night; 
</li><li>All other Mercedes buses (150), both single-deck and articulated, in London will also be examined nightly by qualified technical engineers; 
</li><li>Fire suppression equipment will be fitted in the engine compartments of all Mercedes buses in London - the first fitment starts today on a route 436 bus. All route 436 buses will be completed by the end of next week and all Mercedes buses in London by the end of April; and 
</li><li>TfL will organise an independent review of all three fires with the co-operation of Mercedes technical expertise and vehicle operators and will seek involvement of the London Fire Brigade and of the Department of Transport Vehicle Inspectorate. This will start as soon as possible and will be completed by the end of April. </li></ol>
<p>For press enquiries contact the TfL press office on 020 7941 4141.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is the third incident of a bus in service suffering from an engine fire since December 2003. Previous incidents were also on route 436 buses on the Edgware Road (December) and in Camberwell (February). Fortunately there has been no injury of loss of";}
        
        


 