


@{ViewBag.Title = "TfL Consults Boroughs on Local Implementation Plan Guidance";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Consults Boroughs on Local Implementation Plan Guidance</h1>
        <div class="content-page-press-release">
        02 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On behalf of the Mayor, Transport for London (TfL) has started consultation with the boroughs over draft guidance on transport Local Implementation Plans (LIPs), which aim to improve the integration of transport delivery across London.
        
    </div>



 <div class="on-this-page">
<p>The GLA Act states that London boroughs must prepare LIPs containing their proposals for the implementation of the Mayor's Transport Strategy in their area. TfL has drafted guidance, at the Mayor's request, to help the boroughs achieve this and is now asking for feedback.</p>
<p>LIPs will reflect the Mayor's Transport Strategy's requirements for local transport improvements. Priorities for LIPs include: </p>
<ul>
<li>Improving road safety 
</li><li>Improving bus reliability 
</li><li>Relieving traffic congestion 
</li><li>Improving parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure to a state of good repair </li></ul>
<p>The Mayor, Ken Livingstone said</p>
<blockquote>
<p>&quot;This is a step forward in delivering improvements to London's transport system. I recognise that boroughs are already achieving much in implementing the Transport Strategy and I see LIPs as helping to consolidate and build on these achievements.</p>
<p>&quot;This is a two-way process which is why we are asking the boroughs, from now until the end of April, to feed back their views on the draft Guidance. I expect that a decision to issue the finalised Guidance will be taken after the Mayoral Elections in June 2004.&quot; </p></blockquote>
<p>Ben Plowden, Director, TfL Borough Partnerships said:</p>
<blockquote>
<p>&quot;The development of LIPs will be a challenge for all involved. But I believe it represents an important opportunity to build on good working relationships between TfL and the boroughs. However further improvements to London 's transport system require additional funding from Government to support essential projects and sustained improvements across the network.&quot;</p></blockquote><!-- <p>For further information visit <a href="http:www.tfl.gov.uk/lips">www.tfl.gov.uk/lips</a></p>-->
<p>Emily O'Regan<br>Senior Media Officer<br>Email: <a href="mailto:emilyoregan&#64;tfl.gov.uk" lid="emilyoregan&#64;tfl.gov.uk">emilyoregan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4883</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The GLA Act states that London boroughs must prepare LIPs containing their proposals for the implementation of the Mayor's Transport Strategy in their area. TfL has drafted guidance, at the Mayor's request, to help the boroughs achieve this and is now";}
        
        


 