


@{ViewBag.Title = "TfL Launches Women's Action Plan";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Launches Women's Action Plan</h1>
        <div class="content-page-press-release">
        04 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London will unveil its first Women's Action Plan at the Mayor's 4th annual capitalwoman conference on Saturday 6 March 2004 and is encouraging women to have their say.
        
    </div>



 <div class="on-this-page">
<p>Pip Hesketh, Head of Equality and Inclusion for TfL said: "TfL has already begun to develop a much better understanding of women's transport requirements and has made improvements in many areas including improved safety and a transport system that is more closely aligned to women's lifestyles. </p>
<p>"However, this is just the start. We acknowledge there is a long way to go before getting things completely right and we will be interested to hear your thoughts on the plan or any other transport issues for women you feel we are not adequately addressing."</p>
<p>The main issues the Women's Action Plan addresses are:</p>
<ul>
    <li>To outline new actions that demonstrate TfL's commitment to expand the travel choices and improve the journey experiences of women
    </li>
    <li>To recruit more women in the transport industry, particularly as drivers and engineers
    </li>
    <li>To present TfL's current understanding of the particular issues for women in London and indicate the existing provisions put in place by TfL to address these issues
    </li>
    <li>To highlight and communicate the actions we are taking on behalf of women </li>
</ul>
<p>The Women's Action Plan is an important step in taking forward a focused strategy for women's travel. It also outlines TfL's commitment to provide better transport for women by an organisation run equally well at every level by women and men.</p>
<p>Peter Hendy, Managing Director of Surface Transport said: </p>
<p>"TfL knows that women have different lifestyle requirements and transport needs to men and are working to make transport a better place for women travelling around the Capital. This includes safety and security initiatives such as the Safer Travel at Night campaign, more attractive fares packages, and improvements to services with increased frequency and reliability and improved local links to essential amenities allowing women an equal opportunity to participate fully in society."</p>
<p>Tim O'Toole, Managing Director London Underground said: </p>
<p>"TfL is already undertaking proactive measures to employ women across the operation on the Tube, on buses and in taxis. Thanks to initiatives such as special recruitment exhibitions, we are seeing even graduates swapping jobs in banking and teaching to become Tube drivers. </p>
<p>"However, according to recent figures women only account for 6%(7) of Tube drivers. We feel we could tap further into female talent and want to see more women driving trains, working in the bus industry - including as bus drivers - and in other stereotypically male roles such as engineering."</p>
<ol>
    <li>The capitalwoman conference is a London-wide day of celebration, debate and consultation for the women of London </li>
    <li>The capitalwoman conference is held annually on the Saturday nearest to International Women's Day. The first conference was held in March 2001 </li>
    <li>TfL's Equality and Inclusion Team reports to the Commissioner for Transport and provides a strategic resource to tackle discrimination, social inequality and exclusion both within the workforce and the transport services that it provides </li>
    <li>The actions the Women's Action Plan are to a large extent dependent on the outcome of the funding round currently under consideration by the DfT and Treasury </li>
    <li>Copies of TfL's Women's Action Plan are available <a href="/assets/downloads/wap-english.pdf">here</a> </li>
    <li>Based on workforce composition data October 2003 <br />
    <ol>
    </ol>
    </li>
    <li>Total no. of LU employees 12,502 </li>
    <li>Total no. of women 2,122 17% of the workforce </li>
    <li>Total no. of women in operational roles 1,308 13.8% </li>
    <li>Total no. of women train operators 194 6.1% </li>
    <li>All TfL's Current Job Opportunities can be viewed <a href="https://careers.tfl.gov.uk/fe/tpl_tfl01SSL.asp?newms=se">here</a></li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Pip Hesketh, Head of Equality and Inclusion for TfL said: &quot;TfL has already begun to develop a much better understanding of women's transport requirements and has made improvements in many areas including improved safety and a transport system that is";}
        
        


 