


@{ViewBag.Title = "Transport Policing: Results Bulletin";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Policing: Results Bulletin</h1>
        <div class="content-page-press-release">
        16 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Metropolitan Police Service's Transport Operational Command Unit (TOCU), funded by the Mayor and operated in partnership with Transport for London, made nearly 500 arrests during January new figures reveal today.
        
    </div>



 <div class="on-this-page">
<p>The unit, which is unique in the UK, specialises in deterring and tackling crime and congestion on London's bus network as well as enforcing the law in relation to taxi and private hire vehicles. </p>
<p>Bus related operations during January 2004 led to 396 arrests and the issue of 8,955 traffic tickets (including offences in bus lanes and red route offences). The cab enforcement section made 85 arrests, 73 of which were for touting. This brings the total TOCU arrests since June 2002 to 5,186. </p>
<p>Key activity during January 2004 included:</p>
<ul>
<li>On 13th January two boys in their mid-teens from the Charlton area of Greenwich were arrested by TOCU police officers for committing criminal damage by fire. They set fire to paper and rubbish on the top deck of a 422 bus which was travelling through Charlton village. No-one was injured. CCTV installed on the bus secured the youth's arrest and they were subsequently cautioned. 
</li><li>A 21 year-old man from SW11 was found guilty of theft at West London Magistrates Court on 13th February following his arrest by TOCU plain-clothes officers who were working in Hammersmith. He was found to be in the possession of a Freedom disability travel pass (reported to be worth in excess of &pound;4000). 
</li><li>A 21 year-old man was found guilty of theft at Bow Street Magistrate Court on 27th February and sentenced to six months in prison. The victim, a man in his 40s, was sat on a bench inside Victoria Coach Station on 30th January when the suspect stole his laptop which was on the floor underneath the seat. Two TOCU Police Community Support Officers (PCSOs) witnessed the incident and detained the suspect who was arrested by police officers and charged. </li></ul>
<p>During January the Cab Enforcement Team conducted numerous operations all over London including Ilford, Shoreditch and the West End to tackle illegal taxi touts.</p>
            <ol>
<li>The Transport Operational Command is funded by the Mayor and operated by the Metropolitan Police in conjunction with Transport for London. It was launched in July 2002. 
</li><li>The agreement between Transport for London and the Metropolitan Police Service sets the following objectives for the unit: </li></ol>
<ul>
<li>To ensure that the public and staff feel safe using the bus infrastructure on agreed routes and corridors and other priority locations; 
</li><li>To ensure the efficient movement of buses on agreed routes and corridors and other agreed priority locations on the London Bus Network; 
</li><li>To enforce laws relating to taxis and private hire vehicles within the Metropolitan Police District to ensure safety of the public, focusing on agreed priority locations; and 
</li><li>To assist the control and where possible the reduction of congestion at agreed priority locations within the Metropolitan Police District. </li></ul>
<ol start="3">
<li>A joint intelligence operation and control centre form the unit's nerve centre in Victoria. Police, Traffic Police Community Support Officers work alongside revenue protection officials and TfL route co-ordinators, patrolling key bus route, and responding to incidents. 
</li><li>The unit currently has 302 police officers; 435 traffic PCSOs, 27 traffic wardens and 33 civilians. At full strength it will have 926 members of staff. </li></ol>
<p>For media enquiries contact Julia Hucker, TfL on 020 7941 4881 or Kirsten Ross, Met on 020 7321 9057<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The unit, which is unique in the UK, specialises in deterring and tackling crime and congestion on London's bus network as well as enforcing the law in relation to taxi and private hire vehicles. Bus related operations during January 2004 led to 396";}
        
        


 