


@{ViewBag.Title = "West London Tram Progress";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>West London Tram Progress</h1>
        <div class="content-page-press-release">
        08 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor Ken Livingstone today outlined the progress made by Transport for London (TfL) on the proposed West London Tram (WLT) scheme, ahead of detailed discussion with local community groups in the coming weeks.
        
    </div>



 <div class="on-this-page">
<p>Initial proposals for the tram scheme were published in 2003. Since then, TfL has been working closely with the Boroughs and seeking the views of the community.</p>
<p>TfL's revised proposals give the tram high priority over other traffic and would involve a small number of closures and require acquisition of nine properties. The proposals balance the needs of residents, road users and the tram, whilst ensuring that the business case for the tram continues to add up.</p>
<p>Ken Livingstone said:</p>
<blockquote>
<p>" TfL are working closely with the local community and have developed a wide range of options suggested by local groups and the boroughs for each part of the route. They will now report back to the community explaining the processes they have gone through in developing, considering and deciding between each of these options.</p>
<p>&quot;Following these local briefings, the team will deposit a wide range of background information on the project in Town Halls and reference libraries along the route in April. This will include drawings outlining the 'pre-consultation design' that in my view is emerging as the frontrunner. This design would involve a small number of road closures and the acquisition of a small number of properties, numbering around 9, would be necessary. All owners and occupiers of properties which will be affected are being informed of the position and of TfL's commitment to relocate people locally and give first option to return where replacement property can be built.</p>
<p>"This is a flagship project for TfL and is at the heart of my strategy designed to meet the transport needs of a growing city. However, it is only with the support of the people of West London that we can make this project a success. TfL will carry out a further three month full public consultation in the summer to ensure that everyone affected by these proposals will have a genuine opportunity to have their say.&quot;<br></p></blockquote>
            <p><strong>Next Steps</strong></p>
<ol>
<li>A full public consultation programme will begin in late June and run through until September, which will include roadshow exhibitions at venues along the route. 
</li><li>These events will display the emerging preferred scheme in detail together with other viable options; and also explain the process through which the team have reached their conclusions. 
</li><li>Technical experts will be on hand at all venues to explain and discuss issues and options. 
</li><li>The new Mayor will then receive a full report of the consultation, and the technical and environmental documents to enable a final decision on whether to seek formal powers to construct the scheme. If the Mayor agrees then TfL can submit the application for powers under the Transport &amp; Works Act. 
</li><li>A public inquiry would then follow in summer / autumn 2005, and if successful construction would begin in 2007 with the first trams running in 2011 </li></ol>
<p>For further information please contact the Transport for London press office on 020 7941 4883 or the Mayor of London's press office on 020 7983 4714.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Initial proposals for the tram scheme were published in 2003. Since then, TfL has been working closely with the Boroughs and seeking the views of the community.TfL's revised proposals give the tram high priority over other traffic and would involve a";}
        
        


 