


@{ViewBag.Title = "Withdrawal of Mercedes Citaro buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Withdrawal of Mercedes Citaro buses</h1>
        <div class="content-page-press-release">
        24 March 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London, on the advice of Mercedes to their contracted operators in London, advises the withdrawal of all Citaro buses from service whilst modifications are made.
        
    </div>



 <div class="on-this-page">
<p>A Transport for London spokesperson said:</p>
<blockquote>
<p>"We were advised by the manufacturers late last night that they wished to withdraw all 150 Mercedes Benz Citaro buses from service. The recommendation was made as part of the round-the-clock investigations into the fire onboard one of these buses at the weekend. The withdrawal will allow the manufacturers to carry out modifications to the buses. The work started this morning and should be completed within a week."</p>
<p>"TfL's primary concern is passenger safety. We do apologise for any inconvenience but our primary concern is to run a safe service."</p></blockquote>
<p>There are around 150 Citaro buses in London, approximately 130 of these are bendy buses and the rest are single deck buses. </p>
<p>Hans Smits, Managing Director of Evobus UK (part of Mercedes), said: </p>
<blockquote>
<p>"Based on the results of the technical investigation into the Mercedes Benz Citaro bendy bus fire of last Saturday, 20 March, Evobus have decided that certain modifications to all Citaro buses in London are necessary. In order not to take any risk, these vehicles have been taken out of service until these modifications have been completed. Modification work has started and will be completed within one week. After implementation, these vehicles can be operated without restriction." </p></blockquote>
<p>Service alterations for Wednesday 24 March: </p>
<p>Route 18 - reduced double deck service <br>Route 293 - normal service <br>Route 436 - extra buses on route 36 to replace 436 and extra buses on route 185 <br>Route 453 - extra buses on route 53 to replace route 453 <br>Route 507 - reduced double deck service <br>Route 521 - no service <br>Route RV1 - reduced double deck service </p>
<p>Extra staff are on hand to help passengers at London Bridge and Waterloo.</p>
<p>For media enquiries please telephone the TfL press office 020 7941 4141</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A Transport for London spokesperson said:'We were advised by the manufacturers late last night that they wished to withdraw all 150 Mercedes Benz Citaro buses from service. The recommendation was made as part of the round-the-clock investigations into the";}
        
        


 