
    
  



@{ViewBag.Title = "Bus & Tram Pass";}
@{ViewBag.Keywords = "TfL,Bus & Tram Pass, Bus, Tram, unlimited travel";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus & Tram Pass</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus & Tram Pass</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can get unlimited travel on buses and trams across London.
        
      </div>
    
    <div class="on-this-page">
      <h2>Types of Bus &amp; Tram Pass </h2>
<p>You can travel as much as you like across London at any time with two types of Bus &amp; Tram Pass.</p>
<h3>One Day Bus &amp; Tram Pass</h3>
<p>You get unlimited travel on buses and trams for one day. You can travel from 00:01 on the day of your ticket until 04:30 the next day.</p>
<h3>Bus &amp; Tram Pass season ticket</h3>
<p>You can buy a 7 Day, Monthly or Annual Bus &amp; Tram Pass and add it to your Oyster card.</p>
<p>Annual Bus &amp; Tram Passes give you 12 months travel for the price of ten and a half.</p>
<p>Monthly Bus &amp; Tram Passes are cheaper than buying four 7 Day Bus &amp; Tram Passes.</p>
<p>Your Bus &amp; Tram Pass can start on any day of the week and can be used for journeys that start before 04:30 the day after the expiry date.</p>
<h2>How much does it cost?</h2>
<p>Find the <a href="/fares/find-fares/bus-and-tram-fares">price of a Bus &amp; Tram Pass</a>.</p>
<h2>Where to buy</h2>
<p>Find out <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">where to buy Bus &amp; Tram Passes</a>.</p>
<h2>Related content</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/overlapping-travelcard-or-bus-and-tram-pass">Overlapping Travelcard or Bus &amp; Tram Pass</a></li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out what Bus & Tram Passes are and how to use them";}
        
            
        


 