
    
  



@{ViewBag.Title = "Buying tickets and Oyster";}
@{ViewBag.Keywords = "TfL,Tickets, Oyster, buy tickets, buy Oyster card, buy Oyster";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
            
                <li><span class="last-breadcrumb">Buying tickets and Oyster</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Buying tickets and Oyster</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can buy tickets and Oyster cards online and from places across London.
        
      </div>
    
    <div class="on-this-page">
      <h2>Oyster</h2>

<p>You can get an <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a>:</p>

<ul>
	<li>Online with a <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a>, if you live in the UK</li>
	<li>At <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a> in many newsagents in London</li>
	<li>At all Tube, London Overground and most TfL Rail stations</li>
	<li>Some DLR and National Rail stations</li>
	<li>At <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></li>
	<li>At the Tramlink Shop in Croydon</li>
</ul>

<p>You need to pay &pound;5 for an Oyster card.</p>

<p>If you got your Oyster card before 23 February 2020, you can get your &pound;5 refunded when you don't need your card anymore. If you got your Oyster card on or after this date, you can get your &pound;5 refunded once you've used it for one year.</p>

<p>Oyster cards aren't accepted at stations between Reading and Iver.</p>

<h3>Buying multiple Oyster cards</h3>

<p>If you're&nbsp;buying more than ten Oyster cards, call <a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may apply</a>).</p>

<p>You'll receive an invoice for payment and once made, all cards are delivered to one address.</p>

<h2>Topping up pay as you go credit</h2>

<p>Top up your Oyster card:</p>

<ul>
	<li>Online with a <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a>, if you live in the UK</li>
	<li>Using the free <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></li>
	<li>At <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a> in many newsagents in London</li>
	<li>At ticket machines at all Tube, London Overground and most TfL Rail stations</li>
	<li>At some DLR and National Rail stations</li>
	<li>At London Overground, most TfL Rail and some National Rail ticket offices</li>
	<li>At <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></li>
	<li>At the Tramlink Shop in Croydon</li>
	<li>At Emirates Air Line terminals</li>
</ul>

<h2>Bus &amp; Tram Pass</h2>

<p>You can buy a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a>:</p>

<ul>
	<li>Online with a <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a>, if you have a UK bank account (7 Day, Monthly and Annual Passes)</li>
	<li>Using the free <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a> (7 Day, Monthly and Annual Passes)</li>
	<li>At <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a> in many newsagents in London (One Day, 7 Day and&nbsp;Monthly&nbsp;Passes)</li>
	<li>London Overground and most TfL Rail ticket offices (One Day paper ticket)</li>
	<li>From ticket machines at Tube, London Overground and most TfL Rail stations (One Day paper ticket, 7 Day and Monthly)</li>
	<li>At <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a> (One Day paper ticket, 7 Day, Monthly and Annual Passes)</li>
</ul>

<h2>Single and return tickets</h2>

<p>You can buy <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">paper tickets for single and return journeys</a> on Tube, DLR, London Overground, TfL Rail and National Rail services:</p>

<ul>
	<li>From ticket machines at Tube, DLR, London Overground, TfL Rail and National Rail stations</li>
	<li>From ticket offices at London Overground, TfL Rail and National Rail stations</li>
</ul>

<h2>Travelcards</h2>

<p>You can buy <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Day Travelcards</a> (paper ticket):</p>

<ul>
	<li>From ticket machines at Tube, DLR, London Overground, TfL Rail and National Rail stations</li>
	<li>From ticket offices at London Overground, TfL Rail and National Rail stations</li>
	<li>At <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></li>
	<li>At the Tramlink Shop in Croydon</li>
</ul>

<p>You can buy <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards</a> on Oyster:</p>

<ul>
	<li>Online with a <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a>, if you have a UK bank account (7 Day, Monthly, 3 month, 6 month or odd period and Annual Travelcard)</li>
	<li>Using the free <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a> (7 Day, Monthly and 3 or 6 month and Annual Travelcard)</li>
	<li>At <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a> in many newsagents in London (7 Day and Monthly Travelcards)</li>
	<li>At ticket offices at London Overground, most TfL Rail and National Rail stations (7 Day, Monthly, 3 month, 6 month or odd period and Annual Travelcard)</li>
	<li>At ticket machines at Tube, London Overground, most TfL Rail and National Rail stations (7 Day or Monthly Travelcard)</li>
	<li>At <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a> (All Visitor Centres sell 7 Day and Monthly Travelcards. Heathrow, King's Cross, Liverpool Street, Piccadilly Circus and Victoria Visitor Centres sell 3 month, 6 month and odd period Travelcards)</li>
</ul>

<h2>Register your card</h2>

<p><a href="/fares/contactless-and-oyster-account">Create a contactless and Oyster account</a> and add your card to it. If you don't and you lose your card or it gets stolen, you can't get a refund or replacement.</p>

<h2>Tickets for visitors</h2>

<p>You buy a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a> to pay as you go or a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard</a> (paper ticket) in advance, from:</p>

<ul>
	<li><a href="https://visitorshop.tfl.gov.uk/tfl/london-travelcard/">Visitor Shop</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster/buying-tickets-from-abroad">Buying tickets from abroad</a></li>
	<li><a href="https://www.visitbritainshop.com/world/">VisitBritain</a></li>
	<li>Gatwick Airport &#45; Information Centre, Gatwick Express ticket office, terminal desks and the Southern Railways ticket office</li>
	<li>Stansted Airport &#45; Information Centre, Stansted Express ticket office and the National Express coaches ticket office</li>
	<li>On board Eurostar trains to London</li>
	<li><a href="https://www.superbreak.com/visit-london">Superbreak</a></li>
	<li><a href="https://www.londonpass.com/">The London Pass</a></li>
</ul>

<p>You can buy a 2 Day or 3 Day <a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay/visitor-pass">Visitor Pass</a> at some Tube stations and all Visitor Centres in London.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster/buying-tickets-from-abroad">Buying tickets from abroad</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Buy tickets and Oyster cards online and from many places across London.";}
        
            
        


 