
    
  



@{ViewBag.Title = "Single and return tickets";}
@{ViewBag.Keywords = "TfL,Single tickets, return tickets, paper tickets, single and return tickets, one way tickets";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
            
                <li><span class="last-breadcrumb">Single and return tickets</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Single and return tickets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can buy a paper ticket for single and return Tube and rail journeys.
        
      </div>
    
    <div class="on-this-page">
      <h2>Why buy this ticket?</h2>
<p>You can buy a single and return ticket if you don't travel regularly, you're making a one-off journey, or want the ticket for expenses.</p>
<p>However, it's cheaper to pay as you go for your travel using <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device) or an <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a>.</p>
<p>For expenses, it's easy to use an <a href="/fares/contactless-and-oyster-account">Oyster and contactless account</a>.</p>
<h2>How much does it cost?</h2>
<p>Find the price for a single journey on our <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">single fare finder</a>. A return fare is double the price of a single fare. You'll be given a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Day Travelcard</a> if it's cheaper.</p>
<h2>Where can I use it?</h2>
<p>You can buy single and return tickets for travel on Tube, DLR, London Overground, TfL Rail and National Rail services.</p>
<h2>Where to buy</h2>
<p>You can buy single and return tickets from ticket machines at Tube, DLR, London Overground, TfL Rail and National Rail stations.</p>
<h2>Related content</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/unused-one-day-single-or-return-paper-ticket">Unused single, return or day paper ticket</a></li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Details about single and return paper tickets for travel on TfL services in London";}
        
            
        


 