
    
  



@{ViewBag.Title = "TfL Oyster and contactless app";}
@{ViewBag.Keywords = "TfL,Contactless app, oyster app, oyster card, contactless card";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
            
                <li><span class="last-breadcrumb">TfL Oyster and contactless app</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>TfL Oyster and contactless app</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our free app lets you manage your contactless and Oyster cards on the go.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/oyster-app_rdax_400x250.jpg" alt="Oyster card on a yellow background" />
        
        
        
    </div>
    <h2>Why use the app?</h2>

<ul>
	<li>Top up your pay as you go credit and get notifications when it gets low</li>
	<li>Check your journey history</li>
	<li>See if you have incomplete journeys</li>
	<li>Buy adult rate <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards</a> and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Passes</a> valid between seven days and 12 months</li>
	<li>Get notifications before your Travelcard and Bus &amp; Tram Pass expires</li>
	<li>Manage multiple season tickets and cards on the go</li>
</ul>
 </div>
 <div>

<p>We're developing new features:</p>

<ul>
	<li>Use the app if you get <a href="/fares/free-and-discounted-travel">free and discounted travel</a></li>
</ul>

<h2>Download the app</h2>

<p><a href="https://itunes.apple.com/gb/app/tfl-oyster/id1179420088"><img alt="Apple App Store" src="/cdn/static/cms/images/appstorelogo.jpg" /> </a>&nbsp;<a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless"><img alt="Google Play Store" src="/cdn/static/cms/images/google-play-logo.jpg" /> </a></p>

<h2>How to top up</h2>
</div>
 <div>

<ol>
	<li>Top up on the app</li>
	<li>Wait 30 minutes (it's often quicker)</li>
	<li>Touch&nbsp;in&nbsp;on a yellow card reader with your Oyster card to add your&nbsp;top up</li>
</ol>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/app-top-up.jpg" alt="Pound sign pointing to an Oyster card, then 30 minutes on a clock, then the Oyster card touching a yellow card reader" />
        
        
        
    </div>   
 </div>
 <div>

<h2>First-generation&nbsp;Oyster cards</h2>

<p>If you have an older, <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app/first-generation-oyster-cards">first-generation Oyster card</a>, you can't use it with the app.</p>

<p>You can <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">replace it&nbsp;with a new Oyster card </a>to use the app.</p>

<h2>Give us feedback</h2>

<p>You can <a href="/help-and-contact/contact-us-about-the-tfl-oyster-app">give us feedback on the app</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app/first-generation-oyster-cards">First-generation Oyster cards</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The free TfL Oyster and contactless app lets you top up and manage your contactless and Oyster cards on the go.";}
        
            
        


 