
    
  



@{ViewBag.Title = "Travelcards and group tickets";}
@{ViewBag.Keywords = "TfL,Travelcards, Day Travelcards, group tickets";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
            
                <li><span class="last-breadcrumb">Travelcards and group tickets</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Travelcards and group tickets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can travel as much as you like at any time with a Travelcard.
        
      </div>
    
    <div class="on-this-page">
      <h2>Travelcards</h2>

<p>A Travelcard gives you unlimited travel at any time on bus, Tube, Tram, DLR, London Overground, TfL Rail and National Rail services in London.</p>

<h2>Types of Travelcards</h2>

<h3>Day Travelcard</h3>

<p>You can get unlimited travel in one day with a Day Travelcard (paper ticket):</p>

<ul>
	<li>Anytime Day Travelcards: use for the date on the ticket and for journeys starting before 04:30 the next day</li>
	<li>Off-peak Day Travelcards: use from 09:30 (Monday to Friday), anytime on weekends or bank holidays for the date on the ticket and for journeys starting before 04:30 the next day</li>
</ul>

<h3>Group Day Travelcard</h3>

<p>You can get unlimited travel with a <a href="/fares/find-fares/tube-and-rail-fares">Group Day Travelcard</a> (paper ticket) if you're a group of ten or more travelling together.</p>

<p>You can travel from 09:30 (Monday to Friday), anytime on weekends or bank holidays for the date on the ticket and for journeys starting before 04:30 the next day.</p>

<h3>Travelcard season tickets</h3>

<p>You can buy a 7 Day, Monthly, 3 month, 6 month, odd period or Annual Travelcard season ticket.</p>

<p>Annual Travelcards give you 12 months travel for the price of ten and a half.</p>

<p>Monthly Travelcards are cheaper than buying four 7 Day Travelcards.</p>

<p>Your Travelcard season ticket can start on any day of the week and can be used at any time.</p>

<p>You can also travel before 04:30 on the day after the expiry date.</p>

<h2>Where can I use Travelcards?</h2>

<h3>Buses and trams</h3>

<p>You can use Travelcards on all buses. If your Travelcard is valid in Zones 3, 4, 5 or 6, you can use it on all trams.</p>

<h3>Tube, DLR, London Overground, TfL Rail and National Rail</h3>

<p>You can use a Travelcard in the zones it's valid for. Make sure it covers all the zones you travel through. If not, you need to add pay as you go credit to your <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a> or buy an extension ticket.</p>

<h3>Emirates Air Line</h3>

<p>You can use your Travelcard to get discounts off fares for the <a href="/modes/emirates-air-line/index">Emirates Air Line</a>.</p>

<h3>River services</h3>

<p>You can use your Travelcard to get 1/3 off <a href="/modes/river/index">River Boat</a> fares on some services.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Where to buy Travelcards and group tickets</a></li>
	<li><a href="/fares/refunds-and-replacements/overlapping-travelcard-or-bus-and-tram-pass">Overlapping Travelcard or Bus &amp; Tram Pass</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></li>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a></li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What Travelcards and group tickets are and where they can be used ";}
        
            
        


 