
    
  



@{ViewBag.Title = "What's the best ticket for me?";}
@{ViewBag.Keywords = "TfL,Oyster card, contactless, Travelcards, Point to point tickets, Bus & Tram Pass, free and discounted travel, tickets";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
            
                <li><span class="last-breadcrumb">What's the best ticket for me?</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>What's the best ticket for me?</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We'll help you choose the best way to pay for your travel.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/best-ticket-for-me-large.jpg" alt="Directional signpost with different ticket types" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Pay as you go</h2>

<p>You can use contactless (card or device) or an Oyster card to pay as you go on bus, Tube, tram, DLR, London Overground, most&nbsp;TfL Rail services, Emirates Air Line and River Bus services.</p>

<p>You can also travel on most National Rail services in London and some <a href="/fares/find-fares/national-rail-fares-beyond-zone-9">outside London</a>.</p>

<h3>Oyster card</h3>

<p>You can use an <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster card</a>.</p>

<h4>Benefits</h4>

<ul>
	<li>You only pay for the journeys you make</li>
	<li>Travel all over the transport network at any time</li>
	<li>Your fares may be <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">capped</a> so you don't pay more (cheaper than a Day Travelcard) if you make multiple journeys in one day</li>
	<li>Top up your card and check your journey history with a <a href="https://contactless.tfl.gov.uk/">contactless and Oyster account</a> or our free <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></li>
	<li>If you're visiting London, you can also buy a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a> and get special offers and discounts</li>
</ul>

<p>Oyster cards aren't accepted at TfL Rail stations between Reading and Iver.</p>

<h3>Contactless</h3>

<p>You can use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a> (card or device).</p>

<h4>Benefits</h4>

<ul>
	<li>You only pay for the journeys you make</li>
	<li>Pay for your journeys as you travel with no need to top up</li>
	<li>Travel all over the transport&nbsp;network at any time</li>
	<li>Your fares may be <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">capped</a> so you don't pay more if you make multiple journeys in one day or week (Monday to Sunday)</li>
	<li>Check your journey history with a <a href="https://contactless.tfl.gov.uk/">contactless and Oyster account</a> or our free <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></li>
</ul>

<p>Journeys on TfL Rail to or from Reading or Iver aren't included in caps.</p>

<h2>Travelcards</h2>

<p>You can use a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard</a>.</p>

<h3>Benefits</h3>

<ul>
	<li>Make unlimited journeys in the zones covered by your Travelcard</li>
	<li>Travel on bus, Tube, tram, DLR, London Overground, TfL Rail, Emirates Air Line, River Bus and National Rail services in London</li>
	<li>7 Day, Monthly, odd period and Annual Travelcards are available to save you time and money</li>
	<li>Day Travelcards are available for Zones 1-9 (using pay as you&nbsp;go with daily <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">capping</a> is cheaper)</li>
	<li>Group Day Travelcards are available for groups of ten or more</li>
	<li>If you're visiting London, you can also buy a 2 Day or 3 Day <a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay/visitor-pass">Visitor Pass</a></li>
</ul>

<h2>Point to point tickets</h2>

<p>You can use <a href="http://www.nationalrail.co.uk/times_fares/ticket_types.aspx">point to point tickets</a>.</p>

<h3>Benefits</h3>

<ul>
	<li>Get unlimited travel between any two National Rail stations which is cheaper than a Travelcard</li>
</ul>

<h2>Bus &amp; Tram Pass</h2>

<p>You can use a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a>.</p>

<h3>Benefits</h3>

<ul>
	<li>Unlimited journeys on all buses and trams across London</li>
	<li>7 Day, Monthly or Annual Bus &amp; Tram Passes are available to save you time and money</li>
	<li>One Day Bus &amp; Tram Pass is available (using pay as you go with daily <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">capping</a> is cheaper)</li>
</ul>

<h2>Free and discounted travel</h2>

<p>You can get <a href="/fares/free-and-discounted-travel">free and discounted travel</a> depending on your age or need:</p>

<ul>
	<li><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></li>
	<li><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></li>
	<li><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discount</a></li>
	<li><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></li>
	<li><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus and Tram discount</a></li>
	<li><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></li>
	<li><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on the different ways to pay for travel in London";}
        
            
        


 