


@{ViewBag.Title = "Changes to bus routes 473 and 474";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Changes to bus routes 473 and 474</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Changes to bus routes 473 and 474</h1>
        <div class="content-page-press-release">
        02 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Sunday 6 October routes 473 and 474 will return to serving North Woolwich (Free Ferry) terminal, providing passengers and local residents with improved links while Crossrail works continue in the area.
        
    </div>



 <div class="on-this-page">
<p>From Sunday, routes 473 and 474 will serve North Woolwich (Free Ferry) terminal in both directions and then run direct to London City Airport via a new bus only link road within the airport.&nbsp; Both routes will serve Albert Road eastbound only.&nbsp; </p>
<p>Passengers travelling from Albert Road towards Canning Town or Stratford will need to use either route 473 (towards North Woolwich Free Ferry) or 474 (towards Manor Park) and then change at North Woolwich (Free Ferry) for a bus in the opposite direction.&nbsp; </p>
<p>Passengers travelling from Beckton or North Woolwich to Albert Road will need to change buses at the airport for a bus in the opposite direction. </p>
<p>For onward travel to Albert Road cash, contactless payment card and Oyster pay as you go passengers should obtain a Transfer ticket from the bus driver.</p>
<p>The return of these services will mean that temporary shuttle bus services, routes 573 and 574, will no longer be required and will cease to operate from Saturday.</p>
<p><br>When it opens in 2018, Crossrail will transform train travel across London and the south east, delivering faster journey times, boosting London's rail capacity by around 10 per cent and bringing an additional 1.5 million people closer to the capital's business centres. </p>
<p>Over 200 million passengers will travel on Crossrail each year. </p>
<p>For up to date travel information please visit <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a> or for information on how to plan your journey <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a> </p>
<p>For further information about Crossrail visit <a href="http://www.crossrail.co.uk">www.crossrail.co.uk</a> or call their helpline on 0345 602 3813 (24 hours). </p>
<p>
<hr>
<strong>Notes to editors:</strong>
<ul>
<li>Crossrail will run over 100km from Maidenhead and Heathrow in the west, through new twin-bore 21km tunnels under central London to Shenfield and Abbey Wood in the east.&nbsp; It will bring an additional 1.5 million people within 45 minutes commuting distance of London's key business districts</li>
<li>With up to 24 trains per hour between Paddington and Whitechapel during peak times, Crossrail will carry over 200 million passengers each year </li>
<li>Crossrail will support regeneration across the capital, helping to secure London's position as a world leading financial centre, and cutting journey times across the city </li>
<li>Crossrail is being delivered by Crossrail Limited (CRL).&nbsp; CRL is a wholly owned subsidiary of Transport for London.&nbsp; Crossrail is jointly sponsored by the Department for Transport and Transport for London</li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Changes to bus routes 473 and 474 -->

 
 
        
        
            @{ViewBag.Description = "From Sunday, routes 473 and 474 will serve North Woolwich (Free Ferry) terminal in both directions and then run direct to London City Airport via a new bus only link road within the airport.&nbsp; Both routes will serve Albert Road eastbound only.&nbsp;";}
        
        


 