


@{ViewBag.Title = "Four new campaigns launched to cut death and injury on London's roads";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Four new campaigns launched to cut death and injury on London's roads</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Four new campaigns launched to cut death and injury on London's roads</h1>
        <div class="content-page-press-release">
        23 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Campaigns target pedestrians, drivers and motorcyclists.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These new campaigns will help us with our ambition of a 40 per cent cut in deaths and serious injuries by 2020."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Strategy and Planning at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These new campaigns will help us with our ambition of a 40 per cent cut in deaths and serious injuries by 2020.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Road safety continues to be a top priority for the Mayor and Transport for London (TfL)&nbsp; </li>
<li>Teenagers appealed to directly by famous faces to 'Stop. Think. Live.'</li></ul>
<p>Pedestrians, drivers and motorcyclists are being targeted in four new campaigns to improve road safety in London.</p>
<p>Appearing from this week the campaigns will run for the next six weeks and use various tactics to raise safety awareness among different road users.</p>
<p>Earlier this year the Mayor and TfL launched a new road safety plan which set out a clear path towards helping to reduce accidents on London's roads. </p>
<p>These new campaigns will build on the progress already made and aim to cut road accidents even further.</p>
<p>Teenagers, who are a particularly vulnerable group on the roads, will be urged to stay safe in film clips featuring the cast of Channel 4's 'Top Boy', and&nbsp;comedian&nbsp;and Choice radio presenter Kojo. </p>
<p>Each urges them to follow the campaign strapline when using the road, 'Stop. Think. Live.'</p>
<p>The clips can be seen on YouTube and other social media platforms.</p>
<p>Last year, 104 teenagers were killed or seriously injured on London's roads. While great progress has been made in recent years, with a 54 per cent reduction in such incidents since 2002, TfL is determined to make the roads even safer for young people. </p>
<p>Distraction is one of the major factors in collisions which result in injury to teenage pedestrians. </p>
<p>This may come in the form of chatter among friends or focussing on things like using a mobile phone or listening to music. </p>
<p>The irreverent social media clips help translate the road safety message by making it more relevant to teenagers.</p>
<p>The motorcyclists' campaign calls on riders to think about how fast they ride on the road, particularly when deciding whether to increase their speed - for example when overtaking. </p>
<p>Latest figures show that 629 motorcyclists were killed or seriously injured last year; 77 of which involved speed as a contributory factor. </p>
<p>On TfL social media platforms riders will be invited to exchange safety tips on topics such as protective clothing.&nbsp; </p>
<p>In the third campaign a new series of ads designed as floral tributes are to be placed at junctions across London to remind motorists to look out before turning. </p>
<p>Turning at junctions can sometimes mean vehicles cross across the path of a cyclist or motorcyclist, or encounter a pedestrian crossing a side road, potentially leading to a collision. </p>
<p>By making sure motorists are on the lookout at junctions, it is hoped that the number of these avoidable collisions can be reduced.</p>
<p>The final campaign targets older pedestrians and encourages them to use pedestrian crossings, allowing them to cross with more time and more safety. </p>
<p>This is particularly important for people who are less mobile. People over the age of 65 make up approximately 40 per cent of all pedestrians killed on the roads.</p>
<p>Ben Plowden, Director of Strategy and Planning at TfL, said: 'Reducing casualties among all road users is a major priority for TfL and the Mayor. </p>
<p>'These new campaigns will help us with our ambition of a 40 per cent cut in deaths and serious injuries by 2020. </p>
<p>'They will encourage individuals not only to look out for each other, but also take additional responsibility for their own safety on London's roads.'</p>
<p><a href="http://www.tfl.gov.uk/roadsafety">More information&nbsp;about TfL's road safety campaign</a>&nbsp;</p>
<p>
<hr>

<p>
<h2>Notes to editors:</h2>
<ul>
<li>Earlier this year the Mayor and TfL published "Safe Streets for London", a new road safety plan which set out a clear path towards helping to reduce death and serious injury on the Capital's roads </li>
<li>The new plan, which covers the period until 2020, builds on solid progress already made by TfL, the London boroughs and the police over the last decade to improve the safety of London's roads. Using detailed analysis of how and why people are injured in road collisions in the capital, and which groups are affected, it looks to ensure that the right measures are being taken to reduce casualties </li>
<li>TfL aims to further reduce death and serious injury on London's roads by introducing and achieving a target of a 40 per cent drop in KSIs by 2020. This will allow the capital to make significant progress towards the ultimate ambition - a London road network free from death and serious injury </li>
<li>The <a href="http://www.tfl.gov.uk/assets/downloads/corporate/casualties-in-greater-london-2012.pdf">Casualties in Greater London during 2012 report </a>&nbsp;was published in July 2013 </li>
<li>TfL is currently working on new safety action plans for pedestrians and motorcyclists and a revised cycle safety action plan. Following consultation these will be published in 2014<br>&nbsp;<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Four new campaigns launched to cut death and injury on London's roads -->

 
 
        
        
            @{ViewBag.Description = "Road safety continues to be a top priority for the Mayor and Transport for London (TfL)&nbsp; Teenagers appealed to directly by famous faces to 'Stop. Think. Live.'Pedestrians, drivers and motorcyclists are being targeted in four new campaigns to improve";}
        
        


 