


@{ViewBag.Title = "HRH The Duke of York, KG opens new school to give young Londoners vital technical skills";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">HRH The Duke of York, KG opens new school to give young Londoners vital technical skills</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>HRH The Duke of York, KG opens new school to give young Londoners vital technical skills</h1>
        <div class="content-page-press-release">
        24 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL Press Release: On behalf of Royal Greenwich University Technical College.
        
    </div>



 <div class="on-this-page">
<p>A new technical college providing young people with vital engineering and construction skills was opened by HRH The Duke of York, KG today. He was joined by the Mayor of London Boris Johnson and Cllr Chris Roberts at the University Technical College, Royal Borough of Greenwich,&nbsp; where 14-18-year-olds can gain vocational qualifications to boost their job prospects and meet a growing demand for technically trained workers.&nbsp; </p>
<p>With a quarter of London's 16-24-year-olds unemployed and the jobs market becoming increasingly competitive, it is more important than ever for young people to have the skills they need to secure employment and forge a career. <br>&nbsp;<br>Sponsored by the Royal Borough of Greenwich, the University of Greenwich, Transport for London (TfL) and construction services and development company the Wates Group, the college offers expert tuition in engineering, construction and design alongside core GCSEs and A- Levels. Students at the Royal Greenwich UTC will also be working in an environment which has &pound;1.5m worth of industry standard technical equipment to help them develop the skills and techniques they will need for future careers. </p>
<p>The sponsors have helped to develop the curriculum and provided industry experts to train and mentor the students, in addition to arranging visits to engineering and construction sites. TfL has also donated a former Circle line tube carriage to give students hands-on engineering experience within their own school grounds as TfL seeks out the next generation of engineers to continue the upgrade and improvement of London's transport network.&nbsp; </p>
<p>To give students a further boost, the University of Greenwich has pledged to give an undergraduate place to all applicants from the UTC who meet their entry criteria. </p>
<p>Over &pound;10 million has been invested in the Royal Greenwich UTC campus, with industry-standard facilities including top-of-the-range computer aided design workshops, specialised engineering project zones and a graphics and art studio. An on-site apprenticeship centre allows students to meet potential employers to discuss their career and job opportunities, and after-school clubs in architecture, robotics and digital animation give students an insight into other careers open to them.</p>
<p>The Mayor of London, Boris Johnson said: 'It is vital that young people are equipped with the skills and qualifications they need to find jobs, forge careers and contribute to London's growing economy. Royal Greenwich UTC is nurturing the next generation of home-grown talent who will build our railways, design our houses and mastermind our transport and regeneration projects; I wish them every success.'</p>
<p>Cllr Chris Roberts, Leader of the Royal Borough of Greenwich said: 'With increasing levels of regeneration taking place in the borough, and the growing need for a highly-skilled workforce, it's vitally important that the curriculum adapts to equip our young people to take their place in the modern world of work. This is something that our schools and colleges recognise, and we work closely with them to ensure that there is a good mix of specialisms and innovation available in the borough. </p>
<p>'We recognised early on the potential that UTCs offered, and have supported the scheme from the outset, in order to create a new option for students interested in pursuing a career in professions linked to engineering and construction. From the high numbers of applications it's clear that the UTC has a strong future, while the quality of facilities available mean that its students now have an unprecedented opportunity to build the skills, confidence and knowledge that they will need in their adult lives.'</p>
<p>Professor Tom Barnes, Deputy Vice Chancellor, Research and Enterprise at the University of Greenwich said: 'The UTC initiative led by the Baker Dearing trust provides a unique opportunity to improve the competitiveness of industry and business in the UK. The education provided by this UTC fits well with the Engineering and Construction offers from the University of Greenwich while at the same time improving the prospects of both young people and businesses in the region that we serve. This is entirely consistent with our mission, and we are proud to be sponsors of the UTC.'</p>
<p>Andrew Wates OBE DL, family director of the Wates Group, commented: 'Our sponsorship of Royal Greenwich UTC forms part of our commitment to help to develop the workforce of the future. </p>
<p>'The construction sector is an increasingly exciting and challenging place to work as we emerge from the recession and I am proud that with our support, the UTC will enable young people to capitalise on the career options available to them.'</p>
<p>Lord Baker, founder of the Baker Dearing Trust, says: 'I am delighted about the success that the Royal Greenwich UTC is already seeing. The strong partnerships with employers mean that every student will get a relevant, rounded and high quality technical education, particularly railway engineering - which will ultimately ensure they are all equipped with the necessary skills to go onto higher education, to get an apprenticeship or to go straight into work.'</p>
<p>The Duke of York is Patron of The Baker Dearing Educational Trust, founded by Lord Baker, which created the UTC concept. HRH became patron earlier this year and in December will host students from the first two colleges at Buckingham Palace for the first The Duke of York Award for Technical Education. </p>
<p>
<hr>
<strong>Notes to editors:</strong></p>
<p><strong>Greenwich UTC<br></strong>Students will study for GCSEs and A levels alongside high-level technical qualifications including BTEC level 3 and City &amp; Guilds, focusing on engineering and construction. Students will also learn employability skills including communication, teamwork, critical thinking, resilience, and leadership. The intake for the 2013/14 academic year was 150 pupils in Year 10 and 150 in Year 12 in September 2013. When it reaches full capacity, the college will accommodate a total of 600 students.&nbsp; The UTC was built by BAM. <br>For more details of Royal Greenwich UTC - including information on how to apply for a place in 2014/15, and details of this term's open days for students and their parents - visit <a href="http://www.greenwichutc.com">www.greenwichutc.com</a> or call 020 8331 7500.</p>
<p><strong>Transport for London<br></strong>TfL's Tube carriage was part a former train from the decommissioned Hammersmith &amp; City line (C77 Stock), which had been operating for more than 35 years, transporting Londoners on the Hammersmith &amp; City, District and Circle lines. Over the years it has travelled&nbsp;more than&nbsp;4.5 million kilometres, equivalent to travelling 120 times around the world.&nbsp; </p>
<p><strong>About The Baker Dearing Educational Trust<br></strong>The Baker Dearing Educational Trust was founded by Lord Baker and Lord Dearing to promote University Technical Colleges. The organisation provides advice and guidance to proposer groups and will lead the University Technical Colleges movement over the long term.<br>About University Technical Colleges<br>They are distinct in three important ways:<br>1) They are 14-18 not 11-18 schools<br>2) Each must be strongly supported by a university and local employers<br>3) Employers will be involved from the start in designing and delivering the curriculum</p>
<p>UTCs are a high-quality new route to education and training which follows through to further study and employment.&nbsp; They are a radical solution to the totally inadequate number of technicians and engineers in the country.&nbsp; They are free standing technical schools for up to 800 14 to 18 year old students, with a typical working day of 8:30am-5pm. Students spend the equivalent of two days a week on practical study and three days a week on academic study linking the hand with the mind.&nbsp; Each UTC provides at least one technical specialism alongside the key GCSEs in English, maths and science, as well as a modern foreign language, humanities, finance, business, entrepreneurial and employability skills. <br>All UTCs are supported by a university and a range of local employers.&nbsp; This unique approach offers students a high quality, rounded, technical education which can lead to apprenticeships, foundation and higher degrees.<br>Local employers both big and small have a major and continuing role via the governance of the UTC.&nbsp; They also help to shape the curriculum and relate it to future jobs that match the needs of the local economy.&nbsp; Students in turn acquire the skills and knowledge employers are looking for. </p>
<p><br>Media Contacts <br>Tracey McRobert, <br>Marketing Officer, Royal Greenwich UTC <br>07966 791494<br><a href="mailto:t.mcrobert&#64;RoyalGreenwichUTC.onmicrosoft.com">t.mcrobert&#64;RoyalGreenwichUTC.onmicrosoft.com</a> </p>
<p>Sylvia Quagraine<br>TfL Press Officer<br>07738604141 / 0203 054 7182<br><a href="mailto:Sylviaquagraine&#64;tfl.gov.uk">Sylviaquagraine&#64;tfl.gov.uk</a> </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-HRH The Duke of York, KG opens new school to give young Londoners vital technical skills -->

 
 
        
        
            @{ViewBag.Description = "A new technical college providing young people with vital engineering and construction skills was opened by HRH The Duke of York, KG today. He was joined by the Mayor of London Boris Johnson and Cllr Chris Roberts at the University Technical College,";}
        
        


 