


@{ViewBag.Title = "Local bus services subject to diversions during bridge strengthening works in Erith";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Local bus services subject to diversions during bridge strengthening works in Erith</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Local bus services subject to diversions during bridge strengthening works in Erith</h1>
        <div class="content-page-press-release">
        25 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Routes 99, 229, 602, 669 and B12 affected for around 2 months.
        
    </div>



 <div class="on-this-page">
<p>From Monday 28 October contractors will commence essential bridge strengthening works, on behalf of Bexley Council, that will result in local bus services in the Erith area being placed on diversion for around two months.</p>
<p>These works will commence at 09:30 (on Monday 28 October) and involve closing Bexley Road westbound at the junction with Victoria Road, which means a number of bus routes will be unable to serve some local roads. </p>
<p>Local bus routes and roads affected include:</p>
<ul>
<li>Route 99 (towards Woolwich) will be unable to serve Fraser Road and Erith Road</li>
<li>Routes 229 and 669 (towards Sidcup) and 602 (towards Bexleyheath) will be unable to serve Bexley Road</li>
<li>Route B12 (towards Joydens Wood) will be unable to serve Victoria Road, Avenue Road, Hind Crescent and Park Crescent</li></ul>
<p>Routes 99 (towards Bexleyheath), 229, 602 and 669 (towards Thamesmead), and B12 (towards Erith) will be unaffected during these works.</p>
<p>Customer information will be displayed at the closed bus stops which will give details of alternative stops where passengers can catch their bus nearby.&nbsp; </p>
<p>Details will also be available on our website at <a href="http://www.tfl.gov.uk/live">tfl.gov.uk/live</a> </p>
<ul>
<li><a href="http://www.tfl.gov.uk/assets/livetravelnews/realtime/buses/TFL27193-clean(2).pdf">Full&nbsp;details including a map</a></li></ul>
<p>
<hr>
</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Local bus services subject to diversions during bridge strengthening works in Erith -->

 
 
        
        
            @{ViewBag.Description = "From Monday 28 October contractors will commence essential bridge strengthening works, on behalf of Bexley Council, that will result in local bus services in the Erith area being placed on diversion for around two months.These works will commence at 09:30";}
        
        


 