


@{ViewBag.Title = "London's Transport network draped in poppies for London Poppy Day ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London's Transport network draped in poppies for London Poppy Day </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London's Transport network draped in poppies for London Poppy Day </h1>
        <div class="content-page-press-release">
        28 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Network Rail team up to support London Poppy Day, part of The Royal British Legion's national Poppy Appeal.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The poppy symbol embodies the bravery and honour of our Armed Forces, and importantly, encourages people to remember their sacrifices.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL's London Transport Old Comrades celebrate 90th anniversary </li></ul>
<p>TfL&nbsp;and Network Rail have teamed up to decorate London's transport network in poppies in support of London Poppy Day, part of the national Poppy Appeal, which aims to raise more than &pound;1 million in a single day for the whole Armed Forces family.</p>
<p>Passengers will notice poppies across the transport network with a Metropolitan line train, a Circle line train and ten London buses wrapped in a special poppy design. </p>
<p>There will also be two 3D poppy bus shelters designed by Clear Channel outside the Royal Albert Hall and South Kensington Tube station. </p>
<p>Network Rail will also be displaying a giant poppy on the roof funnel of the western concourse at King's Cross station. </p>
<p>As a mark of respect for the sacrifices made by London's service men and women, past and present, poppies will also be displayed on all Tube trains, DLR trains, Trams and Overground trains.&nbsp; </p>
<p>A selected number of Network Rail cars and vans in the London region will also feature poppies on the front of the vehicle. </p>
<h3>Supporting London Poppy Day </h3>
<h3>&nbsp;</h3>
<p>A Poppy Day exhibition will also be taking place at London Bridge, Victoria and Paddington stations, along with performances at several Network Rail managed stations across the country by bands and choirs.&nbsp;</p>
<p>There will also be a number of buskers at Leicester Square, Waterloo, Angel, Green Park, Piccadilly Circus, Bank / Monument and Euston raising funds directly for London Poppy Day.</p>
<p>Transport Commissioner, Sir Peter Hendy CBE said: 'We're really proud to be supporting London Poppy Day again as our London Transport Old Comrades celebrate their 90th year. Some of them will&nbsp; be coming out of retirement to make announcements at some central London stations to encourage people to donate to the Appeal.</p>
<p>'People who live and work in London will start to see our specially wrapped trains and buses displaying the red poppy as the nation remembers those who made sacrifices. People will also see my own Routemaster which I've donated for the day, transporting fundraisers around the Capital.'</p>
<p>Robin Gisby, Managing Director, Network Operations, Network Rail said: 'It is once again an honour for Network Rail to be supporting the Poppy Appeal. This year we've ramped up our fundraising efforts, with planned activities around the London and regional UK Poppy Days at our biggest and busiest stations. </p>
<p>'Working closely with our transport operating partners, our aim is to help The Royal British Legion reach its national fundraising target of &pound;37m.'</p>
<p>The Royal British Legion's Director of Fundraising Charles Byrne said: 'We're very grateful to both TfL and Network Rail for their fantastic support on London Poppy Day, and City Poppy Days across the UK. </p>
<p>'The poppy symbol embodies the bravery and honour of our Armed Forces, and importantly, encourages people to remember their sacrifices. The sight of poppies across the transport network will make a real impact on commuters, and help raise awareness for the Poppy Appeal.'</p>
<p>On London Poppy Day, 7 November, London Transport Old Comrades, retired service men and women, will be making announcements at up to five stations encouraging passengers to give generously. </p>
<p>There will also be more than 2,000 volunteers collecting at 70 Tube and mainline rail stations on the day. Announcements will also be made at all stations with volunteers to encourage donations. </p>
<p>Since November 2008 war veterans have been able to travel on the Tube, DLR, Overground, London's buses and trams for free with a Veterans Oyster photocard as part of the Mayor's Veterans concessionary travel scheme.</p>
<p>More than 5,710 Veterans Oyster photocards have been issued. </p>
<p>This scheme is particularly beneficial to veterans who live in London and are not yet eligible for a 60+ London Oyster photocard or a Freedom Pass.</p>
<h3>90th year of the London Transport Old Comrades Association</h3>
<h3>&nbsp;</h3>
<p>This year marks the 90th year of the London Transport Old Comrades Association who will continue the tradition of marching alongside the armed forces and laying a wreath at the Cenotaph in the Annual Remembrance Sunday parade on 10 November.</p>
<p>Bob Lawrence, a former Territorial Army driver and retired London Underground Emergency Planning Manager, will be leading 48 men and women from the London Transport Old Comrades on the Remembrance Sunday march. </p>
<p>Bob served in the Territorial Army for three years from 1974 to 1977. He served with the Army's Royal Corp transport as a driver with 215 Squadron, Grays, Essex. </p>
<p>He joined London Underground in 1974 as a train guard before taking on other roles including Tube driver and Duty Train Manager. </p>
<p>He retired in 2007 as an Emergency Planning Manager. Bob was also heavily involved in London Underground's response to the London bombings in July 2005 and assisted with the recovery of the service.</p>
<p>Bob Lawrence said: 'I'm privileged to be leading the London Transport Old Comrades in the march again this year. So many people made sacrifices in arms conflict and it is fantastic that we are still able to honour those sacrifices.<br>&nbsp;<br>'Remembrance Sunday is always a poignant day as we remember those that made such a huge sacrifice. It also allows us to make time to remember those who are currently in service around the world.' </p>
<p>John Norris, served in the Royal Engineers from 1964 to 1967. He then joined London Transport as a guard and was based at Acton Town, Baker Street, Barking and Upminster. </p>
<p>In 1979, John became a bus driver working at West Ham and Barking Bus Garage. He retired in 2010.&nbsp; </p>
<p>John Norris said: 'It's an absolute honour for me to be given the opportunity to lay the wreath this year as a mark of respect for the 1,500 transport workers who gave their lives in both World Wars and other conflicts.'<br>&nbsp;<br>Many of London's transport workers joined directly from a career in the armed forces and continue their association through active involvement with the reserve forces which in recent years has included deployments in Afghanistan and Iraq with the Territorial Army. </p>
<p>This year there will be a free taxi service to transport Veterans from Westminster Bridge to various Veteran's clubs around London after their Remembrance Sunday march.</p>
<p>On Sunday 27 October, Network Rail also held a service to unveil the redesigned and reinstated King's Cross war memorial following the completion of the &pound;550m redevelopment of the station.</p>
<p>TfL secured sponsorship from a number of its suppliers to display poppies across its network. </p>
<p>The suppliers are Bombardier Transportation, Skanska, Hexis, McKenzie Clark, IBL, DLR &amp; Serco, LOROL, First Group, Stagecoach, Metroline, Abellio, Tower Transit, Go Ahead, Arriva, Clear Channel and Taylor Woodrow/ BAM Nuttal. </p>
<p>
<hr>
<strong>Notes to editors:</strong>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<ul>
<li>For images, please contact Sylvia Quagraine <a href="mailto:Sylviaquagraine&#64;tfl.gov.uk">Sylviaquagraine&#64;tfl.gov.uk</a> 07738 604141 </li>
<li>All war veterans in receipt of a pension under the War Pensions Scheme or the Armed Forces Compensation Scheme including war widows and widowers and eligible dependents are eligible to apply for a Veterans Oyster photocard. They are not eligible for the photocard if they already have a 60+ London Oyster photocard or a Freedom Pass </li>
<li>Further information can be found at <a href="http://www.tfl.gov.uk/veterans">http://www.tfl.gov.uk/veterans</a>&nbsp;&nbsp;&nbsp; </li>
<li>London Transport Old Comrades were given the right to march by King George V who granted this honour to the London General Omnibus Company in 1920 in recognition of the services rendered by the men who drove buses to the front line in France 1915 </li>
<li>The London Transport Old Comrades Association was formed in 1923 </li>
<li>1500 transport workers died in World War I and 3000 lost their lives in World War II </li>
<li>Bob Lawrence aged 61 and lives in Southend and John Norris lives in Essex. The 10 wrapped buses are on routes 12, 23 (x2), 38, 53, 55, 59, 91(x2) and 211. A Metropolitan S8 train and a Circle line S7 train have been wrapped in poppy livery</li></ul>
<p><strong>London Poppy Day</strong></p>
<ul>
<li>London Poppy Day is part of The Royal British Legion's Poppy Appeal </li>
<li>The funds raised on 7 November will go towards the Poppy Appeal fundraising target of &pound;37 million </li>
<li>London Poppy Day, the capital's largest street fundraising day, is a chance for Londoners to stand shoulder to shoulder with those who serve </li>
<li>To support the Poppy Appeal visit <a href="http://www.britishlegion.org.uk">www.britishlegion.org.uk</a></li></ul>
<h4>Network Rail </h4>

<h4>Network Rail is the not for dividend owner and operator of Britain's railway infrastructure, which includes the tracks, signals, tunnels, bridges, viaducts, level crossings and stations - the largest of which we also manage. We aim to provide a safe, reliable and efficient rail infrastructure for freight and passenger trains to use.&nbsp; </h4>
<h4><a href="http://www.networkrailmediacentre.co.uk">www.networkrailmediacentre.co.uk</a> Twitter: &#64;networkrailPR</h4>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-London's Transport network draped in poppies for London Poppy Day  -->

 
 
        
        
            @{ViewBag.Description = "TfL's London Transport Old Comrades celebrate 90th anniversary TfL&nbsp;and Network Rail have teamed up to decorate London's transport network in poppies in support of London Poppy Day, part of the national Poppy Appeal, which aims to raise more than";}
        
        


 