


@{ViewBag.Title = "London's first Tourist Coach Action Plan launched";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London's first Tourist Coach Action Plan launched</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London's first Tourist Coach Action Plan launched</h1>
        <div class="content-page-press-release">
        29 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New plan sets out clear achievable actions over the next five years.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'This plan is a real call to action, firmly setting out the roles and responsibilities that we all have in improving the complete coach travel experience in the Capital."</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Owens</div>
            <div class="quotee-job-title">Chair of CPT's Coach Commission</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'This plan is a real call to action, firmly setting out the roles and responsibilities that we all have in improving the complete coach travel experience in the Capital.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL and CPT&nbsp; to promote better collaborative working </li>
<li>Work builds on previous improvements such as 100 additional long term coach parking bays</li></ul>
<p>Transport for London (TfL) and the Confederation of Passenger Transport (CPT) have today launched the Tourist Coach Action Plan, which sets out clear achievable goals over the next five years that will help improve the experience for tourists coming to the Capital by coach.</p>
<p>With over 1000 tourist coach movements in and out of central London every day, from all corners of the UK and Europe, it is important that the diverse needs and requirements of coach tourists are met.</p>
<h3>New action plan</h3>
<h3>&nbsp;</h3>
<p>This new action plan builds on previous work carried out by TfL and the coach industry and focuses on three key themes: </p>
<ul>
<li>Providing better access for tourist coaches </li>
<li>Minimising the impact, and improving the efficiency of tourist coaches </li>
<li>Better partnership working</li></ul>
<p>Specific goals set out smarter use of stopping and parking spaces, measures to improve public perception of coaches including the promotion of initiatives such as no engine idling, and improved collaborative working to help drive tourism in the Capital.</p>
<p>Earlier this year, TfL signed an agreement with CoachMarque and The Guild of British Coach Operators to allow coach operators who are members of either organisation to qualify for TfL's Fleet Operator Recognition Scheme (FORS) Bronze Standard. </p>
<p>Through joining FORS, coach and bus companies can take advantage of exclusive benefits, such as TfL's funded "Safe Urban Driving" course, as well as benchmarking tools to help manage fuel consumption, improve safety and reduce harmful emissions. </p>
<p>Since January 2012, more than 620 coach drivers have completed the course and it is hoped that this number will increase through this new agreement.&nbsp; </p>
<p>TfL has also developed a specific urban coach driving course, which will further provide detailed training for coach drivers.&nbsp; </p>
<p>Like the Safe Urban Driving course, this will contribute towards Driver CPC and will provide additional training for drivers who regularly operate within London.</p>
<p>Garrett Emmerson, Chief Operating Officer for TfL's Surface Transport, said: 'Coach travel is hugely important to the overall economy of London, so it is very important for us to ensure we have clear goals to support this.&nbsp; </p>
<p>'We cannot achieve this alone but the Tourist Coach Action Plan will help support collaborative working between partners like the CPT, London boroughs and the tourist industry to help deliver a more positive travelling experience when visiting the Capital.'</p>
<p>Chris Owens, Chair of CPT's Coach Commission said: 'CPT, on behalf of the UK's coaching industry, welcomes the launch of the Tourist Coach Action Plan for London. </p>
<p>'This plan is a real call to action, firmly setting out the roles and responsibilities that we all have in improving the complete coach travel experience in the Capital. It outlines specific targets, actions and the timescales for achieving real change.</p>
<p>'For this plan to succeed, all parties - CPT, TfL, London Boroughs, stakeholders and of course coach operators - need to work in partnership to deliver these real benefits to the tourist coaching industry.&nbsp; We are fully committed to making this work.'</p>
<h3>Collaborative working</h3>
<h3>&nbsp;</h3>
<p>Collaborative working has already helped to deliver many benefits for tourist coaches, including 100 additional longer term parking bays in a number of London bus garages located throughout the Capital.&nbsp; </p>
<p>A programme of monitoring engine idling at central London bus stands was also undertaken last year to help to inform further targeted engagement with operators.&nbsp; </p>
<p>This helped to reduce coaches idling by 11 per cent between December 2011 and October 2012.<br></p>
<p>
<hr>
<strong>Notes to editors:&nbsp;&nbsp;</strong>
&nbsp;
<ul>
<li>The Tourist Coach Action Plan is available online (<a href="http://www.tfl.gov.uk/assets/downloads/tourist-coach-action-plan.pdf">www.tfl.gov.uk/assets/downloads/tourist-coach-action-plan.pdf</a>) </li>
<li>Details of coach parking facilities in London are available on the Interactive Coach Parking Map on TfL's website (tfl.gov.uk/coachparking) </li>
<li>A paper version of the London Coach Parking Map can be obtained free of charge by sending a request to <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a> or by calling the Coach Drivers Helpline on 0845 604 0770. (TfL, in conjunction with CPT, distribute the map to the coach industry and through CPT's extensive membership)</li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-London's first Tourist Coach Action Plan launched -->

 
 
        
        
            @{ViewBag.Description = "TfL and CPT&nbsp; to promote better collaborative working Work builds on previous improvements such as 100 additional long term coach parking baysTransport for London (TfL) and the Confederation of Passenger Transport (CPT) have today launched the Tourist";}
        
        


 