


@{ViewBag.Title = "Major works to replace escalators at Embankment station will commence in the New Year";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major works to replace escalators at Embankment station will commence in the New Year</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major works to replace escalators at Embankment station will commence in the New Year</h1>
        <div class="content-page-press-release">
        18 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bakerloo and Northern line services will not stop at the station while works take place.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Escalators were last modernised in the 1970s</li>
<li>Replacement now essential for key London interchange</li></ul>
<p>Works to replace four escalators at London Underground's (LU's) Embankment station will commence at the start of next year for approximately&nbsp;10 months.&nbsp;Owing to the nature of the works Bakerloo and Northern line services will not be stopping at the station until works are complete.</p>
<p>The escalators were installed&nbsp;more than&nbsp;80 years ago and last refurbished in the 1970s; they are now in need of replacing to ensure the safe operation of the station for many years to come.&nbsp; However, as the escalators are located in single shafts, and in many cases with no adjacent staircases, it is not possible for Bakerloo and Northern line services to stop at the station while these works are carried out. Customers wanting to use either line are advised to use Waterloo or Charing Cross stations which are a short walk from Embankment.</p>
<p>The work, which will commence on Wednesday 8 January, will involve replacing four escalators at once to enable this to be done significantly faster.&nbsp;So instead of taking at least 75 weeks if the work was phased, it will now take around 43 weeks. </p>
<p>Escalators on the Tube are longer and more heavy duty than most others, they carry huge volumes of people and run for approximately 20 hours a day. The replacement includes the removal of all components from the machines (some of them weighing up to one tonne) from the cramped space beneath the escalators and the removal and replacement of all associated structural, mechanical and electrical parts. </p>
<p>Nigel Holness, Operations Director, LU, said: 'We have explored various options to carry out these works and keep the station open. However due to the layout of the station it is not possible to carry out these works while Northern and Bakerloo line services are stopping at the station. </p>
<p>'We have taken the decision to have trains on both lines non stopping so that we can carry out the works in one big hit which is the most efficient and least disruptive option. Passengers will still be able to use Circle and District line services. </p>
<p>'Customers wanting to travel to and from the Northern and Bakerloo lines are advised to use either Waterloo or Charing Cross which is a couple of minutes walk from the station. We apologise for the disruption to journeys this will cause but the works are vital for the continued safe operation of the station.'</p>
<p>Ancillary services, including fire safety systems, ventilation, lighting and water cooling will be overhauled as part of this work which is due to be completed&nbsp; by early November 2014. We will also use the opportunity to carry out other station works which will include safety and security improvements including replacing station Help Points and CCTV systems, as well as improvements to the ambience and decor.</p>
<p>&nbsp;</p>
            <p><strong>Notes to Editors: </strong></p>
<ul>
<li>London Underground (LU) is undertaking a major programme of renewal which will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now and into the future</li>
<li>TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Major works to replace escalators at Embankment station will commence in the New Year -->

 
 
        
        
            @{ViewBag.Description = "Escalators were last modernised in the 1970sReplacement now essential for key London interchangeWorks to replace four escalators at London Underground's (LU's) Embankment station will commence at the start of next year for approximately&nbsp;10";}
        
        


 