


@{ViewBag.Title = "Monument Way, Hale Road and The Hale to carry two-way traffic from 13 October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Monument Way, Hale Road and The Hale to carry two-way traffic from 13 October</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Monument Way, Hale Road and The Hale to carry two-way traffic from 13 October</h1>
        <div class="content-page-press-release">
        10 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improvements part of wider scheme to remove the Tottenham Hale Gyratory.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Work is key recommendation of the Mayor's Roads Task Force&nbsp;</li></ul>
<p>During the early hours of 13 and 20 October, Transport for London (TfL) will complete the work to convert Monument Way, Hale Road and The Hale to two-way traffic, as part of its wider &pound;34m scheme to improve the area around Tottenham Hale.</p>
<p>On Sunday 13 October works will be carried out to turn Monument Way to two-way, with the Hale Road and The Hale changing on Sunday 20 October. </p>
<p>Allowing two-way traffic will significantly improve the road network by providing more options for vehicles travelling in both directions through the area, as well as providing easier access for local residents and businesses. </p>
<p>It will also help reduce traffic levels along Broad Lane, making the area safer and more appealing for pedestrians and cyclists. <br>&nbsp;<br>While the changes are introduced, police will be present to help drivers understand the new road layout. </p>
<p>Temporary traffic signs will also be placed throughout the area from early October to pre-warn drivers of the changes.<br>&nbsp;<br>As of Sunday 20 October, the bus station at Tottenham Hale will also be closed to allow a new bus station and public square to be constructed. </p>
<p>Alternative bus stops will be installed nearby for interchange with Tottenham Hale Tube and rail station:</p>
<ul>
<li>Routes 41 and N41 will use a new temporary bus stop on Hale Road for passengers alighting for Tottenham Hale Station. Route 41 will resume the westbound service from Watermead Way, along with route 192 which will operate from a new bus stop located on Watermead Way close to Tottenham Hale Tube station</li>
<li>Routes 123 and 230 towards Walthamstow and route W4 towards Oakthorpe Park will use a newly created bus stop on Ferry Lane close to Tottenham Hale Tube station</li>
<li>Routes 123, 230 and N73 will also change their route with services travelling in both directions along Monument Way and no longer serving bus stops on Broad Lane. Broad Lane will continue to be served by routes 41, N41 and W4</li></ul>
<p>Garrett Emmerson, Chief Operating Officer of Surface Transport at TfL, said: 'The completion of the work at Tottenham Hale will be of huge benefit to the local area. </p>
<p>'Introducing two-way traffic at Monument Way, Hale Road and The Hale will give residents, businesses and local road users better access to the local area.<br>&nbsp;<br>'Work on the new bus station and public area will begin later this year, providing improved access to the bus network by the end of 2014 and a public space for local residents to enjoy.'<br>&nbsp;<br>Following the traffic switch, works will start on removing the remainder of the Gyratory along Broad Lane to complete the switch to two-way traffic. </p>
<p>Work to expand the bus station by Tottenham Hale station, improving the interchange between bus, Underground and train services will also begin. </p>
<p>Works will commence on creating a new public space with trees, benches and additional cycle parking, providing a new area for local residents and public transport users to relax, meet and catch up.<br>&nbsp;<br>The work at Tottenham Hale forms part of the wider work TfL is carrying out across London to deliver the recommendations of the Mayor's Roads Task Force to tackle the challenges facing London's streets and roads. </p>
<p>This independent body brings together a wide range of interests and expertise, united in the belief that the capital needs a long-term strategy for roads and a commitment to major investment in street management and urban design. <br>&nbsp;<br>During the next ten years, TfL will be investing around &pound;4bn into the capital's road network. Working with its partners, including London's boroughs, TfL will build on the improvements already seen in the management of London's roads, streets and public spaces to help ensure London remains one of the most attractive, vibrant, accessible and competitive cities in the world.</p>
<p>
<hr>
</p>
<h2>Notes to editors:</h2>
<ul>
<li><a href="http://www.tfl.gov.uk/TottenhamHaleScheme">Find out more about the scheme to improve the street environment around Tottenham Hale</a></li>
<li>TfL has also worked closely with Haringey Council's environmental team to keep noise within agreed limits</li>
<li>Improvements to the Tottenham area are being supported by the Mayor's Regeneration Fund. The Fund is &pound;70m - &pound;20m of which was secured from Central Government - and was set up to help those areas affected by the public disturbances in August 2011. The worst affected boroughs were invited to apply for finding to support long term improvements with an onus on jobs and economic growth. The successful bids are not about rebuilding like-for-like, but investing in people's futures with grant agreements awarded on the strength of job, training and apprenticeship opportunities for local people as well as high street renewal</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Monument Way, Hale Road and The Hale to carry two-way traffic from 13 October -->

 
 
        
        
            @{ViewBag.Description = "Work is key recommendation of the Mayor's Roads Task Force&nbsp;During the early hours of 13 and 20 October, Transport for London (TfL) will complete the work to convert Monument Way, Hale Road and The Hale to two-way traffic, as part of its wider";}
        
        


 