


@{ViewBag.Title = "Plans for new out-of-hours delivery trials and wider freight legacy unveiled by TfL";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plans for new out-of-hours delivery trials and wider freight legacy unveiled by TfL</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plans for new out-of-hours delivery trials and wider freight legacy unveiled by TfL</h1>
        <div class="content-page-press-release">
        04 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Initiative aims to reduce congestion and make journeys safer, greener and more reliable.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is exactly these sorts of innovative solutions we need to explore in order to ensure we balance the conflicting demand for space on London's roads and streets as our population continues to rise."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is exactly these sorts of innovative solutions we need to explore in order to ensure we balance the conflicting demand for space on London's roads and streets as our population continues to rise.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Legacy builds on success and lessons learned from London 2012 Games </li>
<li>Work will help deliver recommendations of the Mayor's Roads Task Force </li></ul>
<p>A plan for new Olympic-style trials of out-of-hours deliveries to businesses across London was announced today as part of a wider package of works to deliver a freight legacy for London.</p>
<p>Unveiled at the London Freight Forum, the Delivering a road freight legacy document outlines the successes delivered by Transport for London (TfL), key partners and the freight industry during the London 2012 Games, as well as a number of key actions that TfL will look to deliver in partnership with the industry during the next two years. </p>
<p>The Mayor's Office and TfL will work with London boroughs and the freight industry on the trials which will explore how more deliveries could take place outside of the busiest times of the day. </p>
<p>It is hoped this will reduce congestion and benefit other road users, as well as allowing for quicker and more efficient freight trips. </p>
<p>The trials form part of this wider package of works, which look to change the way goods and services are delivered, and were a key recommendation of the Mayor's Roads Task Force.</p>
<p>The trials will be used to determine the barriers that need to be overcome in order to roll out these measures more widely. </p>
<p>They will look to begin early in the New Year and TfL will work in partnership with the industry during the next two years to develop a wider, long term freight strategy in London.</p>
<p>During the London 2012 Olympic Games, many businesses were able to avoid disruption and conflict with other road users by changing the times of their deliveries. </p>
<p>This helped reduce congestion at busy times and allowed many operators to benefit by saving money.</p>
<p>The Mayor of London, Boris Johnson, said: 'The out-of-hours deliveries during the London 2012 Games were another of those measures which initially raised eyebrows but in practice were a stonking success. </p>
<p>'Businesses benefited by saving money and congestion was reduced across the capital. It is exactly these sorts of innovative solutions we need to explore in order to ensure we balance the conflicting demand for space on London's roads and streets as our population continues to rise.'</p>
<p>A new "out-of-hours consortium" comprised of TfL, key boroughs, retailers, London Councils, the Freight Transport Association (FTA) and the Road Haulage Association (RHA) will now be formed to take the lead in delivering a review of these out-of-hours operations, looking in particular at how they can be delivered more widely in the longer term without causing unnecessary disruption to residents. </p>
<p>It will also examine what legislative changes, as well as any vehicle modifications such as further noise reduction, would be required. </p>
<p>High Street surveys will also take place to identify what restrictions there would be to changing delivery times at certain locations, as well as barriers, both financial and operational, that would need to be overcome by both businesses and delivery companies.</p>
<p>TfL Commssioner Sir Peter Hendy CBE said: 'These trials will benefit Londoners, businesses and the freight and logistics industry. </p>
<p>'It's vital we harness the London 2012 Games legacy and maintain momentum while the details of the longer-term plans are developed. Although some of these issues will not be resolved overnight, by working together, we can build on recent successes and ensure that freight deliveries in London can be even safer, greener and more efficient in future.'</p>
<p>Jack Semple, Director of Policy at the Road Haulage Association (RHA) said: 'The RHA is committed to working with TfL to address the challenges that lie behind the London Freight Plan. </p>
<p>'It is right to recognise the continuing progress made by the haulage industry and its suppliers in making operations safer and more efficient and that many factors are out-with the control of HGV and van operators.</p>
<p>'The concentration of demand for deliveries at peak periods of the day is a constant challenge. </p>
<p>'London's Out-of-Hours delivery trials will highlight the many potential benefits to be had from receiving goods at other times and at night, although the transport industry will be wary of further regulation.'</p>
<p>James Hookham, The Freight Transport Association's Managing Director for Policy &amp; Communications said: 'The Mayor's aspirations for London will see major changes in the way logistics works in the capital over the next few years.&nbsp; In addition, the anticipated swell in the capital's population means that the industry will be under pressure to deliver more.&nbsp; </p>
<p>'Removing existing barriers to an efficient freight industry, such as night-time delivery curfews and loading restrictions, is a must if we are to continue to support, serve and sustain London's businesses.'</p>
<p>TfL will also be working to revise street loading guidelines for planners, helping to ensure that the needs of the freight industry, local businesses and local residents are all considered when streets are developed and redesigned. </p>
<p>These measures will help inform the development of TfL's longer-term freight plan, which will be consulted on with the freight industry.</p>
<p>Further details about the "out-of-hours consortium" will be published later this year. </p>
<p><a href="/assets/downloads/delivering-a-road-freight-legacy.pdf">Download the Delivering a road freight legacy document </a></p>

<p>
<hr>

<p>
<h2>Notes to editors:</h2>
<ul>
<li>In July the Mayor's <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/28187.aspx">Roads Task Force</a> set out a bold new vision for the future of London's roads and streets, to ensure the capital can cope with major population growth, support jobs and thousands of new homes, while remaining one of the most attractive, vibrant, accessible and competitive world cities</li>
<li>The London Freight Forum is made up of operators, businesses, trade associations, regulators and highway authorities, who meet twice a year and aim to build and develop productive working relationships between freight operators, local authorities and TfL </li>
<li>The issues facing the freight industry are becoming more complex and challenging as the capital continues to grow as in many cases, existing regulations that impact freight delivery activity across London haven't kept up with the modern economic climate </li>
<li>Working with operators, London boroughs and businesses across London, TfL will continue to implement the recommendations from the Construction Logistics and Cycle Safety research report, including the development of a common code of practice for managing work-related road risk for construction vehicles. This work will build on the work that TfL and the freight industry have carried out in recent years to ensure that all lorries who operate in London do so while protecting vulnerable road users such as pedestrians and cyclists </li>
<li>On 4 September 2013, Transport Minister, Stephen Hammond, Boris Johnson, and Sir Peter Hendy CBE, announced a series of measures to improve cycle safety in London. These included the creation of a dedicated London-based industrial HGV task force which has been formed to raise awareness of safety requirements for vehicles and drivers and to take enforcement action against the minority of dangerous operators, vehicles and drivers </li>
<li>The Mayor of London Boris Johnson also announced that he will ask Londoners for their views on whether he should use his powers to levy a substantial "safer lorry charge" on any HGV which is not fitted with basic safety equipment to protect cyclists. TfL will consult on this proposal, partly modeled on the successful low emission zone, before taking any decisions </li>
<li>TfL manages the Fleet Operators Recognition Scheme (FORS), which is a unique industry-led accreditation scheme that aims to transform freight delivery in London by encouraging freight companies in London to become safer, more efficient and more environmentally friendly - <a href="http://www.fors-online.org">www.fors-online.org</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Plans for new out-of-hours delivery trials and wider freight legacy unveiled by TfL -->

 
 
        
        
            @{ViewBag.Description = "Legacy builds on success and lessons learned from London 2012 Games Work will help deliver recommendations of the Mayor's Roads Task Force A plan for new Olympic-style trials of out-of-hours deliveries to businesses across London was announced today as";}
        
        


 