


@{ViewBag.Title = "Poet John Hegley thanks London Underground in new poem to celebrate 150th anniversary of Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Poet John Hegley thanks London Underground in new poem to celebrate 150th anniversary of Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Poet John Hegley thanks London Underground in new poem to celebrate 150th anniversary of Tube</h1>
        <div class="content-page-press-release">
        15 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        John Hegley to read the full version of the poem at a London Transport Museum event of archive film clips, music and poetry on 5 November.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am delighted that John Hegley, one of the country's best-known poets, has written a poem which has been inspired by our evolving Tube system."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">Managing Director for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am delighted that John Hegley, one of the country's best-known poets, has written a poem which has been inspired by our evolving Tube system.
                            
                        </p>
                    </div>
                
            
            
            <p>Hundreds of thousands of customers will be able to see a new poem by comedian, train buff and poet John Hegley, specially written to celebrate the 150th anniversary of London Underground, in train carriages from 21 October. </p>
<p>This verse forms part of the latest collection of six poems with transport and London themes, which have been chosen to mark this historic year for the world's oldest underground rail network. </p>
<p>Hegley reflects on the London Underground with its 'gaps, the maps', 'the billiard ball-bottomed straps' he's held onto, the age of the Underground and the staff 'who get me round'. </p>
<p>Spoonerisms of 35 Tube stations offer a fun way to brighten a journey in 'Spooner goes Under' by Brian O'Connor. Passengers can try to work out the various names of stations such as Paint Saul's, Gradbroke Love or Stamp Head as they travel across London. </p>
<p>People can hear the whole of John Hegley's 'Thankyou London Underground' poem at a London Transport Museum evening event on 5 November. </p>
<p>The evening also features archive Underground film clips and extracts and a screening of the iconic 1936 Southern Railway film 'The Way to the Sea.' </p>
<p><a href="http://www.ltmuseum.co.uk/whats-on/events/events-calendar#poems">More information about this event </a></p>

<p>Another celebration of London Underground that travellers can read on trains is from 'Summoned by Bells' by John Betjeman which tells of two boys who spend their days visiting all the stations on the Tube system. </p>
<p>Two staff choices of poems from earlier displays in the year also on show are 'Like a Beacon' by British-Caribbean poet Grace Nichols and Wordsworth's famous sonnet 'On Westminster Bridge'. </p>
<p>'On the Thames', a new poem by Londoner Karen McCarthy Woolf, with a drawing by David Gentleman, who created the platform mural at Charing Cross Tube station, offers a contemporary version of the scene Wordsworth described 200 years ago. </p>
<p>Passengers can pick up free, highly-collectable booklets in ticket halls from today which include this latest collection of Poems on the Underground and all the other London poems that have appeared on the Tube network during this special anniversary year. </p>
<p>The cover has a lovely illustration called 'The Underground' by the late Hugh Casson. </p>
<p>Mike Brown MVO, Managing Director for London Underground, said: 'I am sure our customers will enjoy this latest collection of poems by various poets to mark our 150th anniversary year. </p>
<p>'I am delighted that John Hegley, one of the country's best-known poets, has written a poem which has been inspired by our evolving Tube system and will be performing the full version of the poem at a London Transport Museum event.&nbsp; </p>
<p>'It is wonderful to see that Poems on the Underground - like the Tube itself - has become firmly established as part of London's rich cultural life.'</p>
<p>Judith Chernaik, writer and founder of Poems on the Underground, said: 'I look forward to hearing what passengers think of the poems we've chosen for the 150th birthday of the Tube.'</p>
<p>
<hr>
<br>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Poet John Hegley thanks London Underground in new poem to celebrate 150th anniversary of Tube -->

 
 
        
        
            @{ViewBag.Description = "Hundreds of thousands of customers will be able to see a new poem by comedian, train buff and poet John Hegley, specially written to celebrate the 150th anniversary of London Underground, in train carriages from 21 October. This verse forms part of the";}
        
        


 