


@{ViewBag.Title = "Route 9 to be served by iconic New Bus for London from Saturday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Route 9 to be served by iconic New Bus for London from Saturday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Route 9 to be served by iconic New Bus for London from Saturday</h1>
        <div class="content-page-press-release">
        21 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Third route in the capital to operate entirely with world's greenest diesel electric hybrid buses
        
    </div>



 <div class="on-this-page">
<ul>
<li>Fourth bus route - 390 - to convert to running with the NBfL from 7 December</li></ul>
<p>From Saturday 26 October route 9 will become the third in the Capital to be served entirely by New Bus for London vehicles. </p>
<p>The route, which is operated by London United, runs between Hammersmith and Aldwych, via Olympia, Kensington, Knightsbridge, Hyde Park Corner, Green Park, Piccadilly, Pall Mall and Trafalgar Square. </p>
<p>During peak hours, 22 of the new buses will be in passenger service to carry the 16,000 people who travel on the route each day.&nbsp; Converting route 9 to run entirely with these iconic green vehicles follows the conversion of routes 24 and 11 earlier this year.</p>
<p>Every London bus route is different and as the New Bus for London is rolled out across the capital TfL will consider the best possible staffing arrangements on a route by route basis.&nbsp; </p>
<p>Buses on route 9 will operate with the rear door open and a conductor on the rear platform for the majority of the day on weekdays (6am - 6pm Monday to Friday).&nbsp; </p>
<p>At weekends, when passenger numbers are lower (on Sundays around 9000 people travel on the bus, compared with 16,000 on a weekday), buses on this route will continue to operate with just a driver.&nbsp; </p>
<p>This will mean the rear platform will be closed when the bus is moving but all three sets of doors will be open and closed by the driver at bus stops.&nbsp;&nbsp;&nbsp;&nbsp; </p>
<h3>The New Bus for London</h3>

<h3>&nbsp;</h3>
<p>The New Bus for London is the greenest diesel electric hybrid bus in the world.&nbsp; </p>
<p>In tests a prototype bus was found to emit a quarter of the NOx (Oxides of Nitrogen) and harmful 'PM' particles of a fleet average hybrid bus and 20 per cent less CO2.&nbsp; </p>
<p>When all 600 New Bus for London vehicles are in service in 2016 they will reduce CO2 emissions in the capital by around 20,600 tonnes a year.</p>
<p>Route 390, a 24-hour bus route operated by Metroline, will be the fourth bus route in the capital to convert to running entirely with New Bus for London vehicles from Saturday 7 December.&nbsp; </p>
<p>The route runs between Notting Hill Gate and Archway, via Queensway, Lancaster Gate, Marble Arch, Oxford Circus, Tottenham Court Road, Euston, King's Cross and Tufnell Park. </p>
<p>During peak hours, 21 of the new buses will be in passenger service to carry the 18,400 people who travel on the route each day.</p>
<p>
<hr>
<strong>Notes to editors: </strong>
<ul>
<li>Route 9 will operate entirely with New Bus for London vehicles from first bus on Saturday 26 October </li>
<li>London United is a wholly owned subsidiary of RATP Dev SA, which operates public transportation in over 12 countries.&nbsp; The London United network of routes covers central, west and south west London </li>
<li>The New Bus for London is manufactured by the family-owned Wrightbus company in Northern Ireland.&nbsp; The order for the 600 New Bus for London vehicles has resulted in the opening of a new chassis plant in Antrim and the safeguarding of 220 jobs, including 18 apprenticeships and the creation of 50 new jobs </li>
<li>As well as the manufacture of the chassis and superstructure in Northern Ireland, a number of components for the new bus are made by companies from around the UK; including engines from Darlington, seats from Telford, seat moquette from Huddersfield, wheelchair ramps from Hoddesdon (Hertfordshire), destination blinds from Middleton near Manchester and flooring from Liskeard (Cornwall).&nbsp; All of these companies have received a boost as a result of the new bus project</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Route 9 to be served by iconic New Bus for London from Saturday -->

 
 
        
        
            @{ViewBag.Description = "Fourth bus route - 390 - to convert to running with the NBfL from 7 DecemberFrom Saturday 26 October route 9 will become the third in the Capital to be served entirely by New Bus for London vehicles. The route, which is operated by London United, runs";}
        
        


 