


@{ViewBag.Title = "TfL and accessibility charities launch new awareness training for bus drivers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and accessibility charities launch new awareness training for bus drivers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and accessibility charities launch new awareness training for bus drivers</h1>
        <div class="content-page-press-release">
        03 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Training package developed in partnership with Transport for All and Age UK London.
        
    </div>



 <div class="on-this-page">
<ul>
<li>'All Aboard!' training to be delivered to all 24,500 bus drivers </li>
<li>Builds on commitment to make at least 95 per cent of bus stops fully accessible by 2016 </li></ul>
<p>Transport for London (TfL) has today (Thursday 3 October) launched a new accessibility awareness training programme designed to give bus drivers a greater understanding of the needs of older and disabled passengers.&nbsp; </p>
<p>The training will be delivered to all of the capital's 24,500 bus drivers by the end of 2014 and builds upon the extensive training London's bus drivers currently receive.</p>
<p>The new training scheme, called 'All Aboard!', has been carefully developed in partnership with disabled and older bus passengers, Transport for All and Age UK London.&nbsp; </p>
<p>Using the personal experiences of passengers with accessibility needs the training is designed to improve bus drivers' understanding of passengers' needs and encourage the best customer service possible.</p>
<p>Making London's bus network more accessible remains a key priority for both TfL and the Mayor of London. </p>
<p>TfL has more than doubled the number of accessible bus stops in the Capital since 2008 with 71 per cent of bus stops now fully accessible (up from 29 per cent in 2008).&nbsp; </p>
<h2>Wheelchair accessible</h2>
<p>TfL is also investing &pound;18m to increase this figure to 95 per cent by 2016.&nbsp;</p>
<p>All 700 routes in London are served by low-floor buses, that are able to lower to pavement level for ease of access for older or disabled passengers. </p>
<p>They are also wheelchair accessible and fitted with retractable ramps that are checked every day to ensure reliability. </p>
<p>In addition, every bus is fitted with next stop audio and visual announcements to assist the hearing or visually impaired.</p>
<p>Mike Weston, Director of Buses, TfL, said: 'We understand how important the bus network is to many older and disabled passengers.&nbsp; </p>
<h2>A big difference</h2>
<p>'The fleet is already the most accessible in the UK with low-floor wheelchair accessible buses fitted with retractable ramps. </p>
<p>'We have made more bus stops accessible than ever before and we have even more on the way.&nbsp; </p>
<p>'We also realise it is equally important to invest in bus staff.&nbsp; It is the drivers who are delivering the service and who can make a big difference to passengers who experience challenges using the network. </p>
<p>'This training demonstrates that a driver taking a little time, using respect and their own initiative, can make all the difference in the world to many older and disabled passengers.'</p>
<p>Sam Mauger, CEO, Age UK London, said: 'Age UK London is delighted to have been involved in 'All Aboard!', first by raising awareness of the issues and then by working in partnership with TfL to produce the DVD. </p>
<h2>We have lobbied</h2>
<p>'We are encouraged that older people have been given the opportunity to influence bus driving training. </p>
<p>'Buses are a lifeline to many older people but confidence in the bus driver makes the difference between making a journey or not. </p>
<p>'This is a great step forward in making people feel safe on our London buses.'</p>
<p>Faryal Velmi, Director, Transport for All, said: 'Transport for All is delighted that London's bus drivers will be hearing the voices of disabled and older people as part of their BTEC training through the 'All Aboard!' training film. </p>
<p>'We have lobbied for this to be introduced and believe it will be a powerful resource in educating drivers about the lives and needs of their disabled and older passengers.'<br>&nbsp;<br>The new training programme was launched at the 'Thinking outside the bus' event hosted by TfL today.&nbsp;</p>
<h2>Raising awareness</h2>
<p>This is the second event of this kind and gives older and disabled passengers, as well as the organisations that represent them, the chance to meet senior managers from TfL and the 12 bus operating companies, with the aim of shaping a more accessible bus service for the Capital.'</p>
<p>As part of its commitment as a founder member of the Pan-London Dementia Action Alliance, TfL will also be using the training to raise awareness of issues affecting people living with dementia and how drivers can help them make journeys safely and confidently.</p>
<p>
<hr>

<p><strong>Notes to editors:</strong> 
<ul>
<li>The new training complements the extensive training London's bus drivers already receive, which goes above and beyond that given to other bus drivers in the UK and results in a recognised BTEC vocational qualification </li>
<li>Provided in a DVD format, the new training takes place in a classroom environment, giving drivers time to consider and discuss what they could do differently after viewing different case studies </li>
<li>Each clip covers different scenarios, such as hidden impairments, the need for patience when dealing with older and disabled passengers, collaborative working to find mutual solutions and how to handle the use of the wheelchair priority area on board the bus. While the training cannot anticipate every scenario a bus driver may face, it is hoped it will enable the drivers to consider what they could do to improve the travelling experience for older or disabled passengers </li>
<li><a href="http://www.tfl.gov.uk/gettingaround/transportaccessibility/1171.aspx">More information on bus accessibility </a></li>
<li><a href="http://tinyurl.com/bnsj8pr">TfL accessibility video</a> </li>
<li>A Twitter feed &#64;TfLAccess has been launched to give advice on getting the most out of the transport network,&nbsp; to update disabled passengers on improvements to their services and to advise customers of any planned changes on the network - such as to lifts, escalators or stations - that may affect their journeys </li>
<li>In December 2012, TfL published a plan entitled <a href="http://www.tfl.gov.uk/assets/downloads/your-accessible-transport-network.pdf">'Your accessible transport network'</a> which identifies the accessible services which we provide, along with commitments to make our networks more accessible </li>
<li>Transport for All is the organisation representing London's older and disabled passengers. It lobbies and provides information on accessible transport in the capital. It has over 2000 members</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-TfL and accessibility charities launch new awareness training for bus drivers -->

 
 
        
        
            @{ViewBag.Description = "'All Aboard!' training to be delivered to all 24,500 bus drivers Builds on commitment to make at least 95 per cent of bus stops fully accessible by 2016 Transport for London (TfL) has today (Thursday 3 October) launched a new accessibility awareness";}
        
        


 