


@{ViewBag.Title = "TfL helps ex-Armed Forces members back into employment";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL helps ex-Armed Forces members back into employment</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL helps ex-Armed Forces members back into employment</h1>
        <div class="content-page-press-release">
        11 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        30 paid work placements created on vital transport projects.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Builds on Transport for London's (TfL) longstanding relationship with the Forces dating back to the First World War</li></ul>
<p>TfL has announced that it will be creating 30 paid work placements to help ex-Armed Forces members - who may be wounded, injured or sick - back into employment. </p>
<p>TfL has been working with the Armed Forces resettlement support groups and Remploy, and has identified that many of the personnel who are leaving the Services have useful skills that can be transferred to the transport sector which has a shortfall of skilled engineering and planning staff. </p>
<p>As a result, a pilot of four six-month work placements took place between 2010 and 2012, with three out of the four ending up with permanent positions at TfL or its suppliers. </p>
<p>Following the success of the trial a wider rollout of 30 six month placements will see people working in engineering, planning, project management and operational roles. </p>
<p>They will be working on vital projects such as the Bond Street station upgrade as well as TfL's sophisticated traffic control system which supports traffic signal technology to ease traffic flow and reduce disruptions.</p>
<p>The Mayor of London, Boris Johnson said: 'The excellent and varied skills gained by members of the Armed Forces make them a real asset to other businesses and organisations. </p>
<p>'This initiative is a win-win for all involved, providing TfL with talented workers in an area where there is a skills shortfall, and giving ex-Service members the chance of a new career path. </p>
<p>'It builds on our commitment to our Armed Forces, which includes free travel for war veterans and for Armed Forces personnel travelling in the capital.'</p>
<p>The placements will provide ex-Service men and women with an opportunity to develop further work experience and skills that are transferable within the transport industry to help them onto permanent employment at the end of their placements. </p>
<p>They will also be given training in interview techniques and CV writing skills to enable them to have the confidence to apply for future roles in the industry. </p>
<p>Mark Mayungu took part in the pilot in 2012. He was an engineer in the Navy Fleet Air Arm for five years. </p>
<p>He worked on air stations when on land and aircraft carrier on deployment working with both helicopters and fixed aircrafts, but following a traffic accident where he broke his neck, he retired from the Navy. Mark joined Hasler Company who worked with TfL to enable the opportunity. </p>
<p>Mark, who is now a Senior Traffic Engineer at TfL, said: 'I was very lucky because 80 per cent of people who suffer my injury do not make a full recovery. </p>
<p>'I met a lot of people with engineering skills during my time in rehab. Many of them have given up, they think their life is over and all they can do is stay at home being cared for, but I would recommend this scheme to them. </p>
<p>'I have now been at TfL for over a year and during this time I've got to work on projects like the London 2012 Games which was a fantastic experience. </p>
<p>'I still have physiotherapy for my injury and have to see my consultant, but that doesn't stop me from doing my job effectively. </p>
<p>'It is about putting yourself on the line and the self-belief that you are capable. I now feel very integrated in my job and into the transport industry.'</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE said: 'Not only does this scheme help support ex-Service men and women back into employment, but we also get to benefit from their engineering skills in a sector has a shortfall. </p>
<p>'I'm confident these placements will continue to be successful and am delighted that we are working with the Armed Services on this.</p>
<p>'We have a long standing relationship with the Armed Services, dating back to the First World War when bus drivers drove to the front line in France in 1914. </p>
<p>'Many people who join TfL come directly from a career in the Armed Forces and still have an active involvement with the Reserve Forces.'</p>
<p>TfL suppliers, Imtech ICT Ltd, Telent Limited, Siemens PLC, Cubic Transportation Systems, Ringway Jacobs and CSC have also committed to creating an additional nine work placements for ex-Service members. </p>
<p>TfL currently employs over 25,000 employees directly and supports tens of thousands more through its supply chain. TfL has created 265 graduate roles within the last three financial years. TfL has also created more than 3,700 apprenticeship roles since 2009.</p>
<p>Since November 2008 war veterans have been able to travel on the Tube, DLR, Overground, London buses and trams for free with a Veterans Oyster photocard as part of the Mayor's Veterans concessionary travel scheme. </p>
<p>More than 4,500 Veterans Oyster photocards have been issued. In addition, in 2012, the Mayor added to this commitment by introducing free travel for all armed forces personnel travelling in uniform on London Underground, Bus, Tram, DLR and Overground. </p>
<p>
<hr>
</p>
<h2>Notes to editors:</h2>
<ul>
<li>The suppliers will work with TfL and the Armed Forces resettlement support groups</li>
<li>Hasler Company - is the first of its kind - a unit dedicated to the specific and complex needs of seriously injured and ill Royal Marines who require bespoke programmes to aid their recovery. <a href="http://www.rmctf.org.uk/case-study/000016/">http://www.rmctf.org.uk/case-study/000016/</a></li>
<li>Recovery Career Services - support wounded, injured and sick individuals leaving the Armed forces. <a href="https://www.recoverycareerservices.org.uk/">https://www.recoverycareerservices.org.uk/</a> </li>
<li>The Poppy Factory - the organisation that aims to get HM Forces back into paid civilian employment <a href="http://www.poppyfactory.org/">http://www.poppyfactory.org/</a>&nbsp;&nbsp; </li>
<li>The Career Transition Partnership the official provider of resettlement services for those leaving the UK Armed Forces <a href="https://www.ctp.org.uk/">https://www.ctp.org.uk/</a> </li>
<li>TfL's annual workforce monitoring report has found that around 17 percent (around 1.4 million people) of Londoners identify themselves as having a disability. TfL employs around 27,000 staff of which only 531 (1 in 40) have declared themselves to be disabled. TfL is an equal opportunities employer and seeks to reflect the city which it serves. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-TfL helps ex-Armed Forces members back into employment -->

 
 
        
        
            @{ViewBag.Description = "Builds on Transport for London's (TfL) longstanding relationship with the Forces dating back to the First World WarTfL has announced that it will be creating 30 paid work placements to help ex-Armed Forces members - who may be wounded, injured or sick -";}
        
        


 