


@{ViewBag.Title = "TfL introduces further transparency and accountability by publishing more data and information";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL introduces further transparency and accountability by publishing more data and information</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL introduces further transparency and accountability by publishing more data and information</h1>
        <div class="content-page-press-release">
        21 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More contracts, details of expenditure and 'most requested' data to be routinely published on TfL website.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is reinforcing its commitment to improve transparency for customers and stakeholders by making a range of previously unpublished information available on its website.</p>
<p>These improvements include:</p>
<ul>
<li>Proactive publication of the information regularly requested by customers and stakeholders </li>
<li>Lowering the threshold for the publication of all expenditure from &pound;500 to &pound;250 </li>
<li>Publication of all contracts above the appropriate OJEU threshold</li></ul>
<p>This is all consistent with TfL's commitments given as part of the London Assembly Oversight Committee's report into Transparency across the GLA family.</p>
<p>TfL has examined the thousands of information requests received under the Freedom of Information Act (FOIA) and from London Assembly Members to identify the information for which it is regularly asked.</p>
<p>As a result, data will now be published each quarter on: Oyster card deposits, balances and incomplete journeys; road safety; Congestion Charge payments and penalty charges, including outstanding payments from embassies; Barclays Cycle Hire usage and availability; and performance on responding to FOIA requests.</p>
<p>All expenditure of more than &pound;250 will also be published, allowing even greater scrutiny of how money is spent. The previous reporting threshold was &pound;500.</p>
<p>Since July 2012, TfL has been publishing contracts over the value of &pound;10m. This threshold has also been lowered so that all contracts with a value above the appropriate OJEU threshold (see table in notes) entered into as a result of an Invitation to Tender issued after 1 September 2013 will be published within 20 days of being signed. Older contracts will be published on request and any contract announced in a press release will also be published.</p>
<p>With hundreds of contracts published each year, TfL will make it much easier for the public to find the contract information they are looking for with a new searchable function of a contracts webpage that will launch early next year. Until then, the contracts will continue to be published and searchable via the Contractsfinder website, with a link from the TfL website.</p>
<p>High value contracts already published include those with Serco for the operation of Barclays Cycle Hire, Virgin for the provision of Wi-Fi across the Tube network and Emirates for the sponsorship of the Emirates Air Line. The contract with Barclays for the sponsorship of Barclays Cycle Hire has now also been published, meaning that all of the contracts relating to the sponsorship of TfL services are now fully accessible to the public.</p>
<p>Richard Bevins, Head of Information Governance, said: 'These additions to the vast range of performance, financial and other data we already publish demonstrate our commitment to operating openly and transparently so that our customers and stakeholders can scrutinise what we do and hold us to account.'</p>
<p>In addition to these improvements, TfL continues to routinely publish a wealth of financial, operational and performance data through public committee papers and board reports, the annual report and business plans, crime and other statistical reports, and the Travel in London report. TfL is also a leader in the transport industry in publishing live information feeds through which developers can produce apps tailored to customers' needs. 
<hr>

<p>
            <p><strong>Notes to Editors:</strong></p>
<p>1.&nbsp;The OJEU threshold for the publication of contracts vary according to whether the procurement is for services, supply of goods or works under the 'Public Contracts Regulations' or 'Utilities Contracts Regulations'. The below table sets out the threshold for publication of contractions applicable to TfL or its subsidiaries.<br></p>
<p><strong>Public&nbsp;contracts regualations<br></strong>(eg Congestion Charging, Barclays Cycle Hire, highways maintenance)<br>Services&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &pound;174K<br>Supplies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &pound;174K<br>Works&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&pound;4.348m<br></p>
<p><strong>Utilities contracts regulations&nbsp;<br></strong>(eg Underground, Overground, DLR, trams, cable car)<br>Services&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &pound;348K<br>Supplies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &pound;348K<br>Works&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&pound;4.348m</p>
<p><br>2.&nbsp;Contracts over the OJEU threshold will be published in full, redacting only information where it would already be exempt from disclosure under FOI regulations.</p>
<p><br>TfL Press Office <br>0845 604 4141<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-TfL introduces further transparency and accountability by publishing more data and information -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is reinforcing its commitment to improve transparency for customers and stakeholders by making a range of previously unpublished information available on its website.These improvements include:Proactive publication of the";}
        
        


 