


@{ViewBag.Title = "TfL consults on proposed changes to routes 61, 273 and 661";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL consults on proposed changes to routes 61, 273 and 661</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL consults on proposed changes to routes 61, 273 and 661</h1>
        <div class="content-page-press-release">
        03 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is today launching a public consultation seeking views on the future of a number of bus routes that were diverted by the closure of Chislehurst Road bridge to buses between 2009 and 2012.
        
    </div>



 <div class="on-this-page">
<p>In April 2009 routes 61, 273 and 661 were placed on diversion following the closure of Chislehurst Road bridge to buses.&nbsp; As a result these routes were diverted to use Leesons Hill, Cray Avenue and Poverest Road. </p>
<p>When the bridge reopened in 2012 a decision was made to return route 61 to its original roads whilst routes 273 and 661 continued to follow the diversion.&nbsp; </p>
<p>When TfL analysed the results of this it found that good use was being made of the new links but a service also needed to be retained on Chislehurst Road.&nbsp; </p>
<p>It was found that approximately 800 extra passengers per day were benefiting and making use of the changed routes.</p>
<p>TfL proposes to make the current service patterns permanent and is seeking the views of local residents and passengers.&nbsp; </p>
<p>A public consultation opens today (Thursday 3 October) and is available on the <a href="https://consultations.tfl.gov.uk">TfL website</a>.&nbsp; </p>
<p>The consultation closes on Friday 8 November 2013,&nbsp; after which the consultation results will be considered and a final decision made.</p>
<p>
<hr>

<p>
<h2>Notes to editors:</h2>
<p><strong>1.&nbsp;</strong>The routes concerned are:</p>
<ul>
<li>Route 61 (Chislehurst - Bromley North) </li>
<li>Route 61 runs every 15 minutes Monday to Saturday daytimes, every 20 minutes Monday to Saturday evenings and Sunday shopping hours and every 30 minutes Sunday evenings. It would continue to run via Chislehurst Road </li>
<li>Route 273 (Petts Wood - Lewisham) </li>
<li>Route 273 runs every 20 minutes Monday to Saturday daytimes and every 30 minutes all day Sunday and all evenings. It would continue to run via Leesons Hill, Cray Avenue and Poverest Road - (St Mary Cray) which would now be the permanent routeing </li>
<li>Route 661 (Petts Wood - Eltham College) </li>
<li>Route 661 is a schoolday-only service towards Eltham College in the morning and towards Petts Wood in the afternoon. It would continue to run via Leesons Hill, Cray Avenue and Poverest Road - (St Mary Cray) which would now be the permanent routeing</li>
<li><a href="/assets/downloads/Chislehurst_Bridge_Map.pdf">Map outlining the routes in the Chislehurst Bridge area - PDF 51.1KB</a></li></ul>
<p><strong>2.</strong>&nbsp;Drop-in sessions</p>
<p>We will have staff available from both Transport for London and Bromley Council who you will be able to discuss these changes with.&nbsp; <br>They will be available on the following days:</p>
<ul>
<li>Monday 7 October between 17:00 and 20:00 at Leesons Primary School, Leesons Hill, Orpington BR5 2GA </li>
<li>Wednesday 9 October between 10:00 and 13:00 at Poverest Adult Education Centre, Poverest Road, Orpington BR5 2DQ</li></ul>
<p><strong>3.</strong>&nbsp;Postal responses to the consultation may be sent to: </p>
<ul>
<li>FREEPOST TFL CONSULTATIONS</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-TfL consults on proposed changes to routes 61, 273 and 661 -->

 
 
        
        
            @{ViewBag.Description = "In April 2009 routes 61, 273 and 661 were placed on diversion following the closure of Chislehurst Road bridge to buses.&nbsp; As a result these routes were diverted to use Leesons Hill, Cray Avenue and Poverest Road. When the bridge reopened in 2012 a";}
        
        


 