


@{ViewBag.Title = "Transport for London celebrates schools' commitment to active and safer travel ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London celebrates schools' commitment to active and safer travel </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London celebrates schools' commitment to active and safer travel </h1>
        <div class="content-page-press-release">
        24 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London schools rewarded for their efforts to encourage safer travel and to increase levels of cycling and walking to and from school.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is today celebrating schools' success in promoting sustainable and safer travel. An annual event at City Hall brings together the highest performing schools across London that have achieved outstanding results, as part of TfL's STARS (Sustainable Travel: Active Responsible Safe) school travel plan accreditation scheme.&nbsp; </p>
<p>Forty per cent of London schools are 'STARS' equating to 1,248 primary and secondary schools across all London boroughs, up 16 percent from 2012. These schools are making a significant difference to their communities by implementing safer and sustainable travel initiatives, resulting in reductions in car use and increases in walking and cycling on the journey to school as well as more responsible use of public transport. Schools earn accreditation at three levels: Bronze, Silver and Gold, achieving a higher level of accreditation based on the number of travel initiatives and their effectiveness in delivering a move away from car use.</p>
<p>Since 2004, schools that are part of the STARS Accreditation scheme have seen an eight per cent reduction in car use as part of the school journey, with Silver and Gold schools achieving a six per cent increase in walking and a two per cent increase in cycling. </p>
<p>The best schools from across London have been invited to showcase their achievements in travel planning delivery and have been nominated for School Travel Champion awards and School of Excellence awards (in key areas such as cycling, walking, road safety).</p>
<p>In addition, the best primary and secondary school in each of four regions across London will be presented with awards for 'School of the Region', indicating they have demonstrated the highest level of commitment to active, safer and responsible school travel in their region. These eight schools are:</p>
<ul>
<li>Foulds Primary School in Barnet (North London)</li>
<li>West Lea Secondary School in Enfield (North London)</li>
<li>Kingsmead Primary School in Hackney (East London)</li>
<li>The Coopers' Company &amp; Coburn Secondary School in Havering (East London)</li>
<li>Rock Mount Primary School in Croydon (South London)</li>
<li>Oakwood Secondary School in Bexley (South London)</li>
<li>St Benedict's School in Ealing (West London) </li>
<li>St Gregory's RC Primary School in Ealing (West London)</li></ul>
<p>Leon Daniels, Managing Director of TfL Surface Transport, said: 'We want to ensure that travelling in London is a happy, healthy and safe experience for young people and their families. We are delighted to invite London's top performing schools to the STARS event, to thank them for their commitment to encourage the whole school community to make safer and active choices, which will stay with them for life.&nbsp; We'd also like to thank these schools in particular for being an inspiration and example to all schools in London showing what can be achieved.' </p>
<p>Earlier this year the Mayor and TfL launched a new road safety plan entitled Safe Streets for London, which set out a clear path towards helping to reduce death and serious injury on the capital's roads. The plan, which covers the period until 2020, builds on solid progress already made by TfL, the London boroughs and the police over the last decade to improve the safety of London's roads.&nbsp;<br><br></p>
<p>
<hr>
<br><strong>Notes to Editors:<br></strong><strong><br></strong>1.&nbsp;STARS Accreditation Scheme: in conjunction with the London boroughs, TfL offers support to all primary and secondary schools (with&nbsp;more than&nbsp;40 per cent&nbsp;currently participating) to support school travel plan activities to help young people and the whole school community to adopt safer and more active travel behaviour. The scheme has three levels:</p>
<ul>
<li>Bronze</li>
<li>Silver&nbsp; </li>
<li>Gold</li></ul>
<p>The more initiatives a school delivers and the greater the changes in behaviour, the higher the STARS Accreditation award. <br><br>2.&nbsp;Schools attending the event: Thirty of the 160 Gold Schools from 2013 which have been nominated for awards, along with previous School of the Region winners from 2012 and 2011. <br><br>3.&nbsp;Awards that will be presented at the event include:&nbsp; </p>
<ul>
<li>School of the Region - The 33 London boroughs are divided into four regions - North, South, East, and West. In each region, one primary school and one secondary school will be awarded School of the Region where they have demonstrated the highest level of commitment to active, safer and responsible school travel. The boroughs in each region are as follows: Barnet, Enfield, Hackney, Havering, Ealing, Bexley and Croydon</li>
<li>School of Excellence - This award recognises schools that have demonstrated innovative and outstanding achievements in one of six travel areas: Walking, Scootering, Cycling, Road Safety, Pupil Led Projects and Partnership Working. Pupil-Led Projects are those campaigns that have been initiated and delivered by pupils, demonstrating the best in peer-to-peer leadership.&nbsp; The Partnership Working award recognises the best efforts in bringing internal and external parties together to achieve change for the school community</li>
<li>School Travel Plan Champion of the Region - This award recognises an individual's dedication to engrain an active and safer travel ethos within their school and the wider community. <br></li></ul>
<p>4.&nbsp;For further details on the STARS Accreditation Scheme, and the full range of programmes TfL offers to schools and young people, visit <a href="http://www.tfl.gov.uk/younglondon">tfl.gov.uk/younglondon</a> <br> </p>
<p>TfL Press Office <br>0845 604 4141<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Transport for London celebrates schools' commitment to active and safer travel  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is today celebrating schools' success in promoting sustainable and safer travel. An annual event at City Hall brings together the highest performing schools across London that have achieved outstanding results, as part of TfL's";}
        
        


 