


@{ViewBag.Title = "Transport for London and its policing partners cut cycle theft across the capital";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London and its policing partners cut cycle theft across the capital</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London and its policing partners cut cycle theft across the capital</h1>
        <div class="content-page-press-release">
        10 October 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has joined forces with the police to crack down on cycle theft across the Capital in a special operation called Project Cycle Ops.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Many people who have their bikes stolen simply give up cycling, so cracking down on this crime is essential for the Mayor's ambition to double the number of cyclists."</div>
        <div class="quote-footer">
            <div class="quotee-name">Andrew Gilligan</div>
            <div class="quotee-job-title">the Mayor of London's Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Many people who have their bikes stolen simply give up cycling, so cracking down on this crime is essential for the Mayor's ambition to double the number of cyclists.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>A collaboration between TfL, the Metropolitan Police Service, British Transport Police and the City of London Police. </li></ul>
<p>Since the start of the new initiative in October 2012, bike theft has fallen by 11 per cent across the Capital with&nbsp;more than&nbsp;2,000 fewer offences.</p>
<p>The number of bike thefts in London from October 2012 to the end of August 2013 was 19,052, compared with 21,488 in 2012 and 20,411 in 2011 over the same time period. </p>
<p>Against a three-year average (used to flatten out fluctuations caused by spells of extreme weather) bike theft is down by 10.3 per cent. </p>
<p>Andrew Gilligan, the Mayor of London's Cycling Commissioner, said: 'Many people who have their bikes stolen simply give up cycling, so cracking down on this crime is essential for the Mayor's ambition to double the number of cyclists. </p>
<p>'In the months ahead, you will see more initiatives from us to pile further pressure on the thieves and shrink the market in stolen bikes.' </p>
<p>Activity to tackle bike crime has included bike marking and registration events, educating cyclists, high-visibility policing patrols to discourage thieves, surveillance, and special undercover policing tactics. </p>
<p>Five thieves have been given ASBOs to prevent them from having a bike they can not prove they legitimately own. </p>
<p>During the course of Project Cycle Ops police have security marked and registered over 40,000 bikes on BikeRegister.com, which helps to deter thieves and reunite people with their bikes if they are lost or stolen. </p>
<p>However, they still have over 2,000 unclaimed bikes held in police stations across the capital and have launched a photo gallery site in an attempt to get bikes back to their owners: <a href="http://www.flickr.com/photos/metropolitanpolice/">www.flickr.com/photos/metropolitanpolice/</a></p>
<p>TfL and the police joined forces with BikeRegister on a marketing campaign aimed at encouraging people to get their bikes security marked and registered, and insist on proof of ownership and bike registration numbers before making a purchase. </p>
<p>In addition, they worked with Gumtree, the UK's number one online classified website, to help get this message out to the public; as a result, cycle security pop-up messages are now seen on the site by anyone looking to buy a bike, along with updated guidance and a dedicated cycle security blog. </p>
<p>Police have also worked behind the scenes with the site to catch the bike thieves in the act as they attempted to sell bikes and bike parts online - cutting off one of their marketplaces and making it much more difficult for criminals to make money from this kind of crime.</p>
<p>Siwan Hayward, Head of Transport Policing, said: 'Project Cycle Ops has proven to be a fabulous success. </p>
<p>'With increasing numbers of people taking to two wheels this 10 per cent reduction in crime is a great effort by all agencies involved and has shown our commitment to bike owners across the capital.</p>
<p>'We care about every journey cyclists make, and are absolutely committed to keeping both them and their bikes safe and secure.'</p>
<p>Superintendent Rob Revill, Safer Transport Command said: 'It is great to see that by working together our efforts have resulted in over 2000 less people having their bike stolen in the capital. </p>
<p>'However, it is sad to see thousands of bikes lying in our police stations unclaimed as we cannot identify owners. </p>
<p>'So, we are urging Londoners to help us by taking a few minutes to lock bikes securely, security mark and register bike details online and report any theft to police so together we can lock thieves out' </p>
<p>Inspector David Aspinall, of City of London Police Safer Transport Operations Team, said: 'Thieves do operate in the City and will target bikes that have not been properly secured.&nbsp; </p>
<p>'The force regularly hold free bike marking events at various locations in the Square Mile. </p>
<p>'If you would like to attend one of these please check our website or follow us on twitter for updates. </p>
<p>'We also have helpful cycle security videos on our YouTube channel which demonstrate the best way to secure your bike.'</p>
<p>Superintendent Jason Bunyard, British Transport Police lead for cycle theft, said: 'Project Cycle Ops has helped to substantially reduce cycle crime across the capital and has also played a part in the success of our national cycle theft campaign, called Operation Wiggins.</p>
<p>'We will continue to make London's transport network a difficult place for thieves to operate. </p>
<p>'Our officers will continue to carry out patrols and remind passengers of the importance of locking up their cycles securely.'</p>
<p>
<hr>

<p>
<h2>Notes to editors: </h2>
<ul>
<li><a href="http://www.tfl.gov.uk/roadusers/cycling/11688.aspx">TfL's top 10 bike safety tips</a> </li>
<li>Met police cycle site, including link to photo gallery <a href="http://content.met.police.uk/Site/cycling">http://content.met.police.uk/Site/cycling</a></li>
<li>BikeRegister: Met police went through a competitive tender process for a preferred registration/marking scheme. The key requirements were: <br>a)&nbsp;A visible, unique marking <br>b)&nbsp;No equipment required to read the marking <br>c)&nbsp;Marking must be hard wearing and non removable <br>d) Must not sell data on</li>
<li>BikeRegister were successful in the process: <a href="http://www.bikeregister.com">www.bikeregister.com</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-October-Transport for London and its policing partners cut cycle theft across the capital -->

 
 
        
        
            @{ViewBag.Description = "A collaboration between TfL, the Metropolitan Police Service, British Transport Police and the City of London Police. Since the start of the new initiative in October 2012, bike theft has fallen by 11 per cent across the Capital with&nbsp;more";}
        
        


 