
    
  



@{ViewBag.Title = "Our safety priorities";}
@{ViewBag.Keywords = "Safety and security,Assisted travel,Buses,Coaches,Cycling,DLR,Emirates Air Line,London Overground,Rail,River,Taxis and minicabs,Trams,Tube,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/security-on-the-network/our-safety-priorities";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/security-on-the-network">Security on the network</a></li>
                
            
            
                <li><span class="last-breadcrumb">Our safety priorities</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Our safety priorities</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Tackling transport crime and disorder is one of our main priorities. We are committed to helping to bring real benefits to our passengers, staff and the wider community.
        
      </div>
    
    <div class="on-this-page">
      <p>The transport system in London is a low-crime environment, and the risk of becoming a victim of crime while travelling on it is low.</p>

<p>However, crime, antisocial behaviour and the fear of crime can have a major effect on people's willingness to travel and access jobs and services. Improving safety and security will help improve the quality of life and make London a fairer and more prosperous city. We must continue efforts that have been successful in reducing crime and antisocial behaviour, and identify opportunities and areas for improvement.</p>
      
           
      <div>

<h2>Community Safety Partnership</h2>

<p>Our Directorate of Enforcement and On-Street Operations (EOS) is responsible for community safety, enforcement and policing across London's transport system. This means it coordinates a range of schemes that aim to improve safety and security when travelling in London.</p>

<p>EOS works with partners to <a href="http://www.atoc.org/">Rail Delivery Group</a>.</p>

<ul>
	<li><a href="http://www.btp.police.uk/">British Transport Police</a></li>
	<li><a href="http://www.cityoflondon.police.uk/citypolice/">City of London Police</a></li>
	<li><a href="http://www.london.gov.uk/">Greater London Authority</a></li>
	<li><a href="http://www.londoncouncils.gov.uk/">London Councils</a></li>
	<li><a href="http://www.londontravelwatch.org.uk/home/">London TravelWatch</a></li>
	<li><a href="http://content.met.police.uk/Home">Metropolitan Police Service</a></li>
	<li><a href="https://www.london.gov.uk/what-we-do/mayors-office-policing-and-crime-mopac">Mayor's Office for Policing and Crime</a></li>
	<li><a href="http://www.networkrail.co.uk/">Network Rail</a></li>
</ul>

<h2>Working with our partners</h2>

<p>Our Directorate of Enforcement and On-Street Operations (EOS) is responsible for community safety, enforcement and policing across London's transport system. This means it coordinates a range of schemes that aim to improve safety and security when travelling in London.</p>

<p>EOS works with partners to:</p>

<ul>
	<li>Set the direction, priorities, and policies for policing services on and around the transport system</li>
	<li>Undertake intelligence, analysis and research activities to identify and inform responses to community safety and network disruption issues</li>
	<li>Undertake activities to minimise fare evasion and ticket irregularities on buses</li>
	<li>Manage the 11-18 free travel scheme on London's buses</li>
	<li>Manage performance and evaluating policing and crime reduction activities</li>
	<li>Provide specialist crime and anti-social behaviour reduction advice</li>
	<li>Deliver crime and anti-social behaviour reduction projects and activities in partnership with the police and other organisations</li>
	<li>Investigate and prosecute fare evaders and other offenders</li>
	<li>Coordinate and provide support for CCTV activities on the bus network</li>
	<li>Provide support for community safety, policing and enforcement activities</li>
	<li>Manage requests from police and law enforcement agencies for customer information and CCTV footage to address policing, national security and law enforcement issues affecting London</li>
</ul>
</div>
 <div>


        <h2>The Crime and Disorder Act</h2>
        <p>We are subject
        to Section 17 of the Crime and Disorder Act 1998 which means we have to
        do all we reasonably can to reduce crime and disorder on the transport
        system.</p>
        <p>The legislation focuses on how our delivery of core
        services, along with our public authorities, can make a significant
        difference to crime reduction in local communities.&nbsp;</p>
    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/security-on-the-network" class="heading">
                    <h2 id="sub-menu-heading">Security on the network<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/our-safety-priorities">Our safety priorities</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/transport-policing">Transport policing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/cab-enforcement">TPH journey-related enforcement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/tph-related-sexual-offences">Taxi and Private Hire journey-related sexual offences</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.btp.police.uk/" class="plain-button">British Transport Police</a>
<a href="http://content.met.police.uk/Home" class="plain-button">Metropolitan Police Service</a>
<a href="http://www.cityoflondon.police.uk/citypolice/" class="plain-button">City of London Police</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Tackling transport crime and disorder is one of our main priorities. We are committed to helping to bring real benefits to our passengers, staff and the wider community.";}
        
            
        


 