
    
  



@{ViewBag.Title = "TPH journey-related sexual offences";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/security-on-the-network/tph-related-sexual-offences";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/security-on-the-network">Security on the network</a></li>
                
            
            
                <li><span class="last-breadcrumb">TPH journey-related sexual offences</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>TPH journey-related sexual offences</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We work closely with the Metropolitan Police Service and City of London Police to prevent taxi and private hire-related sexual offences in London, bring offenders to justice and push for the toughest penalties possible.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>The safety of passengers using taxis and private hire vehicles continues to be a&nbsp;priority for us and our policing partners. Passengers should expect to be safe &#45; and feel safe &#45; when travelling by taxi or private hire and no one should ever be subject to sexual behaviour by a driver.</p>

<h2>Measures&nbsp;we take&nbsp;to ensure safety</h2>

<p>With more than 109,000 licensed private hire drivers and&nbsp;around 22,000 licensed taxi drivers in London, millions of taxi and private hire journeys are made every year. The vast majority pass without incident. However, we are working with our partners in the police to crackdown on the minority of drivers who offend and put passenger safety at risk. Joint TfL/Police guidance has been issued to all private hire operators on reporting alleged or suspected criminal conduct to the police in an appropriate and timely way.</p>

<p>We have implemented a range of measures to enhance public safety to include:</p>

<h3><strong>Police and TfL enforcement activity </strong></h3>

<ul>
	<li>Taxi and Private Hire Compliance officers undertake regular checks of licensed operators, drivers and vehicles to identify non compliant or&nbsp;illegal activity</li>
	<li>Targeted plain clothes operations to detect offenders</li>
	<li>High visibility operations to deter offenders e.g. Operation Safer Travel at Night</li>
	<li>Police and TfL investigations of all allegations, whether reported directly, through social media, customer complaints, operators or via a third-party</li>
</ul>

<h3><strong>Licensing and regulatory action</strong>&nbsp;</h3>

<ul>
	<li>Enhanced Disclosure and Barring Service (DBS) checks on all drivers and applicants when they apply for or renew a licence</li>
	<li>TfL licensing action against licensees where appropriate</li>
	<li>Regulatory requirement that all private hire operators have to provide their customers with a booking confirmation which could be by text message, app, email or, paper receipt.</li>
	<li>Dedicated TfL Taxi and Private Hire customer complaints process, to encourage reporting of inappropriate driver conduct so appropriate action can be taken by TfL and/or the police</li>
	<li>Urging the Government for tighter controls on cross border hiring as well as seeking additional enforcement powers</li>
</ul>

<h3>Communications</h3>

<ul>
	<li>Safer Travel at Night communications</li>
	<li>Encouraging women to reporty unwanted sexual behaviour to TfL and the police.</li>
</ul>

<p>On this page you will find data and information about sexual offences committed by taxi and private hire drivers against fare paying passengers reported to the Metropolitan Police and City of London Police in 2018.</p>

<h3>Explanation of the data</h3>

<h4>Recorded crime figures</h4>

<p>The figures in the table below are official figures based on police recorded crime data and verified against TfL's Taxi and Private Hire Licensing database.</p>

<p>The figures in Table 1 show the annual number of sexual offences recorded by the Metropolitan Police Service (MPS) and City of London Police (CoLP) since 2002. The MPS and CoLP are responsible for investigating crimes that have been committed in London. In line with Home Office crime counting rules, the figures relate to crime recorded by the police during that year, regardless of when the offence took place.</p>

<p>Offences that are committed outside of London by London licensed drivers are investigated by the local police force for that area. These offences are not included in the figures below. TfL takes licensing action when notified of a sexual offence by a London licensed driver, regardless of which police force notifies us.</p>

<p>The figures are for sexual offences committed by a licensed taxi or private hire driver and by 'bogus' drivers posing as taxi or private hire drivers against a fare-paying passenger that have taken place in London.</p>

<p><a href="http://www.legislation.gov.uk/ukpga/2003/42/contents">Sexual offences </a>include offences such as rape, assault by penetration, sexual assault, exposure and administering a substance with intent of engaging in non-consensual sexual activity. The figures are broken down into rape and 'other sexual offences' which are the MPS sub-categories for sexual offences. The vast majority of 'other sexual offences' are sexual assaults, which can include offences such as:&nbsp;&nbsp;</p>

<ul>
	<li>Intentional sexual touching of another person without their consent</li>
	<li>A&nbsp;driver attempting to kiss or grope a passenger</li>
	<li>A&nbsp;driver grabbing a passenger's hand to kiss it</li>
</ul>

<p>Offences that were recorded by the police in 2018 that resulted in a charge are outlined in Table 2.</p>

<p>These figures were correct at the time of publication and may be subject to change. Taxi and Private Hire journey-related sexual offences data is updated and published annually.</p>

<h3><strong>Guidance on the reporting of alleged or suspected criminal activity</strong></h3>

<p>There are various ways the police can be notified of an allegation of a driver committing a sexual offence against a fare paying passenger. The most common ways include:</p>

<ul>
	<li>The victim reporting the offence directly to the police</li>
	<li>A&nbsp;friend or family member reporting it to the police on their behalf</li>
	<li>The victim or family member reporting it to TfL or the private hire operator; who then report it to the police.</li>
</ul>

<p>In late 2017, we, along with the MPS, issued joint <a href="http://content.tfl.gov.uk/guidance-on-reporting-crime.pdf">guidance </a>to all Private Hire Operators on reporting alleged or suspected criminal conduct to the police in an appropriate and timely way.</p>

<p>We recognise that operators may receive notification of a potential crime as a complaint. This may come from a passenger using their services, a driver or another member of the public. It is important that all reports of a potential crime are passed to the police immediately to ensure that the police can investigate the incidents effectively and efficiently.</p>

<p>This guidance has resulted in more allegations being reported to the police which explains the significant increases in recorded offences for 2018.</p>

<h3>Table 1: Recorded crime figures for Taxi and Private Hire journey-related sexual offences 2002-2018</h3>
</div>
 

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Year&nbsp;</strong></td>
			<td><strong>Rape&nbsp;</strong></td>
			<td><strong>Other sexual offence&nbsp;</strong></td>
			<td><strong>Total</strong>&nbsp;</td>
		</tr>
		<tr>
			<td>2002</td>
			<td>43&nbsp;</td>
			<td>&nbsp;146</td>
			<td>189</td>
		</tr>
		<tr>
			<td>2003</td>
			<td>27</td>
			<td>&nbsp;97</td>
			<td>124</td>
		</tr>
		<tr>
			<td>2004</td>
			<td>25</td>
			<td>&nbsp;100</td>
			<td>125</td>
		</tr>
		<tr>
			<td>2005</td>
			<td>15</td>
			<td>&nbsp;101</td>
			<td>116</td>
		</tr>
		<tr>
			<td>2006&nbsp;</td>
			<td>14</td>
			<td>&nbsp;93</td>
			<td>107</td>
		</tr>
		<tr>
			<td>2007&nbsp;</td>
			<td>15</td>
			<td>&nbsp;89</td>
			<td>104</td>
		</tr>
		<tr>
			<td>2008&nbsp;</td>
			<td>12</td>
			<td>&nbsp;96</td>
			<td>108</td>
		</tr>
		<tr>
			<td>2009</td>
			<td>24</td>
			<td>112</td>
			<td>136</td>
		</tr>
		<tr>
			<td>2010</td>
			<td>21</td>
			<td>102</td>
			<td>123</td>
		</tr>
		<tr>
			<td>2011</td>
			<td>30</td>
			<td>77</td>
			<td>107</td>
		</tr>
		<tr>
			<td>2012</td>
			<td>23</td>
			<td>105</td>
			<td>128</td>
		</tr>
		<tr>
			<td>2013</td>
			<td>17</td>
			<td>84</td>
			<td>101</td>
		</tr>
		<tr>
			<td>2014</td>
			<td>28</td>
			<td>108</td>
			<td>136</td>
		</tr>
		<tr>
			<td>2015</td>
			<td>28</td>
			<td>108</td>
			<td>136</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>30</td>
			<td>134</td>
			<td>164</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>34</td>
			<td>128</td>
			<td>162</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>25</td>
			<td>269</td>
			<td>294</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>
<p>Please note, not all of the offences reported in Table 1 will have resulted in a driver being charged with the offence. This could be for various reasons, including the driver not being traced and identified, the victim not supporting the police investigation or prosecution, insufficient evidence to charge a suspect, the Crown Prosecution Service deciding there is no reasonable chance of conviction or that it is not in the public interest to prosecute.</p>

<p>Some offences reported in Table 1 are unbooked and the drivers can not be traced. The police are more likely to be able to trace and take action against a driver when they are licensed and the journey is booked through a licensed operator as there will be a record of the journey and the driver.</p>

<p>In most cases, the police and the Crown Prosecution Service will require the victim's consent and cooperation in the police investigation to bring charges against the suspect. In cases where the victim decides not to support the police investigation, the police will use any information they have obtained for investigative and intelligence purposes. As the licensing authority, we can still take licensing action against a driver even if police or judicial action is not possible.</p>

<p>Information about the location, time of offence and any details about the suspect/s involved are used by the MPS, CoLP and TfL for intelligence-led enforcement and investigation.</p>

 <div>

<h2>Breakdown of drivers charged&nbsp;by licence status and journey type</h2>

<p>We have worked with the MPS and CoLP to provide information about the licence status and journey type for all drivers who have been charged with a Taxi and Private Hire journey-related sexual offence, recorded in the 2018 calendar year.</p>

<p>A driver will be charged when the MPS or CoLP has determined that there is:</p>

<ul>
	<li>Sufficient evidence for the case to go before the Court;</li>
	<li>The victim supports the police investigation and criminal justice process or there is sufficient evidence without the victim's cooperation and support for the prosecution;</li>
	<li>Crown Prosecution Service decides that there is a reasonable chance of a conviction and that it is in the public interest to charge the suspect with a sexual offence.</li>
</ul>

<p>The total number of drivers charged with a Taxi and Private Hire journey related sexual offence recorded in 2018 is shown in Table 2 below.</p>

<h3><strong>Drivers charged</strong></h3>

<p>In 2018 there were 17 individual drivers charged for 21 offences. Two drivers were charged with more than one offence.</p>
</div>
 
<p><strong>Table 2: 2018 - Taxi and Private Hire journey-related sexual offences where a driver has been charged.</strong></p>

<p>These figures relate to crimes recorded by the police in 2018.</p>
<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width: 525.47px;">
	<tbody>
		<tr>
			<td colspan="3" style="width: 319.38px;"><strong>Offender Profile</strong></td>
			<td colspan="2" style="width: 139.28px;"><strong>Type of Sexual Offence</strong></td>
			<td style="width: 53.47px;"><strong>Result at Court</strong></td>
		</tr>
		<tr>
			<td style="width: 92.66px;"><strong>Journey Type</strong></td>
			<td style="width: 106.23px;">Driver's TfL licence status at time of offence</td>
			<td style="width: 112.38px;">Total offences by driver journey type</td>
			<td style="width: 69.7px;">Rape</td>
			<td style="width: 65.28px;">Other sexual offences</td>
			<td style="width: 53.47px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width: 92.66px;">
			<p><strong>Not Booked</strong></p>
			</td>
			<td style="width: 106.23px;">Unlicensed Driver</td>
			<td style="width: 112.38px;">1</td>
			<td style="width: 69.7px;">1</td>
			<td style="width: 65.28px;">0</td>
			<td style="width: 53.47px;">convicted</td>
		</tr>
		<tr>
			<td style="width: 92.66px;"><strong>Private Hire not Booked </strong></td>
			<td style="width: 106.23px;">Licensed Private Hire Driver</td>
			<td style="width: 112.38px;">1</td>
			<td style="width: 69.7px;">0</td>
			<td style="width: 65.28px;">1</td>
			<td style="width: 53.47px;">convicted</td>
		</tr>
		<tr>
			<td style="width: 92.66px;"><strong>Booked</strong></td>
			<td style="width: 106.23px;">Licensed Private Hire Driver</td>
			<td style="width: 112.38px;">3</td>
			<td style="width: 69.7px;">1</td>
			<td style="width: 65.28px;">2</td>
			<td style="width: 53.47px;">convicted</td>
		</tr>
		<tr>
			<td style="width: 92.66px;"><strong>Booked</strong></td>
			<td style="width: 106.23px;">Licensed Private Hire Driver</td>
			<td style="width: 112.38px;">7</td>
			<td style="width: 69.7px;">0</td>
			<td style="width: 65.28px;">7</td>
			<td style="width: 53.47px;">not guilty</td>
		</tr>
		<tr>
			<td style="width: 92.66px;"><strong>Booked</strong></td>
			<td style="width: 106.23px;">Licensed Private Hire Driver</td>
			<td style="width: 112.38px;">5</td>
			<td style="width: 69.7px;">0</td>
			<td style="width: 65.28px;">5</td>
			<td style="width: 53.47px;">awaiting trial</td>
		</tr>
		<tr>
			<td style="width: 92.66px;"><strong>Taxi</strong></td>
			<td style="width: 106.23px;">Licensed Taxi Driver</td>
			<td style="width: 112.38px;">4</td>
			<td style="width: 69.7px;">0</td>
			<td style="width: 65.28px;">4</td>
			<td style="width: 53.47px;">convicted</td>
		</tr>
		<tr>
			<td colspan="2" style="width: 202.23px;"><strong>Total Number of Offences</strong></td>
			<td style="width: 112.38px;"><strong>21*</strong></td>
			<td style="width: 69.7px;"><strong>2</strong></td>
			<td style="width: 65.28px;"><strong>19</strong></td>
			<td style="width: 53.47px;"><strong>&nbsp;-</strong></td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>
<p><strong>*involving 17 individual drivers</strong></p>

 <div>

<p><strong>Action against offenders</strong></p>

<p>Where the suspect is a TfL licensed taxi or private hire driver, and we are notified by the police of an allegation, we immediately assess whether there is a risk to public safety. We may immediately suspend or revoke the driver's licence prior to charge or conviction, if we believe that is in the interests of public safety.&nbsp; In some cases, we may take licensing action immediately, irrespective of the results of the police investigation and subsequent court proceedings.</p>

<p><strong>Licensed drivers</strong></p>

<p>Of the 17 drivers charged with one or more offences, 16 of these were TfL licensed drivers at the time of the offence. These 16 licensed drivers were charged with 20 offences between them.</p>

<p>Fifteen were licensed private hire drivers at the time of the offence (including booked and unbooked journeys) and one was a licensed taxi driver.</p>

<p>Of the 15 licensed private hire drivers: &nbsp;</p>

<ul>
	<li>Four were convicted and no longer hold an active private hire licence.</li>
	<li>Five are awaiting court outcomes, none of which hold an active private hire licence.</li>
	<li>Six were found not guilty, one of which was found not guilty for two separate offences on journeys booked through two different private hire operators.&nbsp; None of these drivers currently hold an active licence.</li>
</ul>

<p>The licensed taxi driver was found guilty of four sexual offences. This driver no longer holds a taxi driver licence.</p>

<p>&nbsp;</p>

<p><strong>Private hire operators</strong></p>

<p>The information in this section relates to offences where the journey was booked through a licensed private hire operator.</p>

<p>Of the total 21 Taxi and Private Hire journey-related sexual offences where a driver has been charged, 15 offences were by licensed private hire drivers undertaking booked journeys, booked through five different private hire operators involving 14 individual drivers. The private hire operators which have had one or more of their drivers charged with a Taxi and Private Hire-journey related sexual offence are listed in Table 3 below.</p>

<p>&nbsp;</p>
</div>
 
<p>&nbsp;</p>

<p><strong>Table 3: 2018 &#45; Breakdown of Private Hire Operators which have had one or more drivers charged with a Taxi and Private Hire-journey related sexual offence</strong></p>
<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:769.28px">
	<tbody>
		<tr>
			<td style="width:205.04px"><strong>Operator</strong></td>
			<td style="width:208.61px"><strong>Trading Name</strong></td>
			<td style="width:59.51px"><strong>Operator Number</strong></td>
			<td style="width:60.28px"><strong>Awaiting Court Hearing/ Outcome</strong></td>
			<td style="width:65.85px"><strong>Convicted </strong></td>
			<td style="width:36.8px"><strong>Not Guilty</strong></td>
			<td style="width:55.8px"><strong>Total Number of Offences</strong></td>
			<td style="width:46.28px"><strong>Total Number of Drivers</strong></td>
		</tr>
		<tr>
			<td style="width:205.04px">Data Cars Ltd</td>
			<td style="width:208.61px">Blackheath Cars, Data Cars</td>
			<td style="width:59.51px">1</td>
			<td style="width:60.28px">&nbsp;</td>
			<td style="width:65.85px">&nbsp;</td>
			<td style="width:36.8px">1</td>
			<td style="width:55.8px">1</td>
			<td style="width:46.28px">1</td>
		</tr>
		<tr>
			<td style="width:205.04px">Plaistow Abbey Cars London Ltd</td>
			<td style="width:208.61px">Plaistow Abbey Cars London Ltd</td>
			<td style="width:59.51px">7492</td>
			<td style="width:60.28px">1</td>
			<td style="width:65.85px">&nbsp;</td>
			<td style="width:36.8px">&nbsp;</td>
			<td style="width:55.8px">1</td>
			<td style="width:46.28px">1</td>
		</tr>
		<tr>
			<td style="width:205.04px">Platinum One Ltd</td>
			<td style="width:208.61px">Starmill Cars and SuperCars</td>
			<td style="width:59.51px">4593</td>
			<td style="width:60.28px">&nbsp;</td>
			<td style="width:65.85px">&nbsp;</td>
			<td style="width:36.8px">1</td>
			<td style="width:55.8px">1</td>
			<td style="width:46.28px">1</td>
		</tr>
		<tr>
			<td style="width:205.04px">
			<p>Uber London Ltd (TfL Decision not to renew operator licence is under appeal)</p>
			</td>
			<td style="width:208.61px">Uber London Ltd</td>
			<td style="width:59.51px">7979</td>
			<td style="width:60.28px">4</td>
			<td style="width:65.85px">2</td>
			<td style="width:36.8px">5</td>
			<td style="width:55.8px">11</td>
			<td style="width:46.28px">11</td>
		</tr>
		<tr>
			<td style="width:205.04px">Arcade Cars (no longer a licensed PHV operator)</td>
			<td style="width:208.61px">George Lane Cars, Green Man Cars, South Woodford Cars, Wansted Cars, and Woodford Cars</td>
			<td style="width:59.51px">009012</td>
			<td style="width:60.28px">&nbsp;</td>
			<td style="width:65.85px">1</td>
			<td style="width:36.8px">&nbsp;</td>
			<td style="width:55.8px">1</td>
			<td style="width:46.28px">1</td>
		</tr>
		<tr>
			<td style="width:205.04px"><strong>Total Number of Offences</strong></td>
			<td style="width:208.61px">&nbsp;</td>
			<td style="width:59.51px">&nbsp;</td>
			<td style="width:60.28px"><strong>5</strong></td>
			<td style="width:65.85px"><strong>3</strong></td>
			<td style="width:36.8px"><strong>7</strong></td>
			<td style="width:55.8px"><strong>15</strong></td>
			<td style="width:46.28px"><strong>&nbsp;- </strong></td>
		</tr>
		<tr>
			<td style="width:205.04px"><strong>Total Number of Drivers</strong></td>
			<td style="width:208.61px">&nbsp;</td>
			<td style="width:59.51px">&nbsp;</td>
			<td style="width:60.28px">&nbsp;</td>
			<td style="width:65.85px">&nbsp;</td>
			<td style="width:36.8px">&nbsp;</td>
			<td style="width:55.8px">&nbsp;</td>
			<td style="width:46.28px"><strong>14*</strong></td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>
<p>Please note:</p>

<p>*There were 14&nbsp;individual drivers charged for 15&nbsp;offences&nbsp;relating to a booked journey.&nbsp;One driver was charged with two offences on two separate occasions.&nbsp;&nbsp;</p>

<p>Seven drivers were found not guilty at court. One of the seven drivers was found not guilty for two separate offences on journeys booked through two different private hire operators.</p>

<p>Five drivers are awaiting trial.</p>

<p>Three drivers were convicted.</p>

<p>The operator names listed in the table above are based on information recorded by the MPS as part of its investigation of a Taxi and Private Hire-journey related sexual offence.</p>

 <div>

<h2>Check before you get in</h2>

<p>We have made it a requirement that all private hire operators have to give you a booking confirmation &#45; which could be by text message, app, email or &#45; if you're in a minicab office &#45; paper receipt. The booking confirmation includes details of the licensed private hire driver and vehicle that has been booked for you. Please check before you get in. If the driver or the car picking you up is not the same as in your booking confirmation, do not get in the car.</p>

<p><a href="/campaign/safer-travel">Find out more about about safer travel in taxis and private hire vehicles</a></p>

<h2>Report an incident</h2>

<p>Thousands of taxi and minicab journeys are taken every day, the vast majority without incident. If you experience any behaviour of a sexual nature from a taxi or private hire (minicab) driver, including if they comment on your appearance or look at you in a way that makes you feel uncomfortable, please report it. You will always be taken seriously.</p>

<p>Report a sexual offence, eg groping, indecent acts or driver behaviour that feels threatening or intimidating to the police by dialling 999 if it is an emergency &#45; otherwise call 101 or by using the&nbsp;Metropolitan Police Service&nbsp;Alternatively <a href="https://www.met.police.uk/ro/report/ocr/how-to-report-a-crime/">online reporting tool</a>.</p>

<p>You can also report any inappropriate driver behaviour such as comments that make you feel uncomfortable to TfL by calling 0343 222 4000 (Mon-Fri, 08:00-18:00).&nbsp; TfL takes these reports seriously and will investigate all complaints against TfL licensed Taxi and Private Hire drivers.</p>

<p>&nbsp;</p>

<h2>Make a complaint</h2>

<p>You can also make a complaint about a driver's behaviour or any other aspect of the journey to the Private Hire Operator you booked through. Private Hire Operators are required to make a person available for passengers to speak to at all times during operating hours and when a journey is being undertaken in the event that a passenger wants to make a complaint or discuss any other matter about the carrying out of a booking.</p>

<p>Private Hire Operators have been asked to notify the police immediately of any complaints or reports they receive that they consider to be an alleged or suspected crime so they can be fully investigated.</p>
</div>
 
<div>



<h2>Figures for previous years</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-sexual-offences-2016.pdf">
    <div class="document-download-text">
        <p>2016 &#45; Taxi and Private Hire journey-related sexual offences where a driver has been charged</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-sexual-offences-2015.pdf">
    <div class="document-download-text">
        <p>2015 - Taxi and Private hire journey-related sexual offences where a driver has been charged</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-sexual-offences-2014.pdf">
    <div class="document-download-text">
        <p>2014 - Taxi and Private hire journey-related sexual offences where a driver has been charged</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/security-on-the-network" class="heading">
                    <h2 id="sub-menu-heading">Security on the network<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/our-safety-priorities">Our safety priorities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/transport-policing">Transport policing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/cab-enforcement">TPH journey-related enforcement</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/tph-related-sexual-offences">Taxi and Private Hire journey-related sexual offences</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How we're working to prevent TPH journey-related offences in London";}
        
            
        


 