
    
  



@{ViewBag.Title = "Transport policing";}
@{ViewBag.Keywords = "Safety and security,Assisted travel,Buses,Coaches,Cycling,DLR,Emirates Air Line,London Overground,Rail,River,Taxis and minicabs,Trams,Tube,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/security-on-the-network/transport-policing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/security-on-the-network">Security on the network</a></li>
                
            
            
                <li><span class="last-breadcrumb">Transport policing</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transport policing</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're working with the police to make London's transport system even safer.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We fund more than 2,500 officers across the Metropolitan Police Service (MPS), British Transport Police (BTP) and the City of London Police (CoLP). They police London's transport network to tackle crime and antisocial behaviour, and make you feel safer when travelling in London.</p>

<h2>Metropolitan Police Service</h2>

<p>We significantly fund a dedicated unit with the MPS called the <a href="http://content.met.police.uk/Site/roadsandtransport">MPS Roads and Transport Policing Command</a> (RTPC). The RTPC is currently the largest police command in the UK; made up of over 2,300 officers who work to ensure all journeys across the road and surface transport network are safe, secure and reliable. Specifically, the RTPC:</p>

<ul>
	<li>Keep crime low and reduce fear of crime on the surface transport network</li>
	<li>Reduce road collisions by targeting dangerous road users and managing traffic flow around incidents on the London road network</li>
	<li>Investigate the most serious KSI (Killed or Seriously Injured) collisions with their specialist investigation skills</li>
	<li>Carry out cycle safety events</li>
	<li>Respond to collisions and breakdowns whenever they happen at East London tunnels, including Blackwall Tunnel</li>
	<li>Target the operators and rivers of tippers, skips, construction and waste vehicles who create danger to cyclists, pedestrians and P2W (Powered 2 Wheelers) on London's roads.</li>
</ul>

<h2>British Transport Police</h2>

<p>The <a href="http://www.btp.police.uk/">BTP</a>&nbsp;is the national police force for the railways in the UK. It is responsible for policing the Tube, DLR, Trams, London Overground, Emirates Air Line and the rail network in London.<br />
<br />
London, the South and East of England is served by BTP's B Division, which is divided into three sub-divisions:</p>

<ul>
	<li>TfL sub-division is dedicated to the Tube and DLR</li>
	<li>East sub-division covers rail stations in north London and beyond (as far as East Anglia)</li>
	<li>South sub-division covers rail stations in south London, Trams and the south east of England</li>
</ul>

<p>We fully fund the TfL sub-division but also fund officers in the other BTP London areas. The BTP aims to keep you safe and help you feel secure on your journey. Specifically, the BTP:</p>

<ul>
	<li>Help keep all transport systems running</li>
	<li>Help make the transport network safer and more secure</li>
	<li>Promote confidence in use of the transport network.</li>
</ul>

<h2>City of London Police</h2>

<p>The <a href="http://www.tfl.gov.uk/corporate/safety-and-security/security-on-the-network/transport-policing">City of London Police</a> is responsible for the safety and security of residents and commuters in the City, or 'Square Mile', of London. TfL funded officers within the City of London police focus on promoting safer travel at night, reducing cycle theft, increasing road safety, and tackling crime and antisocial behaviour on the buses.</p>

<h3>Local transport policing teams</h3>

<p>There are local transport policing teams in every London borough covering the public transport system.</p>

<p>MPS Safer Transport Teams focus primarily on the bus and road networks, while BTP Neighbourhood Policing Teams work on the rail, Tube and DLR networks.</p>

<p>The local transport policing teams provide a visible and familiar presence on the network. They engage with the public, staff and local communities to identify local concerns and take effective and appropriate action to deal with issues affecting the transport system.</p>

<p>Find your local <a href="https://www.met.police.uk/a/your-area/safer-transport-teams/">MPS Safer Transport Team</a> and BTP <a href="http://www.btp.police.uk/local_btp_teams.aspx">Neighbourhood Policing Team</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/security-on-the-network" class="heading">
                    <h2 id="sub-menu-heading">Security on the network<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/our-safety-priorities">Our safety priorities</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/transport-policing">Transport policing</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/cab-enforcement">TPH journey-related enforcement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/tph-related-sexual-offences">Taxi and Private Hire journey-related sexual offences</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/safety/report-a-crime-or-incident" class="plain-button">Report a crime or incident</a>
<a href="/corporate/publications-and-reports/crime-and-incident-bulletins" class="plain-button">Crime &amp; incident bulletins</a>
<a href="/corporate/publications-and-reports/bus-crime-statistics" class="plain-button">Bus crime statistics</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://content.met.police.uk/Home" class="plain-button">Metropolitan Police Service</a>
<a href="http://www.btp.police.uk/" class="plain-button">British Transport Police </a>
<a href="http://www.cityoflondon.police.uk/citypolice/" class="plain-button">City of London Police</a>
<a href="http://content.met.police.uk/Site/safertransport" class="plain-button">MPS Roads and Transport Police</a>
<a href="http://crimemaps.btp.police.uk/" class="plain-button">British Transport Police statistics</a>
<a href="https://maps.met.police.uk/sd/stats-and-data/met/year-end-crime-statistics/" class="plain-button">Metropolitan Police crime statisticsh</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're working with the police to make London's transport system even safer.";}
        
            
        


 