


@{ViewBag.Title = "A bike's eye view  ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A bike's eye view  </h1>
        <div class="content-page-press-release">
        20 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor launches cycling photo competition as tfl.gov.uk/cycling goes live
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I hope that this competition will encourage even more people to take to two wheels and start exploring"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I hope that this competition will encourage even more people to take to two wheels and start exploring
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London and Transport for London (TfL) today launched a photo competition which urges Londoners to get on their bikes and discover the city.</p>
<p>The competition, which is hosted on TfL's re-launched cycling website, aims to build up a library of unusual, quirky and unique images that have been taken by people cycling around the Capital. </p>
<p>The website, transformed as part of London's Summer of Cycling, is aimed at everyone from new cyclists to regular cycle commuters, and TfL wants it to become a one-stop-shop for anyone thinking of taking to two wheels in the Capital. </p>
<p>Launching the competition, Mayor Boris Johnson, said: 'London is a beautiful city with a wealth of unique sights tucked away in the most unusual of places. </p>
<h2>Obvious beauty</h2>
<p>'Cycling is a fantastic way of navigating these city spaces and I hope that this competition will encourage even more people to take to two wheels and start exploring.'</p>
<p>To get people started, the London Cycling Campaign (LCC) asked its members to suggest some of their top 'finds' when navigating the city by bike.* </p>
<p>Their suggestions included:</p>
<ul>
<li>The windmill on Wimbledon Common where Scouting for Boys was written </li>
<li>A landscape of contrasts along the Lea Valley cycle route </li>
<li>London's historic waterways - stretches of Regents and Grand Union Canals </li>
<li>Marc Bolan's memorial, just off Barnes Common</li></ul>
<p>The competition will be judged by a panel including Kerstin Hacker, lecturer, photojournalist and author of the 'Photographing London' courses, Koy Thomson, chief executive of LCC and Peter McBride, Head of Cycling, Walking and Accessibility at TfL. </p>
<p>Entries will be judged according to their originality, relevance to the cycling theme and overall quality of the photography.</p>
<p>Kerstin Hacker said: 'I love London for what it is - its diversity, its obvious beauty but also its wealth of undiscovered sights. </p>
<p>'As a city, it lends itself perfectly to photography. I can't wait to see all the treats that London's cyclists uncover.' </p>
<h2>Lucky winners</h2>
<p>People wishing to enter the competition should submit a photograph via TfL's website (tfl.gov.uk/cycling), including up to 50 words explaining where it was taken and any story behind the photo. </p>
<p>Entries must be received by midnight on Wednesday 3 September. </p>
<p>People are free to submit as many photographs as they like, though only one prize is available per person.</p>
<p>There are eight prizes in total, which will be awarded to the best photograph taken in each of eight areas of London: North, North East, South West, City, West Central, South East, West and East. </p>
<h2>Hidden gems</h2>
<p>One overall winner will receive &pound;400 in Evans Cycle vouchers plus &pound;200 in Jessops photography vouchers. </p>
<p>The seven runners-up will each receive &pound;200 in Evans Cycle vouchers. For more information and to enter, visit tfl.gov.uk/cycling.</p>
<p>Peter McBride, Head of Cycling, Walking and Accessibility at TfL, said: 'Seeing London from the saddle gives you a fresh perspective on even the most familiar sights and vistas.</p>
<p>'We want to tap into the cyclist's view of London and build up a library of images which will inspire more people to get on their bikes and discover more about our great city. </p>
<p>'This isn't just about the well known landmarks of central London. Outer London has many hidden gems that we want to uncover for others to enjoy.' </p>
<h2>Cycling events</h2>
<p>TfL is investing &pound;55m in cycling this year - up from &pound;36m last year.</p>
<p>The money is being invested in cycle routes, cycle parking facilities, a bike hire scheme to encourage even more cycling in the Capital, adult and child cycle training and a number of cycling events.</p>
<p>The Mayor and TfL also continue to promote London's Summer of Cycling which includes events such as BikeJam at the Tour of Britain on 7 September and the popular Sky Sports London Freewheel event on 21 September. </p>
<p>For more details, visit tfl.gov.uk/cycling. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<p>* Images of the LCC's 'top finds' are available to illustrate the type of photographs Londoners may wish to submit. Please see contact details below.</p>
<p>For press enquiries, please contact: <br>Carolyn Abbasi Larkey, Nicola Gaskell or Pauline Gillingham at Fishburn Hedges on 020 7544 3109 / 3033 / 3143</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London and Transport for London (TfL) today launched a photo competition which urges Londoners to get on their bikes and discover the city.The competition, which is hosted on TfL's re-launched cycling website, aims to build up a library of";}
        
        


 