


@{ViewBag.Title = "All London Overground managed stations are deep cleaned";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>All London Overground managed stations are deep cleaned</h1>
        <div class="content-page-press-release">
        19 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced the completion of the first major step in bringing what was once the country's most neglected railway into the 21st century.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have brought these stations up to our standard and can now look at bringing further improvements"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have brought these stations up to our standard and can now look at bringing further improvements
                            
                        </p>
                    </div>
                
            
            
            <p>Within less than a year after TfL took control of the London Overground network, all 34 London Overground managed stations have been brought up to TfL standards in rail travel.</p>
<p>Passengers will notice that the stations have been thoroughly cleaned and re-painted. </p>
<p>The existing equipment including the public announcement and CCTV systems, information screens and lights have also been checked and repaired where necessary.</p>
<p>Managing Director of TfL London Rail, Ian Brown, said: 'The deep-cleaning phase of our improvement programme for the London Overground network is now completed. We have brought these stations up to our standard and can now look at bringing further improvements. </p>
<h2>Efficient service</h2>
<p>'By 2010, all stations will be upgraded and refurbished and some will be remodelled depending on funding availability.</p>
<p>'Passengers deserve a safe, reliable and comfortable journey on London Overground.'</p>
<p>The stations improvement programme is part of TfL's &pound;1.4bn investment for London Overground, which will upgrade the network infrastructure for a more reliable and efficient service, deliver new trains and connect the East London line to the North London line in 2011. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Stations where deep cleaning work has been completed are: Watford High Street, Carpenters Park, Headstone Lane, Willesden Junction, Brondesbury, Gospel Oak, Camden Road, South Hampstead, Hampstead Heath, West Hampstead, Haringey Green Lanes, South Tottenham, Hackney Wick, Hackney Central, Kensington Olympia, Acton Central, South Acton, Leyton Midland Road, Leytonstone High Road, Walthamstow Queen's Road, Woodgrange Park, Wanstead Park, Brondesbury Park, Kensal Rise, Canonbury, Upper Holloway, Caledonian Road &amp; Barnsbury, Homerton, Hatch End, Kentish Town West, Finchley Road &amp; Frognal and Kilburn High Road, Bushey &amp; Crouch Hill </li>
<li>Phase&nbsp;one work involved the provision of Oyster pay as you go facilities and staff at all stations. These were introduced in November 2007 when TfL took over management of the network </li>
<li>Phase two work included platform and ticket halls deep-cleaned to remove dirt and chewing gum; ticket halls, floor markings, lamp posts, handrails, stair-risers and fences repainted to help visually impaired passengers; guttering cleared; graffiti removed; PA, CCTV, information displays and lights all checked and repaired and anti-pigeon roosting measures installed </li>
<li>Phase three works will begin on-site at the end of this year and are scheduled for completion in late 2010. These works will include: renewal of all station systems - including CCTV, PA systems, Customer Information Points, Lighting; refurbishment of the stations - including floors, canopies, platform surfaces and walls; completion of the signage to install permanent signage at all stations </li>
<li>TfL is investing &pound;1.4bn in London Overground, including the extension and conversion of the former East London Underground line to National Rail </li>
<li>The London Overground network consists of the Richmond to Stratford, Willesden Junction to Clapham Junction (via Kensington Olympia), Gospel Oak to Barking and Euston to Watford DC lines, and will be joined by the extended East London line when it opens in 2010 </li>
<li>There are 73 stations on the London Overground network; 50 on the North London Railway with two new stations due to open on the West London Line by 2010 and 17 stations on the East London line with four new stations due to open in 2010. Of these stations 34 are managed solely by London Overground, it is these stations that will undergo the phased improvement works </li>
<li>Every day, 63,000 people use the London Overground network bringing a total of 23 million journeys every year</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Within less than a year after TfL took control of the London Overground network, all 34 London Overground managed stations have been brought up to TfL standards in rail travel.Passengers will notice that the stations have been thoroughly cleaned and";}
        
        


 