


@{ViewBag.Title = "Been inspired by Great Britain's Olympic cyclists? Then get down to BikeJam at the Tour of Britain";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Been inspired by Great Britain's Olympic cyclists? Then get down to BikeJam at the Tour of Britain</h1>
        <div class="content-page-press-release">
        26 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) hosts BikeJam, a free, interactive and fun celebration of cycling, at the London stage of the Tour.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners can expect to have a fantastic day of cycling related fun"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">the Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners can expect to have a fantastic day of cycling related fun
                            
                        </p>
                    </div>
                
            
            
            <p>As the Beijing Olympic Games finished at the weekend, excitement amongst cycling fans has begun to build around the return of the Tour of Britain to the streets of central London on Sunday, 7 September. </p> <p>This year's Tour of Britain, which is part of the Mayor's Summer of Cycling, promises to be a vintage race, with many of Britain's top cycling stars due to take part.</p> <p>Londoners will be able to watch members of Great Britain's phenomenally successful Olympic team, including Bradley Wiggins, Geraint Thomas, Chris Newton and Mark Cavendish, racing against each other on the streets of London.</p> <h2>Watch the olympic team</h2> <p>This year the Tour of Britain is starting in the Capital, and will see 96 professional cyclists racing 86 kilometres on a 8.6 kilometre circuit that takes in some of London's most iconic sites - including Big Ben, Cleopatra's Needle, Somerset House, and the Tower of London. </p> <p>A free to view event, the London stage of the Tour of Britain will be a fantastic day out for all Londoners.</p> <p>As well as the excitement of watching some of the world's greatest cyclists in action, TfL will also be hosting BikeJam, which is a family-friendly, vibrant celebration of all things cycling related at Tower Hill. </p> <p>BikeJam will provide a cycling-themed day of activities, entertainment and experiences for people of all ages, including;</p> <ul> <li>cycle-stunt performers  </li><li>bike maintenance  </li><li>advice on cycling in London  </li><li>an interactive arts and crafts zone  </li><li>pedal-powered food stalls</li></ul> <h2>Get excited about cycling</h2> <p>Boris Johnson, the Mayor of London, said: 'The Summer of Cycling just gets better and better, with the Tour of Britain hitting our streets on 7 September.</p> <p>'It is a terrifically exciting time for cycle sports at the moment, and we're incredibly lucky that we will be able to watch the British cycling team and other sporting heroes who have taken part in the Olympic Games racing on the streets of our great city.</p> <p>'Londoners can expect to have a fantastic day of cycling related fun, and will still be able to look forward to having a go themselves at the Sky Sports London Freewheel just two weeks later.'</p> <p>Peter Hendy, Transport Commissioner for London, said: 'Inspirational sporting events play a huge role in getting people excited about taking part in a sport themselves, which is why the Mayor and Transport for London are bringing the Tour of Britain to the Capital.</p> <h2>See the sights</h2> <p>'The fantastic thing about cycling is that it's not only great exercise, it's also a practical and enjoyable way to travel.</p> <p>'Half a million journeys a day in the Capital are already being made by bike, and we want to encourage even more people to cycle in London.'</p> <p>Visit London Chief Executive James Bidwell said: 'London is the perfect backdrop for such an exciting and inspirational event as the Tour of Britain and we're delighted to have been working with Transport for London and London Development Agency to make this event happen.</p> <p>'Cycling is a great way to enjoy the many wonderful sights that London has to offer as well as being a very green and cost-effective way of getting around the city too. We hope the BikeJam event will be an enjoyable one which will inspire even more families, who may not have cycled before, to take to their saddles and enjoy London.'</p> <h2>Years of cycling ahead</h2> <p>Mick Bennett, Technical Director of the Tour of Britain, said; 'Following on from what has been a fantastically successful Olympics for Britain and our cyclists, Stage One of The Tour of Britain will give people the chance to see medal winning members of the British team in action, competing on what is a fantastic circuit at the heart of London.<br>&nbsp;<br>'It will also be a chance to welcome home Mark Cavendish after his brilliant performance at the Tour de France, while last year's Tour of Britain winner Romain Feillu, who wore the yellow jersey earlier in the Tour de France, will be back to defend his title.</p> <p>'I fully expect the stage to come down to an exciting bunch sprint, and both these riders will be vying for victory on the banks of the Thames.'</p> <p>TfL will bring the Tour of Britain to the Capital for the next four years.</p> <p>It will start in London in 2008, and will finish here in 2009, 2010 and 2011.</p> <p> <hr> <strong>Notes to editors:  <p> <ul> <li></li></ul></strong>This year's Tour of Britain London stage, will see 96 professional cyclists race for 86 kilometres on a central London circuit that takes in some of London's most iconic landmarks. The 8.6 kilometre route will start and finish on Victoria Embankment, taking the riders along the banks of the Thames, through the City of London, and past Big Ben, Cleopatra's Needle, Somerset House, and the Tower of London  <li>For more information about the Tour of Britain, visit <a class="external-site" title=" (Opens in new window)" href="http://www.tourofbritain.co.uk" jquery1219753232736="6">www.tourofbritain.co.uk</a>  </li><li>More information about cycling in London can be found at <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a>  </li><li>Visit London is the official visitor organisation for London. A leader in best practice destination marketing, Visit London promotes the UK Capital internationally, across Britain and to Londoners targeting leisure and business visitors. Visit London works in partnership with the Mayor of London, the London Development Agency, London Councils and the tourism industry  </li><li>Events for London (EfL) is the UK Capital's official major events team. Events for London is a partnership between the Mayor of London, the London Development Agency and Visit London and is tasked with attracting, developing and staging major sporting and cultural events. Events for London acts as a central point of leadership and expertise to develop the Capital as the world's leading major events destination. Leading this new function is Visit London, the Capital's tourism agency. Events for London is one of the first legacies of the London 2012 Olympic and Paralympic Games  </li><li>The BikeJam logo is available on request</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As the Beijing Olympic Games finished at the weekend, excitement amongst cycling fans has begun to build around the return of the Tour of Britain to the streets of central London on Sunday, 7 September.This year's Tour of Britain, which is part of the";}
        
        


 