


@{ViewBag.Title = "Blackfriars Underground station to close for redevelopment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackfriars Underground station to close for redevelopment</h1>
        <div class="content-page-press-release">
        05 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) and Network Rail today announced that Blackfriars Underground station will close from 2 March 2009 until late 2011, as part of Network Rail's Thameslink upgrade programme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"More seats, less crowding, more direct services and better connections in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andy Mitchell</div>
            <div class="quotee-job-title">Network Rail's Thameslink programme Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            More seats, less crowding, more direct services and better connections in London
                            
                        </p>
                    </div>
                
            
            
            <p>Network Rail will be redeveloping the Blackfriars station complex; works will include lengthening their platforms to accommodate the new longer trains, a new entrance to the complex on the south bank of the river Thames and the redevelopment of the Tube station. </p> <p>To accommodate these works, Blackfriars Underground station will need to close until late 2011.</p> <p>Once complete, the benefits will include:</p> <ul> <li>Step free access for both interchange and street level  </li><li>An enlarged Tube ticket hall  </li><li>Refurbished platforms  </li><li>Improved access to platforms</li></ul> <p>Richard Parry, LU's Director of Strategy and Service Development, said: 'The redevelopment of Blackfriars Underground station is part of Network Rail works.</p> <h2>Easing congestion</h2> <p>'Once the works are complete, customers will get a new upgraded station with step free access, increased capacity and better interchange facilities between the Tube and National Rail services.</p> <p>'During this time, District and Circle line services will not stop at the station and customers are advised to use nearby Temple and Mansion House stations.'</p> <p>Andy Mitchell, Network Rail's Thameslink programme Director, said: 'The work we start here at Blackfriars is absolutely vital to this congestion-busting upgrade.</p> <p>'The Thameslink expansion will deliver what passengers need - more seats, less crowding, more direct services and better connections in London.</p> <p>'There will be some disruption while we conduct this work - but the prize is great - services tripled and train lengths doubled.</p> <p>'And the benefits will come soon - many of them as early as 2011.'</p> <p> <hr> <strong>Note to editors:  <p> <ul> <li></li></ul></strong>Thameslink upgrade programme will include:  <ul> <li>Three times more trains between Blackfriars and King's Cross St Pancras going from 8 to 24 trains per hour  </li><li>A new Blackfriars station serving both LU and National rail services with, and for the first time in over 100 years, an entrance on the south side of the River Thames  </li><li>Fifty percent longer trains  </li><li>Around 44,000 passengers use Blackfriars station every day  </li><li>Blackfriars Underground station opened in 1870 and is one of the oldest stations on the network  </li><li>For LU queries please call the Transport for London press office on 0845 604 4141  </li><li>Thameslink upgrade queries please the Network Rail press office on 020 7557 8292/3<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Network Rail will be redeveloping the Blackfriars station complex; works will include lengthening their platforms to accommodate the new longer trains, a new entrance to the complex on the south bank of the river Thames and the redevelopment of the Tube";}
        
        


 