


@{ViewBag.Title = "British Transport Police launches new London Underground Neighbourhood Policing Teams ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>British Transport Police launches new London Underground Neighbourhood Policing Teams </h1>
        <div class="content-page-press-release">
        01 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Whatever mode of transport Londoners choose, a team of dedicated officers will be there to reassure them and tackle crime"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Chief Operating Officer of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Whatever mode of transport Londoners choose, a team of dedicated officers will be there to reassure them and tackle crime
                            
                        </p>
                    </div>
                
            
            
            <p>Police officers will be out on patrol&nbsp;at Tube stations and trains more than ever before following the launch of new British Transport Police (BTP) Neighbourhood Policing Teams (NPTs).</p>
<p>Led by a Sergeant, the teams comprise police constables and police community support officers (PCSOs) and will be supported by a 24 hour response team across the entire LU and DLR network.</p>
<p>The teams have been created to cut crime and provide a highly visible presence at Tube stations and will work in partnership with other BTP teams, London Underground and DLR staff and the Metropolitan Police Service to address crime issues affecting the Tube.</p>
<p>BTP has 30 Neighbourhood Policing Teams, comprised of officers from BTP's existing establishment, now operating right across the London network which will link closely with their communities to address local priorities.</p>
<h2>Police presence</h2>
<p>Under the national Neighbourhood Policing model, the teams will spend a minimum of 85 per cent&nbsp;of their time doing work that directly impacts their neighbourhood, allowing them to be on proactive patrol more than ever before.</p>
<p>The teams build on the successes delivered by the reassurance team policing model which was introduced on the Underground following the provision of additional Transport for London (TfL) funded officers in the past few years.</p>
<p>Chief Constable Ian Johnston said: 'BTP has always policed these Tube stations but our new teams will now spend even more time in their local area tackling crime.</p>
<p>'The figures show that crime at Tube stations in nearly every borough has decreased and now we want to make sure that people are not only safe, but also feel safe.</p>
<h2>Feeling safe</h2>
<p>'The teams will be working with members of their local community to identify local problems, as well as working to develop targeted solutions to tackling crime and the type of behaviour that may not be criminal but which makes people feel unsafe.</p>
<p>'The teams will work closely with LU and DLR staff to tackle staff assaults and anti-social behaviour and I encourage people to approach officers and raise any concerns they have about safety or criminality on the Tube.'</p>
<p>The officers and PCSOs on the teams will conduct regular patrols, run targeted operations and hold public meetings with people the area to identify local needs and priorities.</p>
<p>Mayor of London, Boris Johnson said,&nbsp;'Today's announcement of 30 dedicated policing teams will make the tube a safer environment for passengers and staff. </p>
<h2>Dedicated teams</h2>
<p>'It is vital that Londoners can travel safely around the city, reassured by a visible police presence. </p>
<p>'These new policing teams for the tube will work alongside the additional 440 uniformed officers for the bus network which I announced in May to tackle the number one issue for Londoners, crime and safety.'</p>
<p>Howard Collins, Chief Operating Officer of London Underground said: 'London Underground is a low crime environment but we know there is always more work to be done, and these new Neighbourhood Policing Teams will mean that officers can better get to know their local communities and the issues that are key in their area.</p>
<p>'These officers will continue to work in partnership with the MPS Safer Transport Teams and Transport Operational Command Unit so that whatever mode of transport Londoners choose, a team of dedicated officers will be there to reassure them and tackle crime.</p>
<p>'The teams are now up and running and our staff look forward to getting to know them over the coming months and working with them in the future.'</p>
<p><strong>
<hr>
Notes to editors: </strong>
<p>
<ul>
<li>Annual borough crime figures for the Tube network are attached. Figures released by the British Transport Police show that across the Tube network for 2007/8: 
<ul>
<li>Crime on the LU/DLR network down 11 per cent&nbsp;while passenger numbers continue to increase (from 18,486 to 16,445). There is less than one crime on the network for every 60,000 passenger journeys </li>
<li>Robbery has gone down by 51.9 per cent&nbsp;(from 399 to 192) </li>
<li>Violent crime has been cut by 11.2 per cent&nbsp;(from 2,494 to 2,215) </li>
<li>Criminal damage has gone down by 29 per cent&nbsp;(from 2,704 to 1,921) </li>
<li>Theft of passenger property, or pick-pocketing has gone down by 6.3 per cent&nbsp;(from 7,988 to 7,481) </li>
<li>Theft of railway property, including cable theft, has gone down by 27.7 per cent&nbsp;(from 819 to 592) </li>
<li>Public disorder offences have gone down 3.4 per cent&nbsp;(from 2,050 to 1,981) </li>
<li>Sexual offences have gone down by 15.5 per cent&nbsp;(from 393 to 332) </li>
<li>In 2006/7 there was a 2.1 per cent&nbsp;drop in crimes, according to BTP statistics </li>
<li>London Underground carried more than a billion passenger journeys in 2007/8</li></ul></li>
<li>In 2003, there were 450 BTP officers for London Underground. Over the last few years this has increased to more than 700 officers. BTP deployment patterns have been designed to be random to provide reassurance and to act as an additional deterrent. BTP also conduct random passenger searches using sniffer dogs </li>
<li>There are approximately 8,500 CCTV cameras on the Tube network which will rise to 12,000 over the next four years as part of the ongoing station modernisation programme. This will see the upgrading and expansion of CCTV facilities from analogue to digital and the recording of high quality images to hard drive rather than magnetic tape. This will ultimately mean that no one will be able to enter the Underground network without their face being recorded by CCTV camera. CCTV coverage also extends to trains and will be expanded as new rolling stock arrives on the network. Footage from CCTV cameras is not only able to viewed and monitored locally by a specific station but can also be accessed remotely by the Network Operation Centre at London Underground HQ and by the British Transport Police. This does not cover all stations </li>
<li>Information Points are being installed at every station as it undergoes refurbishment with as many as 26 installed at some of the busiest stations. These information points give passengers and staff access to the station supervisor's office at the touch of a button. If there is no member of staff in the station control room, for any reason, the Information Point will automatically connect to the 999 emergency services help line </li>
<li>Additional improvements to Tube security in recent decades have seen the introduction of clear lines of sight and improved lighting on platforms as stations are upgraded and refurbished </li>
<li>MPS Safer Transport Teams are dedicated bus policing teams in London's 21 outer boroughs </li>
<li>The MPS TOCU is made up of 1,200 uniformed officers working across London as well as in dedicated borough teams in London's 11 inner boroughs</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Police officers will be out on patrol&nbsp;at Tube stations and trains more than ever before following the launch of new British Transport Police (BTP) Neighbourhood Policing Teams (NPTs).Led by a Sergeant, the teams comprise police constables and police";}
        
        


 