


@{ViewBag.Title = "Changes to route 488 at Bromley By Bow Tesco";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to route 488 at Bromley By Bow Tesco</h1>
        <div class="content-page-press-release">
        08 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 30 August, passengers using the route 488 will no longer have to cross the road or use the underpass outside Bromley by Bow Tesco.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are pleased to have been able to work with the local community to address their concerns"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Stakeholder Engagement - London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are pleased to have been able to work with the local community to address their concerns
                            
                        </p>
                    </div>
                
            
            
            <p>The introduction of route 488 in place of route S2 on 5 July had meant that passengers wishing to travel northbound towards Clapton from Bromley-by-Bow Tesco needed to cross the road via a subway.</p>
<p>Passengers using the previous S2 had been able to board northbound buses from directly outside the store.</p>
<p>London Buses has been working with the local community to provide a solution so passengers will not have to cross the road.</p>
<p>From 30 August, those wishing to travel northbound from Bromley-by-Bow Tesco will be able to catch the bus outside the store and travel two stops to the bus stand at Twelvetrees Crescent before changing onto the next bus going northbound.</p>
<p>Passengers changing buses will not have to pay an additional fare.</p>
<p>If there is no other bus at the stand, passengers will be able to remain on the bus until it is ready to depart. </p>
<p>Peter Bradley, Head of Stakeholder Engagement from London Buses said: 'Following the introduction of new route 488, we received a number of requests asking us to review the stopping arrangements at Bromley-by-Bow Tesco.</p>
<p>'We are pleased to have been able to work with the local community to address their concerns.'</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Route 488 operates between Clapton and Bromley-by-Bow (Twelvetrees Crescent) It was introduced on 5 July 2008 in place of route S2 as part of a major restructuring of bus routes centred on the Bow/Old Ford area<br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The introduction of route 488 in place of route S2 on 5 July had meant that passengers wishing to travel northbound towards Clapton from Bromley-by-Bow Tesco needed to cross the road via a subway.Passengers using the previous S2 had been able to board";}
        
        


 