


@{ViewBag.Title = "Changes to bus routes 50, 249 and 255";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to bus routes 50, 249 and 255</h1>
        <div class="content-page-press-release">
        22 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus passengers in south London will benefit from changes being introduced on routes 50, 249 and 255 from Saturday 30 August 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are introducing these changes to routes 50, 255 and 249 following a review of bus services in the area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Bob Blitz</div>
            <div class="quotee-job-title">Network Planning Manager for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are introducing these changes to routes 50, 255 and 249 following a review of bus services in the area
                            
                        </p>
                    </div>
                
            
            
            <p>Route 50, which currently runs between Croydon town centre and Streatham Hill, will be extended to Stockwell via the current 255 route along Thornton Avenue, Clapham Park, Poynders Road, Cavendish Road, Clapham Common station and Clapham North station.</p>
<p>Route 255 will no longer run along this route, but will terminate at Streatham High Road.</p>
<p>Passengers wishing to continue their journey to Stockwell can change on to route 50, which starts operating earlier and runs later in the evening than the 255.</p>
<p>Route 249 currently operates between Anerley station and Balham station.</p>
<p>It will be extended to Clapham Old Town via Balham Hill, Clapham South station, Clapham Common South Side and Clapham Common station.</p>
<p>This will provide a new bus link for passengers wishing to travel between Clapham and Anerley, and provide additional bus services for passengers travelling between Balham and Clapham.</p>
<p>Bob Blitz, Network Planning Manager for London Buses said: 'We are introducing these changes to routes 50, 255 and 249 following a review of bus services in the area.</p>
<p>'The changes will provide extra capacity for passengers travelling on these routes and will create new links from Clapham to areas south of Norbury station, including Thornton Heath and Croydon.</p>
<p>For further information about bus services passengers can call Transport for London's Travel Information on 020 7222 1234 or London Buses' Customer Services.</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Buses on the 50 and 255 routes will operate every 12 minutes from Monday to Saturday daytime and every 20 minutes on Sundays and evenings
<li>Buses on the 249 route will operate every 12 minutes from Monday to Saturday daytime and every 15 minutes on Sundays and evenings</li>
<li>London Buses' Customer Services may be contacted by:</li>
<ul>
<li>Telephone: 0845 300 7000</li>
<li>Email: <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a></li>
<li>Post: London Buses' Customer Services, 84 Eccleston Square, London SW1V 1PX</li>
<li>Textphone: 020 7918 4435 </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 50, which currently runs between Croydon town centre and Streatham Hill, will be extended to Stockwell via the current 255 route along Thornton Avenue, Clapham Park, Poynders Road, Cavendish Road, Clapham Common station and Clapham North";}
        
        


 