


@{ViewBag.Title = "Congestion Charging five years on - traffic levels still down but congestion rises back to pre-charging levels ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charging five years on - traffic levels still down but congestion rises back to pre-charging levels </h1>
        <div class="content-page-press-release">
        06 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than five years after the Congestion Charge was launched, and over a year after the western extension began, traffic in central London remains 21 per cent lower than pre-charge levels and traffic entering the extension has fallen by 14 per cent.
        
    </div>



 <div class="on-this-page">
<p>The figures contained within Transport for London's (TfL's) Sixth Annual Impacts Monitoring Report mean that 70,000 fewer cars enter the original zone each day compared to pre-charging levels, and 30,000 fewer cars enter the western extension.</p>
<p>However, the report also reveals that decreasing levels of road space in both the original and western zones has caused congestion to return to levels experienced before the charge was introduced.</p>
<p>A widespread programme of water and gas main replacement works has greatly reduced the road capacity in both zones, as have various traffic management measures to assist pedestrians and other road users.</p>
<p>TfL's assessments indicate that one of the biggest current contributory factors within the western extension is a major property development at the Scotch House Corner junction in Knightsbridge.</p>
<h2>Improving traffic flow</h2>
<p>The temporary works associated with this development have reduced road capacity at this key junction by up to half, and had a negative impact on traffic in the area.</p>
<p>Traffic signals have since been adjusted at the junction to ease traffic flow, and TfL has altered loading and unloading bays and bus stopping arrangements to help the situation.</p>
<p>TfL is meeting with the developers fortnightly to discuss how best to mitigate the effects of the works.</p>
<p>In response to the increase in congestion levels, Mayor of London Boris Johnson has asked TfL to accelerate the delivery of his plans to improve traffic flow.</p>
<h2>Careful planning</h2>
<p>These include:</p>
<ul>
<li>The Mayor has asked TfL to deliver a plan for the re-phasing of traffic signals to get traffic flowing more smoothly, without prejudice to&nbsp;the needs of pedestrians and vulnerable road users.&nbsp;The Mayor expects to review TfL's proposals this autumn </li>
<li>The Mayor is exercising new powers that came into force in May 2008 to fine utility companies that cause delays through badly&nbsp;planned work, and is seeking greater powers to control their activities which he expects to be introduced in the first boroughs by the end of the financial year </li>
<li>Work is underway with Thames Water focused on reducing the impact of the works they need to do to repair and replace the miles of&nbsp;Victorian water mains in the Capital. TfL is now working closely with them on the use of steel plating to cover excavations when work&nbsp;is not in progress and a joint project team has been formed to work on its implementation </li>
<li>The Mayor has asked TfL to bring forward plans to allow motorbikes to ride in bus lanes, and expects the first lanes to open later this year </li>
<li>TfL is now reviewing all major schemes that could reduce the capacity of the road network, with a view to&nbsp;minimizing the impact on traffic flow </li>
<li>TfL is currently developing plans for the introduction of a Paris-style bike hire scheme which is expected to encourage more Londoners to leave their cars at home</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'I have always thought that the Congestion Charge is a blunt instrument.</p>
<p>'It has proved successful in cutting traffic coming into London but on its own has not resolved the problem of congestion.</p>
<p>'Various works and schemes going on in the Capital have&nbsp;also eroded its impact.</p>
<h2>Halting congestion</h2>
<p>'I am therefore introducing a more comprehensive approach to easing congestion in London, one that gives greater consideration to how all transport measures impact on the movement of traffic on our roads. </p>
<p>'I have&nbsp;scrapped the CO2 Charge that risked thousands of small cars flooding central London, and have asked Transport for London to bring forward a range of measures to turnaround the trend and halt the squeezing of road space that has continued to worsen congestion.</p>
<p>'These include re-phasing traffic signals, working with utility companies to minimize the impact of their works, and securing powers to fine those that mess up our roads.</p>
<p>'Londoners need and deserve to be able to get around their city without undue delay, and I will be doing my utmost to make sure we achieve this.'</p>
<h2>Further improvements</h2>
<p>Malcolm Murray-Clark, Managing Director Planning for TfL, said: 'Without the Congestion Charge the traffic problems in London would be much worse.</p>
<p>'However, as a result of other interventions such as utility and construction works, the reduction in road space has had a detrimental impact on congestion levels and is slowing traffic down.</p>
<p>'We are working with the Mayor and his advisors on ways to improve the flow of traffic in the Capital and we are carrying out further work to build up a full picture of the complex reasons for reduced road space and its negative impact on congestion.'</p>
<p>The Congestion Charge generated provisional net revenues of &pound;137m in 2007/08 which will be spent on further improvements to transport across London.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The Sixth Annual Impacts Monitoring report shows: 
<ul>
<li>Traffic entering the western extension has been cut by 14 per cent (30,000 fewer cars a day) </li>
<li>A 21 per cent reduction in traffic entering the original charging zone has been maintained (70,000 fewer cars a day) </li>
<li>Despite initial falls, congestion in both the original and western charging zones has returned to pre-charging levels. However, congestion would be significantly worse without the sustained traffic reductions brought about by the charge </li>
<li>There has been a 6 per cent increase in bus passengers during charging hours and a 12 per cent increase in cycle journeys into the western extension </li>
<li>The background decline in traffic levels across central London has continued. As a result, there has been no lasting impact on overall traffic levels in the original zone because of the introduction of the western extension </li>
<li>The Congestion Charge was introduced on 17 February 2003 and the western extension was launched on 19 February 2007.&nbsp;The charge was originally &pound;5 and rose to &pound;8 in July 2005 </li>
<li>A copy of the Congestion Charging Sixth Annual Report is available on TfL's website <a href="http://www.tfl.gov.uk/assets/downloads/sixth-annual-impacts-monitoring-report-2008-07.pdf">here</a> </li></ul>
<li>The Mayor has announced that a five-week public consultation on the western extension will begin in early September. Further information is available <a href="http://www.london.gov.uk/view_press_release.jsp?releaseid=17573 ">here</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The figures contained within Transport for London's (TfL's) Sixth Annual Impacts Monitoring Report mean that 70,000 fewer cars enter the original zone each day compared to pre-charging levels, and 30,000 fewer cars enter the western extension.However, the";}
        
        


 