


@{ViewBag.Title = "Consultation on London taxi and private hire vehicle licensing inspections";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation on London taxi and private hire vehicle licensing inspections</h1>
        <div class="content-page-press-release">
        05 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following Mayor Boris Johnson's promise to consult on the abolition of half-yearly black cab inspections, the Public Carriage Office (PCO) has today launched a consultation on taxi and private hire vehicle licensing inspections in London.
        
    </div>



 <div class="on-this-page">
<p>Organisations representing London's travelling public and businesses, local authorities and the taxi and private hire industries have until Friday 24 October 2008 to submit their views on three alternatives for the future licensing arrangements.</p>
<p>Depending on the outcome of the consultation, a combination of these may be adopted.</p>
<p>These are:</p>
<ul>
<li>Abolish the mid-year inspection for taxis and the mid-year MoT test for private hire vehicles, and increase random on-street compliance checks </li>
<li>Abolish the mid-year checks and reduce the cost of annual licensing for vehicles which pass first time by introducing a fee for re-tests for those which fail </li>
<li>Tailor the inspection regime according to the age of the vehicle, either abolishing the requirement for taxis under one year old to undergo the mid-year safety check or retaining the requirement only for taxis over ten years old</li></ul>
<h2>Reputation for safety</h2>
<p>Jeroen Weimar, Chief Operating Officer of Transport for London's (TfL's) Surface Transport, said: 'London's licensed taxi and private hire trades have an excellent reputation for safety and quality of service - we are determined to see them maintain that reputation.</p>
<p>'It's our job to ensure they are safe and fit for public use at all times.</p>
<p>'Each of the options put forward in this consultation will ensure standards remain high - if the number of scheduled inspections is reduced, there will be additional on-street inspections to ensure we don't compromise on safety standards.</p>
<p>'Meanwhile, taxi and private hire vehicle owners should benefit from a reduced administrative burden and greater value for money for their licence fees.'</p>
<h2>Value for money</h2>
<p>Until the consultation is completed and TfL has made a decision on the future of taxi and private hire vehicle licensing inspections, the existing regime remains in place.</p>
<p>This means that all taxis must continue to have a mid-year inspection, and all private hire vehicles older than 12 months at the date of the annual licensing inspection must continue to have a mid-year MoT test.</p>
<p>Any changes to taxi and private hire vehicle licensing inspections would be introduced following consideration and approval by the TfL Board.</p>
<p>
<hr>
<strong>Note to editors:</strong> 
<p>
<ul>
<li>The PCO, part of TfL, is responsible for licensing and regulating London's taxi and private hire services </li>
<li>The full consultation document (Consultation on Future Arrangements for Taxi and Private Hire Vehicle (PHV) Licensing Inspections) can be found <a href="http://www.tfl.gov.uk/pco">here</a> </li>
<li>Licence fees cannot be used to raise revenue or make a profit - they can only be set to cover the costs incurred by each licence group.&nbsp;The present licence fee for taxis is &pound;178; it is &pound;109 for private hire vehicles. The difference in licence fees is due to the different licensing inspection requirements </li>
<li>TfL introduced mid-year inspections for taxis in October 2007, following consultation on the future of London's taxi licensing inspection services.&nbsp;Taxis are exempt from an MoT test as they have been required for many years to undergo an annual licensing examination that includes a full mechanical inspection. </li>
<li>Private hire operator licensing was introduced from January 2001, followed by driver licensing from April 2003.&nbsp;Vehicle licensing was introduced in April 2004 </li>
<li>There are more than 21,000 licensed taxis and almost 25,000 licensed taxi drivers </li>
<li>There are now around 2,400 licensed private hire operators, 50,000 licensed private hire drivers, and some 50,000 licensed private hire vehicles in London</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Organisations representing London's travelling public and businesses, local authorities and the taxi and private hire industries have until Friday 24 October 2008 to submit their views on three alternatives for the future licensing arrangements.Depending";}
        
        


 