


@{ViewBag.Title = "Euston Bus Station closure: Friday 29 to Sunday 31 August 2008";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Euston Bus Station closure: Friday 29 to Sunday 31 August 2008</h1>
        <div class="content-page-press-release">
        22 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Euston Bus Station will be closed from 20:00 on Friday 29 to 18:00 Sunday 31 August
        
    </div>



 <div class="on-this-page">
<p>The closures will allow Camden Council to carry out essential resurfacing works on Euston Grove between Eversholt Street and Euston Road.</p>
<p>Euston Grove will remain open to northbound traffic.</p>
<p>The following routes will be affected by the weekend closure: 10, 18, 30, 59, 68, 73, 91, 205, 253, 390, 476, N5, N20, N91 and N253.</p>
<p>Passengers will still be able to get their bus from nearby stops.</p>
<p>Details of diversions and stopping arrangements for the weekend will be available around the bus station, at local bus stops and on the TfL website under live travel news at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a>.</p>
<p>Bus station staff will also be available to advise passengers of where to catch their bus.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The closures will allow Camden Council to carry out essential resurfacing works on Euston Grove between Eversholt Street and Euston Road.Euston Grove will remain open to northbound traffic.The following routes will be affected by the weekend closure: 10,";}
        
        


 