


@{ViewBag.Title = "Green Park Tube station to be upgraded ahead of London 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Green Park Tube station to be upgraded ahead of London 2012 Games</h1>
        <div class="content-page-press-release">
        18 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground has applied for planning permission to bring major improvements to Green Park Tube station in time for the London 2012 Olympic and Paralympic Games.
        
    </div>



 <div class="on-this-page">
<p>If successful, London Underground will provide full step-free access from street to platform level to benefit mobility impaired passengers, customers with pushchairs and people with heavy luggage.</p>
<p>Work would be completed in 2011.&nbsp; </p>
<p>The Mayor of London, Boris Johnson, said: 'I am determined for every resident and visitor to this city, whether able bodied or with disability, to be able to use public transport safely and easily.</p>
<p>'I have just appointed the legendary Paralympian Dame Tanni Grey-Thompson to the board of&nbsp; Transport for London and I know that she will be delighted to hear of our plans to make Green Park and many more of London's Tube stations step-free.'</p>
<p>London Underground will also be working with Westminster City Council and The Royal Parks to improve the public space around the station which would open up views into the park directly from Piccadilly.&nbsp;</p>
<p>The improvements would provide a larger Piccadilly south side station entrance and direct access from the park.&nbsp;</p>
<p>A modern sheltered paved area on Piccadilly would also be constructed, with a canopy providing cover for passengers waiting for buses and those using the lift.</p>
<p>Richard Parry, Director of Strategy and Service Development for London Underground, said: 'Making Green Park Tube station fully accessible for mobility impaired passengers, customers with pushchairs and heavy luggage and older people is part of London Underground's transformation programme to provide a world class transport system.&nbsp;&nbsp; </p>
<p>'We are working closely with Westminster City Council and The Royal Parks to improve the area around the station - these changes will create a better public space for all those who work, visit or live near Green Park.'</p>
<p>Olympic Delivery Authority (ODA) Chairman John Armitt said: 'From the London 2012 bid right up to the Accessible Transport Strategy we launched earlier this year, we have been committed throughout to delivering the most accessible Games ever. </p>
<p>'It is essential that we provide a wide variety of accessible journey options to and from London 2012 events for spectators, the Games Family, workforce and volunteers so we welcome these plans to make this key station in central London step-free in time for the 2012 Games."&nbsp;</p>
<p>Work to modernise the station has already started and includes installing new CCTV cameras to make passengers feel safer and improve security, putting in Help points and providing a new public address system which will make announcements clearer.&nbsp;</p>
<p>Partially sighted customers will benefit from contrasting handrails and access will be improved for mobility impaired passengers by putting tactile strips on platforms and stairs.&nbsp; <br></p>
            <p>Notes to editors:</p>
<ul>
<li>Images available on request</li>
<li>London Underground is planning to make 25 per cent of the Tube network step-free by 2010</li>
<li>Green Park station is one of three stations being made step-free for the London 2012 Olympic and Paralympic Games. The other two are Baker Street and Southfields</li>
<li>Around 60 million journeys are made through Green Park a year</li>
<li>At present, step-free access is only available at Green Park for customers interchanging between the Piccadilly and Jubilee lines</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith &amp; City and Metropolitan lines</li>
<li>Metronet Rail BCV and SSL are now under the control of London Underground to ensure all necessary maintenance and renewal works continue</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "If successful, London Underground will provide full step-free access from street to platform level to benefit mobility impaired passengers, customers with pushchairs and people with heavy luggage.Work would be completed in 2011.&nbsp; The Mayor of London,";}
        
        


 