


@{ViewBag.Title = "Initial Low Emission Zone results prove positive  ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Initial Low Emission Zone results prove positive  </h1>
        <div class="content-page-press-release">
        13 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Around a third of lorries over 12 tonnes operating in Greater London are significantly cleaner than they were one year ago, according to Transport for London's (TfL's) first monitoring report examining the impact of the Low Emission Zone.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is already benefiting from reduced emissions as a result of the introduction of the Low Emission Zone"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">Head of the Low Emission Zone at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is already benefiting from reduced emissions as a result of the introduction of the Low Emission Zone
                            
                        </p>
                    </div>
                
            
            
            <p>The report, published today, sets out the conditions prior to the start of the scheme on 4 February 2008 and provides a baseline against which the scheme impacts can be analysed in future.</p>
<p>It shows that ninety-six per cent of vehicles affected by the first phase of the scheme, lorries over 12 tonnes, are compliant with the emissions standards of the Zone compared to 70 per cent during 2007. </p>
<p>A similar trend in compliance rates was observed in the build up to the introduction of the second phase of the scheme on 7 July 2008 to include lorries over 3.5 tonnes, buses and coaches. </p>
<p>Compliance rates currently stand at 91 per cent.</p>
<p>Using the network of cameras that have been put in place to monitor the scheme, TfL is able to measure changes in the emissions performance of affected vehicles and estimate the impact of the Low Emission Zone on air quality, public health and the economy. </p>
<p>Nick Fairholme, Head of the Low Emission Zone at TfL, said: 'TfL's initial findings show that London is already benefiting from reduced emissions as a result of the introduction of the Low Emission Zone.</p>
<p>'TfL is very pleased with the levels of vehicle compliance seen so far, and anticipates that compliance will increase further as operators take action to ensure that their vehicles meet the emissions standards of the scheme.'
<hr>
<br></p>
            <p><strong>Notes to editors</strong></p>
<ul>
<li>TfL's monitoring work uses innovative assessment methods to seek to isolate scheme-related effects from wider background changes, such as the vehicle replacement cycle</li>
<li>TfL anticipates that the Low Emission Zone will:&nbsp;</li>
<ul type="square">
<li>Reduce total road traffic related emissions of particulate matter (PM10) by up to 6.6 per cent in 2012, with beneficial effects on other pollutants such as oxides of nitrogen (NOx)</li>
<li>Reduce the area of Greater London with levels of PM10 that exceed the annual mean air quality objective by 5.8 per cent in 2008 and by 14 per cent by 2012, and for the area with excessive levels of nitrogen dioxide (NO2) levels to shrink by five per cent in 2008 and by 20 per cent by 2012</li>
<li>Over a ten year period, projections suggest that people who would otherwise die prematurely as a result of poor air quality will gain additional life expectancy totalling 5,000 years. Over the same period, lower levels of illness would mean a reduction of about 250,000 'restricted activity days' and more than 300,000 cases where respiratory symptoms are reduced in severity</li>
<li>Deliver benefits outside Greater London as many of the vehicles that will be modified or replaced carry out the majority of their mileage outside the Capita</li></ul>
<li>TfL's monitoring work will also examine the impact of the Low Emission Zone on operators, separating the impacts of the scheme from wider trends such as rising fuel prices. As well as helping to verify that the scheme is working as intended, detailed monitoring of the Low Emission Zone will also contribute to the development of future transport and air quality policies</li>
<li>A copy of the Low Emission Zone Impacts Monitoring Baseline Report is available on TfL's website at: <a href="http://www.tfl.gov.uk/roadusers/lez/about/2027.aspx">http://www.tfl.gov.uk/roadusers/lez/about/2027.aspx</a></li>
<li>The Low Emission Zone was launched on 4 February 2008 and aims to improve London's air quality by targeting the largest, most individually polluting diesel-engine vehicles. On 7 July the scheme was extended to include lorries over 3.5 tonnes and buses and coaches over five tonnes with nine or more seats</li>
<li>The required emissions standard of the Low Emission Zone is the Euro III standard for particulate matter which became mandatory for all new lorries, buses and coaches sold in the EU from October 2001. TfL will assume that a lorry, bus or coach is Euro III compliant if it was first registered on or after 1 October 2001</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report, published today, sets out the conditions prior to the start of the scheme on 4 February 2008 and provides a baseline against which the scheme impacts can be analysed in future.It shows that ninety-six per cent of vehicles affected by the first";}
        
        


 