


@{ViewBag.Title = "Last chance for young Londoners to get creative online this summer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Last chance for young Londoners to get creative online this summer</h1>
        <div class="content-page-press-release">
        01 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young Londoners have got just two weeks left to get creative online and enter the Transport for London (TfL) and Bebo competition to find the next generation of cutting edge talent.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Young people need to take care when using or nearby roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of London Road Safety Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Young people need to take care when using or nearby roads
                            
                        </p>
                    </div>
                
            
            
            <p>Closing on August 14, 'Talent Lives' can be found at <a class="external-site" title=" (Opens in new window)" href="http://www.bebo.com/debut" jquery1217589918801="6">www.bebo.com/debut</a> which houses TfL's digital television show 'Debutantes'.</p>
<p>Users are invited to upload their own creative work - from music and photographs to writing, fashion, design - or anything!</p>
<p>Over 35,000 people have visited the page, part of TfL's ongoing 'Don't Die Before You've Lived' teen road safety campaign, since its launch at the beginning of the summer holidays. <br>&nbsp;<br>'Debutantes' will continue to broadcast on the social networking site Bebo for the remainder of the summer.</p>
<p>This element of the 'Don't Die Before You've Lived' campaign catches up with the six young people who were mentored through dream job challenges by the likes of music video producer Sarah Chatfield, fashion designer Oswald Boateng and photographer Rankin.</p>
<h2>Capital talent</h2>
<p>Chosen from a panel of experts, including past mentor and chart topping UK artist Kano, this summer the winner of 'Talent Lives' will get their very own opportunity to meet and work with their role model. Judges will be on the look out for individuality, creativity and promise.<br>&nbsp;<br>Chris Lines, Head of London Road Safety Unit said: 'The number of viewers who have visited the Debutantes page on Bebo this summer has surpassed our expectations and it's great that young people are showing an interest.</p>
<p>'Behind all of this there is a serious message, young people need to take care when using or nearby roads.</p>
<p>'This is the thinking running through the work this summer: Talent Lives.'<br>&nbsp;<br>One of the judges said: 'I'm really pleased to witness at first hand the amazing talent coming out of the city.</p>
<p>'You can see all the entries online, these people are good.</p>
<p>'Judging starts soon and let's see how far they can go, as long as they don't take my job!'<br>&nbsp;<br>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>For TfL Road Casualties in Greater London 2007 please visit our <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/roadsandpublicspaces/2840.aspx">publications</a> page 
<li>The digital TV series 'Debutantes' has been aired since late July 2008 and new episodes will be aired each week until the middle of September at <a class="external-site" title=" (Opens in new window)" href="http://www.bebo.co.uk/debut" jquery1217589918801="7">www.bebo.co.uk/debut</a> </li>
<li>The programmes are part of&nbsp;TfL's ongoing campaign designed to warn young people of the dangers they face every day on the Capital's roads </li>
<li>Further quote from Chris Lines, Head of London Road Safety Unit: 'Young Londoners play an important role in the Capital and I'm pleased to see that recent figures show another 16 per cent drop in the number of young people killed or seriously injured on London's roads.&nbsp;Even so, young teenagers aged between 11 and 14 are still the most likely to be involved in a road collision and we should not be complacent as one injury alone is one too many. London has already exceeded the 2010 targets set by the Government for children killed or seriously injured with a 50 per cent reduction as well as reducing the total number of people killed or seriously injured by 40 per cent, three years early. With summer here, children and people have more leisure time. Debutantes and Talent Lives will support the incredibly vital work we already do which ensures that young people are aware of the importance of road safety and that many young lives, full of potential are not wasted' </li>
<li>In March 2000 the Government announced a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are: a 40 per cent reduction in the number of people killed or seriously injured; a 50 per cent reduction in the number of children killed or seriously injured; a 10 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres.&nbsp;London has already exceeded the 2010 targets set by the Government for children killed or seriously injured (50 per cent reduction) and the total number of people killed or seriously injured (40 per cent reduction) three years early.&nbsp;London has achieved this and also met a more stringent target, a 60 per cent reduction in the number of children killed or seriously injured </li>
<li>Riffat Ahmed, an artist and filmmaker who shot her first music video on the series said: 'Debutantes has been an amazing platform for me in gaining up-front industry experience. It has given me a lot of confidence in realising that I can work as a filmmaker. I believe if I want to be successful in life I have to put myself to the test to get enough'</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Closing on August 14, 'Talent Lives' can be found at www.bebo.com/debut which houses TfL's digital television show 'Debutantes'.Users are invited to upload their own creative work - from music and photographs to writing, fashion, design - or anything!Over";}
        
        


 