


@{ViewBag.Title = "Mayor announces a board to take transport forward";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces a board to take transport forward</h1>
        <div class="content-page-press-release">
        14 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am thrilled that we have been able to assemble a board of quite staggering expertise"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am thrilled that we have been able to assemble a board of quite staggering expertise
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, has made further appointments to the Transport for London (TfL)&nbsp;board.</p>
<p>Several new members include the Paralympic gold medal winner and former world record holder Dame Tanni Grey-Thompson.</p>
<p>Dame Tanni brings first hand experience to the board on the use of transport by people with mobility problems.</p>
<p>Six other new appointments will also bring a wealth of knowledge; including representatives of the taxi and private hire industries as pledged in the Mayor's election manifesto.</p>
<p>Daniel Moylan, the Chairman of London Council's Transport and Environment Committee has been appointed to strengthen links with the Capital's boroughs. </p>
<h2>Full of ideas</h2>
<p>The Mayor of London, Boris Johnson, said: 'I am thrilled that we have been able to assemble a board of quite staggering expertise.</p>
<p>'Each and every member of the board is chock full of the ideas, enthusiasm and energy that will propel the improvements we intend to make to the Capital's public transport system; especially to make it easier and safer to walk and cycle.</p>
<p>'Every member of the board knows that the decisions they take will potentially impact on millions of lives.</p>
<p>'And they know that I am determined to ensure the new Mayoralty differs from the last by listening to Londoners and then acting on what they say.</p>
<p>'There are eight million experts on getting round London living in our city and their opinions will be crucial in helping us provide the capital with a transport system that is safe, pleasant and easy to use.'</p>
<p>Three members of the board; Tim Parker, Kulveer Ranger and Stephen Norris had previously been appointed by the Mayor.</p>
<h2>Representing interests</h2>
<p>And seven previous board members have been reappointed.</p>
<p>They are Christopher Garnett, Tony West, Eva Lindholm, Mike Hodgkinson, Patrick O'Keeffe, Judith Hunt and Peter Anderson.</p>
<p>Christopher Garnett has been nominated by the Mayor to be the Deputy Chairman of the Board subject to the confirmation hearing process of the London Assembly.</p>
<p>The six new members of the board are Dame Tanni Grey-Thompson, Bob Oddy, Steve Wright, Keith Williams, Charles Belcher and Daniel Moylan.</p>
<p>The Railway Act 2005 requires that at least two members of the board must be able to represent the interests of people living, working and studying in areas outside Greater London, which are served by railway services that are operated or likely to be operated by TfL.</p>
<p>Mike Hodgkinson and Charles Belcher will perform this role. </p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Members of the TfL board are appointed by the Mayor in accordance with the GLA Act 
<li>The Chairman of the Board will be Tim Parker and Christopher Garnett will be deputy Chair. Christopher Garnett's appointment is subject to the confirmation hearing process of the London Assembly </li>
<li>The term of appointment for board members extends to 45 days after the Mayoral election in 2012, although the Mayor can terminate these appointments at any time </li>
<li>There were 165 applications to join the board. The Mayor was required to ensure together the members of the Board have experience in the impact of transport on business and the environment, finance, local government, management of organisations and the organisation of trade unions. He was also required to consider that the membership of the board represents the interests of women and people with mobility problems</li>
<p><strong>Biography for Tim Parker</strong>: Tim Parker is one of the UK's most successful businessmen with an impressive track record of bringing out the best in a wide range of major companies, including the AA, Kwik-Fit, Clarks and Kenwood. He also has considerable experience of public service, having worked in the Treasury and served as a board member of the Audit Commission and a Regional Development Agency and as chairman of the Emerging Africa Infrastructure Fund.</p>
<p><strong>Biography for Stephen Norris</strong>: Stephen Norris became a member of Parliament, representing Oxford East, in 1983. He has served as Parliamentary Under Secretary of State for Transport and Minister for Transport in London, where he was responsible for the Jubilee Line Extension, the largest extension of the London Underground network to date. He has Chaired the National Cycling Strategy Board, been the Director General of the Road Haulage Association and President of the Motor Cycle Industry Association and a patron of the cyclists charity, Sustrans and of the Campaign for better Transport (UK) Trust.</p>
<p><strong>Biography for Kulveer Ranger</strong>: While working for the Nichols Group Kulveer Ranger was a lead delivery manager of the Oyster card for London in 2003. He also led commercial negotiations on behalf of the Secretary of State to deliver the commercial agreements to support the King's Cross redevelopment, and the procurement of a &pound;70m Thameslink station. In past years Kulveer has been an advisor to Shadow Secretary of State for the Dept of Trade &amp; Industry, Alan Duncan MP, and he was also Vice-Chairman of the Conservative Party with responsibility for Cities. In May 2008 Kulveer was appointed to lead on policy direction for Transport on behalf of the Mayor of London. His responsibilities also include overseeing the relationship between the GLA and TfL, in order to ensure the delivery of the Mayor's priorities.</p>
<p><strong>Biography for Christopher Garnett</strong>: Christopher Garnett will be the Deputy Chair of the Board. He is a member of the Board of the Olympic Delivery Authority and was, until August 2006, the Chief Executive of Great North Eastern Railway (GNER) and also Senior Vice President of the Rail Division of Sea Containers, GNER's parent company.&nbsp;He has been a TfL board member since 2007.</p>
<p><strong>Biography for Tony West</strong>: Tony West has been involved in the transport industry for more than 45 years. During six years as assistant general secretary of the Associated Society of Locomotive Engineers and Firemen (ASLEF), he helped steer the union through the challenges of Britain's rail network privatisation. He has also been a parliamentary candidate, a borough councillor and a trustee director of the Railway Pension Scheme. He has been on the TfL board since 2000.</p>
<p><strong>Biography for Dame Tanni Grey-Thompson</strong>:&nbsp;Dame Tanni Grey-Thompson has completed in five Paralympic games winning 11 gold, four silver and one bronze medal.&nbsp; She has held 30 world records.&nbsp;She is non-executive director of UK Athletics, Vice Chair of Sports Advisory Group, LOCOG, Director of the London Marathon and Pro Vice-Chancellor of Staffordshire University as well as holding other prominent positions in sports bodies.&nbsp;She has been a member of the National Disability Council and senior deputy chair of UK Lottery Award Panel.&nbsp;She was made a Dame of the British Empire in 2005.</p>
<p><strong>Biography for Bob Oddy</strong>: Bob Oddy has been a licensed taxi driver since 1966. He is currently General Secretary of the Licensed Taxi Drivers' Association - which has a membership of over 8,000.&nbsp;He has been actively involved in many issues affecting the taxi industry. He is Director of LTDA Enterprises Ltd and a non-executive Director of Computer Cab Company Ltd.</p>
<p><strong>Biography for Steve Wright</strong>: After an early career with London Underground Steve Wright became involved in the Private Hire Trade and successfully ran a Private Hire Company for over 25 years. Steve is currently chair of the Licensed Private Hire Car Association.&nbsp;This organisation comprises of 150 companies representing 15,000 drivers, with a further 1,000 companies registered.&nbsp;In 1999 Steve was awarded an MBE for services to transport in London.</p>
<p><strong>Biography for Eva Lindholm</strong>: Eva Lindholm has an extensive financial industry background and in 1999 was appointed Managing Director, Investment Banking for J.P. Morgan and Co. Hailing from Finland, she has worked around the world in various roles for J.P. Morgan for more than 20 years. Eva focuses on public sector financial institutions, among her duties.&nbsp;She is also involved in helping recruit and retain top female talent in her industry.&nbsp;She has been on the TfL board since 2006.</p>
<p><strong>Biography for Keith Williams</strong>: Keith Williams is chief finance officer for British Airways plc and has been a main board director for the last three years, prior to joining British Airways he worked for a range of major corporations including Reckitt and Coleman, Apple Computers and Boots. He has extensive financial experience including a detailed knowledge of business planning, capital projects and project finance.</p>
<p><strong>Biography for Patrick O'Keeffe</strong>: Patrick O'Keeffe has extensive experience in industrial relations. He is currently deputy regional secretary for Unite the Union formerly the Transport and General Workers' Union (TGWU), the UK's biggest general union. His many years assisting workers who require representation includes time with the Irish TGWU, the Amalgamated Engineering Union, the British Airways Trade Union Council, the International Transport Federation and the European Trade Union Federation.&nbsp;He has been on the TfL Board since 2004.</p>
<p><strong>Biography for Peter Anderson</strong>: Peter Anderson is the Managing Director of Finance at Canary Wharf Group plc. He brings extensive experience of managing and developing a major business within a rapidly regenerating area to his TfL role together with experience of influencing the development of transport infrastructure appropriate to an area of rapid commercial and residential development. He was a special adviser to the TfL board from 2007, until his appointment to the board in June 2008.</p>
<p><strong>Biography for Judith Hunt</strong>: Judith Hunt is an independent consultant specialising in innovative programmes on leadership, equality, race and diversity issues. With extensive experience in local government Judith has worked as Chief Executive, London Borough of Ealing from 1987 to 1993. She was appointed Chief Executive of the Local Government Management Board until 1999 before embarking on her consultancy career. She has acted in a non-executive capacity advising and chairing many public bodies and has chaired the London Health Observatory. In 1999 Judith was awarded an OBE for services to equal opportunities and local government. She has been a TfL board member since 2006.</p>
<p><strong>Biography for Sir Mike Hodgkinson</strong>:&nbsp;Sir Mike Hodgkinson has over 30 years' experience in the transport industry. He has served as managing director at Land Rover and chief executive at Grand Metropolitan Foods and BAA. He was Chairman of Post Office Ltd between 2003 and 2007 and a board member of the Commission for Integrated Transport between 2001 and 2007.&nbsp;He is currently deputy chairman of Tui Travel plc and a Board Director of Dublin Airport.&nbsp;He has been Chairman of the Essex Business Consortium since 2001.&nbsp;He will represent the interests of people living, working and studying outside Greater London served by TfL's rail services.</p>
<p><strong>Biography for Charles Belcher</strong>:&nbsp;Charles Belcher has had 36 years in the rail industry, of which 14 were as Managing Director, including West Coast Trains, Wessex Trains and Silverlink.&nbsp;Prior to this he worked for British Rail.&nbsp;He was Chairman of National Rail Enquiries Ltd between 2000 and 2007.&nbsp;He will represent the interests of people living, working and studying outside Greater London served by TfL's rail services.</p>
<p><strong>Biography for Daniel Moylan</strong>: Daniel Moylan has been a Conservative councillor in the Royal Borough of Kensington and Chelsea since 1990 and has been its deputy leader since 2000.&nbsp;He currently has cabinet responsibility for transport, planning policy and housing policy. He also chairs London Council's Transport and Environment Committee and represents London Councils on the new London Waste and Recycling Board. He is chairman of Kensington and Chelsea Environmental Limited and co-chairs Urban Design London.</p>
<p>&nbsp;</p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has made further appointments to the Transport for London (TfL)&nbsp;board.Several new members include the Paralympic gold medal winner and former world record holder Dame Tanni Grey-Thompson.Dame Tanni brings first";}
        
        


 