


@{ViewBag.Title = "Only three weeks left to design a new bus for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Only three weeks left to design a new bus for London</h1>
        <div class="content-page-press-release">
        28 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Budding bus designers have just three weeks left to submit designs for a new bus for London. The competition to design a bus inspired by the classic Routemaster was one of the Mayor's key manifesto pledges.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am sure that there are still many people out there with cracking ideas for our new bus"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am sure that there are still many people out there with cracking ideas for our new bus
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, said: 'There has been a lot of interest in the competition but I am sure that there are still many people out there with cracking ideas for our new bus.</p>
<p>'There are just three weeks to go and I hope even more people - be they professional designers, bus passengers, drivers or even kids on their holidays - take the time to submit their ideas.'</p>
<p>Transport Commissioner Peter Hendy said: 'We're looking for a modern, accessible, environmentally friendly design that will be an asset to London.</p>
<p>'We have a history of innovation in public transport and design, and we will marry our expertise with the best ideas from the competition to produce a brand new icon for London.'</p>
<h2>An icon for London</h2>
<p>Entrants are encouraged to submit their designs in one of two categories:</p>
<ul>
<li>Design a bus for London: entrants will have the option of submitting a design for a specific part of the bus or a 'whole bus' design.&nbsp;In this category, designs will have to be quite detailed and must comply with guideline specifications as provided by TfL </li>
<li>Imagine a bus for London: in this category, entrants can submit single design concepts for particular features of the bus, or a sketch of the overall look. The judges will be looking for the best ideas rather than detailed technical designs </li>
<li>Designers have until Friday 19 September to submit their entries. As well as potentially seeing their design on the streets of London, the best designer could pocket a first prize of &pound;25,000</li></ul>
<p>Further details and full terms and conditions of the competition can be found on the TfL website at <a href="http://www.tfl.gov.uk/anewbusforlondon">tfl.gov.uk/anewbusforlondon</a></p>
<p>The Mayor will announce the winning designs at the end of October.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>A first prize of &pound;25,000 and two runner up prizes of &pound;10,000 are available for the best 'whole bus' designs submitted in the 'design' category.&nbsp;Merit prizes will be available for the best ideas submitted for specific parts of the new bus 
<li>There will be a range of prizes awarded for the best entries in each age group in the 'imagine' category </li>
<li>This is the first stage in the process of designing a new bus for London.&nbsp;The best ideas will be taken to the major bus manufacturers as part of a separate, competitive tendering process for the detailed design, prototyping and eventual manufacture of the new bus<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, said: 'There has been a lot of interest in the competition but I am sure that there are still many people out there with cracking ideas for our new bus.'There are just three weeks to go and I hope even more people - be";}
        
        


 