


@{ViewBag.Title = "Parking temporarily suspended on Talgarth Road for footway investigation works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Parking temporarily suspended on Talgarth Road for footway investigation works</h1>
        <div class="content-page-press-release">
        12 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Suspension to be carried out in phases for four weeks beginning 13 August 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is in the interest of public safety that we carry out these important works"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Interim Director of Road Network Management</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is in the interest of public safety that we carry out these important works
                            
                        </p>
                    </div>
                
            
            
            <p>Parking along the westbound footway of the A4 Talgarth Road will be suspended in phases between 13 August and 12 September to allow Transport for London (TfL) to carry out necessary footway investigation works. </p>
<p>Early assessments carried out by TfL have indicated that the footway on Talgarth Road, between West Kensington and Barons Court Tube stations, may not be suited to withstand the weight of parked cars. </p>
<p>In order to understand this further more detailed assessments need to be done into the condition of the footway, including looking at where utility cabling has been placed underneath the surface.</p>
<p>The suspensions will take place six to eight bays at a time to allow as much parking as possible to be retained. The first bays to be suspended will be at the eastern end of the road, near West Kensington Tube station.</p>
<p>Dana Skelley, Interim Director of Road Network Management, said: 'It is in the interest of public safety that we carry out these important works. </p>
<p>'There is a risk that in its current condition, the footway along Talgarth Road may not be suited to withstand the weight of parked vehicles and we need to investigate this further. </p>
<p>'We apologise for any disruption this necessary work may cause and we will carry them out as quickly and unobtrusively as possible.'
<hr>
</p>
            <p><strong>Editors notes:<p>
<ul>
<li></li></ul></strong>Residents should contact London Streets on 0845 305 1234 (24 hours a day) or <a href="mailto:londonstreets&#64;tfl.gov.uk">londonstreets&#64;tfl.gov.uk</a> for any further questions or queries 
<li>The initial assessment that indicated there could be a problem with the weight of parked vehicles on Talgarth Road was carried out as research for a footway renewal scheme. A footway renewal scheme will still go ahead in the future and will be planned and designed according to the outcomes of these investigations.&nbsp;Residents and other stakeholders will be consulted and presented with options to ensure their views can be considered in the final scheme design </li>
<li>TfL&nbsp;is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), also known as London's red routes, which, although comprising only&nbsp;five per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Parking along the westbound footway of the A4 Talgarth Road will be suspended in phases between 13 August and 12 September to allow Transport for London (TfL) to carry out necessary footway investigation works. Early assessments carried out by TfL have";}
        
        


 