


@{ViewBag.Title = "Planned First bus strike on Friday 29 August 2008";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Planned First bus strike on Friday 29 August 2008</h1>
        <div class="content-page-press-release">
        28 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First bus drivers and supervisors may be holding a 24 hour strike beginning at 03:00 on Friday 29 August 2008. Talks have been taking place between First and the trade union, Unite, over the 2008 pay settlement.
        
    </div>



 <div class="on-this-page">
<p>First operates 94 bus routes across London, operating out of the following garages:</p>
<ul>
<li>Alperton</li>
<li>Dagenham</li>
<li>Greenford</li>
<li>Hayes</li>
<li>Lea Interchange</li>
<li>Northumberland Park</li>
<li>Uxbridge</li>
<li>Westbourne Park</li>
<li>Willesden Junction</li></ul>
<p>Transport for London (TfL)&nbsp;is working to keep passenger disruption to a minimum, and we would ask that passengers check their route and listen to media travel updates before they travel on Friday.</p>
<p>Where possible, we would advise passengers to use alternative means of transport.</p>
<p>Passenger information will be provided by TfL through a number of channels, namely:</p>
<ul>
<li>Countdown - a message will be displayed on Countdown signs at affected bus stops this evening (Thursday 28 August), to give passengers advance warning of tomorrow's strike, and will be displayed all day tomorrow</li>
<li>Publicity - signs will be displayed at bus stops, shelters and stations</li>
<li>Travel information - customers can contact our travel information team by phone on 020 7222 1234 for up-to-date information and advice on alternative means of transport.&nbsp;As lines are likely to be busy, we advise customers with internet access to check for real time travel information on the TfL website, <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>, or visit our online journeyplanner at <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a></li>
<li>Additional staff - extra staff members will be out on the network tomorrow, concentrating on the busiest stations and stops, to offer advice and guidance to passengers.&nbsp;Where possible, staff will be driving along bus routes with no service to offer advice to passengers</li></ul>
<p>
<hr>
<strong>Notes to editors:<p>
<p></strong>The following bus routes may be affected by the strike action:</p>
<ul>
<li>East London: 58, 67, 91, 150, 165, 179, 191, 193, 212, 215, 231, 236, 252, 259, 299, 308, 309, 323, 339, 341, 357, 365, 370D, 385, 389, 399, 476, 488, 498, 616, 646, 649, 650, 652, 656, 679, 686, 692, 699, 953, 958, D6, D7, D8, RV1, W6, W10, W11 and W12</li>
<ul>
<li>Night route: N91</li></ul>
<li>West London: 9 (Heritage route only), 10, 18, 23, 28, 31, 79, 83, 92, 95, 105, 187, 207, 223, 224, 226, 245, 282, 295, 328, 331, 414, 427, 487, 607, A10, E1, E3, E5, E7, E9, E10, PR2, U1, U2, U3, U4, U5 and U10</li>
<ul>
<li>Night routes: N10, N18, N28, N31 and N207<br></li></ul></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "First operates 94 bus routes across London, operating out of the following garages:AlpertonDagenhamGreenfordHayesLea InterchangeNorthumberland ParkUxbridgeWestbourne ParkWillesden JunctionTransport for London (TfL)&nbsp;is working to keep passenger";}
        
        


 