


@{ViewBag.Title = "Report into East London Line bridge incident released";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Report into East London Line bridge incident released</h1>
        <div class="content-page-press-release">
        15 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has published a report into an incident on 28 May, 2008 involving a rail bridge being built outside Liverpool Street station as part of the East London Line Project.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There is a collective responsibility for ourselves and our contractors to ensure these procedures work"</div>
        <div class="quote-footer">
            <div class="quotee-name">Martin Brown</div>
            <div class="quotee-job-title">TfL London Rail's Director of Safety</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There is a collective responsibility for ourselves and our contractors to ensure these procedures work
                            
                        </p>
                    </div>
                
            
            
            <p>The report found that at 19:15, the bridge dropped 200mm after sub-contractors, using temporary supports, made final adjustments before placing it on its permanent fixtures.</p>
<p>They wrongly positioned a Teflon plate between the base of the bridge and the temporary supports.</p>
<p>Their working methods were not cleared, either with the site Principal Contractor Balfour Beatty - Carillion Joint Venture (BB-CJV) or TfL project engineers.</p>
<p>It is believed a change in temperature as the bridge cooled resulted in it contracting two or three millimetres.</p>
<p>This led to a movement, which caused the temporary supports to be ejected from their position, resulting in the east end of the bridge dropping onto its permanent fixtures.</p>
<p>The incident caused five pieces of concrete decking to fall onto rail lines below, and services into Liverpool Street station were suspended overnight.</p>
<p>TfL has tightened up supervision over its contractors as a result of the incident.</p>
<p>TfL will make its findings available to the industry to prevent the incident from being repeated elsewhere.</p>
<p>TfL London Rail's Director of Safety, Martin Brown said: 'We have investigated this incident thoroughly, identified the causes and put in place procedures so that it cannot happen again.</p>
<p>'It was a unique event that we want to ensure cannot be repeated on any other bridge installation.</p>
<p>'The temporary work, which involved jacking the bridge horizontally about 38mm to a position over the permanent fitting, was undertaken without engineers from TfL or our main site contractor, BB-CJV, being made aware of what was happening.</p>
<p>'The positioning of the Teflon pad was a human error, but the procedures we have should have stopped this error occurring.</p>
<p>'There is a collective responsibility for ourselves and our contractors to ensure these procedures work.</p>
<p>'When planning the bridge installation it was not considered that this final repositioning work would be required.</p>
<p>'When it was found to be necessary, no method statement was prepared for checking. It should have been.</p>
<p>'Balfour Beatty-Carillion has upgraded its system of checking its sub-contractors and TfL has also stepped up its overall supervisory role.'</p>
<p>The bridge has now been bolted and welded into its permanent position without further problems.</p>
<p>Two other East London line bridges put in place around the same time have been checked, and no problems have been found with them.</p>
<p>The incident has not delayed the work on the East London line extension project, which is due to be completed in June 2010.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Bridge GE19 was rolled into place on the weekend of 3 and 5 May. Between then and 28 May, it was being prepared for jacking down onto its permanent bearings 
<li>The new bridge is a steel Warren truss girder design. It weighed at launch approximately 1300 tons, is 84 metres long, 10 meters high, 10 meters wide and is on a 1:30 incline with the gradient falling west to east </li>
<li>When the East London line extension is completed in June 2010, the bridge will carry London Overground trains over the six tracks leading out of Liverpool Street Station </li>
<li>This investigation and report concerns the circumstances leading up to the incident involving the bridge and its immediate aftermath. Network Rail is investigating the events around the resumption of services out of Liverpool Street Station the following day </li>
<li>This report is available <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/networkandservices/eastlondonrailway/2111.aspx">here </a></li>
<li>TfL will formally advise the construction industry of the lessons learnt during the investigation and hold a seminar for interested parties on its revised methods</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report found that at 19:15, the bridge dropped 200mm after sub-contractors, using temporary supports, made final adjustments before placing it on its permanent fixtures.They wrongly positioned a Teflon plate between the base of the bridge and the";}
        
        


 