


@{ViewBag.Title = "'Talent Lives' has found its young and talented winner";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>'Talent Lives' has found its young and talented winner</h1>
        <div class="content-page-press-release">
        27 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Wandsworth singer wins Transport for London (TfL) Teen Road safety talent competition.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It would be an unimaginable bonus to have my music known
                            
                        </p>
                    </div>
                
            
            
            <p>Singer and musician Josh Osho has been named the winner of the TfL and Bebo young talent competition, 'Talent Lives'.</p>
<p>The competition was run this summer on Bebo as part of TfL's ongoing 'Don't Die Before You've Lived' teen road safety campaign.</p>
<p>The 17-year-old from Wandsworth managed to wow the panel of judges including top DJ Nihal, MOBO award winning artist Kano and Head of Art at M&amp;C Saatchi, Tiger Savage with his acoustic soul song 'One Question'.</p>
<p>The song, written and played and sung by Josh was inspired by the futility of dying young.</p>
<p>A teenager is killed or seriously injured everyday or London's roads.</p>
<h2>Talent lives on</h2>
<p>TfL teamed up with social networking site Bebo in July to host 'Debutantes', a TV series following young people working with their role models and the 'Talent Lives' competition.</p>
<p>The competition offered young people the exciting opportunity to show case their talent by uploading their own creative material.</p>
<p>Following in the footsteps of the six 'Debutantes' who were mentored through dream job challenges by the likes of music video producer Sarah Chatfield, fashion designer Oswald Boateng and photographer Rankin, Josh will be mentored by music producer and manager Steven Budd to gain some invaluable insight into the music industry in September.</p>
<p>Josh Osho said: 'I really hope that I can mould some sort of career in the music business- I'd be content at just making a living out of it, just being able to do what I love as a hobby and as a living.</p>
<p>'It's everyone's dream to become more than that and it would be an unimaginable bonus to have my music known worldwide and maybe even become a legend in my field.'</p>
<h2>Road safety campaigns</h2>
<p>Young teenagers aged 11 to 14 are more likely to be involved in a road collision than any other age group.</p>
<p>The initiative is part of a long-term road safety campaign that continues TfL's success in reducing the number of young people who die or are seriously injured on London roads.</p>
<p>From a Bebo page hosting the latest TfL teen road safety initiative, 'Debutantes' has risen to become a must-see digital TV show over the summer with over fifteen two-minute episodes now available online.</p>
<p>The page will remain on Bebo until the end of the summer with a final episode showcasing Josh's experience to end the season.</p>
<p>To hear the winning song, join the digital TV series following and watch Josh's experience go to www.bebo.com/debut <br>&nbsp;<br></p><strong>
<hr>
Notes to editors:</strong> 
<p>
<ul>
<li>For TfL Road Casualties in Greater London 2007 please&nbsp;click <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/roadsandpublicspaces/2840.aspx">here</a> </li>
<li>The digital TV series 'Debutantes' has been aired since late July 2008 and new episodes will be aired each week until the middle of September. <a class="external-site" title=" (Opens in new window) (Opens in new window)" href="http://www.bebo.co.uk/debut" jquery1219831879974="6" jquery1219831776362="6">www.bebo.co.uk/debut</a> </li>
<li>The programmes are part of TfL's ongoing campaign designed to warn young people of the dangers they face every day on the Capital's roads </li>
<li>Further quote from Chris Lines, Head of London Road Safety Unit:&nbsp;'Young Londoners play an important role in the Capital and I'm pleased to see that recent figures show another 16 per cent drop in the number of young people killed or seriously injured on London's roads.</li></ul>
<p>'Even so, young teenagers aged between 11 and 14 are still the most likely to be involved in a road collision and we should not be complacent as one injury alone is one too many.<br>&nbsp;<br>'London has already exceeded the 2010 targets set by the Government for children killed or seriously injured with a 50 per cent reduction as well as reducing the total number of people killed or seriously injured by 40 per cent, three years early.<br>&nbsp;<br>'Debutantes and Talent Lives will support the incredibly vital work we already do which ensures that young people are aware of the importance of road safety and that many young lives, full of potential are not wasted.'</p>
<ul>
<li>In March 2000, the Government announced a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are: a 40 per cent reduction in the number of people killed or seriously injured; a 50 per cent reduction in the number of children killed or seriously injured; a 10 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres. London has already exceeded the 2010 targets set by the Government for children killed or seriously injured (50 per cent reduction) and the total number of people killed or seriously injured (40 per cent reduction) three years early. London has achieved this and also met a more stringent target, a 60 per cent reduction in the number of children killed or seriously injured. </li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Singer and musician Josh Osho has been named the winner of the TfL and Bebo young talent competition, 'Talent Lives'.The competition was run this summer on Bebo as part of TfL's ongoing 'Don't Die Before You've Lived' teen road safety campaign.The";}
        
        


 