


@{ViewBag.Title = "TfL and Kingston Police obtain ASBO against abusive teenager";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Kingston Police obtain ASBO against abusive teenager</h1>
        <div class="content-page-press-release">
        22 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Kingston Safer Transport Team have been granted an Anti-Social Behaviour Order (ASBO) against an abusive teenager on the buses.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are prepared to take appropriate action with the police to protect our passengers and staff from antisocial behaviour on our network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Hatfield</div>
            <div class="quotee-job-title">one of TfL's Transport Community Safety Managers</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are prepared to take appropriate action with the police to protect our passengers and staff from antisocial behaviour on our network
                            
                        </p>
                    </div>
                
            
            
            <p>Ashley Warren, a 16-year-old from Chessington, Kingston now risks jail if he is caught using abusive or threatening language while on public transport, or if he is found travelling on any TfL service without a valid ticket.</p> <p>The Kingston Safer Transport Team (STT), funded by TfL and managed by Kingston's Borough Operational Command Unit were regularly dealing with Warren's behaviour and contacted TfL's Crime &amp; Disorder Team to seek assistance in obtaining the ASBO.</p> <h2>Freedom to travel</h2> <p>Steve Hatfield, one of TfL's Transport Community Safety Managers, said, 'We know how important it is for young people to be able to get around and about, but our passengers and staff should not have to put up with the kind of abuse dished out by Ashley Warren. </p> <p>'TfL will only use its powers in relation to ASBOs when it is necessary to do so but this case demonstrates that we are prepared to take appropriate action with the police to protect our passengers and staff from antisocial behaviour on our network.'</p> <p>Inspector Richard Dean, who oversees Kingston's Safer Transport Team, said, 'This is an excellent example of the local Safer Transport Team collaborating with TfL to make the transport network a safer environment for staff and passengers.</p> <h2>Safer transport team</h2> <p>'The message to Warren and others like him is that police and the courts will deal robustly with this type of unacceptable behaviour.'</p> <p>The ASBO is valid for two years and Warren can be arrested for any breach of its terms, which would be punishable by imprisonment of up to one year.</p> <p>Kingston's Safer Transport Team, funded by TfL, are a dedicated team of both Police &amp; Police Community Support Officers.</p> <p>They have targeted a number of bus routes where anti-social behaviour has been identified, detecting and preventing offences as well as reassuring passengers.</p> <p> <hr> <strong>Notes to editors:  <p> <ul> <li></li></ul></strong>The Anti Social Behaviour Order was issued at Kingston Magistrates Youth Court on August 6, 2008  <li>Under the ASBO, the Defendant is prohibited from:  <ul> <li>Using threatening or abusive language towards any person on public transport operated by or on behalf of TfL  </li><li>Travel on any public transport operated by or on behalf of TfL, without having previously paid the correct fare to travel or correctly touching in with a valid oyster card</li></ul> <li>If without reasonable excuse the defendant does anything which he is prohibited from doing by this order, he shall be liable to a detention and training order, which has a maximum term of 24 months - 12 months of which is custodial and 12 months in the community  </li><li>TfL was granted the power to apply for ASBOs in its own right by the Home Secretary in September 2006  </li><li>TfL's Crime &amp; Disorder Partnership Unit, part of Community Safety, Enforcement &amp; Policing, obtained the ASBO in conjunction with the Kingston Police Safer Transport Team  </li><li>TfL has also funded the deployment of Safer Transport Teams made up of 18 Police Community Support Officers (PCSOs), two Sergeants and a PC to 21 outer London boroughs.&nbsp; These teams will tackle local priorities and provide visibility and reassurance to passengers. The Kingston Safer Transport Team on June 28 2007  </li><li>All 8,000 London buses are now fitted with CCTV and there are now up to 60,000 cameras on the fleet of 8,000 vehicles  </li><li>Crime on London buses is now at its lowest recorded rate for more than four years - with just 15 crimes for every million passenger journeys taken<br></li>
            

            
            

        </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ashley Warren, a 16-year-old from Chessington, Kingston now risks jail if he is caught using abusive or threatening language while on public transport, or if he is found travelling on any TfL service without a valid ticket. The Kingston Safer Transport";}
        
        


 