


@{ViewBag.Title = "TfL advice to passengers in the event of planned RMT Tube Lines strike ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advice to passengers in the event of planned RMT Tube Lines strike </h1>
        <div class="content-page-press-release">
        19 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Possible disruption to some Tube services if strike goes ahead
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) today urged both RMT and Tube Lines to work together to resolve the issues involved in the RMT's planned strike action. The industrial action by maintenance staff employed by Tube Lines, who are responsible for maintaining and upgrading the Jubilee, Northern and Piccadilly, is currently due to commence at noon on Wednesday 20 August for 72hrs until noon on Saturday 23 August. </p>
<p>Should the RMT strike action go ahead, services on the Jubilee, Northern and Piccadilly lines may be disrupted, however LU expect to run a normal service on all other lines. </p>
<p>Tube customers are advised to check before they travel, allow extra time for their journey and seek alternative routes where necessary. Bakerloo, Central, Circle, District, Hammersmith &amp; City, Metropolitan and Victoria lines which are maintained by Metronet, should continue to operate, although they could be busier as a consequence. </p>
<p>Football fans travelling to Wembley for the England match on Wednesday (20 August) are asked to leave extra time for their journey. LU hopes to be running a Jubilee line service, however Wembley Park station is also served by the Metropolitan line and we would ask fans for their patience as services could be busier than normal. The stadium is also served by Wembley Central station on the Bakerloo line and London Overground and also by Wembley Stadium station, served by Chiltern Railways. </p>
<p>London Underground Chief Operating Officer, Howard Collins, said:<br>"We hope that Tube Lines and the RMT can resolve this issue without unnecessary strike action. However, should the planned strike action go ahead, we would ask our customers to check before they travel from Wednesday. If services are disrupted, customers should seek alternative routes if they normally use the Jubilee, Northern and Piccadilly lines. We expect to operate normal services on the rest of the network. </p>
<p>"We would also like to ask customers for their patience during this time, as transport staff around the capital will be making every effort to ensure they can get around."</p>
<p>Docklands Light Railway and London Buses will continue to operate as normal. </p>
<p>Passengers are urged to be patient and to respect the efforts of all transport staff in London as they work to deliver transport services. </p>
<p>For advice on how to make journeys using other modes of transport, including walking and cycling, passengers are advised to log onto <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> or call the 24hour travel information line on 020 7222 1234. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) today urged both RMT and Tube Lines to work together to resolve the issues involved in the RMT's planned strike action. The industrial action by maintenance staff employed by Tube Lines, who are responsible for maintaining and";}
        
        


 