


@{ViewBag.Title = "The crime-busting station on the DLR";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The crime-busting station on the DLR</h1>
        <div class="content-page-press-release">
        11 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has hailed a new weapon in his fight to cut crime in the Capital - a revamped Docklands Light Railway station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is the right of every Londoner to feel safe when they travel around their city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is the right of every Londoner to feel safe when they travel around their city
                            
                        </p>
                    </div>
                
            
            
            <p>Crime figures for Shadwell station, in the borough of Tower Hamlets, have dropped since Transport for London (TfL) transformed its dark and dingy entrance hall into a bright open space.</p> <p>There has been just one crime at the station since the revamp in May, but there were six crimes there between May and June last year, according to British Transport Police (BTP) figures.</p> <p>And whereas before many residents felt they were too afraid even to use it, now 75 percent of them say they feel safer in it after the &pound;2.5m refit, according to an independent survey.</p> <p>The Mayor said 'It is the right of every Londoner to feel safe when they travel around their city, and I am determined to make the transport system as safe as possible in order to achieve this.</p> <p>'Shadwell station is a great example of quite literally giving criminals nowhere to hide - where before it was difficult to see people lingering in corners or behind the huge pillars that were there, now it's a wonderful open space that the community can use with confidence.'</p> <h2>Travel with confidence</h2> <p>Robert Niven, Head of Development and Planning for Docklands Light Railway (DLR), said: 'We are delighted by the results at Shadwell station, particularly among local residents who say the refurbishment has made a real difference.</p> <p>'The DLR has always been an extremely safe way of getting around London, but our programme of improvements are clearly making it even safer.'</p> <p>Improvements to the station included:</p> <ul> <li>adding more entrances and exits  </li><li>removing large pillars  </li><li>adding CCTV cameras  </li><li>converting an adjoining railway arch into an internet coffee bar in the station</li></ul> <p>The Mayor's words were echoed by Chief Supt Miles Flood of the BTP who said the improvements had helped discourage criminal activity.</p> <p>'The Shadwell station improvements really complement the work that our DLR Neighbourhood Policing Team is doing with staff and passengers to reduce the already low level of crime and make people feel even safer.'</p> <p> <hr> <strong>Notes to editors:  <p> <ul> <li></li></ul></strong>158 local residents were interviewed by independent researchers GFK NOP for the survey  <li>Refurbishment work began in July 2006  </li><li>The works include a new safety lock-up for 12 bicycles  </li><li>Shadwell station is used by 16,000 passengers a day  </li><li>Other DLR stations to be similarly refurbished are Gallions Reach and King George V stations, by the end of 2008. All three stations form part of a programme to improve DLR station environments<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Crime figures for Shadwell station, in the borough of Tower Hamlets, have dropped since Transport for London (TfL) transformed its dark and dingy entrance hall into a bright open space. There has been just one crime at the station since the revamp in May,";}
        
        


 