


@{ViewBag.Title = "Transport for London to terminate &pound;100m a year Oyster contract";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London to terminate &pound;100m a year Oyster contract</h1>
        <div class="content-page-press-release">
        08 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London to terminate &pound;100m a year Oyster contract.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The savings will be reinvested to deliver further improvements in London's transport system"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL's Director of Fares and Ticketing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The savings will be reinvested to deliver further improvements in London's transport system
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL)&nbsp;are convinced that any new contract will deliver enhanced services for less money, driving significant savings.</p>
<p>The Mayor is keen to improve the Oyster card to make it even more attractive for Londoners and TfL will work to make sure this happens both quickly and in a way that represents the best value.</p>
<p>Shashi Verma, TfL's Director of Fares and Ticketing said: 'Transport for London is committed to delivering value for money across all of its services.</p>
<p>'As part of this we are looking at more cost effective ways to manage and develop the Oyster card system that we expect will save millions over the next few years.</p>
<p>'The savings will be reinvested to deliver further improvements in London's transport system.'</p>
<p>
<hr>
<strong>Note to editors:</strong></p>
<ul>
<li>The Oyster card has been a huge success since its introduction across the TfL network in 2003. There are now over 6 million cards in active use saving passengers time and money. Thirty-eight million journeys are made each week using Oyster</li>
<li>Oyster is accepted across Tube, bus, DLR, London Overground and parts of the Greater London rail network and gives passengers the ability to store credit, top up their cards on line automatically or over the counter at thousands of local shops</li>
<li>Up to three different Travelcards or Bus Pass season tickets and pay as you go can be stored on the same Oyster card at the same time</li>
<li>Oyster cards can be topped up online, over the phone, at Travel Information Centres or at one of the thousands of local Oyster Ticket Stop retailers across London</li>
<li>Registered lost or stolen cards with Annual, monthly Travelcards or with pay as you go value stored on them can be stopped and the value transferred onto a new Oyster card, or refunded</li>
<li>The system was originally created, and is now maintained, via a Public Finance Initiative (PFI) contract held between TfL and Transys, a consortium whose principal partners are EDS and Cubic. TranSys is responsible for developing, installing, managing and maintaining London's automated fare collection system including the Oyster card system, on behalf of TfL</li>
<li>TranSys' shareholders include Cubic (UK) Ltd, EDS International Ltd, Fujitsu Services Ltd. and WS Atkins Consultants Ltd.&nbsp; The contract was put in place in 1998 for a term of 17 years. TfL is terminating the contract by exercising a break option in the contract<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL)&nbsp;are convinced that any new contract will deliver enhanced services for less money, driving significant savings.The Mayor is keen to improve the Oyster card to make it even more attractive for Londoners and TfL";}
        
        


 