


@{ViewBag.Title = "Visit the new on-line destination for London's cyclists";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Visit the new on-line destination for London's cyclists</h1>
        <div class="content-page-press-release">
        18 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) asks the Capital's cyclists to share their knowledge with others, at www.tfl.gov.uk/cycling
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Transport for London's cycling pages are invaluable for everyone that cycles in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Transport for London's cycling pages are invaluable for everyone that cycles in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>Wherever and whenever people cycle in London, there's now one site they should all see - TfL's newly revamped cycling pages on the TfL website. </p>
<p>The new look site, transformed as part of London's Summer of Cycling, is aimed at everyone from new or occasional cyclists to regular cycle commuters, and the Mayor of London and TfL want it to become the one-stop-shop for anyone thinking of taking to two wheels in the Capital. </p>
<p>To help make this possible, TfL is asking London's many thousands of enthusiastic cyclists to pass on their wisdom to others. </p>
<p>They can do this by contributing their links to other interesting bicycle blogs or websites, sharing news of any cycling events, or sending in their favourite photos of biking in the Capital. </p>
<h2>Invaluable for cyclists</h2>
<p>The Mayor of London, Boris Johnson, said: 'Transport for London's cycling pages are invaluable for everyone that cycles in the Capital, and making the pages more interactive is a superb idea. </p>
<p>'I will certainly be logging on to check out the tips of fellow cyclists and may well contribute a few nuggets of wisdom myself.'</p>
<p>Visitors to the new site will find that the web pages are packed full of advice and information. </p>
<p>People new to cycling in the Capital can learn how to get cycle training in their local area, find out how to take part in the Sky Sports London Freewheel on 21 September, and work out the best routes for getting from A to B, as well as where to park when they get there.&nbsp; </p>
<h2>BikeJam</h2>
<p>Meanwhile, experienced cyclists will be able to order TfL's free London Cycle Guides, a series of 14 area maps that cover every inch of the Capital.</p>
<p>Check out the site's improved mapping, find out how to apply for a grant to help grow cycling in their local community, or learn more about events like BikeJam at Tour of Britain on 7 September.</p>
<p>Peter McBride, Head of Cycling, Walking and Accessibility at TfL, said: 'Cycling is a fantastic way to get around London, but if you're getting started, or if you're thinking of riding to an unfamiliar part of the Capital, it can be tricky to work out the best way to get somewhere, or where to park once you've arrived.</p>
<p>'The new cycling pages on the TfL website have been designed for cyclists with the help of cyclists, and we want to encourage everyone who cycles in London to contribute to the site. </p>
<p>'By working together, we hope that the new website will inspire even more people to join in London's cycling revolution.'</p>
<p>
<hr>
<br><strong>Notes to editor:</strong> 
<p>
<ul>
<li>The new TfL cycling web pages can be seen at <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> </li>
<li>London has seen a dramatic rise in the number of people cycling, with an 91 per cent increase on London's major roads since 2000. It is estimated that there are now approximately 500,000 cycle journeys a day across London as a whole </li>
<li>TfL has a target to increase cycling by 400 per cent by 2025 (compared to 2000) </li>
<li>In 2008/09, TfL is investing &pound;55m pounds in cycling in London. That money will be spent on infrastructure, training, promotion and education </li>
<li>The number of cyclists killed or seriously injured has fallen by 19 per cent compared with the government baseline figures from the mid to late 1990s </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wherever and whenever people cycle in London, there's now one site they should all see - TfL's newly revamped cycling pages on the TfL website. The new look site, transformed as part of London's Summer of Cycling, is aimed at everyone from new or";}
        
        


 