


@{ViewBag.Title = "Westbourne Grove re-opens to buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Westbourne Grove re-opens to buses</h1>
        <div class="content-page-press-release">
        04 August 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Westbourne Grove will re-open to buses on Sunday 10 August. The road has been closed since January 2008 while Thames Water engineering works were carried out.
        
    </div>



 <div class="on-this-page">
<p>Bus routes 7, 23, 27, 70 and N7 were diverted during the works and will now return to run along Westbourne Grove while route 36 towards Queens Park will revert to turning directly from Bishop's Bridge Road into Porchester Road.</p> <p>Temporary bus stops erected to accommodate the diverted routes on Bishop's Bridge Road will be removed while bus stop P on Queensway will no longer be served by routes 7, 23 and N7.</p> <p>Information on local bus stopping arrangements will be available at bus stops and on the Transport for London website.</p> <p> <hr> <strong>Notes to editors:</strong> <p> <ul> <li>Westbourne Grove was closed to enable Thames Water to construct a new 1.5 metre diameter sewer in Westbourne Grove and Bishop's Bridge Road as part of a Flood Alleviation Scheme</li></ul> <p>&nbsp;</p> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bus routes 7, 23, 27, 70 and N7 were diverted during the works and will now return to run along Westbourne Grove while route 36 towards Queens Park will revert to turning directly from Bishop's Bridge Road into Porchester Road. Temporary bus stops erected";}
        
        


 