


@{ViewBag.Title = "A scheme to make Henlys Corner more accessible given go-ahead";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A scheme to make Henlys Corner more accessible given go-ahead</h1>
        <div class="content-page-press-release">
        07 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding approved for improvements for pedestrians, cyclists and motorists at Henlys Corner junction.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'We are pleased to have progressed this scheme to improve conditions for all road users at Henlys Corner"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'We are pleased to have progressed this scheme to improve conditions for all road users at Henlys Corner
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has now approved funding for a scheme to make it easier for pedestrians to cross the busy Henlys Corner junction of the A406 North Circular Road and is working closely with the London Borough of Barnet to move this project forward. </p> <p>As well as improving pedestrian access, the scheme will provide better facilities for cyclists and will improve traffic flow in the area.</p> <p>TfL has worked with London Borough of Barnet to design a scheme that meets the needs of all road users in the area. </p> <h2>Improve traffic flow</h2> <p>The junction is one of the busiest on the North Circular Road and the need for improved pedestrian facilities to cross it has been identified, particularly for those pedestrians accessing the nearby Finchley Synagogue.</p> <p>The Henlys Corner scheme will see the installation of signalised pedestrian crossings across all arms of the junction. </p> <p>The scheme also includes alteration of the traffic signals to introduce a dedicated right turn phase for most arms of the junction to help improve traffic flow. </p> <p>There are also improvements being made to the cycle network in the area. </p> <h2>Cycle network improvements</h2> <p>Now that funding is approved, local public consultation on the proposals will commence in the next couple of months. </p> <p>David Brown, TfL's Managing Director of Surface Transport, said: 'We are pleased to have progressed this scheme to improve conditions for all road users at Henlys Corner. </p> <p>'We have worked closely with Barnet in developing these proposals and the scheme will mean better access for pedestrians in the area by re-linking the communities on both sides of the A406. </p> <p>'Installing pedestrian signals will make crossing this busy road easier for everyone and the improvements to the traffic signals will help to smooth traffic flow.' </p> <h2>Better access</h2> <p>Councillor Mike Freer, Leader of Barnet Council, said, 'We are delighted that, after working so closely with TfL, funding has been finally agreed that will see major improvements to Henlys Corner for the benefit of local residents and all road users.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has now approved funding for a scheme to make it easier for pedestrians to cross the busy Henlys Corner junction of the A406 North Circular Road and is working closely with the London Borough of Barnet to move this project";}
        
        


 