


@{ViewBag.Title = "All London's buses now fitted with iBus";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>All London's buses now fitted with iBus</h1>
        <div class="content-page-press-release">
        23 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Audio-visual 'next stop' announcements are making bus travel easier.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"iBus delivers a whole range of benefits for London's 6.4 million daily bus passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Managing Director for Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            iBus delivers a whole range of benefits for London's 6.4 million daily bus passengers
                            
                        </p>
                    </div>
                
            
            
            <p>iBus, the state-of-the-art system which provides passengers with useful information about their bus service, has now been fitted on all 8,000 London buses.</p> <p>The on board 'next stop' announcements that the system delivers mean passengers know exactly where their bus is and what the next stop and final destination will be, even on an unfamiliar route. </p> <h2>Travel in confidence</h2> <p>This enables passengers to feel confident travelling in new parts of the city.&nbsp; </p> <p>The technology, which has been widely welcomed, also helps London Buses deliver a more reliable, consistent service.</p> <p>Mayor of London, Boris Johnson, said: 'I put providing Londoners with clear concise information at the heart of my transport manifesto.&nbsp; </p> <p>'iBus represents a huge leap forward in this regard, and makes the Capital's bus network more attractive and easier to use.&nbsp; </p> <p>'For the visually impaired or for those travelling in new parts of the city it has proved to be a fantastic resource, it is improving the accuracy of next bus Countdown signs and will lay the foundation for the delivery of bus information direct to mobile phones or the internet.'</p> <h2>A whole range of benefits</h2> <p>David Brown, Managing Director for Surface Transport, said: 'iBus delivers a whole range of benefits for London's 6.4 million daily bus passengers.&nbsp; </p> <p>'On board journey information is great news for anyone with hearing or visual impairments or people travelling in an unfamiliar part of town.&nbsp; </p> <p>'And Londoners who know their bus routes like the back of their hand will benefit just as much from more reliable services thanks to the information iBus provides to operators.'</p> <h2>Mobility training</h2> <p>Carol Thomas, Access and Inclusion Manager for The Guide Dogs for the Blind Association, said: 'With the introduction of iBus on the Capital's buses, we have seen an increase in the number of blind and partially sighted people asking for mobility training on buses.&nbsp; </p> <p>'The audible announcements give our members the confidence to use the bus network, which is invaluable as it gives them so much more independence.&nbsp; </p> <p>'We applaud Transport for London for leading the way in introducing such announcements on buses and we are campaigning with 25 disability organisations around the country to have audible and visual announcements introduced on buses across the UK.'</p> <h2>Combination of technologies</h2> <p>iBus uses a combination of technologies, including satellite tracking and GPRS data transfer that can pinpoint the precise location of all of the city's 8,000 buses.&nbsp; </p> <p>The system provides real time audio-visual journey information for passengers as well as more accurate predictions of arrival times at bus stop Countdown signs.&nbsp; </p> <p>It also provides improved radio communications for drivers and allows bus controllers to improve performance and reliability.  <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>iBus is one of the world's largest integrated Automatic Vehicle Location projects  </li><li>In addition to automatic vehicle location announcements, iBus improves bus drivers' ability to communicate with passengers, providing a range of pre-recorded announcements and a tannoy system  </li><li>CentreComm - London Buses' 24/7 Command and Control Centre - can communicate directly with passengers if a route or area is affected by a serious incident or may be subject to major delays  </li><li>The information from the iBus system feeds into Countdown signs at bus stops, improving the accuracy of their predictions of bus arrival times  </li><li>Bus controllers know at a glance the precise location of every bus on a particular route, and are able to take action to maintain a good service if there are any problems<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "iBus, the state-of-the-art system which provides passengers with useful information about their bus service, has now been fitted on all 8,000 London buses. The on board 'next stop' announcements that the system delivers mean passengers know exactly where";}
        
        


 