


@{ViewBag.Title = "Almost a third of young London drivers pressured into driving faster by friends";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Almost a third of young London drivers pressured into driving faster by friends</h1>
        <div class="content-page-press-release">
        16 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) statistics suggest that willingness to impress friends could be a significant factor in young driver collisions.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"If you really value your driving licence, don't risk it by driving recklessly"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of the London Road Safety Unit at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
If you really value your driving licence, don't risk it by driving recklessly
</p>
</div>
<p>New research from Transport for London<strong>*</strong> has revealed the extent to which young drivers, particularly males, are affected by peer pressure while at the wheel. </p>
<p>The findings are released in support of a campaign, run by TfL and the London Safety Camera Partnership, which urges young drivers (17 to 25-year-olds) to consider the consequences of illegal driving.</p>
<p>According to the research, 31 per cent admitted that friends had urged them to 'put their foot down', a finding more common among young men (46 per cent) than young women (15 per cent). </p>
<h2>Peer pressure</h2>
<p>In total, one in three males (32 per cent) and one in five females (20 per cent) have risked their licences by speeding in order to impress passengers or onlookers. </p>
<p>This is despite the findings that a third of young drivers claimed that they would not be able to maintain their current lifestyle, including their job, if they lost their driving licence. </p>
<p>Young drivers account for just eight per cent of all drivers in the Capital, but are involved in 18 per cent of all collisions. </p>
<p>In London in 2007, there were 878 speed-related collisions involving young drivers. Fourteen of these collisions resulted in a fatality. </p>
<h2>Driving represents freedom</h2>
<p>Chris Lines, Head of the London Road Safety Unit at TfL, said: 'What's really clear from this research is the extent to which many young Londoners value their driving licence. </p>
<p>'For many people, being able to drive a car represents freedom, independence, self-reliance and fun. </p>
<p>'However, many people risk losing their licence by speeding to impress friends. </p>
<p>'The message we're putting out with this campaign is simple: if you really value your driving licence, don't risk it by driving recklessly.'  <br /> <br />Summary of the research findings:</p>
<p>
<div class="table-container"><table width="75%" border="1" cellspacing="1" cellpadding="1">
    <tbody>
        <tr>
            <td>
            <h3>Young male drivers </h3>
            </td>
            <td>
            <h3>Young female drivers</h3>
            </td>
        </tr>
        <tr>
            <td>70 per cent say that a car is important to their day-to-day lifestyle  </td>
            <td>66 per cent say that a car is important to their day-to-day lifestyle</td>
        </tr>
        <tr>
            <td>42 per cent could not maintain their current lifestyle (including job) if they lost their licence</td>
            <td>
            </p>
            <p>23 per cent could not maintain their current lifestyle (including job) if they lost their licence<br /></p>
            <p></td>
        </tr>
        <tr>
            <td>96 per cent think they generally drive in a responsible manner </td>
            <td>91 per cent think they generally drive in a responsible manner</td>
        </tr>
        <tr>
            <td>46 per cent have been urged to drive faster by passengers </td>
            <td>15 per cent have been urged to drive faster by passengers</td>
        </tr>
        <tr>
            <td>32 per cent have actually driven faster in order to impress passengers or onlookers </td>
            <td>20 per cent have actually driven faster in order to impress passengers or onlookers</td>
        </tr>
    </tbody>
</table></div>
</p>
<p>The Young Drivers road safety campaign is a joint initiative between TfL's Road Safety Unit and London Safety Camera Partnership. </p>
<h2>Just a kid again</h2>
<p>It carries the message that anyone speeding, drug driving or driving without insurance risks losing their licence and the freedom that goes with it, effectively making them 'just a kid again'. </p>
<p>The campaign includes adverts in cinemas, radio and online as well as posters throughout the Capital.</p>
<p><strong>
</strong></p>
<hr /><strong>
</strong>
<p>
</p>
<p><strong>Notes to editors:</strong></p>
<p><strong>*</strong> Research conducted by Synovate on behalf of TfL between 5 and 15 January 2009. 307 participants took part. All were London residents aged between 17 and 25. </p>
<p>To see the cinema advert, please visit: <a href="http://www.tfl.gov.uk/tfl/corporate/media/newscentre/real-life.shtml">http://www.tfl.gov.uk/tfl/corporate/media/newscentre/real-life.shtml</a> </p>
<p><strong>London Safety Camera Partnership </strong></p>
<p>The London Safety Camera Partnership consists of the following organisations: TfL, Metropolitan Police Service, City of London Police, Her Majesty's Courts Service and London Councils. It exists to achieve three goals:</p>
<ul>
    <li>Reduce death and serious injury caused by speeding and red light running in London </li>
    <li>Raise awareness about the dangers and consequences of speeding and red light running </li>
    <li>Meet the Government and the Mayor's 2010 targets for casualty reduction </li>
</ul>
<p>To achieve these aims the Partnership operates a combination of fixed speed, mobile speed and red light camera sites across London.<br /></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New research from Transport for London* has revealed the extent to which young drivers, particularly males, are affected by peer pressure while at the wheel. The findings are released in support of a campaign, run by TfL and the London Safety Camera";}
        
        


 