


@{ViewBag.Title = "Capital code could crack congestion ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Capital code could crack congestion </h1>
        <div class="content-page-press-release">
        16 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originaly issued by the Greater London Authority (GLA).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The aim of the Code of Conduct is better coordination and far less disruption for Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The aim of the Code of Conduct is better coordination and far less disruption for Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, has persuaded utility companies to sign up to a 'Code of Conduct' to cut the delays and congestion caused by roadworks. </p>
<p>Utility firms working in London will have to provide information boards where they dig up the roads and work outside peak hours where possible. </p>
<p>Thames Water, the organisation carrying out a massive programme of work to replace the Capital's water mains, has also told the Mayor that it is ready&nbsp;to begin covering trenches that are not being worked on with high strength plates. </p>
<p>This should help ease congestion by allowing the use of whole stretches of road that would previously have been coned off. </p>
<h2>Ease congestion</h2>
<p>The Mayor is keen that, if successful, other companies follow its example.</p>
<p>Utility companies will also begin to test the software and systems necessary for a permitting system to be ready as soon as a formal scheme is approved by the Government.</p>
<p>Londoners are being encouraged to play their part in making sure the companies keep to the code by reporting works that have no signage, are untidy or unattended for a number of days, to the Transport for London (TfL)&nbsp;website. </p>
<p>TfL will then ask the utility companies to provide an explanation. </p>
<h2>Cut delays</h2>
<p>The Mayor of London, Boris Johnson, said: 'By making these pledges the utility companies have agreed that the simply incredible situation of their being allowed to dig up any road in the Capital with little notice and even less coordination must now end. </p>
<p>'The aim of the Code of Conduct is better coordination and far less disruption for Londoners.</p>
<p>'None of us can escape the frustration of sitting with engine idling or pedal poised at roadworks manned by an invisible army of workers. </p>
<p>'There may sometimes be a good reason for this and sometimes there is not. </p>
<h2>Less disruption</h2>
<p>'But from today if no information signs are available on site they will be able to log on and ask TfL to find out exactly what is going on.</p>
<p>'Possibly the most significant development is Thames Water's agreement to cover trenches that are not in use with plates that will allow these roads to be used as normal. </p>
<p>'If other companies follow suit we can keep people moving not fuming.'</p>
<p>Around 300,000 holes are dug in London's roads by utilities companies every year with inadequate regulation. </p>
<h2>Permit scheme</h2>
<p>The Mayor hopes that if they stick to the code the utilities companies will complete work as quickly as possible and at the same time as other works if this is practical. </p>
<p>Since taking office the Mayor has lobbied the Government for permission to run a formal London permit scheme. </p>
<p>He hoped they would approve go-ahead for a scheme in 2008 but this has now been delayed until the end of 2009 at the earliest. </p>
<p>The Mayor is delighted to have been able to persuade the utilities companies to engage with the code as it provides an excellent opportunity for them to demonstrate that better coordination can improve the lives of millions of Londoners.</p>
<h2>Better coordination</h2>
<p>Nick Morris, Director of Road Network Performance for TfL, said: 'This new way of working with London's utility companies will improve the way road works are undertaken in London, with better coordination and more accountability helping to minimise the disruption works have on London's road users. </p>
<p>'The Code of Conduct is a good step towards the implementation of the London Permit scheme, and will help fulfil the Mayor's pledge to smooth traffic flow in the Capital.'</p>
<p>David Owens, Thames Water's chief executive, said: 'Although roadworks are unavoidable as we carry out vital work to update London's network of worn-out Victorian water mains, I share the Mayor of London's vision to keep the Capital moving. </p>
<p>'That's why, as we sign up to his new Code of Conduct, we are making road plating mandatory at our Victorian mains replacement sites across London, so as well as keeping water flowing under the streets, we're helping the Mayor keep traffic flowing above them.'</p>
<h2>Traffic flow</h2>
<p>AA President Edmund King said: 'We very much welcome this Code of Conduct which has taken much effort but which will pay dividends to London's drivers who question why roadworks must cause so much disruption.&nbsp; </p>
<p>'The proof of the pudding will be in the eating but we are hopeful that those signing this code will at last show that something positive can be done.&nbsp; </p>
<p>'London's drivers should also take this code at its word and use the reporting systems available to them to report roadwork problems.'</p>
<p>National Grid's Director of Operations for Gas Distribution, Jon Butterworth, said: 'National Grid is committed to working alongside the Mayor, local councils and our fellow utilities to keep London moving. </p>
<h2>Advance planning</h2>
<p>'We do our utmost to minimise any disruption and inconvenience associated with our essential streetworks. </p>
<p>'We accomplish this through advance planning and minimum dig technology where possible, but sometimes we need to do emergency work to fix gas escapes. </p>
<p>'National Grid also champions the use of 'keyhole' excavation technologies to further reduce traffic disruption where possible. </p>
<p>'We also want to keep Londoners informed of what we are doing. </p>
<h2>Up to date information</h2>
<p>'In the last year we have rolled out new solar powered signs in London. </p>
<p>'These carbon neutral signs give up to date information regarding our work, including diversions and road closures.'</p>
<p>Jerome de Chassey, Director for London &amp; the Home Counties, BT Openreach, said: 'Openreach welcomes the introduction of this code of conduct, which recognises the vital nature of repairs and improvement to infrastructure in the Capital whilst providing a real and positive solution to the issue of congestion caused by these activities.'</p>
<p>EDF Energy Networks Managing Director, Laurent Ferrari, said: 'EDF Energy Networks has pledged its support to the Mayor of London's Code of Conduct on road works and always works hard to ensure any disruption from our vital operations is kept to a minimum. </p>
<h2>Public reporting</h2>
<p>'In London our electricity network, which provides power to our 2.25 million connected customers, is predominately underground and is made up of some 35,500 km of underground cables in the Capital. </p>
<p>'Inevitably, to serve our customers and communities, there are times when we have to dig these cables up for maintenance, to expand or enhance our networks, or to carry out emergency repairs.</p>
<p>'We take our responsibilities to minimise the impact of our work very seriously and will work closely towards the agreed Code of Conduct.'</p>
<p><strong>
<hr>
Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Statistics calculated by TfL for 2008/2009 indicate that 300,000 road works were undertaken by utility companies in London. Many of these are essential, but cause more congestion than they should because of poor planning 
<li>Under the current system, utility companies only have to notify highway authorities when they want to dig up a road. The more advance notice is given, the more we can do to reduce the impact on congestion. However, the vast majority of the time (81 per cent), less than three days notice is given </li>
<li>Sixteen per cent of road works were notified with a minimum of 10 days notice </li>
<li>Just&nbsp;three per cent&nbsp;of road works were notified with a minimum of&nbsp;three months notice </li>
<li>There are some cases where a lack of coordination means roads are dug up more often than needed. For example: on Holloway Road in Islington, there were around 500 sets of works in&nbsp;one year </li>
<li>Cannon Street was excavated 71 times over a&nbsp;six month period, with a total duration of works of over&nbsp;two years </li>
<li>However, when the works are properly coordinated disruption can be vastly reduced. For example; the work of 11 promoters and 64 individual works were coordinated by TfL over one weekend in June on Bishopsgate </li>
<li>All works promoters should now be placing courtesy boards at works sites explaining who is doing work, how long it will last and reason for any delays or inactivity (eg concrete setting, awaiting a part). The public will be able to contact the works promoter to raise any concerns </li>
<li>If there is no board, a site is unattended for a number of days or is untidy members of the public should go to <a href="http://www.tfl.gov.uk/tfl/roadusers/reportastreetfault/newfault.aspx">tfl.gov.uk/tfl/roadusers/reportastreetfault/newfault.aspx</a> and note the location of the works, using the description box to draw attention to the problem. TfL Customer Services will investigate and respond with their findings and action taken </li>
<li>By 30 June, TfL will make the London Works information system available to the public through the TfL website. This will inform the public of the nature of work, planned duration and contact details of the promoter </li>
<li>If there is no entry on London Works, the public should go to <a href="http://www.tfl.gov.uk/tfl/roadusers/reportastreetfault/newfault.aspx">tfl.gov.uk/tfl/roadusers/reportastreetfault/newfault.aspx</a> and report as above</li>
<h2>Roadworks Code of Conduct:</h2>
<p>The Mayor of London, London Boroughs, and utility companies are working together to reduce the inconvenience caused by road and streetworks to London's road users, businesses and residents. </p>
<p>They undertake to joint working and collaborative practices, in particular the following:</p>
<p><strong>Permitting</strong></p>
<p>The permit schemes are being rolled out across London before the Department for Transport approves formal applications from local authorities to run them.&nbsp; </p>
<p>During this roll-out we will prove software systems and ensure that the necessary process changes are put in place prior to going live.</p>
<p><strong>Sharing long-term plans</strong></p>
<p>Local authorities and utility companies will continue to share their long term plans for upgrade, maintenance and new connections across London, especially on the routes likely to be required for the 2012 Olympic Games.</p>
<p><strong>Plating</strong></p>
<p>We will take all opportunities for plating over or applying bridging techniques to our excavations, where this is safe and practical to do so.&nbsp; </p>
<p>This will ensure a rapid return of carriageways and footways to road users and pedestrians.</p>
<p><strong>Working outside peak hours</strong></p>
<p>We will work at the times of the day which minimise disruption to keep London moving and reduce excessive traffic delays. </p>
<p>We will consider 24 hour working, seven days a week, at locations where environmental concerns can be overcome and disturbance to residents kept to a minimum.</p>
<p><strong>Standard information signage</strong></p>
<p>We recognise the importance of adequate signage of diversion routes and the value of courtesy notices, which provide details of works and their likely completion date.&nbsp; </p>
<p>We will provide work site courtesy boards containing contact details together with an update on the progress of works. </p>
<p>This is particularly important for sites that are to be unattended for any length of time.&nbsp;&nbsp;&nbsp; </p>
<p><strong>Inspections</strong></p>
<p>We will inspect our works on footways and carriageways on a regular basis and will promptly rectify all aspects of the site that do not meet appropriate standards.</p>
<p><strong>First time re-instatements</strong></p>
<p>We will aim for first time permanent re-instatements at all sites as another way of reducing delays and disruption.</p>
<p><strong>Good Practice Guide</strong></p>
<p>Spreading good practice is a key to raising awareness and driving performance improvement.&nbsp; </p>
<p>We agree to share examples of good practice and adopt the highest standards that emerge from this awareness. </p>
<p>We will meet regularly to review progress in meeting the Code of Conduct. <br></p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has persuaded utility companies to sign up to a 'Code of Conduct' to cut the delays and congestion caused by roadworks. Utility firms working in London will have to provide information boards where they dig up the roads";}
        
        


 