


@{ViewBag.Title = "Changes to Oyster card deposit from 17 May";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to Oyster card deposit from 17 May</h1>
        <div class="content-page-press-release">
        22 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;3 refundable deposit for all new Oyster cards in drive to reduce the million cards discarded and misplaced each year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are aiming to cut the million cards wasted every year which will save &pound;3m in administration costs which we will plough straight back in to improving the transport system"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL Director of Fares and Ticketing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are aiming to cut the million cards wasted every year which will save &pound;3m in administration costs which we will plough straight back in to improving the transport system
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today confirmed that a &pound;3 refundable Oyster card deposit will be payable for all newly issued Oyster cards from 17 May 2009.</p>

<p>Over a million cards are currently discarded or misplaced each year and the move is designed to encourage Londoners to keep their cards, reducing the environmental and administrative cost.</p>
<p>The change will mean that passengers wanting a season ticket for a week, a month, or longer periods will be required to pay a &pound;3 deposit when they first purchase a card or come to replace a misplaced, unregistered card.&nbsp; </p>
<p>Passengers who use Oyster pay as you go (PAYG) already pay the &pound;3 refundable deposit and the change does not affect anyone with an existing card.</p>
<h2>Wasted cards</h2>
<p>TfL's analysis suggests that season ticket holders account for the majority of the wasted cards.&nbsp; </p>
<p>To date, some&nbsp;seven million Oyster cards have been issued to 700,000 Travelcard and 300,000 bus &amp; tram pass season ticket holders.&nbsp; </p>
<p>Currently, a third of all new Oyster cards issued with a 7 Day Travelcard or bus &amp; tram pass on them are discarded after a week and more than half within&nbsp;five weeks. </p>
<h2>Cut queues</h2>

<p>Shashi Verma, TfL Director of Fares and Ticketing said: 'Over a million Oyster cards are discarded or lost every year and we want to reduce the environmental impact of all this waste plastic as well as help cut queues at ticket offices that may result from people seeking replacement cards.</p>
<p>'To encourage Londoners to keep hold of their cards a &pound;3 refundable deposit will be payable for all new Oyster cards issued from the 17th May. We are aiming to cut the million cards wasted every year which will save &pound;3m in administration costs which we will plough straight back in to improving the transport system.</p>
<h2>Stop binning cards</h2>
<p>'Our 6.5m regular card users recognise that Oyster is the fastest and most convenient way to travel around London but we particularly want all&nbsp;seven day, monthly and longer period season ticket holders to stop binning and just renew using their existing cards. </p>
<p>'Pay as you go customers already know their credit lasts forever with auto top-up and, as long as you register your Oyster card, we'll replace your card and its credit for free.'<br><br>Customers in possession of an Oyster Card who regularly renew Travelcards or bus &amp; tram pass season tickets will not have to pay a deposit on their existing cards.<br><br>An information campaign with publicity posters will be posted across the bus, Tube and Oyster local ticket networks to inform passengers.<br>
<hr>

<p>
<p><strong>Notes to editors</strong><strong><p>
<ul>
<li></li></ul></strong>The &pound;3 refundable deposit will not apply to replacements for registered cards that have been lost, stolen, or failed or to concessionary cards such as the Freedom Pass and Oyster photocards 
<li>To avoid paying the &pound;3 deposit if an Oyster card is lost or stolen, passengers are advised to register their cards </li>
<li>The Oyster card has been a huge success since its introduction across the TfL network in 2003. More than six million Oyster cards are regularly used in London with more than three billion journeys made last year </li>
<li>Season tickets on Oyster are accepted on bus, Tube, tram, DLR, London Overground and National Rail services. Oyster pay as you go is accepted on bus, Tube, tram, DLR, London Overground and on some National Rail services </li>
<li>Up to three different Travelcard or bus &amp; tram pass season tickets and up to &pound;90 pay as you go credit can be stored on the same Oyster card </li>
<li>When passengers use Oyster to pay as you go they must touch in and out on the yellow card readers on the Tube, Docklands Light Railway, London Overground and some National Rail services. The system then automatically works out the right fare for the journey within a fifth of a second from up to 1.83 million permutations </li>
<li>Almost&nbsp;three times as many passengers can pass through a Tube station entrance/exit gate using an Oyster card compared to those using printed tickets - 40 a minute compared to 15 a minute </li>
<li>Oyster is also available at 3,800 Local Ticket Stops across London, online, over the telephone via 0845 330 9876 or at Travel Information Centres across London. You can find your nearest Oyster outlet through the TfL website at <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a><br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today confirmed that a &pound;3 refundable Oyster card deposit will be payable for all newly issued Oyster cards from 17 May 2009.Over a million cards are currently discarded or misplaced each year and the move is designed to";}
        
        


 