


@{ViewBag.Title = "DLR finalises three-car upgrade funds for London 2012 Games and beyond";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR finalises three-car upgrade funds for London 2012 Games and beyond</h1>
        <div class="content-page-press-release">
        17 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL) Docklands Light Railway (DLR) has confirmed funding for an &pound;18.2m upgrade which will increase capacity by 50 per cent on its Beckton route in time for the London 2012 Olympic and Paralympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The DLR is an extremely important fully accessible form of transport for London 2012"</div>
        <div class="quote-footer">
            <div class="quotee-name">Hugh Sumner</div>
            <div class="quotee-job-title">ODA Transport Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The DLR is an extremely important fully accessible form of transport for London 2012
                            
                        </p>
                    </div>
                
            
            
            <p>The funding means upgrade work can start on the Beckton branch which serves Olympic and Paralympic venue, ExceL, before the end of the year making the entire DLR network three-car ready by early 2011. </p> <p>TfL's London Rail Managing Director, Ian Brown, today (April 17) met representatives of the agencies which contributed to the funding package - the Olympic Delivery Authority (ODA), the London Development Agency (LDA) and the Housing and Communities Agency (HCA) - at the DLR Prince Regent Station. </p> <p>Mr Brown said: 'We were concerned that the Beckton line was the only line where funding was not in place to upgrade to three-car operation. </p> <h2>Route growing fast</h2> <p>'It is a route which is growing fast as it serves the ExCeL exhibition and conference centre and the University of East London. </p> <p>'The funding partners have all come together to allow this route to be converted before the Games, so adding the last piece of the jigsaw to complete the DLR upgrade.&nbsp; </p> <p>'It really does show commitment to ensuring that this route is capable of meeting future demand.'</p> <p>Boris Johnson, the Mayor of London, said: 'Before a javelin has been thrown or a medal won the&nbsp;three-car service will be running and delivering a fabulous service for 2012 Games goers; but most importantly it will leave a legacy of increased public transport capacity for the local people who use this route every day.'</p> <h2>World-class transport system</h2> <p>ODA Transport Director, Hugh Sumner, said: 'The &pound;10.8m investment the ODA has made shows the commitment we have towards a world-class transport system for spectators for the Games, while enabling residents and commuters to benefit from the very positive legacy we will leave behind.</p> <p>'The DLR is an extremely important fully accessible form of transport for London 2012, reaching up to the heart of the Olympic Park at Stratford as well as serving other venues like ExCeL, Woolwich Arsenal and Greenwich.'</p> <h2>Crucial infrastructure works</h2> <p>The HCA's London Regional Director David Lunts said: 'The HCA's investment of &pound;5.4m from the Thames Gateway programme will ensure there is no delay in bringing forward these crucial infrastructure works. </p> <p>'The upgrade to the Beckton route will improve the quality of life for businesses and residents in the area and act as a catalyst for future long term private investment.' </p> <p>The LDA's Group Director of Design, Development and Environment, Peter Bishop, said: 'Increasing the capacity of the DLR is fundamental to the growth of East London's communities. </p> <p>'It will help people access jobs in the Capital and make the most of the opportunities associated with hosting the London 2012 Olympic and Paralympic Games.</p> <h2>Improve links</h2> <p>'It will also improve links between existing and future areas of development. </p> <p>'People from east London will be able to see the benefits of this investment immediately.'</p> <p>The MP for Poplar and Canning Town, Jim Fitzpatrick, said: 'The announcement of this funding is not only great news for visitors who will be travelling to the Olympic and Paralympic Games, it will result in the completion of improvements across the whole of the DLR network which will benefit both the residents of East London and commuters alike. </p> <p>'Everyone loves travelling on the DLR and this puts the network firmly on track as being a first-class service.'</p> <p>DLR currently operates a two-car service, but needs to introduce an extra carriage to its trains in order to keep pace with growing passenger numbers and the demands of London 2012.&nbsp;  <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>The ODA provided &pound;10.8m, the HCA &pound;5.4m and the LDA &pound;2m  </li><li>It is expected that the Beckton route will carry 70,000 passengers - approx 55,000 London 2012 spectators and 15,000 other passengers - a day during the Olympic and Paralympic Games  </li><li>Three-car upgrade work is already well under way on the Bank-Lewisham and Poplar-Stratford routes. Three-car trains will run between Bank and Lewisham early next year followed by a network-wide roll out  </li><li>The recently opened Woolwich Arsenal extension has been built to take the extended trains, as will the Stratford International extension when it is completed in summer 2010<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding means upgrade work can start on the Beckton branch which serves Olympic and Paralympic venue, ExceL, before the end of the year making the entire DLR network three-car ready by early 2011.TfL's London Rail Managing Director, Ian Brown, today";}
        
        


 