


@{ViewBag.Title = "Filming on the Tube just became easier";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Filming on the Tube just became easier</h1>
        <div class="content-page-press-release">
        07 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today launched the revamped LU Film Office website that will make filming on the Tube more accessible to professional and amateur filmmakers and photographers alike.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Tube is recognised around the world and instantly the viewer knows that it's London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kate Reston</div>
            <div class="quotee-job-title">Head of London Underground Film Office</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Tube is recognised around the world and instantly the viewer knows that it's London
                            
                        </p>
                    </div>
                
            
            
            <p>The website now includes a short film about how to film on the Tube, as well as a location guide showcasing the wealth of choice that you only get from the world's oldest metro system, including the grandeur of the 1930s art deco stations and the futuristic stations on the Jubilee line. </p>
<p>Every year there are thousands of requests to film on the Tube from students through to major television and film production companies. </p>
<p>The Tube provides a unique and instantly recognisable backdrop for filmmakers, television crews and photographers and is&nbsp;an integral part of London's filming industry. Nothing identifies a location as being in London quicker than the inclusion of an Underground station or train. </p>
<h2>From script to screen</h2>
<p>Kate Reston, Head of London Underground Film Office, said: 'The Tube is recognised around the world and instantly the viewer knows that it's in London. </p>
<p>'We've revamped our website to make it easier for those wishing to film or photograph on the Tube whether they be professional or amateur.</p>
<p>'The website now includes a film which explains the processes that you need to go through to film on the Tube called Journey from script to screen. </p>
<p>'It includes sound bites from the film office staff, film crew, as well as behind the scenes footage of films/programmes that have been filmed on the Tube network over the last couple of years. </p>
<h2>Box office blockbusters</h2>
<p>'The Tube has been the backdrop to many box office blockbusters including The Bourne Ultimatum, Harry Potter and the Order of the Phoenix and V for Vendetta, as well as popular television programmes like Spooks and The Bill.'</p>
<p>To film on the Tube you need to apply for a permit of which there are three types to choose from:</p>
<ul>
<li>Location permits including access to Aldwych non-operational station and Charing Cross complex </li>
<li>Two-hour permit </li>
<li>Non-professional permit</li></ul>
<p>The Tube is the oldest metro network in the world. It has 270 stations of which 125 are deep level, it has 249 miles (402km) of track and carries more than one billion passengers each year.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Find out more about filming on the Underground at <a href="http://www.tfl.gov.uk/filming">www.tfl.gov.uk/filming</a>&nbsp;</li>
<li>Films that have used the Tube include:&nbsp;&nbsp; 
<ul type="circle">
<li>Passport to Pimlico (1949) </li>
<li>An American Werewolf in London (1981) </li>
<li>Sliding Doors (1998) </li>
<li>The End of the Affair (1999) </li>
<li>Billy Elliot (2000) </li>
<li>Bridget Jones's Diary (2001) </li>
<li>28 Days Later (2002) </li>
<li>V for Vendetta (2005) </li>
<li>Creep (2005) </li>
<li>The Good Shepherd (2006) </li>
<li>28 Weeks Later (2007) </li>
<li>Harry Potter and the Order of the Phoenix (2007) </li>
<li>Atonement (2007) </li>
<li>The Bourne Ultimatum (2007) </li>
<li>The Edge of Love (2008) </li>
<li>The Escapist (2008)</li></ul></li>
<li>Programmes that have used the Tube include: 
<ul type="circle">
<li>Spooks </li>
<li>Moses Jones </li>
<li>Primeval </li>
<li>The Bill </li>
<li>Agatha Christie's Miss Marple </li>
<li>Hustle<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The website now includes a short film about how to film on the Tube, as well as a location guide showcasing the wealth of choice that you only get from the world's oldest metro system, including the grandeur of the 1930s art deco stations and the";}
        
        


 