


@{ViewBag.Title = "Gallows Corner flyover to be fully restored by end of summer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Gallows Corner flyover to be fully restored by end of summer</h1>
        <div class="content-page-press-release">
        28 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Flyover to close in May as last phase of works commence to install new safety railings and allow two-way traffic again.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Now that we have completed all of the design and manufacture work we can get the new railings up and in place"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Road Network Management</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Now that we have completed all of the design and manufacture work we can get the new railings up and in place
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) will begin the last phase of work on Gallows Corner flyover next month, with the new safety railings being installed along the length of the structure. </p>
<p>To ensure public safety while this stage of the works is being carried out, it will be necessary to close the entire flyover to traffic. </p>
<p>During the works, all traffic will be diverted around the Gallows Corner roundabout.</p>
<p>For the past year, bespoke replacement safety railings have been designed, tested and manufactured off site to ensure they meet current design requirements. </p>
<h2>Construction phase</h2>
<p>The installation of the railings will begin on 26 May and is scheduled for completion by the end of August 2009, after which full two-way operation of the flyover will be reinstated.</p>
<p>TfL has been working closely with Havering Council to minimise disruption and work will be carried out seven days a week in order to restore the flyover as quickly as possible. </p>
<p>The construction phase has been scheduled to ensure there are no other works in the surrounding area at the same time that could impact on congestion. </p>
<p>The completion of these works will extend the life of the flyover, which was built as a temporary structure in the 1970s, and will minimise the need for any further large scale maintenance for at least a decade.&nbsp; </p>
<h2>Fully functional</h2>
<p>Local residents and businesses are being notified prior to works commencing and motorists will be kept updated of progress through local radio and press and via roadside message signs in the local area. </p>
<p>Information on the work will also be available on TfL and Havering Council websites.</p>
<p>Dana Skelley, Director of Road Network Management, TfL, said: 'We appreciate the patience people have shown while these necessary works have been taking place. </p>
<p>'Now that we have completed all of the design and manufacture work we can get the new railings up and in place to enable the flyover to be fully open and functional again. </p>
<p>'These works have been necessary to ensure the safety of the travelling public and we apologise for the disruption they have caused.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>During TfL maintenance work on Gallows Corner flyover in April 2008, heavy and unexpected corrosion was found in the safety railings, or parapets, which are in place to safely contain vehicles on the flyover in case of collision. Since then, the necessary design and manufacture of new safety railings has been taking place, mostly off site </li>
<li>As the flyover is a unique structure, and over 30 years old, its design was not compatible with modern standard safety railings that could be bought 'off the shelf' </li>
<li>Since July 2008, westbound traffic has been allowed to use the flyover, with temporary safety barriers in place along the length of the flyover. These barriers reduced the width of the carriageway so that only one lane of traffic has been able to safely pass. Eastbound traffic has been diverted around the Gallows Corner roundabout </li>
<li>The Gallows Corner flyover has had a number of 'owners' since it was built in the 1970s, including: 
<ul type="circle">
<li>1968/69 - Designed for Ministry of Transport, led by the London Borough of Havering as agents for Ministry of Transport </li>
<li>Unknown - 1994 - 'Owned' by Department for Transport, maintained by the London Borough of Havering as agents of the Department for Transport </li>
<li>1994 - 2000 - 'Owned' by Highways Agency, maintained by the London Borough of Havering (until at least 1997) as agents for the Highways Authority </li>
<li>2000 - present - 'Owned' by TfL</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) will begin the last phase of work on Gallows Corner flyover next month, with the new safety railings being installed along the length of the structure. To ensure public safety while this stage of the works is being carried out,";}
        
        


 