


@{ViewBag.Title = "London Underground named best metro in Europe as passenger numbers hit record high";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground named best metro in Europe as passenger numbers hit record high</h1>
        <div class="content-page-press-release">
        27 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passenger satisfaction ratings also break records, despite huge Investment Programme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Thanks to record investment and the efforts of our staff, the Tube is going from strength to strength"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">London Underground's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Thanks to record investment and the efforts of our staff, the Tube is going from strength to strength
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has carried more than a billion passengers for the third year running; 1,089 million passengers travelled on the Tube in 2008/9, the highest in its 146-year history.</p>
<p>The latest performance figures, announced today, follow LU's success at this year's prestigious Metro Awards, where the Tube was named Best Metro in Europe beating off stiff competition from Paris, Madrid, Berlin and Copenhagen.&nbsp; </p>
<p>Passenger satisfaction ratings also hit a new high with average scores reaching 79 out of 100.</p>
<p>All this has been achieved at the same time as the LU Investment Programme intensified with an increase in planned engineering works and weekend closures.&nbsp; </p>
<p>But as a result, improvements delivered over the year include the completion of three new stations, the complete refurbishment of the entire District line train fleet and the installation of the Airwave radio system, which also allows police and emergency services radios to work underground. </p>
<p>Mayor of London, Boris Johnson, said: 'The London Underground is the artery through which the lifeblood of London flows.&nbsp; </p>
<h2>Champions of Europe</h2>

<p>'It is tremendous news London's Tube team have been named champions of Europe.</p>
<p>'Despite the challenges of weekend engineering works, Londoners know the value of the Tube and why we are investing billions to improve it.&nbsp; </p>
<p>'My commiserations go to the disheartened residents of the cities who trailed behind.&nbsp; </p>
<p>'I urge them to visit London where they will find a warm welcome and a Tube team dedicated to whisking them as swiftly and efficiently as possible between the capital's many attractions.'</p>
<h2>Levels have improved</h2>

<p>Over the year, all key Tube performance levels have improved.&nbsp; </p>
<p>Passenger numbers have continued to grow, the number of train kilometres operated reached 70.6 million and 96.4 per cent of scheduled Tube services ran. </p>
<p>Tim O'Toole, London Underground's Managing Director, said: 'Thanks to record investment and the efforts of our staff, the Tube is going from strength to strength.&nbsp; </p>
<p>'Last year, we carried more passengers than ever, reliability continues to improve and customer satisfaction figures are at an all time high.&nbsp; </p>
<p>'This has all been achieved while at the same time managing the biggest Investment Programme since the Second World War.</p>
<h2>Recognition of the hard work</h2>

<p>'To achieve all this and then win the Best Metro in Europe is recognition of the hard work and professionalism of London Underground staff - I am immensely proud of them and their commitment.&nbsp; </p>
<p>'Although I depart soon, the work to improve the Tube goes on.&nbsp;&nbsp; </p>
<p>'The year ahead will see the upgrade of the Jubilee line, the completion of a new Northern ticket hall at King's Cross station and the arrival of the first air conditioned trains.'</p>
<p>The Metros Awards celebrate the efforts, accomplishments and positive contributions of companies and individuals in the mass transit industry.&nbsp; </p>
<p>London Underground beat off stiff competition from Paris, Madrid, Berlin and Copenhagen, to take the Best Metro Europe award, which was judged on several criteria including customer service levels, geographical coverage, technological innovations, safety and security and the condition of the network. 
<hr>
<br><strong>Note to editors:</strong><strong> </strong>
<ul>
<li>The Tube is the oldest metro system in the world, the first part running from Farringdon to Paddington was built in 1863 </li>
<li>Number of miles/km travelled by each Tube train each year: 76,800 miles/123,600km </li>
<li>Length of network: 402km/249 miles </li>
<li>Proportion of the network which is in tunnels: 45 per cent </li>
<li>Total number of stations served: 270 </li>
<li>Total number of stations owned and managed: 260 </li>
<li>London Underground has been known as the Tube since 1890, when the first deep-level electric railway line was opened </li>
<li>The Underground name first appeared on stations in 1908 </li>
<li>LU's world-famous logo, 'the roundel' (a red circle crossed by a horizontal blue bar), first appeared in 1908<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has carried more than a billion passengers for the third year running; 1,089 million passengers travelled on the Tube in 2008/9, the highest in its 146-year history.The latest performance figures, announced today, follow LU's";}
        
        


 