


@{ViewBag.Title = "London Underground brings art gallery to the streets of Southwark";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground brings art gallery to the streets of Southwark</h1>
        <div class="content-page-press-release">
        29 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A striking new 37 metre artwork showing a brightly coloured world will bring the feel of an art gallery to the streets of Southwark next month.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I hope that the work invites the public, particularly the local community, to talk to station staff about the local cultural sites
                            
                        </p>
                    </div>
                
            
            
            <p>Commissioned by Art on the Underground, this large-scale work created by Peter McDonald, rising star of the British art world, will be installed outside Southwark Underground station from 7 May 2009.&nbsp; </p>
<h2>Art for everyone</h2>
<p>Running along The Cut and Blackfriars Road, the work entitled Art for Everyone plays with the idea of transforming a public space into a place for art. </p>
<p>McDonald, who won the coveted John Moores Contemporary Painting Prize in 2008, has been artist-in-residence at the station since early this year. </p>
<p>During this time, he has created a new series of paintings, inspired by his discussions with station staff, visits with them to Tate Modern, and the station's role in providing connection to the theatres and galleries in the area.</p>
<p>Some of McDonald's paintings, inspired by the daily life of the station, have been designed as badges for staff and customers to wear, making the artwork available to the community on a new, more personal scale.</p>
<h2>Inspired by the control room</h2>
<p>Artist Peter McDonald, said: 'I really enjoyed spending time with the station staff and was particularly inspired by the control room which felt like a new world for me, something which really inspired my paintings.&nbsp; </p>
<p>'I hope that the work invites the public, particularly the local community, to talk to station staff about the local cultural sites and what it was like to collaborate with an artist at work.'</p>
<p>Working alongside McDonald, artist Jessie Brennan has developed Impossible Buildings: Interpreting Place, a project with London Underground staff and students from The Charter School that explores the station's architecture and the local environment through activities based on looking, drawing and making. </p>
<p>This has resulted in a special leaflet available from the station.</p>
<p>Louise Coysh, Community Projects Curator for Art on the Underground, said: It was very exciting to see Jessie and Peter each create works which engage with the people who populate the station each day.&nbsp; </p>
<p>'By referencing the galleries and cultural spaces nearby Peter celebrates London Underground's pioneering artistic heritage which has often celebrated the city's cultural sites in iconic posters.' 
<hr>
<br><strong>Notes to editors</strong> 
<p>
<ul>
<li>Peter McDonald studied at Central St Martins and the Royal Academy Schools, London, and has since exhibited internationally, including 'East International', Norwich Gallery (2003), Hiroshima Museum of Contemporary Art (2006), Galleri Charlotte Lund, Stockholm (2006) and 'Like Colour in Pictures', Aspen Art Museum (2007). He was awarded the John Moores Contemporary Painting Prize in 2008. He is represented by Kate MacGarry, London and Gallery Side 2, Tokyo, and will have solo exhibitions at both galleries this year </li>
<li>Jessie Brennan studied at Cardiff School of Art &amp; Design and the Royal College of Art, London. She has exhibited in solo and group exhibitions, including 'Over and Over Again', Sadlers Wells, London (2007), 'Divination', Brunswick Gallery, London (2008) and 'Black Light', Brook Gallery, Devon (2009). She is a visiting university lecturer in drawing and leads projects for a number of galleries in London. In 2006 she was a recipient of a Leverhulme Trust Bursary and awarded the Augustus Martin Prize in 2007 </li>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three and a half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe.&nbsp; For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> </li>
<li>Images of Peter McDonald's artworks are available at <a href="http://www.theresasimon.com/press">www.theresasimon.com/press</a> - just log in with your name and email address, click next, and choose the link from the project menu </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp; This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Commissioned by Art on the Underground, this large-scale work created by Peter McDonald, rising star of the British art world, will be installed outside Southwark Underground station from 7 May 2009.&nbsp; Art for everyoneRunning along The Cut and";}
        
        


 