


@{ViewBag.Title = "London Buses seeks views on proposed new bus route 324";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses seeks views on proposed new bus route 324</h1>
        <div class="content-page-press-release">
        30 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses is seeking the views of Barnet, Brent and Harrow residents, businesses and bus users on proposals to introduce new route 324 to the local area.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We believe the proposed introduction of route 324 would greatly improve transport links in the local area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Consultation and Engagement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We believe the proposed introduction of route 324 would greatly improve transport links in the local area
                            
                        </p>
                    </div>
                
            
            
            <p>Route 324 would run from Stanmore to Brent Cross, serving Queensbury, Kingsbury, Colindale and Hendon.</p>
<p>The proposed bus route would provide new links to London Underground services from Stanmore and Kingsbury on the Jubilee line and Hendon Central on the Northern line, as well as direct links to Kingsbury Community Hospital and Stanmore College. </p>
<p>The route would also provide bus services for the first time to residents in Colindeep Lane, Old Church Lane, Abercorn Road, St Andrews Drive and Culver Grove. </p>
<p>It is proposed that buses operate every 20 minutes during the day and every 30 minutes in the evenings and on Sundays. </p>
<h2>Improve transport links</h2>
<p>Peter Bradley, Head of Consultation and Engagement, said: 'We believe the proposed introduction of route 324 would greatly improve transport links in the local area as well as providing a bus route for areas which were not previously served by buses. </p>
<p>'During the consultation London Buses will be listening to the views of local businesses, schools, community organisations and residents and I look forward to hearing their opinions.'</p>
<p>Information on the proposals will be available on the Transport for London website (tfl.gov.uk/busrouteconsultation). &nbsp;</p>
<p>Consultation leaflets will be sent to households along and near to the route and will also be available in local libraries. </p>
<p>The consultation will run from 5 May until 12 June. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 324 would run from Stanmore to Brent Cross, serving Queensbury, Kingsbury, Colindale and Hendon.The proposed bus route would provide new links to London Underground services from Stanmore and Kingsbury on the Jubilee line and Hendon Central on the";}
        
        


 