


@{ViewBag.Title = "Making the Thames an easier option";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Making the Thames an easier option</h1>
        <div class="content-page-press-release">
        06 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originaly issued by the Greater London Authority (GLA).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Oyster pay as you go will be available on most river commuter services by autumn this year"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Oyster pay as you go will be available on most river commuter services by autumn this year
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor has announced plans to improve river services for Londoners and visitors to the Capital. </p> <p>London's pier owners, boat operators, borough councils and Transport for London (TfL) have agreed to sign up to a river Concordat led by the Mayor, which commits them to work together to improve ticketing, piers and passenger information.</p> <p>On the 6 April, the Mayor announced the first substantial improvements as a result of the new partnership. </p> <p>From November this year Thames Clipper services will be able to accept Oyster pay as you go, and from today they will also run a new direct service between Canary Wharf and London Bridge. </p> <h2>Tower Pier extention</h2> <p>TfL has agreed to fund an extension of Tower Pier to relieve the congestion caused by increasing numbers of river passengers.</p> <p>Boris Johnson, the Mayor of London, said: 'With the right mixture of investment and imagination river services can become a truly integral, as well as an extremely pleasant, part of the Capital's transport network. </p> <p>'Oysterising the Thames as well as providing clearer signage to the piers and services available will make it much easier for Londoners to travel on the river.</p> <p>'The Thames is also a vital part of the 2012 transport strategy and with the Games now so close the members of the Concordat fully realise the importance of making an Olympic effort to get our services and piers up to scratch. </p> <h2>Up to scratch</h2> <p>'When the world comes to London I want visitors to be able to glory in the beauty of our great waterway as they whiz between the centre of the Capital and Olympic venues at Greenwich.'</p> <p>More than thirty organisations have signed up to the River Concordat including every borough that fronts the river, boat operators, pier owners, TfL, the Port of London Authority, the London Development Agency and London First. </p> <p>They have agreed to focus on four areas of work:</p> <ul> <li>Integration of the Thames into the transport system: including river services in the Oyster system will make them much easier to use. Signage will be improved at piers but also at railway stations to make it clear that sometimes it is easier to walk to the pier and take a boat rather than the Tube  </li><li>The 2012 Games:&nbsp;a full Olympic and Paralympic river service will be in place for the summer of 2012. This will ensure there are services to coordinate with the start and end of events and that piers are ready to cope with the influx of visitors  </li><li>Promoting and improving services: operators will make it clearer to Londoners and visitors what type of service will suit them best so that people can better distinguish between the fast ferries and leisurely cruises  </li><li>Infrastructure: Tower Pier will be extended by 2011 but opportunities to extend other piers, beginning in central London but eventually heading further east and west, will be explored with developers and pier owners</li></ul> <h2>River commuters</h2> <p>Kulveer Ranger, the Mayor of London's Director of Transport Policy and Chair of the Concordat Group, said: 'The sheer number of organisations involved in the Capital's river services has meant making improvements has often felt like a battle against the tide. </p> <p>'This concordat provides a real opportunity to finally deliver the river services that our great city deserves.'</p> <p>Sean Collins, Managing Director, Thames Clippers, said: 'I welcome the launch of the river Concordat and the importance that the Mayor has placed on it.&nbsp; </p> <p>'Thames Clippers carried 2.7 million passengers in 2008, a 388 per cent&nbsp;increase in passenger numbers over a 2 year period as a direct result of our investment in 6 new fast ferries. </p> <h2>Increasing demand</h2> <p>'I believe that the areas that the Concordat focuses on, especially the Oyster card, will increase demand even further, providing Londoners and visitors to our great city with the high standard of service they deserve and to showcase this to the world in 2012.'</p> <p>David Brown, TfL's Managing Director of Surface Transport, said: 'Oyster pay as you go will be available on most river commuter services by autumn this year, we will also extend Tower Pier by 2011 to allow additional services to operate from the pier.&nbsp; </p> <p>'We look forward to working with our partners on the Concordat to make the river an ever more attractive, viable option for both commuters and leisure users.'</p> <p><strong> <hr> Notes to editors:</strong>  <p> <ul> <li>The River Concordat agreement can be seen <a href="http://www.london.gov.uk/mayor/publications/2009/04/river-concordat.jsp#concordat">here</a>  </li><li>Oyster will be accepted on all Thames Clippers services from November this year  </li><li>Passengers with a valid Travel card on their Oyster card will automatically receive the existing discount of a third off river service prices, available on all river services. TfL will continue to work with other operators who want Oyster compatibility  </li><li>TfL is providing &pound;1.5m for the extension of Tower Pier, which will be completed by 2011. Concordat partners will continue to explore opportunities to extend and build piers at other locations  </li><li>TfL today issued the new Spring/Summer timetable for river services, which includes details of the new direct services between London Bridge and Canary Wharf. For details, visit <a href="http://www.tfl.gov.uk/rivers">tfl.gov.uk/rivers</a>  </li><li>Thames Clippers' 10 minute shuttle service between Canary Wharf and London Bridge will start today, with four additional, express services from London Bridge to Canary Wharf in the morning peak and four from Canary Wharf to London Bridge in the evening peak  <ul> <li>Eastbound (morning): Depart London Bridge - 6:57, 7:27, 7:57, 8:22 / Arrive Canary Wharf - 7:07, 7:37, 8:07, 8:32  </li><li>Westbound (evening): Depart Canary Wharf - 17:48, 18:08, 18:28, 18:48 / Arrive London Bridge - 17:58, 18:18, 18:38, 18:58<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor has announced plans to improve river services for Londoners and visitors to the Capital.London's pier owners, boat operators, borough councils and Transport for London (TfL) have agreed to sign up to a river Concordat led by the Mayor, which";}
        
        


 