


@{ViewBag.Title = "Mind the Bird photo competition takes flight";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mind the Bird photo competition takes flight</h1>
        <div class="content-page-press-release">
        01 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) and the Royal Society for the Protection of Birds (RSPB) team up to urge the Capital's snappers to put birds in the frame.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are delighted to be working with the RSPB to highlight the wildlife that is all around us"</div>
        <div class="quote-footer">
            <div class="quotee-name">Marian Kelly</div>
            <div class="quotee-job-title">LU's Environment Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are delighted to be working with the RSPB to highlight the wildlife that is all around us
                            
                        </p>
                    </div>
                
            
            
            <p>LU and the RSPB launched a photo competition today (2 April) to encourage Londoners to use the Tube to discover the Capital's rich and varied bird life.</p> <p>Forty-two bird species have been recorded on LU property in recent years with an even greater number living in a surprising variety of habitats just a short stroll from the Tube. </p> <p>The competition, which is open to everyone, runs until 31 May. </p> <p>Birds should be snapped within a five minute walk of a Tube station with entries judged according to their relevance to the theme, originality and quality of the photography. </p> <h2>Huge variety</h2> <p>Marian Kelly, LU's Environment Manager, said: 'The Tube provides easy access to hundreds of green spaces across London although it's clear that you don't have to stray far from the transport network to discover a huge variety of bird life. </p> <p>'At London Underground we value and protect the wide range of animals and birds that have made either the underground tunnels or our trackside land their home.</p> <p>'We are delighted to be working with the RSPB to highlight the wildlife that is all around us.'</p> <p>Tim Webb from the RSPB added: 'We all rush around in our daily lives, rarely taking time to pause and admire what's going on around us. </p> <h2>Discover wildlife</h2> <p>'Here's the ideal excuse to lift your eyes and discover the wildlife that lives alongside us. </p> <p>'Take a camera and share your wild bird moments with us for a chance to win a prize and, more importantly, to make a connection with nature.'</p> <p>The competition will be judged by a panel which includes the Urban Birder, David Lindo, Nick White from the London Biodiversity Partnership and photographers working for both Transport for London and the RSPB.</p> <p>Competition entrants can upload their photos at <a class="external-site" title=" (Opens in new window)" href="http://www.flickr.com/groups/LU-RSPB_MindtheBird" jquery1238594466428="6">www.flickr.com/groups/LU-RSPB_MindtheBird</a> stating where the picture was taken. </p> <h2>Prizes to be won</h2> <p>There are separate categories for adults (18 and over) and children (under 18). </p> <p>Those taking part are free to submit as many photographs as they like, though only one prize is available per person.</p> <p>Prizes include an annual pass to RSPB reserves, a family pass to the London Transport Museum, and bird-related goodies including books and bird feeders. </p> <p>Winners will be notified in July.</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>Full details of the competition including the terms and conditions are available at <a href="http://www.tfl.gov.uk/mindthebird">tfl.gov.uk/mindthebird</a>  </li><li>Find out moe about <a href="http://www.tfl.gov.uk/sustainabledevelopment">LU's work to protect the environment</a>  </li><li>Find out more about the work of the <a class="external-site" title=" (Opens in new window)" href="http://www.rspb.org.uk/london" jquery1238594466428="7">RSPB in London</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU and the RSPB launched a photo competition today (2 April) to encourage Londoners to use the Tube to discover the Capital's rich and varied bird life. Forty-two bird species have been recorded on LU property in recent years with an even greater number";}
        
        


 