


@{ViewBag.Title = "New taxi fares come into effect on Saturday 4 April 2009";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New taxi fares come into effect on Saturday 4 April 2009</h1>
        <div class="content-page-press-release">
        03 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New taxi fares come into effect on Saturday 4 April 2009.
        
    </div>



 <div class="on-this-page">
<p>The increase of 3.4 per cent will help drivers maintain their earnings and cover increased operating costs.&nbsp; </p>
<p>Fares are calculated by Transport for London (TfL) using a long established, retrospective cost index based on national average earnings and taxi operating costs.&nbsp; </p>
<p>Operating costs have gone up by 3.7 per cent this year, with an increase of 4.1 per cent in the cost of diesel fuel. </p>
<h2>Operating costs increase</h2>
<p>The TfL Board approved the new taxi fares on 10 February, following consultation by the Public Carriage Office (PCO) with the taxi trade and others, including London TravelWatch.</p>
<p>The Board has also authorised a 40p metered extra to be charged only if fuel prices hit 147.1p per litre between 4 April 2009 and 1 January 2010.&nbsp; </p>
<p>The additional charge, if it is introduced, will be added to the meter by the driver at the start of each trip.&nbsp;</p>
<p>The average price of diesel was listed as 100.1p per litre as of 2 April 2009. </p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<ul>
<li>The PCO, part of TfL, is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are worked out according to one of three tariffs.&nbsp;These are as follows: 
<ul>
<li>Tariff 1 - Monday to Friday, between 6:00 and 20:00 </li>
<li>Tariff 2 - Monday to Friday, between&nbsp;20:00 and 22:00, and weekends between 6:00 and 22:00 </li>
<li>Tariff 3 - nightly between&nbsp;22:00 and 6:00 and on public holidays</li></ul></li>
<li>Taxi fares are higher in the evenings and late at night to encourage more drivers to work at these times, improving the safe travel options available to support London's late-night economy</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" border="1">
<tbody>
<tr>
<td nowrap="">&nbsp;</td>
<td nowrap="">Current <br>average</td>
<td nowrap="">New <br>average</td>
<td nowrap="">Increase*</td>
<td nowrap="">Increase* <br>(per cent)</td></tr>
<tr>
<td nowrap="">&nbsp;Tariff 1</td>
<td nowrap="">&nbsp;&pound;9.82</td>
<td nowrap="">&nbsp;&pound;10.16</td>
<td nowrap="">&nbsp;&pound;0.33</td>
<td nowrap="">&nbsp;3.4</td></tr>
<tr>
<td nowrap="">&nbsp;Tariff 2</td>
<td nowrap="">&nbsp;&pound;11.39</td>
<td nowrap="">&nbsp;&pound;11.78</td>
<td nowrap="">&nbsp;&pound;0.38</td>
<td nowrap="">&nbsp;3.4</td></tr>
<tr>
<td nowrap="">&nbsp;Tariff 3</td>
<td nowrap="">&nbsp;&pound;13.37</td>
<td nowrap="">&nbsp;&pound;13.83</td>
<td nowrap="">&nbsp;&pound;0.46</td>
<td nowrap="">&nbsp;3.4</td></tr>
<tr>
<td nowrap="">&nbsp;All Week</td>
<td nowrap="">&nbsp;&pound;10.86</td>
<td nowrap="">&nbsp;&pound;11.22</td>
<td nowrap="">&nbsp;&pound;0.37</td>
<td nowrap="">&nbsp;3.4</td></tr></tbody></table></div></p>
<p>* Apparent discrepancies are due to rounding effects</p>
<ul>
<li>The Retail Price Index inflation level was 3.0 per cent and the Consumer Price Index inflation level was 4.1 per cent when the fares proposal was finalised </li>
<li>The 3.4 per cent increase is in line with the increase in the cost index in use since 1981.&nbsp;The index, agreed with the taxi trade, combines changes in operating costs with national earnings to produce a change in average fares </li>
<li>Fuel prices are measured by the Arval index: <a href="http://online.arval.co.uk/index.cfm?fuseaction=fuelPricing.fuelhome">http://online.arval.co.uk/index.cfm?fuseaction=fuelPricing.fuelhome</a> </li>
<li>The average price of diesel was listed as 100.1p per litre as of 2 April 2009<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The increase of 3.4 per cent will help drivers maintain their earnings and cover increased operating costs.&nbsp; Fares are calculated by Transport for London (TfL) using a long established, retrospective cost index based on national average earnings and";}
        
        


 