


@{ViewBag.Title = "New London Overground platforms open at Stratford Station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New London Overground platforms open at Stratford Station</h1>
        <div class="content-page-press-release">
        03 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is pleased to announce the opening of two new platforms to serve the London Overground (LO) network at Stratford Station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are pleased to deliver these Olympic benefits three years ahead of the Games"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director of TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are pleased to deliver these Olympic benefits three years ahead of the Games
                            
                        </p>
                    </div>
                
            
            
            <p>The platforms which are part of the station's redevelopment for the London 2012 Olympic and Paralympic Games will be brought into service on the evening of Tuesday 14 April.</p>
<p>The Managing Director of TfL London Rail, Ian Brown, said: 'We are pleased to deliver these Olympic benefits three years ahead of the Games. </p>
<h2>Reduce congestion</h2>
<p>'These new platforms will reduce congestion by improving the flow of passengers, provide greater capacity and better accessibility than before and are well positioned to serve spectators going to the Olympic Park in 2012.'</p>
<p>Transport Director and the Olympic Delivery Authority (ODA), Hugh Sumner, said: 'The completion of these new platforms marks a significant milestone in the overall redevelopment of Stratford Regional Station that will ensure it can manage the number of spectators expected travelling to the Olympic Park.</p>
<h2>Treble capacity</h2>
<p>'The ODA has contributed &pound;32m towards these new platforms as well as an additional &pound;100m to treble capacity and improve accessibility at Stratford for 2012 and beyond.'</p>
<p>The new platforms have been built together as an 'island platform' which will enable trains to arrive and leave on either side. At 250 metres long they will reduce congestion and be capable of taking six-car trains in the future.</p>
<h2>Fully accessible</h2>
<p>Passengers have access to the rest of the station complex via two subways which are connected to the platforms by lifts as well as stairs, making them fully accessible. </p>
<p>The platforms also have new help points, clearer signs and information screens and new CCTV cameras.</p>
<p>They are situated on the north side of the Stratford station complex, adjacent to National Rail platform 12.</p>
<p>
<hr>
<br><strong>Notes to editors</strong> 
<p>
<ul>
<li>LO services will use the new platforms 1 and 2 after 20:00&nbsp;on Tuesday 14 April. This is to allow them to be train tested during the day. Before&nbsp;20:00 only alternate trains will run to and from Stratford using Platform 11 with the others stopping at Hackney Wick. The following departures will use platform 10A:&nbsp; 0607, 1102, 1537, 1637, 1706, 1736 and 1806 </li>
<li>On Wednesday 15 April a normal service will resume with all trains running to and from Stratford platforms 1 and 2 </li>
<li>Until now, LO trains have used platforms located in what is known as the low-level part of Stratford Station. These are now being converted for use by the DLR as part of its Stratford International extension. The new platforms are in the high-level part of the station and on the north side </li>
<li>The re-location of the LO platforms comes under the &pound;192.8m DLR Stratford International Extension project. It has been funded by &pound;32m from the Olympic Delivery Authority and the remainder by TfL </li>
<li>The construction of the two LO platforms has cost approximately &pound;25m </li>
<li>The work has been carried out by Skanska and VolkerRail in a joint venture </li>
<li>Stratford Regional Station will play a crucial role in transporting spectators to the Olympic Park in 2012.&nbsp; The three gateway stations: Stratford Regional, Stratford International and West Ham will have a combined capacity of 240,000 spectators per hour during Games time </li>
<li>The work to treble capacity and improve accessibility at Stratford Regional station will be finished by the end of 2010. It includes nine new lifts, eight new staircases, a re-opened subway, new platforms, wider, longer and clearer platforms, and a new station entrance at mezzanine level<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The platforms which are part of the station's redevelopment for the London 2012 Olympic and Paralympic Games will be brought into service on the evening of Tuesday 14 April.The Managing Director of TfL London Rail, Ian Brown, said: 'We are pleased to";}
        
        


 