


@{ViewBag.Title = "Rush-hour DLR services to Bank reduced next week";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rush-hour DLR services to Bank reduced next week</h1>
        <div class="content-page-press-release">
        02 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Essential engineering work to escalators is required at Bank.
        
    </div>



 <div class="on-this-page">
<p>Docklands Light Railway (DLR) services from Woolwich Arsenal into Bank Station will terminate at Shadwell station between 7:30 and 9:30, and 17:00 and 19:00 from Monday 6 April untill Thursday 9 April. </p> <p>Other DLR services will continue to Bank as usual.</p> <p>This change is due to escalator works by London Underground at Bank which will require one of the escalators connecting the DLR platforms with the rest of the station to be shut down. </p> <p>The number of DLR trains arriving at the station is therefore being reduced to minimise the risk of overcrowding on the platforms. </p> <h2>Alternative routes</h2> <p>The work will take nine days to complete but by doing it over the Easter break, the inconvenience of the service reduction will be limited to just four normal working days before Easter.</p> <p>The escalator work is due to be completed by Tuesday 14 April, when full DLR services will be restored to Bank. </p> <p>During the work, services from Lewisham to Bank will operate as normal and passengers should try and use the Jubilee line at Canning Town or Canary Wharf stations for journeys into central London.</p> <p>A Transport for London (TfL) spokesperson said: 'We're reducing the number of DLR services into Bank while we carry out these essential escalator repairs. </p> <p>'We apologise for any inconvenience.'</p> <p> <hr> <strong>Notes to editors:  <p> <ul> <li></li></ul></strong>The escalator will undergo routine maintenance work which was due to be carried out at a much later date. However, it was considered that there would be less disruption to passengers if the work was brought forward and done during other Bank station works  <li>For further information call DLR Customer Services on 020 7363 9700 or visit <a class="external-site" title=" (Opens in new window)" href="http://www.dlr.co.uk/improvements" jquery1238747754963="6">www.dlr.co.uk/improvements</a>. For alternative routes call 020 7222 1234 or use Journey Planner at tfl.gov.uk/journeyplanner<br></li> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Docklands Light Railway (DLR) services from Woolwich Arsenal into Bank Station will terminate at Shadwell station between 7:30 and 9:30, and 17:00 and 19:00 from Monday 6 April untill Thursday 9 April.Other DLR services will continue to Bank as usual.";}
        
        


 