


@{ViewBag.Title = "Stay on the move on Marathon Sunday with Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Stay on the move on Marathon Sunday with Transport for London</h1>
        <div class="content-page-press-release">
        17 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Spectators are encouraged to use Transport for London's (TfL's) range of Travel Tools to plan their journeys and get real time travel information on the move by visiting tfl.gov.uk.
        
    </div>



 <div class="on-this-page">
<p>With hundreds of thousands of supporters set to line the streets of London on Sunday 26 April, TfL will be keeping the Capital running during the Flora London Marathon.</p> <p>With more than 20 London Underground (LU)&nbsp;and Docklands Light Railway (DLR) stations located along the route, spectators can be sure they'll be able to get close to the action and see world-class athletes, celebrities and their friends and colleagues raise thousands of pounds for charities. </p> <h2>Marathon Sunday</h2> <p>Free travel will be provided to all runners and officials on the Tube and DLR on race day until&nbsp;17:00 by showing an official Marathon tabard or race number. </p> <p>Some road diversions and closures will need to be put in place for short periods while the race passes through.</p> <p>A leaflet highlighting how to get to various stages to the course by public transport has been produced by TfL and is available online at <a href="http://www.tfl.gov.uk/marathon">tfl.gov.uk/marathon</a> or from all LU stations. </p> <p>Spectators can also get up-to-the-minute travel information by contacting TfL travel information on 020 7222 1234.</p> <h2>Road closures</h2> <p>The route and approach roads south of the Thames between Blackheath and Deptford will close, together with Victoria Embankment between Bridge Street and Northumberland Avenue, Westminster Bridge (both directions) and Bridge Street from 07:00. </p> <p>Remaining roads from Deptford and north of the Thames including approach roads will close from 08:00.</p> <p>A staged road re-opening programme will be in force throughout the day starting at approximately 11:00. </p> <p>It is scheduled that roads will be fully re-opened by 19:00.</p> <p>Due to restoration work on the Cutty Sark, access to the area will be severely limited. </p> <p>Greenwich Foot Tunnel will also be closed southbound from Isle of Dogs to Greenwich from 10:00 until midday on the Sunday. </p> <h2>London Buses</h2> <p>Buses travelling down roads affected by the London Marathon will be diverted or not run the full length of their route until later in the day. </p> <p>Routes affected by the London Marathon are: 1, 3, 11, 12, 15, 15H, 24, 25, 29, 42, 47, 51, 53, 54, 78, 87, 88, 89, 91, 96, 99, 100, 108, 115, 122, 129, 132, 148, 159, 161, 177, 178, 180, 188, 199, 202, 211, 225, 244, 277, 286, 291, 341, 343, 344, 380, 381, 386, 388, 422, 453, 469, 472, 486, C10, D3, D6, D7, D8, P12, RV1 plus East London line replacement bus services.</p> <p>Route diversions south of the river are expected to be finished by 13:00.</p> <p>Route diversions north of the river are expected to finish by 19:00.</p> <h2>London Underground</h2> <p>On Marathon Sunday, some track improvement work is planned on LU, which may affect your journey. </p> <p>The District line will be part suspended between Upminster and Barking due to engineering works. </p> <p>A replacement bus service will be in operation along the route. </p> <p>On the Circle and District lines, Blackfriars station will be closed for station rebuilding works. </p> <p>Customers are advised to use Mansion House or Temple stations and complete their journey above ground. </p> <p>Cannon Street will also be closed on Sunday as usual.</p> <p>The Hammersmith &amp; City line will be suspended between Plaistow and Barking. </p> <p>Customers are advised to change onto the District line to complete their journey.</p> <p>On the Northern line, Goodge Street station will be closed for station improvement works. </p> <p>Customers are advised to use local buses or walk to an alternative station to complete their route.</p> <p>The Piccadilly line will be suspended between Uxbridge and South Harrow and the Metropolitan line will be suspended between Uxbridge and Harrow-on-the-Hill. </p> <p>A replacement bus service will call at all affected stations.</p> <p>There is also no direct interchange from Monument to Bank station until August 2009. </p> <p>Monument and Bank stations will effectively operate as two separate stations. </p> <p>This is due to major escalator works. </p> <p>Passengers are advised to use alternate interchange stations or interchange at surface level.</p> <h2>London Overground</h2> <p>On London Overground, there will be no services from Richmond to Stratford, Gospel Oak to Barking and Shepherd's Bush to Willesden Junction due to major upgrade work over the weekend. </p> <p>A replacement bus service will operate from Gospel Oak to Barking and from Gunnersbury to Stratford. </p> <p>London Overground train services between Clapham Junction and Shepherd's Bush will run once an hour. </p> <p>London Overground tickets will be accepted on Southern train services between Clapham Junction and Shepherd's Bush, and on bus routes 220 and 228 between Shepherd's Bush and Willesden Junction. </p> <h2>Docklands Light Railway</h2> <p>A modified timetable will operate throughout the weekend with services on Sunday beginning at 05:30 from Tower Gateway and Lewisham. </p> <p>Services during the London Marathon will operate as frequently as every 2.5 minutes on the busiest sections of the route. </p> <p>From 16:00, a normal Sunday service will operate until close of service at around 23:30.</p> <h2>London River Services</h2> <p>To see more of the race, board a river bus at Greenwich to Canary Wharf, Tower Millennium, London Bridge or Embankment Piers. </p> <p>Timetables are available at LU stations, TfL piers or online at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a></p> <h2>Cycling and Walking</h2> <p>If the weather is nice on Marathon Sunday, why not walk or cycle to the race? </p> <p>Cycling and walking are great ways to get around London and let you fit exercise into your daily routine. </p> <p>Plan your journey to the marathon by bike or&nbsp;on foot by visiting <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a></p> <p><strong> <hr> Notes to editors:</strong> <p> <ul> <li>Stations located close to the London Marathon route include:<br>-&nbsp;Cutty Sark DLR (start line and mile 6 and 7)<br>-&nbsp;Woolwich Arsenal DLR (mile three)<br>-&nbsp;Canada Water (mile nine)<br>-&nbsp;Shadwell DLR (mile 13 and 22)<br>-&nbsp;Crossharbour DLR (mile 18)<br>-&nbsp;Monument (mile 23)<br>-&nbsp;Embankment (mile 25)<br>-&nbsp;Green Park / St James's Park (finish line)</li></ul> <ul> <li>24-hour travel information on public transport in London is available by calling 020 7222 1234 or by visiting <a href="http://www.tfl.gov.uk/realtime">tfl.gov.uk/realtime</a>  </li><li>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the safest way home <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a>&nbsp;  </li><li>For free mobile and email alerts to keep them up to date on all TfL services they can sign up at <a href="http://www.tfl.gov.uk/mobile">tfl.gov.uk/mobile</a>  </li><li>The course of the London Marathon is 26.2 miles long, virtually the same as running the entire length of the Victoria line (13.25 miles) twice, or running just under two laps of the Circle line (14 miles)  </li><li>In 2008, around 34,500 runners completed the London Marathon, the equivalent to the passenger capacity of 384 double-decker buses<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With hundreds of thousands of supporters set to line the streets of London on Sunday 26 April, TfL will be keeping the Capital running during the Flora London Marathon. With more than 20 London Underground (LU)&nbsp;and Docklands Light Railway (DLR)";}
        
        


 