


@{ViewBag.Title = "TfL seeks sponsor for London Cycle Hire scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL seeks sponsor for London Cycle Hire scheme</h1>
        <div class="content-page-press-release">
        29 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As the Capital gears up for the launch of its hotly anticipated Cycle Hire scheme, the search has begun for a suitable sponsor.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our selected sponsor will have a unique opportunity to promote their brand to a massive public audience"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Commissioner of Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our selected sponsor will have a unique opportunity to promote their brand to a massive public audience
                            
                        </p>
                    </div>
                
            
            
            <p>From May 2010, people will be able to pick up and drop off hire bikes at 400 locations across the nine London boroughs and several Royal Parks that make up London's Zone 1 travel area.</p> <p>An initial 6,000 hire bikes are expected to support around 40,000 extra daily cycle trips in central London.</p> <h2>Sponsorship opportunities</h2> <p>TfL is seeking a single company to act as a sponsor for up to the first five years of the Cycle Hire scheme, and sponsorship opportunities for the successful bidding company include:</p> <ul> <li>The chance to put their name to the London Cycle Hire scheme  </li><li>Branding opportunities on the cycle scheme's bicycles, maintenance support vehicles and uniforms of maintenance staff  </li><li>Joint PR opportunities and media partnerships  </li><li>Co-branding on TfL marketing initiatives for the Cycle Hire scheme  </li><li>The benefits of being associated with one of the largest sustainable public transport systems in the UK</li></ul> <p>The Mayor of London, Boris Johnson said: 'The public response to our cycle hire plans has been fantastic, and I'm sure that this excitement will be replicated amongst potential sponsors.</p> <p>'I know people will be attracted to the scheme, but such is the widespread enthusiasm that I am certain that the selected company will also feel a huge benefit to being part of it. </p> <h2>London's next transport icon</h2> <p>'This - London's next transport icon - will be the cleanest, greenest, and healthiest way of getting about the city.'</p> <p>Peter Hendy, London's Commissioner of Transport, said: <br>'From its launch in May 2010, the London Cycle Hire scheme will operate 24 hours a day, seven days a week, 365 days a year, throughout central London. </p> <p>'This means our selected sponsor will have a unique opportunity to promote their brand to a massive public audience, while being closely associated with the greenest, most sustainable form of public transport London has ever had.'</p> <p>Companies interested in becoming the sponsor should respond by logging on to <a class="external-site" title=" (Opens in new window)" href="https://tfl.bravosolution.co.uk" jquery1240995324714="6">https://tfl.bravosolution.co.uk</a> and select Tender Opportunities. </p> <p>Select the opportunity from within the Current Opportunities list and follow the online instructions. The closing date for initial bids is noon on 5 June 2009.</p> <p> <hr>  <p> <p><strong>Notes to editor</strong></p> <ul> <li>The cycle hire scheme will be based in the London boroughs of Camden, City of London, City of Westminster, Hackney, Lambeth, Islington, the Royal Borough of Kensington and Chelsea, Southwark and Tower Hamlets, across a 44km&sup2; area roughly equivalent to Fare Zone 1. In addition, people will be able to rent bicycles from several Royal Parks within the area  </li><li>Copies of the feasibility study for introducing a cycle hire scheme in London, conducted by Transport for London and the Clearzone Partnership, along with a map of the proposed cycle hire scheme area, are available upon request from the TfL press office  </li><li>London has already seen a dramatic rise in cycling, with a 91 per cent increase on cycle journeys on London's major roads since 2000. It is estimated that there are now approximately 500,000 cycle journeys a day across London  </li><li>For more information on the Cycle Hire scheme, please visit <a href="http://www.tfl.gov.uk/cyclehire">www.tfl.gov.uk/cyclehire</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From May 2010, people will be able to pick up and drop off hire bikes at 400 locations across the nine London boroughs and several Royal Parks that make up London's Zone 1 travel area. An initial 6,000 hire bikes are expected to support around 40,000";}
        
        


 