


@{ViewBag.Title = "TfL planning ahead for London Cycle Hire scheme ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL planning ahead for London Cycle Hire scheme </h1>
        <div class="content-page-press-release">
        27 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London's Cycle Hire scheme on track for May 2010 launch, as Transport for London (TfL) gets planning application process underway.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Much like hailing a cab, people will be able to pick up one of 6,000 bikes, and zip around town to their hearts content"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Much like hailing a cab, people will be able to pick up one of 6,000 bikes, and zip around town to their hearts content
                            
                        </p>
                    </div>
                
            
            
            <p>Plans for the Mayor of London's Cycle Hire scheme moved a step closer today (27 April), as TfL began submitting planning applications for around 400 cycle docking stations - the locations where people will be able to pick up and drop off hire bikes in central London.</p>
<p>TfL has been working with its borough partners and The Royal Parks to identify the most suitable locations for the network of cycle hire docking stations, which will be based in London's zone one travel area.&nbsp;</p>
<p>The 400 cycle stations will be situated approximately every 300 metres (although less frequently within The Royal Parks), so people who want to use or lock up a bicycle should never be more than a couple of minutes walk away from a docking station. </p>
<h2>Growing excitement</h2>
<p>The first four planning applications are being submitted to Camden Council, and the remaining applications will be submitted throughout the spring and summer.</p>
<p>The Mayor of London, Boris Johnson, said: 'I pledged to deliver a cycling revolution across the city, and there is now a growing excitement about our cycle hire scheme, which will give all Londoners the opportunity to hop on a bike and experience the joys of cycling.&nbsp; </p>
<p>'Much like hailing a cab, people will be able to pick up one of 6,000 bikes, and zip around town to their hearts content - not only a quick, easy, and healthy option, but one that will also make London a more liveable city.'</p>
<p>David Brown, Managing Director of Surface Transport, TfL, said: 'The Cycle Hire scheme will be the most sustainable, environmentally friendly form of public transport ever seen in London, and will provide people with an inexpensive and convenient way of making short trips around London. </p>
<h2>Inexpensive and convenient</h2>
<p>'Available 24 hours a day, 365 days a year, the London Cycle Hire scheme will help to alleviate congestion hotspots on the Tubes and buses in central London, as well as build on the massive growth London has already seen in cycle journeys in recent years. </p>
<p>'It forms a key part of the record &pound;111m the Mayor and TfL are investing in cycling this year, helping to revolutionise conditions for people who want to cycle in the Capital.'</p>
<p>TfL is funding cycle training across London's boroughs and will also carry out audits at each docking station to ensure safety for users. </p>
<p>There will be on-going marketing and press road safety campaigns, and cycle safety information will be available on both the website and at the docking station terminals. </p>
<p>When it launches in May 2010, the London Cycle Hire scheme is expected to generate an additional 40,000 cycle journeys every day in central London.</p>
<p>
<hr>
<br><strong>Notes to editor </strong>
<p>
<ul>
<li>A CGI indicative image of the Cycle Hire docking stations and terminals, along with maps indicating the location of&nbsp; the proposed docking station sites (which are subject to planning consent being granted), are available on request from the TfL press office </li>
<li>The cycle hire scheme will be based in the London boroughs of Camden, Hackney, Lambeth, Islington, Royal Borough of Kensington and Chelsea, Southwark, Tower Hamlets and City of Westminster, as well as the City of London (in the parts of the boroughs that are located in the zone one travel zone). In addition, people will be able to rent bicycles from several Royal Parks in central London </li>
<li>From May 2010, people will be able to pick up and drop off hire bikes at around 400 locations across the nine London boroughs and several Royal Parks that make up London's zone one travel area. An initial 6,000 hire bikes are expected to generate around 40,000 extra daily cycle trips in central London </li>
<li>The Mayor and TfL are investing a record &pound;111.3m in cycling in London this year. The money is being spent on introducing the cycle hire scheme, improving parking and road conditions for cyclists, education, training and promotion </li>
<li>The name of the company that will build and operate the London Cycle Hire scheme will be announced in June 2009 </li>
<li>TfL is funding &pound;3m in cycle training for Londoners of all ages, through London's borough councils. The TfL funded training sessions are individually tailored to each person's needs and will teach them to deal with a wide range of traffic conditions. Read more about <a>cycle training provision </a></li>
<li>The number of cyclists killed or seriously injured on London's roads has fallen by 19 per cent compared with the Government baselines figures from the mid to late 1990s</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Plans for the Mayor of London's Cycle Hire scheme moved a step closer today (27 April), as TfL began submitting planning applications for around 400 cycle docking stations - the locations where people will be able to pick up and drop off hire bikes in";}
        
        


 