


@{ViewBag.Title = "TfL appoints interim Managing Director of London Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints interim Managing Director of London Underground</h1>
        <div class="content-page-press-release">
        27 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Current Director of Strategy and Service Development, Richard Parry, to fulfil the role following Tim O'Toole's departure.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Richard Parry brings a wealth of experience to the role having served the Underground for 17 years"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Richard Parry brings a wealth of experience to the role having served the Underground for 17 years
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London today announced that Richard Parry, London Underground's (LU's) Director of Strategy and Service Development, will take up the role of interim Managing Director of LU from 1 May.</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Richard Parry brings a wealth of experience to the role having served the Underground for 17 years.</p>
<p>'I'm sure he will do an excellent job and build on the improvements to the Tube delivered by Tim O'Toole and the LU team in recent years. </p>
<h2>Great choice</h2>
<p>'Richard will ensure that LU continues to focus cost effectively on the twin objectives of improving the service for our customers and successfully delivering the billions being invested to upgrade the Tube.' </p>
<p>Tim O'Toole, outgoing Managing Director of LU, said: 'Richard is a great choice for the role and I am sure I leave the Tube in very capable hands. </p>
<p>'LU's customers and employees can look forward to the continuing transformation of the Tube with the delivery of major projects between now and the London 2012 Games.'</p>
<p>Richard Parry, 42, joined London Underground in 1992 and has since worked in a number of roles in business planning and marketing functions. </p>
<h2>Improvement programmes</h2>
<p>In 2004 he was appointed as Director of Strategy and Service Development, which includes responsibility for the development of both LU's service and major improvement programmes. </p>
<p>He will take up the role of Interim Managing Director of LU on 1 May.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London today announced that Richard Parry, London Underground's (LU's) Director of Strategy and Service Development, will take up the role of interim Managing Director of LU from 1 May.London's Transport Commissioner, Peter Hendy, said:";}
        
        


 