


@{ViewBag.Title = "Transport for London awards contract for third phase of improving Brixton town centre ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London awards contract for third phase of improving Brixton town centre </h1>
        <div class="content-page-press-release">
        24 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Phase Three of works will complete Brixton transformation.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has awarded the contract for the third phase of the Brixton Town Centre improvement scheme to London-based construction company FM Conway Limited. </p>
<p>This final phase, delivered and supported by TfL, Lambeth Council, the London Development Agency and Design for London, will see the completion of the transformation of&nbsp;Brixton town centre into an area that can be better enjoyed by locals, commuters and visitors.</p>
<p>There will be a new central square combining Windrush Square and Tate Gardens. </p>
<h2>Two-way traffic</h2>
<p>Lambeth Council is currently working with interested local people to decide on a name for this public space. </p>
<p>The road layout will change so that it is more like a town high street, with the removal of the gyratory system around St Matthews Church and Brixton Hill will be widened to accommodate two-way traffic.</p>
<p>The first two phases of the Brixton Town Centre improved the environment for pedestrians and provided better bus accessibility along Brixton Road, Stockwell Road and Stockwell Park Road.</p>
<p>Work on Phase Three is scheduled to begin in May.&nbsp; The scheme is fully supported by Lambeth Council.&nbsp; Traffic disruption during construction will be kept to a minimum.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editor:</strong></p>
<ul>
<li><a href="http://www.fmconway.co.uk/">FM Conway Limited</a>&nbsp;is a multi-disciplined construction contractor in the field of civil engineering, surfacing and highway maintenance </li>
<li>Consultation on the Brixton Town Centre scheme was carried out in 2005 </li>
<li>Phase two of the Brixton Town Centre scheme will be complete in May 2009. FM Conway was also responsible for construction of Phase two of the scheme </li>
<li>The Brixton Town Centre project is a part of TfL's &pound;10bn Investment Programme, funding work to improve London's transport system and enhance the urban environment </li>
<li>Motorists and other road users are advised that BT and Southern Gas Network will begin utility works at the junction of Brixton Road and Coldharbour Lane on 5 May, lasting five weeks. TfL has worked with the utilities to schedule these works so as not to conflict with Phase three of the Brixton Town Centre scheme. Motorists are advised to consider alternative routes for the duration of these works </li>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only five per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has awarded the contract for the third phase of the Brixton Town Centre improvement scheme to London-based construction company FM Conway Limited. This final phase, delivered and supported by TfL, Lambeth Council, the London";}
        
        


 