


@{ViewBag.Title = "Wanstead station to close for modernisation works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wanstead station to close for modernisation works</h1>
        <div class="content-page-press-release">
        06 April 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's (LU) Wanstead station will close for&nbsp;10 weeks, between June and August, while major structural work is carried out.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Customers will get a completely modernised station"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Tollington</div>
            <div class="quotee-job-title">Central line General Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Customers will get a completely modernised station
                            
                        </p>
                    </div>
                
            
            
            <p>Wanstead station, which is on the Central line, is being modernised as part of the LU Investment Programme. </p>
<h2>Improved security</h2>
<p>When complete customers will benefit from improved security and customer service information including a new state-of-the-art station control room, upgrading the existing CCTV system, improved PA system, Help points and electronic information boards.</p>
<p>However major structural works, including the demolition of a large concrete slab which overhangs the top of the station escalators, need to be undertaken.&nbsp; </p>
<h2>Modernised station </h2>
<p>Peter Tollington, Central line General Manager, said: 'When all station works are complete, customers will get a completely modernised station with improved security and communication facilities.</p>
<p>'However to complete these works we need to demolish the ceiling which is above the station escalators and carry out structural alterations in the ticket hall area to create the new station control point. </p>
<p>'So as not to compromise the safety of our customers and staff we need to close the station while these works take place.'</p>
<h2>Alternative routes</h2>
<p>Customers are advised to use nearby Leytonstone, Snaresbrook and Redbridge stations which are approximately a 10-15 minute walk away.&nbsp; </p>
<p>Regular bus services serve Wanstead station, with the 66 and 145 bus routes following the Central line between Redbridge and Leytonstone stations. </p>
<p>LU tickets will be accepted on all local bus routes. </p>
<p><a class="new-window filetype-pdf" title=" (Opens in new window)" href="/assets/downloads/wanstead-closed-june-aug-189.pdf" fn="wanstead-closed-june-aug-189.pdf" jquery1245322025592="6" lpos="" lid="Check alternative routes (PDF 152 KB)">Check alternative routes (PDF 152KB)</a></p>
<p>Wanstead station will be closed from Monday 22 June 2009 until the end of August 2009. </p>
<p>It will then close early every evening from 21:00 until mid-October 2009 to facilitate the continuation of works. </p>
<p>The station modernisation is scheduled to be complete in November 2009.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wanstead station, which is on the Central line, is being modernised as part of the LU Investment Programme. Improved securityWhen complete customers will benefit from improved security and customer service information including a new state-of-the-art";}
        
        


 