


@{ViewBag.Title = "Bakerloo line extension to support new housing and jobs ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bakerloo line extension to support new housing and jobs </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bakerloo line extension to support new housing and jobs </h1>
        <div class="content-page-press-release">
        09 February 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The extension of the Bakerloo line moved closer today with the opening of a new Transport for London (TfL) consultation that sets out detailed proposals for station locations along the proposed route beyond Elephant &amp; Castle.</p>
<p>The Bakerloo line extension, to Lewisham via Old Kent Road and New Cross Gate, is vital to meeting the needs of the Capital's growing population, which is expected to increase from 8.7 million today to reach over 10 million by 2030.  It would support growth in south east London through new housing, improved connectivity, increased transport network capacity and reduced journey times to key destinations including the West End and Lewisham town centre.</p>
<p>Working in collaboration with the local boroughs, Lewisham and Southwark, at least 25,000 new homes and 5,000 new jobs could be supported as a result of the Bakerloo line extension.  Other benefits of the extension will include:</p>
<ul>
    <li>Extra capacity on London Underground for 65,000 journeys in the morning and evening peak, helping relieve congestion on local bus services and National Rail services</li>
    <li>Relief of congestion on roads, reducing CO2 emissions and air pollution</li>
    <li>An Underground train every two to three minutes between Lewisham and central London, with reduced journey times</li>
</ul>
<p>Four new stations are being proposed along the route to boost connectivity and support regeneration.  This includes two stations along Old Kent Road, one at New Cross Gate providing an interchange with London Overground and National Rail services, and one at Lewisham, providing an interchange with the DLR and National Rail services. Details for proposed locations of the ventilation shafts needed to support this extension also form part of this consultation.</p>
<p>The proposals also set out the need to undertake further capacity upgrade works to the Bakerloo line station at Elephant &amp; Castle.</p>
<p>As announced in the TfL Business Plan, the updated plans bring the completion date of the extension forward by two years to 2028/29, to align with the timetable for the upgrade of the Bakerloo line.</p>
<p>The Mayor and TfL remain committed to delivering a second phase of the extension beyond Lewisham, and work is continuing to build a case for a second phase.</p>
<p>Sadiq Khan, Mayor of London, said:<br />
`I'm delighted that we're pushing ahead with the Bakerloo line extension two years earlier than originally planned. It will provide substantial benefits for thousands of Londoners, providing a new direct route for commuters into the heart of central London and joining up key transport links across south London.</p>
<p>`The extension also has huge potential for new jobs and 25,000 new homes in the area, helping fulfil our ambition to tackle London's housing crisis and provide a substantial boost to the local economy.'</p>
<p>Sir Steve Bullock, Mayor of Lewisham, said: `A Bakerloo line extension to Lewisham would make it easier for our residents to travel around London and it would bring in much needed investment. Lewisham is growing fast and a Bakerloo line extension to this part of south London will help to support that growth in Lewisham and beyond.'</p>
<p>Cllr Mark Williams, cabinet member for regeneration and new homes at Southwark, said: `We have big ambitions for the Old Kent Road regeneration, which will pull central London further south and help transform the length of this historic thoroughfare into a dynamic new high street bustling with new homes, including at least 35 per cent affordable homes, new shops and cafes, workspaces, parks and open spaces and safer networks for cyclists and pedestrians.</p>
<p>`A key part of this is the Bakerloo line extension, making this part of London more open and accessible and encouraging investment.</p>
<p>&quot;This is a very exciting opportunity and we are encouraging local people in particular to get involved in the conversations now to help shape the future of one of London's most famous roads.'</p>
<p>Alex Williams, TfL's Acting Managing Director of Planning, said:<br />
`London continues to grow and we need to ensure transport has the capacity to accommodate this growth. The Bakerloo line extension plays an important part in these plans, improving connectivity for an area under-served by public transport where there is potential to support 25,000 new homes and 5,000 new jobs.'</p>
<p>The preferred route was chosen as it provides the greatest regeneration opportunities, and the best case for maximising new homes and jobs. Other options were considered for the extension, many of which were suggested as part of the previous public consultation.</p>
<p>TfL is planning to progress work towards an application for planning powers by 2020, with further public consultation expected in the future as more details about the proposals are developed.</p>
<p>The public consultation will run until 21st April and further information about the consultation and the questionnaire can be found at <a href="http://www.tfl.gov.uk/bakerloo-extension">www.tfl.gov.uk/bakerloo-extension</a> .</p>
<p>ENDS</p>
<p>Notes to editors</p>
<ul>
    <li>The consultation from 2014 saw over 95 per cent of the 15,000 respondents supporting the principle of an extension to the Bakerloo line.</li>
    <li>An image of the proposed route is available here - <a href="https://www.flickr.com/photos/tflpress/albums/72157647760499349">https://www.flickr.com/photos/tflpress/albums/72157647760499349</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-February-Bakerloo line extension to support new housing and jobs  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 