


@{ViewBag.Title = "GLA - Mayor announces two new electric-only bus routes";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor announces two new electric-only bus routes</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor announces two new electric-only bus routes</h1>
        <div class="content-page-press-release">
        15 February 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Sadiq Khan, today announced two more bus routes will run exclusively electric buses, as part of his ambitious plans to cut London's toxic air pollution.
        
    </div>



 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-announces-two-new-electric-bus-routes">here</a></strong></em></span></p>
<p>London already boasts the largest electric bus fleet in Europe and the addition next spring of 36 buses on routes C1 and 70 &#45; which run between White City and Victoria and between South Kensington and Acton respectively &#45; will take the total number of electric buses to 121 on top of the 2,000 hybrid electric buses.</p>
<p>The new buses are part of the Mayor's hard-hitting package of proposed transport measures to cut toxic air pollution, including introducing a &pound;10 'T-charge' for the most polluting vehicles and expanding the Ultra Low Emission Zone (ULEZ), as well as bringing forward the ULEZ start date.</p>
<p>It is estimated that long-term exposure to air pollution is responsible for the premature deaths of more than 9,000 Londoners every year. Electric buses produce no exhaust pipe emissions and are a more comfortable ride for passengers due to less noise and fewer vibrations.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'More than half of London's toxic air pollution is caused by road transport, and our oldest buses are one of the biggest contributors to harmful NOx emissions in central London.</p>
<p>'These new electric buses will eradicate harmful emissions and will have a significant impact on the quality of our air. And this is only the beginning &#45; by 2018 we will stop buying diesel-only double-deck buses completely.</p>
<p>'I want London to become a world leader in hydrogen and electric bus technology and I hope other cities around the world will join me in sending the message that only the cleanest technologies are welcome where we live and work.'</p>
<p>TfL's Managing Director of Surface Transport, Leon Daniels, said: </p>
<p>'We're delighted to be working with RATP to deliver greener buses for this city. They will help improve air quality and offer a better journey experience for customers. This is a momentous time as we help deliver the Mayor's vision for cleaner, safer transport network.'</p>
<p>In 2016, the 507 and 521 became central London's first fully-electric routes, part of the Mayor's commitment to have 300 zero-emission single-deck buses serving the centre of London by 2020.</p>
<p>As part of his package of measures, the Mayor is ensuring TfL leads by example with a comprehensive plan to transform the capital's bus fleet, including:</p>
<ul>
    <li>making sure all double-decker buses operating in the central Ultra Low Emission Zone comply a year earlier by 2019, meaning each of the 3,100 double-deck buses operating in the zone will be Euro VI hybrid;</li>
    <li>expanding the ULEZ retrofit programme to up to 3,000 buses outside the central zone by 2020 (up from 800) and to 4,200 by 2021 (more than 5,000 in total);</li>
    <li>procuring only hybrid or zero-emission double-decker buses from 2018;</li>
    <li>create 12 Low Emission Bus Zones, operational by 2020, that will see NOx emissions along particular routes fall by more than 80 per cent;</li>
    <li>more than 3,100 double-deck buses operating in London to be hybrids by 2019.</li>
</ul>
<p>At an international summit last November, the Mayor called on other cities around the world to follow London's lead and work together to challenge bus manufacturers to produce more zero-emission buses and make cleaner bus technology cheaper.</p>
<p>Chief Executive of RATP group, Elisabeth Borne, said: </p>
<p>'RATP group is the European leader in the transition to ultra-low emission buses. The ongoing rollout of low-emission buses in both London and Paris is a testament to our commitment to the decarbonisation agenda. I am proud of our partnership with Transport for London as we seek to develop innovative and environmentally sustainable mobility for Londoners. We look forward to working together for many years to come.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Routes C1 and 70 will become the fifth and sixth in the capital, following the conversion of routes 312, 507, 521 and route 360 (which will convert before the end of the year).</li>
    <li>London currently has more than 2,000 hybrid electric buses, representing around 20 per cent of the fleet.</li>
    <li>In addition, there are eight zero emission hydrogen buses operating on route RV1 (Covent Garden to Tower Gateway) and TfL is trialling inductive charging technology which enables diesel-electric hybrid buses to charge their batteries wirelessly while they wait at bus terminals.</li>
    <li>TfL has also accelerated the introduction of ultra-low emission Euro VI buses with more than 1,500 in service.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-February-GLA - Mayor announces two new electric-only bus routes -->

 
 
        
        
            @{ViewBag.Description = "Mayor announces two new electric-only bus routes to cut toxic transport emissions";}
        
        


 