


@{ViewBag.Title = "GLA - &pound;10 'Toxicity Charge' to start October 23 ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - £10 ‘Toxicity Charge’ to start October 23 </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - £10 ‘Toxicity Charge’ to start October 23 </h1>
        <div class="content-page-press-release">
        17 February 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Landmark &pound;10 T-Charge for most polluting cars to be introduced in central London from Autumn Half-Term 2017
        
    </div>



 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-introduces-10-toxicity-charge">here</a></strong></em></span></p>
<ul>
    <li>Vast majority of pre-2006 vehicles will get additional charge &#45; the toughest emission standard of any world city</li>
    <li>Mayor's new online car compliance checker will help motorists see if they will have to pay  (<a href="http://www.tfl.gov.uk/emissions-surcharge">www.tfl.gov.uk/emissions-surcharge</a>)</li>
    <li>T-Charge is part of a wide-ranging package of measures to clean up London's filthy air</li>
</ul>
<p>Sadiq Khan today confirmed that his &pound;10 toxic 'T-Charge', the toughest emission standard of any world city will start in central London on October 23 this year, at the start of the autumn half-term.</p>
<p>And to help motorists, the Mayor today launched a free online vehicle checker on the Transport for London website so that drivers can check whether their vehicle will be affected by the T-Charge.</p>
<p>Up to 10,000 of the oldest, most polluting vehicles are expected every weekday to be potentially liable for the new emissions levy, which will apply to motorists who own vehicles that do not meet Euro 4 standards &#45; typically those diesel and petrol vehicles registered before 2006 .</p>
<p>The T-charge (also known as the Emissions Surcharge) will operate on top of, and during the same operating times, as the Congestion Charge (Monday to Friday 7am-6pm), so it will cost &pound;21.50 to drive a pre-Euro 4 vehicle in the zone.</p>
<p>Air pollution in London is a public health crisis and the Mayor has been forced to take hard-hitting action to tackle it head on. Currently over 9,000 Londoners die prematurely each year as a result of long-term exposure to air pollution &#45; while 438 schools in the capital are in areas exceeding legal air quality levels.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'It's staggering that we live in a city where the air is so toxic that many of our children are growing up with lung problems. If we don't make drastic changes now we won't be protecting the health of our families in the future.</p>
<p> 'That is why today, on the 14th anniversary of the start of the congestion charge, I've confirmed we are pressing ahead with the toughest emission standard of any major city, coming to our streets from October 23rd .</p>
<p>'Londoners overwhelmingly support my plans to introduce this &pound;10 charge because they feel when it comes to battling pollution the time for action is now.</p>
<p>'The T-Charge is a vital step in tackling the dirtiest diesels before I introduce the world's first Ultra Low Emission Zone as early as 2019.</p>
<p>'I will continue to do everything in my power to help protect the health of Londoners and clean our filthy air. But now is the time for Government to show real leadership and join me by introducing a diesel scrappage fund and bring in the new Clean Air Act we desperately need.'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
<p>'London's air quality crisis is one of the biggest challenges we face and we are working alongside the Mayor to address it. The T-Charge is a crucial part of this work and will discourage drivers of the oldest, most polluting vehicles from driving in central London.  To help drivers we have created an online compliance checker, which can be found on the TfL website, that enables people to easily establish whether they will be affected by the charge.'</p>
<p>The T-Charge will use a camera-based mechanism for enforcement, monitoring both diesel and petrol vehicles, and is just one of the wide range of measures the Mayor is introducing to improve air quality.</p>
<p>The Mayor has doubled funding spent on tackling air quality to &pound;875million (over the next five years) and will be consulting on introducing the start of the central London ULEZ from 2020 to 2019, expanding the ULEZ up to the North/South Circular roads and making it London-wide for heavy vehicles as early as 2019.</p>
<p>He is also spending more than &pound;300m transforming London's bus fleet by phasing out pure double-deck diesel buses and has committed to purchase only hybrid or zero-emission double-decker buses from 2018.</p>
<p>Vehicle owners can use a specially created online vehicle compliance checker, on the TfL website &#45; <a href="http://www.tfl.gov.uk/emissions-surcharge">www.tfl.gov.uk/emissions-surcharge</a> - to establish whether their vehicle is affected by the T-Charge and get advice on what action, if any, they need to take.</p>
<p>Steven Medway, Managing Director Trading Environment, New West End Company said: &quot;The Mayor continues to position air quality as central to his agenda for London, and the introduction of the T-charge represents yet another important step towards creating a less-polluted capital.</p>
<p>&quot;We are extremely supportive of any measures that accelerate a shift towards electric vehicles and help price dirty vehicles off our street. We have long championed initiatives such as these, and alongside Cross River Partnership and Arup have launched a business-led air quality strategy for the West End which last year helped reduce the number of waste vehicles on Bond Street by 94%.<br />
&quot;This emissions surcharge is an important step towards the introduction of the Ultra-Low Emission Zone which will help tackle the issue of air quality head on. We look forward to growing our own initiatives whilst continuing to work closely with the Mayor's office to realise his vision for a clean-air capital.&quot;</p>
<p>Chief Executive of Living Streets, Joe Irvin, said: </p>
<p>'Targeting the motor traffic that is the biggest cause of air pollution is the first step in tackling the city's toxic air.</p>
<p>'Encouraging Londoners to take to their feet will not only relieve pressure on our transport system but will ensure people living and working in the city can breathe better air and enjoy better health.'</p>
<p>Chair of London Councils Transport and Environment Committee, Cllr Julian Bell, said: </p>
<p>'London Councils welcomes positive action being taken by the Mayor to address environmental issues and the introduction of this charge will play a key role in cutting the dangerous level of emissions in our city.  We know air quality and pollution has a huge effect on health and quality of life for Londoners and that many residents are concerned about it, and we look forward to continuing to work with the Mayor to take further steps to clean up the capital's air.'</p>
<p>Dr Samantha Walker, Director of Research and Policy at Asthma UK, said: </p>
<p>'Two thirds of people with asthma tell us that air pollution makes their symptoms worse, putting them at an increased risk of a potentially life-threatening asthma attack. It's vital that action is taken to address this, so we welcome the Mayor's plans to improve air quality in London.</p>
<p>'According to the latest figures from the Health Survey for England, toxic air affects nearly 600,000 people with asthma in London. Those affected should make sure they take steps to avoid the most polluted areas where they can, take their daily preventer medicines regularly and carry a blue reliever inhaler at all times.  They should also make sure they get a written asthma action plan from their doctor or nurse so they know what to do in an emergency.'</p>
<p>Areeba Hamid, Greenpeace clean air campaigner, said: </p>
<p>'This charge is an essential first step in reducing harmful air pollution in London. Air pollution can help to cause and worsen life threatening conditions like heart disease and asthma; and ultimately that's shortening people's lives.</p>
<p>'There are areas all over London that regularly experience ultra high levels of air pollution that are toxic to human health, so we cannot delay action to tackle this issue. Any delay is short-sighted, and risks condemning a generation of Londoners to poor health.'</p>
<p>Dr Penny Woods, Chief Executive of the British Lung Foundation, said: </p>
<p>'This T-charge is an important step from the Mayor of London to deter our most polluting and harmful vehicles from entering Central London.  Places like Oxford Street regularly break pollution World Health Organisation and EU limits on air that is safe for us to breathe. We've heard from people living with lung disease that the pollution levels are so high parts of the city have become a no-go zone.</p>
<p>'We look forward to seeing the Mayor go further and launch the Ultra-Low Emission Zone. However, if we are ever going to properly tackle air pollution the Government must commit to a fair and ambitious new Clean Air Act.'</p>
<p>Sophie Neuburg, Friends of the Earth London campaigner said: </p>
<p>'We know that road traffic is the biggest problem for air pollution, and diesels are the worst of all. The new T-charge is an important first step in reducing the toxic diesel fumes that are choking our city and harming the health of Londoners every day.'</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>To view the new compliance vehicle checker visit <a href="http://www.tfl.gov.uk/emissions-surcharge">www.tfl.gov.uk/emissions-surcharge</a></li>
    <li>The T-charge is the toughest enforced emission standard of any world city that will run continuously during congestion charging hours until the Ultra Low Emission Zone is delivered</li>
    <li>The Mayor wants to work with the government to help tackle dangerous air pollution once and for all. Government actions should include:</li>
</ul>
<ul>
    <li><span style="text-decoration: underline;">Setting up a diesel scrappage fund:</span>  The Mayor has called on government to implement his new proposals for a national 'dirty' diesel scrappage fund that financially compensates motorists and enables government to get a grip on killer toxic air. Proposals include &pound;3,500 for up to 70,000 polluting London van and minibus drivers to buy cleaner vehicles; &pound;2,000 credit scheme to help low-income London families scrap up to 130,000 cars and &pound;1,000 to help scrap London's oldest taxis - with additional support by the Mayor. The package of proposed measures could be delivered by government over a two-year period, and would help fulfil the UK's legal obligation to comply with European pollution limits, incentivise 'dirty' diesel drivers to switch to cleaner vehicles, and protect the health of people in the capital and across the country.</li>
    <li><span style="text-decoration: underline;">Producing a 21st century Clean Air Act:</span> New legislation would provide the overarching framework for action, dragging the law up to date to cope with the massive air quality challenges we face today. This would provide a legally enforceable right to clean air &#45; standards currently enforced by the European Union and the Government should introduce new powers to better regulate all sources of emissions, not just road transport, and give powers to local authorities.</li>
    <li><span style="text-decoration: underline;">Vehicle Excise Duty (VED) and other fiscal reforms:</span> It is essential that national policy is pulling people in the right direction. Unfortunately VED continues to make the purchase of diesel cars more attractive.</li>
    <li><span style="text-decoration: underline;">Devolving additional powers:</span> London needs additional powers to manage toxic emissions such as pollution from construction sites and river traffic. For example additional powers to implement construction and river low emission zones similar to those used for road vehicles</li>
    <li><span style="text-decoration: underline;">Greater funding for City Hall and boroughs:</span> Government should recognise that London's air quality challenges are linked to a national problem and provide additional support. This should include a share of Londoners' VED revenues to fund improvements of nationally strategic roads within the capital to free up TfL resources to spend on further air quality measures. Additional funding for local authorities should also be made available. The current &pound;3 million which comes from Defra's air quality grants programme is supposed to support measures across the UK and is woefully insufficient given the scale of the challenge.</li>
</ul>
<ul>
    <li>There were 37 stakeholders and organisations that supported the overall principle of the T-charge, listed below:</li>
    <li>Merton Conservatives Council Group, The Clapham Society, London Forum of Amenity and Civic Societies, Cross River Partnership,  Ealing Community Transport Charity, London Sustainability Exchange, Environmental Protection UK, RB Greenwich, Leonie Cooper AM, Seb Dance MEP, London Borough of Lewisham, Freight Transport Association, London Borough of Croydon, LB Havering, London Borough of Hounslow, London Borough of Redbridge, London Borough of Southwark, London Borough of Tower Hamlets, London Borough of Wandsworth, Westminster City Council; Kingston and Sutton Shared Environment Service, London Assembly Environment Committee, London Assembly Labour Group,  London Association of Directors of Public Health  and the London Environment Directors Network, Private Hire Board, London Cycling Campaign, National Association of Road Transport Museums, Client Earth, Uber, UPS, DHL, The Crown Estate, Confederation of Passenger Transport, West End Community Network, Licenced Private Hire Car Association, CEMEX, Greenpeace, SMMT, Global Action Plan, Brixton BID, UK Health Forum, HTC Group, Campaign for Better Transport (London), Licensed Taxi Drivers Association, www.theairwebreathe.uk, Friends of Capital Transport Campaign, Living Streets, Friends of the Earth, Better Bankside, New West End Company, Camden Town Unlimited, The UK Health Alliance on Climate Change, London Tourist Coach Operators Association, Road Haulage Association, Imperial College London, Team London Bridge, European Rescue &amp; Recovery Initiative, London First, London City Airport, Land securities, Direct Line, John Lewis Partnership, Waitrose, Autogas, Calor Gas, The Original London Sightseeing Tour, Brewery Logistics Group.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-February-GLA - £10 ‘Toxicity Charge’ to start October 23  -->

 
 
        
        
            @{ViewBag.Description = "Mayor: £10 ‘Toxicity Charge’ for London’s most polluting cars to start October 23 ";}
        
        


 