


@{ViewBag.Title = "GLA - Mayor & Commissioner set out vision to get Londoners active";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor & Commissioner set out vision to get Londoners active</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor & Commissioner set out vision to get Londoners active</h1>
        <div class="content-page-press-release">
        16 February 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'Healthy Streets for London' document is blueprint to help Londoners get more physically active
        
    </div>



 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/setting-out-a-vision-for-getting-londoners-active">here</a></strong></em></span></p>
<ul>
    <li>New research revealed today shows that getting more people walking and cycling could save the NHS &pound;1.7bn</li>
    <li>Will Norman starts this week as London's first ever full-time Walking and Cycling Commissioner.</li>
    <li>Sadiq Khan hails 'bold' new approach to make walking and cycling a real alternative to car use</li>
</ul>
<p>In the week that London's first ever full time Walking and Cycling Commissioner starts his new role, Will Norman has joined with the Mayor of London in outlining a long-term vision to help encourage more Londoners to walk and cycle, by making London's streets healthier, safer and more welcoming.</p>
<p>New analysis revealed today shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years. This includes 85,000 fewer people being treated for hip fractures, 19,200 fewer people suffering from dementia, and an estimated 18,800 fewer Londoners suffering from depression.</p>
<p>It is the ambition of the Mayor that Londoners walk or cycle for at least 20 minutes every day &#45; currently only 34 per cent of Londoners manage to do this on any given day.</p>
<p>Sadiq Khan's new blueprint for a healthy London will see increasing physical activity put at the centre of a wide range of GLA and TfL policy, setting out how it could transform the lives of millions of Londoners.</p>
<p>Details of the Mayor's approach were today outlined in a 'Healthy Streets for London' document drawn up jointly between the TfL and the Mayor's office. A key focus will be getting Londoners to reduce their reliance on car use, which will not only help to get them more active, but help tackle London's air pollution crisis</p>
<p>A major part of Will Norman's role will be working to deliver this new agenda - the biggest ever focus on walking and cycling in the capital.</p>
<p>Examples of how this new approach will be delivered in practice are outlined in today's 'Healthy Streets for London' document and include:</p>
<ul>
    <li>Street level &#45; improving local environments by providing more space for walking and cycling, and better public spaces where people can interact. (This could include more seating, more greenery, reducing vehicle speeds and installing safer crossings)</li>
    <li>Transport network level &#45; prioritising better and more affordable public transport and safer and more appealing routes for walking and cycling, reducing the dominance of motor vehicles and developing creative approaches to managing freight and deliveries.</li>
    <li>Strategic level &#45; Planning new developments so people can walk or cycle to local shops, schools and workplaces, and have good public transport links for longer journeys.</li>
</ul>
<p>In addition to the substantial physical health benefits, the Mayor's new approach will serve to reduce air and noise pollution, improve mental health, help combat social isolation, and bring economic benefits to local high streets across the capital. It will also focus on minimising road danger &#45; directly seeking to address the safety fears people have about cycling and walking more.</p>
<p>Tackling congestion in London is also a key priority for the Mayor, and his focus on prioritising walking, cycling and using public transport will be an important long-term solution to London's congestion problems. Every person that isn't in a car means less congested roads for those essential car journeys, helping keep London a competitive and attractive place for business.</p>
<p>As part of this plan, &pound;2.1bn will be allocated to a new TfL Healthy Streets Portfolio that will focus on creating more welcoming and inclusive streets to enable more Londoners to walk, cycle and use public transport more often. This includes doubling the average annual spend on cycling announced in the TfL Business Plan, taking London's cycling spending per head to the same levels as Denmark and the Netherlands.</p>
<p>Will Norman is London's first ever full time Walking and cycling Commissioner. The previous Mayor appointed a Cycling Commissioner who was only part-time.</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: </p>
<p>'I'm delighted to be starting this week as London's first ever full time Walking and Cycling Commissioner.</p>
<p>'Working with Sadiq to make physical activity a bigger part of Londoners' everyday lives could have a truly transformational impact on our city. It will not only substantially improve Londoners' health, but a play a key role in tackling our air pollution crisis.</p>
<p>'Today we're outlining some of the key principles that will guide our work over the coming years, working with communities all across London to make walking and cycling a safer, and obvious choice for people from all backgrounds.</p>
<p>'Increasing physical activity must be a central part of everything we do &#45; building stronger, healthy communities, and improving quality of life for everyone.'</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'The future health and prosperity of our city depends on us all boosting the amount of physical activity we do. With children's health being harmed by our poor-quality air, our bold new approach will focus on making walking and cycling a genuine long-term alternative to car use across more of London. As new evidence shows today, the personal health benefits could also be huge if we can make our streets more appealing, encouraging more people to be more physically active as part of their everyday journeys.</p>
<p>'The recent tragic deaths of cyclists and pedestrians on our streets is another reason why we must redouble our efforts to make them safer. This includes pushing ahead spending record amounts on cycling infrastructure over the coming years.  I'm excited that Will Norman has now started as London's first ever full-time Walking &amp; Cycling Commissioner, delivering our agenda to get Londoners of all ages and backgrounds walking and cycling as a part of their daily routine.'</p>
<p>Mike Brown, London's Transport Commissioner, said: </p>
<p>'Transport plays a crucial role in improving Londoners' health and quality of life. Working with the new Walking and Cycling Commissioner we will take a bold new approach to our transport planning, which will put people at the heart of our decision making and will prioritise walking, cycling and public transport over private vehicles.'</p>
<p>Dr Ashok Sinha, Chief Executive of London Cycling Campaign, said: </p>
<p>'The Mayor is absolutely on the right track by promising to reduce car dependency and make it easier for people to walk and cycle, including by tripling the extent of protected cycle lanes and enabling every borough to have a major walking and cycling scheme.</p>
<p>'We are delighted that Will Norman has today begun the job of bringing these promises to fruition, through the new Healthy Streets approach, so that London's many communities and places become greener, healthier and more attractive places in which to live, play and do business.'</p>
<p>Dr Yvonne Doyle, Regional Director for London for Public Health England and Statutory Health Advisor to the Mayor of London, said: </p>
<p>'Exercise is simple, affordable and can be uplifting, but we may not appreciate how effective two 10-minute periods of activity like walking or cycling each day can be for improving our mental and physical health. I welcome the appointment of Will Norman as London's first Walking and Cycling Commissioner and the support that the Mayor of London and Transport for London are offering us, using the amazing resource of our London streets. It's part of thinking differently that benefits us all.'</p>
<p>Tompion Platt, Head of Policy, Living Streets, said: </p>
<p>'A new approach that genuinely prioritises walking, cycling and public transport will improve the health, happiness and quality of life of all Londoners. We see real potential in the Mayor's Healthy Streets Approach and look forward to working with Will Norman in his new role as London's first Walking and Cycling Commissioner to create a healthier, more active and less polluted London.'</p>
<p> Matt Winfield, Acting Director for Sustrans in London, said: </p>
<p>'We've all been guilty of a new year's resolution to go running more, visit the gym or attend fitness classes, and instead favoured the sofa. In reality the easiest way for all of us to get more exercise is to walk or cycle for our everyday journeys, instead of jump in the car.</p>
<p>'But we can only expect Londoners to do this if our streets feel safe and more attractive to walk, cycle or spend time on.</p>
<p>'With major benefits to our health, helping Londoners walk and cycle more is fundamental to improving life in London, while keeping the capital moving.</p>
<p>'We've long called for public health to be at the forefront of transport decision making, and this new 'Healthy Streets' approach is a welcome move to make sure all of TfL's investment helps Londoners to get more exercise, breathe cleaner air and feel safer.'</p>
<p>Aseem Sheikh, Chair of Vauxhall One, said: </p>
<p>'As a Central London Business Improvement District, we are really encouraged to see the launch of the new Mayor's emphasis on Healthy Streets. We share the Mayor's vision of improved greening, and better cycling infrastructure for Londoners.</p>
<p>'Vauxhall One are excited with the opportunity that the appointment of Will Norman, the new Cycling and Walking Tsar brings.  We look forward to working closely with him to deliver the third phase of one of our flagship projects, 'Greening Vauxhall Walk.'</p>
<p>Councillor Julian Bell, Chair of London Councils' Transport and Environment Committee said: </p>
<p>'The creation of the Walking and Cycling Commissioner role reflects the Mayor's commitment to promoting and investing in active and environmentally-friendly transport, which is an objective that we very much support.</p>
<p>'As the Healthy Streets for London document sets out, the planning, design and operation of streets will play an essential role in creating a safer, greener and healthier city. As London boroughs are responsible for 95 per cent of London's roads, we will need to be at the forefront of the Healthy Streets initiative.</p>
<p>'I am a keen cyclist myself and fully endorse the benefits of a more active lifestyle. I look forward to working closely with the Commissioner and the Mayor to help the boroughs play their part in making the initiative a success."</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>'Healthy Streets for London' sets out an important new approach for the Mayor and TfL, working with its partners and stakeholders to make London's streets better for everyone. This approach will be embedded across the full range of Mayoral policy and strategy documents to ensure it is delivered effectively across the city.</li>
    <li>The new report can be viewed here - <a href="https://tfl.gov.uk/corporate/about-tfl/corporate-and-social-responsibility/transport-and-healthcare">https://tfl.gov.uk/corporate/about-tfl/corporate-and-social-responsibility/transport-and-healthcare</a></li>
    <li>The forthcoming Mayor's Transport Strategy is the statutory plan for London's transport. It will set out the Mayor's policies for promoting and encouraging safe, integrated, efficient and economic transport facilities. The new strategy is currently being developed, which will set out the guiding principles for delivering a shift away from car use through the new Healthy Streets Approach.</li>
</ul>
<ul>
    <li>Will Norman is London's first ever full time Walking and cycling Commissioner. The previous Mayor appointed a Cycling Commissioner who was only part-time.</li>
    <li>Will previously worked as Global Partnerships Director at Nike, where he specialised in increasing levels of physical activity and participation in sports around the world, working with a range of international organisations.</li>
    <li>Will spearheaded a programme to make physical activity a global policy priority. This included working with the UN, the European Parliament, G8, World Health Organisation and International Olympic Committee.</li>
</ul>
<p>Benefits of physical activity</p>
<p>New GLA research also shows that if all Londoners walked or cycled for 20 minutes a day, this would, over 25 years save &pound;1.7bn NHS treatment costs and prevent people from getting the following illnesses:</p>
<ul>
    <li>85,000 hip fracture</li>
    <li>19,200 dementia</li>
    <li>18,800 depression</li>
    <li>16,400 cardiovascular disease</li>
    <li>6,700 stroke</li>
    <li>4,800 type 2 diabetes</li>
    <li>1,500 colorectal cancer</li>
    <li>1,300 breast cancer</li>
</ul>
<p>These new figures are based on calculations using the Sport England MOVES tool and Active People Survey data.</p>
<p>According to Public Health England if all Londoners walked or cycled for 20 minutes a day, there would be an 11 per cent drop in coronary heart disease and an 18 per cent drop in Londoners dying every year. <a href="http://www.apho.org.uk/resource/view.aspx?RID=123459">http://www.apho.org.uk/resource/view.aspx?RID=123459</a></p>
<p>GLA research shows that the majority of Londoners' car trips could be walked or cycled if the circumstances were right.</p>
<p><a href="https://www.london.gov.uk/sites/default/files/health_impact_of_cars_in_london-sept_2015_final.pdf">https://www.london.gov.uk/sites/default/files/health_impact_of_cars_in_london-sept_2015_final.pdf</a></p>
<ul>
    <li>More than one third of car trips made by Londoners as a driver or passenger could be walked in under 25 minutes</li>
    <li>Nearly half of car trips made by London residents could be cycled in under 11 minutes</li>
    <li>Two thirds of car trips made by London residents could be cycled in under 19 minutes</li>
    <li>Trips more than 5km only make up one third of car trips. Some of these could be cycled in around 20 minutes</li>
</ul>
<p>Efficiency/road space</p>
<ul>
    <li>Getting more people cycling makes our roads more efficient, which given a growing population and increasing congestion, is incredibly important.  The new east-west and north-south cycle routes are moving 46 per cent of the people using the road in only 30 per cent of the road space. Two weeks after opening, the two roads were moving five per cent more people per hour than they were before the cycle lanes were built, a number that will increase as they attract more cyclists.</li>
</ul>
<p>Blackfriars Bridge example</p>
<ul>
    <li>Since the construction of the North-South cycle superhighway, the number of cyclists on Blackfriars Bridge has increased 55 per cent during peak periods.</li>
    <li>They now account for up to 70 per cent of all traffic on the bridge at the busiest times, according to figures from Transport for London. And on the East-West superhighway, there has also been an impact.</li>
    <li>At Victoria Embankment, cyclists accounted for 52 per cent of traffic during the busiest periods. A total of 4,695 cyclists used the North-South superhighway during the three-hour morning peak.</li>
</ul>
<p>Tackling air pollution</p>
<ul>
    <li>The Mayor has already announced plans to introduce a new T-Charge on the most polluting vehicles and bring forward plans for the world's first Ultra-Low Emission Zone. New Low Emission bus zones will see the greenest buses operating on London's worst polluted routes, and the Mayor has pledged to purchase only hybrid or zero-emission double decker buses from 2018.</li>
</ul>
<p>Cycling budget</p>
<ul>
    <li>The Mayor has also pledged that a record &pound;154 million per year will be spent on cycling in London over the next five years. The investment outlined in TfL draft Business Plan, goes well beyond Sadiq's manifesto commitment to increase the proportion of TfL's budget spent on cycling.</li>
    <li>Over the course of the Business Plan to 2021/2022, a total of &pound;770 million will be spent on infrastructure and initiatives to promote cycling. At an average of &pound;154million per year it is almost double the &pound;79 million per year spent over the last mayoral term. This investment represents an average &pound;17 per head per annum and is on par with Denmark and transport authorities in the Netherlands.</li>
    <li>Over the previous Mayor's last term, 2.4% of TfL's budget was spent on cycling. Over the course of the new Business Plan 5.5% of TfL's budget will now be spent on cycling.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-February-GLA - Mayor & Commissioner set out vision to get Londoners active -->

 
 
        
        
            @{ViewBag.Description = "Mayor joins London’s first ever Walking & Cycling Commissioner in setting out new vision for getting Londoners active";}
        
        


 