
    
  


<!-- rhroot -->
@{ViewBag.Title = "Air quality";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/air-quality";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/air-quality-boy-banner.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/air-quality-boy-banner.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">Air quality</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Air quality</h1>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    <h2 class="moving-source-order">Cleaning London's air</h2>
                </div>
                <p>Every child in London is breathing toxic air, mainly caused by polluting road vehicles. Together with the Mayor, Sadiq Khan, we are committed to helping Londoners breathe cleaner air.</p>

<p>We're asking Londoners to swap little trips&nbsp;that don't need the car and walk, cycle or take public transport instead. Changing one of these journeys a week where you can will help clean up London's air. See how you can <a href="/corporate/about-tfl/air-quality#help">do your bit and swap that trip</a>.</p>
            </div>
            
            <div class="aside">
                
                <div class="news-teaser">

    <div>
        
        <div class="text-only">
            <h2>Swap a car trip every week</h2>
            
            
            <p>Sign up for emails with tips and inspiration to keep you motivated</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://cloud.email.tfl.gov.uk/emailsignupstep1?CampSource=TfLAirQuality1" class="secondary-button" >Join in</a>
            
            </div>
    </div>
</div>

 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<h2>London's air quality - how bad is it?</h2>

<p>The volume of road traffic in London makes it one of the most polluted places in the UK - an estimated 5.8 million journeys are made by car every day.</p>

<ul>
	<li>More than 2 million Londoners, including 400,000 children, live in areas which exceed current air pollution limits</li>
	<li>Over 450 London state schools are in areas with dangerously high air pollution levels</li>
</ul>
</div>
 
<div class="module-grid clearfix">
<div>

<h3>How road transport harms our air</h3>

<p>Road vehicles are the main cause of London's air pollution. They produce around half of all nitrogen oxides and emit tiny particles - like small bits of rubber and metal - into the air we breathe.</p>

<p>These harmful gases and particles can pass through the nose and throat, enter our bloodstream and harm our organs. This contributes to thousands of premature deaths and increases people's risk of heart and lung disease and asthma.</p>
</div>
 <div class="news-teaser">

    <a href="https://madeby.tfl.gov.uk/2019/09/04/reimagine-car-free-day/?intcmp=59724" >
        <img src="/cdn/static/cms/images/promos/car-free-day_rdax_400x200.jpg" alt="People cycling and walking on a car-free London street" />
        
        <div class="text-link">
             <h2>Car Free Day</h2>
            <p>Want to swap that trip? We've got some ideas for you</p>
        </div>
    </a>
</div>
 
 
</div>
 
<div class="module-grid clearfix">

<div class="fact-box-wrapper">
    <span class="blue-span">Air quality myth #1</span>
    <div class="fact-box-content">
        <p><strong>Myth:</strong> Only central London is affected by air pollution</p>

<p><strong>FACT:</strong> Pollution affects every borough in the city, not just central London</p>
        
        
        
    </div>
</div>
<div class="fact-box-wrapper">
    <span class="blue-span">Air quality myth #2</span>
    <div class="fact-box-content">
        <p><strong>Myth:</strong> Road vehicles aren't the main cause of London's air pollution</p>

<p><strong>FACT: </strong>Driving polluting vehicles is the single biggest cause, contributing to around half of the air pollution in London</p>
        
        
        
    </div>
</div>
</div>
 <div>

<p>Children are particularly vulnerable to the effects of poor air quality. Children growing up in heavily polluted streets have a smaller lung capacity than those in cleaner areas. This can't be reversed.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/borough-pollution-map.pdf">
    <div class="document-download-text">
        <p>Nitrogen dioxide levels in London - map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/air-quality-no2-heatmap-thumb.jpg" alt="air quality heatmap thumb" />
    </div>

</a>

<!-- 2.91 -->
 
</div>

</div>
 <div>

<h2><a id="help" name="help"></a>What you can do to help</h2>

<p>As Londoners, we all have a role to play in improving our city's air quality. By 2041 we want 80% of trips in London to be made on foot, by cycling or by public transport.</p>

<p>This is a big task, but we can do our bit by making small changes to the way we travel.</p>

<p>Londoners make millions of trips every day that are short enough to walk and&nbsp;cycle, or have a public transport alternative. Short leisure journeys like popping to the shops or a trip to the gym, cinema or visiting friends could be swapped once a week, where possible, to help clean up London's air.</p>

<h3>If you can leave the car at home, try these alternatives for a cleaner journey:</h3>

<ul>
	<li><strong>Walk or cycle</strong> - Improve your health, save money and <a href="/campaign/active-travel">experience London in a different way</a></li>
	<li><strong>Use our public transport network</strong> - This includes our Night Tube, Night Bus and Night Overground services. <a href="/plan-a-journey/index">Plan your journey</a></li>
</ul>

<h3>If you do need to drive, then consider these options:</h3>

<ul>
	<li><strong>Join a car club</strong> - <a href="/modes/driving/car-clubs">Car clubs</a> are a cost-effective and flexible alternative to owning a car</li>
	<li><strong>Go electric</strong> - Electric cars have zero exhaust emissions. Get more information about electric and plug-in hybrids on the <a href="https://www.goultralow.com/">Go Ultra Low website</a></li>
	<li><strong>Think about how you drive</strong> - Turn off your engine when you're parked or waiting in traffic for long periods, and drive as smoothly as possible</li>
</ul>

<h3>Try these tips with your next online shop:</h3>

<ul>
	<li>When getting home deliveries or shopping online, consider getting all your packages sent in one shipment and picking a green option for your delivery slot</li>
	<li>Consider collecting your parcel from a nearby store rather than having it delivered, and walk to collect your parcel rather than drive</li>
</ul>
</div>
 
<div class="module-grid clearfix">

<div class="fact-box-wrapper">
    <span class="blue-span">Air quality myth #3</span>
    <div class="fact-box-content">
        <p><strong>Myth:&nbsp;</strong>You don't need to switch off a car engine when stationary</p>

<p><strong>FACT: </strong>Research shows that turning off the engine significantly reduces pollution levels in the surrounding area</p>
        
        
        
    </div>
</div>
<div class="fact-box-wrapper">
    <span class="blue-span">Air quality myth #4</span>
    <div class="fact-box-content">
        <p><strong>Myth:</strong> You can always see when air pollution is bad in London</p>

<p><strong>FACT:</strong> Most airborne toxins are invisible to the naked eye</p>
        
        
        
    </div>
</div>
</div>
 <div>

<h2>What we're doing for air quality</h2>

<p>We're helping to clean London's air by, for example, running the Ultra Low Emission Zone (ULEZ) in central London, cleaning up our bus fleet and taxis, and supporting small businesses and charities to switch to cleaner vehicles.</p>

<h3>Vehicles</h3>

<ul>
	<li>The <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone (ULEZ)</a> has already reduced emissions of nitrogen oxides (NOx) by approximately 29% since it was introduced in April 2019</li>
	<li>We're introducing <a href="https://tfl.gov.uk/modes/driving/low-emission-zone/changes-to-the-lez">tougher Low Emission Zone standards</a> for lorries, buses and coaches from 26 October 2020 within Greater London</li>
	<li>All <a href="/modes/buses/improving-buses">new double deck buses</a> in London are hybrid, electric or hydrogen</li>
	<li>6,950 buses (75% of all our buses) - including all buses operating in the ULEZ - meet or exceed the new ULEZ emission standards. By October 2020, every bus in London - all 9,000 of our fleet - will meet or exceed the ULEZ standards</li>
	<li>All <a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">new licensed taxis</a> in London must be zero-emission capable - than 2,500 already operate in the Capital</li>
	<li>We're committed to installing at least <a href="https://tfl.gov.uk/modes/driving/electric-vehicles-and-rapid-charging">300 rapid charge points for electric vehicles by 2020</a>&nbsp;-&nbsp;over 200 are already installed</li>
</ul>

<h3>Healthier streets</h3>

<ul>
	<li>We're helping some London boroughs improve air quality by supporting their <a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a> - and a city-wide anti-idling campaign - funded by the <a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/mayors-air-quality-fund">Mayor's Air Quality Fund</a></li>
	<li>We're working on initiatives to encourage and enable cycling in London, including new cycle routes and <a href="/modes/cycling/cycle-skills">free cycle skills training</a></li>
	<li>We're investing in London's streets to make them more attractive places to walk</li>
	<li>We're helping to clean London's air - and encourage biodiversity - by <a href="/corporate/about-tfl/green-infrastructure">managing our green infrastructure</a></li>
</ul>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          <div>

<h3>Air quality advice </h3>
We have <a href="/corporate/about-tfl/air-quality-advice">air quality advice</a> for each level of daily air pollution.<br />
</div>
 
<style>
    .component .info:first-of-type {
        display: none;
    }
</style>
<div class="floating-right-component-module">
    <div class="component">
        
        @{ Html.RenderAction("Index", "AirQuality"); }
        
<p class="info">For more information on local pollution, visit the <a href="http://www.londonair.org.uk/">London Air website</a>.</p>

    </div>

<p>This air quality information is provided by <a href="http://www.londonair.org.uk/LondonAir/Default.aspx">King's College London</a>. </p>
</div>
 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking" class="plain-button">Encouraging cycling and walking</a>
<a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health" class="plain-button">Transport and health</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.breathelondon.org/understanding-air-pollution/" class="plain-button">Breathe London</a>
<a href="https://www.london.gov.uk/sites/default/files/shorthand/cleaner_vehicles/" class="plain-button">Our air and our vehicles</a>
<a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/cleaning-londons-vehicles" class="plain-button">Cleaner vehicle checkers</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "See what TfL is doing to protect London's air quality";}
        
            
        


 