
    
  



@{ViewBag.Title = "Air quality advice";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/air-quality-advice";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/air-quality">Air quality</a></li>
                
            
            
                <li><span class="last-breadcrumb">Air quality advice</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Air quality advice</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We will broadcast air quality advice across London whenever pollution is high or very high. You will see notifications at Tube stations, bus stops, river piers, on digital signs along major roads and on this website.
        
      </div>
    
    
      <p>You can also sign up for free alerts (text, email or voicemail) or download a smartphone app on the <a href="http://www.airtext.info/signup">airTEXT website</a>. (The sign up message for text alerts will be charged at your standard text rate. Text alerts for Central London are then free.)</p>
      
           
      
<style>
    .component .info:first-of-type {
        display: none;
    }
</style>
<div class="floating-right-component-module">
    <div class="component">
        
        @{ Html.RenderAction("Index", "AirQuality"); }
        
<p class="info">For more information on local pollution, visit the <a href="http://www.londonair.org.uk/">London Air website</a>.</p>

    </div>

<p>Forecasts for air pollution levels are provided to us by <a href="http://www.londonair.org.uk/LondonAir/Default.aspx">King's College London</a>.</p>
<p>Knowing when air pollution is forecast to get worse can help you decide how best to travel around London to limit the impact of poor air quality. Improving London's air quality will help protect your health and the health of those around you.</p>
<p>If you receive an alert for high or very high air pollution you may want to do the following:</p>
<ul>
    <li>Pollution levels are generally higher inside a car so if you are doing a short journey, try an alternative way of travelling - cycle, walk or use public transport</li>
    <li>If you're making an essential van or lorry journey and are stationary for more than a minute (on a break, loading or unloading) please turn off your engine. Avoid idling </li>
</ul>
</div>
 

<div class="table-container"><table>
    <thead>
        <tr>
            <th colspan="1" rowspan="1" id="table_heading_0">
            <h3>Air quality banding/value</h3>
            <br />
            </th>
            <th colspan="1" rowspan="1" id="table_heading_1">
            <h3>At-risk individuals</h3>
            <br />
            </th>
            <th colspan="1" rowspan="1" id="table_heading_0">
            <h3>General population</h3>
            <br />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">Low: 1-3<br />
            </td>
            <td headers="table_heading_1">Enjoy usual outdoor activities<br />
            </td>
            <td headers="table_heading_0">Enjoy usual outdoor activities</td>
        </tr>
        <tr>
            <td headers="table_heading_0">Moderate: 4-6<br />
            </td>
            <td headers="table_heading_1">Adults and children with lung problems, and adults with heart problems who experience symptoms, should consider reducing strenuous physical activity, particularly outdoors<br />
            </td>
            <td headers="table_heading_0">Enjoy usual outdoor activities</td>
        </tr>
        <tr>
            <td headers="table_heading_0">High: 7-9<br />
            </td>
            <td headers="table_heading_1">Adults and children with lung problems, and adults with heart problems, should reduce strenuous physical exertion, particularly outdoors, and particularly if they experience symptoms. People with asthma may find they need to use their reliever inhaler more often. Older people should also reduce physical exertion<br />
            </td>
            <td headers="table_heading_0">Anyone experiencing discomfort such as sore eyes, cough or sore throat should consider reducing activity, particularly outdoors<br />
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">Very high: 10<br />
            </td>
            <td headers="table_heading_1">Adults and children with lung problems, adults with heart problems, and older people should avoid strenuous physical activity. People with asthma may find they need to use their reliever inhaler more often<br />
            </td>
            <td headers="table_heading_0">Reduce physical exertion, particularly outdoors, especially if there are symptoms such as cough or sore throat<br />
            </td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>


 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/air-quality" class="heading">
                    <h2 id="sub-menu-heading">Air quality<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/air-quality-advice">Air quality advice</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/green-infrastructure">Managing our green infrastructure</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Air quality alerts are issued across many TfL modes when pollution is moderate, high or very high";}
        
            
        


 