
    
  


<!-- rhroot -->
@{ViewBag.Title = "Corporate social responsibility";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/corporate-and-social-responsibility";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">Corporate social responsibility</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Corporate social responsibility</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We recognise the importance of corporate social responsibility. For us this means maximising the social and economic benefits of our operations.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div class="news-teaser">

    <a href="/corporate/about-tfl/corporate-and-social-responsibility/reducing-noise-and-vibration?intcmp=59235" >
        
        
        <div class="text-link">
             <h2>Noise and vibration</h2>
            <p>New technology helps us keep noise to a minimum for our neighbours</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.gov.uk/government/publications/businesses-who-have-signed-the-armed-forces-covenant-company-names-beginning-with-t?intcmp=36771" >
        <img src="/cdn/static/cms/images/promos/af-covenant_rdax_400x200.jpg" alt="Armed Forces Covenant logo" />
        
        <div class="text-link">
             <h2>Armed Forces Covenant</h2>
            <p>Our promise to help ex-service personnel is available on the MOD website</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion?intcmp=2747" >
        
        
        <div class="text-link">
             <h2>Equality and inclusion</h2>
            <p>Discover our role in providing access to education, employment and services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/corporate-and-social-responsibility/charities?intcmp=24599" >
        
        
        <div class="text-link">
             <h2>Charities</h2>
            <p>Raising money for a registered charity? Apply to collect at Tube stations</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health?intcmp=3511" >
        
        
        <div class="text-link">
             <h2>Transport and health</h2>
            <p>We're connecting our transport services to improving the health of Londoners</p>
        </div>
    </a>
</div>
 
 
</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality and inclusion</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport and health</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/reducing-noise-and-vibration">Reducing noise and vibration</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/transparency/index" class="plain-button">Transparency</a>
<a href="/corporate/publications-and-reports/safety-sustainability-hr" class="plain-button">Safety and sustainability panel</a>
<a href="/corporate/publications-and-reports/health-safety-and-environment" class="plain-button">Health, safety and environment report</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "The environment, sustainability, equality and inclusion and how we work with charities";}
        
            
        


 