
    
  



@{ViewBag.Title = "Driving in London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/driving-in-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "https://tfl.gov.uk/modes/driving/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">Driving in London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Driving in London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The new Ultra Low Emission Zone (ULEZ) goes into operation at midnight tonight. We're making final preparations for this so you won't be able to do some Congestion Charge, Low Emission Zone (LEZ) or red route transactions until the early hours of Monday 8 April 2019.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/ulezinoperation_rdax_400x250.jpg" alt="ULEZ van" />
        
        
        
    </div>
    <h2>ULEZ</h2>

<p>Every year thousands of Londoners die early from being exposed to polluted air, and almost a quarter of London schools are in areas which don't meet legal air quality limits. Around 50% of this pollution comes from road vehicles.</p>

<p>The ULEZ was created to help reduce deadly vehicle emissions and make London a safer and more pleasant place to live.</p>

<p>The ULEZ will operate&nbsp;<strong>24 hours a day, 7 days a week, every day of the year</strong>&nbsp;within the same area of central London as the Congestion Charge. When it launches&nbsp;on Monday 8 April 2019 you'll be able to:</p>

<ul>
	<li>Pay Congestion Charge and ULEZ and Low Emission Zone (LEZ) charges online in a single tool</li>
	<li>Pay all charges, including penalty charges through the new TfL Pay to drive in London app</li>
	<li>Check if your vehicle meets ULEZ and/or LEZ emissions standards through a single, combined tool</li>
</ul>

<p>Until then you can use the separate vehicle checkers.</p>
 </div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/vrm-checker-ulez" class="secondary-button no-hover" >ULEZ vehicle checker</a>

    </div>
</div> 
 <div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/forms/16063.aspx" class="secondary-button no-hover" >LEZ vehicle checker</a>

    </div>
</div> 
 
</div>
 <div>

<p>If you drive within the ULEZ zone and your vehicle doesn't meet the emissions standards, you will need to pay:</p>

<ul>
	<li>&pound;12.50 for most vehicle types, including cars, motorcycles and vans (up to and including 3.5 tonnes)</li>
	<li>&pound;100 for heavier vehicles, including lorries (over 3.5 tonnes) and buses/coaches (over 5 tonnes)</li>
</ul>

<h2>Congestion Charge</h2>

<p>The Congestion Charge operates in central London between 07:00 and 18:00, Monday to Friday. The daily charge for driving within the zone is &pound;11.50.</p>

<h2>LEZ</h2>

<p>The LEZ&nbsp;covers most of Greater London and operates 24 hours a day, every day of the year, midnight to midnight. If you drive within the LEZ between 23:30 and 01:00 the next day, you need to pay for two days.&nbsp;</p>

<p>The daily charge is &pound;100 for larger vans, minibuses and other specialist vehicles, and &pound;200 for lorries, buses, coaches and other specialist heavy vehicles.</p>
</div>
 <div>

<h2>Red routes</h2>

<p>London's red routes have red lines painted on the side. You must follow the rules printed on signs and road markings to avoid a penalty charge.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/congestion-charge-ulez-map.pdf">
    <div class="document-download-text">
        <p>Congestion Charge/ULEZ map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 613KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/low-emission-zone-map.pdf">
    <div class="document-download-text">
        <p>LEZ map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/red-route-pan-london-lohac-map.pdf">
    <div class="document-download-text">
        <p>Red routes map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.74 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Ultra Low Emission Zone will launch in central London within a few hours";}
        
            
        


 