
    
  



@{ViewBag.Title = "Managing our green infrastructure";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/green-infrastructure";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/air-quality">Air quality</a></li>
                
            
            
                <li><span class="last-breadcrumb">Managing our green infrastructure</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Managing our green infrastructure</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London's green infrastructure is the network of parks, green spaces, gardens, woodlands, rivers and wetlands (as well as features such as street trees and green roofs) that stretch across the city. We try to protect this feature while running reliable services and being a good neighbour.
        
      </div>
    
    
      <p>This feature is planned, designed and managed to:</p>

<ul>
	<li>Promote healthier living</li>
	<li>Lessen the impacts of climate change</li>
	<li>Improve air quality and water quality</li>
	<li>Encourage walking and cycling</li>
	<li>Store carbon</li>
	<li>Improve biodiversity and ecological resilience</li>
</ul>

<p>Biodiversity is an indicator of a healthy environment. With many plant and animal species under threat of extinction, biodiversity decreasing in the UK and globally.</p>

<p>TfL's green infrastructure forms corridors of woodland, street trees, scrub and grassland which are part of London's cultural heritage and act as a safe haven and dispersal route for plants and wildlife, including bats, badgers, reptiles and water voles. Our green infrastructure also helps to:</p>

<ul>
	<li>Provide shade and an attractive environment for people walking along our roads, helping us create <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a> for all</li>
	<li>Stabilise embankments</li>
	<li>Keep our assets cool so we can continue to operate an efficient service</li>
	<li>Reduce the risk of our networks flooding from heavy rainfall</li>
	<li>Improve the mental health and wellbeing of our staff and customers, as well as Londoners as a whole</li>
</ul>

<h2>How we manage green infrastructure</h2>

<p>Our main focus when managing our green infrastructure is on safety - for our passengers, and for our staff and contractors. We do this by:</p>

<ul>
	<li>Regularly assessing the condition of trees - this is done by competent professional arboriculturists</li>
	<li>Removing trees if they are dead or diseased and before they can fall and disrupt services, damage property, or harm people. Replacement trees will be planted where they are appropriate</li>
	<li>Removing trees where subsidence has been proven and it is necessary to protect property or embankments from further damage</li>
	<li>Pruning vegetation to ensure signals and sightlines are clear for drivers</li>
	<li>Pruning vegetation that prevents vehicles or pedestrians from using the highway or track</li>
</ul>

<p>We also explore opportunities to introduce green infrastructure as part of all projects. This helps us deliver on commitments in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>, and contributes towards the aims of the <a href="https://www.london.gov.uk/what-we-do/environment/london-environment-strategy">London Environment Strategy</a>.</p>

<h3>Street trees and verges</h3>

<p>We are committed to increasing the number of our street trees by 1% each year, and building a resilient tree population to benefit future generations.</p>

<p>Grass cutting or mowing regimes will vary depending on where you are on the network. We are also trying to <a href="/travel-information/improvements-and-projects/managing-road-verges-for-wildlife">reduce the number of times grass is cut</a> in some areas to encourage wildflowers and pollinators.</p>

<h3>Non-native invasive species and weed management</h3>

<p>Non-native invasive species and pests can cause a lot of damage to both our green infrastructure and transport infrastructure. For example, oak processionary moth caterpillars not only cause a risk to human and animal health, but can strip whole oak trees bare of leaves, while Japanese knotweed can damage structures like walls and roads.</p>

<p>We use several different methods (chemical and mechanical) to deal with weeds and non-native invasive species. We make sure that we follow the legal and Government guidelines that apply to any method we use.</p>

<p>We are looking for ways to reduce our use of herbicides. For example, we are trialling alternative/complementary methods across our operational networks to identify the method that represents best value for money with least environmental impact. We are also exploring how we can use integrated weed management techniques to improve performance</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/air-quality" class="heading">
                    <h2 id="sub-menu-heading">Air quality<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/air-quality-advice">Air quality advice</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/green-infrastructure">Managing our green infrastructure</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We manage our green infrastructure to help us make London's air cleaner and to increase biodiversity";}
        
            
        


 