
    
  



@{ViewBag.Title = "About TfL";}
@{ViewBag.Keywords = "Public,Corporate information,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">About TfL</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>About TfL</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/corporate/about-tfl/the-mayors-transport-strategy?intcmp=2691"  data-img="/cdn/static/cms/images/promos/mts-inner-london-street-landing.jpg" data-img-breakpoint="" data-img-alt="detail from mts document image">
    <img src="/cdn/static/cms/images/promos/mts-inner-london-street-landing_rdax_600x300.jpg" alt="detail from mts document image" />
    <div class="text-link sit-bottom">
      <h2>The Mayor's Transport Strategy 2018</h2>
      <p>Sadiq Khan has published his strategy for the future of transport in London</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/corporate/about-tfl/what-we-do?intcmp=2582"  data-img="/cdn/static/cms/images/promos/bus-family-ejm_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="Family with young children boarding a bus">
        
        
        <div class="text-link">
             <h2>What we do</h2>
            <p>The separate parts of our network work together to make every journey matter</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work?intcmp=2668"  data-img="/cdn/static/cms/images/promos/how-we-work-driver_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="How we work">
        
        
        <div class="text-link">
             <h2>How we work</h2>
            <p>This section covers how we are run, organised, funded and governed </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/air-quality?intcmp=45806" >
        
        
        <div class="text-link">
             <h2>Air quality</h2>
            <p>Legislation and other measures designed to improve London's air quality</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future?intcmp=2688" >
        
        
        <div class="text-link">
             <h2>Planning for the future</h2>
            <p>Find out about our plans to transform the Capital's transport network</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/corporate-and-social-responsibility?intcmp=2736" >
        
        
        <div class="text-link">
             <h2>Corporate social responsibility </h2>
            <p>We are reducing pollution, becoming more sustainable and promoting equality</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/culture-and-heritage?intcmp=2756" >
        
        
        <div class="text-link">
             <h2>Culture & heritage</h2>
            <p>Delve into our history and explore our design and architectural heritage </p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/corporate/transparency/index"  class="plain-button">Transparency</a>

</div>

        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="follow-social facebook">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News about London's transport system</h3>
    <p>Get updates about London's transport system</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.facebook.com/transportforlondon">Like</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News about London's transport system</h3>
    <p>News and latest information </p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfL">Follow &#64;TfL</a>
  </div> 
</div>
 <div class="follow-social instagram">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Inspiration for travel in London</h3>
    <p>Images, news and information</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://instagram.com/transportforlondon">Follow</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="http://tfl.gov.uk/info-for/media/news-articles" class="plain-button">News articles</a>
<a href="/corporate/publications-and-reports/annual-report" class="plain-button">Annual Report</a>
<a href="/corporate/careers/index" class="plain-button">Careers</a>
<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Category=Committee%20and%20panel%20meetings" class="plain-button">Committee &amp; panel meetings</a>
<a href="/info-for/investors/index" class="plain-button">Investors</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "What Transport for London does and how it is organised. ";}
        
            
        


 