
    
  



@{ViewBag.Title = "The Mayor's Transport Strategy";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/the-mayors-transport-strategy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">The Mayor's Transport Strategy</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The Mayor's Transport Strategy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Transport is central to the vision of the Mayor, Sadiq Khan, to create a city for all Londoners.<BR><BR>The Mayor's Transport Strategy sets out his plans to transform London's streets, improve public transport and create opportunities for new homes and jobs. To achieve this, the Mayor wants to encourage more people to walk, cycle and use public transport.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="https://www.london.gov.uk/what-we-do/transport/our-vision-transport/mayors-transport-strategy?intcmp=46686" >
        <img src="/cdn/static/cms/images/promos/mts-2018-cover-detail_rdax_400x200.jpg" alt="detail from cover of mayor's transport strategy 2018" />
        
        <div class="text-link">
             <h2>Mayor's Transport Strategy 2018</h2>
            <p>See it on the Mayor of London's website</p>
        </div>
    </a>
</div>
 
   <div class="pull-quote">
    
        <div class="quote-body">"At its heart is a bold aim for 80% of all trips in London to be made on foot, by cycle or using public transport by 2041.<br><br>

This is a big task and achieving it won't be easy.
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor's Transport Strategy</div>
            
        </div>
    </div>
   

 
 
</div>
 <div>

<h2>The Mayor's approach</h2>

<p>The strategy uses the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a>. This makes health and personal experience the priority as we plan our city.</p>

<p>The Healthy Streets Approach will be applied to the whole transport system to help create:</p>

<ul>
	<li><strong>Healthy Streets and healthy people:</strong> streets make up 80% of London's public spaces - making them Healthy Streets will improve the quality of life for everyone in London</li>
	<li><strong>A good public transport experience:</strong> public transport is the most efficient way for people to travel distances that are too long to walk or cycle. A seamless, 'whole-journey' experience will provide an attractive alternative to using the car</li>
	<li><strong>New homes and jobs:</strong> London needs 65,000 new homes every year to meet demand, plus around 1.3 million more jobs by 2041. We have an opportunity to reshape London and make sure it grows in a way that improves the quality of life for everyone</li>
</ul>
</div>
 <div>

<h2>Making the strategy work</h2>

<p>The Mayor's Transport Strategy looks ahead two decades and cuts across all forms of transport in London. To implement the strategy's proposals successfully, we will need to:</p>

<ul>
	<li>Prepare for new technology and unpredictable changes to the way we live</li>
	<li>Find a more efficient and fair way of paying for transport projects in London</li>
	<li>Work with partners across London and beyond, including the Government, London boroughs, other transport operators, business and other stakeholders</li>
	<li>Implement strategies and plans to achieve the Mayor's priorities</li>
</ul>
</div>
 
<div>




<h2><a id="action" name="action"></a>Action plans to support the strategy</h2>

<p>Actions plans we've developed detail how the Mayor and TfL will achieve the Mayor's Transport Strategy proposals. These will include new actions and initiatives that are in line with the policies of the strategy.</p>

<h3>Walking action plan</h3>

<p>The first of these plans, the Walking action plan, is aimed at making London the world's most walkable city, with a target to increase the number of walking trips by more than one million a day by 2024.</p>

<p>The actions in the plan will enable more people to walk part or all of their journey and improve the <a href="/modes/walking/index">experience of walking</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/mts-walking-action-plan.pdf">
    <div class="document-download-text">
        <p>Walking action plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/walking-action-plan-thumb.jpg" alt="walking action plan cover thumb" />
    </div>

</a>

<!-- 7.98 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mts-walking-action-plan-large-print-version.pdf">
    <div class="document-download-text">
        <p>Walking action plan - large print version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 389KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

</div>
 
<div>




<h3>Vision Zero action plan</h3>
<p>The aim of <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero</a> is to eliminate all deaths and serious injuries on London's transport system. This plan focuses on the area where our greatest challenges lie &#45; London's streets.</p>
<p>The actions in the plan will reduce road danger for everyone and create streets safe for walking and cycling.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/vision-zero-action-plan.pdf">
    <div class="document-download-text">
        <p>Vision Zero action plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/vision-zero-action-plan-thumb.jpg" alt="vision zero action plan cover" />
    </div>

</a>

<!-- 8.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-vision-zero-action-plan-large-print.pdf">
    <div class="document-download-text">
        <p>Vision Zero action plan - large print version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 451KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 
</div>
<p>Evidence showing how speed reduction measures affect air quality and health is on the <a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport &amp; health page</a>. </p>
</div>
 
<div>




<h3>Freight and servicing action plan</h3>

<p>The aim of the Freight and servicing action plan is to support safe, clean and efficient movement of freight in our city.</p>

<p>The actions in the plan set out how we can work on this with boroughs, businesses and the <a href="/info-for/deliveries-in-london/index">freight and servicing industry</a> itself while road space is reallocated to walking, cycling and public transport and new regulations are introduced to make vehicles safer and cleaner.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/freight-servicing-action-plan.pdf">
    <div class="document-download-text">
        <p>Freight and servicing action plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/freight-action-plan-thumb.jpg" alt="cover of freight action plan" />
    </div>

</a>

<!-- 11.45 -->
 
</div>

</div>
 
<div>




<h3><a id="cycling" name="cycling"></a>Cycling action plan</h3>

<p>This plan aims to make the Capital a place where cycling is an accessible and inclusive way of getting around, so everyone can share the benefits.</p>

<p>The actions in the plan will enable more Londoners to <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">make cycling part of their everyday travel</a> by breaking down the main, evidence-based barriers to cycling in London.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/cycling-action-plan.pdf">
    <div class="document-download-text">
        <p>Cycling action plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/cycling-action-plan-cover.jpg" alt="cover of cycling action plan" />
    </div>

</a>

<!-- 9.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycling-action-plan-large-print-version.pdf">
    <div class="document-download-text">
        <p>Cycling action plan - large print version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 395KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 <div>

<p>We are currently developing an Accessibility, diversity and inclusion action plan. This will set out how we intend to enhance London's street and public transport system so people can travel spontaneously and independently.</p>

<h2>Mayor's Transport Strategy evidence base</h2>

<p>Several documents and reports went into the Mayor's Transport Strategy. These includes the:</p>

<ul>
	<li>Final consultation report - see the <a href="https://consultations.tfl.gov.uk/policy/mayors-transport-strategy/?cid=mayors-transport-strategy">Mayor's Transport Strategy consultation page</a></li>
	<li>Draft Mayor's Transport Strategy (on the same page)</li>
	<li><a href="/corporate/publications-and-reports/travel-in-london-reports#mtsevidence">Mayor's Transport Strategy evidence base</a> - the evidence base report summaries have more about the challenges facing London</li>
</ul>

<h2>Monitoring our progress</h2>

<p>Progress will be reported annually in the <a href="/corporate/publications-and-reports/travel-in-london-reports">Travel in London report</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/river/index" class="plain-button">Passenger Pier Strategy</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Mayor's Transport Strategy lays out Mayor Sadiq Khan's vision for transport in London ";}
        
            
        


 