
    
  


<!-- rhroot -->
@{ViewBag.Title = "What we do";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">What we do</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>What we do</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are the integrated transport authority responsible for meeting Mayor Sadiq Khan's strategy and commitments on transport in London. We run the day-to-day operation of the Capital's public transport network and manage London's main roads.
        
      </div>
    
    <div class="on-this-page">
      <p>We are guided by the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> and its target that 80% of all journeys will be made on foot, by cycle or using public transport by 2041.</p>

<p>We&nbsp;use technology and data to make journeys easier. Oyster and contactless payment cards and information in different formats help people move around London.</p>

<p>Live travel information is provided directly by us and through third party organisations which use the data we make available to power apps and other services.</p>
      
           
      <div>

<h2>London Buses</h2>

<p>We manage a bus fleet of around 9,300 vehicles operating across 675 routes.</p>

<p>Most <a href="/modes/buses/index">bus services</a> in London are run by private operators awarded a contract by us. <a href="https://tfl.gov.uk/forms/13923.aspx">Bus operators compete for contracts</a> to provide specific services - contracts are managed by our subsidiary company London Bus Services Ltd.</p>

<p>London Bus Services Ltd:</p>

<ul>
	<li>Plans routes</li>
	<li>Sets service levels</li>
	<li>Monitors service quality</li>
</ul>

<p>It is also responsible for around 50 bus stations and more than 19,000 bus stops.</p>

<p>A few bus services in London are run commercially and are not part of our competitive tender process. Operators interested in running this type of service need to <a href="/info-for/suppliers-and-contractors/london-service-permits">apply for a London Service Permit</a>.</p>

<ul>
	<li><a href="/modes/buses/improving-buses">Find out how we are improving London's buses</a></li>
	<li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">Learn the history of London buses</a></li>
</ul>

<h2>London Underground</h2>

<p>London Underground, <a href="/modes/tube/index">better known as the Tube</a>, has 11 lines covering 402km and serving 270 stations.</p>

<p>The Tube handles up to five million passenger journeys a day. At peak times, there are more than 543 trains whizzing around the Capital.</p>

<h3>Managing the Tube</h3>

<p>We're in charge of all aspects of the Tube's operations including:</p>

<ul>
	<li>Running the trains, stations and control centres</li>
	<li>Making sure the Tube is safe and secure</li>
	<li>Collecting and protecting fares revenue</li>
</ul>

<p>We are also responsible for maintaining and renewing most of the infrastructure, although some services run on Network Rail track.</p>

<p>Our multi-billion pound programme to make Tube services more reliable, frequent and accessible includes introducing new trains, signalling and track, and rebuilding some of the busiest and most complex stations.</p>

<ul>
	<li><a href="/campaign/tube-improvements">Find out how we are improving the Tube</a></li>
	<li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">Learn the history of London Underground</a></li>
</ul>

<h2>Docklands Light Railway (DLR)</h2>

<p>The <a href="/modes/dlr/index">DLR</a> stretches east from Bank and Tower Gateway to Stratford, Beckton, Greenwich, Lewisham, London City Airport and Woolwich Arsenal.</p>

<p>The DLR - opened in 1987 - operates as a driverless, computerised system. We set the specifications for train frequency, performance, fares and revenue. We also plan and fund improvements and extensions to the network.</p>

<p><a href="http://keolisameydocklands.info/">KeolisAmey Docklands Ltd (KAD)</a> operates trains and stations and maintains much of the network on our behalf. Its current contract expires in 2021.</p>

<ul>
	<li><a href="/modes/dlr/improving-the-dlr">Find out how we are improving the DLR</a></li>
	<li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Learn the history of the DLR</a></li>
</ul>

<h2>London Overground</h2>

<p><a href="/modes/london-overground/index">London Overground</a> is a group of six routes serving many areas of the Capital.</p>

<ul>
	<li>Richmond and Clapham Junction to Stratford</li>
	<li>Watford Junction to Euston</li>
	<li>Gospel Oak to Barking</li>
	<li>Highbury &amp; Islington to New Cross, Clapham Junction, Crystal Palace and West Croydon</li>
	<li>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford</li>
	<li>Romford to Upminster</li>
</ul>

<p>We work with other organisations to manage the London Overground network:</p>

<ul>
	<li><a href="http://www.arrivaraillondon.co.uk/">Arriva Rail London</a> manages the network's stations and trains day-to-day</li>
	<li><a href="https://www.networkrail.co.uk/">Network Rail</a> manages and maintains most of the track and signals - London Overground is part of the National Rail network</li>
</ul>

<p>We set the specifications for train frequency, station facilities and overall performance, and are responsible for fares and revenue.</p>

<ul>
	<li><a href="/modes/london-overground/improving-london-overground">Find out how we are improving London Overground</a></li>
	<li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">Learn the history of London Overground</a></li>
</ul>

<h2>TfL Rail</h2>

<p><a href="/modes/tfl-rail/index">TfL Rail</a> runs from Paddington&nbsp;to Heathrow Airport and Reading, and Liverpool Street to Shenfield. TfL Rail will turn into the new Elizabeth line when work is finished.</p>

<p>We set the specifications for train frequency, station facilities and overall performance, and are responsible for fares and revenue.</p>

<p>We also plan and fund improvements and extensions to the network. We work with Network Rail, <a href="http://www.crossrail.co.uk/">Crossrail Ltd</a> and others to improve the stations and trains we have inherited, and to build new ones in preparation for the Elizabeth line.</p>

<p>MTR Crossrail Ltd manages and operates trains and stations day-to-day.</p>

<ul>
	<li><a href="/travel-information/improvements-and-projects/preparing-for-the-elizabeth-line">Find out how we've improved TfL Rail</a></li>
	<li><a href="/travel-information/improvements-and-projects/elizabeth-line">Find out about our plans for the Elizabeth line</a></li>
</ul>

<h2>London Trams</h2>

<p>We manage <a href="/modes/trams/index">the Capital's tram network</a>. Services run from Croydon to Wimbledon, Beckenham Junction, Elmers End and New Addington.</p>

<p>There are connections to the Tube, London Overground, bus and National Rail services.</p>

<p>We set the specifications for tram frequency and performance, and are responsible for fares and revenue. We also carry out maintenance and plan and fund improvements and extensions to the network.</p>

<p>Tram Operations Limited (TOL), a subsidiary of First Group, operates trams day-to-day.</p>

<ul>
	<li><a href="/modes/trams/the-future-of-trams">Find out how we are improving improving trams</a></li>
	<li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Find out about the history of London's trams</a></li>
</ul>

<h2>Roads</h2>

<p>Responsibility for managing London's road network is shared between TfL, Highways England, and the 32 London boroughs, plus the City of London.</p>

<ul>
	<li>We manage the Transport for London Road Network (the TLRN or London's 'red routes') and are responsible for the maintenance, management and operation of the Capital's 6,000+ sets of traffic lights</li>
	<li>Highways England manages the national motorway network, including the M25, M1, M4 and M11</li>
	<li>The London boroughs are responsible for all the remaining roads within their boundaries</li>
</ul>

<p>We also work with freight operators and other commercial drivers to encourage more efficient <a href="/info-for/deliveries-in-london/index">deliveries in London</a>.</p>

<h3>Red routes</h3>

<p><a href="https://tfl.gov.uk/modes/driving/red-routes">London's red routes</a> are a network of&nbsp;key routes&nbsp;such as the A40 or A406 (North Circular Road).</p>

<p>Our responsibilities include responding quickly to incidents such as floods and road traffic collisions; repairing defects such as potholes, damaged signs or street lighting; and gritting the roads during the winter.</p>

<h3>Traffic control centre</h3>

<p>In our Network Managment Control Centre (NMCC) we monitor the road network 24 hours a day, seven days a week. <a href="https://tfl.gov.uk/traffic/status">Thousands of CCTV cameras</a> let us see how traffic is flowing around the Capital.</p>

<h3>Traffic information</h3>

<p>We use electronic road signs to alert drivers to disruption and to give advance warning of future disruptions due to roadworks or large events.</p>

<p>We provide live traffic information directly to:</p>

<ul>
	<li>TV and radio stations (for travel broadcasts)</li>
	<li>Satellite navigation companies such as Tomtom and Trafficmaster</li>
	<li>Other third parties, including web and app developers</li>
</ul>

<h3>Traffic lights</h3>

<p>We are responsible for all of London's 6,300 traffic lights.</p>

<p>Our traffic controllers are able to change the length of time a light is green or red to clear an unexpected queue and control vehicles moving into an already congested area.</p>

<h3>Roadworks</h3>

<p>We run a lane rental scheme and charge those carrying out works up to &pound;2,500 a day for working in the most congested areas or at busy times. This encourages work to be completed during quieter times, and more quickly.</p>

<p>Around 88,000 permit applications are assessed each year to ensure that jobs are coordinated to minimise disruption.</p>

<h3>London Highways Alliance</h3>

<p>The <a href="http://www.lohac.co.uk/">London Highways Alliance</a> is a joint initiative between TfL and London's boroughs to collaborate on highway management, both in road maintenance and in the design and construction of new schemes.</p>

<h2>River</h2>

<p>We <a href="/modes/river/index">manage eight piers</a> along the Thames:</p>

<ul>
	<li>Greenwich</li>
	<li>Tower</li>
	<li>Bankside</li>
	<li>Blackfriars</li>
	<li>Festival</li>
	<li>Embankment</li>
	<li>Westminster</li>
	<li>Millbank</li>
</ul>

<p>London River Services (LRS) licenses passenger boat services to use our piers including:</p>

<ul>
	<li>Scheduled service River Bus and timetabled River Tours</li>
	<li>Ad hoc charter bookings for private hire boats typically used for corporate events or private parties</li>
</ul>

<p>We also own the Woolwich Ferry boats, terminals and infrastructure. This cross-river service is run under contract to Briggs Marine and Environmental Services.</p>

<ul>
	<li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">Read about our proposals for new river crossings</a></li>
</ul>

<h2>London Dial-a-Ride</h2>

<p><a href="/modes/dial-a-ride/index">London Dial-a-Ride</a> is a free door-to-door service for disabled people who can't use buses, trains or the Tube.</p>

<p>It offers bookable journeys between 06:00 and 02:00, 365 days a year.</p>

<ul>
	<li><a href="/modes/dial-a-ride/membership">Find out more about door-to-door transport for disabled customers</a></li>
</ul>

<h2>Coaches and Victoria Coach Station</h2>

<p>We represent the interests of visitors to London <a href="/modes/coaches/index">travelling by coach</a>, as well as ensuring coaches in the Capital have a minimal impact on the road network. To do this, we offer <a href="/info-for/coach-drivers/index">information for coach drivers</a>.</p>

<p>We operate <a href="/modes/coaches/victoria-coach-station">Victoria Coach Station</a>, London's largest coach hub. It is close to Victoria railway station and has excellent links to mainline rail, Tube and buses.</p>

<ul>
	<li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Find out about the history of coach travel</a></li>
</ul>

<h2>Cycling and walking</h2>

<p>Part of our role is encouraging more people to <a href="/modes/cycling/index">cycle</a> or <a href="/modes/walking/index">walk</a>. Our aim is that by 2041, 80% of journeys in London will be made by cycling, walking and public transport. Find out how we're <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">encouraging cycling and walking</a>.</p>

<h3>Santander Cycles</h3>

<p>Our cycle hire scheme, <a href="/modes/cycling/santander-cycles">Santander Cycles</a>, offers bikes for rent 24 hours a day, in and around central London. The scheme is sponsored by Santander and operated on our behalf by Serco.</p>

<p>The scheme extends from Hammersmith in the west to Poplar in the east and from Brixton in the south to Camden Town in north London. It includes more than 11,500 bikes at around 750 docking stations.</p>

<p>Docking stations are typically about 300-500 metres apart, placed off main roads, near tourist attractions, in parks, and at Tube and rail stations.</p>

<p>The scheme, originally sponsored by Barclays, started in central London in 2010.</p>

<ul>
	<li><a href="/corporate/publications-and-reports/cycle-hire-contracts">See the cycle hire contracts</a></li>
</ul>

<h3>Cycleways</h3>

<p>Most of the current and planned Cycle Superhighways and Quietways routes are being put&nbsp;together in a <a href="/modes/cycling/routes-and-maps/cycleways">single network called 'Cycleways'</a>.</p>

<p>Cycle Superhighways offer more direct ways into and across London. Many of them have segregated sections which separate cyclists from motor traffic, as well as widened footways, new pedestrian crossings and innovative safety improvements at junctions.</p>

<p>Quietways run on less-busy backstreets.</p>

<h3>Walkable streets</h3>

<p>We work with the London boroughs to shape the character of London's streets, with the aim of making London the world's most walkable city.</p>

<h2>Emirates Air Line</h2>

<p><a href="/modes/emirates-air-line/index">Emirates Air Line</a>, the capital's cable car, crosses the Thames between the Greenwich Peninsula and the Royal Docks. It started service in 2012.</p>

<p>The cable car is sponsored by Dubai-based airline Emirates in a 10-year deal signed in 2011.</p>

<ul>
	<li><a href="/corporate/publications-and-reports/contracts">See the sponsorship contract</a></li>
</ul>

<h2>Taxis and private hire</h2>

<p>We set regulations and policies for <a href="/modes/taxis-and-minicabs/index">taxi (black cab) and private hire (minicab and chauffeur) services</a> to protect customers, and ensure vehicles are safe, accessible and meet strict environmental standards.</p>

<p>We are responsible for licensing all London:</p>

<ul>
	<li>Taxi drivers and vehicles</li>
	<li>Private hire operators, drivers and vehicles</li>
</ul>

<p>We also:</p>

<ul>
	<li><a href="/info-for/taxis-and-private-hire/licensing">Set requirements and standards for licensing</a></li>
	<li>Set regulated taxi fares</li>
	<li>Work with boroughs to appoint taxi ranks across London</li>
</ul>

<p>We work closely with the <a href="/info-for/taxis-and-private-hire/index">taxi and private hire trades</a>, the Metropolitan Police Service and the City of London Police to ensure the safety of passengers. This includes <a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">tackling touting and unlawful plying for hire</a>.</p>

<p>We are also responsible for implementing <a href="/corporate/publications-and-reports/taxi-and-private-hire">the Mayor's Taxi and private hire action plan</a> which sets out the transport vision for London between now and 2031.</p>

<h2>London Transport Museum</h2>

<p><a href="https://www.ltmuseum.co.uk/">London Transport Museum</a> is the heritage and education charity dedicated to preserving our history and explaining it to museum visitors.</p>

<p>It cares for more than 500,000 items of transport memorabilia, and displays tell the story of transport in the capital over the last 200 years.</p>

<p>Many collections not on display in the main Museum in Covent Garden are stored at the <a href="https://www.ltmuseum.co.uk/visit/museum-depot">Museum Depot in Acton</a>. The depot&nbsp;opens for special tours and Open Weekends.</p>

<p>The museum runs educational activities for&nbsp;thousands of pupils each year, including&nbsp;free outreach programmes as part of <a href="https://stars.tfl.gov.uk">our STARS initiative</a>:</p>

<ul>
	<li>The Safety and Citizenship programme promotes safe and responsibly travel to school children in London</li>
	<li>The Youth Travel Ambassador scheme which helps engage young people with transport issues</li>
</ul>

<p>The Museum is&nbsp;funded from visitor admissions, sponsorship and commercial activities. The <a href="https://www.ltmuseumshop.co.uk/">London Transport Museum shop</a> sells transport-related items to support the museum's work.</p>
</div>
 <div>

<h2>Non-travel activities</h2>

<p>Our other business activities include:</p>

<ul>
	<li><a href="/info-for/business-and-commercial/commercial-properties">Commercial property development</a>&nbsp;- we try to use our position as one of London's largest landowners to increase business and housing opportunities</li>
	<li><a href="/info-for/business-and-commercial/commercial-media">Commercial media</a> - the money generated by advertising to the travelling public will help us keep fares down</li>
	<li><a href="/info-for/open-data-users/index">Open data</a>&nbsp;- third party developers make use of our data to create software and services that benefit the travelling public</li>
</ul>

<h2>Looking to the future</h2>

<p>Our programme of transport capital investment is one of the world's largest. It is building the Elizabeth line, modernising Tube services and stations, transforming the road network and making it safer, especially for more vulnerable road users such as people walking and cycling.&nbsp;<a href="/corporate/about-tfl/how-we-work/how-we-are-funded">See how we are funded.</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/annual-report" class="plain-button">Annual Report</a>
<a href="/info-for/media/news-articles" class="plain-button">News articles</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL is responsible for the day-to-day running of the capital's transport system.";}
        
            
        


 