


@{ViewBag.Title = "DfT announces funding which will see 70 additional hybrid buses on London's streets ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DfT announces funding which will see 70 additional hybrid buses on London's streets </h1>
        <div class="content-page-press-release">
        26 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;5m for additional 70 hybrid buses.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London continues to lead the way on hybrid buses, with our efforts contributing to the concerted effort to cut the Capital's carbon dioxide emissions and pollution.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>At least 400 hybrid buses expected to be in service in London by March 2013</li></ul>
<p>The Department for Transport (DfT) has announced funding for investment in cleaner buses across England. </p>
<p>Transport for London (TfL) has been awarded &pound;5m to add an additional 70 hybrid buses to its fleet.</p>
<p>The funding from DfT's Green Bus Fund means that at least 400 cleaner hybrid buses are expected to be operating on London's streets by the end of March 2013.&nbsp; </p>
<h2>Environmental benefits</h2>
<p>There are currently over 260 hybrid buses operating in London. </p>
<p>Mike Weston, London Buses Operations Director, said: 'This funding will enable us to keep improving London's air quality through the introduction of these cleaner, greener buses.&nbsp; </p>
<p>'A decision is yet to be made about where these buses will operate but we expect them to be deployed to maximise the environmental benefits on London's streets. </p>
<p>'London continues to lead the way on hybrid buses, with our efforts contributing to the concerted effort to cut the Capital's carbon dioxide&nbsp;emissions and pollution.&nbsp;&nbsp; </p>
<p>'We are making excellent progress in this new and exciting technology and remain committed to maximising the number of new hybrid buses entering service.' </p>
<h2>Secured funding</h2>
<p>The&nbsp;DfT's Green Bus Fund was set up to support bus companies and local authorities, such as TfL, to introduce low carbon vehicles which will have a positive effect on the environment.&nbsp; </p>
<p>TfL was awarded &pound;5m in 2009, &pound;8m in 2010 and &pound;5m in 2011 by the fund.</p>
<p>Hybrid buses are part of a wider package of measures to improve the Capital's air quality.&nbsp; </p>
<p>This includes the New Bus for London which uses the latest hybrid technology, and funding secured late last year to equip up to 1,000 buses with NOx abatement equipment. </p>
<p><br>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>The DfT's &pound;31m Green Bus Fund will result in 439 new low-carbon buses operating in many towns and cities in England by March 2013 </li>
<li>Low-carbon buses funded by the scheme emit around a third less greenhouse gas than diesel buses and use around a third less fuel<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At least 400 hybrid buses expected to be in service in London by March 2013The Department for Transport (DfT) has announced funding for investment in cleaner buses across England. Transport for London (TfL) has been awarded &pound;5m to add an additional";}
        
        


 