


@{ViewBag.Title = "Excellence and bravery recognised at London Bus Awards ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Excellence and bravery recognised at London Bus Awards </h1>
        <div class="content-page-press-release">
        16 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Excellence and bravery were honoured at Transport for London's Bus Awards in Covent Garden last night.
        
    </div>



 <div class="on-this-page">
<p>Among the award recipients was a Stagecoach bus driver who stopped an attack on a young girl by a man at a bus stop, three drivers whose buses were targeted during the riots last summer as well as the TfL network traffic controllers who kept the capital's buses moving during that difficult time. </p>
<p>The awards honour London bus drivers and staff who have displayed commitment and professionalism during the course of their work.&nbsp;</p>
<h2>Dedication and commitment</h2>
<p>Seven awards and three commendations were given out last night at the ceremony held at the London Transport Museum.</p>
<p>Leon Daniels, Managing Director Surface Transport said: 'Our bus network is one of the largest and most complex in the world and one on which the very foundations of this city depends. Thousands of people across the capital work incredibly hard to provide customers with the best possible service.&nbsp;</p>
<p>'These awards are a celebration of all that is great about London's bus network - in particular its people. We celebrate and thank all those drivers and staff who go above and beyond the call of duty to help our customers, those who show innovation and creativity in their work and those who display outstanding bravery, dedication and commitment.'</p>
<p>The winners of this year's London Bus Awards are:</p>
<p><strong>Jane King, HCT Group (Ash Grove)<br></strong>Outstanding Customer Service - recognises those who excel at all levels of customer service, putting the passenger first at all times in areas such as safety, accessibility and communications</p>
<p>Jane understands that her route is a key part of the community and has received commendations from her passengers.&nbsp; Jane explains 'To many of my passengers the service is a lifeline, so by going the extra mile to make them feel welcome and a little bit special, you can really add something.'</p>
<p><strong>Mark Hayward, Metroline (Central Engineering Logistics Facility)<br></strong>Best Vehicle Care - recognises those who take pride in the condition of their buses setting the standard for cleanliness and providing a safe, comfortable, welcoming environment for passengers</p>
<p>Mark has been instrumental in developing a robust and highly effective apprenticeship scheme.&nbsp;</p>
<p>He now manages arguably one of the most successful apprentice programmes in the London bus industry.</p>
<p>Mark's relentless pursuit of excellence and his passion to create the next generation of engineers has been consistently recognised through the awards attained by apprentices under his wing.</p>
<p><strong>Christine Powell, Go-Ahead, (Bexleyheath)<br></strong>Bus service ambassador - recognises those who work with schools, the local community and passengers to improve relations and identify and address bus or garage related issues</p>
<p>Christine is currently employed at Bexleyheath garage and works on the special school bus rota where she has been able to build up an excellent working relationship with the local schools.&nbsp;</p>
<p>Christine's outstanding people skills have enabled her to take on the role of Bexleyheath Garage Ambassador visiting local schools and equipping children with skills to stay safe whilst travelling on the network. </p>
<p><strong>Night Network Traffic Controllers, TfL (Centrecomm)<br></strong>On the road support from TfL - recognises the achievements of TfL staff who work well with passengers and consistently provide assistance and support </p>
<p>The civil disorder in London in August 2011 was some of the worst recorded in many years.&nbsp;</p>
<p>Throughout, London's buses continued to operate in areas unaffected by the unfolding and rapidly changing situation.</p>
<p>The actions of the Night Team assisted the operators to run the best possible service in very challenging circumstances and allowed full recovery to occur earlier than would otherwise have been the case. </p>
<p><strong>Paul Newman, First London (Uxbridge)<br></strong>Environmental Champion - recognises those who have made a real change that goes above and beyond the company policy and 'business as usual' approach to sustainability and environmental issues within their organisation</p>
<p>As 'Drive Green Champion' for Uxbridge, Greenford and Hayes depots, Paul has helped reduce the amount of unnecessary vehicle idling by approximately 10 percent.</p>
<p>In turn this has reduced the amount of carbon emissions and heightened the customer experience in terms of smoothness of journey.&nbsp;</p>
<p>The 'Drive Green' initiative has also helped reduce collisions and injuries through smoother driving techniques. </p>
<p><strong>Andy Edwards, First London (Willesden Junction Garage)<br></strong>Outstanding Newcomer - recognises those with less than two years experience in the industry who stand out from their peers</p>
<p>Andy started in the London bus industry in August 2011 but has quickly adapted to life in London's bus industry.&nbsp;</p>
<p>Andy is determined to deliver an exceptional service by getting out on his routes and understanding the needs of both staff and customers.</p>
<p>He has already gained a reputation for being approachable and fair and is also committed to reduce his depot's carbon footprint through increased recycling and idling checks.</p>
<p><strong>Chris Cameron, Stagecoach (Barking)<br></strong>Actions above and beyond the call of duty - recognises those who have gone out of the way to assist others, rising to challenges calmly and remaining in control and cool under pressure</p>
<p>On 15 July 2011, Chris witnessed a young girl being attacked by a man at a bus stop.&nbsp; Chris stopped his bus and called the control centre for assistance.&nbsp;</p>
<p>He then went far beyond the call of duty getting out of the bus to stop the attack and waiting with the girl until the police arrived.&nbsp;</p>
<p>For his brave actions Chris also received a commendation from a member of the public who was travelling on his bus. </p>
<p><strong>Dennis Holligan Go-Ahead (Merton), Steve Ryan, Go-Ahead (Bexleyheath) and Kevin Salter, Go-Ahead (Camberwell)</strong> all received commendations in the 'Actions above and beyond the call of duty' category for their actions during the riots last August.&nbsp;</p>
<p>All three were driving buses set upon by the rioters.&nbsp;</p>
<p>Under these extreme conditions they managed to keep their vehicles going and drive their passengers out of the area and safely away from the violence.
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Photographs of winners are available on request</li>
<li>Award winners received &pound;500</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Among the award recipients was a Stagecoach bus driver who stopped an attack on a young girl by a man at a bus stop, three drivers whose buses were targeted during the riots last summer as well as the TfL network traffic controllers who kept the capital's";}
        
        


 