


@{ViewBag.Title = "First electric charge points installed at Games venue to support 2012 Games fleet and leave green legacy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First electric charge points installed at Games venue to support 2012 Games fleet and leave green legacy</h1>
        <div class="content-page-press-release">
        19 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work began today on a network of electric vehicle charge points to support the Olympic and Paralympics' electric vehicle fleet, leaving a legacy for London drivers after the Games.
        
    </div>



 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL) are working in association with LOCOG and fellow London 2012 sustainability partners, EDF, GE and BMW, to install 120 charge points which will support a fleet of zero-emission electric vehicles set to be used during the London 2012 Games.</p>
<p>After the sporting spectacular, the charge points will join the Source London network, already the UK's largest charging network which will number 1,300 by 2013.&nbsp;</p>
<p>The electric vehicle points are fast charging and will be able to fully charge a vehicle in as little as four hours.</p>
<p>They will be initially used by one of the 160 Active E or 40 MINI E electric vehicles provided by BMW for the Games-time fleet.</p>
<p>This charge duration is significantly less than half the normal charge time for a standard charge point.</p>
<p>The points will be installed in five key locations in London with the first being installed today at ExCeL London.&nbsp;<br>&nbsp; </p>
<p>Mayor of London Boris Johnson said: 'We are determined for London's Games to be the cleanest, greenest ever and encouraging electric driving to support the sporting spectacular is another way we are achieving this.&nbsp;</p>
<p>'The Source London network is currently the largest in the UK and it is now gearing up to support the Olympic and Paralympic electric vehicle fleet.</p>
<p>'This will help to deliver cleaner air during the Games and even better, will create a fantastic legacy of fast charging points for Londoners.'</p>
<p>EDF is set to monitor the usage of the Olympic electric vehicle charge points to learn lessons for the future predicted uplift by the general public of electric vehicles and public charge points.&nbsp;</p>
<p>Source London currently consists of 307 charge points, making it the UK's biggest publicly accessible charge point network.</p>
<p>This lead is set to continue as the Mayor has made a commitment to increase the network to 1,300 points in 2013.&nbsp;</p>
<p>Encouraging more electric vehicles is part of the Mayor's commitment to make London the electric vehicle Capital of Europe, to deliver cleaner air and reduce carbon dioxide emissions.&nbsp;</p>
<p>Leon Daniels, Managing Director for Surface Transport at&nbsp;TfL, said: I'm extremely proud that through Source London, the Capital can boast to have the biggest EV charge point network in the UK.</p>
<p>'I look forward to building on this lead when the 120 Games EV points join the network.'<br>&nbsp;<br>Paul Deighton ,CEO of LOCOG said: 'We are proud to have electric vehicles in our fleet, but of course we need a charging infrastructure so it is fantastic to see our partners and stakeholders coming together to make it happen.</p>
<p>'These charge points will provide operational support during the summer, but they will also be part of a wider charging network in London long after the Games have gone.'<br>&nbsp;<br>Gareth Wynn, 2012 Programme Director at EDF, said: 'Never before has a public electric vehicle charging network been installed in this density in the UK before.</p>
<p>'By finding a fast, effective and safe way of simultaneously charging up to 30 electric cars in the same location, we have made another significant step forward in making EVs an attractive low carbon alternative to traditional motoring.<br>&nbsp;<br>'This innovative solution to recharging will not only help keep the entire Olympic fleet of EVs charged up during Games time, but will also provide a valuable insight into how EVs could be used on a mass scale in future.'<br>&nbsp;<br>Tony Gale, GE's General Manager, London 2012, said: 'We are delighted to be working with this partnership, developing London's transport infrastructure and its current and future needs.</p>
<p>'We are now seeing electric cars coming onto the mainstream market; however, the power grid will require significant investment to make their widespread use possible and practical.</p>
<p>'It will be up to companies such as GE, EDF, BMW and TfL to provide the technology, expertise and investment to make this possible.'<br>&nbsp;</p>
<p>James Mark, Services and 2012 Games Director for ExCeL, said: 'We are really excited to be the first venue to have electric vehicle charge points installed.</p>
<p>'This will further enhance our green credentials and sustainability practices.</p>
<p>'Last year we became the first private venue to be third party accredited with ISO14001 and BS8901 and as an Olympics venue we have been working very closely with TfL and LOCOG to ensure that London delivers the most sustainable Games ever.'</p>
<p>Source London charge point information is now available in the TfL Datastore. The Datastore feed will provide information regarding the location of points, their power ratings, the connection type, the type of vehicles able to access the points, whether parking charges apply and the hours that they'll be accessible, along with other useful details. Developers are encouraged to use this feed to build applications to help get information on Source London out to more users. For more information, visit: <a href="https://www.sourcelondon.net/">https://www.sourcelondon.net/</a></p>

<p>
<hr>
</p>
<p><br>&nbsp;</p>
            <p><strong>Notes to editors:</strong></p>
<p><strong>Transport for London</strong></p>
<ul>
<li>Transport for London, as the Mayor's transport authority, oversees the delivery and operation of the Source London network</li>
<li>Membership of Source London allows for limitless re-charging of its publicly accessible network in locations across the city</li>
<li>The Olympic charge points will be located at ExCeL, Multi Media Centre (MMC) at the Olympic Park, HS1 for Stratford International station and Q-Park Park Lane</li></ul>
<p><strong>EDF<br></strong></p>
<ul>
<li>EDF has used its expertise to carry out extensive studies to provide a recommendation to LOCOG on what it believes to be the most suitable recharging solution to support the 200 electric vehicles that will form part of the Olympic fleet</li>
<li>EDF has recommended an advanced recharging solution that it believes will not only support the Olympic fleet during Games time but could also contribute to a legacy of charging infrastructure for Londoners who hope to move towards a lower carbon lifestyle</li>
<li>EDF's global transport fleet includes more than 1,000 electric vehicles</li>
<li>EDF is participating in many plug-in vehicle demonstration projects in the UK and Europe</li></ul>
<p><strong>BMW and London 2012<br></strong></p>
<ul>
<li>BMW Group is the world's most sustainable automotive manufacturer and the natural automotive partner for a truly sustainable Olympic and Paralympic Games. BMW Group was chosen by London 2012 due to its ability to meet the emission targets set by London 2012</li>
<li>The Efficient Dynamic, hybrid and zero emissions cars, motorcycles and bicycles provided by BMW Group for London 2012 provide essential mobility for athletes and officials that is vital for the operational success of the Games</li></ul>
<p><strong>GE and electric vehicles</strong></p>
<ul>
<li>It is estimated that every electric vehicle that comes on to the roads will require 1.5 chargers. The GE DuraStation EV charger is an easy-to-use electric vehicle charger designed to help accelerate the adoption of plug-in electric vehicles by significantly decreasing time needed for vehicle charging</li>
<li>GE's DuraStation reduces charging times by using higher voltages that require specialized equipment and connectors, potentially to as little as four hours, The precise length of charge depends on a number of factors including the technology used in the vehicle and the local electricity infrastructure</li>
<li>The GE DuraStation EV charger can be equipped with the wireless identification technology necessary to manage access, transactions and metering, it can be programmed to take advantage of off peak tariffs and can be operated remotely through integrated building control systems. It is available in wall mounted, pole mounted and pedestal versions</li>
<li>In addition to its growing family of chargers, GE Energy is capable of providing the full range of electrical systems and smart grid technology necessary to support the widespread use of electric vehicles</li></ul>
<p><strong>ExCeL<br></strong></p>
<ul>
<li>There will be 18 charge points installed at ExCeL London</li>
<li>In 2012 it will be host to 7 Olympic and 6 Paralympic events<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) are working in association with LOCOG and fellow London 2012 sustainability partners, EDF, GE and BMW, to install 120 charge points which will support a fleet of zero-emission electric vehicles set to be used";}
        
        


 