


@{ViewBag.Title = "Hammersmith Flyover work to restore full traffic use continues apace";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith Flyover work to restore full traffic use continues apace</h1>
        <div class="content-page-press-release">
        07 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first key enabling works to allow the Hammersmith Flyover to be fully reopened to traffic have now been completed, Transport for London (TfL) announced today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are continuing to work round the clock to implement a long term solution to restore the Hammersmith Flyover to full traffic capacity. Work is now fully underway to allow the structure to remain in use for many decades to come."</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are continuing to work round the clock to implement a long term solution to restore the Hammersmith Flyover to full traffic capacity. Work is now fully underway to allow the structure to remain in use for many decades to come.
                            
                        </p>
                    </div>
                
            
            
            <p>The works, which began in January, have seen around 200m of the central reservation along the flyover removed in preparation for new tensioning cables to be installed which will support the structure.</p>
<p>Using a number of specialist techniques including hydrodemolition and diamond cutting, around 140 tonnes of concrete have been removed by using both high pressurised water and a rotating cord impregnated with diamonds to cut the material away. </p>
<p>These techniques meant that work could be carried out safely while traffic continued to use the flyover.</p>
<p>A team of engineers are working 24 hours a day, seven days a week to complete the work, often in a crawl space far less than human height.</p>
<p>Now the key enabling works have been completed, TfL will begin to install a new concrete base, drainage and tailored anchorages for the new cables within the structure. </p>
<p>The design for the new post-tensioning system will see new cables installed above and below the bridge deck inside a specially made duct, which will supplement the load capacity of the remaining cables. </p>
<p>The new ducts will then be filled with a wax oil to prevent deterioration from any water ingress, as well as enable the cables to be easily replaced as and when required. </p>
<p>Work to strengthen the five weakest spans of the 16 span structure will be completed ahead of the 2012 Games, ensuring that the flyover can carry full traffic loading during the Games and for many decades to come. </p>
<p>Following the Games, TfL will return to the structure to strengthen the remaining spans. This work however will not require further weight restrictions to be imposed and TfL hope to complete it with only off peak lane closures, causing much less disruption than is presently the case.</p>
<h2>Good progress</h2>
<p>Isabel Dedring, Deputy Mayor for Transport, said: 'Our team are well aware of the major impact these works have in west London for road users and local people. That is why the engineers are working twenty four hours a day to get the job done. </p>
<p>'They are making good progress but while the restrictions are in place we will continue to have dedicated staff monitoring and managing the impact on traffic every hour of the day.'</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: 'We are continuing to work round the clock to implement a long term solution to restore the Hammersmith Flyover to full traffic capacity. </p>
<p>'With key enabling works now completed, work is now fully underway to install the new cabling system which will allow the structure to remain in use for many decades to come.'</p>
<p>Although work is progressing well, TfL continues to advise motorists that due to the flyover not being fully open, they should consider avoiding the area if at all possible. </p>
<p>Signage and traffic management measures continue to be in place to help reinforce this to drivers across West London. </p>
<p>For the latest travel information, Londoners should visit <a href="http://www.tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a> or follow &#64;tfltrafficnews</p>
<p>
<hr>
<strong>Notes to Editors:</strong></p>
<ul>
<li>Over the past two years, TfL has been carrying out detailed monitoring inside the unique flyover, which was built in 1961 and transferred to TfL's stewardship in 2000. In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the concrete structure in place</li>
<li>Until recently it was thought that the structure had a number of years before major repair work would need to be undertaken, but recent monitoring results showed that repair work was needed earlier than anticipated.&nbsp; Then, in the week prior to Christmas, further deterioration of the cables was found - leading TfL to take the decision to keep the flyover closed to carry out more detailed assessment of the complete structure</li>
<li>On 13 January 2012, TfL reopened the flyover to light traffic in one lane in each direction, whilst work continued to strengthen key sections of the flyover. Traffic restrictions have been enforced by a 2.0m (6'6") width restriction at either end of the flyover to prevent large vehicles such as HGVs and coaches from crossing</li>
<li>Certain elements of these repair works may be carried out within the structure or behind noise shields and so may not be visible to drivers using the Hammersmith Flyover</li>
<li>While the essential structural repairs are being carried out to the Hammersmith flyover, some overnight closures to the flyover may be required to allow TfL to carry out specific elements of the works safely.&nbsp; TfL will work with Hammersmith and Fulham Council to ensure that these are properly coordinated to minimise any potential disruption that the closures could cause</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works, which began in January, have seen around 200m of the central reservation along the flyover removed in preparation for new tensioning cables to be installed which will support the structure.Using a number of specialist techniques including";}
        
        


 