


@{ViewBag.Title = "Improvement works to begin at Bow roundabout";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvement works to begin at Bow roundabout</h1>
        <div class="content-page-press-release">
        29 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to further improve cycle safety at roundabout to start next month.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I believe the innovative solutions we've arrived at will significantly improve the facilities available to the many cyclists who use this junction."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I believe the innovative solutions we've arrived at will significantly improve the facilities available to the many cyclists who use this junction.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Innovative 'early-start' facility to give cyclists safer and more direct route through junction </li></ul>
<p>Transport for London (TfL) has confirmed that work will begin in April on making further cycle safety improvements at Bow roundabout, including the Capital's first ever 'early start for cyclists' system, which will give cyclists their own separate green light phase. </p>
<p>Cycling groups and local authorities have been consulted on design proposals for the roundabout and Transport for London will now begin work on improvements including a green light phase, which will allow cyclists to move onto the junction ahead of other traffic. </p>
<p>This will significantly reduce the potential for conflict between cyclists travelling straight across the roundabout and vehicles turning left.</p>
<p>Work will also be carried out to widen the road space and provide a cycle lane that will be separated from traffic on the approach to the early start. </p>
<p>New signals will be installed and conditions will also be improved for pedestrians and cyclists using the junction as unnecessary signs and street clutter will be removed. </p>
<h2>Safer cycling at roundabouts</h2>
<p>The early-start system has been developed by traffic engineers at Transport for London and is believed to be the first of its kind in the UK. </p>
<p>The system will also work with the Capital's advanced traffic control systems, which aim to deliver improved journey time reliability for all road users, including pedestrians and cyclists.</p>
<p>Following completion of detailed designs, the work will start in April so that improvements can be made to the roundabout before the London 2012 Games. </p>
<p>The work will be funded through a &pound;15m investment in cycling safety by the Department for Transport which will also be used to help further improve areas including St George's Circus, Waterloo Roundabout and other locations across London which are currently under consideration as part of TfL's ongoing Junction Review programme.</p>
<h2>Review of major junctions</h2>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'We've worked closely with stakeholders and brought this together with the hard work that our engineers have put into looking at how to further improve cycle safety at Bow. </p>
<p>'I believe the innovative solutions we've arrived at will significantly improve the facilities available to the many cyclists who use this junction. In addition, we are setting in motion work on what further changes should be delivered at this location.'</p>
<p>A review of all major schemes planned on TfL roads, as well as hundreds of key junctions across the Capital continues to progress well. </p>
<p>Once installed, TfL will closely monitor the performance of the early start facilities, and has now begun to look at other junctions across London where this technology could also be introduced to provide a safer route through junctions or roundabouts, including potentially on Blackfriars bridge. </p>
<ul class="linklist">
<li><a href="/corporate/projectsandschemes/22247.aspx">Read more about the Bow roundabout proposal&nbsp;&nbsp;<br></a></li></ul>
<hr>
<br><strong>Notes to editors:</strong> 
<ul>
<li>TfL is currently reviewing hundreds of key junctions across the Capital to specifically examine safety and provision for cyclists. This includes 150 major planned schemes on the Transport for London Road Network (TLRN), as well as every junction on our Cycle Superhighways, plus some other locations that are of particular concern </li>
<li>TfL will produce options for potential cycle improvements at these junctions, which will then be reviewed by experts from TfL and external organisations, including bodies representing the main road user groups, the police and the boroughs. <a href="/corporate/projectsandschemes/22780.aspx">Read more about the junction review&nbsp; </a></li>
<li>The Highway Authority for the Bow Roundabout Flyover and the road immediately to the east of the roundabout (Stratford High Street) is the London Borough of Newham. TfL has commenced discussions with Newham where changes to accommodate these options may be required on their roads. As discussed with stakeholders TfL will monitor and review the operation of the cycle early-start facility before working with the London Borough of Newham to consider whether changes on the flyover would be beneficial in addition to the improvements made to the roundabout </li>
<li>TfL has been consulting on two proposals since January, with one plan to provide an innovative 'early-start' for cyclists on green lights to get them around the roundabout ahead of other traffic, and a separate proposal to reduce the roundabout's flyover from two traffic lanes to one in both directions to allow the creation of dedicated cycle lanes </li>
<li>After discussions with a number of stakeholders and feedback submitted, TfL has decided to implement the 'early-start' proposal at the roundabout. By giving cyclists a dedicated green light phase, this will allow cyclists to move onto the junction ahead of other traffic and will significantly reduce the potential for conflict between cyclists travelling straight across the roundabout and vehicles turning left </li>
<li>As part of their considerations, TfL looked again into the possibility of installing signalised pedestrian crossings on Bow Roundabout. Initial traffic modelling showed that the knock-on disruption to all road users, including cyclists, would lead to significant additional road queues on the east and westbound approaches, as well as additional bus delays to the six bus routes that travel through the area and a significant increase in pollution due to vehicle idling </li>
<li>TfL will keep the junction under review following these cycling improvements and will continue to investigate potential designs to allow pedestrian crossings to be installed in the future. It has begun discussions with the two local Boroughs, developers and other interested parties regarding the medium to long-term future of the Bow roundabout area, particularly in relation to opportunities arising from new housing and other developments </li>
<li>While the number of cycling journeys has increased significantly in recent years, the rate of cycling casualties has fallen. On Transport for London roads between 2008 and 2010, cycle flows have increased by 21 per cent while the rate of serious and fatal cycling casualties has fallen by seven per cent <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Innovative 'early-start' facility to give cyclists safer and more direct route through junction Transport for London (TfL) has confirmed that work will begin in April on making further cycle safety improvements at Bow roundabout, including the Capital's";}
        
        


 