


@{ViewBag.Title = "Limited edition Oyster cards commemorate a summer of celebration";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Limited edition Oyster cards commemorate a summer of celebration</h1>
        <div class="content-page-press-release">
        27 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Specially designed Oyster cards mark The Queen's Diamond Jubilee and the 2012 London Summer
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are delighted to be able to offer Londoners and visitors the chance to have a special memento of what will be a summer like no other."</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL's Director of Customer Experience</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are delighted to be able to offer Londoners and visitors the chance to have a special memento of what will be a summer like no other.
                            
                        </p>
                    </div>
                
            
            
            <p>Following the Official Commemoration of The Queen's Diamond Jubilee by the Mayor of London and the Chair of the London Assembly today (Tuesday 27 March),&nbsp; Transport for London (TfL) has unveiled the two new limited edition collectable Oyster cards which will hit the streets of London this summer, one celebrating the Diamond Jubilee and the other the London 2012 Games.<br>&nbsp;<br>The first card marks The Queen's Diamond Jubilee weekend in June. The card features an official portrait of The Queen and will be available from mid-May at all London Underground ticket offices and selected Oyster ticket machines within Zone 1, as well as TfL Travel Information Centres. </p>
<p>The second card, expected to be available in mid June, celebrates all of the events taking place in the capital this summer, including the London 2012 Games. </p>
<h2>Special momento</h2>
<p>The images on the card nod to sporting activities, the Thames Diamond Jubilee Pageant, along with the Big Jubilee Lunch and the spirit of street parties and community that will make London a fantastic place to be this summer. </p>
<p>
<p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'Commemorative Oyster cards have been very popular with the travelling public in the past and we are delighted to be able to offer Londoners and visitors the chance to have a special memento of what will be a summer like no other.' </p>
<p>He added: 'Transport will play a vital role in bringing people out to see The Queen during her Diamond Jubilee, and in getting people to all of the sporting and cultural events during the London 2012 Games and so it is fitting that we have limited edition Oyster cards that they can use and keep to mark these wonderful, once in a lifetime, occasions.'</p>
<p>This is the second time TfL has produced special limited edition Oyster cards. In April 2011, 750,000 Royal Wedding Oyster cards were released and the new cards are expected to be just as popular with regular commuters, collectors and tourists in London this summer.</p>
<p>
<hr>
<strong>Notes to editors:<br></strong>
<p>
            <p>&nbsp;</p>
<ul>
<li>The &pound;5 deposit and &pound;5 minimum top-up will apply as normal for the limited edition cards</li>
<li>Using Oyster, passengers only need one card to travel on all public transport across London, including National Rail services operating within the Capital. Oyster pay as you go customers are always reminded to touch&nbsp;in and out at the start and end of every journey to ensure they pay the correct fare</li>
<li>The designs of the limited edition Diamond Jubilee and London 2012 Oyster cards are attached in jpeg form<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following the Official Commemoration of The Queen's Diamond Jubilee by the Mayor of London and the Chair of the London Assembly today (Tuesday 27 March),&nbsp; Transport for London (TfL) has unveiled the two new limited edition collectable Oyster cards";}
        
        


 