


@{ViewBag.Title = "London's utility bosses agree action plan for less disruptive roadworks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's utility bosses agree action plan for less disruptive roadworks</h1>
        <div class="content-page-press-release">
        02 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Senior directors from TfL and the six largest utility companies in London have held a groundbreaking meeting which aims to further reduce the number of disruptive and badly managed roadworks on the capital's road network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Having close working relationships with the most senior people in the 'big 6' utilities means we can deliver a step-change in further reducing the number and impact of road works"</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Having close working relationships with the most senior people in the 'big 6' utilities means we can deliver a step-change in further reducing the number and impact of road works
                            
                        </p>
                    </div>
                
            
            
            <p>The group, the first of its kind in the UK, is made up of senior representatives from City Hall, TfL, London Councils and the six biggest utility companies. </p>
<p>It follows on from the Mayor's meeting with the CEOs of the six major utility companies late last year. </p>
<p>Together, they have agreed new, specific targets to work towards by the end of the year. </p>
<p>These include initiatives within their own businesses such as an increase in joint working and shorter work durations, which will help ensure that any disruption to Londoners is kept to a minimum. </p>
<p>As part of this work, all utility companies have agreed to work with TfL to share knowledge of good practice and explore innovative working methods such as quick curing materials and innovative 'core and vac' technology which would allow work to be carried out under the carriageway without the need to dig up the road. </p>
<p>They will also work with all London boroughs to support a more consistent approach to providing permitting information and meeting environmental health requirements.</p>
<p>Work has also begun to update the Mayor's Voluntary Code of Conduct for Roadworks. </p>
<p>The code, which was launched in April 2009 and has been adopted by TfL, 20 London boroughs and six major utility companies, looks to promote good practice and encourage more coordinated working between utilities and highway authorities. </p>
<p>The revised version, which is due to be published in March 2012, will see specific targets introduced to ensure that the measures set out in the code can be properly benchmarked and, if necessary, enforced, helping to drive further improvement across the capital.</p>

<h2>Working together</h2>
Isabel Dedring, Deputy Mayor for Transport, said: 'Tackling road works is a personal priority for me given the disruptive impact they can have on all London's road users and on residents. 

<p>'Having close working relationships with the most senior people in the 'big 6' utilities means we can deliver a step-change in further reducing the number and impact of road works. Our first joint action will be producing a tighter Code of Conduct for roadworks within the next few weeks.'</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL said 'I am delighted that we had a really positive working meeting, with a great deal of enthusiasm around the table to get to grips with the issues that frustrate Londoners the most, including poor signage, overly long works durations, no-one working on site and lack of coordination requiring repeat visits to the same area.' </p>
<p>Malcolm Russell, Director of Operations for Southern Gas Networks said: 'We are all committed to working closely with TfL and each other going forward, to ensure minimum disruption is caused while we provide these essential services safely and efficiently, to keep London working.'</p>The Mayor's battle against roadworks has already led to a 32 per cent<br>reduction in the hours of serious and severe disruption caused by roadworks on red routes in 2010/11 when compared with 2009/10.&nbsp; 
<p>Over the same time-frame, there was a 13 per cent reduction in the number of overall roadworks. </p>
<p>This is a result of joint working with the boroughs and utility companies, the introduction of the roadworks permitting scheme which has been embraced by every London borough, a reduction in the roadworks cap which restricts the number of works that can be carried out at any one time, and thousands of reports using the Report It system which enables Londoners to name and shame bad practice. </p>
<p>For the latest information about TfLs work to reduce roadwork disruption in London, please visit <a href="http://www.tfl.gov.uk/roadworks">tfl.gov.uk/roadworks</a> 
<hr>
<strong>Notes to Editor:</strong> 
<p>
<ul>
<li>The Utility Senior Directors Group will meet quarterly is made up of the following representatives: 
<ul>
<li>Isabel Dedring, Deputy Mayor for Transport </li>
<li>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL </li>
<li>Nick Lester, Corporate Director of Services at London Councils </li>
<li>Nick Harris, Operations Director at Thames Water </li>
<li>Patrick Clarke, Director of Network Operations at UK Power Network </li>
<li>Simon Hasted, General Manager of Network Investment operations in London, BT Openreach </li>
<li>Ed Syson, Director of Operations, National Grid Gas </li>
<li>Paul Buttery, Chief Customer Technology and Networks Officer, Virgin Media </li>
<li>Malcolm Russell, Operations Director, Southern Gas Network</li></ul></li>
<li>Along with Transport for London (TfL), the six companies are responsible for around 95 per cent of all roadworks on the Transport for London Road Network </li>
<li>In June 2010, the National Joint Utilities Group adopted the Mayor's Code of Conduct as a template for a national Code, which is evidence of London's leadership in this area </li>
<li>Londoners can report disruptive or badly managed roadworks by visiting <a href="http://www.tfl.gov.uk/roadworks">tfl.gov.uk/roadworks</a>, or by using a GPS enabled mobile device to tweet &#64;report_it with the hashtag #roadworks. Enquiries will be sent directly to the highway authority responsible, ensuring that direct and swift action can be taken </li>
<li>On 21 September 2011, The Mayor of&nbsp; London launched his Roadworks Pledge for London, which states that all roadworks in London should:<br>be tidy and safe with a clutter-free site so it is safe for pedestrians, cyclists and other road users </li>
<li>Always explain what's happening through detailed, clear and consistent signage </li>
<li>Always have activity on site or, if not, explain why (e.g. concrete is drying) </li>
<li>Take up as little road/pavement space as possible with a compact working area and eliminating the unnecessary use of cones, safety barriers and storage of materials </li>
<li>Help keep London moving by working outside peak hours, re-opening the road to traffic at peak times and, where this is not possible, working 24/7 or extended hours to complete works as quickly as possible. Diversion routes should be clearly signed </li>
<li>27 London Boroughs are now fully signed up to the London Permit Scheme, covering 80 per cent of the capital's roads. The remaining six boroughs in London are now consulting on introduce a permitting scheme by the end of 2012 which once complete, would make it the largest permitting scheme in Britain, covering around 13,000 km of road </li>
<li>TfL has now formally submitted its proposal for a targeted and avoidable lane rental scheme in London, which would allow TfL to charge companies according to the time they take up road space for works. The charges would apply to key areas of the major road network and would incentivise companies to work more efficiently and at less disruptive times. Both TfL and the Mayor hope to have the scheme up and running in the Capital during 2012</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The group, the first of its kind in the UK, is made up of senior representatives from City Hall, TfL, London Councils and the six biggest utility companies. It follows on from the Mayor's meeting with the CEOs of the six major utility companies late last";}
        
        


 