


@{ViewBag.Title = "London Underground statement following Olympic pay talks at ACAS";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground statement following Olympic pay talks at ACAS</h1>
        <div class="content-page-press-release">
        21 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following two days of talks on Olympic reward and recognition for Tube staff at the conciliation service ACAS, London Underground (LU) has issued the following statement.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Proposals would see station, maintenance, service control staff and operational managers receive up to &pound;850 subject to attendance, customer satisfaction scores and working flexibly for defined periods in order to deliver a successful Games."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Proposals would see station, maintenance, service control staff and operational managers receive up to &pound;850 subject to attendance, customer satisfaction scores and working flexibly for defined periods in order to deliver a successful Games.
                            
                        </p>
                    </div>
                
            
            
            <p>Howard Collins, LU Chief Operating Officer, said: 'Over the past days we have held in-depth talks with all four Tube unions at ACAS, seeking to give any clarification needed concerning our fair Olympic pay and recognition offer.</p>

<p>'Those proposals would see station, maintenance, service control staff and operational managers receive up to &pound;850 subject to attendance, customer satisfaction scores and working flexibly for defined periods in order to deliver a successful Games. </p>
<p>'Talks have progressed well with three unions - Unite, Aslef and TSSA - and we are optimistic that an agreement can be reached which will fairly reward staff over the London 2012 Games.</p>

<p>'However, late this afternoon, the RMT's leadership demanded payments to all grades of staff regardless of whether they will be asked to work flexibly during the Games and rejected temporary changes to working arrangements which would enable us to achieve a flexible workforce.</p>
<p>'We know our staff want to play their part in delivering a great Games for London, and we want to make sure that they are fairly rewarded for their efforts. </p>

<p>'We will be back at ACAS for further talks tomorrow morning (Thursday) and I urge the RMT to join us to resolve this issue and allow all of us to focus on the exciting challenge of delivering a great Games for London.'</p>
<p>
<hr>
</p>

<p><strong>Notes to editors: </strong></p>
<ul>
<li>A deal which will see train drivers receive a one-off payment in recognition of the need to temporarily change their working conditions, as well as additional shift payments, was agreed with union representatives in September</li>
<li>The agreement with Tube drivers, reached on 12 September 2011, followed six months of discussions with union representatives. In return for agreeing to temporary changes to existing working arrangements during the Games, all train drivers employed by LU on 26 July 2012 will receive a one-off payment of &pound;500. In addition, shifts of a certain duration or which finish after 01:30hrs, will attract extra payments <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Howard Collins, LU Chief Operating Officer, said: 'Over the past days we have held in-depth talks with all four Tube unions at ACAS, seeking to give any clarification needed concerning our fair Olympic pay and recognition offer.'Those proposals would see";}
        
        


 