


@{ViewBag.Title = "Major eastern expansion of Mayor's flagship Barclays Cycle Hire scheme goes live";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major eastern expansion of Mayor's flagship Barclays Cycle Hire scheme goes live</h1>
        <div class="content-page-press-release">
        08 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Barclays Cycle Hire now covers 65km2 of the Capital. Extension adds 2,300 extra bikes and 4,800 extra docking points. More than three hundred jobs created since the launch of the scheme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our wonderful blue bikes have changed the face of London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our wonderful blue bikes have changed the face of London 
                            
                        </p>
                    </div>
                
            
            
            <p>A major expansion of the Mayor's flagship Barclays Cycle Hire scheme opened to the public this morning&nbsp;and Londoners are now able to pick up one of the Mayor's iconic blue bikes from 2,700 new docking points across the east of the Capital. </p>
<p>Less than two years since the launch of the scheme and more than 10 million hires later, Barclays Cycle Hire has expanded by almost a third in size. </p>
<p>Barclays Cycle Hire now covers 65km2 and stretches from Shepherd's Bush in the west of the Capital, through central London and east to the fringes of the Olympic Park. </p>
<p>As well as the eastern expansion an extra 1,500 docking points are being installed in the original central zone and 600 new points have been provided in a spur west to the Westfield London Shopping Centre.</p>
<p>The creation of Barclays Cycle Hire by the Mayor has helped create more than three hundred permanent jobs through employment opportunities and apprenticeship schemes. </p>
<p>The vast majority of the roles are related to the maintenance of new and existing sites and bike maintenance/repairs, ensuring the best possible service is provided to our users.</p>
<p>More than 2,300 new bikes are also being provided as part of the expansion that have been upgraded from the earlier model to feature a new saddle design and redesigned bell. </p>
<p>In total more than 8,000 bikes will now be available from over 570 docking stations and 15,000 docking points. </p>
<p>The Mayor of London, Boris Johnson, said: 'Our wonderful blue bikes have changed the face of London and introduced a new form of public transport that has eased getting around our great city for thousands of Londoners and made the Capital even more attractive to visitors. </p>
<p>'I am delighted to have kept my promise to provide a cycle hire scheme for the people of London and today we have made it even bigger and better than ever before.'</p>
<h2>Heading east</h2>
<p>Today Barclays Cycle Hire has been extended throughout the entire borough of Tower Hamlets, including Canary Wharf, Isle of Dogs, Wapping, Poplar, Stepney Green, Mile End and Bow. </p>
<p>It has also been extended in Hackney to serve north Shoreditch. </p>
<p>An extension has also been completed through part of Kensington &amp; Chelsea from the west of the existing zone to Westfield Shopping Centre in White City. </p>
<p>The western extension will include approximately ten new sites through the Royal Borough of Kensington and Chelsea and Westfield London Shopping Centre.</p>
<p>Barclays Chairman, Marcus Agius, said: 'I am delighted that we are launching the extension of Barclays Cycle Hire today. </p>
<p>'The scheme makes a positive difference to everyday life in London, its people, and the economy. </p>
<p>'Taking it to east London is an exciting development for Barclays as we will have the scheme on the doorstep of our Global Headquarters in Canary Wharf. </p>
<p>'Citizenship is one of our strategic priorities at Barclays and this scheme is a great example of this.'</p>
<p>The Mayor has also asked Transport for London (TfL) to prepare plans for a westward expansion of the cycle hire scheme in 2013 through the boroughs of Wandsworth, Hammersmith &amp; Fulham, Lambeth and Kensington &amp; Chelsea.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'Extending Barclays Cycle Hire to other areas of the Capital will enable more Londoners and visitors than ever before to experience the delights of cycling in London. </p>
<p>'The bikes are affordable, easy to use and a fun way to move around London for both business and leisure journeys.'</p>
<p>Hundreds of residents from across the eastern expansion area have attended community sessions to find out more about the scheme. </p>
<h2>Making cycle easier</h2>
<p>Plus more than thirty community contacts are participating in a pilot project to become Ambassadors to promote Barclays Cycle Hire to their members and colleagues. </p>
<p>Councillor Shahed Ali, Lead Member for the Environment, Tower Hamlets Council, said: 'Barclays Cycle Hire has already proved immensely popular in Tower Hamlets, with close to 45,000 trips starting or ending in the borough during January alone.</p>
<p>'The additional docking stations represent a significant investment in the borough from Tower Hamlets Council. </p>
<p>'The scheme will make cycling even easier and more accessible to residents and help improve the transport links across the borough.</p>
<p>'It's great to see so many people using bikes to get around the borough, but we cannot ignore the safety issues that still exist. </p>
<p>'Tower Hamlets Council will continue to work hard to promote cycling safety to our residents through free cycle training sessions and other initiatives.'</p>
<p>Michael Gutman, Managing Director, Westfield Europe &amp; New Markets, said: 'Barclays Cycle Hire has been a huge success and we are pleased to see the bikes arriving at Westfield, providing yet another travel option to our customers and also further promoting this sustainable mode of transport across the Capital.'</p>
<p>TfL has also reminded cyclists of the cycle hire users' code of conduct, to help people use and enjoy the scheme safely. </p>
<p>The code's tips include:</p>
<ul>
<li>Be careful around lorries, which have numerous blind spots, and never pass them on the left just before, or at, traffic lights</li>
<li>Don't get too close to parked cars&nbsp;</li>
<li>Watch out for other vehicles and pedestrians and give clear hand signals to show your intentions&nbsp;</li>
<li>Make yourself seen at night by wearing reflective or fluorescent clothing&nbsp;</li>
<li>People can also brush up on their cycle safety skills by taking two minutes to watch the <a href="http://www.youtube.com/user/BarclaysCycle ">Barclays Cycle Hire safety film</a></li></ul>
<p><strong>
<hr>
Notes to editors: </strong></p>
<ul>
<li>The creation of an easy-to-use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London&nbsp;</li>
<li>Barclays Cycle Hire now operates across central and eastern London. Docking stations and hire bicycles are available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster, several of the Royal Parks, Tower Hamlets and Canary Wharf</li>
<li>Around 95 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their 24-hour &pound;1, seven-day &pound;5 or annual &pound;45 access fees&nbsp;</li>
<li>Barclays Cycle Hire accepts Visa and Mastercard credit and debit cards and Visa Electron&nbsp;</li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for annual membership. The first 30 minutes of every journey is free. Find out how to become a member of Barclays Cycle Hire and advice on how to use the scheme&nbsp;</li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme</li>
<li>Phase 2 site construction has produced over 150 new stations across the entire zone.&nbsp;This has meant excavating 12,000 square meters of land and installing over 350 tonnes of steel</li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 150 per cent growth in cycle journeys on London's major roads since TfL was created in 2000&nbsp;</li>
<li>TfL-funded adult <a href="http://www.tfl.gov.uk/cycling ">commuter cycle training </a>available from boroughs<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A major expansion of the Mayor's flagship Barclays Cycle Hire scheme opened to the public this morning&nbsp;and Londoners are now able to pick up one of the Mayor's iconic blue bikes from 2,700 new docking points across the east of the Capital. Less than";}
        
        


 