


@{ViewBag.Title = "Mayor announces innovative technology is helping traffic flow more smoothly and cut disruption";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces innovative technology is helping traffic flow more smoothly and cut disruption</h1>
        <div class="content-page-press-release">
        19 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 40 per cent of traffic signals across London now 'self regulate', cutting disruption by up to nearly 20 per cent at upgraded junctions.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I have introduced a range of measures to bear down on this frustration and we are seeing steady improvements."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I have introduced a range of measures to bear down on this frustration and we are seeing steady improvements. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Journey reliability and customer satisfaction on capital's roads increases during 2011 </li>
<li>Transport for London (TfL) to begin trial of innovative pedestrian SCOOT technology after London 2012 Games</li></ul>
<p>The Mayor and Transport for London today announced progress in cutting delays on the Capital's roads thanks to a sophisticated programme of works to make traffic signals more efficient and adaptive to traffic flows.</p>
<p>In line with the Mayor's priority to reduce traffic delays, TfL has been introducing innovative technology known as Split Cycle Offset Optimisation Technique (SCOOT).&nbsp; </p>
<h2>Reliable journeys</h2>
<p>This allows traffic signals to detect vehicles passing along a road and work together to amend their signal timings on a second by second basis to adjust traffic flows accordingly through an area, making journeys more reliable. </p>
<p>Over the last two years, TfL has begun to increase the number of signals using the system from 2,000 to 3,000. </p>
<p>Work has already begun at 861 sites and been fully completed at 514 locations. </p>
<p>It has helped deliver an average 12.7 per cent reduction in delays for vehicles travelling across the network.&nbsp;</p>
<p>At some locations, this increases to almost 20 per cent. </p>
<h2>Reducing delays</h2>
<p>Around 40 per cent of the Capital's 6,000 traffic signals now utilise SCOOT and work continues at a pace to have half of London's traffic signals running with the system by spring 2014. </p>
<p>The Mayor and&nbsp;TfL are focused on delivering a range of continuous improvements to traffic flow. </p>
<p>As part of this, TfL is also reviewing the operation of 1,000 traffic signals every year to ensure that they continue to operate as efficiently as possible. </p>
<p>Since April 2009, TfL has carried out around 2,650 traffic signal reviews and been able to reduce delays for traffic at these locations by almost eight per cent and for pedestrians by almost one per cent. This has been achieved without compromising pedestrian safety in any way. </p>
<h2>Unnecessary disruption</h2>
<p>Boris Johnson, Mayor of London, said: 'Keeping London's roads flowing smoothly is vital not only for the economy but to the blood pressure of drivers, cyclists and pedestrians. </p>
<p>'I have introduced a range of measures to bear down on this frustration&nbsp;and we are seeing steady improvements but the war on unnecessary disruption and delay is not abating, not least as from June this year, utilities will be charged for digging up the busiest roads.'&nbsp; </p>
<p>These changes have been reflected in TfL's latest annual customer satisfaction survey, which show that London road users are now more satisfied with the performance and management of the Transport for London Road Network (TLRN), with satisfaction increasing by three points to 75 out of 100 during 2011. </p>
<p>As well as overall satisfaction improving, customers are more satisfied with the performance of nearly all of the TLRN's 23 individual road corridors. </p>
<h2>Improvements</h2>
<p>The travelling public also cited improvements in the management of roadworks and in the provision of better information about delays and disruption affecting the network.</p>
<p>The improvements to the Capital's traffic signals have also led to journey time reliability on the TLRN, which measures how often a 30-minute road journey would be completed on time, increasing in the period between September and December 2011; up one per cent to 88.1 per cent compared to the same quarter last year.</p>
<p>This means that Londoner's journeys are now not only less disrupted, but as a result of TfL's ongoing work to monitor and manage its road network, are getting more reliable.</p>
<p>As well as the rollout of pedestrian countdown technology to around 200 locations across London from summer 2012, TfL is also preparing to carry out a trial of pedestrian detection technology as part of its ongoing work to further develop a better pedestrian element to the SCOOT technology. </p>
<p>This work will begin after the London 2012 games and will allow TfL to better detect large groups of people at pedestrian crossings and amend traffic signal timings to allow them to quickly move through areas of London. </p>
<h2>Developing a prototype</h2>
<p>TfL will also begin work to see whether SCOOT technology could also be adapted to better detect cyclists and other vulnerable road users on the network to further improve and adapt the system to deliver benefits for London. </p>
<p>While still an aspiration at the moment, TfL is hopeful to have developed a prototype for this new and innovative technology by the end of 2013.</p>
<p>Garrett Emmerson, Chief Operating officer for Surface Transport at TfL, said: 'By investing in cutting edge technology, as well as ensuring that our network is working in the most efficient way possible, London's traffic is now flowing more freely. </p>
<p>'This has helped deliver benefits not only for road users across the capital, but is also helping to reduce harmful emissions associated with queuing traffic.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Download the latest <a href="/corporate/modesoftransport/20351.aspx">London Streets customer satisfaction</a> survey results and performance figures for Quarter 3 (September to December 2011) </li>
<li>Examples of where SCOOT technology has introduced across London recently include: 
<ul type="circle">
<li>Along the A23 in south London, 63 new sites have been enabled to use SCOOT in the last year, meaning that 100 per cent of the A23 now operates using the system, delivering almost 15 per cent reduction in delays during the PM peak </li>
<li>Since SCOOT was installed at Savoy Circus and Gypsy Corner on the A40 Western Avenue, delays to traffic have been reduced by 9.5 per cent in the evening peak at Savoy Circus, and 19.2 per cent in the morning peak at Gypsy Corner. The reliability of journeys along this section has also improved by two per cent, with road users better able to predict when they will arrive at their destination</li></ul></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Journey reliability and customer satisfaction on capital's roads increases during 2011 Transport for London (TfL) to begin trial of innovative pedestrian SCOOT technology after London 2012 GamesThe Mayor and Transport for London today announced progress";}
        
        


 