


@{ViewBag.Title = "Mayor gets green light to levy hefty charges on utilities who dig up London's busiest roads from June 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor gets green light to levy hefty charges on utilities who dig up London's busiest roads from June 2012</h1>
        <div class="content-page-press-release">
        16 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Department for Transport (DfT) confirms London can introduce targeted and avoidable lane rental scheme on Capital's most congested areas.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By introducing a lane rental scheme in London, we can now physically and fiscally encourage roadworks to take place outside the busiest hours, cutting unnecessarily prolonged and disruptive roadworks from our road network."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By introducing a lane rental scheme in London, we can now physically and fiscally encourage roadworks to take place outside the busiest hours, cutting unnecessarily prolonged and disruptive roadworks from our road network.
                            
                        </p>
                    </div>
                
            
            
            <p>Funding raised by scheme will be ploughed back into innovative methods to further reduce disruption associated with roadworks.</p>
<p>London will be the first city in the UK to make utility companies pay for the amount of time they dig up the busiest roads, incentivising them to complete works at the least disruptive times, the Mayor of London Boris Johnson announced today.</p>
<p>The scheme has been successfully lobbied for by the Mayor and has now been formally approved by the&nbsp;DfT to begin on 11 June 2012. </p>
<p>This will allow Transport for London (TfL) to charge utility firms up to &pound;2,500 a day for working in congested areas or at busy times. </p>
<h2>Minimal disruption</h2>
<p>It will cover around 330km (57 per cent) of the TfL road network (known as the red routes in London) which covers areas most susceptible to major disruption from roadworks.</p>
<p>The new scheme will also apply to any TfL works carried out on its road network, further ensuring that works are delivered with minimal disruption.</p>
<p>Furthermore, London's lead means other cities across the UK can now consider similar schemes.</p>
<p>By encouraging utility companies and highway authorities to carry out their work overnight or during off-peak hours, road users - including drivers, cyclists and bus passengers - will benefit from more reliable journey times and less disruption. </p>
<h2>Improved plating</h2>
<p>&nbsp;Any additional revenue raised by the scheme once operating costs have been recovered will be put towards measures that could reduce disruption from roadworks, to be jointly overseen by TfL and the major utility companies. </p>
<p>Specifically, this will be used to research new innovations such as quick curing materials and improved plating technology, which would allow excavations to be temporarily covered and roads to return to normal use more quickly.</p>
<p>Boris Johnson, the Mayor of London, said: 'This is a real victory for all London road users helping us to further tackle the scourge of shoddy and badly managed roadworks. </p>
<p>'Lane rental is a win-win as it will not only help traffic pump smoothly around the vital arteries of our road system, but also give us for the first time the chance to penalise disruptive works where it hurts - in the wallet - using the revenues to fund further innovative ways to keep London's roads moving.' </p>
<h2>Groundbreaking scheme</h2>
<p>Peter Hendy, London's Transport Commissioner, said: 'By introducing a lane rental scheme in London, we can now physically and fiscally encourage roadworks to take place outside the busiest hours, cutting unnecessarily prolonged and disruptive roadworks from our road network. </p>
<p>'By using any surplus raised to discover new and innovative working methods, TfL and the utility companies can further ensure that works take place outside of the charging periods, allowing all to benefit greatly.'</p>
<p>The introduction of this groundbreaking scheme will be the latest weapon in the Mayor's battle against roadworks. </p>
<h2>Red routes</h2>

<p>Already this year, this campaign has led to nearly 4,000 fewer roadworks on TfL's roads between last April and the end of 2011 when compared to the same period in 2010, a fall of 13 per cent.</p>
<p>By the end of this financial year, serious and severe disruption caused by roadworks on London's red routes is expected to be down by almost 40 per cent since permitting was introduced in January 2010. </p>
<p>This was a result of closer working with the boroughs and utility companies, the introduction of the roadworks permitting scheme which has been embraced by every London borough, a reduction in the roadworks cap which restricts the number of works that can be carried out at any one time, and the Report IT system which enables Londoners to name and shame bad practice. </p>
<p>The lane rental scheme will further build on this, with the target of reducing disruption by a further 33 per cent by 2015.</p>
<h2>Quieter times</h2>
<p>Last June, the DfT and TfL launched a joint innovation fund which would research and develop new technology to reduce the disruption caused by roadworks.</p>
<p>The 18-month project, run by the Transport Research Laboratory (TRL), is examining innovative engineering techniques which could see utilities use temporary road surfacing methods such as plating, fast-setting replacement road surfaces or more innovative methods such as core and vac techniques, which allows utility works to be carried out under the road surface without the need to excavate a large area of the road surface. </p>
<p>All these methods would allow both TfL and utility companies to carry out more work at quieter times, meaning that more roads could be re-opened during peak traffic periods; cutting delays and disruption across the Capital.</p>
<p>Metropolitan Police Service Traffic-trained Police Community Support Officers, who patrol the TLRN on a daily basis, will play a key role in monitoring works under the Lane Rental scheme. </p>
<h2>Fines</h2>
<p>More than 270 officers will monitor roadworks to ensure promoters are working during operational hours and take any immediate action required should they spot bad practices by utility companies. </p>
<p>During 2011, more than 15,600 inspections carried out by the team on activities taking place on the TLRN of which more than 1,000 were found to non-compliant with industry standards, leading to more that &pound;56,000 in fines against utility companies.</p>
<p>
<hr>

<p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>Londoners can report disruptive or badly managed roadworks by visiting <a href="http://www.tfl.gov.uk/roadworks">tfl.gov.uk/roadworks</a>, or by using a GPS enabled mobile device to tweet &#64;report_it with the hashtag #roadworks. Enquiries will be sent directly to the highway authority responsible, ensuring that direct and swift action can be taken </li>
<li>Initial findings from TRL on the innovation fund can be found here <a href="http://www.trl.co.uk/reducingcongestionfromhighwayworks/">http://www.trl.co.uk/reducingcongestionfromhighwayworks/</a> </li>
<li>On 21 September 2011, The Mayor of London launched his Roadworks Pledge for London, which states that all roadworks in London should:&nbsp; 
<ul type="circle">
<li>Be tidy and safe with a clutter-free site so it is safe for pedestrians, cyclists and other road users </li>
<li>Always explain what's happening through detailed, clear and consistent signage </li>
<li>Always have activity on site or, if not, explain why (eg concrete is drying) </li>
<li>Take up as little road/pavement space as possible with a compact working area and eliminating the unnecessary use of cones, safety barriers and storage of materials </li>
<li>Help keep London moving by working outside peak hours, re-opening the road to traffic at peak times and, where this is not possible, working 24/7 or extended hours to complete works as quickly as possible. Diversion routes should be clearly signed</li></ul></li>
<li>A total of 27 London boroughs and TfL are now fully signed up to the London Permit Scheme, covering 80 per cent of the Capital's roads. The remaining six boroughs are currently consulting with stakeholders about introducing a permitting scheme, with a look to have all of London's road covered by September 2012. Once complete, the initiative will be the largest permitting scheme in Britain, covering around 13,000 km of road </li>
<li>Between April 2011 and 03 March 2012, TfL has granted 47,105 permits and refused 17,148 permit applications for roadworks on the TfL Road Network </li>
<li>In September 2011, TfL reduced the roadworks 'cap' that it operates, which is the maximum number of roadworks it allows on its roads within a four week period, by a further 10 per cent from 4,170 sets of works to 3,753 sets of works. The cap, which applies to all works on the TLRN was first introduced by TfL in 2010 and reduced the maximum number of roadworks allowed to take place at any one time on its roads by 20 per cent </li>
<li>It is felt that the introduction of a similar cap by the London boroughs on their strategic roads would encourage better coordination between utility companies, and help significantly reduce the amount of disruptive roadworks in London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Funding raised by scheme will be ploughed back into innovative methods to further reduce disruption associated with roadworks.London will be the first city in the UK to make utility companies pay for the amount of time they dig up the busiest roads,";}
        
        


 