


@{ViewBag.Title = "Mercedes-Benz initiative to help London cabbies deliver cleaner air ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mercedes-Benz initiative to help London cabbies deliver cleaner air </h1>
        <div class="content-page-press-release">
        23 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Discount offered to drivers purchasing a Mercedes-Benz Vito taxi.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's cabbies are rightly regarded as the best in the world and I know from my discussions with the trade that they want to play their part in making the capital a clean, green city."</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">TfL's Director of Taxi and Private Hire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London's cabbies are rightly regarded as the best in the world and I know from my discussions with the trade that they want to play their part in making the capital a clean, green city.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Support for drivers of vehicles affected by age limits </li>
<li>&pound;1,500 discount off the purchase price of a Euro 5 low-emission taxi </li></ul>
<p>Transport for London (TfL) today welcomed the announcement by Mercedes-Benz UK that they will provide a significant discount on the purchase price on new Euro V compliant Vito taxis in April 2012.&nbsp; </p>
<p>This is all part of TfL's plans to deliver cleaner air for London.<br>&nbsp;<br>Following discussions between TfL and Mercedes-Benz the new scheme will see cabbies offered a &pound;1,500 discount off the purchase price of a new low-emission Vito Euro 5 taxi in exchange for the driver agreeing to carry Mercedes-Benz advertising for 18 months. </p>
<h2>Clean, green city</h2>
<p>John Mason, TfL's Director of Taxi and Private Hire, said: 'London's cabbies are rightly regarded as the best in the world and I know from my discussions with the trade that they want to play their part in making the capital a clean, green city.&nbsp;<br>&nbsp;<br>'Age limits were introduced at the start of this year and the oldest, most polluting cabs will no longer be licensed.&nbsp;</p>
<p>'We have been working hard with the taxi manufacturers to find ways to help cabbies upgrade to greener vehicles and we are delighted that Mercedes-Benz has responded in this way.'</p>
<p>Road transport is responsible for around 80 per cent of airborne PM10 pollution in central London where air quality is worst, with black cabs contributing 20 per cent of this.&nbsp; </p>
<h2>Making the transition</h2>
<p>To help improve air quality in the capital, from 1 January 2012 no black cab over 15-years-old will be licensed by the Taxi and Private Hire Office.&nbsp; </p>
<p>This will affect around 2,600 black cabs during 2012 and TfL is doing all it can to help cabbies make the transition. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The deal, available to drivers in April will provide an additional &pound;1,500 discount on the purchase price of a new Euro 5 compliant Mercedes-Benz Vito taxi or &pound;1,500 cashback </li>
<li>In return drivers will be required to agree to an exclusive agreement to display some Mercedes-Benz advertising on the taxi for a period of 18 months </li>
<li>For more information on the Mercedes-Benz Vito taxi, please visit: <br><a href="http://rsi-cda.mercedes-benz.com/content/unitedkingdom/retailer-E/kpm_taxis/en/home/index.htm#quickaccess">http://rsi-cda.mercedes-benz.com/content/unitedkingdom/retailer-E/kpm_taxis/en/home/index.htm#quickaccess</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Support for drivers of vehicles affected by age limits &pound;1,500 discount off the purchase price of a Euro 5 low-emission taxi Transport for London (TfL) today welcomed the announcement by Mercedes-Benz UK that they will provide a significant discount";}
        
        


 