


@{ViewBag.Title = "Plans for London 2012 Games transport legacy unveiled";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Plans for London 2012 Games transport legacy unveiled</h1>
        <div class="content-page-press-release">
        19 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First time any host city has produced a comprehensive legacy plan for transport investment, operations and travel behaviour.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have done a huge amount to make sure London's transport network is ready for the Games and we will be continuing that hard work beyond 2012 to ensure Londoners feel the benefit of the investment in transport for many years to come.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>London already benefiting from early Games transport legacy</li></ul>
<p>The Mayor of London and Transport for London (TfL), supported by the six Olympic and Paralympic host boroughs, have today published a joint plan to ensure that the 2012 Games leave a permanent transport legacy to benefit millions of people and support economic development for generations to come.</p>
<p>Londoners are already reaping the benefits of&nbsp;&pound;6.5bn investment on transport improvements, which have delivered improvements to Tube, Docklands Light Railway (DLR), rail and cycling infrastructure.</p>
<p>That includes a 50 per cent increase in DLR capacity, with the line extended to Woolwich and Stratford International, an upgraded Jubilee line with more frequent and reliable services, as well as extra capacity on the Central line. </p>
<h2>Huge opportunity</h2>
<p>But hosting the Games will provide an unprecedented opportunity to learn lessons for the future and help seal the regeneration of east London. </p>
<p>There is a huge opportunity for businesses and organisations to gather valuable information from Games' time activity, such as flexible patterns of staff travel and changes to freight and servicing.</p>
<p>This can help develop permanent solutions to a range of challenges such as using office space more efficiently and helping businesses become more resilient in responding to challenges such as adverse weather. </p>
<p>The report published today stems from a commitment in the Mayor's Transport Strategy, designed to ensure the benefits of the 2012 Games legacy are maximised and has been drawn up in close collaboration with the local boroughs.</p>
<h2>Traffic management techniques</h2>
<p>To maximise these potential benefits, TfL has committed to work with its partners on a wide range of initiatives, including: </p>
<ul>
<li>Working with the boroughs on the East London Sub-Regional Transport Plan, which takes into account the huge growth in jobs and population expected for the area after the Games </li>
<li>Ensuring that there are legacy benefits from the work done before and during Games time to improve travel information and traffic management techniques, as well as more flexible patterns of work, such as working from home </li>
<li>Continuing to use London's rivers for transporting freight and people </li>
<li>Committing to greater promotion of cycling for children - building on the legacy of the Games and the state of the art facilities provided&nbsp; </li></ul>
<p>The report also identifies further potential transport infrastructure improvements necessary to deliver a longer-term economic transformation in the six host boroughs, reversing decades of deprivation and poverty.</p>
<p>Continued investment in transport is seen as one of the measures necessary to reverse this and help regenerate these areas. </p>
<h2>Improvements</h2>
<p>Further expansion of DLR services, improvements to local rail and bus provision, and better walking and cycling routes for local residents are identified as necessary to deliver the full Games legacy.</p>
<p>TfL has committed to monitor specific areas through its annual Travel in London report, such as: </p>
<ul>
<li>Accessibility of education, jobs and services, such as sporting and healthcare facilities, by public transport and by cycling and walking routes and infrastructure </li>
<li>An increase in the number of walking, cycling and public transport journeys </li>
<li>Improved local air quality and reduced noise</li></ul>
<p>The document - 'Leaving a Transport Legacy', the Mayor of London's Olympic and Paralympic Transport Legacy Action Plan is available at <a href="http://www.london.gov.uk/priorities/london-2012/better-transport-networks/creating-transport-legacy">www.london.gov.uk/priorities/london-2012/better-transport-networks/creating-transport-legacy</a></p>
<p>London's Transport Commissioner, Peter Hendy, said: 'The 2012 Games are a big challenge for London's transport network with around 800,000 spectators and 55,000 athletes travelling to and from the Olympic venues on the busiest days.&nbsp; </p>
<p>'We have done a huge amount to make sure London's transport network is ready for the Games and we will be continuing that hard work beyond 2012 to ensure Londoners feel the benefit of the investment in transport for many years to come.' </p>
<h2>Realising potential</h2>
<p>Sir Robin Wales, Chair of the Olympic Host Boroughs Joint Committee, said:&nbsp;'The 2012 Games have already secured a legacy of major transport investment in the Host Boroughs.</p>
<p>'The real legacy of 2012 will be in realising the economic potential of the Host Boroughs and the achievement of convergence. </p>
<p>'This would help ensure that the residents of the Host Boroughs would, in 20 years, enjoy the same life chances as other Londoners.</p>
<p>'Achieving this will require significant additional transport infrastructure. </p>
<h2>Support rapid progress</h2>
<p>'Transport for London's plans are in part derived from independent, academic studies commissioned by the Host Boroughs that demonstrate the vast economic potential.</p>
<p>'The objective of the extensive work between TfL and the Host Boroughs has been to ensure that residents of the Host Boroughs get access to the jobs and services that will be created. </p>
<p>'To do this we must ensure that the investment stimulates further development and opens up new markets.</p>
<p>'The Host Boroughs - London's Growth Boroughs - and their partners are keen to see and support rapid progress by TfL towards the realisation of these plans.'</p>
<p>Olympic and Paralympic transport improvements include:</p>
<ul>
<li>A&nbsp;50 per cent increase in DLR capacity with the line extended to Woolwich and Stratford International </li>
<li>An upgraded Jubilee line with more frequent and reliable services </li>
<li>Extra capacity on the Central line </li>
<li>Refurbished and extended London Overground services on the East London and North London lines </li>
<li>Upgrades to national rail services on the Lea Valley and Great Eastern lines </li>
<li>Upgraded traffic signals and junctions on the Olympic Route Network </li>
<li>King's Cross-St Pancras and Stratford stations essentially rebuilt and expanded, with step-free access and extra capacity </li>
<li>Southfields and Green Park Underground stations are now step-free </li>
<li>Improved cycling and walking routes serving the Olympic Park</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Mayor's Transport Strategy (Proposal 47) included a commitment to prepare a Transport Legacy Action Plan and monitoring programme (in consultation with the boroughs and others) to ensure the benefits of the legacy of the 2012 Games are maximised </li>
<li>London 2012 is aiming for 100 per cent of spectators to get to the Games by public transport, or by walking or cycling </li>
<li>There are more than 12 million public transport journeys in the capital daily.&nbsp;London and the UK are already benefiting from a transport legacy before the Games, delivered by all 2012 transport partners - London Organising Committee of the Olympic and Paralympic Games (LOCOG), Olympic Delivery Authority (ODA), TfL, Network Rail, Highways Agency, the Mayor and DfT - working in partnership, including: 
<ul type="circle">
<li>A total of 50 per cent increase in DLR capacity with line extended to Woolwich and Stratford International </li>
<li>Extra capacity on the Jubilee line with the signalling upgrade now complete and additional trains already operating at peak times, with more early in 2012 </li>
<li>Extra capacity on the Central line </li>
<li>Establishment of the Javelin service between St. Pancras and Stratford International, with train journey times of just seven minutes </li>
<li>Refurbished and extended London Overground services on the East London and North London lines </li>
<li>Upgrades to national rail services on the Lea Valley and Great Eastern lines </li>
<li>Upgraded traffic signals and junctions on the ORN, so traffic runs smoothly </li>
<li>King's Cross St. Pancras and Stratford Regional stations essentially rebuilt and expanded, with step-free access and extra capacity </li>
<li>Southfields (serving Wimbledon) step-free and Green Park is now step-free, a vital accessibility hub </li>
<li>A total of 75km of East London's cycle routes have been enhanced by Transport for London (TfL) through the 2012 Games Walking and Cycling Routes, a scheme conceived by charity Sustrans and funded by the (ODA)</li></ul></li>
<li>Additional capacity will also be provided at Games time, including a later running Tube and DLR service, the Javelin, Park and Ride and direct coach services and additional rail services </li>
<li>A decisive aspect of London's winning bid for the 2012 Games was the transformative effect it would have on the areas in which they are to be held. The six host boroughs have made a commitment to achieving sustainable convergence with the London average in a range of socio-economic indicators through securing, and building on, the legacy of the 2012 Games. As their Olympic Legacy SRF makes plain, the six host boroughs together constitute the greatest cluster of deprivation in England and Wales. On almost every indicator available, the life chances of residents living in the six host boroughs is on average worse than other communities in London. There are significantly lower employment rates, dramatically higher rates of overcrowded housing and lower rates of educational qualifications. Rates of<br>premature death and childhood obesity are also above the London average.&nbsp;The six host boroughs' are committed to achieving a convergence in the next 20 years between the life chances of their residents with those of all Londoners </li>
<li>The Proposal 47 of the Mayor's Transport Strategy, published in May 2010, places a statutory requirement on the Mayor to produce a Transport Legacy Action Plan in partnership with the Host Boroughs (London Boroughs of Barking and Dagenham, Greenwich, Hackney, Newham, Tower Hamlets and Waltham Forest), Transport for London and the Olympic Park Legacy company </li>
<li>TfL annual publication Travel in London Report will monitor the legacy</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London already benefiting from early Games transport legacyThe Mayor of London and Transport for London (TfL), supported by the six Olympic and Paralympic host boroughs, have today published a joint plan to ensure that the 2012 Games leave a permanent";}
        
        


 