


@{ViewBag.Title = "Report on air quality indicates no significant impacts expected during London 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Report on air quality indicates no significant impacts expected during London 2012 Games</h1>
        <div class="content-page-press-release">
        05 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes to road management during 2012 Games likely to have broadly neutral impact on air quality.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The modelling indicates that overall there is expected to be a small net reduction in PM10 and NOx emissions overall for London."</div>
        <div class="quote-footer">
            <div class="quotee-name">Michele Dix</div>
            <div class="quotee-job-title">TfL Director of Planning</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The modelling indicates that overall there is expected to be a small net reduction in PM10 and NOx emissions overall for London. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Overall there are projected to be small reductions in PM10 and NOx emissions within London </li>
<li>Concentrations are projected to see a slight and temporary increase in a handful of areas </li>
<li>Transport for London (TfL) and Olympic Delivery Authority (ODA) finalising proposed mitigation measures </li></ul>
<p>A report on air quality by&nbsp;TfL released today, using modelling by King's College, indicates that there should be a small overall improvement in the Capital's air quality resulting from the traffic management arrangements for the London 2012 Games. </p>
<p>The Mayor and TfL are committed to improving London's air quality.</p>
<h2>Assess the implications</h2>

<p>A number of city-wide and longer-term initiatives have already been introduced in the Capital in this Olympic year to drive down pollution, such as introducing low emission vehicles, using cleaner buses, banning the most polluting taxis and tightening the Low Emission Zone standards.</p>
<p>King's College in conjunction with TfL carried out modelling to assess the implications for air quality of the assumed traffic impacts of the Olympic Route Network (ORN) and its associated measures, including travel demand management which will help reduce traffic levels during the Games period. </p>
<p>London 2012 and TfL recently launched their 'Get Ahead of the Games' campaign, which aims to reduce demand at key road and public transport hot spots at certain times.</p>
<p>The modelling shows there should be a slight net reduction in PM10 and NOx emissions in the capital overall. </p>
<h2>Trials of technology</h2>
<p>However, there may be some areas which could see slight increases in levels of pollution.&nbsp; </p>
<p>Options include the application of dust suppressants along key corridors such as the A12 and A13, retrofitting single deck buses with specialist equipment to reduce NOx emissions and ongoing work to reduce vehicle idling. </p>
<p>TfL has been carrying out trials of the technology retrofitted to single deck buses, initial results have shown a reduction of over 75 per cent in NOx emissions.&nbsp;&nbsp; </p>
<p>The scale of the projected changes in pollution levels is small and the duration of the impacts will be limited to Games time while the ORN is in operation. </p>
<p>It is not anticipated that the impact on air quality will affect the health of Londoners.&nbsp; </p>
<h2>Conservative estimate</h2>
<p>The net impact of the changes is positive. </p>
<p>There are approximately 0.4 square kilometres that are currently above the limit value for NO2 that will fall to levels at or below the limit. </p>
<p>Whereas just 0.05 square kilometres will go from below to above the limit - an eight to one ratio of improvement. </p>
<p>The modelling used was based on the anticipated busiest day of the Games, a conservative estimate of the potential impact of travel demand management and typical August metrological conditions.</p>
<p>TfL has also identified appropriate mitigation measures that would help further minimise the scale of the impacts.&nbsp; </p>
<h2>Appropriate measures</h2>
<p>Michele Dix, TfL Director of Planning, said:&nbsp;'TfL is committed to supporting a great London Games while keeping London moving. </p>
<p>'We commissioned modelling carried out by King's College to assess the air quality impact of traffic management during the Games. </p>
<p>'The modelling indicates that overall there is expected to be a small net reduction in PM10 and NOx emissions overall for London. </p>
<p>'Although some particular locations could see a temporary, but small, increase during Games time. TfL has identified appropriate measures to help further minimise these increases.'</p>
<p>Last year the Mayor and TfL secured funding from the Department for Transport (DfT) for a &pound;5m Clean Air Fund. </p>
<h2>No engine idling</h2>
<p>This has funded a number of targeted measures at key locations across the capital to reduce PM10 and included a green wall at Edgware Road Tube station, the application of dust suppressants, a no engine idling campaign and taxi marshalling. </p>
<p>This programme was previously scheduled to cease in March 2012, but the DfT has agreed to extend the timescale for the implementation of some local measures until autumn, which will help further reduce PM10 concentrations across London.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> </p>
<ul>
<li>The report can be found&nbsp;at <a href="/corporate/about-tfl/publications/1478.aspx">tfl.gov.uk/environmentreport</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Overall there are projected to be small reductions in PM10 and NOx emissions within London Concentrations are projected to see a slight and temporary increase in a handful of areas Transport for London (TfL) and Olympic Delivery Authority (ODA) finalising";}
        
        


 