


@{ViewBag.Title = "Spiderweb reduces theft on London transport by 14 per cent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Spiderweb reduces theft on London transport by 14 per cent</h1>
        <div class="content-page-press-release">
        01 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Theft and pickpocketing on the Capital's transport network have seen a 14 per cent reduction in the past six months since the launch of Project Spiderweb.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's now safer than ever to travel on London's tubes, buses and rail services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It's now safer than ever to travel on London's tubes, buses and rail services
                            
                        </p>
                    </div>
                
            
            
            <p>Spiderweb, a London-wide joint initiative between Transport for London (TfL), the Metropolitan Police Service (MPS) and the British Transport Police (BTP) aims to reduce theft on public transport in the run up to the London 2012 Olympic and Paralympic Games, when the network will be busier than usual. </p>
<p>The operation involves hundreds of officers and other specialist staff from both police forces and TfL working together across all 32 London boroughs to build on seven successive years of crime reduction on the Tube and bus network. </p>
<h2>Reducing theft</h2>
<p>Latest figures show that for the first six months of Project Spiderweb - between July and December 2011- reports of theft across all modes of transport were 14 per cent down, compared to the same period the previous year. There have also been more than 300 arrests for theft and handling offences by the MPS and the BTP during the six month period. </p>
<p>As part of Project Spiderweb police officers have been using a range of tactics to deter criminals from preying on the travelling public, including high-visibility patrols, surveillance, intelligence-led operations, covert policing tactics and engaging with the public to keep their valuables safe.</p>
<p>Intelligence gathered from surveillance and covert investigations has revealed that over the last couple of years much of the profit from this criminality is sent back to the heads of organised crime networks abroad.</p>
<p>Theft accounts for around 50 per cent of all crime on London's buses, Tubes and rail; a substantial proportion of this theft is pick pocketing committed by organised groups who go out on the transport network with the sole intention of stealing. </p>
<h2>Safer travel</h2>
<p>The Mayor of London, Boris Johnson said: 'It's now safer than ever to travel on London's tubes, buses and rail services. </p>
<p>'We've already seen a 14 per cent drop in thefts and pickpocketing in the first six months of Project Spiderweb and hundreds of arrests. </p>
<p>'With the eyes of the world on us this summer, visitors and Londoners alike can be reassured we will continue to do everything we can to bring crime down even further on London's transport network.'<br>&nbsp;<br>Steve Burton, Director of Community Safety, Enforcement and Policing at TfL, said: 'Millions of people from all over the world will descend upon the Capital this summer and the transport network will be busier than usual.&nbsp; </p>
<p>'Any crowded environment is a likely target for pickpockets. As the London 2012 Games approaches we will have visitors from all over the world using public transport and Project Spiderweb is crucial to ensuring that they can travel in a safe and low crime environment. </p>
<p>'We will continue to work in partnership with both the MPS and the BTP to minimise criminal activity on the transport network.' </p>
<p>BTP Deputy Chief Constable Paul Crowther said: 'We want everyone who is coming to London for the Olympics and Paralympics to have a fantastic experience that isn't marred by having their phone or wallet taken while they're travelling on public transport.</p>
<p>'Project Spiderweb is the first ever true partnership to tackle theft and it's clearly paying off. We use intelligence information to analyse crime patterns to make sure our plain-clothes officers are at the right locations and the right times to arrest offenders.</p>
<p>'Our specialist investigators are working with other agencies to follow the money trail and get to the heads of this crime.'</p>
<p>MPS Assistant Commissioner Territorial Policing Simon Byrne said: 'We are determined that London's transport system remains a safe environment at all times but particularly during the Games when hundreds of thousands more passengers are expected to make use of it every day.</p>
<p>'We are working with our partners using the full range of tactics at our disposal to bring offenders to justice so our message is clear if you commit crime on the transport network we will identify you and arrest you.</p>

<h2>Report anything suspicious</h2>
<p>'We've seen some good results so far but the travelling public can help us make the transport system safer still by taking good care of their belongings and reporting anything suspicious immediately.'</p>
<p>As part of Project Spiderweb, the project partners have developed an innovative advertising campaign which outlines some simple steps the travelling public can take to protect their valuables by keeping them out of sight. </p>
<p>'The campaign, which includes posters, leaflets and social media, titled 'Don't give them an inch', involves officers providing crime prevention advice to passengers.'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>For more information on pick pocketing and advice on how to minimise the risk of being a victim of this crime go to the <a href="http://www.btp.police.uk/pickpockets ">British Transport Police's website</a> or&nbsp;TfL's <a href="/gettingaround/19458.aspx">safety and security pages</a>.&nbsp;</p>
<p>
<hr>
<strong>Notes to Editors: </strong>
<p>
<ul>
<li>Between July&nbsp;and December 2011, there were 1542&nbsp;fewer theft offences reported compared to the same period of previous year </li>
<li>Crime on public transport in London is low and reducing further </li>
<li>Crime on London's bus network is at its lowest level for seven years </li>
<li>Latest statistics show that there are just 9.3 crimes per million passenger journeys on London's buses </li>
<li>Crime on the DLR and London Underground was also down - and there are just 9.2 crimes for every million passenger journeys </li>
<li>Overall, there are around 2,000 Police Officers and PCSOs dedicated to the bus network in London - more than ever before </li>
<li>The Mayor of London has funding for an additional 414 warranted officers, who will all be in place by the end of March, 2012 </li>
<li>MPS Safer Transport Command (STC) is primarily funded by TfL and fights crime on buses, tackles illegal taxi touts; and assists with the control of traffic congestion </li>
<li>There are 32 Safer Transport Teams (STTs) covering every borough in the Capital </li>
<li>In 2003, there were 470 BTP officers for London Underground. Over the last few years this has increased to around 700 officers </li>
<li>By the end of 2005, Transport for London fitted all of London's 8,500 buses with fully recording CCTV and there are now as many as 75,000 cameras fitted on the fleet </li>
<li>There are approximately 13,000 CCTV cameras on the Tube network which will rise to more than 15,500 over the next few years as part of the ongoing station modernisation programme</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Spiderweb, a London-wide joint initiative between Transport for London (TfL), the Metropolitan Police Service (MPS) and the British Transport Police (BTP) aims to reduce theft on public transport in the run up to the London 2012 Olympic and Paralympic";}
        
        


 