


@{ViewBag.Title = "'Stop. Think. Live.' - Transport for London urges teenagers not to get  distracted on the roads";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>'Stop. Think. Live.' - Transport for London urges teenagers not to get  distracted on the roads</h1>
        <div class="content-page-press-release">
        15 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has launched its latest teen road safety campaign 'Stop. Think. Live.', which uses a range of powerful messages to remind young teenagers to take care when using the road.
        
    </div>



 <div class="on-this-page">
<p>New posters will run across the capital for the next four weeks displaying striking images to grab teenagers' attention on this important issue.</p>
<p>Powerful messages are being deployed such as 'My friend heard the track. He didn't see the van' to show the consequences of being distracted on the road.</p>
<p>&nbsp;The accompanying image shows a boy lying on the road after being involved in a road incident, clutching an MP3 player. </p>
<p>Other compelling images include a boy lying dead alongside a mobile phone with the warning 'My friend saw the text. He didn't see the car'. </p>
<h2>Online game</h2>
<p>An online game, which can only be played on desktop PCs or laptops, will follow in the coming weeks. It challenges the player to navigate themselves and their friends safely through London's roads. </p>
<p>The game highlights the importance of looking out for more than one person when on the road.&nbsp; </p>
<p>This is the latest in a series of highly commended campaigns aiming to reduce the number of teenagers killed or seriously injured on London roads.</p>
<p>Figures suggest teenagers are heeding safety messages - the 2010 road casualty figures revealed that there had been 14 per cent fewer teenage deaths or serious injuries on the capital's roads with 258 teenagers (aged 13-19) killed or seriously injured, compared with 301 in 2009. </p>
<h2>Encouraging figures</h2>
<p>Overall, the number of teenagers killed or seriously injured has fallen by almost 62 per cent since the campaign started in 2000. </p>
<p>Ben Plowden, Director of Planning, Surface Transport at TfL said: 'Transport for London is committed to reducing the number of teenage road casualties. The new posters address the many distractions teenagers may face while nearby or using the road. </p>
<p>'This is an important part of our ongoing work to save lives, the campaign builds on the success of previous years with the number of casualties falling every year.'</p>
<p>The ideas behind the campaign are a result of in-depth research into teenage behaviour, which has won an award from the Market Research Society. </p>
<p>The work is part of TfL's ongoing commitment to reach young people in ways are relevant to them. </p>
<p>High profile supporters Wretch 32 and Rizzle Kicks kindly donated their time by recording short video clips that remind London's teenagers not to get distracted. These will go onto YouTube next week. 
<hr>
<strong>Notes to editors:</strong> 
<ul>
<li>Images available on request</li>
<li>All road safety ambassadors volunteered their services free of charge </li>
<li>In 2011, Road Safety Ambassadors recorded short clip advising teenagers to 'Look out for their mates'.&nbsp;<a href="http://www.youtube.com/watch?v=3QFMlEcCgA&list=PL59870972429B4825&index=5&feature=plpp_video">See the clip</a> featuring BBC3's drama series 'Being Human', Lenora Crichlow and Russell Tovey</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New posters will run across the capital for the next four weeks displaying striking images to grab teenagers' attention on this important issue.Powerful messages are being deployed such as 'My friend heard the track. He didn't see the van' to show the";}
        
        


 