


@{ViewBag.Title = "TfL encourages Londoners to 'Get Ahead of the Games' this summer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL encourages Londoners to 'Get Ahead of the Games' this summer</h1>
        <div class="content-page-press-release">
        28 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Research reveals that Londoners are aware transport networks will be busier than usual during Games time but seven in eight people are yet to make plans.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By recreating this ad with real-life weightlifters and Londoners, we hope to encourage more people to start making alternative plans for their travel this summer.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Two of Britain's strongest men recreate popular Transport for London (TfL) ad campaign image to raise awareness of the need to plan ahead for travel </li>
<li>With up to three million extra journeys likely on London's public transport network on the busiest days of the Games, TfL and London 2012 are working hard to ensure Londoners are prepared for Games time travel</li></ul>
<p>Research findings out today from TfL show that despite 84 per cent of Londoners being aware that travel will be affected during the London 2012 Games, less than one in eight have actually decided how they may need to change their travel plans during this time.</p>
<p>The findings from the research have prompted TfL to recreate a live version of one of its popular ad creatives, showing weightlifters squeezing out of a busy Tube carriage, in order to encourage the public to use the <a href="http://www.getaheadofthegames.com">http://www.getaheadofthegames.com</a> website and, if necessary, make alternative travel plans ahead of the Games this summer. </p>
<h2>Strongmen ad</h2>
<p>Earlier this week they enlisted the help of Rob Frampton, an England's Strongest Man and British Strongest Man top competitor, and British and international weightlifter Rich Gorvin, to bring to life one of the 'Get Ahead of the Games' adverts at a disused Tube platform in Charing Cross Underground station. </p>
<p>The recreation of the popular weightlifter-themed 'Get Ahead of the Games' video will be available soon at <a href="http://www.youtube.com/user/GAOTG">www.youtube.com/user/GAOTG</a> </p>
<p>Ben Plowden, Director of Planning, TfL Surface Transport, said: 'During this summer's Olympic and Paralympic Games, there will be certain times and places when London's transport systems will be very busy.</p>
<p>'The 'Get Ahead of the Games' campaign is playing a critical role in encouraging the travelling public to plan ahead and ensuring London and the UK keep moving as the nation prepares to celebrate the biggest summer of sporting and cultural events in its history. </p>
<h2>Get ahead</h2>
<p>'By recreating this ad with real-life weightlifters and Londoners, we hope to encourage more people to start making alternative plans for their travel this summer.'</p>
<p>Rob Frampton, Britain's strongest man contender, said: 'I'm really excited about the Games coming to London in the summer and love the "Get ahead of the Games" ad campaign which shows the two animated weightlifters squeezing out of a busy Tube carriage - it made me laugh but also made me think about my own travel arrangements this summer.'</p>
<p>With information on how journeys could be affected, alternative routes and updates on what stations to avoid and when, <a href="http://www.getaheadofthegames.com">http://www.getaheadofthegames.com</a> is the one-stop shop for people travelling in London this summer. </p>
<p>As well as the wide-range of information available through that website and <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>, London's travelling public will also be able to get live travel updates this summer on Twitter, via the &#64;GAOTG handle.</p>
<h2>Special deals</h2>
<p>The 'Get Ahead of the Games' website will also be offering a selection of 'after work' offers from The Sanctuary Spa, Madame Tussauds, Apollo Cinema and London theatres. </p>
<p>During the 2012 Games these companies will offer special deals to encourage people working in Games transport hot spot areas to make the most of what London has to offer and delay their journeys home to outside peak hours.&nbsp;</p>
<p>For more information on how to 'Get ahead of the Games', please visit <a href="http://www.getaheadofthegames.com">http://www.getaheadofthegames.com</a>, and follow live travel updates here <a href="https://twitter.com/#!/GAOTG">https://twitter.com/#!/GAOTG</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Research conducted by Walker Media on behalf of TfL. The results relate to interviews with 796 Londoner residents and were collected between 20 Feb -18 Mar 2012 </li>
<li>At certain times and places, London's road and public transport systems will be very busy during this summer's Olympic and Paralympic Games, which run from 27 July to 12 August and 29 August to 9 September respectively </li>
<li>London 2012 and TfL have been working with businesses for over a year to ensure they have travel plans in place to keep on running and make the most of all the Games have to offer including an estimated &pound;750m of income from visitors to the UK </li>
<li>Earlier this year, the UK Government, Mayor of London, London 2012 and the UK's transport networks launched the new 'Get Ahead of the Games' advertising campaign, website and social media channels launched to communicate directly with the travelling public.&nbsp;'Get Ahead of the Games' explains how, at certain times and in certain locations - the 'hotspots' - London and the UK's road and rail networks will be much busier than usual.&nbsp;But by visiting <a href="http://www.getaheadofthegames.com">http://www.getaheadofthegames.com</a> or following the &#64;GAOTG Twitter channel, people can receive the latest tips, travel information and advice on how to plan ahead and avoid the travel hot spots </li>
<li>While centred on the capital, the London 2012 Games will be a celebration for the nation as a whole, with event venues across the country including Cardiff, Coventry, Eton Dorney, Glasgow, Manchester, Newcastle, and Weymouth and Portland.&nbsp;The 'Get Ahead of the Games' campaign reflects this, raising awareness and offering alternative travel options to those in affected areas across the UK, alongside a specific focus on some of the busiest London hot spots </li>
<li>The campaign spans online, radio, outdoor and national and regional newspapers, urging those in affected areas to plan ahead so they can reduce, reroute, retime or remode their journeys to avoid the hotspots at the busiest times.&nbsp;Split across three phases, London 2012 organisers expect the 'Get Ahead of the Games' adverts to be seen over a billion times by the great British public.&nbsp;The first phase will focus on raising awareness of where and how transport will be affected at Games-time.&nbsp; Phase two will demonstrate the alternative options available to avoid congestion, such as working at different times or locations, teleconferencing rather than travelling to meetings, or alternative modes of transport including walking and cycling where practical.&nbsp;The final phase will encourage people to activate these options at Games-time, ensuring they can 'Get Ahead of the Games'</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two of Britain's strongest men recreate popular Transport for London (TfL) ad campaign image to raise awareness of the need to plan ahead for travel With up to three million extra journeys likely on London's public transport network on the busiest days of";}
        
        


 