


@{ViewBag.Title = "TfL sets out London 2012 Games road event plans";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out London 2012 Games road event plans</h1>
        <div class="content-page-press-release">
        13 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Road closure timings are being published for the first time, along with information on temporary road closures and parking restrictions.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The world's top athletes will be competing on London's streets this summer. We need to ensure their safety, and that of the spectators, and provide the best possible field of play."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL MD Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The world's top athletes will be competing on London's streets this summer. We need to ensure their safety, and that of the spectators, and provide the best possible field of play.
                            
                        </p>
                    </div>
                
            
            
            <p>Residents and businesses along the routes of the London 2012 Games' road cycling, triathlon, marathon and race walking events will, from this week, receive detailed information on how they will be affected and can plan to get ahead of the Games.</p>
<p>The London 2012 Games road events will take place on routes passing through Westminster, City of London, Kensington &amp; Chelsea, Hammersmith &amp; Fulham, Kingston upon Thames, Wandsworth and Richmond upon Thames - as well as Surrey - and, as a result, the local areas will be much busier than usual.</p>
<p>Details of how and when the events will impact on the road network in these areas is being provided through a campaign of letter drops, road shows and publicity, delivered by Transport for London (TfL) in partnership with London 2012 and London boroughs on road event routes.</p>
<p>Road events in London will take place on seven of the 16 days of the Olympic Games and on one day of the Paralympic Games.</p>
<h2>Safety measures</h2>
<p>To ensure the safety of athletes and spectators, road races need to take place on secure roads and closures and parking restrictions will need to be put in place on the days of the competitions.</p>
<p>These will be managed to keep disruption to a minimum and all roads will be opened safely as quickly as possible after the events have finished.</p>
<p>After the events, barriers will need to be removed, road signs, traffic lights and islands reinstated, roads thoroughly cleaned and crowds dispersed before roads can be re-opened safely. </p>
<p>The majority of road events will be held at weekends and some competitions will only take place for a few hours beginning in the morning.</p>
<p>Where possible, roads will be reopened and restrictions lifted by the late afternoon or early evening.</p>
<p>No roads will be closed overnight apart from the roads needed to build the Cycle Time Trial venue at Hampton Court Palace.</p>
<h2>Up-to-date information</h2>
<p>Residents and spectators are urged to plan ahead to avoid disruption to their journeys and can go to <a href="http://www.getaheadofthegames.com/">http://www.getaheadofthegames.com/</a>, where details and advice on routes - for roads and all public transport - will continue to be updated with more information added from now and throughout the Games.</p>
<p>Drivers are advised to avoid the areas on competition days, but if journeys are absolutely necessary they should use all of the information provided by TfL to plan their route carefully and leave additional time for journeys.</p>
<p>Spectators wishing to view the events are advised to travel by public transport, walking or cycling.</p>
<h2>Games family traffic</h2>
<p>Many of the road events will be located on roads that make up part of the Olympic Route Network (ORN), which links key venues to ensure the Games family get to events on time, while also keeping London moving.</p>
<p>While events are taking place on sections of the ORN an alternative route will be used by Games family vehicles. </p>
<p>The ORN used on road event days will have minimal traffic measures in place; longer parking and stopping restrictions will apply when the route is in operation and some parking and loading bays will be suspended.</p>
<p>Along only one section, the Euston Road, City Road and Commercial Street, some bus stops and pedestrian crossings will be suspended, with some banned right turns on event days.</p>
<p>Games family traffic will not have designated Games lanes on this alternative route but will share existing bus lanes along two of the sections of route.</p>
<h2>Welcoming the teams</h2>
<p>Leon Daniels, TfL's MD Surface Transport said: 'The world's top athletes will be competing on London's streets this summer.&nbsp;We need to ensure their safety, and that of the spectators, and provide the best possible field of play.</p>
<p>'We're working closely with London 2012 and boroughs to ensure all affected residents and businesses are informed of where and when roads will be closed or impacted on event days.</p>
<p>'Areas around road events will obviously be busier than usual.&nbsp;Drivers are urged to avoid these travel hotspot areas if at all possible, or if journeys are absolutely essential to plan ahead and allow more time.&nbsp;For the latest travel tips, information and advice, check out <a href="http://www.getaheadofthegames.com/">http://www.getaheadofthegames.com/</a></p>
<p>Paul Deighton, Chief Executive of London 2012 said: 'The road events are a fantastic element of Olympic sports competition, allowing many people to see world class sport in London and surrounding areas.</p>
<p>'For those who live and work in London planning for these events is essential. Working closely with TfL we are informing about road closures in good time, with five months until the Games in this case, to ensure there is ample time to plan.'</p>
<p>
<hr>

<p><strong>Notes to editors:</strong></p>
<p>1.&nbsp;<a href="http://www.tfl.gov.uk/gettingaround/london2012/22487.aspx">Maps of each of the London 2012 Road Event routes</a> <br>2.&nbsp;Some roads will be affected by route testing and rehearsals for the Cycle Time Trial and the Triathlon. On Tuesday 31 July the Cycle Time Trial rehearsal will take place at Hampton Court with rolling road closures between 10.00 and midday. On Thursday 2 August, Hyde Park Corner will be closed between 03.30 and 08.45 for a triathlon rehearsal.<br>3.&nbsp;ORN on Road Event days will be in operation on 28 and 29 July, and 1, 4, 5, 7, 11, 12 August for the Olympics and on 9 September for the Paralympics<br>4.&nbsp;A pdf map of where the ORN on Road Event days will operate, by section and day, is available from TfL press office<br>5.&nbsp;The table below sets out the times when closures will be put in place for Road Event competitions and which sections of the alternative ORN will be used.</p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<th>Date</th>
<th>Day</th>
<th>Event</th>
<th>Timing of road closures</th>
<th>ORN on Road Event Days - sections in use</th></tr>
<tr>
<th>28 July 2012</th>
<td>Day&nbsp;1 (Saturday)</td>
<td>Men's Road Cycling</td>
<td>Closures put in place from between 03.00 and 06.00</td>
<td>1,2,3,4</td></tr>
<tr>
<th>28 July 2012&nbsp;</th>
<td>Day&nbsp;2 (Sunday)</td>
<td>Women's Road Cycling</td>
<td>Closures put in place from between 05.00 and 06.00</td>
<td>1,2,3,4</td></tr>
<tr>
<th>1 August 2012</th>
<td>Day&nbsp;5 (Wednesday)</td>
<td>Cycle Time Trial</td>
<td>Hampton Court Palace venue closure from 2200 on 31 July.<br><br>Other closures put in place from 05.30</td>
<td>N/A<br>Cycle Time Trial being held at Hampton Court, not on ORN</td></tr>
<tr>
<th>4&nbsp;August 2012&nbsp;</th>
<td>Day&nbsp;8 (Saturday)</td>
<td>Women's Triathlon <br><br>Men's 20km Walk</td>
<td>Closures put in place for Triathlon from 03.30 <br><br>Walk event taking place inside St James Park - no additional closures required</td>
<td>1,2,3,4,5</td></tr>
<tr>
<th>5&nbsp;August 2012&nbsp;</th>
<td>Day&nbsp;9 (Sunday)</td>
<td>Women's Marathon</td>
<td>Closures put in place from 03.00</td>
<td>1,2,5,6,7</td></tr>
<tr>
<th>7&nbsp;August 2012&nbsp;</th>
<td>Day 11 (Tuesday)</td>
<td>Men's Triathlon</td>
<td>Closures put in place from 02.00</td>
<td>1,2,3,4,5</td></tr>
<tr>
<th>11&nbsp;August 2012&nbsp;</th>
<td>Day 15 (Saturday)</td>
<td>Men's 50km Walk <br><br>Women's 20km Walk</td>
<td>Taking place inside St James Park - no additional closures</td>
<td>1,2,5,7</td></tr>
<tr>
<th>12 August 2012</th>
<td>Day 16 (Sunday)</td>
<td>Men's Marathon</td>
<td>Closures put in place from 03.00</td>
<td>1,2,5,6,7</td></tr>
<tr>
<th>9&nbsp;September 2012</th>
<td>Day 12 (Sunday)</td>
<td>Paralympic Marathons</td>
<td>To be confirmed</td>
<td>5, 6, 7</td></tr></tbody></table></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Residents and businesses along the routes of the London 2012 Games' road cycling, triathlon, marathon and race walking events will, from this week, receive detailed information on how they will be affected and can plan to get ahead of the Games.The London";}
        
        


 