


@{ViewBag.Title = "UK's leading personal safety charity backs TfL's real-time bus information service ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UK's leading personal safety charity backs TfL's real-time bus information service </h1>
        <div class="content-page-press-release">
        22 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus arrival information at your fingertips for every bus stop in capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This information can improve a person's safety as they will know exactly when their bus will arrive and they won't have to hang about at bus stops for long periods of time."</div>
        <div class="quote-footer">
            <div class="quotee-name">Linda Craig</div>
            <div class="quotee-job-title">Director of Suzy Lamplugh Trust</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This information can improve a person's safety as they will know exactly when their bus will arrive and they won't have to hang about at bus stops for long periods of time.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>At night - stay safe and warm indoors until your bus is due </li>
<li>Other travel information services help you get home safely&nbsp;&nbsp;&nbsp; </li></ul>
<p>Transport for London's (TfL) revolutionary live bus information service will help to keep people safer on the streets of London according to the UK's leading personal safety charity, Suzy Lamplugh Trust.</p>
<p>The service, which was launched in October last year, is used more than a million times every day to access up-to-the minute bus arrival information by people before they travel.<br>&nbsp;<br>And the service is not just proving a hit with Londoners. </p>
<h2>Personal safety</h2>
<p>It has been recognised by Suzy Lamplugh Trust as a great way of helping to keep people safe.&nbsp;</p>
<p>The charity includes information about real time bus information when appropriate in its personal safety courses delivered throughout the capital.&nbsp;</p>
<p>It has also included the service in its 'Staying safe when out and about in London' guide.</p>
<p>Linda Craig, Director of Suzy Lamplugh Trust, said: 'Suzy Lamplugh Trust highly recommends the public make full use of Transport for London's real-time bus information, which can be accessed via mobile phones or online.&nbsp; </p>
<h2>Minimise that wait</h2>
<p>'This information can improve a person's safety as they will know exactly when their bus will arrive and they won't have to hang about at bus stops for long periods of time.'</p>
<p>Leon Daniels, Managing Director Surface Transport, said: 'I am very proud of our user friendly range of travel tools designed to make travelling around London that little bit easier and safer.&nbsp; </p>
<p>'By using <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a> (or m.countdown.tfl.gov.uk ) at home or on the go you can find out when your bus will be arriving, minimise that wait and keep yourself safe.'</p>
<p>The real-time bus arrival information service, which also shows where your nearest bus stop is, is just one of a range of products provided by TfL which enables people to stay safe while on the move.&nbsp; </p>
<p>All are available on the TfL website - <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp; </p>
<h2>Live bus arrival times</h2>
<p>The service can be accessed on a smart phone, on a desktop computer or via text message and is complimented by new improved Countdown signs being introduced at 2,500 bus stops across London.</p>
<p>From a smartphone go to countdown.tfl.gov.uk; enter a postcode, street name or bus stop code (these are clearly displayed at all bus stops or available on the TfL website) into the travel tool; and receive live bus arrival times for the next 30 minutes including bus destinations.</p>
<p>Passengers without a smartphone or access to the Internet can simply text the bus stop code to 87287 to get detailed bus information at a small charge*.</p>
<p>Buses continue to be one of the most convenient and safest ways to travel in London with all 8,500 buses in the TfL fleet fully equipped with CCTV, operating across 700 routes, 117 of these run through the night.&nbsp; </p>
<h2>Licensed minicabs</h2>
<p>With the service available for all 19,000 bus stops throughout the Capital it's never been easier for Londoners to get around.</p>
<p>In addition to bus information, TfL also provides a range of products for cab services available online or via a smartphone or mobile.&nbsp;</p>
<p>Cabwise and TfL's 'Findaride' service give details of local licensed minicab or black cab operators.&nbsp; </p>
<p>The services have proved very popular with over 10,000 requests every month.&nbsp; </p>
<p>For Cabwise just text CAB to 608352 and the service uses GPS to text back the two nearest private hire (minicab) numbers and one taxi (black cab) operator**.&nbsp; </p>
<p>On a smartphone the 'Findaride' is free service to find local minicab and black cabs again using GPS technology it provides a list of local licensed companies.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>*The real time bus information SMS service costs 12p plus the standard network operator's standard SMS charge </li>
<li>**The Cabwise SMS service costs 35p per enquiry plus the network operator's standard SMS charge </li>
<li>Suzy Lamplugh Trust works to raise awareness of the importance of personal safety in order to help people to avoid violence and aggression and live safer, more confident lives </li>
<li>The Trust works alongside government, the police, the educational establishment, public bodies and the business sector to encourage safety wherever people may be at risk - in the home, at work, in public and in schools and colleges, on public transport and when travelling at home or abroad </li>
<li>For more information about the Trust and the work they do, visit <a href="http://www.suzylamplugh.org">www.suzylamplugh.org</a> </li>
<li>The 'Staying Safe When Out and About in London' guide is available at: <a href="http://www.suzylamplugh.org/wpcms/wp-content/uploads/Staying-Safe-When-Out-and-About-in-London.pdf">www.suzylamplugh.org/wpcms/wp-content/uploads/Staying-Safe-When-Out-and-About-in-London.pdf</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At night - stay safe and warm indoors until your bus is due Other travel information services help you get home safely&nbsp;&nbsp;&nbsp; Transport for London's (TfL) revolutionary live bus information service will help to keep people safer on the streets";}
        
        


 