


@{ViewBag.Title = "Victoria Coach Station celebrates its 80th birthday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Coach Station celebrates its 80th birthday</h1>
        <div class="content-page-press-release">
        16 March 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ten million passengers travel to 1,600 destinations across UK and Europe annually.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to a programme of investment to raise the quality of services we offer both passengers and coach operators and to maintain our position as the country's leading coach station."</div>
        <div class="quote-footer">
            <div class="quotee-name">Malcolm Wildridge</div>
            <div class="quotee-job-title">General Manager at Victoria Coach Station</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are committed to a programme of investment to raise the quality of services we offer both passengers and coach operators and to maintain our position as the country's leading coach station.
                            
                        </p>
                    </div>
                
            
            
            <p>Victoria Coach station is celebrating its 80th birthday this month and with more than 10 million passengers passing through its doors in the last year alone, it's still going strong.</p>
<p>The coach station, which operates 24 hours a day, 365 days a&nbsp; year from its prominent position on Buckingham Palace Road, provides cost efficient and convenient coach travel to more than 1,200 destinations in Great Britain and over 400 destinations in Europe, with the furthest direct service being to Kosice in the Slovak Republic.</p>
<p>Malcolm Wildridge, General Manager at Victoria Coach Station, said: 'It really makes me proud that Victoria Coach Station has stood the test of time for 80 years and continues to offer an excellent service for the 10 million passengers who pass through our doors each year.&nbsp; </p>
<h2>Raising the quality</h2>
<p>'We thank our customers for their continued patronage.</p>
<p>'We are committed to a programme of investment to raise the quality of services we offer both passengers and coach operators and to maintain our position as the country's leading coach station.'</p>
<p>During the mid 1920s, following the end of World War I, it was identified that a central coach station was essential to accommodate the rising number of Londoners who wanted to make the most of their leisure time and get away - predominantly to the seaside on the south coast.&nbsp; </p>
<p>Renowned architects Wallis, Gilbert and Partners, who had already designed the Firestone Tyre Factory in Brentford and the Hoover Factory in Perivale, were appointed to design a coach station fit for the Londoners it would serve. </p>
<p>The Victoria Coach Station building was opened in March 1932 and spans over three acres.&nbsp;</p>
<h2>Safety and comfort</h2>
<p>It provided much needed passenger facilities, including a passenger restaurant, as well as improved staff facilities.</p>
<p>Transport for London has continued to invest heavily to improve facilities since taking over the running of the station in 2000.&nbsp;</p>
<p>The station has continued to thrive thanks to safety and comfort developments in modern-day coaches and the introduction of a mobility assistance scheme.</p>
<p>The station has also been recognised for its outstanding customer service standards and was the first organisation in the transport sector to be awarded the prestigious Government's Customer Service Excellence standard.&nbsp;</p>
<p>Held since March 2009, this replaces the former government Charter Mark Scheme which Victoria Coach Station held since 1994. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Regional Transport acquired Victoria Coach Station in 1988 on the recommendation of the Secretary of Transport and ownership was transferred to TfL in 2000 </li>
<li>Victoria Coach Station was built in 1932 and refurbished in 1993 with additional minor refurbishments since then </li>
<li>The station has 21 departure gates, 36 coach bays and 6 arrival bays.&nbsp; It covers 3.3 acres </li>
<li>Inside the coach station there is a&nbsp;Bureaux de Change, travel information points, hotel and taxi booking offices, retail outlets for newspapers and magazines, and several varieties of catering </li>
<li>The coach station was originally managed by London Coastal Coaches Limited, a consortium of coach operators.&nbsp;In 1970, it became a subsidiary of the National Bus Company which was formed by an Act of Parliament to assume control of the majority of Britain's major bus operators, both publicly and privately owned </li>
<li>Most of these companied ran express coach services from the coach station to villages, towns and cities around the country </li>
<li>The Second World War could not interrupt the service totally, despite fuel rationing, with station masters adopting a defiant 'business as usual' stance&nbsp; <br></li></ul>&nbsp;

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Victoria Coach station is celebrating its 80th birthday this month and with more than 10 million passengers passing through its doors in the last year alone, it's still going strong.The coach station, which operates 24 hours a day, 365 days a&nbsp; year";}
        
        


 