


@{ViewBag.Title = "Discussions between Capco and TfL advance to bring forward the Earls Court Masterplan";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Discussions between Capco and TfL advance to bring forward the Earls Court Masterplan</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Discussions between Capco and TfL advance to bring forward the Earls Court Masterplan</h1>
        <div class="content-page-press-release">
        18 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Capital & Counties Properties PLC (Capco) and Transport for London (TfL) have agreed  to pursue proposals to settle heads of terms for a joint venture to enable the development of Earls Court 1 & 2 in line with the Earls Court Masterplan.
        
    </div>



 <div class="on-this-page">
<p>This approach was endorsed by TfL's Finance &amp; Policy Committee which met on 18 July.</p>
<p>TfL owns the freehold to the exhibition centres known as Earls Court 1 &amp; 2, and Capco is the current leaseholder of both sites. </p>
<p>The agreement will enable the two organisations to establish a joint entity which will own a new 999 year lease over the sites, as well as other land owned by Capco. </p>
<p>It is envisaged that ownership of the development will be split 63 per cent to Capco and 37 percent to TfL, which reflects the value created by combining both organisations respective freehold and leasehold interests. </p>
<p>Under the joint venture, Capco will be the exclusive development manager. This will enable a comprehensive approach to be taken for the implementation of Sir Terry Farrell's Masterplan for the wider Earls Court and West Kensington Opportunity Area which was approved by the Mayor of London on 4 July 2013. </p>
<p>Funding for each phase of the development will be sought when it is in a position to be progressed.&nbsp; </p>
<p>Gary Yardley, Investment Director of Capco, commented: 'This is a major step forward for the Earls Court Masterplan. On top of the resolution to grant planning consents, and the agreement we already have in place with LBHF, these proposals would mean that the development of Earls Court can now be progressed. </p>
<p>'We look forward to working with TfL to deliver the substantial benefits to London and the local community, creating much needed new homes and new jobs.' </p>
<p>The Earls Court Masterplan area represents a unique opportunity to regenerate a substantial part of central London, creating 7,500 homes, 12,000 jobs and new health, education, cultural and community facilities as well as 23 acres of green space including the five acre Lost River Park. </p>
<p>It received resolutions to grant planning consent from the London Borough of Hammersmith &amp; Fulham and the Royal Borough of Kensington &amp; Chelsea in 2012. </p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: 'We are pleased to be making progress on a deal for the development of Earls Court 1 &amp; 2 with Capco which will see the creation of much needed jobs and homes for London. </p>
<p>'The revenue generated from the deal will be reinvested back into London's transport network to deliver increased and improved services for our customers.</p>
<p>'It reflects a new approach we are taking with our extensive property portfolio to work with leading developers whilst retaining our interest in our properties. This will ensure that we deliver real long-term value for our fare and taxpayers.'</p>
<p>The agreement announced on 18 July 2013 remains subject to approval by the Boards of Capco and TfL respectively, which is expected to be sought at a later date upon finalisation of the deal. </p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<p><strong>About Capital &amp; Counties Properties PLC (Capco): </strong></p>
<p>Capco is one of the largest investment and development property companies that specialises in central London real estate and is a constituent of the FTSE-250 Index. </p>

<p>Capco holds 2.8 million square feet of assets valued at &pound;1.7bn (as at 31 December 2012) in two landmark London estates: Covent Garden, which has assets valued at &pound;952m, including the historic Market Building and Earls Court &amp; Olympia Group amounting to aggregate property assets of &pound;721m. </p>

<p>The company is listed on the London Stock Exchange and the JSE, Johannesburg.<br><a href="http://www.capitalandcounties.com">www.capitalandcounties.com</a></p>
<p><strong>Transport for London (TfL):</strong></p>
<p>TfL is responsible for 27 million journeys a day. It operates the Tube network, as well as five per cent of London's road network, buses, the DLR, Trams, Barclays Cycle Hire, the Emirates Air Line and River Services. </p>
<p>On 27 March 2013, TfL Board delegated to the Finance and Policy Committee authority to approve any project or transaction over &pound;100m, from 4 July until 24 September 2013. </p>
<p><a href="/assets/downloads/FPC-130718-Part-1-Item09-Earls-Court.pdf">The Finance and Policy Committee paper&nbsp;(PDF 478KB)</a>&nbsp;&nbsp;</p>
<p><br><strong>About the Earls Court Masterplan:</strong></p>
<p>The Earls Court Masterplan is one of the largest regeneration projects in London and was approved in July by the Mayor of London, following the resolutions to grant consent from both the London Borough of Hammersmith &amp; Fulham and the Royal Borough of Kensington &amp; Chelsea in 2012. </p>
<p>The Masterplan covers 77 acres of land, known as the Earls Court &amp; West Kensington Opportunity Area, owned by Capital &amp; Counties Properties PLC (Capco), Transport for London (TfL) and the London Borough of Hammersmith &amp; Fulham (LBHF). </p>
<p>The Earls Court Masterplan is 10.1 million square feet of space and was designed by Sir Terry Farrell who was inspired by the best of London to create 'Four new Urban Villages and a 21st Century High Street.' </p>
<p>The Masterplan will deliver 7,500 new homes, 12,000 new jobs as well as new open green space, health facilities, new schools, community and cultural space and improvements to the transport and infrastructure of the local area. </p>
<p>Earls Court 1 and 2 will be part of the first phase of the Earls Court Opportunity Area with further phases being brought forward which will incorporate the Hammersmith &amp; Fulham estates and LUL's Lillie Bridge Depot if and when it is operationally feasible to do so.</p>
<p><strong>Additional detail:</strong></p>
<p>At present, Capco holds two long-leasehold interests at Earls Court as well as ownership of the Northern Access Road and the air rights over the West London Line. </p>
<p>Earls Court 1 covers an area of 12 acres and is subject to a lease that expires in 2041, and Earls Court 2 covers an area of 8 acres and is subject to a lease that expires in 2115. </p>
<p>TfL has the freehold interest in Earls Court 1 and 2. Under the Heads of Terms, Capco will surrender its existing leases to TfL as well as the air rights over the West London Line and the freehold of the Northern Access Road and TfL will then grant the Joint Venture a new 999 year lease with development rights over the same land.</p>
<p>Capco is assembling the various underlying land interests across the Earls Court Masterplan area which includes freehold ownership of Empress State (shortly to be 100 per cent&nbsp;following exchange of contracts in May to acquire the 50 per cent&nbsp;not already owned); Seagrave Road (50 per cent); the Conditional Land Sale Agreement which provides a long-dated option to purchase the Gibbs Green and West Kensington Estates (100 per cent); and the proposed arrangement above with TfL in relation to the exhibition centres land.&nbsp; <br><a href="http://www.myearlscourt.com">www.myearlscourt.com</a> <br></p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-Discussions between Capco and TfL advance to bring forward the Earls Court Masterplan -->

 
 
        
        
            @{ViewBag.Description = "This approach was endorsed by TfL's Finance &amp; Policy Committee which met on 18 July.TfL owns the freehold to the exhibition centres known as Earls Court 1 &amp; 2, and Capco is the current leaseholder of both sites. The agreement will enable the two";}
        
        


 