


@{ViewBag.Title = "DNA 'Spit Kits' reduce spit attacks on staff by 75 per cent over a decade of fighting antisocial behaviour";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">DNA 'Spit Kits' reduce spit attacks on staff by 75 per cent over a decade of fighting antisocial behaviour</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>DNA 'Spit Kits' reduce spit attacks on staff by 75 per cent over a decade of fighting antisocial behaviour</h1>
        <div class="content-page-press-release">
        24 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New figures from London Underground's workplace violence unit show that ten years of using DNA spit kits to identify perpetrators of spit attacks on Tube staff has contributed to a reduction in such behaviour by 75 per cent.
        
    </div>



 <div class="on-this-page">
<p>The kits were first introduced on London Underground (LU) Zone 1 stations in the summer of 2003 as part of a programme to tackle violent and antisocial behaviour towards staff. </p>
<p>Following this successful pilot the kits were distributed to all LU stations in October 2003, and they have helped to track down and convict more than 400 offenders during the past decade.</p><strong>Forensic evidence</strong> 
<p>
<p>The use of the kits to collect forensic evidence, coupled with publicity about successful convictions at court, has helped to reduce the average number of reported incidences per period to just three. </p>
<p>This is down from an average of 12 cases per period when the kits were first introduced.&nbsp;Prior to their introduction the chances of detection were virtually zero unless a suspect was apprehended at the scene of a crime.</p>
<p><strong>Convictions</strong></p>
<p>Not only have the kits themselves led to many successful convictions, they have also raised the profile of DNA and other evidence that may be left by a perpetrator of anti-social behaviour at the scene of a crime.&nbsp; </p>
<p>In recent years, DNA evidence has been lifted from items such as cigarettes, plastic cups and yogurt pots. One offender, who violently assaulted a member of staff, was caught through fingerprints left on a fruit pot discarded at the scene. Following a successful prosecution in 2012, he received 50 hours of community service and was ordered to pay his victim compensation and to pay prosecution costs.</p>
<p>Since 2008, Transport for London&nbsp;has provided kits to all drivers on the London bus network, with the Metropolitan Police Service's Transport Operational Command unit setting up a workplace violence unit to investigate workplace violence against bus drivers across London. </p>
<p>The kits have also been rolled out to staff on the Docklands Light Railway, London Overground and London Tramlink and at Victoria Coach Station, to help further ensure that any attacks against staff are fully investigated and the perpetrators brought to justice.</p>
<p><strong>DNA testing</strong></p>
<p>Aidan Harris, Manager of London Underground's Workplace Violence Unit said: 'What people might not realise is the length of time that DNA evidence remains active. It can come from saliva on clothing or on the floor, or even from a tissue or drinks can. </p>
<p>'Years ago we wouldn't have had the opportunity to track offenders down. Thanks to these kits we are now able, through DNA evidence, to effectively track down perpetrators of these vile incidents and help bring them to justice'</p>
<p>Detective Inspector John Justice, British Transport Police said: 'Since their introduction, spit kits have been instrumental in assisting in the identification of offenders who have committed assaults against members of LU staff.</p>
<p>'From 1 April 2012 - 31 March 2013, 91% of all spit kit submissions resulted in a DNA profile being obtained. 73% of all spit kit submissions resulted in the DNA identification of an offender. </p>
<p>'Where the offender has left the scene prior to police arrival, retrieval of the offender's saliva has been essential in detecting the offender and putting that person before the court. Anyone who spits at a member of staff or any other person on London's public transport system, is running an extremely high risk of being caught.'</p>
<p>
<hr>

<p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-DNA 'Spit Kits' reduce spit attacks on staff by 75 per cent over a decade of fighting antisocial behaviour -->

 
 
        
        
            @{ViewBag.Description = "The kits were first introduced on London Underground (LU) Zone 1 stations in the summer of 2003 as part of a programme to tackle violent and antisocial behaviour towards staff. Following this successful pilot the kits were distributed to all LU stations";}
        
        


 