


@{ViewBag.Title = "Green light for Crossrail station at Woolwich";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Green light for Crossrail station at Woolwich</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Green light for Crossrail station at Woolwich</h1>
        <div class="content-page-press-release">
        25 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding contributions confirmed with Berkeley Homes and Royal Borough of Greenwich.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am thrilled that this deal has been signed and that local people can look forward to being able to take advantage of a world class twelve train an hour service, which will provide rapid links directly to Canary Wharf, the City and West End."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am thrilled that this deal has been signed and that local people can look forward to being able to take advantage of a world class twelve train an hour service, which will provide rapid links directly to Canary Wharf, the City and West End.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New station will open when Crossrail services commence in&nbsp; 2018</li></ul>
<p>Transport for London (TfL) and the Department for Transport (DfT), sponsors of Crossrail, have today confirmed that Crossrail services will call at Woolwich following the conclusion of a funding agreement for the completion of the station. </p>
<p>The sponsors have given Crossrail Limited the go ahead to begin the procurement process for the station fit out which will mean the station can open, alongside the rest of the central section of the Crossrail route, in December 2018. </p>
<p>The new station at Woolwich will support the regeneration of this part of London improving connectivity and access to job opportunities. </p>
<h2>Reached a deal</h2>
<p>Work on the station box was completed by Berkeley Homes four months ahead of schedule in March this year when it was handed over to Crossrail Limited. </p>
<p>A deal has now been reached to fund the remaining works required to fit out the station with contributions totalling &pound;54m being provided by Berkeley Homes, the Royal Borough of Greenwich (via a GLA grant and local developer contributions), and TfL. </p>
<p>Any further funds required to make the station fully operational will be provided by Crossrail Limited from its existing budget. </p>
<p>A Crossrail station at Woolwich was not within the original scope of the project. </p>
<h2>Funding package</h2>
<p>However, during the passage of the Crossrail Bill, an agreement was reached for Berkeley Homes to construct the station box.</p>
<p>This agreement was confirmed in February 2011. </p>
<p>Since then TfL and DfT have been in discussions with Berkeley Homes and the Royal Borough of Greenwich to develop an additional funding package for the fit out of the station so that it is ready for trains to serve the station when they start operating at the end of 2018. </p>
<p>The new station will improve transport connectivity, providing a direct route to Canary Wharf, central London and beyond. </p>
<p>It will support sustainable economic development and population growth by increasing capacity and reducing congestion on the transport network. </p>
<h2>World-class trains</h2>
<p>The Mayor of London, Boris Johnson, said: 'I am thrilled that this deal has been signed and that local people can look forward to being able to take advantage of a world-class twelve train an hour service, which will provide rapid links directly to Canary Wharf, the City and West End. It is a massive win for Woolwich and offers enormous potential for local regeneration.'</p>
<p>Crossrail Minister Stephen Hammond MP said: 'This is great news for the people of Woolwich and the Royal Borough of Greenwich. A Crossrail station will provide significant opportunities for regeneration in the area, supporting jobs and growth and dramatically improving connectivity for people travelling between Woolwich and Canary Wharf, the City and the West End.'</p>
<p>Mike Brown MVO, Managing Director of London Underground and Rail, said: 'This is a positive step forward and we are pleased work can now progress on the station which will open when the rest of the route through central London starts operating at the end of 2018 providing better connectivity with journeys times of just eight minutes to Canary Wharf and 15 minutes to Bond Street.'</p>
<p>Councillor Chris Roberts, Leader of the Royal Borough of Greenwich, said 'The Royal Borough of Greenwich has worked for several years to ensure the Crossrail project includes a station at Woolwich. </p>
<h2>Emerging job markets</h2>
<p>'I am delighted that we have finally put the arrangements in place, at no cost to our local council tax payers.</p>
<p>'I cannot overstate what a huge difference this will mean for the regeneration of Woolwich and what it will do to cement the regeneration of the area. </p>
<p>'It will unlock huge potential, secure better access to existing and emerging job markets for local residents and will stimulate inward investment in the town. </p>
<p>'I am grateful to all those who worked with us to make sure this deal was secured.'</p>
<p>John Anderson, Executive Director of Berkeley Homes, said: 'We have always been wholly committed to a Crossrail station within our flagship Royal Arsenal Riverside development and this is a vital step forward in the Crossrail project.&nbsp; </p>
<h2>Improved journey times</h2>
<p>'This announcement is welcome news, not just for Woolwich, but for the whole of south east London.</p>
<p>'Thousands of residents and businesses will benefit from significantly improved journey times, enhancing the opportunities and quality of life for many by increasing access to employment and transforming social mobility for local people. </p>
<p>'The significance of this important milestone for Woolwich cannot be overstated and we are proud to play an integral part in the area's regeneration.'</p>
<p>An OJEU notice will be published this week.</p>
<p>An invitation to tender is expected to be issued in late 2013 and work starting in late 2014 ready for the station to be operational at the end of 2018. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The final cost of the station fit out will only be known once Crossrail Limited has completed the procurement process </li>
<li>The Royal Borough of Greenwich contribution will be made up through local developer contributions and a grant from the GLA </li>
<li>The construction of the station box was built at no additional cost to the taxpayer above the budgeted cost of the Crossrail project </li>
<li>The new station at Woolwich will mean shorter journey times to some key destinations (see the table below) </li>
<li>The Crossrail route will serve 38 stations and run 118 km (72 miles) from Maidenhead and Heathrow in the west, through new twin-bore 21km (13 miles) long tunnels below central London to Shenfield and Abbey Wood in the east </li>
<li>The Crossrail project is jointly sponsored by the DfT and TfL </li>
<li>Royal Arsenal Riverside by Berkeley Homes </li>
<li>Royal Arsenal Riverside in Woolwich is one of the UK's largest and most prestigious regeneration sites and its transformation by Berkeley is a &pound;1.2bn project which is acting as a catalyst for wider regeneration </li>
<li>For more information, visit: <a href="http://www.royalarsenalriverside.co.uk">http://www.royalarsenalriverside.co.uk</a> <br></li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Woolwich to:</td>
<td>&nbsp;Crossrail journey time:</td>
<td>&nbsp;Time saving on current journey</td></tr>
<tr>
<td>&nbsp;Canary Wharf</td>
<td>&nbsp;8 minutes</td>
<td>&nbsp;11 minutes</td></tr>
<tr>
<td>&nbsp;Bond Street</td>
<td>&nbsp;21 minutes</td>
<td>&nbsp;15 minutes</td></tr>
<tr>
<td>&nbsp;Heathrow</td>
<td>&nbsp;47 minutes</td>
<td>&nbsp;38 minutes</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-Green light for Crossrail station at Woolwich -->

 
 
        
        
            @{ViewBag.Description = "New station will open when Crossrail services commence in&nbsp; 2018Transport for London (TfL) and the Department for Transport (DfT), sponsors of Crossrail, have today confirmed that Crossrail services will call at Woolwich following the conclusion of a";}
        
        


 