


@{ViewBag.Title = "Mayor's Roads Task Force sets out bold new vision for London's 21st century streets and roads";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor's Roads Task Force sets out bold new vision for London's 21st century streets and roads</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's Roads Task Force sets out bold new vision for London's 21st century streets and roads</h1>
        <div class="content-page-press-release">
        10 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release is published by Transport for London on behalf of the Roads Task Force.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With road congestion in London costing the UK economy &pound;4bn a year, we need a radical new plan to keep London moving, including new road links and tunnels."</div>
        <div class="quote-footer">
            <div class="quotee-name">David Leam</div>
            <div class="quotee-job-title">Infrastructure Director at London First</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With road congestion in London costing the UK economy &pound;4bn a year, we need a radical new plan to keep London moving, including new road links and tunnels.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Vision to improve performance of road network and enhance public space, to support jobs, new homes and a more 'liveable' city </li>
<li>New road tunnels could create better surface space and conditions for walking, cycling and urban realm </li>
<li>Deliveries retimed outside peak hours alongside well managed access for freight to support businesses, cut congestion and improve safety</li></ul>
<p>The Mayor's Roads Task Force (RTF) today (10 July) set out a bold new vision for the future of London's roads and streets, to ensure the Capital can cope with major population growth, support jobs and thousands of new homes, while remaining one of the most attractive, vibrant, accessible and competitive world cities.</p>
<p>Every Londoner, business and visitor is affected by what happens on the city's streets and roads.&nbsp;80 per cent of all trips made by people and 90 per cent of all goods moved in London every day are on roads.&nbsp; </p>
<p>Streets also account for 80 per cent&nbsp;of London's public spaces. With London's population set to rise by a further 1.7 million to around 10 million by 2031, the demands on London's roads and streets from all users is only set to grow.</p>
<h4>Major challenge</h4>
<h4>&nbsp;</h4>
<p>Over the past year, the RTF has studied the challenges facing London's roads and the best examples of street management and urban design across the globe.&nbsp; </p>
<p>It recognises that major improvements have been delivered in recent years, but calls on London to be bolder and embrace innovative solutions in future, at both the local and strategic, city-wide level.</p>
<p>Increasingly, successful world cities are being measured on the environmental and design quality of their public space.&nbsp; </p>
<p>The RTF calls for major investment to support not just the efficient and reliable movement of people and goods, but high quality roads, public spaces and revitalised high streets to improve the liveability of the capital and ensure it remains attractive and competitive among world cities.</p>
<p>The RTF's bold new approach includes:</p>
<ul>
<li>A world class public realm and re-imagined iconic streets and places, for example London Bridge, Oxford Street, Tottenham Court Road and King's Cross and in high streets, new developments and quarters across the Capital </li>
<li>Roofing over arterial roads to create new surface space, reconnecting severed communities, while providing for strategically important freight and business traffic </li>
<li>Changing the way goods and services are delivered, for example shifting HGVs and freight out of peak hours as seen during the London 2012 Games and switching deliveries to vans, bikes or powered two wheelers </li>
<li>Embracing 'next generation' travel demand, to encourage a greater shift to more sustainable modes such as walking, cycling and powered two wheelers </li>
<li>Efficient road links and tackling junction 'pinch points', which will support businesses, including tradesmen and small businesses reliant on vans, as well as access to suppliers and markets </li>
<li>Even greater use of intelligent systems and technology, to reduce delays at traffic signals, smooth traffic flows and provide road users with the best possible real-time information to help plan journeys </li>
<li>Enhanced road links and connectivity including new river crossings, to support new developments and unlock thousands of new homes </li>
<li>Smarter charging for the use of road space, including tolling for new infrastructure </li>
<li>New capacity for sustainable modes, including bridges for walking and cycling and more dedicated lanes </li>
<li>More area-wide 20mph zones, to improve liveability and safety </li>
<li>High levels of accessibility across transport modes, including recognising the role of the car particularly in outer London </li>
<li>Good quality parking, for cars, bikes, Blue Badge holders and powered two wheelers </li>
<li>Village-style streets in new developments, with good access for buses, walking, cycling and freight and 'car-lite' development.</li></ul>
<p>The RTF also called for studies to investigate the potential for tolled road tunnels to replace surface capacity that could be used to improve the public realm and public transport and to encourage more walking and cycling journeys, while also enabling a more efficient and reliable strategic road network.</p>
<h4>Long-term investment needed</h4>
<h4>&nbsp;</h4>
<p>It is estimated delivery of the vision will require substantial, long-term investment of at least &pound;30bn over the next 20 years, delivered through Transport for London (TfL), boroughs, central government, developers and other stakeholders working collaboratively.&nbsp; </p>
<p>This is a comparable level of investment to that being made by other world cities and in London's vital Tube and rail networks, which must be maintained.</p>
<p>The RTF exhorted the Mayor to adopt the vision and build a coalition of support to secure the means necessary to deliver it, unlocking development and growth, access to jobs and homes and ensure London's roads, streets and urban realm is fit for the 21st century.</p>
<p>Mayor of London, Boris Johnson said: 'I welcome the Roads Task Force report and the bold approach it proposes for London's 21st century roads and streets.&nbsp; </p>
<p>'It is in tune with my 2020 Vision, our plans on cycling and for investment in London's roads and streets.</p>
<p>'For this great city to retain its global pre-eminence, it is essential we continue to invest and have the courage and vision to develop and drive forward innovative solutions.&nbsp; </p>
<p>'This is a fantastic contribution and I look forward to working with partners, including those represented on the RTF, in taking many of these ideas forward.'</p>
<h4>Ambitious vision</h4>
<h4>&nbsp;</h4>
<p>David Quarmby, Chairman of the RAC Foundation and a RTF member said: 'This report is a remarkably successful attempt to deal head-on with the massive and conflicting demands for space on London's roads and streets.&nbsp; </p>
<p>'Its ambitious vision to keep London's traffic moving while improving the quality of our public spaces for living, working and shopping, and promoting greater use of sustainable modes of travel will require political determination and substantial investment, comparable to that already committed for London's public transport.&nbsp; </p>
<p>'London's road users - whether in cars, buses, vans, lorries, on bicycles, motorbikes and those who walk - should settle for nothing less.'</p>
<p>David Leam, Infrastructure Director at London First, and a RTF member said: 'On rail, London is planning for future growth with bold projects like Crossrail 2. </p>
<p>'We now need to be similarly visionary for London's roads. With road congestion in London costing the UK economy &pound;4bn a year, we need a radical new plan to keep London moving, including new road links and tunnels. </p>
<p>'Only in this way can we create the world class public spaces and revitalised high streets that will ensure London remains a globally competitive and attractive city.'</p>
<h4>All Londoners will benefit </h4>
<h4>&nbsp;</h4>
<p>Dr Alice Maynard, founder of Future Inclusion and a RTF member said: 'The changes proposed by the Roads Task Force will have a profound impact and have the potential to improve the lives of all Londoners.&nbsp; </p>
<p>'The proposals on governance, in particular, will ensure that needs of all Londoners are addressed, as we invest and deliver improvements to our roads, streets and public spaces at the local and city-wide level.'</p>
<p>Iain Simmons, Chair of the London Technical Advisors Group (LoTAG) and a RTF member said: 'This report and the vision that it sets out provides a wonderful opportunity for the boroughs and the City of London to work with the Mayor and Transport for London to shape, articulate and deliver world class streets throughout London. </p>
<p>'The boroughs are fully aware of the living and moving needs of their local communities. This report, with its ten recommendations, not only identifies what needs to be done but also identifies how improving the governance and processes can play an important part in delivering change. </p>
<p>'For the boroughs, the publication of this report is the start of a new way of working together towards a shared vision.'</p>
<p>The RTF was set up by the Mayor of London, Boris Johnson in July 2012 to tackle the challenges facing London's roads and streets. It is an independent body that has brought together a wide range of different interests and expertise.&nbsp; </p>
<h4>Vital asset </h4>
<p>What unites the RTF is the belief that London's roads and streets are a vital asset to the city that demand a long-term strategy and commitment to major investment.</p>
<p>While spending on rail-based transport is often seen as 'good' or 'green', investment in roads is often viewed as 'bad' or 'unsustainable'. The RTF contends the reality is that quality streets and roads are vital for all users, including emergency vehicles, business, freight, buses, taxis, pedestrians, cyclists and powered two wheelers, as well as car drivers for whom there often isn't an alternative, particularly in Outer London.&nbsp; </p>
<p>Streets are also where we live, our shopping and leisure destinations and constitute a major part of our urban realm.</p>
<p>The RTF's vision therefore focuses on three core aims:</p>
<ul>
<li>To enable people and vehicles to move more efficiently on London's streets and roads </li>
<li>To transform the environment for cycling, walking and public transport </li>
<li>To improve the public realm and provide better and safer places for all the activities that take place on the city's streets, and provide an enhanced quality of life</li></ul>
<p>TfL is responsible for London's strategic road network, which covers around five per cent of London's road network but carries around a third of traffic.&nbsp; </p>
<p>London's boroughs are responsible for 95 per cent, or the vast majority, of the capital's roads and streets, including the High Roads, Local Streets and Town Squares at the heart of local communities and economies.&nbsp; </p>
<h4>Location specific </h4>
<h4>&nbsp;</h4>
<p>To help TfL, London's boroughs and partners deliver its aims, the RTF proposes a new Strategic Framework to inform operational, policy and investment decisions.&nbsp; </p>
<p>The framework includes a set of nine 'street-types', representing the variety of roles that streets and roads play in a well-functioning and successful city.&nbsp; </p>
<p>It recognises that priorities differ depending on the location and use of a road or street and that trade-offs between the impact on different road users are sometimes inevitable.</p>
<p>To assist the delivery of schemes on the ground, the RTF proposes a 'Toolbox' of options, including improvements to infrastructure, use of intelligent systems and technology, managing demand and relocated or enhanced capacity.</p>
<p>The RTF recognises that the delivery of local schemes must be considered within the context of the overall, strategic management and operation of London's road network, to ensure it remains reliable and capable of supporting the efficient movement of people and goods as London's population continues to grow.</p>
<p>Furthermore, the RTF recommends that TfL and all partners involved in the planning and management of London's road and street network ensure they have a culture, governance and resources fit for the purpose of delivering the RTF vision.&nbsp; </p>
<p>Governance arrangements must monitor and ensure that new schemes, improvements and enhanced capacity meet the high standards of inclusivity and accessibility proposed by the RTF.</p>
<p>TfL's Managing Director, Planning Michele Dix said: 'The RTF have researched what other world cities are doing to improve their road networks and urban realm, to remain attractive and competitive.&nbsp; </p>
<p>'Their bold new vision underlines the need for major and sustained investment in London's road network in future.</p>
<p>'It recognises the need for high quality public spaces and to balance improvements at the local level with that to keep London moving, functioning and able to support major population growth.&nbsp; </p>
<p>'We will now look very carefully at the RTF's proposals and work with key stakeholders as we continue to invest in and improve the Capital's roads and urban realm.'</p>
<p>TfL also today published its response to the RTF Report, 'Delivering the vision for London's streets and roads: TfL's response to the Roads Task Force', setting out how it intends to respond and take forward schemes and improvements to London's roads and streets in partnership with boroughs, developers and others.</p>
<p>
<hr>

<p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>The full Roads Task Force report, 'The vision and direction for London's streets and roads', an Executive Summary and TfL's report, 'Delivering the vision for London's streets and roads: TfL's response to the Roads Task Force', is available to <a href="http://www.tfl.gov.uk/roadstaskforce">download</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-Mayor's Roads Task Force sets out bold new vision for London's 21st century streets and roads -->

 
 
        
        
            @{ViewBag.Description = "Vision to improve performance of road network and enhance public space, to support jobs, new homes and a more 'liveable' city New road tunnels could create better surface space and conditions for walking, cycling and urban realm Deliveries retimed outside";}
        
        


 