


@{ViewBag.Title = "One Way at Highbury & Islington Tube station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">One Way at Highbury & Islington Tube station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>One Way at Highbury & Islington Tube station</h1>
        <div class="content-page-press-release">
        11 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To keep the station open and minimise disruption escalators are being refurbished one at a time.
        
    </div>



 <div class="on-this-page">
<ul>
<li>First escalator will be completed by Saturday and then work starts on second</li>
<li>Engineers working round the clock to complete work as soon as possible - over two months earlier than originally scheduled</li></ul>
<p>Essential escalator work is well underway at Highbury &amp; Islington Tube station and the first escalator will be completed by Saturday 13 July, with work then starting on the other escalator.</p>
<p>While this vital work is carried out passengers are only able to access the Victoria line and the National Rail platforms from the ticket hall by stairs until mid-October. </p>
<p>This is so that each escalator can be refurbished one at a time, so there is always an escalator running in the 'up' direction, in order to keep the station open and minimise disruption.</p>
<p>When work starts on the other escalator on Saturday the entrance and exit subways, leading to and from the Victoria line and National Rail platforms, will need to be reversed to safely manage customer flows. </p>
<p>To keep everyone moving a one-way system will operate in the ticket hall during the morning and evening peaks. </p>
<p>Customers using London Overground services will have a separate entrance from those using Victoria line and National Rail services. </p>
<p>Anyone changing between those lines will touch out of the ticket gates, exit the station and re-enter, touching back in on the gates in the other entrance. </p>
<p>TfL has ensured special measures are in place so that Oyster pay as you go users are not overcharged as they change trains.</p>
<p>At peak times the station gets very busy, so customers may have to queue to use the stairs to go down to the platforms, because this will take much longer than using an escalator, which can take up to 6,000 people an hour.&nbsp;&nbsp; </p>
<p>To avoid queues, customers are advised to use other stations to start their journeys; Holloway Road, Finsbury Park and Angel are nearby and are served by frequent bus services, as are step-free stations Caledonian Road and King's Cross St. Pancras.</p>
<p>To avoid changing for the Tube at Highbury &amp; Islington, London Overground passengers are advised to take the Jubilee line from West Hampstead, or the Bakerloo line from Willesden Junction.</p>
<p>Rob Smith, General Manager of the Victoria line said: 'My team and I recognise that at peak hours there is a queue to get to the deep-level platforms and this means longer journey times. </p>
<p>'However, the escalators were at the end of their life and we are committed to refurbishing them in the shortest possible time to minimise the impact on customers' journeys. I thank all customers for their continued patience and understanding as we get this vital job completed.</p>
<p>'In order to keep the station open, the 45-year-old escalators are being refurbished one at a time, so there is always an escalator to go upwards. </p>
<p>'The first escalator will be completed on time by next Saturday and then work will start on the other escalator. </p>
<p>'To avoid queues for the stairs going down during the rush hours, passengers can start their journeys at nearby Holloway Road, Finsbury Park and Angel, which have frequent bus services, as have step-free stations Caledonian Road and King's Cross St. Pancras.'</p>
<p>Escalators on the Underground are longer and heavier than those found elsewhere. </p>
<p>Refurbishing escalators on the Tube is a lengthy process because they have been made bespoke to fit their particular location and owing to their heavy usage TfL has to replace all the moving parts. </p>
<p>Large components, weighing up to eight tonnes, are removed from the cramped space beneath the escalator overnight when the station is closed.</p>
<p>Ancillary services, including fire safety systems, ventilation, lighting and water cooling all have to be overhauled as part of the work. </p>
<p>Once the new equipment is ready it is brought into the station, again overnight.&nbsp; </p>
<p>The parts are assembled, installed and tested. To ensure that disruption is kept to an absolute minimum we are working around the clock to complete all the work over two months earlier than previously scheduled.</p>
<p>The programme of work is being carried out during the summer to reduce impact on the football fixtures and other events at the nearby Emirates Stadium.</p>
<p>Leaflets are available at the station showing where customers can catch buses to nearby stations.</p>
<p>
<hr>
</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-One Way at Highbury & Islington Tube station -->

 
 
        
        
            @{ViewBag.Description = "First escalator will be completed by Saturday and then work starts on secondEngineers working round the clock to complete work as soon as possible - over two months earlier than originally scheduledEssential escalator work is well underway at Highbury";}
        
        


 