


@{ViewBag.Title = "Road closures this weekend for the London Triathlon";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Road closures this weekend for the London Triathlon</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Road closures this weekend for the London Triathlon</h1>
        <div class="content-page-press-release">
        24 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The world's biggest annual triathlon will take place on closed roads in the ExCeL area on Saturday 27 July and in central and east London on Sunday 28 July.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It will be a great spectacle, and is another example of how London is now the go-to destination for sporting and cultural events."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will be a great spectacle, and is another example of how London is now the go-to destination for sporting and cultural events.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Road users advised to avoid driving near the route of the triathlon if possible </li>
<li>If driving is your only option, please travel at a different time if possible or allow more time for your journey </li>
<li>To plan your travel and avoid delays to your journeys this weekend, check the road closures and find alternative travel information at <a href="http://www.tfl.gov.uk/londontriathlon">tfl.gov.uk/londontriathlon</a><br>&nbsp;</li></ul>
<p>Transport for London (TfL) is advising road users, including bus passengers, to check if their journeys in central and east London this weekend will be affected by the road closures in place for the London Triathlon, and to plan ahead.<br>&nbsp;<br>The event, which is the largest annual triathlon in the world, will take place on roads closed to traffic in the area around ExCeL, in the London Borough of Newham, on Saturday 27 July. </p>
<p>On Sunday 28 July, the competitors will race on a longer course which starts at ExCeL, moves through the docklands and along the Embankment, passes the Tower of London and Somerset House, and extends to Westminster before returning to the ExCeL arena to finish. <br>&nbsp;<br>TfL's key travel advice for this weekend is: <br>&nbsp;<br><strong>On Saturday 27 and Sunday 28 July</strong>, avoid driving near the route of the London Triathlon in central and east London, in particular:</p>
<ul>
<li>The Tidal Basin Road, Lower Lee Crossing and Royal Albert Way (although access to City Airport will be maintained at all times) </li>
<li>The A13 between the Newham Way junction with the A406 and the Blackwall Tunnel, which, although open, is likely to experience severe delays during the weekend&nbsp;&nbsp;</li></ul>
<p><strong>On Sunday 28 July</strong> there will be significant road closures in central and east London including:</p>
<ul>
<li>Southwark Bridge and Tower Bridge will be closed to through traffic, although there will be access from south of the river for local residents </li>
<li>Victoria Embankment, Upper Thames Street, Lower Thames Street and Byward Street to Tower Hill will be closed from 05:00 to 12:00 </li>
<li>The Highway, Limehouse Link Tunnel, Aspen Way and East India Dock tunnel will be closed from 05:00 to early evening</li></ul>
<p>The Tube, Docklands Light Railway and rail services will be the best ways to get around the area.</p>
<p>If driving is your only option, please allow more time for your journey or travel at a different time if possible.</p>
<p>Buses in the area will be on diversion or will terminate earlier than usual to avoid road closures.</p>
<p>Taxi (black cab) and private hire services will be operating normally subject to road closures. </p>
<p>Taxi ranks along the triathlon route will be suspended. Information about booking a taxi or private hire vehicle is available at <a href="http://www.tfl.gov.uk/tfl/gettingaround/taxiprivatehire">www.tfl.gov.uk/tfl/gettingaround/taxiprivatehire</a><br>&nbsp;<br>Leon Daniels, TfL's Managing Director of Surface Transport, said:&nbsp;'This weekend our city hosts the world's biggest annual triathlon. </p>
<p>'It will be a great spectacle, and is another example of how London is now the go-to destination for sporting and cultural events.<br>&nbsp;<br>'It will bring excitement and crowds to parts of central and east London, and I would encourage London's drivers and bus passengers to plan their journeys ahead and avoid driving near the route if possible so that they can avoid any road disruption and make the most of the weekend.'<br>&nbsp;<br>There are a number of events taking place this summer that will affect how London's road networks operate.&nbsp;</p>
<p>Every event will be different but will involve temporary road closures and parking restrictions, so people are urged to check their travel options.&nbsp;</p>
<p>Other key events include:</p>
<p><strong>Saturday 3 and Sunday 4 August<br></strong>Prudential RideLondon - <a href="http://www.tfl.gov.uk/prudentialridelondon">tfl.gov.uk/prudentialridelondon</a> </p>
<p><strong>Wednesday 11 to Sunday 15 September</strong><br>ITU World Triathlon Grand Final - <a href="http://www.london.triathlon.org">www.london.triathlon.org</a> </p>
<p><strong>Sunday 22 September<br></strong>Tour of Britain Final Stage - <a href="http://www.thetour.co.uk">www.thetour.co.uk</a> <br>&nbsp;<br>
<hr>
<strong>&nbsp;<br>Notes to editors:</strong> 
<p>
<ul>
<li>The race will run on roads fully closed to traffic. Streets on and near the race route will not be open to traffic for most of the day and there will be additional parking restrictions in place. Plan ahead for your travel for the day at <a href="http://www.tfl.gov.uk/LondonTriathlon">tfl.gov.uk/LondonTriathlon</a>, and try to avoid driving in the affected areas unless absolutely necessary </li>
<li>If&nbsp;travelling to these events or for other journeys to London, people are advised to visit <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp; to plan their route and for updates on service changes that may affect their journeys.&nbsp;Useful tools include: 
<ul type="circle">
<li>Journey Planner - to plan your journey using public transport, cycling or walking, including accessibility options, visit <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a> </li>
<li>24-hour travel information - call 0343 222 1234* for travel information and journey planning enquiries </li>
<li>National Rail - for train services into and out of Stratford or other rail stations, including the Southeastern High Speed 1 service to St. Pancras International, visit <a href="http://www.nationalrail.co.uk">http://www.nationalrail.co.uk</a> or call 08457 48 49 50 </li>
<li>Live bus information - for arrival times, text your bus stop code to 87287 or visit tfl.gov.uk from your mobile </li>
<li>Travel alerts - check live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (for Tube, Docklands Light Railway and London Overground) </li>
<li>Social Media - get up to the minute information on services through TfL's social media channels <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a></li></ul></li></ul>
<p>*Service and Network charges apply. See <a href="http://www.tfl.gov.uk/terms">tfl.gov.uk/terms</a> for details.</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-Road closures this weekend for the London Triathlon -->

 
 
        
        
            @{ViewBag.Description = "Road users advised to avoid driving near the route of the triathlon if possible If driving is your only option, please travel at a different time if possible or allow more time for your journey To plan your travel and avoid delays to your journeys this";}
        
        


 